{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AzureBridgeAdminClient",
    "description" : "AzureBridge Admin Client.",
    "version" : "2016-01-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts" : {
      "get" : {
        "tags" : [ "DownloadedProducts" ],
        "description" : "Get a list of downloaded products.",
        "operationId" : "DownloadedProducts_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "activationName",
          "in" : "path",
          "description" : "Name of the activation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DownloadedProductResourcesPage"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts/{productName}" : {
      "get" : {
        "tags" : [ "DownloadedProducts" ],
        "description" : "Get a downloaded product.",
        "operationId" : "DownloadedProducts_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "activationName",
          "in" : "path",
          "description" : "Name of the activation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "description" : "URI of the resource.",
                      "readOnly" : true
                    },
                    "location" : {
                      "type" : "string",
                      "description" : "Location of the resource",
                      "readOnly" : true
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "Name of the resource.",
                      "readOnly" : true
                    },
                    "tags" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "string"
                      },
                      "description" : "List of key value pairs.",
                      "readOnly" : true
                    },
                    "type" : {
                      "type" : "string",
                      "description" : "Type of resource.",
                      "readOnly" : true
                    }
                  },
                  "description" : "Downloaded product resource."
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "put" : {
        "tags" : [ "DownloadedProducts" ],
        "description" : "Creates a downloaded product.",
        "operationId" : "DownloadedProducts_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "activationName",
          "in" : "path",
          "description" : "Name of the activation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-01"
          }
        } ],
        "requestBody" : {
          "description" : "Downloaded product resource definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "properties" : {
                  "properties" : {
                    "type" : "object",
                    "properties" : {
                      "galleryPackageBlobSasUri" : {
                        "type" : "string",
                        "description" : "The URI to the .azpkg file that provides information required for showing product in the gallery.",
                        "readOnly" : true
                      },
                      "legalTerms" : {
                        "type" : "string",
                        "description" : "Legal terms for the product."
                      },
                      "links" : {
                        "type" : "array",
                        "description" : "List of product links.",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "displayName" : {
                              "type" : "string",
                              "description" : "Displayed name of product."
                            },
                            "uri" : {
                              "type" : "string",
                              "description" : "URI to product."
                            }
                          },
                          "description" : "Link to a product."
                        }
                      },
                      "privacyPolicy" : {
                        "type" : "string",
                        "description" : "Privacy policy of the product."
                      },
                      "productDetailsProperties" : {
                        "type" : "object",
                        "description" : "Product information."
                      },
                      "provisioningState" : {
                        "type" : "string",
                        "description" : "The provisioning state of the resource.",
                        "enum" : [ "Stopped", "Starting", "Running", "Stopping", "Succeeded", "Downloading" ]
                      },
                      "vmExtensionType" : {
                        "type" : "string",
                        "description" : "Extension type of the VM."
                      }
                    },
                    "description" : "Properties for aggregate usage."
                  }
                },
                "description" : "Downloaded product resource.",
                "allOf" : [ {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "description" : "URI of the resource.",
                      "readOnly" : true
                    },
                    "location" : {
                      "type" : "string",
                      "description" : "Location of the resource",
                      "readOnly" : true
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "Name of the resource.",
                      "readOnly" : true
                    },
                    "tags" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "string"
                      },
                      "description" : "List of key value pairs.",
                      "readOnly" : true
                    },
                    "type" : {
                      "type" : "string",
                      "description" : "Type of resource.",
                      "readOnly" : true
                    }
                  },
                  "description" : "Base Resource Object"
                } ]
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "description" : "URI of the resource.",
                      "readOnly" : true
                    },
                    "location" : {
                      "type" : "string",
                      "description" : "Location of the resource",
                      "readOnly" : true
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "Name of the resource.",
                      "readOnly" : true
                    },
                    "tags" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "string"
                      },
                      "description" : "List of key value pairs.",
                      "readOnly" : true
                    },
                    "type" : {
                      "type" : "string",
                      "description" : "Type of resource.",
                      "readOnly" : true
                    }
                  },
                  "description" : "Downloaded product resource."
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "description" : "URI of the resource.",
                      "readOnly" : true
                    },
                    "location" : {
                      "type" : "string",
                      "description" : "Location of the resource",
                      "readOnly" : true
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "Name of the resource.",
                      "readOnly" : true
                    },
                    "tags" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "string"
                      },
                      "description" : "List of key value pairs.",
                      "readOnly" : true
                    },
                    "type" : {
                      "type" : "string",
                      "description" : "Type of resource.",
                      "readOnly" : true
                    }
                  },
                  "description" : "Downloaded product resource."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "DownloadedProducts" ],
        "description" : "Delete a downloaded product.",
        "operationId" : "DownloadedProducts_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "activationName",
          "in" : "path",
          "description" : "Name of the activation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "description" : "URI of the resource.",
                      "readOnly" : true
                    },
                    "location" : {
                      "type" : "string",
                      "description" : "Location of the resource",
                      "readOnly" : true
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "Name of the resource.",
                      "readOnly" : true
                    },
                    "tags" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "string"
                      },
                      "description" : "List of key value pairs.",
                      "readOnly" : true
                    },
                    "type" : {
                      "type" : "string",
                      "description" : "Type of resource.",
                      "readOnly" : true
                    }
                  },
                  "description" : "Downloaded product resource."
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "description" : "URI of the resource.",
                      "readOnly" : true
                    },
                    "location" : {
                      "type" : "string",
                      "description" : "Location of the resource",
                      "readOnly" : true
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "Name of the resource.",
                      "readOnly" : true
                    },
                    "tags" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "string"
                      },
                      "description" : "List of key value pairs.",
                      "readOnly" : true
                    },
                    "type" : {
                      "type" : "string",
                      "description" : "Type of resource.",
                      "readOnly" : true
                    }
                  },
                  "description" : "Downloaded product resource."
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "DownloadedProductResourcesPage" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to next page."
          },
          "value" : {
            "type" : "array",
            "description" : "Array of downloaded products.",
            "items" : {
              "type" : "object",
              "properties" : {
                "properties" : {
                  "type" : "object",
                  "properties" : {
                    "galleryPackageBlobSasUri" : {
                      "type" : "string",
                      "description" : "The URI to the .azpkg file that provides information required for showing product in the gallery.",
                      "readOnly" : true
                    },
                    "legalTerms" : {
                      "type" : "string",
                      "description" : "Legal terms for the product."
                    },
                    "links" : {
                      "type" : "array",
                      "description" : "List of product links.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "displayName" : {
                            "type" : "string",
                            "description" : "Displayed name of product."
                          },
                          "uri" : {
                            "type" : "string",
                            "description" : "URI to product."
                          }
                        },
                        "description" : "Link to a product."
                      }
                    },
                    "privacyPolicy" : {
                      "type" : "string",
                      "description" : "Privacy policy of the product."
                    },
                    "productDetailsProperties" : {
                      "type" : "object",
                      "description" : "Product information."
                    },
                    "provisioningState" : {
                      "type" : "string",
                      "description" : "The provisioning state of the resource.",
                      "enum" : [ "Stopped", "Starting", "Running", "Stopping", "Succeeded", "Downloading" ]
                    },
                    "vmExtensionType" : {
                      "type" : "string",
                      "description" : "Extension type of the VM."
                    }
                  },
                  "description" : "Properties for aggregate usage."
                }
              },
              "description" : "Downloaded product resource."
            }
          }
        },
        "description" : "Holds an array of downloaded products and the URI to the next page."
      }
    },
    "requestBodies" : {
      "DownloadedProductParameter" : {
        "description" : "Downloaded product resource definition.",
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "properties" : {
                  "type" : "object",
                  "properties" : {
                    "galleryPackageBlobSasUri" : {
                      "type" : "string",
                      "description" : "The URI to the .azpkg file that provides information required for showing product in the gallery.",
                      "readOnly" : true
                    },
                    "legalTerms" : {
                      "type" : "string",
                      "description" : "Legal terms for the product."
                    },
                    "links" : {
                      "type" : "array",
                      "description" : "List of product links.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "displayName" : {
                            "type" : "string",
                            "description" : "Displayed name of product."
                          },
                          "uri" : {
                            "type" : "string",
                            "description" : "URI to product."
                          }
                        },
                        "description" : "Link to a product."
                      }
                    },
                    "privacyPolicy" : {
                      "type" : "string",
                      "description" : "Privacy policy of the product."
                    },
                    "productDetailsProperties" : {
                      "type" : "object",
                      "description" : "Product information."
                    },
                    "provisioningState" : {
                      "type" : "string",
                      "description" : "The provisioning state of the resource.",
                      "enum" : [ "Stopped", "Starting", "Running", "Stopping", "Succeeded", "Downloading" ]
                    },
                    "vmExtensionType" : {
                      "type" : "string",
                      "description" : "Extension type of the VM."
                    }
                  },
                  "description" : "Properties for aggregate usage."
                }
              },
              "description" : "Downloaded product resource.",
              "allOf" : [ {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "URI of the resource.",
                    "readOnly" : true
                  },
                  "location" : {
                    "type" : "string",
                    "description" : "Location of the resource",
                    "readOnly" : true
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "Name of the resource.",
                    "readOnly" : true
                  },
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "List of key value pairs.",
                    "readOnly" : true
                  },
                  "type" : {
                    "type" : "string",
                    "description" : "Type of resource.",
                    "readOnly" : true
                  }
                },
                "description" : "Base Resource Object"
              } ]
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}