{"openapi":"3.0.1","info":{"title":"BlueprintClient","description":"Azure Blueprints Client provides access to blueprint definitions, assignments, and artifacts, and related blueprint operations.","version":"2018-11-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/{scope}/providers/Microsoft.Blueprint/blueprints":{"get":{"tags":["Blueprint"],"description":"List blueprint definitions.","operationId":"Blueprints_List","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- retrieved list of blueprint definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlueprintList"}}}}}}},"/{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}":{"get":{"tags":["Blueprint"],"description":"Get a blueprint definition.","operationId":"Blueprints_Get","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- blueprint definition retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Blueprint"}}}}}},"put":{"tags":["Blueprint"],"description":"Create or update a blueprint definition.","operationId":"Blueprints_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Blueprint definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Blueprint"}}},"required":true},"responses":{"201":{"description":"Created -- blueprint definition saved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Blueprint"}}}}}},"delete":{"tags":["Blueprint"],"description":"Delete a blueprint definition.","operationId":"Blueprints_Delete","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- blueprint definition deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Blueprint"}}}},"204":{"description":"No Content"}}}},"/{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts":{"get":{"tags":["Artifact"],"description":"List artifacts for a given blueprint definition.","operationId":"Artifacts_List","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- blueprint artifacts retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactList"}}}}}}},"/{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts/{artifactName}":{"get":{"tags":["Artifact"],"description":"Get a blueprint artifact.","operationId":"Artifacts_Get","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}},{"name":"artifactName","in":"path","description":"Name of the blueprint artifact.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- blueprint artifact retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Artifact"}}}}}},"put":{"tags":["Artifact"],"description":"Create or update blueprint artifact.","operationId":"Artifacts_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}},{"name":"artifactName","in":"path","description":"Name of the blueprint artifact.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Blueprint artifact to create or update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Artifact"}}},"required":true},"responses":{"201":{"description":"Created -- blueprint artifact created/updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Artifact"}}}}}},"delete":{"tags":["Artifact"],"description":"Delete a blueprint artifact.","operationId":"Artifacts_Delete","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}},{"name":"artifactName","in":"path","description":"Name of the blueprint artifact.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- blueprint artifact deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Artifact"}}}},"204":{"description":"No Content"}}}},"/{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions":{"get":{"tags":["PublishedBlueprint"],"description":"List published versions of given blueprint definition.","operationId":"PublishedBlueprints_List","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- all published versions of blueprint definition retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishedBlueprintList"}}}}}}},"/{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}":{"get":{"tags":["PublishedBlueprint"],"description":"Get a published version of a blueprint definition.","operationId":"PublishedBlueprints_Get","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","description":"Version of the published blueprint definition.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- published blueprint definition retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishedBlueprint"}}}}}},"put":{"tags":["PublishedBlueprint"],"description":"Publish a new version of the blueprint definition with the latest artifacts. Published blueprint definitions are immutable.","operationId":"PublishedBlueprints_Create","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","description":"Version of the published blueprint definition.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Published Blueprint to create or update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishedBlueprint"}}},"required":false},"responses":{"201":{"description":"Created -- blueprint definition published.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishedBlueprint"}}}}}},"delete":{"tags":["PublishedBlueprint"],"description":"Delete a published version of a blueprint definition.","operationId":"PublishedBlueprints_Delete","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","description":"Version of the published blueprint definition.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- published version of blueprint definition deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishedBlueprint"}}}},"204":{"description":"No Content"}}}},"/{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts":{"get":{"tags":["PublishedArtifact"],"description":"List artifacts for a version of a published blueprint definition.","operationId":"PublishedArtifacts_List","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","description":"Version of the published blueprint definition.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- artifacts of a version of published blueprint definition retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactList"}}}}}}},"/{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts/{artifactName}":{"get":{"tags":["PublishedArtifact"],"description":"Get an artifact for a published blueprint definition.","operationId":"PublishedArtifacts_Get","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}},{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","description":"Version of the published blueprint definition.","required":true,"schema":{"type":"string"}},{"name":"artifactName","in":"path","description":"Name of the blueprint artifact.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- artifact of published blueprint definition retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Artifact"}}}}}}}},"components":{"schemas":{"Artifact":{"properties":{"kind":{"type":"string","description":"Specifies the kind of blueprint artifact.","enum":["template","roleAssignment","policyAssignment"]}},"description":"Represents a blueprint artifact.","allOf":[{"$ref":"#/components/schemas/AzureResourceBase"}]},"ArtifactList":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to the next page of results.","readOnly":true},"value":{"type":"array","description":"List of blueprint artifacts.","items":{"$ref":"#/components/schemas/Artifact"}}},"description":"List of blueprint artifacts."},"ArtifactPropertiesBase":{"type":"object","properties":{"dependsOn":{"type":"array","description":"Artifacts which need to be deployed before the specified artifact.","items":{"type":"string","description":"ID of peer artifact."}}},"description":"Common properties shared by different artifacts."},"AzureResourceBase":{"type":"object","properties":{"id":{"type":"string","description":"String Id used to locate any resource on Azure.","readOnly":true},"name":{"type":"string","description":"Name of this resource.","readOnly":true},"type":{"type":"string","description":"Type of this resource.","readOnly":true}},"description":"Common properties for all Azure resources."},"Blueprint":{"properties":{"properties":{"$ref":"#/components/schemas/BlueprintProperties"}},"description":"Represents a Blueprint definition.","allOf":[{"$ref":"#/components/schemas/AzureResourceBase"}]},"BlueprintList":{"title":"BlueprintList","type":"object","properties":{"nextLink":{"type":"string","description":"Link to the next page of results.","readOnly":true},"value":{"type":"array","description":"List of blueprint definitions.","items":{"$ref":"#/components/schemas/Blueprint"}}},"description":"List of blueprint definitions."},"BlueprintProperties":{"properties":{"layout":{"type":"object","description":"Layout view of the blueprint definition for UI reference."},"versions":{"type":"object","description":"Published versions of this blueprint definition."}},"description":"Schema for blueprint definition properties.","allOf":[{"$ref":"#/components/schemas/SharedBlueprintProperties"}]},"BlueprintResourcePropertiesBase":{"type":"object","properties":{"description":{"maxLength":500,"type":"string","description":"Multi-line explain this resource."},"displayName":{"maxLength":256,"type":"string","description":"One-liner string explain this resource."}},"description":"Shared properties between all blueprint resources."},"BlueprintResourceStatusBase":{"type":"object","properties":{"lastModified":{"type":"string","description":"Last modified time of this blueprint definition.","format":"date-time","readOnly":true},"timeCreated":{"type":"string","description":"Creation time of this blueprint definition.","format":"date-time","readOnly":true}},"description":"Shared status properties between all blueprint resources."},"BlueprintStatus":{"description":"The status of the blueprint. This field is readonly.","allOf":[{"$ref":"#/components/schemas/BlueprintResourceStatusBase"}]},"ParameterDefinition":{"required":["type"],"type":"object","properties":{"allowedValues":{"type":"array","description":"Array of allowed values for this parameter.","items":{"type":"object","description":"Allowed value."}},"defaultValue":{"type":"object","description":"Default Value for this parameter."},"metadata":{"$ref":"#/components/schemas/ParameterDefinitionMetadata"},"type":{"type":"string","description":"Allowed data types for Resource Manager template parameters.","enum":["string","array","bool","int","object","secureObject","secureString"]}},"description":"Represent a parameter with constrains and metadata."},"ParameterDefinitionCollection":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ParameterDefinition"},"description":"A dictionary hold parameter name and its metadata."},"ParameterDefinitionMetadata":{"type":"object","properties":{"description":{"maxLength":500,"type":"string","description":"Description of this parameter/resourceGroup."},"displayName":{"maxLength":256,"type":"string","description":"DisplayName of this parameter/resourceGroup."},"strongType":{"maxLength":64,"type":"string","description":"StrongType for UI to render rich experience during blueprint assignment. Supported strong types are resourceType, principalId and location."}},"description":"User-friendly properties for this parameter."},"ParameterValue":{"type":"object","properties":{"reference":{"$ref":"#/components/schemas/SecretValueReference"},"value":{"type":"object","description":"Parameter value as value type."}},"description":"Value for the specified parameter. Can be either 'value' or 'reference' but not both."},"ParameterValueCollection":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ParameterValue"},"description":"A dictionary for parameters and their corresponding values."},"PolicyAssignmentArtifact":{"properties":{"properties":{"$ref":"#/components/schemas/PolicyAssignmentArtifactProperties"}},"description":"Blueprint artifact that applies a Policy assignment.","allOf":[{"$ref":"#/components/schemas/Artifact"}]},"PolicyAssignmentArtifactProperties":{"properties":{"parameters":{"$ref":"#/components/schemas/ParameterValueCollection"},"policyDefinitionId":{"type":"string","description":"Azure resource ID of the policy definition."},"resourceGroup":{"type":"string","description":"Name of the resource group placeholder to which the policy will be assigned."}},"description":"Properties of a Policy assignment blueprint artifact.","allOf":[{"$ref":"#/components/schemas/BlueprintResourcePropertiesBase"},{"$ref":"#/components/schemas/ArtifactPropertiesBase"}]},"PublishedBlueprint":{"properties":{"properties":{"$ref":"#/components/schemas/PublishedBlueprintProperties"}},"description":"Represents a published blueprint.","allOf":[{"$ref":"#/components/schemas/AzureResourceBase"}]},"PublishedBlueprintList":{"title":"BlueprintList","type":"object","properties":{"nextLink":{"type":"string","description":"Link to the next page of results.","readOnly":true},"value":{"type":"array","description":"List of published blueprint definitions.","items":{"$ref":"#/components/schemas/PublishedBlueprint"}}},"description":"List of published blueprint definitions."},"PublishedBlueprintProperties":{"properties":{"blueprintName":{"type":"string","description":"Name of the published blueprint definition."},"changeNotes":{"maxLength":500,"type":"string","description":"Version-specific change notes."}},"description":"Schema for published blueprint definition properties.","allOf":[{"$ref":"#/components/schemas/SharedBlueprintProperties"}]},"ResourceGroupDefinition":{"type":"object","properties":{"dependsOn":{"type":"array","description":"Artifacts which need to be deployed before this resource group.","items":{"type":"string","description":"Name of peer artifact."}},"location":{"maxLength":90,"type":"string","description":"Location of this resourceGroup. Leave empty if the resource group location will be specified during the blueprint assignment."},"metadata":{"$ref":"#/components/schemas/ParameterDefinitionMetadata"},"name":{"maxLength":90,"minLength":1,"type":"string","description":"Name of this resourceGroup. Leave empty if the resource group name will be specified during the blueprint assignment."},"tags":{"$ref":"#/components/schemas/ResourceGroupTagCollection"}},"description":"Represents an Azure resource group in a blueprint definition."},"ResourceGroupDefinitionCollection":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ResourceGroupDefinition"},"description":"A dictionary which maps resource group placeholders to the resource groups which will be created."},"ResourceGroupTagCollection":{"type":"object","additionalProperties":{"type":"string"},"description":"A dictionary of resource group tag values."},"ResourceGroupValue":{"type":"object","properties":{"location":{"type":"string","description":"Location of the resource group."},"name":{"maxLength":90,"minLength":1,"type":"string","description":"Name of the resource group."}},"description":"Represents an Azure resource group."},"ResourceGroupValueCollection":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ResourceGroupValue"},"description":"A dictionary which maps resource group placeholders to the resource groups which will be created."},"ResourceProviderOperation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"Description of this operation."},"operation":{"type":"string","description":"Type of operation: get, read, delete, etc."},"provider":{"type":"string","description":"Resource provider: Microsoft Blueprint."},"resource":{"type":"string","description":"Resource on which the operation is performed."}},"description":"Display metadata associated with the operation."},"name":{"type":"string","description":"Operation name, in format of {provider}/{resource}/{operation}"}},"description":"Supported operations of this resource provider."},"ResourceProviderOperationList":{"type":"object","properties":{"value":{"type":"array","description":"List of operations supported by this resource provider.","items":{"$ref":"#/components/schemas/ResourceProviderOperation"}}},"description":"Results of the request to list operations."},"RoleAssignmentArtifact":{"properties":{"properties":{"$ref":"#/components/schemas/RoleAssignmentArtifactProperties"}},"description":"Blueprint artifact that applies a Role assignment.","allOf":[{"$ref":"#/components/schemas/Artifact"}]},"RoleAssignmentArtifactProperties":{"properties":{"principalIds":{"type":"object","description":"Array of user or group identities in Azure Active Directory. The roleDefinition will apply to each identity."},"resourceGroup":{"type":"string","description":"RoleAssignment will be scope to this resourceGroup. If empty, it scopes to the subscription."},"roleDefinitionId":{"type":"string","description":"Azure resource ID of the RoleDefinition."}},"description":"Properties of a Role assignment blueprint artifact.","allOf":[{"$ref":"#/components/schemas/BlueprintResourcePropertiesBase"},{"$ref":"#/components/schemas/ArtifactPropertiesBase"}]},"SecretValueReference":{"required":["keyVault","secretName"],"type":"object","properties":{"keyVault":{"$ref":"#/components/schemas/keyVaultReference"},"secretName":{"type":"string","description":"Name of the secret."},"secretVersion":{"type":"string","description":"The version of the secret to use. If left blank, the latest version of the secret is used."}},"description":"Reference to a Key Vault secret."},"SharedBlueprintProperties":{"properties":{"parameters":{"$ref":"#/components/schemas/ParameterDefinitionCollection"},"resourceGroups":{"$ref":"#/components/schemas/ResourceGroupDefinitionCollection"},"status":{"$ref":"#/components/schemas/BlueprintStatus"},"targetScope":{"type":"string","description":"The scope where this blueprint definition can be assigned.","enum":["subscription","managementGroup"]}},"description":"Shared Schema for both blueprintProperties and publishedBlueprintProperties.","allOf":[{"$ref":"#/components/schemas/BlueprintResourcePropertiesBase"}]},"TemplateArtifact":{"properties":{"properties":{"$ref":"#/components/schemas/TemplateArtifactProperties"}},"description":"Blueprint artifact that deploys a Resource Manager template.","allOf":[{"$ref":"#/components/schemas/Artifact"}]},"TemplateArtifactProperties":{"properties":{"parameters":{"$ref":"#/components/schemas/ParameterValueCollection"},"resourceGroup":{"type":"string","description":"If applicable, the name of the resource group placeholder to which the Resource Manager template blueprint artifact will be deployed."},"template":{"type":"object","description":"The Resource Manager template blueprint artifact body."}},"description":"Properties of a Resource Manager template blueprint artifact.","allOf":[{"$ref":"#/components/schemas/BlueprintResourcePropertiesBase"},{"$ref":"#/components/schemas/ArtifactPropertiesBase"}]},"keyVaultReference":{"required":["id"],"type":"object","properties":{"id":{"type":"string","description":"Azure resource ID of the Key Vault."}},"description":"Specifies the link to a Key Vault."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},"ArtifactNameParameter":{"name":"artifactName","in":"path","description":"Name of the blueprint artifact.","required":true,"schema":{"type":"string"}},"BlueprintNameParameter":{"name":"blueprintName","in":"path","description":"Name of the blueprint definition.","required":true,"schema":{"type":"string"}},"PublishedBlueprintVersionIdParameter":{"name":"versionId","in":"path","description":"Version of the published blueprint definition.","required":true,"schema":{"type":"string"}},"ScopeParameter":{"name":"scope","in":"path","description":"The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved for future use.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}