{"openapi":"3.0.1","info":{"title":"SCIM","description":"The SCIM API lets you manage users in your organization. You can then automate the provisioning of product licenses for these users, and they can use your company's Single Sign-On solution through an Identity Provider.","termsOfService":"https://developer.citrixonline.com/terms-use","contact":{"name":"Developer Support","url":"https://developer.citrixonline.com","email":"developer-support@citrixonline.com"},"version":"N/A"},"externalDocs":{"url":"https://developer.citrixonline.com/"},"servers":[{"url":"https://api.citrixonline.com/identity/v1"}],"tags":[{"name":"Users","description":"Operations on users belonging to an organization"},{"name":"Groups","description":"Operations on groups belonging to an organization"},{"name":"Schemas","description":"Operations on schemas"}],"paths":{"/Groups":{"get":{"tags":["Groups"],"summary":"Get Groups","description":"Queries multiple group identities in the organization domain. Filtering, sorting and pagination are available. This call requires the role ROLE_ORG_READ.","operationId":"getGroups","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","description":" Without a filter, all groups are returned. The filter parameter must be a properly formed SCIM filter using the operator \"eq\" (equals), \"sw\" (starts with), or \"co\" (contains). The filter works for the displayName attribute. Sorting and pagination are supported. For example, GET /Groups?filter=displayName%20eq%20%22Engineering%22&sortBy=displayName&sortOrder=ascending&count=50&startIndex=51","schema":{"type":"string"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupCollection"}}}},"400":{"description":"Invalid filter syntax"},"401":{"description":"Client is not sufficiently authorized"},"403":{"description":"Invalid token passed"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}},"post":{"tags":["Groups"],"summary":"Create Group","description":"Creates a new organization group and adds it to the user domain. Member groups and member users must be in the organization. This call requires the role ROLE_ORG_WRITE.","operationId":"createGroup","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The details of the group to create","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupDefinition"}}},"required":true},"responses":{"201":{"description":"The group has been created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Group"}}}},"400":{"description":"Possible reasons are:<br />The displayName field is not set<br />The displayName field is malformed<br />The displayName field exceeds 128 characters<br />The members array exceeds 100 elements<br />"},"401":{"description":"Client is not sufficiently authorized"},"403":{"description":"Invalid token passed"},"409":{"description":"The displayName is already in use within the organization"},"502":{"description":"An authentication or account gateway error occurred"},"504":{"description":"An authentication or account, or gateway timeout occurred."}}}},"/Groups/{groupKey}":{"get":{"tags":["Groups"],"summary":"Get Group","description":"Queries group details in the organization domain. This call requires the role ROLE_ORG_READ.","operationId":"getGroup","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}},{"name":"groupKey","in":"path","description":"The key of the group to query. The group must be in the organization domain","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Group"}}}},"401":{"description":"Client is not sufficiently authorized or group does not exist in organization"},"403":{"description":"Invalid token passed"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}},"put":{"tags":["Groups"],"summary":"Replace Group","description":"Updates an existing group. The request must include the full group definition. To modify one or more values without sending the full definition, see \"Update Group\". Member groups and member users must be in the organization. This call requires the role ROLE_ORG_WRITE.","operationId":"replaceGroup","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}},{"name":"groupKey","in":"path","description":"The key of the group to query. The group must be in the organization domain","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"The new group definition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupDefinition"}}},"required":true},"responses":{"200":{"description":"The group has been replaced.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Group"}}}},"400":{"description":"Possible reasons are:<br />The displayName field is not set<br />The displayName field is malformed<br />The displayName field exceeds 128 characters<br />The members array exceeds 100 elements<br />"},"401":{"description":"Client is not sufficiently authorized or group does not exist in organization"},"403":{"description":"Invalid token passed"},"409":{"description":"The displayName is already in use within the organization"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}},"delete":{"tags":["Groups"],"summary":"Delete Group","description":"Deletes a group from the organization (but not from the account). The group must be in the organization. This call requires the role ROLE_ORG_WRITE.","operationId":"deleteGroup","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}},{"name":"groupKey","in":"path","description":"The key of the group to query. The group must be in the organization domain","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The request has succeeded"},"401":{"description":"Client is not sufficiently authorized or group does not exist in organization"},"403":{"description":"Invalid token passed"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}},"patch":{"tags":["Groups"],"summary":"Update Group","description":"Updates one or more values of an existing group without sending the full definition. Member groups and member users must be in the organization. This call requires the role ROLE_ORG_WRITE.","operationId":"updateGroup","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}},{"name":"groupKey","in":"path","description":"The key of the group to query. The group must be in the organization domain","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"The group data to update. It is allowed to update one or more values of the group definition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupDefinition"}}},"required":true},"responses":{"200":{"description":"The group has been updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Group"}}}},"400":{"description":"Possible reasons are:<br />The displayName field is not set<br />The displayName field is malformed<br />The displayName field exceeds 128 characters<br />The members array exceeds 100 elements<br />"},"401":{"description":"Client is not sufficiently authorized or group does not exist in organization"},"403":{"description":"Invalid token passed"},"409":{"description":"The displayName is already in use within the organization"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}}},"/Schemas/Users":{"get":{"tags":["Schemas"],"summary":"Get User Schema","description":"Queries the user schema. The user schema is defined in SCIM Core Schema (http://www.simplecloud.info/specs/draft-scim-core-schema-01.html#resource-schema).","operationId":"getUserSchema","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceSchema"}}}},"403":{"description":"Invalid token passed"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}}},"/ServiceProviderConfigs":{"get":{"tags":["Schemas"],"summary":"Get Service Provider Configurations","description":"Queries service provider configurations. The service provider configurations are defined in SCIM Core Schema (http://www.simplecloud.info/specs/draft-scim-core-schema-01.html#anchor6). This call returns a description, a documentationURL, name, and specURL.","operationId":"getServiceProviderConfigs","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceProviderConfigs"}}}},"403":{"description":"Invalid token passed"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}}},"/Users":{"get":{"tags":["Users"],"summary":"Get Users","description":"Queries multiple user identities in the organization domain. Filtering is available.","operationId":"getUsers","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","description":" Without a filter, all users in a user domain are returned. The filter parameter must be a properly formed SCIM filter using either the operator eq (equals) or the operator sw (starts with). The filter works for userName, displayName, name.givenName, and name.familyName attributes. For example, /Users?filter=name.familyName%20eq%20%%22Smith%22","schema":{"type":"string"}}],"responses":{"200":{"description":"The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCollection"}}}},"400":{"description":"Invalid filter syntax"},"401":{"description":"Client is not sufficiently authorized"},"403":{"description":"Invalid token passed"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}},"post":{"tags":["Users"],"summary":"Create User","description":"Creates a new organization user and adds them to the user domain. The user email domain must match an existing organization email domain.","operationId":"createUsers","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The details of the user to create","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDefinition"}}},"required":true},"responses":{"201":{"description":"The user has been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"One of the following requirements is not met:<br />The userName field is required.<br />The userName field must be non-empty.<br />The userName field cannot exceed 128 characters.<br />The locale field must be composed of 1 or 2 parts.<br />The locale language sub-field must be ISO-639.<br />The locale country sub-field must be ISO-3166.<br />The timezone field must be a valid timezone.<br />The givenName field must not exceed 60 characters.<br />The familyName field must not exceed 60 characters."},"401":{"description":"Client is not sufficiently authorized."},"403":{"description":"Invalid token passed"},"409":{"description":"Username is already in use."},"502":{"description":"Authentication, account, or email verification gateway error occurred."},"504":{"description":"Authentication, account, or email verification gateway timeout occurred."}}}},"/Users/me":{"get":{"tags":["Users"],"summary":"Get Current User","description":"Queries the identity of the current authenticated user.","operationId":"getMe","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"401":{"description":"Client is not sufficiently authorized"},"403":{"description":"Invalid token passed"},"404":{"description":"User not found"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}},"put":{"tags":["Users"],"summary":"Replace Current User","description":"Changes the current authenticated user's displayName, locale, timezone, username and password. The request must include the full user definition (to modify one or more values without sending the full definition, see Update User). The replaced user email domain must be an existing organization email domain. ","operationId":"replaceMe","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The new user data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDefinition"}}},"required":true},"responses":{"200":{"description":"The current user has been replaced.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"One of the following requirements is not met:<br />The userName field is required.<br />The userName field must be non-empty.<br />The userName field cannot exceed 128 characters.<br />The locale field must be composed of 1 or 2 parts.<br />The locale language sub-field must be ISO-639.<br />The locale country sub-field must be ISO-3166.<br />The timezone field must be a valid timezone.<br />The givenName field must not exceed 60 characters.<br />The familyName field must not exceed 60 characters."},"401":{"description":"Client is not sufficiently authorized"},"403":{"description":"Invalid token passed"},"404":{"description":"User not found"},"409":{"description":"Email address conflict"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}},"patch":{"tags":["Users"],"summary":"Update Current User","description":"Changes a limited set (or all if you choose) of the current authenticated user's data. The updated user email domain must be an existing organization email domain. ","operationId":"updateMe","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The new user data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDefinition"}}},"required":true},"responses":{"200":{"description":"The current user has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"One of the following requirements is not met:<br />The userName field is required.<br />The userName field must be non-empty.<br />The userName field cannot exceed 128 characters.<br />The locale field must be composed of 1 or 2 parts.<br />The locale language sub-field must be ISO-639.<br />The locale country sub-field must be ISO-3166.<br />The timezone field must be a valid timezone.<br />The givenName field must not exceed 60 characters.<br />The familyName field must not exceed 60 characters."},"401":{"description":"Client is not sufficiently authorized"},"403":{"description":"Invalid token passed"},"404":{"description":"User not found"},"409":{"description":"Email address conflict"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}}},"/Users/{userKey}":{"get":{"tags":["Users"],"summary":"Get User","description":"Queries user identity in the organization domain.","operationId":"getUser","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","description":"The key of the user to query. The user must be in the organization domain","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"401":{"description":"Client is not sufficiently authorized"},"403":{"description":"Invalid token passed"},"404":{"description":"User not found"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}},"put":{"tags":["Users"],"summary":"Replace User","description":"Changes an existing user's displayName, locale, timezone, username and password. The request must include the full user definition (to modify one or more values without sending the full definition, see Update User). The replaced user email domain must be an existing organization email domain.","operationId":"replaceUser","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","description":"The key of the user to query. The user must be in the organization domain","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"The new user data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDefinition"}}},"required":true},"responses":{"200":{"description":"The user has been replaced.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"One of the following requirements is not met:<br />The userName field is required.<br />The userName field must be non-empty.<br />The userName field cannot exceed 128 characters.<br />The locale field must be composed of 1 or 2 parts.<br />The locale language sub-field must be ISO-639.<br />The locale country sub-field must be ISO-3166.<br />The timezone field must be a valid timezone.<br />The givenName field must not exceed 60 characters.<br />The familyName field must not exceed 60 characters."},"401":{"description":"Client is not sufficiently authorized"},"403":{"description":"Invalid token passed"},"404":{"description":"User not found"},"409":{"description":"Email address conflict"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}},"delete":{"tags":["Users"],"summary":"Delete User","description":"Deletes a user from the organization (but not from the account).","operationId":"deleteUser","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","description":"The key of the user to query. The user must be in the organization domain","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"The request has succeeded."},"401":{"description":"Client is not sufficiently authorized"},"403":{"description":"Invalid token passed"},"404":{"description":"User not found"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}},"patch":{"tags":["Users"],"summary":"Update User","description":"Changes a limited set (or all if you choose) of the user's data. The updated user email domain must be an existing organization email domain.","operationId":"updateUser","parameters":[{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}},{"name":"userKey","in":"path","description":"The key of the user to query. The user must be in the organization domain","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"The new user data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDefinition"}}},"required":true},"responses":{"200":{"description":"The user has been updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"One of the following requirements is not met:<br />The userName field is required.<br />The userName field must be non-empty.<br />The userName field cannot exceed 128 characters.<br />The locale field must be composed of 1 or 2 parts.<br />The locale language sub-field must be ISO-639.<br />The locale country sub-field must be ISO-3166.<br />The timezone field must be a valid timezone.<br />The givenName field must not exceed 60 characters.<br />The familyName field must not exceed 60 characters."},"401":{"description":"Client is not sufficiently authorized"},"403":{"description":"Invalid token passed"},"404":{"description":"User not found"},"409":{"description":"Email address conflict"},"502":{"description":"Authentication or account gateway error occurred"},"504":{"description":"Authentication or account gateway timeout occurred"}}}}},"components":{"schemas":{"AuthenticationSchemes":{"required":["description","documentationUrl","name","specUrl"],"type":"object","properties":{"description":{"type":"string","description":"The description of the Authentication Scheme"},"documentationUrl":{"type":"string","description":"A HTTP addressable URL pointing to the Authentication Scheme's usage documentation"},"name":{"type":"string","description":"The common authentication scheme name, e.g. HTTP Basic"},"specUrl":{"type":"string","description":"A HTTP addressable URL pointing to the Authentication Scheme's specification"}},"description":"Specifies supported Authentication Scheme properties"},"Bulk":{"required":["supported"],"type":"object","properties":{"supported":{"type":"boolean","description":"Specifies whether the operation is supported"}},"description":"Specifies BULK configuration options"},"ChangePassword":{"required":["supported"],"type":"object","properties":{"supported":{"type":"boolean","description":"Specifies whether the operation is supported"}},"description":"Specifies Change Password configuration options"},"Etag":{"required":["supported"],"type":"object","properties":{"supported":{"type":"boolean","description":"Specifies whether the operation is supported"}},"description":"Specifies Etag configuration options"},"Filter":{"required":["supported"],"type":"object","properties":{"supported":{"type":"boolean","description":"Specifies whether the operation is supported"}},"description":"Specifies FILTER options"},"Group":{"required":["displayName","id","meta"],"type":"object","properties":{"displayName":{"type":"string","description":"The group's display name"},"id":{"type":"string","description":"The group's unique key"},"members":{"type":"array","description":"An array of members","items":{"$ref":"#/components/schemas/Member"}},"meta":{"$ref":"#/components/schemas/GroupMetadata"}},"description":"Describes a group belonging to an organization"},"GroupCollection":{"required":["resources","totalResults"],"type":"object","properties":{"resources":{"type":"array","description":"An array of groups","items":{"$ref":"#/components/schemas/Group"}},"totalResults":{"type":"integer","description":"The number of groups in the collection","format":"int64"}},"description":"Class describing a collection of groups"},"GroupDefinition":{"required":["displayName"],"type":"object","properties":{"displayName":{"type":"string","description":"The group's display name"},"members":{"type":"array","description":"An array of members","items":{"$ref":"#/components/schemas/Member"}}},"description":"Describes the group to create"},"GroupMetadata":{"required":["created","location"],"type":"object","properties":{"created":{"type":"string","description":"The date and time the group was created","format":"date-time"},"location":{"type":"string","description":"The URL where the group can be accessed"}},"description":"Group metadata"},"Member":{"required":["type","value"],"type":"object","properties":{"type":{"type":"string","description":"The type of member","enum":["group","user"]},"value":{"type":"string","description":"Depending on the member type this is a groupKey or an userKey"}},"description":"A member of a group. This can be a group or an user"},"Patch":{"required":["supported"],"type":"object","properties":{"supported":{"type":"boolean","description":"Specifies whether the operation is supported"}},"description":"Specifies PATCH configuration options"},"ResourceSchema":{"required":["attributes","description","endpoint","id","name","schema"],"type":"object","properties":{"attributes":{"type":"array","description":"The resource's attributes","items":{"$ref":"#/components/schemas/SchemaAttribute"}},"description":{"type":"string","description":"The resource's description"},"endpoint":{"type":"string","description":"The resource's HTTP addressable endpoint relative to the base URL, e.g. /Users."},"id":{"type":"string","description":"The resource's id, e.g. urn:scim:schemas:core:1.0:User"},"name":{"type":"string","description":"The resource's name, e.g. \"User\""},"schema":{"type":"string","description":"The resource's associated schema, e.g. urn:scim:schemas:core:1.0"}},"description":"Describes the attributes and metadata constituting a resource such as a user."},"SchemaAttribute":{"required":["caseExact","description","multiValued","name","readOnly","required","schema","type"],"type":"object","properties":{"caseExact":{"type":"boolean","description":"Indicates whether the attribute is case sensitive"},"description":{"type":"string","description":"The attribute's description"},"multiValued":{"type":"boolean","description":"Indicates whether the attribute can have multiple values"},"name":{"type":"string","description":"The attribute's name"},"readOnly":{"type":"boolean","description":"Indicates whether the attribute is mutable"},"required":{"type":"boolean","description":"Indicates whether the attribute is required"},"schema":{"type":"string","description":"The attribute's associated scheme, e.g. urn:scim:schemas:core:1.0"},"subAttributes":{"type":"array","description":"The attribute's potential sub-attributes","items":{"$ref":"#/components/schemas/SchemaSubAttribute"}},"type":{"type":"string","description":"The attribute's data type, e.g. String"}},"description":"Describes a resource attribute"},"SchemaSubAttribute":{"required":["caseExact","description","name","readOnly","required","type"],"type":"object","properties":{"caseExact":{"type":"boolean","description":"Indicates whether the attribute is case sensitive"},"description":{"type":"string","description":"The attribute's description"},"name":{"type":"string","description":"The attribute's name"},"readOnly":{"type":"boolean","description":"Indicates whether the attribute is mutable"},"required":{"type":"boolean","description":"Indicates whether the attribute is required"},"type":{"type":"string","description":"The attribute's data type, e.g. String"}},"description":"Describes the sub-attribute of a resource attribute"},"ServiceProviderConfigs":{"required":["authenticationSchemes","bulk","changePassword","documentationUrl","etag","filter","patch","sort","xmlDataFormat"],"type":"object","properties":{"authenticationSchemes":{"$ref":"#/components/schemas/AuthenticationSchemes"},"bulk":{"$ref":"#/components/schemas/Bulk"},"changePassword":{"$ref":"#/components/schemas/ChangePassword"},"documentationUrl":{"type":"string","description":"An HTTP addressable URL pointing to the Service Provider's help documentation"},"etag":{"$ref":"#/components/schemas/Etag"},"filter":{"$ref":"#/components/schemas/Filter"},"patch":{"$ref":"#/components/schemas/Patch"},"sort":{"$ref":"#/components/schemas/Sort"},"xmlDataFormat":{"$ref":"#/components/schemas/XmlDataFormat"}},"description":"Represents the Service Provider's configuration"},"Sort":{"required":["supported"],"type":"object","properties":{"supported":{"type":"boolean","description":"Specifies whether the operation is supported"}},"description":"Specifies Sort configuration options"},"User":{"required":["displayName","id","locale","meta","name","timezone","userName"],"type":"object","properties":{"displayName":{"type":"string","description":"The user's display name"},"id":{"type":"string","description":"The user's unique key"},"locale":{"type":"string","description":"The user's language settings"},"meta":{"$ref":"#/components/schemas/UserMetadata"},"name":{"$ref":"#/components/schemas/UserFullName"},"timezone":{"type":"string","description":"The user's time zone"},"userName":{"type":"string","description":"The user's username, usually their email address"}},"description":"Describes a user belonging to an organization"},"UserCollection":{"required":["resources","totalResults"],"type":"object","properties":{"resources":{"type":"array","description":"The list of users","items":{"$ref":"#/components/schemas/User"}},"totalResults":{"type":"integer","description":"The number of users in the collection","format":"int64"}},"description":"Class describing a collection of users"},"UserDefinition":{"type":"object","properties":{"displayName":{"type":"string","description":"The user's display name"},"locale":{"type":"string","description":"The user's language settings"},"name":{"$ref":"#/components/schemas/UserFullName"},"password":{"type":"string","description":"The user's password"},"timezone":{"type":"string","description":"The user's time zone"},"userName":{"type":"string","description":"The user's username, usually their email address"}},"description":"Describes a new user"},"UserFullName":{"required":["familyName","givenName"],"type":"object","properties":{"familyName":{"type":"string","description":"The user's surname"},"givenName":{"type":"string","description":"The user's first name"}},"description":"The full name of the user"},"UserMetadata":{"required":["created","location"],"type":"object","properties":{"created":{"type":"string","description":"The date and time the user was created","format":"date-time"},"location":{"type":"string","description":"The URL where the user can be accessed"}},"description":"User metadata"},"XmlDataFormat":{"required":["supported"],"type":"object","properties":{"supported":{"type":"boolean","description":"Specifies whether the operation is supported"}},"description":"Specifies whether the XML data format is supported"}},"parameters":{"Authorization":{"name":"Authorization","in":"header","description":"Access token prefixed with 'Bearer ', e.g. 'Bearer 123456abcdef'","required":true,"schema":{"type":"string"}},"groupKey":{"name":"groupKey","in":"path","description":"The key of the group to query. The group must be in the organization domain","required":true,"schema":{"type":"integer","format":"int64"}},"userKey":{"name":"userKey","in":"path","description":"The key of the user to query. The user must be in the organization domain","required":true,"schema":{"type":"integer","format":"int64"}}}}}