{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "The Water Linked Underwater GPS API",
    "description" : "API for the Water Linked Underwater GPS. For more details: http://www.waterlinked.com\n\nRecommended approach for connecting to a Underwater GPS via the API is:\n- If \"GET /api/\" times out, the Underwater GPS is not running (on this IP address)\n- If \"GET /api/\" responds with 200 OK check that the api version returrned (eg \"v1\") is supported by the client (eg: also supports \"v1\").\n- If the api version returned does not match what the client supports: give an error to the user and recommend upgrading. (Eg: response is \"v2\" while client only supports \"v1\")\n- If \"GET /api/\" responds with 301 Moved permanently. \"GET /api/v1/version\" to check if the kit has a version earlier than 1.5.\n- \"GET /api/v1/version\" will always respond with 200 OK on Underwater GPS earlier than 1.5 release.\n\nConfiguration API is is not considered stable and will potentially be changed",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "http://demo.waterlinked.com/"
  } ],
  "paths" : {
    "/api/" : {
      "get" : {
        "tags" : [ "about" ],
        "summary" : "ApiVersion about",
        "operationId" : "about#ApiVersion",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.wupdater.apiversion" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WupdaterApiversion"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/about" : {
      "get" : {
        "tags" : [ "about" ],
        "summary" : "Get about",
        "description" : "Get about information",
        "operationId" : "about#Get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.about+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedAbout"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/about/factoryreset" : {
      "post" : {
        "tags" : [ "about" ],
        "summary" : "FactoryReset about",
        "description" : "Reset all settings on master electronics",
        "operationId" : "about#FactoryReset",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/about/led" : {
      "get" : {
        "tags" : [ "about" ],
        "summary" : "LED about",
        "description" : "Flash LED1 on master electronics",
        "operationId" : "about#LED",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/about/status" : {
      "get" : {
        "tags" : [ "about" ],
        "summary" : "Status about",
        "description" : "Get current IMU and GPS status",
        "operationId" : "about#Status",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.status+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/about/temperature" : {
      "get" : {
        "tags" : [ "about" ],
        "summary" : "Temperature about",
        "description" : "Get board temperature",
        "operationId" : "about#Temperature",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.temperature+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedTemperature"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/antenna" : {
      "get" : {
        "tags" : [ "config" ],
        "summary" : "GetAntennaConfig config",
        "description" : "Get Antenna configuration",
        "operationId" : "config#GetAntennaConfig",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.antenna_config+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedAntenna_config"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "config" ],
        "summary" : "ModifyAntennaConfig config",
        "description" : "Modify Antenna configuration",
        "operationId" : "config#ModifyAntennaConfig",
        "requestBody" : {
          "description" : "Configuration parameters for antenna set up",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ModifyAntennaConfigConfigPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/generic" : {
      "get" : {
        "tags" : [ "config" ],
        "summary" : "Get config",
        "description" : "Get generic configuration",
        "operationId" : "config#Get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.configuration+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedConfiguration"
                }
              },
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedConfiguration"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.configuration+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              },
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "config" ],
        "summary" : "Modify config",
        "description" : "Modify generic configuration",
        "operationId" : "config#Modify",
        "requestBody" : {
          "description" : "Configuration parameters",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ModifyConfigPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable"
          }
        }
      }
    },
    "/api/v1/config/ip" : {
      "get" : {
        "tags" : [ "config" ],
        "summary" : "GetIP config",
        "description" : "Get IP configuration",
        "operationId" : "config#GetIP",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.ip_config+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedIp_config"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "config" ],
        "summary" : "ModifyIP config",
        "description" : "Modify IP configuration",
        "operationId" : "config#ModifyIP",
        "requestBody" : {
          "description" : "Configuration parameters",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ModifyIPConfigPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/receivers/" : {
      "get" : {
        "tags" : [ "config" ],
        "summary" : "ListReceiver config",
        "description" : "(Re)Load current receiver settings and return them",
        "operationId" : "config#ListReceiver",
        "responses" : {
          "200" : {
            "description" : "Returned list of receivers",
            "content" : {
              "application/vnd.waterlinked.receiver+json; type=collection" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedReceiverCollection"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/receivers/{ID}" : {
      "get" : {
        "tags" : [ "config" ],
        "summary" : "ShowReceiver config",
        "description" : "Get receiver configuration by id",
        "operationId" : "config#ShowReceiver",
        "parameters" : [ {
          "name" : "ID",
          "in" : "path",
          "description" : "Identifier",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.receiver+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedReceiver"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "put" : {
        "tags" : [ "config" ],
        "summary" : "ModifyReceiver config",
        "description" : "Modify receiver configuration, does not apply the change until generic modify is called. Calling list will discard changes",
        "operationId" : "config#ModifyReceiver",
        "parameters" : [ {
          "name" : "ID",
          "in" : "path",
          "description" : "Identifier",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "A receiver configuration",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ModifyReceiverConfigPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/config/wifi" : {
      "get" : {
        "tags" : [ "config" ],
        "summary" : "GetWIFI config",
        "description" : "Get WIFI configuration",
        "operationId" : "config#GetWIFI",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.wifi_config+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedWifi_config"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "config" ],
        "summary" : "ModifyWIFI config",
        "description" : "Modify WIFI configuration",
        "operationId" : "config#ModifyWIFI",
        "requestBody" : {
          "description" : "Configuration parameters",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ModifyWIFIConfigPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/depth" : {
      "put" : {
        "tags" : [ "external" ],
        "summary" : "SetDepth external",
        "description" : "Set depth from external source. If Locator A1 is used, this is required to get a position",
        "operationId" : "external#SetDepth",
        "requestBody" : {
          "description" : "Current locator depth and temperature",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetDepthExternalPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/imu" : {
      "get" : {
        "tags" : [ "external" ],
        "summary" : "GetVehicleIMU external",
        "description" : "[DEPRECATED]Get rotation and acceleration of vehicle Locator is mounted on which was previously set",
        "operationId" : "external#GetVehicleIMU",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.wl.external.vehicle.imu+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WlExternalVehicleImu"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content"
          }
        }
      },
      "put" : {
        "tags" : [ "external" ],
        "summary" : "SetVehicleIMU external",
        "description" : "[DEPRECATED]Set rotation and acceleration of vehicle Locator is mounted on. This is used to improve positioning of vehicle",
        "operationId" : "external#SetVehicleIMU",
        "requestBody" : {
          "description" : "Set current rotation and acceleration of vehicle",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetVehicleIMUExternalPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/master" : {
      "put" : {
        "tags" : [ "external" ],
        "summary" : "SetMaster external",
        "description" : "Set current global position of master electronics from external source. Values are only used if GPS mode is set to use external GPS",
        "operationId" : "external#SetMaster",
        "requestBody" : {
          "description" : "Global master position from external source",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetMasterExternalPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/orientation" : {
      "get" : {
        "tags" : [ "external" ],
        "summary" : "GetOrientation external",
        "description" : "Get orientation of Vehicle/ROV/Locator set by SetOrientation",
        "operationId" : "external#GetOrientation",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WlExternalLocatorOrientation"
                }
              },
              "application/vnd.wl.external.locator.orientation+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WlExternalLocatorOrientation"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              },
              "application/vnd.wl.external.locator.orientation+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "external" ],
        "summary" : "SetOrientation external",
        "description" : "Set orientation/compass heading of Vehicle/ROV/Locator. This is used only for visualization in GUI",
        "operationId" : "external#SetOrientation",
        "requestBody" : {
          "description" : "Set current compass heading of ROV/locator",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetOrientationExternalPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/imu/calibrate" : {
      "get" : {
        "tags" : [ "imu" ],
        "summary" : "Get imu",
        "description" : "Get IMU status and orientation",
        "operationId" : "imu#Get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.imu+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedImu"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "imu" ],
        "summary" : "Calibrate imu",
        "description" : "[DEPRECATED]Start calibration",
        "operationId" : "imu#Calibrate",
        "requestBody" : {
          "description" : "IMU calibration action",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CalibrateImuPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "408" : {
            "description" : "Request Timeout"
          },
          "409" : {
            "description" : "Conflict"
          }
        }
      }
    },
    "/api/v1/imu/resetgyros" : {
      "post" : {
        "tags" : [ "imu" ],
        "summary" : "ResetGyro imu",
        "description" : "Reset Gyro",
        "operationId" : "imu#ResetGyro",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "408" : {
            "description" : "Request Timeout"
          },
          "409" : {
            "description" : "Conflict"
          }
        }
      }
    },
    "/api/v1/imu/setnorth" : {
      "post" : {
        "tags" : [ "imu" ],
        "summary" : "SetNorth imu",
        "description" : "Set north point",
        "operationId" : "imu#SetNorth",
        "requestBody" : {
          "description" : "IMU set north",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetNorthImuPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "408" : {
            "description" : "Request Timeout"
          },
          "409" : {
            "description" : "Conflict"
          }
        }
      }
    },
    "/api/v1/poi/" : {
      "get" : {
        "tags" : [ "poi" ],
        "summary" : "List poi",
        "description" : "List all points of interest",
        "operationId" : "poi#List",
        "responses" : {
          "200" : {
            "description" : "Return list of all POIs",
            "content" : {
              "application/vnd.waterlinked.poi+json; type=collection" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedPoiCollection"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "post" : {
        "tags" : [ "poi" ],
        "summary" : "Create poi",
        "description" : "Create a new POI",
        "operationId" : "poi#Create",
        "requestBody" : {
          "description" : "A list of all POI",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePoiPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Resource created",
            "headers" : {
              "Location" : {
                "description" : "href to created resource",
                "schema" : {
                  "pattern" : "^/poi/[0-9]+$",
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/vnd.goa.error" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      }
    },
    "/api/v1/poi/{ID}" : {
      "get" : {
        "tags" : [ "poi" ],
        "summary" : "Show poi",
        "description" : "Get a POI",
        "operationId" : "poi#Show",
        "parameters" : [ {
          "name" : "ID",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.poi+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedPoi"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "delete" : {
        "tags" : [ "poi" ],
        "summary" : "Delete poi",
        "operationId" : "poi#Delete",
        "parameters" : [ {
          "name" : "ID",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/vnd.goa.error" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "patch" : {
        "tags" : [ "poi" ],
        "summary" : "Update poi",
        "operationId" : "poi#Update",
        "parameters" : [ {
          "name" : "ID",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "A list of all POI",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdatePoiPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/vnd.goa.error" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/position/acoustic/filtered" : {
      "get" : {
        "tags" : [ "position" ],
        "summary" : "AcousticFiltered position",
        "description" : "Get current Kalman filtered acoustic position relative to master acoustics. Expected update frequency: 4 Hz",
        "operationId" : "position#AcousticFiltered",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.accoustic.position+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedAccousticPosition"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/position/acoustic/raw" : {
      "get" : {
        "tags" : [ "position" ],
        "summary" : "AcousticRaw position",
        "description" : "Get current unfiltered acoustic position relative to master acoustics. Expected update frequency: 4 Hz",
        "operationId" : "position#AcousticRaw",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.accoustic.position+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedAccousticPosition"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/position/global" : {
      "get" : {
        "tags" : [ "position" ],
        "summary" : "Get position",
        "description" : "Get current global position of locator. Locator position is calculated from the current acoustic position and the global position of the master electronics. Expected update frequency: 4 Hz",
        "operationId" : "position#Get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.wl.satellite.position+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WlSatellitePosition"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/position/master" : {
      "get" : {
        "tags" : [ "position" ],
        "summary" : "GetMaster position",
        "description" : "Get current global position of master electronics. Expected update frequency: 1 Hz",
        "operationId" : "position#GetMaster",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.wl.satellite.position+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WlSatellitePosition"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/status_report/" : {
      "get" : {
        "tags" : [ "status_report" ],
        "summary" : "Get status_report",
        "description" : "Get list of status reports from all status groups",
        "operationId" : "status_report#Get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.wl.status.group+json; type=collection" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WlStatusGroupCollection"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/warnings/" : {
      "get" : {
        "tags" : [ "warnings" ],
        "summary" : "Get warnings",
        "description" : "[DEPRECATED] Get current list of messages",
        "operationId" : "warnings#Get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WlWarningCollection"
                }
              },
              "application/vnd.wl.warning+json; type=collection" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WlWarningCollection"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.waterlinked.operation_response+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              },
              "application/vnd.wl.warning+json; type=collection" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WaterlinkedOperation_response"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CalibrateImuPayload" : {
        "title" : "CalibrateImuPayload",
        "required" : [ "action" ],
        "type" : "object",
        "properties" : {
          "action" : {
            "type" : "string",
            "description" : "IMU Calibration Action to use",
            "example" : "start",
            "enum" : [ "start", "abort" ]
          }
        },
        "description" : "IMU calibration action",
        "example" : {
          "action" : "start"
        }
      },
      "CreatePoiPayload" : {
        "title" : "CreatePoiPayload",
        "required" : [ "depth", "icon", "lat", "lng", "name", "visible" ],
        "type" : "object",
        "properties" : {
          "depth" : {
            "type" : "number",
            "description" : "Depth of POI",
            "format" : "double",
            "example" : 0.9848439086783396
          },
          "icon" : {
            "type" : "string",
            "description" : "Icon of POI",
            "example" : "Ut molestias laboriosam."
          },
          "id" : {
            "type" : "integer",
            "description" : "Unique POI id",
            "format" : "int64",
            "example" : 3408207428662661600
          },
          "lat" : {
            "type" : "number",
            "description" : "Latitude of POI",
            "format" : "double",
            "example" : 0.8147274904139097
          },
          "lng" : {
            "type" : "number",
            "description" : "Longitude of POI",
            "format" : "double",
            "example" : 0.06472337355304676
          },
          "name" : {
            "type" : "string",
            "description" : "Name of POI",
            "example" : "Reprehenderit non architecto quia."
          },
          "visible" : {
            "type" : "boolean",
            "description" : "Visibility of POI",
            "example" : false
          }
        },
        "description" : "A list of all POI",
        "example" : {
          "depth" : 0.9848439086783396,
          "icon" : "Ut molestias laboriosam.",
          "id" : 3408207428662661600,
          "lat" : 0.8147274904139097,
          "lng" : 0.06472337355304676,
          "name" : "Reprehenderit non architecto quia.",
          "visible" : false
        }
      },
      "ModifyAntennaConfigConfigPayload" : {
        "title" : "ModifyAntennaConfigConfigPayload",
        "required" : [ "antenna_rotation", "depth", "x", "y" ],
        "type" : "object",
        "properties" : {
          "antenna_rotation" : {
            "maximum" : 360,
            "minimum" : 0,
            "type" : "integer",
            "description" : "Configured rotation of antenna relative to forward arrow on topside housing. Clockwise is positive direction (degrees)",
            "example" : 90
          },
          "depth" : {
            "maximum" : 10,
            "minimum" : 0.1,
            "type" : "number",
            "description" : "Configured depth relative to surface (meter)",
            "example" : 2.0
          },
          "x" : {
            "maximum" : 100,
            "minimum" : -100,
            "type" : "number",
            "description" : "Configured f position relative to master electronics (meter)",
            "example" : -2.0
          },
          "y" : {
            "maximum" : 100,
            "minimum" : -100,
            "type" : "number",
            "description" : "Configured Y position relative to master electronics (meter)",
            "example" : 2.0
          }
        },
        "description" : "Configuration parameters for antenna set up",
        "example" : {
          "antenna_rotation" : 90,
          "depth" : 2,
          "x" : -2,
          "y" : 2
        }
      },
      "ModifyConfigPayload" : {
        "title" : "ModifyConfigPayload",
        "required" : [ "channel", "compass", "gps", "locator_type", "static_lat", "static_lon", "static_orientation" ],
        "type" : "object",
        "properties" : {
          "antenna_enabled" : {
            "type" : "boolean",
            "description" : "Enable use of antenna",
            "example" : true
          },
          "channel" : {
            "maximum" : 6000,
            "minimum" : 0,
            "type" : "integer",
            "description" : "Channel to use",
            "example" : 13
          },
          "compass" : {
            "type" : "string",
            "description" : "Compass provider setting",
            "example" : "external",
            "enum" : [ "onboard", "static", "external" ]
          },
          "environment" : {
            "type" : "string",
            "description" : "[Deprecated] Environment setting",
            "example" : "openwater",
            "enum" : [ "reflective", "openwater" ]
          },
          "external_pps_enabled" : {
            "type" : "boolean",
            "description" : "Enable external PPS input to master",
            "example" : false
          },
          "gps" : {
            "type" : "string",
            "description" : "GPS provider setting",
            "example" : "external",
            "enum" : [ "onboard", "static", "external" ]
          },
          "imu_vehicle_enabled" : {
            "type" : "boolean",
            "description" : "[Deprecated] Enable IMU input from vehicle",
            "example" : true
          },
          "locator_type" : {
            "type" : "string",
            "description" : "Locator type in use",
            "example" : "a1",
            "enum" : [ "d1", "a1", "s2", "p2", "u1" ]
          },
          "range_max_x" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "number",
            "description" : "[Deprecated] Max range (meters)",
            "example" : 50.0
          },
          "range_max_y" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "number",
            "description" : "[Deprecated] Max range (meters)",
            "example" : 50.0
          },
          "range_max_z" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "number",
            "description" : "[Deprecated] Max range (meters)",
            "example" : 50.0
          },
          "range_min_x" : {
            "maximum" : 0,
            "minimum" : -100,
            "type" : "number",
            "description" : "[Deprecated] Max range (meters)",
            "example" : -50.0
          },
          "range_min_y" : {
            "maximum" : 0,
            "minimum" : -100,
            "type" : "number",
            "description" : "[Deprecated] Max range (meters)",
            "example" : -50.0
          },
          "search_direction" : {
            "maximum" : 360,
            "minimum" : 0,
            "type" : "number",
            "description" : "Direction of circular search area section",
            "example" : 30.0
          },
          "search_radius" : {
            "maximum" : 300,
            "minimum" : 1,
            "type" : "number",
            "description" : "Radius of circular search area",
            "example" : 150.0
          },
          "search_sector" : {
            "maximum" : 360,
            "minimum" : 1,
            "type" : "number",
            "description" : "Sector angle of circular search area",
            "example" : 90.0
          },
          "speed_of_sound" : {
            "maximum" : 2000,
            "minimum" : 1000,
            "type" : "integer",
            "description" : "Speed of sound use by the system",
            "example" : 1475
          },
          "static_lat" : {
            "maximum" : 90,
            "minimum" : -90,
            "type" : "number",
            "description" : "Latitude to use in static mode",
            "example" : 63.422
          },
          "static_lon" : {
            "maximum" : 180,
            "minimum" : -180,
            "type" : "number",
            "description" : "Longitude to use in static mode",
            "example" : 10.424
          },
          "static_orientation" : {
            "maximum" : 359,
            "minimum" : 0,
            "type" : "number",
            "description" : "Orientation/compass reading to use in static mode (degrees)",
            "example" : 42.0
          }
        },
        "description" : "Configuration parameters",
        "example" : {
          "antenna_enabled" : true,
          "channel" : 13,
          "compass" : "external",
          "environment" : "openwater",
          "external_pps_enabled" : false,
          "gps" : "external",
          "imu_vehicle_enabled" : true,
          "locator_type" : "a1",
          "range_max_x" : 50,
          "range_max_y" : 50,
          "range_max_z" : 50,
          "range_min_x" : -50,
          "range_min_y" : -50,
          "search_direction" : 30,
          "search_radius" : 150,
          "search_sector" : 90,
          "speed_of_sound" : 1475,
          "static_lat" : 63.422,
          "static_lon" : 10.424,
          "static_orientation" : 42
        }
      },
      "ModifyIPConfigPayload" : {
        "title" : "ModifyIPConfigPayload",
        "required" : [ "address", "dhcp", "dns", "gateway", "prefix" ],
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string",
            "description" : "IP address to use",
            "example" : "10.11.12.94"
          },
          "dhcp" : {
            "type" : "boolean",
            "description" : "DHCP to use",
            "example" : true
          },
          "dns" : {
            "type" : "string",
            "description" : "DNS to use",
            "example" : "10.11.12.1"
          },
          "gateway" : {
            "type" : "string",
            "description" : "Gateway to use",
            "example" : "10.11.12.1"
          },
          "prefix" : {
            "maximum" : 31,
            "minimum" : 1,
            "type" : "integer",
            "description" : "Prefix to use",
            "example" : 24
          }
        },
        "description" : "Configuration parameters",
        "example" : {
          "address" : "10.11.12.94",
          "dhcp" : true,
          "dns" : "10.11.12.1",
          "gateway" : "10.11.12.1",
          "prefix" : 24
        }
      },
      "ModifyReceiverConfigPayload" : {
        "title" : "ModifyReceiverConfigPayload",
        "required" : [ "id", "x", "y", "z" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Unique receiver identifier",
            "format" : "int64",
            "example" : 2339264502380679700
          },
          "x" : {
            "type" : "number",
            "description" : "Configured X position relative to master electronics (meter)",
            "format" : "double",
            "example" : 0.0158212572962501
          },
          "y" : {
            "type" : "number",
            "description" : "Configured Y position relative to master electronics (meter)",
            "format" : "double",
            "example" : 0.08142596921667565
          },
          "z" : {
            "type" : "number",
            "description" : "Configured Z position relative to master electronics (meter)",
            "format" : "double",
            "example" : 0.34617068793186784
          }
        },
        "description" : "A receiver configuration",
        "example" : {
          "id" : 2339264502380679700,
          "x" : 0.0158212572962501,
          "y" : 0.08142596921667565,
          "z" : 0.34617068793186784
        }
      },
      "ModifyWIFIConfigPayload" : {
        "title" : "ModifyWIFIConfigPayload",
        "required" : [ "mode", "password", "ssid" ],
        "type" : "object",
        "properties" : {
          "mode" : {
            "type" : "string",
            "description" : "Which mode should the WiFi be in?",
            "example" : "ap",
            "enum" : [ "ap", "client" ]
          },
          "password" : {
            "type" : "string",
            "description" : "Password to use for WiFi in Client mode",
            "example" : "10.11.12.1"
          },
          "ssid" : {
            "type" : "string",
            "description" : "WIFI SSID to use for WiFi in Client mode",
            "example" : "10.11.12.94"
          }
        },
        "description" : "Configuration parameters",
        "example" : {
          "mode" : "ap",
          "password" : "10.11.12.1",
          "ssid" : "10.11.12.94"
        }
      },
      "SetDepthExternalPayload" : {
        "title" : "SetDepthExternalPayload",
        "required" : [ "depth", "temp" ],
        "type" : "object",
        "properties" : {
          "depth" : {
            "maximum" : 500,
            "minimum" : 0,
            "type" : "number",
            "description" : "Curent depth (meter)",
            "example" : 3.2
          },
          "temp" : {
            "maximum" : 60,
            "minimum" : -10,
            "type" : "number",
            "description" : "Current water temperature (C)",
            "example" : 11.2
          }
        },
        "description" : "Current locator depth and temperature",
        "example" : {
          "depth" : 3.2,
          "temp" : 11.2
        }
      },
      "SetMasterExternalPayload" : {
        "title" : "SetMasterExternalPayload",
        "required" : [ "lat", "lon", "orientation" ],
        "type" : "object",
        "properties" : {
          "cog" : {
            "maximum" : 359.999,
            "minimum" : -1,
            "type" : "number",
            "description" : "Course over ground (degrees). -1 means no data.",
            "example" : 42.0
          },
          "fix_quality" : {
            "minimum" : 0,
            "type" : "number",
            "description" : "Fix quality. 0 if no data.",
            "example" : 1.0
          },
          "hdop" : {
            "minimum" : -1,
            "type" : "number",
            "description" : "Horizontal dilution of precision. -1 means no data.",
            "example" : 1.9
          },
          "lat" : {
            "maximum" : 90,
            "minimum" : -90,
            "type" : "number",
            "description" : "Current Latitude",
            "example" : 63.422
          },
          "lon" : {
            "maximum" : 180,
            "minimum" : -180,
            "type" : "number",
            "description" : "Current Longitude",
            "example" : 10.424
          },
          "numsats" : {
            "minimum" : -1,
            "type" : "number",
            "description" : "Number of satellites. -1 means no data.",
            "example" : 11.0
          },
          "orientation" : {
            "maximum" : 359.999,
            "minimum" : 0,
            "type" : "number",
            "description" : "Current orientation/compass heading (degrees)",
            "example" : 42.0
          },
          "sog" : {
            "minimum" : -1,
            "type" : "number",
            "description" : "Speed over ground (km/h). -1 means no data.",
            "example" : 0.5
          }
        },
        "description" : "Global master position from external source",
        "example" : {
          "cog" : 42,
          "fix_quality" : 1,
          "hdop" : 1.9,
          "lat" : 63.422,
          "lon" : 10.424,
          "numsats" : 11,
          "orientation" : 42,
          "sog" : 0.5
        }
      },
      "SetNorthImuPayload" : {
        "title" : "SetNorthImuPayload",
        "required" : [ "heading" ],
        "type" : "object",
        "properties" : {
          "heading" : {
            "maximum" : 360,
            "minimum" : 0,
            "type" : "number",
            "description" : "Current heading",
            "example" : 50.0
          }
        },
        "description" : "IMU set north",
        "example" : {
          "heading" : 50
        }
      },
      "SetOrientationExternalPayload" : {
        "title" : "SetOrientationExternalPayload",
        "required" : [ "orientation" ],
        "type" : "object",
        "properties" : {
          "orientation" : {
            "maximum" : 359.999,
            "minimum" : -1,
            "type" : "number",
            "description" : "Current orientation/compass heading (degrees). -1 means no orientation set",
            "example" : 42.0
          }
        },
        "description" : "Set current compass heading of ROV/locator",
        "example" : {
          "orientation" : 42
        }
      },
      "SetVehicleIMUExternalPayload" : {
        "title" : "SetVehicleIMUExternalPayload",
        "required" : [ "pitch", "roll", "x", "y", "yaw", "z" ],
        "type" : "object",
        "properties" : {
          "pitch" : {
            "maximum" : 90,
            "minimum" : -90,
            "type" : "number",
            "description" : "Current pitch of vehicle(degrees).",
            "example" : 30.0
          },
          "roll" : {
            "maximum" : 180,
            "minimum" : -180,
            "type" : "number",
            "description" : "Current roll of vehicle(degrees).",
            "example" : -30.0
          },
          "x" : {
            "maximum" : 20,
            "minimum" : -20,
            "type" : "number",
            "description" : "Current acceleration in x-axis of vehicle.",
            "example" : 10.0
          },
          "y" : {
            "maximum" : 20,
            "minimum" : -20,
            "type" : "number",
            "description" : "Current acceleration in y-axis of vehicle.",
            "example" : -10.0
          },
          "yaw" : {
            "maximum" : 180,
            "minimum" : -180,
            "type" : "number",
            "description" : "Current yaw of vehicle(degrees).",
            "example" : 30.0
          },
          "z" : {
            "maximum" : 20,
            "minimum" : -20,
            "type" : "number",
            "description" : "Current acceleration in z-axis of vehicle.",
            "example" : 5.0
          }
        },
        "description" : "Set current rotation and acceleration of vehicle",
        "example" : {
          "pitch" : 30,
          "roll" : -30,
          "x" : 10,
          "y" : -10,
          "yaw" : 30,
          "z" : 5
        }
      },
      "UpdatePoiPayload" : {
        "title" : "UpdatePoiPayload",
        "required" : [ "depth", "icon", "lat", "lng", "name", "visible" ],
        "type" : "object",
        "properties" : {
          "depth" : {
            "type" : "number",
            "description" : "Depth of POI",
            "format" : "double",
            "example" : 0.9848439086783396
          },
          "icon" : {
            "type" : "string",
            "description" : "Icon of POI",
            "example" : "Ut molestias laboriosam."
          },
          "id" : {
            "type" : "integer",
            "description" : "Unique POI id",
            "format" : "int64",
            "example" : 3408207428662661600
          },
          "lat" : {
            "type" : "number",
            "description" : "Latitude of POI",
            "format" : "double",
            "example" : 0.8147274904139097
          },
          "lng" : {
            "type" : "number",
            "description" : "Longitude of POI",
            "format" : "double",
            "example" : 0.06472337355304676
          },
          "name" : {
            "type" : "string",
            "description" : "Name of POI",
            "example" : "Reprehenderit non architecto quia."
          },
          "visible" : {
            "type" : "boolean",
            "description" : "Visibility of POI",
            "example" : false
          }
        },
        "description" : "A list of all POI",
        "example" : {
          "depth" : 0.9848439086783396,
          "icon" : "Ut molestias laboriosam.",
          "id" : 3408207428662661600,
          "lat" : 0.8147274904139097,
          "lng" : 0.06472337355304676,
          "name" : "Reprehenderit non architecto quia.",
          "visible" : false
        }
      },
      "WaterlinkedAbout" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.about+json; view=default",
        "required" : [ "chipid", "hardware_revision", "product_id", "product_name", "variant", "version", "version_short" ],
        "type" : "object",
        "properties" : {
          "chipid" : {
            "type" : "string",
            "description" : "Chip identifier",
            "example" : "0x123456789"
          },
          "hardware_revision" : {
            "type" : "integer",
            "description" : "Hardware revision",
            "format" : "int64",
            "example" : 1
          },
          "product_id" : {
            "type" : "integer",
            "description" : "Product ID",
            "format" : "int64",
            "example" : 1
          },
          "product_name" : {
            "type" : "string",
            "description" : "Product name",
            "example" : "Underwater GPS"
          },
          "variant" : {
            "type" : "string",
            "description" : "Product variant",
            "example" : "standard"
          },
          "version" : {
            "type" : "string",
            "description" : "Detailed Web Server version string",
            "example" : "1.0.0 (abc.def)"
          },
          "version_short" : {
            "type" : "string",
            "description" : "Short Web Server version string",
            "example" : "1.0.0"
          }
        },
        "description" : "About information (default view)",
        "example" : {
          "chipid" : "0x123456789",
          "hardware_revision" : 1,
          "product_id" : 1,
          "product_name" : "Underwater GPS",
          "variant" : "standard",
          "version" : "1.0.0 (abc.def)",
          "version_short" : "1.0.0"
        }
      },
      "WaterlinkedAccousticPosition" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.accoustic.position+json; view=default",
        "required" : [ "position_valid", "receiver_distance", "receiver_nsd", "receiver_rssi", "receiver_valid", "std", "x", "y", "z" ],
        "type" : "object",
        "properties" : {
          "position_valid" : {
            "type" : "boolean",
            "description" : "Is current position valid or not",
            "example" : true
          },
          "receiver_distance" : {
            "type" : "array",
            "description" : "Measured distance to the locator for each receiver",
            "example" : [ 0.4571247391045424, 0.4571247391045424 ],
            "items" : {
              "type" : "number",
              "format" : "double",
              "example" : 0.4571247391045424
            }
          },
          "receiver_nsd" : {
            "type" : "array",
            "description" : "Measured NSD for each receiver",
            "example" : [ 0.748659470979663, 0.748659470979663 ],
            "items" : {
              "type" : "number",
              "format" : "double",
              "example" : 0.748659470979663
            }
          },
          "receiver_rssi" : {
            "type" : "array",
            "description" : "Measured RSSI for each receiver",
            "example" : [ 0.8800592996534627, 0.8800592996534627, 0.8800592996534627 ],
            "items" : {
              "type" : "number",
              "format" : "double",
              "example" : 0.8800592996534627
            }
          },
          "receiver_valid" : {
            "type" : "array",
            "description" : "Is signal valid or not for each receiver",
            "example" : [ 0.768439233512868, 0.768439233512868 ],
            "items" : {
              "type" : "number",
              "format" : "double",
              "example" : 0.768439233512868
            }
          },
          "std" : {
            "minimum" : 0,
            "type" : "number",
            "description" : "Current acoustic position accuracy (meter)",
            "example" : 0.5
          },
          "x" : {
            "type" : "number",
            "description" : "Current acoustic x position relative to master electronics (meter)",
            "format" : "double",
            "example" : 32.1
          },
          "y" : {
            "type" : "number",
            "description" : "Current acoustic y position relative to master electronics (meter)",
            "format" : "double",
            "example" : 11.2
          },
          "z" : {
            "minimum" : 0,
            "type" : "number",
            "description" : "Current acoustic z position (depth) relative to master electronics (meter)",
            "example" : 10.2
          }
        },
        "description" : "Current relative Locator position (default view)",
        "example" : {
          "position_valid" : true,
          "receiver_distance" : [ 0.4571247391045424, 0.4571247391045424 ],
          "receiver_nsd" : [ 0.748659470979663, 0.748659470979663 ],
          "receiver_rssi" : [ 0.8800592996534627, 0.8800592996534627, 0.8800592996534627 ],
          "receiver_valid" : [ 0.768439233512868, 0.768439233512868 ],
          "std" : 0.5,
          "x" : 32.1,
          "y" : 11.2,
          "z" : 10.2
        }
      },
      "WaterlinkedAntenna_config" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.antenna_config+json; view=default",
        "required" : [ "antenna_rotation", "depth", "x", "y" ],
        "type" : "object",
        "properties" : {
          "antenna_rotation" : {
            "maximum" : 360,
            "minimum" : 0,
            "type" : "integer",
            "description" : "Configured rotation of antenna relative to forward arrow on topside housing. Clockwise is positive direction (degrees)",
            "example" : 90
          },
          "depth" : {
            "maximum" : 10,
            "minimum" : 0.1,
            "type" : "number",
            "description" : "Configured depth relative to surface (meter)",
            "example" : 2.0
          },
          "x" : {
            "maximum" : 100,
            "minimum" : -100,
            "type" : "number",
            "description" : "Configured f position relative to master electronics (meter)",
            "example" : -2.0
          },
          "y" : {
            "maximum" : 100,
            "minimum" : -100,
            "type" : "number",
            "description" : "Configured Y position relative to master electronics (meter)",
            "example" : 2.0
          }
        },
        "description" : "Configuration parameters for antenna set up (default view)",
        "example" : {
          "antenna_rotation" : 90,
          "depth" : 2,
          "x" : -2,
          "y" : 2
        }
      },
      "WaterlinkedConfiguration" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.configuration+json; view=default",
        "required" : [ "channel", "compass", "gps", "locator_type", "static_lat", "static_lon", "static_orientation" ],
        "type" : "object",
        "properties" : {
          "antenna_enabled" : {
            "type" : "boolean",
            "description" : "Enable use of antenna",
            "example" : true
          },
          "channel" : {
            "maximum" : 6000,
            "minimum" : 0,
            "type" : "integer",
            "description" : "Channel to use",
            "example" : 13
          },
          "compass" : {
            "type" : "string",
            "description" : "Compass provider setting",
            "example" : "external",
            "enum" : [ "onboard", "static", "external" ]
          },
          "environment" : {
            "type" : "string",
            "description" : "[Deprecated] Environment setting",
            "example" : "openwater",
            "enum" : [ "reflective", "openwater" ]
          },
          "external_pps_enabled" : {
            "type" : "boolean",
            "description" : "Enable external PPS input to master",
            "example" : false
          },
          "gps" : {
            "type" : "string",
            "description" : "GPS provider setting",
            "example" : "external",
            "enum" : [ "onboard", "static", "external" ]
          },
          "imu_vehicle_enabled" : {
            "type" : "boolean",
            "description" : "[Deprecated] Enable IMU input from vehicle",
            "example" : true
          },
          "locator_type" : {
            "type" : "string",
            "description" : "Locator type in use",
            "example" : "a1",
            "enum" : [ "d1", "a1", "s2", "p2", "u1" ]
          },
          "range_max_x" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "number",
            "description" : "[Deprecated] Max range (meters)",
            "example" : 50.0
          },
          "range_max_y" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "number",
            "description" : "[Deprecated] Max range (meters)",
            "example" : 50.0
          },
          "range_max_z" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "number",
            "description" : "[Deprecated] Max range (meters)",
            "example" : 50.0
          },
          "range_min_x" : {
            "maximum" : 0,
            "minimum" : -100,
            "type" : "number",
            "description" : "[Deprecated] Max range (meters)",
            "example" : -50.0
          },
          "range_min_y" : {
            "maximum" : 0,
            "minimum" : -100,
            "type" : "number",
            "description" : "[Deprecated] Max range (meters)",
            "example" : -50.0
          },
          "search_direction" : {
            "maximum" : 360,
            "minimum" : 0,
            "type" : "number",
            "description" : "Direction of circular search area section",
            "example" : 30.0
          },
          "search_radius" : {
            "maximum" : 300,
            "minimum" : 1,
            "type" : "number",
            "description" : "Radius of circular search area",
            "example" : 150.0
          },
          "search_sector" : {
            "maximum" : 360,
            "minimum" : 1,
            "type" : "number",
            "description" : "Sector angle of circular search area",
            "example" : 90.0
          },
          "speed_of_sound" : {
            "maximum" : 2000,
            "minimum" : 1000,
            "type" : "integer",
            "description" : "Speed of sound use by the system",
            "example" : 1475
          },
          "static_lat" : {
            "maximum" : 90,
            "minimum" : -90,
            "type" : "number",
            "description" : "Latitude to use in static mode",
            "example" : 63.422
          },
          "static_lon" : {
            "maximum" : 180,
            "minimum" : -180,
            "type" : "number",
            "description" : "Longitude to use in static mode",
            "example" : 10.424
          },
          "static_orientation" : {
            "maximum" : 359,
            "minimum" : 0,
            "type" : "number",
            "description" : "Orientation/compass reading to use in static mode (degrees)",
            "example" : 42.0
          }
        },
        "description" : "Configuration parameters (default view)",
        "example" : {
          "antenna_enabled" : true,
          "channel" : 13,
          "compass" : "external",
          "environment" : "openwater",
          "external_pps_enabled" : false,
          "gps" : "external",
          "imu_vehicle_enabled" : true,
          "locator_type" : "a1",
          "range_max_x" : 50,
          "range_max_y" : 50,
          "range_max_z" : 50,
          "range_min_x" : -50,
          "range_min_y" : -50,
          "search_direction" : 30,
          "search_radius" : 150,
          "search_sector" : 90,
          "speed_of_sound" : 1475,
          "static_lat" : 63.422,
          "static_lon" : 10.424,
          "static_orientation" : 42
        }
      },
      "WaterlinkedImu" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.imu+json; view=default",
        "required" : [ "pitch", "progress", "roll", "state", "yaw" ],
        "type" : "object",
        "properties" : {
          "pitch" : {
            "maximum" : 360,
            "minimum" : 0,
            "type" : "number",
            "description" : "Pitch",
            "example" : 0.0
          },
          "progress" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "integer",
            "description" : "Calibration progress",
            "example" : 50
          },
          "roll" : {
            "maximum" : 360,
            "minimum" : 0,
            "type" : "number",
            "description" : "Roll",
            "example" : 0.0
          },
          "state" : {
            "maximum" : 3,
            "minimum" : 0,
            "type" : "integer",
            "description" : "IMU calibration state. 0=running, 1=calibrating",
            "example" : 0
          },
          "yaw" : {
            "maximum" : 360,
            "minimum" : 0,
            "type" : "number",
            "description" : "Yaw",
            "example" : 0.0
          }
        },
        "description" : "IMU status and orientation information (default view)",
        "example" : {
          "pitch" : 0,
          "progress" : 50,
          "roll" : 0,
          "state" : 0,
          "yaw" : 0
        }
      },
      "WaterlinkedIp_config" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.ip_config+json; view=default",
        "required" : [ "address", "dhcp", "dns", "gateway", "prefix" ],
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string",
            "description" : "IP address to use",
            "example" : "10.11.12.94"
          },
          "dhcp" : {
            "type" : "boolean",
            "description" : "DHCP to use",
            "example" : true
          },
          "dns" : {
            "type" : "string",
            "description" : "DNS to use",
            "example" : "10.11.12.1"
          },
          "gateway" : {
            "type" : "string",
            "description" : "Gateway to use",
            "example" : "10.11.12.1"
          },
          "prefix" : {
            "maximum" : 31,
            "minimum" : 1,
            "type" : "integer",
            "description" : "Prefix to use",
            "example" : 24
          }
        },
        "description" : "Configuration parameters (default view)",
        "example" : {
          "address" : "10.11.12.94",
          "dhcp" : true,
          "dns" : "10.11.12.1",
          "gateway" : "10.11.12.1",
          "prefix" : 24
        }
      },
      "WaterlinkedOperation_response" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.operation_response+json; view=default",
        "required" : [ "success" ],
        "type" : "object",
        "properties" : {
          "error" : {
            "type" : "string",
            "description" : "Error if it occurs",
            "example" : "something went wrong"
          },
          "success" : {
            "type" : "boolean",
            "description" : "Status of operation",
            "example" : false
          }
        },
        "description" : "Response from server on operations performed (default view)",
        "example" : {
          "error" : "something went wrong",
          "success" : false
        }
      },
      "WaterlinkedPoi" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.poi+json; view=default",
        "required" : [ "depth", "icon", "lat", "lng", "name", "visible" ],
        "type" : "object",
        "properties" : {
          "depth" : {
            "type" : "number",
            "description" : "Depth of POI",
            "format" : "double",
            "example" : 0.9848439086783396
          },
          "icon" : {
            "type" : "string",
            "description" : "Icon of POI",
            "example" : "Ut molestias laboriosam."
          },
          "id" : {
            "type" : "integer",
            "description" : "Unique POI id",
            "format" : "int64",
            "example" : 3408207428662661600
          },
          "lat" : {
            "type" : "number",
            "description" : "Latitude of POI",
            "format" : "double",
            "example" : 0.8147274904139097
          },
          "lng" : {
            "type" : "number",
            "description" : "Longitude of POI",
            "format" : "double",
            "example" : 0.06472337355304676
          },
          "name" : {
            "type" : "string",
            "description" : "Name of POI",
            "example" : "Reprehenderit non architecto quia."
          },
          "visible" : {
            "type" : "boolean",
            "description" : "Visibility of POI",
            "example" : false
          }
        },
        "description" : "A list of all POI (default view)",
        "example" : {
          "depth" : 0.9848439086783396,
          "icon" : "Ut molestias laboriosam.",
          "id" : 3408207428662661600,
          "lat" : 0.8147274904139097,
          "lng" : 0.06472337355304676,
          "name" : "Reprehenderit non architecto quia.",
          "visible" : false
        }
      },
      "WaterlinkedPoiCollection" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.poi+json; type=collection; view=default",
        "type" : "array",
        "description" : "WaterlinkedPoiCollection is the media type for an array of WaterlinkedPoi (default view)",
        "example" : [ {
          "depth" : 0.9848439086783396,
          "icon" : "Ut molestias laboriosam.",
          "id" : 3408207428662661600,
          "lat" : 0.8147274904139097,
          "lng" : 0.06472337355304676,
          "name" : "Reprehenderit non architecto quia.",
          "visible" : false
        }, {
          "depth" : 0.9848439086783396,
          "icon" : "Ut molestias laboriosam.",
          "id" : 3408207428662661600,
          "lat" : 0.8147274904139097,
          "lng" : 0.06472337355304676,
          "name" : "Reprehenderit non architecto quia.",
          "visible" : false
        } ],
        "items" : {
          "$ref" : "#/components/schemas/WaterlinkedPoi"
        }
      },
      "WaterlinkedReceiver" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.receiver+json; view=default",
        "required" : [ "id", "x", "y", "z" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Unique receiver identifier",
            "format" : "int64",
            "example" : 2339264502380679700
          },
          "x" : {
            "type" : "number",
            "description" : "Configured X position relative to master electronics (meter)",
            "format" : "double",
            "example" : 0.0158212572962501
          },
          "y" : {
            "type" : "number",
            "description" : "Configured Y position relative to master electronics (meter)",
            "format" : "double",
            "example" : 0.08142596921667565
          },
          "z" : {
            "type" : "number",
            "description" : "Configured Z position relative to master electronics (meter)",
            "format" : "double",
            "example" : 0.34617068793186784
          }
        },
        "description" : "A receiver configuration (default view)",
        "example" : {
          "id" : 2339264502380679700,
          "x" : 0.0158212572962501,
          "y" : 0.08142596921667565,
          "z" : 0.34617068793186784
        }
      },
      "WaterlinkedReceiverCollection" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.receiver+json; type=collection; view=default",
        "type" : "array",
        "description" : "WaterlinkedReceiverCollection is the media type for an array of WaterlinkedReceiver (default view)",
        "example" : [ {
          "id" : 2339264502380679700,
          "x" : 0.0158212572962501,
          "y" : 0.08142596921667565,
          "z" : 0.34617068793186784
        }, {
          "id" : 2339264502380679700,
          "x" : 0.0158212572962501,
          "y" : 0.08142596921667565,
          "z" : 0.34617068793186784
        }, {
          "id" : 2339264502380679700,
          "x" : 0.0158212572962501,
          "y" : 0.08142596921667565,
          "z" : 0.34617068793186784
        } ],
        "items" : {
          "$ref" : "#/components/schemas/WaterlinkedReceiver"
        }
      },
      "WaterlinkedStatus" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.status+json; view=default",
        "required" : [ "battery", "gps", "imu" ],
        "type" : "object",
        "properties" : {
          "battery" : {
            "maximum" : 100,
            "minimum" : -1,
            "type" : "integer",
            "description" : "Locator battery level in percent. -1 if not available or applicable",
            "example" : 90
          },
          "gps" : {
            "maximum" : 3,
            "minimum" : 0,
            "type" : "integer",
            "description" : "GPS lock status",
            "example" : 2
          },
          "imu" : {
            "maximum" : 3,
            "minimum" : 0,
            "type" : "integer",
            "description" : "IMU calibration status",
            "example" : 2
          }
        },
        "description" : "Status information (default view)",
        "example" : {
          "battery" : 90,
          "gps" : 2,
          "imu" : 2
        }
      },
      "WaterlinkedTemperature" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.temperature+json; view=default",
        "required" : [ "board", "water" ],
        "type" : "object",
        "properties" : {
          "board" : {
            "type" : "number",
            "description" : "Board temperature (C)",
            "format" : "double",
            "example" : 37.0
          },
          "water" : {
            "type" : "number",
            "description" : "Water temperature (C)",
            "format" : "double",
            "example" : 10.0
          }
        },
        "description" : "Temperature information (default view)",
        "example" : {
          "board" : 37,
          "water" : 10
        }
      },
      "WaterlinkedWifi_config" : {
        "title" : "Mediatype identifier: application/vnd.waterlinked.wifi_config+json; view=default",
        "required" : [ "mode", "password", "ssid" ],
        "type" : "object",
        "properties" : {
          "mode" : {
            "type" : "string",
            "description" : "Which mode should the WiFi be in?",
            "example" : "ap",
            "enum" : [ "ap", "client" ]
          },
          "password" : {
            "type" : "string",
            "description" : "Password to use for WiFi in Client mode",
            "example" : "10.11.12.1"
          },
          "ssid" : {
            "type" : "string",
            "description" : "WIFI SSID to use for WiFi in Client mode",
            "example" : "10.11.12.94"
          }
        },
        "description" : "Configuration parameters (default view)",
        "example" : {
          "mode" : "ap",
          "password" : "10.11.12.1",
          "ssid" : "10.11.12.94"
        }
      },
      "WlExternalLocatorOrientation" : {
        "title" : "Mediatype identifier: application/vnd.wl.external.locator.orientation+json; view=default",
        "required" : [ "orientation" ],
        "type" : "object",
        "properties" : {
          "orientation" : {
            "maximum" : 359.999,
            "minimum" : -1,
            "type" : "number",
            "description" : "Current orientation/compass heading (degrees). -1 means no orientation set",
            "example" : 42.0
          }
        },
        "description" : "Set current compass heading of ROV/locator (default view)",
        "example" : {
          "orientation" : 42
        }
      },
      "WlExternalVehicleImu" : {
        "title" : "Mediatype identifier: application/vnd.wl.external.vehicle.imu+json; view=default",
        "required" : [ "pitch", "roll", "x", "y", "yaw", "z" ],
        "type" : "object",
        "properties" : {
          "pitch" : {
            "maximum" : 90,
            "minimum" : -90,
            "type" : "number",
            "description" : "Current pitch of vehicle(degrees).",
            "example" : 30.0
          },
          "roll" : {
            "maximum" : 180,
            "minimum" : -180,
            "type" : "number",
            "description" : "Current roll of vehicle(degrees).",
            "example" : -30.0
          },
          "x" : {
            "maximum" : 20,
            "minimum" : -20,
            "type" : "number",
            "description" : "Current acceleration in x-axis of vehicle.",
            "example" : 10.0
          },
          "y" : {
            "maximum" : 20,
            "minimum" : -20,
            "type" : "number",
            "description" : "Current acceleration in y-axis of vehicle.",
            "example" : -10.0
          },
          "yaw" : {
            "maximum" : 180,
            "minimum" : -180,
            "type" : "number",
            "description" : "Current yaw of vehicle(degrees).",
            "example" : 30.0
          },
          "z" : {
            "maximum" : 20,
            "minimum" : -20,
            "type" : "number",
            "description" : "Current acceleration in z-axis of vehicle.",
            "example" : 5.0
          }
        },
        "description" : "Set current rotation and acceleration of vehicle (default view)",
        "example" : {
          "pitch" : 30,
          "roll" : -30,
          "x" : 10,
          "y" : -10,
          "yaw" : 30,
          "z" : 5
        }
      },
      "WlSatellitePosition" : {
        "title" : "Mediatype identifier: application/vnd.wl.satellite.position+json; view=default",
        "required" : [ "cog", "fix_quality", "hdop", "lat", "lon", "numsats", "orientation", "sog" ],
        "type" : "object",
        "properties" : {
          "cog" : {
            "maximum" : 359.999,
            "minimum" : -1,
            "type" : "number",
            "description" : "Course over ground (degrees). -1 means no data.",
            "example" : 42.0
          },
          "fix_quality" : {
            "minimum" : 0,
            "type" : "number",
            "description" : "Fix quality. 0 if no data.",
            "example" : 1.0
          },
          "hdop" : {
            "minimum" : -1,
            "type" : "number",
            "description" : "Horizontal dilution of precision. -1 means no data.",
            "example" : 1.9
          },
          "lat" : {
            "maximum" : 90,
            "minimum" : -90,
            "type" : "number",
            "description" : "Current Latitude",
            "example" : 63.422
          },
          "lon" : {
            "maximum" : 180,
            "minimum" : -180,
            "type" : "number",
            "description" : "Current Longitude",
            "example" : 10.424
          },
          "numsats" : {
            "minimum" : -1,
            "type" : "number",
            "description" : "Number of satellites. -1 means no data.",
            "example" : 11.0
          },
          "orientation" : {
            "maximum" : 359.999,
            "minimum" : -1,
            "type" : "number",
            "description" : "Current orientation/compass heading (degrees). -1 means no data.",
            "example" : 42.0
          },
          "sog" : {
            "minimum" : -1,
            "type" : "number",
            "description" : "Speed over ground (km/h). -1 means no data.",
            "example" : 0.5
          }
        },
        "description" : "GPS and IMU position (default view)",
        "example" : {
          "cog" : 42,
          "fix_quality" : 1,
          "hdop" : 1.9,
          "lat" : 63.422,
          "lon" : 10.424,
          "numsats" : 11,
          "orientation" : 42,
          "sog" : 0.5
        }
      },
      "WlStatusGroup" : {
        "title" : "Mediatype identifier: application/vnd.wl.status.group+json; view=default",
        "required" : [ "error_ids", "message", "status", "status_group", "status_group_id" ],
        "type" : "object",
        "properties" : {
          "error_ids" : {
            "type" : "array",
            "description" : "Identifiers for warnings/errors",
            "example" : [ "Quasi itaque nemo dolorem ea molestias.", "Quasi itaque nemo dolorem ea molestias.", "Quasi itaque nemo dolorem ea molestias." ],
            "items" : {
              "type" : "string",
              "example" : "Quasi itaque nemo dolorem ea molestias."
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Message",
            "example" : "Nihil sit qui."
          },
          "status" : {
            "type" : "string",
            "description" : "Status",
            "example" : "warning",
            "enum" : [ "ok", "warning", "error" ]
          },
          "status_group" : {
            "type" : "string",
            "description" : "Status group friendly name",
            "example" : "Temporibus omnis dolor saepe quam."
          },
          "status_group_id" : {
            "type" : "string",
            "description" : "Status group identifier",
            "example" : "Distinctio qui."
          }
        },
        "description" : "Current status from one specific status group (default view)",
        "example" : {
          "error_ids" : [ "Quasi itaque nemo dolorem ea molestias.", "Quasi itaque nemo dolorem ea molestias.", "Quasi itaque nemo dolorem ea molestias." ],
          "message" : "Nihil sit qui.",
          "status" : "warning",
          "status_group" : "Temporibus omnis dolor saepe quam.",
          "status_group_id" : "Distinctio qui."
        }
      },
      "WlStatusGroupCollection" : {
        "title" : "Mediatype identifier: application/vnd.wl.status.group+json; type=collection; view=default",
        "type" : "array",
        "description" : "WlStatusGroupCollection is the media type for an array of WlStatusGroup (default view)",
        "example" : [ {
          "error_ids" : [ "Quasi itaque nemo dolorem ea molestias.", "Quasi itaque nemo dolorem ea molestias.", "Quasi itaque nemo dolorem ea molestias." ],
          "message" : "Nihil sit qui.",
          "status" : "warning",
          "status_group" : "Temporibus omnis dolor saepe quam.",
          "status_group_id" : "Distinctio qui."
        }, {
          "error_ids" : [ "Quasi itaque nemo dolorem ea molestias.", "Quasi itaque nemo dolorem ea molestias.", "Quasi itaque nemo dolorem ea molestias." ],
          "message" : "Nihil sit qui.",
          "status" : "warning",
          "status_group" : "Temporibus omnis dolor saepe quam.",
          "status_group_id" : "Distinctio qui."
        } ],
        "items" : {
          "$ref" : "#/components/schemas/WlStatusGroup"
        }
      },
      "WlWarning" : {
        "title" : "Mediatype identifier: application/vnd.wl.warning+json; view=default",
        "required" : [ "id", "message", "severity" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Identifier",
            "example" : "Cupiditate et laboriosam."
          },
          "message" : {
            "type" : "string",
            "description" : "Message",
            "example" : "Non illo dolor illo facilis nihil nemo."
          },
          "severity" : {
            "type" : "string",
            "description" : "Severity",
            "example" : "Facilis sed animi distinctio praesentium."
          }
        },
        "description" : "Warning message (default view)",
        "example" : {
          "id" : "Cupiditate et laboriosam.",
          "message" : "Non illo dolor illo facilis nihil nemo.",
          "severity" : "Facilis sed animi distinctio praesentium."
        }
      },
      "WlWarningCollection" : {
        "title" : "Mediatype identifier: application/vnd.wl.warning+json; type=collection; view=default",
        "type" : "array",
        "description" : "WlWarningCollection is the media type for an array of WlWarning (default view)",
        "example" : [ {
          "id" : "Cupiditate et laboriosam.",
          "message" : "Non illo dolor illo facilis nihil nemo.",
          "severity" : "Facilis sed animi distinctio praesentium."
        }, {
          "id" : "Cupiditate et laboriosam.",
          "message" : "Non illo dolor illo facilis nihil nemo.",
          "severity" : "Facilis sed animi distinctio praesentium."
        } ],
        "items" : {
          "$ref" : "#/components/schemas/WlWarning"
        }
      },
      "WupdaterApiversion" : {
        "title" : "Mediatype identifier: application/vnd.wupdater.apiversion; view=default",
        "required" : [ "versions" ],
        "type" : "object",
        "properties" : {
          "versions" : {
            "type" : "array",
            "description" : "Supported api versions",
            "example" : [ "v1", "v2" ],
            "items" : {
              "type" : "string",
              "example" : "Dicta rem tenetur commodi eum."
            }
          }
        },
        "description" : "Returns supported api versions (default view)",
        "example" : {
          "versions" : [ "v1", "v2" ]
        }
      },
      "error" : {
        "title" : "Mediatype identifier: application/vnd.goa.error; view=default",
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "an application-specific error code, expressed as a string value.",
            "example" : "invalid_value"
          },
          "detail" : {
            "type" : "string",
            "description" : "a human-readable explanation specific to this occurrence of the problem.",
            "example" : "Value of ID must be an integer"
          },
          "id" : {
            "type" : "string",
            "description" : "a unique identifier for this particular occurrence of the problem.",
            "example" : "3F1FKVRR"
          },
          "meta" : {
            "type" : "object",
            "description" : "a meta object containing non-standard meta-information about the error.",
            "example" : {
              "timestamp" : 1458609066
            }
          },
          "status" : {
            "type" : "string",
            "description" : "the HTTP status code applicable to this problem, expressed as a string value.",
            "example" : "400"
          }
        },
        "description" : "Error response media type (default view)",
        "example" : {
          "code" : "invalid_value",
          "detail" : "Value of ID must be an integer",
          "id" : "3F1FKVRR",
          "meta" : {
            "timestamp" : 1458609066
          },
          "status" : "400"
        }
      }
    },
    "responses" : {
      "BadRequest" : {
        "description" : "Bad Request"
      },
      "Conflict" : {
        "description" : "Conflict"
      },
      "Forbidden" : {
        "description" : "Forbidden"
      },
      "InternalServerError" : {
        "description" : "Internal Server Error"
      },
      "NoContent" : {
        "description" : "No Content"
      },
      "NotFound" : {
        "description" : "Not Found"
      },
      "OK" : {
        "description" : "OK"
      },
      "RequestTimeout" : {
        "description" : "Request Timeout"
      },
      "ServiceUnavailable" : {
        "description" : "Service Unavailable"
      }
    }
  }
}