{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices" : {
      "get" : {
        "tags" : [ "PrivateLinkServices" ],
        "description" : "Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.",
        "operationId" : "PrivateLinkServices_ListAutoApprovedPrivateLinkServices",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "The location of the domain name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoApprovedPrivateLinkServicesResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility" : {
      "post" : {
        "tags" : [ "PrivateLinkServices" ],
        "description" : "Checks whether the subscription is visible to private link service.",
        "operationId" : "PrivateLinkServices_CheckPrivateLinkServiceVisibility",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "The location of the domain name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The request body of CheckPrivateLinkService API call.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckPrivateLinkServiceVisibilityRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. Returns whether the subscription is visible to private link service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateLinkServiceVisibility"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/privateLinkServices" : {
      "get" : {
        "tags" : [ "PrivateLinkServices" ],
        "description" : "Gets all private link service in a subscription.",
        "operationId" : "PrivateLinkServices_ListBySubscription",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of PrivateLinkService resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateLinkServiceListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices" : {
      "get" : {
        "tags" : [ "PrivateLinkServices" ],
        "description" : "Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.",
        "operationId" : "PrivateLinkServices_ListAutoApprovedPrivateLinkServicesByResourceGroup",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "The location of the domain name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoApprovedPrivateLinkServicesResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility" : {
      "post" : {
        "tags" : [ "PrivateLinkServices" ],
        "description" : "Checks whether the subscription is visible to private link service in the specified resource group.",
        "operationId" : "PrivateLinkServices_CheckPrivateLinkServiceVisibilityByResourceGroup",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "The location of the domain name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The request body of CheckPrivateLinkService API call.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckPrivateLinkServiceVisibilityRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. Returns whether the subscription is visible to private link service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateLinkServiceVisibility"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices" : {
      "get" : {
        "tags" : [ "PrivateLinkServices" ],
        "description" : "Gets all private link services in a resource group.",
        "operationId" : "PrivateLinkServices_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of privateLinkService resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateLinkServiceListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}" : {
      "get" : {
        "tags" : [ "PrivateLinkServices" ],
        "description" : "Gets the specified private link service by resource group.",
        "operationId" : "PrivateLinkServices_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the private link service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expands referenced resources.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting PrivateLinkService resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateLinkService"
                }
              }
            }
          },
          "default" : {
            "description" : "Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "PrivateLinkService" ],
        "description" : "Creates or updates an private link service in the specified resource group.",
        "operationId" : "PrivateLinkServices_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the private link service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update private link service operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PrivateLinkService"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting privateLinkService resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateLinkService"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting privateLinkService resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateLinkService"
                }
              }
            }
          },
          "default" : {
            "description" : "Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "PrivateLinkServices" ],
        "description" : "Deletes the specified private link service.",
        "operationId" : "PrivateLinkServices_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the private link service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          },
          "default" : {
            "description" : "Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}/privateEndpointConnections/{peConnectionName}" : {
      "put" : {
        "tags" : [ "PrivateLinkServices" ],
        "description" : "Approve or reject private end point connection for a private link service in a subscription.",
        "operationId" : "PrivateLinkServices_UpdatePrivateEndpointConnection",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the private link service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peConnectionName",
          "in" : "path",
          "description" : "The name of the private end point connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to approve or reject the private end point connection.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PrivateEndpointConnection"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting PrivateEndpointConnection resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrivateEndpointConnection"
                }
              }
            }
          },
          "default" : {
            "description" : "Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "PrivateLinkServices" ],
        "description" : "Delete private end point connection for a private link service in a subscription.",
        "operationId" : "PrivateLinkServices_DeletePrivateEndpointConnection",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the private link service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peConnectionName",
          "in" : "path",
          "description" : "The name of the private end point connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          },
          "default" : {
            "description" : "Error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AutoApprovedPrivateLinkService" : {
        "type" : "object",
        "properties" : {
          "privateLinkService" : {
            "type" : "string",
            "description" : "The id of the private link service resource."
          }
        },
        "description" : "The information of an AutoApprovedPrivateLinkService."
      },
      "AutoApprovedPrivateLinkServicesResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "An array of auto approved private link service.",
            "items" : {
              "$ref" : "#/components/schemas/AutoApprovedPrivateLinkService"
            }
          }
        },
        "description" : "An array of private link service id that can be linked to a private end point with auto approved."
      },
      "CheckPrivateLinkServiceVisibilityRequest" : {
        "type" : "object",
        "properties" : {
          "privateLinkServiceAlias" : {
            "type" : "string",
            "description" : "The alias of the private link service."
          }
        },
        "description" : "Request body of the CheckPrivateLinkServiceVisibility API service call."
      },
      "FrontendIPConfigurationPropertiesFormat" : {
        "type" : "object"
      },
      "NetworkInterfacePropertiesFormat" : {
        "type" : "object"
      },
      "PrivateEndpointConnection" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/PrivateEndpointConnectionProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "The resource type.",
            "readOnly" : true
          }
        },
        "description" : "PrivateEndpointConnection resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "PrivateEndpointConnectionProperties" : {
        "type" : "object",
        "properties" : {
          "privateEndpoint" : {
            "type" : "object",
            "properties" : {
              "etag" : {
                "type" : "string",
                "description" : "A unique read-only string that changes whenever the resource is updated."
              },
              "properties" : {
                "$ref" : "#/components/schemas/PrivateEndpointProperties"
              }
            },
            "description" : "Private endpoint resource."
          },
          "privateLinkServiceConnectionState" : {
            "$ref" : "#/components/schemas/PrivateLinkServiceConnectionState"
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          }
        },
        "description" : "Properties of the PrivateEndpointConnectProperties."
      },
      "PrivateEndpointProperties" : {
        "type" : "object"
      },
      "PrivateLinkService" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated."
          },
          "properties" : {
            "$ref" : "#/components/schemas/PrivateLinkServiceProperties"
          }
        },
        "description" : "Private link service resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "PrivateLinkServiceConnectionState" : {
        "type" : "object",
        "properties" : {
          "actionsRequired" : {
            "type" : "string",
            "description" : "A message indicating if changes on the service provider require any updates on the consumer."
          },
          "description" : {
            "type" : "string",
            "description" : "The reason for approval/rejection of the connection."
          },
          "status" : {
            "type" : "string",
            "description" : "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description" : "A collection of information about the state of the connection between service consumer and provider."
      },
      "PrivateLinkServiceIpConfiguration" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of private link service ip configuration."
          },
          "properties" : {
            "$ref" : "#/components/schemas/PrivateLinkServiceIpConfigurationProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "The resource type.",
            "readOnly" : true
          }
        },
        "description" : "The private link service ip configuration.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "PrivateLinkServiceIpConfigurationProperties" : {
        "type" : "object",
        "properties" : {
          "primary" : {
            "type" : "boolean",
            "description" : "Whether the ip configuration is primary or not."
          },
          "privateIPAddress" : {
            "type" : "string",
            "description" : "The private IP address of the IP configuration."
          },
          "privateIPAddressVersion" : {
            "type" : "string",
            "description" : "IP address version.",
            "enum" : [ "IPv4", "IPv6" ]
          },
          "privateIPAllocationMethod" : {
            "type" : "string",
            "description" : "IP address allocation method.",
            "enum" : [ "Static", "Dynamic" ]
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "subnet" : {
            "type" : "object",
            "properties" : {
              "etag" : {
                "type" : "string",
                "description" : "A unique read-only string that changes whenever the resource is updated."
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
              },
              "properties" : {
                "$ref" : "#/components/schemas/SubnetPropertiesFormat"
              }
            },
            "description" : "Subnet in a virtual network resource."
          }
        },
        "description" : "Properties of private link service IP configuration."
      },
      "PrivateLinkServiceListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "A list of PrivateLinkService resources in a resource group.",
            "items" : {
              "$ref" : "#/components/schemas/PrivateLinkService"
            }
          }
        },
        "description" : "Response for the ListPrivateLinkService API service call."
      },
      "PrivateLinkServiceProperties" : {
        "type" : "object",
        "properties" : {
          "alias" : {
            "type" : "string",
            "description" : "The alias of the private link service.",
            "readOnly" : true
          },
          "autoApproval" : {
            "type" : "object",
            "description" : "The auto-approval list of the private link service.",
            "allOf" : [ {
              "$ref" : "#/components/schemas/ResourceSet"
            } ]
          },
          "fqdns" : {
            "type" : "array",
            "description" : "The list of Fqdn.",
            "items" : {
              "type" : "string"
            }
          },
          "ipConfigurations" : {
            "type" : "array",
            "description" : "An array of private link service IP configurations.",
            "items" : {
              "$ref" : "#/components/schemas/PrivateLinkServiceIpConfiguration"
            }
          },
          "loadBalancerFrontendIpConfigurations" : {
            "type" : "array",
            "description" : "An array of references to the load balancer IP configurations.",
            "items" : {
              "type" : "object",
              "properties" : {
                "etag" : {
                  "type" : "string",
                  "description" : "A unique read-only string that changes whenever the resource is updated."
                },
                "name" : {
                  "type" : "string",
                  "description" : "The name of the resource that is unique within the set of frontend IP configurations used by the load balancer. This name can be used to access the resource."
                },
                "properties" : {
                  "$ref" : "#/components/schemas/FrontendIPConfigurationPropertiesFormat"
                },
                "type" : {
                  "type" : "string",
                  "description" : "Type of the resource.",
                  "readOnly" : true
                },
                "zones" : {
                  "type" : "array",
                  "description" : "A list of availability zones denoting the IP allocated for the resource needs to come from.",
                  "items" : {
                    "type" : "string"
                  }
                }
              },
              "description" : "Frontend IP address of the load balancer."
            }
          },
          "networkInterfaces" : {
            "type" : "array",
            "description" : "An array of references to the network interfaces created for this private link service.",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "etag" : {
                  "type" : "string",
                  "description" : "A unique read-only string that changes whenever the resource is updated."
                },
                "properties" : {
                  "$ref" : "#/components/schemas/NetworkInterfacePropertiesFormat"
                }
              },
              "description" : "A network interface in a resource group."
            }
          },
          "privateEndpointConnections" : {
            "type" : "array",
            "description" : "An array of list about connections to the private endpoint.",
            "items" : {
              "$ref" : "#/components/schemas/PrivateEndpointConnection"
            }
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "visibility" : {
            "type" : "object",
            "description" : "The visibility list of the private link service.",
            "allOf" : [ {
              "$ref" : "#/components/schemas/ResourceSet"
            } ]
          }
        },
        "description" : "Properties of the private link service."
      },
      "PrivateLinkServiceVisibility" : {
        "type" : "object",
        "properties" : {
          "visible" : {
            "type" : "boolean",
            "description" : "Private Link Service Visibility (True/False)."
          }
        },
        "description" : "Response for the CheckPrivateLinkServiceVisibility API service call."
      },
      "ResourceSet" : {
        "type" : "object",
        "properties" : {
          "subscriptions" : {
            "type" : "array",
            "description" : "The list of subscriptions.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "The base resource set for visibility and auto-approval."
      },
      "SubnetPropertiesFormat" : {
        "type" : "object"
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}