{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/publicIPPrefixes" : {
      "get" : {
        "tags" : [ "PublicIPPrefixes" ],
        "description" : "Gets all the public IP prefixes in a subscription.",
        "operationId" : "PublicIPPrefixes_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of PublicIPPrefix resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicIPPrefixListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPPrefixes" : {
      "get" : {
        "tags" : [ "PublicIPPrefixes" ],
        "description" : "Gets all public IP prefixes in a resource group.",
        "operationId" : "PublicIPPrefixes_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of PublicIPPrefix resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicIPPrefixListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPPrefixes/{publicIpPrefixName}" : {
      "get" : {
        "tags" : [ "PublicIPPrefixes" ],
        "description" : "Gets the specified public IP prefix in a specified resource group.",
        "operationId" : "PublicIPPrefixes_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicIpPrefixName",
          "in" : "path",
          "description" : "The name of the public IP prefix.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expands referenced resources.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting PublicIPPrefix resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicIPPrefix"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "PublicIPPrefixes" ],
        "description" : "Creates or updates a static or dynamic public IP prefix.",
        "operationId" : "PublicIPPrefixes_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicIpPrefixName",
          "in" : "path",
          "description" : "The name of the public IP prefix.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update public IP prefix operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicIPPrefix"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting PublicIPPrefix resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicIPPrefix"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting PublicIPPrefix resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicIPPrefix"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "PublicIPPrefixes" ],
        "description" : "Deletes the specified public IP prefix.",
        "operationId" : "PublicIPPrefixes_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicIpPrefixName",
          "in" : "path",
          "description" : "The name of the PublicIpPrefix.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Request successful. Resource does not exist."
          }
        }
      },
      "patch" : {
        "tags" : [ "PublicIPPrefixes" ],
        "description" : "Updates public IP prefix tags.",
        "operationId" : "PublicIPPrefixes_UpdateTags",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicIpPrefixName",
          "in" : "path",
          "description" : "The name of the public IP prefix.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update public IP prefix tags.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Resource tags."
                  }
                },
                "description" : "Tags object for patch operations."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting PublicIPPrefix resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicIPPrefix"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PublicIPPrefix" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated."
          },
          "properties" : {
            "$ref" : "#/components/schemas/PublicIPPrefixPropertiesFormat"
          },
          "sku" : {
            "$ref" : "#/components/schemas/PublicIPPrefixSku"
          },
          "zones" : {
            "type" : "array",
            "description" : "A list of availability zones denoting the IP allocated for the resource needs to come from.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Public IP prefix resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "PublicIPPrefixListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of public IP prefixes that exists in a resource group.",
            "items" : {
              "$ref" : "#/components/schemas/PublicIPPrefix"
            }
          }
        },
        "description" : "Response for ListPublicIpPrefixes API service call."
      },
      "PublicIPPrefixPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "ipPrefix" : {
            "type" : "string",
            "description" : "The allocated Prefix."
          },
          "ipTags" : {
            "type" : "array",
            "description" : "The list of tags associated with the public IP prefix.",
            "items" : {
              "type" : "object",
              "properties" : {
                "ipTagType" : {
                  "type" : "string",
                  "description" : "The IP tag type. Example: FirstPartyUsage."
                },
                "tag" : {
                  "type" : "string",
                  "description" : "The value of the IP tag associated with the public IP. Example: SQL."
                }
              },
              "description" : "Contains the IpTag associated with the object."
            }
          },
          "loadBalancerFrontendIpConfiguration" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "prefixLength" : {
            "type" : "integer",
            "description" : "The Length of the Public IP Prefix.",
            "format" : "int32"
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "publicIPAddressVersion" : {
            "type" : "string",
            "description" : "IP address version.",
            "enum" : [ "IPv4", "IPv6" ]
          },
          "publicIPAddresses" : {
            "type" : "array",
            "description" : "The list of all referenced PublicIPAddresses.",
            "items" : {
              "$ref" : "#/components/schemas/ReferencedPublicIpAddress"
            }
          },
          "resourceGuid" : {
            "type" : "string",
            "description" : "The resource GUID property of the public IP prefix resource."
          }
        },
        "description" : "Public IP prefix properties."
      },
      "PublicIPPrefixSku" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Name of a public IP prefix SKU.",
            "enum" : [ "Standard" ]
          }
        },
        "description" : "SKU of a public IP prefix."
      },
      "ReferencedPublicIpAddress" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The PublicIPAddress Reference."
          }
        },
        "description" : "Reference to a public IP address."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}