{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ServiceFabricManagementClient",
    "description" : "Azure Service Fabric Resource Provider API Client",
    "version" : "2019-03-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.ServiceFabric/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "summary" : "Lists all of the available Service Fabric resource provider API operations.",
        "description" : "Get the list of available Service Fabric resource provider API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes" : {
      "get" : {
        "tags" : [ "ApplicationType" ],
        "summary" : "Gets the list of application type name resources created in the specified Service Fabric cluster resource.",
        "description" : "Gets all application type name resources created or in the process of being created in the Service Fabric cluster resource.",
        "operationId" : "ApplicationTypes_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationTypeResourceList"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes/{applicationTypeName}" : {
      "get" : {
        "tags" : [ "ApplicationType" ],
        "summary" : "Gets a Service Fabric application type name resource.",
        "description" : "Get a Service Fabric application type name resource created or in the process of being created in the Service Fabric cluster resource.",
        "operationId" : "ApplicationTypes_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationTypeName",
          "in" : "path",
          "description" : "The name of the application type name resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationTypeResource"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ApplicationType" ],
        "summary" : "Creates or updates a Service Fabric application type name resource.",
        "description" : "Create or update a Service Fabric application type name resource with the specified name.",
        "operationId" : "ApplicationTypes_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationTypeName",
          "in" : "path",
          "description" : "The name of the application type name resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "requestBody" : {
          "description" : "The application type name resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationTypeResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationTypeResource"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ApplicationType" ],
        "summary" : "Deletes a Service Fabric application type name resource.",
        "description" : "Delete a Service Fabric application type name resource with the specified name.",
        "operationId" : "ApplicationTypes_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationTypeName",
          "in" : "path",
          "description" : "The name of the application type name resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "The request was accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "The resource was not found."
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes/{applicationTypeName}/versions" : {
      "get" : {
        "tags" : [ "ApplicationTypeVersion" ],
        "summary" : "Gets the list of application type version resources created in the specified Service Fabric application type name resource.",
        "description" : "Gets all application type version resources created or in the process of being created in the Service Fabric application type name resource.",
        "operationId" : "ApplicationTypeVersions_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationTypeName",
          "in" : "path",
          "description" : "The name of the application type name resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationTypeVersionResourceList"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes/{applicationTypeName}/versions/{version}" : {
      "get" : {
        "tags" : [ "ApplicationTypeVersion" ],
        "summary" : "Gets a Service Fabric application type version resource.",
        "description" : "Get a Service Fabric application type version resource created or in the process of being created in the Service Fabric application type name resource.",
        "operationId" : "ApplicationTypeVersions_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationTypeName",
          "in" : "path",
          "description" : "The name of the application type name resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The application type version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationTypeVersionResource"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ApplicationTypeVersion" ],
        "summary" : "Creates or updates a Service Fabric application type version resource.",
        "description" : "Create or update a Service Fabric application type version resource with the specified name.",
        "operationId" : "ApplicationTypeVersions_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationTypeName",
          "in" : "path",
          "description" : "The name of the application type name resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The application type version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "requestBody" : {
          "description" : "The application type version resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationTypeVersionResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "The request was accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationTypeVersionResource"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ApplicationTypeVersion" ],
        "summary" : "Deletes a Service Fabric application type version resource.",
        "description" : "Delete a Service Fabric application type version resource with the specified name.",
        "operationId" : "ApplicationTypeVersions_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationTypeName",
          "in" : "path",
          "description" : "The name of the application type name resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The application type version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "The request was accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "The resource was not found."
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications" : {
      "get" : {
        "tags" : [ "Application" ],
        "summary" : "Gets the list of application resources created in the specified Service Fabric cluster resource.",
        "description" : "Gets all application resources created or in the process of being created in the Service Fabric cluster resource.",
        "operationId" : "Applications_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationResourceList"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}" : {
      "get" : {
        "tags" : [ "Application" ],
        "summary" : "Gets a Service Fabric application resource.",
        "description" : "Get a Service Fabric application resource created or in the process of being created in the Service Fabric cluster resource.",
        "operationId" : "Applications_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationName",
          "in" : "path",
          "description" : "The name of the application resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationResource"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Application" ],
        "summary" : "Creates or updates a Service Fabric application resource.",
        "description" : "Create or update a Service Fabric application resource with the specified name.",
        "operationId" : "Applications_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationName",
          "in" : "path",
          "description" : "The name of the application resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "requestBody" : {
          "description" : "The application resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "The request was accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationResource"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Application" ],
        "summary" : "Deletes a Service Fabric application resource.",
        "description" : "Delete a Service Fabric application resource with the specified name.",
        "operationId" : "Applications_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationName",
          "in" : "path",
          "description" : "The name of the application resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "The request was accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "The resource was not found."
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Application" ],
        "summary" : "Updates a Service Fabric application resource.",
        "description" : "Update a Service Fabric application resource with the specified name.",
        "operationId" : "Applications_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationName",
          "in" : "path",
          "description" : "The name of the application resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "requestBody" : {
          "description" : "The application resource for patch operations.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationResourceUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "The request was accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationResource"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}/services" : {
      "get" : {
        "tags" : [ "Service" ],
        "summary" : "Gets the list of service resources created in the specified Service Fabric application resource.",
        "description" : "Gets all service resources created or in the process of being created in the Service Fabric application resource.",
        "operationId" : "Services_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationName",
          "in" : "path",
          "description" : "The name of the application resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResourceList"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}/services/{serviceName}" : {
      "get" : {
        "tags" : [ "Service" ],
        "summary" : "Gets a Service Fabric service resource.",
        "description" : "Get a Service Fabric service resource created or in the process of being created in the Service Fabric application resource.",
        "operationId" : "Services_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationName",
          "in" : "path",
          "description" : "The name of the application resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service resource in the format of {applicationName}~{serviceName}.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResource"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Service" ],
        "summary" : "Creates or updates a Service Fabric service resource.",
        "description" : "Create or update a Service Fabric service resource with the specified name.",
        "operationId" : "Services_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationName",
          "in" : "path",
          "description" : "The name of the application resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service resource in the format of {applicationName}~{serviceName}.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "requestBody" : {
          "description" : "The service resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "The request was accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResource"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Service" ],
        "summary" : "Deletes a Service Fabric service resource.",
        "description" : "Delete a Service Fabric service resource with the specified name.",
        "operationId" : "Services_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationName",
          "in" : "path",
          "description" : "The name of the application resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service resource in the format of {applicationName}~{serviceName}.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "The request was accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "The resource was not found."
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Service" ],
        "summary" : "Updates a Service Fabric service resource.",
        "description" : "Update a Service Fabric service resource with the specified name.",
        "operationId" : "Services_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The customer subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationName",
          "in" : "path",
          "description" : "The name of the application resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service resource in the format of {applicationName}~{serviceName}.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-03-01-preview",
            "enum" : [ "2019-03-01-preview" ]
          }
        } ],
        "requestBody" : {
          "description" : "The service resource for patch operations.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceResourceUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "The request was accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResource"
                }
              }
            }
          },
          "default" : {
            "description" : "The detailed error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApplicationMetricDescription" : {
        "type" : "object",
        "properties" : {
          "maximumCapacity" : {
            "type" : "integer",
            "description" : "The maximum node capacity for Service Fabric application.\nThis is the maximum Load for an instance of this application on a single node. Even if the capacity of node is greater than this value, Service Fabric will limit the total load of services within the application on each node to this value.\nIf set to zero, capacity for this metric is unlimited on each node.\nWhen creating a new application with application capacity defined, the product of MaximumNodes and this value must always be smaller than or equal to TotalApplicationCapacity.\nWhen updating existing application with application capacity, the product of MaximumNodes and this value must always be smaller than or equal to TotalApplicationCapacity.\n",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the metric."
          },
          "reservationCapacity" : {
            "type" : "integer",
            "description" : "The node reservation capacity for Service Fabric application.\nThis is the amount of load which is reserved on nodes which have instances of this application.\nIf MinimumNodes is specified, then the product of these values will be the capacity reserved in the cluster for the application.\nIf set to zero, no capacity is reserved for this metric.\nWhen setting application capacity or when updating application capacity; this value must be smaller than or equal to MaximumCapacity for each metric.\n",
            "format" : "int64"
          },
          "totalApplicationCapacity" : {
            "type" : "integer",
            "description" : "The total metric capacity for Service Fabric application.\nThis is the total metric capacity for this application in the cluster. Service Fabric will try to limit the sum of loads of services within the application to this value.\nWhen creating a new application with application capacity defined, the product of MaximumNodes and MaximumCapacity must always be smaller than or equal to this value.\n",
            "format" : "int64"
          }
        },
        "description" : "Describes capacity information for a custom resource balancing metric. This can be used to limit the total consumption of this metric by the services of this application.\n"
      },
      "ApplicationMetricDescriptionList" : {
        "type" : "array",
        "description" : "List of application capacity metric description.",
        "items" : {
          "$ref" : "#/components/schemas/ApplicationMetricDescription"
        }
      },
      "ApplicationParameterList" : {
        "type" : "object",
        "additionalProperties" : {
          "type" : "string"
        },
        "description" : "List of application parameters with overridden values from their default values specified in the application manifest."
      },
      "ApplicationResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ApplicationResourceProperties"
          }
        },
        "description" : "The application resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProxyResource"
        } ]
      },
      "ApplicationResourceList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of application list results if there are any.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationResource"
            }
          }
        },
        "description" : "The list of application resources."
      },
      "ApplicationResourceProperties" : {
        "properties" : {
          "provisioningState" : {
            "type" : "string",
            "description" : "The current deployment or provisioning state, which only appears in the response",
            "readOnly" : true
          },
          "typeName" : {
            "$ref" : "#/components/schemas/ApplicationTypeName"
          }
        },
        "description" : "The application resource properties.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApplicationResourceUpdateProperties"
        } ]
      },
      "ApplicationResourceUpdate" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ApplicationResourceUpdateProperties"
          }
        },
        "description" : "The application resource for patch operations.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProxyResource"
        } ]
      },
      "ApplicationResourceUpdateProperties" : {
        "type" : "object",
        "properties" : {
          "maximumNodes" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The maximum number of nodes where Service Fabric will reserve capacity for this application. Note that this does not mean that the services of this application will be placed on all of those nodes. By default, the value of this property is zero and it means that the services can be placed on any node.",
            "format" : "int64",
            "default" : 0
          },
          "metrics" : {
            "$ref" : "#/components/schemas/ApplicationMetricDescriptionList"
          },
          "minimumNodes" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "The minimum number of nodes where Service Fabric will reserve capacity for this application. Note that this does not mean that the services of this application will be placed on all of those nodes. If this property is set to zero, no capacity will be reserved. The value of this property cannot be more than the value of the MaximumNodes property.",
            "format" : "int64"
          },
          "parameters" : {
            "$ref" : "#/components/schemas/ApplicationParameterList"
          },
          "removeApplicationCapacity" : {
            "type" : "boolean",
            "description" : "Remove the current application capacity settings."
          },
          "typeVersion" : {
            "$ref" : "#/components/schemas/ApplicationTypeVersion"
          },
          "upgradePolicy" : {
            "$ref" : "#/components/schemas/ApplicationUpgradePolicy"
          }
        },
        "description" : "The application resource properties for patch operations."
      },
      "ApplicationTypeName" : {
        "type" : "string",
        "description" : "The application type name as defined in the application manifest."
      },
      "ApplicationTypeParameterList" : {
        "type" : "object",
        "additionalProperties" : {
          "type" : "string"
        },
        "description" : "List of application type parameters that can be overridden when creating or updating the application."
      },
      "ApplicationTypeResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ApplicationTypeResourceProperties"
          }
        },
        "description" : "The application type name resource",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProxyResource"
        } ]
      },
      "ApplicationTypeResourceList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of application type list results if there are any.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationTypeResource"
            }
          }
        },
        "description" : "The list of application type names."
      },
      "ApplicationTypeResourceProperties" : {
        "type" : "object",
        "properties" : {
          "provisioningState" : {
            "type" : "string",
            "description" : "The current deployment or provisioning state, which only appears in the response.",
            "readOnly" : true
          }
        },
        "description" : "The application type name properties"
      },
      "ApplicationTypeVersion" : {
        "type" : "string",
        "description" : "The version of the application type as defined in the application manifest."
      },
      "ApplicationTypeVersionResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ApplicationTypeVersionResourceProperties"
          }
        },
        "description" : "An application type version resource for the specified application type name resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProxyResource"
        } ]
      },
      "ApplicationTypeVersionResourceList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of application type version list results if there are any.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationTypeVersionResource"
            }
          }
        },
        "description" : "The list of application type version resources for the specified application type name resource."
      },
      "ApplicationTypeVersionResourceProperties" : {
        "required" : [ "appPackageUrl" ],
        "type" : "object",
        "properties" : {
          "appPackageUrl" : {
            "type" : "string",
            "description" : "The URL to the application package"
          },
          "defaultParameterList" : {
            "$ref" : "#/components/schemas/ApplicationTypeParameterList"
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current deployment or provisioning state, which only appears in the response",
            "readOnly" : true
          }
        },
        "description" : "The properties of the application type version resource."
      },
      "ApplicationUpgradePolicy" : {
        "type" : "object",
        "properties" : {
          "applicationHealthPolicy" : {
            "$ref" : "#/components/schemas/ArmApplicationHealthPolicy"
          },
          "forceRestart" : {
            "$ref" : "#/components/schemas/ForceRestart"
          },
          "rollingUpgradeMonitoringPolicy" : {
            "$ref" : "#/components/schemas/ArmRollingUpgradeMonitoringPolicy"
          },
          "upgradeReplicaSetCheckTimeout" : {
            "type" : "string",
            "description" : "The maximum amount of time to block processing of an upgrade domain and prevent loss of availability when there are unexpected issues. When this timeout expires, processing of the upgrade domain will proceed regardless of availability loss issues. The timeout is reset at the start of each upgrade domain. Valid values are between 0 and 42949672925 inclusive. (unsigned 32-bit integer)."
          }
        },
        "description" : "Describes the policy for a monitored application upgrade."
      },
      "ArmApplicationHealthPolicy" : {
        "type" : "object",
        "properties" : {
          "considerWarningAsError" : {
            "type" : "boolean",
            "description" : "Indicates whether warnings are treated with the same severity as errors.",
            "default" : false
          },
          "defaultServiceTypeHealthPolicy" : {
            "$ref" : "#/components/schemas/ArmServiceTypeHealthPolicy"
          },
          "maxPercentUnhealthyDeployedApplications" : {
            "type" : "integer",
            "description" : "The maximum allowed percentage of unhealthy deployed applications. Allowed values are Byte values from zero to 100.\nThe percentage represents the maximum tolerated percentage of deployed applications that can be unhealthy before the application is considered in error.\nThis is calculated by dividing the number of unhealthy deployed applications over the number of nodes where the application is currently deployed on in the cluster.\nThe computation rounds up to tolerate one failure on small numbers of nodes. Default percentage is zero.\n"
          },
          "serviceTypeHealthPolicyMap" : {
            "$ref" : "#/components/schemas/ArmServiceTypeHealthPolicyMap"
          }
        },
        "description" : "Defines a health policy used to evaluate the health of an application or one of its children entities.\n"
      },
      "ArmRollingUpgradeMonitoringPolicy" : {
        "type" : "object",
        "properties" : {
          "failureAction" : {
            "type" : "string",
            "description" : "The activation Mode of the service package",
            "enum" : [ "Rollback", "Manual" ]
          },
          "healthCheckRetryTimeout" : {
            "$ref" : "#/components/schemas/HealthCheckRetryTimeout"
          },
          "healthCheckStableDuration" : {
            "$ref" : "#/components/schemas/HealthCheckStableDuration"
          },
          "healthCheckWaitDuration" : {
            "$ref" : "#/components/schemas/HealthCheckWaitDuration"
          },
          "upgradeDomainTimeout" : {
            "$ref" : "#/components/schemas/UpgradeDomainTimeout"
          },
          "upgradeTimeout" : {
            "$ref" : "#/components/schemas/UpgradeTimeout"
          }
        },
        "description" : "The policy used for monitoring the application upgrade"
      },
      "ArmServiceTypeHealthPolicy" : {
        "type" : "object",
        "properties" : {
          "maxPercentUnhealthyPartitionsPerService" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "integer",
            "description" : "The maximum percentage of partitions per service allowed to be unhealthy before your application is considered in error.\n"
          },
          "maxPercentUnhealthyReplicasPerPartition" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "integer",
            "description" : "The maximum percentage of replicas per partition allowed to be unhealthy before your application is considered in error.\n"
          },
          "maxPercentUnhealthyServices" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "integer",
            "description" : "The maximum percentage of services allowed to be unhealthy before your application is considered in error.\n"
          }
        },
        "description" : "Represents the health policy used to evaluate the health of services belonging to a service type.\n"
      },
      "ArmServiceTypeHealthPolicyMap" : {
        "type" : "object",
        "additionalProperties" : {
          "$ref" : "#/components/schemas/ArmServiceTypeHealthPolicy"
        },
        "description" : "Defines a ServiceTypeHealthPolicy per service type name.\n\nThe entries in the map replace the default service type health policy for each specified service type.\nFor example, in an application that contains both a stateless gateway service type and a stateful engine service type, the health policies for the stateless and stateful services can be configured differently.\nWith policy per service type, there's more granular control of the health of the service.\n\nIf no policy is specified for a service type name, the DefaultServiceTypeHealthPolicy is used for evaluation.\n"
      },
      "AvailableOperationDisplay" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Operation description"
          },
          "operation" : {
            "type" : "string",
            "description" : "The operation that can be performed."
          },
          "provider" : {
            "type" : "string",
            "description" : "The name of the provider."
          },
          "resource" : {
            "type" : "string",
            "description" : "The resource on which the operation is performed"
          }
        },
        "description" : "Operation supported by the Service Fabric resource provider"
      },
      "CorrelationSchemeList" : {
        "type" : "array",
        "description" : "A list that describes the correlation of the service with other services.",
        "items" : {
          "$ref" : "#/components/schemas/ServiceCorrelationDescription"
        }
      },
      "ErrorModel" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/ErrorModelError"
          }
        },
        "description" : "The structure of the error."
      },
      "ErrorModelError" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code."
          },
          "message" : {
            "type" : "string",
            "description" : "The error message."
          }
        },
        "description" : "The error details."
      },
      "ForceRestart" : {
        "type" : "boolean",
        "description" : "If true, then processes are forcefully restarted during upgrade even when the code version has not changed (the upgrade only changes configuration or data).",
        "default" : false
      },
      "HealthCheckRetryTimeout" : {
        "type" : "string",
        "description" : "The amount of time to retry health evaluation when the application or cluster is unhealthy before FailureAction is executed. It is first interpreted as a string representing an ISO 8601 duration. If that fails, then it is interpreted as a number representing the total number of milliseconds.",
        "default" : "PT0H10M0S"
      },
      "HealthCheckStableDuration" : {
        "type" : "string",
        "description" : "The amount of time that the application or cluster must remain healthy before the upgrade proceeds to the next upgrade domain. It is first interpreted as a string representing an ISO 8601 duration. If that fails, then it is interpreted as a number representing the total number of milliseconds.",
        "default" : "PT0H2M0S"
      },
      "HealthCheckWaitDuration" : {
        "type" : "string",
        "description" : "The amount of time to wait after completing an upgrade domain before applying health policies. It is first interpreted as a string representing an ISO 8601 duration. If that fails, then it is interpreted as a number representing the total number of milliseconds.",
        "default" : "0"
      },
      "MoveCost" : {
        "type" : "string",
        "description" : "Specifies the move cost for the service.",
        "enum" : [ "Zero", "Low", "Medium", "High" ]
      },
      "NamedPartitionSchemeDescription" : {
        "properties" : {
          "Count" : {
            "type" : "integer",
            "description" : "The number of partitions."
          },
          "Names" : {
            "type" : "array",
            "description" : "Array of size specified by the ‘Count’ parameter, for the names of the partitions.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Describes the named partition scheme of the service.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/PartitionSchemeDescription"
        }, {
          "type" : "object",
          "description" : "NamedPartitionSchemeDescription"
        } ]
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of operation list results if there are any.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of operations supported by the Service Fabric resource provider.",
            "items" : {
              "$ref" : "#/components/schemas/OperationResult"
            }
          }
        },
        "description" : "Describes the result of the request to list Service Fabric resource provider operations."
      },
      "OperationResult" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/AvailableOperationDisplay"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the operation."
          },
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to use for getting the next set of results."
          },
          "origin" : {
            "type" : "string",
            "description" : "Origin result"
          }
        },
        "description" : "Available operation list result"
      },
      "PartitionScheme" : {
        "type" : "string",
        "description" : "Enumerates the ways that a service can be partitioned.",
        "enum" : [ "Invalid", "Singleton", "UniformInt64Range", "Named" ]
      },
      "PartitionSchemeDescription" : {
        "required" : [ "partitionScheme" ],
        "type" : "object",
        "properties" : {
          "partitionScheme" : {
            "$ref" : "#/components/schemas/PartitionScheme"
          }
        },
        "description" : "Describes how the service is partitioned.",
        "discriminator" : {
          "propertyName" : "partitionScheme"
        }
      },
      "ProxyResource" : {
        "type" : "object",
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "Azure resource etag.",
            "readOnly" : true
          },
          "id" : {
            "type" : "string",
            "description" : "Azure resource identifier.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Azure resource location."
          },
          "name" : {
            "type" : "string",
            "description" : "Azure resource name.",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Azure resource tags."
          },
          "type" : {
            "type" : "string",
            "description" : "Azure resource type.",
            "readOnly" : true
          }
        },
        "description" : "The resource model definition for proxy-only resource."
      },
      "ServiceCorrelationDescription" : {
        "required" : [ "scheme", "serviceName" ],
        "type" : "object",
        "properties" : {
          "scheme" : {
            "$ref" : "#/components/schemas/ServiceCorrelationScheme"
          },
          "serviceName" : {
            "$ref" : "#/components/schemas/ServiceName"
          }
        },
        "description" : "Creates a particular correlation between services."
      },
      "ServiceCorrelationScheme" : {
        "type" : "string",
        "description" : "The service correlation scheme.",
        "enum" : [ "Invalid", "Affinity", "AlignedAffinity", "NonAlignedAffinity" ]
      },
      "ServiceKind" : {
        "type" : "string",
        "description" : "The kind of service (Stateless or Stateful).",
        "enum" : [ "Invalid", "Stateless", "Stateful" ]
      },
      "ServiceLoadMetricDescription" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "defaultLoad" : {
            "type" : "integer",
            "description" : "Used only for Stateless services. The default amount of load, as a number, that this service creates for this metric."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the metric. If the service chooses to report load during runtime, the load metric name should match the name that is specified in Name exactly. Note that metric names are case sensitive."
          },
          "primaryDefaultLoad" : {
            "type" : "integer",
            "description" : "Used only for Stateful services. The default amount of load, as a number, that this service creates for this metric when it is a Primary replica."
          },
          "secondaryDefaultLoad" : {
            "type" : "integer",
            "description" : "Used only for Stateful services. The default amount of load, as a number, that this service creates for this metric when it is a Secondary replica."
          },
          "weight" : {
            "$ref" : "#/components/schemas/ServiceLoadMetricWeight"
          }
        },
        "description" : "Specifies a metric to load balance a service during runtime."
      },
      "ServiceLoadMetricWeight" : {
        "type" : "string",
        "description" : "Determines the metric weight relative to the other metrics that are configured for this service. During runtime, if two metrics end up in conflict, the Cluster Resource Manager prefers the metric with the higher weight.",
        "enum" : [ "Zero", "Low", "Medium", "High" ]
      },
      "ServiceLoadMetricsList" : {
        "type" : "array",
        "description" : "The service load metrics is given as an array of ServiceLoadMetricDescription objects.",
        "items" : {
          "$ref" : "#/components/schemas/ServiceLoadMetricDescription"
        }
      },
      "ServiceName" : {
        "type" : "string",
        "description" : "The full name of the service with 'fabric:' URI scheme."
      },
      "ServicePlacementPoliciesList" : {
        "type" : "array",
        "description" : "A list that describes the correlation of the service with other services.",
        "items" : {
          "$ref" : "#/components/schemas/ServicePlacementPolicyDescription"
        }
      },
      "ServicePlacementPolicyDescription" : {
        "required" : [ "Type" ],
        "type" : "object",
        "properties" : {
          "Type" : {
            "$ref" : "#/components/schemas/ServicePlacementPolicyType"
          }
        },
        "description" : "Describes the policy to be used for placement of a Service Fabric service.",
        "discriminator" : {
          "propertyName" : "Type"
        }
      },
      "ServicePlacementPolicyType" : {
        "type" : "string",
        "description" : "The type of placement policy for a service fabric service. Following are the possible values.",
        "enum" : [ "Invalid", "InvalidDomain", "RequiredDomain", "PreferredPrimaryDomain", "RequiredDomainDistribution", "NonPartiallyPlaceService" ]
      },
      "ServiceResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ServiceResourceProperties"
          }
        },
        "description" : "The service resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProxyResource"
        } ]
      },
      "ServiceResourceList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of service list results if there are any.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ServiceResource"
            }
          }
        },
        "description" : "The list of service resources."
      },
      "ServiceResourceProperties" : {
        "properties" : {
          "partitionDescription" : {
            "$ref" : "#/components/schemas/PartitionSchemeDescription"
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current deployment or provisioning state, which only appears in the response",
            "readOnly" : true
          },
          "serviceKind" : {
            "$ref" : "#/components/schemas/ServiceKind"
          },
          "servicePackageActivationMode" : {
            "type" : "string",
            "description" : "The activation Mode of the service package",
            "enum" : [ "SharedProcess", "ExclusiveProcess" ]
          },
          "serviceTypeName" : {
            "type" : "string",
            "description" : "The name of the service type"
          }
        },
        "description" : "The service resource properties.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ServiceResourcePropertiesBase"
        } ]
      },
      "ServiceResourcePropertiesBase" : {
        "type" : "object",
        "properties" : {
          "correlationScheme" : {
            "$ref" : "#/components/schemas/CorrelationSchemeList"
          },
          "defaultMoveCost" : {
            "$ref" : "#/components/schemas/MoveCost"
          },
          "placementConstraints" : {
            "type" : "string",
            "description" : "The placement constraints as a string. Placement constraints are boolean expressions on node properties and allow for restricting a service to particular nodes based on the service requirements. For example, to place a service on nodes where NodeType is blue specify the following: \"NodeColor == blue)\"."
          },
          "serviceLoadMetrics" : {
            "$ref" : "#/components/schemas/ServiceLoadMetricsList"
          },
          "servicePlacementPolicies" : {
            "$ref" : "#/components/schemas/ServicePlacementPoliciesList"
          }
        },
        "description" : "The common service resource properties."
      },
      "ServiceResourceUpdate" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ServiceResourceUpdateProperties"
          }
        },
        "description" : "The service resource for patch operations.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProxyResource"
        } ]
      },
      "ServiceResourceUpdateProperties" : {
        "properties" : {
          "serviceKind" : {
            "$ref" : "#/components/schemas/ServiceKind"
          }
        },
        "description" : "The service resource properties for patch operations.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ServiceResourcePropertiesBase"
        } ]
      },
      "SingletonPartitionSchemeDescription" : {
        "description" : "Describes the partition scheme of a singleton-partitioned, or non-partitioned service.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/PartitionSchemeDescription"
        }, {
          "type" : "object",
          "description" : "SingletonPartitionSchemeDescription"
        } ]
      },
      "StatefulServiceProperties" : {
        "properties" : {
          "hasPersistedState" : {
            "type" : "boolean",
            "description" : "A flag indicating whether this is a persistent service which stores states on the local disk. If it is then the value of this property is true, if not it is false."
          },
          "minReplicaSetSize" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The minimum replica set size as a number."
          },
          "quorumLossWaitDuration" : {
            "type" : "string",
            "description" : "The maximum duration for which a partition is allowed to be in a state of quorum loss, represented in ISO 8601 format (hh:mm:ss.s).",
            "format" : "date-time"
          },
          "replicaRestartWaitDuration" : {
            "type" : "string",
            "description" : "The duration between when a replica goes down and when a new replica is created, represented in ISO 8601 format (hh:mm:ss.s).",
            "format" : "date-time"
          },
          "standByReplicaKeepDuration" : {
            "type" : "string",
            "description" : "The definition on how long StandBy replicas should be maintained before being removed, represented in ISO 8601 format (hh:mm:ss.s).",
            "format" : "date-time"
          },
          "targetReplicaSetSize" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The target replica set size as a number."
          }
        },
        "description" : "The properties of a stateful service resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ServiceResourceProperties"
        } ]
      },
      "StatefulServiceUpdateProperties" : {
        "properties" : {
          "minReplicaSetSize" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The minimum replica set size as a number."
          },
          "quorumLossWaitDuration" : {
            "type" : "string",
            "description" : "The maximum duration for which a partition is allowed to be in a state of quorum loss, represented in ISO 8601 format (hh:mm:ss.s).",
            "format" : "date-time"
          },
          "replicaRestartWaitDuration" : {
            "type" : "string",
            "description" : "The duration between when a replica goes down and when a new replica is created, represented in ISO 8601 format (hh:mm:ss.s).",
            "format" : "date-time"
          },
          "standByReplicaKeepDuration" : {
            "type" : "string",
            "description" : "The definition on how long StandBy replicas should be maintained before being removed, represented in ISO 8601 format (hh:mm:ss.s).",
            "format" : "date-time"
          },
          "targetReplicaSetSize" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The target replica set size as a number."
          }
        },
        "description" : "The properties of a stateful service resource for patch operations.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ServiceResourceUpdateProperties"
        } ]
      },
      "StatelessServiceProperties" : {
        "properties" : {
          "instanceCount" : {
            "minimum" : -1,
            "type" : "integer",
            "description" : "The instance count."
          }
        },
        "description" : "The properties of a stateless service resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ServiceResourceProperties"
        } ]
      },
      "StatelessServiceUpdateProperties" : {
        "properties" : {
          "instanceCount" : {
            "minimum" : -1,
            "type" : "integer",
            "description" : "The instance count."
          }
        },
        "description" : "The properties of a stateless service resource for patch operations.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ServiceResourceUpdateProperties"
        } ]
      },
      "UniformInt64RangePartitionSchemeDescription" : {
        "properties" : {
          "Count" : {
            "type" : "integer",
            "description" : "The number of partitions."
          },
          "HighKey" : {
            "type" : "string",
            "description" : "String indicating the upper bound of the partition key range that\nshould be split between the partition ‘Count’\n"
          },
          "LowKey" : {
            "type" : "string",
            "description" : "String indicating the lower bound of the partition key range that\nshould be split between the partition ‘Count’\n"
          }
        },
        "description" : "Describes a partitioning scheme where an integer range is allocated evenly across a number of partitions.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/PartitionSchemeDescription"
        }, {
          "type" : "object",
          "description" : "UniformInt64RangePartitionSchemeDescription"
        } ]
      },
      "UpgradeDomainTimeout" : {
        "type" : "string",
        "description" : "The amount of time each upgrade domain has to complete before FailureAction is executed. It is first interpreted as a string representing an ISO 8601 duration. If that fails, then it is interpreted as a number representing the total number of milliseconds.",
        "default" : "P10675199DT02H48M05.4775807S"
      },
      "UpgradeTimeout" : {
        "type" : "string",
        "description" : "The amount of time the overall upgrade has to complete before FailureAction is executed. It is first interpreted as a string representing an ISO 8601 duration. If that fails, then it is interpreted as a number representing the total number of milliseconds.",
        "default" : "P10675199DT02H48M05.4775807S"
      }
    },
    "parameters" : {
      "api-version" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "default" : "2019-03-01-preview",
          "enum" : [ "2019-03-01-preview" ]
        }
      },
      "applicationName" : {
        "name" : "applicationName",
        "in" : "path",
        "description" : "The name of the application resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "applicationTypeName" : {
        "name" : "applicationTypeName",
        "in" : "path",
        "description" : "The name of the application type name resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "clusterNameParameter" : {
        "name" : "clusterName",
        "in" : "path",
        "description" : "The name of the cluster resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "resourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "serviceName" : {
        "name" : "serviceName",
        "in" : "path",
        "description" : "The name of the service resource in the format of {applicationName}~{serviceName}.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "subscriptionId" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The customer subscription identifier.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "version" : {
        "name" : "version",
        "in" : "path",
        "description" : "The application type version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}