{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "GalleryManagementClient",
    "description" : "The Admin Gallery Management Client.",
    "version" : "2015-04-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Gallery.Admin/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "summary" : "Gets the available gallery admin operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/OperationDisplayDefinition"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the REST operation."
          },
          "origin" : {
            "type" : "string",
            "description" : "Origin of the REST operation."
          }
        },
        "description" : "Represents a REST operation."
      },
      "OperationDisplayDefinition" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description of the REST operation."
          },
          "operation" : {
            "type" : "string",
            "description" : "Type of REST operation."
          },
          "provider" : {
            "type" : "string",
            "description" : "Provider of the REST operation."
          },
          "resource" : {
            "type" : "string",
            "description" : "Resource returned by the REST operation."
          }
        },
        "description" : "Information about the REST operation."
      },
      "OperationList" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of operations.",
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "List of operations."
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "URI of the resource.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Location of the resource.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the resource.",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "List of key-value pairs.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource.",
            "readOnly" : true
          }
        },
        "description" : "Base Resource Object."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client API Version.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "default" : "2016-05-01"
        }
      },
      "FilterParameter" : {
        "name" : "$filter",
        "in" : "query",
        "description" : "OData filter parameter.",
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}