{"openapi":"3.0.1","info":{"title":"SubscriptionClient","description":"The User Subscription Management Client.","version":"2015-11-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/delegatedProviders/{delegatedProviderId}/offers":{"get":{"tags":["DelegatedProviderOffers"],"description":"Get the list of offers for the specified delegated provider.","operationId":"DelegatedProviderOffers_List","parameters":[{"name":"delegatedProviderId","in":"path","description":"Id of the delegated provider.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2015-11-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OfferList"}}}}}}},"/delegatedProviders/{delegatedProviderId}/offers/{offerName}":{"get":{"tags":["DelegatedProviderOffers"],"description":"Get the specified offer for the delegated provider.","operationId":"DelegatedProviderOffers_Get","parameters":[{"name":"delegatedProviderId","in":"path","description":"Id of the delegated provider.","required":true,"schema":{"type":"string"}},{"name":"offerName","in":"path","description":"Name of the offer.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2015-11-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Offer"}}}}}}},"/offers":{"get":{"tags":["Offers"],"description":"Get the list of public offers for the root provider.","operationId":"Offers_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2015-11-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OfferList"}}}}}}}},"components":{"schemas":{"Offer":{"type":"object","properties":{"description":{"type":"string","description":"Description of offer."},"displayName":{"type":"string","description":"Display name of offer."},"id":{"type":"string","description":"The offer ID"},"name":{"type":"string","description":"The name of the offer."}},"description":"Represents an offering of services against which a subscription can be created."},"OfferList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to next page."},"value":{"type":"array","description":"List of public offers.","items":{"$ref":"#/components/schemas/Offer"}}},"description":"List of public offers."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 flow"}}}}