{"openapi":"3.0.1","info":{"title":"SubscriptionsManagementClient","description":"The Admin Subscriptions Management Client.","version":"2015-11-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders":{"get":{"tags":["DelegatedProviders"],"description":"Get the list of delegatedProviders.","operationId":"DelegatedProviders_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2015-11-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"List of subscriptions."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProvider}":{"get":{"tags":["DelegatedProviders"],"description":"Get the specified delegated provider.","operationId":"DelegatedProviders_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"delegatedProvider","in":"path","description":"DelegatedProvider identifier.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2015-11-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"delegatedProviderSubscriptionId":{"type":"string","description":"Parent DelegatedProvider subscription identifier."},"displayName":{"type":"string","description":"Subscription name."},"externalReferenceId":{"type":"string","description":"External reference identifier."},"id":{"type":"string","description":"Fully qualified identifier."},"offerId":{"type":"string","description":"Identifier of the offer under the scope of a delegated provider."},"owner":{"type":"string","description":"Subscription owner."},"routingResourceManagerType":{"type":"string","description":"Resource manager type.","enum":["Default","Admin"]},"state":{"type":"string","description":"Subscription notification state.","enum":["NotDefined","Enabled","Warned","PastDue","Disabled","Deleted","Deleting","PartiallyDeleted"]},"subscriptionId":{"type":"string","description":"Subscription identifier."},"tenantId":{"type":"string","description":"Directory tenant identifier."}},"description":"List of supported operations."}}}}}}}},"components":{"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 flow"}}}}