{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Native Ads Publisher API",
    "description" : "This is a Native Ads Publisher API it provides same functionality as Native Ads Publisher Account GUI.\n",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.nativeads.com/"
  } ],
  "paths" : {
    "/auth/default/login" : {
      "post" : {
        "tags" : [ "auth" ],
        "description" : "Returns Native Ads Publisher API token",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "password", "username" ],
                "type" : "object",
                "properties" : {
                  "username" : {
                    "type" : "string",
                    "description" : "Native Ads Publisher username"
                  },
                  "password" : {
                    "type" : "string",
                    "description" : "Native Ads Publisher password"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "authentication response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "error message",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/modelError"
                }
              }
            }
          }
        }
      }
    },
    "/publisher/reports/daily" : {
      "get" : {
        "tags" : [ "reports" ],
        "description" : "Returns publisher statistics split by date",
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "description" : "Native Ads Publisher API authentication token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "start date in format YYYY-MM-DD",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "end date in format YYYY-MM-DD",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "maximum number of results per page",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "report response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/reportsDailyResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "error message",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/modelError"
                }
              }
            }
          }
        }
      }
    },
    "/publisher/reports/website" : {
      "get" : {
        "tags" : [ "reports" ],
        "description" : "Returns publisher statistics split by website",
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "description" : "Native Ads Publisher API authentication token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "start date in format YYYY-MM-DD",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "end date in format YYYY-MM-DD",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "maximum number of results per page",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "report response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/reportsWebsiteResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "authentication error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/modelError"
                }
              }
            }
          }
        }
      }
    },
    "/publisher/reports/widget" : {
      "get" : {
        "tags" : [ "reports" ],
        "description" : "Returns publisher statistics split by widget",
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "description" : "Native Ads Publisher API authentication token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "start date in format YYYY-MM-DD",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "end date in format YYYY-MM-DD",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "maximum number of results per page",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "report response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/reportsWidgetResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "authentication error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/modelError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "authResponse" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "token" : {
            "type" : "string"
          }
        }
      },
      "modelError" : {
        "type" : "object",
        "properties" : {
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "success" : {
            "type" : "boolean"
          }
        }
      },
      "reportsDailyItem" : {
        "type" : "object",
        "properties" : {
          "clicks" : {
            "type" : "string"
          },
          "cpc" : {
            "type" : "string"
          },
          "ctr" : {
            "type" : "string"
          },
          "date" : {
            "type" : "string"
          },
          "earnings" : {
            "type" : "string"
          },
          "impressions" : {
            "type" : "string"
          },
          "net_ecpm" : {
            "type" : "string"
          },
          "rpm" : {
            "type" : "string"
          }
        }
      },
      "reportsDailyResponse" : {
        "type" : "object",
        "properties" : {
          "items" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/reportsDailyItem"
            }
          },
          "success" : {
            "type" : "boolean"
          },
          "total_count" : {
            "type" : "integer"
          },
          "totals" : {
            "$ref" : "#/components/schemas/totals"
          }
        }
      },
      "reportsWebsiteItem" : {
        "type" : "object",
        "properties" : {
          "clicks" : {
            "type" : "string"
          },
          "cpc" : {
            "type" : "string"
          },
          "ctr" : {
            "type" : "string"
          },
          "date" : {
            "type" : "string"
          },
          "earnings" : {
            "type" : "string"
          },
          "impressions" : {
            "type" : "string"
          },
          "net_ecpm" : {
            "type" : "string"
          },
          "rpm" : {
            "type" : "string"
          }
        }
      },
      "reportsWebsiteResponse" : {
        "type" : "object",
        "properties" : {
          "items" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/reportsWebsiteItem"
            }
          },
          "success" : {
            "type" : "boolean"
          },
          "total_count" : {
            "type" : "integer"
          },
          "totals" : {
            "$ref" : "#/components/schemas/totals"
          }
        }
      },
      "reportsWidgetItem" : {
        "type" : "object",
        "properties" : {
          "campaign" : {
            "type" : "string",
            "description" : "widget name"
          },
          "campaign_id" : {
            "type" : "string",
            "description" : "widget id"
          },
          "clicks" : {
            "type" : "string"
          },
          "cpc" : {
            "type" : "string"
          },
          "ctr" : {
            "type" : "string"
          },
          "earnings" : {
            "type" : "string"
          },
          "impressions" : {
            "type" : "string"
          },
          "net_ecpm" : {
            "type" : "string"
          },
          "rpm" : {
            "type" : "string"
          }
        }
      },
      "reportsWidgetResponse" : {
        "type" : "object",
        "properties" : {
          "items" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/reportsWidgetItem"
            }
          },
          "success" : {
            "type" : "boolean"
          },
          "total_count" : {
            "type" : "integer"
          },
          "totals" : {
            "$ref" : "#/components/schemas/totals"
          }
        }
      },
      "totals" : {
        "type" : "object",
        "properties" : {
          "total_clicks" : {
            "type" : "string"
          },
          "total_cpc" : {
            "type" : "string"
          },
          "total_ctr" : {
            "type" : "string"
          },
          "total_earnings" : {
            "type" : "string"
          },
          "total_impressions" : {
            "type" : "string"
          },
          "total_net_ecpm" : {
            "type" : "string"
          },
          "total_rpm" : {
            "type" : "string"
          }
        }
      }
    }
  }
}