{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ADHybridHealthService",
    "description" : "REST APIs for Azure Active Directory Connect Health",
    "version" : "2014-01-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.ADHybridHealthService/addsservices" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the details of Active Directory Domain Service, for a tenant, that are onboarded to Azure Active Directory Connect Health.",
        "operationId" : "addsServices_list",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "The service property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceType",
          "in" : "query",
          "description" : "The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skipCount",
          "in" : "query",
          "description" : "The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "takeCount",
          "in" : "query",
          "description" : "The take count , which specifies the number of elements that can be returned from a sequence.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : " The list of Active Directory Domain Controller services.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Services"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Adds" ],
        "description" : "Onboards a service for a given tenant in Azure Active Directory Connect Health.",
        "operationId" : "addsServices_add",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The service object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceProperties"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Adds the Active Directory Domain Controller Services.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceProperties"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/premiumCheck" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Gets the details of Active Directory Domain Services for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.",
        "operationId" : "addsServices_listPremiumServices",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "The service property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceType",
          "in" : "query",
          "description" : "The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skipCount",
          "in" : "query",
          "description" : "The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "takeCount",
          "in" : "query",
          "description" : "The take count , which specifies the number of elements that can be returned from a sequence.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of premium services.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Services"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Gets the details of an Active Directory Domain Service for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.",
        "operationId" : "addsServices_get",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Active Directory Domain Controller service as specified by the serviceName property. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceProperties"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Services" ],
        "description" : "Deletes an Active Directory Domain Service which is onboarded to Azure Active Directory Connect Health.",
        "operationId" : "addsServices_delete",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service which needs to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "confirm",
          "in" : "query",
          "description" : "Indicates if the service will be permanently deleted or disabled. True indicates that the service will be permanently deleted and False indicates that the service will be marked disabled and then deleted after 30 days, if it is not re-registered.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Successfully deleted the service."
          }
        }
      },
      "patch" : {
        "tags" : [ "Services" ],
        "description" : "Updates an Active Directory Domain Service properties of an onboarded service.",
        "operationId" : "addsServices_update",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service which needs to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The service object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceProperties"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceProperties"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/addomainservicemembers" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the details of the servers, for a given Active Directory Domain Service, that are onboarded to Azure Active Directory Connect Health.",
        "operationId" : "adDomainServiceMembers_list",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The server property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGroupbySite",
          "in" : "query",
          "description" : "Indicates if the result should be grouped by site or not.",
          "required" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "The custom query.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nextPartitionKey",
          "in" : "query",
          "description" : "The next partition key to query for.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ " " ]
          }
        }, {
          "name" : "nextRowKey",
          "in" : "query",
          "description" : "The next row key to query for.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ " " ]
          }
        }, {
          "name" : "takeCount",
          "in" : "query",
          "description" : "The take count , which specifies the number of elements that can be returned from a sequence.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of Active Directory Domain Servers.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddsServiceMembers"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/addsservicemembers" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the details of the Active Directory Domain servers, for a given Active Directory Domain Service, that are onboarded to Azure Active Directory Connect Health.",
        "operationId" : "addsServiceMembers_list",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The server property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of Active Directory Domain Servers. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddsServiceMembers"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/alerts" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the alerts for a given Active Directory Domain Service.",
        "operationId" : "alerts_listAddsAlerts",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The alert property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The alert state to query for.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The start date to query for.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The end date till when to query for.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of alerts for the given service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alerts"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/configuration" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the service configurations.",
        "operationId" : "configuration_listAddsConfigurations",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "grouping",
          "in" : "query",
          "description" : "The grouping for configurations.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Active Directory Domain Controller service configuration. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddsConfiguration"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/dimensions/{dimension}" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the dimensions for a given dimension type in a server.",
        "operationId" : "dimensions_listAddsDimensions",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dimension",
          "in" : "path",
          "description" : "The dimension type.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of dimensions for a server. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dimensions"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/features/{featureName}/userpreference" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the user preferences for a given feature.",
        "operationId" : "addsServicesUserPreference_get",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureName",
          "in" : "path",
          "description" : "The name of the feature.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The user preference settings. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserPreference"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Adds" ],
        "description" : "Adds the user preferences for a given feature.",
        "operationId" : "addsServicesUserPreference_add",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureName",
          "in" : "path",
          "description" : "The name of the feature.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The user preference setting.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserPreference"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : " Successfully added the user preference settings. "
          }
        }
      },
      "delete" : {
        "tags" : [ "Adds" ],
        "description" : "Deletes the user preferences for a given feature.",
        "operationId" : "addsServicesUserPreference_delete",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureName",
          "in" : "path",
          "description" : "The name of the feature.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted the user preference settings. "
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/forestsummary" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the forest summary for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.",
        "operationId" : "addsServices_getForestSummary",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of forest summary for the service. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForestSummary"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the service related metrics information.",
        "operationId" : "addsServices_listMetricMetadata",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "The metric metadata property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "perfCounter",
          "in" : "query",
          "description" : "Indicates if only performance counter metrics are requested.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of metric metadata for a service. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricMetadataList"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata/{metricName}" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the service related metric information.",
        "operationId" : "addsServices_getMetricMetadata",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "The metric name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : " The metric metadata for the service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricMetadata"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata/{metricName}/groups/{groupName}" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the service related metrics for a given metric and group combination.",
        "operationId" : "addsServices_getMetricMetadataForGroup",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "The metric name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupKey",
          "in" : "query",
          "description" : "The group key",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromDate",
          "in" : "query",
          "description" : "The start date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "The end date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The metric sets for a given service and group. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricSets"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the server related metrics for a given metric and group combination.",
        "operationId" : "addsService_getMetrics",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "The metric name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupKey",
          "in" : "query",
          "description" : "The group key",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromDate",
          "in" : "query",
          "description" : "The start date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "The end date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The metric sets for the service. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricSets"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}/average" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the average of the metric values for a given metric and group combination.",
        "operationId" : "addsServices_listMetricsAverage",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "The metric name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of metrics. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Metrics"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}/sum" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the sum of the metric values for a given metric and group combination.",
        "operationId" : "addsServices_listMetricsSum",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "The metric name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of aum of the metric values for a given service. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Metrics"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationdetails" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets complete domain controller list along with replication details for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.",
        "operationId" : "addsServices_listReplicationDetails",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The server property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "withDetails",
          "in" : "query",
          "description" : "Indicates if InboundReplicationNeighbor details are required or not.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of replication details for a service. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReplicationDetailsList"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationstatus" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets Replication status for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.",
        "operationId" : "addsServicesReplicationStatus_get",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The replication status for a service. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReplicationStatus"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationsummary" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets complete domain controller list along with replication details for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.",
        "operationId" : "addsServices_listReplicationSummary",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The server property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isGroupbySite",
          "in" : "query",
          "description" : "Indicates if the result should be grouped by site or not.",
          "required" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "The custom query.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nextPartitionKey",
          "in" : "query",
          "description" : "The next partition key to query for.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ " " ]
          }
        }, {
          "name" : "nextRowKey",
          "in" : "query",
          "description" : "The next row key to query for.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ " " ]
          }
        }, {
          "name" : "takeCount",
          "in" : "query",
          "description" : "The take count , which specifies the number of elements that can be returned from a sequence.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of replication summary for a service. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReplicationSummaryList"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the details of the servers, for a given Active Directory Domain Controller service, that are onboarded to Azure Active Directory Connect Health Service.",
        "operationId" : "addsServicesServiceMembers_list",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The server property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dimensionType",
          "in" : "query",
          "description" : "The server specific dimension.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dimensionSignature",
          "in" : "query",
          "description" : "The value of the dimension.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of service members for a given service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceMembers"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Adds" ],
        "description" : "Onboards  a server, for a given Active Directory Domain Controller service, to Azure Active Directory Connect Health Service.",
        "operationId" : "addsServicesServiceMembers_add",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service under which the server is to be onboarded.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The server object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceMember"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added the service member.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceMember"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the details of a server, for a given Active Directory Domain Controller service, that are onboarded to Azure Active Directory Connect Health Service.",
        "operationId" : "addsServiceMembers_get",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceMemberId",
          "in" : "path",
          "description" : "The server Id.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The service member details for a given service. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceMember"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Adds" ],
        "description" : "Deletes a Active Directory Domain Controller server that has been onboarded to Azure Active Directory Connect Health Service.",
        "operationId" : "addsServiceMembers_delete",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceMemberId",
          "in" : "path",
          "description" : "The server Id.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "confirm",
          "in" : "query",
          "description" : "Indicates if the server will be permanently deleted or disabled. True indicates that the server will be permanently deleted and False indicates that the server will be marked disabled and then deleted after 30 days, if it is not re-registered.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted the service member."
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}/alerts" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the details of an alert for a given Active Directory Domain Controller service and server combination.",
        "operationId" : "addsServices_listServerAlerts",
        "parameters" : [ {
          "name" : "serviceMemberId",
          "in" : "path",
          "description" : "The server Id for which the alert details needs to be queried.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The alert property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The alert state to query for.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The start date to query for.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The end date till when to query for.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of server alerts.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alerts"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}/credentials" : {
      "get" : {
        "tags" : [ "Adds" ],
        "description" : "Gets the credentials of the server which is needed by the agent to connect to Azure Active Directory Connect Health Service.",
        "operationId" : "addsServiceMembers_listCredentials",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceMemberId",
          "in" : "path",
          "description" : "The server Id.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of server credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Credentials"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/configuration" : {
      "get" : {
        "tags" : [ "Configuration" ],
        "description" : "Gets the details of a tenant onboarded to Azure Active Directory Connect Health.",
        "operationId" : "configuration_get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The tenant details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tenant"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Configuration" ],
        "description" : "Onboards a tenant in Azure Active Directory Connect Health.",
        "operationId" : "configuration_add",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully added the tenant.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tenant"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Configuration" ],
        "description" : "Updates tenant properties for tenants onboarded to Azure Active Directory Connect Health.",
        "operationId" : "configuration_update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The tenant object with the properties set to the updated value.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Tenant"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated the tenant.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tenant"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/operations" : {
      "get" : {
        "tags" : [ "operations" ],
        "description" : "Lists the available Azure Data Factory API operations.",
        "operationId" : "operations_list",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of operations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/reports/DevOps/IsDevOps" : {
      "get" : {
        "tags" : [ "DevOps" ],
        "description" : "Checks if the user is enabled for Dev Ops access.",
        "operationId" : "reports_getDevOps",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Indicates if the user is Dev Ops or not.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/service/{serviceName}/servicemembers/{serviceMemberId}/connectors" : {
      "get" : {
        "tags" : [ "ServiceMembers" ],
        "description" : "Gets the connector details for a service.",
        "operationId" : "serviceMembers_listConnectors",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceMemberId",
          "in" : "path",
          "description" : "The server Id.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of connector details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Connectors"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Gets the details of services, for a tenant, that are onboarded to Azure Active Directory Connect Health.",
        "operationId" : "services_list",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "The service property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceType",
          "in" : "query",
          "description" : "The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skipCount",
          "in" : "query",
          "description" : "The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "takeCount",
          "in" : "query",
          "description" : "The take count , which specifies the number of elements that can be returned from a sequence.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of services.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Services"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Services" ],
        "description" : "Onboards a service for a given tenant in Azure Active Directory Connect Health.",
        "operationId" : "services_add",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The service object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceProperties"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added the service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceProperties"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/premiumCheck" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Gets the details of services for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.",
        "operationId" : "services_listPremium",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "The service property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceType",
          "in" : "query",
          "description" : "The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skipCount",
          "in" : "query",
          "description" : "The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "takeCount",
          "in" : "query",
          "description" : "The take count , which specifies the number of elements that can be returned from a sequence.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of premium services.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Services"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Gets the details of a service for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.",
        "operationId" : "services_get",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of services.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceProperties"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Services" ],
        "description" : "Deletes a service which is onboarded to Azure Active Directory Connect Health.",
        "operationId" : "services_delete",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service which needs to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "confirm",
          "in" : "query",
          "description" : "Indicates if the service will be permanently deleted or disabled. True indicates that the service will be permanently deleted and False indicates that the service will be marked disabled and then deleted after 30 days, if it is not re-registered.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Successfully deleted the service."
          }
        }
      },
      "patch" : {
        "tags" : [ "Services" ],
        "description" : "Updates the service properties of an onboarded service.",
        "operationId" : "services_update",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service which needs to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The service object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceProperties"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated the service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceProperties"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/TenantWhitelisting/{featureName}" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Checks if the tenant, to which a service is registered, is whitelisted to use a feature.",
        "operationId" : "services_getTenantWhitelisting",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureName",
          "in" : "path",
          "description" : "The name of the feature.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Indicates if a tenant is whitelisted for a feature or not.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/alerts" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "Gets the alerts for a given service.",
        "operationId" : "services_listAlerts",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The alert property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The alert state to query for.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The start date to query for.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The end date till when to query for.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of alerts.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alerts"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/checkServiceFeatureAvailibility/{featureName}" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Checks if the service has all the pre-requisites met to use a feature.",
        "operationId" : "services_getFeatureAvailibility",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureName",
          "in" : "path",
          "description" : "The name of the feature.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Indicates if the feature is available or not.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/exporterrors/counts" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Gets the count of latest AAD export errors.",
        "operationId" : "services_listExportErrors",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of export errors.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorCounts"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/exporterrors/listV2" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : " Gets the categorized export errors.",
        "operationId" : "services_listExportErrorsV2",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "errorBucket",
          "in" : "query",
          "description" : "The error category to query for.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of merged export errors.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MergedExportErrors"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/exportstatus" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Gets the export status.",
        "operationId" : "services_listExportStatus",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of export statuses.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExportStatuses"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/feedbacktype/alerts/feedback" : {
      "post" : {
        "tags" : [ "Feedback" ],
        "description" : "Adds an alert feedback submitted by customer.",
        "operationId" : "services_addAlertFeedback",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The alert feedback.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertFeedback"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added alert feedback.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertFeedback"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/feedbacktype/alerts/{shortName}/alertfeedback" : {
      "get" : {
        "tags" : [ "Feedback" ],
        "description" : "Gets a list of all alert feedback for a given tenant and alert type.",
        "operationId" : "services_listAlertFeedback",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shortName",
          "in" : "path",
          "description" : "The name of the alert.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of alert feedback.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertFeedbacks"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metricmetadata" : {
      "get" : {
        "tags" : [ "Metrics" ],
        "description" : "Gets the service related metrics information.",
        "operationId" : "services_listMetricMetadata",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "The metric metadata property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "perfCounter",
          "in" : "query",
          "description" : "Indicates if only performance counter metrics are requested.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of metric metadata for a given service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricMetadataList"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metricmetadata/{metricName}" : {
      "get" : {
        "tags" : [ "Metrics" ],
        "description" : "Gets the service related metrics information.",
        "operationId" : "services_getMetricMetadata",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "The metric name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The metric metadata for a given metric.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricMetadata"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metricmetadata/{metricName}/groups/{groupName}" : {
      "get" : {
        "tags" : [ "Metrics" ],
        "description" : "Gets the service related metrics for a given metric and group combination.",
        "operationId" : "services_getMetricMetadataForGroup",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "The metric name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupKey",
          "in" : "query",
          "description" : "The group key",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromDate",
          "in" : "query",
          "description" : "The start date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "The end date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The metric sets for a given service and group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricSets"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metrics/{metricName}/groups/{groupName}" : {
      "get" : {
        "tags" : [ "Metrics" ],
        "description" : "Gets the server related metrics for a given metric and group combination.",
        "operationId" : "service_getMetrics",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "The metric name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupKey",
          "in" : "query",
          "description" : "The group key",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromDate",
          "in" : "query",
          "description" : "The start date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "The end date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The metric sets for a given service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricSets"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metrics/{metricName}/groups/{groupName}/average" : {
      "get" : {
        "tags" : [ "Metrics" ],
        "description" : "Gets the average of the metric values for a given metric and group combination.",
        "operationId" : "services_listMetricsAverage",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "The metric name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of average metrics for a given service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Metrics"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metrics/{metricName}/groups/{groupName}/sum" : {
      "get" : {
        "tags" : [ "Metrics" ],
        "description" : "Gets the sum of the metric values for a given metric and group combination.",
        "operationId" : "services_listMetricsSum",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricName",
          "in" : "path",
          "description" : "The metric name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "The group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of metrics for a given service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Metrics"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/monitoringconfiguration" : {
      "patch" : {
        "tags" : [ "Services" ],
        "description" : "Updates the service level monitoring configuration.",
        "operationId" : "services_updateMonitoringConfiguration",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The monitoring configuration to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Item"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated the monitoring configuration."
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/monitoringconfigurations" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Gets the service level monitoring configurations.",
        "operationId" : "services_listMonitoringConfigurations",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of monitoring configurations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Items"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/reports/badpassword/details/user" : {
      "get" : {
        "tags" : [ "Reports" ],
        "description" : "Gets the bad password login attempt report for an user",
        "operationId" : "services_listUserBadPasswordReport",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataSource",
          "in" : "query",
          "description" : "The source of data, if its test data or customer data.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of bad password login attempts.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorReportUsersEntries"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/reports/riskyIp/blobUris" : {
      "get" : {
        "tags" : [ "Reports" ],
        "description" : "Gets all Risky IP report URIs for the last 7 days.",
        "operationId" : "services_listAllRiskyIpDownloadReport",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Risky IP report URIs for the last 7 days.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RiskyIPBlobUris"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/reports/riskyIp/generateBlobUri" : {
      "post" : {
        "tags" : [ "Reports" ],
        "description" : "Initiate the generation of a new Risky IP report. Returns the URI for the new one.",
        "operationId" : "services_listCurrentRiskyIpDownloadReport",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The URI of the Risky IP report that was requested.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RiskyIPBlobUris"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers" : {
      "get" : {
        "tags" : [ "ServiceMembers" ],
        "description" : "Gets the details of the servers, for a given service, that are onboarded to Azure Active Directory Connect Health Service.",
        "operationId" : "serviceMembers_list",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The server property filter to apply.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dimensionType",
          "in" : "query",
          "description" : "The server specific dimension.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dimensionSignature",
          "in" : "query",
          "description" : "The value of the dimension.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of service members.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceMembers"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "ServiceMembers" ],
        "description" : "Onboards  a server, for a given service, to Azure Active Directory Connect Health Service.",
        "operationId" : "serviceMembers_add",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service under which the server is to be onboarded.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The server object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceMember"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added the service member.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceMember"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}" : {
      "get" : {
        "tags" : [ "ServiceMembers" ],
        "description" : "Gets the details of a server, for a given service, that are onboarded to Azure Active Directory Connect Health Service.",
        "operationId" : "serviceMembers_get",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceMemberId",
          "in" : "path",
          "description" : "The server Id.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The specific service member.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceMember"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ServiceMembers" ],
        "description" : "Deletes a server that has been onboarded to Azure Active Directory Connect Health Service.",
        "operationId" : "serviceMembers_delete",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serviceMemberId",
          "in" : "path",
          "description" : "The server Id.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "confirm",
          "in" : "query",
          "description" : "Indicates if the server will be permanently deleted or disabled. True indicates that the server will be permanently deleted and False indicates that the server will be marked disabled and then deleted after 30 days, if it is not re-registered.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted the service member."
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/alerts" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "Gets the details of an alert for a given service and server combination.",
        "operationId" : "serviceMembers_listAlerts",
        "parameters" : [ {
          "name" : "serviceMemberId",
          "in" : "path",
          "description" : "The server Id for which the alert details needs to be queried.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "description" : "The name of the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
[...]
