{"openapi":"3.0.1","info":{"title":"FaSta - Station Facilities Status","description":"A RESTful webservice to retrieve data about the operational state of public elevators and escalators in german railway stations.","termsOfService":"http://data.deutschebahn.com/nutzungsbedingungen.html","contact":{"name":"Michael Binzen","email":"michael.binzen@deutschebahn.com"},"license":{"name":"CC-BY 4.0","url":"https://creativecommons.org/licenses/by/4.0/"},"version":"2.1"},"servers":[{"url":"https://api.deutschebahn.com/fasta/v2"},{"url":"http://api.deutschebahn.com/fasta/v2"}],"security":[{"UserSecurity":null}],"paths":{"/facilities":{"get":{"description":"Access to public facilities (escalators and elevators) in railway stations","operationId":"findFacilities","parameters":[{"name":"type","in":"query","description":"Type of the facility.","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["ESCALATOR","ELEVATOR"]},"default":"[\"ESCALATOR\",\"ELEVATOR\"]"}},{"name":"state","in":"query","description":"Operational state of the facility.","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["ACTIVE","INACTIVE","UNKNOWN"]},"default":"[\"ACTIVE\",\"INACTIVE\",\"UNKNOWN\"]"}},{"name":"equipmentnumbers","in":"query","description":"List of equipmentnumbers to select.","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"stationnumber","in":"query","description":"Number of the station the facilities belong to.","schema":{"minimum":1,"type":"integer","format":"int64"}},{"name":"area","in":"query","description":"Geo coordinate rectangle in WGS84-format to filter facilities by geographical position. Parameters must be 4 numbers exactly as follows: longitudeWest, latitudeSouth, longitudeEast, latitudeNorth.","style":"form","explode":false,"schema":{"maxItems":4,"minItems":4,"uniqueItems":false,"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"facility data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/facility"}}}}},"400":{"description":"The given filters contained invalid values."},"406":{"description":"The requested representation format is not available."},"500":{"description":"A processing error has occurred."},"503":{"description":"The service has been disabled temporarily."}}}},"/facilities/{equipmentnumber}":{"get":{"description":"Returns the facility identified by its equipmentnumber.","operationId":"getFacilityByEquipmentNumber","parameters":[{"name":"equipmentnumber","in":"path","description":"Equipmentnumber of the facility to fetch.","required":true,"schema":{"minimum":1,"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Facility data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/facility"}}}},"404":{"description":"The requested facility could not be found."},"406":{"description":"The requested representation format is not available."},"500":{"description":"A processing error has occurred."},"503":{"description":"The service has been disabled temporarily."}}}},"/stations/{stationnumber}":{"get":{"description":"Returns information about a station (and its corresponding facilities) identified by a stationnumber.","operationId":"findStationByStationNumber","parameters":[{"name":"stationnumber","in":"path","description":"Number of the station to fetch.","required":true,"schema":{"minimum":1,"type":"integer","format":"int64"}}],"responses":{"200":{"description":"station data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/station"}}}},"404":{"description":"The requested station could not be found."},"406":{"description":"Requested representation format is not available."},"500":{"description":"A processing error has occurred."},"503":{"description":"The service has been disabled temporarily."}}}}},"components":{"schemas":{"facility":{"required":["equipmentnumber","state","stationnumber","type"],"type":"object","properties":{"description":{"type":"string","description":"Textual description of the facility."},"equipmentnumber":{"type":"integer","description":"Unique identifier of the facility.","format":"int64"},"geocoordX":{"type":"number","description":"Longitude component of geocoordinate in WGS84 format.","format":"double"},"geocoordY":{"type":"number","description":"Latitude component of geocoordinate in WGS84 format.","format":"double"},"operatorname":{"type":"string","description":"The name of the operator of the facility."},"state":{"type":"string","description":"Operational state of the facility.","enum":["ACTIVE","INACTIVE","UNKNOWN"]},"stateExplanation":{"type":"string","description":"Detailed description of the state."},"stationnumber":{"type":"integer","description":"Number of the station the facility belongs to.","format":"int64"},"type":{"type":"string","description":"Type of the facility.","enum":["ESCALATOR","ELEVATOR"]}},"description":"A facility provided by this API is either a public elevator or escalator located at a German railway station."},"station":{"required":["name","stationnumber"],"type":"object","properties":{"facilities":{"type":"array","items":{"$ref":"#/components/schemas/facility"}},"name":{"type":"string","description":"Name of the station."},"stationnumber":{"type":"integer","description":"Unique identifier of the station.","format":"int64"}}}},"securitySchemes":{"UserSecurity":{"type":"apiKey","name":"Authorization","in":"header"}}}}