{"openapi":"3.0.1","info":{"title":"MySQLManagementClient","description":"The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files, encryption keys, active directory administrator and configurations.","version":"2020-01-01-privatepreview"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/keys":{"get":{"tags":["ServerKeys"],"description":"Gets a list of  Server keys.","operationId":"ServerKeys_ListByInstance","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of MySQL Server keys.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerKeyListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/keys/{keyName}":{"get":{"tags":["ServerKeys"],"description":"Gets a MySQL Server key.","operationId":"ServerKeys_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"keyName","in":"path","description":"The name of the MySQL Server key to be retrieved.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the specified MySQL Server key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerKey"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["ServerKeys"],"description":"Creates or updates a MySQL Server key.","operationId":"ServerKeys_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"keyName","in":"path","description":"The name of the MySQL Server key to be operated on (updated or created).","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The requested MySQL Server key resource state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerKey"}}},"required":true},"responses":{"200":{"description":"Successfully updated the MySQL Server key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerKey"}}}},"202":{"description":"Accepted"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["ServerKeys"],"description":"Deletes the MySQL Server key with the given name.","operationId":"ServerKeys_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"keyName","in":"path","description":"The name of the MySQL Server key to be deleted.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted the MySQL Server key."},"202":{"description":"Accepted"},"204":{"description":"The specified MySQL Server key does not exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error response from the Batch service."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically."},"details":{"type":"array","description":"A list of additional details about the error.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface."},"target":{"type":"string","description":"The target of the particular error. For example, the name of the property in error."}},"description":"An error response from the Batch service."},"ProxyResource":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Resource properties."},"ServerKey":{"properties":{"kind":{"type":"string","description":"Kind of encryption protector. This is metadata used for the Azure portal experience.","readOnly":true},"properties":{"$ref":"#/components/schemas/ServerKeyProperties"}},"description":"A MySQL Server key.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"ServerKeyListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to retrieve next page of results.","readOnly":true},"value":{"type":"array","description":"Array of results.","readOnly":true,"items":{"$ref":"#/components/schemas/ServerKey"}}},"description":"A list of MySQL Server keys."},"ServerKeyProperties":{"required":["serverKeyType"],"type":"object","properties":{"creationDate":{"type":"string","description":"The key creation date.","format":"date-time","readOnly":true},"serverKeyType":{"type":"string","description":"The key type like 'AzureKeyVault'.","enum":["AzureKeyVault"]},"uri":{"type":"string","description":"The URI of the key."}},"description":"Properties for a key execution."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}