{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2016-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "The List ApplicationGateway operation retrieves all the application gateways in a subscription.",
        "operationId" : "ApplicationGateways_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuits" ],
        "description" : "The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits in a subscription.",
        "operationId" : "ExpressRouteCircuits_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders" : {
      "get" : {
        "tags" : [ "ExpressRouteServiceProviders" ],
        "description" : "The List ExpressRouteServiceProvider operation retrieves all the available ExpressRouteServiceProviders.",
        "operationId" : "ExpressRouteServiceProviders_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteServiceProviderListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteServiceProviderListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers" : {
      "get" : {
        "tags" : [ "LoadBalancers" ],
        "description" : "The List loadBalancer operation retrieves all the load balancers in a subscription.",
        "operationId" : "LoadBalancers_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoadBalancerListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoadBalancerListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/CheckDnsNameAvailability" : {
      "get" : {
        "description" : "Checks whether a domain name in the cloudapp.net zone is available for use.",
        "operationId" : "CheckDnsNameAvailability",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "The location of the domain name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "domainNameLabel",
          "in" : "query",
          "description" : "The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DnsNameAvailabilityResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DnsNameAvailabilityResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages" : {
      "get" : {
        "tags" : [ "Usages" ],
        "description" : "Lists compute usages for a subscription.",
        "operationId" : "Usages_List",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "The location upon which resource usage is queried.",
          "required" : true,
          "schema" : {
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsagesListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsagesListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces" : {
      "get" : {
        "tags" : [ "NetworkInterfaces" ],
        "description" : "The List networkInterfaces operation retrieves all the networkInterfaces in a subscription.",
        "operationId" : "NetworkInterfaces_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkInterfaceListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkInterfaceListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityGroups" : {
      "get" : {
        "tags" : [ "NetworkSecurityGroups" ],
        "description" : "The list NetworkSecurityGroups returns all network security groups in a subscription",
        "operationId" : "NetworkSecurityGroups_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkSecurityGroupListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkSecurityGroupListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/publicIPAddresses" : {
      "get" : {
        "tags" : [ "PublicIPAddresses" ],
        "description" : "The List publicIpAddress operation retrieves all the publicIpAddresses in a subscription.",
        "operationId" : "PublicIPAddresses_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicIPAddressListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicIPAddressListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/routeTables" : {
      "get" : {
        "tags" : [ "RouteTables" ],
        "description" : "The list RouteTables returns all route tables in a subscription",
        "operationId" : "RouteTables_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RouteTableListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RouteTableListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualNetworks" : {
      "get" : {
        "tags" : [ "VirtualNetworks" ],
        "description" : "The list VirtualNetwork returns all Virtual Networks in a subscription",
        "operationId" : "VirtualNetworks_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "The List ApplicationGateway operation retrieves all the application gateways in a resource group.",
        "operationId" : "ApplicationGateways_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "The Get ApplicationGateway operation retrieves information about the specified application gateway.",
        "operationId" : "ApplicationGateways_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGateway"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGateway"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "The Put ApplicationGateway operation creates/updates a ApplicationGateway",
        "operationId" : "ApplicationGateways_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the ApplicationGateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/delete ApplicationGateway operation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationGateway"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationGateway"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGateway"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGateway"
                }
              }
            }
          },
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGateway"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGateway"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "The delete ApplicationGateway operation deletes the specified application gateway.",
        "operationId" : "ApplicationGateways_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          },
          "202" : {
            "description" : ""
          },
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start" : {
      "post" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "The Start ApplicationGateway operation starts application gateway in the specified resource group through Network resource provider.",
        "operationId" : "ApplicationGateways_Start",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          },
          "202" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop" : {
      "post" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "The STOP ApplicationGateway operation stops application gateway in the specified resource group through Network resource provider.",
        "operationId" : "ApplicationGateways_Stop",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          },
          "202" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections" : {
      "get" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "The List VirtualNetworkGatewayConnections operation retrieves all the virtual network gateways connections created.",
        "operationId" : "VirtualNetworkGatewayConnections_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnectionListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnectionListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}" : {
      "get" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "The Get VirtualNetworkGatewayConnection operation retrieves information about the specified virtual network gateway connection through Network resource provider.",
        "operationId" : "VirtualNetworkGatewayConnections_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The name of the virtual network gateway connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "The Put VirtualNetworkGatewayConnection operation creates/updates a virtual network gateway connection in the specified resource group through Network resource provider.",
        "operationId" : "VirtualNetworkGatewayConnections_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The name of the virtual network gateway connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Begin Create or update Virtual Network Gateway connection operation through Network resource provider.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              }
            }
          },
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "The Delete VirtualNetworkGatewayConnection operation deletes the specified virtual network Gateway connection through Network resource provider.",
        "operationId" : "VirtualNetworkGatewayConnections_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The name of the virtual network gateway connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          },
          "202" : {
            "description" : ""
          },
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey" : {
      "get" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves information about the specified virtual network gateway connection shared key through Network resource provider.",
        "operationId" : "VirtualNetworkGatewayConnections_GetSharedKey",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The virtual network gateway connection shared key name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionSharedKeyResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionSharedKeyResult"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "The Put VirtualNetworkGatewayConnectionSharedKey operation sets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.",
        "operationId" : "VirtualNetworkGatewayConnections_SetSharedKey",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The virtual network gateway connection name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Begin Set Virtual Network Gateway connection Shared key operation throughNetwork resource provider.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectionSharedKey"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectionSharedKey"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionSharedKey"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionSharedKey"
                }
              }
            }
          },
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionSharedKey"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionSharedKey"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset" : {
      "post" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "The VirtualNetworkGatewayConnectionResetSharedKey operation resets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.",
        "operationId" : "VirtualNetworkGatewayConnections_ResetSharedKey",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The virtual network gateway connection reset shared key Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Begin Reset Virtual Network Gateway connection shared key operation through Network resource provider.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectionResetSharedKey"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectionResetSharedKey"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionResetSharedKey"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionResetSharedKey"
                }
              }
            }
          },
          "202" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuits" ],
        "description" : "The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits in a resource group.",
        "operationId" : "ExpressRouteCircuits_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuits" ],
        "description" : "The Get ExpressRouteCircuit operation retrieves information about the specified ExpressRouteCircuit.",
        "operationId" : "ExpressRouteCircuits_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuit"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuit"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ExpressRouteCircuits" ],
        "description" : "The Put ExpressRouteCircuit operation creates/updates a ExpressRouteCircuit",
        "operationId" : "ExpressRouteCircuits_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/delete ExpressRouteCircuit operation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCircuit"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCircuit"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuit"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuit"
                }
              }
            }
          },
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuit"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuit"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ExpressRouteCircuits" ],
        "description" : "The delete ExpressRouteCircuit operation deletes the specified ExpressRouteCircuit.",
        "operationId" : "ExpressRouteCircuits_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route Circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          },
          "202" : {
            "description" : ""
          },
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitAuthorizations" ],
        "description" : "The List authorization operation retrieves all the authorizations in an ExpressRouteCircuit.",
        "operationId" : "ExpressRouteCircuitAuthorizations_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitAuthorizations" ],
        "description" : "The GET authorization operation retrieves the specified authorization from the specified ExpressRouteCircuit.",
        "operationId" : "ExpressRouteCircuitAuthorizations_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationName",
          "in" : "path",
          "description" : "The name of the authorization.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ExpressRouteCircuitAuthorizations" ],
        "description" : "The Put Authorization operation creates/updates an authorization in the specified ExpressRouteCircuits",
        "operationId" : "ExpressRouteCircuitAuthorizations_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationName",
          "in" : "path",
          "description" : "The name of the authorization.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/update ExpressRouteCircuitAuthorization operation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
                }
              }
            }
          },
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ExpressRouteCircuitAuthorizations" ],
        "description" : "The delete authorization operation deletes the specified authorization from the specified ExpressRouteCircuit.",
        "operationId" : "ExpressRouteCircuitAuthorizations_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationName",
          "in" : "path",
          "description" : "The name of the authorization.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          },
          "202" : {
            "description" : ""
          },
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitPeerings" ],
        "description" : "The List peering operation retrieves all the peerings in an ExpressRouteCircuit.",
        "operationId" : "ExpressRouteCircuitPeerings_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeeringListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeeringListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitPeerings" ],
        "description" : "The GET peering operation retrieves the specified authorization from the ExpressRouteCircuit.",
        "operationId" : "ExpressRouteCircuitPeerings_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ExpressRouteCircuitPeerings" ],
        "description" : "The Put Peering operation creates/updates an peering in the specified ExpressRouteCircuits",
        "operationId" : "ExpressRouteCircuitPeerings_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/update ExpressRouteCircuit Peering operation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
                }
              }
            }
          },
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ExpressRouteCircuitPeerings" ],
        "description" : "The delete peering operation deletes the specified peering from the ExpressRouteCircuit.",
        "operationId" : "ExpressRouteCircuitPeerings_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          },
          "202" : {
            "description" : ""
          },
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/arpTables/{devicePath}" : {
      "post" : {
        "tags" : [ "ExpressRouteCircuitArpTable" ],
        "description" : "The ListArpTable from ExpressRouteCircuit operation retrieves the currently advertised arp table associated with the ExpressRouteCircuits in a resource group.",
        "operationId" : "ExpressRouteCircuits_ListArpTable",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "devicePath",
          "in" : "path",
          "description" : "The path of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitsArpTableListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitsArpTableListResult"
                }
              }
            }
          },
          "202" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTables/{devicePath}" : {
      "post" : {
        "tags" : [ "ExpressRouteCircuitRoutesTable" ],
        "description" : "The ListRoutesTable from ExpressRouteCircuit operation retrieves the currently advertised routes table associated with the ExpressRouteCircuits in a resource group.",
        "operationId" : "ExpressRouteCircuits_ListRoutesTable",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "devicePath",
          "in" : "path",
          "description" : "The path of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitsRoutesTableListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitsRoutesTableListResult"
                }
              }
            }
          },
          "202" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTablesSummary/{devicePath}" : {
      "post" : {
        "tags" : [ "ExpressRouteCircuitRoutesTableSummary" ],
        "description" : "The ListRoutesTable from ExpressRouteCircuit operation retrieves the currently advertised routes table associated with the ExpressRouteCircuits in a resource group.",
        "operationId" : "ExpressRouteCircuits_ListRoutesTableSummary",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "devicePath",
          "in" : "path",
          "description" : "The path of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitsRoutesTableSummaryListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitsRoutesTableSummaryListResult"
                }
              }
            }
          },
          "202" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/stats" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitStats" ],
        "description" : "The List stats ExpressRouteCircuit operation retrieves all the stats from a ExpressRouteCircuits in a resource group.",
        "operationId" : "ExpressRouteCircuits_GetPeeringStats",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitStats"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitStats"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/stats" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitStats" ],
        "description" : "The List stats ExpressRouteCircuit operation retrieves all the stats from a ExpressRouteCircuits in a resource group.",
        "operationId" : "ExpressRouteCircuits_GetStats",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitStats"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitStats"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers" : {
      "get" : {
        "tags" : [ "LoadBalancers" ],
        "description" : "The List loadBalancer operation retrieves all the load balancers in a resource group.",
        "operationId" : "LoadBalancers_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoadBalancerListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoadBalancerListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}" : {
      "get" : {
        "tags" : [ "LoadBalancers" ],
        "description" : "The Get LoadBalancer operation retrieves information about the specified LoadBalancer.",
        "operationId" : "LoadBalancers_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerName",
          "in" : "path",
          "description" : "The name of the loadBalancer.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "expand references resources.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoadBalancer"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoadBalancer"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "LoadBalancers" ],
        "description" : "The Put LoadBalancer operation creates/updates a LoadBalancer",
        "operationId" : "LoadBalancers_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerName",
          "in" : "path",
          "description" : "The name of the loadBalancer.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/delete LoadBalancer operation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoadBalancer"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoadBalancer"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoadBalancer"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoadBalancer"
                }
              }
            }
          },
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoadBalancer"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoadBalancer"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "LoadBalancers" ],
        "description" : "The delete LoadBalancer operation deletes the specified load balancer.",
        "operationId" : "LoadBalancers_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loadBalancerName",
          "in" : "path",
          "description" : "The name of the loadBalancer.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          },
          "202" : {
            "description" : ""
          },
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways" : {
      "get" : {
        "tags" : [ "LocalNetworkGateways" ],
        "description" : "The List LocalNetworkGateways operation retrieves all the local network gateways stored.",
        "operationId" : "LocalNetworkGateways_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGatewayListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGatewayListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}" : {
      "get" : {
        "tags" : [ "LocalNetworkGateways" ],
        "description" : "The Get LocalNetworkGateway operation retrieves information about the specified local network gateway through Network resource provider.",
        "operationId" : "LocalNetworkGateways_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "localNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the local network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGateway"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGateway"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "LocalNetworkGateways" ],
        "description" : "The Put LocalNetworkGateway operation creates/updates a local network gateway in the specified resource group through Network resource provider.",
        "operationId" : "LocalNetworkGateways_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "localNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the local network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Begin Create or update Local Network Gateway operation through Network resource provider.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LocalNetworkGateway"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LocalNetworkGateway"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGateway"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGateway"
                }
              }
            }
          },
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGateway"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGateway"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "LocalNetworkGateways" ],
        "description" : "The Delete LocalNetworkGateway operation deletes the specified local network Gateway through Network resource provider.",
        "operationId" : "LocalNetworkGateways_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "localNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the local network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          },
          "202" : {
            "description" : ""
          },
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces" : {
      "get" : {
        "tags" : [ "NetworkInterfaces" ],
        "description" : "The List networkInterfaces operation retrieves all the networkInterfaces in a resource group.",
        "operationId" : "NetworkInterfaces_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkInterfaceListResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkInterfaceListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}" : {
      "get" : {
[...]
