{"openapi":"3.0.1","info":{"title":"BatchAI","description":"The Azure BatchAI Management API.","version":"2018-05-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.BatchAI/operations":{"get":{"tags":["Operations"],"description":"Lists available operations for the Microsoft.BatchAI provider.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.BatchAI/locations/{location}/usages":{"get":{"tags":["Usage"],"description":"Gets the current usage information as well as limits for Batch AI resources for given subscription.","operationId":"Usages_List","parameters":[{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The location for which resource usage is queried.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListUsagesResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.BatchAI/workspaces":{"get":{"tags":["Workspace"],"description":"Gets a list of Workspaces associated with the given subscription.","operationId":"Workspaces_List","parameters":[{"name":"maxresults","in":"query","description":"The maximum number of items to return in the response. A maximum of 1000 files can be returned.","schema":{"maximum":1000,"minimum":1,"type":"integer","format":"int32","default":1000}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains a formatted list of workspaces and their properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces":{"get":{"tags":["Workspace"],"description":"Gets a list of Workspaces within the specified resource group.","operationId":"Workspaces_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"maxresults","in":"query","description":"The maximum number of items to return in the response. A maximum of 1000 files can be returned.","schema":{"maximum":1000,"minimum":1,"type":"integer","format":"int32","default":1000}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains a list of workspaces within the resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}":{"get":{"tags":["Workspace"],"description":"Gets information about a Workspace.","operationId":"Workspaces_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains information about the Workspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Workspace"],"description":"Creates a Workspace.","operationId":"Workspaces_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Workspace creation parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceCreateParameters"}}},"required":true},"responses":{"200":{"description":"The operation was successful. The response contains the workspace entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"202":{"description":"The operation will be completed asynchronously."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Workspace"],"description":"Deletes a Workspace.","operationId":"Workspaces_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful."},"202":{"description":"The operation will be completed asynchronously."},"204":{"description":"No content."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["Workspace"],"description":"Updates properties of a Workspace.","operationId":"Workspaces_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Additional parameters for workspace update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The operation was successful. The response contains the Workspace entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/clusters":{"get":{"tags":["Cluster"],"description":"Gets information about Clusters associated with the given Workspace.","operationId":"Clusters_ListByWorkspace","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"maxresults","in":"query","description":"The maximum number of items to return in the response. A maximum of 1000 files can be returned.","schema":{"maximum":1000,"minimum":1,"type":"integer","format":"int32","default":1000}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains a list of Clusters and their properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/clusters/{clusterName}":{"get":{"tags":["Cluster"],"description":"Gets information about a Cluster.","operationId":"Clusters_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster within the specified resource group. Cluster names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains information about the Cluster.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Cluster"],"description":"Creates a Cluster in the given Workspace.","operationId":"Clusters_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster within the specified resource group. Cluster names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for the Cluster creation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterCreateParameters"}}},"required":true},"responses":{"200":{"description":"The operation was successful. The response contains the Cluster entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"202":{"description":"The operation will be completed asynchronously."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Cluster"],"description":"Deletes a Cluster.","operationId":"Clusters_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster within the specified resource group. Cluster names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful."},"202":{"description":"The operation will be completed asynchronously."},"204":{"description":"No content."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["Cluster"],"description":"Updates properties of a Cluster.","operationId":"Clusters_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster within the specified resource group. Cluster names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Additional parameters for cluster update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The operation was successful. The response contains the Cluster entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/clusters/{clusterName}/listRemoteLoginInformation":{"post":{"tags":["Cluster"],"description":"Get the IP address, port of all the compute nodes in the Cluster.","operationId":"Clusters_ListRemoteLoginInformation","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster within the specified resource group. Cluster names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains the list of IP addresses.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoteLoginInformationListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments":{"get":{"tags":["Experiment"],"description":"Gets a list of Experiments within the specified Workspace.","operationId":"Experiments_ListByWorkspace","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"maxresults","in":"query","description":"The maximum number of items to return in the response. A maximum of 1000 files can be returned.","schema":{"maximum":1000,"minimum":1,"type":"integer","format":"int32","default":1000}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains a list of experiments within the workspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}":{"get":{"tags":["Experiment"],"description":"Gets information about an Experiment.","operationId":"Experiments_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"experimentName","in":"path","description":"The name of the experiment. Experiment names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains information about the experiment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Experiment"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Experiment"],"description":"Creates an Experiment.","operationId":"Experiments_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"experimentName","in":"path","description":"The name of the experiment. Experiment names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains the experiment entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Experiment"}}}},"202":{"description":"The operation will be completed asynchronously."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Experiment"],"description":"Deletes an Experiment.","operationId":"Experiments_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"experimentName","in":"path","description":"The name of the experiment. Experiment names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful."},"202":{"description":"The operation will be completed asynchronously."},"204":{"description":"No content."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}/jobs":{"get":{"tags":["Job"],"description":"Gets a list of Jobs within the specified Experiment.","operationId":"Jobs_ListByExperiment","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"experimentName","in":"path","description":"The name of the experiment. Experiment names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"maxresults","in":"query","description":"The maximum number of items to return in the response. A maximum of 1000 files can be returned.","schema":{"maximum":1000,"minimum":1,"type":"integer","format":"int32","default":1000}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains a list of ExperimentJob entities associated with the experiment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}/jobs/{jobName}":{"get":{"tags":["Job"],"description":"Gets information about a Job.","operationId":"Jobs_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"experimentName","in":"path","description":"The name of the experiment. Experiment names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"jobName","in":"path","description":"The name of the job within the specified resource group. Job names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains the Job entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Job"],"description":"Creates a Job in the given Experiment.","operationId":"Jobs_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"experimentName","in":"path","description":"The name of the experiment. Experiment names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"jobName","in":"path","description":"The name of the job within the specified resource group. Job names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for job creation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobCreateParameters"}}},"required":true},"responses":{"200":{"description":"The operation was successful. The response contains the job entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"202":{"description":"The operation will be completed asynchronously."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Job"],"description":"Deletes a Job.","operationId":"Jobs_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"experimentName","in":"path","description":"The name of the experiment. Experiment names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"jobName","in":"path","description":"The name of the job within the specified resource group. Job names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful."},"202":{"description":"The operation will be completed asynchronously."},"204":{"description":"No content."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}/jobs/{jobName}/listOutputFiles":{"post":{"tags":["Job"],"description":"List all directories and files inside the given directory of the Job's output directory (if the output directory is on Azure File Share or Azure Storage Container).","operationId":"Jobs_ListOutputFiles","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"experimentName","in":"path","description":"The name of the experiment. Experiment names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"jobName","in":"path","description":"The name of the job within the specified resource group. Job names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"outputdirectoryid","in":"query","description":"Id of the job output directory. This is the OutputDirectory-->id parameter that is given by the user during Create Job.","required":true,"schema":{"type":"string"}},{"name":"directory","in":"query","description":"The path to the directory.","schema":{"type":"string","default":"."}},{"name":"linkexpiryinminutes","in":"query","description":"The number of minutes after which the download link will expire.","schema":{"maximum":600,"minimum":5,"type":"integer","format":"int32","default":60}},{"name":"maxresults","in":"query","description":"The maximum number of items to return in the response. A maximum of 1000 files can be returned.","schema":{"maximum":1000,"minimum":1,"type":"integer","format":"int32","default":1000}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains the list of files.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}/jobs/{jobName}/listRemoteLoginInformation":{"post":{"tags":["Job"],"description":"Gets a list of currently existing nodes which were used for the Job execution. The returned information contains the node ID, its public IP and SSH port.","operationId":"Jobs_ListRemoteLoginInformation","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"experimentName","in":"path","description":"The name of the experiment. Experiment names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"jobName","in":"path","description":"The name of the job within the specified resource group. Job names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains compute node remote login information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoteLoginInformationListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}/jobs/{jobName}/terminate":{"post":{"tags":["Job"],"description":"Terminates a job.","operationId":"Jobs_Terminate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"experimentName","in":"path","description":"The name of the experiment. Experiment names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"jobName","in":"path","description":"The name of the job within the specified resource group. Job names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful."},"202":{"description":"The operation will be completed asynchronously."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/fileServers":{"get":{"tags":["FileServer"],"description":"Gets a list of File Servers associated with the specified workspace.","operationId":"FileServers_ListByWorkspace","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"maxresults","in":"query","description":"The maximum number of items to return in the response. A maximum of 1000 files can be returned.","schema":{"maximum":1000,"minimum":1,"type":"integer","format":"int32","default":1000}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains a list of File Servers and their properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileServerListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/fileServers/{fileServerName}":{"get":{"tags":["FileServer"],"description":"Gets information about a File Server.","operationId":"FileServers_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"fileServerName","in":"path","description":"The name of the file server within the specified resource group. File server names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains information about the FileServer.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileServer"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["FileServer"],"description":"Creates a File Server in the given workspace.","operationId":"FileServers_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"fileServerName","in":"path","description":"The name of the file server within the specified resource group. File server names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for File Server creation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileServerCreateParameters"}}},"required":true},"responses":{"200":{"description":"The operation was successful. The response contains the file server entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileServer"}}}},"202":{"description":"The operation will be completed asynchronously."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["FileServer"],"description":"Deletes a File Server.","operationId":"FileServers_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"fileServerName","in":"path","description":"The name of the file server within the specified resource group. File server names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.","required":true,"schema":{"maxLength":64,"minLength":1,"pattern":"^[-\\w_]+$","type":"string"}},{"name":"api-version","in":"query","description":"Specifies the version of API used for this request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscriptionID for the Azure user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful."},"202":{"description":"The operation will be completed asynchronously."},"204":{"description":"No content."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"AppInsightsReference":{"required":["component"],"type":"object","properties":{"component":{"$ref":"#/components/schemas/ResourceId"},"instrumentationKey":{"title":"Instrumentation Key.","type":"string","description":"Value of the Azure Application Insights instrumentation key."},"instrumentationKeySecretReference":{"$ref":"#/components/schemas/KeyVaultSecretReference"}},"description":"Azure Application Insights information for performance counters reporting."},"AutoScaleSettings":{"required":["maximumNodeCount","minimumNodeCount"],"type":"object","properties":{"initialNodeCount":{"title":"Initial node count.","type":"integer","description":"The number of compute nodes to allocate on cluster creation. Note that this value is used only during cluster creation. Default: 0.","format":"int32","default":0},"maximumNodeCount":{"title":"Maximum node count.","type":"integer","description":"The maximum number of compute nodes the cluster can have.","format":"int32"},"minimumNodeCount":{"title":"Minimum node count.","type":"integer","description":"The minimum number of compute nodes the Batch AI service will try to allocate for the cluster. Note, the actual number of nodes can be less than the specified value if the subscription has not enough quota to fulfill the request.","format":"int32"}},"description":"Auto-scale settings for the cluster. The system automatically scales the cluster up and down (within minimumNodeCount and maximumNodeCount) based on the number of queued and running jobs assigned to the cluster."},"AzureBlobFileSystemReference":{"required":["accountName","containerName","credentials","relativeMountPath"],"type":"object","properties":{"accountName":{"title":"Account name.","type":"string","description":"Name of the Azure storage account."},"containerName":{"title":"Container name.","type":"string","description":"Name of the Azure Blob Storage container to mount on the cluster."},"credentials":{"$ref":"#/components/schemas/AzureStorageCredentialsInfo"},"mountOptions":{"title":"Mount options.","type":"string","description":"Mount options for mounting blobfuse file system."},"relativeMountPath":{"title":"Relative mount path.","type":"string","description":"The relative path on the compute node where the Azure File container will be mounted. Note that all cluster level containers will be mounted under $AZ_BATCHAI_MOUNT_ROOT location and all job level containers will be mounted under $AZ_BATCHAI_JOB_MOUNT_ROOT."}},"description":"Azure Blob Storage Container mounting configuration."},"AzureFileShareReference":{"required":["accountName","azureFileUrl","credentials","relativeMountPath"],"type":"object","properties":{"accountName":{"title":"Account name.","type":"string","description":"Name of the Azure storage account."},"azureFileUrl":{"title":"Azure File URL.","type":"string","description":"URL to access the Azure File."},"credentials":{"$ref":"#/components/schemas/AzureStorageCredentialsInfo"},"directoryMode":{"title":"Directory mode.","type":"string","description":"File mode for directories on the mounted file share. Default value: 0777.","default":"0777"},"fileMode":{"title":"File mode.","type":"string","description":"File mode for files on the mounted file share. Default value: 0777.","default":"0777"},"relativeMountPath":{"title":"Relative mount path.","type":"string","description":"The relative path on the compute node where the Azure File share will be mounted. Note that all cluster level file shares will be mounted under $AZ_BATCHAI_MOUNT_ROOT location and all job level file shares will be mounted under $AZ_BATCHAI_JOB_MOUNT_ROOT."}},"description":"Azure File Share mounting configuration."},"AzureStorageCredentialsInfo":{"type":"object","properties":{"accountKey":{"title":"Account key.","type":"string","description":"Storage account key. One of accountKey or accountKeySecretReference must be specified."},"accountKeySecretReference":{"$ref":"#/components/schemas/KeyVaultSecretReference"}},"description":"Azure storage account credentials."},"BatchAIError":{"type":"object","properties":{"code":{"type":"string","description":"An identifier of the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"details":{"type":"array","description":"A list of additional details about the error.","readOnly":true,"items":{"$ref":"#/components/schemas/NameValuePair"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"An error response from the Batch AI service."},"CNTKsettings":{"type":"object","properties":{"commandLineArgs":{"title":"Command line arguments.","type":"string","description":"Command line arguments that need to be passed to the python script or cntk executable."},"configFilePath":{"title":"Config file path.","type":"string","description":"Specifies the path of the BrainScript config file. This property can be specified only if the languageType is 'BrainScript'."},"languageType":{"title":"Language type.","type":"string","description":"The language to use for launching CNTK (aka Microsoft Cognitive Toolkit) job. Valid values are 'BrainScript' or 'Python'."},"processCount":{"title":"Process count.","type":"integer","description":"Number of processes to launch for the job execution. The default value for this property is equal to nodeCount property","format":"int32"},"pythonInterpreterPath":{"title":"Python interpreter path.","type":"string","description":"The path to the Python interpreter. This property can be specified only if the languageType is 'Python'."},"pythonScriptFilePath":{"title":"Python script file path.","type":"string","description":"Python script to execute. This property can be specified only if the languageType is 'Python'."}},"description":"CNTK (aka Microsoft Cognitive Toolkit) job settings."},"Caffe2Settings":{"required":["pythonScriptFilePath"],"type":"object","properties":{"commandLineArgs":{"title":"Command line arguments.","type":"string","description":"Command line arguments that need to be passed to the python script."},"pythonInterpreterPath":{"title":"Python interpreter path.","type":"string","description":"The path to the Python interpreter."},"pythonScriptFilePath":{"title":"Python script file path.","type":"string","description":"The python script to execute."}},"description":"Caffe2 job settings."},"CaffeSettings":{"type":"object","properties":{"commandLineArgs":{"title":"Command line arguments.","type":"string","description":"Command line arguments that need to be passed to the Caffe job."},"configFilePath":{"title":"Config file path.","type":"string","description":"Path of the config file for the job. This property cannot be specified if pythonScriptFilePath is specified."},"processCount":{"title":"Process count.","type":"integer","description":"Number of processes to launch for the job execution. The default value for this property is equal to nodeCount property","format":"int32"},"pythonInterpreterPath":{"title":"Python interpreter path.","type":"string","description":"The path to the Python interpreter. The property can be specified only if the pythonScriptFilePath is specified."},"pythonScriptFilePath":{"title":"Python script file path.","type":"string","description":"Python script to execute. This property cannot be specified if configFilePath is specified."}},"description":"Caffe job settings."},"ChainerSettings":{"required":["pythonScriptFilePath"],"type":"object","properties":{"commandLineArgs":{"title":"Command line arguments.","type":"string","description":"Command line arguments that need to be passed to the python script."},"processCount":{"title":"Process count.","type":"integer","description":"Number of processes to launch for the job execution. The default value for this property is equal to nodeCount property","format":"int32"},"pythonInterpreterPath":{"title":"Python interpreter path.","type":"string","description":"The path to the Python interpreter."},"pythonScriptFilePath":{"title":"Python script file path.","type":"string","description":"The python script to execute."}},"description":"Chainer job settings."},"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error response from the Batch AI service."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"details":{"type":"array","description":"A list of additional details about the error.","readOnly":true,"items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true},"target":{"type":"string","description":"The target of the particular error. For example, the name of the property in error.","readOnly":true}},"description":"An error response from the Batch AI service."},"Cluster":{"properties":{"properties":{"$ref":"#/components/schemas/ClusterProperties"}},"description":"Information about a Cluster.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"ClusterBaseProperties":{"required":["userAccountSettings","vmSize"],"type":"object","properties":{"nodeSetup":{"$ref":"#/components/schemas/NodeSetup"},"scaleSettings":{"$ref":"#/components/schemas/ScaleSettings"},"subnet":{"$ref":"#/components/schemas/ResourceId"},"userAccountSettings":{"$ref":"#/components/schemas/UserAccountSettings"},"virtualMachineConfiguration":{"$ref":"#/components/schemas/VirtualMachineConfiguration"},"vmPriority":{"title":"VM priority.","type":"string","description":"VM priority. Allowed values are: dedicated (default) and lowpriority.","default":"dedicated","enum":["dedicated","lowpriority"]},"vmSize":{"title":"VM size.","type":"string","description":"The size of the virtual machines in the cluster. All nodes in a cluster have the same VM size. For information about available VM sizes for clusters using images from the Virtual Machines Marketplace see Sizes for Virtual Machines (Linux). Batch AI service supports all Azure VM sizes except STANDARD_A0 and those with premium storage (STANDARD_GS, STANDARD_DS, and STANDARD_DSV2 series)."}},"description":"The properties of a Cluster."},"ClusterCreateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ClusterBaseProperties"}},"description":"Cluster creation operation."},"ClusterListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The continuation token.","readOnly":true},"value":{"type":"array","description":"The collection of returned Clusters.","readOnly":true,"items":{"$ref":"#/components/schemas/Cluster"}}},"description":"Values returned by the List Clusters operation."},"ClusterProperties":{"type":"object","properties":{"allocationState":{"title":"Allocation state.","type":"string","description":"Allocation state of the cluster. Possible values are: steady - Indicates that the cluster is not resizing. There are no changes to the number of compute nodes in the cluster in progress. A cluster enters this state when it is created and when no operations are being performed on the cluster to change the number of compute nodes. resizing - Indicates that the cluster is resizing; that is, compute nodes are being added to or removed from the cluster.","readOnly":true,"enum":["steady","resizing"]},"allocationStateTransitionTime":{"title":"Allocation state transition time.","type":"string","description":"The time at which the cluster entered its current allocation state.","format":"date-time","readOnly":true},"creationTime":{"title":"Creation time.","type":"string","description":"The time when the cluster was created.","format":"date-time","readOnly":true},"currentNodeCount":{"title":"Current node count.","type":"integer","description":"The number of compute nodes currently assigned to the cluster.","format":"int32","readOnly":true},"errors":{"title":"Errors.","type":"array","description":"Collection of errors encountered by various compute nodes during node setup.","readOnly":true,"items":{"$ref":"#/components/schemas/BatchAIError"}},"nodeSetup":{"$ref":"#/components/schemas/NodeSetup"},"nodeStateCounts":{"$ref":"#/components/schemas/NodeStateCounts"},"provisioningState":{"title":"Provisioning state.","type":"string","description":"Provisioning state of the cluster. Possible value are: creating - Specifies that the cluster is being created. succeeded - Specifies that the cluster has been created successfully. failed - Specifies that the cluster creation has failed. deleting - Specifies that the cluster is being deleted.","nullable":false,"readOnly":true,"enum":["creating","succeeded","failed","deleting"]},"provisioningStateTransitionTime":{"title":"Provisioning State Transition time.","type":"string","description":"Time when the provisioning state was changed.","format":"date-time","readOnly":true},"scaleSettings":{"$ref":"#/components/schemas/ScaleSettings"},"subnet":{"$ref":"#/components/schemas/ResourceId"},"userAccountSettings":{"$ref":"#/components/schemas/UserAccountSettings"},"virtualMachineConfiguration":{"$ref":"#/components/schemas/VirtualMachineConfiguration"},"vmPriority":{"title":"VM priority.","type":"string","description":"VM priority of cluster nodes.","default":"dedicated","enum":["dedicated","lowpriority"]},"vmSize":{"title":"VM size.","type":"string","description":"The size of the virtual machines in the cluster. All nodes in a cluster have the same VM size."}},"description":"Cluster properties."},"ClusterUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ClusterUpdateProperties"}},"description":"Cluster update parameters."},"ClusterUpdateProperties":{"type":"object","properties":{"scaleSettings":{"$ref":"#/components/schemas/ScaleSettings"}},"description":"The properties of a Cluster that need to be updated."},"ContainerSettings":{"required":["imageSourceRegistry"],"type":"object","properties":{"imageSourceRegistry":{"$ref":"#/components/schemas/ImageSourceRegistry"},"shmSize":{"title":"/dev/shm size.","type":"string","description":"Size of /dev/shm. Please refer to docker documentation for supported argument formats."}},"description":"Docker container settings."},"CustomMpiSettings":{"required":["commandLine"],"type":"object","properties":{"commandLine":{"title":"Command line.","type":"string","description":"The command line to be executed by mpi runtime on each compute node."},"processCount":{"title":"Process count.","type":"integer","description":"Number of processes to launch for the job execution. The default value for this property is equal to nodeCount property","format":"int32"}},"description":"Custom MPI job settings."},"CustomToolkitSettings":{"type":"object","properties":{"commandLine":{"title":"Command line.","type":"string","description":"The command line to execute on the master node."}},"description":"Custom tool kit job settings."},"DataDisks":{"required":["diskCount","diskSizeInGB","storageAccountType"],"type":"object","properties":{"cachingType":{"title":"Caching type.","type":"string","description":"Caching type for the disks. Available values are none (default), readonly, readwrite. Caching type can be set only for VM sizes supporting premium storage.","default":"none","enum":["none","readonly","readwrite"]},"diskCount":{"title":"Number of data disks.","type":"integer","description":"Number of data disks attached to the File Server. If multiple disks attached, they will be configured in RAID level 0.","format":"int32"},"diskSizeInGB":{"title":"Disk size in GB.","type":"integer","description":"Disk size in GB for the blank data disks.","format":"int32"},"storageAccountType":{"title":"Storage account type.","type":"string","description":"Type of storage account to be used on the disk. Possible values are: Standard_LRS or Premium_LRS. Premium storage account type can only be used with VM sizes supporting premium storage.","enum":["Standard_LRS","Premium_LRS"]}},"description":"Data disks settings."},"DeallocationOption":{"title":"Deallocation options.","type":"string","description":"Actions which should be performed when compute nodes are removed from the cluster. Possible values are: requeue (default) - Terminate running jobs and requeue them so the jobs will run again. Remove compute nodes as soon as jobs have been terminated; terminate - Terminate running jobs. The jobs will not run again. Remove compute nodes as soon as jobs have been terminated. waitforjobcompletion - Allow currently running jobs to complete. Schedule no new jobs while waiting. Remove compute nodes when all jobs have completed.","default":"requeue","enum":["requeue","terminate","waitforjobcompletion"]},"EnvironmentVariable":{"required":["name","value"],"type":"object","properties":{"name":{"title":"Name.","type":"string","description":"The name of the environment variable."},"value":{"title":"Value.","type":"string","description":"The value of the environment variable."}},"description":"An environment variable definition."},"EnvironmentVariableWithSecretValue":{"required":["name"],"type":"object","properties":{"name":{"title":"Name.","type":"string","description":"The name of the environment variable to store the secret value."},"value":{"title":"Value.","type":"string","description":"The value of the environment variable. This value will never be reported back by Batch AI."},"valueSecretReference":{"$ref":"#/components/schemas/KeyVaultSecretReference"}},"description":"An environment variable with secret value definition."},"Experiment":{"properties":{"properties":{"$ref":"#/components/schemas/ExperimentProperties"}},"description":"Experiment information.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"ExperimentListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The continuation token.","readOnly":true},"value":{"type":"array","description":"The collection of experiments.","readOnly":true,"items":{"$ref":"#/components/schemas/Experiment"}}},"description":"Values returned by the List operation."},"ExperimentProperties":{"type":"object","properties":{"creationTime":{"title":"Creation time.","type":"string","description":"Time when the Experiment was created.","format":"date-time","readOnly":true},"provisioningState":{"title":"Provisioning state.","type":"string","description":"The provisioned state of the experiment","nullable":false,"readOnly":true,"enum":["creating","deleting","succeeded","failed"]},"provisioningStateTransitionTime":{"title":"Provisioning state transition time.","type":"string","description":"The time at which the experiment entered its current provisioning state.","format":"date-time","readOnly":true}},"description":"Experiment properties."},"File":{"type":"object","properties":{"downloadUrl":{"title":"Download URL.","type":"string","description":"URL to download the corresponding file. The downloadUrl is not returned for directories.","readOnly":true},"fileType":{"title":"File type.","type":"string","description":"Type of the file. Possible values are file and directory.","readOnly":true,"enum":["file","directory"]},"name":{"title":"Name.","type":"string","description":"Name of the file.","readOnly":true},"properties":{"$ref":"#/components/schemas/FileProperties"}},"description":"Properties of the file or directory."},"FileListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The continuation token.","readOnly":true},"value":{"type":"array","description":"The collection of returned job directories and files.","readOnly":true,"items":{"$ref":"#/components/schemas/File"}}},"description":"Values returned by the List operation."},"FileProperties":{"type":"object","properties":{"contentLength":{"title":"Content length.","type":"integer","description":"The file of the size.","format":"int64","readOnly":true},"lastModified":{"title":"Last modified time.","type":"string","description":"The time at which the file was last modified.","format":"date-time","readOnly":true}},"description":"File properties."},"FileServer":{"properties":{"properties":{"$ref":"#/components/schemas/FileServerProperties"}},"description":"File Server information.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"FileServerBaseProperties":{"required":["dataDisks","sshConfiguration","vmSize"],"type":"object","properties":{"dataDisks":{"$ref":"#/components/schemas/DataDisks"},"sshConfiguration":{"$ref":"#/components/schemas/SshConfiguration"},"subnet":{"$ref":"#/components/schemas/ResourceId"},"vmSize":{"title":"VM size.","type":"string","description":"The size of the virtual machine for the File Server. For information about available VM sizes from the Virtual Machines Marketplace, see Sizes for Virtual Machines (Linux)."}},"description":"The properties of a file server."},"FileServerCreateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/FileServerBaseProperties"}},"description":"File Server creation parameters."},"FileServerListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The continuation token.","readOnly":true},"value":{"type":"array","description":"The collection of File Servers.","items":{"$ref":"#/components/schemas/FileServer"}}},"description":"Values returned by the File Server List operation."},"FileServerProperties":{"type":"object","properties":{"creationTime":{"title":"Creation time.","type":"string","description":"Time when the FileServer was created.","format":"date-time","readOnly":true},"dataDisks":{"$ref":"#/components/schemas/DataDisks"},"mountSettings":{"$ref":"#/components/schemas/MountSettings"},"provisioningState":{"title":"Provisioning state.","type":"string","description":"Provisioning state of the File Server. Possible values: creating - The File Server is getting created; updating - The File Server creation has been accepted and it is getting updated; deleting - The user has requested that the File Server be deleted, and it is in the process of being deleted; failed - The File Server creation has failed with the specified error code. Details about the error code are specified in the message field; succeeded - The File Server creation has succeeded.","nullable":false,"readOnly":true,"enum":["creating","updating","deleting","succeeded","failed"]},"provisioningStateTransitionTime":{"title":"Provisioning State Transition time.","type":"string","description":"Time when the provisioning state was changed.","format":"date-time","readOnly":true},"sshConfiguration":{"$ref":"#/components/schemas/SshConfiguration"},"subnet":{"$ref":"#/components/schemas/ResourceId"},"vmSize":{"title":"VM size.","type":"string","description":"VM size of the File Server."}},"description":"File Server properties."},"FileServerReference":{"required":["fileServer","relativeMountPath"],"type":"object","properties":{"fileServer":{"$ref":"#/components/schemas/ResourceId"},"mountOptions":{"title":"Mount options.","type":"string","description":"Mount options to be passed to mount command."},"relativeMountPath":{"title":"Relative mount path.","type":"string","description":"The relative path on the compute node where the File Server will be mounted. Note that all cluster level file servers will be mounted under $AZ_BATCHAI_MOUNT_ROOT location and all job level file servers will be mounted under $AZ_BATCHAI_JOB_MOUNT_ROOT."},"sourceDirectory":{"title":"Source directory.","type":"string","description":"File Server directory that needs to be mounted. If this property is not specified, the entire File Server will be mounted."}},"description":"File Server mounting configuration."},"HorovodSettings":{"required":["pythonScriptFilePath"],"type":"object","properties":{"commandLineArgs":{"title":"Command line arguments.","type":"string","description":"Command line arguments that need to be passed to the python script."},"processCount":{"title":"Process count.","type":"integer","description":"Number of processes to launch for the job execution. The default value for this property is equal to nodeCount property","format":"int32"},"pythonInterpreterPath":{"title":"Python interpreter path.","type":"string","description":"The path to the Python interpreter."},"pythonScriptFilePath":{"title":"Python script file path.","type":"string","description":"The python script to execute."}},"description":"Specifies the settings for Horovod job."},"ImageReference":{"required":["offer","publisher","sku"],"type":"object","properties":{"offer":{"title":"Offer.","type":"string","description":"Offer of the image."},"publisher":{"title":"Publisher.","type":"string","description":"Publisher of the image."},"sku":{"title":"SKU.","type":"string","description":"SKU of the image."},"version":{"title":"Version.","type":"string","description":"Version of the image."},"virtualMachineImageId":{"title":"Custom VM image resource ID.","type":"string","description":"The ARM resource identifier of the virtual machine image for the compute nodes. This is of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}. The virtual machine image must be in the same region and subscription as the cluster. For information about the firewall settings for the Batch node agent to communicate with the Batch service see https://docs.microsoft.com/en-us/azure/batch/batch-api-basics#virtual-network-vnet-and-firewall-configuration. Note, you need to provide publisher, offer and sku of the base OS image of which the custom image has been derived from."}},"description":"The OS image reference."},"ImageSourceRegistry":{"required":["image"],"type":"object","properties":{"credentials":{"$ref":"#/components/schemas/PrivateRegistryCredentials"},"image":{"title":"Image.","type":"string","description":"The name of the image in the image repository."},"serverUrl":{"title":"Server URL.","type":"string","description":"URL for image repository."}},"description":"Information about docker image for the job."},"InputDirectory":{"required":["id","path"],"type":"object","properties":{"id":{"title":"ID.","type":"string","description":"The ID for the input directory. The job can use AZ_BATCHAI_INPUT_<id> environment variable to find the directory path, where <id> is the value of id attribute."},"path":{"title":"Path.","type":"string","description":"The path to the input directory."}},"description":"Input directory for the job."},"Job":{"properties":{"properties":{"$ref":"#/components/schemas/JobProperties"}},"description":"Information about a Job.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"JobBaseProperties":{"required":["cluster","nodeCount","stdOutErrPathPrefix"],"type":"object","properties":{"caffe2Settings":{"$ref":"#/components/schemas/Caffe2Settings"},"caffeSettings":{"$ref":"#/components/schemas/CaffeSettings"},"chainerSettings":{"$ref":"#/components/schemas/ChainerSettings"},"cluster":{"$ref":"#/components/schemas/ResourceId"},"cntkSettings":{"$ref":"#/components/schemas/CNTKsettings"},"constraints":{"type":"object","properties":{"maxWallClockTime":{"title":"Max wall clock time.","type":"string","description":"Max time the job can run. Default value: 1 week.","format":"duration","default":"7.00:00:00"}},"description":"Constraints associated with the Job."},"containerSettings":{"$ref":"#/components/schemas/ContainerSettings"},"customMpiSettings":{"$ref":"#/components/schemas/CustomMpiSettings"},"customToolkitSettings":{"$ref":"#/components/schemas/CustomToolkitSettings"},"environmentVariables":{"title":"Environment variables.","type":"array","description":"A list of user defined environment variables which will be setup for the job.","items":{"$ref":"#/components/schemas/EnvironmentVariable"}},"horovodSettings":{"$ref":"#/components/schemas/HorovodSettings"},"inputDirectories":{"title":"Input directories.","type":"array","description":"A list of input directories for the job.","items":{"$ref":"#/components/schemas/InputDirectory"}},"jobPreparation":{"$ref":"#/components/schemas/JobPreparation"},"mountVolumes":{"$ref":"#/components/schemas/MountVolumes"},"nodeCount":{"title":"Node count.","type":"integer","description":"Number of compute nodes to run the job on. The job will be gang scheduled on that many compute nodes.","format":"int32"},"outputDirectories":{"title":"Output directories.","type":"array","description":"A list of output directories for the job.","items":{"$ref":"#/components/schemas/OutputDirectory"}},"pyTorchSettings":{"$ref":"#/components/schemas/PyTorchSettings"},"schedulingPriority":{"title":"Scheduling priority.","type":"string","description":"Scheduling priority associated with the job. Possible values: low, normal, high.","default":"normal","enum":["low","normal","high"]},"secrets":{"title":"Secrets.","type":"array","description":"A list of user defined environment variables with secret values which will be setup for the job. Server will never report values of these variables back.","items":{"$ref":"#/components/schemas/EnvironmentVariableWithSecretValue"}},"stdOutErrPathPrefix":{"title":"Standard output path prefix.","type":"string","description":"The path where the Batch AI service will store stdout, stderror and execution log of the job."},"tensorFlowSettings":{"$ref":"#/components/schemas/TensorFlowSettings"}},"description":"The properties of a Batch AI Job."},"JobCreateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/JobBaseProperties"}},"description":"Job creation parameters."},"JobListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The continuation token.","readOnly":true},"value":{"type":"array","description":"The collection of jobs.","readOnly":true,"items":{"$ref":"#/components/schemas/Job"}}},"description":"Values returned by the List operation."},"JobPreparation":{"required":["commandLine"],"type":"object","properties":{"commandLine":{"title":"Command line.","type":"string","description":"The command line to execute. If containerSettings is specified on the job, this commandLine will be executed in the same container as job. Otherwise it will be executed on the node."}},"description":"Job preparation settings."},"JobProperties":{"type":"object","properties":{"caffe2Settings":{"$ref":"#/components/schemas/Caffe2Settings"},"caffeSettings":{"$ref":"#/components/schemas/CaffeSettings"},"chainerSettings":{"$ref":"#/components/schemas/ChainerSettings"},"cluster":{"$ref":"#/components/schemas/ResourceId"},"cntkSettings":{"$ref":"#/components/schemas/CNTKsettings"},"constraints":{"type":"object","properties":{"maxWallClockTime":{"title":"Max wall clock time.","type":"string","description":"Max time the job can run. Default value: 1 week.","format":"duration","default":"7.00:00:00"}},"description":"Constraints associated with the Job."},"containerSettings":{"$ref":"#/components/schemas/ContainerSettings"},"creationTime":{"title":"Creation time.","type":"string","description":"The creation time of the job.","format":"date-time","readOnly":true},"customMpiSettings":{"$ref":"#/components/schemas/CustomMpiSettings"},"customToolkitSettings":{"$ref":"#/components/schemas/CustomToolkitSettings"},"environmentVariables":{"title":"Environment variables.","type":"array","description":"A collection of user defined environment variables to be setup for the job.","items":{"$ref":"#/components/schemas/EnvironmentVariable"}},"executionInfo":{"type":"object","properties":{"endTime":{"title":"End time.","type":"string","description":"The time at which the job completed. This property is only returned if the job is in completed state.","format":"date-time","readOnly":true},"errors":{"title":"Errors.","type":"array","description":"A collection of errors encountered by the service during job execution.","readOnly":true,"items":{"$ref":"#/components/schemas/BatchAIError"}},"exitCode":{"title":"Exit code.","type":"integer","description":"The exit code of the job. This property is only returned if the job is in completed state.","format":"int32","readOnly":true},"startTime":{"title":"Start time.","type":"string","description":"The time at which the job started running. 'Running' corresponds to the running state. If the job has been restarted or retried, this is the most recent time at which the job started running. This property is present only for job that are in the running or completed state.","format":"date-time","readOnly":true}},"description":"Information about the execution of a job."},"executionState":{"title":"Execution state.","type":"string","description":"The current state of the job. Possible values are: queued - The job is queued and able to run. A job enters this state when it is created, or when it is awaiting a retry after a failed run. running - The job is running on a compute cluster. This includes job-level preparation such as downloading resource files or set up container specified on the job - it does not necessarily mean that the job command line has started executing. terminating - The job is terminated by the user, the terminate operation is in progress. succeeded - The job has completed running successfully and exited with exit code 0. failed - The job has finished unsuccessfully (failed with a non-zero exit code) and has exhausted its retry limit. A job is also marked as failed if an error occurred launching the job.","readOnly":true,"enum":["queued","running","terminating","succeeded","failed"]},"executionStateTransitionTime":{"title":"Execution state transition time.","type":"string","description":"The time at which the job entered its current execution state.","format":"date-time","readOnly":true},"horovodSettings":{"$ref":"#/components/schemas/HorovodSettings"},"inputDirectories":{"title":"Input directories.","type":"array","description":"A list of input directories for the job.","items":{"$ref":"#/components/schemas/InputDirectory"}},"jobOutputDirectoryPathSegment":{"title":"Output directory path segment.","type":"string","description":"A segment of job's output directories path created by Batch AI. Batch AI creates job's output directories under an unique path to avoid conflicts between jobs. This value contains a path segment generated by Batch AI to make the path unique and can be used to find the output directory on the node or mounted filesystem.","readOnly":true},"jobPreparation":{"$ref":"#/components/schemas/JobPreparation"},"mountVolumes":{"$ref":"#/components/schemas/MountVolumes"},"nodeCount":{"title":"Number of compute nodes to run the job on.","type":"integer","description":"The job will be gang scheduled on that many compute nodes","format":"int32"},"outputDirectories":{"title":"Output directories.","type":"array","description":"A list of output directories for the job.","items":{"$ref":"#/components/schemas/OutputDirectory"}},"provisioningState":{"title":"Provisioning state.","type":"string","description":"The provisioned state of the Batch AI job","nullable":false,"readOnly":true,"enum":["creating","deleting","succeeded","failed"]},"provisioningStateTransitionTime":{"title":"Provisioning state transition time.","type":"string","description":"The time at which the job entered its current provisioning state.","format":"date-time","readOnly":true},"pyTorchSettings":{"$ref":"#/components/schemas/PyTorchSettings"},"schedulingPriority":{"title":"Scheduling priority.","type":"string","description":"Scheduling priority associated with the job.","default":"normal","enum":["low","normal","high"]},"secrets":{"title":"Secrets.","type":"array","description":"A collection of user defined environment variables with secret values to be setup for the job. Server will never report values of these variables back.","items":{"$ref":"#/components/schemas/EnvironmentVariableWithSecretValue"}},"stdOutErrPathPrefix":{"title":"Standard output directory path prefix.","type":"string","description":"The path where the Batch AI service stores stdout, stderror and execution log of the job."},"tensorFlowSettings":{"$ref":"#/components/schemas/TensorFlowSettings"},"toolType":{"$ref":"#/components/schemas/ToolType"}},"description":"Job properties."},"KeyVaultSecretReference":{"required":["secretUrl","sourceVault"],"type":"object","properties":{"secretUrl":{"title":"Secret URL.","type":"string","description":"The URL referencing a secret in the Key Vault."},"sourceVault":{"$ref":"#/components/schemas/ResourceId"}},"description":"Key Vault Secret reference."},"ListUsagesResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of compute resource usage information. Call ListNext() with this to fetch the next page of compute resource usage information.","readOnly":true},"value":{"type":"array","description":"The list of compute resource usages.","readOnly":true,"items":{"$ref":"#/components/schemas/Usage"}}},"description":"The List Usages operation response."},"ManualScaleSettings":{"required":["targetNodeCount"],"type":"object","properties":{"nodeDeallocationOption":{"$ref":"#/components/schemas/DeallocationOption"},"targetNodeCount":{"title":"Target node count.","type":"integer","description":"The desired number of compute nodes in the Cluster. Default is 0.","format":"int32","default":0}},"description":"Manual scale settings for the cluster."},"MountSettings":{"type":"object","properties":{"fileServerInternalIP":{"title":"Internal IP.","type":"string","description":"Internal IP address of the File Server which can be used to access the File Server from within the subnet."},"fileServerPublicIP":{"title":"Public IP.","type":"string","description":"Public IP address of the File Server which can be used to SSH to the node from outside of the subnet."},"mountPoint":{"title":"Mount Point.","type":"string","description":"Path where the data disks are mounted on the File Server."}},"description":"File Server mount Information."},"MountVolumes":{"type":"object","properties":{"azureBlobFileSystems":{"title":"Azure Blob file systems.","type":"array","description":"A collection of Azure Blob Containers that are to be mounted to the cluster nodes.","items":{"$ref":"#/components/schemas/AzureBlobFileSystemReference"}},"azureFileShares":{"title":"Azure File Shares.","type":"array","description":"A collection of Azure File Shares that are to be mounted to the cluster nodes.","items":{"$ref":"#/components/schemas/AzureFileShareReference"}},"fileServers":{"title":"File Servers.","type":"array","description":"A collection of Batch AI File Servers that are to be mounted to the cluster nodes.","items":{"$ref":"#/components/schemas/FileServerReference"}},"unmanagedFileSystems":{"title":"Unmanaged file systems.","type":"array","description":"A collection of unmanaged file systems that are to be mounted to the cluster nodes.","items":{"$ref":"#/components/schemas/UnmanagedFileSystemReference"}}},"description":"Details of volumes to mount on the cluster."},"NameValuePair":{"type":"object","properties":{"name":{"title":"Name.","type":"string","description":"The name in the name-value pair."},"value":{"title":"Value.","type":"string","description":"The value in the name-value pair."}},"description":"Name-value pair."},"NodeSetup":{"type":"object","properties":{"mountVolumes":{"$ref":"#/components/schemas/MountVolumes"},"performanceCountersSettings":{"$ref":"#/components/schemas/PerformanceCountersSettings"},"setupTask":{"$ref":"#/components/schemas/SetupTask"}},"description":"Node setup settings."},"NodeStateCounts":{"type":"object","properties":{"idleNodeCount":{"title":"Idle node count.","type":"integer","description":"Number of compute nodes in idle state.","format":"int32","readOnly":true},"leavingNodeCount":{"title":"Leaving node count.","type":"integer","description":"Number of compute nodes which are leaving the cluster.","format":"int32","readOnly":true},"preparingNodeCount":{"title":"Preparing node count.","type":"integer","description":"Number of compute nodes which are being prepared.","format":"int32","readOnly":true},"runningNodeCount":{"title":"Running node count.","type":"integer","description":"Number of compute nodes which are running jobs.","format":"int32","readOnly":true},"unusableNodeCount":{"title":"Unusable node count.","type":"integer","description":"Number of compute nodes which are in unusable state.","format":"int32","readOnly":true}},"description":"Counts of various compute node states on the cluster."},"Operation":{"title":"A REST API operation.","type":"object","properties":{"display":{"type":"object","properties":{"description":{"title":"The friendly name of the operation.","type":"string","readOnly":true},"operation":{"title":"The operation type.","type":"string","description":"For example: read, write, delete, or listKeys/action","readOnly":true},"provider":{"title":"Friendly name of the resource provider.","type":"string","readOnly":true},"resource":{"title":"The resource type on which the operation is performed.","type":"string","readOnly":true}},"description":"The object that describes the operation."},"name":{"title":"The operation name.","type":"string","description":"This is of the format {provider}/{resource}/{operation}","readOnly":true},"origin":{"title":"The intended executor of the operation.","type":"string","readOnly":true},"properties":{"title":"Properties of the operation.","type":"object"}},"description":"Details of a REST API operation"},"OperationListResult":{"title":"Result of the request to list REST API operations. It contains a list of operations and a URL nextLink to get the next set of results.","type":"object","properties":{"nextLink":{"title":"The URL to get the next set of operation list results if there are any.","type":"string","readOnly":true},"value":{"title":"The list of operations supported by the resource provider.","type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/Operation"}}},"description":"Contains the list of all operations supported by BatchAI resource provider"},"OutputDirectory":{"required":["id","pathPrefix"],"type":"object","properties":{"id":{"title":"ID.","type":"string","description":"The ID of the output directory. The job can use AZ_BATCHAI_OUTPUT_<id> environment variable to find the directory path, where <id> is the value of id attribute."},"pathPrefix":{"title":"Path prefix.","type":"string","description":"The prefix path where the output directory will be created. Note, this is an absolute path to prefix. E.g. $AZ_BATCHAI_MOUNT_ROOT/MyNFS/MyLogs. The full path to the output directory by combining pathPrefix, jobOutputDirectoryPathSegment (reported by get job) and pathSuffix."},"pathSuffix":{"title":"Path suffix.","type":"string","description":"The suffix path where the output directory will be created. E.g. models. You can find the full path to the output directory by combining pathPrefix, jobOutputDirectoryPathSegment (reported by get job) and pathSuffix."}},"description":"Output directory for the job."},"PerformanceCountersSettings":{"required":["appInsightsReference"],"type":"object","properties":{"appInsightsReference":{"$ref":"#/components/schemas/AppInsightsReference"}},"description":"Performance counters reporting settings."},"PrivateRegistryCredentials":{"required":["username"],"type":"object","properties":{"password":{"title":"Password.","type":"string","description":"User password to login to the docker repository. One of password or passwordSecretReference must be specified."},"passwordSecretReference":{"$ref":"#/components/schemas/KeyVaultSecretReference"},"username":{"title":"User name.","type":"string","description":"User name to login to the repository."}},"description":"Credentials to access a container image in a private repository."},"ProxyResource":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the resource.","readOnly":true},"name":{"type":"string","description":"The name of the resource.","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"A definition of an Azure proxy resource."},"PyTorchSettings":{"required":["pythonScriptFilePath"],"type":"object","properties":{"commandLineArgs":{"title":"Command line arguments.","type":"string","description":"Command line arguments that need to be passed to the python script."},"communicationBackend":{"title":"Communication backend.","type":"string","description":"Type of the communication backend for distributed jobs. Valid values are 'TCP', 'Gloo' or 'MPI'. Not required for non-distributed jobs."},"processCount":{"title":"Process count.","type":"integer","description":"Number of processes to launch for the job execution. The default value for this property is equal to nodeCount property","format":"int32"},"pythonInterpreterPath":{"title":"Python interpreter path.","type":"string","description":"The path to the Python interpreter."},"pythonScriptFilePath":{"title":"Python script file path.","type":"string","description":"The python script to execute."}},"description":"pyTorch job settings."},"RemoteLoginInformation":{"type":"object","properties":{"ipAddress":{"title":"IP address.","type":"string","description":"Public IP address of the compute node.","readOnly":true},"nodeId":{"title":"Node ID.","type":"string","description":"ID of the compute node.","readOnly":true},"port":{"title":"Port.","type":"number","description":"SSH port number of the node.","format":"int32","readOnly":true}},"description":"Login details to SSH to a compute node in cluster."},"RemoteLoginInformationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The continuation token.","readOnly":true},"value":{"type":"array","description":"The collection of returned remote login details.","readOnly":true,"items":{"$ref":"#/components/schemas/RemoteLoginInformation"}}},"description":"Values returned by the List operation."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the resource","readOnly":true},"location":{"type":"string","description":"The location of the resource","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The tags of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource","readOnly":true}},"description":"A definition of an Azure resource."},"ResourceId":{"required":["id"],"type":"object","properties":{"id":{"type":"string","description":"The ID of the resource"}},"description":"Represents a resource ID. For example, for a subnet, it is the resource URL for the subnet."},"ScaleSettings":{"type":"object","properties":{"autoScale":{"$ref":"#/components/schemas/AutoScaleSettings"},"manual":{"$ref":"#/components/schemas/ManualScaleSettings"}},"description":"At least one of manual or autoScale settings must be specified. Only one of manual or autoScale settings can be specified. If autoScale settings are specified, the system automatically scales the cluster up and down (within the supplied limits) based on the pending jobs on the cluster."},"SetupTask":{"required":["commandLine","stdOutErrPathPrefix"],"type":"object","properties":{"commandLine":{"title":"Command line.","type":"string","description":"The command line to be executed on each cluster's node after it being allocated or rebooted. The command is executed in a bash subshell as a root."},"environmentVariables":{"title":"Environment variables.","type":"array","description":"A collection of user defined environment variables to be set for setup task.","items":{"$ref":"#/components/schemas/EnvironmentVariable"}},"secrets":{"title":"Secrets.","type":"array","description":"A collection of user defined environment variables with secret values to be set for the setup task. Server will never report values of these variables back.","items":{"$ref":"#/components/schemas/EnvironmentVariableWithSecretValue"}},"stdOutErrPathPrefix":{"title":"Output path prefix.","type":"string","description":"The prefix of a path where the Batch AI service will upload the stdout, stderr and execution log of the setup task."},"stdOutErrPathSuffix":{"title":"Output path suffix.","type":"string","description":"A path segment appended by Batch AI to stdOutErrPathPrefix to form a path where stdout, stderr and execution log of the setup task will be uploaded. Batch AI creates the setup task output directories under an unique path to avoid conflicts between different clusters. The full path can be obtained by concatenation of stdOutErrPathPrefix and stdOutErrPathSuffix.","readOnly":true}},"description":"Specifies a setup task which can be used to customize the compute nodes of the cluster."},"SshConfiguration":{"required":["userAccountSettings"],"type":"object","properties":{"publicIPsToAllow":{"title":"Allowed public IPs.","type":"array","description":"List of source IP ranges to allow SSH connection from. T
[...]
