{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "VictorOps",
    "description" : "This API allows you to interact with the VictorOps platform in various ways. Your account may be limited\nto a total number of API calls per month. Also, some of these API calls have rate limits.\n\nNOTE: In this documentation when creating a sample curl request (clicking the TRY IT OUT! button), in some API\nviewing interfaces, the '@' in an email address may be encoded. Please note that the REST endpoints will not\nprocess the encoded version. Make sure that the encoded character '%40' is changed to its unencoded form before\nsubmitting the curl request.\n",
    "version" : "0.0.3"
  },
  "servers" : [ {
    "url" : "https://api.victorops.com/"
  } ],
  "tags" : [ {
    "name" : "On-call"
  }, {
    "name" : "Incidents"
  }, {
    "name" : "Alerts"
  }, {
    "name" : "Reporting"
  }, {
    "name" : "Users"
  }, {
    "name" : "User Contact Methods"
  }, {
    "name" : "User Paging Policies"
  }, {
    "name" : "Personal Paging Policy Values"
  }, {
    "name" : "Personal Paging Policies"
  }, {
    "name" : "Teams"
  }, {
    "name" : "Escalation Policies"
  }, {
    "name" : "Routing Keys"
  }, {
    "name" : "Scheduled Overrides"
  } ],
  "paths" : {
    "/api-public/v1/alerts/{uuid}" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "summary" : "Retrieve alert details.",
        "description" : "Retrieve the details of an alert that was sent VictorOps by you.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "uuid",
          "in" : "path",
          "description" : "The VictorOps uuid of the alert",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The alert, if found.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetAlertResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "User not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/incidents" : {
      "get" : {
        "tags" : [ "Incidents" ],
        "summary" : "Get current incident information",
        "description" : "Get a list of the currently open, acknowledged and recently resolved incidents.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The set of incidents.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveIncidentList"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "Incidents" ],
        "summary" : "Create a new incident",
        "description" : "Create a new incident.\n\nThis call replicates the function of our\n<a href=\"https://help.victorops.com/knowledge-base/manual-incident-creation/\">manual incident creation process</a>.\nMonitoring tools and custom integrations\nshould be configured using our\n<a href=\"https://help.victorops.com/knowledge-base/victorops-restendpoint-integration/\">REST Endpoint</a>.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The incident details",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateIncidentRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Information about the incident created\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreatedIncident"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/incidents/ack" : {
      "patch" : {
        "tags" : [ "Incidents" ],
        "summary" : "Acknowledge an incident or list of incidents",
        "description" : "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Ack/Resolve payload",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AckOrResolveRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The result of each acknowledge incident action.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AckOrResolveResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "User not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/incidents/byUser/ack" : {
      "patch" : {
        "tags" : [ "Incidents" ],
        "summary" : "Acknowledge all incidents for which a user was paged.",
        "description" : "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Ack/Resolve payload",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AckOrResolveByUserRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The result of each acknowledge incident action.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AckOrResolveResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "User not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/incidents/byUser/resolve" : {
      "patch" : {
        "tags" : [ "Incidents" ],
        "summary" : "Resolve all incidents for which a user was paged.",
        "description" : "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Ack/Resolve payload",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AckOrResolveByUserRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The result of each resolve incident action.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AckOrResolveResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "User not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/incidents/reroute" : {
      "post" : {
        "tags" : [ "Incidents" ],
        "summary" : "Reroute one or more incidents to one or more new routable destinations.",
        "description" : "Reroute one or more incidents to one or more users and/or escalation policies\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The reroute rules",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/RerouteCollection"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The created reroute object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RerouteStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-public/v1/incidents/resolve" : {
      "patch" : {
        "tags" : [ "Incidents" ],
        "summary" : "Resolve an incident or list of incidents",
        "description" : "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Ack/Resolve payload",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AckOrResolveRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The result of each resolve incident action.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AckOrResolveResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "User not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/maintenancemode" : {
      "get" : {
        "tags" : [ "Maintenance Mode" ],
        "summary" : "Get an organization's current maintenance mode state",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "maintenance mode state",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MaintenanceModeState"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/maintenancemode/start" : {
      "post" : {
        "tags" : [ "Maintenance Mode" ],
        "summary" : "Start maintenance mode for routing keys",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "the definition of the maintenance mode you want to start",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "names" : {
                    "type" : "array",
                    "description" : "Routing keys that maintenance mode state covers. An empty list indicates global maintenance mode",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "purpose" : {
                    "type" : "string",
                    "description" : "the reason for the maintenance mode"
                  },
                  "type" : {
                    "type" : "string",
                    "enum" : [ "RoutingKeys" ]
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "maintenance mode state",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MaintenanceModeState"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "409" : {
            "description" : "You have an active global maintanance mode and are attempting to start a second. You may only have a single Global maintenance mode at a time"
          },
          "420" : {
            "description" : "You have reached the limit of allowed active maintenance modes"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/maintenancemode/{maintenancemodeid}/end" : {
      "put" : {
        "tags" : [ "Maintenance Mode" ],
        "summary" : "End maintenance mode for routing keys",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "maintenancemodeid",
          "in" : "path",
          "description" : "The id of the maintenance mode found in the active maintenance mode object",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "maintenance mode state",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MaintenanceModeState"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/oncall/current" : {
      "get" : {
        "tags" : [ "On-call" ],
        "summary" : "Get an organization's on-call users",
        "description" : "Get all on-call users/teams for your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All users and escalation policies currently on call",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "teamsOnCall" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/OnCallTeamsResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/org/routing-keys" : {
      "get" : {
        "tags" : [ "Routing Keys" ],
        "summary" : "List routing keys with associated teams",
        "description" : "Retrieves a list of routing keys and associated teams.\nThis API may be called a maximum of 60 times per minute.",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of routing keys and associated teams",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListRoutingKeysResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/overrides" : {
      "get" : {
        "tags" : [ "Scheduled Overrides" ],
        "summary" : "List the scheduled overrides",
        "description" : "List all the scheduled overrides on the organization\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of scheduled overrides for your organization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "overrides" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/ScheduledOverride"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "422" : {
            "description" : "You have reached your user limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "Scheduled Overrides" ],
        "summary" : "Creates a new scheduled override",
        "description" : "Creates a new scheduled override. Start and end dates are in ISO8601 format. E.g. `2018-09-28'T'05:00:00Z`\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/ScheduledOverridePayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The created scheduled override",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "schedule" : {
                      "$ref" : "#/components/schemas/ScheduledOverride"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "422" : {
            "description" : "You have reached your user limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/overrides/{publicId}" : {
      "get" : {
        "tags" : [ "Scheduled Overrides" ],
        "summary" : "Get the specified scheduled override",
        "description" : "Get the specified scheduled override\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicId",
          "in" : "path",
          "description" : "The publicId of the scheduled override",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The scheduled override",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "override" : {
                      "$ref" : "#/components/schemas/ScheduledOverride"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "422" : {
            "description" : "You have reached your user limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Scheduled Overrides" ],
        "summary" : "Deletes a scheduled override",
        "description" : "Deletes a scheduled override\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicId",
          "in" : "path",
          "description" : "The publicId of the scheduled override",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Whether or not the delete was successful"
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "422" : {
            "description" : "You have reached your user limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/overrides/{publicId}/assignments" : {
      "get" : {
        "tags" : [ "Scheduled Overrides" ],
        "summary" : "Get the specified scheduled override",
        "description" : "Get the specified scheduled override assignments\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicId",
          "in" : "path",
          "description" : "The publicId of the scheduled override",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The assignments for a given scheduled override",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Assignment"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "422" : {
            "description" : "You have reached your user limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/overrides/{publicId}/assignments/{policySlug}" : {
      "get" : {
        "tags" : [ "Scheduled Overrides" ],
        "summary" : "Get the specified scheduled override assignment",
        "description" : "Get the specified scheduled override assignments\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicId",
          "in" : "path",
          "description" : "The publicId of the scheduled override",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policySlug",
          "in" : "path",
          "description" : "The policySlug of the assignment",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The assignment for the given publicId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Assignment"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "422" : {
            "description" : "You have reached your user limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "put" : {
        "tags" : [ "Scheduled Overrides" ],
        "summary" : "Update the scheduled override assignment",
        "description" : "Update the scheduled override assignment\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicId",
          "in" : "path",
          "description" : "The publicId of the scheduled override",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policySlug",
          "in" : "path",
          "description" : "The policySlug of the assignment",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The policy and username we are assigning",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateAssignment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The assignment for the given policySlug",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Assignment"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "422" : {
            "description" : "You have reached your user limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Scheduled Overrides" ],
        "summary" : "Delete the scheduled override assignment",
        "description" : "Delete the scheduled override assignment\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicId",
          "in" : "path",
          "description" : "The publicId of the scheduled override",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policySlug",
          "in" : "path",
          "description" : "The policySlug of the assignment",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The assignment that was deleted for the given scheduled override and policySlug",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Assignment"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "422" : {
            "description" : "You have reached your user limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/policies" : {
      "get" : {
        "tags" : [ "Escalation Policies" ],
        "summary" : "Get escalation policy info",
        "description" : "Retrieves a list of escalation policy information.\nThis API may be called a maximum of once a minute.",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of escalation policies",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EscalationPolicyInfoList"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Path not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/policies/types/contacts" : {
      "get" : {
        "tags" : [ "Personal Paging Policy Values" ],
        "summary" : "Get the available contact types",
        "description" : "Get the available contact types\n\ndescription: \"Email Address\", type: \"email\"\ndescription: \"Phone Number\", type: \"phone\"\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All the available contact types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "contactTypes" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/ContactObject"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/policies/types/notifications" : {
      "get" : {
        "tags" : [ "Personal Paging Policy Values" ],
        "summary" : "Get the available notification types",
        "description" : "Get the available notification types\n\ndescription: \"Send a push notification to all my devices\", type: \"push\"\ndescription: \"Send an email to an email address\", type: \"email\"\ndescription: \"Send an SMS to a phone number\", type: \"sms\"\ndescription: \"Make a phone call to a phone number\", type: \"phone\"\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All the available contact types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "notificationTypes" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/NotificationObject"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/policies/types/timeouts" : {
      "get" : {
        "tags" : [ "Personal Paging Policy Values" ],
        "summary" : "Get the available timeout values",
        "description" : "Get the available timeout values\n\ndescription: \"If still unacked after 1 minute\", type: 1\ndescription: \"If still unacked after 5 minutes\", type: 5\ndescription: \"If still unacked after 10 minutes\", type: 10\ndescription: \"If still unacked after 15 minutes\", type: 15\ndescription: \"If still unacked after 20 minutes\", type: 20\ndescription: \"If still unacked after 25 minutes\", type: 25\ndescription: \"If still unacked after 30 minutes\", type: 30\ndescription: \"If still unacked after 45 minutes\", type: 45\ndescription: \"If still unacked after 60 minutes\", type: 60\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All the available timeout types.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "timeoutTypes" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/TimeoutObject"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/policies/{policy}/oncall/user" : {
      "patch" : {
        "tags" : [ "On-call" ],
        "summary" : "Create an on-call override (take on-call)",
        "description" : "Replaces a currently on-call user in the escalation policy with another.  In many cases, the policy slug\nwill match the slug of the team that contains it.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policy",
          "in" : "path",
          "description" : "The VictorOps policy 'slug'",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The take on-call payload",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/TakeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The result of the take request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TakeResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team or user(s) not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/profile/{username}/policies" : {
      "get" : {
        "tags" : [ "Personal Paging Policies" ],
        "summary" : "Get the user's paging policy",
        "description" : "Get all the paging policy steps for the user on the org associated with the API key\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "Your username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All steps of the user's paging policy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "steps" : {
                      "$ref" : "#/components/schemas/UserPagingPolicy"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "Personal Paging Policies" ],
        "summary" : "Create a paging policy step",
        "description" : "Create a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "Your username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddGroupPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The created paging policy step",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "step" : {
                      "$ref" : "#/components/schemas/PagingPolicyStep"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/profile/{username}/policies/{step}" : {
      "get" : {
        "tags" : [ "Personal Paging Policies" ],
        "summary" : "Get a paging policy step",
        "description" : "Get a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "Your username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "step",
          "in" : "path",
          "description" : "Paging policy step",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The paging policy step",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "step" : {
                      "$ref" : "#/components/schemas/PagingPolicyStep"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "put" : {
        "tags" : [ "Personal Paging Policies" ],
        "summary" : "Update a paging policy step",
        "description" : "Update a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "Your username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "step",
          "in" : "path",
          "description" : "Paging policy step",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddGroupPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The updated paging policy step",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "step" : {
                      "$ref" : "#/components/schemas/PagingPolicyStep"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "Personal Paging Policies" ],
        "summary" : "Create a rule for a paging policy step",
        "description" : "Create a rule for a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "Your username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "step",
          "in" : "path",
          "description" : "Paging policy step",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddStepPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The created rule for the paging policy step",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "stepRule" : {
                      "$ref" : "#/components/schemas/PagingPolicyStepRule"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/profile/{username}/policies/{step}/{rule}" : {
      "get" : {
        "tags" : [ "Personal Paging Policies" ],
        "summary" : "Get a rule from a paging policy step",
        "description" : "Get a rule from a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "Your username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "step",
          "in" : "path",
          "description" : "Paging policy step",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "rule",
          "in" : "path",
          "description" : "Rule for a paging policy step",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The rule from the paging policy step",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "stepRule" : {
                      "$ref" : "#/components/schemas/PagingPolicyStepRule"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "put" : {
        "tags" : [ "Personal Paging Policies" ],
        "summary" : "Update a rule for a paging policy step",
        "description" : "Update a rule for a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "Your username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "step",
          "in" : "path",
          "description" : "Paging policy step",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "rule",
          "in" : "path",
          "description" : "Rule for a paging policy step",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddStepPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The updated rule for the paging policy step",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "stepRule" : {
                      "$ref" : "#/components/schemas/PagingPolicyStepRule"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Personal Paging Policies" ],
        "summary" : "Delete a rule from a paging policy step",
        "description" : "Delete a rule from a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "Your username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "step",
          "in" : "path",
          "description" : "Paging policy step",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "rule",
          "in" : "path",
          "description" : "Rule for a paging policy step",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The deleted rule from the paging policy step",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_selfUrl" : {
                      "type" : "string"
                    },
                    "stepRule" : {
                      "$ref" : "#/components/schemas/PagingPolicyStepRule"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/team" : {
      "get" : {
        "tags" : [ "Teams" ],
        "summary" : "List teams",
        "description" : "Get a list of teams for your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of teams for your organization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListTeamResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team not found"
          },
          "422" : {
            "description" : "You have reached your team limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "Teams" ],
        "summary" : "Add a team",
        "description" : "Add a team to your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The team information",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddTeamPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Some details about the team that was added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddTeamResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team not found"
          },
          "422" : {
            "description" : "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/team/{team}" : {
      "get" : {
        "tags" : [ "Teams" ],
        "summary" : "Retrieve information for a team",
        "description" : "Get the information for the specified team.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team",
          "in" : "path",
          "description" : "The VictorOps team to fetch",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Some details about the team that was added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddTeamResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team not found"
          },
          "422" : {
            "description" : "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "put" : {
        "tags" : [ "Teams" ],
        "summary" : "Update a team",
        "description" : "Update the designated team\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team",
          "in" : "path",
          "description" : "The VictorOps team to be updated",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The team information",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddTeamPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Some details about the team that was added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddTeamResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team not found"
          },
          "422" : {
            "description" : "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Teams" ],
        "summary" : "Remove a team",
        "description" : "Remove a team from your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team",
          "in" : "path",
          "description" : "The VictorOps team to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Team was deleted"
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team not found"
          },
          "422" : {
            "description" : "There was a problem with the delete such as the replacement team was not found.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/team/{team}/admins" : {
      "get" : {
        "tags" : [ "Teams" ],
        "summary" : "Retrieve a list of team admins for a team",
        "description" : "Get the team admins for the specified team.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team",
          "in" : "path",
          "description" : "The VictorOps team",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Some details about the team that was added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TeamAdminsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/team/{team}/members" : {
      "get" : {
        "tags" : [ "Teams" ],
        "summary" : "Retrieve a list of members for a team",
        "description" : "Get the members for the specified team.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team",
          "in" : "path",
          "description" : "The VictorOps team to fetch",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Some details about the team that was added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListTeamMembersResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team not found"
          },
          "422" : {
            "description" : "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "Teams" ],
        "summary" : "Add a team member",
        "description" : "Add a team member to your team.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team",
          "in" : "path",
          "description" : "The VictorOps team to fetch",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddTeamMemberPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Some details about the team that was added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListTeamMembersResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team not found"
          },
          "422" : {
            "description" : "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/team/{team}/members/{user}" : {
      "delete" : {
        "tags" : [ "Teams" ],
        "summary" : "Remove a team member",
        "description" : "Remove a team from your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team",
          "in" : "path",
          "description" : "The VictorOps team to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "user",
          "in" : "path",
          "description" : "The team member username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The user information",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/RemoveTeamMemberPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Team was deleted"
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team not found"
          },
          "422" : {
            "description" : "There was a problem with the delete such as the replacement team member was not found.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/team/{team}/oncall/schedule" : {
      "get" : {
        "tags" : [ "On-call" ],
        "summary" : "Get a team's on-call schedule",
        "description" : "__NOTE: This call is deprecated. Please use `GET /api-public/v2/team/{team}/oncall/schedule`.__\n\nGet the on-call schedule for a team, including on-call overrides.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team",
          "in" : "path",
          "description" : "The VictorOps team 'slug'",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "daysForward",
          "in" : "query",
          "description" : "Days to include in returned schedule (30 max)",
          "schema" : {
            "maximum" : 30,
            "minimum" : 0,
            "type" : "number",
            "default" : 14.0
          }
        }, {
          "name" : "daysSkip",
          "in" : "query",
          "description" : "Days to skip before computing schedule to return (90 max)",
          "schema" : {
            "maximum" : 90,
            "minimum" : 0,
            "type" : "number",
            "default" : 0.0
          }
        }, {
          "name" : "step",
          "in" : "query",
          "description" : "Step of escalation policy (3 max)",
          "schema" : {
            "maximum" : 3,
            "minimum" : 0,
            "type" : "number",
            "default" : 0.0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The on-call schedule for the team",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnCallAndOverrides"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        },
        "deprecated" : true
      }
    },
    "/api-public/v1/team/{team}/oncall/user" : {
      "patch" : {
        "tags" : [ "On-call" ],
        "summary" : "Create an on-call override (take on-call)",
        "description" : "__NOTE: This API call is deprecated. Please use `PATCH /api-public/v2/policies/{policy}/oncall/user`__\n\nReplaces a currently on-call user on the team with another.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team",
          "in" : "path",
          "description" : "The VictorOps team 'slug'",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The take on-call payload",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/TakeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The result of the take request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TakeResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team or user(s) not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        },
        "deprecated" : true
      }
    },
    "/api-public/v1/team/{team}/policies" : {
      "get" : {
        "tags" : [ "Escalation Policies", "Teams" ],
        "summary" : "Retrieve a list of escalation policies for a team",
        "description" : "Get the escalation policies for the specified team.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "team",
          "in" : "path",
          "description" : "The VictorOps team to fetch",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The escalation policy list. This does not include details about the actual notification steps of the policy.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EscalationPolicyList"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "Team not found"
          },
          "422" : {
            "description" : "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/user" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "List users",
        "description" : "Get a list of users for your organization\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of users for your organization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUserResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "User not found"
          },
          "422" : {
            "description" : "You have reached your user limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Add a user",
        "description" : "Add a user to your organization\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddUserPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Some details about the user that was added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddUserResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem with the request arguments.  The response payload may include an error message."
          },
          "401" : {
            "description" : "Authentication parameters missing"
          },
          "403" : {
            "description" : "Authentication failed or rate-limit reached"
          },
          "404" : {
            "description" : "User not found"
          },
          "422" : {
            "description" : "Username or email is unavailable, or you have reached your user limit.\n"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      }
    },
    "/api-public/v1/user/{user}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Retrieve information for a user",
        "description" : "Get the information for the specified user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "parameters" : [ {
          "name" : "X-VO-Api-Id",
          "in" : "header",
          "description" : "Your API ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VO-Api-Key",
          "in" : "header",
          "description" : "Your API Key",
[...]
