{"openapi":"3.0.1","info":{"title":"MonitorManagementClient","version":"2017-05-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/{resourceUri}/providers/microsoft.insights/diagnosticSettings":{"get":{"tags":["DiagnosticSettings"],"description":"Gets the active diagnostic settings list for the specified resource.","operationId":"DiagnosticSettings_List","parameters":[{"name":"resourceUri","in":"path","description":"The identifier of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request to get more information about diagnostic setting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticSettingsResourceCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/{resourceUri}/providers/microsoft.insights/diagnosticSettings/{name}":{"get":{"tags":["DiagnosticSettings"],"description":"Gets the active diagnostic settings for the specified resource.","operationId":"DiagnosticSettings_Get","parameters":[{"name":"resourceUri","in":"path","description":"The identifier of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"The name of the diagnostic setting.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request to get more information about diagnostic setting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticSettingsResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["DiagnosticSettings"],"description":"Creates or updates diagnostic settings for the specified resource.","operationId":"DiagnosticSettings_CreateOrUpdate","parameters":[{"name":"resourceUri","in":"path","description":"The identifier of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"The name of the diagnostic setting.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticSettingsResource"}}},"required":true},"responses":{"200":{"description":"Successful request to create a diagnostic setting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticSettingsResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["DiagnosticSettings"],"description":"Deletes existing diagnostic settings for the specified resource.","operationId":"DiagnosticSettings_Delete","parameters":[{"name":"resourceUri","in":"path","description":"The identifier of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"The name of the diagnostic setting.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request to remove a diagnostic setting"},"204":{"description":"Successful request to remove a diagnostic setting"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"DiagnosticSettings":{"type":"object","properties":{"eventHubAuthorizationRuleId":{"type":"string","description":"The resource Id for the event hub authorization rule."},"eventHubName":{"type":"string","description":"The name of the event hub. If none is specified, the default event hub will be selected."},"logAnalyticsDestinationType":{"type":"string","description":"A string indicating whether the export to Log Analytics should use the default destination type, i.e. AzureDiagnostics, or use a destination type constructed as follows: <normalized service identity>_<normalized category name>. Possible values are: Dedicated and null (null is default.)"},"logs":{"type":"array","description":"The list of logs settings.","items":{"$ref":"#/components/schemas/LogSettings"}},"metrics":{"type":"array","description":"The list of metric settings.","items":{"$ref":"#/components/schemas/MetricSettings"}},"serviceBusRuleId":{"type":"string","description":"The service bus rule Id of the diagnostic setting. This is here to maintain backwards compatibility."},"storageAccountId":{"type":"string","description":"The resource ID of the storage account to which you would like to send Diagnostic Logs."},"workspaceId":{"type":"string","description":"The full ARM resource ID of the Log Analytics workspace to which you would like to send Diagnostic Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2"}},"description":"The diagnostic settings."},"DiagnosticSettingsResource":{"properties":{"properties":{"$ref":"#/components/schemas/DiagnosticSettings"}},"description":"The diagnostic setting resource.","allOf":[{"$ref":"#/components/schemas/ProxyOnlyResource"}]},"DiagnosticSettingsResourceCollection":{"type":"object","properties":{"value":{"type":"array","description":"The collection of diagnostic settings resources;.","items":{"$ref":"#/components/schemas/DiagnosticSettingsResource"}}},"description":"Represents a collection of alert rule resources."},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."},"LogSettings":{"required":["enabled"],"type":"object","properties":{"category":{"type":"string","description":"Name of a Diagnostic Log category for a resource type this setting is applied to. To obtain the list of Diagnostic Log categories for a resource, first perform a GET diagnostic settings operation."},"enabled":{"type":"boolean","description":"a value indicating whether this log is enabled."},"retentionPolicy":{"$ref":"#/components/schemas/RetentionPolicy"}},"description":"Part of MultiTenantDiagnosticSettings. Specifies the settings for a particular log."},"MetricSettings":{"required":["enabled"],"type":"object","properties":{"category":{"type":"string","description":"Name of a Diagnostic Metric category for a resource type this setting is applied to. To obtain the list of Diagnostic metric categories for a resource, first perform a GET diagnostic settings operation."},"enabled":{"type":"boolean","description":"a value indicating whether this category is enabled."},"retentionPolicy":{"$ref":"#/components/schemas/RetentionPolicy"},"timeGrain":{"type":"string","description":"the timegrain of the metric in ISO8601 format.","format":"duration"}},"description":"Part of MultiTenantDiagnosticSettings. Specifies the settings for a particular metric."},"ProxyOnlyResource":{"type":"object","properties":{"id":{"type":"string","description":"Azure resource Id","readOnly":true},"name":{"type":"string","description":"Azure resource name","readOnly":true},"type":{"type":"string","description":"Azure resource type","readOnly":true}},"description":"A proxy only azure resource object"},"RetentionPolicy":{"required":["days","enabled"],"type":"object","properties":{"days":{"minimum":0,"type":"integer","description":"the number of days for the retention in days. A value of 0 will retain the events indefinitely.","format":"int32"},"enabled":{"type":"boolean","description":"a value indicating whether the retention policy is enabled."}},"description":"Specifies the retention policy for the log."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"NameParameter":{"name":"name","in":"path","description":"The name of the diagnostic setting.","required":true,"schema":{"type":"string"}},"ResourceUriParameter":{"name":"resourceUri","in":"path","description":"The identifier of the resource.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}