{"openapi":"3.0.1","info":{"title":"Wavecell.Sms.Api","description":"This API allows Wavecell customers to originate request to send SMS messages anywhere in the World. The messages can be send individually or as a bulk request.","termsOfService":"https://wavecell.com/terms.html","contact":{"name":"Wavecell Dev team","url":"https://wavecell.com/","email":"support@wavecell.com"},"version":"v1"},"servers":[{"url":"http://api.wavecell.com/"},{"url":"https://api.wavecell.com/"}],"paths":{"/sms/v1/status":{"get":{"tags":["StatusPage"],"operationId":"SmsV1StatusGet","responses":{"204":{"description":"No Content"}},"deprecated":false}},"/sms/v1/{subAccountId}/many":{"post":{"tags":["SmsApi"],"operationId":"SendManyMessages","parameters":[{"name":"subAccountId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkSmsRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/BulkSmsRequest"}},"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/BulkSmsRequest"}}},"required":false},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkSmsResponse"}}}},"204":{"description":"No Content"},"400":{"description":"BadRequest","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"InternalServerError","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false}},"/sms/v1/{subAccountId}/many/compact":{"post":{"tags":["SmsApi"],"operationId":"SendManyMessagesInCompactForm","parameters":[{"name":"subAccountId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkSmsRequestCompact"}},"text/json":{"schema":{"$ref":"#/components/schemas/BulkSmsRequestCompact"}},"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/BulkSmsRequestCompact"}}},"required":false},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkSmsResponse"}}}},"204":{"description":"No Content"},"400":{"description":"BadRequest","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"InternalServerError","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false}},"/sms/v1/{subAccountId}/single":{"post":{"tags":["SmsApi"],"operationId":"SendSingleMessage","parameters":[{"name":"subAccountId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/SmsRequest"}},"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/SmsRequest"}}},"required":false},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SmsResponse"}}}},"204":{"description":"No Content"},"400":{"description":"BadRequest","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"InternalServerError","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false}}},"components":{"schemas":{"BulkSmsRequest":{"required":["messages"],"type":"object","properties":{"clientBatchId":{"maxLength":20,"type":"string"},"includeMessagesInResponse":{"type":"boolean"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/SmsRequest"}},"template":{"$ref":"#/components/schemas/SmsTemplate"}}},"BulkSmsRequestCompact":{"required":["destinations","template"],"type":"object","properties":{"clientBatchId":{"maxLength":20,"type":"string"},"destinations":{"type":"array","items":{"type":"string"}},"includeMessagesInResponse":{"type":"boolean"},"template":{"$ref":"#/components/schemas/SmsTemplate"}}},"BulkSmsResponse":{"type":"object","properties":{"acceptedCount":{"type":"integer","format":"int32"},"batchId":{"type":"string","format":"uuid"},"clientBatchId":{"type":"string"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/SmsResponse"}},"rejectedCount":{"type":"integer","format":"int32"}}},"ErrorResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32","readOnly":true},"errorId":{"type":"string","format":"uuid","readOnly":true},"message":{"type":"string"},"timestamp":{"type":"string","format":"date-time","readOnly":true}}},"SmsRequest":{"required":["destination"],"type":"object","properties":{"clientMessageId":{"maxLength":20,"type":"string"},"destination":{"pattern":"^\\+{0,1}[1-9]{1}[0-9]{6,14}$","type":"string"},"encoding":{"type":"string","enum":["AUTO","GSM7bit","UNICODE"]},"expiry":{"type":"string","format":"date-time"},"scheduled":{"type":"string","format":"date-time"},"source":{"maxLength":16,"type":"string"},"text":{"type":"string"}}},"SmsResponse":{"type":"object","properties":{"clientMessageId":{"type":"string"},"destination":{"type":"string"},"status":{"$ref":"#/components/schemas/SmsStatus"},"umid":{"type":"string"}}},"SmsStatus":{"type":"object","properties":{"code":{"type":"string"},"description":{"type":"string"}}},"SmsTemplate":{"type":"object","properties":{"encoding":{"type":"string","enum":["AUTO","GSM7bit","UNICODE"]},"expiry":{"type":"string","format":"date-time"},"scheduled":{"type":"string","format":"date-time"},"source":{"maxLength":16,"type":"string"},"text":{"type":"string"}}}},"securitySchemes":{"basicAuth":{"type":"http","description":"HTTP/HTTPS Basic Authentication. The authentication uses the Wavecell AccountId as username","scheme":"basic"}}}}