{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AppServiceCertificateOrders API Client",
    "version" : "2018-02-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders" : {
      "get" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "List all certificate orders in a subscription.",
        "description" : "List all certificate orders in a subscription.",
        "operationId" : "AppServiceCertificateOrders_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateOrderCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation" : {
      "post" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Validate information for a certificate order.",
        "description" : "Validate information for a certificate order.",
        "operationId" : "AppServiceCertificateOrders_ValidatePurchaseInformation",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Information for a certificate order.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppServiceCertificateOrder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders" : {
      "get" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Get certificate orders in a resource group.",
        "description" : "Get certificate orders in a resource group.",
        "operationId" : "AppServiceCertificateOrders_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateOrderCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}" : {
      "get" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Get a certificate order.",
        "description" : "Get a certificate order.",
        "operationId" : "AppServiceCertificateOrders_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order..",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateOrder"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Create or update a certificate purchase order.",
        "description" : "Create or update a certificate purchase order.",
        "operationId" : "AppServiceCertificateOrders_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Distinguished name to use for the certificate order.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppServiceCertificateOrder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "App Service Certificate Order is created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateOrder"
                }
              }
            }
          },
          "201" : {
            "description" : "App Service Certificate Order creation operation is in progress",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateOrder"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Delete an existing certificate order.",
        "description" : "Delete an existing certificate order.",
        "operationId" : "AppServiceCertificateOrders_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted certificate order."
          },
          "204" : {
            "description" : "Certificate order does not exist."
          }
        }
      },
      "patch" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Create or update a certificate purchase order.",
        "description" : "Create or update a certificate purchase order.",
        "operationId" : "AppServiceCertificateOrders_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Distinguished name to use for the certificate order.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppServiceCertificateOrderPatchResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "App Service Certificate Order is created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateOrder"
                }
              }
            }
          },
          "201" : {
            "description" : "App Service Certificate Order creation operation is in progress",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateOrder"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates" : {
      "get" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "List all certificates associated with a certificate order.",
        "description" : "List all certificates associated with a certificate order.",
        "operationId" : "AppServiceCertificateOrders_ListCertificates",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}" : {
      "get" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Get the certificate associated with a certificate order.",
        "description" : "Get the certificate associated with a certificate order.",
        "operationId" : "AppServiceCertificateOrders_GetCertificate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the certificate.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateResource"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Creates or updates a certificate and associates with key vault secret.",
        "description" : "Creates or updates a certificate and associates with key vault secret.",
        "operationId" : "AppServiceCertificateOrders_CreateOrUpdateCertificate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the certificate.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Key vault certificate resource Id.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppServiceCertificateResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "App Service Certificate is created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateResource"
                }
              }
            }
          },
          "201" : {
            "description" : "App Service Certificate creation operation is in progress",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateResource"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Delete the certificate associated with a certificate order.",
        "description" : "Delete the certificate associated with a certificate order.",
        "operationId" : "AppServiceCertificateOrders_DeleteCertificate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the certificate.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted certificate."
          },
          "204" : {
            "description" : "Certificate does not exist."
          }
        }
      },
      "patch" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Creates or updates a certificate and associates with key vault secret.",
        "description" : "Creates or updates a certificate and associates with key vault secret.",
        "operationId" : "AppServiceCertificateOrders_UpdateCertificate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the certificate.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Key vault certificate resource Id.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppServiceCertificatePatchResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "App Service Certificate is created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateResource"
                }
              }
            }
          },
          "201" : {
            "description" : "App Service Certificate creation operation is in progress",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppServiceCertificateResource"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/reissue" : {
      "post" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Reissue an existing certificate order.",
        "description" : "Reissue an existing certificate order.",
        "operationId" : "AppServiceCertificateOrders_Reissue",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters for the reissue.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReissueCertificateOrderRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/renew" : {
      "post" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Renew an existing certificate order.",
        "description" : "Renew an existing certificate order.",
        "operationId" : "AppServiceCertificateOrders_Renew",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Renew parameters",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RenewCertificateOrderRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/resendEmail" : {
      "post" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Resend certificate email.",
        "description" : "Resend certificate email.",
        "operationId" : "AppServiceCertificateOrders_ResendEmail",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/resendRequestEmails" : {
      "post" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Verify domain ownership for this certificate order.",
        "description" : "Verify domain ownership for this certificate order.",
        "operationId" : "AppServiceCertificateOrders_ResendRequestEmails",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Email address",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "Name of the object."
                  }
                },
                "description" : "Identifies an object."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/retrieveSiteSeal" : {
      "post" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Verify domain ownership for this certificate order.",
        "description" : "Verify domain ownership for this certificate order.",
        "operationId" : "AppServiceCertificateOrders_RetrieveSiteSeal",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Site seal request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SiteSealRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SiteSeal"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/verifyDomainOwnership" : {
      "post" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Verify domain ownership for this certificate order.",
        "description" : "Verify domain ownership for this certificate order.",
        "operationId" : "AppServiceCertificateOrders_VerifyDomainOwnership",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "certificateOrderName",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveCertificateActions" : {
      "post" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Retrieve the list of certificate actions.",
        "description" : "Retrieve the list of certificate actions.",
        "operationId" : "AppServiceCertificateOrders_RetrieveCertificateActions",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CertificateOrderAction"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveEmailHistory" : {
      "post" : {
        "tags" : [ "AppServiceCertificateOrders" ],
        "summary" : "Retrieve email history.",
        "description" : "Retrieve email history.",
        "operationId" : "AppServiceCertificateOrders_RetrieveCertificateEmailHistory",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the certificate order.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CertificateEmail"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AppServiceCertificate" : {
        "type" : "object",
        "properties" : {
          "keyVaultId" : {
            "type" : "string",
            "description" : "Key Vault resource Id."
          },
          "keyVaultSecretName" : {
            "type" : "string",
            "description" : "Key Vault secret name."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Status of the Key Vault secret.",
            "readOnly" : true,
            "enum" : [ "Initialized", "WaitingOnCertificateOrder", "Succeeded", "CertificateOrderFailed", "OperationNotPermittedOnKeyVault", "AzureServiceUnauthorizedToAccessKeyVault", "KeyVaultDoesNotExist", "KeyVaultSecretDoesNotExist", "UnknownError", "ExternalPrivateKey", "Unknown" ]
          }
        },
        "description" : "Key Vault container for a certificate that is purchased through Azure."
      },
      "AppServiceCertificateCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of resources.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Collection of resources.",
            "items" : {
              "$ref" : "#/components/schemas/AppServiceCertificateResource"
            }
          }
        },
        "description" : "Collection of certificate order certificates."
      },
      "AppServiceCertificateOrder" : {
        "properties" : {
          "properties" : {
            "required" : [ "productType" ],
            "type" : "object",
            "properties" : {
              "appServiceCertificateNotRenewableReasons" : {
                "type" : "array",
                "description" : "Reasons why App Service Certificate is not renewable at the current moment.",
                "readOnly" : true,
                "items" : {
                  "type" : "string",
                  "enum" : [ "RegistrationStatusNotSupportedForRenewal", "ExpirationNotInRenewalTimeRange", "SubscriptionNotActive" ]
                }
              },
              "autoRenew" : {
                "type" : "boolean",
                "description" : "<code>true</code> if the certificate should be automatically renewed when it expires; otherwise, <code>false</code>.",
                "default" : true
              },
              "certificates" : {
                "type" : "object",
                "additionalProperties" : {
                  "$ref" : "#/components/schemas/AppServiceCertificate"
                },
                "description" : "State of the Key Vault secret."
              },
              "csr" : {
                "type" : "string",
                "description" : "Last CSR that was created for this order."
              },
              "distinguishedName" : {
                "type" : "string",
                "description" : "Certificate distinguished name."
              },
              "domainVerificationToken" : {
                "type" : "string",
                "description" : "Domain verification token.",
                "readOnly" : true
              },
              "expirationTime" : {
                "type" : "string",
                "description" : "Certificate expiration time.",
                "format" : "date-time",
                "readOnly" : true
              },
              "intermediate" : {
                "$ref" : "#/components/schemas/CertificateDetails"
              },
              "isPrivateKeyExternal" : {
                "type" : "boolean",
                "description" : "<code>true</code> if private key is external; otherwise, <code>false</code>.",
                "readOnly" : true
              },
              "keySize" : {
                "type" : "integer",
                "description" : "Certificate key size.",
                "format" : "int32",
                "default" : 2048
              },
              "lastCertificateIssuanceTime" : {
                "type" : "string",
                "description" : "Certificate last issuance time.",
                "format" : "date-time",
                "readOnly" : true
              },
              "nextAutoRenewalTimeStamp" : {
                "type" : "string",
                "description" : "Time stamp when the certificate would be auto renewed next",
                "format" : "date-time",
                "readOnly" : true
              },
              "productType" : {
                "type" : "string",
                "description" : "Certificate product type.",
                "enum" : [ "StandardDomainValidatedSsl", "StandardDomainValidatedWildCardSsl" ]
              },
              "provisioningState" : {
                "type" : "string",
                "description" : "Status of certificate order.",
                "readOnly" : true,
                "enum" : [ "Succeeded", "Failed", "Canceled", "InProgress", "Deleting" ]
              },
              "root" : {
                "$ref" : "#/components/schemas/CertificateDetails"
              },
              "serialNumber" : {
                "type" : "string",
                "description" : "Current serial number of the certificate.",
                "readOnly" : true
              },
              "signedCertificate" : {
                "$ref" : "#/components/schemas/CertificateDetails"
              },
              "status" : {
                "type" : "string",
                "description" : "Current order status.",
                "readOnly" : true,
                "enum" : [ "Pendingissuance", "Issued", "Revoked", "Canceled", "Denied", "Pendingrevocation", "PendingRekey", "Unused", "Expired", "NotSubmitted" ]
              },
              "validityInYears" : {
                "maximum" : 3,
                "minimum" : 1,
                "type" : "integer",
                "description" : "Duration in years (must be between 1 and 3).",
                "format" : "int32",
                "default" : 1
              }
            },
            "description" : "AppServiceCertificateOrder resource specific properties"
          }
        },
        "description" : "SSL certificate purchase order.",
        "allOf" : [ {
          "required" : [ "location" ],
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource Location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure resource. This resource is tracked in Azure Resource Manager"
        } ]
      },
      "AppServiceCertificateOrderCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of resources.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Collection of resources.",
            "items" : {
              "$ref" : "#/components/schemas/AppServiceCertificateOrder"
            }
          }
        },
        "description" : "Collection of certificate orders."
      },
      "AppServiceCertificateOrderPatchResource" : {
        "properties" : {
          "properties" : {
            "required" : [ "productType" ],
            "type" : "object",
            "properties" : {
              "appServiceCertificateNotRenewableReasons" : {
                "type" : "array",
                "description" : "Reasons why App Service Certificate is not renewable at the current moment.",
                "readOnly" : true,
                "items" : {
                  "type" : "string",
                  "enum" : [ "RegistrationStatusNotSupportedForRenewal", "ExpirationNotInRenewalTimeRange", "SubscriptionNotActive" ]
                }
              },
              "autoRenew" : {
                "type" : "boolean",
                "description" : "<code>true</code> if the certificate should be automatically renewed when it expires; otherwise, <code>false</code>.",
                "default" : true
              },
              "certificates" : {
                "type" : "object",
                "additionalProperties" : {
                  "$ref" : "#/components/schemas/AppServiceCertificate"
                },
                "description" : "State of the Key Vault secret."
              },
              "csr" : {
                "type" : "string",
                "description" : "Last CSR that was created for this order."
              },
              "distinguishedName" : {
                "type" : "string",
                "description" : "Certificate distinguished name."
              },
              "domainVerificationToken" : {
                "type" : "string",
                "description" : "Domain verification token.",
                "readOnly" : true
              },
              "expirationTime" : {
                "type" : "string",
                "description" : "Certificate expiration time.",
                "format" : "date-time",
                "readOnly" : true
              },
              "intermediate" : {
                "$ref" : "#/components/schemas/CertificateDetails"
              },
              "isPrivateKeyExternal" : {
                "type" : "boolean",
                "description" : "<code>true</code> if private key is external; otherwise, <code>false</code>.",
                "readOnly" : true
              },
              "keySize" : {
                "type" : "integer",
                "description" : "Certificate key size.",
                "format" : "int32",
                "default" : 2048
              },
              "lastCertificateIssuanceTime" : {
                "type" : "string",
                "description" : "Certificate last issuance time.",
                "format" : "date-time",
                "readOnly" : true
              },
              "nextAutoRenewalTimeStamp" : {
                "type" : "string",
                "description" : "Time stamp when the certificate would be auto renewed next",
                "format" : "date-time",
                "readOnly" : true
              },
              "productType" : {
                "type" : "string",
                "description" : "Certificate product type.",
                "enum" : [ "StandardDomainValidatedSsl", "StandardDomainValidatedWildCardSsl" ]
              },
              "provisioningState" : {
                "type" : "string",
                "description" : "Status of certificate order.",
                "readOnly" : true,
                "enum" : [ "Succeeded", "Failed", "Canceled", "InProgress", "Deleting" ]
              },
              "root" : {
                "$ref" : "#/components/schemas/CertificateDetails"
              },
              "serialNumber" : {
                "type" : "string",
                "description" : "Current serial number of the certificate.",
                "readOnly" : true
              },
              "signedCertificate" : {
                "$ref" : "#/components/schemas/CertificateDetails"
              },
              "status" : {
                "type" : "string",
                "description" : "Current order status.",
                "readOnly" : true,
                "enum" : [ "Pendingissuance", "Issued", "Revoked", "Canceled", "Denied", "Pendingrevocation", "PendingRekey", "Unused", "Expired", "NotSubmitted" ]
              },
              "validityInYears" : {
                "maximum" : 3,
                "minimum" : 1,
                "type" : "integer",
                "description" : "Duration in years (must be between 1 and 3).",
                "format" : "int32",
                "default" : 1
              }
            },
            "description" : "AppServiceCertificateOrderPatchResource resource specific properties"
          }
        },
        "description" : "ARM resource for a certificate order that is purchased through Azure.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure proxy only resource. This resource is not tracked by Azure Resource Manager."
        } ]
      },
      "AppServiceCertificatePatchResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AppServiceCertificate"
          }
        },
        "description" : "Key Vault container ARM resource for a certificate that is purchased through Azure.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure proxy only resource. This resource is not tracked by Azure Resource Manager."
        } ]
      },
      "AppServiceCertificateResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AppServiceCertificate"
          }
        },
        "description" : "Key Vault container ARM resource for a certificate that is purchased through Azure.",
        "allOf" : [ {
          "required" : [ "location" ],
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource Location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure resource. This resource is tracked in Azure Resource Manager"
        } ]
      },
      "CertificateDetails" : {
        "type" : "object",
        "properties" : {
          "issuer" : {
            "type" : "string",
            "description" : "Certificate Issuer.",
            "readOnly" : true
          },
          "notAfter" : {
            "type" : "string",
            "description" : "Date Certificate is valid to.",
            "format" : "date-time",
            "readOnly" : true
          },
          "notBefore" : {
            "type" : "string",
            "description" : "Date Certificate is valid from.",
            "format" : "date-time",
            "readOnly" : true
          },
          "rawData" : {
            "type" : "string",
            "description" : "Raw certificate data.",
            "readOnly" : true
          },
          "serialNumber" : {
            "type" : "string",
            "description" : "Certificate Serial Number.",
            "readOnly" : true
          },
          "signatureAlgorithm" : {
            "type" : "string",
            "description" : "Certificate Signature algorithm.",
            "readOnly" : true
          },
          "subject" : {
            "type" : "string",
            "description" : "Certificate Subject.",
            "readOnly" : true
          },
          "thumbprint" : {
            "type" : "string",
            "description" : "Certificate Thumbprint.",
            "readOnly" : true
          },
          "version" : {
            "type" : "integer",
            "description" : "Certificate Version.",
            "format" : "int32",
            "readOnly" : true
          }
        },
        "description" : "SSL certificate details."
      },
      "CertificateEmail" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "emailId" : {
                "type" : "string",
                "description" : "Email id."
              },
              "timeStamp" : {
                "type" : "string",
                "description" : "Time stamp.",
                "format" : "date-time"
              }
            },
            "description" : "CertificateEmail resource specific properties"
          }
        },
        "description" : "SSL certificate email.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure proxy only resource. This resource is not tracked by Azure Resource Manager."
        } ]
      },
      "CertificateOrderAction" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "actionType" : {
                "type" : "string",
                "description" : "Action type.",
                "readOnly" : true,
                "enum" : [ "CertificateIssued", "CertificateOrderCanceled", "CertificateOrderCreated", "CertificateRevoked", "DomainValidationComplete", "FraudDetected", "OrgNameChange", "OrgValidationComplete", "SanDrop", "FraudCleared", "CertificateExpired", "CertificateExpirationWarning", "FraudDocumentationRequired", "Unknown" ]
              },
              "createdAt" : {
                "type" : "string",
                "description" : "Time at which the certificate action was performed.",
                "format" : "date-time",
                "readOnly" : true
              }
            },
            "description" : "CertificateOrderAction resource specific properties"
          }
        },
        "description" : "Certificate order action.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure proxy only resource. This resource is not tracked by Azure Resource Manager."
        } ]
      },
      "ReissueCertificateOrderRequest" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "csr" : {
                "type" : "string",
                "description" : "Csr to be used for re-key operation."
              },
              "delayExistingRevokeInHours" : {
                "type" : "integer",
                "description" : "Delay in hours to revoke existing certificate after the new certificate is issued.",
                "format" : "int32"
              },
              "isPrivateKeyExternal" : {
                "type" : "boolean",
                "description" : "Should we change the ASC type (from managed private key to external private key and vice versa)."
              },
              "keySize" : {
                "type" : "integer",
                "description" : "Certificate Key Size.",
                "format" : "int32"
              }
            },
            "description" : "ReissueCertificateOrderRequest resource specific properties"
          }
        },
        "description" : "Class representing certificate reissue request.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure proxy only resource. This resource is not tracked by Azure Resource Manager."
        } ]
      },
      "RenewCertificateOrderRequest" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "csr" : {
                "type" : "string",
                "description" : "Csr to be used for re-key operation."
              },
              "isPrivateKeyExternal" : {
                "type" : "boolean",
                "description" : "Should we change the ASC type (from managed private key to external private key and vice versa)."
              },
              "keySize" : {
                "type" : "integer",
                "description" : "Certificate Key Size.",
                "format" : "int32"
              }
            },
            "description" : "RenewCertificateOrderRequest resource specific properties"
          }
        },
        "description" : "Class representing certificate renew request.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
[...]
