{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Profile",
    "description" : "API that provides Profile information about Players.",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://www.haloapi.com/profile"
  } ],
  "security" : [ {
    "apiKeyHeader" : null
  }, {
    "apiKeyQuery" : null
  } ],
  "paths" : {
    "/h5/profiles/{player}/appearance" : {
      "get" : {
        "summary" : "Halo 5 - Player Appearance",
        "description" : "<p>This Endpoint retrieves appearance information for a player.</p>\n<p>If the player is a member of a Company, the Company's ID and Name will be provided. Additional Company information is available via the Stats API.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>July 14, 2017:</strong></p>\n    <ul>\n        <li>Added Endpoint.</li>\n    </ul>\n</div>\n",
        "operationId" : "Halo-5-Player-Appearance",
        "parameters" : [ {
          "name" : "player",
          "in" : "path",
          "description" : "The Player's Gamertag",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The response body will contain the Metadata for the Player-created Game Variant.",
            "content" : {
              "application/json" : {
                "example" : "{\n  // Gamertag of the player. The casing of this field will match the official casing for\n  // the player's Gamertag and may differ than what was specified in the request.\n  \"Gamertag\": \"string\",\n\n  // The date when the player's appearance was last updated. The time component of this\n  // date is always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date and\n  // Time.\n  \"LastModifiedUtc\": {\n\n    \"ISO8601Date\": \"string\"\n  },\n\n  // The date when the player's appearance was first set. The time component of this date\n  // is always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date and Time.\n  \"FirstModifiedUtc\": {\n\n    \"ISO8601Date\": \"string\"\n  },\n\n  // Service Tag for the player.\n  \"ServiceTag\": \"string\",\n\n  // Company membership information for the player. If the player is not a member of a\n  // company, this will be null.\n  \"Company\": {\n\n    // ID of the company. The company ID can be used to look up additional information\n    // about the company via the Stats API.\n    \"Id\": \"guid\",\n\n    // Name of the company.\n    \"Name\": \"string\"\n  }\n}\n"
              }
            }
          },
          "404" : {
            "description" : "Specified Player was not found."
          },
          "500" : {
            "description" : "Internal Server Error."
          }
        }
      }
    },
    "/h5/profiles/{player}/emblem" : {
      "get" : {
        "summary" : "Halo 5 - Player Emblem Image",
        "description" : "<p>This Endpoint returns an HTTP Redirect (302 Found) response to the caller with the URL of an image of the Player's Emblem. The initial request to this API that returns the HTTP Redirect is throttled and requires a Subscription Key. However, the image itself (at hostname \"image.halocdn.com\") is not throttled and does not require a Subscription Key. Note that if the Player later changes their Emblem, the image itself is not refreshed and will need to be refreshed via a new request to this API.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>August 12, 2019:</strong></p>\n    <ul>\n        <li>Expanded documentation for the HTTP 400 response code to cover unsupported emblem component(s).</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>July 14, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Halo 5 - Emblem Image\" to \"Halo 5 - Player Emblem Image\".</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Emblem Image\" to \"Halo 5 - Emblem Image\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n    </ul>\n</div>\n",
        "operationId" : "Halo-5-Player-Emblem-Image",
        "parameters" : [ {
          "name" : "player",
          "in" : "path",
          "description" : "The Player's Gamertag.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "An optional size (specified in pixels) of the image requested. When specified, this value must be one of the following values: 95, 128, 190, 256, 512. If a value is specified that is not in this list, the API returns HTTP 400 (\"Bad Request\"). If the size is empty or missing, the API will use 256.",
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "302" : {
            "description" : "Golden Path. The Location header should point at the corresponding Emblem image."
          },
          "400" : {
            "description" : "An unsupported value was provided for a query string parameter or the Player's Emblem contains unsupported component(s) and cannot be rendered at this time."
          },
          "404" : {
            "description" : "Specified Player was not found."
          },
          "500" : {
            "description" : "Internal Server Error."
          }
        }
      }
    },
    "/h5/profiles/{player}/spartan" : {
      "get" : {
        "summary" : "Halo 5 - Player Spartan Image",
        "description" : "<p>This Endpoint returns an HTTP Redirect (302 Found) response to the caller with the URL of an image of the Player's Spartan's appearance. The initial request to this API that returns the HTTP Redirect is throttled and requires a Subscription Key. However, the image itself (at hostname \"image.halocdn.com\") is not throttled and does not require a Subscription Key. Note that if the Player later changes their Spartan's appearance, the image itself is not refreshed and will need to be refreshed via a new request to this API.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>August 12, 2019:</strong></p>\n    <ul>\n        <li>Expanded documentation for the HTTP 400 response code to cover unsupported armor component(s).</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>July 14, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Halo 5 - Spartan Image\" to \"Halo 5 - Player Spartan Image\".</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Spartan Image\" to \"Halo 5 - Spartan Image\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n    </ul>\n</div>\n",
        "operationId" : "Halo-5-Player-Spartan-Image",
        "parameters" : [ {
          "name" : "player",
          "in" : "path",
          "description" : "The Player's Gamertag.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "An optional size (specified in pixels) of the image requested. When specified, this value must be one of the following values: 95, 128, 190, 256, 512. If a value is specified that is not in this list, the API returns HTTP 400 (\"Bad Request\"). If the size is empty or missing, the API will use 256.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "crop",
          "in" : "query",
          "description" : "An optional crop that will be used to determine what portion of the Spartan is returned in the image. The value must be either \"full\" or \"portrait\". If no value is specified \"full\" is used. If an unsupported value is provided, the API returns HTTP 400 (\"Bad Request\").",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "302" : {
            "description" : "Golden Path. The Location header should point at the corresponding Spartan image."
          },
          "400" : {
            "description" : "An unsupported value was provided for a query string parameter or the Player's Spartan is equipped with unsupported component(s) and cannot be rendered at this time."
          },
          "404" : {
            "description" : "Specified Player was not found."
          },
          "500" : {
            "description" : "Internal Server Error."
          }
        }
      }
    }
  },
  "components" : {
    "securitySchemes" : {
      "apiKeyHeader" : {
        "type" : "apiKey",
        "name" : "Ocp-Apim-Subscription-Key",
        "in" : "header"
      },
      "apiKeyQuery" : {
        "type" : "apiKey",
        "name" : "subscription-key",
        "in" : "query"
      }
    }
  }
}