{"openapi":"3.0.1","info":{"title":"portal","description":"Allows creation and deletion of Azure Shared Dashboards.","version":"2019-01-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Portal/operations":{"get":{"tags":["Operations"],"description":"The Microsoft Portal operations API.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"The API version to be used with the HTTP request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Describe the result of a successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceProviderOperationList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Portal/dashboards":{"get":{"tags":["Dashboard"],"description":"Gets all the dashboards within a subscription.","operationId":"Dashboards_ListBySubscription","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to be used with the HTTP request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of dashboards.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards":{"get":{"tags":["Dashboard"],"description":"Gets all the Dashboards within a resource group.","operationId":"Dashboards_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to be used with the HTTP request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of Dashboards.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards/{dashboardName}":{"get":{"tags":["Dashboard"],"description":"Gets the Dashboard.","operationId":"Dashboards_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"dashboardName","in":"path","description":"The name of the dashboard.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to be used with the HTTP request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dashboard"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Dashboard"],"description":"Creates or updates a Dashboard.","operationId":"Dashboards_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"dashboardName","in":"path","description":"The name of the dashboard.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to be used with the HTTP request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters required to create or update a dashboard.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dashboard"}}},"required":true},"responses":{"200":{"description":"Resource already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dashboard"}}}},"201":{"description":"Created response definition. Resource has been created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dashboard"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Dashboard"],"description":"Deletes the Dashboard.","operationId":"Dashboards_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"dashboardName","in":"path","description":"The name of the dashboard.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to be used with the HTTP request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition."},"204":{"description":"OK resource was not found."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Dashboard"],"description":"Updates an existing Dashboard.","operationId":"Dashboards_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"dashboardName","in":"path","description":"The name of the dashboard.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to be used with the HTTP request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The updatable fields of a Dashboard.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchableDashboard"}}},"required":true},"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dashboard"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Dashboard":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"properties":{"$ref":"#/components/schemas/DashboardProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The shared dashboard resource definition."},"DashboardLens":{"required":["order","parts"],"type":"object","properties":{"metadata":{"type":"object","additionalProperties":{"type":"object"},"description":"The dashboard len's metadata."},"order":{"type":"integer","description":"The lens order."},"parts":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DashboardParts"},"description":"The dashboard parts."}},"description":"A dashboard lens."},"DashboardListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","description":"The array of custom resource provider manifests.","items":{"$ref":"#/components/schemas/Dashboard"}}},"description":"List of dashboards."},"DashboardParts":{"required":["position"],"type":"object","properties":{"metadata":{"type":"object","additionalProperties":{"type":"object"},"description":"The dashboard part's metadata."},"position":{"required":["colSpan","rowSpan","x","y"],"type":"object","properties":{"colSpan":{"type":"number","description":"The dashboard's part column span."},"metadata":{"type":"object","additionalProperties":{"type":"object"},"description":"The dashboard part's metadata."},"rowSpan":{"type":"number","description":"The dashboard's part row span."},"x":{"type":"number","description":"The dashboard's part x coordinate."},"y":{"type":"number","description":"The dashboard's part y coordinate."}},"description":"The dashboard's part position."}},"description":"A dashboard part."},"DashboardProperties":{"type":"object","properties":{"lenses":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DashboardLens"},"description":"The dashboard lenses."},"metadata":{"type":"object","additionalProperties":{"type":"object"},"description":"The dashboard metadata."}},"description":"The shared dashboard properties."},"ErrorDefinition":{"type":"object","properties":{"code":{"type":"string","description":"Service specific error code which serves as the substatus for the HTTP error code.","readOnly":true},"details":{"type":"array","description":"Internal error details.","readOnly":true,"items":{"$ref":"#/components/schemas/ErrorDefinition"}},"message":{"type":"string","description":"Description of the error.","readOnly":true}},"description":"Error definition."},"ErrorResponse":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDefinition"}},"description":"Error response."},"PatchableDashboard":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/DashboardProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"}},"description":"The shared dashboard resource definition."},"ResourceProviderOperation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"Description of this operation."},"operation":{"type":"string","description":"Type of operation: get, read, delete, etc."},"provider":{"type":"string","description":"Resource provider: Microsoft Custom Providers."},"resource":{"type":"string","description":"Resource on which the operation is performed."}},"description":"Display metadata associated with the operation."},"isDataAction":{"type":"string","description":"Indicates whether the operation applies to data-plane."},"name":{"type":"string","description":"Operation name, in format of {provider}/{resource}/{operation}"}},"description":"Supported operations of this resource provider."},"ResourceProviderOperationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","description":"List of operations supported by this resource provider.","items":{"$ref":"#/components/schemas/ResourceProviderOperation"}}},"description":"Results of the request to list operations."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to be used with the HTTP request.","required":true,"schema":{"type":"string"}},"DashboardNameParameter":{"name":"dashboardName","in":"path","description":"The name of the dashboard.","required":true,"schema":{"maxLength":64,"minLength":3,"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}