{"openapi":"3.0.1","info":{"title":"VirtualWANAsAServiceManagementClient","description":"REST API for Azure VirtualWAN As a Service.","version":"2019-07-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Network/p2svpnGateways":{"get":{"description":"Lists all the P2SVpnGateways in a subscription.","operationId":"P2sVpnGateways_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the P2SVpnGateways in the subscription.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListP2SVpnGatewaysResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualHubs":{"get":{"description":"Lists all the VirtualHubs in a subscription.","operationId":"VirtualHubs_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the VirtualHubs in the subscription.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVirtualHubsResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualWans":{"get":{"description":"Lists all the VirtualWANs in a subscription.","operationId":"VirtualWans_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the VirtualWANs in the subscription.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVirtualWANsResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnGateways":{"get":{"description":"Lists all the VpnGateways in a subscription.","operationId":"VpnGateways_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the VpnGateways in the subscription.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVpnGatewaysResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnSites":{"get":{"description":"Lists all the VpnSites in a subscription.","operationId":"VpnSites_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the VpnSites in the subscription.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVpnSitesResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways":{"get":{"description":"Lists all the P2SVpnGateways in a resource group.","operationId":"P2sVpnGateways_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the P2SVpnGateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the P2SVpnGateways in the resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListP2SVpnGatewaysResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}":{"get":{"description":"Retrieves the details of a virtual wan p2s vpn gateway.","operationId":"P2sVpnGateways_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the P2SVpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of the virtual wan p2s vpn gateway retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnGateway"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"put":{"description":"Creates a virtual wan p2s vpn gateway if it doesn't exist else updates the existing gateway.","operationId":"P2sVpnGateways_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the P2SVpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to create or Update a virtual wan p2s vpn gateway.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnGateway"}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the virtual wan p2s vpn Gateway created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnGateway"}}}},"201":{"description":"Request successful. Returns the details of the virtual wan p2s vpn gateway retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnGateway"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"delete":{"description":"Deletes a virtual wan p2s vpn gateway.","operationId":"P2sVpnGateways_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the P2SVpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. P2SVpnGateway deleted."},"202":{"description":"Request received successfully. P2SVpnGateway deletion is in progress; follow the Location header to poll for final outcome."},"204":{"description":"No p2s vpn gateways exist by the name provided."},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"patch":{"tags":["P2SVpnGateways"],"description":"Updates virtual wan p2s vpn gateway tags.","operationId":"P2sVpnGateways_UpdateTags","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the P2SVpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to update a virtual wan p2s vpn gateway tags.","content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Tags object for patch operations."}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the updated gateway.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnGateway"}}}},"201":{"description":"Request received successfully. Returns the details of the updated gateway.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnGateway"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/generatevpnprofile":{"post":{"tags":["P2SVpnGateways"],"description":"Generates VPN profile for P2S client of the P2SVpnGateway in the specified resource group.","operationId":"P2sVpnGateways_GenerateVpnProfile","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the P2SVpnGateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the generate P2SVpnGateway VPN client package operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnProfileParameters"}}},"required":true},"responses":{"200":{"description":"VPN profile package URL.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnProfileResponse"}}}},"202":{"description":"Accepted and the operation will complete asynchronously."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/getP2sVpnConnectionHealth":{"post":{"tags":["P2SVpnGateways"],"description":"Gets the connection health of P2S clients of the virtual wan P2SVpnGateway in the specified resource group.","operationId":"P2sVpnGateways_GetP2sVpnConnectionHealth","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the P2SVpnGateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"P2S Vpn Gateway with P2S connection health details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnGateway"}}}},"202":{"description":"Accepted and the operation will complete asynchronously."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs":{"get":{"description":"Lists all the VirtualHubs in a resource group.","operationId":"VirtualHubs_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the VirtualHubs in the resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVirtualHubsResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}":{"get":{"description":"Retrieves the details of a VirtualHub.","operationId":"VirtualHubs_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"virtualHubName","in":"path","description":"The name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of the VirtualHub retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualHub"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"put":{"description":"Creates a VirtualHub resource if it doesn't exist else updates the existing VirtualHub.","operationId":"VirtualHubs_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"virtualHubName","in":"path","description":"The name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to create or update VirtualHub.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualHub"}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the VirtualHub created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualHub"}}}},"201":{"description":"Request received successfully. Returns the details of the VirtualHub created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualHub"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"delete":{"description":"Deletes a VirtualHub.","operationId":"VirtualHubs_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"virtualHubName","in":"path","description":"The name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. VirtualHub deleted."},"202":{"description":"Request received successfully. VirtualHub deletion is in progress; follow the Location header to poll for final outcome."},"204":{"description":"No VirtualHubs exist by the name provided."},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"patch":{"tags":["VirtualWANs"],"description":"Updates VirtualHub tags.","operationId":"VirtualHubs_UpdateTags","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"virtualHubName","in":"path","description":"The name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to update VirtualHub tags.","content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Tags object for patch operations."}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the VirtualHub updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualHub"}}}},"201":{"description":"Request received successfully. Returns the details of the VirtualHub updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualHub"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections":{"get":{"description":"Retrieves the details of all HubVirtualNetworkConnections.","operationId":"HubVirtualNetworkConnections_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"virtualHubName","in":"path","description":"The name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the HubVirtualNetworkConnections for the VirtualHub.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListHubVirtualNetworkConnectionsResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections/{connectionName}":{"get":{"description":"Retrieves the details of a HubVirtualNetworkConnection.","operationId":"HubVirtualNetworkConnections_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"virtualHubName","in":"path","description":"The name of the VirtualHub.","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"The name of the vpn connection.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of the HubVirtualNetworkConnection retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HubVirtualNetworkConnection"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans":{"get":{"description":"Lists all the VirtualWANs in a resource group.","operationId":"VirtualWans_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualWan.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the VirtualWANs in the resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVirtualWANsResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{VirtualWANName}":{"get":{"description":"Retrieves the details of a VirtualWAN.","operationId":"VirtualWans_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualWan.","required":true,"schema":{"type":"string"}},{"name":"VirtualWANName","in":"path","description":"The name of the VirtualWAN being retrieved.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of the VirtualWAN retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualWAN"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"put":{"description":"Creates a VirtualWAN resource if it doesn't exist else updates the existing VirtualWAN.","operationId":"VirtualWans_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualWan.","required":true,"schema":{"type":"string"}},{"name":"VirtualWANName","in":"path","description":"The name of the VirtualWAN being created or updated.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to create or update VirtualWAN.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualWAN"}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the VirtualWAN created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualWAN"}}}},"201":{"description":"Create successful. The operation returns the resulting VirtualWAN resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualWAN"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"delete":{"description":"Deletes a VirtualWAN.","operationId":"VirtualWans_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualWan.","required":true,"schema":{"type":"string"}},{"name":"VirtualWANName","in":"path","description":"The name of the VirtualWAN being deleted.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. VirtualWAN deleted."},"202":{"description":"Request received successfully. VirtualWAN deletion is in progress; follow the Location header to poll for final outcome."},"204":{"description":"No VirtualWANs exist by the name provided."},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"patch":{"tags":["VirtualWANs"],"description":"Updates a VirtualWAN tags.","operationId":"VirtualWans_UpdateTags","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualWan.","required":true,"schema":{"type":"string"}},{"name":"VirtualWANName","in":"path","description":"The name of the VirtualWAN being updated.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to Update VirtualWAN tags.","content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Tags object for patch operations."}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the VirtualWAN updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualWAN"}}}},"201":{"description":"Request received successfully. Returns the details of the VirtualWAN updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualWAN"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/supportedSecurityProviders":{"get":{"description":"Gives the supported security providers for the virtual wan.","operationId":"SupportedSecurityProviders","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"type":"string"}},{"name":"virtualWANName","in":"path","description":"The name of the VirtualWAN for which supported security providers are needed.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the object containing supported security providers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualWanSecurityProviders"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/vpnConfiguration":{"post":{"description":"Gives the sas-url to download the configurations for vpn-sites in a resource group.","operationId":"VpnSitesConfiguration_Download","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"type":"string"}},{"name":"virtualWANName","in":"path","description":"The name of the VirtualWAN for which configuration of all vpn-sites is needed.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to download vpn-sites configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetVpnSitesConfigurationRequest"}}},"required":true},"responses":{"200":{"description":"Request successful. Follow the location header for sas-url to output blob."},"202":{"description":"Accepted and the operation will complete asynchronously. Follow the location header for sas-url to output blob."},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWanName}/p2sVpnServerConfigurations":{"get":{"description":"Retrieves all P2SVpnServerConfigurations for a particular VirtualWan.","operationId":"P2sVpnServerConfigurations_ListByVirtualWan","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualWan.","required":true,"schema":{"type":"string"}},{"name":"virtualWanName","in":"path","description":"The name of the VirtualWan.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns all P2SVpnServerConfigurations for a VirtualWan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListP2SVpnServerConfigurationsResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWanName}/p2sVpnServerConfigurations/{p2SVpnServerConfigurationName}":{"get":{"description":"Retrieves the details of a P2SVpnServerConfiguration.","operationId":"P2sVpnServerConfigurations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the P2SVpnServerConfiguration.","required":true,"schema":{"type":"string"}},{"name":"virtualWanName","in":"path","description":"The name of the VirtualWan.","required":true,"schema":{"type":"string"}},{"name":"p2SVpnServerConfigurationName","in":"path","description":"The name of the P2SVpnServerConfiguration.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of the P2SVpnServerConfiguration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnServerConfiguration"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"put":{"description":"Creates a P2SVpnServerConfiguration to associate with a VirtualWan if it doesn't exist else updates the existing P2SVpnServerConfiguration.","operationId":"P2sVpnServerConfigurations_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VirtualWan.","required":true,"schema":{"type":"string"}},{"name":"virtualWanName","in":"path","description":"The name of the VirtualWan.","required":true,"schema":{"type":"string"}},{"name":"p2SVpnServerConfigurationName","in":"path","description":"The name of the P2SVpnServerConfiguration.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to create or Update a P2SVpnServerConfiguration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnServerConfiguration"}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the P2SVpnServerConfiguration created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnServerConfiguration"}}}},"201":{"description":"Request successful. Returns the details of the P2SVpnServerConfiguration created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2SVpnServerConfiguration"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"delete":{"description":"Deletes a P2SVpnServerConfiguration.","operationId":"P2sVpnServerConfigurations_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the P2SVpnServerConfiguration.","required":true,"schema":{"type":"string"}},{"name":"virtualWanName","in":"path","description":"The name of the VirtualWan.","required":true,"schema":{"type":"string"}},{"name":"p2SVpnServerConfigurationName","in":"path","description":"The name of the P2SVpnServerConfiguration.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. P2SVpnServerConfiguration deleted."},"202":{"description":"Request received successfully. P2SVpnServerConfiguration deletion is in progress; follow the Location header to poll for final outcome."},"204":{"description":"No P2SVpnServerConfigurations exist by the name provided."},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways":{"get":{"description":"Lists all the VpnGateways in a resource group.","operationId":"VpnGateways_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the VpnGateways in the resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVpnGatewaysResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}":{"get":{"description":"Retrieves the details of a virtual wan vpn gateway.","operationId":"VpnGateways_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of the virtual wan vpn gateway retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnGateway"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"put":{"description":"Creates a virtual wan vpn gateway if it doesn't exist else updates the existing gateway.","operationId":"VpnGateways_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to create or Update a virtual wan vpn gateway.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnGateway"}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the virtual wan vpn Gateway created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnGateway"}}}},"201":{"description":"Request successful. Returns the details of the virtual wan vpn gateway retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnGateway"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"delete":{"description":"Deletes a virtual wan vpn gateway.","operationId":"VpnGateways_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Vpn Gateway deleted."},"202":{"description":"Request received successfully. Vpn Gateway deletion is in progress; follow the Location header to poll for final outcome."},"204":{"description":"No vpn gateways exist by the name provided."},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"patch":{"tags":["VpnGateways"],"description":"Updates virtual wan vpn gateway tags.","operationId":"VpnGateways_UpdateTags","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to update a virtual wan vpn gateway tags.","content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Tags object for patch operations."}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the updated gateway.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnGateway"}}}},"201":{"description":"Request received successfully. Returns the details of the updated gateway.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnGateway"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/reset":{"post":{"tags":["VpnGateways"],"description":"Resets the primary of the vpn gateway in the specified resource group.","operationId":"VpnGateways_Reset","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation reset the primary of the VpnGateway.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnGateway"}}}},"202":{"description":"Accepted and the operation will complete asynchronously."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/vpnConnections":{"get":{"description":"Retrieves all vpn connections for a particular virtual wan vpn gateway.","operationId":"VpnConnections_ListByVpnGateway","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns all Vpn connections for a virtual wan vpn gateway.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVpnConnectionsResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/vpnConnections/{connectionName}":{"get":{"description":"Retrieves the details of a vpn connection.","operationId":"VpnConnections_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"The name of the vpn connection.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of the vpn connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnConnection"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"put":{"description":"Creates a vpn connection to a scalable vpn gateway if it doesn't exist else updates the existing connection.","operationId":"VpnConnections_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"The name of the connection.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to create or Update a VPN Connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnConnection"}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the vpn connection created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnConnection"}}}},"201":{"description":"Request successful. Returns the details of the vpn connection created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnConnection"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"delete":{"description":"Deletes a vpn connection.","operationId":"VpnConnections_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"The name of the connection.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Vpn Connection deleted."},"202":{"description":"Request received successfully. Vpn Connection deletion is in progress; follow the Location header to poll for final outcome."},"204":{"description":"No vpn connections exist by the name provided."},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/vpnConnections/{connectionName}/vpnLinkConnections":{"get":{"description":"Retrieves all vpn site link connections for a particular virtual wan vpn gateway vpn connection.","operationId":"VpnLinkConnections_ListByVpnConnection","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"The name of the vpn connection.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns all Vpn connections for a virtual wan vpn gateway.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVpnSiteLinkConnectionsResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/vpnConnections/{connectionName}/vpnLinkConnections/{linkConnectionName}":{"get":{"description":"Retrieves the details of a vpn site link connection.","operationId":"VpnSiteLinkConnections_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnGateway.","required":true,"schema":{"type":"string"}},{"name":"gatewayName","in":"path","description":"The name of the gateway.","required":true,"schema":{"type":"string"}},{"name":"connectionName","in":"path","description":"The name of the vpn connection.","required":true,"schema":{"type":"string"}},{"name":"linkConnectionName","in":"path","description":"The name of the vpn connection.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of the vpn connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnSiteLinkConnection"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnSites":{"get":{"description":"Lists all the vpnSites in a resource group.","operationId":"VpnSites_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnSite.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the vpnSites in the resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVpnSitesResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnSites/{vpnSiteName}":{"get":{"description":"Retrieves the details of a VPN site.","operationId":"VpnSites_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnSite.","required":true,"schema":{"type":"string"}},{"name":"vpnSiteName","in":"path","description":"The name of the VpnSite being retrieved.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of the VpnSite retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnSite"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"put":{"description":"Creates a VpnSite resource if it doesn't exist else updates the existing VpnSite.","operationId":"VpnSites_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnSite.","required":true,"schema":{"type":"string"}},{"name":"vpnSiteName","in":"path","description":"The name of the VpnSite being created or updated.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to create or update VpnSite.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnSite"}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the VpnSite created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnSite"}}}},"201":{"description":"Request received successfully. Returns the details of the VpnSite created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnSite"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"delete":{"description":"Deletes a VpnSite.","operationId":"VpnSites_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnSite.","required":true,"schema":{"type":"string"}},{"name":"vpnSiteName","in":"path","description":"The name of the VpnSite being deleted.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. VpnSite deleted."},"202":{"description":"Request received successfully. VpnSite deletion is in progress."},"204":{"description":"No VpnSites exist by the name provided."},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}},"patch":{"tags":["VpnSites"],"description":"Updates VpnSite tags.","operationId":"VpnSites_UpdateTags","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnSite.","required":true,"schema":{"type":"string"}},{"name":"vpnSiteName","in":"path","description":"The name of the VpnSite being updated.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to update VpnSite tags.","content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Tags object for patch operations."}}},"required":true},"responses":{"200":{"description":"Request successful. Returns the details of the VpnSite updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnSite"}}}},"201":{"description":"Request received successfully. Returns the details of the VpnSite updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnSite"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnSites/{vpnSiteName}/vpnSiteLinks":{"get":{"description":"Lists all the vpnSiteLinks in a resource group for a vpn site.","operationId":"VpnSiteLinks_ListByVpnSite","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnSite.","required":true,"schema":{"type":"string"}},{"name":"vpnSiteName","in":"path","description":"The name of the VpnSite.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of all the vpnSites in the resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListVpnSiteLinksResult"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnSites/{vpnSiteName}/vpnSiteLinks/{vpnSiteLinkName}":{"get":{"description":"Retrieves the details of a VPN site link.","operationId":"VpnSiteLinks_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name of the VpnSite.","required":true,"schema":{"type":"string"}},{"name":"vpnSiteName","in":"path","description":"The name of the VpnSite.","required":true,"schema":{"type":"string"}},{"name":"vpnSiteLinkName","in":"path","description":"The name of the VpnSiteLink being retrieved.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns the details of the VpnSiteLink retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpnSiteLink"}}}},"default":{"description":"Error.","content":{"application/json":{"schema":{"type":"object","description":"Common error representation."}}}}}}}},"components":{"schemas":{"DeviceProperties":{"type":"object","properties":{"deviceModel":{"type":"string","description":"Model of the device."},"deviceVendor":{"type":"string","description":"Name of the device Vendor."},"linkSpeedInMbps":{"type":"integer","description":"Link speed.","format":"int32"}},"description":"List of properties of the device."},"GetVpnSitesConfigurationRequest":{"required":["outputBlobSasUrl"],"type":"object","properties":{"outputBlobSasUrl":{"type":"string","description":"The sas-url to download the configurations for vpn-sites."},"vpnSites":{"type":"array","description":"List of resource-ids of the vpn-sites for which config is to be downloaded.","items":{"type":"string"}}},"description":"List of Vpn-Sites."},"HubVirtualNetworkConnection":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"name":{"type":"string","description":"The name of the resource that is unique within a resource group. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/HubVirtualNetworkConnectionProperties"}},"description":"HubVirtualNetworkConnection Resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"HubVirtualNetworkConnectionProperties":{"type":"object","properties":{"allowHubToRemoteVnetTransit":{"type":"boolean","description":"VirtualHub to RemoteVnet transit to enabled or not."},"allowRemoteVnetToUseHubVnetGateways":{"type":"boolean","description":"Allow RemoteVnet to use Virtual Hub's gateways."},"enableInternetSecurity":{"type":"boolean","description":"Enable internet security."},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"remoteVirtualNetwork":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}},"description":"Parameters for HubVirtualNetworkConnection."},"HubVirtualNetworkConnectionStatus":{"type":"string","description":"The current state of the VirtualHub to vnet connection.","enum":["Unknown","Connecting","Connected","NotConnected"]},"ListHubVirtualNetworkConnectionsResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of HubVirtualNetworkConnections.","items":{"$ref":"#/components/schemas/HubVirtualNetworkConnection"}}},"description":"List of HubVirtualNetworkConnections and a URL nextLink to get the next set of results."},"ListP2SVpnGatewaysResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of P2SVpnGateways.","items":{"$ref":"#/components/schemas/P2SVpnGateway"}}},"description":"Result of the request to list P2SVpnGateways. It contains a list of P2SVpnGateways and a URL nextLink to get the next set of results."},"ListP2SVpnServerConfigurationsResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of P2SVpnServerConfigurations.","items":{"$ref":"#/components/schemas/P2SVpnServerConfiguration"}}},"description":"Result of the request to list all P2SVpnServerConfigurations associated to a VirtualWan. It contains a list of P2SVpnServerConfigurations and a URL nextLink to get the next set of results."},"ListVirtualHubsResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of VirtualHubs.","items":{"$ref":"#/components/schemas/VirtualHub"}}},"description":"Result of the request to list VirtualHubs. It contains a list of VirtualHubs and a URL nextLink to get the next set of results."},"ListVirtualWANsResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of VirtualWANs.","items":{"$ref":"#/components/schemas/VirtualWAN"}}},"description":"Result of the request to list VirtualWANs. It contains a list of VirtualWANs and a URL nextLink to get the next set of results."},"ListVpnConnectionsResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of Vpn Connections.","items":{"$ref":"#/components/schemas/VpnConnection"}}},"description":"Result of the request to list all vpn connections to a virtual wan vpn gateway. It contains a list of Vpn Connections and a URL nextLink to get the next set of results."},"ListVpnGatewaysResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of VpnGateways.","items":{"$ref":"#/components/schemas/VpnGateway"}}},"description":"Result of the request to list VpnGateways. It contains a list of VpnGateways and a URL nextLink to get the next set of results."},"ListVpnSiteLinkConnectionsResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of VpnSiteLinkConnections.","items":{"$ref":"#/components/schemas/VpnSiteLinkConnection"}}},"description":"Result of the request to list all vpn connections to a virtual wan vpn gateway. It contains a list of Vpn Connections and a URL nextLink to get the next set of results."},"ListVpnSiteLinksResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of VpnSitesLinks.","items":{"$ref":"#/components/schemas/VpnSiteLink"}}},"description":"Result of the request to list VpnSiteLinks. It contains a list of VpnSiteLinks and a URL nextLink to get the next set of results."},"ListVpnSitesResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of VpnSites.","items":{"$ref":"#/components/schemas/VpnSite"}}},"description":"Result of the request to list VpnSites. It contains a list of VpnSites and a URL nextLink to get the next set of results."},"OfficeTrafficCategory":{"type":"string","description":"The office traffic category.","enum":["Optimize","OptimizeAndAllow","All","None"]},"P2SVpnGateway":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"properties":{"$ref":"#/components/schemas/P2SVpnGatewayProperties"}},"description":"P2SVpnGateway Resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"P2SVpnGatewayProperties":{"type":"object","properties":{"customRoutes":{"type":"object","properties":{"addressPrefixes":{"type":"array","description":"A list of address blocks reserved for this virtual network in CIDR notation.","items":{"type":"string"}}},"description":"AddressSpace contains an array of IP address ranges that can be used by subnets of the virtual network."},"p2SVpnServerConfiguration":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"virtualHub":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."},"vpnClientAddressPool":{"type":"object","properties":{"addressPrefixes":{"type":"array","description":"A list of address blocks reserved for this virtual network in CIDR notation.","items":{"type":"string"}}},"description":"AddressSpace contains an array of IP address ranges that can be used by subnets of the virtual network."},"vpnClientConnectionHealth":{"$ref":"#/components/schemas/VpnClientConnectionHealth"},"vpnGatewayScaleUnit":{"type":"integer","description":"The scale unit for this p2s vpn gateway.","format":"int32"}},"description":"Parameters for P2SVpnGateway."},"P2SVpnProfileParameters":{"type":"object","properties":{"authenticationMethod":{"type":"string","description":"VPN client authentication method.","enum":["EAPTLS","EAPMSCHAPv2"]}},"description":"Vpn Client Parameters for package generation."},"P2SVpnServerConfigRadiusClientRootCertificate":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated."},"name":{"type":"string","description":"The name of the resource that is unique within a resource group. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/P2SVpnServerConfigRadiusClientRootCertificatePropertiesFormat"}},"description":"Radius client root certificate of P2SVpnServerConfiguration.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"P2SVpnServerConfigRadiusClientRootCertificatePropertiesFormat":{"type":"object","properties":{"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"thumbprint":{"type":"string","description":"The Radius client root certificate thumbprint."}},"description":"Properties of the Radius client root certificate of P2SVpnServerConfiguration."},"P2SVpnServerConfigRadiusServerRootCertificate":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated."},"name":{"type":"string","description":"The name of the resource that is unique within a resource group. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/P2SVpnServerConfigRadiusServerRootCertificatePropertiesFormat"}},"description":"Radius Server root certificate of P2SVpnServerConfiguration.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"P2SVpnServerConfigRadiusServerRootCertificatePropertiesFormat":{"required":["publicCertData"],"type":"object","properties":{"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"publicCertData":{"type":"string","description":"The certificate public data."}},"description":"Properties of Radius Server root certificate of P2SVpnServerConfiguration."},"P2SVpnServerConfigVpnClientRevokedCertificate":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated."},"name":{"type":"string","description":"The name of the resource that is unique within a resource group. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/P2SVpnServerConfigVpnClientRevokedCertificatePropertiesFormat"}},"description":"VPN client revoked certificate of P2SVpnServerConfiguration.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"P2SVpnServerConfigVpnClientRevokedCertificatePropertiesFormat":{"type":"object","properties":{"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"thumbprint":{"type":"string","description":"The revoked VPN client certificate thumbprint."}},"description":"Properties of the revoked VPN client certificate of P2SVpnServerConfiguration."},"P2SVpnServerConfigVpnClientRootCertificate":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated."},"name":{"type":"string","description":"The name of the resource that is unique within a resource group. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/P2SVpnServerConfigVpnClientRootCertificatePropertiesFormat"}},"description":"VPN client root certificate of P2SVpnServerConfiguration.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"P2SVpnServerConfigVpnClientRootCertificatePropertiesFormat":{"required":["publicCertData"],"type":"object","properties":{"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"publicCertData":{"type":"string","description":"The certificate public data."}},"description":"Properties of VPN client root certificate of P2SVpnServerConfiguration."},"P2SVpnServerConfiguration":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"name":{"type":"string","description":"The name of the resource that is unique within a resource group. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/P2SVpnServerConfigurationProperties"}},"description":"P2SVpnServerConfiguration Resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"P2SVpnServerConfigurationProperties":{"type":"object","properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated."},"name":{"type":"string","description":"The name of the P2SVpnServerConfiguration that is unique within a VirtualWan in a resource group. This name can be used to access the resource along with Paren VirtualWan resource name."},"p2SVpnGateways":{"type":"array","description":"List of references to P2SVpnGateways.","readOnly":true,"items":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}},"p2SVpnServerConfigRadiusClientRootCertificates":{"type":"array","description":"Radius client root certificate of P2SVpnServerConfiguration.","items":{"$ref":"#/components/schemas/P2SVpnServerConfigRadiusClientRootCertificate"}},"p2SVpnServerConfigRadiusServerRootCertificates":{"type":"array","description":"Radius Server root certificate of P2SVpnServerConfiguration.","items":{"$ref":"#/components/schemas/P2SVpnServerConfigRadiusServerRootCertificate"}},"p2SVpnServerConfigVpnClientRevokedCertificates":{"type":"array","description":"VPN client revoked certificate of P2SVpnServerConfiguration.","items":{"$ref":"#/components/schemas/P2SVpnServerConfigVpnClientRevokedCertificate"}},"p2SVpnServerConfigVpnClientRootCertificates":{"type":"array","description":"VPN client root certificate of P2SVpnServerConfiguration.","items":{"$ref":"#/components/schemas/P2SVpnServerConfigVpnClientRootCertificate"}},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"radiusServerAddress":{"type":"string","description":"The radius server address property of the P2SVpnServerConfiguration resource for point to site client connection."},"radiusServerSecret":{"type":"string","description":"The radius secret property of the P2SVpnServerConfiguration resource for point to site client connection."},"vpnClientIpsecPolicies":{"type":"array","description":"VpnClientIpsecPolicies for P2SVpnServerConfiguration.","items":{"required":["dhGroup","ikeEncryption","ikeIntegrity","ipsecEncryption","ipsecIntegrity","pfsGroup","saDataSizeKilobytes","saLifeTimeSeconds"],"type":"object","properties":{"dhGroup":{"type":"string","description":"The DH Groups used in IKE Phase 1 for initial SA.","enum":["None","DHGroup1","DHGroup2","DHGroup14","DHGroup2048","ECP256","ECP384","DHGroup24"]},"ikeEncryption":{"type":"string","description":"The IKE encryption algorithm (IKE phase 2).","enum":["DES","DES3","AES128","AES192","AES256","GCMAES256","GCMAES128"]},"ikeIntegrity":{"type":"string","description":"The IKE integrity algorithm (IKE phase 2).","enum":["MD5","SHA1","SHA256","SHA384","GCMAES256","GCMAES128"]},"ipsecEncryption":{"type":"string","description":"The IPSec encryption algorithm (IKE phase 1).","enum":["None","DES","DES3","AES128","AES192","AES256","GCMAES128","GCMAES192","GCMAES256"]},"ipsecIntegrity":{"type":"string","description":"The IPSec integrity algorithm (IKE phase 1).","enum":["MD5","SHA1","SHA256","GCMAES128","GCMAES192","GCMAES256"]},"pfsGroup":{"type":"string","description":"The Pfs Groups used in IKE Phase 2 for new child SA.","enum":["None","PFS1","PFS2","PFS2048","ECP256","ECP384","PFS24","PFS14","PFSMM"]},"saDataSizeKilobytes":{"type":"integer","description":"The IPSec Security Association (also called Quick Mode or Phase 2 SA) payload size in KB for a site to site VPN tunnel.","format":"int32"},"saLifeTimeSeconds":{"type":"integer","description":"The IPSec Security Association (also called Quick Mode or Phase 2 SA) lifetime in seconds for a site to site VPN tunnel.","format":"int32"}},"description":"An IPSec Policy configuration for a virtual network gateway connection."}},"vpnProtocols":{"type":"array","description":"VPN protocols for the P2SVpnServerConfiguration.","items":{"type":"string","description":"VPN protocol enabled for the P2SVpnServerConfiguration.","enum":["IkeV2","OpenVPN"]}}},"description":"Parameters for P2SVpnServerConfiguration."},"TunnelConnectionStatus":{"type":"string","description":"The current state of the tunnel.","enum":["Unknown","Connecting","Connected","NotConnected"]},"VirtualHub":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"properties":{"$ref":"#/components/schemas/VirtualHubProperties"}},"description":"VirtualHub Resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"VirtualHubProperties":{"type":"object","properties":{"addressPrefix":{"type":"string","description":"Address-prefix for this VirtualHub."},"expressRouteGateway":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."},"p2SVpnGateway":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"routeTable":{"$ref":"#/components/schemas/VirtualHubRouteTable"},"virtualNetworkConnections":{"type":"array","description":"List of all vnet connections with this VirtualHub.","items":{"$ref":"#/components/schemas/HubVirtualNetworkConnection"}},"virtualWan":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."},"vpnGateway":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}},"description":"Parameters for VirtualHub."},"VirtualHubRoute":{"type":"object","properties":{"addressPrefixes":{"type":"array","description":"List of all addressPrefixes.","items":{"type":"string"}},"nextHopIpAddress":{"type":"string","description":"NextHop ip address."}},"description":"VirtualHub route."},"VirtualHubRouteTable":{"type":"object","properties":{"routes":{"type":"array","description":"List of all routes.","items":{"$ref":"#/components/schemas/VirtualHubRoute"}}},"description":"VirtualHub route table."},"VirtualWAN":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"properties":{"$ref":"#/components/schemas/VirtualWanProperties"}},"description":"VirtualWAN Resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"VirtualWanProperties":{"type":"object","properties":{"allowBranchToBranchTraffic":{"type":"boolean","description":"True if branch to branch traffic is allowed."},"allowVnetToVnetTraffic":{"type":"boolean","description":"True if Vnet to Vnet traffic is allowed."},"disableVpnEncryption":{"type":"boolean","description":"Vpn encryption to be disabled or not."},"office365LocalBreakoutCategory":{"$ref":"#/components/schemas/OfficeTrafficCategory"},"p2SVpnServerConfigurations":{"type":"array","description":"List of all P2SVpnServerConfigurations associated with the virtual wan.","items":{"$ref":"#/components/schemas/P2SVpnServerConfiguration"}},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"securityProviderName":{"type":"string","description":"The Security Provider name."},"virtualHubs":{"type":"array","description":"List of VirtualHubs in the VirtualWAN.","readOnly":true,"items":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}},"vpnSites":{"type":"array","description":"List of VpnSites in the VirtualWAN.","readOnly":true,"items":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}}},"description":"Parameters for VirtualWAN."},"VirtualWanSecurityProvider":{"type":"object","properties":{"name":{"type":"string","description":"Name of the security provider."},"type":{"$ref":"#/components/schemas/VirtualWanSecurityProviderType"},"url":{"type":"string","description":"Url of the security provider."}},"description":"Collection of SecurityProviders."},"VirtualWanSecurityProviderType":{"type":"string","description":"The virtual wan security provider type.","enum":["External","Native"]},"VirtualWanSecurityProviders":{"type":"object","properties":{"supportedProviders":{"type":"array","description":"List of VirtualWAN security providers.","items":{"$ref":"#/components/schemas/VirtualWanSecurityProvider"}}},"description":"Collection of SecurityProviders."},"VpnClientConnectionHealth":{"type":"object","properties":{"allocatedIpAddresses":{"type":"array","description":"List of allocated ip addresses to the connected p2s vpn clients.","items":{"type":"string"}},"totalEgressBytesTransferred":{"type":"integer","description":"Total of the Egress Bytes Transferred in this connection.","format":"int64","readOnly":true},"totalIngressBytesTransferred":{"type":"integer","description":"Total of the Ingress Bytes Transferred in this P2S Vpn connection.","format":"int64","readOnly":true},"vpnClientConnectionsCount":{"type":"integer","description":"The total of p2s vpn clients connected at this time to this P2SVpnGateway.","format":"int32"}},"description":"VpnClientConnectionHealth properties."},"VpnConnection":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"name":{"type":"string","description":"The name of the resource that is unique within a resource group. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/VpnConnectionProperties"}},"description":"VpnConnection Resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"VpnConnectionProperties":{"type":"object","properties":{"connectionBandwidth":{"type":"integer","description":"Expected bandwidth in MBPS.","format":"int32"},"connectionStatus":{"$ref":"#/components/schemas/VpnConnectionStatus"},"egressBytesTransferred":{"type":"integer","description":"Egress bytes transferred.","format":"int64","readOnly":true},"enableBgp":{"type":"boolean","description":"EnableBgp flag."},"enableInternetSecurity":{"type":"boolean","description":"Enable internet security."},"enableRateLimiting":{"type":"boolean","description":"EnableBgp flag."},"ingressBytesTransferred":{"type":"integer","description":"Ingress bytes transferred.","format":"int64","readOnly":true},"ipsecPolicies":{"type":"array","description":"The IPSec Policies to be considered by this connection.","items":{"required":["dhGroup","ikeEncryption","ikeIntegrity","ipsecEncryption","ipsecIntegrity","pfsGroup","saDataSizeKilobytes","saLifeTimeSeconds"],"type":"object","properties":{"dhGroup":{"type":"string","description":"The DH Groups used in IKE Phase 1 for initial SA.","enum":["None","DHGroup1","DHGroup2","DHGroup14","DHGroup2048","ECP256","ECP384","DHGroup24"]},"ikeEncryption":{"type":"string","description":"The IKE encryption algorithm (IKE phase 2).","enum":["DES","DES3","AES128","AES192","AES256","GCMAES256","GCMAES128"]},"ikeIntegrity":{"type":"string","description":"The IKE integrity algorithm (IKE phase 2).","enum":["MD5","SHA1","SHA256","SHA384","GCMAES256","GCMAES128"]},"ipsecEncryption":{"type":"string","description":"The IPSec encryption algorithm (IKE phase 1).","enum":["None","DES","DES3","AES128","AES192","AES256","GCMAES128","GCMAES192","GCMAES256"]},"ipsecIntegrity":{"type":"string","description":"The IPSec integrity algorithm (IKE phase 1).","enum":["MD5","SHA1","SHA256","GCMAES128","GCMAES192","GCMAES256"]},"pfsGroup":{"type":"string","description":"The Pfs Groups used in IKE Phase 2 for new child SA.","enum":["None","PFS1","PFS2","PFS2048","ECP256","ECP384","PFS24","PFS14","PFSMM"]},"saDataSizeKilobytes":{"type":"integer","description":"The IPSec Security Association (also called Quick Mode or Phase 2 SA) payload size in KB for a site to site VPN tunnel.","format":"int32"},"saLifeTimeSeconds":{"type":"integer","description":"The IPSec Security Association (also called Quick Mode or Phase 2 SA) lifetime in seconds for a site to site VPN tunnel.","format":"int32"}},"description":"An IPSec Policy configuration for a virtual network gateway connection."}},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"remoteVpnSite":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."},"routingWeight":{"type":"integer","description":"Routing weight for vpn connection.","format":"int32"},"sharedKey":{"type":"string","description":"SharedKey for the vpn connection."},"useLocalAzureIpAddress":{"type":"boolean","description":"Use local azure ip to initiate connection."},"usePolicyBasedTrafficSelectors":{"type":"boolean","description":"Enable policy-based traffic selectors."},"vpnConnectionProtocolType":{"type":"string","description":"Gateway connection protocol.","enum":["IKEv2","IKEv1"]},"vpnLinkConnections":{"type":"array","description":"List of all vpn site link connections to the gateway.","items":{"$ref":"#/components/schemas/VpnSiteLinkConnection"}}},"description":"Parameters for VpnConnection."},"VpnConnectionStatus":{"type":"string","description":"The current state of the vpn connection.","enum":["Unknown","Connecting","Connected","NotConnected"]},"VpnGateway":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"properties":{"$ref":"#/components/schemas/VpnGatewayProperties"}},"description":"VpnGateway Resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"VpnGatewayProperties":{"type":"object","properties":{"bgpSettings":{"type":"object","properties":{"asn":{"type":"integer","description":"The BGP speaker's ASN.","format":"int64"},"bgpPeeringAddress":{"type":"string","description":"The BGP peering address and BGP identifier of this BGP speaker."},"peerWeight":{"type":"integer","description":"The weight added to routes learned from this BGP speaker.","format":"int32"}},"description":"BGP settings details."},"connections":{"type":"array","description":"List of all vpn connections to the gateway.","items":{"$ref":"#/components/schemas/VpnConnection"}},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"virtualHub":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."},"vpnGatewayScaleUnit":{"type":"integer","description":"The scale unit for this vpn gateway.","format":"int32"}},"description":"Parameters for VpnGateway."},"VpnLinkBgpSettings":{"type":"object","properties":{"asn":{"type":"integer","description":"The BGP speaker's ASN.","format":"int64"},"bgpPeeringAddress":{"type":"string","description":"The BGP peering address and BGP identifier of this BGP speaker."}},"description":"BGP settings details for a link."},"VpnLinkProviderProperties":{"type":"object","properties":{"linkProviderName":{"type":"string","description":"Name of the link provider."},"linkSpeedInMbps":{"type":"integer","description":"Link speed.","format":"int32"}},"description":"List of properties of a link provider."},"VpnProfileResponse":{"type":"object","properties":{"profileUrl":{"type":"string","description":"URL to the VPN profile."}},"description":"Vpn Profile Response for package generation."},"VpnSite":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"properties":{"$ref":"#/components/schemas/VpnSiteProperties"}},"description":"VpnSite Resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"VpnSiteId":{"type":"object","properties":{"vpnSite":{"type":"string","description":"The resource-uri of the vpn-site for which config is to be fetched.","readOnly":true}},"description":"VpnSite Resource."},"VpnSiteLink":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"name":{"type":"string","description":"The name of the resource that is unique within a resource group. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/VpnSiteLinkProperties"},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"VpnSiteLink Resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"VpnSiteLinkConnection":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"name":{"type":"string","description":"The name of the resource that is unique within a resource group. This name can be used to access the resource."},"properties":{"$ref":"#/components/schemas/VpnSiteLinkConnectionProperties"},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"VpnSiteLinkConnection Resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}]},"VpnSiteLinkConnectionProperties":{"type":"object","properties":{"connectionBandwidth":{"type":"integer","description":"Expected bandwidth in MBPS.","format":"int32"},"connectionStatus":{"$ref":"#/components/schemas/VpnConnectionStatus"},"egressBytesTransferred":{"type":"integer","description":"Egress bytes transferred.","format":"int64","readOnly":true},"enableBgp":{"type":"boolean","description":"EnableBgp flag."},"enableRateLimiting":{"type":"boolean","description":"EnableBgp flag."},"ingressBytesTransferred":{"type":"integer","description":"Ingress bytes transferred.","format":"int64","readOnly":true},"ipsecPolicies":{"type":"array","description":"The IPSec Policies to be considered by this connection.","items":{"required":["dhGroup","ikeEncryption","ikeIntegrity","ipsecEncryption","ipsecIntegrity","pfsGroup","saDataSizeKilobytes","saLifeTimeSeconds"],"type":"object","properties":{"dhGroup":{"type":"string","description":"The DH Groups used in IKE Phase 1 for initial SA.","enum":["None","DHGroup1","DHGroup2","DHGroup14","DHGroup2048","ECP256","ECP384","DHGroup24"]},"ikeEncryption":{"type":"string","description":"The IKE encryption algorithm (IKE phase 2).","enum":["DES","DES3","AES128","AES192","AES256","GCMAES256","GCMAES128"]},"ikeIntegrity":{"type":"string","description":"The IKE integrity algorithm (IKE phase 2).","enum":["MD5","SHA1","SHA256","SHA384","GCMAES256","GCMAES128"]},"ipsecEn
[...]
