{"openapi":"3.0.1","info":{"title":"NetworkManagementClient","description":"The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.","version":"2019-07-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosCustomPolicies/{ddosCustomPolicyName}":{"get":{"tags":["ddosCustomPolicies"],"description":"Gets information about the specified DDoS custom policy.","operationId":"DdosCustomPolicies_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"ddosCustomPolicyName","in":"path","description":"The name of the DDoS custom policy.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation returns the specified DDoS custom policy resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DdosCustomPolicy"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["ddosCustomPolicies"],"description":"Creates or updates a DDoS custom policy.","operationId":"DdosCustomPolicies_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"ddosCustomPolicyName","in":"path","description":"The name of the DDoS custom policy.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the create or update operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DdosCustomPolicy"}}},"required":true},"responses":{"200":{"description":"Update successful. The operation returns the resulting DDoS custom policy resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DdosCustomPolicy"}}}},"201":{"description":"Create successful. The operation returns the resulting DDoS custom policy resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DdosCustomPolicy"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["ddosCustomPolicies"],"description":"Deletes the specified DDoS custom policy.","operationId":"DdosCustomPolicies_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"ddosCustomPolicyName","in":"path","description":"The name of the DDoS custom policy.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete successful."},"202":{"description":"Accepted and the operation will complete asynchronously."},"204":{"description":"Request successful. Resource does not exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["ddosCustomPolicies"],"description":"Update a DDoS custom policy tags.","operationId":"DdosCustomPolicies_UpdateTags","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"ddosCustomPolicyName","in":"path","description":"The name of the DDoS custom policy.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the update DDoS custom policy resource tags.","content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Tags object for patch operations."}}},"required":true},"responses":{"200":{"description":"Update successful. The operation returns the resulting DDoS custom policy resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DdosCustomPolicy"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error response from the Batch service."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically."},"details":{"type":"array","description":"A list of additional details about the error.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface."},"target":{"type":"string","description":"The target of the particular error. For example, the name of the property in error."}},"description":"An error response from the Batch service."},"DdosCustomPolicy":{"properties":{"etag":{"type":"string","description":"A unique read-only string that changes whenever the resource is updated.","readOnly":true},"properties":{"$ref":"#/components/schemas/DdosCustomPolicyPropertiesFormat"}},"description":"A DDoS custom policy in a resource group.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"DdosCustomPolicyPropertiesFormat":{"type":"object","properties":{"protocolCustomSettings":{"type":"array","description":"The protocol-specific DDoS policy customization parameters.","items":{"$ref":"#/components/schemas/ProtocolCustomSettingsFormat"}},"provisioningState":{"type":"string","description":"The current provisioning state.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]},"publicIPAddresses":{"type":"array","description":"The list of public IPs associated with the DDoS custom policy resource. This list is read-only.","readOnly":true,"items":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Reference to another subresource."}},"resourceGuid":{"type":"string","description":"The resource GUID property of the DDoS custom policy resource. It uniquely identifies the resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.","readOnly":true}},"description":"DDoS custom policy properties."},"ProtocolCustomSettingsFormat":{"type":"object","properties":{"protocol":{"type":"string","description":"The protocol for which the DDoS protection policy is being customized.","enum":["Tcp","Udp","Syn"]},"sourceRateOverride":{"type":"string","description":"The customized DDoS protection source rate."},"triggerRateOverride":{"type":"string","description":"The customized DDoS protection trigger rate."},"triggerSensitivityOverride":{"type":"string","description":"The customized DDoS protection trigger rate sensitivity degrees. High: Trigger rate set with most sensitivity w.r.t. normal traffic. Default: Trigger rate set with moderate sensitivity w.r.t. normal traffic. Low: Trigger rate set with less sensitivity w.r.t. normal traffic. Relaxed: Trigger rate set with least sensitivity w.r.t. normal traffic.","enum":["Relaxed","Low","Default","High"]}},"description":"DDoS custom policy properties."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}