{"openapi":"3.0.1","info":{"title":"Polling Places API","description":"\nThis data set contains the list of polling places. It can be organized by ward/division, accessibility rating, or type of building.\n\nThis list is used to assign poll workers, send the machines and necessary accessibility materials, etc.\n\n**Endpoint:** http://api.phila.gov/polling-places/v1\n","version":"1.0"},"servers":[{"url":"http://api.phila.gov/polling-places/v1"}],"paths":{"/":{"get":{"summary":"Get Polling Places Data","parameters":[{"name":"ward","in":"query","description":"Ward Number","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"division","in":"query","description":"Division Number","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"callback","in":"query","description":"Optional parameter for jsonp support.","schema":{"type":"string"}}],"responses":{"200":{"description":"An array containing the polling place","content":{"application/json":{"schema":{"$ref":"#/components/schemas/features"}}}}}}}},"components":{"schemas":{"features":{"type":"object","properties":{"building":{"type":"string","description":"Assigned code to denote the accessibility of the polling place. See above for details of the codes.\nF = Building Fully Accessible;\nB = Building Substantially Accessible;\nM = Building Accessibilty Modified;\nA = Alternate Entrance;\nR = Building Accessible With Ramp;\nN = Building Not Accessible\n"},"display_address":{"type":"string","description":"Mailing address of the polling place (formatted for display purposes)."},"division":{"type":"string","description":"The number of the electoral section that houses the polling place."},"lat":{"type":"number","description":"Latitudinal coordinates of the polling place.","format":"float"},"lng":{"type":"number","description":"Longitudinal coordinates of the polling place.","format":"float"},"location":{"type":"string","description":"The name of the polling place."},"parking":{"type":"string","description":"Assigned code to denote the availability of parking. See above for details of the codes.\nN = No Parking;\nG = General Parking;\nL = Loading Zone;\nH = Handicap Parking\n"},"pin_address":{"type":"string","description":"Mailing address of the polling place."},"ward":{"type":"string","description":"The number of the electoral subdivision that houses the polling place."},"zip_code":{"type":"integer","description":"Zipcode of the polling place.","format":"int32"}}}}}}