{"openapi":"3.0.1","info":{"title":"MySQLManagementClient","description":"The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.","version":"2018-06-01-privatepreview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/privateEndpointConnections":{"get":{"tags":["PrivateEndpointConnections"],"description":"Gets all private endpoint connections on a server.","operationId":"PrivateEndpointConnections_ListByServer","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved private endpoint connections.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateEndpointConnectionListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/privateEndpointConnections/{privateEndpointConnectionName}":{"get":{"tags":["PrivateEndpointConnections"],"description":"Gets a private endpoint connection.","operationId":"PrivateEndpointConnections_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"privateEndpointConnectionName","in":"path","description":"The name of the private endpoint connection.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved a specified private endpoint connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateEndpointConnection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["PrivateEndpointConnections"],"description":"Approve or reject a private endpoint connection with a given name.","operationId":"PrivateEndpointConnections_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"privateEndpointConnectionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateEndpointConnection"}}},"required":true},"responses":{"200":{"description":"Successfully approved or rejected private endpoint connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateEndpointConnection"}}}},"202":{"description":"Accepted"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["PrivateEndpointConnections"],"description":"Deletes a private endpoint connection with a given name.","operationId":"PrivateEndpointConnections_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"privateEndpointConnectionName","in":"path","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted private endpoint connection."},"202":{"description":"Accepted"},"204":{"description":"Private endpoint connection does not exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["PrivateEndpointConnections"],"summary":"Updates tags on private endpoint connection.","description":"Updates private endpoint connection with the specified tags.","operationId":"PrivateEndpointConnections_UpdateTags","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"privateEndpointConnectionName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Update private endpoint connection Tags operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagsObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateEndpointConnection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error response from the Batch service."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically."},"details":{"type":"array","description":"A list of additional details about the error.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface."},"target":{"type":"string","description":"The target of the particular error. For example, the name of the property in error."}},"description":"An error response from the Batch service."},"PrivateEndpointConnection":{"properties":{"properties":{"$ref":"#/components/schemas/PrivateEndpointConnectionProperties"}},"description":"A private endpoint connection","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"PrivateEndpointConnectionListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to retrieve next page of results.","readOnly":true},"value":{"type":"array","description":"Array of results.","readOnly":true,"items":{"$ref":"#/components/schemas/PrivateEndpointConnection"}}},"description":"A list of private endpoint connections."},"PrivateEndpointConnectionProperties":{"type":"object","properties":{"privateEndpoint":{"$ref":"#/components/schemas/PrivateEndpointProperty"},"privateLinkServiceConnectionState":{"$ref":"#/components/schemas/PrivateLinkServiceConnectionStateProperty"},"provisioningState":{"type":"string","description":"State of the private endpoint connection.","readOnly":true}},"description":"Properties of a private endpoint connection."},"PrivateEndpointProperty":{"type":"object","properties":{"id":{"type":"string","description":"Resource id of the private endpoint."}}},"PrivateLinkServiceConnectionStateProperty":{"required":["description","status"],"type":"object","properties":{"actionsRequired":{"type":"string","description":"The actions required for private link service connection.","readOnly":true},"description":{"type":"string","description":"The private link service connection description."},"status":{"type":"string","description":"The private link service connection status."}}},"ProxyResource":{"description":"ARM proxy resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."},"TagsObject":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Tags object for patch operations."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}