{"openapi":"3.0.1","info":{"title":"Storm Glass Marine Weather","description":"Global marine weather data from multiple sources in one single API with hourly resolution. Get your API key by visiting the Storm Glass web site.","termsOfService":"https://stormglass.io","contact":{"email":"support@stormglass.io"},"version":"1.0.1"},"servers":[{"url":"https://api.stormglass.io/"}],"tags":[{"name":"forecast","description":"Get forecast for coordinates","externalDocs":{"description":"Find out more","url":"https://stormglass.io"}}],"paths":{"/forecast":{"get":{"tags":["forecast"],"summary":"Get hourly forecasts by coordinates","description":"Get forecast info for the given coordinates. For every hour and property, you will get a list of weather sources and their values.","operationId":"getForecast","parameters":[{"name":"lat","in":"query","description":"The latitude for a location. Valid input is a number between -90 and 90.","required":true,"schema":{"type":"number"}},{"name":"lng","in":"query","description":"The longitude for a location. Valid input is a number between -180 and 180.","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forecast"}}}},"403":{"description":"Unauthorized or API key is invalid"},"422":{"description":"Invalid or missing coordinates"}},"security":[{"authenticationToken":null}]}}},"components":{"schemas":{"Forecast":{"type":"object","properties":{"hours":{"type":"array","description":"Every hour with forecast data is represented with an object in this array","items":{"type":"object","properties":{"airTemperature":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","example":"smhi"},"value":{"type":"string","example":"-2.6"}},"description":"Air temperature given in celsius"}},"swellDirection":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","example":"nooa"},"value":{"type":"string","example":"164.35"}},"description":"Direction given in degrees where 0 goes from North to South"}},"swellHeight":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","example":"nooa"},"value":{"type":"string","example":"2.94"}},"description":"Swell height given in meters"}},"swellPeriod":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","example":"nooa"},"value":{"type":"string","example":"15.88"}},"description":"Swell period given in seconds"}},"time":{"type":"string","description":"Timestamp in utc for the hour represented","example":"2018-01-19T17:00:00+00:00"},"waterTemperature":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","example":"fcoo"},"value":{"type":"string","example":"9"}},"description":"Water temperature given in celsius"}},"waveDirection":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","example":"fcoo"},"value":{"type":"number","example":121.35698599493828}},"description":"Direction given in degrees where 0 goes from North to South"}},"waveHeight":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","example":"fmi"},"value":{"type":"string","example":"0.5969999991357327"}},"description":"Wave height given in metres"}},"wavePeriod":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","example":"fcoo"},"value":{"type":"string","example":"3.63850457084894"}}}},"windDirection":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","example":"smhi"},"value":{"type":"string","example":"36.0"}},"description":"Wind direction given in degrees where 0 goes from North to South"}},"windSpeed":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","example":"smhi"},"value":{"type":"string","example":"36.0"}},"description":"Wind speed given in meters per second"}}},"description":"Hourly forecast information"}},"meta":{"type":"object","properties":{"dailyQuota":{"type":"integer","description":"The number of successful requests you can do on one day","example":100},"lat":{"type":"number","description":"The latitude the response is showing forecast data for","example":58.7984},"lng":{"type":"number","description":"The longitude the response is showing forecast data for","example":17.80814},"requestCount":{"type":"integer","description":"The number of successful requests made this day.","example":5}}}}}},"securitySchemes":{"authenticationToken":{"type":"apiKey","name":"Authentication-Token","in":"header"}}}}