{"openapi":"3.0.1","info":{"title":"Security Center","description":"API spec for Microsoft.Security (Azure Security Center) resource provider","version":"2017-08-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/{resourceId}/providers/Microsoft.Security/complianceResults/{complianceResultName}":{"get":{"tags":["Compliance Results"],"description":"Security Compliance Result","operationId":"ComplianceResults_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"resourceId","in":"path","description":"The identifier of the resource.","required":true,"schema":{"type":"string"}},{"name":"complianceResultName","in":"path","description":"name of the desired assessment compliance result","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/{scope}/providers/Microsoft.Security/complianceResults":{"get":{"tags":["Compliance Results"],"description":"Security compliance results in the subscription","operationId":"ComplianceResults_List","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","description":"Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceResultList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}}},"components":{"schemas":{"ComplianceResult":{"properties":{"properties":{"$ref":"#/components/schemas/ComplianceResultProperties"}},"description":"a compliance result","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."}]},"ComplianceResultList":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page.","readOnly":true},"value":{"type":"array","description":"List of compliance results","items":{"$ref":"#/components/schemas/ComplianceResult"}}},"description":"List of compliance results response"},"ComplianceResultProperties":{"type":"object","properties":{"resourceStatus":{"type":"string","description":"The status of the resource regarding a single assessment","readOnly":true,"enum":["Healthy","NotApplicable","OffByPolicy","NotHealthy"]}},"description":"Compliance result data"}},"parameters":{"ComplianceResultName":{"name":"complianceResultName","in":"path","description":"name of the desired assessment compliance result","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}