{"openapi":"3.0.1","info":{"title":"DiskResourceProviderClient","description":"The Disk Resource Provider Client.","version":"2019-03-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks":{"get":{"tags":["Disks"],"description":"Lists all the disks under a subscription.","operationId":"Disks_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiskList"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Compute/snapshots":{"get":{"tags":["Snapshots"],"description":"Lists snapshots under a subscription.","operationId":"Snapshots_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotList"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks":{"get":{"tags":["Disks"],"description":"Lists all the disks under a resource group.","operationId":"Disks_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiskList"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}":{"get":{"tags":["Disks"],"description":"Gets information about a disk.","operationId":"Disks_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"diskName","in":"path","description":"The name of the managed disk that is being created. The name can't be changed after the disk is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disk"}}}}}},"put":{"tags":["Disks"],"description":"Creates or updates a disk.","operationId":"Disks_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"diskName","in":"path","description":"The name of the managed disk that is being created. The name can't be changed after the disk is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Disk object supplied in the body of the Put disk operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disk"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disk"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disk"}}}}}},"delete":{"tags":["Disks"],"description":"Deletes a disk.","operationId":"Disks_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"diskName","in":"path","description":"The name of the managed disk that is being created. The name can't be changed after the disk is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"204":{"description":"If the disk is deleted, this is an expected error code."}}},"patch":{"tags":["Disks"],"description":"Updates (patches) a disk.","operationId":"Disks_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"diskName","in":"path","description":"The name of the managed disk that is being created. The name can't be changed after the disk is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Disk object supplied in the body of the Patch disk operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiskUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disk"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disk"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}/beginGetAccess":{"post":{"tags":["Disks"],"description":"Grants access to a disk.","operationId":"Disks_GrantAccess","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"diskName","in":"path","description":"The name of the managed disk that is being created. The name can't be changed after the disk is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Access data object supplied in the body of the get disk access operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantAccessData"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessUri"}}}},"202":{"description":"Accepted"}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}/endGetAccess":{"post":{"tags":["Disks"],"description":"Revokes access to a disk.","operationId":"Disks_RevokeAccess","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"diskName","in":"path","description":"The name of the managed disk that is being created. The name can't be changed after the disk is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots":{"get":{"tags":["Snapshots"],"description":"Lists snapshots under a resource group.","operationId":"Snapshots_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotList"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}":{"get":{"tags":["Snapshots"],"description":"Gets information about a snapshot.","operationId":"Snapshots_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"snapshotName","in":"path","description":"The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The max name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snapshot"}}}}}},"put":{"tags":["Snapshots"],"description":"Creates or updates a snapshot.","operationId":"Snapshots_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"snapshotName","in":"path","description":"The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The max name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Snapshot object supplied in the body of the Put disk operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snapshot"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snapshot"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snapshot"}}}}}},"delete":{"tags":["Snapshots"],"description":"Deletes a snapshot.","operationId":"Snapshots_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"snapshotName","in":"path","description":"The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The max name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"204":{"description":"If the snapshot is deleted, this is an expected error code."}}},"patch":{"tags":["Snapshots"],"description":"Updates (patches) a snapshot.","operationId":"Snapshots_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"snapshotName","in":"path","description":"The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The max name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Snapshot object supplied in the body of the Patch snapshot operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snapshot"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snapshot"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/beginGetAccess":{"post":{"tags":["Snapshots"],"description":"Grants access to a snapshot.","operationId":"Snapshots_GrantAccess","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"snapshotName","in":"path","description":"The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The max name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Access data object supplied in the body of the get snapshot access operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantAccessData"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessUri"}}}},"202":{"description":"Accepted"}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/endGetAccess":{"post":{"tags":["Snapshots"],"description":"Revokes access to a snapshot.","operationId":"Snapshots_RevokeAccess","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"snapshotName","in":"path","description":"The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The max name length is 80 characters.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"}}}}},"components":{"schemas":{"AccessUri":{"type":"object","properties":{"accessSAS":{"type":"string","description":"A SAS uri for accessing a disk.","readOnly":true}},"description":"A disk access SAS uri."},"CreationData":{"required":["createOption"],"type":"object","properties":{"createOption":{"type":"string","description":"This enumerates the possible sources of a disk's creation.","enum":["Empty","Attach","FromImage","Import","Copy","Restore","Upload"]},"imageReference":{"$ref":"#/components/schemas/ImageDiskReference"},"sourceResourceId":{"type":"string","description":"If createOption is Copy, this is the ARM id of the source snapshot or disk."},"sourceUniqueId":{"type":"string","description":"If this field is set, this is the unique id identifying the source of this resource.","readOnly":true},"sourceUri":{"type":"string","description":"If createOption is Import, this is the URI of a blob to be imported into a managed disk."},"storageAccountId":{"type":"string","description":"If createOption is Import, the Azure Resource Manager identifier of the storage account containing the blob to import as a disk. Required only if the blob is in a different subscription"},"uploadSizeBytes":{"type":"integer","description":"If createOption is Upload, this is the size of the contents of the upload including the VHD footer. This value should be between 20972032 (20 MiB + 512 bytes for the VHD footer) and 35183298347520 bytes (32 TiB + 512 bytes for the VHD footer).","format":"int64"}},"description":"Data used when creating a disk."},"Disk":{"properties":{"managedBy":{"type":"string","description":"A relative URI containing the ID of the VM that has the disk attached.","readOnly":true},"properties":{"$ref":"#/components/schemas/DiskProperties"},"sku":{"$ref":"#/components/schemas/DiskSku"},"zones":{"type":"array","description":"The Logical zone list for Disk.","items":{"type":"string"}}},"description":"Disk resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"DiskList":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The uri to fetch the next page of disks. Call ListNext() with this to fetch the next page of disks."},"value":{"type":"array","description":"A list of disks.","items":{"$ref":"#/components/schemas/Disk"}}},"description":"The List Disks operation response."},"DiskProperties":{"required":["creationData"],"type":"object","properties":{"creationData":{"$ref":"#/components/schemas/CreationData"},"diskIOPSReadWrite":{"type":"integer","description":"The number of IOPS allowed for this disk; only settable for UltraSSD disks. One operation can transfer between 4k and 256k bytes.","format":"int64"},"diskMBpsReadWrite":{"type":"integer","description":"The bandwidth allowed for this disk; only settable for UltraSSD disks. MBps means millions of bytes per second - MB here uses the ISO notation, of powers of 10.","format":"int32"},"diskSizeBytes":{"type":"integer","description":"The size of the disk in bytes. This field is read only.","format":"int64","readOnly":true},"diskSizeGB":{"type":"integer","description":"If creationData.createOption is Empty, this field is mandatory and it indicates the size of the disk to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the disk is not attached to a running VM, and can only increase the disk's size.","format":"int32"},"diskState":{"type":"string","description":"The state of the disk.","readOnly":true,"enum":["Unattached","Attached","Reserved","ActiveSAS","ReadyToUpload","ActiveUpload"]},"encryptionSettingsCollection":{"$ref":"#/components/schemas/EncryptionSettingsCollection"},"hyperVGeneration":{"type":"string","description":"The hypervisor generation of the Virtual Machine. Applicable to OS disks only.","enum":["V1","V2"]},"osType":{"type":"string","description":"The Operating System type.","enum":["Windows","Linux"]},"provisioningState":{"type":"string","description":"The disk provisioning state.","readOnly":true},"timeCreated":{"type":"string","description":"The time when the disk was created.","format":"date-time","readOnly":true},"uniqueId":{"type":"string","description":"Unique Guid identifying the resource.","readOnly":true}},"description":"Disk resource properties."},"DiskSku":{"type":"object","properties":{"name":{"type":"string","description":"The sku name.","enum":["Standard_LRS","Premium_LRS","StandardSSD_LRS","UltraSSD_LRS"]},"tier":{"type":"string","description":"The sku tier.","readOnly":true}},"description":"The disks sku name. Can be Standard_LRS, Premium_LRS, StandardSSD_LRS, or UltraSSD_LRS."},"DiskUpdate":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/DiskUpdateProperties"},"sku":{"$ref":"#/components/schemas/DiskSku"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"}},"description":"Disk update resource."},"DiskUpdateProperties":{"type":"object","properties":{"diskIOPSReadWrite":{"type":"integer","description":"The number of IOPS allowed for this disk; only settable for UltraSSD disks. One operation can transfer between 4k and 256k bytes.","format":"int64"},"diskMBpsReadWrite":{"type":"integer","description":"The bandwidth allowed for this disk; only settable for UltraSSD disks. MBps means millions of bytes per second - MB here uses the ISO notation, of powers of 10.","format":"int32"},"diskSizeGB":{"type":"integer","description":"If creationData.createOption is Empty, this field is mandatory and it indicates the size of the disk to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the disk is not attached to a running VM, and can only increase the disk's size.","format":"int32"},"encryptionSettingsCollection":{"$ref":"#/components/schemas/EncryptionSettingsCollection"},"osType":{"type":"string","description":"the Operating System type.","enum":["Windows","Linux"]}},"description":"Disk resource update properties."},"EncryptionSettingsCollection":{"required":["enabled"],"type":"object","properties":{"enabled":{"type":"boolean","description":"Set this flag to true and provide DiskEncryptionKey and optional KeyEncryptionKey to enable encryption. Set this flag to false and remove DiskEncryptionKey and KeyEncryptionKey to disable encryption. If EncryptionSettings is null in the request object, the existing settings remain unchanged."},"encryptionSettings":{"type":"array","description":"A collection of encryption settings, one for each disk volume.","items":{"$ref":"#/components/schemas/EncryptionSettingsElement"}},"encryptionSettingsVersion":{"type":"string","description":"Describes what type of encryption is used for the disks. Once this field is set, it cannot be overwritten. '1.0' corresponds to Azure Disk Encryption with AAD app.'1.1' corresponds to Azure Disk Encryption."}},"description":"Encryption settings for disk or snapshot"},"EncryptionSettingsElement":{"type":"object","properties":{"diskEncryptionKey":{"$ref":"#/components/schemas/KeyVaultAndSecretReference"},"keyEncryptionKey":{"$ref":"#/components/schemas/KeyVaultAndKeyReference"}},"description":"Encryption settings for one disk volume."},"GrantAccessData":{"required":["access","durationInSeconds"],"type":"object","properties":{"access":{"type":"string","enum":["None","Read","Write"]},"durationInSeconds":{"type":"integer","description":"Time duration in seconds until the SAS access expires.","format":"int32"}},"description":"Data used for requesting a SAS."},"ImageDiskReference":{"required":["id"],"type":"object","properties":{"id":{"type":"string","description":"A relative uri containing either a Platform Image Repository or user image reference."},"lun":{"type":"integer","description":"If the disk is created from an image's data disk, this is an index that indicates which of the data disks in the image to use. For OS disks, this field is null.","format":"int32"}},"description":"The source image used for creating the disk."},"KeyVaultAndKeyReference":{"required":["keyUrl","sourceVault"],"type":"object","properties":{"keyUrl":{"type":"string","description":"Url pointing to a key or secret in KeyVault"},"sourceVault":{"$ref":"#/components/schemas/SourceVault"}},"description":"Key Vault Key Url and vault id of KeK, KeK is optional and when provided is used to unwrap the encryptionKey"},"KeyVaultAndSecretReference":{"required":["secretUrl","sourceVault"],"type":"object","properties":{"secretUrl":{"type":"string","description":"Url pointing to a key or secret in KeyVault"},"sourceVault":{"$ref":"#/components/schemas/SourceVault"}},"description":"Key Vault Secret Url and vault id of the encryption key "},"Resource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The Resource model definition."},"Snapshot":{"properties":{"managedBy":{"type":"string","description":"Unused. Always Null.","readOnly":true},"properties":{"$ref":"#/components/schemas/SnapshotProperties"},"sku":{"$ref":"#/components/schemas/SnapshotSku"}},"description":"Snapshot resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"SnapshotList":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The uri to fetch the next page of snapshots. Call ListNext() with this to fetch the next page of snapshots."},"value":{"type":"array","description":"A list of snapshots.","items":{"$ref":"#/components/schemas/Snapshot"}}},"description":"The List Snapshots operation response."},"SnapshotProperties":{"required":["creationData"],"type":"object","properties":{"creationData":{"$ref":"#/components/schemas/CreationData"},"diskSizeBytes":{"type":"integer","description":"The size of the disk in bytes. This field is read only.","format":"int64","readOnly":true},"diskSizeGB":{"type":"integer","description":"If creationData.createOption is Empty, this field is mandatory and it indicates the size of the disk to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the disk is not attached to a running VM, and can only increase the disk's size.","format":"int32"},"encryptionSettingsCollection":{"$ref":"#/components/schemas/EncryptionSettingsCollection"},"hyperVGeneration":{"type":"string","description":"The hypervisor generation of the Virtual Machine. Applicable to OS disks only.","enum":["V1","V2"]},"incremental":{"type":"boolean","description":"Whether a snapshot is incremental. Incremental snapshots on the same disk occupy less space than full snapshots and can be diffed."},"osType":{"type":"string","description":"The Operating System type.","enum":["Windows","Linux"]},"provisioningState":{"type":"string","description":"The disk provisioning state.","readOnly":true},"timeCreated":{"type":"string","description":"The time when the disk was created.","format":"date-time","readOnly":true},"uniqueId":{"type":"string","description":"Unique Guid identifying the resource.","readOnly":true}},"description":"Snapshot resource properties."},"SnapshotSku":{"type":"object","properties":{"name":{"type":"string","description":"The sku name.","enum":["Standard_LRS","Premium_LRS","Standard_ZRS"]},"tier":{"type":"string","description":"The sku tier.","readOnly":true}},"description":"The snapshots sku name. Can be Standard_LRS, Premium_LRS, or Standard_ZRS."},"SnapshotUpdate":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/SnapshotUpdateProperties"},"sku":{"$ref":"#/components/schemas/SnapshotSku"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"}},"description":"Snapshot update resource."},"SnapshotUpdateProperties":{"type":"object","properties":{"diskSizeGB":{"type":"integer","description":"If creationData.createOption is Empty, this field is mandatory and it indicates the size of the disk to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the disk is not attached to a running VM, and can only increase the disk's size.","format":"int32"},"encryptionSettingsCollection":{"$ref":"#/components/schemas/EncryptionSettingsCollection"},"osType":{"type":"string","description":"the Operating System type.","enum":["Windows","Linux"]}},"description":"Snapshot resource update properties."},"SourceVault":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id"}},"description":"The vault id is an Azure Resource Manager Resource id in the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"DiskNameParameter":{"name":"diskName","in":"path","description":"The name of the managed disk that is being created. The name can't be changed after the disk is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"SnapshotNameParameter":{"name":"snapshotName","in":"path","description":"The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The max name length is 80 characters.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}