{"openapi":"3.0.1","info":{"title":"Security Center","description":"API spec for Microsoft.Security (Azure Security Center) resource provider","version":"2019-01-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/{resourceId}/providers/Microsoft.Security/advancedThreatProtectionSettings/{settingName}":{"get":{"tags":["AdvancedThreatProtection"],"description":"Gets the Advanced Threat Protection settings for the specified resource.","operationId":"AdvancedThreatProtection_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"resourceId","in":"path","description":"The identifier of the resource.","required":true,"schema":{"type":"string"}},{"name":"settingName","in":"path","description":"Advanced Threat Protection setting name.","required":true,"schema":{"type":"string","enum":["current"]}}],"responses":{"200":{"description":"Successful request to get Advanced Threat Protection settings.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvancedThreatProtectionSetting"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}},"put":{"tags":["AdvancedThreatProtection"],"description":"Creates or updates the Advanced Threat Protection settings on a specified resource.","operationId":"AdvancedThreatProtection_Create","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"resourceId","in":"path","description":"The identifier of the resource.","required":true,"schema":{"type":"string"}},{"name":"settingName","in":"path","description":"Advanced Threat Protection setting name.","required":true,"schema":{"type":"string","enum":["current"]}}],"requestBody":{"description":"Advanced Threat Protection Settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvancedThreatProtectionSetting"}}},"required":true},"responses":{"200":{"description":"Successful request to put Advanced Threat Protection settings.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvancedThreatProtectionSetting"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}}},"components":{"schemas":{"AdvancedThreatProtectionProperties":{"type":"object","properties":{"isEnabled":{"type":"boolean","description":"Indicates whether Advanced Threat Protection is enabled."}},"description":"The Advanced Threat Protection settings."},"AdvancedThreatProtectionSetting":{"properties":{"properties":{"$ref":"#/components/schemas/AdvancedThreatProtectionProperties"}},"description":"The Advanced Threat Protection resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."}]}},"parameters":{"AdvancedThreatProtectionSettingName":{"name":"settingName","in":"path","description":"Advanced Threat Protection setting name.","required":true,"schema":{"type":"string","enum":["current"]}}},"requestBodies":{"AdvancedThreatProtectionSetting":{"description":"Advanced Threat Protection Settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvancedThreatProtectionSetting"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}