{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Security Center",
    "description" : "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version" : "2017-08-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings" : {
      "get" : {
        "tags" : [ "AutoProvisioningSettings" ],
        "description" : "Exposes the auto provisioning settings of the subscriptions",
        "operationId" : "AutoProvisioningSettings_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoProvisioningSettingList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}" : {
      "get" : {
        "tags" : [ "AutoProvisioningSettings" ],
        "description" : "Details of a specific setting",
        "operationId" : "AutoProvisioningSettings_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "settingName",
          "in" : "path",
          "description" : "Auto provisioning setting key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoProvisioningSetting"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "AutoProvisioningSettings" ],
        "description" : "Details of a specific setting",
        "operationId" : "AutoProvisioningSettings_Create",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "settingName",
          "in" : "path",
          "description" : "Auto provisioning setting key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Auto provisioning setting key",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AutoProvisioningSetting"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoProvisioningSetting"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AutoProvisioningSetting" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AutoProvisioningSettingProperties"
          }
        },
        "description" : "Auto provisioning setting",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type",
              "readOnly" : true
            }
          },
          "description" : "Describes an Azure resource."
        } ]
      },
      "AutoProvisioningSettingList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of all the auto provisioning settings",
            "items" : {
              "$ref" : "#/components/schemas/AutoProvisioningSetting"
            }
          }
        },
        "description" : "List of all the auto provisioning settings response"
      },
      "AutoProvisioningSettingProperties" : {
        "required" : [ "autoProvision" ],
        "type" : "object",
        "properties" : {
          "autoProvision" : {
            "type" : "string",
            "description" : "Describes what kind of security agent provisioning action to take",
            "enum" : [ "On", "Off" ]
          }
        },
        "description" : "describes properties of an auto provisioning setting"
      }
    },
    "parameters" : {
      "AutoProvisioningSettingName" : {
        "name" : "settingName",
        "in" : "path",
        "description" : "Auto provisioning setting key",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "AutoProvisioningSetting" : {
        "description" : "Auto provisioning setting key",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/AutoProvisioningSetting"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}