{"openapi":"3.0.1","info":{"title":"FabricAdminClient","description":"Volume operation endpoints and objects.","version":"2019-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes":{"get":{"tags":["Volumes"],"description":"Returns a list of all storage volumes at a location.","operationId":"Volumes_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"scaleUnit","in":"path","description":"Name of the scale units.","required":true,"schema":{"type":"string"}},{"name":"storageSubSystem","in":"path","description":"Name of the storage system.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-05-01"}},{"name":"$filter","in":"query","description":"OData filter parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeList"}}}},"404":{"description":"NOT FOUND"}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes/{volume}":{"get":{"tags":["Volumes"],"description":"Return the requested a storage volume.","operationId":"Volumes_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"scaleUnit","in":"path","description":"Name of the scale units.","required":true,"schema":{"type":"string"}},{"name":"storageSubSystem","in":"path","description":"Name of the storage system.","required":true,"schema":{"type":"string"}},{"name":"volume","in":"path","description":"Name of the storage volume.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Volume"}}}},"404":{"description":"NOT FOUND"}}}}},"components":{"schemas":{"Volume":{"properties":{"properties":{"$ref":"#/components/schemas/VolumeModel"}},"description":"Representation of a volume resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"The region where the resource is located."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key-value pairs."},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base resource object."}]},"VolumeList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of storage volumes.","items":{"$ref":"#/components/schemas/Volume"}}},"description":"Pageable list of storage volumes."},"VolumeModel":{"type":"object","properties":{"action":{"type":"string","description":"Detailed recommended action for HealthStatus/OperationalStatus. Empty if HealthStatus/OperationalStatus is Healthy/Ok.","readOnly":true},"description":{"type":"string","description":"Detailed description for HealthStatus/OperationalStatus. Empty if HealthStatus/OperationalStatus is Healthy/Ok.","readOnly":true},"healthStatus":{"type":"string","description":"Health status of the volume.","readOnly":true},"operationalStatus":{"type":"string","description":"Operational status of the volume.","readOnly":true},"remainingCapacityGB":{"type":"integer","description":"Remaining capacity in GB of the volume.","format":"int32","readOnly":true},"repairStatus":{"type":"string","description":"Repair status of the volume. Empty if no repair job running, something like 'Running, 90%' when repairing.","readOnly":true},"totalCapacityGB":{"type":"integer","description":"Total capacity in GB of the volume.","format":"int32","readOnly":true},"volumeLabel":{"type":"string","description":"Volume label.","readOnly":true}},"description":"Properties of a volume."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-05-01"}},"VolumeParameter":{"name":"volume","in":"path","description":"Name of the storage volume.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}