{"openapi":"3.0.1","info":{"title":"ApplicationInsightsManagementClient","description":"Azure Application Insights client for web test based alerting.","version":"2015-05-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Insights/webtests":{"get":{"description":"Get all Application Insights web test alerts definitions within a subscription.","operationId":"WebTests_List","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"A list of 0 or more Application Insights web test definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/webTestListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{componentName}/webtests":{"get":{"description":"Get all Application Insights web tests defined for the specified component.","operationId":"WebTests_ListByComponent","parameters":[{"name":"componentName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"A list containing 0 or more web test definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/webTestListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/webtests":{"get":{"description":"Get all Application Insights web tests defined within a specified resource group.","operationId":"WebTests_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"A list containing 0 or more web test definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/webTestListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/webtests/{webTestName}":{"get":{"description":"Get a specific Application Insights web test definition.","operationId":"WebTests_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"webTestName","in":"path","description":"The name of the Application Insights webtest resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ann Application Insights web test definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebTest"}}}}}},"put":{"description":"Creates or updates an Application Insights web test definition.","operationId":"WebTests_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"webTestName","in":"path","description":"The name of the Application Insights webtest resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties that need to be specified to create or update an Application Insights web test definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebTest"}}},"required":true},"responses":{"200":{"description":"Adding the Application Insights web test was successful. Web test properties are updated and returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebTest"}}}}}},"delete":{"description":"Deletes an Application Insights web test.","operationId":"WebTests_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"webTestName","in":"path","description":"The name of the Application Insights webtest resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"Successful request to delete a web test definition."},"204":{"description":"No content: the request was successful, but the response is empty (the request to delete failed because the specified web test does not exist)."}}},"patch":{"description":"Creates or updates an Application Insights web test definition.","operationId":"WebTests_UpdateTags","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"webTestName","in":"path","description":"The name of the Application Insights webtest resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Updated tag information to set into the web test instance.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagsResource"}}},"required":true},"responses":{"200":{"description":"Updating the Application Insights web test tags was successful. Web test tags are updated and returned with the rest of the WebTest object properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebTest"}}}}}}}},"components":{"schemas":{"TagsResource":{"type":"object","properties":{"tags":{"type":"object","description":"Resource tags"}},"description":"A container holding only the Tags for a resource, allowing the user to update the tags on a WebTest instance."},"WebTest":{"properties":{"kind":{"type":"string","description":"The kind of web test that this web test watches. Choices are ping and multistep.","default":"ping","enum":["ping","multistep"]},"properties":{"$ref":"#/components/schemas/WebTestProperties"}},"description":"An Application Insights web test definition.","allOf":[{"$ref":"#/components/schemas/WebtestsResource"}]},"WebTestGeolocation":{"type":"object","properties":{"Id":{"type":"string","description":"Location ID for the webtest to run from."}},"description":"Geo-physical location to run a web test from. You must specify one or more locations for the test to run from."},"WebTestProperties":{"required":["Kind","Locations","Name","SyntheticMonitorId"],"type":"object","properties":{"Configuration":{"type":"object","properties":{"WebTest":{"type":"string","description":"The XML specification of a WebTest to run against an application."}},"description":"An XML configuration specification for a WebTest."},"Description":{"type":"string","description":"Purpose/user defined descriptive test for this WebTest."},"Enabled":{"type":"boolean","description":"Is the test actively being monitored."},"Frequency":{"type":"integer","description":"Interval in seconds between test runs for this WebTest. Default value is 300.","format":"int32","default":300},"Kind":{"type":"string","description":"The kind of web test this is, valid choices are ping and multistep.","default":"ping","enum":["ping","multistep"]},"Locations":{"type":"array","description":"A list of where to physically run the tests from to give global coverage for accessibility of your application.","items":{"$ref":"#/components/schemas/WebTestGeolocation"}},"Name":{"type":"string","description":"User defined name if this WebTest."},"RetryEnabled":{"type":"boolean","description":"Allow for retries should this WebTest fail."},"SyntheticMonitorId":{"type":"string","description":"Unique ID of this WebTest. This is typically the same value as the Name field."},"Timeout":{"type":"integer","description":"Seconds until this WebTest will timeout and fail. Default value is 30.","format":"int32","default":30},"provisioningState":{"type":"string","description":"Current state of this component, whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.","readOnly":true}},"description":"Metadata describing a web test for an Azure resource."},"WebtestsResource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Azure resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Azure resource name","readOnly":true},"tags":{"type":"object","description":"Resource tags"},"type":{"type":"string","description":"Azure resource type","readOnly":true}},"description":"An azure resource object"},"webTestListResult":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The link to get the next part of the returned list of web tests, should the return set be too large for a single request. May be null."},"value":{"type":"array","description":"Set of Application Insights web test definitions.","items":{"$ref":"#/components/schemas/WebTest"}}},"description":"A list of 0 or more Application Insights web test definitions."}},"parameters":{"ComponentNameParameter":{"name":"componentName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},"WebTestNameParameter":{"name":"webTestName","in":"path","description":"The name of the Application Insights webtest resource.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}