{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Recommendations API Client",
    "version" : "2018-02-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations" : {
      "get" : {
        "tags" : [ "Recommendations" ],
        "summary" : "List all recommendations for a subscription.",
        "description" : "List all recommendations for a subscription.",
        "operationId" : "Recommendations_List",
        "parameters" : [ {
          "name" : "featured",
          "in" : "query",
          "description" : "Specify <code>true</code> to return only the most critical recommendations. The default is <code>false</code>, which returns all recommendations.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter is specified by using OData syntax. Example: $filter=channel eq 'Api' or channel eq 'Notification' and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[PT1H|PT1M|P1D]",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecommendationCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations/reset" : {
      "post" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Reset all recommendation opt-out settings for a subscription.",
        "description" : "Reset all recommendation opt-out settings for a subscription.",
        "operationId" : "Recommendations_ResetAllFilters",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations/{name}/disable" : {
      "post" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Disables the specified rule so it will not apply to a subscription in the future.",
        "description" : "Disables the specified rule so it will not apply to a subscription in the future.",
        "operationId" : "Recommendations_DisableRecommendationForSubscription",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "description" : "Rule name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully disabled recommendations."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendationHistory" : {
      "get" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Get past recommendations for an app, optionally specified by the time range.",
        "description" : "Get past recommendations for an app, optionally specified by the time range.",
        "operationId" : "Recommendations_ListHistoryForHostingEnvironment",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "hostingEnvironmentName",
          "in" : "path",
          "description" : "Name of the hosting environment.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expiredOnly",
          "in" : "query",
          "description" : "Specify <code>false</code> to return all recommendations. The default is <code>true</code>, which returns only expired recommendations.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter is specified by using OData syntax. Example: $filter=channel eq 'Api' or channel eq 'Notification' and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[PT1H|PT1M|P1D]",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecommendationCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations" : {
      "get" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Get all recommendations for an app.",
        "description" : "Get all recommendations for an app.",
        "operationId" : "Recommendations_ListRecommendedRulesForHostingEnvironment",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "hostingEnvironmentName",
          "in" : "path",
          "description" : "Name of the app.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featured",
          "in" : "query",
          "description" : "Specify <code>true</code> to return only the most critical recommendations. The default is <code>false</code>, which returns all recommendations.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Return only channels specified in the filter. Filter is specified by using OData syntax. Example: $filter=channel eq 'Api' or channel eq 'Notification'",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecommendationCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/disable" : {
      "post" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Disable all recommendations for an app.",
        "description" : "Disable all recommendations for an app.",
        "operationId" : "Recommendations_DisableAllForHostingEnvironment",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "environmentName",
          "in" : "query",
          "description" : "Name of the app.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hostingEnvironmentName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/reset" : {
      "post" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Reset all recommendation opt-out settings for an app.",
        "description" : "Reset all recommendation opt-out settings for an app.",
        "operationId" : "Recommendations_ResetAllFiltersForHostingEnvironment",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "environmentName",
          "in" : "query",
          "description" : "Name of the app.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hostingEnvironmentName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/{name}" : {
      "get" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Get a recommendation rule for an app.",
        "description" : "Get a recommendation rule for an app.",
        "operationId" : "Recommendations_GetRuleDetailsByHostingEnvironment",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "hostingEnvironmentName",
          "in" : "path",
          "description" : "Name of the hosting environment.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the recommendation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "updateSeen",
          "in" : "query",
          "description" : "Specify <code>true</code> to update the last-seen timestamp of the recommendation object.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "recommendationId",
          "in" : "query",
          "description" : "The GUID of the recommendation object if you query an expired one. You don't need to specify it to query an active entry.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecommendationRule"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/{name}/disable" : {
      "post" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Disables the specific rule for a web site permanently.",
        "description" : "Disables the specific rule for a web site permanently.",
        "operationId" : "Recommendations_DisableRecommendationForHostingEnvironment",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "environmentName",
          "in" : "query",
          "description" : "Site name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Rule name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hostingEnvironmentName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully disabled recommendations."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendationHistory" : {
      "get" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Get past recommendations for an app, optionally specified by the time range.",
        "description" : "Get past recommendations for an app, optionally specified by the time range.",
        "operationId" : "Recommendations_ListHistoryForWebApp",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "siteName",
          "in" : "path",
          "description" : "Name of the app.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expiredOnly",
          "in" : "query",
          "description" : "Specify <code>false</code> to return all recommendations. The default is <code>true</code>, which returns only expired recommendations.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter is specified by using OData syntax. Example: $filter=channel eq 'Api' or channel eq 'Notification' and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[PT1H|PT1M|P1D]",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecommendationCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations" : {
      "get" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Get all recommendations for an app.",
        "description" : "Get all recommendations for an app.",
        "operationId" : "Recommendations_ListRecommendedRulesForWebApp",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "siteName",
          "in" : "path",
          "description" : "Name of the app.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featured",
          "in" : "query",
          "description" : "Specify <code>true</code> to return only the most critical recommendations. The default is <code>false</code>, which returns all recommendations.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Return only channels specified in the filter. Filter is specified by using OData syntax. Example: $filter=channel eq 'Api' or channel eq 'Notification'",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecommendationCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/disable" : {
      "post" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Disable all recommendations for an app.",
        "description" : "Disable all recommendations for an app.",
        "operationId" : "Recommendations_DisableAllForWebApp",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "siteName",
          "in" : "path",
          "description" : "Name of the app.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/reset" : {
      "post" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Reset all recommendation opt-out settings for an app.",
        "description" : "Reset all recommendation opt-out settings for an app.",
        "operationId" : "Recommendations_ResetAllFiltersForWebApp",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "siteName",
          "in" : "path",
          "description" : "Name of the app.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/{name}" : {
      "get" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Get a recommendation rule for an app.",
        "description" : "Get a recommendation rule for an app.",
        "operationId" : "Recommendations_GetRuleDetailsByWebApp",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "siteName",
          "in" : "path",
          "description" : "Name of the app.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the recommendation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "updateSeen",
          "in" : "query",
          "description" : "Specify <code>true</code> to update the last-seen timestamp of the recommendation object.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "recommendationId",
          "in" : "query",
          "description" : "The GUID of the recommendation object if you query an expired one. You don't need to specify it to query an active entry.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecommendationRule"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/{name}/disable" : {
      "post" : {
        "tags" : [ "Recommendations" ],
        "summary" : "Disables the specific rule for a web site permanently.",
        "description" : "Disables the specific rule for a web site permanently.",
        "operationId" : "Recommendations_DisableRecommendationForSite",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "siteName",
          "in" : "path",
          "description" : "Site name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Rule name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully disabled recommendations."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Recommendation" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "actionName" : {
                "type" : "string",
                "description" : "Name of action recommended by this object."
              },
              "bladeName" : {
                "type" : "string",
                "description" : "Deep link to a blade on the portal."
              },
              "categoryTags" : {
                "type" : "array",
                "description" : "The list of category tags that this recommendation belongs to.",
                "readOnly" : true,
                "items" : {
                  "type" : "string"
                }
              },
              "channels" : {
                "type" : "string",
                "description" : "List of channels that this recommendation can apply.",
                "enum" : [ "Notification", "Api", "Email", "Webhook", "All" ]
              },
              "creationTime" : {
                "type" : "string",
                "description" : "Timestamp when this instance was created.",
                "format" : "date-time"
              },
              "displayName" : {
                "type" : "string",
                "description" : "UI friendly name of the rule (may not be unique)."
              },
              "enabled" : {
                "type" : "integer",
                "description" : "True if this recommendation is still valid (i.e. \"actionable\"). False if it is invalid.",
                "format" : "int32"
              },
              "endTime" : {
                "type" : "string",
                "description" : "The end time in UTC of a range that the recommendation refers to.",
                "format" : "date-time"
              },
              "extensionName" : {
                "type" : "string",
                "description" : "Extension name of the portal if exists."
              },
              "forwardLink" : {
                "type" : "string",
                "description" : "Forward link to an external document associated with the rule."
              },
              "isDynamic" : {
                "type" : "boolean",
                "description" : "True if this is associated with a dynamically added rule"
              },
              "level" : {
                "type" : "string",
                "description" : "Level indicating how critical this recommendation can impact.",
                "enum" : [ "Critical", "Warning", "Information", "NonUrgentSuggestion" ]
              },
              "message" : {
                "type" : "string",
                "description" : "Recommendation text."
              },
              "nextNotificationTime" : {
                "type" : "string",
                "description" : "When to notify this recommendation next in UTC. Null means that this will never be notified anymore.",
                "format" : "date-time"
              },
              "notificationExpirationTime" : {
                "type" : "string",
                "description" : "Date and time in UTC when this notification expires.",
                "format" : "date-time"
              },
              "notifiedTime" : {
                "type" : "string",
                "description" : "Last timestamp in UTC this instance was actually notified. Null means that this recommendation hasn't been notified yet.",
                "format" : "date-time"
              },
              "recommendationId" : {
                "type" : "string",
                "description" : "A GUID value that each recommendation object is associated with.",
                "format" : "uuid",
                "example" : "00000000-0000-0000-0000-000000000000"
              },
              "resourceId" : {
                "type" : "string",
                "description" : "Full ARM resource ID string that this recommendation object is associated with."
              },
              "resourceScope" : {
                "type" : "string",
                "description" : "Name of a resource type this recommendation applies, e.g. Subscription, ServerFarm, Site.",
                "enum" : [ "ServerFarm", "Subscription", "WebSite" ]
              },
              "ruleName" : {
                "type" : "string",
                "description" : "Unique name of the rule."
              },
              "score" : {
                "type" : "number",
                "description" : "A metric value measured by the rule.",
                "format" : "double"
              },
              "startTime" : {
                "type" : "string",
                "description" : "The beginning time in UTC of a range that the recommendation refers to.",
                "format" : "date-time"
              },
              "states" : {
                "type" : "array",
                "description" : "The list of states of this recommendation. If it's null then it should be considered \"Active\".",
                "items" : {
                  "type" : "string"
                }
              }
            },
            "description" : "Recommendation resource specific properties"
          }
        },
        "description" : "Represents a recommendation result generated by the recommendation engine.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure proxy only resource. This resource is not tracked by Azure Resource Manager."
        } ]
      },
      "RecommendationCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of resources.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Collection of resources.",
            "items" : {
              "$ref" : "#/components/schemas/Recommendation"
            }
          }
        },
        "description" : "Collection of recommendations."
      },
      "RecommendationRule" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "actionName" : {
                "type" : "string",
                "description" : "Name of action that is recommended by this rule in string."
              },
              "bladeName" : {
                "type" : "string",
                "description" : "Deep link to a blade on the portal. Applicable to dynamic rule only."
              },
              "categoryTags" : {
                "type" : "array",
                "description" : "The list of category tags that this recommendation rule belongs to.",
                "readOnly" : true,
                "items" : {
                  "type" : "string"
                }
              },
              "channels" : {
                "type" : "string",
                "description" : "List of available channels that this rule applies.",
                "enum" : [ "Notification", "Api", "Email", "Webhook", "All" ]
              },
              "description" : {
                "type" : "string",
                "description" : "Localized detailed description of the rule."
              },
              "displayName" : {
                "type" : "string",
                "description" : "UI friendly name of the rule."
              },
              "extensionName" : {
                "type" : "string",
                "description" : "Extension name of the portal if exists. Applicable to dynamic rule only."
              },
              "forwardLink" : {
                "type" : "string",
                "description" : "Forward link to an external document associated with the rule. Applicable to dynamic rule only."
              },
              "isDynamic" : {
                "type" : "boolean",
                "description" : "True if this is associated with a dynamically added rule"
              },
              "level" : {
                "type" : "string",
                "description" : "Level of impact indicating how critical this rule is.",
                "enum" : [ "Critical", "Warning", "Information", "NonUrgentSuggestion" ]
              },
              "message" : {
                "type" : "string",
                "description" : "Localized name of the rule (Good for UI)."
              },
              "recommendationId" : {
                "type" : "string",
                "description" : "Recommendation ID of an associated recommendation object tied to the rule, if exists.\nIf such an object doesn't exist, it is set to null.",
                "format" : "uuid",
                "example" : "00000000-0000-0000-0000-000000000000"
              },
              "recommendationName" : {
                "type" : "string",
                "description" : "Unique name of the rule."
              }
            },
            "description" : "RecommendationRule resource specific properties"
          }
        },
        "description" : "Represents a recommendation rule that the recommendation engine can perform.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure proxy only resource. This resource is not tracked by Azure Resource Manager."
        } ]
      }
    },
    "parameters" : {
      "apiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "API Version",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "resourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "Name of the resource group to which the resource belongs.",
        "required" : true,
        "schema" : {
          "maxLength" : 90,
          "minLength" : 1,
          "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
          "type" : "string"
        }
      },
      "subscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}