{"openapi":"3.0.1","info":{"title":"U.S. EPA Enforcement and Compliance History Online (ECHO) - Enforcement Case Search","description":"Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.\n CASE Rest Services provide multiple service endpoints, each with specific capabilities, to search and retrieve data on civil cases entered into the \nIntegrated Compliance Information System (ICIS) and criminal cases entered into the Summary of Criminal Prosecutions database.  \nSee Enforcement Case Search Help (https://echo.epa.gov/help/enforcement-case-search-help) for additional information on searching civil and criminal cases. \n\\\nThe get_cases, get_map, get_qid, and get_download end points are meant to be used together, while the enhanced get_case_info end point is self contained..   \nThe recommended use scenario for get_cases, get_qid, get_map, and get_downoad is:\n\\\n <b>1)</b>  Use get_cases to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.\n <b>2)</b>  Use get_qid, with the returned QID, to paginate through arrays of case results.\n <b>3)</b>  Use get_map, with the returned QID, to zoom in/out and pan on the clustered and individual facility coordinates, related to the returned cases, that meet the QID query criteria.\n <b>4)</b>  Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of facility information that meets the QID query criteria.\n\\\nIn addition to the service endpoints listed above there are two detailed case report services, one for civil cases (get_case_report) and one for criminal cases (get_crcase_report). \nSee the Civil Enforcement Case Report Help (https://echo.epa.gov/help/reports/enforcement-case-report-help) and the Criminal Case Report Help (https://echo.epa.gov/help/reports/criminal-case-report-help) for additional information \non then data returned from these two services.   \n\\\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n ","contact":{"name":"US EPA, OECA Integration, Targeting and Access Branch"},"license":{"name":"This page was built with the Swagger API.","url":"https://swagger.io"},"version":"1.0.0"},"servers":[{"url":"https://echodata.epa.gov/echo"}],"paths":{"/case_rest_services.get_case_info":{"get":{"tags":["Case Enforcement"],"summary":"Enforcement Case Search (new version)","description":"The get_case_info service end point searches for civil enforcement and criminal cases based on the provided selection criteria and returns either individual cases or clusters of case facility locations.","parameters":[{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"p_case_category","in":"query","description":"Case Category Filter.  Enter one or more case category codes to filter results.   Provide multiple values as a comma-delimited list.\n- AFR = Administrative - Formal\n- AIF = Administrative - Informal\n- JDC = Judicial","schema":{"type":"string"}},{"name":"p_case_status","in":"query","description":"Case Status Code Filter.  Enter one or more case status codes to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_milestone","in":"query","description":"Administrative or Judicial Milestone Filter.  Enter one or milestone values to restrict results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_from_date","in":"query","description":"Administrative or Judicial Milestone Date Range Start Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_to_date must also be populated when using this parameter option.","schema":{"type":"string"}},{"name":"p_to_date","in":"query","description":"Administrative or Judicial Milestone Date Range End Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_from_date must also be populated when using this parameter option.","schema":{"type":"string"}},{"name":"p_milestone_fy","in":"query","description":"Administrative or Judicial Milestone Fiscal Year Limiter.  Enter a single fiscal year value to limit milestone searches to a given fiscal year.","schema":{"type":"string"}},{"name":"p_name","in":"query","description":"Case Name Filter.  Enter one or more case names to restrict results.  Provide multiple values as a comma-delimited list.  When using this parameter the p_name_type parameter is required.","schema":{"type":"string"}},{"name":"p_name_type","in":"query","description":"Case Name Filter Modifier.","schema":{"type":"string"}},{"name":"p_case_number","in":"query","description":"Case Number Filter.  Enter one or more case numbers to restrict results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_docket_number","in":"query","description":"DOJ Docket Number Filter.  Enter a single docket number or partial docket number to restrict results.  Use \"%\" as a wildcard for more complex filtering.","schema":{"type":"string"}},{"name":"p_court_docket_number","in":"query","schema":{"type":"string"}},{"name":"p_activity_number","in":"query","description":"Case Activity Number Filter.  Enter a single case activity number to filter results.","schema":{"type":"string"}},{"name":"p_case_lead","in":"query","description":"Case Lead Limiter.  Enter E or S to limit results.\n- E = EPA is the case lead.\n- S = The state is the case lead.","schema":{"type":"string","enum":["E","S"]}},{"name":"p_case_sens_flg","in":"query","description":"Case Sensitive Data Flag.  Enter a Y or N to include or exclude cases with sensitive data.","schema":{"type":"string"}},{"name":"p_region","in":"query","description":"EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.","schema":{"type":"string","enum":["01","02","03","04","05","06","07","08","09","10"]}},{"name":"p_state","in":"query","description":"Case Location State Filter.  Enter one or more state USPS postal codes to filter results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_district","in":"query","description":"Case Location Court District Limiter.  Enter a single state court district code to limit results.","schema":{"type":"string"}},{"name":"p_sic","in":"query","description":"Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.","schema":{"type":"string"}},{"name":"p_sic_ao_naics","in":"query","description":"Case Location SIC/NAICS And/Or Modifier.  Enter either AND or OR to govern the search logic of SIC and NAICS codes.\n- AND = Search will return results having both the provided SIC code(s) and provided NAICS code(s).\n- OR = Search will return results having either the provided SIC code(s) or the provided NAICS code(s).","schema":{"type":"string","enum":["AND","OR"]}},{"name":"p_sic_primary_flg","in":"query","description":"Case Location Primary SIC Flag.  Enter Y to limit SIC search results to primary SIC codes only.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_sic_frs_flg","in":"query","description":"Case Location Extended FRS SIC Search Flag.  Enter Y to expand SIC search to include Federal Registry Service datasets.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_naics","in":"query","description":"North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.","schema":{"type":"string"}},{"name":"p_naics_primary_flg","in":"query","description":"Case Location Primary NAICS Flag.  Enter Y to limit NAICS search results to primary NAICS codes only.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_naics_frs_flg","in":"query","description":"Case Location Extended FRS NAICS Search Flag.  Enter Y to expand NAICS search to include Federal Registry Service datasets.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_enf_type","in":"query","description":"Case Enforcement Type Filter. Enter one or more case enforcement type codes to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_law","in":"query","description":"Law Statute Code Filter.  Enter a single statute code to limit results.","schema":{"type":"string"}},{"name":"p_section","in":"query","description":"Law Section Code Filter. Enter one or more law section codes to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_cp_citation","in":"query","description":"Law Section Code Filter Alternative. Enter a single law section code to limit results.  This parameter accepts partial codes and allows for advanced search modifiers.","schema":{"type":"string"}},{"name":"p_rank_order","in":"query","description":"Law Status Rank Order Limiter.  Enter a single integer rank order to limit results.","schema":{"type":"string","enum":["1","0"]}},{"name":"p_enf_program","in":"query","description":"Enforcement Program Code Limiter.  Enter one or more enforcement program codes to limit results.  Provide multiple values as a comma-delimited list.  ","schema":{"type":"string"}},{"name":"p_violation","in":"query","description":"Violation Type Code Filter.  Enter one or more violation type codes to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_priority_area","in":"query","description":"Case Priority Area Filter.  Enter one or more case priority areas to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_priority_area_desc","in":"query","description":"Case Priority Area Description Filter.  Enter a single case priority area description or partial case priority area description to limit results.  Use \"%\" as a wild-card match for more complex searches.","schema":{"type":"string"}},{"name":"p_tribal","in":"query","description":"Case Location Tribal Land Flag.  Enter Y or N to include or disallow cases on tribal land.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_oeca_core","in":"query","description":"OECA Core Program Flag.  Enter Y or N to include or exclude core program cases.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_multimedia","in":"query","description":"Enforcement Multimedia Case Flag.  Enter Y or N to include or exclude multimedia cases.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_fed_case","in":"query","description":"Federal Facility Involvement Flag.  Enter a Y or N to include or exclude cases involving federal facilities.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_activity_contact","in":"query","description":"Activity Contact Last Name Filter.  Enter a single last name or partial last name to filter results.  Use \"%\" as a wild-card for advanced searching.","schema":{"type":"string"}},{"name":"p_role","in":"query","description":"Activity Contact Role Code Filter.  Enter a single role code to restrict results.","schema":{"type":"string"}},{"name":"p_fed_penalty","in":"query","description":"Federal Penalty Assessed Amount Filter.  Provide one of the following keywords to restrict results.\n- ANY = cases with any penalty amount.\n- LE5000 = cases with penalty amount less than or equal to $5,000.\n- GT5000 = cases with penalty amount more than $5,000.\n- GT50000 = cases with penalty amount more than $50,000.\n- GT100000 = cases with penalty amount more than $100,000.\n- GT500000 = cases with penalty amount more than $500,000.\n- GT1000000 = cases with penalty amount more than $1,000,000.\n- GT2500000 = cases with penalty amount more than $2,500,000.","schema":{"type":"string","enum":["ANY","LE5000","GT5000","GT50000","GT100000","GT500000","GT1000000","GT2500000"]}},{"name":"p_total_fed_penalty","in":"query","description":"Total Federal Penalty Limiter.  Enter a keyword value to limit results to cases with given total federal penalties.\n- ANY = Cases with any federal penalty greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with federal penalty less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with federal penalty greater than the given amount.","schema":{"type":"string"}},{"name":"p_cost_recovery","in":"query","description":"Cost Recovery Awarded Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.\n- ANY = Cases with any cost recovery amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount.","schema":{"type":"string"}},{"name":"p_total_cost_recovery","in":"query","description":"Total Cost Recovery Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.\n- ANY = Cases with any cost recovery amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount.","schema":{"type":"string"}},{"name":"p_complying_actions","in":"query","description":"Complying Actions Type Code Limiter.  Enter one or more complying action codes to restrict results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_comp_act_val","in":"query","description":"Compliance Action Cost Limiter. Enter a keyword value to limit results to cases with given compliance cost amounts.\n- ANY = Cases with any compliance cost amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with compliance cost amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with compliance cost amount greater than the given amount.","schema":{"type":"string","enum":["ANY","LE5000","GT5000","GT100000","GT1000000","GT50000000"]}},{"name":"p_total_comp_act_val","in":"query","description":"Total Compliance Action Amount Limiter.  Enter a keyword value to limit results to cases with given total compliance action amounts.\n- ANY = Cases with any total compliance action amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with total compliance action amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with total compliance action amount greater than the given amount.","schema":{"type":"string"}},{"name":"p_sep_cats","in":"query","description":"Supplemental Environmental Projects Activity Category Code Limiter.  Provide one or more SEP activity category codes to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_sep_val","in":"query","description":"Supplemental Environmental Projects Activity Value Limiter.  Provide a keyword to limit results.\n- ANY = return cases with any SEP activity amount.\n- LE10000 = return cases with SEP activity amount less than or equal to $10,000.\n- GT10000 = return cases with SEP activity amount greater than $10,000.\n- GT50000 = return cases with SEP activity amount greater than $50,000.\n- GT100000 = return cases with SEP activity amount greater than $100,000.\n- GT500000 = return cases with SEP activity amount greater than $500,000.\n- GT1000000 = return cases with SEP activity amount greater than $1,000,000.","schema":{"type":"string","enum":["ANY","LE10000","GT10000","GT50000","GT100000","GT500000","GT1000000"]}},{"name":"p_total_sep_val","in":"query","description":"Supplemental Environmental Projects Total Value Limiter.  Provide a keyword to limit results.\n- ANY = return cases with any SEP total amount.\n- LE10000 = return cases with SEP total amount less than or equal to $10,000.\n- GT10000 = return cases with SEP total amount greater than $10,000.\n- GT50000 = return cases with SEP total amount greater than $50,000.\n- GT100000 = return cases with SEP total amount greater than $100,000.\n- GT500000 = return cases with SEP total amount greater than $500,000.\n- GT1000000 = return cases with SEP total amount greater than $1,000,000.","schema":{"type":"string"}},{"name":"p_lodged_date","in":"query","description":"Settlement Lodged Date Limiter.  Enter a single settlement lodged date in MM/DD/YYYY format to limit results.","schema":{"type":"string"}},{"name":"p_entered_date","in":"query","description":"Settlement Entered Date Limiter.  Enter a single settlement entered date in MM/DD/YYYY format to limit results.","schema":{"type":"string"}},{"name":"p_facility_id","in":"query","description":"Case Facility Registration Identifier Limiter.  Enter a single complete facility identifier to limit results.","schema":{"type":"string"}},{"name":"p_fac_city","in":"query","description":"Case Facility City Limiter.  Enter a single complete city name to filter cases by facility location city.","schema":{"type":"string"}},{"name":"p_fac_zip","in":"query","description":"Case Facility ZIP Code Limiter.  Enter a single 5-digit zip code to filter cases by facility location zip code.","schema":{"type":"string"}},{"name":"p_fac_county","in":"query","description":"Case Facility County Limiter.  Enter a single complete county name to filter cases by facility location county name.","schema":{"type":"string"}},{"name":"p_case_summary","in":"query","description":"Case Summary Search Limiter.  Enter a single case summary to limit results.  This parameter accepts partial codes and allows for advanced search modifiers.","schema":{"type":"string"}},{"name":"p_case_summary_type","in":"query","description":"Identifies how the the search terms enterened in p_case_summary are searched.  Valid values are ALL (Default), WITHIN, and CONTAINS.  Must be used with p_case_summary.","schema":{"type":"string","enum":["ALL","CONTAINS","WITHIN"]}},{"name":"p_usmex","in":"query","description":"US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_c1lat","in":"query","description":"In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}},{"name":"p_c1lon","in":"query","description":"In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}},{"name":"p_c2lat","in":"query","description":"In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}},{"name":"p_c2lon","in":"query","description":"In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}},{"name":"p_voluntary","in":"query","description":"Voluntary Self Disclosure Flag.  Enter Y or N to include or exclude cases results having voluntary disclosure.","schema":{"type":"string"}},{"name":"p_fed_indicator","in":"query","description":"Federal Facility/Cross Media Flag.  Enter Y or N to limit results to cases with federal facility cross media.","schema":{"type":"string"}},{"name":"p_fntype","in":"query","description":"Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = ","schema":{"type":"string","enum":["ALL","CONTAINS","EXACT","BEGINS"]}},{"name":"p_civil_criminal_indicator","in":"query","description":"Civil/Criminal Case Limiter.  Provide a keyword to limit results.\n- ANY = return both civil and criminal cases.\n- CI = return only civil cases.\n- CR = return only criminal cases.","schema":{"type":"string","enum":["CI","CR","ALL"]}},{"name":"queryset","in":"query","description":"Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.","schema":{"type":"number"}},{"name":"responseset","in":"query","description":"Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.","schema":{"type":"number"}},{"name":"mapset","in":"query","description":"Identifies the maxium number of case facilities to return from the case_rest_services.get_case_info query.","schema":{"type":"string","default":"1400"}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}},{"name":"qcolumns","in":"query","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.","schema":{"type":"string"}},{"name":"p_pretty_print","in":"query","description":"Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost.","schema":{"type":"number"}},{"name":"p_ocmap_fy","in":"query","description":"Fiscal Year to select cases that are displayed in the Office of Complicance Fiscal Year Map Services","schema":{"type":"string"}},{"name":"p_qs","in":"query","description":"Quick Search. Allows entry for city, state, and/or zip code.","schema":{"type":"string"}},{"name":"p_has_map","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns an array of cases that meet the selection criteria.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_case_info.Results"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_case_info.Results"}},"description":"Root Object"}}}}}},"post":{"tags":["Case Enforcement"],"summary":"Enforcement Case Search (new version)","description":"The get_case_info service end point searches for civil enforcement and criminal cases based on the provided selection criteria and returns either individual cases or clusters of case facility locations.","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"output":{"type":"string","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","enum":["JSONP","JSON","XML"]},"p_case_category":{"type":"string","description":"Case Category Filter.  Enter one or more case category codes to filter results.   Provide multiple values as a comma-delimited list.\n- AFR = Administrative - Formal\n- AIF = Administrative - Informal\n- JDC = Judicial"},"p_case_status":{"type":"string","description":"Case Status Code Filter.  Enter one or more case status codes to limit results.  Provide multiple values as a comma-delimited list."},"p_milestone":{"type":"string","description":"Administrative or Judicial Milestone Filter.  Enter one or milestone values to restrict results.  Provide multiple values as a comma-delimited list."},"p_from_date":{"type":"string","description":"Administrative or Judicial Milestone Date Range Start Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_to_date must also be populated when using this parameter option."},"p_to_date":{"type":"string","description":"Administrative or Judicial Milestone Date Range End Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_from_date must also be populated when using this parameter option."},"p_milestone_fy":{"type":"string","description":"Administrative or Judicial Milestone Fiscal Year Limiter.  Enter a single fiscal year value to limit milestone searches to a given fiscal year."},"p_name":{"type":"string","description":"Case Name Filter.  Enter one or more case names to restrict results.  Provide multiple values as a comma-delimited list.  When using this parameter the p_name_type parameter is required."},"p_name_type":{"type":"string","description":"Case Name Filter Modifier."},"p_case_number":{"type":"string","description":"Case Number Filter.  Enter one or more case numbers to restrict results.  Provide multiple values as a comma-delimited list."},"p_docket_number":{"type":"string","description":"DOJ Docket Number Filter.  Enter a single docket number or partial docket number to restrict results.  Use \"%\" as a wildcard for more complex filtering."},"p_court_docket_number":{"type":"string"},"p_activity_number":{"type":"string","description":"Case Activity Number Filter.  Enter a single case activity number to filter results."},"p_case_lead":{"type":"string","description":"Case Lead Limiter.  Enter E or S to limit results.\n- E = EPA is the case lead.\n- S = The state is the case lead.","enum":["E","S"]},"p_case_sens_flg":{"type":"string","description":"Case Sensitive Data Flag.  Enter a Y or N to include or exclude cases with sensitive data."},"p_region":{"type":"string","description":"EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.","enum":["01","02","03","04","05","06","07","08","09","10"]},"p_state":{"type":"string","description":"Case Location State Filter.  Enter one or more state USPS postal codes to filter results.  Provide multiple values as a comma-delimited list."},"p_district":{"type":"string","description":"Case Location Court District Limiter.  Enter a single state court district code to limit results."},"p_sic":{"type":"string","description":"Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results."},"p_sic_ao_naics":{"type":"string","description":"Case Location SIC/NAICS And/Or Modifier.  Enter either AND or OR to govern the search logic of SIC and NAICS codes.\n- AND = Search will return results having both the provided SIC code(s) and provided NAICS code(s).\n- OR = Search will return results having either the provided SIC code(s) or the provided NAICS code(s).","enum":["AND","OR"]},"p_sic_primary_flg":{"type":"string","description":"Case Location Primary SIC Flag.  Enter Y to limit SIC search results to primary SIC codes only.","enum":["Y","N"]},"p_sic_frs_flg":{"type":"string","description":"Case Location Extended FRS SIC Search Flag.  Enter Y to expand SIC search to include Federal Registry Service datasets.","enum":["Y","N"]},"p_naics":{"type":"string","description":"North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values."},"p_naics_primary_flg":{"type":"string","description":"Case Location Primary NAICS Flag.  Enter Y to limit NAICS search results to primary NAICS codes only.","enum":["Y","N"]},"p_naics_frs_flg":{"type":"string","description":"Case Location Extended FRS NAICS Search Flag.  Enter Y to expand NAICS search to include Federal Registry Service datasets.","enum":["Y","N"]},"p_enf_type":{"type":"string","description":"Case Enforcement Type Filter. Enter one or more case enforcement type codes to limit results.  Provide multiple values as a comma-delimited list."},"p_law":{"type":"string","description":"Law Statute Code Filter.  Enter a single statute code to limit results."},"p_section":{"type":"string","description":"Law Section Code Filter. Enter one or more law section codes to limit results.  Provide multiple values as a comma-delimited list."},"p_cp_citation":{"type":"string","description":"Law Section Code Filter Alternative. Enter a single law section code to limit results.  This parameter accepts partial codes and allows for advanced search modifiers."},"p_rank_order":{"type":"string","description":"Law Status Rank Order Limiter.  Enter a single integer rank order to limit results.","enum":["1","0"]},"p_enf_program":{"type":"string","description":"Enforcement Program Code Limiter.  Enter one or more enforcement program codes to limit results.  Provide multiple values as a comma-delimited list.  "},"p_violation":{"type":"string","description":"Violation Type Code Filter.  Enter one or more violation type codes to limit results.  Provide multiple values as a comma-delimited list."},"p_priority_area":{"type":"string","description":"Case Priority Area Filter.  Enter one or more case priority areas to limit results.  Provide multiple values as a comma-delimited list."},"p_priority_area_desc":{"type":"string","description":"Case Priority Area Description Filter.  Enter a single case priority area description or partial case priority area description to limit results.  Use \"%\" as a wild-card match for more complex searches."},"p_tribal":{"type":"string","description":"Case Location Tribal Land Flag.  Enter Y or N to include or disallow cases on tribal land.","enum":["Y","N"]},"p_oeca_core":{"type":"string","description":"OECA Core Program Flag.  Enter Y or N to include or exclude core program cases.","enum":["Y","N"]},"p_multimedia":{"type":"string","description":"Enforcement Multimedia Case Flag.  Enter Y or N to include or exclude multimedia cases.","enum":["Y","N"]},"p_fed_case":{"type":"string","description":"Federal Facility Involvement Flag.  Enter a Y or N to include or exclude cases involving federal facilities.","enum":["Y","N"]},"p_activity_contact":{"type":"string","description":"Activity Contact Last Name Filter.  Enter a single last name or partial last name to filter results.  Use \"%\" as a wild-card for advanced searching."},"p_role":{"type":"string","description":"Activity Contact Role Code Filter.  Enter a single role code to restrict results."},"p_fed_penalty":{"type":"string","description":"Federal Penalty Assessed Amount Filter.  Provide one of the following keywords to restrict results.\n- ANY = cases with any penalty amount.\n- LE5000 = cases with penalty amount less than or equal to $5,000.\n- GT5000 = cases with penalty amount more than $5,000.\n- GT50000 = cases with penalty amount more than $50,000.\n- GT100000 = cases with penalty amount more than $100,000.\n- GT500000 = cases with penalty amount more than $500,000.\n- GT1000000 = cases with penalty amount more than $1,000,000.\n- GT2500000 = cases with penalty amount more than $2,500,000.","enum":["ANY","LE5000","GT5000","GT50000","GT100000","GT500000","GT1000000","GT2500000"]},"p_total_fed_penalty":{"type":"string","description":"Total Federal Penalty Limiter.  Enter a keyword value to limit results to cases with given total federal penalties.\n- ANY = Cases with any federal penalty greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with federal penalty less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with federal penalty greater than the given amount."},"p_cost_recovery":{"type":"string","description":"Cost Recovery Awarded Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.\n- ANY = Cases with any cost recovery amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount."},"p_total_cost_recovery":{"type":"string","description":"Total Cost Recovery Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.\n- ANY = Cases with any cost recovery amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount."},"p_complying_actions":{"type":"string","description":"Complying Actions Type Code Limiter.  Enter one or more complying action codes to restrict results.  Provide multiple values as a comma-delimited list."},"p_comp_act_val":{"type":"string","description":"Compliance Action Cost Limiter. Enter a keyword value to limit results to cases with given compliance cost amounts.\n- ANY = Cases with any compliance cost amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with compliance cost amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with compliance cost amount greater than the given amount.","enum":["ANY","LE5000","GT5000","GT100000","GT1000000","GT50000000"]},"p_total_comp_act_val":{"type":"string","description":"Total Compliance Action Amount Limiter.  Enter a keyword value to limit results to cases with given total compliance action amounts.\n- ANY = Cases with any total compliance action amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with total compliance action amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with total compliance action amount greater than the given amount."},"p_sep_cats":{"type":"string","description":"Supplemental Environmental Projects Activity Category Code Limiter.  Provide one or more SEP activity category codes to limit results.  Provide multiple values as a comma-delimited list."},"p_sep_val":{"type":"string","description":"Supplemental Environmental Projects Activity Value Limiter.  Provide a keyword to limit results.\n- ANY = return cases with any SEP activity amount.\n- LE10000 = return cases with SEP activity amount less than or equal to $10,000.\n- GT10000 = return cases with SEP activity amount greater than $10,000.\n- GT50000 = return cases with SEP activity amount greater than $50,000.\n- GT100000 = return cases with SEP activity amount greater than $100,000.\n- GT500000 = return cases with SEP activity amount greater than $500,000.\n- GT1000000 = return cases with SEP activity amount greater than $1,000,000.","enum":["ANY","LE10000","GT10000","GT50000","GT100000","GT500000","GT1000000"]},"p_total_sep_val":{"type":"string","description":"Supplemental Environmental Projects Total Value Limiter.  Provide a keyword to limit results.\n- ANY = return cases with any SEP total amount.\n- LE10000 = return cases with SEP total amount less than or equal to $10,000.\n- GT10000 = return cases with SEP total amount greater than $10,000.\n- GT50000 = return cases with SEP total amount greater than $50,000.\n- GT100000 = return cases with SEP total amount greater than $100,000.\n- GT500000 = return cases with SEP total amount greater than $500,000.\n- GT1000000 = return cases with SEP total amount greater than $1,000,000."},"p_lodged_date":{"type":"string","description":"Settlement Lodged Date Limiter.  Enter a single settlement lodged date in MM/DD/YYYY format to limit results."},"p_entered_date":{"type":"string","description":"Settlement Entered Date Limiter.  Enter a single settlement entered date in MM/DD/YYYY format to limit results."},"p_facility_id":{"type":"string","description":"Case Facility Registration Identifier Limiter.  Enter a single complete facility identifier to limit results."},"p_fac_city":{"type":"string","description":"Case Facility City Limiter.  Enter a single complete city name to filter cases by facility location city."},"p_fac_zip":{"type":"string","description":"Case Facility ZIP Code Limiter.  Enter a single 5-digit zip code to filter cases by facility location zip code."},"p_fac_county":{"type":"string","description":"Case Facility County Limiter.  Enter a single complete county name to filter cases by facility location county name."},"p_case_summary":{"type":"string","description":"Case Summary Search Limiter.  Enter a single case summary to limit results.  This parameter accepts partial codes and allows for advanced search modifiers."},"p_case_summary_type":{"type":"string","description":"Identifies how the the search terms enterened in p_case_summary are searched.  Valid values are ALL (Default), WITHIN, and CONTAINS.  Must be used with p_case_summary.","enum":["ALL","CONTAINS","WITHIN"]},"p_usmex":{"type":"string","description":"US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.","enum":["Y","N"]},"p_c1lat":{"type":"number","description":"In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"p_c1lon":{"type":"number","description":"In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"p_c2lat":{"type":"number","description":"In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"p_c2lon":{"type":"number","description":"In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"p_voluntary":{"type":"string","description":"Voluntary Self Disclosure Flag.  Enter Y or N to include or exclude cases results having voluntary disclosure."},"p_fed_indicator":{"type":"string","description":"Federal Facility/Cross Media Flag.  Enter Y or N to limit results to cases with federal facility cross media."},"p_fntype":{"type":"string","description":"Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = ","enum":["ALL","CONTAINS","EXACT","BEGINS"]},"p_civil_criminal_indicator":{"type":"string","description":"Civil/Criminal Case Limiter.  Provide a keyword to limit results.\n- ANY = return both civil and criminal cases.\n- CI = return only civil cases.\n- CR = return only criminal cases.","enum":["CI","CR","ALL"]},"queryset":{"type":"number","description":"Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000."},"responseset":{"type":"number","description":"Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000."},"mapset":{"type":"string","description":"Identifies the maxium number of case facilities to return from the case_rest_services.get_case_info query.","default":"1400"},"callback":{"type":"string","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."},"qcolumns":{"type":"string","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."},"p_pretty_print":{"type":"number","description":"Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost."},"p_ocmap_fy":{"type":"string","description":"Fiscal Year to select cases that are displayed in the Office of Complicance Fiscal Year Map Services"},"p_qs":{"type":"string","description":"Quick Search. Allows entry for city, state, and/or zip code."},"p_has_map":{"type":"string"}}}}}},"responses":{"200":{"description":"Returns an array of cases that meet the selection criteria.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_case_info.Results"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_case_info.Results"}},"description":"Root Object"}}}}}}},"/case_rest_services.get_case_report":{"get":{"tags":["Case Enforcement"],"summary":"Enforcement Case Summary Report Search","description":"The get_case_report service endpoint returns a complex object of civil enforcement case details based on the provided case id.","parameters":[{"name":"p_id","in":"query","description":"Case Number. Enter the case number identifier to retrieve the case report.","schema":{"type":"string"}},{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns a complex object containing detailed case information for the provided Case Identifier.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs1_Results"}},"description":"Service call container."}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs1_Results"}},"description":"Service call container."}}}}}},"post":{"tags":["Case Enforcement"],"summary":"Enforcement Case Summary Report Search","description":"The get_case_report service endpoint returns a complex object of civil enforcement case details based on the provided case id.","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"p_id":{"type":"string","description":"Case Number. Enter the case number identifier to retrieve the case report."},"output":{"type":"string","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","enum":["JSONP","JSON","XML"]},"callback":{"type":"string","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."}}}}}},"responses":{"200":{"description":"Returns a complex object containing detailed case information for the provided Case Identifier.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs1_Results"}},"description":"Service call container."}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs1_Results"}},"description":"Service call container."}}}}}}},"/case_rest_services.get_cases":{"get":{"tags":["Case Enforcement"],"summary":"Enforcement Case Search","description":"The get_cases service end point searches for civil enforcement and criminal cases based on the provided selection criteria.","parameters":[{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"p_case_category","in":"query","description":"Case Category Filter.  Enter one or more case category codes to filter results.   Provide multiple values as a comma-delimited list.\n- AFR = Administrative - Formal\n- AIF = Administrative - Informal\n- JDC = Judicial","schema":{"type":"string"}},{"name":"p_case_status","in":"query","description":"Case Status Code Filter.  Enter one or more case status codes to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_violation","in":"query","description":"Violation Type Code Filter.  Enter one or more violation type codes to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_milestone","in":"query","description":"Administrative or Judicial Milestone Filter.  Enter one or milestone values to restrict results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_from_date","in":"query","description":"Administrative or Judicial Milestone Date Range Start Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_to_date must also be populated when using this parameter option.","schema":{"type":"string"}},{"name":"p_to_date","in":"query","description":"Administrative or Judicial Milestone Date Range End Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_from_date must also be populated when using this parameter option.","schema":{"type":"string"}},{"name":"p_milestone_fy","in":"query","description":"Administrative or Judicial Milestone Fiscal Year Limiter.  Enter a single fiscal year value to limit milestone searches to a given fiscal year.","schema":{"type":"string"}},{"name":"p_name","in":"query","description":"Case Name Filter.  Enter one or more case names to restrict results.  Provide multiple values as a comma-delimited list.  When using this parameter the p_name_type parameter is required.","schema":{"type":"string"}},{"name":"p_name_type","in":"query","description":"Case Name Filter Modifier.","schema":{"type":"string"}},{"name":"p_case_number","in":"query","description":"Case Number Filter.  Enter one or more case numbers to restrict results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_docket_number","in":"query","description":"DOJ Docket Number Filter.  Enter a single docket number or partial docket number to restrict results.  Use \"%\" as a wildcard for more complex filtering.","schema":{"type":"string"}},{"name":"p_court_docket_number","in":"query","schema":{"type":"string"}},{"name":"p_activity_number","in":"query","description":"Case Activity Number Filter.  Enter a single case activity number to filter results.","schema":{"type":"string"}},{"name":"p_case_lead","in":"query","description":"Case Lead Limiter.  Enter E or S to limit results.\n- E = EPA is the case lead.\n- S = The state is the case lead.","schema":{"type":"string","enum":["E","S"]}},{"name":"p_case_sens_flg","in":"query","description":"Case Sensitive Data Flag.  Enter a Y or N to include or exclude cases with sensitive data.","schema":{"type":"string"}},{"name":"p_region","in":"query","description":"EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.","schema":{"type":"string","enum":["01","02","03","04","05","06","07","08","09","10"]}},{"name":"p_state","in":"query","description":"Case Location State Filter.  Enter one or more state USPS postal codes to filter results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_district","in":"query","description":"Case Location Court District Limiter.  Enter a single state court district code to limit results.","schema":{"type":"string"}},{"name":"p_sic","in":"query","description":"Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.","schema":{"type":"string"}},{"name":"p_sic_ao_naics","in":"query","description":"Case Location SIC/NAICS And/Or Modifier.  Enter either AND or OR to govern the search logic of SIC and NAICS codes.\n- AND = Search will return results having both the provided SIC code(s) and provided NAICS code(s).\n- OR = Search will return results having either the provided SIC code(s) or the provided NAICS code(s).","schema":{"type":"string","enum":["AND","OR"]}},{"name":"p_sic_primary_flg","in":"query","description":"Case Location Primary SIC Flag.  Enter Y to limit SIC search results to primary SIC codes only.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_sic_frs_flg","in":"query","description":"Case Location Extended FRS SIC Search Flag.  Enter Y to expand SIC search to include Federal Registry Service datasets.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_naics","in":"query","description":"North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.","schema":{"type":"string"}},{"name":"p_naics_primary_flg","in":"query","description":"Case Location Primary NAICS Flag.  Enter Y to limit NAICS search results to primary NAICS codes only.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_naics_frs_flg","in":"query","description":"Case Location Extended FRS NAICS Search Flag.  Enter Y to expand NAICS search to include Federal Registry Service datasets.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_enf_type","in":"query","description":"Case Enforcement Type Filter. Enter one or more case enforcement type codes to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_law","in":"query","description":"Law Statute Code Filter.  Enter a single statute code to limit results.","schema":{"type":"string"}},{"name":"p_section","in":"query","description":"Law Section Code Filter. Enter one or more law section codes to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_cp_citation","in":"query","description":"Law Section Code Filter Alternative. Enter a single law section code to limit results.  This parameter accepts partial codes and allows for advanced search modifiers.","schema":{"type":"string"}},{"name":"p_rank_order","in":"query","description":"Law Status Rank Order Limiter.  Enter a single integer rank order to limit results.","schema":{"type":"string","enum":["1","0"]}},{"name":"p_enf_program","in":"query","description":"Enforcement Program Code Limiter.  Enter one or more enforcement program codes to limit results.  Provide multiple values as a comma-delimited list.  ","schema":{"type":"string"}},{"name":"p_priority_area","in":"query","description":"Case Priority Area Filter.  Enter one or more case priority areas to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_priority_area_desc","in":"query","description":"Case Priority Area Description Filter.  Enter a single case priority area description or partial case priority area description to limit results.  Use \"%\" as a wild-card match for more complex searches.","schema":{"type":"string"}},{"name":"p_tribal","in":"query","description":"Case Location Tribal Land Flag.  Enter Y or N to include or disallow cases on tribal land.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_oeca_core","in":"query","description":"OECA Core Program Flag.  Enter Y or N to include or exclude core program cases.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_multimedia","in":"query","description":"Enforcement Multimedia Case Flag.  Enter Y or N to include or exclude multimedia cases.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_fed_case","in":"query","description":"Federal Facility Involvement Flag.  Enter a Y or N to include or exclude cases involving federal facilities.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_activity_contact","in":"query","description":"Activity Contact Last Name Filter.  Enter a single last name or partial last name to filter results.  Use \"%\" as a wild-card for advanced searching.","schema":{"type":"string"}},{"name":"p_role","in":"query","description":"Activity Contact Role Code Filter.  Enter a single role code to restrict results.","schema":{"type":"string"}},{"name":"p_fed_penalty","in":"query","description":"Federal Penalty Assessed Amount Filter.  Provide one of the following keywords to restrict results.\n- ANY = cases with any penalty amount.\n- LE5000 = cases with penalty amount less than or equal to $5,000.\n- GT5000 = cases with penalty amount more than $5,000.\n- GT50000 = cases with penalty amount more than $50,000.\n- GT100000 = cases with penalty amount more than $100,000.\n- GT500000 = cases with penalty amount more than $500,000.\n- GT1000000 = cases with penalty amount more than $1,000,000.\n- GT2500000 = cases with penalty amount more than $2,500,000.","schema":{"type":"string","enum":["ANY","LE5000","GT5000","GT50000","GT100000","GT500000","GT1000000","GT2500000"]}},{"name":"p_total_fed_penalty","in":"query","description":"Total Federal Penalty Limiter.  Enter a keyword value to limit results to cases with given total federal penalties.\n- ANY = Cases with any federal penalty greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with federal penalty less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with federal penalty greater than the given amount.","schema":{"type":"string"}},{"name":"p_cost_recovery","in":"query","description":"Cost Recovery Awarded Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.\n- ANY = Cases with any cost recovery amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount.","schema":{"type":"string"}},{"name":"p_total_cost_recovery","in":"query","description":"Total Cost Recovery Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.\n- ANY = Cases with any cost recovery amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount.","schema":{"type":"string"}},{"name":"p_complying_actions","in":"query","description":"Complying Actions Type Code Limiter.  Enter one or more complying action codes to restrict results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_comp_act_val","in":"query","description":"Compliance Action Cost Limiter. Enter a keyword value to limit results to cases with given compliance cost amounts.\n- ANY = Cases with any compliance cost amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with compliance cost amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with compliance cost amount greater than the given amount.","schema":{"type":"string","enum":["ANY","LE5000","GT5000","GT100000","GT1000000","GT50000000"]}},{"name":"p_total_comp_act_val","in":"query","description":"Total Compliance Action Amount Limiter.  Enter a keyword value to limit results to cases with given total compliance action amounts.\n- ANY = Cases with any total compliance action amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with total compliance action amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with total compliance action amount greater than the given amount.","schema":{"type":"string"}},{"name":"p_sep_cats","in":"query","description":"Supplemental Environmental Projects Activity Category Code Limiter.  Provide one or more SEP activity category codes to limit results.  Provide multiple values as a comma-delimited list.","schema":{"type":"string"}},{"name":"p_sep_val","in":"query","description":"Supplemental Environmental Projects Activity Value Limiter.  Provide a keyword to limit results.\n- ANY = return cases with any SEP activity amount.\n- LE10000 = return cases with SEP activity amount less than or equal to $10,000.\n- GT10000 = return cases with SEP activity amount greater than $10,000.\n- GT50000 = return cases with SEP activity amount greater than $50,000.\n- GT100000 = return cases with SEP activity amount greater than $100,000.\n- GT500000 = return cases with SEP activity amount greater than $500,000.\n- GT1000000 = return cases with SEP activity amount greater than $1,000,000.","schema":{"type":"string","enum":["ANY","LE10000","GT10000","GT50000","GT100000","GT500000","GT1000000"]}},{"name":"p_total_sep_val","in":"query","description":"Supplemental Environmental Projects Total Value Limiter.  Provide a keyword to limit results.\n- ANY = return cases with any SEP total amount.\n- LE10000 = return cases with SEP total amount less than or equal to $10,000.\n- GT10000 = return cases with SEP total amount greater than $10,000.\n- GT50000 = return cases with SEP total amount greater than $50,000.\n- GT100000 = return cases with SEP total amount greater than $100,000.\n- GT500000 = return cases with SEP total amount greater than $500,000.\n- GT1000000 = return cases with SEP total amount greater than $1,000,000.","schema":{"type":"string"}},{"name":"p_lodged_date","in":"query","description":"Settlement Lodged Date Limiter.  Enter a single settlement lodged date in MM/DD/YYYY format to limit results.","schema":{"type":"string"}},{"name":"p_entered_date","in":"query","description":"Settlement Entered Date Limiter.  Enter a single settlement entered date in MM/DD/YYYY format to limit results.","schema":{"type":"string"}},{"name":"p_facility_id","in":"query","description":"Case Facility Registration Identifier Limiter.  Enter a single complete facility identifier to limit results.","schema":{"type":"string"}},{"name":"p_fac_city","in":"query","description":"Case Facility City Limiter.  Enter a single complete city name to filter cases by facility location city.","schema":{"type":"string"}},{"name":"p_fac_zip","in":"query","description":"Case Facility ZIP Code Limiter.  Enter a single 5-digit zip code to filter cases by facility location zip code.","schema":{"type":"string"}},{"name":"p_fac_county","in":"query","description":"Case Facility County Limiter.  Enter a single complete county name to filter cases by facility location county name.","schema":{"type":"string"}},{"name":"p_case_summary","in":"query","description":"Case Summary Search Limiter.  Enter a single case summary to limit results.  This parameter accepts partial codes and allows for advanced search modifiers.","schema":{"type":"string"}},{"name":"p_case_summary_type","in":"query","description":"Identifies how the the search terms enterened in p_case_summary are searched.  Valid values are ALL (Default), WITHIN, and CONTAINS.  Must be used with p_case_summary.","schema":{"type":"string","enum":["ALL","CONTAINS","WITHIN"]}},{"name":"p_usmex","in":"query","description":"US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.","schema":{"type":"string","enum":["Y","N"]}},{"name":"p_c1lat","in":"query","description":"In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}},{"name":"p_c1lon","in":"query","description":"In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}},{"name":"p_c2lat","in":"query","description":"In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}},{"name":"p_c2lon","in":"query","description":"In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}},{"name":"p_voluntary","in":"query","description":"Voluntary Self Disclosure Flag.  Enter Y or N to include or exclude cases results having voluntary disclosure.","schema":{"type":"string"}},{"name":"p_fed_indicator","in":"query","description":"Federal Facility/Cross Media Flag.  Enter Y or N to limit results to cases with federal facility cross media.","schema":{"type":"string"}},{"name":"p_fntype","in":"query","description":"Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = ","schema":{"type":"string","enum":["ALL","CONTAINS","EXACT","BEGINS"]}},{"name":"p_civil_criminal_indicator","in":"query","description":"Civil/Criminal Case Limiter.  Provide a keyword to limit results.\n- ANY = return both civil and criminal cases.\n- CI = return only civil cases.\n- CR = return only criminal cases.","schema":{"type":"string","enum":["CI","CR","ALL"]}},{"name":"queryset","in":"query","description":"Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.","schema":{"type":"number"}},{"name":"responseset","in":"query","description":"Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.","schema":{"type":"number"}},{"name":"maplist","in":"query","description":"Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).","schema":{"type":"string","enum":["Y","N"]}},{"name":"tablelist","in":"query","description":"Table List Flag. Enter a Y to display the first page of facility results.","schema":{"type":"string","enum":["Y","N"]}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}},{"name":"qcolumns","in":"query","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.","schema":{"type":"string"}},{"name":"p_ocmap_fy","in":"query","description":"Fiscal Year to select cases that are displayed in the Office of Complicance Fiscal Year Map Services","schema":{"type":"string"}},{"name":"p_qs","in":"query","description":"Quick Search. Allows entry for city, state, and/or zip code.","schema":{"type":"string"}},{"name":"p_has_map","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns an array of cases that meet the selection criteria.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs2_Results"}},"description":"Service call container."}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs2_Results"}},"description":"Service call container."}}}}}},"post":{"tags":["Case Enforcement"],"summary":"Enforcement Case Search","description":"The get_cases service end point searches for civil enforcement and criminal cases based on the provided selection criteria.","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"output":{"type":"string","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","enum":["JSONP","JSON","XML"]},"p_case_category":{"type":"string","description":"Case Category Filter.  Enter one or more case category codes to filter results.   Provide multiple values as a comma-delimited list.\n- AFR = Administrative - Formal\n- AIF = Administrative - Informal\n- JDC = Judicial"},"p_case_status":{"type":"string","description":"Case Status Code Filter.  Enter one or more case status codes to limit results.  Provide multiple values as a comma-delimited list."},"p_milestone":{"type":"string","description":"Administrative or Judicial Milestone Filter.  Enter one or milestone values to restrict results.  Provide multiple values as a comma-delimited list."},"p_from_date":{"type":"string","description":"Administrative or Judicial Milestone Date Range Start Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_to_date must also be populated when using this parameter option."},"p_to_date":{"type":"string","description":"Administrative or Judicial Milestone Date Range End Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_from_date must also be populated when using this parameter option."},"p_milestone_fy":{"type":"string","description":"Administrative or Judicial Milestone Fiscal Year Limiter.  Enter a single fiscal year value to limit milestone searches to a given fiscal year."},"p_name":{"type":"string","description":"Case Name Filter.  Enter one or more case names to restrict results.  Provide multiple values as a comma-delimited list.  When using this parameter the p_name_type parameter is required."},"p_name_type":{"type":"string","description":"Case Name Filter Modifier."},"p_case_number":{"type":"string","description":"Case Number Filter.  Enter one or more case numbers to restrict results.  Provide multiple values as a comma-delimited list."},"p_docket_number":{"type":"string","description":"DOJ Docket Number Filter.  Enter a single docket number or partial docket number to restrict results.  Use \"%\" as a wildcard for more complex filtering."},"p_court_docket_number":{"type":"string"},"p_activity_number":{"type":"string","description":"Case Activity Number Filter.  Enter a single case activity number to filter results."},"p_case_lead":{"type":"string","description":"Case Lead Limiter.  Enter E or S to limit results.\n- E = EPA is the case lead.\n- S = The state is the case lead.","enum":["E","S"]},"p_case_sens_flg":{"type":"string","description":"Case Sensitive Data Flag.  Enter a Y or N to include or exclude cases with sensitive data."},"p_region":{"type":"string","description":"EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.","enum":["01","02","03","04","05","06","07","08","09","10"]},"p_state":{"type":"string","description":"Case Location State Filter.  Enter one or more state USPS postal codes to filter results.  Provide multiple values as a comma-delimited list."},"p_district":{"type":"string","description":"Case Location Court District Limiter.  Enter a single state court district code to limit results."},"p_sic":{"type":"string","description":"Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results."},"p_sic_ao_naics":{"type":"string","description":"Case Location SIC/NAICS And/Or Modifier.  Enter either AND or OR to govern the search logic of SIC and NAICS codes.\n- AND = Search will return results having both the provided SIC code(s) and provided NAICS code(s).\n- OR = Search will return results having either the provided SIC code(s) or the provided NAICS code(s).","enum":["AND","OR"]},"p_sic_primary_flg":{"type":"string","description":"Case Location Primary SIC Flag.  Enter Y to limit SIC search results to primary SIC codes only.","enum":["Y","N"]},"p_sic_frs_flg":{"type":"string","description":"Case Location Extended FRS SIC Search Flag.  Enter Y to expand SIC search to include Federal Registry Service datasets.","enum":["Y","N"]},"p_naics":{"type":"string","description":"North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values."},"p_naics_primary_flg":{"type":"string","description":"Case Location Primary NAICS Flag.  Enter Y to limit NAICS search results to primary NAICS codes only.","enum":["Y","N"]},"p_naics_frs_flg":{"type":"string","description":"Case Location Extended FRS NAICS Search Flag.  Enter Y to expand NAICS search to include Federal Registry Service datasets.","enum":["Y","N"]},"p_enf_type":{"type":"string","description":"Case Enforcement Type Filter. Enter one or more case enforcement type codes to limit results.  Provide multiple values as a comma-delimited list."},"p_law":{"type":"string","description":"Law Statute Code Filter.  Enter a single statute code to limit results."},"p_section":{"type":"string","description":"Law Section Code Filter. Enter one or more law section codes to limit results.  Provide multiple values as a comma-delimited list."},"p_cp_citation":{"type":"string","description":"Law Section Code Filter Alternative. Enter a single law section code to limit results.  This parameter accepts partial codes and allows for advanced search modifiers."},"p_rank_order":{"type":"string","description":"Law Status Rank Order Limiter.  Enter a single integer rank order to limit results.","enum":["1","0"]},"p_enf_program":{"type":"string","description":"Enforcement Program Code Limiter.  Enter one or more enforcement program codes to limit results.  Provide multiple values as a comma-delimited list.  "},"p_violation":{"type":"string","description":"Violation Type Code Filter.  Enter one or more violation type codes to limit results.  Provide multiple values as a comma-delimited list."},"p_priority_area":{"type":"string","description":"Case Priority Area Filter.  Enter one or more case priority areas to limit results.  Provide multiple values as a comma-delimited list."},"p_priority_area_desc":{"type":"string","description":"Case Priority Area Description Filter.  Enter a single case priority area description or partial case priority area description to limit results.  Use \"%\" as a wild-card match for more complex searches."},"p_tribal":{"type":"string","description":"Case Location Tribal Land Flag.  Enter Y or N to include or disallow cases on tribal land.","enum":["Y","N"]},"p_oeca_core":{"type":"string","description":"OECA Core Program Flag.  Enter Y or N to include or exclude core program cases.","enum":["Y","N"]},"p_multimedia":{"type":"string","description":"Enforcement Multimedia Case Flag.  Enter Y or N to include or exclude multimedia cases.","enum":["Y","N"]},"p_fed_case":{"type":"string","description":"Federal Facility Involvement Flag.  Enter a Y or N to include or exclude cases involving federal facilities.","enum":["Y","N"]},"p_activity_contact":{"type":"string","description":"Activity Contact Last Name Filter.  Enter a single last name or partial last name to filter results.  Use \"%\" as a wild-card for advanced searching."},"p_role":{"type":"string","description":"Activity Contact Role Code Filter.  Enter a single role code to restrict results."},"p_fed_penalty":{"type":"string","description":"Federal Penalty Assessed Amount Filter.  Provide one of the following keywords to restrict results.\n- ANY = cases with any penalty amount.\n- LE5000 = cases with penalty amount less than or equal to $5,000.\n- GT5000 = cases with penalty amount more than $5,000.\n- GT50000 = cases with penalty amount more than $50,000.\n- GT100000 = cases with penalty amount more than $100,000.\n- GT500000 = cases with penalty amount more than $500,000.\n- GT1000000 = cases with penalty amount more than $1,000,000.\n- GT2500000 = cases with penalty amount more than $2,500,000.","enum":["ANY","LE5000","GT5000","GT50000","GT100000","GT500000","GT1000000","GT2500000"]},"p_total_fed_penalty":{"type":"string","description":"Total Federal Penalty Limiter.  Enter a keyword value to limit results to cases with given total federal penalties.\n- ANY = Cases with any federal penalty greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with federal penalty less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with federal penalty greater than the given amount."},"p_cost_recovery":{"type":"string","description":"Cost Recovery Awarded Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.\n- ANY = Cases with any cost recovery amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount."},"p_total_cost_recovery":{"type":"string","description":"Total Cost Recovery Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.\n- ANY = Cases with any cost recovery amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount."},"p_complying_actions":{"type":"string","description":"Complying Actions Type Code Limiter.  Enter one or more complying action codes to restrict results.  Provide multiple values as a comma-delimited list."},"p_comp_act_val":{"type":"string","description":"Compliance Action Cost Limiter. Enter a keyword value to limit results to cases with given compliance cost amounts.\n- ANY = Cases with any compliance cost amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with compliance cost amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with compliance cost amount greater than the given amount.","enum":["ANY","LE5000","GT5000","GT100000","GT1000000","GT50000000"]},"p_total_comp_act_val":{"type":"string","description":"Total Compliance Action Amount Limiter.  Enter a keyword value to limit results to cases with given total compliance action amounts.\n- ANY = Cases with any total compliance action amount greater than zero.\n- LEXX = Replacing XX with a dollar value, return cases with total compliance action amount less than or equal to the given amount.\n- GTXX = Replacing XX with a dollar value, return cases with total compliance action amount greater than the given amount."},"p_sep_cats":{"type":"string","description":"Supplemental Environmental Projects Activity Category Code Limiter.  Provide one or more SEP activity category codes to limit results.  Provide multiple values as a comma-delimited list."},"p_sep_val":{"type":"string","description":"Supplemental Environmental Projects Activity Value Limiter.  Provide a keyword to limit results.\n- ANY = return cases with any SEP activity amount.\n- LE10000 = return cases with SEP activity amount less than or equal to $10,000.\n- GT10000 = return cases with SEP activity amount greater than $10,000.\n- GT50000 = return cases with SEP activity amount greater than $50,000.\n- GT100000 = return cases with SEP activity amount greater than $100,000.\n- GT500000 = return cases with SEP activity amount greater than $500,000.\n- GT1000000 = return cases with SEP activity amount greater than $1,000,000.","enum":["ANY","LE10000","GT10000","GT50000","GT100000","GT500000","GT1000000"]},"p_total_sep_val":{"type":"string","description":"Supplemental Environmental Projects Total Value Limiter.  Provide a keyword to limit results.\n- ANY = return cases with any SEP total amount.\n- LE10000 = return cases with SEP total amount less than or equal to $10,000.\n- GT10000 = return cases with SEP total amount greater than $10,000.\n- GT50000 = return cases with SEP total amount greater than $50,000.\n- GT100000 = return cases with SEP total amount greater than $100,000.\n- GT500000 = return cases with SEP total amount greater than $500,000.\n- GT1000000 = return cases with SEP total amount greater than $1,000,000."},"p_lodged_date":{"type":"string","description":"Settlement Lodged Date Limiter.  Enter a single settlement lodged date in MM/DD/YYYY format to limit results."},"p_entered_date":{"type":"string","description":"Settlement Entered Date Limiter.  Enter a single settlement entered date in MM/DD/YYYY format to limit results."},"p_facility_id":{"type":"string","description":"Case Facility Registration Identifier Limiter.  Enter a single complete facility identifier to limit results."},"p_fac_city":{"type":"string","description":"Case Facility City Limiter.  Enter a single complete city name to filter cases by facility location city."},"p_fac_zip":{"type":"string","description":"Case Facility ZIP Code Limiter.  Enter a single 5-digit zip code to filter cases by facility location zip code."},"p_fac_county":{"type":"string","description":"Case Facility County Limiter.  Enter a single complete county name to filter cases by facility location county name."},"p_case_summary":{"type":"string","description":"Case Summary Search Limiter.  Enter a single case summary to limit results.  This parameter accepts partial codes and allows for advanced search modifiers."},"p_case_summary_type":{"type":"string","description":"Identifies how the the search terms enterened in p_case_summary are searched.  Valid values are ALL (Default), WITHIN, and CONTAINS.  Must be used with p_case_summary.","enum":["ALL","CONTAINS","WITHIN"]},"p_usmex":{"type":"string","description":"US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.","enum":["Y","N"]},"p_c1lat":{"type":"number","description":"In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"p_c1lon":{"type":"number","description":"In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"p_c2lat":{"type":"number","description":"In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"p_c2lon":{"type":"number","description":"In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"p_voluntary":{"type":"string","description":"Voluntary Self Disclosure Flag.  Enter Y or N to include or exclude cases results having voluntary disclosure."},"p_fed_indicator":{"type":"string","description":"Federal Facility/Cross Media Flag.  Enter Y or N to limit results to cases with federal facility cross media."},"p_fntype":{"type":"string","description":"Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = ","enum":["ALL","CONTAINS","EXACT","BEGINS"]},"p_civil_criminal_indicator":{"type":"string","description":"Civil/Criminal Case Limiter.  Provide a keyword to limit results.\n- ANY = return both civil and criminal cases.\n- CI = return only civil cases.\n- CR = return only criminal cases.","enum":["CI","CR","ALL"]},"queryset":{"type":"number","description":"Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000."},"responseset":{"type":"number","description":"Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000."},"maplist":{"type":"string","description":"Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).","enum":["Y","N"]},"tablelist":{"type":"string","description":"Table List Flag. Enter a Y to display the first page of facility results.","enum":["Y","N"]},"callback":{"type":"string","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."},"qcolumns":{"type":"string","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."},"p_ocmap_fy":{"type":"string","description":"Fiscal Year to select cases that are displayed in the Office of Complicance Fiscal Year Map Services"},"p_qs":{"type":"string","description":"Quick Search. Allows entry for city, state, and/or zip code."},"p_has_map":{"type":"string"}}}}}},"responses":{"200":{"description":"Returns an array of cases that meet the selection criteria.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs2_Results"}},"description":"Service call container."}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs2_Results"}},"description":"Service call container."}}}}}}},"/case_rest_services.get_cases_from_facility":{"get":{"tags":["Case Enforcement"],"summary":"Placeholder","parameters":[{"name":"p_id","in":"query","description":"Identifier for the service.","required":true,"schema":{"type":"string"}},{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}}],"responses":{"200":{"description":"Results","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_cases_from_facility.Results"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_cases_from_facility.Results"}},"description":"Root Object"}}}}}},"post":{"tags":["Case Enforcement"],"summary":"Placeholder","parameters":[{"name":"p_id","in":"query","description":"Identifier for the service.","required":true,"schema":{"type":"string"}},{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}}],"responses":{"200":{"description":"Results","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_cases_from_facility.Results"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_cases_from_facility.Results"}},"description":"Root Object"}}}}}}},"/case_rest_services.get_crcase_report":{"get":{"tags":["Case Enforcement"],"summary":"Enforcement Criminal Case Summary Report Search","description":"The get_crcase_report service end point returns a complex object of criminal case detials based on the provided criminal case id.","parameters":[{"name":"p_id","in":"query","description":"Prosecution Summary Identifier. Enter the numeric prosecution summary identifier to retrieve the criminal case report.","schema":{"type":"string"}},{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}},{"name":"mapset","in":"query","description":"Identifies the maxium number of case facilities to return from the case_rest_services.get_case_info query.","schema":{"type":"string","default":"1400"}}],"responses":{"200":{"description":"Returns a complex object containing detailed criminal case information for the provided Case Identifier.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs3_Results"}},"description":"Service call container."}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs3_Results"}},"description":"Service call container."}}}}}},"post":{"tags":["Case Enforcement"],"summary":"Enforcement Criminal Case Summary Report Search","description":"The get_crcase_report service end point returns a complex object of criminal case detials based on the provided criminal case id.","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"p_id":{"type":"string","description":"Prosecution Summary Identifier. Enter the numeric prosecution summary identifier to retrieve the criminal case report."},"output":{"type":"string","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","enum":["JSONP","JSON","XML"]},"callback":{"type":"string","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."}}}}}},"responses":{"200":{"description":"Returns a complex object containing detailed criminal case information for the provided Case Identifier.","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs3_Results"}},"description":"Service call container."}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs3_Results"}},"description":"Service call container."}}}}}}},"/case_rest_services.get_download":{"get":{"tags":["Case Enforcement"],"summary":"Enforcement Case Download Data Service","description":"Based on the QID obtained from a get_cases query, return a comma separated value (CSV) file of the cases found.","parameters":[{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- CSV = Facility results formatted as comma delimited file download (default).","schema":{"type":"string"}},{"name":"qid","in":"query","description":"Query ID Selector.  Enter the QueryID number from a previously run query.","required":true,"schema":{"type":"string"}},{"name":"qcolumns","in":"query","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.","schema":{"type":"string"}}],"responses":{"200":{"description":"Results are a comma separated value (CSV) file.","content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/xml":{"schema":{"type":"string","format":"binary"}}}}}},"post":{"tags":["Case Enforcement"],"summary":"Enforcement Case Download Data Service","description":"Based on the QID obtained from a get_cases query, return a comma separated value (CSV) file of the cases found.","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["qid"],"type":"object","properties":{"output":{"type":"string","description":"Output Format Flag.  Enter one of the following keywords:\n- CSV = Facility results formatted as comma delimited file download (default)."},"qid":{"type":"string","description":"Query ID Selector.  Enter the QueryID number from a previously run query."},"qcolumns":{"type":"string","description":"Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."}}}}},"required":true},"responses":{"200":{"description":"Results are a comma separated value (CSV) file.","content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/xml":{"schema":{"type":"string","format":"binary"}}}}}}},"/case_rest_services.get_facilities_from_case":{"get":{"tags":["Case Enforcement"],"summary":"Placeholder","parameters":[{"name":"p_id","in":"query","description":"Identifier for the service.","required":true,"schema":{"type":"string"}},{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}}],"responses":{"200":{"description":"Results","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_facilities_from_case.Results"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_facilities_from_case.Results"}},"description":"Root Object"}}}}}},"post":{"tags":["Case Enforcement"],"summary":"Placeholder","parameters":[{"name":"p_id","in":"query","description":"Identifier for the service.","required":true,"schema":{"type":"string"}},{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}}],"responses":{"200":{"description":"Results","content":{"application/json":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_facilities_from_case.Results"}},"description":"Root Object"}},"application/xml":{"schema":{"required":["Results"],"type":"object","properties":{"Results":{"$ref":"#/components/schemas/crs0_get_facilities_from_case.Results"}},"description":"Root Object"}}}}}}},"/case_rest_services.get_map":{"get":{"tags":["Case Enforcement"],"summary":"Enforcement Case Map Service","description":"The purpose of the GET_MAP service is to display facility coordinates and facility clusters related to a get_cases query. Currently, the maximum number of coordinates returned is 500. GET_MAP performs automatic clustering at the state, county, and zip code levels to maximize the number of coordinates returned.","parameters":[{"name":"output","in":"query","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","schema":{"type":"string","enum":["JSONP","JSON","XML"]}},{"name":"qid","in":"query","description":"Query ID Selector.  Enter the QueryID number from a previously run query.","required":true,"schema":{"type":"string"}},{"name":"callback","in":"query","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.","schema":{"type":"string"}},{"name":"tablelist","in":"query","description":"Table List Flag. Enter a Y to display the first page of facility results.","schema":{"type":"string","enum":["Y","N"]}},{"name":"c1_lat","in":"query","description":"Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}},{"name":"c1_long","in":"query","description":"Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}},{"name":"c2_lat","in":"query","description":"Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}},{"name":"c2_long","in":"query","description":"Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.","schema":{"type":"number"}}],"responses":{"200":{"description":"Results are either an array of State, County, Zip Code facility cluster map coordinates or individual facility coordinates.  Coordinates provided are in WGS84.","content":{"application/json":{"schema":{"required":["MapOutput"],"type":"object","properties":{"MapOutput":{"$ref":"#/components/schemas/crs0_MapOutput"}},"description":"Service call container."}},"application/xml":{"schema":{"required":["MapOutput"],"type":"object","properties":{"MapOutput":{"$ref":"#/components/schemas/crs0_MapOutput"}},"description":"Service call container."}}}}}},"post":{"tags":["Case Enforcement"],"summary":"Enforcement Case Map Service","description":"The purpose of the GET_MAP service is to display facility coordinates and facility clusters related to a get_cases query. Currently, the maximum number of coordinates returned is 500. GET_MAP performs automatic clustering at the state, county, and zip code levels to maximize the number of coordinates returned.","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["qid"],"type":"object","properties":{"output":{"type":"string","description":"Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.","enum":["JSONP","JSON","XML"]},"qid":{"type":"string","description":"Query ID Selector.  Enter the QueryID number from a previously run query."},"callback":{"type":"string","description":"JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."},"tablelist":{"type":"string","description":"Table List Flag. Enter a Y to display the first page of facility results.","enum":["Y","N"]},"c1_lat":{"type":"number","description":"Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"c1_long":{"type":"number","description":"Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"c2_lat":{"type":"number","description":"Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"c2_long":{"type":"number","description":"Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."},"mapset":{"type":"string","description":"Identifies the maxium number of case facilities to return from the case_rest_services.get_case_info query.","default":"1400"}}}}},"required":true},"responses":{"200":{"description":"Results are either an array of State, County, Zip Code facility cluster map coordinates or individual facility coordinates.  Coordinates provided are in WGS84.","content":{"application/json":{"schema":{"required":["MapOutput"],"type":"object","properties":{"MapOutput":{"$ref":"#/components/schemas/crs0_MapOutput"}},"description":"Service call container."}},"application/xml":{"schema":{"required":["MapOutput"],"type":"object","properties":{"MapOutput":{"$ref":"#/components/schemas/crs0_MapOutput"}},"description":"Service call container."}}}}}}},"/case_rest_services.get_qid":{"get":{"tags":["Case Enforcement"],"summary":"Enforcement Case Paginated Results Service","description":"GET_QID is passed with a query ID corresponding to a previously run get_cases query. It then returns a CASES object containing all matching cases. The main purpose of GET_QID is for large querysets that c
[...]
