{"openapi":"3.0.1","info":{"title":"MonitorManagementClient","version":"2015-04-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/microsoft.insights/eventtypes/management/values":{"get":{"tags":["ActivityLogs"],"description":"Provides the list of records from the activity logs.","operationId":"ActivityLogs_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Reduces the set of data collected.<br>This argument is required and it also requires at least the start date/time.<br>The **$filter** argument is very restricted and allows only the following patterns.<br>- *List events for a resource group*: $filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z' and resourceGroupName eq 'resourceGroupName'.<br>- *List events for resource*: $filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z' and resourceUri eq 'resourceURI'.<br>- *List events for a subscription in a time range*: $filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z'.<br>- *List events for a resource provider*: $filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z' and resourceProvider eq 'resourceProviderName'.<br>- *List events for a correlation Id*: $filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z' and correlationId eq 'correlationID'.<br><br>**NOTE**: No other syntax is allowed.","required":true,"schema":{"type":"string"}},{"name":"$select","in":"query","description":"Used to fetch events with only the given properties.<br>The **$select** argument is a comma separated list of property names to be returned. Possible values are: *authorization*, *claims*, *correlationId*, *description*, *eventDataId*, *eventName*, *eventTimestamp*, *httpRequest*, *level*, *operationId*, *operationName*, *properties*, *resourceGroupName*, *resourceProviderName*, *resourceId*, *status*, *submissionTimestamp*, *subStatus*, *subscriptionId*","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request to get a page of events in the activity logs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventDataCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."},"EventData":{"type":"object","properties":{"authorization":{"$ref":"#/components/schemas/SenderAuthorization"},"caller":{"type":"string","description":"the email address of the user who has performed the operation, the UPN claim or SPN claim based on availability.","readOnly":true},"category":{"$ref":"#/components/schemas/LocalizableString"},"claims":{"type":"object","additionalProperties":{"type":"string"},"description":"key value pairs to identify ARM permissions.","readOnly":true},"correlationId":{"type":"string","description":"the correlation Id, usually a GUID in the string format. The correlation Id is shared among the events that belong to the same uber operation.","readOnly":true},"description":{"type":"string","description":"the description of the event.","readOnly":true},"eventDataId":{"type":"string","description":"the event data Id. This is a unique identifier for an event.","readOnly":true},"eventName":{"$ref":"#/components/schemas/LocalizableString"},"eventTimestamp":{"type":"string","description":"the timestamp of when the event was generated by the Azure service processing the request corresponding the event. It in ISO 8601 format.","format":"date-time","readOnly":true},"httpRequest":{"$ref":"#/components/schemas/HttpRequestInfo"},"id":{"type":"string","description":"the Id of this event as required by ARM for RBAC. It contains the EventDataID and a timestamp information.","readOnly":true},"level":{"type":"string","description":"the event level","readOnly":true,"enum":["Critical","Error","Warning","Informational","Verbose"]},"operationId":{"type":"string","description":"It is usually a GUID shared among the events corresponding to single operation. This value should not be confused with EventName.","readOnly":true},"operationName":{"$ref":"#/components/schemas/LocalizableString"},"properties":{"type":"object","additionalProperties":{"type":"string"},"description":"the set of <Key, Value> pairs (usually a Dictionary<String, String>) that includes details about the event.","readOnly":true},"resourceGroupName":{"type":"string","description":"the resource group name of the impacted resource.","readOnly":true},"resourceId":{"type":"string","description":"the resource uri that uniquely identifies the resource that caused this event.","readOnly":true},"resourceProviderName":{"$ref":"#/components/schemas/LocalizableString"},"resourceType":{"$ref":"#/components/schemas/LocalizableString"},"status":{"$ref":"#/components/schemas/LocalizableString"},"subStatus":{"$ref":"#/components/schemas/LocalizableString"},"submissionTimestamp":{"type":"string","description":"the timestamp of when the event became available for querying via this API. It is in ISO 8601 format. This value should not be confused eventTimestamp. As there might be a delay between the occurrence time of the event, and the time that the event is submitted to the Azure logging infrastructure.","format":"date-time","readOnly":true},"subscriptionId":{"type":"string","description":"the Azure subscription Id usually a GUID.","readOnly":true},"tenantId":{"type":"string","description":"the Azure tenant Id","readOnly":true}},"description":"The Azure event log entries are of type EventData"},"EventDataCollection":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Provides the link to retrieve the next set of events."},"value":{"type":"array","description":"this list that includes the Azure audit logs.","items":{"$ref":"#/components/schemas/EventData"}}},"description":"Represents collection of events."},"HttpRequestInfo":{"type":"object","properties":{"clientIpAddress":{"type":"string","description":"the client Ip Address"},"clientRequestId":{"type":"string","description":"the client request id."},"method":{"type":"string","description":"the Http request method."},"uri":{"type":"string","description":"the Uri."}},"description":"The Http request info."},"LocalizableString":{"required":["value"],"type":"object","properties":{"localizedValue":{"type":"string","description":"the locale specific value."},"value":{"type":"string","description":"the invariant value."}},"description":"The localizable string class."},"SenderAuthorization":{"type":"object","properties":{"action":{"type":"string","description":"the permissible actions. For instance: microsoft.support/supporttickets/write"},"role":{"type":"string","description":"the role of the user. For instance: Subscription Admin"},"scope":{"type":"string","description":"the scope."}},"description":"the authorization used by the user who has performed the operation that led to this event. This captures the RBAC properties of the event. These usually include the 'action', 'role' and the 'scope'"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"SelectParameter":{"name":"$select","in":"query","description":"Used to fetch events with only the given properties.<br>The **$select** argument is a comma separated list of property names to be returned. Possible values are: *authorization*, *claims*, *correlationId*, *description*, *eventDataId*, *eventName*, *eventTimestamp*, *httpRequest*, *level*, *operationId*, *operationName*, *properties*, *resourceGroupName*, *resourceProviderName*, *resourceId*, *status*, *submissionTimestamp*, *subStatus*, *subscriptionId*","schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}