{"openapi":"3.0.1","info":{"title":"InfrastructureInsightsManagementClient","description":"Resource provider health operation endpoints and objects.","version":"2016-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths":{"get":{"tags":["ServiceHealths"],"description":"Returns the list of all resource provider health states.","operationId":"ServiceHealths_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Name of the region","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}},{"name":"$filter","in":"query","description":"OData filter parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceHealthList"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceHealth}":{"get":{"tags":["ServiceHealths"],"description":"Returns the requested service health object.","operationId":"ServiceHealths_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Name of the region","required":true,"schema":{"type":"string"}},{"name":"serviceHealth","in":"path","description":"Service Health name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceHealth"}}}}}}}},"components":{"schemas":{"ServiceHealth":{"properties":{"properties":{"$ref":"#/components/schemas/ServiceHealthModel"}},"description":"Holds information about the health of a service.","allOf":[{"properties":{"location":{"type":"string","description":"The Azure Region where the resource lives"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"The resource model definition for a ARM tracked top level resource","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources"}]}]},"ServiceHealthList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI of the next page."},"value":{"type":"array","description":"List of service health objects.","items":{"$ref":"#/components/schemas/ServiceHealth"}}},"description":"Pageable list of service health objects."},"ServiceHealthModel":{"properties":{"displayName":{"type":"string","description":"Name of the service."},"infraURI":{"type":"string","description":"The route prefix to the service."},"serviceLocation":{"type":"string","description":"Location of the service."}},"description":"Holds information about the health of a service.","allOf":[{"type":"object","properties":{"alertSummary":{"type":"object","properties":{"criticalAlertCount":{"type":"integer","description":"The number of critical alerts for the service."},"warningAlertCount":{"type":"integer","description":"The number of warning alerts for the service."}},"description":"Summary of the alerts."},"healthState":{"type":"string","description":"Health state."},"namespace":{"type":"string","description":"Namespace of the health resource."},"registrationId":{"type":"string","description":"Registration ID."},"routePrefix":{"type":"string","description":"Route prefix."}},"description":"Models the base properties for health resource."}]}},"parameters":{"ServiceHealthParameter":{"name":"serviceHealth","in":"path","description":"Service Health name.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}