{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Tradeworks",
    "description" : "Authentication is required to access all methods of the API. Enter username and password.\n                Credentials are automatically set as you type.",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "http://devui.magick.nu/rest"
  } ],
  "tags" : [ {
    "name" : "strategies"
  }, {
    "name" : "tradingAccounts"
  }, {
    "name" : "users"
  } ],
  "paths" : {
    "/strategies/strategyId/{strategyId}" : {
      "get" : {
        "tags" : [ "strategies" ],
        "summary" : "Get Strategy by ID",
        "operationId" : "getStrategiesStrategyIdStrategyId",
        "parameters" : [ {
          "name" : "strategyId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/strategies/templates" : {
      "get" : {
        "tags" : [ "strategies" ],
        "summary" : "Get all Template Strategies",
        "operationId" : "getStrategiesTemplates",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/tradingAccounts" : {
      "post" : {
        "tags" : [ "tradingAccounts" ],
        "summary" : "Add a Trading Account",
        "operationId" : "postTradingAccounts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TradingAccount"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/tradingAccounts/password/{username}/{brokerserver}/{mt4username}" : {
      "put" : {
        "tags" : [ "tradingAccounts" ],
        "summary" : "Update MT4 Account Password",
        "operationId" : "putTradingAccountsPasswordUsernameBrokerserverMt4username",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "brokerserver",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mt4username",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PasswordDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/users" : {
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Create a new Tradeworks User",
        "operationId" : "postUsers",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/users/email/{email}" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Check if email is available",
        "operationId" : "getUsersEmailEmail",
        "parameters" : [ {
          "name" : "email",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/users/password/{username}" : {
      "put" : {
        "tags" : [ "users" ],
        "summary" : "Update user's password",
        "operationId" : "putUsersPasswordUsername",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PasswordDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/users/username/{username}" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Check if username is available",
        "operationId" : "getUsersUsernameUsername",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PasswordDTO" : {
        "type" : "object",
        "properties" : {
          "newPassword" : {
            "type" : "string"
          },
          "oldPassword" : {
            "type" : "string"
          }
        }
      },
      "TradingAccount" : {
        "type" : "object",
        "properties" : {
          "brokerServer" : {
            "type" : "string"
          },
          "magickUsername" : {
            "type" : "string"
          },
          "password" : {
            "type" : "string"
          },
          "username" : {
            "type" : "string"
          }
        }
      },
      "UserDTO" : {
        "type" : "object",
        "properties" : {
          "affiliateId" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "password" : {
            "type" : "string"
          },
          "subscriptionType" : {
            "type" : "string"
          },
          "username" : {
            "type" : "string"
          }
        }
      }
    }
  }
}