{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure Reservation",
    "description" : "Microsoft Azure Quota Resource Provider.",
    "version" : "2019-07-19-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/autoQuotaIncrease" : {
      "get" : {
        "tags" : [ "AutoQuotaIncrease" ],
        "summary" : "For the specified subscription, gets the Auto Quota Increase enrollment status.",
        "description" : "Gets the Auto Quota Increase enrollment details for the specified subscription.",
        "operationId" : "AutoQuotaIncrease_GetProperties",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok. Returning the properties of auto quota increase .",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoQuotaIncreaseDetail"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "AutoQuotaIncrease" ],
        "summary" : "For the specified subscription, sets the Auto Quota Increase enrollment properties.",
        "description" : "Sets the Auto Quota Increase enrollment properties for the specified subscription.",
        "operationId" : "AutoQuotaIncrease_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Auto Quota increase request payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AutoQuotaIncreaseDetail"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Ok. Returning the updated status of auto quota increase request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoQuotaIncreaseDetail"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimits" : {
      "get" : {
        "tags" : [ "QuotaInformation" ],
        "summary" : "Gets the current quota limit and usages for all the resources by the resource provider at the specified location.",
        "description" : "This API gets the current quota limits and usages for the resource provider for the specified location. This response can be used to submit quotaRequests.",
        "operationId" : "Quotas_listStatus",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "description" : "Azure resource Provider id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Azure region.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Quota information will be returned as response with pagination.",
            "headers" : {
              "ETag" : {
                "description" : "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuotaLimits"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimits/{resourceName}" : {
      "get" : {
        "tags" : [ "QuotaInformation" ],
        "summary" : "Gets the current quota limit and usages for the resource provider for the specified location for the specific resource in the parameter.",
        "description" : "This API gets the current quota limit and usages for the specific resource for resource provider for the specified location. This response can be used to submit quotaRequests.",
        "operationId" : "Quota_listStatus",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "description" : "Azure resource Provider id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Azure region.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The Resource name for the specific resource provider, such as SKU name for Microsoft.Compute, pool for Microsoft.Batch.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Quota information will be returned as response with pagination.",
            "headers" : {
              "ETag" : {
                "description" : "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CurrentQuotaLimitBase"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "QuotaRequests" ],
        "summary" : "Submits a Quota Request for a resource provider at the specified location for the specific resource in the parameter.",
        "description" : "Submits Quota change request for a resource provider for the specified location for the specific resource in the parameter. To use, first make a Get request to get quota information. This information consists of a list of resources and information regarding those resources. For all the resources in that list which require an update to their quotas, update their limit fields in the response from the Get request to their new values. Then, submit this updated JSON object to this quota request API. This will update the quota to the values specified. The location header in the response will be used to track the status of the quota request. Please check the provisioningState field in the response.",
        "operationId" : "QuotaRequest_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "description" : "Azure resource Provider id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Azure region.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The Resource name for the specific resource provider, such as SKU name for Microsoft.Compute, pool for Microsoft.Batch.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Quota requests payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CurrentQuotaLimitBase"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Returns Quota requests details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuotaRequestOneResourceSubmitResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "The request is accepted and is being processed. Please use requestId to check the status.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuotaRequestSubmitResponse201"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "QuotaRequests" ],
        "summary" : "Submits a Quota Request for a resource provider at the specified location for the specific resource in the parameter.",
        "description" : "Submits Quota change request for a resource provider for the specified location for the specific resource in the parameter. To use, first make a Get request to get quota information. This information consists of a list of resources and information regarding those resources. For all the resources in that list which require an update to their quotas, update their limit fields in the response from the Get request to their new values. Then, submit this updated JSON object to this quota request API. This will update the quota to the values specified. The location header in the response will be used to track the status of the quota request. Please check the provisioningState field in the response.",
        "operationId" : "QuotaRequest_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "description" : "Azure resource Provider id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Azure region.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The Resource name for the specific resource provider, such as SKU name for Microsoft.Compute, pool for Microsoft.Batch.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Quota requests payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CurrentQuotaLimitBase"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Returns Quota requests details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuotaRequestOneResourceSubmitResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "The request is accepted and is being processed. Please use requestId to check the status.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuotaRequestSubmitResponse201"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimitsRequests" : {
      "get" : {
        "tags" : [ "QuotaRequests" ],
        "summary" : "For the specified location and resource Provider, gets the quota requests under the subscription over the time\n period of one year ago from now to one year back, based on the filter specified.",
        "description" : "For the specified location and Resource provider gets the current quota requests under the subscription over the time period of one year ago from now to one year back. oData filter can be used to select quota requests.",
        "operationId" : "QuotaRequests_ListStatus",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "description" : "Azure resource Provider id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Azure region.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "| Field                    | Supported operators  \n|---------------------|------------------------\n\r\n|requestSubmitTime | ge, le, eq, gt, lt\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Number of records to return.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok. Sending Quota request status and details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuotaRequestDetailsList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimitsRequests/{id}" : {
      "get" : {
        "tags" : [ "QuotaRequests" ],
        "summary" : "Gets the Quota request status by requestId, for the specified resource provider at specified location.",
        "description" : "Gets the QuotaRequest details and status by the quota requestId for the resources for the resource provider at a specific location. The requestId is returned as response to the Put requests for serviceLimits.",
        "operationId" : "QuotaRequests_GetStatus",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "description" : "Azure resource Provider id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Azure region.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Quota Request id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok. Returning the status for the quota request .",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuotaRequestDetails"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Actions" : {
        "type" : "object",
        "properties" : {
          "emailActions" : {
            "type" : "object",
            "properties" : {
              "value" : {
                "type" : "array",
                "description" : "The list of email actions.",
                "items" : {
                  "$ref" : "#/components/schemas/EmailAction"
                }
              }
            },
            "description" : "The email actions for auto quota increase."
          },
          "phoneActions" : {
            "type" : "object",
            "properties" : {
              "value" : {
                "type" : "array",
                "description" : "The list of phone actions.",
                "items" : {
                  "$ref" : "#/components/schemas/PhoneAction"
                }
              }
            },
            "description" : "The phone actions for auto quota increase."
          }
        },
        "description" : "The actions for auto quota increase."
      },
      "AqiState" : {
        "type" : "object",
        "description" : "The Auto quota increase state.",
        "enum" : [ "enabled", "disabled" ]
      },
      "AutoQuotaIncreaseDetail" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The subscription Id.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the auto quota increase.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/autoQuotaIncreaseSettings"
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the resource",
            "readOnly" : true
          }
        },
        "description" : "Auto Quota Increase settings."
      },
      "ContactMethod" : {
        "type" : "object",
        "description" : "The contact method.",
        "enum" : [ "Email", "Phone" ]
      },
      "CreateGenericQuotaRequestParameters" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "Quota change requests.",
            "items" : {
              "$ref" : "#/components/schemas/CurrentQuotaLimitBase"
            }
          }
        },
        "description" : "Quota change requests information."
      },
      "CurrentQuotaLimit" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/QuotaRequestStatusDetails"
          },
          "quotaInformation" : {
            "$ref" : "#/components/schemas/CurrentQuotaLimitBase"
          }
        },
        "description" : "Quota limits."
      },
      "CurrentQuotaLimitBase" : {
        "type" : "object",
        "properties" : {
          "currentValue" : {
            "type" : "integer",
            "description" : "The current resource usages information.",
            "readOnly" : true
          },
          "limit" : {
            "type" : "integer",
            "description" : "The quota limit."
          },
          "name" : {
            "type" : "object",
            "properties" : {
              "localizedValue" : {
                "type" : "string",
                "description" : "Resource display name.",
                "readOnly" : true
              },
              "value" : {
                "type" : "string",
                "description" : "Resource name."
              }
            },
            "description" : "Name of the resource provide by the resource Provider. Please use this name property for quotaRequests."
          },
          "properties" : {
            "type" : "object",
            "description" : "Additional properties for the specific resource provider."
          },
          "quotaPeriod" : {
            "type" : "string",
            "description" : "The quota period over which the usage values are summarized, such as - P1D (Per one day), PT1M (Per one minute), PT1S (Per one second). This parameter is optional because, for some resources like compute, the period doesn’t matter.",
            "readOnly" : true
          },
          "resourceType" : {
            "$ref" : "#/components/schemas/ResourceTypesName"
          },
          "unit" : {
            "type" : "string",
            "description" : " The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response."
          }
        },
        "description" : "Quota limits."
      },
      "EmailAction" : {
        "type" : "object",
        "properties" : {
          "emailAddress" : {
            "type" : "string",
            "description" : "The email address for the action."
          }
        },
        "description" : "Email Action."
      },
      "EmailActions" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of actions based on the success or failure of automatic quota increase action.",
            "items" : {
              "$ref" : "#/components/schemas/EmailAction"
            }
          }
        },
        "description" : "The email actions."
      },
      "ExceptionResponse" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/ServiceError"
          }
        },
        "description" : "The api error."
      },
      "OnFailure" : {
        "$ref" : "#/components/schemas/Actions"
      },
      "OnSuccess" : {
        "$ref" : "#/components/schemas/Actions"
      },
      "PhoneAction" : {
        "type" : "object",
        "properties" : {
          "phoneNumber" : {
            "type" : "string",
            "description" : "The phone number for the action."
          },
          "preferredChannel" : {
            "$ref" : "#/components/schemas/ContactMethod"
          }
        },
        "description" : "Phone Action."
      },
      "QuotaLimits" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The uri to fetch the next page of quota limits. When there are no more pages, this is null."
          },
          "value" : {
            "type" : "array",
            "description" : "List of Quota limits.",
            "items" : {
              "$ref" : "#/components/schemas/CurrentQuotaLimitBase"
            }
          }
        },
        "description" : "Quota limits."
      },
      "QuotaLimitsResponse" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The uri to fetch the next page of quota limits. When there are no more pages, this is null."
          },
          "value" : {
            "type" : "array",
            "description" : "List of Quota limits with the quota request status.",
            "items" : {
              "$ref" : "#/components/schemas/CurrentQuotaLimit"
            }
          }
        },
        "description" : "Quota limits request response."
      },
      "QuotaRequestDetails" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The quota request Id.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the quota request.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/QuotaRequestProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of resource. \"Microsoft.Capacity/ServiceLimits\"",
            "readOnly" : true
          }
        },
        "description" : "The details of the quota Request."
      },
      "QuotaRequestDetailsList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The uri to fetch the next page of quota limits. When there are no more pages, this is null."
          },
          "value" : {
            "type" : "array",
            "description" : "The quota Requests.",
            "items" : {
              "$ref" : "#/components/schemas/QuotaRequestDetails"
            }
          }
        },
        "description" : "Quota requests information."
      },
      "QuotaRequestOneResourceSubmitResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The quota request Id.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the quota request.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/quotaRequestOneResourceProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of resource. \"Microsoft.Capacity/ServiceLimits\"",
            "readOnly" : true
          }
        },
        "description" : "Quota submit request response"
      },
      "QuotaRequestProperties" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "User friendly status message.",
            "readOnly" : true
          },
          "provisioningState" : {
            "$ref" : "#/components/schemas/QuotaRequestState"
          },
          "requestSubmitTime" : {
            "type" : "string",
            "description" : "The quota request submit time. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard.",
            "format" : "date-time",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The quotaRequests.",
            "items" : {
              "$ref" : "#/components/schemas/SubRequest"
            }
          }
        },
        "description" : "The details of quota request."
      },
      "QuotaRequestState" : {
        "type" : "object",
        "description" : "The quota request status.",
        "enum" : [ "Accepted", "Invalid", "Succeeded", "Failed", "InProgress" ]
      },
      "QuotaRequestStatusDetails" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "A user friendly message.",
            "readOnly" : true
          },
          "provisioningState" : {
            "$ref" : "#/components/schemas/QuotaRequestState"
          }
        },
        "description" : "The quota request status details."
      },
      "QuotaRequestSubmitResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The quota request Id.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the quota request.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/QuotaRequestProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of resource. \"Microsoft.Capacity/serviceLimits\"",
            "readOnly" : true
          }
        },
        "description" : "Quota submit request response"
      },
      "QuotaRequestSubmitResponse201" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The quota request id. Please use the requestId to check the request status.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The operation Id",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/QuotaRequestStatusDetails"
          },
          "type" : {
            "type" : "string",
            "description" : "The resource type",
            "readOnly" : true
          }
        },
        "description" : "The quota request submit response with request id."
      },
      "ResourceTypesName" : {
        "type" : "object",
        "description" : "The resource types.",
        "enum" : [ "standard", "dedicated", "shared", "serviceSpecific" ]
      },
      "ServiceError" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code."
          },
          "details" : {
            "type" : "array",
            "description" : "The list of error details.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ServiceErrorDetail"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "The error message."
          }
        },
        "description" : "The api error details."
      },
      "ServiceErrorDetail" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code.",
            "readOnly" : true
          },
          "message" : {
            "type" : "string",
            "description" : "The error message.",
            "readOnly" : true
          }
        },
        "description" : "The error details."
      },
      "SeverityTypes" : {
        "type" : "object",
        "description" : "The Severity types.",
        "enum" : [ "Critical", "Moderate", "Minimal" ]
      },
      "SubRequest" : {
        "type" : "object",
        "properties" : {
          "limit" : {
            "type" : "integer",
            "description" : "The Resource limit.",
            "readOnly" : true
          },
          "message" : {
            "type" : "string",
            "description" : "User friendly status message.",
            "readOnly" : true
          },
          "name" : {
            "type" : "object",
            "properties" : {
              "localizedValue" : {
                "type" : "string",
                "description" : "Resource display name.",
                "readOnly" : true
              },
              "value" : {
                "type" : "string",
                "description" : "Resource name.",
                "readOnly" : true
              }
            },
            "description" : "The Resource name."
          },
          "provisioningState" : {
            "$ref" : "#/components/schemas/QuotaRequestState"
          },
          "resourceType" : {
            "type" : "string",
            "description" : "Resource type for which the quota check was made.",
            "readOnly" : true
          },
          "subRequestId" : {
            "type" : "string",
            "description" : "Sub request id for individual request.",
            "readOnly" : true
          },
          "unit" : {
            "type" : "string",
            "description" : " The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response."
          }
        },
        "description" : "The sub-request submitted with the quota request."
      },
      "SupportContactTypes" : {
        "type" : "object",
        "description" : "The support contact types.",
        "enum" : [ "email", "phone", "chat" ]
      },
      "SupportRequestAction" : {
        "type" : "object",
        "properties" : {
          "alternateEmailAddresses" : {
            "type" : "array",
            "description" : "The alternate email address of the recipient.",
            "items" : {
              "type" : "string",
              "description" : "The email recipients."
            }
          },
          "autoQuotaIncreaseState" : {
            "$ref" : "#/components/schemas/AqiState"
          },
          "country" : {
            "type" : "string",
            "description" : "The country of the recipient."
          },
          "firstName" : {
            "type" : "string",
            "description" : "The first name of the recipient."
          },
          "lastName" : {
            "type" : "string",
            "description" : "The last name of the recipient."
          },
          "phoneNumber" : {
            "type" : "string",
            "description" : "The phone number of the recipient."
          },
          "preferredContactMethod" : {
            "$ref" : "#/components/schemas/ContactMethod"
          },
          "primaryEmailAddress" : {
            "type" : "string",
            "description" : "The primary email addresses of the recipients."
          },
          "severity" : {
            "$ref" : "#/components/schemas/SeverityTypes"
          },
          "supportLanguage" : {
            "type" : "string",
            "description" : "The support language."
          }
        },
        "description" : "The SupportRequest action."
      },
      "aqiSettings" : {
        "type" : "object",
        "properties" : {
          "autoQuotaIncreaseState" : {
            "$ref" : "#/components/schemas/AqiState"
          }
        },
        "description" : "Settings for auto quota increase."
      },
      "autoQuotaIncreaseSettings" : {
        "type" : "object",
        "properties" : {
          "onFailure" : {
            "$ref" : "#/components/schemas/OnFailure"
          },
          "onSuccess" : {
            "$ref" : "#/components/schemas/OnSuccess"
          },
          "settings" : {
            "$ref" : "#/components/schemas/aqiSettings"
          },
          "supportTicketAction" : {
            "$ref" : "#/components/schemas/SupportRequestAction"
          }
        },
        "description" : "Actions for auto quota increase."
      },
      "quotaRequestOneResourceProperties" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "User friendly status message.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/CurrentQuotaLimitBase"
          },
          "provisioningState" : {
            "$ref" : "#/components/schemas/QuotaRequestState"
          },
          "requestSubmitTime" : {
            "type" : "string",
            "description" : "The quota request submit time. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard.",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "description" : "The details of quota request."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Api version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "IfMatchRequiredParameter" : {
        "name" : "If-Match",
        "in" : "header",
        "description" : "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "LocationIdInParameters" : {
        "name" : "location",
        "in" : "path",
        "description" : "Azure region.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ProviderIdInParameters" : {
        "name" : "providerId",
        "in" : "path",
        "description" : "Azure resource Provider id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "RequestIdInParameters" : {
        "name" : "id",
        "in" : "path",
        "description" : "Quota Request id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceNameInParameters" : {
        "name" : "resourceName",
        "in" : "path",
        "description" : "The Resource name for the specific resource provider, such as SKU name for Microsoft.Compute, pool for Microsoft.Batch.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SkipTokenParameter" : {
        "name" : "$skiptoken",
        "in" : "query",
        "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls",
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdInParameters" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Azure subscription id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "TopQueryParameter" : {
        "name" : "$top",
        "in" : "query",
        "description" : "Number of records to return.",
        "schema" : {
          "minimum" : 1,
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}