{"openapi":"3.0.1","info":{"title":"WINSMS","description":"WinSMS RESTful API","termsOfService":"https://www.winsms.co.za/terms-conditions/","contact":{"name":"WinSMS Support","url":"http://support.winsms.co.za/","email":"support@winsms.co.za"},"version":"1.0.0"},"servers":[{"url":"https://www.winsms.co.za/api/rest/v1"}],"security":[{"APIKeyHeader":null}],"paths":{"/credits/balance":{"get":{"tags":["credits"],"summary":"Get your current WinSMS credit balance","description":"Get the current remaining credit balance for the account.\n\n***Note*** - The credit balance is expressed as a value with a single decimal place.\n","operationId":"getCreditBalance","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"creditBalanceResponse","type":"object","properties":{"creditBalance":{"type":"number","description":"The current remaining credit balance for the account. Contains a single decimal place","format":"double"},"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience"},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS"},"version":{"type":"string","description":"The current version of the API of the endpoint that was called"}}},"example":{"creditBalance":3645,"statusCode":200,"timeStamp":"20170120152253514","version":"1.0"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The 'AUTHORIZATION' header was not found. Set the 'AUTHORIZATION' request header to your WinSMS API Key","statusCode":401,"timeStamp":"20170120152253514","version":"1.0"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request method should be set to 'GET', not 'PUT'.","statusCode":405,"timeStamp":"20170120152253514","version":"1.0"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"An unknown error has occurred - authorising API Key","statusCode":500,"timeStamp":"20170120152253514","version":"1.0"}}}}}}},"/credits/transfer":{"post":{"tags":["credits"],"summary":"Transfer credits between main and sub accounts.","description":"Transfer credits between accounts.\n- From Main account to Sub account.\n\n- From Sub account to Main account.\n\n- From Sub account to another Sub account.\n\nYour WinSMS account number and sub account number/s can be obtained by logging in to the WinSMS Client Zone (www.winsms.co.za/cz) with the main account's credentials.\n\nThe main account number is on the home tab and the sub account numbers are under the sub accounts tab.\n\nAccount numbers should be submitted as integers. Do not add the 'W' prefix.\n","operationId":"transferCredits","requestBody":{"description":"The details of the credit transfer. Sender account number, recipient account number, and number of credits to transfer.","content":{"application/json":{"schema":{"title":"creditTransferDetails","required":["receivingAccountNumber","sendingAccountNumber","transferQuantity"],"type":"object","properties":{"receivingAccountNumber":{"type":"integer","description":"The WinSMS account number of the account to which credits will be added.","example":10345},"sendingAccountNumber":{"type":"integer","description":"The WinSMS account number of the account from which credits will be deducted.","example":7564},"transferQuantity":{"type":"integer","description":"The number of credits to transfer from the sending account to the receiving account.","example":100}},"example":{"receivingAccountNumber":10345,"sendingAccountNumber":7564,"transferQuantity":100}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"creditTransferResponse","type":"object","properties":{"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience"},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS"},"transferSuccessful":{"type":"boolean","description":"A boolean value indictating whether the credits were successfully transfered from the sending account into the receiving account."},"version":{"type":"string","description":"The current version of the API of the endpoint that was called"}},"example":{"statusCode":200,"timeStamp":"20170120152253515","transferSuccessful":true,"version":"1.0"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Invalid JSON payload received","statusCode":400,"timeStamp":"20170120152253514","version":"1.0"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The 'AUTHORIZATION' header was not found. Set the 'AUTHORIZATION' request header to your WinSMS API Key","statusCode":401,"timeStamp":"20170120152253514","version":"1.0"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request method should be set to 'POST', not 'GET'.","statusCode":405,"timeStamp":"20170120152253514","version":"1.0"}}}},"413":{"description":"Payload Too Large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request POST data is: 205kb. The maximum POST size allowed is 200kb.","statusCode":413,"timeStamp":"20170120152253514","version":"1.0"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request content-type should be set to 'application/json', not 'text/plain'.","statusCode":415,"timeStamp":"20170120152253514","version":"1.0"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"There is an error in the 'recipients' array.","statusCode":422,"timeStamp":"20170120152253514","version":"1.0"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"An unknown error has occurred - authorising API Key","statusCode":500,"timeStamp":"20170120152253514","version":"1.0"}}}}}}},"/shortcode/incoming":{"get":{"tags":["shortcode"],"summary":"Get a list of incoming short/long code messages\n","description":"***Only available to users with a [WinSMS Short/Long Code](https://support.winsms.co.za/winsms-long-short-code-system/).***\nGet a list of all incoming short/long code messages received by the account.\n\nOnly the first 100 incoming short/long code messages will be returned if no ***offset*** and ***limit*** parameters are specified.\n","operationId":"getShortCodeMessages","parameters":[{"name":"offset","in":"query","description":"***Optional*** - The number of items to skip before starting to return results. Default 0. Minimum 0.\n","schema":{"minimum":0,"type":"integer","default":0}},{"name":"limit","in":"query","description":"***Optional*** - The number of items to return. Default 100. Minimum 1. Maximum 1000.\n","schema":{"maximum":1000,"minimum":1,"type":"integer","default":100}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"shortcodeMessageResponse","type":"object","properties":{"resultsLimit":{"type":"integer","description":"The number of items returned in the results. This is the value specified in the ***limit*** parameter sent to the endpoint. If the parameter was not specified, this defaults to 100.\n"},"resultsOffset":{"type":"integer","description":"The number of items skipped before the results were returned. This is the value specified in the ***offset*** parameter sent to the endpoint. If the parameter was not specified, this defaults to 0.\n"},"resultsTotalAvailable":{"type":"integer","description":"The total number of results available for retrieval. The ***offset*** and ***limit*** properties specify which of the total available results have been returned.\n"},"shortcodeMessages":{"maxItems":1000,"minItems":1,"type":"array","description":"An array of ***shortcodeMessage*** objects containing properties of each incoming shortcode message received by WinSMS.\n","items":{"title":"shortcodeMessage","type":"object","properties":{"incomingApiMessageId":{"type":"number","description":"The unique API message id assigned to this incoming message.","example":58324.0},"messageText":{"type":"string","description":"The text of the incoming SMS message.","example":"Hello, I'm responding to your advert."},"mobileNumber":{"type":"string","description":"The mobile number that sent the SMS message, displayed using the international E164 (without the plus) format","example":"27444444444"},"receiveTime":{"type":"string","description":"The date and time the message was received by WinSMS, in the format YYYYMMDDHHmm.","example":"201707270952"}},"example":{"incomingApiMessageId":58324,"messageText":"Win Big","mobileNumber":"27444444444","receiveTime":"201707252208"}}},"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience"},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS"},"version":{"type":"string","description":"The current version of the API of the endpoint that was called"}},"example":{"resultsLimit":100,"resultsOffset":3400,"resultsTotalAvailable":3402,"shortcodeMessages":[{"incomingApiMessageId":58324,"messageText":"Win Big","mobileNumber":"27444444444","receiveTime":"201707252208"},{"incomingApiMessageId":58336,"messageText":"Savings for me","mobileNumber":"27555555555","receiveTime":"201707270952"}],"statusCode":200,"timeStamp":"20170117054658978","version":"1.0"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The 'AUTHORIZATION' header was not found. Set the 'AUTHORIZATION' request header to your WinSMS API Key","statusCode":401,"timeStamp":"20170120152253514","version":"1.0"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request method should be set to 'GET', not 'PUT'.","statusCode":405,"timeStamp":"20170120152253514","version":"1.0"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The offset parameter must be a number greater than or equal to 0.","statusCode":422,"timeStamp":"20170120152253514","version":"1.0"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"An unknown error has occurred - authorising API Key","statusCode":500,"timeStamp":"20170120152253514","version":"1.0"}}}}}}},"/sms/incoming":{"get":{"tags":["sms"],"summary":"Get a list of incoming SMS messages","description":"Get a list of all incoming SMS messages received by the account.\n\nOnly the first 100 incoming messages will be returned if no ***offset*** and ***limit*** parameters are specified.\n","operationId":"getIncomingMessages","parameters":[{"name":"offset","in":"query","description":"***Optional*** - The number of items to skip before starting to return results. Default 0. Minimum 0.\n","schema":{"minimum":0,"type":"integer","default":0}},{"name":"limit","in":"query","description":"***Optional*** - The number of items to return. Default 100. Minimum 1. Maximum 1000.\n","schema":{"maximum":1000,"minimum":1,"type":"integer","default":100}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"incomingMessageResponse","type":"object","properties":{"incomingMessages":{"maxItems":1000,"minItems":1,"type":"array","description":"An array of ***incomingMessage*** objects containing properties of each incoming message.\n","items":{"title":"incomingMessage","type":"object","properties":{"incomingApiMessageId":{"type":"number","description":"The unique API message id assigned to this incoming message.\n","example":58324.0},"messageText":{"type":"string","description":"The text of the incoming SMS message.\n","example":"Hello, I'm responding to your SMS invitation"},"mobileNumber":{"type":"string","description":"The mobile number that sent the SMS message, displayed using the international E164 (without the plus) format\n","example":"27444444444"},"outgoingApiMessageId":{"type":"number","description":"The API message id of the most recent message sent to the mobile number that responded.\n","example":2316.0},"receiveTime":{"type":"string","description":"The date and time the message was received by WinSMS, in the format YYYYMMDDHHmm.\n","example":"201707270952"}},"example":{"incomingApiMessageId":58324,"messageText":"Thank you for the holiday wishes. Stay safe","mobileNumber":"27444444444","outgoingApiMessageId":2316,"receiveTime":"201707252208"}}},"resultsLimit":{"type":"integer","description":"The number of items returned in the results. This is the value specified in the ***limit*** parameter sent to the endpoint. If the parameter was not specified, this defaults to 100.\n"},"resultsOffset":{"type":"integer","description":"The number of items skipped before the results were returned. This is the value specified in the ***offset*** parameter sent to the endpoint. If the parameter was not specified, this defaults to 0.\n"},"resultsTotalAvailable":{"type":"integer","description":"The total number of results available for retrieval. The ***offset*** and ***limit*** properties specify which of the total available results have been returned.\n"},"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience"},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS"},"version":{"type":"string","description":"The current version of the API of the endpoint that was called"}},"example":{"incomingMessages":[{"incomingApiMessageId":58324,"messageText":"Thank you for the holiday wishes. Stay safe","mobileNumber":"27444444444","outgoingApiMessageId":2316,"receiveTime":"201707252208"},{"incomingApiMessageId":58336,"messageText":"That is much appreciated. Happy holidays to you too","mobileNumber":"27555555555","outgoingApiMessageId":2316,"receiveTime":"201707270952"}],"resultsLimit":100,"resultsOffset":3400,"resultsTotalAvailable":3402,"statusCode":200,"timeStamp":"20170117054658978","version":"1.0"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The 'AUTHORIZATION' header was not found. Set the 'AUTHORIZATION' request header to your WinSMS API Key","statusCode":401,"timeStamp":"20170120152253514","version":"1.0"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request method should be set to 'GET', not 'PUT'.","statusCode":405,"timeStamp":"20170120152253514","version":"1.0"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The offset parameter must be a number greater than or equal to 0.","statusCode":422,"timeStamp":"20170120152253514","version":"1.0"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"An unknown error has occurred - authorising API Key","statusCode":500,"timeStamp":"20170120152253514","version":"1.0"}}}}}}},"/sms/incoming/optout":{"get":{"tags":["sms"],"summary":"Get a list of incoming opt-out SMS messages","description":"Get a list of all opt-out SMS messages received by the account, as well as all manually added opt-out numbers.<br>","operationId":"getOptoutMessages","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"optoutMessageResponse","type":"object","properties":{"incomingOptoutMessages":{"type":"array","description":"An array of ***incomingOptoutMessage*** objects containing properties of each opt-out message received.\n","items":{"title":"incomingOptoutMessage","type":"object","properties":{"incomingApiMessageId":{"type":"number","description":"The unique API message id assigned to this incoming opt-out message.\n","example":58324.0},"messageText":{"type":"string","description":"The text of the opt-out SMS message.\n","example":"STOP"},"mobileNumber":{"type":"string","description":"The mobile number that sent the opt-out SMS message, displayed using the international E164 (without the plus) format\n","example":"27444444444"},"receiveTime":{"type":"string","description":"The date and time the message was received by WinSMS, in the format YYYYMMDDHHmm.\n","example":"201707270952"}},"example":{"incomingApiMessageId":58324,"messageText":"STOP","mobileNumber":"27444444444","receiveTime":"201707252208"}}},"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience"},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS"},"version":{"type":"string","description":"The current version of the API of the endpoint that was called"}},"example":{"incomingOptoutMessages":[{"incomingApiMessageId":58324,"messageText":"STOP","mobileNumber":"27444444444","receiveTime":"201707252208"},{"messageText":"* MANUALLY ADDED BY USER *","mobileNumber":"27555555555","receiveTime":"201707270952"}],"statusCode":200,"timeStamp":"20170117054658978","version":"1.0"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The 'AUTHORIZATION' header was not found. Set the 'AUTHORIZATION' request header to your WinSMS API Key","statusCode":401,"timeStamp":"20170120152253514","version":"1.0"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request method should be set to 'GET', not 'PUT'.","statusCode":405,"timeStamp":"20170120152253514","version":"1.0"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"An unknown error has occurred - authorising API Key","statusCode":500,"timeStamp":"20170120152253514","version":"1.0"}}}}}}},"/sms/outgoing/send":{"post":{"tags":["sms"],"summary":"Send SMS messages","description":"Submit 1 or more SMS messages to be sent by WinSMS. Maximum 1000 recipients per request.\n\nThe SMS message text can be a maximum of 918 characters long. If you are submitting a message longer than 160 characters, you should change the value of ***maxSegments***.\n","operationId":"smsSend","requestBody":{"description":"The message, recipients and delivery options of an SMS message to be sent.\n","content":{"application/json":{"schema":{"title":"newMessageDetails","required":["message","recipients"],"type":"object","properties":{"maxSegments":{"maximum":6,"minimum":1,"type":"integer","description":"***Optional*** - The maximum [GSM Encoded segment count](\"https://support.winsms.co.za/rest/GSM\") that the message is allowed to utilise.\n\nThis defaults to 1, allowing for a maximum GSM Encoded message length of 160 characters.\n\nThe maximum value is 6, which allows for a GSM Encoded message length of 918 characters.\n\nIf you intend to send a message longer than 160 characters, this value should be specified.\n","example":3},"message":{"type":"string","description":"The SMS text to be sent.","example":"Happy holidays from all at TelAmeriCorp."},"recipients":{"maxItems":1000,"minItems":1,"type":"array","description":"An array of messageRecipientDetails objects.","items":{"title":"messageRecipientDetails","required":["mobileNumber"],"type":"object","properties":{"clientMessageId":{"type":"string","description":"***Optional*** - A parameter to identify an individual SMS message recipient on your system. The clientMessageId parameter is NOT saved by the WinSMS API. \n\nThe value of the clientMessageId parameter is returned in the ***submittedRecipientResult*** object of the response, allowing you to match a sent message to a returned message result status.\n","example":"clientId-3023"},"mobileNumber":{"type":"string","description":"A recipient mobile number, using the international E164 (without the plus) format.","example":"27444444444"}},"example":{"clientMessageId":"clientId-3023","mobileNumber":"27444444444"}}},"scheduledTime":{"type":"string","description":"***Optional*** - The date and time that an SMS should be delivered. If not specified, or is set for a date/time prior to the current date/time, the SMS message will be sent immediately.\n\nIf specified, this value should have the format YYYYMMDDHHmm.\n","example":"201712251430"}},"example":{"maxSegments":3,"message":"Happy holidays from all at TelAmeriCorp.","recipients":[{"clientMessageId":"clientId-3023","mobileNumber":"27444444444"},{"mobileNumber":"27555555555"},{"clientMessageId":"clientId-3024","mobileNumber":"276666666666"}],"scheduledTime":"201712251430"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"newMessageResponse","type":"object","properties":{"recipients":{"maxItems":1000,"minItems":1,"type":"array","description":"An array of messageRecipientResponse objects","items":{"title":"messageRecipientResponse","type":"object","properties":{"acceptError":{"type":"string","description":"If the ***accepted*** value is **false**, this will contain the reason that delivery to the recipient was declined by the API. If the recipient was accepted, this value will be blank. Possible values-\n| Value | Description |\n|-------|-------------|\n|INSUFFICIENT CREDITS | The User Account has insufficient credits to send the message |\n|ACCOUNTLOCKED | The specified User Account is locked |\n|TRIALNOT2SELF | Trial Account Restriction – Message not to own number. <a href=\"https://support.winsms.co.za/trial-account-restrictions/\" target=\"_blank\">More Info</a> |\n|TOOLONG | The <a href=\"https://en.wikipedia.org/wiki/GSM_03.38#GSM_7-bit_default_alphabet_and_extension_table_of_3GPP_TS_23.038_/_GSM_03.38\" target=\"_blank\">GSM 7-bit encoded</a> message length exceeded 918 characters |\n|BADDEST | An invalid mobile number was supplied, or the recipient has been blacklisted from receiving messages |\n|OPTEDOUT | The recipient has opted out from receiving any further messages from the user |\n|WASPADNC | The number is on the WASPA Do Not Contact List (DNC).<br>If you are sending transactional messages then you can bypass the DNC list. <a href=\"https://zasupport.winsms.co.za/portal/en/kb/articles/marketing-vs-transactional-sms/\" target=\"_blank\">Read this article</a> for instructions. |\n| &nbsp; | &nbsp; |\n<p>&nbsp;</p>","example":"BADDEST"},"accepted":{"type":"boolean","description":"A boolean value indicating whether the API accepted the recipient for SMS delivery. This will be **false** If you have insufficient credits or the recipient mobile number supplied is not valid.\n","example":true},"apiMessageId":{"type":"integer","description":"The WinSMS Message Id assigned to the specific message recipient. This Id can be used to obtain the status of the message, and to delete the message if it was scheduled. If the API did not accept the recipient for delivery, the value will be **null**.\n","example":2316},"clientMessageId":{"type":"string","description":"If the optional ***clientMessageId*** value was specified in the recipient object for the recipient, it will be returned here. If not, ***clientMessageId*** will be **null**.\n","example":"clientId-3023"},"creditCost":{"type":"number","description":"The number of credits deducted from your account for the SMS to this recipient.\n\nThe credit cost is based on the destination country of the recipient and the length (number of segments) of the message.\n\nThis credit cost will be reimbursed if the message is scheduled and subsequently deleted.\n\nIf the recipient is not accepted for delivery, the ***creditCost*** value will be **null**.\n","format":"double","example":1.3},"mobileNumber":{"type":"string","description":"The mobile number specified as the ***mobileNumber*** value of the recipient object of the request.\n","example":"27824444444"},"newCreditBalance":{"type":"number","description":"The number of WinSMS credits remaining in your account after processing this recipient.\n","format":"double","example":188.6},"scheduledTime":{"type":"string","description":"The date and time that the message was scheduled for delivery to the recipient.\n\nIf no ***scheduledTime*** value was specified in the request, or the recipient was not accepted for delivery, this value will be **null**.\n","example":"201712251430"}},"example":{"acceptError":"","accepted":true,"apiMessageId":2316,"clientMessageId":"clientId-3023","creditCost":1,"mobileNumber":"27444444444","newCreditBalance":188.6,"scheduledTime":"201712251430"}}},"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience"},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS"},"version":{"type":"string","description":"The current version of the API of the endpoint that was called"}},"example":{"recipients":[{"acceptError":"","accepted":true,"apiMessageId":2316,"clientMessageId":"clientId-3023","creditCost":1,"mobileNumber":"27444444444","newCreditBalance":188.6,"scheduledTime":"201712251430"},{"acceptError":"","accepted":true,"apiMessageId":2317,"creditCost":1,"mobileNumber":"27555555555","newCreditBalance":187.6,"scheduledTime":"201712251430"},{"acceptError":"BADDEST","accepted":false,"clientMessageId":"clientId-3024","creditCost":0,"mobileNumber":"276666666666","newCreditBalance":187.6}],"statusCode":200,"timeStamp":"20170117054658978","version":"1.0"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Invalid JSON payload received","statusCode":400,"timeStamp":"20170120152253514","version":"1.0"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The 'AUTHORIZATION' header was not found. Set the 'AUTHORIZATION' request header to your WinSMS API Key","statusCode":401,"timeStamp":"20170120152253514","version":"1.0"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request method should be set to 'POST', not 'GET'.","statusCode":405,"timeStamp":"20170120152253514","version":"1.0"}}}},"413":{"description":"Payload Too Large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request POST data is: 205kb. The maximum POST size allowed is 200kb.","statusCode":413,"timeStamp":"20170120152253514","version":"1.0"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request content-type should be set to 'application/json', not 'text/plain'.","statusCode":415,"timeStamp":"20170120152253514","version":"1.0"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"There is an error in the 'recipients' array.","statusCode":422,"timeStamp":"20170120152253514","version":"1.0"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"An unknown error has occurred - authorising API Key","statusCode":500,"timeStamp":"20170120152253514","version":"1.0"}}}}}}},"/sms/outgoing/sendmulti":{"post":{"tags":["sms"],"summary":"Send multiple different SMS messages","description":"Submit multiple different SMS messages to be sent to multiple recipients. Maximum 1000 recipients across all messages.\n\nEach SMS message text can be a maximum of 918 characters long. If you are submitting a message longer than 160 characters, you should change the value of ***maxSegments***.\n","operationId":"smsSendBatch","requestBody":{"description":"The messages, recipients and delivery options of multiple SMS messages to be sent.\n","content":{"application/json":{"schema":{"title":"multiMessageDetails","type":"object","properties":{"messages":{"type":"array","items":{"title":"messageDetails","required":["message","recipients"],"type":"object","properties":{"maxSegments":{"maximum":6,"minimum":1,"type":"integer","description":"***Optional*** - The maximum [GSM Encoded segment count](\"https://support.winsms.co.za/rest/GSM\") that the message is allowed to utilise.\n\nThis defaults to 1, allowing for a maximum GSM Encoded message length of 160 characters.\n\nThe maximum value is 6, which allows for a GSM Encoded message length of 918 characters.\n\nIf you intend to send a message longer than 160 characters, this value should be specified.\n","example":3},"message":{"type":"string","description":"The SMS text to be sent.","example":"Happy holidays from all at TelAmeriCorp."},"recipients":{"maxItems":1000,"minItems":1,"type":"array","description":"An array of messageRecipientDetails objects.","items":{"title":"messageRecipientDetails","required":["mobileNumber"],"type":"object","properties":{"clientMessageId":{"type":"string","description":"***Optional*** - A parameter to identify an individual SMS message recipient on your system. The clientMessageId parameter is NOT saved by the WinSMS API. \n\nThe value of the clientMessageId parameter is returned in the ***submittedRecipientResult*** object of the response, allowing you to match a sent message to a returned message result status.\n","example":"clientId-3023"},"mobileNumber":{"type":"string","description":"A recipient mobile number, using the international E164 (without the plus) format.","example":"27444444444"}},"example":{"clientMessageId":"clientId-3023","mobileNumber":"27444444444"}}},"scheduledTime":{"type":"string","description":"***Optional*** - The date and time that an SMS should be delivered. If not specified, or is set for a date/time prior to the current date/time, the SMS message will be sent immediately.\n\nIf specified, this value should have the format YYYYMMDDHHmm.\n","example":"201712251430"}}}}},"example":{"messages":[{"maxSegments":3,"message":"Happy holidays from all at TelAmeriCorp.","recipients":[{"clientMessageId":"clientId-3023","mobileNumber":"27444444444"},{"mobileNumber":"27555555555"},{"clientMessageId":"clientId-3024","mobileNumber":"276666666666"}],"scheduledTime":"201712251430"},{"maxSegments":1,"message":"TelAmeriCorp flash sale - call now for details","recipients":[{"clientMessageId":"clientId-0015","mobileNumber":"27333333333"},{"mobileNumber":"27222222222"}],"scheduledTime":"201801010900"}]}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"multiMessageResponse","type":"object","properties":{"messages":{"type":"array","description":"An array of messageDetailsResponse objects","items":{"title":"messageDetailsResponse","type":"object","properties":{"message":{"type":"string","description":"The message text that was sent.\n"},"recipients":{"maxItems":1000,"minItems":1,"type":"array","description":"An array of messageRecipientResponse objects","items":{"title":"messageRecipientResponse","type":"object","properties":{"acceptError":{"type":"string","description":"If the ***accepted*** value is **false**, this will contain the reason that delivery to the recipient was declined by the API. If the recipient was accepted, this value will be blank. Possible values-\n  | Value | Description |\n  |-------|-------------|\n  |INSUFFICIENT&nbsp;CREDITS | The User Account has insufficient credits to send the message |\n  |ACCOUNTLOCKED | The specified User Account is locked\n  |TRIALNOT2SELF | Trial Account Restriction – Message not to own number. <a href=\"https://support.winsms.co.za/trial-account-restrictions/\" target=\"_blank\">More Info</a> |\n  |TOOLONG | The <a href=\"https://en.wikipedia.org/wiki/GSM_03.38#GSM_7-bit_default_alphabet_and_extension_table_of_3GPP_TS_23.038_/_GSM_03.38\" target=\"_blank\">GSM 7-bit encoded</a> message length exceeded 918 characters |\n  |BADDEST | An invalid mobile number was supplied, or the recipient has been blacklisted from receiving messages |\n  |OPTEDOUT | The recipient has opted out from receiving any further messages from the user |\n  |WASPADNC | The number is on the WASPA Do Not Contact List (DNC).<br>If you are sending transactional messages then you can bypass the DNC list. <a href=\"https://zasupport.winsms.co.za/portal/en/kb/articles/marketing-vs-transactional-sms/\" target=\"_blank\">Read this article</a> for instructions. |\n  | &nbsp; | &nbsp; |\n","example":"BADDEST"},"accepted":{"type":"boolean","description":"A boolean value indicating whether the API accepted the recipient for SMS delivery. This will be **false** If you have insufficient credits or the recipient mobile number supplied is not valid.\n","example":true},"apiMessageId":{"type":"integer","description":"The WinSMS Message Id assigned to the specific message recipient. This Id can be used to obtain the status of the message, and to delete the message if it was scheduled. If the API did not accept the recipient for delivery, the value will be **null**.\n","example":2316},"clientMessageId":{"type":"string","description":"If the optional ***clientMessageId*** value was specified in the recipient object for the recipient, it will be returned here. If not, ***clientMessageId*** will be **null**.\n","example":"clientId-3023"},"creditCost":{"type":"number","description":"The number of credits deducted from your account for the SMS to this recipient.\n\nThe credit cost is based on the destination country of the recipient and the length (number of segments) of the message.\n\nThis credit cost will be reimbursed if the message is scheduled and subsequently deleted.\n\nIf the recipient is not accepted for delivery, the ***creditCost*** value will be **null**.\n","format":"double","example":1.3},"mobileNumber":{"type":"string","description":"The mobile number specified as the ***mobileNumber*** value of the recipient object of the request.\n","example":"27824444444"},"newCreditBalance":{"type":"number","description":"The number of WinSMS credits remaining in your account after processing this recipient.\n","format":"double","example":188.6},"scheduledTime":{"type":"string","description":"The date and time that the message was scheduled for delivery to the recipient.\n\nIf no ***scheduledTime*** value was specified in the request, or the recipient was not accepted for delivery, this value will be **null**.\n","example":"201712251430"}},"example":{"acceptError":"","accepted":true,"apiMessageId":2316,"clientMessageId":"clientId-3023","creditCost":1,"mobileNumber":"27444444444","newCreditBalance":188.6,"scheduledTime":"201712251430"}}}}}},"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience"},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS"},"version":{"type":"string","description":"The current version of the API of the endpoint that was called"}},"example":{"messages":[{"message":"Happy holidays from all at TelAmeriCorp.","recipients":[{"acceptError":"","accepted":true,"apiMessageId":2316,"clientMessageId":"clientId-3023","creditCost":1,"mobileNumber":"27444444444","newCreditBalance":188.6,"scheduledTime":"201712251430"},{"acceptError":"","accepted":true,"apiMessageId":2317,"creditCost":1,"mobileNumber":"27555555555","newCreditBalance":187.6,"scheduledTime":"201712251430"},{"acceptError":"BADDEST","accepted":false,"clientMessageId":"clientId-3024","creditCost":0,"mobileNumber":"276666666666","newCreditBalance":187.6}]},{"message":"TelAmeriCorp flash sale - call now for details","recipients":[{"acceptError":"","accepted":true,"apiMessageId":2318,"clientMessageId":"clientId-0015","creditCost":1,"mobileNumber":"27333333333","newCreditBalance":186.6,"scheduledTime":"201801010900"},{"acceptError":"","accepted":true,"apiMessageId":2319,"creditCost":1,"mobileNumber":"27222222222","newCreditBalance":185.6,"scheduledTime":"201801010900"}]}],"statusCode":200,"timeStamp":"20170117054658978","version":"1.0"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Invalid JSON payload received","statusCode":400,"timeStamp":"20170120152253514","version":"1.0"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The 'AUTHORIZATION' header was not found. Set the 'AUTHORIZATION' request header to your WinSMS API Key","statusCode":401,"timeStamp":"20170120152253514","version":"1.0"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request method should be set to 'POST', not 'GET'.","statusCode":405,"timeStamp":"20170120152253514","version":"1.0"}}}},"413":{"description":"Payload Too Large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request POST data is: 205kb. The maximum POST size allowed is 200kb.","statusCode":413,"timeStamp":"20170120152253514","version":"1.0"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request content-type should be set to 'application/json', not 'text/plain'.","statusCode":415,"timeStamp":"20170120152253514","version":"1.0"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"There is an error in the 'recipients' array of one or more messageDetails objects.","statusCode":422,"timeStamp":"20170120152253514","version":"1.0"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"An unknown error has occurred - authorising API Key","statusCode":500,"timeStamp":"20170120152253514","version":"1.0"}}}}}}},"/sms/outgoing/status":{"post":{"tags":["sms"],"summary":"Get SMS delivery statuses","description":"Get a list of previously submitted SMS message delivery statuses.\n\nPost an array of API Message Ids received from the ***/sms/outgoing/send*** endpoint.\n","operationId":"smsStatus","requestBody":{"description":"An array of WinSMS API Ids received after submitting messages to the ***/sms/outgoing/send*** endpoint.\n\nA maximum of 1000 API Ids can be supplied in a single request.\n","content":{"application/json":{"schema":{"maxItems":1000,"minItems":1,"type":"array","example":[2316,2317],"items":{"type":"integer"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"messageStatusResponse","type":"object","properties":{"messageStatuses":{"maxItems":1000,"minItems":1,"type":"array","description":"An array of ***messageStatus*** objects detailing the delivery status of each message\n","items":{"title":"messageStatus","type":"object","properties":{"apiMessageId":{"type":"integer","description":"The WinSMS API Message Id identifying the SMS message.","example":2316},"creditCost":{"type":"number","description":"The number of credits deducted from your account for the SMS to this recipient.\n\n\nIf delivery to the recipient is unsuccessful, under certain conditions, this may be 0.\n","format":"double","example":1.3},"mobileNumber":{"type":"string","description":"The mobile number of the recipient of the SMS message, using the international E164 (without the plus) format","example":"27824444444"},"statusDelivered":{"type":"boolean","description":"A boolean value indicating whether an SMS message was successfully delivered to the recipient's mobile number","example":true},"statusErrorCode":{"type":"string","description":"If the SMS message was successfully delivered, this value will be blank.\nIf the ***statusDelivered*** value is false, this will contain a string indicating the current status of the SMS message. Possible values-\n| Value | Description | Type |\n|-------|-------------|------|\n| SENT| The message has been sent to the recipient, but no delivery report has been received | Temporary |\n| NOTFOUND | Either an incorrect MessageID was sent in the request, or the message was sent more than 90 days previously | Permanent |\n| INQUEUE | Message is queued for sending | Temporary |\n| SENDINGFAILED | The message was not transmitted, due to e.g. an invalid destination number or insufficient credits | Permanent |\n| FAILED | The message was sent but could not be delivered to the recipient due to e.g. no such subscriber, subscriber's phone offline | Permanent |\n","example":"FAILED"},"statusTime":{"type":"string","description":"The date and time of the last status update for this message, in the format YYYYMMDDHHmm.\n\nIf the message was delivered (**statusDelivered = true**) then this is a final status time. If the message is still awaiting delivery, this time might change when updates are received.\n","example":"201712251431"}},"example":{"apiMessageId":2316,"creditCost":1,"mobileNumber":"27444444444","statusDelivered":true,"statusErrorCode":0,"statusTime":"201712251431"}}},"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience"},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS"},"version":{"type":"string","description":"The current version of the API of the endpoint that was called"}},"example":{"messageStatuses":[{"apiMessageId":2316,"creditCost":1,"mobileNumber":"27444444444","statusDelivered":true,"statusErrorCode":0,"statusTime":"201712251431"},{"apiMessageId":2317,"creditCost":1,"mobileNumber":"27555555555","statusDelivered":false,"statusErrorCode":"BADDEST","statusTime":"201712251432"}],"statusCode":200,"timeStamp":"20170117054658978","version":"1.0"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Invalid JSON payload received","statusCode":400,"timeStamp":"20170120152253514","version":"1.0"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The 'AUTHORIZATION' header was not found. Set the 'AUTHORIZATION' request header to your WinSMS API Key","statusCode":401,"timeStamp":"20170120152253514","version":"1.0"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request method should be set to 'POST', not 'GET'.","statusCode":405,"timeStamp":"20170120152253514","version":"1.0"}}}},"413":{"description":"Payload Too Large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request POST data is: 205kb. The maximum POST size allowed is 200kb.","statusCode":413,"timeStamp":"20170120152253514","version":"1.0"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request content-type should be set to 'application/json', not 'text/plain'.","statusCode":415,"timeStamp":"20170120152253514","version":"1.0"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"At least one non-numeric api Id was supplied in the apiIds array.","statusCode":422,"timeStamp":"20170120152253514","version":"1.0"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"An unknown error has occurred - authorising API Key","statusCode":500,"timeStamp":"20170120152253514","version":"1.0"}}}}}}},"/sms/scheduled":{"get":{"tags":["sms"],"summary":"Get a list of scheduled SMS messages","description":"Get a list of all scheduled SMS messages that have not yet been sent.\n\nOnly the first 100 scheduled messages will be returned if no ***offset*** and ***limit*** parameters are specified.\n","operationId":"getScheduledMessages","parameters":[{"name":"offset","in":"query","description":"***Optional*** - The number of items to skip before starting to return results. Default 0. Minimum 0.\n","schema":{"minimum":0,"type":"integer","default":0}},{"name":"limit","in":"query","description":"***Optional*** - The number of items to return. Default 100. Minimum 1. Maximum 1000.\n","schema":{"maximum":1000,"minimum":1,"type":"integer","default":100}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"scheduledMessageResponse","type":"object","properties":{"resultsLimit":{"type":"integer","description":"The number of items returned in the results. This is the value specified in the ***limit*** parameter sent to the endpoint. If the parameter was not specified, this defaults to 100.\n"},"resultsOffset":{"type":"integer","description":"The number of items skipped before the results were returned. This is the value specified in the ***offset*** parameter sent to the endpoint. If the parameter was not specified, this defaults to 0.\n"},"resultsTotalAvailable":{"type":"integer","description":"The total number of results available for retrieval. The ***offset*** and ***limit*** properties specify which of the total available results have been returned.\n"},"scheduledMessages":{"maxItems":1000,"minItems":1,"type":"array","description":"An array of ***scheduledMessage*** objects containing properties of each unsent scheduled message.\n","items":{"title":"scheduledMessage","type":"object","properties":{"apiMessageId":{"type":"integer","description":"The WinSMS API Message Id identifying the SMS message.","example":2316},"creditCost":{"type":"number","description":"The number of credits deducted from your account for the SMS to this recipient.\n\nThis is the number of credits that will be refunded if you delete this scheduled message.\n","format":"double","example":1.3},"mobileNumber":{"type":"string","description":"The mobile number of the recipient of the SMS message, using the international E164 (without the plus) format","example":"27824444444"},"scheduledSendTime":{"type":"string","description":"The date and time the message is scheduled to be delivered to the recipient, in the format YYYYMMDDHHmm.","example":"201812250930"},"submitTime":{"type":"string","description":"The date and time the message was originally submitted for scheduled delivery, in the format YYYYMMDDHHmm.","example":"201712251431"}},"example":{"apiMessageId":2316,"creditCost":1,"mobileNumber":"27444444444","scheduledSendTime":"201712251430","submitTime":"201710220850"}}},"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience"},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS"},"version":{"type":"string","description":"The current version of the API of the endpoint that was called"}},"example":{"resultsLimit":100,"resultsOffset":3400,"resultsTotalAvailable":3402,"scheduledMessages":[{"apiMessageId":2316,"creditCost":1,"mobileNumber":"27444444444","scheduledSendTime":"201712251430","submitTime":"201710220850"},{"apiMessageId":2317,"creditCost":1,"mobileNumber":"27555555555","scheduledSendTime":"201712251430","submitTime":"201710220850"}],"statusCode":200,"timeStamp":"20170117054658978","version":"1.0"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The 'AUTHORIZATION' header was not found. Set the 'AUTHORIZATION' request header to your WinSMS API Key","statusCode":401,"timeStamp":"20170120152253514","version":"1.0"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request method should be set to 'GET', not 'PUT'.","statusCode":405,"timeStamp":"20170120152253514","version":"1.0"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The offset parameter must be a number greater than or equal to 0.","statusCode":422,"timeStamp":"20170120152253514","version":"1.0"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"An unknown error has occurred - authorising API Key","statusCode":500,"timeStamp":"20170120152253514","version":"1.0"}}}}}}},"/sms/scheduled/delete":{"post":{"tags":["sms"],"summary":"Delete scheduled SMS messages and refund credits","description":"Delete a list of previously scheduled SMS messages that have not yet been sent.\n\nCredits originally deducted for each SMS message will be refunded to your account upon successful deletion.\n","operationId":"deleteScheduledMessages","requestBody":{"description":"An array of WinSMS API Ids received after submitting scheduled messages to the ***/sms/outgoing/send*** endpoint.<br> A maximum of 1000 API Ids can be supplied in a single request.\n","content":{"application/json":{"schema":{"maxItems":1000,"minItems":1,"type":"array","example":[2316,2317],"items":{"type":"integer"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"deleteScheduledResponse","type":"object","properties":{"deletedMessageStatuses":{"maxItems":1000,"minItems":1,"type":"array","description":"An array of ***deletedMessageStatus*** objects detailing the deleted status of each message requested for deletion.\n","items":{"title":"deletedMessageStatus","type":"object","properties":{"apiMessageId":{"type":"integer","description":"The WinSMS API Message Id identifying the SMS message.\n","example":2316},"creditCost":{"type":"number","description":"The number of credits refunded to your account after deleting the scheduled message.\n\nIf the deletion was unsuccessful, this value will be 0.\n","format":"double","example":1.3},"deleteError":{"type":"string","description":"If the ***deleted*** value is false, this will contain an error code indicating the reason for the failure. If the scheduled SMS message was successfully deleted, this value will be blank.\n","example":"NOTFOUND"},"deleted":{"type":"boolean","description":"A boolean value indicating whether a scheduled SMS message was successfully deleted\n","example":true},"mobileNumber":{"type":"string","description":"The mobile number of the recipient of the SMS message, using the international E164 (without the plus) format\n","example":"27824444444"}},"example":{"apiMessageId":2316,"creditCost":1,"deleteError":"","deleted":true,"mobileNumber":"27444444444"}}},"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience"},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS"},"version":{"type":"string","description":"The current version of the API of the endpoint that was called"}},"example":{"deletedMessageStatuses":[{"apiMessageId":2316,"creditCost":1,"deleteError":"","deleted":true,"mobileNumber":"27444444444"},{"apiMessageId":2317,"creditCost":0,"deleteError":"NOTFOUND","deleted":false,"mobileNumber":"27555555555"}],"statusCode":200,"timeStamp":"20170117054658978","version":"1.0"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Invalid JSON payload received","statusCode":400,"timeStamp":"20170120152253514","version":"1.0"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The 'AUTHORIZATION' header was not found. Set the 'AUTHORIZATION' request header to your WinSMS API Key","statusCode":401,"timeStamp":"20170120152253514","version":"1.0"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request method should be set to 'POST', not 'GET'.","statusCode":405,"timeStamp":"20170120152253514","version":"1.0"}}}},"413":{"description":"Payload Too Large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request POST data is: 205kb. The maximum POST size allowed is 200kb.","statusCode":413,"timeStamp":"20170120152253514","version":"1.0"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request content-type should be set to 'application/json', not 'text/plain'.","statusCode":415,"timeStamp":"20170120152253514","version":"1.0"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"At least one non-numeric api Id was supplied in the apiIds array.","statusCode":422,"timeStamp":"20170120152253514","version":"1.0"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"An unknown error has occurred - authorising API Key","statusCode":500,"timeStamp":"20170120152253514","version":"1.0"}}}}}}},"/subaccounts":{"get":{"tags":["subaccounts"],"summary":"Get a list of all Sub Accounts.","description":"Get a list of all the Sub Accounts owned by the Main Account.","operationId":"getSubAccounts","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"title":"subAccountsResponse","type":"object","properties":{"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience"},"subAccounts":{"type":"array","description":"An array of ***subAccount*** objects containing properties of each Sub Account owned by the Main Account.\n","items":{"title":"subAccount","type":"object","properties":{"accountNumber":{"type":"integer","description":"The WinSMS account number of the Sub Account. This is supplied as an integer, without the leading 'W' displayed in the WinSMS Client Zone.\n","example":58324},"creditBalance":{"type":"number","description":"The remaining credit balance for the Sub Account.\n","example":201.4},"firstName":{"type":"string","description":"The first name of the user that the Sub Account is registered to.\n","example":"Jon"},"loginName":{"type":"string","description":"The login name of the user that the Sub Account is registered to.\n","example":"jon@castleblack.com"},"surname":{"type":"string","description":"The surname of the user that the Sub Account is registered to.\n","example":"Snow"}},"example":{"accountNumber":58324,"creditBalance":201.4,"firstName":"Jon","loginName":"jon@castleblack.com","surname":"Snow"}}},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS"},"version":{"type":"string","description":"The current version of the API of the endpoint that was called"}},"example":{"statusCode":200,"subAccounts":[{"accountNumber":58324,"creditBalance":201.4,"firstName":"Jon","loginName":"jon@castleblack.com","surname":"Snow"},{"accountNumber":98676,"creditBalance":1936,"firstName":"Daenerys","loginName":"khaleesi","surname":"Targaryen"}],"timeStamp":"20170117054658978","version":"1.0"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The 'AUTHORIZATION' header was not found. Set the 'AUTHORIZATION' request header to your WinSMS API Key","statusCode":401,"timeStamp":"20170120152253514","version":"1.0"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"Request method should be set to 'GET', not 'PUT'.","statusCode":405,"timeStamp":"20170120152253514","version":"1.0"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorDetails"},"example":{"errorMessage":"An unknown error has occurred - authorising API Key","statusCode":500,"timeStamp":"20170120152253514","version":"1.0"}}}}}}}},"components":{"schemas":{"errorDetails":{"title":"errorDetails","type":"object","properties":{"errorMessage":{"type":"string","description":"A plain text description of the error that occurred, and possible solutions if available. \n"},"statusCode":{"type":"integer","description":"The http status code returned - reflected in the body for convenience\n"},"timeStamp":{"type":"string","description":"The date/time the request was processed, in the format YYYYMMDDhhmmssSSS\n"},"version":{"type":"string","description":"The current version of the API of the endpoint that was called\n"}},"example":{"errorMessage":"The resource requested does not exist. Please verify the path, spelling, and capitalisation\n","statusCode":404,"timeStamp":"20170120152253514","version":"1.0"}}},"securitySchemes":{"APIKeyHeader":{"type":"apiKey","description":"Valid API Key supplied by WinSMS","name":"AUTHORIZATION","in":"header"}}}}