{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DeploymentAdminClient",
    "description" : "Deployment Admin Client.",
    "version" : "2019-01-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Deployment.Admin/operations" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "description" : "Returns the list of supported REST operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Display" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views."
          },
          "operation" : {
            "type" : "string",
            "description" : "The localized, friendly name for the operation. Use the name as it will displayed to the user."
          },
          "provider" : {
            "type" : "string",
            "description" : "The localized, friendly version of the resource provider name. The provider name is expected to include the name of the publisher or company responsible. The provider name format should use title case and begin with \"Microsoft\" for first-party services. For example, the provider name may be\"Microsoft Monitoring Insights\" or \"Microsoft Compute.\""
          },
          "resource" : {
            "type" : "string",
            "description" : "The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider."
          }
        },
        "description" : "Contains the localized display information for this particular operation or action."
      },
      "ExtendedErrorInfo" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error Code"
          },
          "details" : {
            "$ref" : "#/components/schemas/ExtendedErrorInfo"
          },
          "message" : {
            "type" : "string",
            "description" : "Error Message"
          }
        },
        "description" : "Error information"
      },
      "JTokenString" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "string",
            "description" : "Parameters as JToken string"
          }
        },
        "description" : "Error information"
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/Display"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the operation being performed on this particular object. This name should match the name that appears in RBAC or the event service."
          },
          "origin" : {
            "type" : "string",
            "description" : "Origin for the operation. Eg. User, System"
          }
        },
        "description" : "Describes the supported REST operation."
      },
      "OperationList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page of operations."
          },
          "value" : {
            "type" : "array",
            "description" : "Array of operations",
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "List of Operations"
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "ID of the resource.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Location of the resource."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the resource.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Type of Resource.",
            "readOnly" : true
          }
        },
        "description" : "Object model of azure resource manager base."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client API Version.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "default" : "2019-01-01"
        }
      },
      "LocationParameter" : {
        "name" : "location",
        "in" : "path",
        "description" : "Location of the resource.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "default" : "2019-01-01"
        }
      },
      "ProductIdParameter" : {
        "name" : "productId",
        "in" : "path",
        "description" : "The product identifier.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}