{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "BlockchainManagementClient",
    "description" : "REST API for Azure Blockchain Service",
    "version" : "2018-06-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Blockchain/operations" : {
      "get" : {
        "tags" : [ "Operation" ],
        "description" : "Lists the available operations of Microsoft.Blockchain resource provider.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceProviderOperationCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/blockchainMembers" : {
      "get" : {
        "tags" : [ "BlockchainMember" ],
        "description" : "Lists the blockchain members for a subscription.",
        "operationId" : "BlockchainMembers_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlockchainMemberCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/blockchainMemberOperationResults/{operationId}" : {
      "get" : {
        "tags" : [ "BlockchainMemberOperationResult" ],
        "description" : "Get Async operation result.",
        "operationId" : "BlockchainMemberOperationResults_Get",
        "parameters" : [ {
          "name" : "locationName",
          "in" : "path",
          "description" : "Location name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "operationId",
          "in" : "path",
          "description" : "Operation Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "204" : {
            "description" : "Success"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/checkNameAvailability" : {
      "post" : {
        "tags" : [ "Location" ],
        "description" : "To check whether a resource name is available.",
        "operationId" : "Locations_CheckNameAvailability",
        "parameters" : [ {
          "name" : "locationName",
          "in" : "path",
          "description" : "Location Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Name availability request payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NameAvailabilityRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NameAvailability"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/listConsortiums" : {
      "post" : {
        "tags" : [ "Location" ],
        "description" : "Lists the available consortiums for a subscription.",
        "operationId" : "Locations_ListConsortiums",
        "parameters" : [ {
          "name" : "locationName",
          "in" : "path",
          "description" : "Location Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsortiumCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/skus" : {
      "get" : {
        "tags" : [ "Sku" ],
        "description" : "Lists the Skus of the resource type.",
        "operationId" : "Skus_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceTypeSkuCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers" : {
      "get" : {
        "tags" : [ "BlockchainMember" ],
        "description" : "Lists the blockchain members for a resource group.",
        "operationId" : "BlockchainMembers_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlockchainMemberCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}" : {
      "get" : {
        "tags" : [ "BlockchainMember" ],
        "description" : "Get details about a blockchain member.",
        "operationId" : "BlockchainMembers_Get",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlockchainMember"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "BlockchainMember" ],
        "description" : "Create a blockchain member.",
        "operationId" : "BlockchainMembers_Create",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payload to create a blockchain member.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BlockchainMember"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlockchainMember"
                }
              }
            }
          },
          "201" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlockchainMember"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BlockchainMember" ],
        "description" : "Delete a blockchain member.",
        "operationId" : "BlockchainMembers_Delete",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Success"
          },
          "204" : {
            "description" : "Success"
          }
        }
      },
      "patch" : {
        "tags" : [ "BlockchainMember" ],
        "description" : "Update a blockchain member.",
        "operationId" : "BlockchainMembers_Update",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payload to update the blockchain member.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BlockchainMemberUpdate"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlockchainMember"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/consortiumMembers" : {
      "get" : {
        "tags" : [ "BlockchainMember" ],
        "description" : "Lists the consortium members for a blockchain member.",
        "operationId" : "BlockchainMembers_ListConsortiumMembers",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsortiumMemberCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/listApiKeys" : {
      "post" : {
        "tags" : [ "BlockchainMember" ],
        "description" : "Lists the API keys for a blockchain member.",
        "operationId" : "BlockchainMembers_ListApiKeys",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKeyCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/regenerateApiKeys" : {
      "post" : {
        "tags" : [ "BlockchainMember" ],
        "description" : "Regenerate the API keys for a blockchain member.",
        "operationId" : "BlockchainMembers_ListRegenerateApiKeys",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "api key to be regenerate",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiKey"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKeyCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes" : {
      "get" : {
        "tags" : [ "TransactionNode" ],
        "description" : "Lists the transaction nodes for a blockchain member.",
        "operationId" : "TransactionNodes_List",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionNodeCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}" : {
      "get" : {
        "tags" : [ "TransactionNode" ],
        "description" : "Get the details of the transaction node.",
        "operationId" : "TransactionNodes_Get",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionNodeName",
          "in" : "path",
          "description" : "Transaction node name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionNode"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "TransactionNode" ],
        "description" : "Create or update the transaction node.",
        "operationId" : "TransactionNodes_Create",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionNodeName",
          "in" : "path",
          "description" : "Transaction node name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payload to create the transaction node.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TransactionNode"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionNode"
                }
              }
            }
          },
          "201" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionNode"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "TransactionNode" ],
        "description" : "Delete the transaction node.",
        "operationId" : "TransactionNodes_Delete",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionNodeName",
          "in" : "path",
          "description" : "Transaction node name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Success"
          },
          "204" : {
            "description" : "Success"
          }
        }
      },
      "patch" : {
        "tags" : [ "TransactionNode" ],
        "description" : "Update the transaction node.",
        "operationId" : "TransactionNodes_Update",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionNodeName",
          "in" : "path",
          "description" : "Transaction node name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payload to create the transaction node.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TransactionNodeUpdate"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionNode"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}/listApiKeys" : {
      "post" : {
        "tags" : [ "TransactionNode" ],
        "description" : "List the API keys for the transaction node.",
        "operationId" : "TransactionNodes_ListApiKeys",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionNodeName",
          "in" : "path",
          "description" : "Transaction node name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKeyCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}/regenerateApiKeys" : {
      "post" : {
        "tags" : [ "TransactionNode" ],
        "description" : "Regenerate the API keys for the blockchain member.",
        "operationId" : "TransactionNodes_ListRegenerateApiKeys",
        "parameters" : [ {
          "name" : "blockchainMemberName",
          "in" : "path",
          "description" : "Blockchain member name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionNodeName",
          "in" : "path",
          "description" : "Transaction node name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-06-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "api key to be regenerated",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiKey"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKeyCollection"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApiKey" : {
        "type" : "object",
        "properties" : {
          "keyName" : {
            "type" : "string",
            "description" : "Gets or sets the API key name."
          },
          "value" : {
            "type" : "string",
            "description" : "Gets or sets the API key value."
          }
        },
        "description" : "API key payload which is exposed in the request/response of the resource provider."
      },
      "ApiKeyCollection" : {
        "type" : "object",
        "properties" : {
          "keys" : {
            "type" : "array",
            "description" : "Gets or sets the collection of API key.",
            "items" : {
              "$ref" : "#/components/schemas/ApiKey"
            }
          }
        },
        "description" : "Collection of the API key payload which is exposed in the response of the resource provider."
      },
      "BlockchainMember" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/BlockchainMemberProperties"
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          }
        },
        "description" : "Payload of the blockchain member which is exposed in the request/response of the resource provider.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/TrackedResource"
        } ]
      },
      "BlockchainMemberCollection" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets or sets the URL, that the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets or sets the collection of blockchain members.",
            "items" : {
              "$ref" : "#/components/schemas/BlockchainMember"
            }
          }
        },
        "description" : "Collection of the blockchain member payload which is exposed in the request/response of the resource provider."
      },
      "BlockchainMemberNodesSku" : {
        "type" : "object",
        "properties" : {
          "capacity" : {
            "type" : "integer",
            "description" : "Gets or sets the nodes capacity.",
            "format" : "int32"
          }
        },
        "description" : "Payload of the blockchain member nodes Sku for a blockchain member."
      },
      "BlockchainMemberProperties" : {
        "type" : "object",
        "properties" : {
          "consortium" : {
            "type" : "string",
            "description" : "Gets or sets the consortium for the blockchain member."
          },
          "consortiumManagementAccountAddress" : {
            "type" : "string",
            "description" : "Gets the managed consortium management account address.",
            "readOnly" : true
          },
          "consortiumManagementAccountPassword" : {
            "type" : "string",
            "description" : "Sets the managed consortium management account password."
          },
          "consortiumMemberDisplayName" : {
            "type" : "string",
            "description" : "Gets the display name of the member in the consortium."
          },
          "consortiumRole" : {
            "type" : "string",
            "description" : "Gets the role of the member in the consortium."
          },
          "dns" : {
            "type" : "string",
            "description" : "Gets the dns endpoint of the blockchain member.",
            "readOnly" : true
          },
          "firewallRules" : {
            "type" : "array",
            "description" : "Gets or sets firewall rules",
            "items" : {
              "$ref" : "#/components/schemas/FirewallRule"
            }
          },
          "password" : {
            "type" : "string",
            "description" : "Sets the basic auth password of the blockchain member."
          },
          "protocol" : {
            "type" : "string",
            "description" : "Gets or sets the blockchain protocol.",
            "enum" : [ "NotSpecified", "Parity", "Quorum", "Corda" ]
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Gets or sets the blockchain member provision state.",
            "readOnly" : true,
            "enum" : [ "NotSpecified", "Updating", "Deleting", "Succeeded", "Failed", "Stale" ]
          },
          "publicKey" : {
            "type" : "string",
            "description" : "Gets the public key of the blockchain member (default transaction node).",
            "readOnly" : true
          },
          "rootContractAddress" : {
            "type" : "string",
            "description" : "Gets the Ethereum root contract address of the blockchain.",
            "readOnly" : true
          },
          "userName" : {
            "type" : "string",
            "description" : "Gets the auth user name of the blockchain member.",
            "readOnly" : true
          },
          "validatorNodesSku" : {
            "$ref" : "#/components/schemas/BlockchainMemberNodesSku"
          }
        },
        "description" : "Payload of the blockchain member properties for a blockchain member."
      },
      "BlockchainMemberPropertiesUpdate" : {
        "properties" : {
          "consortiumManagementAccountPassword" : {
            "type" : "string",
            "description" : "Sets the managed consortium management account password."
          }
        },
        "description" : "Update the payload of the blockchain member properties for a blockchain member.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/TransactionNodePropertiesUpdate"
        } ]
      },
      "BlockchainMemberUpdate" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/BlockchainMemberPropertiesUpdate"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Tags of the service which is a list of key value pairs that describes the resource."
          }
        },
        "description" : "Update the payload of the blockchain member which is exposed in the request/response of the resource provider."
      },
      "Consortium" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the blockchain member name."
          },
          "protocol" : {
            "type" : "string",
            "description" : "Gets or sets the protocol for the consortium.",
            "enum" : [ "NotSpecified", "Parity", "Quorum", "Corda" ]
          }
        },
        "description" : "Consortium payload"
      },
      "ConsortiumCollection" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "Gets or sets the collection of consortiums.",
            "items" : {
              "$ref" : "#/components/schemas/Consortium"
            }
          }
        },
        "description" : "Collection of the consortium payload."
      },
      "ConsortiumMember" : {
        "type" : "object",
        "properties" : {
          "dateModified" : {
            "type" : "string",
            "description" : "Gets the consortium member modified date.",
            "format" : "date-time"
          },
          "displayName" : {
            "type" : "string",
            "description" : "Gets the consortium member display name."
          },
          "joinDate" : {
            "type" : "string",
            "description" : "Gets the consortium member join date.",
            "format" : "date-time"
          },
          "name" : {
            "type" : "string",
            "description" : "Gets the consortium member name."
          },
          "role" : {
            "type" : "string",
            "description" : "Gets the consortium member role."
          },
          "status" : {
            "type" : "string",
            "description" : "Gets the consortium member status."
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "Gets the consortium member subscription id."
          }
        },
        "description" : "Consortium approval"
      },
      "ConsortiumMemberCollection" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets or sets the URL, that the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets or sets the collection of consortiums.",
            "items" : {
              "$ref" : "#/components/schemas/ConsortiumMember"
            }
          }
        },
        "description" : "Collection of consortium payload."
      },
      "FirewallRule" : {
        "type" : "object",
        "properties" : {
          "endIpAddress" : {
            "type" : "string",
            "description" : "Gets or sets the end IP address of the firewall rule range."
          },
          "ruleName" : {
            "type" : "string",
            "description" : "Gets or sets the name of the firewall rules."
          },
          "startIpAddress" : {
            "type" : "string",
            "description" : "Gets or sets the start IP address of the firewall rule range."
          }
        },
        "description" : "Ip range for firewall rules"
      },
      "NameAvailability" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "Gets or sets the message."
          },
          "nameAvailable" : {
            "type" : "boolean",
            "description" : "Gets or sets the value indicating whether the name is available."
          },
          "reason" : {
            "type" : "string",
            "description" : "Gets or sets the name availability reason.",
            "enum" : [ "NotSpecified", "AlreadyExists", "Invalid" ]
          }
        },
        "description" : "Name availability payload which is exposed in the response of the resource provider."
      },
      "NameAvailabilityRequest" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name to check."
          },
          "type" : {
            "type" : "string",
            "description" : "Gets or sets the type of the resource to check."
          }
        },
        "description" : "Name availability request payload which is exposed in the request of the resource provider."
      },
      "OperationResult" : {
        "type" : "object",
        "properties" : {
          "endTime" : {
            "type" : "string",
            "description" : "Gets or sets the operation end time.",
            "format" : "date-time"
          },
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the operation name."
          },
          "startTime" : {
            "type" : "string",
            "description" : "Gets or sets the operation start time.",
            "format" : "date-time"
          }
        },
        "description" : "Operation result payload which is exposed in the response of the resource provider."
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Fully qualified resource Id of the resource.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the resource.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the service - e.g. \"Microsoft.Blockchain\"",
            "readOnly" : true
          }
        },
        "description" : "The core properties of the resources."
      },
      "ResourceProviderOperation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/ResourceProviderOperationDisplay"
          },
          "isDataAction" : {
            "type" : "boolean",
            "description" : "Gets or sets a value indicating whether the operation is a data action or not."
          },
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the operation name."
          },
          "origin" : {
            "type" : "string",
            "description" : "Gets or sets the origin."
          }
        },
        "description" : "Operation payload which is exposed in the response of the resource provider."
      },
      "ResourceProviderOperationCollection" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets or sets the URL, that the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets or sets the collection of operations.",
            "items" : {
              "$ref" : "#/components/schemas/ResourceProviderOperation"
            }
          }
        },
        "description" : "Collection of operation payload which is exposed in the response of the resource provider."
      },
      "ResourceProviderOperationDisplay" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description of the provider for display purposes."
          },
          "operation" : {
            "type" : "string",
            "description" : "Gets or sets the name of the operation for display purposes."
          },
          "provider" : {
            "type" : "string",
            "description" : "Gets or sets the name of the provider for display purposes."
          },
          "resource" : {
            "type" : "string",
            "description" : "Gets or sets the name of the resource type for display purposes."
          }
        },
        "description" : "Operation display payload which is exposed in the response of the resource provider."
      },
      "ResourceTypeSku" : {
        "type" : "object",
        "properties" : {
          "resourceType" : {
            "type" : "string",
            "description" : "Gets or sets the resource type"
          },
          "skus" : {
            "type" : "array",
            "description" : "Gets or sets the Skus",
            "items" : {
              "$ref" : "#/components/schemas/SkuSetting"
            }
          }
        },
        "description" : "Resource type Sku."
      },
      "ResourceTypeSkuCollection" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "Gets or sets the collection of resource type Sku.",
            "items" : {
              "$ref" : "#/components/schemas/ResourceTypeSku"
            }
          }
        },
        "description" : "Collection of the resource type Sku."
      },
      "Sku" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets Sku name"
          },
          "tier" : {
            "type" : "string",
            "description" : "Gets or sets Sku tier"
          }
        },
        "description" : "Blockchain member Sku in payload"
      },
      "SkuSetting" : {
        "type" : "object",
        "properties" : {
          "locations" : {
            "type" : "array",
            "description" : "Gets or sets the locations.",
            "items" : {
              "type" : "string"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the Sku name."
          },
          "requiredFeatures" : {
            "type" : "array",
            "description" : "Gets or sets the required features.",
            "items" : {
              "type" : "string"
            }
          },
          "tier" : {
            "type" : "string",
            "description" : "Gets or sets the Sku tier."
          }
        },
        "description" : "Sku Setting."
      },
      "TrackedResource" : {
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "The GEO location of the blockchain service."
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Tags of the service which is a list of key value pairs that describes the resource."
          }
        },
        "description" : "The resource model definition for a top level resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "TransactionNode" : {
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "Gets or sets the transaction node location."
          },
          "properties" : {
            "$ref" : "#/components/schemas/TransactionNodeProperties"
          }
        },
        "description" : "Payload of the transaction node which is the request/response of the resource provider.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "TransactionNodeCollection" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets or sets the URL, that the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets or sets the collection of transaction nodes.",
            "items" : {
              "$ref" : "#/components/schemas/TransactionNode"
            }
          }
        },
        "description" : "Collection of transaction node payload which is exposed in the request/response of the resource provider."
      },
      "TransactionNodeProperties" : {
        "type" : "object",
        "properties" : {
          "dns" : {
            "type" : "string",
            "description" : "Gets or sets the transaction node dns endpoint.",
            "readOnly" : true
          },
          "firewallRules" : {
            "type" : "array",
            "description" : "Gets or sets the firewall rules.",
            "items" : {
              "$ref" : "#/components/schemas/FirewallRule"
            }
          },
          "password" : {
            "type" : "string",
            "description" : "Sets the transaction node dns endpoint basic auth password."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Gets or sets the blockchain member provision state.",
            "readOnly" : true,
            "enum" : [ "NotSpecified", "Updating", "Deleting", "Succeeded", "Failed" ]
          },
          "publicKey" : {
            "type" : "string",
            "description" : "Gets or sets the transaction node public key.",
            "readOnly" : true
          },
          "userName" : {
            "type" : "string",
            "description" : "Gets or sets the transaction node dns endpoint basic auth user name.",
            "readOnly" : true
          }
        },
        "description" : "Payload of transaction node properties payload in the transaction node payload."
      },
      "TransactionNodePropertiesUpdate" : {
        "type" : "object",
        "properties" : {
          "firewallRules" : {
            "type" : "array",
            "description" : "Gets or sets the firewall rules.",
            "items" : {
              "$ref" : "#/components/schemas/FirewallRule"
            }
          },
          "password" : {
            "type" : "string",
            "description" : "Sets the transaction node dns endpoint basic auth password."
          }
        },
        "description" : "Update the payload of the transaction node properties in the transaction node payload."
      },
      "TransactionNodeUpdate" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/TransactionNodePropertiesUpdate"
          }
        },
        "description" : "Update the transaction node payload which is exposed in the request/response of the resource provider."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client API Version.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "2018-06-01-preview" ]
        }
      },
      "ResourceGroupParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}