{"openapi":"3.0.1","info":{"title":"MonitorManagementClient","version":"2017-05-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/{resourceUri}/providers/microsoft.insights/diagnosticSettingsCategories":{"get":{"tags":["DiagnosticSettingsCategories"],"description":"Lists the diagnostic settings categories for the specified resource.","operationId":"DiagnosticSettingsCategory_List","parameters":[{"name":"resourceUri","in":"path","description":"The identifier of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request to get more information about diagnostic setting category","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticSettingsCategoryResourceCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/{resourceUri}/providers/microsoft.insights/diagnosticSettingsCategories/{name}":{"get":{"tags":["DiagnosticSettingsCategories"],"description":"Gets the diagnostic settings category for the specified resource.","operationId":"DiagnosticSettingsCategory_Get","parameters":[{"name":"resourceUri","in":"path","description":"The identifier of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"The name of the diagnostic setting.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request to get more information about diagnostic setting category","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticSettingsCategoryResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"DiagnosticSettingsCategory":{"type":"object","properties":{"categoryType":{"type":"string","description":"The type of the diagnostic settings category.","nullable":false,"enum":["Metrics","Logs"]}},"description":"The diagnostic settings Category."},"DiagnosticSettingsCategoryResource":{"properties":{"properties":{"$ref":"#/components/schemas/DiagnosticSettingsCategory"}},"description":"The diagnostic settings category resource.","allOf":[{"$ref":"#/components/schemas/ProxyOnlyResource"}]},"DiagnosticSettingsCategoryResourceCollection":{"type":"object","properties":{"value":{"type":"array","description":"The collection of diagnostic settings category resources.","items":{"$ref":"#/components/schemas/DiagnosticSettingsCategoryResource"}}},"description":"Represents a collection of diagnostic setting category resources."},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."},"ProxyOnlyResource":{"type":"object","properties":{"id":{"type":"string","description":"Azure resource Id","readOnly":true},"name":{"type":"string","description":"Azure resource name","readOnly":true},"type":{"type":"string","description":"Azure resource type","readOnly":true}},"description":"A proxy only azure resource object"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"NameParameter":{"name":"name","in":"path","description":"The name of the diagnostic setting.","required":true,"schema":{"type":"string"}},"ResourceUriParameter":{"name":"resourceUri","in":"path","description":"The identifier of the resource.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}