{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure Metrics",
    "description" : "A client for issuing REST requests to the Azure metrics service.",
    "version" : "2018-09-01-preview"
  },
  "servers" : [ {
    "url" : "https://monitoring.azure.com/"
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProvider}/{resourceTypeName}/{resourceName}/metrics" : {
      "post" : {
        "tags" : [ "Metrics" ],
        "description" : "**Post the metric values for a resource**.",
        "operationId" : "Metrics_Create",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Supports application/json and application/x-ndjson",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Length",
          "in" : "header",
          "description" : "Content length of the payload",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization token issue for issued for audience \"https:\\\\monitoring.azure.com\\\"",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The azure subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The ARM resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceProvider",
          "in" : "path",
          "description" : "The ARM resource provider name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceTypeName",
          "in" : "path",
          "description" : "The ARM resource type name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The ARM resource name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The Azure metrics document json payload",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AzureMetricsDocument"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The azure metrics publish succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AzureMetricsResult"
                }
              }
            }
          },
          "default" : {
            "description" : "An unexpected error from the server. See response object for the reason",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AzureMetricsResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApiError" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Gets or sets the azure metrics error code"
          },
          "message" : {
            "type" : "string",
            "description" : "Gets or sets the azure metrics error message"
          }
        }
      },
      "ApiFailureResponse" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/ApiError"
          }
        }
      },
      "AzureMetricsBaseData" : {
        "required" : [ "metric", "namespace", "series" ],
        "type" : "object",
        "properties" : {
          "dimNames" : {
            "type" : "array",
            "description" : "Gets or sets the list of dimension names (optional)",
            "items" : {
              "type" : "string"
            }
          },
          "metric" : {
            "type" : "string",
            "description" : "Gets or sets the Metric name"
          },
          "namespace" : {
            "type" : "string",
            "description" : "Gets or sets the Metric namespace"
          },
          "series" : {
            "type" : "array",
            "description" : "Gets or sets the list of time series data for the metric (one per unique dimension combination)",
            "items" : {
              "$ref" : "#/components/schemas/AzureTimeSeriesData"
            }
          }
        }
      },
      "AzureMetricsData" : {
        "required" : [ "baseData" ],
        "type" : "object",
        "properties" : {
          "baseData" : {
            "$ref" : "#/components/schemas/AzureMetricsBaseData"
          }
        }
      },
      "AzureMetricsDocument" : {
        "required" : [ "data", "time" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/AzureMetricsData"
          },
          "time" : {
            "type" : "string",
            "description" : "Gets or sets Time property (in ISO 8601 format)"
          }
        }
      },
      "AzureMetricsResult" : {
        "type" : "object",
        "properties" : {
          "apiFailureResponse" : {
            "$ref" : "#/components/schemas/ApiFailureResponse"
          },
          "statusCode" : {
            "type" : "integer",
            "description" : "Http status code response ",
            "format" : "int32"
          }
        }
      },
      "AzureTimeSeriesData" : {
        "required" : [ "count", "max", "min", "sum" ],
        "type" : "object",
        "properties" : {
          "count" : {
            "type" : "integer",
            "description" : "Gets or sets Count value",
            "format" : "int32"
          },
          "dimValues" : {
            "type" : "array",
            "description" : "Gets or sets dimension values",
            "items" : {
              "type" : "string"
            }
          },
          "max" : {
            "type" : "number",
            "description" : "Gets or sets Max value",
            "format" : "double"
          },
          "min" : {
            "type" : "number",
            "description" : "Gets or sets Min value",
            "format" : "double"
          },
          "sum" : {
            "type" : "number",
            "description" : "Gets or sets Sum value",
            "format" : "double"
          }
        }
      }
    }
  }
}