{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "1Forge Finance APIs",
    "description" : "Stock and Forex Data and Realtime Quotes",
    "contact" : {
      "name" : "1Forge",
      "url" : "http://1forge.com",
      "email" : "contact@1forge.com"
    },
    "version" : "0.0.1"
  },
  "servers" : [ {
    "url" : "https://1forge.com/forex-quotes"
  }, {
    "url" : "http://1forge.com/forex-quotes"
  } ],
  "paths" : {
    "/quotes" : {
      "get" : {
        "tags" : [ "forex", "finance", "quotes" ],
        "summary" : "Get quotes for all symbols",
        "description" : "Get quotes",
        "externalDocs" : {
          "description" : "Find out more",
          "url" : "http://1forge.com/forex-data-api"
        },
        "responses" : {
          "200" : {
            "description" : "A list of quotes"
          }
        }
      }
    },
    "/symbols" : {
      "get" : {
        "tags" : [ "forex", "finance", "quotes" ],
        "summary" : "Get a list of symbols for which we provide real-time quotes",
        "description" : "Symbol List",
        "externalDocs" : {
          "description" : "Find out more",
          "url" : "http://1forge.com/forex-data-api"
        },
        "responses" : {
          "200" : {
            "description" : "A list of symbols",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "example" : [ "EURUSD", "GBPJPY", "AUDUSD" ],
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}