{"openapi":"3.0.1","info":{"title":"AuthorizationManagementClient","description":"Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These operations enable you to get deny assignments. A deny assignment describes the set of actions on resources that are denied for Azure Active Directory users.","version":"2018-07-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/denyAssignments":{"get":{"tags":["DenyAssignments"],"description":"Gets all deny assignments for the subscription.","operationId":"DenyAssignments_List","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. Use $filter=atScope() to return all deny assignments at or above the scope. Use $filter=denyAssignmentName eq '{name}' to search deny assignments by name at specified scope. Use $filter=principalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. Use $filter=gdprExportPrincipalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. This filter is different from the principalId filter as it returns not only those deny assignments that contain the specified principal is the Principals list but also those deny assignments that contain the specified principal is the ExcludePrincipals list. Additionally, when gdprExportPrincipalId filter is used, only the deny assignment name and description properties are returned.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of deny assignments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DenyAssignmentListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/denyAssignments":{"get":{"tags":["DenyAssignments"],"description":"Gets deny assignments for a resource group.","operationId":"DenyAssignments_ListForResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. Use $filter=atScope() to return all deny assignments at or above the scope. Use $filter=denyAssignmentName eq '{name}' to search deny assignments by name at specified scope. Use $filter=principalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. Use $filter=gdprExportPrincipalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. This filter is different from the principalId filter as it returns not only those deny assignments that contain the specified principal is the Principals list but also those deny assignments that contain the specified principal is the ExcludePrincipals list. Additionally, when gdprExportPrincipalId filter is used, only the deny assignment name and description properties are returned.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of deny assignments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DenyAssignmentListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/denyAssignments":{"get":{"tags":["DenyAssignments"],"description":"Gets deny assignments for a resource.","operationId":"DenyAssignments_ListForResource","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"resourceProviderNamespace","in":"path","description":"The namespace of the resource provider.","required":true,"schema":{"type":"string"}},{"name":"parentResourcePath","in":"path","description":"The parent resource identity.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"The resource type of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the resource to get deny assignments for.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. Use $filter=atScope() to return all deny assignments at or above the scope. Use $filter=denyAssignmentName eq '{name}' to search deny assignments by name at specified scope. Use $filter=principalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. Use $filter=gdprExportPrincipalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. This filter is different from the principalId filter as it returns not only those deny assignments that contain the specified principal is the Principals list but also those deny assignments that contain the specified principal is the ExcludePrincipals list. Additionally, when gdprExportPrincipalId filter is used, only the deny assignment name and description properties are returned.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of deny assignments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DenyAssignmentListResult"}}}}}}},"/{denyAssignmentId}":{"get":{"tags":["DenyAssignments"],"description":"Gets a deny assignment by ID.","operationId":"DenyAssignments_GetById","parameters":[{"name":"denyAssignmentId","in":"path","description":"The fully qualified deny assignment ID. For example, use the format, /subscriptions/{guid}/providers/Microsoft.Authorization/denyAssignments/{denyAssignmentId} for subscription level deny assignments, or /providers/Microsoft.Authorization/denyAssignments/{denyAssignmentId} for tenant level deny assignments.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns the deny assignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DenyAssignment"}}}}}}},"/{scope}/providers/Microsoft.Authorization/denyAssignments":{"get":{"tags":["DenyAssignments"],"description":"Gets deny assignments for a scope.","operationId":"DenyAssignments_ListForScope","parameters":[{"name":"scope","in":"path","description":"The scope of the deny assignments.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. Use $filter=atScope() to return all deny assignments at or above the scope. Use $filter=denyAssignmentName eq '{name}' to search deny assignments by name at specified scope. Use $filter=principalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. Use $filter=gdprExportPrincipalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. This filter is different from the principalId filter as it returns not only those deny assignments that contain the specified principal is the Principals list but also those deny assignments that contain the specified principal is the ExcludePrincipals list. Additionally, when gdprExportPrincipalId filter is used, only the deny assignment name and description properties are returned.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of deny assignments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DenyAssignmentListResult"}}}}}}},"/{scope}/providers/Microsoft.Authorization/denyAssignments/{denyAssignmentId}":{"get":{"tags":["DenyAssignments"],"description":"Get the specified deny assignment.","operationId":"DenyAssignments_Get","parameters":[{"name":"scope","in":"path","description":"The scope of the deny assignment.","required":true,"schema":{"type":"string"}},{"name":"denyAssignmentId","in":"path","description":"The ID of the deny assignment to get.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns information about the deny assignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DenyAssignment"}}}}}}}},"components":{"schemas":{"DenyAssignment":{"type":"object","properties":{"id":{"type":"string","description":"The deny assignment ID.","readOnly":true},"name":{"type":"string","description":"The deny assignment name.","readOnly":true},"properties":{"$ref":"#/components/schemas/DenyAssignmentProperties"},"type":{"type":"string","description":"The deny assignment type.","readOnly":true}},"description":"Deny Assignment"},"DenyAssignmentFilter":{"type":"object","properties":{"denyAssignmentName":{"type":"string","description":"Return deny assignment with specified name."},"gdprExportPrincipalId":{"type":"string","description":"Return all deny assignments where the specified principal is listed either in the principals list or exclude principals list of deny assignments."},"principalId":{"type":"string","description":"Return all deny assignments where the specified principal is listed in the principals list of deny assignments."}},"description":"Deny Assignments filter"},"DenyAssignmentListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","description":"Deny assignment list.","items":{"$ref":"#/components/schemas/DenyAssignment"}}},"description":"Deny assignment list operation result."},"DenyAssignmentPermission":{"type":"object","properties":{"actions":{"type":"array","description":"Actions to which the deny assignment does not grant access.","items":{"type":"string"}},"dataActions":{"type":"array","description":"Data actions to which the deny assignment does not grant access.","items":{"type":"string"}},"notActions":{"type":"array","description":"Actions to exclude from that the deny assignment does not grant access.","items":{"type":"string"}},"notDataActions":{"type":"array","description":"Data actions to exclude from that the deny assignment does not grant access.","items":{"type":"string"}}},"description":"Deny assignment permissions."},"DenyAssignmentProperties":{"type":"object","properties":{"denyAssignmentName":{"type":"string","description":"The display name of the deny assignment."},"description":{"type":"string","description":"The description of the deny assignment."},"doNotApplyToChildScopes":{"type":"boolean","description":"Determines if the deny assignment applies to child scopes. Default value is false."},"excludePrincipals":{"type":"array","description":"Array of principals to which the deny assignment does not apply.","items":{"$ref":"#/components/schemas/Principal"}},"isSystemProtected":{"type":"boolean","description":"Specifies whether this deny assignment was created by Azure and cannot be edited or deleted."},"permissions":{"type":"array","description":"An array of permissions that are denied by the deny assignment.","items":{"$ref":"#/components/schemas/DenyAssignmentPermission"}},"principals":{"type":"array","description":"Array of principals to which the deny assignment applies.","items":{"$ref":"#/components/schemas/Principal"}},"scope":{"type":"string","description":"The deny assignment scope."}},"description":"Deny assignment properties."},"Principal":{"type":"object","properties":{"id":{"type":"string","description":"Object ID of the Azure AD principal (user, group, or service principal) to which the deny assignment applies. An empty guid '00000000-0000-0000-0000-000000000000' as principal id and principal type as 'Everyone' represents all users, groups and service principals.","readOnly":true},"type":{"type":"string","description":"Type of object represented by principal id (user, group, or service principal). An empty guid '00000000-0000-0000-0000-000000000000' as principal id and principal type as 'Everyone' represents all users, groups and service principals.","readOnly":true}},"description":"Deny assignment principal."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},"FilterParameter":{"name":"$filter","in":"query","description":"The filter to apply on the operation. Use $filter=atScope() to return all deny assignments at or above the scope. Use $filter=denyAssignmentName eq '{name}' to search deny assignments by name at specified scope. Use $filter=principalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. Use $filter=gdprExportPrincipalId eq '{id}' to return all deny assignments at, above and below the scope for the specified principal. This filter is different from the principalId filter as it returns not only those deny assignments that contain the specified principal is the Principals list but also those deny assignments that contain the specified principal is the ExcludePrincipals list. Additionally, when gdprExportPrincipalId filter is used, only the deny assignment name and description properties are returned.","schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"ResourceProviderNamespaceParameter":{"name":"resourceProviderNamespace","in":"path","description":"The namespace of the resource provider.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}