{"openapi":"3.0.1","info":{"title":"ApplicationInsightsManagementClient","description":"Azure Application Insights workbook type.","version":"2018-06-17-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooks":{"get":{"description":"Get all Workbooks defined within a specified resource group and category.","operationId":"Workbooks_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"category","in":"query","description":"Category of workbook to return.","required":true,"schema":{"type":"string","enum":["workbook","TSG","performance","retention"]}},{"name":"tags","in":"query","description":"Tags presents on each workbook returned.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sourceId","in":"query","description":"Azure Resource Id that will fetch all related workbooks.","required":true,"schema":{"type":"string"}},{"name":"canFetchContent","in":"query","description":"Flag indicating whether or not to return the full content for each applicable workbook. If false, only return summary content for workbooks.","schema":{"type":"boolean"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"A list containing 0 or more workbook definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkbooksListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkbookError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooks/{resourceName}":{"get":{"description":"Get a single workbook by its resourceName.","operationId":"Workbooks_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"A workbook definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workbook"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkbookError"}}}}}},"put":{"description":"Create a new workbook.","operationId":"Workbooks_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"query","description":"Azure Resource Id that will fetch all related workbooks.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"requestBody":{"description":"Properties that need to be specified to create a new workbook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workbook"}}},"required":true},"responses":{"200":{"description":"The newly created workbook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workbook"}}}},"201":{"description":"The newly created workbook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workbook"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkbookError"}}}}}},"delete":{"description":"Delete a workbook.","operationId":"Workbooks_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"201":{"description":"The workbook has been successfully deleted."},"204":{"description":"The resource doesn't exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkbookError"}}}}}},"patch":{"description":"Updates a workbook that has already been added.","operationId":"Workbooks_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"query","description":"Azure Resource Id that will fetch all related workbooks.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"requestBody":{"description":"Properties that need to be specified to create a new workbook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkbookUpdateParameters"}}},"required":false},"responses":{"200":{"description":"The workbook definition updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workbook"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkbookError"}}}}}}}},"components":{"schemas":{"ErrorFieldContract":{"type":"object","properties":{"code":{"type":"string","description":"Property level error code."},"message":{"type":"string","description":"Human-readable representation of property-level error."},"target":{"type":"string","description":"Property name."}},"description":"Error Field contract."},"Resource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Azure resource Id","readOnly":true},"kind":{"type":"string","description":"The kind of workbook. Choices are user and shared.","enum":["user","shared"]},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Azure resource name. This is GUID value. The display name should be assigned within properties field.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"Azure resource type","readOnly":true}},"description":"An azure resource object"},"Workbook":{"properties":{"properties":{"$ref":"#/components/schemas/WorkbookProperties"}},"description":"An Application Insights workbook definition.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"WorkbookError":{"type":"object","properties":{"code":{"type":"string","description":"Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."},"details":{"type":"array","description":"The list of invalid fields send in request, in case of validation error.","items":{"$ref":"#/components/schemas/ErrorFieldContract"}},"message":{"type":"string","description":"Human-readable representation of the error."}},"description":"Error message body that will indicate why the operation failed."},"WorkbookProperties":{"required":["category","displayName","serializedData","userId"],"type":"object","properties":{"category":{"type":"string","description":"Workbook category, as defined by the user at creation time."},"displayName":{"type":"string","description":"The user-defined name (display name) of the workbook."},"serializedData":{"type":"string","description":"Configuration of this particular workbook. Configuration data is a string containing valid JSON"},"tags":{"type":"array","description":"A list of 0 or more tags that are associated with this workbook definition","items":{"type":"string"}},"timeModified":{"type":"string","description":"Date and time in UTC of the last modification that was made to this workbook definition.","readOnly":true},"userId":{"type":"string","description":"Unique user id of the specific user that owns this workbook."},"version":{"type":"string","description":"Workbook version"}},"description":"Properties that contain a workbook."},"WorkbookPropertiesUpdateParameters":{"type":"object","properties":{"category":{"type":"string","description":"Workbook category, as defined by the user at creation time."},"displayName":{"type":"string","description":"The user-defined name (display name) of the workbook."},"serializedData":{"type":"string","description":"Configuration of this particular workbook. Configuration data is a string containing valid JSON"},"tags":{"type":"array","description":"A list of 0 or more tags that are associated with this workbook definition","items":{"type":"string"}}},"description":"Properties that contain a workbook for PATCH operation."},"WorkbookUpdateParameters":{"type":"object","properties":{"kind":{"type":"string","description":"The kind of workbook. Choices are user and shared.","enum":["user","shared"]},"properties":{"$ref":"#/components/schemas/WorkbookPropertiesUpdateParameters"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"}},"description":"The parameters that can be provided when updating workbook properties properties."},"WorkbooksListResult":{"type":"object","properties":{"value":{"type":"array","description":"An array of workbooks.","items":{"$ref":"#/components/schemas/Workbook"}}},"description":"Workbook list result."}},"parameters":{"CanFetchWorkbookContentParameter":{"name":"canFetchContent","in":"query","description":"Flag indicating whether or not to return the full content for each applicable workbook. If false, only return summary content for workbooks.","schema":{"type":"boolean"}},"CategoryParameter":{"name":"category","in":"query","description":"Category of workbook to return.","required":true,"schema":{"type":"string","enum":["workbook","TSG","performance","retention"]}},"SourceIdParameter":{"name":"sourceId","in":"query","description":"Azure Resource Id that will fetch all related workbooks.","required":true,"schema":{"type":"string"}},"TagsParameter":{"name":"tags","in":"query","description":"Tags presents on each workbook returned.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},"WorkbookResourceNameParameter":{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}