{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Merchant Identifier API V2",
    "description" : "API for Merchant Identifier",
    "contact" : {
      "name" : "ADS Data Services",
      "url" : "http://not.applicable.com",
      "email" : "ADS_Data_Services@mastercard.com"
    },
    "version" : "2.0.0"
  },
  "servers" : [ {
    "url" : "//api.mastercard.com/merchant-id/v2"
  } ],
  "paths" : {
    "/merchant-ids" : {
      "get" : {
        "tags" : [ "MerchantIds" ],
        "summary" : "Returns merchant descriptor and locator information based on the criteria you provide.\r\nInformation returned includes merchant DBA name, merchant category code (MCC), street address, city, state, postal code, country, and sales channels.",
        "operationId" : "GetMerchantIdentifiers",
        "parameters" : [ {
          "name" : "merchant_id",
          "in" : "query",
          "description" : "Merchant's name as provided by the issuer found on a cardholder statement. __Important: Please remove all spaces before submitting a API request.__ \r\n",
          "schema" : {
            "type" : "string"
          },
          "example" : "DOLIUMPTYLTDWELSHPOOLWA"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Determines how the search is performed.\r\n            ExactMatch returns either the one merchant that best fits the description or no results at all.\r\n            FuzzyMatch returns 0-20 merchants that are similar to the transaction descriptor. \r\n            If Type is not provided, defaults to ExactMatch.\r\n            Example: FuzzyMatch",
          "schema" : {
            "type" : "string",
            "default" : "ExactMatch"
          },
          "example" : "ExactMatch"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MerchantIds"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Address" : {
        "type" : "object",
        "properties" : {
          "city" : {
            "type" : "string",
            "description" : "Name of the city or town where the merchant is located."
          },
          "country" : {
            "$ref" : "#/components/schemas/Country"
          },
          "countrySubdivision" : {
            "$ref" : "#/components/schemas/CountrySubdivision"
          },
          "line1" : {
            "type" : "string",
            "description" : "Line 1 of the street address of the merchant. Usually includes the street number and name."
          },
          "line2" : {
            "type" : "string",
            "description" : "Line 2 of the street address, usually an apartment number or suite number."
          },
          "postalCode" : {
            "type" : "string",
            "description" : "The zip code or postal code for an ATM location"
          }
        }
      },
      "Country" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Three digit alpha country code as defined in ISO 3166-1"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the country"
          }
        }
      },
      "CountrySubdivision" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Abbreviated code for the state or province"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the state or province."
          }
        }
      },
      "Error" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description"
          },
          "reasonCode" : {
            "type" : "string",
            "description" : "Reason for the error"
          },
          "recoverable" : {
            "type" : "boolean",
            "description" : "Is the error recoverable"
          },
          "source" : {
            "type" : "string",
            "description" : "Error Source"
          }
        },
        "description" : "Error"
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "errors" : {
            "type" : "array",
            "description" : "array of Error",
            "items" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        },
        "description" : "ErrorResponse array of Error return for Open API"
      },
      "Merchant" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "$ref" : "#/components/schemas/Address"
          },
          "brandName" : {
            "type" : "string",
            "description" : "The brand name of the merchant."
          },
          "comment" : {
            "type" : "string",
            "description" : "Notes or comments returned about the merchant."
          },
          "descriptorText" : {
            "type" : "string",
            "description" : "Descriptor for the merchant provided by the Merchant Service Provider(MSP)."
          },
          "legalCorporateName" : {
            "type" : "string",
            "description" : "Corporate legal name of the merchant."
          },
          "locationId" : {
            "type" : "integer",
            "description" : "Merchant specific location identifier.",
            "format" : "int32"
          },
          "matchConfidenceScore" : {
            "type" : "integer",
            "description" : "Confidence score (%) to help clients understand the quality of the search results.",
            "format" : "int32"
          },
          "merchantCategory" : {
            "type" : "string",
            "description" : "Merchant category code and description associated with the merchant category code for the merchant. \r\n5814 - FAST FOOD RESTAURANTS, 5541 - SERVICE STATIONS WITH OR WITHOUT ANCILLARY SERVICE, \r\n5735 - RECORD SHOPS, 5971 - ART DEALERS AND GALLERIES"
          },
          "merchantDbaName" : {
            "type" : "string",
            "description" : "Name under which the merchant is 'doing business as'."
          },
          "phoneNumber" : {
            "type" : "string",
            "description" : "The phone number of the merchant."
          },
          "soleProprietorName" : {
            "type" : "string",
            "description" : ""
          }
        }
      },
      "MerchantIds" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "Identifies the number of merchants found based on a request."
          },
          "returnedMerchants" : {
            "type" : "array",
            "description" : "List of matching returned merchants",
            "items" : {
              "$ref" : "#/components/schemas/Merchant"
            }
          }
        }
      }
    }
  }
}