{"openapi":"3.0.1","info":{"title":"Available API endpoints","description":"VersionEye is a cross-platform search engine for free/libre/open source software libraries.","version":"2.0"},"servers":[{"url":"https://www.versioneye.com/api/v2"}],"tags":[{"name":"sessions","description":"Operations about sessions"},{"name":"services","description":"Operations about services"},{"name":"products","description":"Operations about products"},{"name":"projects","description":"Operations about projects"},{"name":"organisations","description":"Operations about organisations"},{"name":"me","description":"Operations about mes"},{"name":"users","description":"Operations about users"},{"name":"github","description":"Operations about githubs"},{"name":"security","description":"Operations about securities"}],"paths":{"/github":{"get":{"tags":["github"],"summary":"lists your's github repos","description":"\nThis endpoint shows all imported repositories from your Github account.\n\nThis enpoint expects that you have a GitHub account connected and the token\nis still valid. If that is not the case please visit **https://www.versioneye.com/settings/connect**.\nto update your GitHub credentials.\n\nIf it shows no or old data, then you can use the `github/sync` endpoint\nto update your account with the current meta data from GitHub.","operationId":"getGithub","parameters":[{"name":"lang","in":"query","description":"Filter by language","schema":{"type":"string"}},{"name":"private","in":"query","description":"Filter by visibility","schema":{"type":"boolean"}},{"name":"org_name","in":"query","description":"Filter by name of organization","schema":{"type":"string"}},{"name":"org_type","in":"query","description":"Filter by type of organization","schema":{"type":"string"}},{"name":"page","in":"query","description":"Number of page","schema":{"type":"string","default":"1"}},{"name":"only_imported","in":"query","description":"Show only imported repositories","schema":{"type":"boolean"}}],"responses":{"200":{"description":"lists your's github repos"}}}},"/github/hook/{project_id}":{"post":{"tags":["github"],"summary":"github service hook","description":"This endpoint is registered as service hook on GitHub. It triggers a project re-parse on each git push. ","operationId":"postGithubHookProjectId","parameters":[{"name":"project_id","in":"path","description":"Project ID","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"github service hook"}}}},"/github/sync":{"get":{"tags":["github"],"summary":"re-load github data","description":"\nReimports ALL GitHub Repositories. This Endpoint fetches meta information to all\nrepositories in your GitHub account. Meta information such as repo name, branches and\nsupported project files.\n\nThis endpoint works asynchronously and returns a status code. The status code is either\n**running** or **done**.","operationId":"getGithubSync","responses":{"200":{"description":"re-load github data"}}}},"/github/{repo_key}":{"get":{"tags":["github"],"summary":"shows the detailed information for the repository","description":"\nThis Endpoint returns detailed information about a GitHub repository.\n\nDue the limits of our current API framework, the repo key has to be\nencoded as url-safe string. That means all '/' has to be replaced with\ncolons ':' and '.' has to be replaced with '~'.\n\nFor example,  repository with fullname `versioneye/veye` has to transformed\nto `versioneye:veye`.","operationId":"getGithubRepoKey","parameters":[{"name":"repo_key","in":"path","description":"encoded repo name with optional branch info.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"shows the detailed information for the repository"}}},"post":{"tags":["github"],"summary":"imports project file from github","description":"\nUse this Endpoint to import a project file from GitHub. This will create a new project on VersionEye.\n\nDue the limits of our current API framework, the repo key has to be\nencoded as url-safe string. That means all '/' has to be replaced with\ncolons ':' and '.' has to be replaced with '~'.\n\nFor example,  repository with fullname `versioneye/veye` has to transformed\nto `versioneye:veye`.","operationId":"postGithubRepoKey","parameters":[{"name":"repo_key","in":"path","description":"encoded repo name","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"branch":{"type":"string","description":"the name of the branch","default":"master"},"file":{"type":"string","description":"the project file (default is Gemfile)","default":"Gemfile"}}}}}},"responses":{"201":{"description":"imports project file from github"}}},"delete":{"tags":["github"],"summary":"remove imported project","description":"\nThis Endpoint deletes a project on VersionEye!\n\nDue the limits of our current API framework, the repo key has to be\nencoded as url-safe string. That means all '/' has to be replaced with\ncolons ':' and '.' has to be replaced with '~'.\n\nFor example,  repository with fullname `versioneye/veye` has to transformed\nto `versioneye:veye`.","operationId":"deleteGithubRepoKey","parameters":[{"name":"repo_key","in":"path","description":"encoded repo-key","required":true,"schema":{"type":"string"}},{"name":"branch","in":"query","description":"the name of the branch","schema":{"type":"string","default":"master"}}],"responses":{"204":{"description":"remove imported project"}}}},"/me":{"get":{"tags":["me"],"summary":"shows profile of authorized user","description":"On Swagger, you can create session by adding additional parameter :api_key.","operationId":"getMe","responses":{"200":{"description":"shows profile of authorized user"}}}},"/me/comments":{"get":{"tags":["me"],"summary":"shows comments of authorized user","description":"shows comments of authorized user","operationId":"getMeComments","parameters":[{"name":"page","in":"query","description":"page number for pagination","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"shows comments of authorized user"}}}},"/me/favorites":{"get":{"tags":["me"],"summary":"shows the packages you are following","description":"shows the packages you are following","operationId":"getMeFavorites","parameters":[{"name":"page","in":"query","description":"page number for pagination","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"shows the packages you are following"}}}},"/me/notifications":{"get":{"tags":["me"],"summary":"shows unread notifications of authorized user","description":"\nThis Endpoint returns the 30 latest notifications.\n\nIf there are new versions out there for software packages you follow directly on VersionEye, then\neach new version is a new **notification** for your account.","operationId":"getMeNotifications","parameters":[{"name":"page","in":"query","description":"Specify page for paging","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"shows unread notifications of authorized user"}}}},"/organisations":{"get":{"tags":["organisations"],"summary":"Returns the list of organisations you have access to","description":"\nThis endpoint requires the API key from a user. The result is a set of organisations and their API keys.","operationId":"getOrganisations","responses":{"200":{"description":"Returns the list of organisations you have access to"}}}},"/organisations/{orga_name}/inventory":{"get":{"tags":["organisations"],"summary":"Returns the inventory list of the organisation","description":"\nFind a detailed description here: https://github.com/versioneye/versioneye-api/blob/master/docs/api/v2/organisation.md","operationId":"getOrganisationsOrgaNameInventory","parameters":[{"name":"team_name","in":"query","description":"Filter by team name","schema":{"type":"string"}},{"name":"language","in":"query","description":"Filter by programming language","schema":{"type":"string"}},{"name":"project_version","in":"query","description":"Filter down by project version","schema":{"type":"string"}},{"name":"post_filter","in":"query","description":"Post processing filter. Possible values are 'ALL', 'duplicates_only', 'show_duplicates'","schema":{"type":"string"}},{"name":"orga_name","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Returns the inventory list of the organisation"}}}},"/organisations/{orga_name}/inventory_diff":{"get":{"tags":["organisations"],"summary":"Returns the inventory diff object","operationId":"getOrganisationsOrgaNameInventoryDiff","parameters":[{"name":"inventory_diff_id","in":"query","description":"ID of the inventory diff object","schema":{"type":"string"}},{"name":"orga_name","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Returns the inventory diff object"}}},"post":{"tags":["organisations"],"summary":"Creates an inventory diff object","description":"\nThis Endpoint takes 2 inventory filters and calculates the difference between them.\nThe diff object contains wich items have been removed and/or added compared to the inventory1 filter.\nThe response of this Endpoint is the ID of the diff object, which is calculated async in the background.","operationId":"postOrganisationsOrgaNameInventoryDiff","parameters":[{"name":"orga_name","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"f1_team_name":{"type":"string","description":"Inventory1, filter by team name"},"f1_language":{"type":"string","description":"Inventory1, filter by programming language"},"f1_project_version":{"type":"string","description":"Inventory1, filter down by project version"},"f1_post_filter":{"type":"string","description":"Inventory1, post processing filter. Possible values are 'ALL', 'duplicates_only', 'show_duplicates'"},"f2_team_name":{"type":"string","description":"Inventory2, filter by team name"},"f2_language":{"type":"string","description":"Inventory2, filter by programming language"},"f2_project_version":{"type":"string","description":"Inventory2, filter down by project version"},"f2_post_filter":{"type":"string","description":"Inventory2, post processing filter. Possible values are 'ALL', 'duplicates_only', 'show_duplicates'"}}}}}},"responses":{"201":{"description":"Creates an inventory diff object"}}}},"/organisations/{orga_name}/projects":{"get":{"tags":["organisations"],"summary":"Returns the list of projects","description":"Returns the list of projects","operationId":"getOrganisationsOrgaNameProjects","parameters":[{"name":"orga_name","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Returns the list of projects"}}}},"/organisations/{orga_name}/teams":{"get":{"tags":["organisations"],"summary":"Returns the list of teams","description":"Returns the list of teams","operationId":"getOrganisationsOrgaNameTeams","parameters":[{"name":"orga_name","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Returns the list of teams"}}}},"/products/search/{q}":{"get":{"tags":["products"],"summary":"search packages","description":"\nThis resource returns same results as our web application. But you get it as JSON objects -\nthe result is an JSON array of product objects.\n\nWhen there's no match for the query, the result array will be empty.","operationId":"getProductsSearchQ","parameters":[{"name":"q","in":"path","description":"Query string. At least 2 characters.","required":true,"schema":{"type":"string"}},{"name":"lang","in":"query","description":"Filter results by programming languages;\n                                  For filtering multiple languages submit a comma separated list of language strings.","schema":{"type":"string"}},{"name":"g","in":"query","description":"Filter by GroupID. This is Java/Maven specific","schema":{"type":"string"}},{"name":"page","in":"query","description":"Specify page for paging","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"search packages"}}}},"/products/sha/{sha}":{"get":{"tags":["products"],"summary":"search by SHA value","description":"\nThis Endpoint expects a SHA value and returns the corresponding product to it, if available.","operationId":"getProductsShaSha","parameters":[{"name":"sha","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"search by SHA value"}}}},"/products/{lang}/{prod_key}":{"get":{"tags":["products"],"summary":"detailed information for specific package","description":"\nPlease replace all slashes `/` through colons `:` and all dots `.` through `~`!\n\nExample: The clojure package `yummy.json/json` has to be transformed to  `yummy~json:json`.\n\n#### Notes about status codes\n\n  * API returns 404, when the product with given product key doesnt exists.\n\n  * Response 302 means that you didnt encode prod_key correctly.* (Replace all dots & slashes ) *","operationId":"getProductsLangProdKey","parameters":[{"name":"lang","in":"path","description":"\"Name of programming language\"","required":true,"schema":{"type":"string"}},{"name":"prod_key","in":"path","description":"\"Encoded product key, replace all `/` and `.`","required":true,"schema":{"type":"string"}},{"name":"prod_version","in":"query","description":"\"Version string\"","schema":{"type":"string"}}],"responses":{"200":{"description":"detailed information for specific package"}}}},"/products/{lang}/{prod_key}/follow":{"get":{"tags":["products"],"summary":"check your following status","description":"\nPlease replace all slashes `/` through colons `:` and all dots `.` through `~`!\n\nExample: The clojure package `yummy.json/json` has to be transformed to  `yummy~json:json`.\n\n#### Notes about status codes\n\nThis resource will returns the status code 404 if there is no product\nfor the given prod_key.","operationId":"getProductsLangProdKeyFollow","parameters":[{"name":"lang","in":"path","description":"\"Name of programming language\"","required":true,"schema":{"type":"string"}},{"name":"prod_key","in":"path","description":"Package specifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"check your following status"}}},"post":{"tags":["products"],"summary":"follow your favorite software package","description":"\nPlease replace all slashes `/` through colons `:` and all dots `.` through `~`!\n\nExample: The clojure package `yummy.json/json` has to be transformed to  `yummy~json:json`.\n\n#### Notes about status codes\n\nIt will respond 404, when you are using wrong product key or encode it uncorrectly.","operationId":"postProductsLangProdKeyFollow","parameters":[{"name":"lang","in":"path","description":"Programming language","required":true,"schema":{"type":"string"}},{"name":"prod_key","in":"path","description":" Package product key. ","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"follow your favorite software package"}}},"delete":{"tags":["products"],"summary":"unfollow given software package","description":"\nPlease replace all slashes `/` through colons `:` and all dots `.` through `~`!\n\nExample: The clojure package `yummy.json/json` has to be transformed to  `yummy~json:json`.\n\n#### Response codes\n\n  * 400 - bad request; you used wrong product key;\n  * 401 - unauthorized - please append api_key\n  * 403 - forbidden; you are not authorized; or just missed api_key;","operationId":"deleteProductsLangProdKeyFollow","parameters":[{"name":"lang","in":"path","description":"Programming language","required":true,"schema":{"type":"string"}},{"name":"prod_key","in":"path","description":"Package specifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"unfollow given software package"}}}},"/products/{lang}/{prod_key}/references":{"get":{"tags":["products"],"summary":"references","description":"\nIt returns the references of a package.\n\nPlease replace all slashes `/` through colons `:` and all dots `.` through `~`!\n\nExample: The clojure package `yummy.json/json` has to be transformed to  `yummy~json:json`.\n\n#### Notes about status codes\n\nThis resource will return the status code 404 if there is no product for\nthe given prod_key or the product has 0 references.","operationId":"getProductsLangProdKeyReferences","parameters":[{"name":"lang","in":"path","description":"Language","required":true,"schema":{"type":"string"}},{"name":"prod_key","in":"path","description":"Product Key","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page for paging","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"references"}}}},"/products/{lang}/{prod_key}/versions":{"get":{"tags":["products"],"summary":"list versions of a package","description":"\nPlease replace all slashes `/` through colons `:` and all dots `.` through `~`!\n\nExample: The clojure package `yummy.json/json` has to be transformed to  `yummy~json:json`.\n\n#### Notes about status codes\n\n  * API returns 404, when the product with given product key doesnt exists.\n\n  * Response 302 means that you didnt encode prod_key correctly.* (Replace all dots & slashes ) *","operationId":"getProductsLangProdKeyVersions","parameters":[{"name":"lang","in":"path","description":"\"Name of programming language\"","required":true,"schema":{"type":"string"}},{"name":"prod_key","in":"path","description":"\"Encoded product key, replace all `/` and `.`","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"list versions of a package"}}}},"/products/{lang}/{prod_key}/{prod_version}/license":{"post":{"tags":["products"],"summary":"suggest a license for an artifact","description":"With this endpoint users can suggest a license for an artifact.","operationId":"postProductsLangProdKeyProdVersionLicense","parameters":[{"name":"lang","in":"path","description":" programming language ","required":true,"schema":{"type":"string"}},{"name":"prod_key","in":"path","description":" product key ","required":true,"schema":{"type":"string"}},{"name":"prod_version","in":"path","description":" product version ","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["license_name","license_source"],"type":"object","properties":{"license_name":{"type":"string","description":" name of the license "},"license_source":{"type":"string","description":" source of the license. Where did you find it? "},"comments":{"type":"string","description":" you wanna say anyting important to this license? "}}}}},"required":true},"responses":{"201":{"description":"suggest a license for an artifact"}}}},"/products/{lang}/{prod_key}/{prod_version}/scm_changes":{"post":{"tags":["products"],"summary":"upload scm changelogs to an artifact","description":"\nThis resource can parse a changelog.xml from the maven-changelog-plugin, assign\nit to a specific artifact and display the changelog infos on the product page.\n\nPlease replace all slashes `/` through colons `:` and all dots `.` through `~`!\n\nExample: The clojure package `yummy.json/json` has to be transformed to  `yummy~json:json`.\n\n#### Notes about status codes\n\nIt will respond 404, when you are using wrong product key or encode it uncorrectly.","operationId":"postProductsLangProdKeyProdVersionScmChanges","parameters":[{"name":"lang","in":"path","description":" programming language ","required":true,"schema":{"type":"string"}},{"name":"prod_key","in":"path","description":" product key ","required":true,"schema":{"type":"string"}},{"name":"prod_version","in":"path","description":" product version ","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"upload scm changelogs to an artifact"}}}},"/projects":{"get":{"tags":["projects"],"summary":"list of projects","description":"\nTo use this resource you need either an active session or you have to append\nyour API Key to the URL as parameter. For example: \"?api_key=666_your_api_key_666\"","operationId":"getProjects","parameters":[{"name":"orga_name","in":"query","description":"The name of the organisation the project is assigned to.","schema":{"type":"string"}},{"name":"team_name","in":"query","description":"The name of the team in the organisation this project is assigned to.","schema":{"type":"string"}}],"responses":{"200":{"description":"list of projects"}}},"post":{"tags":["projects"],"summary":"upload project file and create a new project","description":"\nTo use this resource you need either an active session or you have to append\nyour API Key to the URL as parameter. For example: \"?api_key=666_your_api_key_666\"","operationId":"postProjects","requestBody":{"content":{"application/json":{"schema":{"required":["upload"],"type":"object","properties":{"upload":{"type":"string","description":"Project file - [maven.pom, Gemfile ...]","format":"binary"},"visibility":{"type":"string","description":"By default 'public'. If 'public' everybody can see the project."},"name":{"type":"string","description":"The name of the VersionEye project. By default it is the filename."},"orga_name":{"type":"string","description":"The name of the organisation this project should be assigned to."},"team_name":{"type":"string","description":"The name of the team in the organisation this project should be assigned to."},"temp":{"type":"string","description":"If 'true' this project will not show up in the UI and gets removed later."}}}}},"required":true},"responses":{"201":{"description":"upload project file and create a new project"}}}},"/projects/{group_id}/{artifact_id}/merge_ga/{child_id}":{"get":{"tags":["projects"],"summary":"merge a project into another one","description":"\nThis endpoint merges a project (child_id) into another project (group_id/artifact_id).\nThis endpoint is specially for Maven based projects!\nTo use this resource you need either an active session or you have to append\nyour API Key to the URL as parameter. For example: \"?api_key=666_your_api_key_666\"","operationId":"getProjectsGroupIdArtifactIdMergeGaChildId","parameters":[{"name":"group_id","in":"path","description":"GroupId of the parent project","required":true,"schema":{"type":"string"}},{"name":"artifact_id","in":"path","description":"ArtifactId of the parent project","required":true,"schema":{"type":"string"}},{"name":"child_id","in":"path","description":"Project ID of the child","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"merge a project into another one"}}}},"/projects/{parent_id}/merge/{child_id}":{"get":{"tags":["projects"],"summary":"merge a project into another one","description":"\nThis endpoint merges a project (child_id) into another project (parent_id).\nTo use this resource you need either an active session or you have to append\nyour API Key to the URL as parameter. For example: \"?api_key=666_your_api_key_666\"","operationId":"getProjectsParentIdMergeChildId","parameters":[{"name":"parent_id","in":"path","description":"Project ID of the parent","required":true,"schema":{"type":"string"}},{"name":"child_id","in":"path","description":"Project ID of the child","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"merge a project into another one"}}}},"/projects/{parent_id}/unmerge/{child_id}":{"get":{"tags":["projects"],"summary":"unmerge a project","description":"\nThis endpoint unmerges a project (child_id) from another project (parent_id). It makes the\nchilld again a separate project!\nTo use this resource you need either an active session or you have to append\nyour API Key to the URL as parameter. For example: \"?api_key=666_your_api_key_666\"","operationId":"getProjectsParentIdUnmergeChildId","parameters":[{"name":"parent_id","in":"path","description":"Project ID of the parent","required":true,"schema":{"type":"string"}},{"name":"child_id","in":"path","description":"Project ID of the child","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"unmerge a project"}}}},"/projects/{project_key}":{"get":{"tags":["projects"],"summary":"shows the project's information","description":" It shows detailed info of your project. ","operationId":"getProjectsProjectKey","parameters":[{"name":"project_key","in":"path","description":"Project ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"shows the project's information"}}},"put":{"tags":["projects"],"summary":"update project properites","description":"\nTo use this resource you need either an active session or you have to append\nyour API Key to the URL as parameter. For example: \"?api_key=666_your_api_key_666\"\n\nWith this Endpoint an existing project can be updated. This are the fields which \ncan be updated: \n\n```\n{\n  public: false,\n  name: \"toto\",\n  description: \"beschreibung\",\n  license: \"Lizenz\",\n  version: \"Versionio\"\n}\n```","operationId":"putProjectsProjectKey","parameters":[{"name":"project_key","in":"path","description":"Project ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"update project properites"}}},"post":{"tags":["projects"],"summary":"update project with new file","description":"\nTo use this resource you need either an active session or you have to append\nyour API Key to the URL as parameter. For example: \"?api_key=666_your_api_key_666\"","operationId":"postProjectsProjectKey","parameters":[{"name":"project_key","in":"path","description":"Project ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["project_file"],"type":"object","properties":{"project_file":{"type":"string","description":"Project file - [maven.pom, Gemfile ...]","format":"binary"}}}}},"required":true},"responses":{"201":{"description":"update project with new file"}}},"delete":{"tags":["projects"],"summary":"delete given project","description":"\nTo use this resource you need either an active session or you have to append\nyour API Key to the URL as parameter. For example: \"?api_key=666_your_api_key_666\"","operationId":"deleteProjectsProjectKey","parameters":[{"name":"project_key","in":"path","description":"Delete project with given project ID.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"delete given project"}}}},"/projects/{project_key}/dependencies":{"get":{"tags":["projects"],"summary":"get a list of ALL dependencies","description":"\nThis Endpoint returns a list of ALL dependencies of the project. This list includes\ndependencies of child projects as well.\n\nTo use this resource you need either an active session or you have to append\nyour API Key to the URL as parameter. For example: \"?api_key=666_your_api_key_666\"","operationId":"getProjectsProjectKeyDependencies","parameters":[{"name":"project_key","in":"path","description":"Project ID or project_key","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"get a list of ALL dependencies"}}}},"/projects/{project_key}/licenses":{"get":{"tags":["projects"],"summary":"get grouped view of licences for dependencies","description":"\nTo use this resource you need either an active session or you have to append\nyour API Key to the URL as parameter. For example: \"?api_key=666_your_api_key_666\"","operationId":"getProjectsProjectKeyLicenses","parameters":[{"name":"project_key","in":"path","description":"Project ID or project_key","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"get grouped view of licences for dependencies"}}}},"/security":{"get":{"tags":["security"],"summary":"Security Vulnerabilities","description":"Security Vulnerabilities","operationId":"getSecurity","parameters":[{"name":"language","in":"query","description":"Filter by programming languages","required":true,"schema":{"type":"string"}},{"name":"prod_key","in":"query","description":"prod_key of the package","schema":{"type":"string"}},{"name":"page","in":"query","description":"Specify page for paging","schema":{"type":"integer","format":"int32"}},{"name":"asc_sort","in":"query","description":"Asc sort by value","schema":{"type":"string"}},{"name":"desc_sort","in":"query","description":"Desc sort by value","schema":{"type":"string"}}],"responses":{"200":{"description":"Security Vulnerabilities"}}}},"/services/ping":{"get":{"tags":["services"],"summary":"Answers to request with basic pong.","description":"check is the service up and running","operationId":"getServicesPing","responses":{"200":{"description":"Answers to request with basic pong."}}}},"/sessions":{"get":{"tags":["sessions"],"summary":"returns session info for authorized users","description":"\nIf current user has active session, then this\nmethod will return 200 with short user profile.\nFor othercase, it will return error message with status code 401.","operationId":"getSessions","responses":{"200":{"description":"returns session info for authorized users"}}},"post":{"tags":["sessions"],"summary":"creates new sessions","description":" You need to append your api_key to request. ","operationId":"postSessions","requestBody":{"content":{"application/json":{"schema":{"required":["api_key"],"type":"object","properties":{"api_key":{"type":"string","description":"your personal token for API."}}}}},"required":true},"responses":{"201":{"description":"creates new sessions"}}},"delete":{"tags":["sessions"],"summary":"delete current session aka log out.","description":"Close current session. It's very handy method when you re-generated your current API-key.","operationId":"deleteSessions","responses":{"204":{"description":"delete current session aka log out."}}}},"/sessions/login":{"post":{"tags":["sessions"],"summary":"creates new sessions","description":" You need to append your api_key to request. ","operationId":"postSessionsLogin","requestBody":{"content":{"application/json":{"schema":{"required":["password","username"],"type":"object","properties":{"username":{"type":"string","description":"email or username"},"password":{"type":"string","description":"password"}}}}},"required":true},"responses":{"201":{"description":"creates new sessions"}}}},"/users/{username}":{"get":{"tags":["users"],"summary":"shows profile of given user_id","description":"shows profile of given user_id","operationId":"getUsersUsername","parameters":[{"name":"username","in":"path","description":"username","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"shows profile of given user_id"}}}},"/users/{username}/comments":{"get":{"tags":["users"],"summary":"shows user's comments","description":"shows user's comments","operationId":"getUsersUsernameComments","parameters":[{"name":"username","in":"path","description":"VersionEye users' nickname","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"pagination number","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"shows user's comments"}}}},"/users/{username}/favorites":{"get":{"tags":["users"],"summary":"shows user's favorite packages","description":"shows user's favorite packages","operationId":"getUsersUsernameFavorites","parameters":[{"name":"username","in":"path","description":"username","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Pagination number","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"shows user's favorite packages"}}}}}}