{"openapi":"3.0.1","info":{"title":"MonitorManagementClient","version":"2015-04-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/microsoft.insights/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available operations from Microsoft.Insights provider.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}}}}}},"components":{"schemas":{"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"operation":{"type":"string","description":"Operation type: Read, write, delete, etc."},"provider":{"type":"string","description":"Service provider: Microsoft.Insights"},"resource":{"type":"string","description":"Resource on which the operation is performed: AlertRules, Autoscale, etc."}},"description":"Display metadata associated with the operation."},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"}},"description":"Microsoft Insights API operation definition."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of operations supported by the Microsoft.Insights provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list Microsoft.Insights operations. It contains a list of operations and a URL link to get the next set of results."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}