{"openapi":"3.0.1","info":{"title":"SignalRManagementClient","description":"REST API for Azure SignalR Service","version":"2018-10-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.SignalRService/operations":{"get":{"tags":["SignalR"],"description":"Lists all of the available REST API operations of the Microsoft.SignalRService provider.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the list of operations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/SignalR":{"get":{"tags":["SignalR"],"description":"Handles requests to list all resources in a subscription.","operationId":"SignalR_ListBySubscription","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the list of SignalR services in the subscription.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalRResourceList"}}}},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/checkNameAvailability":{"post":{"tags":["SignalR"],"description":"Checks that the SignalR name is valid and is not already in use.","operationId":"SignalR_CheckNameAvailability","parameters":[{"name":"location","in":"path","description":"the region","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameAvailabilityParameters"}}},"required":false},"responses":{"200":{"description":"Success. The response describes the name availability.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameAvailability"}}}},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/usages":{"get":{"tags":["SignalR"],"description":"List usage quotas for Azure SignalR service by location.","operationId":"Usages_List","parameters":[{"name":"location","in":"path","description":"the location like \"eastus\"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describe the usage quotas of a subscription in specified region.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalRUsageList"}}}},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR":{"get":{"tags":["SignalR"],"description":"Handles requests to list all resources in a resource group.","operationId":"SignalR_ListByResourceGroup","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the list of SignalR services in a resourceGroup.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalRResourceList"}}}},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR/{resourceName}/listKeys":{"post":{"tags":["SignalR"],"description":"Get the access keys of the SignalR resource.","operationId":"SignalR_ListKeys","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the SignalR resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes SignalR service access keys.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalRKeys"}}}},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR/{resourceName}/regenerateKey":{"post":{"tags":["SignalR"],"description":"Regenerate SignalR service access key. PrimaryKey and SecondaryKey cannot be regenerated at the same time.","operationId":"SignalR_RegenerateKey","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the SignalR resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameter that describes the Regenerate Key Operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegenerateKeyParameters"}}},"required":false},"responses":{"201":{"description":"Created and an async operation is executing in background to make the new key to take effect. The response contains new keys and a Location header to query the async operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalRKeys"}}}},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}":{"get":{"tags":["SignalR"],"description":"Get the SignalR service and its properties.","operationId":"SignalR_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the SignalR resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the corresponding SignalR service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalRResource"}}}},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["SignalR"],"description":"Create a new SignalR service and update an exiting SignalR service.","operationId":"SignalR_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the SignalR resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the create or update operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalRCreateParameters"}}},"required":false},"responses":{"200":{"description":"Success. The response describes a SignalR service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalRResource"}}}},"201":{"description":"Created. The response describes the new service and contains a Location header to query the operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalRResource"}}}},"202":{"description":"Accepted. The response indicates the exiting SignalR service is now updating and contains a Location header to query the operation result.."},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["SignalR"],"description":"Operation to delete a SignalR service.","operationId":"SignalR_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the SignalR resource.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted. The response indicates the delete operation is performed in the background."},"204":{"description":"Success. The response indicates the resource is already deleted."},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["SignalR"],"description":"Operation to update an exiting SignalR service.","operationId":"SignalR_Update","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the SignalR resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the update operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalRUpdateParameters"}}},"required":false},"responses":{"200":{"description":"Success. The response describes a SignalR service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalRResource"}}}},"202":{"description":"Accepted. The response indicates the exiting SignalR service is now updating  and contains a Location header to query the operation result.."},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/restart":{"post":{"tags":["SignalR"],"description":"Operation to restart a SignalR service.","operationId":"SignalR_Restart","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the SignalR resource.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted. The response indicates the restart operation is performed in the background."},"204":{"description":"Success. The response indicates the operation is successful and no content will be returned."},"default":{"description":"An unexpected error occurred during the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Dimension":{"type":"object","properties":{"displayName":{"type":"string","description":"Localized friendly display name of the dimension."},"internalName":{"type":"string","description":"Name of the dimension as it appears in MDM."},"name":{"type":"string","description":"The public facing name of the dimension."},"toBeExportedForShoebox":{"type":"boolean","description":"A Boolean flag indicating whether this dimension should be included for the shoebox export scenario."}},"description":"Specifications of the Dimension of metrics."},"ErrorResponse":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorResponseBody"}},"description":"Contains information about an API error."},"ErrorResponseBody":{"required":["code","message"],"type":"object","properties":{"code":{"type":"string","description":"An error code that describes the error condition more precisely than an HTTP status code. \r\nCan be used to programmatically handle specific error cases."},"details":{"type":"array","description":"Contains nested errors that are related to this error.","items":{"$ref":"#/components/schemas/ErrorResponseBody"}},"message":{"type":"string","description":"A message that describes the error in detail and provides debugging information."},"target":{"type":"string","description":"The target of the particular error (for example, the name of the property in error)."}},"description":"Describes a particular API error with an error code and a message."},"LogSpecification":{"type":"object","properties":{"displayName":{"type":"string","description":"Localized friendly display name of the log."},"name":{"type":"string","description":"Name of the log."}},"description":"Specifications of the Logs for Azure Monitoring."},"MetricSpecification":{"type":"object","properties":{"aggregationType":{"type":"string","description":"Only provide one value for this field. Valid values: Average, Minimum, Maximum, Total, Count."},"category":{"type":"string","description":"The name of the metric category that the metric belongs to. A metric can only belong to a single category."},"dimensions":{"type":"array","description":"The dimensions of the metrics.","items":{"$ref":"#/components/schemas/Dimension"}},"displayDescription":{"type":"string","description":"Localized friendly description of the metric."},"displayName":{"type":"string","description":"Localized friendly display name of the metric."},"fillGapWithZero":{"type":"string","description":"Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published. \r\nEx. a metric that returns the number of times a particular error code was emitted. The error code may not appear \r\noften, instead of the RP publishing 0, Shoebox can auto fill in 0s for time periods where nothing was emitted."},"name":{"type":"string","description":"Name of the metric."},"unit":{"type":"string","description":"The unit that makes sense for the metric."}},"description":"Specifications of the Metrics for Azure Monitoring."},"NameAvailability":{"type":"object","properties":{"message":{"type":"string","description":"The message of the operation."},"nameAvailable":{"type":"boolean","description":"Indicates whether the name is available or not."},"reason":{"type":"string","description":"The reason of the availability. Required if name is not available."}},"description":"Result of the request to check name availability. It contains a flag and possible reason of failure."},"NameAvailabilityParameters":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"The SignalR service name to validate. e.g.\"my-signalR-name-here\""},"type":{"type":"string","description":"The resource type. Should be always \"Microsoft.SignalRService/SignalR\"."}},"description":"Data POST-ed to the nameAvailability action"},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationDisplay"},"name":{"type":"string","description":"Name of the operation with format: {provider}/{resource}/{operation}"},"origin":{"type":"string","description":"Optional. The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX."},"properties":{"$ref":"#/components/schemas/OperationProperties"}},"description":"REST API operation supported by SignalR resource provider."},"OperationDisplay":{"type":"object","properties":{"description":{"type":"string","description":"The localized friendly description for the operation"},"operation":{"type":"string","description":"The localized friendly name for the operation."},"provider":{"type":"string","description":"Friendly name of the resource provider"},"resource":{"type":"string","description":"Resource type on which the operation is performed."}},"description":"The object that describes a operation."},"OperationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."},"value":{"type":"array","description":"List of operations supported by the resource provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list REST API operations. It contains a list of operations."},"OperationProperties":{"type":"object","properties":{"serviceSpecification":{"$ref":"#/components/schemas/ServiceSpecification"}},"description":"Extra Operation properties."},"RegenerateKeyParameters":{"type":"object","properties":{"keyType":{"type":"string","description":"The keyType to regenerate. Must be either 'primary' or 'secondary'(case-insensitive).","enum":["Primary","Secondary"]}},"description":"Parameters describes the request to regenerate access keys"},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource.","readOnly":true},"name":{"type":"string","description":"The name of the resource.","readOnly":true},"type":{"type":"string","description":"The type of the service - e.g. \"Microsoft.SignalRService/SignalR\"","readOnly":true}},"description":"The core properties of ARM resources."},"ResourceSku":{"required":["name"],"type":"object","properties":{"capacity":{"type":"integer","description":"Optional, integer. The unit count of SignalR resource. 1 by default.\r\n\r\nIf present, following values are allowed:\r\n    Free: 1\r\n    Standard: 1,2,5,10,20,50,100","format":"int32"},"family":{"type":"string","description":"Optional string. For future use."},"name":{"type":"string","description":"The name of the SKU. Required.\r\n\r\nAllowed values: Standard_S1, Free_F1"},"size":{"type":"string","description":"Optional string. For future use."},"tier":{"type":"string","description":"Optional tier of this particular SKU. 'Standard' or 'Free'. \r\n\r\n`Basic` is deprecated, use `Standard` instead.","enum":["Free","Basic","Standard","Premium"]}},"description":"The billing information of the SignalR resource."},"ServiceSpecification":{"type":"object","properties":{"logSpecifications":{"type":"array","description":"Specifications of the Logs for Azure Monitoring.","items":{"$ref":"#/components/schemas/LogSpecification"}},"metricSpecifications":{"type":"array","description":"Specifications of the Metrics for Azure Monitoring.","items":{"$ref":"#/components/schemas/MetricSpecification"}}},"description":"An object that describes a specification."},"SignalRCorsSettings":{"type":"object","properties":{"allowedOrigins":{"type":"array","description":"Gets or sets the list of origins that should be allowed to make cross-origin calls (for example: http://example.com:12345). Use \"*\" to allow all. If omitted, allow all by default.","items":{"type":"string"}}},"description":"Cross-Origin Resource Sharing (CORS) settings."},"SignalRCreateOrUpdateProperties":{"type":"object","properties":{"cors":{"$ref":"#/components/schemas/SignalRCorsSettings"},"features":{"type":"array","description":"List of SignalR featureFlags. e.g. ServiceMode.\r\n\r\nFeatureFlags that are not included in the parameters for the update operation will not be modified.\r\nAnd the response will only include featureFlags that are explicitly set. \r\nWhen a featureFlag is not explicitly set, SignalR service will use its globally default value. \r\nBut keep in mind, the default value doesn't mean \"false\". It varies in terms of different FeatureFlags.","items":{"$ref":"#/components/schemas/SignalRFeature"}},"hostNamePrefix":{"type":"string","description":"Prefix for the hostName of the SignalR service. Retained for future use.\r\nThe hostname will be of format: &lt;hostNamePrefix&gt;.service.signalr.net."}},"description":"Settings used to provision or configure the resource."},"SignalRCreateParameters":{"properties":{"location":{"type":"string","description":"Azure GEO region: e.g. West US | East US | North Central US | South Central US | West Europe | North Europe | East Asia | Southeast Asia | etc. \r\nThe geo region of a resource never changes after it is created."}},"description":"Parameters for SignalR service create/update operation.\r\n\r\nKeep the same schema as AzSignalR.Models.SignalRResource","allOf":[{"$ref":"#/components/schemas/SignalRUpdateParameters"}]},"SignalRFeature":{"required":["flag","value"],"type":"object","properties":{"flag":{"type":"string","description":"FeatureFlags is the supported features of Azure SignalR service.\r\n- ServiceMode: Flag for backend server for SignalR service. Values allowed: \"Default\": have your own backend server; \"Serverless\": your application doesn't have a backend server; \"Classic\": for backward compatibility. Support both Default and Serverless mode but not recommended; \"PredefinedOnly\": for future use.\r\n- EnableConnectivityLogs: \"true\"/\"false\", to enable/disable the connectivity log category respectively.","enum":["ServiceMode","EnableConnectivityLogs"]},"properties":{"type":"object","additionalProperties":{"type":"string"},"description":"Optional properties related to this feature."},"value":{"maxLength":128,"minLength":1,"type":"string","description":"Value of the feature flag. See Azure SignalR service document https://docs.microsoft.com/azure/azure-signalr/ for allowed values."}},"description":"Feature of a SignalR resource, which controls the SignalR runtime behavior."},"SignalRKeys":{"type":"object","properties":{"primaryConnectionString":{"type":"string","description":"SignalR connection string constructed via the primaryKey"},"primaryKey":{"type":"string","description":"The primary access key."},"secondaryConnectionString":{"type":"string","description":"SignalR connection string constructed via the secondaryKey"},"secondaryKey":{"type":"string","description":"The secondary access key."}},"description":"A class represents the access keys of SignalR service."},"SignalRProperties":{"properties":{"externalIP":{"type":"string","description":"The publicly accessible IP of the SignalR service.","readOnly":true},"hostName":{"type":"string","description":"FQDN of the SignalR service instance. Format: xxx.service.signalr.net","readOnly":true},"provisioningState":{"type":"string","description":"Provisioning state of the resource.","readOnly":true,"enum":["Unknown","Succeeded","Failed","Canceled","Running","Creating","Updating","Deleting","Moving"]},"publicPort":{"type":"integer","description":"The publicly accessible port of the SignalR service which is designed for browser/client side usage.","format":"int32","readOnly":true},"serverPort":{"type":"integer","description":"The publicly accessible port of the SignalR service which is designed for customer server side usage.","format":"int32","readOnly":true},"version":{"type":"string","description":"Version of the SignalR resource. Probably you need the same or higher version of client SDKs."}},"description":"A class that describes the properties of the SignalR service that should contain more read-only properties than AzSignalR.Models.SignalRCreateOrUpdateProperties","allOf":[{"$ref":"#/components/schemas/SignalRCreateOrUpdateProperties"}]},"SignalRResource":{"properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource.","readOnly":true},"name":{"type":"string","description":"The name of the resource.","readOnly":true},"properties":{"$ref":"#/components/schemas/SignalRProperties"},"sku":{"$ref":"#/components/schemas/ResourceSku"},"type":{"type":"string","description":"The type of the service - e.g. \"Microsoft.SignalRService/SignalR\"","readOnly":true}},"description":"A class represent a SignalR service resource.","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"SignalRResourceList":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."},"value":{"type":"array","description":"List of SignalR services","items":{"$ref":"#/components/schemas/SignalRResource"}}},"description":"Object that includes an array of SignalR services and a possible link for next set."},"SignalRUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/SignalRCreateOrUpdateProperties"},"sku":{"$ref":"#/components/schemas/ResourceSku"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"A list of key value pairs that describe the resource."}},"description":"Parameters for SignalR service update operation"},"SignalRUsage":{"type":"object","properties":{"currentValue":{"type":"integer","description":"Current value for the usage quota.","format":"int64"},"id":{"type":"string","description":"Fully qualified ARM resource id"},"limit":{"type":"integer","description":"The maximum permitted value for the usage quota. If there is no limit, this value will be -1.","format":"int64"},"name":{"$ref":"#/components/schemas/SignalRUsageName"},"unit":{"type":"string","description":"Representing the units of the usage quota. Possible values are: Count, Bytes, Seconds, Percent, CountPerSecond, BytesPerSecond."}},"description":"Object that describes a specific usage of SignalR resources."},"SignalRUsageList":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."},"value":{"type":"array","description":"List of SignalR usages","items":{"$ref":"#/components/schemas/SignalRUsage"}}},"description":"Object that includes an array of SignalR resource usages and a possible link for next set."},"SignalRUsageName":{"type":"object","properties":{"localizedValue":{"type":"string","description":"Localized name of the usage."},"value":{"type":"string","description":"The identifier of the usage."}},"description":"Localizable String object containing the name and a localized value."},"TrackedResource":{"properties":{"location":{"type":"string","description":"The GEO location of the SignalR service. e.g. West US | East US | North Central US | South Central US."},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Tags of the service which is a list of key value pairs that describe the resource."}},"description":"The resource model definition for a ARM tracked top level resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"SignalRServiceName":{"name":"resourceName","in":"path","description":"The name of the SignalR resource.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}