{"openapi":"3.0.1","info":{"title":" API Client","version":"2018-02-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Web/publishingUsers/web":{"get":{"summary":"Gets publishing user","description":"Gets publishing user","operationId":"GetPublishingUser","parameters":[{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"User credentials used for publishing activity."}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}},"put":{"summary":"Updates publishing user","description":"Updates publishing user","operationId":"UpdatePublishingUser","parameters":[{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Details of publishing user","content":{"application/json":{"schema":{"properties":{"properties":{"required":["publishingUserName"],"type":"object","properties":{"publishingPassword":{"type":"string","description":"Password used for publishing.","format":"password"},"publishingPasswordHash":{"type":"string","description":"Password hash used for publishing.","format":"password"},"publishingPasswordHashSalt":{"type":"string","description":"Password hash salt used for publishing.","format":"password"},"publishingUserName":{"type":"string","description":"Username used for publishing."},"scmUri":{"type":"string","description":"Url of SCM site."}},"description":"User resource specific properties"}},"description":"User credentials used for publishing activity.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"User credentials used for publishing activity."}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/providers/Microsoft.Web/sourcecontrols":{"get":{"summary":"Gets the source controls available for Azure websites.","description":"Gets the source controls available for Azure websites.","operationId":"ListSourceControls","parameters":[{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControlCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/providers/Microsoft.Web/sourcecontrols/{sourceControlType}":{"get":{"summary":"Gets source control token","description":"Gets source control token","operationId":"GetSourceControl","parameters":[{"name":"sourceControlType","in":"path","description":"Type of source control","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControl"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}},"put":{"summary":"Updates source control token","description":"Updates source control token","operationId":"UpdateSourceControl","parameters":[{"name":"sourceControlType","in":"path","description":"Type of source control","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Source control token information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControl"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControl"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/billingMeters":{"get":{"summary":"Gets a list of meters for a given location.","description":"Gets a list of meters for a given location.","operationId":"ListBillingMeters","parameters":[{"name":"billingLocation","in":"query","description":"Azure Location of billable resource","schema":{"type":"string"}},{"name":"osType","in":"query","description":"App Service OS type meters used for","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingMeterCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability":{"post":{"summary":"Check if a resource name is available.","description":"Check if a resource name is available.","operationId":"CheckNameAvailability","parameters":[{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Name availability request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailabilityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailability"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/deploymentLocations":{"get":{"summary":"Gets list of available geo regions plus ministamps","description":"Gets list of available geo regions plus ministamps","operationId":"GetSubscriptionDeploymentLocations","parameters":[{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentLocations"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions":{"get":{"summary":"Get a list of available geographical regions.","description":"Get a list of available geographical regions.","operationId":"ListGeoRegions","parameters":[{"name":"sku","in":"query","description":"Name of SKU used to filter the regions.","schema":{"type":"string","enum":["Free","Shared","Basic","Standard","Premium","Dynamic","Isolated","PremiumV2","ElasticPremium","ElasticIsolated"]}},{"name":"linuxWorkersEnabled","in":"query","description":"Specify <code>true</code> if you want to filter to only regions that support Linux workers.","schema":{"type":"boolean"}},{"name":"xenonWorkersEnabled","in":"query","description":"Specify <code>true</code> if you want to filter to only regions that support Xenon workers.","schema":{"type":"boolean"}},{"name":"linuxDynamicWorkersEnabled","in":"query","description":"Specify <code>true</code> if you want to filter to only regions that support Linux Consumption Workers.","schema":{"type":"boolean"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoRegionCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/listSitesAssignedToHostName":{"post":{"summary":"List all apps that are assigned to a hostname.","description":"List all apps that are assigned to a hostname.","operationId":"ListSiteIdentifiersAssignedToHostName","parameters":[{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Hostname information.","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the object."}},"description":"Identifies an object."}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"type":"object","properties":{"properties":{"type":"object","properties":{"id":{"type":"string","description":"String representation of the identity."}},"description":"Identifier resource specific properties"}},"description":"A domain specific resource identifier."}}},"description":"Collection of identifiers."}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers":{"get":{"summary":"List all premier add-on offers.","description":"List all premier add-on offers.","operationId":"ListPremierAddOnOffers","parameters":[{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PremierAddOnOfferCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/skus":{"get":{"summary":"List all SKUs.","description":"List all SKUs.","operationId":"ListSkus","parameters":[{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SkuInfos"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/verifyHostingEnvironmentVnet":{"post":{"summary":"Verifies if this VNET is compatible with an App Service Environment by analyzing the Network Security Group rules.","description":"Verifies if this VNET is compatible with an App Service Environment by analyzing the Network Security Group rules.","operationId":"VerifyHostingEnvironmentVnet","parameters":[{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"VNET information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VnetParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VnetValidationFailureDetails"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources":{"post":{"summary":"Move resources between resource groups.","description":"Move resources between resource groups.","operationId":"Move","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Object that represents the resource to move.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CsmMoveResourceEnvelope"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/validate":{"post":{"summary":"Validate if a resource can be created.","description":"Validate if a resource can be created.","operationId":"Validate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request with the resources to validate.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateResponse"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/validateContainerSettings":{"post":{"summary":"Validate if the container settings are correct.","description":"Validate if the container settings are correct.","operationId":"ValidateContainerSettings","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateContainerSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/validateMoveResources":{"post":{"summary":"Validate whether a resource can be moved.","description":"Validate whether a resource can be moved.","operationId":"ValidateMove","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Object that represents the resource to move.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CsmMoveResourceEnvelope"}}},"required":true},"responses":{"204":{"description":"No Content"}}}}},"components":{"schemas":{"BillingMeter":{"properties":{"properties":{"type":"object","properties":{"billingLocation":{"type":"string","description":"Azure Location of billable resource"},"friendlyName":{"type":"string","description":"Friendly name of the meter"},"meterId":{"type":"string","description":"Meter GUID onboarded in Commerce"},"osType":{"type":"string","description":"App Service OS type meter used for"},"resourceType":{"type":"string","description":"App Service ResourceType meter used for"},"shortName":{"type":"string","description":"Short Name from App Service Azure pricing Page"}},"description":"BillingMeter resource specific properties"}},"description":"App Service billing entity that contains information about meter which the Azure billing system utilizes to charge users for services.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"BillingMeterCollection":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"$ref":"#/components/schemas/BillingMeter"}}},"description":"Collection of Billing Meters"},"CsmMoveResourceEnvelope":{"type":"object","properties":{"resources":{"type":"array","items":{"type":"string"}},"targetResourceGroup":{"maxLength":90,"minLength":1,"pattern":" ^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},"description":"Object with a list of the resources that need to be moved and the resource group they should be moved to."},"DeploymentLocations":{"type":"object","properties":{"hostingEnvironmentDeploymentInfos":{"type":"array","description":"Available App Service Environments with basic information.","items":{"$ref":"#/components/schemas/HostingEnvironmentDeploymentInfo"}},"hostingEnvironments":{"type":"array","description":"Available App Service Environments with full descriptions of the environments.","items":{"required":["location","name","virtualNetwork","workerPools"],"type":"object","properties":{"allowedMultiSizes":{"type":"string","description":"List of comma separated strings describing which VM sizes are allowed for front-ends.","readOnly":true},"allowedWorkerSizes":{"type":"string","description":"List of comma separated strings describing which VM sizes are allowed for workers.","readOnly":true},"apiManagementAccountId":{"type":"string","description":"API Management Account associated with the App Service Environment."},"clusterSettings":{"type":"array","description":"Custom settings for changing the behavior of the App Service Environment.","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}},"databaseEdition":{"type":"string","description":"Edition of the metadata database for the App Service Environment, e.g. \"Standard\".","readOnly":true},"databaseServiceObjective":{"type":"string","description":"Service objective of the metadata database for the App Service Environment, e.g. \"S0\".","readOnly":true},"defaultFrontEndScaleFactor":{"type":"integer","description":"Default Scale Factor for FrontEnds.","format":"int32","readOnly":true},"dnsSuffix":{"type":"string","description":"DNS suffix of the App Service Environment."},"dynamicCacheEnabled":{"type":"boolean","description":"True/false indicating whether the App Service Environment is suspended. The environment can be suspended e.g. when the management endpoint is no longer available\n(most likely because NSG blocked the incoming traffic)."},"environmentCapacities":{"type":"array","description":"Current total, used, and available worker capacities.","readOnly":true,"items":{"type":"object","properties":{"availableCapacity":{"type":"integer","description":"Available capacity (# of machines, bytes of storage etc...).","format":"int64"},"computeMode":{"type":"string","description":"Shared/dedicated workers.","enum":["Shared","Dedicated","Dynamic"]},"excludeFromCapacityAllocation":{"type":"boolean","description":"If <code>true</code>, it includes basic apps.\nBasic apps are not used for capacity allocation."},"isApplicableForAllComputeModes":{"type":"boolean","description":"<code>true</code> if capacity is applicable for all apps; otherwise, <code>false</code>."},"isLinux":{"type":"boolean","description":"Is this a linux stamp capacity"},"name":{"type":"string","description":"Name of the stamp."},"siteMode":{"type":"string","description":"Shared or Dedicated."},"totalCapacity":{"type":"integer","description":"Total capacity (# of machines, bytes of storage etc...).","format":"int64"},"unit":{"type":"string","description":"Name of the unit."},"workerSize":{"type":"string","description":"Size of the machines.","enum":["Small","Medium","Large","D1","D2","D3","Default"]},"workerSizeId":{"type":"integer","description":"Size ID of machines: \n0 - Small\n1 - Medium\n2 - Large","format":"int32"}},"description":"Stamp capacity information."}},"environmentIsHealthy":{"type":"boolean","description":"True/false indicating whether the App Service Environment is healthy.","readOnly":true},"environmentStatus":{"type":"string","description":"Detailed message about with results of the last check of the App Service Environment.","readOnly":true},"frontEndScaleFactor":{"type":"integer","description":"Scale factor for front-ends.","format":"int32"},"hasLinuxWorkers":{"type":"boolean","description":"Flag that displays whether an ASE has linux workers or not"},"internalLoadBalancingMode":{"type":"string","description":"Specifies which endpoints to serve internally in the Virtual Network for the App Service Environment.","enum":["None","Web","Publishing"]},"ipsslAddressCount":{"type":"integer","description":"Number of IP SSL addresses reserved for the App Service Environment.","format":"int32"},"lastAction":{"type":"string","description":"Last deployment action on the App Service Environment.","readOnly":true},"lastActionResult":{"type":"string","description":"Result of the last deployment action on the App Service Environment.","readOnly":true},"location":{"type":"string","description":"Location of the App Service Environment, e.g. \"West US\"."},"maximumNumberOfMachines":{"type":"integer","description":"Maximum number of VMs in the App Service Environment.","format":"int32","readOnly":true},"multiRoleCount":{"type":"integer","description":"Number of front-end instances.","format":"int32"},"multiSize":{"type":"string","description":"Front-end VM size, e.g. \"Medium\", \"Large\"."},"name":{"type":"string","description":"Name of the App Service Environment."},"networkAccessControlList":{"type":"array","description":"Access control list for controlling traffic to the App Service Environment.","items":{"type":"object","properties":{"action":{"type":"string","description":"Action object.","enum":["Permit","Deny"]},"description":{"type":"string","description":"Description of network access control entry."},"order":{"type":"integer","description":"Order of precedence.","format":"int32"},"remoteSubnet":{"type":"string","description":"Remote subnet."}},"description":"Network access control entry."}},"provisioningState":{"type":"string","description":"Provisioning state of the App Service Environment.","readOnly":true,"enum":["Succeeded","Failed","Canceled","InProgress","Deleting"]},"resourceGroup":{"type":"string","description":"Resource group of the App Service Environment.","readOnly":true},"sslCertKeyVaultId":{"type":"string","description":"Key Vault ID for ILB App Service Environment default SSL certificate"},"sslCertKeyVaultSecretName":{"type":"string","description":"Key Vault Secret Name for ILB App Service Environment default SSL certificate"},"status":{"type":"string","description":"Current status of the App Service Environment.","readOnly":true,"enum":["Preparing","Ready","Scaling","Deleting"]},"subscriptionId":{"type":"string","description":"Subscription of the App Service Environment.","readOnly":true},"suspended":{"type":"boolean","description":"<code>true</code> if the App Service Environment is suspended; otherwise, <code>false</code>. The environment can be suspended, e.g. when the management endpoint is no longer available\n (most likely because NSG blocked the incoming traffic)."},"upgradeDomains":{"type":"integer","description":"Number of upgrade domains of the App Service Environment.","format":"int32","readOnly":true},"userWhitelistedIpRanges":{"type":"array","description":"User added ip ranges to whitelist on ASE db","items":{"type":"string"}},"vipMappings":{"type":"array","description":"Description of IP SSL mapping for the App Service Environment.","readOnly":true,"items":{"type":"object","properties":{"inUse":{"type":"boolean","description":"Is virtual IP mapping in use."},"internalHttpPort":{"type":"integer","description":"Internal HTTP port.","format":"int32"},"internalHttpsPort":{"type":"integer","description":"Internal HTTPS port.","format":"int32"},"virtualIP":{"type":"string","description":"Virtual IP address."}},"description":"Virtual IP mapping."}},"virtualNetwork":{"type":"object","properties":{"id":{"type":"string","description":"Resource id of the Virtual Network."},"name":{"type":"string","description":"Name of the Virtual Network (read-only).","readOnly":true},"subnet":{"type":"string","description":"Subnet within the Virtual Network."},"type":{"type":"string","description":"Resource type of the Virtual Network (read-only).","readOnly":true}},"description":"Specification for using a Virtual Network."},"vnetName":{"type":"string","description":"Name of the Virtual Network for the App Service Environment."},"vnetResourceGroupName":{"type":"string","description":"Resource group of the Virtual Network."},"vnetSubnetName":{"type":"string","description":"Subnet of the Virtual Network."},"workerPools":{"type":"array","description":"Description of worker pools with worker size IDs, VM sizes, and number of workers in each pool.","items":{"type":"object","properties":{"computeMode":{"type":"string","description":"Shared or dedicated app hosting.","enum":["Shared","Dedicated","Dynamic"]},"instanceNames":{"type":"array","description":"Names of all instances in the worker pool (read only).","readOnly":true,"items":{"type":"string"}},"workerCount":{"type":"integer","description":"Number of instances in the worker pool.","format":"int32"},"workerSize":{"type":"string","description":"VM size of the worker pool instances."},"workerSizeId":{"type":"integer","description":"Worker size ID for referencing this worker pool.","format":"int32"}},"description":"Worker pool of an App Service Environment."}}},"description":"Description of an App Service Environment."}},"locations":{"type":"array","description":"Available regions.","items":{"$ref":"#/components/schemas/GeoRegion"}}},"description":"List of available locations (regions or App Service Environments) for\ndeployment of App Service resources."},"GeoRegion":{"properties":{"properties":{"type":"object","properties":{"description":{"type":"string","description":"Region description.","readOnly":true},"displayName":{"type":"string","description":"Display name for region.","readOnly":true}},"description":"GeoRegion resource specific properties"}},"description":"Geographical region.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"GeoRegionCollection":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"$ref":"#/components/schemas/GeoRegion"}}},"description":"Collection of geographical regions."},"GlobalCsmSkuDescription":{"type":"object","properties":{"capabilities":{"type":"array","description":"Capabilities of the SKU, e.g., is traffic manager enabled?","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of the SKU capability."},"reason":{"type":"string","description":"Reason of the SKU capability."},"value":{"type":"string","description":"Value of the SKU capability."}},"description":"Describes the capabilities/features allowed for a specific SKU."}},"capacity":{"type":"object","properties":{"default":{"type":"integer","description":"Default number of workers for this App Service plan SKU.","format":"int32"},"maximum":{"type":"integer","description":"Maximum number of workers for this App Service plan SKU.","format":"int32"},"minimum":{"type":"integer","description":"Minimum number of workers for this App Service plan SKU.","format":"int32"},"scaleType":{"type":"string","description":"Available scale configurations for an App Service plan."}},"description":"Description of the App Service plan scale options."},"family":{"type":"string","description":"Family code of the resource SKU."},"locations":{"type":"array","description":"Locations of the SKU.","items":{"type":"string"}},"name":{"type":"string","description":"Name of the resource SKU."},"size":{"type":"string","description":"Size specifier of the resource SKU."},"tier":{"type":"string","description":"Service Tier of the resource SKU."}},"description":"A Global SKU Description."},"HostingEnvironmentDeploymentInfo":{"type":"object","properties":{"location":{"type":"string","description":"Location of the App Service Environment."},"name":{"type":"string","description":"Name of the App Service Environment."}},"description":"Information needed to create resources on an App Service Environment."},"PremierAddOnOffer":{"properties":{"properties":{"type":"object","properties":{"legalTermsUrl":{"type":"string","description":"Legal terms URL."},"marketplaceOffer":{"type":"string","description":"Marketplace offer."},"marketplacePublisher":{"type":"string","description":"Marketplace publisher."},"privacyPolicyUrl":{"type":"string","description":"Privacy policy URL."},"product":{"type":"string","description":"Premier add on offer Product."},"promoCodeRequired":{"type":"boolean","description":"<code>true</code> if promotion code is required; otherwise, <code>false</code>."},"quota":{"type":"integer","description":"Premier add on offer Quota.","format":"int32"},"sku":{"type":"string","description":"Premier add on SKU."},"vendor":{"type":"string","description":"Premier add on offer Vendor."},"webHostingPlanRestrictions":{"type":"string","description":"App Service plans this offer is restricted to.","enum":["None","Free","Shared","Basic","Standard","Premium"]}},"description":"PremierAddOnOffer resource specific properties"}},"description":"Premier add-on offer.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"PremierAddOnOfferCollection":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"$ref":"#/components/schemas/PremierAddOnOffer"}}},"description":"Collection of premier add-on offers."},"ResourceNameAvailability":{"type":"object","properties":{"message":{"type":"string","description":"If reason == invalid, provide the user with the reason why the given name is invalid, and provide the resource naming requirements so that the user can select a valid name. If reason == AlreadyExists, explain that resource name is already in use, and direct them to select a different name."},"nameAvailable":{"type":"boolean","description":"<code>true</code> indicates name is valid and available. <code>false</code> indicates the name is invalid, unavailable, or both."},"reason":{"type":"string","description":"<code>Invalid</code> indicates the name provided does not match Azure App Service naming requirements. <code>AlreadyExists</code> indicates that the name is already in use and is therefore unavailable.","enum":["Invalid","AlreadyExists"]}},"description":"Information regarding availability of a resource name."},"ResourceNameAvailabilityRequest":{"required":["name","type"],"type":"object","properties":{"isFqdn":{"type":"boolean","description":"Is fully qualified domain name."},"name":{"type":"string","description":"Resource name to verify."},"type":{"type":"string","description":"Resource type used for verification.","enum":["Site","Slot","HostingEnvironment","PublishingUser","Microsoft.Web/sites","Microsoft.Web/sites/slots","Microsoft.Web/hostingEnvironments","Microsoft.Web/publishingUsers"]}},"description":"Resource name availability request content."},"SkuInfos":{"type":"object","properties":{"resourceType":{"type":"string","description":"Resource type that this SKU applies to."},"skus":{"type":"array","description":"List of SKUs the subscription is able to use.","items":{"$ref":"#/components/schemas/GlobalCsmSkuDescription"}}},"description":"Collection of SKU information."},"SourceControl":{"properties":{"properties":{"type":"object","properties":{"expirationTime":{"type":"string","description":"OAuth token expiration.","format":"date-time"},"refreshToken":{"type":"string","description":"OAuth refresh token."},"token":{"type":"string","description":"OAuth access token."},"tokenSecret":{"type":"string","description":"OAuth access token secret."}},"description":"SourceControl resource specific properties"}},"description":"The source control OAuth token.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"SourceControlCollection":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"$ref":"#/components/schemas/SourceControl"}}},"description":"Collection of source controls."},"ValidateContainerSettingsRequest":{"type":"object","properties":{"baseUrl":{"type":"string","description":"Base URL of the container registry"},"password":{"type":"string","description":"Password for to access the container registry"},"platform":{"type":"string","description":"Platform (windows or linux)"},"repository":{"type":"string","description":"Repository name (image name)"},"tag":{"type":"string","description":"Image tag"},"username":{"type":"string","description":"Username for to access the container registry"}},"description":"Container settings validation request context"},"ValidateProperties":{"type":"object","properties":{"capacity":{"minimum":1,"type":"integer","description":"Target capacity of the App Service plan (number of VMs).","format":"int32"},"hostingEnvironment":{"type":"string","description":"Name of App Service Environment where app or App Service plan should be created."},"isSpot":{"type":"boolean","description":"<code>true</code> if App Service plan is for Spot instances; otherwise, <code>false</code>."},"isXenon":{"type":"boolean","description":"<code>true</code> if App Service plan is running as a windows container"},"needLinuxWorkers":{"type":"boolean","description":"<code>true</code> if App Service plan is for Linux workers; otherwise, <code>false</code>."},"serverFarmId":{"type":"string","description":"ARM resource ID of an App Service plan that would host the app."},"skuName":{"type":"string","description":"Name of the target SKU for the App Service plan."}},"description":"App properties used for validation."},"ValidateRequest":{"required":["location","name","properties","type"],"type":"object","properties":{"location":{"type":"string","description":"Expected location of the resource."},"name":{"type":"string","description":"Resource name to verify."},"properties":{"$ref":"#/components/schemas/ValidateProperties"},"type":{"type":"string","description":"Resource type used for verification.","enum":["ServerFarm","Site"]}},"description":"Resource validation request content."},"ValidateResponse":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ValidateResponseError"},"status":{"type":"string","description":"Result of validation."}},"description":"Describes the result of resource validation."},"ValidateResponseError":{"type":"object","properties":{"code":{"type":"string","description":"Validation error code."},"message":{"type":"string","description":"Validation error message."}},"description":"Error details for when validation fails."},"VnetParameters":{"properties":{"properties":{"type":"object","properties":{"vnetName":{"type":"string","description":"The name of the VNET to be validated"},"vnetResourceGroup":{"type":"string","description":"The Resource Group of the VNET to be validated"},"vnetSubnetName":{"type":"string","description":"The subnet name to be validated"}},"description":"VnetParameters resource specific properties"}},"description":"The required set of inputs to validate a VNET","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"VnetValidationFailureDetails":{"properties":{"properties":{"type":"object","properties":{"failed":{"type":"boolean","description":"A flag describing whether or not validation failed."},"failedTests":{"type":"array","description":"A list of tests that failed in the validation.","items":{"$ref":"#/components/schemas/VnetValidationTestFailure"}}},"description":"VnetValidationFailureDetails resource specific properties"}},"description":"A class that describes the reason for a validation failure.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"VnetValidationTestFailure":{"properties":{"properties":{"type":"object","properties":{"details":{"type":"string","description":"The details of what caused the failure, e.g. the blocking rule name, etc."},"testName":{"type":"string","description":"The name of the test that failed."}},"description":"VnetValidationTestFailure resource specific properties"}},"description":"A class that describes a test that failed during NSG and UDR validation.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]}},"parameters":{"apiVersionParameter":{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}},"resourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},"subscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}