{"openapi":"3.0.1","info":{"title":"agentOS API V3, Diary Call Group","version":"v3-diary"},"servers":[{"url":"https://live-api.letmc.com/"}],"paths":{"/v3/diary/{shortName}/allocations":{"get":{"tags":["DiaryController"],"summary":"Get a list of all available allocations for a date + 7 days for a specified appointment type","operationId":"DiaryController_GetAllocations","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"preferredDate","in":"query","description":"The date to search from","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"propertyIdentifier","in":"query","description":"The unique property identifier (Sales or Lettings)","required":true,"schema":{"type":"string"}},{"name":"appointmentType","in":"query","description":"The unique appointment type identifier","required":true,"schema":{"type":"string"}},{"name":"lettings","in":"query","description":"Sales or Lettings property?","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiaryBookingModel"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiaryBookingModel"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiaryBookingModel"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiaryBookingModel"}}}}}},"deprecated":false}},"/v3/diary/{shortName}/appointment":{"get":{"tags":["DiaryController"],"summary":"Get an appointment by ID","operationId":"DiaryController_GetAppointment","parameters":[{"name":"shortName","in":"path","description":"Company short name","required":true,"schema":{"type":"string"}},{"name":"appointmentID","in":"query","description":"Appointment ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModel"}}}}},"deprecated":false},"put":{"tags":["DiaryController"],"summary":"Update an existing appointment using its unique identifier","operationId":"DiaryController_PutAppointment","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"appointmentID","in":"query","description":"The unique appointment id","required":true,"schema":{"type":"string"}},{"name":"lettings","in":"query","description":"Sales or Lettings property?","schema":{"type":"boolean"}}],"requestBody":{"description":"The appointment details model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentDetails"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentDetails"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}},"text/xml":{"schema":{"type":"string"}}}}},"deprecated":false},"post":{"tags":["DiaryController"],"summary":"Post an appointment into a valid diary allocation","operationId":"DiaryController_PostAppointment","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"propertyIdentifier","in":"query","description":"The unique property identifier (Sales or Lettings)","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"lettings","in":"query","description":"Sales or Lettings property?","schema":{"type":"boolean"}}],"requestBody":{"description":"The appointment details model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentDetails"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentDetails"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}},"text/xml":{"schema":{"type":"string"}}}}},"deprecated":false},"delete":{"tags":["DiaryController"],"summary":"Delete an existing appointment using its unique identifier","operationId":"DiaryController_DeleteAppointment","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"appointmentID","in":"query","description":"The unique appointment id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}},"text/xml":{"schema":{"type":"string"}}}}},"deprecated":false}},"/v3/diary/{shortName}/appointment/feedback":{"post":{"tags":["DiaryController"],"summary":"Submit appointment feedback","operationId":"DiaryController_AddFeedback","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Feedback submission model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackSubmissionModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/FeedbackSubmissionModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/FeedbackSubmissionModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/FeedbackSubmissionModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/FeedbackSubmissionModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}},"text/xml":{"schema":{"type":"string"}}}}},"deprecated":false}},"/v3/diary/{shortName}/appointmentsbetweendates":{"get":{"tags":["DiaryController"],"summary":"A collection of diary appointments linked to a company filtered between specific dates and by appointment type","operationId":"DiaryController_GetAppointmentsBetweenDates","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"branchID","in":"query","description":"The unique ID of the Branch","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"query","description":"The search from date","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","description":"The search to date","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"appointmentTypesToSearch","in":"query","description":"The appointment IDs to search for","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}}}}},"deprecated":false}},"/v3/diary/{shortName}/appointmenttypes":{"get":{"tags":["DiaryController"],"summary":"A collection of all diary appointment types","operationId":"DiaryController_GetAppointmentTypes","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModelResults"}}}}},"deprecated":false}},"/v3/diary/{shortName}/recurringappointment":{"get":{"tags":["DiaryController"],"summary":"Retrieves all recurring appointments:-","operationId":"DiaryController_GetRecurringAppointments","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"branchID","in":"query","description":"The unique ID of the Branch","required":true,"schema":{"type":"string"}},{"name":"appointmentTypesToSearch","in":"query","description":"The appointment IDs to search for","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}}}}},"deprecated":false}}},"components":{"schemas":{"DiaryAppointmentDetails":{"type":"object","properties":{"AllocationDetails":{"$ref":"#/components/schemas/DiaryBookingModel"},"AppointmentType":{"type":"string","description":"The Appointment Type ID"},"ExtraComments":{"type":"string","description":"Additional appointment comments"},"Guests":{"type":"array","description":"A collection of guests linked to the appointment. If none leave empty","items":{"$ref":"#/components/schemas/DiaryGuestDetails"}},"Subject":{"type":"string","description":"The subject of the appointment"}},"description":"Submission Model - Structure to submit the appointment details"},"DiaryAppointmentModel":{"type":"object","properties":{"AppointmentType":{"type":"string","description":"The diary appointment type."},"Cancelled":{"type":"boolean","description":"Whether the appointment has been cancelled."},"Comment":{"type":"string","description":"The appointment comments text."},"CreatedAt":{"type":"string","description":"The date/time this appointment was created.","format":"date-time"},"CreatedBy":{"type":"string","description":"The staff member that created this appointment."},"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"End":{"type":"string","description":"The end date/time of this appointment.","format":"date-time"},"LinkedProperties":{"type":"array","description":"A collection of properties linked to the appointment:-","items":{"$ref":"#/components/schemas/LinkedPropertiesModel"}},"NextRecurringDate":{"type":"string","description":"Date appointment next repeats:-","format":"date-time"},"OID":{"type":"string","description":"The unique Object ID (OID)."},"Recurrence":{"type":"integer","description":"The reccurrence interval for the appointment:-","format":"int32"},"RecurrenceType":{"type":"string","description":"The type of recurrence:-"},"RemindAt":{"type":"string","description":"The date/time to remind the staff member of this appointment.","format":"date-time"},"RemindBefore":{"type":"string","description":"The number of minutes before the appointment start date/time to remind the staff member. -1 means don't remind.","enum":["Min","Min2","Min5","Min10","Min15","Min30","Min45","Hour","Hour2","Hour3","Hour6","Hour12","Day","Day2","Day3","Week","NoReminder"]},"Staff":{"type":"string","description":"The staff member holding this appointment."},"Start":{"type":"string","description":"The start date/time of this appointment.","format":"date-time"},"Subject":{"type":"string","description":"The appointment subject text."}},"description":"Represents a single diary appointment for a staff member."},"DiaryAppointmentModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/DiaryAppointmentModel"}}},"description":"Holds results from a paged query returning DiaryAppointmentModel values"},"DiaryAppointmentTypeModel":{"type":"object","properties":{"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"Name":{"type":"string","description":"The appointment type name."},"OID":{"type":"string","description":"The unique Object ID (OID)."},"SystemType":{"type":"string","description":"The appointment system type.","enum":["Viewing","ViewAndValue","OpeningInspection","InterimInspection","ClosingInspection","SalesAppraisal","Custom"]}},"description":"Represents a diary appointment type."},"DiaryAppointmentTypeModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/DiaryAppointmentTypeModel"}}},"description":"Holds results from a paged query returning DiaryAppointmentTypeModel values"},"DiaryBookingModel":{"type":"object","properties":{"End":{"type":"string","description":"The end time of the booking","format":"date-time"},"StaffID":{"type":"string","description":"The unique ID of the staff member this booking is with"},"StaffName":{"type":"string","description":"The name of the staff member this booking is with"},"Start":{"type":"string","description":"The start time of the booking","format":"date-time"}},"description":"Represents a viewing booking slot"},"DiaryGuestDetails":{"type":"object","properties":{"EmailAddress":{"type":"string","description":"Email address"},"Forename":{"type":"string","description":"Forename"},"MobilePhone":{"type":"string","description":"Mobile phone"},"OID":{"type":"string","description":"The unique identifier of a user, only submit this is known"},"Surname":{"type":"string","description":"Surname"}},"description":"Submission Model - Structure to submit appointment guest details"},"FeedbackSubmissionModel":{"type":"object","properties":{"AppointmentID":{"type":"string","description":"Appointment to submit feedback to:-"},"Feedback":{"type":"string","description":"Feedback to submit:-"},"PropertyID":{"type":"string","description":"Property to submit feedback to:-"}},"description":"Feedback Submission Model:-"},"LatestTenancyModel":{"type":"object","properties":{"ETag":{"type":"string","description":"ETag"},"EndDate":{"type":"string","description":"The end date of the Tenancy","format":"date-time"},"FixedDate":{"type":"string","description":"The fixed date of the Tenancy","format":"date-time"},"GlobalReference":{"type":"string","description":"The unique global reference of the Tenancy"},"IsTenancyEnded":{"type":"boolean","description":"Has the Tenancy ended?"},"IsTenancyProposed":{"type":"boolean","description":"Is the tenancy Proposed?"},"IsTenancySigned":{"type":"boolean","description":"Is the tenancy signed?"},"LinkedTenants":{"type":"array","description":"A collection of tenants linked to the tenancy:-","items":{"$ref":"#/components/schemas/LinkedTenantModel"}},"OID":{"type":"string","description":"OID"},"StartDate":{"type":"string","description":"The start date of the Tenancy","format":"date-time"}},"description":"Holds information on the most recent tenancy linked to the property."},"LinkedLandlordModel":{"type":"object","properties":{"ETag":{"type":"string","description":"ETag"},"Email":{"type":"string","description":"Landlord's email address"},"Forename":{"type":"string","description":"Forename"},"OID":{"type":"string","description":"OID"},"PhoneNumber":{"type":"string","description":"Landlord's phone number"},"Surname":{"type":"string","description":"Surname"},"Title":{"type":"string","description":"Title"}},"description":"Holds information on landlords"},"LinkedPropertiesModel":{"type":"object","properties":{"Address1":{"type":"string","description":"Address 1"},"Address2":{"type":"string","description":"Address2"},"Address3":{"type":"string","description":"Address 3"},"Address4":{"type":"string","description":"Address 4"},"AddressFlatRoomNumber":{"type":"string","description":"Address Flat Room Number"},"AddressNumber":{"type":"string","description":"Address Number"},"ETag":{"type":"string","description":"ETag"},"LatestTenancy":{"$ref":"#/components/schemas/LatestTenancyModel"},"MainLandlord":{"$ref":"#/components/schemas/LinkedLandlordModel"},"OID":{"type":"string","description":"OID"},"Postcode":{"type":"string","description":"Postcode"}},"description":"Holds information on linked properties"},"LinkedTenantModel":{"type":"object","properties":{"ETag":{"type":"string","description":"ETag"},"Email":{"type":"string","description":"Tenant's email address"},"Forename":{"type":"string","description":"Forename"},"OID":{"type":"string","description":"OID"},"PhoneNumber":{"type":"string","description":"Tenant's phone number"},"Surname":{"type":"string","description":"Surname"},"Title":{"type":"string","description":"Title"}},"description":"Holds information on tenants"}},"securitySchemes":{"apiKey":{"type":"apiKey","description":"ApiKey Authentication","name":"ApiKey","in":"header"},"basic":{"type":"http","description":"Basic HTTP Authentication","scheme":"basic"}}}}