{"openapi":"3.0.1","info":{"title":"ContainerServiceClient","description":"The Container Service Client.","version":"2017-01-31"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/containerServices":{"get":{"tags":["ContainerServices"],"summary":"Gets a list of container services in the specified subscription.","description":"Gets a list of container services in the specified subscription. The operation returns properties of each container service including state, orchestrator, number of masters and agents, and FQDNs of masters and agents.","operationId":"ContainerServices_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerServiceListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/containerServices":{"get":{"tags":["ContainerService"],"summary":"Gets a list of container services in the specified resource group.","description":"Gets a list of container services in the specified subscription and resource group. The operation returns properties of each container service including state, orchestrator, number of masters and agents, and FQDNs of masters and agents.","operationId":"ContainerServices_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerServiceListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/containerServices/{containerServiceName}":{"get":{"tags":["ContainerService"],"summary":"Gets the properties of the specified container service.","description":"Gets the properties of the specified container service in the specified subscription and resource group. The operation returns the properties including state, orchestrator, number of masters and agents, and FQDNs of masters and agents. ","operationId":"ContainerServices_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerServiceName","in":"path","description":"The name of the container service in the specified subscription and resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerService"}}}}}},"put":{"tags":["ContainerServices"],"summary":"Creates or updates a container service.","description":"Creates or updates a container service with the specified configuration of orchestrator, masters, and agents.","operationId":"ContainerServices_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerServiceName","in":"path","description":"The name of the container service in the specified subscription and resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Create or Update a Container Service operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerService"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerService"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerService"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerService"}}}}}},"delete":{"tags":["ContainerService"],"summary":"Deletes the specified container service.","description":"Deletes the specified container service in the specified subscription and resource group. The operation does not delete other resources created as part of creating a container service, including storage accounts, VMs, and availability sets. All the other resources created with the container service are part of the same resource group and can be deleted individually.","operationId":"ContainerServices_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerServiceName","in":"path","description":"The name of the container service in the specified subscription and resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted"},"204":{"description":"Not found"}}}}},"components":{"schemas":{"ContainerService":{"properties":{"properties":{"$ref":"#/components/schemas/ContainerServiceProperties"}},"description":"Container service.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ContainerServiceAgentPoolProfile":{"required":["count","dnsPrefix","name","vmSize"],"type":"object","properties":{"count":{"maximum":100,"minimum":1,"type":"integer","description":"Number of agents (VMs) to host docker containers. Allowed values must be in the range of 1 to 100 (inclusive). The default value is 1. ","format":"int32","default":1},"dnsPrefix":{"type":"string","description":"DNS prefix to be used to create the FQDN for the agent pool."},"fqdn":{"type":"string","description":"FQDN for the agent pool.","readOnly":true},"name":{"type":"string","description":"Unique name of the agent pool profile in the context of the subscription and resource group."},"vmSize":{"type":"string","description":"Size of agent VMs.","enum":["Standard_A0","Standard_A1","Standard_A2","Standard_A3","Standard_A4","Standard_A5","Standard_A6","Standard_A7","Standard_A8","Standard_A9","Standard_A10","Standard_A11","Standard_D1","Standard_D2","Standard_D3","Standard_D4","Standard_D11","Standard_D12","Standard_D13","Standard_D14","Standard_D1_v2","Standard_D2_v2","Standard_D3_v2","Standard_D4_v2","Standard_D5_v2","Standard_D11_v2","Standard_D12_v2","Standard_D13_v2","Standard_D14_v2","Standard_G1","Standard_G2","Standard_G3","Standard_G4","Standard_G5","Standard_DS1","Standard_DS2","Standard_DS3","Standard_DS4","Standard_DS11","Standard_DS12","Standard_DS13","Standard_DS14","Standard_GS1","Standard_GS2","Standard_GS3","Standard_GS4","Standard_GS5"]}},"description":"Profile for the container service agent pool."},"ContainerServiceCustomProfile":{"required":["orchestrator"],"type":"object","properties":{"orchestrator":{"type":"string","description":"The name of the custom orchestrator to use."}},"description":"Properties to configure a custom container service cluster."},"ContainerServiceDiagnosticsProfile":{"required":["vmDiagnostics"],"type":"object","properties":{"vmDiagnostics":{"$ref":"#/components/schemas/ContainerServiceVMDiagnostics"}}},"ContainerServiceLinuxProfile":{"required":["adminUsername","ssh"],"type":"object","properties":{"adminUsername":{"pattern":"^[a-z][a-z0-9_-]*$","type":"string","description":"The administrator username to use for Linux VMs."},"ssh":{"$ref":"#/components/schemas/ContainerServiceSshConfiguration"}},"description":"Profile for Linux VMs in the container service cluster."},"ContainerServiceListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of container service results."},"value":{"type":"array","description":"the list of container services.","items":{"$ref":"#/components/schemas/ContainerService"}}},"description":"The response from the List Container Services operation."},"ContainerServiceMasterProfile":{"required":["dnsPrefix"],"type":"object","properties":{"count":{"type":"integer","description":"Number of masters (VMs) in the container service cluster. Allowed values are 1, 3, and 5. The default value is 1.","format":"int32","default":1,"enum":[1,3,5]},"dnsPrefix":{"type":"string","description":"DNS prefix to be used to create the FQDN for master."},"fqdn":{"type":"string","description":"FQDN for the master.","readOnly":true}},"description":"Profile for the container service master."},"ContainerServiceOrchestratorProfile":{"required":["orchestratorType"],"type":"object","properties":{"orchestratorType":{"type":"string","description":"The orchestrator to use to manage container service cluster resources. Valid values are Swarm, DCOS, and Custom.","enum":["Swarm","DCOS","Custom","Kubernetes"]}},"description":"Profile for the container service orchestrator."},"ContainerServiceProperties":{"required":["agentPoolProfiles","linuxProfile","masterProfile"],"type":"object","properties":{"agentPoolProfiles":{"type":"array","description":"Properties of the agent pool.","items":{"$ref":"#/components/schemas/ContainerServiceAgentPoolProfile"}},"customProfile":{"$ref":"#/components/schemas/ContainerServiceCustomProfile"},"diagnosticsProfile":{"$ref":"#/components/schemas/ContainerServiceDiagnosticsProfile"},"linuxProfile":{"$ref":"#/components/schemas/ContainerServiceLinuxProfile"},"masterProfile":{"$ref":"#/components/schemas/ContainerServiceMasterProfile"},"orchestratorProfile":{"$ref":"#/components/schemas/ContainerServiceOrchestratorProfile"},"provisioningState":{"type":"string","description":"the current deployment or provisioning state, which only appears in the response.","readOnly":true},"servicePrincipalProfile":{"$ref":"#/components/schemas/ContainerServiceServicePrincipalProfile"},"windowsProfile":{"$ref":"#/components/schemas/ContainerServiceWindowsProfile"}},"description":"Properties of the container service."},"ContainerServiceServicePrincipalProfile":{"required":["clientId","secret"],"type":"object","properties":{"clientId":{"type":"string","description":"The ID for the service principal."},"secret":{"type":"string","description":"The secret password associated with the service principal."}},"description":"Information about a service principal identity for the cluster to use for manipulating Azure APIs."},"ContainerServiceSshConfiguration":{"required":["publicKeys"],"type":"object","properties":{"publicKeys":{"type":"array","description":"the list of SSH public keys used to authenticate with Linux-based VMs.","items":{"$ref":"#/components/schemas/ContainerServiceSshPublicKey"}}},"description":"SSH configuration for Linux-based VMs running on Azure."},"ContainerServiceSshPublicKey":{"required":["keyData"],"type":"object","properties":{"keyData":{"type":"string","description":"Certificate public key used to authenticate with VMs through SSH. The certificate must be in PEM format with or without headers."}},"description":"Contains information about SSH certificate public key data."},"ContainerServiceVMDiagnostics":{"required":["enabled"],"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether the VM diagnostic agent is provisioned on the VM."},"storageUri":{"type":"string","description":"The URI of the storage account where diagnostics are stored.","readOnly":true}},"description":"Profile for diagnostics on the container service VMs."},"ContainerServiceWindowsProfile":{"required":["adminPassword","adminUsername"],"type":"object","properties":{"adminPassword":{"pattern":"^(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%\\^&\\*\\(\\)])[a-zA-Z\\d!@#$%\\^&\\*\\(\\)]{12,123}$","type":"string","description":"The administrator password to use for Windows VMs."},"adminUsername":{"pattern":"^[a-zA-Z0-9]+([._]?[a-zA-Z0-9]+)*$","type":"string","description":"The administrator username to use for Windows VMs."}},"description":"Profile for Windows VMs in the container service cluster."},"Resource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The Resource model definition."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}