{"openapi":"3.0.1","info":{"title":"Security Center","description":"API spec for Microsoft.Security (Azure Security Center) resource provider","version":"2015-06-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/topologies":{"get":{"tags":["Topology"],"description":"Gets a list that allows to build a topology view of a subscription and location.","operationId":"Topology_ListByHomeRegion","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"ascLocation","in":"path","description":"The location where ASC stores the data of the subscription. can be retrieved from Get locations","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopologyList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Security/topologies":{"get":{"tags":["Topology"],"description":"Gets a list that allows to build a topology view of a subscription.","operationId":"Topology_List","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopologyList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/topologies/{topologyResourceName}":{"get":{"tags":["Topology"],"description":"Gets a specific topology component.","operationId":"Topology_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"ascLocation","in":"path","description":"The location where ASC stores the data of the subscription. can be retrieved from Get locations","required":true,"schema":{"type":"string"}},{"name":"topologyResourceName","in":"path","description":"Name of a topology resources collection.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopologyResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}}},"components":{"schemas":{"TopologyList":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page.","readOnly":true},"value":{"type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/TopologyResource"}}}},"TopologyResource":{"properties":{"properties":{"$ref":"#/components/schemas/TopologyResourceProperties"}},"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."},{"type":"object","properties":{"location":{"type":"string","description":"Location where the resource is stored","readOnly":true}},"description":"Describes an Azure resource with location"}]},"TopologyResourceProperties":{"type":"object","properties":{"calculatedDateTime":{"type":"string","description":"The UTC time on which the topology was calculated","format":"date-time","readOnly":true},"topologyResources":{"type":"array","description":"Azure resources which are part of this topology resource","readOnly":true,"items":{"$ref":"#/components/schemas/TopologySingleResource"}}}},"TopologySingleResource":{"type":"object","properties":{"children":{"type":"array","description":"Azure resources connected to this resource which are in lower level in the topology view","readOnly":true,"items":{"$ref":"#/components/schemas/TopologySingleResourceChild"}},"location":{"type":"string","description":"The location of this resource","readOnly":true},"networkZones":{"type":"string","description":"Indicates the resource connectivity level to the Internet (InternetFacing, Internal ,etc.)","readOnly":true},"parents":{"type":"array","description":"Azure resources connected to this resource which are in higher level in the topology view","readOnly":true,"items":{"$ref":"#/components/schemas/TopologySingleResourceParent"}},"recommendationsExist":{"type":"boolean","description":"Indicates if the resource has security recommendations","readOnly":true},"resourceId":{"type":"string","description":"Azure resource id","readOnly":true},"severity":{"type":"string","description":"The security severity of the resource","readOnly":true},"topologyScore":{"type":"integer","description":"Score of the resource based on its security severity","readOnly":true}}},"TopologySingleResourceChild":{"type":"object","properties":{"resourceId":{"type":"string","description":"Azure resource id which serves as child resource in topology view","readOnly":true}}},"TopologySingleResourceParent":{"type":"object","properties":{"resourceId":{"type":"string","description":"Azure resource id which serves as parent resource in topology view","readOnly":true}}}},"parameters":{"TopologyResourceName":{"name":"topologyResourceName","in":"path","description":"Name of a topology resources collection.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}