{"openapi":"3.0.1","info":{"title":"Diagnostics API Client","version":"2018-02-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors":{"get":{"tags":["Diagnostics"],"summary":"List Hosting Environment Detector Responses","description":"List Hosting Environment Detector Responses","operationId":"Diagnostics_ListHostingEnvironmentDetectorResponses","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetectorResponseCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors/{detectorName}":{"get":{"tags":["Diagnostics"],"summary":"Get Hosting Environment Detector Response","description":"Get Hosting Environment Detector Response","operationId":"Diagnostics_GetHostingEnvironmentDetectorResponse","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"App Service Environment Name","required":true,"schema":{"type":"string"}},{"name":"detectorName","in":"path","description":"Detector Resource Name","required":true,"schema":{"type":"string"}},{"name":"startTime","in":"query","description":"Start Time","schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End Time","schema":{"type":"string","format":"date-time"}},{"name":"timeGrain","in":"query","description":"Time Grain","schema":{"pattern":"PT[1-9][0-9]+[SMH]","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetectorResponse"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors":{"get":{"tags":["Diagnostics"],"summary":"List Site Detector Responses","description":"List Site Detector Responses","operationId":"Diagnostics_ListSiteDetectorResponses","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetectorResponseCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors/{detectorName}":{"get":{"tags":["Diagnostics"],"summary":"Get site detector response","description":"Get site detector response","operationId":"Diagnostics_GetSiteDetectorResponse","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"detectorName","in":"path","description":"Detector Resource Name","required":true,"schema":{"type":"string"}},{"name":"startTime","in":"query","description":"Start Time","schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End Time","schema":{"type":"string","format":"date-time"}},{"name":"timeGrain","in":"query","description":"Time Grain","schema":{"pattern":"PT[1-9][0-9]+[SMH]","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetectorResponse"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics":{"get":{"tags":["Diagnostics"],"summary":"Get Diagnostics Categories","description":"Get Diagnostics Categories","operationId":"Diagnostics_ListSiteDiagnosticCategories","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticCategoryCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}":{"get":{"tags":["Diagnostics"],"summary":"Get Diagnostics Category","description":"Get Diagnostics Category","operationId":"Diagnostics_GetSiteDiagnosticCategory","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Diagnostic Category","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticCategory"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses":{"get":{"tags":["Diagnostics"],"summary":"Get Site Analyses","description":"Get Site Analyses","operationId":"Diagnostics_ListSiteAnalyses","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Diagnostic Category","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticAnalysisCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}":{"get":{"tags":["Diagnostics"],"summary":"Get Site Analysis","description":"Get Site Analysis","operationId":"Diagnostics_GetSiteAnalysis","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Diagnostic Category","required":true,"schema":{"type":"string"}},{"name":"analysisName","in":"path","description":"Analysis Name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticAnalysis"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute":{"post":{"tags":["Diagnostics"],"summary":"Execute Analysis","description":"Execute Analysis","operationId":"Diagnostics_ExecuteSiteAnalysis","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Category Name","required":true,"schema":{"type":"string"}},{"name":"analysisName","in":"path","description":"Analysis Resource Name","required":true,"schema":{"type":"string"}},{"name":"startTime","in":"query","description":"Start Time","schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End Time","schema":{"type":"string","format":"date-time"}},{"name":"timeGrain","in":"query","description":"Time Grain","schema":{"pattern":"PT[1-9][0-9]+[SMH]","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticAnalysis"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors":{"get":{"tags":["Diagnostics"],"summary":"Get Detectors","description":"Get Detectors","operationId":"Diagnostics_ListSiteDetectors","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Diagnostic Category","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticDetectorCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}":{"get":{"tags":["Diagnostics"],"summary":"Get Detector","description":"Get Detector","operationId":"Diagnostics_GetSiteDetector","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Diagnostic Category","required":true,"schema":{"type":"string"}},{"name":"detectorName","in":"path","description":"Detector Name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticDetectorCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute":{"post":{"tags":["Diagnostics"],"summary":"Execute Detector","description":"Execute Detector","operationId":"Diagnostics_ExecuteSiteDetector","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"detectorName","in":"path","description":"Detector Resource Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Category Name","required":true,"schema":{"type":"string"}},{"name":"startTime","in":"query","description":"Start Time","schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End Time","schema":{"type":"string","format":"date-time"}},{"name":"timeGrain","in":"query","description":"Time Grain","schema":{"pattern":"PT[1-9][0-9]+[SMH]","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticDetectorResponse"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors":{"get":{"tags":["Diagnostics"],"summary":"List Site Detector Responses","description":"List Site Detector Responses","operationId":"Diagnostics_ListSiteDetectorResponsesSlot","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"slot","in":"path","description":"Slot Name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetectorResponseCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors/{detectorName}":{"get":{"tags":["Diagnostics"],"summary":"Get site detector response","description":"Get site detector response","operationId":"Diagnostics_GetSiteDetectorResponseSlot","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"detectorName","in":"path","description":"Detector Resource Name","required":true,"schema":{"type":"string"}},{"name":"slot","in":"path","description":"Slot Name","required":true,"schema":{"type":"string"}},{"name":"startTime","in":"query","description":"Start Time","schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End Time","schema":{"type":"string","format":"date-time"}},{"name":"timeGrain","in":"query","description":"Time Grain","schema":{"pattern":"PT[1-9][0-9]+[SMH]","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetectorResponse"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics":{"get":{"tags":["Diagnostics"],"summary":"Get Diagnostics Categories","description":"Get Diagnostics Categories","operationId":"Diagnostics_ListSiteDiagnosticCategoriesSlot","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"slot","in":"path","description":"Slot Name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticCategoryCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}":{"get":{"tags":["Diagnostics"],"summary":"Get Diagnostics Category","description":"Get Diagnostics Category","operationId":"Diagnostics_GetSiteDiagnosticCategorySlot","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Diagnostic Category","required":true,"schema":{"type":"string"}},{"name":"slot","in":"path","description":"Slot Name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticCategory"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses":{"get":{"tags":["Diagnostics"],"summary":"Get Site Analyses","description":"Get Site Analyses","operationId":"Diagnostics_ListSiteAnalysesSlot","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Diagnostic Category","required":true,"schema":{"type":"string"}},{"name":"slot","in":"path","description":"Slot Name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticAnalysisCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}":{"get":{"tags":["Diagnostics"],"summary":"Get Site Analysis","description":"Get Site Analysis","operationId":"Diagnostics_GetSiteAnalysisSlot","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Diagnostic Category","required":true,"schema":{"type":"string"}},{"name":"analysisName","in":"path","description":"Analysis Name","required":true,"schema":{"type":"string"}},{"name":"slot","in":"path","description":"Slot - optional","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticAnalysis"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute":{"post":{"tags":["Diagnostics"],"summary":"Execute Analysis","description":"Execute Analysis","operationId":"Diagnostics_ExecuteSiteAnalysisSlot","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Category Name","required":true,"schema":{"type":"string"}},{"name":"analysisName","in":"path","description":"Analysis Resource Name","required":true,"schema":{"type":"string"}},{"name":"slot","in":"path","description":"Slot Name","required":true,"schema":{"type":"string"}},{"name":"startTime","in":"query","description":"Start Time","schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End Time","schema":{"type":"string","format":"date-time"}},{"name":"timeGrain","in":"query","description":"Time Grain","schema":{"pattern":"PT[1-9][0-9]+[SMH]","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticAnalysis"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors":{"get":{"tags":["Diagnostics"],"summary":"Get Detectors","description":"Get Detectors","operationId":"Diagnostics_ListSiteDetectorsSlot","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Diagnostic Category","required":true,"schema":{"type":"string"}},{"name":"slot","in":"path","description":"Slot Name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticDetectorCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}":{"get":{"tags":["Diagnostics"],"summary":"Get Detector","description":"Get Detector","operationId":"Diagnostics_GetSiteDetectorSlot","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Diagnostic Category","required":true,"schema":{"type":"string"}},{"name":"detectorName","in":"path","description":"Detector Name","required":true,"schema":{"type":"string"}},{"name":"slot","in":"path","description":"Slot Name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticDetectorCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute":{"post":{"tags":["Diagnostics"],"summary":"Execute Detector","description":"Execute Detector","operationId":"Diagnostics_ExecuteSiteDetectorSlot","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"siteName","in":"path","description":"Site Name","required":true,"schema":{"type":"string"}},{"name":"detectorName","in":"path","description":"Detector Resource Name","required":true,"schema":{"type":"string"}},{"name":"diagnosticCategory","in":"path","description":"Category Name","required":true,"schema":{"type":"string"}},{"name":"slot","in":"path","description":"Slot Name","required":true,"schema":{"type":"string"}},{"name":"startTime","in":"query","description":"Start Time","schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End Time","schema":{"type":"string","format":"date-time"}},{"name":"timeGrain","in":"query","description":"Time Grain","schema":{"pattern":"PT[1-9][0-9]+[SMH]","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticDetectorResponse"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}}},"components":{"schemas":{"AbnormalTimePeriod":{"type":"object","properties":{"endTime":{"type":"string","description":"End time of the downtime","format":"date-time"},"events":{"type":"array","description":"List of Possible Cause of downtime","items":{"$ref":"#/components/schemas/DetectorAbnormalTimePeriod"}},"solutions":{"type":"array","description":"List of proposed solutions","items":{"$ref":"#/components/schemas/Solution"}},"startTime":{"type":"string","description":"Start time of the downtime","format":"date-time"}},"description":"Class representing Abnormal Time Period identified in diagnosis"},"AnalysisData":{"type":"object","properties":{"data":{"type":"array","description":"Additional Source Data","items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}}},"detectorDefinition":{"$ref":"#/components/schemas/DetectorDefinition"},"detectorMetaData":{"$ref":"#/components/schemas/ResponseMetaData"},"metrics":{"type":"array","description":"Source Metrics","items":{"$ref":"#/components/schemas/DiagnosticMetricSet"}},"source":{"type":"string","description":"Name of the Detector"}},"description":"Class Representing Detector Evidence used for analysis"},"AnalysisDefinition":{"properties":{"properties":{"type":"object","properties":{"description":{"type":"string","description":"Description of the Analysis","readOnly":true}},"description":"AnalysisDefinition resource specific properties"}},"description":"Definition of Analysis","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"DataSource":{"type":"object","properties":{"dataSourceUri":{"type":"array","description":"Datasource Uri Links","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}},"instructions":{"type":"array","description":"Instructions if any for the data source","items":{"type":"string"}}},"description":"Class representing data source used by the detectors"},"DataTableResponseColumn":{"type":"object","properties":{"columnName":{"type":"string","description":"Name of the column"},"columnType":{"type":"string","description":"Column Type"},"dataType":{"type":"string","description":"Data type which looks like 'String' or 'Int32'."}},"description":"Column definition"},"DataTableResponseObject":{"type":"object","properties":{"columns":{"type":"array","description":"List of columns with data types","items":{"$ref":"#/components/schemas/DataTableResponseColumn"}},"rows":{"type":"array","description":"Raw row values","items":{"type":"array","items":{"type":"string"}}},"tableName":{"type":"string","description":"Name of the table"}},"description":"Data Table which defines columns and raw row values"},"DetectorAbnormalTimePeriod":{"type":"object","properties":{"endTime":{"type":"string","description":"End time of the correlated event","format":"date-time"},"message":{"type":"string","description":"Message describing the event"},"metaData":{"type":"array","description":"Downtime metadata","items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}}},"priority":{"type":"number","description":"Represents the rank of the Detector","format":"double"},"solutions":{"type":"array","description":"List of proposed solutions","items":{"$ref":"#/components/schemas/Solution"}},"source":{"type":"string","description":"Represents the name of the Detector"},"startTime":{"type":"string","description":"Start time of the correlated event","format":"date-time"},"type":{"type":"string","description":"Represents the type of the Detector","enum":["ServiceIncident","AppDeployment","AppCrash","RuntimeIssueDetected","AseDeployment","UserIssue","PlatformIssue","Other"]}},"description":"Class representing Abnormal Time Period detected."},"DetectorDefinition":{"properties":{"properties":{"type":"object","properties":{"description":{"type":"string","description":"Description of the detector","readOnly":true},"displayName":{"type":"string","description":"Display name of the detector","readOnly":true},"isEnabled":{"type":"boolean","description":"Flag representing whether detector is enabled or not.","readOnly":true},"rank":{"type":"number","description":"Detector Rank","format":"double","readOnly":true}},"description":"DetectorDefinition resource specific properties"}},"description":"Class representing detector definition","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"DetectorInfo":{"type":"object","properties":{"category":{"type":"string","description":"Support Category","readOnly":true},"description":{"type":"string","description":"Short description of the detector and its purpose","readOnly":true},"subCategory":{"type":"string","description":"Support Sub Category","readOnly":true},"supportTopicId":{"type":"string","description":"Support Topic Id","readOnly":true}},"description":"Definition of Detector"},"DetectorResponse":{"properties":{"properties":{"type":"object","properties":{"dataset":{"type":"array","description":"Data Set","items":{"$ref":"#/components/schemas/DiagnosticData"}},"metadata":{"$ref":"#/components/schemas/DetectorInfo"}},"description":"DetectorResponse resource specific properties"}},"description":"Class representing Response from Detector","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"DetectorResponseCollection":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"$ref":"#/components/schemas/DetectorResponse"}}},"description":"Collection of detector responses"},"DiagnosticAnalysis":{"properties":{"properties":{"type":"object","properties":{"abnormalTimePeriods":{"type":"array","description":"List of time periods.","items":{"$ref":"#/components/schemas/AbnormalTimePeriod"}},"endTime":{"type":"string","description":"End time of the period","format":"date-time"},"nonCorrelatedDetectors":{"type":"array","description":"Data by each detector for detectors that did not corelate","items":{"$ref":"#/components/schemas/DetectorDefinition"}},"payload":{"type":"array","description":"Data by each detector","items":{"$ref":"#/components/schemas/AnalysisData"}},"startTime":{"type":"string","description":"Start time of the period","format":"date-time"}},"description":"DiagnosticAnalysis resource specific properties"}},"description":"Class representing a diagnostic analysis done on an application","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"DiagnosticAnalysisCollection":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"$ref":"#/components/schemas/AnalysisDefinition"}}},"description":"Collection of Diagnostic Analyses"},"DiagnosticCategory":{"properties":{"properties":{"type":"object","properties":{"description":{"type":"string","description":"Description of the diagnostic category","readOnly":true}},"description":"DiagnosticCategory resource specific properties"}},"description":"Class representing detector definition","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"DiagnosticCategoryCollection":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"$ref":"#/components/schemas/DiagnosticCategory"}}},"description":"Collection of Diagnostic Categories"},"DiagnosticData":{"type":"object","properties":{"renderingProperties":{"$ref":"#/components/schemas/Rendering"},"table":{"$ref":"#/components/schemas/DataTableResponseObject"}},"description":"Set of data with rendering instructions"},"DiagnosticDetectorCollection":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"$ref":"#/components/schemas/DetectorDefinition"}}},"description":"Collection of Diagnostic Detectors"},"DiagnosticDetectorResponse":{"properties":{"properties":{"type":"object","properties":{"abnormalTimePeriods":{"type":"array","description":"List of Correlated events found by the detector","items":{"$ref":"#/components/schemas/DetectorAbnormalTimePeriod"}},"data":{"type":"array","description":"Additional Data that detector wants to send.","items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}}},"detectorDefinition":{"$ref":"#/components/schemas/DetectorDefinition"},"endTime":{"type":"string","description":"End time of the period","format":"date-time"},"issueDetected":{"type":"boolean","description":"Flag representing Issue was detected."},"metrics":{"type":"array","description":"Metrics provided by the detector","items":{"$ref":"#/components/schemas/DiagnosticMetricSet"}},"responseMetaData":{"$ref":"#/components/schemas/ResponseMetaData"},"startTime":{"type":"string","description":"Start time of the period","format":"date-time"}},"description":"DiagnosticDetectorResponse resource specific properties"}},"description":"Class representing Response from Diagnostic Detectors","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure proxy only resource. This resource is not tracked by Azure Resource Manager."}]},"DiagnosticMetricSample":{"type":"object","properties":{"isAggregated":{"type":"boolean","description":"Whether the values are aggregates across all workers or not"},"maximum":{"type":"number","description":"Maximum of the metric sampled during the time period","format":"double"},"minimum":{"type":"number","description":"Minimum of the metric sampled during the time period","format":"double"},"roleInstance":{"type":"string","description":"Role Instance. Null if this counter is not per instance \nThis is returned and should be whichever instance name we desire to be returned\ni.e. CPU and Memory return RDWORKERNAME (LargeDed..._IN_0) \nwhere RDWORKERNAME is Machine name below and RoleInstance name in parenthesis"},"timestamp":{"type":"string","description":"Time at which metric is measured","format":"date-time"},"total":{"type":"number","description":"Total value of the metric. If multiple measurements are made this will have sum of all.","format":"double"}},"description":"Class representing Diagnostic Metric"},"DiagnosticMetricSet":{"type":"object","properties":{"endTime":{"type":"string","description":"End time of the period","format":"date-time"},"name":{"type":"string","description":"Name of the metric"},"startTime":{"type":"string","description":"Start time of the period","format":"date-time"},"timeGrain":{"type":"string","description":"Presented time grain. Supported grains at the moment are PT1M, PT1H, P1D"},"unit":{"type":"string","description":"Metric's unit"},"values":{"type":"array","description":"Collection of metric values for the selected period based on the {Microsoft.Web.Hosting.Administration.DiagnosticMetricSet.TimeGrain}","items":{"$ref":"#/components/schemas/DiagnosticMetricSample"}}},"description":"Class representing Diagnostic Metric information"},"Rendering":{"type":"object","properties":{"description":{"type":"string","description":"Description of the data that will help it be interpreted"},"title":{"type":"string","description":"Title of data"},"type":{"type":"string","description":"Rendering Type","enum":["NoGraph","Table","TimeSeries","TimeSeriesPerInstance"]}},"description":"Instructions for rendering the data"},"ResponseMetaData":{"type":"object","properties":{"dataSource":{"$ref":"#/components/schemas/DataSource"}}},"Solution":{"type":"object","properties":{"data":{"type":"array","description":"Solution Data.","items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}}},"description":{"type":"string","description":"Description of the solution"},"displayName":{"type":"string","description":"Display Name of the solution"},"id":{"type":"number","description":"Solution Id.","format":"double"},"metadata":{"type":"array","description":"Solution Metadata.","items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}}},"order":{"type":"number","description":"Order of the solution.","format":"double"},"type":{"type":"string","description":"Type of Solution","enum":["QuickSolution","DeepInvestigation","BestPractices"]}},"description":"Class Representing Solution for problems detected."}},"parameters":{"apiVersionParameter":{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}},"resourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},"subscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}