{"openapi":"3.0.1","info":{"title":"Storage Cache Mgmt Client","description":"A Storage Cache provides scalable caching service for NAS clients, serving data from either NFSv3 or Blob at-rest storage (referred to as \"Storage Targets\"). These operations allow you to manage Caches.","version":"2019-11-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.StorageCache/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available Resource Provider operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of available Resource Provider operations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiOperationListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/caches":{"get":{"tags":["Caches"],"description":"Returns all Caches the user has access to under a subscription.","operationId":"Caches_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of Cache objects. Note that entity references might replace complete Cache objects, as described in http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CachesListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/skus":{"get":{"tags":["SKUs"],"description":"Get the list of StorageCache.Cache SKUs available to this subscription.","operationId":"Skus_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of SKU descriptors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceSkusResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/usageModels":{"get":{"tags":["UsageModels"],"description":"Get the list of Cache Usage Models available to this subscription.","operationId":"UsageModels_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of UsageModel descriptors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageModelsResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches":{"get":{"tags":["Caches"],"description":"Returns all Caches the user has access to under a resource group.","operationId":"Caches_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of Cache objects. Note that entity references might replace complete Cache objects, as described in http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CachesListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}":{"get":{"tags":["Caches"],"description":"Returns a Cache.","operationId":"Caches_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the Cache object corresponding to cacheName.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cache"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Caches"],"description":"Create or update a Cache.","operationId":"Caches_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}}],"requestBody":{"description":"Object containing the user-selectable properties of the new Cache. If read-only properties are included, they must match the existing values of those properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cache"}}},"required":false},"responses":{"200":{"description":"Cache created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cache"}}}},"201":{"description":"Cache creation or update has been initiated. Poll the new Cache's provisioningState property to monitor creation progress.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cache"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Caches"],"description":"Schedules a Cache for deletion.","operationId":"Caches_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Cache deleted.","content":{"application/json":{"schema":{"type":"object"}}}},"202":{"description":"Started the Cache's transition to Deleted state. Poll the Cache to monitor.","content":{"application/json":{"schema":{"type":"object"}}}},"204":{"description":"Cache deleted.","content":{"application/json":{"schema":{"type":"object"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["Caches"],"description":"Update a Cache instance.","operationId":"Caches_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}}],"requestBody":{"description":"Object containing the user-selectable properties of the Cache. If read-only properties are included, they must match the existing values of those properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cache"}}},"required":false},"responses":{"200":{"description":"Updated the Cache.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cache"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/flush":{"post":{"tags":["Caches"],"description":"Tells a Cache to write all dirty data to the Storage Target(s). During the flush, clients will see errors returned until the flush is complete.","operationId":"Caches_Flush","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}}],"responses":{"200":{"description":"All cached data has been flushed to the Storage Target(s).","content":{"application/json":{"schema":{"type":"object"}}}},"202":{"description":"Cache has started flushing to its Storage Target(s). Poll the Cache's state field to monitor.","content":{"application/json":{"schema":{"type":"object"}}}},"204":{"description":"Cache flushed.","content":{"application/json":{"schema":{"type":"object"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/start":{"post":{"tags":["Caches"],"description":"Tells a Stopped state Cache to transition to Active state.","operationId":"Caches_Start","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}}],"responses":{"200":{"description":"Cache is Active.","content":{"application/json":{"schema":{"type":"object"}}}},"202":{"description":"Cache has started the transition to Active. Poll the Cache's state field to monitor.","content":{"application/json":{"schema":{"type":"object"}}}},"204":{"description":"Restarted VMs associated with the cache.","content":{"application/json":{"schema":{"type":"object"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/stop":{"post":{"tags":["Caches"],"description":"Tells an Active Cache to transition to Stopped state.","operationId":"Caches_Stop","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}}],"responses":{"200":{"description":"Cache is stopped.","content":{"application/json":{"schema":{"type":"object"}}}},"202":{"description":"Cache has started the transition to Stopped. Poll the Cache's state field to monitor.","content":{"application/json":{"schema":{"type":"object"}}}},"204":{"description":"Stopped VMs associated with the cache.","content":{"application/json":{"schema":{"type":"object"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets":{"get":{"tags":["StorageTargets"],"description":"Returns a list of Storage Targets for the specified Cache.","operationId":"StorageTargets_ListByCache","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}}],"responses":{"200":{"description":"Returns the list of Storage Targets defined by cacheName.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageTargetsResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}":{"get":{"tags":["StorageTargets"],"description":"Returns a Storage Target from a Cache.","operationId":"StorageTargets_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}},{"name":"storageTargetName","in":"path","description":"Name of the Storage Target.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}}],"responses":{"200":{"description":"Returns the Storage Target object corresponding to storageTargetName.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageTarget"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["StorageTargets"],"description":"Create or update a Storage Target. This operation is allowed at any time, but if the Cache is down or unhealthy, the actual creation/modification of the Storage Target may be delayed until the Cache is healthy again.","operationId":"StorageTargets_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}},{"name":"storageTargetName","in":"path","description":"Name of the Storage Target.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}}],"requestBody":{"description":"Object containing the definition of a Storage Target.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageTarget"}}},"required":false},"responses":{"200":{"description":"Storage Target has been created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageTarget"}}}},"201":{"description":"Storage Target creation or update has been initiated. Poll the new Storage Target's provisioningState property to monitor creation progress.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageTarget"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["StorageTargets"],"description":"Removes a Storage Target from a Cache. This operation is allowed at any time, but if the Cache is down or unhealthy, the actual removal of the Storage Target may be delayed until the Cache is healthy again. Note that if the Cache has data to flush to the Storage Target, the data will be flushed before the Storage Target will be deleted.","operationId":"StorageTargets_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}},{"name":"storageTargetName","in":"path","description":"Name of Storage Target.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}}],"responses":{"200":{"description":"Storage target deleted.","content":{"application/json":{"schema":{"type":"object"}}}},"202":{"description":"Started the Storage Target's deletion. Poll the Cache's Storage Targets to monitor.","content":{"application/json":{"schema":{"type":"object"}}}},"204":{"description":"Storage Target deleted.","content":{"application/json":{"schema":{"type":"object"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/upgrade":{"post":{"tags":["Caches"],"description":"Upgrade a Cache's firmware if a new version is available. Otherwise, this operation has no effect.","operationId":"Caches_UpgradeFirmware","parameters":[{"name":"resourceGroupName","in":"path","description":"Target resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of Cache.","required":true,"schema":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string"}}],"responses":{"201":{"description":"Cache firmware is up to date.","content":{"application/json":{"schema":{"type":"object"}}}},"202":{"description":"Cache has started the upgrade. Poll the Cache's state field to monitor.","content":{"application/json":{"schema":{"type":"object"}}}},"204":{"description":"Cache firmware is up to date.","content":{"application/json":{"schema":{"type":"object"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"ApiOperation":{"type":"object","properties":{"display":{"type":"object","properties":{"operation":{"type":"string","description":"Operation type: Read, write, delete, etc."},"provider":{"type":"string","description":"Service provider: Microsoft.StorageCache"},"resource":{"type":"string","description":"Resource on which the operation is performed: Cache, etc."}},"description":"The object that represents the operation."},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"}},"description":"REST API operation description: see https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-automated-guidelines.md#r3023-operationsapiimplementation"},"ApiOperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of Resource Provider operations supported by the Microsoft.StorageCache resource provider.","items":{"$ref":"#/components/schemas/ApiOperation"}}},"description":"Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results."},"Cache":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/URLString"},"location":{"type":"string","description":"Region name string."},"name":{"$ref":"#/components/schemas/ResourceName"},"properties":{"type":"object","properties":{"cacheSizeGB":{"type":"integer","description":"The size of this Cache, in GB."},"health":{"$ref":"#/components/schemas/CacheHealth"},"mountAddresses":{"type":"array","description":"Array of IP addresses that can be used by clients mounting this Cache.","readOnly":true,"items":{"type":"string"}},"provisioningState":{"type":"string","description":"ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property","enum":["Succeeded","Failed","Cancelled","Creating","Deleting","Updating"]},"subnet":{"$ref":"#/components/schemas/URLString"},"upgradeStatus":{"$ref":"#/components/schemas/CacheUpgradeStatus"}},"description":"Properties of the Cache."},"sku":{"type":"object","properties":{"name":{"type":"string","description":"SKU name for this Cache."}},"description":"SKU for the Cache."},"tags":{"type":"object","description":"ARM tags as name/value pairs."},"type":{"type":"string","description":"Type of the Cache; Microsoft.StorageCache/Cache","readOnly":true}},"description":"A Cache instance. Follows Azure Resource Manager standards: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md"},"CacheHealth":{"type":"object","properties":{"state":{"type":"string","description":"List of Cache health states.","enum":["Unknown","Healthy","Degraded","Down","Transitioning","Stopping","Stopped","Upgrading","Flushing"]},"statusDescription":{"type":"string","description":"Describes explanation of state."}},"description":"An indication of Cache health. Gives more information about health than just that related to provisioning."},"CacheUpgradeStatus":{"type":"object","properties":{"currentFirmwareVersion":{"type":"string","description":"Version string of the firmware currently installed on this Cache.","readOnly":true},"firmwareUpdateDeadline":{"type":"string","description":"Time at which the pending firmware update will automatically be installed on the Cache.","format":"date-time","readOnly":true},"firmwareUpdateStatus":{"type":"string","description":"True if there is a firmware update ready to install on this Cache. The firmware will automatically be installed after firmwareUpdateDeadline if not triggered earlier via the upgrade operation.","readOnly":true,"enum":["available","unavailable"]},"lastFirmwareUpdate":{"type":"string","description":"Time of the last successful firmware update.","format":"date-time","readOnly":true},"pendingFirmwareVersion":{"type":"string","description":"When firmwareUpdateAvailable is true, this field holds the version string for the update.","readOnly":true}},"description":"Properties describing the software upgrade state of the Cache."},"CachesListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of Cache list results, if there are any."},"value":{"type":"array","description":"List of Caches.","items":{"$ref":"#/components/schemas/Cache"}}},"description":"Result of the request to list Caches. It contains a list of Caches and a URL link to get the next set of results."},"ClfsTarget":{"type":"object","properties":{"target":{"$ref":"#/components/schemas/URLString"}},"description":"Storage container for use as a CLFS Storage Target."},"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error response."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically."},"details":{"type":"array","description":"A list of additional details about the error.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface."},"target":{"type":"string","description":"The target of the particular error. For example, the name of the property in error."}},"description":"An error response."},"NamespaceJunction":{"type":"object","properties":{"namespacePath":{"type":"string","description":"Namespace path on a Cache for a Storage Target."},"nfsExport":{"type":"string","description":"NFS export where targetPath exists."},"targetPath":{"type":"string","description":"Path in Storage Target to which namespacePath points."}},"description":"A namespace junction."},"Nfs3Target":{"type":"object","properties":{"target":{"pattern":"^[-.0-9a-zA-Z]+$","type":"string","description":"IP address or host name of an NFSv3 host (e.g., 10.0.44.44)."},"usageModel":{"type":"string","description":"Identifies the primary usage model to be used for this Storage Target. Get choices from .../usageModels"}},"description":"An NFSv3 mount point for use as a Storage Target."},"ResourceName":{"pattern":"^[-0-9a-zA-Z_]{1,31}$","type":"string","description":"Schema for the name of resources served by this provider. Note that objects will contain an odata @id annotation as appropriate. This will contain the complete URL of the object. These names are case-preserving, but not case sensitive."},"ResourceSku":{"type":"object","properties":{"capabilities":{"type":"array","description":"A list of capabilities of this SKU, such as throughput or ops/sec.","items":{"$ref":"#/components/schemas/ResourceSkuCapabilities"}},"locationInfo":{"type":"array","description":"The set of locations that the SKU is available.","items":{"$ref":"#/components/schemas/ResourceSkuLocationInfo"}},"locations":{"type":"array","description":"The set of locations that the SKU is available. This will be supported and registered Azure Geo Regions (e.g., West US, East US, Southeast Asia, etc.).","readOnly":true,"items":{"type":"string"}},"name":{"type":"string","description":"The name of this SKU."},"resourceType":{"type":"string","description":"The type of resource the SKU applies to.","readOnly":true},"restrictions":{"type":"array","description":"The restrictions preventing this SKU from being used. This is empty if there are no restrictions.","items":{"$ref":"#/components/schemas/Restriction"}}},"description":"A resource SKU."},"ResourceSkuCapabilities":{"type":"object","properties":{"name":{"type":"string","description":"Name of a capability, such as ops/sec."},"value":{"type":"string","description":"Quantity, if the capability is measured by quantity."}},"description":"A resource SKU capability."},"ResourceSkuLocationInfo":{"type":"object","properties":{"location":{"type":"string","description":"Location where this SKU is available."},"zones":{"type":"array","description":"Zones if any.","items":{"type":"string"}}},"description":"Resource SKU location information."},"ResourceSkusResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of Cache SKUs."},"value":{"type":"array","description":"The list of SKUs available for the subscription.","readOnly":true,"items":{"$ref":"#/components/schemas/ResourceSku"}}},"description":"The response from the List Cache SKUs operation."},"Restriction":{"type":"object","properties":{"reasonCode":{"type":"string","description":"The reason for the restriction. As of now this can be \"QuotaId\" or \"NotAvailableForSubscription\". \"QuotaId\" is set when the SKU has requiredQuotas parameter as the subscription does not belong to that quota. \"NotAvailableForSubscription\" is related to capacity at the datacenter.","enum":["QuotaId","NotAvailableForSubscription"]},"type":{"type":"string","description":"The type of restrictions. In this version, the only possible value for this is location.","readOnly":true},"values":{"type":"array","description":"The value of restrictions. If the restriction type is set to location, then this would be the different locations where the SKU is restricted.","readOnly":true,"items":{"type":"string"}}},"description":"The restrictions preventing this SKU from being used."},"StorageTarget":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID of the Storage Target.","readOnly":true},"name":{"$ref":"#/components/schemas/ResourceName"},"properties":{"type":"object","properties":{"clfs":{"$ref":"#/components/schemas/ClfsTarget"},"junctions":{"type":"array","description":"List of Cache namespace junctions to target for namespace associations.","items":{"$ref":"#/components/schemas/NamespaceJunction"}},"nfs3":{"$ref":"#/components/schemas/Nfs3Target"},"provisioningState":{"type":"string","description":"ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property","enum":["Succeeded","Failed","Cancelled","Creating","Deleting","Updating"]},"targetType":{"type":"string","description":"Type of the Storage Target.","enum":["nfs3","clfs","unknown"]},"unknown":{"$ref":"#/components/schemas/UnknownTarget"}},"description":"Properties of the Storage Target."},"type":{"type":"string","description":"Type of the Storage Target; Microsoft.StorageCache/Cache/StorageTarget","readOnly":true}},"description":"A storage system being cached by a Cache.","discriminator":{"propertyName":"targetType"}},"StorageTargetsResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of Storage Targets."},"value":{"type":"array","description":"The list of Storage Targets defined for the Cache.","items":{"$ref":"#/components/schemas/StorageTarget"}}},"description":"A list of Storage Targets."},"URLString":{"type":"string","description":"A fully qualified URL."},"UnknownProperties":{"type":"object","additionalProperties":{"type":"string"},"description":"Properties of an unknown type of Storage Target."},"UnknownTarget":{"type":"object","properties":{"unknownMap":{"$ref":"#/components/schemas/UnknownProperties"}},"description":"Storage container for use as an Unknown Storage Target."},"UsageModel":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"String to display for this usage model."}},"description":"Localized information describing this usage model."},"modelName":{"type":"string","description":"Non-localized keyword name for this usage model."},"targetType":{"type":"string","description":"The type of Storage Target to which this model is applicable (only nfs3 as of this version)."}},"description":"A usage model."},"UsageModelsResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of Cache usage models."},"value":{"type":"array","description":"The list of usage models available for the subscription.","items":{"$ref":"#/components/schemas/UsageModel"}}},"description":"A list of Cache usage models."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}