{"openapi":"3.0.1","info":{"title":"AutomationManagement","version":"2015-10-31"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Automation/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available Automation REST API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Automation/automationAccounts":{"get":{"tags":["AutomationAccount"],"summary":"Lists the Automation Accounts within an Azure subscription.","description":"Retrieve a list of accounts within a given subscription.","operationId":"AutomationAccount_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationAccountListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts":{"get":{"tags":["AutomationAccount"],"description":"Retrieve a list of accounts within a given resource group.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/automationaccountoperations"},"operationId":"AutomationAccount_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationAccountListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}":{"get":{"tags":["AutomationAccount"],"description":"Get information about an Automation Account.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/automationaccountoperations"},"operationId":"AutomationAccount_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationAccount"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"put":{"tags":["AutomationAccount"],"description":"Create or update automation account.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/automationaccountoperations"},"operationId":"AutomationAccount_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the create or update automation account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationAccountCreateOrUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationAccount"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationAccount"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"delete":{"tags":["AutomationAccount"],"description":"Delete an automation account.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/automationaccountoperations"},"operationId":"AutomationAccount_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"patch":{"tags":["AutomationAccount"],"description":"Update an automation account.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/automationaccountoperations"},"operationId":"AutomationAccount_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the update automation account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationAccountUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationAccount"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/listKeys":{"post":{"tags":["ListKeys"],"description":"Retrieve the automation keys for an account.","operationId":"Keys_ListByAutomationAccount","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/statistics":{"get":{"tags":["Statistics"],"description":"Retrieve the statistics for the account.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/statisticsoperations"},"operationId":"Statistics_ListByAutomationAccount","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatisticsListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/usages":{"get":{"tags":["Usages"],"description":"Retrieve the usage for the account id.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/usageoperations"},"operationId":"Usages_ListByAutomationAccount","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"AutomationAccount":{"properties":{"etag":{"type":"string","description":"Gets or sets the etag of the resource."},"properties":{"$ref":"#/components/schemas/AutomationAccountProperties"}},"description":"Definition of the automation account type.","allOf":[{"properties":{"location":{"type":"string","description":"The Azure Region where the resource lives"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"The resource model definition for a ARM tracked top level resource","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources"}]}]},"AutomationAccountCreateOrUpdateParameters":{"type":"object","properties":{"location":{"type":"string","description":"Gets or sets the location of the resource."},"name":{"type":"string","description":"Gets or sets name of the resource."},"properties":{"$ref":"#/components/schemas/AutomationAccountCreateOrUpdateProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the tags attached to the resource."}},"description":"The parameters supplied to the create or update automation account operation."},"AutomationAccountCreateOrUpdateProperties":{"type":"object","properties":{"sku":{"$ref":"#/components/schemas/Sku"}},"description":"The parameters supplied to the create or update account properties."},"AutomationAccountListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Gets or sets the next link."},"value":{"type":"array","description":"Gets or sets list of accounts.","items":{"$ref":"#/components/schemas/AutomationAccount"}}},"description":"The response model for the list account operation."},"AutomationAccountProperties":{"type":"object","properties":{"creationTime":{"type":"string","description":"Gets the creation time.","format":"date-time","nullable":false,"readOnly":true},"description":{"type":"string","description":"Gets or sets the description."},"lastModifiedBy":{"type":"string","description":"Gets or sets the last modified by."},"lastModifiedTime":{"type":"string","description":"Gets the last modified time.","format":"date-time","nullable":false,"readOnly":true},"sku":{"$ref":"#/components/schemas/Sku"},"state":{"type":"string","description":"Gets status of account.","readOnly":true,"enum":["Ok","Unavailable","Suspended"]}},"description":"Definition of the account property."},"AutomationAccountUpdateParameters":{"type":"object","properties":{"location":{"type":"string","description":"Gets or sets the location of the resource."},"name":{"type":"string","description":"Gets or sets the name of the resource."},"properties":{"$ref":"#/components/schemas/AutomationAccountUpdateProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the tags attached to the resource."}},"description":"The parameters supplied to the update automation account operation."},"AutomationAccountUpdateProperties":{"type":"object","properties":{"sku":{"$ref":"#/components/schemas/Sku"}},"description":"The parameters supplied to the update account properties."},"Key":{"type":"object","properties":{"KeyName":{"type":"string","description":"Automation key name.","readOnly":true,"enum":["Primary","Secondary"]},"Permissions":{"type":"string","description":"Automation key permissions.","readOnly":true,"enum":["Read","Full"]},"Value":{"type":"string","description":"Value of the Automation Key used for registration.","readOnly":true}},"description":"Automation key which is used to register a DSC Node"},"KeyListResult":{"type":"object","properties":{"keys":{"type":"array","description":"Lists the automation keys.","items":{"$ref":"#/components/schemas/Key"}}}},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"operation":{"type":"string","description":"Operation type: Read, write, delete, etc."},"provider":{"type":"string","description":"Service provider: Microsoft.Automation"},"resource":{"type":"string","description":"Resource on which the operation is performed: Runbooks, Jobs etc."}},"description":"Provider, Resource and Operation values"},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"}},"description":"Automation REST API operation"},"OperationListResult":{"type":"object","properties":{"value":{"type":"array","description":"List of Automation operations supported by the Automation resource provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"The response model for the list of Automation operations"},"Sku":{"required":["name"],"type":"object","properties":{"capacity":{"type":"integer","description":"Gets or sets the SKU capacity.","format":"int32"},"family":{"type":"string","description":"Gets or sets the SKU family."},"name":{"type":"string","description":"Gets or sets the SKU name of the account.","enum":["Free","Basic"]}},"description":"The account SKU."},"Statistics":{"type":"object","properties":{"counterProperty":{"type":"string","description":"Gets the property value of the statistic.","readOnly":true},"counterValue":{"type":"integer","description":"Gets the value of the statistic.","format":"int64","readOnly":true},"endTime":{"type":"string","description":"Gets the endTime of the statistic.","format":"date-time","nullable":true,"readOnly":true},"id":{"type":"string","description":"Gets the id.","readOnly":true},"startTime":{"type":"string","description":"Gets the startTime of the statistic.","format":"date-time","nullable":false,"readOnly":true}},"description":"Definition of the statistic."},"StatisticsListResult":{"type":"object","properties":{"value":{"type":"array","description":"Gets or sets a list of statistics.","items":{"$ref":"#/components/schemas/Statistics"}}},"description":"The response model for the list statistics operation."},"Usage":{"type":"object","properties":{"currentValue":{"type":"number","description":"Gets or sets the current usage value.","format":"double"},"id":{"type":"string","description":"Gets or sets the id of the resource."},"limit":{"type":"integer","description":"Gets or sets max limit. -1 for unlimited","format":"int64"},"name":{"$ref":"#/components/schemas/UsageCounterName"},"throttleStatus":{"type":"string","description":"Gets or sets the throttle status."},"unit":{"type":"string","description":"Gets or sets the usage unit name."}},"description":"Definition of Usage."},"UsageCounterName":{"type":"object","properties":{"localizedValue":{"type":"string","description":"Gets or sets the localized usage counter name."},"value":{"type":"string","description":"Gets or sets the usage counter name."}},"description":"Definition of usage counter name."},"UsageListResult":{"type":"object","properties":{"value":{"type":"array","description":"Gets or sets usage.","items":{"$ref":"#/components/schemas/Usage"}}},"description":"The response model for the get usage operation."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}