{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableRequestHeaders" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Lists all available request headers.",
        "operationId" : "ApplicationGateways_ListAvailableRequestHeaders",
        "parameters" : [ {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of all available request headers.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayAvailableRequestHeadersResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.Network~1applicationGatewayAvailableServerVariables/get/responses/default/schema"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableResponseHeaders" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Lists all available response headers.",
        "operationId" : "ApplicationGateways_ListAvailableResponseHeaders",
        "parameters" : [ {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of all available response headers.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayAvailableResponseHeadersResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.Network~1applicationGatewayAvailableServerVariables/get/responses/default/schema"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableServerVariables" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Lists all available server variables.",
        "operationId" : "ApplicationGateways_ListAvailableServerVariables",
        "parameters" : [ {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of all available server variables.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayAvailableServerVariablesResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code."
                    },
                    "details" : {
                      "type" : "array",
                      "description" : "Error details.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string",
                            "description" : "Error code."
                          },
                          "message" : {
                            "type" : "string",
                            "description" : "Error message."
                          },
                          "target" : {
                            "type" : "string",
                            "description" : "Error target."
                          }
                        },
                        "description" : "Common error details representation."
                      }
                    },
                    "innerError" : {
                      "type" : "string",
                      "description" : "Inner error message."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message."
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "Error target."
                    }
                  },
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Lists available Ssl options for configuring Ssl policy.",
        "operationId" : "ApplicationGateways_ListAvailableSslOptions",
        "parameters" : [ {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns all available Ssl options for configuring Ssl policy.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayAvailableSslOptions"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Lists all SSL predefined policies for configuring Ssl policy.",
        "operationId" : "ApplicationGateways_ListAvailableSslPredefinedPolicies",
        "parameters" : [ {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a lists of all Ssl predefined policies for configuring Ssl policy.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayAvailableSslPredefinedPolicies"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies/{predefinedPolicyName}" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Gets Ssl predefined policy with the specified policy name.",
        "operationId" : "ApplicationGateways_GetSslPredefinedPolicy",
        "parameters" : [ {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        }, {
          "name" : "predefinedPolicyName",
          "in" : "path",
          "description" : "Name of Ssl predefined policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a Ssl predefined policy with the specified policy name.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewaySslPredefinedPolicy"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableWafRuleSets" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Lists all available web application firewall rule sets.",
        "operationId" : "ApplicationGateways_ListAvailableWafRuleSets",
        "parameters" : [ {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of all available web application firewall rule sets.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayAvailableWafRuleSetsResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Gets all the application gateways in a subscription.",
        "operationId" : "ApplicationGateways_ListAll",
        "parameters" : [ {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of ApplicationGateway resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Lists all application gateways in a resource group.",
        "operationId" : "ApplicationGateways_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of ApplicationGateway resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}" : {
      "get" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Gets the specified application gateway.",
        "operationId" : "ApplicationGateways_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns an ApplicationGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGateway"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Creates or updates the specified application gateway.",
        "operationId" : "ApplicationGateways_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update application gateway operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationGateway"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting ApplicationGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGateway"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting ApplicationGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGateway"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Deletes the specified application gateway.",
        "operationId" : "ApplicationGateways_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Request successful. Resource with the specified name does not exist."
          }
        }
      },
      "patch" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Updates the specified application gateway tags.",
        "operationId" : "ApplicationGateways_UpdateTags",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update application gateway tags.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Resource tags."
                  }
                },
                "description" : "Tags object for patch operations."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting ApplicationGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGateway"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/backendhealth" : {
      "post" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Gets the backend health of the specified application gateway in a resource group.",
        "operationId" : "ApplicationGateways_BackendHealth",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expands BackendAddressPool and BackendHttpSettings referenced in backend health.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayBackendHealth"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/getBackendHealthOnDemand" : {
      "post" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Gets the backend health for given combination of backend pool and http setting of the specified application gateway in a resource group.",
        "operationId" : "ApplicationGateways_BackendHealthOnDemand",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expands BackendAddressPool and BackendHttpSettings referenced in backend health.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request body for on-demand test probe operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationGatewayOnDemandProbe"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthOnDemand"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start" : {
      "post" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Starts the specified application gateway.",
        "operationId" : "ApplicationGateways_Start",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation starts the ApplicationGateway resource."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop" : {
      "post" : {
        "tags" : [ "ApplicationGateways" ],
        "description" : "Stops the specified application gateway in a resource group.",
        "operationId" : "ApplicationGateways_Stop",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "applicationGatewayName",
          "in" : "path",
          "description" : "The name of the application gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        }, {
          "$ref" : "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation stops the ApplicationGateway resource."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApplicationGateway" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated."
          },
          "identity" : {
            "type" : "object",
            "properties" : {
              "principalId" : {
                "type" : "string",
                "description" : "The principal id of the system assigned identity. This property will only be provided for a system assigned identity.",
                "readOnly" : true
              },
              "tenantId" : {
                "type" : "string",
                "description" : "The tenant id of the system assigned identity. This property will only be provided for a system assigned identity.",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the virtual machine.",
                "enum" : [ "SystemAssigned", "UserAssigned", "SystemAssigned, UserAssigned", "None" ]
              },
              "userAssignedIdentities" : {
                "type" : "object",
                "additionalProperties" : {
                  "type" : "object",
                  "properties" : {
                    "clientId" : {
                      "type" : "string",
                      "description" : "The client id of user assigned identity.",
                      "readOnly" : true
                    },
                    "principalId" : {
                      "type" : "string",
                      "description" : "The principal id of user assigned identity.",
                      "readOnly" : true
                    }
                  }
                },
                "description" : "The list of user identities associated with resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
              }
            },
            "description" : "Identity for the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/ApplicationGatewayPropertiesFormat"
          },
          "zones" : {
            "type" : "array",
            "description" : "A list of availability zones denoting where the resource needs to come from.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Application gateway resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "ApplicationGatewayAuthenticationCertificate" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the authentication certificate that is unique within an Application Gateway."
          },
          "properties" : {
            "$ref" : "#/components/schemas/ApplicationGatewayAuthenticationCertificatePropertiesFormat"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource."
          }
        },
        "description" : "Authentication certificates of an application gateway.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApplicationGatewayPathRulePropertiesFormat/properties/rewriteRuleSet"
        } ]
      },
      "ApplicationGatewayAuthenticationCertificatePropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "string",
            "description" : "Certificate public data."
          },
          "provisioningState" : {
            "$ref" : "#/components/schemas/ApplicationGatewayHttpListenerPropertiesFormat/properties/provisioningState"
          }
        },
        "description" : "Authentication certificates properties of an application gateway."
      },
      "ApplicationGatewayAutoscaleConfiguration" : {
        "required" : [ "minCapacity" ],
        "type" : "object",
        "properties" : {
          "maxCapacity" : {
            "minimum" : 2,
            "exclusiveMinimum" : false,
            "type" : "integer",
            "description" : "Upper bound on number of Application Gateway capacity.",
            "format" : "int32"
          },
          "minCapacity" : {
            "minimum" : 0,
            "exclusiveMinimum" : false,
            "type" : "integer",
            "description" : "Lower bound on number of Application Gateway capacity.",
            "format" : "int32"
          }
        },
        "description" : "Application Gateway autoscale configuration."
      },
      "ApplicationGatewayAvailableRequestHeadersResult" : {
        "type" : "array",
        "description" : "Response for ApplicationGatewayAvailableRequestHeaders API service call.",
        "items" : {
          "type" : "string"
        }
      },
      "ApplicationGatewayAvailableResponseHeadersResult" : {
        "type" : "array",
        "description" : "Response for ApplicationGatewayAvailableResponseHeaders API service call.",
        "items" : {
          "type" : "string"
        }
      },
      "ApplicationGatewayAvailableServerVariablesResult" : {
        "type" : "array",
        "description" : "Response for ApplicationGatewayAvailableServerVariables API service call.",
        "items" : {
          "type" : "string"
        }
      },
      "ApplicationGatewayAvailableSslOptions" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ApplicationGatewayAvailableSslOptionsPropertiesFormat"
          }
        },
        "description" : "Response for ApplicationGatewayAvailableSslOptions API service call.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApplicationGateway/allOf/0"
        } ]
      },
      "ApplicationGatewayAvailableSslOptionsPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "availableCipherSuites" : {
            "type" : "array",
            "description" : "List of available Ssl cipher suites.",
            "items" : {
              "$ref" : "#/components/schemas/CipherSuitesEnum"
            }
          },
          "availableProtocols" : {
            "type" : "array",
            "description" : "List of available Ssl protocols.",
            "items" : {
              "$ref" : "#/components/schemas/ProtocolsEnum"
            }
          },
          "defaultPolicy" : {
            "$ref" : "#/components/schemas/PolicyNameEnum"
          },
          "predefinedPolicies" : {
            "type" : "array",
            "description" : "List of available Ssl predefined policy.",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationGatewayPathRulePropertiesFormat/properties/rewriteRuleSet"
            }
          }
        },
        "description" : "Properties of ApplicationGatewayAvailableSslOptions."
      },
      "ApplicationGatewayAvailableSslPredefinedPolicies" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "List of available Ssl predefined policy.",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationGatewaySslPredefinedPolicy"
            }
          }
        },
        "description" : "Response for ApplicationGatewayAvailableSslOptions API service call."
      },
      "ApplicationGatewayAvailableWafRuleSetsResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of application gateway rule sets.",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationGatewayFirewallRuleSet"
            }
          }
        },
        "description" : "Response for ApplicationGatewayAvailableWafRuleSets API service call."
      },
      "ApplicationGatewayBackendAddress" : {
        "type" : "object",
        "properties" : {
          "fqdn" : {
            "type" : "string",
            "description" : "Fully qualified domain name (FQDN)."
          },
          "ipAddress" : {
            "type" : "string",
            "description" : "IP address."
          }
        },
        "description" : "Backend address of an application gateway."
      },
      "ApplicationGatewayBackendAddressPool" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the backend address pool that is unique within an Application Gateway."
          },
          "properties" : {
            "$ref" : "#/components/schemas/ApplicationGatewayBackendAddressPoolPropertiesFormat"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource."
          }
        },
        "description" : "Backend Address Pool of an application gateway.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ApplicationGatewayPathRulePropertiesFormat/properties/rewriteRuleSet"
        } ]
      },
      "ApplicationGatewayBackendAddressPoolPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "backendAddresses" : {
            "type" : "array",
            "description" : "Backend addresses.",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationGatewayBackendAddress"
            }
          },
          "backendIPConfigurations" : {
            "type" : "array",
            "description" : "Collection of references to IPs defined in network interfaces.",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration"
            }
          },
          "provisioningState" : {
            "$ref" : "#/components/schemas/ApplicationGatewayHttpListenerPropertiesFormat/properties/provisioningState"
          }
        },
        "description" : "Properties of Backend Address Pool of an application gateway."
      },
      "ApplicationGatewayBackendHealth" : {
        "type" : "object",
        "properties" : {
          "backendAddressPools" : {
            "type" : "array",
            "description" : "A list of ApplicationGatewayBackendHealthPool resources.",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthPool"
            }
          }
        },
        "description" : "Response for ApplicationGatewayBackendHealth API service call."
      },
      "ApplicationGatewayBackendHealthHttpSettings" : {
        "type" : "object",
        "properties" : {
          "backendHttpSettings" : {
            "$ref" : "#/components/schemas/ApplicationGatewayBackendHttpSettings"
          },
          "servers" : {
            "type" : "array",
            "description" : "List of ApplicationGatewayBackendHealthServer resources.",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer"
            }
          }
        },
        "description" : "Application gateway BackendHealthHttp settings."
      },
      "ApplicationGatewayBackendHealthOnDemand" : {
        "type" : "object",
        "properties" : {
          "backendAddressPool" : {
            "$ref" : "#/components/schemas/ApplicationGatewayBackendAddressPool"
          },
          "backendHealthHttpSettings" : {
            "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthHttpSettings"
          }
        },
        "description" : "Result of on demand test probe."
      },
      "ApplicationGatewayBackendHealthPool" : {
        "type" : "object",
        "properties" : {
          "backendAddressPool" : {
            "$ref" : "#/components/schemas/ApplicationGatewayBackendAddressPool"
          },
          "backendHttpSettingsCollection" : {
            "type" : "array",
            "description" : "List of ApplicationGatewayBackendHealthHttpSettings resources.",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthHttpSettings"
            }
          }
        },
        "description" : "Application gateway BackendHealth pool."
      },
      "ApplicationGatewayBackendHealthServer" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string",
            "description" : "IP address or FQDN of backend server."
          },
          "health" : {
            "type" : "string",
            "description" : "Health of backend server.",
            "enum" : [ "Unknown", "Up", "Down", "Partial", "Draining" ]
          },
          "healthProbeLog" : {
            "type" : "string",
            "description" : "Health Probe Log."
          },
          "ipConfiguration" : {
            "type" : "object",
            "properties" : {
              "etag" : {
                "type" : "string",
                "description" : "A unique read-only string that changes whenever the resource is updated."
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
              },
              "properties" : {
                "type" : "object",
                "properties" : {
                  "applicationGatewayBackendAddressPools" : {
                    "type" : "array",
                    "description" : "The reference of ApplicationGatewayBackendAddressPool resource.",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "etag" : {
                          "type" : "string",
                          "description" : "A unique read-only string that changes whenever the resource is updated."
                        },
                        "name" : {
                          "type" : "string",
                          "description" : "Name of the backend address pool that is unique within an Application Gateway."
                        },
                        "properties" : {
                          "type" : "object",
                          "properties" : {
                            "backendAddresses" : {
                              "type" : "array",
                              "description" : "Backend addresses.",
                              "items" : {
                                "type" : "object",
                                "properties" : {
                                  "fqdn" : {
                                    "type" : "string",
                                    "description" : "Fully qualified domain name (FQDN)."
                                  },
                                  "ipAddress" : {
                                    "type" : "string",
                                    "description" : "IP address."
                                  }
                                },
                                "description" : "Backend address of an application gateway."
                              }
                            },
                            "backendIPConfigurations" : {
                              "type" : "array",
                              "description" : "Collection of references to IPs defined in network interfaces.",
                              "items" : {
                                "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/virtualNetworkTaps/items/properties/properties/properties/destinationNetworkInterfaceIPConfiguration"
                              }
                            },
                            "provisioningState" : {
                              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                            }
                          },
                          "description" : "Properties of Backend Address Pool of an application gateway."
                        },
                        "type" : {
                          "type" : "string",
                          "description" : "Type of the resource."
                        }
                      },
                      "description" : "Backend Address Pool of an application gateway."
                    }
                  },
                  "applicationSecurityGroups" : {
                    "type" : "array",
                    "description" : "Application security groups in which the IP configuration is included.",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "etag" : {
                          "type" : "string",
                          "description" : "A unique read-only string that changes whenever the resource is updated.",
                          "readOnly" : true
                        },
                        "properties" : {
                          "type" : "object",
                          "properties" : {
                            "provisioningState" : {
                              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                            },
                            "resourceGuid" : {
                              "type" : "string",
                              "description" : "The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.",
                              "readOnly" : true
                            }
                          },
                          "description" : "Application security group properties."
                        }
                      },
                      "description" : "An application security group in a resource group."
                    }
                  },
                  "loadBalancerBackendAddressPools" : {
                    "type" : "array",
                    "description" : "The reference of LoadBalancerBackendAddressPool resource.",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "etag" : {
                          "type" : "string",
                          "description" : "A unique read-only string that changes whenever the resource is updated."
                        },
                        "name" : {
                          "type" : "string",
                          "description" : "The name of the resource that is unique within the set of backend address pools used by the load balancer. This name can be used to access the resource."
                        },
                        "properties" : {
                          "type" : "object",
                          "properties" : {
                            "backendIPConfigurations" : {
                              "type" : "array",
                              "description" : "An array of references to IP addresses defined in network interfaces.",
                              "readOnly" : true,
                              "items" : {
                                "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/virtualNetworkTaps/items/properties/properties/properties/destinationNetworkInterfaceIPConfiguration"
                              }
                            },
                            "loadBalancingRules" : {
                              "type" : "array",
                              "description" : "An array of references to load balancing rules that use this backend address pool.",
                              "readOnly" : true,
                              "items" : {
                                "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                              }
                            },
                            "outboundRule" : {
                              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                            },
                            "outboundRules" : {
                              "type" : "array",
                              "description" : "An array of references to outbound rules that use this backend address pool.",
                              "readOnly" : true,
                              "items" : {
                                "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                              }
                            },
                            "provisioningState" : {
                              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                            }
                          },
                          "description" : "Properties of the backend address pool."
                        },
                        "type" : {
                          "type" : "string",
                          "description" : "Type of the resource.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Pool of backend IP addresses."
                    }
                  },
                  "loadBalancerInboundNatRules" : {
                    "type" : "array",
                    "description" : "A list of references of LoadBalancerInboundNatRules.",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "etag" : {
                          "type" : "string",
                          "description" : "A unique read-only string that changes whenever the resource is updated."
                        },
                        "name" : {
                          "type" : "string",
                          "description" : "The name of the resource that is unique within the set of inbound NAT rules used by the load balancer. This name can be used to access the resource."
                        },
                        "properties" : {
                          "type" : "object",
                          "properties" : {
                            "backendIPConfiguration" : {
                              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/virtualNetworkTaps/items/properties/properties/properties/destinationNetworkInterfaceIPConfiguration"
                            },
                            "backendPort" : {
                              "type" : "integer",
                              "description" : "The port used for the internal endpoint. Acceptable values range from 1 to 65535.",
                              "format" : "int32"
                            },
                            "enableFloatingIP" : {
                              "type" : "boolean",
                              "description" : "Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint."
                            },
                            "enableTcpReset" : {
                              "type" : "boolean",
                              "description" : "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
                            },
                            "frontendIPConfiguration" : {
                              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                            },
                            "frontendPort" : {
                              "type" : "integer",
                              "description" : "The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values range from 1 to 65534.",
                              "format" : "int32"
                            },
                            "idleTimeoutInMinutes" : {
                              "type" : "integer",
                              "description" : "The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP.",
                              "format" : "int32"
                            },
                            "protocol" : {
                              "type" : "string",
                              "description" : "The transport protocol for the endpoint.",
                              "enum" : [ "Udp", "Tcp", "All" ]
                            },
                            "provisioningState" : {
                              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                            }
                          },
                          "description" : "Properties of the inbound NAT rule."
                        },
                        "type" : {
                          "type" : "string",
                          "description" : "Type of the resource.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Inbound NAT rule of the load balancer."
                    }
                  },
                  "primary" : {
                    "type" : "boolean",
                    "description" : "Whether this is a primary customer address on the network interface."
                  },
                  "privateIPAddress" : {
                    "type" : "string",
                    "description" : "Private IP address of the IP configuration."
                  },
                  "privateIPAddressVersion" : {
                    "type" : "string",
                    "description" : "IP address version.",
                    "enum" : [ "IPv4", "IPv6" ]
                  },
                  "privateIPAllocationMethod" : {
                    "type" : "string",
                    "description" : "IP address allocation method.",
                    "enum" : [ "Static", "Dynamic" ]
                  },
                  "privateLinkConnectionProperties" : {
                    "type" : "object",
                    "properties" : {
                      "fqdns" : {
                        "type" : "array",
                        "description" : "List of FQDNs for current private link connection.",
                        "readOnly" : true,
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "groupId" : {
                        "type" : "string",
                        "description" : "The group ID for current private link connection.",
                        "readOnly" : true
                      },
                      "requiredMemberName" : {
                        "type" : "string",
                        "description" : "The required member name for current private link connection.",
                        "readOnly" : true
                      }
                    },
                    "description" : "PrivateLinkConnection properties for the network interface."
                  },
                  "provisioningState" : {
                    "type" : "string",
                    "description" : "The current provisioning state.",
                    "readOnly" : true,
                    "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
                  },
                  "publicIPAddress" : {
                    "type" : "object",
                    "properties" : {
                      "etag" : {
                        "type" : "string",
                        "description" : "A unique read-only string that changes whenever the resource is updated."
                      },
                      "properties" : {
                        "type" : "object",
                        "properties" : {
                          "ddosSettings" : {
                            "type" : "object",
                            "properties" : {
                              "ddosCustomPolicy" : {
                                "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                              },
                              "protectionCoverage" : {
                                "type" : "string",
                                "description" : "The DDoS protection policy customizability of the public IP. Only standard coverage will have the ability to be customized.",
                                "enum" : [ "Basic", "Standard" ]
                              }
                            },
                            "description" : "Contains the DDoS protection settings of the public IP."
                          },
                          "dnsSettings" : {
                            "type" : "object",
                            "properties" : {
                              "domainNameLabel" : {
                                "type" : "string",
                                "description" : "The domain name label. The concatenation of the domain name label and the regionalized DNS zone make up the fully qualified domain name associated with the public IP address. If a domain name label is specified, an A DNS record is created for the public IP in the Microsoft Azure DNS system."
                              },
                              "fqdn" : {
                                "type" : "string",
                                "description" : "The Fully Qualified Domain Name of the A DNS record associated with the public IP. This is the concatenation of the domainNameLabel and the regionalized DNS zone."
                              },
                              "reverseFqdn" : {
                                "type" : "string",
                                "description" : "The reverse FQDN. A user-visible, fully qualified domain name that resolves to this public IP address. If the reverseFqdn is specified, then a PTR DNS record is created pointing from the IP address in the in-addr.arpa domain to the reverse FQDN."
                              }
                            },
                            "description" : "Contains FQDN of the DNS record associated with the public IP address."
                          },
                          "idleTimeoutInMinutes" : {
                            "type" : "integer",
                            "description" : "The idle timeout of the public IP address.",
                            "format" : "int32"
                          },
                          "ipAddress" : {
                            "type" : "string",
                            "description" : "The IP address associated with the public IP address resource."
                          },
                          "ipConfiguration" : {
                            "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet/properties/properties/properties/ipConfigurations/items"
                          },
                          "ipTags" : {
                            "type" : "array",
                            "description" : "The list of tags associated with the public IP address.",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "ipTagType" : {
                                  "type" : "string",
                                  "description" : "The IP tag type. Example: FirstPartyUsage."
                                },
                                "tag" : {
                                  "type" : "string",
                                  "description" : "The value of the IP tag associated with the public IP. Example: SQL."
                                }
                              },
                              "description" : "Contains the IpTag associated with the object."
                            }
                          },
                          "provisioningState" : {
                            "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                          },
                          "publicIPAddressVersion" : {
                            "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/privateIPAddressVersion"
                          },
                          "publicIPAllocationMethod" : {
                            "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/privateIPAllocationMethod"
                          },
                          "publicIPPrefix" : {
                            "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                          },
                          "resourceGuid" : {
                            "type" : "string",
                            "description" : "The resource GUID property of the public IP address resource."
                          }
                        },
                        "description" : "Public IP address properties."
                      },
                      "sku" : {
                        "type" : "object",
                        "properties" : {
                          "name" : {
                            "type" : "string",
                            "description" : "Name of a public IP address SKU.",
                            "enum" : [ "Basic", "Standard" ]
                          }
                        },
                        "description" : "SKU of a public IP address."
                      },
                      "zones" : {
                        "type" : "array",
                        "description" : "A list of availability zones denoting the IP allocated for the resource needs to come from.",
                        "items" : {
                          "type" : "string"
                        }
                      }
                    },
                    "description" : "Public IP address resource."
                  },
                  "subnet" : {
                    "type" : "object",
                    "properties" : {
                      "etag" : {
                        "type" : "string",
                        "description" : "A unique read-only string that changes whenever the resource is updated."
                      },
                      "name" : {
                        "type" : "string",
                        "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
                      },
                      "properties" : {
                        "type" : "object",
                        "properties" : {
                          "addressPrefix" : {
                            "type" : "string",
                            "description" : "The address prefix for the subnet."
                          },
                          "addressPrefixes" : {
                            "type" : "array",
                            "description" : "List of address prefixes for the subnet.",
                            "items" : {
                              "type" : "string"
                            }
                          },
                          "delegations" : {
                            "type" : "array",
                            "description" : "An array of references to the delegations on the subnet.",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "etag" : {
                                  "type" : "string",
                                  "description" : "A unique read-only string that changes whenever the resource is updated."
                                },
                                "name" : {
                                  "type" : "string",
                                  "description" : "The name of the resource that is unique within a subnet. This name can be used to access the resource."
                                },
                                "properties" : {
                                  "type" : "object",
                                  "properties" : {
                                    "actions" : {
                                      "type" : "array",
                                      "description" : "Describes the actions permitted to the service upon delegation.",
                                      "items" : {
                                        "type" : "string"
                                      }
                                    },
                                    "provisioningState" : {
                                      "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                                    },
                                    "serviceName" : {
                                      "type" : "string",
                                      "description" : "The name of the service to whom the subnet should be delegated (e.g. Microsoft.Sql/servers)."
                                    }
                                  },
                                  "description" : "Properties of a service delegation."
                                }
                              },
                              "description" : "Details the service to which the subnet is delegated."
                            }
                          },
                          "ipConfigurationProfiles" : {
                            "type" : "array",
                            "description" : "Array of IP configuration profiles which reference this subnet.",
                            "readOnly" : true,
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "etag" : {
                                  "type" : "string",
                                  "description" : "A unique read-only string that changes whenever the resource is updated."
                                },
                                "name" : {
                                  "type" : "string",
                                  "description" : "The name of the resource. This name can be used to access the resource."
                                },
                                "properties" : {
                                  "type" : "object",
                                  "properties" : {
                                    "provisioningState" : {
                                      "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                                    },
                                    "subnet" : {
                                      "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet"
                                    }
                                  },
                                  "description" : "IP configuration profile properties."
                                },
                                "type" : {
                                  "type" : "string",
                                  "description" : "Sub Resource type.",
                                  "readOnly" : true
                                }
                              },
                              "description" : "IP configuration profile child resource."
                            }
                          },
                          "ipConfigurations" : {
                            "type" : "array",
                            "description" : "An array of references to the network interface IP configurations using subnet.",
                            "readOnly" : true,
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "etag" : {
                                  "type" : "string",
                                  "description" : "A unique read-only string that changes whenever the resource is updated."
                                },
                                "name" : {
                                  "type" : "string",
                                  "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
                                },
                                "properties" : {
                                  "type" : "object",
                                  "properties" : {
                                    "privateIPAddress" : {
                                      "type" : "string",
                                      "description" : "The private IP address of the IP configuration."
                                    },
                                    "privateIPAllocationMethod" : {
                                      "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/privateIPAllocationMethod"
                                    },
                                    "provisioningState" : {
                                      "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                                    },
                                    "publicIPAddress" : {
                                      "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/publicIPAddress"
                                    },
                                    "subnet" : {
                                      "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet"
                                    }
                                  },
                                  "description" : "Properties of IP configuration."
                                }
                              },
                              "description" : "IP configuration."
                            }
                          },
                          "natGateway" : {
                            "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                          },
                          "networkSecurityGroup" : {
                            "type" : "object",
                            "properties" : {
                              "etag" : {
                                "type" : "string",
                                "description" : "A unique read-only string that changes whenever the resource is updated."
                              },
                              "properties" : {
                                "type" : "object",
                                "properties" : {
                                  "defaultSecurityRules" : {
                                    "type" : "array",
                                    "description" : "The default security rules of network security group.",
                                    "items" : {
                                      "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet/properties/properties/properties/networkSecurityGroup/properties/properties/properties/securityRules/items"
                                    }
                                  },
                                  "networkInterfaces" : {
                                    "type" : "array",
                                    "description" : "A collection of references to network interfaces.",
                                    "readOnly" : true,
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "etag" : {
                                          "type" : "string",
                                          "description" : "A unique read-only string that changes whenever the resource is updated."
                                        },
                                        "properties" : {
                                          "type" : "object",
                                          "properties" : {
                                            "dnsSettings" : {
                                              "type" : "object",
                                              "properties" : {
                                                "appliedDnsServers" : {
                                                  "type" : "array",
                                                  "description" : "If the VM that uses this NIC is part of an Availability Set, then this list will have the union of all DNS servers from all NICs that are part of the Availability Set. This property is what is configured on each of those VMs.",
                                                  "items" : {
                                                    "type" : "string"
                                                  }
                                                },
                                                "dnsServers" : {
                                                  "type" : "array",
                                                  "description" : "List of DNS servers IP addresses. Use 'AzureProvidedDNS' to switch to azure provided DNS resolution. 'AzureProvidedDNS' value cannot be combined with other IPs, it must be the only value in dnsServers collection.",
                                                  "items" : {
                                                    "type" : "string"
                                                  }
                                                },
                                                "internalDnsNameLabel" : {
                                                  "type" : "string",
                                                  "description" : "Relative DNS name for this NIC used for internal communications between VMs in the same virtual network."
                                                },
                                                "internalDomainNameSuffix" : {
                                                  "type" : "string",
                                                  "description" : "Even if internalDnsNameLabel is not specified, a DNS entry is created for the primary NIC of the VM. This DNS name can be constructed by concatenating the VM name with the value of internalDomainNameSuffix."
                                                },
                                                "internalFqdn" : {
                                                  "type" : "string",
                                                  "description" : "Fully qualified DNS name supporting internal communications between VMs in the same virtual network."
                                                }
                                              },
                                              "description" : "DNS settings of a network interface."
                                            },
                                            "enableAcceleratedNetworking" : {
                                              "type" : "boolean",
                                              "description" : "If the network interface is accelerated networking enabled."
                                            },
                                            "enableIPForwarding" : {
                                              "type" : "boolean",
                                              "description" : "Indicates whether IP forwarding is enabled on this network interface."
                                            },
                                            "hostedWorkloads" : {
                                              "type" : "array",
                                              "description" : "A list of references to linked BareMetal resources.",
                                              "readOnly" : true,
                                              "items" : {
                                                "type" : "string"
                                              }
                                            },
                                            "ipConfigurations" : {
                                              "type" : "array",
                                              "description" : "A list of IPConfigurations of the network interface.",
                                              "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                  "etag" : {
                                                    "type" : "string",
                                                    "description" : "A unique read-only string that changes whenever the resource is updated."
                                                  },
                                                  "name" : {
                                                    "type" : "string",
                                                    "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
                                                  },
                                                  "properties" : {
                                                    "type" : "object",
                                                    "properties" : {
                                                      "applicationGatewayBackendAddressPools" : {
                                                        "type" : "array",
                                                        "description" : "The reference of ApplicationGatewayBackendAddressPool resource.",
                                                        "items" : {
                                                          "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/applicationGatewayBackendAddressPools/items"
                                                        }
                                                      },
                                                      "applicationSecurityGroups" : {
                                                        "type" : "array",
                                                        "description" : "Application security groups in which the IP configuration is included.",
                                                        "items" : {
                                                          "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/applicationSecurityGroups/items"
                                                        }
                                                      },
                                                      "loadBalancerBackendAddressPools" : {
                                                        "type" : "array",
                                                        "description" : "The reference of LoadBalancerBackendAddressPool resource.",
                                                        "items" : {
                                                          "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/loadBalancerBackendAddressPools/items"
                                                        }
                                                      },
                                                      "loadBalancerInboundNatRules" : {
                                                        "type" : "array",
                                                        "description" : "A list of references of LoadBalancerInboundNatRules.",
                                                        "items" : {
                                                          "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/loadBalancerInboundNatRules/items"
                                                        }
                                                      },
                                                      "primary" : {
                                                        "type" : "boolean",
                                                        "description" : "Whether this is a primary customer address on the network interface."
                                                      },
                                                      "privateIPAddress" : {
                                                        "type" : "string",
                                                        "description" : "Private IP address of the IP configuration."
                                                      },
                                                      "privateIPAddressVersion" : {
                                                        "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/privateIPAddressVersion"
                                                      },
                                                      "privateIPAllocationMethod" : {
                                                        "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/privateIPAllocationMethod"
                                                      },
                                                      "privateLinkConnectionProperties" : {
                                                        "type" : "object",
                                                        "properties" : {
                                                          "fqdns" : {
                                                            "type" : "array",
                                                            "description" : "List of FQDNs for current private link connection.",
                                                            "readOnly" : true,
                                                            "items" : {
                                                              "type" : "string"
                                                            }
                                                          },
                                                          "groupId" : {
                                                            "type" : "string",
                                                            "description" : "The group ID for current private link connection.",
                                                            "readOnly" : true
                                                          },
                                                          "requiredMemberName" : {
                                                            "type" : "string",
                                                            "description" : "The required member name for current private link connection.",
                                                            "readOnly" : true
                                                          }
                                                        },
                                                        "description" : "PrivateLinkConnection properties for the network interface."
                                                      },
                                                      "provisioningState" : {
                                                        "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                                                      },
                                                      "publicIPAddress" : {
                                                        "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/publicIPAddress"
                                                      },
                                                      "subnet" : {
                                                        "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet"
                                                      },
                                                      "virtualNetworkTaps" : {
                                                        "type" : "array",
                                                        "description" : "The reference to Virtual Network Taps.",
                                                        "items" : {
                                                          "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/virtualNetworkTaps/items"
                                                        }
                                                      }
                                                    },
                                                    "description" : "Properties of IP configuration."
                                                  }
                                                },
                                                "description" : "IPConfiguration in a network interface."
                                              }
                                            },
                                            "macAddress" : {
                                              "type" : "string",
                                              "description" : "The MAC address of the network interface."
                                            },
                                            "networkSecurityGroup" : {
                                              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet/properties/properties/properties/networkSecurityGroup"
                                            },
                                            "primary" : {
                                              "type" : "boolean",
                                              "description" : "Whether this is a primary network interface on a virtual machine."
                                            },
                                            "privateEndpoint" : {
                                              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet/properties/properties/properties/privateEndpoints/items"
                                            },
                                            "provisioningState" : {
                                              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                                            },
                                            "resourceGuid" : {
                                              "type" : "string",
                                              "description" : "The resource GUID property of the network interface resource."
                                            },
                                            "tapConfigurations" : {
                                              "type" : "array",
                                              "description" : "A list of TapConfigurations of the network interface.",
                                              "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                  "etag" : {
                                                    "type" : "string",
                                                    "description" : "A unique read-only string that changes whenever the resource is updated."
                                                  },
                                                  "name" : {
                                                    "type" : "string",
                                                    "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
                                                  },
                                                  "properties" : {
                                                    "type" : "object",
                                                    "properties" : {
                                                      "provisioningState" : {
                                                        "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                                                      },
                                                      "virtualNetworkTap" : {
                                                        "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/virtualNetworkTaps/items"
                                                      }
                                                    },
                                                    "description" : "Properties of Virtual Network Tap configuration."
                                                  },
                                                  "type" : {
                                                    "type" : "string",
                                                    "description" : "Sub Resource type.",
                                                    "readOnly" : true
                                                  }
                                                },
                                                "description" : "Tap configuration in a Network Interface."
                                              }
                                            },
                                            "virtualMachine" : {
                                              "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                                            }
                                          },
                                          "description" : "NetworkInterface properties."
                                        }
                                      },
                                      "description" : "A network interface in a resource group."
                                    }
                                  },
                                  "provisioningState" : {
                                    "$ref" : "#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/provisioningState"
                                  },
                                  "resourceGuid" : {
                                    "type" : "string",
                                    "description" : "The resource GUID property of the network security group resource."
                                  },
                                  "securityRules" : {
                                    "type" : "array",
                                    "description" : "A collection of security rules of the network security group.",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "etag" : {
                                          "type" : "string",
                                          "description" : "A unique read-only string that changes whenever the resource is updated."
                                        },
                                        "name" : {
                                          "type" : "string",
                                          "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
                                        },
                                        "properties" : {
                                          "required" : [ "access", "direction", "protocol" ],
                                          "type" : "object",
                                          "properties" : {
                                            "access" : {
                                              "type" : "string",
                                              "description" : "Whether network traffic is allowed or denied.",
[...]
