{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AutomationManagement",
    "version" : "2018-06-30"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/python2Packages" : {
      "get" : {
        "tags" : [ "Python2Package" ],
        "description" : "Retrieve a list of python 2 packages.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "operationId" : "Python2Package_ListByAutomationAccount",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ModuleListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/python2Packages/{packageName}" : {
      "get" : {
        "tags" : [ "Python2Package" ],
        "description" : "Retrieve the python 2 package identified by package name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "operationId" : "Python2Package_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "packageName",
          "in" : "path",
          "description" : "The python package name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Module"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Python2Package" ],
        "description" : "Create or Update the python 2 package identified by package name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "operationId" : "Python2Package_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "packageName",
          "in" : "path",
          "description" : "The name of python package.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The create or update parameters for python package.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PythonPackageCreateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Module"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Module"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Python2Package" ],
        "description" : "Delete the python 2 package by name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "operationId" : "Python2Package_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "packageName",
          "in" : "path",
          "description" : "The python package name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Python2Package" ],
        "description" : "Update the python 2 package identified by package name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "operationId" : "Python2Package_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "packageName",
          "in" : "path",
          "description" : "The name of python package.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The update parameters for python package.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PythonPackageUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Module"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Activity" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Gets or sets the id of the resource."
          },
          "name" : {
            "type" : "string",
            "description" : "Gets the name of the activity.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/ActivityProperties"
          }
        },
        "description" : "Definition of the activity."
      },
      "ActivityListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets or sets the next link."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets or sets a list of activities.",
            "items" : {
              "$ref" : "#/components/schemas/Activity"
            }
          }
        },
        "description" : "The response model for the list activity operation."
      },
      "ActivityOutputType" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name of the activity output type."
          },
          "type" : {
            "type" : "string",
            "description" : "Gets or sets the type of the activity output type."
          }
        },
        "description" : "Definition of the activity output type."
      },
      "ActivityParameter" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description of the activity parameter."
          },
          "isDynamic" : {
            "type" : "boolean",
            "description" : "Gets or sets a Boolean value that indicates true if the parameter is dynamic."
          },
          "isMandatory" : {
            "type" : "boolean",
            "description" : "Gets or sets a Boolean value that indicates true if the parameter is required. If the value is false, the parameter is optional."
          },
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name of the activity parameter."
          },
          "position" : {
            "type" : "integer",
            "description" : "Gets or sets the position of the activity parameter.",
            "format" : "int64"
          },
          "type" : {
            "type" : "string",
            "description" : "Gets or sets the type of the activity parameter."
          },
          "validationSet" : {
            "type" : "array",
            "description" : "Gets or sets the validation set of activity parameter.",
            "items" : {
              "$ref" : "#/components/schemas/ActivityParameterValidationSet"
            }
          },
          "valueFromPipeline" : {
            "type" : "boolean",
            "description" : "Gets or sets a Boolean value that indicates true if the parameter can take values from the incoming pipeline objects. This setting is used if the cmdlet must access the complete input object. false indicates that the parameter cannot take values from the complete input object."
          },
          "valueFromPipelineByPropertyName" : {
            "type" : "boolean",
            "description" : "Gets or sets a Boolean value that indicates true if the parameter can be filled from a property of the incoming pipeline object that has the same name as this parameter. false indicates that the parameter cannot be filled from the incoming pipeline object property with the same name. "
          },
          "valueFromRemainingArguments" : {
            "type" : "boolean",
            "description" : "Gets or sets a Boolean value that indicates true if the cmdlet parameter accepts all the remaining command-line arguments that are associated with this parameter in the form of an array. false if the cmdlet parameter does not accept all the remaining argument values."
          }
        },
        "description" : "Definition of the activity parameter."
      },
      "ActivityParameterSet" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name of the activity parameter set."
          },
          "parameters" : {
            "type" : "array",
            "description" : "Gets or sets the parameters of the activity parameter set.",
            "items" : {
              "$ref" : "#/components/schemas/ActivityParameter"
            }
          }
        },
        "description" : "Definition of the activity parameter set."
      },
      "ActivityParameterValidationSet" : {
        "type" : "object",
        "properties" : {
          "memberValue" : {
            "type" : "string",
            "description" : "Gets or sets the name of the activity parameter validation set member."
          }
        },
        "description" : "Definition of the activity parameter validation set."
      },
      "ActivityProperties" : {
        "type" : "object",
        "properties" : {
          "creationTime" : {
            "type" : "string",
            "description" : "Gets or sets the creation time.",
            "format" : "date-time",
            "nullable" : false
          },
          "definition" : {
            "type" : "string",
            "description" : "Gets or sets the user name of the activity."
          },
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description."
          },
          "lastModifiedTime" : {
            "type" : "string",
            "description" : "Gets or sets the last modified time.",
            "format" : "date-time",
            "nullable" : false
          },
          "outputTypes" : {
            "type" : "array",
            "description" : "Gets or sets the output types of the activity.",
            "items" : {
              "$ref" : "#/components/schemas/ActivityOutputType"
            }
          },
          "parameterSets" : {
            "type" : "array",
            "description" : "Gets or sets the parameter sets of the activity.",
            "items" : {
              "$ref" : "#/components/schemas/ActivityParameterSet"
            }
          }
        },
        "description" : "Properties of the activity."
      },
      "ContentHash" : {
        "required" : [ "algorithm", "value" ],
        "type" : "object",
        "properties" : {
          "algorithm" : {
            "type" : "string",
            "description" : "Gets or sets the content hash algorithm used to hash the content."
          },
          "value" : {
            "type" : "string",
            "description" : "Gets or sets expected hash value of the content."
          }
        },
        "description" : "Definition of the runbook property type."
      },
      "ContentLink" : {
        "type" : "object",
        "properties" : {
          "contentHash" : {
            "$ref" : "#/components/schemas/ContentHash"
          },
          "uri" : {
            "type" : "string",
            "description" : "Gets or sets the uri of the runbook content."
          },
          "version" : {
            "type" : "string",
            "description" : "Gets or sets the version of the content."
          }
        },
        "description" : "Definition of the content link."
      },
      "Module" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "Gets or sets the etag of the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/ModuleProperties"
          }
        },
        "description" : "Definition of the module type.",
        "allOf" : [ {
          "properties" : {
            "location" : {
              "type" : "string",
              "description" : "The Azure Region where the resource lives"
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            }
          },
          "description" : "The resource model definition for a ARM tracked top level resource",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Fully qualified resource Id for the resource",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the resource.",
                "readOnly" : true
              }
            },
            "description" : "The core properties of ARM resources"
          } ]
        } ]
      },
      "ModuleErrorInfo" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Gets or sets the error code."
          },
          "message" : {
            "type" : "string",
            "description" : "Gets or sets the error message."
          }
        },
        "description" : "Definition of the module error info type."
      },
      "ModuleListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets or sets the next link."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets or sets a list of modules.",
            "items" : {
              "$ref" : "#/components/schemas/Module"
            }
          }
        },
        "description" : "The response model for the list module operation."
      },
      "ModuleProperties" : {
        "type" : "object",
        "properties" : {
          "activityCount" : {
            "type" : "integer",
            "description" : "Gets or sets the activity count of the module.",
            "format" : "int32"
          },
          "contentLink" : {
            "$ref" : "#/components/schemas/ContentLink"
          },
          "creationTime" : {
            "type" : "string",
            "description" : "Gets or sets the creation time.",
            "format" : "date-time",
            "nullable" : false
          },
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description."
          },
          "error" : {
            "$ref" : "#/components/schemas/ModuleErrorInfo"
          },
          "isComposite" : {
            "type" : "boolean",
            "description" : "Gets or sets type of module, if its composite or not."
          },
          "isGlobal" : {
            "type" : "boolean",
            "description" : "Gets or sets the isGlobal flag of the module."
          },
          "lastModifiedTime" : {
            "type" : "string",
            "description" : "Gets or sets the last modified time.",
            "format" : "date-time",
            "nullable" : false
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Gets or sets the provisioning state of the module.",
            "enum" : [ "Created", "Creating", "StartingImportModuleRunbook", "RunningImportModuleRunbook", "ContentRetrieved", "ContentDownloaded", "ContentValidated", "ConnectionTypeImported", "ContentStored", "ModuleDataStored", "ActivitiesStored", "ModuleImportRunbookComplete", "Succeeded", "Failed", "Cancelled", "Updating" ]
          },
          "sizeInBytes" : {
            "type" : "integer",
            "description" : "Gets or sets the size in bytes of the module.",
            "format" : "int64"
          },
          "version" : {
            "type" : "string",
            "description" : "Gets or sets the version of the module."
          }
        },
        "description" : "Definition of the module property type."
      },
      "PythonPackageCreateParameters" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/PythonPackageCreateProperties"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets the tags attached to the resource."
          }
        },
        "description" : "The parameters supplied to the create or update module operation."
      },
      "PythonPackageCreateProperties" : {
        "required" : [ "contentLink" ],
        "type" : "object",
        "properties" : {
          "contentLink" : {
            "$ref" : "#/components/schemas/ContentLink"
          }
        },
        "description" : "The parameters supplied to the create or update module properties."
      },
      "PythonPackageUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets the tags attached to the resource."
          }
        },
        "description" : "The parameters supplied to the update module operation."
      },
      "TypeField" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name of the field."
          },
          "type" : {
            "type" : "string",
            "description" : "Gets or sets the type of the field."
          }
        },
        "description" : "Information about a field of a type."
      },
      "TypeFieldListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "Gets or sets a list of fields.",
            "items" : {
              "$ref" : "#/components/schemas/TypeField"
            }
          }
        },
        "description" : "The response model for the list fields operation."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}