{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure Addons Resource Provider",
    "description" : "The service for managing third party addons.",
    "version" : "2018-03-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/providers/Microsoft.Addons/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available Addons RP operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all the operations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationList"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Addons/supportProviders/canonical/listSupportPlanInfo" : {
      "post" : {
        "tags" : [ "AddonStatus" ],
        "description" : "Returns the canonical support plan information for all types for the subscription.",
        "operationId" : "SupportPlanTypes_ListInfo",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CanonicalSupportPlanInfo"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "default" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Addons/supportProviders/{providerName}/supportPlanTypes/{planTypeName}" : {
      "get" : {
        "tags" : [ "AddonDetails" ],
        "description" : "Returns whether or not the canonical support plan of type {type} is enabled for the subscription.",
        "operationId" : "SupportPlanTypes_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerName",
          "in" : "path",
          "description" : "The support plan type. For now the only valid type is \"canonical\".",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planTypeName",
          "in" : "path",
          "description" : "The Canonical support plan type.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "Essential", "Standard", "Advanced" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CanonicalSupportPlanResponseEnvelope"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "default" : {
            "description" : "'404' - 'Not Found'.\n'400' - 'Bad Request'",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDefinition"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "AddonDetails" ],
        "description" : "Creates or updates the Canonical support plan of type {type} for the subscription.",
        "operationId" : "SupportPlanTypes_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerName",
          "in" : "path",
          "description" : "The support plan type. For now the only valid type is \"canonical\".",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planTypeName",
          "in" : "path",
          "description" : "The Canonical support plan type.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "Essential", "Standard", "Advanced" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CanonicalSupportPlanResponseEnvelope"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CanonicalSupportPlanResponseEnvelope"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          },
          "default" : {
            "description" : "'404' - 'Not Found'.\n'400' - 'Bad Request'",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDefinition"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "description" : "Cancels the Canonical support plan of type {type} for the subscription.",
        "operationId" : "SupportPlanTypes_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerName",
          "in" : "path",
          "description" : "The support plan type. For now the only valid type is \"canonical\".",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planTypeName",
          "in" : "path",
          "description" : "The Canonical support plan type.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "Essential", "Standard", "Advanced" ]
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CanonicalSupportPlanResponseEnvelope"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDefinition"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CanonicalSupportPlanInfo" : {
        "title" : "Canonical Support Plan Info",
        "type" : "array",
        "description" : "The status of all Canonical support plans for a subscription.",
        "items" : {
          "$ref" : "#/components/schemas/CanonicalSupportPlanInfoDefinition"
        }
      },
      "CanonicalSupportPlanInfoDefinition" : {
        "type" : "object",
        "properties" : {
          "enabled" : {
            "type" : "boolean",
            "description" : "Flag to indicate if this support plan type is currently enabled for the subscription."
          },
          "oneTimeCharge" : {
            "type" : "string",
            "description" : "The one time charge status for the subscription.",
            "enum" : [ "no", "onEnabled", "onReenabled" ]
          },
          "supportPlanType" : {
            "type" : "string",
            "description" : "Support plan type.",
            "enum" : [ "essential", "standard", "advanced" ]
          }
        },
        "description" : "Definition object with the properties of a canonical plan"
      },
      "CanonicalSupportPlanProperties" : {
        "type" : "object",
        "properties" : {
          "provisioningState" : {
            "type" : "string",
            "description" : "The provisioning state of the resource.",
            "enum" : [ "Succeeded", "Failed", "Cancelled", "Purchasing", "Downgrading", "Cancelling", "Upgrading" ]
          }
        },
        "description" : "The properties of the Canonical support plan."
      },
      "CanonicalSupportPlanResponseEnvelope" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The id of the ARM resource, e.g. \"/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}\".",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the Canonical support plan, i.e. \"essential\", \"standard\" or \"advanced\".",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/CanonicalSupportPlanProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Microsoft.Addons/supportProvider",
            "readOnly" : true
          }
        },
        "description" : "The status of the Canonical support plan."
      },
      "ErrorDefinition" : {
        "title" : "Error",
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "maximum" : 600,
            "minimum" : 100,
            "type" : "integer",
            "description" : "Service specific error code which serves as the substatus for the HTTP error code."
          },
          "message" : {
            "type" : "string",
            "description" : "Description of the error."
          }
        },
        "description" : "Error description and code explaining why an operation failed."
      },
      "OperationList" : {
        "type" : "array",
        "description" : "List of supported operations.",
        "items" : {
          "$ref" : "#/components/schemas/OperationsDefinition"
        }
      },
      "OperationsDefinition" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/OperationsDisplayDefinition"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the operation."
          }
        },
        "description" : "Definition object with the name and properties of an operation."
      },
      "OperationsDisplayDefinition" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description of the operation."
          },
          "operation" : {
            "type" : "string",
            "description" : "Short description of the operation."
          },
          "provider" : {
            "type" : "string",
            "description" : "Resource provider of the operation."
          },
          "resource" : {
            "type" : "string",
            "description" : "Resource for the operation."
          }
        },
        "description" : "Display object with properties of the operation."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client API version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "CanonicalSupportPlanType" : {
        "name" : "planTypeName",
        "in" : "path",
        "description" : "The Canonical support plan type.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "Essential", "Standard", "Advanced" ]
        }
      },
      "OperationResultsIdParameter" : {
        "name" : "operationResultsId",
        "in" : "path",
        "description" : "The id representing an async operation.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SupportProviderName" : {
        "name" : "providerName",
        "in" : "path",
        "description" : "The support plan type. For now the only valid type is \"canonical\".",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}