{"openapi":"3.0.1","info":{"title":"MonitorManagementClient","version":"2015-04-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/microsoft.insights/eventcategories":{"get":{"tags":["EventCategories"],"description":"Get the list of available event categories supported in the Activity Logs Service.<br>The current list includes the following: Administrative, Security, ServiceHealth, Alert, Recommendation, Policy.","operationId":"EventCategories_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request to get the list of event categories","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventCategoryCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."},"EventCategoryCollection":{"required":["value"],"type":"object","properties":{"value":{"type":"array","description":"the list that includes the Azure event categories.","items":{"$ref":"#/components/schemas/LocalizableString"}}},"description":"A collection of event categories. Currently possible values are: Administrative, Security, ServiceHealth, Alert, Recommendation, Policy."},"LocalizableString":{"required":["value"],"type":"object","properties":{"localizedValue":{"type":"string","description":"the locale specific value."},"value":{"type":"string","description":"the invariant value."}},"description":"The localizable string class."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}