{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DataFactoryManagementClient",
    "version" : "2018-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.DataFactory/operations" : {
      "get" : {
        "tags" : [ "operations" ],
        "description" : "Lists the available Azure Data Factory API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataFactory/factories" : {
      "get" : {
        "tags" : [ "factories" ],
        "description" : "Lists factories under the specified subscription.",
        "operationId" : "Factories_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FactoryListResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataFactory/locations/{locationId}/configureFactoryRepo" : {
      "post" : {
        "tags" : [ "factories" ],
        "description" : "Updates a factory's repo information.",
        "operationId" : "Factories_ConfigureFactoryRepo",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locationId",
          "in" : "path",
          "description" : "The location identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Update factory repo request definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FactoryRepoUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Factory"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataFactory/locations/{locationId}/getFeatureValue" : {
      "post" : {
        "tags" : [ "exposureControl" ],
        "description" : "Get exposure control feature for specific location.",
        "operationId" : "ExposureControl_GetFeatureValue",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locationId",
          "in" : "path",
          "description" : "The location identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The exposure control request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExposureControlRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExposureControlResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories" : {
      "get" : {
        "tags" : [ "factories" ],
        "description" : "Lists factories.",
        "operationId" : "Factories_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FactoryListResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}" : {
      "get" : {
        "tags" : [ "factories" ],
        "description" : "Gets a factory.",
        "operationId" : "Factories_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag of the factory entity. Should only be specified for get. If the ETag matches the existing entity tag, or if * was provided, then no content will be returned.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Factory"
                }
              }
            }
          },
          "304" : {
            "description" : "Not modified."
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "factories" ],
        "description" : "Creates or updates a factory.",
        "operationId" : "Factories_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "ETag of the factory entity. Should only be specified for update, for which it should match existing entity or can be * for unconditional update.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Factory resource definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Factory"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Factory"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "factories" ],
        "description" : "Deletes a factory.",
        "operationId" : "Factories_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK."
          },
          "204" : {
            "description" : "No Content."
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "factories" ],
        "description" : "Updates a factory.",
        "operationId" : "Factories_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters for updating a factory.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FactoryUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Factory"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/addDataFlowToDebugSession" : {
      "post" : {
        "tags" : [ "dataFlowDebugSession" ],
        "description" : "Add a data flow into debug session.",
        "operationId" : "DataFlowDebugSession_AddDataFlow",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Data flow debug session definition with debug content.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DataFlowDebugPackage"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddDataFlowToDebugSessionResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/createDataFlowDebugSession" : {
      "post" : {
        "tags" : [ "dataFlowDebugSession" ],
        "description" : "Creates a data flow debug session.",
        "operationId" : "DataFlowDebugSession_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Data flow debug session definition",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateDataFlowDebugSessionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateDataFlowDebugSessionResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted.",
            "headers" : {
              "location" : {
                "description" : "URI to poll for asynchronous operation status.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/dataflows" : {
      "get" : {
        "tags" : [ "dataFlows" ],
        "description" : "Lists data flows.",
        "operationId" : "DataFlows_ListByFactory",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataFlowListResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/dataflows/{dataFlowName}" : {
      "get" : {
        "tags" : [ "dataFlows" ],
        "description" : "Gets a data flow.",
        "operationId" : "DataFlows_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "dataFlowName",
          "in" : "path",
          "description" : "The data flow name.",
          "required" : true,
          "schema" : {
            "maxLength" : 260,
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9_][^<>*#.%&:\\\\+?/]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag of the data flow entity. Should only be specified for get. If the ETag matches the existing entity tag, or if * was provided, then no content will be returned.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataFlowResource"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "dataFlows" ],
        "description" : "Creates or updates a data flow.",
        "operationId" : "DataFlows_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "dataFlowName",
          "in" : "path",
          "description" : "The data flow name.",
          "required" : true,
          "schema" : {
            "maxLength" : 260,
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9_][^<>*#.%&:\\\\+?/]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "ETag of the data flow entity. Should only be specified for update, for which it should match existing entity or can be * for unconditional update.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Data flow resource definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DataFlowResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataFlowResource"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "dataFlows" ],
        "description" : "Deletes a data flow.",
        "operationId" : "DataFlows_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "dataFlowName",
          "in" : "path",
          "description" : "The data flow name.",
          "required" : true,
          "schema" : {
            "maxLength" : 260,
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9_][^<>*#.%&:\\\\+?/]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK."
          },
          "204" : {
            "description" : "No Content."
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets" : {
      "get" : {
        "tags" : [ "datasets" ],
        "description" : "Lists datasets.",
        "operationId" : "Datasets_ListByFactory",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatasetListResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}" : {
      "get" : {
        "tags" : [ "datasets" ],
        "description" : "Gets a dataset.",
        "operationId" : "Datasets_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "datasetName",
          "in" : "path",
          "description" : "The dataset name.",
          "required" : true,
          "schema" : {
            "maxLength" : 260,
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9_][^<>*#.%&:\\\\+?/]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag of the dataset entity. Should only be specified for get. If the ETag matches the existing entity tag, or if * was provided, then no content will be returned.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatasetResource"
                }
              }
            }
          },
          "304" : {
            "description" : "Not modified."
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "datasets" ],
        "description" : "Creates or updates a dataset.",
        "operationId" : "Datasets_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "datasetName",
          "in" : "path",
          "description" : "The dataset name.",
          "required" : true,
          "schema" : {
            "maxLength" : 260,
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9_][^<>*#.%&:\\\\+?/]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "ETag of the dataset entity.  Should only be specified for update, for which it should match existing entity or can be * for unconditional update.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Dataset resource definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatasetResource"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "datasets" ],
        "description" : "Deletes a dataset.",
        "operationId" : "Datasets_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "datasetName",
          "in" : "path",
          "description" : "The dataset name.",
          "required" : true,
          "schema" : {
            "maxLength" : 260,
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9_][^<>*#.%&:\\\\+?/]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK."
          },
          "204" : {
            "description" : "No Content."
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/deleteDataFlowDebugSession" : {
      "post" : {
        "tags" : [ "dataFlowDebugSession" ],
        "description" : "Deletes a data flow debug session.",
        "operationId" : "DataFlowDebugSession_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Data flow debug session definition for deletion",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeleteDataFlowDebugSessionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK."
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/executeDataFlowDebugCommand" : {
      "post" : {
        "tags" : [ "dataFlowDebugSession" ],
        "description" : "Execute a data flow debug command.",
        "operationId" : "DataFlowDebugSession_ExecuteCommand",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Data flow debug command definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DataFlowDebugCommandRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataFlowDebugCommandResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted.",
            "headers" : {
              "location" : {
                "description" : "URI to poll for asynchronous operation status.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/getDataPlaneAccess" : {
      "post" : {
        "tags" : [ "factories" ],
        "description" : "Get Data Plane access.",
        "operationId" : "Factories_GetDataPlaneAccess",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Data Plane user access policy definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserAccessPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessPolicyResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/getFeatureValue" : {
      "post" : {
        "tags" : [ "exposureControl" ],
        "description" : "Get exposure control feature for specific factory.",
        "operationId" : "ExposureControl_GetFeatureValueByFactory",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The exposure control request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExposureControlRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExposureControlResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/getGitHubAccessToken" : {
      "post" : {
        "tags" : [ "factories" ],
        "description" : "Get GitHub Access Token.",
        "operationId" : "Factories_GetGitHubAccessToken",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Get GitHub access token request definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GitHubAccessTokenRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GitHubAccessTokenResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes" : {
      "get" : {
        "tags" : [ "integrationRuntimes" ],
        "description" : "Lists integration runtimes.",
        "operationId" : "IntegrationRuntimes_ListByFactory",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationRuntimeListResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}" : {
      "get" : {
        "tags" : [ "integrationRuntimes" ],
        "description" : "Gets an integration runtime.",
        "operationId" : "IntegrationRuntimes_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "ETag of the integration runtime entity. Should only be specified for get. If the ETag matches the existing entity tag, or if * was provided, then no content will be returned.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationRuntimeResource"
                }
              }
            }
          },
          "304" : {
            "description" : "Not modified."
          },
          "default" : {
            "description" : "An error response received from GET integration runtime operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "integrationRuntimes" ],
        "description" : "Creates or updates an integration runtime.",
        "operationId" : "IntegrationRuntimes_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "ETag of the integration runtime entity. Should only be specified for update, for which it should match existing entity or can be * for unconditional update.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Integration runtime resource definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntegrationRuntimeResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationRuntimeResource"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from PUT integration runtime operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "integrationRuntimes" ],
        "description" : "Deletes an integration runtime.",
        "operationId" : "IntegrationRuntimes_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK."
          },
          "204" : {
            "description" : "No Content."
          },
          "default" : {
            "description" : "An error response received from DELETE integration runtime operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "integrationRuntimes" ],
        "description" : "Updates an integration runtime.",
        "operationId" : "IntegrationRuntimes_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters for updating an integration runtime.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateIntegrationRuntimeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationRuntimeResource"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/getConnectionInfo" : {
      "post" : {
        "tags" : [ "integrationRuntimes" ],
        "description" : "Gets the on-premises integration runtime connection information for encrypting the on-premises data source credentials.",
        "operationId" : "IntegrationRuntimes_GetConnectionInfo",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hostServiceUri" : {
                      "type" : "string",
                      "description" : "The on-premises integration runtime host URL.",
                      "readOnly" : true
                    },
                    "identityCertThumbprint" : {
                      "type" : "string",
                      "description" : "The integration runtime SSL certificate thumbprint. Click-Once application uses it to do server validation.",
                      "readOnly" : true
                    },
                    "isIdentityCertExprired" : {
                      "type" : "boolean",
                      "description" : "Whether the identity certificate is expired.",
                      "readOnly" : true
                    },
                    "publicKey" : {
                      "type" : "string",
                      "description" : "The public key for encrypting a credential when transferring the credential to the integration runtime.",
                      "readOnly" : true
                    },
                    "serviceToken" : {
                      "type" : "string",
                      "description" : "The token generated in service. Callers use this token to authenticate to integration runtime.",
                      "readOnly" : true
                    },
                    "version" : {
                      "type" : "string",
                      "description" : "The integration runtime version.",
                      "readOnly" : true
                    }
                  },
                  "additionalProperties" : {
                    "type" : "object"
                  },
                  "description" : "Connection information for encrypting the on-premises data source credentials."
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/getObjectMetadata" : {
      "post" : {
        "tags" : [ "integrationRuntimeObjectMetadata" ],
        "description" : "Get a SSIS integration runtime object metadata by specified path. The return is pageable metadata list.",
        "operationId" : "IntegrationRuntimeObjectMetadata_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters for getting a SSIS object metadata.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetSsisObjectMetadataRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "nextLink" : {
                      "type" : "string",
                      "description" : "The link to the next page of results, if any remaining results exist."
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "List of SSIS object metadata.",
                      "items" : {
                        "required" : [ "type" ],
                        "type" : "object",
                        "properties" : {
                          "description" : {
                            "type" : "string",
                            "description" : "Metadata description."
                          },
                          "id" : {
                            "type" : "integer",
                            "description" : "Metadata id.",
                            "format" : "int64"
                          },
                          "name" : {
                            "type" : "string",
                            "description" : "Metadata name."
                          },
                          "type" : {
                            "type" : "string",
                            "description" : "The type of SSIS object metadata.",
                            "enum" : [ "Folder", "Project", "Package", "Environment" ]
                          }
                        },
                        "description" : "SSIS object metadata."
                      }
                    }
                  },
                  "description" : "A list of SSIS object metadata."
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/getStatus" : {
      "post" : {
        "tags" : [ "integrationRuntimes" ],
        "description" : "Gets detailed status information for an integration runtime.",
        "operationId" : "IntegrationRuntimes_GetStatus",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationRuntimeStatusResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/linkedIntegrationRuntime" : {
      "post" : {
        "tags" : [ "integrationRuntimes" ],
        "description" : "Create a linked integration runtime entry in a shared integration runtime.",
        "operationId" : "IntegrationRuntimes_CreateLinkedIntegrationRuntime",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The linked integration runtime properties.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateLinkedIntegrationRuntimeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationRuntimeStatusResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/listAuthKeys" : {
      "post" : {
        "tags" : [ "integrationRuntimes" ],
        "description" : "Retrieves the authentication keys for an integration runtime.",
        "operationId" : "IntegrationRuntimes_ListAuthKeys",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "authKey1" : {
                      "type" : "string",
                      "description" : "The primary integration runtime authentication key."
                    },
                    "authKey2" : {
                      "type" : "string",
                      "description" : "The secondary integration runtime authentication key."
                    }
                  },
                  "description" : "The integration runtime authentication keys."
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/monitoringData" : {
      "post" : {
        "tags" : [ "integrationRuntimes" ],
        "description" : "Get the integration runtime monitoring data, which includes the monitor data for all the nodes under this integration runtime.",
        "operationId" : "IntegrationRuntimes_GetMonitoringData",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "Integration runtime name."
                    },
                    "nodes" : {
                      "type" : "array",
                      "description" : "Integration runtime node monitoring data.",
                      "items" : {
                        "type" : "object",
                        "additionalProperties" : {
                          "type" : "object"
                        },
                        "description" : "Monitoring data for integration runtime node."
                      }
                    }
                  },
                  "description" : "Get monitoring data response."
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/integrationRuntimes/{integrationRuntimeName}/nodes/{nodeName}" : {
      "get" : {
        "tags" : [ "integrationRuntimeNodes" ],
        "description" : "Gets a self-hosted integration runtime node.",
        "operationId" : "IntegrationRuntimeNodes_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "nodeName",
          "in" : "path",
          "description" : "The integration runtime node name.",
          "required" : true,
          "schema" : {
            "maxLength" : 150,
            "minLength" : 1,
            "pattern" : "^[a-z0-9A-Z][a-z0-9A-Z_-]{0,149}$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "capabilities" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "string"
                      },
                      "description" : "The integration runtime capabilities dictionary",
                      "readOnly" : true
                    },
                    "concurrentJobsLimit" : {
                      "type" : "integer",
                      "description" : "Maximum concurrent jobs on the integration runtime node.",
                      "readOnly" : true
                    },
                    "expiryTime" : {
                      "type" : "string",
                      "description" : "The time at which the integration runtime will expire in ISO8601 format.",
                      "format" : "date-time",
                      "readOnly" : true
                    },
                    "hostServiceUri" : {
                      "type" : "string",
                      "description" : "URI for the host machine of the integration runtime.",
                      "readOnly" : true
                    },
                    "isActiveDispatcher" : {
                      "type" : "boolean",
                      "description" : "Indicates whether this node is the active dispatcher for integration runtime requests.",
                      "readOnly" : true
                    },
                    "lastConnectTime" : {
                      "type" : "string",
                      "description" : "The most recent time at which the integration runtime was connected in ISO8601 format.",
                      "format" : "date-time",
                      "readOnly" : true
                    },
                    "lastEndUpdateTime" : {
                      "type" : "string",
                      "description" : "The last time for the integration runtime node update end.",
                      "format" : "date-time",
                      "readOnly" : true
                    },
                    "lastStartTime" : {
                      "type" : "string",
                      "description" : "The time the node last started up.",
                      "format" : "date-time",
                      "readOnly" : true
                    },
                    "lastStartUpdateTime" : {
                      "type" : "string",
                      "description" : "The last time for the integration runtime node update start.",
                      "format" : "date-time",
                      "readOnly" : true
                    },
                    "lastStopTime" : {
                      "type" : "string",
                      "description" : "The integration runtime node last stop time.",
                      "format" : "date-time",
                      "readOnly" : true
                    },
                    "lastUpdateResult" : {
                      "type" : "string",
                      "description" : "The result of the last integration runtime node update.",
                      "readOnly" : true,
                      "enum" : [ "None", "Succeed", "Fail" ]
                    },
                    "machineName" : {
                      "type" : "string",
                      "description" : "Machine name of the integration runtime node.",
                      "readOnly" : true
                    },
                    "maxConcurrentJobs" : {
                      "type" : "integer",
                      "description" : "The maximum concurrent jobs in this integration runtime.",
                      "readOnly" : true
                    },
                    "nodeName" : {
                      "type" : "string",
                      "description" : "Name of the integration runtime node.",
                      "readOnly" : true
                    },
                    "registerTime" : {
                      "type" : "string",
                      "description" : "The time at which the integration runtime node was registered in ISO8601 format.",
                      "format" : "date-time",
                      "readOnly" : true
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "Status of the integration runtime node.",
                      "readOnly" : true,
                      "enum" : [ "NeedRegistration", "Online", "Limited", "Offline", "Upgrading", "Initializing", "InitializeFailed" ]
                    },
                    "version" : {
                      "type" : "string",
                      "description" : "Version of the integration runtime node.",
                      "readOnly" : true
                    },
                    "versionStatus" : {
                      "type" : "string",
                      "description" : "Status of the integration runtime node version.",
                      "readOnly" : true
                    }
                  },
                  "additionalProperties" : {
                    "type" : "object"
                  },
                  "description" : "Properties of Self-hosted integration runtime node."
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "integrationRuntimeNodes" ],
        "description" : "Deletes a self-hosted integration runtime node.",
        "operationId" : "IntegrationRuntimeNodes_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "factoryName",
          "in" : "path",
          "description" : "The factory name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "integrationRuntimeName",
          "in" : "path",
          "description" : "The integration runtime name.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
            "type" : "string"
          }
        }, {
          "name" : "nodeName",
          "in" : "path",
          "description" : "The integration runtime node name.",
          "required" : true,
          "schema" : {
            "maxLength" : 150,
            "minLength" : 1,
            "pattern" : "^[a-z0-9A-Z][a-z0-9A-Z_-]{0,149}$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK."
          },
          "204" : {
            "description" : "No Content."
          },
          "default" : {
            "description" : "An error response received from the Azure Data Factory service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "integrationRuntimeNodes" ],
        "description" : "Updates a self-hosted integration runtime node.",
        "operationId" : "IntegrationRuntimeNodes_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
[...]
