{"openapi":"3.0.1","info":{"title":"Crossbrowsertesting.com Screenshot Comparisons API","description":"What's in this version: \n 1. Compare two screenshots for layout differences \n 2. Compare a full screenshot test of browsers to a single baseline browser for layout differences. \n 3. Compare a screenshot test version to another test version - good for regression tests. \n 4. Get links to the Comparison UI for visual representation of layout differences","version":"3.0.0"},"servers":[{"url":"https://crossbrowsertesting.com/api/v3"}],"paths":{"/screenshots/{target_screenshot_test_id}/{target_version_id}/comparison/parallel/{base_version_id}":{"get":{"summary":"Compare Screenshot Test Versions","description":"Get comparison results for all browsers in target screenshot test against the same browser in the base screenshot test. This is a good method for regression testing. For example, you've run a screenshot test against a set of browsers that is \"good\". Then, after some changes, you run a new screenshot test against the same set of browsers. This method will compare each of the same browsers against each other. For example, IE9 will be compared to IE9 from an earlier test. This is a many-to-many comparison where the OS/Browser/Resolution must match between the two test versions in order for the comparison to return results. The two versions can be from the same screenshot_test_id or not.","parameters":[{"name":"target_screenshot_test_id","in":"path","description":"test id of the target Screenshot Test","required":true,"schema":{"type":"integer"}},{"name":"target_version_id","in":"path","description":"version id of the target Screenshot Test","required":true,"schema":{"type":"integer"}},{"name":"base_version_id","in":"path","description":"version id of the base Screenshot Test","required":true,"schema":{"type":"integer"}},{"name":"format","in":"query","description":"The format of the returned data. Possible values are \"json\" or \"jsonp\".","schema":{"type":"string","default":"json"}},{"name":"callback","in":"query","description":"Name of callback method for JSONP requests.","schema":{"type":"string"}},{"name":"tolerance","in":"query","description":"Used as the basis for detecting box model differences in element positioning and dimensions that should be flagged and reported back to the comparison results. The default is 30px which is a good basis for finding notable layout differences.","schema":{"type":"number","format":"integer 0-100","default":30.0}}],"responses":{"200":{"description":"An array of Configuration objects. Within each configuration is an array of browsers","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/single_comparison_test"}}}}}},"security":[{"basicAuth":null}]}},"/screenshots/{target_screenshot_test_id}/{target_version_id}/comparison/{base_result_id}":{"get":{"summary":"Compare Full Screenshot Test","description":"Get comparison results for all browsers in target screenshot test against a base screenshot result. The base result can be from the same test or from another test run at an earlier time. This is a one-to-many comparison.","parameters":[{"name":"target_screenshot_test_id","in":"path","description":"test id of the target Screenshot Test","required":true,"schema":{"type":"integer"}},{"name":"target_version_id","in":"path","description":"version id of the target Screenshot Test","required":true,"schema":{"type":"integer"}},{"name":"base_result_id","in":"path","description":"result id of the base Screenshot Test","required":true,"schema":{"type":"integer"}},{"name":"format","in":"query","description":"The format of the returned data. Possible values are \"json\" or \"jsonp\".","schema":{"type":"string","default":"json"}},{"name":"callback","in":"query","description":"Name of callback method for JSONP requests.","schema":{"type":"string"}},{"name":"tolerance","in":"query","description":"Used as the basis for detecting box model differences in element positioning and dimensions that should be flagged and reported back to the comparison results. The default is 30px which is a good basis for finding notable layout differences.","schema":{"type":"number","format":"integer 0-100","default":30.0}}],"responses":{"200":{"description":"An array of Configuration objects. Within each configuration is an array of browsers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/full_comparison_test"}}}}},"security":[{"basicAuth":null}]}},"/screenshots/{target_screenshot_test_id}/{target_version_id}/{target_result_id}/comparison/{base_result_id}":{"get":{"summary":"Compare Single Screenshot","description":"Get comparison results for a single target screenshot result against a base screenshot result. This is a one-to-one comparison.","parameters":[{"name":"target_screenshot_test_id","in":"path","description":"test id of the target Screenshot Test","required":true,"schema":{"type":"integer"}},{"name":"target_version_id","in":"path","description":"version id of the target Screenshot Test","required":true,"schema":{"type":"integer"}},{"name":"target_result_id","in":"path","description":"result id of the target Screenshot Test","required":true,"schema":{"type":"integer"}},{"name":"base_result_id","in":"path","description":"result id of the base Screenshot Test","required":true,"schema":{"type":"integer"}},{"name":"format","in":"query","description":"The format of the returned data. Possible values are \"json\" or \"jsonp\".","schema":{"type":"string","default":"json"}},{"name":"callback","in":"query","description":"Name of callback method for JSONP requests.","schema":{"type":"string"}},{"name":"tolerance","in":"query","description":"Used as the basis for detecting box model differences in element positioning and dimensions that should be flagged and reported back to the comparison results. The default is 30px which is a good basis for finding notable layout differences.","schema":{"type":"number","format":"integer 0-100","default":30.0}}],"responses":{"200":{"description":"An array of Configuration objects. Within each configuration is an array of browsers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/single_comparison_test"}}}}},"security":[{"basicAuth":null}]}}},"components":{"schemas":{"comparison":{"type":"object","properties":{"differences":{"type":"integer"},"elements":{"type":"array","items":{"$ref":"#/components/schemas/element"}},"error":{"type":"boolean"},"message":{"type":"string"},"show_comparisons_public_url":{"type":"string"},"show_comparisons_web_url":{"type":"string"},"tolerance":{"type":"integer"}}},"element":{"type":"object","properties":{"difference":{"type":"string"},"full_path":{"type":"string"},"short_path":{"type":"string"},"show_difference_public_url":{"type":"string"},"show_difference_web_url":{"type":"string"}}},"full_comparison_test":{"type":"object","properties":{"base":{"type":"object","properties":{"screenshot":{"$ref":"#/components/schemas/screenshot"}}},"targets":{"type":"array","items":{"$ref":"#/components/schemas/target"}}}},"screenshot":{"type":"object","properties":{"screenshot_id":{"type":"integer"}}},"single_comparison_test":{"type":"object","properties":{"base":{"type":"object","properties":{"screenshot":{"$ref":"#/components/schemas/screenshot"}}},"target":{"$ref":"#/components/schemas/target"}}},"target":{"type":"object","properties":{"comparison":{"$ref":"#/components/schemas/comparison"},"screenshot":{"$ref":"#/components/schemas/screenshot"}}}},"securitySchemes":{"basicAuth":{"type":"http","description":"HTTP Basic Authentication","scheme":"basic"}}}}