{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure Maps Resource Provider",
    "description" : "Resource Provider",
    "version" : "2018-05-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Maps/operations" : {
      "get" : {
        "description" : "List operations available for the Maps Resource Provider",
        "operationId" : "Accounts_ListOperations",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MapsOperations"
                }
              }
            }
          },
          "default" : {
            "description" : "An unexpected error occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maps/accounts" : {
      "get" : {
        "description" : "Get all Maps Accounts in a Subscription",
        "operationId" : "Accounts_ListBySubscription",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MapsAccounts"
                }
              }
            }
          },
          "default" : {
            "description" : "An unexpected error occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources" : {
      "post" : {
        "description" : "Moves Maps Accounts from one ResourceGroup (or Subscription) to another",
        "operationId" : "Accounts_Move",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains Maps Account to move.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The details of the Maps Account move.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MapsAccountsMoveRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The Accounts were successfully moved."
          },
          "default" : {
            "description" : "An unexpected error occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts" : {
      "get" : {
        "description" : "Get all Maps Accounts in a Resource Group",
        "operationId" : "Accounts_ListByResourceGroup",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource Group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MapsAccounts"
                }
              }
            }
          },
          "default" : {
            "description" : "An unexpected error occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}" : {
      "get" : {
        "description" : "Get a Maps Account.",
        "operationId" : "Accounts_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource Group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Maps Account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MapsAccount"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified Account does not exist."
          },
          "default" : {
            "description" : "An unexpected error occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "description" : "Create or update a Maps Account. A Maps Account holds the keys which allow access to the Maps REST APIs.",
        "operationId" : "Accounts_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource Group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Maps Account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The new or updated parameters for the Maps Account.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MapsAccountCreateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The Account was successfully updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MapsAccount"
                }
              }
            }
          },
          "201" : {
            "description" : "The Account was successfully created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MapsAccount"
                }
              }
            }
          },
          "default" : {
            "description" : "An unexpected error occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "description" : "Delete a Maps Account.",
        "operationId" : "Accounts_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource Group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Maps Account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Account was deleted successfully."
          },
          "204" : {
            "description" : "The specified Account was not found. Nothing was deleted."
          },
          "default" : {
            "description" : "An unexpected error occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "description" : "Updates a Maps Account. Only a subset of the parameters may be updated after creation, such as Sku and Tags.",
        "operationId" : "Accounts_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource Group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Maps Account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated parameters for the Maps Account.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MapsAccountUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The Account was successfully updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MapsAccount"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified Account was not found. Nothing was updated."
          },
          "default" : {
            "description" : "An unexpected error occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/listKeys" : {
      "post" : {
        "description" : "Get the keys to use with the Maps APIs. A key is used to authenticate and authorize access to the Maps REST APIs. Only one key is needed at a time; two are given to provide seamless key regeneration.",
        "operationId" : "Accounts_ListKeys",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource Group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Maps Account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MapsAccountKeys"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified Account does not exist."
          },
          "default" : {
            "description" : "An unexpected error occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/regenerateKey" : {
      "post" : {
        "description" : "Regenerate either the primary or secondary key for use with the Maps APIs. The old key will stop working immediately.",
        "operationId" : "Accounts_RegenerateKeys",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource Group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Maps Account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Which key to regenerate:  primary or secondary.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MapsKeySpecification"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MapsAccountKeys"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified Account does not exist."
          },
          "default" : {
            "description" : "An unexpected error occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Error" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code.",
            "readOnly" : true
          },
          "details" : {
            "type" : "array",
            "description" : "If available, a list of additional details about the error.",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "string",
                  "description" : "Error code.",
                  "readOnly" : true
                },
                "message" : {
                  "type" : "string",
                  "description" : "If available, a human readable description of the error.",
                  "readOnly" : true
                },
                "target" : {
                  "type" : "string",
                  "description" : "If available, the component generating the error.",
                  "readOnly" : true
                }
              }
            }
          },
          "message" : {
            "type" : "string",
            "description" : "If available, a human readable description of the error.",
            "readOnly" : true
          },
          "target" : {
            "type" : "string",
            "description" : "If available, the component generating the error.",
            "readOnly" : true
          }
        },
        "description" : "This object is returned when an error occurs in the Maps API"
      },
      "MapsAccount" : {
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "The location of the resource.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/MapsAccountProperties"
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.",
            "readOnly" : true
          }
        },
        "description" : "An Azure resource which represents access to a suite of Maps REST APIs.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "MapsAccountCreateParameters" : {
        "required" : [ "location", "sku" ],
        "type" : "object",
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "The location of the resource."
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
          }
        },
        "description" : "Parameters used to create a new Maps Account."
      },
      "MapsAccountKeys" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The full Azure resource identifier of the Maps Account.",
            "readOnly" : true
          },
          "primaryKey" : {
            "type" : "string",
            "description" : "The primary key for accessing the Maps REST APIs.",
            "readOnly" : true
          },
          "secondaryKey" : {
            "type" : "string",
            "description" : "The secondary key for accessing the Maps REST APIs.",
            "readOnly" : true
          }
        },
        "description" : "The set of keys which can be used to access the Maps REST APIs. Two keys are provided for key rotation without interruption."
      },
      "MapsAccountProperties" : {
        "type" : "object",
        "properties" : {
          "x-ms-client-id" : {
            "type" : "string",
            "description" : "A unique identifier for the maps account"
          }
        },
        "description" : "Additional Map account properties"
      },
      "MapsAccountUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
          }
        },
        "description" : "Parameters used to update an existing Maps Account."
      },
      "MapsAccounts" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "a Maps Account.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/MapsAccount"
            }
          }
        },
        "description" : "A list of Maps Accounts."
      },
      "MapsAccountsMoveRequest" : {
        "required" : [ "resourceIds", "targetResourceGroup" ],
        "type" : "object",
        "properties" : {
          "resourceIds" : {
            "type" : "array",
            "description" : "A list of resource names to move from the source resource group.",
            "items" : {
              "type" : "string"
            }
          },
          "targetResourceGroup" : {
            "type" : "string",
            "description" : "The name of the destination resource group."
          }
        },
        "description" : "The description of what resources to move between resource groups."
      },
      "MapsKeySpecification" : {
        "required" : [ "keyType" ],
        "type" : "object",
        "properties" : {
          "keyType" : {
            "type" : "string",
            "description" : "Whether the operation refers to the primary or secondary key.",
            "enum" : [ "primary", "secondary" ]
          }
        },
        "description" : "Whether the operation refers to the primary or secondary key."
      },
      "MapsOperations" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "An operation available for Maps.",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "display" : {
                  "type" : "object",
                  "properties" : {
                    "description" : {
                      "type" : "string",
                      "description" : "The description of the operation.",
                      "readOnly" : true
                    },
                    "operation" : {
                      "type" : "string",
                      "description" : "The action that users can perform, based on their permission level.",
                      "readOnly" : true
                    },
                    "provider" : {
                      "type" : "string",
                      "description" : "Service provider: Microsoft Maps.",
                      "readOnly" : true
                    },
                    "resource" : {
                      "type" : "string",
                      "description" : "Resource on which the operation is performed.",
                      "readOnly" : true
                    }
                  },
                  "description" : "The human-readable description of the operation."
                },
                "name" : {
                  "type" : "string",
                  "description" : "Operation name: {provider}/{resource}/{operation}.",
                  "readOnly" : true
                },
                "origin" : {
                  "type" : "string",
                  "description" : "The origin of the operation.",
                  "readOnly" : true
                }
              }
            }
          }
        },
        "description" : "The set of operations available for Maps."
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The fully qualified Maps Account resource identifier.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the Maps Account, which is unique within a Resource Group.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Azure resource type.",
            "readOnly" : true
          }
        },
        "description" : "An Azure resource"
      },
      "Sku" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the SKU, in standard format (such as S0)."
          },
          "tier" : {
            "type" : "string",
            "description" : "Gets the sku tier. This is based on the SKU name.",
            "readOnly" : true
          }
        },
        "description" : "The SKU of the Maps Account."
      }
    },
    "parameters" : {
      "AccountNameParameter" : {
        "name" : "accountName",
        "in" : "path",
        "description" : "The name of the Maps Account.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the Azure Resource Group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}