{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ApplicationInsightsManagementClient",
    "description" : "Azure Application Insights client for Annotations for a component.",
    "version" : "2015-05-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/Annotations" : {
      "get" : {
        "description" : "Gets the list of annotations for a component for given time range",
        "operationId" : "Annotations_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Application Insights component resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The start time to query from for annotations, cannot be older than 90 days from current date.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "The end time to query for annotations.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "description" : "Create an Annotation of an Application Insights component.",
        "operationId" : "Annotations_Create",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Application Insights component resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Properties that need to be specified to create an annotation of a Application Insights component.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Annotation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "An object containing the annotation definition created by this PUT call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/Annotations/{annotationId}" : {
      "get" : {
        "description" : "Get the annotation for given id.",
        "operationId" : "Annotations_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Application Insights component resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "annotationId",
          "in" : "path",
          "description" : "The unique annotation ID. This is unique within a Application Insights component.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Annotation object for this id.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "description" : "Delete an Annotation of an Application Insights component.",
        "operationId" : "Annotations_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Application Insights component resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "annotationId",
          "in" : "path",
          "description" : "The unique annotation ID. This is unique within a Application Insights component.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The annotation that was successfully deleted."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Annotation" : {
        "type" : "object",
        "properties" : {
          "AnnotationName" : {
            "type" : "string",
            "description" : "Name of annotation"
          },
          "Category" : {
            "type" : "string",
            "description" : "Category of annotation, free form"
          },
          "EventTime" : {
            "type" : "string",
            "description" : "Time when event occurred",
            "format" : "date-time"
          },
          "Id" : {
            "type" : "string",
            "description" : "Unique Id for annotation"
          },
          "Properties" : {
            "type" : "string",
            "description" : "Serialized JSON object for detailed properties"
          },
          "RelatedAnnotation" : {
            "type" : "string",
            "description" : "Related parent annotation if any",
            "default" : "null"
          }
        },
        "description" : "Annotation associated with an application insights resource."
      },
      "AnnotationError" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error detail code and explanation"
          },
          "innererror" : {
            "$ref" : "#/components/schemas/InnerError"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message"
          }
        },
        "description" : "Error associated with trying to create annotation with Id that already exist"
      },
      "AnnotationsListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "An array of annotations.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Annotation"
            }
          }
        },
        "description" : "Annotations list result."
      },
      "InnerError" : {
        "type" : "object",
        "properties" : {
          "diagnosticcontext" : {
            "type" : "string",
            "description" : "Provides correlation for request"
          },
          "time" : {
            "type" : "string",
            "description" : "Request time",
            "format" : "date-time"
          }
        },
        "description" : "Inner error"
      }
    },
    "parameters" : {
      "AnnotationIdParameter" : {
        "name" : "annotationId",
        "in" : "path",
        "description" : "The unique annotation ID. This is unique within a Application Insights component.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "EndParameter" : {
        "name" : "end",
        "in" : "query",
        "description" : "The end time to query for annotations.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceNameParameter" : {
        "name" : "resourceName",
        "in" : "path",
        "description" : "The name of the Application Insights component resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "StartParameter" : {
        "name" : "start",
        "in" : "query",
        "description" : "The start time to query from for annotations, cannot be older than 90 days from current date.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}