{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Vehicle Image",
    "description" : "The vehicle images API offers access to original Mercedes-Benz vehicle images.  It provides access to exterior and interior images with parameters e.g. to modify the perspective and to display vehicles at day/nighttime.  In addition you can request component images of a vehicle's engine, paint, rim, trim, upholstery and equipments.",
    "contact" : {
      "name" : "The open API platform by Mercedes-Benz"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.mercedes-benz.com/image_tryout/v1/vehicles"
  } ],
  "tags" : [ {
    "name" : "Perspectives"
  }, {
    "name" : "Components"
  } ],
  "paths" : {
    "/{finorvin}/components" : {
      "get" : {
        "tags" : [ "Components" ],
        "description" : "Returns URLs pointing to images in JPG format in the highest available resolution (depending on the component) of the vehicle's:\n  * engine (1024x576 px), \n  * rim (710x710 px), \n  * trim (800x600 px), \n  * paints (800x600 px), \n  * upholstery (800x600 px) and \n  * equipments (740x416 px).",
        "operationId" : "imageComponentsGET",
        "parameters" : [ {
          "name" : "finorvin",
          "in" : "path",
          "description" : "The FIN or VIN of one specific vehicle. For testing purposes the following sample FINs are available (please note that these FINs are NOT available in the tryout): \n  * E 350 d: WDD2130331A123456\n  * B 180: WDD2462421N123456\n  * GLA 200: WDC1569431J123456\n  * S 500 Cabrio: WDD2174821A123456\n  * Smart fortwo turbo: WME4533441K012345",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "WDD1760421J123456"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.              ",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "Specifies the maximum amount of time (in seconds) an image is considered to be up-to-date",
                "schema" : {
                  "type" : "string",
                  "default" : "max-age=86400"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ComponentsResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No content could be found for your request. The FIN/VIN belongs to a vehicle for which no images are available.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: \n  * Failed to resolve API Key query parameter \n  * Invalid API Key "
          },
          "404" : {
            "description" : "The requested FIN/VIN could not be resolved. Please verify that your FIN/VIN is correct.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.            ",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Quota limit is exceeded"
          },
          "500" : {
            "description" : "The requested FIN/VIN could not be resolved because external resources are not available or the server encountered an internal error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{finorvin}/components/engine" : {
      "get" : {
        "tags" : [ "Components" ],
        "description" : "Returns a URL pointing to an image of the vehicles engine.  These images are available in the resolution 1024x576 px.",
        "operationId" : "imageComponentsEngineGET",
        "parameters" : [ {
          "name" : "finorvin",
          "in" : "path",
          "description" : "The FIN or VIN of one specific vehicle. For testing purposes the following sample FINs are available (please note that these FINs are NOT available in the tryout): \n  * E 350 d: WDD2130331A123456\n  * B 180: WDD2462421N123456\n  * GLA 200: WDC1569431J123456\n  * S 500 Cabrio: WDD2174821A123456\n  * Smart fortwo turbo: WME4533441K012345",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "WDD1760421J123456"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "Specifies the maximum amount of time (in seconds) an image is considered to be up-to-date",
                "schema" : {
                  "type" : "string",
                  "default" : "max-age=86400"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EngineResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No content could be found for your request. The FIN/VIN belongs to a vehicle for which no images are available.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: \n  * Failed to resolve API Key query parameter \n  * Invalid API Key "
          },
          "404" : {
            "description" : "The requested FIN/VIN could not be resolved. Please verify that your FIN/VIN is correct.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Quota limit is exceeded"
          },
          "500" : {
            "description" : "The requested FIN/VIN could not be resolved because external resources are not available or the server encountered an internal error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{finorvin}/components/equipments" : {
      "get" : {
        "tags" : [ "Components" ],
        "description" : "Returns URLs pointing to images of this vehicle's equipments. The images are available in the highest possible resolution (usually 740x416 px).",
        "operationId" : "imageComponentsEquipmentsGET",
        "parameters" : [ {
          "name" : "finorvin",
          "in" : "path",
          "description" : "The FIN or VIN of one specific vehicle. For testing purposes the following sample FINs are available (please note that these FINs are NOT available in the tryout): \n  * E 350 d: WDD2130331A123456\n  * B 180: WDD2462421N123456\n  * GLA 200: WDC1569431J123456\n  * S 500 Cabrio: WDD2174821A123456\n  * Smart fortwo turbo: WME4533441K012345",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "WDD1760421J123456"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.              ",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "Specifies the maximum amount of time (in seconds) an image is considered to be up-to-date",
                "schema" : {
                  "type" : "string",
                  "default" : "max-age=86400"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EquipmentResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No content could be found for your request. The FIN/VIN belongs to a vehicle for which no images are available.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: \n  * Failed to resolve API Key query parameter \n  * Invalid API Key "
          },
          "404" : {
            "description" : "The requested FIN/VIN could not be resolved. Please verify that your FIN/VIN is correct.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Quota limit is exceeded"
          },
          "500" : {
            "description" : "The requested FIN/VIN could not be resolved because external resources are not available or the server encountered an internal error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{finorvin}/components/paint" : {
      "get" : {
        "tags" : [ "Components" ],
        "description" : "Returns URLs pointing to images of this vehicles paint.  These images are available in resolution 800x600 px.  Note there might be two paints (e.g. Smart, 'paint' for body panel and 'paint2' for the tridion cell)",
        "operationId" : "imageComponentsPaintGET",
        "parameters" : [ {
          "name" : "finorvin",
          "in" : "path",
          "description" : "The FIN or VIN of one specific vehicle. For testing purposes the following sample FINs are available (please note that these FINs are NOT available in the tryout): \n  * E 350 d: WDD2130331A123456\n  * B 180: WDD2462421N123456\n  * GLA 200: WDC1569431J123456\n  * S 500 Cabrio: WDD2174821A123456\n  * Smart fortwo turbo: WME4533441K012345",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "WDD1760421J123456"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.              ",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "Specifies the maximum amount of time (in seconds) an image is considered to be up-to-date",
                "schema" : {
                  "type" : "string",
                  "default" : "max-age=86400"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaintResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No content could be found for your request. The FIN/VIN belongs to a vehicle for which no images are available.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: \n  * Failed to resolve API Key query parameter \n  * Invalid API Key "
          },
          "404" : {
            "description" : "The requested FIN/VIN could not be resolved. Please verify that your FIN/VIN is correct.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Quota limit is exceeded"
          },
          "500" : {
            "description" : "The requested FIN/VIN could not be resolved because external resources are not available or the server encountered an internal error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{finorvin}/components/rim" : {
      "get" : {
        "tags" : [ "Components" ],
        "description" : "Returns a URL pointing to an image of the vehicles rim.  These images are available in the resolution 710x710 px.",
        "operationId" : "imageComponentsRimGET",
        "parameters" : [ {
          "name" : "finorvin",
          "in" : "path",
          "description" : "The FIN or VIN of one specific vehicle. For testing purposes the following sample FINs are available (please note that these FINs are NOT available in the tryout): \n  * E 350 d: WDD2130331A123456\n  * B 180: WDD2462421N123456\n  * GLA 200: WDC1569431J123456\n  * S 500 Cabrio: WDD2174821A123456\n  * Smart fortwo turbo: WME4533441K012345",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "WDD1760421J123456"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.              ",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "Specifies the maximum amount of time (in seconds) an image is considered to be up-to-date",
                "schema" : {
                  "type" : "string",
                  "default" : "max-age=86400"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RimResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No content could be found for your request. The FIN/VIN belongs to a vehicle for which no images are available.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: \n  * Failed to resolve API Key query parameter \n  * Invalid API Key "
          },
          "404" : {
            "description" : "The requested FIN/VIN could not be resolved. Please verify that your FIN/VIN is correct.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Quota limit is exceeded"
          },
          "500" : {
            "description" : "The requested FIN/VIN could not be resolved because external resources are not available or the server encountered an internal error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{finorvin}/components/trim" : {
      "get" : {
        "tags" : [ "Components" ],
        "description" : "Returns a URL pointing to an image of this vehicles trim.  These images are available in resolution 800x600 px.",
        "operationId" : "imageComponentsTrimGET",
        "parameters" : [ {
          "name" : "finorvin",
          "in" : "path",
          "description" : "The FIN or VIN of one specific vehicle. For testing purposes the following sample FINs are available (please note that these FINs are NOT available in the tryout): \n  * E 350 d: WDD2130331A123456\n  * B 180: WDD2462421N123456\n  * GLA 200: WDC1569431J123456\n  * S 500 Cabrio: WDD2174821A123456\n  * Smart fortwo turbo: WME4533441K012345",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "WDD1760421J123456"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.              ",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "Specifies the maximum amount of time (in seconds) an image is considered to be up-to-date",
                "schema" : {
                  "type" : "string",
                  "default" : "max-age=86400"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrimResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No content could be found for your request. The FIN/VIN belongs to a vehicle for which no images are available.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: \n  * Failed to resolve API Key query parameter \n  * Invalid API Key "
          },
          "404" : {
            "description" : "The requested FIN/VIN could not be resolved. Please verify that your FIN/VIN is correct.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Quota limit is exceeded"
          },
          "500" : {
            "description" : "The requested FIN/VIN could not be resolved because external resources are not available or the server encountered an internal error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{finorvin}/components/upholstery" : {
      "get" : {
        "tags" : [ "Components" ],
        "description" : "Returns URLs pointing to images of the vehicle's upholsteries. Tge images are available in the highest possible resolution (usually 800x600 px).",
        "operationId" : "imageComponentsUpholsteryGET",
        "parameters" : [ {
          "name" : "finorvin",
          "in" : "path",
          "description" : "The FIN or VIN of one specific vehicle. For testing purposes the following sample FINs are available (please note that these FINs are NOT available in the tryout): \n  * E 350 d: WDD2130331A123456\n  * B 180: WDD2462421N123456\n  * GLA 200: WDC1569431J123456\n  * S 500 Cabrio: WDD2174821A123456\n  * Smart fortwo turbo: WME4533441K012345",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "WDD1760421J123456"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.              ",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "Specifies the maximum amount of time (in seconds) an image is considered to be up-to-date",
                "schema" : {
                  "type" : "string",
                  "default" : "max-age=86400"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpholsteryResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No content could be found for your request. The FIN/VIN belongs to a vehicle for which no images are available.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: \n  * Failed to resolve API Key query parameter \n  * Invalid API Key "
          },
          "404" : {
            "description" : "The requested FIN/VIN could not be resolved. Please verify that your FIN/VIN is correct.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Quota limit is exceeded"
          },
          "500" : {
            "description" : "The requested FIN/VIN could not be resolved because external resources are not available or the server encountered an internal error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{finorvin}/vehicle" : {
      "get" : {
        "tags" : [ "Perspectives" ],
        "description" : "Returns URLs pointing to PNG images of a vehicle with a transparent background.",
        "operationId" : "imageVehicleGET",
        "parameters" : [ {
          "name" : "finorvin",
          "in" : "path",
          "description" : "The FIN or VIN of one specific vehicle. For testing purposes the following sample FINs are available (please note that these FINs are NOT available in the tryout): \n  * E 350 d: WDD2130331A123456\n  * B 180: WDD2462421N123456\n  * GLA 200: WDC1569431J123456\n  * S 500 Cabrio: WDD2174821A123456\n  * Smart fortwo turbo: WME4533441K012345",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "WDD1760421J123456"
          }
        }, {
          "name" : "perspectives",
          "in" : "query",
          "description" : "One or more perspectives as a comma separated String list e.g. 'EXT000,EXT010,INT1'.  The following perspectives are available:\n  * EXT000-EXT350: EXT000 defines the front view, EXT010 defines a rotation of 10 degress and so forth.\n  * INT1-INT4: These are the 4 available interior perspectives.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n  \nThe default value is EXT020,INT1 if no value is provided.",
          "schema" : {
            "type" : "string",
            "default" : "EXT020,INT1"
          }
        }, {
          "name" : "roofOpen",
          "in" : "query",
          "description" : "Set 'true', if you are looking for images with the roof open. This option is only valid for cabrios. Default is 'false'.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "night",
          "in" : "query",
          "description" : "Set 'true', if you are looking for images with a darker background and the vehicle's headlights turned on. Default is 'false'.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "Specifies the maximum amount of time (in seconds) an image is considered to be up-to-date",
                "schema" : {
                  "type" : "string",
                  "default" : "max-age=86400"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VehicleResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No content could be found for your request. Try to use different parameters instead.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "One of the provided parameters was invalid. Verify your query and inspect the global error object in the response for further information.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized: \n  * Failed to resolve API Key query parameter \n  * Invalid API Key "
          },
          "404" : {
            "description" : "The requested FIN/VIN could not be resolved. Please verify that your FIN/VIN is correct.",
            "headers" : {
              "X-Request-Id" : {
                "description" : "Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.            ",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Quota limit is exceeded"
          },
          "500" : {
            "description" : "The requested FIN/VIN could not be resolved because external resources are not available or the server encountered an internal error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CodeImage" : {
        "required" : [ "code", "url" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The equipment code for the corresponding image."
          },
          "url" : {
            "type" : "string",
            "description" : "An URL pointing to an image of an equipment."
          }
        },
        "description" : "The code image contains an equipment code with a corresponding image URL."
      },
      "Components" : {
        "type" : "object",
        "properties" : {
          "engine" : {
            "$ref" : "#/components/schemas/ImageUrl"
          },
          "equipments" : {
            "$ref" : "#/components/schemas/EquipmentMap"
          },
          "paint" : {
            "$ref" : "#/components/schemas/Paints"
          },
          "rim" : {
            "$ref" : "#/components/schemas/CodeImage"
          },
          "trim" : {
            "$ref" : "#/components/schemas/CodeImage"
          },
          "upholstery" : {
            "$ref" : "#/components/schemas/CodeImage"
          }
        },
        "description" : "A set of URLs pointing to images of the vehicle in low resolution."
      },
      "ComponentsResponse" : {
        "type" : "object",
        "properties" : {
          "components" : {
            "$ref" : "#/components/schemas/Components"
          }
        },
        "description" : "A paint object"
      },
      "EngineResponse" : {
        "type" : "object",
        "properties" : {
          "engine" : {
            "$ref" : "#/components/schemas/ImageUrl"
          }
        },
        "description" : "A paint object"
      },
      "EquipmentMap" : {
        "type" : "object",
        "additionalProperties" : {
          "$ref" : "#/components/schemas/ImageUrlArray"
        },
        "description" : "The map holds equipments objects with the equipment codes as map keys and a corresponding list of image URLs for each code."
      },
      "EquipmentResponse" : {
        "required" : [ "equipments" ],
        "type" : "object",
        "properties" : {
          "equipments" : {
            "$ref" : "#/components/schemas/EquipmentMap"
          }
        },
        "description" : "The response object holds either an error object, in case that the request was malformed, or an equipments object containing a map with all equipment urls for the requested vehicle with the equipment codes as map keys."
      },
      "Error" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          }
        },
        "description" : "The error object containing detailed information about the error."
      },
      "ImageUrl" : {
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string"
          }
        },
        "description" : "An object describing an image URL that could be a vehicle image for example. This includes the URL to the content.      "
      },
      "ImageUrlArray" : {
        "type" : "object",
        "properties" : {
          "urls" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "An object describing a list of image URLs that could be an vehicle equipment images for example."
      },
      "ImageUrlWithError" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/Error"
          },
          "url" : {
            "type" : "string"
          }
        },
        "description" : "An object describing an image URL that could be a vehicle image for example. This includes the URL to the content. In case of an error that is related to the requested image material (e.g. perspective), an error object is present containing further information."
      },
      "PaintResponse" : {
        "type" : "object",
        "properties" : {
          "paint" : {
            "$ref" : "#/components/schemas/Paints"
          }
        },
        "description" : "A paint object"
      },
      "Paints" : {
        "type" : "object",
        "properties" : {
          "lowerPaint" : {
            "$ref" : "#/components/schemas/CodeImage"
          },
          "upperPaint" : {
            "$ref" : "#/components/schemas/CodeImage"
          }
        },
        "description" : "The upper (paint2) and the lower (paint1) paint of the vehicle."
      },
      "RimResponse" : {
        "type" : "object",
        "properties" : {
          "rim" : {
            "$ref" : "#/components/schemas/CodeImage"
          }
        },
        "description" : "A rim object"
      },
      "TrimResponse" : {
        "type" : "object",
        "properties" : {
          "trim" : {
            "$ref" : "#/components/schemas/CodeImage"
          }
        },
        "description" : "A trim object"
      },
      "UpholsteryResponse" : {
        "type" : "object",
        "properties" : {
          "upholstery" : {
            "$ref" : "#/components/schemas/CodeImage"
          }
        },
        "description" : "A paint object"
      },
      "VehicleResponse" : {
        "required" : [ "vehicle" ],
        "type" : "object",
        "properties" : {
          "vehicle" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ImageUrlWithError"
            },
            "description" : "A map holding a vehicle image for each requested perspective, e.g. EXT000."
          }
        },
        "description" : "The response object holds either an error object, in case that the request was malformed, or a vehicle object containing all urls for the requested perspectives."
      }
    },
    "parameters" : {
      "finorvin" : {
        "name" : "finorvin",
        "in" : "path",
        "description" : "The FIN or VIN of one specific vehicle. For testing purposes the following sample FINs are available (please note that these FINs are NOT available in the tryout): \n  * E 350 d: WDD2130331A123456\n  * B 180: WDD2462421N123456\n  * GLA 200: WDC1569431J123456\n  * S 500 Cabrio: WDD2174821A123456\n  * Smart fortwo turbo: WME4533441K012345",
        "required" : true,
        "schema" : {
          "type" : "string",
          "default" : "WDD1760421J123456"
        }
      },
      "night" : {
        "name" : "night",
        "in" : "query",
        "description" : "Set 'true', if you are looking for images with a darker background and the vehicle's headlights turned on. Default is 'false'.",
        "schema" : {
          "type" : "boolean",
          "default" : false
        }
      },
      "perspectives" : {
        "name" : "perspectives",
        "in" : "query",
        "description" : "One or more perspectives as a comma separated String list e.g. 'EXT000,EXT010,INT1'.  The following perspectives are available:\n  * EXT000-EXT350: EXT000 defines the front view, EXT010 defines a rotation of 10 degress and so forth.\n  * INT1-INT4: These are the 4 available interior perspectives.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n  \nThe default value is EXT020,INT1 if no value is provided.",
        "schema" : {
          "type" : "string",
          "default" : "EXT020,INT1"
        }
      },
      "roofOpen" : {
        "name" : "roofOpen",
        "in" : "query",
        "description" : "Set 'true', if you are looking for images with the roof open. This option is only valid for cabrios. Default is 'false'.",
        "schema" : {
          "type" : "boolean",
          "default" : false
        }
      }
    }
  }
}