{"openapi":"3.0.1","info":{"title":"The SMS Works API","description":"The SMS Works provides a low-cost, reliable SMS API for developers. Pay only for delivered texts, all failed messages are refunded.","version":"1.5.0"},"servers":[{"url":"https://api.thesmsworks.co.uk/v1"}],"paths":{"/auth/getApiKey":{"get":{"tags":["auth"],"description":"Utility method. Please generate your API key by following the instructions on your account page at https://thesmsworks.co.uk/user/login","operationId":"keySecret","parameters":[{"name":"customerid","in":"query","description":"Utility method. Please generate your API key by following the instructions on your account page at https://thesmsworks.co.uk/user/login","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/apiKeyResponse"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}}}},"/auth/token":{"post":{"tags":["auth"],"description":"Generates a JSON Web Token for including in the Authorization header of all your calls to the API. This only needs to be done once. Generate the customer ID, API Key & Secret required for this call from the API Key tab your account page.","operationId":"login","requestBody":{"description":"API Key & Secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Login"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}}}},"/batch/schedule":{"post":{"tags":["batch messages"],"description":"Schedules a batch of SMS messages to be sent at the date time you specify","operationId":"scheduleBatch","requestBody":{"description":"Message properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchMessage"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ScheduledBatchResponse"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}},"security":[{"JWT":null}]}},"/batch/send":{"post":{"tags":["batch messages"],"description":"Send a single SMS message to multiple recipients","operationId":"sendBatch","requestBody":{"description":"Message properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchMessage"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BatchMessageResponse"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}},"security":[{"JWT":null}]}},"/batch/{batchid}":{"get":{"tags":["batch messages"],"description":"Retrieve all messages in a batch with the given batch ID","operationId":"getBatchById","parameters":[{"name":"batchid","in":"path","description":"The ID of the batch you would like returned","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageResponse"}}}}},"404":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}},"security":[{"JWT":null}]}},"/batches/schedule/{batchid}":{"delete":{"tags":["batch messages"],"description":"Cancels a scheduled SMS message","operationId":"cancelScheduledBatchJob","parameters":[{"name":"batchid","in":"path","description":"The ID of the batch you would like returned","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CancelledMessageResponse"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}},"security":[{"JWT":null}]}},"/credits/balance":{"get":{"tags":["credits"],"description":"Returns the number of credits currently available on the account","operationId":"credits","responses":{"200":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CreditsResponse"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}},"security":[{"JWT":null}]}},"/message/flash":{"post":{"tags":["messages"],"description":"Sends an SMS flash message, which appears on the recipients lock screen","operationId":"sendFlashMessage","requestBody":{"description":"Message properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SendMessageResponse"}}}},"402":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}},"security":[{"JWT":null}]}},"/message/schedule":{"post":{"tags":["messages"],"description":"Schedules an SMS message to be sent at the date-time you specify","operationId":"scheduleMessage","requestBody":{"description":"Message properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ScheduledMessageResponse"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}},"security":[{"JWT":null}]}},"/message/send":{"post":{"tags":["messages"],"description":"Send an SMS Message","requestBody":{"description":"Message properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SendMessageResponse"}}}},"402":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}},"security":[{"JWT":null}]}},"/messages":{"post":{"tags":["messages"],"description":"Retrieve up to 1000 messages matching your search criteria","operationId":"getMessages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Query"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageResponse"}}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}},"security":[{"JWT":null}]}},"/messages/failed":{"post":{"tags":["messages"],"description":"Get failed messages matching your search criteria","operationId":"getFailedMessages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Query"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageResponse"}}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}},"security":[{"JWT":null}]}},"/messages/inbox":{"post":{"tags":["messages"],"description":"Get unread uncoming messages matching your search criteria","operationId":"getInboxMessages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Query"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageResponse"}}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}},"security":[{"JWT":null}]}},"/messages/schedule/{messageid}":{"delete":{"tags":["messages"],"description":"Cancels a scheduled SMS message","operationId":"cancelScheduledJob","parameters":[{"name":"messageid","in":"path","description":"The ID of the message you would like returned","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CancelledMessageResponse"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}},"security":[{"JWT":null}]}},"/messages/{messageid}":{"get":{"tags":["messages"],"description":"Retrieve a logged message by the message ID","operationId":"getMessageById","parameters":[{"name":"messageid","in":"path","description":"The ID of the message you would like returned","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}},"404":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}},"security":[{"JWT":null}]},"delete":{"tags":["messages"],"description":"Delete the message with the mathcing messageid","operationId":"deleteMessage","parameters":[{"name":"messageid","in":"path","description":"The ID of the message you would like returned","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/DeletedMessageResponse"}}}},"400":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}},"security":[{"JWT":null}]}},"/swagger":null,"/utils/errors/{errorcode}":{"get":{"tags":["utils"],"description":"Returns a sample error object for the given error code. Useful for designing code to react to errors when they occur for real.","operationId":"getError","parameters":[{"name":"errorcode","in":"path","description":"The code of the error you would like returned","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExtendedErrorModel"}}}}}}},"/utils/test":{"get":{"tags":["utils"],"description":"Returns the customer ID to the caller","operationId":"test","responses":{"200":{"description":"Success","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TestResponse"}}}},"default":{"description":"Error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}}}}},"components":{"schemas":{"BatchMessage":{"required":["content","destinations","sender"],"type":"object","properties":{"content":{"type":"string","description":"Message to send to the recipient","example":"My super awesome batch message"},"deliveryreporturl":{"type":"string","description":"The url to which we should POST delivery reports to for this message. If none is specified, we'll use the global delivery report URL that you've configured on your account page.","example":"http://your.domain.com/delivery/report/path"},"destinations":{"type":"array","description":"Telephone numbers of each of the recipients","example":["447777777777","447777777778","447777777779"],"items":{"type":"string"}},"schedule":{"type":"string","description":"Date-time at which to send the batch. This is only used by the batch/schedule service.","example":"Wed Jul 19 2017 20:26:28 GMT+0100 (BST)"},"sender":{"type":"string","description":"The sender of the message. Should be no longer than 11 characters for alphanumeric or 15 characters for numeric sender ID's. No spaces or special characters.","example":"YourCompany"},"tag":{"type":"string","description":"An identifying label for the message, which you can use to filter and report on messages you've sent later. Ideal for campaigns. A maximum of 280 characters.","example":"SummerSpecial"},"ttl":{"type":"number","description":"The number of minutes before the message is deleted. Optional. Omit to prevent delivery report deletion. Integer.","example":10.0}},"description":"SMS Message Batch"},"BatchMessageResponse":{"required":["batchid","status"],"type":"object","properties":{"batchid":{"type":"string","example":"2586749"},"status":{"type":"string","example":"SCHEDULED"}}},"CancelledMessageResponse":{"required":["messageid","status"],"type":"object","properties":{"messageid":{"type":"string","example":"5620320"},"status":{"type":"string","example":"CANCELLED"}}},"CreditsResponse":{"required":["credits"],"type":"object","properties":{"credits":{"type":"number","description":"The number of remaining credits on your SMS Works account. Floating point number.","example":180.0}}},"DeletedMessageResponse":{"required":["messageid","status"],"type":"object","properties":{"messageid":{"type":"string","example":"5620320"},"status":{"type":"string","example":"DELETED"}}},"ErrorModel":{"required":["message"],"type":"object","properties":{"message":{"type":"string"}}},"ExtendedErrorModel":{"allOf":[{"$ref":"#/components/schemas/ErrorModel"},{"required":["errorCode","status"],"type":"object","properties":{"errorCode":{"type":"number","description":"Numeric code used to identify the error. Integer."},"permanent":{"type":"boolean"},"status":{"type":"string"}}}]},"Login":{"type":"object","properties":{"customerid":{"type":"string","description":"Your customer ID, available from your account area at https://thesmsworks.co.uk/user/login"},"key":{"type":"string","description":"API Key, available from your account area at https://thesmsworks.co.uk/user/login"},"secret":{"type":"string","description":"API Secret, available from your account area at https://thesmsworks.co.uk/user/login"}},"description":"authorisation object"},"Message":{"required":["content","destination","sender"],"type":"object","properties":{"content":{"type":"string","description":"Message to send to the recipient. Content can be up to 1280 characters in length. Messages of 160 characters or fewer are charged 1 credit. If your message is longer than 160 characters then it will be broken down in to chunks of 153 characters before being sent to the recipient's handset, and you will be charged 1 credit for each 153 characters. Messages sent to numbers registered outside the UK will be typically charged double credits, but for certain countries may be charged fractions of credits (e.g. 2.5). Please contact us for rates for each country.","example":"Your super awesome message"},"deliveryreporturl":{"type":"string","description":"The url to which we should POST delivery reports to for this message. If none is specified, we'll use the global delivery report URL that you've configured on your account page.","example":"http://your.domain.com/delivery/report/path"},"destination":{"type":"string","description":"Telephone number of the recipient","example":"447777777777"},"metadata":{"type":"object","properties":{"schema":{"$ref":"#/components/schemas/MetaData"}},"example":[{"key":"myKey1","value":"myValue1"},{"key":"myKey2","value":"myValue2"}]},"responseemail":{"type":"array","description":"An optional list of email addresses to forward responses to this specific message to. An SMS Works Reply Number is required to use this feature.","example":["my.email@mycompany.co.uk","my.other.email@mycompany.co.uk"],"items":{"type":"string"}},"schedule":{"type":"string","description":"Date at which to send the message. This is only used by the message/schedule service and can be left empty for other services.","example":"Sun Sep 03 2020 15:34:23 GMT+0100 (BST)"},"sender":{"type":"string","description":"The sender of the message. Should be no longer than 11 characters for alphanumeric or 15 characters for numeric sender ID's. No spaces or special characters.","example":"YourCompany"},"tag":{"type":"string","description":"An identifying label for the message, which you can use to filter and report on messages you've sent later. Ideal for campaigns. A maximum of 280 characters.","example":"SummerSpecial"},"ttl":{"type":"number","description":"The optional number of minutes before the message is deleted. Optional. Omit to prevent delivery report deletion. Integer.","example":10.0}},"description":"SMS message object"},"MessageResponse":{"required":["content","created","customerid","destination","messageid","modified","schedule","sender","status","tag"],"type":"object","properties":{"batchid":{"type":"string","example":"2586749"},"content":{"type":"string","example":"My super awesome message"},"created":{"type":"string","example":"Wed Jul 19 2017 20:53:46 GMT+0100 (BST)"},"customerid":{"type":"string","example":"0fca8c3c-6cbc-11e7-8154-a6006ad3dba0"},"deliveryreporturl":{"type":"string","example":"https://your.domain.com/delivery/report/path"},"destination":{"type":"number","example":447777777777},"failurereason":{"type":"object","properties":{"code":{"type":"number","description":"Numeric code that defines the error. Integer.","example":34.0},"details":{"type":"string","example":"Handset error"},"permanent":{"type":"boolean","example":false}}},"id":{"type":"string","example":"123456789"},"identifier":{"type":"string","example":"7777777777"},"keyword":{"type":"string","example":"CALRISSIAN"},"messageid":{"type":"string","example":"123456789"},"modified":{"type":"string","example":"Wed Jul 19 2017 20:53:49 GMT+0100 (BST)"},"schedule":{"type":"string","example":"Wed Jul 19 2017 20:53:45 GMT+0100 (BST)"},"sender":{"type":"string","example":"YourCompany"},"status":{"type":"string","example":"DELIVERED"},"tag":{"type":"string","example":"campaign2"}}},"MetaData":{"type":"object","properties":{"key":{"type":"string","description":"key of the key/value pair","example":"myKey"},"value":{"type":"string","description":"value of the key/value pair","example":"myValue"}},"description":"Key/value pair that will be returned to you in the API call response."},"Query":{"type":"object","properties":{"credits":{"type":"number","description":"The number of credits used on the message. Floating point number.","example":2.0},"destination":{"type":"string","description":"The phone number of the recipient. Start UK numbers with 44 and drop the leading 0.","example":"447777777777"},"from":{"type":"string","description":"The date-time from which you would like matching messages","example":"Wed Jul 12 2017 20:26:28 GMT+0100 (BST)"},"keyword":{"type":"string","description":"The keyword used in the inbound message","example":"SKYWALKER"},"metadata":{"type":"object","properties":{"schema":{"$ref":"#/components/schemas/MetaData"}},"description":"An array of objects containing metadata key/value pairs that have been saved on messages.","example":[{"key":"myKey1","value":"myValue1"},{"key":"myKey2","value":"myValue2"}]},"sender":{"type":"string","description":"The sender of the message (this can be the configured sender name for an outbound message or the senders phone number for an inbound message).","example":"YourCompany"},"status":{"type":"string","description":"The status of the messages you would like returned (either 'SENT', 'DELIVERED', 'EXPIRED', 'UNDELIVERABLE', 'REJECTED' or 'INCOMING')","example":"SENT"},"to":{"type":"string","description":"The date-time to which you would like matching messages","example":"Wed Jul 19 2017 20:26:28 GMT+0100 (BST)"},"unread":{"type":"boolean","description":"In queries for incoming messages ('status' is 'INCOMING'), specify whether you explicitly want unread messages (true) or read messages (false). Omit this parameter in other circumstances."}},"description":"search parameters for querying the message database"},"ScheduledBatchResponse":{"required":["batchid","status"],"type":"object","properties":{"batchid":{"type":"string","example":"3200562"},"status":{"type":"string","example":"SCHEDULED"}}},"ScheduledMessageResponse":{"required":["messageid","status"],"type":"object","properties":{"messageid":{"type":"string","example":"123456789"},"status":{"type":"string","example":"SCHEDULED"}}},"SendMessageResponse":{"required":["credits","creditsUsed","messageid","status"],"type":"object","properties":{"credits":{"type":"number","description":"The number of remaining credits on your SMS Works account. Floating point number.","example":180.0},"creditsUsed":{"type":"number","description":"The number of credits used to send the message. Floating point number.","example":2.0},"messageid":{"type":"string","example":"123456789"},"status":{"type":"string","example":"SENT"}}},"TestResponse":{"required":["message"],"type":"object","properties":{"message":{"type":"string"}}},"TokenResponse":{"required":["token"],"type":"object","properties":{"token":{"type":"string","example":"JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1MDA0OTU2NjEsImV4cCI6MTUzMjAzMTY2MSwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsIkdpdmVuTmFtZSI6IkpvaG5ueSIsIlN1cm5hbWUiOiJSb2NrZXQiLCJFbWFpbCI6Impyb2NrZXRAZXhhbXBsZS5jb20iLCJSb2xlIjpbIk1hbmFnZXIiLCJQcm9qZWN0IEFkbWluaXN0cmF0b3IiXX0.BR1BIDy0Mw3R4ilfqAojsnh7bp_pgeX2jfjhhZyaexQ"}}},"apiKeyResponse":{"required":["key","secret"],"type":"object","properties":{"key":{"type":"string","example":"22795661-48a1-442d-92a3-bc2384836fad"},"secret":{"type":"string","example":"10045176307448ced2e1b74963d137f2bfaefbdad6fe415df429b64c4d63b856"}}}},"securitySchemes":{"JWT":{"type":"apiKey","name":"Authorization","in":"header"}}}}