{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AzureBridgeAdminClient",
    "description" : "AzureBridge Admin Client.",
    "version" : "2016-01-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products" : {
      "get" : {
        "tags" : [ "Products" ],
        "description" : "Return product name.",
        "operationId" : "Products_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "activationName",
          "in" : "path",
          "description" : "Name of the activation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductResourcesPage"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products/{productName}" : {
      "get" : {
        "tags" : [ "Products" ],
        "description" : "Return product name.",
        "operationId" : "Products_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "activationName",
          "in" : "path",
          "description" : "Name of the activation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductResource"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products/{productName}/download" : {
      "post" : {
        "tags" : [ "Products" ],
        "description" : "Downloads a product from azure marketplace.",
        "operationId" : "Products_Download",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "activationName",
          "in" : "path",
          "description" : "Name of the activation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "properties" : {
                    "properties" : {
                      "type" : "object",
                      "properties" : {
                        "galleryPackageBlobSasUri" : {
                          "type" : "string",
                          "description" : "The URI to the .azpkg file that provides information required for showing product in the gallery.",
                          "readOnly" : true
                        },
                        "legalTerms" : {
                          "type" : "string",
                          "description" : "Legal terms for the product."
                        },
                        "links" : {
                          "type" : "array",
                          "description" : "List of product links.",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "displayName" : {
                                "type" : "string",
                                "description" : "Displayed name of product."
                              },
                              "uri" : {
                                "type" : "string",
                                "description" : "URI to product."
                              }
                            },
                            "description" : "Link to a product."
                          }
                        },
                        "privacyPolicy" : {
                          "type" : "string",
                          "description" : "Privacy policy of the product."
                        },
                        "productDetailsProperties" : {
                          "type" : "object",
                          "description" : "Product information."
                        },
                        "provisioningState" : {
                          "type" : "string",
                          "description" : "The provisioning state of the resource.",
                          "enum" : [ "Stopped", "Starting", "Running", "Stopping", "Succeeded", "Downloading" ]
                        },
                        "vmExtensionType" : {
                          "type" : "string",
                          "description" : "Extension type of the VM."
                        }
                      },
                      "description" : "Properties for aggregate usage."
                    }
                  },
                  "description" : "Downloaded product resource.",
                  "allOf" : [ {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "string",
                        "description" : "URI of the resource.",
                        "readOnly" : true
                      },
                      "location" : {
                        "type" : "string",
                        "description" : "Location of the resource",
                        "readOnly" : true
                      },
                      "name" : {
                        "type" : "string",
                        "description" : "Name of the resource.",
                        "readOnly" : true
                      },
                      "tags" : {
                        "type" : "object",
                        "additionalProperties" : {
                          "type" : "string"
                        },
                        "description" : "List of key value pairs.",
                        "readOnly" : true
                      },
                      "type" : {
                        "type" : "string",
                        "description" : "Type of resource.",
                        "readOnly" : true
                      }
                    },
                    "description" : "Base Resource Object"
                  } ]
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "properties" : {
                    "properties" : {
                      "type" : "object",
                      "properties" : {
                        "galleryPackageBlobSasUri" : {
                          "type" : "string",
                          "description" : "The URI to the .azpkg file that provides information required for showing product in the gallery.",
                          "readOnly" : true
                        },
                        "legalTerms" : {
                          "type" : "string",
                          "description" : "Legal terms for the product."
                        },
                        "links" : {
                          "type" : "array",
                          "description" : "List of product links.",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "displayName" : {
                                "type" : "string",
                                "description" : "Displayed name of product."
                              },
                              "uri" : {
                                "type" : "string",
                                "description" : "URI to product."
                              }
                            },
                            "description" : "Link to a product."
                          }
                        },
                        "privacyPolicy" : {
                          "type" : "string",
                          "description" : "Privacy policy of the product."
                        },
                        "productDetailsProperties" : {
                          "type" : "object",
                          "description" : "Product information."
                        },
                        "provisioningState" : {
                          "type" : "string",
                          "description" : "The provisioning state of the resource.",
                          "enum" : [ "Stopped", "Starting", "Running", "Stopping", "Succeeded", "Downloading" ]
                        },
                        "vmExtensionType" : {
                          "type" : "string",
                          "description" : "Extension type of the VM."
                        }
                      },
                      "description" : "Properties for aggregate usage."
                    }
                  },
                  "description" : "Downloaded product resource.",
                  "allOf" : [ {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "string",
                        "description" : "URI of the resource.",
                        "readOnly" : true
                      },
                      "location" : {
                        "type" : "string",
                        "description" : "Location of the resource",
                        "readOnly" : true
                      },
                      "name" : {
                        "type" : "string",
                        "description" : "Name of the resource.",
                        "readOnly" : true
                      },
                      "tags" : {
                        "type" : "object",
                        "additionalProperties" : {
                          "type" : "string"
                        },
                        "description" : "List of key value pairs.",
                        "readOnly" : true
                      },
                      "type" : {
                        "type" : "string",
                        "description" : "Type of resource.",
                        "readOnly" : true
                      }
                    },
                    "description" : "Base Resource Object"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Product" : {
        "properties" : {
          "legalTerms" : {
            "type" : "string",
            "description" : "Legal terms for the product."
          },
          "links" : {
            "type" : "array",
            "description" : "List of product links.",
            "items" : {
              "type" : "object",
              "properties" : {
                "displayName" : {
                  "type" : "string",
                  "description" : "Displayed name of product."
                },
                "uri" : {
                  "type" : "string",
                  "description" : "URI to product."
                }
              },
              "description" : "Link to a product."
            }
          },
          "privacyPolicy" : {
            "type" : "string",
            "description" : "Privacy policy of the product."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The provisioning state of the resource.",
            "enum" : [ "Stopped", "Starting", "Running", "Stopping", "Succeeded", "Downloading" ]
          },
          "vmExtensionType" : {
            "type" : "string",
            "description" : "Extension type of the VM."
          }
        },
        "description" : "Properties for a product.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "billingPartNumber" : {
              "type" : "string",
              "description" : "Billing part number."
            },
            "compatibility" : {
              "type" : "object",
              "properties" : {
                "description" : {
                  "type" : "string",
                  "description" : "Full error message if any compatibility issues are found"
                },
                "isCompatible" : {
                  "type" : "boolean",
                  "description" : "Tells if product is compatible with current device"
                },
                "issues" : {
                  "type" : "array",
                  "description" : "List of all issues found",
                  "items" : {
                    "type" : "string",
                    "description" : "Compatibility issue",
                    "enum" : [ "HigherDeviceVersionRequired", "LowerDeviceVersionRequired", "CapacityBillingModelRequired", "PayAsYouGoBillingModelRequired", "DevelopmentBillingModelRequired", "AzureADIdentitySystemRequired", "ADFSIdentitySystemRequired", "ConnectionToInternetRequired", "ConnectionToAzureRequired", "DisconnectedEnvironmentRequired" ]
                  }
                },
                "message" : {
                  "type" : "string",
                  "description" : "Short error message if any compatibility issues are found"
                }
              },
              "description" : "Product compatibility"
            },
            "description" : {
              "type" : "string",
              "description" : "Description of the product."
            },
            "displayName" : {
              "type" : "string",
              "description" : "Name displayed for the product."
            },
            "galleryItemIdentity" : {
              "type" : "string",
              "description" : "Gallery item identity."
            },
            "iconUris" : {
              "type" : "object",
              "properties" : {
                "hero" : {
                  "type" : "string",
                  "description" : "The hero (815x290) icon relative path."
                },
                "large" : {
                  "type" : "string",
                  "description" : "The large (115x115) icon relative path."
                },
                "medium" : {
                  "type" : "string",
                  "description" : "The medium (90x90) icon relative path."
                },
                "small" : {
                  "type" : "string",
                  "description" : "The small (40x40) icon relative path."
                },
                "wide" : {
                  "type" : "string",
                  "description" : "The wide (255x115) icon relative path."
                }
              },
              "description" : "Icons for the gallery items."
            },
            "offer" : {
              "type" : "string",
              "description" : "Offer name."
            },
            "offerVersion" : {
              "type" : "string",
              "description" : "Offer version."
            },
            "payloadLength" : {
              "type" : "integer",
              "description" : "Size in bytes.",
              "format" : "int64"
            },
            "productKind" : {
              "type" : "string",
              "description" : "The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate."
            },
            "productProperties" : {
              "type" : "object",
              "properties" : {
                "version" : {
                  "type" : "string",
                  "description" : "The version of the product"
                }
              },
              "description" : "Additional properties of the product"
            },
            "publisherDisplayName" : {
              "type" : "string",
              "description" : "Name of publisher."
            },
            "publisherIdentifier" : {
              "type" : "string",
              "description" : "Publisher identifier."
            },
            "sku" : {
              "type" : "string",
              "description" : "Product SKU."
            }
          },
          "description" : "Base object for all product classes."
        } ]
      },
      "ProductResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/Product"
          }
        },
        "description" : "Product resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key value pairs.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base Resource Object"
        } ]
      },
      "ProductResourcesPage" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of products.",
            "items" : {
              "$ref" : "#/components/schemas/ProductResource"
            }
          }
        },
        "description" : "Holds an array of products and the next link."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}