{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ddosProtectionPlans" : {
      "get" : {
        "tags" : [ "DdosProtectionPlans" ],
        "description" : "Gets all DDoS protection plans in a subscription.",
        "operationId" : "DdosProtectionPlans_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of DDoS protection plan resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DdosProtectionPlanListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosProtectionPlans" : {
      "get" : {
        "tags" : [ "DdosProtectionPlans" ],
        "description" : "Gets all the DDoS protection plans in a resource group.",
        "operationId" : "DdosProtectionPlans_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of DDoS protection plan resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DdosProtectionPlanListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosProtectionPlans/{ddosProtectionPlanName}" : {
      "get" : {
        "tags" : [ "DdosProtectionPlans" ],
        "description" : "Gets information about the specified DDoS protection plan.",
        "operationId" : "DdosProtectionPlans_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ddosProtectionPlanName",
          "in" : "path",
          "description" : "The name of the DDoS protection plan.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the specified DDoS protection plan resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DdosProtectionPlan"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DdosProtectionPlans" ],
        "description" : "Creates or updates a DDoS protection plan.",
        "operationId" : "DdosProtectionPlans_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ddosProtectionPlanName",
          "in" : "path",
          "description" : "The name of the DDoS protection plan.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DdosProtectionPlan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting DDoS protection plan resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DdosProtectionPlan"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting DDoS protection plan resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DdosProtectionPlan"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "DdosProtectionPlans" ],
        "description" : "Deletes the specified DDoS protection plan.",
        "operationId" : "DdosProtectionPlans_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ddosProtectionPlanName",
          "in" : "path",
          "description" : "The name of the DDoS protection plan.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Request successful. Resource does not exist."
          }
        }
      },
      "patch" : {
        "tags" : [ "DdosProtectionPlans" ],
        "description" : "Update a DDoS protection plan tags.",
        "operationId" : "DdosProtectionPlans_UpdateTags",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ddosProtectionPlanName",
          "in" : "path",
          "description" : "The name of the DDoS protection plan.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the update DDoS protection plan resource tags.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Resource tags."
                  }
                },
                "description" : "Tags object for patch operations."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting DDoS protection plan resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DdosProtectionPlan"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "DdosProtectionPlan" : {
        "type" : "object",
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "id" : {
            "type" : "string",
            "description" : "Resource ID.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location."
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/DdosProtectionPlanPropertiesFormat"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags."
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type.",
            "readOnly" : true
          }
        },
        "description" : "A DDoS protection plan in a resource group."
      },
      "DdosProtectionPlanListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "A list of DDoS protection plans.",
            "items" : {
              "$ref" : "#/components/schemas/DdosProtectionPlan"
            }
          }
        },
        "description" : "A list of DDoS protection plans."
      },
      "DdosProtectionPlanPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "resourceGuid" : {
            "type" : "string",
            "description" : "The resource GUID property of the DDoS protection plan resource. It uniquely identifies the resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.",
            "readOnly" : true
          },
          "virtualNetworks" : {
            "type" : "array",
            "description" : "The list of virtual networks associated with the DDoS protection plan resource. This list is read-only.",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "string",
                  "description" : "Resource ID."
                }
              },
              "description" : "Reference to another subresource."
            }
          }
        },
        "description" : "DDoS protection plan properties."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}