{"openapi":"3.0.1","info":{"title":"The Consumer Financial Protection Bureau","description":"Learn more about home mortgage data, download the data yourself, or build new tools using our API.","version":"1.0"},"externalDocs":{"url":"http://cfpb.github.io/api/hmda/"},"servers":[{"url":"https://api.consumerfinance.gov:443/"}],"tags":[{"name":"data","description":"Operations about datasets"},{"name":"hmda","description":"Operations about LAR data"}],"paths":{"/data":{"get":{"tags":["data"],"summary":"Get a list of all datasets.","operationId":"getDatasets","responses":{"200":{"description":"No response was specified"}}}},"/data/hmda":{"get":{"tags":["hmda"],"summary":"Get metadata for this dataset.","operationId":"getDatasetHmda","responses":{"200":{"description":"No response was specified"}}}},"/data/hmda/concept/{concept}":{"get":{"tags":["hmda"],"summary":"Get information about a particular concept in this dataset.","operationId":"getConceptHmda","parameters":[{"name":"concept","in":"path","description":"Name of concept","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/data/hmda/slice/{slice}":{"get":{"tags":["hmda"],"summary":"Query a slice in this dataset.","operationId":"querySliceHmda","parameters":[{"name":"slice","in":"path","description":"Name of slice","required":true,"schema":{"type":"string"}},{"name":"$select","in":"query","description":"Fields to return, separated by commas.","schema":{"type":"string"}},{"name":"$where","in":"query","description":"Conditions to search for in the slice, in SQL WHERE style.","schema":{"type":"string"}},{"name":"$group","in":"query","description":"Fields to group by, summarizing the data, separated by commas.","schema":{"type":"string"}},{"name":"$limit","in":"query","description":"Number of records to return, 100 by default. Enter 0 for no limit.","schema":{"type":"integer"}},{"name":"$offset","in":"query","description":"Number of records to skip.","schema":{"type":"integer"}},{"name":"$orderBy","in":"query","description":"Fields to order by, separated by commas. ASC and DESC can be used to modify the order.","schema":{"type":"string"}},{"name":"$callback","in":"query","description":"JavaScript callback to invoke. Only useful with JSONP requests.","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/QueryResponse"}},"text/javascript":{"schema":{"$ref":"#/components/schemas/QueryResponse"}},"text/csv":{"schema":{"$ref":"#/components/schemas/QueryResponse"}}}}}}},"/data/hmda/slice/{slice}/metadata":{"get":{"tags":["hmda"],"summary":"Get the metadata for a slice in this dataset.","operationId":"getSliceMetadataHmda","parameters":[{"name":"slice","in":"path","description":"Name of slice","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/data/{dataset}":{"get":{"tags":["data"],"summary":"Get metadata about a dataset.","operationId":"getDataset","parameters":[{"name":"dataset","in":"path","description":"Name of dataset","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}}},"components":{"schemas":{"QueryResponse":{"required":["size","total"],"type":"object","properties":{"size":{"type":"integer"},"total":{"type":"integer"}},"description":"Response to a slice query."}}}}