{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MonitorManagementClient",
    "version" : "2016-09-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/{resourceUri}/providers/microsoft.insights/diagnosticSettings/service" : {
      "get" : {
        "tags" : [ "ServiceDiagnosticSettings" ],
        "description" : "Gets the active diagnostic settings for the specified resource. **WARNING**: This method will be deprecated in future releases.",
        "operationId" : "ServiceDiagnosticSettings_Get",
        "parameters" : [ {
          "name" : "resourceUri",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to get more information about service diagnostic setting",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceDiagnosticSettingsResource"
                },
                "example" : {
                  "id" : "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service",
                  "location" : "",
                  "name" : "service",
                  "properties" : {
                    "logs" : [ {
                      "category" : "WorkflowRuntime",
                      "enabled" : true,
                      "retentionPolicy" : {
                        "days" : 0,
                        "enabled" : false
                      }
                    } ],
                    "metrics" : [ {
                      "enabled" : true,
                      "retentionPolicy" : {
                        "days" : 0,
                        "enabled" : false
                      },
                      "timeGrain" : "PT1M"
                    } ],
                    "serviceBusRuleId" : "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey",
                    "storageAccountId" : "/subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1",
                    "workspaceId" : ""
                  },
                  "type" : ""
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ServiceDiagnosticSettings" ],
        "description" : "Create or update new diagnostic settings for the specified resource. **WARNING**: This method will be deprecated in future releases.",
        "operationId" : "ServiceDiagnosticSettings_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceUri",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceDiagnosticSettingsResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful request to create a service diagnostic setting",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceDiagnosticSettingsResource"
                },
                "example" : {
                  "id" : "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service",
                  "location" : "",
                  "name" : "service",
                  "properties" : {
                    "eventHubAuthorizationRuleId" : "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/authorizationrules/myrule",
                    "logs" : [ {
                      "category" : "WorkflowRuntime",
                      "enabled" : true,
                      "retentionPolicy" : {
                        "days" : 0,
                        "enabled" : false
                      }
                    } ],
                    "metrics" : [ {
                      "enabled" : true,
                      "retentionPolicy" : {
                        "days" : 0,
                        "enabled" : false
                      },
                      "timeGrain" : "PT1M"
                    } ],
                    "serviceBusRuleId" : "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey",
                    "storageAccountId" : "/subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1",
                    "workspaceId" : ""
                  },
                  "type" : ""
                }
              }
            }
          }
        }
      },
      "patch" : {
        "description" : "Updates an existing ServiceDiagnosticSettingsResource. To update other fields use the CreateOrUpdate method. **WARNING**: This method will be deprecated in future releases.",
        "operationId" : "ServiceDiagnosticSettings_Update",
        "parameters" : [ {
          "name" : "resourceUri",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceDiagnosticSettingsResourcePatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "An existing service diagnostics setting resource was successfully updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceDiagnosticSettingsResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Describes the format of Error response."
      },
      "LogSettings" : {
        "required" : [ "enabled" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "Name of a Diagnostic Log category for a resource type this setting is applied to. To obtain the list of Diagnostic Log categories for a resource, first perform a GET diagnostic settings operation."
          },
          "enabled" : {
            "type" : "boolean",
            "description" : "a value indicating whether this log is enabled."
          },
          "retentionPolicy" : {
            "$ref" : "#/components/schemas/RetentionPolicy"
          }
        },
        "description" : "Part of MultiTenantDiagnosticSettings. Specifies the settings for a particular log."
      },
      "MetricSettings" : {
        "required" : [ "enabled", "timeGrain" ],
        "type" : "object",
        "properties" : {
          "enabled" : {
            "type" : "boolean",
            "description" : "a value indicating whether this timegrain is enabled."
          },
          "retentionPolicy" : {
            "$ref" : "#/components/schemas/RetentionPolicy"
          },
          "timeGrain" : {
            "type" : "string",
            "description" : "the timegrain of the metric in ISO8601 format.",
            "format" : "duration"
          }
        },
        "description" : "Part of MultiTenantDiagnosticSettings. Specifies the settings for a particular metric."
      },
      "Resource" : {
        "required" : [ "location" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Azure resource Id",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location"
          },
          "name" : {
            "type" : "string",
            "description" : "Azure resource name",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "description" : "Resource tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Azure resource type",
            "readOnly" : true
          }
        },
        "description" : "An azure resource object"
      },
      "RetentionPolicy" : {
        "required" : [ "days", "enabled" ],
        "type" : "object",
        "properties" : {
          "days" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "the number of days for the retention in days. A value of 0 will retain the events indefinitely.",
            "format" : "int32"
          },
          "enabled" : {
            "type" : "boolean",
            "description" : "a value indicating whether the retention policy is enabled."
          }
        },
        "description" : "Specifies the retention policy for the log."
      },
      "ServiceDiagnosticSettings" : {
        "type" : "object",
        "properties" : {
          "eventHubAuthorizationRuleId" : {
            "type" : "string",
            "description" : "The resource Id for the event hub namespace authorization rule."
          },
          "logs" : {
            "type" : "array",
            "description" : "the list of logs settings.",
            "items" : {
              "$ref" : "#/components/schemas/LogSettings"
            }
          },
          "metrics" : {
            "type" : "array",
            "description" : "the list of metric settings.",
            "items" : {
              "$ref" : "#/components/schemas/MetricSettings"
            }
          },
          "serviceBusRuleId" : {
            "type" : "string",
            "description" : "The service bus rule ID of the service bus namespace in which you would like to have Event Hubs created for streaming Diagnostic Logs. The rule ID is of the format: '{service bus resource ID}/authorizationrules/{key name}'."
          },
          "storageAccountId" : {
            "type" : "string",
            "description" : "The resource ID of the storage account to which you would like to send Diagnostic Logs."
          },
          "workspaceId" : {
            "type" : "string",
            "description" : "The workspace ID (resource ID of a Log Analytics workspace) for a Log Analytics workspace to which you would like to send Diagnostic Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2"
          }
        },
        "description" : "The diagnostic settings for service."
      },
      "ServiceDiagnosticSettingsResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ServiceDiagnosticSettings"
          }
        },
        "description" : "Description of a service diagnostic setting",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "ServiceDiagnosticSettingsResourcePatch" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ServiceDiagnosticSettings"
          },
          "tags" : {
            "type" : "object",
            "description" : "Resource tags"
          }
        },
        "description" : "Service diagnostic setting resource for patch operations"
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceUriParameter" : {
        "name" : "resourceUri",
        "in" : "path",
        "description" : "The identifier of the resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}