{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors" : {
      "get" : {
        "tags" : [ "ConnectionMonitors" ],
        "description" : "Lists all connection monitors for the specified Network Watcher.",
        "operationId" : "ConnectionMonitors_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group containing Network Watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the Network Watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful connection monitor enumeration request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionMonitorListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The error object."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}" : {
      "get" : {
        "tags" : [ "ConnectionMonitors" ],
        "description" : "Gets a connection monitor by name.",
        "operationId" : "ConnectionMonitors_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group containing Network Watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the Network Watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionMonitorName",
          "in" : "path",
          "description" : "The name of the connection monitor.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a connection monitor.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionMonitorResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The error object."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ConnectionMonitors" ],
        "description" : "Create or update a connection monitor.",
        "operationId" : "ConnectionMonitors_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group containing Network Watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the Network Watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionMonitorName",
          "in" : "path",
          "description" : "The name of the connection monitor.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that define the operation to create a connection monitor.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectionMonitor"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting network watcher resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionMonitorResult"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting network watcher resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionMonitorResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The error object."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ConnectionMonitors" ],
        "description" : "Deletes the specified connection monitor.",
        "operationId" : "ConnectionMonitors_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group containing Network Watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the Network Watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionMonitorName",
          "in" : "path",
          "description" : "The name of the connection monitor.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted. The operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The error object."
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "ConnectionMonitors" ],
        "description" : "Update tags of the specified connection monitor.",
        "operationId" : "ConnectionMonitors_UpdateTags",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionMonitorName",
          "in" : "path",
          "description" : "The name of the connection monitor.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update connection monitor tags.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Resource tags."
                  }
                },
                "description" : "Tags object for patch operations."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns updated connection monitor.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionMonitorResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The error object."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/query" : {
      "post" : {
        "tags" : [ "ConnectionMonitors" ],
        "description" : "Query a snapshot of the most recent connection states.",
        "operationId" : "ConnectionMonitors_Query",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group containing Network Watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the Network Watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionMonitorName",
          "in" : "path",
          "description" : "The name given to the connection monitor.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful query of connection states.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionMonitorQueryResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted query of connection states.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionMonitorQueryResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The error object."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/start" : {
      "post" : {
        "tags" : [ "ConnectionMonitors" ],
        "description" : "Starts the specified connection monitor.",
        "operationId" : "ConnectionMonitors_Start",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group containing Network Watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the Network Watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionMonitorName",
          "in" : "path",
          "description" : "The name of the connection monitor.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation starts the connection monitor."
          },
          "202" : {
            "description" : "Accepted. The operation will complete asynchronously."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The error object."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/stop" : {
      "post" : {
        "tags" : [ "ConnectionMonitors" ],
        "description" : "Stops the specified connection monitor.",
        "operationId" : "ConnectionMonitors_Stop",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group containing Network Watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the Network Watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionMonitorName",
          "in" : "path",
          "description" : "The name of the connection monitor.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation stops the connection monitor."
          },
          "202" : {
            "description" : "Accepted. The operation will complete asynchronously."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The error object."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ConnectionMonitor" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "Connection monitor location."
          },
          "properties" : {
            "$ref" : "#/components/schemas/ConnectionMonitorParameters"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Connection monitor tags."
          }
        },
        "description" : "Parameters that define the operation to create a connection monitor."
      },
      "ConnectionMonitorDestination" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string",
            "description" : "Address of the connection monitor destination (IP or domain name)."
          },
          "port" : {
            "type" : "integer",
            "description" : "The destination port used by connection monitor."
          },
          "resourceId" : {
            "type" : "string",
            "description" : "The ID of the resource used as the destination by connection monitor."
          }
        },
        "description" : "Describes the destination of connection monitor."
      },
      "ConnectionMonitorListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "Information about connection monitors.",
            "items" : {
              "$ref" : "#/components/schemas/ConnectionMonitorResult"
            }
          }
        },
        "description" : "List of connection monitors."
      },
      "ConnectionMonitorParameters" : {
        "required" : [ "destination", "source" ],
        "type" : "object",
        "properties" : {
          "autoStart" : {
            "type" : "boolean",
            "description" : "Determines if the connection monitor will start automatically once created.",
            "default" : true
          },
          "destination" : {
            "$ref" : "#/components/schemas/ConnectionMonitorDestination"
          },
          "monitoringIntervalInSeconds" : {
            "type" : "integer",
            "description" : "Monitoring interval in seconds."
          },
          "source" : {
            "$ref" : "#/components/schemas/ConnectionMonitorSource"
          }
        },
        "description" : "Parameters that define the operation to create a connection monitor."
      },
      "ConnectionMonitorQueryResult" : {
        "type" : "object",
        "properties" : {
          "sourceStatus" : {
            "type" : "string",
            "description" : "Status of connection monitor source.",
            "enum" : [ "Unknown", "Active", "Inactive" ]
          },
          "states" : {
            "type" : "array",
            "description" : "Information about connection states.",
            "items" : {
              "$ref" : "#/components/schemas/ConnectionStateSnapshot"
            }
          }
        },
        "description" : "List of connection states snapshots."
      },
      "ConnectionMonitorResult" : {
        "type" : "object",
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "default" : "A unique read-only string that changes whenever the resource is updated."
          },
          "id" : {
            "type" : "string",
            "description" : "ID of the connection monitor.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Connection monitor location."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the connection monitor.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/ConnectionMonitorResultProperties"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Connection monitor tags."
          },
          "type" : {
            "type" : "string",
            "description" : "Connection monitor type.",
            "readOnly" : true
          }
        },
        "description" : "Information about the connection monitor."
      },
      "ConnectionMonitorResultProperties" : {
        "properties" : {
          "monitoringStatus" : {
            "type" : "string",
            "description" : "The monitoring status of the connection monitor."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "startTime" : {
            "type" : "string",
            "description" : "The date and time when the connection monitor was started.",
            "format" : "date-time"
          }
        },
        "description" : "Describes the properties of a connection monitor.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ConnectionMonitorParameters"
        } ]
      },
      "ConnectionMonitorSource" : {
        "required" : [ "resourceId" ],
        "type" : "object",
        "properties" : {
          "port" : {
            "type" : "integer",
            "description" : "The source port used by connection monitor."
          },
          "resourceId" : {
            "type" : "string",
            "description" : "The ID of the resource used as the source by connection monitor."
          }
        },
        "description" : "Describes the source of connection monitor."
      },
      "ConnectionStateSnapshot" : {
        "type" : "object",
        "properties" : {
          "avgLatencyInMs" : {
            "type" : "integer",
            "description" : "Average latency in ms."
          },
          "connectionState" : {
            "type" : "string",
            "description" : "The connection state.",
            "enum" : [ "Reachable", "Unreachable", "Unknown" ]
          },
          "endTime" : {
            "type" : "string",
            "description" : "The end time of the connection snapshot.",
            "format" : "date-time"
          },
          "evaluationState" : {
            "type" : "string",
            "description" : "Connectivity analysis evaluation state.",
            "enum" : [ "NotStarted", "InProgress", "Completed" ]
          },
          "hops" : {
            "type" : "array",
            "description" : "List of hops between the source and the destination.",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "address" : {
                  "type" : "string",
                  "description" : "The IP address of the hop.",
                  "readOnly" : true
                },
                "id" : {
                  "type" : "string",
                  "description" : "The ID of the hop.",
                  "readOnly" : true
                },
                "issues" : {
                  "type" : "array",
                  "description" : "List of issues.",
                  "readOnly" : true,
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "context" : {
                        "type" : "array",
                        "description" : "Provides additional context on the issue.",
                        "readOnly" : true,
                        "items" : {
                          "type" : "object",
                          "additionalProperties" : {
                            "type" : "string"
                          },
                          "description" : "A key-value pair that provides additional context on the issue."
                        }
                      },
                      "origin" : {
                        "type" : "string",
                        "description" : "The origin of the issue.",
                        "readOnly" : true,
                        "enum" : [ "Local", "Inbound", "Outbound" ]
                      },
                      "severity" : {
                        "type" : "string",
                        "description" : "The severity of the issue.",
                        "readOnly" : true,
                        "enum" : [ "Error", "Warning" ]
                      },
                      "type" : {
                        "type" : "string",
                        "description" : "The type of issue.",
                        "readOnly" : true,
                        "enum" : [ "Unknown", "AgentStopped", "GuestFirewall", "DnsResolution", "SocketBind", "NetworkSecurityRule", "UserDefinedRoute", "PortThrottled", "Platform" ]
                      }
                    },
                    "description" : "Information about an issue encountered in the process of checking for connectivity."
                  }
                },
                "nextHopIds" : {
                  "type" : "array",
                  "description" : "List of next hop identifiers.",
                  "readOnly" : true,
                  "items" : {
                    "type" : "string"
                  }
                },
                "resourceId" : {
                  "type" : "string",
                  "description" : "The ID of the resource corresponding to this hop.",
                  "readOnly" : true
                },
                "type" : {
                  "type" : "string",
                  "description" : "The type of the hop.",
                  "readOnly" : true
                }
              },
              "description" : "Information about a hop between the source and the destination."
            }
          },
          "maxLatencyInMs" : {
            "type" : "integer",
            "description" : "Maximum latency in ms."
          },
          "minLatencyInMs" : {
            "type" : "integer",
            "description" : "Minimum latency in ms."
          },
          "probesFailed" : {
            "type" : "integer",
            "description" : "The number of failed probes."
          },
          "probesSent" : {
            "type" : "integer",
            "description" : "The number of sent probes."
          },
          "startTime" : {
            "type" : "string",
            "description" : "The start time of the connection snapshot.",
            "format" : "date-time"
          }
        },
        "description" : "Connection state snapshot."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}