{"openapi":"3.0.1","info":{"title":"Azure SQL Database Backup","description":"Provides read functionality for Azure SQL Database Backups","version":"2014-04-01"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases":{"get":{"tags":["RecoverableDatabases"],"description":"Gets a list of recoverable databases","operationId":"RecoverableDatabases_ListByServer","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecoverableDatabaseListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases/{databaseName}":{"get":{"tags":["RecoverableDatabases"],"description":"Gets a recoverable database, which is a resource representing a database's geo backup","operationId":"RecoverableDatabases_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecoverableDatabase"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases":{"get":{"tags":["RestorableDroppedDatabases"],"description":"Gets a list of deleted databases that can be restored","operationId":"RestorableDroppedDatabases_ListByServer","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestorableDroppedDatabaseListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases/{restorableDroppededDatabaseId}":{"get":{"tags":["RestorableDroppedDatabases"],"description":"Gets a deleted database that can be restored","operationId":"RestorableDroppedDatabases_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"restorableDroppededDatabaseId","in":"path","description":"The id of the deleted database in the form of databaseName,deletionTimeInFileTimeFormat","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestorableDroppedDatabase"}}}}}}}},"components":{"schemas":{"RecoverableDatabase":{"properties":{"properties":{"$ref":"#/components/schemas/RecoverableDatabaseProperties"}},"description":"A recoverable database","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"RecoverableDatabaseListResult":{"required":["value"],"type":"object","properties":{"value":{"type":"array","description":"A list of recoverable databases","items":{"$ref":"#/components/schemas/RecoverableDatabase"}}},"description":"The response to a list recoverable databases request"},"RecoverableDatabaseProperties":{"type":"object","properties":{"edition":{"type":"string","description":"The edition of the database","readOnly":true},"elasticPoolName":{"type":"string","description":"The elastic pool name of the database","readOnly":true},"lastAvailableBackupDate":{"type":"string","description":"The last available backup date of the database (ISO8601 format)","format":"date-time","readOnly":true},"serviceLevelObjective":{"type":"string","description":"The service level objective name of the database","readOnly":true}},"description":"The properties of a recoverable database"},"RestorableDroppedDatabase":{"properties":{"location":{"type":"string","description":"The geo-location where the resource lives","readOnly":true},"properties":{"$ref":"#/components/schemas/RestorableDroppedDatabaseProperties"}},"description":"A restorable dropped database","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"RestorableDroppedDatabaseListResult":{"required":["value"],"type":"object","properties":{"value":{"type":"array","description":"A list of restorable dropped databases","items":{"$ref":"#/components/schemas/RestorableDroppedDatabase"}}},"description":"The response to a list restorable dropped databases request"},"RestorableDroppedDatabaseProperties":{"type":"object","properties":{"creationDate":{"type":"string","description":"The creation date of the database (ISO8601 format)","format":"date-time","readOnly":true},"databaseName":{"type":"string","description":"The name of the database","readOnly":true},"deletionDate":{"type":"string","description":"The deletion date of the database (ISO8601 format)","format":"date-time","readOnly":true},"earliestRestoreDate":{"type":"string","description":"The earliest restore date of the database (ISO8601 format)","format":"date-time","readOnly":true},"edition":{"type":"string","description":"The edition of the database","readOnly":true},"elasticPoolName":{"type":"string","description":"The elastic pool name of the database","readOnly":true},"maxSizeBytes":{"type":"string","description":"The max size in bytes of the database","readOnly":true},"serviceLevelObjective":{"type":"string","description":"The service level objective name of the database","readOnly":true}},"description":"The properties of a restorable dropped database"}},"parameters":{"DatabaseExpandParameter":{"name":"$expand","in":"query","description":"A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.","schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}