{"openapi":"3.0.3","servers":[{"url":"https://api.notion.com"}],"info":{"description":"Hello and welcome!\n\nTo make use of the Public Beta collection as it's written, please duplicate [this database template](https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae?v=dc1b92875fb94f10834ba8d36549bd2a).\n\n[Create an integration](https://www.notion.so/my-integrations) to retrieve an API token, add your database and page ID's as variables in the collection, and start making your requests!  \n\nFor our full documentation, including sample integrations and guides, visit [developers.notion.com](developers.notion.com)\n\nNeed more help? Join our [developer community on Slack](https://join.slack.com/t/notiondevs/shared_invite/zt-lkrnk74h-YmPRroySRFGiqgjI193AqA/)","title":"Notion API - Public Beta","version":"1.0.0","x-apisguru-categories":["collaboration"],"x-logo":{"url":"https://api.apis.guru/v2/cache/logo/https_notion.com_front-static_logo-ios.png"},"x-origin":[{"format":"postman","url":"https://www.postman.com/collections/15568543-d990f9b7-98d3-47d3-9131-4866ab9c6df2","version":"2.x"}],"x-providerName":"notion.com"},"tags":[{"name":"Users"},{"name":"Databases"},{"name":"Pages"},{"name":"Blocks"},{"name":"Search"}],"paths":{"/v1/blocks/{id}":{"parameters":[{"in":"path","name":"id","required":true,"schema":{"example":"{{BLOCK_ID}}","type":"string"}}],"get":{"description":"Retrieve a block","operationId":"retrieveABlock","responses":{"200":{"content":{"application/json":{"schema":{"properties":{"created_time":{"example":"2021-08-06T17:46:00.000Z","type":"string"},"has_children":{"example":false,"type":"boolean"},"id":{"example":"4868767d-9029-4b9d-a41b-652ef4c9c7b9","type":"string"},"last_edited_time":{"example":"2021-08-12T00:12:00.000Z","type":"string"},"object":{"example":"block","type":"string"},"paragraph":{"properties":{"text":{"items":{"properties":{"annotations":{"properties":{"bold":{"example":false,"type":"boolean"},"code":{"example":false,"type":"boolean"},"color":{"example":"default","type":"string"},"italic":{"example":false,"type":"boolean"},"strikethrough":{"example":false,"type":"boolean"},"underline":{"example":false,"type":"boolean"}},"type":"object"},"href":{"nullable":true},"plain_text":{"example":"hello to you","type":"string"},"text":{"properties":{"content":{"example":"hello to you","type":"string"},"link":{"nullable":true}},"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":{"example":"paragraph","type":"string"}},"type":"object"}}},"description":"200 Success - Retrieve a block","headers":{"CF-Cache-Status":{"schema":{"example":"DYNAMIC","type":"string"}},"CF-RAY":{"schema":{"example":"67d58148ef562544-SJC","type":"string"}},"Connection":{"schema":{"example":"keep-alive","type":"string"}},"Content-Encoding":{"schema":{"example":"gzip","type":"string"}},"Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com https://client.mutinycdn.com/ https://user-data.mutinycdn.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io https://user-data.mutinycdn.com https://api-v2.mutinyhq.io https://api.statuspage.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"Date":{"schema":{"example":"Thu, 12 Aug 2021 00:14:42 GMT","type":"string"}},"ETag":{"schema":{"example":"W/\"1ae-RFHXdRIvpQZuh0kRKb9XuWbFwzo\"","type":"string"}},"Expect-CT":{"schema":{"example":"max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"","type":"string"}},"Referrer-Policy":{"schema":{"example":"same-origin","type":"string"}},"Server":{"schema":{"example":"cloudflare","type":"string"}},"Set-Cookie":{"schema":{"example":"notion_browser_id=e557ec39-01fc-4a4e-84a1-0a6b1ab4a579; Domain=www.notion.so; Path=/; Expires=Sun, 20 Apr 2053 02:01:22 GMT; Secure","type":"string"}},"Strict-Transport-Security":{"schema":{"example":"max-age=5184000; includeSubDomains","type":"string"}},"Transfer-Encoding":{"schema":{"example":"chunked","type":"string"}},"Vary":{"schema":{"example":"Accept-Encoding","type":"string"}},"X-Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com https://client.mutinycdn.com/ https://user-data.mutinycdn.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io https://user-data.mutinycdn.com https://api-v2.mutinyhq.io https://api.statuspage.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-Content-Type-Options":{"schema":{"example":"nosniff","type":"string"}},"X-DNS-Prefetch-Control":{"schema":{"example":"off","type":"string"}},"X-Download-Options":{"schema":{"example":"noopen","type":"string"}},"X-Frame-Options":{"schema":{"example":"SAMEORIGIN","type":"string"}},"X-WebKit-CSP":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com https://client.mutinycdn.com/ https://user-data.mutinycdn.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io https://user-data.mutinycdn.com https://api-v2.mutinyhq.io https://api.statuspage.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-XSS-Protection":{"schema":{"example":"1; mode=block","type":"string"}}}}},"summary":"Retrieve a block","tags":["Blocks"]},"patch":{"description":"This endpoint allows you to update block content. [See Full Documentation](https://developers.notion.com/reference/update-a-block)","operationId":"updateABlock","requestBody":{"content":{"application/json":{"example":{"paragraph":{"text":[{"text":{"content":"hello to you"},"type":"text"}]}},"schema":{"properties":{"paragraph":{"properties":{"text":{"items":{"properties":{"text":{"properties":{"content":{"example":"hello to you","type":"string"}},"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"type":"array"}},"type":"object"}},"type":"object"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"created_time":{"example":"2021-08-06T17:46:00.000Z","type":"string"},"has_children":{"example":false,"type":"boolean"},"id":{"example":"4868767d-9029-4b9d-a41b-652ef4c9c7b9","type":"string"},"last_edited_time":{"example":"2021-08-12T00:12:00.000Z","type":"string"},"object":{"example":"block","type":"string"},"paragraph":{"properties":{"text":{"items":{"properties":{"annotations":{"properties":{"bold":{"example":false,"type":"boolean"},"code":{"example":false,"type":"boolean"},"color":{"example":"default","type":"string"},"italic":{"example":false,"type":"boolean"},"strikethrough":{"example":false,"type":"boolean"},"underline":{"example":false,"type":"boolean"}},"type":"object"},"href":{"nullable":true},"plain_text":{"example":"hello to you","type":"string"},"text":{"properties":{"content":{"example":"hello to you","type":"string"},"link":{"nullable":true}},"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":{"example":"paragraph","type":"string"}},"type":"object"}}},"description":"200 Success - Update a block","headers":{"CF-Cache-Status":{"schema":{"example":"DYNAMIC","type":"string"}},"CF-RAY":{"schema":{"example":"67d57e86ea672544-SJC","type":"string"}},"Connection":{"schema":{"example":"keep-alive","type":"string"}},"Content-Encoding":{"schema":{"example":"gzip","type":"string"}},"Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com https://client.mutinycdn.com/ https://user-data.mutinycdn.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io https://user-data.mutinycdn.com https://api-v2.mutinyhq.io https://api.statuspage.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"Date":{"schema":{"example":"Thu, 12 Aug 2021 00:12:49 GMT","type":"string"}},"ETag":{"schema":{"example":"W/\"1ae-RFHXdRIvpQZuh0kRKb9XuWbFwzo\"","type":"string"}},"Expect-CT":{"schema":{"example":"max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"","type":"string"}},"Referrer-Policy":{"schema":{"example":"same-origin","type":"string"}},"Server":{"schema":{"example":"cloudflare","type":"string"}},"Set-Cookie":{"schema":{"example":"notion_browser_id=72dd4057-624e-4aa3-80c6-ab911ed059b7; Domain=www.notion.so; Path=/; Expires=Sun, 20 Apr 2053 01:59:29 GMT; Secure","type":"string"}},"Strict-Transport-Security":{"schema":{"example":"max-age=5184000; includeSubDomains","type":"string"}},"Transfer-Encoding":{"schema":{"example":"chunked","type":"string"}},"Vary":{"schema":{"example":"Accept-Encoding","type":"string"}},"X-Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com https://client.mutinycdn.com/ https://user-data.mutinycdn.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io https://user-data.mutinycdn.com https://api-v2.mutinyhq.io https://api.statuspage.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-Content-Type-Options":{"schema":{"example":"nosniff","type":"string"}},"X-DNS-Prefetch-Control":{"schema":{"example":"off","type":"string"}},"X-Download-Options":{"schema":{"example":"noopen","type":"string"}},"X-Frame-Options":{"schema":{"example":"SAMEORIGIN","type":"string"}},"X-WebKit-CSP":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com https://client.mutinycdn.com/ https://user-data.mutinycdn.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io https://user-data.mutinycdn.com https://api-v2.mutinyhq.io https://api.statuspage.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-XSS-Protection":{"schema":{"example":"1; mode=block","type":"string"}}}}},"summary":"Update a block","tags":["Blocks"]}},"/v1/blocks/{id}/children":{"parameters":[{"in":"path","name":"id","required":true,"schema":{"example":"{{PAGE_ID}}","type":"string"}}],"get":{"description":"Retrieve block children","operationId":"retrieveBlockChildren","parameters":[{"in":"query","name":"page_size","schema":{"example":"100","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"has_more":{"example":false,"type":"boolean"},"next_cursor":{"nullable":true},"object":{"example":"list","type":"string"},"results":{"items":{"properties":{"created_time":{"example":"2021-04-27T20:38:19.437Z","type":"string"},"has_children":{"example":false,"type":"boolean"},"id":{"example":"48c1ffb5-2789-4025-937b-2c35eaaaab3f","type":"string"},"last_edited_time":{"example":"2021-04-27T20:38:19.437Z","type":"string"},"object":{"example":"block","type":"string"},"type":{"example":"unsupported","type":"string"},"unsupported":{"type":"object"}},"type":"object"},"type":"array"}},"type":"object"}}},"description":"200 Success - Retrieve block children","headers":{"CF-Cache-Status":{"schema":{"example":"DYNAMIC","type":"string"}},"CF-RAY":{"schema":{"example":"647435237cce6dc4-SJC","type":"string"}},"Connection":{"schema":{"example":"keep-alive","type":"string"}},"Content-Encoding":{"schema":{"example":"gzip","type":"string"}},"Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"Date":{"schema":{"example":"Wed, 28 Apr 2021 23:53:00 GMT","type":"string"}},"ETag":{"schema":{"example":"W/\"65f3-d0AArGizyGsk597xfjWN7976xCc\"","type":"string"}},"Expect-CT":{"schema":{"example":"max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"","type":"string"}},"Referrer-Policy":{"schema":{"example":"same-origin","type":"string"}},"Server":{"schema":{"example":"cloudflare","type":"string"}},"Set-Cookie":{"schema":{"example":"notion_browser_id=a1b1f1dd-7731-4a2b-b968-10b475e3b526; Domain=www.notion.so; Path=/; Expires=Sun, 05 Jan 2053 01:39:40 GMT; Secure","type":"string"}},"Strict-Transport-Security":{"schema":{"example":"max-age=5184000; includeSubDomains","type":"string"}},"Transfer-Encoding":{"schema":{"example":"chunked","type":"string"}},"Vary":{"schema":{"example":"Accept-Encoding","type":"string"}},"X-Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-Content-Type-Options":{"schema":{"example":"nosniff","type":"string"}},"X-DNS-Prefetch-Control":{"schema":{"example":"off","type":"string"}},"X-Download-Options":{"schema":{"example":"noopen","type":"string"}},"X-Frame-Options":{"schema":{"example":"SAMEORIGIN","type":"string"}},"X-WebKit-CSP":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-XSS-Protection":{"schema":{"example":"1; mode=block","type":"string"}},"cf-request-id":{"schema":{"example":"09bc7f8a2a00006dc41a11e000000001","type":"string"}}}}},"summary":"Retrieve block children","tags":["Blocks"]},"patch":{"description":"Append block children","operationId":"appendBlockChildren","requestBody":{"content":{"application/json":{"example":{"children":[{"heading_2":{"text":[{"text":{"content":"Lacinato kale"},"type":"text"}]},"object":"block","type":"heading_2"},{"object":"block","paragraph":{"text":[{"text":{"content":"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.","link":{"url":"https://en.wikipedia.org/wiki/Lacinato_kale"}},"type":"text"}]},"type":"paragraph"}]},"schema":{"properties":{"children":{"items":{"properties":{"heading_2":{"properties":{"text":{"items":{"properties":{"text":{"properties":{"content":{"example":"Lacinato kale","type":"string"}},"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"object":{"example":"block","type":"string"},"type":{"example":"heading_2","type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"child_page":{"properties":{"title":{"example":"Who Will Teach Silicon Valley to Be Ethical? ","type":"string"}},"type":"object"},"created_time":{"example":"2021-04-27T20:38:19.437Z","type":"string"},"has_children":{"example":true,"type":"boolean"},"id":{"example":"a1712d54-53e4-4893-a69d-4d581cd2c845","type":"string"},"last_edited_time":{"example":"2021-05-12T06:07:37.724Z","type":"string"},"object":{"example":"block","type":"string"},"type":{"example":"child_page","type":"string"}},"type":"object"}}},"description":"200 Success - Append block children","headers":{"CF-Cache-Status":{"schema":{"example":"DYNAMIC","type":"string"}},"CF-RAY":{"schema":{"example":"64e177c41a820231-SJC","type":"string"}},"Connection":{"schema":{"example":"keep-alive","type":"string"}},"Content-Encoding":{"schema":{"example":"gzip","type":"string"}},"Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"Date":{"schema":{"example":"Wed, 12 May 2021 06:07:37 GMT","type":"string"}},"ETag":{"schema":{"example":"W/\"105-p1Ka6kLp+wkCMX+oZhcjZAtwEtc\"","type":"string"}},"Expect-CT":{"schema":{"example":"max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"","type":"string"}},"Referrer-Policy":{"schema":{"example":"same-origin","type":"string"}},"Server":{"schema":{"example":"cloudflare","type":"string"}},"Set-Cookie":{"schema":{"example":"notion_browser_id=0724819e-ad9a-4b7f-b50e-e5c75d6763dd; Domain=www.notion.so; Path=/; Expires=Sat, 18 Jan 2053 07:54:17 GMT; Secure","type":"string"}},"Strict-Transport-Security":{"schema":{"example":"max-age=5184000; includeSubDomains","type":"string"}},"Transfer-Encoding":{"schema":{"example":"chunked","type":"string"}},"Vary":{"schema":{"example":"Accept-Encoding","type":"string"}},"X-Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-Content-Type-Options":{"schema":{"example":"nosniff","type":"string"}},"X-DNS-Prefetch-Control":{"schema":{"example":"off","type":"string"}},"X-Download-Options":{"schema":{"example":"noopen","type":"string"}},"X-Frame-Options":{"schema":{"example":"SAMEORIGIN","type":"string"}},"X-WebKit-CSP":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-XSS-Protection":{"schema":{"example":"1; mode=block","type":"string"}},"cf-request-id":{"schema":{"example":"0a00c92e8d00000231bf82c000000001","type":"string"}}}}},"summary":"Append block children","tags":["Blocks"]}},"/v1/databases/{id}":{"parameters":[{"in":"path","name":"id","required":true,"schema":{"example":"{{DATABASE_ID}}","type":"string"}}],"get":{"description":"Retrieves a database object using the ID specified in the request path. ","operationId":"retrieveADatabase","responses":{"200":{"content":{"application/json":{"schema":{"properties":{"created_time":{"example":"2021-04-27T20:38:19.437Z","type":"string"},"id":{"example":"8e2c2b76-9e1d-47d2-87b9-ed3035d607ae","type":"string"},"last_edited_time":{"example":"2021-04-27T21:15:00.000Z","type":"string"},"object":{"example":"database","type":"string"},"properties":{"properties":{"Author":{"properties":{"id":{"example":"qNw_","type":"string"},"multi_select":{"properties":{"options":{"items":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"15592971-7b30-43d5-9406-2eb69b13fcae","type":"string"},"name":{"example":"Spencer Greenberg","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":{"example":"multi_select","type":"string"}},"type":"object"},"Link":{"properties":{"id":{"example":"VVMi","type":"string"},"type":{"example":"url","type":"string"},"url":{"type":"object"}},"type":"object"},"Name":{"properties":{"id":{"example":"title","type":"string"},"title":{"type":"object"},"type":{"example":"title","type":"string"}},"type":"object"},"Publisher":{"properties":{"id":{"example":">$Pb","type":"string"},"select":{"properties":{"options":{"items":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"c5ee409a-f307-4176-99ee-6e424fa89afa","type":"string"},"name":{"example":"NYT","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Publishing/Release Date":{"properties":{"date":{"type":"object"},"id":{"example":"?ex+","type":"string"},"type":{"example":"date","type":"string"}},"type":"object"},"Read":{"properties":{"checkbox":{"type":"object"},"id":{"example":"_MWJ","type":"string"},"type":{"example":"checkbox","type":"string"}},"type":"object"},"Score /5":{"properties":{"id":{"example":")Y7\"","type":"string"},"select":{"properties":{"options":{"items":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"5c944de7-3f4b-4567-b3a1-fa2c71c540b6","type":"string"},"name":{"example":"⭐️⭐️⭐️⭐️⭐️","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Status":{"properties":{"id":{"example":"`zz5","type":"string"},"select":{"properties":{"options":{"items":{"properties":{"color":{"example":"yellow","type":"string"},"id":{"example":"8c4a056e-6709-4dd1-ba58-d34d9480855a","type":"string"},"name":{"example":"Ready to Start","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Summary":{"properties":{"id":{"example":"?\\25","type":"string"},"text":{"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"Type":{"properties":{"id":{"example":"/7eo","type":"string"},"select":{"properties":{"options":{"items":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"f96d0d0a-5564-4a20-ab15-5f040d49759e","type":"string"},"name":{"example":"Article","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"}},"type":"object"},"title":{"items":{"properties":{"annotations":{"properties":{"bold":{"example":false,"type":"boolean"},"code":{"example":false,"type":"boolean"},"color":{"example":"default","type":"string"},"italic":{"example":false,"type":"boolean"},"strikethrough":{"example":false,"type":"boolean"},"underline":{"example":false,"type":"boolean"}},"type":"object"},"href":{"nullable":true},"plain_text":{"example":"Media","type":"string"},"text":{"properties":{"content":{"example":"Media","type":"string"},"link":{"nullable":true}},"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}},"description":"200 Success - Retrieve a database","headers":{"CF-Cache-Status":{"schema":{"example":"DYNAMIC","type":"string"}},"CF-RAY":{"schema":{"example":"646b122b5e6d269a-SJC","type":"string"}},"Connection":{"schema":{"example":"keep-alive","type":"string"}},"Content-Encoding":{"schema":{"example":"gzip","type":"string"}},"Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"Date":{"schema":{"example":"Tue, 27 Apr 2021 21:16:17 GMT","type":"string"}},"ETag":{"schema":{"example":"W/\"ec4-zjtg92X8dlV+o+GOEWHEth+DGEk\"","type":"string"}},"Expect-CT":{"schema":{"example":"max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"","type":"string"}},"Referrer-Policy":{"schema":{"example":"same-origin","type":"string"}},"Server":{"schema":{"example":"cloudflare","type":"string"}},"Set-Cookie":{"schema":{"example":"notion_browser_id=9122a199-c9bd-4be0-9313-ef4af9d1a2bc; Domain=www.notion.so; Path=/; Expires=Fri, 03 Jan 2053 23:02:57 GMT; Secure","type":"string"}},"Strict-Transport-Security":{"schema":{"example":"max-age=5184000; includeSubDomains","type":"string"}},"Transfer-Encoding":{"schema":{"example":"chunked","type":"string"}},"Vary":{"schema":{"example":"Accept-Encoding","type":"string"}},"X-Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-Content-Type-Options":{"schema":{"example":"nosniff","type":"string"}},"X-DNS-Prefetch-Control":{"schema":{"example":"off","type":"string"}},"X-Download-Options":{"schema":{"example":"noopen","type":"string"}},"X-Frame-Options":{"schema":{"example":"SAMEORIGIN","type":"string"}},"X-WebKit-CSP":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-XSS-Protection":{"schema":{"example":"1; mode=block","type":"string"}},"cf-request-id":{"schema":{"example":"09b6c9af130000269a31192000000001","type":"string"}}}}},"summary":"Retrieve a database","tags":["Databases"]},"patch":{"description":"Update a database","operationId":"updateADatabase","requestBody":{"content":{"application/json":{"example":{"properties":{"Wine Pairing":{"rich_text":{}}},"title":[{"text":{"content":"Ever Better Reading List Title"}}]},"schema":{"properties":{"properties":{"properties":{"Wine Pairing":{"properties":{"rich_text":{"type":"object"}},"type":"object"}},"type":"object"},"title":{"items":{"properties":{"text":{"properties":{"content":{"example":"Ever Better Reading List Title","type":"string"}},"type":"object"}},"type":"object"},"type":"array"}},"type":"object"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"created_time":{"example":"2021-05-14T18:22:00.000Z","type":"string"},"id":{"example":"7a94f22f-59ae-484d-90ac-4aeddd667641","type":"string"},"last_edited_time":{"example":"2021-08-13T23:40:00.000Z","type":"string"},"object":{"example":"database","type":"string"},"parent":{"properties":{"page_id":{"example":"10941704-8885-4be3-83c9-bb918b171bb6","type":"string"},"type":{"example":"page_id","type":"string"}},"type":"object"},"properties":{"properties":{"Author":{"properties":{"id":{"example":"qNw_","type":"string"},"multi_select":{"properties":{"options":{"items":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"15592971-7b30-43d5-9406-2eb69b13fcae","type":"string"},"name":{"example":"Spencer Greenberg","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"name":{"example":"Author","type":"string"},"type":{"example":"multi_select","type":"string"}},"type":"object"},"Link":{"properties":{"id":{"example":"VVMi","type":"string"},"name":{"example":"Link","type":"string"},"type":{"example":"url","type":"string"},"url":{"type":"object"}},"type":"object"},"Name":{"properties":{"id":{"example":"title","type":"string"},"name":{"example":"Name","type":"string"},"title":{"type":"object"},"type":{"example":"title","type":"string"}},"type":"object"},"Publisher":{"properties":{"id":{"example":">$Pb","type":"string"},"name":{"example":"Publisher","type":"string"},"select":{"properties":{"options":{"items":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"c5ee409a-f307-4176-99ee-6e424fa89afa","type":"string"},"name":{"example":"NYT","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Publishing/Release Date":{"properties":{"date":{"type":"object"},"id":{"example":"?ex+","type":"string"},"name":{"example":"Publishing/Release Date","type":"string"},"type":{"example":"date","type":"string"}},"type":"object"},"Read":{"properties":{"checkbox":{"type":"object"},"id":{"example":"_MWJ","type":"string"},"name":{"example":"Read","type":"string"},"type":{"example":"checkbox","type":"string"}},"type":"object"},"Score /5":{"properties":{"id":{"example":")Y7\"","type":"string"},"name":{"example":"Score /5","type":"string"},"select":{"properties":{"options":{"items":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"5c944de7-3f4b-4567-b3a1-fa2c71c540b6","type":"string"},"name":{"example":"⭐️⭐️⭐️⭐️⭐️","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Status":{"properties":{"id":{"example":"`zz5","type":"string"},"name":{"example":"Status","type":"string"},"select":{"properties":{"options":{"items":{"properties":{"color":{"example":"yellow","type":"string"},"id":{"example":"8c4a056e-6709-4dd1-ba58-d34d9480855a","type":"string"},"name":{"example":"Ready to Start","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Summary":{"properties":{"id":{"example":"?\\25","type":"string"},"name":{"example":"Summary","type":"string"},"rich_text":{"type":"object"},"type":{"example":"rich_text","type":"string"}},"type":"object"},"Type":{"properties":{"id":{"example":"/7eo","type":"string"},"name":{"example":"Type","type":"string"},"select":{"properties":{"options":{"items":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"f96d0d0a-5564-4a20-ab15-5f040d49759e","type":"string"},"name":{"example":"Article","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Wine Pairing":{"properties":{"id":{"example":"WO@Z","type":"string"},"name":{"example":"Wine Pairing","type":"string"},"rich_text":{"type":"object"},"type":{"example":"rich_text","type":"string"}},"type":"object"},"date":{"properties":{"date":{"type":"object"},"id":{"example":"Lpwp","type":"string"},"name":{"example":"date","type":"string"},"type":{"example":"date","type":"string"}},"type":"object"}},"type":"object"},"title":{"items":{"properties":{"annotations":{"properties":{"bold":{"example":false,"type":"boolean"},"code":{"example":false,"type":"boolean"},"color":{"example":"default","type":"string"},"italic":{"example":false,"type":"boolean"},"strikethrough":{"example":false,"type":"boolean"},"underline":{"example":false,"type":"boolean"}},"type":"object"},"href":{"nullable":true},"plain_text":{"example":"Ever Better Reading List Title","type":"string"},"text":{"properties":{"content":{"example":"Ever Better Reading List Title","type":"string"},"link":{"nullable":true}},"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}},"description":"200 Success - Update a database","headers":{"CF-Cache-Status":{"schema":{"example":"DYNAMIC","type":"string"}},"CF-RAY":{"schema":{"example":"67e5caa48ec81fcb-SJC","type":"string"}},"Connection":{"schema":{"example":"keep-alive","type":"string"}},"Content-Encoding":{"schema":{"example":"gzip","type":"string"}},"Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com https://client.mutinycdn.com/ https://user-data.mutinycdn.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://user-data.mutinycdn.com https://api-v2.mutinyhq.io https://api.statuspage.io https://pgncd.notion.so; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"Date":{"schema":{"example":"Fri, 13 Aug 2021 23:40:59 GMT","type":"string"}},"ETag":{"schema":{"example":"W/\"1134-U2vg3OgeINOaVdSMQQV6q3vFdxk\"","type":"string"}},"Expect-CT":{"schema":{"example":"max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"","type":"string"}},"Referrer-Policy":{"schema":{"example":"same-origin","type":"string"}},"Server":{"schema":{"example":"cloudflare","type":"string"}},"Set-Cookie":{"schema":{"example":"notion_browser_id=6780d959-e8e5-4461-86ea-50a9e6c100a6; Domain=www.notion.so; Path=/; Expires=Tue, 22 Apr 2053 01:27:39 GMT; Secure","type":"string"}},"Strict-Transport-Security":{"schema":{"example":"max-age=5184000; includeSubDomains","type":"string"}},"Transfer-Encoding":{"schema":{"example":"chunked","type":"string"}},"Vary":{"schema":{"example":"Accept-Encoding","type":"string"}},"X-Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com https://client.mutinycdn.com/ https://user-data.mutinycdn.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://user-data.mutinycdn.com https://api-v2.mutinyhq.io https://api.statuspage.io https://pgncd.notion.so; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-Content-Type-Options":{"schema":{"example":"nosniff","type":"string"}},"X-DNS-Prefetch-Control":{"schema":{"example":"off","type":"string"}},"X-Download-Options":{"schema":{"example":"noopen","type":"string"}},"X-Frame-Options":{"schema":{"example":"SAMEORIGIN","type":"string"}},"X-WebKit-CSP":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com https://client-registry.mutinycdn.com https://client.mutinycdn.com/ https://user-data.mutinycdn.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://user-data.mutinycdn.com https://api-v2.mutinyhq.io https://api.statuspage.io https://pgncd.notion.so; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-XSS-Protection":{"schema":{"example":"1; mode=block","type":"string"}}}}},"summary":"Update a database","tags":["Databases"]}},"/v1/databases/{id}/query":{"parameters":[{"in":"path","name":"id","required":true,"schema":{"example":"{{DATABASE_ID}}","type":"string"}}],"post":{"description":"Query a database","operationId":"queryADatabase","requestBody":{"content":{"application/json":{"example":{"filter":{"or":[{"property":"Status","select":{"equals":"Reading"}},{"property":"Publisher","select":{"equals":"NYT"}}]},"sorts":[{"direction":"ascending","property":"Score /5"}]},"schema":{"properties":{"filter":{"properties":{"or":{"items":{"properties":{"property":{"example":"Status","type":"string"},"select":{"properties":{"equals":{"example":"Reading","type":"string"}},"type":"object"}},"type":"object"},"type":"array"}},"type":"object"},"sorts":{"items":{"properties":{"direction":{"example":"ascending","type":"string"},"property":{"example":"Score /5","type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"has_more":{"example":false,"type":"boolean"},"next_cursor":{"nullable":true},"object":{"example":"list","type":"string"},"results":{"items":{"properties":{"archived":{"example":false,"type":"boolean"},"created_time":{"example":"2021-04-27T20:38:19.437Z","type":"string"},"id":{"example":"557ef501-bfdb-4586-918e-4434f31bca8c","type":"string"},"last_edited_time":{"example":"2021-04-27T20:38:19.437Z","type":"string"},"object":{"example":"page","type":"string"},"parent":{"properties":{"database_id":{"example":"8e2c2b76-9e1d-47d2-87b9-ed3035d607ae","type":"string"},"type":{"example":"database_id","type":"string"}},"type":"object"},"properties":{"properties":{"Author":{"properties":{"id":{"example":"qNw_","type":"string"},"multi_select":{"items":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"ae3a2cbe-1fc9-4376-be35-331628b34623","type":"string"},"name":{"example":"Karen Swallow Prior","type":"string"}},"type":"object"},"type":"array"},"type":{"example":"multi_select","type":"string"}},"type":"object"},"Link":{"properties":{"id":{"example":"VVMi","type":"string"},"type":{"example":"url","type":"string"},"url":{"example":"https://www.theatlantic.com/entertainment/archive/2016/03/how-jane-eyre-created-the-modern-self/460461/","type":"string"}},"type":"object"},"Name":{"properties":{"id":{"example":"title","type":"string"},"title":{"items":{"properties":{"annotations":{"properties":{"bold":{"example":false,"type":"boolean"},"code":{"example":false,"type":"boolean"},"color":{"example":"default","type":"string"},"italic":{"example":true,"type":"boolean"},"strikethrough":{"example":false,"type":"boolean"},"underline":{"example":false,"type":"boolean"}},"type":"object"},"href":{"nullable":true},"plain_text":{"example":"Jane Eyre","type":"string"},"text":{"properties":{"content":{"example":"Jane Eyre","type":"string"},"link":{"nullable":true}},"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"type":"array"},"type":{"example":"title","type":"string"}},"type":"object"},"Publisher":{"properties":{"id":{"example":">$Pb","type":"string"},"select":{"properties":{"color":{"example":"red","type":"string"},"id":{"example":"01f82d08-aa1f-4884-a4e0-3bc32f909ec4","type":"string"},"name":{"example":"The Atlantic","type":"string"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Publishing/Release Date":{"properties":{"date":{"properties":{"end":{"nullable":true},"start":{"example":"2016-10-03","type":"string"}},"type":"object"},"id":{"example":"?ex+","type":"string"},"type":{"example":"date","type":"string"}},"type":"object"},"Read":{"properties":{"checkbox":{"example":false,"type":"boolean"},"id":{"example":"_MWJ","type":"string"},"type":{"example":"checkbox","type":"string"}},"type":"object"},"Score /5":{"properties":{"id":{"example":")Y7\"","type":"string"},"select":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"66d3d050-086c-4a91-8c56-d55dc67e7789","type":"string"},"name":{"example":"⭐️⭐️","type":"string"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Status":{"properties":{"id":{"example":"`zz5","type":"string"},"select":{"properties":{"color":{"example":"red","type":"string"},"id":{"example":"5925ba22-0126-4b58-90c7-b8bbb2c3c895","type":"string"},"name":{"example":"Reading","type":"string"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Summary":{"properties":{"id":{"example":"?\\25","type":"string"},"text":{"type":"array"},"type":{"example":"text","type":"string"}},"type":"object"},"Type":{"properties":{"id":{"example":"/7eo","type":"string"},"select":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"9cc30548-59d6-4cd3-94bc-d234081525c4","type":"string"},"name":{"example":"Essay Resource","type":"string"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"}},"type":"object"}},"type":"object"},"type":"array"}},"type":"object"}}},"description":"200 Success - Query a Database (Single Filter)","headers":{"CF-Cache-Status":{"schema":{"example":"DYNAMIC","type":"string"}},"CF-RAY":{"schema":{"example":"64742bf94bcc6dc4-SJC","type":"string"}},"Connection":{"schema":{"example":"keep-alive","type":"string"}},"Content-Encoding":{"schema":{"example":"gzip","type":"string"}},"Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"Date":{"schema":{"example":"Wed, 28 Apr 2021 23:46:45 GMT","type":"string"}},"ETag":{"schema":{"example":"W/\"f21-yS6Mhxpuh9b1qQqwcnv0VnpDQvE\"","type":"string"}},"Expect-CT":{"schema":{"example":"max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"","type":"string"}},"Referrer-Policy":{"schema":{"example":"same-origin","type":"string"}},"Server":{"schema":{"example":"cloudflare","type":"string"}},"Set-Cookie":{"schema":{"example":"notion_browser_id=b428cd25-ff7b-4760-9db6-a0607bba5f75; Domain=www.notion.so; Path=/; Expires=Sun, 05 Jan 2053 01:33:25 GMT; Secure","type":"string"}},"Strict-Transport-Security":{"schema":{"example":"max-age=5184000; includeSubDomains","type":"string"}},"Transfer-Encoding":{"schema":{"example":"chunked","type":"string"}},"Vary":{"schema":{"example":"Accept-Encoding","type":"string"}},"X-Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-Content-Type-Options":{"schema":{"example":"nosniff","type":"string"}},"X-DNS-Prefetch-Control":{"schema":{"example":"off","type":"string"}},"X-Download-Options":{"schema":{"example":"noopen","type":"string"}},"X-Frame-Options":{"schema":{"example":"SAMEORIGIN","type":"string"}},"X-WebKit-CSP":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-XSS-Protection":{"schema":{"example":"1; mode=block","type":"string"}},"cf-request-id":{"schema":{"example":"09bc79cfca00006dc430903000000001","type":"string"}}}}},"summary":"Query a database","tags":["Databases"]}},"/v1/pages/{id}":{"parameters":[{"in":"path","name":"id","required":true,"schema":{"example":"{{PAGE_ID}}","type":"string"}}],"get":{"description":"Retrieves a Page object using the ID in the request path. This endpoint exposes page properties, not page content. ","operationId":"retrieveAPage","responses":{"200":{"content":{"application/json":{"schema":{"properties":{"archived":{"example":false,"type":"boolean"},"created_time":{"example":"2021-04-27T20:38:19.437Z","type":"string"},"id":{"example":"a1712d54-53e4-4893-a69d-4d581cd2c845","type":"string"},"last_edited_time":{"example":"2021-04-27T20:38:19.437Z","type":"string"},"object":{"example":"page","type":"string"},"parent":{"properties":{"database_id":{"example":"8e2c2b76-9e1d-47d2-87b9-ed3035d607ae","type":"string"},"type":{"example":"database_id","type":"string"}},"type":"object"},"properties":{"properties":{"Author":{"properties":{"id":{"example":"qNw_","type":"string"},"multi_select":{"items":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"833e2c78-35ed-4601-badc-50c323341d76","type":"string"},"name":{"example":"Kara Swisher","type":"string"}},"type":"object"},"type":"array"},"type":{"example":"multi_select","type":"string"}},"type":"object"},"Link":{"properties":{"id":{"example":"VVMi","type":"string"},"type":{"example":"url","type":"string"},"url":{"example":"https://www.nytimes.com/2018/10/21/opinion/who-will-teach-silicon-valley-to-be-ethical.html","type":"string"}},"type":"object"},"Name":{"properties":{"id":{"example":"title","type":"string"},"title":{"items":{"properties":{"annotations":{"properties":{"bold":{"example":false,"type":"boolean"},"code":{"example":false,"type":"boolean"},"color":{"example":"default","type":"string"},"italic":{"example":false,"type":"boolean"},"strikethrough":{"example":false,"type":"boolean"},"underline":{"example":false,"type":"boolean"}},"type":"object"},"href":{"nullable":true},"plain_text":{"example":"Who Will Teach Silicon Valley to Be Ethical? ","type":"string"},"text":{"properties":{"content":{"example":"Who Will Teach Silicon Valley to Be Ethical? ","type":"string"},"link":{"nullable":true}},"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"type":"array"},"type":{"example":"title","type":"string"}},"type":"object"},"Publisher":{"properties":{"id":{"example":">$Pb","type":"string"},"select":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"c5ee409a-f307-4176-99ee-6e424fa89afa","type":"string"},"name":{"example":"NYT","type":"string"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Publishing/Release Date":{"properties":{"date":{"properties":{"end":{"nullable":true},"start":{"example":"2018-10-21","type":"string"}},"type":"object"},"id":{"example":"?ex+","type":"string"},"type":{"example":"date","type":"string"}},"type":"object"},"Read":{"properties":{"checkbox":{"example":false,"type":"boolean"},"id":{"example":"_MWJ","type":"string"},"type":{"example":"checkbox","type":"string"}},"type":"object"},"Status":{"properties":{"id":{"example":"`zz5","type":"string"},"select":{"properties":{"color":{"example":"yellow","type":"string"},"id":{"example":"8c4a056e-6709-4dd1-ba58-d34d9480855a","type":"string"},"name":{"example":"Ready to Start","type":"string"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Summary":{"properties":{"id":{"example":"?\\25","type":"string"},"text":{"items":{"properties":{"annotations":{"properties":{"bold":{"example":false,"type":"boolean"},"code":{"example":false,"type":"boolean"},"color":{"example":"default","type":"string"},"italic":{"example":false,"type":"boolean"},"strikethrough":{"example":false,"type":"boolean"},"underline":{"example":false,"type":"boolean"}},"type":"object"},"href":{"nullable":true},"plain_text":{"example":"Some think chief ethics officers could help technology companies navigate political and social questions.","type":"string"},"text":{"properties":{"content":{"example":"Some think chief ethics officers could help technology companies navigate political and social questions.","type":"string"},"link":{"nullable":true}},"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"type":"array"},"type":{"example":"text","type":"string"}},"type":"object"},"Type":{"properties":{"id":{"example":"/7eo","type":"string"},"select":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"f96d0d0a-5564-4a20-ab15-5f040d49759e","type":"string"},"name":{"example":"Article","type":"string"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"}},"type":"object"}},"type":"object"}}},"description":"200 Success - Retrieve a Page","headers":{"CF-Cache-Status":{"schema":{"example":"DYNAMIC","type":"string"}},"CF-RAY":{"schema":{"example":"6473e2c6efdf1fbf-SJC","type":"string"}},"Connection":{"schema":{"example":"keep-alive","type":"string"}},"Content-Encoding":{"schema":{"example":"gzip","type":"string"}},"Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"Date":{"schema":{"example":"Wed, 28 Apr 2021 22:56:47 GMT","type":"string"}},"ETag":{"schema":{"example":"W/\"74e-OOTyxxjrH/jUfdxafOC5PJJkAf8\"","type":"string"}},"Expect-CT":{"schema":{"example":"max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"","type":"string"}},"Referrer-Policy":{"schema":{"example":"same-origin","type":"string"}},"Server":{"schema":{"example":"cloudflare","type":"string"}},"Set-Cookie":{"schema":{"example":"notion_browser_id=38d6e64f-a286-4cdc-929d-6c077386ad73; Domain=www.notion.so; Path=/; Expires=Sun, 05 Jan 2053 00:43:27 GMT; Secure","type":"string"}},"Strict-Transport-Security":{"schema":{"example":"max-age=5184000; includeSubDomains","type":"string"}},"Transfer-Encoding":{"schema":{"example":"chunked","type":"string"}},"Vary":{"schema":{"example":"Accept-Encoding","type":"string"}},"X-Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-Content-Type-Options":{"schema":{"example":"nosniff","type":"string"}},"X-DNS-Prefetch-Control":{"schema":{"example":"off","type":"string"}},"X-Download-Options":{"schema":{"example":"noopen","type":"string"}},"X-Frame-Options":{"schema":{"example":"SAMEORIGIN","type":"string"}},"X-WebKit-CSP":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-XSS-Protection":{"schema":{"example":"1; mode=block","type":"string"}},"cf-request-id":{"schema":{"example":"09bc4c105500001fbf82b30000000001","type":"string"}}}}},"summary":"Retrieve a Page","tags":["Pages"]},"patch":{"description":"Updates a page by setting the values of any properties specified in the JSON body of the request. Properties not updated via parameters will remain unchanged. ","operationId":"updatePageProperties","requestBody":{"content":{"application/json":{"example":{"properties":{"Status":{"select":{"name":"Reading"}}}},"schema":{"properties":{"properties":{"properties":{"Status":{"properties":{"select":{"properties":{"name":{"example":"Reading","type":"string"}},"type":"object"}},"type":"object"}},"type":"object"}},"type":"object"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"archived":{"example":false,"type":"boolean"},"created_time":{"example":"2021-04-27T20:38:19.437Z","type":"string"},"id":{"example":"a1712d54-53e4-4893-a69d-4d581cd2c845","type":"string"},"last_edited_time":{"example":"2021-04-28T23:12:53.160Z","type":"string"},"object":{"example":"page","type":"string"},"parent":{"properties":{"database_id":{"example":"8e2c2b76-9e1d-47d2-87b9-ed3035d607ae","type":"string"},"type":{"example":"database_id","type":"string"}},"type":"object"},"properties":{"properties":{"Author":{"properties":{"id":{"example":"qNw_","type":"string"},"multi_select":{"items":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"833e2c78-35ed-4601-badc-50c323341d76","type":"string"},"name":{"example":"Kara Swisher","type":"string"}},"type":"object"},"type":"array"},"type":{"example":"multi_select","type":"string"}},"type":"object"},"Link":{"properties":{"id":{"example":"VVMi","type":"string"},"type":{"example":"url","type":"string"},"url":{"example":"https://www.nytimes.com/2018/10/21/opinion/who-will-teach-silicon-valley-to-be-ethical.html","type":"string"}},"type":"object"},"Name":{"properties":{"id":{"example":"title","type":"string"},"title":{"items":{"properties":{"annotations":{"properties":{"bold":{"example":false,"type":"boolean"},"code":{"example":false,"type":"boolean"},"color":{"example":"default","type":"string"},"italic":{"example":false,"type":"boolean"},"strikethrough":{"example":false,"type":"boolean"},"underline":{"example":false,"type":"boolean"}},"type":"object"},"href":{"nullable":true},"plain_text":{"example":"Who Will Teach Silicon Valley to Be Ethical? ","type":"string"},"text":{"properties":{"content":{"example":"Who Will Teach Silicon Valley to Be Ethical? ","type":"string"},"link":{"nullable":true}},"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"type":"array"},"type":{"example":"title","type":"string"}},"type":"object"},"Publisher":{"properties":{"id":{"example":">$Pb","type":"string"},"select":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"c5ee409a-f307-4176-99ee-6e424fa89afa","type":"string"},"name":{"example":"NYT","type":"string"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Publishing/Release Date":{"properties":{"date":{"properties":{"end":{"nullable":true},"start":{"example":"2018-10-21","type":"string"}},"type":"object"},"id":{"example":"?ex+","type":"string"},"type":{"example":"date","type":"string"}},"type":"object"},"Read":{"properties":{"checkbox":{"example":true,"type":"boolean"},"id":{"example":"_MWJ","type":"string"},"type":{"example":"checkbox","type":"string"}},"type":"object"},"Score /5":{"properties":{"id":{"example":")Y7\"","type":"string"},"select":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"b7307e35-c80a-4cb5-bb6b-6054523b394a","type":"string"},"name":{"example":"⭐️⭐️⭐️⭐️","type":"string"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Status":{"properties":{"id":{"example":"`zz5","type":"string"},"select":{"properties":{"color":{"example":"red","type":"string"},"id":{"example":"5925ba22-0126-4b58-90c7-b8bbb2c3c895","type":"string"},"name":{"example":"Reading","type":"string"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"},"Summary":{"properties":{"id":{"example":"?\\25","type":"string"},"rich_text":{"items":{"properties":{"annotations":{"properties":{"bold":{"example":false,"type":"boolean"},"code":{"example":false,"type":"boolean"},"color":{"example":"default","type":"string"},"italic":{"example":false,"type":"boolean"},"strikethrough":{"example":false,"type":"boolean"},"underline":{"example":false,"type":"boolean"}},"type":"object"},"href":{"nullable":true},"plain_text":{"example":"Some think chief ethics officers could help technology companies navigate political and social questions.","type":"string"},"text":{"properties":{"content":{"example":"Some think chief ethics officers could help technology companies navigate political and social questions.","type":"string"},"link":{"nullable":true}},"type":"object"},"type":{"example":"text","type":"string"}},"type":"object"},"type":"array"},"type":{"example":"rich_text","type":"string"}},"type":"object"},"Type":{"properties":{"id":{"example":"/7eo","type":"string"},"select":{"properties":{"color":{"example":"default","type":"string"},"id":{"example":"f96d0d0a-5564-4a20-ab15-5f040d49759e","type":"string"},"name":{"example":"Article","type":"string"}},"type":"object"},"type":{"example":"select","type":"string"}},"type":"object"}},"type":"object"}},"type":"object"}}},"description":"200 Success - Update Page properties","headers":{"CF-Cache-Status":{"schema":{"example":"DYNAMIC","type":"string"}},"CF-RAY":{"schema":{"example":"64e173ce6ca20231-SJC","type":"string"}},"Connection":{"schema":{"example":"keep-alive","type":"string"}},"Content-Encoding":{"schema":{"example":"gzip","type":"string"}},"Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"Date":{"schema":{"example":"Wed, 12 May 2021 06:04:55 GMT","type":"string"}},"ETag":{"schema":{"example":"W/\"7d8-jG4gaWNQPTIf72vp10FvF9p/N3Q\"","type":"string"}},"Expect-CT":{"schema":{"example":"max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"","type":"string"}},"Referrer-Policy":{"schema":{"example":"same-origin","type":"string"}},"Server":{"schema":{"example":"cloudflare","type":"string"}},"Set-Cookie":{"schema":{"example":"notion_browser_id=64874c87-50ce-4a41-af6f-3ecf1626325e; Domain=www.notion.so; Path=/; Expires=Sat, 18 Jan 2053 07:51:35 GMT; Secure","type":"string"}},"Strict-Transport-Security":{"schema":{"example":"max-age=5184000; includeSubDomains","type":"string"}},"Transfer-Encoding":{"schema":{"example":"chunked","type":"string"}},"Vary":{"schema":{"example":"Accept-Encoding","type":"string"}},"X-Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-Content-Type-Options":{"schema":{"example":"nosniff","type":"string"}},"X-DNS-Prefetch-Control":{"schema":{"example":"off","type":"string"}},"X-Download-Options":{"schema":{"example":"noopen","type":"string"}},"X-Frame-Options":{"schema":{"example":"SAMEORIGIN","type":"string"}},"X-WebKit-CSP":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"X-XSS-Protection":{"schema":{"example":"1; mode=block","type":"string"}},"cf-request-id":{"schema":{"example":"0a00c6b50400000231ecbbc000000001","type":"string"}}}}},"summary":"Update Page properties ","tags":["Pages"]}},"/v1/users/{id}":{"parameters":[{"in":"path","name":"id","required":true,"schema":{"example":"","type":"string"}}],"get":{"description":"Retrieve a user object using the ID specified in the request path.","operationId":"retrieveAUser","responses":{"200":{"content":{"application/json":{"schema":{"properties":{"avatar_url":{"nullable":true},"id":{"example":"6794760a-1f15-45cd-9c65-0dfe42f5135a","type":"string"},"name":{"example":"Aman Gupta","type":"string"},"object":{"example":"user","type":"string"},"person":{"properties":{"email":{"example":"XXXXXXX@makenotion.com","type":"string"}},"type":"object"},"type":{"example":"person","type":"string"}},"type":"object"}}},"description":"200 Success - Retrieve a user","headers":{"CF-Cache-Status":{"schema":{"example":"DYNAMIC","type":"string"}},"CF-RAY":{"schema":{"example":"646ad4bbeabc1fa1-SJC","type":"string"}},"Connection":{"schema":{"example":"keep-alive","type":"string"}},"Content-Encoding":{"schema":{"example":"gzip","type":"string"}},"Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://api.amplitude.com https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://embed.typeform.com https://admin.typeform.com https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://api.segment.io https://api.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com/v3 https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://api.unsplash.com https://boards-api.greenhouse.io; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:","type":"string"}},"Date":{"schema":{"example":"Tue, 27 Apr 2021 20:34:20 GMT","type":"string"}},"ETag":{"schema":{"example":"W/\"9b-qoibMBKquYk09T0oogqvLGu9qu4\"","type":"string"}},"Expect-CT":{"schema":{"example":"max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"","type":"string"}},"Referrer-Policy":{"schema":{"example":"same-origin","type":"string"}},"Server":{"schema":{"example":"cloudflare","type":"string"}},"Set-Cookie":{"schema":{"example":"notion_browser_id=f50d0c06-4f74-4a3d-8e10-c0a2e9bd1cd2; Domain=www.notion.so; Path=/; Expires=Fri, 03 Jan 2053 22:21:00 GMT; Secure","type":"string"}},"Strict-Transport-Security":{"schema":{"example":"max-age=5184000; includeSubDomains","type":"string"}},"Transfer-Encoding":{"schema":{"example":"chunked","type":"string"}},"Vary":{"schema":{"example":"Accept-Encoding","type":"string"}},"X-Content-Security-Policy":{"schema":{"example":"script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com ht
[...]
