{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Discovery Market Research",
    "description" : "<p>This API drives the <a href=\"https://discovery.gsa.gov\">Discovery Market Research Tool</a>.\nIt contains information on the vendors that are part of the OASIS and OASIS Small Business contracting vehicles, such as their contracting history, their elligibility for contract awards, and their small business designations.\nTo learn more about the tool, please visit <a href=\"https://discovery.gsa.gov\">Discovery</a> or see the README on our <a href=\"https://github.com/PSHCDevOps/discovery\">GitHub repository</a>.</p>\n<p><strong>Please note that the base path for this API is <code>https://api.data.gov/gsa/discovery/</code></strong></p>\n<p>It requires an API key, obtainable at <a href=\"http://api.data.gov/\">api.data.gov</a>.\nIt must be passed in the <code>api_key</code> parameter with each request.</p>",
    "contact" : {
      "email" : "discovery-18f@gsa.gov"
    },
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "https://discovery.gsa.gov/"
  } ],
  "tags" : [ {
    "name" : "contracts"
  }, {
    "name" : "metadata"
  }, {
    "name" : "naics"
  }, {
    "name" : "vendor"
  }, {
    "name" : "vendors"
  } ],
  "paths" : {
    "/api/contracts/" : {
      "get" : {
        "tags" : [ "contracts" ],
        "summary" : "This endpoint returns contract history from FPDS for a specific vendor",
        "description" : "<p>This endpoint returns contract history from FPDS for a specific vendor. The vendor's DUNS number is a required parameter. You can also filter contracts by their NAICS code to find contracts relevant to a particular category.</p>",
        "operationId" : "List_Contracts_GET",
        "parameters" : [ {
          "name" : "duns",
          "in" : "query",
          "description" : "A 9-digit DUNS number that uniquely identifies a vendor (required).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "naics",
          "in" : "query",
          "description" : "a six digit NAICS code used to filter by contracts with a certain NAICS",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "a field to sort on. Choices are date, status, agency, and amount",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "The sort direction of the results. Choices are asc or desc.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "the page to start on. Results are paginated in increments of 100. Begins at page=1.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/metadata/" : {
      "get" : {
        "tags" : [ "metadata" ],
        "summary" : "This endpoint returns metadata for the most recent data loads of SAM and FPDS data",
        "description" : "<p>This endpoint returns metadata for the most recent data loads of SAM and FPDS data. It takes no parameters.</p>",
        "operationId" : "Metadata_GET",
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/naics/" : {
      "get" : {
        "tags" : [ "naics" ],
        "summary" : "This endpoint lists all of the NAICS codes that are relevant to the OASIS family of vehicles",
        "description" : "<p>This endpoint lists all of the NAICS codes that are relevant to the OASIS family of vehicles. It takes no parameters.</p>",
        "operationId" : "List_Naics_GET",
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/vendor/{duns}" : {
      "get" : {
        "tags" : [ "vendor" ],
        "summary" : "This endpoint returns a single vendor by their 9 digit DUNS number",
        "description" : "<p>This endpoint returns a single vendor by their 9 digit DUNS number. DUNS numbers can be looked up in the <a href=\"https://www.sam.gov\">System for Award Management</a> by vendor name.</p>",
        "operationId" : "Get_Vendor_GET",
        "parameters" : [ {
          "name" : "duns",
          "in" : "path",
          "description" : "a nine digit DUNS number that uniquely identifies the vendor (required)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/vendors/" : {
      "get" : {
        "tags" : [ "vendors" ],
        "summary" : "This endpoint returns a list of vendors filtered by a NAICS code",
        "description" : "<p>This endpoint returns a list of vendors filtered by a NAICS code. The NAICS code maps to an OASIS pool and is used to retrieve vendors in that pool only.</p>\n<p>OASIS pools are groupings of NAICS codes that have the same small business size standard. Because contracts solicited to OASIS vendors can only be issued to one pool, much of the data is presented as part of a pool grouping. Using the NAICS code is a shortcut, so that you don't have to explicitly map the NAICS code to a pool in OASIS yourself.</p>\n<p>Vendors can also be filtered by a particular setaside. Valid values for the setasides are two-character codes which include:</p>\n<ul>\n<li>A6 (8(a))</li>\n<li>XX (Hubzone)</li>\n<li>QF (service disabled veteran owned)</li>\n<li>A2 (women owned)</li>\n<li>A5 (veteran owned)</li>\n<li>27 (small disadvantaged business).</li>\n</ul>",
        "operationId" : "List_Vendors_GET",
        "parameters" : [ {
          "name" : "naics",
          "in" : "query",
          "description" : "a six digit NAICS code (required)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "setasides",
          "in" : "query",
          "description" : "a comma delimited list of two character setaside codes to filter by.  Ex. setasides=A6,A5  will filter by 8a and veteran owned business.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "vehicle",
          "in" : "query",
          "description" : "Choices are either oasis or oasissb. Will filter vendors by their presence in either the OASIS unrestricted vehicle or the OASIS Small Business vehicle.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    }
  }
}