{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Bill Payment Validator",
    "description" : "The Bill Payment Validator service allows RPPS origination (payment sender) customers to identify if a potential RPPS transaction would process successfully before transmitting the formal payment transaction, reducing RPPS payment rejects and costly payment processing exceptions.",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.mastercard.com/billpayAPI/v1"
  } ],
  "paths" : {
    "/isRoutingValid" : {
      "post" : {
        "tags" : [ "RPPSPaymentValidatorAPI" ],
        "summary" : "Bill Payment Validator service returns the processing status for a potential RPPS transaction",
        "description" : "Bill Payment Validator performs real time transaction validation against the specified Biller ID's account masks, account check digits and all other registered RPPS processing parameters.",
        "requestBody" : {
          "description" : "Contains the details of the get PAR API request message.",
          "content" : {
            "application/JSON" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillPayRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "The Bill Payment Validator response.",
            "content" : {
              "application/JSON" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillPayResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/JSON" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BillPayAccountValidation" : {
        "type" : "object",
        "properties" : {
          "AccountNumber" : {
            "type" : "string",
            "description" : "Consumer account number populated in the message.  The minimum length is 8 and the maximum length is 22.",
            "example" : "1234567890"
          },
          "BillerId" : {
            "type" : "string",
            "description" : "Biller ID populated in the message. The maximum length is 10.",
            "example" : "9998887771"
          },
          "CustomerIdentifier1" : {
            "type" : "string",
            "description" : "Consumer identifier populated in the message.",
            "example" : ""
          },
          "CustomerIdentifier2" : {
            "type" : "string",
            "description" : "Consumer identifier populated in the message.",
            "example" : ""
          },
          "CustomerIdentifier3" : {
            "type" : "string",
            "description" : "Consumer identifier populated in the message.",
            "example" : ""
          },
          "CustomerIdentifier4" : {
            "type" : "string",
            "description" : "Consumer identifier populated in the message.",
            "example" : ""
          },
          "ResponseString" : {
            "type" : "string",
            "description" : "Indicates if the bill payment transaction information passed all RPPS transaction processing edits for the specified biller ID or indicates errors. The minimum length is 0 and the maximum length is 120.",
            "example" : "Successful"
          },
          "RppsId" : {
            "type" : "string",
            "description" : "Originator RPPS ID populated in the message.  The maximum length is 8.",
            "example" : "99887761"
          },
          "TransactionAmount" : {
            "type" : "string",
            "description" : "Amount populated in the message.",
            "example" : "250.00"
          }
        }
      },
      "BillPayRequest" : {
        "type" : "object",
        "properties" : {
          "BillPayAccountValidation" : {
            "$ref" : "#/components/schemas/BillPayAccountValidation"
          }
        }
      },
      "BillPayResponse" : {
        "type" : "object",
        "properties" : {
          "BillPayAccountValidation" : {
            "$ref" : "#/components/schemas/BillPayAccountValidation"
          }
        }
      },
      "Error" : {
        "type" : "object",
        "properties" : {
          "ReasonCode" : {
            "type" : "string",
            "description" : "This will identify the reason for the error."
          },
          "Source" : {
            "type" : "string",
            "description" : "This is the unique identifier that attempts to define the field in error when available.  If a specific field can't be identified System will be returned.",
            "example" : "Atms.Atm.Location.Address.Line1"
          }
        }
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "Errors" : {
            "$ref" : "#/components/schemas/Errors"
          }
        }
      },
      "Errors" : {
        "type" : "object",
        "properties" : {
          "Error" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}