{"openapi":"3.0.1","info":{"title":"Faretrotter Travel API","description":"Multimodal travel API to return modes of transportation between cities and points of interest.","version":"2.0"},"servers":[{"url":"https://api.faretrotter.com/v2.0/{apikey}"}],"paths":{"/places":{"get":{"summary":"Returns possible modes of transportation between two cities.","operationId":"GET_places","responses":{"200":{"description":"Everything worked as expected.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaceResponse"}}}},"400":{"description":"Parameters did not match the endpoint requirements. Check that all required fields are present and spelt correctly."},"401":{"description":"Authentication Failed."},"402":{"description":"All parameters are correct but the request failed."},"403":{"description":"Request IP does not match IP address registered with key."},"404":{"description":"The endpoint doesn't exist."},"429":{"description":"Too many requests hit the API too quickly."},"501":{"description":"Server error"},"502":{"description":"Server error"}}}},"/routes":{"get":{"operationId":"GET_routes","parameters":[{"name":"origin_lat","in":"query","required":true,"schema":{"type":"number"}},{"name":"origin_lng","in":"query","required":true,"schema":{"type":"number"}},{"name":"destination_lat","in":"query","required":true,"schema":{"type":"number"}},{"name":"destination_lng","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"Everything worked as expected.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoutesResponse"}}}},"400":{"description":"Parameters did not match the endpoint requirements. Check that all required fields are present and spelt correctly."},"401":{"description":"Authentication Failed."},"402":{"description":"All parameters are correct but the request failed."},"403":{"description":"Request IP does not match IP address registered with key."},"404":{"description":"The endpoint doesn't exist."},"429":{"description":"Too many requests hit the API too quickly."},"501":{"description":"Server error"},"502":{"description":"Server error"}}}}},"components":{"schemas":{"PlaceResponse":{"title":"Place response","required":["city","country","geoname_id","id","lat","lng","name","name_long","region","slug","type"],"type":"object","properties":{"city":{"type":"string"},"country":{"type":"string"},"geoname_id":{"type":"string"},"id":{"type":"string"},"lat":{"type":"number"},"lng":{"type":"number"},"name":{"type":"string"},"name_long":{"type":"string"},"region":{"type":"string"},"slug":{"type":"string"},"type":{"type":"string"}}},"PlacesResponse":{"title":"Places response","required":["places","request","status"],"type":"object","properties":{"places":{"type":"array","items":{"$ref":"#/components/schemas/PlaceResponse"}},"request":{"required":["distance_miles","endpoint","environment","fields","version"],"type":"object","properties":{"distance_miles":{"type":"number"},"endpoint":{"type":"string"},"environment":{"type":"string"},"fields":{"required":["destination_lat","destination_lng","origin_lat","origin_lng"],"type":"object","properties":{"destination_lat":{"type":"number"},"destination_lng":{"type":"number"},"origin_lat":{"type":"number"},"origin_lng":{"type":"number"}}},"version":{"type":"string"}}},"status":{"required":["code","message"],"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"}}}}},"RoutesResponse":{"title":"Routes response","required":["data","request","response","status"],"type":"object","properties":{"data":{"required":["operators","places","routes"],"type":"object","properties":{"operators":{"type":"array","items":{"required":["attributes","code","id","logo_img","mode","name"],"type":"object","properties":{"attributes":{"type":"array","items":{"type":"string"}},"code":{"type":"string"},"id":{"type":"string"},"logo_img":{"type":"string"},"mode":{"type":"string"},"name":{"type":"string"}}}},"places":{"type":"array","items":{"$ref":"#/components/schemas/PlaceResponse"}},"routes":{"type":"array","items":{"required":["co2","destination_id","duration","fare","mode","origin_id"],"type":"object","properties":{"co2":{"type":"number"},"destination_id":{"type":"string"},"duration":{"type":"number"},"fare":{"type":"number"},"mode":{"type":"string"},"origin_id":{"type":"string"}}}}}},"request":{"required":["distance_miles","endpoint","environment","fields","version"],"type":"object","properties":{"distance_miles":{"type":"number"},"endpoint":{"type":"string"},"environment":{"type":"string"},"fields":{"required":["destination_lat","destination_lng","origin_lat","origin_lng"],"type":"object","properties":{"destination_lat":{"type":"number"},"destination_lng":{"type":"number"},"origin_lat":{"type":"number"},"origin_lng":{"type":"number"}}},"version":{"type":"string"}}},"response":{"required":["time","url"],"type":"object","properties":{"time":{"type":"number"},"url":{"type":"string"}}},"status":{"required":["code","message"],"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"}}}}}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","name":"ApiKeyAuth","in":"header"}}}}