{"openapi":"3.0.1","info":{"title":"Apacta","description":"API for a tool to craftsmen used to register working hours, material usage and quality assurance.    \n# Endpoint\nThe endpoint `https://app.apacta.com/api/v1` should be used to communicate with the API. API access is only allowed with SSL encrypted connection (https).\n# Authentication\nURL query authentication with an API key is used, so appending `?api_key={api_key}` to the URL where `{api_key}` is found within Apacta settings is used for authentication\n# Pagination\nIf the endpoint returns a `pagination` object it means the endpoint supports pagination - currently it's only possible to change pages with `?page={page_number}` but implementing custom page sizes are on the road map.\n\n\n# Search/filter\nIs experimental but implemented in some cases - see the individual endpoints' docs for further explanation.\n# Ordering\nIs currently experimental, but on some endpoints it's implemented on URL querys so eg. to order Invoices by `invoice_number` appending `?sort=Invoices.invoice_number&direction=desc` would sort the list descending by the value of `invoice_number`.\n# Associations\nIs currently implemented on an experimental basis where you can append eg. `?include=Contacts,Projects`  to the `/api/v1/invoices/` endpoint to embed `Contact` and `Project` objects directly.\n# Project Files\nCurrently project files can be retrieved from two endpoints. `/projects/{project_id}/files` handles files uploaded from wall posts or forms. `/projects/{project_id}/project_files` allows uploading and showing files, not belonging to specific form or wall post.\n# Errors/Exceptions\n## 422 (Validation)\nWrite something about how the `errors` object contains keys with the properties that failes validation like:\n```\n  {\n      \"success\": false,\n      \"data\": {\n          \"code\": 422,\n          \"url\": \"/api/v1/contacts?api_key=5523be3b-30ef-425d-8203-04df7caaa93a\",\n          \"message\": \"A validation error occurred\",\n          \"errorCount\": 1,\n          \"errors\": {\n              \"contact_types\": [ ## Property name that failed validation\n                  \"Contacts must have at least one contact type\" ## Message with further explanation\n              ]\n          }\n      }\n  }\n```\n## Code examples\nRunning examples of how to retrieve the 5 most recent forms registered and embed the details of the User that made the form, and eventual products contained in the form\n### Swift\n```\n  \n```\n### Java\n#### OkHttp\n```\n  OkHttpClient client = new OkHttpClient();\n  \n  Request request = new Request.Builder()\n    .url(\"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\")\n    .get()\n    .addHeader(\"x-auth-token\", \"{INSERT_YOUR_TOKEN}\")\n    .addHeader(\"accept\", \"application/json\")\n    .build();\n  \n  Response response = client.newCall(request).execute();\n```\n#### Unirest\n```\n  HttpResponse<String> response = Unirest.get(\"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\")\n    .header(\"x-auth-token\", \"{INSERT_YOUR_TOKEN}\")\n    .header(\"accept\", \"application/json\")\n    .asString();\n```\n### Javascript\n#### Native\n```\n  var data = null;\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"GET\", \"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\");\n  xhr.setRequestHeader(\"x-auth-token\", \"{INSERT_YOUR_TOKEN}\");\n  xhr.setRequestHeader(\"accept\", \"application/json\");\n  \n  xhr.send(data);\n```\n#### jQuery\n```\n  var settings = {\n    \"async\": true,\n    \"crossDomain\": true,\n    \"url\": \"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\",\n    \"method\": \"GET\",\n    \"headers\": {\n      \"x-auth-token\": \"{INSERT_YOUR_TOKEN}\",\n      \"accept\": \"application/json\",\n    }\n  }\n  \n  $.ajax(settings).done(function (response) {\n    console.log(response);\n  });\n```\n#### NodeJS (Request)\n```\n  var request = require(\"request\");\n\n  var options = { method: 'GET',\n    url: 'https://app.apacta.com/api/v1/forms',\n    qs: \n     { extended: 'true',\n       sort: 'Forms.created',\n       direction: 'DESC',\n       include: 'Products,CreatedBy',\n       limit: '5' },\n    headers: \n     { accept: 'application/json',\n       'x-auth-token': '{INSERT_YOUR_TOKEN}' } };\n  \n  request(options, function (error, response, body) {\n    if (error) throw new Error(error);\n  \n    console.log(body);\n  });\n\n```\n### Python 3\n```\n  import http.client\n  \n  conn = http.client.HTTPSConnection(\"app.apacta.com\")\n  \n  payload = \"\"\n  \n  headers = {\n      'x-auth-token': \"{INSERT_YOUR_TOKEN}\",\n      'accept': \"application/json\",\n      }\n  \n  conn.request(\"GET\", \"/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\", payload, headers)\n  \n  res = conn.getresponse()\n  data = res.read()\n  \n  print(data.decode(\"utf-8\"))\n```\n### C#\n#### RestSharp\n```\n  var client = new RestClient(\"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\");\n  var request = new RestRequest(Method.GET);\n  request.AddHeader(\"accept\", \"application/json\");\n  request.AddHeader(\"x-auth-token\", \"{INSERT_YOUR_TOKEN}\");\n  IRestResponse response = client.Execute(request);    \n```\n### Ruby\n```\n  require 'uri'\n  require 'net/http'\n  \n  url = URI(\"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\")\n  \n  http = Net::HTTP.new(url.host, url.port)\n  http.use_ssl = true\n  http.verify_mode = OpenSSL::SSL::VERIFY_NONE\n  \n  request = Net::HTTP::Get.new(url)\n  request[\"x-auth-token\"] = '{INSERT_YOUR_TOKEN}'\n  request[\"accept\"] = 'application/json'\n  \n  response = http.request(request)\n  puts response.read_body\n```\n### PHP (HttpRequest)\n```\n  <?php\n\n  $request = new HttpRequest();\n  $request->setUrl('https://app.apacta.com/api/v1/forms');\n  $request->setMethod(HTTP_METH_GET);\n  \n  $request->setQueryData(array(\n    'extended' => 'true',\n    'sort' => 'Forms.created',\n    'direction' => 'DESC',\n    'include' => 'Products,CreatedBy',\n    'limit' => '5'\n  ));\n  \n  $request->setHeaders(array(\n    'accept' => 'application/json',\n    'x-auth-token' => '{INSERT_YOUR_TOKEN}'\n  ));\n  \n  try {\n    $response = $request->send();\n  \n    echo $response->getBody();\n  } catch (HttpException $ex) {\n    echo $ex;\n  }\n```\n### Shell (cURL)\n```\n\n  $ curl --request GET --url 'https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5' --header 'accept: application/json' --header 'x-auth-token: {INSERT_YOUR_TOKEN}'\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n  \n```","version":"0.0.1"},"servers":[{"url":"https://app.apacta.com/api/v1"}],"tags":[{"name":"TimeEntries","description":"Experimental"},{"name":"TimeEntryIntervals","description":"Experimental"},{"name":"TimeEntryTypes","description":"Experimental"},{"name":"TimeEntryUnitTypes","description":"Experimental"},{"name":"TimeEntryValueTypes","description":"Experimental"}],"paths":{"/cities":{"get":{"tags":["Cities"],"summary":"Get list of cities supported in Apacta","parameters":[{"name":"zip_code","in":"query","description":"Used to search for a city with specific zip code","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/City"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/cities/{city_id}":{"get":{"tags":["Cities"],"summary":"Get details about one city","parameters":[{"name":"city_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/City"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/clocking_records":{"get":{"tags":["ClockingRecords"],"summary":"Get a list of clocking records","parameters":[{"name":"active","in":"query","description":"Used to search for active clocking records","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ClockingRecord"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["ClockingRecords"],"summary":"Create clocking record for authenticated user","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"checkin_latitude":{"type":"string"},"checkin_longitude":{"type":"string"},"checkout_latitude":{"type":"string"},"checkout_longitude":{"type":"string"},"project_id":{"type":"string","format":"uuid"}}}}},"required":true},"responses":{"201":{"description":"Successfully added clocking record","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/clocking_records/checkout":{"post":{"tags":["ClockingRecords"],"summary":"Checkout active clocking record for authenticated user","responses":{"201":{"description":"Successfully checked out","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/clocking_records/{clocking_record_id}":{"get":{"tags":["ClockingRecords"],"summary":"Details of 1 clocking_record","parameters":[{"name":"clocking_record_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ClockingRecord"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Clocking record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["ClockingRecords"],"summary":"Edit a clocking record","parameters":[{"name":"clocking_record_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["ClockingRecords"],"summary":"Delete a clocking record","parameters":[{"name":"clocking_record_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/companies":{"get":{"tags":["Companies"],"summary":"Get a list of companies","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Company"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/companies/{company_id}":{"get":{"tags":["Companies"],"summary":"Details of 1 company","parameters":[{"name":"company_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Company object","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Company"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Company not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/companies/{company_id}/integration_feature_settings":{"get":{"tags":["Companies"],"summary":"Get a list of integration feature settings","parameters":[{"name":"company_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/IntegrationFeatureSetting"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/companies/{company_id}/integration_feature_settings/{integration_feature_setting_id}":{"get":{"tags":["Companies"],"summary":"Show details of 1 integration feature setting","parameters":[{"name":"company_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"integration_feature_setting_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/IntegrationFeatureSetting"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"IntegrationFeatureSetting not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/contact_types":{"get":{"tags":["ContactTypes"],"summary":"Get list of contact types supported in Apacta","parameters":[{"name":"identifier","in":"query","description":"Search for specific identifier value","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ContactType"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/contact_types/{contact_type_id}":{"get":{"tags":["ContactTypes"],"summary":"Get details about one contact type","parameters":[{"name":"contact_type_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ContactType"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/contacts":{"get":{"tags":["Contacts"],"summary":"Get a list of contacts","parameters":[{"name":"name","in":"query","description":"Used to search for a contact with a specific name","schema":{"type":"string"}},{"name":"cvr","in":"query","description":"Search for values in CVR field","schema":{"type":"string"}},{"name":"ean","in":"query","description":"Search for values in EAN field","schema":{"type":"string"}},{"name":"erp_id","in":"query","description":"Search for values in ERP id field","schema":{"type":"string"}},{"name":"contact_type","in":"query","description":"Used to show only contacts with with one specific `ContactType`","schema":{"type":"string","format":"uuid"}},{"name":"city","in":"query","description":"Used to show only contacts with with one specific `City`","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["Contacts"],"summary":"Add a new contact","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"maxLength":255,"type":"string","description":"Street address"},"city_id":{"type":"string","format":"uuid"},"contact_types":{"type":"object","properties":{"_ids":{"type":"array","items":{"type":"string"}}}},"cvr":{"maxLength":255,"type":"string"},"description":{"maxLength":8192,"type":"string"},"email":{"maxLength":255,"type":"string"},"erp_id":{"maxLength":255,"type":"string","description":"If company has integration to an ERP system, and the contacts are synchronized, this will be the ERP-systems ID of this contact"},"name":{"maxLength":255,"type":"string"},"phone":{"maxLength":32,"type":"string","description":"Format like eg. `28680133` or `046158971404`"},"website":{"maxLength":255,"type":"string"}}}}},"required":false},"responses":{"201":{"description":"Successfully added contact","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/contacts/{contact_id}":{"get":{"tags":["Contacts"],"summary":"Details of 1 contact","parameters":[{"name":"contact_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Contact"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Contact not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["Contacts"],"summary":"Edit a contact","parameters":[{"name":"contact_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"maxLength":255,"type":"string","description":"Street address"},"city_id":{"type":"string","format":"uuid"},"contact_types":{"type":"object","properties":{"_ids":{"type":"array","items":{"type":"string"}}}},"cvr":{"maxLength":255,"type":"string"},"description":{"maxLength":8192,"type":"string"},"email":{"maxLength":255,"type":"string"},"erp_id":{"maxLength":255,"type":"string","description":"If company has integration to an ERP system, and the contacts are synchronized, this will be the ERP-systems ID of this contact"},"name":{"maxLength":255,"type":"string"},"phone":{"maxLength":32,"type":"string","description":"Format like eg. `28680133` or `046158971404`"},"website":{"maxLength":255,"type":"string"}}}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["Contacts"],"summary":"Delete a contact","parameters":[{"name":"contact_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/currencies":{"get":{"tags":["Currencies"],"summary":"Get list of currencies supported in Apacta","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Currency"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/currencies/{currency_id}":{"get":{"tags":["Currencies"],"summary":"Get details about one currency","parameters":[{"name":"currency_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Currency"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/employee_hours":{"get":{"tags":["EmployeeHours"],"summary":"Used to retrieve details about the logged in user's hours","parameters":[{"name":"date_from","in":"query","description":"Date formatted as Y-m-d (2016-06-28)","required":true,"schema":{"type":"string"}},{"name":"date_to","in":"query","description":"Date formatted as Y-m-d (2016-06-28)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"One element per form in the period","items":{"type":"object","properties":{"form_date":{"type":"string","description":"Y-m-d formatted","format":"date"},"form_id":{"type":"string","format":"uuid"},"project_name":{"type":"string"},"total_hours":{"type":"integer","description":"The amount of hours in seconds","format":"int32"},"working_description":{"type":"string","description":"Trimmed at 50 characters"},"working_description_full":{"type":"string","description":"Full work description (if available)"}}}},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/expense_files":{"get":{"tags":["ExpenseFiles"],"summary":"Show list of expense files","parameters":[{"name":"created_by_id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"expense_id","in":"query","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ExpenseFile"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["ExpenseFiles"],"summary":"Add file to expense","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"},"description":{"type":"string"}}}}},"required":true},"responses":{"201":{"description":"Successfully added file","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/expense_files/{expense_file_id}":{"get":{"tags":["ExpenseFiles"],"summary":"Show file","parameters":[{"name":"expense_file_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["ExpenseFiles"],"summary":"Edit file","parameters":[{"name":"expense_file_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["ExpenseFiles"],"summary":"Delete file","parameters":[{"name":"expense_file_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/expense_lines":{"get":{"tags":["ExpenseLines"],"summary":"Show list of expense lines","parameters":[{"name":"created_by_id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"currency_id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"expense_id","in":"query","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ExpenseLine"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["ExpenseLines"],"summary":"Add line to expense","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"buying_price":{"type":"number","format":"float"},"currency_id":{"type":"string","format":"uuid"},"expense_id":{"type":"string","format":"uuid"},"quantity":{"type":"integer","format":"int32"},"selling_price":{"type":"number","format":"float"},"text":{"maxLength":255,"type":"string"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/expense_lines/{expense_line_id}":{"get":{"tags":["ExpenseLines"],"summary":"Show expense line","parameters":[{"name":"expense_line_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ExpenseLine"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["ExpenseLines"],"summary":"Edit expense line","parameters":[{"name":"expense_line_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ExpenseLine"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["ExpenseLines"],"summary":"Delete expense line","parameters":[{"name":"expense_line_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ExpenseLine"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/expenses":{"get":{"tags":["Expenses"],"summary":"Show list of expenses","parameters":[{"name":"created_by_id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"company_id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"contact_id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"project_id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"gt_created","in":"query","description":"Created after date","schema":{"type":"string","format":"date"}},{"name":"lt_created","in":"query","description":"Created before date","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Expense"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["Expenses"],"summary":"Add line to expense","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"contact_id":{"type":"string","format":"uuid"},"currency_id":{"type":"string","format":"uuid"},"delivery_date":{"type":"string","format":"date"},"description":{"maxLength":8192,"type":"string"},"project_id":{"type":"string","format":"uuid"},"reference":{"maxLength":8192,"type":"string"},"short_text":{"maxLength":255,"type":"string"},"supplier_invoice_number":{"maxLength":255,"type":"string"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/expenses/{expense_id}":{"get":{"tags":["Expenses"],"summary":"Show expense","parameters":[{"name":"expense_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Expense"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["Expenses"],"summary":"Edit expense","parameters":[{"name":"expense_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Expense"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["Expenses"],"summary":"Delete expense","parameters":[{"name":"expense_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Expense"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/expenses/{expense_id}/original_files":{"get":{"tags":["Expense OIOUBL files"],"summary":"Show list of all OIOUBL files for the expense","parameters":[{"name":"expense_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/expenses/{expense_id}/original_files/{file_id}":{"get":{"tags":["Expense OIOUBL files"],"summary":"Show OIOUBL file","parameters":[{"name":"expense_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"file_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/form_field_types":{"get":{"tags":["FormFieldTypes"],"summary":"Get list of form field types","parameters":[{"name":"name","in":"query","description":"Used to filter on the `name` of the form_fields","schema":{"type":"string"}},{"name":"identifier","in":"query","description":"Used to filter on the `identifier` of the form_fields","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/FormFieldType"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/form_field_types/{form_field_type_id}":{"get":{"tags":["FormFieldTypes"],"summary":"Get details about single `FormField`","parameters":[{"name":"form_field_type_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/FormFieldType"},"success":{"type":"boolean"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/form_fields":{"post":{"tags":["FormFields"],"summary":"Add a new field to a `Form`","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"comment":{"maxLength":8192,"type":"string"},"content_value":{"maxLength":255,"type":"string"},"file_id":{"type":"string","format":"uuid"},"form_field_type_id":{"type":"string","format":"uuid"},"form_id":{"type":"string","format":"uuid"},"form_template_field_id":{"type":"string","format":"uuid"},"placement":{"type":"integer","format":"int32"}}}}},"required":false},"responses":{"201":{"description":"Successfully added field","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/form_fields/{form_field_id}":{"get":{"tags":["FormFields"],"summary":"Get details about single `FormField`","parameters":[{"name":"form_field_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/FormField"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/form_templates":{"get":{"tags":["FormTemplates"],"summary":"Get array of form_templates for your company","parameters":[{"name":"name","in":"query","description":"Used to filter on the `name` of the form_templates","schema":{"type":"string"}},{"name":"identifier","in":"query","description":"Used to filter on the `identifier` of the form_templates","schema":{"type":"string"}},{"name":"pdf_template_identifier","in":"query","description":"Used to filter on the `pdf_template_identifier` of the form_templates","schema":{"type":"string"}},{"name":"description","in":"query","description":"Used to filter on the `description` of the form_templates","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/FormTemplate"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/form_templates/{form_template_id}":{"get":{"tags":["FormTemplates"],"summary":"View one form template","parameters":[{"name":"form_template_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/FormTemplate"},"success":{"type":"boolean"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/forms":{"get":{"tags":["Forms"],"summary":"Retrieve array of forms","parameters":[{"name":"extended","in":"query","description":"Used to have extended details from the forms from the `Form`'s `FormFields`","schema":{"type":"string","enum":["true","false"]}},{"name":"date_from","in":"query","description":"Used in conjunction with `date_to` to only show forms within these dates - format like `2016-28-05`","schema":{"type":"string","format":"Y-m-d"}},{"name":"date_to","in":"query","description":"Used in conjunction with `date_from` to only show forms within these dates - format like `2016-28-30`","schema":{"type":"string","format":"Y-m-d"}},{"name":"project_id","in":"query","description":"Used to filter on the `project_id` of the forms","schema":{"type":"string","format":"uuid"}},{"name":"created_by_id","in":"query","description":"Used to filter on the `created_by_id` of the forms","schema":{"type":"string"}},{"name":"form_template_id","in":"query","description":"Used to filter on the `form_template_id` of the forms","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Form"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["Forms"],"summary":"Add new form","description":"Used to add a form into the system","requestBody":{"content":{"application/json":{"schema":{"required":["form_template_id","project_id"],"type":"object","properties":{"form_template_id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/forms/{form_id}":{"get":{"tags":["Forms"],"summary":"View form","parameters":[{"name":"form_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Form"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["Forms"],"summary":"Edit a form","parameters":[{"name":"form_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["Forms"],"summary":"Delete a form","description":"You can only delete the forms that you've submitted yourself","parameters":[{"name":"form_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/invoice_lines":{"get":{"tags":["InvoiceLines"],"summary":"View list of invoice lines","parameters":[{"name":"invoice_id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"product_id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"user_id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"discount_text","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceLine"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["InvoiceLines"],"summary":"Add invoice","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"description":{"maxLength":8192,"type":"string"},"discount_percent":{"type":"integer","format":"int32"},"discount_text":{"maxLength":255,"type":"string"},"invoice_id":{"type":"string","format":"uuid"},"name":{"maxLength":2048,"type":"string"},"product_id":{"type":"string","format":"uuid"},"quantity":{"type":"integer","format":"int32"},"selling_price":{"type":"number","format":"float"},"user_id":{"type":"string","format":"uuid"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/invoice_lines/{invoice_line_id}":{"get":{"tags":["InvoiceLines"],"summary":"View invoice line","parameters":[{"name":"invoice_line_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/InvoiceLine"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["InvoiceLines"],"summary":"Edit invoice line","parameters":[{"name":"invoice_line_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"description":{"maxLength":8192,"type":"string"},"discount_percent":{"type":"integer","format":"int32"},"discount_text":{"maxLength":255,"type":"string"},"invoice_id":{"type":"string","format":"uuid"},"name":{"maxLength":2048,"type":"string"},"product_id":{"type":"string","format":"uuid"},"quantity":{"type":"integer","format":"int32"},"selling_price":{"type":"number","format":"float"},"user_id":{"type":"string","format":"uuid"}}}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["InvoiceLines"],"summary":"Delete invoice line","parameters":[{"name":"invoice_line_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/invoices":{"get":{"tags":["Invoices"],"summary":"View list of invoices","parameters":[{"name":"contact_id","in":"query","description":"Used to filter on the `contact_id` of the invoices","schema":{"type":"string","format":"uuid"}},{"name":"project_id","in":"query","description":"Used to filter on the `project_id` of the invoices","schema":{"type":"string","format":"uuid"}},{"name":"invoice_number","in":"query","description":"Used to filter on the `invoice_number` of the invoices","schema":{"type":"string"}},{"name":"offer_number","in":"query","schema":{"type":"string"}},{"name":"is_draft","in":"query","schema":{"type":"integer","enum":[0,1]}},{"name":"is_offer","in":"query","schema":{"type":"integer","enum":[0,1]}},{"name":"is_locked","in":"query","schema":{"type":"integer","enum":[0,1]}},{"name":"date_from","in":"query","schema":{"type":"string","format":"date"}},{"name":"date_to","in":"query","schema":{"type":"string","format":"date"}},{"name":"issued_date","in":"query","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Invoice"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["Invoices"],"summary":"Add invoice","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"contact_id":{"type":"string","format":"uuid"},"created_or_modified_gte":{"type":"string","format":"date"},"date_from":{"type":"string","format":"date"},"date_to":{"type":"string","format":"date"},"erp_id":{"maxLength":255,"type":"string"},"erp_payment_term_id":{"maxLength":255,"type":"string"},"invoice_number":{"type":"integer","format":"int32"},"is_draft":{"type":"boolean"},"is_locked":{"type":"boolean"},"is_offer":{"type":"boolean"},"issued_date":{"type":"string","format":"date"},"message":{"maxLength":8192,"type":"string"},"offer_number":{"type":"integer","format":"int32"},"payment_due_date":{"type":"string","format":"date"},"payment_term_id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"reference":{"maxLength":255,"type":"string"},"vat_percent":{"type":"integer","format":"int32"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/invoices/{invoice_id}":{"get":{"tags":["Invoices"],"summary":"View invoice","parameters":[{"name":"invoice_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Invoice"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["Invoices"],"summary":"Edit invoice","parameters":[{"name":"invoice_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"contact_id":{"type":"string","format":"uuid"},"date_from":{"type":"string","format":"date"},"date_to":{"type":"string","format":"date"},"erp_id":{"maxLength":255,"type":"string"},"erp_payment_term_id":{"maxLength":255,"type":"string"},"invoice_number":{"type":"integer","format":"int32"},"is_draft":{"type":"boolean"},"is_locked":{"type":"boolean"},"is_offer":{"type":"boolean"},"issued_date":{"type":"string","format":"date"},"message":{"maxLength":8192,"type":"string"},"offer_number":{"type":"integer","format":"int32"},"payment_due_date":{"type":"string","format":"date"},"payment_term_id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"reference":{"maxLength":255,"type":"string"},"vat_percent":{"type":"integer","format":"int32"}}}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["Invoices"],"summary":"Delete invoice","parameters":[{"name":"invoice_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/mass_messages_users":{"get":{"tags":["MassMessagesUsers"],"summary":"View list of mass messages for specific user","parameters":[{"name":"is_read","in":"query","description":"Used to filter on the `is_read` of the mass messages","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MassMessagesUser"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/mass_messages_users/{mass_messages_user_id}":{"get":{"tags":["MassMessagesUsers"],"summary":"View mass message","parameters":[{"name":"mass_messages_user_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/MassMessagesUser"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["MassMessagesUsers"],"summary":"Edit mass message","parameters":[{"name":"mass_messages_user_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/materials":{"get":{"tags":["Materials"],"summary":"View list of all materials","parameters":[{"name":"barcode","in":"query","description":"Used to filter on the `barcode` of the materials","schema":{"type":"string"}},{"name":"name","in":"query","description":"Used to filter on the `name` of the materials","schema":{"type":"string"}},{"name":"project_id","in":"query","description":"Used to find materials used in specific project by `project_id`","schema":{"type":"string","format":"uuid"}},{"name":"currently_rented","in":"query","description":"Used to find currently rented materials","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Material"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/materials/{material_id}":{"get":{"tags":["Materials"],"summary":"View material","parameters":[{"name":"material_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Material"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["Materials"],"summary":"Edit material","parameters":[{"name":"material_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["Materials"],"summary":"Delete material","parameters":[{"name":"material_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/materials/{material_id}/rentals/":{"get":{"tags":["MaterialRentals"],"summary":"Show list of rentals for specific material","parameters":[{"name":"material_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MaterialRental"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["MaterialRentals"],"summary":"Add material rental","parameters":[{"name":"material_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"form_id":{"type":"string","format":"uuid"},"from_date":{"type":"string","format":"dateTime"},"is_invoiced":{"type":"string","format":"dateTime"},"material_id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"quantity":{"type":"number","format":"float"},"to_date":{"type":"string","format":"dateTime"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/materials/{material_id}/rentals/checkout/":{"post":{"tags":["MaterialRentals"],"summary":"Checkout material rental","parameters":[{"name":"material_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"form_id":{"type":"string","format":"uuid"},"material_rental_id":{"type":"string","format":"uuid"},"to_date":{"type":"string","format":"dateTime"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/materials/{material_id}/rentals/{material_rental_id}/":{"get":{"tags":["MaterialRentals"],"summary":"Show rental foor materi","parameters":[{"name":"material_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"material_rental_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/MaterialRental"},"success":{"type":"boolean"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["MaterialRentals"],"summary":"Edit material rental","description":"Edit material rental","parameters":[{"name":"material_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"material_rental_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["Materials"],"summary":"Add material","parameters":[{"name":"material_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"material_rental_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"barcode":{"type":"string"},"billing_cysle":{"type":"string","enum":["hourly","daily","weekly"]},"cost_price":{"type":"number","format":"float"},"description":{"type":"string"},"is_single_usage":{"type":"boolean"},"name":{"type":"string"},"selling_price":{"type":"number","format":"float"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["MaterialRentals"],"summary":"Delete material rental","description":"Delete rental for material","parameters":[{"name":"material_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"material_rental_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/payment_term_types":{"get":{"tags":["PaymentTermTypes"],"summary":"Get a list of payment term types","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/PaymentTermType"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/payment_term_types/{payment_term_type_id}":{"get":{"tags":["PaymentTermTypes"],"summary":"Details of 1 payment term type","parameters":[{"name":"payment_term_type_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PaymentTermType"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/payment_terms":{"get":{"tags":["PaymentTerms"],"summary":"Get a list of payment terms","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/PaymentTerm"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/payment_terms/{payment_term_id}":{"get":{"tags":["PaymentTerms"],"summary":"Details of 1 payment term","parameters":[{"name":"payment_term_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PaymentTerm"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"PaymentTerm not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/ping":{"get":{"tags":["Ping"],"summary":"Check if API is up and API key works","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","default":"ok"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/products":{"get":{"tags":["Products"],"summary":"List products","parameters":[{"name":"name","in":"query","description":"Used to filter on the `name` of the products","schema":{"type":"string"}},{"name":"product_number","in":"query","description":"Used to filter on the `product_number` of the products","schema":{"type":"string","format":"uuid"}},{"name":"barcode","in":"query","description":"Used to filter on the `barcode` of the products","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Product"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["Products"],"summary":"Add new product","requestBody":{"content":{"application/json":{"schema":{"required":["name"],"type":"object","properties":{"barcode":{"maxLength":255,"type":"string"},"buying_price":{"type":"number","format":"double"},"description":{"maxLength":8192,"type":"string"},"erp_id":{"maxLength":255,"type":"string"},"name":{"maxLength":255,"type":"string"},"product_number":{"maxLength":255,"type":"string"},"selling_price":{"type":"number","format":"double"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/products/{product_id}":{"get":{"tags":["Products"],"summary":"View single product","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Product"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["Products"],"summary":"Edit a product","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["Products"],"summary":"Delete a product","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/project_statuses":{"get":{"tags":["ProjectStatuses"],"summary":"Get list of project statuses","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ProjectStatus"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/project_statuses/{project_status_id}":{"get":{"tags":["ProjectStatuses"],"summary":"Get details about one contact type","parameters":[{"name":"project_status_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ProjectStatus"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/projects":{"get":{"tags":["Projects"],"summary":"View list of projects","parameters":[{"name":"show_all","in":"query","description":"Unless this is set to `true` only open projects will be shown","schema":{"type":"boolean","default":false}},{"name":"contact_id","in":"query","description":"Used to filter on the `contact_id` of the projects","schema":{"type":"string","format":"uuid"}},{"name":"project_status_id","in":"query","description":"Used to filter on the `project_status_id` of the projects","schema":{"type":"string","format":"uuid"}},{"name":"project_status_ids","in":"query","description":"Used to filter on the `project_status_id` of the projects (match any of the provided values)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"name","in":"query","description":"Used to search on the `name` of the projects","schema":{"type":"string"}},{"name":"erp_project_id","in":"query","description":"Used to search on the `erp_project_id` of the projects","schema":{"type":"string"}},{"name":"erp_task_id","in":"query","description":"Used to search on the `erp_task_id` of the projects","schema":{"type":"string"}},{"name":"start_time_gte","in":"query","description":"Show projects with start time after than this value","schema":{"type":"string"}},{"name":"start_time_lte","in":"query","description":"Show projects with start time before this value","schema":{"type":"string"}},{"name":"start_time_eq","in":"query","description":"Show only projects with start time on specific date","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Project"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["Projects"],"summary":"Add a project","requestBody":{"content":{"application/json":{"schema":{"required":["name"],"type":"object","properties":{"contact_id":{"type":"string","format":"uuid"},"description":{"maxLength":8192,"type":"string"},"erp_project_id":{"maxLength":255,"type":"string"},"erp_task_id":{"maxLength":255,"type":"string"},"name":{"maxLength":255,"type":"string"},"project_status_id":{"type":"string","format":"uuid"},"start_time":{"type":"string","format":"datetime"},"street_name":{"maxLength":255,"type":"string"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/projects/{project_id}":{"get":{"tags":["Projects"],"summary":"View specific project","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Project"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["Projects"],"summary":"Edit a project","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["name"],"type":"object","properties":{"contact_id":{"type":"string","format":"uuid"},"description":{"maxLength":8192,"type":"string"},"erp_project_id":{"maxLength":255,"type":"string"},"erp_task_id":{"maxLength":255,"type":"string"},"name":{"maxLength":255,"type":"string"},"project_status_id":{"type":"string","format":"uuid"},"start_time":{"type":"string","format":"datetime"},"street_name":{"maxLength":255,"type":"string"}}}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["Projects"],"summary":"Delete a project","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/projects/{project_id}/files":{"get":{"tags":["Projects"],"summary":"Show list of files uploaded to project","description":"Used to show files uploaded to a project from wall post or form","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/projects/{project_id}/files/{file_id}/":{"get":{"tags":["Projects"],"summary":"Show file","description":"Show file uploaded to a project from wall post or form","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"file_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["Projects"],"summary":"Edit file","description":"Edit file uploaded to a project from wall post or form","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"file_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["Projects"],"summary":"Delete file","description":"Delete file uploaded to a project from wall post or form","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"file_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/projects/{project_id}/project_files":{"get":{"tags":["Projects"],"summary":"Show list of project files uploaded to project","description":"Returns files belonging to the project, not uploaded from wall post or form","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["Projects"],"summary":"Add project file to projects","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}},"required":true},"responses":{"201":{"description":"Successfully added project file","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/projects/{project_id}/project_files/{project_file_id}/":{"get":{"tags":["Projects"],"summary":"Show project file","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"project_file_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"success":{"type":"boolean","default":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorNotFound"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["Projects"],"summary":"Edit project file","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"project_file_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["Projects"],"summary":"Delete project file","parameters":[{"name":"project_file_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object"},"success":{"type":"boolean","default":true}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/projects/{project_id}/users/":{"get":{"tags":["Projects"],"summary":"Show list of users added to project","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/User"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["Projects"],"summary":"Add user to project","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["user_id"],"type":"object","properties":{"user_id":{"type":"string","format":"uuid"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/projects/{project_id}/users/{user_id}":{"get":{"tags":["Projects"],"summary":"View specific user assigned to project","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/User"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["Projects"],"summary":"Delete user from project","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/stock_locations":{"get":{"tags":["StockLocations"],"summary":"List stock_locations","parameters":[{"name":"name","in":"query","description":"Used to filter on the `name` of the stock_locations","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/StockLocation"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["StockLocations"],"summary":"Add new stock_locations","requestBody":{"content":{"application/json":{"schema":{"required":["name"],"type":"object","properties":{"name":{"maxLength":255,"type":"string"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/stock_locations/{location_id}":{"get":{"tags":["StockLocations"],"summary":"View single location","parameters":[{"name":"location_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/StockLocation"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["StockLocations"],"summary":"Edit location","parameters":[{"name":"location_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["StockLocations"],"summary":"Delete location","parameters":[{"name":"location_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/time_entries":{"get":{"tags":["TimeEntries"],"summary":"List time entries","parameters":[{"name":"user_id","in":"query","schema":{"type":"string"}},{"name":"form_id","in":"query","schema":{"type":"string"}},{"name":"project_id","in":"query","schema":{"type":"string"}},{"name":"gt_from_time","in":"query","schema":{"type":"string"}},{"name":"lt_from_time","in":"query","schema":{"type":"string"}},{"name":"gt_to_time","in":"query","schema":{"type":"string"}},{"name":"lt_to_time","in":"query","schema":{"type":"string"}},{"name":"lt_sum","in":"query","schema":{"type":"string"}},{"name":"gt_sum","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TimeEntry"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["TimeEntries"],"summary":"Add new time entry","requestBody":{"content":{"application/json":{"schema":{"required":["time_entry_type_id","user_id"],"type":"object","properties":{"form_id":{"type":"string","format":"uuid"},"from_time":{"type":"string","format":"dateTime"},"is_all_day":{"type":"boolean"},"project_id":{"type":"string","format":"uuid"},"sum":{"type":"integer","description":"Amount of seconds - should only be included when using is_all_day, otherwise will be calculated from from_time and to_time","format":"int32"},"time_entry_type_id":{"type":"string","format":"uuid"},"to_time":{"type":"string","format":"dateTime"},"user_id":{"type":"string","format":"uuid"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/time_entries/{time_entry_id}":{"get":{"tags":["TimeEntries"],"summary":"View time entry","parameters":[{"name":"time_entry_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TimeEntry"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["TimeEntries"],"summary":"Edit time entry","parameters":[{"name":"time_entry_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["TimeEntries"],"summary":"Delete time entry","parameters":[{"name":"time_entry_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/time_entry_intervals":{"get":{"tags":["TimeEntryIntervals"],"summary":"List possible time entry intervals","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TimeEntryInterval"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/time_entry_intervals/{time_entry_interval_id}":{"get":{"tags":["TimeEntryIntervals"],"summary":"View time entry interval","parameters":[{"name":"time_entry_interval_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TimeEntryInterval"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/time_entry_types":{"get":{"tags":["TimeEntryTypes"],"summary":"List time entries types","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TimeEntryType"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["TimeEntryTypes"],"summary":"Add new time entry type","requestBody":{"content":{"application/json":{"schema":{"required":["name","time_entry_interval_id","time_entry_value_type_id"],"type":"object","properties":{"description":{"maxLength":8192,"type":"string"},"name":{"maxLength":255,"type":"string"},"time_entry_interval_id":{"type":"string","format":"uuid"},"time_entry_value_type_id":{"type":"string","format":"uuid"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/time_entry_types/{time_entry_type_id}":{"get":{"tags":["TimeEntryTypes"],"summary":"View time entry type","parameters":[{"name":"time_entry_type_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TimeEntryType"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["TimeEntryTypes"],"summary":"Edit time entry type","parameters":[{"name":"time_entry_type_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["TimeEntryTypes"],"summary":"Delete time entry type","parameters":[{"name":"time_entry_type_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/time_entry_unit_types":{"get":{"tags":["TimeEntryUnitTypes"],"summary":"List possible time entry unit types","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TimeEntryUnitType"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/time_entry_unit_types/{time_entry_unit_type_id}":{"get":{"tags":["TimeEntryUnitTypes"],"summary":"View time entry unit type","parameters":[{"name":"time_entry_unit_type_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TimeEntryUnitType"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/time_entry_value_types":{"get":{"tags":["TimeEntryValueTypes"],"summary":"List possible time entry value types","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TimeEntryValueType"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/time_entry_value_types/{time_entry_value_type_id}":{"get":{"tags":["TimeEntryValueTypes"],"summary":"View time entry value type","parameters":[{"name":"time_entry_value_type_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TimeEntryValueType"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/users":{"get":{"tags":["Users"],"summary":"Get list of users in company","parameters":[{"name":"first_name","in":"query","description":"Used to filter on the `first_name` of the users","schema":{"type":"string"}},{"name":"last_name","in":"query","description":"Used to filter on the `last_name` of the users","schema":{"type":"string"}},{"name":"email","in":"query","description":"Used to filter on the `email` of the users","schema":{"type":"string"}},{"name":"stock_location_id","in":"query","description":"Used to filter on the `stock_location_id` of the users","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/User"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["Users"],"summary":"Add user to company","requestBody":{"content":{"application/json":{"schema":{"required":["first_name"],"type":"object","properties":{"city_id":{"type":"string","format":"uuid"},"cost_price":{"type":"number","description":"Cost of salaries","format":"float"},"email":{"maxLength":255,"type":"string","format":"email"},"extra_price":{"type":"number","description":"Additional cost on this employee (pension, vacation etc.)","format":"float"},"first_name":{"maxLength":255,"type":"string"},"is_active":{"type":"boolean"},"language_id":{"type":"string","format":"uuid"},"last_name":{"maxLength":255,"type":"string"},"mobile":{"maxLength":32,"type":"string"},"mobile_countrycode":{"maxLength":8,"type":"string"},"password":{"maxLength":255,"type":"string","format":"password"},"phone":{"maxLength":32,"type":"string"},"phone_countrycode":{"maxLength":8,"type":"string"},"receive_form_mails":{"type":"boolean","description":"If `true` the employee will receive an email receipt of every form submitted"},"sale_price":{"type":"number","description":"The price this employee costs per hour when working","format":"float"},"street_name":{"maxLength":255,"type":"string"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/users/{user_id}":{"get":{"tags":["Users"],"summary":"View user","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/User"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"put":{"tags":["Users"],"summary":"Edit user","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"delete":{"tags":["Users"],"summary":"Delete user","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/vendor_products":{"get":{"tags":["VendorProducts"],"summary":"List vendor products","parameters":[{"name":"name","in":"query","description":"Used to filter on the `name` of the vendor products","schema":{"type":"string"}},{"name":"product_number","in":"query","description":"Used to filter on the `product_number` of the vendor products","schema":{"type":"string","format":"uuid"}},{"name":"barcode","in":"query","description":"Used to filter on the `barcode` of the vendor products","schema":{"type":"string"}},{"name":"vendor_id","in":"query","description":"Used to filter on the `vendor_id` of the vendor products","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/VendorProduct"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/vendor_products/{vendor_product_id}":{"get":{"tags":["VendorProducts"],"summary":"View single vendor product","parameters":[{"name":"vendor_product_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/VendorProduct"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/wall_comments":{"post":{"tags":["WallComments"],"summary":"Add wall comment","requestBody":{"content":{"application/json":{"schema":{"required":["message","wall_post_id"],"type":"object","properties":{"message":{"type":"string"},"wall_post_id":{"type":"string","format":"uuid"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/wall_comments/{wall_comment_id}":{"get":{"tags":["WallComments"],"summary":"View wall comment","parameters":[{"name":"wall_comment_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/WallComment"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/wall_posts":{"get":{"tags":["WallPosts"],"summary":"View list of wall posts","parameters":[{"name":"project_id","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"user_id","in":"query","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/WallPost"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}},"401":{"description":"Not authorized to access project"},"404":{"description":"Project not found"}},"security":[{"X-Auth-Token":null},{"api_key":null}]},"post":{"tags":["WallPosts"],"summary":"Add a wall post","requestBody":{"content":{"application/json":{"schema":{"required":["message","project_id"],"type":"object","properties":{"message":{"type":"string"},"project_id":{"type":"string","format":"uuid"}}}}},"required":false},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"success":{"type":"boolean","default":true}}}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorValidation"}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/wall_posts/{wall_post_id}":{"get":{"tags":["WallPosts"],"summary":"View wall post","parameters":[{"name":"wall_post_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/WallPost"},"success":{"type":"boolean"}}}}}}},"security":[{"X-Auth-Token":null},{"api_key":null}]}},"/wall_posts/{wall_post_id}/wall_comments":{"get":{"tags":["WallPosts"],"summary":"See wall comments to a wall post","parameters":[{"name":"wall_post_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/WallComment"}},"pagination":{"$ref":"#/components/schemas/PaginationDetails"},"success":{"type":"boolean"}}}}}},"401":{"description":"Not authorized to access project"},"404":{"description":"Wall post not found"}},"security":[{"X-Auth-Token":null},{"api_key":null}]}}},"components":{"schemas":{"City":{"type":"object","properties":{"created":{"$ref":"#/components/schemas/created"},"deleted":{"$ref":"#/components/schemas/deleted"},"id":{"type":"string","format":"uuid"},"modified":{"$ref":"#/components/schemas/modified"},"name":{"maxLength":255,"type":"string"},"zip_code":{"type":"integer"}}},"ClockingRecord":{"type":"object","properties":{"checked_in":{"type":"string","format":"dateTime"},"checked_out":{"type":"string","format":"dateTime"},"checkin_latitude":{"type":"string"},"checkin_longitude":{"type":"string"},"checkout_latitude":{"type":"string"},"checkout_longitude":{"type":"string"},"created":{"$ref":"#/components/schemas/created"},"created_by_id":{"type":"string","format":"uuid"},"deleted":{"$ref":"#/components/schemas/deleted"},"id":{"type":"string","format":"uuid"},"modified":{"$ref":"#/components/schemas/modified"},"modified_by_id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"user_id":{"type":"string","format":"uuid"}}},"Company":{"type":"object","properties":{"city_id":{"type":"string","format":"uuid"},"contact_person_id":{"type":"string","format":"uuid"},"created":{"$ref":"#/components/schemas/created"},"created_by_id":{"type":"string","description":"Read-only","format":"uuid"},"cvr":{"maxLength":255,"type":"string"},"deleted":{"$ref":"#/components/schemas/deleted"},"expired":{"type":"string","format":"date-time"},"file_id":{"type":"string","format":"uuid"},"id":{"type":"string","format":"uuid"},"invoice_email":{"maxLength":255,"type":"string","format":"email"},"language_id":{"type":"string","format":"uuid"},"modified":{"$ref":"#/components/schemas/modified"},"name":{"maxLength":255,"type":"string"},"next_invoice_number":{"type":"integer","format":"int32"},"phone":{"maxLength":32,"type":"string","description":"Format like eg. `28680133` or `046158971404`"},"phone_countrycode":{"maxLength":3,"type":"string","description":"Format like eg. `45` or `49`"},"receive_form_mails":{"maxLength":255,"type":"string","format":"email"},"street_name":{"maxLength":255,"type":"string"},"vat_percent":{"type":"integer","format":"int32"},"website":{"maxLength":255,"type":"string"}}},"Contact":{"type":"object","properties":{"address":{"maxLength":255,"type":"string","description":"Street address"},"city_id":{"type":"string","format":"uuid"},"company_id":{"type":"string","description":"Only filled out if this represents another company within Apacta (used for partners)","format":"uuid"},"created":{"$ref":"#/components/schemas/created"},"created_by_id":{"type":"string","description":"Read-only","format":"uuid"},"cvr":{"maxLength":255,"ty
[...]
