{"openapi":"3.0.1","info":{"title":"EU BON UTIS","description":"The Unified Taxonomic Information Service (UTIS) is the taxonomic backbone for the EU-BON project","termsOfService":"https://www.biodiversitycatalogue.org/services/79","contact":{"email":"EditSupport@bgbm.org"},"license":{"name":"Mozilla Public License 2.0","url":"http://www.mozilla.org/MPL/2.0/"},"version":"1.0"},"servers":[{"url":"http://cybertaxonomy.eu/eu-bon/utis/1.0"}],"tags":[{"name":"utis-controller","description":"Utis Controller"}],"paths":{"/capabilities":{"get":{"tags":["utis-controller"],"summary":"capabilities","description":"capabilities","operationId":"capabilities","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServiceProviderInfo"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServiceProviderInfo"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/search":{"get":{"tags":["utis-controller"],"summary":"search","description":"search","operationId":"search","parameters":[{"name":"query","in":"query","description":"The scientific name to search for. For example: \"Bellis perennis\", \"Prionus\" or \"Bolinus brandaris\". This is an exact search so wildcard characters are not supported.","required":true,"schema":{"type":"string"}},{"name":"providers","in":"query","description":"A list of provider id strings concatenated by comma characters. The default : \"pesi,bgbm-cdm-server[col]\" will be used if this parameter is not set. A list of all available provider ids can be obtained from the '/capabilities' service end point. Providers can be nested, that is a parent provider can have sub providers. If the id of the parent provider is supplied all subproviders will be queried. The query can also be restriced to one or more subproviders by using the following syntax: parent-id[sub-id-1,sub-id2,...]","schema":{"type":"string","default":"pesi,eunis,bgbm-cdm-server[col]"}},{"name":"searchMode","in":"query","description":"Specifies the searchMode. Possible search modes are: scientificNameExact, scientificNameLike (begins with), vernacularNameExact, vernacularNameLike (contains), findByIdentifier. If the a provider does not support the chosen searchMode it will be skipped and the status message in the tnrClientStatus will be set to 'unsupported search mode' in this case.","schema":{"type":"string","default":"scientificNameExact","enum":["scientificNameExact","scientificNameLike","vernacularNameExact","vernacularNameLike","findByIdentifier"]}},{"name":"addSynonymy","in":"query","description":"Indicates whether the synonymy of the accepted taxon should be included into the response. Turning this option on may cause an increased response time.","schema":{"type":"boolean","default":false}},{"name":"timeout","in":"query","description":"The maximum of milliseconds to wait for responses from any of the providers. If the timeout is exceeded the service will jut return the resonses that have been received so far. The default timeout is 0 ms (wait for ever)","schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TnrMsg"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TnrMsg"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"components":{"schemas":{"AtomisedName":{"type":"object","properties":{"genusOrUninomial":{"type":"string"},"infragenericEpithet":{"type":"string"},"infraspecificEpithet":{"type":"string"},"specificEpithet":{"type":"string"}}},"ClientStatus":{"type":"object","properties":{"checklistId":{"type":"string"},"duration":{"type":"number","description":"Duration of the request processing in the specific checklist client in milliseconds.","format":"double"},"statusMessage":{"type":"string","description":"Status of the request, possible values are 'ok', 'timeout', 'interrupted', 'unsupported search mode'."}}},"HigherClassificationElement":{"type":"object","properties":{"rank":{"type":"string"},"scientificName":{"type":"string"},"taxonID":{"type":"string"}}},"OtherNames":{"type":"object","properties":{"sources":{"type":"array","items":{"$ref":"#/components/schemas/Source"}},"taxonName":{"$ref":"#/components/schemas/TaxonName"},"url":{"type":"string","description":"The URL pointing to the original name record of the checklist provider."}}},"Query":{"type":"object","properties":{"clientStatus":{"type":"array","items":{"$ref":"#/components/schemas/ClientStatus"}},"request":{"$ref":"#/components/schemas/Request"},"response":{"type":"array","items":{"$ref":"#/components/schemas/Response"}}}},"Request":{"type":"object","properties":{"addSynonymy":{"type":"boolean","description":"Indicates whether the synonymy of the accepted taxon should be included into the response. Turning this option on may lead to an increased response time."},"queryString":{"type":"string","description":"The query string to match a scientific name, vernacular name or identifier depending on the searchMode"},"searchMode":{"type":"string","description":"Specified the search mode to be usedPossible search modes are: scientificNameExact, scientificNameLike (begins with), vernacularNameExact, vernacularNameLike (contains)."}}},"Response":{"type":"object","properties":{"checklist":{"type":"string"},"checklistCitation":{"type":"string"},"checklistId":{"type":"string"},"checklistUrl":{"type":"string"},"checklistVersion":{"type":"string"},"matchingNameString":{"type":"string","description":"Refers to the name string of the accepted taxon, synonym or otherName which was matching the query string"},"matchingNameType":{"type":"string","description":"Reports which of the names was matching the query string:  'taxon', 'synonym', 'vernacularName', or 'otherName'","enum":["TAXON","SYNONYM","VERNACULAR_NAME","OTHER_NAME"]},"otherNames":{"type":"array","items":{"$ref":"#/components/schemas/OtherNames"}},"synonyms":{"type":"array","description":"The list synonyms related to the accepted taxon","items":{"$ref":"#/components/schemas/Synonym"}},"taxon":{"$ref":"#/components/schemas/Taxon"},"vernacularNames":{"type":"array","description":"A common or vernacular name.","items":{"type":"string"}}}},"ServiceProviderInfo":{"type":"object","properties":{"copyrightUrl":{"type":"string"},"documentationUrl":{"type":"string"},"id":{"type":"string"},"label":{"type":"string"},"searchModes":{"uniqueItems":true,"type":"array","description":"Set of the different SearchModes supported by the service provider and client implementation.Possible search modes are: scientificNameExact, scientificNameLike, vernacularName","items":{"type":"string"}},"subChecklists":{"type":"array","items":{"$ref":"#/components/schemas/ServiceProviderInfo"}},"version":{"type":"string"}}},"Source":{"type":"object","properties":{"datasetName":{"type":"string"},"identifier":{"type":"string"},"name":{"type":"string"},"title":{"type":"string","description":"The full not atomized source string."},"url":{"type":"string"}}},"Synonym":{"type":"object","properties":{"accordingTo":{"type":"string","description":"The reference to the source in which the specific taxon concept circumscription is defined or implied - traditionally signified by the Latin 'sensu' or 'sec.' (from secundum, meaning 'according to')."},"sources":{"type":"array","items":{"$ref":"#/components/schemas/Source"}},"taxonName":{"$ref":"#/components/schemas/TaxonName"},"taxonomicStatus":{"type":"string","description":"The taxonomic status string like 'invalid', 'misapplied', 'homotypic synonym', 'accepted', 'synonym'. Corresponds to http://rs.tdwg.org/dwc/terms/taxonomicStatus"},"url":{"type":"string","description":"The URL pointing to the original record of the checklist provider."}}},"Taxon":{"type":"object","properties":{"accordingTo":{"type":"string","description":"The reference to the source in which the specific taxon concept circumscription is defined or implied - traditionally signified by the Latin 'sensu' or 'sec.' (from secundum, meaning 'according to')."},"higherClassification":{"type":"array","items":{"$ref":"#/components/schemas/HigherClassificationElement"}},"identifier":{"type":"string"},"sources":{"type":"array","items":{"$ref":"#/components/schemas/Source"}},"taxonName":{"$ref":"#/components/schemas/TaxonName"},"taxonomicStatus":{"type":"string","description":"The taxonomic status string like 'invalid', 'misapplied', 'homotypic synonym', 'accepted', 'synonym'. Corresponds to http://rs.tdwg.org/dwc/terms/taxonomicStatus"},"url":{"type":"string","description":"The URL pointing to the original record of the checklist provider."}}},"TaxonName":{"type":"object","properties":{"atomisedName":{"$ref":"#/components/schemas/AtomisedName"},"authorship":{"type":"string"},"canonicalName":{"type":"string","description":"Canonical name string consisting of only nomenclatural information, i.e. no authorship or taxonomic hierarchy information with the exception of the necessary placements within Genus or Species."},"nomenclaturalReference":{"type":"string","description":"A reference for the publication in which the scientificName was originally established under the rules of the associated nomenclaturalCode."},"rank":{"type":"string"},"scientificName":{"type":"string","description":"The full scientific name, with authorship, publication date information and potentially further taxonomic information."}}},"TnrMsg":{"type":"object","properties":{"query":{"type":"array","items":{"$ref":"#/components/schemas/Query"}}}}}}}