{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Certificates API Client",
    "version" : "2018-11-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/certificates" : {
      "get" : {
        "tags" : [ "Certificates" ],
        "summary" : "Get all certificates for a subscription.",
        "description" : "Get all certificates for a subscription.",
        "operationId" : "Certificates_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CertificateCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates" : {
      "get" : {
        "tags" : [ "Certificates" ],
        "summary" : "Get all certificates in a resource group.",
        "description" : "Get all certificates in a resource group.",
        "operationId" : "Certificates_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CertificateCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates/{name}" : {
      "get" : {
        "tags" : [ "Certificates" ],
        "summary" : "Get a certificate.",
        "description" : "Get a certificate.",
        "operationId" : "Certificates_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the certificate.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Certificate"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Certificates" ],
        "summary" : "Create or update a certificate.",
        "description" : "Create or update a certificate.",
        "operationId" : "Certificates_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the certificate.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Details of certificate, if it exists already.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Certificate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Certificate"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Certificates" ],
        "summary" : "Delete a certificate.",
        "description" : "Delete a certificate.",
        "operationId" : "Certificates_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the certificate.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted certificate."
          },
          "204" : {
            "description" : "Certificate does not exist."
          }
        }
      },
      "patch" : {
        "tags" : [ "Certificates" ],
        "summary" : "Create or update a certificate.",
        "description" : "Create or update a certificate.",
        "operationId" : "Certificates_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the certificate.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Details of certificate, if it exists already.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CertificatePatchResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Certificate"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Certificate" : {
        "properties" : {
          "properties" : {
            "required" : [ "password" ],
            "type" : "object",
            "properties" : {
              "cerBlob" : {
                "pattern" : "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                "type" : "string",
                "description" : "Raw bytes of .cer file",
                "format" : "byte",
                "readOnly" : true
              },
              "expirationDate" : {
                "type" : "string",
                "description" : "Certificate expiration date.",
                "format" : "date-time",
                "readOnly" : true
              },
              "friendlyName" : {
                "type" : "string",
                "description" : "Friendly name of the certificate.",
                "readOnly" : true
              },
              "hostNames" : {
                "type" : "array",
                "description" : "Host names the certificate applies to.",
                "items" : {
                  "type" : "string"
                }
              },
              "hostingEnvironmentProfile" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "Resource ID of the App Service Environment."
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "Name of the App Service Environment.",
                    "readOnly" : true
                  },
                  "type" : {
                    "type" : "string",
                    "description" : "Resource type of the App Service Environment.",
                    "readOnly" : true
                  }
                },
                "description" : "Specification for an App Service Environment to use for this resource."
              },
              "issueDate" : {
                "type" : "string",
                "description" : "Certificate issue Date.",
                "format" : "date-time",
                "readOnly" : true
              },
              "issuer" : {
                "type" : "string",
                "description" : "Certificate issuer.",
                "readOnly" : true
              },
              "keyVaultId" : {
                "type" : "string",
                "description" : "Key Vault Csm resource Id."
              },
              "keyVaultSecretName" : {
                "type" : "string",
                "description" : "Key Vault secret name."
              },
              "keyVaultSecretStatus" : {
                "type" : "string",
                "description" : "Status of the Key Vault secret.",
                "readOnly" : true,
                "enum" : [ "Initialized", "WaitingOnCertificateOrder", "Succeeded", "CertificateOrderFailed", "OperationNotPermittedOnKeyVault", "AzureServiceUnauthorizedToAccessKeyVault", "KeyVaultDoesNotExist", "KeyVaultSecretDoesNotExist", "UnknownError", "ExternalPrivateKey", "Unknown" ]
              },
              "password" : {
                "type" : "string",
                "description" : "Certificate password."
              },
              "pfxBlob" : {
                "pattern" : "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                "type" : "string",
                "description" : "Pfx blob.",
                "format" : "byte"
              },
              "publicKeyHash" : {
                "type" : "string",
                "description" : "Public key hash.",
                "readOnly" : true
              },
              "selfLink" : {
                "type" : "string",
                "description" : "Self link.",
                "readOnly" : true
              },
              "serverFarmId" : {
                "type" : "string",
                "description" : "Resource ID of the associated App Service plan, formatted as: \"/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}\"."
              },
              "siteName" : {
                "type" : "string",
                "description" : "App name.",
                "readOnly" : true
              },
              "subjectName" : {
                "type" : "string",
                "description" : "Subject name of the certificate.",
                "readOnly" : true
              },
              "thumbprint" : {
                "type" : "string",
                "description" : "Certificate thumbprint.",
                "readOnly" : true
              },
              "valid" : {
                "type" : "boolean",
                "description" : "Is the certificate valid?.",
                "readOnly" : true
              }
            },
            "description" : "Certificate resource specific properties"
          }
        },
        "description" : "SSL certificate for an app.",
        "allOf" : [ {
          "required" : [ "location" ],
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource Location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure resource. This resource is tracked in Azure Resource Manager"
        } ]
      },
      "CertificateCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of resources.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Collection of resources.",
            "items" : {
              "$ref" : "#/components/schemas/Certificate"
            }
          }
        },
        "description" : "Collection of certificates."
      },
      "CertificatePatchResource" : {
        "properties" : {
          "properties" : {
            "required" : [ "password" ],
            "type" : "object",
            "properties" : {
              "cerBlob" : {
                "pattern" : "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                "type" : "string",
                "description" : "Raw bytes of .cer file",
                "format" : "byte",
                "readOnly" : true
              },
              "expirationDate" : {
                "type" : "string",
                "description" : "Certificate expiration date.",
                "format" : "date-time",
                "readOnly" : true
              },
              "friendlyName" : {
                "type" : "string",
                "description" : "Friendly name of the certificate.",
                "readOnly" : true
              },
              "hostNames" : {
                "type" : "array",
                "description" : "Host names the certificate applies to.",
                "items" : {
                  "type" : "string"
                }
              },
              "hostingEnvironmentProfile" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "Resource ID of the App Service Environment."
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "Name of the App Service Environment.",
                    "readOnly" : true
                  },
                  "type" : {
                    "type" : "string",
                    "description" : "Resource type of the App Service Environment.",
                    "readOnly" : true
                  }
                },
                "description" : "Specification for an App Service Environment to use for this resource."
              },
              "issueDate" : {
                "type" : "string",
                "description" : "Certificate issue Date.",
                "format" : "date-time",
                "readOnly" : true
              },
              "issuer" : {
                "type" : "string",
                "description" : "Certificate issuer.",
                "readOnly" : true
              },
              "keyVaultId" : {
                "type" : "string",
                "description" : "Key Vault Csm resource Id."
              },
              "keyVaultSecretName" : {
                "type" : "string",
                "description" : "Key Vault secret name."
              },
              "keyVaultSecretStatus" : {
                "type" : "string",
                "description" : "Status of the Key Vault secret.",
                "readOnly" : true,
                "enum" : [ "Initialized", "WaitingOnCertificateOrder", "Succeeded", "CertificateOrderFailed", "OperationNotPermittedOnKeyVault", "AzureServiceUnauthorizedToAccessKeyVault", "KeyVaultDoesNotExist", "KeyVaultSecretDoesNotExist", "UnknownError", "ExternalPrivateKey", "Unknown" ]
              },
              "password" : {
                "type" : "string",
                "description" : "Certificate password."
              },
              "pfxBlob" : {
                "pattern" : "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
                "type" : "string",
                "description" : "Pfx blob.",
                "format" : "byte"
              },
              "publicKeyHash" : {
                "type" : "string",
                "description" : "Public key hash.",
                "readOnly" : true
              },
              "selfLink" : {
                "type" : "string",
                "description" : "Self link.",
                "readOnly" : true
              },
              "serverFarmId" : {
                "type" : "string",
                "description" : "Resource ID of the associated App Service plan, formatted as: \"/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}\"."
              },
              "siteName" : {
                "type" : "string",
                "description" : "App name.",
                "readOnly" : true
              },
              "subjectName" : {
                "type" : "string",
                "description" : "Subject name of the certificate.",
                "readOnly" : true
              },
              "thumbprint" : {
                "type" : "string",
                "description" : "Certificate thumbprint.",
                "readOnly" : true
              },
              "valid" : {
                "type" : "boolean",
                "description" : "Is the certificate valid?.",
                "readOnly" : true
              }
            },
            "description" : "CertificatePatchResource resource specific properties"
          }
        },
        "description" : "ARM resource for a certificate.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure proxy only resource. This resource is not tracked by Azure Resource Manager."
        } ]
      }
    },
    "parameters" : {
      "apiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "API Version",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "resourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "Name of the resource group to which the resource belongs.",
        "required" : true,
        "schema" : {
          "maxLength" : 90,
          "minLength" : 1,
          "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
          "type" : "string"
        }
      },
      "subscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}