{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure DevOps",
    "description" : "Azure DevOps Resource Provider",
    "version" : "2019-07-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.DevOps/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all the operations supported by Microsoft.DevOps resource provider.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version to be used with the HTTP request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of supported operations has been fetched successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.DevOps/pipelineTemplateDefinitions" : {
      "get" : {
        "tags" : [ "PipelineTemplateDefinitions" ],
        "description" : "Lists all pipeline templates which can be used to configure an Azure Pipeline.",
        "operationId" : "PipelineTemplateDefinitions_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version to be used with the HTTP request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The pipeline template definitions have been fetched successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineTemplateDefinitionListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevOps/pipelines" : {
      "get" : {
        "tags" : [ "Pipelines" ],
        "description" : "Lists all Azure Pipelines under the specified subscription.",
        "operationId" : "Pipelines_ListBySubscription",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version to be used with the HTTP request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Azure Pipelines have been fetched successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/pipelines" : {
      "get" : {
        "tags" : [ "Pipelines" ],
        "description" : "Lists all Azure Pipelines under the specified resource group.",
        "operationId" : "Pipelines_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version to be used with the HTTP request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Azure Pipelines have been fetched successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/pipelines/{pipelineName}" : {
      "get" : {
        "tags" : [ "Pipelines" ],
        "description" : "Gets an existing Azure Pipeline.",
        "operationId" : "Pipelines_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version to be used with the HTTP request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pipelineName",
          "in" : "path",
          "description" : "The name of the Azure Pipeline resource in ARM.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Azure Pipeline has been fetched successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Pipelines" ],
        "description" : "Creates or updates an Azure Pipeline.",
        "operationId" : "Pipelines_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version to be used with the HTTP request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pipelineName",
          "in" : "path",
          "description" : "The name of the Azure Pipeline resource in ARM.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The request payload to create the Azure Pipeline.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Pipeline"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The Azure Pipeline has been configured successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "202" : {
            "description" : "The request has been accepted for processing and the Azure Pipeline will be configured asynchronously."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Pipelines" ],
        "description" : "Deletes an Azure Pipeline.",
        "operationId" : "Pipelines_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version to be used with the HTTP request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pipelineName",
          "in" : "path",
          "description" : "The name of the Azure Pipeline resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Azure Pipeline has been deleted successfully."
          },
          "204" : {
            "description" : "The Azure Pipeline is not found or has been deleted already."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Pipelines" ],
        "description" : "Updates the properties of an Azure Pipeline. Currently, only tags can be updated.",
        "operationId" : "Pipelines_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group within the Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version to be used with the HTTP request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pipelineName",
          "in" : "path",
          "description" : "The name of the Azure Pipeline resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The request payload containing the properties to update in the Azure Pipeline.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PipelineUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The Azure Pipeline has been updated successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Authorization" : {
        "required" : [ "authorizationType" ],
        "type" : "object",
        "properties" : {
          "authorizationType" : {
            "type" : "string",
            "description" : "Type of authorization.",
            "enum" : [ "personalAccessToken" ]
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Authorization parameters corresponding to the authorization type."
          }
        },
        "description" : "Authorization info used to access a resource (like code repository)."
      },
      "BootstrapConfiguration" : {
        "required" : [ "template" ],
        "type" : "object",
        "properties" : {
          "repository" : {
            "$ref" : "#/components/schemas/CodeRepository"
          },
          "template" : {
            "$ref" : "#/components/schemas/PipelineTemplate"
          }
        },
        "description" : "Configuration used to bootstrap a Pipeline."
      },
      "CloudError" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/CloudErrorBody"
          }
        },
        "description" : "An error response from the Pipelines Resource Provider."
      },
      "CloudErrorBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
          },
          "details" : {
            "type" : "array",
            "description" : "A list of additional details about the error.",
            "items" : {
              "$ref" : "#/components/schemas/CloudErrorBody"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A message describing the error, intended to be suitable for display in a user interface."
          },
          "target" : {
            "type" : "string",
            "description" : "The target of the particular error. For example, the name of the property in error or the method where the error occurred."
          }
        },
        "description" : "An error response from the Pipelines Resource Provider."
      },
      "CodeRepository" : {
        "required" : [ "defaultBranch", "id", "repositoryType" ],
        "type" : "object",
        "properties" : {
          "authorization" : {
            "$ref" : "#/components/schemas/Authorization"
          },
          "defaultBranch" : {
            "type" : "string",
            "description" : "Default branch used to configure Continuous Integration (CI) in the pipeline."
          },
          "id" : {
            "type" : "string",
            "description" : "Unique immutable identifier of the code repository."
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Repository-specific properties."
          },
          "repositoryType" : {
            "type" : "string",
            "description" : "Type of code repository.",
            "enum" : [ "gitHub", "vstsGit" ]
          }
        },
        "description" : "Repository containing the source code for a pipeline."
      },
      "InputDescriptor" : {
        "required" : [ "id", "type" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description of the input parameter."
          },
          "id" : {
            "type" : "string",
            "description" : "Identifier of the input parameter."
          },
          "possibleValues" : {
            "type" : "array",
            "description" : "List of possible values for the input parameter.",
            "items" : {
              "$ref" : "#/components/schemas/InputValue"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "Data type of the value of the input parameter.",
            "enum" : [ "String", "SecureString", "Int", "Bool", "Authorization" ]
          }
        },
        "description" : "Representation of a pipeline template input parameter."
      },
      "InputValue" : {
        "type" : "object",
        "properties" : {
          "displayValue" : {
            "type" : "string",
            "description" : "Description of the input parameter value."
          },
          "value" : {
            "type" : "string",
            "description" : "Value of an input parameter."
          }
        },
        "description" : "Representation of a pipeline template input parameter value."
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/OperationDisplayValue"
          },
          "isDataAction" : {
            "type" : "string",
            "description" : "Indicates whether the operation applies to data-plane."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the operation.",
            "readOnly" : true
          }
        },
        "description" : "Properties of an Operation."
      },
      "OperationDisplayValue" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Friendly description of the operation.",
            "readOnly" : true
          },
          "operation" : {
            "type" : "string",
            "description" : "Friendly name of the operation.",
            "readOnly" : true
          },
          "provider" : {
            "type" : "string",
            "description" : "Friendly name of the resource provider.",
            "readOnly" : true
          },
          "resource" : {
            "type" : "string",
            "description" : "Friendly name of the resource type the operation applies to.",
            "readOnly" : true
          }
        },
        "description" : "Display information of an operation."
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of operations, if there are any."
          },
          "value" : {
            "type" : "array",
            "description" : "List of operations supported by Microsoft.DevOps resource provider.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "Result of a request to list all operations supported by Microsoft.DevOps resource provider."
      },
      "OrganizationReference" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Unique immutable identifier for the Azure DevOps Organization.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the Azure DevOps Organization."
          }
        },
        "description" : "Reference to an Azure DevOps Organization."
      },
      "Pipeline" : {
        "required" : [ "properties" ],
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/PipelineProperties"
          }
        },
        "description" : "Azure DevOps Pipeline used to configure Continuous Integration (CI) & Continuous Delivery (CD) for Azure resources.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "PipelineListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of Pipelines, if there are any."
          },
          "value" : {
            "type" : "array",
            "description" : "List of pipelines.",
            "items" : {
              "$ref" : "#/components/schemas/Pipeline"
            }
          }
        },
        "description" : "Result of a request to list all Azure Pipelines under a given scope."
      },
      "PipelineProperties" : {
        "required" : [ "bootstrapConfiguration", "organization", "project" ],
        "type" : "object",
        "properties" : {
          "bootstrapConfiguration" : {
            "$ref" : "#/components/schemas/BootstrapConfiguration"
          },
          "organization" : {
            "$ref" : "#/components/schemas/OrganizationReference"
          },
          "pipelineId" : {
            "type" : "integer",
            "description" : "Unique identifier of the Azure Pipeline within the Azure DevOps Project.",
            "readOnly" : true
          },
          "project" : {
            "$ref" : "#/components/schemas/ProjectReference"
          }
        },
        "description" : "Custom properties of a Pipeline."
      },
      "PipelineTemplate" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Unique identifier of the pipeline template."
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Dictionary of input parameters used in the pipeline template."
          }
        },
        "description" : "Template used to bootstrap the pipeline."
      },
      "PipelineTemplateDefinition" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description of the pipeline enabled by the template."
          },
          "id" : {
            "type" : "string",
            "description" : "Unique identifier of the pipeline template."
          },
          "inputs" : {
            "type" : "array",
            "description" : "List of input parameters required by the template to create a pipeline.",
            "items" : {
              "$ref" : "#/components/schemas/InputDescriptor"
            }
          }
        },
        "description" : "Definition of a pipeline template."
      },
      "PipelineTemplateDefinitionListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of pipeline template definitions, if there are any."
          },
          "value" : {
            "type" : "array",
            "description" : "List of pipeline template definitions.",
            "items" : {
              "$ref" : "#/components/schemas/PipelineTemplateDefinition"
            }
          }
        },
        "description" : "Result of a request to list all pipeline template definitions."
      },
      "PipelineUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Dictionary of key-value pairs to be set as tags on the Azure Pipeline. This will overwrite any existing tags."
          }
        },
        "description" : "Request payload used to update an existing Azure Pipeline."
      },
      "ProjectReference" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Unique immutable identifier of the Azure DevOps Project.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the Azure DevOps Project."
          }
        },
        "description" : "Reference to an Azure DevOps Project."
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource Location"
          },
          "name" : {
            "type" : "string",
            "description" : "Resource Name",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource Tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource Type",
            "readOnly" : true
          }
        },
        "description" : "An Azure Resource Manager (ARM) resource."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "API version to be used with the HTTP request.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "Name of the resource group within the Azure subscription.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}