{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "FabricAdminClient",
    "description" : "Storage operation results.",
    "version" : "2016-05-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageOperationResults" : {
      "get" : {
        "tags" : [ "StorageOperationResults" ],
        "description" : "Returns a list of all storage operation results at a location.",
        "operationId" : "StorageOperationResults_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter parameter.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageOperationResultList"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageOperationResults/{operation}" : {
      "get" : {
        "tags" : [ "StorageOperationResults" ],
        "description" : "Returns the status of a storage operation.",
        "operationId" : "StorageOperationResults_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "operation",
          "in" : "path",
          "description" : "Operation identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageOperationResult"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "StorageOperationResult" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/StorageOperationResultModel"
          }
        },
        "description" : "Storage operation result description.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "The region where the resource is located."
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key-value pairs."
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base resource object."
        } ]
      },
      "StorageOperationResultList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of storage operation results.",
            "items" : {
              "$ref" : "#/components/schemas/StorageOperationResult"
            }
          }
        },
        "description" : "Pageable list of storage operation results."
      },
      "StorageOperationResultModel" : {
        "type" : "object",
        "properties" : {
          "instances" : {
            "type" : "array",
            "description" : "List of operation result instances.",
            "items" : {
              "type" : "string"
            }
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Success or failure of operation."
          }
        },
        "description" : "Storage operation result properties."
      }
    },
    "parameters" : {
      "OperationParameter" : {
        "name" : "operation",
        "in" : "path",
        "description" : "Operation identifier.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}