{"openapi":"3.0.1","info":{"title":"OrgHunter","description":"Get the latest IRS data and most up to date charity information for your website or application","version":"1.0.0"},"servers":[{"url":"http://data.orghunter.com/"}],"security":[{"user_key":null}],"tags":[{"name":"CharityFinancial","description":"Charity Financial API Test"},{"name":"CharityPremium","description":"Charity Premium API Test"},{"name":"GeoLocation","description":"Charity GeoLocation API Test"},{"name":"categories","description":"Charity NTEE Classification/Categories API Test"},{"name":"details","description":"Charity Basic API Test"},{"name":"summary","description":"Charity Search Summary API Test"}],"paths":{"/v1/categories":{"post":{"tags":["categories"],"summary":"Get categories!","description":"<p>This operation provides a list of categories.</p>","operationId":"get categories","responses":{"200":{"description":"No response was specified"}}}},"/v1/charitybasic":{"post":{"tags":["details"],"summary":"Get details!","description":"<p>This operation detail data.</p>","parameters":[{"name":"ein","in":"query","description":"ein (Employer Identification Number)","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/v1/charityfinancial":{"post":{"tags":["CharityFinancial"],"summary":"Get details!","description":"<p>This operation detail data.</p>","parameters":[{"name":"ein","in":"query","description":"ein (Employer Identification Number)","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/v1/charitygeolocation":{"post":{"tags":["GeoLocation"],"summary":"Get details!","description":"<p>This operation detail data.</p>","parameters":[{"name":"ein","in":"query","description":"ein (Employer Identification Number)","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/v1/charitypremium":{"post":{"tags":["CharityPremium"],"summary":"Get details!","description":"<p>This operation detail data.</p>","parameters":[{"name":"ein","in":"query","description":"ein (Employer Identification Number)","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/v1/charitysearch":{"post":{"tags":["summary"],"summary":"Get summary data!","description":"<p>This operation provides summary data.</p>","operationId":"get summary","parameters":[{"name":"ein","in":"query","description":"Employer Identification Number (EIN)","schema":{"type":"string"}},{"name":"searchTerm","in":"query","description":"Charity Name or Keyword. Example: humane society or cancer","schema":{"type":"string"}},{"name":"city","in":"query","description":"City Name. Example: Miami","schema":{"type":"string"}},{"name":"state","in":"query","description":"State Name - Two letter state abbreviation","schema":{"type":"string"}},{"name":"zipCode","in":"query","description":"Zipcode Value - 5 digit zipcode value","schema":{"type":"string"}},{"name":"category","in":"query","description":"Category Value Selected from Categories API","schema":{"type":"string"}},{"name":"eligible","in":"query","description":"eligible=1 will return only organizations that are tax deductible and in good standing with the IRS","schema":{"type":"string"}},{"name":"start","in":"query","description":"Record Set Start Position","schema":{"type":"string"}},{"name":"rows","in":"query","description":"Records Per Page. Default Value = 20","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}}},"components":{"securitySchemes":{"user_key":{"type":"apiKey","description":"Your API access key","name":"user_key","in":"query"}}}}