{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Learnifier",
    "version" : "1.1.0"
  },
  "externalDocs" : {
    "url" : "http://learnifier.com/api/"
  },
  "servers" : [ {
    "url" : "http://learnifier.com/"
  } ],
  "paths" : {
    "/coursedesigns" : {
      "get" : {
        "tags" : [ "Course Designs" ],
        "summary" : "Lists all global course design templates",
        "description" : "Lists all global course design templates. Only api callers that have full access can call this method.",
        "responses" : {
          "200" : {
            "description" : "List with course design templates",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CourseDesign"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/extorgunit" : {
      "get" : {
        "tags" : [ "Organization Units" ],
        "summary" : "Get Organization Unit with External Id",
        "description" : "Returns information about the organization unit with the specified external id.\n",
        "parameters" : [ {
          "name" : "extid",
          "in" : "query",
          "description" : "The external id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "extid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response with an organization unit",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrgUnit"
                }
              }
            }
          },
          "404" : {
            "description" : "Organization Unit not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/extparticipation" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Gets a participation by external id",
        "description" : "Gets a participation by external id.",
        "parameters" : [ {
          "name" : "extid",
          "in" : "query",
          "description" : "The external id of the participation",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "extid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The matching participation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Participation"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/extproject" : {
      "get" : {
        "tags" : [ "Projects" ],
        "summary" : "Gets Organization Unit by external id",
        "description" : "Gets an Organization Unit by external id",
        "parameters" : [ {
          "name" : "extid",
          "in" : "query",
          "description" : "The external id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "extid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The matching project",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/extuser" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Gets a user by external id",
        "description" : "Gets a user by external id.",
        "parameters" : [ {
          "name" : "extid",
          "in" : "query",
          "description" : "The external id of the user",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "extid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User was successfully added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "404" : {
            "description" : "User not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/globalusergroups" : {
      "get" : {
        "tags" : [ "Global User Groups" ],
        "summary" : "List Global User Groups.",
        "description" : "Returns a list of Global User Groups. Global User Groups are set up for the realm, and will generate groups that can be used on the client level.\n",
        "responses" : {
          "200" : {
            "description" : "List of Global User Groups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GlobalUserGroup"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/globalusergroups/{groupid}/members" : {
      "get" : {
        "tags" : [ "Global User Groups" ],
        "summary" : "List of all users in group.",
        "description" : "Returns a list of all members in User Groups that are based on the Global Group with this groupid.\n",
        "parameters" : [ {
          "name" : "groupid",
          "in" : "path",
          "description" : "ID of group",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of users",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits" : {
      "get" : {
        "tags" : [ "Organization Units" ],
        "summary" : "Organization Units",
        "description" : "The orgunits endpoint returns information about the available organization units (orgunits).\nThe response includes the display name, internal and external id and client number.\n",
        "responses" : {
          "200" : {
            "description" : "A response with organization units",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrgUnits"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Organization Units" ],
        "summary" : "Adds an Organization Unit",
        "description" : "Adds an Organization Unit",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddOrganizationUnit"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Organization Unit was successfully added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddOrganizationUnitResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "An organization with the same clientNumber or external id already existed."
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}" : {
      "get" : {
        "tags" : [ "Organization Units" ],
        "summary" : "Get Organization Unit",
        "description" : "Returns information about the specified organization unit.\nThe response includes the display name, internal and external id and client number.\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response with an organization unit",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrgUnit"
                }
              }
            }
          },
          "404" : {
            "description" : "Organization Unit not found"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Organization Units" ],
        "summary" : "Updates an Organization Unit",
        "description" : "Adds an Organization Unit",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateOrganizationUnit"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Organization Unit was successfully updated"
          },
          "409" : {
            "description" : "An organization with the same clientNumber or external id already existed."
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}/projects" : {
      "get" : {
        "tags" : [ "Projects" ],
        "summary" : "Organization Unit Projects",
        "description" : "Returns the available projects for the organization unit\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list with projects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Projects" ],
        "summary" : "Create project",
        "description" : "Creates a new project\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddProject"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The project was succesfully created created.",
            "headers" : {
              "location" : {
                "description" : "Location to the added project",
                "schema" : {
                  "type" : "string",
                  "format" : "uri"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}/projects/{projectid}" : {
      "get" : {
        "tags" : [ "Projects" ],
        "summary" : "Project information",
        "description" : "Returns project information\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "projectid",
          "in" : "path",
          "description" : "Id of the project",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Projects" ],
        "summary" : "Deletes the project",
        "description" : "Deletes the project. The project can only be deleted if the project do not contain any participants.\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "projectid",
          "in" : "path",
          "description" : "Id of the project",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The project was deleted"
          },
          "404" : {
            "description" : "The project could not be found"
          },
          "406" : {
            "description" : "The project could not be delted due to constraints",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Projects" ],
        "summary" : "Update project information",
        "description" : "Updates information about a project. Values are only updated if the fields are specified in the input\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "projectid",
          "in" : "path",
          "description" : "Id of the project",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateProject"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The project was succesfully updated",
            "headers" : {
              "location" : {
                "description" : "Location to the added project",
                "schema" : {
                  "type" : "string",
                  "format" : "uri"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}/projects/{projectid}/participants" : {
      "get" : {
        "tags" : [ "Projects" ],
        "summary" : "Project participants",
        "description" : "Returns project participants\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "projectid",
          "in" : "path",
          "description" : "Id of the project",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Participation"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Projects" ],
        "summary" : "Add participant",
        "description" : "Add a user to the project. Participant information is created for the user. In the body object, only one of either email or userid must be specified. The participant needs to be activated before it the user can access it.\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "projectid",
          "in" : "path",
          "description" : "Id of the project",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddParticipant"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Participant was created",
            "headers" : {
              "location" : {
                "description" : "Location to the added participant",
                "schema" : {
                  "type" : "string",
                  "format" : "uri"
                }
              }
            }
          },
          "409" : {
            "description" : "Participant with the same email already existed. Location header contains the url to the already existing participant.",
            "headers" : {
              "location" : {
                "description" : "Location to the participant",
                "schema" : {
                  "type" : "string",
                  "format" : "uri"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}/projects/{projectid}/participants/${participantId}" : {
      "delete" : {
        "tags" : [ "Projects" ],
        "summary" : "Deletes a participant",
        "description" : "Deletes a participant. The user itself will still remain but any state related to the project will be deleted.\nIt might not be possible due to constraints from the products in the project to delete the participant. However\nthis can only be determined at the time of the delete. If a delete fails the participant will have their inError\nflag set.\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "projectid",
          "in" : "path",
          "description" : "Id of the project",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "participantId",
          "in" : "path",
          "description" : "Participant id",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Participant is deleted"
          },
          "409" : {
            "description" : "The delete failed due to internal constraints",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}/projects/{projectid}/participants/${participantId}/activate" : {
      "post" : {
        "tags" : [ "Projects" ],
        "summary" : "Activate participant",
        "description" : "Activates a participant so that it can be used\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "projectid",
          "in" : "path",
          "description" : "Id of the project",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "participantId",
          "in" : "path",
          "description" : "Id of the participant",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Participant is activated"
          },
          "406" : {
            "description" : "The participant could not be activated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActivationError"
                }
              }
            }
          },
          "422" : {
            "description" : "The participant could not be activated due to invalid project state",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}/projects/{projectid}/participants/${participantId}/loginlink" : {
      "post" : {
        "tags" : [ "Projects" ],
        "summary" : "Participant login link",
        "description" : "Returns a single sign on link for the participant. The link is only usable once and should be used directly. The link expires after a few minutes.\n\nThis operation requires the *login link* permission.\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "projectid",
          "in" : "path",
          "description" : "Id of the project",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "participantId",
          "in" : "path",
          "description" : "Id of the participant",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A generated one time use login link",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoginLink"
                }
              }
            }
          },
          "422" : {
            "description" : "The participant is not in a state where a loginlink is possible to get",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}/projects/{projectid}/teammembers" : {
      "get" : {
        "tags" : [ "Projects" ],
        "summary" : "Project team members",
        "description" : "Returns the project team members. A team member is a ....\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "Id of the organization unit",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "projectid",
          "in" : "path",
          "description" : "Id of the project",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectTeamMember"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}/usergroups" : {
      "get" : {
        "tags" : [ "User Groups" ],
        "summary" : "List User Groups.",
        "description" : "Returns a list of User Groups for the org unit.\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "ID of organization",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of User Groups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UserGroup"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "User Groups" ],
        "summary" : "Create a User Group.",
        "description" : "Create a User Group.\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "ID of organization",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddUserGroup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "List of User Groups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GroupId"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}/usergroups/{groupid}" : {
      "get" : {
        "tags" : [ "User Groups" ],
        "summary" : "Get user group",
        "description" : "Returns single User Group.\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "ID of organization",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "groupid",
          "in" : "path",
          "description" : "ID of group",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User Group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserGroup"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}/usergroups/{groupid}/members" : {
      "get" : {
        "tags" : [ "User Groups" ],
        "summary" : "List of all users in group.",
        "description" : "Returns a list of all members in User Groups that are based on the Global Group with this groupid.\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "ID of organization",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "groupid",
          "in" : "path",
          "description" : "ID of group",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of users",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "User Groups" ],
        "summary" : "Add user group member.",
        "description" : "Adds a user to user group.\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "ID of organization",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "groupid",
          "in" : "path",
          "description" : "ID of group",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddUserGroupMember"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "User ID of added user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserId"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orgunits/{orgid}/usergroups/{groupid}/members/{uuid}" : {
      "delete" : {
        "tags" : [ "User Groups" ],
        "summary" : "Remove user group member.",
        "description" : "Removes a user from a user group.\n",
        "parameters" : [ {
          "name" : "orgid",
          "in" : "path",
          "description" : "ID of organization",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "groupid",
          "in" : "path",
          "description" : "ID of group",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "uuid",
          "in" : "path",
          "description" : "UUID of user to remove from group.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Lists all users",
        "description" : "Lists all users. Only api callers that have full access can call this method.",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of users to return",
          "schema" : {
            "type" : "integer",
            "format" : "integer",
            "default" : 5000
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The offset to start listing users from",
          "schema" : {
            "type" : "integer",
            "format" : "integer",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List with users",
            "headers" : {
              "X-More" : {
                "description" : "Indicates if there are more users available",
                "schema" : {
                  "type" : "boolean"
                }
              },
              "X-Offset" : {
                "description" : "The offset that was used",
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Limit" : {
                "description" : "The limit that was used",
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Size" : {
                "description" : "The number of users returned",
                "schema" : {
                  "type" : "integer"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UserWithPermissions"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Adds a user",
        "description" : "Adds a user. No two users can have the same email address. Email is saved WITH case but compared regardless of case. Email can be changed for a user assuming it doesn't cause a conflict.",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddUser"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "User was successfully added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddUserResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "A user with the same primary email already existed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddUserResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userid}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "User information",
        "description" : "Returns information about a user\n",
        "parameters" : [ {
          "name" : "userid",
          "in" : "path",
          "description" : "A user id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Users" ],
        "summary" : "Updates user information",
        "description" : "Updates a user. All values that have a key defined in the input will be set. So if a value should not be updated omit it totally from the input, otherwise it will be unset.",
        "parameters" : [ {
          "name" : "userid",
          "in" : "path",
          "description" : "The user id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddUser"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "User was successfully updated"
          },
          "409" : {
            "description" : "A user with the same primary email already existed."
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userid}/pic?key={APIKEY}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "User profile picture",
        "description" : "Returns a thumbnail picture of the user. This can either be a selected picture or an auto generated image. This method doesn't require a full sign in. The api key is sufficient.\nThe image is square and is likely, but not necessary, to be in 128x128 PNG format. However the format will always be either PNG, JPEG or GIF.\n",
        "parameters" : [ {
          "name" : "userid",
          "in" : "path",
          "description" : "The user id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "APIKEY",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An image. Check the Content-Type header to determine which type the returned image have"
          },
          "302" : {
            "description" : "A redirect to the profile"
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userid}/projectParticipations" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Returns information about the projects the user is a participant in.",
        "description" : "Returns information about the projects the user is a participant in. Only the projects that the current token have access to will be listed.\n",
        "parameters" : [ {
          "name" : "userid",
          "in" : "path",
          "description" : "A user id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project participation info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserParticipationInfo"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ActivationError" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "description" : "Optional error code",
            "format" : "int32"
          },
          "failures" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProductFailure"
            }
          },
          "field" : {
            "type" : "string",
            "description" : "The input field that the error was related to"
          },
          "message" : {
            "type" : "string",
            "description" : "Optional error message"
          }
        }
      },
      "AddOrganizationUnit" : {
        "required" : [ "displayName" ],
        "type" : "object",
        "properties" : {
          "caller" : {
            "type" : "string",
            "description" : "The id of the user that initiated this operation",
            "format" : "uuid",
            "example" : "81590981-1e05-4fd5-aa15-15bc4b06cf7f"
          },
          "clientNumber" : {
            "type" : "string",
            "description" : "A client number. Sometimes used when communicating with external system. Must be unique if specified.",
            "example" : "X-1234"
          },
          "country" : {
            "type" : "string",
            "description" : "The country code that best matches the organization unit. If unspecified the platform default will be set.",
            "format" : "locale",
            "example" : "se"
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name shown for the organization unit",
            "example" : "Sample Corp"
          },
          "externalId" : {
            "type" : "string",
            "description" : "The external id (foreign key). Must not exceed 255 characters."
          },
          "parent" : {
            "type" : "number",
            "description" : "A Organization Unit id of the parent Organization Unit (optional).",
            "format" : "id64",
            "example" : 1234.0
          }
        }
      },
      "AddOrganizationUnitResponse" : {
        "type" : "object",
        "properties" : {
          "ouId" : {
            "type" : "number",
            "description" : "The Organization Unit id",
            "format" : "int64",
            "example" : 12.0
          }
        }
      },
      "AddParticipant" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "The email of the user. If no user exists with the specified email a user will be created with default values and the specified email.",
            "format" : "email",
            "example" : "user@example.com"
          },
          "extid" : {
            "type" : "string",
            "description" : "An optional external id for the participation"
          },
          "userid" : {
            "type" : "string",
            "format" : "uuid",
            "example" : "81590981-1e05-4fd5-aa15-15bc4b06cf7f"
          }
        }
      },
      "AddProject" : {
        "required" : [ "designId", "name" ],
        "type" : "object",
        "properties" : {
          "country" : {
            "type" : "string",
            "description" : "The country code. Default value will be used if not specified",
            "format" : "countrycode",
            "example" : "SE"
          },
          "createdBy" : {
            "type" : "string",
            "description" : "The id of the user that created the project. If the creator is not known this value can be *null* or not specified",
            "format" : "uuid",
            "example" : "8c102c8e-fabd-4c8a-b245-4d2d2f77fc4b"
          },
          "designId" : {
            "type" : "integer",
            "description" : "The id of the design this project should be based on",
            "format" : "int64"
          },
          "locale" : {
            "type" : "string",
            "description" : "The primary locale for this project. Default value will be used if not specified",
            "format" : "locale",
            "example" : "en-US"
          },
          "name" : {
            "type" : "string",
            "description" : "The internal name of the project"
          },
          "note" : {
            "type" : "string",
            "description" : "The internal note field"
          },
          "timezone" : {
            "type" : "string",
            "description" : "The main timezone for the project. Do not specify for default timezone",
            "format" : "timezone",
            "example" : "Europe/Stockholm"
          },
          "userDescription" : {
            "type" : "string",
            "description" : "The description presented to participants. Do not specify for default value from design"
          },
          "userTitle" : {
            "type" : "string",
            "description" : "The title presented to participants. Do not specify for default value from design"
          }
        }
      },
      "AddUser" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "The name shown when the user is listed",
            "example" : "Jane Doe"
          },
          "externalId" : {
            "type" : "string",
            "description" : "The external id (foreign key). Must not exceed 255 characters."
          },
          "firstName" : {
            "type" : "string",
            "description" : "The first (given) name of the user",
            "example" : "Jane"
          },
          "hardLock" : {
            "type" : "boolean",
            "description" : "True if the user should be locked from the system"
          },
          "homeOrg" : {
            "type" : "integer",
            "description" : "The primary organization for the user. Must match the id of an Organization Unit.",
            "format" : "int64",
            "example" : 1234
          },
          "lastName" : {
            "type" : "object",
            "description" : "The last name (surname) of the user",
            "format" : "string",
            "example" : "Doe"
          },
          "locale" : {
            "type" : "string",
            "description" : "The user's preferred language/locale setting. Affects date and number formatting.",
            "format" : "locale",
            "example" : "en-US"
          },
          "primaryEmail" : {
            "type" : "string",
            "description" : "The primary email for the user. Used for communication from the platform.",
            "example" : "jane.doe@example.com"
          }
        }
      },
      "AddUserGroup" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Name of group.",
            "example" : "Foo"
          },
          "parent" : {
            "type" : "integer",
            "description" : "Optional ID of parent group.",
            "format" : "int64",
            "example" : 1010
          }
        }
      },
      "AddUserGroupMember" : {
        "required" : [ "uuid" ],
        "type" : "object",
        "properties" : {
          "uuid" : {
            "type" : "string",
            "description" : "UUID of user to add to this group.",
            "format" : "uuid"
          }
        }
      },
      "AddUserResponse" : {
        "type" : "object",
        "properties" : {
          "userId" : {
            "type" : "string",
            "description" : "The user id",
            "format" : "uuid",
            "example" : "81590981-1e05-4fd5-aa15-15bc4b06cf7f"
          }
        }
      },
      "BackOfficeRole" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The id of the role"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the role"
          }
        }
      },
      "ClientRole" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The id of the role"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the role"
          }
        }
      },
      "ClientRoles" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "An organization unit id"
          },
          "roles" : {
            "type" : "array",
            "description" : "A list with client roles",
            "items" : {
              "$ref" : "#/components/schemas/ClientRole"
            }
          }
        }
      },
      "CourseDesign" : {
        "required" : [ "enabled", "locale", "lockedDesign", "name", "sticky" ],
        "type" : "object",
        "properties" : {
          "created" : {
            "type" : "string",
            "description" : "The time this entry was created",
            "format" : "date-time"
          },
          "createdBy" : {
            "type" : "string",
            "description" : "UUID of the user that created this entry.",
            "format" : "uuid"
          },
          "description" : {
            "type" : "string",
            "description" : "Course description"
          },
          "enabled" : {
            "type" : "boolean",
            "description" : "True if this design is enabled for use"
          },
          "locale" : {
            "type" : "string",
            "description" : "BCP-47 locale",
            "format" : "locale"
          },
          "locked" : {
            "type" : "string",
            "description" : "The time when this entry was locked or null",
            "format" : "date-time"
          },
          "lockedBy" : {
            "type" : "string",
            "description" : "UUID of the user that has locked this design",
            "format" : "uuid"
          },
          "lockedDesign" : {
            "type" : "boolean",
            "description" : "True if this design is locked for editing"
          },
          "name" : {
            "type" : "string",
            "description" : "The name"
          },
          "softid" : {
            "type" : "string",
            "description" : "The soft identifier"
          },
          "sticky" : {
            "type" : "boolean",
            "description" : "True if this design is sticky"
          },
          "tags" : {
            "type" : "array",
            "description" : "Course tags",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "Error" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "description" : "Optional error code",
            "format" : "int32"
          },
          "field" : {
            "type" : "string",
            "description" : "The input field that the error was related to"
          },
          "message" : {
            "type" : "string",
            "description" : "Optional error message"
          }
        }
      },
      "GlobalUserGroup" : {
        "required" : [ "created", "id" ],
        "type" : "object",
        "properties" : {
          "created" : {
            "type" : "string",
            "description" : "Timestamp when group was created.",
            "format" : "date-time"
          },
          "createdBy" : {
            "type" : "string",
            "description" : "UUID of the user that created this group.",
            "format" : "uuid",
            "example" : "81590981-1e05-4fd5-aa15-15bc4b06cf7f"
          },
          "id" : {
            "type" : "integer",
            "description" : "The id of the group.",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the group."
          },
          "parent" : {
            "type" : "integer",
            "description" : "Id of parent group, null if group has no parent.",
            "format" : "int64"
          },
          "softiId" : {
            "type" : "string",
            "description" : "Alternative unique ID for the group."
          },
          "updated" : {
            "type" : "string",
            "description" : "Timestamp when group was last modified.",
            "format" : "date-time"
          },
          "updatedBy" : {
            "type" : "string",
            "description" : "UUID of the user that last updated this group.",
            "format" : "uuid",
            "example" : "81590981-1e05-4fd5-aa15-15bc4b06cf7f"
          }
        }
      },
      "GroupId" : {
        "required" : [ "groupId" ],
        "type" : "object",
        "properties" : {
          "groupId" : {
            "type" : "integer",
            "description" : "ID of group.",
            "format" : "int64",
            "example" : 1010
          }
        }
      },
      "LoginLink" : {
        "type" : "object",
        "properties" : {
          "link" : {
            "type" : "string",
            "description" : "An full http url",
            "format" : "url",
            "example" : "http://www.example.com/login/1234567890"
          }
        }
      },
      "OrgUnit" : {
        "required" : [ "id", "type" ],
        "type" : "object",
        "properties" : {
          "externalId" : {
            "type" : "string",
            "description" : "The external id (foreign key). Must not exceed 255 characters."
          },
          "id" : {
            "type" : "integer",
            "description" : "Unique identifier representing a specific organization unit. Id numbers are never reused.",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the client."
          },
          "parentId" : {
            "type" : "integer",
            "description" : "Unique identifier of the parent or *null* if there is no parent.",
            "format" : "int64"
          },
          "type" : {
            "type" : "string",
            "description" : "The organization unit type. The only type is *client* at the moment."
          }
        }
      },
      "OrgUnits" : {
        "type" : "object",
        "properties" : {
          "orgUnits" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OrgUnit"
            }
          }
        }
      },
      "Participation" : {
        "type" : "object",
        "properties" : {
          "accessLink" : {
            "type" : "string",
            "description" : "A link to access this particular participation. The link requires the user to login. Users that access the platform the first time must set a password. This value is null if this participation is not activated. ",
            "format" : "url",
            "example" : "http://www.example.com/accesslink/123451"
          },
          "activated" : {
            "type" : "boolean",
            "description" : "True if this participation has been activated and can be used"
          },
          "activitiesCompleted" : {
            "type" : "number",
            "description" : "The number of activities completed",
            "format" : "int64",
            "example" : 3.0
          },
          "activitiesTotal" : {
            "type" : "number",
            "description" : "The total number of activities",
            "format" : "int64",
            "example" : 5.0
          },
          "errorMessage" : {
            "type" : "string",
            "description" : "An optional error message that may describe why the participation is in error state."
          },
          "expiration" : {
            "type" : "string",
            "description" : "The timestamp when this participation will expire. Expiration never happens if this value is *null*.",
            "format" : "date-time"
          },
          "externalId" : {
            "type" : "string",
            "description" : "The external id (foreign key). Must not exceed 255 characters."
          },
          "firstAccess" : {
            "type" : "string",
            "description" : "The timestamp when the participant accessed the project for the first time. This value can be null",
            "format" : "date-time"
          },
          "firstActivation" : {
            "type" : "string",
            "description" : "The timestamp when this participation was first activated. This value can be null",
            "format" : "date-time"
          },
          "firstMail" : {
            "type" : "string",
            "description" : "The timestamp when the first mail was sent to this participant. This value can be null",
            "format" : "date-time"
          },
          "id" : {
            "type" : "integer",
            "description" : "Unique identifier representing this participation. Id numbers are never reused",
            "format" : "int64"
          },
          "inError" : {
            "type" : "boolean",
            "description" : "True if this participation is in an error state. The user is not able to access participations that are in error state."
          },
          "lastAccess" : {
            "type" : "string",
            "description" : "The timestamp when the participant accessed the project the last time. This value can be null",
            "format" : "date-time"
          },
          "lastActivation" : {
            "type" : "string",
            "description" : "The timestamp when this participation was last activated. This value can be null",
            "format" : "date-time"
          },
          "lastMail" : {
            "type" : "string",
            "description" : "The timestamp when the last mail was sent to this participant. This value can be null",
            "format" : "date-time"
          },
          "projectId" : {
            "type" : "integer",
            "description" : "The id of the project this participation belongs to",
            "format" : "int64"
          },
          "userId" : {
            "type" : "string",
            "description" : "The id of the user this participation belongs to",
            "format" : "uuid"
          }
        }
      },
      "ProductFailure" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "The error message"
          },
          "productId" : {
            "type" : "string",
            "description" : "A product id"
          },
          "type" : {
            "type" : "string",
            "description" : "The technical error type"
          }
        }
      },
      "Project" : {
        "type" : "object",
        "properties" : {
          "adminUrl" : {
            "type" : "string",
            "description" : "URL to the page where project administration can be done. Administrative access is still required when accessing the url.",
            "format" : "url",
            "example" : "http://www.example.com/adminUrl/1234"
          },
          "country" : {
            "type" : "string",
            "description" : "The country code",
            "format" : "countrycode",
            "example" : "SE"
          },
          "created" : {
            "type" : "string",
            "description" : "The timestamp when this project was created.",
            "format" : "date-time"
          },
          "createdBy" : {
            "type" : "string",
            "description" : "The id of the user that created the project. If the creator is not known this value is *null*",
            "format" : "uuid",
            "example" : "8c102c8e-fabd-4c8a-b245-4d2d2f77fc4b"
          },
          "designId" : {
            "type" : "integer",
            "description" : "The id of the design this project are using or null if no design is used",
            "format" : "int64"
          },
          "externalId" : {
            "type" : "string",
            "description" : "The external id (foreign key). Must not exceed 255 characters."
          },
          "id" : {
            "type" : "integer",
            "description" : "Unique identifier representing a specific project. Id numbers are never reused.",
            "format" : "int64"
          },
          "locale" : {
            "type" : "string",
            "description" : "The primary locale for this project",
            "format" : "locale",
            "example" : "en-US"
          },
          "name" : {
            "type" : "string",
            "description" : "The internal name of the project"
          },
          "note" : {
            "type" : "string",
            "description" : "The internal note field"
          },
          "orgId" : {
            "type" : "integer",
            "description" : "The id of the organization unit this project belongs to",
            "format" : "int64"
          },
          "status" : {
            "type" : "string",
            "description" : "Project status. Can be either ACTIVATED, NEW or DISABLED",
            "example" : "ACTIVATED",
            "enum" : [ "ACTIVATED", "NEW", "DISABLED" ]
          },
          "timezone" : {
            "type" : "string",
            "description" : "The main timezone for the project",
            "format" : "timezone",
            "example" : "Europe/Stockholm"
          },
          "userDescription" : {
            "type" : "string",
            "description" : "The description presented to participants. This value can be *null*."
          },
          "userTitle" : {
            "type" : "string",
            "description" : "The title presented to participants"
          }
        }
      },
      "ProjectTeamMember" : {
        "type" : "object",
        "properties" : {
          "roles" : {
            "$ref" : "#/components/schemas/TeamRole"
          },
          "userid" : {
            "type" : "string",
            "description" : "The id of the user that created the project. If the creator is not known this value is *null*",
            "format" : "uuid",
            "example" : "81590981-1e05-4fd5-aa15-15bc4b06cf7f"
          }
        }
      },
      "TeamRole" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "roleid" : {
            "type" : "string",
            "format" : "uuid",
            "example" : "2afae00f-8357-4b56-94bb-44a3cf0b8ffa"
          }
        }
      },
      "UpdateOrganizationUnit" : {
        "type" : "object",
        "properties" : {
          "caller" : {
            "type" : "string",
            "description" : "The id of the user that initiated this operation",
            "format" : "uuid",
            "example" : "81590981-1e05-4fd5-aa15-15bc4b06cf7f"
          },
          "clientNumber" : {
            "type" : "string",
            "description" : "A client number. Sometimes used when communicating with external system. Must be unique if specified.",
            "example" : "X-1234"
          },
          "country" : {
            "type" : "string",
            "description" : "The country code that best matches the organization unit. If unspecified the platform default will be set.",
            "format" : "locale",
            "example" : "se"
          },
          "displayName" : {
            "type" : "string",
            "description" : "The name shown for the organization unit",
            "example" : "Sample Corp"
          },
          "externalId" : {
            "type" : "string",
            "description" : "The external id (foreign key). Must not exceed 255 characters."
          },
          "parent" : {
            "type" : "number",
            "description" : "A Organization Unit id of the parent Organization Unit (optional).",
            "format" : "id64",
            "example" : 1234.0
          }
        }
      },
      "UpdateProject" : {
        "type" : "object",
        "properties" : {
          "country" : {
            "type" : "string",
            "description" : "The country code",
            "format" : "countrycode",
            "example" : "SE"
          },
          "locale" : {
            "type" : "string",
            "description" : "The primary locale for this project",
            "format" : "locale",
            "example" : "en-US"
          },
          "name" : {
            "type" : "string",
            "description" : "The internal name of the project"
          },
          "note" : {
            "type" : "string",
            "description" : "The internal note field"
          },
          "status" : {
            "type" : "string",
            "description" : "Project status. Can be either ACTIVATED, NEW or DISABLED",
            "example" : "ACTIVATED",
            "enum" : [ "ACTIVATED", "NEW", "DISABLED" ]
          },
          "timezone" : {
            "type" : "string",
            "description" : "The main timezone for the project",
            "format" : "timezone",
            "example" : "Europe/Stockholm"
          },
          "userDescription" : {
            "type" : "string",
            "description" : "The description presented to participants. This value can be *null*."
          },
          "userTitle" : {
            "type" : "string",
            "description" : "The title presented to participants"
          }
        }
      },
      "User" : {
        "type" : "object",
        "properties" : {
          "authorizationPossible" : {
            "type" : "boolean",
            "description" : "True if the user can authorize herself/himself"
          },
          "displayName" : {
            "type" : "string",
            "description" : "Full name of the user",
            "example" : "Jane Doe"
          },
          "externalId" : {
            "type" : "string",
            "description" : "The external id (foreign key). Must not exceed 255 characters."
          },
          "firstLogin" : {
            "type" : "string",
            "description" : "The timestamp when the first login was made. This value can be *null*.",
            "format" : "date-time"
          },
          "firstName" : {
            "type" : "string",
            "description" : "The first name of the user (or given name)",
            "example" : "Jane"
          },
          "hardLock" : {
            "type" : "boolean",
            "description" : "True if the user is locked and the lock has been set by an administrator"
          },
          "homeOrg" : {
            "type" : "integer",
            "description" : "The primary organization for the user. Must match the id of an Organization Unit.",
            "format" : "int64",
            "example" : 1234
          },
          "id" : {
            "type" : "string",
            "description" : "The id of the user this participation belongs to",
            "format" : "uuid",
            "example" : "81590981-1e05-4fd5-aa15-15bc4b06cf7f"
          },
          "lastLogin" : {
            "type" : "string",
            "description" : "The timestamp when the last login was made. This value can be *null*.",
            "format" : "date-time"
          },
          "lastName" : {
            "type" : "string",
            "description" : "The last name of the user (or surname)",
            "example" : "Doe"
          },
          "locked" : {
            "type" : "boolean",
            "description" : "Lock status. A locked user will not be able to access the platform."
          },
          "prefs" : {
            "$ref" : "#/components/schemas/UserPreferences"
          },
          "primaryEmail" : {
            "type" : "string",
            "description" : "The primary email for this user. If the user has no email this value is *null*.",
            "format" : "email"
          }
        }
      },
      "UserGroup" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "children" : {
            "type" : "array",
            "description" : "Children User Groups.",
            "items" : {
              "$ref" : "#/components/schemas/UserGroup"
            }
          },
          "globalId" : {
            "type" : "integer",
            "description" : "Global group ID if this group is based on a global group, otherwise null.",
            "format" : "int64"
          },
          "groupId" : {
            "type" : "integer",
            "description" : "Unique identifier representing a User Group. Id numbers are never reused.",
            "format" : "int64"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the User Group."
          },
          "parent" : {
            "type" : "integer",
            "description" : "Unique identifier of the parent or *null* if there is no parent.",
            "format" : "int64"
          },
          "userGroup" : {
            "type" : "integer",
            "description" : "If of internal user group object that holds the members of this group.",
            "format" : "int64"
          }
        }
      },
      "UserId" : {
        "required" : [ "uuid" ],
        "type" : "object",
        "properties" : {
          "uuid" : {
            "type" : "string",
            "description" : "UUID of user to add to this group.",
            "format" : "uuid",
            "example" : "aa7685cb-d47e-419e-8541-0d13cdcfe779"
          }
        }
      },
      "UserParticipationInfo" : {
        "type" : "object",
        "properties" : {
          "accessLink" : {
            "type" : "string",
            "description" : "A link to access this particular participation. The link requires the user to login. Users that access the platform the first time must set a password. This value is null if this participation is not activated. ",
            "format" : "url",
            "example" : "http://www.example.com/accesslink/123451"
          },
          "activated" : {
            "type" : "boolean",
            "description" : "True if this participation has been activated and can be used"
          },
          "activitiesCompleted" : {
            "type" : "number",
            "description" : "The number of activities completed",
            "format" : "int64",
            "example" : 3.0
          },
          "activitiesTotal" : {
            "type" : "number",
            "description" : "The total number of activities",
            "format" : "int64",
            "example" : 5.0
          },
          "errorMessage" : {
            "type" : "string",
            "description" : "An optional error message that may describe why the participation is in error state."
          },
          "expiration" : {
            "type" : "string",
            "description" : "The timestamp when this participation will expire. Expiration never happens if this value is *null*.",
            "format" : "date-time"
          },
          "externalId" : {
            "type" : "string",
            "description" : "The external id (foreign key). Must not exceed 255 characters."
          },
          "firstAccess" : {
            "type" : "string",
            "description" : "The timestamp when the participant accessed the project for the first time. This value can be null",
            "format" : "date-time"
          },
          "firstActivation" : {
            "type" : "string",
            "description" : "The timestamp when this participation was first activated. This value can be null",
            "format" : "date-time"
          },
          "firstMail" : {
            "type" : "string",
            "description" : "The timestamp when the first mail was sent to this participant. This value can be null",
            "format" : "date-time"
          },
          "id" : {
            "type" : "integer",
            "description" : "Participation id",
            "format" : "int64"
          },
          "inError" : {
            "type" : "boolean",
            "description" : "True if this participation is in an error state. The user is not able to access participations that are in error state."
          },
          "lastAccess" : {
            "type" : "string",
            "description" : "The timestamp when the participant accessed the project the last time. This value can be null",
            "format" : "date-time"
          },
          "lastActivation" : {
            "type" : "string",
            "description" : "The timestamp when this participation was last activated. This value can be null",
            "format" : "date-time"
          },
          "lastMail" : {
            "type" : "string",
            "description" : "The timestamp when the last mail was sent to this participant. This value can be null",
            "format" : "date-time"
          },
          "projectId" : {
            "type" : "integer",
            "description" : "Project id",
            "format" : "int64"
          },
          "projectName" : {
            "type" : "string",
            "description" : "The internal name of the project"
          },
          "projectOrgId" : {
            "type" : "integer",
            "description" : "The organization id",
            "format" : "int64"
          },
          "projectStatus" : {
            "type" : "string",
            "description" : "Project status. Can be either ACTIVATED, NEW or DISABLED",
            "example" : "ACTIVATED",
            "enum" : [ "ACTIVATED", "NEW", "DISABLED" ]
          },
          "projectThumbnail" : {
            "type" : "string",
            "description" : "An url to the project thumbnail. This url can be accessed by anyone.",
            "format" : "url",
            "example" : "http://www.example.com/thumbnail.png"
          },
          "projectUserTitle" : {
            "type" : "string",
            "description" : "The title presented to participants"
          }
        }
      },
      "UserPreferences" : {
        "type" : "object",
        "properties" : {
          "locale" : {
            "type" : "string",
            "description" : "The preferred locale. This value can be *null* if no specific preference has been selected.",
            "format" : "locale",
            "example" : "sv-SE"
          }
        }
      },
      "UserWithPermissions" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/User"
        }, {
          "type" : "object",
          "properties" : {
            "backOfficeRoles" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/BackOfficeRole"
              }
            },
            "clientRoles" : {
              "type" : "array",
              "description" : "A list with client roles",
              "items" : {
                "$ref" : "#/components/schemas/ClientRoles"
              }
            }
          }
        } ]
      }
    }
  }
}