{"openapi":"3.0.1","info":{"title":"AutomationManagement","version":"2018-01-15"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation":{"get":{"tags":["AgentRegistrationInformation"],"description":"Retrieve the automation agent registration information.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/agentregistrationoperations"},"operationId":"AgentRegistrationInformation_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentRegistration"}},"text/plain":{"schema":{"$ref":"#/components/schemas/AgentRegistration"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}},"text/plain":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation/regenerateKey":{"post":{"tags":["AgentRegistrationInformation"],"description":"Regenerate a primary or secondary agent registration key","externalDocs":{"url":"http://aka.ms/azureautomationsdk/agentregistrationoperations"},"operationId":"AgentRegistrationInformation_RegenerateKey","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The name of the agent registration key to be regenerated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentRegistrationRegenerateKeyParameter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentRegistration"}},"text/plain":{"schema":{"$ref":"#/components/schemas/AgentRegistration"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}},"text/plain":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes":{"get":{"tags":["DscNode"],"description":"Retrieve a list of dsc nodes.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/dscnodeoperations"},"operationId":"DscNode_ListByAutomationAccount","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation.","schema":{"type":"string"}},{"name":"$skip","in":"query","description":"The number of rows to skip.","schema":{"type":"integer"}},{"name":"$top","in":"query","description":"The number of rows to take.","schema":{"type":"integer"}},{"name":"$inlinecount","in":"query","description":"Return total rows.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DscNodeListResult"}},"text/plain":{"schema":{"$ref":"#/components/schemas/DscNodeListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}},"text/plain":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}":{"get":{"tags":["DscNode"],"description":"Retrieve the dsc node identified by node id.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/dscnodeoperations"},"operationId":"DscNode_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"nodeId","in":"path","description":"The node id.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DscNode"}},"text/plain":{"schema":{"$ref":"#/components/schemas/DscNode"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}},"text/plain":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"delete":{"tags":["DscNode"],"description":"Delete the dsc node identified by node id.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/dscnodeoperations"},"operationId":"DscNode_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"nodeId","in":"path","description":"The node id.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DscNode"}},"text/plain":{"schema":{"$ref":"#/components/schemas/DscNode"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}},"text/plain":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"patch":{"tags":["DscNode"],"description":"Update the dsc node.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/dscnodeoperations"},"operationId":"DscNode_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"nodeId","in":"path","description":"Parameters supplied to the update dsc node.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the update dsc node.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DscNodeUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DscNode"}},"text/plain":{"schema":{"$ref":"#/components/schemas/DscNode"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}},"text/plain":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports":{"get":{"tags":["NodeReports"],"description":"Retrieve the Dsc node report list by node id.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/dscnodereportoperations"},"operationId":"NodeReports_ListByNode","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"nodeId","in":"path","description":"The parameters supplied to the list operation.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DscNodeReportListResult"}},"text/plain":{"schema":{"$ref":"#/components/schemas/DscNodeReportListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}},"text/plain":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}":{"get":{"tags":["NodeReports"],"description":"Retrieve the Dsc node report data by node id and report id.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/dscnodereportoperations"},"operationId":"NodeReports_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"nodeId","in":"path","description":"The Dsc node id.","required":true,"schema":{"type":"string"}},{"name":"reportId","in":"path","description":"The report id.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DscNodeReport"}},"text/plain":{"schema":{"$ref":"#/components/schemas/DscNodeReport"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}},"text/plain":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}/content":{"get":{"tags":["NodeReports"],"description":"Retrieve the Dsc node reports by node id and report id.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/dscnodereportoperations"},"operationId":"NodeReports_GetContent","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"nodeId","in":"path","description":"The Dsc node id.","required":true,"schema":{"type":"string"}},{"name":"reportId","in":"path","description":"The report id.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}},"text/plain":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"AgentRegistration":{"type":"object","properties":{"dscMetaConfiguration":{"type":"string","description":"Gets or sets the dsc meta configuration."},"endpoint":{"type":"string","description":"Gets or sets the dsc server endpoint."},"id":{"type":"string","description":"Gets or sets the id."},"keys":{"$ref":"#/components/schemas/AgentRegistrationKeys"}},"description":"Definition of the agent registration information type."},"AgentRegistrationKeys":{"type":"object","properties":{"primary":{"type":"string","description":"Gets or sets the primary key."},"secondary":{"type":"string","description":"Gets or sets the secondary key."}},"description":"Definition of the agent registration keys."},"AgentRegistrationRegenerateKeyParameter":{"required":["keyName"],"type":"object","properties":{"keyName":{"type":"string","description":"Gets or sets the agent registration key name - primary or secondary.","enum":["primary","secondary"]}},"description":"The parameters supplied to the regenerate keys operation."},"DscMetaConfiguration":{"type":"object","properties":{"actionAfterReboot":{"type":"string","description":"Gets or sets the ActionAfterReboot value of the meta configuration."},"allowModuleOverwrite":{"type":"boolean","description":"Gets or sets the AllowModuleOverwrite value of the meta configuration."},"certificateId":{"type":"string","description":"Gets or sets the CertificateId value of the meta configuration."},"configurationMode":{"type":"string","description":"Gets or sets the ConfigurationMode value of the meta configuration."},"configurationModeFrequencyMins":{"type":"integer","description":"Gets or sets the ConfigurationModeFrequencyMins value of the meta configuration.","format":"int32"},"rebootNodeIfNeeded":{"type":"boolean","description":"Gets or sets the RebootNodeIfNeeded value of the meta configuration."},"refreshFrequencyMins":{"type":"integer","description":"Gets or sets the RefreshFrequencyMins value of the meta configuration.","format":"int32"}},"description":"Definition of the DSC Meta Configuration."},"DscNode":{"properties":{"properties":{"$ref":"#/components/schemas/DscNodeProperties"}},"description":"Definition of a DscNode","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources"}]}]},"DscNodeConfigurationAssociationProperty":{"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the dsc node configuration."}},"description":"The dsc node configuration property associated with the entity."},"DscNodeExtensionHandlerAssociationProperty":{"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the extension handler."},"version":{"type":"string","description":"Gets or sets the version of the extension handler."}},"description":"The dsc extensionHandler property associated with the node"},"DscNodeListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Gets or sets the next link."},"totalCount":{"type":"integer","description":"Gets the total number of nodes matching filter criteria."},"value":{"type":"array","description":"Gets or sets a list of dsc nodes.","items":{"$ref":"#/components/schemas/DscNode"}}},"description":"The response model for the list dsc nodes operation."},"DscNodeProperties":{"type":"object","properties":{"accountId":{"type":"string","description":"Gets or sets the account id of the node."},"etag":{"type":"string","description":"Gets or sets the etag of the resource."},"extensionHandler":{"type":"array","description":"Gets or sets the list of extensionHandler properties for a Node.","items":{"$ref":"#/components/schemas/DscNodeExtensionHandlerAssociationProperty"}},"ip":{"type":"string","description":"Gets or sets the ip of the node."},"lastSeen":{"type":"string","description":"Gets or sets the last seen time of the node.","format":"date-time","nullable":false},"nodeConfiguration":{"$ref":"#/components/schemas/DscNodeConfigurationAssociationProperty"},"nodeId":{"type":"string","description":"Gets or sets the node id."},"registrationTime":{"type":"string","description":"Gets or sets the registration time of the node.","format":"date-time","nullable":false},"status":{"type":"string","description":"Gets or sets the status of the node."},"totalCount":{"type":"integer","description":"Gets the total number of records matching filter criteria."}},"description":"The properties of a DscNode"},"DscNodeReport":{"type":"object","properties":{"configurationVersion":{"type":"string","description":"Gets or sets the configurationVersion of the node report."},"endTime":{"type":"string","description":"Gets or sets the end time of the node report.","format":"date-time","nullable":true},"errors":{"type":"array","description":"Gets or sets the errors for the node report.","items":{"$ref":"#/components/schemas/DscReportError"}},"hostName":{"type":"string","description":"Gets or sets the hostname of the node that sent the report."},"iPV4Addresses":{"type":"array","description":"Gets or sets the IPv4 address of the node that sent the report.","items":{"type":"string"}},"iPV6Addresses":{"type":"array","description":"Gets or sets the IPv6 address of the node that sent the report.","items":{"type":"string"}},"id":{"type":"string","description":"Gets or sets the id."},"lastModifiedTime":{"type":"string","description":"Gets or sets the lastModifiedTime of the node report.","format":"date-time","nullable":false},"metaConfiguration":{"$ref":"#/components/schemas/DscMetaConfiguration"},"numberOfResources":{"type":"integer","description":"Gets or sets the number of resource in the node report.","format":"int32"},"rawErrors":{"type":"string","description":"Gets or sets the unparsed errors for the node report."},"rebootRequested":{"type":"string","description":"Gets or sets the rebootRequested of the node report."},"refreshMode":{"type":"string","description":"Gets or sets the refreshMode of the node report."},"reportFormatVersion":{"type":"string","description":"Gets or sets the reportFormatVersion of the node report."},"reportId":{"type":"string","description":"Gets or sets the id of the node report."},"resources":{"type":"array","description":"Gets or sets the resource for the node report.","items":{"$ref":"#/components/schemas/DscReportResource"}},"startTime":{"type":"string","description":"Gets or sets the start time of the node report.","format":"date-time","nullable":true},"status":{"type":"string","description":"Gets or sets the status of the node report."},"type":{"type":"string","description":"Gets or sets the type of the node report."}},"description":"Definition of the dsc node report type."},"DscNodeReportListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Gets or sets the next link."},"value":{"type":"array","description":"Gets or sets a list of dsc node reports.","items":{"$ref":"#/components/schemas/DscNodeReport"}}},"description":"The response model for the list dsc nodes operation."},"DscNodeUpdateParameters":{"type":"object","properties":{"nodeId":{"type":"string","description":"Gets or sets the id of the dsc node."},"properties":{"type":"object","properties":{"nodeConfiguration":{"$ref":"#/components/schemas/DscNodeConfigurationAssociationProperty"}}}},"description":"The parameters supplied to the update dsc node operation."},"DscReportError":{"type":"object","properties":{"errorCode":{"type":"string","description":"Gets or sets the error code."},"errorDetails":{"type":"string","description":"Gets or sets the error details."},"errorMessage":{"type":"string","description":"Gets or sets the error message."},"errorSource":{"type":"string","description":"Gets or sets the source of the error."},"locale":{"type":"string","description":"Gets or sets the locale of the error."},"resourceId":{"type":"string","description":"Gets or sets the resource ID which generated the error."}},"description":"Definition of the dsc node report error type."},"DscReportResource":{"type":"object","properties":{"dependsOn":{"type":"array","description":"Gets or sets the Resource Navigation values for resources the resource depends on.","items":{"$ref":"#/components/schemas/DscReportResourceNavigation"}},"durationInSeconds":{"type":"number","description":"Gets or sets the duration in seconds for the resource.","format":"double"},"error":{"type":"string","description":"Gets or sets the error of the resource."},"moduleName":{"type":"string","description":"Gets or sets the module name of the resource."},"moduleVersion":{"type":"string","description":"Gets or sets the module version of the resource."},"resourceId":{"type":"string","description":"Gets or sets the ID of the resource."},"resourceName":{"type":"string","description":"Gets or sets the name of the resource."},"sourceInfo":{"type":"string","description":"Gets or sets the source info of the resource."},"startDate":{"type":"string","description":"Gets or sets the start date of the resource.","format":"date-time","nullable":false},"status":{"type":"string","description":"Gets or sets the status of the resource."}},"description":"Definition of the DSC Report Resource."},"DscReportResourceNavigation":{"type":"object","properties":{"resourceId":{"type":"string","description":"Gets or sets the ID of the resource to navigate to."}},"description":"Navigation for DSC Report Resource."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}