{"openapi":"3.0.1","info":{"title":"Azure Machine Learning Workspaces","description":"These APIs allow end users to operate on Azure Machine Learning Workspace resources.","version":"2019-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.MachineLearningServices/operations":{"get":{"tags":["Operation"],"description":"Lists all of the available Azure Machine Learning Workspaces REST API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/Quotas":{"get":{"tags":["Quota"],"description":"Gets the currently assigned Workspace Quotas based on VMFamily.","operationId":"Quotas_List","parameters":[{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The location for which resource usage is queried.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListWorkspaceQuotas"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/updateQuotas":{"post":{"tags":["Quota"],"description":"Update quota for each VM family in workspace.","operationId":"Quotas_Update","parameters":[{"name":"location","in":"path","description":"The location for update quota is queried.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Quota update parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuotaUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The operation was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWorkspaceQuotasResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/usages":{"get":{"tags":["Usage"],"description":"Gets the current usage information as well as limits for AML resources for given subscription and location.","operationId":"Usages_List","parameters":[{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"expandChildren","in":"query","description":"Specifies if detailed usages of child resources are required.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The location for which resource usage is queried.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListUsagesResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/vmSizes":{"get":{"tags":["VirtualMachineSizes"],"description":"Returns supported VM Sizes in a location","operationId":"VirtualMachineSizes_List","parameters":[{"name":"location","in":"path","description":"The location upon which virtual-machine-sizes is queried.","required":true,"schema":{"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualMachineSizeListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/workspaces":{"get":{"tags":["Workspaces"],"description":"Lists all the available machine learning workspaces under the specified subscription.","operationId":"Workspaces_ListBySubscription","parameters":[{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"$skiptoken","in":"query","description":"Continuation token for pagination.","schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceListResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces":{"get":{"tags":["Workspaces"],"description":"Lists all the available machine learning workspaces under the specified resource group.","operationId":"Workspaces_ListByResourceGroup","parameters":[{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"$skiptoken","in":"query","description":"Continuation token for pagination.","schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceListResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}":{"get":{"tags":["Workspaces"],"description":"Gets the properties of the specified machine learning workspace.","operationId":"Workspaces_Get","parameters":[{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}},"put":{"tags":["Workspaces"],"description":"Creates or updates a workspace with the specified parameters.","operationId":"Workspaces_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters for creating or updating a machine learning workspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}},"required":true},"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"201":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}},"delete":{"tags":["Workspaces"],"description":"Deletes a machine learning workspace.","operationId":"Workspaces_Delete","parameters":[{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly."},"204":{"description":"The machine learning workspace does not exist in the subscription."},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}},"patch":{"tags":["Workspaces"],"description":"Updates a machine learning workspace with the specified parameters.","operationId":"Workspaces_Update","parameters":[{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters for updating a machine learning workspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes":{"get":{"tags":["OperationalizationClusters","MachineLearningComputes"],"description":"Gets computes in specified workspace.","operationId":"MachineLearningCompute_ListByWorkspace","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"$skiptoken","in":"query","description":"Continuation token for pagination.","schema":{"type":"string"}}],"responses":{"200":{"description":"The response includes a paginated array of Machine Learning computes and a URI to the next set of results, if any. For the more information the limits of the number of items in a resource group, see https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedComputeResourcesList"}}}},"default":{"description":"Error response describing why the request failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}":{"get":{"tags":["OperationalizationClusters","MachineLearningComputes"],"description":"Gets compute definition by its name. Any secrets (storage keys, service credentials, etc) are not returned - use 'keys' nested resource to get them.","operationId":"MachineLearningCompute_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}},{"name":"computeName","in":"path","description":"Name of the Azure Machine Learning compute.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComputeResource"}}}},"default":{"description":"Error response describing why the request failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}},"put":{"tags":["OperationalizationClusters","MachineLearningComputes"],"description":"Creates or updates compute. This call will overwrite a compute if it exists. This is a nonrecoverable operation. If your intent is to create a new compute, do a GET first to verify that it does not exist yet.","operationId":"MachineLearningCompute_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}},{"name":"computeName","in":"path","description":"Name of the Azure Machine Learning compute.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload with Machine Learning compute definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComputeResource"}}},"required":true},"responses":{"200":{"description":"Compute creation or update initiated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComputeResource"}}}},"201":{"description":"Compute creation or update initiated.","headers":{"Azure-AsyncOperation":{"description":"URI to poll for asynchronous operation status.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComputeResource"}}}},"default":{"description":"Error response describing why the request failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}},"delete":{"tags":["OperationalizationClusters","MachineLearningComputes"],"description":"Deletes specified Machine Learning compute.","operationId":"MachineLearningCompute_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}},{"name":"computeName","in":"path","description":"Name of the Azure Machine Learning compute.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"underlyingResourceAction","in":"query","description":"Delete the underlying compute if 'Delete', or detach the underlying compute from workspace if 'Detach'.","required":true,"schema":{"type":"string","enum":["Delete","Detach"]}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly."},"202":{"description":"Compute deletion initiated.","headers":{"Azure-AsyncOperation":{"description":"URI to poll for asynchronous operation status.","schema":{"type":"string"}},"Location":{"description":"URI to poll for asynchronous operation result.","schema":{"type":"string"}}}},"default":{"description":"Error response describing why the request failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}},"patch":{"tags":["OperationalizationClusters","MachineLearningComputes"],"description":"Updates properties of a compute. This call will overwrite a compute if it exists. This is a nonrecoverable operation.","operationId":"MachineLearningCompute_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}},{"name":"computeName","in":"path","description":"Name of the Azure Machine Learning compute.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Additional parameters for cluster update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterUpdateParameters"}}},"required":true},"responses":{"200":{"description":"Compute update initiated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComputeResource"}}}},"default":{"description":"Error response describing why the request failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}/listKeys":{"post":{"tags":["OperationalizationClusters","MachineLearningComputes"],"description":"Gets secrets related to Machine Learning compute (storage keys, service credentials, etc).","operationId":"MachineLearningCompute_ListKeys","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}},{"name":"computeName","in":"path","description":"Name of the Azure Machine Learning compute.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComputeSecrets"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}/listNodes":{"post":{"tags":["MachineLearningComputes"],"description":"Get the details (e.g IP address, port etc) of all the compute nodes in the compute.","operationId":"MachineLearningCompute_ListNodes","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}},{"name":"computeName","in":"path","description":"Name of the Azure Machine Learning compute.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation was successful. The response contains the list of IP addresses.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmlComputeNodesInformation"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/listKeys":{"post":{"tags":["Workspaces"],"description":"Lists all the keys associated with this workspace. This includes keys for the storage account, app insights and password for container registry","operationId":"Workspaces_ListKeys","parameters":[{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListWorkspaceKeysResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/resyncKeys":{"post":{"tags":["Workspaces"],"description":"Resync all the keys associated with this workspace. This includes keys for the storage account, app insights and password for container registry","operationId":"Workspaces_ResyncKeys","parameters":[{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly."},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineLearningServiceError"}}}}}}}},"components":{"schemas":{"AKS":{"description":"A Machine Learning compute based on AKS.","allOf":[{"$ref":"#/components/schemas/Compute"},{"type":"object","properties":{"properties":{"type":"object","properties":{"agentCount":{"minimum":1,"type":"integer","description":"Number of agents"},"agentVMSize":{"type":"string","description":"Agent virtual machine size"},"aksNetworkingConfiguration":{"$ref":"#/components/schemas/AksNetworkingConfiguration"},"clusterFqdn":{"type":"string","description":"Cluster full qualified domain name"},"sslConfiguration":{"$ref":"#/components/schemas/SslConfiguration"},"systemServices":{"type":"array","description":"System services","readOnly":true,"items":{"$ref":"#/components/schemas/SystemService"}}},"description":"AKS properties"}}}]},"AksComputeSecrets":{"description":"Secrets related to a Machine Learning compute based on AKS.","allOf":[{"$ref":"#/components/schemas/ComputeSecrets"},{"type":"object","properties":{"adminKubeConfig":{"type":"string","description":"Content of kubeconfig file that can be used to connect to the Kubernetes cluster."},"imagePullSecretName":{"type":"string","description":"Image registry pull secret."},"userKubeConfig":{"type":"string","description":"Content of kubeconfig file that can be used to connect to the Kubernetes cluster."}}}]},"AksNetworkingConfiguration":{"type":"object","properties":{"dnsServiceIP":{"pattern":"^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$","type":"string","description":"An IP address assigned to the Kubernetes DNS service. It must be within the Kubernetes service address range specified in serviceCidr."},"dockerBridgeCidr":{"pattern":"^([0-9]{1,3}\\.){3}[0-9]{1,3}(\\/([0-9]|[1-2][0-9]|3[0-2]))?$","type":"string","description":"A CIDR notation IP range assigned to the Docker bridge network. It must not overlap with any Subnet IP ranges or the Kubernetes service address range."},"serviceCidr":{"pattern":"^([0-9]{1,3}\\.){3}[0-9]{1,3}(\\/([0-9]|[1-2][0-9]|3[0-2]))?$","type":"string","description":"A CIDR notation IP range from which to assign service cluster IPs. It must not overlap with any Subnet IP ranges."},"subnetId":{"type":"string","description":"Virtual network subnet resource ID the compute nodes belong to"}},"description":"Advance configuration for AKS networking"},"AmlCompute":{"description":"An Azure Machine Learning compute.","allOf":[{"$ref":"#/components/schemas/Compute"},{"type":"object","properties":{"properties":{"type":"object","properties":{"allocationState":{"title":"Allocation state.","type":"string","description":"Allocation state of the compute. Possible values are: steady - Indicates that the compute is not resizing. There are no changes to the number of compute nodes in the compute in progress. A compute enters this state when it is created and when no operations are being performed on the compute to change the number of compute nodes. resizing - Indicates that the compute is resizing; that is, compute nodes are being added to or removed from the compute.","readOnly":true,"enum":["Steady","Resizing"]},"allocationStateTransitionTime":{"title":"Allocation state transition time.","type":"string","description":"The time at which the compute entered its current allocation state.","format":"date-time","readOnly":true},"currentNodeCount":{"title":"Current node count.","type":"integer","description":"The number of compute nodes currently assigned to the compute.","format":"int32","readOnly":true},"errors":{"title":"Errors.","type":"array","description":"Collection of errors encountered by various compute nodes during node setup.","readOnly":true,"items":{"$ref":"#/components/schemas/MachineLearningServiceError"}},"nodeStateCounts":{"$ref":"#/components/schemas/NodeStateCounts"},"remoteLoginPortPublicAccess":{"title":"Close remote Login Access Port","type":"string","description":"State of the public SSH port. Possible values are: Disabled - Indicates that the public ssh port is closed on all nodes of the cluster. Enabled - Indicates that the public ssh port is open on all nodes of the cluster. NotSpecified - Indicates that the public ssh port is closed on all nodes of the cluster if VNet is defined, else is open all public nodes. It can be default only during cluster creation time, after creation it will be either enabled or disabled.","default":"NotSpecified","enum":["Enabled","Disabled","NotSpecified"]},"scaleSettings":{"$ref":"#/components/schemas/ScaleSettings"},"subnet":{"$ref":"#/components/schemas/ResourceId"},"targetNodeCount":{"title":"Target node count.","type":"integer","description":"The target number of compute nodes for the compute. If the allocationState is resizing, this property denotes the target node count for the ongoing resize operation. If the allocationState is steady, this property denotes the target node count for the previous resize operation.","format":"int32","readOnly":true},"userAccountCredentials":{"$ref":"#/components/schemas/UserAccountCredentials"},"vmPriority":{"type":"string","description":"Virtual Machine priority","enum":["Dedicated","LowPriority"]},"vmSize":{"type":"string","description":"Virtual Machine Size"}},"description":"AML Compute properties"}}}]},"AmlComputeNodeInformation":{"type":"object","properties":{"nodeId":{"title":"Node ID.","type":"string","description":"ID of the compute node.","readOnly":true},"nodeState":{"type":"string","description":"State of the compute node. Values are idle, running, preparing, unusable, leaving and preempted.","readOnly":true,"enum":["idle","running","preparing","unusable","leaving","preempted"]},"port":{"title":"Port.","type":"number","description":"SSH port number of the node.","format":"int32","readOnly":true},"privateIpAddress":{"title":"Private IP address.","type":"string","description":"Private IP address of the compute node.","readOnly":true},"publicIpAddress":{"title":"Public IP address.","type":"string","description":"Public IP address of the compute node.","readOnly":true},"runId":{"title":"Run ID.","type":"string","description":"ID of the Experiment running on the node, if any else null.","readOnly":true}},"description":"Compute node information related to a AmlCompute."},"AmlComputeNodesInformation":{"description":"Compute node information related to a AmlCompute.","allOf":[{"$ref":"#/components/schemas/ComputeNodesInformation"},{"type":"object","properties":{"nodes":{"type":"array","description":"The collection of returned AmlCompute nodes details.","readOnly":true,"items":{"$ref":"#/components/schemas/AmlComputeNodeInformation"}}}}]},"ClusterUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ClusterUpdateProperties"}},"description":"AmlCompute update parameters."},"ClusterUpdateProperties":{"type":"object","properties":{"scaleSettings":{"$ref":"#/components/schemas/ScaleSettings"}},"description":"The properties of a amlCompute that need to be updated."},"Compute":{"required":["computeType"],"type":"object","properties":{"computeLocation":{"type":"string","description":"Location for the underlying compute"},"computeType":{"$ref":"#/components/schemas/ComputeType"},"createdOn":{"type":"string","description":"The date and time when the compute was created.","format":"date-time","readOnly":true},"description":{"type":"string","description":"The description of the Machine Learning compute."},"isAttachedCompute":{"type":"boolean","description":"Indicating whether the compute was provisioned by user and brought from outside if true, or machine learning service provisioned it if false.","readOnly":true},"modifiedOn":{"type":"string","description":"The date and time when the compute was last modified.","format":"date-time","readOnly":true},"provisioningErrors":{"type":"array","description":"Errors during provisioning","readOnly":true,"items":{"$ref":"#/components/schemas/MachineLearningServiceError"}},"provisioningState":{"type":"string","description":"The provision state of the cluster. Valid values are Unknown, Updating, Provisioning, Succeeded, and Failed.","readOnly":true,"enum":["Unknown","Updating","Creating","Deleting","Succeeded","Failed","Canceled"]},"resourceId":{"type":"string","description":"ARM resource id of the underlying compute"}},"description":"Machine Learning compute object.","discriminator":{"propertyName":"computeType"}},"ComputeNodesInformation":{"required":["computeType"],"type":"object","properties":{"computeType":{"$ref":"#/components/schemas/ComputeType"},"nextLink":{"type":"string","description":"The continuation token.","readOnly":true}},"description":"Compute nodes information related to a Machine Learning compute. Might differ for every type of compute.","discriminator":{"propertyName":"computeType"}},"ComputeResource":{"description":"Machine Learning compute object wrapped into ARM resource envelope.","allOf":[{"$ref":"#/components/schemas/Resource"},{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Compute"}}}]},"ComputeSecrets":{"required":["computeType"],"type":"object","properties":{"computeType":{"$ref":"#/components/schemas/ComputeType"}},"description":"Secrets related to a Machine Learning compute. Might differ for every type of compute.","discriminator":{"propertyName":"computeType"}},"ComputeType":{"type":"string","description":"The type of compute","enum":["AKS","AmlCompute","DataFactory","VirtualMachine","HDInsight","Databricks","DataLakeAnalytics"]},"DataFactory":{"description":"A DataFactory compute.","allOf":[{"$ref":"#/components/schemas/Compute"}]},"DataLakeAnalytics":{"description":"A DataLakeAnalytics compute.","allOf":[{"$ref":"#/components/schemas/Compute"},{"type":"object","properties":{"properties":{"type":"object","properties":{"dataLakeStoreAccountName":{"type":"string","description":"DataLake Store Account Name"}}}}}]},"Databricks":{"description":"A DataFactory compute.","allOf":[{"$ref":"#/components/schemas/Compute"},{"type":"object","properties":{"properties":{"type":"object","properties":{"databricksAccessToken":{"type":"string","description":"Databricks access token"}}}}}]},"DatabricksComputeSecrets":{"description":"Secrets related to a Machine Learning compute based on Databricks.","allOf":[{"$ref":"#/components/schemas/ComputeSecrets"},{"type":"object","properties":{"databricksAccessToken":{"type":"string","description":"access token for databricks account."}}}]},"ErrorDetail":{"required":["code","message"],"type":"object","properties":{"code":{"type":"string","description":"Error code."},"message":{"type":"string","description":"Error message."}},"description":"Error detail information."},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code.","readOnly":true},"details":{"type":"array","description":"An array of error detail objects.","readOnly":true,"items":{"$ref":"#/components/schemas/ErrorDetail"}},"message":{"type":"string","description":"Error message.","readOnly":true}},"description":"Error response information."},"HDInsight":{"description":"A HDInsight compute.","allOf":[{"$ref":"#/components/schemas/Compute"},{"type":"object","properties":{"properties":{"type":"object","properties":{"address":{"type":"string","description":"Public IP address of the master node of the cluster."},"administratorAccount":{"$ref":"#/components/schemas/VirtualMachineSshCredentials"},"sshPort":{"type":"integer","description":"Port open for ssh connections on the master node of the cluster."}}}}}]},"Identity":{"type":"object","properties":{"principalId":{"type":"string","description":"The principal ID of resource identity.","readOnly":true},"tenantId":{"type":"string","description":"The tenant ID of resource.","readOnly":true},"type":{"type":"string","description":"The identity type.","enum":["SystemAssigned"]}},"description":"Identity for the resource."},"ListUsagesResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of AML resource usage information. Call ListNext() with this to fetch the next page of AML resource usage information.","readOnly":true},"value":{"type":"array","description":"The list of AML resource usages.","readOnly":true,"items":{"$ref":"#/components/schemas/Usage"}}},"description":"The List Usages operation response."},"ListWorkspaceKeysResult":{"type":"object","properties":{"appInsightsInstrumentationKey":{"type":"string","readOnly":true},"containerRegistryCredentials":{"$ref":"#/components/schemas/RegistryListCredentialsResult"},"userStorageKey":{"type":"string","readOnly":true},"userStorageResourceId":{"type":"string","readOnly":true}}},"ListWorkspaceQuotas":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of workspace quota information by VM Family. Call ListNext() with this to fetch the next page of Workspace Quota information.","readOnly":true},"value":{"type":"array","description":"The list of Workspace Quotas by VM Family","readOnly":true,"items":{"$ref":"#/components/schemas/ResourceQuota"}}},"description":"The List WorkspaceQuotasByVMFamily operation response."},"MachineLearningServiceError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorResponse"}},"description":"Wrapper for error response to follow ARM guidelines."},"NodeStateCounts":{"type":"object","properties":{"idleNodeCount":{"title":"Idle node count.","type":"integer","description":"Number of compute nodes in idle state.","format":"int32","readOnly":true},"leavingNodeCount":{"title":"Leaving node count.","type":"integer","description":"Number of compute nodes which are leaving the amlCompute.","format":"int32","readOnly":true},"preemptedNodeCount":{"title":"Preempted node count.","type":"integer","description":"Number of compute nodes which are in preempted state.","format":"int32","readOnly":true},"preparingNodeCount":{"title":"Preparing node count.","type":"integer","description":"Number of compute nodes which are being prepared.","format":"int32","readOnly":true},"runningNodeCount":{"title":"Running node count.","type":"integer","description":"Number of compute nodes which are running jobs.","format":"int32","readOnly":true},"unusableNodeCount":{"title":"Unusable node count.","type":"integer","description":"Number of compute nodes which are in unusable state.","format":"int32","readOnly":true}},"description":"Counts of various compute node states on the amlCompute."},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"The description for the operation."},"operation":{"type":"string","description":"The operation that users can perform."},"provider":{"type":"string","description":"The resource provider name: Microsoft.MachineLearningExperimentation"},"resource":{"type":"string","description":"The resource on which the operation is performed."}},"description":"Display name of operation"},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"}},"description":"Azure Machine Learning workspace REST API operation"},"OperationListResult":{"type":"object","properties":{"value":{"type":"array","description":"List of AML workspace operations supported by the AML workspace resource provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"An array of operations supported by the resource provider."},"PaginatedComputeResourcesList":{"type":"object","properties":{"nextLink":{"type":"string","description":"A continuation link (absolute URI) to the next page of results in the list."},"value":{"type":"array","description":"An array of Machine Learning compute objects wrapped in ARM resource envelope.","items":{"$ref":"#/components/schemas/ComputeResource"}}},"description":"Paginated list of Machine Learning compute objects wrapped in ARM resource envelope."},"Password":{"type":"object","properties":{"name":{"type":"string","readOnly":true},"value":{"type":"string","readOnly":true}}},"QuotaBaseProperties":{"type":"object","properties":{"id":{"type":"string","description":"Specifies the resource ID."},"limit":{"title":"Limit.","type":"integer","description":"The maximum permitted quota of the resource.","format":"int64"},"type":{"type":"string","description":"Specifies the resource type."},"unit":{"type":"string","description":"An enum describing the unit of quota measurement.","enum":["Count"]}},"description":"The properties for Quota update or retrieval."},"QuotaUpdateParameters":{"type":"object","properties":{"value":{"type":"array","description":"The list for update quota.","items":{"$ref":"#/components/schemas/QuotaBaseProperties"}}},"description":"Quota update parameters."},"RegistryListCredentialsResult":{"type":"object","properties":{"location":{"type":"string","readOnly":true},"passwords":{"type":"array","items":{"$ref":"#/components/schemas/Password"}},"username":{"type":"string","readOnly":true}}},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Specifies the resource ID.","readOnly":true},"identity":{"$ref":"#/components/schemas/Identity"},"location":{"type":"string","description":"Specifies the location of the resource."},"name":{"type":"string","description":"Specifies the name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Contains resource tags defined as key/value pairs."},"type":{"type":"string","description":"Specifies the type of the resource.","readOnly":true}},"description":"Azure Resource Manager resource envelope."},"ResourceId":{"required":["id"],"type":"object","properties":{"id":{"type":"string","description":"The ID of the resource"}},"description":"Represents a resource ID. For example, for a subnet, it is the resource URL for the subnet."},"ResourceName":{"type":"object","properties":{"localizedValue":{"type":"string","description":"The localized name of the resource.","readOnly":true},"value":{"type":"string","description":"The name of the resource.","readOnly":true}},"description":"The Resource Name."},"ResourceQuota":{"type":"object","properties":{"id":{"type":"string","description":"Specifies the resource ID.","readOnly":true},"limit":{"title":"Limit.","type":"integer","description":"The maximum permitted quota of the resource.","format":"int64","readOnly":true},"name":{"$ref":"#/components/schemas/ResourceName"},"type":{"type":"string","description":"Specifies the resource type.","readOnly":true},"unit":{"type":"string","description":"An enum describing the unit of quota measurement.","readOnly":true,"enum":["Count"]}},"description":"The quota assigned to a resource."},"ScaleSettings":{"required":["maxNodeCount"],"type":"object","properties":{"maxNodeCount":{"type":"integer","description":"Max number of nodes to use"},"minNodeCount":{"type":"integer","description":"Min number of nodes to use"},"nodeIdleTimeBeforeScaleDown":{"type":"string","description":"Node Idle Time before scaling down amlCompute","format":"duration"}},"description":"scale settings for AML Compute"},"ServicePrincipalCredentials":{"required":["clientId","clientSecret"],"type":"object","properties":{"clientId":{"type":"string","description":"Client Id"},"clientSecret":{"type":"string","description":"Client secret"}},"description":"Service principal credentials."},"SslConfiguration":{"type":"object","properties":{"cert":{"type":"string","description":"Cert data"},"cname":{"type":"string","description":"CNAME of the cert"},"key":{"type":"string","description":"Key data"},"status":{"type":"string","description":"Enable or disable ssl for scoring","enum":["Disabled","Enabled"]}},"description":"The ssl configuration for scoring"},"SystemService":{"type":"object","properties":{"publicIpAddress":{"type":"string","description":"Public IP address","readOnly":true},"systemServiceType":{"type":"string","description":"The type of this system service.","readOnly":true},"version":{"type":"string","description":"The version for this type.","readOnly":true}},"description":"A system service running on a compute."},"UpdateWorkspaceQuotas":{"type":"object","properties":{"id":{"type":"string","description":"Specifies the resource ID.","readOnly":true},"limit":{"title":"Limit.","type":"integer","description":"The maximum permitted quota of the resource.","format":"int64"},"status":{"title":"Update Workspace Quota Status.","type":"string","description":"Status of update workspace quota.","enum":["Undefined","Success","Failure","InvalidQuotaBelowClusterMinimum","InvalidQuotaExceedsSubscriptionLimit","InvalidVMFamilyName"]},"type":{"type":"string","description":"Specifies the resource type.","readOnly":true},"unit":{"type":"string","description":"An enum describing the unit of quota measurement.","readOnly":true,"enum":["Count"]}},"description":"The properties for update Quota response."},"UpdateWorkspaceQuotasResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of workspace quota update result. Call ListNext() with this to fetch the next page of Workspace Quota update result.","readOnly":true},"value":{"type":"array","description":"The list of workspace quota update result.","readOnly":true,"items":{"$ref":"#/components/schemas/UpdateWorkspaceQuotas"}}},"description":"The result of update workspace quota."},"Usage":{"type":"object","properties":{"currentValue":{"type":"integer","description":"The current usage of the resource.","format":"int64","readOnly":true},"id":{"type":"string","description":"Specifies the resource ID.","readOnly":true},"limit":{"type":"integer","description":"The maximum permitted usage of the resource.","format":"int64","readOnly":true},"name":{"$ref":"#/components/schemas/UsageName"},"type":{"type":"string","description":"Specifies the resource type.","readOnly":true},"unit":{"type":"string","description":"An enum describing the unit of usage measurement.","readOnly":true,"enum":["Count"]}},"description":"Describes AML Resource Usage."},"UsageName":{"type":"object","properties":{"localizedValue":{"type":"string","description":"The localized name of the resource.","readOnly":true},"value":{"type":"string","description":"The name of the resource.","readOnly":true}},"description":"The Usage Names."},"UserAccountCredentials":{"required":["adminUserName"],"type":"object","properties":{"adminUserName":{"title":"User name.","type":"string","description":"Name of the administrator user account which can be used to SSH to nodes."},"adminUserPassword":{"title":"Password.","type":"string","description":"Password of the administrator user account."},"adminUserSshPublicKey":{"title":"SSH public key.","type":"string","description":"SSH public key of the administrator user account."}},"description":"Settings for user account that gets created on each on the nodes of a compute."},"VirtualMachine":{"description":"A Machine Learning compute based on Azure Virtual Machines.","allOf":[{"$ref":"#/components/schemas/Compute"},{"type":"object","properties":{"properties":{"type":"object","properties":{"address":{"type":"string","description":"Public IP address of the virtual machine."},"administratorAccount":{"$ref":"#/components/schemas/VirtualMachineSshCredentials"},"sshPort":{"type":"integer","description":"Port open for ssh connections."},"virtualMachineSize":{"type":"string","description":"Virtual Machine size"}}}}}]},"VirtualMachineSecrets":{"description":"Secrets related to a Machine Learning compute based on AKS.","allOf":[{"$ref":"#/components/schemas/ComputeSecrets"},{"type":"object","properties":{"administratorAccount":{"$ref":"#/components/schemas/VirtualMachineSshCredentials"}}}]},"VirtualMachineSize":{"type":"object","properties":{"family":{"title":"Virtual Machine family name","type":"string","description":"The family name of the virtual machine size.","readOnly":true},"gpus":{"title":"Number of gPUs","type":"integer","description":"The number of gPUs supported by the virtual machine size.","format":"int32","readOnly":true},"lowPriorityCapable":{"title":"Low priority capable","type":"boolean","description":"Specifies if the virtual machine size supports low priority VMs.","readOnly":true},"maxResourceVolumeMB":{"title":"Resource volume size","type":"integer","description":"The resource volume size, in MB, allowed by the virtual machine size.","format":"int32","readOnly":true},"memoryGB":{"title":"Memory size","type":"number","description":"The amount of memory, in GB, supported by the virtual machine size.","format":"double","readOnly":true},"name":{"title":"Virtual Machine size name","type":"string","description":"The name of the virtual machine size.","readOnly":true},"osVhdSizeMB":{"title":"OS VHD Disk size","type":"integer","description":"The OS VHD disk size, in MB, allowed by the virtual machine size.","format":"int32","readOnly":true},"premiumIO":{"title":"Premium IO supported","type":"boolean","description":"Specifies if the virtual machine size supports premium IO.","readOnly":true},"vCPUs":{"title":"Number of vPUs","type":"integer","description":"The number of vCPUs supported by the virtual machine size.","format":"int32","readOnly":true}},"description":"Describes the properties of a VM size."},"VirtualMachineSizeListResult":{"type":"object","properties":{"amlCompute":{"type":"array","description":"The list of virtual machine sizes supported by AmlCompute.","items":{"$ref":"#/components/schemas/VirtualMachineSize"}}},"description":"The List Virtual Machine size operation response."},"VirtualMachineSshCredentials":{"type":"object","properties":{"password":{"type":"string","description":"Password of admin account"},"privateKeyData":{"type":"string","description":"Private key data"},"publicKeyData":{"type":"string","description":"Public key data"},"username":{"type":"string","description":"Username of admin account"}},"description":"Admin credentials for virtual machine"},"Workspace":{"properties":{"properties":{"$ref":"#/components/schemas/WorkspaceProperties"}},"description":"An object that represents a machine learning workspace.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"WorkspaceListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI that can be used to request the next list of machine learning workspaces."},"value":{"type":"array","description":"The list of machine learning workspaces. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning workspaces.","items":{"$ref":"#/components/schemas/Workspace"}}},"description":"The result of a request to list machine learning workspaces."},"WorkspaceProperties":{"type":"object","properties":{"applicationInsights":{"type":"string","description":"ARM id of the application insights associated with this workspace. This cannot be changed once the workspace has been created"},"containerRegistry":{"type":"string","description":"ARM id of the container registry associated with this workspace. This cannot be changed once the workspace has been created"},"creationTime":{"type":"string","description":"The creation time of the machine learning workspace in ISO8601 format.","format":"date-time","readOnly":true},"description":{"type":"string","description":"The description of this workspace."},"discoveryUrl":{"type":"string","description":"Url for the discovery service to identify regional endpoints for machine learning experimentation services"},"friendlyName":{"type":"string","description":"The friendly name for this workspace. This name in mutable"},"keyVault":{"type":"string","description":"ARM id of the key vault associated with this workspace. This cannot be changed once the workspace has been created"},"provisioningState":{"type":"string","description":"The current deployment state of workspace resource. The provisioningState is to indicate states for resource provisioning.","readOnly":true,"enum":["Unknown","Updating","Creating","Deleting","Succeeded","Failed","Canceled"]},"storageAccount":{"type":"string","description":"ARM id of the storage account associated with this workspace. This cannot be changed once the workspace has been created"},"workspaceId":{"type":"string","description":"The immutable id associated with this workspace.","readOnly":true}},"description":"The properties of a machine learning workspace."},"WorkspacePropertiesUpdateParameters":{"type":"object","properties":{"description":{"type":"string","description":"The description of this workspace."},"friendlyName":{"type":"string","description":"The friendly name for this workspace."}},"description":"The parameters for updating the properties of a machine learning workspace."},"WorkspaceUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/WorkspacePropertiesUpdateParameters"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The resource tags for the machine learning workspace."}},"description":"The parameters for updating a machine learning workspace."}},"parameters":{"APIVersionParameter":{"name":"api-version","in":"query","description":"Version of Azure Machine Learning resource provider API.","required":true,"schema":{"type":"string"}},"AsyncOperationIdParameter":{"name":"asyncOperationId","in":"path","description":"Identifier of an asynchronous Azure Machine Learning compute operation.","required":true,"schema":{"type":"string"}},"ComputeNameParameter":{"name":"computeName","in":"path","description":"Name of the Azure Machine Learning compute.","required":true,"schema":{"type":"string"}},"ComputeTypeParameter":{"name":"compute-type","in":"query","description":"Type of compute to filter by.","schema":{"type":"string"}},"ExpandChildrenParameter":{"name":"expandChildren","in":"query","description":"Specifies if detailed usages of child resources are required.","schema":{"type":"string"}},"LocationParameter":{"name":"location","in":"path","description":"The name of the Azure location/region.","required":true,"schema":{"type":"string"}},"PaginationParameter":{"name":"$skiptoken","in":"query","description":"Continuation token for pagination.","schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"Name of the resource group in which workspace is located.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Azure subscription identifier.","required":true,"schema":{"type":"string"}},"UnderlyingResourceActionParameter":{"name":"underlyingResourceAction","in":"query","description":"Delete the underlying compute if 'Delete', or detach the underlying compute from workspace if 'Detach'.","required":true,"schema":{"type":"string","enum":["Delete","Detach"]}},"WorkspaceNameParameter":{"name":"workspaceName","in":"path","description":"Name of Azure Machine Learning workspace.","required":true,"schema":{"type":"string"}}},"requestBodies":{"ComputeDefinitionParameter":{"description":"Payload with Machine Learning compute definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComputeResource"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}