{"openapi":"3.0.0","servers":[{"url":"https://sheets.googleapis.com/"}],"info":{"contact":{"name":"Google","url":"https://google.com","x-twitter":"youtube"},"description":"Reads and writes Google Sheets.","license":{"name":"Creative Commons Attribution 3.0","url":"http://creativecommons.org/licenses/by/3.0/"},"termsOfService":"https://developers.google.com/terms/","title":"Google Sheets API","version":"v4","x-apiClientRegistration":{"url":"https://console.developers.google.com"},"x-apisguru-categories":["analytics","media"],"x-logo":{"url":"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"},"x-origin":[{"converter":{"url":"https://github.com/mermade/oas-kit","version":"7.0.4"},"format":"google","url":"https://sheets.googleapis.com/$discovery/rest?version=v4","version":"v1"}],"x-providerName":"googleapis.com","x-serviceName":"sheets"},"externalDocs":{"url":"https://developers.google.com/sheets/"},"tags":[{"name":"spreadsheets"}],"paths":{"/v4/spreadsheets":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Creates a spreadsheet, returning the newly created spreadsheet.","operationId":"sheets.spreadsheets.create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Spreadsheet"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Spreadsheet"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges.","operationId":"sheets.spreadsheets.get","parameters":[{"description":"The spreadsheet to request.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}},{"description":"True if grid data should be returned. This parameter is ignored if a field mask was set in the request.","in":"query","name":"includeGridData","schema":{"type":"boolean"}},{"description":"The ranges to retrieve from the spreadsheet.","explode":true,"in":"query","name":"ranges","schema":{"items":{"type":"string"},"type":"array"},"style":"form"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Spreadsheet"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/drive.readonly"],"Oauth2c":["https://www.googleapis.com/auth/drive.readonly"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets.readonly"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets.readonly"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId.","operationId":"sheets.spreadsheets.developerMetadata.get","parameters":[{"description":"The ID of the spreadsheet to retrieve metadata from.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}},{"description":"The ID of the developer metadata to retrieve.","in":"path","name":"metadataId","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeveloperMetadata"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/developerMetadata:search":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Returns all developer metadata matching the specified DataFilter. If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.","operationId":"sheets.spreadsheets.developerMetadata.search","parameters":[{"description":"The ID of the spreadsheet to retrieve metadata from.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchDeveloperMetadataRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchDeveloperMetadataResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.","operationId":"sheets.spreadsheets.sheets.copyTo","parameters":[{"description":"The ID of the spreadsheet containing the sheet to copy.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}},{"description":"The ID of the sheet to copy.","in":"path","name":"sheetId","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopySheetToAnotherSpreadsheetRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SheetProperties"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/values/{range}":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.","operationId":"sheets.spreadsheets.values.get","parameters":[{"description":"The ID of the spreadsheet to retrieve data from.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}},{"description":"The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the range to retrieve values from.","in":"path","name":"range","required":true,"schema":{"type":"string"}},{"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","in":"query","name":"dateTimeRenderOption","schema":{"enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"}},{"description":"The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","in":"query","name":"majorDimension","schema":{"enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"type":"string"}},{"description":"How values should be represented in the output. The default render option is FORMATTED_VALUE.","in":"query","name":"valueRenderOption","schema":{"enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueRange"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/drive.readonly"],"Oauth2c":["https://www.googleapis.com/auth/drive.readonly"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets.readonly"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets.readonly"]}],"tags":["spreadsheets"]},"put":{"description":"Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.","operationId":"sheets.spreadsheets.values.update","parameters":[{"description":"The ID of the spreadsheet to update.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}},{"description":"The [A1 notation](/sheets/api/guides/concepts#cell) of the values to update.","in":"path","name":"range","required":true,"schema":{"type":"string"}},{"description":"Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).","in":"query","name":"includeValuesInResponse","schema":{"type":"boolean"}},{"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","in":"query","name":"responseDateTimeRenderOption","schema":{"enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"}},{"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","in":"query","name":"responseValueRenderOption","schema":{"enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"}},{"description":"How the input data should be interpreted.","in":"query","name":"valueInputOption","schema":{"enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"],"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueRange"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateValuesResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/values/{range}:append":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](/sheets/api/guides/values#appending_values) and [sample code](/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.","operationId":"sheets.spreadsheets.values.append","parameters":[{"description":"The ID of the spreadsheet to update.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}},{"description":"The [A1 notation](/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.","in":"path","name":"range","required":true,"schema":{"type":"string"}},{"description":"Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.","in":"query","name":"includeValuesInResponse","schema":{"type":"boolean"}},{"description":"How the input data should be inserted.","in":"query","name":"insertDataOption","schema":{"enum":["OVERWRITE","INSERT_ROWS"],"type":"string"}},{"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","in":"query","name":"responseDateTimeRenderOption","schema":{"enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"}},{"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","in":"query","name":"responseValueRenderOption","schema":{"enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"}},{"description":"How the input data should be interpreted.","in":"query","name":"valueInputOption","schema":{"enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"],"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueRange"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppendValuesResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/values/{range}:clear":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.","operationId":"sheets.spreadsheets.values.clear","parameters":[{"description":"The ID of the spreadsheet to update.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}},{"description":"The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the values to clear.","in":"path","name":"range","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClearValuesRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClearValuesResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchClear":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.","operationId":"sheets.spreadsheets.values.batchClear","parameters":[{"description":"The ID of the spreadsheet to update.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchClearValuesRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchClearValuesResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.","operationId":"sheets.spreadsheets.values.batchClearByDataFilter","parameters":[{"description":"The ID of the spreadsheet to update.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchClearValuesByDataFilterRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchClearValuesByDataFilterResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchGet":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.","operationId":"sheets.spreadsheets.values.batchGet","parameters":[{"description":"The ID of the spreadsheet to retrieve data from.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}},{"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","in":"query","name":"dateTimeRenderOption","schema":{"enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"}},{"description":"The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","in":"query","name":"majorDimension","schema":{"enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"type":"string"}},{"description":"The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the range to retrieve values from.","explode":true,"in":"query","name":"ranges","schema":{"items":{"type":"string"},"type":"array"},"style":"form"},{"description":"How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.","in":"query","name":"valueRenderOption","schema":{"enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchGetValuesResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/drive.readonly"],"Oauth2c":["https://www.googleapis.com/auth/drive.readonly"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets.readonly"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets.readonly"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Returns one or more ranges of values that match the specified data filters. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.","operationId":"sheets.spreadsheets.values.batchGetByDataFilter","parameters":[{"description":"The ID of the spreadsheet to retrieve data from.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchGetValuesByDataFilterRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchGetValuesByDataFilterResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchUpdate":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.","operationId":"sheets.spreadsheets.values.batchUpdate","parameters":[{"description":"The ID of the spreadsheet to update.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateValuesRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateValuesResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.","operationId":"sheets.spreadsheets.values.batchUpdateByDataFilter","parameters":[{"description":"The ID of the spreadsheet to update.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateValuesByDataFilterRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateValuesByDataFilterResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}:batchUpdate":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.","operationId":"sheets.spreadsheets.batchUpdate","parameters":[{"description":"The spreadsheet to apply the updates to.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateSpreadsheetRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateSpreadsheetResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}},"/v4/spreadsheets/{spreadsheetId}:getByDataFilter":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters returns the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids is not returned. You can include grid data one of 2 ways: * Specify a [field mask](https://developers.google.com/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want.","operationId":"sheets.spreadsheets.getByDataFilter","parameters":[{"description":"The spreadsheet to request.","in":"path","name":"spreadsheetId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSpreadsheetByDataFilterRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Spreadsheet"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/drive"],"Oauth2c":["https://www.googleapis.com/auth/drive"]},{"Oauth2":["https://www.googleapis.com/auth/drive.file"],"Oauth2c":["https://www.googleapis.com/auth/drive.file"]},{"Oauth2":["https://www.googleapis.com/auth/spreadsheets"],"Oauth2c":["https://www.googleapis.com/auth/spreadsheets"]}],"tags":["spreadsheets"]}}},"components":{"parameters":{"_.xgafv":{"description":"V1 error format.","in":"query","name":"$.xgafv","schema":{"enum":["1","2"],"type":"string"}},"access_token":{"description":"OAuth access token.","in":"query","name":"access_token","schema":{"type":"string"}},"alt":{"description":"Data format for response.","in":"query","name":"alt","schema":{"enum":["json","media","proto"],"type":"string"}},"callback":{"description":"JSONP","in":"query","name":"callback","schema":{"type":"string"}},"fields":{"description":"Selector specifying which fields to include in a partial response.","in":"query","name":"fields","schema":{"type":"string"}},"key":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","in":"query","name":"key","schema":{"type":"string"}},"oauth_token":{"description":"OAuth 2.0 token for the current user.","in":"query","name":"oauth_token","schema":{"type":"string"}},"prettyPrint":{"description":"Returns response with indentations and line breaks.","in":"query","name":"prettyPrint","schema":{"type":"boolean"}},"quotaUser":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","in":"query","name":"quotaUser","schema":{"type":"string"}},"uploadType":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","in":"query","name":"uploadType","schema":{"type":"string"}},"upload_protocol":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","in":"query","name":"upload_protocol","schema":{"type":"string"}}},"schemas":{"AddBandingRequest":{"description":"Adds a new banded range to the spreadsheet.","properties":{"bandedRange":{"$ref":"#/components/schemas/BandedRange"}},"type":"object"},"AddBandingResponse":{"description":"The result of adding a banded range.","properties":{"bandedRange":{"$ref":"#/components/schemas/BandedRange"}},"type":"object"},"AddChartRequest":{"description":"Adds a chart to a sheet in the spreadsheet.","properties":{"chart":{"$ref":"#/components/schemas/EmbeddedChart"}},"type":"object"},"AddChartResponse":{"description":"The result of adding a chart to a spreadsheet.","properties":{"chart":{"$ref":"#/components/schemas/EmbeddedChart"}},"type":"object"},"AddConditionalFormatRuleRequest":{"description":"Adds a new conditional format rule at the given index. All subsequent rules' indexes are incremented.","properties":{"index":{"description":"The zero-based index where the rule should be inserted.","format":"int32","type":"integer"},"rule":{"$ref":"#/components/schemas/ConditionalFormatRule"}},"type":"object"},"AddDataSourceRequest":{"description":"Adds a data source. After the data source is added successfully, an associated DATA_SOURCE sheet is created and an execution is triggered to refresh the sheet to read data from the data source. The request requires an additional `bigquery.readonly` OAuth scope.","properties":{"dataSource":{"$ref":"#/components/schemas/DataSource"}},"type":"object"},"AddDataSourceResponse":{"description":"The result of adding a data source.","properties":{"dataExecutionStatus":{"$ref":"#/components/schemas/DataExecutionStatus"},"dataSource":{"$ref":"#/components/schemas/DataSource"}},"type":"object"},"AddDimensionGroupRequest":{"description":"Creates a group over the specified range. If the requested range is a superset of the range of an existing group G, then the depth of G is incremented and this new group G' has the depth of that group. For example, a group [C:D, depth 1] + [B:E] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range is a subset of the range of an existing group G, then the depth of the new group G' becomes one greater than the depth of G. For example, a group [B:E, depth 1] + [C:D] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range starts before and ends within, or starts within and ends after, the range of an existing group G, then the range of the existing group G becomes the union of the ranges, and the new group G' has depth one greater than the depth of G and range as the intersection of the ranges. For example, a group [B:D, depth 1] + [C:E] results in groups [B:E, depth 1] and [C:D, depth 2].","properties":{"range":{"$ref":"#/components/schemas/DimensionRange"}},"type":"object"},"AddDimensionGroupResponse":{"description":"The result of adding a group.","properties":{"dimensionGroups":{"description":"All groups of a dimension after adding a group to that dimension.","items":{"$ref":"#/components/schemas/DimensionGroup"},"type":"array"}},"type":"object"},"AddFilterViewRequest":{"description":"Adds a filter view.","properties":{"filter":{"$ref":"#/components/schemas/FilterView"}},"type":"object"},"AddFilterViewResponse":{"description":"The result of adding a filter view.","properties":{"filter":{"$ref":"#/components/schemas/FilterView"}},"type":"object"},"AddNamedRangeRequest":{"description":"Adds a named range to the spreadsheet.","properties":{"namedRange":{"$ref":"#/components/schemas/NamedRange"}},"type":"object"},"AddNamedRangeResponse":{"description":"The result of adding a named range.","properties":{"namedRange":{"$ref":"#/components/schemas/NamedRange"}},"type":"object"},"AddProtectedRangeRequest":{"description":"Adds a new protected range.","properties":{"protectedRange":{"$ref":"#/components/schemas/ProtectedRange"}},"type":"object"},"AddProtectedRangeResponse":{"description":"The result of adding a new protected range.","properties":{"protectedRange":{"$ref":"#/components/schemas/ProtectedRange"}},"type":"object"},"AddSheetRequest":{"description":"Adds a new sheet. When a sheet is added at a given index, all subsequent sheets' indexes are incremented. To add an object sheet, use AddChartRequest instead and specify EmbeddedObjectPosition.sheetId or EmbeddedObjectPosition.newSheet.","properties":{"properties":{"$ref":"#/components/schemas/SheetProperties"}},"type":"object"},"AddSheetResponse":{"description":"The result of adding a sheet.","properties":{"properties":{"$ref":"#/components/schemas/SheetProperties"}},"type":"object"},"AddSlicerRequest":{"description":"Adds a slicer to a sheet in the spreadsheet.","properties":{"slicer":{"$ref":"#/components/schemas/Slicer"}},"type":"object"},"AddSlicerResponse":{"description":"The result of adding a slicer to a spreadsheet.","properties":{"slicer":{"$ref":"#/components/schemas/Slicer"}},"type":"object"},"AppendCellsRequest":{"description":"Adds new cells after the last row with data in a sheet, inserting new rows into the sheet if necessary.","properties":{"fields":{"description":"The fields of CellData that should be updated. At least one field must be specified. The root is the CellData; 'row.values.' should not be specified. A single `\"*\"` can be used as short-hand for listing every field.","format":"google-fieldmask","type":"string"},"rows":{"description":"The data to append.","items":{"$ref":"#/components/schemas/RowData"},"type":"array"},"sheetId":{"description":"The sheet ID to append the data to.","format":"int32","type":"integer"}},"type":"object"},"AppendDimensionRequest":{"description":"Appends rows or columns to the end of a sheet.","properties":{"dimension":{"description":"Whether rows or columns should be appended.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"type":"string"},"length":{"description":"The number of rows or columns to append.","format":"int32","type":"integer"},"sheetId":{"description":"The sheet to append rows or columns to.","format":"int32","type":"integer"}},"type":"object"},"AppendValuesResponse":{"description":"The response when updating a range of values in a spreadsheet.","properties":{"spreadsheetId":{"description":"The spreadsheet the updates were applied to.","type":"string"},"tableRange":{"description":"The range (in A1 notation) of the table that values are being appended to (before the values were appended). Empty if no table was found.","type":"string"},"updates":{"$ref":"#/components/schemas/UpdateValuesResponse"}},"type":"object"},"AutoFillRequest":{"description":"Fills in more data based on existing data.","properties":{"range":{"$ref":"#/components/schemas/GridRange"},"sourceAndDestination":{"$ref":"#/components/schemas/SourceAndDestination"},"useAlternateSeries":{"description":"True if we should generate data with the \"alternate\" series. This differs based on the type and amount of source data.","type":"boolean"}},"type":"object"},"AutoResizeDimensionsRequest":{"description":"Automatically resizes one or more dimensions based on the contents of the cells in that dimension.","properties":{"dataSourceSheetDimensions":{"$ref":"#/components/schemas/DataSourceSheetDimensionRange"},"dimensions":{"$ref":"#/components/schemas/DimensionRange"}},"type":"object"},"BandedRange":{"description":"A banded (alternating colors) range in a sheet.","properties":{"bandedRangeId":{"description":"The id of the banded range.","format":"int32","type":"integer"},"columnProperties":{"$ref":"#/components/schemas/BandingProperties"},"range":{"$ref":"#/components/schemas/GridRange"},"rowProperties":{"$ref":"#/components/schemas/BandingProperties"}},"type":"object"},"BandingProperties":{"description":"Properties referring a single dimension (either row or column). If both BandedRange.row_properties and BandedRange.column_properties are set, the fill colors are applied to cells according to the following rules: * header_color and footer_color take priority over band colors. * first_band_color takes priority over second_band_color. * row_properties takes priority over column_properties. For example, the first row color takes priority over the first column color, but the first column color takes priority over the second row color. Similarly, the row header takes priority over the column header in the top left cell, but the column header takes priority over the first row color if the row header is not set.","properties":{"firstBandColor":{"$ref":"#/components/schemas/Color"},"firstBandColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"footerColor":{"$ref":"#/components/schemas/Color"},"footerColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"headerColor":{"$ref":"#/components/schemas/Color"},"headerColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"secondBandColor":{"$ref":"#/components/schemas/Color"},"secondBandColorStyle":{"$ref":"#/components/schemas/ColorStyle"}},"type":"object"},"BaselineValueFormat":{"description":"Formatting options for baseline value.","properties":{"comparisonType":{"description":"The comparison type of key value with baseline value.","enum":["COMPARISON_TYPE_UNDEFINED","ABSOLUTE_DIFFERENCE","PERCENTAGE_DIFFERENCE"],"type":"string"},"description":{"description":"Description which is appended after the baseline value. This field is optional.","type":"string"},"negativeColor":{"$ref":"#/components/schemas/Color"},"negativeColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"position":{"$ref":"#/components/schemas/TextPosition"},"positiveColor":{"$ref":"#/components/schemas/Color"},"positiveColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"textFormat":{"$ref":"#/components/schemas/TextFormat"}},"type":"object"},"BasicChartAxis":{"description":"An axis of the chart. A chart may not have more than one axis per axis position.","properties":{"format":{"$ref":"#/components/schemas/TextFormat"},"position":{"description":"The position of this axis.","enum":["BASIC_CHART_AXIS_POSITION_UNSPECIFIED","BOTTOM_AXIS","LEFT_AXIS","RIGHT_AXIS"],"type":"string"},"title":{"description":"The title of this axis. If set, this overrides any title inferred from headers of the data.","type":"string"},"titleTextPosition":{"$ref":"#/components/schemas/TextPosition"},"viewWindowOptions":{"$ref":"#/components/schemas/ChartAxisViewWindowOptions"}},"type":"object"},"BasicChartDomain":{"description":"The domain of a chart. For example, if charting stock prices over time, this would be the date.","properties":{"domain":{"$ref":"#/components/schemas/ChartData"},"reversed":{"description":"True to reverse the order of the domain values (horizontal axis).","type":"boolean"}},"type":"object"},"BasicChartSeries":{"description":"A single series of data in a chart. For example, if charting stock prices over time, multiple series may exist, one for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".","properties":{"color":{"$ref":"#/components/schemas/Color"},"colorStyle":{"$ref":"#/components/schemas/ColorStyle"},"dataLabel":{"$ref":"#/components/schemas/DataLabel"},"lineStyle":{"$ref":"#/components/schemas/LineStyle"},"pointStyle":{"$ref":"#/components/schemas/PointStyle"},"series":{"$ref":"#/components/schemas/ChartData"},"styleOverrides":{"description":"Style override settings for series data points.","items":{"$ref":"#/components/schemas/BasicSeriesDataPointStyleOverride"},"type":"array"},"targetAxis":{"description":"The minor axis that will specify the range of values for this series. For example, if charting stocks over time, the \"Volume\" series may want to be pinned to the right with the prices pinned to the left, because the scale of trading volume is different than the scale of prices. It is an error to specify an axis that isn't a valid minor axis for the chart's type.","enum":["BASIC_CHART_AXIS_POSITION_UNSPECIFIED","BOTTOM_AXIS","LEFT_AXIS","RIGHT_AXIS"],"type":"string"},"type":{"description":"The type of this series. Valid only if the chartType is COMBO. Different types will change the way the series is visualized. Only LINE, AREA, and COLUMN are supported.","enum":["BASIC_CHART_TYPE_UNSPECIFIED","BAR","LINE","AREA","COLUMN","SCATTER","COMBO","STEPPED_AREA"],"type":"string"}},"type":"object"},"BasicChartSpec":{"description":"The specification for a basic chart. See BasicChartType for the list of charts this supports.","properties":{"axis":{"description":"The axis on the chart.","items":{"$ref":"#/components/schemas/BasicChartAxis"},"type":"array"},"chartType":{"description":"The type of the chart.","enum":["BASIC_CHART_TYPE_UNSPECIFIED","BAR","LINE","AREA","COLUMN","SCATTER","COMBO","STEPPED_AREA"],"type":"string"},"compareMode":{"description":"The behavior of tooltips and data highlighting when hovering on data and chart area.","enum":["BASIC_CHART_COMPARE_MODE_UNSPECIFIED","DATUM","CATEGORY"],"type":"string"},"domains":{"description":"The domain of data this is charting. Only a single domain is supported.","items":{"$ref":"#/components/schemas/BasicChartDomain"},"type":"array"},"headerCount":{"description":"The number of rows or columns in the data that are \"headers\". If not set, Google Sheets will guess how many rows are headers based on the data. (Note that BasicChartAxis.title may override the axis title inferred from the header values.)","format":"int32","type":"integer"},"interpolateNulls":{"description":"If some values in a series are missing, gaps may appear in the chart (e.g, segments of lines in a line chart will be missing). To eliminate these gaps set this to true. Applies to Line, Area, and Combo charts.","type":"boolean"},"legendPosition":{"description":"The position of the chart legend.","enum":["BASIC_CHART_LEGEND_POSITION_UNSPECIFIED","BOTTOM_LEGEND","LEFT_LEGEND","RIGHT_LEGEND","TOP_LEGEND","NO_LEGEND"],"type":"string"},"lineSmoothing":{"description":"Gets whether all lines should be rendered smooth or straight by default. Applies to Line charts.","type":"boolean"},"series":{"description":"The data this chart is visualizing.","items":{"$ref":"#/components/schemas/BasicChartSeries"},"type":"array"},"stackedType":{"description":"The stacked type for charts that support vertical stacking. Applies to Area, Bar, Column, Combo, and Stepped Area charts.","enum":["BASIC_CHART_STACKED_TYPE_UNSPECIFIED","NOT_STACKED","STACKED","PERCENT_STACKED"],"type":"string"},"threeDimensional":{"description":"True to make the chart 3D. Applies to Bar and Column charts.","type":"boolean"},"totalDataLabel":{"$ref":"#/components/schemas/DataLabel"}},"type":"object"},"BasicFilter":{"description":"The default filter associated with a sheet.","properties":{"criteria":{"additionalProperties":{"$ref":"#/components/schemas/FilterCriteria"},"description":"The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs.","type":"object"},"filterSpecs":{"description":"The filter criteria per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence.","items":{"$ref":"#/components/schemas/FilterSpec"},"type":"array"},"range":{"$ref":"#/components/schemas/GridRange"},"sortSpecs":{"description":"The sort order per column. Later specifications are used when values are equal in the earlier specifications.","items":{"$ref":"#/components/schemas/SortSpec"},"type":"array"}},"type":"object"},"BasicSeriesDataPointStyleOverride":{"description":"Style override settings for a single series data point.","properties":{"color":{"$ref":"#/components/schemas/Color"},"colorStyle":{"$ref":"#/components/schemas/ColorStyle"},"index":{"description":"Zero based index of the series data point.","format":"int32","type":"integer"},"pointStyle":{"$ref":"#/components/schemas/PointStyle"}},"type":"object"},"BatchClearValuesByDataFilterRequest":{"description":"The request for clearing more than one range selected by a DataFilter in a spreadsheet.","properties":{"dataFilters":{"description":"The DataFilters used to determine which ranges to clear.","items":{"$ref":"#/components/schemas/DataFilter"},"type":"array"}},"type":"object"},"BatchClearValuesByDataFilterResponse":{"description":"The response when clearing a range of values selected with DataFilters in a spreadsheet.","properties":{"clearedRanges":{"description":"The ranges that were cleared, in [A1 notation](/sheets/api/guides/concepts#cell). If the requests are for an unbounded range or a ranger larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits.","items":{"type":"string"},"type":"array"},"spreadsheetId":{"description":"The spreadsheet the updates were applied to.","type":"string"}},"type":"object"},"BatchClearValuesRequest":{"description":"The request for clearing more than one range of values in a spreadsheet.","properties":{"ranges":{"description":"The ranges to clear, in [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell).","items":{"type":"string"},"type":"array"}},"type":"object"},"BatchClearValuesResponse":{"description":"The response when clearing a range of values in a spreadsheet.","properties":{"clearedRanges":{"description":"The ranges that were cleared, in A1 notation. If the requests are for an unbounded range or a ranger larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits.","items":{"type":"string"},"type":"array"},"spreadsheetId":{"description":"The spreadsheet the updates were applied to.","type":"string"}},"type":"object"},"BatchGetValuesByDataFilterRequest":{"description":"The request for retrieving a range of values in a spreadsheet selected by a set of DataFilters.","properties":{"dataFilters":{"description":"The data filters used to match the ranges of values to retrieve. Ranges that match any of the specified data filters are included in the response.","items":{"$ref":"#/components/schemas/DataFilter"},"type":"array"},"dateTimeRenderOption":{"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"},"majorDimension":{"description":"The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then a request that selects that range and sets `majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas a request that sets `majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"type":"string"},"valueRenderOption":{"description":"How values should be represented in the output. The default render option is FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"}},"type":"object"},"BatchGetValuesByDataFilterResponse":{"description":"The response when retrieving more than one range of values in a spreadsheet selected by DataFilters.","properties":{"spreadsheetId":{"description":"The ID of the spreadsheet the data was retrieved from.","type":"string"},"valueRanges":{"description":"The requested values with the list of data filters that matched them.","items":{"$ref":"#/components/schemas/MatchedValueRange"},"type":"array"}},"type":"object"},"BatchGetValuesResponse":{"description":"The response when retrieving more than one range of values in a spreadsheet.","properties":{"spreadsheetId":{"description":"The ID of the spreadsheet the data was retrieved from.","type":"string"},"valueRanges":{"description":"The requested values. The order of the ValueRanges is the same as the order of the requested ranges.","items":{"$ref":"#/components/schemas/ValueRange"},"type":"array"}},"type":"object"},"BatchUpdateSpreadsheetRequest":{"description":"The request for updating any aspect of a spreadsheet.","properties":{"includeSpreadsheetInResponse":{"description":"Determines if the update response should include the spreadsheet resource.","type":"boolean"},"requests":{"description":"A list of updates to apply to the spreadsheet. Requests will be applied in the order they are specified. If any request is not valid, no requests will be applied.","items":{"$ref":"#/components/schemas/Request"},"type":"array"},"responseIncludeGridData":{"description":"True if grid data should be returned. Meaningful only if include_spreadsheet_in_response is 'true'. This parameter is ignored if a field mask was set in the request.","type":"boolean"},"responseRanges":{"description":"Limits the ranges included in the response spreadsheet. Meaningful only if include_spreadsheet_in_response is 'true'.","items":{"type":"string"},"type":"array"}},"type":"object"},"BatchUpdateSpreadsheetResponse":{"description":"The reply for batch updating a spreadsheet.","properties":{"replies":{"description":"The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.","items":{"$ref":"#/components/schemas/Response"},"type":"array"},"spreadsheetId":{"description":"The spreadsheet the updates were applied to.","type":"string"},"updatedSpreadsheet":{"$ref":"#/components/schemas/Spreadsheet"}},"type":"object"},"BatchUpdateValuesByDataFilterRequest":{"description":"The request for updating more than one range of values in a spreadsheet.","properties":{"data":{"description":"The new values to apply to the spreadsheet. If more than one range is matched by the specified DataFilter the specified values are applied to all of those ranges.","items":{"$ref":"#/components/schemas/DataFilterValueRange"},"type":"array"},"includeValuesInResponse":{"description":"Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. The `updatedData` field within each of the BatchUpdateValuesResponse.responses contains the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).","type":"boolean"},"responseDateTimeRenderOption":{"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"},"responseValueRenderOption":{"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"},"valueInputOption":{"description":"How the input data should be interpreted.","enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"],"type":"string"}},"type":"object"},"BatchUpdateValuesByDataFilterResponse":{"description":"The response when updating a range of values in a spreadsheet.","properties":{"responses":{"description":"The response for each range updated.","items":{"$ref":"#/components/schemas/UpdateValuesByDataFilterResponse"},"type":"array"},"spreadsheetId":{"description":"The spreadsheet the updates were applied to.","type":"string"},"totalUpdatedCells":{"description":"The total number of cells updated.","format":"int32","type":"integer"},"totalUpdatedColumns":{"description":"The total number of columns where at least one cell in the column was updated.","format":"int32","type":"integer"},"totalUpdatedRows":{"description":"The total number of rows where at least one cell in the row was updated.","format":"int32","type":"integer"},"totalUpdatedSheets":{"description":"The total number of sheets where at least one cell in the sheet was updated.","format":"int32","type":"integer"}},"type":"object"},"BatchUpdateValuesRequest":{"description":"The request for updating more than one range of values in a spreadsheet.","properties":{"data":{"description":"The new values to apply to the spreadsheet.","items":{"$ref":"#/components/schemas/ValueRange"},"type":"array"},"includeValuesInResponse":{"description":"Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. The `updatedData` field within each of the BatchUpdateValuesResponse.responses contains the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).","type":"boolean"},"responseDateTimeRenderOption":{"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"type":"string"},"responseValueRenderOption":{"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"type":"string"},"valueInputOption":{"description":"How the input data should be interpreted.","enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"],"type":"string"}},"type":"object"},"BatchUpdateValuesResponse":{"description":"The response when updating a range of values in a spreadsheet.","properties":{"responses":{"description":"One UpdateValuesResponse per requested range, in the same order as the requests appeared.","items":{"$ref":"#/components/schemas/UpdateValuesResponse"},"type":"array"},"spreadsheetId":{"description":"The spreadsheet the updates were applied to.","type":"string"},"totalUpdatedCells":{"description":"The total number of cells updated.","format":"int32","type":"integer"},"totalUpdatedColumns":{"description":"The total number of columns where at least one cell in the column was updated.","format":"int32","type":"integer"},"totalUpdatedRows":{"description":"The total number of rows where at least one cell in the row was updated.","format":"int32","type":"integer"},"totalUpdatedSheets":{"description":"The total number of sheets where at least one cell in the sheet was updated.","format":"int32","type":"integer"}},"type":"object"},"BigQueryDataSourceSpec":{"description":"The specification of a BigQuery data source that's connected to a sheet.","properties":{"projectId":{"description":"The ID of a BigQuery enabled GCP project with a billing account attached. For any queries executed against the data source, the project is charged.","type":"string"},"querySpec":{"$ref":"#/components/schemas/BigQueryQuerySpec"},"tableSpec":{"$ref":"#/components/schemas/BigQueryTableSpec"}},"type":"object"},"BigQueryQuerySpec":{"description":"Specifies a custom BigQuery query.","properties":{"rawQuery":{"description":"The raw query string.","type":"string"}},"type":"object"},"BigQueryTableSpec":{"description":"Specifies a BigQuery table definition. Only [native tables](https://cloud.google.com/bigquery/docs/tables-intro) is allowed.","properties":{"datasetId":{"description":"The BigQuery dataset id.","type":"string"},"tableId":{"description":"The BigQuery table id.","type":"string"},"tableProjectId":{"description":"The ID of a BigQuery project the table belongs to. If not specified, the project_id is assumed.","type":"string"}},"type":"object"},"BooleanCondition":{"description":"A condition that can evaluate to true or false. BooleanConditions are used by conditional formatting, data validation, and the criteria in filters.","properties":{"type":{"description":"The type of condition.","enum":["CONDITION_TYPE_UNSPECIFIED","NUMBER_GREATER","NUMBER_GREATER_THAN_EQ","NUMBER_LESS","NUMBER_LESS_THAN_EQ","NUMBER_EQ","NUMBER_NOT_EQ","NUMBER_BETWEEN","NUMBER_NOT_BETWEEN","TEXT_CONTAINS","TEXT_NOT_CONTAINS","TEXT_STARTS_WITH","TEXT_ENDS_WITH","TEXT_EQ","TEXT_IS_EMAIL","TEXT_IS_URL","DATE_EQ","DATE_BEFORE","DATE_AFTER","DATE_ON_OR_BEFORE","DATE_ON_OR_AFTER","DATE_BETWEEN","DATE_NOT_BETWEEN","DATE_IS_VALID","ONE_OF_RANGE","ONE_OF_LIST","BLANK","NOT_BLANK","CUSTOM_FORMULA","BOOLEAN","TEXT_NOT_EQ","DATE_NOT_EQ"],"type":"string"},"values":{"description":"The values of the condition. The number of supported values depends on the condition type. Some support zero values, others one or two values, and ConditionType.ONE_OF_LIST supports an arbitrary number of values.","items":{"$ref":"#/components/schemas/ConditionValue"},"type":"array"}},"type":"object"},"BooleanRule":{"description":"A rule that may or may not match, depending on the condition.","properties":{"condition":{"$ref":"#/components/schemas/BooleanCondition"},"format":{"$ref":"#/components/schemas/CellFormat"}},"type":"object"},"Border":{"description":"A border along a cell.","properties":{"color":{"$ref":"#/components/schemas/Color"},"colorStyle":{"$ref":"#/components/schemas/ColorStyle"},"style":{"description":"The style of the border.","enum":["STYLE_UNSPECIFIED","DOTTED","DASHED","SOLID","SOLID_MEDIUM","SOLID_THICK","NONE","DOUBLE"],"type":"string"},"width":{"description":"The width of the border, in pixels. Deprecated; the width is determined by the \"style\" field.","format":"int32","type":"integer"}},"type":"object"},"Borders":{"description":"The borders of the cell.","properties":{"bottom":{"$ref":"#/components/schemas/Border"},"left":{"$ref":"#/components/schemas/Border"},"right":{"$ref":"#/components/schemas/Border"},"top":{"$ref":"#/components/schemas/Border"}},"type":"object"},"BubbleChartSpec":{"description":"A bubble chart.","properties":{"bubbleBorderColor":{"$ref":"#/components/schemas/Color"},"bubbleBorderColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"bubbleLabels":{"$ref":"#/components/schemas/ChartData"},"bubbleMaxRadiusSize":{"description":"The max radius size of the bubbles, in pixels. If specified, the field must be a positive value.","format":"int32","type":"integer"},"bubbleMinRadiusSize":{"description":"The minimum radius size of the bubbles, in pixels. If specific, the field must be a positive value.","format":"int32","type":"integer"},"bubbleOpacity":{"description":"The opacity of the bubbles between 0 and 1.0. 0 is fully transparent and 1 is fully opaque.","format":"float","type":"number"},"bubbleSizes":{"$ref":"#/components/schemas/ChartData"},"bubbleTextStyle":{"$ref":"#/components/schemas/TextFormat"},"domain":{"$ref":"#/components/schemas/ChartData"},"groupIds":{"$ref":"#/components/schemas/ChartData"},"legendPosition":{"description":"Where the legend of the chart should be drawn.","enum":["BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED","BOTTOM_LEGEND","LEFT_LEGEND","RIGHT_LEGEND","TOP_LEGEND","NO_LEGEND","INSIDE_LEGEND"],"type":"string"},"series":{"$ref":"#/components/schemas/ChartData"}},"type":"object"},"CandlestickChartSpec":{"description":"A candlestick chart.","properties":{"data":{"description":"The Candlestick chart data. Only one CandlestickData is supported.","items":{"$ref":"#/components/schemas/CandlestickData"},"type":"array"},"domain":{"$ref":"#/components/schemas/CandlestickDomain"}},"type":"object"},"CandlestickData":{"description":"The Candlestick chart data, each containing the low, open, close, and high values for a series.","properties":{"closeSeries":{"$ref":"#/components/schemas/CandlestickSeries"},"highSeries":{"$ref":"#/components/schemas/CandlestickSeries"},"lowSeries":{"$ref":"#/components/schemas/CandlestickSeries"},"openSeries":{"$ref":"#/components/schemas/CandlestickSeries"}},"type":"object"},"CandlestickDomain":{"description":"The domain of a CandlestickChart.","properties":{"data":{"$ref":"#/components/schemas/ChartData"},"reversed":{"description":"True to reverse the order of the domain values (horizontal axis).","type":"boolean"}},"type":"object"},"CandlestickSeries":{"description":"The series of a CandlestickData.","properties":{"data":{"$ref":"#/components/schemas/ChartData"}},"type":"object"},"CellData":{"description":"Data about a specific cell.","properties":{"dataSourceFormula":{"$ref":"#/components/schemas/DataSourceFormula"},"dataSourceTable":{"$ref":"#/components/schemas/DataSourceTable"},"dataValidation":{"$ref":"#/components/schemas/DataValidationRule"},"effectiveFormat":{"$ref":"#/components/schemas/CellFormat"},"effectiveValue":{"$ref":"#/components/schemas/ExtendedValue"},"formattedValue":{"description":"The formatted value of the cell. This is the value as it's shown to the user. This field is read-only.","type":"string"},"hyperlink":{"description":"A hyperlink this cell points to, if any. If the cell contains multiple hyperlinks, this field will be empty. This field is read-only. To set it, use a `=HYPERLINK` formula in the userEnteredValue.formulaValue field. A cell-level link can also be set from the userEnteredFormat.textFormat field. Alternatively, set a hyperlink in the textFormatRun.format.link field that spans the entire cell.","type":"string"},"note":{"description":"Any note on the cell.","type":"string"},"pivotTable":{"$ref":"#/components/schemas/PivotTable"},"textFormatRuns":{"description":"Runs of rich text applied to subsections of the cell. Runs are only valid on user entered strings, not formulas, bools, or numbers. Properties of a run start at a specific index in the text and continue until the next run. Runs will inherit the properties of the cell unless explicitly changed. When writing, the new runs will overwrite any prior runs. When writing a new user_entered_value, previous runs are erased.","items":{"$ref":"#/components/schemas/TextFormatRun"},"type":"array"},"userEnteredFormat":{"$ref":"#/components/schemas/CellFormat"},"userEnteredValue":{"$ref":"#/components/schemas/ExtendedValue"}},"type":"object"},"CellFormat":{"description":"The format of a cell.","properties":{"backgroundColor":{"$ref":"#/components/schemas/Color"},"backgroundColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"borders":{"$ref":"#/components/schemas/Borders"},"horizontalAlignment":{"description":"The horizontal alignment of the value in the cell.","enum":["HORIZONTAL_ALIGN_UNSPECIFIED","LEFT","CENTER","RIGHT"],"type":"string"},"hyperlinkDisplayType":{"description":"If one exists, how a hyperlink should be displayed in the cell.","enum":["HYPERLINK_DISPLAY_TYPE_UNSPECIFIED","LINKED","PLAIN_TEXT"],"type":"string"},"numberFormat":{"$ref":"#/components/schemas/NumberFormat"},"padding":{"$ref":"#/components/schemas/Padding"},"textDirection":{"description":"The direction of the text in the cell.","enum":["TEXT_DIRECTION_UNSPECIFIED","LEFT_TO_RIGHT","RIGHT_TO_LEFT"],"type":"string"},"textFormat":{"$ref":"#/components/schemas/TextFormat"},"textRotation":{"$ref":"#/components/schemas/TextRotation"},"verticalAlignment":{"description":"The vertical alignment of the value in the cell.","enum":["VERTICAL_ALIGN_UNSPECIFIED","TOP","MIDDLE","BOTTOM"],"type":"string"},"wrapStrategy":{"description":"The wrap strategy for the value in the cell.","enum":["WRAP_STRATEGY_UNSPECIFIED","OVERFLOW_CELL","LEGACY_WRAP","CLIP","WRAP"],"type":"string"}},"type":"object"},"ChartAxisViewWindowOptions":{"description":"The options that define a \"view window\" for a chart (such as the visible values in an axis).","properties":{"viewWindowMax":{"description":"The maximum numeric value to be shown in this view window. If unset, will automatically determine a maximum value that looks good for the data.","format":"double","type":"number"},"viewWindowMin":{"description":"The minimum numeric value to be shown in this view window. If unset, will automatically determine a minimum value that looks good for the data.","format":"double","type":"number"},"viewWindowMode":{"description":"The view window's mode.","enum":["DEFAULT_VIEW_WINDOW_MODE","VIEW_WINDOW_MODE_UNSUPPORTED","EXPLICIT","PRETTY"],"type":"string"}},"type":"object"},"ChartCustomNumberFormatOptions":{"description":"Custom number formatting options for chart attributes.","properties":{"prefix":{"description":"Custom prefix to be prepended to the chart attribute. This field is optional.","type":"string"},"suffix":{"description":"Custom suffix to be appended to the chart attribute. This field is optional.","type":"string"}},"type":"object"},"ChartData":{"description":"The data included in a domain or series.","properties":{"aggregateType":{"description":"The aggregation type for the series of a data source chart. Only supported for data source charts.","enum":["CHART_AGGREGATE_TYPE_UNSPECIFIED","AVERAGE","COUNT","MAX","MEDIAN","MIN","SUM"],"type":"string"},"columnReference":{"$ref":"#/components/schemas/DataSourceColumnReference"},"groupRule":{"$ref":"#/components/schemas/ChartGroupRule"},"sourceRange":{"$ref":"#/components/schemas/ChartSourceRange"}},"type":"object"},"ChartDateTimeRule":{"description":"Allows you to organize the date-time values in a source data column into buckets based on selected parts of their date or time values.","properties":{"type":{"description":"The type of date-time grouping to apply.","enum":["CHART_DATE_TIME_RULE_TYPE_UNSPECIFIED","SECOND","MINUTE","HOUR","HOUR_MINUTE","HOUR_MINUTE_AMPM","DAY_OF_WEEK","DAY_OF_YEAR","DAY_OF_MONTH","DAY_MONTH","MONTH","QUARTER","YEAR","YEAR_MONTH","YEAR_QUARTER","YEAR_MONTH_DAY"],"type":"string"}},"type":"object"},"ChartGroupRule":{"description":"An optional setting on the ChartData of the domain of a data source chart that defines buckets for the values in the domain rather than breaking out each individual value. For example, when plotting a data source chart, you can specify a histogram rule on the domain (it should only contain numeric values), grouping its values into buckets. Any values of a chart series that fall into the same bucket are aggregated based on the aggregate_type.","properties":{"dateTimeRule":{"$ref":"#/components/schemas/ChartDateTimeRule"},"histogramRule":{"$ref":"#/components/schemas/ChartHistogramRule"}},"type":"object"},"ChartHistogramRule":{"description":"Allows you to organize numeric values in a source data column into buckets of constant size.","properties":{"intervalSize":{"description":"The size of the buckets that are created. Must be positive.","format":"double","type":"number"},"maxValue":{"description":"The maximum value at which items are placed into buckets. Values greater than the maximum are grouped into a single bucket. If omitted, it is determined by the maximum item value.","format":"double","type":"number"},"minValue":{"description":"The minimum value at which items are placed into buckets. Values that are less than the minimum are grouped into a single bucket. If omitted, it is determined by the minimum item value.","format":"double","type":"number"}},"type":"object"},"ChartSourceRange":{"description":"Source ranges for a chart.","properties":{"sources":{"description":"The ranges of data for a series or domain. Exactly one dimension must have a length of 1, and all sources in the list must have the same dimension with length 1. The domain (if it exists) & all series must have the same number of source ranges. If using more than one source range, then the source range at a given offset must be in order and contiguous across the domain and series. For example, these are valid configurations: domain sources: A1:A5 series1 sources: B1:B5 series2 sources: D6:D10 domain sources: A1:A5, C10:C12 series1 sources: B1:B5, D10:D12 series2 sources: C1:C5, E10:E12","items":{"$ref":"#/components/schemas/GridRange"},"type":"array"}},"type":"object"},"ChartSpec":{"description":"The specifications of a chart.","properties":{"altText":{"description":"The alternative text that describes the chart. This is often used for accessibility.","type":"string"},"backgroundColor":{"$ref":"#/components/schemas/Color"},"backgroundColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"basicChart":{"$ref":"#/components/schemas/BasicChartSpec"},"bubbleChart":{"$ref":"#/components/schemas/BubbleChartSpec"},"candlestickChart":{"$ref":"#/components/schemas/CandlestickChartSpec"},"dataSourceChartProperties":{"$ref":"#/components/schemas/DataSourceChartProperties"},"filterSpecs":{"description":"The filters applied to the source data of the chart. Only supported for data source charts.","items":{"$ref":"#/components/schemas/FilterSpec"},"type":"array"},"fontName":{"description":"The name of the font to use by default for all chart text (e.g. title, axis labels, legend). If a font is specified for a specific part of the chart it will override this font name.","type":"string"},"hiddenDimensionStrategy":{"description":"Determines how the charts will use hidden rows or columns.","enum":["CHART_HIDDEN_DIMENSION_STRATEGY_UNSPECIFIED","SKIP_HIDDEN_ROWS_AND_COLUMNS","SKIP_HIDDEN_ROWS","SKIP_HIDDEN_COLUMNS","SHOW_ALL"],"type":"string"},"histogramChart":{"$ref":"#/components/schemas/HistogramChartSpec"},"maximized":{"description":"True to make a chart fill the entire space in which it's rendered with minimum padding. False to use the default padding. (Not applicable to Geo and Org charts.)","type":"boolean"},"orgChart":{"$ref":"#/components/schemas/OrgChartSpec"},"pieChart":{"$ref":"#/components/schemas/PieChartSpec"},"scorecardChart":{"$ref":"#/components/schemas/ScorecardChartSpec"},"sortSpecs":{"description":"The order to sort the chart data by. Only a single sort spec is supported. Only supported for data source charts.","items":{"$ref":"#/components/schemas/SortSpec"},"type":"array"},"subtitle":{"description":"The subtitle of the chart.","type":"string"},"subtitleTextFormat":{"$ref":"#/components/schemas/TextFormat"},"subtitleTextPosition":{"$ref":"#/components/schemas/TextPosition"},"title":{"description":"The title of the chart.","type":"string"},"titleTextFormat":{"$ref":"#/components/schemas/TextFormat"},"titleTextPosition":{"$ref":"#/components/schemas/TextPosition"},"treemapChart":{"$ref":"#/components/schemas/TreemapChartSpec"},"waterfallChart":{"$ref":"#/components/schemas/WaterfallChartSpec"}},"type":"object"},"ClearBasicFilterRequest":{"description":"Clears the basic filter, if any exists on the sheet.","properties":{"sheetId":{"description":"The sheet ID on which the basic filter should be cleared.","format":"int32","type":"integer"}},"type":"object"},"ClearValuesRequest":{"description":"The request for clearing a range of values in a spreadsheet.","type":"object"},"ClearValuesResponse":{"description":"The response when clearing a range of values in a spreadsheet.","properties":{"clearedRange":{"description":"The range (in A1 notation) that was cleared. (If the request was for an unbounded range or a ranger larger than the bounds of the sheet, this will be the actual range that was cleared, bounded to the sheet's limits.)","type":"string"},"spreadsheetId":{"description":"The spreadsheet the updates were applied to.","type":"string"}},"type":"object"},"Color":{"description":"Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to/from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't carry information about the absolute color space that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB, DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most 1e-5. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...","properties":{"alpha":{"description":"The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).","format":"float","type":"number"},"blue":{"description":"The amount of blue in the color as a value in the interval [0, 1].","format":"float","type":"number"},"green":{"description":"The amount of green in the color as a value in the interval [0, 1].","format":"float","type":"number"},"red":{"description":"The amount of red in the color as a value in the interval [0, 1].","format":"float","type":"number"}},"type":"object"},"ColorStyle":{"description":"A color value.","properties":{"rgbColor":{"$ref":"#/components/schemas/Color"},"themeColor":{"description":"Theme color.","enum":["THEME_COLOR_TYPE_UNSPECIFIED","TEXT","BACKGROUND","ACCENT1","ACCENT2","ACCENT3","ACCENT4","ACCENT5","ACCENT6","LINK"],"type":"string"}},"type":"object"},"ConditionValue":{"description":"The value of the condition.","properties":{"relativeDate":{"description":"A relative date (based on the current date). Valid only if the type is DATE_BEFORE, DATE_AFTER, DATE_ON_OR_BEFORE or DATE_ON_OR_AFTER. Relative dates are not supported in data validation. They are supported only in conditional formatting and conditional filters.","enum":["RELATIVE_DATE_UNSPECIFIED","PAST_YEAR","PAST_MONTH","PAST_WEEK","YESTERDAY","TODAY","TOMORROW"],"type":"string"},"userEnteredValue":{"description":"A value the condition is based on. The value is parsed as if the user typed into a cell. Formulas are supported (and must begin with an `=` or a '+').","type":"string"}},"type":"object"},"ConditionalFormatRule":{"description":"A rule describing a conditional format.","properties":{"booleanRule":{"$ref":"#/components/schemas/BooleanRule"},"gradientRule":{"$ref":"#/components/schemas/GradientRule"},"ranges":{"description":"The ranges that are formatted if the condition is true. All the ranges must be on the same grid.","items":{"$ref":"#/components/schemas/GridRange"},"type":"array"}},"type":"object"},"CopyPasteRequest":{"description":"Copies data from the source to the destination.","properties":{"destination":{"$ref":"#/components/schemas/GridRange"},"pasteOrientation":{"description":"How that data should be oriented when pasting.","enum":["NORMAL","TRANSPOSE"],"type":"string"},"pasteType":{"description":"What kind of data to paste.","enum":["PASTE_NORMAL","PASTE_VALUES","PASTE_FORMAT","PASTE_NO_BORDERS","PASTE_FORMULA","PASTE_DATA_VALIDATION","PASTE_CONDITIONAL_FORMATTING"],"type":"string"},"source":{"$ref":"#/components/schemas/GridRange"}},"type":"object"},"CopySheetToAnotherSpreadsheetRequest":{"description":"The request to copy a sheet across spreadsheets.","properties":{"destinationSpreadsheetId":{"description":"The ID of the spreadsheet to copy the sheet to.","type":"string"}},"type":"object"},"CreateDeveloperMetadataRequest":{"description":"A request to create developer metadata.","properties":{"developerMetadata":{"$ref":"#/components/schemas/DeveloperMetadata"}},"type":"object"},"CreateDeveloperMetadataResponse":{"description":"The response from creating developer metadata.","properties":{"developerMetadata":{"$ref":"#/components/schemas/DeveloperMetadata"}},"type":"object"},"CutPasteRequest":{"description":"Moves data from the source to the destination.","properties":{"destination":{"$ref":"#/components/schemas/GridCoordinate"},"pasteType":{"description":"What kind of data to paste. All the source data will be cut, regardless of what is pasted.","enum":["PASTE_NORMAL","PASTE_VALUES","PASTE_FORMAT","PASTE_NO_BORDERS","PASTE_FORMULA","PASTE_DATA_VALIDATION","PASTE_CONDITIONAL_FORMATTING"],"type":"string"},"source":{"$ref":"#/components/schemas/GridRange"}},"type":"object"},"DataExecutionStatus":{"description":"The data execution status. A data execution is created to sync a data source object with the latest data from a DataSource. It is usually scheduled to run at background, you can check its state to tell if an execution completes There are several scenarios where a data execution is triggered to run: * Adding a data source creates an associated data source sheet as well as a data execution to sync the data from the data source to the sheet. * Updating a data source creates a data execution to refresh the associated data source sheet similarly. * You can send refresh request to explicitly refresh one or multiple data source objects.","properties":{"errorCode":{"description":"The error code.","enum":["DATA_EXECUTION_ERROR_CODE_UNSPECIFIED","TIMED_OUT","TOO_MANY_ROWS","TOO_MANY_COLUMNS","TOO_MANY_CELLS","ENGINE","PARAMETER_INVALID","UNSUPPORTED_DATA_TYPE","DUPLICATE_COLUMN_NAMES","INTERRUPTED","CONCURRENT_QUERY","OTHER","TOO_MANY_CHARS_PER_CELL","DATA_NOT_FOUND","PERMISSION_DENIED","MISSING_COLUMN_ALIAS","OBJECT_NOT_FOUND","OBJECT_IN_ERROR_STATE","OBJECT_SPEC_INVALID"],"type":"string"},"errorMessage":{"description":"The error message, which may be empty.","type":"string"},"lastRefreshTime":{"description":"Gets the time the data last successfully refreshed.","format":"google-datetime","type":"string"},"state":{"description":"The state of the data execution.","enum":["DATA_EXECUTION_STATE_UNSPECIFIED","NOT_STARTED","RUNNING","SUCCEEDED","FAILED"],"type":"string"}},"type":"object"},"DataFilter":{"description":"Filter that describes what data should be selected or returned from a request.","properties":{"a1Range":{"description":"Selects data that matches the specified A1 range.","type":"string"},"developerMetadataLookup":{"$ref":"#/components/schemas/DeveloperMetadataLookup"},"gridRange":{"$ref":"#/components/schemas/GridRange"}},"type":"object"},"DataFilterValueRange":{"description":"A range of values whose location is specified by a DataFilter.","properties":{"dataFilter":{"$ref":"#/components/schemas/DataFilter"},"majorDimension":{"description":"The major dimension of the values.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"type":"string"},"values":{"description":"The data to be written. If the provided values exceed any of the ranges matched by the data filter then the request fails. If the provided values are less than the matched ranges only the specified values are written, existing values in the matched ranges remain unaffected.","items":{"type":"array"},"type":"array"}},"type":"object"},"DataLabel":{"description":"Settings for one set of data labels. Data labels are annotations that appear next to a set of data, such as the points on a line chart, and provide additional information about what the data represents, such as a text representation of the value behind that point on the graph.","properties":{"customLabelData":{"$ref":"#/components/schemas/ChartData"},"placement":{"description":"The placement of the data label relative to the labeled data.","enum":["DATA_LABEL_PLACEMENT_UNSPECIFIED","CENTER","LEFT","RIGHT","ABOVE","BELOW","INSIDE_END","INSIDE_BASE","OUTSIDE_END"],"type":"string"},"textFormat":{"$ref":"#/components/schemas/TextFormat"},"type":{"description":"The type of the data label.","enum":["DATA_LABEL_TYPE_UNSPECIFIED","NONE","DATA","CUSTOM"],"type":"string"}},"type":"object"},"DataSource":{"description":"Information about an external data source in the spreadsheet.","properties":{"calculatedColumns":{"description":"All calculated columns in the data source.","items":{"$ref":"#/components/schemas/DataSourceColumn"},"type":"array"},"dataSourceId":{"description":"The spreadsheet-scoped unique ID that identifies the data source. Example: 1080547365.","type":"string"},"sheetId":{"description":"The ID of the Sheet connected with the data source. The field cannot be changed once set. When creating a data source, an associated DATA_SOURCE sheet is also created, if the field is not specified, the ID of the created sheet will be randomly generated.","format":"int32","type":"integer"},"spec":{"$ref":"#/components/schemas/DataSourceSpec"}},"type":"object"},"DataSourceChartProperties":{"description":"Properties of a data source chart.","properties":{"dataExecutionStatus":{"$ref":"#/components/schemas/DataExecutionStatus"},"dataSourceId":{"description":"ID of the data source that the chart is associated with.","type":"string"}},"type":"object"},"DataSourceColumn":{"description":"A column in a data source.","properties":{"formula":{"description":"The formula of the calculated column.","type":"string"},"reference":{"$ref":"#/components/schemas/DataSourceColumnReference"}},"type":"object"},"DataSourceColumnReference":{"description":"An unique identifier that references a data source column.","properties":{"name":{"description":"The display name of the column. It should be unique within a data source.","type":"string"}},"type":"object"},"DataSourceFormula":{"description":"A data source formula.","properties":{"dataExecutionStatus":{"$ref":"#/components/schemas/DataExecutionStatus"},"dataSourceId":{"description":"The ID of the data source the formula is associated with.","type":"string"}},"type":"object"},"DataSourceObjectReference":{"description":"Reference to a data source object.","properties":{"chartId":{"description":"References to a data source chart.","format":"int32","type":"integer"},"dataSourceFormulaCell":{"$ref":"#/components/schemas/GridCoordinate"},"dataSourcePivotTableAnchorCell":{"$ref":"#/components/schemas/GridCoordinate"},"dataSourceTableAnchorCell":{"$ref":"#/components/schemas/GridCoordinate"},"sheetId":{"description":"References to a DATA_SOURCE sheet.","type":"string"}},"type":"object"},"DataSourceObjectReferences":{"description":"A list of references to data source objects.","properties":{"references":{"description":"The references.","items":{"$ref":"#/components/schemas/DataSourceObjectReference"},"type":"array"}},"type":"object"},"DataSourceParameter":{"description":"A parameter in a data source's query. The parameter allows the user to pass in values from the spreadsheet into a query.","properties":{"name":{"description":"Named parameter. Must be a legitimate identifier for the DataSource that supports it. For example, [BigQuery identifier](https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical#identifiers).","type":"string"},"namedRangeId":{"description":"ID of a NamedRange. Its size must be 1x1.","type":"string"},"range":{"$ref":"#/components/schemas/GridRange"}},"type":"object"},"DataSourceRefreshDailySchedule":{"description":"A schedule for data to refresh every day in a given time interval.","properties":{"startTime":{"$ref":"#/components/schemas/TimeOfDay"}},"type":"object"},"DataSourceRefreshMonthlySchedule":{"description":"A monthly schedule for data to refresh on specific days in the month in a given time interval.","properties":{"daysOfMonth":{"description":"Days of the month to refresh. Only 1-28 are supported, mapping to the 1st to the 28th day. At lesat one day must be specified.","items":{"format":"int32","type":"integer"},"type":"array"},"startTime":{"$ref":"#/components/schemas/TimeOfDay"}},"type":"object"},"DataSourceRefreshSchedule":{"description":"Schedule for refreshing the data source. Data sources in the spreadsheet are refreshed within a time interval. You can specify the start time by clicking the Scheduled Refresh button in the Sheets editor, but the interval is fixed at 4 hours. For example, if you specify a start time of 8am , the refresh will take place between 8am and 12pm every day.","properties":{"dailySchedule":{"$ref":"#/components/schemas/DataSourceRefreshDailySchedule"},"enabled":{"description":"True if the refresh schedule is enabled, or false otherwise.","type":"boolean"},"monthlySchedule":{"$ref":"#/components/schemas/DataSourceRefreshMonthlySchedule"},"nextRun":{"$ref":"#/components/schemas/Interval"},"refreshScope":{"description":"The scope of the refresh. Must be ALL_DATA_SOURCES.","enum":["DATA_SOURCE_REFRESH_SCOPE_UNSPECIFIED","ALL_DATA_SOURCES"],"type":"string"},"weeklySchedule":{"$ref":"#/components/schemas/DataSourceRefreshWeeklySchedule"}},"type":"object"},"DataSourceRefreshWeeklySchedule":{"description":"A weekly schedule for data to refresh on specific days in a given time interval.","properties":{"daysOfWeek":{"description":"Days of the week to refresh. At least one day must be specified.","items":{"enum":["DAY_OF_WEEK_UNSPECIFIED","MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"],"type":"string"},"type":"array"},"startTime":{"$ref":"#/components/schemas/TimeOfDay"}},"type":"object"},"DataSourceSheetDimensionRange":{"description":"A range along a single dimension on a DATA_SOURCE sheet.","properties":{"columnReferences":{"description":"The columns on the data source sheet.","items":{"$ref":"#/components/schemas/DataSourceColumnReference"},"type":"array"},"sheetId":{"description":"The ID of the data source sheet the range is on.","format":"int32","type":"integer"}},"type":"object"},"DataSourceSheetProperties":{"description":"Additional properties of a DATA_SOURCE sheet.","properties":{"columns":{"description":"The columns displayed on the sheet, corresponding to the values in RowData.","items":{"$ref":"#/components/schemas/DataSourceColumn"},"type":"array"},"dataExecutionStatus":{"$ref":"#/components/schemas/DataExecutionStatus"},"dataSourceId":{"description":"ID of the DataSource the sheet is connected to.","type":"string"}},"type":"object"},"DataSourceSpec":{"description":"This specifies the details of the data source. For example, for BigQuery, this specifies information about the BigQuery source.","properties":{"bigQuery":{"$ref":"#/components/schemas/BigQueryDataSourceSpec"},"parameters":{"description":"The parameters of the data source, used when querying the data source.","items":{"$ref":"#/components/schemas/DataSourceParameter"},"type":"array"}},"type":"object"},"DataSourceTable":{"description":"A data source table, which allows the user to import a static table of data from the DataSource into Sheets. This is also known as \"Extract\" in the Sheets editor.","properties":{"columnSelectionType":{"description":"The type to select columns for the data source table. Defaults to SELECTED.","enum":["DATA_SOURCE_TABLE_COLUMN_SELECTION_TYPE_UNSPECIFIED","SELECTED","SYNC_ALL"],"type":"string"},"columns":{"description":"Columns selected for the data source table. The column_selection_type must be SELECTED.","items":{"$ref":"#/components/schemas/DataSourceColumnReference"},"type":"array"},"dataExecutionStatus":{"$ref":"#/components/schemas/DataExecutionStatus"},"dataSourceId":{"description":"The ID of the data source the data source table is associated with.","type":"string"},"filterSpecs":{"description":"Filter specifications in the data source table.","items":{"$ref":"#/components/schemas/FilterSpec"},"type":"array"},"rowLimit":{"description":"The limit of rows to return. If not set, a default limit is applied. Please refer to the Sheets editor for the defa
[...]
