{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Security Center",
    "description" : "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version" : "2017-08-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/{scope}/providers/Microsoft.Security/compliances" : {
      "get" : {
        "tags" : [ "Compliances" ],
        "description" : "The Compliance scores of the specific management group.",
        "operationId" : "Compliances_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ComplianceList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Security/compliances/{complianceName}" : {
      "get" : {
        "tags" : [ "Compliances" ],
        "description" : "Details of a specific Compliance.",
        "operationId" : "Compliances_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scope",
          "in" : "path",
          "description" : "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "complianceName",
          "in" : "path",
          "description" : "name of the Compliance",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Compliance"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Compliance" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ComplianceProperties"
          }
        },
        "description" : "Compliance of a scope",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type",
              "readOnly" : true
            }
          },
          "description" : "Describes an Azure resource."
        } ]
      },
      "ComplianceList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of Compliance objects",
            "items" : {
              "$ref" : "#/components/schemas/Compliance"
            }
          }
        },
        "description" : "List of Compliance objects response"
      },
      "ComplianceProperties" : {
        "type" : "object",
        "properties" : {
          "assessmentResult" : {
            "type" : "array",
            "description" : "An array of segment, which is the actually the compliance assessment.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ComplianceSegment"
            }
          },
          "assessmentTimestampUtcDate" : {
            "type" : "string",
            "description" : "The timestamp when the Compliance calculation was conducted.",
            "format" : "date-time",
            "readOnly" : true
          },
          "resourceCount" : {
            "type" : "integer",
            "description" : "The resource count of the given subscription for which the Compliance calculation was conducted (needed for Management Group Compliance calculation).",
            "readOnly" : true
          }
        },
        "description" : "The Compliance score (percentage) of a Subscription is a sum of all Resources' Compliances under the given Subscription. A Resource Compliance is defined as the compliant ('healthy') Policy Definitions out of all Policy Definitions applicable to a given resource."
      },
      "ComplianceSegment" : {
        "type" : "object",
        "properties" : {
          "percentage" : {
            "type" : "number",
            "description" : "The size (%) of the segment.",
            "format" : "double",
            "readOnly" : true
          },
          "segmentType" : {
            "type" : "string",
            "description" : "The segment type, e.g. compliant, non-compliance, insufficient coverage, N/A, etc.",
            "readOnly" : true
          }
        },
        "description" : "A segment of a compliance assessment."
      }
    },
    "parameters" : {
      "ComplianceName" : {
        "name" : "complianceName",
        "in" : "path",
        "description" : "name of the Compliance",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}