{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Entity Search Client",
    "description" : "The Entity Search API lets you send a search query to Bing and get back search results that include entities and places. Place results include restaurants, hotel, or other local businesses. For places, the query can specify the name of the local business or it can ask for a list (for example, restaurants near me). Entity results include persons, places, or things. Place in this context is tourist attractions, states, countries, etc.",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.cognitive.microsoft.com/bing/v7.0"
  } ],
  "security" : [ {
    "apiKeyHeader" : null
  } ],
  "paths" : {
    "/entities" : {
      "get" : {
        "tags" : [ "EntitySearch" ],
        "summary" : "The Entity Search API lets you send a search query to Bing and get back search results that include entities and places. Place results include restaurants, hotel, or other local businesses. For places, the query can specify the name of the local business or it can ask for a list (for example, restaurants near me). Entity results include persons, places, or things. Place in this context is tourist attractions, states, countries, etc.",
        "operationId" : "Entities_Search",
        "parameters" : [ {
          "name" : "X-BingApis-SDK",
          "in" : "header",
          "description" : "Activate swagger compliance",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "true" ]
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the setLang query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the cc query parameter. Bing will use the first supported language it finds from the list, and combine that language with the cc parameter value to determine the market to return results for. If the list does not include a supported language, Bing will find the closest language and market that supports the request, and may use an aggregated or default market for the results instead of a specified one. You should use this header and the cc query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. A user interface string is a string that's used as a label in a user interface. There are very few user interface strings in the JSON response objects. Any links in the response objects to Bing.com properties will apply the specified language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Pragma",
          "in" : "header",
          "description" : "By default, Bing returns cached content, if available. To prevent Bing from returning cached content, set the Pragma header to no-cache (for example, Pragma: no-cache).",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "User-Agent",
          "in" : "header",
          "description" : "The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are strongly encouraged to always specify this header. The user-agent should be the same string that any commonly used browser would send. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-MSEdge-ClientID",
          "in" : "header",
          "description" : "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-MSEdge-ClientIP",
          "in" : "header",
          "description" : "The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-Search-Location",
          "in" : "header",
          "description" : "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cc",
          "in" : "query",
          "description" : "A 2-character country code of the country where the results come from. This API supports only the United States market. If you specify this query parameter, it must be set to us. If you set this parameter, you must also specify the Accept-Language header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the mkt query parameter are mutually exclusive—do not specify both.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mkt",
          "in" : "query",
          "description" : "The market where the results come from. You are strongly encouraged to always specify the market, if known. Specifying the market helps Bing route the request and return an appropriate and optimal response. This parameter and the cc query parameter are mutually exclusive—do not specify both.",
          "schema" : {
            "type" : "string",
            "default" : "en-us"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "The user's search term.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ResponseFilter",
          "in" : "query",
          "description" : "A comma-delimited list of answers to include in the response. If you do not specify this parameter, the response includes all search answers for which there's relevant data.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "Entities", "Places" ]
            }
          }
        }, {
          "name" : "ResponseFormat",
          "in" : "query",
          "description" : "The media type to use for the response. The following are the possible case-insensitive values: JSON, JSONLD. The default is JSON. If you specify JSONLD, the response body includes JSON-LD objects that contain the search results.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "Json", "JsonLd" ]
            }
          }
        }, {
          "name" : "SafeSearch",
          "in" : "query",
          "description" : "A filter used to filter adult content. Off: Return webpages with adult text, images, or videos. Moderate: Return webpages with adult text, but not adult images or videos. Strict: Do not return webpages with adult text, images, or videos. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Off", "Moderate", "Strict" ]
          }
        }, {
          "name" : "SetLang",
          "in" : "query",
          "description" : "The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the Accept-Language header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "An error has occurred. Check the response type and/or status code for more details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Airport" : {
        "properties" : {
          "iataCode" : {
            "type" : "string",
            "readOnly" : true
          },
          "icaoCode" : {
            "type" : "string",
            "readOnly" : true
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/CivicStructure"
        } ]
      },
      "Answer" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Response"
        } ]
      },
      "CivicStructure" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Place"
        } ]
      },
      "ContractualRulesAttribution" : {
        "properties" : {
          "mustBeCloseToContent" : {
            "type" : "boolean",
            "description" : "A Boolean value that determines whether the contents of the rule must be placed in close proximity to the field that the rule applies to. If true, the contents must be placed in close proximity. If false, or this field does not exist, the contents may be placed at the caller's discretion.",
            "readOnly" : true
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/ContractualRulesContractualRule"
        } ]
      },
      "ContractualRulesContractualRule" : {
        "required" : [ "_type" ],
        "type" : "object",
        "properties" : {
          "_type" : {
            "type" : "string"
          },
          "targetPropertyName" : {
            "type" : "string",
            "description" : "The name of the field that the rule applies to.",
            "readOnly" : true
          }
        },
        "discriminator" : {
          "propertyName" : "_type"
        }
      },
      "ContractualRulesLicenseAttribution" : {
        "properties" : {
          "license" : {
            "$ref" : "#/components/schemas/License"
          },
          "licenseNotice" : {
            "type" : "string",
            "description" : "The license to display next to the targeted field.",
            "readOnly" : true
          }
        },
        "description" : "Defines a contractual rule for license attribution.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ContractualRulesAttribution"
        } ]
      },
      "ContractualRulesLinkAttribution" : {
        "properties" : {
          "optionalForListDisplay" : {
            "type" : "boolean",
            "description" : "Indicates whether this provider's attribution is optional.",
            "readOnly" : true
          },
          "text" : {
            "type" : "string",
            "description" : "The attribution text."
          },
          "url" : {
            "type" : "string",
            "description" : "The URL to the provider's website. Use text and URL to create the hyperlink."
          }
        },
        "description" : "Defines a contractual rule for link attribution.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ContractualRulesAttribution"
        } ]
      },
      "ContractualRulesMediaAttribution" : {
        "properties" : {
          "url" : {
            "type" : "string",
            "description" : "The URL that you use to create of hyperlink of the media content. For example, if the target is an image, you would use the URL to make the image clickable.",
            "readOnly" : true
          }
        },
        "description" : "Defines a contractual rule for media attribution.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ContractualRulesAttribution"
        } ]
      },
      "ContractualRulesTextAttribution" : {
        "properties" : {
          "optionalForListDisplay" : {
            "type" : "boolean",
            "description" : "Indicates whether this provider's attribution is optional.",
            "readOnly" : true
          },
          "text" : {
            "type" : "string",
            "description" : "The attribution text. Text attribution applies to the entity as a whole and should be displayed immediately following the entity presentation. If there are multiple text or link attribution rules that do not specify a target, you should concatenate them and display them using a \"Data from:\" label."
          }
        },
        "description" : "Defines a contractual rule for text attribution.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ContractualRulesAttribution"
        } ]
      },
      "CreativeWork" : {
        "properties" : {
          "provider" : {
            "type" : "array",
            "description" : "The source of the creative work.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Thing"
            }
          },
          "text" : {
            "type" : "string",
            "readOnly" : true
          },
          "thumbnailUrl" : {
            "type" : "string",
            "description" : "The URL to a thumbnail of the item.",
            "readOnly" : true
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/Thing"
        } ]
      },
      "EntertainmentBusiness" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/LocalBusiness"
        } ]
      },
      "Entities" : {
        "properties" : {
          "queryScenario" : {
            "type" : "string",
            "description" : "The supported query scenario. This field is set to DominantEntity or DisambiguationItem. The field is set to DominantEntity if Bing determines that only a single entity satisfies the request. For example, a book, movie, person, or attraction. If multiple entities could satisfy the request, the field is set to DisambiguationItem. For example, if the request uses the generic title of a movie franchise, the entity's type would likely be DisambiguationItem. But, if the request specifies a specific title from the franchise, the entity's type would likely be DominantEntity.",
            "readOnly" : true,
            "default" : "DominantEntity",
            "enum" : [ "DominantEntity", "DominantEntityWithDisambiguation", "Disambiguation", "List", "ListWithPivot" ]
          },
          "value" : {
            "type" : "array",
            "description" : "A list of entities.",
            "items" : {
              "$ref" : "#/components/schemas/Thing"
            }
          }
        },
        "description" : "Defines an entity answer.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/SearchResultsAnswer"
        } ]
      },
      "EntitiesEntityPresentationInfo" : {
        "required" : [ "entityScenario" ],
        "type" : "object",
        "properties" : {
          "entityScenario" : {
            "type" : "string",
            "description" : "The supported scenario.",
            "default" : "DominantEntity",
            "enum" : [ "DominantEntity", "DisambiguationItem", "ListItem" ]
          },
          "entityTypeDisplayHint" : {
            "type" : "string",
            "description" : "A display version of the entity hint. For example, if entityTypeHints is Artist, this field may be set to American Singer.",
            "readOnly" : true
          },
          "entityTypeHints" : {
            "type" : "array",
            "description" : "A list of hints that indicate the entity's type. The list could contain a single hint such as Movie or a list of hints such as Place, LocalBusiness, Restaurant. Each successive hint in the array narrows the entity's type.",
            "readOnly" : true,
            "items" : {
              "type" : "string",
              "enum" : [ "Generic", "Person", "Place", "Media", "Organization", "LocalBusiness", "Restaurant", "Hotel", "TouristAttraction", "Travel", "City", "Country", "Attraction", "House", "State", "RadioStation", "StreetAddress", "Neighborhood", "Locality", "PostalCode", "Region", "SubRegion", "MinorRegion", "Continent", "PointOfInterest", "Other", "Movie", "Book", "TelevisionShow", "TelevisionSeason", "VideoGame", "MusicAlbum", "MusicRecording", "MusicGroup", "Composition", "TheaterPlay", "Event", "Actor", "Artist", "Attorney", "Speciality", "CollegeOrUniversity", "School", "Food", "Drug", "Animal", "SportsTeam", "Product", "Car" ]
            }
          }
        },
        "description" : "Defines additional information about an entity such as type hints."
      },
      "Error" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code that identifies the category of error.",
            "default" : "None",
            "enum" : [ "None", "ServerError", "InvalidRequest", "RateLimitExceeded", "InvalidAuthorization", "InsufficientAuthorization" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A description of the error."
          },
          "moreDetails" : {
            "type" : "string",
            "description" : "A description that provides additional information about the error.",
            "readOnly" : true
          },
          "parameter" : {
            "type" : "string",
            "description" : "The parameter in the request that caused the error.",
            "readOnly" : true
          },
          "subCode" : {
            "type" : "string",
            "description" : "The error code that further helps to identify the error.",
            "readOnly" : true,
            "enum" : [ "UnexpectedError", "ResourceError", "NotImplemented", "ParameterMissing", "ParameterInvalidValue", "HttpNotAllowed", "Blocked", "AuthorizationMissing", "AuthorizationRedundancy", "AuthorizationDisabled", "AuthorizationExpired" ]
          },
          "value" : {
            "type" : "string",
            "description" : "The parameter's value in the request that was not valid.",
            "readOnly" : true
          }
        },
        "description" : "Defines the error that occurred."
      },
      "ErrorResponse" : {
        "properties" : {
          "errors" : {
            "type" : "array",
            "description" : "A list of errors that describe the reasons why the request failed.",
            "items" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        },
        "description" : "The top-level response that represents a failed request.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Response"
        } ]
      },
      "FoodEstablishment" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/LocalBusiness"
        } ]
      },
      "Hotel" : {
        "properties" : {
          "amenities" : {
            "type" : "array",
            "readOnly" : true,
            "items" : {
              "type" : "string"
            }
          },
          "hotelClass" : {
            "type" : "string",
            "readOnly" : true
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/LodgingBusiness"
        } ]
      },
      "Identifiable" : {
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "A String identifier.",
            "readOnly" : true
          }
        },
        "description" : "Defines the identity of a resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ResponseBase"
        } ]
      },
      "ImageObject" : {
        "properties" : {
          "thumbnail" : {
            "$ref" : "#/components/schemas/ImageObject"
          }
        },
        "description" : "Defines an image",
        "allOf" : [ {
          "$ref" : "#/components/schemas/MediaObject"
        } ]
      },
      "Intangible" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Thing"
        } ]
      },
      "License" : {
        "description" : "Defines the license under which the text or photo may be used.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/CreativeWork"
        } ]
      },
      "LocalBusiness" : {
        "properties" : {
          "isPermanentlyClosed" : {
            "type" : "boolean",
            "readOnly" : true
          },
          "panoramas" : {
            "type" : "array",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ImageObject"
            }
          },
          "priceRange" : {
            "type" : "string",
            "description" : "$$.",
            "readOnly" : true
          },
          "tagLine" : {
            "type" : "string",
            "readOnly" : true
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/Place"
        } ]
      },
      "LodgingBusiness" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/LocalBusiness"
        } ]
      },
      "MediaObject" : {
        "properties" : {
          "contentUrl" : {
            "type" : "string",
            "description" : "Original URL to retrieve the source (file) for the media object (e.g the source URL for the image).",
            "readOnly" : true
          },
          "height" : {
            "type" : "integer",
            "description" : "The height of the source media object, in pixels.",
            "format" : "int32",
            "readOnly" : true
          },
          "hostPageUrl" : {
            "type" : "string",
            "description" : "URL of the page that hosts the media object.",
            "readOnly" : true
          },
          "width" : {
            "type" : "integer",
            "description" : "The width of the source media object, in pixels.",
            "format" : "int32",
            "readOnly" : true
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/CreativeWork"
        } ]
      },
      "MovieTheater" : {
        "properties" : {
          "screenCount" : {
            "type" : "integer",
            "format" : "int32",
            "readOnly" : true
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/EntertainmentBusiness"
        } ]
      },
      "Organization" : {
        "description" : "Defines an organization.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Thing"
        } ]
      },
      "Place" : {
        "properties" : {
          "address" : {
            "$ref" : "#/components/schemas/PostalAddress"
          },
          "telephone" : {
            "type" : "string",
            "description" : "The entity's telephone number",
            "readOnly" : true
          }
        },
        "description" : "Defines information about a local entity, such as a restaurant or hotel.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Thing"
        } ]
      },
      "Places" : {
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "A list of local entities, such as restaurants or hotels.",
            "items" : {
              "$ref" : "#/components/schemas/Thing"
            }
          }
        },
        "description" : "Defines a local entity answer.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/SearchResultsAnswer"
        } ]
      },
      "PostalAddress" : {
        "properties" : {
          "addressCountry" : {
            "type" : "string",
            "description" : "The country/region where the street address is located. This could be the two-letter ISO code. For example, US, or the full name, United States.",
            "readOnly" : true
          },
          "addressLocality" : {
            "type" : "string",
            "description" : "The city where the street address is located. For example, Seattle.",
            "readOnly" : true
          },
          "addressRegion" : {
            "type" : "string",
            "description" : "The state or province code where the street address is located. This could be the two-letter code. For example, WA, or the full name , Washington.",
            "readOnly" : true
          },
          "addressRegionAbbreviation" : {
            "type" : "string",
            "description" : "Region Abbreviation. For example, WA.",
            "readOnly" : true
          },
          "addressSubregion" : {
            "type" : "string",
            "readOnly" : true
          },
          "countryIso" : {
            "type" : "string",
            "description" : "The two letter ISO code of this country. For example, US.",
            "readOnly" : true
          },
          "neighborhood" : {
            "type" : "string",
            "description" : "The neighborhood where the street address is located. For example, Westlake.",
            "readOnly" : true
          },
          "postOfficeBoxNumber" : {
            "type" : "string",
            "readOnly" : true
          },
          "postalCode" : {
            "type" : "string",
            "description" : "The zip code or postal code where the street address is located. For example, 98052.",
            "readOnly" : true
          },
          "streetAddress" : {
            "type" : "string",
            "readOnly" : true
          },
          "text" : {
            "type" : "string",
            "description" : "The complete address. For example, 2100 Westlake Ave N, Bellevue, WA 98052.",
            "readOnly" : true
          }
        },
        "description" : "Defines a postal address.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/StructuredValue"
        } ]
      },
      "QueryContext" : {
        "required" : [ "originalQuery" ],
        "type" : "object",
        "properties" : {
          "adultIntent" : {
            "type" : "boolean",
            "description" : "A Boolean value that indicates whether the specified query has adult intent. The value is true if the query has adult intent; otherwise, false.",
            "readOnly" : true
          },
          "alterationOverrideQuery" : {
            "type" : "string",
            "description" : "The query string to use to force Bing to use the original string. For example, if the query string is \"saling downwind\", the override query string will be \"+saling downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\". This field is included only if the original query string contains a spelling mistake.",
            "readOnly" : true
          },
          "alteredQuery" : {
            "type" : "string",
            "description" : "The query string used by Bing to perform the query. Bing uses the altered query string if the original query string contained spelling mistakes. For example, if the query string is \"saling downwind\", the altered query string will be \"sailing downwind\". This field is included only if the original query string contains a spelling mistake.",
            "readOnly" : true
          },
          "askUserForLocation" : {
            "type" : "boolean",
            "description" : "A Boolean value that indicates whether Bing requires the user's location to provide accurate results. If you specified the user's location by using the X-MSEdge-ClientIP and X-Search-Location headers, you can ignore this field. For location aware queries, such as \"today's weather\" or \"restaurants near me\" that need the user's location to provide accurate results, this field is set to true. For location aware queries that include the location (for example, \"Seattle weather\"), this field is set to false. This field is also set to false for queries that are not location aware, such as \"best sellers\".",
            "readOnly" : true
          },
          "originalQuery" : {
            "type" : "string",
            "description" : "The query string as specified in the request."
          }
        },
        "description" : "Defines the query context that Bing used for the request."
      },
      "Response" : {
        "properties" : {
          "contractualRules" : {
            "type" : "array",
            "description" : "A list of rules that you must adhere to if you display the item.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ContractualRulesContractualRule"
            }
          },
          "webSearchUrl" : {
            "type" : "string",
            "description" : "The URL To Bing's search result for this item.",
            "readOnly" : true
          }
        },
        "description" : "Defines a response. All schemas that could be returned at the root of a response should inherit from this",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Identifiable"
        } ]
      },
      "ResponseBase" : {
        "required" : [ "_type" ],
        "type" : "object",
        "properties" : {
          "_type" : {
            "type" : "string"
          }
        },
        "discriminator" : {
          "propertyName" : "_type"
        }
      },
      "Restaurant" : {
        "properties" : {
          "acceptsReservations" : {
            "type" : "boolean",
            "readOnly" : true
          },
          "menuUrl" : {
            "type" : "string",
            "readOnly" : true
          },
          "reservationUrl" : {
            "type" : "string",
            "readOnly" : true
          },
          "servesCuisine" : {
            "type" : "array",
            "readOnly" : true,
            "items" : {
              "type" : "string"
            }
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/FoodEstablishment"
        } ]
      },
      "SearchResponse" : {
        "properties" : {
          "entities" : {
            "$ref" : "#/components/schemas/Entities"
          },
          "places" : {
            "$ref" : "#/components/schemas/Places"
          },
          "queryContext" : {
            "$ref" : "#/components/schemas/QueryContext"
          }
        },
        "description" : "Defines the top-level object that the response includes when the request succeeds.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Response"
        } ]
      },
      "SearchResultsAnswer" : {
        "properties" : {
          "queryContext" : {
            "$ref" : "#/components/schemas/QueryContext"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/Answer"
        } ]
      },
      "StructuredValue" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Intangible"
        } ]
      },
      "Thing" : {
        "properties" : {
          "bingId" : {
            "type" : "string",
            "description" : "An ID that uniquely identifies this item.",
            "readOnly" : true
          },
          "description" : {
            "type" : "string",
            "description" : "A short description of the item.",
            "readOnly" : true
          },
          "entityPresentationInfo" : {
            "$ref" : "#/components/schemas/EntitiesEntityPresentationInfo"
          },
          "image" : {
            "$ref" : "#/components/schemas/ImageObject"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the thing represented by this object.",
            "readOnly" : true
          },
          "url" : {
            "type" : "string",
            "description" : "The URL to get more information about the thing represented by this object.",
            "readOnly" : true
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/Response"
        } ]
      },
      "TouristAttraction" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Place"
        } ]
      }
    },
    "parameters" : {
      "x-bingapis-sdk" : {
        "name" : "X-BingApis-SDK",
        "in" : "header",
        "description" : "Activate swagger compliance",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "true" ]
        }
      }
    },
    "securitySchemes" : {
      "apiKeyHeader" : {
        "type" : "apiKey",
        "name" : "Ocp-Apim-Subscription-Key",
        "in" : "header"
      }
    }
  }
}