{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Hydra Movies",
    "description" : "Hydra Movies is a streaming service that holds information on thousands of popular movies. \n\nThe Hydra Movies API gives you access to [their entire collection of full movies.](https://hydramovies.com)\n\nEach film returned provides you with the following data:\n\n- Movie Title\n- Movie Release Year\n- Genre\n- Movie Summary\n- Movie Poster\n- IMDB ID\n- IMDB Rating\n- Runtime\n- Language\n- YouTube trailer",
    "version" : "1.1"
  },
  "servers" : [ {
    "url" : "https://hydramovies.com/api-v2/%3Fsource=http:/hydramovies.com/api-v2"
  } ],
  "paths" : {
    "/current-Movie-Data.csv&imdb_id={IMDBid}" : {
      "get" : {
        "tags" : [ "Movies" ],
        "summary" : "getMovieByIMDBid",
        "description" : "Returns a movie using the films unique IMDB identifier",
        "operationId" : "CurrentMovieDataCsvGet",
        "parameters" : [ {
          "name" : "IMDBid",
          "in" : "path",
          "description" : "IMDB ID of the movie to return",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/current-Movie-Data.csv&movie_year={MovieYear}" : {
      "get" : {
        "tags" : [ "Movies" ],
        "summary" : "getMovieByYear",
        "description" : "Returns a movie based on the year of its release",
        "operationId" : "CurrentMovieDataCsvGet2",
        "parameters" : [ {
          "name" : "MovieYear",
          "in" : "path",
          "description" : "Release year of the movies to return",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation"
          }
        }
      }
    }
  }
}