{"openapi":"3.0.1","info":{"title":"RecoveryServicesBackupClient","version":"2016-12-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines":{"get":{"tags":["BackupEngines"],"description":"Backup management servers registered to Recovery Services Vault. Returns a pageable list of servers.","operationId":"BackupEngines_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter options.","schema":{"type":"string"}},{"name":"$skipToken","in":"query","description":"skipToken Filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupEngineBaseResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines/{backupEngineName}":{"get":{"tags":["BackupEngines"],"description":"Returns backup management server registered to Recovery Services Vault.","operationId":"BackupEngines_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"backupEngineName","in":"path","description":"Name of the backup management server.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter options.","schema":{"type":"string"}},{"name":"$skipToken","in":"query","description":"skipToken Filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupEngineBaseResource"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/operationResults/{operationId}":{"get":{"tags":["ProtectionContainerRefreshOperationResults"],"description":"Provides the result of the refresh operation triggered by the BeginRefresh operation.","operationId":"ProtectionContainerRefreshOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the container.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"Operation ID associated with the operation whose result needs to be fetched.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted"},"204":{"description":"NoContent"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}":{"get":{"tags":["ProtectionContainers"],"description":"Gets details of the specific container registered to your Recovery Services Vault.","operationId":"ProtectionContainers_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Name of the fabric where the container belongs.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Name of the container whose details need to be fetched.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionContainerResource"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/operationResults/{operationId}":{"get":{"tags":["ProtectionContainerOperationResults"],"description":"Fetches the result of any operation on the container.","operationId":"ProtectionContainerOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the container.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name whose information should be fetched.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"Operation ID which represents the operation whose result needs to be fetched.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionContainerResource"}}}},"202":{"description":"Accepted"},"204":{"description":"NoContent"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}":{"get":{"tags":["ProtectedItems"],"description":"Provides the details of the backed up item. This is an asynchronous operation. To know the status of the operation, call the GetItemOperationResult API.","operationId":"ProtectedItems_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the backed up item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name associated with the backed up item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"Backed up item name whose details are to be fetched.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter options.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectedItemResource"}}}}},"deprecated":false},"put":{"tags":["ProtectedItems"],"description":"Enables backup of an item or to modifies the backup policy information of an already backed up item. This is an asynchronous operation. To know the status of the operation, call the GetItemOperationResult API.","operationId":"ProtectedItems_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"Item name to be backed up.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"resource backed up item","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectedItemResource"}}},"required":true},"responses":{"202":{"description":"Accepted"}},"deprecated":false},"delete":{"tags":["ProtectedItems"],"description":"Used to disable backup of an item within a container. This is an asynchronous operation. To know the status of the request, call the GetItemOperationResult API.","operationId":"ProtectedItems_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the backed up item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name associated with the backed up item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"Backed up item to be deleted.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted"},"204":{"description":"NoContent"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/backup":{"post":{"tags":["Backups"],"description":"Triggers backup for specified backed up item. This is an asynchronous operation. To know the status of the operation, call GetProtectedItemOperationResult API.","operationId":"Backups_Trigger","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"Backup item for which backup needs to be triggered.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"resource backup request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupRequestResource"}}},"required":true},"responses":{"202":{"description":"Accepted"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationResults/{operationId}":{"get":{"tags":["ProtectedItemOperationResults"],"description":"Fetches the result of any operation on the backup item.","operationId":"ProtectedItemOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"Backup item name whose details are to be fetched.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"OperationID which represents the operation whose result needs to be fetched.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectedItemResource"}}}},"202":{"description":"Accepted"},"204":{"description":"NoContent"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationsStatus/{operationId}":{"get":{"tags":["ProtectedItemOperationStatuses"],"description":"Fetches the status of an operation such as triggering a backup, restore. The status can be in progress, completed or failed. You can refer to the OperationStatus enum for all the possible states of the operation. Some operations create jobs. This method returns the list of jobs associated with the operation.","operationId":"ProtectedItemOperationStatuses_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name associated with the backup item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"Backup item name whose details are to be fetched.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"OperationID represents the operation whose status needs to be fetched.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationStatus"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints":{"get":{"tags":["RecoveryPoints"],"description":"Lists the backup copies for the backed up item.","operationId":"RecoveryPoints_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the backed up item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name associated with the backed up item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"Backed up item whose backup copies are to be fetched.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter options.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecoveryPointResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}":{"get":{"tags":["RecoveryPoints"],"description":"Provides the information of the backed up data identified using RecoveryPointID. This is an asynchronous operation. To know the status of the operation, call the GetProtectedItemOperationResult API.","operationId":"RecoveryPoints_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with backed up item.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name associated with backed up item.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"Backed up item name whose backup data needs to be fetched.","required":true,"schema":{"type":"string"}},{"name":"recoveryPointId","in":"path","description":"RecoveryPointID represents the backed up data to be fetched.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecoveryPointResource"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/provisionInstantItemRecovery":{"post":{"tags":["ItemLevelRecoveryConnections"],"description":"Provisions a script which invokes an iSCSI connection to the backup data. Executing this script opens a file explorer displaying all the recoverable files and folders. This is an asynchronous operation. To know the status of provisioning, call GetProtectedItemOperationResult API.","operationId":"ItemLevelRecoveryConnections_Provision","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the backed up items.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name associated with the backed up items.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"Backed up item name whose files/folders are to be restored.","required":true,"schema":{"type":"string"}},{"name":"recoveryPointId","in":"path","description":"Recovery point ID which represents backed up data. iSCSI connection will be provisioned for this backed up data.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"resource ILR request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ILRRequestResource"}}},"required":true},"responses":{"202":{"description":"Accepted"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/restore":{"post":{"tags":["Restores"],"description":"Restores the specified backed up data. This is an asynchronous operation. To know the status of this API call, use GetProtectedItemOperationResult API.","operationId":"Restores_Trigger","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the backed up items.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name associated with the backed up items.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"Backed up item to be restored.","required":true,"schema":{"type":"string"}},{"name":"recoveryPointId","in":"path","description":"Recovery point ID which represents the backed up data to be restored.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"resource restore request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestoreRequestResource"}}},"required":true},"responses":{"202":{"description":"Accepted"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/revokeInstantItemRecovery":{"post":{"tags":["ItemLevelRecoveryConnections"],"description":"Revokes an iSCSI connection which can be used to download a script. Executing this script opens a file explorer displaying all recoverable files and folders. This is an asynchronous operation.","operationId":"ItemLevelRecoveryConnections_Revoke","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated with the backed up items.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"Container name associated with the backed up items.","required":true,"schema":{"type":"string"}},{"name":"protectedItemName","in":"path","description":"Backed up item name whose files/folders are to be restored.","required":true,"schema":{"type":"string"}},{"name":"recoveryPointId","in":"path","description":"Recovery point ID which represents backed up data. iSCSI connection will be revoked for this backed up data.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/refreshContainers":{"post":{"tags":["ProtectionContainers"],"description":"Discovers all the containers in the subscription that can be backed up to Recovery Services Vault. This is an asynchronous operation. To know the status of the operation, call GetRefreshOperationResult API.","operationId":"ProtectionContainers_Refresh","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"fabricName","in":"path","description":"Fabric name associated the container.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}":{"get":{"tags":["ExportJobsOperationResults"],"description":"Gets the operation result of operation triggered by Export Jobs API. If the operation is successful, then it also contains URL of a Blob and a SAS key to access the same. The blob contains exported jobs in JSON serialized format.","operationId":"ExportJobsOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"OperationID which represents the export job.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationResultInfoBaseResource"}}}},"202":{"description":"Accepted"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/cancel":{"post":{"tags":["JobCancellations"],"description":"Cancels a job. This is an asynchronous operation. To know the status of the cancellation, call GetCancelOperationResult API.","operationId":"JobCancellations_Trigger","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"Name of the job to cancel.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/operationResults/{operationId}":{"get":{"tags":["JobOperationResults"],"description":"Fetches the result of any operation.\r\n            the operation.","operationId":"JobOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"Job name whose operation result has to be fetched.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"OperationID which represents the operation whose result has to be fetched.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"204":{"description":"NoContent"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobsExport":{"post":{"tags":["Jobs"],"description":"Triggers export of jobs specified by filters and returns an OperationID to track.","operationId":"Jobs_Export","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter options.","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperationResults/{operationId}":{"get":{"tags":["BackupOperationResults"],"description":"Provides the status of the delete operations such as deleting backed up item. Once the operation has started, the status code in the response would be Accepted. It will continue to be in this state till it reaches completion. On successful completion, the status code will be OK. This method expects OperationID as an argument. OperationID is part of the Location header of the operation response.","operationId":"BackupOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"OperationID which represents the operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"204":{"description":"NoContent"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperations/{operationId}":{"get":{"tags":["BackupOperationStatuses"],"description":"Fetches the status of an operation such as triggering a backup, restore. The status can be in progress, completed or failed. You can refer to the OperationStatus enum for all the possible states of an operation. Some operations create jobs. This method returns the list of jobs when the operation is complete.","operationId":"BackupOperationStatuses_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"OperationID which represents the operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationStatus"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies":{"get":{"tags":["BackupPolicies"],"description":"Lists of backup policies associated with Recovery Services Vault. API provides pagination parameters to fetch scoped results.","operationId":"BackupPolicies_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter options.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionPolicyResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}":{"get":{"tags":["ProtectionPolicies"],"description":"Provides the details of the backup policies associated to Recovery Services Vault. This is an asynchronous operation. Status of the operation can be fetched using GetPolicyOperationResult API.","operationId":"ProtectionPolicies_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"policyName","in":"path","description":"Backup policy information to be fetched.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionPolicyResource"}}}}},"deprecated":false},"put":{"tags":["ProtectionPolicies"],"description":"Creates or modifies a backup policy. This is an asynchronous operation. Status of the operation can be fetched using GetPolicyOperationResult API.","operationId":"ProtectionPolicies_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"policyName","in":"path","description":"Backup policy to be created.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"resource backup policy","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionPolicyResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionPolicyResource"}}}},"202":{"description":"Accepted"}},"deprecated":false},"delete":{"tags":["ProtectionPolicies"],"description":"Deletes specified backup policy from your Recovery Services Vault. This is an asynchronous operation. Status of the operation can be fetched using GetPolicyOperationResult API.","operationId":"ProtectionPolicies_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"policyName","in":"path","description":"Backup policy to be deleted.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"NoContent"}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operationResults/{operationId}":{"get":{"tags":["ProtectionPolicyOperationResults"],"description":"Provides the result of an operation.","operationId":"ProtectionPolicyOperationResults_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"policyName","in":"path","description":"Backup policy name whose operation's result needs to be fetched.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"Operation ID which represents the operation whose result needs to be fetched.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionPolicyResource"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operations/{operationId}":{"get":{"tags":["ProtectionPolicyOperationStatuses"],"description":"Provides the status of the asynchronous operations like backup, restore. The status can be in progress, completed or failed. You can refer to the Operation Status enum for all the possible states of an operation. Some operations create jobs. This method returns the list of jobs associated with operation.","operationId":"ProtectionPolicyOperationStatuses_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"policyName","in":"path","description":"Backup policy name whose operation's status needs to be fetched.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"Operation ID which represents an operation whose status needs to be fetched.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationStatus"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectableItems":{"get":{"tags":["BackupProtectableItems"],"description":"Provides a pageable list of protectable objects within your subscription according to the query filter and the pagination parameters.","operationId":"BackupProtectableItems_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter options.","schema":{"type":"string"}},{"name":"$skipToken","in":"query","description":"skipToken Filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkloadProtectableItemResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems":{"get":{"tags":["BackupProtectedItems"],"description":"Provides a pageable list of all items that are backed up within a vault.","operationId":"BackupProtectedItems_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter options.","schema":{"type":"string"}},{"name":"$skipToken","in":"query","description":"skipToken Filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectedItemResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectionContainers":{"get":{"tags":["BackupProtectionContainers"],"description":"Lists the containers registered to Recovery Services Vault.","operationId":"BackupProtectionContainers_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter options.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProtectionContainerResourceList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupSecurityPIN":{"post":{"tags":["SecurityPINs"],"description":"Get the security PIN.","operationId":"SecurityPINs_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenInformation"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupUsageSummaries":{"get":{"tags":["BackupUsageSummaries"],"description":"Fetches the backup management usage summaries of the vault.","operationId":"BackupUsageSummaries_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter options.","schema":{"type":"string"}},{"name":"$skipToken","in":"query","description":"skipToken Filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupManagementUsageList"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig":{"get":{"tags":["BackupResourceVaultConfigs"],"description":"Fetches resource vault config.","operationId":"BackupResourceVaultConfigs_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupResourceVaultConfigResource"}}}}},"deprecated":false},"patch":{"tags":["BackupResourceVaultConfigs"],"description":"Updates vault security config.","operationId":"BackupResourceVaultConfigs_Update","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"resource config request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupResourceVaultConfigResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupResourceVaultConfigResource"}}}}},"deprecated":false}},"/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig":{"get":{"tags":["BackupResourceStorageConfigs"],"description":"Fetches resource storage config.","operationId":"BackupResourceStorageConfigs_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupResourceConfigResource"}}}}},"deprecated":false},"patch":{"tags":["BackupResourceStorageConfigs"],"description":"Updates vault storage model type.","operationId":"BackupResourceStorageConfigs_Update","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the recovery services vault.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group where the recovery services vault is present.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription Id.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"NoContent"}},"deprecated":false}}},"components":{"schemas":{"AzureBackupServerContainer":{"properties":{"DPMServers":{"type":"array","description":"List of BackupEngines protecting the container","items":{"type":"string"}},"UpgradeAvailable":{"type":"boolean","description":"To check if upgrade available"},"canReRegister":{"type":"boolean","description":"Specifies whether the container is re-registrable."},"containerId":{"type":"string","description":"ID of container."},"dpmAgentVersion":{"type":"string","description":"Backup engine Agent version"},"extendedInfo":{"$ref":"#/components/schemas/DPMContainerExtendedInfo"},"protectedItemCount":{"type":"integer","description":"Number of protected items in the BackupEngine","format":"int64"},"protectionStatus":{"type":"string","description":"Protection status of the container."}},"description":"AzureBackupServer (DPMVenus) workload-specific protection container.","allOf":[{"$ref":"#/components/schemas/ProtectionContainer"}]},"AzureBackupServerEngine":{"description":"Backup engine type when Azure Backup Server is used to manage the backups.","allOf":[{"$ref":"#/components/schemas/BackupEngineBase"}]},"AzureIaaSClassicComputeVMContainer":{"description":"IaaS VM workload-specific backup item representing a classic virtual machine.","allOf":[{"$ref":"#/components/schemas/IaaSVMContainer"}]},"AzureIaaSClassicComputeVMProtectableItem":{"description":"IaaS VM workload-specific backup item representing the Classic Compute VM.","allOf":[{"$ref":"#/components/schemas/IaaSVMProtectableItem"}]},"AzureIaaSClassicComputeVMProtectedItem":{"description":"IaaS VM workload-specific backup item representing the Classic Compute VM.","allOf":[{"$ref":"#/components/schemas/AzureIaaSVMProtectedItem"}]},"AzureIaaSComputeVMContainer":{"description":"IaaS VM workload-specific backup item representing an Azure Resource Manager virtual machine.","allOf":[{"$ref":"#/components/schemas/IaaSVMContainer"}]},"AzureIaaSComputeVMProtectableItem":{"description":"IaaS VM workload-specific backup item representing the Azure Resource Manager VM.","allOf":[{"$ref":"#/components/schemas/IaaSVMProtectableItem"}]},"AzureIaaSComputeVMProtectedItem":{"description":"IaaS VM workload-specific backup item representing the Azure Resource Manager VM.","allOf":[{"$ref":"#/components/schemas/AzureIaaSVMProtectedItem"}]},"AzureIaaSVMHealthDetails":{"type":"object","properties":{"code":{"type":"integer","description":"Health Code","format":"int32"},"message":{"type":"string","description":"Health Message"},"recommendations":{"type":"array","description":"Health Recommended Actions","items":{"type":"string"}},"title":{"type":"string","description":"Health Title"}},"description":"Azure IaaS VM workload-specific Health Details."},"AzureIaaSVMProtectedItem":{"properties":{"extendedInfo":{"$ref":"#/components/schemas/AzureIaaSVMProtectedItemExtendedInfo"},"friendlyName":{"type":"string","description":"Friendly name of the VM represented by this backup item."},"healthDetails":{"type":"array","description":"Health details on this backup item.","items":{"$ref":"#/components/schemas/AzureIaaSVMHealthDetails"}},"healthStatus":{"type":"string","description":"Health status of protected item","enum":["Passed","ActionRequired","ActionSuggested","Invalid"]},"lastBackupStatus":{"type":"string","description":"Last backup operation status. Possible values: Healthy, Unhealthy."},"lastBackupTime":{"type":"string","description":"Timestamp of the last backup operation on this backup item.","format":"date-time"},"protectedItemDataId":{"type":"string","description":"Data ID of the protected item."},"protectionState":{"type":"string","description":"Backup state of this backup item.","enum":["Invalid","IRPending","Protected","ProtectionError","ProtectionStopped","ProtectionPaused"]},"protectionStatus":{"type":"string","description":"Backup status of this backup item."},"virtualMachineId":{"type":"string","description":"Fully qualified ARM ID of the virtual machine represented by this item."}},"description":"IaaS VM workload-specific backup item.","allOf":[{"$ref":"#/components/schemas/ProtectedItem"}]},"AzureIaaSVMProtectedItemExtendedInfo":{"type":"object","properties":{"oldestRecoveryPoint":{"type":"string","description":"The oldest backup copy available for this backup item.","format":"date-time"},"policyInconsistent":{"type":"boolean","description":"Specifies if backup policy associated with the backup item is inconsistent."},"recoveryPointCount":{"type":"integer","description":"Number of backup copies available for this backup item.","format":"int32"}},"description":"Additional information on Azure IaaS VM specific backup item."},"AzureIaaSVMProtectionPolicy":{"properties":{"retentionPolicy":{"$ref":"#/components/schemas/RetentionPolicy"},"schedulePolicy":{"$ref":"#/components/schemas/SchedulePolicy"},"timeZone":{"type":"string","description":"TimeZone optional input as string. For example: TimeZone = \"Pacific Standard Time\"."}},"description":"IaaS VM workload-specific backup policy.","allOf":[{"$ref":"#/components/schemas/ProtectionPolicy"}]},"AzureSqlContainer":{"description":"Azure Sql workload-specific container.","allOf":[{"$ref":"#/components/schemas/ProtectionContainer"}]},"AzureSqlProtectedItem":{"properties":{"extendedInfo":{"$ref":"#/components/schemas/AzureSqlProtectedItemExtendedInfo"},"protectedItemDataId":{"type":"string","description":"Internal ID of a backup item. Used by Azure SQL Backup engine to contact Recovery Services."},"protectionState":{"type":"string","description":"Backup state of the backed up item.","enum":["Invalid","IRPending","Protected","ProtectionError","ProtectionStopped","ProtectionPaused"]}},"description":"Azure SQL workload-specific backup item.","allOf":[{"$ref":"#/components/schemas/ProtectedItem"}]},"AzureSqlProtectedItemExtendedInfo":{"type":"object","properties":{"oldestRecoveryPoint":{"type":"string","description":"The oldest backup copy available for this item in the service.","format":"date-time"},"policyState":{"type":"string","description":"State of the backup policy associated with this backup item."},"recoveryPointCount":{"type":"integer","description":"Number of available backup copies associated with this backup item.","format":"int32"}},"description":"Additional information on Azure Sql specific protected item."},"AzureSqlProtectionPolicy":{"properties":{"retentionPolicy":{"$ref":"#/components/schemas/RetentionPolicy"}},"description":"Azure SQL workload-specific backup policy.","allOf":[{"$ref":"#/components/schemas/ProtectionPolicy"}]},"BEKDetails":{"type":"object","properties":{"secretData":{"type":"string","description":"BEK data."},"secretUrl":{"type":"string","description":"Secret is BEK."},"secretVaultId":{"type":"string","description":"ID of the Key Vault where this Secret is stored."}},"description":"BEK is bitlocker encrpytion key."},"BMSBackupEngineQueryObject":{"type":"object","properties":{"expand":{"type":"string","description":"attribute to add extended info"}},"description":"Query parameters to fetch list of backup engines."},"BMSBackupEnginesQueryObject":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"Backup management type for the backup engine.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"expand":{"type":"string","description":"Attribute to add extended info."},"friendlyName":{"type":"string","description":"Friendly name of the backup engine."}},"description":"Query parameters to fetch list of backup engines."},"BMSBackupSummariesQueryObject":{"type":"object","properties":{"type":{"type":"string","description":"Backup management type for this container.","enum":["Invalid","BackupProtectedItemCountSummary","BackupProtectionContainerCountSummary"]}},"description":"Query parameters to fetch backup summaries."},"BMSContainerQueryObject":{"required":["backupManagementType"],"type":"object","properties":{"backupEngineName":{"type":"string","description":"Backup engine name"},"backupManagementType":{"type":"string","description":"Backup management type for this container.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"containerType":{"type":"string","description":"Type of container for filter","enum":["Invalid","Unknown","IaasVMContainer","IaasVMServiceContainer","DPMContainer","AzureBackupServerContainer","MABContainer","Cluster","AzureSqlContainer","Windows","VCenter"]},"friendlyName":{"type":"string","description":"Friendly name of this container."},"status":{"type":"string","description":"Status of registration of this container with the Recovery Services Vault."}},"description":"The query filters that can be used with the list containers API."},"BMSPOQueryObject":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"Backup management type.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"friendlyName":{"type":"string","description":"Friendly name."},"status":{"type":"string","description":"Backup status query parameter."}},"description":"Filters to list items that can be backed up."},"BMSRPQueryObject":{"type":"object","properties":{"endDate":{"type":"string","description":"Backup copies created before this time.","format":"date-time"},"startDate":{"type":"string","description":"Backup copies created after this time.","format":"date-time"}},"description":"Filters to list backup copies."},"BackupEngineBase":{"type":"object","properties":{"azureBackupAgentVersion":{"type":"string","description":"Backup agent version"},"backupEngineId":{"type":"string","description":"ID of the backup engine."},"backupEngineState":{"type":"string","description":"Status of the backup engine with the Recovery Services Vault. = {Active/Deleting/DeleteFailed}"},"backupEngineType":{"type":"string","description":"Type of the backup engine.","enum":["Invalid","DpmBackupEngine","AzureBackupServerEngine"]},"backupManagementType":{"type":"string","description":"Type of backup management for the backup engine.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"canReRegister":{"type":"boolean","description":"Flag indicating if the backup engine be registered, once already registered."},"dpmVersion":{"type":"string","description":"Backup engine version"},"extendedInfo":{"$ref":"#/components/schemas/BackupEngineExtendedInfo"},"friendlyName":{"type":"string","description":"Friendly name of the backup engine."},"healthStatus":{"type":"string","description":"Backup status of the backup engine."},"isAzureBackupAgentUpgradeAvailable":{"type":"boolean","description":"To check if backup agent upgrade available"},"isDPMUpgradeAvailable":{"type":"boolean","description":"To check if backup engine upgrade available"},"registrationStatus":{"type":"string","description":"Registration status of the backup engine with the Recovery Services Vault."}},"description":"The base backup engine class. All workload specific backup engines derive from this class.","discriminator":{"propertyName":"backupEngineType"}},"BackupEngineBaseResource":{"properties":{"properties":{"$ref":"#/components/schemas/BackupEngineBase"}},"description":"The base backup engine class. All workload specific backup engines derive from this class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"BackupEngineBaseResourceList":{"properties":{"value":{"type":"array","description":"List of resources.","items":{"$ref":"#/components/schemas/BackupEngineBaseResource"}}},"description":"List of BackupEngineBase resources","allOf":[{"$ref":"#/components/schemas/ResourceList"}]},"BackupEngineExtendedInfo":{"type":"object","properties":{"availableDiskSpace":{"type":"number","description":"Diskspace currently available in the backup engine.","format":"double"},"azureProtectedInstances":{"type":"integer","description":"Protected instances in the backup engine.","format":"int32"},"databaseName":{"type":"string","description":"Database name of backup engine."},"diskCount":{"type":"integer","description":"Number of disks in the backup engine.","format":"int32"},"protectedItemsCount":{"type":"integer","description":"Number of protected items in the backup engine.","format":"int32"},"protectedServersCount":{"type":"integer","description":"Number of protected servers in the backup engine.","format":"int32"},"refreshedAt":{"type":"string","description":"Last refresh time in the backup engine.","format":"date-time"},"usedDiskSpace":{"type":"number","description":"Diskspace used in the backup engine.","format":"double"}},"description":"Additional information on backup engine."},"BackupManagementUsage":{"type":"object","properties":{"currentValue":{"type":"integer","description":"Current value of usage.","format":"int64"},"limit":{"type":"integer","description":"Limit of usage.","format":"int64"},"name":{"$ref":"#/components/schemas/NameInfo"},"nextResetTime":{"type":"string","description":"Next reset time of usage.","format":"date-time"},"quotaPeriod":{"type":"string","description":"Quota period of usage."},"unit":{"type":"string","description":"Unit of the usage.","enum":["Count","Bytes","Seconds","Percent","CountPerSecond","BytesPerSecond"]}},"description":"Backup management usages of a vault."},"BackupManagementUsageList":{"type":"object","properties":{"value":{"type":"array","description":"The list of backup management usages for the given vault.","items":{"$ref":"#/components/schemas/BackupManagementUsage"}}},"description":"Backup management usage for vault."},"BackupRequest":{"required":["objectType"],"type":"object","properties":{"objectType":{"type":"string","description":"This property will be used as the discriminator for deciding the specific types in the polymorhpic chain of types."}},"description":"Base class for backup request. Workload-specific backup requests are derived from this class.","discriminator":{"propertyName":"objectType"}},"BackupRequestResource":{"properties":{"properties":{"$ref":"#/components/schemas/BackupRequest"}},"description":"Base class for backup request. Workload-specific backup requests are derived from this class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"BackupResourceConfig":{"type":"object","properties":{"storageType":{"type":"string","description":"Storage type.","enum":["Invalid","GeoRedundant","LocallyRedundant"]},"storageTypeState":{"type":"string","description":"Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked.","enum":["Invalid","Locked","Unlocked"]}},"description":"The resource storage details."},"BackupResourceConfigResource":{"properties":{"properties":{"$ref":"#/components/schemas/BackupResourceConfig"}},"description":"The resource storage details.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"BackupResourceVaultConfig":{"type":"object","properties":{"enhancedSecurityState":{"type":"string","description":"Enabled or Disabled.","enum":["Invalid","Enabled","Disabled"]},"storageType":{"type":"string","description":"Storage type.","enum":["Invalid","GeoRedundant","LocallyRedundant"]},"storageTypeState":{"type":"string","description":"Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked.","enum":["Invalid","Locked","Unlocked"]}},"description":"Backup resource vault config details."},"BackupResourceVaultConfigResource":{"properties":{"properties":{"$ref":"#/components/schemas/BackupResourceVaultConfig"}},"description":"Backup resource vault config details.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ClientScriptForConnect":{"type":"object","properties":{"osType":{"type":"string","description":"OS type - Windows, Linux etc. for which this file / folder restore client script works."},"scriptContent":{"type":"string","description":"File content of the client script for file / folder restore."},"scriptExtension":{"type":"string","description":"File extension of the client script for file / folder restore - .ps1 , .sh , etc."},"scriptNameSuffix":{"type":"string","description":"Mandator suffix that should be added to the name of script that is given for download to user.\r\n            If its null or empty then , ignore it."},"url":{"type":"string","description":"URL of Executable from where to source the content. If this is not null then ScriptContent should not be used"}},"description":"Client script details for file / folder restore."},"DPMContainerExtendedInfo":{"type":"object","properties":{"lastRefreshedAt":{"type":"string","description":"Last refresh time of the DPMContainer.","format":"date-time"}},"description":"Additional information of the DPMContainer."},"DPMProtectedItem":{"properties":{"backupEngineName":{"type":"string","description":"Backup Management server protecting this backup item"},"extendedInfo":{"$ref":"#/components/schemas/DPMProtectedItemExtendedInfo"},"friendlyName":{"type":"string","description":"Friendly name of the managed item"},"isScheduledForDeferredDelete":{"type":"boolean","description":"To check if backup item is scheduled for deferred delete"},"protectionState":{"type":"string","description":"Protection state of the backupengine","enum":["Invalid","IRPending","Protected","ProtectionError","ProtectionStopped","ProtectionPaused"]}},"description":"Additional information on Backup engine specific backup item.","allOf":[{"$ref":"#/components/schemas/ProtectedItem"}]},"DPMProtectedItemExtendedInfo":{"type":"object","properties":{"diskStorageUsedInBytes":{"type":"string","description":"Used Disk storage in bytes."},"isCollocated":{"type":"boolean","description":"To check if backup item is collocated."},"isPresentOnCloud":{"type":"boolean","description":"To check if backup item is cloud protected."},"lastBackupStatus":{"type":"string","description":"Last backup status information on backup item."},"lastRefreshedAt":{"type":"string","description":"Last refresh time on backup item.","format":"date-time"},"oldestRecoveryPoint":{"type":"string","description":"Oldest cloud recovery point time.","format":"date-time"},"onPremiseLatestRecoveryPoint":{"type":"string","description":"latest disk recovery point time.","format":"date-time"},"onPremiseOldestRecoveryPoint":{"type":"string","description":"Oldest disk recovery point time.","format":"date-time"},"onPremiseRecoveryPointCount":{"type":"integer","description":"disk recovery point count.","format":"int32"},"protectableObjectLoadPath":{"type":"object","additionalProperties":{"type":"string"},"description":"Attribute to provide information on various DBs."},"protected":{"type":"boolean","description":"To check if backup item is disk protected."},"protectionGroupName":{"type":"string","description":"Protection group name of the backup item."},"recoveryPointCount":{"type":"integer","description":"cloud recovery point count.","format":"int32"},"totalDiskStorageSizeInBytes":{"type":"string","description":"total Disk storage in bytes."}},"description":"Additional information of DPM Protected item."},"DailyRetentionFormat":{"type":"object","properties":{"daysOfTheMonth":{"type":"array","description":"List of days of the month.","items":{"$ref":"#/components/schemas/Day"}}},"description":"Daily retention format."},"DailyRetentionSchedule":{"type":"object","properties":{"retentionDuration":{"$ref":"#/components/schemas/RetentionDuration"},"retentionTimes":{"type":"array","description":"Retention times of retention policy.","items":{"type":"string","format":"date-time"}}},"description":"Daily retention schedule."},"Day":{"type":"object","properties":{"date":{"type":"integer","description":"Date of the month","format":"int32"},"isLast":{"type":"boolean","description":"Whether Date is last date of month"}},"description":"Day of the week."},"DpmBackupEngine":{"description":"Data Protection Manager (DPM) specific backup engine.","allOf":[{"$ref":"#/components/schemas/BackupEngineBase"}]},"DpmContainer":{"properties":{"DPMServers":{"type":"array","description":"List of BackupEngines protecting the container","items":{"type":"string"}},"UpgradeAvailable":{"type":"boolean","description":"To check if upgrade available"},"canReRegister":{"type":"boolean","description":"Specifies whether the container is re-registrable."},"containerId":{"type":"string","description":"ID of container."},"dpmAgentVersion":{"type":"string","description":"Backup engine Agent version"},"extendedInfo":{"$ref":"#/components/schemas/DPMContainerExtendedInfo"},"protectedItemCount":{"type":"integer","description":"Number of protected items in the BackupEngine","format":"int64"},"protectionStatus":{"type":"string","description":"Protection status of the container."}},"description":"DPM workload-specific protection container.","allOf":[{"$ref":"#/components/schemas/ProtectionContainer"}]},"EncryptionDetails":{"type":"object","properties":{"encryptionEnabled":{"type":"boolean","description":"Identifies whether this backup copy represents an encrypted VM at the time of backup."},"kekUrl":{"type":"string","description":"Key Url."},"kekVaultId":{"type":"string","description":"ID of Key Vault where KEK is stored."},"secretKeyUrl":{"type":"string","description":"Secret Url."},"secretKeyVaultId":{"type":"string","description":"ID of Key Vault where Secret is stored."}},"description":"Details needed if the VM was encrypted at the time of backup."},"ExportJobsOperationResultInfo":{"properties":{"blobSasKey":{"type":"string","description":"SAS key to access the blob. It expires in 15 mins."},"blobUrl":{"type":"string","description":"URL of the blob into which the serialized string of list of jobs is exported."}},"description":"This class is used to send blob details after exporting jobs.","allOf":[{"$ref":"#/components/schemas/OperationResultInfoBase"}]},"GenericRecoveryPoint":{"properties":{"friendlyName":{"type":"string","description":"Friendly name of the backup copy."},"recoveryPointAdditionalInfo":{"type":"string","description":"Additional information associated with this backup copy."},"recoveryPointTime":{"type":"string","description":"Time at which this backup copy was created.","format":"date-time"},"recoveryPointType":{"type":"string","description":"Type of the backup copy."}},"description":"Generic backup copy.","allOf":[{"$ref":"#/components/schemas/RecoveryPoint"}]},"GetProtectedItemQueryObject":{"type":"object","properties":{"expand":{"type":"string","description":"Specifies if the additional information should be provided for this item."}},"description":"Filters to list backup items."},"ILRRequest":{"required":["objectType"],"type":"object","properties":{"objectType":{"type":"string","description":"This property will be used as the discriminator for deciding the specific types in the polymorhpic chain of types."}},"description":"Parameters to restore file/folders API.","discriminator":{"propertyName":"objectType"}},"ILRRequestResource":{"properties":{"properties":{"$ref":"#/components/schemas/ILRRequest"}},"description":"Parameters to restore file/folders API.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"IaaSVMContainer":{"properties":{"resourceGroup":{"type":"string","description":"Resource group name of Recovery Services Vault."},"virtualMachineId":{"type":"string","description":"Fully qualified ARM url of the virtual machine represented by this Azure IaaS VM container."},"virtualMachineVersion":{"type":"string","description":"Specifies whether the container represents a Classic or an Azure Resource Manager VM."}},"description":"IaaS VM workload-specific container.","allOf":[{"$ref":"#/components/schemas/ProtectionContainer"}]},"IaaSVMProtectableItem":{"properties":{"virtualMachineId":{"type":"string","description":"Fully qualified ARM ID of the virtual machine."}},"description":"IaaS VM workload-specific backup item.","allOf":[{"$ref":"#/components/schemas/WorkloadProtectableItem"}]},"IaasVMBackupRequest":{"properties":{"recoveryPointExpiryTimeInUTC":{"type":"string","description":"Backup copy will expire after the time specified (UTC).","format":"date-time"}},"description":"IaaS VM workload-specific backup request.","allOf":[{"$ref":"#/components/schemas/BackupRequest"}]},"IaasVMILRRegistrationRequest":{"properties":{"initiatorName":{"type":"string","description":"iSCSI initiator name."},"recoveryPointId":{"type":"string","description":"ID of the IaaS VM backup copy from where the files/folders have to be restored."},"renewExistingRegistration":{"type":"boolean","description":"Whether to renew existing registration with the iSCSI server."},"virtualMachineId":{"type":"string","description":"Fully qualified ARM ID of the virtual machine whose the files / folders have to be restored."}},"description":"Restore files/folders from a backup copy of IaaS VM.","allOf":[{"$ref":"#/components/schemas/ILRRequest"}]},"IaasVMRecoveryPoint":{"properties":{"isInstantILRSessionActive":{"type":"boolean","description":"Is the session to recover items from this backup copy still active."},"isManagedVirtualMachine":{"type":"boolean","description":"Whether VM is with Managed Disks"},"isSourceVMEncrypted":{"type":"boolean","description":"Identifies whether the VM was encrypted when the backup copy is created."},"keyAndSecret":{"$ref":"#/components/schemas/KeyAndSecretDetails"},"originalStorageAccountOption":{"type":"boolean","description":"Original SA Option"},"recoveryPointAdditionalInfo":{"type":"string","description":"Additional information associated with this backup copy."},"recoveryPointTierDetails":{"type":"array","description":"Recovery point tier information.","items":{"$ref":"#/components/schemas/RecoveryPointTierInformation"}},"recoveryPointTime":{"type":"string","description":"Time at which this backup copy was created.","format":"date-time"},"recoveryPointType":{"type":"string","description":"Type of the backup copy."},"sourceVMStorageType":{"type":"string","description":"Storage type of the VM whose backup copy is created."},"virtualMachineSize":{"type":"string","description":"Virtual Machine Size"}},"description":"IaaS VM workload specific backup copy.","allOf":[{"$ref":"#/components/schemas/RecoveryPoint"}]},"IaasVMRestoreRequest":{"properties":{"affinityGroup":{"type":"string","description":"Affinity group associated to VM to be restored. Used only for Classic Compute Virtual Machines."},"createNewCloudService":{"type":"boolean","description":"Should a new cloud service be created while restoring the VM. If this is false, VM will be restored to the same cloud service as it was at the time of backup."},"encryptionDetails":{"$ref":"#/components/schemas/EncryptionDetails"},"originalStorageAccountOption":{"type":"boolean"},"recoveryPointId":{"type":"string","description":"ID of the backup copy to be recovered."},"recoveryType":{"type":"string","description":"Type of this recovery.","enum":["Invalid","OriginalLocation","AlternateLocation","RestoreDisks"]},"region":{"type":"string","description":"Region in which the virtual machine is restored."},"sourceResourceId":{"type":"string","description":"Fully qualified ARM ID of the VM which is being recovered."},"storageAccountId":{"type":"string","description":"Fully qualified ARM ID of the storage account to which the VM has to be restored."},"subnetId":{"type":"string","description":"Subnet ID, is the subnet ID associated with the to be restored VM. For Classic VMs it would be {VnetID}/Subnet/{SubnetName} and, for the Azure Resource Manager VMs it would be ARM resource ID used to represent the subnet."},"targetDomainNameId":{"type":"string","description":"Fully qualified ARM ID of the domain name to be associated to the VM being restored. This applies only to Classic Virtual Machines."},"targetResourceGroupId":{"type":"string","description":"This is the ARM Id of the resource group that you want to create for this Virtual machine and other artifacts.\r\n            For e.g. /subscriptions/{subId}/resourcegroups/{rg}"},"targetVirtualMachineId":{"type":"string","description":"This is the complete ARM Id of the VM that will be created.\r\n            For e.g. /subscriptions/{subId}/resourcegroups/{rg}/provider/Microsoft.Compute/virtualmachines/{vm}"},"virtualNetworkId":{"type":"string","description":"This is the virtual network Id of the vnet that will be attached to the virtual machine.\r\n            User will be validated for join action permissions in the linked access."}},"description":"IaaS VM workload-specific restore.","allOf":[{"$ref":"#/components/schemas/RestoreRequest"}]},"InstantItemRecoveryTarget":{"type":"object","properties":{"clientScripts":{"type":"array","description":"List of client scripts.","items":{"$ref":"#/components/schemas/ClientScriptForConnect"}}},"description":"Target details for file / folder restore."},"JobQueryObject":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"Type of backup managmenent for the job.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"endTime":{"type":"string","description":"Job has ended at this time. Value is in UTC.","format":"date-time"},"jobId":{"type":"string","description":"JobID represents the job uniquely."},"operation":{"type":"string","description":"Type of operation.","enum":["Invalid","Register","UnRegister","ConfigureBackup","Backup","Restore","DisableBackup","DeleteBackupData"]},"startTime":{"type":"string","description":"Job has started at this time. Value is in UTC.","format":"date-time"},"status":{"type":"string","description":"Status of the job.","enum":["Invalid","InProgress","Completed","Failed","CompletedWithWarnings","Cancelled","Cancelling"]}},"description":"Filters to list the jobs."},"KEKDetails":{"type":"object","properties":{"keyBackupData":{"type":"string","description":"KEK data."},"keyUrl":{"type":"string","description":"Key is KEK."},"keyVaultId":{"type":"string","description":"Key Vault ID where this Key is stored."}},"description":"KEK is encryption key for BEK."},"KeyAndSecretDetails":{"type":"object","properties":{"bekDetails":{"$ref":"#/components/schemas/BEKDetails"},"kekDetails":{"$ref":"#/components/schemas/KEKDetails"}},"description":"BEK is bitlocker key.\r\n            KEK is encryption key for BEK\r\n            If the VM was encrypted then we will store follwing details :\r\n            1. Secret(BEK) - Url + Backup Data + vaultId.\r\n            2. Key(KEK) - Url + Backup Data + vaultId.\r\n            BEK and KEK can potentiallty have different vault ids."},"LongTermRetentionPolicy":{"properties":{"dailySchedule":{"$ref":"#/components/schemas/DailyRetentionSchedule"},"monthlySchedule":{"$ref":"#/components/schemas/MonthlyRetentionSchedule"},"weeklySchedule":{"$ref":"#/components/schemas/WeeklyRetentionSchedule"},"yearlySchedule":{"$ref":"#/components/schemas/YearlyRetentionSchedule"}},"description":"Long term retention policy.","allOf":[{"$ref":"#/components/schemas/RetentionPolicy"}]},"LongTermSchedulePolicy":{"description":"Long term policy schedule.","allOf":[{"$ref":"#/components/schemas/SchedulePolicy"}]},"MabContainer":{"properties":{"agentVersion":{"type":"string","description":"Agent version of this container."},"canReRegister":{"type":"boolean","description":"Can the container be registered one more time."},"containerId":{"type":"integer","description":"ContainerID represents the container.","format":"int64"},"extendedInfo":{"$ref":"#/components/schemas/MabContainerExtendedInfo"},"protectedItemCount":{"type":"integer","description":"Number of items backed up in this container.","format":"int64"}},"description":"Container with items backed up using MAB backup engine.","allOf":[{"$ref":"#/components/schemas/ProtectionContainer"}]},"MabContainerExtendedInfo":{"type":"object","properties":{"backupItemType":{"type":"string","description":"Type of backup items associated with this container.","enum":["Invalid","VM","FileFolder","AzureSqlDb","SQLDB","Exchange","Sharepoint","VMwareVM","SystemState","Client","GenericDataSource"]},"backupItems":{"type":"array","description":"List of backup items associated with this container.","items":{"type":"string"}},"lastBackupStatus":{"type":"string","description":"Latest backup status of this container."},"lastRefreshedAt":{"type":"string","description":"Time stamp when this container was refreshed.","format":"date-time"},"policyName":{"type":"string","description":"Backup policy associated with this container."}},"description":"Additional information of the container."},"MabFileFolderProtectedItem":{"properties":{"computerName":{"type":"string","description":"Name of the computer associated with this backup item."},"deferredDeleteSyncTimeInUTC":{"type":"integer","description":"Sync time for deferred deletion.","format":"int64"},"extendedInfo":{"$ref":"#/components/schemas/MabFileFolderProtectedItemExtendedInfo"},"friendlyName":{"type":"string","description":"Friendly name of this backup item."},"isScheduledForDeferredDelete":{"type":"boolean","description":"Specifies if the item is scheduled for deferred deletion."},"lastBackupStatus":{"type":"string","description":"Status of last backup operation."},"protectionState":{"type":"string","description":"Protected, ProtectionStopped, IRPending or ProtectionError"}},"description":"MAB workload-specific backup item.","allOf":[{"$ref":"#/components/schemas/ProtectedItem"}]},"MabFileFolderProtectedItemExtendedInfo":{"type":"object","properties":{"lastRefreshedAt":{"type":"string","description":"Last time when the agent data synced to service.","format":"date-time"},"oldestRecoveryPoint":{"type":"string","description":"The oldest backup copy available.","format":"date-time"},"recoveryPointCount":{"type":"integer","description":"Number of backup copies associated with the backup item.","format":"int32"}},"description":"Additional information on the backed up item."},"MabProtectionPolicy":{"properties":{"retentionPolicy":{"$ref":"#/components/schemas/RetentionPolicy"},"schedulePolicy":{"$ref":"#/components/schemas/SchedulePolicy"}},"description":"Mab container-specific backup policy.","allOf":[{"$ref":"#/components/schemas/ProtectionPolicy"}]},"MonthlyRetentionSchedule":{"type":"object","properties":{"retentionDuration":{"$ref":"#/components/schemas/RetentionDuration"},"retentionScheduleDaily":{"$ref":"#/components/schemas/DailyRetentionFormat"},"retentionScheduleFormatType":{"type":"string","description":"Retention schedule format type for monthly retention policy.","enum":["Invalid","Daily","Weekly"]},"retentionScheduleWeekly":{"$ref":"#/components/schemas/WeeklyRetentionFormat"},"retentionTimes":{"type":"array","description":"Retention times of retention policy.","items":{"type":"string","format":"date-time"}}},"description":"Monthly retention schedule."},"NameInfo":{"type":"object","properties":{"localizedValue":{"type":"string","description":"Localized value of usage."},"value":{"type":"string","description":"Value of usage."}},"description":"The name of usage."},"Object":{"type":"object","description":"Base of all objects."},"OperationResultInfo":{"properties":{"jobList":{"type":"array","description":"List of jobs created by this operation.","items":{"type":"string"}}},"description":"Operation result info.","allOf":[{"$ref":"#/components/schemas/OperationResultInfoBase"}]},"OperationResultInfoBase":{"required":["objectType"],"type":"object","properties":{"objectType":{"type":"string","description":"This property will be used as the discriminator for deciding the specific types in the polymorhpic chain of types."}},"description":"Base class for operation result info.","discriminator":{"propertyName":"objectType"}},"OperationResultInfoBaseResource":{"properties":{"operation":{"$ref":"#/components/schemas/OperationResultInfoBase"}},"description":"Base class for operation result info.","allOf":[{"$ref":"#/components/schemas/OperationWorkerResponse"}]},"OperationStatus":{"type":"object","properties":{"endTime":{"type":"string","description":"Operation end time. Format: ISO-8601.","format":"date-time"},"error":{"$ref":"#/components/schemas/OperationStatusError"},"id":{"type":"string","description":"ID of the operation."},"name":{"type":"string","description":"Name of the operation."},"properties":{"$ref":"#/components/schemas/OperationStatusExtendedInfo"},"startTime":{"type":"string","description":"Operation start time. Format: ISO-8601.","format":"date-time"},"status":{"type":"string","description":"Operation status.","enum":["Invalid","InProgress","Succeeded","Failed","Canceled"]}},"description":"Operation status."},"OperationStatusError":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the operation failure."},"message":{"type":"string","description":"Error message displayed if the operation failure."}},"description":"Error information associated with operation status call."},"OperationStatusExtendedInfo":{"required":["objectType"],"type":"object","properties":{"objectType":{"type":"string","description":"This property will be used as the discriminator for deciding the specific types in the polymorhpic chain of types."}},"description":"Base class for additional information of operation status.","discriminator":{"propertyName":"objectType"}},"OperationStatusJobExtendedInfo":{"properties":{"jobId":{"type":"string","description":"ID of the job created for this protected item."}},"description":"Operation status job extended info.","allOf":[{"$ref":"#/components/schemas/OperationStatusExtendedInfo"}]},"OperationStatusJobsExtendedInfo":{"properties":{"failedJobsError":{"type":"object","additionalProperties":{"type":"string"},"description":"Stores all the failed jobs along with the corresponding error codes."},"jobIds":{"type":"array","description":"IDs of the jobs created for the protected item.","items":{"type":"string"}}},"description":"Operation status extended info for list of jobs.","allOf":[{"$ref":"#/components/schemas/OperationStatusExtendedInfo"}]},"OperationStatusProvisionILRExtendedInfo":{"properties":{"recoveryTarget":{"$ref":"#/components/schemas/InstantItemRecoveryTarget"}},"description":"Operation status extended info for ILR provision action.","allOf":[{"$ref":"#/components/schemas/OperationStatusExtendedInfo"}]},"OperationWorkerResponse":{"type":"object","properties":{"Headers":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"description":"HTTP headers associated with this operation."},"statusCode":{"type":"string","description":"HTTP Status Code of the operation.","enum":["Continue","SwitchingProtocols","OK","Created","Accepted","NonAuthoritativeInformation","NoContent","ResetContent","PartialContent","MultipleChoices","Ambiguous","MovedPermanently","Moved","Found","Redirect","SeeOther","RedirectMethod","NotModified","UseProxy","Unused","TemporaryRedirect","RedirectKeepVerb","BadRequest","Unauthorized","PaymentRequired","Forbidden","NotFound","MethodNotAllowed","NotAcceptable","ProxyAuthenticationRequired","RequestTimeout","Conflict","Gone","LengthRequired","PreconditionFailed","RequestEntityTooLarge","RequestUriTooLong","UnsupportedMediaType","RequestedRangeNotSatisfiable","ExpectationFailed","UpgradeRequired","InternalServerError","NotImplemented","BadGateway","ServiceUnavailable","GatewayTimeout","HttpVersionNotSupported"]}},"description":"This is the base class for operation result responses."},"ProtectedItem":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"Type of backup managemenent for the backed up item.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"containerName":{"type":"string","description":"Unique name of container"},"lastRecoveryPoint":{"type":"string","description":"Timestamp when the last (latest) backup copy was created for this backup item.","format":"date-time"},"policyId":{"type":"string","description":"ID of the backup policy with which this item is backed up."},"protectedItemType":{"type":"string","description":"backup item type."},"sourceResourceId":{"type":"string","description":"ARM ID of the resource to be backed up."},"workloadType":{"type":"string","description":"Type of workload this item represents.","enum":["Invalid","VM","FileFolder","AzureSqlDb","SQLDB","Exchange","Sharepoint","VMwareVM","SystemState","Client","GenericDataSource"]}},"description":"Base class for backup items.","discriminator":{"propertyName":"protectedItemType"}},"ProtectedItemQueryObject":{"type":"object","properties":{"backupEngineName":{"type":"string","description":"Backup Engine name"},"backupManagementType":{"type":"string","description":"Backup management type for the backed up item.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"containerName":{"type":"string","description":"Name of the container."},"friendlyName":{"type":"string","description":"Friendly name of protected item"},"healthState":{"type":"string","description":"Health State for the backed up item.","enum":["Passed","ActionRequired","ActionSuggested","Invalid"]},"itemType":{"type":"string","description":"Type of workload this item represents.","enum":["Invalid","VM","FileFolder","AzureSqlDb","SQLDB","Exchange","Sharepoint","VMwareVM","SystemState","Client","GenericDataSource"]},"policyName":{"type":"string","description":"Backup policy name associated with the backup item."}},"description":"Filters to list backup items."},"ProtectedItemResource":{"properties":{"properties":{"$ref":"#/components/schemas/ProtectedItem"}},"description":"Base class for backup items.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ProtectedItemResourceList":{"properties":{"value":{"type":"array","description":"List of resources.","items":{"$ref":"#/components/schemas/ProtectedItemResource"}}},"description":"List of ProtectedItem resources","allOf":[{"$ref":"#/components/schemas/ResourceList"}]},"ProtectionContainer":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"Type of backup managemenent for the container.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]},"containerType":{"type":"string","description":"Type of the container. The value of this property for: 1. Compute Azure VM is Microsoft.Compute/virtualMachines 2. Classic Compute Azure VM is Microsoft.ClassicCompute/virtualMachines 3. Windows machines (like MAB, DPM etc) is Windows 4. Azure SQL instance is AzureSqlContainer.","readOnly":true,"enum":["Invalid","Unknown","IaasVMContainer","IaasVMServiceContainer","DPMContainer","AzureBackupServerContainer","MABContainer","Cluster","AzureSqlContainer","Windows","VCenter"]},"friendlyName":{"type":"string","description":"Friendly name of the container."},"healthStatus":{"type":"string","description":"Status of health of the container."},"protectableObjectType":{"type":"string","description":"Type of the protectable object associated with this container.","enum":["Invalid","Unknown","IaasVMContainer","IaasVMServiceContainer","DPMContainer","AzureBackupServerContainer","MABContainer","Cluster","AzureSqlContainer","Windows","VCenter"]},"registrationStatus":{"type":"string","description":"Status of registration of the container with the Recovery Services Vault."}},"description":"Base class for container with backup items. Containers with specific workloads are derived from this class.","discriminator":{"propertyName":"protectableObjectType"}},"ProtectionContainerResource":{"properties":{"properties":{"$ref":"#/components/schemas/ProtectionContainer"}},"description":"Base class for container with backup items. Containers with specific workloads are derived from this class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ProtectionContainerResourceList":{"properties":{"value":{"type":"array","description":"List of resources.","items":{"$ref":"#/components/schemas/ProtectionContainerResource"}}},"description":"List of ProtectionContainer resources","allOf":[{"$ref":"#/components/schemas/ResourceList"}]},"ProtectionPolicy":{"required":["backupManagementType"],"type":"object","properties":{"backupManagementType":{"type":"string","description":"This property will be used as the discriminator for deciding the specific types in the polymorhpic chain of types."},"protectedItemsCount":{"type":"integer","description":"Number of items associated with this policy.","format":"int32"}},"description":"Base class for backup policy. Workload-specific backup policies are derived from this class.","discriminator":{"propertyName":"backupManagementType"}},"ProtectionPolicyQueryObject":{"type":"object","properties":{"backupManagementType":{"type":"string","description":"Backup management type for the backup policy.","enum":["Invalid","AzureIaasVM","MAB","DPM","AzureBackupServer","AzureSql"]}},"description":"Filters the list backup policies API."},"ProtectionPolicyResource":{"properties":{"properties":{"$ref":"#/components/schemas/ProtectionPolicy"}},"description":"Base class for backup policy. Workload-specific backup policies are derived from this class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ProtectionPolicyResourceList":{"properties":{"value":{"type":"array","description":"List of resources.","items":{"$ref":"#/components/schemas/ProtectionPolicyResource"}}},"description":"List of ProtectionPolicy resources","allOf":[{"$ref":"#/components/schemas/ResourceList"}]},"RecoveryPoint":{"required":["objectType"],"type":"object","properties":{"objectType":{"type":"string","description":"This property will be used as the discriminator for deciding the specific types in the polymorhpic chain of types."}},"description":"Base class for backup copies. Workload-specific backup copies are derived from this class.","discriminator":{"propertyName":"objectType"}},"RecoveryPointResource":{"properties":{"properties":{"$ref":"#/components/schemas/RecoveryPoint"}},"description":"Base class for backup copies. Workload-specific backup copies are derived from this class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"RecoveryPointResourceList":{"properties":{"value":{"type":"array","description":"List of resources.","items":{"$ref":"#/components/schemas/RecoveryPointResource"}}},"description":"List of RecoveryPoint resources","allOf":[{"$ref":"#/components/schemas/ResourceList"}]},"RecoveryPointTierInformation":{"type":"object","properties":{"status":{"type":"string","description":"Recovery point tier status.","enum":["Invalid","Valid","Disabled","Deleted"]},"type":{"type":"string","description":"Recovery point tier type.","enum":["Invalid","InstantRP","HardenedRP"]}},"description":"Recovery point tier information."},"Resource":{"type":"object","properties":{"eTag":{"type":"string","description":"Optional ETag."},"id":{"type":"string","description":"Resource Id represents the complete path
[...]
