{"openapi":"3.0.1","info":{"title":"Peel Tune-in API","description":"The machine learning service APIs utilize hashtags from Twitter to find related, trending shows, related Twitter hashtags in real time and to generate direct tune-in URLs.","version":"1.0.0"},"servers":[{"url":"http://hashtag.peel-ci.com/"}],"tags":[{"name":"hashtag","description":"Operations about hashtags"},{"name":"health","description":"Operations about health of Tune-in service"},{"name":"status","description":"Operations about statuses"}],"paths":{"/hashtag/related":{"get":{"tags":["hashtag"],"summary":"Gets related hashtags for a show.","description":"Returns any official hashtag and any hashtags which were learned within the most recent time window for the show.","operationId":"getRelatedHashtags","parameters":[{"name":"showID","in":"query","description":"Unique ID for a show","required":true,"schema":{"type":"string"}},{"name":"timeWindow","in":"query","description":"Time window in seconds (default is 2 hours)","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/hashtag/trendingShows":{"get":{"tags":["hashtag"],"summary":"Gets trending shows.","operationId":"getTrendingShows","parameters":[{"name":"limit","in":"query","description":"Number of trending shows (default is 20)","schema":{"type":"string"}},{"name":"timeWindow","in":"query","description":"Time window in seconds (default is 2 hours)","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/hashtag/tuneinlinks":{"get":{"tags":["hashtag"],"summary":"Gets tunein URLs (links) from either a tweet, hashtags, @mentions, or show ID.","description":"Either use <b>tweet</b>, <b>hashtags</b>, or <b>showID</b> as the parameter. The tunein URLs that match best are returned in order of best match.<br/><br/>A <b>tweet</b> in this context is shorthand for text from a social networking conversation, e.g., it could be from Facebook, Twitter, LinkedIn, etc., and be greater than 140 characters.","operationId":"getTuneinLinks","parameters":[{"name":"tweet","in":"query","description":"Text from a social networking conversation","schema":{"type":"string"}},{"name":"hashtags","in":"query","description":"Comma separated list of hashtags and @mentions","schema":{"type":"string"}},{"name":"showID","in":"query","description":"Unique ID for a show","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/health":{"get":{"tags":["health"],"summary":"Get health of Tune-in service (which includes its uptime).","operationId":"getHealth","responses":{"200":{"description":"No response was specified"}}}},"/status/{showID}":{"get":{"tags":["status"],"summary":"Gets the last 100 statuses for this show.","description":"For Twitter, statuses are synonymous with tweets.","operationId":"getStatuses","parameters":[{"name":"showID","in":"path","description":"Unique ID for a show","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}}}}