{"openapi":"3.0.1","info":{"title":"AutomationManagement","version":"2015-10-31"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/schedules":{"get":{"tags":["Schedule"],"description":"Retrieve a list of schedules.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/scheduleoperations"},"operationId":"Schedule_ListByAutomationAccount","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/schedules/{scheduleName}":{"get":{"tags":["Schedule"],"description":"Retrieve the schedule identified by schedule name.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/scheduleoperations"},"operationId":"Schedule_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"scheduleName","in":"path","description":"The schedule name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Schedule"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"put":{"tags":["Schedule"],"description":"Create a schedule.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/scheduleoperations"},"operationId":"Schedule_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"scheduleName","in":"path","description":"The schedule name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters supplied to the create or update schedule operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCreateOrUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Schedule"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Schedule"}}}},"409":{"description":"Conflict"},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"delete":{"tags":["Schedule"],"description":"Delete the schedule identified by schedule name.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/scheduleoperations"},"operationId":"Schedule_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"scheduleName","in":"path","description":"The schedule name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"patch":{"tags":["Schedule"],"description":"Update the schedule identified by schedule name.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/scheduleoperations"},"operationId":"Schedule_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"scheduleName","in":"path","description":"The schedule name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters supplied to the update schedule operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Schedule"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"AdvancedSchedule":{"type":"object","properties":{"monthDays":{"type":"array","description":"Days of the month that the job should execute on. Must be between 1 and 31.","items":{"type":"integer","format":"int32","nullable":false}},"monthlyOccurrences":{"type":"array","description":"Occurrences of days within a month.","items":{"$ref":"#/components/schemas/AdvancedScheduleMonthlyOccurrence"}},"weekDays":{"type":"array","description":"Days of the week that the job should execute on.","items":{"type":"string"}}},"description":"The properties of the create Advanced Schedule."},"AdvancedScheduleMonthlyOccurrence":{"type":"object","properties":{"day":{"type":"string","description":"Day of the occurrence. Must be one of monday, tuesday, wednesday, thursday, friday, saturday, sunday.","enum":["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]},"occurrence":{"type":"integer","description":"Occurrence of the week within the month. Must be between 1 and 5","format":"int32"}},"description":"The properties of the create advanced schedule monthly occurrence."},"Schedule":{"properties":{"properties":{"$ref":"#/components/schemas/ScheduleProperties"}},"description":"Definition of the schedule.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources"}]}]},"ScheduleCreateOrUpdateParameters":{"required":["name","properties"],"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the Schedule."},"properties":{"$ref":"#/components/schemas/ScheduleCreateOrUpdateProperties"}},"description":"The parameters supplied to the create or update schedule operation."},"ScheduleCreateOrUpdateProperties":{"required":["frequency","startTime"],"type":"object","properties":{"advancedSchedule":{"$ref":"#/components/schemas/AdvancedSchedule"},"description":{"type":"string","description":"Gets or sets the description of the schedule."},"expiryTime":{"type":"string","description":"Gets or sets the end time of the schedule.","format":"date-time","nullable":true},"frequency":{"$ref":"#/components/schemas/scheduleFrequency"},"interval":{"type":"object","description":"Gets or sets the interval of the schedule."},"startTime":{"type":"string","description":"Gets or sets the start time of the schedule.","format":"date-time","nullable":false},"timeZone":{"type":"string","description":"Gets or sets the time zone of the schedule."}},"description":"The parameters supplied to the create or update schedule operation."},"ScheduleListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Gets or sets the next link."},"value":{"type":"array","description":"Gets or sets a list of schedules.","items":{"$ref":"#/components/schemas/Schedule"}}},"description":"The response model for the list schedule operation."},"ScheduleProperties":{"type":"object","properties":{"advancedSchedule":{"$ref":"#/components/schemas/AdvancedSchedule"},"creationTime":{"type":"string","description":"Gets or sets the creation time.","format":"date-time","nullable":false},"description":{"type":"string","description":"Gets or sets the description."},"expiryTime":{"type":"string","description":"Gets or sets the end time of the schedule.","format":"date-time","nullable":true},"expiryTimeOffsetMinutes":{"type":"number","description":"Gets or sets the expiry time's offset in minutes.","format":"double","nullable":false},"frequency":{"$ref":"#/components/schemas/scheduleFrequency"},"interval":{"type":"object","description":"Gets or sets the interval of the schedule."},"isEnabled":{"type":"boolean","description":"Gets or sets a value indicating whether this schedule is enabled.","default":false},"lastModifiedTime":{"type":"string","description":"Gets or sets the last modified time.","format":"date-time","nullable":false},"nextRun":{"type":"string","description":"Gets or sets the next run time of the schedule.","format":"date-time","nullable":true},"nextRunOffsetMinutes":{"type":"number","description":"Gets or sets the next run time's offset in minutes.","format":"double","nullable":false},"startTime":{"type":"string","description":"Gets or sets the start time of the schedule.","format":"date-time","nullable":false},"startTimeOffsetMinutes":{"type":"number","description":"Gets the start time's offset in minutes.","format":"double","nullable":false,"readOnly":true},"timeZone":{"type":"string","description":"Gets or sets the time zone of the schedule."}},"description":"Definition of schedule parameters."},"ScheduleUpdateParameters":{"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the Schedule."},"properties":{"$ref":"#/components/schemas/ScheduleUpdateProperties"}},"description":"The parameters supplied to the update schedule operation."},"ScheduleUpdateProperties":{"type":"object","properties":{"description":{"type":"string","description":"Gets or sets the description of the schedule."},"isEnabled":{"type":"boolean","description":"Gets or sets a value indicating whether this schedule is enabled."}},"description":"The parameters supplied to the update schedule operation."},"scheduleFrequency":{"type":"string","description":"Gets or sets the frequency of the schedule.","enum":["OneTime","Day","Hour","Week","Month","Minute"]}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}