{"openapi":"3.0.1","info":{"title":"UsageManagementClient","version":"2015-06-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Commerce/RateCard":{"get":{"tags":["RateCard"],"description":"Enables you to query for the resource/meter metadata and related prices used in a given subscription by Offer ID, Currency, Locale and Region. The metadata associated with the billing meters, including but not limited to service names, types, resources, units of measure, and regions, is subject to change at any time and without notice. If you intend to use this billing data in an automated fashion, please use the billing meter GUID to uniquely identify each billable item. If the billing meter GUID is scheduled to change due to a new billing model, you will be notified in advance of the change. ","externalDocs":{"url":"https://docs.microsoft.com/rest/api/commerce/ratecard"},"operationId":"RateCard_Get","parameters":[{"name":"$filter","in":"query","description":"The filter to apply on the operation. It ONLY supports the 'eq' and 'and' logical operators at this time. All the 4 query parameters 'OfferDurableId',  'Currency', 'Locale', 'Region' are required to be a part of the $filter.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"It uniquely identifies Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Normal response for a successful query. The response body will contain the data that matches the filters specified in the query parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceRateCardInfo"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResourceRateCardInfo"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Commerce/UsageAggregates":{"get":{"tags":["UsageAggregates"],"description":"Query aggregated Azure subscription consumption data for a date range.","externalDocs":{"url":"https://docs.microsoft.com/rest/api/commerce/usageaggregates"},"operationId":"UsageAggregates_List","parameters":[{"name":"reportedStartTime","in":"query","description":"The start of the time range to retrieve data for.","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"reportedEndTime","in":"query","description":"The end of the time range to retrieve data for.","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"showDetails","in":"query","description":"`True` returns usage data in instance-level detail, `false` causes server-side aggregation with fewer details. For example, if you have 3 website instances, by default you will get 3 line items for website consumption. If you specify showDetails = false, the data will be aggregated as a single line item for website consumption within the time period (for the given subscriptionId, meterId, usageStartTime and usageEndTime).","schema":{"type":"boolean"}},{"name":"aggregationGranularity","in":"query","description":"`Daily` (default) returns the data in daily granularity, `Hourly` returns the data in hourly granularity.","schema":{"type":"string","default":"Daily","enum":["Daily","Hourly"]}},{"name":"continuationToken","in":"query","description":"Used when a continuation token string is provided in the response body of the previous call, enabling paging through a large result set. If not present, the data is retrieved from the beginning of the day/hour (based on the granularity) passed in. ","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"It uniquely identifies Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Normal response for a successful query. The response body will contain the data that matches the filters specified in the query parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageAggregationListResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/UsageAggregationListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."},"InfoField":{"type":"object","properties":{"project":{"type":"string","description":"Identifies the name of the instance provisioned by the user."}},"description":"Key-value pairs of instance details in the legacy format."},"MeterInfo":{"type":"object","properties":{"EffectiveDate":{"type":"string","description":"Indicates the date from which the meter rate is effective.","format":"date-time"},"IncludedQuantity":{"type":"number","description":"The resource quantity that is included in the offer at no cost. Consumption beyond this quantity will be charged.","format":"float"},"MeterCategory":{"type":"string","description":"The category of the meter, e.g., 'Cloud services', 'Networking', etc.."},"MeterId":{"type":"string","description":"The unique identifier of the resource.","format":"uuid"},"MeterName":{"type":"string","description":"The name of the meter, within the given meter category"},"MeterRates":{"type":"object","additionalProperties":{"type":"number","format":"float"},"description":"The list of key/value pairs for the meter rates, in the format 'key':'value' where key = the meter quantity, and value = the corresponding price"},"MeterRegion":{"type":"string","description":"The region in which the Azure service is available."},"MeterSubCategory":{"type":"string","description":"The subcategory of the meter, e.g., 'A6 Cloud services', 'ExpressRoute (IXP)', etc.."},"MeterTags":{"type":"array","description":"Provides additional meter data. 'Third Party' indicates a meter with no discount. Blanks indicate First Party.","items":{"type":"string"}},"Unit":{"type":"string","description":"The unit in which the meter consumption is charged, e.g., 'Hours', 'GB', etc."}},"description":"Detailed information about the meter."},"MonetaryCommitment":{"properties":{"ExcludedMeterIds":{"type":"array","description":"An array of meter ids that are excluded from the given offer terms.","items":{"type":"string","format":"uuid"}},"TieredDiscount":{"type":"object","additionalProperties":{"type":"number","format":"decimal"},"description":"The list of key/value pairs for the tiered meter rates, in the format 'key':'value' where key = price, and value = the corresponding discount percentage. This field is used only by offer terms of type 'Monetary Commitment'."}},"description":"Indicates that a monetary commitment is required for this offer","allOf":[{"$ref":"#/components/schemas/OfferTermInfo"}]},"MonetaryCredit":{"properties":{"Credit":{"type":"number","description":"The amount of credit provided under the terms of the given offer level.","format":"decimal"},"ExcludedMeterIds":{"type":"array","description":"An array of meter ids that are excluded from the given offer terms.","items":{"type":"string","format":"uuid"}}},"description":"Indicates that this is a monetary credit offer.","allOf":[{"$ref":"#/components/schemas/OfferTermInfo"}]},"OfferTermInfo":{"required":["Name"],"type":"object","properties":{"EffectiveDate":{"type":"string","description":"Indicates the date from which the offer term is effective.","format":"date-time"},"Name":{"type":"string","description":"Name of the offer term","enum":["Recurring Charge","Monetary Commitment","Monetary Credit"]}},"description":"Describes the offer term.","discriminator":{"propertyName":"Name"}},"RateCardQueryParameters":{"required":["Currency","Locale","OfferDurableId","RegionInfo"],"type":"object","properties":{"Currency":{"type":"string","description":"The currency in which the rates need to be provided."},"Locale":{"type":"string","description":"The culture in which the resource metadata needs to be localized."},"OfferDurableId":{"pattern":"^MS-AZR-\\d{4}P(-\\d{4}P)*$","type":"string","description":"The Offer ID parameter consists of the 'MS-AZR-' prefix, plus the Offer ID number (e.g., MS-AZR-0026P). See https://azure.microsoft.com/en-us/support/legal/offer-details/ for more information on the list of available Offer IDs, country/region availability, and billing currency."},"RegionInfo":{"type":"string","description":"2 letter ISO code where the offer was purchased."}},"description":"Parameters that are used in the odata $filter query parameter for providing RateCard information."},"RecurringCharge":{"properties":{"RecurringCharge":{"type":"integer","description":"The amount of recurring charge as per the offer term."}},"description":"Indicates a recurring charge is present for this offer.","allOf":[{"$ref":"#/components/schemas/OfferTermInfo"}]},"ResourceRateCardInfo":{"type":"object","properties":{"Currency":{"type":"string","description":"The currency in which the rates are provided."},"IsTaxIncluded":{"type":"boolean","description":"All rates are pretax, so this will always be returned as 'false'."},"Locale":{"type":"string","description":"The culture in which the resource information is localized."},"Meters":{"type":"array","description":"A list of meters.","items":{"$ref":"#/components/schemas/MeterInfo"}},"OfferTerms":{"type":"array","description":"A list of offer terms.","items":{"$ref":"#/components/schemas/OfferTermInfo"}}},"description":"Price and Metadata information for resources"},"UsageAggregation":{"type":"object","properties":{"id":{"type":"string","description":"Unique Id for the usage aggregate."},"name":{"type":"string","description":"Name of the usage aggregate."},"properties":{"$ref":"#/components/schemas/UsageSample"},"type":{"type":"string","description":"Type of the resource being returned."}},"description":"Describes the usageAggregation."},"UsageAggregationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Gets or sets the link to the next set of results."},"value":{"type":"array","description":"Gets or sets details for the requested aggregation.","items":{"$ref":"#/components/schemas/UsageAggregation"}}},"description":"The Get UsageAggregates operation response."},"UsageSample":{"type":"object","properties":{"infoFields":{"$ref":"#/components/schemas/InfoField"},"instanceData":{"type":"string","description":"Key-value pairs of instance details represented as a string."},"meterCategory":{"type":"string","description":"Category of the consumed resource."},"meterId":{"type":"string","description":"Unique ID for the resource that was consumed (aka ResourceID)."},"meterName":{"type":"string","description":"Friendly name of the resource being consumed."},"meterRegion":{"type":"string","description":"Region of the meterId used for billing purposes"},"meterSubCategory":{"type":"string","description":"Sub-category of the consumed resource."},"quantity":{"type":"number","description":"The amount of the resource consumption that occurred in this time frame.","format":"float"},"subscriptionId":{"type":"string","description":"The subscription identifier for the Azure user.","format":"uuid"},"unit":{"type":"string","description":"The unit in which the usage for this resource is being counted, e.g. Hours, GB."},"usageEndTime":{"type":"string","description":"UTC end time for the usage bucket to which this usage aggregate belongs.","format":"date-time"},"usageStartTime":{"type":"string","description":"UTC start time for the usage bucket to which this usage aggregate belongs.","format":"date-time"}},"description":"Describes a sample of the usageAggregation."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"It uniquely identifies Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}}}}