{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Domains API Client",
    "version" : "2018-02-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/checkDomainAvailability" : {
      "post" : {
        "tags" : [ "Domains" ],
        "summary" : "Check if a domain is available for registration.",
        "description" : "Check if a domain is available for registration.",
        "operationId" : "Domains_CheckAvailability",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Name of the domain.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "Name of the object."
                  }
                },
                "description" : "Identifies an object."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainAvailablilityCheckResult"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/domains" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get all domains in a subscription.",
        "description" : "Get all domains in a subscription.",
        "operationId" : "Domains_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/generateSsoRequest" : {
      "post" : {
        "tags" : [ "Domains" ],
        "summary" : "Generate a single sign-on request for the domain management portal.",
        "description" : "Generate a single sign-on request for the domain management portal.",
        "operationId" : "Domains_GetControlCenterSsoRequest",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainControlCenterSsoRequest"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/listDomainRecommendations" : {
      "post" : {
        "tags" : [ "Domains" ],
        "summary" : "Get domain name recommendations based on keywords.",
        "description" : "Get domain name recommendations based on keywords.",
        "operationId" : "Domains_ListRecommendations",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Search parameters for domain name recommendations.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DomainRecommendationSearchParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NameIdentifierCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get all domains in a resource group.",
        "description" : "Get all domains in a resource group.",
        "operationId" : "Domains_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get a domain.",
        "description" : "Get a domain.",
        "operationId" : "Domains_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "domainName",
          "in" : "path",
          "description" : "Name of the domain.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Domain"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Domains" ],
        "summary" : "Creates or updates a domain.",
        "description" : "Creates or updates a domain.",
        "operationId" : "Domains_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "domainName",
          "in" : "path",
          "description" : "Name of the domain.",
          "required" : true,
          "schema" : {
            "pattern" : "[a-zA-Z0-9][a-zA-Z0-9\\.-]+",
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Domain registration information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Domain"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Domain purchase was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Domain"
                }
              }
            }
          },
          "202" : {
            "description" : "Domain purchase is in progress.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Domain"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Domains" ],
        "summary" : "Delete a domain.",
        "description" : "Delete a domain.",
        "operationId" : "Domains_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "domainName",
          "in" : "path",
          "description" : "Name of the domain.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "forceHardDeleteDomain",
          "in" : "query",
          "description" : "Specify <code>true</code> to delete the domain immediately. The default is <code>false</code> which deletes the domain after 24 hours.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted domain."
          },
          "204" : {
            "description" : "Domain does not exist in Azure database probably because it has already been deleted"
          }
        }
      },
      "patch" : {
        "tags" : [ "Domains" ],
        "summary" : "Creates or updates a domain.",
        "description" : "Creates or updates a domain.",
        "operationId" : "Domains_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "domainName",
          "in" : "path",
          "description" : "Name of the domain.",
          "required" : true,
          "schema" : {
            "pattern" : "[a-zA-Z0-9][a-zA-Z0-9\\.-]+",
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Domain registration information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DomainPatchResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Domain purchase was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Domain"
                }
              }
            }
          },
          "202" : {
            "description" : "Domain purchase is in progress.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Domain"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Lists domain ownership identifiers.",
        "description" : "Lists domain ownership identifiers.",
        "operationId" : "Domains_ListOwnershipIdentifiers",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "domainName",
          "in" : "path",
          "description" : "Name of domain.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainOwnershipIdentifierCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers/{name}" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get ownership identifier for domain",
        "description" : "Get ownership identifier for domain",
        "operationId" : "Domains_GetOwnershipIdentifier",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "domainName",
          "in" : "path",
          "description" : "Name of domain.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainOwnershipIdentifier"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Domains" ],
        "summary" : "Creates an ownership identifier for a domain or updates identifier details for an existing identifer",
        "description" : "Creates an ownership identifier for a domain or updates identifier details for an existing identifer",
        "operationId" : "Domains_CreateOrUpdateOwnershipIdentifier",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "domainName",
          "in" : "path",
          "description" : "Name of domain.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "A JSON representation of the domain ownership properties.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DomainOwnershipIdentifier"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainOwnershipIdentifier"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Domains" ],
        "summary" : "Delete ownership identifier for domain",
        "description" : "Delete ownership identifier for domain",
        "operationId" : "Domains_DeleteOwnershipIdentifier",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "domainName",
          "in" : "path",
          "description" : "Name of domain.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted domain ownership identifier."
          },
          "204" : {
            "description" : "Domain ownership identifier does not exist."
          }
        }
      },
      "patch" : {
        "tags" : [ "Domains" ],
        "summary" : "Creates an ownership identifier for a domain or updates identifier details for an existing identifer",
        "description" : "Creates an ownership identifier for a domain or updates identifier details for an existing identifer",
        "operationId" : "Domains_UpdateOwnershipIdentifier",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "domainName",
          "in" : "path",
          "description" : "Name of domain.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "A JSON representation of the domain ownership properties.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DomainOwnershipIdentifier"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainOwnershipIdentifier"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/renew" : {
      "post" : {
        "tags" : [ "Domains" ],
        "summary" : "Renew a domain.",
        "description" : "Renew a domain.",
        "operationId" : "Domains_Renew",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group to which the resource belongs.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
            "type" : "string"
          }
        }, {
          "name" : "domainName",
          "in" : "path",
          "description" : "Name of the domain.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Domain renewal was successful."
          },
          "202" : {
            "description" : "Domain renewal in progress."
          },
          "204" : {
            "description" : "Domain does not exist."
          },
          "400" : {
            "description" : "Malformed domain renewal request."
          },
          "500" : {
            "description" : "Domain renewal request failed."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Address" : {
        "required" : [ "address1", "city", "country", "postalCode", "state" ],
        "type" : "object",
        "properties" : {
          "address1" : {
            "type" : "string",
            "description" : "First line of an Address."
          },
          "address2" : {
            "type" : "string",
            "description" : "The second line of the Address. Optional."
          },
          "city" : {
            "type" : "string",
            "description" : "The city for the address."
          },
          "country" : {
            "type" : "string",
            "description" : "The country for the address."
          },
          "postalCode" : {
            "type" : "string",
            "description" : "The postal code for the address."
          },
          "state" : {
            "type" : "string",
            "description" : "The state or province for the address."
          }
        },
        "description" : "Address information for domain registration."
      },
      "Contact" : {
        "required" : [ "email", "nameFirst", "nameLast", "phone" ],
        "type" : "object",
        "properties" : {
          "addressMailing" : {
            "$ref" : "#/components/schemas/Address"
          },
          "email" : {
            "type" : "string",
            "description" : "Email address."
          },
          "fax" : {
            "type" : "string",
            "description" : "Fax number."
          },
          "jobTitle" : {
            "type" : "string",
            "description" : "Job title."
          },
          "nameFirst" : {
            "type" : "string",
            "description" : "First name."
          },
          "nameLast" : {
            "type" : "string",
            "description" : "Last name."
          },
          "nameMiddle" : {
            "type" : "string",
            "description" : "Middle name."
          },
          "organization" : {
            "type" : "string",
            "description" : "Organization contact belongs to."
          },
          "phone" : {
            "type" : "string",
            "description" : "Phone number."
          }
        },
        "description" : "Contact information for domain registration. If 'Domain Privacy' option is not selected then the contact information is made publicly available through the Whois \ndirectories as per ICANN requirements."
      },
      "Domain" : {
        "properties" : {
          "properties" : {
            "required" : [ "consent", "contactAdmin", "contactBilling", "contactRegistrant", "contactTech" ],
            "type" : "object",
            "properties" : {
              "authCode" : {
                "type" : "string"
              },
              "autoRenew" : {
                "type" : "boolean",
                "description" : "<code>true</code> if the domain should be automatically renewed; otherwise, <code>false</code>.",
                "default" : true
              },
              "consent" : {
                "$ref" : "#/components/schemas/DomainPurchaseConsent"
              },
              "contactAdmin" : {
                "$ref" : "#/components/schemas/Contact"
              },
              "contactBilling" : {
                "$ref" : "#/components/schemas/Contact"
              },
              "contactRegistrant" : {
                "$ref" : "#/components/schemas/Contact"
              },
              "contactTech" : {
                "$ref" : "#/components/schemas/Contact"
              },
              "createdTime" : {
                "type" : "string",
                "description" : "Domain creation timestamp.",
                "format" : "date-time",
                "readOnly" : true
              },
              "dnsType" : {
                "type" : "string",
                "description" : "Current DNS type",
                "enum" : [ "AzureDns", "DefaultDomainRegistrarDns" ]
              },
              "dnsZoneId" : {
                "type" : "string",
                "description" : "Azure DNS Zone to use"
              },
              "domainNotRenewableReasons" : {
                "type" : "array",
                "description" : "Reasons why domain is not renewable.",
                "readOnly" : true,
                "items" : {
                  "type" : "string",
                  "enum" : [ "RegistrationStatusNotSupportedForRenewal", "ExpirationNotInRenewalTimeRange", "SubscriptionNotActive" ]
                }
              },
              "expirationTime" : {
                "type" : "string",
                "description" : "Domain expiration timestamp.",
                "format" : "date-time",
                "readOnly" : true
              },
              "lastRenewedTime" : {
                "type" : "string",
                "description" : "Timestamp when the domain was renewed last time.",
                "format" : "date-time",
                "readOnly" : true
              },
              "managedHostNames" : {
                "type" : "array",
                "description" : "All hostnames derived from the domain and assigned to Azure resources.",
                "readOnly" : true,
                "items" : {
                  "$ref" : "#/components/schemas/HostName"
                }
              },
              "nameServers" : {
                "type" : "array",
                "description" : "Name servers.",
                "readOnly" : true,
                "items" : {
                  "type" : "string"
                }
              },
              "privacy" : {
                "type" : "boolean",
                "description" : "<code>true</code> if domain privacy is enabled for this domain; otherwise, <code>false</code>."
              },
              "provisioningState" : {
                "type" : "string",
                "description" : "Domain provisioning state.",
                "readOnly" : true,
                "enum" : [ "Succeeded", "Failed", "Canceled", "InProgress", "Deleting" ]
              },
              "readyForDnsRecordManagement" : {
                "type" : "boolean",
                "description" : "<code>true</code> if Azure can assign this domain to App Service apps; otherwise, <code>false</code>. This value will be <code>true</code> if domain registration status is active and \n it is hosted on name servers Azure has programmatic access to.",
                "readOnly" : true
              },
              "registrationStatus" : {
                "type" : "string",
                "description" : "Domain registration status.",
                "readOnly" : true,
                "enum" : [ "Active", "Awaiting", "Cancelled", "Confiscated", "Disabled", "Excluded", "Expired", "Failed", "Held", "Locked", "Parked", "Pending", "Reserved", "Reverted", "Suspended", "Transferred", "Unknown", "Unlocked", "Unparked", "Updated", "JsonConverterFailed" ]
              },
              "targetDnsType" : {
                "type" : "string",
                "description" : "Target DNS type (would be used for migration)",
                "enum" : [ "AzureDns", "DefaultDomainRegistrarDns" ]
              }
            },
            "description" : "Domain resource specific properties"
          }
        },
        "description" : "Information about a domain.",
        "allOf" : [ {
          "required" : [ "location" ],
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource Location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure resource. This resource is tracked in Azure Resource Manager"
        } ]
      },
      "DomainAvailablilityCheckResult" : {
        "type" : "object",
        "properties" : {
          "available" : {
            "type" : "boolean",
            "description" : "<code>true</code> if domain can be purchased using CreateDomain API; otherwise, <code>false</code>."
          },
          "domainType" : {
            "type" : "string",
            "description" : "Valid values are Regular domain: Azure will charge the full price of domain registration, SoftDeleted: Purchasing this domain will simply restore it and this operation will not cost anything.",
            "enum" : [ "Regular", "SoftDeleted" ]
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the domain."
          }
        },
        "description" : "Domain availability check result."
      },
      "DomainCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of resources.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Collection of resources.",
            "items" : {
              "$ref" : "#/components/schemas/Domain"
            }
          }
        },
        "description" : "Collection of domains."
      },
      "DomainControlCenterSsoRequest" : {
        "type" : "object",
        "properties" : {
          "postParameterKey" : {
            "type" : "string",
            "description" : "Post parameter key.",
            "readOnly" : true
          },
          "postParameterValue" : {
            "type" : "string",
            "description" : "Post parameter value. Client should use 'application/x-www-form-urlencoded' encoding for this value.",
            "readOnly" : true
          },
          "url" : {
            "type" : "string",
            "description" : "URL where the single sign-on request is to be made.",
            "readOnly" : true
          }
        },
        "description" : "Single sign-on request information for domain management."
      },
      "DomainOwnershipIdentifier" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "ownershipId" : {
                "type" : "string",
                "description" : "Ownership Id."
              }
            },
            "description" : "DomainOwnershipIdentifier resource specific properties"
          }
        },
        "description" : "Domain ownership Identifier.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure proxy only resource. This resource is not tracked by Azure Resource Manager."
        } ]
      },
      "DomainOwnershipIdentifierCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of resources.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Collection of resources.",
            "items" : {
              "$ref" : "#/components/schemas/DomainOwnershipIdentifier"
            }
          }
        },
        "description" : "Collection of domain ownership identifiers."
      },
      "DomainPatchResource" : {
        "properties" : {
          "properties" : {
            "required" : [ "consent", "contactAdmin", "contactBilling", "contactRegistrant", "contactTech" ],
            "type" : "object",
            "properties" : {
              "authCode" : {
                "type" : "string"
              },
              "autoRenew" : {
                "type" : "boolean",
                "description" : "<code>true</code> if the domain should be automatically renewed; otherwise, <code>false</code>.",
                "default" : true
              },
              "consent" : {
                "$ref" : "#/components/schemas/DomainPurchaseConsent"
              },
              "contactAdmin" : {
                "$ref" : "#/components/schemas/Contact"
              },
              "contactBilling" : {
                "$ref" : "#/components/schemas/Contact"
              },
              "contactRegistrant" : {
                "$ref" : "#/components/schemas/Contact"
              },
              "contactTech" : {
                "$ref" : "#/components/schemas/Contact"
              },
              "createdTime" : {
                "type" : "string",
                "description" : "Domain creation timestamp.",
                "format" : "date-time",
                "readOnly" : true
              },
              "dnsType" : {
                "type" : "string",
                "description" : "Current DNS type",
                "enum" : [ "AzureDns", "DefaultDomainRegistrarDns" ]
              },
              "dnsZoneId" : {
                "type" : "string",
                "description" : "Azure DNS Zone to use"
              },
              "domainNotRenewableReasons" : {
                "type" : "array",
                "description" : "Reasons why domain is not renewable.",
                "readOnly" : true,
                "items" : {
                  "type" : "string",
                  "enum" : [ "RegistrationStatusNotSupportedForRenewal", "ExpirationNotInRenewalTimeRange", "SubscriptionNotActive" ]
                }
              },
              "expirationTime" : {
                "type" : "string",
                "description" : "Domain expiration timestamp.",
                "format" : "date-time",
                "readOnly" : true
              },
              "lastRenewedTime" : {
                "type" : "string",
                "description" : "Timestamp when the domain was renewed last time.",
                "format" : "date-time",
                "readOnly" : true
              },
              "managedHostNames" : {
                "type" : "array",
                "description" : "All hostnames derived from the domain and assigned to Azure resources.",
                "readOnly" : true,
                "items" : {
                  "$ref" : "#/components/schemas/HostName"
                }
              },
              "nameServers" : {
                "type" : "array",
                "description" : "Name servers.",
                "readOnly" : true,
                "items" : {
                  "type" : "string"
                }
              },
              "privacy" : {
                "type" : "boolean",
                "description" : "<code>true</code> if domain privacy is enabled for this domain; otherwise, <code>false</code>."
              },
              "provisioningState" : {
                "type" : "string",
                "description" : "Domain provisioning state.",
                "readOnly" : true,
                "enum" : [ "Succeeded", "Failed", "Canceled", "InProgress", "Deleting" ]
              },
              "readyForDnsRecordManagement" : {
                "type" : "boolean",
                "description" : "<code>true</code> if Azure can assign this domain to App Service apps; otherwise, <code>false</code>. This value will be <code>true</code> if domain registration status is active and \n it is hosted on name servers Azure has programmatic access to.",
                "readOnly" : true
              },
              "registrationStatus" : {
                "type" : "string",
                "description" : "Domain registration status.",
                "readOnly" : true,
                "enum" : [ "Active", "Awaiting", "Cancelled", "Confiscated", "Disabled", "Excluded", "Expired", "Failed", "Held", "Locked", "Parked", "Pending", "Reserved", "Reverted", "Suspended", "Transferred", "Unknown", "Unlocked", "Unparked", "Updated", "JsonConverterFailed" ]
              },
              "targetDnsType" : {
                "type" : "string",
                "description" : "Target DNS type (would be used for migration)",
                "enum" : [ "AzureDns", "DefaultDomainRegistrarDns" ]
              }
            },
            "description" : "DomainPatchResource resource specific properties"
          }
        },
        "description" : "ARM resource for a domain.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id.",
              "readOnly" : true
            },
            "kind" : {
              "type" : "string",
              "description" : "Kind of resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource Name.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Azure proxy only resource. This resource is not tracked by Azure Resource Manager."
        } ]
      },
      "DomainPurchaseConsent" : {
        "type" : "object",
        "properties" : {
          "agreedAt" : {
            "type" : "string",
            "description" : "Timestamp when the agreements were accepted.",
            "format" : "date-time"
          },
          "agreedBy" : {
            "type" : "string",
            "description" : "Client IP address."
          },
          "agreementKeys" : {
            "type" : "array",
            "description" : "List of applicable legal agreement keys. This list can be retrieved using ListLegalAgreements API under <code>TopLevelDomain</code> resource.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Domain purchase consent object, representing acceptance of applicable legal agreements."
      },
      "DomainRecommendationSearchParameters" : {
        "type" : "object",
        "properties" : {
          "keywords" : {
            "type" : "string",
            "description" : "Keywords to be used for generating domain recommendations."
          },
          "maxDomainRecommendations" : {
            "type" : "integer",
            "description" : "Maximum number of recommendations.",
            "format" : "int32"
          }
        },
        "description" : "Domain recommendation search parameters."
      },
      "HostName" : {
        "type" : "object",
        "properties" : {
          "azureResourceName" : {
            "type" : "string",
            "description" : "Name of the Azure resource the hostname is assigned to. If it is assigned to a Traffic Manager then it will be the Traffic Manager name otherwise it will be the app name."
          },
          "azureResourceType" : {
            "type" : "string",
            "description" : "Type of the Azure resource the hostname is assigned to.",
            "enum" : [ "Website", "TrafficManager" ]
          },
          "customHostNameDnsRecordType" : {
            "type" : "string",
            "description" : "Type of the DNS record.",
            "enum" : [ "CName", "A" ]
          },
          "hostNameType" : {
            "type" : "string",
            "description" : "Type of the hostname.",
            "enum" : [ "Verified", "Managed" ]
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the hostname."
          },
          "siteNames" : {
            "type" : "array",
            "description" : "List of apps the hostname is assigned to. This list will have more than one app only if the hostname is pointing to a Traffic Manager.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Details of a hostname derived from a domain."
      },
      "NameIdentifierCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of resources.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Collection of resources.",
            "items" : {
              "type" : "object",
              "properties" : {
                "name" : {
                  "type" : "string",
                  "description" : "Name of the object."
                }
              },
              "description" : "Identifies an object."
            }
          }
        },
        "description" : "Collection of domain name identifiers."
      }
    },
    "parameters" : {
      "apiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "API Version",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "resourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "Name of the resource group to which the resource belongs.",
        "required" : true,
        "schema" : {
          "maxLength" : 90,
          "minLength" : 1,
          "pattern" : "^[-\\w\\._\\(\\)]+[^\\.]$",
          "type" : "string"
        }
      },
      "subscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}