{"openapi":"3.0.1","info":{"title":"ApplicationInsightsManagementClient","description":"Azure Application Insights client for API keys of a component.","version":"2015-05-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/APIKeys/{keyId}":{"get":{"description":"Get the API Key for this key id.","operationId":"APIKeys_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"keyId","in":"path","description":"The API Key ID. This is unique within a Application Insights component.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The API Key for this key id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentAPIKey"}}}}}},"delete":{"description":"Delete an API Key of an Application Insights component.","operationId":"APIKeys_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"keyId","in":"path","description":"The API Key ID. This is unique within a Application Insights component.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The API Key that was successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentAPIKey"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ApiKeys":{"get":{"description":"Gets a list of API keys of an Application Insights component.","operationId":"APIKeys_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list containing 0 or more API key definitions of an Application Insights component.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentAPIKeyListResult"}}}}}},"post":{"description":"Create an API Key of an Application Insights component.","operationId":"APIKeys_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties that need to be specified to create an API key of a Application Insights component.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIKeyRequest"}}},"required":true},"responses":{"200":{"description":"An object containing the API Key definition created by this POST call.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentAPIKey"}}}}}}}},"components":{"schemas":{"APIKeyRequest":{"type":"object","properties":{"linkedReadProperties":{"type":"array","description":"The read access rights of this API Key.","items":{"type":"string"}},"linkedWriteProperties":{"type":"array","description":"The write access rights of this API Key.","items":{"type":"string"}},"name":{"type":"string","description":"The name of the API Key."}},"description":"An Application Insights component API Key creation request definition."},"ApplicationInsightsComponentAPIKey":{"type":"object","properties":{"apiKey":{"type":"string","description":"The API key value. It will be only return once when the API Key was created.","readOnly":true},"createdDate":{"type":"string","description":"The create date of this API key."},"id":{"type":"string","description":"The unique ID of the API key inside an Application Insights component. It is auto generated when the API key is created.","readOnly":true},"linkedReadProperties":{"type":"array","description":"The read access rights of this API Key.","items":{"type":"string"}},"linkedWriteProperties":{"type":"array","description":"The write access rights of this API Key.","items":{"type":"string"}},"name":{"type":"string","description":"The name of the API key."}},"description":"Properties that define an API key of an Application Insights Component."},"ApplicationInsightsComponentAPIKeyListResult":{"required":["value"],"type":"object","properties":{"value":{"type":"array","description":"List of API Key definitions.","items":{"$ref":"#/components/schemas/ApplicationInsightsComponentAPIKey"}}},"description":"Describes the list of API Keys of an Application Insights Component."}},"parameters":{"KeyId":{"name":"keyId","in":"path","description":"The API Key ID. This is unique within a Application Insights component.","required":true,"schema":{"type":"string"}},"ResourceNameParameter":{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}