{"openapi":"3.0.1","info":{"title":"WebApplicationFirewallManagement","description":"APIs to manage web application firewall rules.","version":"2019-10-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallManagedRuleSets":{"get":{"tags":["WebApplicationFirewallManagedRuleSets"],"description":"Lists all available managed rule sets.","operationId":"ManagedRuleSets_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The operation returns a list of all available web application firewall managed rule sets.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagedRuleSetDefinitionList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies":{"get":{"tags":["WebApplicationFirewallPolicies"],"description":"Lists all of the protection policies within a resource group.","operationId":"Policies_List","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$","type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebApplicationFirewallPolicyList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/{policyName}":{"get":{"tags":["WebApplicationFirewallPolicies"],"description":"Retrieve protection policy with specified name within a resource group.","operationId":"Policies_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$","type":"string"}},{"name":"policyName","in":"path","description":"The name of the Web Application Firewall Policy.","required":true,"schema":{"maxLength":128,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebApplicationFirewallPolicy"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["WebApplicationFirewallPolicies"],"description":"Create or update policy with specified rule set name within a resource group.","operationId":"Policies_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$","type":"string"}},{"name":"policyName","in":"path","description":"The name of the Web Application Firewall Policy.","required":true,"schema":{"maxLength":128,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Policy to be created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebApplicationFirewallPolicy"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebApplicationFirewallPolicy"}}}},"201":{"description":"Created. The request has been fulfilled and a new protection policy has been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebApplicationFirewallPolicy"}}}},"202":{"description":"Accepted. The request has been accepted for processing and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebApplicationFirewallPolicy"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["WebApplicationFirewallPolicies"],"description":"Deletes Policy","operationId":"Policies_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$","type":"string"}},{"name":"policyName","in":"path","description":"The name of the Web Application Firewall Policy.","required":true,"schema":{"maxLength":128,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete successful."},"202":{"description":"Accepted. The request has been accepted for processing and the operation will complete asynchronously."},"204":{"description":"No Content. The request has been accepted but the policy was not found."}}}}},"components":{"schemas":{"ActionType":{"type":"string","description":"Defines the action to take on rule match.","enum":["Allow","Block","Log","Redirect"]},"CustomRule":{"required":["action","matchConditions","priority","ruleType"],"type":"object","properties":{"action":{"$ref":"#/components/schemas/ActionType"},"enabledState":{"type":"string","description":"Describes if the custom rule is in enabled or disabled state. Defaults to Enabled if not specified.","enum":["Disabled","Enabled"]},"matchConditions":{"type":"array","description":"List of match conditions.","items":{"$ref":"#/components/schemas/MatchCondition"}},"name":{"maxLength":128,"type":"string","description":"Describes the name of the rule."},"priority":{"type":"integer","description":"Describes priority of the rule. Rules with a lower value will be evaluated before rules with a higher value."},"rateLimitDurationInMinutes":{"maximum":5,"minimum":0,"type":"integer","description":"Time window for resetting the rate limit count. Default is 1 minute."},"rateLimitThreshold":{"minimum":0,"type":"integer","description":"Number of allowed requests per client within the time window."},"ruleType":{"type":"string","description":"Describes type of rule.","enum":["MatchRule","RateLimitRule"]}},"description":"Defines contents of a web application rule"},"CustomRuleList":{"type":"object","properties":{"rules":{"type":"array","description":"List of rules","items":{"$ref":"#/components/schemas/CustomRule"}}},"description":"Defines contents of custom rules"},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code.","readOnly":true},"message":{"type":"string","description":"Error message indicating why the operation failed.","readOnly":true}},"description":"Error response indicates Front Door service is not able to process the incoming request. The reason is provided in the error message."},"FrontendEndpointLink":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."}},"description":"Defines the Resource ID for a Frontend Endpoint."},"ManagedRuleDefinition":{"type":"object","properties":{"defaultAction":{"$ref":"#/components/schemas/ActionType"},"defaultState":{"$ref":"#/components/schemas/ManagedRuleEnabledState"},"description":{"type":"string","description":"Describes the functionality of the managed rule.","readOnly":true},"ruleId":{"type":"string","description":"Identifier for the managed rule.","readOnly":true}},"description":"Describes a managed rule definition."},"ManagedRuleEnabledState":{"type":"string","description":"Describes if the managed rule is in enabled or disabled state.","enum":["Disabled","Enabled"]},"ManagedRuleExclusion":{"required":["matchVariable","selector","selectorMatchOperator"],"type":"object","properties":{"matchVariable":{"type":"string","description":"The variable type to be excluded.","enum":["RequestHeaderNames","RequestCookieNames","QueryStringArgNames","RequestBodyPostArgNames"]},"selector":{"type":"string","description":"Selector value for which elements in the collection this exclusion applies to."},"selectorMatchOperator":{"type":"string","description":"Comparison operator to apply to the selector when specifying which elements in the collection this exclusion applies to.","enum":["Equals","Contains","StartsWith","EndsWith","EqualsAny"]}},"description":"Exclude variables from managed rule evaluation."},"ManagedRuleGroupDefinition":{"type":"object","properties":{"description":{"type":"string","description":"Description of the managed rule group.","readOnly":true},"ruleGroupName":{"type":"string","description":"Name of the managed rule group.","readOnly":true},"rules":{"type":"array","description":"List of rules within the managed rule group.","readOnly":true,"items":{"$ref":"#/components/schemas/ManagedRuleDefinition"}}},"description":"Describes a managed rule group."},"ManagedRuleGroupOverride":{"required":["ruleGroupName"],"type":"object","properties":{"exclusions":{"type":"array","description":"Describes the exclusions that are applied to all rules in the group.","items":{"$ref":"#/components/schemas/ManagedRuleExclusion"}},"ruleGroupName":{"type":"string","description":"Describes the managed rule group to override."},"rules":{"type":"array","description":"List of rules that will be disabled. If none specified, all rules in the group will be disabled.","items":{"$ref":"#/components/schemas/ManagedRuleOverride"}}},"description":"Defines a managed rule group override setting."},"ManagedRuleOverride":{"required":["ruleId"],"type":"object","properties":{"action":{"$ref":"#/components/schemas/ActionType"},"enabledState":{"$ref":"#/components/schemas/ManagedRuleEnabledState"},"exclusions":{"type":"array","description":"Describes the exclusions that are applied to this specific rule.","items":{"$ref":"#/components/schemas/ManagedRuleExclusion"}},"ruleId":{"type":"string","description":"Identifier for the managed rule."}},"description":"Defines a managed rule group override setting."},"ManagedRuleSet":{"required":["ruleSetType","ruleSetVersion"],"type":"object","properties":{"exclusions":{"type":"array","description":"Describes the exclusions that are applied to all rules in the set.","items":{"$ref":"#/components/schemas/ManagedRuleExclusion"}},"ruleGroupOverrides":{"type":"array","description":"Defines the rule group overrides to apply to the rule set.","items":{"$ref":"#/components/schemas/ManagedRuleGroupOverride"}},"ruleSetType":{"type":"string","description":"Defines the rule set type to use."},"ruleSetVersion":{"type":"string","description":"Defines the version of the rule set to use."}},"description":"Defines a managed rule set."},"ManagedRuleSetDefinition":{"properties":{"properties":{"$ref":"#/components/schemas/ManagedRuleSetDefinitionProperties"}},"description":"Describes the a managed rule set definition.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"ManagedRuleSetDefinitionList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to retrieve next set of managed rule set definitions."},"value":{"type":"array","description":"List of managed rule set definitions.","readOnly":true,"items":{"$ref":"#/components/schemas/ManagedRuleSetDefinition"}}},"description":"List of managed rule set definitions available for use in a policy."},"ManagedRuleSetDefinitionProperties":{"type":"object","properties":{"provisioningState":{"type":"string","description":"Provisioning state of the managed rule set.","readOnly":true},"ruleGroups":{"type":"array","description":"Rule groups of the managed rule set.","readOnly":true,"items":{"$ref":"#/components/schemas/ManagedRuleGroupDefinition"}},"ruleSetType":{"type":"string","description":"Type of the managed rule set.","readOnly":true},"ruleSetVersion":{"type":"string","description":"Version of the managed rule set type.","readOnly":true}},"description":"Properties for a managed rule set definition."},"ManagedRuleSetList":{"type":"object","properties":{"managedRuleSets":{"type":"array","description":"List of rule sets.","items":{"$ref":"#/components/schemas/ManagedRuleSet"}}},"description":"Defines the list of managed rule sets for the policy."},"MatchCondition":{"required":["matchValue","matchVariable","operator"],"type":"object","properties":{"matchValue":{"type":"array","description":"List of possible match values.","items":{"type":"string"}},"matchVariable":{"type":"string","description":"Request variable to compare with.","enum":["RemoteAddr","RequestMethod","QueryString","PostArgs","RequestUri","RequestHeader","RequestBody","Cookies","SocketAddr"]},"negateCondition":{"type":"boolean","description":"Describes if the result of this condition should be negated."},"operator":{"type":"string","description":"Comparison type to use for matching with the variable value.","enum":["Any","IPMatch","GeoMatch","Equal","Contains","LessThan","GreaterThan","LessThanOrEqual","GreaterThanOrEqual","BeginsWith","EndsWith","RegEx"]},"selector":{"type":"string","description":"Match against a specific key from the QueryString, PostArgs, RequestHeader or Cookies variables. Default is null."},"transforms":{"type":"array","description":"List of transforms.","items":{"$ref":"#/components/schemas/TransformType"}}},"description":"Define a match condition."},"PolicySettings":{"type":"object","properties":{"customBlockResponseBody":{"pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$","type":"string","description":"If the action type is block, customer can override the response body. The body must be specified in base64 encoding."},"customBlockResponseStatusCode":{"type":"integer","description":"If the action type is block, customer can override the response status code."},"enabledState":{"type":"string","description":"Describes if the policy is in enabled or disabled state. Defaults to Enabled if not specified.","enum":["Disabled","Enabled"]},"mode":{"type":"string","description":"Describes if it is in detection mode or prevention mode at policy level.","enum":["Prevention","Detection"]},"redirectUrl":{"type":"string","description":"If action type is redirect, this field represents redirect URL for the client."}},"description":"Defines top-level WebApplicationFirewallPolicy configuration settings."},"TransformType":{"type":"string","description":"Describes what transforms applied before matching.","enum":["Lowercase","Uppercase","Trim","UrlDecode","UrlEncode","RemoveNulls"]},"WebApplicationFirewallPolicy":{"properties":{"etag":{"type":"string","description":"Gets a unique read-only string that changes whenever the resource is updated."},"properties":{"$ref":"#/components/schemas/WebApplicationFirewallPolicyProperties"}},"description":"Defines web application firewall policy.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"WebApplicationFirewallPolicyList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of WebApplicationFirewallPolicy objects if there are any."},"value":{"type":"array","description":"List of WebApplicationFirewallPolicies within a resource group.","readOnly":true,"items":{"$ref":"#/components/schemas/WebApplicationFirewallPolicy"}}},"description":"Defines a list of WebApplicationFirewallPolicies. It contains a list of WebApplicationFirewallPolicy objects and a URL link to get the next set of results."},"WebApplicationFirewallPolicyProperties":{"type":"object","properties":{"customRules":{"$ref":"#/components/schemas/CustomRuleList"},"frontendEndpointLinks":{"type":"array","description":"Describes Frontend Endpoints associated with this Web Application Firewall policy.","readOnly":true,"items":{"$ref":"#/components/schemas/FrontendEndpointLink"}},"managedRules":{"$ref":"#/components/schemas/ManagedRuleSetList"},"policySettings":{"$ref":"#/components/schemas/PolicySettings"},"provisioningState":{"type":"string","description":"Provisioning state of the policy.","readOnly":true},"resourceState":{"title":"Resource status of the policy.","type":"string","readOnly":true,"enum":["Creating","Enabling","Enabled","Disabling","Disabled","Deleting"]}},"description":"Defines web application firewall policy properties."}},"parameters":{"PolicyNameParameter":{"name":"policyName","in":"path","description":"The name of the Web Application Firewall Policy.","required":true,"schema":{"maxLength":128,"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"Name of the Resource group within the Azure subscription.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"^[a-zA-Z0-9_\\-\\(\\)\\.]*[^\\.]$","type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}