{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MonitorManagementClient",
    "version" : "2018-09-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/{resourceUri}/providers/microsoft.insights/calculatebaseline" : {
      "post" : {
        "tags" : [ "Baseline" ],
        "description" : "**Lists the baseline values for a resource**.",
        "operationId" : "MetricBaseline_CalculateBaseline",
        "parameters" : [ {
          "name" : "resourceUri",
          "in" : "path",
          "description" : "The identifier of the resource. It has the following structure: subscriptions/{subscriptionName}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceName}. For example: subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/vms/providers/Microsoft.Compute/virtualMachines/vm1",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Information that need to be specified to calculate a baseline on a time series.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TimeSeriesInformation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful request to get the list of metric values.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CalculateBaselineResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Baseline" : {
        "required" : [ "highThresholds", "lowThresholds", "sensitivity" ],
        "type" : "object",
        "properties" : {
          "highThresholds" : {
            "type" : "array",
            "description" : "The high thresholds of the baseline.",
            "items" : {
              "type" : "number",
              "description" : "A single high threshold value.",
              "format" : "double"
            }
          },
          "lowThresholds" : {
            "type" : "array",
            "description" : "The low thresholds of the baseline.",
            "items" : {
              "type" : "number",
              "description" : "A single low threshold value.",
              "format" : "double"
            }
          },
          "sensitivity" : {
            "type" : "string",
            "description" : "The sensitivity of the baseline.",
            "enum" : [ "Low", "Medium", "High" ]
          }
        },
        "description" : "The baseline values for a single sensitivity value."
      },
      "CalculateBaselineResponse" : {
        "required" : [ "baseline", "type" ],
        "type" : "object",
        "properties" : {
          "baseline" : {
            "type" : "array",
            "description" : "The baseline values for each sensitivity.",
            "items" : {
              "$ref" : "#/components/schemas/Baseline"
            }
          },
          "timestamps" : {
            "type" : "array",
            "description" : "The array of timestamps of the baselines.",
            "items" : {
              "type" : "string",
              "description" : "The timestamp for the baseline value in ISO 8601 format.",
              "format" : "date-time"
            }
          },
          "type" : {
            "type" : "string",
            "description" : "The resource type of the baseline resource."
          }
        },
        "description" : "The response to a calculate baseline call."
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Describes the format of Error response."
      },
      "TimeSeriesInformation" : {
        "required" : [ "sensitivities", "values" ],
        "type" : "object",
        "properties" : {
          "sensitivities" : {
            "type" : "array",
            "description" : "The list of sensitivities for calculating the baseline.",
            "items" : {
              "type" : "string",
              "description" : "The requested sensitivity for calculating the baseline."
            }
          },
          "timestamps" : {
            "type" : "array",
            "description" : "The array of timestamps of the baselines.",
            "items" : {
              "type" : "string",
              "description" : "The timestamp for the baseline value in ISO 8601 format.",
              "format" : "date-time"
            }
          },
          "values" : {
            "type" : "array",
            "description" : "The metric values to calculate the baseline.",
            "items" : {
              "type" : "number",
              "description" : "A single metric value.",
              "format" : "double"
            }
          }
        },
        "description" : "The time series info needed for calculating the baseline."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ExtendedResourceUriParameter" : {
        "name" : "resourceUri",
        "in" : "path",
        "description" : "The identifier of the resource. It has the following structure: subscriptions/{subscriptionName}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceName}. For example: subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/vms/providers/Microsoft.Compute/virtualMachines/vm1",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}