{"openapi":"3.0.1","info":{"title":"Cambase.io","description":"Cambase.io is a project by Evercam.io in order to make it easier for software developers to have a reliable, up to date source of model hardware information available via a public API.","version":"1.0"},"servers":[{"url":"http://api.cambase.io/"}],"tags":[{"name":"models","description":"Models"},{"name":"recorders","description":"Recorders"},{"name":"vendors","description":"Vendors"}],"paths":{"/api/v1/models.json":{"get":{"tags":["models"],"summary":"Fetches all Models","operationId":"Api::V1::Models#index","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer"}},{"name":"order","in":"query","description":"Sort order","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"406":{"description":"The request you made is not acceptable"},"416":{"description":"Requested Range Not Satisfiable"}}},"post":{"tags":["models"],"summary":"Creates a new Model","operationId":"Api::V1::Models#create","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["model[model]","vendor_id"],"type":"object","properties":{"vendor_id":{"type":"string","description":"Vendor ID"},"model[model]":{"type":"string","description":"Model"},"model[shape]":{"type":"string","description":"Shape"},"model[resolution]":{"type":"string","description":"Resolution"},"model[onvif]":{"type":"string","description":"ONVIF"},"model[psia]":{"type":"string","description":"PSIA"},"model[ptz]":{"type":"string","description":"PTZ"},"model[infrared]":{"type":"string","description":"Infrared"},"model[varifocal]":{"type":"string","description":"Varifocal"},"model[sd_card]":{"type":"string","description":"SD Card"},"model[upnp]":{"type":"string","description":"UPnP"},"model[audio_in]":{"type":"string","description":"UPnP"},"model[audio_out]":{"type":"string","description":"UPnP"},"model[default_username]":{"type":"string","description":"Default Username"},"model[default_password]":{"type":"string","description":"Default Password"},"model[jpeg_url]":{"type":"string","description":"JPEG URL"},"model[h264_url]":{"type":"string","description":"H264 URL"},"model[mjpeg_url]":{"type":"string","description":"MJPEG URL"}}}}},"required":true},"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"}}}},"/api/v1/models/search.json":{"get":{"tags":["models"],"summary":"Searches all Models","operationId":"Api::V1::Models#search","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer"}},{"name":"q[model_cont]","in":"query","description":"Model","schema":{"type":"string"}},{"name":"q[manufacturer_name_cont]","in":"query","description":"Vendor","schema":{"type":"string"}},{"name":"q[shape_eq]","in":"query","description":"Shape","schema":{"type":"string"}},{"name":"q[resolution_eq]","in":"query","description":"Resolution","schema":{"type":"string"}},{"name":"q[onvif_true]","in":"query","description":"ONVIF","schema":{"type":"string"}},{"name":"q[psia_true]","in":"query","description":"PSIA","schema":{"type":"string"}},{"name":"q[ptz_true]","in":"query","description":"PTZ","schema":{"type":"string"}},{"name":"q[infrared_true]","in":"query","description":"Infrared","schema":{"type":"string"}},{"name":"q[varifocal_true]","in":"query","description":"Varifocal","schema":{"type":"string"}},{"name":"q[sd_card_true]","in":"query","description":"SD Card","schema":{"type":"string"}},{"name":"q[upnp_true]","in":"query","description":"UPnP","schema":{"type":"string"}},{"name":"q[audio_in_true]","in":"query","description":"Audio In","schema":{"type":"string"}},{"name":"q[audio_out_true]","in":"query","description":"Audio Out","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"406":{"description":"The request you made is not acceptable"},"416":{"description":"Requested Range Not Satisfiable"}}}},"/api/v1/models/{id}.json":{"get":{"tags":["models"],"summary":"Fetches a single Model","operationId":"Api::V1::Models#show","parameters":[{"name":"id","in":"path","description":"Model ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"406":{"description":"Not Acceptable"}}},"put":{"tags":["models"],"summary":"Updates an existing Model","parameters":[{"name":"id","in":"path","description":"Model ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["vendor_id"],"type":"object","properties":{"vendor_id":{"type":"string","description":"Vendor ID"},"model[model]":{"type":"string","description":"Model"},"model[shape]":{"type":"string","description":"Shape"},"model[resolution]":{"type":"string","description":"Resolution"},"model[onvif]":{"type":"string","description":"ONVIF"},"model[psia]":{"type":"string","description":"PSIA"},"model[ptz]":{"type":"string","description":"PTZ"},"model[infrared]":{"type":"string","description":"Infrared"},"model[varifocal]":{"type":"string","description":"Varifocal"},"model[sd_card]":{"type":"string","description":"SD Card"},"model[upnp]":{"type":"string","description":"UPnP"},"model[audio_in]":{"type":"string","description":"Audio In"},"model[audio_out]":{"type":"string","description":"Audio Out"},"model[default_username]":{"type":"string","description":"Default Username"},"model[default_password]":{"type":"string","description":"Default Password"},"model[jpeg_url]":{"type":"string","description":"JPEG URL"},"model[h264_url]":{"type":"string","description":"H264 URL"},"model[mjpeg_url]":{"type":"string","description":"MJPEG URL"}}}}},"required":true},"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"406":{"description":"Not Acceptable"}}},"patch":{"tags":["models"],"summary":"Updates an existing Model","parameters":[{"name":"id","in":"path","description":"Model ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["vendor_id"],"type":"object","properties":{"vendor_id":{"type":"string","description":"Vendor ID"},"model[model]":{"type":"string","description":"Model"},"model[shape]":{"type":"string","description":"Shape"},"model[resolution]":{"type":"string","description":"Resolution"},"model[onvif]":{"type":"string","description":"ONVIF"},"model[psia]":{"type":"string","description":"PSIA"},"model[ptz]":{"type":"string","description":"PTZ"},"model[infrared]":{"type":"string","description":"Infrared"},"model[varifocal]":{"type":"string","description":"Varifocal"},"model[sd_card]":{"type":"string","description":"SD Card"},"model[upnp]":{"type":"string","description":"UPnP"},"model[audio_in]":{"type":"string","description":"Audio In"},"model[audio_out]":{"type":"string","description":"Audio Out"},"model[default_username]":{"type":"string","description":"Default Username"},"model[default_password]":{"type":"string","description":"Default Password"},"model[jpeg_url]":{"type":"string","description":"JPEG URL"},"model[h264_url]":{"type":"string","description":"H264 URL"},"model[mjpeg_url]":{"type":"string","description":"MJPEG URL"}}}}},"required":true},"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"406":{"description":"Not Acceptable"}}}},"/api/v1/recorders.json":{"get":{"tags":["recorders"],"summary":"Fetches all Recorders","operationId":"Api::V1::Recorders#index","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer"}},{"name":"order","in":"query","description":"Sort order","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"406":{"description":"The request you made is not acceptable"},"416":{"description":"Requested Range Not Satisfiable"}}},"post":{"tags":["recorders"],"summary":"Creates a new Recorder","operationId":"Api::V1::Recorders#create","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["recorder[model]","recorder[name]","recorder[recorder_type]","vendor_id"],"type":"object","properties":{"vendor_id":{"type":"string","description":"Vendor ID"},"recorder[model]":{"type":"string","description":"Model"},"recorder[name]":{"type":"string","description":"Name"},"recorder[recorder_type]":{"type":"string","description":"Type"},"recorder[resolution]":{"type":"string","description":"Resolution"},"recorder[onvif]":{"type":"string","description":"ONVIF"},"recorder[psia]":{"type":"string","description":"PSIA"},"recorder[ptz]":{"type":"string","description":"PTZ"},"recorder[discontinued]":{"type":"string","description":"Discontinued"},"recorder[support_3rdparty]":{"type":"string","description":"3rd pparty Camera Support"},"recorder[sd_card]":{"type":"string","description":"SD Card"},"recorder[upnp]":{"type":"string","description":"UPnP"},"recorder[hot_swap]":{"type":"string","description":"Hot Swap"},"recorder[hdmi]":{"type":"string","description":"HDMI Support"},"recorder[digital_io]":{"type":"string","description":"Digital I/O"},"recorder[audio_in]":{"type":"string","description":"Audio In"},"recorder[audio_out]":{"type":"string","description":"Audio Out"},"recorder[input_channels]":{"type":"string","description":"Input Channels"},"recorder[playback_channels]":{"type":"string","description":"Playback Channels"},"recorder[usb]":{"type":"string","description":"USB Ports"},"recorder[sdhc]":{"type":"string","description":"SD Card (GB)"},"recorder[mobile_access]":{"type":"string","description":"Mobile Access"},"recorder[alarms]":{"type":"string","description":"Alarms"},"recorder[raid_support]":{"type":"string","description":"Raid Support"},"recorder[storage]":{"type":"string","description":"Internal Storage"},"recorder[additional_information]":{"type":"string","description":"Additional Information"},"recorder[default_username]":{"type":"string","description":"Default Username"},"recorder[default_password]":{"type":"string","description":"Default Password"},"recorder[jpeg_url]":{"type":"string","description":"JPEG URL"},"recorder[h264_url]":{"type":"string","description":"H264 URL"},"recorder[mjpeg_url]":{"type":"string","description":"MJPEG URL"},"recorder[official_url]":{"type":"string","description":"Official URL"}}}}},"required":true},"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"}}}},"/api/v1/recorders/search.json":{"get":{"tags":["recorders"],"summary":"Searches all Recorders","operationId":"Api::V1::Recorders#search","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer"}},{"name":"q[model_cont]","in":"query","description":"Model","schema":{"type":"string"}},{"name":"q[vendor_name_cont]","in":"query","description":"Vendor","schema":{"type":"string"}},{"name":"q[sdhc_eq]","in":"query","description":"SD Card (GB)","schema":{"type":"string"}},{"name":"q[type_eq]","in":"query","description":"Type","schema":{"type":"string"}},{"name":"q[resolution_eq]","in":"query","description":"Resolution","schema":{"type":"string"}},{"name":"q[input_channels_eq]","in":"query","description":"Input Channels","schema":{"type":"string"}},{"name":"q[playback_channels_eq]","in":"query","description":"Playback Channels","schema":{"type":"string"}},{"name":"q[onvif_true]","in":"query","description":"ONVIF","schema":{"type":"string"}},{"name":"q[psia_true]","in":"query","description":"PSIA","schema":{"type":"string"}},{"name":"q[ptz_true]","in":"query","description":"PTZ","schema":{"type":"string"}},{"name":"q[sd_card_true]","in":"query","description":"SD Card","schema":{"type":"string"}},{"name":"q[upnp_true]","in":"query","description":"UPnP","schema":{"type":"string"}},{"name":"q[audio_in_true]","in":"query","description":"Audio In","schema":{"type":"string"}},{"name":"q[audio_out_true]","in":"query","description":"Audio Out","schema":{"type":"string"}},{"name":"q[hdmi_true]","in":"query","description":"HDMI Support","schema":{"type":"string"}},{"name":"q[hot_swap_true]","in":"query","description":"Hot Swap","schema":{"type":"string"}},{"name":"q[support_3rdparty_true]","in":"query","description":"3rd pparty Camera Support","schema":{"type":"string"}},{"name":"q[digital_io_true]","in":"query","description":"Digital I/O","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"406":{"description":"The request you made is not acceptable"},"416":{"description":"Requested Range Not Satisfiable"}}}},"/api/v1/recorders/{id}.json":{"get":{"tags":["recorders"],"summary":"Fetches a single Recorder","operationId":"Api::V1::Recorders#show","parameters":[{"name":"id","in":"path","description":"Recorder ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"406":{"description":"Not Acceptable"}}},"put":{"tags":["recorders"],"summary":"Updates an existing Recorder","parameters":[{"name":"id","in":"path","description":"Recorder ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["recorder[model]","recorder[name]","recorder[recorder_type]","vendor_id"],"type":"object","properties":{"vendor_id":{"type":"string","description":"Vendor ID"},"recorder[model]":{"type":"string","description":"Model"},"recorder[name]":{"type":"string","description":"Name"},"recorder[recorder_type]":{"type":"string","description":"Type"},"recorder[resolution]":{"type":"string","description":"Resolution"},"recorder[onvif]":{"type":"string","description":"ONVIF"},"recorder[psia]":{"type":"string","description":"PSIA"},"recorder[ptz]":{"type":"string","description":"PTZ"},"recorder[discontinued]":{"type":"string","description":"Discontinued"},"recorder[support_3rdparty]":{"type":"string","description":"3rd pparty Camera Support"},"recorder[sd_card]":{"type":"string","description":"SD Card"},"recorder[upnp]":{"type":"string","description":"UPnP"},"recorder[hot_swap]":{"type":"string","description":"Hot Swap"},"recorder[hdmi]":{"type":"string","description":"HDMI Support"},"recorder[digital_io]":{"type":"string","description":"Digital I/O"},"recorder[audio_in]":{"type":"string","description":"Audio In"},"recorder[audio_out]":{"type":"string","description":"Audio Out"},"recorder[input_channels]":{"type":"string","description":"Input Channels"},"recorder[playback_channels]":{"type":"string","description":"Playback Channels"},"recorder[usb]":{"type":"string","description":"USB Ports"},"recorder[sdhc]":{"type":"string","description":"SD Card (GB)"},"recorder[mobile_access]":{"type":"string","description":"Mobile Access"},"recorder[alarms]":{"type":"string","description":"Alarms"},"recorder[raid_support]":{"type":"string","description":"Raid Support"},"recorder[storage]":{"type":"string","description":"Internal Storage"},"recorder[additional_information]":{"type":"string","description":"Additional Information"},"recorder[default_username]":{"type":"string","description":"Default Username"},"recorder[default_password]":{"type":"string","description":"Default Password"},"recorder[jpeg_url]":{"type":"string","description":"JPEG URL"},"recorder[h264_url]":{"type":"string","description":"H264 URL"},"recorder[mjpeg_url]":{"type":"string","description":"MJPEG URL"},"recorder[official_url]":{"type":"string","description":"Official URL"}}}}},"required":true},"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"406":{"description":"Not Acceptable"}}},"patch":{"tags":["recorders"],"summary":"Updates an existing Recorder","parameters":[{"name":"id","in":"path","description":"Recorder ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["recorder[model]","recorder[name]","recorder[recorder_type]","vendor_id"],"type":"object","properties":{"vendor_id":{"type":"string","description":"Vendor ID"},"recorder[model]":{"type":"string","description":"Model"},"recorder[name]":{"type":"string","description":"Name"},"recorder[recorder_type]":{"type":"string","description":"Type"},"recorder[resolution]":{"type":"string","description":"Resolution"},"recorder[onvif]":{"type":"string","description":"ONVIF"},"recorder[psia]":{"type":"string","description":"PSIA"},"recorder[ptz]":{"type":"string","description":"PTZ"},"recorder[discontinued]":{"type":"string","description":"Discontinued"},"recorder[support_3rdparty]":{"type":"string","description":"3rd pparty Camera Support"},"recorder[sd_card]":{"type":"string","description":"SD Card"},"recorder[upnp]":{"type":"string","description":"UPnP"},"recorder[hot_swap]":{"type":"string","description":"Hot Swap"},"recorder[hdmi]":{"type":"string","description":"HDMI Support"},"recorder[digital_io]":{"type":"string","description":"Digital I/O"},"recorder[audio_in]":{"type":"string","description":"Audio In"},"recorder[audio_out]":{"type":"string","description":"Audio Out"},"recorder[input_channels]":{"type":"string","description":"Input Channels"},"recorder[playback_channels]":{"type":"string","description":"Playback Channels"},"recorder[usb]":{"type":"string","description":"USB Ports"},"recorder[sdhc]":{"type":"string","description":"SD Card (GB)"},"recorder[mobile_access]":{"type":"string","description":"Mobile Access"},"recorder[alarms]":{"type":"string","description":"Alarms"},"recorder[raid_support]":{"type":"string","description":"Raid Support"},"recorder[storage]":{"type":"string","description":"Internal Storage"},"recorder[additional_information]":{"type":"string","description":"Additional Information"},"recorder[default_username]":{"type":"string","description":"Default Username"},"recorder[default_password]":{"type":"string","description":"Default Password"},"recorder[jpeg_url]":{"type":"string","description":"JPEG URL"},"recorder[h264_url]":{"type":"string","description":"H264 URL"},"recorder[mjpeg_url]":{"type":"string","description":"MJPEG URL"},"recorder[official_url]":{"type":"string","description":"Official URL"}}}}},"required":true},"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"406":{"description":"Not Acceptable"}}}},"/api/v1/vendors.json":{"get":{"tags":["vendors"],"summary":"Fetches all Vendors","operationId":"Api::V1::Vendors#index","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer"}},{"name":"order","in":"query","description":"Sort order","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"406":{"description":"The request you made is not acceptable"},"416":{"description":"Requested Range Not Satisfiable"}}},"post":{"tags":["vendors"],"summary":"Creates a new Vendor","operationId":"Api::V1::Vendors#create","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["vendor[name]"],"type":"object","properties":{"vendor[name]":{"type":"string","description":"Name"},"vendor[info]":{"type":"string","description":"Info."},"vendor[url]":{"type":"string","description":"Website"},"vendor[mac]":{"type":"string","description":"MAC"}}}}},"required":true},"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"}}}},"/api/v1/vendors/{id}.json":{"get":{"tags":["vendors"],"summary":"Fetches a single Vendor","operationId":"Api::V1::Vendors#show","parameters":[{"name":"id","in":"path","description":"Vendor ID","required":true,"schema":{"type":"string"}},{"name":"order","in":"query","description":"Sort order","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"406":{"description":"Not Acceptable"}}},"put":{"tags":["vendors"],"summary":"Updates an existing Vendor","parameters":[{"name":"id","in":"path","description":"Vendor ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"vendor[name]":{"type":"string","description":"Name"},"vendor[info]":{"type":"string","description":"Info."},"vendor[url]":{"type":"string","description":"Website"},"vendor[mac]":{"type":"string","description":"MAC"}}}}}},"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"406":{"description":"Not Acceptable"}}},"patch":{"tags":["vendors"],"summary":"Updates an existing Vendor","parameters":[{"name":"id","in":"path","description":"Vendor ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"vendor[name]":{"type":"string","description":"Name"},"vendor[info]":{"type":"string","description":"Info."},"vendor[url]":{"type":"string","description":"Website"},"vendor[mac]":{"type":"string","description":"MAC"}}}}}},"responses":{"200":{"description":"No response was specified"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"},"406":{"description":"Not Acceptable"}}}}}}