{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SubscriptionsManagementClient",
    "description" : "The Admin Subscriptions Management Client.",
    "version" : "2015-11-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations" : {
      "get" : {
        "tags" : [ "OfferDelegations" ],
        "description" : "Get the list of offer delegations.",
        "operationId" : "OfferDelegations_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offer",
          "in" : "path",
          "description" : "Name of an offer.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OfferDelegationList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations/{offerDelegationName}" : {
      "get" : {
        "tags" : [ "OfferDelegations" ],
        "description" : "Get the specified offer delegation.",
        "operationId" : "OfferDelegations_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offer",
          "in" : "path",
          "description" : "Name of an offer.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerDelegationName",
          "in" : "path",
          "description" : "Name of a offer delegation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OfferDelegation"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "OfferDelegations" ],
        "description" : "Create or update the offer delegation.",
        "operationId" : "OfferDelegations_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offer",
          "in" : "path",
          "description" : "Name of an offer.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerDelegationName",
          "in" : "path",
          "description" : "Name of a offer delegation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "requestBody" : {
          "description" : "New offer delegation parameter.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OfferDelegation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OfferDelegation"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OfferDelegation"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "OfferDelegations" ],
        "description" : "Delete the specified offer delegation.",
        "operationId" : "OfferDelegations_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offer",
          "in" : "path",
          "description" : "Name of an offer.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offerDelegationName",
          "in" : "path",
          "description" : "Name of a offer delegation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "204" : {
            "description" : "No Content"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "OfferDelegation" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/OfferDelegationProperties"
          }
        },
        "description" : "Offer delegation.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource"
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key-value pairs.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base Resource Object"
        } ]
      },
      "OfferDelegationList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Continuation token"
          },
          "value" : {
            "type" : "array",
            "description" : "Array of usage aggregates.",
            "items" : {
              "$ref" : "#/components/schemas/OfferDelegation"
            }
          }
        },
        "description" : "."
      },
      "OfferDelegationProperties" : {
        "type" : "object",
        "properties" : {
          "subscriptionId" : {
            "type" : "string",
            "description" : "Identifier of the subscription receiving the delegated offer."
          }
        },
        "description" : "Properties for an offer delegation."
      }
    },
    "parameters" : {
      "OfferDelegationParameter" : {
        "name" : "offerDelegationName",
        "in" : "path",
        "description" : "Name of a offer delegation.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "NewOfferDelegationParameter" : {
        "description" : "New offer delegation parameter.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/OfferDelegation"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 flow"
      }
    }
  }
}