{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "hetras Booking API Version 0",
    "version" : "v0"
  },
  "servers" : [ {
    "url" : "https://api.hetras-certification.net/"
  } ],
  "paths" : {
    "/api/booking/v0/addons" : {
      "get" : {
        "tags" : [ "Addons" ],
        "summary" : "Get a list of offers for addon services for the specified guest stay details.",
        "description" : "With the addons request you can get a list of offers for addon services available for a specific rate, room type\r\n            and guest stay details.The channel code will define which rates will be returned based on the access control \r\n            configuration for related rates.",
        "operationId" : "Addons_Get",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hotelId",
          "in" : "query",
          "description" : "Specifies the hotel id to request offers for.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "arrivalDate",
          "in" : "query",
          "description" : "Date from when the addon service will be booked to the reservation in the ISO-8601 format \"YYYY-MM-DD\".",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "departureDate",
          "in" : "query",
          "description" : "Date until when the addon service will be booked to the reservation in the ISO-8601 format \"YYYY-MM-DD\".\r\n            This is usually the departure date of the reservation.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "channelCode",
          "in" : "query",
          "description" : "Channel Code the rate plan needs to be configured for.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "adults",
          "in" : "query",
          "description" : "Number of adults per room.",
          "required" : true,
          "schema" : {
            "maximum" : 255,
            "minimum" : 1,
            "type" : "string",
            "format" : "byte"
          }
        }, {
          "name" : "rooms",
          "in" : "query",
          "description" : "Number of rooms.",
          "required" : true,
          "schema" : {
            "maximum" : 255,
            "minimum" : 1,
            "type" : "string",
            "format" : "byte"
          }
        }, {
          "name" : "roomType",
          "in" : "query",
          "description" : "Only return offers for the specified room type code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ratePlanCode",
          "in" : "query",
          "description" : "Only return offers for the specified rate plan code.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expand",
          "in" : "query",
          "description" : "Expand the rates breakdown if required.",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "Breakdown" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All addon offers for the requested stay details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Addons"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Addons"
                }
              }
            }
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "422" : {
            "description" : "The request failed to validate. Either a mandatory parameter was missing or no offers for \r\n            the requested stay details"
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/availability" : {
      "get" : {
        "tags" : [ "Availability" ],
        "summary" : "Gets the availability and occupancy for a specific hotel and timespan.",
        "description" : "Read past occupancy and future availability for a specific hotel. You can also request the breakdown per room type.",
        "operationId" : "Availability_Get",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hotelId",
          "in" : "query",
          "description" : "Specifies the hotel id to request the availability for.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Defines the first business day you would like to get availability numbers for.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Defines the last business day you would like to get availability numbers for. The maximum time span between <i>from</i>´and <i>to</i>\r\n            is limited to 365 days.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "expand",
          "in" : "query",
          "description" : "You can expand the room types breakdown per business day for the availibility numbers if need be.",
          "schema" : {
            "type" : "string",
            "enum" : [ "RoomTypes" ]
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Amount of items to skip.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "top",
          "in" : "query",
          "description" : "Amount of items to select.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "inlinecount",
          "in" : "query",
          "description" : "Return total number of items for a given filter criteria.",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "AllPages" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of availabilities per business day.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailabilityResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailabilityResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request. Request parameters syntactically erroneous."
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/blocks" : {
      "get" : {
        "tags" : [ "Blocks" ],
        "summary" : "Gets a list of blocks.",
        "description" : "With this endpoint you can request a list of blocks for the hotel chain. Currently we only support to optionally\r\n            filter by the group code linked to the block. Additional filters will be available soon.",
        "operationId" : "Blocks_GetBlocksAsync",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hotelId",
          "in" : "query",
          "description" : "Only return blocks for this specific hotel.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "groupCode",
          "in" : "query",
          "description" : "Filter the blocks by the specified group code",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Return all blocks where the block's last_departure is greater than specified date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Return all blocks where the block's last_departure is less than specified date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Return all blocks where the block status is one of the specified values.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Cancelled", "Tentative", "Definite" ]
          }
        }, {
          "name" : "ratePlanCodes",
          "in" : "query",
          "description" : "Return all blocks that have related the specified comma-separated rate plans.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "countDetails",
          "in" : "query",
          "description" : "If true it will include also details of block count per each room type.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Amount of items to skip.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "top",
          "in" : "query",
          "description" : "Amount of items to select.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "inlinecount",
          "in" : "query",
          "description" : "Return total number of items for a given filter criteria.",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "AllPages" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationToken"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns a list of blocks matching the provided filter criteria.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Object"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Object"
                }
              }
            }
          },
          "204" : {
            "description" : "There are no blocks matching your filter criteria."
          },
          "400" : {
            "description" : "Bad request. Request parameters syntactically erroneous."
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/blocks/$count" : {
      "get" : {
        "tags" : [ "Blocks" ],
        "summary" : "Get total blocks count that match the given filter criteria.",
        "operationId" : "Blocks_GetBlocksCountAsync",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hotelId",
          "in" : "query",
          "description" : "Only return blocks for this specific hotel.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "groupCode",
          "in" : "query",
          "description" : "Filter the blocks by the specified group code",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Return all blocks where the block's last_departure is greater than specified date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Return all blocks where the block's last_departure is less than specified date.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Return all blocks where the block status is one of the specified values.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Cancelled", "Tentative", "Definite" ]
          }
        }, {
          "name" : "ratePlanCodes",
          "in" : "query",
          "description" : "Return all blocks that have related the specified comma-separated rate plans.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "countDetails",
          "in" : "query",
          "description" : "If true it will include also details of block count per each room type.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationToken"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The total blocks count for a given filter criteria.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TotalCountResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TotalCountResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "500" : {
            "description" : "We couldn't return the representation due to an internal server error."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/blocks/{blockCode}" : {
      "get" : {
        "tags" : [ "Blocks" ],
        "summary" : "Gets the details for a specific block.",
        "description" : "Read all informationen about a block including the numbers of blocked rooms per room type and business day.",
        "operationId" : "Blocks_GetSingleBlockAsync",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "blockCode",
          "in" : "path",
          "description" : "Specifies the block code. The block code is composed of the hotel code, a dash and the block code \r\n            as shown in the hetras UI.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationToken"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns you all details for the specific block.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Object"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request. Request parameters syntactically erroneous."
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/bookings" : {
      "get" : {
        "tags" : [ "Bookings" ],
        "summary" : "Find bookings matching the given filter criteria.",
        "description" : "Here you can easily find bookings matching various criteria. The booking you are looking for has to fullfill all the specified criteria\r\n            at the same time. So if you specify a customer name and a channel code you will get all bookings where the firstname or lastname of a guest or a \r\n            contact contains the specified value and that have been done through the defined channel.\r\n            A booking can consist of multiple reservations, so even if you are looking for a specific reservation which is part of a multi-room booking you will get\r\n            all reservations for this booking returned.",
        "operationId" : "Bookings_GetBookings",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hotelId",
          "in" : "query",
          "description" : "Only return bookings for this specific hotel.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "cancellationId",
          "in" : "query",
          "description" : "Return bookings for this cancellation id.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationNumber",
          "in" : "query",
          "description" : "Return bookings matching this reservation number. Please note that reservation numbers are only unique within a hotel. If you\r\n            don´t specify a hotel filter at the same time you could get back multiple bookings from different hotels.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "customerName",
          "in" : "query",
          "description" : "Return all bookings where the first or lastname of one of the guests or the contact contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerEmail",
          "in" : "query",
          "description" : "Return all bookings where the primary email address of one of the guests or the contact contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Return all bookings the id of one of the guests or the contact matches the specified value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "roomNumber",
          "in" : "query",
          "description" : "Return all bookings having the specified room number assigned.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalId",
          "in" : "query",
          "description" : "Return all bookings exactly matching the specified external id. This filter is case sensitive.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyName",
          "in" : "query",
          "description" : "Return all bookings where the name of the linked company or travel agent profile contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Return all bookings the id of the company or travel agent profile matches the specified value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyEmail",
          "in" : "query",
          "description" : "Return all bookings where the primary email address of the company or the travel agent profile contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "blockCode",
          "in" : "query",
          "description" : "Return all bookings where the block code matches the specified value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationStatuses",
          "in" : "query",
          "description" : "Return all bookings where the reservation status is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "Tentative", "Waitlisted", "OnRequest", "NonGuaranteed", "Guaranteed", "InHouse", "CheckedOut", "NoShow", "Denied", "Cancelled", "Released", "Walked", "Expired", "WalkIn", "Registered" ]
            }
          }
        }, {
          "name" : "marketCodes",
          "in" : "query",
          "description" : "Return all bookings where the market code is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "channelCodes",
          "in" : "query",
          "description" : "Return all bookings where the channel code is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "subChannelCodes",
          "in" : "query",
          "description" : "Return all bookings where the subchannel code is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "roomTypes",
          "in" : "query",
          "description" : "Return all bookings where the room type is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "ratePlanCodes",
          "in" : "query",
          "description" : "Return all bookings where the rate plan code is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "labels",
          "in" : "query",
          "description" : "Return all reservations with at least one of the specified labels.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Start date for the selected date filter. If you select arrival date as date filter the bookings returned will have at least\r\n            one reservation arriving on the specified date or later.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "End date for the selected date filter. If you select arrival date as date filter the bookings returned will have at least\r\n            one reservation arriving on the specified date or earlier.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "dateFilter",
          "in" : "query",
          "description" : "Select a date field you want to filter bookings by. Only one filter at a time can be applied. The to and from dates\r\n            will then define the time range.",
          "schema" : {
            "type" : "string",
            "enum" : [ "ArrivalDate", "DepartureDate", "StayDate", "CreationDate", "ModificationDate" ]
          }
        }, {
          "name" : "exclude",
          "in" : "query",
          "description" : "To be able to request reservations without personal data based on GDPR.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Customers" ]
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Amount of items to skip.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "top",
          "in" : "query",
          "description" : "Amount of items to select.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "inlinecount",
          "in" : "query",
          "description" : "Return total number of items for a given filter criteria.",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "AllPages" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of reservations for the requested hotel identifier.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookingListResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookingListResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "There are no bookings matching your filter criteria."
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "422" : {
            "description" : "The request failed to validate."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      },
      "post" : {
        "tags" : [ "Bookings" ],
        "summary" : "Create a new booking.",
        "description" : "Create a new booking as defined in the requests payload. You can get more information about the payload if you check out the\r\n            documentation for the reservation request model.<br />\r\n            Please also have a look at the <a href=\"https://developer.hetras.com/docs/tutorials\" onfocus=\"this.blur()\">Tutorials</a>.<br />\r\n            For more details on how the API responds to errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\">Error Handling</a>.",
        "operationId" : "Bookings_CreateBooking",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sendConfirmation",
          "in" : "query",
          "description" : "Whether to send a confirmation email to the primary guest",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "Specifies the details of the booking to be created.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Reservation"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Reservation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The creation of the booking was successful. You will get back the confirmation id and maybe warnings, if\r\n            e.g. the prepayment could not be captured.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationConfirmation"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationConfirmation"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request. Request body erroneous."
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "422" : {
            "description" : "The request failed to validate."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/bookings/$count" : {
      "get" : {
        "tags" : [ "Bookings" ],
        "summary" : "Get total count of bookings matchung the given filter criteria.",
        "description" : "Get the count of all bookings matching your criteria. The bookings have to fullfill all the specified criteria\r\n            at the same time. So if you specify a customer name and a channel code you will get the count for all bookings where the firstname or lastname \r\n            of a guest or a contact contains the specified value and that have been done through the defined channel.",
        "operationId" : "Bookings_GetBookingsCount",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hotelId",
          "in" : "query",
          "description" : "Only return bookings for this specific hotel.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "cancellationId",
          "in" : "query",
          "description" : "Return bookings for this cancellation id.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationNumber",
          "in" : "query",
          "description" : "Return bookings matching this reservation number. Please note that reservation numbers are only unique within a hotel. If you\r\n            don´t specify a hotel filter at the same time you could get back multiple bookings from different hotels.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "customerName",
          "in" : "query",
          "description" : "Return all bookings where the first or lastname of one of the guests or the contact contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerEmail",
          "in" : "query",
          "description" : "Return all bookings where the primary email address of one of the guests or the contact contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Return all bookings the id of one of the guests or the contact matches the specified value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "roomNumber",
          "in" : "query",
          "description" : "Return all bookings having the specified room number assigned.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "externalId",
          "in" : "query",
          "description" : "Return all bookings exactly matching the specified external id. This filter is case sensitive.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyName",
          "in" : "query",
          "description" : "Return all bookings where the name of the linked company or travel agent profile contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Return all bookings the id of the company or travel agent profile matches the specified value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyEmail",
          "in" : "query",
          "description" : "Return all bookings where the primary email address of the company or the travel agent profile contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "blockCode",
          "in" : "query",
          "description" : "Return all bookings where the block code matches the specified value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationStatuses",
          "in" : "query",
          "description" : "Return all bookings where the reservation status is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "Tentative", "Waitlisted", "OnRequest", "NonGuaranteed", "Guaranteed", "InHouse", "CheckedOut", "NoShow", "Denied", "Cancelled", "Released", "Walked", "Expired", "WalkIn", "Registered" ]
            }
          }
        }, {
          "name" : "marketCodes",
          "in" : "query",
          "description" : "Return all bookings where the market code is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "channelCodes",
          "in" : "query",
          "description" : "Return all bookings where the channel code is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "subChannelCodes",
          "in" : "query",
          "description" : "Return all bookings where the subchannel code is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "roomTypes",
          "in" : "query",
          "description" : "Return all bookings where the room type is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "ratePlanCodes",
          "in" : "query",
          "description" : "Return all bookings where the rate plan code is one of the specified values.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "labels",
          "in" : "query",
          "description" : "Return all reservations with at least one of the specified labels.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Start date for the selected date filter. If you select arrival date as date filter the bookings returned will have at least\r\n            one reservation arriving on the specified date or later.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "End date for the selected date filter. If you select arrival date as date filter the bookings returned will have at least\r\n            one reservation arriving on the specified date or earlier.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "dateFilter",
          "in" : "query",
          "description" : "Select a date field you want to filter bookings by. Only one filter at a time can be applied. The to and from dates\r\n            will then define the time range.",
          "schema" : {
            "type" : "string",
            "enum" : [ "ArrivalDate", "DepartureDate", "StayDate", "CreationDate", "ModificationDate" ]
          }
        }, {
          "name" : "exclude",
          "in" : "query",
          "description" : "To be able to request reservations without personal data based on GDPR.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Customers" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The total booking count for a given filter criteria.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TotalCountResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TotalCountResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/bookings/{confirmationId}" : {
      "get" : {
        "tags" : [ "Bookings" ],
        "summary" : "Load all reservations for one booking by confirmation id.",
        "description" : "A booking groups all reservations done in one single request and can be identified by the confirmation id.\r\n            Guests usually use the confirmation id to check in at the kiosk, on the website or mobile device. In hetras\r\n            all reservations of one booking share the room type, rate plan and number of guests per room.",
        "operationId" : "Bookings_GetBooking",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "confirmationId",
          "in" : "path",
          "description" : "The confirmation id for the booking to load.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expand",
          "in" : "query",
          "description" : "Specifies the expand type.",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "RoomRates" ]
          }
        }, {
          "name" : "exclude",
          "in" : "query",
          "description" : "Specifies the exclude type.",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "Customers" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of all reservations for that booking.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationsResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationsResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/bookings/{confirmationId}/reservations/{reservationNumber}" : {
      "get" : {
        "tags" : [ "Bookings" ],
        "summary" : "Load a specific reservation from a booking.",
        "description" : "With this request you can load one specific reservation done with one booking request.",
        "operationId" : "Bookings_GetReservation",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "confirmationId",
          "in" : "path",
          "description" : "The confirmation id for the booking the reservation was made.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationNumber",
          "in" : "path",
          "description" : "Specifies the reservation number for the reservation to load.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "expand",
          "in" : "query",
          "description" : "Specifies the expand type.",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "RoomRates" ]
          }
        }, {
          "name" : "exclude",
          "in" : "query",
          "description" : "Specifies the exclude type.",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "Customers" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns the details of the reservation specified.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "Bookings" ],
        "summary" : "Partially updates a reservation.",
        "description" : "The hetras API is using this <a href=\"https://developer.hetras.com/docs/patch\" onfocus=\"this.blur()\" target=\"_blank\">Patch Specification</a>\r\n            to partially update an existing resource. Currently this call allows to update the following fields:\r\n            external_id, market_code, channel_code, subchannel_code, guarantee_type, comment, addon_services, labels, guests, contact and company.\r\n            <br /><br />\r\n            A request example:<br /><pre>\r\n            [\r\n              {\r\n                \"op\": \"replace\", \"path\": \"/addon_services\", \"value\": [\"BREAKFAST\", \"PARKING\"]\r\n              },\r\n              {\r\n                \"op\": \"add\", \"path\": \"/labels/-\", \"value\": \"MOBILE\"\r\n              },\r\n              {\r\n                \"op\": \"replace\", \"path\": \"/guests/SHOW-1234\", \"value\": { \"customer_id\": \"SHOW-1234\", \"primary\": false }\r\n              },\r\n              {\r\n                \"op\": \"add\", \"path\": \"/guests/-\", \"value\": { \"customer_id\": \"SHOW-5678\", \"primary\": true }\r\n              }\r\n            ]\r\n            </pre><br />\r\n            For more details on how the API responds to errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\">Error Handling</a>.",
        "operationId" : "Bookings_Patch",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "confirmationId",
          "in" : "path",
          "description" : "The confirmation id for the booking the reservation was made.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationNumber",
          "in" : "path",
          "description" : "Specifies the reservation number for the reservation that has to be updated.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "A set of JSON Patch operations",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/JsonPatchDocument[ReservationPatchableModel]"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/JsonPatchDocument[ReservationPatchableModel]"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The update was successful. Reponse would contain a referer to the updated reservation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Object"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request. Request body erroneous."
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "422" : {
            "description" : "The request failed to validate."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/bookings/{confirmationId}/reservations/{reservationNumber}/assign_room" : {
      "post" : {
        "tags" : [ "Bookings" ],
        "summary" : "Assign a room to a reservation.",
        "description" : "By default this API call assigns a random room, which has the proper room type, is not already assigned\r\n            to another reservation or has any maintenance status set for the stay period of the underlying reservation. If the\r\n            arrival date for the underlying reservation is the current business day dirty rooms are excluded by default. For reservation\r\n            arriving on any latter day the room condition is not taken into account.<br />\r\n            By specifiying the room selection criteria in the request body you can influence which room will be assigned. See the request model\r\n            for further details.<br />\r\n            For more details on how the API responds to errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\">Error Handling</a>.",
        "operationId" : "Bookings_PostRoomAssignment",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "confirmationId",
          "in" : "path",
          "description" : "The confirmation id for the booking the reservation was made.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationNumber",
          "in" : "path",
          "description" : "Specifies the reservation number for the reservation the room should be assigned to.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Specifies the criteria for the room selection.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AssignRoomCriteria"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AssignRoomCriteria"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "The room assignment was successful. The Reponse would contain the room number assigned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssignRoomResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssignRoomResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request. Request body erroneous."
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "422" : {
            "description" : "The request failed to validate. The reason could be no available rooms or a mismatch of room types etc."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/bookings/{confirmationId}/reservations/{reservationNumber}/cancel" : {
      "post" : {
        "tags" : [ "Bookings" ],
        "summary" : "Cancel one reservation.",
        "description" : "This request will cancel one specific reservation. It will show up in the hetras UI in the Cancellation and NoShow\r\n            processing screen and it will be up to the hotel staff to either charge or waive the cancellation fee.<br />\r\n            For more details on how the API responds to errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\">Error Handling</a>.",
        "operationId" : "Bookings_CancelReservation",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "confirmationId",
          "in" : "path",
          "description" : "The confirmation id for the booking the reservation was made.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationNumber",
          "in" : "path",
          "description" : "Specifies the reservation number for the reservation to cancel.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sendConfirmation",
          "in" : "query",
          "description" : "Whether to send a confirmation email to the primary guest",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns the cancellation id and the cancellation fee that will be charged to the folio of the reservation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CancellationResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CancellationResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request. Request body erroneous."
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/bookings/{confirmationId}/reservations/{reservationNumber}/check_in" : {
      "post" : {
        "tags" : [ "Bookings" ],
        "summary" : "Performs a check in operation for a reservation.",
        "description" : "With this call you can set a reservation to the status inhouse. It allows only single room reservations to be checked in.\r\n            The reservation must have assigned a vacant and clean room.<br />\r\n            For more details on how the API responds to errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\">Error Handling</a>.",
        "operationId" : "Bookings_CheckIn",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "confirmationId",
          "in" : "path",
          "description" : "The confirmation id for the booking the reservation was made.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationNumber",
          "in" : "path",
          "description" : "Specifies the reservation number for the reservation to be checked in.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Specifies checkIn details, for example Client Identity.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckInDetails"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckInDetails"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The check in was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "422" : {
            "description" : "The request failed to validate. The reason could be wrong room or reservation status, wrong start date of reservation etc."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/bookings/{confirmationId}/reservations/{reservationNumber}/check_out" : {
      "post" : {
        "tags" : [ "Bookings" ],
        "summary" : "Performs a check out operation for a reservation.",
        "description" : "With this call you can set a reservation to the checkout status. It allows only single room reservations to be checked out.\r\n            For more details on how the API responds to errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\">Error Handling</a>.",
        "operationId" : "Bookings_CheckOut",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "confirmationId",
          "in" : "path",
          "description" : "The confirmation id for the booking the reservation was made.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationNumber",
          "in" : "path",
          "description" : "Specifies the reservation number for the reservation to be checked out.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The check out was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "422" : {
            "description" : "The request failed to validate. The reason could be wrong reservation status, such as it was already checked out."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/bookings/{confirmationId}/reservations/{reservationNumber}/payment_token" : {
      "put" : {
        "tags" : [ "Bookings" ],
        "summary" : "Post a payment token for a reservation.",
        "description" : "TBD.<br />\r\n            For more details on how the API responds to errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\">Error Handling</a>.",
        "operationId" : "Bookings_PaymentToken",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "confirmationId",
          "in" : "path",
          "description" : "The confirmation id for the booking the reservation was made.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationNumber",
          "in" : "path",
          "description" : "Specifies the reservation number for the reservation to be checked in.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthorizationRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthorizationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The payment token was added successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "422" : {
            "description" : "The request failed to validate. The reason could be wrong room or reservation status, wrong start date of reservation etc."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/bookings/{confirmationId}/reservations/{reservationNumber}/pre_authorize" : {
      "post" : {
        "tags" : [ "Bookings" ],
        "summary" : "Performs a chip and pin credit card authorization for a reservation.",
        "description" : "With this call you can trigger a terminal authorization prompt for a reservation guest. \r\n            For more details on how the API responds to errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\">Error Handling</a>.",
        "operationId" : "Bookings_TerminalAuthorization",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "confirmationId",
          "in" : "path",
          "description" : "The confirmation id for the booking the reservation was made.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationNumber",
          "in" : "path",
          "description" : "Specifies the reservation number for the reservation to be checked in.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Specifies authorization details, such as amount and client identity.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TerminalAuthorizationRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TerminalAuthorizationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The operation was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI."
          },
          "422" : {
            "description" : "The request failed to validate. The reason could be wrong room or reservation status, wrong start date of reservation etc."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/daily_rates" : {
      "get" : {
        "tags" : [ "DailyRates" ],
        "summary" : "Get a list of daily rates given a hotel Id, a channel code and a date range.",
        "description" : "With the rates request you can get a list of different daily rates. You will have to at least \r\n            specify the hotel, the channel code, and a calendar range. The channel code will define which rates will be \r\n            returned based on the access control configuration for the rates. Additionally rate plan codes may be specified in\r\n            the request in order to limit only those rates of the given plans, if they are not specified, it will return all the public rate plans.\r\n            If requested the caller may specify whether he wants policies or not.",
        "operationId" : "DailyRates_GetDailyRates",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hotelId",
          "in" : "query",
          "description" : "Define the hotel id to request the availability for.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Define the first business day you would like to get availability numbers for. The day should not be in the past.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Define the last business day you would like to get rates for (inclusive). The maximum time span between <i>'From'</i> and <i>'To'</i>\r\n            is limited to 365 days. This can't be less than the 'From' date.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "channelCode",
          "in" : "query",
          "description" : "Define the channel code in order to look up the rates for.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expand",
          "in" : "query",
          "description" : "Define the sections you want to expand and get informed about rates for.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "None", "Policies", "RatePlans" ]
            }
          }
        }, {
          "name" : "ratePlanCodes",
          "in" : "query",
          "description" : "Define the codes of rate plans to show in the response. A list of comma ',' separated rate plan codes.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Amount of items to skip.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "top",
          "in" : "query",
          "description" : "Amount of items to select.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "inlinecount",
          "in" : "query",
          "description" : "Return total number of items for a given filter criteria.",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "AllPages" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Different rates for the requested stay details grouped by room type.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DailyRatesResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DailyRatesResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "When there are no data to return."
          },
          "400" : {
            "description" : "The request failed to validate. One of the missing request parameters was missing or their value was wrong."
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI. This code will not be returned when there are no data to return for (please see 204)."
          },
          "409" : {
            "description" : "When an error occurs which prevent the API to return a response and is normally cause by bad input."
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    },
    "/api/booking/v0/rates" : {
      "get" : {
        "tags" : [ "Rates" ],
        "summary" : "Get a list of room offers for the specified guest stay details.",
        "description" : "With the rates request you can get a list of different rate offers per room type. You will have to at least \r\n            specify the hotel, the arrival and departure date, number of adults per room and the channel code. The channel code\r\n            will define which rates will be returned based on the access control configuration for the rates.",
        "operationId" : "Rates_Get",
        "parameters" : [ {
          "name" : "App-Id",
          "in" : "header",
          "description" : "Application identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "App-Key",
          "in" : "header",
          "description" : "Application key.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hotelId",
          "in" : "query",
          "description" : "Specifies the hotel id to request offers for.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "arrivalDate",
          "in" : "query",
          "description" : "Date of arrival for the guest in the ISO-8601 format \"YYYY-MM-DD\".",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "departureDate",
          "in" : "query",
          "description" : "Date of departure for the guest in the ISO-8601 format \"YYYY-MM-DD\".",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "channelCode",
          "in" : "query",
          "description" : "Channel Code the rate plan needs to be configured for.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "adults",
          "in" : "query",
          "description" : "Number of adults per room.",
          "required" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "string",
            "format" : "byte"
          }
        }, {
          "name" : "rooms",
          "in" : "query",
          "description" : "Number of rooms (default is 1).",
          "schema" : {
            "minimum" : 1,
            "type" : "string",
            "format" : "byte"
          }
        }, {
          "name" : "roomType",
          "in" : "query",
          "description" : "Only return offers with rates for the specified room type code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ratePlanCode",
          "in" : "query",
          "description" : "Only return offers for the specified room type code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupCode",
          "in" : "query",
          "description" : "Only return offers for the specified group code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expand",
          "in" : "query",
          "description" : "Expand the rates breakdown if required.",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "Breakdown" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Different rates for the requested stay details grouped by room type.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rates"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rates"
                }
              }
            }
          },
          "401" : {
            "description" : "You provided wrong credentials, or you reached your API limit."
          },
          "403" : {
            "description" : "The application does not have access to the requested resource."
          },
          "404" : {
            "description" : "Not Found. The server has not found anything matching the Request-URI. It is also used if there are no rates available for the specified guest stay details."
          },
          "422" : {
            "description" : "The request failed to validate. Either a mandatory parameter was missing or no offers for \r\n            the requested stay details"
          },
          "500" : {
            "description" : "We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles."
          },
          "503" : {
            "description" : "The server is currently unavailable. Please try later."
          }
        },
        "deprecated" : false
      }
    }
  },
  "components" : {
    "schemas" : {
      "AcceptedGuaranteeTypes" : {
        "type" : "object",
        "properties" : {
          "accepted" : {
            "type" : "array",
            "description" : "In this list you find all the accepted guarantee types for this offer. They are sorted in ascending\r\n            order.",
            "items" : {
              "type" : "string",
              "enum" : [ "PM4Hold", "PM6Hold", "GuaranteeToCreditCard", "GuaranteeToGuestAccount", "GuaranteeByTravelAgent", "GuaranteeByCompany", "Deposit", "Voucher", "Prepayment", "NonGuaranteed", "Tentative", "Waitlist" ]
            }
          },
          "minimum" : {
            "type" : "string",
            "description" : "Based on the rateplan a reservation does need to have a minimum guarantee. When you create a new booking you\r\n            can always use a higher guarantee type starting from the minimum. If you do not specify a guarantee when creating\r\n            a new booking using this offer this guarantee type will be used by default. See \r\n            https://developer.hetras.com/docs/tutorials#payment for information about guarantee types and payment details",
            "enum" : [ "PM4Hold", "PM6Hold", "GuaranteeToCreditCard", "GuaranteeToGuestAccount", "GuaranteeByTravelAgent", "GuaranteeByCompany", "Deposit", "Voucher", "Prepayment", "NonGuaranteed", "Tentative", "Waitlist" ]
          }
        }
      },
      "AddonOffer" : {
        "type" : "object",
        "properties" : {
          "breakdown" : {
            "type" : "array",
            "description" : "In this collection you will get an entry with price information for every day the addon service will be charged\r\n            to the folio of the reservation if the addon service is booked.",
            "items" : {
              "$ref" : "#/components/schemas/AddonOfferBreakdown"
            }
          },
          "code" : {
            "type" : "string",
            "description" : "The code of the addon service"
          },
          "description" : {
            "type" : "string",
            "description" : "The description of the addon service"
          },
          "frequency" : {
            "type" : "string",
            "description" : "The frequency this addon service will be charged to the reservation. This field is a string that can be displayed,\r\n            but is not supposed to be used for computation"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the addon service"
          },
          "rate_mode" : {
            "type" : "string",
            "description" : "The price for an addon service can be per person or per room. All the prices in an offer are already calculated\r\n            for all rooms and number of persons per room. Based on this attribute you will be able to know how to calculate\r\n            the price per person and room, per room or per person depending on your needs.",
            "enum" : [ "PerRoom", "PerPerson" ]
          },
          "total_stay" : {
            "$ref" : "#/components/schemas/AddonOfferRate"
          }
        }
      },
      "AddonOfferBreakdown" : {
        "type" : "object",
        "properties" : {
          "business_day" : {
            "type" : "string",
            "description" : "The business day the price for the addon service will be posted to the folio of the reservation",
            "format" : "date-time"
          },
          "currency" : {
            "type" : "string",
            "description" : "The currency the addon service will be charged in."
          },
          "included_tax" : {
            "type" : "number",
            "description" : "The amount of taxes already included in the gross rate of the addon service also calculated for all rooms and\r\n            all persons.",
            "format" : "double"
          },
          "rate" : {
            "type" : "number",
            "description" : "The gross rate of the addon service. It is the price calculated for all rooms and all persons.",
            "format" : "double"
          }
        }
      },
      "AddonOfferRate" : {
        "type" : "object",
        "properties" : {
          "currency" : {
            "type" : "string",
            "description" : "The currency the addon service will be charged in."
          },
          "included_tax" : {
            "type" : "number",
            "description" : "The amount of taxes already included in the gross rate of the addon service also calculated for all rooms and\r\n            all persons.",
            "format" : "double"
          },
          "rate" : {
            "type" : "number",
            "description" : "The gross rate of the addon service. It is the price calculated for all rooms and all persons.",
            "format" : "double"
          }
        }
      },
      "AddonRate" : {
        "type" : "object",
        "properties" : {
          "business_day" : {
            "type" : "string",
            "description" : "The business day the addon service should be charged",
            "format" : "date-time"
          },
          "code" : {
            "type" : "string",
            "description" : "The code of the addon service to be booked"
          },
          "rate" : {
            "type" : "number",
            "description" : "Total gross amount for the service",
            "format" : "double"
          }
        }
      },
      "Addons" : {
        "type" : "object",
        "properties" : {
          "addon_services" : {
            "type" : "array",
            "description" : "A collection of offers for addon services.",
            "items" : {
              "$ref" : "#/components/schemas/AddonOffer"
            }
          },
          "adults" : {
            "type" : "integer",
            "description" : "The number of adults per room the addon offers are requested for. The rates will then already reflects this.",
            "format" : "int32"
          },
          "arrival_date" : {
            "type" : "string",
            "description" : "The arrival date of the reservation the addon offers are supposed to be booked on.",
            "format" : "date-time"
          },
          "departure_date" : {
            "type" : "string",
            "description" : "The departure date of the reservation the addon offers are supposed to be booked on.",
            "format" : "date-time"
          },
          "hotel_id" : {
            "type" : "integer",
            "description" : "The id of the hotel the addon offers will be valid for",
            "format" : "int32"
          },
          "hotel_name" : {
            "type" : "string",
            "description" : "The name of the hotel the addon offers will be valid for"
          },
          "rate_plan" : {
            "$ref" : "#/components/schemas/RatePlan"
          },
          "room" : {
            "$ref" : "#/components/schemas/ReservationRoom"
          },
          "rooms" : {
            "type" : "integer",
            "description" : "The number of rooms the addon offers are requested for. The rates will then already reflects this.",
            "format" : "int32"
          }
        }
      },
      "AssignRoomCriteria" : {
        "type" : "object",
        "properties" : {
          "amenities" : {
            "type" : "array",
            "description" : "Ensure the assigned room will have all the amenities specified. You can provide a comma seperated list of amenity codes.",
            "items" : {
              "type" : "string"
            }
          },
          "condition" : {
            "type" : "string",
            "description" : "Here you can define to limit the list of assignable rooms based on their current condition. This is only applicable if the underlying reservation\r\n            is due to arrive on the current business day. If not set by default only clean rooms will be assigned.",
            "enum" : [ "CleanNotInspected", "Clean", "Dirty", "Any" ]
          },
          "include_out_of_service" : {
            "type" : "boolean",
            "description" : "Sometimes you might want to assign rooms which are out of service (small repair needed) if no other rooms are available anymore. If you set\r\n            include_out_of_service to true even those rooms will be considered. The default is false."
          },
          "locations" : {
            "type" : "array",
            "description" : "Ensure the assigned room will have at least one of the specified locations. You can provide a comma seperated list of location codes.",
            "items" : {
              "type" : "string"
            }
          },
          "respect_guest_preferences" : {
            "type" : "boolean",
            "description" : "Defines if the preferences for locations, amenities and views of the primary guest should be taken into account. All defined preferences in the guest\r\n            profile override any of the criteria defined in the request body. The default is false."
          },
          "room_number" : {
            "type" : "string",
            "description" : "If you define a specific room number this room will be assigned if not assigned to another reservation, has proper room type and is not OutOfOrder \r\n            or OutOfInventory for the stay duration of the underlying reservaton. If set all other filter criteria will be ignored."
          },
          "views" : {
            "type" : "array",
            "description" : "Ensure the assigned room will have at least one of the specified views. You can provide a comma seperated list of view codes.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Represents a set of criteria for assigning a room"
      },
      "AssignRoomResponse" : {
        "type" : "object",
        "properties" : {
          "_warnings" : {
            "type" : "array",
            "description" : "Warnings that came up when your request was processed. Your request will still be processed successfull when\r\n            you see such warnings in your response",
[...]
