{"openapi":"3.0.1","info":{"title":"SlideRoom API V2","description":"SlideRoom provides a RESTful API for exporting data out of your organizations SlideRoom account.","version":"v2"},"servers":[{"url":"https://api.slideroom.com/"}],"paths":{"/api/v2/applicant/attributes":{"get":{"tags":["Applicant"],"summary":"Gets the custom attributes for an applicant.","operationId":"Applicant_GetAttributesV2","parameters":[{"name":"email","in":"query","description":"The email address of the applicant.","required":true,"schema":{"type":"string"}},{"name":"pool","in":"query","schema":{"type":"string","enum":["Standard","CommonAppSDS"]}},{"name":"commonAppYear","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}},"example":{"name1":"Value1","name2":"Value2"}},"text/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"post":{"tags":["Applicant"],"summary":"Updates the custom attributes for an applicant.","description":"This method only adds or updates attributes. Null values will be updated as nulls, but not deleted. API Import is available in the Advanced Plan.","operationId":"Applicant_PostAttributesV2","parameters":[{"name":"email","in":"query","description":"The email address of the applicant.","required":true,"schema":{"type":"string"}},{"name":"pool","in":"query","schema":{"type":"string","enum":["Standard","CommonAppSDS"]}},{"name":"commonAppYear","in":"query","schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"The name/value pairs of the attributes.","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"name1":"Value1","name2":"Value2"}}},"text/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"name1":"Value1","name2":"Value2"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"name1":"Value1","name2":"Value2"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"name1":"Value1","name2":"Value2"}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"name1":"Value1","name2":"Value2"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}},"text/xml":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Applicant"],"summary":"Deletes a custom attribute for an applicant.","operationId":"Applicant_DeleteAttributesV2","parameters":[{"name":"email","in":"query","description":"The email address of the applicant.","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"The name of the attribute to be deleted.","required":true,"schema":{"type":"string"}},{"name":"pool","in":"query","schema":{"type":"string","enum":["Standard","CommonAppSDS"]}},{"name":"commonAppYear","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}},"text/xml":{"schema":{"type":"string"}}}}}}},"/api/v2/applicant/attributes/names":{"get":{"tags":["Applicant"],"summary":"Gets the custom applicant attributes used by the organization.","operationId":"Applicant_GetAttributeNamesV2","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"text/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/xml":{"schema":{"type":"array","items":{"type":"string"}}},"text/xml":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/v2/application/attributes/names":{"get":{"tags":["Application"],"summary":"Gets the custom application attributes used by the organization.","operationId":"Application_GetAttributeNamesV2","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"text/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/xml":{"schema":{"type":"array","items":{"type":"string"}}},"text/xml":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/v2/application/request-export":{"post":{"tags":["Application"],"summary":"Requests the generation of application export files (tabular, pdf, zip).","description":"Exports are generated asynchronously within SlideRoom.  To retrieve the export file generated by this request, use the api/v#/export/{token} endpoint to check the progress/result of the generation process.\r\nPDF and ZIP exports are available in the Advanced Plan.","operationId":"Application_RequestExportV2","parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["csv","tsv","txt","tab","xlsx","pdf","zip","json"]}},{"name":"roundType","in":"query","schema":{"type":"string","enum":["Assigned","Current","Named","All"]}},{"name":"roundName","in":"query","schema":{"type":"string"}},{"name":"tab.export","in":"query","schema":{"type":"string"}},{"name":"pdf.includeForms","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeReferences","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeMedia","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeApplicantAttachments","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeOrganizationAttachments","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeRatings","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeFullPageMedia","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeHighlights","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeComments","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeCommonApp","in":"query","schema":{"type":"boolean"}},{"name":"zip.originalMedia","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeForms","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeReferences","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeMedia","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeApplicantAttachments","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeOrganizationAttachments","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeRatings","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeComments","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeCommonApp","in":"query","schema":{"type":"boolean"}},{"name":"delivery.account","in":"query","schema":{"type":"string"}},{"name":"delivery.folder","in":"query","schema":{"type":"string"}},{"name":"since","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"pool","in":"query","schema":{"type":"string","enum":["All","Current","Archived","CommonAppSDS"]}},{"name":"status","in":"query","schema":{"type":"string","enum":["All","InProgress","Submitted"]}},{"name":"searchName","in":"query","schema":{"type":"string"}},{"name":"email","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestApplicationExportResultV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/RequestApplicationExportResultV2"}},"application/xml":{"schema":{"$ref":"#/components/schemas/RequestApplicationExportResultV2"}},"text/xml":{"schema":{"$ref":"#/components/schemas/RequestApplicationExportResultV2"}}}}}}},"/api/v2/application/{applicationId}/attributes":{"get":{"tags":["Application"],"summary":"Gets the custom attributes for an application.","operationId":"Application_GetAttributesV2","parameters":[{"name":"applicationId","in":"path","description":"The ID of the application.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}},"example":{"name1":"Value1","name2":"Value2"}},"text/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"post":{"tags":["Application"],"summary":"Updates the custom attributes for an application. API Import is available in the Advanced Plan.","description":"This method only adds or updates attributes. Null values will be updated as nulls, but not deleted.","operationId":"Application_PostAttributesV2","parameters":[{"name":"applicationId","in":"path","description":"The ID of the application.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The name/value pairs of the attributes.","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"name1":"Value1","name2":"Value2"}}},"text/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"name1":"Value1","name2":"Value2"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"name1":"Value1","name2":"Value2"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"name1":"Value1","name2":"Value2"}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","additionalProperties":{"type":"string"},"example":{"name1":"Value1","name2":"Value2"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}},"text/xml":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Application"],"summary":"Deletes a custom attribute for an application.","operationId":"Application_DeleteAttributesV2","parameters":[{"name":"applicationId","in":"path","description":"The ID of the application.","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"The name of the attribute to be deleted.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}},"application/xml":{"schema":{"type":"string"}},"text/xml":{"schema":{"type":"string"}}}}}}},"/api/v2/application/{applicationId}/request-export":{"post":{"tags":["Application"],"summary":"Requests the generation of a single application export file (tabular, pdf, zip).","description":"Exports are generated asynchronously within SlideRoom.  To retrieve the export file generated by this request, use the api/v#/export/{token} endpoint to check the progress/result of the generation process.","operationId":"Application_RequestExportByApplicationIdV2","parameters":[{"name":"applicationId","in":"path","description":"The id of the application to export","required":true,"schema":{"type":"string"}},{"name":"format","in":"query","schema":{"type":"string","enum":["csv","tsv","txt","tab","xlsx","pdf","zip","json"]}},{"name":"roundType","in":"query","schema":{"type":"string","enum":["Assigned","Current","Named","All"]}},{"name":"roundName","in":"query","schema":{"type":"string"}},{"name":"tab.export","in":"query","schema":{"type":"string"}},{"name":"pdf.includeForms","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeReferences","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeMedia","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeApplicantAttachments","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeOrganizationAttachments","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeRatings","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeFullPageMedia","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeHighlights","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeComments","in":"query","schema":{"type":"boolean"}},{"name":"pdf.includeCommonApp","in":"query","schema":{"type":"boolean"}},{"name":"zip.originalMedia","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeForms","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeReferences","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeMedia","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeApplicantAttachments","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeOrganizationAttachments","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeRatings","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeComments","in":"query","schema":{"type":"boolean"}},{"name":"zip.includeCommonApp","in":"query","schema":{"type":"boolean"}},{"name":"delivery.account","in":"query","schema":{"type":"string"}},{"name":"delivery.folder","in":"query","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestApplicationExportResultV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/RequestApplicationExportResultV2"}},"application/xml":{"schema":{"$ref":"#/components/schemas/RequestApplicationExportResultV2"}},"text/xml":{"schema":{"$ref":"#/components/schemas/RequestApplicationExportResultV2"}}}},"400":{"description":"Bad Request"}}}},"/api/v2/export/{token}":{"get":{"tags":["Export"],"summary":"Gets the status/result of a requested export.","operationId":"Export_GetV2","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportResultV2"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExportResultV2"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExportResultV2"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExportResultV2"}}}}}}}},"components":{"schemas":{"ExportResultV2":{"type":"object","properties":{"completed_files":{"type":"integer","format":"int32"},"file_urls":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"total_files":{"type":"integer","format":"int32"}}},"RequestApplicationExportResultV2":{"type":"object","properties":{"message":{"type":"string"},"submissions":{"type":"integer","format":"int32"},"token":{"type":"integer","format":"int32"}}}}}}