{"openapi":"3.0.1","info":{"title":"AutomationManagement","version":"2018-01-15"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs":{"get":{"tags":["DscCompilationJob"],"description":"Retrieve a list of dsc compilation jobs.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/compilationjoboperations"},"operationId":"DscCompilationJob_ListByAutomationAccount","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DscCompilationJobListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs/{compilationJobName}":{"get":{"tags":["DscCompilationJob"],"description":"Retrieve the Dsc configuration compilation job identified by job id.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/dsccompilationjoboperations"},"operationId":"DscCompilationJob_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"compilationJobName","in":"path","description":"The DSC configuration Id.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DscCompilationJob"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"put":{"tags":["DscCompilationJob"],"description":"Creates the Dsc compilation job of the configuration.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/dscconfigurationcompilejoboperations"},"operationId":"DscCompilationJob_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"compilationJobName","in":"path","description":"The DSC configuration Id.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters supplied to the create compilation job operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DscCompilationJobCreateParameters"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DscCompilationJob"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs/{jobId}/streams":{"get":{"tags":["DscCompilationJob"],"description":"Retrieve all the job streams for the compilation Job.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/jobstreamoperations"},"operationId":"DscCompilationJobStream_ListByJob","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"jobId","in":"path","description":"The job id.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobStreamListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs/{jobId}/streams/{jobStreamId}":{"get":{"tags":["DscCompilationJob"],"description":"Retrieve the job stream identified by job stream id.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/jobstreamoperations"},"operationId":"DscCompilationJob_GetStream","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"jobId","in":"path","description":"The job id.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"jobStreamId","in":"path","description":"The job stream id.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobStream"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"DscCompilationJob":{"properties":{"properties":{"$ref":"#/components/schemas/DscCompilationJobProperties"}},"description":"Definition of the Dsc Compilation job.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources"}]}]},"DscCompilationJobCreateParameters":{"required":["properties"],"type":"object","properties":{"location":{"type":"string","description":"Gets or sets the location of the resource."},"name":{"type":"string","description":"Gets or sets name of the resource."},"properties":{"$ref":"#/components/schemas/DscCompilationJobCreateProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the tags attached to the resource."}},"description":"The parameters supplied to the create compilation job operation."},"DscCompilationJobCreateProperties":{"required":["configuration"],"type":"object","properties":{"configuration":{"$ref":"#/components/schemas/DscConfigurationAssociationProperty"},"incrementNodeConfigurationBuild":{"type":"boolean","description":"If a new build version of NodeConfiguration is required."},"parameters":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the parameters of the job."}},"description":"The parameters supplied to the create compilation job operation."},"DscCompilationJobListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Gets or sets the next link."},"value":{"type":"array","description":"Gets or sets a list of Dsc Compilation jobs.","items":{"$ref":"#/components/schemas/DscCompilationJob"}}},"description":"The response model for the list job operation."},"DscCompilationJobProperties":{"type":"object","properties":{"configuration":{"$ref":"#/components/schemas/DscConfigurationAssociationProperty"},"creationTime":{"type":"string","description":"Gets the creation time of the job.","format":"date-time","nullable":false,"readOnly":true},"endTime":{"type":"string","description":"Gets the end time of the job.","format":"date-time","nullable":true,"readOnly":true},"exception":{"type":"string","description":"Gets the exception of the job.","readOnly":true},"jobId":{"type":"string","description":"Gets the id of the job.","format":"uuid","nullable":false,"readOnly":true},"lastModifiedTime":{"type":"string","description":"Gets the last modified time of the job.","format":"date-time","nullable":false,"readOnly":true},"lastStatusModifiedTime":{"type":"string","description":"Gets the last status modified time of the job.","format":"date-time","nullable":true,"readOnly":true},"parameters":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the parameters of the job."},"provisioningState":{"$ref":"#/components/schemas/JobProvisioningStateProperty"},"runOn":{"type":"string","description":"Gets or sets the runOn which specifies the group name where the job is to be executed."},"startTime":{"type":"string","description":"Gets the start time of the job.","format":"date-time","nullable":true,"readOnly":true},"startedBy":{"type":"string","description":"Gets the compilation job started by.","readOnly":true},"status":{"type":"string","description":"Gets or sets the status of the job.","enum":["New","Activating","Running","Completed","Failed","Stopped","Blocked","Suspended","Disconnected","Suspending","Stopping","Resuming","Removing"]},"statusDetails":{"type":"string","description":"Gets or sets the status details of the job."}},"description":"Definition of Dsc Compilation job properties."},"DscConfigurationAssociationProperty":{"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the Dsc configuration."}},"description":"The Dsc configuration property associated with the entity."},"JobProvisioningStateProperty":{"type":"string","description":"The provisioning state of the resource.","enum":["Failed","Succeeded","Suspended","Processing"]},"JobStream":{"type":"object","properties":{"id":{"type":"string","description":"Gets or sets the id of the resource."},"properties":{"$ref":"#/components/schemas/JobStreamProperties"}},"description":"Definition of the job stream."},"JobStreamListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Gets or sets the next link."},"value":{"type":"array","description":"A list of job streams.","items":{"$ref":"#/components/schemas/JobStream"}}},"description":"The response model for the list job stream operation."},"JobStreamProperties":{"type":"object","properties":{"jobStreamId":{"type":"string","description":"Gets or sets the id of the job stream."},"streamText":{"type":"string","description":"Gets or sets the stream text."},"streamType":{"type":"string","description":"Gets or sets the stream type.","enum":["Progress","Output","Warning","Error","Debug","Verbose","Any"]},"summary":{"type":"string","description":"Gets or sets the summary."},"time":{"type":"string","description":"Gets or sets the creation time of the job.","format":"date-time","nullable":false},"value":{"type":"object","additionalProperties":{"type":"object"},"description":"Gets or sets the values of the job stream."}},"description":"Definition of the job stream."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}