{"openapi":"3.0.1","info":{"title":"Azure Activity Log Alerts","version":"2017-04-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/microsoft.insights/activityLogAlerts":{"get":{"description":"Get a list of all activity log alerts in a subscription.","operationId":"ActivityLogAlerts_ListBySubscriptionId","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityLogAlertList"}}}},"default":{"description":"An error occurred and the list of activity log alerts could not be retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/activityLogAlerts":{"get":{"description":"Get a list of all activity log alerts in a resource group.","operationId":"ActivityLogAlerts_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityLogAlertList"}}}},"default":{"description":"An error occurred and the list of activity log alerts could not be retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/activityLogAlerts/{activityLogAlertName}":{"get":{"description":"Get an activity log alert.","operationId":"ActivityLogAlerts_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"activityLogAlertName","in":"path","description":"The name of the activity log alert.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityLogAlertResource"}}}},"default":{"description":"An error occurred and the activity log alert could not be retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"description":"Create a new activity log alert or update an existing one.","operationId":"ActivityLogAlerts_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"activityLogAlertName","in":"path","description":"The name of the activity log alert.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The activity log alert to create or use for the update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityLogAlertResource"}}},"required":true},"responses":{"200":{"description":"An existing activity log alert was successfully updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityLogAlertResource"}}}},"201":{"description":"A new activity log alert was successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityLogAlertResource"}}}},"default":{"description":"An error occurred and the activity log alert could not be created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"description":"Delete an activity log alert.","operationId":"ActivityLogAlerts_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"activityLogAlertName","in":"path","description":"The name of the activity log alert.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The activity log alert was successfully deleted."},"204":{"description":"The activity log alert does not exist. It may have already been deleted."},"default":{"description":"An error occurred and the activity log alert could not be deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"description":"Updates an existing ActivityLogAlertResource's tags. To update other fields use the CreateOrUpdate method.","operationId":"ActivityLogAlerts_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"activityLogAlertName","in":"path","description":"The name of the activity log alert.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityLogAlertPatchBody"}}},"required":true},"responses":{"200":{"description":"An existing activity log alert was successfully updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityLogAlertResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ActivityLogAlert":{"required":["actions","condition","scopes"],"type":"object","properties":{"actions":{"$ref":"#/components/schemas/ActivityLogAlertActionList"},"condition":{"$ref":"#/components/schemas/ActivityLogAlertAllOfCondition"},"description":{"type":"string","description":"A description of this activity log alert."},"enabled":{"type":"boolean","description":"Indicates whether this activity log alert is enabled. If an activity log alert is not enabled, then none of its actions will be activated.","default":true},"scopes":{"type":"array","description":"A list of resourceIds that will be used as prefixes. The alert will only apply to activityLogs with resourceIds that fall under one of these prefixes. This list must include at least one item.","items":{"type":"string"}}},"description":"An Azure activity log alert."},"ActivityLogAlertActionGroup":{"required":["actionGroupId"],"type":"object","properties":{"actionGroupId":{"type":"string","description":"The resourceId of the action group. This cannot be null or empty."},"webhookProperties":{"type":"object","description":"the dictionary of custom properties to include with the post operation. These data are appended to the webhook payload."}},"description":"A pointer to an Azure Action Group."},"ActivityLogAlertActionList":{"type":"object","properties":{"actionGroups":{"type":"array","description":"The list of activity log alerts.","items":{"$ref":"#/components/schemas/ActivityLogAlertActionGroup"}}},"description":"A list of activity log alert actions."},"ActivityLogAlertAllOfCondition":{"required":["allOf"],"type":"object","properties":{"allOf":{"type":"array","description":"The list of activity log alert conditions.","items":{"$ref":"#/components/schemas/ActivityLogAlertLeafCondition"}}},"description":"An Activity Log alert condition that is met when all its member conditions are met."},"ActivityLogAlertLeafCondition":{"required":["equals","field"],"type":"object","properties":{"equals":{"type":"string","description":"The field value will be compared to this value (case-insensitive) to determine if the condition is met."},"field":{"type":"string","description":"The name of the field that this condition will examine. The possible values for this field are (case-insensitive): 'resourceId', 'category', 'caller', 'level', 'operationName', 'resourceGroup', 'resourceProvider', 'status', 'subStatus', 'resourceType', or anything beginning with 'properties.'."}},"description":"An Activity Log alert condition that is met by comparing an activity log field and value."},"ActivityLogAlertList":{"type":"object","properties":{"nextLink":{"type":"string","description":"Provides the link to retrieve the next set of elements."},"value":{"type":"array","description":"The list of activity log alerts.","items":{"$ref":"#/components/schemas/ActivityLogAlertResource"}}},"description":"A list of activity log alerts."},"ActivityLogAlertPatch":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Indicates whether this activity log alert is enabled. If an activity log alert is not enabled, then none of its actions will be activated.","default":true}},"description":"An Azure activity log alert for patch operations."},"ActivityLogAlertPatchBody":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ActivityLogAlertPatch"},"tags":{"type":"object","description":"Resource tags"}},"description":"An activity log alert object for the body of patch operations."},"ActivityLogAlertResource":{"properties":{"properties":{"$ref":"#/components/schemas/ActivityLogAlert"}},"description":"An activity log alert resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."},"Resource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Azure resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Azure resource name","readOnly":true},"tags":{"type":"object","description":"Resource tags"},"type":{"type":"string","description":"Azure resource type","readOnly":true}},"description":"An azure resource object"}},"parameters":{"ActivityLogAlertNameParameter":{"name":"activityLogAlertName","in":"path","description":"The name of the activity log alert.","required":true,"schema":{"type":"string"}},"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The Azure subscription Id.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}