{"openapi":"3.0.1","info":{"title":"Compute Admin Client","version":"2015-12-01-preview"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/platformImage":{"get":{"tags":["PlatformImages"],"summary":"Returns all platform images.","description":"Returns a list of all platform images.","operationId":"PlatformImages_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2015-12-01-preview"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformImageList"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/platformImage/publishers/{publisher}/offers/{offer}/skus/{sku}/versions/{version}":{"get":{"tags":["PlatformImages"],"summary":"Returns the requested platform image.","description":"Returns the specific platform image matching publisher, offer, skus and version.","operationId":"PlatformImages_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"publisher","in":"path","description":"Name of the publisher.","required":true,"schema":{"type":"string"}},{"name":"offer","in":"path","description":"Name of the offer.","required":true,"schema":{"type":"string"}},{"name":"sku","in":"path","description":"Name of the SKU.","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"The version of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2015-12-01-preview"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformImage"}}}}}},"put":{"tags":["PlatformImages"],"summary":"Creates a platform image.","description":"Creates a new platform image with given publisher, offer, skus and version.","operationId":"PlatformImages_Create","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"publisher","in":"path","description":"Name of the publisher.","required":true,"schema":{"type":"string"}},{"name":"offer","in":"path","description":"Name of the offer.","required":true,"schema":{"type":"string"}},{"name":"sku","in":"path","description":"Name of the SKU.","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"The version of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2015-12-01-preview"}}],"requestBody":{"description":"New platform image.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformImageParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformImage"}}}},"201":{"description":"CREATED","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformImage"}}}},"202":{"description":"ACCEPTED","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformImage"}}}}}},"delete":{"tags":["PlatformImages"],"summary":"Deletes a platform image matching publisher, offer, skus and version","description":"Delete a platform image","operationId":"PlatformImages_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"publisher","in":"path","description":"Name of the publisher.","required":true,"schema":{"type":"string"}},{"name":"offer","in":"path","description":"Name of the offer.","required":true,"schema":{"type":"string"}},{"name":"sku","in":"path","description":"Name of the SKU.","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"The version of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2015-12-01-preview"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"DataDisk":{"type":"object","properties":{"lun":{"type":"integer","description":"Logical unit number.","format":"int32"},"uri":{"type":"string","description":"Location of the disk template."}},"description":"Information about datadisk."},"ImageDetails":{"type":"object","properties":{"billingPartNumber":{"type":"string","description":"The part number is used to bill for software costs."}},"description":"Information about the disk image."},"OsDisk":{"type":"object","properties":{"osType":{"$ref":"#/components/schemas/OsType"},"uri":{"type":"string","description":"Location of the disk."}},"description":"Operating system disk."},"OsType":{"type":"string","description":"Operating system type.","enum":["Unknown","Windows","Linux"]},"PlatformImage":{"properties":{"properties":{"$ref":"#/components/schemas/PlatformImageProperties"}},"description":"Platform image represents a virtual machine.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"type":{"type":"string","description":"Type of Resource.","readOnly":true}},"description":"Base resource object."}]},"PlatformImageList":{"type":"array","description":"List of platform images.","items":{"$ref":"#/components/schemas/PlatformImage"}},"PlatformImageParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/PlatformImageProperties"}},"description":"Parameters used to create a new platform image."},"PlatformImageProperties":{"type":"object","properties":{"dataDisks":{"type":"array","description":"Data disks used by the platform image.","items":{"$ref":"#/components/schemas/DataDisk"}},"details":{"$ref":"#/components/schemas/ImageDetails"},"osDisk":{"$ref":"#/components/schemas/OsDisk"},"provisioningState":{"type":"string","description":"The provisioning state of the resource.","enum":["Creating","Failed","Succeeded","Canceled"]}},"description":"Properties of platform image."}},"parameters":{"OfferParameter":{"name":"offer","in":"path","description":"Name of the offer.","required":true,"schema":{"type":"string"}},"SkuParameter":{"name":"sku","in":"path","description":"Name of the SKU.","required":true,"schema":{"type":"string"}}},"requestBodies":{"NewPlatformImageParameter":{"description":"New platform image.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformImageParameters"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}