{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Microsoft.Support",
    "description" : "Microsoft Azure Support Resource Provider.",
    "version" : "2019-05-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Support/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "This lists all the available Microsoft Support REST API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved list of operations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Support/services" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Lists all the Azure services available for support ticket creation. Here are the Service Ids for **Billing**, **Subscription Management**, and **Service and subscription limits (Quotas)** issues: <br/><table><tr><td><u>Issue type</u></td><td><u>Service Id</u></td></tr><tr><td>Billing</td><td>'/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc'</td></tr><tr><td>Subscription Management</td><td>'/providers/Microsoft.Support/services/f3dc5421-79ef-1efa-41a5-42bf3cbb52c6'</td></tr><tr><td>Quota</td><td>'/providers/Microsoft.Support/services/06bfd9d3-516b-d5c6-5802-169c800dec89'</td></tr></table> <br/><br/> For **Technical** issues, select the Service Id that maps to the Azure service/product as displayed in the **Services** drop-down list on the Azure portal's <a target='_blank' href='https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview'>New support request</a> page. <br/><br/> Always use the service and it's corresponding problem classification(s) obtained programmatically for support ticket creation. This practice ensures that you always have the most recent set of service and problem classification Ids.",
        "operationId" : "Services_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved list of Azure services available for support.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServicesListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Support/services/{serviceName}" : {
      "get" : {
        "tags" : [ "Services" ],
        "description" : "Gets a specific Azure service for support ticket creation.",
        "operationId" : "Services_Get",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "Name of Azure service",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved Azure service for support ticket creation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Service"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Support/services/{serviceName}/problemClassifications" : {
      "get" : {
        "tags" : [ "ProblemClassifications" ],
        "description" : "Lists all the problem classifications (categories) available for a specific Azure service.<br/><br/> Always use the service and problem classifications obtained programmatically. This practice ensures that you always have the most recent set of service and problem classification Ids.",
        "operationId" : "ProblemClassifications_List",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "Name of Azure service for which the problem classifications need to be retrieved.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved list of problem classifications for the specified Azure service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemClassificationsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Support/services/{serviceName}/problemClassifications/{problemClassificationName}" : {
      "get" : {
        "tags" : [ "ProblemClassifications" ],
        "description" : "Gets the details of a specific problem classification for a specific Azure service.",
        "operationId" : "ProblemClassifications_Get",
        "parameters" : [ {
          "name" : "serviceName",
          "in" : "path",
          "description" : "Name of Azure service available for support.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "problemClassificationName",
          "in" : "path",
          "description" : "Name of problem classification.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved problem classification details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemClassification"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/checkNameAvailability" : {
      "post" : {
        "tags" : [ "SupportTickets" ],
        "description" : "Check the availability of a resource name. This API should to be used to check the uniqueness of the name for support ticket creation for the selected subscription.",
        "operationId" : "SupportTickets_CheckNameAvailability",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Input to check.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckNameAvailabilityInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckNameAvailabilityOutput"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets" : {
      "get" : {
        "tags" : [ "SupportTickets" ],
        "description" : "Lists all the support tickets for an Azure subscription. <br/><br/>You can also filter the support tickets by <i>Status</i> or <i>CreatedDate</i> using the $filter parameter. Output will be a paged result with <i>nextLink</i>, using which you can retrieve the next set of support tickets. <br/><br/>Support ticket data is available for 12 months after ticket creation. If a ticket was created more than 12 months ago, a request for data might cause an error.",
        "operationId" : "SupportTickets_List",
        "parameters" : [ {
          "name" : "$top",
          "in" : "query",
          "description" : "The number of values to return in the collection. Default is 25 and max is 100.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation. We support 'odata v4.0' filter semantics. <a target='_blank' href='https://docs.microsoft.com/odata/concepts/queryoptions-overview'>Learn more</a> <br/><i>Status</i> filter can only be used with 'eq' operator. For <i>CreatedDate</i> filter, the supported operators are 'gt' and 'ge'. When using both filters, combine them using the logical 'AND'.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved support tickets.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SupportTicketsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}" : {
      "get" : {
        "tags" : [ "SupportTickets" ],
        "description" : "Gets details for a specific support ticket in an Azure subscription. <br/><br/>Support ticket data is available for 12 months after ticket creation. If a ticket was created more than 12 months ago, a request for data might cause an error.",
        "operationId" : "SupportTickets_Get",
        "parameters" : [ {
          "name" : "supportTicketName",
          "in" : "path",
          "description" : "Support ticket name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved support ticket.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SupportTicketDetails"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "SupportTickets" ],
        "description" : "Creates a new support ticket for Quota increase, Technical, Billing, and Subscription Management issues for the specified subscription. <br/><br/>A paid technical support plan is required to create a support ticket using this API. <a href='https://aka.ms/supportticketAPI'>Learn more</a> <br/><br/> Use the Services API to map the right Service Id to the issue type. For example: For billing tickets set *serviceId* to *'/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc'*. <br/> For Technical issues, the Service id will map to the Azure service you want to raise a support ticket for. <br/><br/>Always call the Services and ProblemClassifications API to get the most recent set of services and problem categories required for support ticket creation.",
        "operationId" : "SupportTickets_Create",
        "parameters" : [ {
          "name" : "supportTicketName",
          "in" : "path",
          "description" : "Support ticket name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Support ticket request payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SupportTicketDetails"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK - SupportTicket created successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SupportTicketDetails"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted, SupportTicket will be created asynchronously"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "SupportTickets" ],
        "description" : "This API allows you to update the severity level or your contact information in the support ticket. <br/><br/> Note: The severity levels cannot be changed if a support ticket is actively being worked upon by an Azure support engineer. In such a case, contact your support engineer to request severity update by adding a new communication using the Communications API.",
        "operationId" : "SupportTickets_Update",
        "parameters" : [ {
          "name" : "supportTicketName",
          "in" : "path",
          "description" : "Support ticket name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "UpdateSupportTicket object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateSupportTicket"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated support ticket.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SupportTicketDetails"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/checkNameAvailability" : {
      "post" : {
        "tags" : [ "Communications" ],
        "description" : "Check the availability of a resource name. This API should to be used to check the uniqueness of the name for adding a new communication to the support ticket.",
        "operationId" : "Communications_CheckNameAvailability",
        "parameters" : [ {
          "name" : "supportTicketName",
          "in" : "path",
          "description" : "Support ticket name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Input to check",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckNameAvailabilityInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckNameAvailabilityOutput"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/communications" : {
      "get" : {
        "tags" : [ "Communications" ],
        "description" : "Lists all communications (attachments not included) for a support ticket. <br/></br> You can also filter support ticket communications by <i>CreatedDate</i>�or <i>CommunicationType</i> using the $filter parameter. The only type of communication supported today is <i>Web</i>. Output will be a paged result with <i>nextLink</i>, using which you can retrieve the next set of Communication results. <br/><br/> Support ticket data is available for 12 months after ticket creation. If a ticket was created more than 12 months ago, a request for data might cause an error.",
        "operationId" : "Communications_List",
        "parameters" : [ {
          "name" : "supportTicketName",
          "in" : "path",
          "description" : "Support ticket name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "The number of values to return in the collection. Default is 10 and max is 10.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation. You can filter by communicationType and createdDate properties. CommunicationType supports Equals ('eq') operator and createdDate supports Greater Than ('gt') and Greater Than or Equals ('ge') operators. You may combine the CommunicationType and CreatedDate filters by Logical And ('and') operator.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved communications for a support ticket.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommunicationsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/communications/{communicationName}" : {
      "get" : {
        "tags" : [ "Communications" ],
        "description" : "Returns details of a specific communication in a support ticket.",
        "operationId" : "Communications_Get",
        "parameters" : [ {
          "name" : "supportTicketName",
          "in" : "path",
          "description" : "Support ticket name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "communicationName",
          "in" : "path",
          "description" : "Communication name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved communication details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommunicationDetails"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Communications" ],
        "description" : "Adds a new customer communication to an Azure support ticket. Adding attachments are not currently supported via the API. <br/>To add a file to a support ticket, visit the <a target='_blank' href='https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/managesupportrequest'>Manage support ticket</a> page in the Azure portal, select the support ticket, and use the file upload control to add a new file.",
        "operationId" : "Communications_Create",
        "parameters" : [ {
          "name" : "supportTicketName",
          "in" : "path",
          "description" : "Support ticket name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "communicationName",
          "in" : "path",
          "description" : "Communication name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Communication object",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommunicationDetails"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK - Communication created successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommunicationDetails"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted, Communication will be created asynchronously"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExceptionResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CheckNameAvailabilityInput" : {
        "required" : [ "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The resource name to validate"
          },
          "type" : {
            "type" : "string",
            "description" : "The type of resource",
            "enum" : [ "Microsoft.Support/supportTickets", "Microsoft.Support/communications" ]
          }
        },
        "description" : "Input of CheckNameAvailability API."
      },
      "CheckNameAvailabilityOutput" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "The detailed error message describing why the name is not available.",
            "readOnly" : true
          },
          "nameAvailable" : {
            "type" : "boolean",
            "description" : "Indicates whether the name is available.",
            "readOnly" : true
          },
          "reason" : {
            "type" : "string",
            "description" : "The reason why the name is not available.",
            "readOnly" : true
          }
        },
        "description" : "Output of check name availability API."
      },
      "CommunicationDetails" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id of the resource",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the resource",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/CommunicationDetailsProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource 'Microsoft.Support/communications'",
            "readOnly" : true
          }
        },
        "description" : "Object that represents Communication resource"
      },
      "CommunicationDetailsProperties" : {
        "required" : [ "body", "subject" ],
        "type" : "object",
        "properties" : {
          "body" : {
            "type" : "string",
            "description" : "Body of the communication"
          },
          "communicationDirection" : {
            "type" : "string",
            "description" : "Direction of communication",
            "readOnly" : true,
            "enum" : [ "inbound", "outbound" ]
          },
          "communicationType" : {
            "type" : "string",
            "description" : "Communication type",
            "readOnly" : true,
            "enum" : [ "web", "phone" ]
          },
          "createdDate" : {
            "type" : "string",
            "description" : "Time in UTC (ISO 8601 format) when the communication was created.",
            "format" : "date-time",
            "readOnly" : true
          },
          "sender" : {
            "type" : "string",
            "description" : "Email address of the sender"
          },
          "subject" : {
            "type" : "string",
            "description" : "Subject of the communication"
          }
        },
        "description" : "Describes the properties of a communication resource."
      },
      "CommunicationsListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page of Communication resources."
          },
          "value" : {
            "type" : "array",
            "description" : "List of Communication resources.",
            "items" : {
              "$ref" : "#/components/schemas/CommunicationDetails"
            }
          }
        },
        "description" : "Collection of Communication resources."
      },
      "ContactProfile" : {
        "required" : [ "country", "firstName", "lastName", "preferredContactMethod", "preferredSupportLanguage", "preferredTimeZone", "primaryEmailAddress" ],
        "type" : "object",
        "properties" : {
          "additionalEmailAddresses" : {
            "type" : "array",
            "description" : "Additional email addresses listed will be copied on any correspondence about the support ticket.",
            "items" : {
              "type" : "string"
            }
          },
          "country" : {
            "type" : "string",
            "description" : "Country of the user. This is the ISO 3166-1 alpha-3 code."
          },
          "firstName" : {
            "type" : "string",
            "description" : "First name."
          },
          "lastName" : {
            "type" : "string",
            "description" : "Last name."
          },
          "phoneNumber" : {
            "type" : "string",
            "description" : "Phone number. This is required if preferred contact method is phone."
          },
          "preferredContactMethod" : {
            "type" : "string",
            "description" : "Preferred contact method.",
            "enum" : [ "email", "phone" ]
          },
          "preferredSupportLanguage" : {
            "type" : "string",
            "description" : "Preferred language of support from Azure. Support languages vary based on the severity you choose for your support ticket. Learn more at <a  target='_blank' href='https://azure.microsoft.com/support/plans/response/'>Azure Severity and responsiveness</a>. Use the standard language-country code. Valid values are 'en-us' for English, 'zh-hans' for Chinese, 'es-es' for Spanish, 'fr-fr' for French, 'ja-jp' for Japanese, 'ko-kr' for Korean, 'ru-ru' for Russian, 'pt-br' for Portuguese, 'it-it' for Italian, 'zh-tw' for Chinese and 'de-de' for German."
          },
          "preferredTimeZone" : {
            "type" : "string",
            "description" : "Time zone of the user. This is the name of the time zone from <a  target='_blank' href='https://support.microsoft.com/en-us/help/973627/microsoft-time-zone-index-values'>Microsoft Time Zone Index Values</a>."
          },
          "primaryEmailAddress" : {
            "type" : "string",
            "description" : "Primary email address."
          }
        },
        "description" : "Contact information associated with support ticket."
      },
      "ExceptionResponse" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/ServiceError"
          }
        },
        "description" : "The api error."
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "properties" : {
              "description" : {
                "type" : "string",
                "description" : "The description of the operation",
                "readOnly" : true
              },
              "operation" : {
                "type" : "string",
                "description" : "The action that users can perform, based on their permission level",
                "readOnly" : true
              },
              "provider" : {
                "type" : "string",
                "description" : "Service provider: Microsoft Support",
                "readOnly" : true
              },
              "resource" : {
                "type" : "string",
                "description" : "Resource on which the operation is performed",
                "readOnly" : true
              }
            },
            "description" : "The object that describes the operation."
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}",
            "readOnly" : true
          }
        },
        "description" : "The operation supported by Microsoft Support RP."
      },
      "OperationsListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of operations supported by Microsoft Support resource provider.",
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "The list of operations supported by Microsoft Support resource provider."
      },
      "ProblemClassification" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id of the resource",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the resource",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/ProblemClassificationProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource 'Microsoft.Support/problemClassification'",
            "readOnly" : true
          }
        },
        "description" : "ProblemClassification resource object"
      },
      "ProblemClassificationProperties" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "Localized name of problem classification."
          }
        },
        "description" : "Details about a problem classification available for an Azure service"
      },
      "ProblemClassificationsListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of ProblemClassification resources",
            "items" : {
              "$ref" : "#/components/schemas/ProblemClassification"
            }
          }
        },
        "description" : "Collection of ProblemClassification resources"
      },
      "QuotaChangeRequest" : {
        "type" : "object",
        "properties" : {
          "payload" : {
            "type" : "string",
            "description" : "Payload of the quota increase request."
          },
          "region" : {
            "type" : "string",
            "description" : "Region for which the quota increase request is being made."
          }
        },
        "description" : "This property is required for providing the region and new quota limits"
      },
      "QuotaTicketDetails" : {
        "type" : "object",
        "properties" : {
          "quotaChangeRequestSubType" : {
            "type" : "string",
            "description" : "Required for certain quota types when there is a sub type that you are requesting quota increase for. Example: Batch"
          },
          "quotaChangeRequestVersion" : {
            "type" : "string",
            "description" : "Quota change request version"
          },
          "quotaChangeRequests" : {
            "type" : "array",
            "description" : "This property is required for providing the region and new quota limits.",
            "items" : {
              "$ref" : "#/components/schemas/QuotaChangeRequest"
            }
          }
        },
        "description" : "Additional set of information required for quota increase support ticket for certain quota types, e.g.: Virtual machine cores. Get complete details about Quota payload support request along with examples at <a target='' href='https://aka.ms/supportrpquotarequestpayload'>Support quota request</a>."
      },
      "Service" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id of the resource",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the resource",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/ServiceProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource 'Microsoft.Support/services'",
            "readOnly" : true
          }
        },
        "description" : "Object that represents a Service resource."
      },
      "ServiceError" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code."
          },
          "details" : {
            "type" : "array",
            "description" : "The list of error details.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ServiceErrorDetail"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "The error message."
          },
          "target" : {
            "type" : "string",
            "description" : "The target of the error."
          }
        },
        "description" : "The api error details."
      },
      "ServiceErrorDetail" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code.",
            "readOnly" : true
          },
          "message" : {
            "type" : "string",
            "description" : "The error message.",
            "readOnly" : true
          },
          "target" : {
            "type" : "string",
            "description" : "The target of the error."
          }
        },
        "description" : "The error details."
      },
      "ServiceLevelAgreement" : {
        "type" : "object",
        "properties" : {
          "expirationTime" : {
            "type" : "string",
            "description" : "Time in UTC (ISO 8601 format) when service level agreement expires.",
            "format" : "date-time",
            "readOnly" : true
          },
          "slaMinutes" : {
            "type" : "integer",
            "description" : "Service Level Agreement in minutes",
            "readOnly" : true
          },
          "startTime" : {
            "type" : "string",
            "description" : "Time in UTC (ISO 8601 format) when service level agreement starts.",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "description" : "Service Level Agreement details for a support ticket."
      },
      "ServiceProperties" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "Localized name of Azure service"
          }
        },
        "description" : "Details about Azure service available for support ticket creation"
      },
      "ServicesListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of Service resources",
            "items" : {
              "$ref" : "#/components/schemas/Service"
            }
          }
        },
        "description" : "Collection of Service resources."
      },
      "SupportEngineer" : {
        "type" : "object",
        "properties" : {
          "emailAddress" : {
            "type" : "string",
            "description" : "Email address of the Azure Support engineer assigned to the support ticket.",
            "readOnly" : true
          }
        },
        "description" : "Support engineer information."
      },
      "SupportTicketDetails" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id of the resource",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the resource",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/SupportTicketDetailsProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource 'Microsoft.Support/supportTickets'",
            "readOnly" : true
          }
        },
        "description" : "Object that represents SupportTicketDetails resource"
      },
      "SupportTicketDetailsProperties" : {
        "required" : [ "contactDetails", "description", "problemClassificationId", "serviceId", "severity", "title" ],
        "type" : "object",
        "properties" : {
          "contactDetails" : {
            "$ref" : "#/components/schemas/ContactProfile"
          },
          "createdDate" : {
            "type" : "string",
            "description" : "Time in UTC (ISO 8601 format) when support ticket was created.",
            "format" : "date-time",
            "readOnly" : true
          },
          "description" : {
            "type" : "string",
            "description" : "Detailed description of the question or issue."
          },
          "enrollmentId" : {
            "type" : "string",
            "description" : "Enrollment ID associated with the support ticket.",
            "readOnly" : true
          },
          "modifiedDate" : {
            "type" : "string",
            "description" : "Time in UTC (ISO 8601 format) when support ticket was last modified.",
            "format" : "date-time",
            "readOnly" : true
          },
          "problemClassificationDisplayName" : {
            "type" : "string",
            "description" : "Localized name of problem classification.",
            "readOnly" : true
          },
          "problemClassificationId" : {
            "type" : "string",
            "description" : "Each Azure service has its own set of issue category called problem classification that corresponds to the type of problem you're experiencing. This parameter is the resource id of ProblemClassification resource."
          },
          "problemStartTime" : {
            "type" : "string",
            "description" : "Time in UTC (ISO 8601 format) when the problem started.",
            "format" : "date-time"
          },
          "productionOutage" : {
            "type" : "boolean",
            "description" : "Indicates if this issue is a production outage.",
            "readOnly" : true
          },
          "quotaTicketDetails" : {
            "$ref" : "#/components/schemas/QuotaTicketDetails"
          },
          "require24X7Response" : {
            "type" : "boolean",
            "description" : "Indicates if this requires a 24x7 response from Azure."
          },
          "serviceDisplayName" : {
            "type" : "string",
            "description" : "Localized name of Azure service.",
            "readOnly" : true
          },
          "serviceId" : {
            "type" : "string",
            "description" : "This is the resource id of the Azure service resource associated with the support ticket."
          },
          "serviceLevelAgreement" : {
            "$ref" : "#/components/schemas/ServiceLevelAgreement"
          },
          "severity" : {
            "type" : "string",
            "description" : "A value that indicates the urgency of the case, which in turn determines the response time according to the service level agreement of the technical support plan you have with Azure.",
            "enum" : [ "minimal", "moderate", "critical" ]
          },
          "status" : {
            "type" : "string",
            "description" : "Status of the support ticket.",
            "readOnly" : true
          },
          "supportEngineer" : {
            "$ref" : "#/components/schemas/SupportEngineer"
          },
          "supportPlanType" : {
            "type" : "string",
            "description" : "Support plan type associated with the support ticket.",
            "readOnly" : true
          },
          "supportTicketId" : {
            "type" : "string",
            "description" : "System generated support ticket id that is unique."
          },
          "technicalTicketDetails" : {
            "$ref" : "#/components/schemas/TechnicalTicketDetails"
          },
          "title" : {
            "type" : "string",
            "description" : "Title of the support ticket."
          }
        },
        "description" : "Describes the properties of a support ticket."
      },
      "SupportTicketsListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page of SupportTicket resources."
          },
          "value" : {
            "type" : "array",
            "description" : "List of SupportTicket resources.",
            "items" : {
              "$ref" : "#/components/schemas/SupportTicketDetails"
            }
          }
        },
        "description" : "Object that represents a collection of SupportTicket resources."
      },
      "TechnicalTicketDetails" : {
        "type" : "object",
        "properties" : {
          "resourceId" : {
            "type" : "string",
            "description" : "This is the resource id of the Azure service resource (For example: A virtual machine resource or an HDInsight resource) for which the support ticket is created."
          }
        },
        "description" : "Additional information for technical support ticket."
      },
      "UpdateContactProfile" : {
        "type" : "object",
        "properties" : {
          "additionalEmailAddresses" : {
            "type" : "array",
            "description" : "Email addresses listed will be copied on any correspondence about the support ticket",
            "items" : {
              "type" : "string"
            }
          },
          "country" : {
            "type" : "string",
            "description" : "Country of the user. This is the ISO 3166-1 alpha-3 code."
          },
          "firstName" : {
            "type" : "string",
            "description" : "First name"
          },
          "lastName" : {
            "type" : "string",
            "description" : "Last name"
          },
          "phoneNumber" : {
            "type" : "string",
            "description" : "Phone number. This is required if preferred contact method is phone."
          },
          "preferredContactMethod" : {
            "type" : "string",
            "description" : "Preferred contact method",
            "enum" : [ "email", "phone" ]
          },
          "preferredSupportLanguage" : {
            "type" : "string",
            "description" : "Preferred language of support from Azure. Support languages vary based on the severity you choose for your support ticket. Learn more at <a  target='_blank' href='https://azure.microsoft.com/support/plans/response/'>Azure Severity and responsiveness</a>. Use the standard language-country code. Valid values are 'en-us' for English, 'zh-hans' for Chinese, 'es-es' for Spanish, 'fr-fr' for French, 'ja-jp' for Japanese, 'ko-kr' for Korean, 'ru-ru' for Russian, 'pt-br' for Portuguese, 'it-it' for Italian, 'zh-tw' for Chinese and 'de-de' for German."
          },
          "preferredTimeZone" : {
            "type" : "string",
            "description" : "Time zone of the user. This is the name of the time zone from <a  target='_blank' href='https://support.microsoft.com/en-us/help/973627/microsoft-time-zone-index-values'>Microsoft Time Zone Index Values</a>."
          },
          "primaryEmailAddress" : {
            "type" : "string",
            "description" : "Primary email address"
          }
        },
        "description" : "Contact information associated with the support ticket."
      },
      "UpdateSupportTicket" : {
        "type" : "object",
        "properties" : {
          "contactDetails" : {
            "$ref" : "#/components/schemas/UpdateContactProfile"
          },
          "severity" : {
            "type" : "string",
            "description" : "Severity level",
            "enum" : [ "minimal", "moderate", "critical" ]
          }
        },
        "description" : "Updates severity and contact details in the support ticket."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Api version",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Azure subscription id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}