{"openapi":"3.0.0","servers":[{"url":"https://cloudsearch.googleapis.com/"}],"info":{"contact":{"name":"Google","url":"https://google.com","x-twitter":"youtube"},"description":"Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.","license":{"name":"Creative Commons Attribution 3.0","url":"http://creativecommons.org/licenses/by/3.0/"},"termsOfService":"https://developers.google.com/terms/","title":"Cloud Search API","version":"v1","x-apisguru-categories":["analytics","media"],"x-logo":{"url":"https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg"},"x-origin":[{"converter":{"url":"https://github.com/mermade/oas-kit","version":"7.0.4"},"format":"google","url":"https://cloudsearch.googleapis.com/$discovery/rest?version=v1","version":"v1"}],"x-providerName":"googleapis.com","x-serviceName":"cloudsearch"},"externalDocs":{"url":"https://developers.google.com/cloud-search/docs/guides/"},"tags":[{"name":"debug"},{"name":"indexing"},{"name":"media"},{"name":"operations"},{"name":"query"},{"name":"settings"},{"name":"stats"},{"name":"v1"}],"paths":{"/v1/debug/{name}/items:searchByViewUrl":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Fetches the item whose viewUrl exactly matches that of the URL provided in the request. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.debug.datasources.items.searchByViewUrl","parameters":[{"description":"Source name, format: datasources/{source_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchItemsByViewUrlRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchItemsByViewUrlResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.debug"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.debug"]}],"tags":["debug"]}},"/v1/debug/{name}:checkAccess":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Checks whether an item is accessible by specified principal. Principal must be a user; groups and domain values aren't supported. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.debug.datasources.items.checkAccess","parameters":[{"description":"Item name, format: datasources/{source_id}/items/{item_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Principal"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckAccessResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.debug"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.debug"]}],"tags":["debug"]}},"/v1/debug/{parent}/items:forunmappedidentity":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Lists names of items associated with an unmapped identity. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.debug.identitysources.items.listForunmappedidentity","parameters":[{"description":"The name of the identity source, in the following format: identitysources/{source_id}}","in":"path","name":"parent","required":true,"schema":{"type":"string"}},{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}},{"in":"query","name":"groupResourceName","schema":{"type":"string"}},{"description":"Maximum number of items to fetch in a request. Defaults to 100.","in":"query","name":"pageSize","schema":{"type":"integer"}},{"description":"The next_page_token value returned from a previous List request, if any.","in":"query","name":"pageToken","schema":{"type":"string"}},{"in":"query","name":"userResourceName","schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListItemNamesForUnmappedIdentityResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.debug"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.debug"]}],"tags":["debug"]}},"/v1/debug/{parent}/unmappedids":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Lists unmapped user identities for an identity source. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.debug.identitysources.unmappedids.list","parameters":[{"description":"The name of the identity source, in the following format: identitysources/{source_id}","in":"path","name":"parent","required":true,"schema":{"type":"string"}},{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}},{"description":"Maximum number of items to fetch in a request. Defaults to 100.","in":"query","name":"pageSize","schema":{"type":"integer"}},{"description":"The next_page_token value returned from a previous List request, if any.","in":"query","name":"pageToken","schema":{"type":"string"}},{"description":"Limit users selection to this status.","in":"query","name":"resolutionStatusCode","schema":{"enum":["CODE_UNSPECIFIED","NOT_FOUND","IDENTITY_SOURCE_NOT_FOUND","IDENTITY_SOURCE_MISCONFIGURED","TOO_MANY_MAPPINGS_FOUND","INTERNAL_ERROR"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListUnmappedIdentitiesResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.debug"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.debug"]}],"tags":["debug"]}},"/v1/indexing/{name}":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"delete":{"description":"Deletes Item resource for the specified resource name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.","operationId":"cloudsearch.indexing.datasources.items.delete","parameters":[{"description":"Required. The name of the item to delete. Format: datasources/{source_id}/items/{item_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}","in":"query","name":"connectorName","schema":{"type":"string"}},{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}},{"description":"Required. The RequestMode for this request.","in":"query","name":"mode","schema":{"enum":["UNSPECIFIED","SYNCHRONOUS","ASYNCHRONOUS"],"type":"string"}},{"description":"Required. The incremented version of the item to delete from the index. The indexing system stores the version from the datasource as a byte string and compares the Item version in the index to the version of the queued Item using lexical ordering. Cloud Search Indexing won't delete any queued item with a version value that is less than or equal to the version of the currently indexed item. The maximum length for this field is 1024 bytes. For information on how item version affects the deletion process, refer to [Handle revisions after manual deletes](https://developers.google.com/cloud-search/docs/guides/operations).","in":"query","name":"version","schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]}],"tags":["indexing"]},"get":{"description":"Gets Item resource by item name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.","operationId":"cloudsearch.indexing.datasources.items.get","parameters":[{"description":"The name of the item to get info. Format: datasources/{source_id}/items/{item_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}","in":"query","name":"connectorName","schema":{"type":"string"}},{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Item"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]}],"tags":["indexing"]}},"/v1/indexing/{name}/items":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Lists all or a subset of Item resources. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.","operationId":"cloudsearch.indexing.datasources.items.list","parameters":[{"description":"The name of the Data Source to list Items. Format: datasources/{source_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"When set to true, the indexing system only populates the following fields: name, version, queue. metadata.hash, metadata.title, metadata.sourceRepositoryURL, metadata.objectType, metadata.createTime, metadata.updateTime, metadata.contentLanguage, metadata.mimeType, structured_data.hash, content.hash, itemType, itemStatus.code, itemStatus.processingError.code, itemStatus.repositoryError.type, If this value is false, then all the fields are populated in Item.","in":"query","name":"brief","schema":{"type":"boolean"}},{"description":"The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}","in":"query","name":"connectorName","schema":{"type":"string"}},{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}},{"description":"Maximum number of items to fetch in a request. The max value is 1000 when brief is true. The max value is 10 if brief is false. The default value is 10","in":"query","name":"pageSize","schema":{"type":"integer"}},{"description":"The next_page_token value returned from a previous List request, if any.","in":"query","name":"pageToken","schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListItemsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]}],"tags":["indexing"]}},"/v1/indexing/{name}/items:deleteQueueItems":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Deletes all items in a queue. This method is useful for deleting stale items. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.","operationId":"cloudsearch.indexing.datasources.items.deleteQueueItems","parameters":[{"description":"The name of the Data Source to delete items in a queue. Format: datasources/{source_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteQueueItemsRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]}],"tags":["indexing"]}},"/v1/indexing/{name}/items:poll":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Polls for unreserved items from the indexing queue and marks a set as reserved, starting with items that have the oldest timestamp from the highest priority ItemStatus. The priority order is as follows: ERROR MODIFIED NEW_ITEM ACCEPTED Reserving items ensures that polling from other threads cannot create overlapping sets. After handling the reserved items, the client should put items back into the unreserved state, either by calling index, or by calling push with the type REQUEUE. Items automatically become available (unreserved) after 4 hours even if no update or push method is called. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.","operationId":"cloudsearch.indexing.datasources.items.poll","parameters":[{"description":"The name of the Data Source to poll items. Format: datasources/{source_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PollItemsRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PollItemsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]}],"tags":["indexing"]}},"/v1/indexing/{name}/items:unreserve":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Unreserves all items from a queue, making them all eligible to be polled. This method is useful for resetting the indexing queue after a connector has been restarted. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.","operationId":"cloudsearch.indexing.datasources.items.unreserve","parameters":[{"description":"The name of the Data Source to unreserve all items. Format: datasources/{source_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnreserveItemsRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]}],"tags":["indexing"]}},"/v1/indexing/{name}/schema":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"delete":{"description":"Deletes the schema of a data source. **Note:** This API requires an admin or service account to execute.","operationId":"cloudsearch.indexing.datasources.deleteSchema","parameters":[{"description":"The name of the data source to delete Schema. Format: datasources/{source_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.indexing"]}],"tags":["indexing"]},"get":{"description":"Gets the schema of a data source. **Note:** This API requires an admin or service account to execute.","operationId":"cloudsearch.indexing.datasources.getSchema","parameters":[{"description":"The name of the data source to get Schema. Format: datasources/{source_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Schema"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.indexing"]}],"tags":["indexing"]},"put":{"description":"Updates the schema of a data source. This method does not perform incremental updates to the schema. Instead, this method updates the schema by overwriting the entire schema. **Note:** This API requires an admin or service account to execute.","operationId":"cloudsearch.indexing.datasources.updateSchema","parameters":[{"description":"The name of the data source to update Schema. Format: datasources/{source_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSchemaRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.indexing"]}],"tags":["indexing"]}},"/v1/indexing/{name}:index":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Updates Item ACL, metadata, and content. It will insert the Item if it does not exist. This method does not support partial updates. Fields with no provided values are cleared out in the Cloud Search index. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.","operationId":"cloudsearch.indexing.datasources.items.index","parameters":[{"description":"The name of the Item. Format: datasources/{source_id}/items/{item_id} This is a required field. The maximum length is 1536 characters.","in":"path","name":"name","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexItemRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]}],"tags":["indexing"]}},"/v1/indexing/{name}:push":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Pushes an item onto a queue for later polling and updating. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.","operationId":"cloudsearch.indexing.datasources.items.push","parameters":[{"description":"The name of the item to push into the indexing queue. Format: datasources/{source_id}/items/{ID} This is a required field. The maximum length is 1536 characters.","in":"path","name":"name","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushItemRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Item"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]}],"tags":["indexing"]}},"/v1/indexing/{name}:upload":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Creates an upload session for uploading item content. For items smaller than 100 KB, it's easier to embed the content inline within an index request. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.","operationId":"cloudsearch.indexing.datasources.items.upload","parameters":[{"description":"The name of the Item to start a resumable upload. Format: datasources/{source_id}/items/{item_id}. The maximum length is 1536 bytes.","in":"path","name":"name","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartUploadItemRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadItemRef"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]}],"tags":["indexing"]}},"/v1/media/{resourceName}":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Uploads media for indexing. The upload endpoint supports direct and resumable upload protocols and is intended for large items that can not be [inlined during index requests](https://developers.google.com/cloud-search/docs/reference/rest/v1/indexing.datasources.items#itemcontent). To index large content: 1. Call indexing.datasources.items.upload with the item name to begin an upload session and retrieve the UploadItemRef. 1. Call media.upload to upload the content, as a streaming request, using the same resource name from the UploadItemRef from step 1. 1. Call indexing.datasources.items.index to index the item. Populate the [ItemContent](/cloud-search/docs/reference/rest/v1/indexing.datasources.items#ItemContent) with the UploadItemRef from step 1. For additional information, see [Create a content connector using the REST API](https://developers.google.com/cloud-search/docs/guides/content-connector#rest). **Note:** This API requires a service account to execute.","operationId":"cloudsearch.media.upload","parameters":[{"description":"Name of the media that is being downloaded. See ReadRequest.resource_name.","in":"path","name":"resourceName","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/Media"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Media"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]}],"tags":["media"]}},"/v1/query/search":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"The Cloud Search Query API provides the search method, which returns the most relevant results from a user query. The results can come from Google Workspace apps, such as Gmail or Google Drive, or they can come from data that you have indexed from a third party. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).","operationId":"cloudsearch.query.search","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.query"]}],"tags":["query"]}},"/v1/query/sources":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Returns list of sources that user can use for Search and Suggest APIs. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).","operationId":"cloudsearch.query.sources.list","parameters":[{"description":"Number of sources to return in the response.","in":"query","name":"pageToken","schema":{"type":"string"}},{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"requestOptions.debugOptions.enableDebugging","schema":{"type":"boolean"}},{"description":"The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. From Suggest API perspective, for 3p suggest this is used as a hint while making predictions to add language boosting.","in":"query","name":"requestOptions.languageCode","schema":{"type":"string"}},{"description":"The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922).","in":"query","name":"requestOptions.searchApplicationId","schema":{"type":"string"}},{"description":"Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used.","in":"query","name":"requestOptions.timeZone","schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListQuerySourcesResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.query"]}],"tags":["query"]}},"/v1/query/suggest":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Provides suggestions for autocompleting the query. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).","operationId":"cloudsearch.query.suggest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuggestRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuggestResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.query"]}],"tags":["query"]}},"/v1/settings/customer":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Get customer settings. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.settings.getCustomer","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerSettings"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.indexing"]}],"tags":["settings"]},"patch":{"description":"Update customer settings. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.settings.updateCustomer","parameters":[{"description":"Update mask to control which fields get updated. If you specify a field in the update_mask but don't specify its value here, that field will be cleared. If the mask is not present or empty, all fields will be updated. Currently supported field paths: vpc_settings and audit_logging_settings","in":"query","name":"updateMask","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerSettings"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.indexing"]}],"tags":["settings"]}},"/v1/settings/datasources":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Lists datasources. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.settings.datasources.list","parameters":[{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}},{"description":"Maximum number of datasources to fetch in a request. The max value is 1000. The default value is 1000.","in":"query","name":"pageSize","schema":{"type":"integer"}},{"description":"Starting index of the results.","in":"query","name":"pageToken","schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListDataSourceResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.indexing"]}],"tags":["settings"]},"post":{"description":"Creates a datasource. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.settings.datasources.create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataSource"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.indexing"]}],"tags":["settings"]}},"/v1/settings/searchapplications":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Lists all search applications. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.settings.searchapplications.list","parameters":[{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}},{"description":"The maximum number of items to return.","in":"query","name":"pageSize","schema":{"type":"integer"}},{"description":"The next_page_token value returned from a previous List request, if any. The default value is 10","in":"query","name":"pageToken","schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListSearchApplicationsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.query"]}],"tags":["settings"]},"post":{"description":"Creates a search application. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.settings.searchapplications.create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchApplication"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.query"]}],"tags":["settings"]}},"/v1/settings/{name}":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"delete":{"description":"Deletes a search application. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.settings.searchapplications.delete","parameters":[{"description":"The name of the search application to be deleted. Format: applications/{application_id}.","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.query"]}],"tags":["settings"]},"get":{"description":"Gets the specified search application. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.settings.searchapplications.get","parameters":[{"description":"The name of the search application. Format: searchapplications/{application_id}.","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.","in":"query","name":"debugOptions.enableDebugging","schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchApplication"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.query"]}],"tags":["settings"]},"patch":{"description":"Updates a search application. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.settings.searchapplications.patch","parameters":[{"description":"The name of the Search Application. Format: searchapplications/{application_id}.","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"Only applies to [`settings.searchapplications.patch`](https://developers.google.com/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.","in":"query","name":"updateMask","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchApplication"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.query"]}],"tags":["settings"]},"put":{"description":"Updates a search application. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.settings.searchapplications.update","parameters":[{"description":"The name of the Search Application. Format: searchapplications/{application_id}.","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"Only applies to [`settings.searchapplications.patch`](https://developers.google.com/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.","in":"query","name":"updateMask","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchApplication"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.query"]}],"tags":["settings"]}},"/v1/settings/{name}:reset":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Resets a search application to default settings. This will return an empty response. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.settings.searchapplications.reset","parameters":[{"description":"The name of the search application to be reset. Format: applications/{application_id}.","in":"path","name":"name","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetSearchApplicationRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.query"]}],"tags":["settings"]}},"/v1/stats/index":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Gets indexed item statistics aggreggated across all data sources. This API only returns statistics for previous dates; it doesn't return statistics for the current day. **Note:** This API requires a standard end user account to execute.","operationId":"cloudsearch.stats.getIndex","parameters":[{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"fromDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"fromDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"fromDate.year","schema":{"type":"integer"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"toDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"toDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"toDate.year","schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCustomerIndexStatsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats.indexing"]}],"tags":["stats"]}},"/v1/stats/index/{name}":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Gets indexed item statistics for a single data source. **Note:** This API requires a standard end user account to execute.","operationId":"cloudsearch.stats.index.datasources.get","parameters":[{"description":"The resource id of the data source to retrieve statistics for, in the following format: \"datasources/{source_id}\"","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"fromDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"fromDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"fromDate.year","schema":{"type":"integer"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"toDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"toDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"toDate.year","schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDataSourceIndexStatsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats.indexing"]}],"tags":["stats"]}},"/v1/stats/query":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Get the query statistics for customer. **Note:** This API requires a standard end user account to execute.","operationId":"cloudsearch.stats.getQuery","parameters":[{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"fromDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"fromDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"fromDate.year","schema":{"type":"integer"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"toDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"toDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"toDate.year","schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCustomerQueryStatsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats.indexing"]}],"tags":["stats"]}},"/v1/stats/query/{name}":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Get the query statistics for search application. **Note:** This API requires a standard end user account to execute.","operationId":"cloudsearch.stats.query.searchapplications.get","parameters":[{"description":"The resource id of the search application query stats, in the following format: searchapplications/{application_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"fromDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"fromDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"fromDate.year","schema":{"type":"integer"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"toDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"toDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"toDate.year","schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSearchApplicationQueryStatsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats.indexing"]}],"tags":["stats"]}},"/v1/stats/searchapplication":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Get search application stats for customer. **Note:** This API requires a standard end user account to execute.","operationId":"cloudsearch.stats.getSearchapplication","parameters":[{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"endDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"endDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"endDate.year","schema":{"type":"integer"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"startDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"startDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"startDate.year","schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCustomerSearchApplicationStatsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats.indexing"]}],"tags":["stats"]}},"/v1/stats/session":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Get the # of search sessions, % of successful sessions with a click query statistics for customer. **Note:** This API requires a standard end user account to execute.","operationId":"cloudsearch.stats.getSession","parameters":[{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"fromDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"fromDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"fromDate.year","schema":{"type":"integer"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"toDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"toDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"toDate.year","schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCustomerSessionStatsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats.indexing"]}],"tags":["stats"]}},"/v1/stats/session/{name}":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Get the # of search sessions, % of successful sessions with a click query statistics for search application. **Note:** This API requires a standard end user account to execute.","operationId":"cloudsearch.stats.session.searchapplications.get","parameters":[{"description":"The resource id of the search application session stats, in the following format: searchapplications/{application_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"fromDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"fromDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"fromDate.year","schema":{"type":"integer"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"toDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"toDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"toDate.year","schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSearchApplicationSessionStatsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats.indexing"]}],"tags":["stats"]}},"/v1/stats/user":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Get the users statistics for customer. **Note:** This API requires a standard end user account to execute.","operationId":"cloudsearch.stats.getUser","parameters":[{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"fromDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"fromDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"fromDate.year","schema":{"type":"integer"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"toDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"toDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"toDate.year","schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCustomerUserStatsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats.indexing"]}],"tags":["stats"]}},"/v1/stats/user/{name}":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Get the users statistics for search application. **Note:** This API requires a standard end user account to execute.","operationId":"cloudsearch.stats.user.searchapplications.get","parameters":[{"description":"The resource id of the search application session stats, in the following format: searchapplications/{application_id}","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"fromDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"fromDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"fromDate.year","schema":{"type":"integer"}},{"description":"Day of month. Must be from 1 to 31 and valid for the year and month.","in":"query","name":"toDate.day","schema":{"type":"integer"}},{"description":"Month of date. Must be from 1 to 12.","in":"query","name":"toDate.month","schema":{"type":"integer"}},{"description":"Year of date. Must be from 1 to 9999.","in":"query","name":"toDate.year","schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSearchApplicationUserStatsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.stats.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.stats.indexing"]}],"tags":["stats"]}},"/v1/{name}":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.","operationId":"cloudsearch.operations.get","parameters":[{"description":"The name of the operation resource.","in":"path","name":"name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.debug"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.debug"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.indexing"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.query"]}],"tags":["operations"]}},"/v1/{name}/lro":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"get":{"description":"Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.","operationId":"cloudsearch.operations.lro.list","parameters":[{"description":"The name of the operation's parent resource.","in":"path","name":"name","required":true,"schema":{"type":"string"}},{"description":"The standard list filter.","in":"query","name":"filter","schema":{"type":"string"}},{"description":"The standard list page size.","in":"query","name":"pageSize","schema":{"type":"integer"}},{"description":"The standard list page token.","in":"query","name":"pageToken","schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOperationsResponse"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.debug"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.debug"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.indexing"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.indexing"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.query"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.query"]}],"tags":["operations"]}},"/v1:initializeCustomer":{"parameters":[{"$ref":"#/components/parameters/_.xgafv"},{"$ref":"#/components/parameters/access_token"},{"$ref":"#/components/parameters/alt"},{"$ref":"#/components/parameters/callback"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/oauth_token"},{"$ref":"#/components/parameters/prettyPrint"},{"$ref":"#/components/parameters/quotaUser"},{"$ref":"#/components/parameters/upload_protocol"},{"$ref":"#/components/parameters/uploadType"}],"post":{"description":"Enables `third party` support in Google Cloud Search. **Note:** This API requires an admin account to execute.","operationId":"cloudsearch.initializeCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitializeCustomerRequest"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Operation"}}},"description":"Successful response"}},"security":[{"Oauth2":["https://www.googleapis.com/auth/cloud_search"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings"]},{"Oauth2":["https://www.googleapis.com/auth/cloud_search.settings.indexing"],"Oauth2c":["https://www.googleapis.com/auth/cloud_search.settings.indexing"]}],"tags":["v1"]}}},"components":{"parameters":{"_.xgafv":{"description":"V1 error format.","in":"query","name":"$.xgafv","schema":{"enum":["1","2"],"type":"string"}},"access_token":{"description":"OAuth access token.","in":"query","name":"access_token","schema":{"type":"string"}},"alt":{"description":"Data format for response.","in":"query","name":"alt","schema":{"enum":["json","media","proto"],"type":"string"}},"callback":{"description":"JSONP","in":"query","name":"callback","schema":{"type":"string"}},"fields":{"description":"Selector specifying which fields to include in a partial response.","in":"query","name":"fields","schema":{"type":"string"}},"key":{"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","in":"query","name":"key","schema":{"type":"string"}},"oauth_token":{"description":"OAuth 2.0 token for the current user.","in":"query","name":"oauth_token","schema":{"type":"string"}},"prettyPrint":{"description":"Returns response with indentations and line breaks.","in":"query","name":"prettyPrint","schema":{"type":"boolean"}},"quotaUser":{"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","in":"query","name":"quotaUser","schema":{"type":"string"}},"uploadType":{"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","in":"query","name":"uploadType","schema":{"type":"string"}},"upload_protocol":{"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","in":"query","name":"upload_protocol","schema":{"type":"string"}}},"schemas":{"AbuseReportingConfig":{"description":"Abuse reporting configuration outlining what is supported in this conference.","properties":{"recordingAllowed":{"description":"Whether the current call may include video recordings in its abuse reports.","type":"boolean"},"writtenUgcAllowed":{"description":"Whether the current call may include user generated content (chat, polls, Q&A...) in its abuse reports.","type":"boolean"}},"type":"object"},"AckInfo":{"description":"Information about how devices in a meeting have acked for a session/operation.","properties":{"unackedDeviceCount":{"description":"Output only. Number of meeting devices that have not acked yet.","format":"int32","readOnly":true,"type":"integer"},"unackedDeviceIds":{"description":"Output only. IDs of meeting devices (at most ten are provided) that have not acked yet.","items":{"type":"string"},"readOnly":true,"type":"array"}},"type":"object"},"AclFixRequest":{"description":"The request set by clients to instruct Backend how the user intend to fix the ACL. Technically it's not a request to ACL Fixer, because Backend uses /DriveService.Share to modify Drive ACLs.","properties":{"recipientEmails":{"description":"For Spaces messages: This field is ignored. For DMs messages: The list of email addresses that should be added to the Drive item's ACL. In general, the list should not be empty when the boolean \"should_fix\" field is set; otherwise, the list should be empty. During transition - when clients do not specify this field but the \"should_fix\" is true, we follow the legacy behavior: share to all users in the DM regardless of emails. This behavior is being phased out.","items":{"type":"string"},"type":"array"},"role":{"enum":["UNKNOWN","READER","COMMENTER","WRITER"],"type":"string"},"shouldFix":{"description":"Whether to attempt to fix the ACL by adding the room or DM members to the Drive file's ACL.","type":"boolean"}},"type":"object"},"AclFixStatus":{"description":"The message reconstructed based on information in the response of /PermissionFixOptionsService.Query (or the Apiary API that wraps it). Indicates the ability of the requester to change the access to the Drive file for the room roster or the DM members. Used in GetMessagePreviewMetadataResponse only.","properties":{"fixability":{"enum":["UNKNOWN","ALREADY_ACCESSIBLE","CAN_FIX","CANNOT_FIX","ACL_FIXER_ERROR"],"type":"string"},"fixableEmailAddress":{"description":"List of recipient email addresses for which access can be granted. This field contains the same email addresses from the GetMessagePreviewMetadata request if all recipients can be successfully added to the ACL as determined by Drive ACL Fixer. For now, the field is non-empty if and only if the \"fixability\" value is \"CAN_FIX\".","items":{"type":"string"},"type":"array"},"outOfDomainWarningEmailAddress":{"description":"List of recipient email addresses for which an out-of-domain-sharing warning must be shown, stating that these email addresses are not in the Google Apps organization that the requested item belong to. Empty if all recipients are in the same Google Apps organization.","items":{"type":"string"},"type":"array"}},"type":"object"},"AclInfo":{"description":"Next tag: 4","properties":{"groupsCount":{"description":"Number of groups which have at least read access to the document.","format":"int32","type":"integer"},"scope":{"description":"The scope to which the content was shared.","enum":["LIMITED","DASHER_DOMAIN_WITH_LINK","DASHER_DOMAIN","PUBLIC_WITH_LINK","PUBLIC","TEAM_DRIVE"],"type":"string"},"usersCount":{"description":"Number of users which have at least read access to the document.","format":"int32","type":"integer"}},"type":"object"},"ActionParameter":{"description":"List of string parameters that developers can specify when the above action method (in apps script) is invoked. An example use case is for 3 snooze buttons: snooze now, snooze 1 day, snooze next week. Developers can have action method = snooze() and pass the snooze type and snooze time in list of string parameters.","properties":{"key":{"type":"string"},"value":{"type":"string"}},"type":"object"},"AddonComposeUiActionMarkup":{"properties":{"type":{"enum":["UNSPECIFIED","DISMISS"],"type":"string"}},"type":"object"},"AffectedMembership":{"description":"Earlier we used to populate just the affected_members list and inferred the new membership state (roles didn't exist back then) from the Type. go/dynamite-finra required backend to know the previous membership state to reconstruct membership history. The proper solution involved cleaning up up Type enum, but it was used in many, many places. This was added as a stop-gap solution to unblock FINRA without breaking everything. Later role update and target audience update started relying on this to communicate information to clients about what transition happened. So this is now required to be populated and should be in sync with affected_members for new messages.","properties":{"affectedMember":{"$ref":"#/components/schemas/MemberId"},"priorMembershipRole":{"enum":["ROLE_UNKNOWN","ROLE_NONE","ROLE_INVITEE","ROLE_MEMBER","ROLE_OWNER"],"type":"string"},"priorMembershipState":{"enum":["MEMBER_UNKNOWN","MEMBER_INVITED","MEMBER_JOINED","MEMBER_NOT_A_MEMBER","MEMBER_FAILED"],"type":"string"},"targetMembershipRole":{"enum":["ROLE_UNKNOWN","ROLE_NONE","ROLE_INVITEE","ROLE_MEMBER","ROLE_OWNER"],"type":"string"}},"type":"object"},"AllAuthenticatedUsersProto":{"description":"Represents a principal who has authenticated as any kind of user which the application understands. This is typically used for \"wiki-like\" security, where anyone is allowed access so long as they can be held accountable for that access. Since the purpose is knowing whom to blame, it is up to the application to decide what kinds of users it knows how to blame. For example, an application might choose to include GAIA users in \"all authenticated users\", but not include MDB users. Nothing here.","type":"object"},"Annotation":{"description":"NOTE WHEN ADDING NEW PROTO FIELDS: Be sure to add datapol annotations to new fields with potential PII, so they get scrubbed when logging protos for errors. NEXT TAG: 31","properties":{"babelPlaceholderMetadata":{"$ref":"#/components/schemas/BabelPlaceholderMetadata"},"cardCapabilityMetadata":{"$ref":"#/components/schemas/CardCapabilityMetadata"},"chipRenderType":{"description":"Whether the annotation should be rendered as a preview chip. If this is missing or unspecified, fallback to should_not_render on the metadata.","enum":["CHIP_RENDER_TYPE_UNSPECIFIED","RENDER","RENDER_IF_POSSIBLE","DO_NOT_RENDER"],"type":"string"},"consentedAppUnfurlMetadata":{"$ref":"#/components/schemas/ConsentedAppUnfurlMetadata"},"customEmojiMetadata":{"$ref":"#/components/schemas/CustomEmojiMetadata"},"dataLossPreventionMetadata":{"$ref":"#/components/schemas/DataLossPreventionMetadata"},"driveMetadata":{"$ref":"#/components/schemas/DriveMetadata"},"formatMetadata":{"$ref":"#/components/schemas/FormatMetadata"},"groupRetentionSettingsUpdated":{"$ref":"#/components/schemas/GroupRetentionSettingsUpdatedMetaData"},"gsuiteIntegrationMetadata":{"$ref":"#/components/schemas/GsuiteIntegrationMetadata"},"incomingWebhookChangedMetadata":{"$ref":"#/components/schemas/IncomingWebhookChangedMetadata"},"inlineRenderFormat":{"description":"The inline render format of this annotation. go/drive-smart-chips-chat-v2.","enum":["INLINE_RENDER_FORMAT_UNSPECIFIED","SMART_CHIP"],"type":"string"},"integrationConfigUpdated":{"$ref":"#/components/schemas/IntegrationConfigUpdatedMetadata"},"interactionData":{"$ref":"#/components/schemas/InteractionData"},"length":{"description":"Length of the text_body substring beginning from start_index the Annotation corresponds to.","format":"int32","type":"integer"},"localId":{"description":"* A client-assigned ID for this annotation. This is helpful in matching the back-filled annotations to the original annotations on client side, without having to re-parse the message. There is no guarantee an annotation has a local_id, it's a purely client used and controlled field with no guarantee of uniqueness.","type":"string"},"membershipChanged":{"$ref":"#/components/schemas/MembershipChangedMetadata"},"readReceiptsSettingsMetadata":{"$ref":"#/components/schemas/ReadReceiptsSettingsUpdatedMetadata"},"requiredMessageFeaturesMetadata":{"$ref":"#/components/schemas/RequiredMessageFeaturesMetadata"},"roomUpdated":{"$ref":"#/components/schemas/RoomUpdatedMetadata"},"serverInvalidated":{"description":"Whether or not the annotation is invalidated by the server. Example of situations for invalidation include: when the URL is malformed, or when Drive item ID is rejected by Drive Service.","type":"boolean"},"slashCommandMetadata":{"$ref":"#/components/schemas/SlashCommandMetadata"},"startIndex":{"description":"Start index (0-indexed) of the Message text the Annotation corresponds to, inclusive.","format":"int32","type":"integer"},"type":{"description":"Type of the Annotation.","enum":["TYPE_UNSPECIFIED","URL","DRIVE_FILE","DRIVE_DOC","DRIVE_SHEET","DRIVE_SLIDE","DRIVE_FORM","USER_MENTION","SLASH_COMMAND","CONSENTED_APP_UNFURL","VIDEO","FORMAT_DATA","IMAGE","PDF","VIDEO_CALL","UPLOAD_METADATA","GSUITE_INTEGRATION","CUSTOM_EMOJI","CARD_CAPABILITY","DATA_LOSS_PREVENTION","REQUIRED_MESSAGE_FEATURES_METADATA","MEMBERSHIP_CHANGED","ROOM_UPDATED","GROUP_RETENTION_SETTINGS_UPDATED","BABEL_PLACEHOLDER","READ_RECEIPTS_SETTINGS_UPDATED","INCOMING_WEBHOOK_CHANGED","INTEGRATION_CONFIG_UPDATED","INVITATION"],"type":"string"},"uniqueId":{"description":"* A unique server-assigned ID for this annotation. This is helpful in matching annotation objects when fetched from service. All uploads should have a unique_id after the message they are attached to is successfully sent. Url annotations that originally were uploads (i.e. policy violations) will have a unique_id after the message they are attached to is successfully sent. No other url annotations should have a unique_id. All drive annotations should have a unique_id after the message they are attached to is successfully sent.","type":"string"},"uploadMetadata":{"$ref":"#/components/schemas/UploadMetadata"},"urlMetadata":{"$ref":"#/components/schemas/UrlMetadata"},"userMentionMetadata":{"$ref":"#/components/schemas/UserMentionMetadata"},"videoCallMetadata":{"$ref":"#/components/schemas/VideoCallMetadata"},"youtubeMetadata":{"$ref":"#/components/schemas/YoutubeMetadata"}},"type":"object"},"AppId":{"description":"Identifier of an App.","properties":{"appType":{"description":"Enum indicating the type of App this is.","enum":["APP_TYPE_UNSPECIFIED","APP","GSUITE_APP","INCOMING_WEBHOOK"],"type":"string"},"gsuiteAppType":{"description":"Enum indicating which 1P App this is when app_type is GSUITE_APP. Determined & set by the 1P API as a convenience for all users of this identifier(Eg. clients, chime, backend etc.) to map to 1P properties.","enum":["GSUITE_APP_TYPE_UNSPECIFIED","TASKS_APP","CALENDAR_APP","DOCS_APP","SHEETS_APP","SLIDES_APP","MEET_APP","ASSISTIVE_SUGGESTION_APP","CONTACTS_APP","ACTIVITY_FEED_APP","DRIVE_APP","CHAT_IN_MEET_APP"],"type":"string"},"id":{"description":"Numeric identifier of the App. Set to Project number for 1/3P Apps. For Webhook, this is WebhookId. Determined & set by the 1P API from App credentials on the side channel.","format":"int64","type":"string"}},"type":"object"},"AppsDynamiteSharedActivityFeedAnnotationData":{"description":"Next Id: 7","properties":{"activityFeedMessageCreateTime":{"description":"Timestamp of when the Activity Feed message that contains this annotation was created. This is roughly when the activity happened, such as when a reaction happened, but will have at least some small delay, since the Activity Feed message is created asynchronously after. This timestamp should only be used for display when the activity create time is not available in the Chat UI, like the time of a reaction.","format":"google-datetime","type":"string"},"activityFeedMessageId":{"$ref":"#/components/schemas/MessageId"},"chatItem":{"$ref":"#/components/schemas/AppsDynamiteSharedChatItem"},"sharedUserInfo":{"$ref":"#/components/schemas/UserInfo"},"userInfo":{"$ref":"#/components/schemas/AppsDynamiteSharedActivityFeedAnnotationDataUserInfo"}},"type":"object"},"AppsDynamiteSharedActivityFeedAnnotationDataUserInfo":{"description":"UserId of the AF item updater to show and the updater count to show.","properties":{"updaterCountDisplayType":{"description":"Describes how updater_count_to_show should be used.","enum":["UPDATER_COUNT_DISPLAY_TYPE_UNSPECIFIED","EXACT_COUNT","NONZERO_COUNT"],"type":"string"},"updaterCountToShow":{"description":"The number of updaters for clients to show, currently set to the total number of updaters minus the one set in updater_to_show.","format":"int32","type":"integer"},"updaterToShow":{"$ref":"#/components/schemas/UserId"}},"type":"object"},"AppsDynamiteSharedAppProfile":{"description":"Optional field for apps overriding display info","properties":{"avatarEmoji":{"description":"Displayed user avatar emoji.","type":"string"},"avatarUrl":{"description":"Displayed user avatar url.","type":"string"},"name":{"description":"Displayed user name.","type":"string"}},"type":"object"},"AppsDynamiteSharedAssistantAnnotationData":{"description":"This is the internal version of the API proto at google3/google/chat/v1/gsuite_message_integration.proto Data used to render Assistant suggestions. See go/bullseye-rendering.","properties":{"suggestion":{"$ref":"#/components/schemas/AppsDynamiteSharedAssistantSuggestion"},"unfulfillable":{"$ref":"#/components/schemas/AppsDynamiteSharedAssistantUnfulfillableRequest"}},"type":"object"},"AppsDynamiteSharedAssistantDebugContext":{"description":"Represents info regarding suggestion debug information.","properties":{"query":{"description":"The query that triggered the resulting suggestion.","type":"string"}},"type":"object"},"AppsDynamiteSharedAssistantFeedbackContext":{"description":"Data needed to render feedback on the Assistant card","properties":{"feedbackChips":{"description":"Specifies a list of feedback chips to show","items":{"$ref":"#/components/schemas/AppsDynamiteSharedAssistantFeedbackContextFeedbackChip"},"type":"array"},"thumbsFeedback":{"description":"Whether the thumbs feedback is provided","enum":["THUMBS_FEEDBACK_UNSPECIFIED","NONE_SELECTED","UP","DOWN"],"type":"string"}},"type":"object"},"AppsDynamiteSharedAssistantFeedbackContextFeedbackChip":{"description":"Suggestion chips for users to indicate positive or negative feedback","properties":{"feedbackChipType":{"description":"What type of chip to display","enum":["FEEDBACK_CHIP_TYPE_UNSPECIFIED","WRONG_TRIGGER","WRONG_FILE","CORRECT_TRIGGER","CORRECT_FILE","DISRUPTIVE","OTHER"],"type":"string"},"state":{"description":"Whether the chip has been selected","enum":["FEEDBACK_CHIP_STATE_UNSPECIFIED","SELECTED","UNSELECTED"],"type":"string"}},"type":"object"},"AppsDynamiteSharedAssistantSessionContext":{"description":"Session context specific for Assistant suggestions.","properties":{"contextualSessionId":{"description":"Unique identifier populated by the contextual request handler for each vertical (Ex: File Suggestions, Smart Scheduling, etc.) that can be used to track sessions end-to-end. May span multiple users (sender-specific).","type":"string"}},"type":"object"},"AppsDynamiteSharedAssistantSuggestion":{"description":"Data for an Assistant suggestion.","properties":{"debugContext":{"$ref":"#/components/schemas/AppsDynamiteSharedAssistantDebugContext"},"feedbackContext":{"$ref":"#/components/schemas/AppsDynamiteSharedAssistantFeedbackContext"},"findDocumentSuggestion":{"$ref":"#/components/schemas/AppsDynamiteSharedFindDocumentSuggestion"},"serializedSuggestions":{"description":"String representation of the suggestions provided.","type":"string"},"sessionContext":{"$ref":"#/components/schemas/AppsDynamiteSharedAssistantSessionContext"}},"type":"object"},"AppsDynamiteSharedAssistantUnfulfillableRequest":{"description":"Data for a response to an unfulfillable request.","type":"object"},"AppsDynamiteSharedAvatarInfo":{"properties":{"emoji":{"$ref":"#/components/schemas/AppsDynamiteSharedEmoji"}},"type":"object"},"AppsDynamiteSharedBackendUploadMetadata":{"description":"Metadata used only in Dynamite backend for uploaded attachments.","properties":{"blobPath":{"description":"Blobstore path for the uploaded attachment","type":"string"},"contentName":{"description":"The original file name for the content, not the full path.","type":"string"},"contentSize":{"description":"Scotty reported content size by default. http://google3/uploader/agent/scotty_agent.proto?l=101&rcl=140889785","format":"int64","type":"string"},"contentType":{"description":"Type is from Scotty's best_guess by default: http://google3/uploader/agent/scotty_agent.proto?l=51&rcl=140889785","type":"string"},"dlpScanOutcome":{"description":"The results of the Data Loss Prevention (DLP) scan of the attachment. DEPRECATED: use dlp_scan_summary instead.","enum":["SCAN_UNKNOWN_OUTCOME","SCAN_SUCCEEDED_NO_VIOLATION","SCAN_SUCCEEDED_BLOCK","SCAN_SUCCEEDED_WARN","SCAN_SUCCEEDED_AUDIT_ONLY","SCAN_FAILURE_EXCEPTION","SCAN_FAILURE_RULE_FETCH_FAILED","SCAN_FAILURE_TIMEOUT","SCAN_FAILURE_ALL_RULES_FAILED","SCAN_FAILURE_ILLEGAL_STATE_FOR_ATTACHMENTS","SCAN_SKIPPED_EXPERIMENT_DISABLED","SCAN_SKIPPED_CONSUMER","SCAN_SKIPPED_NON_HUMAN_USER","SCAN_SKIPPED_NO_MESSAGE","SCAN_SKIPPED_USER_ACKNOWLEDGED_WARNING","SCAN_SKIPPED_MESSAGE_FROM_UNSUPPORTED_ORIGIN","SCAN_SKIPPED_MESSAGE_SENT_DURING_SPACE_MIGRATION","SCAN_RULE_EVALUATION_SKIPPED_NO_RULES_FOUND","SCAN_RULE_EVALUATION_SKIPPED_NO_APPLICABLE_RULES_FOR_ACTION_PARAMS","SCAN_RULE_EVALUATION_SKIPPED_NO_APPLICABLE_RULES_FOR_TRIGGER","SCAN_RULE_EVALUATION_SKIPPED_CHANGELING_PERMANENT_ERROR","SCAN_RULE_EVALUATION_SKIPPED_CHANGELING_EMPTY_RESPONSE","SCAN_RULE_EVALUATION_SKIPPED_UNSUPPORTED_FILE_TYPE","SCAN_SUCCEEDED_WITH_FAILURES_NO_VIOLATION","SCAN_SUCCEEDED_WITH_FAILURES_BLOCK","SCAN_SUCCEEDED_WITH_FAILURES_WARN","SCAN_SUCCEEDED_WITH_FAILURES_AUDIT_ONLY"],"type":"string"},"dlpScanSummary":{"$ref":"#/components/schemas/DlpScanSummary"},"groupId":{"$ref":"#/component
[...]
