{"openapi":"3.0.1","info":{"title":"DeploymentAdminClient","description":"Deployment Admin Client.","version":"2019-01-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans":{"get":{"tags":["ActionPlans"],"description":"Gets the list of action plans","operationId":"ActionPlans_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionPlanList"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}":{"get":{"tags":["ActionPlans"],"description":"Gets the specified action plan","operationId":"ActionPlans_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"planId","in":"path","description":"Identifier of the action plan.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionPlanResourceEntity"}}}},"404":{"description":"NOT FOUND"}}}}},"components":{"schemas":{"ActionPlanAdminProperties":{"type":"object","properties":{"actionPlanInstanceId":{"type":"string","description":"Action plan instance identifier"},"actionPlanUri":{"type":"string","description":"Action plan uri"},"blobContainerName":{"type":"string","description":"Blob container name storing the deployment data"},"endTime":{"type":"string","description":"The deployment end time","format":"date-time"},"error":{"type":"object","properties":{"code":{"type":"string","description":"Error Code"},"details":{"$ref":"#/components/schemas/ExtendedErrorInfo"},"message":{"type":"string","description":"Error Message"}},"description":"Error information"},"parameters":{"type":"object","properties":{"value":{"type":"string","description":"Parameters as JToken string"}},"description":"Error information"},"provisioningState":{"type":"string","description":"The provisioning state"},"resourceGroupName":{"type":"string","description":"The target resource group name"},"startTime":{"type":"string","description":"The deployment start time","format":"date-time"},"subscriptionId":{"type":"string","description":"The target subscription identifier"}},"description":"Action Plan Properties"},"ActionPlanList":{"type":"object","properties":{"nextLink":{"type":"string","description":"Continuation token"},"value":{"type":"array","description":"Array of action plans.","items":{"$ref":"#/components/schemas/ActionPlanResourceEntity"}}},"description":"List of action plans"},"ActionPlanResourceEntity":{"properties":{"eTag":{"type":"string","description":"Entity tag of the resource"},"properties":{"$ref":"#/components/schemas/ActionPlanAdminProperties"}},"description":"Action Plan Resource Entity","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"type":{"type":"string","description":"Type of Resource.","readOnly":true}},"description":"Object model of azure resource manager base."}]},"ExtendedErrorInfo":{"type":"object"}},"parameters":{"PlanIdParameter":{"name":"planId","in":"path","description":"Identifier of the action plan.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}