{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Provider API Client",
    "version" : "2018-02-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Web/availableStacks" : {
      "get" : {
        "tags" : [ "Provider" ],
        "summary" : "Get available application frameworks and their versions",
        "description" : "Get available application frameworks and their versions",
        "operationId" : "Provider_GetAvailableStacks",
        "parameters" : [ {
          "name" : "osTypeSelected",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "Windows", "Linux", "WindowsFunctions", "LinuxFunctions" ]
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationStackCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Web/operations" : {
      "get" : {
        "tags" : [ "Provider" ],
        "summary" : "Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions",
        "description" : "Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions",
        "operationId" : "Provider_ListOperations",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "value" ],
                  "type" : "object",
                  "properties" : {
                    "nextLink" : {
                      "type" : "string",
                      "description" : "Link to next page of resources.",
                      "readOnly" : true
                    },
                    "value" : {
                      "type" : "array",
                      "description" : "Collection of resources.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "display" : {
                            "type" : "object",
                            "properties" : {
                              "description" : {
                                "type" : "string"
                              },
                              "operation" : {
                                "type" : "string"
                              },
                              "provider" : {
                                "type" : "string"
                              },
                              "resource" : {
                                "type" : "string"
                              }
                            },
                            "description" : "Meta data about operation used for display in portal."
                          },
                          "name" : {
                            "type" : "string"
                          },
                          "origin" : {
                            "type" : "string"
                          },
                          "properties" : {
                            "type" : "object",
                            "properties" : {
                              "serviceSpecification" : {
                                "type" : "object",
                                "properties" : {
                                  "logSpecifications" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "blobDuration" : {
                                          "type" : "string"
                                        },
                                        "displayName" : {
                                          "type" : "string"
                                        },
                                        "name" : {
                                          "type" : "string"
                                        }
                                      },
                                      "description" : "Log Definition of a single resource metric."
                                    }
                                  },
                                  "metricSpecifications" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "aggregationType" : {
                                          "type" : "string"
                                        },
                                        "availabilities" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "object",
                                            "properties" : {
                                              "blobDuration" : {
                                                "type" : "string"
                                              },
                                              "timeGrain" : {
                                                "type" : "string"
                                              }
                                            },
                                            "description" : "Retention policy of a resource metric."
                                          }
                                        },
                                        "category" : {
                                          "type" : "string"
                                        },
                                        "dimensions" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "object",
                                            "properties" : {
                                              "displayName" : {
                                                "type" : "string"
                                              },
                                              "internalName" : {
                                                "type" : "string"
                                              },
                                              "name" : {
                                                "type" : "string"
                                              },
                                              "toBeExportedForShoebox" : {
                                                "type" : "boolean"
                                              }
                                            },
                                            "description" : "Dimension of a resource metric. For e.g. instance specific HTTP requests for a web app, \nwhere instance name is dimension of the metric HTTP request"
                                          }
                                        },
                                        "displayDescription" : {
                                          "type" : "string"
                                        },
                                        "displayName" : {
                                          "type" : "string"
                                        },
                                        "enableRegionalMdmAccount" : {
                                          "type" : "boolean"
                                        },
                                        "fillGapWithZero" : {
                                          "type" : "boolean"
                                        },
                                        "isInternal" : {
                                          "type" : "boolean"
                                        },
                                        "metricFilterPattern" : {
                                          "type" : "string"
                                        },
                                        "name" : {
                                          "type" : "string"
                                        },
                                        "sourceMdmAccount" : {
                                          "type" : "string"
                                        },
                                        "sourceMdmNamespace" : {
                                          "type" : "string"
                                        },
                                        "supportsInstanceLevelAggregation" : {
                                          "type" : "boolean"
                                        },
                                        "unit" : {
                                          "type" : "string"
                                        }
                                      },
                                      "description" : "Definition of a single resource metric."
                                    }
                                  }
                                },
                                "description" : "Resource metrics service provided by Microsoft.Insights resource provider."
                              }
                            },
                            "description" : "Properties available for a Microsoft.Web resource provider operation."
                          }
                        },
                        "description" : "Description of an operation available for Microsoft.Web resource provider."
                      }
                    }
                  },
                  "description" : "Collection of Azure resource manager operation metadata."
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/availableStacks" : {
      "get" : {
        "tags" : [ "Provider" ],
        "summary" : "Get available application frameworks and their versions",
        "description" : "Get available application frameworks and their versions",
        "operationId" : "Provider_GetAvailableStacksOnPrem",
        "parameters" : [ {
          "name" : "osTypeSelected",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "Windows", "Linux", "WindowsFunctions", "LinuxFunctions" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationStackCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApplicationStack" : {
        "type" : "object",
        "properties" : {
          "dependency" : {
            "type" : "string",
            "description" : "Application stack dependency."
          },
          "display" : {
            "type" : "string",
            "description" : "Application stack display name."
          },
          "frameworks" : {
            "type" : "array",
            "description" : "List of frameworks associated with application stack.",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationStack"
            }
          },
          "majorVersions" : {
            "type" : "array",
            "description" : "List of major versions available.",
            "items" : {
              "$ref" : "#/components/schemas/StackMajorVersion"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "Application stack name."
          }
        },
        "description" : "Application stack."
      },
      "ApplicationStackCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of resources.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Collection of resources.",
            "items" : {
              "$ref" : "#/components/schemas/ApplicationStack"
            }
          }
        },
        "description" : "Collection of Application Stacks"
      },
      "StackMajorVersion" : {
        "type" : "object",
        "properties" : {
          "applicationInsights" : {
            "type" : "boolean",
            "description" : "<code>true</code> if this supports Application Insights; otherwise, <code>false</code>."
          },
          "displayVersion" : {
            "type" : "string",
            "description" : "Application stack major version (display only)."
          },
          "isDefault" : {
            "type" : "boolean",
            "description" : "<code>true</code> if this is the default major version; otherwise, <code>false</code>."
          },
          "minorVersions" : {
            "type" : "array",
            "description" : "Minor versions associated with the major version.",
            "items" : {
              "$ref" : "#/components/schemas/StackMinorVersion"
            }
          },
          "runtimeVersion" : {
            "type" : "string",
            "description" : "Application stack major version (runtime only)."
          }
        },
        "description" : "Application stack major version."
      },
      "StackMinorVersion" : {
        "type" : "object",
        "properties" : {
          "displayVersion" : {
            "type" : "string",
            "description" : "Application stack minor version (display only)."
          },
          "isDefault" : {
            "type" : "boolean",
            "description" : "<code>true</code> if this is the default minor version; otherwise, <code>false</code>."
          },
          "isRemoteDebuggingEnabled" : {
            "type" : "boolean",
            "description" : "<code>true</code> if this supports Remote Debugging, otherwise <code>false</code>."
          },
          "runtimeVersion" : {
            "type" : "string",
            "description" : "Application stack minor version (runtime only)."
          }
        },
        "description" : "Application stack minor version."
      }
    },
    "parameters" : {
      "apiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "API Version",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "subscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}