{"openapi":"3.0.1","info":{"title":"FabricAdminClient","description":"Operation status operation endpoints and objects.","version":"2016-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/{provider}/fabricLocations/{location}/computeOperationResults/{computeOperationResult}":{"get":{"tags":["ComputeFabricOperations"],"description":"Get the status of a compute fabric operation.","operationId":"ComputeFabricOperations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"provider","in":"path","description":"Name of the provider.","required":true,"schema":{"type":"string"}},{"name":"computeOperationResult","in":"path","description":"Id of a compute fabric operation.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"202":{"description":"ACCEPTED","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationStatus"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/{provider}/fabricLocations/{location}/networkOperationResults/{networkOperationResult}":{"get":{"tags":["NetworkFabricOperations"],"description":"Get the status of a network fabric operation.","operationId":"NetworkFabricOperations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"provider","in":"path","description":"Name of the provider.","required":true,"schema":{"type":"string"}},{"name":"networkOperationResult","in":"path","description":"Id of a network fabric operation.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"202":{"description":"ACCEPTED","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationStatus"}}}}}}}},"components":{"schemas":{"OperationStatus":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ProvisioningStateModel"}},"description":"Status of the compute operation."},"ProvisioningStateModel":{"type":"object","properties":{"provisioningState":{"type":"string","description":"The state of the operation."}},"description":"The state of the operation."}},"parameters":{"ApplicationOperationResultParameter":{"name":"applicationOperationResult","in":"path","description":"Id of an infra role operation.","required":true,"schema":{"type":"string"}},"ComputeOperationResultParameter":{"name":"computeOperationResult","in":"path","description":"Id of a compute fabric operation.","required":true,"schema":{"type":"string"}},"NetworkOperationResultParameter":{"name":"networkOperationResult","in":"path","description":"Id of a network fabric operation.","required":true,"schema":{"type":"string"}},"ProviderParameter":{"name":"provider","in":"path","description":"Name of the provider.","required":true,"schema":{"type":"string"}},"StorageOperationResultParameter":{"name":"storageOperationResult","in":"path","description":"Id of a storage fabric operation.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}