{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "FabricAdminClient",
    "description" : "Edge gateway pool operation endpoints and objects.",
    "version" : "2016-05-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGatewayPools" : {
      "get" : {
        "tags" : [ "EdgeGatewayPools" ],
        "description" : "Returns a list of all edge gateway pool objects at a location.",
        "operationId" : "EdgeGatewayPools_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter parameter.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EdgeGatewayPoolList"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGatewayPools/{edgeGatewayPool}" : {
      "get" : {
        "tags" : [ "EdgeGatewayPools" ],
        "description" : "Returns the requested edge gateway pool object.",
        "operationId" : "EdgeGatewayPools_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "edgeGatewayPool",
          "in" : "path",
          "description" : "Name of the edge gateway pool.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EdgeGatewayPool"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "EdgeGatewayPool" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/EdgeGatewayPoolModel"
          }
        },
        "description" : "This object represents an edge gateway pool, which contains a list of gateways.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "The region where the resource is located."
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key-value pairs."
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base resource object."
        } ]
      },
      "EdgeGatewayPoolList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of edge gateway pool objects.",
            "items" : {
              "$ref" : "#/components/schemas/EdgeGatewayPool"
            }
          }
        },
        "description" : "A pageable list of edge gateway pools objects."
      },
      "EdgeGatewayPoolModel" : {
        "type" : "object",
        "properties" : {
          "edgeGateways" : {
            "type" : "array",
            "description" : "List of the edge gateways in the pool.",
            "items" : {
              "type" : "string"
            }
          },
          "gatewayCapacityKiloBitsPerSecond" : {
            "type" : "integer",
            "description" : "Gateway capacity in kilobits per second.",
            "format" : "int32"
          },
          "gatewayType" : {
            "type" : "string",
            "description" : "The gateway type, for example, S2sIPsec, S2sGre, and so on."
          },
          "greVipSubnet" : {
            "type" : "string",
            "description" : "The GRE VIP subnet."
          },
          "numberOfGateways" : {
            "type" : "integer",
            "description" : "The number of gateways in the pool.",
            "format" : "int32"
          },
          "publicIpAddress" : {
            "type" : "string",
            "description" : "The public IP address."
          },
          "redundantGatewayCount" : {
            "type" : "integer",
            "description" : "The number of redundant gateways.",
            "format" : "int64"
          }
        },
        "description" : "An object that contains the properties of an edge gateway pool."
      }
    },
    "parameters" : {
      "EdgeGatewayPoolParameter" : {
        "name" : "edgeGatewayPool",
        "in" : "path",
        "description" : "Name of the edge gateway pool.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}