{"openapi":"3.0.1","info":{"title":"InfrastructureInsightsManagementClient","description":"The Admin Infrastructure Insights Management Client.","version":"2016-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.InfrastructureInsights.Admin/operations":{"get":{"tags":["InfrastructureInsights"],"description":"Returns a list of support REST operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}}}}}},"components":{"schemas":{"AlertSummary":{"type":"object","properties":{"criticalAlertCount":{"type":"integer","description":"The number of critical alerts for the service."},"warningAlertCount":{"type":"integer","description":"The number of warning alerts for the service."}},"description":"Summary of the alerts."},"BaseHealth":{"type":"object","properties":{"alertSummary":{"$ref":"#/components/schemas/AlertSummary"},"healthState":{"type":"string","description":"Health state."},"namespace":{"type":"string","description":"Namespace of the health resource."},"registrationId":{"type":"string","description":"Registration ID."},"routePrefix":{"type":"string","description":"Route prefix."}},"description":"Models the base properties for health resource."},"Dictionary":{"type":"object","additionalProperties":{"type":"string"},"description":"Dictionary of string key-value pairs."},"Display":{"type":"object","properties":{"description":{"type":"string","description":"The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views."},"operation":{"type":"string","description":"The localized, friendly name for the operation. Use the name as it will be displayed to the user."},"provider":{"type":"string","description":"The localized, friendly version of the resource provider name. The provider name is expected to include the name of the publisher or company responsible. The provider name format should use title case and begin with \"Microsoft\" for first-party services. For example, the provider name may be\"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."},"resource":{"type":"string","description":"The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider."}},"description":"Contains the localized display information for this particular operation / action."},"Metrics":{"type":"object","properties":{"maCounterName":{"type":"string","description":"Name of the counter."},"name":{"type":"string","description":"Name of the usage metric."},"observedTimestamp":{"type":"string","description":"Time counter was observed.","format":"date-time"},"sourceName":{"$ref":"#/components/schemas/MetricsSourceType"},"sourceType":{"type":"string","description":"Type of the source."},"unit":{"$ref":"#/components/schemas/MetricsUnit"},"value":{"type":"number","description":"Name of the usage metric.","format":"double"}},"description":"Metrics for a source."},"MetricsSourceType":{"type":"string","description":"The origin of the metric.","enum":["PhysicalNode","VirtualMachine","ResourceProvider"]},"MetricsUnit":{"type":"string","description":"The unit of the metric.","enum":["One","Percentage","B","KB","MB","GB","TB"]},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/Display"},"name":{"type":"string","description":"The name of the operation performed on the object. The name should match the action name that appears in RBAC or the event service."}},"description":"Describes the supported REST operation."},"OperationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page of operations."},"value":{"type":"array","description":"Array of operations","items":{"$ref":"#/components/schemas/Operation"}}},"description":"List of Operations"},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources"},"TrackedResource":{"properties":{"location":{"type":"string","description":"The Azure Region where the resource lives"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"The resource model definition for a ARM tracked top level resource","allOf":[{"$ref":"#/components/schemas/Resource"}]},"UsageMetrics":{"type":"object","properties":{"metricsValue":{"type":"array","description":"List of usage metrics.","items":{"$ref":"#/components/schemas/Metrics"}},"name":{"type":"string","description":"Name of the usage metric."}},"description":"Metrics of resource usage."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}},"FilterParameter":{"name":"$filter","in":"query","description":"OData filter parameter.","schema":{"type":"string"}},"LocationParameter":{"name":"location","in":"path","description":"Name of the region","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"ResourceRegistrationIdParameter":{"name":"resourceRegistrationId","in":"path","description":"Resource registration ID.","required":true,"schema":{"type":"string"}},"ServiceRegistrationIdParameter":{"name":"serviceRegistrationId","in":"path","description":"Service registration ID.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}