{"openapi":"3.0.1","info":{"title":"StreamAnalyticsManagementClient","version":"2016-03-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs":{"get":{"tags":["Outputs"],"description":"Lists all of the outputs under the specified streaming job.","operationId":"Outputs_ListByStreamingJob","parameters":[{"name":"$select","in":"query","description":"The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or \"*\" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully listed the outputs under the specified streaming job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutputListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs/{outputName}":{"get":{"tags":["Outputs"],"description":"Gets details about the specified output.","operationId":"Outputs_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"outputName","in":"path","description":"The name of the output.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the specified output.","headers":{"ETag":{"description":"The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Output"}}}}}},"put":{"tags":["Outputs"],"description":"Creates an output or replaces an already existing output under an existing streaming job.","operationId":"Outputs_CreateOrReplace","parameters":[{"name":"If-Match","in":"header","description":"The ETag of the output. Omit this value to always overwrite the current output. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"If-None-Match","in":"header","description":"Set to '*' to allow a new output to be created, but to prevent updating an existing output. Other values will result in a 412 Pre-condition Failed response.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"outputName","in":"path","description":"The name of the output.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The definition of the output that will be used to create a new output or replace the existing one under the streaming job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Output"}}},"required":true},"responses":{"200":{"description":"The output was successfully created or replaced.","headers":{"ETag":{"description":"The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Output"}}}},"201":{"description":"The output was successfully created or replaced.","headers":{"ETag":{"description":"The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Output"}}}}}},"delete":{"tags":["Outputs"],"description":"Deletes an output from the streaming job.","operationId":"Outputs_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"outputName","in":"path","description":"The name of the output.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The output was successfully deleted."},"204":{"description":"The output does not exist."}}},"patch":{"tags":["Outputs"],"description":"Updates an existing output under an existing streaming job. This can be used to partially update (ie. update one or two properties) an output without affecting the rest the job or output definition.","operationId":"Outputs_Update","parameters":[{"name":"If-Match","in":"header","description":"The ETag of the output. Omit this value to always overwrite the current output. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"outputName","in":"path","description":"The name of the output.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"An Output object. The properties specified here will overwrite the corresponding properties in the existing output (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing output will remain the same and not change as a result of this PATCH operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Output"}}},"required":true},"responses":{"200":{"description":"The output was successfully updated.","headers":{"ETag":{"description":"The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Output"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs/{outputName}/test":{"post":{"tags":["Outputs"],"description":"Tests whether an output’s datasource is reachable and usable by the Azure Stream Analytics service.","operationId":"Outputs_Test","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"outputName","in":"path","description":"The name of the output.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"If the output specified does not already exist, this parameter must contain the full output definition intended to be tested. If the output specified already exists, this parameter can be left null to test the existing output as is or if specified, the properties specified will overwrite the corresponding properties in the existing output (exactly like a PATCH operation) and the resulting output will be tested.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Output"}}},"required":false},"responses":{"200":{"description":"The test operation completed successfully.","content":{"application/json":{"schema":{"type":"object","description":"Describes the status of the test operation along with error information, if applicable."}}}},"202":{"description":"The test request was successfully initiated."}}}}},"components":{"schemas":{"AzureDataLakeStoreOutputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/AzureDataLakeStoreOutputDataSourceProperties"}},"description":"Describes an Azure Data Lake Store output data source.","allOf":[{"$ref":"#/components/schemas/OutputDataSource"}]},"AzureDataLakeStoreOutputDataSourceProperties":{"properties":{"accountName":{"type":"string","description":"The name of the Azure Data Lake Store account. Required on PUT (CreateOrReplace) requests."},"dateFormat":{"type":"string","description":"The date format. Wherever {date} appears in filePathPrefix, the value of this property is used as the date format instead."},"filePathPrefix":{"type":"string","description":"The location of the file to which the output should be written to. Required on PUT (CreateOrReplace) requests."},"tenantId":{"type":"string","description":"The tenant id of the user used to obtain the refresh token. Required on PUT (CreateOrReplace) requests."},"timeFormat":{"type":"string","description":"The time format. Wherever {time} appears in filePathPrefix, the value of this property is used as the time format instead."}},"description":"The properties that are associated with an Azure Data Lake Store.","allOf":[{"$ref":"#/components/schemas/OAuthBasedDataSourceProperties"}]},"AzureSqlDatabaseDataSourceProperties":{"type":"object","properties":{"database":{"type":"string","description":"The name of the Azure SQL database. Required on PUT (CreateOrReplace) requests."},"password":{"type":"string","description":"The password that will be used to connect to the Azure SQL database. Required on PUT (CreateOrReplace) requests."},"server":{"type":"string","description":"The name of the SQL server containing the Azure SQL database. Required on PUT (CreateOrReplace) requests."},"table":{"type":"string","description":"The name of the table in the Azure SQL database. Required on PUT (CreateOrReplace) requests."},"user":{"type":"string","description":"The user name that will be used to connect to the Azure SQL database. Required on PUT (CreateOrReplace) requests."}},"description":"The properties that are associated with an Azure SQL database data source."},"AzureSqlDatabaseOutputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/AzureSqlDatabaseOutputDataSourceProperties"}},"description":"Describes an Azure SQL database output data source.","allOf":[{"$ref":"#/components/schemas/OutputDataSource"}]},"AzureSqlDatabaseOutputDataSourceProperties":{"description":"The properties that are associated with an Azure SQL database output.","allOf":[{"$ref":"#/components/schemas/AzureSqlDatabaseDataSourceProperties"}]},"AzureTableOutputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/AzureTableOutputDataSourceProperties"}},"description":"Describes an Azure Table output data source.","allOf":[{"$ref":"#/components/schemas/OutputDataSource"}]},"AzureTableOutputDataSourceProperties":{"type":"object","properties":{"accountKey":{"type":"string","description":"The account key for the Azure Storage account. Required on PUT (CreateOrReplace) requests."},"accountName":{"type":"string","description":"The name of the Azure Storage account. Required on PUT (CreateOrReplace) requests."},"batchSize":{"type":"integer","description":"The number of rows to write to the Azure Table at a time.","format":"int32"},"columnsToRemove":{"type":"array","description":"If specified, each item in the array is the name of a column to remove (if present) from output event entities.","items":{"type":"string"}},"partitionKey":{"type":"string","description":"This element indicates the name of a column from the SELECT statement in the query that will be used as the partition key for the Azure Table. Required on PUT (CreateOrReplace) requests."},"rowKey":{"type":"string","description":"This element indicates the name of a column from the SELECT statement in the query that will be used as the row key for the Azure Table. Required on PUT (CreateOrReplace) requests."},"table":{"type":"string","description":"The name of the Azure Table. Required on PUT (CreateOrReplace) requests."}},"description":"The properties that are associated with an Azure Table output."},"BlobOutputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/BlobOutputDataSourceProperties"}},"description":"Describes a blob output data source.","allOf":[{"$ref":"#/components/schemas/OutputDataSource"}]},"BlobOutputDataSourceProperties":{"description":"The properties that are associated with a blob output.","allOf":[{"type":"object","properties":{"container":{"type":"string","description":"The name of a container within the associated Storage account. This container contains either the blob(s) to be read from or written to. Required on PUT (CreateOrReplace) requests."},"dateFormat":{"type":"string","description":"The date format. Wherever {date} appears in pathPattern, the value of this property is used as the date format instead."},"pathPattern":{"type":"string","description":"The blob path pattern. Not a regular expression. It represents a pattern against which blob names will be matched to determine whether or not they should be included as input or output to the job. See https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-input or https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output for a more detailed explanation and example."},"storageAccounts":{"type":"array","description":"A list of one or more Azure Storage accounts. Required on PUT (CreateOrReplace) requests.","items":{"type":"object","properties":{"accountKey":{"type":"string","description":"The account key for the Azure Storage account. Required on PUT (CreateOrReplace) requests."},"accountName":{"type":"string","description":"The name of the Azure Storage account. Required on PUT (CreateOrReplace) requests."}},"description":"The properties that are associated with an Azure Storage account"}},"timeFormat":{"type":"string","description":"The time format. Wherever {time} appears in pathPattern, the value of this property is used as the time format instead."}},"description":"The properties that are associated with a blob data source."}]},"DocumentDbOutputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/DocumentDbOutputDataSourceProperties"}},"description":"Describes a DocumentDB output data source.","allOf":[{"$ref":"#/components/schemas/OutputDataSource"}]},"DocumentDbOutputDataSourceProperties":{"type":"object","properties":{"accountId":{"type":"string","description":"The DocumentDB account name or ID. Required on PUT (CreateOrReplace) requests."},"accountKey":{"type":"string","description":"The account key for the DocumentDB account. Required on PUT (CreateOrReplace) requests."},"collectionNamePattern":{"type":"string","description":"The collection name pattern for the collections to be used. The collection name format can be constructed using the optional {partition} token, where partitions start from 0. See the DocumentDB section of https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output for more information. Required on PUT (CreateOrReplace) requests."},"database":{"type":"string","description":"The name of the DocumentDB database. Required on PUT (CreateOrReplace) requests."},"documentId":{"type":"string","description":"The name of the field in output events used to specify the primary key which insert or update operations are based on."},"partitionKey":{"type":"string","description":"The name of the field in output events used to specify the key for partitioning output across collections. If 'collectionNamePattern' contains the {partition} token, this property is required to be specified."}},"description":"The properties that are associated with a DocumentDB output."},"EventHubOutputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/EventHubOutputDataSourceProperties"}},"description":"Describes an Event Hub output data source.","allOf":[{"$ref":"#/components/schemas/OutputDataSource"}]},"EventHubOutputDataSourceProperties":{"properties":{"partitionKey":{"type":"string","description":"The key/column that is used to determine to which partition to send event data."}},"description":"The properties that are associated with an Event Hub output.","allOf":[{"properties":{"eventHubName":{"type":"string","description":"The name of the Event Hub. Required on PUT (CreateOrReplace) requests."}},"description":"The common properties that are associated with Event Hub data sources.","allOf":[{"type":"object","properties":{"serviceBusNamespace":{"type":"string","description":"The namespace that is associated with the desired Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests."},"sharedAccessPolicyKey":{"type":"string","description":"The shared access policy key for the specified shared access policy. Required on PUT (CreateOrReplace) requests."},"sharedAccessPolicyName":{"type":"string","description":"The shared access policy name for the Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests."}},"description":"The common properties that are associated with Service Bus data sources (Queues, Topics, Event Hubs, etc.)."}]}]},"OAuthBasedDataSourceProperties":{"type":"object","properties":{"refreshToken":{"type":"string","description":"A refresh token that can be used to obtain a valid access token that can then be used to authenticate with the data source. A valid refresh token is currently only obtainable via the Azure Portal. It is recommended to put a dummy string value here when creating the data source and then going to the Azure Portal to authenticate the data source which will update this property with a valid refresh token. Required on PUT (CreateOrReplace) requests."},"tokenUserDisplayName":{"type":"string","description":"The user display name of the user that was used to obtain the refresh token. Use this property to help remember which user was used to obtain the refresh token."},"tokenUserPrincipalName":{"type":"string","description":"The user principal name (UPN) of the user that was used to obtain the refresh token. Use this property to help remember which user was used to obtain the refresh token."}},"description":"The properties that are associated with data sources that use OAuth as their authentication model."},"Output":{"properties":{"properties":{"$ref":"#/components/schemas/OutputProperties"}},"description":"An output object, containing all information associated with the named output. All outputs are contained under a streaming job.","allOf":[{"$ref":"#/components/schemas/SubResource"}]},"OutputDataSource":{"type":"object","properties":{"type":{"type":"string","description":"Indicates the type of data source output will be written to. Required on PUT (CreateOrReplace) requests."}},"description":"Describes the data source that output will be written to.","discriminator":{"propertyName":"type"}},"OutputListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link (url) to the next page of results.","readOnly":true},"value":{"type":"array","description":"A list of outputs under a streaming job. Populated by a 'List' operation.","readOnly":true,"items":{"$ref":"#/components/schemas/Output"}}},"description":"Object containing a list of outputs under a streaming job."},"OutputProperties":{"type":"object","properties":{"datasource":{"$ref":"#/components/schemas/OutputDataSource"},"diagnostics":{"type":"object","properties":{"conditions":{"type":"array","description":"A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention.","readOnly":true,"items":{"type":"object","properties":{"code":{"type":"string","description":"The opaque diagnostic code.","readOnly":true},"message":{"type":"string","description":"The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request.","readOnly":true},"since":{"type":"string","description":"The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time.","readOnly":true}},"description":"Condition applicable to the resource, or to the job overall, that warrant customer attention."}}},"description":"Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention."},"etag":{"type":"string","description":"The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","readOnly":true},"serialization":{"type":"object","properties":{"type":{"type":"string","description":"Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests."}},"description":"Describes how data from an input is serialized or how data is serialized when written to an output."}},"description":"The properties that are associated with an output."},"PowerBIOutputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/PowerBIOutputDataSourceProperties"}},"description":"Describes a Power BI output data source.","allOf":[{"$ref":"#/components/schemas/OutputDataSource"}]},"PowerBIOutputDataSourceProperties":{"properties":{"dataset":{"type":"string","description":"The name of the Power BI dataset. Required on PUT (CreateOrReplace) requests."},"groupId":{"type":"string","description":"The ID of the Power BI group."},"groupName":{"type":"string","description":"The name of the Power BI group. Use this property to help remember which specific Power BI group id was used."},"table":{"type":"string","description":"The name of the Power BI table under the specified dataset. Required on PUT (CreateOrReplace) requests."}},"description":"The properties that are associated with a Power BI output.","allOf":[{"$ref":"#/components/schemas/OAuthBasedDataSourceProperties"}]},"ServiceBusQueueOutputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/ServiceBusQueueOutputDataSourceProperties"}},"description":"Describes a Service Bus Queue output data source.","allOf":[{"$ref":"#/components/schemas/OutputDataSource"}]},"ServiceBusQueueOutputDataSourceProperties":{"properties":{"propertyColumns":{"type":"array","description":"A string array of the names of output columns to be attached to Service Bus messages as custom properties.","items":{"type":"string"}},"queueName":{"type":"string","description":"The name of the Service Bus Queue. Required on PUT (CreateOrReplace) requests."}},"description":"The properties that are associated with a Service Bus Queue output.","allOf":[{"type":"object","properties":{"serviceBusNamespace":{"type":"string","description":"The namespace that is associated with the desired Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests."},"sharedAccessPolicyKey":{"type":"string","description":"The shared access policy key for the specified shared access policy. Required on PUT (CreateOrReplace) requests."},"sharedAccessPolicyName":{"type":"string","description":"The shared access policy name for the Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests."}},"description":"The common properties that are associated with Service Bus data sources (Queues, Topics, Event Hubs, etc.)."}]},"ServiceBusTopicOutputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/ServiceBusTopicOutputDataSourceProperties"}},"description":"Describes a Service Bus Topic output data source.","allOf":[{"$ref":"#/components/schemas/OutputDataSource"}]},"ServiceBusTopicOutputDataSourceProperties":{"properties":{"propertyColumns":{"type":"array","description":"A string array of the names of output columns to be attached to Service Bus messages as custom properties.","items":{"type":"string"}},"topicName":{"type":"string","description":"The name of the Service Bus Topic. Required on PUT (CreateOrReplace) requests."}},"description":"The properties that are associated with a Service Bus Topic output.","allOf":[{"type":"object","properties":{"serviceBusNamespace":{"type":"string","description":"The namespace that is associated with the desired Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests."},"sharedAccessPolicyKey":{"type":"string","description":"The shared access policy key for the specified shared access policy. Required on PUT (CreateOrReplace) requests."},"sharedAccessPolicyName":{"type":"string","description":"The shared access policy name for the Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests."}},"description":"The common properties that are associated with Service Bus data sources (Queues, Topics, Event Hubs, etc.)."}]},"SubResource":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The base sub-resource model definition."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"OutputNameParameter":{"name":"outputName","in":"path","description":"The name of the output.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"StreamingJobNameParameter":{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}