{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Security Center",
    "description" : "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version" : "2015-06-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/jitNetworkAccessPolicies" : {
      "get" : {
        "tags" : [ "JitNetworkAccessPolicies" ],
        "description" : "Policies for protecting resources using Just-in-Time access control.",
        "operationId" : "JitNetworkAccessPolicies_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JitNetworkAccessPoliciesList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies" : {
      "get" : {
        "tags" : [ "JitNetworkAccessPolicies" ],
        "description" : "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId" : "JitNetworkAccessPolicies_ListByRegion",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JitNetworkAccessPoliciesList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/jitNetworkAccessPolicies" : {
      "get" : {
        "tags" : [ "JitNetworkAccessPolicies" ],
        "description" : "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId" : "JitNetworkAccessPolicies_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JitNetworkAccessPoliciesList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies" : {
      "get" : {
        "tags" : [ "JitNetworkAccessPolicies" ],
        "description" : "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId" : "JitNetworkAccessPolicies_ListByResourceGroupAndRegion",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JitNetworkAccessPoliciesList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}" : {
      "get" : {
        "tags" : [ "JitNetworkAccessPolicies" ],
        "description" : "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId" : "JitNetworkAccessPolicies_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "jitNetworkAccessPolicyName",
          "in" : "path",
          "description" : "Name of a Just-in-Time access configuration policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JitNetworkAccessPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "JitNetworkAccessPolicies" ],
        "description" : "Create a policy for protecting resources using Just-in-Time access control",
        "operationId" : "JitNetworkAccessPolicies_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "jitNetworkAccessPolicyName",
          "in" : "path",
          "description" : "Name of a Just-in-Time access configuration policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/JitNetworkAccessPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JitNetworkAccessPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "JitNetworkAccessPolicies" ],
        "description" : "Delete a Just-in-Time access control policy.",
        "operationId" : "JitNetworkAccessPolicies_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "jitNetworkAccessPolicyName",
          "in" : "path",
          "description" : "Name of a Just-in-Time access configuration policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Resource was deleted"
          },
          "204" : {
            "description" : "No Content - Resource does not exist"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}/{jitNetworkAccessPolicyInitiateType}" : {
      "post" : {
        "tags" : [ "JitNetworkAccessPolicies" ],
        "description" : "Initiate a JIT access from a specific Just-in-Time policy configuration.",
        "operationId" : "JitNetworkAccessPolicies_Initiate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "jitNetworkAccessPolicyName",
          "in" : "path",
          "description" : "Name of a Just-in-Time access configuration policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "jitNetworkAccessPolicyInitiateType",
          "in" : "path",
          "description" : "Type of the action to do on the Just-in-Time access policy.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "initiate" ]
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/JitNetworkAccessPolicyInitiateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JitNetworkAccessRequest"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "JitNetworkAccessPoliciesList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/JitNetworkAccessPolicy"
            }
          }
        }
      },
      "JitNetworkAccessPolicy" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/JitNetworkAccessPolicyProperties"
          }
        },
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type",
              "readOnly" : true
            }
          },
          "description" : "Describes an Azure resource."
        }, {
          "type" : "object",
          "properties" : {
            "kind" : {
              "type" : "string",
              "description" : "Kind of the resource"
            }
          },
          "description" : "Describes an Azure resource with kind"
        }, {
          "type" : "object",
          "properties" : {
            "location" : {
              "type" : "string",
              "description" : "Location where the resource is stored",
              "readOnly" : true
            }
          },
          "description" : "Describes an Azure resource with location"
        } ]
      },
      "JitNetworkAccessPolicyInitiatePort" : {
        "required" : [ "endTimeUtc", "number" ],
        "type" : "object",
        "properties" : {
          "allowedSourceAddressPrefix" : {
            "type" : "string",
            "description" : "Source of the allowed traffic. If omitted, the request will be for the source IP address of the initiate request."
          },
          "endTimeUtc" : {
            "type" : "string",
            "description" : "The time to close the request in UTC",
            "format" : "date-time"
          },
          "number" : {
            "$ref" : "#/components/schemas/PortNumber"
          }
        }
      },
      "JitNetworkAccessPolicyInitiateRequest" : {
        "required" : [ "virtualMachines" ],
        "type" : "object",
        "properties" : {
          "justification" : {
            "type" : "string",
            "description" : "The justification for making the initiate request"
          },
          "virtualMachines" : {
            "type" : "array",
            "description" : "A list of virtual machines & ports to open access for",
            "items" : {
              "$ref" : "#/components/schemas/JitNetworkAccessPolicyInitiateVirtualMachine"
            }
          }
        }
      },
      "JitNetworkAccessPolicyInitiateVirtualMachine" : {
        "required" : [ "id", "ports" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource ID of the virtual machine that is linked to this policy"
          },
          "ports" : {
            "type" : "array",
            "description" : "The ports to open for the resource with the `id`",
            "items" : {
              "$ref" : "#/components/schemas/JitNetworkAccessPolicyInitiatePort"
            }
          }
        }
      },
      "JitNetworkAccessPolicyProperties" : {
        "required" : [ "virtualMachines" ],
        "type" : "object",
        "properties" : {
          "provisioningState" : {
            "type" : "string",
            "description" : "Gets the provisioning state of the Just-in-Time policy.",
            "readOnly" : true
          },
          "requests" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/JitNetworkAccessRequest"
            }
          },
          "virtualMachines" : {
            "type" : "array",
            "description" : "Configurations for Microsoft.Compute/virtualMachines resource type.",
            "items" : {
              "$ref" : "#/components/schemas/JitNetworkAccessPolicyVirtualMachine"
            }
          }
        }
      },
      "JitNetworkAccessPolicyVirtualMachine" : {
        "required" : [ "id", "ports" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource ID of the virtual machine that is linked to this policy"
          },
          "ports" : {
            "type" : "array",
            "description" : "Port configurations for the virtual machine",
            "items" : {
              "$ref" : "#/components/schemas/JitNetworkAccessPortRule"
            }
          },
          "publicIpAddress" : {
            "type" : "string",
            "description" : "Public IP address of the Azure Firewall that is linked to this policy, if applicable"
          }
        }
      },
      "JitNetworkAccessPortRule" : {
        "required" : [ "maxRequestAccessDuration", "number", "protocol" ],
        "type" : "object",
        "properties" : {
          "allowedSourceAddressPrefix" : {
            "type" : "string",
            "description" : "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\"."
          },
          "allowedSourceAddressPrefixes" : {
            "type" : "array",
            "description" : "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
            "items" : {
              "type" : "string",
              "description" : "IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\"."
            }
          },
          "maxRequestAccessDuration" : {
            "type" : "string",
            "description" : "Maximum duration requests can be made for. In ISO 8601 duration format. Minimum 5 minutes, maximum 1 day"
          },
          "number" : {
            "$ref" : "#/components/schemas/PortNumber"
          },
          "protocol" : {
            "type" : "string",
            "enum" : [ "TCP", "UDP", "*" ]
          }
        }
      },
      "JitNetworkAccessRequest" : {
        "required" : [ "requestor", "startTimeUtc", "virtualMachines" ],
        "type" : "object",
        "properties" : {
          "justification" : {
            "type" : "string",
            "description" : "The justification for making the initiate request"
          },
          "requestor" : {
            "type" : "string",
            "description" : "The identity of the person who made the request"
          },
          "startTimeUtc" : {
            "type" : "string",
            "description" : "The start time of the request in UTC",
            "format" : "date-time"
          },
          "virtualMachines" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/JitNetworkAccessRequestVirtualMachine"
            }
          }
        }
      },
      "JitNetworkAccessRequestPort" : {
        "required" : [ "endTimeUtc", "number", "status", "statusReason" ],
        "type" : "object",
        "properties" : {
          "allowedSourceAddressPrefix" : {
            "type" : "string",
            "description" : "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\"."
          },
          "allowedSourceAddressPrefixes" : {
            "type" : "array",
            "description" : "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
            "items" : {
              "type" : "string",
              "description" : "IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\"."
            }
          },
          "endTimeUtc" : {
            "type" : "string",
            "description" : "The date & time at which the request ends in UTC",
            "format" : "date-time"
          },
          "mappedPort" : {
            "type" : "integer",
            "description" : "The port which is mapped to this port's `number` in the Azure Firewall, if applicable"
          },
          "number" : {
            "$ref" : "#/components/schemas/PortNumber"
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the port",
            "enum" : [ "Revoked", "Initiated" ]
          },
          "statusReason" : {
            "type" : "string",
            "description" : "A description of why the `status` has its value",
            "enum" : [ "Expired", "UserRequested", "NewerRequestInitiated" ]
          }
        }
      },
      "JitNetworkAccessRequestVirtualMachine" : {
        "required" : [ "id", "ports" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource ID of the virtual machine that is linked to this policy"
          },
          "ports" : {
            "type" : "array",
            "description" : "The ports that were opened for the virtual machine",
            "items" : {
              "$ref" : "#/components/schemas/JitNetworkAccessRequestPort"
            }
          }
        }
      },
      "PortNumber" : {
        "maximum" : 65535,
        "minimum" : 0,
        "type" : "integer"
      }
    },
    "parameters" : {
      "JitNetworkAccessPolicyInitiateType" : {
        "name" : "jitNetworkAccessPolicyInitiateType",
        "in" : "path",
        "description" : "Type of the action to do on the Just-in-Time access policy.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "initiate" ]
        }
      },
      "JitNetworkAccessPolicyName" : {
        "name" : "jitNetworkAccessPolicyName",
        "in" : "path",
        "description" : "Name of a Just-in-Time access configuration policy.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "JitNetworkAccessPolicy" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/JitNetworkAccessPolicy"
            }
          }
        },
        "required" : true
      },
      "JitNetworkAccessPolicyInitiateRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/JitNetworkAccessPolicyInitiateRequest"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}