{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MonitorManagementClient",
    "version" : "2015-04-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/autoscalesettings" : {
      "get" : {
        "tags" : [ "AutoscaleSettings" ],
        "description" : "Lists the autoscale settings for a subscription",
        "operationId" : "AutoscaleSettings_ListBySubscription",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request for a list of autoscale settings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoscaleSettingResourceCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/autoscalesettings" : {
      "get" : {
        "tags" : [ "AutoscaleSettings" ],
        "description" : "Lists the autoscale settings for a resource group",
        "operationId" : "AutoscaleSettings_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request for a list of autoscale settings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoscaleSettingResourceCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/autoscalesettings/{autoscaleSettingName}" : {
      "get" : {
        "tags" : [ "AutoscaleSettings" ],
        "description" : "Gets an autoscale setting",
        "operationId" : "AutoscaleSettings_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "autoscaleSettingName",
          "in" : "path",
          "description" : "The autoscale setting name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to get one autoscale setting",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoscaleSettingResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "AutoscaleSettings" ],
        "description" : "Creates or updates an autoscale setting.",
        "operationId" : "AutoscaleSettings_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "autoscaleSettingName",
          "in" : "path",
          "description" : "The autoscale setting name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AutoscaleSettingResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful request to create or update an autoscale setting",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoscaleSettingResource"
                }
              }
            }
          },
          "201" : {
            "description" : "Created autoscale setting",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoscaleSettingResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AutoscaleSettings" ],
        "description" : "Deletes and autoscale setting",
        "operationId" : "AutoscaleSettings_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "autoscaleSettingName",
          "in" : "path",
          "description" : "The autoscale setting name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to delete an autoscale setting"
          },
          "204" : {
            "description" : "No content: Successful request to delete an autoscale setting, but the response is intentionally empty"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "description" : "Updates an existing AutoscaleSettingsResource. To update other fields use the CreateOrUpdate method.",
        "operationId" : "AutoscaleSettings_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "autoscaleSettingName",
          "in" : "path",
          "description" : "The autoscale setting name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AutoscaleSettingResourcePatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "An existing autoscale setting resource was successfully updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutoscaleSettingResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AutoscaleNotification" : {
        "required" : [ "operation" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "$ref" : "#/components/schemas/EmailNotification"
          },
          "operation" : {
            "type" : "string",
            "description" : "the operation associated with the notification and its value must be \"scale\"",
            "enum" : [ "Scale" ]
          },
          "webhooks" : {
            "type" : "array",
            "description" : "the collection of webhook notifications.",
            "items" : {
              "$ref" : "#/components/schemas/WebhookNotification"
            }
          }
        },
        "description" : "Autoscale notification."
      },
      "AutoscaleProfile" : {
        "required" : [ "capacity", "name", "rules" ],
        "type" : "object",
        "properties" : {
          "capacity" : {
            "$ref" : "#/components/schemas/ScaleCapacity"
          },
          "fixedDate" : {
            "$ref" : "#/components/schemas/TimeWindow"
          },
          "name" : {
            "type" : "string",
            "description" : "the name of the profile."
          },
          "recurrence" : {
            "$ref" : "#/components/schemas/Recurrence"
          },
          "rules" : {
            "type" : "array",
            "description" : "the collection of rules that provide the triggers and parameters for the scaling action. A maximum of 10 rules can be specified.",
            "items" : {
              "$ref" : "#/components/schemas/ScaleRule"
            }
          }
        },
        "description" : "Autoscale profile."
      },
      "AutoscaleSetting" : {
        "required" : [ "profiles" ],
        "type" : "object",
        "properties" : {
          "enabled" : {
            "type" : "boolean",
            "description" : "the enabled flag. Specifies whether automatic scaling is enabled for the resource. The default value is 'true'.",
            "default" : true
          },
          "name" : {
            "type" : "string",
            "description" : "the name of the autoscale setting."
          },
          "notifications" : {
            "type" : "array",
            "description" : "the collection of notifications.",
            "items" : {
              "$ref" : "#/components/schemas/AutoscaleNotification"
            }
          },
          "profiles" : {
            "maxItems" : 20,
            "type" : "array",
            "description" : "the collection of automatic scaling profiles that specify different scaling parameters for different time periods. A maximum of 20 profiles can be specified.",
            "items" : {
              "$ref" : "#/components/schemas/AutoscaleProfile"
            }
          },
          "targetResourceUri" : {
            "type" : "string",
            "description" : "the resource identifier of the resource that the autoscale setting should be added to."
          }
        },
        "description" : "A setting that contains all of the configuration for the automatic scaling of a resource."
      },
      "AutoscaleSettingResource" : {
        "required" : [ "properties" ],
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AutoscaleSetting"
          }
        },
        "description" : "The autoscale setting resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "AutoscaleSettingResourceCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "the values for the autoscale setting resources.",
            "items" : {
              "$ref" : "#/components/schemas/AutoscaleSettingResource"
            }
          }
        },
        "description" : "Represents a collection of autoscale setting resources."
      },
      "AutoscaleSettingResourcePatch" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AutoscaleSetting"
          },
          "tags" : {
            "type" : "object",
            "description" : "Resource tags"
          }
        },
        "description" : "The autoscale setting object for patch operations."
      },
      "EmailNotification" : {
        "type" : "object",
        "properties" : {
          "customEmails" : {
            "type" : "array",
            "description" : "the custom e-mails list. This value can be null or empty, in which case this attribute will be ignored.",
            "items" : {
              "type" : "string"
            }
          },
          "sendToSubscriptionAdministrator" : {
            "type" : "boolean",
            "description" : "a value indicating whether to send email to subscription administrator."
          },
          "sendToSubscriptionCoAdministrators" : {
            "type" : "boolean",
            "description" : "a value indicating whether to send email to subscription co-administrators."
          }
        },
        "description" : "Email notification of an autoscale event."
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Describes the format of Error response."
      },
      "MetricTrigger" : {
        "required" : [ "metricName", "metricResourceUri", "operator", "statistic", "threshold", "timeAggregation", "timeGrain", "timeWindow" ],
        "type" : "object",
        "properties" : {
          "metricName" : {
            "type" : "string",
            "description" : "the name of the metric that defines what the rule monitors."
          },
          "metricResourceUri" : {
            "type" : "string",
            "description" : "the resource identifier of the resource the rule monitors."
          },
          "operator" : {
            "type" : "string",
            "description" : "the operator that is used to compare the metric data and the threshold.",
            "enum" : [ "Equals", "NotEquals", "GreaterThan", "GreaterThanOrEqual", "LessThan", "LessThanOrEqual" ]
          },
          "statistic" : {
            "type" : "string",
            "description" : "the metric statistic type. How the metrics from multiple instances are combined.",
            "enum" : [ "Average", "Min", "Max", "Sum" ]
          },
          "threshold" : {
            "type" : "number",
            "description" : "the threshold of the metric that triggers the scale action.",
            "format" : "double"
          },
          "timeAggregation" : {
            "type" : "string",
            "description" : "time aggregation type. How the data that is collected should be combined over time. The default value is Average.",
            "enum" : [ "Average", "Minimum", "Maximum", "Total", "Count", "Last" ]
          },
          "timeGrain" : {
            "type" : "string",
            "description" : "the granularity of metrics the rule monitors. Must be one of the predefined values returned from metric definitions for the metric. Must be between 12 hours and 1 minute.",
            "format" : "duration"
          },
          "timeWindow" : {
            "type" : "string",
            "description" : "the range of time in which instance data is collected. This value must be greater than the delay in metric collection, which can vary from resource-to-resource. Must be between 12 hours and 5 minutes.",
            "format" : "duration"
          }
        },
        "description" : "The trigger that results in a scaling action."
      },
      "Recurrence" : {
        "required" : [ "frequency", "schedule" ],
        "type" : "object",
        "properties" : {
          "frequency" : {
            "type" : "string",
            "description" : "the recurrence frequency. How often the schedule profile should take effect. This value must be Week, meaning each week will have the same set of profiles. For example, to set a daily schedule, set **schedule** to every day of the week. The frequency property specifies that the schedule is repeated weekly.",
            "enum" : [ "None", "Second", "Minute", "Hour", "Day", "Week", "Month", "Year" ]
          },
          "schedule" : {
            "$ref" : "#/components/schemas/RecurrentSchedule"
          }
        },
        "description" : "The repeating times at which this profile begins. This element is not used if the FixedDate element is used."
      },
      "RecurrentSchedule" : {
        "required" : [ "days", "hours", "minutes", "timeZone" ],
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "array",
            "description" : "the collection of days that the profile takes effect on. Possible values are Sunday through Saturday.",
            "items" : {
              "type" : "string"
            }
          },
          "hours" : {
            "type" : "array",
            "description" : "A collection of hours that the profile takes effect on. Values supported are 0 to 23 on the 24-hour clock (AM/PM times are not supported).",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "minutes" : {
            "type" : "array",
            "description" : "A collection of minutes at which the profile takes effect at.",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "timeZone" : {
            "type" : "string",
            "description" : "the timezone for the hours of the profile. Some examples of valid time zones are: Dateline Standard Time, UTC-11, Hawaiian Standard Time, Alaskan Standard Time, Pacific Standard Time (Mexico), Pacific Standard Time, US Mountain Standard Time, Mountain Standard Time (Mexico), Mountain Standard Time, Central America Standard Time, Central Standard Time, Central Standard Time (Mexico), Canada Central Standard Time, SA Pacific Standard Time, Eastern Standard Time, US Eastern Standard Time, Venezuela Standard Time, Paraguay Standard Time, Atlantic Standard Time, Central Brazilian Standard Time, SA Western Standard Time, Pacific SA Standard Time, Newfoundland Standard Time, E. South America Standard Time, Argentina Standard Time, SA Eastern Standard Time, Greenland Standard Time, Montevideo Standard Time, Bahia Standard Time, UTC-02, Mid-Atlantic Standard Time, Azores Standard Time, Cape Verde Standard Time, Morocco Standard Time, UTC, GMT Standard Time, Greenwich Standard Time, W. Europe Standard Time, Central Europe Standard Time, Romance Standard Time, Central European Standard Time, W. Central Africa Standard Time, Namibia Standard Time, Jordan Standard Time, GTB Standard Time, Middle East Standard Time, Egypt Standard Time, Syria Standard Time, E. Europe Standard Time, South Africa Standard Time, FLE Standard Time, Turkey Standard Time, Israel Standard Time, Kaliningrad Standard Time, Libya Standard Time, Arabic Standard Time, Arab Standard Time, Belarus Standard Time, Russian Standard Time, E. Africa Standard Time, Iran Standard Time, Arabian Standard Time, Azerbaijan Standard Time, Russia Time Zone 3, Mauritius Standard Time, Georgian Standard Time, Caucasus Standard Time, Afghanistan Standard Time, West Asia Standard Time, Ekaterinburg Standard Time, Pakistan Standard Time, India Standard Time, Sri Lanka Standard Time, Nepal Standard Time, Central Asia Standard Time, Bangladesh Standard Time, N. Central Asia Standard Time, Myanmar Standard Time, SE Asia Standard Time, North Asia Standard Time, China Standard Time, North Asia East Standard Time, Singapore Standard Time, W. Australia Standard Time, Taipei Standard Time, Ulaanbaatar Standard Time, Tokyo Standard Time, Korea Standard Time, Yakutsk Standard Time, Cen. Australia Standard Time, AUS Central Standard Time, E. Australia Standard Time, AUS Eastern Standard Time, West Pacific Standard Time, Tasmania Standard Time, Magadan Standard Time, Vladivostok Standard Time, Russia Time Zone 10, Central Pacific Standard Time, Russia Time Zone 11, New Zealand Standard Time, UTC+12, Fiji Standard Time, Kamchatka Standard Time, Tonga Standard Time, Samoa Standard Time, Line Islands Standard Time"
          }
        },
        "description" : "The scheduling constraints for when the profile begins."
      },
      "Resource" : {
        "required" : [ "location" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Azure resource Id",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location"
          },
          "name" : {
            "type" : "string",
            "description" : "Azure resource name",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "description" : "Resource tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Azure resource type",
            "readOnly" : true
          }
        },
        "description" : "An azure resource object"
      },
      "ScaleAction" : {
        "required" : [ "cooldown", "direction", "type" ],
        "type" : "object",
        "properties" : {
          "cooldown" : {
            "type" : "string",
            "description" : "the amount of time to wait since the last scaling action before this action occurs. It must be between 1 week and 1 minute in ISO 8601 format.",
            "format" : "duration"
          },
          "direction" : {
            "type" : "string",
            "description" : "the scale direction. Whether the scaling action increases or decreases the number of instances.",
            "enum" : [ "None", "Increase", "Decrease" ]
          },
          "type" : {
            "type" : "string",
            "description" : "the type of action that should occur when the scale rule fires.",
            "enum" : [ "ChangeCount", "PercentChangeCount", "ExactCount" ]
          },
          "value" : {
            "type" : "string",
            "description" : "the number of instances that are involved in the scaling action. This value must be 1 or greater. The default value is 1.",
            "default" : "1"
          }
        },
        "description" : "The parameters for the scaling action."
      },
      "ScaleCapacity" : {
        "required" : [ "default", "maximum", "minimum" ],
        "type" : "object",
        "properties" : {
          "default" : {
            "type" : "string",
            "description" : "the number of instances that will be set if metrics are not available for evaluation. The default is only used if the current instance count is lower than the default."
          },
          "maximum" : {
            "type" : "string",
            "description" : "the maximum number of instances for the resource. The actual maximum number of instances is limited by the cores that are available in the subscription."
          },
          "minimum" : {
            "type" : "string",
            "description" : "the minimum number of instances for the resource."
          }
        },
        "description" : "The number of instances that can be used during this profile."
      },
      "ScaleRule" : {
        "required" : [ "metricTrigger", "scaleAction" ],
        "type" : "object",
        "properties" : {
          "metricTrigger" : {
            "$ref" : "#/components/schemas/MetricTrigger"
          },
          "scaleAction" : {
            "$ref" : "#/components/schemas/ScaleAction"
          }
        },
        "description" : "A rule that provide the triggers and parameters for the scaling action."
      },
      "TimeWindow" : {
        "required" : [ "end", "start" ],
        "type" : "object",
        "properties" : {
          "end" : {
            "type" : "string",
            "description" : "the end time for the profile in ISO 8601 format.",
            "format" : "date-time"
          },
          "start" : {
            "type" : "string",
            "description" : "the start time for the profile in ISO 8601 format.",
            "format" : "date-time"
          },
          "timeZone" : {
            "type" : "string",
            "description" : "the timezone of the start and end times for the profile. Some examples of valid time zones are: Dateline Standard Time, UTC-11, Hawaiian Standard Time, Alaskan Standard Time, Pacific Standard Time (Mexico), Pacific Standard Time, US Mountain Standard Time, Mountain Standard Time (Mexico), Mountain Standard Time, Central America Standard Time, Central Standard Time, Central Standard Time (Mexico), Canada Central Standard Time, SA Pacific Standard Time, Eastern Standard Time, US Eastern Standard Time, Venezuela Standard Time, Paraguay Standard Time, Atlantic Standard Time, Central Brazilian Standard Time, SA Western Standard Time, Pacific SA Standard Time, Newfoundland Standard Time, E. South America Standard Time, Argentina Standard Time, SA Eastern Standard Time, Greenland Standard Time, Montevideo Standard Time, Bahia Standard Time, UTC-02, Mid-Atlantic Standard Time, Azores Standard Time, Cape Verde Standard Time, Morocco Standard Time, UTC, GMT Standard Time, Greenwich Standard Time, W. Europe Standard Time, Central Europe Standard Time, Romance Standard Time, Central European Standard Time, W. Central Africa Standard Time, Namibia Standard Time, Jordan Standard Time, GTB Standard Time, Middle East Standard Time, Egypt Standard Time, Syria Standard Time, E. Europe Standard Time, South Africa Standard Time, FLE Standard Time, Turkey Standard Time, Israel Standard Time, Kaliningrad Standard Time, Libya Standard Time, Arabic Standard Time, Arab Standard Time, Belarus Standard Time, Russian Standard Time, E. Africa Standard Time, Iran Standard Time, Arabian Standard Time, Azerbaijan Standard Time, Russia Time Zone 3, Mauritius Standard Time, Georgian Standard Time, Caucasus Standard Time, Afghanistan Standard Time, West Asia Standard Time, Ekaterinburg Standard Time, Pakistan Standard Time, India Standard Time, Sri Lanka Standard Time, Nepal Standard Time, Central Asia Standard Time, Bangladesh Standard Time, N. Central Asia Standard Time, Myanmar Standard Time, SE Asia Standard Time, North Asia Standard Time, China Standard Time, North Asia East Standard Time, Singapore Standard Time, W. Australia Standard Time, Taipei Standard Time, Ulaanbaatar Standard Time, Tokyo Standard Time, Korea Standard Time, Yakutsk Standard Time, Cen. Australia Standard Time, AUS Central Standard Time, E. Australia Standard Time, AUS Eastern Standard Time, West Pacific Standard Time, Tasmania Standard Time, Magadan Standard Time, Vladivostok Standard Time, Russia Time Zone 10, Central Pacific Standard Time, Russia Time Zone 11, New Zealand Standard Time, UTC+12, Fiji Standard Time, Kamchatka Standard Time, Tonga Standard Time, Samoa Standard Time, Line Islands Standard Time"
          }
        },
        "description" : "A specific date-time for the profile."
      },
      "WebhookNotification" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "a property bag of settings. This value can be empty."
          },
          "serviceUri" : {
            "type" : "string",
            "description" : "the service address to receive the notification."
          }
        },
        "description" : "Webhook notification of an autoscale event."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "AutoscaleSettingNameParameter" : {
        "name" : "autoscaleSettingName",
        "in" : "path",
        "description" : "The autoscale setting name.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The Azure subscription Id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}