{"openapi":"3.0.1","info":{"title":"Medcorder Nearby Doctor API","description":"Returns doctors near a client given a lat/lon and autocomplete text.","termsOfService":"https://medcorder.com/terms","contact":{"name":"Medcorder API Support","email":"api@medcorder.com"},"version":"1.0.0"},"servers":[{"url":"https://api.medcorder.com/"}],"paths":{"/doctors":{"get":{"summary":"Fetch a list of nearby medical providers","operationId":"doctors","parameters":[{"name":"search","in":"query","description":"The search text so far for autocomplete","schema":{"type":"string"}},{"name":"latitude","in":"query","description":"The latitude of the client, around which to search","schema":{"maximum":90,"minimum":-90,"type":"number","format":"double"}},{"name":"longitude","in":"query","description":"The longitude of the client, around which to search","schema":{"maximum":180,"minimum":-180,"type":"number","format":"double"}},{"name":"limit","in":"query","description":"The number of results desired","schema":{"maximum":50,"minimum":1,"type":"integer","default":50}}],"responses":{"200":{"description":"A list of doctors","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/doctor"}}}}}}}}},"components":{"schemas":{"doctor":{"type":"object","properties":{"address":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"county":{"type":"string"},"distance":{"type":"number","format":"float"},"email":{"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"gender":{"type":"string"},"last_name":{"type":"string"},"latitude":{"type":"number","format":"float"},"longitude":{"type":"number","format":"float"},"specialty":{"type":"string"},"state":{"type":"string"},"title":{"type":"string"},"website":{"type":"string"},"zip":{"type":"string"}}}}}}