{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure ML Commitment Plans Management Client",
    "description" : "These APIs allow end users to operate on Azure Machine Learning Commitment Plans resources and their child Commitment Association resources. They support CRUD operations for commitment plans, get and list operations for commitment associations, moving commitment associations between commitment plans, and retrieving commitment plan usage history.",
    "version" : "2016-05-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/providers/Microsoft.MachineLearning/operations" : {
      "get" : {
        "tags" : [ "Operation" ],
        "description" : "Lists all of the available Azure Machine Learning Studio Commitment Plan RP REST API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationEntityListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/commitmentPlans" : {
      "get" : {
        "tags" : [ "CommitmentPlans" ],
        "description" : "Retrieve all Azure ML commitment plans in a subscription.",
        "operationId" : "CommitmentPlans_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token for pagination.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommitmentPlanListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/skus" : {
      "get" : {
        "tags" : [ "Skus" ],
        "description" : "Lists the available commitment plan SKUs.",
        "operationId" : "Skus_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkuListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans" : {
      "get" : {
        "tags" : [ "CommitmentPlans" ],
        "description" : "Retrieve all Azure ML commitment plans in a resource group.",
        "operationId" : "CommitmentPlans_ListInResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token for pagination.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommitmentPlanListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}" : {
      "get" : {
        "tags" : [ "CommitmentPlans" ],
        "description" : "Retrieve an Azure ML commitment plan by its subscription, resource group and name.",
        "operationId" : "CommitmentPlans_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commitmentPlanName",
          "in" : "path",
          "description" : "The Azure ML commitment plan name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommitmentPlan"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "CommitmentPlans" ],
        "description" : "Create a new Azure ML commitment plan resource or updates an existing one.",
        "operationId" : "CommitmentPlans_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commitmentPlanName",
          "in" : "path",
          "description" : "The Azure ML commitment plan name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The payload to create or update the Azure ML commitment plan.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommitmentPlan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommitmentPlan"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommitmentPlan"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "CommitmentPlans" ],
        "description" : "Remove an existing Azure ML commitment plan.",
        "operationId" : "CommitmentPlans_Remove",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commitmentPlanName",
          "in" : "path",
          "description" : "The Azure ML commitment plan name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      },
      "patch" : {
        "tags" : [ "CommitmentPlans" ],
        "description" : "Patch an existing Azure ML commitment plan resource.",
        "operationId" : "CommitmentPlans_Patch",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commitmentPlanName",
          "in" : "path",
          "description" : "The Azure ML commitment plan name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The payload to use to patch the Azure ML commitment plan. Only tags and SKU may be modified on an existing commitment plan.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommitmentPlanPatchPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommitmentPlan"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations" : {
      "get" : {
        "tags" : [ "CommitmentAssociations" ],
        "description" : "Get all commitment associations for a parent commitment plan.",
        "operationId" : "CommitmentAssociations_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commitmentPlanName",
          "in" : "path",
          "description" : "The Azure ML commitment plan name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token for pagination.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommitmentAssociationListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations/{commitmentAssociationName}" : {
      "get" : {
        "tags" : [ "CommitmentAssociations" ],
        "description" : "Get a commitment association.",
        "operationId" : "CommitmentAssociations_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commitmentPlanName",
          "in" : "path",
          "description" : "The Azure ML commitment plan name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commitmentAssociationName",
          "in" : "path",
          "description" : "The commitment association name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommitmentAssociation"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations/{commitmentAssociationName}/move" : {
      "post" : {
        "tags" : [ "CommitmentAssociations" ],
        "description" : "Re-parent a commitment association from one commitment plan to another.",
        "operationId" : "CommitmentAssociations_Move",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commitmentPlanName",
          "in" : "path",
          "description" : "The Azure ML commitment plan name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commitmentAssociationName",
          "in" : "path",
          "description" : "The commitment association name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The move request payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MoveCommitmentAssociationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommitmentAssociation"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/usageHistory" : {
      "get" : {
        "tags" : [ "CommitmentPlans" ],
        "description" : "Retrieve the usage history for an Azure ML commitment plan.",
        "operationId" : "UsageHistory_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commitmentPlanName",
          "in" : "path",
          "description" : "The Azure ML commitment plan name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token for pagination.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PlanUsageHistoryListResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CatalogSku" : {
        "type" : "object",
        "properties" : {
          "capabilities" : {
            "type" : "array",
            "description" : "The capability information for the specified SKU.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/SkuCapability"
            }
          },
          "capacity" : {
            "$ref" : "#/components/schemas/SkuCapacity"
          },
          "costs" : {
            "type" : "array",
            "description" : "The cost information for the specified SKU.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/SkuCost"
            }
          },
          "locations" : {
            "type" : "array",
            "description" : "Regions where the SKU is available.",
            "readOnly" : true,
            "items" : {
              "type" : "string"
            }
          },
          "name" : {
            "type" : "string",
            "description" : "SKU name",
            "readOnly" : true
          },
          "resourceType" : {
            "type" : "string",
            "description" : "Resource type name",
            "readOnly" : true
          },
          "restrictions" : {
            "type" : "array",
            "description" : "Restrictions which would prevent a SKU from being used. This is empty if there are no restrictions.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/SkuRestrictions"
            }
          },
          "tier" : {
            "type" : "string",
            "description" : "SKU tier",
            "readOnly" : true
          }
        },
        "description" : "Details of a commitment plan SKU."
      },
      "CommitmentAssociation" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "An entity tag used to enforce optimistic concurrency."
          },
          "properties" : {
            "$ref" : "#/components/schemas/CommitmentAssociationProperties"
          }
        },
        "description" : "Represents the association between a commitment plan and some other resource, such as a Machine Learning web service.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "CommitmentAssociationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "A URI to retrieve the next page of results."
          },
          "value" : {
            "type" : "array",
            "description" : "The set of results for this page.",
            "items" : {
              "$ref" : "#/components/schemas/CommitmentAssociation"
            }
          }
        },
        "description" : "A page of commitment association resources."
      },
      "CommitmentAssociationProperties" : {
        "type" : "object",
        "properties" : {
          "associatedResourceId" : {
            "type" : "string",
            "description" : "The ID of the resource this association points to, such as the ARM ID of an Azure ML web service.",
            "readOnly" : true
          },
          "commitmentPlanId" : {
            "type" : "string",
            "description" : "The ARM ID of the parent Azure ML commitment plan.",
            "readOnly" : true
          },
          "creationDate" : {
            "type" : "string",
            "description" : "The date at which this commitment association was created, in ISO 8601 format.",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "description" : "Properties of an Azure ML commitment association."
      },
      "CommitmentPlan" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "An entity tag used to enforce optimistic concurrency."
          },
          "properties" : {
            "$ref" : "#/components/schemas/CommitmentPlanProperties"
          },
          "sku" : {
            "$ref" : "#/components/schemas/ResourceSku"
          }
        },
        "description" : "An Azure ML commitment plan resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "CommitmentPlanListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "A URI to retrieve the next page of results."
          },
          "value" : {
            "type" : "array",
            "description" : "The set of results for this page.",
            "items" : {
              "$ref" : "#/components/schemas/CommitmentPlan"
            }
          }
        },
        "description" : "A page of commitment plan resources."
      },
      "CommitmentPlanPatchPayload" : {
        "type" : "object",
        "properties" : {
          "sku" : {
            "$ref" : "#/components/schemas/ResourceSku"
          },
          "tags" : {
            "$ref" : "#/components/schemas/Tags"
          }
        },
        "description" : "The properties of a commitment plan which may be updated via PATCH."
      },
      "CommitmentPlanProperties" : {
        "type" : "object",
        "properties" : {
          "chargeForOverage" : {
            "type" : "boolean",
            "description" : "Indicates whether usage beyond the commitment plan's included quantities will be charged.",
            "readOnly" : true
          },
          "chargeForPlan" : {
            "type" : "boolean",
            "description" : "Indicates whether the commitment plan will incur a charge.",
            "readOnly" : true
          },
          "creationDate" : {
            "type" : "string",
            "description" : "The date at which this commitment plan was created, in ISO 8601 format.",
            "format" : "date-time",
            "readOnly" : true
          },
          "includedQuantities" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/PlanQuantity"
            },
            "description" : "The included resource quantities this plan gives you.",
            "readOnly" : true
          },
          "maxAssociationLimit" : {
            "type" : "integer",
            "description" : "The maximum number of commitment associations that can be children of this commitment plan.",
            "format" : "int32",
            "readOnly" : true
          },
          "maxCapacityLimit" : {
            "type" : "integer",
            "description" : "The maximum scale-out capacity for this commitment plan.",
            "format" : "int32",
            "readOnly" : true
          },
          "minCapacityLimit" : {
            "type" : "integer",
            "description" : "The minimum scale-out capacity for this commitment plan.",
            "format" : "int32",
            "readOnly" : true
          },
          "planMeter" : {
            "type" : "string",
            "description" : "The Azure meter which will be used to charge for this commitment plan.",
            "readOnly" : true
          },
          "refillFrequencyInDays" : {
            "type" : "integer",
            "description" : "The frequency at which this commitment plan's included quantities are refilled.",
            "format" : "int32",
            "readOnly" : true
          },
          "suspendPlanOnOverage" : {
            "type" : "boolean",
            "description" : "Indicates whether this commitment plan will be moved into a suspended state if usage goes beyond the commitment plan's included quantities.",
            "readOnly" : true
          }
        },
        "description" : "Properties of an Azure ML commitment plan."
      },
      "MoveCommitmentAssociationRequest" : {
        "type" : "object",
        "properties" : {
          "destinationPlanId" : {
            "type" : "string",
            "description" : "The ARM ID of the commitment plan to re-parent the commitment association to."
          }
        },
        "description" : "Specifies the destination Azure ML commitment plan for a move operation."
      },
      "OperationDisplayInfo" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The description of the operation.",
            "readOnly" : true
          },
          "operation" : {
            "type" : "string",
            "description" : "The action that users can perform, based on their permission level.",
            "readOnly" : true
          },
          "provider" : {
            "type" : "string",
            "description" : "The service provider.",
            "readOnly" : true
          },
          "resource" : {
            "type" : "string",
            "description" : "The resource on which the operation is performed.",
            "readOnly" : true
          }
        },
        "description" : "The API operation info."
      },
      "OperationEntity" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/OperationDisplayInfo"
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}.",
            "readOnly" : true
          }
        },
        "description" : "An API operation."
      },
      "OperationEntityListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of operations.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/OperationEntity"
            }
          }
        },
        "description" : "The list of REST API operations."
      },
      "PlanQuantity" : {
        "type" : "object",
        "properties" : {
          "allowance" : {
            "type" : "number",
            "description" : "The quantity added to the commitment plan at an interval specified by its allowance frequency.",
            "format" : "double",
            "readOnly" : true
          },
          "amount" : {
            "type" : "number",
            "description" : "The quantity available to the plan the last time usage was calculated.",
            "format" : "double",
            "readOnly" : true
          },
          "includedQuantityMeter" : {
            "type" : "string",
            "description" : "The Azure meter for usage against included quantities.",
            "readOnly" : true
          },
          "overageMeter" : {
            "type" : "string",
            "description" : "The Azure meter for usage which exceeds included quantities.",
            "readOnly" : true
          }
        },
        "description" : "Represents the quantity a commitment plan provides of a metered resource."
      },
      "PlanUsageHistory" : {
        "type" : "object",
        "properties" : {
          "planDeletionOverage" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "number",
              "format" : "double"
            },
            "description" : "Overage incurred as a result of deleting a commitment plan."
          },
          "planMigrationOverage" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "number",
              "format" : "double"
            },
            "description" : "Overage incurred as a result of migrating a commitment plan from one SKU to another."
          },
          "planQuantitiesAfterUsage" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "number",
              "format" : "double"
            },
            "description" : "Included quantities remaining after usage against the commitment plan's associated resources was calculated."
          },
          "planQuantitiesBeforeUsage" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "number",
              "format" : "double"
            },
            "description" : "Included quantities remaining before usage against the commitment plan's associated resources was calculated."
          },
          "planUsageOverage" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "number",
              "format" : "double"
            },
            "description" : "Usage against the commitment plan's associated resources which was not covered by included quantities and is therefore overage."
          },
          "usage" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "number",
              "format" : "double"
            },
            "description" : "Usage against the commitment plan's associated resources."
          },
          "usageDate" : {
            "type" : "string",
            "description" : "The date of usage, in ISO 8601 format.",
            "format" : "date-time"
          }
        },
        "description" : "Represents historical information about usage of the Azure resources associated with a commitment plan."
      },
      "PlanUsageHistoryListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "A URI to retrieve the next page of results."
          },
          "value" : {
            "type" : "array",
            "description" : "The set of results for this page.",
            "items" : {
              "$ref" : "#/components/schemas/PlanUsageHistory"
            }
          }
        },
        "description" : "A page of usage history."
      },
      "Resource" : {
        "required" : [ "location" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location."
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name.",
            "readOnly" : true
          },
          "tags" : {
            "$ref" : "#/components/schemas/Tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type.",
            "readOnly" : true
          }
        },
        "description" : "Common properties of an ARM resource."
      },
      "ResourceSku" : {
        "type" : "object",
        "properties" : {
          "capacity" : {
            "type" : "integer",
            "description" : "The scale-out capacity of the resource. 1 is 1x, 2 is 2x, etc. This impacts the quantities and cost of any commitment plan resource.",
            "format" : "int32"
          },
          "name" : {
            "type" : "string",
            "description" : "The SKU name. Along with tier, uniquely identifies the SKU."
          },
          "tier" : {
            "type" : "string",
            "description" : "The SKU tier. Along with name, uniquely identifies the SKU."
          }
        },
        "description" : "The SKU of a resource."
      },
      "SkuCapability" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The capability name.",
            "readOnly" : true
          },
          "value" : {
            "type" : "string",
            "description" : "The capability value.",
            "readOnly" : true
          }
        },
        "description" : "Describes The SKU capabilities object."
      },
      "SkuCapacity" : {
        "type" : "object",
        "properties" : {
          "default" : {
            "type" : "integer",
            "description" : "The default capacity.",
            "format" : "int64",
            "readOnly" : true
          },
          "maximum" : {
            "type" : "integer",
            "description" : "The maximum capacity that can be set.",
            "format" : "int64",
            "readOnly" : true
          },
          "minimum" : {
            "type" : "integer",
            "description" : "The minimum capacity.",
            "format" : "int64",
            "readOnly" : true
          },
          "scaleType" : {
            "type" : "string",
            "description" : "The scale type applicable to the sku.",
            "readOnly" : true,
            "enum" : [ "Automatic", "Manual", "None" ]
          }
        },
        "description" : "Describes scaling information of a SKU."
      },
      "SkuCost" : {
        "type" : "object",
        "properties" : {
          "extendedUnit" : {
            "type" : "string",
            "description" : "The overall duration represented by the quantity.",
            "readOnly" : true
          },
          "meterID" : {
            "type" : "string",
            "description" : "The meter used for this part of a SKU's cost.",
            "readOnly" : true
          },
          "quantity" : {
            "type" : "integer",
            "description" : "The multiplier for the meter ID.",
            "format" : "int64",
            "readOnly" : true
          }
        },
        "description" : "Describes metadata for SKU cost info."
      },
      "SkuListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/CatalogSku"
            }
          }
        },
        "description" : "The list of commitment plan SKUs."
      },
      "SkuRestrictions" : {
        "type" : "object",
        "properties" : {
          "reasonCode" : {
            "type" : "string",
            "description" : "The reason for restriction.",
            "readOnly" : true,
            "enum" : [ "QuotaId", "NotAvailableForSubscription" ]
          },
          "type" : {
            "type" : "string",
            "description" : "The type of restrictions.",
            "readOnly" : true,
            "enum" : [ "location", "zone" ]
          },
          "values" : {
            "type" : "array",
            "description" : "The value of restrictions. If the restriction type is set to location. This would be different locations where the SKU is restricted.",
            "readOnly" : true,
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Describes restrictions which would prevent a SKU from being used."
      },
      "Tags" : {
        "type" : "object",
        "additionalProperties" : {
          "type" : "string"
        },
        "description" : "Resource tags"
      }
    },
    "parameters" : {
      "APIVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "The version of the Microsoft.MachineLearning resource provider API to use.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "CommitmentAssociationNameParameter" : {
        "name" : "commitmentAssociationName",
        "in" : "path",
        "description" : "The commitment association name.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "CommitmentPlanNameParameter" : {
        "name" : "commitmentPlanName",
        "in" : "path",
        "description" : "The Azure ML commitment plan name.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The resource group name.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SkipTokenParameter" : {
        "name" : "$skipToken",
        "in" : "query",
        "description" : "Continuation token for pagination.",
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Azure Subscription ID.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}