{"openapi":"3.0.1","info":{"title":"ClearBlade API","description":"A friendly little API to help you interact with the ClearBlade platform.","termsOfService":"https://docs.clearblade.com/v/4/static/tac.html","contact":{"email":"support@clearblade.com"},"version":"3.0"},"servers":[{"url":"https://platform.clearblade.com/"}],"tags":[{"name":"Adapter","description":"Adapter configuration and management."},{"name":"Admin","description":"Admin developer operations."},{"name":"2FA","description":"Interactions for Two Factor Authentication."},{"name":"Audit","description":"Interactions with the developer audit trail."},{"name":"Code","description":"Interactions with code services."},{"name":"Webhooks","description":"Interactions with webhooks."},{"name":"Data","description":"Interactions with data collections."},{"name":"Databases","description":"Interactions with external database connections."},{"name":"Deployments","description":"Deployment CRUD Operations"},{"name":"Device","description":"Device authentication and management."},{"name":"Developer","description":"Developer operations."},{"name":"Edge","description":"Interactions with edges."},{"name":"Handlers","description":"Interactions triggers and timers."},{"name":"Messaging","description":"MQTT messaging and push notifications."},{"name":"Shared Cache","description":"Interactions with Shared Caches"},{"name":"User","description":"User authentication and management."},{"name":"Session","description":"Interactions with user and device sessions."},{"name":"Portal","description":"Interactions with portals."},{"name":"Files","description":"Interactions with file management."}],"paths":{"/admin/allapps":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get platform assets","description":"Retrieves system information for all systems in the developer account.","operationId":"DevGetAssets","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns an array of system information."},"400":{"description":"Bad Request."}}}},"/admin/allcollections":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get collections","description":"Returns all the collections in the specified system.","operationId":"DevGetCollections","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"appid","in":"query","description":"System Key that identifies the system the collections belong to.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of collections in the specified system."},"400":{"description":"Bad Request."}}}},"/admin/allsystems":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get systems","description":"Returns all the systems tied to the specified developer's account.","operationId":"GetSystems","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of systems."}}}},"/admin/audit":{"get":{"tags":["Audit"],"summary":"AUDIT  - Get Audit Info","description":"## Description:\nReturns list of assets and the information about the changes that have been made. This endpoint is for Admin only.\n### Query Structure:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]], \"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. \n## Audit Table Schema:\nRefer to this when building the query.\n\n  | Column | Type | Possible Values|Example|\n  |:---------|:---------|:------|:---------|\n  | id   | bigint   |ANY_POSITIVE_INTEGER|10440595|\n  |system_key|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|\"ccafb4cadaccaf9ebba01\"|\n  |time|timestamp|ISO_DATE_TIME_STRING|\"2020-01-29T20:18:18.475214Z\"|\n  |response_time|bigint|ANY_POSITIVE_INTEGER|4038669|\n  |asset_class|string|adapters, adapterFiles, devices, users, multi_dev, services, libraries, servicecaches, timers, triggers, webhooks, portals, plugins, rolesperms, collections, edges, messaging, deployments, edgegroups, system, usersessions, devicesessions|\"collections\"|\n  |action_type|string|Create, Update, Delete, Create Columns, Delete Columns, Developer Password Reset, User Password Reset, MQTT Disconnect, MQTT Connect|\"MQTT Connect\"|\n  |email|string|SINGLE_VALID_EMAIL_STRING|\"example@clearblade.com\"|\n  |asset_id|string|ANY_STRING|\"ClearBlade-iPhone\"|\n  |changes|string|STRINGIFIED_JSON|\"{\\\\\"newVersion\\\\\":2}\"|\n  |user_type|string|UNKNOWN, DEV, USER, DEVICE, Invalid UserType|\"DEVICE\"|\n  \n### Example:\n\n```json\n{\"FILTERS\":[[{\"NEQ\":[{\"asset_class\":\"services\"}]},{\"EQ\":[{\"action_type\":\"create\"}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n","operationId":"GetAudit","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query object used to filter the items. See query model at in the description for example.","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns audit information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/auditInfo"}}}}}}},"/admin/audit/count":{"get":{"tags":["Audit"],"summary":"Audit - Get counts","description":"Gets total number of changes made to assets across all systems on the instance. This endpoint is Admin only.","operationId":"GetCounts","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns number of actions"}}}},"/admin/audit/{systemKey}":{"get":{"tags":["Audit"],"summary":"AUDIT  - Get Audit Info","description":"## Description:\nReturns list of assets and the information about the changes that have been made. This endpoint is for Admin and Dev.\n\n### Query Structure:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]], \"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. \n## Audit Table Schema:\nRefer to this when building the query.\n\n  | Column | Type | Possible Values|Example|\n  |:---------|:---------|:------|:---------|\n  | id   | bigint   |ANY_POSITIVE_INTEGER|10440595|\n  |system_key|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|\"ccafb4cadaccaf9ebba01\"|\n  |time|timestamp|ISO_DATE_TIME_STRING|\"2020-01-29T20:18:18.475214Z\"|\n  |response_time|bigint|ANY_POSITIVE_INTEGER|4038669|\n  |asset_class|string|adapters, adapterFiles, devices, users, multi_dev, services, libraries, servicecaches, timers, triggers, webhooks, portals, plugins, rolesperms, collections, edges, messaging, deployments, edgegroups, system, usersessions, devicesessions|\"collections\"|\n  |action_type|string|Create, Update, Delete, Create Columns, Delete Columns, Developer Password Reset, User Password Reset, MQTT Disconnect, MQTT Connect|\"MQTT Connect\"|\n  |email|string|SINGLE_VALID_EMAIL_STRING|\"example@clearblade.com\"|\n  |asset_id|string|ANY_STRING|\"ClearBlade-iPhone\"|\n  |changes|string|STRINGIFIED_JSON|\"{\\\\\"newVersion\\\\\":2}\"|\n  |user_type|string|UNKNOWN, DEV, USER, DEVICE, Invalid UserType|\"DEVICE\"|\n  \n### Example:\n\n```json\n{\"FILTERS\":[[{\"NEQ\":[{\"asset_class\":\"services\"}]},{\"EQ\":[{\"action_type\":\"create\"}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n","operationId":"GetAuditDev","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the deployment.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query object used to filter the items. See query model at in the description for example.","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns audit information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/auditInfo"}}}}}}},"/admin/audit/{systemKey}/count":{"get":{"tags":["Audit"],"summary":"AUDIT - Get counts","description":"Gets total number of changes made to assets across all systems on the instance. This endpoint is for Admin and Dev.","operationId":"GetCountsDev","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the deployment.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns number of actions"}}}},"/admin/auth":{"post":{"tags":["Developer"],"summary":"DEVELOPER - Authenticate dev","description":"## Description\nLogs developer into system and returns an Developer Token\n## Endpoint Body Values\nHere are the body values for the two scenarios\n### Basic Auth\nRequired Keys\n  - username\n  - password\n\nExample \n```json\n{\n  \"username\":\"cbman@clearblade.com\",\n  \"password\":\"cl34rbl4d3\"\n}\n```  \n\n### Refreshing Token\nRequired Keys \n  - grant_type (only one valid value - \"refresh_token\")\n  - refresh_token\n  - access_token\n\nExample \n```json\n{\n  \"grant_type\":\"refresh_token\",\n  \"refresh_token\":\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJmMjkwZTJlYjBiZDRmNjhiZDRkM2RlZjNkMWM0MDEiLCJzaWQiOiIzOWFkM2U5OC1hMmU0LTQxYzQtOGMzNi03ZjQxNDFhYzYxN2IiLCJ1dCI6MiwidHQiOjMsImV4cCI6MTU5MDI3ODExMSwiaWF0IjoxNTg5NDE0MTExfQ.iY6uJu2QgNP0uHoGdmEZm9wsztB1SUrCHrisxoXoxolol\",\n  \"access_token\":\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJmMjkwZTJlYjBiZDRmNjhiZDRkM2RlZjNkMWM0MDEiLCJzaWQiOiI3NmY4ODg4MS04YmU5LTRiM2UtOWJkNi1jOTJjZGQ4OTNlMmEiLCJ1dCI6MiwidHQiOjEsImV4cCI6MTU4OTg0NjExMSwiaWF0IjoxNTg5NDE0MTExfQ.xboryHuVn2zz-gSZ_JcD7-j_eBmJU1SMHkiDl9j8bak\"\n}\n```\n","operationId":"AuthDev","requestBody":{"description":"Developer credentials.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/authdata"}}},"required":true},"responses":{"200":{"description":"Developer authenticated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/devregresp"}}}}}}},"/admin/checkauth":{"post":{"tags":["Developer"],"summary":"DEVELOPER - Verifies access to the system","description":"Verifies developer access to the system","operationId":"VerifyAuth","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Receives access to the system."},"400":{"description":"Bad Request."}}}},"/admin/collectionmanagement":{"put":{"tags":["Developer"],"summary":"DEVELOPER - Update collection","description":"Creates or deletes a column within an existing collection, or updates an existing database connection in the specified system.","operationId":"DevUpdateCollection","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","schema":{"type":"string"}}],"requestBody":{"description":"Updated collection information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/updateCollection"}}},"required":false},"responses":{"200":{"description":"Collection was successfully updated."}}},"post":{"tags":["Developer"],"summary":"DEVELOPER - Create collection","description":"Creates a new collection or database connection in the specified system.","operationId":"DevCreateCollection","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Configuration info for new collection.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/newcollection"}}},"required":true},"responses":{"200":{"description":"Collection was successfully created."}}},"delete":{"tags":["Developer"],"summary":"DEVELOPER - Delete collection","description":"Deletes an existing collection in the specified system.","operationId":"DevDeleteCollection","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","description":"ID that identifies the collection to be deleted.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Collection was successfully deleted."}}}},"/admin/count/developers":{"get":{"tags":["Admin"],"summary":"ADMIN - Get number of admin developers","description":"Retrieves the number of developers who are considered administrators in their system.","operationId":"GetAdminDevCount","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns number of admin developers"},"400":{"description":"Bad request."}}}},"/admin/count/systems":{"get":{"tags":["Admin"],"summary":"ADMIN - Get number of systems available","description":"Retrieves the number of systems that are available.","operationId":"GetSystemCount","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"},"400":{"description":"Bad request."},"404":{"description":"Not Found"}}}},"/admin/database/status":{"get":{"tags":["Databases"],"summary":"DATABASES - Retrieves all internal and external database statuses","description":"Returns all the names and internal and external database statuses","operationId":"GetDatabaseStatus","responses":{"200":{"description":"## Description:\n Returns all the names and internal and external database statuses in a system\n ### Success Structure:\n ```json\n {\n   [IP_ADDRESS]\": {\n     \"internal_db_stats\": {\n       \"name\": \"Postgres\",\n       \"stats\": {\n         \"db_type\": \"PostgreSQL\",\n         \"info\": {\n           \"Idle\": 2,\n           \"InUse\": 0,\n           \"MaxIdleClosed\": 55380,\n           \"MaxIdleTimeClosed\": 0,\n           \"MaxLifetimeClosed\": 0,\n           \"MaxOpenConnections\": 30,\n           \"OpenConnections\": 2,\n           \"WaitCount\": 0,\n           \"WaitDuration\": 0\n       },\n       \"is_connected\": true\n       }\n      },\n      \"external_db_stats\": {}\n ```\n |\n"}}}},"/admin/developers/{systemKey}":{"put":{"tags":["Admin","Developer"],"summary":"ADMIN - Add/Remove/Change owner","description":"For admin, you can add/remove/change the owner of a system even if you’re not the system's owner. For Developer,you can add/remove a developer as long as you’re the owner of the system.","operationId":"AdminOwnerChange","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the deployment.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Updated system owner email.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/updateOwner"}}},"required":false},"responses":{"200":{"description":"Owner successfully added/removed."},"400":{"description":"Bad Request."},"500":{"description":"Internal Server Error."}}}},"/admin/devices/keys/{systemKey}/{deviceName}":{"post":{"tags":["Device"],"summary":"DEVICE -Creates rotating keys for a device.","description":"Creates rotating keys for a device.","operationId":"CreateRotatingKeys","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through developer authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the device you're updating belongs to.","required":true,"schema":{"type":"string"}},{"name":"deviceName","in":"path","description":"Name of the device you are adding keys to .","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Number of rotating keys.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/count"}}},"required":true},"responses":{"200":{"description":"No response was specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/deviceKey"}}}}}},"delete":{"tags":["Developer"],"summary":"DEVELOPER - Delete rotating keys for a device","description":"Deletes the rotating keys from its device.","operationId":"DeleteDeviceKeys","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through developer authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the device currently belongs to.","required":true,"schema":{"type":"string"}},{"name":"deviceName","in":"path","description":"Name of the device whose keys are being deleted.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deletes rotating keys"}}}},"/admin/devices/{systemKey}":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get devices with or without a query","description":"Retrieves information about all devices in the specified system","operationId":"GetSystemDevices","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the devices in question belong to.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Tags to filter devices by. See the query model below for an example. All devices are returned if a query is not specified.","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of devices."},"400":{"description":"Bad request."}}},"put":{"tags":["Developer"],"summary":"DEVELOPER - Update devices using a query","description":"Updates all devices matching the filters specified by a query.","operationId":"UpdateDevicesAdmin","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system the device is a part of.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Token obtained through user authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Query to limit scope of update, and new data values.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PutQuery"}}},"required":true},"responses":{"200":{"description":"A JSON object representing the SQL result set containing the list of affected devices.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryResultSet"}}}},"400":{"description":"Bad request."}}},"delete":{"tags":["Developer"],"summary":"DEVELOPER - Delete devices using a query","description":"Deletes all devices matching the filters specified by a query.","operationId":"DeleteDevicesAdmin","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system the device is a part of.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Tags to filter devices by. See the query model below for an example.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted devices."},"400":{"description":"Bad request."}}}},"/admin/devices/{systemKey}/{name}":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get device","description":"Retrieves information about the specified device.","operationId":"GetSystemDevice","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the device in question belongs to.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the device you're getting info about.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}},"put":{"tags":["Developer"],"summary":"DEVELOPER - Update device","description":"Updates the specified device's information.","operationId":"UpdateSystemDevice","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the device you're updating belongs to.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the device you're updating.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Updated device information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/deviceAdminUpdate"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}},"post":{"tags":["Developer"],"summary":"DEVELOPER - Create device","description":"Creates a new device in the specified system.","operationId":"CreateSystemDevice","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the new device will belong to.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the device you're creating.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New device information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/deviceAdminNew"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}},"delete":{"tags":["Developer"],"summary":"DEVELOPER - Delete device","description":"Deletes the specified device from its system.","operationId":"DeleteSystemDevice","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the device currently belongs to.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the device you're deleting.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/admin/edges/template/{systemKey}":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get edge template","description":"Get list of which triggers, services, and libraries should be copied onto which edge when it starts up.","operationId":"GetEdgeTemplate","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the edge template belongs to.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/admin/edges/template/{systemKey}/{edgeName}":{"put":{"tags":["Developer"],"summary":"DEVELOPER - Update edge template","description":"Update template for the specified edge.","operationId":"UpdateEdgeTemplate","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the edge template belongs to.","required":true,"schema":{"type":"string"}},{"name":"edgeName","in":"path","description":"Name of the edge you're modifying the template for.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"list of resources to add or remove to the template for an edge.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/edgeTemplateUpdate"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}}},"/admin/edges/{systemKey}":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get edges","description":"Retrieves all the edges that belong to the specified system.","operationId":"GetEdges","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the edges in question belong to.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/admin/edges/{systemKey}/control":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get edges for the adapter","description":"Retrieves all the edges that the adapter belongs to.","operationId":"GetAdapterEdges","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the edges in question belong to.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/admin/edges/{systemKey}/{edgeName}":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get edge","description":"Retrieves information about the specified edge.","operationId":"GetEdge","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the edge in question belongs to.","required":true,"schema":{"type":"string"}},{"name":"edgeName","in":"path","description":"Name of the edge you're getting info about.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}},"put":{"tags":["Developer"],"summary":"DEVELOPER - Update edge","description":"Updates the specified edge's information.","operationId":"UpdateEdge","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the edge you're updating belongs to.","required":true,"schema":{"type":"string"}},{"name":"edgeName","in":"path","description":"Name of the edge you're updating.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Updated edge information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/edgeUpdate"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}},"post":{"tags":["Developer"],"summary":"DEVELOPER - Create edge","description":"Creates a new edge in the specified system.","operationId":"CreateEdge","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the new edge will belong to.","required":true,"schema":{"type":"string"}},{"name":"edgeName","in":"path","description":"Name of the edge you're creating.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New edge information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/edgeNew"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}},"delete":{"tags":["Developer"],"summary":"DEVELOPER - Delete edge","description":"Deletes the specified edge from its system.","operationId":"DeleteEdge","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the edge currently belongs to.","required":true,"schema":{"type":"string"}},{"name":"edgeName","in":"path","description":"Name of the edge you're deleting.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/admin/logout":{"post":{"tags":["Developer"],"summary":"DEVELOPER - Log out dev","description":"Logs the current developer out of their session and invalidates their DevToken","operationId":"DevLogout","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Developer was successfully logged out."}}}},"/admin/pkey":{"get":{"tags":["Admin"],"summary":"ADMIN - Get platform license key.","description":"Returns current platform license key.","operationId":"GetLicenseKey","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns platform license key"},"400":{"description":"Bad Request"}}}},"/admin/platform/developer":{"get":{"tags":["Admin"],"summary":"ADMIN - Get developer","description":"Returns information about the specified developer.","operationId":"GetDev","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"developer","in":"query","description":"Email of the developer in question.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}},"post":{"tags":["Developer"],"summary":"DEVELOPER - Disable developer","description":"Disables the specified developer on the platform.","operationId":"DisableDev","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Information to identify the developer you're disabling.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/disableData"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}}},"/admin/platform/developers":{"get":{"tags":["Admin"],"summary":"ADMIN - Get developers","description":"Returns all developers in the platform.","operationId":"GetDevs","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"pagesize","in":"query","description":"Response page size.","schema":{"type":"string"}},{"name":"pagenum","in":"query","description":"Response page number.","schema":{"type":"string"}},{"name":"total","in":"query","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter response.","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/admin/platform/systems":{"get":{"tags":["Audit"],"summary":"AUDIT - Get list of systems that have been updated","description":"## Description:\nGet list of systems that have been updated. This is an Admin only endpoint.\n\n### Query:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]],\"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. \n## Admin Audit Table Schema:\nRefer to this when building the query.\n\n  | Column | Type | Possible Values| Examples|\n  |:--------|:--------|:------|:------|\n  | name   | string   |ANY_STRING|\"ClearBladeDev\"|\n  |owner|string|EMAIL_STRING |\"example@clearblade.com\"|\n  |systemKey|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|\"80sdff82c0b1fbda1f271\"|\n  |disabled|boolean|true, false|true|\n  |lastUpdated|timestamp|ISO_DATE_TIME_STRING|\"2020-01-29T20:18:18.475214Z\"|\n  |numDevs|int|ANY_POSITIVE_INTEGER|2|\n  |numServices|int|ANY_POSITIVE_INTEGER|2|\n  |numLibraries|int|ANY_POSITIVE_INTEGER|2|\n  |numDeployments|int|ANY_POSITIVE_INTEGER|2|\n  |numRoles|int|ANY_POSITIVE_INTEGER|2|\n  |numUsers|int|ANY_POSITIVE_INTEGER|2|\n  |numDevices|int|ANY_POSITIVE_INTEGER|2|\n  |numEdge|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsTotal|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsYear|int|ANY_POSITIVE_INTEGER|2|\n  |numPub|int|ANY_POSITIVE_INTEGER|2|\n  |numPubMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numPubYear|int|ANY_POSITIVE_INTEGER|2|\n  |numRecTotal|int|ANY_POSITIVE_INTEGER|2|\n  |numRecMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numRecYear|int|ANY_POSITIVE_INTEGER|2|\n  |diskUsage|int|ANY_POSITIVE_INTEGER|2|\n\n### Example:\n\n```json\n \"query\":{\"FILTERS\":[[{\"NEQ\":[{\"disabled\":true}]},{\"EQ\":[{\"numDevs\":2}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n","operationId":"GetSystemUpdates","parameters":[{"name":"Clearblade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query object used to filter the items. See query model at in the description for example.","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/systemInfo"}}}}}}},"/admin/platform/systems/{systemKey}":{"get":{"tags":["Audit"],"summary":"AUDIT - Get list of systems that have been updated","description":"## Description:\n Get list of changes that have been made to the system. This is an Admin and Dev endpoint.\n### Query:\n```json\n\"query\":{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]],\"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. \n## Admin Audit Table Schema:\n## Admin Audit Table Schema:\nRefer to this when building the query.\n\n  | Column | Type | Possible Values| Examples|\n  |:--------|:--------|:------|:------|\n  | name   | string   |ANY_STRING|\"ClearBladeDev\"|\n  |owner|string|EMAIL_STRING |\"example@clearblade.com\"|\n  |systemKey|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|\"80sdff82c0b1fbda1f271\"|\n  |disabled|boolean|true, false|true|\n  |lastUpdated|timestamp|ISO_DATE_TIME_STRING|\"2020-01-29T20:18:18.475214Z\"|\n  |numDevs|int|ANY_POSITIVE_INTEGER|2|\n  |numServices|int|ANY_POSITIVE_INTEGER|2|\n  |numLibraries|int|ANY_POSITIVE_INTEGER|2|\n  |numDeployments|int|ANY_POSITIVE_INTEGER|2|\n  |numRoles|int|ANY_POSITIVE_INTEGER|2|\n  |numUsers|int|ANY_POSITIVE_INTEGER|2|\n  |numDevices|int|ANY_POSITIVE_INTEGER|2|\n  |numEdge|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsTotal|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsYear|int|ANY_POSITIVE_INTEGER|2|\n  |numPub|int|ANY_POSITIVE_INTEGER|2|\n  |numPubMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numPubYear|int|ANY_POSITIVE_INTEGER|2|\n  |numRecTotal|int|ANY_POSITIVE_INTEGER|2|\n  |numRecMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numRecYear|int|ANY_POSITIVE_INTEGER|2|\n  |diskUsage|int|ANY_POSITIVE_INTEGER|2|\n\n### Example:\n\n```json\n \"query\":{\"FILTERS\":[[{\"NEQ\":[{\"disabled\":true}]},{\"EQ\":[{\"numDevs\":2}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n","operationId":"GetSystemUpdatesDev","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the deployment.","required":true,"schema":{"type":"string"}},{"name":"clearblade-devtoken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query object used to filter the items. See query model at in the description for example.","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/systemInfo"}}}}}}},"/admin/platform/{systemKey}":{"get":{"tags":["Admin"],"summary":"ADMIN - Get system status","description":"Retrieves the specified system's status as it relates to limits. To be used by the billing system.","operationId":"GetSystemStatus","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system you're requesting information about.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/admin/portals/{systemKey}":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Gets the information for a portal","description":"Returns information about a specified portal.","operationId":"GetPortalInfo","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through developer authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the specified system.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/portalArray"}}}}}}},"/admin/putpass":{"put":{"tags":["Developer"],"summary":"DEVELOPER - Change dev password","description":"Changes a developer's password.","operationId":"ChangeDevPassword","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Password change information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/devpass"}}},"required":true},"responses":{"200":{"description":"Developer's password was successfully changed."}}}},"/admin/reg":{"post":{"tags":["Developer"],"summary":"DEVELOPER - Register new dev","description":"Registers a new developer account with the CB platform.","operationId":"RegDev","requestBody":{"description":"First and last name, organization, email, and password for developer","content":{"*/*":{"schema":{"$ref":"#/components/schemas/devregdata"}}},"required":true},"responses":{"200":{"description":"Developer was successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/devregresp"}}}},"500":{"description":"Internal Server Error."}}}},"/admin/regensystemsecret":{"put":{"tags":["Developer"],"summary":"DEVELOPER - Regen secret","description":"Generates a new System Secret for the specified system.","operationId":"RegenSecret","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"System Key that identifies the system you're regenerating the secret for.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/regensystem"}}},"required":true},"responses":{"200":{"description":"New System Secret was successfully generated."}}}},"/admin/resetpassword":{"post":{"tags":["Admin"],"summary":"ADMIN - Change dev password (Admin)","description":"Changes a developer's password.","operationId":"ResetPassword","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New login information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/resetPassword"}}},"required":true},"responses":{"200":{"description":"Password is resetted"}}}},"/admin/settings/email-service":{"get":{"tags":["2FA"],"summary":"2FA - Get Email Settings","description":"Gets current email communication settings. This endpoint is Admin only.","operationId":"EmailSettings","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns email communcation settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/emailSettings"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"put":{"tags":["2FA"],"summary":"2FA - Update Email Settings","description":"\n## Description:\nUpdates email communication settings. This endpoint is Admin only.\n   \n## Setting options\n    \n|Settings|Types|\n|--------|-----|\n|encryption_type|STARTTLS, TLS, NONE|\n|port|25, 465, 587, 2525|\n\nSMTP is the only protocol supported\n","operationId":"UpdateEmailSettings","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The email settings to be updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/emailSettings"}}},"required":true},"responses":{"200":{"description":"Successfully updated email service settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"post":{"tags":["2FA"],"summary":"2FA - Create Email Communication","description":"## Description:\n  Creates email communication . This endpoint is Admin only.\n  \n## Settings choices\n\n|Settings|Allowed Values|\n|--------|-----|\n|encryption_type|STARTTLS, TLS, NONE|\n|protocol|SMTP|\n","operationId":"CreateEmailCommunication","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The email settings to be updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/emailSettings"}}},"required":true},"responses":{"200":{"description":"Successfully added email service settings"},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"delete":{"tags":["2FA"],"summary":"2FA - Delete email settings","description":"Deletes email communication settings. This endpoint is Admin only.","operationId":"DeleteEmailSettings","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Email settings was successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}}},"/admin/settings/email-service/test":{"post":{"tags":["2FA"],"summary":"2FA - Test Email Service","description":"Test email service . This endpoint is Admin only.","operationId":"TestEmail","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The recipient email address to send the test message","content":{"*/*":{"schema":{"$ref":"#/components/schemas/emailTest"}}},"required":true},"responses":{"200":{"description":"Successfully sends test email","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}}},"/admin/settings/security":{"get":{"tags":["2FA"],"summary":"2FA - View Security Settings","description":"View instance wide security settings. This endpoint is Admin only.","operationId":"ViewSecurity","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns 2FA security settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecuritySettings"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"put":{"tags":["2FA"],"summary":"2FA - Update Security Settings","description":"Update instance wide security settings.TTL must be between 86400 and 2592000 seconds. This endpoint is Admin only.","operationId":"UpdateSecurity","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The SMS settings to be updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SecuritySettings"}}},"required":true},"responses":{"200":{"description":"Successfully updated 2FA security settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecuritySettings"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}}},"/admin/settings/sms-service":{"get":{"tags":["2FA"],"summary":"2FA - Get SMS Settings","description":"Gets current SMS communication settings. This endpoint is Admin only.","operationId":"SMSSettings","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns SMS communcation settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SMSSettings"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"put":{"tags":["2FA"],"summary":"2FA - Update SMS Settings","description":"Updates SMS communication settings. Twilio is the only supported service. This endpoint is Admin only.","operationId":"UpdateSMSSettings","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The SMS settings to be updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SMSSettings"}}},"required":true},"responses":{"200":{"description":"Successfully updated SMS service settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"post":{"tags":["2FA"],"summary":"2FA - Create SMS Communication","description":"Creates SMS communication . Twilio is the only supported service. This endpoint is Admin only.","operationId":"CreateSMSCommunication","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The SMS settings to be updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SMSSettings"}}},"required":true},"responses":{"200":{"description":"Successfully added SMS service settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"delete":{"tags":["2FA"],"summary":"2FA - Delete SMS settings","description":"Deletes SMS communication settings. This endpoint is Admin only.","operationId":"DeleteSMSSettings","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"SMS settings was successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}}},"/admin/settings/sms-service/test":{"post":{"tags":["2FA"],"summary":"2FA - Test SMS Service","description":"Test SMS service . This endpoint is Admin only.","operationId":"TestSMS","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The recipient phone number to send the test message","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SMSTest"}}},"required":true},"responses":{"200":{"description":"Successfully sends test message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}}},"/admin/systems/{devEmail}":{"get":{"tags":["Admin"],"summary":"Get Systems for a developer","description":"Get the list of systems the developer has access to","operationId":"GetSystemsForDev","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"devEmail","in":"path","description":"Email of the Developer. Should be in the format `name@orgname.com`","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of systems the developer has access to.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/systemInfo"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}}},"/admin/triggers/definitions":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get trigger definitions","description":"Returns list of trigger definitions. These are the possible actions that can set off a trigger.","operationId":"GetTriggers","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of trigger definitions."}}}},"/admin/triggers/handlers/{systemKey}":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get trigger handlers","description":"Returns list of trigger handlers.","operationId":"GetTriggerHandlers","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handlers are in.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of trigger handlers"}}}},"/admin/triggers/handlers/{systemKey}/{name}":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get trigger handler","description":"Returns the specified trigger handler information.","operationId":"GetTriggerHandler","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handler is in.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the trigger handler you want.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}},"put":{"tags":["Developer"],"summary":"DEVELOPER - Update trigger handler","description":"Updates the specified trigger handler.","operationId":"UpdateTriggerHandler","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handler is in.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the trigger handler you're updating.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Updated trigger handler information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/triggerdata"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}},"post":{"tags":["Developer"],"summary":"DEVELOPER - Create trigger handler","description":"Creates a new trigger handler.","operationId":"CreateTrigger","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handler is in.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the trigger handler you're creating.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New trigger information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/triggerdata"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}},"delete":{"tags":["Developer"],"summary":"DEVELOPER - Delete trigger handler","description":"Deletes the specified trigger handler.","operationId":"DeleteTriggerHandler","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handler is in.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the trigger handler you're deleting.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/admin/triggers/timers/{systemKey}":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get timer handlers","description":"Returns a list of timer handlers.","operationId":"GetTimerHandlers","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handler is in.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/admin/triggers/timers/{systemKey}/{name}":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get timer handler","description":"Returns the specified timer handler information.","operationId":"GetTimerHandler","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handler is in.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the timer handler you want.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}},"put":{"tags":["Developer"],"summary":"DEVELOPER - Update timer handler","description":"Updates the specified timer handler.","operationId":"UpdateTimerHandler","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handler is in.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the timer handler you're updating.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Updated timer handler information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/timerdata"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}},"post":{"tags":["Developer"],"summary":"DEVELOPER - Create time handler","description":"Creates new timer handler.","operationId":"create_timer_handler","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handler is in.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the timer handler you're creating.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New timer information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/timerdata"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}},"delete":{"tags":["Developer"],"summary":"DEVELOPER - Delete trigger handler","description":"Deletes the specified trigger handler.","operationId":"DeleteTimerHandler","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handler is in.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the timer you're deleting.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/admin/user/{systemKey}":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get list of users and information","description":"Returns list of all of the users in the system","operationId":"GetUserList","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system the user is a part of.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Tags to filter users. Check 'users' model at the bottom of this page.","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns list of all users, user information, and count"},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["Developer"],"summary":"DEVELOPER - Change user information and permissions","description":"Changes any colomn in users table and update password or permissions of the specified user.","operationId":"UserChangeUserInfo","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system the user is a part of.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Roles to change for the user.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/roles"}}},"required":true},"responses":{"200":{"description":"User's roles successfully changed."},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Developer"],"summary":"DEVELOPER - Add user","description":"Add an user to the system.","operationId":"AddUser","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system the user is a part of.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Developer's email.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/userlogin"}}},"required":true},"responses":{"200":{"description":"User is added to the system."},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Developer"],"summary":"DEVELOPER - Delete user","description":"Deletes user from the system","operationId":"DeleteUser","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handler is in.","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"UserId of the user to delete","schema":{"type":"string"}}],"responses":{"200":{"description":"User is deleted."},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}}},"/admin/user/{systemKey}/columns":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get users column info.","description":"Returns data in the user list column","operationId":"GetUserColumnData","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system the user is a part of.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns list of all users"},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Developer"],"summary":"DEVELOPER - Add new column","description":"Adds a new column to the user collection","operationId":"AddColumn","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system the user is a part of.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Column information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/addUserColumn"}}},"required":true},"responses":{"200":{"description":"Column is added to the collection."},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}}},"/admin/user/{systemKey}/roles":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get list of roles","description":"## Description:\n  Get as a list of roles that are available to add to an user \n### Query:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"EQ\":[{\"name\":\"value\"}]}]]}\n```\n\n### Example:\n  0 and 0 for pagesize and pagenum returns all the information in one response.\n```json\n{\"PAGESIZE\":0,\"PAGENUM\":0,\"FILTERS\":[[{\"EQ\":[{\"name\":\"Authenticated\"}]}]]}\n```\n","operationId":"GetRoles","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system the user is a part of.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Refer to the example query above.","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns role(s), role information, and permissions for the user"},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}},"put":{"tags":["Developer"],"summary":"DEVELOPER - Changes roles settings","description":"Changes settings in individual roles","operationId":"SettingsChanges","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system the user is a part of.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Information about changes","content":{"*/*":{"schema":{"$ref":"#/components/schemas/changeRoleSettings"}}},"required":true},"responses":{"200":{"description":"Column is added to the collection."},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Developer"],"summary":"DEVELOPER - Add new role","description":"Adds a new role to the system.","operationId":"AddRole","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system the user is a part of.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Role information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/rolesinfo"}}},"required":false},"responses":{"200":{"description":"Role gets added."},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Developer"],"summary":"DEVELOPER - Delete roles","description":"Deletes roles from the system","operationId":"DeleteRoles","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the handler is in.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Role identification key.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}}},"/admin/user/{systemKey}/roles/count":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get number of roles","description":"Get number of roles in a system","operationId":"GetRolesCount","parameters":[{"name":"systemKey","in":"path","description":"System Key that identifies the system the user is a part of.","required":true,"schema":{"type":"string"}},{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"Identifies page size and page number for roles list.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns list of all users"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}}}},"/admin/userinfo":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get dev info","description":"Returns all user information about the current developer. This is a developer only endpoint.","operationId":"GetDevInfo","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Current developer information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/userinfo"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"put":{"tags":["2FA"],"summary":"2FA - Update developer 2FA information.","description":"## Description:\n  Update the developer 2FA information. This is a developer only endpoint.\n  Note - the email is taken from the developer's account.\n## two_factor_method\n  * email\n  * sms\n  * email_sms (enables both method)\n","operationId":"UpdateDev2FA","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Updates to make for the two-factor auth settings for the developer.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/2FAinfo"}}},"required":true},"responses":{"200":{"description":"2FA methods successfully changed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}}},"/admin/v/4/service_caches/{systemKey}":{"get":{"tags":["Shared Cache"],"summary":"SHARED CACHE - Gets shared caches for a system","operationId":"GetSharedCache","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Dev Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the deployment.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Retrieves a list of shared caches.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CacheArrayResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized. User cannot access resource."}}}},"/admin/v/4/service_caches/{systemKey}/{cacheName}":{"put":{"tags":["Shared Cache"],"summary":"SHARED CACHE - Update a shared cache","description":"Updates a shared cache properties, like ttl & description.","operationId":"UpdateSharedCache","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Dev Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the shared cache.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of the shared cache to update","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Updated cache information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/updateCache"}}},"required":true},"responses":{"200":{"description":"Shared Cache successfully updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized. User cannot access resource."},"500":{"description":"Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"post":{"tags":["Shared Cache"],"summary":"SHARED CACHE - Add a shared cache","description":"Adds a shared cache to the system","operationId":"addSharedCache","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Dev Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the shared cache.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of the shared cache to add","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Information to create a shared cache.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/addCache"}}},"required":true},"responses":{"200":{"description":"Creates new shared cache.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized. User cannot access resource."},"500":{"description":"Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"delete":{"tags":["Shared Cache"],"summary":"SHARED CACHE - Delete a shared cache","description":"Deletes a shared cache","operationId":"DeleteSharedCache","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Dev Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the deployment.","required":true,"schema":{"type":"string"}},{"name":"cacheName","in":"path","description":"Name of the shared cache to delete","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully Deleted Cache","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized. User cannot access resource."}}}},"/admin/v/4/session/{systemKey}/device":{"get":{"tags":["Session"],"summary":"SESSION  - Get device session info","description":"## Description:\nReturns list of device sessions with Device Key and Timestamps . \n### Query Structure:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]], \"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.\n  \n### Filter Options\n\n* device_key - string\n* issued - int (Unix timestamp)\n  \n### Example:\n\n```json\n{\"FILTERS\":[[{\"NEQ\":[{\"device_key\":\"e2c794e60bee9ced68fc101 :: DEVICENAME0001}]},{\"EQ\":[{\"issued\":1587659839}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n","operationId":"GetDeviceSession","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query object used to filter the items. See query model at in the description for example.","schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns list of device sessions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/deviceSession"}}}}}},"delete":{"tags":["Session"],"summary":"SESSION  - Delete device session","description":"## Description:\nDelete device session. \n### Query Structure:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]], \"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.\n  \n  ### Filter Options\n\n* device_key - string\n* issued - int (Unix timestamp)\n\n  \n### Example:\n\n```json\n{\"FILTERS\":[[{\"NEQ\":[{\"device_key\":\"e2c794e60bee9ced68fc101 :: DEVICENAME0001\"}]},{\"EQ\":[{\"issued\":1587659839}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n","operationId":"DeleteDeviceSession","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query object used to filter the items. See query model at in the description for example.","schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deletes device session"},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized."}}}},"/admin/v/4/session/{systemKey}/device/count":{"get":{"tags":["Session"],"summary":"SESSION  - Get device session count","description":"## Description:\nReturns number of device sessions. \n### Query Structure:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]], \"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.\n  \n### Filter Options\n\n* device_key - string\n* issued - int\n  \n### Example:\n\n```json\n{\"FILTERS\":[[{\"NEQ\":[{\"device_key\":\"e2c794e60bee9ced68fc101 :: DEVICENAME0001\"}]},{\"EQ\":[{\"issued\":1587659839}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n","operationId":"GetDeviceSessionCount","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query object used to filter the items. See query model at in the description for example.","schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns number of device sessions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/count"}}}}}}},"/admin/v/4/session/{systemKey}/user":{"get":{"tags":["Session"],"summary":"SESSION  - Get user session info","description":"## Description:\nReturns list of user sessions with User ID and Timestamps . \n### Query Structure:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]], \"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.\n  \n### Filter Options\n\n* user_id - string\n* issued - int (Unix timestamp)\n  \n### Example:\n\n```json\n{\"FILTERS\":[[{\"NEQ\":[{\"user_id\":\"9cd8ece70bea9e5a6de9cee05\"}]},{\"EQ\":[{\"issued\":1587659839}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n","operationId":"GetUserSession","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query object used to filter the items. See query model at in the description for example.","schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns list of user sessions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/userSession"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized. User cannot access resource."}}},"delete":{"tags":["Session"],"summary":"SESSION  - Delete user session","description":"## Description:\nDelete user session. \n### Query Structure:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]], \"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.\n### Filter Options\n\n* user_id - string\n* issued - int (Unix timestamp)\n  \n### Example:\n\n```json\n{\"FILTERS\":[[{\"NEQ\":[{\"user_id\":\"9cd8ece70bea9e5a6de9cee05\"}]},{\"EQ\":[{\"issued\":1587659839}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n","operationId":"DeleteUserSession","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query object used to filter the items. See query model at in the description for example.","schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deletes user session"},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized."}}}},"/admin/v/4/session/{systemKey}/user/count":{"get":{"tags":["Session"],"summary":"SESSION  - Get user session count","description":"## Description:\nReturns number of user sessions. \n### Query Structure:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]], \"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.\n  \n### Filter Options\n\n* user_id - string\n* issued - int (Unix timestamp)\n  \n### Example:\n\n```json\n{\"FILTERS\":[[{\"NEQ\":[{\"user_id\":\"9cd8ece70bea9e5a6de9cee05\"}]},{\"EQ\":[{\"issued\":1587659839}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n","operationId":"GetUserSessionCount","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query object used to filter the items. See query model at in the description for example.","schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns number of user sessions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/count"}}}}}}},"/admin/v/4/systemmanagement":{"get":{"tags":["Developer"],"summary":"DEVELOPER - Get system info","description":"Returns metadata about specified system.","operationId":"GetSystemInfo","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","description":"System Key that identifies the system you want the info about.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Specified system metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/systemSettings"}}}},"400":{"description":"Bad Request."}}},"put":{"tags":["Developer"],"summary":"DEVELOPER - Update system info","description":"Updates a system's metadata.","operationId":"UpdateSystem","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Updated system information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/systemSettings"}}},"required":true},"responses":{"200":{"description":"System information successfully updated."}}},"post":{"tags":["Developer"],"summary":"DEVELOPER - Create system","description":"Creates a new system tied to the developer's account.","operationId":"CreateSystem","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through developer authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New system information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/newsystem"}}},"required":true},"responses":{"200":{"description":"System was successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/systemSettings"}}}},"400":{"description":"Bad Request."}}},"delete":{"tags":["Developer"],"summary":"DEVELOPER - Delete system","description":"Deletes the specified system.","operationId":"DeleteSystem","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","description":"System Key that identifies the system you want to delete.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"System was successfully deleted."}}}},"/admin/v/4/webhook/{systemKey}":{"get":{"tags":["Webhooks"],"summary":"WEBHOOKS - Returns webhooks in the system","description":"Returns all webhooks in the system.","operationId":"GetWebhooks","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Dev Token obtained through authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the messages belong to.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of webhooks is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/webhookResp"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized."}}}},"/admin/v/4/webhook/{systemKey}/{name}":{"put":{"tags":["Webhooks"],"summary":"WEBHOOKS - Update a webhook","description":"Updates an existing webhook in the specified system.\n### List of Auth Methods\n  These will be used in `auth_method` in the body.\n  * `clearblade_auth`\n  * `http_basic_auth`\n  * `payload_auth`\n  * `no_auth`\n","operationId":"UpdateWebhook","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Dev Token obtained through authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the messages belong to.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name that identifies the webhook","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Updated collection information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/webhookUpdate"}}},"required":false},"responses":{"200":{"description":"Collection was successfully updated."},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"500":{"description":"Internal Server Error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"post":{"tags":["Webhooks"],"summary":"WEBHOOKS - Creates a webhook","description":"Creates a webhook in the system\n### List of Auth Methods\n  These will be used in `auth_method` in the body.\n  * `clearblade_auth`\n  * `http_basic_auth`\n  * `payload_auth`\n  * `no_auth`\n","operationId":"CreateWebhook","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Dev Token obtained through authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the messages belong to.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name that identifies the webhook","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties to create webhooks.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/webhookCreate"}}},"required":true},"responses":{"200":{"description":"Creates the webhook","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"500":{"description":"Internal Server Error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"delete":{"tags":["Webhooks"],"summary":"WEBHOOKS - Delete a webhook","description":"Deletes an existing webhook in the specified system.","operationId":"DeleteWebhook","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Dev Token obtained through authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system the messages belong to.","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name that identifies the webhook","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Webhook was successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}}}}},"/admin/validate":{"post":{"tags":["2FA"],"summary":"2FA - Send validation link","description":"## Description:\n  Sends a validation link to either the developer's email or phone. This endpoint is for Dev only.\n## Validation Method Types:\n* email\n* phone\n","operationId":"SendValidation","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Developer Token obtained through admin authentication.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The method type to validate","content":{"*/*":{"schema":{"$ref":"#/components/schemas/validation"}}},"required":true},"responses":{"200":{"description":"Validation successfully sent.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResp"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}}},"/admin/{systemKey}/sync/alledges/status":{"get":{"tags":["Edge"],"summary":"EDGE - Gets sync status for all edges","description":"Returns sync status for all edges in a system","operationId":"AllEdgeSyncStatus","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Token obtained through dev authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the edges.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns list of edges and the assets and their sync status related to them"},"400":{"description":"Bad request"}}}},"/admin/{systemKey}/sync/deployment/status/{deploymentName}":{"get":{"tags":["Deployments"],"summary":"DEPLOYMENTS - Gets sync status for a deployment","operationId":"GetSyncStatus","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Dev Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the deployment.","required":true,"schema":{"type":"string"}},{"name":"deploymentName","in":"path","description":"Name of the deployment to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Retrieves sync status of marked synced items successfully"},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized."},"500":{"description":"Server error."}}}},"/admin/{systemKey}/sync/edge/status/{edgeName}":{"get":{"tags":["Edge"],"summary":"EDGE - Gets sync status for an edge","description":"Returns sync status for an edge","operationId":"EdgeSyncStatus","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Token obtained through dev authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the edges.","required":true,"schema":{"type":"string"}},{"name":"edgeName","in":"path","description":"Name of the edge","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns list of assets and their sync status related to the edge"},"400":{"description":"Bad request"}}}},"/admin/{systemKey}/sync/retry":{"post":{"tags":["Deployments"],"summary":"DEPLOYMENTS - Retries sync for an asset","description":"Retries sync for an asset in an deployment","operationId":"RetrySync","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Dev Token obtained through dev authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the deployment.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Information regarding sync","content":{"*/*":{"schema":{"$ref":"#/components/schemas/retrySync"}}},"required":true},"responses":{"200":{"description":"Retries sync successfully"},"500":{"description":"Server error."}}}},"/api/about":{"get":{"summary":"DEVELOPER - Gets the information for the platform","description":"Returns information about the platform version.","operationId":"APIInfo","responses":{"200":{"description":"Returns platform version information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/platformInfo"}}}}}}},"/api/v/1/code/{systemKey}/{serviceName}":{"get":{"tags":["Code"],"summary":"CODE - Retrieve information about service","description":"Returns setting information and data for a code service","operationId":"GetService","parameters":[{"name":"ClearBlade-DevToken","in":"header","description":"Dev Token obtained through authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System key that identifies the system the device is a part of.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"Code Service's name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns setting information and data for a code service"},"500":{"description":"Server error."}}},"post":{"tags":["Code"],"summary":"CODE - Call/Execute code service","description":"Executes a code service.","operationId":"ExecuteService","parameters":[{"name":"ClearBlade-UserToken","in":"header","description":"Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the code service.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"Code Service's name","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for code service.","content":{"*/*":{"schema":{"type":"object"}}},"required":false},"responses":{"200":{"description":"Code service successfully executed."},"500":{"description":"Server error."}}}},"/api/v/1/collection/{systemKey}/{collectionName}":{"get":{"tags":["Data"],"summary":"DATA(name) - Get items","description":"Returns the data from the specified collection.","operationId":"GetCollectionData","parameters":[{"name":"ClearBlade-UserToken","in":"header","description":"Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the collection.","required":true,"schema":{"type":"string"}},{"name":"collectionName","in":"path","description":"Name of the collection.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query object used to filter the items. See query model below for example.","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of the data rows from the specified collection that match the query.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/collectionSuccess"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"put":{"tags":["Data"],"summary":"DATA(name) - Update items","description":"Updates preexisting data rows in the specified collection.","operationId":"UpdateCollectionData","parameters":[{"name":"ClearBlade-UserToken","in":"header","description":"Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the collection.","required":true,"schema":{"type":"string"}},{"name":"collectionName","in":"path","description":"Name of the collection.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Query to limit scope of update, and new data values.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataPut"}}},"required":true},"responses":{"200":{"description":"Items successfully updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/count"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"post":{"tags":["Data"],"summary":"DATA(name) - Create items","description":"Creates new data rows in the specified collection.","operationId":"CreateCollectionData","parameters":[{"name":"ClearBlade-UserToken","in":"header","description":"Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the collection.","required":true,"schema":{"type":"string"}},{"name":"collectionName","in":"path","description":"Name of the collection.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New data row(s). Can accept multiple comma-separated key-value pairs to populate columns. Can also accept a blank object to create an unpopulated row.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ColumnField"}}},"required":false},"responses":{"200":{"description":"Items successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ColumnField"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}},"delete":{"tags":["Data"],"summary":"DATA(name) - Delete items","description":"Deletes data rows in the specified collection.","operationId":"DeleteCollectionData","parameters":[{"name":"ClearBlade-UserToken","in":"header","description":"Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"systemKey","in":"path","description":"System Key that identifies the system that holds the collection.","required":true,"schema":{"type":"string"}},{"name":"collectionName","in":"path","description":"Name of the collection.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Query to limit scope of deletion.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Rows successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/count"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResp"}}}}}}},"/api/v/1/data/{collectionID}":{"get":{"tags":["Data"],"summary":"DATA(id) - Get items","description":"Returns the data from the specified collection.","operationId":"GetCollectionDataAlt","parameters":[{"name":"ClearBlade-UserToken","in":"header","description":"Token obtained through user authentication.","required":true,"schema":{"type":"string"}},{"name":"collectionID","in":"path","description":"ID of the collection.","required":true,"schema":{"type":"string"}},{"name":"query","in":"query","description":
[...]
