{"openapi":"3.0.1","info":{"title":"ServiceFabricManagementClient","description":"Azure Service Fabric Resource Provider API Client","version":"2019-03-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.ServiceFabric/operations":{"get":{"tags":["Operations"],"summary":"Lists all of the available Service Fabric resource provider API operations.","description":"Get the list of available Service Fabric resource provider API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusters":{"get":{"tags":["Cluster"],"summary":"Gets the list of Service Fabric cluster resources created in the specified subscription.","description":"Gets all Service Fabric cluster resources created or in the process of being created in the subscription.","operationId":"Clusters_List","parameters":[{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.","required":true,"schema":{"type":"string","default":"2019-03-01-preview","enum":["2019-03-01-preview"]}},{"name":"subscriptionId","in":"path","description":"The customer subscription identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterListResult"}}}},"default":{"description":"The detailed error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions":{"get":{"tags":["ClusterVersion"],"summary":"Gets the list of Service Fabric cluster code versions available for the specified location.","description":"Gets all available code versions for Service Fabric cluster resources by location.","operationId":"ClusterVersions_List","parameters":[{"name":"location","in":"path","description":"The location for the cluster code versions. This is different from cluster location.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.","required":true,"schema":{"type":"string","default":"2019-03-01-preview","enum":["2019-03-01-preview"]}},{"name":"subscriptionId","in":"path","description":"The customer subscription identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterCodeVersionsListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions/{clusterVersion}":{"get":{"tags":["ClusterVersion"],"summary":"Gets information about a Service Fabric cluster code version available in the specified location.","description":"Gets information about an available Service Fabric cluster code version.","operationId":"ClusterVersions_Get","parameters":[{"name":"location","in":"path","description":"The location for the cluster code versions. This is different from cluster location.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.","required":true,"schema":{"type":"string","default":"2019-03-01-preview","enum":["2019-03-01-preview"]}},{"name":"subscriptionId","in":"path","description":"The customer subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"clusterVersion","in":"path","description":"The cluster code version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterCodeVersionsListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions":{"get":{"tags":["ClusterVersion"],"summary":"Gets the list of Service Fabric cluster code versions available for the specified environment.","description":"Gets all available code versions for Service Fabric cluster resources by environment.","operationId":"ClusterVersions_ListByEnvironment","parameters":[{"name":"location","in":"path","description":"The location for the cluster code versions. This is different from cluster location.","required":true,"schema":{"type":"string"}},{"name":"environment","in":"path","description":"The operating system of the cluster. The default means all.","required":true,"schema":{"type":"string","enum":["Windows","Linux"]}},{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.","required":true,"schema":{"type":"string","default":"2019-03-01-preview","enum":["2019-03-01-preview"]}},{"name":"subscriptionId","in":"path","description":"The customer subscription identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterCodeVersionsListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions/{clusterVersion}":{"get":{"tags":["ClusterVersion"],"summary":"Gets information about a Service Fabric cluster code version available for the specified environment.","description":"Gets information about an available Service Fabric cluster code version by environment.","operationId":"ClusterVersions_GetByEnvironment","parameters":[{"name":"location","in":"path","description":"The location for the cluster code versions. This is different from cluster location.","required":true,"schema":{"type":"string"}},{"name":"environment","in":"path","description":"The operating system of the cluster. The default means all.","required":true,"schema":{"type":"string","enum":["Windows","Linux"]}},{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.","required":true,"schema":{"type":"string","default":"2019-03-01-preview","enum":["2019-03-01-preview"]}},{"name":"subscriptionId","in":"path","description":"The customer subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"clusterVersion","in":"path","description":"The cluster code version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterCodeVersionsListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}":{"get":{"tags":["Cluster"],"summary":"Gets a Service Fabric cluster resource.","description":"Get a Service Fabric cluster resource created or in the process of being created in the specified resource group.","operationId":"Clusters_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.","required":true,"schema":{"type":"string","default":"2019-03-01-preview","enum":["2019-03-01-preview"]}},{"name":"subscriptionId","in":"path","description":"The customer subscription identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"default":{"description":"The detailed error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}}},"put":{"tags":["Cluster"],"summary":"Creates or updates a Service Fabric cluster resource.","description":"Create or update a Service Fabric cluster resource with the specified name.","operationId":"Clusters_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.","required":true,"schema":{"type":"string","default":"2019-03-01-preview","enum":["2019-03-01-preview"]}},{"name":"subscriptionId","in":"path","description":"The customer subscription identifier.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The cluster resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}},"required":true},"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"202":{"description":"The request was accepted and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"default":{"description":"The detailed error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}}},"delete":{"tags":["Cluster"],"summary":"Deletes a Service Fabric cluster resource.","description":"Delete a Service Fabric cluster resource with the specified name.","operationId":"Clusters_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.","required":true,"schema":{"type":"string","default":"2019-03-01-preview","enum":["2019-03-01-preview"]}},{"name":"subscriptionId","in":"path","description":"The customer subscription identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully."},"204":{"description":"The resource was not found."},"default":{"description":"The detailed error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}}},"patch":{"tags":["Cluster"],"summary":"Updates the configuration of a Service Fabric cluster resource.","description":"Update the configuration of a Service Fabric cluster resource with the specified name.","operationId":"Clusters_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.","required":true,"schema":{"type":"string","default":"2019-03-01-preview","enum":["2019-03-01-preview"]}},{"name":"subscriptionId","in":"path","description":"The customer subscription identifier.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters which contains the property value and property name which used to update the cluster configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"202":{"description":"The request was accepted and the operation will complete asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"default":{"description":"The detailed error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters":{"get":{"tags":["Cluster"],"summary":"Gets the list of Service Fabric cluster resources created in the specified resource group.","description":"Gets all Service Fabric cluster resources created or in the process of being created in the resource group.","operationId":"Clusters_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.","required":true,"schema":{"type":"string","default":"2019-03-01-preview","enum":["2019-03-01-preview"]}},{"name":"subscriptionId","in":"path","description":"The customer subscription identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterListResult"}}}},"default":{"description":"The detailed error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}}}}}}},"components":{"schemas":{"AddOnFeatures":{"type":"string","description":"Available cluster add-on features","enum":["RepairManager","DnsService","BackupRestoreService","ResourceMonitorService"]},"ApplicationDeltaHealthPolicy":{"type":"object","properties":{"defaultServiceTypeDeltaHealthPolicy":{"$ref":"#/components/schemas/ServiceTypeDeltaHealthPolicy"},"serviceTypeDeltaHealthPolicies":{"$ref":"#/components/schemas/ServiceTypeDeltaHealthPolicyMap"}},"description":"Defines a delta health policy used to evaluate the health of an application or one of its child entities when upgrading the cluster.\n"},"ApplicationDeltaHealthPolicyMap":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ApplicationDeltaHealthPolicy"},"description":"Defines a map that contains specific application delta health policies for different applications.\nEach entry specifies as key the application name and as value an ApplicationDeltaHealthPolicy used to evaluate the application health when upgrading the cluster.\nThe application name should include the 'fabric:' URI scheme.\nThe map is empty by default.\n"},"ApplicationHealthPolicy":{"type":"object","properties":{"defaultServiceTypeHealthPolicy":{"$ref":"#/components/schemas/ServiceTypeHealthPolicy"},"serviceTypeHealthPolicies":{"$ref":"#/components/schemas/ServiceTypeHealthPolicyMap"}},"description":"Defines a health policy used to evaluate the health of an application or one of its children entities.\n"},"ApplicationHealthPolicyMap":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ApplicationHealthPolicy"},"description":"Defines a map that contains specific application health policies for different applications.\nEach entry specifies as key the application name and as value an ApplicationHealthPolicy used to evaluate the application health.\nThe application name should include the 'fabric:' URI scheme.\nThe map is empty by default.\n"},"AvailableOperationDisplay":{"type":"object","properties":{"description":{"type":"string","description":"Operation description"},"operation":{"type":"string","description":"The operation that can be performed."},"provider":{"type":"string","description":"The name of the provider."},"resource":{"type":"string","description":"The resource on which the operation is performed"}},"description":"Operation supported by the Service Fabric resource provider"},"AzureActiveDirectory":{"type":"object","properties":{"clientApplication":{"type":"string","description":"Azure active directory client application id."},"clusterApplication":{"type":"string","description":"Azure active directory cluster application id."},"tenantId":{"type":"string","description":"Azure active directory tenant id."}},"description":"The settings to enable AAD authentication on the cluster."},"CertificateDescription":{"required":["thumbprint"],"type":"object","properties":{"thumbprint":{"type":"string","description":"Thumbprint of the primary certificate."},"thumbprintSecondary":{"type":"string","description":"Thumbprint of the secondary certificate."},"x509StoreName":{"$ref":"#/components/schemas/StoreName"}},"description":"Describes the certificate details."},"ClientCertificateCommonName":{"required":["certificateCommonName","certificateIssuerThumbprint","isAdmin"],"type":"object","properties":{"certificateCommonName":{"type":"string","description":"The common name of the client certificate."},"certificateIssuerThumbprint":{"type":"string","description":"The issuer thumbprint of the client certificate."},"isAdmin":{"type":"boolean","description":"Indicates if the client certificate has admin access to the cluster. Non admin clients can perform only read only operations on the cluster."}},"description":"Describes the client certificate details using common name."},"ClientCertificateThumbprint":{"required":["certificateThumbprint","isAdmin"],"type":"object","properties":{"certificateThumbprint":{"type":"string","description":"The thumbprint of the client certificate."},"isAdmin":{"type":"boolean","description":"Indicates if the client certificate has admin access to the cluster. Non admin clients can perform only read only operations on the cluster."}},"description":"Describes the client certificate details using thumbprint."},"Cluster":{"description":"The cluster resource\n","allOf":[{"type":"object","description":"The cluster resource properties"},{"$ref":"#/components/schemas/Resource"},{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ClusterProperties"}}}]},"ClusterCodeVersionsListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","items":{"$ref":"#/components/schemas/ClusterCodeVersionsResult"}}},"description":"The list results of the Service Fabric runtime versions."},"ClusterCodeVersionsResult":{"type":"object","properties":{"id":{"type":"string","description":"The identification of the result"},"name":{"type":"string","description":"The name of the result"},"properties":{"$ref":"#/components/schemas/ClusterVersionDetails"},"type":{"type":"string","description":"The result resource type"}},"description":"The result of the Service Fabric runtime versions"},"ClusterEnvironment":{"type":"string","description":"Cluster operating system, the default will be Windows","enum":["Windows","Linux"]},"ClusterHealthPolicy":{"type":"object","properties":{"applicationHealthPolicies":{"$ref":"#/components/schemas/ApplicationHealthPolicyMap"},"maxPercentUnhealthyApplications":{"maximum":100,"minimum":0,"type":"integer","description":"The maximum allowed percentage of unhealthy applications before reporting an error. For example, to allow 10% of applications to be unhealthy, this value would be 10.\n\nThe percentage represents the maximum tolerated percentage of applications that can be unhealthy before the cluster is considered in error.\nIf the percentage is respected but there is at least one unhealthy application, the health is evaluated as Warning.\nThis is calculated by dividing the number of unhealthy applications over the total number of application instances in the cluster, excluding applications of application types that are included in the ApplicationTypeHealthPolicyMap.\nThe computation rounds up to tolerate one failure on small numbers of applications. Default percentage is zero.\n"},"maxPercentUnhealthyNodes":{"maximum":100,"minimum":0,"type":"integer","description":"The maximum allowed percentage of unhealthy nodes before reporting an error. For example, to allow 10% of nodes to be unhealthy, this value would be 10.\n\nThe percentage represents the maximum tolerated percentage of nodes that can be unhealthy before the cluster is considered in error.\nIf the percentage is respected but there is at least one unhealthy node, the health is evaluated as Warning.\nThe percentage is calculated by dividing the number of unhealthy nodes over the total number of nodes in the cluster.\nThe computation rounds up to tolerate one failure on small numbers of nodes. Default percentage is zero.\n\nIn large clusters, some nodes will always be down or out for repairs, so this percentage should be configured to tolerate that.\n"}},"description":"Defines a health policy used to evaluate the health of the cluster or of a cluster node.\n"},"ClusterListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","items":{"$ref":"#/components/schemas/Cluster"}}},"description":"Cluster list results"},"ClusterProperties":{"required":["managementEndpoint","nodeTypes"],"type":"object","properties":{"addOnFeatures":{"type":"array","description":"The list of add-on features to enable in the cluster.","items":{"$ref":"#/components/schemas/AddOnFeatures"}},"availableClusterVersions":{"type":"array","description":"The Service Fabric runtime versions available for this cluster.","readOnly":true,"items":{"$ref":"#/components/schemas/ClusterVersionDetails"}},"azureActiveDirectory":{"$ref":"#/components/schemas/AzureActiveDirectory"},"certificate":{"$ref":"#/components/schemas/CertificateDescription"},"certificateCommonNames":{"$ref":"#/components/schemas/ServerCertificateCommonNames"},"clientCertificateCommonNames":{"type":"array","description":"The list of client certificates referenced by common name that are allowed to manage the cluster.","items":{"$ref":"#/components/schemas/ClientCertificateCommonName"}},"clientCertificateThumbprints":{"type":"array","description":"The list of client certificates referenced by thumbprint that are allowed to manage the cluster.","items":{"$ref":"#/components/schemas/ClientCertificateThumbprint"}},"clusterCodeVersion":{"type":"string","description":"The Service Fabric runtime version of the cluster. This property can only by set the user when **upgradeMode** is set to 'Manual'. To get list of available Service Fabric versions for new clusters use [ClusterVersion API](./ClusterVersion.md). To get the list of available version for existing clusters use **availableClusterVersions**."},"clusterEndpoint":{"type":"string","description":"The Azure Resource Provider endpoint. A system service in the cluster connects to this  endpoint.","readOnly":true},"clusterId":{"type":"string","description":"A service generated unique identifier for the cluster resource.","readOnly":true},"clusterState":{"$ref":"#/components/schemas/ClusterState"},"diagnosticsStorageAccountConfig":{"$ref":"#/components/schemas/DiagnosticsStorageAccountConfig"},"eventStoreServiceEnabled":{"type":"boolean","description":"Indicates if the event store service is enabled."},"fabricSettings":{"type":"array","description":"The list of custom fabric settings to configure the cluster.","items":{"$ref":"#/components/schemas/SettingsSectionDescription"}},"managementEndpoint":{"type":"string","description":"The http management endpoint of the cluster."},"nodeTypes":{"type":"array","description":"The list of node types in the cluster.","items":{"$ref":"#/components/schemas/NodeTypeDescription"}},"provisioningState":{"type":"string","description":"The provisioning state of the cluster resource.","readOnly":true,"enum":["Updating","Succeeded","Failed","Canceled"]},"reliabilityLevel":{"$ref":"#/components/schemas/ReliabilityLevel"},"reverseProxyCertificate":{"$ref":"#/components/schemas/CertificateDescription"},"reverseProxyCertificateCommonNames":{"$ref":"#/components/schemas/ServerCertificateCommonNames"},"upgradeDescription":{"$ref":"#/components/schemas/ClusterUpgradePolicy"},"upgradeMode":{"$ref":"#/components/schemas/UpgradeMode"},"vmImage":{"type":"string","description":"The VM image VMSS has been configured with. Generic names such as Windows or Linux can be used."}},"description":"Describes the cluster resource properties."},"ClusterPropertiesUpdateParameters":{"type":"object","properties":{"addOnFeatures":{"type":"array","description":"The list of add-on features to enable in the cluster.","items":{"$ref":"#/components/schemas/AddOnFeatures"}},"certificate":{"$ref":"#/components/schemas/CertificateDescription"},"certificateCommonNames":{"$ref":"#/components/schemas/ServerCertificateCommonNames"},"clientCertificateCommonNames":{"type":"array","description":"The list of client certificates referenced by common name that are allowed to manage the cluster. This will overwrite the existing list.","items":{"$ref":"#/components/schemas/ClientCertificateCommonName"}},"clientCertificateThumbprints":{"type":"array","description":"The list of client certificates referenced by thumbprint that are allowed to manage the cluster. This will overwrite the existing list.","items":{"$ref":"#/components/schemas/ClientCertificateThumbprint"}},"clusterCodeVersion":{"type":"string","description":"The Service Fabric runtime version of the cluster. This property can only by set the user when **upgradeMode** is set to 'Manual'. To get list of available Service Fabric versions for new clusters use [ClusterVersion API](./ClusterVersion.md). To get the list of available version for existing clusters use **availableClusterVersions**."},"eventStoreServiceEnabled":{"type":"boolean","description":"Indicates if the event store service is enabled."},"fabricSettings":{"type":"array","description":"The list of custom fabric settings to configure the cluster. This will overwrite the existing list.","items":{"$ref":"#/components/schemas/SettingsSectionDescription"}},"nodeTypes":{"type":"array","description":"The list of node types in the cluster. This will overwrite the existing list.","items":{"$ref":"#/components/schemas/NodeTypeDescription"}},"reliabilityLevel":{"$ref":"#/components/schemas/ReliabilityLevel"},"reverseProxyCertificate":{"$ref":"#/components/schemas/CertificateDescription"},"upgradeDescription":{"$ref":"#/components/schemas/ClusterUpgradePolicy"},"upgradeMode":{"$ref":"#/components/schemas/UpgradeMode"}},"description":"Describes the cluster resource properties that can be updated during PATCH operation."},"ClusterState":{"type":"string","description":"The current state of the cluster.\n\n  - WaitingForNodes - Indicates that the cluster resource is created and the resource provider is waiting for Service Fabric VM extension to boot up and report to it.\n  - Deploying - Indicates that the Service Fabric runtime is being installed on the VMs. Cluster resource will be in this state until the cluster boots up and system services are up.\n  - BaselineUpgrade - Indicates that the cluster is upgrading to establishes the cluster version. This upgrade is automatically initiated when the cluster boots up for the first time.\n  - UpdatingUserConfiguration - Indicates that the cluster is being upgraded with the user provided configuration.\n  - UpdatingUserCertificate - Indicates that the cluster is being upgraded with the user provided certificate.\n  - UpdatingInfrastructure - Indicates that the cluster is being upgraded with the latest Service Fabric runtime version. This happens only when the **upgradeMode** is set to 'Automatic'.\n  - EnforcingClusterVersion - Indicates that cluster is on a different version than expected and the cluster is being upgraded to the expected version.\n  - UpgradeServiceUnreachable - Indicates that the system service in the cluster is no longer polling the Resource Provider. Clusters in this state cannot be managed by the Resource Provider.\n  - AutoScale - Indicates that the ReliabilityLevel of the cluster is being adjusted.\n  - Ready - Indicates that the cluster is in a stable state.\n","enum":["WaitingForNodes","Deploying","BaselineUpgrade","UpdatingUserConfiguration","UpdatingUserCertificate","UpdatingInfrastructure","EnforcingClusterVersion","UpgradeServiceUnreachable","AutoScale","Ready"]},"ClusterUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ClusterPropertiesUpdateParameters"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Cluster update parameters"}},"description":"Cluster update request"},"ClusterUpgradeDeltaHealthPolicy":{"required":["maxPercentDeltaUnhealthyApplications","maxPercentDeltaUnhealthyNodes","maxPercentUpgradeDomainDeltaUnhealthyNodes"],"type":"object","properties":{"applicationDeltaHealthPolicies":{"$ref":"#/components/schemas/ApplicationDeltaHealthPolicyMap"},"maxPercentDeltaUnhealthyApplications":{"maximum":100,"minimum":0,"type":"integer","description":"The maximum allowed percentage of applications health degradation allowed during cluster upgrades.\nThe delta is measured between the state of the applications at the beginning of upgrade and the state of the applications at the time of the health evaluation.\nThe check is performed after every upgrade domain upgrade completion to make sure the global state of the cluster is within tolerated limits. System services are not included in this.\n"},"maxPercentDeltaUnhealthyNodes":{"maximum":100,"minimum":0,"type":"integer","description":"The maximum allowed percentage of nodes health degradation allowed during cluster upgrades.\nThe delta is measured between the state of the nodes at the beginning of upgrade and the state of the nodes at the time of the health evaluation.\nThe check is performed after every upgrade domain upgrade completion to make sure the global state of the cluster is within tolerated limits.\n"},"maxPercentUpgradeDomainDeltaUnhealthyNodes":{"maximum":100,"minimum":0,"type":"integer","description":"The maximum allowed percentage of upgrade domain nodes health degradation allowed during cluster upgrades.\nThe delta is measured between the state of the upgrade domain nodes at the beginning of upgrade and the state of the upgrade domain nodes at the time of the health evaluation.\nThe check is performed after every upgrade domain upgrade completion for all completed upgrade domains to make sure the state of the upgrade domains is within tolerated limits.\n"}},"description":"Describes the delta health policies for the cluster upgrade."},"ClusterUpgradePolicy":{"required":["healthCheckRetryTimeout","healthCheckStableDuration","healthCheckWaitDuration","healthPolicy","upgradeDomainTimeout","upgradeReplicaSetCheckTimeout","upgradeTimeout"],"type":"object","properties":{"deltaHealthPolicy":{"$ref":"#/components/schemas/ClusterUpgradeDeltaHealthPolicy"},"forceRestart":{"type":"boolean","description":"If true, then processes are forcefully restarted during upgrade even when the code version has not changed (the upgrade only changes configuration or data)."},"healthCheckRetryTimeout":{"type":"string","description":"The amount of time to retry health evaluation when the application or cluster is unhealthy before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format."},"healthCheckStableDuration":{"type":"string","description":"The amount of time that the application or cluster must remain healthy before the upgrade proceeds to the next upgrade domain. The duration can be in either hh:mm:ss or in d.hh:mm:ss.ms format."},"healthCheckWaitDuration":{"type":"string","description":"The length of time to wait after completing an upgrade domain before performing health checks. The duration can be in either hh:mm:ss or in d.hh:mm:ss.ms format."},"healthPolicy":{"$ref":"#/components/schemas/ClusterHealthPolicy"},"upgradeDomainTimeout":{"type":"string","description":"The amount of time each upgrade domain has to complete before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format."},"upgradeReplicaSetCheckTimeout":{"type":"string","description":"The maximum amount of time to block processing of an upgrade domain and prevent loss of availability when there are unexpected issues. When this timeout expires, processing of the upgrade domain will proceed regardless of availability loss issues. The timeout is reset at the start of each upgrade domain. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format."},"upgradeTimeout":{"type":"string","description":"The amount of time the overall upgrade has to complete before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format."}},"description":"Describes the policy used when upgrading the cluster."},"ClusterVersionDetails":{"type":"object","properties":{"codeVersion":{"type":"string","description":"The Service Fabric runtime version of the cluster."},"environment":{"$ref":"#/components/schemas/ClusterEnvironment"},"supportExpiryUtc":{"type":"string","description":"The date of expiry of support of the version."}},"description":"The detail of the Service Fabric runtime version result"},"DiagnosticsStorageAccountConfig":{"required":["blobEndpoint","protectedAccountKeyName","queueEndpoint","storageAccountName","tableEndpoint"],"type":"object","properties":{"blobEndpoint":{"type":"string","description":"The blob endpoint of the azure storage account."},"protectedAccountKeyName":{"type":"string","description":"The protected diagnostics storage key name."},"queueEndpoint":{"type":"string","description":"The queue endpoint of the azure storage account."},"storageAccountName":{"type":"string","description":"The Azure storage account name."},"tableEndpoint":{"type":"string","description":"The table endpoint of the azure storage account."}},"description":"The storage account information for storing Service Fabric diagnostic logs."},"DurabilityLevel":{"type":"string","description":"The durability level of the node type. Learn about [DurabilityLevel](https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-capacity).\n\n  - Bronze - No privileges. This is the default.\n  - Silver - The infrastructure jobs can be paused for a duration of 10 minutes per UD.\n  - Gold - The infrastructure jobs can be paused for a duration of 2 hours per UD. Gold durability can be enabled only on full node VM skus like D15_V2, G5 etc.\n","enum":["Bronze","Silver","Gold"]},"EndpointRangeDescription":{"required":["endPort","startPort"],"type":"object","properties":{"endPort":{"type":"integer","description":"End port of a range of ports"},"startPort":{"type":"integer","description":"Starting port of a range of ports"}},"description":"Port range details"},"ErrorModel":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorModelError"}},"description":"The structure of the error."},"ErrorModelError":{"type":"object","properties":{"code":{"type":"string","description":"The error code."},"message":{"type":"string","description":"The error message."}},"description":"The error details."},"NodeTypeDescription":{"required":["clientConnectionEndpointPort","httpGatewayEndpointPort","isPrimary","name","vmInstanceCount"],"type":"object","properties":{"applicationPorts":{"$ref":"#/components/schemas/EndpointRangeDescription"},"capacities":{"type":"object","additionalProperties":{"type":"string","description":"Capacity tag value"},"description":"The capacity tags applied to the nodes in the node type, the cluster resource manager uses these tags to understand how much resource a node has."},"clientConnectionEndpointPort":{"type":"integer","description":"The TCP cluster management endpoint port."},"durabilityLevel":{"$ref":"#/components/schemas/DurabilityLevel"},"ephemeralPorts":{"$ref":"#/components/schemas/EndpointRangeDescription"},"httpGatewayEndpointPort":{"type":"integer","description":"The HTTP cluster management endpoint port."},"isPrimary":{"type":"boolean","description":"The node type on which system services will run. Only one node type should be marked as primary. Primary node type cannot be deleted or changed for existing clusters."},"name":{"type":"string","description":"The name of the node type."},"placementProperties":{"type":"object","additionalProperties":{"type":"string","description":"Placement tag value"},"description":"The placement tags applied to nodes in the node type, which can be used to indicate where certain services (workload) should run."},"reverseProxyEndpointPort":{"type":"integer","description":"The endpoint used by reverse proxy."},"vmInstanceCount":{"maximum":2147483647,"minimum":1,"type":"integer","description":"The number of nodes in the node type. This count should match the capacity property in the corresponding VirtualMachineScaleSet resource."}},"description":"Describes a node type in the cluster, each node type represents sub set of nodes in the cluster."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any.","readOnly":true},"value":{"type":"array","description":"List of operations supported by the Service Fabric resource provider.","items":{"$ref":"#/components/schemas/OperationResult"}}},"description":"Describes the result of the request to list Service Fabric resource provider operations."},"OperationResult":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/AvailableOperationDisplay"},"name":{"type":"string","description":"The name of the operation."},"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"origin":{"type":"string","description":"Origin result"}},"description":"Available operation list result"},"ReliabilityLevel":{"type":"string","description":"The reliability level sets the replica set size of system services. Learn about [ReliabilityLevel](https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-capacity).\n\n  - None - Run the System services with a target replica set count of 1. This should only be used for test clusters.\n  - Bronze - Run the System services with a target replica set count of 3. This should only be used for test clusters.\n  - Silver - Run the System services with a target replica set count of 5.\n  - Gold - Run the System services with a target replica set count of 7.\n  - Platinum - Run the System services with a target replica set count of 9.\n","enum":["None","Bronze","Silver","Gold","Platinum"]},"Resource":{"required":["location"],"type":"object","properties":{"etag":{"type":"string","description":"Azure resource etag.","readOnly":true},"id":{"type":"string","description":"Azure resource identifier.","readOnly":true},"location":{"type":"string","description":"Azure resource location."},"name":{"type":"string","description":"Azure resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Azure resource tags."},"type":{"type":"string","description":"Azure resource type.","readOnly":true}},"description":"The resource model definition."},"ServerCertificateCommonName":{"required":["certificateCommonName","certificateIssuerThumbprint"],"type":"object","properties":{"certificateCommonName":{"type":"string","description":"The common name of the server certificate."},"certificateIssuerThumbprint":{"type":"string","description":"The issuer thumbprint of the server certificate."}},"description":"Describes the server certificate details using common name."},"ServerCertificateCommonNames":{"type":"object","properties":{"commonNames":{"type":"array","description":"The list of server certificates referenced by common name that are used to secure the cluster.","items":{"$ref":"#/components/schemas/ServerCertificateCommonName"}},"x509StoreName":{"$ref":"#/components/schemas/StoreName"}},"description":"Describes a list of server certificates referenced by common name that are used to secure the cluster."},"ServiceTypeDeltaHealthPolicy":{"type":"object","properties":{"maxPercentDeltaUnhealthyServices":{"maximum":100,"minimum":0,"type":"integer","description":"The maximum allowed percentage of services health degradation allowed during cluster upgrades.\nThe delta is measured between the state of the services at the beginning of upgrade and the state of the services at the time of the health evaluation.\nThe check is performed after every upgrade domain upgrade completion to make sure the global state of the cluster is within tolerated limits.\n"}},"description":"Represents the delta health policy used to evaluate the health of services belonging to a service type when upgrading the cluster.\n"},"ServiceTypeDeltaHealthPolicyMap":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ServiceTypeDeltaHealthPolicy"},"description":"Defines a map that contains specific delta health policies for different service types.\nEach entry specifies as key the service type name and as value a ServiceTypeDeltaHealthPolicy used to evaluate the service health when upgrading the cluster.\nThe map is empty by default.\n"},"ServiceTypeHealthPolicy":{"type":"object","properties":{"maxPercentUnhealthyServices":{"maximum":100,"minimum":0,"type":"integer","description":"The maximum percentage of services allowed to be unhealthy before your application is considered in error.\n"}},"description":"Represents the health policy used to evaluate the health of services belonging to a service type.\n"},"ServiceTypeHealthPolicyMap":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ServiceTypeHealthPolicy"},"description":"Defines a ServiceTypeHealthPolicy per service type name.\n\nThe entries in the map replace the default service type health policy for each specified service type.\nFor example, in an application that contains both a stateless gateway service type and a stateful engine service type, the health policies for the stateless and stateful services can be configured differently.\nWith policy per service type, there's more granular control of the health of the service.\n\nIf no policy is specified for a service type name, the DefaultServiceTypeHealthPolicy is used for evaluation.\n"},"SettingsParameterDescription":{"required":["name","value"],"type":"object","properties":{"name":{"type":"string","description":"The parameter name of fabric setting."},"value":{"type":"string","description":"The parameter value of fabric setting."}},"description":"Describes a parameter in fabric settings of the cluster."},"SettingsSectionDescription":{"required":["name","parameters"],"type":"object","properties":{"name":{"type":"string","description":"The section name of the fabric settings."},"parameters":{"type":"array","description":"The collection of parameters in the section.","items":{"$ref":"#/components/schemas/SettingsParameterDescription"}}},"description":"Describes a section in the fabric settings of the cluster."},"StoreName":{"type":"string","description":"The local certificate store location.","enum":["AddressBook","AuthRoot","CertificateAuthority","Disallowed","My","Root","TrustedPeople","TrustedPublisher"]},"UpgradeMode":{"type":"string","description":"The upgrade mode of the cluster when new Service Fabric runtime version is available.\n\n  - Automatic - The cluster will be automatically upgraded to the latest Service Fabric runtime version as soon as it is available.\n  - Manual - The cluster will not be automatically upgraded to the latest Service Fabric runtime version. The cluster is upgraded by setting the **clusterCodeVersion** property in the cluster resource.\n","enum":["Automatic","Manual"]}},"parameters":{"api-version":{"name":"api-version","in":"query","description":"The version of the Service Fabric resource provider API. This is a required parameter and it's value must be \"2019-03-01-preview\" for this specification.","required":true,"schema":{"type":"string","default":"2019-03-01-preview","enum":["2019-03-01-preview"]}},"clusterNameParameter":{"name":"clusterName","in":"path","description":"The name of the cluster resource.","required":true,"schema":{"type":"string"}},"clusterVersion":{"name":"clusterVersion","in":"path","description":"The cluster code version.","required":true,"schema":{"type":"string"}},"environment":{"name":"environment","in":"path","description":"The operating system of the cluster. The default means all.","required":true,"schema":{"type":"string","enum":["Windows","Linux"]}},"locationForClusterCodeVersions":{"name":"location","in":"path","description":"The location for the cluster code versions. This is different from cluster location.","required":true,"schema":{"type":"string"}},"resourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"subscriptionId":{"name":"subscriptionId","in":"path","description":"The customer subscription identifier.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}