{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure Stack Azure Bridge Client",
    "version" : "2017-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations" : {
      "get" : {
        "tags" : [ "Registrations" ],
        "description" : "Returns a list of all registrations.",
        "operationId" : "Registrations_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistrationList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Error code.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Error message indicating why the operation failed.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "The target of the particular error.",
                          "readOnly" : true
                        }
                      },
                      "description" : "The details of the error."
                    }
                  },
                  "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}" : {
      "get" : {
        "tags" : [ "Registrations" ],
        "description" : "Returns the properties of an Azure Stack registration.",
        "operationId" : "Registrations_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Registration"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Error code.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Error message indicating why the operation failed.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "The target of the particular error.",
                          "readOnly" : true
                        }
                      },
                      "description" : "The details of the error."
                    }
                  },
                  "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Registrations" ],
        "description" : "Create or update an Azure Stack registration.",
        "operationId" : "Registrations_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "requestBody" : {
          "description" : "Registration token",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegistrationParameter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Registration"
                }
              }
            }
          },
          "201" : {
            "description" : "CREATED",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Registration"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Registrations" ],
        "description" : "Delete the requested Azure Stack registration.",
        "operationId" : "Registrations_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "204" : {
            "description" : "NO CONTENT"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Error code.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Error message indicating why the operation failed.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "The target of the particular error.",
                          "readOnly" : true
                        }
                      },
                      "description" : "The details of the error."
                    }
                  },
                  "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Registrations" ],
        "description" : "Patch an Azure Stack registration.",
        "operationId" : "Registrations_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "requestBody" : {
          "description" : "Registration token",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegistrationParameter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Registration"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Error code.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Error message indicating why the operation failed.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "The target of the particular error.",
                          "readOnly" : true
                        }
                      },
                      "description" : "The details of the error."
                    }
                  },
                  "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/getactivationkey" : {
      "post" : {
        "tags" : [ "Registrations" ],
        "description" : "Returns Azure Stack Activation Key.",
        "operationId" : "Registrations_GetActivationKey",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActivationKeyResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ActivationKeyResult" : {
        "type" : "object",
        "properties" : {
          "activationKey" : {
            "type" : "string",
            "description" : "Azure Stack activation key."
          }
        },
        "description" : "The resource containing the Azure Stack activation key."
      },
      "Registration" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/RegistrationProperties"
          }
        },
        "description" : "Registration information.",
        "allOf" : [ {
          "required" : [ "location" ],
          "type" : "object",
          "properties" : {
            "etag" : {
              "type" : "string",
              "description" : "The entity tag used for optimistic concurrency when modifying the resource."
            },
            "id" : {
              "type" : "string",
              "description" : "ID of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource.",
              "enum" : [ "global" ]
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Custom tags for the resource."
            },
            "type" : {
              "type" : "string",
              "description" : "Type of Resource.",
              "readOnly" : true
            }
          },
          "description" : "Base resource object."
        } ]
      },
      "RegistrationList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of Registrations",
            "items" : {
              "$ref" : "#/components/schemas/Registration"
            }
          }
        },
        "description" : "Pageable list of registrations."
      },
      "RegistrationParameter" : {
        "type" : "object",
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "Location of the resource.",
            "enum" : [ "global" ]
          },
          "properties" : {
            "$ref" : "#/components/schemas/RegistrationParameterProperties"
          }
        },
        "description" : "Registration resource"
      },
      "RegistrationParameterProperties" : {
        "required" : [ "registrationToken" ],
        "type" : "object",
        "properties" : {
          "registrationToken" : {
            "type" : "string",
            "description" : "The token identifying registered Azure Stack"
          }
        },
        "description" : "Properties of the Azure Stack registration resource"
      },
      "RegistrationProperties" : {
        "type" : "object",
        "properties" : {
          "billingModel" : {
            "type" : "string",
            "description" : "Specifies the billing mode for the Azure Stack registration."
          },
          "cloudId" : {
            "type" : "string",
            "description" : "The identifier of the registered Azure Stack."
          },
          "objectId" : {
            "type" : "string",
            "description" : "The object identifier associated with the Azure Stack connecting to Azure."
          }
        },
        "description" : "Properties portion of the registration resource."
      }
    },
    "requestBodies" : {
      "NewRegistrationParameter" : {
        "description" : "Registration token",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/RegistrationParameter"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}