{"openapi":"3.0.1","info":{"title":"StreamAnalyticsManagementClient","version":"2016-03-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.StreamAnalytics/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available Stream Analytics related operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully listed the available operations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/streamingjobs":{"get":{"tags":["StreamingJobs"],"description":"Lists all of the streaming jobs in the given subscription.","operationId":"StreamingJobs_List","parameters":[{"name":"$expand","in":"query","description":"The $expand OData query parameter. This is a comma-separated list of additional streaming job properties to include in the response, beyond the default set returned when this parameter is absent. The default set is all streaming job properties other than 'inputs', 'transformation', 'outputs', and 'functions'.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully listed the streaming jobs under the given subscription.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamingJobListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs":{"get":{"tags":["StreamingJobs"],"description":"Lists all of the streaming jobs in the specified resource group.","operationId":"StreamingJobs_ListByResourceGroup","parameters":[{"name":"$expand","in":"query","description":"The $expand OData query parameter. This is a comma-separated list of additional streaming job properties to include in the response, beyond the default set returned when this parameter is absent. The default set is all streaming job properties other than 'inputs', 'transformation', 'outputs', and 'functions'.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully listed the streaming jobs under the specified resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamingJobListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}":{"get":{"tags":["StreamingJobs"],"description":"Gets details about the specified streaming job.","operationId":"StreamingJobs_Get","parameters":[{"name":"$expand","in":"query","description":"The $expand OData query parameter. This is a comma-separated list of additional streaming job properties to include in the response, beyond the default set returned when this parameter is absent. The default set is all streaming job properties other than 'inputs', 'transformation', 'outputs', and 'functions'.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the specified streaming job.","headers":{"ETag":{"description":"The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamingJob"}}}}}},"put":{"tags":["StreamingJobs"],"description":"Creates a streaming job or replaces an already existing streaming job.","operationId":"StreamingJobs_CreateOrReplace","parameters":[{"name":"If-Match","in":"header","description":"The ETag of the streaming job. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"If-None-Match","in":"header","description":"Set to '*' to allow a new streaming job to be created, but to prevent updating an existing record set. Other values will result in a 412 Pre-condition Failed response.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The definition of the streaming job that will be used to create a new streaming job or replace the existing one.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamingJob"}}},"required":true},"responses":{"200":{"description":"The streaming job was successfully created or replaced.","headers":{"ETag":{"description":"The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamingJob"}}}},"201":{"description":"The streaming job was successfully created or replaced.","headers":{"ETag":{"description":"The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamingJob"}}}}}},"delete":{"tags":["StreamingJobs"],"description":"Deletes a streaming job.","operationId":"StreamingJobs_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The streaming job was successfully deleted."},"202":{"description":"The delete request was successfully initiated."},"204":{"description":"The streaming job does not exist."}}},"patch":{"tags":["StreamingJobs"],"description":"Updates an existing streaming job. This can be used to partially update (ie. update one or two properties) a streaming job without affecting the rest the job definition.","operationId":"StreamingJobs_Update","parameters":[{"name":"If-Match","in":"header","description":"The ETag of the streaming job. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"A streaming job object. The properties specified here will overwrite the corresponding properties in the existing streaming job (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing input will remain the same and not change as a result of this PATCH operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamingJob"}}},"required":true},"responses":{"200":{"description":"The streaming job was successfully updated.","headers":{"ETag":{"description":"The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamingJob"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/start":{"post":{"tags":["StreamingJobs"],"description":"Starts a streaming job. Once a job is started it will start processing input events and produce output.","operationId":"StreamingJobs_Start","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters applicable to a start streaming job operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartStreamingJobParameters"}}},"required":false},"responses":{"200":{"description":"The streaming job was successfully started."},"202":{"description":"The start streaming job request was successfully initiated."}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/stop":{"post":{"tags":["StreamingJobs"],"description":"Stops a running streaming job. This will cause a running streaming job to stop processing input events and producing output.","operationId":"StreamingJobs_Stop","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The streaming job was successfully stopped."},"202":{"description":"The stop streaming job request was successfully initiated."}}}}},"components":{"schemas":{"CompatibilityLevel":{"type":"string","description":"Controls certain runtime behaviors of the streaming job.","enum":["1.0"]},"EventsOutOfOrderPolicy":{"type":"string","description":"Indicates the policy to apply to events that arrive out of order in the input event stream.","enum":["Adjust","Drop"]},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"The localized friendly description for the operation.","readOnly":true},"operation":{"type":"string","description":"The localized friendly name for the operation.","readOnly":true},"provider":{"type":"string","description":"The localized friendly form of the resource provider name.","readOnly":true},"resource":{"type":"string","description":"The localized friendly form of the resource type related to this action/operation.","readOnly":true}},"description":"Contains the localized display information for this particular operation / action.","readOnly":true},"name":{"type":"string","description":"The name of the operation being performed on this particular object.","readOnly":true}},"description":"A Stream Analytics REST API operation"},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any.","readOnly":true},"value":{"type":"array","description":"List of Stream Analytics operations supported by the Microsoft.StreamAnalytics resource provider.","readOnly":true,"items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list Stream Analytics operations. It contains a list of operations and a URL link to get the next set of results."},"OutputErrorPolicy":{"type":"string","description":"Indicates the policy to apply to events that arrive at the output and cannot be written to the external storage due to being malformed (missing column values, column values of wrong type or size).","enum":["Stop","Drop"]},"OutputStartMode":{"type":"string","description":"Value may be JobStartTime, CustomTime, or LastOutputEventTime to indicate whether the starting point of the output event stream should start whenever the job is started, start at a custom user time stamp specified via the outputStartTime property, or start from the last event output time.","enum":["JobStartTime","CustomTime","LastOutputEventTime"]},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location. Required on PUT (CreateOrReplace) requests."},"name":{"type":"string","description":"Resource name","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The base resource model definition."},"Sku":{"type":"object","properties":{"name":{"type":"string","description":"The name of the SKU. Required on PUT (CreateOrReplace) requests.","enum":["Standard"]}},"description":"The properties that are associated with a SKU."},"StartStreamingJobParameters":{"type":"object","properties":{"outputStartMode":{"$ref":"#/components/schemas/OutputStartMode"},"outputStartTime":{"type":"string","description":"Value is either an ISO-8601 formatted time stamp that indicates the starting point of the output event stream, or null to indicate that the output event stream will start whenever the streaming job is started. This property must have a value if outputStartMode is set to CustomTime.","format":"date-time"}},"description":"Parameters supplied to the Start Streaming Job operation."},"StreamingJob":{"properties":{"properties":{"$ref":"#/components/schemas/StreamingJobProperties"}},"description":"A streaming job object, containing all information associated with the named streaming job.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"StreamingJobListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link (url) to the next page of results.","readOnly":true},"value":{"type":"array","description":"A list of streaming jobs. Populated by a 'List' operation.","readOnly":true,"items":{"$ref":"#/components/schemas/StreamingJob"}}},"description":"Object containing a list of streaming jobs."},"StreamingJobProperties":{"type":"object","properties":{"compatibilityLevel":{"$ref":"#/components/schemas/CompatibilityLevel"},"createdDate":{"type":"string","description":"Value is an ISO-8601 formatted UTC timestamp indicating when the streaming job was created.","format":"date-time","readOnly":true},"dataLocale":{"type":"string","description":"The data locale of the stream analytics job. Value should be the name of a supported .NET Culture from the set https://msdn.microsoft.com/en-us/library/system.globalization.culturetypes(v=vs.110).aspx. Defaults to 'en-US' if none specified."},"etag":{"type":"string","description":"The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","readOnly":true},"eventsLateArrivalMaxDelayInSeconds":{"type":"integer","description":"The maximum tolerable delay in seconds where events arriving late could be included.  Supported range is -1 to 1814399 (20.23:59:59 days) and -1 is used to specify wait indefinitely. If the property is absent, it is interpreted to have a value of -1.","format":"int32"},"eventsOutOfOrderMaxDelayInSeconds":{"type":"integer","description":"The maximum tolerable delay in seconds where out-of-order events can be adjusted to be back in order.","format":"int32"},"eventsOutOfOrderPolicy":{"$ref":"#/components/schemas/EventsOutOfOrderPolicy"},"functions":{"type":"array","description":"A list of one or more functions for the streaming job. The name property for each function is required when specifying this property in a PUT request. This property cannot be modify via a PATCH operation. You must use the PATCH API available for the individual transformation.","items":{"type":"object","properties":{"properties":{"type":"object","properties":{"etag":{"type":"string","description":"The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","readOnly":true},"type":{"type":"string","description":"Indicates the type of function."}},"description":"The properties that are associated with a function."}},"description":"A function object, containing all information associated with the named function. All functions are contained under a streaming job."}},"inputs":{"type":"array","description":"A list of one or more inputs to the streaming job. The name property for each input is required when specifying this property in a PUT request. This property cannot be modify via a PATCH operation. You must use the PATCH API available for the individual input.","items":{"type":"object","properties":{"properties":{"type":"object","properties":{"diagnostics":{"type":"object","properties":{"conditions":{"type":"array","description":"A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention.","readOnly":true,"items":{"type":"object","properties":{"code":{"type":"string","description":"The opaque diagnostic code.","readOnly":true},"message":{"type":"string","description":"The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request.","readOnly":true},"since":{"type":"string","description":"The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time.","readOnly":true}},"description":"Condition applicable to the resource, or to the job overall, that warrant customer attention."}}},"description":"Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention."},"etag":{"type":"string","description":"The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","readOnly":true},"serialization":{"type":"object","properties":{"type":{"type":"string","description":"Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests."}},"description":"Describes how data from an input is serialized or how data is serialized when written to an output."},"type":{"type":"string","description":"Indicates whether the input is a source of reference data or stream data. Required on PUT (CreateOrReplace) requests."}},"description":"The properties that are associated with an input."}},"description":"An input object, containing all information associated with the named input. All inputs are contained under a streaming job."}},"jobId":{"type":"string","description":"A GUID uniquely identifying the streaming job. This GUID is generated upon creation of the streaming job.","readOnly":true},"jobState":{"type":"string","description":"Describes the state of the streaming job.","readOnly":true},"lastOutputEventTime":{"type":"string","description":"Value is either an ISO-8601 formatted timestamp indicating the last output event time of the streaming job or null indicating that output has not yet been produced. In case of multiple outputs or multiple streams, this shows the latest value in that set.","format":"date-time","readOnly":true},"outputErrorPolicy":{"$ref":"#/components/schemas/OutputErrorPolicy"},"outputStartMode":{"$ref":"#/components/schemas/OutputStartMode"},"outputStartTime":{"type":"string","description":"Value is either an ISO-8601 formatted time stamp that indicates the starting point of the output event stream, or null to indicate that the output event stream will start whenever the streaming job is started. This property must have a value if outputStartMode is set to CustomTime.","format":"date-time"},"outputs":{"type":"array","description":"A list of one or more outputs for the streaming job. The name property for each output is required when specifying this property in a PUT request. This property cannot be modify via a PATCH operation. You must use the PATCH API available for the individual output.","items":{"type":"object","properties":{"properties":{"type":"object","properties":{"datasource":{"type":"object","properties":{"type":{"type":"string","description":"Indicates the type of data source output will be written to. Required on PUT (CreateOrReplace) requests."}},"description":"Describes the data source that output will be written to."},"diagnostics":{"type":"object","properties":{"conditions":{"type":"array","description":"A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention.","readOnly":true,"items":{"type":"object","properties":{"code":{"type":"string","description":"The opaque diagnostic code.","readOnly":true},"message":{"type":"string","description":"The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request.","readOnly":true},"since":{"type":"string","description":"The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time.","readOnly":true}},"description":"Condition applicable to the resource, or to the job overall, that warrant customer attention."}}},"description":"Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention."},"etag":{"type":"string","description":"The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","readOnly":true},"serialization":{"type":"object","properties":{"type":{"type":"string","description":"Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests."}},"description":"Describes how data from an input is serialized or how data is serialized when written to an output."}},"description":"The properties that are associated with an output."}},"description":"An output object, containing all information associated with the named output. All outputs are contained under a streaming job."}},"provisioningState":{"type":"string","description":"Describes the provisioning status of the streaming job.","readOnly":true},"sku":{"$ref":"#/components/schemas/Sku"},"transformation":{"type":"object","properties":{"properties":{"type":"object","properties":{"etag":{"type":"string","description":"The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","readOnly":true},"query":{"type":"string","description":"Specifies the query that will be run in the streaming job. You can learn more about the Stream Analytics Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998 . Required on PUT (CreateOrReplace) requests."},"streamingUnits":{"type":"integer","description":"Specifies the number of streaming units that the streaming job uses.","format":"int32"}},"description":"The properties that are associated with a transformation."}},"description":"A transformation object, containing all information associated with the named transformation. All transformations are contained under a streaming job."}},"description":"The properties that are associated with a streaming job."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"StreamingJobNameParameter":{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}