{"openapi":"3.0.1","info":{"title":"SqlManagementClient","description":"The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.","version":"2014-04-01"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/auditingPolicies":{"get":{"tags":["TableAuditing"],"description":"Lists a server's table auditing policies. Table auditing is deprecated, use blob auditing instead.","operationId":"ServerTableAuditingPolicies_ListByServer","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the server table auditing policies.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerTableAuditingPolicyListResult"}}}}},"deprecated":true}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/auditingPolicies/{tableAuditingPolicyName}":{"get":{"tags":["TableAuditing"],"description":"Gets a server's table auditing policy. Table auditing is deprecated, use blob auditing instead.","operationId":"ServerTableAuditingPolicies_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"tableAuditingPolicyName","in":"path","description":"The name of the table auditing policy.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the server table auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerTableAuditingPolicy"}}}}},"deprecated":true},"put":{"tags":["TableAuditing"],"description":"Creates or updates a server's table auditing policy. Table auditing is deprecated, use blob auditing instead.","operationId":"ServerTableAuditingPolicies_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"tableAuditingPolicyName","in":"path","description":"The name of the table auditing policy.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The server table auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerTableAuditingPolicy"}}},"required":true},"responses":{"200":{"description":"Successfully set the server table auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerTableAuditingPolicy"}}}},"201":{"description":"Successfully created the server table auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerTableAuditingPolicy"}}}}},"deprecated":true}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/auditingPolicies":{"get":{"tags":["TableAuditing"],"description":"Lists a database's table auditing policies. Table auditing is deprecated, use blob auditing instead.","operationId":"DatabaseTableAuditingPolicies_ListByDatabase","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database for which the table audit policy is defined.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the database table auditing policies.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseTableAuditingPolicyListResult"}}}}},"deprecated":true}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/auditingPolicies/{tableAuditingPolicyName}":{"get":{"tags":["TableAuditing"],"description":"Gets a database's table auditing policy. Table auditing is deprecated, use blob auditing instead.","operationId":"DatabaseTableAuditingPolicies_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database for which the table audit policy is defined.","required":true,"schema":{"type":"string"}},{"name":"tableAuditingPolicyName","in":"path","description":"The name of the table auditing policy.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the database table auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseTableAuditingPolicy"}}}}},"deprecated":true},"put":{"tags":["TableAuditing"],"description":"Creates or updates a database's table auditing policy. Table auditing is deprecated, use blob auditing instead.","operationId":"DatabaseTableAuditingPolicies_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database for which the table auditing policy will be defined.","required":true,"schema":{"type":"string"}},{"name":"tableAuditingPolicyName","in":"path","description":"The name of the table auditing policy.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The database table auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseTableAuditingPolicy"}}},"required":true},"responses":{"200":{"description":"Successfully set the database table auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseTableAuditingPolicy"}}}},"201":{"description":"Successfully created the database table auditing policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseTableAuditingPolicy"}}}}},"deprecated":true}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/connectionPolicies/{connectionPolicyName}":{"get":{"tags":["TableAuditing"],"description":"Gets a database's connection policy, which is used with table auditing. Table auditing is deprecated, use blob auditing instead.","operationId":"DatabaseConnectionPolicies_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database for which the connection policy is defined.","required":true,"schema":{"type":"string"}},{"name":"connectionPolicyName","in":"path","description":"The name of the connection policy.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the database connection policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseConnectionPolicy"}}}}},"deprecated":true},"put":{"tags":["TableAuditing"],"description":"Creates or updates a database's connection policy, which is used with table auditing. Table auditing is deprecated, use blob auditing instead.","operationId":"DatabaseConnectionPolicies_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database for which the connection policy will be defined.","required":true,"schema":{"type":"string"}},{"name":"connectionPolicyName","in":"path","description":"The name of the connection policy.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The database connection policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseConnectionPolicy"}}},"required":true},"responses":{"200":{"description":"Successfully set the database connection policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseConnectionPolicy"}}}},"201":{"description":"Successfully created the database connection policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseConnectionPolicy"}}}}},"deprecated":true}}},"components":{"schemas":{"DatabaseConnectionPolicy":{"properties":{"kind":{"type":"string","description":"Resource kind.","readOnly":true},"location":{"type":"string","description":"Resource location.","readOnly":true},"properties":{"$ref":"#/components/schemas/DatabaseConnectionPolicyProperties"}},"description":"A database connection policy.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"DatabaseConnectionPolicyProperties":{"type":"object","properties":{"proxyDnsName":{"type":"string","description":"The fully qualified host name of the auditing proxy."},"proxyPort":{"type":"string","description":"The port number of the auditing proxy."},"redirectionState":{"type":"string","description":"The state of proxy redirection."},"securityEnabledAccess":{"type":"string","description":"The state of security access."},"state":{"type":"string","description":"The connection policy state."},"useServerDefault":{"type":"string","description":"Whether server default is enabled or disabled."},"visibility":{"type":"string","description":"The visibility of the auditing proxy."}},"description":"Properties of a database connection policy."},"DatabaseTableAuditingPolicy":{"properties":{"kind":{"type":"string","description":"Resource kind.","readOnly":true},"location":{"type":"string","description":"Resource location.","readOnly":true},"properties":{"$ref":"#/components/schemas/DatabaseTableAuditingPolicyProperties"}},"description":"A database table auditing policy.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"DatabaseTableAuditingPolicyListResult":{"required":["value"],"type":"object","properties":{"value":{"type":"array","description":"The list of database table auditing policies.","items":{"$ref":"#/components/schemas/DatabaseTableAuditingPolicy"}}},"description":"Represents the response to a list database table auditing policies request."},"DatabaseTableAuditingPolicyProperties":{"properties":{"useServerDefault":{"type":"string","description":"Whether server default is enabled or disabled."}},"description":"Properties of a database table auditing policy.","allOf":[{"$ref":"#/components/schemas/TableAuditingPolicyProperties"}]},"ServerTableAuditingPolicy":{"properties":{"kind":{"type":"string","description":"Resource kind.","readOnly":true},"location":{"type":"string","description":"Resource location.","readOnly":true},"properties":{"$ref":"#/components/schemas/ServerTableAuditingPolicyProperties"}},"description":"A server table auditing policy.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"ServerTableAuditingPolicyListResult":{"required":["value"],"type":"object","properties":{"value":{"type":"array","description":"The list of server table auditing policies.","items":{"$ref":"#/components/schemas/ServerTableAuditingPolicy"}}},"description":"Represents the response to a list server table auditing policies request."},"ServerTableAuditingPolicyProperties":{"description":"Properties of a server table auditing policy.","allOf":[{"$ref":"#/components/schemas/TableAuditingPolicyProperties"}]},"TableAuditingPolicyProperties":{"type":"object","properties":{"auditLogsTableName":{"type":"string","description":"The audit logs table name."},"auditingState":{"type":"string","description":"The state of the policy."},"eventTypesToAudit":{"type":"string","description":"Comma-separated list of event types to audit."},"fullAuditLogsTableName":{"type":"string","description":"The full audit logs table name."},"retentionDays":{"type":"string","description":"The number of days to keep in the audit logs."},"storageAccountKey":{"type":"string","description":"The key of the auditing storage account."},"storageAccountName":{"type":"string","description":"The table storage account name"},"storageAccountResourceGroupName":{"type":"string","description":"The table storage account resource group name"},"storageAccountSecondaryKey":{"type":"string","description":"The secondary key of the auditing storage account."},"storageAccountSubscriptionId":{"type":"string","description":"The table storage subscription Id.","format":"uuid"},"storageTableEndpoint":{"type":"string","description":"The storage table endpoint."}},"description":"Properties of a table auditing policy."}},"parameters":{"ConnectionPolicyNameParameter":{"name":"connectionPolicyName","in":"path","description":"The name of the connection policy.","required":true,"schema":{"type":"string","enum":["default"]}},"DatabaseNameParameter":{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},"TableAuditingPolicyNameParameter":{"name":"tableAuditingPolicyName","in":"path","description":"The name of the table auditing policy.","required":true,"schema":{"type":"string","enum":["default"]}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}