{"openapi":"3.0.1","info":{"title":"WeGA API","description":"The OpenAPI documentation for the RESTful interface of the Carl-Maria-von-Weber-Gesamtausgabe. <br/> (No registration, authentication, or API key is required) <br/> For feedback or requests about this API please contact stadler@weber-gesamtausgabe.de or start the discussion at https://github.com/Edirom/WeGA-WebApp","version":"1.0.0"},"servers":[{"url":"https://weber-gesamtausgabe.de/api/v1"}],"tags":[{"name":"Documents","description":"Access to the documents of the WeGA digital edition"},{"name":"Code Samples","description":"Access to encoding features"},{"name":"Application","description":"Access to application settings"},{"name":"Facets","description":"Access to facets for filtering result sets"}],"paths":{"/application/newID":{"get":{"tags":["Application"],"summary":"Create a new WeGA ID","parameters":[{"name":"docType","in":"query","description":"The WeGA document type","required":true,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["biblio","diaries","documents","letters","news","orgs","persons","places","thematicCommentaries","var","works","writings"]}}}],"responses":{"200":{"description":"A single object with a fresh WeGA ID","content":{"application/json":{"schema":{"type":"object","properties":{"docID":{"pattern":"^A[A-F0-9]{6}$","type":"string","description":"The WeGA ID"},"docType":{"type":"string","description":"The WeGA document type"}}}}}},"403":{"description":"The creation of new IDs is only available in the development environment","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","format":"int32","default":403},"message":{"type":"string"}}}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/application/status":{"get":{"tags":["Application"],"summary":"Get status information about the running WeGA-WebApp","responses":{"200":{"description":"Healthy – A single object with status information","content":{"application/json":{"schema":{"type":"object","properties":{"deployment":{"type":"string","description":"The datetime of the deployment of the WeGA-WebApp","format":"date-time"},"status":{"type":"string","description":"Status (healthy|unhealthy) of the currently running WeGA-WebApp","default":"healthy"},"svnRevision":{"type":"integer","description":"The Subversion revision of the currently installed WeGA-data"},"version":{"pattern":"^\\d+\\.\\d+\\.\\d+$","type":"string"}}}}}},"500":{"description":"Unhealthy – A single object with status information","content":{"application/json":{"schema":{"type":"object","properties":{"deployment":{"type":"string","description":"The datetime of the deployment of the WeGA-WebApp","format":"date-time"},"status":{"type":"string","description":"Status (healthy|unhealthy) of the currently running WeGA-WebApp","default":"unhealthy"},"svnRevision":{"type":"integer","description":"The Subversion revision of the currently installed WeGA-data"},"version":{"pattern":"^\\d+\\.\\d+\\.\\d+$","type":"string"}}}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/code/findByElement/{element}":{"get":{"tags":["Code Samples"],"summary":"Finds code samples by XML element","parameters":[{"name":"element","in":"path","description":"The XML element to search for","required":true,"schema":{"type":"string"}},{"name":"namespace","in":"query","description":"The element namespace. Defaults to the TEI namespace","schema":{"type":"string","default":"http://www.tei-c.org/ns/1.0"}},{"name":"docType","in":"query","description":"The WeGA document type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["biblio","diaries","documents","letters","news","orgs","persons","places","thematicCommentaries","var","works","writings"]}}},{"name":"offset","in":"query","description":"Position of first item to retrieve (starting from 1)","schema":{"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","description":"Number of items to retrieve (200 max)","schema":{"maximum":200,"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"An array of documents","headers":{"totalrecordcount":{"description":"The total size of the result set","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeSample"}}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/documents":{"get":{"tags":["Documents"],"summary":"Lists all documents","description":"The Documents endpoint returns a list of all documents from the WeGA digital edition.\n","parameters":[{"name":"docType","in":"query","description":"The WeGA document type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["biblio","diaries","documents","letters","news","orgs","persons","places","thematicCommentaries","var","works","writings"]}}},{"name":"offset","in":"query","description":"Position of first item to retrieve (starting from 1)","schema":{"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","description":"Number of items to retrieve (200 max)","schema":{"maximum":200,"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"An array of documents","headers":{"totalrecordcount":{"description":"The total size of the result set","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/documents/findByAuthor/{authorID}":{"get":{"tags":["Documents"],"summary":"Finds documents by author","description":"This endpoint returns a list of documents by a given author – optionally filtered by document type \n","parameters":[{"name":"authorID","in":"path","description":"The author ID to search for. Accepted ID formats are WeGA, e.g. A002068 or http://weber-gesamtausgabe.de/A002068, VIAF, e.g. http://viaf.org/viaf/14959938, or  GND, e.g. http://d-nb.info/gnd/118629662\n","required":true,"schema":{"type":"string","default":"A002068"}},{"name":"docType","in":"query","description":"The WeGA document type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["biblio","diaries","documents","letters","news","orgs","persons","places","thematicCommentaries","var","works","writings"]}}},{"name":"offset","in":"query","description":"Position of first item to retrieve (starting from 1)","schema":{"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","description":"Number of items to retrieve (200 max)","schema":{"maximum":200,"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"An array of documents","headers":{"totalrecordcount":{"description":"The total size of the result set","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/documents/findByDate":{"get":{"tags":["Documents"],"summary":"Finds documents by date","description":"This endpoint returns a list of documents related to the given date – optionally filtered by document type. \n","parameters":[{"name":"fromDate","in":"query","description":"The min date to search for","required":true,"schema":{"type":"string","format":"date","default":-5778691200000}},{"name":"toDate","in":"query","description":"The max date to search for","schema":{"type":"string","format":"date"}},{"name":"docType","in":"query","description":"The WeGA document type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["biblio","diaries","documents","letters","news","orgs","persons","places","thematicCommentaries","var","works","writings"]}}},{"name":"offset","in":"query","description":"Position of first item to retrieve (starting from 1)","schema":{"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","description":"Number of items to retrieve (200 max)","schema":{"maximum":200,"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"An array of documents","headers":{"totalrecordcount":{"description":"The total size of the result set","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/documents/findByMention/{docID}":{"get":{"tags":["Documents"],"summary":"Finds documents by reference","description":"This endpoint returns a list of documents that reference a particular docID – optionally filtered by document type. \n","parameters":[{"name":"docID","in":"path","description":"The document ID that is to be mentioned. Accepted ID formats are WeGA, e.g. A002068 or http://weber-gesamtausgabe.de/A002068, VIAF, e.g. http://viaf.org/viaf/14959938, or  GND, e.g. http://d-nb.info/gnd/118629662\n","required":true,"schema":{"type":"string","default":"A002068"}},{"name":"docType","in":"query","description":"The WeGA document type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["biblio","diaries","documents","letters","news","orgs","persons","places","thematicCommentaries","var","works","writings"]}}},{"name":"offset","in":"query","description":"Position of first item to retrieve (starting from 1)","schema":{"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","description":"Number of items to retrieve (200 max)","schema":{"maximum":200,"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"An array of documents","headers":{"totalrecordcount":{"description":"The total size of the result set","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/documents/{docID}":{"get":{"tags":["Documents"],"summary":"Returns documents by ID","description":"This endpoint returns documents, indicated by an ID.\n Accepted ID formats are WeGA, e.g. A002068 or http://weber-gesamtausgabe.de/A002068, VIAF, e.g. http://viaf.org/viaf/14959938, or  GND, e.g. http://d-nb.info/gnd/118629662\n","parameters":[{"name":"docID","in":"path","description":"The document identifier to search for","required":true,"schema":{"type":"string","default":"A002068"}}],"responses":{"200":{"description":"An array of documents","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/facets/{facet}":{"get":{"tags":["Facets"],"summary":"Returns facets","parameters":[{"name":"facet","in":"path","description":"The facet to search for","required":true,"schema":{"type":"string","enum":["sender","addressee"]}},{"name":"scope","in":"query","description":"The scope of the result set, i.e. 'indices' or a WeGA ID","required":true,"schema":{"pattern":"^(indices)|(A[A-F0-9]{6})$","type":"string"}},{"name":"term","in":"query","description":"The search term to be looked for in the facet's label","schema":{"type":"string"}},{"name":"docType","in":"query","description":"The WeGA document type","required":true,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["biblio","diaries","documents","letters","news","orgs","persons","places","thematicCommentaries","var","works","writings"]}}},{"name":"offset","in":"query","description":"Position of first item to retrieve (starting from 1)","schema":{"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"limit","in":"query","description":"Number of items to retrieve (200 max)","schema":{"maximum":200,"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"An array of facets","headers":{"totalrecordcount":{"description":"The total size of the result set","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Facet"}}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"CodeSample":{"type":"object","properties":{"codeSample":{"type":"string","description":"The code snippet"},"docID":{"type":"string","description":"The WeGA document identifier representing a specific document"},"uri":{"type":"string","description":"Unique identifier representing a specific document"}}},"Document":{"type":"object","properties":{"docID":{"type":"string","description":"The WeGA document identifier representing a specific document"},"docType":{"type":"string","description":"The WeGA document type"},"title":{"type":"string","description":"The title of the document"},"uri":{"type":"string","description":"Unique identifier representing a specific document"}}},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"fields":{"type":"string"},"message":{"type":"string"}}},"Facet":{"type":"object","properties":{"frequency":{"type":"integer","description":"The sum of occurences of the object for the current result set"},"label":{"type":"string","description":"The name or title of the object"},"value":{"pattern":"^A[A-F0-9]{6}$","type":"string","description":"the WeGA ID"}}}},"parameters":{"docTypeParam":{"name":"docType","in":"query","description":"The WeGA document type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["biblio","diaries","documents","letters","news","orgs","persons","places","thematicCommentaries","var","works","writings"]}}},"docTypeRequiredParam":{"name":"docType","in":"query","description":"The WeGA document type","required":true,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["biblio","diaries","documents","letters","news","orgs","persons","places","thematicCommentaries","var","works","writings"]}}},"fromDateParam":{"name":"fromDate","in":"query","description":"The earliest date","schema":{"type":"string","format":"date"}},"limitParam":{"name":"limit","in":"query","description":"Number of items to retrieve (200 max)","schema":{"maximum":200,"type":"integer","format":"int32","default":10}},"offsetParam":{"name":"offset","in":"query","description":"Position of first item to retrieve (starting from 1)","schema":{"minimum":1,"type":"integer","format":"int32","default":1}},"toDateParam":{"name":"toDate","in":"query","description":"The latest date","schema":{"type":"string","format":"date"}}}}}