{"openapi":"3.0.1","info":{"title":"Numbers API","description":"The William Hill Numbers API uses a single method that allows you to generate random numbers for your application. Numbers can either be unique or can be produced with the chance that some might be the same. For example, you can have a highest value of 6 and a lowest value of 1 with a count of 2 with a unique value of false - this will give you two numbers between 1 and 6 which are independent, just like two dice being rolled.<br /><br />The Numbers API is a Private API and therefore not automatically available to developers. To use this API, contact your business manager who will guide you through the separate Terms and Conditions of use before you can have the API assigned to your application.","license":{"name":"William Hill Online","url":"https://www.williamhill.com/"},"version":"2.0"},"servers":[{"url":"https://sandbox.whapi.com/v2/numbers"}],"paths":{"/generate/integers":{"get":{"tags":["Numbers"],"description":"This method is used to generate random numbers for your app. Within the request, you can specify the lowest number, the highest number and the amount of numbers returned. There is also an option to generate a unique set of numbers with no repetition of the same numbers allowed in the return.","operationId":"getRandomNumbers","parameters":[{"name":"apiKey","in":"header","description":"A unique identifier of your application that is generated by the API portal and presented in the header.","required":true,"schema":{"type":"string"}},{"name":"apiSecret","in":"header","description":"Another unique identifier for your application. The secret must never be sent over HTTP.","required":true,"schema":{"type":"string"}},{"name":"apiTicket","in":"header","description":"The authentication ticket associated with the user session. The getRandomNumbers method operates in two different ways – ‘Demo’ mode and ‘Live’ mode. In Demo mode, where no money is involved, the ticket is not required and can be used without it. In Live mode, when there is a financial outcome, the developer must supply a valid authentication and the ticket must be supplied. Important: The service should not be used in Live mode without a ticket.","schema":{"type":"string"}},{"name":"gameCode","in":"query","description":"Identifier that indicates the game for which the RNG (Random Number Generator) has been used.","required":true,"schema":{"pattern":"^[a-zA-Z0-9#/_.-]{1,30}$","type":"string"}},{"name":"highest","in":"query","description":"Highest possible value to be returned.","required":true,"schema":{"maximum":9999999999,"minimum":1,"type":"integer"}},{"name":"lowest","in":"query","description":"Lowest possible value to be returned.","required":true,"schema":{"maximum":9999999999,"minimum":1,"type":"integer"}},{"name":"count","in":"query","description":"Number of values to be returned.","required":true,"schema":{"maximum":99,"minimum":1,"type":"integer"}},{"name":"unique","in":"query","description":"Should the numbers returned be unique","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success"},"example":"{ \n  \"sessionID\": \"10.1.29.232/6859\", \n  \"randomNumbers\": [ \"17\",\"91\",\"22\"] \n} \n"}}},"400":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/numbersErrors"},"example":"{\n  \"errors\" : [\n              {\n                \"code\":\"10070\",\n                \"message\":\"Missing Parameter\",\n                \"field\":\"apiKey\"\n              }\n            ]\n}\n"}}}}}}},"components":{"schemas":{"error":{"type":"object","properties":{"code":{"type":"string","description":"A unique William Hill identifier for the error"},"field":{"type":"string","description":"To help pinpoint the exact parameter where a request has failed"},"message":{"type":"string","description":"A unique William Hill text string to enable you to identify the error (in English only)"}}},"numbersErrors":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}}},"success":{"type":"object","properties":{"randomNumbers":{"type":"array","description":"An array of random numbers","items":{"type":"integer"}},"sessionId":{"type":"string","description":"This is either the IP address of the customer if not authenticated, or if used in ‘Live’ mode, when there is a financial outcome, it is the IP address and customerId for the account the ticket was generated for. This is used for audit purposes in case of financial query about a game outcome."}}}}}}