{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SubscriptionsManagementClient",
    "description" : "The Admin Subscriptions Management Client.",
    "version" : "2015-11-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants" : {
      "get" : {
        "tags" : [ "DirectoryTenants" ],
        "description" : "Lists all the directory tenants under the current subscription and given resource group name.",
        "operationId" : "DirectoryTenants_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DirectoryTenantList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants/{tenant}" : {
      "get" : {
        "tags" : [ "DirectoryTenants" ],
        "description" : "Get a directory tenant by name.",
        "operationId" : "DirectoryTenants_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Directory tenant name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DirectoryTenant"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DirectoryTenants" ],
        "description" : "Create or updates a directory tenant.",
        "operationId" : "DirectoryTenants_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Directory tenant name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "requestBody" : {
          "description" : "New directory tenant properties.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DirectoryTenant"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DirectoryTenant"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DirectoryTenant"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "DirectoryTenants" ],
        "description" : "Delete a directory tenant under a resource group.",
        "operationId" : "DirectoryTenants_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tenant",
          "in" : "path",
          "description" : "Directory tenant name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "204" : {
            "description" : "No Content"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "DirectoryTenant" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DirectoryTenantProperties"
          }
        },
        "description" : "Directory tenant.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource"
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key-value pairs.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base Resource Object"
        } ]
      },
      "DirectoryTenantList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Continuation token"
          },
          "value" : {
            "type" : "array",
            "description" : "List of directory tenants.",
            "items" : {
              "$ref" : "#/components/schemas/DirectoryTenant"
            }
          }
        },
        "description" : "List of directory tenants."
      },
      "DirectoryTenantProperties" : {
        "type" : "object",
        "properties" : {
          "tenantId" : {
            "type" : "string",
            "description" : "Tenant unique identifier."
          }
        },
        "description" : "Directory tenant."
      }
    },
    "parameters" : {
      "DirectoryTenantParameter" : {
        "name" : "tenant",
        "in" : "path",
        "description" : "Directory tenant name.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "NewDirectoryTenantParameter" : {
        "description" : "New directory tenant properties.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/DirectoryTenant"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 flow"
      }
    }
  }
}