{"openapi":"3.0.1","info":{"title":"PolicyClient","description":"To manage and control access to your resources, you can define customized policies and assign them at a scope.","version":"2019-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Authorization/policyDefinitions":{"get":{"tags":["PolicyDefinitions"],"summary":"Retrieve built-in policy definitions","description":"This operation retrieves a list of all the built-in policy definitions.","operationId":"PolicyDefinitions_ListBuiltIn","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of built-in policy definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyDefinitionListResult"}}}}}}},"/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}":{"get":{"tags":["PolicyDefinitions"],"summary":"Retrieves a built-in policy definition.","description":"This operation retrieves the built-in policy definition with the given name.","operationId":"PolicyDefinitions_GetBuiltIn","parameters":[{"name":"policyDefinitionName","in":"path","description":"The name of the built-in policy definition to get.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns information about the built-in policy definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyDefinition"}}}}}}},"/providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policyDefinitions":{"get":{"tags":["PolicyDefinitions"],"summary":"Retrieve policy definitions in a management group","description":"This operation retrieves a list of all the policy definitions in a given management group.","operationId":"PolicyDefinitions_ListByManagementGroup","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"managementGroupId","in":"path","description":"The ID of the management group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of policy definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyDefinitionListResult"}}}}}}},"/providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}":{"get":{"tags":["PolicyDefinitions"],"summary":"Retrieve a policy definition in a management group.","description":"This operation retrieves the policy definition in the given management group with the given name.","operationId":"PolicyDefinitions_GetAtManagementGroup","parameters":[{"name":"policyDefinitionName","in":"path","description":"The name of the policy definition to get.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"managementGroupId","in":"path","description":"The ID of the management group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns information about the policy definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyDefinition"}}}}}},"put":{"tags":["PolicyDefinitions"],"summary":"Creates or updates a policy definition in a management group.","description":"This operation creates or updates a policy definition in the given management group with the given name.","operationId":"PolicyDefinitions_CreateOrUpdateAtManagementGroup","parameters":[{"name":"policyDefinitionName","in":"path","description":"The name of the policy definition to create.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"managementGroupId","in":"path","description":"The ID of the management group.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The policy definition properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyDefinition"}}},"required":true},"responses":{"201":{"description":"Created - Returns information about the policy definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyDefinition"}}}}}},"delete":{"tags":["PolicyDefinitions"],"summary":"Deletes a policy definition in a management group.","description":"This operation deletes the policy definition in the given management group with the given name.","operationId":"PolicyDefinitions_DeleteAtManagementGroup","parameters":[{"name":"policyDefinitionName","in":"path","description":"The name of the policy definition to delete.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"managementGroupId","in":"path","description":"The ID of the management group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions":{"get":{"tags":["PolicyDefinitions"],"summary":"Retrieves policy definitions in a subscription","description":"This operation retrieves a list of all the policy definitions in a given subscription.","operationId":"PolicyDefinitions_List","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of policy definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyDefinitionListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}":{"get":{"tags":["PolicyDefinitions"],"summary":"Retrieves a policy definition in a subscription.","description":"This operation retrieves the policy definition in the given subscription with the given name.","operationId":"PolicyDefinitions_Get","parameters":[{"name":"policyDefinitionName","in":"path","description":"The name of the policy definition to get.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns information about the policy definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyDefinition"}}}}}},"put":{"tags":["PolicyDefinitions"],"summary":"Creates or updates a policy definition in a subscription.","description":"This operation creates or updates a policy definition in the given subscription with the given name.","operationId":"PolicyDefinitions_CreateOrUpdate","parameters":[{"name":"policyDefinitionName","in":"path","description":"The name of the policy definition to create.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The policy definition properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyDefinition"}}},"required":true},"responses":{"201":{"description":"Created - Returns information about the policy definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyDefinition"}}}}}},"delete":{"tags":["PolicyDefinitions"],"summary":"Deletes a policy definition in a subscription.","description":"This operation deletes the policy definition in the given subscription with the given name.","operationId":"PolicyDefinitions_Delete","parameters":[{"name":"policyDefinitionName","in":"path","description":"The name of the policy definition to delete.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"}}}}},"components":{"schemas":{"PolicyDefinition":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the policy definition.","readOnly":true},"name":{"type":"string","description":"The name of the policy definition.","readOnly":true},"properties":{"$ref":"#/components/schemas/PolicyDefinitionProperties"},"type":{"type":"string","description":"The type of the resource (Microsoft.Authorization/policyDefinitions).","readOnly":true}},"description":"The policy definition."},"PolicyDefinitionListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","description":"An array of policy definitions.","items":{"$ref":"#/components/schemas/PolicyDefinition"}}},"description":"List of policy definitions."},"PolicyDefinitionProperties":{"type":"object","properties":{"description":{"type":"string","description":"The policy definition description."},"displayName":{"type":"string","description":"The display name of the policy definition."},"metadata":{"type":"object","description":"The policy definition metadata."},"mode":{"type":"string","description":"The policy definition mode. Some examples are All, Indexed, Microsoft.KeyVault.Data."},"parameters":{"type":"object","description":"Required if a parameter is used in policy rule."},"policyRule":{"type":"object","description":"The policy rule."},"policyType":{"type":"string","description":"The type of policy definition. Possible values are NotSpecified, BuiltIn, and Custom.","enum":["NotSpecified","BuiltIn","Custom"]}},"description":"The policy definition properties."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},"ManagementGroupIdParameter":{"name":"managementGroupId","in":"path","description":"The ID of the management group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}