{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DataShareManagementClient",
    "description" : "Creates a Microsoft.DataShare management client.",
    "version" : "2019-11-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.DataShare/ListInvitations" : {
      "get" : {
        "tags" : [ "ConsumerInvitation" ],
        "summary" : "List the invitations",
        "description" : "Lists invitations",
        "operationId" : "ConsumerInvitations_ListInvitations",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "The continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsumerInvitationList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/locations/{location}/RejectInvitation" : {
      "post" : {
        "tags" : [ "ConsumerInvitation" ],
        "summary" : "Rejects the invitation identified by invitationId",
        "description" : "Reject an invitation",
        "operationId" : "ConsumerInvitations_RejectInvitation",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the invitation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "An invitation payload",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConsumerInvitation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsumerInvitation"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/locations/{location}/consumerInvitations/{invitationId}" : {
      "get" : {
        "tags" : [ "ConsumerInvitation" ],
        "summary" : "Gets the invitation identified by invitationId",
        "description" : "Get an invitation",
        "operationId" : "ConsumerInvitations_Get",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the invitation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invitationId",
          "in" : "path",
          "description" : "An invitation id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsumerInvitation"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/operations" : {
      "get" : {
        "tags" : [ "Operation" ],
        "summary" : "Lists the available operations",
        "description" : "List of available operations",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataShare/accounts" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "List Accounts in a subscription",
        "description" : "List Accounts in Subscription",
        "operationId" : "Accounts_ListBySubscription",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "List Accounts in a resource group",
        "description" : "List Accounts in ResourceGroup",
        "operationId" : "Accounts_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Get an account under a resource group",
        "description" : "Get an account",
        "operationId" : "Accounts_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Account" ],
        "summary" : "Create an account in the given resource group",
        "description" : "Create an account",
        "operationId" : "Accounts_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The account payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Account"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              }
            }
          },
          "201" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Account" ],
        "summary" : "Delete an account",
        "description" : "DeleteAccount",
        "operationId" : "Accounts_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "Success"
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Account" ],
        "summary" : "Patch a given account",
        "description" : "Patch an account",
        "operationId" : "Accounts_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The account update parameters.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions" : {
      "get" : {
        "tags" : [ "ShareSubscription" ],
        "summary" : "List of available share subscriptions under an account.",
        "description" : "List share subscriptions in an account",
        "operationId" : "ShareSubscriptions_ListByAccount",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation Token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareSubscriptionList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}" : {
      "get" : {
        "tags" : [ "ShareSubscription" ],
        "summary" : "Get shareSubscription in an account.",
        "description" : "Get a shareSubscription in an account",
        "operationId" : "ShareSubscriptions_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the shareSubscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareSubscription"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ShareSubscription" ],
        "summary" : "Create shareSubscription in an account.",
        "description" : "Create a shareSubscription in an account",
        "operationId" : "ShareSubscriptions_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the shareSubscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "create parameters for shareSubscription",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ShareSubscription"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareSubscription"
                }
              }
            }
          },
          "201" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareSubscription"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ShareSubscription" ],
        "summary" : "Delete shareSubscription in an account.",
        "description" : "Delete a shareSubscription in an account",
        "operationId" : "ShareSubscriptions_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the shareSubscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "Success"
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/ConsumerSourceDataSets" : {
      "get" : {
        "tags" : [ "ShareSubscription" ],
        "summary" : "Get source dataSets of a shareSubscription.",
        "description" : "Get source dataSets of a shareSubscription",
        "operationId" : "ConsumerSourceDataSets_ListByShareSubscription",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the shareSubscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsumerSourceDataSetList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/Synchronize" : {
      "post" : {
        "tags" : [ "ShareSubscription" ],
        "summary" : "Initiate an asynchronous data share job",
        "description" : "Initiate a copy",
        "operationId" : "ShareSubscriptions_Synchronize",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of share subscription",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Synchronize payload",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Synchronize"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareSubscriptionSynchronization"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareSubscriptionSynchronization"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/cancelSynchronization" : {
      "post" : {
        "tags" : [ "ShareSubscription" ],
        "summary" : "Request cancellation of a data share snapshot",
        "description" : "Request to cancel a synchronization.",
        "operationId" : "ShareSubscriptions_CancelSynchronization",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the shareSubscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Share Subscription Synchronization payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ShareSubscriptionSynchronization"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareSubscriptionSynchronization"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareSubscriptionSynchronization"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings" : {
      "get" : {
        "tags" : [ "DataSetMapping" ],
        "summary" : "List DataSetMappings in a share subscription.",
        "description" : "List DataSetMappings in a share subscription",
        "operationId" : "DataSetMappings_ListByShareSubscription",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the share subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSetMappingList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings/{dataSetMappingName}" : {
      "get" : {
        "tags" : [ "DataSetMapping" ],
        "summary" : "Get DataSetMapping in a shareSubscription.",
        "description" : "Get a DataSetMapping in a shareSubscription",
        "operationId" : "DataSetMappings_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the shareSubscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataSetMappingName",
          "in" : "path",
          "description" : "The name of the dataSetMapping.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSetMapping"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DataSetMapping" ],
        "summary" : "Maps a source data set in the source share to a sink data set in the share subscription.\r\nEnables copying the data set from source to destination.",
        "description" : "Create a DataSetMapping ",
        "operationId" : "DataSetMappings_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the share subscription which will hold the data set sink.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataSetMappingName",
          "in" : "path",
          "description" : "The name of the data set mapping to be created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Destination data set configuration details.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DataSetMapping"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSetMapping"
                }
              }
            }
          },
          "201" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSetMapping"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "DataSetMapping" ],
        "summary" : "Delete DataSetMapping in a shareSubscription.",
        "description" : "Delete a DataSetMapping in a shareSubscription",
        "operationId" : "DataSetMappings_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the shareSubscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataSetMappingName",
          "in" : "path",
          "description" : "The name of the dataSetMapping.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "204" : {
            "description" : "Success"
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSourceShareSynchronizationSettings" : {
      "post" : {
        "tags" : [ "ShareSubscription" ],
        "summary" : "Get source share synchronization settings for a shareSubscription.",
        "description" : "Get synchronization settings set on a share",
        "operationId" : "ShareSubscriptions_ListSourceShareSynchronizationSettings",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the shareSubscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SourceShareSynchronizationSettingList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizationDetails" : {
      "post" : {
        "tags" : [ "ShareSubscription" ],
        "summary" : "List data set level details for a share subscription synchronization",
        "description" : "List synchronization details",
        "operationId" : "ShareSubscriptions_ListSynchronizationDetails",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the share subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Share Subscription Synchronization payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ShareSubscriptionSynchronization"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SynchronizationDetailsList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizations" : {
      "post" : {
        "tags" : [ "ShareSubscription" ],
        "summary" : "List Synchronizations in a share subscription.",
        "description" : "List synchronizations of a share subscription",
        "operationId" : "ShareSubscriptions_ListSynchronizations",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the share subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareSubscriptionSynchronizationList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers" : {
      "get" : {
        "tags" : [ "Trigger" ],
        "summary" : "List Triggers in a share subscription.",
        "description" : "List Triggers in a share subscription",
        "operationId" : "Triggers_ListByShareSubscription",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the share subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TriggerList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers/{triggerName}" : {
      "get" : {
        "tags" : [ "Trigger" ],
        "summary" : "Get Trigger in a shareSubscription.",
        "description" : "Get a Trigger in a shareSubscription",
        "operationId" : "Triggers_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the shareSubscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "triggerName",
          "in" : "path",
          "description" : "The name of the trigger.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Trigger"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Trigger" ],
        "summary" : "This method creates a trigger for a share subscription",
        "description" : "Create a Trigger ",
        "operationId" : "Triggers_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the share subscription which will hold the data set sink.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "triggerName",
          "in" : "path",
          "description" : "The name of the trigger.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Trigger details.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Trigger"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Trigger"
                }
              }
            }
          },
          "201" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Trigger"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Trigger" ],
        "summary" : "Delete Trigger in a shareSubscription.",
        "description" : "Delete a Trigger in a shareSubscription",
        "operationId" : "Triggers_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareSubscriptionName",
          "in" : "path",
          "description" : "The name of the shareSubscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "triggerName",
          "in" : "path",
          "description" : "The name of the trigger.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "Success"
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares" : {
      "get" : {
        "tags" : [ "Share" ],
        "summary" : "List of available shares under an account.",
        "description" : "List shares in an account",
        "operationId" : "Shares_ListByAccount",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation Token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}" : {
      "get" : {
        "tags" : [ "Share" ],
        "summary" : "Get a specified share",
        "description" : "Get a share ",
        "operationId" : "Shares_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share to retrieve.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Share"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Share" ],
        "summary" : "Create a share in the given account.",
        "description" : "Create a share ",
        "operationId" : "Shares_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The share payload",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Share"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Share"
                }
              }
            }
          },
          "201" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Share"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Share" ],
        "summary" : "Deletes a share",
        "description" : "Delete a share ",
        "operationId" : "Shares_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "Success"
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/dataSets" : {
      "get" : {
        "tags" : [ "DataSet" ],
        "summary" : "List DataSets in a share.",
        "description" : "List DataSets in a share",
        "operationId" : "DataSets_ListByShare",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSetList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/dataSets/{dataSetName}" : {
      "get" : {
        "tags" : [ "DataSet" ],
        "summary" : "Get DataSet in a share.",
        "description" : "Get a DataSet in a share",
        "operationId" : "DataSets_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataSetName",
          "in" : "path",
          "description" : "The name of the dataSet.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSet"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DataSet" ],
        "summary" : "Adds a new data set to an existing share or updates it if existing.",
        "description" : "Create a DataSet ",
        "operationId" : "DataSets_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share to add the data set to.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataSetName",
          "in" : "path",
          "description" : "The name of the dataSet.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The new data set information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DataSet"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSet"
                }
              }
            }
          },
          "201" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSet"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "DataSet" ],
        "summary" : "Delete DataSet in a share.",
        "description" : "Delete a DataSet in a share",
        "operationId" : "DataSets_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataSetName",
          "in" : "path",
          "description" : "The name of the dataSet.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "Success"
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/invitations" : {
      "get" : {
        "tags" : [ "Invitation" ],
        "summary" : "List all Invitations in a share.",
        "description" : "List invitations in a share",
        "operationId" : "Invitations_ListByShare",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "The continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvitationList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/invitations/{invitationName}" : {
      "get" : {
        "tags" : [ "Invitation" ],
        "summary" : "Get Invitation in a share.",
        "description" : "Get an invitation in a share",
        "operationId" : "Invitations_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invitationName",
          "in" : "path",
          "description" : "The name of the invitation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Invitation"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Invitation" ],
        "summary" : "Sends a new invitation to a recipient to access a share.",
        "description" : "Create an invitation ",
        "operationId" : "Invitations_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share to send the invitation for.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invitationName",
          "in" : "path",
          "description" : "The name of the invitation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Invitation details.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Invitation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Invitation"
                }
              }
            }
          },
          "201" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Invitation"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Invitation" ],
        "summary" : "Delete Invitation in a share.",
        "description" : "Delete an invitation in a share",
        "operationId" : "Invitations_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invitationName",
          "in" : "path",
          "description" : "The name of the invitation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "204" : {
            "description" : "Success"
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizationDetails" : {
      "post" : {
        "tags" : [ "Share" ],
        "summary" : "List data set level details for a share synchronization",
        "description" : "List synchronization details",
        "operationId" : "Shares_ListSynchronizationDetails",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Share Synchronization payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ShareSynchronization"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SynchronizationDetailsList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizations" : {
      "post" : {
        "tags" : [ "Share" ],
        "summary" : "List Synchronizations in a share",
        "description" : "List synchronizations of a share",
        "operationId" : "Shares_ListSynchronizations",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareSynchronizationList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataShareError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions" : {
      "get" : {
        "tags" : [ "Share" ],
        "summary" : "List of available share subscriptions to a provider share.",
        "description" : "List share subscriptions in a provider share",
        "operationId" : "ProviderShareSubscriptions_ListByShare",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the share account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shareName",
          "in" : "path",
          "description" : "The name of the share.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version to use.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skipToken",
          "in" : "query",
          "description" : "Continuation Token",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderShareSubscriptionList"
                }
              }
            }
          },
          "default" : {
            "description" : "An error response received from the Microsoft.DataShare resource provider.",
[...]
