{"openapi":"3.0.1","info":{"title":"Authentiq Connect API","description":"Authentiq Connect OAuth 2.0 and OpenID Connect API reference.\nLearn about [Authentiq ID](https://www.authentiq.com/) or check out the [Authentiq Connect](https://developers.authentiq.com) developer documentation.\n","termsOfService":"https://www.authentiq.com/terms","contact":{"name":"Team Authentiq","url":"https://www.authentiq.com/","email":"hello@authentiq.com"},"version":"1.0"},"externalDocs":{"description":"Authentiq Developer Docs","url":"https://developers.authentiq.com/"},"servers":[{"url":"https://connect.authentiq.io/"}],"paths":{"/authorize":{"get":{"tags":["Authentication"],"summary":"Authenticate a user","description":"Start a session with Authentiq Connect to authenticate a user.\n\n```\nGET https://connect.authentiq.io/authorize?client_id=<your-client-id>&response_type=code+id_token&scope=openid+email&redirect_uri=<your-redirect-uri>&state=0123456789\n```\n\nThis endpoint also supports the POST method.\n","externalDocs":{"description":"OIDC Authorization Endpoint","url":"http://openid.net/specs/openid-connect-core-1_0.html#AuthorizationEndpoint"},"operationId":"authorize","parameters":[{"name":"client_id","in":"query","description":"A client ID obtained from the [Dashboard](https://dashboard.authentiq.com/).\n","required":true,"schema":{"type":"string"}},{"name":"response_type","in":"query","description":"The OIDC response type to use for this authentication flow. Valid choices are `code`, `id_token`, `token`, `token id_token`, `code id_token` `code token` and `code token id_token`, but a client can be configured with a more restricted set.\n","required":true,"schema":{"type":"string"}},{"name":"scope","in":"query","description":"The space-separated identity claims to request from the end-user. Always include `openid` as a scope for compatibility with OIDC.\n","required":true,"schema":{"type":"string"}},{"name":"redirect_uri","in":"query","description":"The location to redirect to after (un)successful authentication. See OIDC for the parameters passed in the query string (`response_mode=query`) or as fragments (`response_mode=fragment`). Unless the client is in test-mode this must be one of the registered redirect URLs.\n","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","description":"An opaque string that will be passed back to the redirect URL and therefore can be used to communicate client side state and prevent CSRF attacks.\n","required":true,"schema":{"type":"string"}},{"name":"response_mode","in":"query","description":"Whether to append parameters to the redirect URL in the query string (`query`) or as fragments (`fragment`). This option usually has a sensible default for each of the response types.\n","schema":{"type":"string"}},{"name":"nonce","in":"query","description":"An nonce provided by the client (and opaque to Authentiq Connect) that will be included in any ID Token generated for this session. Clients should use the nonce to mitigate replay attacks.\n","schema":{"type":"string"}},{"name":"display","in":"query","description":"The authentication display mode, which can be one of `page`, `popup` or `modal`. Defaults to `page`.\n","schema":{"type":"string","default":"page"}},{"name":"prompt","in":"query","description":"Space-delimited, case sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for reauthentication and consent. The supported values are: `none`, `login`, `consent`. If `consent` the end-user is asked to (re)confirm what claims they share. Use `none` to check for an active session.\n","schema":{"type":"string","default":"login"}},{"name":"max_age","in":"query","description":"Specifies the allowable elapsed time in seconds since the last time the end-user was actively authenticated.\n","schema":{"type":"integer","default":0}},{"name":"ui_locales","in":"query","description":"Specifies the preferred language to use on the authorization page, as a space-separated list of BCP47 language tags. Ignored at the moment.\n","schema":{"type":"string"}}],"responses":{"302":{"description":"A successful or erroneous authentication response.\n"},"303":{"description":"*Sign in with Authentiq* page, popup or modal.\n"}}}},"/client":{"get":{"tags":["Client Management"],"summary":"List clients","description":"Retrieve a list of clients.\n","operationId":"client","responses":{"200":{"description":"A list of Client Objects.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Client"}}}}},"default":{"description":"OAuth 2.0 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2Error"}}}}},"security":[{"client_registration_token":null},{"oauth_code":null},{"oauth_implicit":null}]},"post":{"tags":["Client Management"],"summary":"Register a client","description":"Register a new client with this Authentiq Connect provider.\n\nThis endpoint is compatible with [OIDC's Client Registration](http://openid.net/specs/openid-connect-registration-1_0.html) extension.\n","externalDocs":{"description":"OIDC Client Registration Endpoint","url":"http://openid.net/specs/openid-connect-registration-1_0.html#ClientRegistration"},"operationId":"createClient","requestBody":{"description":"Client Object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}},"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Client"}}},"required":true},"responses":{"201":{"description":"Client created","headers":{"Location":{"description":"URL of new client resource","schema":{"type":"string"}}}},"default":{"description":"Problem Detail error response","content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}},"text/html":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"client_registration_token":null},{"oauth_code":null},{"oauth_implicit":null}]}},"/client/{client_id}":{"get":{"tags":["Client Management"],"summary":"View a client","description":"Retrieve the configuration of a previously registered client.\n","externalDocs":{"description":"OIDC Client Configuration Endpoint","url":"http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"},"operationId":"getClient","parameters":[{"name":"client_id","in":"path","description":"Client identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Client found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"default":{"description":"OAuth 2.0 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2Error"}}}}},"security":[{"client_registration_token":null},{"oauth_code":null},{"oauth_implicit":null}]},"put":{"tags":["Client Management"],"summary":"Update a client","description":"Update the configuration of a previously registered client.\n","externalDocs":{"description":"OIDC Client Configuration Endpoint","url":"http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"},"operationId":"updateClient","parameters":[{"name":"client_id","in":"path","description":"Client identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Client Object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}},"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Client"}}},"required":true},"responses":{"200":{"description":"Client updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"default":{"description":"Problem Detail error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"client_registration_token":null},{"oauth_code":null},{"oauth_implicit":null}]},"delete":{"tags":["Client Management"],"summary":"Delete a client","description":"Delete a previously registered client.\n","externalDocs":{"description":"OIDC Client Configuration Endpoint","url":"http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"},"operationId":"clientClient_id","parameters":[{"name":"client_id","in":"path","description":"Client identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Client deleted"},"default":{"description":"Problem Detail error response","content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}},"text/html":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"client_registration_token":null},{"oauth_code":null},{"oauth_implicit":null}]}},"/token":{"post":{"tags":["Authentication"],"summary":"Obtain an ID Token","description":"Exchange en authorization code for an ID Token or Access Token.\n\nThis endpoint supports both `client_secret_basic` (default) and `client_secret_basic` authentication methods, as specified by the client's `token_endpoint_auth_method`.\n","externalDocs":{"description":"OIDC Token Endpoint","url":"http://openid.net/specs/openid-connect-core-1_0.html#TokenEndpoint"},"operationId":"token","parameters":[{"name":"Authorization","in":"header","description":"HTTP Basic authorization header.\n","schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["client_id","client_secret","code","grant_type","redirect_uri"],"type":"object","properties":{"client_id":{"type":"string","description":"The registered client ID.\n"},"client_secret":{"type":"string","description":"The registered client ID secret.\n","format":"password"},"grant_type":{"type":"string","description":"The authorization grant type, must be `authorization_code`.\n"},"code":{"type":"string","description":"The authorization code previously obtained from the Authentication endpoint.\n"},"redirect_uri":{"type":"string","description":"The redirect URL that was used previously with the Authentication endpoint.\n"}}}}},"required":true},"responses":{"200":{"description":"Token response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"}}}},"400":{"description":"OAuth 2.0 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2Error"}}}},"401":{"description":"OAuth 2.0 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2Error"}}}}}}},"/userinfo":{"get":{"tags":["Authentication"],"summary":"Retrieve a user profile","description":"Use this endpoint to retrieve a user's profile in case you are unable to parse an ID Token or you've not already obtained enough details from the ID Token via the Token Endpoint.\n","externalDocs":{"description":"OIDC UserInfo Endpoint","url":"http://openid.net/specs/openid-connect-core-1_0.html#UserInfo"},"operationId":"userInfo","responses":{"200":{"description":"UserInfo response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInfo"}}}},"401":{"description":"OAuth 2.0 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2Error"}}}},"default":{"description":"OAuth 2.0 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2Error"}}}}},"security":[{"oauth_code":["oidc","email","phone","address","aq:location","aq:name","aq:push"]},{"oauth_implicit":["oidc","email","phone","address","aq:location","aq:name","aq:push"]}]}},"/{client_id}/iframe":{"get":{"tags":["Session Management"],"summary":"Include a session iframe","description":"An OpenID Connect Session Management iframe to facilitate e.g. single sign-on or remote logouts.\n\nThe iframe implements the OIDC postMessage-based [change notification protocol](http://openid.net/specs/openid-connect-session-1_0.html#ChangeNotification) via which a client can receive notifications about session state changes.\n","externalDocs":{"description":"OIDC OP Session Management Iframe","url":"http://openid.net/specs/openid-connect-session-1_0.html#OPiframe"},"operationId":"authorizeIframe","parameters":[{"name":"client_id","in":"path","description":"Client identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","headers":{"Cache-Control":{"description":"public, max-age=7200","schema":{"type":"string"}}}}}}}},"components":{"schemas":{"Address":{"type":"object","properties":{"country":{"type":"string"},"locality":{"type":"string"},"postal_code":{"type":"string"},"region":{"type":"string"},"street_address":{"type":"string"}},"description":"OIDC Address structure"},"Client":{"required":["client_name","client_uri"],"type":"object","properties":{"application_type":{"type":"string"},"client_id":{"type":"string"},"client_name":{"type":"string"},"client_uri":{"type":"string"},"contacts":{"type":"array","items":{"type":"string"}},"default_max_age":{"type":"integer","format":"int64"},"default_scopes":{"type":"array","items":{"type":"string"}},"grant_types":{"type":"array","items":{"type":"string"}},"logo_uri":{"type":"string"},"policy_uri":{"type":"string"},"redirect_uris":{"type":"array","items":{"type":"string"}},"response_types":{"type":"array","items":{"type":"string"}},"tos_uri":{"type":"string"}},"description":"Client object"},"OAuth2Error":{"required":["error"],"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"}},"description":"Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n"},"ProblemDetail":{"required":["status","type"],"type":"object","properties":{"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.\n"},"status":{"type":"integer","description":"The HTTP status code for this occurrence of the problem.\n"},"title":{"type":"string","description":"Human-readable summary of the problem type.\n"},"type":{"type":"string","default":"about:blank"}},"description":"HTTP Problem Detail\n"},"Session":{"type":"object","properties":{"authenticated_at":{"type":"string","format":"date-time"},"client_id":{"type":"string"},"client_name":{"type":"string"},"client_uri":{"type":"string"},"concluded_at":{"type":"string","format":"date-time"},"connected_at":{"type":"string","format":"date-time"},"contacts":{"type":"array","items":{"type":"string"}},"created_at":{"type":"string"},"deleted_at":{"type":"string","format":"date-time"},"logo_uri":{"type":"string"},"nonce":{"type":"string"},"policy_uri":{"type":"string"},"redirect_uri":{"type":"string"},"response_mode":{"type":"string"},"response_type":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"scopes_optional":{"type":"array","items":{"type":"string"}},"scopes_required":{"type":"array","items":{"type":"string"}},"scopes_seen":{"type":"array","items":{"type":"string"}},"scopes_signed":{"type":"array","items":{"type":"string"}},"session_id":{"type":"string"},"session_state":{"type":"string"},"session_uri":{"type":"string"},"sub":{"type":"string"},"tokens_seen":{"type":"array","items":{"type":"string"}},"tos_uri":{"type":"string"},"version":{"type":"integer"}},"description":"Session object"},"Token":{"required":["token_type"],"type":"object","properties":{"access_token":{"type":"string","description":"The access token issued by the authorization server."},"expires_at":{"type":"integer","description":"The time the access token will expire in seconds since epoch.","format":"int64"},"expires_in":{"type":"integer","description":"The lifetime in seconds of the access token.","format":"int32"},"id_token":{"type":"string","description":"ID Token value associated with the authenticated session."},"refresh_token":{"type":"string","description":"The refresh token issued to the client, if any."},"scope":{"type":"string","description":"The scope of the granted tokens."},"token_type":{"type":"string"}},"description":"Successful token response\n"},"UserInfo":{"required":["sub"],"type":"object","properties":{"address":{"$ref":"#/components/schemas/Address"},"aq:location":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/Address"},"latitude":{"type":"number","format":"float"},"longitude":{"type":"number","format":"float"}},"description":"Geolocation structure"},"email":{"type":"string"},"email_verified":{"type":"boolean"},"family_name":{"type":"string"},"given_name":{"type":"string"},"name":{"type":"string"},"phone_number":{"type":"string"},"phone_number_verified":{"type":"boolean"},"sub":{"type":"string"}},"description":"OIDC UserInfo structure"}},"responses":{"OAuth2Error":{"description":"OAuth 2.0 error response","content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/OAuth2Error"}},"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2Error"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/OAuth2Error"}},"text/html":{"schema":{"$ref":"#/components/schemas/OAuth2Error"}}}},"ProblemDetail":{"description":"Problem Detail error response","content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}},"text/html":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"Token":{"description":"Token response","content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Token"}},"application/json":{"schema":{"$ref":"#/components/schemas/Token"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/Token"}},"text/html":{"schema":{"$ref":"#/components/schemas/Token"}}}},"UserInfo":{"description":"UserInfo response","content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/UserInfo"}},"application/json":{"schema":{"$ref":"#/components/schemas/UserInfo"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/UserInfo"}},"text/html":{"schema":{"$ref":"#/components/schemas/UserInfo"}}}}},"parameters":{"client_id":{"name":"client_id","in":"path","description":"Client identifier","required":true,"schema":{"type":"string"}}},"requestBodies":{"Client":{"description":"Client Object","content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Client"}},"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}},"required":true}},"securitySchemes":{"client_registration_token":{"type":"apiKey","description":"Client management via registration token.","name":"Authorization","in":"header"},"client_secret":{"type":"oauth2","description":"Session management by confidential clients."},"oauth_code":{"type":"oauth2","description":"End-user authentication."},"oauth_implicit":{"type":"oauth2","description":"End-user authentication."},"user_jwt":{"type":"oauth2","description":"Session management by Authentiq ID."}}}}