{"openapi":"3.0.1","info":{"title":"RecoveryServicesBackupClient","version":"2016-08-10"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.RecoveryServices/operations":{"get":{"tags":["Operations"],"description":"Returns the list of available operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientDiscoveryResponse"}}}}}}}},"components":{"schemas":{"ClientDiscoveryDisplay":{"type":"object","properties":{"description":{"type":"string","description":"Description of the operation having details of what operation is about."},"operation":{"type":"string","description":"Operations Name itself."},"provider":{"type":"string","description":"Name of the provider for display purposes"},"resource":{"type":"string","description":"ResourceType for which this Operation can be performed."}},"description":"Localized display information of an operation."},"ClientDiscoveryForLogSpecification":{"type":"object","properties":{"blobDuration":{"type":"string","description":"blob duration of shoebox log specification"},"displayName":{"type":"string","description":"Localized display name"},"name":{"type":"string","description":"Name for shoebox log specification."}},"description":"Class to represent shoebox log specification in json client discovery."},"ClientDiscoveryForProperties":{"type":"object","properties":{"serviceSpecification":{"$ref":"#/components/schemas/ClientDiscoveryForServiceSpecification"}},"description":"Class to represent shoebox properties in json client discovery."},"ClientDiscoveryForServiceSpecification":{"type":"object","properties":{"logSpecifications":{"type":"array","description":"List of log specifications of this operation.","items":{"$ref":"#/components/schemas/ClientDiscoveryForLogSpecification"}}},"description":"Class to represent shoebox service specification in json client discovery."},"ClientDiscoveryResponse":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to the next chunk of Response."},"value":{"type":"array","description":"List of available operations.","items":{"$ref":"#/components/schemas/ClientDiscoveryValueForSingleApi"}}},"description":"Operations List response which contains list of available APIs."},"ClientDiscoveryValueForSingleApi":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/ClientDiscoveryDisplay"},"name":{"type":"string","description":"Name of the Operation."},"origin":{"type":"string","description":"The intended executor of the operation;governs the display of the operation in the RBAC UX and the audit logs UX"},"properties":{"$ref":"#/components/schemas/ClientDiscoveryForProperties"}},"description":"Available operation details."}},"parameters":{"ApiVersion":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}