{"openapi":"3.0.1","info":{"title":"NPR Sponsorship Service","description":"Sponsorship for non-NPR One client applications","termsOfService":"https://dev.npr.org/guide/prerequisites/terms-of-use","contact":{"name":"NPR One Enterprise Team","url":"https://dev.npr.org","email":"NPROneEnterprise@npr.org"},"version":"2"},"externalDocs":{"description":"Learn more at the NPR One Developer Center","url":"https://dev.npr.org/guide/app-experience/sponsorship/"},"servers":[{"url":"https://sponsorship.api.npr.org/"}],"paths":{"/v2/ads":{"get":{"tags":["sponsorship"],"summary":"Request VAST sponsorship units","description":"**Not** for use by NPR One clients (for whom sponsorship is already integrated into the Listening Service), this endpoint is designed to be used by our other client applications to request sponsorship on behalf of a user. Sponsorship units are returned in the form of VAST XML. It is worth noting that this endpoint attempts to always return XML, even in the case of exceptions.\n\nThe default behavior of this endpoint is asynchronous; on an initial request, a call to our external sponsorship provider is placed on a queue, which is typically processed within 3 minutes. Once the sponsorship call is received and processed, the returned sponsorship units are placed in a cache on our server for the current user. Subsequent calls to this endpoint will return VAST sponsorship units from this cache until tracking information is submitted, which removes the ad from the cache and will automatically request additional ads asynchronously if there are fewer than a certain number remaining in the cache.\n\nFor development purposes, it's worth noting that there is currently no way to clear a user's cache without submitting some form of tracking.","operationId":"getAds","parameters":[{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}},{"name":"X-Advertising-ID","in":"header","description":"A device-specific advertising identifier, if possible. Apple's IDFA is an example.","schema":{"type":"string"}},{"name":"forceResult","in":"query","description":"Whether to force a synchronous call to our external sponsorship provider; the default behavior is asynchronous.","schema":{"type":"boolean"}},{"name":"adCount","in":"query","description":"How many sponsorship units to request in one call; if left unspecified, the default behavior is to return only 1.","schema":{"maximum":5,"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Request completed successfully; a VAST XML document is returned. Note that this response will only be returned if either `force=true` was passed in the querystring, or a call to get sponsorship was previously made, and ads now exist in the cache for this user; otherwise, the 202 response is returned.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/VASTXml"}}}},"202":{"description":"Request accepted. Check back later for actual ads."},"400":{"description":"A bad request; generally, one or more parameters passed in were incorrect or missing","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorXmlDocument"}}}},"500":{"description":"A server error","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorXmlDocument"}}}}}},"post":{"tags":["sponsorship"],"summary":"Record tracking data for VAST sponsorship units","description":"**Not** for use by NPR One clients (for whom sponsorship is already integrated into the Listening Service), this endpoint is designed to be used by our other client applications to submit tracking information for sponsorship units obtained from the `GET /sponsorship/v2/ads` endpoint.\n\nThe tracking information should be submitted in the body of the request in the form of a JSON object following the Collection.Doc+JSON specification.","operationId":"receiveAdTracking","parameters":[{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}},{"name":"X-Advertising-ID","in":"header","description":"A device-specific advertising identifier, if possible. Apple's IDFA is an example.","schema":{"type":"string"}}],"requestBody":{"description":"A JSON object representing sponsorship tracking data to submit to our external provider.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAdDocument"}}},"required":true},"responses":{"204":{"description":"Request completed successfully, but there is nothing that we need to return to the caller."},"400":{"description":"A bad request; generally, one or more parameters passed in were incorrect or missing","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"A server error","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"AbstractCDocLink":{"allOf":[{"$ref":"#/components/schemas/AbstractLink"},{"required":["content-type"],"type":"object","properties":{"content-type":{"type":"string","description":"The MIME type of the response of this link"}}}]},"AbstractLink":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"The link to be followed","format":"uri"}}},"AdTrackingData":{"required":["adId","event"],"type":"object","properties":{"adId":{"type":"string","description":"The VAST Ad node `id` attribute value, (e.g. AdswizzAd12345)"},"event":{"type":"string","description":"The user-interaction event to submit tracking for","default":"start","enum":["start","firstQuartile","midpoint","thirdQuartile","complete"]}},"description":"All the information needed for the Sponsorship Service to send back tracking information to our external sponsorship provider"},"AdTrackingDocument":{"description":"All the information needed for the Sponsorship Service to send back tracking information to our external sponsorship provider","allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/AdTrackingData"},"items":{"type":"array","description":"Not used","items":{"type":"object"}}}}]},"AdXml":{"type":"object","properties":{"InLine":{"$ref":"#/components/schemas/InLineXml"},"id":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"Ad","namespace":"http://www.w3.org/2001/XMLSchema-instance"}},"Affiliation":{"required":["following","href","id"],"type":"object","properties":{"daysSinceLastListen":{"type":"integer","description":"The number of days since a user last listened to a story from this aggregation. Absent if user never listened to the aggregation.","format":"int32"},"following":{"type":"boolean","description":"Whether or not the user is following the aggregation. When changing affiliation status, the client is expected to toggle this value and then send the entire object back.","default":false},"href":{"type":"string","description":"A link to more details about the program from the NPR Story API"},"id":{"type":"string","description":"A unique identifier for the aggregation (program)"},"notif_following":{"type":"array","description":"The topic in Firebase Cloud Messaging to which the device should subscribe if it supports notifications and the user wants notifications about the podcasts they follow.","items":{"type":"string"}},"notif_rated":{"type":"array","description":"The topic in Firebase Cloud Messaging to which the device should subscribe if it supports notifications and the user wants notifications about the podcasts they have highly rated.","items":{"type":"string"}},"rating":{"type":"number","description":"The user's average rating for this affiliation on a scale of 0-1. Absent if user never listened to the aggregation.","format":"float"},"title":{"type":"string","description":"The title for the aggregation (program)"}},"description":"A program (aggregation) that a given user has shown an affiliation with"},"CollectionDocument":{"required":["attributes","errors","href","items","links","version"],"type":"object","properties":{"attributes":{"type":"object"},"errors":{"type":"array","description":"A list of encountered errors, ignored on POST, PUT","items":{"type":"object"}},"href":{"type":"string","description":"A URL representation of the resource; should generally be ignored by clients unless noted otherwise"},"items":{"type":"array","items":{"type":"object"}},"links":{"type":"object"},"version":{"type":"string","description":"The version of the Collection.Doc+JSON spec being used","default":"1.0"}},"description":"Base Collection.Doc+JSON output"},"CompanionXml":{"type":"object","properties":{"CompanionClickThrough":{"type":"string"},"StaticResource":{"$ref":"#/components/schemas/StaticResourceXml"},"TrackingEvents":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/TrackingXml"}},"height":{"type":"integer","format":"int32","xml":{"attribute":true}},"id":{"type":"integer","format":"int32","xml":{"attribute":true}},"width":{"type":"integer","format":"int32","xml":{"attribute":true}}},"xml":{"name":"Companion"}},"CreativeXml":{"required":["sequence"],"type":"object","properties":{"CompanionAds":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/CompanionXml"}},"Linear":{"$ref":"#/components/schemas/LinearXml"},"id":{"type":"integer","format":"int32","xml":{"attribute":true}},"sequence":{"type":"integer","format":"int32","xml":{"attribute":true},"default":1}},"xml":{"name":"Creative"}},"Error":{"required":["code"],"type":"object","properties":{"code":{"type":"integer","description":"The error code","format":"int32"},"debug":{"type":"string","description":"Additional debug information if debug mode is turned on"},"text":{"type":"string","description":"The error description"}},"description":"A serialized version of any error encountered when processing this request"},"ErrorDocument":{"description":"A Collection.doc+JSON representation of an error result from an API call","allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"type":"object","description":"Ignore; will be empty for errors"},"errors":{"type":"array","description":"A list of encountered errors, ignored on POST, PUT","items":{"$ref":"#/components/schemas/Error"}},"items":{"type":"array","description":"Ignore; will be empty for errors","items":{"type":"object"}},"links":{"type":"object","description":"Ignore; will be empty for errors"}}}]},"ErrorXmlDocument":{"required":["error","version"],"type":"object","properties":{"error":{"type":"array","xml":{"wrapped":false},"items":{"type":"string","description":"An individual error, presented in XML format","xml":{"name":"error"}}},"version":{"type":"string","xml":{"attribute":true},"default":"1.0"}},"description":"One or more errors represented in a VAST XML document","xml":{"name":"VAST"}},"ImpressionXml":{"required":["id"],"type":"string","properties":{"id":{"type":"integer","format":"int32","xml":{"attribute":true}}},"xml":{"name":"Impression"}},"InLineXml":{"type":"object","properties":{"AdSystem":{"type":"string"},"AdTitle":{"type":"string"},"Category":{"type":"string"},"Creatives":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/CreativeXml"}},"Description":{"type":"string"},"Extensions":{"type":"array","xml":{"wrapped":true},"items":{"type":"string","xml":{"name":"Extension"}}},"Impression":{"type":"array","xml":{"wrapped":false},"items":{"$ref":"#/components/schemas/ImpressionXml"}}}},"LinearXml":{"type":"object","properties":{"Duration":{"type":"string"},"MediaFiles":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/MediaFileXml"}},"TrackingEvents":{"type":"array","xml":{"wrapped":true},"items":{"$ref":"#/components/schemas/TrackingXml"}}},"xml":{"name":"Linear"}},"MediaFileXml":{"type":"string","properties":{"bitrate":{"type":"integer","format":"int32","xml":{"attribute":true},"default":320000},"delivery":{"type":"string","xml":{"attribute":true},"default":"progressive"},"type":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"MediaFile"}},"StaticResourceXml":{"type":"string","properties":{"creativeType":{"type":"string","xml":{"attribute":true},"default":"image/jpeg"}},"xml":{"name":"StaticResource"}},"TrackingXml":{"type":"string","properties":{"event":{"type":"string","xml":{"attribute":true},"default":"start","enum":["start","firstQuartile","midpoint","thirdQuartile","complete","creativeView"]}},"xml":{"name":"Tracking"}},"UserAdData":{"type":"object","properties":{"ipAddress":{"type":"string","description":"The TCP/IP address of the client making the request. The server will attempt to grab this from the headers, so it probably does not need to be passed in the body unless you get back an error message stating that we were unable to determine an IP address from the request."},"userAgent":{"type":"string","description":"An identifying string for the browser making the request. The server will attempt to grab this from the headers, so it probably does not need to be passed in the body unless you get back an error message stating that we were unable to determine a User-Agent from the request."}},"description":"All information relevant to a user who has requested sponsorship or submitted tracking information"},"UserAdDocument":{"description":"All information relevant to a user who has requested sponsorship or submitted tracking information","allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/UserAdData"},"items":{"type":"array","description":"All the information needed for the Sponsorship Service to send back tracking information to our external sponsorship provider","items":{"$ref":"#/components/schemas/AdTrackingDocument"}}}}]},"VASTXml":{"required":["version"],"type":"object","properties":{"Ad":{"$ref":"#/components/schemas/AdXml"},"version":{"type":"string","xml":{"attribute":true},"default":"1.0"}},"description":"Please visit <a href='https://www.iab.com/guidelines/digital-video-ad-serving-template-vast/' target='_blank'>https://www.iab.com/guidelines/digital-video-ad-serving-template-vast/</a> for more information on the VAST XML specification.","xml":{"name":"VAST"}}},"responses":{"400WithDocument":{"description":"A bad request; generally, one or more parameters passed in were incorrect or missing","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"401WithDocument":{"description":"The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"404WithDocument":{"description":"The resource with the requested ID could not be found, and the server was unable to complete the request.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"429WithDocument":{"description":"The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"500WithDocument":{"description":"A server error","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"503WithDocument":{"description":"The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.","headers":{"Retry-After":{"description":"The predicted time the system will be back up","schema":{"type":"string","format":"date-time"}}},"content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}}},"parameters":{"Authorization":{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}},"X-Advertising-ID":{"name":"X-Advertising-ID","in":"header","description":"A device-specific advertising identifier, if possible. Apple's IDFA is an example.","schema":{"type":"string"}}},"securitySchemes":{"oauth2":{"type":"oauth2"}}}}