{"openapi":"3.0.1","info":{"title":"AuthorizationManagementClient","description":"Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These calls handle provider operations.","version":"2018-01-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Authorization/providerOperations":{"get":{"tags":["ProviderOperationsMetadata"],"description":"Gets provider operations metadata for all resource providers.","operationId":"ProviderOperationsMetadata_List","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specifies whether to expand the values.","schema":{"type":"string","default":"resourceTypes"}}],"responses":{"200":{"description":"OK - Returns an array of the operations metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderOperationsMetadataListResult"}}}}}}},"/providers/Microsoft.Authorization/providerOperations/{resourceProviderNamespace}":{"get":{"tags":["ProviderOperationsMetadata"],"description":"Gets provider operations metadata for the specified resource provider.","operationId":"ProviderOperationsMetadata_Get","parameters":[{"name":"resourceProviderNamespace","in":"path","description":"The namespace of the resource provider.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specifies whether to expand the values.","schema":{"type":"string","default":"resourceTypes"}}],"responses":{"200":{"description":"OK - Returns the operations metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderOperationsMetadata"}}}}}}}},"components":{"schemas":{"ProviderOperation":{"type":"object","properties":{"description":{"type":"string","description":"The operation description."},"displayName":{"type":"string","description":"The operation display name."},"isDataAction":{"type":"boolean","description":"The dataAction flag to specify the operation type."},"name":{"type":"string","description":"The operation name."},"origin":{"type":"string","description":"The operation origin."},"properties":{"type":"object","description":"The operation properties."}},"description":"Operation"},"ProviderOperationsMetadata":{"type":"object","properties":{"displayName":{"type":"string","description":"The provider display name."},"id":{"type":"string","description":"The provider id."},"name":{"type":"string","description":"The provider name."},"operations":{"type":"array","description":"The provider operations.","items":{"$ref":"#/components/schemas/ProviderOperation"}},"resourceTypes":{"type":"array","description":"The provider resource types","items":{"$ref":"#/components/schemas/ResourceType"}},"type":{"type":"string","description":"The provider type."}},"description":"Provider Operations metadata"},"ProviderOperationsMetadataListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","description":"The list of providers.","items":{"$ref":"#/components/schemas/ProviderOperationsMetadata"}}},"description":"Provider operations metadata list"},"ResourceType":{"type":"object","properties":{"displayName":{"type":"string","description":"The resource type display name."},"name":{"type":"string","description":"The resource type name."},"operations":{"type":"array","description":"The resource type operations.","items":{"$ref":"#/components/schemas/ProviderOperation"}}},"description":"Resource Type"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"ResourceProviderNamespaceParameter":{"name":"resourceProviderNamespace","in":"path","description":"The namespace of the resource provider.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}