{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-11-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualRouters" : {
      "get" : {
        "tags" : [ "VirtualRouters" ],
        "description" : "Gets all the Virtual Routers in a subscription.",
        "operationId" : "VirtualRouters_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of Virtual Router resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualRouterListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code."
                    },
                    "details" : {
                      "type" : "array",
                      "description" : "Error details.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string",
                            "description" : "Error code."
                          },
                          "message" : {
                            "type" : "string",
                            "description" : "Error message."
                          },
                          "target" : {
                            "type" : "string",
                            "description" : "Error target."
                          }
                        },
                        "description" : "Common error details representation."
                      }
                    },
                    "innerError" : {
                      "type" : "string",
                      "description" : "Inner error message."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message."
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "Error target."
                    }
                  },
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters" : {
      "get" : {
        "tags" : [ "VirtualRouters" ],
        "description" : "Lists all Virtual Routers in a resource group.",
        "operationId" : "VirtualRouters_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of Virtual Router resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualRouterListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code."
                    },
                    "details" : {
                      "type" : "array",
                      "description" : "Error details.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string",
                            "description" : "Error code."
                          },
                          "message" : {
                            "type" : "string",
                            "description" : "Error message."
                          },
                          "target" : {
                            "type" : "string",
                            "description" : "Error target."
                          }
                        },
                        "description" : "Common error details representation."
                      }
                    },
                    "innerError" : {
                      "type" : "string",
                      "description" : "Inner error message."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message."
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "Error target."
                    }
                  },
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}" : {
      "get" : {
        "tags" : [ "VirtualRouters" ],
        "description" : "Gets the specified Virtual Router.",
        "operationId" : "VirtualRouters_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualRouterName",
          "in" : "path",
          "description" : "The name of the Virtual Router.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expands referenced resources.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a Virtual Router resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualRouter"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code."
                    },
                    "details" : {
                      "type" : "array",
                      "description" : "Error details.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string",
                            "description" : "Error code."
                          },
                          "message" : {
                            "type" : "string",
                            "description" : "Error message."
                          },
                          "target" : {
                            "type" : "string",
                            "description" : "Error target."
                          }
                        },
                        "description" : "Common error details representation."
                      }
                    },
                    "innerError" : {
                      "type" : "string",
                      "description" : "Inner error message."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message."
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "Error target."
                    }
                  },
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "VirtualRouters" ],
        "description" : "Creates or updates the specified Virtual Router.",
        "operationId" : "VirtualRouters_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualRouterName",
          "in" : "path",
          "description" : "The name of the Virtual Router.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update Virtual Router.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VirtualRouter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting Virtual Router resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualRouter"
                }
              }
            }
          },
          "201" : {
            "description" : "Request received successfully. The operation returns the resulting Virtual Router resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualRouter"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code."
                    },
                    "details" : {
                      "type" : "array",
                      "description" : "Error details.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string",
                            "description" : "Error code."
                          },
                          "message" : {
                            "type" : "string",
                            "description" : "Error message."
                          },
                          "target" : {
                            "type" : "string",
                            "description" : "Error target."
                          }
                        },
                        "description" : "Common error details representation."
                      }
                    },
                    "innerError" : {
                      "type" : "string",
                      "description" : "Inner error message."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message."
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "Error target."
                    }
                  },
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "VirtualRouters" ],
        "description" : "Deletes the specified Virtual Router.",
        "operationId" : "VirtualRouters_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualRouterName",
          "in" : "path",
          "description" : "The name of the Virtual Router.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Request successful. Resource with the specified name does not exist."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code."
                    },
                    "details" : {
                      "type" : "array",
                      "description" : "Error details.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string",
                            "description" : "Error code."
                          },
                          "message" : {
                            "type" : "string",
                            "description" : "Error message."
                          },
                          "target" : {
                            "type" : "string",
                            "description" : "Error target."
                          }
                        },
                        "description" : "Common error details representation."
                      }
                    },
                    "innerError" : {
                      "type" : "string",
                      "description" : "Inner error message."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message."
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "Error target."
                    }
                  },
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings" : {
      "get" : {
        "tags" : [ "VirtualRouterPeerings" ],
        "description" : "Lists all Virtual Router Peerings in a Virtual Router resource.",
        "operationId" : "VirtualRouterPeerings_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualRouterName",
          "in" : "path",
          "description" : "The name of the Virtual Router.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The operation returns a list of Virtual Router Peering resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualRouterPeeringListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code."
                    },
                    "details" : {
                      "type" : "array",
                      "description" : "Error details.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string",
                            "description" : "Error code."
                          },
                          "message" : {
                            "type" : "string",
                            "description" : "Error message."
                          },
                          "target" : {
                            "type" : "string",
                            "description" : "Error target."
                          }
                        },
                        "description" : "Common error details representation."
                      }
                    },
                    "innerError" : {
                      "type" : "string",
                      "description" : "Inner error message."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message."
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "Error target."
                    }
                  },
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings/{peeringName}" : {
      "get" : {
        "tags" : [ "VirtualRouterPeerings" ],
        "description" : "Gets the specified Virtual Router Peering.",
        "operationId" : "VirtualRouterPeerings_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualRouterName",
          "in" : "path",
          "description" : "The name of the Virtual Router.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the Virtual Router Peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a Virtual Router Peering resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualRouterPeering"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code."
                    },
                    "details" : {
                      "type" : "array",
                      "description" : "Error details.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string",
                            "description" : "Error code."
                          },
                          "message" : {
                            "type" : "string",
                            "description" : "Error message."
                          },
                          "target" : {
                            "type" : "string",
                            "description" : "Error target."
                          }
                        },
                        "description" : "Common error details representation."
                      }
                    },
                    "innerError" : {
                      "type" : "string",
                      "description" : "Inner error message."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message."
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "Error target."
                    }
                  },
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "VirtualRouterPeerings" ],
        "description" : "Creates or updates the specified Virtual Router Peering.",
        "operationId" : "VirtualRouterPeerings_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualRouterName",
          "in" : "path",
          "description" : "The name of the Virtual Router.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the Virtual Router Peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update Virtual Router Peering operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VirtualRouterPeering"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting Virtual Router Peering resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualRouterPeering"
                }
              }
            }
          },
          "201" : {
            "description" : "Request received successfully. The operation returns the resulting Virtual Router Peering resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualRouterPeering"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code."
                    },
                    "details" : {
                      "type" : "array",
                      "description" : "Error details.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string",
                            "description" : "Error code."
                          },
                          "message" : {
                            "type" : "string",
                            "description" : "Error message."
                          },
                          "target" : {
                            "type" : "string",
                            "description" : "Error target."
                          }
                        },
                        "description" : "Common error details representation."
                      }
                    },
                    "innerError" : {
                      "type" : "string",
                      "description" : "Inner error message."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message."
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "Error target."
                    }
                  },
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "VirtualRouterPeerings" ],
        "description" : "Deletes the specified peering from a Virtual Router.",
        "operationId" : "VirtualRouterPeerings_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualRouterName",
          "in" : "path",
          "description" : "The name of the Virtual Router.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Request successful. Resource with the specified name does not exist."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code."
                    },
                    "details" : {
                      "type" : "array",
                      "description" : "Error details.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string",
                            "description" : "Error code."
                          },
                          "message" : {
                            "type" : "string",
                            "description" : "Error message."
                          },
                          "target" : {
                            "type" : "string",
                            "description" : "Error target."
                          }
                        },
                        "description" : "Common error details representation."
                      }
                    },
                    "innerError" : {
                      "type" : "string",
                      "description" : "Inner error message."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message."
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "Error target."
                    }
                  },
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "VirtualRouter" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/VirtualRouterPropertiesFormat"
          }
        },
        "description" : "VirtualRouter Resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "VirtualRouterListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "List of Virtual Routers.",
            "items" : {
              "$ref" : "#/components/schemas/VirtualRouter"
            }
          }
        },
        "description" : "Response for ListVirtualRouters API service call."
      },
      "VirtualRouterPeering" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the virtual router peering that is unique within a virtual router."
          },
          "properties" : {
            "$ref" : "#/components/schemas/VirtualRouterPeeringProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Peering type.",
            "readOnly" : true
          }
        },
        "description" : "Virtual Router Peering resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "VirtualRouterPeeringListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "List of VirtualRouterPeerings in a VirtualRouter.",
            "items" : {
              "$ref" : "#/components/schemas/VirtualRouterPeering"
            }
          }
        },
        "description" : "Response for ListVirtualRouterPeerings API service call."
      },
      "VirtualRouterPeeringProperties" : {
        "type" : "object",
        "properties" : {
          "peerAsn" : {
            "maximum" : 4294967295,
            "minimum" : 0,
            "type" : "integer",
            "description" : "Peer ASN.",
            "format" : "int64"
          },
          "peerIp" : {
            "type" : "string",
            "description" : "Peer IP."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          }
        },
        "description" : "Properties of the rule group."
      },
      "VirtualRouterPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "hostedGateway" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "hostedSubnet" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "peerings" : {
            "type" : "array",
            "description" : "List of references to VirtualRouterPeerings.",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "string",
                  "description" : "Resource ID."
                }
              },
              "description" : "Reference to another subresource."
            }
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "virtualRouterAsn" : {
            "maximum" : 4294967295,
            "minimum" : 0,
            "type" : "integer",
            "description" : "VirtualRouter ASN.",
            "format" : "int64"
          },
          "virtualRouterIps" : {
            "type" : "array",
            "description" : "VirtualRouter IPs.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Virtual Router definition."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}