{"openapi":"3.0.1","info":{"title":"StorageManagementClient","description":"The Admin Storage Management Client.","version":"2019-08-08-preview"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/acquisitions":{"get":{"tags":["Acquisitions"],"description":"Returns a list of BLOB acquisitions.","operationId":"Acquisitions_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Resource location.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"REST Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- The list of acquisitions has been returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcquisitionList"}}}},"default":{"description":"Error Response.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"The error description code.","readOnly":true},"details":{"type":"array","description":"The error details information.","readOnly":true,"items":{"type":"string"}},"message":{"type":"string","description":"The error description message.","readOnly":true},"target":{"type":"string","description":"The error target description.","readOnly":true}},"description":"The error response for request which failed."}}}}}}}},"components":{"schemas":{"Acquisition":{"type":"object","properties":{"acquisitionid":{"type":"string","description":"The ID of page BLOB acquisition.","readOnly":true},"blob":{"type":"string","description":"The name of the page BLOB.","readOnly":true},"container":{"type":"string","description":"The container associated with the page BLOB.","readOnly":true},"filePath":{"type":"string","description":"The file path of the page BLOB file on storage cluster.","readOnly":true},"filePathUnc":{"type":"string","description":"The file path unc of the page BLOB file on storage cluster.","readOnly":true},"maximumblobsize":{"type":"integer","description":"The maximum size of the page BLOB.","format":"int64","readOnly":true},"status":{"$ref":"#/components/schemas/AcquisitionStatus"},"storageaccount":{"type":"string","description":"The storage account that holds the page BLOB.","readOnly":true},"susbcriptionid":{"type":"string","description":"ID of the subscription associated with the page BLOB.","readOnly":true}},"description":"The acquisition of the page BLOB."},"AcquisitionList":{"type":"object","properties":{"value":{"type":"array","description":"List of acquisitions.","readOnly":true,"items":{"$ref":"#/components/schemas/Acquisition"}}},"description":"The list of page BLOB acquisitions."},"AcquisitionStatus":{"type":"string","description":"The status of page BLOB acquisition.","enum":["Unknown","NotAcquired","Pending","Success","Failed"]}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}