{"openapi":"3.0.1","info":{"title":"Machine Learning Workspaces Management Client","description":"These APIs allow end users to operate on Azure Machine Learning Workspace resources. They support CRUD operations for Azure Machine Learning Workspaces.","version":"2019-10-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.MachineLearning/operations":{"get":{"tags":["Operation"],"description":"Lists all of the available Azure Machine Learning Studio REST API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/workspaces":{"get":{"tags":["Workspaces"],"description":"Lists all the available machine learning workspaces under the specified subscription.","operationId":"Workspaces_List","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceListResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces":{"get":{"tags":["Workspaces"],"description":"Lists all the available machine learning workspaces under the specified resource group.","operationId":"Workspaces_ListByResourceGroup","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning workspace belongs.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceListResult"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}":{"get":{"tags":["Workspaces"],"description":"Gets the properties of the specified machine learning workspace.","operationId":"Workspaces_Get","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning workspace belongs.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning workspace.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Workspaces"],"description":"Creates or updates a workspace with the specified parameters.","operationId":"Workspaces_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning workspace belongs.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning workspace.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters for creating or updating a machine learning workspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}},"required":true},"responses":{"200":{"description":"The request was successful; the resource already exists and was updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Workspaces"],"description":"Deletes a machine learning workspace.","operationId":"Workspaces_Delete","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning workspace belongs.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning workspace.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly."},"204":{"description":"The machine learning workspace does not exist in the subscription."},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Workspaces"],"description":"Updates a machine learning workspace with the specified parameters.","operationId":"Workspaces_Update","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning workspace belongs.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning workspace.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters for updating a machine learning workspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}/listWorkspaceKeys":{"post":{"tags":["Workspaces"],"description":"List the authorization keys associated with this workspace.","operationId":"Workspaces_ListWorkspaceKeys","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning workspace.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning workspace belongs.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceKeysResponse"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}/resyncStorageKeys":{"post":{"tags":["Workspaces"],"description":"Resync storage keys associated with this workspace.","operationId":"Workspaces_ResyncStorageKeys","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the machine learning workspace.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning workspace belongs.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The request was successful; the request was well-formed and received properly."},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ErrorResponse":{"required":["code","message"],"type":"object","properties":{"code":{"type":"string","description":"error code"},"message":{"type":"string","description":"error message"}},"description":"The error response send when an operation fails."},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"The description for the operation."},"operation":{"type":"string","description":"The operation that users can perform."},"provider":{"type":"string","description":"The resource provider name: Microsoft.MachineLearning"},"resource":{"type":"string","description":"The resource on which the operation is performed."}},"description":"Display name of operation"},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"}},"description":"Azure Machine Learning Studio REST API operation"},"OperationListResult":{"type":"object","properties":{"value":{"type":"array","description":"List of AML Studio operations supported by the AML Studio resource provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"An array of operations supported by the resource provider."},"Resource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"The resource ID.","readOnly":true},"location":{"type":"string","description":"The location of the resource. This cannot be changed after the resource is created."},"name":{"type":"string","description":"The name of the resource.","readOnly":true},"sku":{"$ref":"#/components/schemas/Sku"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The tags of the resource."},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"An Azure resource."},"Sku":{"type":"object","properties":{"name":{"type":"string","description":"Name of the sku"},"tier":{"type":"string","description":"Tier of the sku like Basic or Enterprise"}},"description":"Sku of the resource"},"Workspace":{"properties":{"properties":{"$ref":"#/components/schemas/WorkspaceProperties"}},"description":"An object that represents a machine learning workspace.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"WorkspaceKeysResponse":{"type":"object","properties":{"primaryToken":{"type":"string","description":"Primary authorization key for this workspace."},"secondaryToken":{"type":"string","description":"Secondary authorization key for this workspace."}},"description":"Workspace authorization keys for a workspace."},"WorkspaceListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI that can be used to request the next list of machine learning workspaces."},"value":{"type":"array","description":"The list of machine learning workspaces. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning workspaces.","items":{"$ref":"#/components/schemas/Workspace"}}},"description":"The result of a request to list machine learning workspace keys."},"WorkspaceProperties":{"required":["ownerEmail","userStorageAccountId"],"type":"object","properties":{"creationTime":{"type":"string","description":"The creation time for this workspace resource.","readOnly":true},"keyVaultIdentifierId":{"type":"string","description":"The key vault identifier used for encrypted workspaces."},"ownerEmail":{"type":"string","description":"The email id of the owner for this workspace."},"studioEndpoint":{"type":"string","description":"The regional endpoint for the machine learning studio service which hosts this workspace.","readOnly":true},"userStorageAccountId":{"type":"string","description":"The fully qualified arm id of the storage account associated with this workspace."},"workspaceId":{"type":"string","description":"The immutable id associated with this workspace.","readOnly":true},"workspaceState":{"type":"string","description":"The current state of workspace resource.","readOnly":true,"enum":["Deleted","Enabled","Disabled","Migrated","Updated","Registered","Unregistered"]},"workspaceType":{"type":"string","description":"The type of this workspace.","readOnly":true,"enum":["Production","Free","Anonymous","PaidStandard","PaidPremium"]}},"description":"The properties of a machine learning workspace."},"WorkspacePropertiesUpdateParameters":{"type":"object","properties":{"keyVaultIdentifierId":{"type":"string","description":"The key vault identifier used for encrypted workspaces."},"sku":{"$ref":"#/components/schemas/Sku"},"workspaceState":{"type":"string","description":"The current state of workspace resource.","enum":["Deleted","Enabled","Disabled","Migrated","Updated","Registered","Unregistered"]}},"description":"The parameters for updating the properties of a machine learning workspace."},"WorkspaceUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/WorkspacePropertiesUpdateParameters"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The resource tags for the machine learning workspace."}},"description":"The parameters for updating a machine learning workspace."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group to which the machine learning workspace belongs.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The Microsoft Azure subscription ID.","required":true,"schema":{"type":"string"}},"WorkspaceNameParameter":{"name":"workspaceName","in":"path","description":"The name of the machine learning workspace.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}