{"openapi":"3.0.1","info":{"title":"Mandrill","description":"Mandrill is a reliable, scalable, and secure delivery API for transactional emails from websites and applications. It's ideal for sending data-driven transactional emails, including targeted e-commerce and personalized one-to-one messages.\n","version":"1.0"},"externalDocs":{"url":"https://mandrillapp.com/api/docs/"},"servers":[{"url":"https://mandrillapp.com/api/1.0/"}],"paths":{"/exports/activity.json":{"post":{"description":"Begins an export of your activity history. The activity will be exported to a zip archive containing a single file named activity.csv in the same format as you would be able to export from your account's activity view. It includes the following fields: Date, Email Address, Sender, Subject, Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom metadata fields, they will be included in the exported data.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/exports_activity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/exports_satus"}}}}}}},"/exports/info.json":{"post":{"description":"Returns information about an export job. If the export job's state is 'complete', the returned data will include a URL you can use to fetch the results. Every export job produces a zip archive, but the format of the archive is distinct for each job type. The api calls that initiate exports include more details about the output format for that job type.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/id"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/exports_info-response"}}}}}}},"/exports/list.json":{"post":{"description":"Returns a list of your exports.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/exports_list-response"}}}}}}},"/exports/rejects.json":{"post":{"description":"Begins an export of your rejection blacklist. The blacklist will be exported to a zip archive containing a single file named rejects.csv that includes the following fields: email, reason, detail, created_at, expires_at, last_event_at, expires_at.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/notify_email"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/exports_satus"}}}}}}},"/exports/whitelist.json":{"post":{"description":"Begins an export of your rejection whitelist. The whitelist will be exported to a zip archive containing a single file named whitelist.csv that includes the following fields: email, detail, created_at.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/notify_email"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/exports_satus"}}}}}}},"/inbound/add-domain.json":{"post":{"description":"Add an inbound domain to your account","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/inbound_info"}}}}}}},"/inbound/add-route.json":{"post":{"description":"Add a new mailbox route to an inbound domain","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/inbound_add-route"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/route"}}}}}}},"/inbound/check-domain.json":{"post":{"description":"Check the MX settings for an inbound domain. The domain must have already been added with the add-domain call","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/inbound_info"}}}}}}},"/inbound/delete-domain.json":{"post":{"description":"Delete an inbound domain from the account. All mail will stop routing for this domain immediately.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/inbound_info"}}}}}}},"/inbound/delete-route.json":{"post":{"description":"Delete an existing inbound mailbox route","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/id"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/route"}}}}}}},"/inbound/domains.json":{"post":{"description":"List the domains that have been configured for inbound delivery","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/inbound_domains-response"}}}}}}},"/inbound/routes.json":{"post":{"description":"List the mailbox routes defined for an inbound domain","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/inbound_routes-response"}}}}}}},"/inbound/send-raw.json":{"post":{"description":"Take a raw MIME document destined for a domain with inbound domains set up, and send it to the inbound hook exactly as if it had been sent over SMTP","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/inbound_send-raw"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/inbound_send-raw-response"}}}}}}},"/inbound/update-route.json":{"post":{"description":"Update the pattern or webhook of an existing inbound mailbox route. If null is provided for any fields, the values will remain unchanged.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/inbound_update-route"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/route"}}}}}}},"/ips/cancel-warmup.json":{"post":{"description":"Cancels the warmup process for a dedicated IP.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ip"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ip_info"}}}}}}},"/ips/check-custom-dns.json":{"post":{"description":"Tests whether a domain name is valid for use as the custom reverse DNS for a dedicated IP.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ip_domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_check-custom-dns-response"}}}}}}},"/ips/create-pool.json":{"post":{"description":"Creates a pool and returns it. If a pool already exists with this name, no action will be performed.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_pool-key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_pool"}}}}}}},"/ips/delete-pool.json":{"post":{"description":"Deletes a pool. A pool must be empty before you can delete it, and you cannot delete your default pool.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_pool-key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_delete-pool-response"}}}}}}},"/ips/delete.json":{"post":{"description":"Deletes a dedicated IP. This is permanent and cannot be undone.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ip"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_delete-response"}}}}}}},"/ips/info.json":{"post":{"description":"Retrieves information about a single dedicated ip.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ip"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ip_info"}}}}}}},"/ips/list-pools.json":{"post":{"description":"Lists your dedicated IP pools.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_list-pools-response"}}}}}}},"/ips/list.json":{"post":{"description":"Lists your dedicated IPs.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_list-response"}}}}}}},"/ips/pool-info.json":{"post":{"description":"Describes a single dedicated IP pool.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_pool-key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_pool"}}}}}}},"/ips/provision.json":{"post":{"description":"Requests an additional dedicated IP for your account. Accounts may have one outstanding request at any time, and provisioning requests are processed within 24 hours.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_provision"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_provision-response"}}}}}}},"/ips/set-custom-dns.json":{"post":{"description":"Configures the custom DNS name for a dedicated IP.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ip_domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ip_info"}}}}}}},"/ips/set-pool.json":{"post":{"description":"Moves a dedicated IP to a different pool.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ips_set-pool"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ip_info"}}}}}}},"/ips/start-warmup.json":{"post":{"description":"Begins the warmup process for a dedicated IP. During the warmup process, Mandrill will gradually increase the percentage of your mail that is sent over the warming-up IP, over a period of roughly 30 days. The rest of your mail will be sent over shared IPs or other dedicated IPs in the same pool.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ip"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ip_info"}}}}}}},"/messages/cancel-scheduled.json":{"post":{"description":"Cancels a scheduled email.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_cancel-scheduled"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/schedulingchange_info"}}}}}}},"/messages/content.json":{"post":{"description":"Get the full content of a recently sent message","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/id"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_content-response"}}}}}}},"/messages/info.json":{"post":{"description":"Get the information for a single recently sent message","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/id"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_info-response"}}}}}}},"/messages/list-scheduled.json":{"post":{"description":"Queries your scheduled emails by sender or recipient, or both.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_list-scheduled"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_list-scheduled-response"}}}}}}},"/messages/parse.json":{"post":{"description":"Parse the full MIME document for an email message, returning the content of the message broken into its constituent pieces","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_parse"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_parse-response"}}}}}}},"/messages/reschedule.json":{"post":{"description":"Reschedules a scheduled email.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_reschedule"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/schedulingchange_info"}}}}}}},"/messages/search-time-series.json":{"post":{"description":"Search the content of recently sent messages and return the aggregated hourly stats for matching messages","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_search-time-series"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/timeseries"}}}}}}},"/messages/search.json":{"post":{"description":"Search the content of recently sent messages and optionally narrow by date range, tags and senders. This method may be called up to 20 times per minute. If you need the data more often, you can use /messages/info.json to get the information for a single message, or webhooks to push activity to your own application for querying.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_search"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_search-response"}}}}}}},"/messages/send-raw.json":{"post":{"description":"Take a raw MIME document for a message, and send it exactly as if it were sent through Mandrill's SMTP servers","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_send-raw"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/message_send-status"}}}}}}},"/messages/send-template.json":{"post":{"description":"Send a new transactional message through Mandrill using a template","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_send-template"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/message_send-status"}}}}}}},"/messages/send.json":{"post":{"description":"Send a new transactional message through Mandrill","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/messages_send"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/message_send-status"}}}}}}},"/metadata/add.json":{"post":{"description":"Add a new custom metadata field to be indexed for the account.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/metadata_template"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/metadata_info"}}}}}}},"/metadata/delete.json":{"post":{"description":"Delete an existing custom metadata field. Deletion isn't instataneous, and /metadata/list will continue to return the field until the asynchronous deletion process is complete.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/name"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/metadata_info"}}}}}}},"/metadata/list.json":{"post":{"description":"Get the list of custom metadata fields indexed for the account.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/metadata_list-response"}}}}}}},"/metadata/update.json":{"post":{"description":"Update an existing custom metadata field.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/metadata_template"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/metadata_info"}}}}}}},"/rejects/add.json":{"post":{"description":"Adds an email to your email rejection blacklist. Addresses that you add manually will never expire and there is no reputation penalty for removing them from your blacklist. Attempting to blacklist an address that has been whitelisted will have no effect.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/rejects_add"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/rejects_add-response"}}}}}}},"/rejects/delete.json":{"post":{"description":"Deletes an email rejection. There is no limit to how many rejections you can remove from your blacklist, but keep in mind that each deletion has an affect on your reputation.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/rejects_delete"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/rejects_delete-response"}}}}}}},"/rejects/list.json":{"post":{"description":"Retrieves your email rejection blacklist. You can provide an email address to limit the results. Returns up to 1000 results. By default, entries that have expired are excluded from the results; set include_expired to true to include them.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/rejects_list"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/rejects_list-response"}}}}}}},"/senders/add-domain.json":{"post":{"description":"Adds a sender domain to your account. Sender domains are added automatically as you send, but you can use this call to add them ahead of time.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/sender_domain_info"}}}}}}},"/senders/check-domain.json":{"post":{"description":"Checks the SPF and DKIM settings for a domain. If you haven't already added this domain to your account, it will be added automatically.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/sender_domain_info"}}}}}}},"/senders/domains.json":{"post":{"description":"Returns the sender domains that have been added to this account.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/senders_domains-response"}}}}}}},"/senders/info.json":{"post":{"description":"Return more detailed information about a single sender, including aggregates of recent stats","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/sender_address"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/senders_info-response"}}}}}}},"/senders/list.json":{"post":{"description":"Return the senders that have tried to use this account.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/senders"}}}}}}},"/senders/time-series.json":{"post":{"description":"Return the recent history (hourly stats for the last 30 days) for a sender","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/sender_address"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/time-series"}}}}}}},"/senders/verify-domain.json":{"post":{"description":"Sends a verification email in order to verify ownership of a domain. Domain verification is an optional step to confirm ownership of a domain. Once a domain has been verified in a Mandrill account, other accounts may not have their messages signed by that domain unless they also verify the domain. This prevents other Mandrill accounts from sending mail signed by your domain.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/senders_verify-domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/senders_verify-domain-response"}}}}}}},"/subaccounts/add.json":{"post":{"description":"Add a new subaccount","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/subaccount_info"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/subaccount_info2"}}}}}}},"/subaccounts/delete.json":{"post":{"description":"Delete an existing subaccount. Any email related to the subaccount will be saved, but stats will be removed and any future sending calls to this subaccount will fail.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/id"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/subaccount_info2"}}}}}}},"/subaccounts/info.json":{"post":{"description":"Given the ID of an existing subaccount, return the data about it","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/id"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/subaccounts_info-response"}}}}}}},"/subaccounts/list.json":{"post":{"description":"Get the list of subaccounts defined for the account, optionally filtered by a prefix","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/url_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/subaccounts_list-response"}}}}}}},"/subaccounts/pause.json":{"post":{"description":"Pause a subaccount's sending. Any future emails delivered to this subaccount will be queued for a maximum of 3 days until the subaccount is resumed.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/id"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/subaccount_info2"}}}}}}},"/subaccounts/resume.json":{"post":{"description":"Resume a paused subaccount's sending","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/id"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/subaccount_info2"}}}}}}},"/subaccounts/update.json":{"post":{"description":"Update an existing subaccount","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/subaccount_info"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/subaccount_info2"}}}}}}},"/tags/all-time-series.json":{"post":{"description":"Return the recent history (hourly stats for the last 30 days) for all tags","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/timeseries"}}}}}}},"/tags/delete.json":{"post":{"description":"Deletes a tag permanently. Deleting a tag removes the tag from any messages that have been sent, and also deletes the tag's stats. There is no way to undo this operation, so use it carefully.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/tag_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/tags_delete-response"}}}}}}},"/tags/info.json":{"post":{"description":"Return more detailed information about a single tag, including aggregates of recent stats","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/tag_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/tags_info-response"}}}}}}},"/tags/list.json":{"post":{"description":"Return all of the user-defined tag information","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/tags_list-response"}}}}}}},"/tags/time-series.json":{"post":{"description":"Return the recent history (hourly stats for the last 30 days) for a tag","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/tag_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/timeseries"}}}}}}},"/templates/add.json":{"post":{"description":"Add a new template","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/template"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/template_detailed"}}}}}}},"/templates/delete.json":{"post":{"description":"Delete a template","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/name"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/template_detailed"}}}}}}},"/templates/info.json":{"post":{"description":"Get the information for an existing template","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/name"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/template_detailed"}}}}}}},"/templates/list.json":{"post":{"description":"Return a list of all the templates available to this user","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/templates_list"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/templates_list-response"}}}}}}},"/templates/publish.json":{"post":{"description":"Publish the content for the template. Any new messages sent using this template will start using the content that was previously in draft.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/name"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/template_detailed"}}}}}}},"/templates/render.json":{"post":{"description":"Inject content and optionally merge fields into a template, returning the HTML that results","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/templates_render"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/templates_render-response"}}}}}}},"/templates/time-series.json":{"post":{"description":"Return the recent history (hourly stats for the last 30 days) for a template","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/name"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/time-series"}}}}}}},"/templates/update.json":{"post":{"description":"Update the code for an existing template. If null is provided for any fields, the values will remain unchanged.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/template"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/template_detailed"}}}}}}},"/urls/add-tracking-domain.json":{"post":{"description":"Add a tracking domain to your account","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/tracking-domain-status"}}}}}}},"/urls/check-tracking-domain.json":{"post":{"description":"Checks the CNAME settings for a tracking domain. The domain must have been added already with the add-tracking-domain call","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/tracking-domain-status"}}}}}}},"/urls/list.json":{"post":{"description":"Get the 100 most clicked URLs","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/url_infos"}}}}}}},"/urls/search.json":{"post":{"description":"Return the 100 most clicked URLs that match the search query given","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/url_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/url_infos"}}}}}}},"/urls/time-series.json":{"post":{"description":"Return the recent history (hourly stats for the last 30 days) for a url","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/urls_time-series"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/urls_time-series-response"}}}}}}},"/urls/tracking-domains.json":{"post":{"description":"Get the list of tracking domains set up for this account","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/urls_tracking-domains-response"}}}}}}},"/users/info.json":{"post":{"description":"Return the information about the API-connected user","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/users_info-response"}}}}}}},"/users/ping.json":{"post":{"description":"Validate an API key and respond to a ping","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/users/ping2.json":{"post":{"description":"Validate an API key and respond to a ping (anal JSON parser version)","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/users_ping2-response"}}}}}}},"/users/senders.json":{"post":{"description":"Return the senders that have tried to use this account, both verified and unverified","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/senders"}}}}}}},"/webhooks/add.json":{"post":{"description":"Add a new webhook","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/webhooks_add"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/webhook"}}}}}}},"/webhooks/delete.json":{"post":{"description":"Delete an existing webhook","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/webhook_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/webhook"}}}}}}},"/webhooks/info.json":{"post":{"description":"Given the ID of an existing webhook, return the data about it","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/webhook_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/webhook"}}}}}}},"/webhooks/list.json":{"post":{"description":"Get the list of all webhooks defined on the account","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/api_key"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/webhooks_list-response"}}}}}}},"/webhooks/update.json":{"post":{"description":"Update an existing webhook","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/webhooks_update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/webhook"}}}}}}},"/whitelists/add.json":{"post":{"description":"Adds an email to your email rejection whitelist. If the address is currently on your blacklist, that blacklist entry will be removed automatically.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/email"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/whitelists_add-response"}}}}}}},"/whitelists/delete.json":{"post":{"description":"Removes an email address from the whitelist.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/email"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/whitelists_delete-response"}}}}}}},"/whitelists/list.json":{"post":{"description":"Retrieves your email rejection whitelist. You can provide an email address or search prefix to limit the results. Returns up to 1000 results.","requestBody":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/email"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/whitelists_list-response"}}}}}}}},"components":{"schemas":{"api_key":{"type":"object","properties":{"key":{"type":"string"}}},"domain":{"type":"object","properties":{"domain":{"type":"string"},"key":{"type":"string"}}},"email":{"type":"object","properties":{"email":{"type":"string"},"key":{"type":"string"}}},"exports_activity":{"type":"object","properties":{"api_keys":{"type":"array","items":{"type":"string"}},"date_from":{"type":"string"},"date_to":{"type":"string"},"key":{"type":"string"},"notify_email":{"type":"string"},"senders":{"type":"array","items":{"type":"string"}},"states":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"string"}}}},"exports_info-response":{"type":"object","properties":{"created_at":{"type":"string"},"finished_at":{"type":"string"},"id":{"type":"string"},"result_url":{"type":"string"},"state":{"type":"string"},"type":{"type":"string"}}},"exports_list-response":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string"},"finished_at":{"type":"string"},"id":{"type":"string"},"result_url":{"type":"string"},"state":{"type":"string"},"type":{"type":"string"}}}},"exports_satus":{"type":"object","properties":{"created_at":{"type":"string"},"id":{"type":"string"},"state":{"type":"string"},"type":{"type":"string"}}},"id":{"type":"object","properties":{"id":{"type":"string"},"key":{"type":"string"}}},"inbound_add-route":{"type":"object","properties":{"domain":{"type":"string"},"key":{"type":"string"},"pattern":{"type":"string"},"url":{"type":"string"}}},"inbound_domains-response":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string"},"domain":{"type":"string"},"valid_mx":{"type":"boolean"}}}},"inbound_info":{"type":"object","properties":{"created_at":{"type":"string"},"domain":{"type":"string"},"valid_mx":{"type":"boolean"}}},"inbound_routes-response":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"pattern":{"type":"string"},"url":{"type":"string"}}}},"inbound_send-raw":{"type":"object","properties":{"client_address":{"type":"string"},"helo":{"type":"string"},"key":{"type":"string"},"mail_from":{"type":"string"},"raw_message":{"type":"string"},"to":{"type":"array","items":{"type":"string"}}}},"inbound_send-raw-response":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string"},"pattern":{"type":"string"},"url":{"type":"string"}}}},"inbound_update-route":{"type":"object","properties":{"id":{"type":"string"},"key":{"type":"string"},"pattern":{"type":"string"},"url":{"type":"string"}}},"ip":{"type":"object","properties":{"ip":{"type":"string"},"key":{"type":"string"}}},"ip_domain":{"type":"object","properties":{"domain":{"type":"string"},"ip":{"type":"string"},"key":{"type":"string"}}},"ip_info":{"type":"object","properties":{"created_at":{"type":"string"},"custom_dns":{"type":"object","properties":{"enabled":{"type":"boolean"},"error":{"type":"string"},"valid":{"type":"boolean"}}},"domain":{"type":"string"},"ip":{"type":"string"},"pool":{"type":"string"},"warmup":{"type":"object","properties":{"end_at":{"type":"string"},"start_at":{"type":"string"},"warming_up":{"type":"boolean"}}}}},"ips_check-custom-dns-response":{"type":"object","properties":{"error":{"type":"string"},"valid":{"type":"boolean"}}},"ips_delete-pool-response":{"type":"object","properties":{"deleted":{"type":"boolean"},"pool":{"type":"string"}}},"ips_delete-response":{"type":"object","properties":{"deleted":{"type":"boolean"},"ip":{"type":"string"}}},"ips_list-pools-response":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string"},"ips":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string"},"custom_dns":{"type":"object","properties":{"enabled":{"type":"boolean"},"error":{"type":"string"},"valid":{"type":"boolean"}}},"domain":{"type":"string"},"ip":{"type":"string"},"pool":{"type":"string"},"warmup":{"type":"object","properties":{"end_at":{"type":"string"},"start_at":{"type":"string"},"warming_up":{"type":"boolean"}}}}}},"name":{"type":"string"}}}},"ips_list-response":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string"},"custom_dns":{"type":"object","properties":{"enabled":{"type":"boolean"},"error":{"type":"string"},"valid":{"type":"boolean"}}},"domain":{"type":"string"},"ip":{"type":"string"},"pool":{"type":"string"},"warmup":{"type":"object","properties":{"end_at":{"type":"string"},"start_at":{"type":"string"},"warming_up":{"type":"boolean"}}}}}},"ips_pool":{"type":"object","properties":{"created_at":{"type":"string"},"ips":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string"},"custom_dns":{"type":"object","properties":{"enabled":{"type":"boolean"},"error":{"type":"string"},"valid":{"type":"boolean"}}},"domain":{"type":"string"},"ip":{"type":"string"},"pool":{"type":"string"},"warmup":{"type":"object","properties":{"end_at":{"type":"string"},"start_at":{"type":"string"},"warming_up":{"type":"boolean"}}}}}},"name":{"type":"string"}}},"ips_pool-key":{"type":"object","properties":{"key":{"type":"string"},"pool":{"type":"string"}}},"ips_provision":{"type":"object","properties":{"key":{"type":"string"},"pool":{"type":"string"},"warmup":{"type":"boolean"}}},"ips_provision-response":{"type":"object","properties":{"requested_at":{"type":"string"}}},"ips_set-pool":{"type":"object","properties":{"create_pool":{"type":"boolean"},"ip":{"type":"string"},"key":{"type":"string"},"pool":{"type":"string"}}},"message_send-status":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"email":{"type":"string"},"reject_reason":{"type":"string"},"status":{"type":"string"}}}},"messages_cancel-scheduled":{"type":"object","properties":{"key":{"type":"string"}}},"messages_content-response":{"type":"object","properties":{"_id":{"type":"string"},"attachments":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}},"from_email":{"type":"string"},"from_name":{"type":"string"},"headers":{"type":"object","properties":{"Reply-To":{"type":"string"}}},"html":{"type":"string"},"subject":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"text":{"type":"string"},"to":{"type":"object","properties":{"email":{"type":"string"},"name":{"type":"string"}}},"ts":{"type":"integer"}}},"messages_info-response":{"type":"object","properties":{"_id":{"type":"string"},"clicks":{"type":"integer"},"clicks_detail":{"type":"array","items":{"type":"object","properties":{"ip":{"type":"string"},"location":{"type":"string"},"ts":{"type":"integer"},"ua":{"type":"string"},"url":{"type":"string"}}}},"email":{"type":"string"},"metadata":{"type":"object","properties":{"user_id":{"type":"string"},"website":{"type":"string"}}},"opens":{"type":"integer"},"opens_detail":{"type":"array","items":{"type":"object","properties":{"ip":{"type":"string"},"location":{"type":"string"},"ts":{"type":"integer"},"ua":{"type":"string"}}}},"sender":{"type":"string"},"smtp_events":{"type":"array","items":{"type":"object","properties":{"diag":{"type":"string"},"ts":{"type":"integer"},"type":{"type":"string"}}}},"state":{"type":"string"},"subject":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"template":{"type":"string"},"ts":{"type":"integer"}}},"messages_list-scheduled":{"type":"object","properties":{"key":{"type":"string"},"to":{"type":"string"}}},"messages_list-scheduled-response":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"created_at":{"type":"string"},"from_email":{"type":"string"},"send_at":{"type":"string"},"subject":{"type":"string"},"to":{"type":"string"}}}},"messages_parse":{"type":"object","properties":{"key":{"type":"string"},"raw_message":{"type":"string"}}},"messages_parse-response":{"type":"object","properties":{"attachments":{"type":"array","items":{"type":"object","properties":{"binary":{"type":"boolean"},"content":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}},"from_email":{"type":"string"},"from_name":{"type":"string"},"headers":{"type":"object","properties":{"Reply-To":{"type":"string"}}},"html":{"type":"string"},"images":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}},"subject":{"type":"string"},"text":{"type":"string"},"to":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string"},"name":{"type":"string"}}}}}},"messages_reschedule":{"type":"object","properties":{"id":{"type":"string"},"key":{"type":"string"},"send_at":{"type":"string"}}},"messages_search":{"type":"object","properties":{"api_keys":{"type":"array","items":{"type":"string"}},"date_from":{"type":"string"},"date_to":{"type":"string"},"key":{"type":"string"},"limit":{"type":"integer"},"query":{"type":"string"},"senders":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"string"}}}},"messages_search-response":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"clicks":{"type":"integer"},"clicks_detail":{"type":"array","items":{"type":"object","properties":{"ip":{"type":"string"},"location":{"type":"string"},"ts":{"type":"integer"},"ua":{"type":"string"},"url":{"type":"string"}}}},"email":{"type":"string"},"metadata":{"type":"object","properties":{"user_id":{"type":"string"},"website":{"type":"string"}}},"opens":{"type":"integer"},"opens_detail":{"type":"array","items":{"type":"object","properties":{"ip":{"type":"string"},"location":{"type":"string"},"ts":{"type":"integer"},"ua":{"type":"string"}}}},"sender":{"type":"string"},"state":{"type":"string"},"subject":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"template":{"type":"string"},"ts":{"type":"integer"}}}},"messages_search-time-series":{"type":"object","properties":{"date_from":{"type":"string"},"date_to":{"type":"string"},"key":{"type":"string"},"query":{"type":"string"},"senders":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"string"}}}},"messages_send":{"type":"object","properties":{"async":{"type":"boolean"},"ip_pool":{"type":"string"},"key":{"type":"string"},"message":{"type":"object","properties":{"attachments":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}},"bcc_address":{"type":"string"},"from_email":{"type":"string"},"from_name":{"type":"string"},"global_merge_vars":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"}}}},"google_analytics_campaign":{"type":"string"},"google_analytics_domains":{"type":"array","items":{"type":"string"}},"headers":{"type":"object","properties":{"Reply-To":{"type":"string"}}},"html":{"type":"string"},"images":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}},"important":{"type":"boolean"},"merge":{"type":"boolean"},"merge_vars":{"type":"array","items":{"type":"object","properties":{"rcpt":{"type":"string"},"vars":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"}}}}}}},"metadata":{"type":"object","properties":{"website":{"type":"string"}}},"recipient_metadata":{"type":"array","items":{"type":"object","properties":{"rcpt":{"type":"string"},"values":{"type":"object","properties":{"user_id":{"type":"integer"}}}}}},"subaccount":{"type":"string"},"subject":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"text":{"type":"string"},"to":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}}}},"send_at":{"type":"string"}}},"messages_send-raw":{"type":"object","properties":{"async":{"type":"boolean"},"from_email":{"type":"string"},"from_name":{"type":"string"},"ip_pool":{"type":"string"},"key":{"type":"string"},"raw_message":{"type":"string"},"send_at":{"type":"string"},"to":{"type":"array","items":{"type":"string"}}}},"messages_send-template":{"type":"object","properties":{"async":{"type":"boolean"},"ip_pool":{"type":"string"},"key":{"type":"string"},"message":{"type":"object","properties":{"attachments":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}},"bcc_address":{"type":"string"},"from_email":{"type":"string"},"from_name":{"type":"string"},"global_merge_vars":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"}}}},"google_analytics_campaign":{"type":"string"},"google_analytics_domains":{"type":"array","items":{"type":"string"}},"headers":{"type":"object","properties":{"Reply-To":{"type":"string"}}},"html":{"type":"string"},"images":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}},"important":{"type":"boolean"},"merge":{"type":"boolean"},"merge_vars":{"type":"array","items":{"type":"object","properties":{"rcpt":{"type":"string"},"vars":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"}}}}}}},"metadata":{"type":"object","properties":{"website":{"type":"string"}}},"recipient_metadata":{"type":"array","items":{"type":"object","properties":{"rcpt":{"type":"string"},"values":{"type":"object","properties":{"user_id":{"type":"integer"}}}}}},"subaccount":{"type":"string"},"subject":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"text":{"type":"string"},"to":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}}}},"send_at":{"type":"string"},"template_content":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"}}}},"template_name":{"type":"string"}}},"metadata_info":{"type":"object","properties":{"name":{"type":"string"},"state":{"type":"string"},"view_template":{"type":"string"}}},"metadata_list-response":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"state":{"type":"string"},"view_template":{"type":"string"}}}},"metadata_template":{"type":"object","properties":{"key":{"type":"string"},"name":{"type":"string"},"view_template":{"type":"string"}}},"name":{"type":"object","properties":{"key":{"type":"string"},"name":{"type":"string"}}},"notify_email":{"type":"object","properties":{"key":{"type":"string"},"notify_email":{"type":"string"}}},"rejects_add":{"type":"object","properties":{"comment":{"type":"string"},"email":{"type":"string"},"key":{"type":"string"},"subaccount":{"type":"string"}}},"rejects_add-response":{"type":"object","properties":{"added":{"type":"boolean"},"email":{"type":"string"}}},"rejects_delete":{"type":"object","properties":{"email":{"type":"string"},"key":{"type":"string"},"subaccount":{"type":"string"}}},"rejects_delete-response":{"type":"object","properties":{"deleted":{"type":"boolean"},"email":{"type":"string"},"subaccount":{"type":"string"}}},"rejects_list":{"type":"object","properties":{"email":{"type":"string"},"include_expired":{"type":"boolean"},"key":{"type":"string"},"subaccount":{"type":"string"}}},"rejects_list-response":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string"},"detail":{"type":"string"},"email":{"type":"string"},"expired":{"type":"boolean"},"expires_at":{"type":"string"},"last_event_at":{"type":"string"},"reason":{"type":"string"},"sender":{"type":"object","properties":{"address":{"type":"string"},"clicks":{"type":"integer"},"complaints":{"type":"integer"},"created_at":{"type":"string"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"subaccount":{"type":"string"}}}},"route":{"type":"object","properties":{"id":{"type":"string"},"pattern":{"type":"string"},"url":{"type":"string"}}},"schedulingchange_info":{"type":"object","properties":{"_id":{"type":"string"},"created_at":{"type":"string"},"from_email":{"type":"string"},"send_at":{"type":"string"},"subject":{"type":"string"},"to":{"type":"string"}}},"sender_address":{"type":"object","properties":{"address":{"type":"string"},"key":{"type":"string"}}},"sender_domain_info":{"type":"object","properties":{"created_at":{"type":"string"},"dkim":{"type":"object","properties":{"error":{"type":"string"},"valid":{"type":"boolean"},"valid_after":{"type":"string"}}},"domain":{"type":"string"},"last_tested_at":{"type":"string"},"spf":{"type":"object","properties":{"error":{"type":"string"},"valid":{"type":"boolean"},"valid_after":{"type":"string"}}},"valid_signing":{"type":"boolean"},"verified_at":{"type":"string"}}},"senders":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"clicks":{"type":"integer"},"complaints":{"type":"integer"},"created_at":{"type":"string"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}}},"senders_domains-response":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string"},"dkim":{"type":"object","properties":{"error":{"type":"string"},"valid":{"type":"boolean"},"valid_after":{"type":"string"}}},"domain":{"type":"string"},"last_tested_at":{"type":"string"},"spf":{"type":"object","properties":{"error":{"type":"string"},"valid":{"type":"boolean"},"valid_after":{"type":"string"}}},"valid_signing":{"type":"boolean"},"verified_at":{"type":"string"}}}},"senders_info-response":{"type":"object","properties":{"address":{"type":"string"},"clicks":{"type":"integer"},"complaints":{"type":"integer"},"created_at":{"type":"string"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"stats":{"type":"object","properties":{"last_30_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"last_60_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"last_7_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"last_90_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"today":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}}}},"unsubs":{"type":"integer"}}},"senders_verify-domain":{"type":"object","properties":{"domain":{"type":"string"},"key":{"type":"string"},"mailbox":{"type":"string"}}},"senders_verify-domain-response":{"type":"object","properties":{"domain":{"type":"string"},"email":{"type":"string"},"status":{"type":"string"}}},"subaccount_info":{"type":"object","properties":{"custom_quota":{"type":"integer"},"id":{"type":"string"},"key":{"type":"string"},"name":{"type":"string"},"notes":{"type":"string"}}},"subaccount_info2":{"type":"object","properties":{"created_at":{"type":"string"},"custom_quota":{"type":"integer"},"first_sent_at":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"},"reputation":{"type":"integer"},"sent_monthly":{"type":"integer"},"sent_total":{"type":"integer"},"sent_weekly":{"type":"integer"},"status":{"type":"string"}}},"subaccounts_info-response":{"type":"object","properties":{"created_at":{"type":"string"},"custom_quota":{"type":"integer"},"first_sent_at":{"type":"string"},"hourly_quota":{"type":"integer"},"id":{"type":"string"},"last_30_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"name":{"type":"string"},"notes":{"type":"string"},"reputation":{"type":"integer"},"sent_hourly":{"type":"integer"},"sent_monthly":{"type":"integer"},"sent_total":{"type":"integer"},"sent_weekly":{"type":"integer"},"status":{"type":"string"}}},"subaccounts_list-response":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string"},"custom_quota":{"type":"integer"},"first_sent_at":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"},"reputation":{"type":"integer"},"sent_monthly":{"type":"integer"},"sent_total":{"type":"integer"},"sent_weekly":{"type":"integer"},"status":{"type":"string"}}}},"tag_key":{"type":"object","properties":{"key":{"type":"string"},"tag":{"type":"string"}}},"tags_delete-response":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"reputation":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"tag":{"type":"string"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"tags_info-response":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"stats":{"type":"object","properties":{"last_30_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"last_60_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"last_7_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"last_90_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"today":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}}}},"tag":{"type":"string"},"unsubs":{"type":"integer"}}},"tags_list-response":{"type":"array","items":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"reputation":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"tag":{"type":"string"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}}},"template":{"type":"object","properties":{"code":{"type":"string"},"from_email":{"type":"string"},"from_name":{"type":"string"},"key":{"type":"string"},"labels":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"publish":{"type":"boolean"},"subject":{"type":"string"},"text":{"type":"string"}}},"template_detailed":{"type":"object","properties":{"code":{"type":"string"},"created_at":{"type":"string"},"from_email":{"type":"string"},"from_name":{"type":"string"},"labels":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"publish_code":{"type":"string"},"publish_from_email":{"type":"string"},"publish_from_name":{"type":"string"},"publish_name":{"type":"string"},"publish_subject":{"type":"string"},"publish_text":{"type":"string"},"published_at":{"type":"string"},"slug":{"type":"string"},"subject":{"type":"string"},"text":{"type":"string"},"updated_at":{"type":"string"}}},"templates_list":{"type":"object","properties":{"key":{"type":"string"},"label":{"type":"string"}}},"templates_list-response":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"created_at":{"type":"string"},"from_email":{"type":"string"},"from_name":{"type":"string"},"labels":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"publish_code":{"type":"string"},"publish_from_email":{"type":"string"},"publish_from_name":{"type":"string"},"publish_name":{"type":"string"},"publish_subject":{"type":"string"},"publish_text":{"type":"string"},"published_at":{"type":"string"},"slug":{"type":"string"},"subject":{"type":"string"},"text":{"type":"string"},"updated_at":{"type":"string"}}}},"templates_render":{"type":"object","properties":{"key":{"type":"string"},"merge_vars":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"}}}},"template_content":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string"},"name":{"type":"string"}}}},"template_name":{"type":"string"}}},"templates_render-response":{"type":"object","properties":{"html":{"type":"string"}}},"time-series":{"type":"array","items":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"time":{"type":"string"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"}}}},"timeseries":{"type":"array","items":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"time":{"type":"string"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}}},"tracking-domain-status":{"type":"object","properties":{"cname":{"type":"object","properties":{"error":{"type":"string"},"valid":{"type":"boolean"},"valid_after":{"type":"string"}}},"created_at":{"type":"string"},"domain":{"type":"string"},"last_tested_at":{"type":"string"},"valid_tracking":{"type":"boolean"}}},"url_infos":{"type":"array","items":{"type":"object","properties":{"clicks":{"type":"integer"},"sent":{"type":"integer"},"unique_clicks":{"type":"integer"},"url":{"type":"string"}}}},"url_key":{"type":"object","properties":{"key":{"type":"string"},"q":{"type":"string"}}},"urls_time-series":{"type":"object","properties":{"key":{"type":"string"},"url":{"type":"string"}}},"urls_time-series-response":{"type":"array","items":{"type":"object","properties":{"clicks":{"type":"integer"},"sent":{"type":"integer"},"time":{"type":"string"},"unique_clicks":{"type":"integer"}}}},"urls_tracking-domains-response":{"type":"array","items":{"type":"object","properties":{"cname":{"type":"object","properties":{"error":{"type":"string"},"valid":{"type":"boolean"},"valid_after":{"type":"string"}}},"created_at":{"type":"string"},"domain":{"type":"string"},"last_tested_at":{"type":"string"},"valid_tracking":{"type":"boolean"}}}},"users_info-response":{"type":"object","properties":{"backlog":{"type":"integer"},"created_at":{"type":"string"},"hourly_quota":{"type":"integer"},"public_id":{"type":"string"},"reputation":{"type":"integer"},"stats":{"type":"object","properties":{"all_time":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"last_30_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"last_60_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"last_7_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"last_90_days":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}},"today":{"type":"object","properties":{"clicks":{"type":"integer"},"complaints":{"type":"integer"},"hard_bounces":{"type":"integer"},"opens":{"type":"integer"},"rejects":{"type":"integer"},"sent":{"type":"integer"},"soft_bounces":{"type":"integer"},"unique_clicks":{"type":"integer"},"unique_opens":{"type":"integer"},"unsubs":{"type":"integer"}}}}},"username":{"type":"string"}}},"users_ping2-response":{"type":"object","properties":{"PING":{"type":"string"}}},"webhook":{"type":"object","properties":{"auth_key":{"type":"string"},"batches_sent":{"type":"integer"},"created_at":{"type":"string"},"description":{"type":"string"},"events":{"type":"array","items":{"type":"string"}},"events_sent":{"type":"integer"},"id":{"type":"integer"},"last_error":{"type":"string"},"last_sent_at":{"type":"string"},"url":{"type":"string"}}},"webhook_key":{"type":"object","properties":{"id":{"type":"integer"},"key":{"type":"string"}}},"webhooks_add":{"type":"object","properties":{"description":{"type":"string"},"events":{"type":"array","items":{"type":"string"}},"key":{"type":"string"},"url":{"type":"string"}}},"webhooks_list-response":{"type":"array","items":{"type":"object","properties":{"auth_key":{"type":"string"},"batches_sent":{"type":"integer"},"created_at":{"type":"string"},"description":{"type":"string"},"events":{"type":"array","items":{"type":"string"}},"events_sent":{"type":"integer"},"id":{"type":"integer"},"last_error":{"type":"string"},"last_sent_at":{"type":"string"},"url":{"type":"string"}}}},"webhooks_update":{"type":"object","properties":{"description":{"type":"string"},"events":{"type":"array","items":{"type":"string"}},"id":{"type":"integer"},"key":{"type":"string"},"url":{"type":"string"}}},"whitelists_add-response":{"type":"object","properties":{"email":{"type":"string"},"whether":{"type":"boolean"}}},"whitelists_delete-response":{"type":"object","properties":{"deleted":{"type":"boolean"},"email":{"type":"string"}}},"whitelists_list-response":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string"},"detail":{"type":"string"},"email":{"type":"string"}}}}}}}