{"openapi":"3.0.1","info":{"title":"Microsoft NetApp","description":"Microsoft NetApp Azure Resource Provider specification","version":"2019-07-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.NetApp/operations":{"get":{"tags":["Operations"],"summary":"Describes the Resource Provider","description":"Lists all of the available Microsoft.NetApp Rest API operations","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"Error response describing why the operation failed."}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkFilePathAvailability":{"post":{"summary":"Check file path availability","description":"Check if a file path is available.","operationId":"CheckFilePathAvailability","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The location","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"requestBody":{"description":"File path availability request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailabilityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailability"}}}},"default":{"description":"Error response describing why the operation failed."}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkNameAvailability":{"post":{"summary":"Check resource name availability","description":"Check if a resource name is available.","operationId":"CheckNameAvailability","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The location","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"requestBody":{"description":"Name availability request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailabilityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailability"}}}},"default":{"description":"Error response describing why the operation failed."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts":{"get":{"tags":["NetApp Accounts"],"summary":"Describe all NetApp Accounts in a resource group","description":"List and describe all NetApp accounts in the resource group","operationId":"Accounts_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/netAppAccountList"}}}},"default":{"description":"Error response describing why the operation failed."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}":{"get":{"tags":["NetApp Accounts"],"summary":"Describe a NetApp Account","description":"Get the NetApp account","operationId":"Accounts_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/netAppAccount"}}}},"default":{"description":"Error response describing why the operation failed."}}},"put":{"tags":["NetApp Accounts"],"summary":"Create or update a NetApp account","description":"Create or update the specified NetApp account within the resource group","operationId":"Accounts_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"requestBody":{"description":"NetApp Account object supplied in the body of the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/netAppAccount"}}},"required":true},"responses":{"200":{"description":"OK - account updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/netAppAccount"}}}},"201":{"description":"Account created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/netAppAccount"}}}},"202":{"description":"Accepted -- Create, update or delete request accepted; operation will complete asynchronously"},"default":{"description":"Error response describing why the operation failed."}}},"delete":{"tags":["NetApp Accounts"],"summary":"Delete a NetApp account","description":"Delete the specified NetApp account","operationId":"Accounts_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"202":{"description":"Accepted -- Create, update or delete request accepted; operation will complete asynchronously"},"204":{"description":"NoContent -- Resource does not exist."},"default":{"description":"Error response describing why the operation failed."}}},"patch":{"tags":["NetApp Accounts"],"summary":"Update a NetApp account","description":"Patch the specified NetApp account","operationId":"Accounts_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"requestBody":{"description":"NetApp Account object supplied in the body of the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/netAppAccountPatch"}}},"required":true},"responses":{"200":{"description":"OK - account updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/netAppAccount"}}}},"202":{"description":"Accepted -- Create, update or delete request accepted; operation will complete asynchronously"},"default":{"description":"Error response describing why the operation failed."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools":{"get":{"tags":["Capacity Pools"],"summary":"Describe all Capacity Pools","description":"List all capacity pools in the NetApp Account","operationId":"Pools_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/capacityPoolList"}}}},"default":{"description":"Error response describing why the operation failed."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}":{"get":{"tags":["Capacity Pools"],"summary":"Describe a Capacity Pool","description":"Get details of the specified capacity pool","operationId":"Pools_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/capacityPool"}}}},"default":{"description":"Error response describing why the operation failed."}}},"put":{"tags":["Capacity Pools"],"summary":"Create or Update the specified capacity pool within the resource group","description":"Create or Update a capacity pool","operationId":"Pools_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"requestBody":{"description":"Capacity pool object supplied in the body of the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/capacityPool"}}},"required":true},"responses":{"200":{"description":"OK - pool updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/capacityPool"}}}},"201":{"description":"Pool created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/capacityPool"}}}},"202":{"description":"Accepted -- Create, update or delete request accepted; operation will complete asynchronously"},"default":{"description":"Error response describing why the operation failed."}}},"delete":{"tags":["Capacity Pools"],"summary":"Delete a capacity pool","description":"Delete the specified capacity pool","operationId":"Pools_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"202":{"description":"Accepted -- Create, update or delete request accepted; operation will complete asynchronously"},"204":{"description":"NoContent -- Resource does not exist."},"default":{"description":"Error response describing why the operation failed."}}},"patch":{"tags":["Capacity Pools"],"summary":"Update a capacity pool","description":"Patch the specified capacity pool","operationId":"Pools_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"requestBody":{"description":"Capacity pool object supplied in the body of the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/capacityPoolPatch"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/capacityPool"}}}},"202":{"description":"Accepted -- Create, update or delete request accepted; operation will complete asynchronously"},"default":{"description":"Error response describing why the operation failed."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes":{"get":{"tags":["Volumes"],"summary":"Describe all volumes","description":"List all volumes within the capacity pool","operationId":"Volumes_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/volumeList"}}}},"default":{"description":"Error response describing why the operation failed."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}":{"get":{"tags":["Volumes"],"summary":"Describe a volume","description":"Get the details of the specified volume","operationId":"Volumes_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"volumeName","in":"path","description":"The name of the volume","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/volume"}}}},"default":{"description":"Error response describing why the operation failed."}}},"put":{"tags":["Volumes"],"summary":"Create or Update a volume","description":"Create or update the specified volume within the capacity pool","operationId":"Volumes_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"volumeName","in":"path","description":"The name of the volume","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"requestBody":{"description":"Volume object supplied in the body of the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/volume"}}},"required":true},"responses":{"200":{"description":"Ok - volume updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/volume"}}}},"201":{"description":"Volume created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/volume"}}}},"202":{"description":"Accepted -- Create request accepted; operation will complete asynchronously"},"default":{"description":"Error response describing why the operation failed."}}},"delete":{"tags":["Volumes"],"summary":"Delete a volume","description":"Delete the specified volume","operationId":"Volumes_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"volumeName","in":"path","description":"The name of the volume","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"202":{"description":"Accepted -- Create, update or delete request accepted; operation will complete asynchronously"},"204":{"description":"NoContent -- Resource does not exist."},"default":{"description":"Error response describing why the operation failed."}}},"patch":{"tags":["Volumes"],"summary":"Update a volume","description":"Patch the specified volume","operationId":"Volumes_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"volumeName","in":"path","description":"The name of the volume","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"requestBody":{"description":"Volume object supplied in the body of the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/volumePatch"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/volume"}}}},"202":{"description":"Accepted -- Create, update or delete request accepted; operation will complete asynchronously"},"default":{"description":"Error response describing why the operation failed."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/mountTargets":{"get":{"tags":["MountTargets"],"summary":"Describe all mount targets","description":"List all mount targets associated with the volume","operationId":"MountTargets_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"volumeName","in":"path","description":"The name of the volume","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mountTargetList"}}}},"default":{"description":"Error response describing why the operation failed."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/snapshots":{"get":{"tags":["Snapshots"],"summary":"Describe all snapshots","description":"List all snapshots associated with the volume","operationId":"Snapshots_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"volumeName","in":"path","description":"The name of the volume","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/snapshotsList"}}}},"default":{"description":"Error response describing why the operation failed."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/snapshots/{snapshotName}":{"get":{"tags":["Snapshots"],"summary":"Describe a snapshot","description":"Get details of the specified snapshot","operationId":"Snapshots_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"volumeName","in":"path","description":"The name of the volume","required":true,"schema":{"type":"string"}},{"name":"snapshotName","in":"path","description":"The name of the mount target","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/snapshot"}}}},"default":{"description":"Error response describing why the operation failed."}}},"put":{"tags":["Snapshots"],"summary":"Create a snapshot","description":"Create the specified snapshot within the given volume","operationId":"Snapshots_Create","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"volumeName","in":"path","description":"The name of the volume","required":true,"schema":{"type":"string"}},{"name":"snapshotName","in":"path","description":"The name of the mount target","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"requestBody":{"description":"Snapshot object supplied in the body of the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/snapshot"}}},"required":true},"responses":{"201":{"description":"Snapshot created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/snapshot"}}}},"202":{"description":"Accepted -- Create request accepted; operation will complete asynchronously"},"default":{"description":"Error response describing why the operation failed."}}},"delete":{"tags":["Snapshots"],"summary":"Delete a snapshot","description":"Delete snapshot","operationId":"Snapshots_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"volumeName","in":"path","description":"The name of the volume","required":true,"schema":{"type":"string"}},{"name":"snapshotName","in":"path","description":"The name of the mount target","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted -- Create, update or delete request accepted; operation will complete asynchronously"},"204":{"description":"NoContent -- Resource does not exist."},"default":{"description":"Error response describing why the operation failed."}}},"patch":{"tags":["Snapshots"],"summary":"Update a snapshot","description":"Patch a snapshot","operationId":"Snapshots_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},{"name":"volumeName","in":"path","description":"The name of the volume","required":true,"schema":{"type":"string"}},{"name":"snapshotName","in":"path","description":"The name of the mount target","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}}],"requestBody":{"description":"Snapshot object supplied in the body of the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/snapshotPatch"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/snapshot"}}}},"202":{"description":"Accepted -- Update request accepted; operation will complete asynchronously"},"default":{"description":"Error response describing why the operation failed."}}}}},"components":{"schemas":{"Dimension":{"type":"object","properties":{"displayName":{"type":"string","description":"Display name of dimension."},"name":{"type":"string","description":"Display name of dimension."}},"description":"Dimension of blobs, possibly be blob type or access tier."},"MetricSpecification":{"type":"object","properties":{"aggregationType":{"type":"string","description":"Aggregation type could be Average."},"category":{"type":"string","description":"The category this metric specification belong to, could be Capacity."},"dimensions":{"type":"array","description":"Dimensions of blobs, including blob type and access tier.","items":{"$ref":"#/components/schemas/Dimension"}},"displayDescription":{"type":"string","description":"Display description of metric specification."},"displayName":{"type":"string","description":"Display name of metric specification."},"fillGapWithZero":{"type":"boolean","description":"The property to decide fill gap with zero or not."},"name":{"type":"string","description":"Name of metric specification."},"resourceIdDimensionNameOverride":{"type":"string","description":"Account Resource Id."},"unit":{"type":"string","description":"Unit could be Bytes or Count."}},"description":"Metric specification of operation."},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"Operation description."},"operation":{"type":"string","description":"Type of operation: get, read, delete, etc."},"provider":{"type":"string","description":"Service provider: Microsoft NetApp."},"resource":{"type":"string","description":"Resource on which the operation is performed etc."}},"description":"Display metadata associated with the operation."},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"},"origin":{"type":"string","description":"The origin of operations."},"properties":{"$ref":"#/components/schemas/OperationProperties"}},"description":"Microsoft.NetApp REST API operation definition."},"OperationListResult":{"type":"object","properties":{"value":{"type":"array","description":"List of Storage operations supported by the Storage resource provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list Cloud Volume operations. It contains a list of operations and a URL link to get the next set of results."},"OperationProperties":{"type":"object","properties":{"serviceSpecification":{"$ref":"#/components/schemas/ServiceSpecification"}},"description":"Properties of operation, include metric specifications."},"ResourceNameAvailability":{"type":"object","properties":{"isAvailable":{"type":"boolean","description":"<code>true</code> indicates name is valid and available. <code>false</code> indicates the name is invalid, unavailable, or both."},"message":{"type":"string","description":"If reason == invalid, provide the user with the reason why the given name is invalid, and provide the resource naming requirements so that the user can select a valid name. If reason == AlreadyExists, explain that resource name is already in use, and direct them to select a different name."},"reason":{"type":"string","description":"<code>Invalid</code> indicates the name provided does not match Azure App Service naming requirements. <code>AlreadyExists</code> indicates that the name is already in use and is therefore unavailable.","enum":["Invalid","AlreadyExists"]}},"description":"Information regarding availability of a resource name."},"ResourceNameAvailabilityRequest":{"required":["name","resourceGroup","type"],"type":"object","properties":{"name":{"type":"string","description":"Resource name to verify."},"resourceGroup":{"type":"string","description":"Resource group name."},"type":{"type":"string","description":"Resource type used for verification.","enum":["Microsoft.NetApp/netAppAccounts","Microsoft.NetApp/netAppAccounts/capacityPools","Microsoft.NetApp/netAppAccounts/capacityPools/volumes","Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots"]}},"description":"Resource name availability request content."},"ServiceSpecification":{"type":"object","properties":{"metricSpecifications":{"type":"array","description":"Metric specifications of operation.","items":{"$ref":"#/components/schemas/MetricSpecification"}}},"description":"One property of operation, include metric specifications."},"accountProperties":{"type":"object","properties":{"activeDirectories":{"type":"array","description":"Active Directories","items":{"$ref":"#/components/schemas/activeDirectory"}},"provisioningState":{"type":"string","description":"Azure lifecycle management","readOnly":true}},"description":"NetApp account properties"},"activeDirectory":{"type":"object","properties":{"activeDirectoryId":{"type":"string","description":"Id of the Active Directory"},"dns":{"type":"string","description":"Comma separated list of DNS server IP addresses for the Active Directory domain"},"domain":{"type":"string","description":"Name of the Active Directory domain"},"organizationalUnit":{"type":"string","description":"The Organizational Unit (OU) within the Windows Active Directory"},"password":{"type":"string","description":"Plain text password of Active Directory domain administrator"},"smbServerName":{"type":"string","description":"NetBIOS name of the SMB server. This name will be registered as a computer account in the AD and used to mount volumes"},"status":{"type":"string","description":"Status of the Active Directory"},"username":{"type":"string","description":"Username of Active Directory domain administrator"}},"description":"Active Directory"},"capacityPool":{"required":["location","properties"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"properties":{"$ref":"#/components/schemas/poolProperties"},"tags":{"$ref":"#/components/schemas/resourceTags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Capacity pool resource"},"capacityPoolList":{"type":"object","properties":{"value":{"type":"array","description":"List of Capacity pools","items":{"$ref":"#/components/schemas/capacityPool"}}},"description":"List of capacity pool resources"},"capacityPoolPatch":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"properties":{"$ref":"#/components/schemas/poolPatchProperties"},"tags":{"$ref":"#/components/schemas/resourceTags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Capacity pool patch resource"},"exportPolicyRule":{"type":"object","properties":{"allowedClients":{"type":"string","description":"Client ingress specification as comma separated string with IPv4 CIDRs, IPv4 host addresses and host names"},"cifs":{"type":"boolean","description":"Allows CIFS protocol"},"nfsv3":{"type":"boolean","description":"Allows NFSv3 protocol"},"nfsv41":{"type":"boolean","description":"Allows NFSv4.1 protocol"},"ruleIndex":{"type":"integer","description":"Order index"},"unixReadOnly":{"type":"boolean","description":"Read only access"},"unixReadWrite":{"type":"boolean","description":"Read and write access"}},"description":"Volume Export Policy Rule"},"mountTarget":{"required":["location","properties"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"properties":{"$ref":"#/components/schemas/mountTargetProperties"},"tags":{"$ref":"#/components/schemas/resourceTags"}},"description":"Mount Target"},"mountTargetList":{"type":"object","properties":{"value":{"type":"array","description":"A list of Mount targets","items":{"$ref":"#/components/schemas/mountTarget"}}},"description":"List of Mount Targets"},"mountTargetProperties":{"required":["fileSystemId"],"type":"object","properties":{"endIp":{"title":"endIp","type":"string","description":"The end of IPv4 address range to use when creating a new mount target","example":"1.2.3.4"},"fileSystemId":{"title":"fileSystemId","maxLength":36,"minLength":36,"pattern":"^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$","type":"string","description":"UUID v4 used to identify the MountTarget","example":"9760acf5-4638-11e7-9bdb-020073ca3333"},"gateway":{"title":"gateway","type":"string","description":"The gateway of the IPv4 address range to use when creating a new mount target","example":"1.2.3.4"},"ipAddress":{"title":"ipAddress","type":"string","description":"The mount target's IPv4 address","readOnly":true,"example":"1.2.3.4"},"mountTargetId":{"title":"mountTargetId","maxLength":36,"minLength":36,"pattern":"^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$","type":"string","description":"UUID v4 used to identify the MountTarget","readOnly":true,"example":"9760acf5-4638-11e7-9bdb-020073ca3333"},"netmask":{"title":"netmask","type":"string","description":"The netmask of the IPv4 address range to use when creating a new mount target","example":"255.255.255.0"},"provisioningState":{"type":"string","description":"Azure lifecycle management","readOnly":true},"smbServerFqdn":{"title":"smbServerFQDN","type":"string","description":"The SMB server's Fully Qualified Domain Name, FQDN","example":"fullyqualified.domainname.com"},"startIp":{"title":"startIp","type":"string","description":"The start of IPv4 address range to use when creating a new mount target","example":"1.2.3.4"},"subnet":{"title":"subnet","type":"string","description":"The subnet","example":"1.2.3.4"}},"description":"Mount target properties"},"netAppAccount":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"properties":{"$ref":"#/components/schemas/accountProperties"},"tags":{"$ref":"#/components/schemas/resourceTags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"NetApp account resource"},"netAppAccountList":{"type":"object","properties":{"value":{"type":"array","description":"Multiple NetApp accounts","items":{"$ref":"#/components/schemas/netAppAccount"}}},"description":"List of NetApp account resources"},"netAppAccountPatch":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"properties":{"$ref":"#/components/schemas/accountProperties"},"tags":{"$ref":"#/components/schemas/resourceTags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"NetApp account patch resource"},"poolPatchProperties":{"type":"object","properties":{"serviceLevel":{"title":"serviceLevel","type":"string","description":"The service level of the file system","example":"Ultra","default":"Premium","enum":["Standard","Premium","Ultra"]},"size":{"title":"size","maximum":549755813888000,"minimum":4398046511104,"type":"integer","description":"Provisioned size of the pool (in bytes). Allowed values are in 4TiB chunks (value must be multiply of 4398046511104).","format":"int64","default":4398046511104}},"description":"Patchable pool properties"},"poolProperties":{"required":["serviceLevel","size"],"type":"object","properties":{"poolId":{"title":"poolId","maxLength":36,"minLength":36,"pattern":"^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$","type":"string","description":"UUID v4 used to identify the Pool","readOnly":true,"example":"9760acf5-4638-11e7-9bdb-020073ca7778"},"provisioningState":{"type":"string","description":"Azure lifecycle management","readOnly":true},"serviceLevel":{"title":"serviceLevel","type":"string","description":"The service level of the file system","example":"Ultra","default":"Premium","enum":["Standard","Premium","Ultra"]},"size":{"title":"size","maximum":549755813888000,"minimum":4398046511104,"type":"integer","description":"Provisioned size of the pool (in bytes). Allowed values are in 4TiB chunks (value must be multiply of 4398046511104).","format":"int64"}},"description":"Pool properties"},"resourceTags":{"type":"object","description":"Resource tags"},"snapshot":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"properties":{"$ref":"#/components/schemas/snapshotProperties"},"tags":{"$ref":"#/components/schemas/resourceTags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Snapshot of a Volume"},"snapshotPatch":{"type":"object","properties":{"tags":{"$ref":"#/components/schemas/resourceTags"}},"description":"Snapshot patch"},"snapshotProperties":{"type":"object","properties":{"created":{"title":"name","type":"string","description":"The creation date of the snapshot","format":"date-time","readOnly":true},"fileSystemId":{"title":"fileSystemId","maxLength":36,"minLength":36,"pattern":"^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$","type":"string","description":"UUID v4 used to identify the FileSystem","example":"9760acf5-4638-11e7-9bdb-020073ca3333"},"provisioningState":{"type":"string","description":"Azure lifecycle management","readOnly":true},"snapshotId":{"title":"snapshotId","maxLength":36,"minLength":36,"pattern":"^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$","type":"string","description":"UUID v4 used to identify the Snapshot","readOnly":true,"example":"9760acf5-4638-11e7-9bdb-020073ca3333"}},"description":"Snapshot properties"},"snapshotsList":{"type":"object","properties":{"value":{"type":"array","description":"A list of Snapshots","items":{"$ref":"#/components/schemas/snapshot"}}},"description":"List of Snapshots"},"volume":{"required":["location","properties"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"properties":{"$ref":"#/components/schemas/volumeProperties"},"tags":{"$ref":"#/components/schemas/resourceTags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Volume resource"},"volumeList":{"type":"object","properties":{"value":{"type":"array","description":"List of volumes","items":{"$ref":"#/components/schemas/volume"}}},"description":"List of volume resources"},"volumePatch":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"properties":{"$ref":"#/components/schemas/volumePatchProperties"},"tags":{"$ref":"#/components/schemas/resourceTags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Volume patch resource"},"volumePatchProperties":{"type":"object","properties":{"exportPolicy":{"title":"exportPolicy","type":"object","properties":{"rules":{"title":"Export policy rule","type":"array","description":"Export policy rule","items":{"$ref":"#/components/schemas/exportPolicyRule"}}},"description":"Set of export policy rules"},"serviceLevel":{"title":"serviceLevel","type":"string","description":"The service level of the file system","example":"Ultra","default":"Premium","enum":["Standard","Premium","Ultra"]},"usageThreshold":{"title":"usageThreshold","maximum":109951162777600,"minimum":107374182400,"type":"integer","description":"Maximum storage quota allowed for a file system in bytes. This is a soft quota used for alerting only. Minimum size is 100 GiB. Upper limit is 100TiB. Specified in bytes.","format":"int64","example":107374182400,"default":107374182400}},"description":"Patchable volume properties"},"volumeProperties":{"required":["creationToken","subnetId","usageThreshold"],"type":"object","properties":{"baremetalTenantId":{"title":"Baremetal Tenant ID","maxLength":36,"minLength":36,"pattern":"^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$","type":"string","description":"Unique Baremetal Tenant Identifier.","readOnly":true,"example":"9560acf5-4e3a-12e7-9bdb-02007cca7779"},"creationToken":{"title":"Creation Token or File Path","type":"string","description":"A unique file path for the volume. Used when creating mount targets","example":"some-amazing-filepath"},"exportPolicy":{"title":"exportPolicy","type":"object","properties":{"rules":{"title":"Export policy rule","type":"array","description":"Export policy rule","items":{"$ref":"#/components/schemas/exportPolicyRule"}}},"description":"Set of export policy rules"},"fileSystemId":{"title":"FileSystem ID","maxLength":36,"minLength":36,"pattern":"^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$","type":"string","description":"Unique FileSystem Identifier.","readOnly":true,"example":"9760acf5-4638-11e7-9bdb-020073ca7778"},"mountTargets":{"title":"mountTargets","type":"object","description":"List of mount targets"},"protocolTypes":{"title":"protocolTypes","type":"array","description":"Set of protocol types","example":["NFSv4.1"],"items":{"type":"string"}},"provisioningState":{"type":"string","description":"Azure lifecycle management","readOnly":true},"serviceLevel":{"title":"serviceLevel","type":"string","description":"The service level of the file system","example":"Ultra","default":"Premium","enum":["Standard","Premium","Ultra"]},"snapshotId":{"title":"Snapshot ID","maxLength":36,"minLength":36,"pattern":"^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}|(\\\\?([^\\/]*[\\/])*)([^\\/]+)$","type":"string","description":"UUID v4 or resource identifier used to identify the Snapshot.","example":"9760acf5-4638-11e7-9bdb-020073ca3333"},"subnetId":{"type":"string","description":"The Azure Resource URI for a delegated subnet. Must have the delegation Microsoft.NetApp/volumes"},"usageThreshold":{"title":"usageThreshold","maximum":109951162777600,"minimum":107374182400,"type":"integer","description":"Maximum storage quota allowed for a file system in bytes. This is a soft quota used for alerting only. Minimum size is 100 GiB. Upper limit is 100TiB. Specified in bytes.","format":"int64","example":107374182400,"default":107374182400}},"description":"Volume properties"}},"parameters":{"AccountName":{"name":"accountName","in":"path","description":"The name of the NetApp account","required":true,"schema":{"type":"string"}},"ApiVersionParameter":{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string","default":"2019-07-01"}},"MountTargetName":{"name":"mountTargetName","in":"path","description":"The name of the mount target","required":true,"schema":{"type":"string"}},"PoolName":{"name":"poolName","in":"path","description":"The name of the capacity pool","required":true,"schema":{"type":"string"}},"ResourceGroup":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},"SnapshotName":{"name":"snapshotName","in":"path","description":"The name of the mount target","required":true,"schema":{"type":"string"}},"SubscriptionId":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},"VolumeName":{"name":"volumeName","in":"path","description":"The name of the volume","required":true,"schema":{"type":"string"}},"location":{"name":"location","in":"path","description":"The location","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}