{"openapi":"3.0.1","info":{"title":"AppServiceEnvironments API Client","version":"2018-02-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get all App Service Environments for a subscription.","description":"Get all App Service Environments for a subscription.","operationId":"AppServiceEnvironments_List","parameters":[{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppServiceEnvironmentCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get all App Service Environments in a resource group.","description":"Get all App Service Environments in a resource group.","operationId":"AppServiceEnvironments_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppServiceEnvironmentCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get the properties of an App Service Environment.","description":"Get the properties of an App Service Environment.","operationId":"AppServiceEnvironments_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppServiceEnvironmentResource"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}},"put":{"tags":["AppServiceEnvironments"],"summary":"Create or update an App Service Environment.","description":"Create or update an App Service Environment.","operationId":"AppServiceEnvironments_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Configuration details of the App Service Environment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppServiceEnvironmentResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppServiceEnvironmentResource"}}}},"202":{"description":"Operation is in progress.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppServiceEnvironmentResource"}}}},"400":{"description":"Bad request."},"404":{"description":"Not found."},"409":{"description":"Conflict."}}},"delete":{"tags":["AppServiceEnvironments"],"summary":"Delete an App Service Environment.","description":"Delete an App Service Environment.","operationId":"AppServiceEnvironments_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"forceDelete","in":"query","description":"Specify <code>true</code> to force the deletion even if the App Service Environment contains resources. The default is <code>false</code>.","schema":{"type":"boolean"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Operation is in progress."},"204":{"description":"App Service Environment does not exist"},"400":{"description":"Bad request."},"404":{"description":"Not found."},"409":{"description":"Conflict."}}},"patch":{"tags":["AppServiceEnvironments"],"summary":"Create or update an App Service Environment.","description":"Create or update an App Service Environment.","operationId":"AppServiceEnvironments_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Configuration details of the App Service Environment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppServiceEnvironmentPatchResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppServiceEnvironmentResource"}}}},"202":{"description":"Operation is in progress.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppServiceEnvironmentResource"}}}},"400":{"description":"Bad request."},"404":{"description":"Not found."},"409":{"description":"Conflict."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get the used, available, and total worker capacity an App Service Environment.","description":"Get the used, available, and total worker capacity an App Service Environment.","operationId":"AppServiceEnvironments_ListCapacities","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StampCapacityCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get IP addresses assigned to an App Service Environment.","description":"Get IP addresses assigned to an App Service Environment.","operationId":"AppServiceEnvironments_ListVips","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressResponse"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/changeVirtualNetwork":{"post":{"tags":["AppServiceEnvironments"],"summary":"Move an App Service Environment to a different VNET.","description":"Move an App Service Environment to a different VNET.","operationId":"AppServiceEnvironments_ChangeVnet","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Details for the new virtual network.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Resource id of the Virtual Network."},"name":{"type":"string","description":"Name of the Virtual Network (read-only).","readOnly":true},"subnet":{"type":"string","description":"Subnet within the Virtual Network."},"type":{"type":"string","description":"Resource type of the Virtual Network (read-only).","readOnly":true}},"description":"Specification for using a Virtual Network."}}},"required":true},"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"type":"object","properties":{"identity":{"type":"object","properties":{"principalId":{"type":"string","description":"Principal Id of managed service identity.","readOnly":true},"tenantId":{"type":"string","description":"Tenant of managed service identity.","readOnly":true},"type":{"type":"string","description":"Type of managed service identity.","enum":["SystemAssigned","UserAssigned","SystemAssigned, UserAssigned","None"]},"userAssignedIdentities":{"type":"object","additionalProperties":{"type":"object","properties":{"clientId":{"type":"string","description":"Client Id of user assigned identity","readOnly":true},"principalId":{"type":"string","description":"Principal Id of user assigned identity","readOnly":true}}},"description":"The list of user assigned identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}"}},"description":"Managed service identity."},"properties":{"type":"object","properties":{"availabilityState":{"type":"string","description":"Management information availability state for the app.","readOnly":true,"enum":["Normal","Limited","DisasterRecoveryMode"]},"clientAffinityEnabled":{"type":"boolean","description":"<code>true</code> to enable client affinity; <code>false</code> to stop sending session affinity cookies, which route client requests in the same session to the same instance. Default is <code>true</code>."},"clientCertEnabled":{"type":"boolean","description":"<code>true</code> to enable client certificate authentication (TLS mutual authentication); otherwise, <code>false</code>. Default is <code>false</code>."},"clientCertExclusionPaths":{"type":"string","description":"client certificate authentication comma-separated exclusion paths"},"cloningInfo":{"required":["sourceWebAppId"],"type":"object","properties":{"appSettingsOverrides":{"type":"object","additionalProperties":{"type":"string"},"description":"Application setting overrides for cloned app. If specified, these settings override the settings cloned \nfrom source app. Otherwise, application settings from source app are retained."},"cloneCustomHostNames":{"type":"boolean","description":"<code>true</code> to clone custom hostnames from source app; otherwise, <code>false</code>."},"cloneSourceControl":{"type":"boolean","description":"<code>true</code> to clone source control from source app; otherwise, <code>false</code>."},"configureLoadBalancing":{"type":"boolean","description":"<code>true</code> to configure load balancing for source and destination app."},"correlationId":{"type":"string","description":"Correlation ID of cloning operation. This ID ties multiple cloning operations\ntogether to use the same snapshot.","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"hostingEnvironment":{"type":"string","description":"App Service Environment."},"overwrite":{"type":"boolean","description":"<code>true</code> to overwrite destination app; otherwise, <code>false</code>."},"sourceWebAppId":{"type":"string","description":"ARM resource ID of the source app. App resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName} for production slots and \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slotName} for other slots."},"sourceWebAppLocation":{"type":"string","description":"Location of source app ex: West US or North Europe"},"trafficManagerProfileId":{"type":"string","description":"ARM resource ID of the Traffic Manager profile to use, if it exists. Traffic Manager resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{profileName}."},"trafficManagerProfileName":{"type":"string","description":"Name of Traffic Manager profile to create. This is only needed if Traffic Manager profile does not already exist."}},"description":"Information needed for cloning operation."},"containerSize":{"type":"integer","description":"Size of the function container.","format":"int32"},"dailyMemoryTimeQuota":{"type":"integer","description":"Maximum allowed daily memory-time quota (applicable on dynamic apps only).","format":"int32"},"defaultHostName":{"type":"string","description":"Default hostname of the app. Read-only.","readOnly":true},"enabled":{"type":"boolean","description":"<code>true</code> if the app is enabled; otherwise, <code>false</code>. Setting this value to false disables the app (takes the app offline)."},"enabledHostNames":{"type":"array","description":"Enabled hostnames for the app.Hostnames need to be assigned (see HostNames) AND enabled. Otherwise,\nthe app is not served on those hostnames.","readOnly":true,"items":{"type":"string"}},"geoDistributions":{"type":"array","description":"GeoDistributions for this site","items":{"type":"object","properties":{"location":{"type":"string","description":"Location."},"numberOfWorkers":{"type":"integer","description":"NumberOfWorkers.","format":"int32"}},"description":"A global distribution definition."}},"hostNameSslStates":{"type":"array","description":"Hostname SSL states are used to manage the SSL bindings for app's hostnames.","items":{"type":"object","properties":{"hostType":{"type":"string","description":"Indicates whether the hostname is a standard or repository hostname.","enum":["Standard","Repository"]},"name":{"type":"string","description":"Hostname."},"sslState":{"type":"string","description":"SSL type.","enum":["Disabled","SniEnabled","IpBasedEnabled"]},"thumbprint":{"type":"string","description":"SSL certificate thumbprint."},"toUpdate":{"type":"boolean","description":"Set to <code>true</code> to update existing hostname."},"virtualIP":{"type":"string","description":"Virtual IP address assigned to the hostname if IP based SSL is enabled."}},"description":"SSL-enabled hostname."}},"hostNames":{"type":"array","description":"Hostnames associated with the app.","readOnly":true,"items":{"type":"string"}},"hostNamesDisabled":{"type":"boolean","description":"<code>true</code> to disable the public hostnames of the app; otherwise, <code>false</code>.\n If <code>true</code>, the app is only accessible via API management process."},"hostingEnvironmentProfile":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID of the App Service Environment."},"name":{"type":"string","description":"Name of the App Service Environment.","readOnly":true},"type":{"type":"string","description":"Resource type of the App Service Environment.","readOnly":true}},"description":"Specification for an App Service Environment to use for this resource."},"httpsOnly":{"type":"boolean","description":"HttpsOnly: configures a web site to accept only https requests. Issues redirect for\nhttp requests"},"hyperV":{"type":"boolean","description":"Hyper-V sandbox.","default":false},"inProgressOperationId":{"type":"string","description":"Specifies an operation id if this site has a pending operation.","format":"uuid","readOnly":true,"example":"00000000-0000-0000-0000-000000000000"},"isDefaultContainer":{"type":"boolean","description":"<code>true</code> if the app is a default container; otherwise, <code>false</code>.","readOnly":true},"isXenon":{"type":"boolean","description":"Obsolete: Hyper-V sandbox.","default":false},"lastModifiedTimeUtc":{"type":"string","description":"Last time the app was modified, in UTC. Read-only.","format":"date-time","readOnly":true},"maxNumberOfWorkers":{"type":"integer","description":"Maximum number of workers.\nThis only applies to Functions container.","format":"int32","readOnly":true},"outboundIpAddresses":{"type":"string","description":"List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from tenants that site can be hosted with current settings. Read-only.","readOnly":true},"possibleOutboundIpAddresses":{"type":"string","description":"List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from all tenants. Read-only.","readOnly":true},"redundancyMode":{"type":"string","description":"Site redundancy mode","enum":["None","Manual","Failover","ActiveActive","GeoRedundant"]},"repositorySiteName":{"type":"string","description":"Name of the repository site.","readOnly":true},"reserved":{"type":"boolean","description":"<code>true</code> if reserved; otherwise, <code>false</code>.","default":false},"resourceGroup":{"type":"string","description":"Name of the resource group the app belongs to. Read-only.","readOnly":true},"scmSiteAlsoStopped":{"type":"boolean","description":"<code>true</code> to stop SCM (KUDU) site when the app is stopped; otherwise, <code>false</code>. The default is <code>false</code>.","default":false},"serverFarmId":{"type":"string","description":"Resource ID of the associated App Service plan, formatted as: \"/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}\"."},"siteConfig":{"type":"object","properties":{"alwaysOn":{"type":"boolean","description":"<code>true</code> if Always On is enabled; otherwise, <code>false</code>."},"apiDefinition":{"type":"object","properties":{"url":{"type":"string","description":"The URL of the API definition."}},"description":"Information about the formal API definition for the app."},"appCommandLine":{"type":"string","description":"App command line to launch."},"appSettings":{"type":"array","description":"Application settings.","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}},"autoHealEnabled":{"type":"boolean","description":"<code>true</code> if Auto Heal is enabled; otherwise, <code>false</code>."},"autoHealRules":{"type":"object","properties":{"actions":{"type":"object","properties":{"actionType":{"type":"string","description":"Predefined action to be taken.","enum":["Recycle","LogEvent","CustomAction"]},"customAction":{"type":"object","properties":{"exe":{"type":"string","description":"Executable to be run."},"parameters":{"type":"string","description":"Parameters for the executable."}},"description":"Custom action to be executed\nwhen an auto heal rule is triggered."},"minProcessExecutionTime":{"type":"string","description":"Minimum time the process must execute\nbefore taking the action"}},"description":"Actions which to take by the auto-heal module when a rule is triggered."},"triggers":{"type":"object","properties":{"privateBytesInKB":{"type":"integer","description":"A rule based on private bytes.","format":"int32"},"requests":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."}},"description":"Trigger based on total requests."},"slowRequests":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."},"timeTaken":{"type":"string","description":"Time taken."}},"description":"Trigger based on request execution time."},"statusCodes":{"type":"array","description":"A rule based on status codes.","items":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"status":{"type":"integer","description":"HTTP status code.","format":"int32"},"subStatus":{"type":"integer","description":"Request Sub Status.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."},"win32Status":{"type":"integer","description":"Win32 error code.","format":"int32"}},"description":"Trigger based on status code."}}},"description":"Triggers for auto-heal."}},"description":"Rules that can be defined for auto-heal."},"autoSwapSlotName":{"type":"string","description":"Auto-swap slot name."},"azureStorageAccounts":{"type":"object","additionalProperties":{"type":"object","properties":{"accessKey":{"type":"string","description":"Access key for the storage account."},"accountName":{"type":"string","description":"Name of the storage account."},"mountPath":{"type":"string","description":"Path to mount the storage within the site's runtime environment."},"shareName":{"type":"string","description":"Name of the file share (container name, for Blob storage)."},"state":{"type":"string","description":"State of the storage account.","readOnly":true,"enum":["Ok","InvalidCredentials","InvalidShare"]},"type":{"type":"string","description":"Type of storage.","enum":["AzureFiles","AzureBlob"]}},"description":"Azure Files or Blob Storage access information value for dictionary storage."},"description":"User-provided Azure storage accounts."},"connectionStrings":{"type":"array","description":"Connection strings.","items":{"type":"object","properties":{"connectionString":{"type":"string","description":"Connection string value."},"name":{"type":"string","description":"Name of connection string."},"type":{"type":"string","description":"Type of database.","enum":["MySql","SQLServer","SQLAzure","Custom","NotificationHub","ServiceBus","EventHub","ApiHub","DocDb","RedisCache","PostgreSQL"]}},"description":"Database connection string information."}},"cors":{"type":"object","properties":{"allowedOrigins":{"type":"array","description":"Gets or sets the list of origins that should be allowed to make cross-origin\ncalls (for example: http://example.com:12345). Use \"*\" to allow all.","items":{"type":"string"}},"supportCredentials":{"type":"boolean","description":"Gets or sets whether CORS requests with credentials are allowed. See \nhttps://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Requests_with_credentials\nfor more details."}},"description":"Cross-Origin Resource Sharing (CORS) settings for the app."},"defaultDocuments":{"type":"array","description":"Default documents.","items":{"type":"string"}},"detailedErrorLoggingEnabled":{"type":"boolean","description":"<code>true</code> if detailed error logging is enabled; otherwise, <code>false</code>."},"documentRoot":{"type":"string","description":"Document root."},"experiments":{"type":"object","properties":{"rampUpRules":{"type":"array","description":"List of ramp-up rules.","items":{"type":"object","properties":{"actionHostName":{"type":"string","description":"Hostname of a slot to which the traffic will be redirected if decided to. E.g. myapp-stage.azurewebsites.net."},"changeDecisionCallbackUrl":{"type":"string","description":"Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified. See TiPCallback site extension for the scaffold and contracts.\nhttps://www.siteextensions.net/packages/TiPCallback/"},"changeIntervalInMinutes":{"type":"integer","description":"Specifies interval in minutes to reevaluate ReroutePercentage.","format":"int32"},"changeStep":{"type":"number","description":"In auto ramp up scenario this is the step to add/remove from <code>ReroutePercentage</code> until it reaches \n<code>MinReroutePercentage</code> or <code>MaxReroutePercentage</code>. Site metrics are checked every N minutes specified in <code>ChangeIntervalInMinutes</code>.\nCustom decision algorithm can be provided in TiPCallback site extension which URL can be specified in <code>ChangeDecisionCallbackUrl</code>.","format":"double"},"maxReroutePercentage":{"type":"number","description":"Specifies upper boundary below which ReroutePercentage will stay.","format":"double"},"minReroutePercentage":{"type":"number","description":"Specifies lower boundary above which ReroutePercentage will stay.","format":"double"},"name":{"type":"string","description":"Name of the routing rule. The recommended name would be to point to the slot which will receive the traffic in the experiment."},"reroutePercentage":{"type":"number","description":"Percentage of the traffic which will be redirected to <code>ActionHostName</code>.","format":"double"}},"description":"Routing rules for ramp up testing. This rule allows to redirect static traffic % to a slot or to gradually change routing % based on performance."}}},"description":"Routing rules in production experiments."},"ftpsState":{"type":"string","description":"State of FTP / FTPS service","enum":["AllAllowed","FtpsOnly","Disabled"]},"handlerMappings":{"type":"array","description":"Handler mappings.","items":{"type":"object","properties":{"arguments":{"type":"string","description":"Command-line arguments to be passed to the script processor."},"extension":{"type":"string","description":"Requests with this extension will be handled using the specified FastCGI application."},"scriptProcessor":{"type":"string","description":"The absolute path to the FastCGI application."}},"description":"The IIS handler mappings used to define which handler processes HTTP requests with certain extension. \nFor example, it is used to configure php-cgi.exe process to handle all HTTP requests with *.php extension."}},"http20Enabled":{"type":"boolean","description":"Http20Enabled: configures a web site to allow clients to connect over http2.0","default":true},"httpLoggingEnabled":{"type":"boolean","description":"<code>true</code> if HTTP logging is enabled; otherwise, <code>false</code>."},"ipSecurityRestrictions":{"type":"array","description":"IP security restrictions for main.","items":{"type":"object","properties":{"action":{"type":"string","description":"Allow or Deny access for this IP range."},"description":{"type":"string","description":"IP restriction rule description."},"ipAddress":{"type":"string","description":"IP address the security restriction is valid for.\nIt can be in form of pure ipv4 address (required SubnetMask property) or\nCIDR notation such as ipv4/mask (leading bit match). For CIDR,\nSubnetMask property must not be specified."},"name":{"type":"string","description":"IP restriction rule name."},"priority":{"type":"integer","description":"Priority of IP restriction rule.","format":"int32"},"subnetMask":{"type":"string","description":"Subnet mask for the range of IP addresses the restriction is valid for."},"subnetTrafficTag":{"type":"integer","description":"(internal) Subnet traffic tag","format":"int32"},"tag":{"type":"string","description":"Defines what this IP filter will be used for. This is to support IP filtering on proxies.","enum":["Default","XffProxy"]},"vnetSubnetResourceId":{"type":"string","description":"Virtual network resource id"},"vnetTrafficTag":{"type":"integer","description":"(internal) Vnet traffic tag","format":"int32"}},"description":"IP security restriction on an app."}},"javaContainer":{"type":"string","description":"Java container."},"javaContainerVersion":{"type":"string","description":"Java container version."},"javaVersion":{"type":"string","description":"Java version."},"limits":{"type":"object","properties":{"maxDiskSizeInMb":{"type":"integer","description":"Maximum allowed disk size usage in MB.","format":"int64"},"maxMemoryInMb":{"type":"integer","description":"Maximum allowed memory usage in MB.","format":"int64"},"maxPercentageCpu":{"type":"number","description":"Maximum allowed CPU usage percentage.","format":"double"}},"description":"Metric limits set on an app."},"linuxFxVersion":{"type":"string","description":"Linux App Framework and version"},"loadBalancing":{"type":"string","description":"Site load balancing.","enum":["WeightedRoundRobin","LeastRequests","LeastResponseTime","WeightedTotalTraffic","RequestHash"]},"localMySqlEnabled":{"type":"boolean","description":"<code>true</code> to enable local MySQL; otherwise, <code>false</code>.","default":false},"logsDirectorySizeLimit":{"type":"integer","description":"HTTP logs directory size limit.","format":"int32"},"machineKey":{"type":"object","properties":{"decryption":{"type":"string","description":"Algorithm used for decryption."},"decryptionKey":{"type":"string","description":"Decryption key."},"validation":{"type":"string","description":"MachineKey validation."},"validationKey":{"type":"string","description":"Validation key."}},"description":"MachineKey of an app."},"managedPipelineMode":{"type":"string","description":"Managed pipeline mode.","enum":["Integrated","Classic"]},"managedServiceIdentityId":{"type":"integer","description":"Managed Service Identity Id","format":"int32"},"minTlsVersion":{"type":"string","description":"MinTlsVersion: configures the minimum version of TLS required for SSL requests","enum":["1.0","1.1","1.2"]},"netFrameworkVersion":{"type":"string","description":".NET Framework version.","default":"v4.6"},"nodeVersion":{"type":"string","description":"Version of Node.js."},"numberOfWorkers":{"type":"integer","description":"Number of workers.","format":"int32"},"phpVersion":{"type":"string","description":"Version of PHP."},"publishingUsername":{"type":"string","description":"Publishing user name."},"push":{"type":"object","properties":{"properties":{"required":["isPushEnabled"],"type":"object","properties":{"dynamicTagsJson":{"type":"string","description":"Gets or sets a JSON string containing a list of dynamic tags that will be evaluated from user claims in the push registration endpoint."},"isPushEnabled":{"type":"boolean","description":"Gets or sets a flag indicating whether the Push endpoint is enabled."},"tagWhitelistJson":{"type":"string","description":"Gets or sets a JSON string containing a list of tags that are whitelisted for use by the push registration endpoint."},"tagsRequiringAuth":{"type":"string","description":"Gets or sets a JSON string containing a list of tags that require user authentication to be used in the push registration endpoint.\nTags can consist of alphanumeric characters and the following:\n'_', '@', '#', '.', ':', '-'. \nValidation should be performed at the PushRequestHandler."}},"description":"PushSettings resource specific properties"}},"description":"Push settings for the App."},"pythonVersion":{"type":"string","description":"Version of Python."},"remoteDebuggingEnabled":{"type":"boolean","description":"<code>true</code> if remote debugging is enabled; otherwise, <code>false</code>."},"remoteDebuggingVersion":{"type":"string","description":"Remote debugging version."},"requestTracingEnabled":{"type":"boolean","description":"<code>true</code> if request tracing is enabled; otherwise, <code>false</code>."},"requestTracingExpirationTime":{"type":"string","description":"Request tracing expiration time.","format":"date-time"},"reservedInstanceCount":{"maximum":10,"minimum":0,"type":"integer","description":"Number of reserved instances.\nThis setting only applies to the Consumption Plan","format":"int32"},"scmIpSecurityRestrictions":{"type":"array","description":"IP security restrictions for scm.","items":{"type":"object","properties":{"action":{"type":"string","description":"Allow or Deny access for this IP range."},"description":{"type":"string","description":"IP restriction rule description."},"ipAddress":{"type":"string","description":"IP address the security restriction is valid for.\nIt can be in form of pure ipv4 address (required SubnetMask property) or\nCIDR notation such as ipv4/mask (leading bit match). For CIDR,\nSubnetMask property must not be specified."},"name":{"type":"string","description":"IP restriction rule name."},"priority":{"type":"integer","description":"Priority of IP restriction rule.","format":"int32"},"subnetMask":{"type":"string","description":"Subnet mask for the range of IP addresses the restriction is valid for."},"subnetTrafficTag":{"type":"integer","description":"(internal) Subnet traffic tag","format":"int32"},"tag":{"type":"string","description":"Defines what this IP filter will be used for. This is to support IP filtering on proxies.","enum":["Default","XffProxy"]},"vnetSubnetResourceId":{"type":"string","description":"Virtual network resource id"},"vnetTrafficTag":{"type":"integer","description":"(internal) Vnet traffic tag","format":"int32"}},"description":"IP security restriction on an app."}},"scmIpSecurityRestrictionsUseMain":{"type":"boolean","description":"IP security restrictions for scm to use main."},"scmType":{"type":"string","description":"SCM type.","enum":["None","Dropbox","Tfs","LocalGit","GitHub","CodePlexGit","CodePlexHg","BitbucketGit","BitbucketHg","ExternalGit","ExternalHg","OneDrive","VSO"]},"tracingOptions":{"type":"string","description":"Tracing options."},"use32BitWorkerProcess":{"type":"boolean","description":"<code>true</code> to use 32-bit worker process; otherwise, <code>false</code>."},"virtualApplications":{"type":"array","description":"Virtual applications.","items":{"type":"object","properties":{"physicalPath":{"type":"string","description":"Physical path."},"preloadEnabled":{"type":"boolean","description":"<code>true</code> if preloading is enabled; otherwise, <code>false</code>."},"virtualDirectories":{"type":"array","description":"Virtual directories for virtual application.","items":{"type":"object","properties":{"physicalPath":{"type":"string","description":"Physical path."},"virtualPath":{"type":"string","description":"Path to virtual application."}},"description":"Directory for virtual application."}},"virtualPath":{"type":"string","description":"Virtual path."}},"description":"Virtual application in an app."}},"vnetName":{"type":"string","description":"Virtual Network name."},"webSocketsEnabled":{"type":"boolean","description":"<code>true</code> if WebSocket is enabled; otherwise, <code>false</code>."},"windowsFxVersion":{"type":"string","description":"Xenon App Framework and version"},"xManagedServiceIdentityId":{"type":"integer","description":"Explicit Managed Service Identity Id","format":"int32"}},"description":"Configuration of an App Service app."},"slotSwapStatus":{"type":"object","properties":{"destinationSlotName":{"type":"string","description":"The destination slot of the last swap operation.","readOnly":true},"sourceSlotName":{"type":"string","description":"The source slot of the last swap operation.","readOnly":true},"timestampUtc":{"type":"string","description":"The time the last successful slot swap completed.","format":"date-time","readOnly":true}},"description":"The status of the last successful slot swap operation."},"state":{"type":"string","description":"Current state of the app.","readOnly":true},"suspendedTill":{"type":"string","description":"App suspended till in case memory-time quota is exceeded.","format":"date-time","readOnly":true},"targetSwapSlot":{"type":"string","description":"Specifies which deployment slot this app will swap into. Read-only.","readOnly":true},"trafficManagerHostNames":{"type":"array","description":"Azure Traffic Manager hostnames associated with the app. Read-only.","readOnly":true,"items":{"type":"string"}},"usageState":{"type":"string","description":"State indicating whether the app has exceeded its quota usage. Read-only.","readOnly":true,"enum":["Normal","Exceeded"]}},"description":"Site resource specific properties"}},"description":"A web app, a mobile app backend, or an API app."}}},"description":"Collection of App Service apps."}}}},"202":{"description":"Operation is in progress.","content":{"application/json":{"schema":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"type":"object","properties":{"identity":{"type":"object","properties":{"principalId":{"type":"string","description":"Principal Id of managed service identity.","readOnly":true},"tenantId":{"type":"string","description":"Tenant of managed service identity.","readOnly":true},"type":{"type":"string","description":"Type of managed service identity.","enum":["SystemAssigned","UserAssigned","SystemAssigned, UserAssigned","None"]},"userAssignedIdentities":{"type":"object","additionalProperties":{"type":"object","properties":{"clientId":{"type":"string","description":"Client Id of user assigned identity","readOnly":true},"principalId":{"type":"string","description":"Principal Id of user assigned identity","readOnly":true}}},"description":"The list of user assigned identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}"}},"description":"Managed service identity."},"properties":{"type":"object","properties":{"availabilityState":{"type":"string","description":"Management information availability state for the app.","readOnly":true,"enum":["Normal","Limited","DisasterRecoveryMode"]},"clientAffinityEnabled":{"type":"boolean","description":"<code>true</code> to enable client affinity; <code>false</code> to stop sending session affinity cookies, which route client requests in the same session to the same instance. Default is <code>true</code>."},"clientCertEnabled":{"type":"boolean","description":"<code>true</code> to enable client certificate authentication (TLS mutual authentication); otherwise, <code>false</code>. Default is <code>false</code>."},"clientCertExclusionPaths":{"type":"string","description":"client certificate authentication comma-separated exclusion paths"},"cloningInfo":{"required":["sourceWebAppId"],"type":"object","properties":{"appSettingsOverrides":{"type":"object","additionalProperties":{"type":"string"},"description":"Application setting overrides for cloned app. If specified, these settings override the settings cloned \nfrom source app. Otherwise, application settings from source app are retained."},"cloneCustomHostNames":{"type":"boolean","description":"<code>true</code> to clone custom hostnames from source app; otherwise, <code>false</code>."},"cloneSourceControl":{"type":"boolean","description":"<code>true</code> to clone source control from source app; otherwise, <code>false</code>."},"configureLoadBalancing":{"type":"boolean","description":"<code>true</code> to configure load balancing for source and destination app."},"correlationId":{"type":"string","description":"Correlation ID of cloning operation. This ID ties multiple cloning operations\ntogether to use the same snapshot.","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"hostingEnvironment":{"type":"string","description":"App Service Environment."},"overwrite":{"type":"boolean","description":"<code>true</code> to overwrite destination app; otherwise, <code>false</code>."},"sourceWebAppId":{"type":"string","description":"ARM resource ID of the source app. App resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName} for production slots and \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slotName} for other slots."},"sourceWebAppLocation":{"type":"string","description":"Location of source app ex: West US or North Europe"},"trafficManagerProfileId":{"type":"string","description":"ARM resource ID of the Traffic Manager profile to use, if it exists. Traffic Manager resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{profileName}."},"trafficManagerProfileName":{"type":"string","description":"Name of Traffic Manager profile to create. This is only needed if Traffic Manager profile does not already exist."}},"description":"Information needed for cloning operation."},"containerSize":{"type":"integer","description":"Size of the function container.","format":"int32"},"dailyMemoryTimeQuota":{"type":"integer","description":"Maximum allowed daily memory-time quota (applicable on dynamic apps only).","format":"int32"},"defaultHostName":{"type":"string","description":"Default hostname of the app. Read-only.","readOnly":true},"enabled":{"type":"boolean","description":"<code>true</code> if the app is enabled; otherwise, <code>false</code>. Setting this value to false disables the app (takes the app offline)."},"enabledHostNames":{"type":"array","description":"Enabled hostnames for the app.Hostnames need to be assigned (see HostNames) AND enabled. Otherwise,\nthe app is not served on those hostnames.","readOnly":true,"items":{"type":"string"}},"geoDistributions":{"type":"array","description":"GeoDistributions for this site","items":{"type":"object","properties":{"location":{"type":"string","description":"Location."},"numberOfWorkers":{"type":"integer","description":"NumberOfWorkers.","format":"int32"}},"description":"A global distribution definition."}},"hostNameSslStates":{"type":"array","description":"Hostname SSL states are used to manage the SSL bindings for app's hostnames.","items":{"type":"object","properties":{"hostType":{"type":"string","description":"Indicates whether the hostname is a standard or repository hostname.","enum":["Standard","Repository"]},"name":{"type":"string","description":"Hostname."},"sslState":{"type":"string","description":"SSL type.","enum":["Disabled","SniEnabled","IpBasedEnabled"]},"thumbprint":{"type":"string","description":"SSL certificate thumbprint."},"toUpdate":{"type":"boolean","description":"Set to <code>true</code> to update existing hostname."},"virtualIP":{"type":"string","description":"Virtual IP address assigned to the hostname if IP based SSL is enabled."}},"description":"SSL-enabled hostname."}},"hostNames":{"type":"array","description":"Hostnames associated with the app.","readOnly":true,"items":{"type":"string"}},"hostNamesDisabled":{"type":"boolean","description":"<code>true</code> to disable the public hostnames of the app; otherwise, <code>false</code>.\n If <code>true</code>, the app is only accessible via API management process."},"hostingEnvironmentProfile":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID of the App Service Environment."},"name":{"type":"string","description":"Name of the App Service Environment.","readOnly":true},"type":{"type":"string","description":"Resource type of the App Service Environment.","readOnly":true}},"description":"Specification for an App Service Environment to use for this resource."},"httpsOnly":{"type":"boolean","description":"HttpsOnly: configures a web site to accept only https requests. Issues redirect for\nhttp requests"},"hyperV":{"type":"boolean","description":"Hyper-V sandbox.","default":false},"inProgressOperationId":{"type":"string","description":"Specifies an operation id if this site has a pending operation.","format":"uuid","readOnly":true,"example":"00000000-0000-0000-0000-000000000000"},"isDefaultContainer":{"type":"boolean","description":"<code>true</code> if the app is a default container; otherwise, <code>false</code>.","readOnly":true},"isXenon":{"type":"boolean","description":"Obsolete: Hyper-V sandbox.","default":false},"lastModifiedTimeUtc":{"type":"string","description":"Last time the app was modified, in UTC. Read-only.","format":"date-time","readOnly":true},"maxNumberOfWorkers":{"type":"integer","description":"Maximum number of workers.\nThis only applies to Functions container.","format":"int32","readOnly":true},"outboundIpAddresses":{"type":"string","description":"List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from tenants that site can be hosted with current settings. Read-only.","readOnly":true},"possibleOutboundIpAddresses":{"type":"string","description":"List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from all tenants. Read-only.","readOnly":true},"redundancyMode":{"type":"string","description":"Site redundancy mode","enum":["None","Manual","Failover","ActiveActive","GeoRedundant"]},"repositorySiteName":{"type":"string","description":"Name of the repository site.","readOnly":true},"reserved":{"type":"boolean","description":"<code>true</code> if reserved; otherwise, <code>false</code>.","default":false},"resourceGroup":{"type":"string","description":"Name of the resource group the app belongs to. Read-only.","readOnly":true},"scmSiteAlsoStopped":{"type":"boolean","description":"<code>true</code> to stop SCM (KUDU) site when the app is stopped; otherwise, <code>false</code>. The default is <code>false</code>.","default":false},"serverFarmId":{"type":"string","description":"Resource ID of the associated App Service plan, formatted as: \"/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}\"."},"siteConfig":{"type":"object","properties":{"alwaysOn":{"type":"boolean","description":"<code>true</code> if Always On is enabled; otherwise, <code>false</code>."},"apiDefinition":{"type":"object","properties":{"url":{"type":"string","description":"The URL of the API definition."}},"description":"Information about the formal API definition for the app."},"appCommandLine":{"type":"string","description":"App command line to launch."},"appSettings":{"type":"array","description":"Application settings.","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}},"autoHealEnabled":{"type":"boolean","description":"<code>true</code> if Auto Heal is enabled; otherwise, <code>false</code>."},"autoHealRules":{"type":"object","properties":{"actions":{"type":"object","properties":{"actionType":{"type":"string","description":"Predefined action to be taken.","enum":["Recycle","LogEvent","CustomAction"]},"customAction":{"type":"object","properties":{"exe":{"type":"string","description":"Executable to be run."},"parameters":{"type":"string","description":"Parameters for the executable."}},"description":"Custom action to be executed\nwhen an auto heal rule is triggered."},"minProcessExecutionTime":{"type":"string","description":"Minimum time the process must execute\nbefore taking the action"}},"description":"Actions which to take by the auto-heal module when a rule is triggered."},"triggers":{"type":"object","properties":{"privateBytesInKB":{"type":"integer","description":"A rule based on private bytes.","format":"int32"},"requests":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."}},"description":"Trigger based on total requests."},"slowRequests":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."},"timeTaken":{"type":"string","description":"Time taken."}},"description":"Trigger based on request execution time."},"statusCodes":{"type":"array","description":"A rule based on status codes.","items":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"status":{"type":"integer","description":"HTTP status code.","format":"int32"},"subStatus":{"type":"integer","description":"Request Sub Status.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."},"win32Status":{"type":"integer","description":"Win32 error code.","format":"int32"}},"description":"Trigger based on status code."}}},"description":"Triggers for auto-heal."}},"description":"Rules that can be defined for auto-heal."},"autoSwapSlotName":{"type":"string","description":"Auto-swap slot name."},"azureStorageAccounts":{"type":"object","additionalProperties":{"type":"object","properties":{"accessKey":{"type":"string","description":"Access key for the storage account."},"accountName":{"type":"string","description":"Name of the storage account."},"mountPath":{"type":"string","description":"Path to mount the storage within the site's runtime environment."},"shareName":{"type":"string","description":"Name of the file share (container name, for Blob storage)."},"state":{"type":"string","description":"State of the storage account.","readOnly":true,"enum":["Ok","InvalidCredentials","InvalidShare"]},"type":{"type":"string","description":"Type of storage.","enum":["AzureFiles","AzureBlob"]}},"description":"Azure Files or Blob Storage access information value for dictionary storage."},"description":"User-provided Azure storage accounts."},"connectionStrings":{"type":"array","description":"Connection strings.","items":{"type":"object","properties":{"connectionString":{"type":"string","description":"Connection string value."},"name":{"type":"string","description":"Name of connection string."},"type":{"type":"string","description":"Type of database.","enum":["MySql","SQLServer","SQLAzure","Custom","NotificationHub","ServiceBus","EventHub","ApiHub","DocDb","RedisCache","PostgreSQL"]}},"description":"Database connection string information."}},"cors":{"type":"object","properties":{"allowedOrigins":{"type":"array","description":"Gets or sets the list of origins that should be allowed to make cross-origin\ncalls (for example: http://example.com:12345). Use \"*\" to allow all.","items":{"type":"string"}},"supportCredentials":{"type":"boolean","description":"Gets or sets whether CORS requests with credentials are allowed. See \nhttps://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Requests_with_credentials\nfor more details."}},"description":"Cross-Origin Resource Sharing (CORS) settings for the app."},"defaultDocuments":{"type":"array","description":"Default documents.","items":{"type":"string"}},"detailedErrorLoggingEnabled":{"type":"boolean","description":"<code>true</code> if detailed error logging is enabled; otherwise, <code>false</code>."},"documentRoot":{"type":"string","description":"Document root."},"experiments":{"type":"object","properties":{"rampUpRules":{"type":"array","description":"List of ramp-up rules.","items":{"type":"object","properties":{"actionHostName":{"type":"string","description":"Hostname of a slot to which the traffic will be redirected if decided to. E.g. myapp-stage.azurewebsites.net."},"changeDecisionCallbackUrl":{"type":"string","description":"Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified. See TiPCallback site extension for the scaffold and contracts.\nhttps://www.siteextensions.net/packages/TiPCallback/"},"changeIntervalInMinutes":{"type":"integer","description":"Specifies interval in minutes to reevaluate ReroutePercentage.","format":"int32"},"changeStep":{"type":"number","description":"In auto ramp up scenario this is the step to add/remove from <code>ReroutePercentage</code> until it reaches \n<code>MinReroutePercentage</code> or <code>MaxReroutePercentage</code>. Site metrics are checked every N minutes specified in <code>ChangeIntervalInMinutes</code>.\nCustom decision algorithm can be provided in TiPCallback site extension which URL can be specified in <code>ChangeDecisionCallbackUrl</code>.","format":"double"},"maxReroutePercentage":{"type":"number","description":"Specifies upper boundary below which ReroutePercentage will stay.","format":"double"},"minReroutePercentage":{"type":"number","description":"Specifies lower boundary above which ReroutePercentage will stay.","format":"double"},"name":{"type":"string","description":"Name of the routing rule. The recommended name would be to point to the slot which will receive the traffic in the experiment."},"reroutePercentage":{"type":"number","description":"Percentage of the traffic which will be redirected to <code>ActionHostName</code>.","format":"double"}},"description":"Routing rules for ramp up testing. This rule allows to redirect static traffic % to a slot or to gradually change routing % based on performance."}}},"description":"Routing rules in production experiments."},"ftpsState":{"type":"string","description":"State of FTP / FTPS service","enum":["AllAllowed","FtpsOnly","Disabled"]},"handlerMappings":{"type":"array","description":"Handler mappings.","items":{"type":"object","properties":{"arguments":{"type":"string","description":"Command-line arguments to be passed to the script processor."},"extension":{"type":"string","description":"Requests with this extension will be handled using the specified FastCGI application."},"scriptProcessor":{"type":"string","description":"The absolute path to the FastCGI application."}},"description":"The IIS handler mappings used to define which handler processes HTTP requests with certain extension. \nFor example, it is used to configure php-cgi.exe process to handle all HTTP requests with *.php extension."}},"http20Enabled":{"type":"boolean","description":"Http20Enabled: configures a web site to allow clients to connect over http2.0","default":true},"httpLoggingEnabled":{"type":"boolean","description":"<code>true</code> if HTTP logging is enabled; otherwise, <code>false</code>."},"ipSecurityRestrictions":{"type":"array","description":"IP security restrictions for main.","items":{"type":"object","properties":{"action":{"type":"string","description":"Allow or Deny access for this IP range."},"description":{"type":"string","description":"IP restriction rule description."},"ipAddress":{"type":"string","description":"IP address the security restriction is valid for.\nIt can be in form of pure ipv4 address (required SubnetMask property) or\nCIDR notation such as ipv4/mask (leading bit match). For CIDR,\nSubnetMask property must not be specified."},"name":{"type":"string","description":"IP restriction rule name."},"priority":{"type":"integer","description":"Priority of IP restriction rule.","format":"int32"},"subnetMask":{"type":"string","description":"Subnet mask for the range of IP addresses the restriction is valid for."},"subnetTrafficTag":{"type":"integer","description":"(internal) Subnet traffic tag","format":"int32"},"tag":{"type":"string","description":"Defines what this IP filter will be used for. This is to support IP filtering on proxies.","enum":["Default","XffProxy"]},"vnetSubnetResourceId":{"type":"string","description":"Virtual network resource id"},"vnetTrafficTag":{"type":"integer","description":"(internal) Vnet traffic tag","format":"int32"}},"description":"IP security restriction on an app."}},"javaContainer":{"type":"string","description":"Java container."},"javaContainerVersion":{"type":"string","description":"Java container version."},"javaVersion":{"type":"string","description":"Java version."},"limits":{"type":"object","properties":{"maxDiskSizeInMb":{"type":"integer","description":"Maximum allowed disk size usage in MB.","format":"int64"},"maxMemoryInMb":{"type":"integer","description":"Maximum allowed memory usage in MB.","format":"int64"},"maxPercentageCpu":{"type":"number","description":"Maximum allowed CPU usage percentage.","format":"double"}},"description":"Metric limits set on an app."},"linuxFxVersion":{"type":"string","description":"Linux App Framework and version"},"loadBalancing":{"type":"string","description":"Site load balancing.","enum":["WeightedRoundRobin","LeastRequests","LeastResponseTime","WeightedTotalTraffic","RequestHash"]},"localMySqlEnabled":{"type":"boolean","description":"<code>true</code> to enable local MySQL; otherwise, <code>false</code>.","default":false},"logsDirectorySizeLimit":{"type":"integer","description":"HTTP logs directory size limit.","format":"int32"},"machineKey":{"type":"object","properties":{"decryption":{"type":"string","description":"Algorithm used for decryption."},"decryptionKey":{"type":"string","description":"Decryption key."},"validation":{"type":"string","description":"MachineKey validation."},"validationKey":{"type":"string","description":"Validation key."}},"description":"MachineKey of an app."},"managedPipelineMode":{"type":"string","description":"Managed pipeline mode.","enum":["Integrated","Classic"]},"managedServiceIdentityId":{"type":"integer","description":"Managed Service Identity Id","format":"int32"},"minTlsVersion":{"type":"string","description":"MinTlsVersion: configures the minimum version of TLS required for SSL requests","enum":["1.0","1.1","1.2"]},"netFrameworkVersion":{"type":"string","description":".NET Framework version.","default":"v4.6"},"nodeVersion":{"type":"string","description":"Version of Node.js."},"numberOfWorkers":{"type":"integer","description":"Number of workers.","format":"int32"},"phpVersion":{"type":"string","description":"Version of PHP."},"publishingUsername":{"type":"string","description":"Publishing user name."},"push":{"type":"object","properties":{"properties":{"required":["isPushEnabled"],"type":"object","properties":{"dynamicTagsJson":{"type":"string","description":"Gets or sets a JSON string containing a list of dynamic tags that will be evaluated from user claims in the push registration endpoint."},"isPushEnabled":{"type":"boolean","description":"Gets or sets a flag indicating whether the Push endpoint is enabled."},"tagWhitelistJson":{"type":"string","description":"Gets or sets a JSON string containing a list of tags that are whitelisted for use by the push registration endpoint."},"tagsRequiringAuth":{"type":"string","description":"Gets or sets a JSON string containing a list of tags that require user authentication to be used in the push registration endpoint.\nTags can consist of alphanumeric characters and the following:\n'_', '@', '#', '.', ':', '-'. \nValidation should be performed at the PushRequestHandler."}},"description":"PushSettings resource specific properties"}},"description":"Push settings for the App."},"pythonVersion":{"type":"string","description":"Version of Python."},"remoteDebuggingEnabled":{"type":"boolean","description":"<code>true</code> if remote debugging is enabled; otherwise, <code>false</code>."},"remoteDebuggingVersion":{"type":"string","description":"Remote debugging version."},"requestTracingEnabled":{"type":"boolean","description":"<code>true</code> if request tracing is enabled; otherwise, <code>false</code>."},"requestTracingExpirationTime":{"type":"string","description":"Request tracing expiration time.","format":"date-time"},"reservedInstanceCount":{"maximum":10,"minimum":0,"type":"integer","description":"Number of reserved instances.\nThis setting only applies to the Consumption Plan","format":"int32"},"scmIpSecurityRestrictions":{"type":"array","description":"IP security restrictions for scm.","items":{"type":"object","properties":{"action":{"type":"string","description":"Allow or Deny access for this IP range."},"description":{"type":"string","description":"IP restriction rule description."},"ipAddress":{"type":"string","description":"IP address the security restriction is valid for.\nIt can be in form of pure ipv4 address (required SubnetMask property) or\nCIDR notation such as ipv4/mask (leading bit match). For CIDR,\nSubnetMask property must not be specified."},"name":{"type":"string","description":"IP restriction rule name."},"priority":{"type":"integer","description":"Priority of IP restriction rule.","format":"int32"},"subnetMask":{"type":"string","description":"Subnet mask for the range of IP addresses the restriction is valid for."},"subnetTrafficTag":{"type":"integer","description":"(internal) Subnet traffic tag","format":"int32"},"tag":{"type":"string","description":"Defines what this IP filter will be used for. This is to support IP filtering on proxies.","enum":["Default","XffProxy"]},"vnetSubnetResourceId":{"type":"string","description":"Virtual network resource id"},"vnetTrafficTag":{"type":"integer","description":"(internal) Vnet traffic tag","format":"int32"}},"description":"IP security restriction on an app."}},"scmIpSecurityRestrictionsUseMain":{"type":"boolean","description":"IP security restrictions for scm to use main."},"scmType":{"type":"string","description":"SCM type.","enum":["None","Dropbox","Tfs","LocalGit","GitHub","CodePlexGit","CodePlexHg","BitbucketGit","BitbucketHg","ExternalGit","ExternalHg","OneDrive","VSO"]},"tracingOptions":{"type":"string","description":"Tracing options."},"use32BitWorkerProcess":{"type":"boolean","description":"<code>true</code> to use 32-bit worker process; otherwise, <code>false</code>."},"virtualApplications":{"type":"array","description":"Virtual applications.","items":{"type":"object","properties":{"physicalPath":{"type":"string","description":"Physical path."},"preloadEnabled":{"type":"boolean","description":"<code>true</code> if preloading is enabled; otherwise, <code>false</code>."},"virtualDirectories":{"type":"array","description":"Virtual directories for virtual application.","items":{"type":"object","properties":{"physicalPath":{"type":"string","description":"Physical path."},"virtualPath":{"type":"string","description":"Path to virtual application."}},"description":"Directory for virtual application."}},"virtualPath":{"type":"string","description":"Virtual path."}},"description":"Virtual application in an app."}},"vnetName":{"type":"string","description":"Virtual Network name."},"webSocketsEnabled":{"type":"boolean","description":"<code>true</code> if WebSocket is enabled; otherwise, <code>false</code>."},"windowsFxVersion":{"type":"string","description":"Xenon App Framework and version"},"xManagedServiceIdentityId":{"type":"integer","description":"Explicit Managed Service Identity Id","format":"int32"}},"description":"Configuration of an App Service app."},"slotSwapStatus":{"type":"object","properties":{"destinationSlotName":{"type":"string","description":"The destination slot of the last swap operation.","readOnly":true},"sourceSlotName":{"type":"string","description":"The source slot of the last swap operation.","readOnly":true},"timestampUtc":{"type":"string","description":"The time the last successful slot swap completed.","format":"date-time","readOnly":true}},"description":"The status of the last successful slot swap operation."},"state":{"type":"string","description":"Current state of the app.","readOnly":true},"suspendedTill":{"type":"string","description":"App suspended till in case memory-time quota is exceeded.","format":"date-time","readOnly":true},"targetSwapSlot":{"type":"string","description":"Specifies which deployment slot this app will swap into. Read-only.","readOnly":true},"trafficManagerHostNames":{"type":"array","description":"Azure Traffic Manager hostnames associated with the app. Read-only.","readOnly":true,"items":{"type":"string"}},"usageState":{"type":"string","description":"State indicating whether the app has exceeded its quota usage. Read-only.","readOnly":true,"enum":["Normal","Exceeded"]}},"description":"Site resource specific properties"}},"description":"A web app, a mobile app backend, or an API app."}}},"description":"Collection of App Service apps."}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get diagnostic information for an App Service Environment.","description":"Get diagnostic information for an App Service Environment.","operationId":"AppServiceEnvironments_ListDiagnostics","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HostingEnvironmentDiagnostics"}}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics/{diagnosticsName}":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get a diagnostics item for an App Service Environment.","description":"Get a diagnostics item for an App Service Environment.","operationId":"AppServiceEnvironments_GetDiagnosticsItem","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"diagnosticsName","in":"path","description":"Name of the diagnostics item.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironmentDiagnostics"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/inboundNetworkDependenciesEndpoints":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get the network endpoints of all inbound dependencies of an App Service Environment.","description":"Get the network endpoints of all inbound dependencies of an App Service Environment.","operationId":"AppServiceEnvironments_GetInboundNetworkDependenciesEndpoints","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InboundEnvironmentEndpointCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metricdefinitions":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get global metric definitions of an App Service Environment.","description":"Get global metric definitions of an App Service Environment.","operationId":"AppServiceEnvironments_ListMetricDefinitions","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricDefinition"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metrics":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get global metrics of an App Service Environment.","description":"Get global metrics of an App Service Environment.","operationId":"AppServiceEnvironments_ListMetrics","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"details","in":"query","description":"Specify <code>true</code> to include instance details. The default is <code>false</code>.","schema":{"type":"boolean"}},{"name":"$filter","in":"query","description":"Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[Hour|Minute|Day]'.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"type":"object","properties":{"endTime":{"type":"string","description":"Metric end time.","format":"date-time","readOnly":true},"id":{"type":"string","description":"Resource Id.","readOnly":true},"metricValues":{"type":"array","description":"Metric values.","readOnly":true,"items":{"type":"object","properties":{"average":{"type":"number","description":"Value average.","format":"float","readOnly":true},"count":{"type":"number","description":"Value count.","format":"float","readOnly":true},"maximum":{"type":"number","description":"Value maximum.","format":"float","readOnly":true},"minimum":{"type":"number","description":"Value minimum.","format":"float","readOnly":true},"properties":{"type":"array","description":"Resource metric properties collection.","readOnly":true,"items":{"type":"object","properties":{"key":{"type":"string","description":"Key for resource metric property."},"value":{"type":"string","description":"Value of pair."}},"description":"Resource metric property."}},"timestamp":{"type":"string","description":"Value timestamp.","readOnly":true},"total":{"type":"number","description":"Value total.","format":"float","readOnly":true}},"description":"Value of resource metric."}},"name":{"type":"object","properties":{"localizedValue":{"type":"string","description":"Localized metric name value.","readOnly":true},"value":{"type":"string","description":"metric name value.","readOnly":true}},"description":"Name of a metric for any resource ."},"properties":{"type":"array","description":"Resource metric properties collection.","readOnly":true,"items":{"type":"object","properties":{"key":{"type":"string","description":"Key for resource metric property."},"value":{"type":"string","description":"Value of pair."}},"description":"Resource metric property."}},"resourceId":{"type":"string","description":"Metric resource Id.","readOnly":true},"startTime":{"type":"string","description":"Metric start time.","format":"date-time","readOnly":true},"timeGrain":{"type":"string","description":"Metric granularity. E.g PT1H, PT5M, P1D","readOnly":true},"unit":{"type":"string","description":"Metric unit.","readOnly":true}},"description":"Object representing a metric for any resource ."}}},"description":"Collection of metric responses."}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get all multi-role pools.","description":"Get all multi-role pools.","operationId":"AppServiceEnvironments_ListMultiRolePools","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPoolCollection"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get properties of a multi-role pool.","description":"Get properties of a multi-role pool.","operationId":"AppServiceEnvironments_GetMultiRolePool","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPoolResource"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}},"put":{"tags":["AppServiceEnvironments"],"summary":"Create or update a multi-role pool.","description":"Create or update a multi-role pool.","operationId":"AppServiceEnvironments_CreateOrUpdateMultiRolePool","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties of the multi-role pool.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPoolResource"}}},"required":true},"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPoolResource"}}}},"202":{"description":"Operation is in progress.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPoolResource"}}}},"400":{"description":"Bad request."},"404":{"description":"Not found."},"409":{"description":"Conflict."}}},"patch":{"tags":["AppServiceEnvironments"],"summary":"Create or update a multi-role pool.","description":"Create or update a multi-role pool.","operationId":"AppServiceEnvironments_UpdateMultiRolePool","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties of the multi-role pool.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPoolResource"}}},"required":true},"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPoolResource"}}}},"202":{"description":"Operation is in progress.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPoolResource"}}}},"400":{"description":"Bad request."},"404":{"description":"Not found."},"409":{"description":"Conflict."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metricdefinitions":{"get":{"tags":["AppServiceEnvironments"],"summary":"Get metric definitions for a specific instance of a multi-role pool of an App Service Environment.","description":"Get metric definitions for a specific instance of a multi-role pool of an App Service Environment.","operationId":"AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the App Service Environment.","required":true,"schema":{"type":"string"}},{"name":"instance","in":"path","description":"Name of the instance in the multi-role pool.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"type":"object","properties":{"properties":{"type":"object","properties":{"metricAvailabilities":{"type":"array","description":"List of time grains supported for the metric together with retention period.","readOnly":true,"items":{"type":"object","properties":{"retention":{"type":"string","description":"Retention period for the current time grain.","readOnly":true},"timeGrain":{"type":"string","description":"Time grain .","readOnly":true}},"description":"Metrics availability and retention."}},"primaryAggregationType":{"type":"string","description":"Primary aggregation type.","readOnly":true},"properties":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource metric definition properties.","readOnly":true},"resourceUri":{"type":"string","description":"Resource URI.","readOnly":true},"unit":{"type":"string","description":"Unit of the metric.","readOnly":true}},"description":"ResourceMetricDefinition resource specific properties"}},"description":"Metadata for the metrics."}}},"description":"Collection of metric definitions."}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGro
[...]
