{"openapi":"3.0.1","info":{"title":"Random Lottery Number generator API","description":"Below is the documentation for the API calls. You can try them out right here. \n","version":"1.5"},"servers":[{"url":"https://api.fungenerators.com/"},{"url":"http://api.fungenerators.com/"}],"tags":[{"name":"Lottery","description":"Random Lottery number generation API","externalDocs":{"description":"Find out more","url":"http://fungenerators.com/api/lottery"}}],"paths":{"/lottery/countries":{"get":{"tags":["Lottery"],"description":"Get the complete list of countries supported in the number generation API.","responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{ \n  \"success\":\n    {\"total\":76},\n  \"contents\": {\n     \"countries\":\n        [\n          \"Anguilla\",\n          \"Antigua and Barbuda\",\n          \"Australia\",\n          \"Austria\",\n          \"...\"\n        ]\n  }\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"}}}},"security":[{"X-Fungenerators-Api-Secret":null}]}},"/lottery/draw":{"get":{"tags":["Lottery"],"description":"Generate random draw for a given lottery game.","parameters":[{"name":"game","in":"query","description":"Lottery Game Name","required":true,"schema":{"type":"string","format":"string"}},{"name":"count","in":"query","description":"Number of draws (max 5 per request)","schema":{"type":"integer","format":"integer"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": \n        {\n          \"numbers\":\n            [\n              {\"draw\":[[21,10,6,44,17,5]]}\n            ]\n        }\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"}}}},"security":[{"X-Fungenerators-Api-Secret":null}]}},"/lottery/supported":{"get":{"tags":["Lottery"],"description":"Get the list of supported lottery games supported in the given country.","parameters":[{"name":"country","in":"query","description":"Country Name","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n    \"success\": {\n        \"total\":4\n      \n    },\n    \"contents\": {\n        \"country\" : \"India\",\n        \"games\" :\n        [\n          \"india-playwin-easy-lotto\",\n          \"india-playwin-fast-digit-lottery\",\n          \"india-playwin-super-lotto\",\n          \"india-playwin-thunderball\"\n        ]\n    }\n}            "}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"}}}},"security":[{"X-Fungenerators-Api-Secret":null}]}}},"components":{"securitySchemes":{"X-Fungenerators-Api-Secret":{"type":"apiKey","name":"X-Fungenerators-Api-Secret","in":"header"}}}}