{"openapi":"3.0.1","info":{"title":"Azure Data Catalog Resource Provider","description":"The Azure Data Catalog Resource Provider Services API.","version":"2016-03-30"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/providers/Microsoft.DataCatalog/operations":{"get":{"tags":["AzureDataCatalog"],"description":"Lists all the available Azure Data Catalog service operations.","operationId":"ADCOperations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"HTTP 200 (OK) if the operation was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationEntityListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCatalog/catalogs":{"get":{"tags":["AzureDataCatalog"],"summary":"List catalogs in Resource Group (GET Resources)","description":"The List catalogs in Resource Group operation lists all the Azure Data Catalogs available under the given resource group.","operationId":"ADCCatalogs_ListtByResourceGroup","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}}],"responses":{"200":{"description":"HTTP 200 (OK) if the operation was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ADCCatalogsListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCatalog/catalogs/{catalogName}":{"get":{"tags":["AzureDataCatalog"],"summary":"Get Azure Data Catalog service (GET Resources)","description":"The Get Azure Data Catalog Service operation retrieves a json representation of the data catalog.","operationId":"ADCCatalogs_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"catalogName","in":"path","description":"The name of the data catalog in the specified subscription and resource group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"HTTP 200 (OK) if the operation was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ADCCatalog"}}}}}},"put":{"tags":["AzureDataCatalog"],"summary":"Create or Update Azure Data Catalog service (PUT Resource)","description":"The Create Azure Data Catalog service operation creates a new data catalog service with the specified parameters. If the specific service already exists, then any patchable properties will be updated and any immutable properties will remain unchanged.","operationId":"ADCCatalogs_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"catalogName","in":"path","description":"The name of the data catalog in the specified subscription and resource group.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties supplied to the Create or Update a data catalog.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ADCCatalog"}}},"required":true},"responses":{"200":{"description":"HTTP 200 (OK) if the operation was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ADCCatalog"}}}},"201":{"description":"HTTP 201 (Created) if the operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ADCCatalog"}}}}}},"delete":{"tags":["AzureDataCatalog"],"summary":"Delete Azure Data Catalog Service (DELETE Resource)","description":"The Delete Azure Data Catalog Service operation deletes an existing data catalog.","operationId":"ADCCatalogs_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"catalogName","in":"path","description":"The name of the data catalog in the specified subscription and resource group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. An existing annotation was updated."},"202":{"description":"Accepted. Delete is asynchronous. In this case, the caller needs to read the Location header for an URL to poll. That URL will continue to return 202 until the operation is complete. When it stops returning 202, the response it gives back is the result of the DELETE operation."},"204":{"description":"No Content (didn't exist)."}}},"patch":{"tags":["AzureDataCatalog"],"summary":"Update Azure Data Catalog Service (PATCH Resource)","description":"The Update Azure Data Catalog Service operation can be used to update the existing deployment. The update call only supports the properties listed in the PATCH body.","operationId":"ADCCatalogs_Update","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"catalogName","in":"path","description":"The name of the data catalog in the specified subscription and resource group.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties supplied to the Update a data catalog.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ADCCatalog"}}},"required":true},"responses":{"200":{"description":"HTTP 200 (OK) if the operation was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ADCCatalog"}}}}}}}},"components":{"schemas":{"ADCCatalog":{"properties":{"properties":{"$ref":"#/components/schemas/ADCCatalogProperties"}},"description":"Azure Data Catalog.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ADCCatalogProperties":{"type":"object","properties":{"admins":{"type":"array","description":"Azure data catalog admin list.","items":{"$ref":"#/components/schemas/Principals"}},"enableAutomaticUnitAdjustment":{"type":"boolean","description":"Automatic unit adjustment enabled or not."},"sku":{"type":"string","description":"Azure data catalog SKU.","enum":["Free","Standard"]},"successfullyProvisioned":{"type":"boolean","description":"Azure data catalog provision status."},"units":{"type":"integer","description":"Azure data catalog units."},"users":{"type":"array","description":"Azure data catalog user list.","items":{"$ref":"#/components/schemas/Principals"}}},"description":"Properties of the data catalog."},"ADCCatalogsListResult":{"type":"object","properties":{"value":{"type":"array","description":"the list of Azure Data Catalogs.","items":{"$ref":"#/components/schemas/ADCCatalog"}}},"description":"The response from the List Azure Data Catalog operation."},"OperationDisplayInfo":{"type":"object","properties":{"description":{"type":"string","description":"The description of the operation."},"operation":{"type":"string","description":"The action that users can perform, based on their permission level."},"provider":{"type":"string","description":"Service provider: Azure Data Catalog Service."},"resource":{"type":"string","description":"Resource on which the operation is performed."}},"description":"The operation supported by Azure Data Catalog Service."},"OperationEntity":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationDisplayInfo"},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}."}},"description":"The operation supported by Azure Data Catalog Service."},"OperationEntityListResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of operations.","items":{"$ref":"#/components/schemas/OperationEntity"}}},"description":"The list of Azure data catalog service operation response."},"Principals":{"type":"object","properties":{"objectId":{"type":"string","description":"Object Id for the user"},"upn":{"type":"string","description":"UPN of the user."}},"description":"User principals."},"Resource":{"type":"object","properties":{"etag":{"type":"string","description":"Resource etag"},"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The Resource model definition."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"CatalogNameParameter":{"name":"catalogName","in":"path","description":"The name of the data catalog in the specified subscription and resource group.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}