{"openapi":"3.0.1","info":{"title":"Intel Product Catalogue Service","description":"This is the documentation for PIM Micro services. In order to use this tool you need to have Basic Auth credentials and a client id. If you dont have one, please make sure to request one by sending an email to the PIM MS team: [pim.360.team@intel.com](mailto:pim.360.team@intel.com?subject=PIMServices)","termsOfService":"http://www.intel.com/content/www/us/en/legal/terms-of-use.html","contact":{"email":"pim.360.team@intel.com"},"version":"0.1.0"},"servers":[{"url":"https://productapi.intel.com/"}],"security":[{"BasicAuth":null},{"ClientId":null}],"tags":[{"name":"products","description":"Product details."}],"paths":{"/api/products/get-codename":{"get":{"tags":["products"],"summary":"5. Get list of codename details for Intel products.","description":"Use this to get codename details for Intel products. No pagination supported.","operationId":"getCodeName","parameters":[{"name":"locale_geo_id","in":"query","description":"Locale and Geo code used to get localised data.<br/><br/>","required":true,"schema":{"type":"string","enum":["zh-TW","de-DE","en-US","es-ES","fr-FR","it-IT","ja-JP","ko-KR","nl-NL","pl-PL","pt-BR","ru-RU","sv-SE","th-TH","tr-TR","ur-PK","id-ID","uk-UA","vi-VN","si-LK","en-NE","zh-CN","en-UK","es-MX","pt-PT","bn-BD","en-EG","en-AU","en-CA","en-NZ","en-IE","en-VE","en-CO","en-PE","en-AR","en-PH","es-CL","en-HK","en-IN","en-MY","en-SG","en-ZA","es-XL","fr-CA","en-XR","en-XA"]}}],"responses":{"200":{"description":"successful operation","content":{"*/*":{"schema":{"title":"Complete codename lsit","type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"CodeNameId":{"type":"string","example":"37567"},"CodeNameText":{"type":"string","example":"Products formerly Tunnel Creek"},"CodeNameType":{"type":"string","example":"CODENAME"},"UrlText":{"type":"string","example":"Tunnel-Creek"}}}},"status":{"type":"string","example":"success"},"total_count":{"type":"integer","example":909}}}}}},"500":{"description":"unsuccessful operation","content":{"*/*":{"schema":{"title":"unsuccessful operation","type":"object","properties":{"error_code":{"type":"string","example":"SERVICE_ERROR"},"message":{"type":"string","example":"Something went wrong, we have already captured log. Will fix this asap."}}}}}}}}},"/api/products/get-ordering-info":{"get":{"tags":["products"],"summary":"3. Get ordering info for product id's requested.","description":"Use this to fetch ordering info details for Intel products. No pagination supported.","operationId":"getorderinginfo","parameters":[{"name":"product_id","in":"query","description":"Filter ordering info details based on one or multiple product id's. Values must be enclosed in [ square brackets ] and each value must be in \"double quotes\". Use comma to add multiple values. <br/><br/>Example: [\"123003\"]","required":true,"schema":{"type":"string"}},{"name":"locale_geo_id","in":"query","description":"Locale and Geo code used to get localised data.<br/><br/>","required":true,"schema":{"type":"string","enum":["zh-TW","de-DE","en-US","es-ES","fr-FR","it-IT","ja-JP","ko-KR","nl-NL","pl-PL","pt-BR","ru-RU","sv-SE","th-TH","tr-TR","ur-PK","id-ID","uk-UA","vi-VN","si-LK","en-NE","zh-CN","en-UK","es-MX","pt-PT","bn-BD","en-EG","en-AU","en-CA","en-NZ","en-IE","en-VE","en-CO","en-PE","en-AR","en-PH","es-CL","en-HK","en-IN","en-MY","en-SG","en-ZA","es-XL","fr-CA","en-XR","en-XA"]}}],"responses":{"200":{"description":"successful operation","content":{"*/*":{"schema":{"title":"Detailed ordering level info","type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"attributes":{"type":"array","items":{"type":"object","properties":{"highlight_key":{"type":"string","example":"OrderingCode"},"label":{"type":"string","example":"Ordering Code"},"raw_value":{"type":"string","example":"CM8068403377111"},"tool_tip":{"type":"string","example":"tool tip"},"value":{"type":"string","example":"CM8068403377111"}}}},"product_id":{"type":"string","example":"123003"}}}},"status":{"type":"string","example":"success"},"total_count":{"type":"integer","example":1}}}}}},"500":{"description":"unsuccessful operation","content":{"*/*":{"schema":{"title":"unsuccessful operation","type":"object","properties":{"error_code":{"type":"string","example":"SERVICE_ERROR"},"message":{"type":"string","example":"Something went wrong, we have already captured log. Will fix this asap."}}}}}}}}},"/api/products/get-products":{"get":{"tags":["products"],"summary":"1. Find products by product id or category id","description":"Use this to get basic details of products with pagination. Can be used to generate listing page for products.","operationId":"getProductList","parameters":[{"name":"locale_geo_id","in":"query","description":"Locale and Geo code used to get localised data.<br/><br/>","required":true,"schema":{"type":"string","enum":["zh-TW","de-DE","en-US","es-ES","fr-FR","it-IT","ja-JP","ko-KR","nl-NL","pl-PL","pt-BR","ru-RU","sv-SE","th-TH","tr-TR","ur-PK","id-ID","uk-UA","vi-VN","si-LK","en-NE","zh-CN","en-UK","es-MX","pt-PT","bn-BD","en-EG","en-AU","en-CA","en-NZ","en-IE","en-VE","en-CO","en-PE","en-AR","en-PH","es-CL","en-HK","en-IN","en-MY","en-SG","en-ZA","es-XL","fr-CA","en-XR","en-XA"]}},{"name":"category_id","in":"query","description":"Filter products based on one or multiple category id. Either category id or product id is mandatory for any request. Values must be enclosed in [ square brackets ] and each value must be in \"double quotes\". Use comma to add multiple values. <br/><br/>Example: [\"873\"]<br/><br/>Categories Available:<br/> Processors = 873, Server Products = 1201, Mini PC's = 98414, Wireless Networking = 59485, Ethernet Products = 36773, Fabric products = 70021, Memory and Storage = 35125, Chipsets = 53, Graphics Drivers = 80939 <br/><br/>","schema":{"type":"string"}},{"name":"product_id","in":"query","description":"Filter products based on one or multiple product id. Either category id or product id is mandatory for any request. Values must be enclosed in [ square brackets ] and each value must be in \"double quotes\". Use comma to add multiple values. <br/><br/>Example: [\"123003\"]<br/><br/>","schema":{"type":"string"}},{"name":"highlights","in":"query","description":"Specification values which needs to be pulled from product data. Values must be enclosed in [ square brackets ] and each value must be in \"double quotes\". Use comma to add multiple values. <br/><br/>Example: [\"CoreCount\", \"StatusCodeText\"]<br/><br/>","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Indicates sorting fields. Accepts array of objects in format like: [{\"field\":\"name\",\"order\":\"ASC\"}].<br/><br/>Any specification that we get from get-product-info can be used to sort result. Other generic sort field is \"name\".<br/><br/>","schema":{"type":"string"}},{"name":"filters","in":"query","description":"Allows to filter data.<br/><br/>Format of filter: [{\"type\":\"specvalue\",\"name\":\"ThreadCount\",\"gteq\":\"4\"}]<br/><br/><b>Available operators are:</b> \"eq\": equal to, \"neq\": not equal to, \"lteq\": less than or equal to, \"gteq\": greater than or equal to, \"swc\": starts with characters, \"nswc\": not starting with characters, \"cts\": contains, \"ncts\": not contains<br/><br/><b>Conditions:</b> By default all objects works on an AND condition. But inside an object we have the capability to put an \"OR\" or \"AND\" condition.<br/>Example conditions: [{\"type\":\"specvalue\",\"name\":\"ThreadCount\",\"ncts\":\"4,5\",\"cond\":\"AND\"}]<br/><br/><br/>","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"Filter number of products in response to desired size.","schema":{"type":"integer"}},{"name":"page_no","in":"query","description":"Indicates page number for pagination of results.","schema":{"type":"integer"}}],"responses":{"200":{"description":"successful operation","content":{"*/*":{"schema":{"title":"Product listing level info","required":["page_no","per_page","result","status","total_count"],"type":"object","properties":{"page_no":{"type":"string","example":"1"},"per_page":{"type":"integer","example":10},"result":{"type":"array","description":"Multiple objects with product data.","items":{"type":"object","properties":{"created_date":{"type":"string","example":"2018-04-17T08:29:13:770-0400"},"highlights_info":{"type":"array","items":{"type":"object","properties":{"highlight_key":{"type":"string","example":"StatusCodeText"},"label":{"type":"string","example":"Status"},"raw_value":{"type":"string","example":"4"},"value":{"type":"string","example":"Launched"}}}},"mktg_prd_type":{"type":"string","example":"18"},"product_category":{"type":"array","description":"Multiple product category","example":["51163","12201"],"items":{"type":"string"}},"product_description":{"type":"string","example":"Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"},"product_id":{"type":"string","example":"120475"},"product_manufacturer":{"type":"string","example":"Intel"},"product_name":{"type":"string","example":"Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"},"product_name_raw":{"type":"string","example":"Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"},"product_on_market_date":{"type":"string","example":"2017-07-11T00:00:00:000-0400"},"updated_date":{"type":"string","example":"2018-10-11T07:20:11:500-0400"}}}},"status":{"type":"string","example":"success"},"total_count":{"type":"integer","example":230}}}}}},"500":{"description":"unsuccessful operation","content":{"*/*":{"schema":{"title":"unsuccessful operation","type":"object","properties":{"error_code":{"type":"string","example":"SERVICE_ERROR"},"message":{"type":"string","example":"Something went wrong, we have already captured log. Will fix this asap."}}}}}}}}},"/api/products/get-products-info":{"get":{"tags":["products"],"summary":"2. Get complete product info with product id.","description":"Use this to get complete product info. No pagination supported.","operationId":"getProductInfo","parameters":[{"name":"locale_geo_id","in":"query","description":"Locale and Geo code used to get localised data.<br/><br/>","required":true,"schema":{"type":"string","enum":["zh-TW","de-DE","en-US","es-ES","fr-FR","it-IT","ja-JP","ko-KR","nl-NL","pl-PL","pt-BR","ru-RU","sv-SE","th-TH","tr-TR","ur-PK","id-ID","uk-UA","vi-VN","si-LK","en-NE","zh-CN","en-UK","es-MX","pt-PT","bn-BD","en-EG","en-AU","en-CA","en-NZ","en-IE","en-VE","en-CO","en-PE","en-AR","en-PH","es-CL","en-HK","en-IN","en-MY","en-SG","en-ZA","es-XL","fr-CA","en-XR","en-XA"]}},{"name":"product_id","in":"query","description":"Product id's that needs to be filtered. Only max of 40 products are supported now. Values must be enclosed in [ square brackets ] and each value must be in \"double quotes\". Use comma to add multiple values.<br/><br/>Example: [\"223\",\"224\"]","required":true,"schema":{"type":"string"}},{"name":"include_reference","in":"query","description":"If send \"true\", this will fetch variant/compatible info into result set. Default is false.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation.","content":{"*/*":{"schema":{"title":"Detailed product information","type":"object","properties":{"result":{"type":"array","description":"Product info for a locale.","items":{"type":"object","allOf":[{"type":"object","properties":{"created_date":{"type":"string","example":"2017-12-18T03:40:13:990-0500"},"media_asset":{"type":"object","properties":{"picture_1":{"type":"string"},"picture_2":{"type":"string"},"picture_3":{"type":"string"},"picture_4":{"type":"string"},"picture_5":{"type":"string"}},"description":"product media asset"},"mktg_prd_type":{"type":"string","example":"18"},"product_category":{"type":"array","description":"Product category","items":{"type":"string","example":""}},"product_description":{"type":"string","example":"Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"},"product_id":{"type":"string","example":"123003"},"product_manufacturer":{"type":"string","example":"Intel"},"product_name":{"type":"string","example":"Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"},"product_name_raw":{"type":"string","example":"Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"},"product_on_market_date":{"type":"string","example":"2017-07-11T00:00:00:000-0400"},"product_picture":{"type":"string","example":"https://www.intel.com/content/dam/www/global/ark/badges/36866_128.gif/jcr:content/renditions/_64.gif"},"reference":{"type":"array","items":{"type":"object","properties":{"category_id":{"type":"array","description":"Array of category id's to which the product belong to.","items":{"type":"string","example":""}},"reference_id":{"type":"string","example":"2345"},"reference_type":{"type":"string","example":"Compatible"}}}},"tech_spec":{"type":"array","description":"tech spec","items":{"type":"object","properties":{"disclaimer":{"type":"string","example":"Max Turbo Frequency refers to the maximum single-core processor frequency that can be achieved with Intel® Turbo Boost Technology.  See <a href=\"http://www.intel.com/technology/turboboost/\">www.intel.com/technology/turboboost/</a> for more information."},"highlight_key":{"type":"string","example":"TBTVersion"},"label":{"type":"string","example":"Intel® Turbo Boost Technology <small><sup>‡</sup></small>"},"raw_value":{"type":"string","example":"2"},"tool_tip":{"type":"string","example":"Intel® Turbo Boost Technology dynamically increases the processor's frequency as needed by taking advantage of thermal and power headroom to give you a burst of speed when you need it, and increased energy efficiency when you don’t."},"value":{"type":"string","example":"2.0"}}}},"updated_date":{"type":"string","example":"2018-10-15T03:42:52:320-0400"}}}]}},"status":{"type":"string","example":"success"},"total_count":{"type":"integer","example":10}}}}}},"500":{"description":"unsuccessful operation","content":{"*/*":{"schema":{"title":"unsuccessful operation","type":"object","properties":{"error_code":{"type":"string","example":"SERVICE_ERROR"},"message":{"type":"string","example":"Something went wrong, we have already captured log. Will fix this asap."}}}}}}}}}},"components":{"securitySchemes":{"BasicAuth":{"type":"http","scheme":"basic"},"ClientId":{"type":"apiKey","name":"client_id","in":"header"}}}}