{"openapi":"3.0.1","info":{"title":"Furkot Trips","description":"Furkot provides Rest API to access user trip data.\nUsing Furkot API an application can list user trips and display stops for a specific trip.\nFurkot API uses OAuth2 protocol to authorize applications to access data on behalf of users.\n","contact":{"email":"trips@furkot.com"},"version":"1.0.0"},"externalDocs":{"description":"Furkot API description","url":"https://help.furkot.com/widgets/furkot-api.html"},"servers":[{"url":"https://trips.furkot.com/pub/api"}],"security":[{"furkot_auth_access_code":["read:trips"]},{"furkot_auth_implicit":["read:trips"]}],"paths":{"/trip":{"get":{"description":"list user's trips","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Trip"}}}}}}}},"/trip/{trip_id}/stop":{"get":{"description":"list stops for a trip identified by {trip_id}","parameters":[{"name":"trip_id","in":"path","description":"id of the trip","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Step"}}}}}}}}},"components":{"schemas":{"Step":{"type":"object","properties":{"address":{"type":"string","description":"address of the stop"},"arrival":{"type":"string","description":"arrival at the stop in its local timezone as YYYY-MM-DDThh:mm","format":"date-time"},"coordinates":{"type":"object","properties":{"lat":{"type":"number","description":"latitude","format":"float"},"lon":{"type":"number","description":"longitude","format":"float"}},"description":"geographical coordinates of the stop"},"departure":{"type":"string","description":"departure from the stop in its local timezone as YYYY-MM-DDThh:mm","format":"date-time"},"name":{"type":"string","description":"name of the stop"},"nights":{"type":"integer","description":"number of nights","format":"int64"},"route":{"type":"object","properties":{"distance":{"type":"integer","description":"route distance in meters","format":"int64"},"duration":{"type":"integer","description":"route duration in seconds","format":"int64"},"mode":{"type":"string","description":"travel mode","enum":["car","motorcycle","bicycle","walk","other"]},"polyline":{"type":"string","description":"route path compatible with Google polyline encoding algorithm"}},"description":"route leading to the stop"},"url":{"type":"string","description":"url of the page with more information about the stop"}}},"Trip":{"type":"object","properties":{"begin":{"type":"string","description":"begin of the trip in its local timezone as YYYY-MM-DDThh:mm","format":"date-time"},"description":{"type":"string","description":"description of the trip (truncated to 200 characters)"},"end":{"type":"string","description":"end of the trip in its local timezone as YYYY-MM-DDThh:mm","format":"date-time"},"id":{"type":"string","description":"Unique ID of the trip"},"name":{"type":"string","description":"name of the trip"}}}},"securitySchemes":{"furkot_auth_access_code":{"type":"oauth2"},"furkot_auth_implicit":{"type":"oauth2"}}}}