{"openapi":"3.0.1","info":{"title":"WebApps API Client","version":"2018-11-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Web/sites":{"get":{"tags":["WebApps"],"summary":"Get all apps for a subscription.","description":"Get all apps for a subscription.","operationId":"WebApps_List","parameters":[{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"type":"object","properties":{"identity":{"type":"object","properties":{"principalId":{"type":"string","description":"Principal Id of managed service identity.","readOnly":true},"tenantId":{"type":"string","description":"Tenant of managed service identity.","readOnly":true},"type":{"type":"string","description":"Type of managed service identity.","enum":["SystemAssigned","UserAssigned","SystemAssigned, UserAssigned","None"]},"userAssignedIdentities":{"type":"object","additionalProperties":{"type":"object","properties":{"clientId":{"type":"string","description":"Client Id of user assigned identity","readOnly":true},"principalId":{"type":"string","description":"Principal Id of user assigned identity","readOnly":true}}},"description":"The list of user assigned identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}"}},"description":"Managed service identity."},"properties":{"type":"object","properties":{"availabilityState":{"type":"string","description":"Management information availability state for the app.","readOnly":true,"enum":["Normal","Limited","DisasterRecoveryMode"]},"clientAffinityEnabled":{"type":"boolean","description":"<code>true</code> to enable client affinity; <code>false</code> to stop sending session affinity cookies, which route client requests in the same session to the same instance. Default is <code>true</code>."},"clientCertEnabled":{"type":"boolean","description":"<code>true</code> to enable client certificate authentication (TLS mutual authentication); otherwise, <code>false</code>. Default is <code>false</code>."},"clientCertExclusionPaths":{"type":"string","description":"client certificate authentication comma-separated exclusion paths"},"cloningInfo":{"required":["sourceWebAppId"],"type":"object","properties":{"appSettingsOverrides":{"type":"object","additionalProperties":{"type":"string"},"description":"Application setting overrides for cloned app. If specified, these settings override the settings cloned \nfrom source app. Otherwise, application settings from source app are retained."},"cloneCustomHostNames":{"type":"boolean","description":"<code>true</code> to clone custom hostnames from source app; otherwise, <code>false</code>."},"cloneSourceControl":{"type":"boolean","description":"<code>true</code> to clone source control from source app; otherwise, <code>false</code>."},"configureLoadBalancing":{"type":"boolean","description":"<code>true</code> to configure load balancing for source and destination app."},"correlationId":{"type":"string","description":"Correlation ID of cloning operation. This ID ties multiple cloning operations\ntogether to use the same snapshot.","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"hostingEnvironment":{"type":"string","description":"App Service Environment."},"overwrite":{"type":"boolean","description":"<code>true</code> to overwrite destination app; otherwise, <code>false</code>."},"sourceWebAppId":{"type":"string","description":"ARM resource ID of the source app. App resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName} for production slots and \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slotName} for other slots."},"sourceWebAppLocation":{"type":"string","description":"Location of source app ex: West US or North Europe"},"trafficManagerProfileId":{"type":"string","description":"ARM resource ID of the Traffic Manager profile to use, if it exists. Traffic Manager resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{profileName}."},"trafficManagerProfileName":{"type":"string","description":"Name of Traffic Manager profile to create. This is only needed if Traffic Manager profile does not already exist."}},"description":"Information needed for cloning operation."},"containerSize":{"type":"integer","description":"Size of the function container.","format":"int32"},"dailyMemoryTimeQuota":{"type":"integer","description":"Maximum allowed daily memory-time quota (applicable on dynamic apps only).","format":"int32"},"defaultHostName":{"type":"string","description":"Default hostname of the app. Read-only.","readOnly":true},"enabled":{"type":"boolean","description":"<code>true</code> if the app is enabled; otherwise, <code>false</code>. Setting this value to false disables the app (takes the app offline)."},"enabledHostNames":{"type":"array","description":"Enabled hostnames for the app.Hostnames need to be assigned (see HostNames) AND enabled. Otherwise,\nthe app is not served on those hostnames.","readOnly":true,"items":{"type":"string"}},"geoDistributions":{"type":"array","description":"GeoDistributions for this site","items":{"type":"object","properties":{"location":{"type":"string","description":"Location."},"numberOfWorkers":{"type":"integer","description":"NumberOfWorkers.","format":"int32"}},"description":"A global distribution definition."}},"hostNameSslStates":{"type":"array","description":"Hostname SSL states are used to manage the SSL bindings for app's hostnames.","items":{"type":"object","properties":{"hostType":{"type":"string","description":"Indicates whether the hostname is a standard or repository hostname.","enum":["Standard","Repository"]},"name":{"type":"string","description":"Hostname."},"sslState":{"type":"string","description":"SSL type.","enum":["Disabled","SniEnabled","IpBasedEnabled"]},"thumbprint":{"type":"string","description":"SSL certificate thumbprint."},"toUpdate":{"type":"boolean","description":"Set to <code>true</code> to update existing hostname."},"virtualIP":{"type":"string","description":"Virtual IP address assigned to the hostname if IP based SSL is enabled."}},"description":"SSL-enabled hostname."}},"hostNames":{"type":"array","description":"Hostnames associated with the app.","readOnly":true,"items":{"type":"string"}},"hostNamesDisabled":{"type":"boolean","description":"<code>true</code> to disable the public hostnames of the app; otherwise, <code>false</code>.\n If <code>true</code>, the app is only accessible via API management process."},"hostingEnvironmentProfile":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID of the App Service Environment."},"name":{"type":"string","description":"Name of the App Service Environment.","readOnly":true},"type":{"type":"string","description":"Resource type of the App Service Environment.","readOnly":true}},"description":"Specification for an App Service Environment to use for this resource."},"httpsOnly":{"type":"boolean","description":"HttpsOnly: configures a web site to accept only https requests. Issues redirect for\nhttp requests"},"hyperV":{"type":"boolean","description":"Hyper-V sandbox.","default":false},"inProgressOperationId":{"type":"string","description":"Specifies an operation id if this site has a pending operation.","format":"uuid","readOnly":true,"example":"00000000-0000-0000-0000-000000000000"},"isDefaultContainer":{"type":"boolean","description":"<code>true</code> if the app is a default container; otherwise, <code>false</code>.","readOnly":true},"isXenon":{"type":"boolean","description":"Obsolete: Hyper-V sandbox.","default":false},"lastModifiedTimeUtc":{"type":"string","description":"Last time the app was modified, in UTC. Read-only.","format":"date-time","readOnly":true},"maxNumberOfWorkers":{"type":"integer","description":"Maximum number of workers.\nThis only applies to Functions container.","format":"int32","readOnly":true},"outboundIpAddresses":{"type":"string","description":"List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from tenants that site can be hosted with current settings. Read-only.","readOnly":true},"possibleOutboundIpAddresses":{"type":"string","description":"List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from all tenants. Read-only.","readOnly":true},"redundancyMode":{"type":"string","description":"Site redundancy mode","enum":["None","Manual","Failover","ActiveActive","GeoRedundant"]},"repositorySiteName":{"type":"string","description":"Name of the repository site.","readOnly":true},"reserved":{"type":"boolean","description":"<code>true</code> if reserved; otherwise, <code>false</code>.","default":false},"resourceGroup":{"type":"string","description":"Name of the resource group the app belongs to. Read-only.","readOnly":true},"scmSiteAlsoStopped":{"type":"boolean","description":"<code>true</code> to stop SCM (KUDU) site when the app is stopped; otherwise, <code>false</code>. The default is <code>false</code>.","default":false},"serverFarmId":{"type":"string","description":"Resource ID of the associated App Service plan, formatted as: \"/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}\"."},"siteConfig":{"type":"object","properties":{"alwaysOn":{"type":"boolean","description":"<code>true</code> if Always On is enabled; otherwise, <code>false</code>."},"apiDefinition":{"type":"object","properties":{"url":{"type":"string","description":"The URL of the API definition."}},"description":"Information about the formal API definition for the app."},"appCommandLine":{"type":"string","description":"App command line to launch."},"appSettings":{"type":"array","description":"Application settings.","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}},"autoHealEnabled":{"type":"boolean","description":"<code>true</code> if Auto Heal is enabled; otherwise, <code>false</code>."},"autoHealRules":{"type":"object","properties":{"actions":{"type":"object","properties":{"actionType":{"type":"string","description":"Predefined action to be taken.","enum":["Recycle","LogEvent","CustomAction"]},"customAction":{"type":"object","properties":{"exe":{"type":"string","description":"Executable to be run."},"parameters":{"type":"string","description":"Parameters for the executable."}},"description":"Custom action to be executed\nwhen an auto heal rule is triggered."},"minProcessExecutionTime":{"type":"string","description":"Minimum time the process must execute\nbefore taking the action"}},"description":"Actions which to take by the auto-heal module when a rule is triggered."},"triggers":{"type":"object","properties":{"privateBytesInKB":{"type":"integer","description":"A rule based on private bytes.","format":"int32"},"requests":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."}},"description":"Trigger based on total requests."},"slowRequests":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."},"timeTaken":{"type":"string","description":"Time taken."}},"description":"Trigger based on request execution time."},"statusCodes":{"type":"array","description":"A rule based on status codes.","items":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"status":{"type":"integer","description":"HTTP status code.","format":"int32"},"subStatus":{"type":"integer","description":"Request Sub Status.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."},"win32Status":{"type":"integer","description":"Win32 error code.","format":"int32"}},"description":"Trigger based on status code."}}},"description":"Triggers for auto-heal."}},"description":"Rules that can be defined for auto-heal."},"autoSwapSlotName":{"type":"string","description":"Auto-swap slot name."},"azureStorageAccounts":{"type":"object","additionalProperties":{"type":"object","properties":{"accessKey":{"type":"string","description":"Access key for the storage account."},"accountName":{"type":"string","description":"Name of the storage account."},"mountPath":{"type":"string","description":"Path to mount the storage within the site's runtime environment."},"shareName":{"type":"string","description":"Name of the file share (container name, for Blob storage)."},"state":{"type":"string","description":"State of the storage account.","readOnly":true,"enum":["Ok","InvalidCredentials","InvalidShare"]},"type":{"type":"string","description":"Type of storage.","enum":["AzureFiles","AzureBlob"]}},"description":"Azure Files or Blob Storage access information value for dictionary storage."},"description":"User-provided Azure storage accounts."},"connectionStrings":{"type":"array","description":"Connection strings.","items":{"type":"object","properties":{"connectionString":{"type":"string","description":"Connection string value."},"name":{"type":"string","description":"Name of connection string."},"type":{"type":"string","description":"Type of database.","enum":["MySql","SQLServer","SQLAzure","Custom","NotificationHub","ServiceBus","EventHub","ApiHub","DocDb","RedisCache","PostgreSQL"]}},"description":"Database connection string information."}},"cors":{"type":"object","properties":{"allowedOrigins":{"type":"array","description":"Gets or sets the list of origins that should be allowed to make cross-origin\ncalls (for example: http://example.com:12345). Use \"*\" to allow all.","items":{"type":"string"}},"supportCredentials":{"type":"boolean","description":"Gets or sets whether CORS requests with credentials are allowed. See \nhttps://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Requests_with_credentials\nfor more details."}},"description":"Cross-Origin Resource Sharing (CORS) settings for the app."},"defaultDocuments":{"type":"array","description":"Default documents.","items":{"type":"string"}},"detailedErrorLoggingEnabled":{"type":"boolean","description":"<code>true</code> if detailed error logging is enabled; otherwise, <code>false</code>."},"documentRoot":{"type":"string","description":"Document root."},"experiments":{"type":"object","properties":{"rampUpRules":{"type":"array","description":"List of ramp-up rules.","items":{"type":"object","properties":{"actionHostName":{"type":"string","description":"Hostname of a slot to which the traffic will be redirected if decided to. E.g. myapp-stage.azurewebsites.net."},"changeDecisionCallbackUrl":{"type":"string","description":"Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified. See TiPCallback site extension for the scaffold and contracts.\nhttps://www.siteextensions.net/packages/TiPCallback/"},"changeIntervalInMinutes":{"type":"integer","description":"Specifies interval in minutes to reevaluate ReroutePercentage.","format":"int32"},"changeStep":{"type":"number","description":"In auto ramp up scenario this is the step to add/remove from <code>ReroutePercentage</code> until it reaches \n<code>MinReroutePercentage</code> or <code>MaxReroutePercentage</code>. Site metrics are checked every N minutes specified in <code>ChangeIntervalInMinutes</code>.\nCustom decision algorithm can be provided in TiPCallback site extension which URL can be specified in <code>ChangeDecisionCallbackUrl</code>.","format":"double"},"maxReroutePercentage":{"type":"number","description":"Specifies upper boundary below which ReroutePercentage will stay.","format":"double"},"minReroutePercentage":{"type":"number","description":"Specifies lower boundary above which ReroutePercentage will stay.","format":"double"},"name":{"type":"string","description":"Name of the routing rule. The recommended name would be to point to the slot which will receive the traffic in the experiment."},"reroutePercentage":{"type":"number","description":"Percentage of the traffic which will be redirected to <code>ActionHostName</code>.","format":"double"}},"description":"Routing rules for ramp up testing. This rule allows to redirect static traffic % to a slot or to gradually change routing % based on performance."}}},"description":"Routing rules in production experiments."},"ftpsState":{"type":"string","description":"State of FTP / FTPS service","enum":["AllAllowed","FtpsOnly","Disabled"]},"handlerMappings":{"type":"array","description":"Handler mappings.","items":{"type":"object","properties":{"arguments":{"type":"string","description":"Command-line arguments to be passed to the script processor."},"extension":{"type":"string","description":"Requests with this extension will be handled using the specified FastCGI application."},"scriptProcessor":{"type":"string","description":"The absolute path to the FastCGI application."}},"description":"The IIS handler mappings used to define which handler processes HTTP requests with certain extension. \nFor example, it is used to configure php-cgi.exe process to handle all HTTP requests with *.php extension."}},"http20Enabled":{"type":"boolean","description":"Http20Enabled: configures a web site to allow clients to connect over http2.0","default":true},"httpLoggingEnabled":{"type":"boolean","description":"<code>true</code> if HTTP logging is enabled; otherwise, <code>false</code>."},"ipSecurityRestrictions":{"type":"array","description":"IP security restrictions for main.","items":{"type":"object","properties":{"action":{"type":"string","description":"Allow or Deny access for this IP range."},"description":{"type":"string","description":"IP restriction rule description."},"ipAddress":{"type":"string","description":"IP address the security restriction is valid for.\nIt can be in form of pure ipv4 address (required SubnetMask property) or\nCIDR notation such as ipv4/mask (leading bit match). For CIDR,\nSubnetMask property must not be specified."},"name":{"type":"string","description":"IP restriction rule name."},"priority":{"type":"integer","description":"Priority of IP restriction rule.","format":"int32"},"subnetMask":{"type":"string","description":"Subnet mask for the range of IP addresses the restriction is valid for."},"subnetTrafficTag":{"type":"integer","description":"(internal) Subnet traffic tag","format":"int32"},"tag":{"type":"string","description":"Defines what this IP filter will be used for. This is to support IP filtering on proxies.","enum":["Default","XffProxy"]},"vnetSubnetResourceId":{"type":"string","description":"Virtual network resource id"},"vnetTrafficTag":{"type":"integer","description":"(internal) Vnet traffic tag","format":"int32"}},"description":"IP security restriction on an app."}},"javaContainer":{"type":"string","description":"Java container."},"javaContainerVersion":{"type":"string","description":"Java container version."},"javaVersion":{"type":"string","description":"Java version."},"limits":{"type":"object","properties":{"maxDiskSizeInMb":{"type":"integer","description":"Maximum allowed disk size usage in MB.","format":"int64"},"maxMemoryInMb":{"type":"integer","description":"Maximum allowed memory usage in MB.","format":"int64"},"maxPercentageCpu":{"type":"number","description":"Maximum allowed CPU usage percentage.","format":"double"}},"description":"Metric limits set on an app."},"linuxFxVersion":{"type":"string","description":"Linux App Framework and version"},"loadBalancing":{"type":"string","description":"Site load balancing.","enum":["WeightedRoundRobin","LeastRequests","LeastResponseTime","WeightedTotalTraffic","RequestHash"]},"localMySqlEnabled":{"type":"boolean","description":"<code>true</code> to enable local MySQL; otherwise, <code>false</code>.","default":false},"logsDirectorySizeLimit":{"type":"integer","description":"HTTP logs directory size limit.","format":"int32"},"machineKey":{"type":"object","properties":{"decryption":{"type":"string","description":"Algorithm used for decryption."},"decryptionKey":{"type":"string","description":"Decryption key."},"validation":{"type":"string","description":"MachineKey validation."},"validationKey":{"type":"string","description":"Validation key."}},"description":"MachineKey of an app."},"managedPipelineMode":{"type":"string","description":"Managed pipeline mode.","enum":["Integrated","Classic"]},"managedServiceIdentityId":{"type":"integer","description":"Managed Service Identity Id","format":"int32"},"minTlsVersion":{"type":"string","description":"MinTlsVersion: configures the minimum version of TLS required for SSL requests","enum":["1.0","1.1","1.2"]},"netFrameworkVersion":{"type":"string","description":".NET Framework version.","default":"v4.6"},"nodeVersion":{"type":"string","description":"Version of Node.js."},"numberOfWorkers":{"type":"integer","description":"Number of workers.","format":"int32"},"phpVersion":{"type":"string","description":"Version of PHP."},"publishingUsername":{"type":"string","description":"Publishing user name."},"push":{"type":"object","properties":{"properties":{"required":["isPushEnabled"],"type":"object","properties":{"dynamicTagsJson":{"type":"string","description":"Gets or sets a JSON string containing a list of dynamic tags that will be evaluated from user claims in the push registration endpoint."},"isPushEnabled":{"type":"boolean","description":"Gets or sets a flag indicating whether the Push endpoint is enabled."},"tagWhitelistJson":{"type":"string","description":"Gets or sets a JSON string containing a list of tags that are whitelisted for use by the push registration endpoint."},"tagsRequiringAuth":{"type":"string","description":"Gets or sets a JSON string containing a list of tags that require user authentication to be used in the push registration endpoint.\nTags can consist of alphanumeric characters and the following:\n'_', '@', '#', '.', ':', '-'. \nValidation should be performed at the PushRequestHandler."}},"description":"PushSettings resource specific properties"}},"description":"Push settings for the App."},"pythonVersion":{"type":"string","description":"Version of Python."},"remoteDebuggingEnabled":{"type":"boolean","description":"<code>true</code> if remote debugging is enabled; otherwise, <code>false</code>."},"remoteDebuggingVersion":{"type":"string","description":"Remote debugging version."},"requestTracingEnabled":{"type":"boolean","description":"<code>true</code> if request tracing is enabled; otherwise, <code>false</code>."},"requestTracingExpirationTime":{"type":"string","description":"Request tracing expiration time.","format":"date-time"},"reservedInstanceCount":{"maximum":10,"minimum":0,"type":"integer","description":"Number of reserved instances.\nThis setting only applies to the Consumption Plan","format":"int32"},"scmIpSecurityRestrictions":{"type":"array","description":"IP security restrictions for scm.","items":{"type":"object","properties":{"action":{"type":"string","description":"Allow or Deny access for this IP range."},"description":{"type":"string","description":"IP restriction rule description."},"ipAddress":{"type":"string","description":"IP address the security restriction is valid for.\nIt can be in form of pure ipv4 address (required SubnetMask property) or\nCIDR notation such as ipv4/mask (leading bit match). For CIDR,\nSubnetMask property must not be specified."},"name":{"type":"string","description":"IP restriction rule name."},"priority":{"type":"integer","description":"Priority of IP restriction rule.","format":"int32"},"subnetMask":{"type":"string","description":"Subnet mask for the range of IP addresses the restriction is valid for."},"subnetTrafficTag":{"type":"integer","description":"(internal) Subnet traffic tag","format":"int32"},"tag":{"type":"string","description":"Defines what this IP filter will be used for. This is to support IP filtering on proxies.","enum":["Default","XffProxy"]},"vnetSubnetResourceId":{"type":"string","description":"Virtual network resource id"},"vnetTrafficTag":{"type":"integer","description":"(internal) Vnet traffic tag","format":"int32"}},"description":"IP security restriction on an app."}},"scmIpSecurityRestrictionsUseMain":{"type":"boolean","description":"IP security restrictions for scm to use main."},"scmType":{"type":"string","description":"SCM type.","enum":["None","Dropbox","Tfs","LocalGit","GitHub","CodePlexGit","CodePlexHg","BitbucketGit","BitbucketHg","ExternalGit","ExternalHg","OneDrive","VSO"]},"tracingOptions":{"type":"string","description":"Tracing options."},"use32BitWorkerProcess":{"type":"boolean","description":"<code>true</code> to use 32-bit worker process; otherwise, <code>false</code>."},"virtualApplications":{"type":"array","description":"Virtual applications.","items":{"type":"object","properties":{"physicalPath":{"type":"string","description":"Physical path."},"preloadEnabled":{"type":"boolean","description":"<code>true</code> if preloading is enabled; otherwise, <code>false</code>."},"virtualDirectories":{"type":"array","description":"Virtual directories for virtual application.","items":{"type":"object","properties":{"physicalPath":{"type":"string","description":"Physical path."},"virtualPath":{"type":"string","description":"Path to virtual application."}},"description":"Directory for virtual application."}},"virtualPath":{"type":"string","description":"Virtual path."}},"description":"Virtual application in an app."}},"vnetName":{"type":"string","description":"Virtual Network name."},"webSocketsEnabled":{"type":"boolean","description":"<code>true</code> if WebSocket is enabled; otherwise, <code>false</code>."},"windowsFxVersion":{"type":"string","description":"Xenon App Framework and version"},"xManagedServiceIdentityId":{"type":"integer","description":"Explicit Managed Service Identity Id","format":"int32"}},"description":"Configuration of an App Service app."},"slotSwapStatus":{"type":"object","properties":{"destinationSlotName":{"type":"string","description":"The destination slot of the last swap operation.","readOnly":true},"sourceSlotName":{"type":"string","description":"The source slot of the last swap operation.","readOnly":true},"timestampUtc":{"type":"string","description":"The time the last successful slot swap completed.","format":"date-time","readOnly":true}},"description":"The status of the last successful slot swap operation."},"state":{"type":"string","description":"Current state of the app.","readOnly":true},"suspendedTill":{"type":"string","description":"App suspended till in case memory-time quota is exceeded.","format":"date-time","readOnly":true},"targetSwapSlot":{"type":"string","description":"Specifies which deployment slot this app will swap into. Read-only.","readOnly":true},"trafficManagerHostNames":{"type":"array","description":"Azure Traffic Manager hostnames associated with the app. Read-only.","readOnly":true,"items":{"type":"string"}},"usageState":{"type":"string","description":"State indicating whether the app has exceeded its quota usage. Read-only.","readOnly":true,"enum":["Normal","Exceeded"]}},"description":"Site resource specific properties"}},"description":"A web app, a mobile app backend, or an API app."}}},"description":"Collection of App Service apps."}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites":{"get":{"tags":["WebApps"],"summary":"Gets all web, mobile, and API apps in the specified resource group.","description":"Gets all web, mobile, and API apps in the specified resource group.","operationId":"WebApps_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"includeSlots","in":"query","description":"Specify <strong>true</strong> to include deployment slots in results. The default is false, which only gives you the production slot of all apps.","schema":{"type":"boolean"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to next page of resources.","readOnly":true},"value":{"type":"array","description":"Collection of resources.","items":{"type":"object","properties":{"identity":{"type":"object","properties":{"principalId":{"type":"string","description":"Principal Id of managed service identity.","readOnly":true},"tenantId":{"type":"string","description":"Tenant of managed service identity.","readOnly":true},"type":{"type":"string","description":"Type of managed service identity.","enum":["SystemAssigned","UserAssigned","SystemAssigned, UserAssigned","None"]},"userAssignedIdentities":{"type":"object","additionalProperties":{"type":"object","properties":{"clientId":{"type":"string","description":"Client Id of user assigned identity","readOnly":true},"principalId":{"type":"string","description":"Principal Id of user assigned identity","readOnly":true}}},"description":"The list of user assigned identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}"}},"description":"Managed service identity."},"properties":{"type":"object","properties":{"availabilityState":{"type":"string","description":"Management information availability state for the app.","readOnly":true,"enum":["Normal","Limited","DisasterRecoveryMode"]},"clientAffinityEnabled":{"type":"boolean","description":"<code>true</code> to enable client affinity; <code>false</code> to stop sending session affinity cookies, which route client requests in the same session to the same instance. Default is <code>true</code>."},"clientCertEnabled":{"type":"boolean","description":"<code>true</code> to enable client certificate authentication (TLS mutual authentication); otherwise, <code>false</code>. Default is <code>false</code>."},"clientCertExclusionPaths":{"type":"string","description":"client certificate authentication comma-separated exclusion paths"},"cloningInfo":{"required":["sourceWebAppId"],"type":"object","properties":{"appSettingsOverrides":{"type":"object","additionalProperties":{"type":"string"},"description":"Application setting overrides for cloned app. If specified, these settings override the settings cloned \nfrom source app. Otherwise, application settings from source app are retained."},"cloneCustomHostNames":{"type":"boolean","description":"<code>true</code> to clone custom hostnames from source app; otherwise, <code>false</code>."},"cloneSourceControl":{"type":"boolean","description":"<code>true</code> to clone source control from source app; otherwise, <code>false</code>."},"configureLoadBalancing":{"type":"boolean","description":"<code>true</code> to configure load balancing for source and destination app."},"correlationId":{"type":"string","description":"Correlation ID of cloning operation. This ID ties multiple cloning operations\ntogether to use the same snapshot.","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"hostingEnvironment":{"type":"string","description":"App Service Environment."},"overwrite":{"type":"boolean","description":"<code>true</code> to overwrite destination app; otherwise, <code>false</code>."},"sourceWebAppId":{"type":"string","description":"ARM resource ID of the source app. App resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName} for production slots and \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slotName} for other slots."},"sourceWebAppLocation":{"type":"string","description":"Location of source app ex: West US or North Europe"},"trafficManagerProfileId":{"type":"string","description":"ARM resource ID of the Traffic Manager profile to use, if it exists. Traffic Manager resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{profileName}."},"trafficManagerProfileName":{"type":"string","description":"Name of Traffic Manager profile to create. This is only needed if Traffic Manager profile does not already exist."}},"description":"Information needed for cloning operation."},"containerSize":{"type":"integer","description":"Size of the function container.","format":"int32"},"dailyMemoryTimeQuota":{"type":"integer","description":"Maximum allowed daily memory-time quota (applicable on dynamic apps only).","format":"int32"},"defaultHostName":{"type":"string","description":"Default hostname of the app. Read-only.","readOnly":true},"enabled":{"type":"boolean","description":"<code>true</code> if the app is enabled; otherwise, <code>false</code>. Setting this value to false disables the app (takes the app offline)."},"enabledHostNames":{"type":"array","description":"Enabled hostnames for the app.Hostnames need to be assigned (see HostNames) AND enabled. Otherwise,\nthe app is not served on those hostnames.","readOnly":true,"items":{"type":"string"}},"geoDistributions":{"type":"array","description":"GeoDistributions for this site","items":{"type":"object","properties":{"location":{"type":"string","description":"Location."},"numberOfWorkers":{"type":"integer","description":"NumberOfWorkers.","format":"int32"}},"description":"A global distribution definition."}},"hostNameSslStates":{"type":"array","description":"Hostname SSL states are used to manage the SSL bindings for app's hostnames.","items":{"type":"object","properties":{"hostType":{"type":"string","description":"Indicates whether the hostname is a standard or repository hostname.","enum":["Standard","Repository"]},"name":{"type":"string","description":"Hostname."},"sslState":{"type":"string","description":"SSL type.","enum":["Disabled","SniEnabled","IpBasedEnabled"]},"thumbprint":{"type":"string","description":"SSL certificate thumbprint."},"toUpdate":{"type":"boolean","description":"Set to <code>true</code> to update existing hostname."},"virtualIP":{"type":"string","description":"Virtual IP address assigned to the hostname if IP based SSL is enabled."}},"description":"SSL-enabled hostname."}},"hostNames":{"type":"array","description":"Hostnames associated with the app.","readOnly":true,"items":{"type":"string"}},"hostNamesDisabled":{"type":"boolean","description":"<code>true</code> to disable the public hostnames of the app; otherwise, <code>false</code>.\n If <code>true</code>, the app is only accessible via API management process."},"hostingEnvironmentProfile":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID of the App Service Environment."},"name":{"type":"string","description":"Name of the App Service Environment.","readOnly":true},"type":{"type":"string","description":"Resource type of the App Service Environment.","readOnly":true}},"description":"Specification for an App Service Environment to use for this resource."},"httpsOnly":{"type":"boolean","description":"HttpsOnly: configures a web site to accept only https requests. Issues redirect for\nhttp requests"},"hyperV":{"type":"boolean","description":"Hyper-V sandbox.","default":false},"inProgressOperationId":{"type":"string","description":"Specifies an operation id if this site has a pending operation.","format":"uuid","readOnly":true,"example":"00000000-0000-0000-0000-000000000000"},"isDefaultContainer":{"type":"boolean","description":"<code>true</code> if the app is a default container; otherwise, <code>false</code>.","readOnly":true},"isXenon":{"type":"boolean","description":"Obsolete: Hyper-V sandbox.","default":false},"lastModifiedTimeUtc":{"type":"string","description":"Last time the app was modified, in UTC. Read-only.","format":"date-time","readOnly":true},"maxNumberOfWorkers":{"type":"integer","description":"Maximum number of workers.\nThis only applies to Functions container.","format":"int32","readOnly":true},"outboundIpAddresses":{"type":"string","description":"List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from tenants that site can be hosted with current settings. Read-only.","readOnly":true},"possibleOutboundIpAddresses":{"type":"string","description":"List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from all tenants. Read-only.","readOnly":true},"redundancyMode":{"type":"string","description":"Site redundancy mode","enum":["None","Manual","Failover","ActiveActive","GeoRedundant"]},"repositorySiteName":{"type":"string","description":"Name of the repository site.","readOnly":true},"reserved":{"type":"boolean","description":"<code>true</code> if reserved; otherwise, <code>false</code>.","default":false},"resourceGroup":{"type":"string","description":"Name of the resource group the app belongs to. Read-only.","readOnly":true},"scmSiteAlsoStopped":{"type":"boolean","description":"<code>true</code> to stop SCM (KUDU) site when the app is stopped; otherwise, <code>false</code>. The default is <code>false</code>.","default":false},"serverFarmId":{"type":"string","description":"Resource ID of the associated App Service plan, formatted as: \"/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}\"."},"siteConfig":{"type":"object","properties":{"alwaysOn":{"type":"boolean","description":"<code>true</code> if Always On is enabled; otherwise, <code>false</code>."},"apiDefinition":{"type":"object","properties":{"url":{"type":"string","description":"The URL of the API definition."}},"description":"Information about the formal API definition for the app."},"appCommandLine":{"type":"string","description":"App command line to launch."},"appSettings":{"type":"array","description":"Application settings.","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}},"autoHealEnabled":{"type":"boolean","description":"<code>true</code> if Auto Heal is enabled; otherwise, <code>false</code>."},"autoHealRules":{"type":"object","properties":{"actions":{"type":"object","properties":{"actionType":{"type":"string","description":"Predefined action to be taken.","enum":["Recycle","LogEvent","CustomAction"]},"customAction":{"type":"object","properties":{"exe":{"type":"string","description":"Executable to be run."},"parameters":{"type":"string","description":"Parameters for the executable."}},"description":"Custom action to be executed\nwhen an auto heal rule is triggered."},"minProcessExecutionTime":{"type":"string","description":"Minimum time the process must execute\nbefore taking the action"}},"description":"Actions which to take by the auto-heal module when a rule is triggered."},"triggers":{"type":"object","properties":{"privateBytesInKB":{"type":"integer","description":"A rule based on private bytes.","format":"int32"},"requests":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."}},"description":"Trigger based on total requests."},"slowRequests":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."},"timeTaken":{"type":"string","description":"Time taken."}},"description":"Trigger based on request execution time."},"statusCodes":{"type":"array","description":"A rule based on status codes.","items":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"status":{"type":"integer","description":"HTTP status code.","format":"int32"},"subStatus":{"type":"integer","description":"Request Sub Status.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."},"win32Status":{"type":"integer","description":"Win32 error code.","format":"int32"}},"description":"Trigger based on status code."}}},"description":"Triggers for auto-heal."}},"description":"Rules that can be defined for auto-heal."},"autoSwapSlotName":{"type":"string","description":"Auto-swap slot name."},"azureStorageAccounts":{"type":"object","additionalProperties":{"type":"object","properties":{"accessKey":{"type":"string","description":"Access key for the storage account."},"accountName":{"type":"string","description":"Name of the storage account."},"mountPath":{"type":"string","description":"Path to mount the storage within the site's runtime environment."},"shareName":{"type":"string","description":"Name of the file share (container name, for Blob storage)."},"state":{"type":"string","description":"State of the storage account.","readOnly":true,"enum":["Ok","InvalidCredentials","InvalidShare"]},"type":{"type":"string","description":"Type of storage.","enum":["AzureFiles","AzureBlob"]}},"description":"Azure Files or Blob Storage access information value for dictionary storage."},"description":"User-provided Azure storage accounts."},"connectionStrings":{"type":"array","description":"Connection strings.","items":{"type":"object","properties":{"connectionString":{"type":"string","description":"Connection string value."},"name":{"type":"string","description":"Name of connection string."},"type":{"type":"string","description":"Type of database.","enum":["MySql","SQLServer","SQLAzure","Custom","NotificationHub","ServiceBus","EventHub","ApiHub","DocDb","RedisCache","PostgreSQL"]}},"description":"Database connection string information."}},"cors":{"type":"object","properties":{"allowedOrigins":{"type":"array","description":"Gets or sets the list of origins that should be allowed to make cross-origin\ncalls (for example: http://example.com:12345). Use \"*\" to allow all.","items":{"type":"string"}},"supportCredentials":{"type":"boolean","description":"Gets or sets whether CORS requests with credentials are allowed. See \nhttps://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Requests_with_credentials\nfor more details."}},"description":"Cross-Origin Resource Sharing (CORS) settings for the app."},"defaultDocuments":{"type":"array","description":"Default documents.","items":{"type":"string"}},"detailedErrorLoggingEnabled":{"type":"boolean","description":"<code>true</code> if detailed error logging is enabled; otherwise, <code>false</code>."},"documentRoot":{"type":"string","description":"Document root."},"experiments":{"type":"object","properties":{"rampUpRules":{"type":"array","description":"List of ramp-up rules.","items":{"type":"object","properties":{"actionHostName":{"type":"string","description":"Hostname of a slot to which the traffic will be redirected if decided to. E.g. myapp-stage.azurewebsites.net."},"changeDecisionCallbackUrl":{"type":"string","description":"Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified. See TiPCallback site extension for the scaffold and contracts.\nhttps://www.siteextensions.net/packages/TiPCallback/"},"changeIntervalInMinutes":{"type":"integer","description":"Specifies interval in minutes to reevaluate ReroutePercentage.","format":"int32"},"changeStep":{"type":"number","description":"In auto ramp up scenario this is the step to add/remove from <code>ReroutePercentage</code> until it reaches \n<code>MinReroutePercentage</code> or <code>MaxReroutePercentage</code>. Site metrics are checked every N minutes specified in <code>ChangeIntervalInMinutes</code>.\nCustom decision algorithm can be provided in TiPCallback site extension which URL can be specified in <code>ChangeDecisionCallbackUrl</code>.","format":"double"},"maxReroutePercentage":{"type":"number","description":"Specifies upper boundary below which ReroutePercentage will stay.","format":"double"},"minReroutePercentage":{"type":"number","description":"Specifies lower boundary above which ReroutePercentage will stay.","format":"double"},"name":{"type":"string","description":"Name of the routing rule. The recommended name would be to point to the slot which will receive the traffic in the experiment."},"reroutePercentage":{"type":"number","description":"Percentage of the traffic which will be redirected to <code>ActionHostName</code>.","format":"double"}},"description":"Routing rules for ramp up testing. This rule allows to redirect static traffic % to a slot or to gradually change routing % based on performance."}}},"description":"Routing rules in production experiments."},"ftpsState":{"type":"string","description":"State of FTP / FTPS service","enum":["AllAllowed","FtpsOnly","Disabled"]},"handlerMappings":{"type":"array","description":"Handler mappings.","items":{"type":"object","properties":{"arguments":{"type":"string","description":"Command-line arguments to be passed to the script processor."},"extension":{"type":"string","description":"Requests with this extension will be handled using the specified FastCGI application."},"scriptProcessor":{"type":"string","description":"The absolute path to the FastCGI application."}},"description":"The IIS handler mappings used to define which handler processes HTTP requests with certain extension. \nFor example, it is used to configure php-cgi.exe process to handle all HTTP requests with *.php extension."}},"http20Enabled":{"type":"boolean","description":"Http20Enabled: configures a web site to allow clients to connect over http2.0","default":true},"httpLoggingEnabled":{"type":"boolean","description":"<code>true</code> if HTTP logging is enabled; otherwise, <code>false</code>."},"ipSecurityRestrictions":{"type":"array","description":"IP security restrictions for main.","items":{"type":"object","properties":{"action":{"type":"string","description":"Allow or Deny access for this IP range."},"description":{"type":"string","description":"IP restriction rule description."},"ipAddress":{"type":"string","description":"IP address the security restriction is valid for.\nIt can be in form of pure ipv4 address (required SubnetMask property) or\nCIDR notation such as ipv4/mask (leading bit match). For CIDR,\nSubnetMask property must not be specified."},"name":{"type":"string","description":"IP restriction rule name."},"priority":{"type":"integer","description":"Priority of IP restriction rule.","format":"int32"},"subnetMask":{"type":"string","description":"Subnet mask for the range of IP addresses the restriction is valid for."},"subnetTrafficTag":{"type":"integer","description":"(internal) Subnet traffic tag","format":"int32"},"tag":{"type":"string","description":"Defines what this IP filter will be used for. This is to support IP filtering on proxies.","enum":["Default","XffProxy"]},"vnetSubnetResourceId":{"type":"string","description":"Virtual network resource id"},"vnetTrafficTag":{"type":"integer","description":"(internal) Vnet traffic tag","format":"int32"}},"description":"IP security restriction on an app."}},"javaContainer":{"type":"string","description":"Java container."},"javaContainerVersion":{"type":"string","description":"Java container version."},"javaVersion":{"type":"string","description":"Java version."},"limits":{"type":"object","properties":{"maxDiskSizeInMb":{"type":"integer","description":"Maximum allowed disk size usage in MB.","format":"int64"},"maxMemoryInMb":{"type":"integer","description":"Maximum allowed memory usage in MB.","format":"int64"},"maxPercentageCpu":{"type":"number","description":"Maximum allowed CPU usage percentage.","format":"double"}},"description":"Metric limits set on an app."},"linuxFxVersion":{"type":"string","description":"Linux App Framework and version"},"loadBalancing":{"type":"string","description":"Site load balancing.","enum":["WeightedRoundRobin","LeastRequests","LeastResponseTime","WeightedTotalTraffic","RequestHash"]},"localMySqlEnabled":{"type":"boolean","description":"<code>true</code> to enable local MySQL; otherwise, <code>false</code>.","default":false},"logsDirectorySizeLimit":{"type":"integer","description":"HTTP logs directory size limit.","format":"int32"},"machineKey":{"type":"object","properties":{"decryption":{"type":"string","description":"Algorithm used for decryption."},"decryptionKey":{"type":"string","description":"Decryption key."},"validation":{"type":"string","description":"MachineKey validation."},"validationKey":{"type":"string","description":"Validation key."}},"description":"MachineKey of an app."},"managedPipelineMode":{"type":"string","description":"Managed pipeline mode.","enum":["Integrated","Classic"]},"managedServiceIdentityId":{"type":"integer","description":"Managed Service Identity Id","format":"int32"},"minTlsVersion":{"type":"string","description":"MinTlsVersion: configures the minimum version of TLS required for SSL requests","enum":["1.0","1.1","1.2"]},"netFrameworkVersion":{"type":"string","description":".NET Framework version.","default":"v4.6"},"nodeVersion":{"type":"string","description":"Version of Node.js."},"numberOfWorkers":{"type":"integer","description":"Number of workers.","format":"int32"},"phpVersion":{"type":"string","description":"Version of PHP."},"publishingUsername":{"type":"string","description":"Publishing user name."},"push":{"type":"object","properties":{"properties":{"required":["isPushEnabled"],"type":"object","properties":{"dynamicTagsJson":{"type":"string","description":"Gets or sets a JSON string containing a list of dynamic tags that will be evaluated from user claims in the push registration endpoint."},"isPushEnabled":{"type":"boolean","description":"Gets or sets a flag indicating whether the Push endpoint is enabled."},"tagWhitelistJson":{"type":"string","description":"Gets or sets a JSON string containing a list of tags that are whitelisted for use by the push registration endpoint."},"tagsRequiringAuth":{"type":"string","description":"Gets or sets a JSON string containing a list of tags that require user authentication to be used in the push registration endpoint.\nTags can consist of alphanumeric characters and the following:\n'_', '@', '#', '.', ':', '-'. \nValidation should be performed at the PushRequestHandler."}},"description":"PushSettings resource specific properties"}},"description":"Push settings for the App."},"pythonVersion":{"type":"string","description":"Version of Python."},"remoteDebuggingEnabled":{"type":"boolean","description":"<code>true</code> if remote debugging is enabled; otherwise, <code>false</code>."},"remoteDebuggingVersion":{"type":"string","description":"Remote debugging version."},"requestTracingEnabled":{"type":"boolean","description":"<code>true</code> if request tracing is enabled; otherwise, <code>false</code>."},"requestTracingExpirationTime":{"type":"string","description":"Request tracing expiration time.","format":"date-time"},"reservedInstanceCount":{"maximum":10,"minimum":0,"type":"integer","description":"Number of reserved instances.\nThis setting only applies to the Consumption Plan","format":"int32"},"scmIpSecurityRestrictions":{"type":"array","description":"IP security restrictions for scm.","items":{"type":"object","properties":{"action":{"type":"string","description":"Allow or Deny access for this IP range."},"description":{"type":"string","description":"IP restriction rule description."},"ipAddress":{"type":"string","description":"IP address the security restriction is valid for.\nIt can be in form of pure ipv4 address (required SubnetMask property) or\nCIDR notation such as ipv4/mask (leading bit match). For CIDR,\nSubnetMask property must not be specified."},"name":{"type":"string","description":"IP restriction rule name."},"priority":{"type":"integer","description":"Priority of IP restriction rule.","format":"int32"},"subnetMask":{"type":"string","description":"Subnet mask for the range of IP addresses the restriction is valid for."},"subnetTrafficTag":{"type":"integer","description":"(internal) Subnet traffic tag","format":"int32"},"tag":{"type":"string","description":"Defines what this IP filter will be used for. This is to support IP filtering on proxies.","enum":["Default","XffProxy"]},"vnetSubnetResourceId":{"type":"string","description":"Virtual network resource id"},"vnetTrafficTag":{"type":"integer","description":"(internal) Vnet traffic tag","format":"int32"}},"description":"IP security restriction on an app."}},"scmIpSecurityRestrictionsUseMain":{"type":"boolean","description":"IP security restrictions for scm to use main."},"scmType":{"type":"string","description":"SCM type.","enum":["None","Dropbox","Tfs","LocalGit","GitHub","CodePlexGit","CodePlexHg","BitbucketGit","BitbucketHg","ExternalGit","ExternalHg","OneDrive","VSO"]},"tracingOptions":{"type":"string","description":"Tracing options."},"use32BitWorkerProcess":{"type":"boolean","description":"<code>true</code> to use 32-bit worker process; otherwise, <code>false</code>."},"virtualApplications":{"type":"array","description":"Virtual applications.","items":{"type":"object","properties":{"physicalPath":{"type":"string","description":"Physical path."},"preloadEnabled":{"type":"boolean","description":"<code>true</code> if preloading is enabled; otherwise, <code>false</code>."},"virtualDirectories":{"type":"array","description":"Virtual directories for virtual application.","items":{"type":"object","properties":{"physicalPath":{"type":"string","description":"Physical path."},"virtualPath":{"type":"string","description":"Path to virtual application."}},"description":"Directory for virtual application."}},"virtualPath":{"type":"string","description":"Virtual path."}},"description":"Virtual application in an app."}},"vnetName":{"type":"string","description":"Virtual Network name."},"webSocketsEnabled":{"type":"boolean","description":"<code>true</code> if WebSocket is enabled; otherwise, <code>false</code>."},"windowsFxVersion":{"type":"string","description":"Xenon App Framework and version"},"xManagedServiceIdentityId":{"type":"integer","description":"Explicit Managed Service Identity Id","format":"int32"}},"description":"Configuration of an App Service app."},"slotSwapStatus":{"type":"object","properties":{"destinationSlotName":{"type":"string","description":"The destination slot of the last swap operation.","readOnly":true},"sourceSlotName":{"type":"string","description":"The source slot of the last swap operation.","readOnly":true},"timestampUtc":{"type":"string","description":"The time the last successful slot swap completed.","format":"date-time","readOnly":true}},"description":"The status of the last successful slot swap operation."},"state":{"type":"string","description":"Current state of the app.","readOnly":true},"suspendedTill":{"type":"string","description":"App suspended till in case memory-time quota is exceeded.","format":"date-time","readOnly":true},"targetSwapSlot":{"type":"string","description":"Specifies which deployment slot this app will swap into. Read-only.","readOnly":true},"trafficManagerHostNames":{"type":"array","description":"Azure Traffic Manager hostnames associated with the app. Read-only.","readOnly":true,"items":{"type":"string"}},"usageState":{"type":"string","description":"State indicating whether the app has exceeded its quota usage. Read-only.","readOnly":true,"enum":["Normal","Exceeded"]}},"description":"Site resource specific properties"}},"description":"A web app, a mobile app backend, or an API app."}}},"description":"Collection of App Service apps."}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}":{"get":{"tags":["WebApps"],"summary":"Gets the details of a web, mobile, or API app.","description":"Gets the details of a web, mobile, or API app.","operationId":"WebApps_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the app.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"object","description":"A web app, a mobile app backend, or an API app."}}}},"404":{"description":"Not found."}}},"put":{"tags":["WebApps"],"summary":"Creates a new web, mobile, or API app in an existing resource group, or updates an existing app.","description":"Creates a new web, mobile, or API app in an existing resource group, or updates an existing app.","operationId":"WebApps_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Unique name of the app to create or update. To create or update a deployment slot, use the {slot} parameter.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"A JSON representation of the app properties. See example.","content":{"application/json":{"schema":{"properties":{"identity":{"type":"object","properties":{"principalId":{"type":"string","description":"Principal Id of managed service identity.","readOnly":true},"tenantId":{"type":"string","description":"Tenant of managed service identity.","readOnly":true},"type":{"type":"string","description":"Type of managed service identity.","enum":["SystemAssigned","UserAssigned","SystemAssigned, UserAssigned","None"]},"userAssignedIdentities":{"type":"object","additionalProperties":{"type":"object","properties":{"clientId":{"type":"string","description":"Client Id of user assigned identity","readOnly":true},"principalId":{"type":"string","description":"Principal Id of user assigned identity","readOnly":true}}},"description":"The list of user assigned identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}"}},"description":"Managed service identity."},"properties":{"type":"object","properties":{"availabilityState":{"type":"string","description":"Management information availability state for the app.","readOnly":true,"enum":["Normal","Limited","DisasterRecoveryMode"]},"clientAffinityEnabled":{"type":"boolean","description":"<code>true</code> to enable client affinity; <code>false</code> to stop sending session affinity cookies, which route client requests in the same session to the same instance. Default is <code>true</code>."},"clientCertEnabled":{"type":"boolean","description":"<code>true</code> to enable client certificate authentication (TLS mutual authentication); otherwise, <code>false</code>. Default is <code>false</code>."},"clientCertExclusionPaths":{"type":"string","description":"client certificate authentication comma-separated exclusion paths"},"cloningInfo":{"required":["sourceWebAppId"],"type":"object","properties":{"appSettingsOverrides":{"type":"object","additionalProperties":{"type":"string"},"description":"Application setting overrides for cloned app. If specified, these settings override the settings cloned \nfrom source app. Otherwise, application settings from source app are retained."},"cloneCustomHostNames":{"type":"boolean","description":"<code>true</code> to clone custom hostnames from source app; otherwise, <code>false</code>."},"cloneSourceControl":{"type":"boolean","description":"<code>true</code> to clone source control from source app; otherwise, <code>false</code>."},"configureLoadBalancing":{"type":"boolean","description":"<code>true</code> to configure load balancing for source and destination app."},"correlationId":{"type":"string","description":"Correlation ID of cloning operation. This ID ties multiple cloning operations\ntogether to use the same snapshot.","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"hostingEnvironment":{"type":"string","description":"App Service Environment."},"overwrite":{"type":"boolean","description":"<code>true</code> to overwrite destination app; otherwise, <code>false</code>."},"sourceWebAppId":{"type":"string","description":"ARM resource ID of the source app. App resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName} for production slots and \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slotName} for other slots."},"sourceWebAppLocation":{"type":"string","description":"Location of source app ex: West US or North Europe"},"trafficManagerProfileId":{"type":"string","description":"ARM resource ID of the Traffic Manager profile to use, if it exists. Traffic Manager resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{profileName}."},"trafficManagerProfileName":{"type":"string","description":"Name of Traffic Manager profile to create. This is only needed if Traffic Manager profile does not already exist."}},"description":"Information needed for cloning operation."},"containerSize":{"type":"integer","description":"Size of the function container.","format":"int32"},"dailyMemoryTimeQuota":{"type":"integer","description":"Maximum allowed daily memory-time quota (applicable on dynamic apps only).","format":"int32"},"defaultHostName":{"type":"string","description":"Default hostname of the app. Read-only.","readOnly":true},"enabled":{"type":"boolean","description":"<code>true</code> if the app is enabled; otherwise, <code>false</code>. Setting this value to false disables the app (takes the app offline)."},"enabledHostNames":{"type":"array","description":"Enabled hostnames for the app.Hostnames need to be assigned (see HostNames) AND enabled. Otherwise,\nthe app is not served on those hostnames.","readOnly":true,"items":{"type":"string"}},"geoDistributions":{"type":"array","description":"GeoDistributions for this site","items":{"type":"object","properties":{"location":{"type":"string","description":"Location."},"numberOfWorkers":{"type":"integer","description":"NumberOfWorkers.","format":"int32"}},"description":"A global distribution definition."}},"hostNameSslStates":{"type":"array","description":"Hostname SSL states are used to manage the SSL bindings for app's hostnames.","items":{"type":"object","properties":{"hostType":{"type":"string","description":"Indicates whether the hostname is a standard or repository hostname.","enum":["Standard","Repository"]},"name":{"type":"string","description":"Hostname."},"sslState":{"type":"string","description":"SSL type.","enum":["Disabled","SniEnabled","IpBasedEnabled"]},"thumbprint":{"type":"string","description":"SSL certificate thumbprint."},"toUpdate":{"type":"boolean","description":"Set to <code>true</code> to update existing hostname."},"virtualIP":{"type":"string","description":"Virtual IP address assigned to the hostname if IP based SSL is enabled."}},"description":"SSL-enabled hostname."}},"hostNames":{"type":"array","description":"Hostnames associated with the app.","readOnly":true,"items":{"type":"string"}},"hostNamesDisabled":{"type":"boolean","description":"<code>true</code> to disable the public hostnames of the app; otherwise, <code>false</code>.\n If <code>true</code>, the app is only accessible via API management process."},"hostingEnvironmentProfile":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID of the App Service Environment."},"name":{"type":"string","description":"Name of the App Service Environment.","readOnly":true},"type":{"type":"string","description":"Resource type of the App Service Environment.","readOnly":true}},"description":"Specification for an App Service Environment to use for this resource."},"httpsOnly":{"type":"boolean","description":"HttpsOnly: configures a web site to accept only https requests. Issues redirect for\nhttp requests"},"hyperV":{"type":"boolean","description":"Hyper-V sandbox.","default":false},"inProgressOperationId":{"type":"string","description":"Specifies an operation id if this site has a pending operation.","format":"uuid","readOnly":true,"example":"00000000-0000-0000-0000-000000000000"},"isDefaultContainer":{"type":"boolean","description":"<code>true</code> if the app is a default container; otherwise, <code>false</code>.","readOnly":true},"isXenon":{"type":"boolean","description":"Obsolete: Hyper-V sandbox.","default":false},"lastModifiedTimeUtc":{"type":"string","description":"Last time the app was modified, in UTC. Read-only.","format":"date-time","readOnly":true},"maxNumberOfWorkers":{"type":"integer","description":"Maximum number of workers.\nThis only applies to Functions container.","format":"int32","readOnly":true},"outboundIpAddresses":{"type":"string","description":"List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from tenants that site can be hosted with current settings. Read-only.","readOnly":true},"possibleOutboundIpAddresses":{"type":"string","description":"List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from all tenants. Read-only.","readOnly":true},"redundancyMode":{"type":"string","description":"Site redundancy mode","enum":["None","Manual","Failover","ActiveActive","GeoRedundant"]},"repositorySiteName":{"type":"string","description":"Name of the repository site.","readOnly":true},"reserved":{"type":"boolean","description":"<code>true</code> if reserved; otherwise, <code>false</code>.","default":false},"resourceGroup":{"type":"string","description":"Name of the resource group the app belongs to. Read-only.","readOnly":true},"scmSiteAlsoStopped":{"type":"boolean","description":"<code>true</code> to stop SCM (KUDU) site when the app is stopped; otherwise, <code>false</code>. The default is <code>false</code>.","default":false},"serverFarmId":{"type":"string","description":"Resource ID of the associated App Service plan, formatted as: \"/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}\"."},"siteConfig":{"type":"object","properties":{"alwaysOn":{"type":"boolean","description":"<code>true</code> if Always On is enabled; otherwise, <code>false</code>."},"apiDefinition":{"type":"object","properties":{"url":{"type":"string","description":"The URL of the API definition."}},"description":"Information about the formal API definition for the app."},"appCommandLine":{"type":"string","description":"App command line to launch."},"appSettings":{"type":"array","description":"Application settings.","items":{"type":"object","properties":{"name":{"type":"string","description":"Pair name."},"value":{"type":"string","description":"Pair value."}},"description":"Name value pair."}},"autoHealEnabled":{"type":"boolean","description":"<code>true</code> if Auto Heal is enabled; otherwise, <code>false</code>."},"autoHealRules":{"type":"object","properties":{"actions":{"type":"object","properties":{"actionType":{"type":"string","description":"Predefined action to be taken.","enum":["Recycle","LogEvent","CustomAction"]},"customAction":{"type":"object","properties":{"exe":{"type":"string","description":"Executable to be run."},"parameters":{"type":"string","description":"Parameters for the executable."}},"description":"Custom action to be executed\nwhen an auto heal rule is triggered."},"minProcessExecutionTime":{"type":"string","description":"Minimum time the process must execute\nbefore taking the action"}},"description":"Actions which to take by the auto-heal module when a rule is triggered."},"triggers":{"type":"object","properties":{"privateBytesInKB":{"type":"integer","description":"A rule based on private bytes.","format":"int32"},"requests":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."}},"description":"Trigger based on total requests."},"slowRequests":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."},"timeTaken":{"type":"string","description":"Time taken."}},"description":"Trigger based on request execution time."},"statusCodes":{"type":"array","description":"A rule based on status codes.","items":{"type":"object","properties":{"count":{"type":"integer","description":"Request Count.","format":"int32"},"status":{"type":"integer","description":"HTTP status code.","format":"int32"},"subStatus":{"type":"integer","description":"Request Sub Status.","format":"int32"},"timeInterval":{"type":"string","description":"Time interval."},"win32Status":{"type":"integer","description":"Win32 error code.","format":"int32"}},"description":"Trigger based on status code."}}},"description":"Triggers for auto-heal."}},"description":"Rules that can be defined for auto-heal."},"autoSwapSlotName":{"type":"string","description":"Auto-swap slot name."},"azureStorageAccounts":{"type":"object","additionalProperties":{"type":"object","properties":{"accessKey":{"type":"string","description":"Access key for the storage account."},"accountName":{"type":"string","description":"Name of the storage account."},"mountPath":{"type":"string","description":"Path to mount the storage within the site's runtime environment."},"shareName":{"type":"string","description":"Name of the file share (container name, for Blob storage)."},"state":{"type":"string","description":"State of the storage account.","readOnly":true,"enum":["Ok","InvalidCredentials","InvalidShare"]},"type":{"type":"string","description":"Type of storage.","enum":["AzureFiles","AzureBlob"]}},"description":"Azure Files or Blob Storage access information value for dictionary storage."},"description":"User-provided Azure storage accounts."},"connectionStrings":{"type":"array","description":"Connection strings.","items":{"type":"object","properties":{"connectionString":{"type":"string","description":"Connection string value."},"name":{"type":"string","description":"Name of connection string."},"type":{"type":"string","description":"Type of database.","enum":["MySql","SQLServer","SQLAzure","Custom","NotificationHub","ServiceBus","EventHub","ApiHub","DocDb","RedisCache","PostgreSQL"]}},"description":"Database connection string information."}},"cors":{"type":"object","properties":{"allowedOrigins":{"type":"array","description":"Gets or sets the list of origins that should be allowed to make cross-origin\ncalls (for example: http://example.com:12345). Use \"*\" to allow all.","items":{"type":"string"}},"supportCredentials":{"type":"boolean","description":"Gets or sets whether CORS requests with credentials are allowed. See \nhttps://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Requests_with_credentials\nfor more details."}},"description":"Cross-Origin Resource Sharing (CORS) settings for the app."},"defaultDocuments":{"type":"array","description":"Default documents.","items":{"type":"string"}},"detailedErrorLoggingEnabled":{"type":"boolean","description":"<code>true</code> if detailed error logging is enabled; otherwise, <code>false</code>."},"documentRoot":{"type":"string","description":"Document root."},"experiments":{"type":"object","properties":{"rampUpRules":{"type":"array","description":"List of ramp-up rules.","items":{"type":"object","properties":{"actionHostName":{"type":"string","description":"Hostname of a slot to which the traffic will be redirected if decided to. E.g. myapp-stage.azurewebsites.net."},"changeDecisionCallbackUrl":{"type":"string","description":"Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified. See TiPCallback site extension for the scaffold and contracts.\nhttps://www.siteextensions.net/packages/TiPCallback/"},"changeIntervalInMinutes":{"type":"integer","description":"Specifies interval in minutes to reevaluate ReroutePercentage.","format":"int32"},"changeStep":{"type":"number","description":"In auto ramp up scenario this is the step to add/remove from <code>ReroutePercentage</code> until it reaches \n<code>MinReroutePercentage</code> or <code>MaxReroutePercentage</code>. Site metrics are checked every N minutes specified in <code>ChangeIntervalInMinutes</code>.\nCustom decision algorithm can be provided in TiPCallback site extension which URL can be specified in <code>ChangeDecisionCallbackUrl</code>.","format":"double"},"maxReroutePercentage":{"type":"number","description":"Specifies upper boundary below which ReroutePercentage will stay.","format":"double"},"minReroutePercentage":{"type":"number","description":"Specifies lower boundary above which ReroutePercentage will stay.","format":"double"},"name":{"type":"string","description":"Name of the routing rule. The recommended name would be to point to the slot which will receive the traffic in the experiment."},"reroutePercentage":{"type":"number","description":"Percentage of the traffic which will be redirected to <code>ActionHostName</code>.","format":"double"}},"description":"Routing rules for ramp up testing. This rule allows to redirect static traffic % to a slot or to gradually change routing % based on performance."}}},"description":"Routing rules in production experiments."},"ftpsState":{"type":"string","description":"State of FTP / FTPS service","enum":["AllAllowed","FtpsOnly","Disabled"]},"handlerMappings":{"type":"array","description":"Handler mappings.","items":{"type":"object","properties":{"arguments":{"type":"string","description":"Command-line arguments to be passed to the script processor."},"extension":{"type":"string","description":"Requests with this extension will be handled using the specified FastCGI application."},"scriptProcessor":{"type":"string","description":"The absolute path to the FastCGI application."}},"description":"The IIS handler mappings used to define which handler processes HTTP requests with certain extension. \nFor example, it is used to configure php-cgi.exe process to handle all HTTP requests with *.php extension."}},"http20Enabled":{"type":"boolean","description":"Http20Enabled: configures a web site to allow clients to connect over http2.0","default":true},"httpLoggingEnabled":{"type":"boolean","description":"<code>true</code> if HTTP logging is enabled; otherwise, <code>false</code>."},"ipSecurityRestrictions":{"type":"array","description":"IP security restrictions for main.","items":{"type":"object","properties":{"action":{"type":"string","description":"Allow or Deny access for this IP range."},"description":{"type":"string","description":"IP restriction rule description."},"ipAddress":{"type":"string","description":"IP address the security restriction is valid for.\nIt can be in form of pure ipv4 address (required SubnetMask property) or\nCIDR notation such as ipv4/mask (leading bit match). For CIDR,\nSubnetMask property must not be specified."},"name":{"type":"string","description":"IP restriction rule name."},"priority":{"type":"integer","description":"Priority of IP restriction rule.","format":"int32"},"subnetMask":{"type":"string","description":"Subnet mask for the range of IP addresses the restriction is valid for."},"subnetTrafficTag":{"type":"integer","description":"(internal) Subnet traffic tag","format":"int32"},"tag":{"type":"string","description":"Defines what this IP filter will be used for. This is to support IP filtering on proxies.","enum":["Default","XffProxy"]},"vnetSubnetResourceId":{"type":"string","description":"Virtual network resource id"},"vnetTrafficTag":{"type":"integer","description":"(internal) Vnet traffic tag","format":"int32"}},"description":"IP security restriction on an app."}},"javaContainer":{"type":"string","description":"Java container."},"javaContainerVersion":{"type":"string","description":"Java container version."},"javaVersion":{"type":"string","description":"Java version."},"limits":{"type":"object","properties":{"maxDiskSizeInMb":{"type":"integer","description":"Maximum allowed disk size usage in MB.","format":"int64"},"maxMemoryInMb":{"type":"integer","description":"Maximum allowed memory usage in MB.","format":"int64"},"maxPercentageCpu":{"type":"number","description":"Maximum allowed CPU usage percentage.","format":"double"}},"description":"Metric limits set on an app."},"linuxFxVersion":{"type":"string","description":"Linux App Framework and version"},"loadBalancing":{"type":"string","description":"Site load balancing.","enum":["WeightedRoundRobin","LeastRequests","LeastResponseTime","WeightedTotalTraffic","RequestHash"]},"localMySqlEnabled":{"type":"boolean","description":"<code>true</code> to enable local MySQL; otherwise, <code>false</code>.","default":false},"logsDirectorySizeLimit":{"type":"integer","description":"HTTP logs directory size limit.","format":"int32"},"machineKey":{"type":"object","properties":{"decryption":{"type":"string","description":"Algorithm used for decryption."},"decryptionKey":{"type":"string","description":"Decryption key."},"validation":{"type":"string","description":"MachineKey validation."},"validationKey":{"type":"string","description":"Validation key."}},"description":"MachineKey of an app."},"managedPipelineMode":{"type":"string","description":"Managed pipeline mode.","enum":["Integrated","Classic"]},"managedServiceIdentityId":{"type":"integer","description":"Managed Service Identity Id","format":"int32"},"minTlsVersion":{"type":"string","description":"MinTlsVersion: configures the minimum version of TLS required for SSL requests","enum":["1.0","1.1","1.2"]},"netFrameworkVersion":{"type":"string","description":".NET Framework version.","default":"v4.6"},"nodeVersion":{"type":"string","description":"Version of Node.js."},"numberOfWorkers":{"type":"integer","description":"Number of workers.","format":"int32"},"phpVersion":{"type":"string","description":"Version of PHP."},"publishingUsername":{"type":"string","description":"Publishing user name."},"push":{"type":"object","properties":{"properties":{"required":["isPushEnabled"],"type":"object","properties":{"dynamicTagsJson":{"type":"string","description":"Gets or sets a JSON string containing a list of dynamic tags that will be evaluated from user claims in the push registration endpoint."},"isPushEnabled":{"type":"boolean","description":"Gets or sets a flag indicating whether the Push endpoint is enabled."},"tagWhitelistJson":{"type":"string","description":"Gets or sets a JSON string containing a list of tags that are whitelisted for use by the push registration endpoint."},"tagsRequiringAuth":{"type":"string","description":"Gets or sets a JSON string containing a list of tags that require user authentication to be used in the push registration endpoint.\nTags can consist of alphanumeric characters and the following:\n'_', '@', '#', '.', ':', '-'. \nValidation should be performed at the PushRequestHandler."}},"description":"PushSettings resource specific properties"}},"description":"Push settings for the App."},"pythonVersion":{"type":"string","description":"Version of Python."},"remoteDebuggingEnabled":{"type":"boolean","description":"<code>true</code> if remote debugging is enabled; otherwise, <code>false</code>."},"remoteDebuggingVersion":{"type":"string","description":"Remote debugging version."},"requestTracingEnabled":{"type":"boolean","description":"<code>true</code> if request tracing is enabled; otherwise, <code>false</code>."},"requestTracingExpirationTime":{"type":"string","description":"Request tracing expiration time.","format":"date-time"},"reservedInstanceCount":{"maximum":10,"minimum":0,"type":"integer","description":"Number of reserved instances.\nThis setting only applies to the Consumption Plan","format":"int32"},"scmIpSecurityRestrictions":{"type":"array","description":"IP security restrictions for scm.","items":{"type":"object","properties":{"action":{"type":"string","description":"Allow or Deny access for this IP range."},"description":{"type":"string","description":"IP restriction rule description."},"ipAddress":{"type":"string","description":"IP address the security restriction is valid for.\nIt can be in form of pure ipv4 address (required SubnetMask property) or\nCIDR notation such as ipv4/mask (leading bit match). For CIDR,\nSubnetMask property must not be specified."},"name":{"type":"string","description":"IP restriction rule name."},"priority":{"type":"integer","description":"Priority of IP restriction rule.","format":"int32"},"subnetMask":{"type":"string","description":"Subnet mask for the range of IP addresses the restriction is valid for."},"subnetTrafficTag":{"type":"integer","description":"(internal) Subnet traffic tag","format":"int32"},"tag":{"type":"string","description":"Defines what this IP filter will be used for. This is to support IP filtering on proxies.","enum":["Default","XffProxy"]},"vnetSubnetResourceId":{"type":"string","description":"Virtual network resource id"},"vnetTrafficTag":{"type":"integer","description":"(internal) Vnet traffic tag","format":"int32"}},"description":"IP security restriction on an app."}},"scmIpSecurityRestrictionsUseMain":{"type":"boolean","description":"IP security restrictions for scm to use main."},"scmType":{"type":"string","description":"SCM type.","enum":["None","Dropbox","Tfs","LocalGit","GitHub","CodePlexGit","CodePlexHg","BitbucketGit","BitbucketHg","ExternalGit","ExternalHg","OneDrive","VSO"]},"tracingOptions":{"type":"string","description":"Tracing options."},"use32BitWorkerProcess":{"type":"boolean","description":"<code>true</code> to use 32-bit worker process; otherwise, <code>false</code>."},"virtualApplications":{"type":"array","description":"Virtual applications.","items":{"type":"object","properties":{"physicalPath":{"type":"string","description":"Physical path."},"preloadEnabled":{"type":"boolean","description":"<code>true</code> if preloading is enabled; otherwise, <code>false</code>."},"virtualDirectories":{"type":"array","description":"Virtual directories for virtual application.","items":{"type":"object","properties":{"physicalPath":{"type":"string","description":"Physical path."},"virtualPath":{"type":"string","description":"Path to virtual application."}},"description":"Directory for virtual application."}},"virtualPath":{"type":"string","description":"Virtual path."}},"description":"Virtual application in an app."}},"vnetName":{"type":"string","description":"Virtual Network name."},"webSocketsEnabled":{"type":"boolean","description":"<code>true</code> if WebSocket is enabled; otherwise, <code>false</code>."},"windowsFxVersion":{"type":"string","description":"Xenon App Framework and version"},"xManagedServiceIdentityId":{"type":"integer","description":"Explicit Managed Service Identity Id","format":"int32"}},"description":"Configuration of an App Service app."},"slotSwapStatus":{"type":"object","properties":{"destinationSlotName":{"type":"string","description":"The destination slot of the last swap operation.","readOnly":true},"sourceSlotName":{"type":"string","description":"The source slot of the last swap operation.","readOnly":true},"timestampUtc":{"type":"string","description":"The time the last successful slot swap completed.","format":"date-time","readOnly":true}},"description":"The status of the last successful slot swap operation."},"state":{"type":"string","description":"Current state of the app.","readOnly":true},"suspendedTill":{"type":"string","description":"App suspended till in case memory-time quota is exceeded.","format":"date-time","readOnly":true},"targetSwapSlot":{"type":"string","description":"Specifies which deployment slot this app will swap into. Read-only.","readOnly":true},"trafficManagerHostNames":{"type":"array","description":"Azure Traffic Manager hostnames associated with the app. Read-only.","readOnly":true,"items":{"type":"string"}},"usageState":{"type":"string","description":"State indicating whether the app has exceeded its quota usage. Read-only.","readOnly":true,"enum":["Normal","Exceeded"]}},"description":"Site resource specific properties"}},"description":"A web app, a mobile app backend, or an API app.","allOf":[{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id.","readOnly":true},"kind":{"type":"string","description":"Kind of resource."},"location":{"type":"string","description":"Resource Location."},"name":{"type":"string","description":"Resource Name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Azure resource. This resource is tracked in Azure Resource Manager"}]}}},"required":true},"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"object","description":"A web app, a mobile app backend, or an API app."}}}},"202":{"description":"Asynchronous operation in progress.","content":{"application/json":{"schema":{"type":"object","description":"A web app, a mobile app backend, or an API app."}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}},"delete":{"tags":["WebApps"],"summary":"Deletes a web, mobile, or API app, or one of the deployment slots.","description":"Deletes a web, mobile, or API app, or one of the deployment slots.","operationId":"WebApps_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the app to delete.","required":true,"schema":{"type":"string"}},{"name":"deleteMetrics","in":"query","description":"If true, web app metrics are also deleted.","schema":{"type":"boolean"}},{"name":"deleteEmptyServerFarm","in":"query","description":"Specify false if you want to keep empty App Service plan. By default, empty App Service plan is deleted.","schema":{"type":"boolean"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted web app."},"204":{"description":"Successfully deleted web app."},"404":{"description":"Web app not found."}}},"patch":{"tags":["WebApps"],"summary":"Creates a new web, mobile, or API app in an existing resource group, or updates an existing app.","description":"Creates a new web, mobile, or API app in an existing resource group, or updates an existing app.","operationId":"WebApps_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Unique name of the app to create or update. To create or update a deployment slot, use the {slot} parameter.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"A JSON representation of the app properties. See example.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SitePatchResource"}}},"required":true},"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"object","description":"A web app, a mobile app backend, or an API app."}}}},"202":{"description":"Asynchronous operation in progress.","content":{"application/json":{"schema":{"type":"object","description":"A web app, a mobile app backend, or an API app."}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/analyzeCustomHostname":{"get":{"tags":["WebApps"],"summary":"Analyze a custom hostname.","description":"Analyze a custom hostname.","operationId":"WebApps_AnalyzeCustomHostname","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of web app.","required":true,"schema":{"type":"string"}},{"name":"hostName","in":"query","description":"Custom hostname.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomHostnameAnalysisResult"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Standardized string to programmatically identify the error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Detailed errors.","readOnly":true}},"innererror":{"type":"string","description":"More information to debug error.","readOnly":true},"message":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true},"target":{"type":"string","description":"Detailed error description and debugging information.","readOnly":true}},"description":"Error model.","readOnly":true}},"description":"App Service error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/applySlotConfig":{"post":{"tags":["WebApps"],"summary":"Applies the configuration settings from the target slot onto the current slot.","description":"Applies the configuration settings from the target slot onto the current slot.","operationId":"WebApps_ApplySlotConfigToProduction","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the app.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"JSON object that contains the target slot name. See example.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CsmSlotEntity"}}},"required":true},"responses":{"200":{"description":"OK."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backup":{"post":{"tags":["WebApps"],"summary":"Creates a backup of an app.","description":"Creates a backup of an app.","operationId":"WebApps_Backup","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group to which the resource belongs.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+[^\\.]$","type":"string"}},{"name":"name","in":"path","description":"Name of the app.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Backup configuration. You can use the JSON response from the POST action as input here.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackupItem"}}}},"default":{"description":"App Service error response.","content":{"application/json":{"schema":{"typ
[...]
