{"openapi":"3.0.1","info":{"title":"Deep Art Effects","version":"2017-02-10T16:24:46Z"},"servers":[{"url":"https://api.deeparteffects.com/v1"}],"paths":{"/noauth/result":{"get":{"parameters":[{"name":"submissionId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Result"}}}},"400":{"description":"400 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"api_key":null}]}},"/noauth/styles":{"get":{"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Styles"}}}}},"security":[{"api_key":null}]}},"/noauth/upload":{"post":{"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadRequest"}}},"required":true},"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadResponse"}}}},"400":{"description":"400 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"api_key":null}]}}},"components":{"schemas":{"Empty":{"title":"Empty Schema","type":"object"},"Error":{"title":"Error Schema","type":"object","properties":{"message":{"type":"string"}}},"Result":{"title":"GetResult Schema","type":"object","properties":{"status":{"type":"string","description":"Submissiond status. Can be 'new', 'error', 'processing', 'finished'"},"url":{"type":"string","description":"Result url for the artwork"}}},"Style":{"title":"Style Schema","type":"object","properties":{"description":{"type":"string","description":"Style description"},"id":{"type":"string","description":"The unique identifier for a style"},"title":{"type":"string","description":"Style title"},"url":{"type":"string","description":"Style URL"}}},"Styles":{"title":"List Styles Schema","type":"object","properties":{"styles":{"type":"array","items":{"$ref":"#/components/schemas/Style"}}}},"UploadRequest":{"title":"Request schema for a submission","type":"object","properties":{"imageBase64Encoded":{"type":"string","description":"Base64 decoded image"},"imageSize":{"type":"integer","description":"Image size in px. Picture will be resized for processing."},"optimizeForPrint":{"type":"boolean","description":"Use this flag to get an artwork optimized for print."},"partnerId":{"type":"string","description":"The unique identifier for a partner with dedicated api access."},"styleId":{"type":"string","description":"The unique identifier for a style"},"useOriginalColors":{"type":"boolean","description":"Use this flag to use the original color from your photo for the artwork."}}},"UploadResponse":{"title":"Response Schema for upload request","type":"object","properties":{"submissionId":{"type":"string"}}}},"securitySchemes":{"api_key":{"type":"apiKey","name":"x-api-key","in":"header"},"sigv4":{"type":"apiKey","name":"Authorization","in":"header"}}}}