{"openapi":"3.0.1","info":{"title":"StorageManagementClient","description":"The Admin Storage Management Client.","version":"2015-12-01-preview"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/blobservices/{serviceType}":{"get":{"tags":["BlobServices"],"description":"Returns the BLOB service.","operationId":"BlobServices_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name.","required":true,"schema":{"type":"string"}},{"name":"farmId","in":"path","description":"Farm Id.","required":true,"schema":{"type":"string"}},{"name":"serviceType","in":"path","description":"The service type.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"api-version","in":"query","description":"REST Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- The BLOB service has been returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobService"}}}},"404":{"description":"NOT FOUND -- The specified farm was not found."}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/blobservices/{serviceType}/metricdefinitions":{"get":{"tags":["BlobServices"],"description":"Returns the list of metric definitions for BLOB service.","operationId":"BlobServices_ListMetricDefinitions","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name.","required":true,"schema":{"type":"string"}},{"name":"farmId","in":"path","description":"Farm Id.","required":true,"schema":{"type":"string"}},{"name":"serviceType","in":"path","description":"The service type.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"api-version","in":"query","description":"REST Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- The list of metric definitions for the BLOB service has been returned.","content":{"application/json":{"schema":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page.","readOnly":true},"value":{"type":"array","description":"List of metric definitions.","readOnly":true,"items":{"type":"object","properties":{"metricAvailabilities":{"type":"array","description":"Metric availabilities.","readOnly":true,"items":{"type":"object","properties":{"retention":{"type":"string","description":"Retention of metric."},"timeGrain":{"type":"string","description":"Time grain."}},"description":"Metric availability."}},"name":{"type":"object","properties":{"localizedValue":{"type":"string","description":"Localized value of the string."},"value":{"type":"string","description":"Value of the string."}},"description":"Localizable string."},"primaryAggregationType":{"type":"string","description":"Aggregate type.","readOnly":true,"enum":["None","Average","Total","Minimum","Maximum","Last"]},"unit":{"type":"string","description":"Metric unit.","enum":["Count","Bytes","Seconds","CountPerSecond","BytesPerSecond"]}},"description":"Metric definition."}}},"description":"Pageable list of metric definitions."}}}},"404":{"description":"NOT FOUND -- The specified farm was not found."}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/blobservices/{serviceType}/metrics":{"get":{"tags":["BlobServices"],"description":"Returns a list of metrics for BLOB service.","operationId":"BlobServices_ListMetrics","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name.","required":true,"schema":{"type":"string"}},{"name":"farmId","in":"path","description":"Farm Id.","required":true,"schema":{"type":"string"}},{"name":"serviceType","in":"path","description":"The service type.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"api-version","in":"query","description":"REST Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- The list of metrics has been returned.","content":{"application/json":{"schema":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page.","readOnly":true},"value":{"type":"array","description":"List of metrics.","readOnly":true,"items":{"type":"object","properties":{"endTime":{"type":"string","description":"Metric end time.","format":"date-time","readOnly":true},"metricUnit":{"type":"string","description":"Metric unit.","enum":["Count","Bytes","Seconds","CountPerSecond","BytesPerSecond"]},"metricValues":{"type":"array","description":"List of metric values.","readOnly":true,"items":{"type":"object","properties":{"average":{"type":"number","description":"Average value of metric.","format":"float","readOnly":true},"count":{"type":"integer","description":"Count of metric values.","format":"int32","readOnly":true},"maximum":{"type":"number","description":"Maximum value of metric.","format":"float","readOnly":true},"minimum":{"type":"number","description":"Minimum value of metric.","format":"float","readOnly":true},"properties":{"type":"string","description":"Metric value properties.","readOnly":true},"timeStamp":{"type":"string","description":"Timestamp of metric value.","format":"date-time","readOnly":true},"total":{"type":"number","description":"Total value of metric.","format":"float","readOnly":true}},"description":"Metric value."}},"name":{"type":"object","properties":{"localizedValue":{"type":"string","description":"Localized value of the string."},"value":{"type":"string","description":"Value of the string."}},"description":"Localizable string."},"startTime":{"type":"string","description":"Metric start time.","format":"date-time","readOnly":true},"timeGrain":{"type":"string","description":"Metric time grain.","readOnly":true}},"description":"Metric information."}}},"description":"Pageable list of metrics."}}}},"404":{"description":"NOT FOUND -- The specified farm was not found."}}}}},"components":{"schemas":{"BlobService":{"properties":{"properties":{"$ref":"#/components/schemas/BlobServiceProperties"}},"description":"The BLOB service.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource Name."},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type."}},"description":"Base resource object."}]},"BlobServiceProperties":{"properties":{"settings":{"$ref":"#/components/schemas/BlobServiceSettings"}},"description":"Blob service properties.","allOf":[{"type":"object","properties":{"healthStatus":{"type":"string","description":"Current health status.","readOnly":true,"enum":["Unknown","Healthy","Warning","Critical"]},"version":{"type":"string","description":"Storage service version."}},"description":"Storage service."}]},"BlobServiceSettings":{"description":"Blob service settings.","allOf":[{"$ref":"#/components/schemas/BlobServiceWritableSettings"}]},"BlobServiceWritableSettings":{"properties":{"blobSvcContainerGcInterval":{"type":"integer","description":"The interval, in seconds, of container garbage collection.","format":"int32","readOnly":true},"blobSvcShallowGcInterval":{"type":"integer","description":"The interval ,in seconds, of shallow garbage collection.","format":"int32","readOnly":true},"blobSvcStreamMapMinContainerOccupancyPercent":{"type":"integer","description":"The minimal container occupancy percent for stream mapping.","format":"int32","readOnly":true}},"description":"Settings of BLOB service.","allOf":[{"properties":{"frontEndHttpListenPort":{"type":"integer","description":"The HTTP port of the storage service front end.","format":"int32"},"frontEndHttpsListenPort":{"type":"integer","description":"The HTTPs port of the storage service front end.","format":"int32"}},"description":"Settings of storage services.","allOf":[{"type":"object","properties":{"frontEndCallbackThreadsCount":{"type":"integer","description":"Front end callback threads count.","format":"int32"},"frontEndCpuBasedKeepAliveThrottlingCpuMonitorIntervalInSeconds":{"type":"integer","description":"Interval (in second) of CPU monitor for front end CPU based keep-alive throttling.","format":"int32"},"frontEndCpuBasedKeepAliveThrottlingEnabled":{"type":"boolean","description":"Switch of front end CPU based keep-alive throttling."},"frontEndCpuBasedKeepAliveThrottlingPercentCpuThreshold":{"type":"number","description":"Threshold (% percentage) of front end CPU based keep-alive throttling.","format":"float"},"frontEndCpuBasedKeepAliveThrottlingPercentRequestsToThrottle":{"type":"number","description":"Threshold (% percentage) of requests to throttle in front end CPU based keep-alive throttling.","format":"float"},"frontEndMaxMillisecondsBetweenMemorySamples":{"type":"integer","description":"Maximum interval (in millisecond) between memory samples of front end.","format":"int32"},"frontEndMemoryThrottleThresholdSettings":{"type":"string","description":"Front end memory throttle threshold settings."},"frontEndMemoryThrottlingEnabled":{"type":"boolean","description":"Switch of front end memory throttling."},"frontEndMinThreadPoolThreads":{"type":"integer","description":"Front end minimum number of threads in thread pool.","format":"int32"},"frontEndThreadPoolBasedKeepAliveIOCompletionThreshold":{"type":"integer","description":"Threshold of front end thread pool based keep-alive IO completion.","format":"int32"},"frontEndThreadPoolBasedKeepAliveMonitorIntervalInSeconds":{"type":"integer","description":"Monitor interval (in seconds) of front end thread pool based keep-alive monitor.","format":"int32"},"frontEndThreadPoolBasedKeepAlivePercentage":{"type":"number","description":"Percentage (%) of front end thread pool based keep-alive.","format":"float"},"frontEndThreadPoolBasedKeepAliveWorkerThreadThreshold":{"type":"integer","description":"Threshold of front end thread pool based keep-alive worker thread.","format":"int32"},"frontEndUseSlaTimeInAvailability":{"type":"boolean","description":"Switch of whether front end uses SLA time in availability."}},"description":"Storage service settings."}]}]}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}