{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SubscriptionsManagementClient",
    "description" : "The Admin Subscriptions Management Client.",
    "version" : "2015-11-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/plans" : {
      "get" : {
        "tags" : [ "Plans" ],
        "description" : "List all plans across all subscriptions.",
        "operationId" : "Plans_ListAll",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PlanList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans" : {
      "get" : {
        "tags" : [ "Plans" ],
        "description" : "Get the list of plans under a resource group.",
        "operationId" : "Plans_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PlanList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}" : {
      "get" : {
        "tags" : [ "Plans" ],
        "description" : "Get the specified plan.",
        "operationId" : "Plans_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "plan",
          "in" : "path",
          "description" : "Name of the plan.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Plans" ],
        "description" : "Create or update the plan.",
        "operationId" : "Plans_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "plan",
          "in" : "path",
          "description" : "Name of the plan.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "requestBody" : {
          "description" : "New plan.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Plan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Plan"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Plans" ],
        "description" : "Delete the specified plan.",
        "operationId" : "Plans_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "plan",
          "in" : "path",
          "description" : "Name of the plan.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/metricDefinitions" : {
      "get" : {
        "tags" : [ "Plans" ],
        "description" : "Get the metric definitions of the specified plan.",
        "operationId" : "Plans_ListMetricDefinitions",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "plan",
          "in" : "path",
          "description" : "Name of the plan.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "List of metric definitions."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/metrics" : {
      "get" : {
        "tags" : [ "Plans" ],
        "description" : "Get the metrics of the specified plan.",
        "operationId" : "Plans_ListMetrics",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group the resource is located under.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "plan",
          "in" : "path",
          "description" : "Name of the plan.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "List of metrics."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Plan" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/PlanProperties"
          }
        },
        "description" : "A plan represents a package of quotas and capabilities that are offered tenants. A tenant can acquire this plan through an offer to upgrade his access to underlying cloud services.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource"
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key-value pairs.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base Resource Object"
        } ]
      },
      "PlanList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Continuation token"
          },
          "value" : {
            "type" : "array",
            "description" : "Array of plans.",
            "items" : {
              "$ref" : "#/components/schemas/Plan"
            }
          }
        },
        "description" : "List of plans"
      },
      "PlanProperties" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description of the plan."
          },
          "displayName" : {
            "type" : "string",
            "description" : "Display name."
          },
          "externalReferenceId" : {
            "type" : "string",
            "description" : "External reference identifier."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the plan."
          },
          "quotaIds" : {
            "type" : "array",
            "description" : "Quota identifiers under the plan.",
            "items" : {
              "type" : "string"
            }
          },
          "skuIds" : {
            "type" : "array",
            "description" : "SKU identifiers.",
            "items" : {
              "type" : "string"
            }
          },
          "subscriptionCount" : {
            "type" : "integer",
            "description" : "Subscription count."
          }
        },
        "description" : "Properties of a plan."
      }
    },
    "requestBodies" : {
      "NewPlanParameter" : {
        "description" : "New plan.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Plan"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 flow"
      }
    }
  }
}