{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkAdminManagementClient",
    "description" : "Virtual Network admin operation endpoints and objects.",
    "version" : "2015-06-15"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminVirtualNetworks" : {
      "get" : {
        "tags" : [ "VirtualNetworks" ],
        "description" : "Get a list of all virtual networks.",
        "operationId" : "VirtualNetworks_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-06-15"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter parameter.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderBy",
          "in" : "query",
          "description" : "OData orderBy parameter.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "OData top parameter.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "OData skip parameter.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$inlineCount",
          "in" : "query",
          "description" : "OData inline count parameter.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworksList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "VirtualNetwork" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/VirtualNetworkProperties"
          }
        },
        "description" : "This represents a virtual network.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Region location of resource.",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key value pairs."
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base Resource Object"
        } ]
      },
      "VirtualNetworkConfigurationState" : {
        "type" : "object",
        "properties" : {
          "hostErrors" : {
            "type" : "array",
            "description" : "List of NIC errors associated with the resource.",
            "items" : {
              "$ref" : "#/components/schemas/VirtualNetworkConfigurationStatus"
            }
          },
          "lastUpdatedTime" : {
            "type" : "string",
            "description" : "Last updated time for the running state.",
            "format" : "date-time",
            "readOnly" : true
          },
          "status" : {
            "type" : "string",
            "description" : "The virtual network status.",
            "readOnly" : true,
            "enum" : [ "Failure", "Warning", "Success", "Uninitialized", "InProgress", "Unknown" ]
          },
          "virtualNetworkInterfaceErrors" : {
            "type" : "array",
            "description" : "List of NIC errors associated with the resource.",
            "items" : {
              "$ref" : "#/components/schemas/VirtualNetworkConfigurationStatus"
            }
          }
        },
        "description" : "The virtual network configuration state."
      },
      "VirtualNetworkConfigurationStatus" : {
        "type" : "object",
        "properties" : {
          "lastUpdatedTime" : {
            "type" : "string",
            "description" : "Last updated time for the configuration status.",
            "format" : "date-time",
            "readOnly" : true
          },
          "status" : {
            "type" : "string",
            "description" : "The virtual network configuration status.",
            "readOnly" : true,
            "enum" : [ "Failure", "Warning", "Success", "Uninitialized", "InProgress", "Unknown" ]
          }
        },
        "description" : "Virtual network configuration status."
      },
      "VirtualNetworkProperties" : {
        "properties" : {
          "configurationState" : {
            "$ref" : "#/components/schemas/VirtualNetworkConfigurationState"
          }
        },
        "description" : "Properties of a virtual network.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "provisioningState" : {
              "type" : "string",
              "description" : "The provisioning state.",
              "readOnly" : true
            }
          },
          "description" : "Objects which have a provisioning state."
        }, {
          "type" : "object",
          "properties" : {
            "subscriptionId" : {
              "type" : "string",
              "description" : "The subscription ID.",
              "readOnly" : true
            },
            "tenantResourceUri" : {
              "type" : "string",
              "description" : "The tenant resource URI.",
              "readOnly" : true
            }
          },
          "description" : "These resources are utilized by a single tenant."
        } ]
      },
      "VirtualNetworksList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of virtual networks for this page.",
            "items" : {
              "$ref" : "#/components/schemas/VirtualNetwork"
            }
          }
        },
        "description" : "Pageable list of virtual networks."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 flow."
      }
    }
  }
}