{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "U.S. EPA Enforcement and Compliance History Online (ECHO) - Clean Air Act",
    "description" : "Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.\n\nAir Rest Services provides multiple service endpoints, each with specific capabilities, to search and retrieve data on facilities regulated under the Clean Air Act (CAA). The returned results reflect data drawn from EPA's ICIS-Air database.\n\nThe get_facilities, get_map, get_qid, and get_download end points are meant to be used together, while the enhanced get_facility_info end point is self contained.\nThe get_facility_info end point returns either an array of state, county or zip clusters with summary statistics per cluster or an array of facilities.\n\nThe recommended use scenario for get_facilities, get_qid, get_map, and get_downoad is:\n\n<b>1)</b>  Use get_facilities to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.\n<b>2)</b>  Use get_qid, with the returned QID, to paginate through arrays of facility results.\n<b>3)</b>  Use get_map, with the returned QID, to zoom in/out and pan on the clustered and individual facility coordinates that meet the QID query criteria.\n<b>4)</b>  Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of facility information that meets the QID query criteria.\n\nUse the qcolumns parameter to customize your search results.  Use the Metadata service endpoint for a list of available output objects, their Column Ids, and their definitions to help you build your customized output. \n\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>",
    "contact" : {
      "name" : "U.S. EPA, OECA Integration, Targeting and Access Branch",
      "url" : "https://echo.epa.gov/resources/general-info/contact-us"
    },
    "license" : {
      "name" : "U.S. Public Domain License",
      "url" : "https://edg.epa.gov/EPA_Data_License.html"
    },
    "version" : "2019.10.15"
  },
  "servers" : [ {
    "url" : "https://echodata.epa.gov/echo"
  } ],
  "paths" : {
    "/air_rest_services.get_download" : {
      "get" : {
        "tags" : [ "Facilities" ],
        "summary" : "Clean Air Act Download Data Service",
        "description" : "Based on the QID obtained from a get_facilities or get_facility_info query, return a comma sepated vaule (CSV) file of the facilities found.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- CSV = Facility results formatted as comma delimited file download (default).\n- GEOJSOND = Facility results formatted as GeoJSON feature collection download.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "qid",
          "in" : "query",
          "description" : "Query ID Selector.  Enter the QueryID number from a previously run query.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "qcolumns",
          "in" : "query",
          "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pretty_print",
          "in" : "query",
          "description" : "Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost.",
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file or a file containing a GeoJSON feature collection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Facilities" ],
        "summary" : "Clean Air Act Download Data Service",
        "description" : "Based on the QID obtained from a get_facilities or get_facility_info query, return a comma sepated vaule (CSV) file of the facilities found.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "qid" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- CSV = Facility results formatted as comma delimited file download (default).\n- GEOJSOND = Facility results formatted as GeoJSON feature collection download."
                  },
                  "qid" : {
                    "type" : "string",
                    "description" : "Query ID Selector.  Enter the QueryID number from a previously run query."
                  },
                  "qcolumns" : {
                    "type" : "string",
                    "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."
                  },
                  "p_pretty_print" : {
                    "type" : "number",
                    "description" : "Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file or a file containing a GeoJSON feature collection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/air_rest_services.get_facilities" : {
      "get" : {
        "tags" : [ "Facilities" ],
        "summary" : "Clean Air Act Facility Search",
        "description" : "Validates query search parameters and returns query identifier.  Use the responseset parameter to set the page size",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_fn",
          "in" : "query",
          "description" : "Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sa",
          "in" : "query",
          "description" : "Facility street address. Enter a complete or partial street address.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sa1",
          "in" : "query",
          "description" : "Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ct",
          "in" : "query",
          "description" : "Facility City Filter. Enter a single case-insensitive city name to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_co",
          "in" : "query",
          "description" : "Facility County Filter. Provide a single county name in combination with a state value provided via p_st.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fips",
          "in" : "query",
          "description" : "FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_st",
          "in" : "query",
          "description" : "Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_zip",
          "in" : "query",
          "description" : "5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_lcon",
          "in" : "query",
          "description" : "Air Program Local Control Region Code Filter.  Enter one or more local control region codes to filter results.  Provide multiple codes as a comma-delimited list.  Codes where they exist are specific by state.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_frs",
          "in" : "query",
          "description" : "Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_reg",
          "in" : "query",
          "description" : "EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.",
          "schema" : {
            "type" : "string",
            "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10" ]
          }
        }, {
          "name" : "p_sic",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ncs",
          "in" : "query",
          "description" : "North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_qnc",
          "in" : "query",
          "description" : "Number of quarters in non-compliance limiter.  Enter an integer value between 1 and 4 to limit results.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_pen",
          "in" : "query",
          "description" : "Last Penality Date Qualifier Filter.  Enter one of the following:   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for a facility with a penalty within previous 5 months.\n- GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_opst",
          "in" : "query",
          "description" : "Operating status filter.  Enter one or more operating status codes to limit results.   Provide multiple codes as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_c1lat",
          "in" : "query",
          "description" : "In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_c1lon",
          "in" : "query",
          "description" : "In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_c2lat",
          "in" : "query",
          "description" : "In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_c2lon",
          "in" : "query",
          "description" : "In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_usmex",
          "in" : "query",
          "description" : "US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_sic2",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing \"22\" to match all SIC codes beginning with 22.  Use the \"%\" character within strings to match any SIC values with the pattern.  For example, \"2%21\" matches 2021, 2121, 2221, etc.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sic4",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fa",
          "in" : "query",
          "description" : "Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_act",
          "in" : "query",
          "description" : "Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N", "A" ]
          }
        }, {
          "name" : "p_maj",
          "in" : "query",
          "description" : "Major Facility Flag.  Enter Y to restrict results to Major facilities only.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_mact",
          "in" : "query",
          "description" : "CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_nsps",
          "in" : "query",
          "description" : "Air Programl New Source Performance Standards (NSPS)  Subpart Code Search.  One or more valid Air Program NSPS Program codes cand be passed.  ",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_nspsm",
          "in" : "query",
          "description" : "Air Programl New Source Performance Standards Minors (NSPSM) Subpart Code Search.  One or more valid Air Program NSPSM Subpart codes can be passed.  ",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_prog",
          "in" : "query",
          "description" : "Air Program Code Filter.  Enter one or more Air program codes to filter results.  Provide multiple values as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fea",
          "in" : "query",
          "description" : "Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N" ]
          }
        }, {
          "name" : "p_feay",
          "in" : "query",
          "description" : "Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_feaa",
          "in" : "query",
          "description" : "Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All",
          "schema" : {
            "type" : "string",
            "enum" : [ "A", "E", "S" ]
          }
        }, {
          "name" : "p_iea",
          "in" : "query",
          "description" : "Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N" ]
          }
        }, {
          "name" : "p_ieay",
          "in" : "query",
          "description" : "Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_ieaa",
          "in" : "query",
          "description" : "Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State",
          "schema" : {
            "type" : "string",
            "enum" : [ "E", "S" ]
          }
        }, {
          "name" : "p_qiv",
          "in" : "query",
          "description" : "Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.",
          "schema" : {
            "type" : "string",
            "enum" : [ "0", "GT1", "GT2", "GT4", "GT8", "12" ]
          }
        }, {
          "name" : "p_naa",
          "in" : "query",
          "description" : "Non-Attainment Area Flag.  Enter a Y or N to filter for or against facilities flagged as non-attainment areas.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_impw",
          "in" : "query",
          "description" : "Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_trep",
          "in" : "query",
          "description" : "Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.\n- CURR = Current TRI reporter.\n- NONCURR = Has reported to TRI in the past but not for the current reporting year.",
          "schema" : {
            "type" : "string",
            "enum" : [ "CURR", "NOTCURR" ]
          }
        }, {
          "name" : "p_tri_cat",
          "in" : "query",
          "description" : "Toxic Release Inventory Released To Air Chemical Identifier Category Filter.  Enter the chemical identifier category code to limit results. Note when filtering by TRI chemical identifier categories one may not also filter by specific chemical identifiers via p_tri_pol.  You must also specify a release amount using p_tri_amt or p_tri_any_amt.\n- TOTAL = Total Released to Air\n- CARC = Total Carcinogens Released to Air\n- HAP = Total Hazardous Air Pollutants Released to Air",
          "schema" : {
            "type" : "string",
            "enum" : [ "TOTAL", "CARC", "HAP" ]
          }
        }, {
          "name" : "p_tri_amt",
          "in" : "query",
          "description" : "Toxic Release Inventory Release Amount Filter.  Enter a value in pounds to limit results to facilities releasing this amount or greateer of TRI releases.  Valid values are 0, GT0, GT1000, GT5000, GT10000 and GT50000. Note when filtering by TRI release amounts one may only use either p_tri_amt or p_tri_any_amt.",
          "schema" : {
            "type" : "string",
            "enum" : [ "0", "GT0", "GT1000", "GT5000", "GT10000", "GT50000" ]
          }
        }, {
          "name" : "p_tri_any_amt",
          "in" : "query",
          "description" : "Toxic Release Inventory Release Of Any Kind Above Value Filter.  Enter a value to limit results to facilities releasing this amount or more of TRI releases.  Note when filtering by TRI releases one may only use p_tri_any_amt or p_tri_amt and not both.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_tri_pol",
          "in" : "query",
          "description" : "Toxic Release Inventory Chemical Identifier Filter.  Enter one or more chemical identifier codes to limit results. Note when filtering by specific TRI chemical identifiers one may not also filter by chemical identifier categories via p_tri_cat.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ghg_cat",
          "in" : "query",
          "description" : "Green House Gas (GHG) Gas Code Category.  Must be used with either a formatted (p_ghg_amt) or custom (p_ghg_any_amt) release amount.",
          "schema" : {
            "type" : "string",
            "enum" : [ "ALL", "BIOCO2", "CH4", "CO2", "HFC", "N2O", "NF3", "OTHER_L", "PFC", "SF6" ]
          }
        }, {
          "name" : "p_ghg_amt",
          "in" : "query",
          "description" : "Green House Gas (GHG) CO2 Equivalent Formatted Release Amount.  First 2 characters must contain GT (greater than) followed by a number.",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "0", "GT0", "GT10000", "GT25000", "GT250000", "GT1000000" ]
          }
        }, {
          "name" : "p_ghg_any_amt",
          "in" : "query",
          "description" : "Green House Gas (GHG) C02 Equivalent Custom Amount.  The C02E value reported for the provided category, will be greater or equal to the amount provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_ghg_yr",
          "in" : "query",
          "description" : "Green House Gas (GHG) Reporting Year. (2010 through 2015)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_nei_pol",
          "in" : "query",
          "description" : "National Emissions Inventory (NEI) Pollutant Identifier.  When a pollutant identifer is entered a corresponding formatted amount or custom amount must be entered.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_nei_amt",
          "in" : "query",
          "description" : "National Emissions Inventory (NEI) Formatted Pollutant Amount.  A formatted value where the 1st two characters must start with GT or LT followed by a number.  Identifies facilities that have a NEI Pollutant Emission  where the supplied value is > or < the pollutant emission amount.  ",
          "schema" : {
            "type" : "string",
            "enum" : [ "None", "0", "GT0", "GT10000", "GT25000", "GT250000", "GT1000000" ]
          }
        }, {
          "name" : "p_nei_any_amt",
          "in" : "query",
          "description" : "National Emissions Inventory (NEI) Custom Pollutant Amount.  Only a number can be entered.  Identifies facilities with where the NEI Pollutant Emission Amount is greater than the number entered.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_nei_yr",
          "in" : "query",
          "description" : "National Emissions Inventory (NEI) year:  2014 or 2011",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_nei_cat",
          "in" : "query",
          "description" : "National Emissions Inventory (NEI) Pollutant Category.  When a pollutant category is entered, a corresponding formatted pollutant amount or custom amount must be entered.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pm",
          "in" : "query",
          "description" : "Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.\n- NONE = 0%\n- GT5 = greater than 5%\n- GT10 = greater than 10%\n- GT25 = greater than 25%\n- GT50 = greater than 50%\n- GT75 = greater than 75%",
          "schema" : {
            "type" : "string",
            "enum" : [ "NONE", "GT5", "GT10", "GT25", "GT50", "GT75" ]
          }
        }, {
          "name" : "p_pd",
          "in" : "query",
          "description" : "Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.\n- NONE = 0 population density per square mile\n- GT100 = More than 100 population density per square mile\n- GT500 = More than 500 population density per square mile\n- GT1000 = More than 1000 population density per square mile\n- GT5000 = More than 5000 population density per square mile\n- GT10000 = More than 10000 population density per square mile\n- GT20000 = More than 20000 population density per square mile",
          "schema" : {
            "type" : "string",
            "enum" : [ "NONE", "GT100", "GT500", "GT1000", "GT5000", "GT10000", "GT20000" ]
          }
        }, {
          "name" : "p_ico",
          "in" : "query",
          "description" : "Indian Country Flag.  Enter a \"Y\" or \"N\" to restrict searches to facilities inside or outside Indian Country.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_huc",
          "in" : "query",
          "description" : "2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_wbd",
          "in" : "query",
          "description" : "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pid",
          "in" : "query",
          "description" : "Nine-digit permit IDs. May contain up to 2000 comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_med",
          "in" : "query",
          "description" : "Filter Results by Media.\n- M = RMP (Risk Management Plan)\n- R = RCRA (Hazardous Waste)\n- S = SDWA (Public Drinking Water Systems)\n- W = Water\n- ALL = Water and RCRA and SDWA",
          "schema" : {
            "type" : "string",
            "enum" : [ "M", "R", "S", "W", "ALL" ]
          }
        }, {
          "name" : "p_ysl",
          "in" : "query",
          "description" : "Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N", "NV" ]
          }
        }, {
          "name" : "p_ysly",
          "in" : "query",
          "description" : "Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_ysla",
          "in" : "query",
          "description" : "Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State",
          "schema" : {
            "type" : "string",
            "enum" : [ "E", "S", "A" ]
          }
        }, {
          "name" : "p_stsl",
          "in" : "query",
          "description" : "Last Stack Test [within / not within] Specified Date Range Indicator.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N" ]
          }
        }, {
          "name" : "p_stsly",
          "in" : "query",
          "description" : "Number of years (1 to 5) since date of last stack test. A value of 1 means it has been inspected within the year.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_stsla",
          "in" : "query",
          "description" : "Stack Last Test Code Filter.  Enter a value to limit results:\n- A = All\n- E = EPA\n- S = State",
          "schema" : {
            "type" : "string",
            "enum" : [ "A", "E", "S" ]
          }
        }, {
          "name" : "p_stres",
          "in" : "query",
          "description" : "Air Stack Test Status Description Filter.  Enter one or more test status descriptions to filter results.  Enter multiple values as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sttyp",
          "in" : "query",
          "description" : "Air Conductor Type Code Filter.  Enter one or more conductor type codes to filter results.  Provide multiple values as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_qs",
          "in" : "query",
          "description" : "Quick Search. Allows entry for city, state, and/or zip code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sfs",
          "in" : "query",
          "description" : "Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_tribeid",
          "in" : "query",
          "description" : "Numeric code for tribe (or list of tribes).",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_tribename",
          "in" : "query",
          "description" : "Tribe Name Filter.  Enter a single tribe name to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_tribedist",
          "in" : "query",
          "description" : "Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_owop",
          "in" : "query",
          "description" : "Owner/Operator code filter.  Enter one or more codes to limit results.\n- CNG\n- COR\n- CTG\n- DIS\n- FDF\n- MWD\n- MXO\n- NON\n- POF\n- SDT\n- STF\n- TRB",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_agoo",
          "in" : "query",
          "description" : "Indicates whether to AND or OR the Owner/Operator parameter (p_owop) and the federal agency code (p_fa) parameters.",
          "schema" : {
            "type" : "string",
            "enum" : [ "AND", "OR" ]
          }
        }, {
          "name" : "p_idt1",
          "in" : "query",
          "description" : "Beginning of date range of most recent facility inspection.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_idt2",
          "in" : "query",
          "description" : "End of date range of most recent facility inspection.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_stdt1",
          "in" : "query",
          "description" : "Beginning of date range of most recent stack test.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_stdt2",
          "in" : "query",
          "description" : "End of date range of most recent stack test.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pityp",
          "in" : "query",
          "description" : "Inspection Type:\n- CAC = Corrective Action Inspection\n- CAV = Compliance Assistance Visit\n- CDI = Case Development Inspection\n- CEI = Inspection Inspection\n- CSE = Compliance Schedule Evaluation\n- FCI = Focused Compliance\n- FRR = Financial Record Review\n- FSD = Facility Self Disclosure\n- FUI = Follow-Up Inspection\n- GME = Groundwater Monitoring Evaluation\n- NRR = Non-Financial Record Review\n- OAM = Operation and Maintenance Inspection\nMay contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_cifdi",
          "in" : "query",
          "description" : "Compliance issuess found during inspection.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Any", "Yes", "No", "Undetermined" ]
          }
        }, {
          "name" : "p_pfead1",
          "in" : "query",
          "description" : "Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pfead2",
          "in" : "query",
          "description" : "Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pfeat",
          "in" : "query",
          "description" : "Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_psncq",
          "in" : "query",
          "description" : "Quarters in Significant Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of significant noncompliance.\n- Z = Zero quarters in significant noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in significant noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in significant noncompliance.",
          "schema" : {
            "type" : "string",
            "enum" : [ "GT1", "GE1", "GT2", "GE2", "GT4", "GE4", "GT8", "GE8", "GT12", "GE12" ]
          }
        }, {
          "name" : "p_pctrack",
          "in" : "query",
          "description" : "Compliance Tracking Limiter. Provide a keyword to indicate the extent to which data is being entered and effluent exceedances are being identified.\n- Off\n- Partial\n- On",
          "schema" : {
            "type" : "string",
            "enum" : [ "Off", "Partial", "On" ]
          }
        }, {
          "name" : "p_swpa",
          "in" : "query",
          "description" : "Source water protection area",
          "schema" : {
            "type" : "string",
            "enum" : [ "source water", "surface water", "ground water", "waiting for SSO" ]
          }
        }, {
          "name" : "p_des",
          "in" : "query",
          "description" : "Universe Designation Limiter.  Enter one or more universe designation codes.  Provide multiple values as a comma-delimited list.  Use code \"TSDF\" to return the full enforcement TSDF universe and \"Operating TSDF\" to return the operating TSDF universe.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fntype",
          "in" : "query",
          "description" : "Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = ",
          "schema" : {
            "type" : "string",
            "enum" : [ "ALL", "CONTAINS", "EXACT", "BEGINS" ]
          }
        }, {
          "name" : "p_hpvmth",
          "in" : "query",
          "description" : "Months in high priority violation status out of the previous three years limiter.  Provide a number of months in the past three years.  Results will limited to facilities in high priority violation status during that time. ",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_recvio",
          "in" : "query",
          "description" : "Recent Violation Status Filter.  Enter one or more recent violation codes to limit results.  Provide multiple values as a comma-delimited list.\n- NO VIOL = Selects facilities with no recent violations.\n- ANY HPV = Selects facilities with either addressed or unaddressed high priority violations.\n- ADDRS-EPA - Select facilities with recent EPA addressed violations.\n- ADDRS-LOCAL - Select facilities with recent locally addressed violations.\n- ADDRS-STATE - Select facilities with recent state addressed violations.\n- UNADDR-EPA - Select facilities with recent EPA unaddressed violations.\n- UNADDR-LOCAL - Select facilities with recent locally unaddressed violations.\n- UNADDR-STATE - Select facilities with recent state unaddressed violations.\n- FRV VIOL = Selects facilities with a recent federally reportable violation without a high priority violation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pollvio",
          "in" : "query",
          "description" : "Air Pollutant Code For A Recent Violation Filter.  Provide one or more pollutant codes to select facilities with one or more of the entered pollutant codes for a recent air violation.  Provide multiple values as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ar",
          "in" : "query",
          "description" : "Associated EPA Air Reports Program Filter.  Enter multiple values as a comma-delimited list.  Valid values are:\n- TRI = Toxic Release Inventory.\n- GHG = Green House Gas Reporter.\n- EIS = Emission Inventory System.\n- CAMD = Clean Air Markets Program Reporter.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_tri_yr",
          "in" : "query",
          "description" : "Toxic Release Inventory Reporting Year Filter.  Enter one or more year values to filter results by the TRI reporting year.  Provide multiple years as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pidall",
          "in" : "query",
          "description" : "Controls whether search is restricted to existing system. Y means the search will match the p_pid parameter against all associated permits (AIR, RCRA, SDWIS, etc).",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_fac_ico",
          "in" : "query",
          "description" : "FRS tribal land code flag.  Enter \"Y\" or \"N\" to include or exclude facilities based on FRS tribal land code.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_icoo",
          "in" : "query",
          "description" : "Indian country search and/or flag.  Enter \"Y\" to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fac_icos",
          "in" : "query",
          "description" : "FRS tribal land spatial flag.  Enter \"Y\" or \"N\" to include or exclude facilities based on FRS tribal land spatial flag.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ejscreen",
          "in" : "query",
          "description" : "Enter \"Y\" to limit facilities to Census block groups where one of more Environmental Justice indexes above 80th percentile.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_limit_addr",
          "in" : "query",
          "description" : "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  ",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_lat",
          "in" : "query",
          "description" : "Latitude location in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_long",
          "in" : "query",
          "description" : "Longitude location in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_radius",
          "in" : "query",
          "description" : "Spatial Search Radius.  Enter a radius up to 100 miles in which to spatially search for facilities.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_decouple",
          "in" : "query",
          "description" : "Decouple Inspection Code Search Flag.  Enter \"Y\" to search for inspection code types with p_pityp without respect to the date range search provided with p_ysl* parameters.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_ejscreen_over80cnt",
          "in" : "query",
          "description" : "The number of Environmenmt Justice Indicators above the 80th percentile.  Valid values are 1 through 11.",
          "schema" : {
            "type" : "string",
            "enum" : [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11" ]
          }
        }, {
          "name" : "queryset",
          "in" : "query",
          "description" : "Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "responseset",
          "in" : "query",
          "description" : "Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "tablelist",
          "in" : "query",
          "description" : "Table List Flag. Enter a Y to display the first page of facility results.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "maplist",
          "in" : "query",
          "description" : "Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "summarylist",
          "in" : "query",
          "description" : "Summary List Flag.  Enter a Y to return a list of summary statistics based on the parameters submitted to the query service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "qcolumns",
          "in" : "query",
          "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Results are summary statistics for the query and a query identifier (QID).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/air05"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/air05"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Facilities" ],
        "summary" : "Clean Air Act Facility Search",
        "description" : "Validates query search parameters and returns query identifier.  Use the responseset parameter to set the page size",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_fn" : {
                    "type" : "string",
                    "description" : "Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers."
                  },
                  "p_sa" : {
                    "type" : "string",
                    "description" : "Facility street address. Enter a complete or partial street address."
                  },
                  "p_sa1" : {
                    "type" : "string",
                    "description" : "Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa."
                  },
                  "p_ct" : {
                    "type" : "string",
                    "description" : "Facility City Filter. Enter a single case-insensitive city name to filter results."
                  },
                  "p_co" : {
                    "type" : "string",
                    "description" : "Facility County Filter. Provide a single county name in combination with a state value provided via p_st."
                  },
                  "p_fips" : {
                    "type" : "string",
                    "description" : "FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059."
                  },
                  "p_st" : {
                    "type" : "string",
                    "description" : "Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list."
                  },
                  "p_zip" : {
                    "type" : "string",
                    "description" : "5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values."
                  },
                  "p_lcon" : {
                    "type" : "string",
                    "description" : "Air Program Local Control Region Code Filter.  Enter one or more local control region codes to filter results.  Provide multiple codes as a comma-delimited list.  Codes where they exist are specific by state."
                  },
                  "p_frs" : {
                    "type" : "string",
                    "description" : "Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results."
                  },
                  "p_reg" : {
                    "type" : "string",
                    "description" : "EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.",
                    "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10" ]
                  },
                  "p_sic" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4."
                  },
                  "p_ncs" : {
                    "type" : "string",
                    "description" : "North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values."
                  },
                  "p_qnc" : {
                    "type" : "number",
                    "description" : "Number of quarters in non-compliance limiter.  Enter an integer value between 1 and 4 to limit results."
                  },
                  "p_pen" : {
                    "type" : "string",
                    "description" : "Last Penality Date Qualifier Filter.  Enter one of the following:   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for a facility with a penalty within previous 5 months.\n- GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago."
                  },
                  "p_opst" : {
                    "type" : "string",
                    "description" : "Operating status filter.  Enter one or more operating status codes to limit results.   Provide multiple codes as a comma-delimited list."
                  },
                  "p_c1lat" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_c1lon" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_c2lat" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_c2lon" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_usmex" : {
                    "type" : "string",
                    "description" : "US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_sic2" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing \"22\" to match all SIC codes beginning with 22.  Use the \"%\" character within strings to match any SIC values with the pattern.  For example, \"2%21\" matches 2021, 2121, 2221, etc."
                  },
                  "p_sic4" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker."
                  },
                  "p_fa" : {
                    "type" : "string",
                    "description" : "Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values."
                  },
                  "p_act" : {
                    "type" : "string",
                    "description" : "Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.",
                    "enum" : [ "Y", "N", "A" ]
                  },
                  "p_maj" : {
                    "type" : "string",
                    "description" : "Major Facility Flag.  Enter Y to restrict results to Major facilities only.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_mact" : {
                    "type" : "string",
                    "description" : "CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility."
                  },
                  "p_nsps" : {
                    "type" : "string",
                    "description" : "Air Programl New Source Performance Standards (NSPS)  Subpart Code Search.  One or more valid Air Program NSPS Program codes cand be passed.  "
                  },
                  "p_nspsm" : {
                    "type" : "string",
                    "description" : "Air Programl New Source Performance Standards Minors (NSPSM) Subpart Code Search.  One or more valid Air Program NSPSM Subpart codes can be passed.  "
                  },
                  "p_prog" : {
                    "type" : "string",
                    "description" : "Air Program Code Filter.  Enter one or more Air program codes to filter results.  Provide multiple values as a comma-delimited list."
                  },
                  "p_fea" : {
                    "type" : "string",
                    "description" : "Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N" ]
                  },
                  "p_feay" : {
                    "type" : "number",
                    "description" : "Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_feaa" : {
                    "type" : "string",
                    "description" : "Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All",
                    "enum" : [ "A", "E", "S" ]
                  },
                  "p_iea" : {
                    "type" : "string",
                    "description" : "Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N" ]
                  },
                  "p_ieay" : {
                    "type" : "number",
                    "description" : "Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_ieaa" : {
                    "type" : "string",
                    "description" : "Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State",
                    "enum" : [ "E", "S" ]
                  },
                  "p_qiv" : {
                    "type" : "string",
                    "description" : "Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.",
                    "enum" : [ "0", "GT1", "GT2", "GT4", "GT8", "12" ]
                  },
                  "p_naa" : {
                    "type" : "string",
                    "description" : "Non-Attainment Area Flag.  Enter a Y or N to filter for or against facilities flagged as non-attainment areas."
                  },
                  "p_impw" : {
                    "type" : "string",
                    "description" : "Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_trep" : {
                    "type" : "string",
                    "description" : "Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.\n- CURR = Current TRI reporter.\n- NONCURR = Has reported to TRI in the past but not for the current reporting year.",
                    "enum" : [ "CURR", "NOTCURR" ]
                  },
                  "p_tri_cat" : {
                    "type" : "string",
                    "description" : "Toxic Release Inventory Released To Air Chemical Identifier Category Filter.  Enter the chemical identifier category code to limit results. Note when filtering by TRI chemical identifier categories one may not also filter by specific chemical identifiers via p_tri_pol.  You must also specify a release amount using p_tri_amt or p_tri_any_amt.\n- TOTAL = Total Released to Air\n- CARC = Total Carcinogens Released to Air\n- HAP = Total Hazardous Air Pollutants Released to Air",
                    "enum" : [ "TOTAL", "CARC", "HAP" ]
                  },
                  "p_tri_amt" : {
                    "type" : "string",
                    "description" : "Toxic Release Inventory Release Amount Filter.  Enter a value in pounds to limit results to facilities releasing this amount or greateer of TRI releases.  Valid values are 0, GT0, GT1000, GT5000, GT10000 and GT50000. Note when filtering by TRI release amounts one may only use either p_tri_amt or p_tri_any_amt.",
                    "enum" : [ "0", "GT0", "GT1000", "GT5000", "GT10000", "GT50000" ]
                  },
                  "p_tri_any_amt" : {
                    "type" : "number",
                    "description" : "Toxic Release Inventory Release Of Any Kind Above Value Filter.  Enter a value to limit results to facilities releasing this amount or more of TRI releases.  Note when filtering by TRI releases one may only use p_tri_any_amt or p_tri_amt and not both."
                  },
                  "p_tri_pol" : {
                    "type" : "string",
                    "description" : "Toxic Release Inventory Chemical Identifier Filter.  Enter one or more chemical identifier codes to limit results. Note when filtering by specific TRI chemical identifiers one may not also filter by chemical identifier categories via p_tri_cat."
                  },
                  "p_ghg_cat" : {
                    "type" : "string",
                    "description" : "Green House Gas (GHG) Gas Code Category.  Must be used with either a formatted (p_ghg_amt) or custom (p_ghg_any_amt) release amount.",
                    "enum" : [ "ALL", "BIOCO2", "CH4", "CO2", "HFC", "N2O", "NF3", "OTHER_L", "PFC", "SF6" ]
                  },
                  "p_ghg_amt" : {
                    "type" : "string",
                    "description" : "Green House Gas (GHG) CO2 Equivalent Formatted Release Amount.  First 2 characters must contain GT (greater than) followed by a number.",
                    "enum" : [ "None", "0", "GT0", "GT10000", "GT25000", "GT250000", "GT1000000" ]
                  },
                  "p_ghg_any_amt" : {
                    "type" : "number",
                    "description" : "Green House Gas (GHG) C02 Equivalent Custom Amount.  The C02E value reported for the provided category, will be greater or equal to the amount provided."
                  },
                  "p_ghg_yr" : {
                    "type" : "string",
                    "description" : "Green House Gas (GHG) Reporting Year. (2010 through 2015)"
                  },
                  "p_nei_pol" : {
                    "type" : "string",
                    "description" : "National Emissions Inventory (NEI) Pollutant Identifier.  When a pollutant identifer is entered a corresponding formatted amount or custom amount must be entered."
                  },
                  "p_nei_amt" : {
                    "type" : "string",
                    "description" : "National Emissions Inventory (NEI) Formatted Pollutant Amount.  A formatted value where the 1st two characters must start with GT or LT followed by a number.  Identifies facilities that have a NEI Pollutant Emission  where the supplied value is > or < the pollutant emission amount.  ",
                    "enum" : [ "None", "0", "GT0", "GT10000", "GT25000", "GT250000", "GT1000000" ]
                  },
                  "p_nei_any_amt" : {
                    "type" : "number",
                    "description" : "National Emissions Inventory (NEI) Custom Pollutant Amount.  Only a number can be entered.  Identifies facilities with where the NEI Pollutant Emission Amount is greater than the number entered."
                  },
                  "p_nei_yr" : {
                    "type" : "string",
                    "description" : "National Emissions Inventory (NEI) year:  2014 or 2011"
                  },
                  "p_nei_cat" : {
                    "type" : "string",
                    "description" : "National Emissions Inventory (NEI) Pollutant Category.  When a pollutant category is entered, a corresponding formatted pollutant amount or custom amount must be entered."
                  },
                  "p_pm" : {
                    "type" : "string",
                    "description" : "Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.\n- NONE = 0%\n- GT5 = greater than 5%\n- GT10 = greater than 10%\n- GT25 = greater than 25%\n- GT50 = greater than 50%\n- GT75 = greater than 75%",
                    "enum" : [ "NONE", "GT5", "GT10", "GT25", "GT50", "GT75" ]
                  },
                  "p_pd" : {
                    "type" : "string",
                    "description" : "Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.\n- NONE = 0 population density per square mile\n- GT100 = More than 100 population density per square mile\n- GT500 = More than 500 population density per square mile\n- GT1000 = More than 1000 population density per square mile\n- GT5000 = More than 5000 population density per square mile\n- GT10000 = More than 10000 population density per square mile\n- GT20000 = More than 20000 population density per square mile",
                    "enum" : [ "NONE", "GT100", "GT500", "GT1000", "GT5000", "GT10000", "GT20000" ]
                  },
                  "p_ico" : {
                    "type" : "string",
                    "description" : "Indian Country Flag.  Enter a \"Y\" or \"N\" to restrict searches to facilities inside or outside Indian Country.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_huc" : {
                    "type" : "string",
                    "description" : "2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values."
                  },
                  "p_wbd" : {
                    "type" : "string",
                    "description" : "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value."
                  },
                  "p_pid" : {
                    "type" : "string",
                    "description" : "Nine-digit permit IDs. May contain up to 2000 comma-separated values."
                  },
                  "p_med" : {
                    "type" : "string",
                    "description" : "Filter Results by Media.\n- M = RMP (Risk Management Plan)\n- R = RCRA (Hazardous Waste)\n- S = SDWA (Public Drinking Water Systems)\n- W = Water\n- ALL = Water and RCRA and SDWA",
                    "enum" : [ "M", "R", "S", "W", "ALL" ]
                  },
                  "p_ysl" : {
                    "type" : "string",
                    "description" : "Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N", "NV" ]
                  },
                  "p_ysly" : {
                    "type" : "number",
                    "description" : "Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_ysla" : {
                    "type" : "string",
                    "description" : "Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State",
                    "enum" : [ "E", "S", "A" ]
                  },
                  "p_stsl" : {
                    "type" : "string",
                    "description" : "Last Stack Test [within / not within] Specified Date Range Indicator.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N" ]
                  },
                  "p_stsly" : {
                    "type" : "number",
                    "description" : "Number of years (1 to 5) since date of last stack test. A value of 1 means it has been inspected within the year.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_stsla" : {
                    "type" : "string",
                    "description" : "Stack Last Test Code Filter.  Enter a value to limit results:\n- A = All\n- E = EPA\n- S = State",
                    "enum" : [ "A", "E", "S" ]
                  },
                  "p_stres" : {
                    "type" : "string",
                    "description" : "Air Stack Test Status Description Filter.  Enter one or more test status descriptions to filter results.  Enter multiple values as a comma-delimited list."
                  },
                  "p_sttyp" : {
                    "type" : "string",
                    "description" : "Air Conductor Type Code Filter.  Enter one or more conductor type codes to filter results.  Provide multiple values as a comma-delimited list."
                  },
                  "p_qs" : {
                    "type" : "string",
                    "description" : "Quick Search. Allows entry for city, state, and/or zip code."
                  },
                  "p_sfs" : {
                    "type" : "string",
                    "description" : "Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched."
                  },
                  "p_tribeid" : {
                    "type" : "number",
                    "description" : "Numeric code for tribe (or list of tribes)."
                  },
                  "p_tribename" : {
                    "type" : "string",
                    "description" : "Tribe Name Filter.  Enter a single tribe name to filter results."
                  },
                  "p_tribedist" : {
                    "type" : "number",
                    "description" : "Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated."
                  },
                  "p_owop" : {
                    "type" : "string",
                    "description" : "Owner/Operator code filter.  Enter one or more codes to limit results.\n- CNG\n- COR\n- CTG\n- DIS\n- FDF\n- MWD\n- MXO\n- NON\n- POF\n- SDT\n- STF\n- TRB"
                  },
                  "p_agoo" : {
                    "type" : "string",
                    "description" : "Indicates whether to AND or OR the Owner/Operator parameter (p_owop) and the federal agency code (p_fa) parameters.",
                    "enum" : [ "AND", "OR" ]
                  },
                  "p_idt1" : {
                    "type" : "string",
                    "description" : "Beginning of date range of most recent facility inspection."
                  },
                  "p_idt2" : {
                    "type" : "string",
                    "description" : "End of date range of most recent facility inspection."
                  },
                  "p_stdt1" : {
                    "type" : "string",
                    "description" : "Beginning of date range of most recent stack test."
                  },
                  "p_stdt2" : {
                    "type" : "string",
                    "description" : "End of date range of most recent stack test."
                  },
                  "p_pityp" : {
                    "type" : "string",
                    "description" : "Inspection Type:\n- CAC = Corrective Action Inspection\n- CAV = Compliance Assistance Visit\n- CDI = Case Development Inspection\n- CEI = Inspection Inspection\n- CSE = Compliance Schedule Evaluation\n- FCI = Focused Compliance\n- FRR = Financial Record Review\n- FSD = Facility Self Disclosure\n- FUI = Follow-Up Inspection\n- GME = Groundwater Monitoring Evaluation\n- NRR = Non-Financial Record Review\n- OAM = Operation and Maintenance Inspection\nMay contain multiple comma-separated values."
                  },
                  "p_cifdi" : {
                    "type" : "string",
                    "description" : "Compliance issuess found during inspection.",
                    "enum" : [ "Any", "Yes", "No", "Undetermined" ]
                  },
                  "p_pfead1" : {
                    "type" : "string",
                    "description" : "Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years."
                  },
                  "p_pfead2" : {
                    "type" : "string",
                    "description" : "Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years."
                  },
                  "p_pfeat" : {
                    "type" : "string",
                    "description" : "Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list."
                  },
                  "p_psncq" : {
                    "type" : "string",
                    "description" : "Quarters in Significant Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of significant noncompliance.\n- Z = Zero quarters in significant noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in significant noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in significant noncompliance.",
                    "enum" : [ "GT1", "GE1", "GT2", "GE2", "GT4", "GE4", "GT8", "GE8", "GT12", "GE12" ]
                  },
                  "p_pctrack" : {
                    "type" : "string",
                    "description" : "Compliance Tracking Limiter. Provide a keyword to indicate the extent to which data is being entered and effluent exceedances are being identified.\n- Off\n- Partial\n- On",
                    "enum" : [ "Off", "Partial", "On" ]
                  },
                  "p_swpa" : {
                    "type" : "string",
                    "description" : "Source water protection area",
                    "enum" : [ "source water", "surface water", "ground water", "waiting for SSO" ]
                  },
                  "p_des" : {
                    "type" : "string",
                    "description" : "Universe Designation Limiter.  Enter one or more universe designation codes.  Provide multiple values as a comma-delimited list.  Use code \"TSDF\" to return the full enforcement TSDF universe and \"Operating TSDF\" to return the operating TSDF universe."
                  },
                  "p_fntype" : {
                    "type" : "string",
                    "description" : "Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = ",
                    "enum" : [ "ALL", "CONTAINS", "EXACT", "BEGINS" ]
                  },
                  "p_hpvmth" : {
                    "type" : "string",
                    "description" : "Months in high priority violation status out of the previous three years limiter.  Provide a number of months in the past three years.  Results will limited to facilities in high priority violation status during that time. "
                  },
                  "p_recvio" : {
                    "type" : "string",
                    "description" : "Recent Violation Status Filter.  Enter one or more recent violation codes to limit results.  Provide multiple values as a comma-delimited list.\n- NO VIOL = Selects facilities with no recent violations.\n- ANY HPV = Selects facilities with either addressed or unaddressed high priority violations.\n- ADDRS-EPA - Select facilities with recent EPA addressed violations.\n- ADDRS-LOCAL - Select facilities with recent locally addressed violations.\n- ADDRS-STATE - Select facilities with recent state addressed violations.\n- UNADDR-EPA - Select facilities with recent EPA unaddressed violations.\n- UNADDR-LOCAL - Select facilities with recent locally unaddressed violations.\n- UNADDR-STATE - Select facilities with recent state unaddressed violations.\n- FRV VIOL = Selects facilities with a recent federally reportable violation without a high priority violation."
                  },
                  "p_pollvio" : {
                    "type" : "string",
                    "description" : "Air Pollutant Code For A Recent Violation Filter.  Provide one or more pollutant codes to select facilities with one or more of the entered pollutant codes for a recent air violation.  Provide multiple values as a comma-delimited list."
                  },
                  "p_ar" : {
                    "type" : "string",
                    "description" : "Associated EPA Air Reports Program Filter.  Enter multiple values as a comma-delimited list.  Valid values are:\n- TRI = Toxic Release Inventory.\n- GHG = Green House Gas Reporter.\n- EIS = Emission Inventory System.\n- CAMD = Clean Air Markets Program Reporter."
                  },
                  "p_tri_yr" : {
                    "type" : "string",
                    "description" : "Toxic Release Inventory Reporting Year Filter.  Enter one or more year values to filter results by the TRI reporting year.  Provide multiple years as a comma-delimited list."
                  },
                  "p_pidall" : {
                    "type" : "string",
                    "description" : "Controls whether search is restricted to existing system. Y means the search will match the p_pid parameter against all associated permits (AIR, RCRA, SDWIS, etc).",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_fac_ico" : {
                    "type" : "string",
                    "description" : "FRS tribal land code flag.  Enter \"Y\" or \"N\" to include or exclude facilities based on FRS tribal land code.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_icoo" : {
                    "type" : "string",
                    "description" : "Indian country search and/or flag.  Enter \"Y\" to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned."
                  },
                  "p_fac_icos" : {
                    "type" : "string",
                    "description" : "FRS tribal land spatial flag.  Enter \"Y\" or \"N\" to include or exclude facilities based on FRS tribal land spatial flag."
                  },
                  "p_ejscreen" : {
                    "type" : "string",
                    "description" : "Enter \"Y\" to limit facilities to Census block groups where one of more Environmental Justice indexes above 80th percentile."
                  },
                  "p_limit_addr" : {
                    "type" : "string",
                    "description" : "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  ",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_lat" : {
                    "type" : "number",
                    "description" : "Latitude location in decimal degrees."
                  },
                  "p_long" : {
                    "type" : "number",
                    "description" : "Longitude location in decimal degrees."
                  },
                  "p_radius" : {
                    "type" : "number",
                    "description" : "Spatial Search Radius.  Enter a radius up to 100 miles in which to spatially search for facilities."
                  },
                  "p_decouple" : {
                    "type" : "string",
                    "description" : "Decouple Inspection Code Search Flag.  Enter \"Y\" to search for inspection code types with p_pityp without respect to the date range search provided with p_ysl* parameters.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_ejscreen_over80cnt" : {
                    "type" : "string",
                    "description" : "The number of Environmenmt Justice Indicators above the 80th percentile.  Valid values are 1 through 11.",
                    "enum" : [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11" ]
                  },
                  "queryset" : {
                    "type" : "number",
                    "description" : "Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000."
                  },
                  "responseset" : {
                    "type" : "number",
                    "description" : "Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000."
                  },
                  "tablelist" : {
                    "type" : "string",
                    "description" : "Table List Flag. Enter a Y to display the first page of facility results.",
                    "enum" : [ "Y", "N" ]
                  },
                  "maplist" : {
                    "type" : "string",
                    "description" : "Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).",
                    "enum" : [ "Y", "N" ]
                  },
                  "summarylist" : {
                    "type" : "string",
                    "description" : "Summary List Flag.  Enter a Y to return a list of summary statistics based on the parameters submitted to the query service.",
                    "enum" : [ "Y", "N" ]
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  },
                  "qcolumns" : {
                    "type" : "string",
                    "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Results are summary statistics for the query and a query identifier (QID).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/air05"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/air05"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/air_rest_services.get_facility_info" : {
      "get" : {
        "tags" : [ "Facilities" ],
        "summary" : "Clean Air Act Facility Enhanced Search",
        "description" : "Returns either an array of Facilities or an array of Clusters that meet the specified search criteria.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.\n- CSV = Facility results formatted as comma delimited file download.\n- GEOJSON = Facility results formatted as GeoJSON feature collection.\n- GEOJSONP = Facility results formatted as GeoJSON feature collection with Padding.\n- GEOJSOND = Facility results formatted as GeoJSON feature collection download.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fn",
          "in" : "query",
          "description" : "Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sa",
          "in" : "query",
          "description" : "Facility street address. Enter a complete or partial street address.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sa1",
          "in" : "query",
          "description" : "Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ct",
          "in" : "query",
          "description" : "Facility City Filter. Enter a single case-insensitive city name to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_co",
          "in" : "query",
          "description" : "Facility County Filter. Provide a single county name in combination with a state value provided via p_st.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fips",
          "in" : "query",
          "description" : "FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_st",
          "in" : "query",
          "description" : "Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_zip",
          "in" : "query",
          "description" : "5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_lcon",
          "in" : "query",
          "description" : "Air Program Local Control Region Code Filter.  Enter one or more local control region codes to filter results.  Provide multiple codes as a comma-delimited list.  Codes where they exist are specific by state.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_frs",
          "in" : "query",
          "description" : "Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_reg",
          "in" : "query",
          "description" : "EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.",
          "schema" : {
            "type" : "string",
            "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10" ]
          }
        }, {
          "name" : "p_sic",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ncs",
          "in" : "query",
          "description" : "North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_qnc",
          "in" : "query",
          "description" : "Number of quarters in non-compliance limiter.  Enter an integer value between 1 and 4 to limit results.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_pen",
          "in" : "query",
          "description" : "Last Penality Date Qualifier Filter.  Enter one of the following:   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for a facility with a penalty within previous 5 months.\n- GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_opst",
          "in" : "query",
          "description" : "Operating status filter.  Enter one or more operating status codes to limit results.   Provide multiple codes as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "xmin",
          "in" : "query",
          "description" : "Minimum longitude value in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "ymin",
          "in" : "query",
          "description" : "Minimum latitude value in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "xmax",
          "in" : "query",
          "description" : "Maximum longitude value in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "ymax",
          "in" : "query",
          "description" : "Maximum latitude value in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_usmex",
          "in" : "query",
          "description" : "US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_sic2",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing \"22\" to match all SIC codes beginning with 22.  Use the \"%\" character within strings to match any SIC values with the pattern.  For example, \"2%21\" matches 2021, 2121, 2221, etc.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sic4",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fa",
          "in" : "query",
          "description" : "Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_act",
          "in" : "query",
          "description" : "Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N", "A" ]
          }
        }, {
          "name" : "p_maj",
          "in" : "query",
          "description" : "Major Facility Flag.  Enter Y to restrict results to Major facilities only.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_mact",
          "in" : "query",
          "description" : "CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_nsps",
          "in" : "query",
          "description" : "Air Programl New Source Performance Standards (NSPS)  Subpart Code Search.  One or more valid Air Program NSPS Program codes cand be passed.  ",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_nspsm",
          "in" : "query",
          "description" : "Air Programl New Source Performance Standards Minors (NSPSM) Subpart Code Search.  One or more valid Air Program NSPSM Subpart codes can be passed.  ",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_prog",
          "in" : "query",
          "description" : "Air Program Code Filter.  Enter one or more Air program codes to filter results.  Provide multiple values as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fea",
          "in" : "query",
          "description" : "Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N" ]
          }
        }, {
          "name" : "p_feay",
          "in" : "query",
          "description" : "Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_feaa",
          "in" : "query",
          "description" : "Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All",
          "schema" : {
            "type" : "string",
            "enum" : [ "A", "E", "S" ]
          }
        }, {
          "name" : "p_iea",
          "in" : "query",
[...]
