{"openapi":"3.0.1","info":{"title":"Azure Media Services","description":"This Swagger was generated by the API Framework.","version":"2018-07-01"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms":{"get":{"summary":"List Transforms","description":"Lists the Transforms in the account.","operationId":"Transforms_List","parameters":[{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Restricts the set of items returned.","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Specifies the key by which the result collection should be ordered.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransformCollection"}}}},"default":{"description":"Detailed error information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}":{"get":{"summary":"Get Transform","description":"Gets a Transform.","operationId":"Transforms_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},{"name":"transformName","in":"path","description":"The Transform name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transform"}}}},"404":{"description":"NotFound"},"default":{"description":"Detailed error information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"put":{"summary":"Create or Update Transform","description":"Creates or updates a new Transform.","operationId":"Transforms_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},{"name":"transformName","in":"path","description":"The Transform name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transform"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transform"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transform"}}}},"default":{"description":"Detailed error information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"delete":{"summary":"Delete Transform","description":"Deletes a Transform.","operationId":"Transforms_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},{"name":"transformName","in":"path","description":"The Transform name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"NoContent"},"default":{"description":"Detailed error information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"patch":{"summary":"Update Transform","description":"Updates a Transform.","operationId":"Transforms_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},{"name":"transformName","in":"path","description":"The Transform name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transform"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transform"}}}},"default":{"description":"Detailed error information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}/jobs":{"get":{"summary":"List Jobs","description":"Lists all of the Jobs for the Transform.","operationId":"Jobs_List","parameters":[{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},{"name":"transformName","in":"path","description":"The Transform name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Restricts the set of items returned.","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Specifies the by which the result collection should be ordered.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobCollection"}}}},"default":{"description":"Detailed error information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}/jobs/{jobName}":{"get":{"summary":"Get Job","description":"Gets a Job.","operationId":"Jobs_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},{"name":"transformName","in":"path","description":"The Transform name.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The Job name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"404":{"description":"NotFound"},"default":{"description":"Detailed error information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"put":{"summary":"Create Job","description":"Creates a Job.","operationId":"Jobs_Create","parameters":[{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},{"name":"transformName","in":"path","description":"The Transform name.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The Job name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"default":{"description":"Detailed error information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"delete":{"summary":"Delete Job","description":"Deletes a Job.","operationId":"Jobs_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},{"name":"transformName","in":"path","description":"The Transform name.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The Job name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"NoContent"},"default":{"description":"Detailed error information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"patch":{"summary":"Update Job","description":"Update is only supported for description and priority. Updating Priority will take effect when the Job state is Queued or Scheduled and depending on the timing the priority update may be ignored.","operationId":"Jobs_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},{"name":"transformName","in":"path","description":"The Transform name.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The Job name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"default":{"description":"Detailed error information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}/jobs/{jobName}/cancelJob":{"post":{"summary":"Cancel Job","description":"Cancel a Job.","operationId":"Jobs_CancelJob","parameters":[{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},{"name":"transformName","in":"path","description":"The Transform name.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The Job name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"default":{"description":"Detailed error information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}}},"components":{"schemas":{"AacAudio":{"properties":{"profile":{"type":"string","description":"The encoding profile to be used when encoding audio with AAC.","enum":["AacLc","HeAacV1","HeAacV2"]}},"description":"Describes Advanced Audio Codec (AAC) audio encoding settings.","allOf":[{"$ref":"#/components/schemas/Audio"}]},"AbsoluteClipTime":{"properties":{"time":{"type":"string","description":"The time position on the timeline of the input media. It is usually specified as an ISO8601 period. e.g PT30S for 30 seconds.","format":"duration"}},"description":"Specifies the clip time as an absolute time position in the media file.  The absolute time can point to a different position depending on whether the media file starts from a timestamp of zero or not.","allOf":[{"$ref":"#/components/schemas/ClipTime"}]},"ApiError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ODataError"}},"description":"The API error."},"Audio":{"properties":{"bitrate":{"type":"integer","description":"The bitrate, in bits per second, of the output encoded audio.","format":"int32"},"channels":{"type":"integer","description":"The number of channels in the audio.","format":"int32"},"samplingRate":{"type":"integer","description":"The sampling rate to use for encoding in hertz.","format":"int32"}},"description":"Defines the common properties for all audio codecs.","allOf":[{"$ref":"#/components/schemas/Codec"}]},"AudioAnalyzerPreset":{"properties":{"audioLanguage":{"type":"string","description":"The language for the audio payload in the input using the BCP-47 format of 'language tag-region' (e.g: 'en-US').  The list of supported languages are English ('en-US' and 'en-GB'), Spanish ('es-ES' and 'es-MX'), French ('fr-FR'), Italian ('it-IT'), Japanese ('ja-JP'), Portuguese ('pt-BR'), Chinese ('zh-CN'), German ('de-DE'), Arabic ('ar-EG' and 'ar-SY'), Russian ('ru-RU'), Hindi ('hi-IN'), and Korean ('ko-KR'). If you know the language of your content, it is recommended that you specify it. If the language isn't specified or set to null, automatic language detection will choose the first language detected and process with the selected language for the duration of the file. This language detection feature currently supports English, Chinese, French, German, Italian, Japanese, Spanish, Russian, and Portuguese. It does not currently support dynamically switching between languages after the first language is detected. The automatic detection works best with audio recordings with clearly discernable speech. If automatic detection fails to find the language, transcription would fallback to 'en-US'.\""}},"description":"The Audio Analyzer preset applies a pre-defined set of AI-based analysis operations, including speech transcription. Currently, the preset supports processing of content with a single audio track.","allOf":[{"$ref":"#/components/schemas/Preset"}]},"AudioOverlay":{"description":"Describes the properties of an audio overlay.","allOf":[{"$ref":"#/components/schemas/Overlay"}]},"BuiltInStandardEncoderPreset":{"properties":{"presetName":{"type":"string","description":"The built-in preset to be used for encoding videos.","enum":["H264SingleBitrateSD","H264SingleBitrate720p","H264SingleBitrate1080p","AdaptiveStreaming","AACGoodQualityAudio","ContentAwareEncodingExperimental","H264MultipleBitrate1080p","H264MultipleBitrate720p","H264MultipleBitrateSD"]}},"description":"Describes a built-in preset for encoding the input video with the Standard Encoder.","allOf":[{"$ref":"#/components/schemas/Preset"}]},"ClipTime":{"required":["@odata.type"],"type":"object","properties":{"@odata.type":{"type":"string","description":"The discriminator for derived types."}},"description":"Base class for specifying a clip time. Use sub classes of this class to specify the time position in the media.","discriminator":{"propertyName":"@odata.type"}},"Codec":{"required":["@odata.type"],"type":"object","properties":{"@odata.type":{"type":"string","description":"The discriminator for derived types."},"label":{"type":"string","description":"An optional label for the codec. The label can be used to control muxing behavior."}},"description":"Describes the basic properties of all codecs.","discriminator":{"propertyName":"@odata.type"}},"CopyAudio":{"description":"A codec flag, which tells the encoder to copy the input audio bitstream.","allOf":[{"$ref":"#/components/schemas/Codec"}]},"CopyVideo":{"description":"A codec flag, which tells the encoder to copy the input video bitstream without re-encoding.","allOf":[{"$ref":"#/components/schemas/Codec"}]},"Deinterlace":{"type":"object","properties":{"mode":{"type":"string","description":"The deinterlacing mode. Defaults to AutoPixelAdaptive.","enum":["Off","AutoPixelAdaptive"]},"parity":{"type":"string","description":"The field parity for de-interlacing, defaults to Auto.","enum":["Auto","TopFieldFirst","BottomFieldFirst"]}},"description":"Describes the de-interlacing settings."},"FaceDetectorPreset":{"properties":{"resolution":{"type":"string","description":"Specifies the maximum resolution at which your video is analyzed. The default behavior is \"SourceResolution,\" which will keep the input video at its original resolution when analyzed. Using \"StandardDefinition\" will resize input videos to standard definition while preserving the appropriate aspect ratio. It will only resize if the video is of higher resolution. For example, a 1920x1080 input would be scaled to 640x360 before processing. Switching to \"StandardDefinition\" will reduce the time it takes to process high resolution video. It may also reduce the cost of using this component (see https://azure.microsoft.com/en-us/pricing/details/media-services/#analytics for details). However, faces that end up being too small in the resized video may not be detected.","enum":["SourceResolution","StandardDefinition"]}},"description":"Describes all the settings to be used when analyzing a video in order to detect all the faces present.","allOf":[{"$ref":"#/components/schemas/Preset"}]},"Filters":{"type":"object","properties":{"crop":{"$ref":"#/components/schemas/Rectangle"},"deinterlace":{"$ref":"#/components/schemas/Deinterlace"},"overlays":{"type":"array","description":"The properties of overlays to be applied to the input video. These could be audio, image or video overlays.","items":{"$ref":"#/components/schemas/Overlay"}},"rotation":{"type":"string","description":"The rotation, if any, to be applied to the input video, before it is encoded. Default is Auto","enum":["Auto","None","Rotate0","Rotate90","Rotate180","Rotate270"]}},"description":"Describes all the filtering operations, such as de-interlacing, rotation etc. that are to be applied to the input media before encoding."},"Format":{"required":["@odata.type","filenamePattern"],"type":"object","properties":{"@odata.type":{"type":"string","description":"The discriminator for derived types."},"filenamePattern":{"type":"string","description":"The pattern of the file names for the generated output files. The following macros are supported in the file name: {Basename} - The base name of the input video {Extension} - The appropriate extension for this format. {Label} - The label assigned to the codec/layer. {Index} - A unique index for thumbnails. Only applicable to thumbnails. {Bitrate} - The audio/video bitrate. Not applicable to thumbnails. {Codec} - The type of the audio/video codec. Any unsubstituted macros will be collapsed and removed from the filename."}},"description":"Base class for output.","discriminator":{"propertyName":"@odata.type"}},"H264Layer":{"properties":{"bufferWindow":{"type":"string","description":"The VBV buffer window length. The value should be in ISO 8601 format. The value should be in the range [0.1-100] seconds. The default is 5 seconds (for example, PT5S).","format":"duration"},"entropyMode":{"type":"string","description":"The entropy mode to be used for this layer. If not specified, the encoder chooses the mode that is appropriate for the profile and level.","enum":["Cabac","Cavlc"]},"level":{"type":"string","description":"We currently support Level up to 6.2. The value can be Auto, or a number that matches the H.264 profile. If not specified, the default is Auto, which lets the encoder choose the Level that is appropriate for this layer."},"profile":{"type":"string","description":"We currently support Baseline, Main, High, High422, High444. Default is Auto.","enum":["Auto","Baseline","Main","High","High422","High444"]},"referenceFrames":{"type":"integer","description":"The number of reference frames to be used when encoding this layer. If not specified, the encoder determines an appropriate number based on the encoder complexity setting.","format":"int32"}},"description":"Describes the settings to be used when encoding the input video into a desired output bitrate layer with the H.264 video codec.","allOf":[{"$ref":"#/components/schemas/VideoLayer"}]},"H264Video":{"properties":{"complexity":{"type":"string","description":"Tells the encoder how to choose its encoding settings. The default value is Balanced.","enum":["Speed","Balanced","Quality"]},"layers":{"type":"array","description":"The collection of output H.264 layers to be produced by the encoder.","items":{"$ref":"#/components/schemas/H264Layer"}},"sceneChangeDetection":{"type":"boolean","description":"Whether or not the encoder should insert key frames at scene changes. If not specified, the default is false. This flag should be set to true only when the encoder is being configured to produce a single output video."}},"description":"Describes all the properties for encoding a video with the H.264 codec.","allOf":[{"$ref":"#/components/schemas/Video"}]},"Image":{"properties":{"range":{"type":"string","description":"The position in the input video at which to stop generating thumbnails. The value can be in absolute timestamp (ISO 8601, e.g: PT5M30S to stop at 5 minutes and 30 seconds), or a frame count (For example, 300 to stop at the 300th frame), or a relative value (For example, 100%)."},"start":{"type":"string","description":"The position in the input video from where to start generating thumbnails. The value can be in absolute timestamp (ISO 8601, e.g: PT05S), or a frame count (For example, 10 for the 10th frame), or a relative value (For example, 1%). Also supports a macro {Best}, which tells the encoder to select the best thumbnail from the first few seconds of the video."},"step":{"type":"string","description":"The intervals at which thumbnails are generated. The value can be in absolute timestamp (ISO 8601, e.g: PT05S for one image every 5 seconds), or a frame count (For example, 30 for every 30 frames), or a relative value (For example, 1%)."}},"description":"Describes the basic properties for generating thumbnails from the input video","allOf":[{"$ref":"#/components/schemas/Video"}]},"ImageFormat":{"description":"Describes the properties for an output image file.","allOf":[{"$ref":"#/components/schemas/Format"}]},"Job":{"properties":{"properties":{"$ref":"#/components/schemas/JobProperties"}},"description":"A Job resource type. The progress and state can be obtained by polling a Job or subscribing to events using EventGrid.","allOf":[{"description":"The resource model definition for a ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource ID for the resource.","readOnly":true},"name":{"type":"string","description":"The name of the resource.","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources."}]}]},"JobCollection":{"type":"object","properties":{"@odata.nextLink":{"type":"string","description":"A link to the next page of the collection (when the collection contains too many results to return in one response)."},"value":{"type":"array","description":"A collection of Job items.","items":{"$ref":"#/components/schemas/Job"}}},"description":"A collection of Job items."},"JobError":{"type":"object","properties":{"category":{"type":"string","description":"Helps with categorization of errors.","nullable":false,"readOnly":true,"enum":["Service","Download","Upload","Configuration","Content"]},"code":{"type":"string","description":"Error code describing the error.","nullable":false,"readOnly":true,"enum":["ServiceError","ServiceTransientError","DownloadNotAccessible","DownloadTransientError","UploadNotAccessible","UploadTransientError","ConfigurationUnsupported","ContentMalformed","ContentUnsupported"]},"details":{"type":"array","description":"An array of details about specific errors that led to this reported error.","readOnly":true,"items":{"$ref":"#/components/schemas/JobErrorDetail"}},"message":{"type":"string","description":"A human-readable language-dependent representation of the error.","readOnly":true},"retry":{"type":"string","description":"Indicates that it may be possible to retry the Job. If retry is unsuccessful, please contact Azure support via Azure Portal.","nullable":false,"readOnly":true,"enum":["DoNotRetry","MayRetry"]}},"description":"Details of JobOutput errors."},"JobErrorDetail":{"type":"object","properties":{"code":{"type":"string","description":"Code describing the error detail.","readOnly":true},"message":{"type":"string","description":"A human-readable representation of the error.","readOnly":true}},"description":"Details of JobOutput errors."},"JobInput":{"required":["@odata.type"],"type":"object","properties":{"@odata.type":{"type":"string","description":"The discriminator for derived types."}},"description":"Base class for inputs to a Job.","discriminator":{"propertyName":"@odata.type"}},"JobInputAsset":{"properties":{"assetName":{"type":"string","description":"The name of the input Asset."}},"description":"Represents an Asset for input into a Job.","allOf":[{"$ref":"#/components/schemas/JobInputClip"}]},"JobInputClip":{"properties":{"end":{"$ref":"#/components/schemas/ClipTime"},"files":{"type":"array","description":"List of files. Required for JobInputHttp. Maximum of 4000 characters each.","items":{"type":"string"}},"label":{"type":"string","description":"A label that is assigned to a JobInputClip, that is used to satisfy a reference used in the Transform. For example, a Transform can be authored so as to take an image file with the label 'xyz' and apply it as an overlay onto the input video before it is encoded. When submitting a Job, exactly one of the JobInputs should be the image file, and it should have the label 'xyz'."},"start":{"$ref":"#/components/schemas/ClipTime"}},"description":"Represents input files for a Job.","allOf":[{"$ref":"#/components/schemas/JobInput"}]},"JobInputHttp":{"properties":{"baseUri":{"type":"string","description":"Base URI for HTTPS job input. It will be concatenated with provided file names. If no base uri is given, then the provided file list is assumed to be fully qualified uris. Maximum length of 4000 characters."}},"description":"Represents HTTPS job input.","allOf":[{"$ref":"#/components/schemas/JobInputClip"}]},"JobInputs":{"properties":{"inputs":{"type":"array","description":"List of inputs to a Job.","items":{"$ref":"#/components/schemas/JobInput"}}},"description":"Describes a list of inputs to a Job.","allOf":[{"$ref":"#/components/schemas/JobInput"}]},"JobOutput":{"required":["@odata.type"],"type":"object","properties":{"@odata.type":{"type":"string","description":"The discriminator for derived types."},"error":{"$ref":"#/components/schemas/JobError"},"label":{"type":"string","description":"A label that is assigned to a JobOutput in order to help uniquely identify it. This is useful when your Transform has more than one TransformOutput, whereby your Job has more than one JobOutput. In such cases, when you submit the Job, you will add two or more JobOutputs, in the same order as TransformOutputs in the Transform. Subsequently, when you retrieve the Job, either through events or on a GET request, you can use the label to easily identify the JobOutput. If a label is not provided, a default value of '{presetName}_{outputIndex}' will be used, where the preset name is the name of the preset in the corresponding TransformOutput and the output index is the relative index of the this JobOutput within the Job. Note that this index is the same as the relative index of the corresponding TransformOutput within its Transform."},"progress":{"type":"integer","description":"If the JobOutput is in a Processing state, this contains the Job completion percentage. The value is an estimate and not intended to be used to predict Job completion times. To determine if the JobOutput is complete, use the State property.","format":"int32","nullable":false,"readOnly":true},"state":{"type":"string","description":"Describes the state of the JobOutput.","nullable":false,"readOnly":true,"enum":["Canceled","Canceling","Error","Finished","Processing","Queued","Scheduled"]}},"description":"Describes all the properties of a JobOutput.","discriminator":{"propertyName":"@odata.type"}},"JobOutputAsset":{"properties":{"assetName":{"type":"string","description":"The name of the output Asset."}},"description":"Represents an Asset used as a JobOutput.","allOf":[{"$ref":"#/components/schemas/JobOutput"}]},"JobProperties":{"required":["input","outputs"],"type":"object","properties":{"correlationData":{"type":"object","additionalProperties":{"type":"string"},"description":"Customer provided key, value pairs that will be returned in Job and JobOutput state events."},"created":{"type":"string","description":"The UTC date and time when the Job was created, in 'YYYY-MM-DDThh:mm:ssZ' format.","format":"date-time","nullable":false,"readOnly":true},"description":{"type":"string","description":"Optional customer supplied description of the Job."},"input":{"$ref":"#/components/schemas/JobInput"},"lastModified":{"type":"string","description":"The UTC date and time when the Job was last updated, in 'YYYY-MM-DDThh:mm:ssZ' format.","format":"date-time","nullable":false,"readOnly":true},"outputs":{"type":"array","description":"The outputs for the Job.","items":{"$ref":"#/components/schemas/JobOutput"}},"priority":{"type":"string","description":"Priority with which the job should be processed. Higher priority jobs are processed before lower priority jobs. If not set, the default is normal.","enum":["Low","Normal","High"]},"state":{"type":"string","description":"The current state of the job.","nullable":false,"readOnly":true,"enum":["Canceled","Canceling","Error","Finished","Processing","Queued","Scheduled"]}},"description":"Properties of the Job."},"JpgFormat":{"description":"Describes the settings for producing JPEG thumbnails.","allOf":[{"$ref":"#/components/schemas/ImageFormat"}]},"JpgImage":{"properties":{"layers":{"type":"array","description":"A collection of output JPEG image layers to be produced by the encoder.","items":{"$ref":"#/components/schemas/JpgLayer"}}},"description":"Describes the properties for producing a series of JPEG images from the input video.","allOf":[{"$ref":"#/components/schemas/Image"}]},"JpgLayer":{"properties":{"quality":{"type":"integer","description":"The compression quality of the JPEG output. Range is from 0-100 and the default is 70.","format":"int32"}},"description":"Describes the settings to produce a JPEG image from the input video.","allOf":[{"$ref":"#/components/schemas/Layer"}]},"Layer":{"required":["@odata.type"],"type":"object","properties":{"@odata.type":{"type":"string","description":"The discriminator for derived types."},"height":{"type":"string","description":"The height of the output video for this layer. The value can be absolute (in pixels) or relative (in percentage). For example 50% means the output video has half as many pixels in height as the input."},"label":{"type":"string","description":"The alphanumeric label for this layer, which can be used in multiplexing different video and audio layers, or in naming the output file."},"width":{"type":"string","description":"The width of the output video for this layer. The value can be absolute (in pixels) or relative (in percentage). For example 50% means the output video has half as many pixels in width as the input."}},"description":"The encoder can be configured to produce video and/or images (thumbnails) at different resolutions, by specifying a layer for each desired resolution. A layer represents the properties for the video or image at a resolution.","discriminator":{"propertyName":"@odata.type"}},"Mp4Format":{"description":"Describes the properties for an output ISO MP4 file.","allOf":[{"$ref":"#/components/schemas/MultiBitrateFormat"}]},"MultiBitrateFormat":{"properties":{"outputFiles":{"type":"array","description":"The list of output files to produce.  Each entry in the list is a set of audio and video layer labels to be muxed together .","items":{"$ref":"#/components/schemas/OutputFile"}}},"description":"Describes the properties for producing a collection of GOP aligned multi-bitrate files. The default behavior is to produce one output file for each video layer which is muxed together with all the audios. The exact output files produced can be controlled by specifying the outputFiles collection.","allOf":[{"$ref":"#/components/schemas/Format"}]},"ODataError":{"type":"object","properties":{"code":{"type":"string","description":"A language-independent error name."},"details":{"type":"array","description":"The error details.","items":{"$ref":"#/components/schemas/ODataError"}},"message":{"type":"string","description":"The error message."},"target":{"type":"string","description":"The target of the error (for example, the name of the property in error)."}},"description":"Information about an error."},"OutputFile":{"required":["labels"],"type":"object","properties":{"labels":{"type":"array","description":"The list of labels that describe how the encoder should multiplex video and audio into an output file. For example, if the encoder is producing two video layers with labels v1 and v2, and one audio layer with label a1, then an array like '[v1, a1]' tells the encoder to produce an output file with the video track represented by v1 and the audio track represented by a1.","items":{"type":"string"}}},"description":"Represents an output file produced."},"Overlay":{"required":["@odata.type","inputLabel"],"type":"object","properties":{"@odata.type":{"type":"string","description":"The discriminator for derived types."},"audioGainLevel":{"type":"number","description":"The gain level of audio in the overlay. The value should be in the range [0, 1.0]. The default is 1.0.","format":"double"},"end":{"type":"string","description":"The position in the input video at which the overlay ends. The value should be in ISO 8601 duration format. For example, PT30S to end the overlay at 30 seconds in to the input video. If not specified the overlay will be applied until the end of the input video if inputLoop is true. Else, if inputLoop is false, then overlay will last as long as the duration of the overlay media.","format":"duration"},"fadeInDuration":{"type":"string","description":"The duration over which the overlay fades in onto the input video. The value should be in ISO 8601 duration format. If not specified the default behavior is to have no fade in (same as PT0S).","format":"duration"},"fadeOutDuration":{"type":"string","description":"The duration over which the overlay fades out of the input video. The value should be in ISO 8601 duration format. If not specified the default behavior is to have no fade out (same as PT0S).","format":"duration"},"inputLabel":{"type":"string","description":"The label of the job input which is to be used as an overlay. The Input must specify exactly one file. You can specify an image file in JPG or PNG formats, or an audio file (such as a WAV, MP3, WMA or M4A file), or a video file. See https://aka.ms/mesformats for the complete list of supported audio and video file formats."},"start":{"type":"string","description":"The start position, with reference to the input video, at which the overlay starts. The value should be in ISO 8601 format. For example, PT05S to start the overlay at 5 seconds in to the input video. If not specified the overlay starts from the beginning of the input video.","format":"duration"}},"description":"Base type for all overlays - image, audio or video.","discriminator":{"propertyName":"@odata.type"}},"PngFormat":{"description":"Describes the settings for producing PNG thumbnails.","allOf":[{"$ref":"#/components/schemas/ImageFormat"}]},"PngImage":{"properties":{"layers":{"type":"array","description":"A collection of output PNG image layers to be produced by the encoder.","items":{"$ref":"#/components/schemas/PngLayer"}}},"description":"Describes the properties for producing a series of PNG images from the input video.","allOf":[{"$ref":"#/components/schemas/Image"}]},"PngLayer":{"description":"Describes the settings to produce a PNG image from the input video.","allOf":[{"$ref":"#/components/schemas/Layer"}]},"Preset":{"required":["@odata.type"],"type":"object","properties":{"@odata.type":{"type":"string","description":"The discriminator for derived types."}},"description":"Base type for all Presets, which define the recipe or instructions on how the input media files should be processed.","discriminator":{"propertyName":"@odata.type"}},"Rectangle":{"type":"object","properties":{"height":{"type":"string","description":"The height of the rectangular region in pixels. This can be absolute pixel value (e.g 100), or relative to the size of the video (For example, 50%)."},"left":{"type":"string","description":"The number of pixels from the left-margin. This can be absolute pixel value (e.g 100), or relative to the size of the video (For example, 50%)."},"top":{"type":"string","description":"The number of pixels from the top-margin. This can be absolute pixel value (e.g 100), or relative to the size of the video (For example, 50%)."},"width":{"type":"string","description":"The width of the rectangular region in pixels. This can be absolute pixel value (e.g 100), or relative to the size of the video (For example, 50%)."}},"description":"Describes the properties of a rectangular window applied to the input media before processing it."},"StandardEncoderPreset":{"properties":{"codecs":{"type":"array","description":"The list of codecs to be used when encoding the input video.","items":{"$ref":"#/components/schemas/Codec"}},"filters":{"$ref":"#/components/schemas/Filters"},"formats":{"type":"array","description":"The list of outputs to be produced by the encoder.","items":{"$ref":"#/components/schemas/Format"}}},"description":"Describes all the settings to be used when encoding the input video with the Standard Encoder.","allOf":[{"$ref":"#/components/schemas/Preset"}]},"Transform":{"properties":{"properties":{"$ref":"#/components/schemas/TransformProperties"}},"description":"A Transform encapsulates the rules or instructions for generating desired outputs from input media, such as by transcoding or by extracting insights. After the Transform is created, it can be applied to input media by creating Jobs.","allOf":[{"description":"The resource model definition for a ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource ID for the resource.","readOnly":true},"name":{"type":"string","description":"The name of the resource.","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources."}]}]},"TransformCollection":{"type":"object","properties":{"@odata.nextLink":{"type":"string","description":"A link to the next page of the collection (when the collection contains too many results to return in one response)."},"value":{"type":"array","description":"A collection of Transform items.","items":{"$ref":"#/components/schemas/Transform"}}},"description":"A collection of Transform items."},"TransformOutput":{"required":["preset"],"type":"object","properties":{"onError":{"type":"string","description":"A Transform can define more than one outputs. This property defines what the service should do when one output fails - either continue to produce other outputs, or, stop the other outputs. The overall Job state will not reflect failures of outputs that are specified with 'ContinueJob'. The default is 'StopProcessingJob'.","enum":["StopProcessingJob","ContinueJob"]},"preset":{"$ref":"#/components/schemas/Preset"},"relativePriority":{"type":"string","description":"Sets the relative priority of the TransformOutputs within a Transform. This sets the priority that the service uses for processing TransformOutputs. The default priority is Normal.","enum":["Low","Normal","High"]}},"description":"Describes the properties of a TransformOutput, which are the rules to be applied while generating the desired output."},"TransformProperties":{"required":["outputs"],"type":"object","properties":{"created":{"type":"string","description":"The UTC date and time when the Transform was created, in 'YYYY-MM-DDThh:mm:ssZ' format.","format":"date-time","nullable":false,"readOnly":true},"description":{"type":"string","description":"An optional verbose description of the Transform."},"lastModified":{"type":"string","description":"The UTC date and time when the Transform was last updated, in 'YYYY-MM-DDThh:mm:ssZ' format.","format":"date-time","nullable":false,"readOnly":true},"outputs":{"type":"array","description":"An array of one or more TransformOutputs that the Transform should generate.","items":{"$ref":"#/components/schemas/TransformOutput"}}},"description":"A Transform."},"TransportStreamFormat":{"description":"Describes the properties for generating an MPEG-2 Transport Stream (ISO/IEC 13818-1) output video file(s).","allOf":[{"$ref":"#/components/schemas/MultiBitrateFormat"}]},"Video":{"properties":{"keyFrameInterval":{"type":"string","description":"The distance between two key frames, thereby defining a group of pictures (GOP). The value should be a non-zero integer in the range [1, 30] seconds, specified in ISO 8601 format. The default is 2 seconds (PT2S).","format":"duration"},"stretchMode":{"type":"string","description":"The resizing mode - how the input video will be resized to fit the desired output resolution(s). Default is AutoSize","enum":["None","AutoSize","AutoFit"]}},"description":"Describes the basic properties for encoding the input video.","allOf":[{"$ref":"#/components/schemas/Codec"}]},"VideoAnalyzerPreset":{"properties":{"insightsToExtract":{"type":"string","description":"Defines the type of insights that you want the service to generate. The allowed values are 'AudioInsightsOnly', 'VideoInsightsOnly', and 'AllInsights'. The default is AllInsights. If you set this to AllInsights and the input is audio only, then only audio insights are generated. Similarly if the input is video only, then only video insights are generated. It is recommended that you not use AudioInsightsOnly if you expect some of your inputs to be video only; or use VideoInsightsOnly if you expect some of your inputs to be audio only. Your Jobs in such conditions would error out.","enum":["AudioInsightsOnly","VideoInsightsOnly","AllInsights"]}},"description":"A video analyzer preset that extracts insights (rich metadata) from both audio and video, and outputs a JSON format file.","allOf":[{"$ref":"#/components/schemas/AudioAnalyzerPreset"}]},"VideoLayer":{"properties":{"adaptiveBFrame":{"type":"boolean","description":"Whether or not adaptive B-frames are to be used when encoding this layer. If not specified, the encoder will turn it on whenever the video profile permits its use."},"bFrames":{"type":"integer","description":"The number of B-frames to be used when encoding this layer.  If not specified, the encoder chooses an appropriate number based on the video profile and level.","format":"int32"},"bitrate":{"type":"integer","description":"The average bitrate in bits per second at which to encode the input video when generating this layer. This is a required field.","format":"int32"},"frameRate":{"type":"string","description":"The frame rate (in frames per second) at which to encode this layer. The value can be in the form of M/N where M and N are integers (For example, 30000/1001), or in the form of a number (For example, 30, or 29.97). The encoder enforces constraints on allowed frame rates based on the profile and level. If it is not specified, the encoder will use the same frame rate as the input video."},"maxBitrate":{"type":"integer","description":"The maximum bitrate (in bits per second), at which the VBV buffer should be assumed to refill. If not specified, defaults to the same value as bitrate.","format":"int32"},"slices":{"type":"integer","description":"The number of slices to be used when encoding this layer. If not specified, default is zero, which means that encoder will use a single slice for each frame.","format":"int32"}},"description":"Describes the settings to be used when encoding the input video into a desired output bitrate layer.","allOf":[{"$ref":"#/components/schemas/Layer"}]},"VideoOverlay":{"properties":{"cropRectangle":{"$ref":"#/components/schemas/Rectangle"},"opacity":{"type":"number","description":"The opacity of the overlay. This is a value in the range [0 - 1.0]. Default is 1.0 which mean the overlay is opaque.","format":"double"},"position":{"$ref":"#/components/schemas/Rectangle"}},"description":"Describes the properties of a video overlay.","allOf":[{"$ref":"#/components/schemas/Overlay"}]}},"parameters":{"ApiVersion":{"name":"api-version","in":"query","description":"The Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},"MediaServicesAccountName":{"name":"accountName","in":"path","description":"The Media Services account name.","required":true,"schema":{"type":"string"}},"ResourceGroupName":{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the Azure subscription.","required":true,"schema":{"type":"string"}},"SubscriptionId":{"name":"subscriptionId","in":"path","description":"The unique identifier for a Microsoft Azure subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}