{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SubscriptionsManagementClient",
    "description" : "The Admin Subscriptions Management Client.",
    "version" : "2015-11-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProviderSubscriptionId}/offers" : {
      "get" : {
        "tags" : [ "DelegatedProviderOffers" ],
        "description" : "Get the list of delegated provider offers.",
        "operationId" : "DelegatedProviderOffers_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "delegatedProviderSubscriptionId",
          "in" : "path",
          "description" : "Delegated provider subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelegatedProviderOfferList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProviderSubscriptionId}/offers/{offer}" : {
      "get" : {
        "tags" : [ "DelegatedProviderOffers" ],
        "description" : "Get the specified delegated provider offer.",
        "operationId" : "DelegatedProviderOffers_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "delegatedProviderSubscriptionId",
          "in" : "path",
          "description" : "Delegated provider subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offer",
          "in" : "path",
          "description" : "Name of an offer.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelegatedProviderOffer"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AccessibilityState" : {
        "type" : "string",
        "description" : "Represents the state of the offer",
        "enum" : [ "Private", "Public", "Decommissioned" ]
      },
      "DelegatedProviderOffer" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DelegatedProviderOfferProperties"
          }
        },
        "description" : "The delegated provider offer.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource"
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key-value pairs.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base Resource Object"
        } ]
      },
      "DelegatedProviderOfferList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Continuation token"
          },
          "value" : {
            "type" : "array",
            "description" : "Array of delegated provider offers.",
            "items" : {
              "$ref" : "#/components/schemas/DelegatedProviderOffer"
            }
          }
        },
        "description" : "List of delegated provider offers."
      },
      "DelegatedProviderOfferProperties" : {
        "type" : "object",
        "properties" : {
          "accessibilityState" : {
            "$ref" : "#/components/schemas/AccessibilityState"
          },
          "delegatedOfferId" : {
            "type" : "string",
            "description" : "The delegated offer identifier."
          },
          "description" : {
            "type" : "string",
            "description" : "Description of offer."
          },
          "displayName" : {
            "type" : "string",
            "description" : "Display name of offer."
          },
          "externalReferenceId" : {
            "type" : "string",
            "description" : "External reference identifier."
          },
          "subscriptionCount" : {
            "type" : "integer",
            "description" : "Current subscription count."
          }
        },
        "description" : "Properties for an delegated provider."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 flow"
      }
    }
  }
}