{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SubscriptionsManagementClient",
    "description" : "The Admin Subscriptions Management Client.",
    "version" : "2015-11-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations" : {
      "get" : {
        "tags" : [ "Locations" ],
        "description" : "Get a list of all AzureStack location.",
        "operationId" : "Locations_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocationList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}" : {
      "get" : {
        "tags" : [ "Locations" ],
        "description" : "Get the specified location.",
        "operationId" : "Locations_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "The AzureStack location.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Location"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Locations" ],
        "description" : "Updates the specified location.",
        "operationId" : "Locations_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "The AzureStack location.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "requestBody" : {
          "description" : "The new location",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Location"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/operationsStatus/{operationsStatusName}" : {
      "get" : {
        "tags" : [ "Locations" ],
        "description" : "Get the operation status.",
        "operationId" : "Locations_GetOperationsStatus",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "The AzureStack location.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "operationsStatusName",
          "in" : "path",
          "description" : "The operation status name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-11-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationsStatus"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "Not Content"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ExtendedErrorInfo" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code."
          },
          "details" : {
            "$ref" : "#/components/schemas/ExtendedErrorInfoList"
          },
          "message" : {
            "type" : "string",
            "description" : "The error message."
          }
        },
        "description" : "The extended error information."
      },
      "ExtendedErrorInfoList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of the extended error information.",
            "items" : {
              "$ref" : "#/components/schemas/ExtendedErrorInfo"
            }
          }
        },
        "description" : "List of the extended error information."
      },
      "Location" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "Display name of the location."
          },
          "id" : {
            "type" : "string",
            "description" : "Location identifier."
          },
          "latitude" : {
            "type" : "string",
            "description" : "Latitude of the location."
          },
          "longitude" : {
            "type" : "string",
            "description" : "Longitude of the location."
          },
          "name" : {
            "type" : "string",
            "description" : "Location name."
          }
        },
        "description" : "Contains information about a geographical location where resource providers can be deployed."
      },
      "LocationList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of locations.",
            "items" : {
              "$ref" : "#/components/schemas/Location"
            }
          }
        },
        "description" : "List of locations."
      },
      "OperationsStatus" : {
        "type" : "object",
        "properties" : {
          "endTime" : {
            "type" : "string",
            "description" : "The end time of the operation.",
            "format" : "date-time"
          },
          "error" : {
            "$ref" : "#/components/schemas/ExtendedErrorInfo"
          },
          "id" : {
            "$ref" : "#/components/schemas/OperationsStatusIdentifier"
          },
          "percentComplete" : {
            "type" : "number",
            "description" : "The completion percentage of the operation."
          },
          "properties" : {
            "type" : "object",
            "description" : "The internal operation properties."
          },
          "responseContent" : {
            "type" : "object",
            "description" : "The content of the response."
          },
          "retryAfter" : {
            "type" : "string",
            "description" : "The amount of time clients should wait.."
          },
          "startTime" : {
            "type" : "string",
            "description" : "The start time of the operation.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the operation."
          },
          "terminalHttpStatusCode" : {
            "type" : "string",
            "description" : "The terminal http status code for the operation."
          }
        },
        "description" : "A long running operation status."
      },
      "OperationsStatusIdentifier" : {
        "type" : "object",
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "The location of the operations status."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the operations status."
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "The subscription identifier.."
          }
        },
        "description" : "The admin offer identifier for the location wide SubscriptionsAdminResourceTypes.OperationsStatus resource type."
      }
    },
    "requestBodies" : {
      "NewLocationParameter" : {
        "description" : "The new location",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Location"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 flow"
      }
    }
  }
}