{"openapi":"3.0.1","info":{"title":"Solar VPS","description":"This is the Solar VPS Public API. You can find more at http://www.solarvps.com","contact":{"email":"support@solarvps.com"},"version":"1.0.0"},"servers":[{"url":"http://api.ss.solarvps.com/"}],"tags":[{"name":"contacts","description":"Operations about DNS Records"},{"name":"dns","description":"Operations about DNS Records"},{"name":"domains","description":"Operations about DNS Domains"},{"name":"key","description":"Operations about API Keys"},{"name":"pods","description":"Operations about pods"},{"name":"solarray","description":"Operations about SolarRay Monitoring"},{"name":"tickets","description":"Operations about Support / Billing / Sales Tickets"}],"paths":{"/contacts":{"get":{"tags":["contacts"],"summary":"View all contacts under your account","description":"Shows all contacts under the client account.","responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/dns/{domain}":{"get":{"tags":["dns"],"summary":"View all your records for a given domain","description":"Shows all your records for a specific domain. You can try example.com below.","parameters":[{"name":"domain","in":"path","description":"Domain name you want to get records for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/dns/{domain}/add":{"post":{"tags":["dns"],"summary":"Add dns record for given domain","description":"You can try example.com below. Types allowed are: A CNAME NS TXT MX SRV SPF","parameters":[{"name":"domain","in":"path","description":"Domain you want to add records for","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Fully qualified DNS name","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Type of DNS record","required":true,"schema":{"type":"string"}},{"name":"content","in":"query","description":"Content for DNS record","required":true,"schema":{"type":"string"}},{"name":"ttl","in":"query","description":"Time To Live for DNS record","required":true,"schema":{"type":"string"}},{"name":"prio","in":"query","description":"Priority of DNS record","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/dns/{domain}/delete":{"post":{"tags":["dns"],"summary":"Delete dns record for a given domain","description":"Shows all your records for a specific domain. You can try example.com below.","parameters":[{"name":"domain","in":"path","description":"Domain name you want to get records for","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","description":"Id of the DNS Record","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/dns/{domain}/update":{"post":{"tags":["dns"],"summary":"Update dns record for a given domain","description":"You can try example.com below.","parameters":[{"name":"domain","in":"path","description":"Domain name to add record under","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","description":"Id of DNS record","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Fully qualified name for the DNS record","schema":{"type":"string"}},{"name":"type","in":"query","description":"Type for DNS record","schema":{"type":"string"}},{"name":"content","in":"query","description":"Content for the DNS Record","schema":{"type":"string"}},{"name":"ttl","in":"query","description":"Time To Live for DNS record","schema":{"type":"string"}},{"name":"prio","in":"query","description":"Priority of the DNS record","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/domains":{"get":{"tags":["domains"],"summary":"View all your domains managed by SolarVPS Distributed DNS","description":"Shows all your domains","responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/domains/add":{"post":{"tags":["domains"],"summary":"Add domain to be managed by SolarVPS Distributed DNS","description":"Adds domain to SolarVPS Distributed DNS","parameters":[{"name":"domain","in":"query","description":"Domain to add to SolarVPS Distributed DNS","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/domains/delete":{"post":{"tags":["domains"],"summary":"Delete domain from SolarVPS Distributed DNS","description":"Deletes domain from SolarVPS Distributed DNS","parameters":[{"name":"domain","in":"query","description":"Domain to delete from SolarVPS Distributed DNS","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/key/generate":{"get":{"tags":["key"],"summary":"Generate API Key","description":"API Key is regenerated if it already exists","parameters":[{"name":"username","in":"query","description":"Email address used to login to SolarSystem","required":true,"schema":{"type":"string"}},{"name":"password","in":"query","description":"Password used to login to SolarSystem","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/key/get":{"get":{"tags":["key"],"summary":"Get API Key","description":"Gets the API Key for user","parameters":[{"name":"username","in":"query","description":"Email address used to login to SolarSystem","required":true,"schema":{"type":"string"}},{"name":"password","in":"query","description":"Password used to login to SolarSystem","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/pods":{"get":{"tags":["pods"],"summary":"View all your pods","description":"Shows all your pods","responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/pods/{podId}":{"get":{"tags":["pods"],"summary":"View information on a specific pod","description":"Shows details of a specific pod. Enter 1 below to see an example","parameters":[{"name":"podId","in":"path","description":"Id of the pod you want to perform actions on","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/pods/{podId}/ping":{"get":{"tags":["pods"],"summary":"Ping your specified pod","description":"Returns the ping response from your server.","parameters":[{"name":"podId","in":"path","description":"Id of the pod you want to ping check","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/pods/{podId}/{action}":{"get":{"tags":["pods"],"summary":"Perform action on a specific pod","description":"Allowed actions are reboot, shutdown, boot","parameters":[{"name":"podId","in":"path","description":"Id of the pod you want to perform actions on","required":true,"schema":{"type":"number"}},{"name":"action","in":"path","description":"Action to perform on selected pod","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/solarray":{"get":{"tags":["solarray"],"summary":"View all your monitors","description":"Shows all your monitors","responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/solarray/critical":{"get":{"tags":["solarray"],"summary":"View all your critical notifications","description":"Shows all your critical notifications","responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/tickets":{"get":{"tags":["tickets"],"summary":"View all your tickets","description":"Shows all your tickets","responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/tickets/{department}/add":{"post":{"tags":["tickets"],"summary":"Open ticket with desired department","description":"Available departments are support, billing, sales","parameters":[{"name":"department","in":"path","description":"Department you want to open a ticket with","required":true,"schema":{"type":"string"}},{"name":"subject","in":"query","description":"Subject of the ticket you are opening","required":true,"schema":{"type":"string"}},{"name":"contents","in":"query","description":"Message reply being sent","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/tickets/{ticketId}":{"get":{"tags":["tickets"],"summary":"View details on a specific ticket","description":"Shows all information of a specific ticketId","parameters":[{"name":"ticketId","in":"path","description":"TicketId you want to see","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}},"/tickets/{ticketid}/update":{"post":{"tags":["tickets"],"summary":"Post a reply to a ticket","parameters":[{"name":"ticketid","in":"path","description":"TicketId of the ticket you want to post an update to","required":true,"schema":{"type":"number"}},{"name":"contents","in":"query","description":"Message reply being sent","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}},"security":[{"apiKey":null}]}}},"components":{"securitySchemes":{"apiKey":{"type":"apiKey","name":"api_key","in":"query"}}}}