{"openapi":"3.0.1","info":{"title":"Engagement.ManagementClient","description":"Microsoft Azure Mobile Engagement REST APIs.","version":"2014-12-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.MobileEngagement/appCollections":{"get":{"tags":["AppCollections","List"],"description":"Lists app collections in a subscription.","operationId":"AppCollections_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCollectionListResult"}}}},"default":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.MobileEngagement/checkAppCollectionNameAvailability":{"post":{"description":"Checks availability of an app collection name in the Engagement domain.","operationId":"AppCollections_CheckNameAvailability","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCollectionNameAvailability"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCollectionNameAvailability"}}}},"default":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.MobileEngagement/supportedPlatforms":{"get":{"tags":["List"],"description":"Lists supported platforms for Engagement applications.","operationId":"SupportedPlatforms_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupportedPlatformsListResult"}}}},"default":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps":{"get":{"tags":["Apps","List"],"description":"Lists apps in an appCollection.","operationId":"Apps_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppListResult"}}}},"default":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}":{"get":{"tags":["Campaign","List"],"description":"Get the list of campaigns.","operationId":"Campaigns_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"$skip","in":"query","description":"Control paging of campaigns, start results at the given offset, defaults to 0 (1st page of data).","schema":{"type":"integer"}},{"name":"$top","in":"query","description":"Control paging of campaigns, number of campaigns to return with each call. It returns all campaigns by default. When specifying $top parameter, the response contains a `nextLink` property describing the path to get the next page if there are more results.","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Filter can be used to restrict the results to campaigns matching a specific state. The syntax is `$filter=state eq 'draft'`. Valid state values are: draft, scheduled, in-progress, and finished. Only the eq operator and the state property are supported.","schema":{"type":"string"}},{"name":"$orderby","in":"query","description":"Sort results by an expression which looks like `$orderby=id asc` (this example is actually the default behavior). The syntax is orderby={property} {direction} or just orderby={property}. The available sorting properties are id, name, state, activatedDate, and finishedDate. The available directions are asc (for ascending order) and desc (for descending order). When not specified the asc direction is used. Only one property at a time can be used for sorting.","schema":{"type":"string"}},{"name":"$search","in":"query","description":"Restrict results to campaigns matching the optional `search` expression. This currently performs the search based on the name on the campaign only, case insensitive. If the campaign contains the value of the `search` parameter anywhere in the name, it matches.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success, campaigns are returned as JSON.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignsListResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"post":{"tags":["Campaign","CRUD"],"description":"Create a push campaign (announcement, poll, data push or native push).","operationId":"Campaigns_Create","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Update Campaign operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Campaign"}}},"required":true},"responses":{"201":{"description":"Success, campaign is returned.","headers":{"Location":{"description":"URL path to get the created campaign.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignStateResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n* `409`: Another campaign with the same name already exists.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/test":{"post":{"tags":["Campaign","Test"],"description":"Test a new campaign on a set of devices.","operationId":"Campaigns_TestNew","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}}],"requestBody":{"description":"Parameters supplied to the Test Campaign operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignTestNewParameters"}}},"required":true},"responses":{"200":{"description":"Test campaign queued successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignState"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}":{"get":{"tags":["Campaign","CRUD"],"description":"The Get campaign operation retrieves information about a previously created campaign.","operationId":"Campaigns_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"id","in":"path","description":"Campaign identifier.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success, campaign is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n* `404`: Campaign not found.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"put":{"tags":["Campaign","CRUD"],"description":"Update an existing push campaign (announcement, poll, data push or native push).","operationId":"Campaigns_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"id","in":"path","description":"Campaign identifier.","required":true,"schema":{"type":"integer"}}],"requestBody":{"description":"Parameters supplied to the Update Campaign operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Campaign"}}},"required":true},"responses":{"200":{"description":"Updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignStateResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled or campaign is not in `draft` state.\n* `401`: Authentication error.\n* `404`: Campaign not found.\n* `409`: Another campaign with the same name already exists.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"delete":{"tags":["Campaign","CRUD"],"description":"Delete a campaign previously created by a call to Create campaign.","operationId":"Campaigns_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"id","in":"path","description":"Campaign identifier.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Deleted successfully."},"default":{"description":"* `400`: Invalid parameters or application is disabled or campaign is not in `finished` state.\n* `401`: Authentication error.\n* `404`: Campaign not found.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/activate":{"post":{"tags":["Campaign","Action"],"description":"Activate a campaign previously created by a call to Create campaign.","operationId":"Campaigns_Activate","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"id","in":"path","description":"Campaign identifier.","required":true,"schema":{"type":"integer"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Activated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignStateResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled or campaign not in `draft` state.\n* `401`: Authentication error.\n* `404`: Campaign not found.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/finish":{"post":{"tags":["Campaign","Action"],"description":"Finish a push campaign previously activated by a call to Activate campaign.","operationId":"Campaigns_Finish","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"id","in":"path","description":"Campaign identifier.","required":true,"schema":{"type":"integer"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Finished successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignStateResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled or campaign not in `in progress` state.\n* `401`: Authentication error.\n* `404`: Campaign not found.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/push":{"post":{"tags":["Campaign","Action"],"description":"Push a previously saved campaign (created with Create campaign) to a set of devices.","operationId":"Campaigns_Push","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"id","in":"path","description":"Campaign identifier.","required":true,"schema":{"type":"integer"}}],"requestBody":{"description":"Parameters supplied to the Push Campaign operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignPushParameters"}}},"required":true},"responses":{"200":{"description":"OK, response body includes rejected devices.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignPushResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled or campaign not in `in progress` state or `pushMode` is not `manual`. * `401`: Authentication error.\n* `404`: Campaign not found.\n* `413`: Too many device identifiers (current limit is 1000), or request body too large.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/statistics":{"get":{"tags":["Campaign"],"description":"Get all the campaign statistics.","operationId":"Campaigns_GetStatistics","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"id","in":"path","description":"Campaign identifier.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success, statistics are returned as JSON.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignStatisticsResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n* `404`: Campaign not found.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/suspend":{"post":{"tags":["Campaign","Action"],"description":"Suspend a push campaign previously activated by a call to Activate campaign.","operationId":"Campaigns_Suspend","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"id","in":"path","description":"Campaign identifier.","required":true,"schema":{"type":"integer"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Suspended successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignStateResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled or campaign not in `scheduled` state.\n* `401`: Authentication error.\n* `404`: Campaign not found.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/test":{"post":{"tags":["Campaign","Test"],"description":"Test an existing campaign (created with Create campaign) on a set of devices.","operationId":"Campaigns_TestSaved","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"id","in":"path","description":"Campaign identifier.","required":true,"schema":{"type":"integer"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Test Campaign operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignTestSavedParameters"}}},"required":true},"responses":{"200":{"description":"Test campaign queued successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignStateResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n* `404`: Campaign not found.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaignsByName/{kind}/{name}":{"get":{"tags":["Campaign","CRUD"],"description":"The Get campaign operation retrieves information about a previously created campaign.","operationId":"Campaigns_GetByName","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"path","description":"Campaign kind.","required":true,"schema":{"type":"string","enum":["announcements","polls","dataPushes","nativePushes"]}},{"name":"name","in":"path","description":"Campaign name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success, campaign is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n* `404`: Campaign not found.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices":{"get":{"tags":["Device"],"description":"Query the information associated to the devices running an application.","operationId":"Devices_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of devices to return with each call. Defaults to 100 and cannot return more. Passing a greater value is ignored. The response contains a `nextLink` property describing the URI path to get the next page of results if not all results could be returned at once.","schema":{"type":"integer"}},{"name":"$select","in":"query","description":"By default all `meta` and `appInfo` properties are returned, this property is used to restrict the output to the desired properties. It also excludes all devices from the output that have none of the selected properties. In other terms, only devices having at least one of the selected property being set is part of the results. Examples: - `$select=appInfo` : select all devices having at least 1 appInfo, return them all and don’t return any meta property. - `$select=meta` : return only meta properties in the output. - `$select=appInfo,meta/firstSeen,meta/lastSeen` : return all `appInfo`, plus meta object containing only firstSeen and lastSeen properties. The format is thus a comma separated list of properties to select. Use `appInfo` to select all appInfo properties, `meta` to select all meta properties. Use `appInfo/{key}` and `meta/{key}` to select specific appInfo and meta properties.","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Filter can be used to reduce the number of results. Filter is a boolean expression that can look like the following examples: * `$filter=deviceId gt 'abcdef0123456789abcdef0123456789'` * `$filter=lastModified le 1447284263690L` * `$filter=(deviceId ge 'abcdef0123456789abcdef0123456789') and (deviceId lt 'bacdef0123456789abcdef0123456789') and (lastModified gt 1447284263690L)` The first example is used automatically for paging when returning the `nextLink` property. The filter expression is a combination of checks on some properties that can be compared to their value. The available operators are: * `gt`  : greater than * `ge`  : greater than or equals * `lt`  : less than * `le`  : less than or equals * `and` : to add multiple checks (all checks must pass), optional parentheses can be used. The properties that can be used in the expression are the following: * `deviceId {operator} '{deviceIdValue}'` : a lexicographical comparison is made on the deviceId value, use single quotes for the value. * `lastModified {operator} {number}L` : returns only meta properties or appInfo properties whose last value modification timestamp compared to the specified value is matching (value is milliseconds since January 1st, 1970 UTC). Please note the `L` character after the number of milliseconds, its required when the number of milliseconds exceeds `2^31 - 1` (which is always the case for recent timestamps). Using `lastModified` excludes all devices from the output that have no property matching the timestamp criteria, like `$select`. Please note that the internal value of `lastModified` timestamp for a given property is never part of the results.","schema":{"type":"string"}}],"responses":{"200":{"description":"If successful, the response has a 200 status code and a JSON object describing a collection of devices in the body.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicesQueryResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks":{"get":{"tags":["export","list"],"description":"Get the list of export tasks.","operationId":"ExportTasks_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$skip","in":"query","description":"Control paging of export tasks, start results at the given offset, defaults to 0 (1st page of data).","schema":{"minimum":0,"type":"integer","default":0}},{"name":"$top","in":"query","description":"Control paging of export tasks, number of export tasks to return with each call. By default, it returns all export tasks with a default paging of 20.\nThe response contains a `nextLink` property describing the path to get the next page if there are more results.\nThe maximum paging limit for $top is 40.","schema":{"maximum":40,"minimum":1,"type":"integer","default":20}},{"name":"$orderby","in":"query","description":"Sort results by an expression which looks like `$orderby=taskId asc` (default when not specified).\nThe syntax is orderby={property} {direction} or just orderby={property}.\nProperties that can be specified for sorting: taskId, errorDetails, dateCreated, taskStatus, and dateCreated.\nThe available directions are asc (for ascending order) and desc (for descending order).\nWhen not specified the asc direction is used.\nOnly one orderby property can be specified.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success. Returns a list of export task statuses.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskListResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/activities":{"post":{"tags":["export","crud"],"description":"Creates a task to export activities.","operationId":"ExportTasks_CreateActivitiesTask","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/dateRangeExportTaskParameter"}}},"required":true},"responses":{"202":{"description":"Success. Returns the state of export task.","headers":{"Location":{"description":"Location of the export task state.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/crashes":{"post":{"tags":["export","crud"],"description":"Creates a task to export crashes.","operationId":"ExportTasks_CreateCrashesTask","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/dateRangeExportTaskParameter"}}},"required":true},"responses":{"202":{"description":"Success. Returns the state of export task.","headers":{"Location":{"description":"Location of the export task state.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/errors":{"post":{"tags":["export","crud"],"description":"Creates a task to export errors.","operationId":"ExportTasks_CreateErrorsTask","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/dateRangeExportTaskParameter"}}},"required":true},"responses":{"202":{"description":"Success. Returns the state of export task.","headers":{"Location":{"description":"Location of the export task state.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/events":{"post":{"tags":["export","crud"],"description":"Creates a task to export events.","operationId":"ExportTasks_CreateEventsTask","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/dateRangeExportTaskParameter"}}},"required":true},"responses":{"202":{"description":"Success. Returns the state of export task.","headers":{"Location":{"description":"Location of the export task state.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/feedbackByCampaign":{"post":{"tags":["export","crud"],"description":"Creates a task to export push campaign data for a set of campaigns.","operationId":"ExportTasks_CreateFeedbackTaskByCampaign","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/feedbackByCampaignParameter"}}},"required":true},"responses":{"202":{"description":"Success. Returns the state of export task.","headers":{"Location":{"description":"Location of the export task state.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/feedbackByDate":{"post":{"tags":["export","crud"],"description":"Creates a task to export push campaign data for a date range.","operationId":"ExportTasks_CreateFeedbackTaskByDateRange","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/feedbackByDateRangeParameter"}}},"required":true},"responses":{"202":{"description":"Success. Returns the state of export task.","headers":{"Location":{"description":"Location of the export task state.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/jobs":{"post":{"tags":["export","crud"],"description":"Creates a task to export jobs.","operationId":"ExportTasks_CreateJobsTask","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/dateRangeExportTaskParameter"}}},"required":true},"responses":{"202":{"description":"Success. Returns the state of export task.","headers":{"Location":{"description":"Location of the export task state.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/sessions":{"post":{"tags":["export","crud"],"description":"Creates a task to export sessions.","operationId":"ExportTasks_CreateSessionsTask","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/dateRangeExportTaskParameter"}}},"required":true},"responses":{"202":{"description":"Success. Returns the state of export task.","headers":{"Location":{"description":"Location of the export task state.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/tags":{"post":{"tags":["export","crud"],"description":"Creates a task to export tags.","operationId":"ExportTasks_CreateTagsTask","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskParameter"}}},"required":true},"responses":{"202":{"description":"Success. Returns the state of export task.","headers":{"Location":{"description":"Location of the export task state.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/tokens":{"post":{"tags":["export","crud"],"description":"Creates a task to export tags.","operationId":"ExportTasks_CreateTokensTask","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskParameter"}}},"required":true},"responses":{"202":{"description":"Success. Returns the state of export task.","headers":{"Location":{"description":"Location of the export task state.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/{id}":{"get":{"tags":["export","crud"],"description":"Retrieves information about a previously created export task.","operationId":"ExportTasks_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Export task identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The status of the export task is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/exportTaskResult"}}}},"default":{"description":"* `4xx`: Bad request.\n* `5xx`: Server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/importTasks":{"get":{"tags":["import","list"],"description":"Get the list of import jobs.","operationId":"ImportTasks_List","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$skip","in":"query","description":"Control paging of import jobs, start results at the given offset, defaults to 0 (1st page of data).","schema":{"minimum":0,"type":"integer","default":0}},{"name":"$top","in":"query","description":"Control paging of import jobs, number of import jobs to return with each call. By default, it returns all import jobs with a default paging of 20.\nThe response contains a `nextLink` property describing the path to get the next page if there are more results.\nThe maximum paging limit for $top is 40.","schema":{"maximum":40,"minimum":1,"type":"integer","default":20}},{"name":"$orderby","in":"query","description":"Sort results by an expression which looks like `$orderby=jobId asc` (default when not specified).\nThe syntax is orderby={property} {direction} or just orderby={property}.\nProperties that can be specified for sorting: jobId, errorDetails, dateCreated, jobStatus, and dateCreated.\nThe available directions are asc (for ascending order) and desc (for descending order).\nWhen not specified the asc direction is used.\nOnly one orderby property can be specified.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success, import jobs are returned as JSON.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/importTaskListResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"post":{"tags":["import","crud"],"description":"Creates a job to import the specified data to a storageUrl.","operationId":"ImportTasks_Create","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/importTask"}}},"required":true},"responses":{"201":{"description":"Success, import job is returned.","headers":{"Location":{"description":"URL path to get the created import job.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/importTaskResult"}}}},"202":{"description":"Success, import job is returned.","headers":{"Location":{"description":"URL path to get the created import job.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/importTaskResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/importTasks/{id}":{"get":{"tags":["import","crud"],"description":"The Get import job operation retrieves information about a previously created import job.","operationId":"ImportTasks_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Import job identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success, import job is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/importTaskResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n* `404`: Import job not found.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/tag":{"post":{"tags":["Device"],"description":"Update the tags registered for a set of devices running an application. Updates are performed asynchronously, meaning that a few seconds are needed before the modifications appear in the results of the Get device command.\n","operationId":"Devices_TagByDeviceId","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTagsParameters"}}},"required":true},"responses":{"200":{"description":"Success, invalid device identifiers are returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTagsResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n* `413`: Can be caused by having too many device identifiers (current limit is 1000).\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/{deviceId}":{"get":{"tags":["Device"],"description":"Get the information associated to a device running an application.","operationId":"Devices_GetByDeviceId","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","description":"Device identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success, device is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Device"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n* `404`: Device not found.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/users/tag":{"post":{"tags":["Device"],"description":"Update the tags registered for a set of users running an application. Updates are performed asynchronously, meaning that a few seconds are needed before the modifications appear in the results of the Get device command.\n","operationId":"Devices_TagByUserId","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTagsParameters"}}},"required":true},"responses":{"200":{"description":"Success, invalid user identifiers are returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTagsResult"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n* `413`: Can be caused by having too many user identifiers (current limit is 1000).\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/users/{userId}":{"get":{"tags":["Device"],"description":"Get the information associated to a device running an application using the user identifier.","operationId":"Devices_GetByUserId","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"appCollection","in":"path","description":"Application collection.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"Application resource name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","description":"User identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success, device is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Device"}}}},"default":{"description":"* `400`: Invalid parameters or application is disabled. Check response body for details.\n* `401`: Authentication error.\n* `404`: User not found.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}}},"components":{"schemas":{"AnnouncementFeedbackCriterion":{"description":"Used to target devices who received an announcement.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"action":{"type":"string","description":"Action that was performed on the announcement.","enum":["pushed","replied","actioned","exited"]},"content-id":{"type":"integer","description":"The unique identifier of the announcement."}}}]},"ApiError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}},"App":{"properties":{"properties":{"$ref":"#/components/schemas/AppProperties"}},"description":"The Mobile Engagement App resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"AppCollection":{"properties":{"properties":{"$ref":"#/components/schemas/AppCollectionProperties"}},"description":"The AppCollection resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"AppCollectionListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"When the results are paged, the nextLink is the URI for the next page of results. This property is empty when there are no additional pages."},"value":{"type":"array","description":"The list of AppCollections and their properties.","items":{"$ref":"#/components/schemas/AppCollection"}}},"description":"The list AppCollections operation response."},"AppCollectionNameAvailability":{"type":"object","properties":{"available":{"type":"boolean","description":"Available."},"name":{"type":"string","description":"Name."},"unavailabilityReason":{"type":"string","description":"UnavailabilityReason."}}},"AppCollectionProperties":{"type":"object","properties":{"provisioningState":{"type":"string","description":"Mobile Engagement AppCollection Properties.","enum":["Creating","Succeeded"]}}},"AppInfoFilter":{"description":"Send only to users who have some app info set. This is a special filter that is automatically added if your campaign contains appInfo parameters. It is not intended to be public and should not be used as it could be removed or replaced by the API.\n","allOf":[{"$ref":"#/components/schemas/Filter"},{"type":"object","properties":{"appInfo":{"type":"array","description":"An array containing all the required appInfo.","items":{"type":"string"}}}}]},"AppListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"When the results are paged, the nextLink is the URI for the next page of results. This property is empty when there are no additional pages."},"value":{"type":"array","description":"The list of Apps and their properties.","items":{"$ref":"#/components/schemas/App"}}},"description":"The list Apps operation response."},"AppProperties":{"type":"object","properties":{"appState":{"type":"string","description":"The state of the application."},"backendId":{"type":"string","description":"The application unique identifier."},"platform":{"type":"string","description":"The platform of the app."}}},"ApplicationVersionCriterion":{"description":"Used to target devices based on the version of the application they are using.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"name":{"type":"string","description":"The application version."}}}]},"BooleanTagCriterion":{"description":"Target devices based on a boolean tag value.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"name":{"type":"string","description":"The name of the custom tag."},"value":{"type":"boolean","description":"A custom boolean value to match."}}}]},"Campaign":{"properties":{"audience":{"type":"object","properties":{"criteria":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Criterion"},"description":"Criteria by name."},"expression":{"type":"string","description":"Boolean expression made of criteria (variables) operators (`not`, `and` or `or`) and parenthesis. Criterion names in the audience expression must start with a capital letter and can only contain alphanumeric (A-Z,a-z,0-9) and underscore (_) characters.\n"},"filters":{"type":"array","description":"Global filters applied to all devices.","items":{"$ref":"#/components/schemas/Filter"}}},"description":"Specify which users will be targeted by this campaign. By default, all users will be targeted. If you set `pushMode` property to `manual`, the only thing you can specify in the audience is the push quota filter. An audience is a boolean expression made of criteria (variables) operators (`not`, `and` or `or`) and parenthesis. Additionally, a set of filters can be added to an audience. 65535 bytes max as per JSON encoding.\n"},"category":{"maxLength":64,"type":"string","description":"Category of the campaign. Categories can be used on the application side to customize campaigns."},"deliveryActivities":{"type":"array","description":"Announcements/polls only. Array containing the list of activities in which the campaign can be delivered. deliveryTime must be set to session. If the platform is iOS, this option can also be set if deliveryTime is set to any. In that case, if the campaign is received when the application is launched, it will be delivered only in the specified list of activities.\n","items":{"type":"string"}},"deliveryTime":{"type":"string","description":"Announcements/polls only. Defines when the campaign should be delivered. Valid values are: * `any`: Campaign will be delivered as soon as possible. * `background`: iOS only. Campaign will be only delivered when the application is in background (out of app). * `session`: Campaign will be delivered when the application is running.\n","enum":["any","background","session"]},"endTime":{"type":"string","description":"The date at which the campaign should be finished. The date shall conform to the following format: `yyyy-MM-ddTHH:mm:ssZ`. Example: `2011-11-21 15:23Z`\n"},"localization":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CampaignLocalization"},"description":"Push campaigns can be localized using an optional JSON object. The JSON key is a two-character language code as specified by the ISO 639-1 standard. The corresponding value is an object containing the localizable properties.\n"},"name":{"maxLength":64,"type":"string","description":"Unique name of the campaign."},"notificationBadge":{"type":"boolean","description":"A flag indicating whether or not you want the native Apple Push notification to update the badge icon to the number of unread messages. The `deliveryTime` property must be set to `any` or `background`.\n","default":false},"notificationCloseable":{"type":"boolean","description":"A flag indicating whether or not you want the notification to be closeable.","default":true},"notificationIcon":{"type":"boolean","description":"A flag indicating whether or not you want to display the resource icon in notification content.","default":true},"notificationSound":{"type":"boolean","description":"* `Android`: A flag indicating whether or not you want the system notification to make a sound. The `notificationType` property must be set to `system`. * `iOS`: A flag indicating whether or not you want the native Apple Push notification to make a sound. The `deliveryTime` property must be set to `any` or `background`. This will play the 'default' sound. If you want to play a custom sound, see the `notificationOptions` property. * `Windows`: A flag indicating whether or not you want the native Windows Notification Service to make a sound. The `deliveryTime` property must be set to `any`.\n","default":false},"notificationType":{"type":"string","description":"Android only. Defines how the notification should be displayed. Valid values are: * `system`: Display the notification using a standard system notification. * `popup`: Display the notification using a in-app banner notification.\n","default":"popup","enum":["system","popup"]},"notificationVibrate":{"type":"boolean","description":"Android only. A flag indicating whether or not you want the system notification to make a vibration. The notificationType property must be set to system.","default":false},"pushMode":{"type":"string","description":"Announcements/polls only. Defines how the campaign is pushed. Valid values are: * `real-time`: Never ending campaign, the campaign will be delivered  to your existing users and also to your new users. * `one-shot`: In this mode, the campaign will be delivered only to your existing users (campaign will stop after that). * `manual`: In this mode, the campaign will not be pushed automatically to devices. You will have to use the Push campaign command to push the campaign to your end-users. Campaigns can be pushed multiple times to the same device.\n","default":"real-time","enum":["real-time","one-shot","manual"]},"questions":{"type":"array","description":"Poll questions.","items":{"$ref":"#/components/schemas/PollQuestion"}},"startTime":{"type":"string","description":"The date at which the campaign should be started. The date shall conform to the following format: `yyyy-MM-ddTHH:mm:ssZ`. * If you set pushMode property to manual, this attribute will be ignored. * If you set pushMode property to one-shot, then the timezone attribute must be specified. Example: `2011-11-21 15:23Z`\n"},"timezone":{"type":"string","description":"The id of the time zone to use for the startTime and endTime dates. If not provided, the two date attributes will be expressed using the device timezone. Example: America/Los_Angeles\n"},"type":{"type":"string","description":"Applicable only to announcements and data pushes. Type of announcement. Valid values are: * `text/plain`: Text-only announcement: `body` property should only contain plain text. * `text/html`: HTML announcement: `body` attribute can contain HTML code. * `only_notif`: Notification-only announcement. With this kind of announcements, the `body`, `title`, `actionButtonText` and `exitButtonText` are ignored. Type of data push. Valid values are: * `text/plain`: Text only data push: `body` property must be plain text. * `text/base64`: Base 64 data push: `body` property must be encoded in base 64.\n","enum":["text/plain","text/html","only_notif","text/base64"]}},"allOf":[{"$ref":"#/components/schemas/CampaignLocalization"}]},"CampaignListResult":{"properties":{"activatedDate":{"type":"string","description":"The date at which the campaign was activated (Not present if not yet activated). The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n","format":"date-time"},"endTime":{"type":"string","description":"The date at which the campaign should be finished if specified. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard. Applicable only to announcements and polls.\n","format":"date-time"},"finishedDate":{"type":"string","description":"The date at which the campaign was finished (Not present if not yet finished). The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n","format":"date-time"},"name":{"type":"string","description":"Name of the campaign."},"startTime":{"type":"string","description":"The date at which the campaign should be started if specified. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard. Applicable only to announcements and polls.\n","format":"date-time"},"timezone":{"type":"string","description":"The id of the time zone to use for the `startTime` and `endTime` dates. If not provided, the two date attributes are referencing to the device timezone. Applicable only to announcements and polls.\n"}},"allOf":[{"$ref":"#/components/schemas/CampaignStateResult"}]},"CampaignLocalization":{"type":"object","properties":{"actionButtonText":{"maxLength":64,"type":"string","description":"Text of the action button for text/web announcements and polls (answer button)."},"actionUrl":{"maxLength":2000,"type":"string","description":"URL to launch when the announcement is actioned."},"body":{"maxLength":65535,"type":"string","description":"Body of the text/web announcement, poll or data push. This field supports appInfo markers."},"exitButtonText":{"maxLength":64,"type":"string","description":"Text of the exit button for text/web announcements and polls."},"notificationImage":{"maxLength":65535,"pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","type":"string","description":"Optional image encoded in base 64. Usually included in the right part of in app notifications (or as a banner if there is neither text nor content icon). For Android system notifications, the image is used as the large icon (displayed only on Android 3+).\n","format":"byte"},"notificationMessage":{"maxLength":4000,"type":"string","description":"Message of the notification. This field supports appInfo markers."},"notificationOptions":{"$ref":"#/components/schemas/NotificationOptions"},"notificationTitle":{"maxLength":2000,"type":"string","description":"Title of the notification. This field supports appInfo markers."},"payload":{"type":"object","description":"Native push payload."},"title":{"maxLength":128,"type":"string","description":"Title of the announcement or poll. This field supports appInfo markers."}}},"CampaignPushParameters":{"required":["deviceIds"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/Campaign"},"deviceIds":{"type":"array","description":"Device identifiers to push as a JSON array of strings. Note that if you want to push the same campaign several times to the same device, you need to make several API calls.\n","items":{"type":"string"}}}},"CampaignPushResult":{"type":"object","properties":{"invalidDeviceIds":{"type":"array","description":"A JSON array containing all identifiers that have been rejected. A device can be rejected for the following reasons: * The device hasn’t reported any session yet. * The device is over quota (if a push quota filter is applied on your campaign). Please note that if the request parameters are valid but all the specified devices are rejected, the status code is still `200` with a response including all the devices as being rejected.\n","items":{"type":"string"}}}},"CampaignResult":{"properties":{"activatedDate":{"type":"string","description":"The date at which the campaign was activated (Not present if not yet activated). The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard.\n","format":"date-time"},"finishedDate":{"type":"string","description":"The date at which the campaign was finished (Not present if not yet finished). The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard.\n","format":"date-time"},"id":{"type":"integer","description":"Campaign identifier."},"state":{"type":"string","description":"State of the campaign, or 'queued' when testing a campaign.","enum":["draft","scheduled","in-progress","finished","queued"]}},"allOf":[{"$ref":"#/components/schemas/Campaign"}]},"CampaignState":{"type":"object","properties":{"state":{"type":"string","description":"State of the campaign, or 'queued' when testing a campaign.","enum":["draft","scheduled","in-progress","finished","queued"]}}},"CampaignStateResult":{"properties":{"id":{"type":"integer","description":"Campaign identifier."}},"allOf":[{"$ref":"#/components/schemas/CampaignState"}]},"CampaignStatisticsResult":{"type":"object","properties":{"answers":{"type":"object","additionalProperties":{"type":"object"},"description":"Poll specific statistics."},"content-actioned":{"type":"integer","description":"Number of times the campaign’s content view was actioned (Not present in case of a notification-only announcement or a native-push)."},"content-displayed":{"type":"integer","description":"Number of times the campaign’s content view was displayed (Not present in case of a notification-only announcement, a data-push or a native-push)."},"content-exited":{"type":"integer","description":"Number of times the campaign’s content view was exited (Not present in case of a notification-only announcement or a native-push)."},"delivered":{"type":"integer","description":"Number of times the campaign was received by the application (Not present in case of a native-push)."},"dropped":{"type":"integer","description":"Number of times the campaign was dropped by the application. It can happen if the SDK failed to parse the campaign payload or if an error occurred while trying to notify the end-user (Not present in case of a native-push)."},"in-app-notification-actioned":{"type":"integer","description":"Number of times the in-app notification was actioned (Not present in case of a data-push or a native-push)."},"in-app-notification-displayed":{"type":"integer","description":"Number of times the in-app notification was displayed (Not present in case of a data-push or a native-push)."},"in-app-notification-exited":{"type":"integer","description":"Number of times the in-app notification was exited (Not present in case of a data-push or a native-push)."},"pushed":{"type":"integer","description":"Number of pushes performed."},"pushed-native":{"type":"integer","description":"Total number of native pushes. Information only available on Android, iOS, Windows Phone and Windows applications."},"pushed-native-adm":{"type":"integer","description":"Number of ADM pushes (available only on Android applications)."},"pushed-native-google":{"type":"integer","description":"Number of C2DM/GCM pushes (available only on Android applications)."},"queued":{"type":"integer","description":"Number of times the campaign was registered to be pushed."},"system-notification-actioned":{"type":"integer","description":"Number of times the system notification (On Android it corresponds to a status bar notification. On iOS, it is the Apple Push notification) was actioned."},"system-notification-displayed":{"type":"integer","description":"Number of times the system notification was displayed (Not present in case of a data-push or a native-push). On Android it corresponds to a status bar notification."},"system-notification-exited":{"type":"integer","description":"Number of times the system notification was exited (Not present in case of a data-push or a native-push)."}}},"CampaignTestNewParameters":{"properties":{"data":{"$ref":"#/components/schemas/Campaign"}},"allOf":[{"$ref":"#/components/schemas/CampaignTestSavedParameters"}]},"CampaignTestSavedParameters":{"required":["deviceId"],"type":"object","properties":{"deviceId":{"type":"string","description":"Device identifier (as returned by the SDK)."},"lang":{"type":"string","description":"The language to test expressed using ISO 639-1 code. The default language of the campaign will be used if the parameter is not provided."}}},"CampaignType":{"type":"string","description":"Campaign type.","enum":["Announcement","DataPush","NativePush","Poll"]},"CampaignsListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"When using `top` parameter and if partial results are returned, this property describes a URI path to get the next results. This property is not set when reaching the last page."},"value":{"type":"array","description":"The list of campaigns.","items":{"$ref":"#/components/schemas/CampaignListResult"}}},"description":"The campaigns list result."},"CarrierCountryCriterion":{"description":"Used to target devices based on their carrier country.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"name":{"type":"string","description":"Two-characters country code (ISO 3166-1)."}}}]},"CarrierNameCriterion":{"description":"Used to target devices based on their carrier name.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"name":{"type":"string","description":"Carrier name value."}}}]},"Criterion":{"required":["type"],"type":"object","properties":{"type":{"type":"string"}},"discriminator":{"propertyName":"type"}},"DatapushFeedbackCriterion":{"description":"Used to target devices who received a data push.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"action":{"type":"string","description":"Action that was performed on the data push (action depends on the return value in the callbacks you declared in the client code).\n","enum":["pushed","replied","actioned","exited"]},"content-id":{"type":"integer","description":"The unique identifier of the data push."}}}]},"DateTagCriterion":{"description":"Target devices based on a date tag value.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"name":{"type":"string","description":"The name of the custom tag."},"op":{"type":"string","description":"comparison operator: `EQ` (equal to), `LT` (less than), `GT` (greater than), `LE` (less than or equal to) or `GE` (greater than or equal to).","enum":["EQ","LT","GT","LE","GE"]},"value":{"type":"string","description":"It can be either: * an absolute date using yyyy-MM-dd format (e.g. 1969-12-07 stands for 7 Dec 1969). * an offset in days relative to the current day (`TODAY` + `value`).\n","format":"date"}}}]},"Device":{"required":["deviceId"],"type":"object","properties":{"appInfo":{"type":"object","additionalProperties":{"type":"string"},"description":"Also known as tags, a key-value set as a JSON object."},"deviceId":{"type":"string","description":"The device result."},"info":{"$ref":"#/components/schemas/DeviceInfo"},"location":{"$ref":"#/components/schemas/DeviceLocation"},"meta":{"$ref":"#/components/schemas/DeviceMeta"}}},"DeviceInfo":{"type":"object","properties":{"androidAPILevel":{"type":"integer","description":"Android API level."},"applicationVersionCode":{"type":"integer","description":"Application version code."},"applicationVersionName":{"type":"string","description":"Application version name."},"carrierCountry":{"type":"string","description":"Carrier country."},"carrierName":{"type":"string","description":"Carrier name."},"firmwareName":{"type":"string","description":"Firmware name."},"firmwareVersion":{"type":"string","description":"Firmware version."},"locale":{"type":"string","description":"Locale code."},"networkSubtype":{"type":"string","description":"Network sub-type."},"networkType":{"type":"string","description":"Network type."},"phoneManufacturer":{"type":"string","description":"Phone manufacturer"},"phoneModel":{"type":"string","description":"Phone model."},"serviceVersion":{"type":"string","description":"SDK version."},"timeZoneOffset":{"type":"integer","description":"The offset in minutes from UTC for the device time zone, including daylight savings time."}}},"DeviceLocation":{"type":"object","properties":{"countrycode":{"type":"string","description":"The ISO 3166 two-letter country code."},"locality":{"type":"string","description":"A locality within the administrative region, such as a town or city."},"region":{"type":"string","description":"An administrative region of the nation, such as a state or province."}}},"DeviceManufacturerCriterion":{"description":"Used to target devices based on the device manufacturer.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"name":{"type":"string","description":"The device manufacturer."}}}]},"DeviceMeta":{"type":"object","properties":{"firstSeen":{"type":"integer","description":"First time the device used the application in milliseconds since January 1st, 1970 UTC.","format":"int64"},"lastInfo":{"type":"integer","description":"Timestamp corresponding to the info object in milliseconds since January 1st, 1970 UTC.","format":"int64"},"lastLocation":{"type":"integer","description":"Timestamp corresponding to the location object in milliseconds since January 1st, 1970 UTC.","format":"int64"},"lastSeen":{"type":"integer","description":"Last time the device used the application in milliseconds since January 1st, 1970 UTC.","format":"int64"},"nativePushEnabled":{"type":"boolean","description":"Boolean indicating if native push notifications (like Android’s GCM or Apple’s APNS) are enabled for the application. This boolean is set to true when the application registers successfully to the native push service, and set to false when the native push service reports to Mobile Engagement that the application can no longer be pushed (which means that it has been uninstalled). This report is performed a few hours after Mobile Engagement has tried to perform a native push to a device on which the application has been uninstalled."}}},"DeviceModelCriterion":{"description":"Used to target devices based on the device model.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"name":{"type":"string","description":"The device model."}}}]},"DeviceQueryResult":{"required":["deviceId"],"type":"object","properties":{"appInfo":{"type":"object","additionalProperties":{"type":"string"},"description":"Also known as tags, a key-value set as a JSON object."},"deviceId":{"type":"string","description":"The device result."},"meta":{"$ref":"#/components/schemas/DeviceMeta"}}},"DeviceTagsParameters":{"required":["tags"],"type":"object","properties":{"deleteOnNull":{"type":"boolean","description":"If this parameter is `true`, tags with a null value will be deleted.","default":false},"tags":{"type":"object","description":"A JSON object describing the set of tags to record for a set of users. Each key is a device/user identifier, each value is itself a key/value set: the tags to set for the specified device/user identifier.\n"}}},"DeviceTagsResult":{"required":["invalidIds"],"type":"object","properties":{"invalidIds":{"type":"array","description":"A JSON array containing all identifiers that have been rejected. Please note that if the request parameters are valid but all the specified devices are rejected, the status code is still `200` with a response including all the devices as being rejected.\n","items":{"type":"string"}}}},"DevicesQueryResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"If partial results are returned, this property describes a URI path to get the next result page."},"value":{"type":"array","description":"The list of devices.","items":{"$ref":"#/components/schemas/DeviceQueryResult"}}},"description":"The campaigns list result."},"EngageActiveUsersFilter":{"description":"Send only to users who have used the app in the last {threshold} days.","allOf":[{"$ref":"#/components/schemas/Filter"},{"type":"object","properties":{"threshold":{"type":"integer","description":"An integer value representing the threshold to apply on this filter."}}}]},"EngageIdleUsersFilter":{"description":"Send only to users who haven't used the app in the last {threshold} days.","allOf":[{"$ref":"#/components/schemas/Filter"},{"type":"object","properties":{"threshold":{"type":"integer","description":"An integer value representing the threshold to apply on this filter."}}}]},"EngageNewUsersFilter":{"description":"Send only to users whose first app use is less than {threshold} days old.","allOf":[{"$ref":"#/components/schemas/Filter"},{"type":"object","properties":{"threshold":{"type":"integer","description":"An integer value representing the threshold to apply on this filter."}}}]},"EngageOldUsersFilter":{"description":"Send only to users whose first app use is more than {threshold} days old.","allOf":[{"$ref":"#/components/schemas/Filter"},{"type":"object","properties":{"threshold":{"type":"integer","description":"An integer value representing the threshold to apply on this filter."}}}]},"EngageSubsetFilter":{"description":"Send only to a maximum of max users.","allOf":[{"$ref":"#/components/schemas/Filter"},{"type":"object","properties":{"max":{"type":"integer","description":"An integer value representing the maximum users that should be pushed."}}}]},"Filter":{"required":["type"],"type":"object","properties":{"type":{"type":"string"}},"discriminator":{"propertyName":"type"}},"FirmwareVersionCriterion":{"description":"Used to target devices based on their firmware version.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"name":{"type":"string","description":"Firmware version."}}}]},"GeoFencingCriterion":{"description":"Used to target devices based on a specific region. A center point (defined by a latitude and longitude) and a radius form the boundary for the region. This criterion will be met when the user crosses the boundaries of the region.\n","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"expiration":{"type":"integer","description":"Number of minutes before device location is considered to be expired."},"lat":{"type":"number","description":"The latitude of the central point of the region."},"lon":{"type":"number","description":"The longitude of the central point of the region."},"radius":{"type":"integer","description":"The radius of the central point of the region, in meters."}}}]},"IntegerTagCriterion":{"description":"Target devices based on an integer tag value.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"name":{"type":"string","description":"The name of the custom tag."},"op":{"type":"string","description":"comparison operator: `EQ` (equal to), `LT` (less than), `GT` (greater than), `LE` (less than or equal to) or `GE` (greater than or equal to).","enum":["EQ","LT","GT","LE","GE"]},"value":{"type":"integer","description":"A custom integer value to match."}}}]},"LanguageCriterion":{"description":"Used to target devices based on the language of their device.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"name":{"type":"string","description":"Two character language code (ISO 639-1)."}}}]},"LocationCriterion":{"description":"Used to target devices based on their last know area.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"required":["country"],"type":"object","properties":{"country":{"type":"string","description":"Two character country code where the user is located (ISO 3166-1)."},"locality":{"type":"string","description":"A locality within the administrative region, such as a town or city."},"region":{"type":"string","description":"An administrative region of the country, such as a state or province."}}}]},"NativePushEnabledFilter":{"description":"Engage only users with native push enabled.","allOf":[{"$ref":"#/components/schemas/Filter"}]},"NetworkTypeCriterion":{"description":"Used to target devices based their network type.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"name":{"type":"string","description":"The network type (Wifi, Mobile...)."}}}]},"NotificationOptions":{"type":"object","properties":{"actionText":{"type":"string","description":"The action text is the title of the right button of the alert or the value of the unlock slider, where the value replaces 'unlock' in 'slide to unlock'. 'View' (localized to the preferred language) is used as the default value. The `deliveryTime` property must be set to `any` or `background`.\n"},"bigPicture":{"maxLength":2000,"type":"string","description":"URL of a remote image displayed in expanded notifications on\nAndroid 4.1+ devices with the following constraints:\n* The URL length is limited to 2000 characters.\n* The image size must be less than 4 MiB.\n* The following MIME types are supported:\n** image/png\n** image/jpeg\n** image/gif\n** image/webp\n** image/bmp\n** image/x-bmp\n** image/x-ms-bmp\n* URL scheme must be HTTP or HTTPS (with valid SSL certificate).\n* Incompatible with `bigText`, only one of the fields can be set.\n* The `notificationType` property must be set to `system`.\n"},"bigText":{"maxLength":4000,"type":"string","description":"Android 4.1+ only. Multi line message shown in expanded notifications on Android 4.1+ devices. The `notificationType` property must be set to `system`.\n"},"sound":{"type":"string","description":"iOS only. The name of a sound file in the application bundle. The sound in this file is played as an alert. If the sound file doesn’t exist or default is specified as the value, the default alert sound is played. The audio must be in one of the audio data formats that are compatible with system sounds. The `deliveryTime` property must be set to `any` or `background`.\n"}}},"PollAnswerFeedbackCriterion":{"description":"Used to target devices who answered X to a given question.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"choice-id":{"type":"integer","description":"The unique identifier of the choice."},"content-id":{"type":"integer","description":"The unique identifier of the poll."}}}]},"PollFeedbackCriterion":{"description":"Used to target devices who received a poll.","allOf":[{"$ref":"#/components/schemas/Criterion"},{"type":"object","properties":{"action":{"type":"string","description":"Action that was performed on the
[...]
