{"openapi":"3.0.1","info":{"title":"agentOS API V3, Maintenance Call Group","version":"v3-maintenance"},"servers":[{"url":"https://live-api.letmc.com/"}],"paths":{"/v3/maintenance/{shortName}/maintenance/{branchID}/createmaintenancejob":{"post":{"tags":["MaintenanceController"],"summary":"Create a maintenance job for a specific branch","operationId":"MaintenanceController_CreateMaintenanceJob","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"branchID","in":"path","description":"The unique ID of the Branch","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"A JSON object containing details of the maintenance job","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceIssueModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/MaintenanceIssueModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MaintenanceIssueModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/MaintenanceIssueModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/MaintenanceIssueModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}}},"components":{"schemas":{"MaintenanceDocumentModel":{"type":"object","properties":{"MimeType":{"type":"string","description":"The document Mime Type"},"URL":{"type":"string","description":"The document URL (This has to be public)"}},"description":"Submission Model - Handles all the fields required to attach documents to an online maintenance job"},"MaintenanceIssueModel":{"type":"object","properties":{"Documents":{"type":"array","description":"Documents linked to a submitted maintenance job","items":{"$ref":"#/components/schemas/MaintenanceDocumentModel"}},"ExternalID":{"type":"string","description":"ID used externally to manage jobs before sending to the system. This has a 10 character limit."},"IssueFault":{"type":"string","description":"The fault title if applicable"},"IssueNotes":{"type":"string","description":"Fault notes"},"IssuePriority":{"type":"string","description":"The priority of the job (Defaults to 'Low' if incorrect value or empty)","enum":["Low","Medium","High"]},"IssueTitle":{"type":"string","description":"The title of the issue"},"PropertyAddress1":{"type":"string","description":"The first line of the property address"},"PropertyAddress2":{"type":"string","description":"The second line of the property address"},"PropertyAddress3":{"type":"string","description":"The third line of the property address"},"PropertyAddress4":{"type":"string","description":"The forth line of the property address"},"PropertyCountry":{"type":"string","description":"The country the property is located"},"PropertyPostcode":{"type":"string","description":"The property postcode"},"ReportedAt":{"type":"string","description":"The date the job was reported","format":"date-time"},"TenantEMailAddress":{"type":"string","description":"The email address of the Tenant"},"TenantForename":{"type":"string","description":"The forename of the Tenant"},"TenantPhonePrimary":{"type":"string","description":"The primary phone number of the Tenant"},"TenantPhoneSecondary":{"type":"string","description":"The secondary phone number of the Tenant"},"TenantPresenceRequested":{"type":"boolean","description":"Is the Tenant’s presence requested during the maintenance visit? (Defaults to “false” if incorrect value or empty)"},"TenantSurname":{"type":"string","description":"The surname of the Tenant"},"TenantTitle":{"type":"string","description":"The title of the Tenant"}},"description":"Submission Model - Handles all fields required to submit an online maintenance job"},"Object":{"type":"object"}},"securitySchemes":{"apiKey":{"type":"apiKey","description":"ApiKey Authentication","name":"ApiKey","in":"header"},"basic":{"type":"http","description":"Basic HTTP Authentication","scheme":"basic"}}}}