{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DeploymentAdminClient",
    "description" : "Deployment Admin Client.",
    "version" : "2019-01-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages" : {
      "get" : {
        "tags" : [ "ProductPackages" ],
        "description" : "Returns an array of product packages.",
        "operationId" : "ProductPackages_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductPackagesList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{productId}" : {
      "get" : {
        "tags" : [ "ProductPackages" ],
        "description" : "Retrieves the specific product package details.",
        "operationId" : "ProductPackages_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productId",
          "in" : "path",
          "description" : "The product identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductPackage"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "put" : {
        "tags" : [ "ProductPackages" ],
        "description" : "Creates a new product package.",
        "operationId" : "ProductPackages_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productId",
          "in" : "path",
          "description" : "The product identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductPackage"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      },
      "delete" : {
        "tags" : [ "ProductPackages" ],
        "description" : "Deletes a product package.",
        "operationId" : "ProductPackages_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productId",
          "in" : "path",
          "description" : "The product identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2019-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "FileContainerId" : {
        "type" : "string",
        "description" : "File container resource identifier containing product manifest."
      },
      "ProductLink" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "Displayed name of product."
          },
          "uri" : {
            "type" : "string",
            "description" : "URI to product."
          }
        },
        "description" : "Link to a product."
      },
      "ProductLinks" : {
        "type" : "array",
        "description" : "List of product links.",
        "items" : {
          "$ref" : "#/components/schemas/ProductLink"
        }
      },
      "ProductPackage" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ProductPackageProperties"
          }
        },
        "description" : "Properties for a product package.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "ID of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of Resource.",
              "readOnly" : true
            }
          },
          "description" : "Object model of azure resource manager base."
        } ]
      },
      "ProductPackageProperties" : {
        "type" : "object",
        "properties" : {
          "fileContainerId" : {
            "$ref" : "#/components/schemas/FileContainerId"
          },
          "isDeployable" : {
            "type" : "boolean",
            "description" : "Value indicating whether the package is applicable for deployment."
          },
          "isUpdatable" : {
            "type" : "boolean",
            "description" : "Value indicating whether the package is applicable for update."
          },
          "productDeploymentId" : {
            "type" : "string",
            "description" : "The identifier of product deployment; null if this version is not installed."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "Provisioning state of the resource."
          }
        },
        "description" : "Properties for Product package."
      },
      "ProductPackagesList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Continuation Token."
          },
          "value" : {
            "type" : "array",
            "description" : "List of product packages.",
            "items" : {
              "$ref" : "#/components/schemas/ProductPackage"
            }
          }
        },
        "description" : "List of product packages."
      },
      "ProductProperties" : {
        "type" : "object",
        "properties" : {
          "version" : {
            "type" : "string",
            "description" : "The version of the product"
          }
        },
        "description" : "Additional properties of the product"
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}