{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Mixed Reality",
    "description" : "Mixed Reality Resource Provider Proxy API",
    "version" : "2019-12-02-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.MixedReality/operations" : {
      "get" : {
        "tags" : [ "Proxy" ],
        "description" : "Exposing Available Operations",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationPage"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "code", "message" ],
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "String that can be used to programmatically identify the error."
                    },
                    "details" : {
                      "type" : "string",
                      "description" : "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Describes the error in detail and provides debugging information"
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "The target of the particular error"
                    }
                  },
                  "description" : "Response on Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/locations/{location}/checkNameAvailability" : {
      "post" : {
        "tags" : [ "Proxy" ],
        "description" : "Check Name Availability for local uniqueness",
        "operationId" : "CheckNameAvailabilityLocal",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "The location in which uniqueness will be verified.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Check Name Availability Request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckNameAvailabilityRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckNameAvailabilityResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "code", "message" ],
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "String that can be used to programmatically identify the error."
                    },
                    "details" : {
                      "type" : "string",
                      "description" : "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Describes the error in detail and provides debugging information"
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "The target of the particular error"
                    }
                  },
                  "description" : "Response on Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CheckNameAvailabilityRequest" : {
        "required" : [ "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Resource Name To Verify"
          },
          "type" : {
            "type" : "string",
            "description" : "Fully qualified resource type which includes provider namespace"
          }
        },
        "description" : "Check Name Availability Request"
      },
      "CheckNameAvailabilityResponse" : {
        "required" : [ "nameAvailable" ],
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "detail message"
          },
          "nameAvailable" : {
            "$ref" : "#/components/schemas/NameAvailability"
          },
          "reason" : {
            "$ref" : "#/components/schemas/NameUnavailableReason"
          }
        },
        "description" : "Check Name Availability Response"
      },
      "NameAvailability" : {
        "type" : "string",
        "description" : "Whether or not the name is available.",
        "enum" : [ "true", "false" ]
      },
      "NameUnavailableReason" : {
        "type" : "string",
        "description" : "reason of name unavailable.",
        "enum" : [ "Invalid", "AlreadyExists" ]
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/OperationDisplay"
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}"
          }
        },
        "description" : "REST API operation"
      },
      "OperationDisplay" : {
        "required" : [ "description", "operation", "provider", "resource" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description of operation"
          },
          "operation" : {
            "type" : "string",
            "description" : "Operation type: Read, write, delete, etc."
          },
          "provider" : {
            "type" : "string",
            "description" : "Service provider: Microsoft.ResourceProvider"
          },
          "resource" : {
            "type" : "string",
            "description" : "Resource on which the operation is performed: Profile, endpoint, etc."
          }
        },
        "description" : "The object that represents the operation."
      },
      "OperationPage" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of operation list results if there are any."
          },
          "value" : {
            "type" : "array",
            "description" : "List of operations supported by the Resource Provider.",
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results."
      }
    },
    "requestBodies" : {
      "checkNameAvailabilityParameter" : {
        "description" : "Check Name Availability Request.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CheckNameAvailabilityRequest"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}