{"openapi":"3.0.1","info":{"title":"ContainerServiceClient","description":"The Container Service Client.","version":"2018-09-30-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/openShiftManagedClusters":{"get":{"tags":["OpenShiftManagedClusters"],"summary":"Gets a list of OpenShift managed clusters in the specified subscription.","description":"Gets a list of OpenShift managed clusters in the specified subscription. The operation returns properties of each OpenShift managed cluster.","operationId":"OpenShiftManagedClusters_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenShiftManagedClusterListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters":{"get":{"tags":["OpenShiftManagedClusters"],"summary":"Lists OpenShift managed clusters in the specified subscription and resource group.","description":"Lists OpenShift managed clusters in the specified subscription and resource group. The operation returns properties of each OpenShift managed cluster.","operationId":"OpenShiftManagedClusters_ListByResourceGroup","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenShiftManagedClusterListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters/{resourceName}":{"get":{"tags":["OpenShiftManagedClusters"],"summary":"Gets a OpenShift managed cluster.","description":"Gets the details of the managed OpenShift cluster with a specified resource group and name.","operationId":"OpenShiftManagedClusters_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the OpenShift managed cluster resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenShiftManagedCluster"}}}},"default":{"description":"Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["OpenShiftManagedClusters"],"summary":"Creates or updates an OpenShift managed cluster.","description":"Creates or updates a OpenShift managed cluster with the specified configuration for agents and OpenShift version.","operationId":"OpenShiftManagedClusters_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the OpenShift managed cluster resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Create or Update an OpenShift Managed Cluster operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenShiftManagedCluster"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenShiftManagedCluster"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenShiftManagedCluster"}}}},"default":{"description":"Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned.If any of the input parameters is wrong, 400(Bad Request) is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["OpenShiftManagedClusters"],"summary":"Deletes an OpenShift managed cluster.","description":"Deletes the OpenShift managed cluster with a specified resource group and name.","operationId":"OpenShiftManagedClusters_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the OpenShift managed cluster resource.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted"},"204":{"description":"NoContent"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["OpenShiftManagedClusters"],"summary":"Updates tags on an OpenShift managed cluster.","description":"Updates an OpenShift managed cluster with the specified tags.","operationId":"OpenShiftManagedClusters_UpdateTags","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the OpenShift managed cluster resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Update OpenShift Managed Cluster Tags operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagsObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenShiftManagedCluster"}}}},"default":{"description":"Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error response from the Container service."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically."},"details":{"type":"array","description":"A list of additional details about the error.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface."},"target":{"type":"string","description":"The target of the particular error. For example, the name of the property in error."}},"description":"An error response from the Container service."},"NetworkProfile":{"type":"object","properties":{"peerVnetId":{"type":"string","description":"CIDR of the Vnet to peer."},"vnetCidr":{"type":"string","description":"CIDR for the OpenShift Vnet.","default":"10.0.0.0/8"}},"description":"Represents the OpenShift networking configuration"},"OSType":{"type":"string","description":"OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux.","default":"Linux","enum":["Linux","Windows"]},"OpenShiftAgentPoolProfileRole":{"type":"string","description":"OpenShiftAgentPoolProfileRole represents the role of the AgentPoolProfile.","enum":["compute","infra"]},"OpenShiftContainerServiceVMSize":{"type":"string","description":"Size of OpenShift VMs.","enum":["Standard_D2s_v3","Standard_D4s_v3","Standard_D8s_v3","Standard_D16s_v3","Standard_D32s_v3","Standard_D64s_v3","Standard_DS4_v2","Standard_DS5_v2","Standard_F8s_v2","Standard_F16s_v2","Standard_F32s_v2","Standard_F64s_v2","Standard_F72s_v2","Standard_F8s","Standard_F16s","Standard_E4s_v3","Standard_E8s_v3","Standard_E16s_v3","Standard_E20s_v3","Standard_E32s_v3","Standard_E64s_v3","Standard_GS2","Standard_GS3","Standard_GS4","Standard_GS5","Standard_DS12_v2","Standard_DS13_v2","Standard_DS14_v2","Standard_DS15_v2","Standard_L4s","Standard_L8s","Standard_L16s","Standard_L32s"]},"OpenShiftManagedCluster":{"description":"OpenShift Managed cluster.","allOf":[{"$ref":"#/components/schemas/Resource"},{"type":"object","properties":{"plan":{"$ref":"#/components/schemas/PurchasePlan"},"properties":{"$ref":"#/components/schemas/OpenShiftManagedClusterProperties"}}}]},"OpenShiftManagedClusterAADIdentityProvider":{"description":"Defines the Identity provider for MS AAD.","allOf":[{"$ref":"#/components/schemas/OpenShiftManagedClusterBaseIdentityProvider"},{"type":"object","properties":{"clientId":{"type":"string","description":"The clientId password associated with the provider."},"secret":{"type":"string","description":"The secret password associated with the provider."},"tenantId":{"type":"string","description":"The tenantId associated with the provider."}}}]},"OpenShiftManagedClusterAgentPoolProfile":{"required":["count","name","vmSize"],"type":"object","properties":{"count":{"type":"integer","description":"Number of agents (VMs) to host docker containers.","format":"int32"},"name":{"type":"string","description":"Unique name of the pool profile in the context of the subscription and resource group."},"osType":{"$ref":"#/components/schemas/OSType"},"role":{"$ref":"#/components/schemas/OpenShiftAgentPoolProfileRole"},"subnetCidr":{"type":"string","description":"Subnet CIDR for the peering.","default":"10.0.0.0/24"},"vmSize":{"$ref":"#/components/schemas/OpenShiftContainerServiceVMSize"}},"description":"Defines the configuration of the OpenShift cluster VMs."},"OpenShiftManagedClusterAuthProfile":{"type":"object","properties":{"identityProviders":{"type":"array","description":"Type of authentication profile to use.","items":{"$ref":"#/components/schemas/OpenShiftManagedClusterIdentityProvider"}}},"description":"Defines all possible authentication profiles for the OpenShift cluster."},"OpenShiftManagedClusterBaseIdentityProvider":{"required":["kind"],"type":"object","properties":{"kind":{"type":"string","description":"The kind of the provider."}},"description":"Structure for any Identity provider.","discriminator":{"propertyName":"kind"}},"OpenShiftManagedClusterIdentityProvider":{"type":"object","properties":{"name":{"type":"string","description":"Name of the provider."},"provider":{"$ref":"#/components/schemas/OpenShiftManagedClusterBaseIdentityProvider"}},"description":"Defines the configuration of the identity providers to be used in the OpenShift cluster."},"OpenShiftManagedClusterListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of OpenShift managed cluster results.","readOnly":true},"value":{"type":"array","description":"The list of OpenShift managed clusters.","items":{"$ref":"#/components/schemas/OpenShiftManagedCluster"}}},"description":"The response from the List OpenShift Managed Clusters operation."},"OpenShiftManagedClusterMasterPoolProfile":{"required":["count","vmSize"],"type":"object","properties":{"count":{"type":"integer","description":"Number of masters (VMs) to host docker containers. The default value is 3.","format":"int32"},"name":{"type":"string","description":"Unique name of the master pool profile in the context of the subscription and resource group."},"osType":{"$ref":"#/components/schemas/OSType"},"subnetCidr":{"type":"string","description":"Subnet CIDR for the peering."},"vmSize":{"$ref":"#/components/schemas/OpenShiftContainerServiceVMSize"}},"description":"OpenShiftManagedClusterMaterPoolProfile contains configuration for OpenShift master VMs."},"OpenShiftManagedClusterProperties":{"required":["openShiftVersion"],"type":"object","properties":{"agentPoolProfiles":{"type":"array","description":"Configuration of OpenShift cluster VMs.","items":{"$ref":"#/components/schemas/OpenShiftManagedClusterAgentPoolProfile"}},"authProfile":{"$ref":"#/components/schemas/OpenShiftManagedClusterAuthProfile"},"fqdn":{"type":"string","description":"User-specified FQDN for OpenShift API server loadbalancer internal hostname."},"masterPoolProfile":{"$ref":"#/components/schemas/OpenShiftManagedClusterMasterPoolProfile"},"networkProfile":{"$ref":"#/components/schemas/NetworkProfile"},"openShiftVersion":{"type":"string","description":"Version of OpenShift specified when creating the cluster."},"provisioningState":{"type":"string","description":"The current deployment or provisioning state, which only appears in the response.","readOnly":true},"publicHostname":{"type":"string","description":"Optional user-specified FQDN for OpenShift API server."},"routerProfiles":{"type":"array","description":"Configuration for OpenShift router(s).","items":{"$ref":"#/components/schemas/OpenShiftRouterProfile"}}},"description":"Properties of the OpenShift managed cluster."},"OpenShiftRouterProfile":{"type":"object","properties":{"fqdn":{"type":"string","description":"Auto-allocated FQDN for the OpenShift router.","readOnly":true},"name":{"type":"string","description":"Name of the router profile."},"publicSubdomain":{"type":"string","description":"DNS subdomain for OpenShift router."}},"description":"Represents an OpenShift router"},"PurchasePlan":{"type":"object","properties":{"name":{"type":"string","description":"The plan ID."},"product":{"type":"string","description":"Specifies the product of the image from the marketplace. This is the same value as Offer under the imageReference element."},"promotionCode":{"type":"string","description":"The promotion code."},"publisher":{"type":"string","description":"The plan ID."}},"description":"Used for establishing the purchase context of any 3rd Party artifact through MarketPlace."},"Resource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The Resource model definition."},"TagsObject":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"Tags object for patch operations."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}