{"openapi":"3.0.1","info":{"title":"EngagementFabric","description":"Microsoft Customer Engagement Fabric","version":"2018-09-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/providers/Microsoft.EngagementFabric/operations":{"get":{"tags":["Operations"],"summary":"List operation of EngagementFabric resources","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.EngagementFabric/Accounts":{"get":{"tags":["Accounts"],"summary":"List the EngagementFabric accounts in given subscription","operationId":"Accounts_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountList"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.EngagementFabric/skus":{"get":{"tags":["Skus"],"summary":"List available SKUs of EngagementFabric resource","operationId":"SKUs_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SkuDescriptionList"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts":{"get":{"tags":["Accounts"],"summary":"List EngagementFabric accounts in given resource group","operationId":"Accounts_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountList"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}":{"get":{"tags":["Accounts"],"summary":"Get the EngagementFabric account","operationId":"Accounts_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Accounts"],"summary":"Create or Update the EngagementFabric account","operationId":"Accounts_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The EngagementFabric account description","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Accounts"],"summary":"Delete the EngagementFabric account","operationId":"Accounts_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"NoContent"},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["Accounts"],"summary":"Update EngagementFabric account","operationId":"Accounts_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The account patch","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountPatch"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/Channels":{"get":{"tags":["Channels"],"summary":"List the EngagementFabric channels","operationId":"Channels_ListByAccount","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChannelList"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/Channels/{channelName}":{"get":{"tags":["Channels"],"summary":"Get the EngagementFabric channel","operationId":"Channels_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},{"name":"channelName","in":"path","description":"Channel Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Channels"],"summary":"Create or Update the EngagementFabric channel","operationId":"Channels_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},{"name":"channelName","in":"path","description":"Channel Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The EngagementFabric channel description","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Channels"],"summary":"Delete the EngagementFabric channel","operationId":"Channels_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},{"name":"channelName","in":"path","description":"The EngagementFabric channel name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"NoContent"},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/listChannelTypes":{"post":{"tags":["Accounts"],"summary":"List available EngagementFabric channel types and functions","operationId":"Accounts_ListChannelTypes","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChannelTypeDescriptionList"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/listKeys":{"post":{"tags":["Accounts"],"summary":"List keys of the EngagementFabric account","operationId":"Accounts_ListKeys","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyDescriptionList"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/regenerateKey":{"post":{"tags":["Accounts"],"summary":"Regenerate key of the EngagementFabric account","operationId":"Accounts_RegenerateKey","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters specifying the key to be regenerated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegenerateKeyParameter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyDescription"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/checkNameAvailability":{"post":{"tags":["NameAvailability"],"summary":"Check availability of EngagementFabric resource","operationId":"CheckNameAvailability","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameter describing the name to be checked","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityParameter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityResult"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"Account":{"description":"The EngagementFabric account","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"AccountList":{"type":"object","properties":{"value":{"type":"array","description":"EngagementFabric accounts","items":{"$ref":"#/components/schemas/Account"}}},"description":"The list of the EngagementFabric accounts"},"AccountPatch":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The tags of the resource"}},"description":"The patch of EngagementFabric account"},"Channel":{"properties":{"properties":{"$ref":"#/components/schemas/ChannelProperties"}},"description":"The EngagementFabric channel","allOf":[{"$ref":"#/components/schemas/ProxyOnlyResource"}]},"ChannelList":{"type":"object","properties":{"value":{"type":"array","description":"EngagementFabric channels","items":{"$ref":"#/components/schemas/Channel"}}},"description":"The list of the EngagementFabric channels"},"ChannelProperties":{"required":["channelType"],"type":"object","properties":{"channelFunctions":{"type":"array","description":"The functions to be enabled for the channel","items":{"type":"string"}},"channelType":{"type":"string","description":"The channel type"},"credentials":{"type":"object","additionalProperties":{"type":"string"},"description":"The channel credentials"}},"description":"The EngagementFabric channel properties"},"ChannelTypeDescription":{"type":"object","properties":{"channelDescription":{"type":"string","description":"Text description for the channel"},"channelFunctions":{"type":"array","description":"All the available functions for the channel","items":{"type":"string"}},"channelType":{"type":"string","description":"Channel type"}},"description":"EngagementFabric channel description"},"ChannelTypeDescriptionList":{"type":"object","properties":{"value":{"type":"array","description":"Channel descriptions","items":{"$ref":"#/components/schemas/ChannelTypeDescription"}}},"description":"List of the EngagementFabric channel descriptions"},"CheckNameAvailabilityParameter":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"The name to be checked"},"type":{"type":"string","description":"The fully qualified resource type for the name to be checked"}},"description":"The parameter for name availability check"},"CheckNameAvailabilityResult":{"type":"object","properties":{"message":{"type":"string","description":"The message if name is unavailable","readOnly":true},"nameAvailable":{"type":"boolean","description":"The name to be checked","readOnly":true},"reason":{"$ref":"#/components/schemas/CheckNameUnavailableReason"}},"description":"The result of name availability check"},"CheckNameUnavailableReason":{"type":"string","description":"The reason of name availability result","enum":["Invalid","AlreadyExists"]},"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"The default error response"},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"The error code"},"details":{"type":"array","description":"The list of additional details","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"The error message"},"target":{"type":"string","description":"The target of the particular error"}},"description":"Content of the default error response"},"KeyDescription":{"type":"object","properties":{"name":{"type":"string","description":"The name of the key","readOnly":true},"rank":{"$ref":"#/components/schemas/KeyRank"},"value":{"type":"string","description":"The value of the key","readOnly":true}},"description":"The description of the EngagementFabric account key"},"KeyDescriptionList":{"type":"object","properties":{"value":{"type":"array","description":"Account keys","readOnly":true,"items":{"$ref":"#/components/schemas/KeyDescription"}}},"description":"The list of the EngagementFabric account keys"},"KeyRank":{"type":"string","description":"The rank of the EngagementFabric account key","enum":["PrimaryKey","SecondaryKey"]},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationDisplay"},"name":{"type":"string","description":"The name of the EngagementFabric operation","readOnly":true}},"description":"The EngagementFabric operation"},"OperationDisplay":{"type":"object","properties":{"description":{"type":"string","description":"The description of the EngagementFabric operation","readOnly":true},"operation":{"type":"string","description":"The name of the EngagementFabric operation","readOnly":true},"provider":{"type":"string","description":"The resource provider namespace of the EngagementFabric operation","readOnly":true},"resource":{"type":"string","description":"The resource type of the EngagementFabric operation","readOnly":true}},"description":"The display information of the EngagementFabric operation"},"OperationList":{"type":"object","properties":{"value":{"type":"array","description":"The EngagementFabric operations","readOnly":true,"items":{"$ref":"#/components/schemas/Operation"}}},"description":"The list of the EngagementFabric operations"},"ProxyOnlyResource":{"description":"The base model for the proxy-only Azure resource","allOf":[{"$ref":"#/components/schemas/Resource"}]},"RegenerateKeyParameter":{"required":["name","rank"],"type":"object","properties":{"name":{"type":"string","description":"The name of key to be regenerated"},"rank":{"$ref":"#/components/schemas/KeyRank"}},"description":"The parameter to regenerate single EngagementFabric account key"},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the resource","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The fully qualified type of the resource","readOnly":true}},"description":"The base model for Azure resource"},"SKU":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the SKU"},"tier":{"type":"string","description":"The price tier of the SKU"}},"description":"The EngagementFabric SKU"},"SkuDescription":{"type":"object","properties":{"locationInfo":{"type":"array","description":"Locations and zones","readOnly":true,"items":{"$ref":"#/components/schemas/SkuLocationInfoItem"}},"locations":{"type":"array","description":"The set of locations that the SKU is available","readOnly":true,"items":{"type":"string"}},"name":{"type":"string","description":"The name of the SKU","readOnly":true},"resourceType":{"type":"string","description":"The fully qualified resource type","readOnly":true},"restrictions":{"type":"array","description":"The restrictions because of which SKU cannot be used","readOnly":true,"items":{"type":"object"}},"tier":{"type":"string","description":"The price tier of the SKU","readOnly":true}},"description":"The EngagementFabric SKU description of given resource type"},"SkuDescriptionList":{"type":"object","properties":{"value":{"type":"array","description":"SKU descriptions","readOnly":true,"items":{"$ref":"#/components/schemas/SkuDescription"}}},"description":"The list of the EngagementFabric SKU descriptions"},"SkuLocationInfoItem":{"type":"object","properties":{"location":{"type":"string","description":"The available location of the SKU"},"zones":{"type":"array","description":"The available zone of the SKU","items":{"type":"string"}}},"description":"The Locations and zones info for SKU"},"TrackedResource":{"properties":{"location":{"type":"string","description":"The location of the resource"},"sku":{"$ref":"#/components/schemas/SKU"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The tags of the resource"}},"description":"The base model for the tracked Azure resource","allOf":[{"$ref":"#/components/schemas/Resource"}]}},"parameters":{"AccountNameParameter":{"name":"accountName","in":"path","description":"Account Name","required":true,"schema":{"type":"string"}},"ApiVersionParameter":{"name":"api-version","in":"query","description":"API version","required":true,"schema":{"type":"string"}},"ChannelNameParameter":{"name":"channelName","in":"path","description":"Channel Name","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription ID","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}