{"openapi":"3.0.1","info":{"title":"Azure SQL Database","description":"Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, and operations.","version":"2014-04-01"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Sql/checkNameAvailability":{"post":{"tags":["Servers"],"description":"Determines whether a resource can be created with the specified name.","operationId":"Servers_CheckNameAvailability","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to request for name availability.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityResponse"}}}}}}}},"components":{"schemas":{"CheckNameAvailabilityRequest":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"The name whose availability is to be checked."},"type":{"type":"string","description":"The type of resource that is used as the scope of the availability check.","enum":["Microsoft.Sql/servers"]}},"description":"A request to check whether the specified name for a resource is available."},"CheckNameAvailabilityResponse":{"type":"object","properties":{"available":{"type":"boolean","description":"True if the name is available, otherwise false.","readOnly":true},"message":{"type":"string","description":"A message explaining why the name is unavailable. Will be null if the name is available.","readOnly":true},"name":{"type":"string","description":"The name whose availability was checked.","readOnly":true},"reason":{"type":"string","description":"The reason code explaining why the name is unavailable. Will be null if the name is available.","readOnly":true,"enum":["Invalid","AlreadyExists"]}},"description":"A response indicating whether the specified name for a resource is available."}},"parameters":{"DatabaseExpandParameter":{"name":"$expand","in":"query","description":"A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.","schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},"TransparentDataEncryptionNameParameter":{"name":"transparentDataEncryptionName","in":"path","description":"The name of the transparent data encryption configuration.","required":true,"schema":{"type":"string","enum":["current"]}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}