{"openapi":"3.0.1","info":{"title":"SalesLoft Platform","description":"SalesLoft helps transform sales teams into modern sales organizations  - converting more target accounts into customer accounts\n","contact":{"email":"integrations@salesloft.com"},"version":"v2"},"servers":[{"url":"https://api.salesloft.com/"}],"tags":[{"name":"Me","description":"User Information"},{"name":"Team","description":"Team Information"},{"name":"Accounts","description":"Account Management"},{"name":"Actions","description":"Actions"},{"name":"Action Details - Call Instructions","description":"Actions - Call Instructions"},{"name":"CRM Activities","description":"CRM Activity Management"},{"name":"Cadences","description":"Cadence Management"},{"name":"Cadence Memberships","description":"Cadence Membership"},{"name":"Call Data Records","description":"Call Data Record Management"},{"name":"Calls","description":"Call Management"},{"name":"Caller IDs","description":"Caller ID Information"},{"name":"Custom Fields","description":"Custom Field Management"},{"name":"Emails","description":"Email Management"},{"name":"Email Templates","description":"Email Templates Management"},{"name":"Imports","description":"Import Management"},{"name":"Notes","description":"Note Management"},{"name":"People","description":"Person Management"},{"name":"Person Stages","description":"Person Stage Management"},{"name":"Recording Settings","description":"Recording Settings Information"},{"name":"Steps","description":"Steps"},{"name":"Successes","description":"Success Management"},{"name":"Team Templates","description":"Team Template Management"},{"name":"Users","description":"User Management"}],"paths":{"/v2/accounts.json":{"get":{"tags":["Accounts"],"summary":"List accounts","description":"Fetches multiple account records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of accounts to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"domain","in":"query","description":"Domain of the accounts to fetch. Domains are unique and lowercase","schema":{"type":"string"}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at, last_contacted_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}}},"post":{"tags":["Accounts"],"summary":"Create an account","description":"Creates an account.\n\n\"domain\" must be unique on the current team.\n","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["domain","name"],"type":"object","properties":{"name":{"type":"string","description":"Account Full Name"},"domain":{"type":"string","description":"Website domain, not a fully qualified URI"},"conversational_name":{"type":"string","description":"Conversational name of the Account"},"description":{"type":"string","description":"Description"},"phone":{"type":"string","description":"Phone number without formatting"},"website":{"type":"string","description":"Website"},"linkedin_url":{"type":"string","description":"Full LinkedIn url"},"twitter_handle":{"type":"string","description":"Twitter handle, with @"},"street":{"type":"string","description":"Street name and number"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"postal_code":{"type":"string","description":"Postal code"},"country":{"type":"string","description":"Country"},"locale":{"type":"string","description":"Time locale"},"industry":{"type":"string","description":"Industry"},"company_type":{"type":"string","description":"Type of the Account's company"},"founded":{"type":"string","description":"Date or year of founding"},"revenue_range":{"type":"string","description":"Estimated revenue range"},"size":{"type":"string","description":"Estimated number of people in employment"},"do_not_contact":{"type":"boolean","description":"Whether this company can not be contacted. Values are either true or false. Setting this to true will remove all associated people from all active communications"},"custom_fields":{"type":"array","description":"Custom fields are defined by the user's team. Only fields with values are presented in the API.","items":{"type":"string"}},"tags":{"type":"array","description":"All tags applied to this Account","items":{"type":"string"}},"owner_id":{"type":"integer","description":"ID of the User that owns this Account","format":"int32"},"company_stage_id":{"type":"integer","description":"ID of the CompanyStage assigned to this Account","format":"int32"}}}}},"required":true},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Account"}}}}}}},"/v2/accounts/{id}.json":{"get":{"tags":["Accounts"],"summary":"Fetch an account","description":"Fetches an account, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Account ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Account"}}}}}},"put":{"tags":["Accounts"],"summary":"Update an existing Account","description":"Updates an account.\n\n\"domain\" must be unique on the current team.\n","parameters":[{"name":"id","in":"path","description":"Account ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["domain","name"],"type":"object","properties":{"name":{"type":"string","description":"Account Full Name"},"domain":{"type":"string","description":"Website domain, not a fully qualified URI"},"conversational_name":{"type":"string","description":"Conversational name of the Account"},"description":{"type":"string","description":"Description"},"phone":{"type":"string","description":"Phone number without formatting"},"website":{"type":"string","description":"Website"},"linkedin_url":{"type":"string","description":"Full LinkedIn url"},"twitter_handle":{"type":"string","description":"Twitter handle, with @"},"street":{"type":"string","description":"Street name and number"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"postal_code":{"type":"string","description":"Postal code"},"country":{"type":"string","description":"Country"},"locale":{"type":"string","description":"Time locale"},"industry":{"type":"string","description":"Industry"},"company_type":{"type":"string","description":"Type of the Account's company"},"founded":{"type":"string","description":"Date or year of founding"},"revenue_range":{"type":"string","description":"Estimated revenue range"},"size":{"type":"string","description":"Estimated number of people in employment"},"do_not_contact":{"type":"boolean","description":"Whether this company can not be contacted. Values are either true or false. Setting this to true will remove all associated people from all active communications"},"custom_fields":{"type":"array","description":"Custom fields are defined by the user's team. Only fields with values are presented in the API.","items":{"type":"string"}},"tags":{"type":"array","description":"All tags applied to this Account","items":{"type":"string"}},"owner_id":{"type":"integer","description":"ID of the User that owns this Account","format":"int32"},"company_stage_id":{"type":"integer","description":"ID of the CompanyStage assigned to this Account","format":"int32"}}}}},"required":true},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Account"}}}}}},"delete":{"tags":["Accounts"],"summary":"Delete an account","description":"Deletes an account. This operation is not reversible without contacting support.\nThis operation can be called multiple times successfully.\n\nDeleting an account will remove all connected people from that account.\n","parameters":[{"name":"id","in":"path","description":"Account ID","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The Account has been deleted successfully"}}}},"/v2/action_details/call_instructions.json":{"get":{"tags":["Action Details - Call Instructions"],"summary":"List call instructions","description":"Fetches multiple call instruction records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of call instructions to fetch.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CallInstruction"}}}}}}}},"/v2/action_details/call_instructions/{id}.json":{"get":{"tags":["Action Details - Call Instructions"],"summary":"Fetch a call instructions","description":"Fetches a call instruction, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Call instructions ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CallInstruction"}}}}}}},"/v2/actions.json":{"get":{"tags":["Actions"],"summary":"List actions","description":"Fetches multiple action records. The records can be filtered, paged, and sorted according to\nthe respective parameters. Only actions that are currently \"in_progess\" will be returned by\nthis endpoint.\n","parameters":[{"name":"ids","in":"query","description":"IDs of actions to fetch.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"step_id","in":"query","description":"Fetch actions by step ID","schema":{"type":"integer"}},{"name":"type","in":"query","description":"Filter actions by type","schema":{"type":"string"}},{"name":"due_on","in":"query","description":"Equality filters that are applied to the due_on field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Action"}}}}}}}},"/v2/actions/{id}.json":{"get":{"tags":["Actions"],"summary":"Fetch an action","description":"Fetches an action, by ID only.\nThis endpoint will only return actions that are in_progress or pending_activity.\nOnce an action is complete, the request for that action will return a 404 status code.\n","parameters":[{"name":"id","in":"path","description":"Action ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Action"}}}}}}},"/v2/activities/calls.json":{"get":{"tags":["Calls"],"summary":"List calls","description":"Fetches multiple call records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of calls to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Call"}}}}}}}},"/v2/activities/calls/{id}.json":{"get":{"tags":["Calls"],"summary":"Fetch a call","description":"Fetches a call, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Call ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Call"}}}}}}},"/v2/activities/emails.json":{"get":{"tags":["Emails"],"summary":"List emails","description":"Fetches multiple email records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of emails to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"bounced","in":"query","description":"Filters emails by whether they have bounced or not","schema":{"type":"boolean"}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: updated_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Email"}}}}}}}},"/v2/activities/emails/{id}.json":{"get":{"tags":["Emails"],"summary":"Fetch an email","description":"Fetches an email, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Email ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Email"}}}}}}},"/v2/cadence_memberships.json":{"get":{"tags":["Cadence Memberships"],"summary":"List cadence memberships","description":"Fetches multiple cadence membership records. The records can be filtered, paged, and sorted according to\nthe respective parameters. A cadence membership is the association between a person and their current and\nhistorical time on a cadence. Cadence membership records are mutable and change over time. If a person is\nadded to a cadence and re-added to the same cadence in the future, there is a single membership record.\n","parameters":[{"name":"ids","in":"query","description":"IDs of cadence memberships to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"person_id","in":"query","description":"ID of the person to find cadence memberships for","schema":{"type":"integer"}},{"name":"cadence_id","in":"query","description":"ID of the cadence to find cadence memberships for","schema":{"type":"integer"}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: updated_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CadenceMembership"}}}}}}},"post":{"tags":["Cadence Memberships"],"summary":"Create a cadence membership","description":"Adds a person to a cadence. person_id and cadence_id are required, and must be visible to the authenticated user. user_id will\ndefault to the authenticated user, but can be set to any visible user on the authenticated team.\n\nA person cannot be added to a cadence on behalf of a teammate unless the cadence is a team cadence, or the cadence is owned by\nthe teammate.\n","parameters":[{"name":"person_id","in":"query","description":"ID of the person to create a cadence membership for","required":true,"schema":{"type":"integer"}},{"name":"cadence_id","in":"query","description":"ID of the cadence to create a cadence membership for","required":true,"schema":{"type":"integer"}},{"name":"user_id","in":"query","description":"ID of the user to create a cadence membership for. The associated cadence must be owned by the user, or it must be a team cadence","schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CadenceMembership"}}}}}}},"/v2/cadence_memberships/{id}.json":{"get":{"tags":["Cadence Memberships"],"summary":"Fetch a cadence membership","description":"Fetches a cadence membership, by ID only.\n","parameters":[{"name":"id","in":"path","description":"CadenceMembership ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CadenceMembership"}}}}}},"delete":{"tags":["Cadence Memberships"],"summary":"Delete a cadence membership","parameters":[{"name":"id","in":"path","description":"CadenceMembership ID","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The person has been removed from the cadence successfully"}}}},"/v2/cadences.json":{"get":{"tags":["Cadences"],"summary":"List cadences","description":"Fetches multiple cadence records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of cadences to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"team_cadence","in":"query","description":"Filters cadences by whether they are a team cadence or not","schema":{"type":"boolean"}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cadence"}}}}}}}},"/v2/cadences/{id}.json":{"get":{"tags":["Cadences"],"summary":"Fetch a cadence","description":"Fetches a cadence, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Cadence ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Cadence"}}}}}}},"/v2/call_data_records.json":{"get":{"tags":["Call Data Records"],"summary":"List call data records","description":"Fetches multiple call data records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n\nCall data records are records of all inbound and outbound calls through SalesLoft. A call data record may\nbe associated with a call, but does not have to be.\n","parameters":[{"name":"ids","in":"query","description":"IDs of call data records to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"has_call","in":"query","description":"Return only call data records which have or do not have a call logged for them","schema":{"type":"boolean"}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CallDataRecord"}}}}}}}},"/v2/call_data_records/{id}.json":{"get":{"tags":["Call Data Records"],"summary":"Fetch a call data record","description":"Fetches a call data record, by ID only.\n","parameters":[{"name":"id","in":"path","description":"CallDataRecord ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CallDataRecord"}}}}}}},"/v2/crm_activities.json":{"get":{"tags":["CRM Activities"],"summary":"List crm activities","description":"Fetches multiple crm activity records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of crm activities to fetch.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrmActivity"}}}}}}}},"/v2/crm_activities/{id}.json":{"get":{"tags":["CRM Activities"],"summary":"Fetch a crm activity","description":"Fetches a crm activity, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Crm activity ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CrmActivity"}}}}}}},"/v2/custom_fields.json":{"get":{"tags":["Custom Fields"],"summary":"List custom fields","description":"Fetches multiple custom field records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of custom fields to fetch.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"field_type","in":"query","description":"Type of field to fetch. Value must be one of: person, company, opportunity","schema":{"type":"string"}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at, name. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomField"}}}}}}},"post":{"tags":["Custom Fields"],"summary":"Create a custom field","description":"Creates a custom field.\n","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the custom field"},"field_type":{"type":"string","description":"The field type of the custom field. Value must be one of: person, company, opportunity"}}}}},"required":true},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomField"}}}}}}},"/v2/custom_fields/{id}.json":{"get":{"tags":["Custom Fields"],"summary":"Fetch a custom field","description":"Fetches a custom field, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Custom Field ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomField"}}}}}},"put":{"tags":["Custom Fields"],"summary":"Update a custom field","description":"Update a custom field.\n","parameters":[{"name":"id","in":"path","description":"Custom Field ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the custom field"},"field_type":{"type":"string","description":"The field type of the custom field. Value must be one of: person, company, opportunity"}}}}}},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomField"}}}}}},"delete":{"tags":["Custom Fields"],"summary":"Delete a custom field","description":"Deletes a custom field.\n","parameters":[{"name":"id","in":"path","description":"Custom Field ID","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The Custom Field has been deleted successfully"}}}},"/v2/email_templates.json":{"get":{"tags":["Email Templates"],"summary":"List email templates","description":"Fetches multiple email template records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of email templates to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"linked_to_team_template","in":"query","description":"Filters email templates by whether they are linked to a team template or not","schema":{"type":"boolean"}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at, last_used_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmailTemplate"}}}}}}}},"/v2/email_templates/{id}.json":{"get":{"tags":["Email Templates"],"summary":"Fetch an email template","description":"Fetches an email template, by ID only.\n","parameters":[{"name":"id","in":"path","description":"EmailTemplate ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailTemplate"}}}}}}},"/v2/imports.json":{"get":{"tags":["Imports"],"summary":"List imports","description":"Fetches multiple imports.\n","parameters":[{"name":"ids","in":"query","description":"IDs of imports to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"user_ids","in":"query","description":"ID of users to fetch imports for. Using this filter will return an empty array for non-admin users who request other user's imports","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at. Defaults to created_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Import"}}}}}}},"post":{"tags":["Imports"],"summary":"Create an import","description":"Creates an import.\n","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"user_id":{"type":"integer","description":"ID of the User that owns this Import","format":"int32"},"name":{"type":"string","description":"Name, recommended to be easily identifiable to a user"}}}}}},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Import"}}}}}}},"/v2/imports/{id}.json":{"get":{"tags":["Imports"],"summary":"Fetch an import","description":"Fetches an import, by ID only.\n\nAdmin users can access imports for the entire team, but non-admin users can only access their own imports.\n","parameters":[{"name":"id","in":"path","description":"Import ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Import"}}}}}},"put":{"tags":["Imports"],"summary":"Update an import","description":"Updates an import, by ID only.\n\nAdmin users can access imports for the entire team, but non-admin users can only access their own imports.\n","parameters":[{"name":"id","in":"path","description":"Import ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"user_id":{"type":"integer","description":"ID of the User that owns this Import","format":"int32"},"name":{"type":"string","description":"Name, recommended to be easily identifiable to a user"}}}}}},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Import"}}}}}},"delete":{"tags":["Imports"],"summary":"Delete an import","description":"Deletes an import, by ID only. The associated people can be deleted as part of the deletion process.\n\nAdmin users can access imports for the entire team, but non-admin users can only access their own imports.\n","parameters":[{"name":"id","in":"path","description":"Import ID","required":true,"schema":{"type":"string"}},{"name":"undo","in":"query","description":"Whether to delete people on this Import. Possible values are: [not present], all, single.\n\n'single' will delete people who are only present in this Import.\n'all' will delete people even if they are present in other Imports.\nNot specifying this parameter will not delete any people\n","schema":{"type":"string"}}],"responses":{"204":{"description":"The import has been deleted successfully"}}}},"/v2/me.json":{"get":{"tags":["Me"],"summary":"Fetch current user","description":"Authenticated user information. This endpoint does not accept any parameters as it is\nrepresents your authenticated user. The \"Users\" resource provides user information\nfor other users on the team.\n","responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/v2/notes.json":{"get":{"tags":["Notes"],"summary":"List notes","description":"Fetches multiple note records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"associated_with_type","in":"query","description":"Case insensitive type of item with which the note is associated.  Value must be one of: person, account","schema":{"type":"string"}},{"name":"associated_with_id","in":"query","description":"ID of the item with which the note is associated.  The associated_with_type must also be present if this parameter is used","schema":{"type":"integer"}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"ids","in":"query","description":"IDs of notes to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Note"}}}}}}},"post":{"tags":["Notes"],"summary":"Create a note","description":"Creates a note.\n","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["associated_with_id","associated_with_type","content"],"type":"object","properties":{"content":{"type":"string","description":"The content of the note"},"associated_with_type":{"type":"string","description":"Case insensitive type of item with which the note is associated.  Value must be one of: person, account"},"associated_with_id":{"type":"integer","description":"ID of the item with which the note is associated","format":"int32"},"skip_crm_sync":{"type":"boolean","description":"Boolean indicating if the CRM sync should be skipped.  No syncing will occur if true"},"call_id":{"type":"integer","description":"ID of the call with which the note is associated. The call cannot already have a note","format":"int32"}}}}},"required":true},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Note"}}}}}}},"/v2/notes/{id}.json":{"get":{"tags":["Notes"],"summary":"Fetch a note","description":"Fetches a note, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Note ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Note"}}}}}},"put":{"tags":["Notes"],"summary":"Update a note","description":"Updates a note. Any changes to the note or associated records will not reflect in Salesforce.com.\n","parameters":[{"name":"id","in":"path","description":"Note ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["content"],"type":"object","properties":{"content":{"type":"string","description":"The content of the note"},"call_id":{"type":"integer","description":"ID of the call with which the note is associated. The call cannot already have a note. If the note is associated to a call already, it will become associated to the requested call","format":"int32"}}}}},"required":true},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Person"}}}}}}},"/v2/people.json":{"get":{"tags":["People"],"summary":"List people","description":"Fetches multiple person records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of people to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"email_addresses","in":"query","description":"Filters people by email address","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at, last_contacted_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Person"}}}}}}},"post":{"tags":["People"],"summary":"Create a person","description":"Creates a person. Either email_address or phone/last_name must be provided as a unique lookup\non the team.\n","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"email_address":{"type":"string","description":"Email address"},"secondary_email_address":{"type":"string","description":"Alternate email address"},"personal_email_address":{"type":"string","description":"Personal email address"},"first_name":{"type":"string","description":"First name"},"last_name":{"type":"string","description":"Last name"},"phone":{"type":"string","description":"Phone without formatting"},"phone_extension":{"type":"string","description":"Phone extension without formatting"},"mobile_phone":{"type":"string","description":"Mobile phone without formatting"},"home_phone":{"type":"string","description":"Home phone without formatting"},"linkedin_url":{"type":"string","description":"Linkedin URL"},"title":{"type":"string","description":"Job title"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"country":{"type":"string","description":"Country"},"work_city":{"type":"string","description":"Work location - city"},"work_state":{"type":"string","description":"Work location - state"},"work_country":{"type":"string","description":"Work location - country"},"person_company_name":{"type":"string","description":"Company name. This property is specific to this person, unrelated to the company object. Updating the company object associated with this person is recommended"},"person_company_website":{"type":"string","description":"Company website. This property is specific to this person, unrelated to the company object. Updating the company object associated with this person is recommended"},"person_company_industry":{"type":"string","description":"Company industry. This property is specific to this person, unrelated to the company object. Updating the company object associated with this person is recommended"},"do_not_contact":{"type":"boolean","description":"Whether this person can not be contacted. Values are either true or false. Setting this to true will remove the person from all active communications"},"locale":{"type":"string","description":"Time locale of the person"},"personal_website":{"type":"string","description":"The website of this person"},"twitter_handle":{"type":"string","description":"The twitter handle of this person"},"tags":{"type":"array","description":"All tags applied to this person","items":{"type":"string"}},"custom_fields":{"type":"array","description":"Custom fields are defined by the user's team. Only fields with values are presented in the API.","items":{"type":"string"}},"account_id":{"type":"integer","description":"ID of the Account to link this person to","format":"int32"},"owner_id":{"type":"integer","description":"ID of the User that owns this person","format":"int32"},"import_id":{"type":"integer","description":"ID of the Import this person is a part of. A person can be part of multiple imports, but this ID will always be the most recent Import","format":"int32"},"person_stage_id":{"type":"integer","description":"ID of the PersonStage of this person","format":"int32"},"autotag_date":{"type":"boolean","description":"Whether the date should be added to this person as a tag. Default is false. The tag will be Y-m-d format."}}}}}},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Person"}}}}}}},"/v2/people/{id}.json":{"get":{"tags":["People"],"summary":"Fetch a person","description":"Fetches a person, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Person ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Person"}}}}}},"put":{"tags":["People"],"summary":"Update a person","description":"Updates a person.\n","parameters":[{"name":"id","in":"path","description":"Person id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"email_address":{"type":"string","description":"Email address"},"secondary_email_address":{"type":"string","description":"Alternate email address"},"personal_email_address":{"type":"string","description":"Personal email address"},"first_name":{"type":"string","description":"First name"},"last_name":{"type":"string","description":"Last name"},"phone":{"type":"string","description":"Phone without formatting"},"phone_extension":{"type":"string","description":"Phone extension without formatting"},"mobile_phone":{"type":"string","description":"Mobile phone without formatting"},"home_phone":{"type":"string","description":"Home phone without formatting"},"linkedin_url":{"type":"string","description":"Linkedin URL"},"title":{"type":"string","description":"Job title"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"country":{"type":"string","description":"Country"},"work_city":{"type":"string","description":"Work location - city"},"work_state":{"type":"string","description":"Work location - state"},"work_country":{"type":"string","description":"Work location - country"},"person_company_name":{"type":"string","description":"Company name. This property is specific to this person, unrelated to the company object. Updating the company object associated with this person is recommended"},"person_company_website":{"type":"string","description":"Company website. This property is specific to this person, unrelated to the company object. Updating the company object associated with this person is recommended"},"person_company_industry":{"type":"string","description":"Company industry. This property is specific to this person, unrelated to the company object. Updating the company object associated with this person is recommended"},"do_not_contact":{"type":"boolean","description":"Whether this person can not be contacted. Values are either true or false. Setting this to true will remove the person from all active communications"},"locale":{"type":"string","description":"Time locale of the person"},"personal_website":{"type":"string","description":"The website of this person"},"twitter_handle":{"type":"string","description":"The twitter handle of this person"},"tags":{"type":"array","description":"All tags applied to this person","items":{"type":"string"}},"custom_fields":{"type":"array","description":"Custom fields are defined by the user's team. Only fields with values are presented in the API.","items":{"type":"string"}},"account_id":{"type":"integer","description":"ID of the Account to link this person to","format":"int32"},"owner_id":{"type":"integer","description":"ID of the User that owns this person","format":"int32"},"import_id":{"type":"integer","description":"ID of the Import this person is a part of. A person can be part of multiple imports, but this ID will always be the most recent Import","format":"int32"},"person_stage_id":{"type":"integer","description":"ID of the PersonStage of this person","format":"int32"}}}}}},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Person"}}}}}},"delete":{"tags":["People"],"summary":"Delete a person","description":"Deletes a person. This operation is not reversible without contacting support.\nThis operation can be called multiple times successfully.\n","parameters":[{"name":"id","in":"path","description":"Person id","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The person has been deleted successfully"}}}},"/v2/person_stages.json":{"get":{"tags":["Person Stages"],"summary":"List person stages","description":"Fetches multiple person stage records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of person stages to fetch.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PersonStage"}}}}}}},"post":{"tags":["Person Stages"],"summary":"Create a person stage","description":"Creates a person stage.\n","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the new stage"}}}}},"required":true},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PersonStage"}}}}}}},"/v2/person_stages/{id}.json":{"get":{"tags":["Person Stages"],"summary":"Fetch a person stage","description":"Fetches a person stage, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Stage ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PersonStage"}}}}}},"put":{"tags":["Person Stages"],"summary":"Update a person stage","description":"Updates a person stage.\n","parameters":[{"name":"id","in":"path","description":"Stage ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the stage."}}}}},"required":true},"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PersonStage"}}}}}},"delete":{"tags":["Person Stages"],"summary":"Delete an person stage","description":"Deletes a person stage. This operation is not reversible without contacting support.\nThis operation can be called multiple times successfully.\n","parameters":[{"name":"id","in":"path","description":"Stage ID","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The Person Stage has been deleted successfully"}}}},"/v2/phone_numbers/caller_ids.json":{"get":{"tags":["Caller IDs"],"summary":"List caller ids","description":"Each entry is a possible caller ID match for the number. Multiple\nentries may be returned if the phone number is present on more than one\nperson in the system.  Phone number should be in E.164 format.\n","parameters":[{"name":"phone_number","in":"query","description":"E.164 Phone Number","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CallerId"}}}}}}}},"/v2/phone_numbers/recording_settings/{id}.json":{"get":{"tags":["Recording Settings"],"summary":"Fetch recording setting","description":"Fetches the recording status for a given phone number, based on Do Not Record and Recording Governance for your team.\nPhone number should be in E.164 format.\n","parameters":[{"name":"id","in":"path","description":"E.164 Phone Number","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RecordingSetting"}}}}}}},"/v2/steps.json":{"get":{"tags":["Steps"],"summary":"List steps","description":"Fetches multiple step records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of steps to fetch.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"cadence_id","in":"query","description":"Filter by cadence ID","schema":{"type":"integer"}},{"name":"type","in":"query","description":"Filter by step type","schema":{"type":"string"}},{"name":"has_due_actions","in":"query","description":"Filter by whether a step has due actions","schema":{"type":"boolean"}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Step"}}}}}}}},"/v2/steps/{id}.json":{"get":{"tags":["Steps"],"summary":"Fetch a step","description":"Fetches a step, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Step ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Step"}}}}}}},"/v2/successes.json":{"get":{"tags":["Successes"],"summary":"List successes","description":"Fetches multiple success records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n","parameters":[{"name":"ids","in":"query","description":"IDs of successes to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at, succeeded_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Success"}}}}}}}},"/v2/team.json":{"get":{"tags":["Team"],"summary":"Fetch current team","description":"Fetches the team of the authenticated user.\n","responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Team"}}}}}}},"/v2/team_templates.json":{"get":{"tags":["Team Templates"],"summary":"List team templates","description":"Fetches multiple team template records. The records can be filtered, paged, and sorted according to\nthe respective parameters.\n\nTeam templates are templates that are available team-wide. Admins may use\nteam templates to create original content for the entire team, monitor version control to ensure templates are always up to date,\nand track template performance across the entire organization. All metrics on a team template reflect usage across the team; individual metrics can be found with the email_templates API endpoint.\n","parameters":[{"name":"ids","in":"query","description":"IDs of team templates to fetch. If a record can't be found, that record won't be returned and your request will be successful","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"updated_at","in":"query","description":"Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.\n---CUSTOM---\n{\"type\":\"object\",\"keys\":[{\"name\":\"gt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"gte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lt\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.\"},{\"name\":\"lte\",\"type\":\"iso8601 string\",\"description\":\"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.\"}]}\n","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort_by","in":"query","description":"Key to sort on, must be one of: created_at, updated_at, last_used_at. Defaults to updated_at","schema":{"type":"string"}},{"name":"sort_direction","in":"query","description":"Direction to sort in, must be one of: ASC, DESC. Defaults to DESC","schema":{"type":"string"}},{"name":"per_page","in":"query","description":"How many records to show per page in the range [1, 100]. Defaults to 25","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The current page to fetch results from. Defaults to 1","schema":{"type":"integer"}},{"name":"include_paging_counts","in":"query","description":"Whether to include total_pages and total_count in the metadata. Defaults to false","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamTemplate"}}}}}}}},"/v2/team_templates/{id}.json":{"get":{"tags":["Team Templates"],"summary":"Fetch a team template","description":"Fetches a team template, by ID only.\n","parameters":[{"name":"id","in":"path","description":"Team Template ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamTemplate"}}}}}}},"/v2/users.json":{"get":{"tags":["Users"],"summary":"List users","description":"Non Admin: Lists only your user, or all on team depending on group visibility policy\nTeam Admin: Lists users associated with your team\n","responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/v2/users/{id}.json":{"get":{"tags":["Users"],"summary":"Fetch a user","description":"Fetches a user, by ID only.\n","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}}}}},"components":{"schemas":{"Account":{"type":"object","properties":{"archived_at":{"type":"string","description":"Datetime of when the Account was archived, if archived","format":"date"},"city":{"type":"string","description":"City","example":"Dufftown"},"company_stage":{"$ref":"#/components/schemas/EmbeddedResource"},"company_type":{"type":"string","description":"Type of the Account's company","example":"Private"},"conversational_name":{"type":"string","description":"Conversational name of the Account","example":"Hogwarts"},"country":{"type":"string","description":"Country","example":"Scotland"},"counts":{"$ref":"#/components/schemas/AccountCounts"},"created_at":{"type":"string","description":"Datetime of when the Account was created","format":"date"},"creator":{"$ref":"#/components/schemas/EmbeddedResource"},"crm_id":{"type":"string","description":"CRM ID, currently Salesforce.com only","example":"003i000001mnhpD"},"crm_object_type":{"type":"string","description":"CRM object type, currently Salesforce.com only","example":"account"},"crm_url":{"type":"string","description":"CRM url, currently Salesforce.com only","example":"https://na15.salesforce.com/003i000001mnhpD"},"custom_fields":{"type":"object","description":"Custom fields are defined by the user's team. Only fields with values are presented in the API.","example":{"MyField":"A Value","Other":"Field"}},"description":{"type":"string","description":"Description","example":"British school of magic for students"},"do_not_contact":{"type":"boolean","description":"Whether this company has opted out of communications. Do not contact someone at this company when this is set to true","example":true},"domain":{"type":"string","description":"Website domain, not a fully qualified URI","example":"salesloft.com"},"founded":{"type":"string","description":"Date or year of founding","example":"March 1st, 1820"},"id":{"type":"integer","description":"ID of Account","example":1},"industry":{"type":"string","description":"Industry","example":"Education"},"last_contacted_at":{"type":"string","description":"Datetime this Account was last contacted","format":"date"},"last_contacted_by":{"$ref":"#/components/schemas/EmbeddedResource"},"last_contacted_person":{"$ref":"#/components/schemas/EmbeddedResource"},"last_contacted_type":{"type":"string","description":"The type of the last touch to this Account. Can be call, email, other","example":"call"},"linkedin_url":{"type":"string","description":"Full LinkedIn url","example":"https://www.linkedin.com/company/2296178/"},"locale":{"type":"string","description":"Time locale","example":"Europe/London"},"name":{"type":"string","description":"Account Full Name","example":"Hogwarts School of Witchcraft and Wizardry"},"owner":{"$ref":"#/components/schemas/EmbeddedResource"},"owner_crm_id":{"type":"string","description":"Mapped owner field from the CRM, currently Salesforce.com only","example":"003i000001mnhpD"},"phone":{"type":"string","description":"Phone number without formatting","example":"+1 444 555 6666"},"postal_code":{"type":"string","description":"Postal code","example":"55555"},"revenue_range":{"type":"string","description":"Estimated revenue range","example":"1,000,000-2,000,000"},"size":{"type":"string","description":"Estimated number of people in employment","example":"1500"},"state":{"type":"string","description":"State","example":"Mortlach"},"street":{"type":"string","description":"Street name and number","example":"4 Picket Drive"},"tags":{"type":"array","description":"All tags applied to this Account","example":["7-23-2017","dreamforce"],"items":{"type":"string"}},"twitter_handle":{"type":"string","description":"Twitter handle, with @","example":"@kyleporter"},"updated_at":{"type":"string","description":"Datetime of when the Account was last updated","format":"date"},"website":{"type":"string","description":"Website","example":"https://salesloft.com"}}},"AccountCounts":{"type":"object","properties":{"people":{"type":"integer","description":"Number of people in SalesLoft associated with this Account","example":15}}},"Action":{"type":"object","properties":{"action_details":{"$ref":"#/components/schemas/EmbeddedResource"},"created_at":{"type":"string","description":"Datetime of when the Action was created","format":"date"},"due":{"type":"boolean","description":"Whether this step is due","example":true},"due_on":{"type":"string","description":"When action is due","format":"date"},"id":{"type":"integer","description":"ID of Action","example":1},"person":{"$ref":"#/components/schemas/EmbeddedResource"},"status":{"type":"string","description":"The current state of the person on the cadence. Possible values are:\n\nin_progress: this action has not been completed\n\npending_activity: this action has been acted upon, but the action has not been completed.\n(i.e. the email is scheduled to send, but has not been delivered yet)\n","example":"in_progress"},"type":{"type":"string","description":"The type of this action. Valid types are: email, phone, other. New types may be added in the future.\n","example":"phone"},"updated_at":{"type":"string","description":"Datetime of when the Action was last updated","format":"date"},"user":{"$ref":"#/components/schemas/EmbeddedResource"}}},"Cadence":{"type":"object","properties":{"added_stage":{"$ref":"#/components/schemas/EmbeddedResource"},"archived_at":{"type":"string","description":"Datetime of when the cadence was archived, if archived","format":"date"},"bounced_stage":{"$ref":"#/components/schemas/EmbeddedResource"},"counts":{"$ref":"#/components/schemas/CadenceCounts"},"created_at":{"type":"string","description":"Datetime of when the cadence was created","format":"date"},"creator":{"$ref":"#/components/schemas/EmbeddedResource"},"finished_stage":{"$ref":"#/components/schemas/EmbeddedResource"},"id":{"type":"integer","description":"ID of cadence","example":1},"name":{"type":"string","description":"Cadence name","example":"Prospecting - VP of Sales"},"opt_out_link_included":{"type":"boolean","description":"Whether this cadence is configured to include an opt-out link by default","example":true},"owner":{"$ref":"#/components/schemas/EmbeddedResource"},"remove_bounces_enabled":{"type":"boolean","description":"Whether this cadence is configured to automatically remove people who have bounced","example":true},"remove_replies_enabled":{"type":"boolean","description":"Whether this cadence is configured to automatically remove people who have replied","example":true},"replied_stage":{"$ref":"#/components/schemas/EmbeddedResource"},"shared":{"type":"boolean","description":"Whether this cadence is visible to team members (shared)","example":false},"tags":{"type":"array","description":"All tags applied to this cadence","example":["7-23-2017","dreamforce"],"items":{"type":"string"}},"team_cadence":{"type":"boolean","description":"Whether this cadence is a team cadence.  A team cadence is created by an admin and can be run by all users","example":false},"updated_at":{"type":"string","description":"Datetime of when the cadence was last updated","format":"date"}}},"CadenceCounts":{"type":"object","properties":{"cadence_people":{"type":"integer","description":"The number of people that have ever been added to the cadence","example":59},"target_daily_people":{"type":"integer","description":"The user defined target for number of people to add to the cadence each day","example":10}}},"CadenceMembership":{"type":"object","properties":{"added_at":{"type":"string","description":"Datetime of when the person was last added to this cadence","format":"date"},"cadence":{"$ref":"#/components/schemas/EmbeddedResource"},"counts":{"$ref":"#/components/schemas/CadenceMembershipCounts"},"created_at":{"type":"string","description":"Datetime of when the person was first added to this cadence","format":"date"},"current_state":{"type":"string","description":"The current state of the person on the cadence. Possible values are:\n\nstaged: The person is waiting for the first step in the cadence to occur\n\nactive: The cadence has begun processing this person and is still in the process, but idle\n\nscheduled: The cadence has begun processing this person and is still in the process, with an activity scheduled to occur\n\ncompleted: The cadence has been completed for this person\n\nremoved: The person was manually or automatically removed from the cadence\n\nremoved_no_action: The person was removed from the cadence before any action occurred\n\nreassigned: The person's cadence execution was transferred to a different user, ending this user's interaction\n","example":"staged"},"id":{"type":"integer","description":"Cadence membership ID","example":1},"latest_action":{"$ref":"#/components/schemas/EmbeddedResource"},"person":{"$ref":"#/components/schemas/EmbeddedResource"},"person_deleted":{"type":"boolean","description":"Whether the associated person has since been deleted","example":false},"updated_at":{"type":"string","description":"Datetime of when the record was last updated","format":"date"},"user":{"$ref":"#/components/schemas/EmbeddedResource"}}},"CadenceMembershipCounts":{"type":"object","properties":{"bounces":{"type":"integer","description":"The number of times emails sent from the cadence to the person bounced","example":0},"calls":{"type":"integer","description":"The number of times a call was logged from the cadence to the person","example":2},"clicks":{"type":"integer","description":"The number of times emails sent from the cadence to the person were clicked","example":5},"replies":{"type":"integer","description":"The number of times emails sent from the cadence to the person were replied to","example":2},"sent_emails":{"type":"integer","description":"The number of times emails were sent from the cadence to the person","example":4},"views":{"type":"integer","description":"The number of times emails sent from the cadence to the person were opened","example":10}}},"Call":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/EmbeddedResource"},"called_person":{"$ref":"#/components/schemas/EmbeddedResource"},"created_at":{"type":"string","description":"Datetime of when the call was created","format":"date"},"crm_activity":{"$ref":"#/components/schemas/EmbeddedResource"},"disposition":{"type":"string","description":"Result of the call","example":"Connected"},"duration":{"type":"integer","description":"Length of the call in seconds","example":60},"id":{"type":"integer","description":"ID of Call","example":1},"note":{"$ref":"#/components/schemas/EmbeddedResource"},"recordings":{"type":"array","description":"The recordings for this this call and their status","example":[{"status":"completed","url":"https://example.com/recording1"}],"items":{"$ref":"#/components/schemas/EmbeddedRecordingResource"}},"sentiment":{"type":"string","description":"Outcome of the conversation","example":"Demo Scheduled"},"to":{"type":"string","description":"Phone number that received the call","example":"7705551234"},"updated_at":{"type":"string","description":"Datetime of when the call was last updated","format":"date"},"user":{"$ref":"#/components/schemas/EmbeddedResource"}}},"CallDataRecord":{"type":"object","properties":{"call":{"$ref":"#/components/schemas/EmbeddedResource"},"created_at":{"type":"string","description":"Datetime of when the call was created","format":"date"},"direction":{"type":"string","description":"Direction of the call. Can be one of: inbound, outbound","example":"outbound"},"duration":{"type":"integer","description":"Length of the call in seconds","example":60},"from":{"type":"string","description":"Phone number that placed the call","example":"7705551234"},"id":{"type":"integer","description":"ID of CallDataRecord","example":1},"recording":{"$ref":"#/components/schemas/EmbeddedRecordingResource"},"to":{"type":"string","description":"Phone number that received the call","example":"7705551234"},"updated_at":{"type":"string","description":"Datetime of when the call was last updated","format":"date"},"user":{"$ref":"#/components/schemas/EmbeddedResource"}}},"CallInstruction":{"type":"object","properties":{"created_at":{"type":"string","description":"Datetime of when the call instructions were created","format":"date"},"id":{"type":"integer","description":"ID of call instructions","example":1},"instructions":{"type":"string","description":"The instructions","example":"Call once, leave voicemail if not answered. Conference conversation."},"updated_at":{"type":"string","description":"Datetime of when the call instructions were last updated","format":"date"}}},"CallerId":{"type":"object","properties":{"account_name":{"type":"string","description":"The account of the person calling","example":"Bunty Soap Company"},"display_name":{"type":"string","description":"The name of the person calling","example":"Frank Galikanokus"},"person":{"$ref":"#/components/schemas/EmbeddedResource"},"title":{"type":"string","description":"The title of the person calling","example":"Transportation Coordinator"}}},"CrmActivity":{"type":"object","properties":{"activity_type":{"type":"string","description":"The type of activity that is being recorded, if available. The values can change over time, but could be one of: email, phone, email reminder, inmail","example":"phone"},"created_at":{"type":"string","description":"Datetime of when the crm activity was created","format":"date"},"crm_id":{"type":"string","description":"The ID of the activity in Salesforce, if written to Salesforce","example":"00T0H00003w2FBhUAM"},"custom_crm_fields":{"type":"object","description":"Additional fields that are logged to Salesforce, if mapped by the team at the time of writing to Salesforce","example":{"ecorp__Call_Type__c":"inbound follow up"}},"description":{"type":"string","description":"The description field of the activity in Salesforce","example":"Timeline is 2 weeks for demo, set with Kate"},"error":{"type":"string","description":"Information about why this crm activity failed to sync, if it did fail to sync. Failed activities will be automatically retried and may become successful in the future"},"id":{"type":"integer","description":"CrmActivity ID","example":1},"person":{"$ref":"#/components/schemas/EmbeddedResource"},"subject":{"type":"string","description":"The subject field of the activity in Salesforce","example":"Call: Connected | Interested"},"updated_at":{"type":"string","description":"Datetime of when the crm activity was last updated","format":"date"},"user":{"$ref":"#/components/schemas/EmbeddedResource"}}},"CustomField":{"type":"object","properties":{"created_at":{"type":"string","description":"Datetime of when the Custom Field was created","format":"date"},"field_type":{"type":"string","description":"Type of the Custom Field. Value must be one of: person, company, opportunity.","example":"person"},"id":{"type":"integer","description":"ID of Custom Field","example":1},"name":{"type":"string","description":"Name of the Custom Field","example":"My Custom Field"},"updated_at":{"type":"string","description":"Datetime of when the Custom Field was last updated","format":"date"}}},"Email":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/EmbeddedResource"},"bounced":{"type":"boolean","description":"Whether this email bounced","example":false},"click_tracking":{"type":"boolean","description":"Whether this email had click tracking enabled","example":true},"counts":{"$ref":"#/components/schemas/EmailCounts"},"created_at":{"type":"string","description":"Datetime of when the email was created","format":"date"},"crm_activity":{"$ref":"#/components/schemas/EmbeddedResource"},"headers":{"type":"object","description":"Selected headers that are included if this email used them. Available keys are: cc, bcc","example":{"bcc":"track@salesforce.com","cc":"sb@salesloft.com"}},"id":{"type":"integer","description":"ID of Email","example":1},"mailing":{"$ref":"#/components/schemas/EmbeddedResource"},"recipient":{"$ref":"#/components/schemas/EmbeddedResource"},"recipient_email_address":{"type":"string","description":"Email address of the recipient","example":"bob.smith@example.com"},"send_after":{"type":"string","description":"When this email will be sent, or null if already sent","format":"date"},"sent_at":{"type":"string","description":"When this email was sent, or null if it was not sent","format":"date"},"status":{"type":"string","description":"Status of this email through the sending process. Possible values are: sent, sent_from_gmail, sent_from_external, pending, pending_reply_check, scheduled, sending, delivering, failed, cancelled, pending_through_gmail, pending_through_external","example":"sent"},"updated_at":{"type":"string","description":"Datetime of when the email was last updated","format":"date"},"user":{"$ref":"#/components/schemas/EmbeddedResource"},"view_tracking":{"type":"boolean","description":"Whether this email had view tracking enabled","example":true}}},"EmailCounts":{"type":"object","properties":{"attachments":{"type":"integer","description":"The number of attachments on the email","example":0},"clicks":{"type":"integer","description":"The number of times links in the email were clicked","example":2},"replies":{"type":"integer","description":"The number of replies the email received","example":1},"unique_devices":{"type":"integer","description":"The number of unique devices that opened the email","example":4},"unique_locations":{"type":"integer","description":"The number of unique locations that opened the email","example":3},"views":{"type":"integer","description":"The number of times the email was opened","example":3}}},"EmailTemplate":{"type":"object","properties":{"archived_at":{"type":"string","description":"Datetime of when the email template was archived, if archived","format":"date"},"body":{"type":"string","description":"Sanitized body of the email template without email signature","example":"<div><div>Welcome to the SalesLoft family! My name is Sarah and I’m your implementation consultant. I’m here to get you up and running. It's my job to help you configure your team's SalesLoft access, provide customized training for your specific goals, and make sure that you and your team are ready to crush your goals.</div><div dir=\"ltr\"><br></div>Thank you,<br></div>"},"cadence_template":{"type":"boolean","description":"Whether this email template is only used on a cadence step. These templates are not visible in the SalesLoft application template list. If false, this email template is visible in the SalesLoft application, and may be used when composing an email or creating a cadence step.","example":true},"click_tracking_enabled":{"type":"boolean","description":"Whether click tracking is enabled for this email template","example":true},"counts":{"$ref":"#/components/schemas/EmailTemplateCounts"},"created_at":{"type":"string","description":"Datetime of when the email template was created","format":"date"},"id":{"type":"integer","description":"ID of email template","example":5},"last_used_at":{"type":"string","description":"Datetime of when the email template was last used","format":"date"},"open_tracking_enabled":{"type":"boolean","description":"Whether open tracking is enabled for this email template","example":true},"shared":{"type":"boolean","description":"Whether this email template is visible to team members (shared)","example":false},"subject":{"type":"string","description":"Subject of the email template","example":"Welcome to SalesLoft!"},"team_template":{"$ref":"#/components/schemas/EmbeddedResource"},"template_owner":{"$ref":"#/components/schemas/EmbeddedResource"},"title":{"type":"string","description":"Title of the email template","example":"Welcome email"},"updated_at":{"type":"string","description":"Datetime of when the email template was last updated","format":"date"}}},"EmailTemplateCounts":{"type":"object","properties":{"bounces":{"type":"integer","description":"The number of bounces the email template received","example":10},"clicks":{"type":"integer","description":"The number of times links in the email template were clicked","example":20},"replies":{"type":"integer","description":"The number of replies the email template received","example":1},"sent_emails":{"type":"integer","description":"The number of times the email template was sent out","example":59},"views":{"type":"integer","description":"The number of times the email template was opened","example":3}}},"EmbeddedRecordingResource":{"type":"object","properties":{"status":{"type":"string","description":"The processing status of the recording. A completed status means that the recording is fully available","example":"completed"},"url":{"type":"string","description":"The url of the recording","example":"http://example.com/recording/1"}}},"EmbeddedResource":{"type":"object","properties":{"_href":{"type":"string","description":"Resource URL, pointed at your API version, present if this resource is available in the API","example":"https://api.salesloft.com/v2/widgets/10"},"id":{"type":"integer","description":"ID of the resource","example":10}}},"Import":{"type":"object","properties":{"created_at":{"type":"string","description":"Datetime of when the import was created","format":"date"},"current_people_count":{"type":"integer","description":"Count of People that have not been deleted","example":5},"id":{"type":"integer","description":"Import ID","example":1},"imported_people_count":{"type":"integer","description":"Count of People that have ever been on this Import","example":7},"name":{"type":"string","description":"Name of Import","example":"DataProvider -> SalesLoft 9/1/17"},"updated_at":{"type":"string","description":"Datetime of when the import was last updated, ignoring relationship changes","format":"date"}}},"Note":{"type":"object","properties":{"associated_with":{"$ref":"#/components/schemas/EmbeddedResource"},"call":{"$ref":"#/components/schemas/EmbeddedResource"},"content":{"type":"string","description":"The content of the note","example":"Was very interested in a demo at a later time"},"created_at":{"type":"string","description":"Datetime of when the note was created","format":"date"},"id":{"type":"integer","description":"Note ID","example":1},"updated_at":{"type":"string","description":"Datetime of when the note was last updated","format":"date"},"user":{"$ref":"#/components/schemas/EmbeddedResource"}}},"Person":{"type":"object","properties":{"account":{"$ref":"#/components/schemas/EmbeddedResource"},"bouncing":{"type":"boolean","description":"Whether this person's current email address has bounced","example":false},"city":{"type":"string","description":"City","example":"Atlanta"},"country":{"type":"string","description":"Country","example":"United States"},"counts":{"$ref":"#/components/schemas/PersonCounts"},"created_at":{"type":"string","description":"Datetime of when the person was created","format":"date"},"crm_id":{"type":"string","description":"CRM ID, currently Salesforce.com only","example":"003i000001mnhpD"},"crm_object_type":{"type":"string","description":"CRM object type, currently Salesforce.com only","example":"Lead"},"crm_url":{"type":"string","description":"CRM url, currently Salesforce.com only","example":"https://na15.salesforce.com/003i000001mnhpD"},"custom_fields":{"type":"object","description":"Custom fields are defined by the user's team. Only fields with values are presented in the API.","example":{"MyField":"A Value","Other":"Field"}},"display_name":{"type":"string","description":"Either the full name or the email address. Use this when showing a person's name","example":"Pat Johnson"},"do_not_contact":{"type":"boolean","description":"Whether or not this person has opted out of communications. Do not contact someone when this is set to true","example":true},"email_address":{"type":"string","description":"Email address","example":"pat.johnson@example.com"},"first_name":{"type":"string","description":"First name","example":"Pat"},"home_phone":{"type":"string","description":"Home phone without formatting","example":"+1 444 555 6666"},"id":{"type":"integer","description":"Person ID","example":1},"import":{"$ref":"#/components/schemas/EmbeddedResource"},"last_contacted_at":{"type":"string","description":"Last datetime this person was contacted","format":"date"},"last_contacted_by":{"$ref":"#/components/schemas/EmbeddedResource"},"last_contacted_type":{"type":"string","description":"The type of the last touch to this person. Can be call, email, other","example":"call"},"last_name":{"type":"string","description":"Last name","example":"Johnson"},"last_replied_at":{"type":"string","description":"Last datetime this person replied to an email","format":"date"},"linkedin_url":{"type":"string","description":"Linkedin URL","example":"https://www.linkedin.com/in/username"},"locale":{"type":"string","description":"Time locale of the person","example":"US/Eastern"},"mobile_phone":{"type":"string","description":"Mobile phone without formatting","example":"+1 444 555 6666"},"owner":{"$ref":"#/components/schemas/EmbeddedResource"},"owner_crm_id":{"type":"string","description":"Mapped owner field from the CRM, currently Salesforce.com only","example":"003i000001mnhpD"},"person_company_industry":{"type":"string","description":"Company industry. This property is specific to this person, unrelated to the company object. Updating the company object associated with this person is recommended","example":"Information Technology"},"person_company_name":{"
[...]
