{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Language Identification (Prediction)",
    "description" : "Automatic language detection for any texts. Supports over 150 languages.",
    "contact" : {
      "name" : "Forum",
      "url" : "https://rapidapi.com/BigLobster/api/language-identification-prediction/discussions"
    },
    "version" : "1.0.0"
  },
  "externalDocs" : {
    "url" : "https://rapidapi.com/BigLobster/api/language-identification-prediction/details"
  },
  "servers" : [ {
    "url" : "https://language-identification-prediction.p.rapidapi.com/v1/"
  } ],
  "paths" : {
    "/recognize-language/" : {
      "post" : {
        "summary" : "Recognize Language",
        "parameters" : [ {
          "name" : "X-RapidAPI-Host",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "language-identification-prediction.p.rapidapi.com"
          }
        }, {
          "name" : "X-RapidAPI-Key",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "text" ],
                "type" : "object",
                "properties" : {
                  "text" : {
                    "type" : "string",
                    "description" : "text"
                  }
                }
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "text" ],
                "type" : "object",
                "properties" : {
                  "text" : {
                    "type" : "string",
                    "description" : "text"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    }
  }
}