{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MonitorManagementClient",
    "version" : "2019-03-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/{resourceUri}/providers/microsoft.insights/metricBaselines" : {
      "get" : {
        "tags" : [ "Baseline", "Metric" ],
        "description" : "**Lists the metric baseline values for a resource**.",
        "operationId" : "Baselines_List",
        "parameters" : [ {
          "name" : "resourceUri",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricnames",
          "in" : "query",
          "description" : "The names of the metrics (comma separated) to retrieve.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricnamespace",
          "in" : "query",
          "description" : "Metric namespace to query metric definitions for.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timespan",
          "in" : "query",
          "description" : "The timespan of the query. It is a string with the following format 'startDateTime_ISO/endDateTime_ISO'.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "interval",
          "in" : "query",
          "description" : "The interval (i.e. timegrain) of the query.",
          "schema" : {
            "type" : "string",
            "format" : "duration"
          }
        }, {
          "name" : "aggregation",
          "in" : "query",
          "description" : "The list of aggregation types (comma separated) to retrieve.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sensitivities",
          "in" : "query",
          "description" : "The list of sensitivities (comma separated) to retrieve.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The **$filter** is used to reduce the set of metric data returned.<br>Example:<br>Metric contains metadata A, B and C.<br>- Return all time series of C where A = a1 and B = b1 or b2<br>**$filter=A eq ‘a1’ and B eq ‘b1’ or B eq ‘b2’ and C eq ‘*’**<br>- Invalid variant:<br>**$filter=A eq ‘a1’ and B eq ‘b1’ and C eq ‘*’ or B = ‘b2’**<br>This is invalid because the logical or operator cannot separate two different metadata names.<br>- Return all time series where A = a1, B = b1 and C = c1:<br>**$filter=A eq ‘a1’ and B eq ‘b1’ and C eq ‘c1’**<br>- Return all time series where A = a1<br>**$filter=A eq ‘a1’ and B eq ‘*’ and C eq ‘*’**.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resultType",
          "in" : "query",
          "description" : "Allows retrieving only metadata of the baseline. On data request all information is retrieved.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Data", "Metadata" ]
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to get the list of metric baseline values.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricBaselinesResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BaselineMetadata" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Name of the baseline metadata."
          },
          "value" : {
            "type" : "string",
            "description" : "Value of the baseline metadata."
          }
        },
        "description" : "Represents a baseline metadata value."
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Describes the format of Error response."
      },
      "MetricBaselinesProperties" : {
        "required" : [ "baselines", "interval", "timespan" ],
        "type" : "object",
        "properties" : {
          "baselines" : {
            "type" : "array",
            "description" : "The baseline for each time series that was queried.",
            "items" : {
              "$ref" : "#/components/schemas/TimeSeriesBaseline"
            }
          },
          "interval" : {
            "type" : "string",
            "description" : "The interval (window size) for which the metric data was returned in.  This may be adjusted in the future and returned back from what was originally requested.  This is not present if a metadata request was made.",
            "format" : "duration"
          },
          "namespace" : {
            "type" : "string",
            "description" : "The namespace of the metrics been queried."
          },
          "timespan" : {
            "type" : "string",
            "description" : "The timespan for which the data was retrieved. Its value consists of two datetimes concatenated, separated by '/'.  This may be adjusted in the future and returned back from what was originally requested."
          }
        },
        "description" : "The response to a metric baselines query."
      },
      "MetricBaselinesResponse" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of metric baselines.",
            "items" : {
              "$ref" : "#/components/schemas/SingleMetricBaseline"
            }
          }
        },
        "description" : "A list of metric baselines."
      },
      "MetricSingleDimension" : {
        "required" : [ "name", "value" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Name of the dimension."
          },
          "value" : {
            "type" : "string",
            "description" : "Value of the dimension."
          }
        },
        "description" : "The metric dimension name and value."
      },
      "SingleBaseline" : {
        "required" : [ "highThresholds", "lowThresholds", "sensitivity" ],
        "type" : "object",
        "properties" : {
          "highThresholds" : {
            "type" : "array",
            "description" : "The high thresholds of the baseline.",
            "items" : {
              "type" : "number",
              "description" : "A single high threshold value.",
              "format" : "double"
            }
          },
          "lowThresholds" : {
            "type" : "array",
            "description" : "The low thresholds of the baseline.",
            "items" : {
              "type" : "number",
              "description" : "A single low threshold value.",
              "format" : "double"
            }
          },
          "sensitivity" : {
            "type" : "string",
            "description" : "the sensitivity of the baseline.",
            "enum" : [ "Low", "Medium", "High" ]
          }
        },
        "description" : "The baseline values for a single sensitivity value."
      },
      "SingleMetricBaseline" : {
        "required" : [ "id", "name", "properties", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The metric baseline Id."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the metric for which the baselines were retrieved."
          },
          "properties" : {
            "$ref" : "#/components/schemas/MetricBaselinesProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "The resource type of the metric baseline resource."
          }
        },
        "description" : "The baseline results of a single metric."
      },
      "TimeSeriesBaseline" : {
        "required" : [ "aggregation", "data", "timestamps" ],
        "type" : "object",
        "properties" : {
          "aggregation" : {
            "type" : "string",
            "description" : "The aggregation type of the metric."
          },
          "data" : {
            "type" : "array",
            "description" : "The baseline values for each sensitivity.",
            "items" : {
              "$ref" : "#/components/schemas/SingleBaseline"
            }
          },
          "dimensions" : {
            "type" : "array",
            "description" : "The dimensions of this time series.",
            "items" : {
              "$ref" : "#/components/schemas/MetricSingleDimension"
            }
          },
          "metadata" : {
            "type" : "array",
            "description" : "The baseline metadata values.",
            "items" : {
              "$ref" : "#/components/schemas/BaselineMetadata"
            }
          },
          "timestamps" : {
            "type" : "array",
            "description" : "The list of timestamps of the baselines.",
            "items" : {
              "type" : "string",
              "description" : "The timestamp for the baseline value in ISO 8601 format.",
              "format" : "date-time"
            }
          }
        },
        "description" : "The baseline values for a single time series."
      }
    },
    "parameters" : {
      "AggregationsParameter" : {
        "name" : "aggregation",
        "in" : "query",
        "description" : "The list of aggregation types (comma separated) to retrieve.",
        "schema" : {
          "type" : "string"
        }
      },
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "BaselineResultTypeParameter" : {
        "name" : "resultType",
        "in" : "query",
        "description" : "Allows retrieving only metadata of the baseline. On data request all information is retrieved.",
        "schema" : {
          "type" : "string",
          "enum" : [ "Data", "Metadata" ]
        }
      },
      "IntervalParameter" : {
        "name" : "interval",
        "in" : "query",
        "description" : "The interval (i.e. timegrain) of the query.",
        "schema" : {
          "type" : "string",
          "format" : "duration"
        }
      },
      "MetricNamesParameter" : {
        "name" : "metricnames",
        "in" : "query",
        "description" : "The names of the metrics (comma separated) to retrieve.",
        "schema" : {
          "type" : "string"
        }
      },
      "MetricNamespaceParameter" : {
        "name" : "metricnamespace",
        "in" : "query",
        "description" : "Metric namespace to query metric definitions for.",
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceUriParameter" : {
        "name" : "resourceUri",
        "in" : "path",
        "description" : "The identifier of the resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SensitivitiesParameter" : {
        "name" : "sensitivities",
        "in" : "query",
        "description" : "The list of sensitivities (comma separated) to retrieve.",
        "schema" : {
          "type" : "string"
        }
      },
      "TimespanParameter" : {
        "name" : "timespan",
        "in" : "query",
        "description" : "The timespan of the query. It is a string with the following format 'startDateTime_ISO/endDateTime_ISO'.",
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}