{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "OpenALPR CarCheck API",
    "description" : "The OpenALPR CarCheck API allows you to send images to the cloud for processing. \nThe image will be analyzed for license plates and vehicle make/models.  The results \nare returned in JSON format\n",
    "version" : "3.0.1"
  },
  "servers" : [ {
    "url" : "https://api.openalpr.com/v3"
  } ],
  "paths" : {
    "/config" : {
      "get" : {
        "description" : "Get a list of available results for plate and vehicle recognition\n",
        "operationId" : "getConfig",
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/recognize" : {
      "post" : {
        "description" : "Send an image for OpenALPR to analyze and provide metadata back\nThe image is sent as a file using a form data POST\n",
        "operationId" : "recognizeFile",
        "parameters" : [ {
          "name" : "secret_key",
          "in" : "query",
          "description" : "The secret key used to authenticate your account.  You can view your \nsecret key by visiting \nhttps://cloud.openalpr.com/\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recognize_vehicle",
          "in" : "query",
          "description" : "If set to 1, the vehicle will also be recognized in the image\nThis requires an additional credit per request\n",
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "enum" : [ 0, 1 ]
          }
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Defines the training data used by OpenALPR.  \"us\" analyzes \nNorth-American style plates.  \"eu\" analyzes European-style plates.\n\nThis field is required if using the \"plate\" task\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "return_image",
          "in" : "query",
          "description" : "If set to 1, the image you uploaded will be encoded in base64 and \nsent back along with the response\n",
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "enum" : [ 0, 1 ]
          }
        }, {
          "name" : "topn",
          "in" : "query",
          "description" : "The number of results you would like to be returned for plate \ncandidates and vehicle classifications\n",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "default" : 10
          }
        }, {
          "name" : "is_cropped",
          "in" : "query",
          "description" : "When providing a plate or vehicle that is already cropped,  \nthis performs a recognition against the full crop and does not \nattempt to localize the plate/vehicle\n",
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "enum" : [ 0, 1 ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "image" ],
                "type" : "object",
                "properties" : {
                  "image" : {
                    "type" : "string",
                    "description" : "The image file that you wish to analyze\n",
                    "format" : "binary"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Ratelimit-Reset" : {
                "description" : "Epoch time when the next period begins",
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Ratelimit-Remaining" : {
                "description" : "Number of remaining requests allowed during this period",
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-RateLimit-Limit" : {
                "description" : "Maximum number of requests allowed from your IP in a period",
                "schema" : {
                  "type" : "integer"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Parameter is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "User not authorized or invalid secret_key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "402" : {
            "description" : "Monthly usage limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Temporary rate-limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/recognize_bytes" : {
      "post" : {
        "description" : "Send an image for OpenALPR to analyze and provide metadata back\nThe image is sent as base64 encoded bytes.\n",
        "operationId" : "recognizeBytes",
        "parameters" : [ {
          "name" : "secret_key",
          "in" : "query",
          "description" : "The secret key used to authenticate your account.  You can view your \nsecret key by visiting \nhttps://cloud.openalpr.com/\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recognize_vehicle",
          "in" : "query",
          "description" : "If set to 1, the vehicle will also be recognized in the image\nThis requires an additional credit per request\n",
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "enum" : [ 0, 1 ]
          }
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Defines the training data used by OpenALPR.  \"us\" analyzes \nNorth-American style plates.  \"eu\" analyzes European-style plates.\n\nThis field is required if using the \"plate\" task\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "return_image",
          "in" : "query",
          "description" : "If set to 1, the image you uploaded will be encoded in base64 and \nsent back along with the response\n",
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "enum" : [ 0, 1 ]
          }
        }, {
          "name" : "topn",
          "in" : "query",
          "description" : "The number of results you would like to be returned for plate \ncandidates and vehicle classifications\n",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "default" : 10
          }
        } ],
        "requestBody" : {
          "description" : "The image file that you wish to analyze encoded in base64\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Ratelimit-Reset" : {
                "description" : "Epoch time when the next period begins",
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Ratelimit-Remaining" : {
                "description" : "Number of remaining requests allowed during this period",
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-RateLimit-Limit" : {
                "description" : "Maximum number of requests allowed from your IP in a period",
                "schema" : {
                  "type" : "integer"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Parameter is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "User not authorized or invalid secret_key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "402" : {
            "description" : "Monthly usage limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Temporary rate-limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/recognize_url" : {
      "post" : {
        "description" : "Send an image for OpenALPR to analyze and provide metadata back\nThe image is sent as a URL.  The OpenALPR service will download the image \nand process it\n",
        "operationId" : "recognizeUrl",
        "parameters" : [ {
          "name" : "image_url",
          "in" : "query",
          "description" : "A URL to an image that you wish to analyze\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret_key",
          "in" : "query",
          "description" : "The secret key used to authenticate your account.  You can view your \nsecret key by visiting \nhttps://cloud.openalpr.com/\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recognize_vehicle",
          "in" : "query",
          "description" : "If set to 1, the vehicle will also be recognized in the image\nThis requires an additional credit per request\n",
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "enum" : [ 0, 1 ]
          }
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Defines the training data used by OpenALPR.  \"us\" analyzes \nNorth-American style plates.  \"eu\" analyzes European-style plates.\n\nThis field is required if using the \"plate\" task\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "return_image",
          "in" : "query",
          "description" : "If set to 1, the image you uploaded will be encoded in base64 and \nsent back along with the response\n",
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "enum" : [ 0, 1 ]
          }
        }, {
          "name" : "topn",
          "in" : "query",
          "description" : "The number of results you would like to be returned for plate \ncandidates and vehicle classifications\n",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Ratelimit-Reset" : {
                "description" : "Epoch time when the next period begins",
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Ratelimit-Remaining" : {
                "description" : "Number of remaining requests allowed during this period",
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-RateLimit-Limit" : {
                "description" : "Maximum number of requests allowed from your IP in a period",
                "schema" : {
                  "type" : "integer"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Parameter is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "User not authorized or invalid secret_key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "402" : {
            "description" : "Monthly usage limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Temporary rate-limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "coordinate" : {
        "type" : "object",
        "properties" : {
          "x" : {
            "type" : "integer"
          },
          "y" : {
            "type" : "integer"
          }
        }
      },
      "plate_candidate" : {
        "type" : "object",
        "properties" : {
          "confidence" : {
            "type" : "number",
            "description" : "Confidence percentage that the plate number is correct"
          },
          "matches_template" : {
            "type" : "integer",
            "description" : "Indicates whether the plate matched a regional text pattern"
          },
          "plate" : {
            "type" : "string",
            "description" : "Plate number"
          }
        }
      },
      "plate_details" : {
        "type" : "object",
        "properties" : {
          "candidates" : {
            "type" : "array",
            "description" : "All the top N candidates that could be the correct plate number",
            "items" : {
              "$ref" : "#/components/schemas/plate_candidate"
            }
          },
          "confidence" : {
            "type" : "number",
            "description" : "Confidence percentage that the plate number is correct"
          },
          "coordinates" : {
            "type" : "array",
            "description" : "The X/Y coordinates of the license plate in the image\nFour coordinates are provided that form a polygon starting\nfrom the top-left and moving clockwise ending in the bottom left\n",
            "items" : {
              "$ref" : "#/components/schemas/coordinate"
            }
          },
          "matches_template" : {
            "type" : "integer",
            "description" : "Indicates whether the plate matched a regional text pattern"
          },
          "plate" : {
            "type" : "string",
            "description" : "Best plate number for this plate"
          },
          "processing_time_ms" : {
            "type" : "number",
            "description" : "Number of milliseconds to process the license plate"
          },
          "region" : {
            "type" : "string",
            "description" : "Specified or detected region (e.g., tx for Texas)"
          },
          "region_confidence" : {
            "type" : "number",
            "description" : "Confidence percentage that the plate region is correct"
          },
          "requested_topn" : {
            "type" : "integer",
            "description" : "The max number of results requested"
          },
          "vehicle" : {
            "$ref" : "#/components/schemas/vehicle_details"
          },
          "vehicle_region" : {
            "$ref" : "#/components/schemas/region_of_interest"
          }
        }
      },
      "region_of_interest" : {
        "type" : "object",
        "properties" : {
          "height" : {
            "type" : "integer"
          },
          "width" : {
            "type" : "integer"
          },
          "x" : {
            "type" : "integer"
          },
          "y" : {
            "type" : "integer"
          }
        }
      },
      "vehicle_candidate" : {
        "type" : "object",
        "properties" : {
          "confidence" : {
            "type" : "number",
            "description" : "confidence of value (percent)"
          },
          "name" : {
            "type" : "string",
            "description" : "name of value"
          }
        }
      },
      "vehicle_details" : {
        "type" : "object",
        "properties" : {
          "body_type" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/vehicle_candidate"
            }
          },
          "color" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/vehicle_candidate"
            }
          },
          "make" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/vehicle_candidate"
            }
          },
          "make_model" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/vehicle_candidate"
            }
          },
          "orientation" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/vehicle_candidate"
            }
          },
          "year" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/vehicle_candidate"
            }
          }
        }
      },
      "vehicles" : {
        "type" : "object",
        "properties" : {
          "details" : {
            "$ref" : "#/components/schemas/vehicle_details"
          },
          "height" : {
            "type" : "integer"
          },
          "width" : {
            "type" : "integer"
          },
          "x" : {
            "type" : "integer"
          },
          "y" : {
            "type" : "integer"
          }
        }
      }
    },
    "responses" : {
      "api_200" : {
        "description" : "OK",
        "headers" : {
          "X-Ratelimit-Reset" : {
            "description" : "Epoch time when the next period begins",
            "schema" : {
              "type" : "integer"
            }
          },
          "X-Ratelimit-Remaining" : {
            "description" : "Number of remaining requests allowed during this period",
            "schema" : {
              "type" : "integer"
            }
          },
          "X-RateLimit-Limit" : {
            "description" : "Maximum number of requests allowed from your IP in a period",
            "schema" : {
              "type" : "integer"
            }
          }
        },
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object"
            }
          }
        }
      },
      "api_400" : {
        "description" : "Parameter is invalid",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object"
            }
          }
        }
      },
      "api_401" : {
        "description" : "User not authorized or invalid secret_key",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object"
            }
          }
        }
      },
      "api_402" : {
        "description" : "Monthly usage limit exceeded",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object"
            }
          }
        }
      },
      "api_403" : {
        "description" : "Temporary rate-limit exceeded",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object"
            }
          }
        }
      }
    },
    "parameters" : {
      "country" : {
        "name" : "country",
        "in" : "query",
        "description" : "Defines the training data used by OpenALPR.  \"us\" analyzes \nNorth-American style plates.  \"eu\" analyzes European-style plates.\n\nThis field is required if using the \"plate\" task\n",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "is_cropped" : {
        "name" : "is_cropped",
        "in" : "query",
        "description" : "When providing a plate or vehicle that is already cropped,  \nthis performs a recognition against the full crop and does not \nattempt to localize the plate/vehicle\n",
        "schema" : {
          "type" : "integer",
          "default" : 0,
          "enum" : [ 0, 1 ]
        }
      },
      "recognize_vehicle" : {
        "name" : "recognize_vehicle",
        "in" : "query",
        "description" : "If set to 1, the vehicle will also be recognized in the image\nThis requires an additional credit per request\n",
        "schema" : {
          "type" : "integer",
          "default" : 0,
          "enum" : [ 0, 1 ]
        }
      },
      "return_image" : {
        "name" : "return_image",
        "in" : "query",
        "description" : "If set to 1, the image you uploaded will be encoded in base64 and \nsent back along with the response\n",
        "schema" : {
          "type" : "integer",
          "default" : 0,
          "enum" : [ 0, 1 ]
        }
      },
      "secret_key" : {
        "name" : "secret_key",
        "in" : "query",
        "description" : "The secret key used to authenticate your account.  You can view your \nsecret key by visiting \nhttps://cloud.openalpr.com/\n",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "topn" : {
        "name" : "topn",
        "in" : "query",
        "description" : "The number of results you would like to be returned for plate \ncandidates and vehicle classifications\n",
        "schema" : {
          "maximum" : 1000,
          "minimum" : 1,
          "type" : "integer",
          "default" : 10
        }
      }
    }
  }
}