{"openapi":"3.0.1","info":{"title":"Security Center","description":"API spec for Microsoft.Security (Azure Security Center) resource provider","version":"2019-08-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Security/iotSecuritySolutions":{"get":{"tags":["IoT Security Solution"],"description":"Use this method to get the list of IoT Security solutions by subscription.","operationId":"IotSecuritySolution_ListBySubscription","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"$filter","in":"query","description":"Filter the IoT Security solution with OData syntax. Supports filtering by iotHubs.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecuritySolutionsList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions":{"get":{"tags":["IoT Security Solution"],"description":"Use this method to get the list IoT Security solutions organized by resource group.","operationId":"IotSecuritySolution_ListByResourceGroup","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"$filter","in":"query","description":"Filter the IoT Security solution with OData syntax. Supports filtering by iotHubs.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecuritySolutionsList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}":{"get":{"tags":["IoT Security Solution"],"description":"User this method to get details of a specific IoT Security solution based on solution name","operationId":"IotSecuritySolution_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecuritySolutionModel"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}},"put":{"tags":["IoT Security Solution"],"description":"Use this method to create or update yours IoT Security solution","operationId":"IotSecuritySolution_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The security solution data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecuritySolutionModel"}}},"required":true},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecuritySolutionModel"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecuritySolutionModel"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}},"delete":{"tags":["IoT Security Solution"],"description":"Use this method to delete yours IoT Security solution","operationId":"IotSecuritySolution_Delete","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Security Solution deleted."},"204":{"description":"Security Solution does not exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}},"patch":{"tags":["IoT Security Solution"],"description":"Use this method to update existing IoT Security solution tags or user defined resources. To update other fields use the CreateOrUpdate method.","operationId":"IotSecuritySolution_Update","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The security solution data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateIotSecuritySolutionData"}}},"required":true},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecuritySolutionModel"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}}},"components":{"schemas":{"IoTSecuritySolutionModel":{"properties":{"location":{"type":"string","description":"The resource location."},"properties":{"$ref":"#/components/schemas/IoTSecuritySolutionProperties"}},"description":"IoT Security solution configuration and resource information.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."},{"$ref":"#/components/schemas/TagsResource"}]},"IoTSecuritySolutionProperties":{"required":["displayName","iotHubs","workspace"],"type":"object","properties":{"autoDiscoveredResources":{"type":"array","description":"List of resources that were automatically discovered as relevant to the security solution.","readOnly":true,"items":{"type":"string"}},"disabledDataSources":{"type":"array","description":"Disabled data sources. Disabling these data sources compromises the system.","items":{"type":"string","enum":["TwinData"]}},"displayName":{"type":"string","description":"Resource display name."},"export":{"type":"array","description":"List of additional options for exporting to workspace data.","items":{"type":"string","enum":["RawEvents"]}},"iotHubs":{"type":"array","description":"IoT Hub resource IDs","items":{"type":"string"}},"recommendationsConfiguration":{"$ref":"#/components/schemas/RecommendationConfigurationList"},"status":{"type":"string","description":"Status of the IoT Security solution.","default":"Enabled","enum":["Enabled","Disabled"]},"unmaskedIpLoggingStatus":{"type":"string","description":"Unmasked IP address logging status","default":"Disabled","enum":["Disabled","Enabled"]},"userDefinedResources":{"$ref":"#/components/schemas/UserDefinedResourcesProperties"},"workspace":{"type":"string","description":"Workspace resource ID"}},"description":"Security Solution setting data"},"IoTSecuritySolutionsList":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page.","readOnly":true},"value":{"type":"array","description":"List of IoT Security solutions","items":{"$ref":"#/components/schemas/IoTSecuritySolutionModel"}}},"description":"List of IoT Security solutions."},"RecommendationConfigurationList":{"type":"array","description":"List of the configuration status for each recommendation type.","items":{"$ref":"#/components/schemas/RecommendationConfigurationProperties"}},"RecommendationConfigurationProperties":{"required":["recommendationType","status"],"type":"object","properties":{"name":{"type":"string","readOnly":true},"recommendationType":{"type":"string","description":"The type of IoT Security recommendation.","enum":["IoT_ACRAuthentication","IoT_AgentSendsUnutilizedMessages","IoT_Baseline","IoT_EdgeHubMemOptimize","IoT_EdgeLoggingOptions","IoT_InconsistentModuleSettings","IoT_InstallAgent","IoT_IPFilter_DenyAll","IoT_IPFilter_PermissiveRule","IoT_OpenPorts","IoT_PermissiveFirewallPolicy","IoT_PermissiveInputFirewallRules","IoT_PermissiveOutputFirewallRules","IoT_PrivilegedDockerOptions","IoT_SharedCredentials","IoT_VulnerableTLSCipherSuite"]},"status":{"type":"string","description":"Recommendation status. When the recommendation status is disabled recommendations are not generated.","default":"Enabled","enum":["Disabled","Enabled"]}},"description":"The type of IoT Security recommendation."},"TagsResource":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"}},"description":"A container holding only the Tags for a resource, allowing the user to update the tags."},"UpdateIoTSecuritySolutionProperties":{"type":"object","properties":{"recommendationsConfiguration":{"$ref":"#/components/schemas/RecommendationConfigurationList"},"userDefinedResources":{"$ref":"#/components/schemas/UserDefinedResourcesProperties"}},"description":"Update Security Solution setting data"},"UpdateIotSecuritySolutionData":{"properties":{"properties":{"$ref":"#/components/schemas/UpdateIoTSecuritySolutionProperties"}},"allOf":[{"$ref":"#/components/schemas/TagsResource"}]},"UserDefinedResourcesProperties":{"required":["query","querySubscriptions"],"type":"object","properties":{"query":{"type":"string","description":"Azure Resource Graph query which represents the security solution's user defined resources. Required to start with \"where type != \"Microsoft.Devices/IotHubs\"\"","nullable":true},"querySubscriptions":{"type":"array","description":"List of Azure subscription ids on which the user defined resources query should be executed.","nullable":true,"items":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}}},"description":"Properties of the IoT Security solution's user defined resources."}},"parameters":{"FilterParam":{"name":"$filter","in":"query","description":"Filter the IoT Security solution with OData syntax. Supports filtering by iotHubs.","schema":{"type":"string"}},"SolutionName":{"name":"solutionName","in":"path","description":"The name of the IoT Security solution.","required":true,"schema":{"type":"string"}}},"requestBodies":{"IotSecuritySolutionData":{"description":"The security solution data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IoTSecuritySolutionModel"}}},"required":true},"UpdateIotSecuritySolution":{"description":"The security solution data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateIotSecuritySolutionData"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}