{"openapi":"3.0.1","info":{"title":"FabricAdminClient","description":"Storage pool operation endpoints and objects.","version":"2016-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools":{"get":{"tags":["StoragePools"],"description":"Returns a list of all storage pools for a location.","operationId":"StoragePools_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"storageSubSystem","in":"path","description":"Name of the storage system.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}},{"name":"$filter","in":"query","description":"OData filter parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoragePoolList"}}}},"404":{"description":"NOT FOUND"}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools/{storagePool}":{"get":{"tags":["StoragePools"],"description":"Return the requested a storage pool.","operationId":"StoragePools_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"storageSubSystem","in":"path","description":"Name of the storage system.","required":true,"schema":{"type":"string"}},{"name":"storagePool","in":"path","description":"Storage pool name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoragePool"}}}},"404":{"description":"NOT FOUND"}}}}},"components":{"schemas":{"StoragePool":{"properties":{"properties":{"$ref":"#/components/schemas/StoragePoolModel"}},"description":"Representation of a storage pool resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"The region where the resource is located."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key-value pairs."},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base resource object."}]},"StoragePoolList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of storage pools.","items":{"$ref":"#/components/schemas/StoragePool"}}},"description":"Pageable list of storage pools."},"StoragePoolModel":{"type":"object","properties":{"sizeGB":{"type":"integer","description":"Amount of space in the storage pool in GB.","format":"int32"}},"description":"All properties of a storage pool."}},"parameters":{"StoragePoolParameter":{"name":"storagePool","in":"path","description":"Storage pool name.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}