{"openapi":"3.0.1","info":{"title":"Freesound","description":"With the Freesound APIv2 you can browse, search, and retrieve information about Freesound users, packs, and the sounds themselves of course. You can find similar sounds to a given target (based on content analysis) and retrieve automatically extracted features from audio files, as well as perform advanced queries combining content analysis features and other metadata (tags, etc...). With the Freesound APIv2, you can also upload, comment, rate and bookmark sounds!","termsOfService":"http://freesound.org/help/tos_api/","contact":{"url":"http://groups.google.com/group/freesound-api"},"license":{"name":"GNU Affero General Public License v3.0","url":"https://www.gnu.org/licenses/agpl-3.0.html"},"version":"2.0.0"},"externalDocs":{"description":"Find out more about Freesound","url":"https://freesound.org/docs/api/index.html"},"servers":[{"url":"http://www.freesound.org/apiv2"}],"tags":[{"name":"search","description":"Search resources"},{"name":"sound","description":"Sound resources"},{"name":"user","description":"User resources"},{"name":"pack","description":"Pack resources"},{"name":"other","description":"Other resources"}],"paths":{"/search/text":{"get":{"tags":["search"],"summary":"Search sounds","description":"This resource allows searching sounds in Freesound by matching their tags and other kinds of metadata.","operationId":"searchText","parameters":[{"name":"query","in":"query","description":"The query! The query is the main parameter used to define a query. You can type several terms separated by spaces or phrases wrapped inside quote ‘”’ characters. For every term, you can also use ‘+’ and ‘-‘ modifier characters to indicate that a term is “mandatory” or “prohibited” (by default, terms are considered to be “mandatory”). For example, in a query such as query=term_a -term_b, sounds including term_b will not match the search criteria. The query does a weighted search over some sound properties including sound tags, the sound name, its description, pack name and the sound id. Therefore, searching for query=123 will find you sounds with id 1234, sounds that have 1234 in the description, in the tags, etc. You’ll find some examples below. Using an empty query (query= or query=\"\") will return all Freeosund sounds.","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Allows filtering query results. See below for more information.","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Indicates how query results should be sorted. See below for a list of the sorting options. By default `sort=score`. <p> <table>\n  <tr>\n    <th>Option</th>\n    <th>Explanation</th>\n  </tr>\n  <tr>\n    <td>score</td>\n    <td>Sort by a relevance score returned by our search engine (default).</td>\n  </tr>\n  <tr>\n    <td>duration_desc\n    <td>Sort by the duration of the sounds, longest sounds first.\n  </tr>\n  <tr>\n    <td>duration_asc\n    <td>Same as above, but shortest sounds first.\n  </tr>\n  <tr>\n    <td>created_desc\n    <td>Sort by the date of when the sound was added. newest sounds first.\n  </tr>\n  <tr>\n    <td>created_asc\n    <td>Same as above, but oldest sounds first.\n  </tr>\n  <tr>\n    <td>downloads_desc\n    <td>Sort by the number of downloads, most downloaded sounds first.\n  </tr>\n  <tr>\n    <td>downloads_asc\n    <td>Same as above, but least downloaded sounds first.\n  </tr>\n  <tr>\n    <td>rating_desc\n    <td>Sort by the average rating given to the sounds, highest rated first.\n  </tr>\n  <tr>\n    <td>rating_asc\n    <td>Same as above, but lowest rated sounds first.\n  </tr>\n</table> </p>","schema":{"type":"string","enum":["score","duration_desc","duration_asc","created_desc","created_asc","downloads_desc","downloads_asc","rating_desc","rating_asc"]}},{"name":"group_by_pack","in":"query","description":"This parameter represents a boolean option to indicate whether to collapse results belonging to sounds of the same pack into single entries in the results list. If `group_by_pack=1` and search results contain more than one sound that belongs to the same pack, only one sound for each distinct pack is returned (sounds with no packs are returned as well). However, the returned sound will feature two extra properties to access these other sounds omitted from the results list: `n_from_same_pack`: indicates how many other results belong to the same pack (and have not been returned) `more_from_same_pack`: uri pointing to the list of omitted sound results of the same pack (also including the result which has already been returned). See examples below. By default `group_by_pack=0`.","schema":{"maximum":1,"minimum":0,"type":"integer"}},{"name":"page","in":"query","description":"Query results are paginated, this parameter indicates what page should be returned. By default `page=1`.","schema":{"minimum":1,"type":"integer","default":1}},{"name":"page_size","in":"query","description":"Indicates the number of sounds per page to include in the result. By default `page_size=15`, and the maximum is `page_size=150`. Not that with bigger `page_size`, more data will need to be transferred.","schema":{"maximum":150,"minimum":0,"type":"integer","default":15}}],"responses":{"200":{"description":"successful operation","content":{"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Sound"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Sound"}}}}},"400":{"description":"Invalid status value"}}}},"/sounds/{soundId}":{"get":{"tags":["sound"],"summary":"Details of a sound","description":"This resource allows the retrieval of detailed information about a sound.","operationId":"getSoundById","parameters":[{"name":"soundId","in":"path","description":"ID of the sound that needs to be fetched","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/Sound"}},"application/json":{"schema":{"$ref":"#/components/schemas/Sound"}}}},"400":{"description":"Invalid ID supplied"},"404":{"description":"Order not found"}}}}},"components":{"schemas":{"Sound":{"type":"object","properties":{"id":{"type":"integer","description":"The sound’s unique identifier.","format":"int64"},"name":{"type":"string","description":"The name user gave to the sound."},"url":{"type":"string","description":"The URI for this sound on the Freesound website."}}}}}}