{"openapi":"3.0.1","info":{"title":"EventHub2018PreviewManagementClient","description":"Azure Event Hubs client for managing Event Hubs Cluster, IPFilter Rules and VirtualNetworkRules resources.","version":"2018-01-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.EventHub/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available Event Hub REST API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/availableClusterRegions":{"get":{"tags":["Event Hubs Clusters"],"description":"List the quantity of available pre-provisioned Event Hubs Clusters, indexed by Azure region.","operationId":"Clusters_ListAvailableClusters","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Available clusters listed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvailableClustersList"}}}},"default":{"description":"Error response describing why available clusters could not be successfully listed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/namespaces":{"get":{"tags":["Namespaces"],"description":"Lists all the available Namespaces within a subscription, irrespective of the resource groups.","operationId":"Namespaces_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Namespaces returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EHNamespaceListResult"}}}},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters":{"get":{"tags":["Event Hubs Clusters"],"description":"Lists the available Event Hubs Clusters within an ARM resource group.","operationId":"Clusters_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Clusters returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterListResult"}}}},"default":{"description":"Event Hub Cluster error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}":{"get":{"tags":["Event Hubs Cluster"],"description":"Gets the resource description of the specified Event Hubs Cluster.","operationId":"Clusters_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Event Hubs Cluster.","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Event Hubs Cluster resource description returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"default":{"description":"Event Hubs Cluster error response describing why the cluster description get operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Event Hubs Cluster"],"description":"Creates or updates an instance of an Event Hubs Cluster.","operationId":"Clusters_Put","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Event Hubs Cluster.","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Event Hubs Cluster successfully created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"201":{"description":"Event Hubs Cluster create or update request accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"202":{"description":"Event Hubs Cluster create or update request accepted."},"default":{"description":"Event Hubs error response detailing why the Event Hubs Cluster create or update operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Event Hubs Cluster"],"description":"Deletes an existing Event Hubs Cluster. This operation is idempotent.","operationId":"Clusters_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Event Hubs Cluster.","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Event Hubs Cluster successfully deleted."},"202":{"description":"Event Hubs Cluster delete request accepted."},"204":{"description":"No content."},"default":{"description":"Event Hubs error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Event Hubs Cluster"],"description":"Modifies mutable properties on the Event Hubs Cluster. This operation is idempotent.","operationId":"Clusters_Patch","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Event Hubs Cluster.","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The properties of the Event Hubs Cluster which should be updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}},"required":true},"responses":{"200":{"description":"Event Hubs Cluster successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"201":{"description":"Event Hubs Cluster update request accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"202":{"description":"Event Hubs Cluster update request accepted."},"default":{"description":"Event Hubs error response detailing why the Event Hubs Cluster update operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}/namespaces":{"get":{"tags":["Event Hubs Namespace Enumeration in Cluster"],"description":"List all Event Hubs Namespace IDs in an Event Hubs Dedicated Cluster.","operationId":"Clusters_ListNamespaces","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Event Hubs Cluster.","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of Namespace IDs in Cluster successfully delivered.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EHNamespaceIdListResult"}}}},"default":{"description":"Event Hubs Cluster error response detailing why this operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}/quotaConfiguration/default":{"get":{"tags":["Event Hubs Cluster Configuration"],"description":"Get all Event Hubs Cluster settings - a collection of key/value pairs which represent the quotas and settings imposed on the cluster.","operationId":"Configuration_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Event Hubs Cluster.","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Event Hubs Cluster settings configuration returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterQuotaConfigurationProperties"}}}},"default":{"description":"Event Hubs Cluster error response describing why the get cluster quotas and settings operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Event Hubs Cluster Configuration"],"description":"Replace all specified Event Hubs Cluster settings with those contained in the request body. Leaves the settings not specified in the request body unmodified.","operationId":"Configuration_Patch","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the Event Hubs Cluster.","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for creating an Event Hubs Cluster resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterQuotaConfigurationProperties"}}},"required":true},"responses":{"200":{"description":"Event Hubs Cluster settings configuration returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterQuotaConfigurationProperties"}}}},"201":{"description":"Event Hubs Cluster setting configuration request successfully accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterQuotaConfigurationProperties"}}}},"202":{"description":"Event Hubs Cluster update request accepted."},"default":{"description":"Event Hubs Cluster error response describing why the get cluster quotas and settings operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces":{"get":{"tags":["Namespaces"],"description":"Lists the available Namespaces within a resource group.","operationId":"Namespaces_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Namespaces returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EHNamespaceListResult"}}}},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}":{"get":{"tags":["Namespaces"],"description":"Gets the description of the specified namespace.","operationId":"Namespaces_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Namespace returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EHNamespace"}}}},"201":{"description":"Namespace update request accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EHNamespace"}}}},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Namespaces"],"description":"Creates or updates a namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.","operationId":"Namespaces_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for creating a namespace resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EHNamespace"}}},"required":true},"responses":{"200":{"description":"Namespace successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EHNamespace"}}}},"201":{"description":"Namespace create request accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EHNamespace"}}}},"202":{"description":"Namespace create or update request accepted."},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Namespaces"],"description":"Deletes an existing namespace. This operation also removes all associated resources under the namespace.","operationId":"Namespaces_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Namespace successfully deleted."},"202":{"description":"Namespace delete request accepted."},"204":{"description":"No content."},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Namespaces"],"description":"Creates or updates a namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.","operationId":"Namespaces_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for updating a namespace resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EHNamespace"}}},"required":true},"responses":{"200":{"description":"Namespace successfully updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EHNamespace"}}}},"201":{"description":"Namespace update request accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EHNamespace"}}}},"202":{"description":"Namespace create or update request accepted."},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/ipfilterrules":{"get":{"tags":["Namespaces"],"description":"Gets a list of IP Filter rules for a Namespace.","operationId":"Namespaces_ListIPFilterRules","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Namespace IpFilterRule successfully returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IpFilterRuleListResult"}}}},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/ipfilterrules/{ipFilterRuleName}":{"get":{"tags":["Namespaces"],"description":"Gets an IpFilterRule for a Namespace by rule name.","operationId":"Namespaces_GetIpFilterRule","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"ipFilterRuleName","in":"path","description":"The IP Filter Rule name.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Namespace IpFilterRule returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IpFilterRule"}}}},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Namespaces"],"description":"Creates or updates an IpFilterRule for a Namespace.","operationId":"Namespaces_CreateOrUpdateIpFilterRule","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"ipFilterRuleName","in":"path","description":"The IP Filter Rule name.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The Namespace IpFilterRule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IpFilterRule"}}},"required":true},"responses":{"200":{"description":"Namespace IpFilterRule created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IpFilterRule"}}}},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Namespaces"],"description":"Deletes an IpFilterRule for a Namespace.","operationId":"Namespaces_DeleteIpFilterRule","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"ipFilterRuleName","in":"path","description":"The IP Filter Rule name.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Namespace IpFilterRule successfully deleted."},"204":{"description":"No content."},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/networkRuleSets/default":{"get":{"tags":["Namespaces"],"description":"Gets NetworkRuleSet for a Namespace.","operationId":"Namespaces_GetNetworkRuleSet","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Namespace NetworkRuleSet successfully returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkRuleSet"}}}},"default":{"description":"ServiceBus error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Namespaces"],"description":"Create or update NetworkRuleSet for a Namespace.","operationId":"Namespaces_CreateOrUpdateNetworkRuleSet","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The Namespace IpFilterRule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkRuleSet"}}},"required":true},"responses":{"200":{"description":"Namespace NetworkRuleSet successfully returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkRuleSet"}}}},"default":{"description":"ServiceBus error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/virtualnetworkrules":{"get":{"tags":["Namespaces"],"description":"Gets a list of VirtualNetwork rules for a Namespace.","operationId":"Namespaces_ListVirtualNetworkRules","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Namespace VirtualNetworkRule successfully returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkRuleListResult"}}}},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/virtualnetworkrules/{virtualNetworkRuleName}":{"get":{"tags":["Namespaces"],"description":"Gets an VirtualNetworkRule for a Namespace by rule name.","operationId":"Namespaces_GetVirtualNetworkRule","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"virtualNetworkRuleName","in":"path","description":"The Virtual Network Rule name.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Namespace VirtualNetworkRule returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkRule"}}}},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Namespaces"],"description":"Creates or updates an VirtualNetworkRule for a Namespace.","operationId":"Namespaces_CreateOrUpdateVirtualNetworkRule","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"virtualNetworkRuleName","in":"path","description":"The Virtual Network Rule name.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The Namespace VirtualNetworkRule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkRule"}}},"required":true},"responses":{"200":{"description":"Namespace VirtualNetworkRule created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualNetworkRule"}}}},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Namespaces"],"description":"Deletes an VirtualNetworkRule for a Namespace.","operationId":"Namespaces_DeleteVirtualNetworkRule","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},{"name":"virtualNetworkRuleName","in":"path","description":"The Virtual Network Rule name.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Namespace VirtualNetworkRule successfully deleted."},"204":{"description":"No content."},"default":{"description":"Eventhub error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"AvailableCluster":{"type":"object","properties":{"location":{"type":"string","description":"Location fo the Available Cluster"}},"description":"Pre-provisioned and readily available Event Hubs Cluster count per region."},"AvailableClustersList":{"type":"object","properties":{"value":{"type":"array","description":"The count of readily available and pre-provisioned Event Hubs Clusters per region.","items":{"$ref":"#/components/schemas/AvailableCluster"}}},"description":"The response of the List Available Clusters operation."},"Cluster":{"properties":{"properties":{"type":"object","properties":{"created":{"type":"string","description":"The UTC time when the Event Hubs Cluster was created.","readOnly":true},"metricId":{"type":"string","description":"The metric ID of the cluster resource. Provided by the service and not modifiable by the user.","readOnly":true},"status":{"type":"string","description":"Status of the Cluster resource","readOnly":true},"updated":{"type":"string","description":"The UTC time when the Event Hubs Cluster was last updated.","readOnly":true}},"description":"Event Hubs Cluster properties supplied in responses in List or Get operations."},"sku":{"$ref":"#/components/schemas/ClusterSku"}},"description":"Single Event Hubs Cluster resource in List or Get operations.","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"ClusterListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to the next set of results. Empty unless the value parameter contains an incomplete list of Event Hubs Clusters."},"value":{"type":"array","description":"The Event Hubs Clusters present in the List Event Hubs operation results.","items":{"$ref":"#/components/schemas/Cluster"}}},"description":"The response of the List Event Hubs Clusters operation."},"ClusterQuotaConfigurationProperties":{"type":"object","properties":{"settings":{"type":"object","additionalProperties":{"type":"string"},"description":"All possible Cluster settings - a collection of key/value paired settings which apply to quotas and configurations imposed on the cluster."}},"description":"Contains all settings for the cluster."},"ClusterSku":{"required":["name"],"type":"object","properties":{"capacity":{"maximum":32,"minimum":1,"type":"integer","description":"The quantity of Event Hubs Cluster Capacity Units contained in this cluster.","format":"int32"},"name":{"type":"string","description":"Name of this SKU.","enum":["Dedicated"]}},"description":"SKU parameters particular to a cluster instance."},"EHNamespace":{"properties":{"properties":{"type":"object","properties":{"clusterArmId":{"type":"string","description":"Cluster ARM ID of the Namespace."},"createdAt":{"type":"string","description":"The time the Namespace was created.","format":"date-time","readOnly":true},"encryption":{"$ref":"#/components/schemas/Encryption"},"identity":{"$ref":"#/components/schemas/Identity"},"isAutoInflateEnabled":{"type":"boolean","description":"Value that indicates whether AutoInflate is enabled for eventhub namespace."},"kafkaEnabled":{"type":"boolean","description":"Value that indicates whether Kafka is enabled for eventhub namespace."},"maximumThroughputUnits":{"maximum":20,"minimum":0,"type":"integer","description":"Upper limit of throughput units when AutoInflate is enabled, value should be within 0 to 20 throughput units. ( '0' if AutoInflateEnabled = true)","format":"int32"},"metricId":{"type":"string","description":"Identifier for Azure Insights metrics.","readOnly":true},"provisioningState":{"type":"string","description":"Provisioning state of the Namespace.","readOnly":true},"serviceBusEndpoint":{"type":"string","description":"Endpoint you can use to perform Service Bus operations.","readOnly":true},"updatedAt":{"type":"string","description":"The time the Namespace was updated.","format":"date-time","readOnly":true},"zoneRedundant":{"type":"boolean","description":"Enabling this property creates a Standard Event Hubs Namespace in regions supported availability zones."}},"description":"Namespace properties supplied for create namespace operation."},"sku":{"$ref":"#/components/schemas/Sku"}},"description":"Single Namespace item in List or Get Operation","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"EHNamespaceIdContainer":{"type":"object","properties":{"id":{"type":"string","description":"id parameter"}},"description":"The full ARM ID of an Event Hubs Namespace"},"EHNamespaceIdListResult":{"type":"object","properties":{"value":{"type":"array","description":"Result of the List Namespace IDs operation","items":{"$ref":"#/components/schemas/EHNamespaceIdContainer"}}},"description":"The response of the List Namespace IDs operation"},"EHNamespaceListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to the next set of results. Not empty if Value contains incomplete list of namespaces."},"value":{"type":"array","description":"Result of the List Namespace operation","items":{"$ref":"#/components/schemas/EHNamespace"}}},"description":"The response of the List Namespace operation"},"Encryption":{"type":"object","properties":{"keySource":{"type":"string","description":"Enumerates the possible value of keySource for Encryption","default":"Microsoft.KeyVault","enum":["Microsoft.KeyVault"]},"keyVaultProperties":{"$ref":"#/components/schemas/KeyVaultProperties"}},"description":"Properties to configure Encryption"},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code."},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response that indicates the service is not able to process the incoming request. The reason is provided in the error message."},"Identity":{"type":"object","properties":{"principalId":{"type":"string","description":"ObjectId from the KeyVault"},"tenantId":{"type":"string","description":"TenantId from the KeyVault"},"type":{"type":"string","description":"Enumerates the possible value Identity type, which currently supports only 'SystemAssigned'","default":"SystemAssigned","enum":["SystemAssigned"]}},"description":"Properties to configure Identity for Bring your Own Keys"},"IpFilterRule":{"properties":{"properties":{"type":"object","properties":{"action":{"type":"string","description":"The IP Filter Action","enum":["Accept","Reject"]},"filterName":{"type":"string","description":"IP Filter name"},"ipMask":{"type":"string","description":"IP Mask"}},"description":"Properties supplied to create or update IpFilterRules"}},"description":"Single item in a List or Get IpFilterRules operation","allOf":[{"$ref":"#/components/schemas/Resource"}]},"IpFilterRuleListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to the next set of results. Not empty if Value contains an incomplete list of IpFilter Rules"},"value":{"type":"array","description":"Result of the List IpFilter Rules operation.","items":{"$ref":"#/components/schemas/IpFilterRule"}}},"description":"The response from the List namespace operation."},"KeyVaultProperties":{"type":"object","properties":{"keyName":{"type":"string","description":"Name of the Key from KeyVault"},"keyVaultUri":{"type":"string","description":"Uri of KeyVault"}},"description":"Properties to configure keyVault Properties"},"NWRuleSetIpRules":{"type":"object","properties":{"action":{"type":"string","description":"The IP Filter Action","enum":["Allow"]},"ipMask":{"type":"string","description":"IP Mask"}},"description":"The response from the List namespace operation."},"NWRuleSetVirtualNetworkRules":{"type":"object","properties":{"ignoreMissingVnetServiceEndpoint":{"type":"boolean","description":"Value that indicates whether to ignore missing Vnet Service Endpoint"},"subnet":{"$ref":"#/components/schemas/Subnet"}},"description":"The response from the List namespace operation."},"NetworkRuleSet":{"properties":{"properties":{"type":"object","properties":{"defaultAction":{"type":"string","description":"Default Action for Network Rule Set","enum":["Allow","Deny"]},"ipRules":{"type":"array","description":"List of IpRules","items":{"$ref":"#/components/schemas/NWRuleSetIpRules"}},"virtualNetworkRules":{"type":"array","description":"List VirtualNetwork Rules","items":{"$ref":"#/components/schemas/NWRuleSetVirtualNetworkRules"}}},"description":"NetworkRuleSet properties"}},"description":"Description of topic resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"operation":{"type":"string","description":"Operation type: Read, write, delete, etc.","readOnly":true},"provider":{"type":"string","description":"Service provider: Microsoft.EventHub","readOnly":true},"resource":{"type":"string","description":"Resource on which the operation is performed: Invoice, etc.","readOnly":true}},"description":"The object that represents the operation."},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}","readOnly":true}},"description":"A Event Hub REST API operation"},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any.","readOnly":true},"value":{"type":"array","description":"List of Event Hub operations supported by the Microsoft.EventHub resource provider.","readOnly":true,"items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list Event Hub operations. It contains a list of operations and a URL link to get the next set of results."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The Resource definition"},"Sku":{"required":["name"],"type":"object","properties":{"capacity":{"maximum":20,"minimum":0,"type":"integer","description":"The Event Hubs throughput units, value should be 0 to 20 throughput units.","format":"int32"},"name":{"type":"string","description":"Name of this SKU.","enum":["Basic","Standard"]},"tier":{"type":"string","description":"The billing tier of this particular SKU.","enum":["Basic","Standard"]}},"description":"SKU parameters supplied to the create namespace operation"},"Subnet":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID of Virtual Network Subnet"}},"description":"Properties supplied for Subnet"},"TrackedResource":{"properties":{"location":{"type":"string","description":"Resource location"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"}},"description":"Definition of an Azure resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"VirtualNetworkRule":{"properties":{"properties":{"type":"object","properties":{"virtualNetworkSubnetId":{"type":"string","description":"ARM ID of Virtual Network Subnet"}},"description":"Properties supplied to create or update VirtualNetworkRules"}},"description":"Single item in a List or Get VirtualNetworkRules operation","allOf":[{"$ref":"#/components/schemas/Resource"}]},"VirtualNetworkRuleListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to the next set of results. Not empty if Value contains an incomplete list of VirtualNetwork Rules"},"value":{"type":"array","description":"Result of the List VirtualNetwork Rules operation.","items":{"$ref":"#/components/schemas/VirtualNetworkRule"}}},"description":"The response from the List namespace operation."}},"parameters":{"apiVersionParameter":{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},"authorizationRuleNameParameter":{"name":"authorizationRuleName","in":"path","description":"The authorization rule name.","required":true,"schema":{"minLength":1,"type":"string"}},"clusterNameParameter":{"name":"clusterName","in":"path","description":"The name of the Event Hubs Cluster.","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},"ipFilterRuleNameParameter":{"name":"ipFilterRuleName","in":"path","description":"The IP Filter Rule name.","required":true,"schema":{"minLength":1,"type":"string"}},"namespaceNameParameter":{"name":"namespaceName","in":"path","description":"The Namespace name","required":true,"schema":{"maxLength":50,"minLength":6,"type":"string"}},"resourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"Name of the resource group within the Azure subscription.","required":true,"schema":{"maxLength":90,"minLength":1,"type":"string"}},"skipParameter":{"name":"$skip","in":"query","description":"Skip is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skip parameter that specifies a starting point to use for subsequent calls.","schema":{"maximum":1000,"minimum":0,"type":"integer"}},"skuNameParameter":{"name":"sku","in":"path","description":"The sku type.","required":true,"schema":{"maxLength":50,"minLength":1,"type":"string"}},"subscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},"topParameter":{"name":"$top","in":"query","description":"May be used to limit the number of results to the most recent N usageDetails.","schema":{"maximum":1000,"minimum":1,"type":"integer"}},"virtualNetworkRuleNameParameter":{"name":"virtualNetworkRuleName","in":"path","description":"The Virtual Network Rule name.","required":true,"schema":{"minLength":1,"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}