{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "U.S. EPA Enforcement and Compliance History Online (ECHO) - Effluent Charting and Reporting",
    "description" : "Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use.\n  ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.\n   EFF Rest Services provides the data for ECHO's Effluent Charts, a set of dynamic charts and tables of permitted effluent limits, releases, and violations over time for Clean Water Act (CWA) wastewater discharge permits issued under the National Pollutant Discharge Elimination System (NPDES).  \n\nSee Effluent Charts Help (https://echo.epa.gov/help/reports/effluent-charts-help) for additional information.\n\\\nThe are 3 service end points for Effluent Charts:  get_summary_chart, get_effluent_chart, and download_effluent_chart.\n\\\n <b>1)</b>  Use get_summary_chart to retrieve a summary matrix of effluent parameters by effluent outfall and an overall violation status for a provided NPDES Permit and date range.\n <b>2)</b>  Use get_effluent_chart to retrieve detailed Discharge Limit, DMR and NPDES Violation information for a provided NPDES Permit, date range, effluent parameter, or outfall.\n <b>3)</b>  Use download_effluent_chart to generate a Comma Separated Value (CSV) file of the detailed data provided with get_effluent chart, for a provided NPDES Permit, date range, effluent parameter, or outfall.\n\\\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n ",
    "contact" : {
      "name" : "U.S. EPA, OECA Integration, Targeting and Access Branch",
      "url" : "https://echo.epa.gov/resources/general-info/contact-us"
    },
    "license" : {
      "name" : "U.S. Public Domain License",
      "url" : "https://edg.epa.gov/EPA_Data_License.html"
    },
    "version" : "2019.10.15"
  },
  "servers" : [ {
    "url" : "https://echodata.epa.gov/echo"
  } ],
  "paths" : {
    "/eff_rest_services.download_effluent_chart" : {
      "get" : {
        "tags" : [ "Effluent Charts" ],
        "summary" : "Effluent Charts Download Service",
        "description" : "Downloads tabular Discharge Monitoring Report (DMR) and compliance data for one NPDES permit as a CSV.",
        "parameters" : [ {
          "name" : "p_id",
          "in" : "query",
          "description" : "Identifier for the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "outfall",
          "in" : "query",
          "description" : "Three-character code that identifies the point of discharge (e.g., pipe or outfall) for a facility. A single NPDES ID may have multiple points of discharge.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parameter_code",
          "in" : "query",
          "description" : "Five-digit numeric code identifying the parameter. See Parameter Lookup documentation for a complete list of codes.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start_date",
          "in" : "query",
          "description" : "The start date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with end_date. If start_date and end_date are not specified, the service will return the last three years of data.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end_date",
          "in" : "query",
          "description" : "The end date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with start_date. If start_date and end_date are not specified, the service will return the last three years of data.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object with summary effluent information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Effluent Charts" ],
        "summary" : "Effluent Charts Download Service",
        "description" : "Downloads tabular Discharge Monitoring Report (DMR) and compliance data for one NPDES permit as a CSV.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "p_id" : {
                    "type" : "string",
                    "description" : "Identifier for the service."
                  },
                  "outfall" : {
                    "type" : "string",
                    "description" : "Three-character code that identifies the point of discharge (e.g., pipe or outfall) for a facility. A single NPDES ID may have multiple points of discharge."
                  },
                  "parameter_code" : {
                    "type" : "string",
                    "description" : "Five-digit numeric code identifying the parameter. See Parameter Lookup documentation for a complete list of codes."
                  },
                  "start_date" : {
                    "type" : "string",
                    "description" : "The start date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with end_date. If start_date and end_date are not specified, the service will return the last three years of data."
                  },
                  "end_date" : {
                    "type" : "string",
                    "description" : "The end date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with start_date. If start_date and end_date are not specified, the service will return the last three years of data."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object with summary effluent information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/eff_rest_services.get_effluent_chart" : {
      "get" : {
        "tags" : [ "Effluent Charts" ],
        "summary" : "Detailed Effluent Chart Service",
        "description" : "Discharge Monitoring Report (DMR) data supporting each effluent chart for one NPDES permit. Includes Discharge Monitoring Reports and NPDES Violations. \n\n",
        "parameters" : [ {
          "name" : "p_id",
          "in" : "query",
          "description" : "Identifier for the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "outfall",
          "in" : "query",
          "description" : "Three-character code that identifies the point of discharge (e.g., pipe or outfall) for a facility. A single NPDES ID may have multiple points of discharge.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parameter_code",
          "in" : "query",
          "description" : "Five-digit numeric code identifying the parameter. See Parameter Lookup documentation for a complete list of codes.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start_date",
          "in" : "query",
          "description" : "The start date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with end_date. If start_date and end_date are not specified, the service will return the last three years of data.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end_date",
          "in" : "query",
          "description" : "The end date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with start_date. If start_date and end_date are not specified, the service will return the last three years of data.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object with detailed effluent information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/eff05"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/eff05"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Effluent Charts" ],
        "summary" : "Detailed Effluent Chart Service",
        "description" : "Discharge Monitoring Report (DMR) data supporting each effluent chart for one NPDES permit. Includes Discharge Monitoring Reports and NPDES Violations. \n\n",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "p_id" : {
                    "type" : "string",
                    "description" : "Identifier for the service."
                  },
                  "outfall" : {
                    "type" : "string",
                    "description" : "Three-character code that identifies the point of discharge (e.g., pipe or outfall) for a facility. A single NPDES ID may have multiple points of discharge."
                  },
                  "parameter_code" : {
                    "type" : "string",
                    "description" : "Five-digit numeric code identifying the parameter. See Parameter Lookup documentation for a complete list of codes."
                  },
                  "start_date" : {
                    "type" : "string",
                    "description" : "The start date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with end_date. If start_date and end_date are not specified, the service will return the last three years of data."
                  },
                  "end_date" : {
                    "type" : "string",
                    "description" : "The end date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with start_date. If start_date and end_date are not specified, the service will return the last three years of data."
                  },
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object with detailed effluent information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/eff05"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/eff05"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/eff_rest_services.get_summary_chart" : {
      "get" : {
        "tags" : [ "Effluent Charts" ],
        "summary" : "Summary Effluent Chart Service",
        "description" : "Summary of compliance status each outfall and parameter for one NPDES permit. Provides the current compliance status and overall compliance status for the date range of interest. This service supports the Summary Matrix on the Effluent Charts.",
        "parameters" : [ {
          "name" : "p_id",
          "in" : "query",
          "description" : "Identifier for the service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start_date",
          "in" : "query",
          "description" : "The start date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with end_date. If start_date and end_date are not specified, the service will return the last three years of data.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end_date",
          "in" : "query",
          "description" : "The end date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with start_date. If start_date and end_date are not specified, the service will return the last three years of data.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object with summary effluent information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/eff09"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/eff09"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Effluent Charts" ],
        "summary" : "Summary Effluent Chart Service",
        "description" : "Summary of compliance status each outfall and parameter for one NPDES permit. Provides the current compliance status and overall compliance status for the date range of interest. This service supports the Summary Matrix on the Effluent Charts.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "p_id" : {
                    "type" : "string",
                    "description" : "Identifier for the service."
                  },
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  },
                  "start_date" : {
                    "type" : "string",
                    "description" : "The start date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with end_date. If start_date and end_date are not specified, the service will return the last three years of data."
                  },
                  "end_date" : {
                    "type" : "string",
                    "description" : "The end date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with start_date. If start_date and end_date are not specified, the service will return the last three years of data."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object with summary effluent information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/eff09"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/eff09"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest_lookups.cwa_parameters" : {
      "get" : {
        "tags" : [ "Lookups" ],
        "summary" : "ECHO CWA Parameter Lookup Service",
        "description" : "Look up Clean Water Act parameter codes and descriptions in the Integrated Compliance Information System - National Pollutant Discharge Elimination System (ICIS-NPDES) by code or term.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "Enter a partial or complete search phrase or word.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search_code",
          "in" : "query",
          "description" : "Enter a partial or complete code value.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an array of parameter codes and descriptions that contain the search_term or search_code entered. If search term or search code not provided, returns all values. ValueCode is the 5-digit parameter code.\nValueDescription is the parameter description.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/rlup23"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/rlup23"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Lookups" ],
        "summary" : "ECHO CWA Parameter Lookup Service",
        "description" : "Look up Clean Water Act parameter codes and descriptions in the Integrated Compliance Information System - National Pollutant Discharge Elimination System (ICIS-NPDES) by code or term.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  },
                  "search_term" : {
                    "type" : "string",
                    "description" : "Enter a partial or complete search phrase or word."
                  },
                  "search_code" : {
                    "type" : "string",
                    "description" : "Enter a partial or complete code value."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Returns an array of parameter codes and descriptions that contain the search_term or search_code entered. If search term or search code not provided, returns all values. ValueCode is the 5-digit parameter code.\nValueDescription is the parameter description.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/rlup23"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/rlup23"
                    }
                  },
                  "description" : "Root Object",
                  "xml" : {
                    "name" : "Root"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "formData_f.callback" : {
        "type" : "string",
        "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
      },
      "formData_f.end_date" : {
        "type" : "string",
        "description" : "The end date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with start_date. If start_date and end_date are not specified, the service will return the last three years of data."
      },
      "formData_f.outfall" : {
        "type" : "string",
        "description" : "Three-character code that identifies the point of discharge (e.g., pipe or outfall) for a facility. A single NPDES ID may have multiple points of discharge."
      },
      "formData_f.output" : {
        "type" : "string",
        "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
        "enum" : [ "JSONP", "JSON", "XML" ]
      },
      "formData_f.p_id" : {
        "type" : "string",
        "description" : "Identifier for the service."
      },
      "formData_f.parameter_code" : {
        "type" : "string",
        "description" : "Five-digit numeric code identifying the parameter. See Parameter Lookup documentation for a complete list of codes."
      },
      "formData_f.search_code" : {
        "type" : "string",
        "description" : "Enter a partial or complete code value."
      },
      "formData_f.search_term" : {
        "type" : "string",
        "description" : "Enter a partial or complete search phrase or word."
      },
      "formData_f.start_date" : {
        "type" : "string",
        "description" : "The start date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with end_date. If start_date and end_date are not specified, the service will return the last three years of data."
      },
      "eff01" : {
        "required" : [ "DMREventId", "DMRFormValueId", "DMRUnitCode", "DMRUnitDesc", "DMRValueId", "DMRValueNmbr", "DMRValueQualifierCode", "DMRValueStdUnits", "DaysLate", "ExceedencePct", "LimitBeginDate", "LimitEndDate", "LimitId", "LimitSetId", "LimitSetScheduleId", "LimitTypeCode", "LimitUnitCode", "LimitUnitDesc", "LimitValueId", "LimitValueNmbr", "LimitValueQualifierCode", "LimitValueStdUnits", "LimitValueTypeCode", "LimitValueTypeDesc", "MonitoringPeriodEndDate", "NODEDesc", "NODICode", "NmbrOfSubmission", "PermFeatureId", "StatisticalBaseCode", "StatisticalBaseDesc", "StatisticalBaseTypeCode", "StatisticalBaseTypeDesc", "StayValueNmbr", "StdUnitCode", "StdUnitDesc", "ValueReceivedDate", "ValueTypeCode", "ValueTypeDesc", "VersionNmbr" ],
        "type" : "object",
        "properties" : {
          "DMREventId" : {
            "title" : "DMR Event ID",
            "type" : "string",
            "description" : "The sequence ID identifying the DMR Event.",
            "example" : "3403602486"
          },
          "DMRFormValueId" : {
            "title" : "Measured Value ID",
            "type" : "string",
            "description" : "The sequence ID identifying the DMR Form Value.",
            "example" : "3444464127"
          },
          "DMRUnitCode" : {
            "title" : "Measured Value Unit Code",
            "type" : "string",
            "description" : "The code representing the unit of measure applicable to quantity or concentration limits and measurements as entered into ICIS-NPDES",
            "example" : "19"
          },
          "DMRUnitDesc" : {
            "title" : "Measured Value Unit",
            "type" : "string",
            "description" : "The short description of the unit of measure applicable to limit or DMR values",
            "example" : "mg/L"
          },
          "DMRValueId" : {
            "title" : "Measured Value ID",
            "type" : "string",
            "description" : "The unique identifier for the DMR value generated in ICIS-NPDES",
            "example" : "3420340252"
          },
          "DMRValueNmbr" : {
            "title" : "Measured Value",
            "type" : "string",
            "description" : "The DMR value number reported on the DMR Form",
            "example" : "20"
          },
          "DMRValueQualifierCode" : {
            "title" : "DMR Value Qualifier Code",
            "type" : "string",
            "description" : "The unique code identifying the DMR value operator (i.e., <, <=, >, >=, T, E, =). E indicates an estimated value. T indicates too numerous to count",
            "example" : "="
          },
          "DMRValueStdUnits" : {
            "title" : "Measured Value Standard Units",
            "type" : "string",
            "description" : "The DMR value expressed in standard units, as calculated in ICIS-NPDES",
            "example" : "20"
          },
          "DaysLate" : {
            "title" : "Days Received Late",
            "type" : "string",
            "description" : "The number of days the DMR value is late, as generated in ICIS-NPDES",
            "example" : "5"
          },
          "ExceedencePct" : {
            "title" : "Exceedance Percentage",
            "type" : "string",
            "description" : "The percent by which the DMR value (or adjusted value) exceeded its limit (or stay) value, as generated in ICIS-NPDES",
            "example" : "0"
          },
          "LimitBeginDate" : {
            "title" : "Limit Begin Date",
            "type" : "string",
            "description" : "The date on which a limit becomes in effect for a particular parameter in a limit set",
            "example" : "01-APR-14"
          },
          "LimitEndDate" : {
            "title" : "Limit End Date",
            "type" : "string",
            "description" : "The date on which a limit stops being in effect for a particular parameter in a limit set",
            "example" : "31-MAR-19"
          },
          "LimitId" : {
            "title" : "Limit ID",
            "type" : "string",
            "description" : "The unique identifier for a limit parameter record",
            "example" : "3401161480"
          },
          "LimitSetId" : {
            "title" : "Limit Set ID",
            "type" : "string",
            "description" : "The unique identifier for a limit set, generated in ICIS-NPDES",
            "example" : "3400122018"
          },
          "LimitSetScheduleId" : {
            "title" : "Limit Set Schedule ID",
            "type" : "string",
            "description" : "The unique identifier of the Limit Set Schedule, generated in ICIS-NPDES",
            "example" : "3400204974"
          },
          "LimitTypeCode" : {
            "title" : "Limit Type Code",
            "type" : "string",
            "example" : "C1"
          },
          "LimitUnitCode" : {
            "title" : "Limit Unit Code",
            "type" : "string",
            "description" : "The code representing the unit of measure applicable to quantity or concentration limits and measurements as entered by the user",
            "example" : "12"
          },
          "LimitUnitDesc" : {
            "title" : "Limit Unit Description",
            "type" : "string",
            "description" : "The short description of the unit of measure applicable to limit or DMR values",
            "example" : "SU"
          },
          "LimitValueId" : {
            "title" : "Limit Value ID",
            "type" : "string",
            "description" : "The unique identifier in ICIS-NPDES for the Limit Value",
            "example" : "3401799401"
          },
          "LimitValueNmbr" : {
            "title" : "Limit Value",
            "type" : "string",
            "description" : "The numerical limit for a given parameter",
            "example" : "20"
          },
          "LimitValueQualifierCode" : {
            "title" : "Limit Value Qualifier",
            "type" : "string",
            "description" : "The unique code identifying the limit value operator (i.e., <, <=, >, >=, T, E, =). E indicates an estimated value. T indicates too numerous to count",
            "example" : "="
          },
          "LimitValueStdUnits" : {
            "title" : "Limit Value in Standard Units",
            "type" : "string",
            "description" : "The limit value expressed in standard units, as calculated in ICIS-NPDES",
            "example" : "20"
          },
          "LimitValueTypeCode" : {
            "title" : "Limit Value Code",
            "type" : "string",
            "description" : "The code indicating the type of value the limit is given as (i.e., Q1, Q2, C1, C2, C3)",
            "example" : "C1"
          },
          "LimitValueTypeDesc" : {
            "title" : "Limit Value Type",
            "type" : "string",
            "description" : "The description indicating the type of value the limit is given as (e.g., Concentration, Quantity)",
            "example" : "Concentration1"
          },
          "MonitoringPeriodEndDate" : {
            "title" : "Monitoring Period End Date",
            "type" : "string",
            "description" : "The date that the monitoring period for the values covered by the DMR Form ends",
            "example" : "30-APR-14"
          },
          "NODEDesc" : {
            "type" : "string"
          },
          "NODICode" : {
            "title" : "No Discharge Code",
            "type" : "string",
            "description" : "The unique code indicating why no DMR Value was submitted by the permittee for a Monitoring Period End Date",
            "example" : "C"
          },
          "NPDESViolations" : {
            "title" : "NPDES Violations",
            "type" : "array",
            "xml" : {
              "name" : "NPDESViolations",
              "wrapped" : true
            },
            "items" : {
              "$ref" : "#/components/schemas/eff02"
            }
          },
          "NmbrOfSubmission" : {
            "title" : "Number of Submissions",
            "type" : "string",
            "description" : "The number of months of discharges represented on each DMR for the limit set (e.g., monthly = 1, bi-monthly = 2, quarterly = 3, triannual = 4, semi-annual = 6, annual = 12). This data element will be blank for Unscheduled Limit Sets",
            "example" : "1"
          },
          "PermFeatureId" : {
            "title" : "Permit Feature ID",
            "type" : "string",
            "description" : "The unique identifier in ICIS-NPDES of a permitted feature or outfall",
            "example" : "3400087283"
          },
          "StatisticalBaseCode" : {
            "title" : "Statistical Base Code",
            "type" : "string",
            "description" : "The code representing the unit of measure applicable to the limit and DMR values entered by the user (e.g., 30-day average, daily maximum)",
            "example" : "DC"
          },
          "StatisticalBaseDesc" : {
            "type" : "string"
          },
          "StatisticalBaseTypeCode" : {
            "title" : "Statistical Base Type Code",
            "type" : "string",
            "description" : "The code indicating whether the statistical base code is a minimum, average, or maximum for purposes of calculating compliance against the limit value",
            "example" : "MIN"
          },
          "StatisticalBaseTypeDesc" : {
            "title" : "Statistical Base Type",
            "type" : "string",
            "description" : "A short description for indicating whether the statistical base code is a minimum, average, or maximum for purposes of calculating compliance against the limit value",
            "example" : "Minimum"
          },
          "StayValueNmbr" : {
            "title" : "Stay Value Number",
            "type" : "string",
            "description" : "The numeric limit value imposed during the period of the stay for the limit; if entered, during the stay period, ICIS-NPDES will use this limit value for calculating compliance rather than the actual limit value",
            "example" : "???"
          },
          "StdUnitCode" : {
            "title" : "Standard Unit Code",
            "type" : "string",
            "description" : "The code representing the standard unit of measure applicable to quantity or concentration limits and measurements as entered by the user",
            "example" : "19"
          },
          "StdUnitDesc" : {
            "title" : "Standard Unit Description",
            "type" : "string",
            "description" : "The short description of the standard unit of measure applicable to limit or DMR values",
            "example" : "mg/L"
          },
          "ValueReceivedDate" : {
            "title" : "Date Received",
            "type" : "string",
            "description" : "The date the DMR value was received by the regulatory authority",
            "example" : "08-MAY-14"
          },
          "ValueTypeCode" : {
            "title" : "Measured Value Type Code",
            "type" : "string",
            "description" : "The indication of the limit value type (e.g., Quantity 1, Concentration 2)",
            "example" : "C1"
          },
          "ValueTypeDesc" : {
            "title" : "Measured Value Type",
            "type" : "string",
            "description" : "The type of value the measured number is given as (e.g., Concentration, Quantity)",
            "example" : "Concentration1"
          },
          "VersionNmbr" : {
            "title" : "Version Number",
            "type" : "string",
            "description" : "The version of the permit when a modification or reissuance is applied to the permit. Version = 0 indicates the original permit issuance",
            "example" : "0"
          }
        },
        "description" : "Discharge Monitoring Reports Object",
        "xml" : {
          "name" : "DischargeMonitoringReport"
        }
      },
      "eff02" : {
        "type" : "object",
        "properties" : {
          "NPDESViolationId" : {
            "title" : "NPDES Violation ID",
            "type" : "string",
            "description" : "The unique identifier in ICIS-NPDES for the NPDES Violation",
            "example" : "3401214483"
          },
          "RNCDetectionCode" : {
            "title" : "RNC Violation Code",
            "type" : "string",
            "description" : "The code indicating the reportable noncompliance (RNC) detected for a violation:\n- A = Enforcement Order\n- B = Manual 2A4 - Pass-Through\n- C = Chronic Violation\n- D = Manual Other\n- E = Manual 2F - Permit Narrative\n- F = Manual 2G - Violation of Concern\n- G = Manual 2A1 - Effluent Violation\n- H = Chronic Violation, Non-Monthly Average\n- I = Manual 2A2 - Unauthorized Bypass\n- J = Manual 2A3 - Unpermitted Discharge\n- K = Non-receipt Violation, Non-Monthly Average\n- N = Non-Receipt of DMR/Schedule Report\n- P = Enforcement Order, Non-Monthly Average\n- Q = Manual 2B - Pretreatment\n- R = TRC Limitations Exceeded, Non-Monthly Average\n- S = Schedule Violation\n- T = TRC Limitations Exceeded\n- U = Other Violation with TRC Non-Monthly Average\n- V = Other Violation with TRC\n- W = Manual 2E - Deficient Report\n- X = Manual Other Violation with TRC\n- Y = Manual TRC\n- Z = Manual Chronic",
            "example" : "K"
          },
          "RNCDetectionDate" : {
            "title" : "Detection Date",
            "type" : "string",
            "description" : "The date that the exceedance was detected",
            "example" : "28-FEB-16"
          },
          "RNCDetectionDesc" : {
            "title" : "RNC Violation",
            "type" : "string",
            "description" : "A description of the reportable noncompliance (RNC) detected",
            "example" : "Non-receipt Violation, Non-Monthly Average"
          },
          "RNCResolutionCode" : {
            "title" : "RNC Resolution Type Code",
            "type" : "string",
            "description" : "The code indicating the resolution of noncompliance (RNC) for a violation",
            "example" : "2"
          },
          "RNCResolutionDate" : {
            "title" : "Resolution Date",
            "type" : "string",
            "description" : "The date RNC was marked to its current resolution status. It can be entered manually or automatically",
            "example" : "01-FEB-16"
          },
          "RNCResolutionDesc" : {
            "title" : "RNC Resolution Type",
            "type" : "string",
            "description" : "- 1 = Unresolved RNC\n- 2 = Back into Compliance\n- 3 = Due to Formal Enforcement Action Final Order with Compliance Schedule\n- 4 = In Compliance with Formal Enforcement Action Final Order Requirement\n- 5 = Resolved RP by NPDES Closure of Enforcement Action Final Order with Compliance Schedule\n- 6 = Manual Resolution by Enforcement Action\n- 7 = Manual RP - In Compliance with Formal Enforcement Action Order Requirement\n- 8 = Manual Due to Formal Enforcement Action Formal Order\n- 9 = Manual by Back into Compliance\n- A = Manual Unresolved RNC\n- B = Manual by EPA/State/Tribal Action",
            "example" : "RE - Back into Compliance"
          },
          "ViolationCode" : {
            "title" : "Violation Code",
            "type" : "string",
            "description" : "The code identifying which type of Violation has occurred (e.g., D80 = Required Monitoring DMR Value Non-Receipt, E90 = Effluent Violation, C20 = Schedule Event Achieved Late)",
            "example" : "E90"
          },
          "ViolationDesc" : {
            "title" : "Violation",
            "type" : "string",
            "description" : "A description of which type of violation has occurred",
            "example" : "Effluent Violation"
          },
          "ViolationSeverity" : {
            "title" : "Violation Severity",
            "type" : "string",
            "description" : "- 0 = no violation.\n- 1 = monitoring or reporting violation\n- 2 = effluent violation, i.e., discharge in excess of permitted limit\n- 3 = reportable noncompliance\n- 5 = significant noncompliance",
            "example" : "No Violation"
          },
          "ViolationSeverityDesc" : {
            "type" : "string"
          }
        },
        "description" : "NPDES Violations Object",
        "xml" : {
          "name" : "NPDESViolation"
        }
      },
      "eff03" : {
        "required" : [ "DischargeMonitoringReports", "MonitoringLocationCode", "MonitoringLocationDesc", "ParameterCode", "ParameterDesc", "StayTypeCode", "StayTypeDesc" ],
        "type" : "object",
        "properties" : {
          "DischargeMonitoringReports" : {
            "title" : "Effluent Discharge Monitoring Report",
            "type" : "array",
            "description" : "An array of Discharge Monitoring Report (DMR) data.",
            "xml" : {
              "name" : "DischargeMonitoringReports",
              "wrapped" : true
            },
            "items" : {
              "$ref" : "#/components/schemas/eff01"
            }
          },
          "MonitoringLocationCode" : {
            "title" : "Monitoring Location Code",
            "type" : "string",
            "description" : "The code that the monitoring location at which the monitoring requirement (and effluent limit if limited) applies. One parameter may have several monitoring location codes pertaining to the same permitted feature",
            "example" : "1"
          },
          "MonitoringLocationDesc" : {
            "title" : "Monitoring Location Description",
            "type" : "string",
            "description" : "The name of the monitoring location at which the monitoring requirement (and effluent limit if limited) applies",
            "example" : "Effluent Gross"
          },
          "ParameterCode" : {
            "title" : "Parameter Code",
            "type" : "string",
            "description" : "The unique 5 digit numeric code identifying the parameter. If the code is less than 5 digits in the .CSV, append zeros to the beginning of the number (e.g., 100 is equivalent to 00100)",
            "example" : "00400"
          },
          "ParameterDesc" : {
            "title" : "Parameter Description",
            "type" : "string",
            "description" : "The pollutant name and form (e.g., dissolved, suspended) associated with the parameter code",
            "example" : "pH"
          },
          "StayTypeCode" : {
            "title" : "Stay Type Code",
            "type" : "string",
            "description" : "The unique identifier of the type of stay applied to a limit (e.g., X, Y, Z), which indicates whether the limits do not appear on the DMR at all, are treated as monitor only, or have a stay value in effect during the period of the stay",
            "example" : "???"
          },
          "StayTypeDesc" : {
            "title" : "Stay Type Description",
            "type" : "string",
            "description" : "The name of the type of stay applied to a limit, which indicates whether the limits do not appear on the DMR at all (X), are treated as monitor only (Y), or have a stay value in effect during the period of the stay (Z)",
            "example" : "???"
          }
        },
        "description" : "Parameters Object",
        "xml" : {
          "name" : "Parameter"
        }
      },
      "eff04" : {
        "required" : [ "Parameters", "PermFeatureNmbr", "PermFeatureTypeCode", "PermFeatureTypeDesc" ],
        "type" : "object",
        "properties" : {
          "Parameters" : {
            "title" : "Limit Parameters",
            "type" : "array",
            "description" : "Array of Effuent Limit Parameters",
            "xml" : {
              "name" : "Parameters",
              "wrapped" : true
            },
            "items" : {
              "$ref" : "#/components/schemas/eff03"
            }
          },
          "PermFeatureNmbr" : {
            "title" : "Discharge Point",
            "type" : "string",
            "description" : "A three-character code in ICIS-NPDES that identifies the point of discharge (e.g., outfall) for a facility. A NPDES permit may have multiple points of discharge. If the code is less than three characters in the .CSV, append zeros to the beginning of the number (e.g., 1 is equivalent to 001)",
            "example" : "001"
          },
          "PermFeatureTypeCode" : {
            "title" : "Permit Feature Type Code",
            "type" : "string",
            "description" : "The code indicating the type of permitted feature (e.g., EXO)",
            "example" : "EXO"
          },
          "PermFeatureTypeDesc" : {
            "title" : "Permit Feature Type",
            "type" : "string",
            "description" : "The description indicating the type of permitted feature (e.g., External Outfall, Internal Outfall, Sum)",
            "example" : "External Outfall"
          }
        },
        "description" : "Permit Features Object",
        "xml" : {
          "name" : "PermFeature"
        }
      },
      "eff05" : {
        "required" : [ "CWPCity", "CWPCurrentSNCStatus", "CWPMajorMinorStatusFlag", "CWPName", "CWPPermitStatusDesc", "CWPPermitTypeDesc", "CWPState", "CWPStreet", "CWPZip", "EPASystem", "EndDate", "Message", "RegistryId", "SourceId", "StartDate", "Statute" ],
        "type" : "object",
        "properties" : {
          "CWPCity" : {
            "title" : "City",
            "type" : "string",
            "description" : "City in which the facility is located.",
            "example" : "HUNTSVILLE"
          },
          "CWPCurrentSNCStatus" : {
            "type" : "string",
            "description" : "The type of noncompliance when a major source is in significant violation or a minor source has a Category 1 violation.",
            "example" : "D (DMR NR)"
          },
          "CWPMajorMinorStatusFlag" : {
            "title" : "Major/Minor Status Flag",
            "type" : "string",
            "description" : "Facilities marked \"M\" for major refers to CWA major permittees.\n- M = Major\n- N = Minor",
            "example" : "N"
          },
          "CWPName" : {
            "title" : "Facility Name",
            "type" : "string",
            "description" : "Facility or permit holder name, as maintained in ICIS-NPDES.",
            "example" : "REDSTONE ARSENAL"
          },
          "CWPPermitStatusDesc" : {
            "title" : "Permit Status Description",
            "type" : "string",
            "description" : "The current stage/status in the NPDES permit life cycle.",
            "example" : "Effective"
          },
          "CWPPermitTypeDesc" : {
            "title" : "Permit Type Description",
            "type" : "string",
            "description" : "NPDES facility permit classification:\n- NPDES Individual Permit\n- General Permit Covered Facility\n- NPDES Master General Permit\n- Associated Permit Record\n- Individual Industrial User Permit\n- Individual State Issued Permit\n- State Issued Master General Permit\n- Unpermitted Facility",
            "example" : "General Permit Covered Facility"
          },
          "CWPState" : {
            "title" : "State",
            "type" : "string",
            "description" : "Facility location - two-digit state abbreviation.",
            "example" : "AL"
          },
          "CWPStreet" : {
            "title" : "Street Address",
            "type" : "string",
            "description" : "Facility street address",
            "example" : "BUILDING 3240 AREA"
          },
          "CWPZip" : {
            "title" : "Zip",
            "type" : "string",
            "description" : "Facility ZIP code",
            "example" : "35898"
          },
          "EPASystem" : {
            "title" : "EPA Data System",
            "type" : "string",
            "description" : "The EPA data system in which permit and facility records are kept. EPA's Facility Registry System (FRS) links all program database records (such as permit IDs and IDs facilities use in reporting to EPA) together. The following list describes the individual data systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance Information System for Clean Water Act programs monitoring National Pollutant Discharge Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act Information System (RCRAInfo) for tracking the Resource Conservation and Recovery Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n- TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains information on stationary and mobile sources that emit criteria air pollutants and their precursors, as well as hazardous air pollutants (HAPs). The database includes estimates of annual emissions, by source, of air pollutants in each area of the country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the production, importation, use, and disposal of specific chemicals.",
            "example" : "ICP"
          },
          "EndDate" : {
            "title" : "End Date",
            "type" : "string",
            "description" : "End date for the date range of interest. Formatted as mm/dd/yyyy",
            "example" : "01/01/2016"
          },
          "Message" : {
            "title" : "Message",
            "type" : "string",
            "description" : "Field to record messages (typically performance-related) about packet processing",
            "example" : "Success"
          },
          "PermFeatures" : {
            "title" : "Permitted Features (Pipe Outfalls)",
            "type" : "array",
            "description" : "Array of Permitted Features",
            "xml" : {
              "name" : "PermFeatures",
              "wrapped" : true
            },
            "items" : {
              "$ref" : "#/components/schemas/eff04"
            }
          },
          "RegistryId" : {
            "title" : "FRS Registry ID",
            "type" : "string",
            "description" : "12-digit Facility Registry Service (FRS) identification number.  FRS uniquely identifies a facility by assigning an identification number (FRS ID), and uses this FRS ID to link together all EPA regulatory program database records",
            "example" : "110020837601"
          },
          "SourceId" : {
            "title" : "EPA Source Identifier",
            "type" : "string",
            "description" : "Unique Identifier assigned by EPA.",
            "example" : "ALR040033"
          },
          "StartDate" : {
            "title" : "Start Date",
            "type" : "string",
            "description" : "Starting date for the date range of interest. Formatted as mm/dd/yyyy",
            "example" : "01/01/2016"
          },
          "Statute" : {
            "title" : "Regulatory Statute",
            "type" : "string",
            "description" : "The name of the statute associated with each of the permits and identifiers linked to the facility: \n- CAA = the Clean Air Act\n- CWA = the Clean Water Act\n- RCRA = the Resource Conservation and Recovery Act\n- EP313 = the Emergency Planning and Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory Program)\n- TSCA = the Toxic Substances Control Act\n- SDWA = the Safe Drinking Water Act",
            "example" : "CWA"
          }
        },
        "description" : "Results Object"
      },
      "eff06" : {
        "required" : [ "CWPCity", "CWPCurrentSNCStatus", "CWPMajorMinorStatusFlag", "CWPName", "CWPPermitStatusDesc", "CWPPermitTypeDesc", "CWPState", "CWPStreet", "CWPZip", "SourceId" ],
        "type" : "object",
        "properties" : {
          "CWPCity" : {
            "title" : "City",
            "type" : "string",
            "description" : "City in which the facility is located.",
            "example" : "HUNTSVILLE"
          },
          "CWPCurrentSNCStatus" : {
            "type" : "string",
            "description" : "The type of noncompliance when a major source is in significant violation or a minor source has a Category 1 violation.",
            "example" : "D (DMR NR)"
          },
          "CWPMajorMinorStatusFlag" : {
            "title" : "Major/Minor Status Flag",
            "type" : "string",
            "description" : "Facilities marked \"M\" for major refers to CWA major permittees.\n- M = Major\n- N = Minor",
            "example" : "N"
          },
          "CWPName" : {
            "title" : "Facility Name",
            "type" : "string",
            "description" : "Facility or permit holder name, as maintained in ICIS-NPDES.",
            "example" : "REDSTONE ARSENAL"
          },
          "CWPPermitStatusDesc" : {
            "title" : "Permit Status Description",
            "type" : "string",
            "description" : "The current stage/status in the NPDES permit life cycle.",
            "example" : "Effective"
          },
          "CWPPermitTypeDesc" : {
            "title" : "Permit Type Description",
            "type" : "string",
            "description" : "NPDES facility permit classification:\n- NPDES Individual Permit\n- General Permit Covered Facility\n- NPDES Master General Permit\n- Associated Permit Record\n- Individual Industrial User Permit\n- Individual State Issued Permit\n- State Issued Master General Permit\n- Unpermitted Facility",
            "example" : "General Permit Covered Facility"
          },
          "CWPState" : {
            "title" : "State",
            "type" : "string",
            "description" : "Facility location - two-digit state abbreviation.",
            "example" : "AL"
          },
          "CWPStreet" : {
            "title" : "Street Address",
            "type" : "string",
            "description" : "Facility street address",
            "example" : "BUILDING 3240 AREA"
          },
          "CWPZip" : {
            "title" : "Zip",
            "type" : "string",
            "description" : "Facility ZIP code",
            "example" : "35898"
          },
          "SourceId" : {
            "title" : "EPA Source Identifier",
            "type" : "string",
            "description" : "Unique Identifier assigned by EPA.",
            "example" : "ALR040033"
          }
        },
        "description" : "Linked Permits Object",
        "xml" : {
          "name" : "LinkedPermit"
        }
      },
      "eff07" : {
        "required" : [ "CurrentVioStatus", "MaxVioStatus", "ParameterCode", "ParameterDesc" ],
        "type" : "object",
        "properties" : {
          "CurrentVioStatus" : {
            "title" : "Current Violation Status",
            "type" : "string",
            "description" : "The most severe compliance status for an outfall and parameter during the current monitoring period",
            "example" : "In Violation"
          },
          "MaxVioStatus" : {
            "title" : "Most Severe Compliance Status",
            "type" : "string",
            "description" : "The most severe compliance status for an outfall and parameter during the entire selected date range",
            "example" : "In Violation"
          },
          "ParameterCode" : {
            "title" : "Parameter Code",
            "type" : "string",
            "description" : "The unique 5 digit numeric code identifying the parameter. If the code is less than 5 digits in the .CSV, append zeros to the beginning of the number (e.g., 100 is equivalent to 00100)",
            "example" : "00400"
          },
          "ParameterDesc" : {
            "title" : "Parameter Description",
            "type" : "string",
            "description" : "The pollutant name and form (e.g., dissolved, suspended) associated with the parameter code",
            "example" : "pH"
          }
        },
        "description" : "Parameters Object",
        "xml" : {
          "name" : "Parameter"
        }
      },
      "eff08" : {
        "required" : [ "Parameters", "PermFeatureNmbr", "PermFeatureTypeCode", "PermFeatureTypeDesc" ],
        "type" : "object",
        "properties" : {
          "Parameters" : {
            "title" : "Parameters",
            "type" : "array",
            "xml" : {
              "name" : "Parameters",
              "wrapped" : true
            },
            "items" : {
              "$ref" : "#/components/schemas/eff07"
            }
          },
          "PermFeatureNmbr" : {
            "title" : "Discharge Point",
            "type" : "string",
            "description" : "A three-character code in ICIS-NPDES that identifies the point of discharge (e.g., outfall) for a facility. A NPDES permit may have multiple points of discharge. If the code is less than three characters in the .CSV, append zeros to the beginning of the number (e.g., 1 is equivalent to 001)",
            "example" : "001"
          },
          "PermFeatureTypeCode" : {
            "title" : "Permit Feature Type Code",
            "type" : "string",
            "description" : "The code indicating the type of permitted feature (e.g., EXO)",
            "example" : "EXO"
          },
          "PermFeatureTypeDesc" : {
            "title" : "Permit Feature Type",
            "type" : "string",
            "description" : "The description indicating the type of permitted feature (e.g., External Outfall, Internal Outfall, Sum)",
            "example" : "External Outfall"
          }
        },
        "description" : "Permit Features Object",
        "xml" : {
          "name" : "PermFeature"
        }
      },
      "eff09" : {
        "required" : [ "CWPCity", "CWPCurrentSNCStatus", "CWPMajorMinorStatusFlag", "CWPName", "CWPPermitStatusDesc", "CWPPermitTypeDesc", "CWPState", "CWPStreet", "CWPZip", "EPASystem", "EndDate", "Message", "RegistryId", "SourceId", "StartDate", "Statute" ],
        "type" : "object",
        "properties" : {
          "CWPCity" : {
            "title" : "City",
            "type" : "string",
            "description" : "City in which the facility is located.",
            "example" : "HUNTSVILLE"
          },
          "CWPCurrentSNCStatus" : {
            "type" : "string",
            "description" : "The type of noncompliance when a major source is in significant violation or a minor source has a Category 1 violation.",
            "example" : "D (DMR NR)"
          },
          "CWPMajorMinorStatusFlag" : {
            "title" : "Major/Minor Status Flag",
            "type" : "string",
            "description" : "Facilities marked \"M\" for major refers to CWA major permittees.\n- M = Major\n- N = Minor",
            "example" : "N"
          },
          "CWPName" : {
            "title" : "Facility Name",
            "type" : "string",
            "description" : "Facility or permit holder name, as maintained in ICIS-NPDES.",
            "example" : "REDSTONE ARSENAL"
          },
          "CWPPermitStatusDesc" : {
            "title" : "Permit Status Description",
            "type" : "string",
            "description" : "The current stage/status in the NPDES permit life cycle.",
            "example" : "Effective"
          },
          "CWPPermitTypeDesc" : {
            "title" : "Permit Type Description",
            "type" : "string",
            "description" : "NPDES facility permit classification:\n- NPDES Individual Permit\n- General Permit Covered Facility\n- NPDES Master General Permit\n- Associated Permit Record\n- Individual Industrial User Permit\n- Individual State Issued Permit\n- State Issued Master General Permit\n- Unpermitted Facility",
            "example" : "General Permit Covered Facility"
          },
          "CWPState" : {
            "title" : "State",
            "type" : "string",
            "description" : "Facility location - two-digit state abbreviation.",
            "example" : "AL"
          },
          "CWPStreet" : {
            "title" : "Street Address",
            "type" : "string",
            "description" : "Facility street address",
            "example" : "BUILDING 3240 AREA"
          },
          "CWPZip" : {
            "title" : "Zip",
            "type" : "string",
            "description" : "Facility ZIP code",
            "example" : "35898"
          },
          "EPASystem" : {
            "title" : "EPA Data System",
            "type" : "string",
            "description" : "The EPA data system in which permit and facility records are kept. EPA's Facility Registry System (FRS) links all program database records (such as permit IDs and IDs facilities use in reporting to EPA) together. The following list describes the individual data systems that are linked to from the detailed facility report: \n\n- AFS: Air Facility System for Clean Air Act stationary source programs.\n- ICP: Integrated Compliance Information System for Clean Water Act programs monitoring National Pollutant Discharge Elimination System (NPDES) permits.\n- RCR: Resource Conservation and Recovery Act Information System (RCRAInfo) for tracking the Resource Conservation and Recovery Act (RCRA) programs.\n- NCDB: National Compliance Database System for monitoring national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).\n- TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know Act, Section 313 submissions.\n- NEI: National Emissions Inventory database contains information on stationary and mobile sources that emit criteria air pollutants and their precursors, as well as hazardous air pollutants (HAPs). The database includes estimates of annual emissions, by source, of air pollutants in each area of the country, on an annual basis.\n- TSCA: Toxic Substances Control Act addressing the production, importation, use, and disposal of specific chemicals.",
            "example" : "ICP"
          },
          "EndDate" : {
            "title" : "End Date",
            "type" : "string",
            "description" : "End date for the date range of interest. Formatted as mm/dd/yyyy",
            "example" : "01/01/2016"
          },
          "LinkedPermits" : {
            "title" : "Linked Permits",
            "type" : "array",
            "xml" : {
              "name" : "LinkedPermits",
              "wrapped" : true
            },
            "items" : {
              "$ref" : "#/components/schemas/eff06"
            }
          },
          "Message" : {
            "title" : "Message",
            "type" : "string",
            "description" : "Field to record messages (typically performance-related) about packet processing",
            "example" : "Success"
          },
          "PermFeatures" : {
            "title" : "Permitted Features (Pipe Outfalls)",
            "type" : "array",
            "xml" : {
              "name" : "PermFeatures",
              "wrapped" : true
            },
            "items" : {
              "$ref" : "#/components/schemas/eff08"
            }
          },
          "RegistryId" : {
            "title" : "FRS Registry ID",
            "type" : "string",
            "description" : "12-digit Facility Registry Service (FRS) identification number.  FRS uniquely identifies a facility by assigning an identification number (FRS ID), and uses this FRS ID to link together all EPA regulatory program database records",
            "example" : "110020837601"
          },
          "SourceId" : {
            "title" : "EPA Source Identifier",
            "type" : "string",
            "description" : "Unique Identifier assigned by EPA.",
            "example" : "ALR040033"
          },
          "StartDate" : {
            "title" : "Start Date",
            "type" : "string",
            "description" : "Starting date for the date range of interest. Formatted as mm/dd/yyyy",
            "example" : "01/01/2016"
          },
          "Statute" : {
            "title" : "Regulatory Statute",
            "type" : "string",
            "description" : "The name of the statute associated with each of the permits and identifiers linked to the facility: \n- CAA = the Clean Air Act\n- CWA = the Clean Water Act\n- RCRA = the Resource Conservation and Recovery Act\n- EP313 = the Emergency Planning and Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory Program)\n- TSCA = the Toxic Substances Control Act\n- SDWA = the Safe Drinking Water Act",
            "example" : "CWA"
          }
        },
        "description" : "Results Object"
      },
      "rlup01" : {
        "required" : [ "ValueCode", "ValueDescription" ],
        "type" : "object",
        "properties" : {
          "ValueCode" : {
            "title" : "Value Code",
            "type" : "string",
            "example" : "77034"
          },
          "ValueDescription" : {
            "title" : "Value Description",
            "type" : "string",
            "example" : "1-Butanol"
          }
        },
        "description" : "Lookup Values",
        "xml" : {
          "name" : "LuValue"
        }
      },
      "rlup23" : {
        "required" : [ "Message" ],
        "type" : "object",
        "properties" : {
          "LuValues" : {
            "type" : "array",
            "xml" : {
              "name" : "LuValues",
              "wrapped" : true
            },
            "items" : {
              "$ref" : "#/components/schemas/rlup01"
            }
          },
          "Message" : {
            "title" : "Message",
            "type" : "string",
            "description" : "Field to record messages (typically performance-related) about packet processing",
            "example" : "Success"
          }
        },
        "description" : "Results Object"
      }
    },
    "parameters" : {
      "q.callback" : {
        "name" : "callback",
        "in" : "query",
        "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
        "schema" : {
          "type" : "string"
        }
      },
      "q.end_date" : {
        "name" : "end_date",
        "in" : "query",
        "description" : "The end date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with start_date. If start_date and end_date are not specified, the service will return the last three years of data.",
        "schema" : {
          "type" : "string"
        }
      },
      "q.outfall" : {
        "name" : "outfall",
        "in" : "query",
        "description" : "Three-character code that identifies the point of discharge (e.g., pipe or outfall) for a facility. A single NPDES ID may have multiple points of discharge.",
        "schema" : {
          "type" : "string"
        }
      },
      "q.output" : {
        "name" : "output",
        "in" : "query",
        "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
        "schema" : {
          "type" : "string",
          "enum" : [ "JSONP", "JSON", "XML" ]
        }
      },
      "q.p_id" : {
        "name" : "p_id",
        "in" : "query",
        "description" : "Identifier for the service.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "q.parameter_code" : {
        "name" : "parameter_code",
        "in" : "query",
        "description" : "Five-digit numeric code identifying the parameter. See Parameter Lookup documentation for a complete list of codes.",
        "schema" : {
          "type" : "string"
        }
      },
      "q.search_code" : {
        "name" : "search_code",
        "in" : "query",
        "description" : "Enter a partial or complete code value.",
        "schema" : {
          "type" : "string"
        }
      },
      "q.search_term" : {
        "name" : "search_term",
        "in" : "query",
        "description" : "Enter a partial or complete search phrase or word.",
        "schema" : {
          "type" : "string"
        }
      },
      "q.start_date" : {
        "name" : "start_date",
        "in" : "query",
        "description" : "The start date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with end_date. If start_date and end_date are not specified, the service will return the last three years of data.",
        "schema" : {
          "type" : "string"
        }
      }
    }
  }
}