{"openapi":"3.0.1","info":{"title":"Compute Admin Client","version":"2018-02-09"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/quotas":{"get":{"tags":["Quotas"],"summary":"Lists all Compute quotas.","description":"Get a list of existing Compute quotas.","operationId":"Quotas_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of Compute quotas","items":{"type":"object","properties":{"properties":{"type":"object","properties":{"availabilitySetCount":{"minimum":0,"type":"integer","description":"Maximum number of availability sets allowed.","format":"int32"},"coresLimit":{"minimum":0,"type":"integer","description":"Maximum number of cores allowed.","format":"int32"},"maxAllocationPremiumManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type premium allowed.","format":"int32"},"maxAllocationStandardManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type standard allowed.","format":"int32"},"virtualMachineCount":{"minimum":0,"type":"integer","description":"Maximum number of virtual machines allowed.","format":"int32"},"vmScaleSetCount":{"minimum":0,"type":"integer","description":"Maximum number of scale sets allowed.","format":"int32"}},"description":"Properties for a Compute Quota"}},"description":"Holds Compute quota information used to control resource allocation."}}},"description":"List of Compute quotas"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/quotas/{quotaName}":{"get":{"tags":["Quotas"],"summary":"Returns the requested Compute quota.","description":"Get an existing Compute Quota.","operationId":"Quotas_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"quotaName","in":"path","description":"Name of the quota.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"ID of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"type":{"type":"string","description":"Type of Resource.","readOnly":true}},"description":"Holds Compute quota information used to control resource allocation."}}}}}},"put":{"tags":["Quotas"],"summary":"Creates or Updates a Compute Quota.","description":"Creates or Updates a Compute Quota with the provided quota parameters.","operationId":"Quotas_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"quotaName","in":"path","description":"Name of the quota.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New quota to create.","content":{"application/json":{"schema":{"properties":{"properties":{"type":"object","properties":{"availabilitySetCount":{"minimum":0,"type":"integer","description":"Maximum number of availability sets allowed.","format":"int32"},"coresLimit":{"minimum":0,"type":"integer","description":"Maximum number of cores allowed.","format":"int32"},"maxAllocationPremiumManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type premium allowed.","format":"int32"},"maxAllocationStandardManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type standard allowed.","format":"int32"},"virtualMachineCount":{"minimum":0,"type":"integer","description":"Maximum number of virtual machines allowed.","format":"int32"},"vmScaleSetCount":{"minimum":0,"type":"integer","description":"Maximum number of scale sets allowed.","format":"int32"}},"description":"Properties for a Compute Quota"}},"description":"Holds Compute quota information used to control resource allocation.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"type":{"type":"string","description":"Type of Resource.","readOnly":true}},"description":"Base resource object."}]}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"ID of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"type":{"type":"string","description":"Type of Resource.","readOnly":true}},"description":"Holds Compute quota information used to control resource allocation."}}}}}},"delete":{"tags":["Quotas"],"summary":"Deletes specified Compute quota","description":"Delete an existing Compute quota.","operationId":"Quotas_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"quotaName","in":"path","description":"Name of the quota.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"Quota":{"properties":{"properties":{"type":"object","properties":{"availabilitySetCount":{"minimum":0,"type":"integer","description":"Maximum number of availability sets allowed.","format":"int32"},"coresLimit":{"minimum":0,"type":"integer","description":"Maximum number of cores allowed.","format":"int32"},"maxAllocationPremiumManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type premium allowed.","format":"int32"},"maxAllocationStandardManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type standard allowed.","format":"int32"},"virtualMachineCount":{"minimum":0,"type":"integer","description":"Maximum number of virtual machines allowed.","format":"int32"},"vmScaleSetCount":{"minimum":0,"type":"integer","description":"Maximum number of scale sets allowed.","format":"int32"}},"description":"Properties for a Compute Quota"}},"description":"Holds Compute quota information used to control resource allocation.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"type":{"type":"string","description":"Type of Resource.","readOnly":true}},"description":"Base resource object."}]},"QuotaList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of Compute quotas","items":{"type":"object","properties":{"properties":{"type":"object","properties":{"availabilitySetCount":{"minimum":0,"type":"integer","description":"Maximum number of availability sets allowed.","format":"int32"},"coresLimit":{"minimum":0,"type":"integer","description":"Maximum number of cores allowed.","format":"int32"},"maxAllocationPremiumManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type premium allowed.","format":"int32"},"maxAllocationStandardManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type standard allowed.","format":"int32"},"virtualMachineCount":{"minimum":0,"type":"integer","description":"Maximum number of virtual machines allowed.","format":"int32"},"vmScaleSetCount":{"minimum":0,"type":"integer","description":"Maximum number of scale sets allowed.","format":"int32"}},"description":"Properties for a Compute Quota"}},"description":"Holds Compute quota information used to control resource allocation."}}},"description":"List of Compute quotas"},"QuotaProperties":{"type":"object","properties":{"availabilitySetCount":{"minimum":0,"type":"integer","description":"Maximum number of availability sets allowed.","format":"int32"},"coresLimit":{"minimum":0,"type":"integer","description":"Maximum number of cores allowed.","format":"int32"},"maxAllocationPremiumManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type premium allowed.","format":"int32"},"maxAllocationStandardManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type standard allowed.","format":"int32"},"virtualMachineCount":{"minimum":0,"type":"integer","description":"Maximum number of virtual machines allowed.","format":"int32"},"vmScaleSetCount":{"minimum":0,"type":"integer","description":"Maximum number of scale sets allowed.","format":"int32"}},"description":"Properties for a Compute Quota"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string"}},"QuotaParameter":{"name":"quotaName","in":"path","description":"Name of the quota.","required":true,"schema":{"type":"string"}}},"requestBodies":{"NewQuotaParameter":{"description":"New quota to create.","content":{"application/json":{"schema":{"properties":{"properties":{"type":"object","properties":{"availabilitySetCount":{"minimum":0,"type":"integer","description":"Maximum number of availability sets allowed.","format":"int32"},"coresLimit":{"minimum":0,"type":"integer","description":"Maximum number of cores allowed.","format":"int32"},"maxAllocationPremiumManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type premium allowed.","format":"int32"},"maxAllocationStandardManagedDisksAndSnapshots":{"minimum":0,"type":"integer","description":"Maximum number of managed disks and snapshots of type standard allowed.","format":"int32"},"virtualMachineCount":{"minimum":0,"type":"integer","description":"Maximum number of virtual machines allowed.","format":"int32"},"vmScaleSetCount":{"minimum":0,"type":"integer","description":"Maximum number of scale sets allowed.","format":"int32"}},"description":"Properties for a Compute Quota"}},"description":"Holds Compute quota information used to control resource allocation.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"type":{"type":"string","description":"Type of Resource.","readOnly":true}},"description":"Base resource object."}]}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}