{"openapi":"3.0.1","info":{"title":"StreamAnalyticsManagementClient","version":"2016-03-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs":{"get":{"tags":["Inputs"],"description":"Lists all of the inputs under the specified streaming job.","operationId":"Inputs_ListByStreamingJob","parameters":[{"name":"$select","in":"query","description":"The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or \"*\" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully listed the inputs under the specified streaming job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InputListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}":{"get":{"tags":["Inputs"],"description":"Gets details about the specified input.","operationId":"Inputs_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"inputName","in":"path","description":"The name of the input.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the specified input.","headers":{"ETag":{"description":"The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Input"}}}}}},"put":{"tags":["Inputs"],"description":"Creates an input or replaces an already existing input under an existing streaming job.","operationId":"Inputs_CreateOrReplace","parameters":[{"name":"If-Match","in":"header","description":"The ETag of the input. Omit this value to always overwrite the current input. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"If-None-Match","in":"header","description":"Set to '*' to allow a new input to be created, but to prevent updating an existing input. Other values will result in a 412 Pre-condition Failed response.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"inputName","in":"path","description":"The name of the input.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The definition of the input that will be used to create a new input or replace the existing one under the streaming job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Input"}}},"required":true},"responses":{"200":{"description":"The input was successfully created or replaced.","headers":{"ETag":{"description":"The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Input"}}}},"201":{"description":"The input was successfully created or replaced.","headers":{"ETag":{"description":"The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Input"}}}}}},"delete":{"tags":["Inputs"],"description":"Deletes an input from the streaming job.","operationId":"Inputs_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"inputName","in":"path","description":"The name of the input.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The input was successfully deleted."},"204":{"description":"The input does not exist."}}},"patch":{"tags":["Inputs"],"description":"Updates an existing input under an existing streaming job. This can be used to partially update (ie. update one or two properties) an input without affecting the rest the job or input definition.","operationId":"Inputs_Update","parameters":[{"name":"If-Match","in":"header","description":"The ETag of the input. Omit this value to always overwrite the current input. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"inputName","in":"path","description":"The name of the input.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"An Input object. The properties specified here will overwrite the corresponding properties in the existing input (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing input will remain the same and not change as a result of this PATCH operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Input"}}},"required":true},"responses":{"200":{"description":"The input was successfully updated.","headers":{"ETag":{"description":"The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Input"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}/test":{"post":{"tags":["Inputs"],"description":"Tests whether an input’s datasource is reachable and usable by the Azure Stream Analytics service.","operationId":"Inputs_Test","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},{"name":"inputName","in":"path","description":"The name of the input.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"If the input specified does not already exist, this parameter must contain the full input definition intended to be tested. If the input specified already exists, this parameter can be left null to test the existing input as is or if specified, the properties specified will overwrite the corresponding properties in the existing input (exactly like a PATCH operation) and the resulting input will be tested.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Input"}}},"required":false},"responses":{"200":{"description":"The test operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceTestStatus"}}}},"202":{"description":"The test request was successfully initiated."}}}}},"components":{"schemas":{"AvroSerialization":{"properties":{"properties":{"$ref":"#/components/schemas/AvroSerializationProperties"}},"description":"Describes how data from an input is serialized or how data is serialized when written to an output in Avro format.","allOf":[{"$ref":"#/components/schemas/Serialization"}]},"AvroSerializationProperties":{"type":"object","description":"The properties that are associated with the Avro serialization type."},"BlobDataSourceProperties":{"type":"object","properties":{"container":{"type":"string","description":"The name of a container within the associated Storage account. This container contains either the blob(s) to be read from or written to. Required on PUT (CreateOrReplace) requests."},"dateFormat":{"type":"string","description":"The date format. Wherever {date} appears in pathPattern, the value of this property is used as the date format instead."},"pathPattern":{"type":"string","description":"The blob path pattern. Not a regular expression. It represents a pattern against which blob names will be matched to determine whether or not they should be included as input or output to the job. See https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-input or https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output for a more detailed explanation and example."},"storageAccounts":{"type":"array","description":"A list of one or more Azure Storage accounts. Required on PUT (CreateOrReplace) requests.","items":{"$ref":"#/components/schemas/StorageAccount"}},"timeFormat":{"type":"string","description":"The time format. Wherever {time} appears in pathPattern, the value of this property is used as the time format instead."}},"description":"The properties that are associated with a blob data source."},"BlobReferenceInputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/BlobReferenceInputDataSourceProperties"}},"description":"Describes a blob input data source that contains reference data.","allOf":[{"$ref":"#/components/schemas/ReferenceInputDataSource"}]},"BlobReferenceInputDataSourceProperties":{"description":"The properties that are associated with a blob input containing reference data.","allOf":[{"$ref":"#/components/schemas/BlobDataSourceProperties"}]},"BlobStreamInputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/BlobStreamInputDataSourceProperties"}},"description":"Describes a blob input data source that contains stream data.","allOf":[{"$ref":"#/components/schemas/StreamInputDataSource"}]},"BlobStreamInputDataSourceProperties":{"properties":{"sourcePartitionCount":{"type":"integer","description":"The partition count of the blob input data source. Range 1 - 256.","format":"int32"}},"description":"The properties that are associated with a blob input containing stream data.","allOf":[{"$ref":"#/components/schemas/BlobDataSourceProperties"}]},"CsvSerialization":{"properties":{"properties":{"$ref":"#/components/schemas/CsvSerializationProperties"}},"description":"Describes how data from an input is serialized or how data is serialized when written to an output in CSV format.","allOf":[{"$ref":"#/components/schemas/Serialization"}]},"CsvSerializationProperties":{"type":"object","properties":{"encoding":{"$ref":"#/components/schemas/Encoding"},"fieldDelimiter":{"type":"string","description":"Specifies the delimiter that will be used to separate comma-separated value (CSV) records. See https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-input or https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output for a list of supported values. Required on PUT (CreateOrReplace) requests."}},"description":"The properties that are associated with the CSV serialization type."},"DiagnosticCondition":{"type":"object","properties":{"code":{"type":"string","description":"The opaque diagnostic code.","readOnly":true},"message":{"type":"string","description":"The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request.","readOnly":true},"since":{"type":"string","description":"The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time.","readOnly":true}},"description":"Condition applicable to the resource, or to the job overall, that warrant customer attention."},"Diagnostics":{"type":"object","properties":{"conditions":{"type":"array","description":"A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention.","readOnly":true,"items":{"$ref":"#/components/schemas/DiagnosticCondition"}}},"description":"Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention."},"Encoding":{"type":"string","description":"Specifies the encoding of the incoming data in the case of input and the encoding of outgoing data in the case of output.","enum":["UTF8"]},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code associated with the error that occurred.","readOnly":true},"message":{"type":"string","description":"Describes the error in detail.","readOnly":true}},"description":"Describes the error that occurred."},"EventHubDataSourceProperties":{"properties":{"eventHubName":{"type":"string","description":"The name of the Event Hub. Required on PUT (CreateOrReplace) requests."}},"description":"The common properties that are associated with Event Hub data sources.","allOf":[{"$ref":"#/components/schemas/ServiceBusDataSourceProperties"}]},"EventHubStreamInputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/EventHubStreamInputDataSourceProperties"}},"description":"Describes an Event Hub input data source that contains stream data.","allOf":[{"$ref":"#/components/schemas/StreamInputDataSource"}]},"EventHubStreamInputDataSourceProperties":{"properties":{"consumerGroupName":{"type":"string","description":"The name of an Event Hub Consumer Group that should be used to read events from the Event Hub. Specifying distinct consumer group names for multiple inputs allows each of those inputs to receive the same events from the Event Hub. If not specified, the input uses the Event Hub’s default consumer group."}},"description":"The properties that are associated with a Event Hub input containing stream data.","allOf":[{"$ref":"#/components/schemas/EventHubDataSourceProperties"}]},"Input":{"properties":{"properties":{"$ref":"#/components/schemas/InputProperties"}},"description":"An input object, containing all information associated with the named input. All inputs are contained under a streaming job.","allOf":[{"$ref":"#/components/schemas/SubResource"}]},"InputListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link (url) to the next page of results.","readOnly":true},"value":{"type":"array","description":"A list of inputs under a streaming job. Populated by a 'List' operation.","readOnly":true,"items":{"$ref":"#/components/schemas/Input"}}},"description":"Object containing a list of inputs under a streaming job."},"InputProperties":{"type":"object","properties":{"diagnostics":{"$ref":"#/components/schemas/Diagnostics"},"etag":{"type":"string","description":"The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.","readOnly":true},"serialization":{"$ref":"#/components/schemas/Serialization"},"type":{"type":"string","description":"Indicates whether the input is a source of reference data or stream data. Required on PUT (CreateOrReplace) requests."}},"description":"The properties that are associated with an input.","discriminator":{"propertyName":"type"}},"IoTHubStreamInputDataSource":{"properties":{"properties":{"$ref":"#/components/schemas/IoTHubStreamInputDataSourceProperties"}},"description":"Describes an IoT Hub input data source that contains stream data.","allOf":[{"$ref":"#/components/schemas/StreamInputDataSource"}]},"IoTHubStreamInputDataSourceProperties":{"type":"object","properties":{"consumerGroupName":{"type":"string","description":"The name of an IoT Hub Consumer Group that should be used to read events from the IoT Hub. If not specified, the input uses the Iot Hub’s default consumer group."},"endpoint":{"type":"string","description":"The IoT Hub endpoint to connect to (ie. messages/events, messages/operationsMonitoringEvents, etc.)."},"iotHubNamespace":{"type":"string","description":"The name or the URI of the IoT Hub. Required on PUT (CreateOrReplace) requests."},"sharedAccessPolicyKey":{"type":"string","description":"The shared access policy key for the specified shared access policy. Required on PUT (CreateOrReplace) requests."},"sharedAccessPolicyName":{"type":"string","description":"The shared access policy name for the IoT Hub. This policy must contain at least the Service connect permission. Required on PUT (CreateOrReplace) requests."}},"description":"The properties that are associated with a IoT Hub input containing stream data."},"JsonOutputSerializationFormat":{"type":"string","description":"Specifies the format of the JSON the output will be written in. The currently supported values are 'lineSeparated' indicating the output will be formatted by having each JSON object separated by a new line and 'array' indicating the output will be formatted as an array of JSON objects.","enum":["LineSeparated","Array"]},"JsonSerialization":{"properties":{"properties":{"$ref":"#/components/schemas/JsonSerializationProperties"}},"description":"Describes how data from an input is serialized or how data is serialized when written to an output in JSON format.","allOf":[{"$ref":"#/components/schemas/Serialization"}]},"JsonSerializationProperties":{"type":"object","properties":{"encoding":{"$ref":"#/components/schemas/Encoding"},"format":{"$ref":"#/components/schemas/JsonOutputSerializationFormat"}},"description":"The properties that are associated with the JSON serialization type."},"ReferenceInputDataSource":{"type":"object","properties":{"type":{"type":"string","description":"Indicates the type of input data source containing reference data. Required on PUT (CreateOrReplace) requests."}},"description":"Describes an input data source that contains reference data.","discriminator":{"propertyName":"type"}},"ReferenceInputProperties":{"properties":{"datasource":{"$ref":"#/components/schemas/ReferenceInputDataSource"}},"description":"The properties that are associated with an input containing reference data.","allOf":[{"$ref":"#/components/schemas/InputProperties"}]},"ResourceTestStatus":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorResponse"},"status":{"type":"string","description":"The status of the test operation.","readOnly":true}},"description":"Describes the status of the test operation along with error information, if applicable."},"Serialization":{"type":"object","properties":{"type":{"type":"string","description":"Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests."}},"description":"Describes how data from an input is serialized or how data is serialized when written to an output.","discriminator":{"propertyName":"type"}},"ServiceBusDataSourceProperties":{"type":"object","properties":{"serviceBusNamespace":{"type":"string","description":"The namespace that is associated with the desired Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests."},"sharedAccessPolicyKey":{"type":"string","description":"The shared access policy key for the specified shared access policy. Required on PUT (CreateOrReplace) requests."},"sharedAccessPolicyName":{"type":"string","description":"The shared access policy name for the Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests."}},"description":"The common properties that are associated with Service Bus data sources (Queues, Topics, Event Hubs, etc.)."},"StorageAccount":{"type":"object","properties":{"accountKey":{"type":"string","description":"The account key for the Azure Storage account. Required on PUT (CreateOrReplace) requests."},"accountName":{"type":"string","description":"The name of the Azure Storage account. Required on PUT (CreateOrReplace) requests."}},"description":"The properties that are associated with an Azure Storage account"},"StreamInputDataSource":{"type":"object","properties":{"type":{"type":"string","description":"Indicates the type of input data source containing stream data. Required on PUT (CreateOrReplace) requests."}},"description":"Describes an input data source that contains stream data.","discriminator":{"propertyName":"type"}},"StreamInputProperties":{"properties":{"datasource":{"$ref":"#/components/schemas/StreamInputDataSource"}},"description":"The properties that are associated with an input containing stream data.","allOf":[{"$ref":"#/components/schemas/InputProperties"}]},"SubResource":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The base sub-resource model definition."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"InputNameParameter":{"name":"inputName","in":"path","description":"The name of the input.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"StreamingJobNameParameter":{"name":"jobName","in":"path","description":"The name of the streaming job.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}