{"openapi":"3.0.1","info":{"title":"Weatherbit.io - Swagger UI Weather API documentation","description":"This is the documentation for the Weatherbit Weather API.  The base URL for the API is [http://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/) or [https://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/). Below is the Swagger UI documentation for the API. All API requests require the `key` parameter.        An Example for a 5 day forecast for London, UK would be `http://api.weatherbit.io/v2.0/forecast/3hourly?city=London`&`country=UK`. See our [Weather API description page](https://www.weatherbit.io/api) for additional documentation.","version":"2.0.0"},"servers":[{"url":"https://api.weatherbit.io/v2.0"},{"url":"http://api.weatherbit.io/v2.0"}],"paths":{"/alerts?lat={lat}&lon={lon}":{"get":{"tags":["Alerts"],"summary":"Returns severe weather alerts issued by meteorological agencies - Given a lat/lon.","description":"Returns severe weather alerts issued by meteorological agencies - given a lat, and a lon.","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback - Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Weather Alert Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WeatherAlert"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/bulk/files/{file}":{"get":{"tags":["Bulk Downloads"],"summary":"Download pre-generated bulk datasets","description":"**(Advanceed/Enterprise plans only)** Downloads bulk data files - OPTIONS: ( current.json.gz - Current observations for cities > 1000 population). Units are Metric (Celcius, m/s, etc).","parameters":[{"name":"file","in":"path","description":"Filename (ie. current.json.gz)","required":true,"schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/current/airquality?city={city}&country={country}":{"get":{"tags":["Current Air Quality"],"summary":"Returns current air quality conditions - Given City and/or State, Country.","description":"Returns current air quality conditions.","parameters":[{"name":"city","in":"path","description":"City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR","required":true,"schema":{"type":"string","format":"string"}},{"name":"state","in":"query","description":"Full name of state.","schema":{"type":"string","format":"string"}},{"name":"country","in":"path","description":"Country Code (2 letter).","required":true,"schema":{"type":"string","format":"string"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Current air quality conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQCurrentGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/current/airquality?city_id={city_id}":{"get":{"tags":["Current Air Quality"],"summary":"Returns current air quality conditions - Given a City ID.","description":"Returns current air quality conditions.","parameters":[{"name":"city_id","in":"path","description":"City ID. Example: 4487042","required":true,"schema":{"type":"integer","format":"integer"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Current air quality conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQCurrentGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/current/airquality?lat={lat}&lon={lon}":{"get":{"tags":["Current Air Quality"],"summary":"Returns current air quality conditions - Given a lat/lon.","description":"Returns current air quality conditions.","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Current air quality conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQCurrentGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/current/airquality?postal_code={postal_code}":{"get":{"tags":["Current Air Quality"],"summary":"Returns current air quality conditions - Given a Postal Code.","description":"Returns current air quality conditions.","parameters":[{"name":"postal_code","in":"path","description":"Postal Code. Example: 28546","required":true,"schema":{"type":"integer","format":"integer"}},{"name":"country","in":"query","description":"Country Code (2 letter).","schema":{"type":"string","format":"string"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Current air quality conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQCurrentGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/current?cities={cities}":{"get":{"tags":["Current Weather Data"],"summary":"Returns a group of observations given a list of cities","description":"Returns a group of Current Observations - Given a list of City IDs. ","parameters":[{"name":"cities","in":"path","description":"Comma separated list of City ID's. Example: 4487042, 4494942, 4504871","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"marine","in":"query","description":"Marine stations only (buoys, oil platforms, etc)","schema":{"type":"string","format":"string","enum":["t"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback - Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Observation Group object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentObsGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/current?city={city}&country={country}":{"get":{"tags":["Current Weather Data"],"summary":"Returns a Current Observation - Given City and/or State, Country.","description":"Returns a Current Observation - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.","parameters":[{"name":"city","in":"path","description":"City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR","required":true,"schema":{"type":"string","format":"string"}},{"name":"include","in":"query","description":"Include 1 hour - minutely forecast in the response","schema":{"type":"string","format":"string","enum":["minutely"]}},{"name":"state","in":"query","description":"Full name of state.","schema":{"type":"string","format":"string"}},{"name":"country","in":"path","description":"Country Code (2 letter).","required":true,"schema":{"type":"string","format":"string"}},{"name":"marine","in":"query","description":"Marine stations only (buoys, oil platforms, etc)","schema":{"type":"string","format":"string","enum":["t"]}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback - Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Observation Group object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentObsGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/current?city_id={city_id}":{"get":{"tags":["Current Weather Data"],"summary":"Returns a current observation by city id.","description":"Returns current weather observation - Given a City ID. ","parameters":[{"name":"city_id","in":"path","description":"City ID. Example: 4487042","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"include","in":"query","description":"Include 1 hour - minutely forecast in the response","schema":{"type":"string","format":"string","enum":["minutely"]}},{"name":"marine","in":"query","description":"Marine stations only (buoys, oil platforms, etc)","schema":{"type":"string","format":"string","enum":["t"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback - Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Observation Group object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentObsGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/current?lat={lat}&lon={lon}":{"get":{"tags":["Current Weather Data"],"summary":"Returns a Current Observation - Given a lat/lon.","description":"Returns a Current Observation - given a lat, and a lon.","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"include","in":"query","description":"Include 1 hour - minutely forecast in the response","schema":{"type":"string","format":"string","enum":["minutely"]}},{"name":"marine","in":"query","description":"Marine stations only (buoys, oil platforms, etc)","schema":{"type":"string","format":"string","enum":["t"]}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback - Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Observation Group object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentObsGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/current?postal_code={postal_code}":{"get":{"tags":["Current Weather Data"],"summary":"Returns a current observation by postal code.","description":"Returns current weather observation - Given a Postal Code. ","parameters":[{"name":"postal_code","in":"path","description":"Postal Code. Example: 28546","required":true,"schema":{"type":"string","format":"string"}},{"name":"country","in":"query","description":"Country Code (2 letter).","schema":{"type":"string","format":"string"}},{"name":"include","in":"query","description":"Include 1 hour - minutely forecast in the response","schema":{"type":"string","format":"string","enum":["minutely"]}},{"name":"marine","in":"query","description":"Marine stations only (buoys, oil platforms, etc)","schema":{"type":"string","format":"string","enum":["t"]}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback - Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Observation Group object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentObsGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/current?station={station}":{"get":{"tags":["Current Weather Data"],"summary":"Returns a Current Observation. - Given a station ID.","description":"Returns a Current Observation - Given a station ID.","parameters":[{"name":"station","in":"path","description":"Station Call ID.","required":true,"schema":{"type":"string","format":"string"}},{"name":"include","in":"query","description":"Include 1 hour - minutely forecast in the response","schema":{"type":"string","format":"string","enum":["minutely"]}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Observation Group object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentObsGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/current?stations={stations}":{"get":{"tags":["Current Weather Data"],"summary":"Returns a group of observations given a list of stations","description":"Returns a group of Current Observations - Given a list of Station Call IDs. ","parameters":[{"name":"stations","in":"path","description":"Comma separated list of Station Call ID's. Example: KRDU,KBFI,KVNY","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Observation Group object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentObsGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/3hourly?city={city}&country={country}":{"get":{"tags":["5 day / 3 hour Forecast"],"summary":"Returns a 3-hourly forecast - Given City and/or State, Country.","description":"Returns a 3-hourly forecast, where each point represents a three hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.\n","parameters":[{"name":"city","in":"path","description":"City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR","required":true,"schema":{"type":"string","format":"string"}},{"name":"state","in":"query","description":"Full name of state.","schema":{"type":"string","format":"string"}},{"name":"country","in":"path","description":"Country Code (2 letter).","required":true,"schema":{"type":"string","format":"string"}},{"name":"days","in":"query","description":"Number of days to return. Default 5.","schema":{"type":"number","format":"integer"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/3hourly?city_id={city_id}":{"get":{"tags":["5 day / 3 hour Forecast"],"summary":"Returns a 3-hourly forecast - Given a City ID.","description":"Returns a 3-hourly forecast, where each point represents a three hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.\n","parameters":[{"name":"city_id","in":"path","description":"City ID. Example: 4487042","required":true,"schema":{"type":"integer","format":"integer"}},{"name":"days","in":"query","description":"Number of days to return. Default 5.","schema":{"type":"number","format":"integer"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/3hourly?lat={lat}&lon={lon}":{"get":{"tags":["5 day / 3 hour Forecast"],"summary":"Returns a 3-hourly forecast - Given a lat/lon.","description":"Returns a 3-hourly forecast, where each point represents a three hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.\n","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"days","in":"query","description":"Number of days to return. Default 5.","schema":{"type":"number","format":"integer"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/3hourly?postal_code={postal_code}":{"get":{"tags":["5 day / 3 hour Forecast"],"summary":"Returns a 3-hourly forecast - Given a Postal Code.","description":"Returns a 3-hourly forecast, where each point represents a three hour period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.\n","parameters":[{"name":"postal_code","in":"path","description":"Postal Code. Example: 28546","required":true,"schema":{"type":"integer","format":"integer"}},{"name":"country","in":"query","description":"Country Code (2 letter).","schema":{"type":"string","format":"string"}},{"name":"days","in":"query","description":"Number of days to return. Default 5.","schema":{"type":"number","format":"integer"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/airquality?city={city}&country={country}":{"get":{"tags":["Air Quality Forecast"],"summary":"Returns 72 hour (hourly) Air Quality forecast - Given City and/or State, Country.","description":"Returns 72 hour (hourly) Air Quality forecast, where each point represents a one hour period.","parameters":[{"name":"city","in":"path","description":"City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR","required":true,"schema":{"type":"string","format":"string"}},{"name":"state","in":"query","description":"Full name of state.","schema":{"type":"string","format":"string"}},{"name":"country","in":"path","description":"Country Code (2 letter).","required":true,"schema":{"type":"string","format":"string"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"hours","in":"query","description":"Number of hours to return.","schema":{"type":"integer","format":"integer"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/airquality?city_id={city_id}":{"get":{"tags":["Air Quality Forecast"],"summary":"Returns 72 hour (hourly) Air Quality forecast - Given a City ID.","description":"Returns 72 hour (hourly) Air Quality forecast, where each point represents a one hour period.","parameters":[{"name":"city_id","in":"path","description":"City ID. Example: 4487042","required":true,"schema":{"type":"integer","format":"integer"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"hours","in":"query","description":"Number of hours to return.","schema":{"type":"integer","format":"integer"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/airquality?lat={lat}&lon={lon}":{"get":{"tags":["Air Quality Forecast"],"summary":"Returns 72 hour (hourly) Air Quality forecast - Given a lat/lon.","description":"Returns 72 hour (hourly) Air Quality forecast, where each point represents a one hour period.","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}},{"name":"hours","in":"query","description":"Number of hours to return.","schema":{"type":"integer","format":"integer"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/airquality?postal_code={postal_code}":{"get":{"tags":["Air Quality Forecast"],"summary":"Returns 72 hour (hourly) Air Quality forecast - Given a Postal Code.","description":"Returns 72 hour (hourly) Air Quality forecast, where each point represents a one hour period.","parameters":[{"name":"postal_code","in":"path","description":"Postal Code. Example: 28546","required":true,"schema":{"type":"integer","format":"integer"}},{"name":"country","in":"query","description":"Country Code (2 letter).","schema":{"type":"string","format":"string"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"hours","in":"query","description":"Number of hours to return.","schema":{"type":"integer","format":"integer"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/daily?city={city}&country={country}":{"get":{"tags":["16 day / daily Forecast"],"summary":"Returns a daily forecast - Given City and/or State, Country.","description":"Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format \"YYYY-MM-DD\". One day begins at 00:00 UTC, and ends at 23:59 UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.\n","parameters":[{"name":"city","in":"path","description":"City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR","required":true,"schema":{"type":"string","format":"string"}},{"name":"state","in":"query","description":"Full name of state.","schema":{"type":"string","format":"string"}},{"name":"country","in":"path","description":"Country Code (2 letter).","required":true,"schema":{"type":"string","format":"string"}},{"name":"days","in":"query","description":"Number of days to return. Default 16.","schema":{"type":"number","format":"integer"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastDay"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/daily?city_id={city_id}":{"get":{"tags":["16 day / daily Forecast"],"summary":"Returns a daily forecast - Given a City ID.","description":"Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format \"YYYY-MM-DD\". One day begins at 00:00 UTC, and ends at 23:59 UTC.\n","parameters":[{"name":"city_id","in":"path","description":"City ID. Example: 4487042","required":true,"schema":{"type":"integer","format":"integer"}},{"name":"days","in":"query","description":"Number of days to return. Default 16.","schema":{"type":"number","format":"integer"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastDay"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/daily?lat={lat}&lon={lon}":{"get":{"tags":["16 day / daily Forecast"],"summary":"Returns a daily forecast - Given Lat/Lon.","description":"Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format \"YYYY-MM-DD\". One day begins at 00:00 UTC, and ends at 23:59 UTC. \n","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"days","in":"query","description":"Number of days to return. Default 16.","schema":{"type":"number","format":"integer"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastDay"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/daily?postal_code={postal_code}":{"get":{"tags":["16 day / daily Forecast"],"summary":"Returns a daily forecast - Given a Postal Code.","description":"Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format \"YYYY-MM-DD\". One day begins at 00:00 UTC, and ends at 23:59 UTC.\n","parameters":[{"name":"postal_code","in":"path","description":"Postal Code. Example: 28546","required":true,"schema":{"type":"integer","format":"integer"}},{"name":"country","in":"query","description":"Country Code (2 letter).","schema":{"type":"string","format":"string"}},{"name":"days","in":"query","description":"Number of days to return. Default 16.","schema":{"type":"number","format":"integer"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastDay"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/energy?lat={lat}&lon={lon}":{"get":{"tags":["Forecast Degree Day API","Forecast Solar Irradiance API"],"summary":"Returns Energy Forecast API response  - Given a single lat/lon. ","description":"Retrieve an 8 day forecast relevant to te Energy Sector (degree days, solar radiation, precipitation, wind).","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"threshold","in":"query","description":"Temperature threshold to use to calculate degree days (default 18 C) ","schema":{"type":"number","format":"double"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"tp","in":"query","description":"Time period (default: daily)","schema":{"type":"string","format":"string","enum":["hourly","daily"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Energy Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnergyObsGroupForecast"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/hourly?city={city}&country={country}":{"get":{"tags":["120 hour / hourly Forecast"],"summary":"Returns an 120 hour (hourly forecast) - Given City and/or State, Country.","description":" Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.\n","parameters":[{"name":"city","in":"path","description":"City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR","required":true,"schema":{"type":"string","format":"string"}},{"name":"state","in":"query","description":"Full name of state.","schema":{"type":"string","format":"string"}},{"name":"country","in":"path","description":"Country Code (2 letter).","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"hours","in":"query","description":"Number of hours to return.","schema":{"type":"integer","format":"integer"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/hourly?city_id={city_id}":{"get":{"tags":["120 hour / hourly Forecast"],"summary":"Returns a 120 hour (hourly) forecast - Given a City ID.","description":" Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC. \n","parameters":[{"name":"city_id","in":"path","description":"City ID. Example: 4487042","required":true,"schema":{"type":"integer","format":"integer"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"hours","in":"query","description":"Number of hours to return.","schema":{"type":"integer","format":"integer"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/hourly?lat={lat}&lon={lon}":{"get":{"tags":["120 hour / hourly Forecast"],"summary":"Returns 120 hour (hourly) forecast - Given a lat/lon.","description":"Returns an hourly forecast, where each point represents a one hour period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC. \n","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}},{"name":"hours","in":"query","description":"Number of hours to return.","schema":{"type":"integer","format":"integer"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/forecast/hourly?postal_code={postal_code}":{"get":{"tags":["120 hour / hourly Forecast"],"summary":"Returns a 120 hour (hourly) forecast - Given a Postal Code.","description":" Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC. \n","parameters":[{"name":"postal_code","in":"path","description":"Postal Code. Example: 28546","required":true,"schema":{"type":"integer","format":"integer"}},{"name":"country","in":"query","description":"Country Code (2 letter).","schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"hours","in":"query","description":"Number of hours to return.","schema":{"type":"integer","format":"integer"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"A forecast object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForecastHourly"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/airquality?city={city}&country={country}":{"get":{"tags":["Historical Air Quality"],"summary":"Returns 72 hours of historical quality conditions - Given City and/or State, Country.","description":"Returns historical air quality conditions.","parameters":[{"name":"city","in":"path","description":"City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR","required":true,"schema":{"type":"string","format":"string"}},{"name":"state","in":"query","description":"Full name of state.","schema":{"type":"string","format":"string"}},{"name":"country","in":"path","description":"Country Code (2 letter).","required":true,"schema":{"type":"string","format":"string"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Historical air quality conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQCurrentGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/airquality?city_id={city_id}":{"get":{"tags":["Historical Air Quality"],"summary":"Returns 72 hours of historical air quality conditions - Given a City ID.","description":"Returns historical air quality conditions.","parameters":[{"name":"city_id","in":"path","description":"City ID.","required":true,"schema":{"type":"number","format":"double"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Historical air quality conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQCurrentGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/airquality?lat={lat}&lon={lon}":{"get":{"tags":["Historical Air Quality"],"summary":"Returns 72 hours of historical air quality conditions - Given a lat/lon.","description":"Returns historical air quality conditions.","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Historical air quality conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQCurrentGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/airquality?postal_code={postal_code}":{"get":{"tags":["Historical Air Quality"],"summary":"Returns 72 hours of historical air quality conditions - Given a Postal Code.","description":"Returns historical air quality conditions.","parameters":[{"name":"postal_code","in":"path","description":"Postal Code. Example: 28546","required":true,"schema":{"type":"integer","format":"integer"}},{"name":"country","in":"query","description":"Country Code (2 letter).","schema":{"type":"string","format":"string"}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example - callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Historical air quality conditions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AQCurrentGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/daily?city={city}&country={country}":{"get":{"tags":["Daily Historical Weather Data"],"summary":"Returns Historical Observations - Given City and/or State, Country.","description":"Returns Historical Observations - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate. **(LIMIT 1 day for Free plan. LIMIT 7 days for Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**","parameters":[{"name":"city","in":"path","description":"City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR","required":true,"schema":{"type":"string","format":"string"}},{"name":"state","in":"query","description":"Full name of state.","schema":{"type":"string","format":"string"}},{"name":"country","in":"path","description":"Country Code (2 letter).","required":true,"schema":{"type":"string","format":"string"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Historical Day Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryDay"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/daily?city_id={city_id}":{"get":{"tags":["Daily Historical Weather Data"],"summary":"Returns Historical Observations - Given a City ID","description":"Returns Historical Observations - Given a City ID. **(LIMIT 1 day for Free plan. LIMIT 7 days for Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**","parameters":[{"name":"city_id","in":"path","description":"City ID. Example: 4487042","required":true,"schema":{"type":"string","format":"string"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH)","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Historical Day Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryDay"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/daily?lat={lat}&lon={lon}":{"get":{"tags":["Daily Historical Weather Data"],"summary":"Returns Historical Observations - Given a lat/lon.","description":"Returns Historical Observations - Given a lat, and lon. **(LIMIT 1 day for Free plan. LIMIT 7 days for Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Historical Day Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryDay"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/daily?postal_code={postal_code}":{"get":{"tags":["Daily Historical Weather Data"],"summary":"Returns Historical Observations - Given a Postal Code","description":"Returns Historical Observations - Given a Postal Code. **(LIMIT 1 day for Free plan. LIMIT 7 days for Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**","parameters":[{"name":"postal_code","in":"path","description":"Postal Code. Example: 28546","required":true,"schema":{"type":"string","format":"string"}},{"name":"country","in":"query","description":"Country Code (2 letter).","schema":{"type":"string","format":"string"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH)","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Historical Day Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryDay"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/daily?station={station}":{"get":{"tags":["Daily Historical Weather Data"],"summary":"Returns Historical Observations - Given a station ID.","description":"Returns Historical Observations - Given a station ID. **(LIMIT 1 day for Free plan. LIMIT 7 days for Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**","parameters":[{"name":"station","in":"path","description":"Station ID.","required":true,"schema":{"type":"string","format":"string"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Historical Day Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryDay"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/energy/bbox?lat1={lat1}&lon1={lon1}&lat2={lat2}&lon2={lon2}":{"get":{"tags":["Historical Degree Day API","Historical Solar Irradiance API","Historical Weather Energy API"],"summary":"Returns multiple locations given a bounding box. ","description":"Returns aggregate energy specific historical weather fields, over a specified time period. Supply a bounding box ex: lat1=40&lon1=-78&lat2=38&lon2=-80. This API will return UP TO 150 stations, aggregated by the specified time period start_date to end_date. ","parameters":[{"name":"lat1","in":"path","description":"Latitude of upper left corner.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon1","in":"path","description":"Longitude of upper left corner.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lat2","in":"path","description":"Latitude of lower right corner.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon2","in":"path","description":"Longitude of lower right corner.","required":true,"schema":{"type":"number","format":"double"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"threshold","in":"query","description":"Temperature threshold to use to calculate degree days (default 18 C) ","schema":{"type":"number","format":"double"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Energy Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnergyObsGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/energy?lat={lat}&lon={lon}":{"get":{"tags":["Historical Degree Day API","Historical Solar Irradiance API","Historical Weather Energy API"],"summary":"Returns Energy API response  - Given a single lat/lon. ","description":"Returns aggregate energy specific historical weather fields, over a specified time period.","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"tp","in":"query","description":"Time period to aggregate by (daily, monthly)","schema":{"type":"string","format":"string","enum":["hourly","daily","monthly"]}},{"name":"threshold","in":"query","description":"Temperature threshold to use to calculate degree days (default 18 C) ","schema":{"type":"number","format":"double"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Energy Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnergyObsGroup"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/hourly?city={city}&country={country}":{"get":{"tags":["Hourly Historical Weather Data"],"summary":"Returns Historical Observations - Given City and/or State, Country.","description":"Returns Historical Observations - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate. **(LIMIT 1 day for Free plan. LIMIT 7 days for Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**","parameters":[{"name":"city","in":"path","description":"City search. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR","required":true,"schema":{"type":"string","format":"string"}},{"name":"state","in":"query","description":"Full name of state.","schema":{"type":"string","format":"string"}},{"name":"country","in":"path","description":"Country Code (2 letter).","required":true,"schema":{"type":"string","format":"string"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"tz","in":"query","description":"Assume utc (default) or local time for start_date, end_date","schema":{"type":"string","format":"string","enum":["local","utc"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Historical Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/History"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/hourly?city_id={city_id}":{"get":{"tags":["Hourly Historical Weather Data"],"summary":"Returns Historical Observations - Given a City ID","description":"Returns Historical Observations - Given a City ID. **(LIMIT 1 day for Free plan. LIMIT 7 days for Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**","parameters":[{"name":"city_id","in":"path","description":"City ID. Example: 4487042","required":true,"schema":{"type":"string","format":"string"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH)","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"tz","in":"query","description":"Assume utc (default) or local time for start_date, end_date","schema":{"type":"string","format":"string","enum":["local","utc"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Historical Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/History"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/hourly?lat={lat}&lon={lon}":{"get":{"tags":["Hourly Historical Weather Data"],"summary":"Returns Historical Observations - Given a lat/lon.","description":"Returns Historical Observations - Given a lat, and lon. **(LIMIT 1 day for Free plan. LIMIT 7 days for Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**","parameters":[{"name":"lat","in":"path","description":"Latitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"path","description":"Longitude component of location.","required":true,"schema":{"type":"number","format":"double"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"tz","in":"query","description":"Assume utc (default) or local time for start_date, end_date","schema":{"type":"string","format":"string","enum":["local","utc"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Historical Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/History"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/hourly?postal_code={postal_code}":{"get":{"tags":["Hourly Historical Weather Data"],"summary":"Returns Historical Observations - Given a Postal Code","description":"Returns Historical Observations - Given a Postal Code. **(LIMIT 1 day for Free plan. LIMIT 7 days for Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**","parameters":[{"name":"postal_code","in":"path","description":"Postal Code. Example: 28546","required":true,"schema":{"type":"string","format":"string"}},{"name":"country","in":"query","description":"Country Code (2 letter).","schema":{"type":"string","format":"string"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH)","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"tz","in":"query","description":"Assume utc (default) or local time for start_date, end_date","schema":{"type":"string","format":"string","enum":["local","utc"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Historical Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/History"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/history/hourly?station={station}":{"get":{"tags":["Hourly Historical Weather Data"],"summary":"Returns Historical Observations - Given a station ID.","description":"Returns Historical Observations - Given a station ID. **(LIMIT 1 day for Free plan. LIMIT 7 days for Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**","parameters":[{"name":"station","in":"path","description":"Station ID.","required":true,"schema":{"type":"string","format":"string"}},{"name":"start_date","in":"query","description":"Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"end_date","in":"query","description":"End Date (YYYY-MM-DD or YYYY-MM-DD:HH).","required":true,"schema":{"type":"string","format":"string"}},{"name":"units","in":"query","description":"Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>","schema":{"type":"string","format":"string","enum":["S","I"]}},{"name":"lang","in":"query","description":"Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>","schema":{"type":"string","format":"string","enum":["ar","az","be","bg","bs","ca","cs","de","fi","fr","el","es","et","hr","hu","id","it","is","kw","nb","nl","pl","pt","ro","ru","sk","sl","sr","sv","tr","uk","zh","zh-tw"]}},{"name":"tz","in":"query","description":"Assume utc (default) or local time for start_date, end_date","schema":{"type":"string","format":"string","enum":["local","utc"]}},{"name":"callback","in":"query","description":"Wraps return in jsonp callback. Example: callback=func","schema":{"type":"string","format":"string"}},{"name":"key","in":"query","description":"Your registered API key.","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"An Historical Data Object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/History"}}}},"default":{"description":"No Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"AQCurrent":{"type":"object","properties":{"aqi":{"type":"integer","description":"Cloud cover as a percentage (%)","example":100},"no2":{"type":"number","description":"Concentration of NO2 (µg/m³)","example":25.0},"o3":{"type":"number","description":"Concentration of O3 (µg/m³)","example":2.0},"pm10":{"type":"number","description":"Concentration of PM 10 (µg/m³)","example":150.0},"pm25":{"type":"number","description":"Concentration of PM 2.5 (µg/m³)","example":230.0},"so2":{"type":"number","description":"Concentration of SO2 (µg/m³)","example":50.0}}},"AQCurrentGroup":{"type":"object","properties":{"city_name":{"type":"string","description":"City Name","example":"Raleigh"},"country_code":{"type":"string","description":"Country Abbreviation","example":"US"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AQCurrent"}},"lat":{"type":"string","description":"Latitude","example":"38.25"},"lon":{"type":"string","description":"Longitude","example":"-78.00"},"state_code":{"type":"string","description":"State Abbreviation","example":"NC"},"timezone":{"type":"string","description":"Local IANA time zone","example":"America/New_York"}}},"AQHour":{"type":"object","properties":{"aqi":{"type":"integer","description":"Cloud cover as a percentage (%)","example":100},"no2":{"type":"number","description":"Concentration of NO2 (µg/m³)","example":25.0},"o3":{"type":"number","description":"Concentration of O3 (µg/m³)","example":2.0},"pm10":{"type":"number","description":"Concentration of PM 10 (µg/m³)","example":150.0},"pm25":{"type":"number","description":"Concentration of PM 2.5 (µg/m³)","example":230.0},"so2":{"type":"number","description":"Concentration of SO2 (µg/m³)","example":50.0},"timestamp_local":{"type":"string","description":"Timestamp in local time","example":"2019-03-04T12:00:00"},"timestamp_utc":{"type":"string","description":"Timestamp UTC","example":"2019-03-04T17:00:00"},"ts":{"type":"number","description":"Unix Timestamp","example":1551718800}}},"AQHourly":{"type":"object","properties":{"city_name":{"type":"string","description":"City Name","example":"Raleigh"},"country_code":{"type":"string","description":"Country Abbreviation","example":"US"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AQHour"}},"lat":{"type":"string","description":"Latitude","example":"38.25"},"lon":{"type":"string","description":"Longitude","example":"-78.00"},"state_code":{"type":"string","description":"State Abbreviation","example":"NC"},"timezone":{"type":"string","description":"Local IANA time zone","example":"America/New_York"}}},"AlertRegionGroup":{"type":"string","description":"List of impacted regions","example":"St Louis, MO"},"CurrentObs":{"type":"object","properties":{"app_temp":{"type":"number","description":"Apparent temperature - Default (C)","example":14.85},"aqi":{"type":"number","description":"Air quality index (US EPA standard 0 to +500)","example":50.0},"city_name":{"type":"string","description":"City name (closest)","example":"Raleigh"},"clouds":{"type":"integer","description":"Cloud cover (%)","example":42},"country_code":{"type":"string","description":"Country abbreviation","example":"US"},"datetime":{"type":"string","description":"Cycle Hour (UTC) of observation","example":"2017-03-15:13"},"dewpt":{"type":"number","description":"Dew point temperature - default (C)","example":12.0},"dhi":{"type":"number","description":"Diffuse horizontal irradiance (W/m^2)","example":450.4},"dni":{"type":"number","description":"Direct normal irradiance (W/m^2)","example":450.4},"elev_angle":{"type":"number","description":"Current solar elevation angle (Degrees)","example":37.0},"ghi":{"type":"number","description":"Global horizontal irradiance (W/m^2)","example":450.4},"hour_angle":{"type":"number","description":"Current solar hour angle (Degrees)","example":45.0},"lat":{"type":"number","description":"Latitude","example":38.0},"lon":{"type":"number","description":"Longitude","example":-78.25},"ob_time":{"type":"string","description":"Full time (UTC) of observation (YYYY-MM-DD HH:MM)","example":"2017-03-15 13:11"},"pod":{"type":"string","description":"Part of the day (d = day, n = night)"},"precip":{"type":"number","description":"Precipitation in last hour - Default (mm)","example":2.0},"pres":{"type":"number","description":"Pressure (mb)","example":1010.0},"rh":{"type":"integer","description":"Relative humidity (%)","example":75},"slp":{"type":"number","description":"Mean sea level pressure in millibars (mb)","example":1013.12},"snow":{"type":"number","description":"Snowfall in last hour - Default (mm)","example":10.0},"solar_rad":{"type":"number","description":"Estimated solar radiation (W/m^2)","example":300.4},"state_code":{"type":"string","description":"State abbreviation","example":"NC"},"station":{"type":"string","description":"Source Station ID","example":"KRDU"},"sunrise":{"type":"string","description":"Time (UTC) of Sunrise (HH:MM)","example":"06:22"},"sunset":{"type":"string","description":"Time (UTC) of Sunset (HH:MM)","example":"19:34"},"temp":{"type":"number","description":"Temperature - Default (C)","example":13.85},"timezone":{"type":"string","description":"Local IANA time zone","example":"America/New_York"},"ts":{"type":"number","description":"Unix Timestamp","example":1490990400},"uv":{"type":"number","description":"UV Index","example":6.5},"vis":{"type":"integer","description":"Visibility - default (M)","example":10000},"weather":{"type":"object","properties":{"code":{"type":"string","description":"Weather Condition code","example":"802"},"description":{"type":"string","description":"Weather Condition description","example":"Broken clouds"},"icon":{"type":"string","description":"Icon code for forecast image display","example":"c02"}}},"wind_cdir":{"type":"string","description":"Cardinal wind direction","example":"ENE"},"wind_cdir_full":{"type":"string","description":"Cardinal wind direction (text)","example":"East-North-East"},"wind_dir":{"type":"integer","description":"Wind direction (degrees)","example":125},"wind_speed":{"type":"number","description":"Wind speed - Default (m/s)","example":5.85}}},"CurrentObsGroup":{"type":"object","properties":{"count":{"type":"integer","description":"Count of found observations","example":1},"data":{"type":"array","items":{"$ref":"#/components/schemas/CurrentObs"}}}},"EnergyObs":{"type":"object","properties":{"cdd":{"type":"number","description":"Cooling degree days","example":10.0},"city_name":{"type":"string","description":"City name (closest)","example":"Raleigh"},"clouds":{"type":"integer","description":"Average cloud cover (%)","example":42},"country_code":{"type":"string","description":"Country abbreviation","example":"US"},"dewpt":{"type":"number","description":"Average dew point temperature - Default (C)","example":12.0},"hdd":{"type":"number","description":"Heating degree days","example":120.0},"lat":{"type":"string","description":"Latitude","example":"38.00"},"lon":{"type":"string","description":"Longitude","example":"-78.25"},"precip":{"type":"number","description":"Total precipitation in period - Default (mm)","example":2.0},"rh":{"type":"integer","description":"Average Relative humidity (%)","example":75},"snow":{"type":"number","description":"Total snowfall in period - Default (mm)","example":10.0},"state_code":{"type":"string","description":"State abbreviation","example":"NC"},"station_id":{"type":"string","description":"Source Station ID","example":"12345-999999"},"sun_hours":{"type":"number","description":"Average number of daily sun hours - # hours where Solar GHI > 1000 W/m^2","example":4.5},"t_dhi":{"type":"number","description":"Total diffuse horizontal solar irradiance (W/m^2)","example":450.0},"t_dni":{"type":"number","description":"Total direct normal solar irradiance (W/m^2)","example":1200.0},"t_ghi":{"type":"number","description":"Total global horizontal solar irradiance (W/m^2)","example":3000.0},"temp":{"type":"number","description":"Average temperature - Default (C)","example":13.85},"timezone":{"type":"string","description":"Local IANA time zone","example":"America/New_York"},"wind_dir":{"type":"integer","description":"Average wind direction (Degrees)","example":125},"wind_speed":{"type":"number","description":"Average wind speed - Default (m/s)","example":5.85}}},"EnergyObsGroup":{"type":"object","properties":{"count":{"type":"integer","description":"Count of found observations","example":1},"data":{"type":"array","items":{"$ref":"#/components/schemas/EnergyObs"}},"end_date":{"type":"integer","description":"End Date"},"start_date":{"type":"integer","description":"Start Date"}}},"EnergyObsGroupForecast":{"type":"object","properties":{"city_name":{"type":"string","description":"City name (closest)","example":"Raleigh"},"country_code":{"type":"string","description":"Country abbreviation","example":"US"},"data":{"type":"array","items":{"$ref":"#/components/schemas/EnergyObsSeries"}},"lat":{"type":"string","description":"Latitude","example":"38.00"},"lon":{"type":"string","description":"Longitude","example":"-78.25"},"state_code":{"type":"string","description":"State abbreviation","example":"NC"},"threshold_units":{"type":"string","description":"Degree day threshold units","example":"C"},"threshold_value":{"type":"string","description":"Degree day threshold","example":"18"},"timezone":{"type":"string","description":"Local IANA time zone","example":"America/New_York"}}},"EnergyObsSeries":{"type":"object","properties":{"cdd":{"type":"number","description":"Cooling degree days","example":10.0},"clouds":{"type":"integer","description":"Average cloud cover (%)","example":42},"date":{"type":"string","description":"Date","example":"2018-06-01"},"dewpt":{"type":"number","description":"Average dew point temperature - Default (C)","example":12.0},"hdd":{"type":"number","description":"Heating degree days","example":120.0},"precip":{"type":"number","description":"Total precipitation in period - Default (mm)","example":2.0},"rh":{"type":"integer","description":"Average Relative humidity (%)","example":75},"snow":{"type":"number","description":"Total snowfall in period - Default (mm)","example":10.0},"sun_hours":{"type":"number","description":"Average number of daily sun hours - # hours where Solar GHI > 1000 W/m^2","example":4.5},"t_dhi":{"type":"number","description":"Total diffuse horizontal solar irradiance (W/m^2)","example":450.0},"t_dni":{"type":"number","description":"Total direct normal solar irradiance (W/m^2)","example":1200.0},"t_ghi":{"type":"number","description":"Total global horizontal solar irradiance (W/m^2)","example":3000.0},"temp":{"type":"number","description":"Average temperature - Default (C)","example":13.85},"wind_dir":{"type":"integer","description":"Average wind direction (Degrees)","example":125},"wind_speed":{"type":"number","description":"Average wind speed - Default (m/s)","example":5.85}}},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"Forecast":{"type":"object","properties":{"app_max_temp":{"type":"number","description":"Apparent Maximum daily Temperature - default (C)","example":4.0},"app_min_temp":{"type":"number","description":"Apparent Minimum daily Temperature - default (C)","example":-2.0},"clouds":{"type":"integer","description":"Cloud cover as a percentage (%)","example":100},"datetime":{"type":"string","description":"Date in format \"YYYY-MM-DD:HH\". All datetime is in (UTC)","example":"2019-03-04:17"},"dewpt":{"type":"number","description":"Dewpoint (Average) - default (C)","example":1.0},"max_dhi":{"type":"number","description":"[Deprecated] Max direct component of solar insolation (W/m^2)","example":655.0},"max_temp":{"type":"number","description":"Maximum daily Temperature - default (C)","example":1.5},"min_temp":{"type":"number","description":"Minimum daily Temperature - default (C)","example":-1.23},"moon_phase":{"type":"number","description":"Moon phase","example":0.87},"moonrise_ts":{"type":"integer","description":"Moonrise unix timestamp","example":1530331260},"moonset_ts":{"type":"integer","description":"Moonset unix timestamp","example":1530331260},"pod":{"type":"string","description":"Part of the day (d = day, n = night)","example":"n"},"pop":{"type":"number","description":"Chance of Precipitation as a percentage (%)","example":75.0},"precip":{"type":"number","description":"Accumulated precipitation since last forecast point - default (mm)","example":1.1},"pres":{"type":"number","description":"Pressure (mb)","example":1005.0},"rh":{"type":"integer","description":"Relative Humidity as a percentage (%)","example":95},"slp":{"type":"number","description":"Mean Sea level pressure (mb)","example":1012.89},"snow":{"type":"number","description":"Accumulated snowfall since last forecast point - default (mm)","example":10.45},"snow_depth":{"type":"number","description":"Snow Depth - default (mm)","example":45.0},"sunrise_ts":{"type":"integer","description":"Sunrise unix timestamp","example":1530331260},"sunset_ts":{"type":"integer","description":"Sunset unix timestamp","example":1530331260},"temp":{"type":"number","description":"Temperature (Average) - default (C)","example":1.0},"timestamp_local":{"type":"string","description":"Timestamp in local time","example":"2019-03-04T12:00:00"},"timestamp_utc":{"type":"string","description":"Timestamp UTC","example":"2019-03-04T17:00:00"},"ts":{"type":"number","description":"Unix Timestamp","example":1551718800},"uv":{"type":"number","description":"UV Index","example":6.5},"vis":{"type":"number","description":"Average Visibility default (KM)","example":3.0},"weather":{"type":"object","properties":{"code":{"type":"string","description":"Weather Condition code","example":"601"},"description":{"type":"string","description":"Weather Condition description","example":"Snow"},"icon":{"type":"string","description":"Icon code for forecast image display","example":"s02n"}}},"wind_cdir":{"type":"string","description":"Cardinal wind direction","example":"ENE"},"wind_cdir_full":{"type":"string","description":"Cardinal wind direction (text)","example":"East-North-East"},"wind_dir":{"type":"integer","description":"Wind direction","example":105},"wind_spd":{"type":"number","description":"Wind Speed (default m/s)","example":13.85}}},"ForecastDay":{"type":"object","properties":{"city_name":{"type":"string","description":"City Name","example":"Raleigh"},"country_code":{"type":"string","description":"Country Abbreviation","example":"US"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Forecast"}},"lat":{"type":"string","description":"Latitude","example":"38.25"},"lon":{"type":"string","description":"Longitude","example":"-78.00"},"state_code":{"type":"string","description":"State Abbreviation","example":"NC"},"timezone":{"type":"string","description":"Local IANA time zone","example":"America/New_York"}}},"ForecastHour":{"type":"object","properties":{"app_temp":{"type":"number","description":"Apparent Temperature - Default (C)","example":4.5},"clouds":{"type":"integer","description":"Cloud cover as a percentage (%)","example":100},"datetime":{"type":"string","description":"Date in format \"YYYY-MM-DD:HH\". All datetime is in (UTC)","example":"2019-03-04:17"},"dewpt":{"type":"number","description":"Dewpoint - Default (C)","example":-4.0},"dhi":{"type":"number","description":"Diffuse normal solar irradiance (W/m^2)","example":200.0},"dni":{"type":"number","description":"Direct normal solar irradiance (W/m^2)","example":400.0},"ghi":{"type":"number","description":"Global horizontal solar irradiance (W/m^2)","example":1000.0},"pod":{"type":"string","description":"Part of day (d = day, n = night)","example":"d"},"pop":{"type":"number","description":"Chance of Precipitation as a percentage (%)","example":75.0},"precip":{"type":"number","description":"Accumulated precipitation since last forecast point. Default (mm)","example":1.1},"pres":{"type":"number","description":"Pressure (mb)","example":1005.0},"rh":{"type":"integer","description":"Relative Humidity as a percentage (%)","example":95},"slp":{"type":"number","description":"Mean Sea level pressure (mb)","example":1012.89},"snow":{"type":"number","description":"Accumulated snowfall since last forecast point - Default (mm)","example":10.45},"snow6h":{"type":"number","description":"6 hour accumulated snowfall. Default (mm)","example":140.87},"snow_depth":{"type":"number","description":"Snow depth - Default (mm)","example":45.0},"solar_rad":{"type":"number","description":"Estimated solar radiation (W/m^2)","example":300.0},"temp":{"type":"number","description":"Temperature - Default (C)","example":-1.5},"timestamp_local":{"type":"string","description":"Timestamp in local time","example":"2019-03-04T12:00:00"},"timestamp_utc":{"type":"string","description":"Timestamp UTC","example":"2019-03-04T17:00:00"},"ts":{"type":"number","description":"Unix Timestamp","example":1551718800},"uv":{"type":"number","description":"UV Index","example":6.5},"vis":{"type":"number","description":"Visibility - Default (KM)","example":1.0},"weather":{"type":"object","properties":{"code":{"type":"string","description":"Weather Condition code","example":"601"},"description":{"type":"string","description":"Weather Condition description","example":"Snow"},"icon":{"type":"string","description":"Icon code for forecast image display","example":"s02d"}}},"wind_cdir":{"type":"string","description":"Cardinal wind direction","example":"ENE"},"wind_cdir_full":{"type":"string","description":"Cardinal wind direction (text)","example":"East-North-East"},"wind_dir":{"type":"integer","description":"Wind direction","example":105},"wind_spd":{"type":"number","description":"Wind Speed - Default (m/s)","example":13.85}}},"ForecastHourly":{"type":"object","properties":{"city_name":{"type":"string","description":"City Name","example":"Raleigh"},"country_code":{"type":"string","description":"Country Abbreviation","example":"US"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ForecastHour"}},"lat":{"type":"string","description":"Latitude","example":"38.25"},"lon":{"type":"string","description":"Longitude","example":"-78.00"},"state_code":{"type":"string","description":"State Abbreviation","example":"NC"},"timezone":{"type":"string","description":"Local IANA time zone","example":"America/New_York"}}},"GeoIPObj":{"type":"object","properties":{"area_code":{"type":"string","description":"Area Code","example":"919"},"charset":{"type":"string","description":"Character encoding","example":"1"},"city":{"type":"string","description":"City Name","example":"Raleigh"},"continent_code":{"type":"string","description":"Country Abbreviation","example":"US"},"country_code":{"type":"string","description":"Country Code (Short)","example":"US"},"country_code3":{"type":"string","description":"Country Code (Long)","example":"USA"},"dma_code":{"type":"string","description":"Longitude","example":"560"},"ip":{"type":"string","description":"IP Address","example":"192.168.1.102"},"latitude":{"type":"string","description":"State Abbreviation","example":"35.811"},"longitude":{"type":"string","description":"City Name","example":"-78.64"},"metro_code":{"type":"string","description":"Longitude","example":"560"},"offset":{"type":"string","description":"UTC Offset (deprecated)","example":"-4"},"organization":{"type":"string","description":"Organization Name","example":"AS11426 Time Warner Cable Internet LLC"},"postal_code":{"type":"string","description":"Postal Code","example":"27601"},"region":{"type":"string","description":"Latitude","example":"NC"},"timezone":{"type":"string","description":"Local IANA time zone","example":"America/New_York"}}},"History":{"type":"object","properties":{"city_name":{"type":"string","description":"City name (Closest)","example":"Seattle"},"country_code":{"type":"string","description":"Country abbreviation","example":"US"},"data":{"type":"array","items":{"$ref":"#/components/schemas/HistoryObj"}},"lat":{"type":"string","description":"Latitude","example":"47.61"},"lon":{"type":"string","description":"Longitude","example":"-122.33"},"sources":{"type":"array","description":"Weather stations used in response","items":{"type":"string","example":"12345-89083"}},"state_code":{"type":"string","description":"State abbreviation","example":"WA"},"timezone":{"type":"string","description":"Local IANA time zone","example":"America/New_York"}}},"HistoryDay":{"type":"object","properties":{"city_name":{"type":"string","description":"City name (Closest)","example":"Seattle"},"country_code":{"type":"string","description":"Country abbreviation","example":"US"},"data":{"type":"array","items":{"$ref":"#/components/schemas/HistoryDayObj"}},"lat":{"type":"string","description":"Latitude","example":"47.61"},"lon":{"type":"string","description":"Longitude","
[...]
