{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CustomerInsightsManagementClient",
    "description" : "The Azure Customer Insights management API provides a RESTful set of web services that interact with Azure Customer Insights service to manage your resources. The API has entities that capture the relationship between an end user and the Azure Customer Insights service.",
    "version" : "2017-04-26"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.CustomerInsights/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available Customer Insights REST API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CustomerInsights/hubs" : {
      "get" : {
        "tags" : [ "Hubs" ],
        "description" : "Gets all hubs in the specified subscription.",
        "operationId" : "Hubs_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get all the hubs in the subscription.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs" : {
      "get" : {
        "tags" : [ "Hubs" ],
        "description" : "Gets all the hubs in a resource group.",
        "operationId" : "Hubs_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get all the hubs in the resource group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}" : {
      "get" : {
        "tags" : [ "Hubs" ],
        "description" : "Gets information about the specified hub.",
        "operationId" : "Hubs_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the hub.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Hub"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Hubs" ],
        "description" : "Creates a hub, or updates an existing hub.",
        "operationId" : "Hubs_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the Hub.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][a-zA-Z0-9]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the CreateOrUpdate Hub operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Hub"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. An existing hub is updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Hub"
                }
              }
            }
          },
          "201" : {
            "description" : "Created. A new hub is created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Hub"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Hubs" ],
        "description" : "Deletes the specified hub.",
        "operationId" : "Hubs_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The hub is deleted."
          },
          "202" : {
            "description" : "Accepted. The delete operation is accepted."
          },
          "204" : {
            "description" : "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        }
      },
      "patch" : {
        "tags" : [ "Hubs" ],
        "description" : "Updates a Hub.",
        "operationId" : "Hubs_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the Hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Update Hub operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Hub"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The hub is updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Hub"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies" : {
      "get" : {
        "tags" : [ "AuthorizationPolicies" ],
        "description" : "Gets all the authorization policies in a specified hub.",
        "operationId" : "AuthorizationPolicies_ListByHub",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get all the authorization policies in the hub.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationPolicyListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}" : {
      "get" : {
        "tags" : [ "AuthorizationPolicies" ],
        "description" : "Gets an authorization policy in the hub.",
        "operationId" : "AuthorizationPolicies_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationPolicyName",
          "in" : "path",
          "description" : "The name of the policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the authorization policy.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationPolicyResourceFormat"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "AuthorizationPolicies" ],
        "description" : "Creates an authorization policy or updates an existing authorization policy.",
        "operationId" : "AuthorizationPolicies_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationPolicyName",
          "in" : "path",
          "description" : "The name of the policy.",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9]$|^[A-Za-z0-9][\\w-\\.]*[A-Za-z0-9]$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the CreateOrUpdate authorization policy operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthorizationPolicyResourceFormat"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully update an existing authorization policy.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationPolicyResourceFormat"
                }
              }
            }
          },
          "201" : {
            "description" : "Created. A new authorization policy is created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationPolicyResourceFormat"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}/regeneratePrimaryKey" : {
      "post" : {
        "tags" : [ "AuthorizationPolicies" ],
        "description" : "Regenerates the primary policy key of the specified authorization policy.",
        "operationId" : "AuthorizationPolicies_RegeneratePrimaryKey",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationPolicyName",
          "in" : "path",
          "description" : "The name of the policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The primary key of the authorization policy is regenerated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationPolicy"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}/regenerateSecondaryKey" : {
      "post" : {
        "tags" : [ "AuthorizationPolicies" ],
        "description" : "Regenerates the secondary policy key of the specified authorization policy.",
        "operationId" : "AuthorizationPolicies_RegenerateSecondaryKey",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationPolicyName",
          "in" : "path",
          "description" : "The name of the policy.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The secondary key of the authorization policy is regenerated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationPolicy"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors" : {
      "get" : {
        "tags" : [ "Connectors" ],
        "description" : "Gets all the connectors in the specified hub.",
        "operationId" : "Connectors_ListByHub",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get all the connectors in the hub.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}" : {
      "get" : {
        "tags" : [ "Connectors" ],
        "description" : "Gets a connector in the hub.",
        "operationId" : "Connectors_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectorName",
          "in" : "path",
          "description" : "The name of the connector.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the connector.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResourceFormat"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Connectors" ],
        "description" : "Creates a connector or updates an existing connector in the hub.",
        "operationId" : "Connectors_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectorName",
          "in" : "path",
          "description" : "The name of the connector.",
          "required" : true,
          "schema" : {
            "maxLength" : 128,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][a-zA-Z0-9_]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the CreateOrUpdate Connector operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectorResourceFormat"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully created the connector.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResourceFormat"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted. The create connector operation is accepted."
          }
        }
      },
      "delete" : {
        "tags" : [ "Connectors" ],
        "description" : "Deletes a connector in the hub.",
        "operationId" : "Connectors_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectorName",
          "in" : "path",
          "description" : "The name of the connector.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The connector is deleted."
          },
          "202" : {
            "description" : "Accepted. The delete operation is accepted."
          },
          "204" : {
            "description" : "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}/mappings" : {
      "get" : {
        "tags" : [ "ConnectorMappings" ],
        "description" : "Gets all the connector mappings in the specified connector.",
        "operationId" : "ConnectorMappings_ListByConnector",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectorName",
          "in" : "path",
          "description" : "The name of the connector.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get all the connector mappings in the connector.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorMappingListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}/mappings/{mappingName}" : {
      "get" : {
        "tags" : [ "ConnectorMappings" ],
        "description" : "Gets a connector mapping in the connector.",
        "operationId" : "ConnectorMappings_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectorName",
          "in" : "path",
          "description" : "The name of the connector.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mappingName",
          "in" : "path",
          "description" : "The name of the connector mapping.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the connector mapping.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorMappingResourceFormat"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ConnectorMappings" ],
        "description" : "Creates a connector mapping or updates an existing connector mapping in the connector.",
        "operationId" : "ConnectorMappings_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectorName",
          "in" : "path",
          "description" : "The name of the connector.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mappingName",
          "in" : "path",
          "description" : "The name of the connector mapping.",
          "required" : true,
          "schema" : {
            "maxLength" : 128,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][a-zA-Z0-9_]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the CreateOrUpdate Connector Mapping operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectorMappingResourceFormat"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully created the connector mapping.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorMappingResourceFormat"
                }
              }
            }
          },
          "201" : {
            "description" : "Created. A new connector mapping is created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorMappingResourceFormat"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ConnectorMappings" ],
        "description" : "Deletes a connector mapping in the connector.",
        "operationId" : "ConnectorMappings_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectorName",
          "in" : "path",
          "description" : "The name of the connector.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mappingName",
          "in" : "path",
          "description" : "The name of the connector mapping.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The connector mapping is deleted."
          },
          "204" : {
            "description" : "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/images/getDataImageUploadUrl" : {
      "post" : {
        "tags" : [ "Images" ],
        "description" : "Gets data image upload URL.",
        "operationId" : "Images_GetUploadUrlForData",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the GetUploadUrlForData operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetImageUploadUrlInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the image upload URL for data.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/images/getEntityTypeImageUploadUrl" : {
      "post" : {
        "tags" : [ "Images" ],
        "description" : "Gets entity type (profile or interaction) image upload URL.",
        "operationId" : "Images_GetUploadUrlForEntityType",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the GetUploadUrlForEntityType operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetImageUploadUrlInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the image upload URL for entity type.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions" : {
      "get" : {
        "tags" : [ "Interactions" ],
        "description" : "Gets all interactions in the hub.",
        "operationId" : "Interactions_ListByHub",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locale-code",
          "in" : "query",
          "description" : "Locale of interaction to retrieve, default is en-us.",
          "schema" : {
            "type" : "string",
            "default" : "en-us"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get all the interactions in the hub.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InteractionListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions/{interactionName}" : {
      "get" : {
        "tags" : [ "Interactions" ],
        "description" : "Gets information about the specified interaction.",
        "operationId" : "Interactions_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "interactionName",
          "in" : "path",
          "description" : "The name of the interaction.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locale-code",
          "in" : "query",
          "description" : "Locale of interaction to retrieve, default is en-us.",
          "schema" : {
            "type" : "string",
            "default" : "en-us"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the interaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InteractionResourceFormat"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Interactions" ],
        "description" : "Creates an interaction or updates an existing interaction within a hub.",
        "operationId" : "Interactions_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "interactionName",
          "in" : "path",
          "description" : "The name of the interaction.",
          "required" : true,
          "schema" : {
            "maxLength" : 128,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][a-zA-Z0-9_]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the CreateOrUpdate Interaction operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InteractionResourceFormat"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully created the interaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InteractionResourceFormat"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted. The create interaction operation is accepted."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions/{interactionName}/suggestRelationshipLinks" : {
      "post" : {
        "tags" : [ "Interactions" ],
        "description" : "Suggests relationships to create relationship links.",
        "operationId" : "Interactions_SuggestRelationshipLinks",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "interactionName",
          "in" : "path",
          "description" : "The name of the interaction.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get suggested Relationship Links.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuggestRelationshipLinksResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi" : {
      "get" : {
        "tags" : [ "Kpi" ],
        "description" : "Gets all the KPIs in the specified hub.",
        "operationId" : "Kpi_ListByHub",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get all the KPIs in the hub.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi/{kpiName}" : {
      "get" : {
        "tags" : [ "Kpi" ],
        "description" : "Gets a KPI in the hub.",
        "operationId" : "Kpi_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kpiName",
          "in" : "path",
          "description" : "The name of the KPI.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the KPI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiResourceFormat"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Kpi" ],
        "description" : "Creates a KPI or updates an existing KPI in the hub.",
        "operationId" : "Kpi_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kpiName",
          "in" : "path",
          "description" : "The name of the KPI.",
          "required" : true,
          "schema" : {
            "maxLength" : 512,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][a-zA-Z0-9_]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/update KPI operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KpiResourceFormat"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully created the KPI.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiResourceFormat"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted. The create KPI operation is accepted."
          }
        }
      },
      "delete" : {
        "tags" : [ "Kpi" ],
        "description" : "Deletes a KPI in the hub.",
        "operationId" : "Kpi_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kpiName",
          "in" : "path",
          "description" : "The name of the KPI.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The KPI is deleted."
          },
          "202" : {
            "description" : "Accepted. The delete operation is accepted."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi/{kpiName}/reprocess" : {
      "post" : {
        "tags" : [ "Kpi" ],
        "description" : "Reprocesses the Kpi values of the specified KPI.",
        "operationId" : "Kpi_Reprocess",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kpiName",
          "in" : "path",
          "description" : "The name of the KPI.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted. Reprocessing Kpi Values operation is accepted."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/links" : {
      "get" : {
        "tags" : [ "Links" ],
        "description" : "Gets all the links in the specified hub.",
        "operationId" : "Links_ListByHub",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get all the links in the hub.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LinkListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/links/{linkName}" : {
      "get" : {
        "tags" : [ "Links" ],
        "description" : "Gets a link in the hub.",
        "operationId" : "Links_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkName",
          "in" : "path",
          "description" : "The name of the link.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the link.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LinkResourceFormat"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Links" ],
        "description" : "Creates a link or updates an existing link in the hub.",
        "operationId" : "Links_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkName",
          "in" : "path",
          "description" : "The name of the link.",
          "required" : true,
          "schema" : {
            "maxLength" : 512,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][a-zA-Z0-9_]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the CreateOrUpdate Link operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LinkResourceFormat"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully created the link.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LinkResourceFormat"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted. The create link operation is accepted."
          }
        }
      },
      "delete" : {
        "tags" : [ "Links" ],
        "description" : "Deletes a link in the hub.",
        "operationId" : "Links_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkName",
          "in" : "path",
          "description" : "The name of the link.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The link is deleted."
          },
          "202" : {
            "description" : "Accepted. The delete operation is accepted."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions" : {
      "get" : {
        "tags" : [ "Predictions" ],
        "description" : "Gets all the predictions in the specified hub.",
        "operationId" : "Predictions_ListByHub",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get all the predictions in the hub.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PredictionListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions/{predictionName}" : {
      "get" : {
        "tags" : [ "Predictions" ],
        "description" : "Gets a Prediction in the hub.",
        "operationId" : "Predictions_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "predictionName",
          "in" : "path",
          "description" : "The name of the Prediction.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the Prediction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PredictionResourceFormat"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Predictions" ],
        "description" : "Creates a Prediction or updates an existing Prediction in the hub.",
        "operationId" : "Predictions_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "predictionName",
          "in" : "path",
          "description" : "The name of the Prediction.",
          "required" : true,
          "schema" : {
            "maxLength" : 512,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/update Prediction operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PredictionResourceFormat"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully created the Prediction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PredictionResourceFormat"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted. The create Prediction operation is accepted."
          }
        }
      },
      "delete" : {
        "tags" : [ "Predictions" ],
        "description" : "Deletes a Prediction in the hub.",
        "operationId" : "Predictions_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "predictionName",
          "in" : "path",
          "description" : "The name of the Prediction.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The Prediction is deleted."
          },
          "202" : {
            "description" : "Accepted. The delete operation is accepted."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions/{predictionName}/getModelStatus" : {
      "post" : {
        "tags" : [ "Predictions" ],
        "description" : "Gets model status of the prediction.",
        "operationId" : "Predictions_GetModelStatus",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "predictionName",
          "in" : "path",
          "description" : "The name of the Prediction.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the model status.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PredictionModelStatus"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions/{predictionName}/getTrainingResults" : {
      "post" : {
        "tags" : [ "Predictions" ],
        "description" : "Gets training results.",
        "operationId" : "Predictions_GetTrainingResults",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "predictionName",
          "in" : "path",
          "description" : "The name of the Prediction.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the training results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PredictionTrainingResults"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions/{predictionName}/modelStatus" : {
      "post" : {
        "tags" : [ "Predictions" ],
        "description" : "Creates or updates the model status of prediction.",
        "operationId" : "Predictions_ModelStatus",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "predictionName",
          "in" : "path",
          "description" : "The name of the Prediction.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/update prediction model status operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PredictionModelStatus"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully created or updated the prediction model status."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/profiles" : {
      "get" : {
        "tags" : [ "Profiles" ],
        "description" : "Gets all profile in the hub.",
        "operationId" : "Profiles_ListByHub",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locale-code",
          "in" : "query",
          "description" : "Locale of profile to retrieve, default is en-us.",
          "schema" : {
            "type" : "string",
            "default" : "en-us"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get all the profiles in the hub.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfileListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/profiles/{profileName}" : {
      "get" : {
        "tags" : [ "Profiles" ],
        "description" : "Gets information about the specified profile.",
        "operationId" : "Profiles_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "profileName",
          "in" : "path",
          "description" : "The name of the profile.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locale-code",
          "in" : "query",
          "description" : "Locale of profile to retrieve, default is en-us.",
          "schema" : {
            "type" : "string",
            "default" : "en-us"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the profile.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfileResourceFormat"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Profiles" ],
        "description" : "Creates a profile within a Hub, or updates an existing profile.",
        "operationId" : "Profiles_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "profileName",
          "in" : "path",
          "description" : "The name of the profile.",
          "required" : true,
          "schema" : {
            "maxLength" : 128,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][a-zA-Z0-9_]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create/delete Profile type operation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProfileResourceFormat"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully created the profile.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfileResourceFormat"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted. The create profile operation is accepted."
          }
        }
      },
      "delete" : {
        "tags" : [ "Profiles" ],
        "description" : "Deletes a profile within a hub",
        "operationId" : "Profiles_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "profileName",
          "in" : "path",
          "description" : "The name of the profile.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locale-code",
          "in" : "query",
          "description" : "Locale of profile to retrieve, default is en-us.",
          "schema" : {
            "type" : "string",
            "default" : "en-us"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The profile is deleted."
          },
          "202" : {
            "description" : "Accepted. The delete operation is accepted."
          },
          "204" : {
            "description" : "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/profiles/{profileName}/getEnrichingKpis" : {
      "post" : {
        "tags" : [ "Profiles" ],
        "description" : "Gets the KPIs that enrich the profile Type identified by the supplied name. Enrichment happens through participants of the Interaction on an Interaction KPI and through Relationships for Profile KPIs.",
        "operationId" : "Profiles_GetEnrichingKpis",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "profileName",
          "in" : "path",
          "description" : "The name of the profile.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the enriching KPIs.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/KpiDefinition"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationshipLinks" : {
      "get" : {
        "tags" : [ "RelationshipLinks" ],
        "description" : "Gets all relationship links in the hub.",
        "operationId" : "RelationshipLinks_ListByHub",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get all the relationship links in the hub.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelationshipLinkListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationshipLinks/{relationshipLinkName}" : {
      "get" : {
        "tags" : [ "RelationshipLinks" ],
        "description" : "Gets information about the specified relationship Link.",
        "operationId" : "RelationshipLinks_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "relationshipLinkName",
          "in" : "path",
          "description" : "The name of the relationship link.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Successfully get the relationship link.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelationshipLinkResourceFormat"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "RelationshipLinks" ],
        "description" : "Creates a relationship link or updates an existing relationship link within a hub.",
        "operationId" : "RelationshipLinks_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hubName",
          "in" : "path",
          "description" : "The name of the hub.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "relationshipLinkName",
          "in" : "path",
          "description" : "The name of the relationship link.",
          "required" : true,
          "schema" : {
            "maxLength" : 512,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z][a-zA-Z0-9_]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the CreateOrUpdate relationship link operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RelationshipLinkResourceFormat"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. Successfully created the relationship link.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelationshipLinkResourceFormat"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted. The create relationship operation is accepted."
          }
        }
      },
      "delete" : {
        "tags" : [ "RelationshipLinks" ],
        "description" : "Deletes a relationship link within a hub.",
        "operationId" : "RelationshipLinks_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
[...]
