{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MonitorManagementClient",
    "version" : "2018-01-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/{resourceUri}/providers/microsoft.insights/metricDefinitions" : {
      "get" : {
        "tags" : [ "MetricDefinitions" ],
        "description" : "Lists the metric definitions for the resource.",
        "operationId" : "MetricDefinitions_List",
        "parameters" : [ {
          "name" : "resourceUri",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metricnamespace",
          "in" : "query",
          "description" : "Metric namespace to query metric definitions for.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to get the list of metric definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricDefinitionCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AggregationType" : {
        "type" : "string",
        "description" : "the aggregation type of the metric.",
        "enum" : [ "None", "Average", "Count", "Minimum", "Maximum", "Total" ]
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Describes the format of Error response."
      },
      "LocalizableString" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "localizedValue" : {
            "type" : "string",
            "description" : "the locale specific value."
          },
          "value" : {
            "type" : "string",
            "description" : "the invariant value."
          }
        },
        "description" : "The localizable string class."
      },
      "MetricAvailability" : {
        "type" : "object",
        "properties" : {
          "retention" : {
            "type" : "string",
            "description" : "the retention period for the metric at the specified timegrain.  Expressed as a duration 'PT1M', 'P1D', etc.",
            "format" : "duration"
          },
          "timeGrain" : {
            "type" : "string",
            "description" : "the time grain specifies the aggregation interval for the metric. Expressed as a duration 'PT1M', 'P1D', etc.",
            "format" : "duration"
          }
        },
        "description" : "Metric availability specifies the time grain (aggregation interval or frequency) and the retention period for that time grain."
      },
      "MetricDefinition" : {
        "type" : "object",
        "properties" : {
          "dimensions" : {
            "type" : "array",
            "description" : "the name and the display name of the dimension, i.e. it is a localizable string.",
            "items" : {
              "$ref" : "#/components/schemas/LocalizableString"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "the resource identifier of the metric definition."
          },
          "isDimensionRequired" : {
            "type" : "boolean",
            "description" : "Flag to indicate whether the dimension is required."
          },
          "metricAvailabilities" : {
            "type" : "array",
            "description" : "the collection of what aggregation intervals are available to be queried.",
            "items" : {
              "$ref" : "#/components/schemas/MetricAvailability"
            }
          },
          "name" : {
            "$ref" : "#/components/schemas/LocalizableString"
          },
          "namespace" : {
            "type" : "string",
            "description" : "the namespace the metric belongs to."
          },
          "primaryAggregationType" : {
            "$ref" : "#/components/schemas/AggregationType"
          },
          "resourceId" : {
            "type" : "string",
            "description" : "the resource identifier of the resource that emitted the metric."
          },
          "supportedAggregationTypes" : {
            "type" : "array",
            "description" : "the collection of what aggregation types are supported.",
            "items" : {
              "$ref" : "#/components/schemas/AggregationType"
            }
          },
          "unit" : {
            "$ref" : "#/components/schemas/Unit"
          }
        },
        "description" : "Metric definition class specifies the metadata for a metric."
      },
      "MetricDefinitionCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "the values for the metric definitions.",
            "items" : {
              "$ref" : "#/components/schemas/MetricDefinition"
            }
          }
        },
        "description" : "Represents collection of metric definitions."
      },
      "Unit" : {
        "type" : "string",
        "description" : "the unit of the metric.",
        "enum" : [ "Count", "Bytes", "Seconds", "CountPerSecond", "BytesPerSecond", "Percent", "MilliSeconds", "ByteSeconds", "Unspecified", "Cores", "MilliCores", "NanoCores", "BitsPerSecond" ]
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "MetricNamespaceParameter" : {
        "name" : "metricnamespace",
        "in" : "query",
        "description" : "Metric namespace to query metric definitions for.",
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceUriParameter" : {
        "name" : "resourceUri",
        "in" : "path",
        "description" : "The identifier of the resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}