{"openapi":"3.0.1","info":{"title":"Jirafe Events","description":"API endpoins for sending Jirafe events","termsOfService":"https://jirafe.com/policies/terms/","contact":{"email":"support@jirafe.com"},"version":"2.0.0"},"externalDocs":{"url":"https://docs.jirafe.com/api/"},"servers":[{"url":"https://event.jirafe.com/v2"}],"tags":[{"name":"batch","description":"Batch events"},{"name":"cart","description":"Cart events"},{"name":"category","description":"Category events"},{"name":"customer","description":"Customer events"},{"name":"order","description":"Order events"},{"name":"product","description":"Product events"}],"paths":{"/{siteId}/batch":{"post":{"tags":["batch"],"summary":"Send a batch for the given site","operationId":"postBatch","parameters":[{"name":"siteId","in":"path","description":"ID site to send the event","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"batch json of events","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Batch"}}},"required":true},"responses":{"200":{"description":"No response was specified"},"400":{"description":"validation"},"403":{"description":"authorization"},"503":{"description":"unknown"}},"security":[{"oauth2_accessCode":["write"]},{"oauth2_implicit":["write"]}]}},"/{siteId}/cart":{"post":{"tags":["cart"],"summary":"Send a cart for the given site","operationId":"postCart","parameters":[{"name":"siteId","in":"path","description":"ID site to send the event","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"cart json for the event","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Cart"}}},"required":true},"responses":{"200":{"description":"No response was specified"},"400":{"description":"validation"},"403":{"description":"authorization"},"503":{"description":"unknown"}},"security":[{"oauth2_accessCode":["write"]},{"oauth2_implicit":["write"]}]}},"/{siteId}/category":{"post":{"tags":["category"],"summary":"Send a category for the given site","operationId":"postCategory","parameters":[{"name":"siteId","in":"path","description":"ID site to send the event","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"category json for the event","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Category"}}},"required":true},"responses":{"200":{"description":"No response was specified"},"400":{"description":"validation"},"403":{"description":"authorization"},"503":{"description":"unknown"}},"security":[{"oauth2_accessCode":["write"]},{"oauth2_implicit":["write"]}]}},"/{siteId}/customer":{"post":{"tags":["customer"],"summary":"Send a customer for the given site","operationId":"postCustomer","parameters":[{"name":"siteId","in":"path","description":"ID site to send the event","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"customer json for the event","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Customer"}}},"required":true},"responses":{"200":{"description":"No response was specified"},"400":{"description":"validation"},"403":{"description":"authorization"},"503":{"description":"unknown"}},"security":[{"oauth2_accessCode":["write"]},{"oauth2_implicit":["write"]}]}},"/{siteId}/order":{"post":{"tags":["order"],"summary":"Send a order for the given site","operationId":"postOrderCancelled","parameters":[{"name":"siteId","in":"path","description":"ID site to send the event","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"order json for the event","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderCancelled"}}},"required":true},"responses":{"200":{"description":"No response was specified"},"400":{"description":"validation"},"403":{"description":"authorization"},"503":{"description":"unknown"}},"security":[{"oauth2_accessCode":["write"]},{"oauth2_implicit":["write"]}]}},"/{siteId}/product":{"post":{"tags":["product"],"summary":"Send a product for the given site","operationId":"postProduct","parameters":[{"name":"siteId","in":"path","description":"ID site to send the event","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"product json for the event","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Product"}}},"required":true},"responses":{"200":{"description":"No response was specified"},"400":{"description":"validation"},"403":{"description":"authorization"},"503":{"description":"unknown"}},"security":[{"oauth2_accessCode":["write"]},{"oauth2_implicit":["write"]}]}}},"components":{"schemas":{"Address":{"type":"object"},"Attribute":{"required":["id","name","value"],"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"value":{"type":"string"}}},"BaseProduct":{"type":"object","properties":{"code":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"}}},"Batch":{"type":"object","properties":{"cart":{"type":"array","items":{"$ref":"#/components/schemas/Cart"}},"category":{"type":"array","items":{"$ref":"#/components/schemas/Category"}},"customer":{"type":"array","items":{"$ref":"#/components/schemas/Customer"}},"employee":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}},"order":{"type":"array","items":{"$ref":"#/components/schemas/Order"}},"product":{"type":"array","items":{"$ref":"#/components/schemas/Product"}}}},"Cart":{"required":["change_date","create_date","currency","customer","id","items","subtotal","total","total_discounts","total_payment_cost","total_shipping","total_tax"],"type":"object","properties":{"cart_id":{"type":"string"},"change_date":{"type":"string","format":"date-time"},"cookies":{"type":"object"},"create_date":{"type":"string","format":"date-time"},"currency":{"type":"string"},"customer":{"$ref":"#/components/schemas/Customer"},"id":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/CartItem"}},"previous_items":{"type":"array","items":{"$ref":"#/components/schemas/CartItem"}},"subtotal":{"type":"number"},"total":{"maximum":9007199254740992,"minimum":0,"type":"number"},"total_discounts":{"maximum":9007199254740992,"minimum":0,"type":"number"},"total_payment_cost":{"maximum":9007199254740992,"minimum":0,"type":"number"},"total_shipping":{"maximum":9007199254740992,"minimum":0,"type":"number"},"total_tax":{"maximum":9007199254740992,"minimum":0,"type":"number"},"visit":{"$ref":"#/components/schemas/Visit"}}},"CartItem":{"required":["cart_item_number","change_date","create_date","discount_price","id","price","product","quantity"],"type":"object","properties":{"cart_item_number":{"type":"string"},"change_date":{"type":"string","format":"date-time"},"create_date":{"type":"string","format":"date-time"},"discount_price":{"maximum":9007199254740992,"minimum":0,"type":"number"},"id":{"type":"string"},"price":{"maximum":9007199254740992,"minimum":0,"type":"number"},"product":{"$ref":"#/components/schemas/Product"},"quantity":{"maximum":9007199254740992,"minimum":-9007199254740992,"type":"integer"}}},"Catalog":{"required":["id"],"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"version_id":{"type":"string"}}},"Category":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"Customer":{"required":["change_date","create_date","id"],"type":"object","properties":{"active_flag":{"type":"boolean","default":true},"change_date":{"type":"string","format":"date-time"},"company":{"type":"string"},"cookies":{"type":"object"},"create_date":{"type":"string","format":"date-time"},"department":{"type":"string"},"email":{"type":"string"},"first_name":{"type":"string"},"id":{"type":"string"},"last_name":{"type":"string"},"marketing_opt_in":{"type":"boolean"},"name":{"type":"string"},"phone":{"type":"string"},"position":{"type":"string"}}},"Employee":{"type":"object"},"Image":{"type":"object"},"Order":{"required":["change_date","create_date","currency","customer","items","order_date","order_number","status","subtotal","total","total_discounts","total_payment_cost","total_shipping","total_tax"],"type":"object","properties":{"cart_id":{"type":"string"},"change_date":{"type":"string","format":"date-time"},"create_date":{"type":"string","format":"date-time"},"currency":{"type":"string"},"customer":{"$ref":"#/components/schemas/Customer"},"items":{"type":"array","items":{"$ref":"#/components/schemas/OrderItem"}},"order_date":{"type":"string","format":"date-time"},"order_number":{"type":"string"},"previous_items":{"type":"array","items":{"$ref":"#/components/schemas/OrderItem"}},"status":{"type":"string","default":"accepted","enum":["accepted"]},"subtotal":{"type":"number"},"total":{"type":"number"},"total_discounts":{"type":"number"},"total_payment_cost":{"type":"number"},"total_shipping":{"type":"number"},"total_tax":{"type":"number"}}},"OrderCancelled":{"required":["cancel_date","order_number","status"],"type":"object","properties":{"cancel_date":{"type":"string","format":"date-time"},"order_number":{"type":"string"},"status":{"type":"string","default":"cancelled","enum":["cancelled"]}}},"OrderItem":{"required":["change_date","create_date","discount_price","id","order_item_number","price","product","quantity","status"],"type":"object","properties":{"change_date":{"type":"string","format":"date-time"},"create_date":{"type":"string","format":"date-time"},"discount_price":{"maximum":9007199254740992,"minimum":0,"type":"number"},"id":{"type":"string"},"order_item_number":{"type":"string"},"price":{"maximum":9007199254740992,"minimum":0,"type":"number"},"product":{"$ref":"#/components/schemas/Product"},"quantity":{"maximum":9007199254740992,"minimum":-9007199254740992,"type":"integer"},"status":{"type":"string","enum":["accepted","cancelled"]}}},"ParentCategory":{"required":["id"],"type":"object","properties":{"id":{"type":"string"}}},"Product":{"required":["change_date","code","create_date","id","is_order","is_sku"],"type":"object","properties":{"ancestors":{"type":"array","items":{"type":"string"}},"attributes":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/Attribute"}},"base_product":{"$ref":"#/components/schemas/BaseProduct"},"brand":{"type":"string"},"catalog":{"$ref":"#/components/schemas/Catalog"},"categories":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/Category"}},"change_date":{"type":"string","format":"date-time"},"code":{"type":"string"},"create_date":{"type":"string","format":"date-time"},"id":{"type":"string"},"images":{"type":"array","items":{"$ref":"#/components/schemas/Image"}},"is_order":{"type":"boolean"},"is_sku":{"type":"boolean"},"name":{"type":"string"},"rating":{"type":"number"},"urls":{"$ref":"#/components/schemas/Url"},"vendors":{"type":"array","items":{"$ref":"#/components/schemas/Vendor"}}}},"Url":{"type":"object","properties":{"admin":{"type":"string","format":"uri"},"store":{"type":"string","format":"uri"}}},"Vendor":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"Visit":{"required":["last_pageview_id","pageview_id","visit_id","visitor_id"],"type":"object","properties":{"last_pageview_id":{"type":"string"},"pageview_id":{"type":"string"},"visit_id":{"type":"string"},"visitor_id":{"type":"string"}}}},"securitySchemes":{"oauth2_accessCode":{"type":"oauth2"},"oauth2_implicit":{"type":"oauth2"}}}}