{"openapi":"3.0.1","info":{"title":"Azure Alerts Management Service Resource Provider","description":"APIs for Azure Smart Detector Alert Rules CRUD operations.","version":"2019-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/microsoft.alertsManagement/smartDetectorAlertRules":{"get":{"tags":["SmartDetectorAlertRules"],"description":"List all the existing Smart Detector alert rules within the subscription.","operationId":"SmartDetectorAlertRules_List","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"expandDetector","in":"query","description":"Indicates if Smart Detector should be expanded.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful request to list Smart Detector alert rules.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertRulesList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.alertsManagement/smartDetectorAlertRules":{"get":{"tags":["SmartDetectorAlertRules"],"description":"List all the existing Smart Detector alert rules within the subscription and resource group.","operationId":"SmartDetectorAlertRules_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"expandDetector","in":"query","description":"Indicates if Smart Detector should be expanded.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful request to list Smart Detector alert rules.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertRulesList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.alertsManagement/smartDetectorAlertRules/{alertRuleName}":{"get":{"tags":["SmartDetectorAlertRules"],"description":"Get a specific Smart Detector alert rule.","operationId":"SmartDetectorAlertRules_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"alertRuleName","in":"path","description":"The name of the alert rule.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"expandDetector","in":"query","description":"Indicates if Smart Detector should be expanded.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful request to get Smart Detector alert rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertRule"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["SmartDetectorAlertRules"],"description":"Create or update a Smart Detector alert rule.","operationId":"SmartDetectorAlertRules_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"alertRuleName","in":"path","description":"The name of the alert rule.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertRule"}}},"required":true},"responses":{"200":{"description":"Successful request to update a Smart Detector alert rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertRule"}}}},"201":{"description":"Successful request to create a Smart Detector alert rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertRule"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["SmartDetectorAlertRules"],"description":"Delete an existing Smart Detector alert rule.","operationId":"SmartDetectorAlertRules_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"alertRuleName","in":"path","description":"The name of the alert rule.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request to delete a Smart Detector alert rule."},"204":{"description":"The Smart Detector alert rule does not exist. It may have already been deleted."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["SmartDetectorAlertRules"],"description":"Patch a specific Smart Detector alert rule.","operationId":"SmartDetectorAlertRules_Patch","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"alertRuleName","in":"path","description":"The name of the alert rule.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertRulePatchObject"}}},"required":true},"responses":{"200":{"description":"Successful request to patch Smart Detector alert rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertRule"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ActionGroupsInformation":{"required":["groupIds"],"type":"object","properties":{"customEmailSubject":{"type":"string","description":"An optional custom email subject to use in email notifications."},"customWebhookPayload":{"type":"string","description":"An optional custom web-hook payload to use in web-hook notifications."},"groupIds":{"type":"array","description":"The Action Group resource IDs.","items":{"type":"string"}}},"description":"The Action Groups information, used by the alert rule."},"AlertRule":{"properties":{"properties":{"$ref":"#/components/schemas/AlertRuleProperties"}},"description":"The alert rule information","allOf":[{"$ref":"#/components/schemas/AzureResource"}]},"AlertRulePatchObject":{"type":"object","properties":{"id":{"type":"string","description":"The resource ID.","readOnly":true},"name":{"type":"string","description":"The resource name.","readOnly":true},"properties":{"$ref":"#/components/schemas/AlertRulePatchProperties"},"tags":{"type":"object","description":"The resource tags."},"type":{"type":"string","description":"The resource type.","readOnly":true}},"description":"The alert rule patch information"},"AlertRulePatchProperties":{"type":"object","properties":{"actionGroups":{"$ref":"#/components/schemas/ActionGroupsInformation"},"description":{"type":"string","description":"The alert rule description."},"frequency":{"type":"string","description":"The alert rule frequency in ISO8601 format. The time granularity must be in minutes and minimum value is 5 minutes.","format":"duration"},"severity":{"type":"string","description":"The alert rule severity.","enum":["Sev0","Sev1","Sev2","Sev3","Sev4"]},"state":{"type":"string","description":"The alert rule state.","enum":["Enabled","Disabled"]},"throttling":{"$ref":"#/components/schemas/ThrottlingInformation"}},"description":"The alert rule properties."},"AlertRuleProperties":{"required":["actionGroups","detector","frequency","scope","severity","state"],"type":"object","properties":{"actionGroups":{"$ref":"#/components/schemas/ActionGroupsInformation"},"description":{"type":"string","description":"The alert rule description."},"detector":{"$ref":"#/components/schemas/Detector"},"frequency":{"type":"string","description":"The alert rule frequency in ISO8601 format. The time granularity must be in minutes and minimum value is 5 minutes.","format":"duration"},"scope":{"type":"array","description":"The alert rule resources scope.","items":{"type":"string"}},"severity":{"type":"string","description":"The alert rule severity.","enum":["Sev0","Sev1","Sev2","Sev3","Sev4"]},"state":{"type":"string","description":"The alert rule state.","enum":["Enabled","Disabled"]},"throttling":{"$ref":"#/components/schemas/ThrottlingInformation"}},"description":"The alert rule properties."},"AlertRulesList":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of results."},"value":{"type":"array","description":"List of Smart Detector alert rules.","items":{"$ref":"#/components/schemas/AlertRule"}}},"description":"List of Smart Detector alert rules."},"AzureResource":{"type":"object","properties":{"id":{"type":"string","description":"The resource ID.","readOnly":true},"location":{"type":"string","description":"The resource location.","default":"global"},"name":{"type":"string","description":"The resource name.","readOnly":true},"tags":{"type":"object","description":"The resource tags."},"type":{"type":"string","description":"The resource type.","readOnly":true}},"description":"An Azure resource object"},"Detector":{"required":["id"],"type":"object","properties":{"description":{"type":"string","description":"The Smart Detector description. By default this is not populated, unless it's specified in expandDetector"},"id":{"type":"string","description":"The detector id."},"imagePaths":{"type":"array","description":"The Smart Detector image path. By default this is not populated, unless it's specified in expandDetector","items":{"type":"string"}},"name":{"type":"string","description":"The Smart Detector name. By default this is not populated, unless it's specified in expandDetector"},"parameters":{"type":"object","additionalProperties":{"type":"object"},"description":"The detector's parameters.'"},"supportedResourceTypes":{"type":"array","description":"The Smart Detector supported resource types. By default this is not populated, unless it's specified in expandDetector","items":{"type":"string"}}},"description":"The detector information. By default this is not populated, unless it's specified in expandDetector"},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describe the format of an Error response."},"ThrottlingInformation":{"type":"object","properties":{"duration":{"type":"string","description":"The required duration (in ISO8601 format) to wait before notifying on the alert rule again. The time granularity must be in minutes and minimum value is 0 minutes","format":"duration"}},"description":"Optional throttling information for the alert rule."}},"parameters":{"AlertRuleNameParameter":{"name":"alertRuleName","in":"path","description":"The name of the alert rule.","required":true,"schema":{"type":"string"}},"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"ExpandDetectorParameter":{"name":"expandDetector","in":"query","description":"Indicates if Smart Detector should be expanded.","schema":{"type":"boolean"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}