{"openapi":"3.0.1","info":{"title":"NetworkManagementClient","description":"The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.","version":"2019-07-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Network/bgpServiceCommunities":{"get":{"tags":["BgpServiceCommunities"],"description":"Gets all the available bgp service communities.","operationId":"BgpServiceCommunities_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. The operation returns a list of BgpServiceCommunity resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BgpServiceCommunityListResult"}}}}}}}},"components":{"schemas":{"BGPCommunity":{"type":"object","properties":{"communityName":{"type":"string","description":"The name of the bgp community. e.g. Skype."},"communityPrefixes":{"type":"array","description":"The prefixes that the bgp community contains.","items":{"type":"string"}},"communityValue":{"type":"string","description":"The value of the bgp community. For more information: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing."},"isAuthorizedToUse":{"type":"boolean","description":"Customer is authorized to use bgp community or not."},"serviceGroup":{"type":"string","description":"The service group of the bgp community contains."},"serviceSupportedRegion":{"type":"string","description":"The region which the service support. e.g. For O365, region is Global."}},"description":"Contains bgp community information offered in Service Community resources."},"BgpServiceCommunity":{"properties":{"properties":{"$ref":"#/components/schemas/BgpServiceCommunityPropertiesFormat"}},"description":"Service Community Properties.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID."},"location":{"type":"string","description":"Resource location."},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common resource representation."}]},"BgpServiceCommunityListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of results."},"value":{"type":"array","description":"A list of service community resources.","items":{"$ref":"#/components/schemas/BgpServiceCommunity"}}},"description":"Response for the ListServiceCommunity API service call."},"BgpServiceCommunityPropertiesFormat":{"type":"object","properties":{"bgpCommunities":{"type":"array","description":"A list of bgp communities.","items":{"$ref":"#/components/schemas/BGPCommunity"}},"serviceName":{"type":"string","description":"The name of the bgp community. e.g. Skype."}},"description":"Properties of Service Community."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}