{"openapi":"3.0.1","info":{"title":"DeploymentAdminClient","description":"Deployment Admin Client.","version":"2019-01-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments":{"get":{"tags":["ProductDeployments"],"description":"Invokes bootstrap action on the product deployment","operationId":"ProductDeployments_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDeploymentsList"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}":{"get":{"tags":["ProductDeployments"],"description":"Invokes bootstrap action on the product deployment","operationId":"ProductDeployments_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}},{"name":"productId","in":"path","description":"The product identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDeploymentResourceEntity"}}}},"404":{"description":"NOT FOUND"}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/bootstrap":{"post":{"tags":["ProductDeployments"],"description":"Invokes bootstrap action on the product deployment","operationId":"ProductDeployments_BootStrap","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"productId","in":"path","description":"The product identifier.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}}],"requestBody":{"description":"Represents bootstrap action parameter","content":{"application/json":{"schema":{"type":"object","properties":{"version":{"type":"string","description":"Generic Version object"}},"description":"Parameters for bootstrap action"}}},"required":true},"responses":{"200":{"description":"Ok"},"202":{"description":"ACCEPTED"}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/deploy":{"post":{"tags":["ProductDeployments"],"description":"Invokes deploy action on the product","operationId":"ProductDeployments_Deploy","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"productId","in":"path","description":"The product identifier.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}}],"requestBody":{"description":"Represents bootstrap action parameter","content":{"application/json":{"schema":{"type":"object","properties":{"parameters":{"type":"string","description":"Deployment parameters, value in JToken"},"version":{"type":"string","description":"Generic Version object"}},"description":"Parameters for deploy action"}}},"required":true},"responses":{"200":{"description":"Ok"},"202":{"description":"ACCEPTED"}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/lock":{"post":{"tags":["ProductDeployments"],"description":"locks the product subscription","operationId":"ProductDeployments_Lock","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"productId","in":"path","description":"The product identifier.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}}],"responses":{"200":{"description":"OK"}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/remove":{"post":{"tags":["ProductDeployments"],"description":"Invokes remove action on the product deployment","operationId":"ProductDeployments_Remove","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"productId","in":"path","description":"The product identifier.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}}],"responses":{"200":{"description":"Ok"},"202":{"description":"ACCEPTED"}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/rotateSecrets":{"post":{"tags":["ProductDeployments"],"description":"Invokes rotate secrets action on the product deployment","operationId":"ProductDeployments_RotateSecrets","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"productId","in":"path","description":"The product identifier.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}}],"responses":{"200":{"description":"OK"},"202":{"description":"ACCEPTED"}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/unlock":{"post":{"tags":["ProductDeployments"],"description":"Unlocks the product subscription","operationId":"ProductDeployments_Unlock","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"productId","in":"path","description":"The product identifier.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2019-01-01"}}],"requestBody":{"description":"Represents bootstrap action parameter","content":{"application/json":{"schema":{"type":"object","properties":{"duration":{"type":"string","description":"Duration in TimeSpan format(Define which ISO format)"}},"description":"Parameters for bootstrap action"}}},"required":true},"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"BootStrapActionParameters":{"type":"object","properties":{"version":{"type":"string","description":"Generic Version object"}},"description":"Parameters for bootstrap action"},"DeployActionParameters":{"type":"object","properties":{"parameters":{"type":"string","description":"Deployment parameters, value in JToken"},"version":{"type":"string","description":"Generic Version object"}},"description":"Parameters for deploy action"},"DeploymentInfo":{"type":"object","properties":{"actionPlanInstanceResourceId":{"type":"string","description":"The identifier of the latest action plan instance resource."},"eTag":{"type":"string","description":"entity tag"},"parameters":{"type":"string","description":"The latest deployment parameters as JToken"},"version":{"type":"string","description":"The product version"}},"description":"Resource provider deployment information"},"DeploymentStatus":{"type":"string","description":"Status of an operation.","enum":["None","Bootstrapping","BootstrapSucceeded","BootstrapFailed","Deploying","DeploymentSucceeded","DeploymentFailed","Updating","UpdateSucceeded","UpdateFailed","Removing","RemoveFailed","SecretRotationInProgress","SecretRotationSucceeded","SecretRotationFailed","Migrated"]},"ExtendedErrorInfo":{"type":"object"},"ExternalAccessInfo":{"type":"object","properties":{"expirationTime":{"type":"string","description":"The deployment start time","format":"date-time"},"principalId":{"type":"string","description":"The object identifier of the user, group or service principal that have access to resource provider subscription."}},"description":"Resource provider deployment information"},"ProductDeploymentResourceEntity":{"properties":{"eTag":{"type":"string","description":"entity tag"},"properties":{"$ref":"#/components/schemas/ProductDeploymentsProperties"}},"description":"Product deployment entity","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"type":{"type":"string","description":"Type of Resource.","readOnly":true}},"description":"Object model of azure resource manager base."}]},"ProductDeploymentsInternalState":{"type":"object","properties":{"externalAccessRoleAssignmentId":{"type":"string","description":"The current external access role assignment identifier"},"intermediateVaultId":{"type":"string","description":"The intermediate vault resource identifier"},"intermediateVaultUri":{"type":"string","description":"The intermediate vault Uri."},"jobId":{"type":"string","description":"The latest deployment job identifier"}},"description":"Resource type internal state"},"ProductDeploymentsList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of Product Deployments.","items":{"$ref":"#/components/schemas/ProductDeploymentResourceEntity"}}},"description":"List of Product Deployments."},"ProductDeploymentsProperties":{"type":"object","properties":{"deployment":{"$ref":"#/components/schemas/DeploymentInfo"},"error":{"type":"object","properties":{"code":{"type":"string","description":"Error Code"},"details":{"$ref":"#/components/schemas/ExtendedErrorInfo"},"message":{"type":"string","description":"Error Message"}},"description":"Error information"},"externalAccess":{"$ref":"#/components/schemas/ExternalAccessInfo"},"internalState":{"$ref":"#/components/schemas/ProductDeploymentsInternalState"},"lastSuccessfulDeployment":{"$ref":"#/components/schemas/DeploymentInfo"},"productId":{"type":"string","description":"The product identifier"},"provisioningState":{"type":"string","description":"The provisioning state"},"secretRotation":{"$ref":"#/components/schemas/SecretRotationInfo"},"status":{"$ref":"#/components/schemas/DeploymentStatus"},"subscriptionId":{"type":"string","description":"The product subscription identifier"}},"description":"Product deployment resource properties"},"SecretRotationInfo":{"type":"object","properties":{"secretRotationPlanInstanceResourceId":{"type":"string","description":"The identifier of the latest secret rotation plan instance resource."}},"description":"Resource provider deployment information"},"UnlockActionParameters":{"type":"object","properties":{"duration":{"type":"string","description":"Duration in TimeSpan format(Define which ISO format)"}},"description":"Parameters for bootstrap action"}},"parameters":{"ResourceGroupParameter":{"name":"resourceGroup","in":"path","description":"The resource group the resource is located under.","required":true,"schema":{"type":"string"}}},"requestBodies":{"BootstrapActionParameter":{"description":"Represents bootstrap action parameter","content":{"application/json":{"schema":{"type":"object","properties":{"version":{"type":"string","description":"Generic Version object"}},"description":"Parameters for bootstrap action"}}},"required":true},"DeployActionParameter":{"description":"Represents bootstrap action parameter","content":{"application/json":{"schema":{"type":"object","properties":{"parameters":{"type":"string","description":"Deployment parameters, value in JToken"},"version":{"type":"string","description":"Generic Version object"}},"description":"Parameters for deploy action"}}},"required":true},"UnlockActionParameter":{"description":"Represents bootstrap action parameter","content":{"application/json":{"schema":{"type":"object","properties":{"duration":{"type":"string","description":"Duration in TimeSpan format(Define which ISO format)"}},"description":"Parameters for bootstrap action"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}