{"openapi":"3.0.1","info":{"title":"SqlManagementClient","description":"The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.","version":"2015-05-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/advisors":{"get":{"tags":["ServerAdvisors"],"description":"Gets a list of server advisors.","operationId":"ServerAdvisors_ListByServer","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of server advisors.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Advisor"}}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - The requested database was not found\n\n * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 405 NotSupported - This functionality is not supported.\n\n * 409 Conflict - Request could not be processed because of conflict in the request.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/advisors/{advisorName}":{"get":{"tags":["ServerAdvisors"],"description":"Gets a server advisor.","operationId":"ServerAdvisors_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"advisorName","in":"path","description":"The name of the Server Advisor.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved details of specified server advisor.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Advisor"}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - The requested database was not found\n\n * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 405 NotSupported - This functionality is not supported.\n\n * 409 Conflict - Request could not be processed because of conflict in the request.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."}}},"patch":{"tags":["ServerAdvisors"],"description":"Updates a server advisor.","operationId":"ServerAdvisors_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"advisorName","in":"path","description":"The name of the Server Advisor.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The requested advisor resource state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Advisor"}}},"required":true},"responses":{"200":{"description":"Successfully updated the specified server advisor.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Advisor"}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.\n\n * 400 InvalidAdvisorUpsertRequest - The update advisor request body does not exist or has no properties object.\n\n * 400 InvalidAdvisorAutoExecuteStatus - Specified auto-execute status for the advisor is not allowed.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - The requested database was not found\n\n * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 405 NotSupported - This functionality is not supported.\n\n * 409 Conflict - Request could not be processed because of conflict in the request.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors":{"get":{"tags":["DatabaseAdvisors"],"description":"Gets a list of database advisors.","operationId":"DatabaseAdvisors_ListByDatabase","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of database advisors.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Advisor"}}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - The requested database was not found\n\n * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 405 NotSupported - This functionality is not supported.\n\n * 409 Conflict - Request could not be processed because of conflict in the request.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}":{"get":{"tags":["DatabaseAdvisors"],"description":"Gets a database advisor.","operationId":"DatabaseAdvisors_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"advisorName","in":"path","description":"The name of the Database Advisor.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved details of specified database advisor.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Advisor"}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - The requested database was not found\n\n * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 405 NotSupported - This functionality is not supported.\n\n * 409 Conflict - Request could not be processed because of conflict in the request.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."}}},"patch":{"tags":["DatabaseAdvisors"],"description":"Updates a database advisor.","operationId":"DatabaseAdvisors_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"advisorName","in":"path","description":"The name of the Database Advisor.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The requested advisor resource state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Advisor"}}},"required":true},"responses":{"200":{"description":"Successfully updated the specified database advisor.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Advisor"}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.\n\n * 400 InvalidAdvisorUpsertRequest - The update advisor request body does not exist or has no properties object.\n\n * 400 InvalidAdvisorAutoExecuteStatus - Specified auto-execute status for the advisor is not allowed.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - The requested database was not found\n\n * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 405 NotSupported - This functionality is not supported.\n\n * 409 Conflict - Request could not be processed because of conflict in the request.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}/recommendedActions":{"get":{"tags":["DatabaseRecommendedActions"],"description":"Gets list of Database Recommended Actions.","operationId":"DatabaseRecommendedActions_ListByDatabaseAdvisor","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"advisorName","in":"path","description":"The name of the Database Advisor.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved the list of database recommended actions.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RecommendedAction"}}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - The requested database was not found\n\n * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 404 RecommendedActionNotFound - The requested recommended action was not found.\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 404 RecommendedActionNotFound - The requested recommended action was not found.\n\n * 405 NotSupported - This functionality is not supported.\n\n * 409 Conflict - Request could not be processed because of conflict in the request.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}/recommendedActions/{recommendedActionName}":{"get":{"tags":["DatabaseRecommendedActions"],"description":"Gets a database recommended action.","operationId":"DatabaseRecommendedActions_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"advisorName","in":"path","description":"The name of the Database Advisor.","required":true,"schema":{"type":"string"}},{"name":"recommendedActionName","in":"path","description":"The name of Database Recommended Action.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved details of specified database recommended action.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendedAction"}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - The requested database was not found\n\n * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 404 RecommendedActionNotFound - The requested recommended action was not found.\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 404 RecommendedActionNotFound - The requested recommended action was not found.\n\n * 405 NotSupported - This functionality is not supported.\n\n * 409 Conflict - Request could not be processed because of conflict in the request.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."}}},"patch":{"tags":["DatabaseRecommendedActions"],"description":"Updates a database recommended action.","operationId":"DatabaseRecommendedActions_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"advisorName","in":"path","description":"The name of the Database Advisor.","required":true,"schema":{"type":"string"}},{"name":"recommendedActionName","in":"path","description":"The name of Database Recommended Action.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The requested recommended action resource state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendedAction"}}},"required":true},"responses":{"200":{"description":"Successfully updated the specified database recommended action.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendedAction"}}}},"default":{"description":"*** Error Responses: ***\n\n * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.\n\n * 400 InvalidRecommendedActionUpsertRequest - The update recommended action request body does not exist or has no properties or state object.\n\n * 400 InvalidRecommendedActionState - The specified state for recommended action is invalid\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - The requested database was not found\n\n * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 404 RecommendedActionNotFound - The requested recommended action was not found.\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 404 RecommendedActionNotFound - The requested recommended action was not found.\n\n * 405 NotSupported - This functionality is not supported.\n\n * 409 Conflict - Request could not be processed because of conflict in the request.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."}}}}},"components":{"schemas":{"Advisor":{"properties":{"kind":{"type":"string","description":"Resource kind.","readOnly":true},"location":{"type":"string","description":"Resource location.","readOnly":true},"properties":{"$ref":"#/components/schemas/AdvisorProperties"}},"description":"Database, Server or Elastic Pool Advisor.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"AdvisorProperties":{"required":["autoExecuteStatus"],"type":"object","properties":{"advisorStatus":{"type":"string","description":"Gets the status of availability of this advisor to customers. Possible values are 'GA', 'PublicPreview', 'LimitedPublicPreview' and 'PrivatePreview'.","readOnly":true,"enum":["GA","PublicPreview","LimitedPublicPreview","PrivatePreview"]},"autoExecuteStatus":{"type":"string","description":"Gets the auto-execute status (whether to let the system execute the recommendations) of this advisor. Possible values are 'Enabled' and 'Disabled'","enum":["Enabled","Disabled","Default"]},"autoExecuteStatusInheritedFrom":{"type":"string","description":"Gets the resource from which current value of auto-execute status is inherited. Auto-execute status can be set on (and inherited from) different levels in the resource hierarchy. Possible values are 'Subscription', 'Server', 'ElasticPool', 'Database' and 'Default' (when status is not explicitly set on any level).","readOnly":true,"enum":["Default","Subscription","Server","ElasticPool","Database"]},"lastChecked":{"type":"string","description":"Gets the time when the current resource was analyzed for recommendations by this advisor.","format":"date-time","readOnly":true},"recommendationsStatus":{"type":"string","description":"Gets that status of recommendations for this advisor and reason for not having any recommendations. Possible values include, but are not limited to, 'Ok' (Recommendations available),LowActivity (not enough workload to analyze), 'DbSeemsTuned' (Database is doing well), etc.","readOnly":true},"recommendedActions":{"type":"array","description":"Gets the recommended actions for this advisor.","readOnly":true,"items":{"$ref":"#/components/schemas/RecommendedAction"}}},"description":"Properties for a Database, Server or Elastic Pool Advisor."},"RecommendedAction":{"properties":{"kind":{"type":"string","description":"Resource kind.","readOnly":true},"location":{"type":"string","description":"Resource location.","readOnly":true},"properties":{"$ref":"#/components/schemas/RecommendedActionProperties"}},"description":"Database, Server or Elastic Pool Recommended Action.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"RecommendedActionErrorInfo":{"type":"object","properties":{"errorCode":{"type":"string","description":"Gets the reason why the recommended action was put to error state. e.g., DatabaseHasQdsOff, IndexAlreadyExists","readOnly":true},"isRetryable":{"type":"string","description":"Gets whether the error could be ignored and recommended action could be retried. Possible values are: Yes/No","readOnly":true,"enum":["Yes","No"]}},"description":"Contains error information for an Azure SQL Database, Server or Elastic Pool Recommended Action."},"RecommendedActionImpactRecord":{"type":"object","properties":{"absoluteValue":{"type":"number","description":"Gets the absolute value of this dimension if applicable. e.g., Number of Queries affected","format":"double","readOnly":true},"changeValueAbsolute":{"type":"number","description":"Gets the absolute change in the value of this dimension. e.g., Absolute Disk space change in Megabytes","format":"double","readOnly":true},"changeValueRelative":{"type":"number","description":"Gets the relative change in the value of this dimension. e.g., Relative Disk space change in Percentage","format":"double","readOnly":true},"dimensionName":{"type":"string","description":"Gets the name of the impact dimension. e.g., CPUChange, DiskSpaceChange, NumberOfQueriesAffected.","readOnly":true},"unit":{"type":"string","description":"Gets the name of the impact dimension. e.g., CPUChange, DiskSpaceChange, NumberOfQueriesAffected.","readOnly":true}},"description":"Contains information of estimated or observed impact on various metrics for an Azure SQL Database, Server or Elastic Pool Recommended Action."},"RecommendedActionImplementationInfo":{"type":"object","properties":{"method":{"type":"string","description":"Gets the method in which this recommended action can be manually implemented. e.g., TSql, AzurePowerShell.","readOnly":true,"enum":["TSql","AzurePowerShell"]},"script":{"type":"string","description":"Gets the manual implementation script. e.g., T-SQL script that could be executed on the database.","readOnly":true}},"description":"Contains information for manual implementation for an Azure SQL Database, Server or Elastic Pool Recommended Action."},"RecommendedActionMetricInfo":{"type":"object","properties":{"metricName":{"type":"string","description":"Gets the name of the metric. e.g., CPU, Number of Queries.","readOnly":true},"startTime":{"type":"string","description":"Gets the start time of time interval given by this MetricInfo.","format":"date-time","readOnly":true},"timeGrain":{"type":"string","description":"Gets the duration of time interval for the value given by this MetricInfo. e.g., PT1H (1 hour)","readOnly":true},"unit":{"type":"string","description":"Gets the unit in which metric is measured. e.g., DTU, Frequency","readOnly":true},"value":{"type":"number","description":"Gets the value of the metric in the time interval given by this MetricInfo.","format":"double","readOnly":true}},"description":"Contains time series of various impacted metrics for an Azure SQL Database, Server or Elastic Pool Recommended Action."},"RecommendedActionProperties":{"required":["state"],"type":"object","properties":{"details":{"type":"object","additionalProperties":{"type":"object"},"description":"Gets additional details specific to this recommended action.","readOnly":true},"errorDetails":{"$ref":"#/components/schemas/RecommendedActionErrorInfo"},"estimatedImpact":{"type":"array","description":"Gets the estimated impact info for this recommended action e.g., Estimated CPU gain, Estimated Disk Space change","readOnly":true,"items":{"$ref":"#/components/schemas/RecommendedActionImpactRecord"}},"executeActionDuration":{"type":"string","description":"Gets the time taken for applying this recommended action on user resource. e.g., time taken for index creation","readOnly":true},"executeActionInitiatedBy":{"type":"string","description":"Gets if approval for applying this recommended action was given by user/system.","readOnly":true,"enum":["User","System"]},"executeActionInitiatedTime":{"type":"string","description":"Gets the time when this recommended action was approved for execution.","format":"date-time","readOnly":true},"executeActionStartTime":{"type":"string","description":"Gets the time when system started applying this recommended action on the user resource. e.g., index creation start time","format":"date-time","readOnly":true},"implementationDetails":{"$ref":"#/components/schemas/RecommendedActionImplementationInfo"},"isArchivedAction":{"type":"boolean","description":"Gets if this recommended action was suggested some time ago but user chose to ignore this and system added a new recommended action again.","readOnly":true},"isExecutableAction":{"type":"boolean","description":"Gets if this recommended action is actionable by user","readOnly":true},"isRevertableAction":{"type":"boolean","description":"Gets if changes applied by this recommended action can be reverted by user","readOnly":true},"lastRefresh":{"type":"string","description":"Gets time when this recommended action was last refreshed.","format":"date-time","readOnly":true},"linkedObjects":{"type":"array","description":"Gets the linked objects, if any.","readOnly":true,"items":{"type":"string"}},"observedImpact":{"type":"array","description":"Gets the observed/actual impact info for this recommended action e.g., Actual CPU gain, Actual Disk Space change","readOnly":true,"items":{"$ref":"#/components/schemas/RecommendedActionImpactRecord"}},"recommendationReason":{"type":"string","description":"Gets the reason for recommending this action. e.g., DuplicateIndex","readOnly":true},"revertActionDuration":{"type":"string","description":"Gets the time taken for reverting changes of this recommended action on user resource. e.g., time taken for dropping the created index.","readOnly":true},"revertActionInitiatedBy":{"type":"string","description":"Gets if approval for reverting this recommended action was given by user/system.","readOnly":true,"enum":["User","System"]},"revertActionInitiatedTime":{"type":"string","description":"Gets the time when this recommended action was approved for revert.","format":"date-time","readOnly":true},"revertActionStartTime":{"type":"string","description":"Gets the time when system started reverting changes of this recommended action on user resource. e.g., time when index drop is executed.","format":"date-time","readOnly":true},"score":{"type":"integer","description":"Gets the impact of this recommended action. Possible values are 1 - Low impact, 2 - Medium Impact and 3 - High Impact","format":"int32","readOnly":true},"state":{"$ref":"#/components/schemas/RecommendedActionStateInfo"},"timeSeries":{"type":"array","description":"Gets the time series info of metrics for this recommended action e.g., CPU consumption time series","readOnly":true,"items":{"$ref":"#/components/schemas/RecommendedActionMetricInfo"}},"validSince":{"type":"string","description":"Gets the time since when this recommended action is valid.","format":"date-time","readOnly":true}},"description":"Properties for a Database, Server or Elastic Pool Recommended Action."},"RecommendedActionStateInfo":{"required":["currentValue"],"type":"object","properties":{"actionInitiatedBy":{"type":"string","description":"Gets who initiated the execution of this recommended action. Possible Value are: User    -> When user explicitly notified system to apply the recommended action. System  -> When auto-execute status of this advisor was set to 'Enabled', in which case the system applied it.","readOnly":true,"enum":["User","System"]},"currentValue":{"type":"string","description":"Current state the recommended action is in. Some commonly used states are: Active      -> recommended action is active and no action has been taken yet. Pending     -> recommended action is approved for and is awaiting execution. Executing   -> recommended action is being applied on the user database. Verifying   -> recommended action was applied and is being verified of its usefulness by the system. Success     -> recommended action was applied and improvement found during verification. Pending Revert  -> verification found little or no improvement so recommended action is queued for revert or user has manually reverted. Reverting   -> changes made while applying recommended action are being reverted on the user database. Reverted    -> successfully reverted the changes made by recommended action on user database. Ignored     -> user explicitly ignored/discarded the recommended action. ","enum":["Active","Pending","Executing","Verifying","PendingRevert","RevertCancelled","Reverting","Reverted","Ignored","Expired","Monitoring","Resolved","Success","Error"]},"lastModified":{"type":"string","description":"Gets the time when the state was last modified","format":"date-time","readOnly":true}},"description":"Contains information of current state for an Azure SQL Database, Server or Elastic Pool Recommended Action."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},"DatabaseNameParameter":{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}