{"openapi":"3.0.1","info":{"title":"DeviceServices","description":"Use this API to manage the Windows IoT device services in your Azure subscription.","version":"2019-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.WindowsIoT/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available Windows IoT Services REST API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.WindowsIoT/checkDeviceServiceNameAvailability":{"post":{"tags":["CheckDeviceServiceNameAvailability"],"description":"Check if a Windows IoT Device Service name is available.","operationId":"Services_CheckDeviceServiceNameAvailability","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Set the name parameter in the DeviceServiceCheckNameAvailabilityParameters structure to the name of the Windows IoT Device Service to check.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceServiceCheckNameAvailabilityParameters"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceServiceNameAvailabilityInfo"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.WindowsIoT/deviceServices":{"get":{"tags":["DeviceServices"],"description":"Get all the IoT hubs in a subscription.","operationId":"Services_List","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceServiceDescriptionListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsIoT/deviceServices":{"get":{"tags":["DeviceServices"],"description":"Get all the IoT hubs in a resource group.","operationId":"Services_ListByResourceGroup","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the Windows IoT Device Service.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceServiceDescriptionListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsIoT/deviceServices/{deviceName}":{"get":{"tags":["DeviceServices"],"description":"Get the non-security related metadata of a Windows IoT Device Service.","operationId":"Services_Get","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the Windows IoT Device Service.","required":true,"schema":{"type":"string"}},{"name":"deviceName","in":"path","description":"The name of the Windows IoT Device Service.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceService"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false},"put":{"tags":["DeviceServices"],"summary":"Create or update the metadata of a Windows IoT Device Service.","description":"Create or update the metadata of a Windows IoT Device Service. The usual pattern to modify a property is to retrieve the Windows IoT Device Service metadata and security metadata, and then combine them with the modified values in a new body to update the Windows IoT Device Service.","operationId":"Services_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the Windows IoT Device Service.","required":true,"schema":{"type":"string"}},{"name":"deviceName","in":"path","description":"The name of the Windows IoT Device Service.","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"ETag of the Windows IoT Device Service. Do not specify for creating a new Windows IoT Device Service. Required to update an existing Windows IoT Device Service.","schema":{"type":"string"}}],"requestBody":{"description":"The Windows IoT Device Service metadata and security metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceServiceProperties"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceService"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false},"delete":{"tags":["DeviceServices"],"description":"Delete a Windows IoT Device Service.","operationId":"Services_Delete","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the Windows IoT Device Service.","required":true,"schema":{"type":"string"}},{"name":"deviceName","in":"path","description":"The name of the Windows IoT Device Service.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceService"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false},"patch":{"tags":["DeviceServices"],"summary":"Updates the metadata of a Windows IoT Device Service.","description":"Updates the metadata of a Windows IoT Device Service. The usual pattern to modify a property is to retrieve the Windows IoT Device Service metadata and security metadata, and then combine them with the modified values in a new body to update the Windows IoT Device Service.","operationId":"Services_Update","parameters":[{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the Windows IoT Device Service.","required":true,"schema":{"type":"string"}},{"name":"deviceName","in":"path","description":"The name of the Windows IoT Device Service.","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"ETag of the Windows IoT Device Service. Do not specify for creating a brand new Windows IoT Device Service. Required to update an existing Windows IoT Device Service.","schema":{"type":"string"}}],"requestBody":{"description":"The Windows IoT Device Service metadata and security metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceServiceProperties"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceService"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}}}},"deprecated":false}}},"components":{"schemas":{"DeviceService":{"properties":{"etag":{"type":"string","description":"The Etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal ETag convention."},"properties":{"$ref":"#/components/schemas/DeviceServiceProperties"}},"description":"The description of the Windows IoT Device Service.","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"DeviceServiceCheckNameAvailabilityParameters":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the Windows IoT Device Service to check."}},"description":"Input values."},"DeviceServiceDescriptionListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The next link.","readOnly":true},"value":{"type":"array","description":"The array of DeviceService objects.","items":{"$ref":"#/components/schemas/DeviceService"}}},"description":"The JSON-serialized array of DeviceService objects with a next link."},"DeviceServiceNameAvailabilityInfo":{"type":"object","properties":{"message":{"type":"string","description":"The detailed reason message."},"nameAvailable":{"type":"boolean","description":"The value which indicates whether the provided name is available.","readOnly":true},"reason":{"type":"string","description":"The reason for unavailability.","readOnly":true,"enum":["Invalid","AlreadyExists"]}},"description":"The properties indicating whether a given Windows IoT Device Service name is available."},"DeviceServiceProperties":{"type":"object","properties":{"adminDomainName":{"type":"string","description":"Windows IoT Device Service OEM AAD domain"},"billingDomainName":{"type":"string","description":"Windows IoT Device Service ODM AAD domain"},"notes":{"type":"string","description":"Windows IoT Device Service notes."},"quantity":{"type":"integer","description":"Windows IoT Device Service device allocation,","format":"int64"},"startDate":{"type":"string","description":"Windows IoT Device Service start date,","format":"date-time","readOnly":true}},"description":"The properties of a Windows IoT Device Service."},"ErrorDetails":{"type":"object","properties":{"code":{"type":"string","description":"One of a server-defined set of error codes."},"details":{"type":"string","description":"A human-readable representation of the error's details."},"message":{"type":"string","description":"A human-readable representation of the error."},"target":{"type":"string","description":"The target of the particular error."}},"description":"The details of the error."},"OperationDisplayInfo":{"type":"object","properties":{"description":{"type":"string","description":"The description of the operation."},"operation":{"type":"string","description":"The action that users can perform, based on their permission level."},"provider":{"type":"string","description":"Service provider: Azure Data Catalog Service."},"resource":{"type":"string","description":"Resource on which the operation is performed."}},"description":"The operation supported by Azure Data Catalog Service."},"OperationEntity":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationDisplayInfo"},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}."}},"description":"The operation supported by Azure Data Catalog Service."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any.","readOnly":true},"value":{"type":"array","description":"List of Windows IoT Device Service operations supported by the Microsoft.WindowsIoT resource provider.","readOnly":true,"items":{"$ref":"#/components/schemas/OperationEntity"}}},"description":"Result of the request to list Windows IoT Device Service operations. It contains a list of operations and a URL link to get the next set of results."},"ProxyResource":{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"$ref":"#/components/schemas/Resource"}]},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources"},"TrackedResource":{"properties":{"location":{"type":"string","description":"The Azure Region where the resource lives"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"The resource model definition for a ARM tracked top level resource","allOf":[{"$ref":"#/components/schemas/Resource"}]}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The version of the API.","required":true,"schema":{"type":"string"}},"DeviceNameParameter":{"name":"deviceName","in":"path","description":"The name of the Windows IoT Device Service.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the Windows IoT Device Service.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The subscription identifier.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}