{"openapi":"3.0.1","info":{"title":"NPR Listening Service","description":"Audio recommendations tailored to a user's preferences","termsOfService":"https://dev.npr.org/guide/prerequisites/terms-of-use","contact":{"name":"NPR One Enterprise Team","url":"https://dev.npr.org","email":"NPROneEnterprise@npr.org"},"version":"2"},"externalDocs":{"description":"Learn more at the NPR One Developer Center","url":"https://dev.npr.org/guide/services/listening"},"servers":[{"url":"https://listening.api.npr.org/"}],"paths":{"/v2/aggregation/{aggId}/recommendations":{"get":{"summary":"Get a set of recommendations for an aggregation independent of the user's listening history","description":"This endpoint provides a list of recent audio items associated with the aggregation along with metadata about the aggregation.","operationId":"getAggRecommendations","parameters":[{"name":"aggId","in":"path","description":"ID of an aggregation such as a program or podcast. If the specified ID is a program that publishes rundowns, the latest rundown will be returned.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}},{"name":"startNum","in":"query","description":"The result to start with. Allows paging through the episodes of a podcast or program, with the default, `startNum=0`, being the most recent episode. Ignored for programs that publish a rundown.","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"A list of audio items from the specified aggregation","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregationAudioItemListDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/AggregationAudioItemListDocument"}}}},"401":{"description":"The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"404":{"description":"The resource with the requested ID could not be found, and the server was unable to complete the request.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"429":{"description":"The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"500":{"description":"A server error","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"503":{"description":"The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.","headers":{"Retry-After":{"description":"The predicted time the system will be back up","schema":{"type":"string","format":"date-time"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}}},"security":[{"oauth2":["listening.readonly"]}]}},"/v2/channels":{"get":{"summary":"Get the list of available channels","description":"These channels allow the user to specify a focus for the content returned in the recommendations endpoint.","operationId":"getChannels","parameters":[{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}},{"name":"exploreOnly","in":"query","description":"If set to `true`, this call will return only channels that should be shown in the client's `Explore` view","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"A list of channels","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChannelsDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ChannelsDocument"}}}},"401":{"description":"The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"429":{"description":"The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"503":{"description":"The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.","headers":{"Retry-After":{"description":"The predicted time the system will be back up","schema":{"type":"string","format":"date-time"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}}},"security":[{"oauth2":["listening.readonly"]}]}},"/v2/history":{"get":{"summary":"Get recent ratings the logged-in user has submitted","description":"This endpoint provides the list of recently-rated audio recommendations that the logged-in user has consumed. Some rated recommendations are filtered, such as sponsorship and donation.","operationId":"getHistory","parameters":[{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of audio items (recommendations)","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudioItemListDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/AudioItemListDocument"}}}},"401":{"description":"The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"429":{"description":"The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"500":{"description":"A server error","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"503":{"description":"The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.","headers":{"Retry-After":{"description":"The predicted time the system will be back up","schema":{"type":"string","format":"date-time"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}}},"security":[{"oauth2":["listening.readonly"]}]}},"/v2/organizations/{orgId}/categories/{category}/recommendations":{"get":{"summary":"Get a list of recommendations from a category of content from an organization","description":"This endpoint provides a list of recommendations from a category of content from  an organization.","operationId":"getOrganizationCategory","parameters":[{"name":"orgId","in":"path","description":"ID of an organization, such as an NPR One station","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"category","in":"path","description":"One of the three categories of content - newscast, story, or podcast","required":true,"schema":{"type":"string","default":"story","enum":["newscast","story","podcast"]}},{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of audio items from a category of content from an organization","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationCategoryAudioListDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/OrganizationCategoryAudioListDocument"}}}},"401":{"description":"The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"404":{"description":"The resource with the requested ID could not be found, and the server was unable to complete the request.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"429":{"description":"The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"500":{"description":"A server error","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"503":{"description":"The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.","headers":{"Retry-After":{"description":"The predicted time the system will be back up","schema":{"type":"string","format":"date-time"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}}},"security":[{"oauth2":["listening.readonly"]}]}},"/v2/organizations/{orgId}/recommendations":{"get":{"summary":"Get a variety of details about an organization including various lists of recent audio items","description":"This endpoint provides a variety of details about an organization including various lists of recent audio items.","operationId":"getOrganizationOverview","parameters":[{"name":"orgId","in":"path","description":"ID of an organization, such as an NPR One station","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of up to four different categories of audio items from a specific organization","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationOverviewDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/OrganizationOverviewDocument"}}}},"401":{"description":"The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"404":{"description":"The resource with the requested ID could not be found, and the server was unable to complete the request.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"429":{"description":"The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"500":{"description":"A server error","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"503":{"description":"The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.","headers":{"Retry-After":{"description":"The predicted time the system will be back up","schema":{"type":"string","format":"date-time"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}}},"security":[{"oauth2":["listening.readonly"]}]}},"/v2/promo/recommendations":{"get":{"summary":"Retrieve the most recent promo audio heard by the logged-in user","description":"Gets the most recently played promo for which the user has neither tapped through the promo or listened to the target story.","operationId":"getPromo","parameters":[{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of audio items (recommendations)","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudioItemListDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/AudioItemListDocument"}}}},"401":{"description":"The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"429":{"description":"The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"500":{"description":"A server error","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"503":{"description":"The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.","headers":{"Retry-After":{"description":"The predicted time the system will be back up","schema":{"type":"string","format":"date-time"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}}},"security":[{"oauth2":["listening.readonly"]}]}},"/v2/ratings":{"post":{"summary":"Collect new ratings for media previously recommended to the logged-in user","description":"This endpoint is the main mechanism for providing feedback from the user to NPR about the recommendations that are obtained from `GET /listening/v2/recommendations`.\n\nA fully-populated link to this endpoint is returned with each individual recommendation and is located in the AudioItemDocument under the `links['recommendations']` object. The query parameters in this link should not be modified.\nBe sure to copy and send back the entire ratings object (RatingData), as new fields may be added to it in the future.\n\nThis endpoint can return a blank JSON.doc or AudioItemDocument depending on the `recommend=true|false` parameter. The `recommend=true` flag allows this endpoint to both receive ratings and send back recommendations in the same call.","operationId":"postRating","parameters":[{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}},{"name":"X-Advertising-ID","in":"header","description":"A device-specific advertising identifier, if possible. Apple's IDFA is an example.","schema":{"type":"string"}},{"name":"channel","in":"query","description":"Determines the focus of the recommendations returned. Channel `npr` is recommended for most use cases.","schema":{"type":"string","default":"npr","enum":["npr","followed","recommended","emailstories","emailprograms","lapsedusersemail","ongoing email","newscasts","shows"]}},{"name":"recommend","in":"query","description":"If set to `false`, this call will return a blank document; otherwise it will return a new recommendation object","schema":{"type":"boolean","default":true}}],"requestBody":{"description":"A list of RatingData objects which contains data about ratings such as the id of the content, the rating value, elapsed time and more.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RatingData"}}}},"required":true},"responses":{"200":{"description":"If the `recommend` param was set to `true`, this returns a list of audio items; otherwise, a blank document is returned.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudioItemListDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/AudioItemListDocument"}}}},"400":{"description":"A bad request; generally, one or more parameters passed in were incorrect or missing","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"401":{"description":"The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"429":{"description":"The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"500":{"description":"A server error","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"503":{"description":"The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.","headers":{"Retry-After":{"description":"The predicted time the system will be back up","schema":{"type":"string","format":"date-time"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}}},"security":[{"oauth2":["listening.write"]}]}},"/v2/recommendations":{"get":{"summary":"Get a list of media for the logged-in user from NPR's recommendation engine","description":"This endpoint returns a list of audio recommendations. It is designed to be used for an initial list of recommendations, and then `POST /v2/ratings?recommend=true` should be used for subsequent requests for recommendations.\n\nA fully-populated link to the ratings endpoint is returned with each individual recommendation and is located in the AudioItemDocument under the `links['recommendations']` object. The query parameters in this link should not be modified.\nBe sure to copy and send back the entire ratings object (RatingData), as new fields may be added to it in the future.\n\nA 500 will be returned if there are no eligible remaining recommendations.","operationId":"getRecommendations","parameters":[{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}},{"name":"X-Advertising-ID","in":"header","description":"A device-specific advertising identifier, if possible. Apple's IDFA is an example.","schema":{"type":"string"}},{"name":"channel","in":"query","description":"Determines the focus of the recommendations returned. Channel `npr` is recommended for most use cases.","schema":{"type":"string","default":"npr","enum":["npr","followed","recommended","emailstories","emailprograms","lapsedusersemail","ongoing email","newscasts","shows"]}},{"name":"sharedMediaId","in":"query","description":"This media was shared directly with the user; if provided, the service will add this recommendation to the top of the list","schema":{"type":"string"}},{"name":"notifiedMediaId","in":"query","description":"The user received a push notification about this media; if provided, the service will add this recommendation to the top of the list","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of audio items (recommendations)","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudioItemListDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/AudioItemListDocument"}}}},"400":{"description":"A bad request; generally, one or more parameters passed in were incorrect or missing","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"401":{"description":"The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"429":{"description":"The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"500":{"description":"A server error","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"503":{"description":"The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.","headers":{"Retry-After":{"description":"The predicted time the system will be back up","schema":{"type":"string","format":"date-time"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}}},"security":[{"oauth2":["listening.readonly"]}]}},"/v2/search/recommendations":{"get":{"summary":"Get a list of recent audio and aggregation items associated with search terms","description":"In the schema shown below, SearchItemDocument is not an actual type of returned object; the object returned by a search will be either an AggregationAudioItemListDocument or an AudioItemDocument.","operationId":"getSearchRecommendations","parameters":[{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}},{"name":"searchTerms","in":"query","description":"Search terms to search on; can include URL-encoded punctuation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of audio and aggregation items matching the search query","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchListDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/SearchListDocument"}}}},"401":{"description":"The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"429":{"description":"The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"500":{"description":"A server error","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"503":{"description":"The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.","headers":{"Retry-After":{"description":"The predicted time the system will be back up","schema":{"type":"string","format":"date-time"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}}},"security":[{"oauth2":["listening.readonly"]}]}}},"components":{"schemas":{"AbstractCDocLink":{"allOf":[{"$ref":"#/components/schemas/AbstractLink"},{"required":["content-type"],"type":"object","properties":{"content-type":{"type":"string","description":"The MIME type of the response of this link"}}}]},"AbstractLink":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"The link to be followed","format":"uri"}}},"Affiliation":{"required":["following","href","id"],"type":"object","properties":{"daysSinceLastListen":{"type":"integer","description":"The number of days since a user last listened to a story from this aggregation. Absent if user never listened to the aggregation.","format":"int32"},"following":{"type":"boolean","description":"Whether or not the user is following the aggregation. When changing affiliation status, the client is expected to toggle this value and then send the entire object back.","default":false},"href":{"type":"string","description":"A link to more details about the program from the NPR Story API"},"id":{"type":"integer","description":"A unique identifier for the aggregation (program)","format":"int64"},"notif_following":{"type":"array","description":"The topic in Firebase Cloud Messaging to which the device should subscribe if it supports notifications and the user wants notifications about the podcasts they follow.","items":{"type":"string"}},"notif_rated":{"type":"array","description":"The topic in Firebase Cloud Messaging to which the device should subscribe if it supports notifications and the user wants notifications about the podcasts they have highly rated.","items":{"type":"string"}},"rating":{"type":"number","description":"The user's average rating for this affiliation on a scale of 0-1. Absent if user never listened to the aggregation.","format":"float"},"title":{"type":"string","description":"The title for the aggregation (program)"}},"description":"A program (aggregation) that a given user has shown an affiliation with"},"AggregationAudioItemListDocument":{"description":"An array of audio recommendations with additional metadata about the aggregation they are associated with","allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/AggregationData"},"items":{"type":"array","description":"An array of Audio Items (recommendations)","items":{"$ref":"#/components/schemas/AudioItemDocument"}},"links":{"$ref":"#/components/schemas/AggregationLinks"}}}]},"AggregationData":{"required":["affiliation","title","type"],"type":"object","properties":{"affiliation":{"type":"string","description":"A unique identifier for the aggregation"},"affiliationMeta":{"$ref":"#/components/schemas/Affiliation"},"description":{"type":"string","description":"A short description or teaser"},"provider":{"type":"string","description":"The producer of this aggregation","default":"NPR"},"station":{"type":"string","description":"Deprecated - clients should switch to use provider.","default":"NPR"},"title":{"type":"string","description":"The title of this aggregation"},"type":{"type":"string","description":"The type of list returned; will always be `aggregation`; useful for parsing search results","default":"aggregation","enum":["aggregation"]}}},"AggregationLinks":{"type":"object","properties":{"binge":{"type":"array","description":"One or more links to more unrated / unheard recommendations from this aggregation","items":{"$ref":"#/components/schemas/OtherLink"}},"image":{"type":"array","description":"One or more links to an image, along with metadata for display","items":{"$ref":"#/components/schemas/ImageLink"}},"more":{"type":"array","description":"One or more links to more episodes for the aggregation","items":{"$ref":"#/components/schemas/OtherLink"}},"web":{"type":"array","description":"One or more links to a web page for the item","items":{"$ref":"#/components/schemas/OtherLink"}}}},"AudioItemData":{"required":["rating","rationale","skippable","title","type","uid"],"type":"object","properties":{"album":{"type":"string","description":"Album information associated with the media"},"artist":{"type":"string","description":"The artist associated with the media"},"audioTitle":{"type":"string","description":"For first-party client use only"},"bingeAggId":{"type":"string","description":"Indicates which aggregration ID this recommendation was binged from"},"button":{"type":"string","description":"The text contents of an action button displayed on the client"},"date":{"type":"string","description":"The publication date in ISO-8601 format","format":"date-time"},"description":{"type":"string","description":"A short description or teaser"},"duration":{"maximum":9999,"minimum":0,"type":"integer","description":"The length of the audio content in seconds","format":"int32"},"expires":{"type":"string","description":"The media's expiration date in ISO-8601 format","format":"date-time"},"geofence":{"$ref":"#/components/schemas/Geofence"},"inFlow":{"type":"boolean","description":"Indicates the likelihood of being within a flow, useful for stateful playback buttons"},"label":{"type":"string","description":"The record label associated with the media"},"organization":{"$ref":"#/components/schemas/RecommendationOrganization"},"primary":{"type":"boolean","description":"Whether the audio is the primary audio of the story to which it is associated"},"program":{"type":"string","description":"The program associated with this media"},"provider":{"type":"string","description":"The name of the organization providing this media","default":"NPR"},"rating":{"$ref":"#/components/schemas/RatingData"},"rationale":{"type":"string","description":"A short summary of why this content was recommended"},"skippable":{"type":"boolean","description":"Whether the client should allow this content to be skipped","default":true},"slug":{"type":"string","description":"A tag or category for this media"},"song":{"type":"string","description":"The song title associated with the media"},"streamGuid":{"type":"string","description":"The full GUID of the live stream returned within the recommendation"},"title":{"type":"string","description":"The title of this media"},"type":{"type":"string","description":"Help determine how content is displayed; for more information, see <a href='https://dev.npr.org/design/general-specifications/playing-audio/'>our design guidelines</a>","default":"audio","enum":["audio","sponsorship","stationId","intro","donate","featureCardInformational","featureCardNotification","featureCardPromotion","featureCardExternalLink","featureCardAsyncRequest"]},"uid":{"pattern":"^\\d{3,}:[\\w-]{5,}$","type":"string","description":"The media ID (for use in ratings objects)"},"unavailableText":{"type":"string","description":"The text contents to be displayed on the client if no media URLs are available"}}},"AudioItemDocument":{"allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/AudioItemData"},"items":{"type":"array","description":"Not used","items":{"type":"object"}},"links":{"$ref":"#/components/schemas/AudioItemLinks"}}}]},"AudioItemLinks":{"type":"object","properties":{"action":{"type":"array","description":"One or more links to be trigged by user actions, usually when a button is clicked","items":{"$ref":"#/components/schemas/OtherLink"}},"audio":{"type":"array","description":"One or more links to audio files for the item","items":{"$ref":"#/components/schemas/AudioLink"}},"binge":{"type":"array","description":"One or more links that start a flow-based experience focused on the aggregation","items":{"$ref":"#/components/schemas/OtherLink"}},"image":{"type":"array","description":"One or more links to an image, along with metadata for display","items":{"$ref":"#/components/schemas/ImageLink"}},"onramps":{"type":"array","description":"One or more shareable links for the item","items":{"$ref":"#/components/schemas/OtherLink"}},"ratings":{"type":"array","description":"This is an alternate URL to use to POST the ratings JSON. Difference between this and 'recommendations' is that 'ratings' will NOT return back recommendations of audio to play next.","items":{"$ref":"#/components/schemas/OtherLink"}},"recommendations":{"type":"array","description":"This is the URL that should be POSTed with the ratings JSON when this audio starts to play","items":{"$ref":"#/components/schemas/OtherLink"}},"stream-metadata":{"type":"array","description":"Links that can be polled to retreive current program metadata for a given stream","items":{"$ref":"#/components/schemas/OtherLink"}},"up":{"type":"array","description":"One or more links to more details about the program or podcast with which this item is associated","items":{"$ref":"#/components/schemas/OtherLink"}},"web":{"type":"array","description":"One or more links to a web page for the item","items":{"$ref":"#/components/schemas/OtherLink"}}}},"AudioItemListDocument":{"allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"type":"object","description":"Not used"},"items":{"type":"array","description":"An array of Audio Items (recommendations)","items":{"$ref":"#/components/schemas/AudioItemDocument"}},"links":{"type":"object","description":"Not used"}}}]},"AudioLink":{"description":"A link to audio files for the item","allOf":[{"$ref":"#/components/schemas/AbstractLink"},{"required":["content-type"],"type":"object","properties":{"content-type":{"type":"string","description":"The MIME type of the response of this link; note that the enumerated list of possible values is not exhaustive and other MIME types could occur. The list should be treated as examples, rather than absolutes.","default":"audio/aac","enum":["audio/mp3","audio/aac","audio/3gp","application/vnd.apple.mpegurl","audio/x-ms-wax"]}}}]},"AudioPlaylistData":{"required":["id","title","uids"],"type":"object","properties":{"id":{"type":"string","description":"The globally unique identifier for the playlist."},"title":{"type":"string","description":"The user-editable title of the playlist"},"uids":{"type":"array","description":"Individual content identifiers; see AudioItemDocument","items":{"type":"string"}}}},"AudioPlaylistDocument":{"allOf":[{"$ref":"#/components/schemas/AudioItemListDocument"},{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/AudioPlaylistData"},"items":{"type":"array","description":"An array of Audio Items (recommendations)","items":{"$ref":"#/components/schemas/AudioItemDocument"}},"links":{"$ref":"#/components/schemas/OtherLink"}}}]},"Brand":{"required":["call","marketCity","name"],"type":"object","properties":{"band":{"type":"string","description":"The radio band for the organization if they are a station (AM or FM)"},"call":{"type":"string","description":"The call letter for the organization if they are a station"},"frequency":{"type":"string","description":"The radio frequency for the organization if they are a station"},"marketCity":{"type":"string","description":"The market city for the organization"},"marketState":{"type":"string","description":"The market state for the organization"},"name":{"type":"string","description":"The name of the organization"},"tagline":{"type":"string","description":"The tagline for the organization"}},"description":"Branding information for the organization"},"CategoryData":{"required":["title","type"],"type":"object","properties":{"displayType":{"type":"string","description":"How clients should display this channel in the station profile view","enum":["default","show","playable","newscast"]},"title":{"type":"string","description":"The title of this category"},"type":{"type":"string","description":"The type of list returned; will always be `category`","default":"category"}}},"CategoryLinks":{"type":"object","properties":{"more":{"type":"array","description":"One or more links to more episodes for the aggregation","items":{"$ref":"#/components/schemas/OtherLink"}}}},"ChannelData":{"required":["description","fullName","id"],"type":"object","properties":{"description":{"type":"string","description":"A longer description of what this channel focuses on"},"displayType":{"type":"string","description":"How clients should display this channel in the explore view","enum":["default","show","playable","newscast"]},"emptyText":{"type":"string","description":"Text for clients to display when the channel contains no recommendations"},"fullName":{"type":"string","description":"A short description of what this channel focuses on"},"id":{"type":"string","description":"The actual value that should be sent"},"refreshRule":{"type":"integer","description":"In the explore view of a client, this field indicates how this channel should be refreshed.  This is an experimental field and subject to change, but for now zero indicates the client should refresh this channel every time a START rating is sent for a type=audio recommendation, while a 1 would indicate it can be refreshed much less often, such as on a 30 minute timer. 2 would indicate even less time to update, say every hour. We are still experimenting on the number of rules necessary and the best implementation for each type of rule. "}}},"ChannelDocument":{"allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/ChannelData"},"items":{"type":"array","description":"Not used","items":{"type":"object"}},"links":{"type":"object","description":"Not used"}}}]},"ChannelsData":{"type":"object","properties":{"defaultChannel":{"type":"string","description":"The default channel NPR recommends","default":"npr"}}},"ChannelsDocument":{"allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/ChannelsData"},"items":{"type":"array","description":"The list of individual channels","items":{"$ref":"#/components/schemas/ChannelDocument"}},"links":{"type":"object","description":"Not used"}}}]},"CollectionDocument":{"required":["attributes","errors","href","items","links","version"],"type":"object","properties":{"attributes":{"type":"object","description":"Basic Swagger definitions used across Carbon services."},"errors":{"type":"array","description":"A list of encountered errors, ignored on POST, PUT","items":{"type":"object"}},"href":{"type":"string","description":"A URL representation of the resource; should generally be ignored by clients unless noted otherwise"},"items":{"type":"array","description":"Basic Swagger definitions used across Carbon services.","items":{"type":"object"}},"links":{"type":"object","description":"Basic Swagger definitions used across Carbon services."},"version":{"type":"string","description":"The version of the Collection.Doc+JSON spec being used","default":"1.0"}},"description":"Base Collection.Doc+JSON output"},"Error":{"required":["code"],"type":"object","properties":{"code":{"type":"integer","description":"The error code","format":"int32"},"debug":{"type":"string","description":"Additional debug information if debug mode is turned on"},"text":{"type":"string","description":"The error description"}},"description":"A serialized version of any error encountered when processing this request"},"ErrorDocument":{"description":"A Collection.doc+JSON representation of an error result from an API call","allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"type":"object","description":"Ignore; will be empty for errors"},"errors":{"type":"array","description":"A list of encountered errors, ignored on POST, PUT","items":{"$ref":"#/components/schemas/Error"}},"items":{"type":"array","description":"Ignore; will be empty for errors","items":{"type":"object"}},"links":{"type":"object","description":"Ignore; will be empty for errors"}}}]},"Geofence":{"required":["countries","restricted"],"type":"object","properties":{"countries":{"type":"array","description":"The list of countries as ISO 3166-1 abbreviations in which this media should be available if restricted is true","items":{"type":"string"}},"restricted":{"type":"boolean","description":"Whether any geographic restrictions should be applied","default":false}},"description":"The geographic restrictions that should be applied by the client before playing this media"},"ImageLink":{"description":"An image, along with metadata for display","allOf":[{"$ref":"#/components/schemas/AbstractLink"},{"required":["content-type"],"type":"object","properties":{"caption":{"type":"string","description":"The caption of the image; can be used as alternate text for accessibility"},"content-type":{"type":"string","description":"The MIME type of the response of this link; note that the enumerated list of possible values is not exhaustive and other MIME types could occur. The list should be treated as examples, rather than absolutes.","default":"image/jpeg","enum":["image/jpeg","image/png","image/gif"]},"image":{"type":"string","description":"A unique identifier for the image"},"producer":{"type":"string","description":"The producer of the image; should be used for properly attributing the image when it exists"},"provider":{"type":"string","description":"The provider of the image; should be used for properly attributing the image when it exists"},"rel":{"type":"string","description":"The crop type or intended display style/size; note that the enumerated list of possible values is not exhaustive and other values could occur. The list should be treated as examples, rather than absolutes.","default":"logo_square","enum":["logo_square","icon","wide","standard","square","enlargement","custom"]}}}]},"OrganizationCategoryAudioListDocument":{"description":"An array of a certain category of audio recommendations from a provider","allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/CategoryData"},"items":{"type":"array","description":"An array of Audio Items (recommendations)","items":{"$ref":"#/components/schemas/AudioItemDocument"}},"links":{"$ref":"#/components/schemas/CategoryLinks"}}}]},"OrganizationOverviewData":{"required":["brand","type"],"type":"object","properties":{"brand":{"$ref":"#/components/schemas/Brand"},"home":{"type":"boolean","description":"Flag indicating if the current view is in the user's home network"},"type":{"type":"string","description":"The type of list returned; will always be `organization`","default":"organization","enum":["organization"]}}},"OrganizationOverviewDocument":{"description":"a variety of details about an organization including various lists of recent audio items","allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/OrganizationOverviewData"},"items":{"type":"array","description":"A list of separate documents which each include their own list of audio","items":{"$ref":"#/components/schemas/OrganizationCategoryAudioListDocument"}},"links":{"$ref":"#/components/schemas/OrganizationOverviewLinks"}}}]},"OrganizationOverviewLinks":{"type":"object","properties":{"image":{"type":"array","description":"One or more links to an image that can be as for branding (logo and small logo)","items":{"$ref":"#/components/schemas/ImageLink"}},"related":{"type":"array","description":"One or more links to related web pages for the organization (their twitter feed or facebook page for example)","items":{"$ref":"#/components/schemas/OtherLink"}},"web":{"type":"array","description":"One or more links to main page for the organization (their homepage for example)","items":{"$ref":"#/components/schemas/OtherLink"}}}},"OtherLink":{"description":"An individual link from a list of links","allOf":[{"$ref":"#/components/schemas/AbstractLink"},{"required":["content-type"],"type":"object","properties":{"content-type":{"type":"string","description":"The MIME type of the response of this link; note that the enumerated list of possible values is not exhaustive and other MIME types could occur. The list should be treated as examples, rather than absolutes.","default":"application/json","enum":["application/json","application/xml","text/html"]},"linkText":{"type":"string","description":"Text recommended to accompany the link. For example, 'Read Story' with a full story link, or 'Read Transcript' with a transcript link."},"pollInterval":{"type":"integer","description":"When present, the recommended number of seconds between requests to the given URL","format":"int32"}}}]},"RatingData":{"required":["channel","cohort","duration","elapsed","mediaId","origin","rating","timestamp"],"type":"object","properties":{"affiliations":{"type":"array","description":"An array of IDs & other data about collections or podcasts the user has ratings for; produced by the server and should be sent back as received; used for tracking program and podcast suggestions","items":{"type":"object"}},"channel":{"type":"string","description":"The channel this media item was pulled from","default":"npr"},"cohort":{"type":"string","description":"The primary cohort of the current logged-in user"},"duration":{"maximum":9999,"minimum":0,"type":"integer","description":"Number of seconds this audio piece is expected to last","format":"int32"},"elapsed":{"maximum":9999,"minimum":0,"type":"integer","description":"Number of seconds since the start of playback for this media item, as an integer","format":"int32"},"mediaId":{"pattern":"^\\d{3,}:[\\w-]{5,}$","type":"string","description":"The media id as given by the media object"},"origin":{"pattern":"^[A-Z0-9_]{2,10}$","type":"string","description":"How the recommendation was generated"},"rating":{"pattern":"^[A-Z0-9_]{2,10}$","type":"string","description":"String representing the rating"},"timestamp":{"type":"string","description":"ISO-8601 formatted date/time; typically replaced by the client with the actual rating time","format":"date-time"}}},"RecommendationOrganization":{"required":["name"],"type":"object","properties":{"donateUrl":{"type":"string","description":"The URL of the organization's donate page"},"homepageUrl":{"type":"string","description":"The URL of the organization's homepage"},"logoUrl":{"type":"string","description":"A URL for an image of the organization's logo"},"name":{"type":"string","description":"The name of the organization"}},"description":"Data about the organization with which this media is associated"},"SearchItemDocument":{"required":["type"],"type":"object","properties":{"ifTypeAggregation":{"$ref":"#/components/schemas/AggregationAudioItemListDocument"},"ifTypeAudio":{"$ref":"#/components/schemas/AudioItemDocument"},"type":{"type":"string","description":"The type of search result, which is either an AggregationAudioItemListDocument or an AudioItemDocument","enum":["audio","aggregation"]}},"description":"A search result, which is either an AggregationAudioItemListDocument or an AudioItemDocument"},"SearchListDocument":{"description":"An array of aggregation or audio recommendations","allOf":[{"$ref":"#/components/schemas/CollectionDocument"},{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/SearchMetaData"},"items":{"type":"array","description":"A list of aggregation or audio items (recommendations)","items":{"$ref":"#/components/schemas/SearchItemDocument"}},"links":{"type":"object","description":"Not used"}}}]},"SearchMetaData":{"required":["query"],"type":"object","properties":{"query":{"type":"string","description":"The search terms used in the original request"}}}},"responses":{"400WithDocument":{"description":"A bad request; generally, one or more parameters passed in were incorrect or missing","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"401WithDocument":{"description":"The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"404WithDocument":{"description":"The resource with the requested ID could not be found, and the server was unable to complete the request.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"429WithDocument":{"description":"The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"500WithDocument":{"description":"A server error","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"503WithDocument":{"description":"The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.","headers":{"Retry-After":{"description":"The predicted time the system will be back up","schema":{"type":"string","format":"date-time"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/ErrorDocument"}}}},"ListeningSuccess":{"description":"A list of audio items (recommendations)","headers":{"X-RateLimit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudioItemListDocument"}},"application/vnd.collection.doc+json":{"schema":{"$ref":"#/components/schemas/AudioItemListDocument"}}}}},"parameters":{"Authorization":{"name":"Authorization","in":"header","description":"Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.","required":true,"schema":{"type":"string"}},"X-Advertising-ID":{"name":"X-Advertising-ID","in":"header","description":"A device-specific advertising identifier, if possible. Apple's IDFA is an example.","schema":{"type":"string"}},"channel":{"name":"channel","in":"query","description":"Determines the focus of the recommendations returned. Channel `npr` is recommended for most use cases.","schema":{"type":"string","default":"npr","enum":["npr","followed","recommended","emailstories","emailprograms","lapsedusersemail","ongoing email","newscasts","shows"]}}},"securitySchemes":{"oauth2":{"type":"oauth2"}}}}