{"openapi":"3.0.1","info":{"title":"Web Search Client","description":"The Web Search API lets you send a search query to Bing and get back search results that include links to webpages, images, and more.","version":"1.0"},"servers":[{"url":"https://api.cognitive.microsoft.com/bing/v7.0"}],"security":[{"apiKeyHeader":null}],"paths":{"/search":{"get":{"tags":["WebSearch"],"summary":"The Web Search API lets you send a search query to Bing and get back search results that include links to webpages, images, and more.","operationId":"Web_Search","parameters":[{"name":"X-BingApis-SDK","in":"header","description":"Activate swagger compliance","required":true,"schema":{"type":"string","enum":["true"]}},{"name":"Accept","in":"header","description":"The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.","schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the setLang query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the cc query parameter. Bing will use the first supported language it finds from the list, and combine that language with the cc parameter value to determine the market to return results for. If the list does not include a supported language, Bing will find the closest language and market that supports the request, and may use an aggregated or default market for the results instead of a specified one. You should use this header and the cc query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. A user interface string is a string that's used as a label in a user interface. There are very few user interface strings in the JSON response objects. Any links in the response objects to Bing.com properties will apply the specified language.","schema":{"type":"string"}},{"name":"Pragma","in":"header","description":"By default, Bing returns cached content, if available. To prevent Bing from returning cached content, set the Pragma header to no-cache (for example, Pragma: no-cache).","schema":{"type":"string"}},{"name":"User-Agent","in":"header","description":"The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are strongly encouraged to always specify this header. The user-agent should be the same string that any commonly used browser would send. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).","schema":{"type":"string"}},{"name":"X-MSEdge-ClientID","in":"header","description":"Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request.","schema":{"type":"string"}},{"name":"X-MSEdge-ClientIP","in":"header","description":"The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.","schema":{"type":"string"}},{"name":"X-Search-Location","in":"header","description":"A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header.","schema":{"type":"string"}},{"name":"answerCount","in":"query","description":"The number of answers that you want the response to include. The answers that Bing returns are based on ranking. For example, if Bing returns webpages, images, videos, and relatedSearches for a request and you set this parameter to two (2), the response includes webpages and images.If you included the responseFilter query parameter in the same request and set it to webpages and news, the response would include only webpages.","schema":{"type":"integer","format":"int32"}},{"name":"cc","in":"query","description":"A 2-character country code of the country where the results come from. This API supports only the United States market. If you specify this query parameter, it must be set to us. If you set this parameter, you must also specify the Accept-Language header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the mkt query parameter are mutually exclusive—do not specify both.","schema":{"type":"string"}},{"name":"count","in":"query","description":"The number of search results to return in the response. The default is 10 and the maximum value is 50. The actual number delivered may be less than requested.Use this parameter along with the offset parameter to page results.For example, if your user interface displays 10 search results per page, set count to 10 and offset to 0 to get the first page of results. For each subsequent page, increment offset by 10 (for example, 0, 10, 20). It is possible for multiple pages to include some overlap in results.","schema":{"type":"integer","format":"int32"}},{"name":"freshness","in":"query","description":"Filter search results by the following age values: Day—Return webpages that Bing discovered within the last 24 hours. Week—Return webpages that Bing discovered within the last 7 days. Month—Return webpages that discovered within the last 30 days. This filter applies only to webpage results and not to the other results such as news and images.","schema":{"type":"string","enum":["Day","Week","Month"]}},{"name":"mkt","in":"query","description":"The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in Market Codes, Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the cc query parameter are mutually exclusive—do not specify both.","schema":{"type":"string","default":"en-us"}},{"name":"offset","in":"query","description":"The zero-based offset that indicates the number of search results to skip before returning results. The default is 0. The offset should be less than (totalEstimatedMatches - count). Use this parameter along with the count parameter to page results. For example, if your user interface displays 10 search results per page, set count to 10 and offset to 0 to get the first page of results. For each subsequent page, increment offset by 10 (for example, 0, 10, 20). it is possible for multiple pages to include some overlap in results.","schema":{"type":"integer","format":"int32"}},{"name":"promote","in":"query","description":"A comma-delimited list of answers that you want the response to include regardless of their ranking. For example, if you set answerCount) to two (2) so Bing returns the top two ranked answers, but you also want the response to include news, you'd set promote to news. If the top ranked answers are webpages, images, videos, and relatedSearches, the response includes webpages and images because news is not a ranked answer. But if you set promote to video, Bing would promote the video answer into the response and return webpages, images, and videos. The answers that you want to promote do not count against the answerCount limit. For example, if the ranked answers are news, images, and videos, and you set answerCount to 1 and promote to news, the response contains news and images. Or, if the ranked answers are videos, images, and news, the response contains videos and news. Possible values are Computation, Images, News, RelatedSearches, SpellSuggestions, TimeZone, Videos, Webpages. Use only if you specify answerCount.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["WebPages","Images","SpellSuggestions","News","RelatedSearches","Videos","Computation","TimeZone"]}}},{"name":"q","in":"query","description":"The user's search query term. The term may not be empty. The term may contain Bing Advanced Operators. For example, to limit results to a specific domain, use the site: operator.","required":true,"schema":{"type":"string"}},{"name":"responseFilter","in":"query","description":"A comma-delimited list of answers to include in the response. If you do not specify this parameter, the response includes all search answers for which there's relevant data. Possible filter values are Computation, Images, News, RelatedSearches, SpellSuggestions, TimeZone, Videos, Webpages. Although you may use this filter to get a single answer, you should instead use the answer-specific endpoint in order to get richer results. For example, to receive only images, send the request to one of the Image Search API endpoints. The RelatedSearches and SpellSuggestions answers do not support a separate endpoint like the Image Search API does (only the Web Search API returns them). To include answers that would otherwise be excluded because of ranking, see the promote query parameter.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["WebPages","Images","SpellSuggestions","News","RelatedSearches","Videos","Computation","TimeZone"]}}},{"name":"safeSearch","in":"query","description":"A filter used to filter adult content. Off: Return webpages with adult text, images, or videos. Moderate: Return webpages with adult text, but not adult images or videos. Strict: Do not return webpages with adult text, images, or videos. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content.","schema":{"type":"string","enum":["Off","Moderate","Strict"]}},{"name":"setLang","in":"query","description":"The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the Accept-Language header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.","schema":{"type":"string"}},{"name":"textDecorations","in":"query","description":"A Boolean value that determines whether display strings should contain decoration markers such as hit highlighting characters. If true, the strings may include markers. The default is false. To specify whether to use Unicode characters or HTML tags as the markers, see the textFormat query parameter.","schema":{"type":"boolean"}},{"name":"textFormat","in":"query","description":"The type of markers to use for text decorations (see the textDecorations query parameter). Possible values are Raw—Use Unicode characters to mark content that needs special formatting. The Unicode characters are in the range E000 through E019. For example, Bing uses E000 and E001 to mark the beginning and end of query terms for hit highlighting. HTML—Use HTML tags to mark content that needs special formatting. For example, use <b> tags to highlight query terms in display strings. The default is Raw. For display strings that contain escapable HTML characters such as <, >, and &, if textFormat is set to HTML, Bing escapes the characters as appropriate (for example, < is escaped to &lt;).","schema":{"type":"string","enum":["Raw","Html"]}}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"default":{"description":"An error has occurred. Check the response type and/or status code for more details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Answer":{"properties":{"followUpQueries":{"type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/Query"}}},"allOf":[{"$ref":"#/components/schemas/Response"}]},"Article":{"properties":{"wordCount":{"type":"integer","description":"The number of words in the text of the Article.","format":"int32","readOnly":true}},"allOf":[{"$ref":"#/components/schemas/CreativeWork"}]},"Computation":{"properties":{"expression":{"type":"string","description":"The math or conversion expression. If the query contains a request to convert units of measure (for example, meters to feet), this field contains the from units and value contains the to units. If the query contains a mathematical expression such as 2+2, this field contains the expression and value contains the answer. Note that mathematical expressions may be normalized. For example, if the query was sqrt(4^2+8^2), the normalized expression may be sqrt((4^2)+(8^2)). If the user's query is a math question and the textDecorations query parameter is set to true, the expression string may include formatting markers. For example, if the user's query is log(2), the normalized expression includes the subscript markers. For more information, see Hit Highlighting."},"value":{"type":"string","description":"The expression's answer."}},"description":"Defines an expression and its answer","allOf":[{"$ref":"#/components/schemas/Answer"}]},"CreativeWork":{"properties":{"provider":{"type":"array","description":"The source of the creative work.","readOnly":true,"items":{"$ref":"#/components/schemas/Thing"}},"text":{"type":"string","readOnly":true},"thumbnailUrl":{"type":"string","description":"The URL to a thumbnail of the item.","readOnly":true}},"allOf":[{"$ref":"#/components/schemas/Thing"}]},"Error":{"required":["code","message"],"type":"object","properties":{"code":{"type":"string","description":"The error code that identifies the category of error.","default":"None","enum":["None","ServerError","InvalidRequest","RateLimitExceeded","InvalidAuthorization","InsufficientAuthorization"]},"message":{"type":"string","description":"A description of the error."},"moreDetails":{"type":"string","description":"A description that provides additional information about the error.","readOnly":true},"parameter":{"type":"string","description":"The parameter in the request that caused the error.","readOnly":true},"subCode":{"type":"string","description":"The error code that further helps to identify the error.","readOnly":true,"enum":["UnexpectedError","ResourceError","NotImplemented","ParameterMissing","ParameterInvalidValue","HttpNotAllowed","Blocked","AuthorizationMissing","AuthorizationRedundancy","AuthorizationDisabled","AuthorizationExpired"]},"value":{"type":"string","description":"The parameter's value in the request that was not valid.","readOnly":true}},"description":"Defines the error that occurred."},"ErrorResponse":{"properties":{"errors":{"type":"array","description":"A list of errors that describe the reasons why the request failed.","items":{"$ref":"#/components/schemas/Error"}}},"description":"The top-level response that represents a failed request.","allOf":[{"$ref":"#/components/schemas/Response"}]},"Identifiable":{"properties":{"id":{"type":"string","description":"A String identifier.","readOnly":true}},"description":"Defines the identity of a resource.","allOf":[{"$ref":"#/components/schemas/ResponseBase"}]},"ImageObject":{"properties":{"thumbnail":{"$ref":"#/components/schemas/ImageObject"}},"description":"Defines an image","allOf":[{"$ref":"#/components/schemas/MediaObject"}]},"Images":{"properties":{"nextOffset":{"type":"integer","format":"int32","readOnly":true},"queryExpansions":{"type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/Query"}},"relatedSearches":{"type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/Query"}},"similarTerms":{"type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/Query"}},"value":{"type":"array","description":"A list of image objects that are relevant to the query. If there are no results, the List is empty.","items":{"$ref":"#/components/schemas/ImageObject"}}},"description":"Defines an image answer","allOf":[{"$ref":"#/components/schemas/SearchResultsAnswer"}]},"Intangible":{"allOf":[{"$ref":"#/components/schemas/Thing"}]},"MediaObject":{"properties":{"contentUrl":{"type":"string","description":"Original URL to retrieve the source (file) for the media object (e.g the source URL for the image).","readOnly":true},"height":{"type":"integer","description":"The height of the source media object, in pixels.","format":"int32","readOnly":true},"hostPageUrl":{"type":"string","description":"URL of the page that hosts the media object.","readOnly":true},"width":{"type":"integer","description":"The width of the source media object, in pixels.","format":"int32","readOnly":true}},"allOf":[{"$ref":"#/components/schemas/CreativeWork"}]},"News":{"properties":{"location":{"type":"string","readOnly":true},"value":{"type":"array","description":"An array of NewsArticle objects that contain information about news articles that are relevant to the query. If there are no results to return for the request, the array is empty.","items":{"$ref":"#/components/schemas/NewsArticle"}}},"description":"Defines a news answer.","allOf":[{"$ref":"#/components/schemas/SearchResultsAnswer"}]},"NewsArticle":{"description":"Defines a news article.","allOf":[{"$ref":"#/components/schemas/Article"}]},"Places":{"properties":{"value":{"type":"array","description":"A list of local entities, such as restaurants or hotels.","items":{"$ref":"#/components/schemas/Thing"}}},"description":"Defines a local entity answer.","allOf":[{"$ref":"#/components/schemas/SearchResultsAnswer"}]},"Query":{"required":["text"],"type":"object","properties":{"displayText":{"type":"string","description":"The display version of the query term. This version of the query term may contain special characters that highlight the search term found in the query string. The string contains the highlighting characters only if the query enabled hit highlighting","readOnly":true},"searchLink":{"type":"string","readOnly":true},"text":{"type":"string","description":"The query string. Use this string as the query term in a new search request."},"thumbnail":{"$ref":"#/components/schemas/ImageObject"},"webSearchUrl":{"type":"string","description":"The URL that takes the user to the Bing search results page for the query.Only related search results include this field.","readOnly":true}},"description":"Defines a search query."},"QueryContext":{"required":["originalQuery"],"type":"object","properties":{"adultIntent":{"type":"boolean","description":"A Boolean value that indicates whether the specified query has adult intent. The value is true if the query has adult intent; otherwise, false.","readOnly":true},"alterationOverrideQuery":{"type":"string","description":"The query string to use to force Bing to use the original string. For example, if the query string is \"saling downwind\", the override query string will be \"+saling downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\". This field is included only if the original query string contains a spelling mistake.","readOnly":true},"alteredQuery":{"type":"string","description":"The query string used by Bing to perform the query. Bing uses the altered query string if the original query string contained spelling mistakes. For example, if the query string is \"saling downwind\", the altered query string will be \"sailing downwind\". This field is included only if the original query string contains a spelling mistake.","readOnly":true},"askUserForLocation":{"type":"boolean","description":"A Boolean value that indicates whether Bing requires the user's location to provide accurate results. If you specified the user's location by using the X-MSEdge-ClientIP and X-Search-Location headers, you can ignore this field. For location aware queries, such as \"today's weather\" or \"restaurants near me\" that need the user's location to provide accurate results, this field is set to true. For location aware queries that include the location (for example, \"Seattle weather\"), this field is set to false. This field is also set to false for queries that are not location aware, such as \"best sellers\".","readOnly":true},"isTransactional":{"type":"boolean","readOnly":true},"originalQuery":{"type":"string","description":"The query string as specified in the request."}},"description":"Defines the query context that Bing used for the request."},"RankingRankingGroup":{"required":["items"],"type":"object","properties":{"items":{"type":"array","description":"A list of search result items to display in the group.","items":{"$ref":"#/components/schemas/RankingRankingItem"}}},"description":"Defines a search results group, such as mainline."},"RankingRankingItem":{"required":["answerType"],"type":"object","properties":{"answerType":{"type":"string","description":"The answer that contains the item to display. Use the type to find the answer in the SearchResponse object. The type is the name of a SearchResponse field.","default":"WebPages","enum":["WebPages","Images","SpellSuggestions","News","RelatedSearches","Videos","Computation","TimeZone"]},"htmlIndex":{"type":"integer","format":"int32","readOnly":true},"resultIndex":{"type":"integer","description":"A zero-based index of the item in the answer.If the item does not include this field, display all items in the answer. For example, display all news articles in the News answer.","format":"int32","readOnly":true},"screenshotIndex":{"type":"integer","format":"int32","readOnly":true},"textualIndex":{"type":"integer","format":"int32","readOnly":true},"value":{"$ref":"#/components/schemas/Identifiable"}},"description":"Defines a search result item to display"},"RankingRankingResponse":{"type":"object","properties":{"mainline":{"$ref":"#/components/schemas/RankingRankingGroup"},"pole":{"$ref":"#/components/schemas/RankingRankingGroup"},"sidebar":{"$ref":"#/components/schemas/RankingRankingGroup"}},"description":"Defines where on the search results page content should be placed and in what order."},"RelatedSearchesRelatedSearchAnswer":{"properties":{"value":{"type":"array","description":"A list of related queries that were made by others.","items":{"$ref":"#/components/schemas/Query"}}},"description":"Defines a list of related queries made by others.","allOf":[{"$ref":"#/components/schemas/SearchResultsAnswer"}]},"Response":{"properties":{"webSearchUrl":{"type":"string","description":"The URL To Bing's search result for this item.","readOnly":true}},"description":"Defines a response. All schemas that could be returned at the root of a response should inherit from this","allOf":[{"$ref":"#/components/schemas/Identifiable"}]},"ResponseBase":{"required":["_type"],"type":"object","properties":{"_type":{"type":"string"}},"discriminator":{"propertyName":"_type"}},"SearchResponse":{"properties":{"computation":{"$ref":"#/components/schemas/Computation"},"images":{"$ref":"#/components/schemas/Images"},"news":{"$ref":"#/components/schemas/News"},"queryContext":{"$ref":"#/components/schemas/QueryContext"},"rankingResponse":{"$ref":"#/components/schemas/RankingRankingResponse"},"relatedSearches":{"$ref":"#/components/schemas/RelatedSearchesRelatedSearchAnswer"},"spellSuggestions":{"$ref":"#/components/schemas/SpellSuggestions"},"timeZone":{"$ref":"#/components/schemas/TimeZone"},"videos":{"$ref":"#/components/schemas/Videos"},"webPages":{"$ref":"#/components/schemas/WebWebAnswer"}},"description":"Defines the top-level object that the response includes when the request succeeds.","allOf":[{"$ref":"#/components/schemas/Response"}]},"SearchResultsAnswer":{"properties":{"isFamilyFriendly":{"type":"boolean","readOnly":true},"queryContext":{"$ref":"#/components/schemas/QueryContext"},"totalEstimatedMatches":{"type":"integer","description":"The estimated number of webpages that are relevant to the query. Use this number along with the count and offset query parameters to page the results.","format":"int64","readOnly":true}},"allOf":[{"$ref":"#/components/schemas/Answer"}]},"SpellSuggestions":{"properties":{"value":{"type":"array","description":"A list of suggested query strings that may represent the user's intention. The list contains only one Query object.","items":{"$ref":"#/components/schemas/Query"}}},"description":"Defines a suggested query string that likely represents the user's intent. The search results include this response if Bing determines that the user may have intended to search for something different. For example, if the user searches for alon brown, Bing may determine that the user likely intended to search for Alton Brown instead (based on past searches by others of Alon Brown).","allOf":[{"$ref":"#/components/schemas/SearchResultsAnswer"}]},"StructuredValue":{"allOf":[{"$ref":"#/components/schemas/Intangible"}]},"Thing":{"properties":{"bingId":{"type":"string","description":"An ID that uniquely identifies this item.","readOnly":true},"description":{"type":"string","description":"A short description of the item.","readOnly":true},"image":{"$ref":"#/components/schemas/ImageObject"},"name":{"type":"string","description":"The name of the thing represented by this object.","readOnly":true},"url":{"type":"string","description":"The URL to get more information about the thing represented by this object.","readOnly":true}},"allOf":[{"$ref":"#/components/schemas/Response"}]},"TimeZone":{"properties":{"otherCityTimes":{"type":"array","description":"A list of dates and times of nearby time zones.","readOnly":true,"items":{"$ref":"#/components/schemas/TimeZoneTimeZoneInformation"}},"primaryCityTime":{"$ref":"#/components/schemas/TimeZoneTimeZoneInformation"}},"description":"Defines the data and time of one or more geographic locations.","allOf":[{"$ref":"#/components/schemas/SearchResultsAnswer"}]},"TimeZoneTimeZoneInformation":{"required":["location","time","utcOffset"],"type":"object","properties":{"location":{"type":"string","description":"The name of the geographical location.For example, County; City; City, State; City, State, Country; or Time Zone."},"time":{"type":"string","description":"The data and time specified in the form, YYYY-MM-DDThh;mm:ss.ssssssZ."},"utcOffset":{"type":"string","description":"The offset from UTC. For example, UTC-7."}},"description":"Defines a date and time for a geographical location."},"VideoObject":{"properties":{"allowHttpsEmbed":{"type":"boolean","readOnly":true},"allowMobileEmbed":{"type":"boolean","readOnly":true},"embedHtml":{"type":"string","readOnly":true},"isSuperfresh":{"type":"boolean","readOnly":true},"motionThumbnailId":{"type":"string","readOnly":true},"motionThumbnailUrl":{"type":"string","readOnly":true},"thumbnail":{"$ref":"#/components/schemas/ImageObject"},"videoId":{"type":"string","readOnly":true},"viewCount":{"type":"integer","format":"int32","readOnly":true}},"description":"Defines a video object that is relevant to the query.","allOf":[{"$ref":"#/components/schemas/MediaObject"}]},"Videos":{"properties":{"nextOffset":{"type":"integer","format":"int32","readOnly":true},"queryExpansions":{"type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/Query"}},"relatedSearches":{"type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/Query"}},"value":{"type":"array","description":"A list of video objects that are relevant to the query.","items":{"$ref":"#/components/schemas/VideoObject"}}},"description":"Defines a video answer.","allOf":[{"$ref":"#/components/schemas/SearchResultsAnswer"}]},"WebMetaTag":{"type":"object","properties":{"content":{"type":"string","description":"The name of the metadata.","readOnly":true},"name":{"type":"string","description":"The metadata.","readOnly":true}},"description":"Defines a webpage's metadata."},"WebPage":{"properties":{"dateLastCrawled":{"type":"string","description":"The last time that Bing crawled the webpage. The date is in the form, YYYY-MM-DDTHH:MM:SS. For example, 2015-04-13T05:23:39.","readOnly":true},"deepLinks":{"type":"array","description":"A list of links to related content that Bing found in the website that contains this webpage. The Webpage object in this context includes only the name, url, urlPingSuffix, and snippet fields.","readOnly":true,"items":{"$ref":"#/components/schemas/WebPage"}},"displayUrl":{"type":"string","description":"The display URL of the webpage. The URL is meant for display purposes only and is not well formed.","readOnly":true},"primaryImageOfPage":{"$ref":"#/components/schemas/ImageObject"},"searchTags":{"type":"array","description":"A list of search tags that the webpage owner specified on the webpage. The API returns only indexed search tags. The name field of the MetaTag object contains the indexed search tag. Search tags begin with search.* (for example, search.assetId). The content field contains the tag's value.","readOnly":true,"items":{"$ref":"#/components/schemas/WebMetaTag"}},"snippet":{"type":"string","description":"A snippet of text from the webpage that describes its contents.","readOnly":true}},"description":"Defines a webpage that is relevant to the query.","allOf":[{"$ref":"#/components/schemas/CreativeWork"}]},"WebWebAnswer":{"properties":{"someResultsRemoved":{"type":"boolean","description":"A Boolean value that indicates whether the response excluded some results from the answer. If Bing excluded some results, the value is true.","readOnly":true},"value":{"type":"array","description":"A list of webpages that are relevant to the query.","items":{"$ref":"#/components/schemas/WebPage"}}},"description":"Defines a list of relevant webpage links.","allOf":[{"$ref":"#/components/schemas/SearchResultsAnswer"}]},"WebWebGrouping":{"required":["_type","webPages"],"type":"object","properties":{"_type":{"type":"string"},"webPages":{"type":"array","items":{"$ref":"#/components/schemas/WebPage"}}},"discriminator":{"propertyName":"_type"}}},"parameters":{"x-bingapis-sdk":{"name":"X-BingApis-SDK","in":"header","description":"Activate swagger compliance","required":true,"schema":{"type":"string","enum":["true"]}}},"securitySchemes":{"apiKeyHeader":{"type":"apiKey","name":"Ocp-Apim-Subscription-Key","in":"header"}}}}