{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Auckland Museum API",
    "description" : "This is technical documentation for the Auckland Museum API\n",
    "termsOfService" : "http://api.aucklandmuseum.com/terms/",
    "contact" : {
      "name" : "Auckland Museum API Team",
      "url" : "http://www.aucklandmuseum.com"
    },
    "license" : {
      "name" : "Auckland Museum licence",
      "url" : "http://www.aucklandmuseum.com"
    },
    "version" : "2.0.0"
  },
  "servers" : [ {
    "url" : "//api.aucklandmuseum.com/"
  } ],
  "tags" : [ {
    "name" : "media",
    "description" : "media - images and documents"
  }, {
    "name" : "subject",
    "description" : "information about subjects"
  }, {
    "name" : "search",
    "description" : "search for interesting data"
  }, {
    "name" : "sparql",
    "description" : "sparql queries"
  } ],
  "paths" : {
    "/id/media/{path}" : {
      "get" : {
        "tags" : [ "media" ],
        "summary" : "Retrieve media associated with Collections and Cenotaph subjects in Auckland Museum",
        "description" : "Gets `media` at a given path\n",
        "operationId" : "get media",
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "description" : "The media `identifier`\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rendering",
          "in" : "query",
          "description" : "The desired media `rendering`\n\nPossible values:\n* `original.jpg`\n* `original.pdf`\n* `thumbnail.jpg` (fixed with 70px)\n* `standard.jpg` (fixed width 440px and height 440px)\n* `preview.jpg` (fixed height 100px)\n",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "`media` found\n"
          },
          "404" : {
            "description" : "`media` not found\n"
          }
        }
      }
    },
    "/id/{identifier}" : {
      "get" : {
        "tags" : [ "subject" ],
        "summary" : "Explore details about a given subject node",
        "description" : "Gets information about a `subject` identified by the `identifier`.\n\nThe response format depends upon the `Accept` header.\n  - `text/html` - the default response type. Returned data can be easily viewed in any modern Internet Browser\n  - `application/ld+json` - the response will be in [JSON-LD](http://json-ld.org/)\n  - `application/json` - the response will be a simple JSON Object with keys (predicates) and values (objects).\n",
        "operationId" : "get subject",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "description" : "The identifier path of the `subject` you're looking for\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "`subject` found\n"
          },
          "404" : {
            "description" : "`subject` not found\n"
          }
        }
      }
    },
    "/search/{index}/{operation}" : {
      "get" : {
        "tags" : [ "search" ],
        "summary" : "Perform simple search queries over Auckland Museum Collections and Cenotaph data",
        "description" : "Use this endpoint to perform simple search queries for finding information and subjects you may be interested in\n\nSearches performed via this endpoint run against an [Elastic](www.elastic.co) server. This endpoint mirrors the Elastic search API documented [here](https://www.elastic.co/guide/en/elasticsearch/reference/1.5/search-search.html)\n\nUse the\n  - `collectionsonline` index to perform searches over other all\nCollections data\n  - `cenotaph` index to perform searches over Cenotaph data\n",
        "operationId" : "get search",
        "parameters" : [ {
          "name" : "index",
          "in" : "path",
          "description" : "search index name\nPossible values:\n* `collectionsonline`\n* `cenotaph`\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "operation",
          "in" : "path",
          "description" : "One of the supported elasticsearch operations like `_search` or `_suggest`",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "One of the supported elasticsearch query parameter values for key `q`",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "search results found"
          },
          "400" : {
            "description" : "bad request"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "post" : {
        "tags" : [ "search" ],
        "summary" : "Perform complex search queries over Auckland Museum Collections and Cenotaph data",
        "description" : "Searches performed via this endpoint run against an [Elastic](www.elastic.co) server. This endpoint mirrors the Elastic search API documented [here](https://www.elastic.co/guide/en/elasticsearch/reference/1.5/search-search.html)\n\nUse the\n  - `collectionsonline` index to perform searches over other all Collections data\n  - `cenotaph` index to perform searches over Cenotaph data\n",
        "operationId" : "post search",
        "parameters" : [ {
          "name" : "index",
          "in" : "path",
          "description" : "search index name\nPossible values:\n* `collectionsonline`\n* `cenotaph`\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "operation",
          "in" : "path",
          "description" : "One of the supported elasticsearch operations like `_search` or `_suggest`",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "body",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "format" : "application/json"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "search results found"
          },
          "400" : {
            "description" : "bad request"
          },
          "404" : {
            "description" : "not found"
          }
        }
      }
    },
    "/sparql" : {
      "get" : {
        "tags" : [ "sparql" ],
        "summary" : "Auckland Museum SPARQL endpoint",
        "description" : "You can execute your [SPARQL](http://www.w3.org/TR/rdf-sparql-query/) queries against this endpoint.\n\nThe sparql query should be provided as the value of the request parameter `query`.\nSet the `Accept` header to `application/sparql-results+xml` to get results in XML. Set it to `application/sparql-results+json` to get results in JSON. \n\n**Note:** This endpoints supports [JSON-P](http://json-p.org/). In order to get a JSON-P response, set the query parameter `callback` to your preferred callback function name. The default function name is `callback()`. When using JSON-P, there is no need to set the `Accept` header because the response will always be in `application/javascript`.\n",
        "operationId" : "get sparql",
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "sparql query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "The [JSON-P](http://json-p.org/) callback parameter",
          "schema" : {
            "type" : "string",
            "default" : "callback"
          }
        }, {
          "name" : "infer",
          "in" : "query",
          "description" : "Whether to get inferred results in the response",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "content" : {
              "application/sparql-results+json" : {
                "schema" : {
                  "title" : "json",
                  "type" : "object"
                }
              },
              "application/sparql-results+xml" : {
                "schema" : {
                  "title" : "json",
                  "type" : "object"
                }
              },
              "application/javascript" : {
                "schema" : {
                  "title" : "json",
                  "type" : "object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "sparql" ],
        "summary" : "Auckland Museum SPARQL endpoint",
        "description" : "You can execute your [SPARQL](http://www.w3.org/TR/rdf-sparql-query/) queries against this endpoint.\nThe sparql query should be provided as the value of the request parameter `query`.\nSet the `Accept` header to `application/sparql-results+xml` to get results in XML. Set it to `application/sparql-results+json` to get results in JSON. \n",
        "operationId" : "post sparql",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "query" ],
                "type" : "object",
                "properties" : {
                  "query" : {
                    "type" : "string",
                    "description" : "sparql query"
                  },
                  "infer" : {
                    "type" : "boolean",
                    "description" : "Whether to get inferred results in the response",
                    "default" : true
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "success"
          }
        }
      }
    }
  }
}