{"openapi":"3.0.1","info":{"title":"ApplicationInsightsManagementClient","description":"Azure Application Insights client for Components.","version":"2015-05-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Insights/components":{"get":{"description":"Gets a list of all Application Insights components within a subscription.","operationId":"Components_List","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"A list containing 0 or more Application Insights component definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components":{"get":{"description":"Gets a list of Application Insights components within a resource group.","operationId":"Components_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"A list containing 0 or more Application Insights component definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}":{"get":{"description":"Returns an Application Insights component.","operationId":"Components_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"An Application Insights Component definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponent"}}}}}},"put":{"description":"Creates (or updates) an Application Insights component. Note: You cannot specify a different value for InstrumentationKey nor AppId in the Put operation.","operationId":"Components_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties that need to be specified to create an Application Insights component.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponent"}}},"required":true},"responses":{"200":{"description":"Successful request when creating or updating an Application Insights component. The updated component is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponent"}}}}}},"delete":{"description":"Deletes an Application Insights component.","operationId":"Components_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request when deleting an Application Insights component."},"204":{"description":"The specified component does not exist."}}},"patch":{"description":"Updates an existing component's tags. To update other fields use the CreateOrUpdate method.","operationId":"Components_UpdateTags","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Updated tag information to set into the component instance.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagsResource"}}},"required":true},"responses":{"200":{"description":"Updating the Application Insights component's tags was successful. Component tags are updated and returned with the rest of the Component's object properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponent"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/operations/{purgeId}":{"get":{"description":"Get status for an ongoing purge operation.","operationId":"Components_GetPurgeStatus","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"purgeId","in":"path","description":"In a purge status request, this is the Id of the operation the status of which is returned.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns status of purge operation in body of response. e.g.:  running, completed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComponentPurgeStatusResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/purge":{"post":{"description":"Purges data in an Application Insights component by a set of user-defined filters.\n\nIn order to manage system resources, purge requests are throttled at 50 requests per hour. You should batch the execution of purge requests by sending a single command whose predicate includes all user identities that require purging. Use the in operator to specify multiple identities. You should run the query prior to using for a purge request to verify that the results are expected.","operationId":"Components_Purge","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Describes the body of a request to purge data in a single table of an Application Insights component","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComponentPurgeBody"}}},"required":true},"responses":{"202":{"description":"Accepted request for purging an Application Insights component.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComponentPurgeResponse"}}}}}}}},"components":{"schemas":{"ApplicationInsightsComponent":{"properties":{"kind":{"type":"string","description":"The kind of application that this component refers to, used to customize UI. This value is a freeform string, values should typically be one of the following: web, ios, other, store, java, phone."},"properties":{"$ref":"#/components/schemas/ApplicationInsightsComponentProperties"}},"description":"An Application Insights component definition.","allOf":[{"$ref":"#/components/schemas/ComponentsResource"}]},"ApplicationInsightsComponentListResult":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to get the next set of Application Insights component definitions if too many components where returned in the result set."},"value":{"type":"array","description":"List of Application Insights component definitions.","items":{"$ref":"#/components/schemas/ApplicationInsightsComponent"}}},"description":"Describes the list of Application Insights Resources."},"ApplicationInsightsComponentProperties":{"required":["Application_Type"],"type":"object","properties":{"AppId":{"type":"string","description":"Application Insights Unique ID for your Application.","readOnly":true},"ApplicationId":{"type":"string","description":"The unique ID of your application. This field mirrors the 'Name' field and cannot be changed.","readOnly":true},"Application_Type":{"type":"string","description":"Type of application being monitored.","default":"web","enum":["web","other"]},"ConnectionString":{"type":"string","description":"Application Insights component connection string.","readOnly":true},"CreationDate":{"type":"string","description":"Creation Date for the Application Insights component, in ISO 8601 format.","format":"date-time","readOnly":true},"DisableIpMasking":{"type":"boolean","description":"Disable IP masking."},"Flow_Type":{"type":"string","description":"Used by the Application Insights system to determine what kind of flow this component was created by. This is to be set to 'Bluefield' when creating/updating a component via the REST API.","default":"Bluefield","enum":["Bluefield"]},"HockeyAppId":{"type":"string","description":"The unique application ID created when a new application is added to HockeyApp, used for communications with HockeyApp."},"HockeyAppToken":{"type":"string","description":"Token used to authenticate communications with between Application Insights and HockeyApp.","readOnly":true},"ImmediatePurgeDataOn30Days":{"type":"boolean","description":"Purge data immediately after 30 days."},"InstrumentationKey":{"type":"string","description":"Application Insights Instrumentation key. A read-only value that applications can use to identify the destination for all telemetry sent to Azure Application Insights. This value will be supplied upon construction of each new Application Insights component.","readOnly":true},"Request_Source":{"type":"string","description":"Describes what tool created this Application Insights component. Customers using this API should set this to the default 'rest'.","default":"rest","enum":["rest"]},"RetentionInDays":{"type":"integer","description":"Retention period in days."},"SamplingPercentage":{"type":"number","description":"Percentage of the data produced by the application being monitored that is being sampled for Application Insights telemetry.","format":"double"},"TenantId":{"type":"string","description":"Azure Tenant Id.","readOnly":true},"provisioningState":{"type":"string","description":"Current state of this component: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.","readOnly":true}},"description":"Properties that define an Application Insights component resource."},"ComponentPurgeBody":{"required":["filters","table"],"type":"object","properties":{"filters":{"type":"array","description":"The set of columns and filters (queries) to run over them to purge the resulting data.","items":{"$ref":"#/components/schemas/ComponentPurgeBodyFilters"}},"table":{"type":"string","description":"Table from which to purge data."}},"description":"Describes the body of a purge request for an App Insights component"},"ComponentPurgeBodyFilters":{"type":"object","properties":{"column":{"type":"string","description":"The column of the table over which the given query should run"},"key":{"type":"string","description":"When filtering over custom dimensions, this key will be used as the name of the custom dimension."},"operator":{"type":"string","description":"A query operator to evaluate over the provided column and value(s). Supported operators are ==, =~, in, in~, >, >=, <, <=, between, and have the same behavior as they would in a KQL query."},"value":{"type":"object","description":"the value for the operator to function over. This can be a number (e.g., > 100), a string (timestamp >= '2017-09-01') or array of values."}},"description":"User-defined filters to return data which will be purged from the table."},"ComponentPurgeResponse":{"required":["operationId"],"type":"object","properties":{"operationId":{"type":"string","description":"Id to use when querying for status for a particular purge operation."}},"description":"Response containing operationId for a specific purge action."},"ComponentPurgeStatusResponse":{"required":["status"],"type":"object","properties":{"status":{"type":"string","description":"Status of the operation represented by the requested Id.","enum":["pending","completed"]}},"description":"Response containing status for a specific purge operation."},"ComponentsResource":{"required":["location"],"type":"object","properties":{"id":{"type":"string","description":"Azure resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Azure resource name","readOnly":true},"tags":{"type":"object","description":"Resource tags"},"type":{"type":"string","description":"Azure resource type","readOnly":true}},"description":"An azure resource object"},"TagsResource":{"type":"object","properties":{"tags":{"type":"object","description":"Resource tags"}},"description":"A container holding only the Tags for a resource, allowing the user to update the tags on a WebTest instance."}},"parameters":{"ComponentPurgeIdParameter":{"name":"purgeId","in":"path","description":"In a purge status request, this is the Id of the operation the status of which is returned.","required":true,"schema":{"type":"string"}},"ResourceNameParameter":{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}},"requestBodies":{"ComponentPurgeParameter":{"description":"Describes the body of a request to purge data in a single table of an Application Insights component","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComponentPurgeBody"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}