{"openapi":"3.0.1","info":{"title":"Azure SQL Database Datamasking Policies and Rules","description":"Provides create, read, update and delete functionality for Azure SQL Database datamasking policies and rules.","version":"2014-04-01"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}":{"get":{"tags":["DataMaskingPolicies"],"description":"Gets a database data masking policy.","operationId":"DataMaskingPolicies_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"dataMaskingPolicyName","in":"path","description":"The name of the database for which the data masking rule applies.","required":true,"schema":{"type":"string","enum":["Default"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataMaskingPolicy"}}}}}},"put":{"tags":["DataMaskingPolicies"],"description":"Creates or updates a database data masking policy","operationId":"DataMaskingPolicies_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"dataMaskingPolicyName","in":"path","description":"The name of the database for which the data masking rule applies.","required":true,"schema":{"type":"string","enum":["Default"]}}],"requestBody":{"description":"Parameters for creating or updating a data masking policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataMaskingPolicy"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataMaskingPolicy"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}/rules":{"get":{"tags":["DataMaskingRules"],"description":"Gets a list of database data masking rules.","operationId":"DataMaskingRules_ListByDatabase","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"dataMaskingPolicyName","in":"path","description":"The name of the database for which the data masking rule applies.","required":true,"schema":{"type":"string","enum":["Default"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataMaskingRuleListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}/rules/{dataMaskingRuleName}":{"put":{"tags":["DataMaskingRules"],"description":"Creates or updates a database data masking rule.","operationId":"DataMaskingRules_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"dataMaskingPolicyName","in":"path","description":"The name of the database for which the data masking rule applies.","required":true,"schema":{"type":"string","enum":["Default"]}},{"name":"dataMaskingRuleName","in":"path","description":"The name of the data masking rule.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The required parameters for creating or updating a data masking rule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataMaskingRule"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataMaskingRule"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataMaskingRule"}}}}}}}},"components":{"schemas":{"DataMaskingPolicy":{"properties":{"kind":{"type":"string","description":"The kind of data masking policy. Metadata, used for Azure portal.","readOnly":true},"location":{"type":"string","description":"The location of the data masking policy.","readOnly":true},"properties":{"$ref":"#/components/schemas/DataMaskingPolicyProperties"}},"description":"Represents a database data masking policy.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"DataMaskingPolicyProperties":{"required":["dataMaskingState"],"type":"object","properties":{"applicationPrincipals":{"type":"string","description":"The list of the application principals. This is a legacy parameter and is no longer used.","readOnly":true},"dataMaskingState":{"type":"string","description":"The state of the data masking policy.","enum":["Disabled","Enabled"]},"exemptPrincipals":{"type":"string","description":"The list of the exempt principals. Specifies the semicolon-separated list of database users for which the data masking policy does not apply. The specified users receive data results without masking for all of the database queries."},"maskingLevel":{"type":"string","description":"The masking level. This is a legacy parameter and is no longer used.","readOnly":true}},"description":"The properties of a database data masking policy."},"DataMaskingRule":{"properties":{"kind":{"type":"string","description":"The kind of Data Masking Rule. Metadata, used for Azure portal.","readOnly":true},"location":{"type":"string","description":"The location of the data masking rule.","readOnly":true},"properties":{"$ref":"#/components/schemas/DataMaskingRuleProperties"}},"description":"Represents a database data masking rule.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"DataMaskingRuleListResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of database data masking rules.","items":{"$ref":"#/components/schemas/DataMaskingRule"}}},"description":"The response to a list data masking rules request."},"DataMaskingRuleProperties":{"required":["columnName","maskingFunction","schemaName","tableName"],"type":"object","properties":{"aliasName":{"type":"string","description":"The alias name. This is a legacy parameter and is no longer used."},"columnName":{"type":"string","description":"The column name on which the data masking rule is applied."},"id":{"type":"string","description":"The rule Id.","readOnly":true},"maskingFunction":{"type":"string","description":"The masking function that is used for the data masking rule.","enum":["Default","CCN","Email","Number","SSN","Text"]},"numberFrom":{"type":"string","description":"The numberFrom property of the masking rule. Required if maskingFunction is set to Number, otherwise this parameter will be ignored."},"numberTo":{"type":"string","description":"The numberTo property of the data masking rule. Required if maskingFunction is set to Number, otherwise this parameter will be ignored."},"prefixSize":{"type":"string","description":"If maskingFunction is set to Text, the number of characters to show unmasked in the beginning of the string. Otherwise, this parameter will be ignored."},"replacementString":{"type":"string","description":"If maskingFunction is set to Text, the character to use for masking the unexposed part of the string. Otherwise, this parameter will be ignored."},"ruleState":{"type":"string","description":"The rule state. Used to delete a rule. To delete an existing rule, specify the schemaName, tableName, columnName, maskingFunction, and specify ruleState as disabled. However, if the rule doesn't already exist, the rule will be created with ruleState set to enabled, regardless of the provided value of ruleState.","enum":["Disabled","Enabled"]},"schemaName":{"type":"string","description":"The schema name on which the data masking rule is applied."},"suffixSize":{"type":"string","description":"If maskingFunction is set to Text, the number of characters to show unmasked at the end of the string. Otherwise, this parameter will be ignored."},"tableName":{"type":"string","description":"The table name on which the data masking rule is applied."}},"description":"The properties of a database data masking rule."}},"parameters":{"DataMaskingPolicyNameParameter":{"name":"dataMaskingPolicyName","in":"path","description":"The name of the database for which the data masking rule applies.","required":true,"schema":{"type":"string","enum":["Default"]}},"DatabaseNameParameter":{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}