{"openapi":"3.0.1","info":{"title":"SubscriptionsManagementClient","description":"The Admin Subscriptions Management Client.","version":"2015-11-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas":{"get":{"tags":["Quotas"],"description":"Get the list of quotas at a location.","operationId":"Quotas_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The AzureStack location.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2015-11-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuotaList"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas/{quota}":{"get":{"tags":["Quotas"],"description":"Gets a quota by name.","operationId":"Quotas_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The AzureStack location.","required":true,"schema":{"type":"string"}},{"name":"quota","in":"path","description":"Name of the quota.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2015-11-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Quota"}}}}}}}},"components":{"schemas":{"Quota":{"properties":{"properties":{"$ref":"#/components/schemas/QuotaProperties"}},"description":"Quotas for DelegatedProviders.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource"},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key-value pairs.","readOnly":true},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base Resource Object"}]},"QuotaList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to next page."},"value":{"type":"array","description":"List of quotas.","items":{"$ref":"#/components/schemas/Quota"}}},"description":"List of quotas."},"QuotaProperties":{"type":"object","properties":{"allowCustomPortalBranding":{"type":"boolean","description":"Value indicating whether custom portal branding is allowed."}},"description":"Quotas for DelegatedProviders."}},"parameters":{"QuotaParameter":{"name":"quota","in":"path","description":"Name of the quota.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 flow"}}}}