{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Security Center",
    "description" : "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version" : "2019-08-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/{resourceId}/providers/Microsoft.Security/deviceSecurityGroups" : {
      "get" : {
        "tags" : [ "DeviceSecurityGroups" ],
        "description" : "Use this method get the list of device security groups for the specified IoT Hub resource.",
        "operationId" : "DeviceSecurityGroups_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceId",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeviceSecurityGroupList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/deviceSecurityGroups/{deviceSecurityGroupName}" : {
      "get" : {
        "tags" : [ "DeviceSecurityGroups" ],
        "description" : "Use this method to get the device security group for the specified IoT Hub resource.",
        "operationId" : "DeviceSecurityGroups_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceId",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceSecurityGroupName",
          "in" : "path",
          "description" : "The name of the device security group. Note that the name of the device security group is case insensitive.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to get device security group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeviceSecurityGroup"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DeviceSecurityGroups" ],
        "description" : "Use this method to creates or updates the device security group on a specified IoT Hub resource.",
        "operationId" : "DeviceSecurityGroups_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceId",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceSecurityGroupName",
          "in" : "path",
          "description" : "The name of the device security group. Note that the name of the device security group is case insensitive.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Security group object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeviceSecurityGroup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Security group was updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeviceSecurityGroup"
                }
              }
            }
          },
          "201" : {
            "description" : "Security group was created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeviceSecurityGroup"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "DeviceSecurityGroups" ],
        "description" : "User this method to deletes the device security group.",
        "operationId" : "DeviceSecurityGroups_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceId",
          "in" : "path",
          "description" : "The identifier of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceSecurityGroupName",
          "in" : "path",
          "description" : "The name of the device security group. Note that the name of the device security group is case insensitive.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Device security group has been deleted."
          },
          "204" : {
            "description" : "Device security group does not exist."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AllowlistCustomAlertRule" : {
        "required" : [ "allowlistValues" ],
        "properties" : {
          "allowlistValues" : {
            "type" : "array",
            "description" : "The values to allow. The format of the values depends on the rule type.",
            "items" : {
              "type" : "string"
            }
          },
          "ruleType" : {
            "type" : "string",
            "description" : "The type of the custom alert rule.",
            "enum" : [ "ConnectionToIpNotAllowed", "LocalUserNotAllowed", "ProcessNotAllowed" ]
          }
        },
        "description" : "A custom alert rule that checks if a value (depends on the custom alert type) is allowed.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ListCustomAlertRule"
        } ]
      },
      "CustomAlertRule" : {
        "required" : [ "isEnabled", "ruleType" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The description of the custom alert.",
            "readOnly" : true
          },
          "displayName" : {
            "type" : "string",
            "description" : "The display name of the custom alert.",
            "readOnly" : true
          },
          "isEnabled" : {
            "type" : "boolean",
            "description" : "Status of the custom alert."
          },
          "ruleType" : {
            "type" : "string",
            "description" : "The type of the custom alert rule."
          }
        },
        "description" : "A custom alert rule."
      },
      "DenylistCustomAlertRule" : {
        "required" : [ "denylistValues" ],
        "properties" : {
          "denylistValues" : {
            "type" : "array",
            "description" : "The values to deny. The format of the values depends on the rule type.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "A custom alert rule that checks if a value (depends on the custom alert type) is denied.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ListCustomAlertRule"
        } ]
      },
      "DeviceSecurityGroup" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DeviceSecurityGroupProperties"
          }
        },
        "description" : "The device security group resource",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type",
              "readOnly" : true
            }
          },
          "description" : "Describes an Azure resource."
        } ]
      },
      "DeviceSecurityGroupList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of device security group objects",
            "items" : {
              "$ref" : "#/components/schemas/DeviceSecurityGroup"
            }
          }
        },
        "description" : "List of device security groups"
      },
      "DeviceSecurityGroupProperties" : {
        "type" : "object",
        "properties" : {
          "allowlistRules" : {
            "type" : "array",
            "description" : "The allow-list custom alert rules.",
            "items" : {
              "$ref" : "#/components/schemas/AllowlistCustomAlertRule"
            }
          },
          "denylistRules" : {
            "type" : "array",
            "description" : "The deny-list custom alert rules.",
            "items" : {
              "$ref" : "#/components/schemas/DenylistCustomAlertRule"
            }
          },
          "thresholdRules" : {
            "type" : "array",
            "description" : "The list of custom alert threshold rules.",
            "items" : {
              "$ref" : "#/components/schemas/ThresholdCustomAlertRule"
            }
          },
          "timeWindowRules" : {
            "type" : "array",
            "description" : "The list of custom alert time-window rules.",
            "items" : {
              "$ref" : "#/components/schemas/TimeWindowCustomAlertRule"
            }
          }
        },
        "description" : "describes properties of a security group."
      },
      "ListCustomAlertRule" : {
        "properties" : {
          "valueType" : {
            "type" : "string",
            "description" : "The value type of the items in the list.",
            "readOnly" : true,
            "enum" : [ "IpCidr", "String" ]
          }
        },
        "description" : "A List custom alert rule.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/CustomAlertRule"
        } ]
      },
      "ThresholdCustomAlertRule" : {
        "required" : [ "maxThreshold", "minThreshold" ],
        "properties" : {
          "maxThreshold" : {
            "type" : "integer",
            "description" : "The maximum threshold."
          },
          "minThreshold" : {
            "type" : "integer",
            "description" : "The minimum threshold."
          }
        },
        "description" : "A custom alert rule that checks if a value (depends on the custom alert type) is within the given range.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/CustomAlertRule"
        } ]
      },
      "TimeWindowCustomAlertRule" : {
        "required" : [ "timeWindowSize" ],
        "properties" : {
          "ruleType" : {
            "type" : "string",
            "description" : "The type of the custom alert rule.",
            "enum" : [ "ActiveConnectionsNotInAllowedRange", "AmqpC2DMessagesNotInAllowedRange", "MqttC2DMessagesNotInAllowedRange", "HttpC2DMessagesNotInAllowedRange", "AmqpC2DRejectedMessagesNotInAllowedRange", "MqttC2DRejectedMessagesNotInAllowedRange", "HttpC2DRejectedMessagesNotInAllowedRange", "AmqpD2CMessagesNotInAllowedRange", "MqttD2CMessagesNotInAllowedRange", "HttpD2CMessagesNotInAllowedRange", "DirectMethodInvokesNotInAllowedRange", "FailedLocalLoginsNotInAllowedRange", "FileUploadsNotInAllowedRange", "QueuePurgesNotInAllowedRange", "TwinUpdatesNotInAllowedRange", "UnauthorizedOperationsNotInAllowedRange" ]
          },
          "timeWindowSize" : {
            "type" : "string",
            "description" : "The time window size in iso8601 format.",
            "format" : "duration"
          }
        },
        "description" : "A custom alert rule that checks if the number of activities (depends on the custom alert type) in a time window is within the given range.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ThresholdCustomAlertRule"
        } ]
      }
    },
    "parameters" : {
      "DeviceSecurityGroupName" : {
        "name" : "deviceSecurityGroupName",
        "in" : "path",
        "description" : "The name of the device security group. Note that the name of the device security group is case insensitive.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "DeviceSecurityGroup" : {
        "description" : "Security group object.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/DeviceSecurityGroup"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}