{"openapi":"3.0.1","info":{"title":"NetworkManagementClient","description":"The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.","version":"2019-07-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availableDelegations":{"get":{"description":"Gets all of the available subnet delegations for this subscription in this region.","operationId":"AvailableDelegations_List","parameters":[{"name":"location","in":"path","description":"The location of the subnet.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns all of the possible delegations for a subnet in this subscription in the region.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvailableDelegationsResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availableDelegations":{"get":{"description":"Gets all of the available subnet delegations for this resource group in this region.","operationId":"AvailableResourceGroupDelegations_List","parameters":[{"name":"location","in":"path","description":"The location of the domain name.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request successful. Returns all of the possible delegations for a subnet in this subscription in the region.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvailableDelegationsResult"}}}}}}}},"components":{"schemas":{"AvailableDelegation":{"type":"object","properties":{"actions":{"type":"array","description":"Describes the actions permitted to the service upon delegation.","items":{"type":"string"}},"id":{"type":"string","description":"A unique identifier of the AvailableDelegation resource."},"name":{"type":"string","description":"The name of the AvailableDelegation resource."},"serviceName":{"type":"string","description":"The name of the service and resource."},"type":{"type":"string","description":"Resource type."}},"description":"The serviceName of an AvailableDelegation indicates a possible delegation for a subnet."},"AvailableDelegationsResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of results.","readOnly":true},"value":{"type":"array","description":"An array of available delegations.","items":{"$ref":"#/components/schemas/AvailableDelegation"}}},"description":"An array of available delegations."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}