{"openapi":"3.0.1","info":{"title":"TransitFeeds API","description":"API to view feed information and download feeds from TransitFeeds.com\n","contact":{"name":"TransitFeeds.com","url":"https://transitfeeds.com/issues","email":"support@transitfeeds.com"},"version":"1.0.0"},"servers":[{"url":"https://api.transitfeeds.com/v1"}],"paths":{"/getFeedVersions":{"get":{"summary":"Retrieve a list of versions of specified (or all) feeds.","description":"This API call allows you to easily see every single feed update in the TranstiFeeds.com system. Since this can be quite\nlong, it's also possible to filter this list by a single feed ID.\n","operationId":"getFeedVersions","parameters":[{"name":"key","in":"query","description":"Your personal API key, used for authentication.","required":true,"schema":{"type":"string","default":"YOUR_API_KEY"}},{"name":"feed","in":"query","description":"If you only want to retrieve feed versions for a particular feed, include its ID here. You can use the `/getFeeds` call to discover feed IDs.","schema":{"type":"string"}},{"name":"page","in":"query","description":"The page number of results to return. For example, if you specify a `page` of `2` with a `limit` of 10, then results 11-20 are returned.\nThe number of pages available is included in the response.\n","schema":{"type":"integer","default":1}},{"name":"limit","in":"query","description":"The maximum number of results to return..","schema":{"type":"integer","default":10}},{"name":"err","in":"query","description":"To include any errors detected when importing this feed in the response, specify a valud of `1`.","schema":{"type":"integer","default":1,"enum":[0,1]}},{"name":"warn","in":"query","description":"To include any warnings detected when importing this feed in the response, specify a valud of `1`.","schema":{"type":"integer","default":1,"enum":[0,1]}}],"responses":{"200":{"description":"The response for a valid `/getFeedVersions` API call.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFeedVersionsResponse"}}}}}}},"/getFeeds":{"get":{"summary":"Retrieve a list of feeds.","description":"Used this API to retrieve a list of feeds in the system. Doing so can be usedful to discover feed IDs that\ncan be used in other API calls.\n","operationId":"getFeeds","parameters":[{"name":"key","in":"query","description":"Your personal API key, used for authentication.","required":true,"schema":{"type":"string","default":"YOUR_API_KEY"}},{"name":"location","in":"query","description":"This is the unique ID of a location. If specified, feeds will only be returned that belong to this location\n(and perhaps sub-locations too, depending on the `descendants` value). You can use the `/getLocations` API\nendpoint to determine location IDs.\n","schema":{"type":"integer"}},{"name":"descendants","in":"query","description":"If a location is specified in `location`, this flag can be used to control if returned feeds must be assigned directly to the location, or if feeds belonging to sub-locations can also be returned. If `0`, then feeds must be assigned directly to the specified location.","schema":{"type":"integer","default":1,"enum":[0,1]}},{"name":"page","in":"query","description":"The page number of results to return. For example, if you specify a `page` of `2` with a `limit` of 10, then results 11-20 are returned.\nThe number of pages available is included in the response.\n","schema":{"type":"integer","default":1}},{"name":"limit","in":"query","description":"The maximum number of results to return..","schema":{"type":"integer","default":10}},{"name":"type","in":"query","description":"The type of feeds to return. If unspecified, feeds of all types are returned.","schema":{"type":"string","enum":["gtfs","gtfsrealtime"]}}],"responses":{"200":{"description":"The response for a valid `/getFeeds` API call.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFeedsResponse"}}}}}}},"/getLatestFeedVersion":{"get":{"summary":"Retrieve the download URL for the latest version of a feed.","description":"Once you have used `/getFeeds` to discover a feed's URL, you can use this endpoint to download its latest version from TranstiFeeds.\nIt will be unmodified in the original format from the provider.\n","operationId":"getLatestFeedVersion","parameters":[{"name":"key","in":"query","description":"Your personal API key, used for authentication.","required":true,"schema":{"type":"string","default":"YOUR_API_KEY"}},{"name":"feed","in":"query","description":"The ID of the feed to retrieve the latest feed version for. You can use the `/getFeeds` call to discover feed IDs.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The response for a `/getLatestFeedVersion` API call that includes invalid request parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLatestFeedVersionResponse"}}}},"302":{"description":"If a `/getLatestFeedVersion` request is valid, then a HTTP 302 Temporary Redirect is issued to the download location.\nFor example, if the requested feed is a GTFS feed, then this will redirect to the URL of the latest zip file for\nthis feed.\n","headers":{"Location":{"schema":{"type":"string"}}}}}}},"/getLocations":{"get":{"summary":"Retrieve a list of locations.","description":"Retrieve a list of locations. Each location (except for the root) has a parent location, and each\nlocation has zero or more child locations. This hierarchy is generally structured so countries contain\nstates, states contain cities (although this typically depends on the country).\n","operationId":"getLocations","parameters":[{"name":"key","in":"query","description":"Your personal API key, used for authentication.","required":true,"schema":{"type":"string","default":"YOUR_API_KEY"}}],"responses":{"200":{"description":"The response for a valid `getLocations` API call.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLocationsResponse"}}}},"401":{"description":"The response for invalid key or permission denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API401Response"}}}},"404":{"description":"The response for invalid API method.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/API404Response"}}}}}}}},"components":{"schemas":{"API401Response":{"type":"object","properties":{"msg":{"type":"string","description":"Description of the error."},"status":{"type":"string","description":"Indicates the status of this request.","enum":["INVALIDKEY","PERMISSIONDENIED"]},"ts":{"type":"integer","description":"Indicates the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT)."}},"description":"This element contains information about a 401 Unauthorized error."},"API404Response":{"type":"object","properties":{"msg":{"type":"string","description":"Description of the error."},"status":{"type":"string","description":"Indicates the status of this request.","enum":["INVALIDMETHOD"]},"ts":{"type":"integer","description":"Indicates the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT)."}},"description":"This element contains information about a 404 File Not Found error."},"Feed":{"required":["id","l","t","ty"],"type":"object","properties":{"id":{"type":"string","description":"The unique ID for this feed. This is constructed using the ID of the feed's provider and an internal ID. This ID\ncan be used in other calls, such as `/getFeedVersions` or `/getLatestFeedVersion`.\n"},"l":{"$ref":"#/components/schemas/Location"},"latest":{"type":"object","properties":{"ts":{"type":"integer","description":"Indicates the timestamp of the latest feed version (in number of seconds since the epoch (January 1 1970 00:00:00 GMT)."}},"description":"If available, contains information about the latest version of this feed. This can help to determine if you need to call\n`/getLatestFeedVersion` to retrieve a newer version of a feed.\n"},"t":{"type":"string","description":"The title of the feed as it appears on TransitFeeds.com"},"ty":{"type":"string","description":"The type of feed (such as GTFS or GTFS-realtime).","enum":["gtfs","gtfsrealtime"]},"u":{"type":"object","properties":{"d":{"type":"string","description":"If available, this contains a URL to download the feed directly from the provider (as opposed to downloading from TransitFeeds.com).\n"},"i":{"type":"string","description":"If available, this contains a URL with additional information about registering or downloading the feed from the provider.\n"}},"description":"Contains URLs with additional information about this feed."}},"description":"Contains the information about a single feed."},"FeedVersion":{"required":["f","id","size","ts","url"],"type":"object","properties":{"d":{"type":"object","properties":{"f":{"type":"string","description":"The start date of the feed version, in `YYYYMMDD` format."},"s":{"type":"string","description":"The start date of the feed version, in `YYYYMMDD` format."}},"description":"Contains the start/finish dates for this feed version, if available.\n"},"err":{"type":"array","description":"If you have included an `err` value of `1` in your request, then any errors detected when importing this feed version are included.","items":{"$ref":"#/components/schemas/FeedVersionIssue"}},"f":{"$ref":"#/components/schemas/Feed"},"id":{"type":"string","description":"The unique ID for this feed. This is constructed using the feed ID and an internal ID (generally the date it was imported, but not always, so do not rely on this)."},"size":{"type":"integer","description":"The filesize in bytes of the feed version when compressed."},"ts":{"type":"integer","description":"The timestamp of when this feed version was registered in the TransitFeeds.com system (in number of seconds since the epoch (January 1 1970 00:00:00 GMT)."},"url":{"type":"string","description":"This is the URL to directly download the feed version via the TranstiFeeds.com web site (and not via the API). In other words,\nyou can provide a download URL without exposing your API key to others.\n"},"warn":{"type":"array","description":"If you have included a `warn` value of `1` in your request, then any warnings detected when importing this feed version are included.","items":{"$ref":"#/components/schemas/FeedVersionIssue"}}},"description":"Contains the information about a single feed version."},"FeedVersionIssue":{"type":"object","properties":{"c":{"type":"string","description":"The column name (if referring to a GTFS file / CSV file) associated with the issue."},"f":{"type":"string","description":"The filename associated with this issue."},"l":{"type":"string","description":"The line number in the given file associated with the issue."},"m":{"type":"string","description":"A description of the issue."}},"description":"Contains the information about a single error or warning associated with a feed version."},"GetFeedVersionsResponse":{"type":"object","properties":{"msg":{"type":"string","description":"Description of the error, if the `status` value was not `OK`."},"results":{"type":"object","properties":{"feeds":{"type":"array","description":"An array of zero or more feed versions.","items":{"$ref":"#/components/schemas/FeedVersion"}},"input":{"type":"string","description":"If the status value is `MISSINGINPUT` or `INVALIDINPUT`, this field contains the name of the offending field."},"limit":{"type":"integer","description":"The maximum number of feed versions that can be returned in this response. If the final page is being\nrequested then this number may be larger than the number of feed versions returned in `versions`.\n"},"numPages":{"type":"integer","description":"The number of pages available, based on the `total` and `limit`."},"page":{"type":"integer","description":"The page number being requested, based on the maximum number than can be returned from in `limit`."},"total":{"type":"integer","description":"The total number of feed versions found based on the request input. Note that this number may be larger\nthan the number of feed versions returned in `versions`, based on the values for `limit` and `page`.\n"}},"description":"Contains requested data for a valid request."},"status":{"type":"string","description":"Indicates the success status of this request. The following values are possible:\n\n* `OK` - Request was valid.\n* `DEPRECATED` - Request resolved to a deprecated resource which will not be returned.\n* `EMPTYKEY` - Request was missing API key.\n* `MISSINGINPUT` - A required request parameter was missing.\n* `INVALIDINPUT` - A request parameter was invalid.\n","enum":["OK","DEPRECATED","EMPTYKEY","MISSINGINPUT","INVALIDINPUT"]},"ts":{"type":"integer","description":"Indicates the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT)."}},"description":"This element contains the response for a `/getFeedVersions` request."},"GetFeedsResponse":{"type":"object","properties":{"msg":{"type":"string","description":"Description of the error, if the `status` value was not `OK`."},"results":{"type":"object","properties":{"feeds":{"type":"array","description":"An array of zero or more feeds.","items":{"$ref":"#/components/schemas/Feed"}},"input":{"type":"string","description":"If the status value is `MISSINGINPUT` or `INVALIDINPUT`, this field contains the name of the offending field."},"limit":{"type":"integer","description":"The maximum number of feeds that can be returned in this response. If the final page is being\nrequested then this number may be larger than the number of feeds returned in `feeds`.\n"},"numPages":{"type":"integer","description":"The number of pages available, based on the `total` and `limit`."},"page":{"type":"integer","description":"The page number being requested, based on the maximum number than can be returned from in `limit`."},"total":{"type":"integer","description":"The total number of feeds found based on the request input. Note that this number may be larger\nthan the number of feeds returned in `feeds`, based on the values for `limit` and `page`.\n"}},"description":"Contains requested data for a valid request."},"status":{"type":"string","description":"Indicates the success status of this request. The following values are possible:\n\n* `OK` - Request was valid.\n* `EMPTYKEY` - Request was missing API key.\n* `MISSINGINPUT` - A required request parameter was missing.\n* `INVALIDINPUT` - A request parameter was invalid.\n","enum":["OK","EMPTYKEY","MISSINGINPUT","INVALIDINPUT"]},"ts":{"type":"integer","description":"Indicates the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT)."}},"description":"This element contains the response for a `/getFeeds` request."},"GetLatestFeedVersionResponse":{"type":"object","properties":{"msg":{"type":"string","description":"Description of the error, if the `status` value was not `OK`."},"results":{"type":"object","properties":{"feeds":{"type":"array","description":"An array of zero or more feed versions.","items":{"$ref":"#/components/schemas/FeedVersion"}},"input":{"type":"string","description":"If the status value is `MISSINGINPUT` or `INVALIDINPUT`, this field contains the name of the offending field."},"limit":{"type":"integer","description":"The maximum number of feed versions that can be returned in this response. If the final page is being\nrequested then this number may be larger than the number of feed versions returned in `versions`.\n"},"numPages":{"type":"integer","description":"The number of pages available, based on the `total` and `limit`."},"page":{"type":"integer","description":"The page number being requested, based on the maximum number than can be returned from in `limit`."},"total":{"type":"integer","description":"The total number of feed versions found based on the request input. Note that this number may be larger\nthan the number of feed versions returned in `versions`, based on the values for `limit` and `page`.\n"}},"description":"Contains requested data for a valid request."},"status":{"type":"string","description":"Indicates the success status of this request. The following values are possible:\n\n* `OK` - Request was valid.\n* `DEPRECATED` - Request resolved to a deprecated resource which will not be returned.\n* `EMPTYKEY` - Request was missing API key.\n* `MISSINGINPUT` - A required request parameter was missing.\n* `INVALIDINPUT` - A request parameter was invalid.\n* `OTHER` - Some other error occurred.\n","enum":["OK","DEPRECATED","EMPTYKEY","MISSINGINPUT","INVALIDINPUT","OTHER"]},"ts":{"type":"integer","description":"Indicates the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT)."}},"description":"This element contains the response for a `/getLatestFeedVersion` request."},"GetLocationsResponse":{"type":"object","properties":{"msg":{"type":"string","description":"Description of the error, if the `status` value was not `OK`."},"results":{"type":"object","properties":{"input":{"type":"string","description":"If the status value is `MISSINGINPUT` or `INVALIDINPUT`, this field contains the name of the offending field."},"locations":{"type":"array","description":"An array of zero or more locations.","items":{"$ref":"#/components/schemas/Location"}}},"description":"Contains requested data for a valid request."},"status":{"type":"string","description":"Indicates the success status of this request. The following values are possible:\n\n* `OK` - Request was valid.\n* `EMPTYKEY` - Request was missing API key.\n* `MISSINGINPUT` - A required request parameter was missing.\n* `INVALIDINPUT` - A request parameter was invalid.\n","enum":["OK","EMPTYKEY","MISSINGINPUT","INVALIDINPUT"]},"ts":{"type":"integer","description":"Indicates the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT)."}},"description":"This element contains the response for a `/getLocations` request."},"Location":{"required":["id","lat","lng","n","pid","t"],"type":"object","properties":{"id":{"type":"integer","description":"The unique ID for this location."},"lat":{"type":"number","description":"The latitude of the approximate point of this location.","format":"double"},"lng":{"type":"number","description":"The longitude of the approximate point of this location.","format":"double"},"n":{"type":"string","description":"The title of this location on its own (i.e. without any state or country information)."},"pid":{"type":"integer","description":"The ID for the parent location. If a location has no parent this value is `0`."},"t":{"type":"string","description":"The title of this location. This may include state/province and country, depending\n on the location of type it refers to.\n"}},"description":"Contains the information about a single location."}}}}