{"openapi":"3.0.1","info":{"title":"Azure Log Analytics","description":"Azure Log Analytics API reference","version":"2015-11-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.OperationalInsights/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available OperationalInsights Rest API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/workspaces":{"get":{"tags":["Workspaces"],"description":"Gets the workspaces in a subscription.","operationId":"Workspaces_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces":{"get":{"tags":["Workspaces"],"description":"Gets workspaces in a resource group.","operationId":"Workspaces_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}":{"get":{"tags":["Workspaces"],"description":"Gets a workspace instance.","operationId":"Workspaces_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name of the workspace.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}}}},"put":{"tags":["Workspaces"],"description":"Create or update a workspace.","operationId":"Workspaces_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name of the workspace.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace.","required":true,"schema":{"maxLength":63,"minLength":4,"pattern":"^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$","type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters required to create or update a workspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}},"required":true},"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"201":{"description":"Created response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}}}},"delete":{"tags":["Workspaces"],"description":"Deletes a workspace instance.","operationId":"Workspaces_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name of the workspace.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition."},"204":{"description":"NoContent response definition."}}},"patch":{"tags":["Workspaces"],"description":"Updates a workspace.","operationId":"Workspaces_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name of the workspace.","required":true,"schema":{"type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace.","required":true,"schema":{"maxLength":63,"minLength":4,"pattern":"^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$","type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters required to patch a workspace.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}},"required":true},"responses":{"200":{"description":"The existing workspace was successfully updated. Check provisioningStatus to see detailed status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataSources":{"get":{"tags":["DataSources"],"description":"Gets the first page of data source instances in a workspace with the link to the next page.","operationId":"DataSources_ListByWorkspace","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The workspace that contains the data sources.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation.","required":true,"schema":{"type":"string"}},{"name":"$skiptoken","in":"query","description":"Starting point of the collection of data source instances.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataSourceListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataSources/{dataSourceName}":{"get":{"tags":["DataSources"],"description":"Gets a datasource instance.","operationId":"DataSources_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace that contains the datasource.","required":true,"schema":{"type":"string"}},{"name":"dataSourceName","in":"path","description":"Name of the datasource","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataSource"}}}}}},"put":{"tags":["DataSources"],"description":"Create or update a data source.","operationId":"DataSources_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace that will contain the datasource","required":true,"schema":{"type":"string"}},{"name":"dataSourceName","in":"path","description":"The name of the datasource resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters required to create or update a datasource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataSource"}}},"required":true},"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataSource"}}}},"201":{"description":"Created response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataSource"}}}}}},"delete":{"tags":["DataSources"],"description":"Deletes a data source instance.","operationId":"DataSources_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace that contains the datasource.","required":true,"schema":{"type":"string"}},{"name":"dataSourceName","in":"path","description":"Name of the datasource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition."},"204":{"description":"NoContent response definition."}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks":{"get":{"tags":["Workspaces"],"description":"Lists all the intelligence packs possible and whether they are enabled or disabled for a given workspace.","operationId":"Workspaces_ListIntelligencePacks","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IntelligencePack"}}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks/{intelligencePackName}/Disable":{"post":{"tags":["Workspaces"],"description":"Disables an intelligence pack for a given workspace.","operationId":"Workspaces_DisableIntelligencePack","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace.","required":true,"schema":{"type":"string"}},{"name":"intelligencePackName","in":"path","description":"The name of the intelligence pack to be disabled.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition."}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks/{intelligencePackName}/Enable":{"post":{"tags":["Workspaces"],"description":"Enables an intelligence pack for a given workspace.","operationId":"Workspaces_EnableIntelligencePack","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace.","required":true,"schema":{"type":"string"}},{"name":"intelligencePackName","in":"path","description":"The name of the intelligence pack to be enabled.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition."}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/linkedServices":{"get":{"tags":["LinkedServices"],"description":"Gets the linked services instances in a workspace.","operationId":"LinkedServices_ListByWorkspace","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace that contains the linked services.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedServiceListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/linkedServices/{linkedServiceName}":{"get":{"tags":["LinkedServices"],"description":"Gets a linked service instance.","operationId":"LinkedServices_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace that contains the linkedServices resource","required":true,"schema":{"type":"string"}},{"name":"linkedServiceName","in":"path","description":"Name of the linked service.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedService"}}}}}},"put":{"tags":["LinkedServices"],"description":"Create or update a linked service.","operationId":"LinkedServices_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace that will contain the linkedServices resource","required":true,"schema":{"type":"string"}},{"name":"linkedServiceName","in":"path","description":"Name of the linkedServices resource","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters required to create or update a linked service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedService"}}},"required":true},"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedService"}}}},"201":{"description":"Created response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedService"}}}}}},"delete":{"tags":["LinkedServices"],"description":"Deletes a linked service instance.","operationId":"LinkedServices_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace that contains the linkedServices resource","required":true,"schema":{"type":"string"}},{"name":"linkedServiceName","in":"path","description":"Name of the linked service.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition."},"204":{"description":"NoContent response definition."}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/managementGroups":{"get":{"tags":["Workspaces"],"description":"Gets a list of management groups connected to a workspace.","operationId":"Workspaces_ListManagementGroups","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceListManagementGroupsResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/sharedKeys":{"post":{"tags":["Workspaces"],"description":"Gets the shared keys for a workspace.","operationId":"Workspaces_GetSharedKeys","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"Name of the Log Analytics Workspace.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharedKeys"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/usages":{"get":{"tags":["Workspaces"],"description":"Gets a list of usage metrics for a workspace.","operationId":"Workspaces_ListUsages","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"workspaceName","in":"path","description":"The name of the workspace.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceListUsagesResult"}}}}}}}},"components":{"schemas":{"DataSource":{"properties":{"eTag":{"type":"string","description":"The ETag of the data source."},"kind":{"$ref":"#/components/schemas/DataSourceKind"},"properties":{"$ref":"#/components/schemas/Object"}},"description":"Datasources under OMS Workspace.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"DataSourceFilter":{"type":"object","properties":{"kind":{"$ref":"#/components/schemas/DataSourceKind"}},"description":"DataSource filter. Right now, only filter by kind is supported."},"DataSourceKind":{"type":"string","description":"The kind of the DataSource.","enum":["AzureActivityLog","ChangeTrackingPath","ChangeTrackingDefaultPath","ChangeTrackingDefaultRegistry","ChangeTrackingCustomRegistry","CustomLog","CustomLogCollection","GenericDataSource","IISLogs","LinuxPerformanceObject","LinuxPerformanceCollection","LinuxSyslog","LinuxSyslogCollection","WindowsEvent","WindowsPerformanceCounter"]},"DataSourceListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link (url) to the next page of datasources."},"value":{"type":"array","description":"A list of datasources.","items":{"$ref":"#/components/schemas/DataSource"}}},"description":"The list data source by workspace operation response."},"IntelligencePack":{"type":"object","properties":{"displayName":{"type":"string","description":"The display name of the intelligence pack."},"enabled":{"type":"boolean","description":"The enabled boolean for the intelligence pack."},"name":{"type":"string","description":"The name of the intelligence pack."}},"description":"Intelligence Pack containing a string name and boolean indicating if it's enabled."},"LinkedService":{"properties":{"properties":{"$ref":"#/components/schemas/LinkedServiceProperties"}},"description":"The top level Linked service resource container.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"LinkedServiceListResult":{"type":"object","properties":{"value":{"type":"array","description":"Gets or sets a list of linked service instances.","items":{"$ref":"#/components/schemas/LinkedService"}}},"description":"The list linked service operation response."},"LinkedServiceProperties":{"required":["resourceId"],"type":"object","properties":{"resourceId":{"type":"string","description":"The resource id of the resource that will be linked to the workspace."}},"description":"Linked service properties."},"ManagementGroup":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ManagementGroupProperties"}},"description":"A management group that is connected to a workspace"},"ManagementGroupProperties":{"type":"object","properties":{"created":{"type":"string","description":"The datetime that the management group was created.","format":"date-time"},"dataReceived":{"type":"string","description":"The last datetime that the management group received data.","format":"date-time"},"id":{"type":"string","description":"The unique ID of the management group."},"isGateway":{"type":"boolean","description":"Gets or sets a value indicating whether the management group is a gateway."},"name":{"type":"string","description":"The name of the management group."},"serverCount":{"type":"integer","description":"The number of servers connected to the management group.","format":"int32"},"sku":{"type":"string","description":"The SKU of System Center that is managing the management group."},"version":{"type":"string","description":"The version of System Center that is managing the management group."}},"description":"Management group properties."},"MetricName":{"type":"object","properties":{"localizedValue":{"type":"string","description":"The localized name of the metric."},"value":{"type":"string","description":"The system name of the metric."}},"description":"The name of a metric."},"Object":{"type":"object","description":"JSON object"},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"operation":{"type":"string","description":"Type of operation: get, read, delete, etc."},"provider":{"type":"string","description":"Service provider: Microsoft OperationsManagement."},"resource":{"type":"string","description":"Resource on which the operation is performed etc."}},"description":"Display metadata associated with the operation."},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"}},"description":"Supported operation of OperationalInsights resource provider."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any.","readOnly":true},"value":{"type":"array","description":"List of solution operations supported by the OperationsManagement resource provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list solution operations."},"ProxyResource":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"Common properties of proxy resource."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"The resource definition."},"SharedKeys":{"type":"object","properties":{"primarySharedKey":{"type":"string","description":"The primary shared key of a workspace."},"secondarySharedKey":{"type":"string","description":"The secondary shared key of a workspace."}},"description":"The shared keys for a workspace."},"Sku":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the SKU.","enum":["Free","Standard","Premium","PerNode","PerGB2018","Standalone"]}},"description":"The SKU (tier) of a workspace."},"UsageMetric":{"type":"object","properties":{"currentValue":{"type":"number","description":"The current value of the metric.","format":"double"},"limit":{"type":"number","description":"The quota limit for the metric.","format":"double"},"name":{"$ref":"#/components/schemas/MetricName"},"nextResetTime":{"type":"string","description":"The time that the metric's value will reset.","format":"date-time"},"quotaPeriod":{"type":"string","description":"The quota period that determines the length of time between value resets."},"unit":{"type":"string","description":"The units used for the metric."}},"description":"A metric describing the usage of a resource."},"Workspace":{"properties":{"eTag":{"type":"string","description":"The ETag of the workspace."},"properties":{"$ref":"#/components/schemas/WorkspaceProperties"}},"description":"The top level Workspace resource container.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"WorkspaceListManagementGroupsResult":{"type":"object","properties":{"value":{"type":"array","description":"Gets or sets a list of management groups attached to the workspace.","items":{"$ref":"#/components/schemas/ManagementGroup"}}},"description":"The list workspace management groups operation response."},"WorkspaceListResult":{"type":"object","properties":{"value":{"type":"array","description":"A list of workspaces.","items":{"$ref":"#/components/schemas/Workspace"}}},"description":"The list workspaces operation response."},"WorkspaceListUsagesResult":{"type":"object","properties":{"value":{"type":"array","description":"Gets or sets a list of usage metrics for a workspace.","items":{"$ref":"#/components/schemas/UsageMetric"}}},"description":"The list workspace usages operation response."},"WorkspaceProperties":{"type":"object","properties":{"customerId":{"type":"string","description":"This is a read-only property. Represents the ID associated with the workspace.","readOnly":true},"portalUrl":{"type":"string","description":"This is a legacy property and is not used anymore. Kept here for backward compatibility.","readOnly":true},"provisioningState":{"type":"string","description":"The provisioning state of the workspace.","enum":["Creating","Succeeded","Failed","Canceled","Deleting","ProvisioningAccount"]},"retentionInDays":{"maximum":730,"minimum":-1,"type":"integer","description":"The workspace data retention in days. -1 means Unlimited retention for the Unlimited Sku. 730 days is the maximum allowed for all other Skus. ","format":"int32"},"sku":{"$ref":"#/components/schemas/Sku"},"source":{"type":"string","description":"This is a read-only legacy property. It is always set to 'Azure' by the service. Kept here for backward compatibility.","readOnly":true}},"description":"Workspace properties."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}