{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Betriebsstellen",
    "description" : "This REST-API enables you to query station and stop infos",
    "termsOfService" : "https://developer.deutschebahn.com/store/",
    "contact" : {
      "name" : "DB Systel GmbH",
      "email" : "Joachim.Schirrmacher@deutschebahn.com"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.deutschebahn.com/betriebsstellen/v1"
  }, {
    "url" : "http://api.deutschebahn.com/betriebsstellen/v1"
  } ],
  "tags" : [ {
    "name" : "API"
  } ],
  "paths" : {
    "/betriebsstellen" : {
      "get" : {
        "summary" : "Get information of stations matching a given text",
        "description" : "Get all station and stop infos",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "description" : "A station name or part of it",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List was generated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StationList"
                }
              }
            }
          },
          "404" : {
            "description" : "No stations or stops could be found matching the given name",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "416" : {
            "description" : "Filtering required - specify a name fragment of at least 3 characters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/betriebsstellen/{abbrev}" : {
      "get" : {
        "summary" : "Get information about a specific station or stop by abbrevation",
        "description" : "Get information about a specific station or stop by abbrevation",
        "parameters" : [ {
          "name" : "abbrev",
          "in" : "path",
          "description" : "Station or stop abbrevation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Entry found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Station"
                }
              }
            }
          },
          "404" : {
            "description" : "Entry not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Error" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "format" : "int32"
          },
          "message" : {
            "type" : "string"
          }
        }
      },
      "Station" : {
        "type" : "object",
        "properties" : {
          "RB" : {
            "type" : "integer",
            "description" : "Regional code"
          },
          "UIC" : {
            "type" : "string",
            "description" : "UIC RICS code"
          },
          "abbrev" : {
            "type" : "string",
            "description" : "Abbrevation name of station or halt"
          },
          "borderStation" : {
            "type" : "boolean",
            "description" : "Station is at a country border"
          },
          "id" : {
            "type" : "integer",
            "description" : "Identifying number"
          },
          "locationCode" : {
            "type" : "string",
            "description" : "Primary location code"
          },
          "name" : {
            "type" : "string",
            "description" : "Long name of station or halt"
          },
          "short" : {
            "type" : "string",
            "description" : "Short name of station or halt"
          },
          "status" : {
            "type" : "string",
            "description" : "State of operation",
            "enum" : [ "in use", "out of service", "formerly", "planned", "study" ]
          },
          "timeTableRelevant" : {
            "type" : "boolean",
            "description" : "Relevant for time table"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of station or halt",
            "enum" : [ "Abzw", "Anst", "Awanst", "Bf" ]
          },
          "validFrom" : {
            "type" : "string",
            "description" : "Start date for validity"
          },
          "validTill" : {
            "type" : "string",
            "description" : "End date for validity or null if still valid"
          }
        }
      },
      "StationList" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Station"
        }
      }
    }
  }
}