{"openapi":"3.0.1","info":{"title":"Security Center","description":"API spec for Microsoft.Security (Azure Security Center) resource provider","version":"2020-01-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Security/assessmentMetadata":{"get":{"tags":["Assessments Metadata"],"description":"Get metadata information on all assessment types","operationId":"AssessmentsMetadata_List","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityAssessmentMetadataList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/providers/Microsoft.Security/assessmentMetadata/{assessmentMetadataName}":{"get":{"tags":["Assessments Metadata"],"description":"Get metadata information on an assessment type","operationId":"AssessmentsMetadata_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"assessmentMetadataName","in":"path","description":"The Assessment Key - Unique key for the assessment type","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityAssessmentMetadata"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Security/assessmentMetadata":{"get":{"tags":["Assessments Metadata"],"description":"Get metadata information on all assessment types in a specific subscription","operationId":"AssessmentsMetadataSubscription_List","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityAssessmentMetadataList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Security/assessmentMetadata/{assessmentMetadataName}":{"get":{"tags":["Assessments Metadata"],"description":"Get metadata information on an assessment type in a specific subscription","operationId":"AssessmentsMetadataSubscription_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"assessmentMetadataName","in":"path","description":"The Assessment Key - Unique key for the assessment type","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityAssessmentMetadata"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}},"put":{"tags":["Assessments Metadata"],"description":"Create metadata information on an assessment type in a specific subscription","operationId":"AssessmentsMetadataSubscription_Create","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"assessmentMetadataName","in":"path","description":"The Assessment Key - Unique key for the assessment type","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}}],"requestBody":{"description":"AssessmentMetadata object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityAssessmentMetadata"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityAssessmentMetadata"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}},"delete":{"tags":["Assessments Metadata"],"description":"Delete metadata information on an assessment type in a specific subscription, will cause the deletion of all the assessments of that type in that subscription","operationId":"AssessmentsMetadataSubscription_Delete","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"assessmentMetadataName","in":"path","description":"The Assessment Key - Unique key for the assessment type","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}}],"responses":{"200":{"description":"OK"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}}},"components":{"schemas":{"SecurityAssessmentMetadata":{"properties":{"properties":{"$ref":"#/components/schemas/SecurityAssessmentMetadataProperties"}},"description":"Security assessment metadata","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."}]},"SecurityAssessmentMetadataList":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page.","readOnly":true},"value":{"type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/SecurityAssessmentMetadata"}}},"description":"List of security assessment metadata"},"SecurityAssessmentMetadataPartnerData":{"type":"object","properties":{"partnerName":{"type":"string","description":"Name of the company of the partner","readOnly":true},"productName":{"type":"string","description":"Name of the product of the partner that created the assessment"},"secret":{"type":"string","description":"Secret to authenticate the partner and verify it created the assessment - write only"}},"description":"Describes the partner that created the assessment"},"SecurityAssessmentMetadataProperties":{"required":["assessmentType","displayName","severity"],"type":"object","properties":{"assessmentType":{"type":"string","description":"BuiltIn if the assessment based on built-in Azure Policy definition, Custom if the assessment based on custom Azure Policy definition","enum":["BuiltIn","CustomPolicy","CustomerManaged","VerifiedPartner"]},"category":{"type":"array","items":{"type":"string","description":"The category of resource that is at risk when the assessment is unhealthy","enum":["Compute","Networking","Data","IdentityAndAccess","IoT"]}},"description":{"type":"string","description":"Human readable description of the assessment"},"displayName":{"type":"string","description":"User friendly display name of the assessment"},"implementationEffort":{"type":"string","description":"The implementation effort required to remediate this assessment","enum":["Low","Moderate","High"]},"partnerData":{"$ref":"#/components/schemas/SecurityAssessmentMetadataPartnerData"},"policyDefinitionId":{"type":"string","description":"Azure resource ID of the policy definition that turns this assessment calculation on","readOnly":true},"preview":{"type":"boolean","description":"True if this assessment is in preview release status"},"remediationDescription":{"type":"string","description":"Human readable description of what you should do to mitigate this security issue"},"severity":{"type":"string","description":"The severity level of the assessment","enum":["Low","Medium","High"]},"threats":{"type":"array","items":{"type":"string","description":"Threats impact of the assessment","enum":["accountBreach","dataExfiltration","dataSpillage","maliciousInsider","elevationOfPrivilege","threatResistance","missingCoverage","denialOfService"]}},"userImpact":{"type":"string","description":"The user impact of the assessment","enum":["Low","Moderate","High"]}},"description":"Describes properties of an assessment metadata."}},"parameters":{"AssessmentsMetadataName":{"name":"assessmentMetadataName","in":"path","description":"The Assessment Key - Unique key for the assessment type","required":true,"schema":{"type":"string"}}},"requestBodies":{"SecurityAssessmentMetadata":{"description":"AssessmentMetadata object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityAssessmentMetadata"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}