{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure SQL Server Backup Long Term Retention Vault",
    "description" : "Provides read and update functionality for Azure SQL Server backup long term retention vault",
    "version" : "2014-04-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults" : {
      "get" : {
        "tags" : [ "BackupLongTermRetentionVaults" ],
        "description" : "Gets server backup long term retention vaults in a server",
        "operationId" : "BackupLongTermRetentionVaults_ListByServer",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLongTermRetentionVaultListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults/{backupLongTermRetentionVaultName}" : {
      "get" : {
        "tags" : [ "BackupLongTermRetentionVaults" ],
        "description" : "Gets a server backup long term retention vault",
        "operationId" : "BackupLongTermRetentionVaults_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupLongTermRetentionVaultName",
          "in" : "path",
          "description" : "The name of the Azure SQL Server backup LongTermRetention vault",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "RegisteredVault" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLongTermRetentionVault"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "BackupLongTermRetentionVaults" ],
        "description" : "Updates a server backup long term retention vault",
        "operationId" : "BackupLongTermRetentionVaults_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupLongTermRetentionVaultName",
          "in" : "path",
          "description" : "The name of the backup long term retention vault",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "RegisteredVault" ]
          }
        } ],
        "requestBody" : {
          "description" : "The required parameters to update a backup long term retention vault",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupLongTermRetentionVault"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLongTermRetentionVault"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLongTermRetentionVault"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BackupLongTermRetentionVault" : {
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "The geo-location where the resource lives",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/BackupLongTermRetentionVaultProperties"
          }
        },
        "description" : "A backup long term retention vault",
        "allOf" : [ {
          "description" : "ARM proxy resource.",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID.",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "Resource name.",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "Resource type.",
                "readOnly" : true
              }
            },
            "description" : "ARM resource."
          } ]
        } ]
      },
      "BackupLongTermRetentionVaultListResult" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of vaults in the server.",
            "items" : {
              "$ref" : "#/components/schemas/BackupLongTermRetentionVault"
            }
          }
        },
        "description" : "Represents the response to a list vaults request."
      },
      "BackupLongTermRetentionVaultProperties" : {
        "required" : [ "recoveryServicesVaultResourceId" ],
        "type" : "object",
        "properties" : {
          "recoveryServicesVaultResourceId" : {
            "type" : "string",
            "description" : "The azure recovery services vault resource id"
          }
        },
        "description" : "The properties of a backup long term retention vault."
      }
    },
    "parameters" : {
      "ServerNameParameter" : {
        "name" : "serverName",
        "in" : "path",
        "description" : "The name of the server.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}