{"openapi":"3.0.1","info":{"title":"StorageManagementClient","description":"The Azure Storage Management API.","version":"2019-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices":{"get":{"tags":["FileService"],"description":"List all file services in storage accounts","operationId":"FileServices_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK -- List file services operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileServiceItems"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares":{"get":{"tags":["FileShares"],"description":"Lists all shares.","operationId":"FileShares_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"$maxpagesize","in":"query","description":"Optional. Specified maximum number of shares that can be included in the list.","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Optional. When specified, only share names starting with the filter will be listed.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- List Shares operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileShareItems"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares/{shareName}":{"get":{"tags":["FileShares"],"description":"Gets properties of a specified share.","operationId":"FileShares_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"shareName","in":"path","description":"The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK -- Get Share operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileShare"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["FileShares"],"description":"Creates a new share under the specified account as described by request body. The share resource includes metadata and properties for that share. It does not include a list of the files contained by the share. ","operationId":"FileShares_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"shareName","in":"path","description":"The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"requestBody":{"description":"Properties of the file share to create.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileShare"}}},"required":true},"responses":{"200":{"description":"OK -- The Share is already created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileShare"}}}},"201":{"description":"Created -- Create Share operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileShare"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["FileShares"],"description":"Deletes specified share under its account.","operationId":"FileShares_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"shareName","in":"path","description":"The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK -- Delete Share operation completed successfully."},"204":{"description":"No Content -- The Share not exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["FileShares"],"description":"Updates share properties as specified in request body. Properties not mentioned in the request will not be changed. Update fails if the specified share does not already exist. ","operationId":"FileShares_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"shareName","in":"path","description":"The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"requestBody":{"description":"Properties to update for the file share.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileShare"}}},"required":true},"responses":{"200":{"description":"OK -- Update Share operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileShare"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/{FileServicesName}":{"get":{"tags":["FileService"],"description":"Gets the properties of file services in storage accounts, including CORS (Cross-Origin Resource Sharing) rules.","operationId":"FileServices_GetServiceProperties","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"FileServicesName","in":"path","description":"The name of the file Service within the specified storage account. File Service Name must be \"default\"","required":true,"schema":{"type":"string","enum":["default"]}}],"responses":{"200":{"description":"OK -- returned the properties of a storage account’s File service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileServiceProperties"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["FileService"],"description":"Sets the properties of file services in storage accounts, including CORS (Cross-Origin Resource Sharing) rules. ","operationId":"FileServices_SetServiceProperties","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"FileServicesName","in":"path","description":"The name of the file Service within the specified storage account. File Service Name must be \"default\"","required":true,"schema":{"type":"string","enum":["default"]}}],"requestBody":{"description":"The properties of file services in storage accounts, including CORS (Cross-Origin Resource Sharing) rules.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileServiceProperties"}}},"required":true},"responses":{"200":{"description":"OK -- Sets The properties of a storage account’s File service successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileServiceProperties"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error response from the Storage service."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically."},"details":{"type":"array","description":"A list of additional details about the error.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface."},"target":{"type":"string","description":"The target of the particular error. For example, the name of the property in error."}},"description":"An error response from the Storage service."},"FileServiceItems":{"type":"object","properties":{"value":{"type":"array","description":"List of file services returned.","readOnly":true,"items":{"$ref":"#/components/schemas/FileServiceProperties"}}}},"FileServiceProperties":{"properties":{"properties":{"type":"object","properties":{"cors":{"type":"object","properties":{"corsRules":{"type":"array","description":"The List of CORS rules. You can include up to five CorsRule elements in the request. ","items":{"required":["allowedHeaders","allowedMethods","allowedOrigins","exposedHeaders","maxAgeInSeconds"],"type":"object","properties":{"allowedHeaders":{"type":"array","description":"Required if CorsRule element is present. A list of headers allowed to be part of the cross-origin request.","items":{"type":"string"}},"allowedMethods":{"type":"array","description":"Required if CorsRule element is present. A list of HTTP methods that are allowed to be executed by the origin.","items":{"type":"string","enum":["DELETE","GET","HEAD","MERGE","POST","OPTIONS","PUT"]}},"allowedOrigins":{"type":"array","description":"Required if CorsRule element is present. A list of origin domains that will be allowed via CORS, or \"*\" to allow all domains","items":{"type":"string"}},"exposedHeaders":{"type":"array","description":"Required if CorsRule element is present. A list of response headers to expose to CORS clients.","items":{"type":"string"}},"maxAgeInSeconds":{"type":"integer","description":"Required if CorsRule element is present. The number of seconds that the client/browser should cache a preflight response."}},"description":"Specifies a CORS rule for the Blob service."}}},"description":"Sets the CORS rules. You can include up to five CorsRule elements in the request. "},"shareDeleteRetentionPolicy":{"type":"object","properties":{"days":{"maximum":365,"minimum":1,"type":"integer","description":"Indicates the number of days that the deleted item should be retained. The minimum specified value can be 1 and the maximum value can be 365."},"enabled":{"type":"boolean","description":"Indicates whether DeleteRetentionPolicy is enabled."}},"description":"The service properties for soft delete."}},"description":"The properties of File services in storage account."},"sku":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The SKU name. Required for account creation; optional for update. Note that in older versions, SKU name was called accountType.","enum":["Standard_LRS","Standard_GRS","Standard_RAGRS","Standard_ZRS","Premium_LRS","Premium_ZRS","Standard_GZRS","Standard_RAGZRS"]},"tier":{"type":"string","description":"The SKU tier. This is based on the SKU name.","readOnly":true,"enum":["Standard","Premium"]}},"description":"The SKU of the storage account."}},"description":"The properties of File services in storage account.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]},"FileShare":{"properties":{"properties":{"$ref":"#/components/schemas/FileShareProperties"}},"description":"Properties of the file share, including Id, resource name, resource type, Etag.","allOf":[{"properties":{"etag":{"type":"string","description":"Resource Etag.","readOnly":true}},"description":"The resource model definition for a Azure Resource Manager resource with an etag.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"FileShareItem":{"properties":{"properties":{"$ref":"#/components/schemas/FileShareProperties"}},"description":"The file share properties be listed out.","allOf":[{"properties":{"etag":{"type":"string","description":"Resource Etag.","readOnly":true}},"description":"The resource model definition for a Azure Resource Manager resource with an etag.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"FileShareItems":{"type":"object","properties":{"nextLink":{"type":"string","description":"Request URL that can be used to query next page of shares. Returned when total number of requested shares exceed maximum page size.","readOnly":true},"value":{"type":"array","description":"List of file shares returned.","readOnly":true,"items":{"$ref":"#/components/schemas/FileShareItem"}}},"description":"Response schema. Contains list of shares returned, and if paging is requested or required, a URL to next page of shares."},"FileShareProperties":{"type":"object","properties":{"lastModifiedTime":{"type":"string","description":"Returns the date and time the share was last modified.","format":"date-time","readOnly":true},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"A name-value pair to associate with the share as metadata."},"shareQuota":{"maximum":102400,"minimum":1,"type":"integer","description":"The maximum size of the share, in gigabytes. Must be greater than 0, and less than or equal to 5TB (5120). For Large File Shares, the maximum size is 102400."}},"description":"The properties of the file share."}},"parameters":{"FileServicesName":{"name":"FileServicesName","in":"path","description":"The name of the file Service within the specified storage account. File Service Name must be \"default\"","required":true,"schema":{"type":"string","enum":["default"]}},"ShareName":{"name":"shareName","in":"path","description":"The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}