{"openapi":"3.0.1","info":{"title":"Mobility API","description":"Transit API can be used to obtain time-aggregated data representing moving the people between various spatial points within the Czech Republic. Having A - 'from' and B - 'to' points, the API can return count of people traveling from A to B or people that are from A and traveling to B, etc. The mobility data is based on moving mobile stations in O2 mobile network.","contact":{"name":"libertyapi@o2.cz"},"license":{"name":"O2 Czech Republic a.s.","url":"https://developer.o2.cz/portal/vop"},"version":"1.2.0"},"servers":[{"url":"https://developer.o2.cz/mobility/sandbox/api"}],"tags":[{"name":"info"},{"name":"transit"}],"paths":{"/info":{"get":{"tags":["info"],"summary":"Information about versions of application and data.","operationId":"getInfo","responses":{"200":{"description":"Response with the requested content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfoResult"}}}}}}},"/transit/{from}/{to}":{"get":{"tags":["transit"],"summary":"Transit between basic residential units","description":"Get count of objects that were moving between basic residential units or objects that were visiting these basic residential units. Specific object's occurence type in the base residential unit can be requested. If none occurence type is present in the request or both occurence types are zero, the result will be aggregation of all types of occurence for given base residential units. More about base residential units can be found at https://www.czso.cz/csu/rso/zsj_rso (czech).","operationId":"transit","parameters":[{"name":"from","in":"path","description":"source basic residential unit","required":true,"schema":{"type":"string"},"example":"127752"},{"name":"to","in":"path","description":"destination basic residential unit","required":true,"schema":{"type":"string"},"example":"127761"},{"name":"fromType","in":"query","description":"occurence type in the source basic residential unit (1 - transit, 2 - visit, 0 - both)","schema":{"type":"string"}},{"name":"toType","in":"query","description":"occurence type in the destination basic residential unit (1 - transit, 2 - visit, 0 - both)","schema":{"type":"string"}},{"name":"uniques","in":"query","description":"all or only uniques (0 - all, 1 - uniques)","required":true,"schema":{"type":"string"},"example":"0"}],"responses":{"200":{"description":"Response with the requested content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountResult"}}}},"204":{"description":"The request is valid, but the platform is not able to serve the data. The reason may be restriction (e.g. differential privacy) or no data were found."},"400":{"description":"Invalid request provided, missing or invalid parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResult"}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResult"}}}}}}}},"components":{"schemas":{"CountResult":{"type":"object","properties":{"count":{"type":"string","description":"Final count as the result of the request","example":"62984"}},"description":"Response with the result"},"ErrorResult":{"type":"object","properties":{"message":{"type":"string","description":"Error response message content","example":"Error message example."}},"description":"Response with error message"},"InfoResult":{"type":"object","properties":{"appName":{"type":"string","description":"Application name","example":"Mobility API Frontend"},"appVendor":{"type":"string","description":"Application vendor","example":"O2 Czech Republic a.s."},"appVersion":{"type":"string","description":"Application version","example":"1.0-M6-SNAPSHOT"},"backendAppName":{"type":"string","description":"Backend application name","example":"Mobility API Backend"},"backendAppVendor":{"type":"string","description":"Backend application vendor","example":"O2 Czech Republic a.s."},"backendAppVersion":{"type":"string","description":"Backend application version","example":"1.0-M6-SNAPSHOT"},"backendDataFrom":{"type":"string","description":"For which day are data valid","example":"2017-07-31"}},"description":"Response to the info request"}}}}