{"openapi":"3.0.1","info":{"title":"Security Center","description":"API spec for Microsoft.Security (Azure Security Center) resource provider","version":"2019-01-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/serverVulnerabilityAssessments":{"get":{"tags":["ServerVulnerabilityAssessments"],"description":"Gets a list of server vulnerability assessment onboarding statuses on a given resource.","operationId":"ServerVulnerabilityAssessment_ListByExtendedResource","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"resourceNamespace","in":"path","description":"The Namespace of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"The type of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Name of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerVulnerabilityAssessmentsList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/serverVulnerabilityAssessments/{serverVulnerabilityAssessment}":{"get":{"tags":["ServerVulnerabilityAssessments"],"description":"Gets a server vulnerability assessment onboarding statuses on a given resource.","operationId":"ServerVulnerabilityAssessment_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"resourceNamespace","in":"path","description":"The Namespace of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"The type of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Name of the resource.","required":true,"schema":{"type":"string"}},{"name":"serverVulnerabilityAssessment","in":"path","description":"ServerVulnerabilityAssessment status. only a 'default' value is supported.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerVulnerabilityAssessment"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}},"put":{"tags":["ServerVulnerabilityAssessment"],"description":"Creating a server vulnerability assessment on a resource, which will onboard a resource for having a vulnerability assessment on it","operationId":"ServerVulnerabilityAssessment_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"resourceNamespace","in":"path","description":"The Namespace of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"The type of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Name of the resource.","required":true,"schema":{"type":"string"}},{"name":"serverVulnerabilityAssessment","in":"path","description":"ServerVulnerabilityAssessment status. only a 'default' value is supported.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerVulnerabilityAssessment"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}},"delete":{"tags":["ServerVulnerabilityAssessment"],"description":"Removing server vulnerability assessment from a resource.","operationId":"ServerVulnerabilityAssessment_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"resourceNamespace","in":"path","description":"The Namespace of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"The type of the resource.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Name of the resource.","required":true,"schema":{"type":"string"}},{"name":"serverVulnerabilityAssessment","in":"path","description":"ServerVulnerabilityAssessment status. only a 'default' value is supported.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content - Resource does not exist"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}}},"components":{"schemas":{"ServerVulnerabilityAssessment":{"properties":{"properties":{"$ref":"#/components/schemas/ServerVulnerabilityAssessmentProperties"}},"description":"Describes the server vulnerability assessment details on a resource","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."}]},"ServerVulnerabilityAssessmentProperties":{"type":"object","properties":{"provisioningState":{"type":"string","description":"The provisioningState of the vulnerability assessment capability on the VM","readOnly":true,"enum":["Succeeded","Failed","Canceled","Provisioning","Deprovisioning"]}},"description":"describes ServerVulnerabilityAssessment properties."},"ServerVulnerabilityAssessmentsList":{"type":"object","properties":{"value":{"type":"array","items":{"$ref":"#/components/schemas/ServerVulnerabilityAssessment"}}},"description":"List of server vulnerability assessments"}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}