{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DataLakeAnalyticsAccountManagementClient",
    "description" : "Creates an Azure Data Lake Analytics account management client.",
    "version" : "2016-11-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.DataLakeAnalytics/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available Data Lake Analytics REST API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully listed the available operations for Data Lake Analytics.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/accounts" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "description" : "Gets the first page of Data Lake Analytics accounts, if any, within the current subscription. This includes a link to the next page, if any.",
        "operationId" : "Accounts_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "The number of items to return. Optional.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "The number of items to skip over before returning elements. Optional.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "description" : "The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of Azure Data Lake Analytics accounts.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataLakeAnalyticsAccountListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/locations/{location}/capability" : {
      "get" : {
        "tags" : [ "Locations" ],
        "description" : "Gets subscription-level properties and limits for Data Lake Analytics specified by resource location.",
        "operationId" : "Locations_GetCapability",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "The resource location without whitespace.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the subscription-level properties and limits for Data Lake Analytics specified by resource location.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapabilityInformation"
                }
              }
            }
          },
          "404" : {
            "description" : "Subscription not found."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/locations/{location}/checkNameAvailability" : {
      "post" : {
        "tags" : [ "Accounts" ],
        "description" : "Checks whether the specified account name is available or taken.",
        "operationId" : "Accounts_CheckNameAvailability",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "The resource location without whitespace.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to check the Data Lake Analytics account name availability.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckNameAvailabilityParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the Data Lake Analytics account name availability information.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NameAvailabilityInformation"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "description" : "Gets the first page of Data Lake Analytics accounts, if any, within a specific resource group. This includes a link to the next page, if any.",
        "operationId" : "Accounts_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "The number of items to return. Optional.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "The number of items to skip over before returning elements. Optional.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "description" : "The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of accounts in the specified resource group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataLakeAnalyticsAccountListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "description" : "Gets details of the specified Data Lake Analytics account.",
        "operationId" : "Accounts_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the details of the specified account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounts" ],
        "description" : "Creates the specified Data Lake Analytics account. This supplies the user with computation services for Data Lake Analytics workloads.",
        "operationId" : "Accounts_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to create a new Data Lake Analytics account.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateDataLakeAnalyticsAccountParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created the specified account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            }
          },
          "201" : {
            "description" : "Successfully initiated creation of the specified account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Accounts" ],
        "description" : "Begins the delete process for the Data Lake Analytics account object specified by the account name.",
        "operationId" : "Accounts_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted the specified account."
          },
          "202" : {
            "description" : "Successfully initiated the deletion of the specified account."
          },
          "204" : {
            "description" : "The specified account was not found."
          }
        }
      },
      "patch" : {
        "tags" : [ "Accounts" ],
        "description" : "Updates the Data Lake Analytics account object specified by the accountName with the contents of the account object.",
        "operationId" : "Accounts_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the update Data Lake Analytics account operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateDataLakeAnalyticsAccountParameters"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated the specified account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            }
          },
          "201" : {
            "description" : "Successfully initiated an update of the specified account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            }
          },
          "202" : {
            "description" : "Successfully initiated an update of the specified account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/computePolicies" : {
      "get" : {
        "tags" : [ "ComputePolicies" ],
        "description" : "Lists the Data Lake Analytics compute policies within the specified Data Lake Analytics account. An account supports, at most, 50 policies",
        "operationId" : "ComputePolicies_ListByAccount",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully listed the compute policies.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ComputePolicyListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/computePolicies/{computePolicyName}" : {
      "get" : {
        "tags" : [ "ComputePolicies" ],
        "description" : "Gets the specified Data Lake Analytics compute policy.",
        "operationId" : "ComputePolicies_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "computePolicyName",
          "in" : "path",
          "description" : "The name of the compute policy to retrieve.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the specified compute policy.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ComputePolicy"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ComputePolicies" ],
        "description" : "Creates or updates the specified compute policy. During update, the compute policy with the specified name will be replaced with this new compute policy. An account supports, at most, 50 policies",
        "operationId" : "ComputePolicies_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "computePolicyName",
          "in" : "path",
          "description" : "The name of the compute policy to create or update.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to create or update the compute policy. The max degree of parallelism per job property, min priority per job property, or both must be present.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateOrUpdateComputePolicyParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the specified compute policy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ComputePolicy"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ComputePolicies" ],
        "description" : "Deletes the specified compute policy from the specified Data Lake Analytics account",
        "operationId" : "ComputePolicies_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "computePolicyName",
          "in" : "path",
          "description" : "The name of the compute policy to delete.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted the specified compute policy"
          },
          "204" : {
            "description" : "The specified compute policy does not exist or was already deleted."
          }
        }
      },
      "patch" : {
        "tags" : [ "ComputePolicies" ],
        "description" : "Updates the specified compute policy.",
        "operationId" : "ComputePolicies_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "computePolicyName",
          "in" : "path",
          "description" : "The name of the compute policy to update.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update the compute policy.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateComputePolicyParameters"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated the specified compute policy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ComputePolicy"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/dataLakeStoreAccounts" : {
      "get" : {
        "tags" : [ "DataLakeStoreAccounts" ],
        "description" : "Gets the first page of Data Lake Store accounts linked to the specified Data Lake Analytics account. The response includes a link to the next page, if any.",
        "operationId" : "DataLakeStoreAccounts_ListByAccount",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "The number of items to return. Optional.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "The number of items to skip over before returning elements. Optional.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "description" : "The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of Data Lake Store accounts.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataLakeStoreAccountInformationListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/dataLakeStoreAccounts/{dataLakeStoreAccountName}" : {
      "get" : {
        "tags" : [ "DataLakeStoreAccounts" ],
        "description" : "Gets the specified Data Lake Store account details in the specified Data Lake Analytics account.",
        "operationId" : "DataLakeStoreAccounts_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataLakeStoreAccountName",
          "in" : "path",
          "description" : "The name of the Data Lake Store account to retrieve",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the specified Azure Data Lake Store account information.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataLakeStoreAccountInformation"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DataLakeStoreAccounts" ],
        "description" : "Updates the specified Data Lake Analytics account to include the additional Data Lake Store account.",
        "operationId" : "DataLakeStoreAccounts_Add",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataLakeStoreAccountName",
          "in" : "path",
          "description" : "The name of the Data Lake Store account to add.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The details of the Data Lake Store account.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddDataLakeStoreParameters"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added the specified Azure Data Lake Store account information."
          }
        }
      },
      "delete" : {
        "tags" : [ "DataLakeStoreAccounts" ],
        "description" : "Updates the Data Lake Analytics account specified to remove the specified Data Lake Store account.",
        "operationId" : "DataLakeStoreAccounts_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataLakeStoreAccountName",
          "in" : "path",
          "description" : "The name of the Data Lake Store account to remove",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully removed the specified Azure Data Lake Store account information from the specified Azure Data Lake Analytics account."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/firewallRules" : {
      "get" : {
        "tags" : [ "FirewallRules" ],
        "description" : "Lists the Data Lake Analytics firewall rules within the specified Data Lake Analytics account.",
        "operationId" : "FirewallRules_ListByAccount",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully listed the firewall rules.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallRuleListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/firewallRules/{firewallRuleName}" : {
      "get" : {
        "tags" : [ "FirewallRules" ],
        "description" : "Gets the specified Data Lake Analytics firewall rule.",
        "operationId" : "FirewallRules_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallRuleName",
          "in" : "path",
          "description" : "The name of the firewall rule to retrieve.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the specified firewall rule.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallRule"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "FirewallRules" ],
        "description" : "Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule.",
        "operationId" : "FirewallRules_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallRuleName",
          "in" : "path",
          "description" : "The name of the firewall rule to create or update.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to create or update the firewall rule.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateOrUpdateFirewallRuleParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the specified firewall rule",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallRule"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "FirewallRules" ],
        "description" : "Deletes the specified firewall rule from the specified Data Lake Analytics account",
        "operationId" : "FirewallRules_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallRuleName",
          "in" : "path",
          "description" : "The name of the firewall rule to delete.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted the specified firewall rule"
          },
          "204" : {
            "description" : "The specified firewall rule does not exist or was already deleted."
          }
        }
      },
      "patch" : {
        "tags" : [ "FirewallRules" ],
        "description" : "Updates the specified firewall rule.",
        "operationId" : "FirewallRules_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firewallRuleName",
          "in" : "path",
          "description" : "The name of the firewall rule to update.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update the firewall rule.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateFirewallRuleParameters"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated the specified firewall rule",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FirewallRule"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts" : {
      "get" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Gets the first page of Azure Storage accounts, if any, linked to the specified Data Lake Analytics account. The response includes a link to the next page, if any.",
        "operationId" : "StorageAccounts_ListByAccount",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The OData filter. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "The number of items to return. Optional.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "The number of items to skip over before returning elements. Optional.",
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "description" : "The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of Azure Storage accounts.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageAccountInformationListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}" : {
      "get" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Gets the specified Azure Storage account linked to the given Data Lake Analytics account.",
        "operationId" : "StorageAccounts_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "storageAccountName",
          "in" : "path",
          "description" : "The name of the Azure Storage account for which to retrieve the details.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the specified Azure Storage account information.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageAccountInformation"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Updates the specified Data Lake Analytics account to add an Azure Storage account.",
        "operationId" : "StorageAccounts_Add",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "storageAccountName",
          "in" : "path",
          "description" : "The name of the Azure Storage account to add",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters containing the access key and optional suffix for the Azure Storage Account.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddStorageAccountParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added the specified Azure Storage account information to the specified Azure Data Lake Analytics account."
          }
        }
      },
      "delete" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Updates the specified Data Lake Analytics account to remove an Azure Storage account.",
        "operationId" : "StorageAccounts_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "storageAccountName",
          "in" : "path",
          "description" : "The name of the Azure Storage account to remove",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted the specified Azure Storage account information from the Azure Data Lake Analytics account."
          }
        }
      },
      "patch" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Updates the Data Lake Analytics account to replace Azure Storage blob account details, such as the access key and/or suffix.",
        "operationId" : "StorageAccounts_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "storageAccountName",
          "in" : "path",
          "description" : "The Azure Storage account to modify",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters containing the access key and suffix to update the storage account with, if any. Passing nothing results in no change.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateStorageAccountParameters"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Successfully update the specified Azure Storage account information for the specified Azure Data Lake Analytics account."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}/containers" : {
      "get" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Lists the Azure Storage containers, if any, associated with the specified Data Lake Analytics and Azure Storage account combination. The response includes a link to the next page of results, if any.",
        "operationId" : "StorageAccounts_ListStorageContainers",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "storageAccountName",
          "in" : "path",
          "description" : "The name of the Azure storage account from which to list blob containers.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of Azure Storage containers under the specified Azure Data Lake Analytics account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageContainerListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}/containers/{containerName}" : {
      "get" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Gets the specified Azure Storage container associated with the given Data Lake Analytics and Azure Storage accounts.",
        "operationId" : "StorageAccounts_GetStorageContainer",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "storageAccountName",
          "in" : "path",
          "description" : "The name of the Azure storage account from which to retrieve the blob container.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "containerName",
          "in" : "path",
          "description" : "The name of the Azure storage container to retrieve",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the specified Azure Storage container information.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageContainer"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}/containers/{containerName}/listSasTokens" : {
      "post" : {
        "tags" : [ "StorageAccounts" ],
        "description" : "Gets the SAS token associated with the specified Data Lake Analytics and Azure Storage account and container combination.",
        "operationId" : "StorageAccounts_ListSasTokens",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "The name of the Data Lake Analytics account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "storageAccountName",
          "in" : "path",
          "description" : "The name of the Azure storage account for which the SAS token is being requested.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "containerName",
          "in" : "path",
          "description" : "The name of the Azure storage container for which the SAS token is being requested.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of Storage Account SAS tokens for the specified Azure Storage account container.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SasTokenInformationListResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AddDataLakeStoreParameters" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AddDataLakeStoreProperties"
          }
        },
        "description" : "The parameters used to add a new Data Lake Store account."
      },
      "AddDataLakeStoreProperties" : {
        "type" : "object",
        "properties" : {
          "suffix" : {
            "type" : "string",
            "description" : "The optional suffix for the Data Lake Store account."
          }
        },
        "description" : "The Data Lake Store account properties to use when adding a new Data Lake Store account."
      },
      "AddDataLakeStoreWithAccountParameters" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The unique name of the Data Lake Store account to add."
          },
          "properties" : {
            "$ref" : "#/components/schemas/AddDataLakeStoreProperties"
          }
        },
        "description" : "The parameters used to add a new Data Lake Store account while creating a new Data Lake Analytics account."
      },
      "AddStorageAccountParameters" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AddStorageAccountProperties"
          }
        },
        "description" : "The parameters used to add a new Azure Storage account."
      },
      "AddStorageAccountProperties" : {
        "required" : [ "accessKey" ],
        "type" : "object",
        "properties" : {
          "accessKey" : {
            "type" : "string",
            "description" : "The access key associated with this Azure Storage account that will be used to connect to it."
          },
          "suffix" : {
            "type" : "string",
            "description" : "The optional suffix for the storage account."
          }
        },
        "description" : "The Azure Storage account properties to use when adding a new Azure Storage account."
      },
      "AddStorageAccountWithAccountParameters" : {
        "required" : [ "name", "properties" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The unique name of the Azure Storage account to add."
          },
          "properties" : {
            "$ref" : "#/components/schemas/AddStorageAccountProperties"
          }
        },
        "description" : "The parameters used to add a new Azure Storage account while creating a new Data Lake Analytics account."
      },
      "CapabilityInformation" : {
        "type" : "object",
        "properties" : {
          "accountCount" : {
            "type" : "integer",
            "description" : "The current number of accounts under this subscription.",
            "format" : "int32",
            "readOnly" : true
          },
          "maxAccountCount" : {
            "type" : "integer",
            "description" : "The maximum supported number of accounts under this subscription.",
            "format" : "int32",
            "readOnly" : true
          },
          "migrationState" : {
            "type" : "boolean",
            "description" : "The Boolean value of true or false to indicate the maintenance state.",
            "readOnly" : true
          },
          "state" : {
            "type" : "string",
            "description" : "The subscription state.",
            "readOnly" : true,
            "enum" : [ "Registered", "Suspended", "Deleted", "Unregistered", "Warned" ]
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "The subscription credentials that uniquely identifies the subscription.",
            "format" : "uuid",
            "readOnly" : true
          }
        },
        "description" : "Subscription-level properties and limits for Data Lake Analytics."
      },
      "CheckNameAvailabilityParameters" : {
        "required" : [ "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The Data Lake Analytics name to check availability for."
          },
          "type" : {
            "type" : "string",
            "description" : "The resource type. Note: This should not be set by the user, as the constant value is Microsoft.DataLakeAnalytics/accounts",
            "enum" : [ "Microsoft.DataLakeAnalytics/accounts" ]
          }
        },
        "description" : "Data Lake Analytics account name availability check parameters."
      },
      "ComputePolicy" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ComputePolicyProperties"
          }
        },
        "description" : "Data Lake Analytics compute policy information.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/SubResource"
        } ]
      },
      "ComputePolicyListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The results of the list operation.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ComputePolicy"
            }
          }
        },
        "description" : "The list of compute policies in the account."
      },
      "ComputePolicyProperties" : {
        "type" : "object",
        "properties" : {
          "maxDegreeOfParallelismPerJob" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The maximum degree of parallelism per job this user can use to submit jobs.",
            "format" : "int32",
            "readOnly" : true
          },
          "minPriorityPerJob" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The minimum priority per job this user can use to submit jobs.",
            "format" : "int32",
            "readOnly" : true
          },
          "objectId" : {
            "type" : "string",
            "description" : "The AAD object identifier for the entity to create a policy for.",
            "format" : "uuid",
            "readOnly" : true
          },
          "objectType" : {
            "type" : "string",
            "description" : "The type of AAD object the object identifier refers to.",
            "readOnly" : true,
            "enum" : [ "User", "Group", "ServicePrincipal" ]
          }
        },
        "description" : "The compute policy properties."
      },
      "CreateComputePolicyWithAccountParameters" : {
        "required" : [ "name", "properties" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The unique name of the compute policy to create."
          },
          "properties" : {
            "$ref" : "#/components/schemas/CreateOrUpdateComputePolicyProperties"
          }
        },
        "description" : "The parameters used to create a new compute policy while creating a new Data Lake Analytics account."
      },
      "CreateDataLakeAnalyticsAccountParameters" : {
        "required" : [ "location", "properties" ],
        "type" : "object",
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "The resource location."
          },
          "properties" : {
            "$ref" : "#/components/schemas/CreateDataLakeAnalyticsAccountProperties"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The resource tags."
          }
        },
        "description" : "The parameters to use for creating a Data Lake Analytics account."
      },
      "CreateDataLakeAnalyticsAccountProperties" : {
        "required" : [ "dataLakeStoreAccounts", "defaultDataLakeStoreAccount" ],
        "type" : "object",
        "properties" : {
          "computePolicies" : {
            "type" : "array",
            "description" : "The list of compute policies associated with this account.",
            "items" : {
              "$ref" : "#/components/schemas/CreateComputePolicyWithAccountParameters"
            }
          },
          "dataLakeStoreAccounts" : {
            "type" : "array",
            "description" : "The list of Data Lake Store accounts associated with this account.",
            "items" : {
              "$ref" : "#/components/schemas/AddDataLakeStoreWithAccountParameters"
            }
          },
          "defaultDataLakeStoreAccount" : {
            "type" : "string",
            "description" : "The default Data Lake Store account associated with this account."
          },
          "firewallAllowAzureIps" : {
            "type" : "string",
            "description" : "The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.",
            "enum" : [ "Enabled", "Disabled" ]
          },
          "firewallRules" : {
            "type" : "array",
            "description" : "The list of firewall rules associated with this account.",
            "items" : {
              "$ref" : "#/components/schemas/CreateFirewallRuleWithAccountParameters"
            }
          },
          "firewallState" : {
            "type" : "string",
            "description" : "The current state of the IP address firewall for this account.",
            "enum" : [ "Enabled", "Disabled" ]
          },
          "maxDegreeOfParallelism" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The maximum supported degree of parallelism for this account.",
            "format" : "int32",
            "default" : 30
          },
          "maxDegreeOfParallelismPerJob" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The maximum supported degree of parallelism per job for this account.",
            "format" : "int32"
          },
          "maxJobCount" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The maximum supported jobs running under the account at the same time.",
            "format" : "int32",
            "default" : 3
          },
          "minPriorityPerJob" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The minimum supported priority per job for this account.",
            "format" : "int32"
          },
          "newTier" : {
            "type" : "string",
            "description" : "The commitment tier for the next month.",
            "enum" : [ "Consumption", "Commitment_100AUHours", "Commitment_500AUHours", "Commitment_1000AUHours", "Commitment_5000AUHours", "Commitment_10000AUHours", "Commitment_50000AUHours", "Commitment_100000AUHours", "Commitment_500000AUHours" ]
          },
          "queryStoreRetention" : {
            "maximum" : 180,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The number of days that job metadata is retained.",
            "format" : "int32",
            "default" : 30
          },
          "storageAccounts" : {
            "type" : "array",
            "description" : "The list of Azure Blob Storage accounts associated with this account.",
            "items" : {
              "$ref" : "#/components/schemas/AddStorageAccountWithAccountParameters"
            }
          }
        }
      },
      "CreateFirewallRuleWithAccountParameters" : {
        "required" : [ "name", "properties" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The unique name of the firewall rule to create."
          },
          "properties" : {
            "$ref" : "#/components/schemas/CreateOrUpdateFirewallRuleProperties"
          }
        },
        "description" : "The parameters used to create a new firewall rule while creating a new Data Lake Analytics account."
      },
      "CreateOrUpdateComputePolicyParameters" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/CreateOrUpdateComputePolicyProperties"
          }
        },
        "description" : "The parameters used to create a new compute policy."
      },
      "CreateOrUpdateComputePolicyProperties" : {
        "required" : [ "objectId", "objectType" ],
        "type" : "object",
        "properties" : {
          "maxDegreeOfParallelismPerJob" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The maximum degree of parallelism per job this user can use to submit jobs. This property, the min priority per job property, or both must be passed.",
            "format" : "int32"
          },
          "minPriorityPerJob" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The minimum priority per job this user can use to submit jobs. This property, the max degree of parallelism per job property, or both must be passed.",
            "format" : "int32"
          },
          "objectId" : {
            "type" : "string",
            "description" : "The AAD object identifier for the entity to create a policy for.",
            "format" : "uuid"
          },
          "objectType" : {
            "type" : "string",
            "description" : "The type of AAD object the object identifier refers to.",
            "enum" : [ "User", "Group", "ServicePrincipal" ]
          }
        },
        "description" : "The compute policy properties to use when creating a new compute policy."
      },
      "CreateOrUpdateFirewallRuleParameters" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/CreateOrUpdateFirewallRuleProperties"
          }
        },
        "description" : "The parameters used to create a new firewall rule."
      },
      "CreateOrUpdateFirewallRuleProperties" : {
        "required" : [ "endIpAddress", "startIpAddress" ],
        "type" : "object",
        "properties" : {
          "endIpAddress" : {
            "type" : "string",
            "description" : "The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol."
          },
          "startIpAddress" : {
            "type" : "string",
            "description" : "The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol."
          }
        },
        "description" : "The firewall rule properties to use when creating a new firewall rule."
      },
      "DataLakeAnalyticsAccount" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DataLakeAnalyticsAccountProperties"
          }
        },
        "description" : "A Data Lake Analytics account object, containing all information associated with the named Data Lake Analytics account.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "DataLakeAnalyticsAccountBasic" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DataLakeAnalyticsAccountPropertiesBasic"
          }
        },
        "description" : "A Data Lake Analytics account object, containing all information associated with the named Data Lake Analytics account.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "DataLakeAnalyticsAccountListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The results of the list operation.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/DataLakeAnalyticsAccountBasic"
            }
          }
        },
        "description" : "Data Lake Analytics account list information."
      },
      "DataLakeAnalyticsAccountProperties" : {
        "properties" : {
          "computePolicies" : {
            "type" : "array",
            "description" : "The list of compute policies associated with this account.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ComputePolicy"
            }
          },
          "currentTier" : {
            "type" : "string",
            "description" : "The commitment tier in use for the current month.",
            "readOnly" : true,
            "enum" : [ "Consumption", "Commitment_100AUHours", "Commitment_500AUHours", "Commitment_1000AUHours", "Commitment_5000AUHours", "Commitment_10000AUHours", "Commitment_50000AUHours", "Commitment_100000AUHours", "Commitment_500000AUHours" ]
          },
          "dataLakeStoreAccounts" : {
            "type" : "array",
            "description" : "The list of Data Lake Store accounts associated with this account.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/DataLakeStoreAccountInformation"
            }
          },
          "defaultDataLakeStoreAccount" : {
            "type" : "string",
            "description" : "The default Data Lake Store account associated with this account.",
            "readOnly" : true
          },
          "firewallAllowAzureIps" : {
            "type" : "string",
            "description" : "The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.",
            "readOnly" : true,
            "enum" : [ "Enabled", "Disabled" ]
          },
          "firewallRules" : {
            "type" : "array",
            "description" : "The list of firewall rules associated with this account.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/FirewallRule"
            }
          },
          "firewallState" : {
            "type" : "string",
            "description" : "The current state of the IP address firewall for this account.",
            "readOnly" : true,
            "enum" : [ "Enabled", "Disabled" ]
          },
          "maxDegreeOfParallelism" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The maximum supported degree of parallelism for this account.",
            "format" : "int32",
            "readOnly" : true,
            "default" : 30
          },
          "maxDegreeOfParallelismPerJob" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The maximum supported degree of parallelism per job for this account.",
            "format" : "int32",
            "readOnly" : true
          },
          "maxJobCount" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The maximum supported jobs running under the account at the same time.",
            "format" : "int32",
            "readOnly" : true,
            "default" : 3
          },
          "minPriorityPerJob" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "The minimum supported priority per job for this account.",
            "format" : "int32",
            "readOnly" : true
          },
          "newTier" : {
            "type" : "string",
            "description" : "The commitment tier for the next month.",
            "readOnly" : true,
            "enum" : [ "Consumption", "Commitment_100AUHours", "Commitment_500AUHours", "Commitment_1000AUHours", "Commitment_5000AUHours", "Commitment_10000AUHours", "Commitment_50000AUHours", "Commitment_100000AUHours", "Commitment_500000AUHours" ]
          },
          "queryStoreRetention" : {
            "maximum" : 180,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The number of days that job metadata is retained.",
            "format" : "int32",
            "readOnly" : true,
            "default" : 30
          },
          "storageAccounts" : {
            "type" : "array",
            "description" : "The list of Azure Blob Storage accounts associated with this account.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/StorageAccountInformation"
            }
          },
          "systemMaxDegreeOfParallelism" : {
            "type" : "integer",
            "description" : "The system defined maximum supported degree of parallelism for this account, which restricts the maximum value of parallelism the user can set for the account.",
            "format" : "int32",
            "readOnly" : true
          },
          "systemMaxJobCount" : {
            "type" : "integer",
            "description" : "The system defined maximum supported jobs running under the account at the same time, which restricts the maximum number of running jobs the user can set for the account.",
            "format" : "int32",
            "readOnly" : true
          }
        },
        "description" : "The account specific properties that are associated with an underlying Data Lake Analytics account. Returned only when retrieving a specific account.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/DataLakeAnalyticsAccountPropertiesBasic"
        } ]
      },
      "DataLakeAnalyticsAccountPropertiesBasic" : {
        "type" : "object",
        "properties" : {
          "accountId" : {
            "type" : "string",
            "description" : "The unique identifier associated with this Data Lake Analytics account.",
            "format" : "uuid",
            "readOnly" : true
          },
          "creationTime" : {
            "type" : "string",
            "description" : "The account creation time.",
            "format" : "date-time",
            "readOnly" : true
          },
          "endpoint" : {
            "type" : "string",
            "description" : "The full CName endpoint for this account.",
            "readOnly" : true
          },
          "lastModifiedTime" : {
            "type" : "string",
            "description" : "The account last modified time.",
            "format" : "date-time",
            "readOnly" : true
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The provisioning status of the Data Lake Analytics account.",
            "readOnly" : true,
            "enum" : [ "Failed", "Creating", "Running", "Succeeded", "Patching", "Suspending", "Resuming", "Deleting", "Deleted", "Undeleting", "Canceled" ]
          },
          "state" : {
            "type" : "string",
            "description" : "The state of the Data Lake Analytics account.",
            "readOnly" : true,
            "enum" : [ "Active", "Suspended" ]
          }
        },
        "description" : "The basic account specific properties that are associated with an underlying Data Lake Analytics account."
      },
      "DataLakeStoreAccountInformation" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DataLakeStoreAccountInformationProperties"
          }
        },
        "description" : "Data Lake Store account information.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/SubResource"
        } ]
      },
      "DataLakeStoreAccountInformationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The results of the list operation.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/DataLakeStoreAccountInformation"
            }
          }
        },
        "description" : "Data Lake Store account list information."
      },
      "DataLakeStoreAccountInformationProperties" : {
        "type" : "object",
        "properties" : {
          "suffix" : {
            "type" : "string",
            "description" : "The optional suffix for the Data Lake Store account.",
            "readOnly" : true
          }
        },
        "description" : "The Data Lake Store account properties."
      },
      "FirewallRule" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/FirewallRuleProperties"
          }
        },
        "description" : "Data Lake Analytics firewall rule information.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/SubResource"
        } ]
      },
      "FirewallRuleListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The results of the list operation.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/FirewallRule"
            }
          }
        },
        "description" : "Data Lake Analytics firewall rule list information."
      },
      "FirewallRuleProperties" : {
        "type" : "object",
        "properties" : {
          "endIpAddress" : {
            "type" : "string",
            "description" : "The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.",
            "readOnly" : true
          },
          "startIpAddress" : {
            "type" : "string",
            "description" : "The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.",
            "readOnly" : true
          }
        },
        "description" : "The firewall rule properties."
      },
      "NameAvailabilityInformation" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "The message describing why the Data Lake Analytics account name is not available, if nameAvailable is false.",
            "readOnly" : true
          },
          "nameAvailable" : {
            "type" : "boolean",
            "description" : "The Boolean value of true or false to indicate whether the Data Lake Analytics account name is available or not.",
            "readOnly" : true
          },
          "reason" : {
            "type" : "string",
            "description" : "The reason why the Data Lake Analytics account name is not available, if nameAvailable is false.",
            "readOnly" : true
          }
        },
        "description" : "Data Lake Analytics account name availability result information."
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/OperationDisplay"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the operation.",
            "readOnly" : true
          },
          "origin" : {
            "type" : "string",
            "description" : "The intended executor of the operation.",
            "readOnly" : true,
            "enum" : [ "user", "system", "user,system" ]
          }
        },
        "description" : "An available operation for Data Lake Analytics."
      },
      "OperationDisplay" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "A friendly description of the operation.",
            "readOnly" : true
          },
          "operation" : {
            "type" : "string",
            "description" : "A friendly name of the operation.",
            "readOnly" : true
          },
          "provider" : {
            "type" : "string",
            "description" : "The resource provider of the operation.",
            "readOnly" : true
          },
          "resource" : {
            "type" : "string",
            "description" : "The resource type of the operation.",
            "readOnly" : true
          }
        },
        "description" : "The display information for a particular operation."
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The results of the list operation.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "The list of available operations for Data Lake Analytics."
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The resource identifer.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "The resource location.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The resource name.",
[...]
