{"openapi":"3.0.1","info":{"title":"Security Center","description":"API spec for Microsoft.Security (Azure Security Center) resource provider","version":"2019-01-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards":{"get":{"tags":["RegulatoryCompliance"],"description":"Supported regulatory compliance standards details and state","operationId":"RegulatoryComplianceStandards_List","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"$filter","in":"query","description":"OData filter. Optional.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryComplianceStandardList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}":{"get":{"tags":["RegulatoryCompliance"],"description":"Supported regulatory compliance details state for selected standard","operationId":"RegulatoryComplianceStandards_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"regulatoryComplianceStandardName","in":"path","description":"Name of the regulatory compliance standard object","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryComplianceStandard"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls":{"get":{"tags":["RegulatoryCompliance"],"description":"All supported regulatory compliance controls details and state for selected standard","operationId":"RegulatoryComplianceControls_List","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"regulatoryComplianceStandardName","in":"path","description":"Name of the regulatory compliance standard object","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter. Optional.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryComplianceControlList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}":{"get":{"tags":["RegulatoryCompliance"],"description":"Selected regulatory compliance control details and state","operationId":"RegulatoryComplianceControls_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"regulatoryComplianceStandardName","in":"path","description":"Name of the regulatory compliance standard object","required":true,"schema":{"type":"string"}},{"name":"regulatoryComplianceControlName","in":"path","description":"Name of the regulatory compliance control object","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryComplianceControl"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}/regulatoryComplianceAssessments":{"get":{"tags":["RegulatoryCompliance"],"description":"Details and state of assessments mapped to selected regulatory compliance control","operationId":"RegulatoryComplianceAssessments_List","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"regulatoryComplianceStandardName","in":"path","description":"Name of the regulatory compliance standard object","required":true,"schema":{"type":"string"}},{"name":"regulatoryComplianceControlName","in":"path","description":"Name of the regulatory compliance control object","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"OData filter. Optional.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryComplianceAssessmentList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}/regulatoryComplianceAssessments/{regulatoryComplianceAssessmentName}":{"get":{"tags":["RegulatoryCompliance"],"description":"Supported regulatory compliance details and state for selected assessment","operationId":"RegulatoryComplianceAssessments_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"regulatoryComplianceStandardName","in":"path","description":"Name of the regulatory compliance standard object","required":true,"schema":{"type":"string"}},{"name":"regulatoryComplianceControlName","in":"path","description":"Name of the regulatory compliance control object","required":true,"schema":{"type":"string"}},{"name":"regulatoryComplianceAssessmentName","in":"path","description":"Name of the regulatory compliance assessment object","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryComplianceAssessment"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}}},"components":{"schemas":{"RegulatoryComplianceAssessment":{"properties":{"properties":{"$ref":"#/components/schemas/RegulatoryComplianceAssessmentProperties"}},"description":"Regulatory compliance assessment details and state","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."}]},"RegulatoryComplianceAssessmentList":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page.","readOnly":true},"value":{"type":"array","items":{"$ref":"#/components/schemas/RegulatoryComplianceAssessment"}}},"description":"List of regulatory compliance assessment response"},"RegulatoryComplianceAssessmentProperties":{"type":"object","properties":{"assessmentDetailsLink":{"type":"string","description":"Link to more detailed assessment results data. The response type will be according to the assessmentType field","readOnly":true},"assessmentType":{"type":"string","description":"The expected type of assessment contained in the AssessmentDetailsLink","readOnly":true},"description":{"type":"string","description":"The description of the regulatory compliance assessment","readOnly":true},"failedResources":{"type":"integer","description":"The given assessment's related resources count with failed state.","readOnly":true},"passedResources":{"type":"integer","description":"The given assessment's related resources count with passed state.","readOnly":true},"skippedResources":{"type":"integer","description":"The given assessment's related resources count with skipped state.","readOnly":true},"state":{"type":"string","description":"Aggregative state based on the assessment's scanned resources states","enum":["Passed","Failed","Skipped","Unsupported"]},"unsupportedResources":{"type":"integer","description":"The given assessment's related resources count with unsupported state.","readOnly":true}},"description":"Regulatory compliance assessment data"},"RegulatoryComplianceControl":{"properties":{"properties":{"$ref":"#/components/schemas/RegulatoryComplianceControlProperties"}},"description":"Regulatory compliance control details and state","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."}]},"RegulatoryComplianceControlList":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page.","readOnly":true},"value":{"type":"array","description":"List of regulatory compliance controls","items":{"$ref":"#/components/schemas/RegulatoryComplianceControl"}}},"description":"List of regulatory compliance controls response"},"RegulatoryComplianceControlProperties":{"type":"object","properties":{"description":{"type":"string","description":"The description of the regulatory compliance control","readOnly":true},"failedAssessments":{"type":"integer","description":"The number of supported regulatory compliance assessments of the given control with a failed state","readOnly":true},"passedAssessments":{"type":"integer","description":"The number of supported regulatory compliance assessments of the given control with a passed state","readOnly":true},"skippedAssessments":{"type":"integer","description":"The number of supported regulatory compliance assessments of the given control with a skipped state","readOnly":true},"state":{"type":"string","description":"Aggregative state based on the control's supported assessments states","enum":["Passed","Failed","Skipped","Unsupported"]}},"description":"Regulatory compliance control data"},"RegulatoryComplianceStandard":{"properties":{"properties":{"$ref":"#/components/schemas/RegulatoryComplianceStandardProperties"}},"description":"Regulatory compliance standard details and state","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."}]},"RegulatoryComplianceStandardList":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page.","readOnly":true},"value":{"type":"array","items":{"$ref":"#/components/schemas/RegulatoryComplianceStandard"}}},"description":"List of regulatory compliance standards response"},"RegulatoryComplianceStandardProperties":{"type":"object","properties":{"failedControls":{"type":"integer","description":"The number of supported regulatory compliance controls of the given standard with a failed state","readOnly":true},"passedControls":{"type":"integer","description":"The number of supported regulatory compliance controls of the given standard with a passed state","readOnly":true},"skippedControls":{"type":"integer","description":"The number of supported regulatory compliance controls of the given standard with a skipped state","readOnly":true},"state":{"type":"string","description":"Aggregative state based on the standard's supported controls states","enum":["Passed","Failed","Skipped","Unsupported"]},"unsupportedControls":{"type":"integer","description":"The number of regulatory compliance controls of the given standard which are unsupported by automated assessments","readOnly":true}},"description":"Regulatory compliance standard data"}},"parameters":{"RegulatoryComplianceAssessmentName":{"name":"regulatoryComplianceAssessmentName","in":"path","description":"Name of the regulatory compliance assessment object","required":true,"schema":{"type":"string"}},"RegulatoryComplianceControlName":{"name":"regulatoryComplianceControlName","in":"path","description":"Name of the regulatory compliance control object","required":true,"schema":{"type":"string"}},"RegulatoryComplianceStandardName":{"name":"regulatoryComplianceStandardName","in":"path","description":"Name of the regulatory compliance standard object","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}