{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "BatchService",
    "description" : "A client for issuing REST requests to the Azure Batch service.",
    "version" : "2018-08-01.7.0"
  },
  "servers" : [ {
    "url" : "https://batch.core.windows.net/"
  } ],
  "paths" : {
    "/applications" : {
      "get" : {
        "tags" : [ "Applications" ],
        "summary" : "Lists all of the applications available in the specified account.",
        "description" : "This operation returns only applications and versions that are available for use on compute nodes; that is, that can be used in an application package reference. For administrator information about applications and versions that are not yet available to compute nodes, use the Azure portal or the Azure Resource Manager API.",
        "operationId" : "Application_List",
        "parameters" : [ {
          "name" : "maxresults",
          "in" : "query",
          "description" : "The maximum number of items to return in the response. A maximum of 1000 applications can be returned.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1000
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response containing the list of applications.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{applicationId}" : {
      "get" : {
        "tags" : [ "Applications" ],
        "summary" : "Gets information about the specified application.",
        "description" : "This operation returns only applications and versions that are available for use on compute nodes; that is, that can be used in an application package reference. For administrator information about applications and versions that are not yet available to compute nodes, use the Azure portal or the Azure Resource Manager API.",
        "operationId" : "Application_Get",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "The ID of the application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response containing the application.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationSummary"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/certificates" : {
      "get" : {
        "tags" : [ "Certificates" ],
        "summary" : "Lists all of the certificates that have been added to the specified account.",
        "operationId" : "Certificate_List",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "An OData $filter clause. For more information on constructing this filter, see https://docs.microsoft.com/en-us/rest/api/batchservice/odata-filters-in-batch#list-certificates.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "An OData $select clause.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "maxresults",
          "in" : "query",
          "description" : "The maximum number of items to return in the response. A maximum of 1000 certificates can be returned.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1000
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response containing the list of certificates.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CertificateListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Certificates" ],
        "summary" : "Adds a certificate to the specified account.",
        "operationId" : "Certificate_Add",
        "parameters" : [ {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The certificate to be added.",
          "content" : {
            "application/json; odata=minimalmetadata" : {
              "schema" : {
                "$ref" : "#/components/schemas/CertificateAddParameter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The request to the Batch service was successful.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "DataServiceId" : {
                "description" : "The OData ID of the resource to which the request applied.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})" : {
      "get" : {
        "tags" : [ "Certificates" ],
        "description" : "Gets information about the specified certificate.",
        "operationId" : "Certificate_Get",
        "parameters" : [ {
          "name" : "thumbprintAlgorithm",
          "in" : "path",
          "description" : "The algorithm used to derive the thumbprint parameter. This must be sha1.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "thumbprint",
          "in" : "path",
          "description" : "The thumbprint of the certificate to get.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "An OData $select clause.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response containing the certificate.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Certificate"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Certificates" ],
        "summary" : "Deletes a certificate from the specified account.",
        "description" : "You cannot delete a certificate if a resource (pool or compute node) is using it. Before you can delete a certificate, you must therefore make sure that the certificate is not associated with any existing pools, the certificate is not installed on any compute nodes (even if you remove a certificate from a pool, it is not removed from existing compute nodes in that pool until they restart), and no running tasks depend on the certificate. If you try to delete a certificate that is in use, the deletion fails. The certificate status changes to deleteFailed. You can use Cancel Delete Certificate to set the status back to active if you decide that you want to continue using the certificate.",
        "operationId" : "Certificate_Delete",
        "parameters" : [ {
          "name" : "thumbprintAlgorithm",
          "in" : "path",
          "description" : "The algorithm used to derive the thumbprint parameter. This must be sha1.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "thumbprint",
          "in" : "path",
          "description" : "The thumbprint of the certificate to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "The request to the Batch service was successful.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})/canceldelete" : {
      "post" : {
        "tags" : [ "Certificates" ],
        "summary" : "Cancels a failed deletion of a certificate from the specified account.",
        "description" : "If you try to delete a certificate that is being used by a pool or compute node, the status of the certificate changes to deleteFailed. If you decide that you want to continue using the certificate, you can use this operation to set the status of the certificate back to active. If you intend to delete the certificate, you do not need to run this operation after the deletion failed. You must make sure that the certificate is not being used by any resources, and then you can try again to delete the certificate.",
        "operationId" : "Certificate_CancelDeletion",
        "parameters" : [ {
          "name" : "thumbprintAlgorithm",
          "in" : "path",
          "description" : "The algorithm used to derive the thumbprint parameter. This must be sha1.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "thumbprint",
          "in" : "path",
          "description" : "The thumbprint of the certificate being deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The request to the Batch service was successful.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "DataServiceId" : {
                "description" : "The OData ID of the resource to which the request applied.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs" : {
      "get" : {
        "tags" : [ "Jobs" ],
        "summary" : "Lists all of the jobs in the specified account.",
        "operationId" : "Job_List",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "An OData $filter clause. For more information on constructing this filter, see https://docs.microsoft.com/en-us/rest/api/batchservice/odata-filters-in-batch#list-jobs.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "An OData $select clause.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "An OData $expand clause.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "maxresults",
          "in" : "query",
          "description" : "The maximum number of items to return in the response. A maximum of 1000 jobs can be returned.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1000
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response containing the list of jobs.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudJobListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Jobs" ],
        "summary" : "Adds a job to the specified account.",
        "description" : "The Batch service supports two ways to control the work done as part of a job. In the first approach, the user specifies a Job Manager task. The Batch service launches this task when it is ready to start the job. The Job Manager task controls all other tasks that run under this job, by using the Task APIs. In the second approach, the user directly controls the execution of tasks under an active job, by using the Task APIs. Also note: when naming jobs, avoid including sensitive information such as user names or secret project names. This information may appear in telemetry logs accessible to Microsoft Support engineers.",
        "operationId" : "Job_Add",
        "parameters" : [ {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The job to be added.",
          "content" : {
            "application/json; odata=minimalmetadata" : {
              "schema" : {
                "$ref" : "#/components/schemas/JobAddParameter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The request to the Batch service was successful.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "DataServiceId" : {
                "description" : "The OData ID of the resource to which the request applied.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}" : {
      "get" : {
        "tags" : [ "Jobs" ],
        "summary" : "Gets information about the specified job.",
        "operationId" : "Job_Get",
        "parameters" : [ {
          "name" : "jobId",
          "in" : "path",
          "description" : "The ID of the job.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "An OData $select clause.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "An OData $expand clause.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Modified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Unmodified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response containing the job.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudJob"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Jobs" ],
        "summary" : "Updates the properties of the specified job.",
        "description" : "This fully replaces all the updatable properties of the job. For example, if the job has constraints associated with it and if constraints is not specified with this request, then the Batch service will remove the existing constraints.",
        "operationId" : "Job_Update",
        "parameters" : [ {
          "name" : "jobId",
          "in" : "path",
          "description" : "The ID of the job whose properties you want to update.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Modified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Unmodified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters for the request.",
          "content" : {
            "application/json; odata=minimalmetadata" : {
              "schema" : {
                "$ref" : "#/components/schemas/JobUpdateParameter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request to the Batch service was successful.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "DataServiceId" : {
                "description" : "The OData ID of the resource to which the request applied.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Jobs" ],
        "summary" : "Deletes a job.",
        "description" : "Deleting a job also deletes all tasks that are part of that job, and all job statistics. This also overrides the retention period for task data; that is, if the job contains tasks which are still retained on compute nodes, the Batch services deletes those tasks' working directories and all their contents.  When a Delete Job request is received, the Batch service sets the job to the deleting state. All update operations on a job that is in deleting state will fail with status code 409 (Conflict), with additional information indicating that the job is being deleted.",
        "operationId" : "Job_Delete",
        "parameters" : [ {
          "name" : "jobId",
          "in" : "path",
          "description" : "The ID of the job to delete.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Modified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Unmodified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "The request to the Batch service was successful.",
            "headers" : {
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Jobs" ],
        "summary" : "Updates the properties of the specified job.",
        "description" : "This replaces only the job properties specified in the request. For example, if the job has constraints, and a request does not specify the constraints element, then the job keeps the existing constraints.",
        "operationId" : "Job_Patch",
        "parameters" : [ {
          "name" : "jobId",
          "in" : "path",
          "description" : "The ID of the job whose properties you want to update.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Modified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Unmodified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters for the request.",
          "content" : {
            "application/json; odata=minimalmetadata" : {
              "schema" : {
                "$ref" : "#/components/schemas/JobPatchParameter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request to the Batch service was successful.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "DataServiceId" : {
                "description" : "The OData ID of the resource to which the request applied.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/addtaskcollection" : {
      "post" : {
        "tags" : [ "Tasks" ],
        "summary" : "Adds a collection of tasks to the specified job.",
        "description" : "Note that each task must have a unique ID. The Batch service may not return the results for each task in the same order the tasks were submitted in this request. If the server times out or the connection is closed during the request, the request may have been partially or fully processed, or not at all. In such cases, the user should re-issue the request. Note that it is up to the user to correctly handle failures when re-issuing a request. For example, you should use the same task IDs during a retry so that if the prior operation succeeded, the retry will not create extra tasks unexpectedly. If the response contains any tasks which failed to add, a client can retry the request. In a retry, it is most efficient to resubmit only tasks that failed to add, and to omit tasks that were successfully added on the first attempt. The maximum lifetime of a task from addition to completion is 7 days. If a task has not completed within 7 days of being added it will be terminated by the Batch service and left in whatever state it was in at that time.",
        "operationId" : "Task_AddCollection",
        "parameters" : [ {
          "name" : "jobId",
          "in" : "path",
          "description" : "The ID of the job to which the task collection is to be added.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The tasks to be added.",
          "content" : {
            "application/json; odata=minimalmetadata" : {
              "schema" : {
                "$ref" : "#/components/schemas/TaskAddCollectionParameter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A response containing the results of the add task collection operation.",
            "headers" : {
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskAddCollectionResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/disable" : {
      "post" : {
        "tags" : [ "Jobs" ],
        "summary" : "Disables the specified job, preventing new tasks from running.",
        "description" : "The Batch Service immediately moves the job to the disabling state. Batch then uses the disableTasks parameter to determine what to do with the currently running tasks of the job. The job remains in the disabling state until the disable operation is completed and all tasks have been dealt with according to the disableTasks option; the job then moves to the disabled state. No new tasks are started under the job until it moves back to active state. If you try to disable a job that is in any state other than active, disabling, or disabled, the request fails with status code 409.",
        "operationId" : "Job_Disable",
        "parameters" : [ {
          "name" : "jobId",
          "in" : "path",
          "description" : "The ID of the job to disable.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Modified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Unmodified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters for the request.",
          "content" : {
            "application/json; odata=minimalmetadata" : {
              "schema" : {
                "$ref" : "#/components/schemas/JobDisableParameter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "The request to the Batch service was successful.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "DataServiceId" : {
                "description" : "The OData ID of the resource to which the request applied.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/enable" : {
      "post" : {
        "tags" : [ "Jobs" ],
        "summary" : "Enables the specified job, allowing new tasks to run.",
        "description" : "When you call this API, the Batch service sets a disabled job to the enabling state. After the this operation is completed, the job moves to the active state, and scheduling of new tasks under the job resumes. The Batch service does not allow a task to remain in the active state for more than 7 days. Therefore, if you enable a job containing active tasks which were added more than 7 days ago, those tasks will not run.",
        "operationId" : "Job_Enable",
        "parameters" : [ {
          "name" : "jobId",
          "in" : "path",
          "description" : "The ID of the job to enable.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-Modified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "If-Unmodified-Since",
          "in" : "header",
          "description" : "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "The request to the Batch service was successful.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "DataServiceId" : {
                "description" : "The OData ID of the resource to which the request applied.",
                "schema" : {
                  "type" : "string"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/jobpreparationandreleasetaskstatus" : {
      "get" : {
        "tags" : [ "Jobs" ],
        "summary" : "Lists the execution status of the Job Preparation and Job Release task for the specified job across the compute nodes where the job has run.",
        "description" : "This API returns the Job Preparation and Job Release task status on all compute nodes that have run the Job Preparation or Job Release task. This includes nodes which have since been removed from the pool. If this API is invoked on a job which has no Job Preparation or Job Release task, the Batch service returns HTTP status code 409 (Conflict) with an error code of JobPreparationTaskNotSpecified.",
        "operationId" : "Job_ListPreparationAndReleaseTaskStatus",
        "parameters" : [ {
          "name" : "jobId",
          "in" : "path",
          "description" : "The ID of the job.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "An OData $filter clause. For more information on constructing this filter, see https://docs.microsoft.com/en-us/rest/api/batchservice/odata-filters-in-batch#list-job-preparation-and-release-status.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "An OData $select clause.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "maxresults",
          "in" : "query",
          "description" : "The maximum number of items to return in the response. A maximum of 1000 tasks can be returned.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 1000
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response containing a list of Job Preparation and Job Release task statuses.",
            "headers" : {
              "ETag" : {
                "description" : "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "schema" : {
                  "type" : "string"
                }
              },
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "Last-Modified" : {
                "description" : "The time at which the resource was last modified.",
                "schema" : {
                  "type" : "string",
                  "format" : "date-time-rfc1123"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudJobListPreparationAndReleaseTaskStatusResult"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service. If this API is invoked on a job which has no Job Preparation or Job Release task, the Batch service returns HTTP status code 409.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/taskcounts" : {
      "get" : {
        "tags" : [ "Jobs" ],
        "summary" : "Gets the task counts for the specified job.",
        "description" : "Task counts provide a count of the tasks by active, running or completed task state, and a count of tasks which succeeded or failed. Tasks in the preparing state are counted as running.",
        "operationId" : "Job_GetTaskCounts",
        "parameters" : [ {
          "name" : "jobId",
          "in" : "path",
          "description" : "The ID of the job.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        }, {
          "name" : "client-request-id",
          "in" : "header",
          "description" : "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "return-client-request-id",
          "in" : "header",
          "description" : "Whether the server should return the client-request-id in the response.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ocp-date",
          "in" : "header",
          "description" : "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
          "schema" : {
            "type" : "string",
            "format" : "date-time-rfc1123"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response containing the task counts for the specified job.",
            "headers" : {
              "client-request-id" : {
                "description" : "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              },
              "request-id" : {
                "description" : "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskCounts"
                }
              }
            }
          },
          "default" : {
            "description" : "The error from the Batch service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchError"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/tasks" : {
      "get" : {
        "tags" : [ "Tasks" ],
        "summary" : "Lists all of the tasks that are associated with the specified job.",
        "description" : "For multi-instance tasks, information such as affinityId, executionInfo and nodeInfo refer to the primary task. Use the list subtasks API to retrieve information about subtasks.",
        "operationId" : "Task_List",
        "parameters" : [ {
          "name" : "jobId",
          "in" : "path",
          "description" : "The ID of the job.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "An OData $filter clause. For more information on constructing this filter, see https://docs.microsoft.com/en-us/rest/api/batchservice/odata-filters-in-batch#list-tasks.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "An OData $select clause.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "An OData $expand clause.",
[...]
