{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "PowerBIDedicated",
    "description" : "PowerBI Dedicated Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete Power BI dedicated capacities",
    "version" : "2017-10-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.PowerBIDedicated/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available PowerBIDedicated REST API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/capacities" : {
      "get" : {
        "tags" : [ "Capacities" ],
        "description" : "Lists all the Dedicated capacities for the given subscription.",
        "operationId" : "Capacities_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DedicatedCapacities"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/locations/{location}/checkNameAvailability" : {
      "post" : {
        "tags" : [ "Capacities" ],
        "description" : "Check the name availability in the target location.",
        "operationId" : "Capacities_CheckNameAvailability",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "The region name which the operation will lookup into.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The name of the capacity.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckCapacityNameAvailabilityParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckCapacityNameAvailabilityResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/skus" : {
      "get" : {
        "description" : "Lists eligible SKUs for PowerBI Dedicated resource provider.",
        "operationId" : "Capacities_ListSkus",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkuEnumerationForNewResourceResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities" : {
      "get" : {
        "tags" : [ "Capacities" ],
        "description" : "Gets all the Dedicated capacities for the given resource group.",
        "operationId" : "Capacities_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DedicatedCapacities"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}" : {
      "get" : {
        "tags" : [ "Capacities" ],
        "description" : "Gets details about the specified dedicated capacity.",
        "operationId" : "Capacities_GetDetails",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "dedicatedCapacityName",
          "in" : "path",
          "description" : "The name of the dedicated capacity. It must be a minimum of 3 characters, and a maximum of 63.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[a-z][a-z0-9]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The operation was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DedicatedCapacity"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Capacities" ],
        "description" : "Provisions the specified Dedicated capacity based on the configuration specified in the request.",
        "operationId" : "Capacities_Create",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "dedicatedCapacityName",
          "in" : "path",
          "description" : "The name of the Dedicated capacity. It must be a minimum of 3 characters, and a maximum of 63.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[a-z][a-z0-9]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Contains the information used to provision the Dedicated capacity.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DedicatedCapacity"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DedicatedCapacity"
                }
              }
            }
          },
          "201" : {
            "description" : "InProgress. The operation is still in progress.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DedicatedCapacity"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Capacities" ],
        "description" : "Deletes the specified Dedicated capacity.",
        "operationId" : "Capacities_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "dedicatedCapacityName",
          "in" : "path",
          "description" : "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[a-z][a-z0-9]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK."
          },
          "202" : {
            "description" : "Accepted."
          },
          "204" : {
            "description" : "No Content."
          }
        }
      },
      "patch" : {
        "tags" : [ "Capacities" ],
        "description" : "Updates the current state of the specified Dedicated capacity.",
        "operationId" : "Capacities_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "dedicatedCapacityName",
          "in" : "path",
          "description" : "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[a-z][a-z0-9]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request object that contains the updated information for the capacity.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DedicatedCapacityUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DedicatedCapacity"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DedicatedCapacity"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/resume" : {
      "post" : {
        "tags" : [ "Capacities" ],
        "description" : "Resumes operation of the specified Dedicated capacity instance.",
        "operationId" : "Capacities_Resume",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "dedicatedCapacityName",
          "in" : "path",
          "description" : "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[a-z][a-z0-9]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/skus" : {
      "get" : {
        "tags" : [ "Capacities" ],
        "description" : "Lists eligible SKUs for a PowerBI Dedicated resource.",
        "operationId" : "Capacities_ListSkusForCapacity",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "dedicatedCapacityName",
          "in" : "path",
          "description" : "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[a-z][a-z0-9]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkuEnumerationForExistingResourceResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/suspend" : {
      "post" : {
        "tags" : [ "Capacities" ],
        "description" : "Suspends operation of the specified dedicated capacity instance.",
        "operationId" : "Capacities_Suspend",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "dedicatedCapacityName",
          "in" : "path",
          "description" : "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[a-z][a-z0-9]*$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK."
          },
          "202" : {
            "description" : "Accepted."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CheckCapacityNameAvailabilityParameters" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "maxLength" : 63,
            "minLength" : 3,
            "pattern" : "^[a-z][a-z0-9]*$",
            "type" : "string",
            "description" : "Name for checking availability."
          },
          "type" : {
            "type" : "string",
            "description" : "The resource type of PowerBI dedicated.",
            "default" : "Microsoft.PowerBIDedicated/capacities"
          }
        },
        "description" : "Details of capacity name request body."
      },
      "CheckCapacityNameAvailabilityResult" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "The detailed message of the request unavailability."
          },
          "nameAvailable" : {
            "type" : "boolean",
            "description" : "Indicator of availability of the capacity name."
          },
          "reason" : {
            "type" : "string",
            "description" : "The reason of unavailability."
          }
        },
        "description" : "The checking result of capacity name availability."
      },
      "DedicatedCapacities" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "An array of Dedicated capacities resources.",
            "items" : {
              "$ref" : "#/components/schemas/DedicatedCapacity"
            }
          }
        },
        "description" : "An array of Dedicated capacities resources."
      },
      "DedicatedCapacity" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DedicatedCapacityProperties"
          }
        },
        "description" : "Represents an instance of a Dedicated Capacity resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "DedicatedCapacityAdministrators" : {
        "type" : "object",
        "properties" : {
          "members" : {
            "type" : "array",
            "description" : "An array of administrator user identities.",
            "items" : {
              "type" : "string",
              "description" : "The UPN of the user. For example: johnsmith@contoso.com."
            }
          }
        },
        "description" : "An array of administrator user identities"
      },
      "DedicatedCapacityMutableProperties" : {
        "type" : "object",
        "properties" : {
          "administration" : {
            "$ref" : "#/components/schemas/DedicatedCapacityAdministrators"
          }
        },
        "description" : "An object that represents a set of mutable Dedicated capacity resource properties."
      },
      "DedicatedCapacityProperties" : {
        "properties" : {
          "provisioningState" : {
            "type" : "string",
            "description" : "The current deployment state of PowerBI Dedicated resource. The provisioningState is to indicate states for resource provisioning.",
            "readOnly" : true,
            "enum" : [ "Deleting", "Succeeded", "Failed", "Paused", "Suspended", "Provisioning", "Updating", "Suspending", "Pausing", "Resuming", "Preparing", "Scaling" ]
          },
          "state" : {
            "type" : "string",
            "description" : "The current state of PowerBI Dedicated resource. The state is to indicate more states outside of resource provisioning.",
            "readOnly" : true,
            "enum" : [ "Deleting", "Succeeded", "Failed", "Paused", "Suspended", "Provisioning", "Updating", "Suspending", "Pausing", "Resuming", "Preparing", "Scaling" ]
          }
        },
        "description" : "Properties of Dedicated Capacity resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/DedicatedCapacityMutableProperties"
        } ]
      },
      "DedicatedCapacityUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DedicatedCapacityMutableProperties"
          },
          "sku" : {
            "$ref" : "#/components/schemas/ResourceSku"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Key-value pairs of additional provisioning properties."
          }
        },
        "description" : "Provision request specification"
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Describes the format of Error response."
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "properties" : {
              "operation" : {
                "type" : "string",
                "description" : "Operation type: create, update, delete, etc.",
                "readOnly" : true
              },
              "provider" : {
                "type" : "string",
                "description" : "Service provider: Microsoft.PowerBIDedicated.",
                "readOnly" : true
              },
              "resource" : {
                "type" : "string",
                "description" : "Resource on which the operation is performed: capacity, etc.",
                "readOnly" : true
              }
            },
            "description" : "The object that represents the operation."
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}.",
            "readOnly" : true
          }
        },
        "description" : "Capacities REST API operation."
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of operation list results if there are any.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of capacities supported by the Microsoft.PowerBIDedicated resource provider.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "Result listing capacities. It contains a list of operations and a URL link to get the next set of results."
      },
      "Resource" : {
        "required" : [ "location", "sku" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "An identifier that represents the PowerBI Dedicated resource.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Location of the PowerBI Dedicated resource."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the PowerBI Dedicated resource.",
            "readOnly" : true
          },
          "sku" : {
            "$ref" : "#/components/schemas/ResourceSku"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Key-value pairs of additional resource provisioning properties."
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the PowerBI Dedicated resource.",
            "readOnly" : true
          }
        },
        "description" : "Represents an instance of an PowerBI Dedicated resource."
      },
      "ResourceSku" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Name of the SKU level."
          },
          "tier" : {
            "type" : "string",
            "description" : "The name of the Azure pricing tier to which the SKU applies.",
            "enum" : [ "PBIE_Azure" ]
          }
        },
        "description" : "Represents the SKU name and Azure pricing tier for PowerBI Dedicated resource."
      },
      "SkuDetailsForExistingResource" : {
        "type" : "object",
        "properties" : {
          "sku" : {
            "$ref" : "#/components/schemas/ResourceSku"
          }
        },
        "description" : "An object that represents SKU details for existing resources"
      },
      "SkuEnumerationForExistingResourceResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The collection of available SKUs for existing resources",
            "items" : {
              "$ref" : "#/components/schemas/SkuDetailsForExistingResource"
            }
          }
        },
        "description" : "An object that represents enumerating SKUs for existing resources"
      },
      "SkuEnumerationForNewResourceResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The collection of available SKUs for new resources",
            "items" : {
              "$ref" : "#/components/schemas/ResourceSku"
            }
          }
        },
        "description" : "An object that represents enumerating SKUs for new resources"
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "The client API version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.",
        "required" : true,
        "schema" : {
          "maxLength" : 90,
          "minLength" : 1,
          "pattern" : "^[-\\w\\._\\(\\)]+$",
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}