{"openapi":"3.0.1","info":{"title":"SqlManagementClient","description":"The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.","version":"2015-05-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/providers/Microsoft.Sql/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available SQL Rest API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved operations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"*** Error Responses: ***"}}}}},"components":{"schemas":{"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationDisplay"},"name":{"type":"string","description":"The name of the operation being performed on this particular object.","readOnly":true},"origin":{"type":"string","description":"The intended executor of the operation.","readOnly":true,"enum":["user","system"]},"properties":{"type":"object","additionalProperties":{"type":"object"},"description":"Additional descriptions for the operation.","readOnly":true}},"description":"SQL REST API operation definition."},"OperationDisplay":{"type":"object","properties":{"description":{"type":"string","description":"The localized friendly description for the operation.","readOnly":true},"operation":{"type":"string","description":"The localized friendly name for the operation.","readOnly":true},"provider":{"type":"string","description":"The localized friendly form of the resource provider name.","readOnly":true},"resource":{"type":"string","description":"The localized friendly form of the resource type related to this action/operation.","readOnly":true}},"description":"Display metadata associated with the operation."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to retrieve next page of results.","readOnly":true},"value":{"type":"array","description":"Array of results.","readOnly":true,"items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list SQL operations."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},"DatabaseNameParameter":{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},"SqlVirtualMachineContainerNameParameter":{"name":"sqlVirtualMachineContainerName","in":"path","description":"The name of the SqlVirtualMachineContainer.","required":true,"schema":{"type":"string"}},"SqlVirtualMachineInstanceNameParameter":{"name":"sqlVirtualMachineInstanceName","in":"path","description":"The name of the SqlVirtualMachineInstance.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}