{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "The Noun Project",
    "description" : "Icons for Everything",
    "version" : "1.0.0"
  },
  "externalDocs" : {
    "url" : "https://thenounproject.com/developers/"
  },
  "servers" : [ {
    "url" : "http://api.thenounproject.com/"
  } ],
  "tags" : [ {
    "name" : "collection",
    "description" : "Operations on collection endpoints"
  }, {
    "name" : "collections",
    "description" : "Operations on collections endpoints"
  }, {
    "name" : "icon",
    "description" : "Operations on icon endpoints"
  }, {
    "name" : "icons",
    "description" : "Operations on icons endpoints"
  }, {
    "name" : "oauth",
    "description" : "Operations on oauth endpoints"
  }, {
    "name" : "user",
    "description" : "Operations on user endpoints"
  } ],
  "paths" : {
    "/collection/{id}" : {
      "get" : {
        "tags" : [ "collection" ],
        "summary" : "Get collection by id",
        "description" : "Returns a single collection",
        "operationId" : "getCollectionById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Collection id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/collection/{id}/icons" : {
      "get" : {
        "tags" : [ "collection" ],
        "summary" : "Get collection icons by id",
        "description" : "Returns a list of icons associated with a collection",
        "operationId" : "getCollectionIconsById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Collection id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Number of results to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Number of results of limit length to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/collection/{slug}" : {
      "get" : {
        "tags" : [ "collection" ],
        "summary" : "Get collection by slug",
        "description" : "Returns a single collection",
        "operationId" : "getCollectionBySlug",
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "Collection slug",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/collection/{slug}/icons" : {
      "get" : {
        "tags" : [ "collection" ],
        "summary" : "Get collection icons by slug",
        "description" : "Returns a list of icons associated with a collection",
        "operationId" : "getCollectionIconsBySlug",
        "parameters" : [ {
          "name" : "slug",
          "in" : "path",
          "description" : "Collection slug",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Number of results to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Number of results of limit length to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/collections" : {
      "get" : {
        "tags" : [ "collections" ],
        "summary" : "Get all collections",
        "description" : "Return's a list of all collections",
        "operationId" : "getAllCollections",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Number of results to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Number of results of limit length to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/icon/{id}" : {
      "get" : {
        "tags" : [ "icon" ],
        "summary" : "Get icon by id",
        "description" : "Returns a single icon",
        "operationId" : "getIconById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Icon id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/icon/{term}" : {
      "get" : {
        "tags" : [ "icon" ],
        "summary" : "Get icon by term",
        "description" : "Returns a single icon",
        "operationId" : "getIconByTerm",
        "parameters" : [ {
          "name" : "term",
          "in" : "path",
          "description" : "Icon term",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/icons/recent_uploads" : {
      "get" : {
        "tags" : [ "icons" ],
        "summary" : "Get recent icons",
        "description" : "Returns list of most recently uploaded icons",
        "operationId" : "getRecentIcons",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Number of results to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Number of results of limit length to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/icons/{term}" : {
      "get" : {
        "tags" : [ "icons" ],
        "summary" : "Get icons by term",
        "description" : "Returns a list of icons",
        "operationId" : "getIconsByTerm",
        "parameters" : [ {
          "name" : "term",
          "in" : "path",
          "description" : "Icon term",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit_to_public_domain",
          "in" : "query",
          "description" : "Limit results to public domain icons only",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Number of results to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Number of results of limit length to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/oauth/usage" : {
      "get" : {
        "tags" : [ "oauth" ],
        "summary" : "Get api quota status",
        "description" : "Returns current oauth usage and limits",
        "operationId" : "getApiQuotaStatus",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/user/{user_id}/collections" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Get user collections",
        "description" : "Returns a list of collections associated with a user",
        "operationId" : "getUserCollections",
        "parameters" : [ {
          "name" : "user_id",
          "in" : "path",
          "description" : "User id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/user/{user_id}/collections/{slug}" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Get user collection",
        "description" : "Returns a single collection associated with a user",
        "operationId" : "getUserCollection",
        "parameters" : [ {
          "name" : "user_id",
          "in" : "path",
          "description" : "User id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "slug",
          "in" : "path",
          "description" : "Collection slug",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/user/{username}/uploads" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Get user uploads with user",
        "description" : "Returns a list of uploads associated with a user",
        "operationId" : "getUserUploadsWithUser",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "Username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Number of results to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Number of results of limit length to displace or skip over",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    }
  }
}