{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "BackupManagementClient",
    "description" : "The Admin Backup Management Client.",
    "version" : "2018-09-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups" : {
      "get" : {
        "tags" : [ "Backups" ],
        "description" : "Returns a list of backups from a location.",
        "operationId" : "Backups_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Name of the backup location.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2018-09-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}" : {
      "get" : {
        "tags" : [ "Backups" ],
        "description" : "Returns a backup from a location based on name.",
        "operationId" : "Backups_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Name of the backup location.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backup",
          "in" : "path",
          "description" : "Name of the backup.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2018-09-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Backup"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}/restore" : {
      "post" : {
        "tags" : [ "Backups" ],
        "description" : "Restore a backup.",
        "operationId" : "Backups_Restore",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Name of the backup location.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backup",
          "in" : "path",
          "description" : "Name of the backup.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2018-09-01"
          }
        } ],
        "requestBody" : {
          "description" : "Restore options.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RestoreOptions"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "ACCEPTED"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Backup" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/BackupModel"
          }
        },
        "description" : "Information related to a backup.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource."
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key value pairs."
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base Resource Object"
        } ]
      },
      "BackupInfo" : {
        "type" : "object",
        "properties" : {
          "backupDataVersion" : {
            "type" : "string",
            "description" : "Version of the backup data.",
            "readOnly" : true
          },
          "createdDateTime" : {
            "type" : "string",
            "description" : "Creation time of the backup.",
            "format" : "date-time",
            "readOnly" : true
          },
          "deploymentID" : {
            "type" : "string",
            "description" : "Deployment Id of the stamp.",
            "readOnly" : true
          },
          "encryptionCertThumbprint" : {
            "type" : "string",
            "description" : "The thumbprint of the certificate used to encrypt the backup encryption key.",
            "readOnly" : true
          },
          "isCloudRecoveryReady" : {
            "type" : "boolean",
            "description" : "True if the backup can be used for cloud recovery scenario.",
            "readOnly" : true
          },
          "oemVersion" : {
            "type" : "string",
            "description" : "OEM version.",
            "readOnly" : true
          },
          "roleStatus" : {
            "$ref" : "#/components/schemas/RoleOperationStatusList"
          },
          "stampVersion" : {
            "type" : "string",
            "description" : "Azure Stack stamp version of the backup.",
            "readOnly" : true
          },
          "status" : {
            "$ref" : "#/components/schemas/OperationStatus"
          },
          "timeTakenToCreate" : {
            "type" : "string",
            "description" : "Duration to create the backup.",
            "readOnly" : true
          }
        },
        "description" : "Holds information for a backup."
      },
      "BackupList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of backups.",
            "items" : {
              "$ref" : "#/components/schemas/Backup"
            }
          }
        },
        "description" : "List of backups."
      },
      "BackupModel" : {
        "type" : "object",
        "properties" : {
          "backupInfo" : {
            "$ref" : "#/components/schemas/BackupInfo"
          }
        },
        "description" : "Properties for a backup."
      },
      "OperationStatus" : {
        "type" : "string",
        "description" : "Status of an operation.",
        "enum" : [ "Creating", "Queued", "Running", "Deleted", "Failed", "PartialSucceeded", "Succeeded" ]
      },
      "RestoreOptions" : {
        "type" : "object",
        "properties" : {
          "decryptionCertBase64" : {
            "type" : "string",
            "description" : "The certificate file raw data in Base64 string. This should be the .pfx file with the private key."
          },
          "decryptionCertPassword" : {
            "type" : "string",
            "description" : "The password for the decryption certificate."
          },
          "roleName" : {
            "type" : "string",
            "description" : "The Azure Stack role name for restore, set it to empty for all infrastructure role"
          }
        },
        "description" : "Properties for restore options."
      },
      "RoleOperationStatus" : {
        "type" : "object",
        "properties" : {
          "roleName" : {
            "type" : "string",
            "description" : "Name of the role."
          },
          "status" : {
            "$ref" : "#/components/schemas/OperationStatus"
          }
        },
        "description" : "Backup status for a role."
      },
      "RoleOperationStatusList" : {
        "type" : "array",
        "description" : "object",
        "items" : {
          "$ref" : "#/components/schemas/RoleOperationStatus"
        }
      }
    },
    "parameters" : {
      "BackupParameter" : {
        "name" : "backup",
        "in" : "path",
        "description" : "Name of the backup.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "RestoreOptionsParameter" : {
        "description" : "Restore options.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/RestoreOptions"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}