{"openapi":"3.0.1","info":{"title":"Contribly","version":"1.0.0"},"servers":[{"url":"https://api.contribly.com/1"}],"tags":[{"name":"assignment","description":"Create and list assignments"},{"name":"contribution","description":"Submit, moderate and retrieve user contributions"},{"name":"form","description":"Create and edit forms"},{"name":"media","description":"Submit media"},{"name":"notifications","description":"Notifications are templated email messages which can be sent to contributors. A notification might be used to request further information from a contributor or inform them when their contribution has been published."},{"name":"subscriptions","description":"Subscribe to be alerted when events occur. For example receive email notification when a contribution is flagged."},{"name":"tag","description":"Create and list tags and tag sets"},{"name":"user","description":"Manage users"},{"name":"auth","description":"Authentication related"}],"paths":{"/artifact-formats":{"get":{"tags":["info"],"summary":"Artifact formats","description":"List the available artifact formats","responses":{"200":{"description":"A list of artifact formats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactFormats"}}}}}}},"/assignments":{"get":{"tags":["assignment"],"summary":"List assignments","parameters":[{"name":"ownedBy","in":"query","description":"Restrict results to assignments owned by this user.","schema":{"type":"string"}},{"name":"page","in":"query","description":"Pagination page","schema":{"type":"integer"}},{"name":"pageSize","in":"query","description":"Pagination page size","schema":{"type":"integer"}},{"name":"q","in":"query","description":"Restrict results to assignments whose name or description matches this keyword.","schema":{"type":"string"}},{"name":"urlWords","in":"query","description":"Select an assignment by urlWords.","schema":{"type":"string"}},{"name":"open","in":"query","description":"Select open or closed assignments","schema":{"type":"boolean"}},{"name":"alwaysOpen","in":"query","description":"Select assignments with no closing date.","schema":{"type":"boolean"}},{"name":"tag","in":"query","description":"Restrict results to assignments which are tagged with this tag.","schema":{"type":"string"}},{"name":"name","in":"query","description":"Restrict results to the assignment (or potentially assignments) with this exact name","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of assignments","headers":{"X-total-count":{"description":"Total number of matching contributions","schema":{"type":"number"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Assignment"}}}}}}},"post":{"tags":["assignment"],"summary":"Create a new assignment","requestBody":{"description":"Assignment object to be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignmentSubmission"}}},"required":true},"responses":{"200":{"description":"Assignment created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Assignment"}}}},"400":{"description":"The new assignment vailed to validate. Check the response body for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Failed to create the new assignment due to an unexpected error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/assignments/{id}":{"get":{"tags":["assignment"],"summary":"Get a single assigment by id","parameters":[{"name":"id","in":"path","description":"Id of the assignment to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Assignment found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Assignment"}}}},"404":{"description":"Not found"}}},"delete":{"tags":["assignment"],"summary":"Delete this assignment and all of it's contributions","parameters":[{"name":"id","in":"path","description":"Id of the assignment to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Assignment deleted"},"403":{"description":"Not permitted to delete this assignment."},"404":{"description":"Not found"}}}},"/change-log":{"get":{"tags":["info"],"summary":"Recent changes","description":"The Contribly change log.","responses":{"200":{"description":"A list of change log items","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChangeLogItem"}}}}}}}},"/contribution-refinement-types":{"get":{"tags":["contribution"],"summary":"List valid contribution refinement types","responses":{"200":{"description":"An array of refinement types. These are the possible values of the get contribution refinements parameter.","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/contribution-refinements":{"get":{"tags":["contribution"],"summary":"List contribution refinement options","description":"Given a contribution list query determine the available filter options. Can be used to generate the UI to refinement a filter.","parameters":[{"name":"assignment","in":"query","description":"Restrict results to contributions submitted to this assignment.","schema":{"type":"string"}},{"name":"country","in":"query","description":"Limit results to contributions which have a publicly visible location within the given country (specified by two letter country code).","schema":{"type":"string"}},{"name":"createdBefore","in":"query","description":"Limit results to contributions created before this date time.","schema":{"type":"string","format":"date-time"}},{"name":"createdAfter","in":"query","description":"Limit results to contributions created after this date time.","schema":{"type":"string","format":"date-time"}},{"name":"geohash","in":"query","description":"Restrict results to contributions which have specified a location which falls within this geohash (or comma seperated list of multiple geohashes)","schema":{"type":"string"}},{"name":"hasLocation","in":"query","description":"Restrict results to contributions which have a publicly visible location.","schema":{"type":"boolean"}},{"name":"latLong","in":"query","description":"Limit results to contributions with location near this latitude and longitude (comma seperated lat/long pair). Also see radius","schema":{"type":"string"}},{"name":"radius","in":"query","description":"When limiting result by location with the latLong parameter, specify the radius in kilometers.","schema":{"type":"number","format":"double"}},{"name":"mediaType","in":"query","description":"Restrict results to contributions which include a media file of the given type (ie. image / video)","schema":{"type":"string"}},{"name":"ownedBy","in":"query","description":"Restrict results to contributions which are fall under the jurisdiction by this user.","schema":{"type":"string"}},{"name":"q","in":"query","description":"Restrict results to contributions whose headline text matches this keyword.","schema":{"type":"string"}},{"name":"urlWords","in":"query","description":"Locate a specific contribution by URL words","schema":{"type":"string"}},{"name":"user","in":"query","description":"Restrict results to contributions by this user identified by id.","schema":{"type":"string"}},{"name":"refinements","in":"query","description":"Comma seperated list of refinement names.","schema":{"type":"string"}},{"name":"refinementSize","in":"query","description":"Number of refinement options to return.","schema":{"type":"number"}}],"responses":{"200":{"description":"A map of refinement names to lists of options","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}},"/contributions":{"get":{"tags":["contribution"],"summary":"List contributions","description":"Retrieve contributions.","parameters":[{"name":"assignment","in":"query","description":"Restrict results to contributions submitted to this assignment.","schema":{"type":"string"}},{"name":"country","in":"query","description":"Limit results to contributions which have a publicly visible location within the given country (specified by two letter country code).","schema":{"type":"string"}},{"name":"createdBefore","in":"query","description":"Limit results to contributions created before this date time.","schema":{"type":"string","format":"date-time"}},{"name":"createdAfter","in":"query","description":"Limit results to contributions created after this date time.","schema":{"type":"string","format":"date-time"}},{"name":"createdDay","in":"query","description":"Limit results to contributions created on this day.","schema":{"type":"string","format":"date"}},{"name":"createdMonth","in":"query","description":"Limit results to contributions created during this month.","schema":{"type":"string"}},{"name":"geohash","in":"query","description":"Restrict results to contributions which have specified a location which falls within this geohash (or comma seperated list of multiple geohashes)","schema":{"type":"string"}},{"name":"hasLocation","in":"query","description":"Restrict results to contributions which have a publicly visible location.","schema":{"type":"boolean"}},{"name":"latLong","in":"query","description":"Limit results to contributions with location near this latitude and longitude (comma seperated lat/long pair). Also see radius","schema":{"type":"string"}},{"name":"radius","in":"query","description":"When limiting result by location with the latLong parameter, specify the radius in kilometers.","schema":{"type":"number","format":"double"}},{"name":"mediaType","in":"query","description":"Restrict results to contributions which include a media file of the given type (ie. image / video)","schema":{"type":"string"}},{"name":"ownedBy","in":"query","description":"Restrict results to contributions which are fall under the jurisdiction by this user.","schema":{"type":"string"}},{"name":"q","in":"query","description":"Restrict results to contributions whose headline text matches this keyword.","schema":{"type":"string"}},{"name":"urlWords","in":"query","description":"Locate a specific contribution by URL words","schema":{"type":"string"}},{"name":"user","in":"query","description":"Restrict results to contributions by this user identified by id.","schema":{"type":"string"}},{"name":"ids","in":"query","description":"Restrict results to a list of specific contributions identified by a comma seperated list of ids.","schema":{"type":"string"}},{"name":"format","in":"query","description":"Select output format. 'json' or 'rss'. Defaults to JSON.","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of contributions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Contribution"}}}}}}},"post":{"tags":["contribution"],"summary":"Create a new contribution","requestBody":{"description":"Contribution object to be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contribution"}}},"required":true},"responses":{"200":{"description":"Contribution created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contribution"}}}}},"security":[{"oauth":["full"]}]}},"/contributions/{id}":{"get":{"tags":["contribution"],"summary":"Get a single contribution by id","parameters":[{"name":"id","in":"path","description":"Id of the contribution to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contribution"}}}},"404":{"description":"Not found"}}},"delete":{"tags":["contribution"],"summary":"Delete this contribution","parameters":[{"name":"id","in":"path","description":"Id of the contribution to delete","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The deletion request has been accepted and will be processed in the background.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contribution"}}}},"403":{"description":"The currently authorised user is not allowed to delete this contribution."},"404":{"description":"Not found"}}}},"/contributions/{id}/flag":{"post":{"tags":["contribution"],"summary":"Raise a flag against this contribution","description":"Allows end users to bring potential issues with publicly visible content to the attention of moderators.","parameters":[{"name":"id","in":"path","description":"Id of the contribution to flag","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Flag to be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flag"}}},"required":true},"responses":{"200":{"description":"Flag created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flag"}}}}}}},"/contributions/{id}/like":{"post":{"tags":["contribution"],"summary":"Allows a user to mark a contribution as liked","parameters":[{"name":"id","in":"path","description":"Id of the contribution","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The updated like count for this contribution.","content":{"application/json":{"schema":{"type":"number"}}}}}}},"/contributions/{id}/likes":{"get":{"tags":["contribution"],"summary":"List users who have liked this contributions","description":"Returns a list of user ids of users who have liked this conribution","parameters":[{"name":"id","in":"path","description":"Id of the contribution","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of user ids.","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/contributions/{id}/moderate":{"post":{"tags":["contribution"],"summary":"Perform a moderation action on this contribution","description":"Allows the contribution to approved of rejected.","parameters":[{"name":"id","in":"path","description":"Id of the contribution to moderate","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"A moderation action","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ModerationHistoryItemSubmission"}}},"required":true},"responses":{"200":{"description":"The moderation action was successfully applied","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"The submission falied to validate. Check the response body for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"The request was not correctly authorised.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"You do not have permission to perform this moderation action.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"An unexpected error occurred.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/credentials":{"get":{"tags":["auth"],"summary":"List the credentials associated with the authenticated user.","responses":{"200":{"description":"A list of credentials associated with this user.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Credential"}}}}},"401":{"description":"Not authorised"}}}},"/event-types":{"get":{"tags":["info"],"summary":"Event types","description":"List available notification event types","responses":{"200":{"description":"A list of event types","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventType"}}}}}}}},"/export":{"post":{"tags":["contribution"],"summary":"Export contributions.","description":"Begin an export job. Returns a export job which can be polled to follow the progress of an export.","parameters":[{"name":"assignment","in":"query","description":"Restrict results to contributions submitted to this assignment.","schema":{"type":"string"}},{"name":"country","in":"query","description":"Limit results to contributions which have a publicly visible location within the given country (specified by two letter country code).","schema":{"type":"string"}},{"name":"createdBefore","in":"query","description":"Limit results to contributions created before this date time.","schema":{"type":"string","format":"date-time"}},{"name":"createdAfter","in":"query","description":"Limit results to contributions created after this date time.","schema":{"type":"string","format":"date-time"}},{"name":"geohash","in":"query","description":"Restrict results to contributions which have specified a location which falls within this geohash (or comma seperated list of multiple geohashes)","schema":{"type":"string"}},{"name":"hasLocation","in":"query","description":"Restrict results to contributions which have a publicly visible location.","schema":{"type":"boolean"}},{"name":"latLong","in":"query","description":"Limit results to contributions with location near this latitude and longitude (comma seperated lat/long pair). Also see radius","schema":{"type":"string"}},{"name":"radius","in":"query","description":"When limiting result by location with the latLong parameter, specify the radius in kilometers.","schema":{"type":"number","format":"double"}},{"name":"mediaType","in":"query","description":"Restrict results to contributions which include a media file of the given type (ie. image / video)","schema":{"type":"string"}},{"name":"ownedBy","in":"query","description":"Restrict results to contributions which are fall under the jurisdiction by this user.","schema":{"type":"string"}},{"name":"q","in":"query","description":"Restrict results to contributions whose headline text matches this keyword.","schema":{"type":"string"}},{"name":"urlWords","in":"query","description":"Locate a specific contribution by URL words","schema":{"type":"string"}},{"name":"user","in":"query","description":"Restrict results to contributions by this user identified by id.","schema":{"type":"string"}},{"name":"tagged","in":"query","description":"Should exported media files be tagged with metadata. Deprecated; use format instead.","schema":{"type":"boolean"}},{"name":"combined","in":"query","description":"Included a combined file with all contribution text.","schema":{"type":"boolean"}},{"name":"individual","in":"query","description":"Include individual text files for each contribution.","schema":{"type":"boolean"}},{"name":"format","in":"query","description":"Media format to export; none, fullsize, tagged or original.","schema":{"type":"string"}},{"name":"json","in":"query","description":"Include raw JSON for each contribution.","schema":{"type":"boolean"}}],"responses":{"202":{"description":"An export job describing the state of an export job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}}}}},"/export-summary":{"post":{"tags":["contribution"],"summary":"Export contributions preflight summary.","description":"Provide a preflight summary of an export request.","parameters":[{"name":"assignment","in":"query","description":"Restrict results to contributions submitted to this assignment.","schema":{"type":"string"}},{"name":"country","in":"query","description":"Limit results to contributions which have a publicly visible location within the given country (specified by two letter country code).","schema":{"type":"string"}},{"name":"createdBefore","in":"query","description":"Limit results to contributions created before this date time.","schema":{"type":"string","format":"date-time"}},{"name":"createdAfter","in":"query","description":"Limit results to contributions created after this date time.","schema":{"type":"string","format":"date-time"}},{"name":"geohash","in":"query","description":"Restrict results to contributions which have specified a location which falls within this geohash (or comma seperated list of multiple geohashes)","schema":{"type":"string"}},{"name":"hasLocation","in":"query","description":"Restrict results to contributions which have a publicly visible location.","schema":{"type":"boolean"}},{"name":"latLong","in":"query","description":"Limit results to contributions with location near this latitude and longitude (comma seperated lat/long pair). Also see radius","schema":{"type":"string"}},{"name":"radius","in":"query","description":"When limiting result by location with the latLong parameter, specify the radius in kilometers.","schema":{"type":"number","format":"double"}},{"name":"mediaType","in":"query","description":"Restrict results to contributions which include a media file of the given type (ie. image / video)","schema":{"type":"string"}},{"name":"ownedBy","in":"query","description":"Restrict results to contributions which are fall under the jurisdiction by this user.","schema":{"type":"string"}},{"name":"q","in":"query","description":"Restrict results to contributions whose headline text matches this keyword.","schema":{"type":"string"}},{"name":"urlWords","in":"query","description":"Locate a specific contribution by URL words","schema":{"type":"string"}},{"name":"user","in":"query","description":"Restrict results to contributions by this user identified by id.","schema":{"type":"string"}}],"responses":{"200":{"description":"A summary of the number of contributions, media files and approximate total size of media files.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportSummary"}}}}}}},"/exports/{id}":{"get":{"tags":["contribution"],"summary":"Get a single export job; poll to follow export progress.","parameters":[{"name":"id","in":"path","description":"Id of the export job to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"404":{"description":"Not found"}}}},"/form-responses":{"get":{"tags":["form"],"summary":"List form responses","parameters":[{"name":"user","in":"query","description":"Restrict results to responses submitted by this user.","schema":{"type":"string"}},{"name":"form","in":"query","description":"Restrict results to responses submitted to this form.","schema":{"type":"string"}},{"name":"contribution","in":"query","description":"Restrict results to responses relating to this contribution.","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of form responses","headers":{"X-total-count":{"description":"Total number of matching form responses","schema":{"type":"number"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FormResponse"}}}}}}},"post":{"tags":["form"],"summary":"Submit a response to a form","requestBody":{"description":"Form response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormResponseSubmission"}}},"required":true},"responses":{"200":{"description":"Form response saved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormResponse"}}}}}}},"/form-responses/{id}":{"get":{"tags":["form"],"summary":"Get a single form response by id","parameters":[{"name":"id","in":"path","description":"Id of the assignment to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Form response found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormResponse"}}}},"404":{"description":"Not found"}}}},"/forms":{"get":{"tags":["form"],"summary":"List forms","parameters":[{"name":"ownedBy","in":"query","description":"Restrict results to forms owned by this user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of forms","headers":{"X-total-count":{"description":"Total number of matching forms","schema":{"type":"number"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Form"}}}}}}},"post":{"tags":["form"],"summary":"Create a form","requestBody":{"description":"Form object to be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormSubmission"}}},"required":true},"responses":{"200":{"description":"Form created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Form"}}}}}}},"/forms/{id}":{"get":{"tags":["form"],"summary":"Get a single form by id","parameters":[{"name":"id","in":"path","description":"Id of the form to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Form found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Form"}}}},"404":{"description":"Not found"}}},"delete":{"tags":["form"],"summary":"Delete this form and all of it's responses.","parameters":[{"name":"id","in":"path","description":"Id of the form to delete","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Form deleted"},"404":{"description":"Not found"}}}},"/media":{"post":{"tags":["media"],"summary":"Submit a new media file","requestBody":{"description":"Binary media file","content":{"*/*":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"200":{"description":"Media created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Media"}}}}},"security":[{"oauth":["full"]}]}},"/notifications/contributions/{id}/preview":{"get":{"tags":["notifications"],"parameters":[{"name":"id","in":"path","description":"Id of the contribution to preview a notification for","required":true,"schema":{"type":"string"}},{"name":"message","in":"query","description":"Type of message to preview.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Notification preview","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationPreview"}}}}}}},"/scopes":{"get":{"tags":["auth"],"summary":"Scopes","description":"List available token scopes","responses":{"200":{"description":"A list of scopes","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/subscription-types":{"get":{"tags":["subscriptions"],"summary":"Subscription types","description":"List available subscription types","responses":{"200":{"description":"A list of subscription event types","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionType"}}}}}}}},"/subscriptions":{"get":{"tags":["subscriptions"],"summary":"List subscriptions for the authorised user.","requestBody":{"description":"Subscription to be created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubscriptionSubmission"}}},"required":true},"responses":{"200":{"description":"A list of notification subscriptions","headers":{"X-total-count":{"description":"Total number of matching subscriptions","schema":{"type":"number"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Subscription"}}}}}}}},"/subscriptions/{id}":{"delete":{"tags":["subscriptions"],"summary":"Delete a subscription.","parameters":[{"name":"id","in":"path","description":"Id of the subscription to delete","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The subscription has been successfully deleted."}}}},"/tags":{"get":{"tags":["tag"],"summary":"List tags","description":"Retrieve tags.","parameters":[{"name":"ownedBy","in":"query","description":"Restrict results to those owned by this user.","schema":{"type":"string"}},{"name":"tagSet","in":"query","description":"Restrict results to tags belonging to this tag set.","schema":{"type":"string"}},{"name":"urlWords","in":"query","description":"Restrict results by urlWords. Should be used with ownedBy when searching for one of your own tags.","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of tags","headers":{"X-total-count":{"description":"Total number of matching tags","schema":{"type":"number"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Tag"}}}}}}},"post":{"tags":["tag"],"summary":"Create a new tag","requestBody":{"description":"Tag object to be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagSubmission"}}},"required":true},"responses":{"200":{"description":"Tag created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tag"}}}},"400":{"description":"The new tag submission failed to validate. Check the response body for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Failed to create the new tag due to an unexcepted error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/tags/{id}":{"get":{"tags":["tag"],"summary":"Retrieve a single tag by id","parameters":[{"name":"id","in":"path","description":"Id of the tag to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The tag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tag"}}}},"404":{"description":"Not found"}}}},"/tagsets":{"get":{"tags":["tag"],"summary":"List tag sets","description":"Retrieve tag sets.","parameters":[{"name":"ownedBy","in":"query","description":"Restrict results to those owned by this user.","schema":{"type":"string"}},{"name":"urlWords","in":"query","description":"Restrict results by urlWords. Should be used with ownedBy when searching for one of your own tag sets.","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of tag sets","headers":{"X-total-count":{"description":"Total number of matching tag sets","schema":{"type":"number"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TagSet"}}}}}}},"post":{"tags":["tag"],"summary":"Create a new tag set","requestBody":{"description":"Tag set to be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagSetSubmission"}}},"required":true},"responses":{"200":{"description":"Tagset created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagSet"}}}}}}},"/tagsets/{id}":{"get":{"tags":["tag"],"summary":"Retrieve a single tag set by id","parameters":[{"name":"id","in":"path","description":"Id of the tag set to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The tag set","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagSet"}}}},"404":{"description":"Not found"}}}},"/users":{"get":{"tags":["user"],"summary":"List users","parameters":[{"name":"assignment","in":"query","description":"Restrict results to the users who have contributed to this assignment.","schema":{"type":"string"}},{"name":"country","in":"query","description":"Restrict results to the users who have submitted a contribution with a public location located within this country.","schema":{"type":"string"}},{"name":"minimumContributions","in":"query","description":"Restrict results to the users who have submitted at least this many contributions.","schema":{"type":"number"}},{"name":"linkedProfile","in":"query","description":"Restrict results to the users who a linked profile of this type.","schema":{"type":"string"}},{"name":"ownedBy","in":"query","description":"Restrict results to the users who are owned by of this owner.","schema":{"type":"string"}},{"name":"submittedBefore","in":"query","description":"Limit results to users who have submitted at least one contribution before this date time.","schema":{"type":"string","format":"date-time"}},{"name":"submittedAfter","in":"query","description":"Limit results to users who have submitted at least one contribution after this date time.","schema":{"type":"string","format":"date-time"}},{"name":"username","in":"query","description":"Restrict results to the user with this username.","schema":{"type":"string"}}],"responses":{"200":{"description":"A list of users","headers":{"X-total-count":{"description":"Total number of matching users","schema":{"type":"number"}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/users/{id}":{"get":{"tags":["user"],"summary":"Retrieve a single user by id","parameters":[{"name":"id","in":"path","description":"Id of the user to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"404":{"description":"Not found"}}}},"/users/{id}/linked/{type}":{"get":{"tags":["user"],"summary":"Retrieve a users linked profile by type","parameters":[{"name":"id","in":"path","description":"Id of the user to return","required":true,"schema":{"type":"string"}},{"name":"type","in":"path","description":"Type of the linked profile to fetch","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedProfile"}}}},"404":{"description":"Not found"}}}},"/verify":{"post":{"tags":["auth"],"summary":"Verify token and return details of the owning user","responses":{"200":{"description":"Token is valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Authority"}}}}},"security":[{"oauth":["full"]}]}}},"components":{"schemas":{"Artifact":{"type":"object","properties":{"contentLength":{"type":"number"},"contentType":{"type":"string"},"height":{"type":"number"},"label":{"type":"string"},"url":{"type":"string"},"width":{"type":"number"}}},"ArtifactFormat":{"type":"object","properties":{"contentType":{"type":"string"},"fileExtension":{"type":"string"},"forContentType":{"type":"string"},"label":{"type":"string"},"preserveAspectRatio":{"type":"boolean"},"public":{"type":"boolean"},"upscaleAllowed":{"type":"boolean"}}},"ArtifactFormats":{"type":"object","properties":{"contribution":{"type":"array","items":{"$ref":"#/components/schemas/ArtifactFormat"}},"cover":{"type":"array","items":{"$ref":"#/components/schemas/ArtifactFormat"}},"profileImage":{"type":"array","items":{"$ref":"#/components/schemas/ArtifactFormat"}}}},"Assignment":{"type":"object","properties":{"allowsAnonymousContributions":{"type":"boolean"},"callToAction":{"type":"string","description":"An optional call to action specific to this assignment. ie. Submit your snow pictures."},"cover":{"$ref":"#/components/schemas/MediaUsage"},"created":{"type":"string","format":"date-time"},"description":{"type":"string"},"embargo":{"type":"string","format":"date-time"},"ends":{"type":"string","format":"date-time"},"featured":{"type":"boolean"},"id":{"type":"string"},"mediaRequired":{"type":"boolean"},"moderator":{"type":"string","description":"Optional credential id of the moderator who owns this particular assignment."},"name":{"type":"string"},"open":{"type":"boolean","description":"Helper value. Is this assignment currently open? Based on the value of the ends field."},"receiptMessage":{"type":"string","description":"An optional assignment specific message to be displayed on successful contribution submission. For example, this might be used to inform contributors of assignment specific moderation time frames."},"starts":{"type":"string","format":"date-time"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/Tag"}},"urlWords":{"type":"string"},"webUrl":{"type":"string"}}},"AssignmentSubmission":{"required":["name"],"type":"object","properties":{"allowsAnonymousContributions":{"type":"boolean"},"cover":{"$ref":"#/components/schemas/MediaUsage"},"description":{"type":"string"},"embargo":{"type":"string","format":"date-time"},"ends":{"type":"string","format":"date-time"},"featured":{"type":"boolean"},"id":{"type":"string"},"mediaRequired":{"type":"boolean"},"moderator":{"type":"string","description":"Optional credential id of the login which will moderator this assignment."},"name":{"type":"string"},"receiptMessage":{"type":"string","description":"An optional assignment specific message to be displayed on successful contribution submission. For example, this might be used to inform contributors of assignment specific moderation time frames."},"starts":{"type":"string","format":"date-time"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/Tag"}},"urlWords":{"type":"string"}}},"Authority":{"type":"object","properties":{"client":{"$ref":"#/components/schemas/Client"},"id":{"type":"string"},"user":{"$ref":"#/components/schemas/User"}}},"ChangeLogItem":{"required":["date","title"],"type":"object","properties":{"date":{"type":"string","format":"date-time"},"description":{"type":"string"},"title":{"type":"string"}}},"Client":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"Contribution":{"type":"object","properties":{"assignment":{"$ref":"#/components/schemas/Assignment"},"attribution":{"type":"string","description":"The public attribution for this contribution. This will be the display name of the registered user or the contributor's first and last name if they provided them while making a non authenticated contribution. A blank attribution field indicates and anonymous contribution."},"body":{"type":"string"},"created":{"type":"string","format":"date-time"},"headline":{"type":"string"},"id":{"type":"string"},"mediaUsages":{"type":"array","items":{"$ref":"#/components/schemas/MediaUsage"}},"moderationHistory":{"type":"array","items":{"$ref":"#/components/schemas/ModerationHistoryItem"}},"place":{"$ref":"#/components/schemas/Place"},"urlWords":{"type":"string"},"via":{"$ref":"#/components/schemas/Via"}}},"Credential":{"type":"object","properties":{"scopes":{"type":"array","items":{"type":"string"}},"type":{"type":"string"},"user":{"type":"string"},"value":{"type":"string"}}},"ErrorField":{"required":["name"],"type":"object","properties":{"message":{"type":"string"},"name":{"type":"string"}}},"ErrorResponse":{"type":"object","properties":{"fields":{"type":"array","items":{"$ref":"#/components/schemas/ErrorField"}},"message":{"type":"string"}}},"EventType":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"Export":{"required":["id","owner","started"],"type":"object","properties":{"downloadUrl":{"type":"string"},"finished":{"type":"string","format":"date-time"},"id":{"type":"string"},"owner":{"type":"string"},"progress":{"type":"number"},"started":{"type":"string","format":"date-time"},"step":{"type":"string"}}},"ExportSummary":{"required":["contributions","media","totalMediaSize"],"type":"object","properties":{"contributions":{"type":"number","description":"The number of contributions selected for export."},"estimatedSize":{"type":"string","description":"Human readable estimate of the export size. ie. '10MB'."},"media":{"type":"number","description":"The number of media files included in this export."},"totalMediaSize":{"type":"number","description":"The expected total size of the media files to be exported."}}},"Flag":{"type":"object","properties":{"date":{"type":"string","format":"date-time"},"email":{"type":"string"},"id":{"type":"string"},"notes":{"type":"string"},"type":{"type":"string"}}},"Form":{"type":"object","properties":{"callToAction":{"type":"string"},"cssUrl":{"type":"string"},"fields":{"type":"array","items":{"$ref":"#/components/schemas/FormField"}},"heading":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"},"noCss":{"type":"boolean"},"ownedBy":{"type":"string"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/Tag"}}}},"FormField":{"type":"object","properties":{"description":{"type":"string"},"label":{"type":"string"},"name":{"type":"string"},"options":{"type":"array","items":{"type":"string"}},"public":{"type":"boolean"},"required":{"type":"boolean"},"type":{"type":"string"}}},"FormResponse":{"type":"object","properties":{"contribution":{"type":"string"},"date":{"type":"string","format":"date-time"},"form":{"type":"string"},"id":{"type":"string"},"responses":{"type":"object","additionalProperties":{"type":"string"}},"user":{"type":"string"}}},"FormResponseSubmission":{"type":"object","properties":{"contribution":{"type":"string"},"form":{"type":"string"},"responses":{"type":"object","additionalProperties":{"type":"string"}}}},"FormSubmission":{"type":"object","properties":{"callToAction":{"type":"string"},"cssUrl":{"type":"string"},"fields":{"type":"array","items":{"$ref":"#/components/schemas/FormField"}},"heading":{"type":"string"},"name":{"type":"string"},"noCss":{"type":"boolean"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/Tag"}}}},"Group":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"LatLong":{"type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"LinkedProfile":{"type":"object","properties":{"bio":{"type":"string"},"email":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"},"picture":{"type":"string"},"profile":{"type":"string"},"registered":{"type":"string","format":"date-time"}}},"Media":{"type":"object","properties":{"duration":{"type":"number"},"id":{"type":"string"},"place":{"$ref":"#/components/schemas/Place"},"type":{"type":"string"}}},"MediaUsage":{"type":"object","properties":{"artifacts":{"type":"array","items":{"$ref":"#/components/schemas/Artifact"}},"id":{"type":"string"},"media":{"$ref":"#/components/schemas/Media"}}},"ModerationAction":{"required":["id","label","resultingState"],"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"resultingState":{"$ref":"#/components/schemas/ModerationState"}}},"ModerationHistoryItem":{"required":["date"],"type":"object","properties":{"action":{"$ref":"#/components/schemas/ModerationAction"},"date":{"type":"string","format":"date-time"},"notes":{"type":"string"}}},"ModerationHistoryItemSubmission":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/ModerationAction"},"notes":{"type":"string"}}},"ModerationState":{"required":["id","label","public"],"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"public":{"type":"boolean"}}},"NotificationPreview":{"type":"object","properties":{"email":{"type":"string"},"html":{"type":"string"},"subject":{"type":"string"}}},"OsmId":{"type":"object","properties":{"osmId":{"type":"number"},"osmType":{"type":"string"}}},"Place":{"type":"object","properties":{"country":{"type":"string"},"geohash":{"type":"string"},"google":{"type":"string"},"latLong":{"$ref":"#/components/schemas/LatLong"},"name":{"type":"string"},"osm":{"$ref":"#/components/schemas/OsmId"}}},"Subscription":{"required":["id","includeBody","token","types","user"],"type":"object","properties":{"assignment":{"type":"string"},"email":{"type":"string"},"id":{"type":"string"},"includeBody":{"type":"boolean"},"includeThumbenail":{"type":"boolean"},"slackChannel":{"type":"string"},"token":{"type":"string"},"types":{"type":"array","items":{"type":"string"}},"user":{"type":"string"}}},"SubscriptionSubmission":{"required":["includeBody","types"],"type":"object","properties":{"assignment":{"type":"string"},"email":{"type":"string"},"includeBody":{"type":"boolean"},"includeThumbenail":{"type":"boolean"},"slackChannel":{"type":"string"},"types":{"type":"array","items":{"type":"string"}}}},"SubscriptionType":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"Tag":{"required":["id","name"],"type":"object","properties":{"colour":{"type":"string","description":"Optional HTML hexcode colour","example":"#0061a6"},"id":{"type":"string"},"name":{"type":"string"},"tagSet":{"$ref":"#/components/schemas/TagSet"},"urlWords":{"type":"string"}}},"TagSet":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"TagSetSubmission":{"required":["name","urlWords"],"type":"object","properties":{"name":{"type":"string"},"urlWords":{"type":"string"}}},"TagSubmission":{"required":["name"],"type":"object","properties":{"colour":{"type":"string"},"name":{"type":"string"},"tagSet":{"$ref":"#/components/schemas/TagSet"},"urlWords":{"type":"string"}}},"User":{"type":"object","properties":{"bio":{"type":"string"},"displayName":{"type":"string"},"id":{"type":"string"},"registered":{"type":"string","format":"date-time"},"username":{"type":"string"}}},"Via":{"type":"object","properties":{"authority":{"$ref":"#/components/schemas/Authority"},"ipAddress":{"type":"string"},"ipAddressPlace":{"$ref":"#/components/schemas/Place"}}}},"securitySchemes":{"oauth":{"type":"oauth2"}}}}