{"openapi":"3.0.1","info":{"title":"ApplicationInsightsManagementClient","description":"Azure Application Insights client for ProactiveDetection configurations of a component.","version":"2018-05-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ProactiveDetectionConfigs":{"get":{"description":"Gets a list of ProactiveDetection configurations of an Application Insights component.","operationId":"ProactiveDetectionConfigurations_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list containing 0 or more ProactiveDetection configurations of an Application Insights component.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfigurationListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ProactiveDetectionConfigs/{ConfigurationId}":{"get":{"description":"Get the ProactiveDetection configuration for this configuration id.","operationId":"ProactiveDetectionConfigurations_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"ConfigurationId","in":"path","description":"The ProactiveDetection configuration ID. This is unique within a Application Insights component.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The ProactiveDetection configuration for this configuration id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration"}}}}}},"put":{"description":"Update the ProactiveDetection configuration for this configuration id.","operationId":"ProactiveDetectionConfigurations_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"ConfigurationId","in":"path","description":"The ProactiveDetection configuration ID. This is unique within a Application Insights component.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties that need to be specified to update the ProactiveDetection configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration"}}},"required":true},"responses":{"200":{"description":"The ProactiveDetection configuration that was successfully updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration"}}}}}}}},"components":{"schemas":{"ApplicationInsightsComponentProactiveDetectionConfiguration":{"type":"object","properties":{"id":{"type":"string","description":"Azure resource Id","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Azure resource name"},"properties":{"$ref":"#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfigurationProperties"},"type":{"type":"string","description":"Azure resource type","readOnly":true}},"description":"A ProactiveDetection configuration definition."},"ApplicationInsightsComponentProactiveDetectionConfigurationListResult":{"type":"array","description":"A list of ProactiveDetection configurations.","items":{"$ref":"#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration"}},"ApplicationInsightsComponentProactiveDetectionConfigurationProperties":{"type":"object","properties":{"CustomEmails":{"type":"array","description":"Custom email addresses for this rule notifications","items":{"type":"string"}},"Enabled":{"type":"boolean","description":"A flag that indicates whether this rule is enabled by the user"},"LastUpdatedTime":{"type":"string","description":"The last time this rule was updated","readOnly":true},"Name":{"type":"string","description":"The rule name","readOnly":true},"RuleDefinitions":{"type":"object","properties":{"Description":{"type":"string","description":"The rule description"},"DisplayName":{"type":"string","description":"The rule name as it is displayed in UI"},"HelpUrl":{"type":"string","description":"URL which displays additional info about the proactive detection rule"},"IsEnabledByDefault":{"type":"boolean","description":"A flag indicating whether the rule is enabled by default"},"IsHidden":{"type":"boolean","description":"A flag indicating whether the rule is hidden (from the UI)"},"IsInPreview":{"type":"boolean","description":"A flag indicating whether the rule is in preview"},"Name":{"type":"string","description":"The rule name"},"SupportsEmailNotifications":{"type":"boolean","description":"A flag indicating whether email notifications are supported for detections for this rule"}},"description":"Static definitions of the ProactiveDetection configuration rule (same values for all components)."},"SendEmailsToSubscriptionOwners":{"type":"boolean","description":"A flag that indicated whether notifications on this rule should be sent to subscription owners"}},"description":"Properties that define a ProactiveDetection configuration."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"ConfigurationId":{"name":"ConfigurationId","in":"path","description":"The ProactiveDetection configuration ID. This is unique within a Application Insights component.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"ResourceNameParameter":{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}