{"openapi":"3.0.1","info":{"title":"Visual Search Client","description":"Visual Search API lets you discover insights about an image such as visually similar images, shopping sources, and related searches. The API can also perform text recognition, identify entities (people, places, things), return other topical content for the user to explore, and more. For more information, see [Visual Search Overview](https://docs.microsoft.com/azure/cognitive-services/bing-visual-search/overview).  **NOTE:** To comply with the new EU Copyright Directive in France, the Bing Visual Search API must omit some content from certain EU News sources for French users. The removed content may include thumbnail images and videos, video previews, and snippets which accompany search results from these sources. As a consequence, the Bing APIs may serve fewer results with thumbnail images and videos, video previews, and snippets to French users.","version":"1.0"},"servers":[{"url":"https://api.cognitive.microsoft.com/bing/v7.0"}],"security":[{"apiKeyHeader":null}],"paths":{"/images/visualsearch":{"post":{"tags":["ImageVisualSearch"],"summary":"Visual Search API lets you discover insights about an image such as visually similar images, shopping sources, and related searches. The API can also perform text recognition, identify entities (people, places, things), return other topical content for the user to explore, and more. For more information, see [Visual Search Overview](https://docs.microsoft.com/azure/cognitive-services/bing-visual-search/overview).","operationId":"Images_VisualSearch","parameters":[{"name":"X-BingApis-SDK","in":"header","description":"Activate swagger compliance.","required":true,"schema":{"type":"string","enum":["true"]}},{"name":"Accept","in":"header","description":"The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.","schema":{"type":"string"}},{"name":"Accept-Language","in":"header","description":"A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-visual-search-api-v7-reference#setlang) query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-visual-search-api-v7-reference#cc) query parameter. To determine the market to return results for, Bing uses the first supported language it finds from the list and combines it with the cc parameter value. If the list does not include a supported language, Bing finds the closest language and market that supports the request or it uses an aggregated or default market for the results. To determine the market that Bing used, see the BingAPIs-Market header. Use this header and the cc query parameter only if you specify multiple languages. Otherwise, use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-visual-search-api-v7-reference#mkt) and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-visual-search-api-v7-reference#setlang) query parameters. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Any links to Bing.com properties in the response objects apply the specified language.","schema":{"type":"string"}},{"name":"Content-Type","in":"header","description":"Must be set to multipart/form-data and include a boundary parameter (for example, multipart/form-data; boundary=<boundary string>). For more details, see [Content form types]( https://docs.microsoft.com/en-us/azure/cognitive-services/bing-visual-search/overview#content-form-types).","schema":{"type":"string"}},{"name":"User-Agent","in":"header","description":"The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are encouraged to always specify this header. The user-agent should be the same string that any commonly used browser sends. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). The following are examples of user-agent strings. Windows Phone: Mozilla/5.0 (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM; Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5; en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone; CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko) Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0 (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad: Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML, like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53.","schema":{"type":"string"}},{"name":"X-MSEdge-ClientID","in":"header","description":"Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. ATTENTION: You must ensure that this Client ID is not linkable to any authenticatable user account information. If you include the X-MSEdge-ClientID, you must not include cookies in the request.","schema":{"type":"string"}},{"name":"X-MSEdge-ClientIP","in":"header","description":"The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.","schema":{"type":"string"}},{"name":"X-Search-Location","in":"header","description":"A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header.","schema":{"type":"string"}},{"name":"mkt","in":"query","description":"The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. For a list of possible market values, see [Market Codes](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-visual-search/supported-countries-markets). NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-visual-search/supported-countries-markets), Bing uses a best fit market code based on an internal mapping that is subject to change.","schema":{"type":"string"}},{"name":"safeSearch","in":"query","description":"Filter the image results in actions with type 'VisualSearch' for adult content. The following are the possible filter values. Off: May return images with adult content. Moderate: Do not return images with adult content. Strict: Do not return images with adult content. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: filter in the knowledge request, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content.","schema":{"type":"string","enum":["Off","Moderate","Strict"]}},{"name":"setLang","in":"query","description":"The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.","schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"knowledgeRequest":{"type":"string","description":"The form data is a JSON object that identifies the image using an insights token or URL to the image. The object may also include an optional crop area that identifies an area of interest in the image. The insights token and URL are mutually exclusive – do not specify both. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only (it must not include an insights token or URL)."},"image":{"type":"string","description":"The form data is an image binary. The Content-Disposition header's name parameter must be set to \"image\". You must specify an image binary if you do not use knowledgeRequest form data to specify the image; you may not use both forms to specify an image. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only  (it must not include an insights token or URL).","format":"binary"}}}},"application/json":{"schema":{"type":"object","properties":{"knowledgeRequest":{"type":"string","description":"The form data is a JSON object that identifies the image using an insights token or URL to the image. The object may also include an optional crop area that identifies an area of interest in the image. The insights token and URL are mutually exclusive – do not specify both. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only (it must not include an insights token or URL)."},"image":{"type":"string","description":"The form data is an image binary. The Content-Disposition header's name parameter must be set to \"image\". You must specify an image binary if you do not use knowledgeRequest form data to specify the image; you may not use both forms to specify an image. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only  (it must not include an insights token or URL).","format":"binary"}}}},"text/json":{"schema":{"type":"object","properties":{"knowledgeRequest":{"type":"string","description":"The form data is a JSON object that identifies the image using an insights token or URL to the image. The object may also include an optional crop area that identifies an area of interest in the image. The insights token and URL are mutually exclusive – do not specify both. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only (it must not include an insights token or URL)."},"image":{"type":"string","description":"The form data is an image binary. The Content-Disposition header's name parameter must be set to \"image\". You must specify an image binary if you do not use knowledgeRequest form data to specify the image; you may not use both forms to specify an image. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only  (it must not include an insights token or URL).","format":"binary"}}}},"application/xml":{"schema":{"type":"object","properties":{"knowledgeRequest":{"type":"string","description":"The form data is a JSON object that identifies the image using an insights token or URL to the image. The object may also include an optional crop area that identifies an area of interest in the image. The insights token and URL are mutually exclusive – do not specify both. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only (it must not include an insights token or URL)."},"image":{"type":"string","description":"The form data is an image binary. The Content-Disposition header's name parameter must be set to \"image\". You must specify an image binary if you do not use knowledgeRequest form data to specify the image; you may not use both forms to specify an image. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only  (it must not include an insights token or URL).","format":"binary"}}}},"text/xml":{"schema":{"type":"object","properties":{"knowledgeRequest":{"type":"string","description":"The form data is a JSON object that identifies the image using an insights token or URL to the image. The object may also include an optional crop area that identifies an area of interest in the image. The insights token and URL are mutually exclusive – do not specify both. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only (it must not include an insights token or URL)."},"image":{"type":"string","description":"The form data is an image binary. The Content-Disposition header's name parameter must be set to \"image\". You must specify an image binary if you do not use knowledgeRequest form data to specify the image; you may not use both forms to specify an image. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only  (it must not include an insights token or URL).","format":"binary"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"knowledgeRequest":{"type":"string","description":"The form data is a JSON object that identifies the image using an insights token or URL to the image. The object may also include an optional crop area that identifies an area of interest in the image. The insights token and URL are mutually exclusive – do not specify both. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only (it must not include an insights token or URL)."},"image":{"type":"string","description":"The form data is an image binary. The Content-Disposition header's name parameter must be set to \"image\". You must specify an image binary if you do not use knowledgeRequest form data to specify the image; you may not use both forms to specify an image. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only  (it must not include an insights token or URL).","format":"binary"}}}}}},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageKnowledge"}}}},"default":{"description":"An error has occurred. Check the response type and/or status code for more details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Action":{"properties":{"displayName":{"type":"string","description":"A display name for the action.","readOnly":true},"isTopAction":{"type":"boolean","description":"A Boolean representing whether this result is the top action.","readOnly":true},"result":{"type":"array","description":"The result produced in the action.","readOnly":true,"items":{"$ref":"#/components/schemas/Thing"}},"serviceUrl":{"type":"string","description":"Use this URL to get additional data to determine how to take the appropriate action. For example, the serviceUrl might return JSON along with an image URL.","readOnly":true}},"description":"Defines an action.","allOf":[{"$ref":"#/components/schemas/CreativeWork"}]},"AggregateOffer":{"properties":{"offers":{"type":"array","description":"A list of offers from merchants that have offerings related to the image.","readOnly":true,"items":{"$ref":"#/components/schemas/Offer"}}},"description":"Defines a list of offers from merchants that are related to the image.","allOf":[{"$ref":"#/components/schemas/Offer"}]},"AggregateRating":{"properties":{"reviewCount":{"type":"integer","description":"The number of times the recipe has been rated or reviewed.","format":"int32","readOnly":true}},"description":"Defines the metrics that indicate how well an item was rated by others.","allOf":[{"$ref":"#/components/schemas/Rating"}]},"CreativeWork":{"properties":{"datePublished":{"type":"string","description":"The date on which the CreativeWork was published.","readOnly":true},"provider":{"type":"array","description":"The source of the creative work.","readOnly":true,"items":{"$ref":"#/components/schemas/Thing"}},"text":{"type":"string","description":"Text content of this creative work.","readOnly":true},"thumbnailUrl":{"type":"string","description":"The URL to a thumbnail of the item.","readOnly":true}},"description":"The most generic kind of creative work, including books, movies, photographs, software programs, etc.","allOf":[{"$ref":"#/components/schemas/Thing"}]},"CropArea":{"required":["bottom","left","right","top"],"type":"object","properties":{"bottom":{"type":"number","description":"The bottom coordinate of the region to be cropped. The coordinate is a fractional value of the original image's height and is measured from the top edge of the image. Specify the coordinate as a value from 0.0 through 1.0.","format":"float"},"left":{"type":"number","description":"The left coordinate of the region to be cropped. The coordinate is a fractional value of the original image's width and is measured from the left edge of the image. Specify the coordinate as a value from 0.0 through 1.0.","format":"float"},"right":{"type":"number","description":"The right coordinate of the region to be cropped. The coordinate is a fractional value of the original image's width and is measured from the left edge of the image. Specify the coordinate as a value from 0.0 through 1.0.","format":"float"},"top":{"type":"number","description":"The top coordinate of the region to be cropped. The coordinate is a fractional value of the original image's height and is measured from the top edge of the image. Specify the coordinate as a value from 0.0 through 1.0.","format":"float"}},"description":"A JSON object consisting of coordinates specifying the four corners of a cropped rectangle within the input image."},"Error":{"required":["code","message"],"type":"object","properties":{"code":{"type":"string","description":"The error code that identifies the category of error.","default":"None","enum":["None","ServerError","InvalidRequest","RateLimitExceeded","InvalidAuthorization","InsufficientAuthorization"]},"message":{"type":"string","description":"A description of the error."},"moreDetails":{"type":"string","description":"A description that provides additional information about the error.","readOnly":true},"parameter":{"type":"string","description":"The parameter in the request that caused the error.","readOnly":true},"subCode":{"type":"string","description":"The error code that further helps to identify the error.","readOnly":true,"enum":["UnexpectedError","ResourceError","NotImplemented","ParameterMissing","ParameterInvalidValue","HttpNotAllowed","Blocked","AuthorizationMissing","AuthorizationRedundancy","AuthorizationDisabled","AuthorizationExpired"]},"value":{"type":"string","description":"The parameter's value in the request that was not valid.","readOnly":true}},"description":"Defines the error that occurred."},"ErrorResponse":{"properties":{"errors":{"type":"array","description":"A list of errors that describe the reasons why the request failed.","items":{"$ref":"#/components/schemas/Error"}}},"description":"The top-level response that represents a failed request.","allOf":[{"$ref":"#/components/schemas/Response"}]},"Filters":{"type":"object","properties":{"site":{"type":"string","description":"The URL of the site to return similar images and similar products from. (e.g., \"www.bing.com\", \"bing.com\")."}},"description":"A key-value object consisting of filters that may be specified to limit the results returned by the API. Current available filters: site."},"Identifiable":{"properties":{"id":{"type":"string","description":"A String identifier.","readOnly":true}},"description":"Defines the identity of a resource.","allOf":[{"$ref":"#/components/schemas/ResponseBase"}]},"ImageAction":{"properties":{"_type":{"type":"string","description":"Specifies the sub-class of the action.","enum":["ImageEntityAction","ImageModuleAction","ImageRecipesAction","ImageRelatedSearchesAction","ImageShoppingSourcesAction"]},"actionType":{"type":"string","description":"A string representing the type of action.","readOnly":true}},"description":"Defines an image action.","allOf":[{"$ref":"#/components/schemas/Action"}]},"ImageEntityAction":{"description":"Defines an entity action.","allOf":[{"$ref":"#/components/schemas/ImageAction"}]},"ImageInfo":{"type":"object","properties":{"cropArea":{"$ref":"#/components/schemas/CropArea"},"imageInsightsToken":{"type":"string","description":"An image insights token. To get the insights token, call one of the Image Search APIs (for example, /images/search). In the search results, the [Image](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#image) object's [imageInsightsToken](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#image-imageinsightstoken) field contains the token. The imageInsightsToken and url fields mutually exclusive; do not specify both. Do not specify an insights token if the request includes the image form data."},"url":{"type":"string","description":"The URL of the input image. The imageInsightsToken and url fields are mutually exclusive; do not specify both. Do not specify the URL if the request includes the image form data."}},"description":"A JSON object that identities the image to get insights of . It also includes the optional crop area that you use to identify the region of interest in the image."},"ImageKnowledge":{"properties":{"image":{"$ref":"#/components/schemas/ImageObject"},"tags":{"type":"array","description":"A list of visual search tags.","readOnly":true,"items":{"$ref":"#/components/schemas/ImageTag"}}},"description":"Defines a visual search API response.","allOf":[{"$ref":"#/components/schemas/Response"}]},"ImageModuleAction":{"properties":{"data":{"$ref":"#/components/schemas/ImagesModule"}},"description":"Defines an image list action.","allOf":[{"$ref":"#/components/schemas/ImageAction"}]},"ImageObject":{"properties":{"accentColor":{"type":"string","description":"A three-byte hexadecimal number that represents the color that dominates the image. Use the color as the temporary background in your client until the image is loaded.","readOnly":true},"imageId":{"type":"string","description":"Unique Id for the image.","readOnly":true},"imageInsightsToken":{"type":"string","description":"The token that you use in a subsequent call to Visual Search API to get additional information about the image. For information about using this token, see the imageInsightsToken field inside the knowledgeRequest request parameter.","readOnly":true},"insightsMetadata":{"$ref":"#/components/schemas/ImagesImageMetadata"},"thumbnail":{"$ref":"#/components/schemas/ImageObject"},"visualWords":{"type":"string","description":"For internal use only.","readOnly":true}},"description":"Defines an image.","allOf":[{"$ref":"#/components/schemas/MediaObject"}]},"ImageRecipesAction":{"properties":{"data":{"$ref":"#/components/schemas/RecipesModule"}},"description":"Defines an recipe action.","allOf":[{"$ref":"#/components/schemas/ImageAction"}]},"ImageRelatedSearchesAction":{"properties":{"data":{"$ref":"#/components/schemas/RelatedSearchesModule"}},"description":"Defines an related search action.","allOf":[{"$ref":"#/components/schemas/ImageAction"}]},"ImageShoppingSourcesAction":{"properties":{"data":{"$ref":"#/components/schemas/AggregateOffer"}},"description":"Defines a shopping sources action.","allOf":[{"$ref":"#/components/schemas/ImageAction"}]},"ImageTag":{"properties":{"actions":{"type":"array","description":"Actions within this tag. The order of the items denotes the default ranking order of these actions, with the first action being the most likely user intent.","readOnly":true,"items":{"$ref":"#/components/schemas/ImageAction"}},"boundingBox":{"$ref":"#/components/schemas/ImageTagRegion"},"displayName":{"type":"string","description":"Display name for this tag. For the default tag, the display name is empty.","readOnly":true}},"description":"A visual search tag.","allOf":[{"$ref":"#/components/schemas/Thing"}]},"ImageTagRegion":{"required":["displayRectangle","queryRectangle"],"type":"object","properties":{"displayRectangle":{"$ref":"#/components/schemas/NormalizedQuadrilateral"},"queryRectangle":{"$ref":"#/components/schemas/NormalizedQuadrilateral"}},"description":"Defines an image region relevant to the ImageTag."},"ImagesImageMetadata":{"type":"object","properties":{"aggregateOffer":{"$ref":"#/components/schemas/AggregateOffer"},"recipeSourcesCount":{"type":"integer","description":"The number of websites that offer recipes of the food seen in the image.","format":"int32","readOnly":true},"shoppingSourcesCount":{"type":"integer","description":"The number of websites that sell the products seen in the image.","format":"int32","readOnly":true}},"description":"Defines a count of the number of websites where you can shop or perform other actions related to the image."},"ImagesModule":{"type":"object","properties":{"value":{"type":"array","description":"A list of images.","readOnly":true,"items":{"$ref":"#/components/schemas/ImageObject"}}},"description":"Defines a list of images."},"Intangible":{"description":"A utility class that serves as the umbrella for a number of 'intangible' things such as quantities, structured values, etc.","allOf":[{"$ref":"#/components/schemas/Thing"}]},"KnowledgeRequest":{"type":"object","properties":{"filters":{"$ref":"#/components/schemas/Filters"}},"description":"A JSON object containing information about the request, such as filters for the resulting actions."},"MediaObject":{"properties":{"contentSize":{"type":"string","description":"Size of the media object content. Use format \"value unit\" (e.g., \"1024 B\").","readOnly":true},"contentUrl":{"type":"string","description":"Original URL to retrieve the source (file) for the media object (e.g., the source URL for the image).","readOnly":true},"encodingFormat":{"type":"string","description":"Encoding format (e.g., png, gif, jpeg, etc).","readOnly":true},"height":{"type":"integer","description":"The height of the media object, in pixels.","format":"int32","readOnly":true},"hostPageDisplayUrl":{"type":"string","description":"Display URL of the page that hosts the media object.","readOnly":true},"hostPageUrl":{"type":"string","description":"URL of the page that hosts the media object.","readOnly":true},"width":{"type":"integer","description":"The width of the media object, in pixels.","format":"int32","readOnly":true}},"description":"Defines a media object.","allOf":[{"$ref":"#/components/schemas/CreativeWork"}]},"NormalizedQuadrilateral":{"properties":{"bottomLeft":{"$ref":"#/components/schemas/Point2D"},"bottomRight":{"$ref":"#/components/schemas/Point2D"},"topLeft":{"$ref":"#/components/schemas/Point2D"},"topRight":{"$ref":"#/components/schemas/Point2D"}},"description":"Defines a region of an image. The region is a convex quadrilateral defined by coordinates of its top left, top right, bottom left, and bottom right points. The coordinates are fractional values of the original image's width and height in the range 0.0 through 1.0.","allOf":[{"$ref":"#/components/schemas/StructuredValue"}]},"Offer":{"properties":{"aggregateRating":{"$ref":"#/components/schemas/AggregateRating"},"availability":{"type":"string","description":"The item's availability. The following are the possible values: Discontinued, InStock, InStoreOnly, LimitedAvailability, OnlineOnly, OutOfStock, PreOrder, SoldOut.","readOnly":true,"enum":["Discontinued","InStock","InStoreOnly","LimitedAvailability","OnlineOnly","OutOfStock","PreOrder","SoldOut"]},"lastUpdated":{"type":"string","description":"The last date that the offer was updated. The date is in the form YYYY-MM-DD.","readOnly":true},"price":{"type":"number","description":"The item's price.","format":"float","readOnly":true},"priceCurrency":{"type":"string","description":"The monetary currency. For example, USD.","readOnly":true,"default":"USD","enum":["USD","CAD","GBP","EUR","COP","JPY","CNY","AUD","INR","AED","AFN","ALL","AMD","ANG","AOA","ARS","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BOV","BRL","BSD","BTN","BWP","BYR","BZD","CDF","CHE","CHF","CHW","CLF","CLP","COU","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","FJD","FKP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IQD","IRR","ISK","JMD","JOD","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MXV","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","UYU","UZS","VEF","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]},"seller":{"$ref":"#/components/schemas/Organization"}},"description":"Defines a merchant's offer.","allOf":[{"$ref":"#/components/schemas/Thing"}]},"Organization":{"description":"Defines an organization.","allOf":[{"$ref":"#/components/schemas/Thing"}]},"Person":{"properties":{"jobTitle":{"type":"string","description":"The person's job title.","readOnly":true},"twitterProfile":{"type":"string","description":"The URL of the person's twitter profile.","readOnly":true}},"description":"Defines a person.","allOf":[{"$ref":"#/components/schemas/Thing"}]},"Point2D":{"properties":{"x":{"type":"number","description":"The x-coordinate of the point.","format":"float"},"y":{"type":"number","description":"The y-coordinate of the point.","format":"float"}},"description":"Defines a 2D point with X and Y coordinates.","allOf":[{"$ref":"#/components/schemas/StructuredValue"}]},"PropertiesItem":{"required":["_type"],"type":"object","properties":{"_type":{"type":"string"},"text":{"type":"string","description":"Text representation of an item.","readOnly":true}},"description":"Defines an item.","discriminator":{"propertyName":"_type"}},"Query":{"required":["text"],"type":"object","properties":{"displayText":{"type":"string","description":"The display version of the query term.","readOnly":true},"searchLink":{"type":"string","description":"The URL that you use to get the results of the related search. Before using the URL, you must append query parameters as appropriate and include the Ocp-Apim-Subscription-Key header. Use this URL if you're displaying the results in your own user interface. Otherwise, use the webSearchUrl URL.","readOnly":true},"text":{"type":"string","description":"The query string. Use this string as the query term in a new search request."},"thumbnail":{"$ref":"#/components/schemas/ImageObject"},"webSearchUrl":{"type":"string","description":"The URL that takes the user to the Bing search results page for the query.","readOnly":true}},"description":"Defines a search query."},"Rating":{"properties":{"bestRating":{"type":"number","description":"The highest rated review. The possible values are 1.0 through 5.0.","format":"float","readOnly":true},"ratingValue":{"type":"number","description":"The mean (average) rating. The possible values are 1.0 through 5.0.","format":"float"}},"description":"Defines a rating.","allOf":[{"$ref":"#/components/schemas/PropertiesItem"}]},"Recipe":{"properties":{"cookTime":{"type":"string","description":"The amount of time the food takes to cook. For example, PT25M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.","readOnly":true},"prepTime":{"type":"string","description":"The amount of time required to prepare the ingredients. For example, PT15M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.","readOnly":true},"totalTime":{"type":"string","description":"The total amount of time it takes to prepare and cook the recipe. For example, PT45M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.","readOnly":true}},"description":"Defines a cooking recipe.","allOf":[{"$ref":"#/components/schemas/CreativeWork"}]},"RecipesModule":{"type":"object","properties":{"value":{"type":"array","description":"A list of recipes.","readOnly":true,"items":{"$ref":"#/components/schemas/Recipe"}}},"description":"Defines a list of recipes."},"RelatedSearchesModule":{"type":"object","properties":{"value":{"type":"array","description":"A list of related searches.","readOnly":true,"items":{"$ref":"#/components/schemas/Query"}}},"description":"Defines a list of related searches."},"Response":{"properties":{"readLink":{"type":"string","description":"The URL that returns this resource. To use the URL, append query parameters as appropriate and include the Ocp-Apim-Subscription-Key header.","readOnly":true},"webSearchUrl":{"type":"string","description":"The URL to Bing's search result for this item.","readOnly":true}},"description":"Defines a response. All schemas that return at the root of the response must inherit from this object.","allOf":[{"$ref":"#/components/schemas/Identifiable"}]},"ResponseBase":{"type":"object","properties":{"_type":{"type":"string"}},"description":"Response base.","discriminator":{"propertyName":"_type"}},"StructuredValue":{"allOf":[{"$ref":"#/components/schemas/Intangible"}]},"Thing":{"properties":{"alternateName":{"type":"string","description":"An alias for the item.","readOnly":true},"bingId":{"type":"string","description":"An ID that uniquely identifies this item.","readOnly":true},"description":{"type":"string","description":"A short description of the item.","readOnly":true},"image":{"$ref":"#/components/schemas/ImageObject"},"name":{"type":"string","description":"The name of the thing represented by this object.","readOnly":true},"url":{"type":"string","description":"The URL to get more information about the thing represented by this object.","readOnly":true}},"description":"Defines a thing.","allOf":[{"$ref":"#/components/schemas/Response"}]},"VisualSearchRequest":{"type":"object","properties":{"imageInfo":{"$ref":"#/components/schemas/ImageInfo"},"knowledgeRequest":{"$ref":"#/components/schemas/KnowledgeRequest"}},"description":"A JSON object that contains information about the image to get insights of. Specify this object only in a knowledgeRequest form data."}},"parameters":{"x-bingapis-sdk":{"name":"X-BingApis-SDK","in":"header","description":"Activate swagger compliance.","required":true,"schema":{"type":"string","enum":["true"]}}},"securitySchemes":{"apiKeyHeader":{"type":"apiKey","name":"Ocp-Apim-Subscription-Key","in":"header"}}}}