{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure Migrate",
    "description" : "Move your workloads to Azure.",
    "contact" : {
      "name" : "Microsoft",
      "email" : "azuremigrate@microsoft.com"
    },
    "version" : "2018-02-02"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Migrate/operations" : {
      "get" : {
        "summary" : "Get list of operations supported in the API.",
        "description" : "Get a list of REST API supported by Microsoft.Migrate provider.",
        "operationId" : "Operations_List",
        "responses" : {
          "200" : {
            "description" : "OK. Returns list of operations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationResultList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/locations/{locationName}/assessmentOptions" : {
      "get" : {
        "summary" : "Get the assessment options.",
        "description" : "Get the available options for the properties of an assessment.",
        "operationId" : "AssessmentOptions_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locationName",
          "in" : "path",
          "description" : "Azure region in which the project is created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Returns assessment options.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssessmentOptionsResultList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/locations/{locationName}/checkNameAvailability" : {
      "post" : {
        "description" : "Checks whether the project name is available in the specified region.",
        "operationId" : "Location_CheckNameAvailability",
        "parameters" : [ {
          "name" : "locationName",
          "in" : "path",
          "description" : "The desired region for the name check.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Properties needed to check the availability of a name.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckNameAvailabilityParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success. Returns details about whether a project name is available.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckNameAvailabilityResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/projects" : {
      "get" : {
        "summary" : "Get all projects.",
        "description" : "Get all the projects in the subscription.",
        "operationId" : "Projects_ListBySubscription",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResultList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/assessments" : {
      "get" : {
        "summary" : "Get all assessments created in the project.",
        "description" : "Get all assessments created in the project.\n\nReturns a json array of objects of type 'assessment' as specified in Models section.\n",
        "operationId" : "Assessments_ListByProject",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Returns list of Assessment objects.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssessmentResultList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups" : {
      "get" : {
        "summary" : "Get all groups",
        "description" : "Get all groups created in the project. Returns a json array of objects of type 'group' as specified in the Models section.",
        "operationId" : "Groups_ListByProject",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Returns list of groups.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupResultList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}" : {
      "get" : {
        "summary" : "Get a specific group.",
        "description" : "Get information related to a specific group in the project. Returns a json object of type 'group' as specified in the models section.",
        "operationId" : "Groups_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "Unique name of a group within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Returns the group with the specified name.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "summary" : "Create a new group with specified settings. If group with the name provided already exists, then the existing group is updated.",
        "description" : "Create a new group by sending a json object of type 'group' as given in Models section as part of the Request Body. The group name in a project is unique. Labels can be applied on a group as part of creation.\n\nIf a group with the groupName specified in the URL already exists, then this call acts as an update.\n\nThis operation is Idempotent.\n",
        "operationId" : "Groups_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "Unique name of a group within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "requestBody" : {
          "description" : "New or Updated Group object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK. Existing group updated.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "201" : {
            "description" : "Created. New group was created.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "summary" : "Delete the group",
        "description" : "Delete the group from the project. The machines remain in the project. Deleting a non-existent group results in a no-operation.\n\nA group is an aggregation mechanism for machines in a project. Therefore, deleting group does not delete machines in it.\n",
        "operationId" : "Groups_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "Unique name of a group within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Deleted the group.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments" : {
      "get" : {
        "summary" : "Get all assessments created for the specified group.",
        "description" : "Get all assessments created for the specified group.\n\nReturns a json array of objects of type 'assessment' as specified in Models section.\n",
        "operationId" : "Assessments_ListByGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "Unique name of a group within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Returns list of Assessment objects.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssessmentResultList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}" : {
      "get" : {
        "summary" : "Get an assessment.",
        "description" : "Get an existing assessment with the specified name. Returns a json object of type 'assessment' as specified in Models section.",
        "operationId" : "Assessments_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "Unique name of a group within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assessmentName",
          "in" : "path",
          "description" : "Unique name of an assessment within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Returns Assessment object.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Assessment"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "summary" : "Create or Update assessment.",
        "description" : "Create a new assessment with the given name and the specified settings. Since name of an assessment in a project is a unique identifier, if an assessment with the name provided already exists, then the existing assessment is updated.\n\nAny PUT operation, resulting in either create or update on an assessment, will cause the assessment to go in a \"InProgress\" state. This will be indicated by the field 'computationState' on the Assessment object. During this time no other PUT operation will be allowed on that assessment object, nor will a Delete operation. Once the computation for the assessment is complete, the field 'computationState' will be updated to 'Ready', and then other PUT or DELETE operations can happen on the assessment.\n\nWhen assessment is under computation, any PUT will lead to a 400 - Bad Request error.\n",
        "operationId" : "Assessments_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "Unique name of a group within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assessmentName",
          "in" : "path",
          "description" : "Unique name of an assessment within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "requestBody" : {
          "description" : "New or Updated Assessment object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Assessment"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK. Existing assessment updated.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Assessment"
                }
              }
            }
          },
          "201" : {
            "description" : "Created. New assessment was created.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Assessment"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "summary" : "Deletes an assessment from the project.",
        "description" : "Delete an assessment from the project. The machines remain in the assessment. Deleting a non-existent assessment results in a no-operation.\n\nWhen an assessment is under computation, as indicated by the 'computationState' field, it cannot be deleted. Any such attempt will return a 400 - Bad Request.\n",
        "operationId" : "Assessments_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "Unique name of a group within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assessmentName",
          "in" : "path",
          "description" : "Unique name of an assessment within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Deleted the assessment.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines" : {
      "get" : {
        "summary" : "Get assessed machines for assessment.",
        "description" : "Get list of machines that assessed as part of the specified assessment. Returns a json array of objects of type 'assessedMachine' as specified in the Models section.\n\nWhenever an assessment is created or updated, it goes under computation. During this phase, the 'status' field of Assessment object reports 'Computing'.\nDuring the period when the assessment is under computation, the list of assessed machines is empty and no assessed machines are returned by this call.\n",
        "operationId" : "AssessedMachines_ListByAssessment",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "Unique name of a group within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assessmentName",
          "in" : "path",
          "description" : "Unique name of an assessment within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Returns list of machines with their assessment data in the assessment.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssessedMachineResultList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}" : {
      "get" : {
        "summary" : "Get an assessed machine.",
        "description" : "Get an assessed machine with its size & cost estimate that was evaluated in the specified assessment.",
        "operationId" : "AssessedMachines_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "Unique name of a group within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assessmentName",
          "in" : "path",
          "description" : "Unique name of an assessment within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assessedMachineName",
          "in" : "path",
          "description" : "Unique name of an assessed machine evaluated as part of an assessment.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Returns a specific assessed machine.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssessedMachine"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/downloadUrl" : {
      "post" : {
        "summary" : "Get download URL for the assessment report.",
        "description" : "Get the URL for downloading the assessment in a report format.",
        "operationId" : "Assessments_GetReportDownloadUrl",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "path",
          "description" : "Unique name of a group within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assessmentName",
          "in" : "path",
          "description" : "Unique name of an assessment within a project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DownloadUrl"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/machines" : {
      "get" : {
        "summary" : "Get all machines in the project",
        "description" : "Get data of all the machines available in the project. Returns a json array of objects of type 'machine' defined in Models section.",
        "operationId" : "Machines_ListByProject",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Returns list of all machine objects.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MachineResultList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/machines/{machineName}" : {
      "get" : {
        "summary" : "Get a specific machine.",
        "description" : "Get the machine with the specified name. Returns a json object of type 'machine' defined in Models section.",
        "operationId" : "Machines_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "machineName",
          "in" : "path",
          "description" : "Unique name of a machine in private datacenter.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Returns the machine with the specified name.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Machine"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/projects" : {
      "get" : {
        "summary" : "Get all projects.",
        "description" : "Get all the projects in the resource group.",
        "operationId" : "Projects_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResultList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}" : {
      "get" : {
        "summary" : "Get the specified project.",
        "description" : "Get the project with the specified name.",
        "operationId" : "Projects_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "summary" : "Create or update project.",
        "description" : "Create a project with specified name. If a project already exists, update it.",
        "operationId" : "Projects_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "New or Updated project object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Project"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK. Existing project updated.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                }
              }
            }
          },
          "201" : {
            "description" : "Created. New project was created.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "summary" : "Delete the project",
        "description" : "Delete the project. Deleting non-existent project is a no-operation.",
        "operationId" : "Projects_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. Deleted the group.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "summary" : "Update project.",
        "description" : "Update a project with specified name. Supports partial updates, for example only tags can be provided.",
        "operationId" : "Projects_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Updated project object.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Project"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK. Existing project updated.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Project"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/keys" : {
      "post" : {
        "summary" : "Get shared keys for the project.",
        "description" : "Gets the Log Analytics Workspace ID and Primary Key for the specified project.",
        "operationId" : "Projects_GetKeys",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription Id in which project was created.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the Azure Resource Group that project is part of.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectName",
          "in" : "path",
          "description" : "Name of the Azure Migrate project.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Standard request header. Used by service to identify API version used by client.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "2018-02-02" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Standard request header. Used by service to respond to client in appropriate language.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.",
            "headers" : {
              "x-ms-request-id" : {
                "description" : "Service generated Request ID.",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectKey"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AssessedDisk" : {
        "type" : "object",
        "properties" : {
          "gigabytesConsumed" : {
            "type" : "number",
            "description" : "Gigabytes of storage consumed by this disk.",
            "format" : "double",
            "readOnly" : true
          },
          "gigabytesForRecommendedDiskSize" : {
            "type" : "integer",
            "description" : "Gigabytes of storage provided by the recommended Azure disk size.",
            "format" : "int32",
            "readOnly" : true
          },
          "gigabytesProvisioned" : {
            "type" : "number",
            "description" : "Gigabytes of storage provisioned for this disk.",
            "format" : "double",
            "readOnly" : true
          },
          "megabytesPerSecondOfRead" : {
            "type" : "number",
            "description" : "Disk throughput in MegaBytes per second.",
            "format" : "double",
            "readOnly" : true
          },
          "megabytesPerSecondOfReadDataPointsExpected" : {
            "type" : "integer",
            "description" : "Expected data points for MegaBytes per second of read.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "megabytesPerSecondOfReadDataPointsReceived" : {
            "type" : "integer",
            "description" : "Received data points for MegaBytes per second of read.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "megabytesPerSecondOfWrite" : {
            "type" : "number",
            "description" : "Disk throughput in MegaBytes per second.",
            "format" : "double",
            "readOnly" : true
          },
          "megabytesPerSecondOfWriteDataPointsExpected" : {
            "type" : "integer",
            "description" : "Expected data points for MegaBytes per second of write.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "megabytesPerSecondOfWriteDataPointsReceived" : {
            "type" : "integer",
            "description" : "Received data points for MegaBytes per second of write.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "monthlyStorageCost" : {
            "type" : "number",
            "description" : "Estimated aggregate storage cost for a 31-day month for this disk.",
            "format" : "double",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the assessed disk.",
            "readOnly" : true
          },
          "numberOfReadOperationsPerSecond" : {
            "type" : "number",
            "description" : "Number of read operations per second for the disk.",
            "format" : "double",
            "readOnly" : true
          },
          "numberOfReadOperationsPerSecondDataPointsExpected" : {
            "type" : "integer",
            "description" : "Expected number of data points for read operations per second.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "numberOfReadOperationsPerSecondDataPointsReceived" : {
            "type" : "integer",
            "description" : "Received number of data points for read operations per second.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "numberOfWriteOperationsPerSecond" : {
            "type" : "number",
            "description" : "Number of read and write operations per second for the disk.",
            "format" : "double",
            "readOnly" : true
          },
          "numberOfWriteOperationsPerSecondDataPointsExpected" : {
            "type" : "integer",
            "description" : "Expected number of data points for write operations per second.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "numberOfWriteOperationsPerSecondDataPointsReceived" : {
            "type" : "integer",
            "description" : "Received number of data points for write operations per second.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "recommendedDiskSize" : {
            "type" : "string",
            "description" : "Recommended Azure size for the disk, given utilization data and preferences set on Assessment.",
            "readOnly" : true,
            "enum" : [ "Unknown", "Standard_S4", "Standard_S6", "Standard_S10", "Standard_S20", "Standard_S30", "Standard_S40", "Standard_S50", "Premium_P4", "Premium_P6", "Premium_P10", "Premium_P20", "Premium_P30", "Premium_P40", "Premium_P50" ]
          },
          "recommendedDiskType" : {
            "type" : "string",
            "description" : "Storage type selected for this disk.",
            "readOnly" : true,
            "enum" : [ "Unknown", "Standard", "Premium" ]
          },
          "suitability" : {
            "type" : "string",
            "description" : "Whether this disk is suitable for Azure.",
            "readOnly" : true,
            "enum" : [ "Unknown", "NotSuitable", "Suitable", "ConditionallySuitable", "ReadinessUnknown" ]
          },
          "suitabilityExplanation" : {
            "type" : "string",
            "description" : "If disk is suitable, this explains the reasons and mitigation steps.",
            "readOnly" : true,
            "enum" : [ "Unknown", "NotApplicable", "DiskSizeGreaterThanSupported", "NoSuitableDiskSizeForIops", "NoSuitableDiskSizeForThroughput", "NoDiskSizeFoundInSelectedLocation", "NoDiskSizeFoundForSelectedRedundancy", "InternalErrorOccurredForDiskEvaluation" ]
          }
        },
        "description" : "A disk assessed for an assessment."
      },
      "AssessedMachine" : {
        "type" : "object",
        "properties" : {
          "eTag" : {
            "type" : "string",
            "description" : "For optimistic concurrency control."
          },
          "id" : {
            "type" : "string",
            "description" : "Path reference to this assessed machine. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the machine.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/AssessedMachineProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the object = [Microsoft.Migrate/projects/groups/assessments/assessedMachines].",
            "readOnly" : true
          }
        },
        "description" : "A machine evaluated as part of an assessment."
      },
      "AssessedMachineProperties" : {
        "type" : "object",
        "properties" : {
          "bootType" : {
            "type" : "string",
            "description" : "Boot type of the machine.",
            "readOnly" : true,
            "enum" : [ "Unknown", "EFI", "BIOS" ]
          },
          "createdTimestamp" : {
            "type" : "string",
            "description" : "Time when this machine was created. Date-Time represented in ISO-8601 format.",
            "format" : "date-time",
            "readOnly" : true
          },
          "datacenterContainer" : {
            "type" : "string",
            "description" : "Container defined in the management solution that this machine is part of in the datacenter.",
            "readOnly" : true
          },
          "datacenterMachineId" : {
            "type" : "string",
            "description" : "ID of the machine as tracked by the datacenter management solution.",
            "readOnly" : true
          },
          "datacenterManagementServer" : {
            "type" : "string",
            "description" : "Name of the server hosting the datacenter management solution.",
            "readOnly" : true
          },
          "datacenterManagementServerId" : {
            "type" : "string",
            "description" : "ID of the server hosting the datacenter management solution.",
            "readOnly" : true
          },
          "description" : {
            "type" : "string",
            "description" : "Description of the machine",
            "readOnly" : true
          },
          "discoveredTimestamp" : {
            "type" : "string",
            "description" : "Time when this machine was discovered by Azure Migrate agent. Date-Time represented in ISO-8601 format.",
            "format" : "date-time",
            "readOnly" : true
          },
          "disks" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/AssessedDisk"
            },
            "description" : "Dictionary of disks attached to the machine. Key is ID of disk. Value is a disk object.",
            "readOnly" : true
          },
          "displayName" : {
            "type" : "string",
            "description" : "User readable name of the machine as defined by the user in their private datacenter.",
            "readOnly" : true
          },
          "groups" : {
            "type" : "array",
            "description" : "List of references to the groups that the machine is member of.",
            "readOnly" : true,
            "items" : {
              "type" : "string",
              "description" : "Reference to a group that this machine is member of. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}",
              "readOnly" : true
            }
          },
          "megabytesOfMemory" : {
            "type" : "number",
            "description" : "Memory in Megabytes.",
            "format" : "double",
            "readOnly" : true
          },
          "megabytesOfMemoryForRecommendedSize" : {
            "type" : "number",
            "description" : "Megabytes of memory in the Recommended Azure VM Size.",
            "format" : "double",
            "readOnly" : true
          },
          "monthlyBandwidthCost" : {
            "type" : "number",
            "description" : "Monthly network cost estimate for the network adapters that are attached to this machine as a group, for a 31-day month.",
            "format" : "double",
            "readOnly" : true
          },
          "monthlyComputeCostForRecommendedSize" : {
            "type" : "number",
            "description" : "Compute Cost for a 31-day month, if the machine is migrated to Azure with the Recommended Size.",
            "format" : "double",
            "readOnly" : true
          },
          "monthlyStorageCost" : {
            "type" : "number",
            "description" : "Monthly storage cost estimate for the disks that are attached to this machine as a group, for a 31-day month.",
            "format" : "double",
            "readOnly" : true
          },
          "networkAdapters" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/AssessedNetworkAdapter"
            },
            "description" : "Dictionary of network adapters attached to the machine. Key is name of the adapter. Value is a network adapter object.",
            "readOnly" : true
          },
          "numberOfCores" : {
            "type" : "integer",
            "description" : "Processor count.",
            "format" : "int32",
            "readOnly" : true
          },
          "numberOfCoresForRecommendedSize" : {
            "type" : "integer",
            "description" : "Number of CPU cores in the Recommended Azure VM Size.",
            "format" : "int32",
            "readOnly" : true
          },
          "operatingSystem" : {
            "type" : "string",
            "description" : "Operating System of the machine.",
            "readOnly" : true
          },
          "percentageCoresUtilization" : {
            "type" : "number",
            "description" : "Utilization percentage of the processor core as observed in the private data center, in the Time Range selected on Assessment, reported as the Percentile value based on the percentile number selected in assessment.",
            "format" : "double",
            "readOnly" : true
          },
          "percentageCoresUtilizationDataPointsExpected" : {
            "type" : "integer",
            "description" : "Expected data points for percentage of cores utilization.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "percentageCoresUtilizationDataPointsReceived" : {
            "type" : "integer",
            "description" : "Received data points for percentage of cores utilization.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "percentageMemoryUtilization" : {
            "type" : "number",
            "description" : "Utilization percentage of the memory as observed in the private data center, in the Time Range selected on Assessment, reported as the Percentile value based on the percentile number selected in assessment.",
            "format" : "double",
            "readOnly" : true
          },
          "percentageMemoryUtilizationDataPointsExpected" : {
            "type" : "integer",
            "description" : "Expected data points for percentage of memory utilization.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "percentageMemoryUtilizationDataPointsReceived" : {
            "type" : "integer",
            "description" : "Received data points for percentage of memory utilization.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "recommendedSize" : {
            "type" : "string",
            "description" : "Recommended Azure size for this machine.",
            "readOnly" : true,
            "enum" : [ "Unknown", "Basic_A0", "Basic_A1", "Basic_A2", "Basic_A3", "Basic_A4", "Standard_A0", "Standard_A1", "Standard_A2", "Standard_A3", "Standard_A4", "Standard_A5", "Standard_A6", "Standard_A7", "Standard_A8", "Standard_A9", "Standard_A10", "Standard_A11", "Standard_A1_v2", "Standard_A2_v2", "Standard_A4_v2", "Standard_A8_v2", "Standard_A2m_v2", "Standard_A4m_v2", "Standard_A8m_v2", "Standard_D1", "Standard_D2", "Standard_D3", "Standard_D4", "Standard_D11", "Standard_D12", "Standard_D13", "Standard_D14", "Standard_D1_v2", "Standard_D2_v2", "Standard_D3_v2", "Standard_D4_v2", "Standard_D5_v2", "Standard_D11_v2", "Standard_D12_v2", "Standard_D13_v2", "Standard_D14_v2", "Standard_D15_v2", "Standard_DS1", "Standard_DS2", "Standard_DS3", "Standard_DS4", "Standard_DS11", "Standard_DS12", "Standard_DS13", "Standard_DS14", "Standard_DS1_v2", "Standard_DS2_v2", "Standard_DS3_v2", "Standard_DS4_v2", "Standard_DS5_v2", "Standard_DS11_v2", "Standard_DS12_v2", "Standard_DS13_v2", "Standard_DS14_v2", "Standard_DS15_v2", "Standard_F1", "Standard_F2", "Standard_F4", "Standard_F8", "Standard_F16", "Standard_F1s", "Standard_F2s", "Standard_F4s", "Standard_F8s", "Standard_F16s", "Standard_G1", "Standard_G2", "Standard_G3", "Standard_G4", "Standard_G5", "Standard_GS1", "Standard_GS2", "Standard_GS3", "Standard_GS4", "Standard_GS5", "Standard_H8", "Standard_H16", "Standard_H8m", "Standard_H16m", "Standard_H16r", "Standard_H16mr", "Standard_L4s", "Standard_L8s", "Standard_L16s", "Standard_L32s" ]
          },
          "suitability" : {
            "type" : "string",
            "description" : "Whether machine is suitable for migration to Azure.",
            "readOnly" : true,
            "enum" : [ "Unknown", "NotSuitable", "Suitable", "ConditionallySuitable", "ReadinessUnknown" ]
          },
          "suitabilityExplanation" : {
            "type" : "string",
            "description" : "If machine is not ready to be migrated, this explains the reasons and mitigation steps.",
            "readOnly" : true,
            "enum" : [ "Unknown", "NotApplicable", "GuestOperatingSystemArchitectureNotSupported", "GuestOperatingSystemNotSupported", "BootTypeNotSupported", "MoreDisksThanSupported", "NoSuitableVmSizeFound", "OneOrMoreDisksNotSuitable", "OneOrMoreAdaptersNotSuitable", "InternalErrorOccuredDuringComputeEvaluation", "InternalErrorOccuredDuringStorageEvaluation", "InternalErrorOccuredDuringNetworkEvaluation", "NoVmSizeSupportsStoragePerformance", "NoVmSizeSupportsNetworkPerformance", "NoVmSizeForSelectedPricingTier", "NoVmSizeForSelectedAzureLocation", "CheckRedHatLinuxVersion", "CheckOpenSuseLinuxVersion", "CheckWindowsServer2008R2Version", "CheckCentOsVersion", "CheckDebianLinuxVersion", "CheckSuseLinuxVersion", "CheckOracleLinuxVersion", "CheckUbuntuLinuxVersion", "CheckCoreOsLinuxVersion", "WindowsServerVersionConditionallySupported", "NoGuestOperatingSystemConditionallySupported", "WindowsClientVersionsConditionallySupported", "BootTypeUnknown", "GuestOperatingSystemUnknown", "WindowsServerVersionsSupportedWithCaveat", "WindowsOSNoLongerUnderMSSupport", "EndorsedWithConditionsLinuxDistributions", "UnendorsedLinuxDistributions", "NoVmSizeForStandardPricingTier", "NoVmSizeForBasicPricingTier" ]
          },
          "updatedTimestamp" : {
            "type" : "string",
            "description" : "Time when this machine was last updated. Date-Time represented in ISO-8601 format.",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "description" : "Properties of an assessed machine."
      },
      "AssessedMachineResultList" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of assessed machines.",
            "items" : {
              "$ref" : "#/components/schemas/AssessedMachine"
            }
          }
        },
        "description" : "List of assessed machines."
      },
      "AssessedNetworkAdapter" : {
        "type" : "object",
        "properties" : {
          "ipAddresses" : {
            "type" : "array",
            "description" : "List of IP Addresses on the network adapter.",
            "readOnly" : true,
            "items" : {
              "type" : "string",
              "description" : "IP Address of the network adapter.",
              "readOnly" : true
            }
          },
          "macAddress" : {
            "type" : "string",
            "description" : "MAC Address of the network adapter.",
            "readOnly" : true
          },
          "megabytesPerSecondOfReadDataPointsReceived" : {
            "type" : "integer",
            "description" : "Received data points for incoming traffic in MegaBytes per second.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "megabytesPerSecondReceived" : {
            "type" : "number",
            "description" : "Adapter throughput for incoming traffic in MegaBytes per second.",
            "format" : "double",
            "readOnly" : true
          },
          "megabytesPerSecondReceivedDataPointsExpected" : {
            "type" : "integer",
            "description" : "Expected data points for incoming traffic in MegaBytes per second.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "megabytesPerSecondTransmitted" : {
            "type" : "number",
            "description" : "Adapter throughput for outgoing traffic in MegaBytes per second.",
            "format" : "double",
            "readOnly" : true
          },
          "megabytesPerSecondTransmittedDataPointsExpected" : {
            "type" : "integer",
            "description" : "Expected data points for outgoing traffic in MegaBytes per second.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "megabytesPerSecondTransmittedDataPointsReceived" : {
            "type" : "integer",
            "description" : "Received data points for outgoing traffic in MegaBytes per second.",
            "format" : "int32",
            "nullable" : true,
            "readOnly" : true
          },
          "monthlyBandwidthCosts" : {
            "type" : "number",
            "description" : "Monthly cost estimate for network bandwidth used by this network adapter.",
            "format" : "double",
            "readOnly" : true
          },
          "netGigabytesTransmittedPerMonth" : {
            "type" : "number",
            "description" : "Gigabytes transmitted through this adapter each month.",
            "format" : "double"
          },
          "suitability" : {
            "type" : "string",
            "description" : "Whether this adapter is suitable for Azure.",
            "readOnly" : true,
            "enum" : [ "Unknown", "NotSuitable", "Suitable", "ConditionallySuitable", "ReadinessUnknown" ]
          },
          "suitabilityExplanation" : {
            "type" : "string",
            "description" : "If network adapter is suitable, this explains the reasons and mitigation steps.",
            "readOnly" : true,
            "enum" : [ "Unknown", "NotApplicable", "InternalErrorOccured" ]
          }
        },
        "description" : "A network adapter assessed for an assessment."
      },
      "Assessment" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "eTag" : {
            "type" : "string",
            "description" : "For optimistic concurrency control."
          },
          "id" : {
            "type" : "string",
            "description" : "Path reference to this assessment. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessment/{assessmentName}",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Unique name of an assessment.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/AssessmentProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the object = [Microsoft.Migrate/projects/groups/assessments].",
            "readOnly" : true
          }
        },
        "description" : "An assessment created for a group in the Migration project."
      },
      "AssessmentOptionsResultList" : {
        "type" : "object",
        "properties" : {
          "reservedInstanceVmFamilies" : {
            "type" : "array",
            "description" : "List of supported VM Families.",
            "readOnly" : true,
            "items" : {
              "type" : "string",
              "description" : "Azure VM family name.",
              "readOnly" : true
            }
          },
          "vmFamilies" : {
            "type" : "array",
            "description" : "Dictionary of VM families grouped by vm family name describing the targeted azure locations of VM family and the category of the family.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/VmFamily"
            }
          }
        },
        "description" : "List of assessment options."
      },
      "AssessmentProperties" : {
        "required" : [ "azureHybridUseBenefit", "azureLocation", "azureOfferCode", "azurePricingTier", "azureStorageRedundancy", "currency", "discountPercentage", "percentile", "scalingFactor", "sizingCriterion", "stage", "timeRange" ],
        "type" : "object",
        "properties" : {
          "azureHybridUseBenefit" : {
            "type" : "string",
            "description" : "AHUB discount on windows virtual machines.",
            "enum" : [ "Unknown", "Yes", "No" ]
          },
          "azureLocation" : {
            "type" : "string",
            "description" : "Target Azure location for which the machines should be assessed. These enums are the same as used by Compute API.",
            "enum" : [ "Unknown", "EastAsia", "SoutheastAsia", "AustraliaEast", "AustraliaSoutheast", "BrazilSouth", "CanadaCentral", "CanadaEast", "WestEurope", "NorthEurope", "CentralIndia", "SouthIndia", "WestIndia", "JapanEast", "JapanWest", "KoreaCentral", "KoreaSouth", "UkWest", "UkSouth", "NorthCentralUs", "EastUs", "WestUs2", "SouthCentralUs", "CentralUs", "EastUs2", "WestUs", "WestCentralUs", "GermanyCentral", "GermanyNortheast", "ChinaNorth", "ChinaEast" ]
          },
          "azureOfferCode" : {
            "type" : "string",
            "description" : "Offer code according to which cost estimation is done.",
            "enum" : [ "Unknown", "MSAZR0003P", "MSAZR0044P", "MSAZR0059P", "MSAZR0060P", "MSAZR0062P", "MSAZR0063P", "MSAZR0064P", "MSAZR0029P", "MSAZR0022P", "MSAZR0023P", "MSAZR0148P", "MSAZR0025P", "MSAZR0036P", "MSAZR0120P", "MSAZR0121P", "MSAZR0122P", "MSAZR0123P", "MSAZR0124P", "MSAZR0125P", "MSAZR0126P", "MSAZR0127P", "MSAZR0128P", "MSAZR0129P", "MSAZR0130P", "MSAZR0111P", "MSAZR0144P", "MSAZR0149P", "MSMCAZR0044P", "MSMCAZR0059P", "MSMCAZR0060P", "MSMCAZR0063P", "MSMCAZR0120P", "MSMCAZR0121P", "MSMCAZR0125P", "MSMCAZR0128P", "MSAZRDE0003P", "MSAZRDE0044P" ]
          },
          "azurePricingTier" : {
            "type" : "string",
            "description" : "Pricing tier for Size evaluation.",
            "enum" : [ "Standard", "Basic" ]
          },
          "azureStorageRedundancy" : {
            "type" : "string",
            "description" : "Storage Redundancy type offered by Azure.",
            "enum" : [ "Unknown", "LocallyRedundant", "ZoneRedundant", "GeoRedundant", "ReadAccessGeoRedundant" ]
          },
          "confidenceRatingInPercentage" : {
            "type" : "number",
            "description" : "Confidence rating percentage for assessment. Can be in the range [0, 100].",
            "format" : "double",
            "nullable" : true,
            "readOnly" : true
          },
          "createdTimestamp" : {
            "type" : "string",
            "description" : "Time when this project was created. Date-Time represented in ISO-8601 format.",
            "format" : "date-time",
            "readOnly" : true
          },
          "currency" : {
            "type" : "string",
            "description" : "Currency to report prices in.",
            "enum" : [ "Unknown", "USD", "DKK", "CAD", "IDR", "JPY", "KRW", "NZD", "NOK", "RUB", "SAR", "ZAR", "SEK", "TRY", "GBP", "MXN", "MYR", "INR", "HKD", "BRL", "TWD", "EUR", "CHF", "ARS", "AUD", "CNY" ]
          },
          "discountPercentage" : {
            "type" : "number",
            "description" : "Custom discount percentage to be applied on final costs. Can be in the range [0, 100].",
            "format" : "double"
          },
          "monthlyBandwidthCost" : {
            "type" : "number",
            "description" : "Monthly network cost estimate for the machines that are part of this assessment as a group, for a 31-day month.",
            "format" : "double",
            "readOnly" : true
          },
          "monthlyComputeCost" : {
            "type" : "number",
            "description" : "Monthly compute cost estimate for the machines that are part of this assessment as a group, for a 31-day month.",
            "format" : "double",
            "readOnly" : true
          },
          "monthlyStorageCost" : {
            "type" : "number",
            "description" : "Monthly storage cost estimate for the machines that are part of this assessment as a group, for a 31-day month.",
            "format" : "double",
            "readOnly" : true
          },
          "numberOfMachines" : {
            "type" : "integer",
            "description" : "Number of assessed machines part of this assessment.",
            "format" : "int32",
            "readOnly" : true
          },
          "percentile" : {
            "type" : "string",
            "description" : "Percentile of performance data used to recommend Azure size.",
            "enum" : [ "Percentile50", "Percentile90", "Percentile95", "Percentile99" ]
          },
          "pricesTimestamp" : {
            "type" : "string",
            "description" : "Time when the Azure Prices were queried. Date-Time represented in ISO-8601 format.",
            "format" : "date-time",
            "readOnly" : true
          },
          "scalingFactor" : {
            "type" : "number",
            "description" : "Scaling factor used over utilization data to add a performance buffer for new machines to be created in Azure. Min Value = 1.0, Max value = 1.9, Default = 1.3.",
            "format" : "double"
          },
          "sizingCriterion" : {
            "type" : "string",
            "description" : "Assessment sizing criterion.",
            "enum" : [ "PerformanceBased", "AsOnPremises" ]
          },
          "stage" : {
            "type" : "string",
            "description" : "User configurable setting that describes the status of the assessment.",
            "enum" : [ "InProgress", "UnderReview", "Approved" ]
          },
          "status" : {
            "type" : "string",
            "description" : "Whether the assessment has been created and is valid.",
            "readOnly" : true,
            "enum" : [ "Created", "Updated", "Running", "Completed", "Invalid" ]
          },
          "timeRange" : {
            "type" : "string",
            "description" : "Time range of performance data used to recommend a size.",
            "enum" : [ "Day", "Week", "Month" ]
          },
          "updatedTimestamp" : {
            "type" : "string",
            "description" : "Time when this project was last updated. Date-Time represented in ISO-8601 format.",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "description" : "Properties of an assessment."
      },
      "AssessmentResultList" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of assessments.",
            "items" : {
              "$ref" : "#/components/schemas/Assessment"
            }
          }
        },
        "description" : "List of assessments."
      },
      "CheckNameAvailabilityParameters" : {
        "required" : [ "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name to check for availability"
          },
          "type" : {
            "type" : "string",
            "description" : "The resource type. Must be set to Microsoft.Migrate/projects",
            "enum" : [ "Microsoft.Migrate/projects" ]
          }
        },
        "description" : "Parameters for a check name availability request."
      },
      "CheckNameAvailabilityResult" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "Gets an error message explaining the Reason value in more detail.",
            "readOnly" : true
          },
          "nameAvailable" : {
            "type" : "boolean",
            "description" : "Gets a boolean value that indicates whether the name is available for you to use. If true, the name is available. If false, the name has already been taken or invalid and cannot be used.",
            "readOnly" : true
          },
          "reason" : {
            "type" : "string",
            "description" : "Gets the reason that a project name could not be used. The Reason element is only returned if NameAvailable is false.",
            "readOnly" : true,
            "enum" : [ "Available", "Invalid", "AlreadyExists" ]
          }
        },
        "description" : "The CheckNameAvailability operation response."
      },
      "CloudError" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/CloudErrorBody"
          }
        },
        "description" : "An error response from the Azure Migrate service."
      },
      "CloudErrorBody" : {
[...]
