{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkWatchers" : {
      "get" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Gets all network watchers by subscription.",
        "operationId" : "NetworkWatchers_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of network watcher resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkWatcherListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers" : {
      "get" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Gets all network watchers by resource group.",
        "operationId" : "NetworkWatchers_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of network watcher resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkWatcherListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}" : {
      "get" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Gets the specified network watcher by resource group.",
        "operationId" : "NetworkWatchers_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a network watcher resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkWatcher"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Creates or updates a network watcher in the specified resource group.",
        "operationId" : "NetworkWatchers_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that define the network watcher resource.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NetworkWatcher"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting network watcher resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkWatcher"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting network watcher resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkWatcher"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Deletes the specified network watcher resource.",
        "operationId" : "NetworkWatchers_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Updates a network watcher tags.",
        "operationId" : "NetworkWatchers_UpdateTags",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update network watcher tags.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Resource tags."
                  }
                },
                "description" : "Tags object for patch operations."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting network watcher resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkWatcher"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/availableProvidersList" : {
      "post" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Lists all available internet service providers for a specified Azure region.",
        "operationId" : "NetworkWatchers_ListAvailableProviders",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the network watcher resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that scope the list of available providers.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AvailableProvidersListParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful request for list of available providers.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailableProvidersList"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailableProvidersList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/azureReachabilityReport" : {
      "post" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Gets the relative latency score for internet service providers from a specified location to Azure regions.",
        "operationId" : "NetworkWatchers_GetAzureReachabilityReport",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the network watcher resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that determine Azure reachability report configuration.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AzureReachabilityReportParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful request for Azure reachability report.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AzureReachabilityReport"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AzureReachabilityReport"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/configureFlowLog" : {
      "post" : {
        "tags" : [ "NetworkWatchers", "TrafficAnalytics" ],
        "description" : "Configures flow log and traffic analytics (optional) on a specified resource.",
        "operationId" : "NetworkWatchers_SetFlowLogConfiguration",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the network watcher resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that define the configuration of flow log.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FlowLogInformation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful request for setting flow log and traffic analytics (optional) configuration.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FlowLogInformation"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FlowLogInformation"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectivityCheck" : {
      "post" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Verifies the possibility of establishing a direct TCP connection from a virtual machine to a given endpoint including another VM or an arbitrary remote server.",
        "operationId" : "NetworkWatchers_CheckConnectivity",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the network watcher resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that determine how the connectivity check will be performed.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectivityParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful request for checking connectivity.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectivityInformation"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectivityInformation"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/ipFlowVerify" : {
      "post" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Verify IP flow from the specified VM to a location given the currently configured NSG rules.",
        "operationId" : "NetworkWatchers_VerifyIPFlow",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that define the IP flow to be verified.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VerificationIPFlowParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the result of IP flow verification.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerificationIPFlowResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerificationIPFlowResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/networkConfigurationDiagnostic" : {
      "post" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Gets Network Configuration Diagnostic data to help customers understand and debug network behavior. It provides detailed information on what security rules were applied to a specified traffic flow and the result of evaluating these rules. Customers must provide details of a flow like source, destination, protocol, etc. The API returns whether traffic was allowed or denied, the rules evaluated for the specified flow and the evaluation results.",
        "operationId" : "NetworkWatchers_GetNetworkConfigurationDiagnostic",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters to get network configuration diagnostic.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NetworkConfigurationDiagnosticParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the result of network configuration diagnostic.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkConfigurationDiagnosticResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkConfigurationDiagnosticResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/nextHop" : {
      "post" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Gets the next hop from the specified VM.",
        "operationId" : "NetworkWatchers_GetNextHop",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that define the source and destination endpoint.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NextHopParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the next hop from the VM.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NextHopResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NextHopResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures" : {
      "get" : {
        "tags" : [ "PacketCaptures" ],
        "description" : "Lists all packet capture sessions within the specified resource group.",
        "operationId" : "PacketCaptures_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the Network Watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful packet capture enumeration request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PacketCaptureListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}" : {
      "get" : {
        "tags" : [ "PacketCaptures" ],
        "description" : "Gets a packet capture session by name.",
        "operationId" : "PacketCaptures_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "packetCaptureName",
          "in" : "path",
          "description" : "The name of the packet capture session.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a packet capture session.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PacketCaptureResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "PacketCaptures" ],
        "description" : "Create and start a packet capture on the specified VM.",
        "operationId" : "PacketCaptures_Create",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "packetCaptureName",
          "in" : "path",
          "description" : "The name of the packet capture session.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that define the create packet capture operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PacketCapture"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Request successful. The operation returns the resulting packet capture session.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PacketCaptureResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "PacketCaptures" ],
        "description" : "Deletes the specified packet capture session.",
        "operationId" : "PacketCaptures_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "packetCaptureName",
          "in" : "path",
          "description" : "The name of the packet capture session.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/queryStatus" : {
      "post" : {
        "tags" : [ "PacketCaptures" ],
        "description" : "Query the status of a running packet capture session.",
        "operationId" : "PacketCaptures_GetStatus",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the Network Watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "packetCaptureName",
          "in" : "path",
          "description" : "The name given to the packet capture session.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful query of packet capture status.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PacketCaptureQueryStatusResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted query status of packet capture.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PacketCaptureQueryStatusResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/stop" : {
      "post" : {
        "tags" : [ "PacketCaptures" ],
        "description" : "Stops a specified packet capture session.",
        "operationId" : "PacketCaptures_Stop",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "packetCaptureName",
          "in" : "path",
          "description" : "The name of the packet capture session.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation stops the packet capture session."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryFlowLogStatus" : {
      "post" : {
        "tags" : [ "NetworkWatchers", "TrafficAnalytics" ],
        "description" : "Queries status of flow log and traffic analytics (optional) on a specified resource.",
        "operationId" : "NetworkWatchers_GetFlowLogStatus",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the network watcher resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that define a resource to query flow log and traffic analytics (optional) status.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FlowLogStatusParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful request for query flow log and traffic analytics (optional) status.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FlowLogInformation"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FlowLogInformation"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryTroubleshootResult" : {
      "post" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Get the last completed troubleshooting result on a specified resource.",
        "operationId" : "NetworkWatchers_GetTroubleshootingResult",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that define the resource to query the troubleshooting result.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QueryTroubleshootingParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful get troubleshooting result request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TroubleshootingResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted get troubleshooting result request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TroubleshootingResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/securityGroupView" : {
      "post" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Gets the configured and effective security group rules on the specified VM.",
        "operationId" : "NetworkWatchers_GetVMSecurityRules",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that define the VM to check security groups for.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SecurityGroupViewParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns security group rules on the VM.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecurityGroupViewResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecurityGroupViewResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/topology" : {
      "post" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Gets the current network topology by resource group.",
        "operationId" : "NetworkWatchers_GetTopology",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that define the representation of topology.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TopologyParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the topology of resource group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Topology"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/troubleshoot" : {
      "post" : {
        "tags" : [ "NetworkWatchers" ],
        "description" : "Initiate troubleshooting on a specified resource.",
        "operationId" : "NetworkWatchers_GetTroubleshooting",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "networkWatcherName",
          "in" : "path",
          "description" : "The name of the network watcher resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters that define the resource to troubleshoot.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TroubleshootingParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful troubleshooting request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TroubleshootingResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted get troubleshooting request.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TroubleshootingResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AvailableProvidersList" : {
        "required" : [ "countries" ],
        "type" : "object",
        "properties" : {
          "countries" : {
            "type" : "array",
            "description" : "List of available countries.",
            "items" : {
              "$ref" : "#/components/schemas/AvailableProvidersListCountry"
            }
          }
        },
        "description" : "List of available countries with details."
      },
      "AvailableProvidersListCity" : {
        "type" : "object",
        "properties" : {
          "cityName" : {
            "type" : "string",
            "description" : "The city or town name."
          },
          "providers" : {
            "type" : "array",
            "description" : "A list of Internet service providers.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "City or town details."
      },
      "AvailableProvidersListCountry" : {
        "type" : "object",
        "properties" : {
          "countryName" : {
            "type" : "string",
            "description" : "The country name."
          },
          "providers" : {
            "type" : "array",
            "description" : "A list of Internet service providers.",
            "items" : {
              "type" : "string"
            }
          },
          "states" : {
            "type" : "array",
            "description" : "List of available states in the country.",
            "items" : {
              "$ref" : "#/components/schemas/AvailableProvidersListState"
            }
          }
        },
        "description" : "Country details."
      },
      "AvailableProvidersListParameters" : {
        "type" : "object",
        "properties" : {
          "azureLocations" : {
            "type" : "array",
            "description" : "A list of Azure regions.",
            "items" : {
              "type" : "string"
            }
          },
          "city" : {
            "type" : "string",
            "description" : "The city or town for available providers list."
          },
          "country" : {
            "type" : "string",
            "description" : "The country for available providers list."
          },
          "state" : {
            "type" : "string",
            "description" : "The state for available providers list."
          }
        },
        "description" : "Constraints that determine the list of available Internet service providers."
      },
      "AvailableProvidersListState" : {
        "type" : "object",
        "properties" : {
          "cities" : {
            "type" : "array",
            "description" : "List of available cities or towns in the state.",
            "items" : {
              "$ref" : "#/components/schemas/AvailableProvidersListCity"
            }
          },
          "providers" : {
            "type" : "array",
            "description" : "A list of Internet service providers.",
            "items" : {
              "type" : "string"
            }
          },
          "stateName" : {
            "type" : "string",
            "description" : "The state name."
          }
        },
        "description" : "State details."
      },
      "AzureReachabilityReport" : {
        "required" : [ "aggregationLevel", "providerLocation", "reachabilityReport" ],
        "type" : "object",
        "properties" : {
          "aggregationLevel" : {
            "type" : "string",
            "description" : "The aggregation level of Azure reachability report. Can be Country, State or City."
          },
          "providerLocation" : {
            "$ref" : "#/components/schemas/AzureReachabilityReportLocation"
          },
          "reachabilityReport" : {
            "type" : "array",
            "description" : "List of Azure reachability report items.",
            "items" : {
              "$ref" : "#/components/schemas/AzureReachabilityReportItem"
            }
          }
        },
        "description" : "Azure reachability report details."
      },
      "AzureReachabilityReportItem" : {
        "type" : "object",
        "properties" : {
          "azureLocation" : {
            "type" : "string",
            "description" : "The Azure region."
          },
          "latencies" : {
            "type" : "array",
            "description" : "List of latency details for each of the time series.",
            "items" : {
              "$ref" : "#/components/schemas/AzureReachabilityReportLatencyInfo"
            }
          },
          "provider" : {
            "type" : "string",
            "description" : "The Internet service provider."
          }
        },
        "description" : "Azure reachability report details for a given provider location."
      },
      "AzureReachabilityReportLatencyInfo" : {
        "type" : "object",
        "properties" : {
          "score" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The relative latency score between 1 and 100, higher values indicating a faster connection."
          },
          "timeStamp" : {
            "type" : "string",
            "description" : "The time stamp.",
            "format" : "date-time"
          }
        },
        "description" : "Details on latency for a time series."
      },
      "AzureReachabilityReportLocation" : {
        "required" : [ "country" ],
        "type" : "object",
        "properties" : {
          "city" : {
            "type" : "string",
            "description" : "The name of the city or town."
          },
          "country" : {
            "type" : "string",
            "description" : "The name of the country."
          },
          "state" : {
            "type" : "string",
            "description" : "The name of the state."
          }
        },
        "description" : "Parameters that define a geographic location."
      },
      "AzureReachabilityReportParameters" : {
        "required" : [ "endTime", "providerLocation", "startTime" ],
        "type" : "object",
        "properties" : {
          "azureLocations" : {
            "type" : "array",
            "description" : "Optional Azure regions to scope the query to.",
            "items" : {
              "type" : "string"
            }
          },
          "endTime" : {
            "type" : "string",
            "description" : "The end time for the Azure reachability report.",
            "format" : "date-time"
          },
          "providerLocation" : {
            "$ref" : "#/components/schemas/AzureReachabilityReportLocation"
          },
          "providers" : {
            "type" : "array",
            "description" : "List of Internet service providers.",
            "items" : {
              "type" : "string"
            }
          },
          "startTime" : {
            "type" : "string",
            "description" : "The start time for the Azure reachability report.",
            "format" : "date-time"
          }
        },
        "description" : "Geographic and time constraints for Azure reachability report."
      },
      "ConnectivityDestination" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string",
            "description" : "The IP address or URI the resource to which a connection attempt will be made."
          },
          "port" : {
            "type" : "integer",
            "description" : "Port on which check connectivity will be performed."
          },
          "resourceId" : {
            "type" : "string",
            "description" : "The ID of the resource to which a connection attempt will be made."
          }
        },
        "description" : "Parameters that define destination of connection."
      },
      "ConnectivityHop" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string",
            "description" : "The IP address of the hop.",
            "readOnly" : true
          },
          "id" : {
            "type" : "string",
            "description" : "The ID of the hop.",
            "readOnly" : true
          },
          "issues" : {
            "type" : "array",
            "description" : "List of issues.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ConnectivityIssue"
            }
          },
          "nextHopIds" : {
            "type" : "array",
            "description" : "List of next hop identifiers.",
            "readOnly" : true,
            "items" : {
              "type" : "string"
            }
          },
          "resourceId" : {
            "type" : "string",
            "description" : "The ID of the resource corresponding to this hop.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the hop.",
            "readOnly" : true
          }
        },
        "description" : "Information about a hop between the source and the destination."
      },
      "ConnectivityInformation" : {
        "type" : "object",
        "properties" : {
          "avgLatencyInMs" : {
            "type" : "integer",
            "description" : "Average latency in milliseconds.",
            "readOnly" : true
          },
          "connectionStatus" : {
            "type" : "string",
            "description" : "The connection status.",
            "readOnly" : true,
            "enum" : [ "Unknown", "Connected", "Disconnected", "Degraded" ]
          },
          "hops" : {
            "type" : "array",
            "description" : "List of hops between the source and the destination.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ConnectivityHop"
            }
          },
          "maxLatencyInMs" : {
            "type" : "integer",
            "description" : "Maximum latency in milliseconds.",
            "readOnly" : true
          },
          "minLatencyInMs" : {
            "type" : "integer",
            "description" : "Minimum latency in milliseconds.",
            "readOnly" : true
          },
          "probesFailed" : {
            "type" : "integer",
            "description" : "Number of failed probes.",
            "readOnly" : true
          },
          "probesSent" : {
            "type" : "integer",
            "description" : "Total number of probes sent.",
            "readOnly" : true
          }
        },
        "description" : "Information on the connectivity status."
      },
      "ConnectivityIssue" : {
        "type" : "object",
        "properties" : {
          "context" : {
            "type" : "array",
            "description" : "Provides additional context on the issue.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/IssueContext"
            }
          },
          "origin" : {
            "type" : "string",
            "description" : "The origin of the issue.",
            "readOnly" : true,
            "enum" : [ "Local", "Inbound", "Outbound" ]
          },
          "severity" : {
            "type" : "string",
            "description" : "The severity of the issue.",
            "readOnly" : true,
            "enum" : [ "Error", "Warning" ]
          },
          "type" : {
            "type" : "string",
            "description" : "The type of issue.",
            "readOnly" : true,
            "enum" : [ "Unknown", "AgentStopped", "GuestFirewall", "DnsResolution", "SocketBind", "NetworkSecurityRule", "UserDefinedRoute", "PortThrottled", "Platform" ]
          }
        },
        "description" : "Information about an issue encountered in the process of checking for connectivity."
      },
      "ConnectivityParameters" : {
        "required" : [ "destination", "source" ],
        "type" : "object",
        "properties" : {
          "destination" : {
            "$ref" : "#/components/schemas/ConnectivityDestination"
          },
          "protocol" : {
            "type" : "string",
            "description" : "Network protocol.",
            "enum" : [ "Tcp", "Http", "Https", "Icmp" ]
          },
          "protocolConfiguration" : {
            "$ref" : "#/components/schemas/ProtocolConfiguration"
          },
          "source" : {
            "$ref" : "#/components/schemas/ConnectivitySource"
          }
        },
        "description" : "Parameters that determine how the connectivity check will be performed."
      },
      "ConnectivitySource" : {
        "required" : [ "resourceId" ],
        "type" : "object",
        "properties" : {
          "port" : {
            "type" : "integer",
            "description" : "The source port from which a connectivity check will be performed."
          },
          "resourceId" : {
            "type" : "string",
            "description" : "The ID of the resource from which a connectivity check will be initiated."
          }
        },
        "description" : "Parameters that define the source of the connection."
      },
      "Direction" : {
        "type" : "string",
        "description" : "The direction of the traffic.",
        "enum" : [ "Inbound", "Outbound" ]
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "type" : "object",
            "properties" : {
              "code" : {
                "type" : "string",
                "description" : "Error code."
              },
              "message" : {
                "type" : "string",
                "description" : "Error message."
              },
              "target" : {
                "type" : "string",
                "description" : "Error target."
              }
            },
            "description" : "Common error details representation."
          }
        },
        "description" : "The error object."
      },
      "EvaluatedNetworkSecurityGroup" : {
        "type" : "object",
        "properties" : {
          "appliedTo" : {
            "type" : "string",
            "description" : "Resource ID of nic or subnet to which network security group is applied."
          },
          "matchedRule" : {
            "$ref" : "#/components/schemas/MatchedRule"
          },
          "networkSecurityGroupId" : {
            "type" : "string",
            "description" : "Network security group ID."
          },
          "rulesEvaluationResult" : {
            "type" : "array",
            "description" : "List of network security rules evaluation results.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/NetworkSecurityRulesEvaluationResult"
            }
          }
        },
        "description" : "Results of network security group evaluation."
      },
      "FlowLogFormatParameters" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The file type of flow log.",
            "enum" : [ "JSON" ]
          },
          "version" : {
            "type" : "integer",
            "description" : "The version (revision) of the flow log."
          }
        },
        "description" : "Parameters that define the flow log format."
      },
      "FlowLogInformation" : {
        "required" : [ "properties", "targetResourceId" ],
        "type" : "object",
        "properties" : {
          "flowAnalyticsConfiguration" : {
            "$ref" : "#/components/schemas/TrafficAnalyticsProperties"
          },
          "properties" : {
            "$ref" : "#/components/schemas/FlowLogProperties"
          },
          "targetResourceId" : {
            "type" : "string",
            "description" : "The ID of the resource to configure for flow log and traffic analytics (optional) ."
          }
        },
        "description" : "Information on the configuration of flow log and traffic analytics (optional) ."
      },
      "FlowLogProperties" : {
        "required" : [ "enabled", "storageId" ],
        "type" : "object",
        "properties" : {
          "enabled" : {
            "type" : "boolean",
            "description" : "Flag to enable/disable flow logging."
          },
          "format" : {
            "$ref" : "#/components/schemas/FlowLogFormatParameters"
          },
          "retentionPolicy" : {
            "$ref" : "#/components/schemas/RetentionPolicyParameters"
          },
          "storageId" : {
            "type" : "string",
            "description" : "ID of the storage account which is used to store the flow log."
          }
        },
        "description" : "Parameters that define the configuration of flow log."
      },
      "FlowLogStatusParameters" : {
        "required" : [ "targetResourceId" ],
        "type" : "object",
        "properties" : {
          "targetResourceId" : {
            "type" : "string",
            "description" : "The target resource where getting the flow log and traffic analytics (optional) status."
          }
        },
        "description" : "Parameters that define a resource to query flow log and traffic analytics (optional) status."
      },
      "HTTPConfiguration" : {
        "type" : "object",
        "properties" : {
          "headers" : {
            "type" : "array",
            "description" : "List of HTTP headers.",
            "items" : {
              "$ref" : "#/components/schemas/HTTPHeader"
            }
          },
          "method" : {
            "type" : "string",
            "description" : "HTTP method.",
            "enum" : [ "Get" ]
          },
          "validStatusCodes" : {
            "type" : "array",
            "description" : "Valid status codes.",
            "items" : {
              "type" : "integer"
            }
          }
        },
        "description" : "HTTP configuration of the connectivity check."
      },
      "HTTPHeader" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name in HTTP header."
          },
          "value" : {
            "type" : "string",
            "description" : "The value in HTTP header."
          }
        },
        "description" : "Describes the HTTP header."
      },
      "IssueContext" : {
        "type" : "object",
        "additionalProperties" : {
          "type" : "string"
        },
        "description" : "A key-value pair that provides additional context on the issue."
      },
      "MatchedRule" : {
        "type" : "object",
        "properties" : {
          "action" : {
            "type" : "string",
            "description" : "The network traffic is allowed or denied. Possible values are 'Allow' and 'Deny'."
          },
          "ruleName" : {
            "type" : "string",
            "description" : "Name of the matched network security rule."
          }
        },
        "description" : "Matched rule."
      },
      "NetworkConfigurationDiagnosticParameters" : {
        "required" : [ "profiles", "targetResourceId" ],
        "type" : "object",
        "properties" : {
          "profiles" : {
            "type" : "array",
            "description" : "List of network configuration diagnostic profiles.",
            "items" : {
              "$ref" : "#/components/schemas/NetworkConfigurationDiagnosticProfile"
            }
          },
          "targetResourceId" : {
            "type" : "string",
            "description" : "The ID of the target resource to perform network configuration diagnostic. Valid options are VM, NetworkInterface, VMSS/NetworkInterface and Application Gateway."
          },
          "verbosityLevel" : {
            "type" : "string",
            "description" : "Verbosity level.",
            "enum" : [ "Normal", "Minimum", "Full" ]
          }
        },
        "description" : "Parameters to get network configuration diagnostic."
      },
      "NetworkConfigurationDiagnosticProfile" : {
        "required" : [ "destination", "destinationPort", "direction", "protocol", "source" ],
        "type" : "object",
        "properties" : {
          "destination" : {
            "type" : "string",
            "description" : "Traffic destination. Accepted values are: '*', IP Address/CIDR, Service Tag."
          },
          "destinationPort" : {
            "type" : "string",
            "description" : "Traffic destination port. Accepted values are '*', port (for example, 3389) and port range (for example, 80-100)."
          },
          "direction" : {
            "$ref" : "#/components/schemas/Direction"
          },
          "protocol" : {
            "type" : "string",
            "description" : "Protocol to be verified on. Accepted values are '*', TCP, UDP."
          },
          "source" : {
            "type" : "string",
            "description" : "Traffic source. Accepted values are '*', IP Address/CIDR, Service Tag."
          }
        },
        "description" : "Parameters to compare with network configuration."
      },
      "NetworkConfigurationDiagnosticResponse" : {
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "description" : "List of network configuration diagnostic results.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/NetworkConfigurationDiagnosticResult"
            }
          }
        },
        "description" : "Results of network configuration diagnostic on the target resource."
      },
      "NetworkConfigurationDiagnosticResult" : {
        "type" : "object",
        "properties" : {
          "networkSecurityGroupResult" : {
            "$ref" : "#/components/schemas/NetworkSecurityGroupResult"
          },
          "profile" : {
            "$ref" : "#/components/schemas/NetworkConfigurationDiagnosticProfile"
          }
        },
        "description" : "Network configuration diagnostic result corresponded to provided traffic query."
      },
      "NetworkInterfaceAssociation" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Network interface ID.",
            "readOnly" : true
          },
          "securityRules" : {
            "type" : "array",
            "description" : "Collection of custom security rules.",
            "items" : {
              "type" : "object",
              "properties" : {
                "etag" : {
                  "type" : "string",
                  "description" : "A unique read-only string that changes whenever the resource is updated."
                },
                "name" : {
                  "type" : "string",
                  "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
                },
                "properties" : {
                  "required" : [ "access", "direction", "protocol" ],
                  "type" : "object",
                  "properties" : {
                    "access" : {
                      "type" : "string",
                      "description" : "Whether network traffic is allowed or denied.",
                      "enum" : [ "Allow", "Deny" ]
                    },
                    "description" : {
                      "type" : "string",
                      "description" : "A description for this rule. Restricted to 140 chars."
                    },
                    "destinationAddressPrefix" : {
                      "type" : "string",
                      "description" : "The destination address prefix. CIDR or destination IP range. Asterisk '*' can also be used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used."
                    },
                    "destinationAddressPrefixes" : {
                      "type" : "array",
                      "description" : "The destination address prefixes. CIDR or destination IP ranges.",
                      "items" : {
                        "type" : "string"
                      }
                    },
                    "destinationApplicationSecurityGroups" : {
                      "type" : "array",
                      "description" : "The application security group specified as destination.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "etag" : {
                            "type" : "string",
                            "description" : "A unique read-only string that changes whenever the resource is updated.",
                            "readOnly" : true
                          },
                          "properties" : {
                            "type" : "object",
                            "properties" : {
                              "provisioningState" : {
                                "type" : "string",
                                "description" : "The current provisioning state.",
                                "readOnly" : true,
                                "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
                              },
                              "resourceGuid" : {
                                "type" : "string",
                                "description" : "The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Application security group properties."
                          }
                        },
                        "description" : "An application security group in a resource group."
                      }
                    },
                    "destinationPortRange" : {
                      "type" : "string",
                      "description" : "The destination port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports."
                    },
                    "destinationPortRanges" : {
                      "type" : "array",
                      "description" : "The destination port ranges.",
                      "items" : {
                        "type" : "string",
                        "description" : "The destination port."
                      }
                    },
                    "direction" : {
                      "type" : "string",
                      "description" : "The direction of the rule. The direction specifies if rule will be evaluated on incoming or outgoing traffic.",
                      "enum" : [ "Inbound", "Outbound" ]
                    },
                    "priority" : {
                      "type" : "integer",
                      "description" : "The priority of the rule. The value can be between 100 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.",
                      "format" : "int32"
                    },
                    "protocol" : {
                      "type" : "string",
                      "description" : "Network protocol this rule applies to.",
                      "enum" : [ "Tcp", "Udp", "Icmp", "Esp", "*" ]
                    },
                    "provisioningState" : {
                      "type" : "string",
                      "description" : "The current provisioning state.",
                      "readOnly" : true,
                      "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
                    },
                    "sourceAddressPrefix" : {
                      "type" : "string",
                      "description" : "The CIDR or source IP range. Asterisk '*' can also be used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used. If this is an ingress rule, specifies where network traffic originates from."
                    },
                    "sourceAddressPrefixes" : {
                      "type" : "array",
                      "description" : "The CIDR or source IP ranges.",
                      "items" : {
                        "type" : "string"
                      }
                    },
                    "sourceApplicationSecurityGroups" : {
                      "type" : "array",
                      "description" : "The application security group specified as source.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "etag" : {
                            "type" : "string",
                            "description" : "A unique read-only string that changes whenever the resource is updated.",
                            "readOnly" : true
                          },
                          "properties" : {
                            "type" : "object",
                            "properties" : {
                              "provisioningState" : {
                                "type" : "string",
                                "description" : "The current provisioning state.",
                                "readOnly" : true,
                                "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
                              },
                              "resourceGuid" : {
                                "type" : "string",
                                "description" : "The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Application security group properties."
                          }
                        },
                        "description" : "An application security group in a resource group."
                      }
                    },
                    "sourcePortRange" : {
                      "type" : "string",
                      "description" : "The source port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports."
                    },
                    "sourcePortRanges" : {
                      "type" : "array",
                      "description" : "The source port ranges.",
                      "items" : {
                        "type" : "string",
                        "description" : "The source port."
                      }
                    }
                  },
                  "description" : "Security rule resource."
                }
              },
              "description" : "Network security rule."
            }
          }
        },
        "description" : "Network interface and its custom security rules."
      },
      "NetworkSecurityGroupResult" : {
        "type" : "object",
        "properties" : {
          "evaluatedNetworkSecurityGroups" : {
            "type" : "array",
            "description" : "List of results network security groups diagnostic.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/EvaluatedNetworkSecurityGroup"
            }
          },
          "securityRuleAccessResult" : {
            "type" : "string",
            "description" : "Whether network traffic is allowed or denied.",
            "enum" : [ "Allow", "Deny" ]
          }
        },
        "description" : "Network configuration diagnostic result corresponded provided traffic query."
      },
      "NetworkSecurityRulesEvaluationResult" : {
        "type" : "object",
        "properties" : {
          "destinationMatched" : {
            "type" : "boolean",
            "description" : "Value indicating whether destination is matched."
          },
          "destinationPortMatched" : {
            "type" : "boolean",
            "description" : "Value indicating whether destination port is matched."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the network security rule."
          },
          "protocolMatched" : {
            "type" : "boolean",
            "description" : "Value indicating whether protocol is matched."
          },
          "sourceMatched" : {
            "type" : "boolean",
            "description" : "Value indicating whether source is matched."
          },
          "sourcePortMatched" : {
            "type" : "boolean",
            "description" : "Value indicating whether source port is matched."
          }
        },
        "description" : "Network security rules evaluation result."
      },
      "NetworkWatcher" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated."
          },
          "properties" : {
            "$ref" : "#/components/schemas/NetworkWatcherPropertiesFormat"
          }
        },
        "description" : "Network watcher in a resource group.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "NetworkWatcherListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of network watcher resources.",
            "items" : {
              "$ref" : "#/components/schemas/NetworkWatcher"
            }
          }
        },
        "description" : "Response for ListNetworkWatchers API service call."
      },
      "NetworkWatcherPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          }
        },
        "description" : "The network watcher properties."
      },
      "NextHopParameters" : {
        "required" : [ "destinationIPAddress", "sourceIPAddress", "targetResourceId" ],
        "type" : "object",
        "properties" : {
          "destinationIPAddress" : {
            "type" : "string",
            "description" : "The destination IP address."
          },
          "sourceIPAddress" : {
            "type" : "string",
            "description" : "The source IP address."
          },
          "targetNicResourceId" : {
            "type" : "string",
            "description" : "The NIC ID. (If VM has multiple NICs and IP forwarding is enabled on any of the nics, then this parameter must be specified. Otherwise optional)."
          },
          "targetResourceId" : {
            "type" : "string",
            "description" : "The resource identifier of the target resource against which the action is to be performed."
          }
        },
        "description" : "Parameters that define the source and destination endpoint."
      },
      "NextHopResult" : {
        "type" : "object",
        "properties" : {
          "nextHopIpAddress" : {
            "type" : "string",
            "description" : "Next hop IP Address."
          },
          "nextHopType" : {
            "type" : "string",
            "description" : "Next hop type.",
            "enum" : [ "Internet", "VirtualAppliance", "VirtualNetworkGateway", "VnetLocal", "HyperNetGateway", "None" ]
          },
          "routeTableId" : {
            "type" : "string",
            "description" : "The resource identifier for the route table associated with the route being returned. If the route being returned does not correspond to any user created routes then this field will be the string 'System Route'."
          }
        },
        "description" : "The information about next hop from the specified VM."
      },
      "PacketCapture" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/PacketCaptureParameters"
          }
        },
        "description" : "Parameters that define the create packet capture operation."
      },
      "PacketCaptureFilter" : {
        "type" : "object",
        "properties" : {
          "localIPAddress" : {
            "type" : "string",
            "description" : "Local IP Address to be filtered on. Notation: \"127.0.0.1\" for single address entry. \"127.0.0.1-127.0.0.255\" for range. \"127.0.0.1;127.0.0.5\"? for multiple entries. Multiple ranges not currently supported. Mixing ranges with multiple entries not currently supported. Default = null."
          },
          "localPort" : {
[...]
