{"openapi":"3.0.1","info":{"title":"Avaza API Documentation","description":"Welcome to the autogenerated documentation & test tool for Avaza's API. <br/><br/><strong>API Security & Authentication</strong><br/>Authentication options include OAuth2 Implicit and Authorization Code flows, and Personal Access Token. All connections should be encrypted over SSL/TLS <br/><br/>You can set up and manage your api authentication credentials from within your Avaza account. (requires Administrator permissions on your Avaza account).<br/><br/> OAuth2 Authorization endpoint: https://any.avaza.com/oauth2/authorize  <br/>OAuth2 Token endpoint: https://any.avaza.com/oauth2/token<br/>Base URL for subsequent API Requests: https://api.avaza.com/ <br/><br/>Blogpost about authenticating with Avaza's API:  https://www.avaza.com/avaza-api-oauth2-authentication/ <br/>Blogpost on using Avaza's webhooks: https://www.avaza.com/avaza-api-webhook-notifications/<br/>The OAuth flow currently issues Access Tokens that last 1 day, and Refresh tokens that last 180 days<br/>The Api respects the security Roles assigned to the authenticating Avaza user and filters the data return appropriately. <br/><br><strong>Support</strong><br/>For API Support, and to request access please contact Avaza Support Team via our support chat. <br/><br/><strong>User Contributed Libraries:</strong><br/>Graciously contributed by 3rd party users like you. <br/>Note these are not tested or endorsesd by Avaza. We encourage you to review before use, and use at own risk.<br/> <ul><li> - <a target='blank' href='https://packagist.org/packages/debiprasad/oauth2-avaza'>PHP OAuth Client Package for Azava API (by Debiprasad Sahoo)</a></li></ul>","version":"v1"},"servers":[{"url":"https://api.avaza.com/"}],"paths":{"/ScheduleSeries/AddBooking":{"post":{"tags":["ScheduleSeries"],"summary":"Create new Schedule Booking","operationId":"ScheduleSeries_AddBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBooking"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateBooking"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CreateBooking"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CreateBooking"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CreateBooking"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}}}}},"security":[{"oauth2":["write_schedule"]}]}},"/ScheduleSeries/AddLeave":{"post":{"tags":["ScheduleSeries"],"summary":"Create new Leave Booking","operationId":"ScheduleSeries_AddLeave","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLeave"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateLeave"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CreateLeave"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CreateLeave"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CreateLeave"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}}}}},"security":[{"oauth2":["write_schedule"]}]}},"/ScheduleSeries/EditBooking":{"put":{"tags":["ScheduleSeries"],"summary":"Edit Booking","operationId":"ScheduleSeries_EditBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditBooking"}},"text/json":{"schema":{"$ref":"#/components/schemas/EditBooking"}},"application/xml":{"schema":{"$ref":"#/components/schemas/EditBooking"}},"text/xml":{"schema":{"$ref":"#/components/schemas/EditBooking"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/EditBooking"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}}}}},"security":[{"oauth2":["write_schedule"]}]}},"/ScheduleSeries/EditLeave":{"put":{"tags":["ScheduleSeries"],"summary":"Edit Leave Booking","operationId":"ScheduleSeries_EditLeave","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditLeave"}},"text/json":{"schema":{"$ref":"#/components/schemas/EditLeave"}},"application/xml":{"schema":{"$ref":"#/components/schemas/EditLeave"}},"text/xml":{"schema":{"$ref":"#/components/schemas/EditLeave"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/EditLeave"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesDetails"}}}}},"security":[{"oauth2":["write_schedule"]}]}},"/api/Account":{"get":{"tags":["Account"],"summary":"Account Details","operationId":"Account_Get","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/AccountDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AccountDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/AccountDetails"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_account"]}]}},"/api/Bill":{"get":{"tags":["Bill"],"summary":"Gets list of Bills","description":"TransactionStatusCode values are: \"Draft\", \"Verified\", \"Late\", \"Paid\", \"Partial\", \"Void\"","operationId":"Bill_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"Sort","in":"query","schema":{"type":"string"}},{"name":"CompanyIDFK","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillList"}},"text/json":{"schema":{"$ref":"#/components/schemas/BillList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BillList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/BillList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_financials"]}]},"post":{"tags":["Bill"],"summary":"Create a new draft Bill","operationId":"Bill_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewBill"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewBill"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewBill"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewBill"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewBill"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bill"}},"text/json":{"schema":{"$ref":"#/components/schemas/Bill"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Bill"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Bill"}}}}},"security":[{"oauth2":["write_financials"]}]}},"/api/Bill/{id}":{"get":{"tags":["Bill"],"summary":"Gets a Bill by Bill ID","operationId":"Bill_GetByID","parameters":[{"name":"id","in":"path","description":"Bill Transaction ID number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_financials"]}]}},"/api/BillPayment":{"get":{"tags":["BillPayment"],"summary":"Gets list of Bill Payments","operationId":"BillPayment_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillPaymentList"}},"text/json":{"schema":{"$ref":"#/components/schemas/BillPaymentList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BillPaymentList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/BillPaymentList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_financials"]}]},"post":{"tags":["BillPayment"],"summary":"Create new Bill Payment and optionally assign payment allocations to Bills","operationId":"BillPayment_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewBillPayment"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewBillPayment"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewBillPayment"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewBillPayment"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewBillPayment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillPayment"}},"text/json":{"schema":{"$ref":"#/components/schemas/BillPayment"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BillPayment"}},"text/xml":{"schema":{"$ref":"#/components/schemas/BillPayment"}}}}},"security":[{"oauth2":["write_financials"]}]}},"/api/BillPayment/{id}":{"get":{"tags":["BillPayment"],"summary":"Gets a Bill Payment by Payment Transaction ID","operationId":"BillPayment_GetByID","parameters":[{"name":"id","in":"path","description":"Invoice Transaction ID Number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillPayment"}},"text/json":{"schema":{"$ref":"#/components/schemas/BillPayment"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BillPayment"}},"text/xml":{"schema":{"$ref":"#/components/schemas/BillPayment"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_financials"]}]}},"/api/Company":{"get":{"tags":["Company"],"summary":"Gets list of Companies","operationId":"Company_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Number of results per page","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"1 based page number to retrieve","schema":{"type":"integer","format":"int32"}},{"name":"Sort","in":"query","description":"(optional) Supply one of: \"DateUpdated\", \"DateCreated\", \"CompanyName\",\"DateUpdated desc\",\"DateCreated desc\", \"CompanyName desc\"","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyList"}},"text/json":{"schema":{"$ref":"#/components/schemas/CompanyList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CompanyList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CompanyList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_contacts"]}]},"put":{"tags":["Company"],"summary":"Update a Company record.","description":"Requires CompanyID and a list of field names to update. The FieldsToUpdate field accepts a string array containing field names that should be updated.","operationId":"Company_Put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCompany"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateCompany"}},"application/xml":{"schema":{"$ref":"#/components/schemas/UpdateCompany"}},"text/xml":{"schema":{"$ref":"#/components/schemas/UpdateCompany"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/UpdateCompany"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}},"text/json":{"schema":{"$ref":"#/components/schemas/Company"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Company"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Company"}}}}},"security":[{"oauth2":["write_contacts"]}]},"post":{"tags":["Company"],"summary":"Create a Company","operationId":"Company_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewCompany"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewCompany"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewCompany"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewCompany"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewCompany"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}},"text/json":{"schema":{"$ref":"#/components/schemas/Company"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Company"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Company"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["write_contacts"]}]}},"/api/Company/Lookup":{"get":{"tags":["Company"],"summary":"Gets minimal list of Companies.","description":"Certain roles see a restricted set of companies based on their project memberships","operationId":"CompanyLookup","parameters":[{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"search","in":"query","description":"Search string to match against Company title","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyDropdownList"}},"text/json":{"schema":{"$ref":"#/components/schemas/CompanyDropdownList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CompanyDropdownList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CompanyDropdownList"}}}}},"security":[{"oauth2":["read_contacts"]}]}},"/api/Company/{id}":{"get":{"tags":["Company"],"summary":"Gets Company by Company ID","operationId":"Company_GetByID","parameters":[{"name":"id","in":"path","description":"Company ID Number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}},"text/json":{"schema":{"$ref":"#/components/schemas/Company"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Company"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Company"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_contacts"]}]}},"/api/Contact":{"get":{"tags":["Contact"],"summary":"Gets list of Contacts","operationId":"Contact_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"Sort","in":"query","schema":{"type":"string"}},{"name":"CompanyIDFK","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ContactList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ContactList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ContactList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_contacts"]}]},"post":{"tags":["Contact"],"summary":"Create a Contact","operationId":"Contact_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewCompanyContact"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewCompanyContact"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewCompanyContact"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewCompanyContact"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewCompanyContact"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyContact"}},"text/json":{"schema":{"$ref":"#/components/schemas/CompanyContact"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CompanyContact"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CompanyContact"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["write_contacts"]}]}},"/api/Contact/{id}":{"get":{"tags":["Contact"],"summary":"Gets Contact by Contact ID","operationId":"Contact_GetByID","parameters":[{"name":"id","in":"path","description":"Contact ID number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyContact"}},"text/json":{"schema":{"$ref":"#/components/schemas/CompanyContact"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CompanyContact"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CompanyContact"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_contacts"]}]}},"/api/CreditNote":{"get":{"tags":["CreditNote"],"summary":"Gets list of CreditNotes","operationId":"CreditNote_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditNoteList"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreditNoteList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CreditNoteList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CreditNoteList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_financials"]}]}},"/api/CreditNote/{id}":{"get":{"tags":["CreditNote"],"summary":"Gets Credit Note by CreditNoteID","operationId":"CreditNote_GetByID","parameters":[{"name":"id","in":"path","description":"Credit Note ID Number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditNote"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreditNote"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CreditNote"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CreditNote"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_financials"]}]}},"/api/Currency":{"get":{"tags":["Currency"],"summary":"Gets list of Currencies","operationId":"Currency_Get","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyList"}},"text/json":{"schema":{"$ref":"#/components/schemas/CurrencyList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CurrencyList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CurrencyList"}}}}}}},"/api/Estimate":{"get":{"tags":["Estimate"],"summary":"Gets list of Estimates","description":"EstimateStatusCode values are: \"Draft\", \"Sent\", \"Accepted\", \"Converted\", \"Expired\", \"Rejected\"","operationId":"Estimate_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"Sort","in":"query","schema":{"type":"string"}},{"name":"CompanyIDFK","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstimateList"}},"text/json":{"schema":{"$ref":"#/components/schemas/EstimateList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/EstimateList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/EstimateList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_financials"]}]},"post":{"tags":["Estimate"],"summary":"Create a new draft Estimate","operationId":"Estimate_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewEstimate"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewEstimate"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewEstimate"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewEstimate"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewEstimate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstimateDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/EstimateDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/EstimateDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/EstimateDetails"}}}}},"security":[{"oauth2":["write_financials"]}]}},"/api/Estimate/{id}":{"get":{"tags":["Estimate"],"summary":"Gets Estimate by Estimate ID","operationId":"Estimate_GetByID","parameters":[{"name":"id","in":"path","description":"Estimate Estimate ID number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_financials"]}]}},"/api/Expense":{"get":{"tags":["Expense"],"summary":"Gets list of Expenses","operationId":"Expense_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"ExpenseDateFrom","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"ExpenseDateTo","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"UserEmail","in":"query","schema":{"type":"string"}},{"name":"UserID","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"CategoryName","in":"query","schema":{"type":"string"}},{"name":"CustomerID","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"ProjectID","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"isChargeable","in":"query","schema":{"type":"boolean"}},{"name":"isInvoiced","in":"query","schema":{"type":"boolean"}},{"name":"ExpenseReimbursementIDFK","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"ExpensePaymentMethodIDFK","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"ExpenseApprovalStatusCode","in":"query","schema":{"type":"string"}},{"name":"Search","in":"query","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"Sort","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExpenseList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpenseList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExpenseList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_expenses"]}]},"put":{"tags":["Expense"],"summary":"Update an Expense","description":"Update an Expense","operationId":"Expense_Put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateExpense"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateExpense"}},"application/xml":{"schema":{"$ref":"#/components/schemas/UpdateExpense"}},"text/xml":{"schema":{"$ref":"#/components/schemas/UpdateExpense"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/UpdateExpense"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}}}}},"security":[{"oauth2":["write_expenses"]}]},"post":{"tags":["Expense"],"summary":"Create an Expense","description":"Create an Expense","operationId":"Expense_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewExpense"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewExpense"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewExpense"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewExpense"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewExpense"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}}}}},"security":[{"oauth2":["write_expenses"]}]},"delete":{"tags":["Expense"],"summary":"Delete a Timesheet Entry","operationId":"Expense_Delete","requestBody":{"description":"A collection of ExpenseIDs to delete","content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"text/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"application/xml":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"text/xml":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"application/x-www-form-urlencoded":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseDeleteResultSet"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExpenseDeleteResultSet"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpenseDeleteResultSet"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExpenseDeleteResultSet"}}}}},"security":[{"oauth2":["write_expenses"]}]}},"/api/Expense/Attachment":{"post":{"tags":["Expense"],"operationId":"ExpenseAttachment","requestBody":{"content":{"application/form-data":{"schema":{"required":["File"],"type":"object","properties":{"File":{"type":"string","description":"Upload software package","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseAttachmentUploadResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExpenseAttachmentUploadResult"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpenseAttachmentUploadResult"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExpenseAttachmentUploadResult"}}}}},"security":[{"oauth2":["write_expenses"]}]}},"/api/Expense/{id}":{"get":{"tags":["Expense"],"summary":"Gets an Expense Entry by Expense ID","operationId":"Expense_GetByID","parameters":[{"name":"id","in":"path","description":"Expense ID number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExpenseDetails"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_expenses"]}]}},"/api/ExpenseApproval/Submit":{"post":{"tags":["Expense"],"summary":"Submit Expenses for Approval.","operationId":"ExpenseApproval","parameters":[{"name":"UserID","in":"query","description":"The user to submit the Expenses for. Defaults to current user. Only allowed to be different from the current user when the current user has rights to Impersonate other users.","schema":{"type":"integer","format":"int32"}},{"name":"SendNotifications","in":"query","description":"Send email alerts to expense approvers. Defaults to true","schema":{"type":"boolean"}}],"requestBody":{"description":"A collection of ExpenseID's that should be submitted for approval. If not provided, submits all verified expenses for approval.","content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"text/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"application/xml":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"text/xml":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"application/x-www-form-urlencoded":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}}}}},"security":[{"oauth2":["write_expenses"]}]}},"/api/ExpenseCategory":{"get":{"tags":["ExpenseCategory"],"summary":"Gets list of Expense Categories","description":"The default sort order is by Name asc","operationId":"ExpenseCategory_Get","parameters":[{"name":"isEnabled","in":"query","description":"Optional filter on for enabled/disabled categories. Defaults to true.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseCategoryList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExpenseCategoryList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpenseCategoryList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExpenseCategoryList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_expenses"]}]}},"/api/ExpenseGroup/Lookup":{"get":{"tags":["ExpenseGroup"],"summary":"Gets minimal list of Expense Groups.","description":"Expense Groups are for adhoc grouping of reported expenses. e.g. for expenses incurred on a Trip","operationId":"ExpenseGroupLookup","parameters":[{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"search","in":"query","description":"Search string to match against Expense Group Name","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseGroupDropdownList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExpenseGroupDropdownList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpenseGroupDropdownList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExpenseGroupDropdownList"}}}}},"security":[{"oauth2":["read_expenses"]}]}},"/api/ExpenseMerchant/Lookup":{"get":{"tags":["ExpenseMerchant"],"summary":"Gets minimal list of Expense Merchants.","operationId":"ExpenseMerchangeLookup","parameters":[{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"search","in":"query","description":"Search string to match against Expense Group Name","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseMerchantDropdownList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExpenseMerchantDropdownList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpenseMerchantDropdownList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExpenseMerchantDropdownList"}}}}},"security":[{"oauth2":["read_expenses"]}]}},"/api/ExpensePaymentMethod/Lookup":{"get":{"tags":["ExpensePaymentMethod"],"summary":"Gets minimal list of Expense Payment Methods.","operationId":"ExpensePaymentMethodLookup","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpensePaymentMethodDropdownList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExpensePaymentMethodDropdownList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpensePaymentMethodDropdownList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExpensePaymentMethodDropdownList"}}}}},"security":[{"oauth2":["read_expenses"]}]}},"/api/ExpenseSummary":{"get":{"tags":["ExpenseSummary"],"summary":"Gets Basic Summary of Expense Statistics","operationId":"ExpenseSummary_Get","parameters":[{"name":"model.groupBy","in":"query","description":"(Optional) Combine one, two or three levels of Grouping. Combine these possible grouping values: \"Category\", \"ChargeableStatus\", \"Merchant\", \"ApprovalStatus\", \"ReimbursementStatus\", \"Customer\", \"Project\", \"User\", \"Task\", \"Year\", \"Month\", \"Day\", \"Week\".","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"model.expenseDateFrom","in":"query","description":"(Required) Filter for expenses with expense dates greater or equal to the specified date. e.g. 2019-01-25.","schema":{"type":"string","format":"date-time"}},{"name":"model.expenseDateTo","in":"query","description":"(Required) Filter for expenses with an expense date smaller or equal to the specified  date. e.g. 2019-01-25.","schema":{"type":"string","format":"date-time"}},{"name":"model.userID","in":"query","description":"(Optional) Defaults to the current user. Provide one or more UserIDs of Users whose expenses should be retrieved. If the current user doesn't have impersonation rights, then they will only see their own data.","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"model.projectID","in":"query","description":"(Optional) Filter by Project","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseSummaryResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExpenseSummaryResult"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ExpenseSummaryResult"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ExpenseSummaryResult"}}}}},"security":[{"oauth2":["read_expenses"]}]}},"/api/FixedAmount":{"get":{"tags":["FixedAmount"],"summary":"Gets list of Fixed Amounts","operationId":"FixedAmount_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"EntryDateFrom","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"EntryDateTo","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"ProjectID","in":"query","description":"(Optional) The ProjectID of a Project to filter Fixed Amounts for","schema":{"type":"integer","format":"int32"}},{"name":"TaskID","in":"query","description":"(Optional) The TaskID of a Task to filter Fixed Amounts for","schema":{"type":"integer","format":"int32"}},{"name":"isInvoiced","in":"query","schema":{"type":"boolean"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"Sort","in":"query","description":"Optional sorting instruction. Currently possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\",\"EntryDate\", \"EntryDate desc\", \"StartTimeLocal\",\"StartTimeLocal desc\", \"TimeSheetEntryID\", \"TimeSheetEntryID desc\"","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FixedAmountList"}},"text/json":{"schema":{"$ref":"#/components/schemas/FixedAmountList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/FixedAmountList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/FixedAmountList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_financials"]}]}},"/api/Inventory":{"get":{"tags":["Inventory"],"summary":"Gets list of Inventory","operationId":"Inventory_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryList"}},"text/json":{"schema":{"$ref":"#/components/schemas/InventoryList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/InventoryList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/InventoryList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_financials"]}]}},"/api/Inventory/{id}":{"get":{"tags":["Inventory"],"summary":"Gets InventoryItem by InventoryItem ID","operationId":"Inventory_GetByID","parameters":[{"name":"id","in":"path","description":"InventoryItem ID number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_financials"]}]}},"/api/Invoice":{"get":{"tags":["Invoice"],"summary":"Gets list of Invoices","description":"TransactionStatusCode values are: \"Draft\", \"Sent\", \"Late\", \"Paid\", \"Partial\", \"Void\"","operationId":"Invoice_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"Sort","in":"query","schema":{"type":"string"}},{"name":"CompanyIDFK","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceList"}},"text/json":{"schema":{"$ref":"#/components/schemas/InvoiceList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/InvoiceList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/InvoiceList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_financials"]}]},"post":{"tags":["Invoice"],"summary":"Create a new draft invoice","operationId":"Invoice_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewInvoice"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewInvoice"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewInvoice"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewInvoice"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewInvoice"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invoice"}},"text/json":{"schema":{"$ref":"#/components/schemas/Invoice"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Invoice"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Invoice"}}}}},"security":[{"oauth2":["write_financials"]}]}},"/api/Invoice/{id}":{"get":{"tags":["Invoice"],"summary":"Gets Invoice by Invoice ID","operationId":"Invoice_GetByID","parameters":[{"name":"id","in":"path","description":"Invoice Transaction ID number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_financials"]}]}},"/api/Payment":{"get":{"tags":["Payment"],"summary":"Gets list of Payments","operationId":"Payment_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentList"}},"text/json":{"schema":{"$ref":"#/components/schemas/PaymentList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PaymentList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PaymentList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_financials"]}]},"post":{"tags":["Payment"],"summary":"Create new Payment and optionally assign payment allocations to Invoices","operationId":"Payment_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewPayment"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewPayment"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewPayment"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewPayment"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewPayment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Payment"}},"text/json":{"schema":{"$ref":"#/components/schemas/Payment"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Payment"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Payment"}}}}},"security":[{"oauth2":["write_financials"]}]}},"/api/Payment/{id}":{"get":{"tags":["Payment"],"summary":"Gets Payment by Payment Transaction ID","operationId":"Payment_GetByID","parameters":[{"name":"id","in":"path","description":"Invoice Transaction ID Number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Payment"}},"text/json":{"schema":{"$ref":"#/components/schemas/Payment"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Payment"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Payment"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_financials"]}]}},"/api/Project":{"get":{"tags":["Project"],"summary":"Gets list of Projects","operationId":"Project_Get","parameters":[{"name":"UpdatedAfter","in":"query","description":"Only show project records updated after a certain date (UTC)","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"Sort","in":"query","description":"A column to sort on. Current possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\"","schema":{"type":"string"}},{"name":"TimesheetUserID","in":"query","description":"Filter to the projects that the supplied UserID can add timesheets to","schema":{"type":"integer","format":"int32"}},{"name":"includeArchived","in":"query","description":"Include Archived Projects in the results","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProjectList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ProjectList"}}}}},"security":[{"oauth2":["read_projects"]}]},"put":{"tags":["Project"],"summary":"Update an Project","description":"Update a Project","operationId":"Project_Put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/UpdateProjectModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/UpdateProjectModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/UpdateProjectModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}}}}},"security":[{"oauth2":["write_projects"]}]},"post":{"tags":["Project"],"summary":"Create a Project","operationId":"Project_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewProjectModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewProjectModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewProjectModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewProjectModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewProjectModel"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["write_projects"]}]}},"/api/Project/Lookup":{"get":{"tags":["Project"],"summary":"Gets minimal list of active Projects for the current user","operationId":"ProjectLookup","parameters":[{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"TimesheetUserID","in":"query","description":"Optionally Filter to the projects that the supplied UserID can add timesheets to","schema":{"type":"integer","format":"int32"}},{"name":"CompanyIDFK","in":"query","description":"Optionally Filter for a specific Company ID","schema":{"type":"integer","format":"int32"}},{"name":"search","in":"query","description":"Search string to match against Project title and Customer name","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDropdownList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProjectDropdownList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectDropdownList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ProjectDropdownList"}}}}},"security":[{"oauth2":["read_projects"]}]}},"/api/Project/{id}":{"get":{"tags":["Project"],"summary":"Gets Project by Project ID","operationId":"Project_GetByID","parameters":[{"name":"id","in":"path","description":"Project ID number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_projects"]}]}},"/api/ProjectMember":{"get":{"tags":["ProjectMember"],"summary":"Gets list of Project Members","description":"Include at least one of ProjectID or UserID parameters.","operationId":"ProjectMember_Get","parameters":[{"name":"ProjectID","in":"query","description":"Get Project members filtered by ProjectID","schema":{"type":"integer","format":"int32"}},{"name":"UserID","in":"query","description":"Get Project members filtered by UserID","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectMemberList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProjectMemberList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectMemberList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ProjectMemberList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_projects"]}]},"put":{"tags":["ProjectMember"],"summary":"Update a Member of a Project","description":"Fields are only updated if their field name is in the FieldsToUpdate string collection. The Amount columns for Cost, Budget, Rates if specified should be a decimal. Financial amounts assume the currency of the parent Company. Budget units depend on the Budget method set on the Project.","operationId":"ProjectMember_Put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectMember"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectMember"}},"application/xml":{"schema":{"$ref":"#/components/schemas/UpdateProjectMember"}},"text/xml":{"schema":{"$ref":"#/components/schemas/UpdateProjectMember"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/UpdateProjectMember"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectMemberDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProjectMemberDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectMemberDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ProjectMemberDetails"}}}}},"security":[{"oauth2":["write_projects"]}]},"post":{"tags":["ProjectMember"],"summary":"Assign a user as a Member of a Project","description":"the Amount columns for Cost, Budget, Rates should be specified as a decimal. Financial amounts assume the currency of the Customer company. Budget units depend on the Budget method set on the Project.","operationId":"ProjectMember_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewProjectMember"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewProjectMember"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewProjectMember"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewProjectMember"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewProjectMember"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectMemberDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProjectMemberDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectMemberDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ProjectMemberDetails"}}}}},"security":[{"oauth2":["write_projects"]}]}},"/api/ProjectTimesheetCategory":{"get":{"tags":["ProjectTimesheetCategory"],"summary":"Gets list of Project Timesheet Categories","description":"The default sort order is by isBillable desc, Name asc","operationId":"ProjectTimesheetCategory_Get","parameters":[{"name":"ProjectID","in":"query","description":"Get categories filtered by ProjectID","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectTimesheetCategoryList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProjectTimesheetCategoryList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectTimesheetCategoryList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ProjectTimesheetCategoryList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_timesheets"]}]},"post":{"tags":["ProjectTimesheetCategory"],"summary":"Assign a TimeSheetCategory to a Project.","operationId":"ProjectTimesheetCategory_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignProjectTimesheetCategory"}},"text/json":{"schema":{"$ref":"#/components/schemas/AssignProjectTimesheetCategory"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AssignProjectTimesheetCategory"}},"text/xml":{"schema":{"$ref":"#/components/schemas/AssignProjectTimesheetCategory"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/AssignProjectTimesheetCategory"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectTimesheetCategoryDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProjectTimesheetCategoryDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectTimesheetCategoryDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ProjectTimesheetCategoryDetails"}}}}},"security":[{"oauth2":["write_projects"]}]}},"/api/ScheduleAssignment":{"get":{"tags":["ScheduleAssignment"],"summary":"Gets list of Schedule Assignments.","description":"Schedule assignments are per-day, and link to a parent Schedule Series.","operationId":"ScheduleAssignment_Get","parameters":[{"name":"UpdatedAfter","in":"query","description":"Limit results to records updated after the specified date","schema":{"type":"string","format":"date-time"}},{"name":"ScheduleDateFrom","in":"query","description":"Filter for schedule assignement  that are  on or after a specific date","schema":{"type":"string","format":"date-time"}},{"name":"ScheduleDateTo","in":"query","description":"Filter for schedules that are on or before a specific date","schema":{"type":"string","format":"date-time"}},{"name":"ScheduleSeriesID","in":"query","description":"Filter to records for a particular Schedule Series","schema":{"type":"integer","format":"int64"}},{"name":"UserID","in":"query","description":"The UserID of a schedule user to filter assignments for. Only api users with Admin role can see all schedules across all users. Users with ScheduleUser role can access their own ScheduleSeries.","schema":{"type":"integer","format":"int32"}},{"name":"UserEmail","in":"query","description":"The email of the user who has been scheduled","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"Sort","in":"query","description":"Optional sorting instruction. Currently possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\"","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleAssignmentList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ScheduleAssignmentList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ScheduleAssignmentList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ScheduleAssignmentList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_schedule"]}]}},"/api/ScheduleSeries":{"get":{"tags":["ScheduleSeries"],"summary":"Gets list of Schedule Series","description":"Schedule Series represents a strip of time assigned to a user over a date range, for a certain number of hours per day. They can be for Leave or for project work Bookings.","operationId":"ScheduleSeries_Get","parameters":[{"name":"UpdatedAfter","in":"query","description":"Limit results to records updated after the specified date","schema":{"type":"string","format":"date-time"}},{"name":"ScheduleStartDateFrom","in":"query","description":"Filter for schedules that start on or after a specific date","schema":{"type":"string","format":"date-time"}},{"name":"ScheduleStartDateTo","in":"query","description":"Filter for schedules that start on or before a specific date","schema":{"type":"string","format":"date-time"}},{"name":"ScheduleEndDateFrom","in":"query","description":"Filter for schedules that end on or after a specific date","schema":{"type":"string","format":"date-time"}},{"name":"ScheduleEndDateTo","in":"query","description":"Filter for schedules that end on or before a specific date","schema":{"type":"string","format":"date-time"}},{"name":"UserID","in":"query","description":"The UserID of a schedule user to filter assignments for. Only api users with Admin role can see all schedules across all users. Users with ScheduleUser role can access their own ScheduleSeries.","schema":{"type":"integer","format":"int32"}},{"name":"UserEmail","in":"query","description":"The email of the user who has been scheduled","schema":{"type":"string"}},{"name":"TimeSheetCategoryID","in":"query","description":"Filter for schedule records linked to a specific timesheeet category","schema":{"type":"integer","format":"int32"}},{"name":"TimeSheetCategoryName","in":"query","description":"Filter for schedule records with a specific timesheeet category name (exact string match)","schema":{"type":"string"}},{"name":"LeaveTypeID","in":"query","description":"Filter to records of a particular leave type","schema":{"type":"integer","format":"int32"}},{"name":"ProjectID","in":"query","description":"Filter to only include books linked to a specific project","schema":{"type":"integer","format":"int32"}},{"name":"CompanyID","in":"query","description":"Filter to only include records linked to projects, where that project belongs to a specific customer company","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"Sort","in":"query","description":"Optional sorting instruction. Currently possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\"","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesList"}},"text/json":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ScheduleSeriesList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_schedule"]}]}},"/api/Section":{"get":{"tags":["Section"],"summary":"Gets list of Sections","operationId":"Section_Get","parameters":[{"name":"ProjectID","in":"query","description":"Get sections for Project with ProjectID","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SectionList"}},"text/json":{"schema":{"$ref":"#/components/schemas/SectionList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SectionList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/SectionList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_projects"]}]},"post":{"tags":["Section"],"summary":"Create a Section","operationId":"Section_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewSection"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewSection"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewSection"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewSection"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewSection"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SectionDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/SectionDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SectionDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/SectionDetails"}}}}},"security":[{"oauth2":["write_projects"]}]},"delete":{"tags":["Section"],"summary":"Delete a Section","operationId":"Section_Delete","parameters":[{"name":"SectionID","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}}}}},"security":[{"oauth2":["write_projects"]}]}},"/api/Task":{"get":{"tags":["Task"],"summary":"Gets list of Tasks","operationId":"Task_Get","parameters":[{"name":"UpdatedAfter","in":"query","description":"Optional filter to records updated after a specific date.","schema":{"type":"string","format":"date-time"}},{"name":"pageSize","in":"query","description":"Number of items per page. Defaults to 20.","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1. Defaults to 1","schema":{"type":"integer","format":"int32"}},{"name":"Sort","in":"query","description":"Optional sorting instruction. Currently possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\", \"SectionTitle\", \"Title\"","schema":{"type":"string"}},{"name":"isComplete","in":"query","description":"Optional filter to only display tasks linked to a Task Status where isComplete=false, or where isComplete=true","schema":{"type":"boolean"}},{"name":"ProjectID","in":"query","description":"Optional filter to only display tasks belonging to a specific ProjectID","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskList"}},"text/json":{"schema":{"$ref":"#/components/schemas/TaskList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TaskList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TaskList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_projects"]}]},"put":{"tags":["Task"],"summary":"Update a Task.","description":"Requires TaskID and a list of field names to update. The FieldsToUpdate field accepts a string array containing field names that should be updated.","operationId":"Task_Put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTask"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateTask"}},"application/xml":{"schema":{"$ref":"#/components/schemas/UpdateTask"}},"text/xml":{"schema":{"$ref":"#/components/schemas/UpdateTask"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/UpdateTask"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/TaskDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TaskDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TaskDetails"}}}}},"security":[{"oauth2":["write_projects"]}]},"post":{"tags":["Task"],"summary":"Create a Task","operationId":"Task_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewTask"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewTask"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewTask"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewTask"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewTask"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/TaskDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TaskDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TaskDetails"}}}}},"security":[{"oauth2":["write_projects"]}]},"delete":{"tags":["Task"],"summary":"Delete a Task","operationId":"Task_Delete","parameters":[{"name":"TaskID","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}}}}},"security":[{"oauth2":["write_projects"]}]}},"/api/Task/Lookup":{"get":{"tags":["Task"],"summary":"Gets minimal list of Tasks for the current user","description":"Groups Tasks by Section. Default sort is by Section Title followed by Task Title","operationId":"TaskLookup","parameters":[{"name":"projectID","in":"query","description":"(required) The ProjectID to use when filtering Tasks","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"hideCompleted","in":"query","description":"(optional) true/false to hide completed tasks. Defaults false","schema":{"type":"boolean"}},{"name":"search","in":"query","description":"(optional) Search string to match against Task title. Performs begins-with match","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDropdownList"}},"text/json":{"schema":{"$ref":"#/components/schemas/TaskDropdownList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TaskDropdownList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TaskDropdownList"}}}}},"security":[{"oauth2":["read_projects"]}]}},"/api/Task/{id}":{"get":{"tags":["Task"],"summary":"Gets Task by Task ID","operationId":"Task_GetByID","parameters":[{"name":"id","in":"path","description":"Task ID number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/TaskDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TaskDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TaskDetails"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_projects"]}]}},"/api/TaskStatus":{"get":{"tags":["TaskStatus"],"summary":"Gets list of Task Statuses","operationId":"TaskStatus_Get","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskStatusList"}},"text/json":{"schema":{"$ref":"#/components/schemas/TaskStatusList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TaskStatusList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TaskStatusList"}}}}},"security":[{"oauth2":["read_projects"]}]}},"/api/TaskType":{"get":{"tags":["TaskType"],"summary":"Gets list of Task Types","operationId":"TaskType_Get","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskTypeList"}},"text/json":{"schema":{"$ref":"#/components/schemas/TaskTypeList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TaskTypeList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TaskTypeList"}}}}},"security":[{"oauth2":["read_projects"]}]}},"/api/Tax":{"get":{"tags":["Tax"],"summary":"Get List of Taxes configured in the Avaza account.","operationId":"Tax_Get","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaxList"}},"text/json":{"schema":{"$ref":"#/components/schemas/TaxList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TaxList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TaxList"}}}}},"security":[{"oauth2":["read_financials"]}]}},"/api/Timesheet":{"get":{"tags":["Timesheet"],"summary":"Gets list of Timsheets","operationId":"Timesheet_Get","parameters":[{"name":"UpdatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"EntryDateFrom","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"EntryDateTo","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"UserID","in":"query","description":"The UserID of a timesheet user to filter timesheets for. Only api users with certain higher roles can see timesheets across multiple users.","schema":{"type":"integer","format":"int32"}},{"name":"UserEmail","in":"query","schema":{"type":"string"}},{"name":"CategoryName","in":"query","schema":{"type":"string"}},{"name":"ProjectID","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"isBillable","in":"query","schema":{"type":"boolean"}},{"name":"isInvoiced","in":"query","schema":{"type":"boolean"}},{"name":"isTimerRunning","in":"query","schema":{"type":"boolean"}},{"name":"pageSize","in":"query","description":"Number of items per page (max 1000)","schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Page to display. Starts from 1.","schema":{"type":"integer","format":"int32"}},{"name":"includeInvoiceDetails","in":"query","description":"Defaults to false. When true, the InvoiceIDFK value will be included in the response.","schema":{"type":"boolean"}},{"name":"Sort","in":"query","description":"Optional sorting instruction. Currently possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\",\"EntryDate\", \"EntryDate desc\", \"StartTimeLocal\",\"StartTimeLocal desc\", \"TimeSheetEntryID\", \"TimeSheetEntryID desc\"","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimesheetList"}},"text/json":{"schema":{"$ref":"#/components/schemas/TimesheetList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TimesheetList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TimesheetList"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["read_timesheets"]}]},"put":{"tags":["Timesheet"],"summary":"Update a Timesheet","description":"The FieldsToUpdate field expects a string array collection of the field names you would like updated. Valid fields to update inlcude \"ProjectIDFK\", \"TimeSheetCategoryIDFK\", \"TaskIDFK\", \"Duration\", \"EntryDate\", \"Notes\", \"hasStartEndTime\", \"CustomMetadata\". If you intend to provide start/end times on timesheets, this is achieved by including the start time in the EntryDate field (Iso date format), along with a Duration (decimal format).","operationId":"Timesheet_Put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTimesheetModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateTimesheetModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/UpdateTimesheetModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/UpdateTimesheetModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/UpdateTimesheetModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}}}}},"security":[{"oauth2":["write_timesheets"]}]},"post":{"tags":["Timesheet"],"summary":"Create a new Timesheet Entry","operationId":"Timesheet_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewTimesheet"}},"text/json":{"schema":{"$ref":"#/components/schemas/NewTimesheet"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NewTimesheet"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NewTimesheet"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NewTimesheet"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}}}}},"security":[{"oauth2":["write_timesheets"]}]}},"/api/Timesheet/{id}":{"get":{"tags":["Timesheet"],"summary":"Gets a Timesheet Entry by Timesheet ID","operationId":"Timesheet_GetByID","parameters":[{"name":"id","in":"path","description":"Timesheet ID number","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TimesheetDetails"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_timesheets"]}]},"delete":{"tags":["Timesheet"],"summary":"Delete a Timesheet Entry","operationId":"Timesheet_Delete","parameters":[{"name":"id","in":"path","description":"The id of the timesheet entry to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}}}}},"security":[{"oauth2":["write_timesheets"]}]}},"/api/TimesheetSubmission":{"post":{"tags":["TimesheetSubmission"],"summary":"Submit Timesheets for Approval.","description":"Either provide a a specific Day (WholeDayOf) or any day in a Week (WholeWeekOf) to submit all draft timesheets in that day or week","operationId":"TimesheetSubmission_Post","parameters":[{"name":"SendNotifications","in":"query","description":"Send email alerts to timesheet approvers. Defaults to true","schema":{"type":"boolean"}},{"name":"WholeWeekOf","in":"query","description":"A date (yyyy-MM-dd) that falls within  a Week to have all timesheets in that week submitted. Respects the First Day of Week setting in your account Timesheet Settings to determine the week range.","schema":{"type":"string","format":"date-time"}},{"name":"WholeDayOf","in":"query","description":"A date (yyyy-MM-dd) to submit all timesheets on this day","schema":{"type":"string","format":"date-time"}},{"name":"UserID","in":"query","description":"The user to submit timesheets for. Defaults to current user. Only allowed to be different from the current user when the current user has rights to Impersonate other users.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}}}}},"security":[{"oauth2":["write_timesheets"]}]}},"/api/TimesheetSummary":{"get":{"tags":["TimesheetSummary"],"summary":"Gets Basic Summary of Timesheet Statistics","operationId":"TimesheetSummary_Get","parameters":[{"name":"model.groupBy","in":"query","description":"(Optional) Combine one, two or three levels of Grouping. Combine these possible grouping values: \"Customer\", \"Project\", \"Category\", \"User\", \"Task\", \"Year\", \"Month\", \"Day\", \"Week\".","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"model.entryDateFrom","in":"query","description":"(Required) Filter for timesheets greater or equal to the specified date. e.g. 2019-01-25. You can optionally include a time component, otherwise it assumes 00:00","schema":{"type":"string","format":"date-time"}},{"name":"model.entryDateTo","in":"query","description":"(Required) Filter for timesheets with an entry date smaller or equal to the specified  date. e.g. 2019-01-25. You can optionally include a time component, otherwise it assumes 00:00","schema":{"type":"string","format":"date-time"}},{"name":"model.userID","in":"query","description":"(Optional) Defaults to the current user. Provide one or more UserIDs of Users whose timesheets should be retrieved. If the current user doesn't have impersonation rights, then they will only see their own data.","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"model.projectID","in":"query","description":"(Optional) Filter by Project","schema":{"type":"integer","format":"int32"}},{"name":"model.isBillable","in":"query","description":"(Optional) Filter by the billable status of Timesheets.","schema":{"type":"boolean"}},{"name":"model.isInvoiced","in":"query","description":"(Optional) Filter for timesheets by whether they have been Invoiced or not.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimesheetSummaryResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/TimesheetSummaryResult"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TimesheetSummaryResult"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TimesheetSummaryResult"}}}}},"security":[{"oauth2":["read_timesheets"]}]}},"/api/TimesheetTimer":{"get":{"tags":["TimesheetTimer"],"summary":"Gets the  Running Timer if there is one for a user.","operationId":"TimesheetTimer_GetRunningTimer","parameters":[{"name":"UserID","in":"query","description":"Optional - User ID number if impersonating a different user. Otherwise assumes the current user. Only users with certain security roles have permission to impersonate other users","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["read_timesheets"]}]}},"/api/TimesheetTimer/{id}":{"post":{"tags":["TimesheetTimer"],"summary":"Starts a Timer running on an existing Timesheet Entry","operationId":"TimesheetTimer_StartTimer","parameters":[{"name":"id","in":"path","description":"id of timesheet entry that should be used as the basis for running a timer. If the existing timesheet is not on the current day, or you have start/end times enabled, then a new timesheet will be created for the timer.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"UserID","in":"query","description":"Optional - User ID number if impersonating a different user. Otherwise assumes the current user. Only users with certain security roles have permission to impersonate other users","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["write_timesheets"]}]},"delete":{"tags":["TimesheetTimer"],"summary":"Stop the timer running on an existing Timesheet Entry","operationId":"TimesheetTimer_StopTimer","parameters":[{"name":"id","in":"path","description":"The ID of the existing timesheet entry that needs its timer stopped","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"UserID","in":"query","description":"Optional - User ID number if impersonating a different user. Otherwise assumes the current user. Only users with certain security roles have permission to impersonate other users","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}},"security":[{"oauth2":["write_timesheets"]}]}},"/api/UserProfile":{"get":{"tags":["UserProfile"],"summary":"Get Collection of Users who have roles in the current Avaza account.","description":"Admin and Invoice Managers can see all. Other users are limited to seeing their own profile.","operationId":"UserProfile_Get","parameters":[{"name":"Roles","in":"query","description":"Optional list of comma separated role codes to filter users by (e.g. \"TimesheetUser,Admin\")","schema":{"type":"string"}},{"name":"Tags","in":"query","schema":{"type":"string"}},{"name":"CurrentUserOnly","in":"query","description":"Optional boolean (true/false) to filter to only show current authenticated user (always true for non Admin/InvoiceManager users)","schema":{"type":"boolean"}},{"name":"CompanyIDFK","in":"query","description":"Optionally filter by Company ID","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserList"}},"text/json":{"schema":{"$ref":"#/components/schemas/UserList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/UserList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/UserList"}}}}},"security":[{"oauth2":["read_users"]}]}},"/api/Webhook":{"get":{"tags":["Webhook"],"summary":"Get list of Webhook Subscriptions","operationId":"Webhook_Get","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookList"}},"text/json":{"schema":{"$ref":"#/components/schemas/WebhookList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebhookList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/WebhookList"}}}}},"security":[{"oauth2":["webhook_notifications"]}]},"post":{"tags":["Webhook"],"summary":"Subscribe to Webhook. On success, returns ID of webhook subscription.","description":"When you receive a webhook, you should respond with Http 200 OK Status Code, otherwise we will retry. To create a webhook, you need both the webhook_notifications scope, as well as the scope for the required entity being monitored.  Event values are: \"company_created\", \"company_deleted\", \"company_updated\", \"contact_created\", \"contact_deleted\", \"contact_updated\", \"invoice_created\", \"invoice_sent\",\"invoice_updated\",\"invoice_deleted\", \"project_created\", \"project_deleted\", \"project_updated\", \"task_created\", \"task_updated\",\"task_deleted\", \"timesheet_created\", \"timesheet_deleted\", \"timesheet_updated, \"bill_created\", \"bill_updated\".  You can subscribe to any webhook, but you will only receive notifications for data appropriate to the roles of your user account. There is an optional  Secret parameter (string 255 char max). This allows for webhook authentication. If provided, the Secret will be BASE 64 encoded and passed with notications as a basic authentication http header. i.e. Authorization Basic [BASE64 of Secret]\"","operationId":"Webhook_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubscription"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateSubscription"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CreateSubscription"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CreateSubscription"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CreateSubscription"}}},"required":true},"responses":{"201":{"description":"Subscription created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscribeResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/SubscribeResult"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SubscribeResult"}},"text/xml":{"schema":{"$ref":"#/components/schemas/SubscribeResult"}}}},"401":{"description":"Unauthorized"},"409":{"description":"Duplicate subscription already exists"}},"security":[{"oauth2":["webhook_notifications","read_contacts","read_account","read_users","read_financials","read_projects","read_schedule","read_timesheets","read_expenses","write_contacts","write_account","write_users","write_financials","write_projects","write_schedule","write_timesheets","write_expenses"]}]},"delete":{"tags":["Webhook"],"summary":"Delete webhook subscription by URL","operationId":"Webhook_DeleteByUrl","parameters":[{"name":"target_url","in":"query","description":"Target URL that should be used to delete subscriptions","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Subscription Deleted OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["webhook_notifications"]}]}},"/api/Webhook/{id}":{"get":{"tags":["Webhook"],"summary":"Get Webhook Subscription by SubscriptionID","operationId":"Webhook_GetByID","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookList"}},"text/json":{"schema":{"$ref":"#/components/schemas/WebhookList"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WebhookList"}},"text/xml":{"schema":{"$ref":"#/components/schemas/WebhookList"}}}}},"security":[{"oauth2":["webhook_notifications"]}]},"delete":{"tags":["Webhook"],"summary":"Delete Webhook Subscription by ID","operationId":"Webhook_Delete","parameters":[{"name":"id","in":"path","description":"Subscription id to be deleted","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Subscription deleted ok","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"}},"security":[{"oauth2":["webhook_notifications"]}]}}},"components":{"schemas":{"AccountDetails":{"type":"object","properties":{"AccountEmail":{"type":"string"},"AccountID":{"type":"integer","format":"int32"},"AllowHidingCompletedTasksOnTimesheet":{"type":"boolean"},"BrandPrimaryColor":{"type":"string","description":"A custom branding color for the account. Available on paid accounts."},"BrandPrimaryColorLuminance":{"type":"string","description":"A determination of the luminance of the Brand Primary Color (possible values: 'Dark', 'Medium', 'Light'). This can be used to determine appropriate font colors to sit on top of the brand color."},"CompanyName":{"type":"string"},"CurrentServerTimeISO":{"type":"string","description":"Format: ISO \"YYYY-MM-DD HH:mm:ss.SSS\""},"DefaultCurrencyCode":{"type":"string","description":"ISO 3 letter base Currency Code for the account"},"ExpenseApprovalRequired":{"type":"boolean","description":"Whether the account requires expenses be approved."},"LockApprovedExpenses":{"type":"boolean","description":"Approved expenses get locked from subsequent editing by standard expense users."},"LockApprovedTimesheets":{"type":"boolean"},"SC":{"type":"string"},"Subdomain":{"type":"string"},"TimesheetDayOfWeek":{"type":"integer","format":"int32"},"TimesheetDisplayFormatCode":{"type":"string"},"WeeklyTimesheetReminder":{"type":"boolean"},"has24HourTimesheetFormat":{"type":"boolean"},"hasStartEndTimesheets":{"type":"boolean"}}},"AccountTaskTypeDetails":{"type":"object","properties":{"AccountTaskTypeID":{"type":"integer","format":"int32"},"Icon":{"type":"string"},"IconType":{"type":"string"},"Name":{"type":"string"},"isDefault":{"type":"boolean"}}},"AssignProjectTimesheetCategory":{"type":"object","properties":{"BudgetHours":{"type":"number","format":"double"},"CostAmount":{"type":"number","format":"double"},"ProjectIDFK":{"type":"integer","format":"int32"},"RateAmount":{"type":"number","format":"double"},"TimesheetCategoryIDFK":{"type":"integer","format":"int32"},"isBillable":{"type":"boolean"},"isPayable":{"type":"boolean"}}},"AssignedToUser":{"type":"object","properties":{"AssignedToEmail":{"type":"string"},"AssignedToFirstname":{"type":"string"},"AssignedToLastname":{"type":"string"},"AssignedToUserIDFK":{"type":"integer","format":"int32"}}},"Bill":{"type":"object","properties":{"AccountIDFK":{"type":"integer","format":"int32"},"Balance":{"type":"number","format":"double"},"BillNumber":{"type":"string"},"CompanyIDFK":{"type":"integer","format":"int32"},"CompanyName":{"type":"string"},"CurrencyCode":{"type":"string"},"DateCreated":{"type":"string","format":"date-time"},"DateIssued":{"type":"string","format":"date-time"},"DateUpdated":{"type":"string","format":"date-time"},"DateVerified":{"type":"string","format":"date-time"},"DueDate":{"type":"string","format":"date-time"},"ExchangeRate":{"type":"number","format":"double"},"Issuer":{"$ref":"#/components/schemas/BillIssuerDetails"},"LineItems":{"type":"array","items":{"$ref":"#/components/schemas/BillLineItem"}},"Links":{"$ref":"#/components/schemas/BillLinks"},"Notes":{"type":"string"},"Recipient":{"$ref":"#/components/schemas/BillRecipientDetails"},"Subject":{"type":"string"},"SupplierPONumber":{"type":"string"},"TaxAmount":{"type":"number","format":"double"},"TotalAmount":{"type":"number","format":"double"},"TransactionID":{"type":"integer","format":"int64"},"TransactionPrefix":{"type":"string"},"TransactionStatusCode":{"type":"string"},"TransactionTaxConfigCode":{"type":"string"}}},"BillIssuerDetails":{"type":"object","properties":{"BillingAddress":{"type":"string"},"BillingAddressCity":{"type":"string"},"BillingAddressLine":{"type":"string"},"BillingAddressPostCode":{"type":"string"},"BillingAddressState":{"type":"string"},"BillingCountryCode":{"type":"string"},"CompanyIDFK":{"type":"integer","format":"int32"},"CompanyName":{"type":"string"}}},"BillLineItem":{"type":"object","properties":{"Amount":{"type":"number","format":"double"},"Description":{"type":"string"},"Discount":{"type":"number","format":"double"},"InventoryItemIDFK":{"type":"integer","format":"int64"},"InventoryItemName":{"type":"string"},"InventoryItemSKU":{"type":"string"},"ProjectIDFK":{"type":"integer","format":"int32"},"ProjectTitle":{"type":"string"},"Quantity":{"type":"number","format":"double"},"TaxAmount":{"type":"number","format":"double"},"TaxCode":{"type":"string"},"TaxIDFK":{"type":"integer","format":"int32"},"TaxName":{"type":"string"},"TransactionLineItemID":{"type":"integer","format":"int64"},"UnitPrice":{"type":"number","format":"double"}}},"BillLinks":{"type":"object","properties":{"Edit":{"type":"string"},"View":{"type":"string"},"WebView":{"type":"string"}}},"BillList":{"type":"object","properties":{"Bills":{"type":"array","items":{"$ref":"#/components/schemas/Bill"}},"PageNumber":{"type":"integer","format":"int32"},"PageSize":{"type":"integer","format":"int32"},"TotalCount":{"type":"integer","format":"int32"}}},"BillPayment":{"type":"object","properties":{"AccountIDFK":{"type":"integer","format":"int32"},"Balance":{"type":"number","format":"double"},"CurrencyCode":{"type":"string"},"DateCreated":{"type":"string","format":"date-time"},"DateIssued":{"type":"string","format":"date-time"},"DateUpdated":{"type":"string","format":"date-time"},"ExchangeRate":{"type":"number","format":"double"},"Notes":{"type":"string"},"PaymentAllocations":{"type":"array","items":{"$ref":"#/components/schemas/BillPaymentAllocation"}},"PaymentNumber":{"type":"string"},"PaymentProviderCode":{"type":"string"},"SupplierIDFK":{"type":"integer","format":"int32"},"TotalAmount":{"type":"number","format":"double"},"TransactionID":{"type":"integer","format":"int64"},"TransactionPrefix":{"type":"string"},"TransactionReference":{"type":"string"},"TransactionStatusCode":{"type":"string"}}},"BillPaymentAllocation":{"type":"object","properties":{"AllocationAmount":{"type":"number","format":"double"},"AllocationDate":{"type":"string","format":"date-time"},"BillTransactionIDFK":{"type":"integer","format":"int64"},"PaymentTransactionIDFK":{"type":"integer","format":"int64"},"TransactionAllocationID":{"type":"integer","format":"int64"}}},"BillPaymentList":{"type":"object","properties":{"PageNumber":{"type":"integer","format":"int32"},"PageSize":{"type":"integer","format":"int32"},"Payments":{"type":"array","items":{"$ref":"#/components/schemas/BillPayment"}},"TotalCount":{"type":"integer","format":"int32"}}},"BillRecipientDetails":{"type":"object","properties":{"RecipientBillingAddressCity":{"type":"string"},"RecipientBillingAddressCountryCode":{"type":"string"},"RecipientBillingAddressLine":{"type":"string"},"RecipientBillingAddressPostCode":{"type":"string"},"RecipientBillingAddressState":{"type":"string"},"RecipientFormattedBillingAddress":{"type":"string"}}},"Company":{"type":"object","properties":{"BillingAddress":{"type":"string"},"BillingAddressCity":{"type":"string"},"BillingAddressLine":{"type":"string"},"BillingAddressPostCode":{"type":"string"},"BillingAddressState":{"type":"string"},"BillingCountryCode":{"type":"string"},"Comments":{"type":"string"},"CompanyID":{"type":"integer","format":"int32"},"CompanyName":{"type":"string"},"Contacts":{"type":"array","items":{"$ref":"#/components/schemas/CompanyContact"}},"CurrencyCode":{"type":"string"},"DateCreated":{"type":"string","format":"date-time"},"DateUpdated":{"type":"string","format":"date-time"},"DefaultTradingTermIDFK":{"type":"integer","format":"int32"},"Fax":{"type":"string"},"Phone":{"type":"string"},"TaxNumber":{"type":"string"},"website":{"type":"string"}}},"CompanyContact":{"type":"object","properties":{"CompanyIDFK":{"type":"integer","format":"int32"},"CompanyName":{"type":"string"},"ContactID":{"type":"integer","format":"int32"},"DateCreated":{"type":"string","format":"date-time"},"DateUpdated":{"type":"string","format":"date-time"},"Email":{"type":"string"},"Firstname":{"type":"string"},"Lastname":{"type":"string"},"Mobile":{"type":"string"},"Phone":{"type":"string"},"PositionTitle":{"type":"string"},"TimeZone":{"type":"string"}}},"CompanyDropdownList":{"type":"object","properties":{"Companies":{"type":"array","items":{"$ref":"#/components/schemas/CompanyMinimal"}},"PageNumber":{"type":"integer","format":"int32"},"PageSize":{"type":"integer","format":"int32"},"TotalCount":{"type":"integer","format":"int32"}}},"CompanyList":{"type":"object","properties":{"Companies":{"type":"array","items":{"$ref":"#/components/schemas/Company"}},"PageNumber":{"type":"integer","format":"int32"},"PageSize":{"type":"integer","format":"int32"},"TotalCount":{"type":"integer","format":"int32"}}},"CompanyMinimal":{"type":"object","properties":{"CompanyID":{"type":"integer","format":"int64"},"CompanyName":{"type":"string"}}},"ContactList":{"type":"object","properties":{"Contacts":{"type":"array","items":{"$ref":"#/components/schemas/CompanyContact"}},"PageNumber":{"type":"integer","format":"int32"},"PageSize":{"type":"integer","format":"int32"},"TotalCount":{"type":"integer","format":"int32"}}},"CreateBooking":{"type":"object","properties":{"CategoryIDFK":{"type":"integer","format":"int32"},"DurationType":{"type":"string"},"EndDate":{"type":"string","format":"date-time"},"HoursPerDay":{"type":"number","format":"double"},"Notes":{"type":"string"},"ProjectIDFK":{"type":"integer","format":"int32"},"ScheduleOnDaysOff":{"type":"boolean"},"StartDate":{"type":"string","format":"date-time"},"TaskIDFK":{"type":"integer","format":"int32"},"TotalDuration":{"type":"number","format":"double"},"UserIDFK":{"type":"integer","format":"int32"}}},"CreateLeave":{"type":"object","properties":{"LeaveEndDate":{"type":"string","format":"date-time"},"LeaveHoursPerDay":{"type":"number","format":"double"},"LeaveNotes":{"type":"string"},"LeaveNotify":{"type":"boolean"},"LeaveStartDate":{"type":"string","format":"date-time"},"LeaveTypeIDFK":{"type":"integer","format":"int32"},"LeaveUserIDFK":{"type":"integer","format":"int32"}}},"CreateSubscription":{"required":["event","target_url"],"type":"object","properties":{"event":{"type":"string","description":"The event code to be notified about. Possible values: company_created, contact_created, invoice_created, invoice_sent, project_created, task_created"},"secret":{"type":"string","description":"Optional Secret string (255 char max). If provided, the secret will be BASE 64 encoded and used as a basic authentication http header with webhook notifications. i.e. Authorization Basic [BASE64 of Secret]\""},"target_url":{"type":"string","description":"The URL that should be notified of the event."}},"description":"New Subscription to be Created"},"CreditNote":{"type":"object","properties":{"Balance":{"type":"number","format":"double"},"CreditNoteAllocations":{"type":"array","items":{"$ref":"#/components/schemas/CreditNoteAllocation"}},"CreditNoteLineItems":{"type":"array","items":{"$ref":"#/components/schemas/CreditNoteLineItem"}},"CreditNoteNumber":{"type":"string"},"CurrencyCode":{"type":"string"},"CustomerIDFK":{"type":"integer","format":"int32"},"DateCreated":{"type":"string","format":"date-time"},"DateIssued":{"type":"string","format":"date-time"},"DateUpdated":{"type":"string","format":"date-time"},"Notes":{"type":"string"},"TotalAmount":{"type":"number","format":"double"},"TransactionID":{"type":"integer","format":"int64"},"TransactionPrefix":{"type":"string"},"TransactionStatusCode":{"type":"string"}}},"CreditNoteAllocation":{"t
[...]
