{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "HDInsightManagementClient",
    "description" : "The HDInsight Management Client.",
    "version" : "2018-06-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/clusters" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "description" : "Lists all the HDInsight clusters under the subscription.",
        "operationId" : "Clusters_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The HDInsight client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK response definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClusterListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "description" : "Lists the HDInsight clusters in a resource group.",
        "operationId" : "Clusters_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The HDInsight client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK response definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClusterListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "description" : "Gets the specified cluster.",
        "operationId" : "Clusters_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The HDInsight client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK response definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Cluster"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Clusters" ],
        "description" : "Creates a new HDInsight cluster with the specified parameters.",
        "operationId" : "Clusters_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The HDInsight client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The cluster create request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClusterCreateParametersExtended"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK response definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Cluster"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Clusters" ],
        "description" : "Deletes the specified HDInsight cluster.",
        "operationId" : "Clusters_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The HDInsight client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok response definition."
          },
          "202" : {
            "description" : "Accepted response definition."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Clusters" ],
        "description" : "Patch HDInsight cluster with the specified parameters.",
        "operationId" : "Clusters_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The HDInsight client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The cluster patch request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClusterPatchParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK response definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Cluster"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/getGatewaySettings" : {
      "post" : {
        "tags" : [ "Clusters" ],
        "description" : "Gets the gateway settings for the specified cluster.",
        "operationId" : "Clusters_GetGatewaySettings",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The HDInsight client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK response definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewaySettings"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/roles/{roleName}/resize" : {
      "post" : {
        "tags" : [ "Clusters" ],
        "description" : "Resizes the specified HDInsight cluster to the specified size.",
        "operationId" : "Clusters_Resize",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "roleName",
          "in" : "path",
          "description" : "The constant value for the roleName",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "workernode" ]
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The HDInsight client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters for the resize operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClusterResizeParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK response definition."
          },
          "202" : {
            "description" : "Accepted response definition."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/rotatediskencryptionkey" : {
      "post" : {
        "tags" : [ "Clusters" ],
        "description" : "Rotate disk encryption key of the specified HDInsight cluster.",
        "operationId" : "Clusters_RotateDiskEncryptionKey",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The HDInsight client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters for the disk encryption operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClusterDiskEncryptionParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK response definition."
          },
          "202" : {
            "description" : "Accepted response definition."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/updateGatewaySettings" : {
      "post" : {
        "tags" : [ "Clusters" ],
        "description" : "Configures the gateway settings on the specified cluster.",
        "operationId" : "Clusters_UpdateGatewaySettings",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The HDInsight client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The cluster configurations.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateGatewaySettingsParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK response definition."
          },
          "202" : {
            "description" : "Accepted response definition"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Autoscale" : {
        "type" : "object",
        "properties" : {
          "capacity" : {
            "$ref" : "#/components/schemas/AutoscaleCapacity"
          },
          "recurrence" : {
            "$ref" : "#/components/schemas/AutoscaleRecurrence"
          }
        },
        "description" : "The autoscale request parameters"
      },
      "AutoscaleCapacity" : {
        "type" : "object",
        "properties" : {
          "maxInstanceCount" : {
            "type" : "integer",
            "description" : "The maximum instance count of the cluster",
            "format" : "int32"
          },
          "minInstanceCount" : {
            "type" : "integer",
            "description" : "The minimum instance count of the cluster",
            "format" : "int32"
          }
        },
        "description" : "The load-based autoscale request parameters"
      },
      "AutoscaleRecurrence" : {
        "type" : "object",
        "properties" : {
          "schedule" : {
            "type" : "array",
            "description" : "Array of schedule-based autoscale rules",
            "items" : {
              "$ref" : "#/components/schemas/AutoscaleSchedule"
            }
          },
          "timeZone" : {
            "type" : "string",
            "description" : "The time zone for the autoscale schedule times"
          }
        },
        "description" : "Schedule-based autoscale request parameters"
      },
      "AutoscaleSchedule" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "array",
            "description" : "Days of the week for a schedule-based autoscale rule",
            "items" : {
              "type" : "string",
              "enum" : [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ]
            }
          },
          "timeAndCapacity" : {
            "$ref" : "#/components/schemas/AutoscaleTimeAndCapacity"
          }
        },
        "description" : "Parameters for a schedule-based autoscale rule, consisting of an array of days + a time and capacity"
      },
      "AutoscaleTimeAndCapacity" : {
        "type" : "object",
        "properties" : {
          "maxInstanceCount" : {
            "type" : "integer",
            "description" : "The maximum instance count of the cluster",
            "format" : "int32"
          },
          "minInstanceCount" : {
            "type" : "integer",
            "description" : "The minimum instance count of the cluster",
            "format" : "int32"
          },
          "time" : {
            "type" : "string",
            "description" : "24-hour time in the form xx:xx"
          }
        },
        "description" : "Time and capacity request parameters"
      },
      "ClientGroupInfo" : {
        "type" : "object",
        "properties" : {
          "groupId" : {
            "type" : "string",
            "description" : "The AAD security group id."
          },
          "groupName" : {
            "type" : "string",
            "description" : "The AAD security group name."
          }
        },
        "description" : "The information of AAD security group."
      },
      "Cluster" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "The ETag for the resource"
          },
          "identity" : {
            "$ref" : "#/components/schemas/ClusterIdentity"
          },
          "properties" : {
            "$ref" : "#/components/schemas/ClusterGetProperties"
          }
        },
        "description" : "The HDInsight cluster.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/TrackedResource"
        } ]
      },
      "ClusterCreateParametersExtended" : {
        "type" : "object",
        "properties" : {
          "identity" : {
            "$ref" : "#/components/schemas/ClusterIdentity"
          },
          "location" : {
            "type" : "string",
            "description" : "The location of the cluster."
          },
          "properties" : {
            "$ref" : "#/components/schemas/ClusterCreateProperties"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The resource tags."
          }
        },
        "description" : "The CreateCluster request parameters."
      },
      "ClusterCreateProperties" : {
        "type" : "object",
        "properties" : {
          "clusterDefinition" : {
            "$ref" : "#/components/schemas/ClusterDefinition"
          },
          "clusterVersion" : {
            "type" : "string",
            "description" : "The version of the cluster."
          },
          "computeProfile" : {
            "$ref" : "#/components/schemas/ComputeProfile"
          },
          "diskEncryptionProperties" : {
            "$ref" : "#/components/schemas/DiskEncryptionProperties"
          },
          "kafkaRestProperties" : {
            "$ref" : "#/components/schemas/KafkaRestProperties"
          },
          "osType" : {
            "type" : "string",
            "description" : "The type of operating system.",
            "enum" : [ "Windows", "Linux" ]
          },
          "securityProfile" : {
            "$ref" : "#/components/schemas/SecurityProfile"
          },
          "storageProfile" : {
            "$ref" : "#/components/schemas/StorageProfile"
          },
          "tier" : {
            "type" : "string",
            "description" : "The cluster tier.",
            "enum" : [ "Standard", "Premium" ]
          }
        },
        "description" : "The cluster create parameters."
      },
      "ClusterDefinition" : {
        "type" : "object",
        "properties" : {
          "blueprint" : {
            "type" : "string",
            "description" : "The link to the blueprint."
          },
          "componentVersion" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The versions of different services in the cluster."
          },
          "configurations" : {
            "type" : "object",
            "description" : "The cluster configurations."
          },
          "kind" : {
            "type" : "string",
            "description" : "The type of cluster."
          }
        },
        "description" : "The cluster definition."
      },
      "ClusterDiskEncryptionParameters" : {
        "type" : "object",
        "properties" : {
          "keyName" : {
            "type" : "string",
            "description" : "Key name that is used for enabling disk encryption."
          },
          "keyVersion" : {
            "type" : "string",
            "description" : "Specific key version that is used for enabling disk encryption."
          },
          "vaultUri" : {
            "type" : "string",
            "description" : "Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net"
          }
        },
        "description" : "The Disk Encryption Cluster request parameters."
      },
      "ClusterGetProperties" : {
        "required" : [ "clusterDefinition" ],
        "type" : "object",
        "properties" : {
          "clusterDefinition" : {
            "$ref" : "#/components/schemas/ClusterDefinition"
          },
          "clusterState" : {
            "type" : "string",
            "description" : "The state of the cluster."
          },
          "clusterVersion" : {
            "type" : "string",
            "description" : "The version of the cluster."
          },
          "computeProfile" : {
            "$ref" : "#/components/schemas/ComputeProfile"
          },
          "connectivityEndpoints" : {
            "type" : "array",
            "description" : "The list of connectivity endpoints.",
            "items" : {
              "$ref" : "#/components/schemas/ConnectivityEndpoint"
            }
          },
          "createdDate" : {
            "type" : "string",
            "description" : "The date on which the cluster was created."
          },
          "diskEncryptionProperties" : {
            "$ref" : "#/components/schemas/DiskEncryptionProperties"
          },
          "errors" : {
            "type" : "array",
            "description" : "The list of errors.",
            "items" : {
              "$ref" : "#/components/schemas/Errors"
            }
          },
          "kafkaRestProperties" : {
            "$ref" : "#/components/schemas/KafkaRestProperties"
          },
          "osType" : {
            "type" : "string",
            "description" : "The type of operating system.",
            "enum" : [ "Windows", "Linux" ]
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The provisioning state, which only appears in the response.",
            "enum" : [ "InProgress", "Failed", "Succeeded", "Canceled", "Deleting" ]
          },
          "quotaInfo" : {
            "$ref" : "#/components/schemas/QuotaInfo"
          },
          "securityProfile" : {
            "$ref" : "#/components/schemas/SecurityProfile"
          },
          "tier" : {
            "type" : "string",
            "description" : "The cluster tier.",
            "enum" : [ "Standard", "Premium" ]
          }
        },
        "description" : "The properties of cluster."
      },
      "ClusterIdentity" : {
        "type" : "object",
        "properties" : {
          "principalId" : {
            "type" : "string",
            "description" : "The principal id of cluster identity. This property will only be provided for a system assigned identity.",
            "readOnly" : true
          },
          "tenantId" : {
            "type" : "string",
            "description" : "The tenant id associated with the cluster. This property will only be provided for a system assigned identity.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "The type of identity used for the cluster. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities.",
            "enum" : [ "SystemAssigned", "UserAssigned", "SystemAssigned, UserAssigned", "None" ]
          },
          "userAssignedIdentities" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "properties" : {
                "clientId" : {
                  "type" : "string",
                  "description" : "The client id of user assigned identity.",
                  "readOnly" : true
                },
                "principalId" : {
                  "type" : "string",
                  "description" : "The principal id of user assigned identity.",
                  "readOnly" : true
                }
              }
            },
            "description" : "The list of user identities associated with the cluster. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          }
        },
        "description" : "Identity for the cluster."
      },
      "ClusterListPersistedScriptActionsResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The list of Persisted Script Actions.",
            "items" : {
              "$ref" : "#/components/schemas/RuntimeScriptAction"
            }
          }
        },
        "description" : "The ListPersistedScriptActions operation response."
      },
      "ClusterListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The list of Clusters.",
            "items" : {
              "$ref" : "#/components/schemas/Cluster"
            }
          }
        },
        "description" : "The List Cluster operation response."
      },
      "ClusterListRuntimeScriptActionDetailResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/RuntimeScriptActionDetail"
            }
          }
        },
        "description" : "The list runtime script action detail response."
      },
      "ClusterPatchParameters" : {
        "type" : "object",
        "properties" : {
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The resource tags.",
            "nullable" : true
          }
        },
        "description" : "The PatchCluster request parameters"
      },
      "ClusterResizeParameters" : {
        "type" : "object",
        "properties" : {
          "targetInstanceCount" : {
            "type" : "integer",
            "description" : "The target instance count for the operation.",
            "format" : "int32"
          }
        },
        "description" : "The Resize Cluster request parameters."
      },
      "ComputeProfile" : {
        "type" : "object",
        "properties" : {
          "roles" : {
            "type" : "array",
            "description" : "The list of roles in the cluster.",
            "items" : {
              "$ref" : "#/components/schemas/Role"
            }
          }
        },
        "description" : "Describes the compute profile."
      },
      "ConnectivityEndpoint" : {
        "type" : "object",
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "The location of the endpoint."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the endpoint."
          },
          "port" : {
            "type" : "integer",
            "description" : "The port to connect to.",
            "format" : "int32"
          },
          "protocol" : {
            "type" : "string",
            "description" : "The protocol of the endpoint."
          }
        },
        "description" : "The connectivity properties"
      },
      "DataDisksGroups" : {
        "type" : "object",
        "properties" : {
          "diskSizeGB" : {
            "type" : "integer",
            "description" : "ReadOnly. The DiskSize in GB. Do not set this value.",
            "readOnly" : true
          },
          "disksPerNode" : {
            "type" : "integer",
            "description" : "The number of disks per node.",
            "format" : "int32"
          },
          "storageAccountType" : {
            "type" : "string",
            "description" : "ReadOnly. The storage account type. Do not set this value.",
            "readOnly" : true
          }
        },
        "description" : "The data disks groups for the role."
      },
      "DiskEncryptionProperties" : {
        "type" : "object",
        "properties" : {
          "encryptionAlgorithm" : {
            "type" : "string",
            "description" : "Algorithm identifier for encryption, default RSA-OAEP.",
            "enum" : [ "RSA-OAEP", "RSA-OAEP-256", "RSA1_5" ]
          },
          "keyName" : {
            "type" : "string",
            "description" : "Key name that is used for enabling disk encryption."
          },
          "keyVersion" : {
            "type" : "string",
            "description" : "Specific key version that is used for enabling disk encryption."
          },
          "msiResourceId" : {
            "type" : "string",
            "description" : "Resource ID of Managed Identity that is used to access the key vault."
          },
          "vaultUri" : {
            "type" : "string",
            "description" : "Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net"
          }
        },
        "description" : "The disk encryption properties"
      },
      "Errors" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error code."
          },
          "message" : {
            "type" : "string",
            "description" : "The error message."
          }
        },
        "description" : "The error message associated with the cluster creation."
      },
      "ExecuteScriptActionParameters" : {
        "required" : [ "persistOnSuccess" ],
        "type" : "object",
        "properties" : {
          "persistOnSuccess" : {
            "type" : "boolean",
            "description" : "Gets or sets if the scripts needs to be persisted."
          },
          "scriptActions" : {
            "type" : "array",
            "description" : "The list of run time script actions.",
            "items" : {
              "$ref" : "#/components/schemas/RuntimeScriptAction"
            }
          }
        },
        "description" : "The parameters for the script actions to execute on a running cluster."
      },
      "GatewaySettings" : {
        "type" : "object",
        "properties" : {
          "restAuthCredential.isEnabled" : {
            "type" : "string",
            "description" : "Indicates whether or not the gateway settings based authorization is enabled.",
            "readOnly" : true
          },
          "restAuthCredential.password" : {
            "type" : "string",
            "description" : "The gateway settings user password.",
            "readOnly" : true
          },
          "restAuthCredential.username" : {
            "type" : "string",
            "description" : "The gateway settings user name.",
            "readOnly" : true
          }
        },
        "description" : "Gateway settings."
      },
      "HardwareProfile" : {
        "type" : "object",
        "properties" : {
          "vmSize" : {
            "type" : "string",
            "description" : "The size of the VM"
          }
        },
        "description" : "The hardware profile."
      },
      "KafkaRestProperties" : {
        "type" : "object",
        "properties" : {
          "clientGroupInfo" : {
            "$ref" : "#/components/schemas/ClientGroupInfo"
          }
        },
        "description" : "The kafka rest proxy configuration which contains AAD security group information."
      },
      "LinuxOperatingSystemProfile" : {
        "type" : "object",
        "properties" : {
          "password" : {
            "type" : "string",
            "description" : "The password."
          },
          "sshProfile" : {
            "$ref" : "#/components/schemas/SshProfile"
          },
          "username" : {
            "type" : "string",
            "description" : "The username."
          }
        },
        "description" : "The ssh username, password, and ssh public key."
      },
      "OperationResource" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/Errors"
          },
          "status" : {
            "type" : "string",
            "description" : "The async operation state.",
            "enum" : [ "InProgress", "Succeeded", "Failed" ]
          }
        },
        "description" : "The azure async operation response."
      },
      "OsProfile" : {
        "type" : "object",
        "properties" : {
          "linuxOperatingSystemProfile" : {
            "$ref" : "#/components/schemas/LinuxOperatingSystemProfile"
          }
        },
        "description" : "The Linux operation systems profile."
      },
      "ProxyResource" : {
        "description" : "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "QuotaInfo" : {
        "type" : "object",
        "properties" : {
          "coresUsed" : {
            "type" : "integer",
            "description" : "The cores used by the cluster.",
            "format" : "int32"
          }
        },
        "description" : "The quota properties for the cluster."
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Fully qualified resource Id for the resource.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the resource",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the resource.",
            "readOnly" : true
          }
        },
        "description" : "The core properties of ARM resources"
      },
      "Role" : {
        "type" : "object",
        "properties" : {
          "autoscale" : {
            "$ref" : "#/components/schemas/Autoscale"
          },
          "dataDisksGroups" : {
            "type" : "array",
            "description" : "The data disks groups for the role.",
            "items" : {
              "$ref" : "#/components/schemas/DataDisksGroups"
            }
          },
          "hardwareProfile" : {
            "$ref" : "#/components/schemas/HardwareProfile"
          },
          "minInstanceCount" : {
            "type" : "integer",
            "description" : "The minimum instance count of the cluster.",
            "format" : "int32"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the role."
          },
          "osProfile" : {
            "$ref" : "#/components/schemas/OsProfile"
          },
          "scriptActions" : {
            "type" : "array",
            "description" : "The list of script actions on the role.",
            "items" : {
              "required" : [ "name", "parameters", "uri" ],
              "type" : "object",
              "properties" : {
                "name" : {
                  "type" : "string",
                  "description" : "The name of the script action."
                },
                "parameters" : {
                  "type" : "string",
                  "description" : "The parameters for the script provided."
                },
                "uri" : {
                  "type" : "string",
                  "description" : "The URI to the script."
                }
              },
              "description" : "Describes a script action on role on the cluster."
            }
          },
          "targetInstanceCount" : {
            "type" : "integer",
            "description" : "The instance count of the cluster.",
            "format" : "int32"
          },
          "virtualNetworkProfile" : {
            "$ref" : "#/components/schemas/VirtualNetworkProfile"
          }
        },
        "description" : "Describes a role on the cluster."
      },
      "RuntimeScriptAction" : {
        "required" : [ "name", "roles", "uri" ],
        "type" : "object",
        "properties" : {
          "applicationName" : {
            "type" : "string",
            "description" : "The application name of the script action, if any.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the script action."
          },
          "parameters" : {
            "type" : "string",
            "description" : "The parameters for the script"
          },
          "roles" : {
            "type" : "array",
            "description" : "The list of roles where script will be executed.",
            "items" : {
              "type" : "string"
            }
          },
          "uri" : {
            "type" : "string",
            "description" : "The URI to the script."
          }
        },
        "description" : "Describes a script action on a running cluster."
      },
      "RuntimeScriptActionDetail" : {
        "description" : "The execution details of a script action.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/RuntimeScriptAction"
        }, {
          "type" : "object",
          "properties" : {
            "debugInformation" : {
              "type" : "string",
              "description" : "The script action execution debug information.",
              "readOnly" : true
            },
            "endTime" : {
              "type" : "string",
              "description" : "The end time of script action execution.",
              "readOnly" : true
            },
            "executionSummary" : {
              "type" : "array",
              "description" : "The summary of script action execution result.",
              "readOnly" : true,
              "items" : {
                "$ref" : "#/components/schemas/ScriptActionExecutionSummary"
              }
            },
            "operation" : {
              "type" : "string",
              "description" : "The reason why the script action was executed.",
              "readOnly" : true
            },
            "scriptExecutionId" : {
              "type" : "integer",
              "description" : "The execution id of the script action.",
              "format" : "int64",
              "readOnly" : true
            },
            "startTime" : {
              "type" : "string",
              "description" : "The start time of script action execution.",
              "readOnly" : true
            },
            "status" : {
              "type" : "string",
              "description" : "The current execution status of the script action.",
              "readOnly" : true
            }
          }
        } ]
      },
      "ScriptActionExecutionSummary" : {
        "type" : "object",
        "properties" : {
          "instanceCount" : {
            "type" : "integer",
            "description" : "The instance count for a given script action execution status.",
            "format" : "int32",
            "readOnly" : true
          },
          "status" : {
            "type" : "string",
            "description" : "The status of script action execution.",
            "readOnly" : true
          }
        },
        "description" : "The execution summary of a script action."
      },
      "SecurityProfile" : {
        "type" : "object",
        "properties" : {
          "aaddsResourceId" : {
            "type" : "string",
            "description" : "The resource ID of the user's Azure Active Directory Domain Service."
          },
          "clusterUsersGroupDNs" : {
            "type" : "array",
            "description" : "Optional. The Distinguished Names for cluster user groups",
            "items" : {
              "type" : "string"
            }
          },
          "directoryType" : {
            "type" : "string",
            "description" : "The directory type.",
            "enum" : [ "ActiveDirectory" ]
          },
          "domain" : {
            "type" : "string",
            "description" : "The organization's active directory domain."
          },
          "domainUserPassword" : {
            "type" : "string",
            "description" : "The domain admin password.",
            "format" : "password"
          },
          "domainUsername" : {
            "type" : "string",
            "description" : "The domain user account that will have admin privileges on the cluster."
          },
          "ldapsUrls" : {
            "type" : "array",
            "description" : "The LDAPS protocol URLs to communicate with the Active Directory.",
            "items" : {
              "type" : "string"
            }
          },
          "msiResourceId" : {
            "type" : "string",
            "description" : "User assigned identity that has permissions to read and create cluster-related artifacts in the user's AADDS."
          },
          "organizationalUnitDN" : {
            "type" : "string",
            "description" : "The organizational unit within the Active Directory to place the cluster and service accounts."
          }
        },
        "description" : "The security profile which contains Ssh public key for the HDInsight cluster."
      },
      "SshProfile" : {
        "type" : "object",
        "properties" : {
          "publicKeys" : {
            "type" : "array",
            "description" : "The list of SSH public keys.",
            "items" : {
              "$ref" : "#/components/schemas/SshPublicKey"
            }
          }
        },
        "description" : "The list of SSH public keys."
      },
      "SshPublicKey" : {
        "type" : "object",
        "properties" : {
          "certificateData" : {
            "type" : "string",
            "description" : "The certificate for SSH."
          }
        },
        "description" : "The SSH public key for the cluster nodes."
      },
      "StorageAccount" : {
        "type" : "object",
        "properties" : {
          "container" : {
            "type" : "string",
            "description" : "The container in the storage account, only to be specified for WASB storage accounts."
          },
          "fileSystem" : {
            "type" : "string",
            "description" : "The filesystem, only to be specified for Azure Data Lake Storage Gen 2."
          },
          "isDefault" : {
            "type" : "boolean",
            "description" : "Whether or not the storage account is the default storage account."
          },
          "key" : {
            "type" : "string",
            "description" : "The storage account access key."
          },
          "msiResourceId" : {
            "type" : "string",
            "description" : "The managed identity (MSI) that is allowed to access the storage account, only to be specified for Azure Data Lake Storage Gen 2."
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the storage account."
          },
          "resourceId" : {
            "type" : "string",
            "description" : "The resource ID of storage account, only to be specified for Azure Data Lake Storage Gen 2."
          }
        },
        "description" : "The storage Account."
      },
      "StorageProfile" : {
        "type" : "object",
        "properties" : {
          "storageaccounts" : {
            "type" : "array",
            "description" : "The list of storage accounts in the cluster.",
            "items" : {
              "$ref" : "#/components/schemas/StorageAccount"
            }
          }
        },
        "description" : "The storage profile."
      },
      "TrackedResource" : {
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "The Azure Region where the resource lives"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags."
          }
        },
        "description" : "The resource model definition for a ARM tracked top level resource",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "UpdateGatewaySettingsParameters" : {
        "type" : "object",
        "properties" : {
          "restAuthCredential.isEnabled" : {
            "type" : "boolean",
            "description" : "Indicates whether or not the gateway settings based authorization is enabled.",
            "default" : true
          },
          "restAuthCredential.password" : {
            "type" : "string",
            "description" : "The gateway settings user password."
          },
          "restAuthCredential.username" : {
            "type" : "string",
            "description" : "The gateway settings user name."
          }
        },
        "description" : "The update gateway settings request parameters."
      },
      "VirtualNetworkProfile" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the virtual network."
          },
          "subnet" : {
            "type" : "string",
            "description" : "The name of the subnet."
          }
        },
        "description" : "The virtual network properties."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "The HDInsight client API Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ClusterNameParameter" : {
        "name" : "clusterName",
        "in" : "path",
        "description" : "The name of the cluster.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}