{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ApplicationInsightsManagementClient",
    "description" : "Azure Application Insights client for work item configurations for a component.",
    "version" : "2015-05-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/DefaultWorkItemConfig" : {
      "get" : {
        "description" : "Gets default work item configurations that exist for the application",
        "operationId" : "WorkItemConfigurations_GetDefault",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Application Insights component resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkItemConfiguration"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/WorkItemConfigs" : {
      "get" : {
        "description" : "Gets the list work item configurations that exist for the application",
        "operationId" : "WorkItemConfigurations_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Application Insights component resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkItemConfigurationsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkItemConfigurationError"
                }
              }
            }
          }
        }
      },
      "post" : {
        "description" : "Create a work item configuration for an Application Insights component.",
        "operationId" : "WorkItemConfigurations_Create",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Application Insights component resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Properties that need to be specified to create a work item configuration of a Application Insights component.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WorkItemCreateConfiguration"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "An object containing the work item configuration definition created by this PUT call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkItemConfiguration"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/WorkItemConfigs/{workItemConfigId}" : {
      "get" : {
        "description" : "Gets specified work item configuration for an Application Insights component.",
        "operationId" : "WorkItemConfigurations_GetItem",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Application Insights component resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workItemConfigId",
          "in" : "path",
          "description" : "The unique work item configuration Id. This can be either friendly name of connector as defined in connector configuration",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkItemConfiguration"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "description" : "Delete a work item configuration of an Application Insights component.",
        "operationId" : "WorkItemConfigurations_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Application Insights component resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workItemConfigId",
          "in" : "path",
          "description" : "The unique work item configuration Id. This can be either friendly name of connector as defined in connector configuration",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The work item configuration that was successfully deleted."
          }
        }
      },
      "patch" : {
        "description" : "Update a work item configuration for an Application Insights component.",
        "operationId" : "WorkItemConfigurations_UpdateItem",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Application Insights component resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workItemConfigId",
          "in" : "path",
          "description" : "The unique work item configuration Id. This can be either friendly name of connector as defined in connector configuration",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Properties that need to be specified to update a work item configuration for this Application Insights component.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WorkItemCreateConfiguration"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation indicating the config updated by this PATCH call.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkItemConfiguration"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "InnerError" : {
        "type" : "object",
        "properties" : {
          "diagnosticcontext" : {
            "type" : "string",
            "description" : "Provides correlation for request"
          },
          "time" : {
            "type" : "string",
            "description" : "Request time",
            "format" : "date-time"
          }
        },
        "description" : "Inner error"
      },
      "WorkItemConfiguration" : {
        "type" : "object",
        "properties" : {
          "ConfigDisplayName" : {
            "type" : "string",
            "description" : "Configuration friendly name"
          },
          "ConfigProperties" : {
            "type" : "string",
            "description" : "Serialized JSON object for detailed properties"
          },
          "ConnectorId" : {
            "type" : "string",
            "description" : "Connector identifier where work item is created"
          },
          "Id" : {
            "type" : "string",
            "description" : "Unique Id for work item"
          },
          "IsDefault" : {
            "type" : "boolean",
            "description" : "Boolean value indicating whether configuration is default"
          }
        },
        "description" : "Work item configuration associated with an application insights resource."
      },
      "WorkItemConfigurationError" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error detail code and explanation"
          },
          "innererror" : {
            "$ref" : "#/components/schemas/InnerError"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message"
          }
        },
        "description" : "Error associated with trying to get work item configuration or configurations"
      },
      "WorkItemConfigurationsListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "An array of work item configurations.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/WorkItemConfiguration"
            }
          }
        },
        "description" : "Work item configuration list result."
      },
      "WorkItemCreateConfiguration" : {
        "type" : "object",
        "properties" : {
          "ConnectorDataConfiguration" : {
            "type" : "string",
            "description" : "Serialized JSON object for detailed properties"
          },
          "ConnectorId" : {
            "type" : "string",
            "description" : "Unique connector id"
          },
          "ValidateOnly" : {
            "type" : "boolean",
            "description" : "Boolean indicating validate only"
          },
          "WorkItemProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Custom work item properties"
          }
        },
        "description" : "Work item configuration creation payload"
      }
    },
    "parameters" : {
      "ResourceNameParameter" : {
        "name" : "resourceName",
        "in" : "path",
        "description" : "The name of the Application Insights component resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "WorkItemConfigIdParameter" : {
        "name" : "workItemConfigId",
        "in" : "path",
        "description" : "The unique work item configuration Id. This can be either friendly name of connector as defined in connector configuration",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}