{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AutomationManagement",
    "version" : "2018-01-15"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations" : {
      "get" : {
        "tags" : [ "DscNodeConfiguration" ],
        "description" : "Retrieve a list of dsc node configurations.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "operationId" : "DscNodeConfiguration_ListByAutomationAccount",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "The number of rows to skip.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "The number of rows to take.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Return total rows.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DscNodeConfigurationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations/{nodeConfigurationName}" : {
      "get" : {
        "tags" : [ "DscNodeConfiguration" ],
        "description" : "Retrieve the Dsc node configurations by node configuration.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "operationId" : "DscNodeConfiguration_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeConfigurationName",
          "in" : "path",
          "description" : "The Dsc node configuration name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DscNodeConfiguration"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DscNodeConfiguration" ],
        "description" : "Create the node configuration identified by node configuration name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "operationId" : "DscNodeConfiguration_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeConfigurationName",
          "in" : "path",
          "description" : "The Dsc node configuration name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The create or update parameters for configuration.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DscNodeConfigurationCreateOrUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DscNodeConfiguration"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "DscNodeConfiguration" ],
        "description" : "Delete the Dsc node configurations by node configuration.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "operationId" : "DscNodeConfiguration_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeConfigurationName",
          "in" : "path",
          "description" : "The Dsc node configuration name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ContentHash" : {
        "required" : [ "algorithm", "value" ],
        "type" : "object",
        "properties" : {
          "algorithm" : {
            "type" : "string",
            "description" : "Gets or sets the content hash algorithm used to hash the content."
          },
          "value" : {
            "type" : "string",
            "description" : "Gets or sets expected hash value of the content."
          }
        },
        "description" : "Definition of the runbook property type."
      },
      "ContentSource" : {
        "type" : "object",
        "properties" : {
          "hash" : {
            "$ref" : "#/components/schemas/ContentHash"
          },
          "type" : {
            "type" : "string",
            "description" : "Gets or sets the content source type.",
            "enum" : [ "embeddedContent", "uri" ]
          },
          "value" : {
            "type" : "string",
            "description" : "Gets or sets the value of the content. This is based on the content source type."
          },
          "version" : {
            "type" : "string",
            "description" : "Gets or sets the version of the content."
          }
        },
        "description" : "Definition of the content source."
      },
      "DscConfigurationAssociationProperty" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name of the Dsc configuration."
          }
        },
        "description" : "The Dsc configuration property associated with the entity."
      },
      "DscNodeConfiguration" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DscNodeConfigurationProperties"
          }
        },
        "description" : "Definition of the dsc node configuration.",
        "allOf" : [ {
          "description" : "ARM proxy resource.",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Fully qualified resource Id for the resource",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the resource.",
                "readOnly" : true
              }
            },
            "description" : "The core properties of ARM resources"
          } ]
        } ]
      },
      "DscNodeConfigurationCreateOrUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Name of the node configuration."
          },
          "properties" : {
            "$ref" : "#/components/schemas/DscNodeConfigurationCreateOrUpdateParametersProperties"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets the tags attached to the resource."
          }
        },
        "description" : "The parameters supplied to the create or update node configuration operation."
      },
      "DscNodeConfigurationCreateOrUpdateParametersProperties" : {
        "required" : [ "configuration", "source" ],
        "type" : "object",
        "properties" : {
          "configuration" : {
            "$ref" : "#/components/schemas/DscConfigurationAssociationProperty"
          },
          "incrementNodeConfigurationBuild" : {
            "type" : "boolean",
            "description" : "If a new build version of NodeConfiguration is required."
          },
          "source" : {
            "$ref" : "#/components/schemas/ContentSource"
          }
        },
        "description" : "The parameter properties supplied to the create or update node configuration operation."
      },
      "DscNodeConfigurationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets or sets the next link."
          },
          "totalCount" : {
            "type" : "integer",
            "description" : "Gets or sets the total rows in query."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets or sets a list of Dsc node configurations.",
            "items" : {
              "$ref" : "#/components/schemas/DscNodeConfiguration"
            }
          }
        },
        "description" : "The response model for the list job operation."
      },
      "DscNodeConfigurationProperties" : {
        "type" : "object",
        "properties" : {
          "configuration" : {
            "$ref" : "#/components/schemas/DscConfigurationAssociationProperty"
          },
          "creationTime" : {
            "type" : "string",
            "description" : "Gets or sets creation time.",
            "format" : "date-time",
            "nullable" : false
          },
          "incrementNodeConfigurationBuild" : {
            "type" : "boolean",
            "description" : "If a new build version of NodeConfiguration is required."
          },
          "lastModifiedTime" : {
            "type" : "string",
            "description" : "Gets or sets the last modified time.",
            "format" : "date-time",
            "nullable" : false
          },
          "nodeCount" : {
            "type" : "integer",
            "description" : "Number of nodes with this node configuration assigned",
            "format" : "int64"
          },
          "source" : {
            "type" : "string",
            "description" : "Source of node configuration."
          }
        },
        "description" : "Properties for the DscNodeConfiguration"
      },
      "DscNodeExtensionHandlerAssociationProperty" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name of the extension handler."
          },
          "version" : {
            "type" : "string",
            "description" : "Gets or sets the version of the extension handler."
          }
        },
        "description" : "The dsc extensionHandler property associated with the node"
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}