{"openapi":"3.0.1","info":{"title":"Azure Log Analytics - Operations Management","description":"Azure Log Analytics API reference for Solution.","version":"2015-11-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.OperationsManagement/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available OperationsManagement Rest API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/ManagementAssociations":{"get":{"tags":["ManagementAssociation"],"summary":"Retrieves the ManagementAssociations list for the subscription","description":"Retrieves the ManagementAssociations list.","operationId":"ManagementAssociations_ListBySubscription","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagementAssociationPropertiesList"}}}},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/ManagementConfigurations":{"get":{"tags":["ManagementConfiguration"],"summary":"Retrieves the ManagementConfigurations list for the subscription","description":"Retrieves the ManagementConfigurations list.","operationId":"ManagementConfigurations_ListBySubscription","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagementConfigurationPropertiesList"}}}},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/solutions":{"get":{"tags":["Solution"],"summary":"Retrieves the solution list for the subscription","description":"Retrieves the solution list. It will retrieve both first party and third party solutions","operationId":"Solutions_ListBySubscription","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SolutionPropertiesList"}}}},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/ManagementConfigurations/{managementConfigurationName}":{"get":{"tags":["ManagementConfiguration"],"summary":"Retrieve ManagementConfiguration.","description":"Retrieves the user ManagementConfiguration.","operationId":"ManagementConfigurations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"managementConfigurationName","in":"path","description":"User Management Configuration Name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagementConfiguration"}}}},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}},"put":{"tags":["ManagementConfiguration"],"summary":"Create/Update ManagementConfiguration.","description":"Creates or updates the ManagementConfiguration.","operationId":"ManagementConfigurations_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"managementConfigurationName","in":"path","description":"User Management Configuration Name.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters required to create OMS Solution.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagementConfiguration"}}},"required":true},"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagementConfiguration"}}}},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}},"delete":{"tags":["ManagementConfiguration"],"summary":"Deletes the ManagementConfiguration","description":"Deletes the ManagementConfiguration in the subscription.","operationId":"ManagementConfigurations_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"managementConfigurationName","in":"path","description":"User Management Configuration Name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition."},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions":{"get":{"tags":["Solution"],"summary":"Retrieves the solution list for the subscription","description":"Retrieves the solution list. It will retrieve both first party and third party solutions","operationId":"Solutions_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SolutionPropertiesList"}}}},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions/{solutionName}":{"get":{"tags":["Solution"],"summary":"Retrieve solution.","description":"Retrieves the user solution.","operationId":"Solutions_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"User Solution Name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Solution"}}}},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}},"put":{"tags":["Solution"],"summary":"Create/Update Solution.","description":"Creates or updates the Solution.","operationId":"Solutions_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"solutionName","in":"path","description":"User Solution Name.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters required to create OMS Solution.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Solution"}}},"required":true},"responses":{"201":{"description":"Created response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Solution"}}}},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}},"delete":{"tags":["Solution"],"summary":"Deletes the solution","description":"Deletes the solution in the subscription.","operationId":"Solutions_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"solutionName","in":"path","description":"User Solution Name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition."},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}},"patch":{"tags":["Solution"],"summary":"Patch a Solution.","description":"Patch a Solution. Only updating tags supported.","operationId":"Solutions_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"solutionName","in":"path","description":"User Solution Name.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters required to patch a Solution.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SolutionPatch"}}},"required":true},"responses":{"200":{"description":"Patch succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Solution"}}}},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.OperationsManagement/ManagementAssociations/{managementAssociationName}":{"get":{"tags":["ManagementAssociation"],"summary":"Retrieve ManagementAssociation.","description":"Retrieves the user ManagementAssociation.","operationId":"ManagementAssociations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"providerName","in":"path","description":"Provider name for the parent resource.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type for the parent resource","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Parent resource name.","required":true,"schema":{"type":"string"}},{"name":"managementAssociationName","in":"path","description":"User ManagementAssociation Name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagementAssociation"}}}},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}},"put":{"tags":["ManagementAssociation"],"summary":"Create/Update ManagementAssociation.","description":"Creates or updates the ManagementAssociation.","operationId":"ManagementAssociations_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Provider name for the parent resource.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type for the parent resource","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Parent resource name.","required":true,"schema":{"type":"string"}},{"name":"managementAssociationName","in":"path","description":"User ManagementAssociation Name.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters required to create ManagementAssociation extension.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagementAssociation"}}},"required":true},"responses":{"200":{"description":"OK response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagementAssociation"}}}},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}},"delete":{"tags":["ManagementAssociation"],"summary":"Deletes the ManagementAssociation","description":"Deletes the ManagementAssociation in the subscription.","operationId":"ManagementAssociations_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"providerName","in":"path","description":"Provider name for the parent resource.","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type for the parent resource","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Parent resource name.","required":true,"schema":{"type":"string"}},{"name":"managementAssociationName","in":"path","description":"User ManagementAssociation Name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response definition."},"default":{"description":"Error response definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeMessageError"}}}}}}}},"components":{"schemas":{"ArmTemplateParameter":{"type":"object","properties":{"name":{"type":"string","description":"name of the parameter."},"value":{"type":"string","description":"value for the parameter. In Jtoken "}},"description":"Parameter to pass to ARM template"},"CodeMessageError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"The error type."},"message":{"type":"string","description":"The error message."}},"description":"The error details for a failed request."}},"description":"The error body contract."},"ManagementAssociation":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name.","readOnly":true},"properties":{"$ref":"#/components/schemas/ManagementAssociationProperties"},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"The container for solution."},"ManagementAssociationProperties":{"required":["applicationId"],"type":"object","properties":{"applicationId":{"type":"string","description":"The applicationId of the appliance for this association."}},"description":"ManagementAssociation properties supported by the OperationsManagement resource provider."},"ManagementAssociationPropertiesList":{"type":"object","properties":{"value":{"type":"array","description":"List of Management Association properties within the subscription.","items":{"$ref":"#/components/schemas/ManagementAssociation"}}},"description":"the list of ManagementAssociation response"},"ManagementConfiguration":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name.","readOnly":true},"properties":{"$ref":"#/components/schemas/ManagementConfigurationProperties"},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"The container for solution."},"ManagementConfigurationProperties":{"required":["parameters","parentResourceType","template"],"type":"object","properties":{"applicationId":{"type":"string","description":"The applicationId of the appliance for this Management."},"parameters":{"type":"array","description":"Parameters to run the ARM template","items":{"$ref":"#/components/schemas/ArmTemplateParameter"}},"parentResourceType":{"type":"string","description":"The type of the parent resource."},"provisioningState":{"type":"string","description":"The provisioning state for the ManagementConfiguration.","readOnly":true},"template":{"type":"object","description":"The Json object containing the ARM template to deploy"}},"description":"ManagementConfiguration properties supported by the OperationsManagement resource provider."},"ManagementConfigurationPropertiesList":{"type":"object","properties":{"value":{"type":"array","description":"List of Management Configuration properties within the subscription.","items":{"$ref":"#/components/schemas/ManagementConfiguration"}}},"description":"the list of ManagementConfiguration response"},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"operation":{"type":"string","description":"Type of operation: get, read, delete, etc."},"provider":{"type":"string","description":"Service provider: Microsoft OperationsManagement."},"resource":{"type":"string","description":"Resource on which the operation is performed etc."}},"description":"Display metadata associated with the operation."},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"}},"description":"Supported operation of OperationsManagement resource provider."},"OperationListResult":{"type":"object","properties":{"value":{"type":"array","description":"List of solution operations supported by the OperationsManagement resource provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list solution operations."},"Solution":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"location":{"type":"string","description":"Resource location"},"name":{"type":"string","description":"Resource name.","readOnly":true},"plan":{"$ref":"#/components/schemas/SolutionPlan"},"properties":{"$ref":"#/components/schemas/SolutionProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"The container for solution."},"SolutionPatch":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags"}},"description":"The properties of a Solution that can be patched."},"SolutionPlan":{"type":"object","properties":{"name":{"type":"string","description":"name of the solution to be created. For Microsoft published solution it should be in the format of solutionType(workspaceName). SolutionType part is case sensitive. For third party solution, it can be anything."},"product":{"type":"string","description":"name of the solution to enabled/add. For Microsoft published gallery solution it should be in the format of OMSGallery/<solutionType>. This is case sensitive"},"promotionCode":{"type":"string","description":"promotionCode, Not really used now, can you left as empty"},"publisher":{"type":"string","description":"Publisher name. For gallery solution, it is Microsoft."}},"description":"Plan for solution object supported by the OperationsManagement resource provider."},"SolutionProperties":{"required":["workspaceResourceId"],"type":"object","properties":{"containedResources":{"type":"array","description":"The azure resources that will be contained within the solutions. They will be locked and gets deleted automatically when the solution is deleted.","items":{"type":"string","description":"the azure resourceId of the resource."}},"provisioningState":{"type":"string","description":"The provisioning state for the solution.","readOnly":true},"referencedResources":{"type":"array","description":"The resources that will be referenced from this solution. Deleting any of those solution out of band will break the solution.","items":{"type":"string","description":"the azure resourceId of the resource."}},"workspaceResourceId":{"type":"string","description":"The azure resourceId for the workspace where the solution will be deployed/enabled."}},"description":"Solution properties supported by the OperationsManagement resource provider."},"SolutionPropertiesList":{"type":"object","properties":{"value":{"type":"array","description":"List of solution properties within the subscription.","items":{"$ref":"#/components/schemas/Solution"}}},"description":"the list of solution response"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"ManagementAssociationNameParameter":{"name":"managementAssociationName","in":"path","description":"User ManagementAssociation Name.","required":true,"schema":{"type":"string"}},"ManagementConfigurationNameParameter":{"name":"managementConfigurationName","in":"path","description":"User Management Configuration Name.","required":true,"schema":{"type":"string"}},"ProviderNameParameter":{"name":"providerName","in":"path","description":"Provider name for the parent resource.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group to get. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},"ResourceNameParameter":{"name":"resourceName","in":"path","description":"Parent resource name.","required":true,"schema":{"type":"string"}},"ResourceTypeParameter":{"name":"resourceType","in":"path","description":"Resource type for the parent resource","required":true,"schema":{"type":"string"}},"SolutionNameParameter":{"name":"solutionName","in":"path","description":"User Solution Name.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}