{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CommerceManagementClient",
    "description" : "The Admin Commerce Management Client.",
    "version" : "2015-06-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce/subscriberUsageAggregates" : {
      "get" : {
        "tags" : [ "Commerce" ],
        "description" : "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from direct tenants.",
        "operationId" : "SubscriberUsageAggregates_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2015-06-01-preview"
          }
        }, {
          "name" : "reportedStartTime",
          "in" : "query",
          "description" : "The reported start time (inclusive).",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "reportedEndTime",
          "in" : "query",
          "description" : "The reported end time (exclusive).",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "aggregationGranularity",
          "in" : "query",
          "description" : "The aggregation granularity.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberId",
          "in" : "query",
          "description" : "The tenant subscription identifier.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "continuationToken",
          "in" : "query",
          "description" : "The continuation token.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageAggregatePage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "URI of the resource.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Location where resource is location.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the resource.",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "List of key value pairs.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Type of resource.",
            "readOnly" : true
          }
        },
        "description" : "Base Resource Object"
      },
      "UsageAggregate" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/UsageAggregateModel"
          }
        },
        "description" : "Aggregate usage values for resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "UsageAggregateModel" : {
        "type" : "object",
        "properties" : {
          "instanceData" : {
            "type" : "string",
            "description" : "Key-value pairs of instance details represented as a string."
          },
          "meterId" : {
            "type" : "string",
            "description" : "Unique ID for the resource that was consumed (aka ResourceID)."
          },
          "quantity" : {
            "type" : "string",
            "description" : "The amount of the resource consumption that occurred in this time frame."
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "Subscription id of tenant using plan."
          },
          "usageEndTime" : {
            "type" : "string",
            "description" : "UTC end time for the usage bucket to which this usage aggregate belongs.",
            "format" : "date-time"
          },
          "usageStartTime" : {
            "type" : "string",
            "description" : "UTC start time for the usage bucket to which this usage aggregate belongs.",
            "format" : "date-time"
          }
        },
        "description" : "Properties for aggregate usage."
      },
      "UsageAggregatePage" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Continuation token"
          },
          "value" : {
            "type" : "array",
            "description" : "Array of usage aggregates.",
            "items" : {
              "$ref" : "#/components/schemas/UsageAggregate"
            }
          }
        },
        "description" : "Holds an array of usage aggregates and the continuation token."
      }
    },
    "parameters" : {
      "AggregationGranularityParameter" : {
        "name" : "aggregationGranularity",
        "in" : "query",
        "description" : "The aggregation granularity.",
        "schema" : {
          "type" : "string"
        }
      },
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "default" : "2015-06-01-preview"
        }
      },
      "ContinuationTokenParameter" : {
        "name" : "continuationToken",
        "in" : "query",
        "description" : "The continuation token.",
        "schema" : {
          "type" : "string"
        }
      },
      "ReportedEndTimeParameter" : {
        "name" : "reportedEndTime",
        "in" : "query",
        "description" : "The reported end time (exclusive).",
        "required" : true,
        "schema" : {
          "type" : "string",
          "format" : "date-time"
        }
      },
      "ReportedStartTimeParameter" : {
        "name" : "reportedStartTime",
        "in" : "query",
        "description" : "The reported start time (inclusive).",
        "required" : true,
        "schema" : {
          "type" : "string",
          "format" : "date-time"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "TenantSubscriptionIdParameter" : {
        "name" : "subscriberId",
        "in" : "query",
        "description" : "The tenant subscription identifier.",
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}