{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/serviceTags" : {
      "get" : {
        "description" : "Gets a list of service tag information resources.",
        "operationId" : "ServiceTags_List",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "description" : "The location that will be used as a reference for version (not as a filter based on location, you will get the list of service tags with prefix details across all regions but limited to the cloud that your subscription belongs to).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. Returns a list of service tag information resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceTagsListResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ServiceTagInformation" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of service tag.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of service tag.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/ServiceTagInformationPropertiesFormat"
          }
        },
        "description" : "The service tag information."
      },
      "ServiceTagInformationPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "addressPrefixes" : {
            "type" : "array",
            "description" : "The list of IP address prefixes.",
            "readOnly" : true,
            "items" : {
              "type" : "string"
            }
          },
          "changeNumber" : {
            "type" : "string",
            "description" : "The iteration number of service tag.",
            "readOnly" : true
          },
          "region" : {
            "type" : "string",
            "description" : "The region of service tag.",
            "readOnly" : true
          },
          "systemService" : {
            "type" : "string",
            "description" : "The name of system service.",
            "readOnly" : true
          }
        },
        "description" : "Properties of the service tag information."
      },
      "ServiceTagsListResult" : {
        "type" : "object",
        "properties" : {
          "changeNumber" : {
            "type" : "string",
            "description" : "The iteration number.",
            "readOnly" : true
          },
          "cloud" : {
            "type" : "string",
            "description" : "The name of the cloud.",
            "readOnly" : true
          },
          "id" : {
            "type" : "string",
            "description" : "The ID of the cloud.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the cloud.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "The azure resource type.",
            "readOnly" : true
          },
          "values" : {
            "type" : "array",
            "description" : "The list of service tag information resources.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ServiceTagInformation"
            }
          }
        },
        "description" : "Response for the ListServiceTags API service call."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}