{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Tradematic Cloud API",
    "description" : "### Overview\nTradematic Cloud is a trading infrastructure for building investment services.\n\nIt’s a trading engine + API + ready-made adapters to stock and forex brokers, crypto exchanges, and market data providers.\n\nYou can use it as a cloud API, or you can deploy it on your servers. \n\n\n\n### How to use Tradematic Cloud API\n\nSign up at [tradematic.cloud](https://tradematic.cloud). After signing up, you will receive your API key.\n\n### Authorization\n\nAdd the 'X-API-KEY' header with your API key to each request.\n\n### Examples of writing code with Tradematic Cloud API\n\nExamples are available at [tradematic.cloud](https://tradematic.cloud). \n\n### Swagger (.yaml) File\nSwagger (.yaml) file can be found [here](http://tradematic.cloud/sdk/swagger.yaml).\n",
    "contact" : {
      "email" : "support@tradematic.com"
    },
    "version" : "1.0.2"
  },
  "servers" : [ {
    "url" : "https://api.tradematic.com/"
  } ],
  "tags" : [ {
    "name" : "Status API",
    "description" : "Server status"
  }, {
    "name" : "Client API",
    "description" : "Clients management"
  }, {
    "name" : "Autofollow API",
    "description" : "Trading signals and copy trading"
  }, {
    "name" : "TaskManager API",
    "description" : "Backtest and optimization tasks management"
  }, {
    "name" : "Builder API",
    "description" : "Strategy builder"
  }, {
    "name" : "News API",
    "description" : "News"
  }, {
    "name" : "MarketData API",
    "description" : "Market data"
  }, {
    "name" : "Cloud API",
    "description" : "Trading"
  } ],
  "paths" : {
    "/autofollow/strategies" : {
      "get" : {
        "tags" : [ "Autofollow API" ],
        "summary" : "Get autofollow strategies list",
        "description" : "Get autofollow strategies list",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Strategy"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      },
      "post" : {
        "tags" : [ "Autofollow API" ],
        "summary" : "Create new autofollow strategy",
        "description" : "Create new autofollow strategy",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "strategy" : {
                    "$ref" : "#/components/schemas/NewStrategy"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "strategyid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/autofollow/strategies/{strategyid}" : {
      "get" : {
        "tags" : [ "Autofollow API" ],
        "summary" : "Get autofollow strategy by ID",
        "description" : "Get autofollow strategy by ID",
        "parameters" : [ {
          "name" : "strategyid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Strategy"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      },
      "put" : {
        "tags" : [ "Autofollow API" ],
        "summary" : "Update autofollow strategy",
        "description" : "Update autofollow strategy",
        "parameters" : [ {
          "name" : "strategyid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "strategy" : {
                    "$ref" : "#/components/schemas/UpdatedStrategy"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "result" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/autofollow/strategies/{strategyid}/content" : {
      "put" : {
        "tags" : [ "Autofollow API" ],
        "summary" : "Update rules for strategy that was created with strategy builder",
        "description" : "Update rules for strategy that was created with strategy builder",
        "parameters" : [ {
          "name" : "strategyid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "strategy" : {
                    "$ref" : "#/components/schemas/UpdatedStrategyContent"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "strategyid" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/autofollow/strategies/{strategyid}/positions" : {
      "get" : {
        "tags" : [ "Autofollow API" ],
        "summary" : "Get positions for strategy",
        "description" : "Get positions for strategy",
        "parameters" : [ {
          "name" : "strategyid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/StrategyPosition"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/autofollow/strategies/{strategyid}/signals" : {
      "get" : {
        "tags" : [ "Autofollow API" ],
        "summary" : "Get trading signals for strategy",
        "description" : "Get trading signals for strategy",
        "parameters" : [ {
          "name" : "strategyid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "count",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Signal"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      },
      "post" : {
        "tags" : [ "Autofollow API" ],
        "summary" : "Send a new signal for autofollow strategy",
        "description" : "Send a new signal for autofollow strategy",
        "parameters" : [ {
          "name" : "strategyid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "signal" : {
                    "$ref" : "#/components/schemas/NewSignal"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "signalid" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/builder/rules" : {
      "get" : {
        "tags" : [ "Builder API" ],
        "summary" : "Get strategy builder rules list",
        "description" : "Get strategy builder rules list",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Rule"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/builder/rules/{ruleid}" : {
      "get" : {
        "tags" : [ "Builder API" ],
        "summary" : "Get strategy builder rules by ID",
        "description" : "Get strategy builder rules by ID",
        "parameters" : [ {
          "name" : "ruleid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Rule"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/client/apikeys" : {
      "get" : {
        "tags" : [ "Client API" ],
        "summary" : "Get API keys",
        "description" : "Get API keys",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/APIKey"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      },
      "post" : {
        "tags" : [ "Client API" ],
        "summary" : "Create new API key",
        "description" : "Create new API key",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "key" : {
                      "type" : "string"
                    },
                    "keyid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/client/apikeys/{keyid}" : {
      "delete" : {
        "tags" : [ "Client API" ],
        "summary" : "Delete API key",
        "description" : "Delete API key",
        "parameters" : [ {
          "name" : "keyid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "keyid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/client/users" : {
      "get" : {
        "tags" : [ "Client API" ],
        "summary" : "Get users list",
        "description" : "Get users list",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/client/users/login" : {
      "post" : {
        "tags" : [ "Client API" ],
        "summary" : "Logs user into the system",
        "description" : "Logs user into the system",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "name" : {
                      "type" : "string"
                    },
                    "userid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/client/users/register" : {
      "post" : {
        "tags" : [ "Client API" ],
        "summary" : "Register a new user",
        "description" : "Register a new user",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "user" : {
                    "$ref" : "#/components/schemas/NewUser"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "userid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/client/users/{userid}" : {
      "get" : {
        "tags" : [ "Client API" ],
        "summary" : "Get user by ID",
        "description" : "Get user by ID",
        "parameters" : [ {
          "name" : "userid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/accounts" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get trading accounts list",
        "description" : "Get trading accounts list",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/accounts/{accountid}" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get trading account by ID",
        "description" : "Get trading account by ID",
        "parameters" : [ {
          "name" : "accountid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/accounts/{accountid}/closeall" : {
      "post" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Close all positions by account",
        "description" : "Close all positions by account",
        "parameters" : [ {
          "name" : "accountid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "commandid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/accounts/{accountid}/orders" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get orders list by account",
        "description" : "Get orders list by account",
        "parameters" : [ {
          "name" : "accountid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      },
      "post" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Place a new order",
        "description" : "Place a new order",
        "parameters" : [ {
          "name" : "accountid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "order" : {
                    "$ref" : "#/components/schemas/NewOrder"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "commandid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/accounts/{accountid}/orders/{orderid}" : {
      "delete" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Cancel an order by ID",
        "description" : "Cancel an order by ID",
        "parameters" : [ {
          "name" : "accountid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "orderid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "commandid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/accounts/{accountid}/snapshots" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get account equity and cash snapshots",
        "description" : "Get account equity and cash snapshots",
        "parameters" : [ {
          "name" : "accountid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Snapshot"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/accounts/{accountid}/sync" : {
      "post" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Syhchronize an account with account active strategies",
        "description" : "Syhchronize an account with account active strategies",
        "parameters" : [ {
          "name" : "accountid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "commandid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/accounts/{accountid}/trades" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get trades list by account",
        "description" : "Get trades list by account",
        "parameters" : [ {
          "name" : "accountid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Trade"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/commands" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get commands list",
        "description" : "Get commands list",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Command"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/commands/{commandid}" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get command by ID",
        "description" : "Get command by ID",
        "parameters" : [ {
          "name" : "commandid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Command"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/connections" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get connections list",
        "description" : "Get connections list",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Connection"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      },
      "post" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Create a new connection",
        "description" : "Create a new connection",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "connection" : {
                    "$ref" : "#/components/schemas/UpdatedConnection"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "connectionid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/connections/{connectionid}" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get connection by ID",
        "description" : "Get connection by ID",
        "parameters" : [ {
          "name" : "connectionid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Connection"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      },
      "put" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Update existing connection",
        "description" : "Update existing connection",
        "parameters" : [ {
          "name" : "connectionid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "connection" : {
                    "$ref" : "#/components/schemas/UpdatedConnection"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "connectionid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      },
      "delete" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Delete connection by ID",
        "description" : "Delete connection by ID",
        "parameters" : [ {
          "name" : "connectionid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "connectionid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/connectors" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get available connectors list",
        "description" : "Get available connectors list",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Connector"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/connectors/{connectorid}" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get connector by ID",
        "description" : "Get connector by ID",
        "parameters" : [ {
          "name" : "connectorid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Connector"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/sessions" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get sessions list",
        "description" : "Get sessions list",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Session"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/sessions/{sessionid}" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get session by ID",
        "description" : "Get session by ID",
        "parameters" : [ {
          "name" : "sessionid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Session"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/strategies" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get list of active (executing) strategies",
        "description" : "Get list of active (executing) strategies",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CloudStrategy"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/strategies/start" : {
      "post" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Start a strategy execution for account",
        "description" : "Start a strategy execution for account",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "data" : {
                    "$ref" : "#/components/schemas/StartStrategyData"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "commandid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/strategies/{strategyid}" : {
      "get" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Get active (executing) strategy by ID",
        "description" : "Get active (executing) strategy by ID",
        "parameters" : [ {
          "name" : "strategyid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CloudStrategy"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/cloud/strategies/{strategyid}/stop" : {
      "post" : {
        "tags" : [ "Cloud API" ],
        "summary" : "Stop a strategy execution by ID",
        "description" : "Stop a strategy execution by ID",
        "parameters" : [ {
          "name" : "strategyid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "commandid" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/marketdata/markets" : {
      "get" : {
        "tags" : [ "MarketData API" ],
        "summary" : "Get markets list",
        "description" : "Get markets list",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Market"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/marketdata/markets/{marketid}" : {
      "get" : {
        "tags" : [ "MarketData API" ],
        "summary" : "Get market by ID",
        "description" : "Get market by ID",
        "parameters" : [ {
          "name" : "marketid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Market"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/marketdata/symbols" : {
      "get" : {
        "tags" : [ "MarketData API" ],
        "summary" : "Get symbols list",
        "description" : "Get symbols list",
        "parameters" : [ {
          "name" : "marketid",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Symbol"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/marketdata/symbols/{symbolid}" : {
      "get" : {
        "tags" : [ "MarketData API" ],
        "summary" : "Get symbol by ID",
        "description" : "Get symbol by ID",
        "parameters" : [ {
          "name" : "symbolid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Symbol"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/marketdata/symbols/{symbolid}/histdata" : {
      "get" : {
        "tags" : [ "MarketData API" ],
        "summary" : "Get historical data for instrument",
        "description" : "Get historical data for instrument",
        "parameters" : [ {
          "name" : "symbolid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "tf",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "adjusted" : {
                      "type" : "boolean"
                    },
                    "queryCount" : {
                      "type" : "integer"
                    },
                    "results" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Result"
                      }
                    },
                    "resultsCount" : {
                      "type" : "integer"
                    },
                    "status" : {
                      "type" : "string"
                    },
                    "ticker" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/news/news" : {
      "get" : {
        "tags" : [ "News API" ],
        "summary" : "Get news list",
        "description" : "Get news list",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/News"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/news/news/{newsid}" : {
      "get" : {
        "tags" : [ "News API" ],
        "summary" : "Get news by ID",
        "description" : "Get news by ID",
        "parameters" : [ {
          "name" : "newsid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/News"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/ping" : {
      "get" : {
        "tags" : [ "Status API" ],
        "summary" : "Ping",
        "description" : "Ping",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get tasks list",
        "description" : "Get tasks list",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      },
      "post" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Create a new task",
        "description" : "Create a new task",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "task" : {
                    "$ref" : "#/components/schemas/NewTask"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "taskid" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get task by ID",
        "description" : "Get task by ID",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Task"
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/bymonths" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get backtest data for equity chart, grouped by months",
        "description" : "Get backtest data for equity chart, grouped by months",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ByMonths"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/byquarters" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get backtest data for equity chart, grouped by quarters",
        "description" : "Get backtest data for equity chart, grouped by quarters",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ByQuarters"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/byyears" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get backtest data for equity chart, grouped by years",
        "description" : "Get backtest data for equity chart, grouped by years",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ByYears"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/contribution" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get backtest symbol contribution data",
        "description" : "Get backtest symbol contribution data",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Contribution"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/drawdown" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get data for drawdown chart",
        "description" : "Get data for drawdown chart",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DrawdownItem"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/equity" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get data for equity chart",
        "description" : "Get data for equity chart",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EquityItem"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/equitypct" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get data for equity chart (%)",
        "description" : "Get data for equity chart (%)",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EquityPctItem"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/equitypctsm" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get spared data for equity chart (%)",
        "description" : "Get spared data for equity chart (%)",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EquityPctSmItem"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/folder" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get task result folder name",
        "description" : "Get task result folder name",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "folder" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/performance" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get backtest statistics",
        "description" : "Get backtest statistics",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "buyandhold" : {
                      "$ref" : "#/components/schemas/Longshort"
                    },
                    "long" : {
                      "$ref" : "#/components/schemas/Longshort"
                    },
                    "longshort" : {
                      "$ref" : "#/components/schemas/Longshort"
                    },
                    "short" : {
                      "$ref" : "#/components/schemas/Longshort"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/result" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get task result",
        "description" : "Get task result",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "bymonths_csv" : {
                      "type" : "string"
                    },
                    "bymonths_png" : {
                      "type" : "string"
                    },
                    "byquarters_csv" : {
                      "type" : "string"
                    },
                    "byquarters_png" : {
                      "type" : "string"
                    },
                    "byyears_csv" : {
                      "type" : "string"
                    },
                    "byyears_png" : {
                      "type" : "string"
                    },
                    "contribution_csv" : {
                      "type" : "string"
                    },
                    "contribution_png" : {
                      "type" : "string"
                    },
                    "drawdown_csv" : {
                      "type" : "string"
                    },
                    "drawdown_png" : {
                      "type" : "string"
                    },
                    "equity_csv" : {
                      "type" : "string"
                    },
                    "equity_png" : {
                      "type" : "string"
                    },
                    "equitypct_csv" : {
                      "type" : "string"
                    },
                    "equitypct_png" : {
                      "type" : "string"
                    },
                    "equitypctnofill_csv" : {
                      "type" : "string"
                    },
                    "equitypctnofill_png" : {
                      "type" : "string"
                    },
                    "equitypctsm" : {
                      "type" : "string"
                    },
                    "equitypctsm_csv" : {
                      "type" : "string"
                    },
                    "equitypctsm_png" : {
                      "type" : "string"
                    },
                    "performance_csv" : {
                      "type" : "string"
                    },
                    "performance_png" : {
                      "type" : "string"
                    },
                    "trades_csv" : {
                      "type" : "string"
                    },
                    "trades_png" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/result2" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get task result (version 2)",
        "description" : "Get task result (version 2)",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "apr" : {
                      "type" : "string"
                    },
                    "curMonthProfit" : {
                      "type" : "string"
                    },
                    "curYearProfit" : {
                      "type" : "string"
                    },
                    "drawdown" : {
                      "type" : "string"
                    },
                    "halfYearProfit" : {
                      "type" : "string"
                    },
                    "monthProfit" : {
                      "type" : "string"
                    },
                    "prevMonthProfit" : {
                      "type" : "string"
                    },
                    "totalProfit" : {
                      "type" : "string"
                    },
                    "weekProfit" : {
                      "type" : "string"
                    },
                    "yearProfit" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/status" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get task status",
        "description" : "Get task status",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/taskmanager/tasks/{taskid}/trades" : {
      "get" : {
        "tags" : [ "TaskManager API" ],
        "summary" : "Get backtest trades list",
        "description" : "Get backtest trades list",
        "parameters" : [ {
          "name" : "taskid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BacktestTrade"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    },
    "/time" : {
      "get" : {
        "tags" : [ "Status API" ],
        "summary" : "Get current server time",
        "description" : "Get current server time",
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "servertime" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "Secured" : null
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "APIKey" : {
        "type" : "object",
        "properties" : {
          "key" : {
            "type" : "string"
          },
          "keyid" : {
            "type" : "string"
          },
          "permissions" : {
            "type" : "string"
          }
        }
      },
      "Account" : {
        "type" : "object",
        "properties" : {
          "account" : {
            "type" : "string"
          },
          "accountid" : {
            "type" : "string"
          },
          "accounttypename" : {
            "type" : "string"
          },
          "cash" : {
            "type" : "string"
          },
          "change" : {
            "type" : "string"
          },
          "changepercent" : {
            "type" : "string"
          },
          "comments" : {
            "type" : "string"
          },
          "computer" : {
            "type" : "string"
          },
          "currencyid" : {
            "type" : "string"
          },
          "currencytext" : {
            "type" : "string"
          },
          "hwid" : {
            "type" : "string"
          },
          "positions" : {
            "$ref" : "#/components/schemas/Positions"
          },
          "positionspercent" : {
            "$ref" : "#/components/schemas/Positions"
          },
          "sessionid" : {
            "type" : "string"
          },
          "typeid" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        }
      },
      "BacktestTrade" : {
        "type" : "object",
        "properties" : {
          "barsheld" : {
            "type" : "string"
          },
          "changepct" : {
            "type" : "string"
          },
          "commission" : {
            "type" : "string"
          },
          "entrydatetime" : {
            "type" : "string"
          },
          "entryprice" : {
            "type" : "string"
          },
          "entrysignal" : {
            "type" : "string"
          },
          "exitdatetime" : {
            "type" : "string"
          },
          "exitprice" : {
            "type" : "string"
          },
          "exitsignal" : {
            "type" : "string"
          },
          "mae" : {
            "type" : "string"
          },
          "mfe" : {
            "type" : "string"
          },
          "pandl" : {
            "type" : "string"
          },
          "position" : {
            "type" : "string"
          },
          "shares" : {
            "type" : "string"
          },
          "size" : {
            "type" : "string"
          },
          "symbol" : {
            "type" : "string"
          }
        }
      },
      "ByMonths" : {
        "type" : "object",
        "properties" : {
          "equitypct" : {
            "type" : "string"
          },
          "period" : {
            "type" : "string"
          }
        }
      },
      "ByQuarters" : {
        "type" : "object",
        "properties" : {
          "equitypct" : {
            "type" : "string"
          },
          "period" : {
            "type" : "string"
          }
        }
      },
      "ByYears" : {
        "type" : "object",
        "properties" : {
          "equitypct" : {
            "type" : "string"
          },
          "period" : {
            "type" : "string"
          }
        }
      },
      "CloudStrategy" : {
        "type" : "object",
        "properties" : {
          "account" : {
            "type" : "string"
          },
          "computer" : {
            "type" : "string"
          },
          "hwid" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "status" : {
            "type" : "string"
          },
          "strategy" : {
            "type" : "string"
          },
          "strategyid" : {
            "type" : "string"
          },
          "strategystatusname" : {
            "type" : "string"
          }
        }
      },
      "Command" : {
        "type" : "object",
        "properties" : {
          "account" : {
            "type" : "string"
          },
          "accountid" : {
            "type" : "string"
          },
          "commanddate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "commandid" : {
            "type" : "string"
          },
          "commandstatusname" : {
            "type" : "string"
          },
          "commandtypename" : {
            "type" : "string"
          },
          "computer" : {
            "type" : "string"
          },
          "hwid" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "parameters" : {
            "$ref" : "#/components/schemas/Parameters"
          },
          "status" : {
            "type" : "string"
          },
          "timestamp" : {
            "type" : "string",
            "format" : "date-time"
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "Connection" : {
        "type" : "object",
        "properties" : {
          "active" : {
            "type" : "string"
          },
          "connectionid" : {
            "type" : "string"
          },
          "connectionstring" : {
            "type" : "string"
          },
          "connectorcode" : {
            "type" : "string"
          },
          "connectorid" : {
            "type" : "string"
          },
          "connectorname" : {
            "type" : "string"
          },
          "connectortypename" : {
            "type" : "string"
          },
          "creationdate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "host" : {
            "type" : "string"
          },
          "login" : {
            "type" : "string"
          },
          "password" : {
            "type" : "string"
          },
          "port" : {
            "type" : "string"
          },
          "sessionid" : {
            "type" : "string"
          },
          "updatedate" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Connector" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "connectorid" : {
            "type" : "string"
          },
          "connectortypename" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "typeid" : {
            "type" : "string"
          }
        }
      },
      "Contribution" : {
        "type" : "object",
        "properties" : {
          "pandl" : {
            "type" : "string"
          },
          "share" : {
            "type" : "string"
          },
          "symbol" : {
            "type" : "string"
          }
        }
      },
      "DrawdownItem" : {
        "type" : "object",
        "properties" : {
          "drawdownpct" : {
            "type" : "string"
          },
          "timestamp" : {
            "type" : "string"
          }
        }
      },
      "EquityItem" : {
        "type" : "object",
        "properties" : {
          "cash" : {
            "type" : "string"
          },
          "equity" : {
            "type" : "string"
          },
          "timestamp" : {
            "type" : "string"
          }
        }
      },
      "EquityPctItem" : {
        "type" : "object",
        "properties" : {
          "buyandhold" : {
            "type" : "string"
          },
          "equity" : {
            "type" : "string"
          },
          "timestamp" : {
            "type" : "string"
          }
        }
      },
      "EquityPctSmItem" : {
        "type" : "object",
        "properties" : {
          "buyandhold" : {
            "type" : "string"
          },
          "equity" : {
            "type" : "string"
          },
          "timestamp" : {
            "type" : "string"
          }
        }
      },
      "Error" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string"
          },
          "status" : {
            "type" : "integer"
          }
        }
      },
      "Longentry" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "parameters" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Parameter"
            }
          },
          "validnot" : {
            "type" : "string"
          },
          "validor" : {
            "type" : "string"
          }
        }
      },
      "Longexit" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "parameters" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Parameter"
            }
          },
          "validnot" : {
            "type" : "string"
          },
          "validor" : {
            "type" : "string"
          }
        }
      },
      "Longshort" : {
        "type" : "object",
        "properties" : {
          "apr" : {
            "type" : "string"
          },
          "avgbarsheld" : {
            "type" : "string"
          },
          "avgloss" : {
            "type" : "string"
          },
          "avglossbarsheld" : {
            "type" : "string"
          },
          "avglosspct" : {
            "type" : "string"
          },
          "avgprofit" : {
            "type" : "string"
          },
          "avgprofitavgloss" : {
            "type" : "string"
          },
          "avgprofitbarsheld" : {
            "type" : "string"
          },
          "avgprofitpct" : {
            "type" : "string"
          },
          "endcapital" : {
            "type" : "string"
          },
          "exposure" : {
            "type" : "string"
          },
          "grossloss" : {
            "type" : "string"
          },
          "grossprofit" : {
            "type" : "string"
          },
          "losingtrades" : {
            "type" : "string"
          },
          "losingtradespct" : {
            "type" : "string"
          },
          "mar" : {
            "type" : "string"
          },
          "margininterest" : {
            "type" : "string"
          },
          "maxconsecloss" : {
            "type" : "string"
          },
          "maxconsecwin" : {
            "type" : "string"
          },
          "maxdrawdown" : {
            "type" : "string"
          },
          "maxdrawdowndate" : {
            "type" : "string"
          },
          "maxdrawdownlength" : {
            "type" : "string"
          },
          "maxdrawdownpct" : {
            "type" : "string"
          },
          "maxdrawdownpctdate" : {
            "type" : "string"
          },
          "mpr" : {
            "type" : "string"
          },
          "netprofit" : {
            "type" : "string"
          },
          "netprofitpct" : {
            "type" : "string"
          },
          "profitabletrades" : {
            "type" : "string"
          },
          "profitabletradespct" : {
            "type" : "string"
          },
          "profitfactor" : {
            "type" : "string"
          },
          "profitriskratio" : {
            "type" : "string"
          },
          "rar" : {
            "type" : "string"
          },
          "recoveryfactor" : {
            "type" : "string"
          },
          "sharperatio" : {
            "type" : "string"
          },
          "sortinoratio" : {
            "type" : "string"
          },
          "startcapital" : {
            "type" : "string"
          },
          "totalcommission" : {
            "type" : "string"
          },
          "totaltrades" : {
            "type" : "string"
          },
          "totalvolume" : {
            "type" : "string"
          },
          "turnover" : {
            "type" : "string"
          }
        }
      },
      "Market" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "countryid" : {
            "type" : "string"
          },
          "marketid" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "NewOrder" : {
        "type" : "object",
        "properties" : {
          "buy" : {
            "type" : "string"
          },
          "price" : {
            "type" : "string"
          },
          "shares" : {
            "type" : "string"
          },
          "symbol" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "NewSignal" : {
        "type" : "object",
        "properties" : {
          "position" : {
            "type" : "string"
          },
          "price" : {
            "type" : "string"
          },
          "shares" : {
            "type" : "string"
          },
          "size" : {
            "type" : "string"
          },
          "symbol" : {
            "type" : "string"
          },
          "timestamp" : {
            "type" : "string",
            "format" : "date-time"
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "NewStrategy" : {
        "type" : "object",
        "properties" : {
          "apr" : {
            "type" : "string"
          },
          "author" : {
            "type" : "string"
          },
          "content" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "drawdown" : {
            "type" : "string"
          },
          "guid" : {
            "type" : "string"
          },
          "limitorder" : {
            "type" : "string"
          },
          "marketname" : {
            "type" : "string"
          },
          "multiposition" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "positionsize" : {
            "type" : "string"
          },
          "strategytypeid" : {
            "type" : "string"
          },
          "symbols" : {
            "type" : "string"
          },
          "timeframe" : {
            "type" : "string"
          }
        }
      },
      "NewTask" : {
        "type" : "object",
        "properties" : {
          "isbenchmark" : {
            "type" : "string"
          },
          "strategyid" : {
            "type" : "string"
          },
          "tasktypeid" : {
            "type" : "string"
          },
          "userid2" : {
            "type" : "string"
          }
        }
      },
      "NewUser" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "password" : {
            "type" : "string"
          },
          "username" : {
            "type" : "string"
          }
        }
      },
      "News" : {
        "type" : "object",
        "properties" : {
          "body" : {
            "type" : "string"
          },
          "newsid" : {
            "type" : "string"
          },
          "source" : {
            "type" : "string"
          },
          "timestamp" : {
            "type" : "string",
            "format" : "date-time"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
[...]
