{"openapi":"3.0.1","info":{"title":"PeeringManagementClient","description":"APIs to manage Peering resources through the Azure Resource Manager.","version":"2019-07-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Peering/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available API operations for peering resources.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Peering/CheckServiceProviderAvailability":{"post":{"tags":["CheckServiceProviderAvailability"],"description":"Checks if the peering service provider is present within 1000 distance of customer's location","operationId":"CheckServiceProviderAvailability","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The CheckServiceProviderAvailabilityInput.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckServiceProviderAvailabilityInput"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","enum":["Available","UnAvailable"]}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Peering/legacyPeerings":{"get":{"tags":["LegacyPeerings"],"description":"Lists all of the legacy peerings under the given subscription matching the specified kind and location.","operationId":"LegacyPeerings_List","parameters":[{"name":"peeringLocation","in":"query","description":"The location of the peering.","required":true,"schema":{"type":"string"}},{"name":"kind","in":"query","description":"The kind of the peering.","required":true,"schema":{"type":"string","enum":["Direct","Exchange"]}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringListResult"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns":{"get":{"tags":["PeerAsns"],"description":"Lists all of the peer ASNs under the given subscription.","operationId":"PeerAsns_ListBySubscription","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeerAsnListResult"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns/{peerAsnName}":{"get":{"tags":["PeerAsns"],"description":"Gets the peer ASN with the specified name under the given subscription.","operationId":"PeerAsns_Get","parameters":[{"name":"peerAsnName","in":"path","description":"The peer ASN name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeerAsn"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["PeerAsns"],"description":"Creates a new peer ASN or updates an existing peer ASN with the specified name under the given subscription.","operationId":"PeerAsns_CreateOrUpdate","parameters":[{"name":"peerAsnName","in":"path","description":"The peer ASN name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The peer ASN.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeerAsn"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeerAsn"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeerAsn"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["PeerAsns"],"description":"Deletes an existing peer ASN with the specified name under the given subscription.","operationId":"PeerAsns_Delete","parameters":[{"name":"peerAsnName","in":"path","description":"The peer ASN name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringLocations":{"get":{"tags":["PeeringLocations"],"description":"Lists all of the available peering locations for the specified kind of peering.","operationId":"PeeringLocations_List","parameters":[{"name":"kind","in":"query","description":"The kind of the peering.","required":true,"schema":{"type":"string","enum":["Direct","Exchange"]}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringLocationListResult"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceLocations":{"get":{"tags":["PeeringServiceLocations"],"description":"Lists all of the available peering service locations for the specified kind of peering.","operationId":"PeeringServiceLocations_List","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringServiceLocationListResult"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceProviders":{"get":{"tags":["PeeringServiceProviders"],"description":"Lists all of the available peering service locations for the specified kind of peering.","operationId":"PeeringServiceProviders_List","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringServiceProviderListResult"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServices":{"get":{"tags":["PeeringServices"],"description":"Lists all of the peerings under the given subscription.","operationId":"PeeringServices_ListBySubscription","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringServiceListResult"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerings":{"get":{"tags":["Peerings"],"description":"Lists all of the peerings under the given subscription.","operationId":"Peerings_ListBySubscription","parameters":[{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringListResult"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices":{"get":{"tags":["PeeringServices"],"description":"Lists all of the peering services under the given subscription and resource group.","operationId":"PeeringServices_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringServiceListResult"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}":{"get":{"tags":["PeeringServices"],"description":"Gets an existing peering service with the specified name under the given subscription and resource group.","operationId":"PeeringServices_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"peeringServiceName","in":"path","description":"The name of the peering.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringService"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["PeeringServices"],"description":"Creates a new peering service or updates an existing peering with the specified name under the given subscription and resource group.","operationId":"PeeringServices_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"peeringServiceName","in":"path","description":"The name of the peering service.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The properties needed to create or update a peering service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringService"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringService"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringService"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["PeeringServices"],"description":"Deletes an existing peering service with the specified name under the given subscription and resource group.","operationId":"PeeringServices_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"peeringServiceName","in":"path","description":"The name of the peering service.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"NoContent"},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["PeeringServices"],"description":"Updates tags for a peering service with the specified name under the given subscription and resource group.","operationId":"PeeringServices_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"peeringServiceName","in":"path","description":"The name of the peering service.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The resource tags.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceTags"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringService"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes":{"get":{"tags":["PeeringServicePrefixes"],"description":"Lists the peerings prefix in the resource group.","operationId":"Prefixes_ListByPeeringService","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"type":"string"}},{"name":"peeringServiceName","in":"path","description":"The peering service name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringServicePrefixListResult"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes/{prefixName}":{"get":{"tags":["PeeringServicePrefixes"],"description":"Gets the peering service prefix.","operationId":"PeeringServicePrefixes_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"type":"string"}},{"name":"peeringServiceName","in":"path","description":"The peering service name.","required":true,"schema":{"type":"string"}},{"name":"prefixName","in":"path","description":"The prefix name.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringServicePrefix"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["PeeringServicePrefixes"],"description":"Creates or updates the peering prefix.","operationId":"PeeringServicePrefixes_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"type":"string"}},{"name":"peeringServiceName","in":"path","description":"The peering service name.","required":true,"schema":{"type":"string"}},{"name":"prefixName","in":"path","description":"The prefix name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The IP prefix for an peering","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringServicePrefix"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringServicePrefix"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringServicePrefix"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["PeeringServicePrefixes"],"description":"removes the peering prefix.","operationId":"PeeringServicePrefixes_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The resource group name.","required":true,"schema":{"type":"string"}},{"name":"peeringServiceName","in":"path","description":"The peering service name.","required":true,"schema":{"type":"string"}},{"name":"prefixName","in":"path","description":"The prefix name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"NoContent"},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings":{"get":{"tags":["Peerings"],"description":"Lists all of the peerings under the given subscription and resource group.","operationId":"Peerings_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeeringListResult"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}":{"get":{"tags":["Peerings"],"description":"Gets an existing peering with the specified name under the given subscription and resource group.","operationId":"Peerings_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"peeringName","in":"path","description":"The name of the peering.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Peering"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Peerings"],"description":"Creates a new peering or updates an existing peering with the specified name under the given subscription and resource group.","operationId":"Peerings_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"peeringName","in":"path","description":"The name of the peering.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The properties needed to create or update a peering.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Peering"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Peering"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Peering"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Peerings"],"description":"Deletes an existing peering with the specified name under the given subscription and resource group.","operationId":"Peerings_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"peeringName","in":"path","description":"The name of the peering.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"NoContent"},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Peerings"],"description":"Updates tags for a peering with the specified name under the given subscription and resource group.","operationId":"Peerings_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"peeringName","in":"path","description":"The name of the peering.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The resource tags.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceTags"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Peering"}}}},"default":{"description":"Error response describing why the operation has failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"BgpSession":{"type":"object","properties":{"maxPrefixesAdvertisedV4":{"type":"integer","description":"The maximum number of prefixes advertised over the IPv4 session.","format":"int32"},"maxPrefixesAdvertisedV6":{"type":"integer","description":"The maximum number of prefixes advertised over the IPv6 session.","format":"int32"},"md5AuthenticationKey":{"type":"string","description":"The MD5 authentication key of the session."},"microsoftSessionIPv4Address":{"type":"string","description":"The IPv4 session address on Microsoft's end.","readOnly":true},"microsoftSessionIPv6Address":{"type":"string","description":"The IPv6 session address on Microsoft's end.","readOnly":true},"peerSessionIPv4Address":{"type":"string","description":"The IPv4 session address on peer's end."},"peerSessionIPv6Address":{"type":"string","description":"The IPv6 session address on peer's end."},"sessionPrefixV4":{"type":"string","description":"The IPv4 prefix that contains both ends' IPv4 addresses."},"sessionPrefixV6":{"type":"string","description":"The IPv6 prefix that contains both ends' IPv6 addresses."},"sessionStateV4":{"type":"string","description":"The state of the IPv4 session.","readOnly":true,"enum":["None","Idle","Connect","Active","OpenSent","OpenConfirm","OpenReceived","Established","PendingAdd","PendingUpdate","PendingRemove"]},"sessionStateV6":{"type":"string","description":"The state of the IPv6 session.","readOnly":true,"enum":["None","Idle","Connect","Active","OpenSent","OpenConfirm","OpenReceived","Established","PendingAdd","PendingUpdate","PendingRemove"]}},"description":"The properties that define a BGP session."},"CheckServiceProviderAvailabilityInput":{"type":"object","properties":{"peeringServiceLocation":{"type":"string","description":"Gets or sets the PeeringServiceLocation"},"peeringServiceProvider":{"type":"string","description":"Gets or sets the PeeringServiceProvider"}},"description":"Class for CheckServiceProviderAvailabilityInput"},"ContactInfo":{"type":"object","properties":{"emails":{"type":"array","description":"The list of email addresses.","items":{"type":"string"}},"phone":{"type":"array","description":"The list of contact numbers.","items":{"type":"string"}}},"description":"The contact information of the peer."},"DirectConnection":{"type":"object","properties":{"bandwidthInMbps":{"type":"integer","description":"The bandwidth of the connection.","format":"int32"},"bgpSession":{"$ref":"#/components/schemas/BgpSession"},"connectionIdentifier":{"type":"string","description":"The unique identifier (GUID) for the connection."},"connectionState":{"type":"string","description":"The state of the connection.","readOnly":true,"enum":["None","PendingApproval","Approved","ProvisioningStarted","ProvisioningFailed","ProvisioningCompleted","Validating","Active"]},"peeringDBFacilityId":{"type":"integer","description":"The PeeringDB.com ID of the facility at which the connection has to be set up.","format":"int32"},"provisionedBandwidthInMbps":{"type":"integer","description":"The bandwidth that is actually provisioned.","format":"int32"}},"description":"The properties that define a direct connection."},"DirectPeeringFacility":{"type":"object","properties":{"address":{"type":"string","description":"The address of the direct peering facility."},"peeringDBFacilityId":{"type":"integer","description":"The PeeringDB.com ID of the facility.","format":"int32"},"peeringDBFacilityLink":{"type":"string","description":"The PeeringDB.com URL of the facility."}},"description":"The properties that define a direct peering facility."},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"The error code.","readOnly":true},"message":{"type":"string","description":"The error message.","readOnly":true}},"description":"The error response that indicates why an operation has failed."},"ExchangeConnection":{"type":"object","properties":{"bgpSession":{"$ref":"#/components/schemas/BgpSession"},"connectionIdentifier":{"type":"string","description":"The unique identifier (GUID) for the connection."},"connectionState":{"type":"string","description":"The state of the connection.","readOnly":true,"enum":["None","PendingApproval","Approved","ProvisioningStarted","ProvisioningFailed","ProvisioningCompleted","Validating","Active"]},"peeringDBFacilityId":{"type":"integer","description":"The PeeringDB.com ID of the facility at which the connection has to be set up.","format":"int32"}},"description":"The properties that define an exchange connection."},"ExchangePeeringFacility":{"type":"object","properties":{"bandwidthInMbps":{"type":"integer","description":"The bandwidth of the connection between Microsoft and the exchange peering facility.","format":"int32"},"exchangeName":{"type":"string","description":"The name of the exchange peering facility."},"facilityIPv4Prefix":{"type":"string","description":"The IPv4 prefixes associated with the exchange peering facility."},"facilityIPv6Prefix":{"type":"string","description":"The IPv6 prefixes associated with the exchange peering facility."},"microsoftIPv4Address":{"type":"string","description":"The IPv4 address of Microsoft at the exchange peering facility."},"microsoftIPv6Address":{"type":"string","description":"The IPv6 address of Microsoft at the exchange peering facility."},"peeringDBFacilityId":{"type":"integer","description":"The PeeringDB.com ID of the facility.","format":"int32"},"peeringDBFacilityLink":{"type":"string","description":"The PeeringDB.com URL of the facility."}},"description":"The properties that define an exchange peering facility."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationDisplayInfo"},"isDataAction":{"type":"boolean","description":"The flag that indicates whether the operation applies to data plane.","readOnly":true},"name":{"type":"string","description":"The name of the operation.","readOnly":true}},"description":"The peering API operation."},"OperationDisplayInfo":{"type":"object","properties":{"description":{"type":"string","description":"The description of the operation.","readOnly":true},"operation":{"type":"string","description":"The name of the operation.","readOnly":true},"provider":{"type":"string","description":"The name of the resource provider.","readOnly":true},"resource":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The information related to the operation."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link to fetch the next page of peering API operations."},"value":{"type":"array","description":"The list of peering API operations.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"The paginated list of peering API operations."},"PeerAsn":{"properties":{"properties":{"$ref":"#/components/schemas/PeerAsnProperties"}},"description":"The essential information related to the peer's ASN.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"PeerAsnListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link to fetch the next page of peer ASNs."},"value":{"type":"array","description":"The list of peer ASNs.","items":{"$ref":"#/components/schemas/PeerAsn"}}},"description":"The paginated list of peer ASNs."},"PeerAsnProperties":{"type":"object","properties":{"peerAsn":{"type":"integer","description":"The Autonomous System Number (ASN) of the peer.","format":"int32"},"peerContactInfo":{"$ref":"#/components/schemas/ContactInfo"},"peerName":{"type":"string","description":"The name of the peer."},"validationState":{"type":"string","description":"The validation state of the ASN associated with the peer.","enum":["None","Pending","Approved","Failed"]}},"description":"The properties that define a peer's ASN."},"Peering":{"properties":{"kind":{"type":"string","description":"The kind of the peering.","enum":["Direct","Exchange"]},"location":{"type":"string","description":"The location of the resource."},"properties":{"$ref":"#/components/schemas/PeeringProperties"},"sku":{"$ref":"#/components/schemas/PeeringSku"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The resource tags."}},"description":"Peering is a logical representation of a set of connections to the Microsoft Cloud Edge at a location.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"PeeringBandwidthOffer":{"type":"object","properties":{"offerName":{"type":"string","description":"The name of the bandwidth offer."},"valueInMbps":{"type":"integer","description":"The value of the bandwidth offer in Mbps.","format":"int32"}},"description":"The properties that define a peering bandwidth offer."},"PeeringListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link to fetch the next page of peerings."},"value":{"type":"array","description":"The list of peerings.","items":{"$ref":"#/components/schemas/Peering"}}},"description":"The paginated list of peerings."},"PeeringLocation":{"properties":{"kind":{"type":"string","description":"The kind of peering that the peering location supports.","enum":["Direct","Exchange"]},"properties":{"$ref":"#/components/schemas/PeeringLocationProperties"}},"description":"Peering location is where connectivity could be established to the Microsoft Cloud Edge.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"PeeringLocationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link to fetch the next page of peering locations."},"value":{"type":"array","description":"The list of peering locations.","items":{"$ref":"#/components/schemas/PeeringLocation"}}},"description":"The paginated list of peering locations."},"PeeringLocationProperties":{"type":"object","properties":{"azureRegion":{"type":"string","description":"The Azure region associated with the peering location."},"country":{"type":"string","description":"The country in which the peering location exists."},"direct":{"$ref":"#/components/schemas/PeeringLocationPropertiesDirect"},"exchange":{"$ref":"#/components/schemas/PeeringLocationPropertiesExchange"},"peeringLocation":{"type":"string","description":"The name of the peering location."}},"description":"The properties that define a peering location."},"PeeringLocationPropertiesDirect":{"type":"object","properties":{"bandwidthOffers":{"type":"array","description":"The list of bandwidth offers available at the peering location.","items":{"$ref":"#/components/schemas/PeeringBandwidthOffer"}},"peeringFacilities":{"type":"array","description":"The list of direct peering facilities at the peering location.","items":{"$ref":"#/components/schemas/DirectPeeringFacility"}}},"description":"The properties that define a direct peering location."},"PeeringLocationPropertiesExchange":{"type":"object","properties":{"peeringFacilities":{"type":"array","description":"The list of exchange peering facilities at the peering location.","items":{"$ref":"#/components/schemas/ExchangePeeringFacility"}}},"description":"The properties that define an exchange peering location."},"PeeringProperties":{"type":"object","properties":{"direct":{"$ref":"#/components/schemas/PeeringPropertiesDirect"},"exchange":{"$ref":"#/components/schemas/PeeringPropertiesExchange"},"peeringLocation":{"type":"string","description":"The location of the peering."},"provisioningState":{"type":"string","description":"The provisioning state of the resource.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]}},"description":"The properties that define connectivity to the Microsoft Cloud Edge."},"PeeringPropertiesDirect":{"type":"object","properties":{"connections":{"type":"array","description":"The set of connections that constitute a direct peering.","items":{"$ref":"#/components/schemas/DirectConnection"}},"peerAsn":{"$ref":"#/components/schemas/SubResource"},"useForPeeringService":{"type":"boolean","description":"The flag that indicates whether or not the peering is used for peering service."}},"description":"The properties that define a direct peering."},"PeeringPropertiesExchange":{"type":"object","properties":{"connections":{"type":"array","description":"The set of connections that constitute an exchange peering.","items":{"$ref":"#/components/schemas/ExchangeConnection"}},"peerAsn":{"$ref":"#/components/schemas/SubResource"}},"description":"The properties that define an exchange peering."},"PeeringService":{"properties":{"location":{"type":"string","description":"The location of the resource."},"properties":{"$ref":"#/components/schemas/PeeringServiceProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The resource tags."}},"description":"Peering Service","allOf":[{"$ref":"#/components/schemas/Resource"}]},"PeeringServiceListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link to fetch the next page of peering services."},"value":{"type":"array","description":"The list of peering services.","items":{"$ref":"#/components/schemas/PeeringService"}}},"description":"The paginated list of peering services."},"PeeringServiceLocation":{"properties":{"properties":{"$ref":"#/components/schemas/PeeringServiceLocationProperties"}},"description":"PeeringService location","allOf":[{"$ref":"#/components/schemas/Resource"}]},"PeeringServiceLocationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link to fetch the next page of peering service locations."},"value":{"type":"array","description":"The list of peering service locations.","items":{"$ref":"#/components/schemas/PeeringServiceLocation"}}},"description":"The paginated list of peering service locations."},"PeeringServiceLocationProperties":{"type":"object","properties":{"azureRegion":{"type":"string","description":"Azure region for the location"},"country":{"type":"string","description":"Country of the customer"},"state":{"type":"string","description":"State of the customer"}},"description":"The properties that define connectivity to the Peering Service Location."},"PeeringServicePrefix":{"properties":{"properties":{"$ref":"#/components/schemas/PeeringServicePrefixProperties"}},"description":"The peering service prefix class.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"PeeringServicePrefixListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link to fetch the next page of [T]."},"value":{"type":"array","description":"The list of [T].","items":{"$ref":"#/components/schemas/PeeringServicePrefix"}}},"description":"The paginated list of [T]."},"PeeringServicePrefixProperties":{"type":"object","properties":{"learnedType":{"type":"string","description":"The prefix learned type","enum":["None","ViaPartner","ViaSession"]},"prefix":{"type":"string","description":"Valid route prefix"},"prefixValidationState":{"type":"string","description":"The prefix validation state","enum":["None","Invalid","Verified","Failed","Pending","Unknown"]},"provisioningState":{"type":"string","description":"The provisioning state of the resource.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]}},"description":"The peering service prefix properties class."},"PeeringServiceProperties":{"type":"object","properties":{"peeringServiceLocation":{"type":"string","description":"The PeeringServiceLocation of the Customer."},"peeringServiceProvider":{"type":"string","description":"The MAPS Provider Name."},"provisioningState":{"type":"string","description":"The provisioning state of the resource.","readOnly":true,"enum":["Succeeded","Updating","Deleting","Failed"]}},"description":"The properties that define connectivity to the Peering Service."},"PeeringServiceProvider":{"properties":{"properties":{"$ref":"#/components/schemas/PeeringServiceProviderProperties"}},"description":"PeeringService provider","allOf":[{"$ref":"#/components/schemas/Resource"}]},"PeeringServiceProviderListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link to fetch the next page of peering service providers."},"value":{"type":"array","description":"The list of peering service providers.","items":{"$ref":"#/components/schemas/PeeringServiceProvider"}}},"description":"The paginated list of peering service providers."},"PeeringServiceProviderProperties":{"type":"object","properties":{"serviceProviderName":{"type":"string","description":"The name of the service provider."}},"description":"The properties that define connectivity to the Peering Service Provider."},"PeeringSku":{"type":"object","properties":{"family":{"type":"string","description":"The family of the peering SKU.","enum":["Direct","Exchange"]},"name":{"type":"string","description":"The name of the peering SKU.","enum":["Basic_Exchange_Free","Basic_Direct_Free","Premium_Direct_Free","Premium_Exchange_Metered"]},"size":{"type":"string","description":"The size of the peering SKU.","enum":["Free","Metered","Unlimited"]},"tier":{"type":"string","description":"The tier of the peering SKU.","enum":["Basic","Premium"]}},"description":"The SKU that defines the tier and kind of the peering."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the resource.","readOnly":true},"name":{"type":"string","description":"The name of the resource.","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The ARM resource class."},"ResourceTags":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets the tags, a dictionary of descriptors arm object"}},"description":"The resource tags."},"SubResource":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the referenced resource."}},"description":"The sub resource."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The client API version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The Azure subscription ID.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}