{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AzureStack Azure Bridge Client",
    "version" : "2017-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/customerSubscriptions" : {
      "get" : {
        "tags" : [ "CustomerSubscription" ],
        "description" : "Returns a list of products.",
        "operationId" : "CustomerSubscriptions_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerSubscriptionList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Error code.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Error message indicating why the operation failed.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "The target of the particular error.",
                          "readOnly" : true
                        }
                      },
                      "description" : "The details of the error."
                    }
                  },
                  "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/customerSubscriptions/{customerSubscriptionName}" : {
      "get" : {
        "tags" : [ "CustomerSubscription" ],
        "description" : "Returns the specified product.",
        "operationId" : "CustomerSubscriptions_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerSubscriptionName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerSubscription"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Error code.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Error message indicating why the operation failed.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "The target of the particular error.",
                          "readOnly" : true
                        }
                      },
                      "description" : "The details of the error."
                    }
                  },
                  "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "CustomerSubscription" ],
        "description" : "Creates a new customer subscription under a registration.",
        "operationId" : "CustomerSubscriptions_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerSubscriptionName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters use to create a customer subscription.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomerSubscription"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerSubscription"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "CustomerSubscription" ],
        "description" : "Deletes a customer subscription under a registration.",
        "operationId" : "CustomerSubscriptions_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerSubscriptionName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "204" : {
            "description" : "NO CONTENT"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CustomerSubscription" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/CustomerSubscriptionProperties"
          }
        },
        "description" : "Customer subscription.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "etag" : {
              "type" : "string",
              "description" : "The entity tag used for optimistic concurrency when modifying the resource."
            },
            "id" : {
              "type" : "string",
              "description" : "ID of the resource.",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of Resource.",
              "readOnly" : true
            }
          },
          "description" : "Base resource object."
        } ]
      },
      "CustomerSubscriptionList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of customer subscriptions.",
            "items" : {
              "$ref" : "#/components/schemas/CustomerSubscription"
            }
          }
        },
        "description" : "Pageable list of customer subscriptions."
      },
      "CustomerSubscriptionProperties" : {
        "type" : "object",
        "properties" : {
          "tenantId" : {
            "type" : "string",
            "description" : "Tenant Id."
          }
        },
        "description" : "Customer subscription properties."
      }
    },
    "parameters" : {
      "CustomerSubscriptionNameParameter" : {
        "name" : "customerSubscriptionName",
        "in" : "path",
        "description" : "Name of the product.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "CustomerSubscriptionParameter" : {
        "description" : "Parameters use to create a customer subscription.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CustomerSubscription"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}