{"openapi":"3.0.1","info":{"title":"Airports API v2","description":"Returns all airports","version":"1.0"},"servers":[{"url":"https://api.transavia.com/v2/airports"}],"security":[{"apiKeyHeader":null},{"apiKeyQuery":null}],"paths":{"/":{"get":{"summary":"All airports","description":"Retrieve all airports.","operationId":"58d8bcb7a9e6240e200cff24","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/AirportDtoArray"}},"application/json":{"schema":{"$ref":"#/components/schemas/AirportDtoArray"}},"text/json":{"schema":{"$ref":"#/components/schemas/AirportDtoArray"}}}},"400":{"description":"BadRequest","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}}}},"500":{"description":"InternalServerError","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}}}},"/countrycode/{countryCode}":{"get":{"summary":"Airport(s) by country code.","description":"Retrieve airports by country code.","operationId":"58d8bcb8a9e6240e200cff26","parameters":[{"name":"countryCode","in":"path","description":"Comma-separated list of country codes (2-character ISO 3166-1). More than 3 country codes is not allowed.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/AirportDtoArray"}},"application/json":{"schema":{"$ref":"#/components/schemas/AirportDtoArray"}},"text/json":{"schema":{"$ref":"#/components/schemas/AirportDtoArray"}}}},"400":{"description":"BadRequest","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}}}},"500":{"description":"InternalServerError","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}}}},"/nearest":{"get":{"summary":"Nearest airport(s) by geo coordinates.","description":"Retrieve nearest airports by geo coordinates (latitude/longitude).","operationId":"58d8bcb8a9e6240e200cff27","parameters":[{"name":"latitude","in":"query","description":"Latitude in decimals, lower than -90.0 and higher than 90.0 is not allowed.","schema":{"type":"string"}},{"name":"longitude","in":"query","description":"Longitude in decimals, lower than -180.0 and higher than 180.0 is not allowed.","schema":{"type":"string"}},{"name":"maxDistanceInKm","in":"query","description":"Maximum distance in kilometers, lower than 1 and higher than 500 is not allowed. If not set, max value is applied.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Limits the result, lower than 0 is not allowed. If not set, the result is not limited.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/NearestAirportDtoArray"}},"application/json":{"schema":{"$ref":"#/components/schemas/NearestAirportDtoArray"}},"text/json":{"schema":{"$ref":"#/components/schemas/NearestAirportDtoArray"}}}},"400":{"description":"BadRequest","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}}}},"500":{"description":"InternalServerError","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}}}},"/nearest/{id}":{"get":{"summary":"Nearest airport(s) by airport id.","description":"Retrieve nearest airports by station id.","operationId":"58d8bcb8a9e6240e200cff28","parameters":[{"name":"id","in":"path","description":"Airport (IATA code) to search nearest airports for.","required":true,"schema":{"type":"string"}},{"name":"maxDistanceInKm","in":"query","description":"Maximum distance in kilometers, lower than 1 and higher than 500 is not allowed. If not set, max value is applied.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Limits the result, lower than 0 is not allowed. If not set, the result is not limited.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/NearestAirportDtoArray"}},"application/json":{"schema":{"$ref":"#/components/schemas/NearestAirportDtoArray"}},"text/json":{"schema":{"$ref":"#/components/schemas/NearestAirportDtoArray"}}}},"400":{"description":"BadRequest","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}}}},"500":{"description":"InternalServerError","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}}}},"/{id}":{"get":{"summary":"Airport by id.","description":"Retrieve airport by id.","operationId":"58d8bcb7a9e6240e200cff25","parameters":[{"name":"id","in":"path","description":"Airport code (3-character IATA code).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/AirportDetailsDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/AirportDetailsDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/AirportDetailsDto"}}}},"400":{"description":"BadRequest","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}}}},"500":{"description":"InternalServerError","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}}}}},"components":{"schemas":{"AirportDetailsDto":{"type":"object","properties":{"city":{"type":"string","description":"City where the airport is located."},"country":{"$ref":"#/components/schemas/Country"},"geoCoordinates":{"$ref":"#/components/schemas/GeoCoordinates"},"id":{"type":"string","description":"Unique identifier."},"inboundRoutes":{"$ref":"#/components/schemas/Link"},"name":{"type":"string","description":"Name of the airport."},"outboundRoutes":{"$ref":"#/components/schemas/Link"}}},"AirportDto":{"type":"object","properties":{"city":{"type":"string","description":"City where the airport is located."},"country":{"$ref":"#/components/schemas/Country"},"geoCoordinates":{"$ref":"#/components/schemas/GeoCoordinates"},"id":{"type":"string","description":"Unique identifier."},"name":{"type":"string","description":"Name of the airport."},"self":{"$ref":"#/components/schemas/Link"}},"description":""},"AirportDtoArray":{"type":"array","items":{"$ref":"#/components/schemas/AirportDto"}},"BadRequestResponse":{"type":"object","properties":{"errorMessages":{"type":"array","items":{"type":"string"}}}},"Country":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"}}},"GeoCoordinates":{"type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"InternalServerErrorResponse":{"type":"object","properties":{"errorMessage":{"type":"string"},"referenceId":{"type":"string","format":"uuid"}}},"Link":{"type":"object","properties":{"href":{"type":"string"}}},"NearestAirportDto":{"type":"object","properties":{"city":{"type":"string","description":"City where the airport is located."},"country":{"$ref":"#/components/schemas/Country"},"distanceInKm":{"type":"integer","description":"Distance in kilometers.","format":"int32"},"geoCoordinates":{"$ref":"#/components/schemas/GeoCoordinates"},"id":{"type":"string","description":"Unique identifier."},"name":{"type":"string","description":"Name of the airport."},"self":{"$ref":"#/components/schemas/Link"}},"description":""},"NearestAirportDtoArray":{"type":"array","items":{"$ref":"#/components/schemas/NearestAirportDto"}}},"securitySchemes":{"apiKeyHeader":{"type":"apiKey","name":"apikey","in":"header"},"apiKeyQuery":{"type":"apiKey","name":"subscription-key","in":"query"}}}}