{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SubscriptionClient",
    "description" : "All resource groups and resources exist within subscriptions. These operation enable you get information about your subscriptions and tenants. A tenant is a dedicated instance of Azure Active Directory (Azure AD) for your organization.",
    "version" : "2019-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Resources/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available Microsoft.Resources REST API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "description" : "Gets all subscriptions for a tenant.",
        "operationId" : "Subscriptions_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Returns an array of subscriptions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "description" : "Gets details about a specified subscription.",
        "operationId" : "Subscriptions_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Returns information about the subscription.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/locations" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Gets all available geo-locations.",
        "description" : "This operation provides all the locations that are available for resource providers; however, each resource provider may support a subset of this list.",
        "operationId" : "Subscriptions_ListLocations",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Returns an array of locations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocationListResult"
                }
              }
            }
          }
        }
      }
    },
    "/tenants" : {
      "get" : {
        "tags" : [ "Tenants" ],
        "description" : "Gets the tenants for your account.",
        "operationId" : "Tenants_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - Returns an array of tenants.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TenantListResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Location" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "The display name of the location.",
            "readOnly" : true
          },
          "id" : {
            "type" : "string",
            "description" : "The fully qualified ID of the location. For example, /subscriptions/00000000-0000-0000-0000-000000000000/locations/westus.",
            "readOnly" : true
          },
          "latitude" : {
            "type" : "string",
            "description" : "The latitude of the location.",
            "readOnly" : true
          },
          "longitude" : {
            "type" : "string",
            "description" : "The longitude of the location.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The location name.",
            "readOnly" : true
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "The subscription ID.",
            "readOnly" : true
          }
        },
        "description" : "Location information."
      },
      "LocationListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "An array of locations.",
            "items" : {
              "$ref" : "#/components/schemas/Location"
            }
          }
        },
        "description" : "Location list operation response."
      },
      "ManagedByTenant" : {
        "type" : "object",
        "properties" : {
          "tenantId" : {
            "type" : "string",
            "description" : "The tenant ID of the managing tenant. This is a GUID.",
            "readOnly" : true
          }
        },
        "description" : "Information about a tenant managing the subscription."
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "properties" : {
              "description" : {
                "type" : "string",
                "description" : "Description of the operation."
              },
              "operation" : {
                "type" : "string",
                "description" : "Operation type: Read, write, delete, etc."
              },
              "provider" : {
                "type" : "string",
                "description" : "Service provider: Microsoft.Resources"
              },
              "resource" : {
                "type" : "string",
                "description" : "Resource on which the operation is performed: Profile, endpoint, etc."
              }
            },
            "description" : "The object that represents the operation."
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}"
          }
        },
        "description" : "Microsoft.Resources operation"
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of operation list results if there are any."
          },
          "value" : {
            "type" : "array",
            "description" : "List of Microsoft.Resources operations.",
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "Result of the request to list Microsoft.Resources operations. It contains a list of operations and a URL link to get the next set of results."
      },
      "Subscription" : {
        "type" : "object",
        "properties" : {
          "authorizationSource" : {
            "type" : "string",
            "description" : "The authorization source of the request. Valid values are one or more combinations of Legacy, RoleBased, Bypassed, Direct and Management. For example, 'Legacy, RoleBased'."
          },
          "displayName" : {
            "type" : "string",
            "description" : "The subscription display name.",
            "readOnly" : true
          },
          "id" : {
            "type" : "string",
            "description" : "The fully qualified ID for the subscription. For example, /subscriptions/00000000-0000-0000-0000-000000000000.",
            "readOnly" : true
          },
          "managedByTenants" : {
            "type" : "array",
            "description" : "An array containing the tenants managing the subscription.",
            "items" : {
              "$ref" : "#/components/schemas/ManagedByTenant"
            }
          },
          "state" : {
            "type" : "string",
            "description" : "The subscription state. Possible values are Enabled, Warned, PastDue, Disabled, and Deleted.",
            "readOnly" : true,
            "enum" : [ "Enabled", "Warned", "PastDue", "Disabled", "Deleted" ]
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "The subscription ID.",
            "readOnly" : true
          },
          "subscriptionPolicies" : {
            "$ref" : "#/components/schemas/SubscriptionPolicies"
          },
          "tenantId" : {
            "type" : "string",
            "description" : "The subscription tenant ID.",
            "readOnly" : true
          }
        },
        "description" : "Subscription information."
      },
      "SubscriptionListResult" : {
        "required" : [ "nextLink" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "An array of subscriptions.",
            "items" : {
              "$ref" : "#/components/schemas/Subscription"
            }
          }
        },
        "description" : "Subscription list operation response."
      },
      "SubscriptionPolicies" : {
        "type" : "object",
        "properties" : {
          "locationPlacementId" : {
            "type" : "string",
            "description" : "The subscription location placement ID. The ID indicates which regions are visible for a subscription. For example, a subscription with a location placement Id of Public_2014-09-01 has access to Azure public regions.",
            "readOnly" : true
          },
          "quotaId" : {
            "type" : "string",
            "description" : "The subscription quota ID.",
            "readOnly" : true
          },
          "spendingLimit" : {
            "type" : "string",
            "description" : "The subscription spending limit.",
            "readOnly" : true,
            "enum" : [ "On", "Off", "CurrentPeriodOff" ]
          }
        },
        "description" : "Subscription policies."
      },
      "TenantIdDescription" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The fully qualified ID of the tenant. For example, /tenants/00000000-0000-0000-0000-000000000000.",
            "readOnly" : true
          },
          "tenantId" : {
            "type" : "string",
            "description" : "The tenant ID. For example, 00000000-0000-0000-0000-000000000000.",
            "readOnly" : true
          }
        },
        "description" : "Tenant Id information."
      },
      "TenantListResult" : {
        "required" : [ "nextLink" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to use for getting the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "An array of tenants.",
            "items" : {
              "$ref" : "#/components/schemas/TenantIdDescription"
            }
          }
        },
        "description" : "Tenant Ids information."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "The API version to use for the operation.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The ID of the target subscription.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}