{"openapi":"3.0.1","info":{"title":"bridgedb webservices","version":"0.9.0"},"servers":[{"url":"https://webservice.bridgedb.org/"},{"url":"http://webservice.bridgedb.org/"}],"paths":{"/{organism}/attributeSearch/{query}":{"get":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns a list of xrefs and associated attributes that contain the query string for a given organism. Results are not restricted to exact matches. Optionally limit results to a specified number per data source, or by the type of attribute. See possible attribute types via /{organism}/attributeSet.\n","parameters":[{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}},{"name":"query","in":"path","description":"Text to find in attributes","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of results","schema":{"type":"integer"}},{"name":"attrName","in":"query","description":"Restrict search by attribute name (case sensitive). Use GET /{organism}/attributeSet to find out which attributes are supported.","schema":{"type":"string"}}],"responses":{"200":{"description":"returns a tab-delimited list with the identifier, data source and descriptions found."}}}},"/{organism}/attributeSet":{"get":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns the supported attributes to the given Organism.","parameters":[{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}}],"responses":{"200":{"description":"Returns the supported attributes"}}}},"/{organism}/attributes/{systemCode}/{identifier}":{"get":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns the attributes for a given identifier, data source, organism. Optionally display only a specified attribute","parameters":[{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}},{"name":"systemCode","in":"path","description":"System","required":true,"schema":{"type":"string","default":"En","enum":["En","Cs","X","E","Rh","Ck","Eco","Cg","Ch","Il","Uc","Rf","Pd","U","Ma","Lm","Wd","Wi","Cpc","Mb","Rk","Ce","S","L","Wg","Om","T","Mc","Ik","H","Re","Ag","Q","Ca","Up","Cks"]}},{"name":"identifier","in":"path","description":"Identifier","required":true,"schema":{"type":"string","default":"ENSG00000122375"}},{"name":"attrName","in":"query","description":"Type of attribute","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns a tab-delimited list with the attributes and their content"}}}},"/{organism}/isFreeSearchSupported":{"get":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns `true` or `false` based on whether or not /{organism}/search/{query} is supported for a given organism.","parameters":[{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}}],"responses":{"200":{"description":"Returns `true` or `false`."}}}},"/{organism}/isMappingSupported/{sourceSystemCode}/{targetSystemCode}":{"get":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns `true` or `false` based on whether or not /{organism}/xrefs/{systemCode}/{identifier} would possibly return a {targetSystemCode} result given a {sourceSystemCode} query. This function basically combines the results of /{organism}/sourceDataSources and /{organism}/targetDataSources into a single boolean result.","parameters":[{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}},{"name":"sourceSystemCode","in":"path","description":"[System code](http://vocabularies.bridgedb.org/#systemCode) for source (input/query) data source","required":true,"schema":{"type":"string","default":"L","enum":["En","Cs","X","E","Rh","Ck","Eco","Cg","Ch","Il","Uc","Rf","Pd","U","Ma","Lm","Wd","Wi","Cpc","Mb","Rk","Ce","S","L","Wg","Om","T","Mc","Ik","H","Re","Ag","Q","Ca","Up","Cks"]}},{"name":"targetSystemCode","in":"path","description":"[System code](http://vocabularies.bridgedb.org/#systemCode) for target (output/result) data source","required":true,"schema":{"type":"string","enum":["En","Cs","X","E","Rh","Ck","Eco","Cg","Ch","Il","Uc","Rf","Pd","U","Ma","Lm","Wd","Wi","Cpc","Mb","Rk","Ce","S","L","Wg","Om","T","Mc","Ik","H","Re","Ag","Q","Ca","Up","Cks"]}}],"responses":{"200":{"description":"Returns `true` or `false`."}}}},"/{organism}/properties":{"get":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns the list of properties available for a given organism\n","parameters":[{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}}],"responses":{"200":{"description":"Returns the list of properties available for a given organism"}}}},"/{organism}/search/{query}":{"get":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns a list of xrefs with identifiers that contain the query string for a given organism. Results are not restricted to exact matches. Optionally limit results to a specified number per data source.","parameters":[{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}},{"name":"query","in":"path","description":"Identifier query","required":true,"schema":{"type":"string","default":"1234"}},{"name":"limit","in":"query","description":"Number of results per data source","schema":{"type":"integer"}}],"responses":{"200":{"description":"Returns a tab-delimited list of xrefs with identifiers that contain the query string for a given organism"}}}},"/{organism}/sourceDataSources":{"get":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns a list of data sources available as xref sources for a given organism.","parameters":[{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}}],"responses":{"200":{"description":"Returns a list of data sources available as xref sources."}}}},"/{organism}/targetDataSources":{"get":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns a list of data sources available as xref targets for a given organism.","parameters":[{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}}],"responses":{"200":{"description":"Returns a list of data sources available as xref targets."}}}},"/{organism}/xrefExists/{systemCode}/{identifier}":{"get":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns `true` or `false` based on whether or not an xref exists in the database given an identifier, data source, and organism.","parameters":[{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}},{"name":"systemCode","in":"path","description":"Source (input) data source [system code](http://vocabularies.bridgedb.org/#systemCode)","required":true,"schema":{"type":"string","default":"L","enum":["En","Cs","X","E","Rh","Ck","Eco","Cg","Ch","Il","Uc","Rf","Pd","U","Ma","Lm","Wd","Wi","Cpc","Mb","Rk","Ce","S","L","Wg","Om","T","Mc","Ik","H","Re","Ag","Q","Ca","Up","Cks"]}},{"name":"identifier","in":"path","description":"Identifier","required":true,"schema":{"type":"string","default":"1234"}}],"responses":{"200":{"description":"Returns `true` or `false`"}}}},"/{organism}/xrefs/{systemCode}/{identifier}":{"get":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns a list of xrefs that map to a given identifier, data source, and organism.","parameters":[{"name":"dataSource","in":"query","description":"(Optional) Restrict results by data source [system code](http://vocabularies.bridgedb.org/#systemCode)","schema":{"type":"string","enum":["En","Cs","X","E","Rh","Ck","Eco","Cg","Ch","Il","Uc","Rf","Pd","U","Ma","Lm","Wd","Wi","Cpc","Mb","Rk","Ce","S","L","Wg","Om","T","Mc","Ik","H","Re","Ag","Q","Ca","Up","Cks"]}},{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}},{"name":"systemCode","in":"path","description":"Source (input) data source [system code](http://vocabularies.bridgedb.org/#systemCode)","required":true,"schema":{"type":"string","default":"L","enum":["En","Cs","X","E","Rh","Ck","Eco","Cg","Ch","Il","Uc","Rf","Pd","U","Ma","Lm","Wd","Wi","Cpc","Mb","Rk","Ce","S","L","Wg","Om","T","Mc","Ik","H","Re","Ag","Q","Ca","Up","Cks"]}},{"name":"identifier","in":"path","description":"Identifier","required":true,"schema":{"type":"string","default":"1234"}}],"responses":{"200":{"description":"Returns a tab-delimited list of xrefs that map to a given identifier"}}}},"/{organism}/xrefsBatch":{"post":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns a list of xrefs, per identifier, that maps to a given list of identifiers an data source given an organism.","parameters":[{"name":"dataSource","in":"query","description":"(Optional) Restrict results by data source [system code](http://vocabularies.bridgedb.org/#systemCode)","schema":{"type":"string","enum":["En","Cs","X","E","Rh","Ck","Eco","Cg","Ch","Il","Uc","Rf","Pd","U","Ma","Lm","Wd","Wi","Cpc","Mb","Rk","Ce","S","L","Wg","Om","T","Mc","Ik","H","Re","Ag","Q","Ca","Up","Cks"]}},{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}}],"requestBody":{"description":"List of tab separated values: id<tab>systemcode\\n","content":{"text/html":{"schema":{"type":"string","format":"string","example":"17716\tL\n17717\tL\nENSMUSG00000032462\tEn\nENSMUSG00000021938\tEn"}}},"required":true},"responses":{"200":{"description":"Returns a tab-delimited list of xrefs that map to a given identifier"}}}},"/{organism}/xrefsBatch/{systemCode}":{"post":{"tags":["Identifiers (Genes, proteins, metabolites, interactions)"],"description":"Returns a list of xrefs, that maps to a given list of identifiers to a given data source and organism.","parameters":[{"name":"dataSource","in":"query","description":"(Optional) Restrict results by data source [system code](http://vocabularies.bridgedb.org/#systemCode)","schema":{"type":"string","enum":["En","Cs","X","E","Rh","Ck","Eco","Cg","Ch","Il","Uc","Rf","Pd","U","Ma","Lm","Wd","Wi","Cpc","Mb","Rk","Ce","S","L","Wg","Om","T","Mc","Ik","H","Re","Ag","Q","Ca","Up","Cks"]}},{"name":"organism","in":"path","description":"Organism [Latin name](http://vocabularies.bridgedb.org/#latinName) or [short name](http://vocabularies.bridgedb.org/#shortName).","required":true,"schema":{"type":"string","enum":["Human","Homo sapiens","Tuberculosis","Mycobacterium tuberculosis","Mosquito","Anopheles gambiae","Zebra fish","Danio rerio","Arabidopsis thaliana","Rice","Oryza sativa","Sea Squirt","Ciona intestinalis","Barley","Hordeum vulgare","Frog","Xenopus tropicalis","Soybean","Glycine max","Fruit fly","Drosophila melanogaster","Horse","Equus caballus","Rhesus Monkey","Macaca mulatta","Wine Grape","Vitis vinifera","Yeast","Saccharomyces cerevisiae","Tomato","Solanum lycopersicum","Rat","Rattus norvegicus","Cow","Bos taurus","Western Balsam Poplar","Populus trichocarpa","Chimpanzee","Pan troglodytes","Indian Rice","Oryza indica","Dog","Canis familiaris","Maize","Zea mays","Pig","Sus scrofa","Worm","Caenorhabditis elegans","Platypus","Ornithorhynchus anatinus","Chicken","Gallus gallus","Fusarium graminearum","Gibberella zeae","Bacillus subtilis","Escherichia coli","Black mold","Aspergillus niger","Mouse","Mus musculus"]}},{"name":"systemCode","in":"path","description":"Source (input) data source [system code](http://vocabularies.bridgedb.org/#systemCode)","required":true,"schema":{"type":"string","default":"L","enum":["En","Cs","X","E","Rh","Ck","Eco","Cg","Ch","Il","Uc","Rf","Pd","U","Ma","Lm","Wd","Wi","Cpc","Mb","Rk","Ce","S","L","Wg","Om","T","Mc","Ik","H","Re","Ag","Q","Ca","Up","Cks"]}}],"requestBody":{"description":"List of identifiers. The separator is a new line (\\n)","content":{"text/html":{"schema":{"type":"string","example":"ENSMUSG00000063455\nENSMUSG00000073823\nENSMUSG00000037031"}}},"required":true},"responses":{"200":{"description":"Returns a tab-delimited list of xrefs that map to a given identifier"}}}}}}