{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure Log Analytics",
    "description" : "Azure Log Analytics API reference",
    "version" : "2019-08-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/clusters" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "description" : "Gets the Log Analytics clusters in a subscription.",
        "operationId" : "Clusters_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK response definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClusterListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/clusters" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "description" : "Gets Log Analytics clusters in a resource group.",
        "operationId" : "Clusters_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group to get. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK response definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClusterListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/clusters/{clusterName}" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "description" : "Gets a Log Analytics cluster instance.",
        "operationId" : "Clusters_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name of the Log Analytics cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "Name of the Log Analytics Cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK response definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Cluster"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Clusters" ],
        "description" : "Create or update a Log Analytics cluster.",
        "operationId" : "Clusters_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name of the Log Analytics cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the Log Analytics cluster.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 4,
            "pattern" : "^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters required to create or update a Log Analytics cluster.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Cluster"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK response definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Cluster"
                }
              }
            }
          },
          "201" : {
            "description" : "Created response definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Cluster"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Clusters" ],
        "description" : "Deletes a cluster instance.",
        "operationId" : "Clusters_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name of the Log Analytics cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "Name of the Log Analytics Cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK response definition."
          },
          "204" : {
            "description" : "NoContent response definition."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Clusters" ],
        "description" : "Updates a Log Analytics cluster.",
        "operationId" : "Clusters_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name of the cluster.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "The name of the cluster.",
          "required" : true,
          "schema" : {
            "maxLength" : 63,
            "minLength" : 4,
            "pattern" : "^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters required to patch a Log Analytics cluster.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClusterPatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The existing cluster was successfully updated. Check provisioningStatus to see detailed status.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Cluster"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Cluster" : {
        "properties" : {
          "identity" : {
            "$ref" : "#/components/schemas/Identity"
          },
          "properties" : {
            "$ref" : "#/components/schemas/ClusterProperties"
          }
        },
        "description" : "The top level Log Analytics cluster resource container.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "ClusterListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link used to get the next page of recommendations."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of Log Analytics clusters.",
            "items" : {
              "$ref" : "#/components/schemas/Cluster"
            }
          }
        },
        "description" : "The list clusters operation response."
      },
      "ClusterPatch" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ClusterPatchProperties"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          }
        },
        "description" : "The top level Log Analytics cluster resource container."
      },
      "ClusterPatchProperties" : {
        "type" : "object",
        "properties" : {
          "encryptionKeyUri" : {
            "type" : "string",
            "description" : "The Key Vault key or certificate path associated with the Log Analytics cluster."
          }
        },
        "description" : "Log Analytics cluster patch properties."
      },
      "ClusterProperties" : {
        "type" : "object",
        "properties" : {
          "clusterId" : {
            "type" : "string",
            "description" : "The ID associated with the cluster.",
            "readOnly" : true
          },
          "encryptionKeyUri" : {
            "type" : "string",
            "description" : "The Key Vault key or certificate path associated with the Log Analytics cluster."
          },
          "nextLink" : {
            "type" : "string",
            "description" : "The link used to get the next page of recommendations."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The provisioning state of the cluster.",
            "readOnly" : true,
            "enum" : [ "Creating", "Succeeded", "Failed", "Canceled", "Deleting", "ProvisioningAccount" ]
          }
        },
        "description" : "Cluster properties."
      },
      "ErrorDetails" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code.",
            "readOnly" : true
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed.",
            "readOnly" : true
          },
          "target" : {
            "type" : "string",
            "description" : "The target of the particular error.",
            "readOnly" : true
          }
        },
        "description" : "The details of the error."
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/ErrorDetails"
          }
        },
        "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
      },
      "Identity" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "principalId" : {
            "type" : "string",
            "description" : "The principal ID of resource identity.",
            "readOnly" : true
          },
          "tenantId" : {
            "type" : "string",
            "description" : "The tenant ID of resource.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "The identity type.",
            "enum" : [ "SystemAssigned", "None" ]
          }
        },
        "description" : "Identity for the resource."
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location"
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type",
            "readOnly" : true
          }
        },
        "description" : "The resource definition."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group to get. The name is case insensitive.",
        "required" : true,
        "schema" : {
          "maxLength" : 90,
          "minLength" : 1,
          "pattern" : "^[-\\w\\._\\(\\)]+$",
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}