{"openapi":"3.0.1","info":{"title":"Azure SQL Database","description":"Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, operations, and usage metrics.","version":"2014-04-01"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives":{"get":{"tags":["ServiceObjectives"],"description":"Returns database service objectives.","operationId":"ServiceObjectives_ListByServer","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceObjectiveListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives/{serviceObjectiveName}":{"get":{"tags":["ServiceObjectives"],"description":"Gets a database service objective.","operationId":"ServiceObjectives_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"serviceObjectiveName","in":"path","description":"The name of the service objective to retrieve.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceObjective"}}}}}}}},"components":{"schemas":{"ServiceObjective":{"properties":{"properties":{"$ref":"#/components/schemas/ServiceObjectiveProperties"}},"description":"Represents a database service objective.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"ServiceObjectiveListResult":{"required":["value"],"type":"object","properties":{"value":{"type":"array","description":"The list of database service objectives.","items":{"$ref":"#/components/schemas/ServiceObjective"}}},"description":"Represents the response to a get database service objectives request."},"ServiceObjectiveProperties":{"type":"object","properties":{"description":{"type":"string","description":"The description for the service level objective.","readOnly":true},"enabled":{"type":"boolean","description":"Gets whether the service level objective is enabled.","nullable":false,"readOnly":true},"isDefault":{"type":"boolean","description":"Gets whether the service level objective is the default service objective.","nullable":false,"readOnly":true},"isSystem":{"type":"boolean","description":"Gets whether the service level objective is a system service objective.","nullable":false,"readOnly":true},"serviceObjectiveName":{"type":"string","description":"The name for the service objective.","readOnly":true}},"description":"Represents the properties of a database service objective."}},"parameters":{"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}