{"openapi":"3.0.1","info":{"title":"MariaDBManagementClient","description":"The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.","version":"2018-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.DBforMariaDB/locations/{locationName}/recommendedActionSessionsAzureAsyncOperation/{operationId}":{"get":{"tags":["LocationBasedRecommendedActionSessionsOperationStatus"],"description":"Recommendation action session operation status.","operationId":"LocationBasedRecommendedActionSessionsOperationStatus_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"locationName","in":"path","description":"The name of the location.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"The operation identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendedActionSessionsOperationStatus"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.DBforMariaDB/locations/{locationName}/recommendedActionSessionsOperationResults/{operationId}":{"get":{"tags":["LocationBasedRecommendedActionSessionsResult"],"description":"Recommendation action session operation result.","operationId":"LocationBasedRecommendedActionSessionsResult_List","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"locationName","in":"path","description":"The name of the location.","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"The operation identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendationActionsResultList"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendationActionsResultList"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors":{"get":{"tags":["Advisors"],"description":"List recommendation action advisors.","operationId":"Advisors_ListByServer","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvisorsResultList"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors/{advisorName}":{"get":{"tags":["Advisors"],"description":"Get a recommendation action advisor.","operationId":"Advisors_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"advisorName","in":"path","description":"The advisor name for recommendation action.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Advisor"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors/{advisorName}/createRecommendedActionSession":{"post":{"tags":["RecommendedActionSessions"],"description":"Create recommendation action session for the advisor.","operationId":"CreateRecommendedActionSession","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"advisorName","in":"path","description":"The advisor name for recommendation action.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"query","description":"The name of the database.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors/{advisorName}/recommendedActions":{"get":{"tags":["RecommendedActions"],"description":"Retrieve recommended actions from the advisor.","operationId":"RecommendedActions_ListByServer","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"advisorName","in":"path","description":"The advisor name for recommendation action.","required":true,"schema":{"type":"string"}},{"name":"sessionId","in":"query","description":"The recommendation action session identifier.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendationActionsResultList"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors/{advisorName}/recommendedActions/{recommendedActionName}":{"get":{"tags":["RecommendedActions"],"description":"Retrieve recommended actions from the advisor.","operationId":"RecommendedActions_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"advisorName","in":"path","description":"The advisor name for recommendation action.","required":true,"schema":{"type":"string"}},{"name":"recommendedActionName","in":"path","description":"The recommended action name.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendationAction"}}}}}}}},"components":{"schemas":{"Advisor":{"properties":{"properties":{"$ref":"#/components/schemas/AdvisorProperties"}},"description":"Represents a recommendation action advisor.","allOf":[{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"AdvisorProperties":{"type":"object","description":"The properties of a recommendation action advisor."},"AdvisorsResultList":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to retrieve next page of results.","readOnly":true},"value":{"type":"array","description":"The list of recommendation action advisors.","readOnly":true,"items":{"$ref":"#/components/schemas/Advisor"}}},"description":"A list of query statistics."},"RecommendationAction":{"properties":{"properties":{"$ref":"#/components/schemas/RecommendationActionProperties"}},"description":"Represents a Recommendation Action.","allOf":[{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"RecommendationActionProperties":{"type":"object","properties":{"actionId":{"type":"integer","description":"Recommendation action identifier.","format":"int32"},"advisorName":{"type":"string","description":"Advisor name."},"createdTime":{"type":"string","description":"Recommendation action creation time.","format":"date-time"},"details":{"type":"object","additionalProperties":{"type":"string"},"description":"Recommendation action details."},"expirationTime":{"type":"string","description":"Recommendation action expiration time.","format":"date-time"},"reason":{"type":"string","description":"Recommendation action reason."},"recommendationType":{"type":"string","description":"Recommendation action type."},"sessionId":{"type":"string","description":"Recommendation action session identifier."}},"description":"The properties of a recommendation action."},"RecommendationActionsResultList":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to retrieve next page of results.","readOnly":true},"value":{"type":"array","description":"The list of recommendation action advisors.","readOnly":true,"items":{"$ref":"#/components/schemas/RecommendationAction"}}},"description":"A list of recommendation actions."},"RecommendedActionSessionsOperationStatus":{"type":"object","properties":{"name":{"type":"string","description":"Operation identifier."},"startTime":{"type":"string","description":"Operation start time.","format":"date-time"},"status":{"type":"string","description":"Operation status."}},"description":"Recommendation action session operation status."}},"parameters":{"AdvisorNameParameter":{"name":"advisorName","in":"path","description":"The advisor name for recommendation action.","required":true,"schema":{"type":"string"}},"LocationNameParameter":{"name":"locationName","in":"path","description":"The name of the location.","required":true,"schema":{"type":"string"}},"OperationIdParameter":{"name":"operationId","in":"path","description":"The operation identifier.","required":true,"schema":{"type":"string"}},"RecommendedActionNameParameter":{"name":"recommendedActionName","in":"path","description":"The recommended action name.","required":true,"schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}