{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Security Center",
    "description" : "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version" : "2019-01-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/alerts" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "List all the alerts that are associated with the subscription",
        "operationId" : "Alerts_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "OData select. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "OData expand. Optional.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "List all the alerts that are associated with the subscription that are stored in a specific location",
        "operationId" : "Alerts_ListSubscriptionLevelAlertsByRegion",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "OData select. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "OData expand. Optional.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "Get an alert that is associated with a subscription",
        "operationId" : "Alerts_GetSubscriptionLevelAlert",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alertName",
          "in" : "path",
          "description" : "Name of the alert object",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alert"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/dismiss" : {
      "post" : {
        "tags" : [ "Alerts" ],
        "description" : "Update the alert's state",
        "operationId" : "Alerts_UpdateSubscriptionLevelAlertStateToDismiss",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alertName",
          "in" : "path",
          "description" : "Name of the alert object",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/reactivate" : {
      "post" : {
        "tags" : [ "Alerts" ],
        "description" : "Update the alert's state",
        "operationId" : "Alerts_UpdateSubscriptionLevelAlertStateToReactivate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alertName",
          "in" : "path",
          "description" : "Name of the alert object",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/alerts" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "List all the alerts that are associated with the resource group",
        "operationId" : "Alerts_ListByResourceGroup",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "OData select. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "OData expand. Optional.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "List all the alerts that are associated with the resource group that are stored in a specific location",
        "operationId" : "Alerts_ListResourceGroupLevelAlertsByRegion",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "OData select. Optional.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "OData expand. Optional.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "Get an alert that is associated a resource group or a resource in a resource group",
        "operationId" : "Alerts_GetResourceGroupLevelAlerts",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alertName",
          "in" : "path",
          "description" : "Name of the alert object",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alert"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/dismiss" : {
      "post" : {
        "tags" : [ "Alerts" ],
        "description" : "Update the alert's state",
        "operationId" : "Alerts_UpdateResourceGroupLevelAlertStateToDismiss",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alertName",
          "in" : "path",
          "description" : "Name of the alert object",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/reactivate" : {
      "post" : {
        "tags" : [ "Alerts" ],
        "description" : "Update the alert's state",
        "operationId" : "Alerts_UpdateResourceGroupLevelAlertStateToReactivate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "API version for the operation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type" : "string"
          }
        }, {
          "name" : "ascLocation",
          "in" : "path",
          "description" : "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alertName",
          "in" : "path",
          "description" : "Name of the alert object",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group within the user's subscription. The name is case insensitive.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "A message describing the error, intended to be suitable for display in a user interface.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error details."
                    }
                  },
                  "description" : "Error response structure."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Alert" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/AlertProperties"
          }
        },
        "description" : "Security alert",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource Id",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type",
              "readOnly" : true
            }
          },
          "description" : "Describes an Azure resource."
        } ]
      },
      "AlertConfidenceReason" : {
        "type" : "object",
        "properties" : {
          "reason" : {
            "type" : "string",
            "description" : "description of the confidence reason",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Type of confidence factor",
            "readOnly" : true
          }
        },
        "description" : "Factors that increase our confidence that the alert is a true positive"
      },
      "AlertEntity" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "Type of entity",
            "readOnly" : true
          }
        },
        "description" : "Changing set of properties depending on the entity type."
      },
      "AlertExtendedProperties" : {
        "type" : "object",
        "description" : "Changing set of properties depending on the alert type."
      },
      "AlertList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Alert"
            }
          }
        },
        "description" : "List of security alerts"
      },
      "AlertProperties" : {
        "type" : "object",
        "properties" : {
          "actionTaken" : {
            "type" : "string",
            "description" : "The action that was taken as a response to the alert (Active, Blocked etc.)",
            "readOnly" : true
          },
          "alertDisplayName" : {
            "type" : "string",
            "description" : "Display name of the alert type",
            "readOnly" : true
          },
          "alertName" : {
            "type" : "string",
            "description" : "Name of the alert type",
            "readOnly" : true
          },
          "associatedResource" : {
            "type" : "string",
            "description" : "Azure resource ID of the associated resource",
            "readOnly" : true
          },
          "canBeInvestigated" : {
            "type" : "boolean",
            "description" : "Whether this alert can be investigated with Azure Security Center",
            "readOnly" : true
          },
          "compromisedEntity" : {
            "type" : "string",
            "description" : "The entity that the incident happened on",
            "readOnly" : true
          },
          "confidenceReasons" : {
            "type" : "array",
            "description" : "reasons the alert got the confidenceScore value",
            "items" : {
              "$ref" : "#/components/schemas/AlertConfidenceReason"
            }
          },
          "confidenceScore" : {
            "maximum" : 1,
            "minimum" : 0,
            "type" : "number",
            "description" : "level of confidence we have on the alert",
            "format" : "float",
            "readOnly" : true
          },
          "correlationKey" : {
            "type" : "string",
            "description" : "Alerts with the same CorrelationKey will be grouped together in Ibiza.",
            "readOnly" : true
          },
          "description" : {
            "type" : "string",
            "description" : "Description of the incident and what it means",
            "readOnly" : true
          },
          "detectedTimeUtc" : {
            "type" : "string",
            "description" : "The time the incident was detected by the vendor",
            "format" : "date-time",
            "readOnly" : true
          },
          "entities" : {
            "type" : "array",
            "description" : "objects that are related to this alerts",
            "items" : {
              "$ref" : "#/components/schemas/AlertEntity"
            }
          },
          "extendedProperties" : {
            "$ref" : "#/components/schemas/AlertExtendedProperties"
          },
          "instanceId" : {
            "type" : "string",
            "description" : "Instance ID of the alert.",
            "readOnly" : true
          },
          "isIncident" : {
            "type" : "boolean",
            "description" : "Whether this alert is for incident type or not (otherwise - single alert)",
            "readOnly" : true
          },
          "remediationSteps" : {
            "type" : "string",
            "description" : "Recommended steps to reradiate the incident",
            "readOnly" : true
          },
          "reportedSeverity" : {
            "type" : "string",
            "description" : "Estimated severity of this alert",
            "readOnly" : true,
            "enum" : [ "Informational", "Low", "Medium", "High" ]
          },
          "reportedTimeUtc" : {
            "type" : "string",
            "description" : "The time the incident was reported to Microsoft.Security in UTC",
            "format" : "date-time",
            "readOnly" : true
          },
          "state" : {
            "type" : "string",
            "description" : "State of the alert (Active, Dismissed etc.)",
            "readOnly" : true
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "Azure subscription ID of the resource that had the security alert or the subscription ID of the workspace that this resource reports to",
            "readOnly" : true
          },
          "systemSource" : {
            "type" : "string",
            "description" : "The type of the alerted resource (Azure, Non-Azure)",
            "readOnly" : true
          },
          "vendorName" : {
            "type" : "string",
            "description" : "Name of the vendor that discovered the incident",
            "readOnly" : true
          },
          "workspaceArmId" : {
            "type" : "string",
            "description" : "Azure resource ID of the workspace that the alert was reported to.",
            "readOnly" : true
          }
        },
        "description" : "describes security alert properties."
      }
    },
    "parameters" : {
      "AlertName" : {
        "name" : "alertName",
        "in" : "path",
        "description" : "Name of the alert object",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ODataExpand" : {
        "name" : "$expand",
        "in" : "query",
        "description" : "OData expand. Optional.",
        "schema" : {
          "type" : "string"
        }
      },
      "ODataFilter" : {
        "name" : "$filter",
        "in" : "query",
        "description" : "OData filter. Optional.",
        "schema" : {
          "type" : "string"
        }
      },
      "ODataSelect" : {
        "name" : "$select",
        "in" : "query",
        "description" : "OData select. Optional.",
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}