{"openapi":"3.0.1","info":{"title":"Fitbit Plus API","description":"# Overview\nThe Fitbit Plus API is a RESTful API. The requests and responses are formated according to the\n[JSON API](http://jsonapi.org/format/1.0/) specification.\n\nIn addition to this documentation, we also provide an\n[OpenAPI](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) \"yaml\" file describing the API:\n[Fitbit Plus API Specification](swagger.yaml).\n\n# Authentication\nAuthentication for the Fitbit Plus API is based on the\n[OAuth 2.0 Authorization Framework](https://tools.ietf.org/html/rfc6749). Fitbit Plus currently supports grant\ntypes of **client_credentials** and **refresh_token**.\n\nSee [POST /oauth/token](#operation/createToken) for details on the request and response formats.\n<!-- ReDoc-Inject: <security-definitions> -->\n\n## Building Integrations\nWe will provide customers with unique client credentials for each application/integration they build, allowing us\nto enforce appropriate access controls and monitor API usage.\nThe client credentials will be scoped to the organization, and allow full access to all patients and related data\nwithin that organization.\n\nThese credentials are appropriate for creating an integration that does one of the following:\n - background reporting/analysis\n - synchronizing data with another system (such as an EMR)\n\nThe API credentials and oauth flows we currently support are **not** well suited for creating a user-facing\napplication that allows a user (patient, coach, or admin) to login and have access to data which is appropriate to\nthat specific user. It is possible to build such an application, but it is not possible to use Fitbit Plus as a\nfederated identity provider. You would need to have a separate means of verifying a user's identity. We do not\ncurrently support the required password-based oauth flow to make this possible.\n\n# Paging\nThe Fitbit Plus API supports two different pagination strategies for GET collection endpoints.\n\n#### Skip-based paging\n\nSkip-based paging uses the query parameters `page[size]` and `page[number]` to specify the max number of resources returned and the page number. We default to skip-based paging if there are no page parameters. The response will include a `links` object containing links to the first, last, prev, and next pages of data.\n\nIf the contents of the collection change while you are iterating through the collection, you will see duplicate or missing documents. For example, if you are iterating through the `calender_event` resource via `GET /pub/calendar_event?sort=start_at&page[size]=50&page[number]=1`, and a new `calendar_event` is created that has a `start_at` value before the first `calendar_event`, when you fetch the next page at `GET /pub/calendar_event?sort=start_at&page[size]=50&page[number]=2`, the first entry in the second response will be a duplicate of the last entry in the first response.\n\n#### Cursor-based paging\nCursor-based paging uses the query parameters `page[limit]` and `page[after]` to specify the max number of entries returned and identify where to begin the next page. Add `page[limit]` to the parameters to use cursor-based paging. The response will include a `links` object containing a link to the next page of data, if the next page exists.\n\nCursor-based paging is not subject to duplication if new resources are added to the collection. For example, if you are iterating through the `calender_event` resource via `GET /pub/calendar_event?sort=start_at&page[limit]=50`, and a new `calendar_event` is created that has a `start_at` value before the first `calendar_event`, you will not see a duplicate entry when you fetch the next page at `GET /pub/calendar_event?sort=start_at&page[limit]=50&page[after]=<cursor>`.\n\nWe encourage the use of cursor-based paging for performance reasons.\n\nIn either form of paging, you can determine whether any resources were missed by comparing the number of fetched resources against `meta.count`. Set `page[size]` or `page[limit]` to 0 to get only the count.\n\nIt is not valid to mix the two strategies.\n","contact":{"email":"apiteam@twinehealth.com"},"version":"v7.78.1"},"servers":[{"url":"https://api.twinehealth.com/pub"}],"tags":[{"name":"oauth","description":"Authentication operations"},{"name":"organization","description":"An organization is a Fitbit Plus customer. No data is accessible across organizations."},{"name":"group","description":"A group is a cohort of patients within an organization. The creation of groups allows for the segmentation of dashboards and analytics. For example, a group might correspond to the patients in a particular practice or the employees of a particular employer."},{"name":"coach","description":"A coach is a person that supports a patient"},{"name":"reward program","description":"A reward program provides the details for a rewards program for a group. Different rewards programs can be created for different periods of time specified by the start_at and end_at dates. A reward program can activated for a patient any time between these dates. An activated reward program for a patient is called a reward program activation."},{"name":"action","description":"An action is an actionable item in a patient's plan."},{"name":"bundle","description":"A bundle is a collection of actions (an action plan) in a patient's plan summary."},{"name":"calendar event","description":"A calendar event represents an event involving or relevant to a patient which will or has occurred on a specific date or during a specific period of time."},{"name":"calendar event response","description":"A calendar event response indicates the attendee's response to a calendar event.  Only `POST` for creation is allowed as the responses are updated into the corresponding calendar events."},{"name":"email history","description":"Email history represents a single email that was sent using Fitbit Plus."},{"name":"health profile","description":"A health profile contains a set of health questions and answers for a patient."},{"name":"health profile answer","description":"A health profile answer is the answer to a question for a patient."},{"name":"health profile question","description":"A health profile question contains a health question and the corresponding answer for a patient."},{"name":"health question definition","description":"A health question definition specifies a health question and the corresponding answer choices."},{"name":"metric","description":"A metric is a quantitative result for a patient. For example, vital signs, lab results, etc. are all metrics."},{"name":"patient","description":"A patient is the core user of Fitbit Plus."},{"name":"plan","description":"A plan is the set of actions and associated goals for a patient."},{"name":"result","description":"A patient health result is a quantitative result for a patient."},{"name":"reward","description":"A reward allocates a portion of the budget from the reward program activation for achieving a particular goal and sets a target date."},{"name":"reward earning","description":"A reward earning specifies the portion of a reward that was earned and at what date."},{"name":"reward earning fulfillment","description":"A reward earning fulfillment specifies the portion of a reward earning that was fulfilled and at what date."},{"name":"reward program activation","description":"A reward program activation is the activation of a reward program for a specific patient."}],"paths":{"/action":{"post":{"tags":["action"],"summary":"Create action","description":"Create a plan action","operationId":"createAction","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateActionRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateActionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/action/{id}":{"get":{"tags":["action"],"summary":"Get an action","description":"Get a health action from a patient's plan.","operationId":"fetchAction","parameters":[{"name":"id","in":"path","description":"Action identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchActionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"patch":{"tags":["action"],"summary":"Update an action","description":"Update a health action from a patient's plan.","operationId":"updateAction","parameters":[{"name":"id","in":"path","description":"Action identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/UpdateActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/UpdateActionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/bundle":{"post":{"tags":["bundle"],"summary":"Create bundle","description":"Create a bundle in a patient's plan","operationId":"createBundle","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateBundleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateBundleResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/bundle/{id}":{"get":{"tags":["bundle"],"summary":"Get a bundle","description":"Get a bundle from a patient's plan.","operationId":"fetchBundle","parameters":[{"name":"id","in":"path","description":"Bundle identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchBundleResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"patch":{"tags":["bundle"],"summary":"Update a bundle","description":"Updte a bundle from a patient's plan.","operationId":"updateBundle","parameters":[{"name":"id","in":"path","description":"Bundle identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/UpdateBundleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/UpdateBundleResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/calendar_event":{"get":{"tags":["calendar event"],"summary":"List calendar events","description":"Get a list of calendar events","operationId":"fetchCalendarEvents","parameters":[{"name":"filter[patient]","in":"query","description":"Patient id to fetch calendar event. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.\n","schema":{"type":"string"}},{"name":"filter[groups]","in":"query","description":"Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.\n","schema":{"type":"string"}},{"name":"filter[organization]","in":"query","description":"Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.\n","schema":{"type":"string"}},{"name":"filter[attendees]","in":"query","description":"Comma-separated list of coach or patient ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, `filter[organization]`, or `filter[attendees]`.\n","schema":{"type":"string"}},{"name":"filter[type]","in":"query","description":"Calendar event type","schema":{"type":"string","enum":["plan-check-in","reminder","telephone-call","office-visit","video-call"]}},{"name":"filter[completed]","in":"query","description":"If not specified, return all calendar events. If set to `true` return only events marked as completed, if set to `false`, return only events not marked as completed yet.","schema":{"type":"boolean"}},{"name":"filter[start_at]","in":"query","description":"The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events starting in November 2017 (America/New_York): `filter[start_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n","schema":{"type":"string"}},{"name":"filter[end_at]","in":"query","description":"The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events ending in November 2017 (America/New_York): `filter[end_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n","schema":{"type":"string"}},{"name":"filter[completed_at]","in":"query","description":"The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events completed in November 2017 (America/New_York): `filter[completed_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n","schema":{"type":"string"}},{"name":"filter[created_at]","in":"query","description":"The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events created in November 2017 (America/New_York): `filter[created_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n","schema":{"type":"string"}},{"name":"filter[updated_at]","in":"query","description":"The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for events updated in November 2017 (America/New_York): `filter[updated_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n","schema":{"type":"string"}},{"name":"page[number]","in":"query","description":"Page number","schema":{"type":"integer","default":1}},{"name":"page[size]","in":"query","description":"Page size","schema":{"maximum":50,"minimum":0,"type":"integer","default":10}},{"name":"page[limit]","in":"query","description":"Page limit","schema":{"minimum":0,"type":"integer","default":50}},{"name":"page[cursor]","in":"query","description":"Page cursor","schema":{"type":"string"}},{"name":"include","in":"query","description":"List of related resources to include in the response","schema":{"type":"string","enum":["owner"]}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchCalendarEventsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"post":{"tags":["calendar event"],"summary":"Create calendar event","description":"Create a calendar event for a patient. Attribute `all_day` must be set to `true` and `end_at` cannot be set for `plan-check-in` event type.","operationId":"createCalendarEvent","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateCalendarEventRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateCalendarEventResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/calendar_event/{id}":{"get":{"tags":["calendar event"],"summary":"Get a calendar event","description":"Get a calendar event by id","operationId":"fetchCalendarEvent","parameters":[{"name":"id","in":"path","description":"Calendar event identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchCalendarEventResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"delete":{"tags":["calendar event"],"summary":"Delete a calendar event","description":"Delete a calendar event by id","operationId":"deleteCalendarEvent","parameters":[{"name":"id","in":"path","description":"Calendar event identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"patch":{"tags":["calendar event"],"summary":"Update a calendar event","description":"Update a calendar event for a patient. Attribute `all_day` must be true and `end_at` cannot be specified for `plan-check-in` event type. To mark a calendar event as 'completed', set `completed_at` and `completed_by` to desired values.  To mark a completed calendar event as 'not completed', set `completed_at` and `completed_by` to `null`. Attendees can be added or removed, but response status cannot be updated. Use the calendar event response api for response status updates instead.","operationId":"updateCalendarEvent","parameters":[{"name":"id","in":"path","description":"Calendar event identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/UpdateCalendarEventRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/UpdateCalendarEventResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/calendar_event_response":{"post":{"tags":["calendar event response"],"summary":"Create calendar event response","description":"Create a calendar event response for an attendee of a calendar event, the attendee can be a coach or patient.  Calendar event responses cannot be fetched, updated nor deleted.  Use calendar event api to fetch the response status for attendees.","operationId":"createCalendarEventResponse","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateCalendarEventResponseRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateCalendarEventResponseRequest"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/coach":{"get":{"tags":["coach"],"summary":"List coaches","description":"Get a list of coaches matching the specified filters.","operationId":"fetchCoaches","parameters":[{"name":"filter[groups]","in":"query","description":"Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[organization]","in":"query","description":"Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchCoachesResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/coach/{id}":{"get":{"tags":["coach"],"summary":"Get a coach","description":"Get a coach record by id.","operationId":"fetchCoach","parameters":[{"name":"id","in":"path","description":"Coach identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchCoachResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/email_history":{"get":{"tags":["email history"],"summary":"List email histories","description":"Get a list of email histories","operationId":"fetchEmailHistories","parameters":[{"name":"filter[receiver]","in":"query","description":"Fitbit Plus user id of email recipient. Required if filter[sender] is not defined.","schema":{"type":"string"}},{"name":"filter[sender]","in":"query","description":"Fitbit Plus user id of email sender. Required if filter[receiver] is not defined.","schema":{"type":"string"}},{"name":"filter[emailType]","in":"query","description":"Type of email","schema":{"type":"string"}},{"name":"sort","in":"query","description":"valid sorts:\n  * send_time - ascending by send_time\n  * -send_time - descending by send_time\n","schema":{"type":"string","enum":["send_time","-send_time"]}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchEmailHistoriesResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/email_history/{id}":{"get":{"tags":["email history"],"summary":"Get an email history","description":"Get an email history by id","operationId":"fetchEmailHistory","parameters":[{"name":"id","in":"path","description":"Email history identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchEmailHistoryResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/group":{"get":{"tags":["group"],"summary":"List groups","description":"Get a list of groups matching the specified filters.","operationId":"fetchGroups","parameters":[{"name":"filter[organization]","in":"query","description":"Organization identifier","required":true,"schema":{"type":"string"}},{"name":"filter[name]","in":"query","description":"Group name","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchGroupsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"post":{"tags":["group"],"summary":"Create a group","description":"Create a group record.","operationId":"createGroup","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateGroupRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateGroupResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/group/{id}":{"get":{"tags":["group"],"summary":"Get a group","description":"Get a group record by id.","operationId":"fetchGroup","parameters":[{"name":"id","in":"path","description":"Group identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchGroupResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/health_profile":{"get":{"tags":["health profile"],"summary":"List health profiles","description":"Get a list of health profiles","operationId":"fetchHealthProfiles","parameters":[{"name":"filter[patient]","in":"query","description":"Patient id to fetch health profile. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[groups]","in":"query","description":"Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[organization]","in":"query","description":"Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n","schema":{"type":"string"}},{"name":"page[number]","in":"query","description":"Page number","schema":{"type":"integer","default":1}},{"name":"page[size]","in":"query","description":"Page size","schema":{"maximum":50,"minimum":0,"type":"integer","default":10}},{"name":"page[limit]","in":"query","description":"Page limit","schema":{"minimum":0,"type":"integer","default":50}},{"name":"page[cursor]","in":"query","description":"Page cursor","schema":{"type":"string"}},{"name":"include","in":"query","description":"List of related resources to include in the response","schema":{"type":"string","enum":["patient","questions"]}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchHealthProfilesResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/health_profile/{id}":{"get":{"tags":["health profile"],"summary":"Get a health profile","description":"Get a health profile by id","operationId":"fetchHealthProfile","parameters":[{"name":"id","in":"path","description":"Health profile identifier","required":true,"schema":{"type":"string"}},{"name":"include","in":"query","description":"List of related resources to include in the response","schema":{"type":"string","enum":["patient","questions"]}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchHealthProfileResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/health_profile_answer":{"get":{"tags":["health profile answer"],"summary":"List health profile answers","description":"Get a list of health profile answers","operationId":"fetchHealthProfileAnswers","parameters":[{"name":"filter[patient]","in":"query","description":"Patient id to fetch healt profile answers. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[groups]","in":"query","description":"Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[organization]","in":"query","description":"Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n","schema":{"type":"string"}},{"name":"page[number]","in":"query","description":"Page number","schema":{"type":"integer","default":1}},{"name":"page[size]","in":"query","description":"Page size","schema":{"maximum":100,"minimum":0,"type":"integer","default":50}},{"name":"page[limit]","in":"query","description":"Page limit","schema":{"minimum":0,"type":"integer","default":50}},{"name":"page[cursor]","in":"query","description":"Page cursor","schema":{"type":"string"}},{"name":"include","in":"query","description":"List of related resources to include in the response","schema":{"type":"string","enum":["patient"]}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchHealthProfileAnswersResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/health_profile_answer/{id}":{"get":{"tags":["health profile answer"],"summary":"Get a health profile answer","description":"Get a health profile answer by id","operationId":"fetchHealthProfileAnswer","parameters":[{"name":"id","in":"path","description":"Health profile answer identifier","required":true,"schema":{"type":"string"}},{"name":"include","in":"query","description":"List of related resources to include in the response","schema":{"type":"string","enum":["patient"]}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchHealthProfileAnswerResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/health_profile_question":{"get":{"tags":["health profile question"],"summary":"List health profile questions","description":"Get a list of health profile questions","operationId":"fetchHealthProfileQuestions","parameters":[{"name":"filter[patient]","in":"query","description":"Patient id to fetch healt profile questions. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[groups]","in":"query","description":"Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[organization]","in":"query","description":"Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[group]`, or `filter[organization]`.\n","schema":{"type":"string"}},{"name":"include","in":"query","description":"List of related resources to include in the response","schema":{"type":"string","enum":["question_definition","answer"]}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchHealthProfileQuestionsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/health_profile_question/{id}":{"get":{"tags":["health profile question"],"summary":"Get a health profile question","description":"Get a health profile by id","operationId":"fetchHealthProfileQuestion","parameters":[{"name":"id","in":"path","description":"Health profile question identifier","required":true,"schema":{"type":"string"}},{"name":"include","in":"query","description":"List of related resources to include in the response","schema":{"type":"string","enum":["question_definition","answer"]}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchHealthProfileQuestionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/health_question_definition":{"get":{"tags":["health question definition"],"summary":"List health question definitions","description":"Get a list of all health question definitions","operationId":"fetchHealthQuestionDefinitions","responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchHealthQuestionDefinitionsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/health_question_definition/{id}":{"get":{"tags":["health question definition"],"summary":"Get a health question definition","description":"Get a health question definition by id","operationId":"fetchHealthQuestionDefinition","parameters":[{"name":"id","in":"path","description":"Health question definition identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchHealthQuestionDefinitionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/oauth/token":{"post":{"tags":["oauth"],"summary":"Create an oauth token","description":"Create an OAuth 2.0 Bearer token. A valid bearer token is required for all other API requests.\n\nBe sure to set the header `Content-Type: \"application/vnd.api+json\"`. Otherwise, you will get an error\n403 Forbidden. Using `Content-Type: \"application/json\"` is permitted (to support older oauth clients) but when\nusing `application/json` the body should have a body in the following format instead of nesting under\n`data.attributes`:\n```\n{\n  \"grant_type\": \"client_credentials\",\n  \"client_id\": \"95c78ab2-167f-40b8-8bec-8398d4b87454\",\n  \"client_secret\": \"35d18dc9-a3dd-4948-b787-063a490b9354\"\n}\n```\n","operationId":"createToken","parameters":[{"name":"include","in":"query","description":"List of related resources to include in the response","schema":{"type":"string","enum":["groups","organization"]}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateTokenRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateTokenRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateTokenResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}},"security":[{"OAuth2":["group","organization"]}]}},"/oauth/token/{id}/groups":{"get":{"tags":["oauth"],"summary":"Get the groups for a token","description":"Get the list of groups a token can be used to access.","operationId":"fetchTokenGroups","parameters":[{"name":"id","in":"path","description":"Token identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchGroupsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}},"security":[{"OAuth2":["group","organization"]}]}},"/oauth/token/{id}/organization":{"get":{"tags":["oauth"],"summary":"Get the organization for a token","description":"Get the organization a token can be used to access.","operationId":"fetchTokenOrganization","parameters":[{"name":"id","in":"path","description":"Token identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchOrganizationResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/organization/{id}":{"get":{"tags":["organization"],"summary":"Get an organization","description":"Get an organization record by id.","operationId":"fetchOrganization","parameters":[{"name":"id","in":"path","description":"Organization identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchOrganizationResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/patient":{"get":{"tags":["patient"],"summary":"List patients","description":"Get a list of patients.","operationId":"fetchPatients","parameters":[{"name":"filter[groups]","in":"query","description":"Comma-separated list of group ids. Note that either `filter[group]` or `filter[organization]` must be specified.","schema":{"type":"string"}},{"name":"filter[organization]","in":"query","description":"Fitbit Plus organization id. Note that either `filter[group]` or `filter[organization]` must be specified.","schema":{"type":"string"}},{"name":"filter[identifier][system]","in":"query","description":"Identifier system (example: \"MyEHR\") - requires a \"filter[identifier][value]\" parameter","schema":{"type":"string"}},{"name":"filter[identifier][value]","in":"query","description":"Identifier value (example: \"12345\") - requires a \"filter[identifier][system]\" parameter","schema":{"type":"string"}},{"name":"filter[archived]","in":"query","description":"If not specified, return all patients. If set to 'true' return only archived patients, if set to 'false', return only patients who are not archived.","schema":{"type":"boolean"}},{"name":"filter[created_at]","in":"query","description":"The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for patients created in November 2017 (America/New_York): `filter[created_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n","schema":{"type":"string"}},{"name":"filter[updated_at]","in":"query","description":"The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for patients updated in November 2017 (America/New_York): `filter[updated_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n","schema":{"type":"string"}},{"name":"page[number]","in":"query","description":"Page number","schema":{"type":"integer","default":1}},{"name":"page[size]","in":"query","description":"Page size","schema":{"maximum":50,"minimum":0,"type":"integer","default":10}},{"name":"page[limit]","in":"query","description":"Page limit","schema":{"minimum":0,"type":"integer","default":50}},{"name":"page[cursor]","in":"query","description":"Page cursor","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchPatientsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"put":{"tags":["patient"],"summary":"Upsert patient","description":"Create a new patient or update an existing patient","operationId":"upsertPatient","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/UpsertPatientRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreatePatientResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}},"post":{"tags":["patient"],"summary":"Create a patient","description":"Create a patient record.\n\nExample for creating a patient with a group specified using `meta.query` instead of `id`:\n\n```JSON\n{\n  \"data\": {\n    \"type\": \"patient\",\n    \"attributes\": {\n      \"first_name\": \"Andrew\",\n      \"last_name\": \"Smith\"\n    },\n    \"relationships\": {\n      \"groups\": {\n        \"data\": [\n          {\n            \"type\": \"group\",\n            \"meta\": {\n              \"query\": {\n                \"organization\": \"58c88de7c93eb96357a87033\",\n                \"name\": \"Patients Lead\"\n              }\n            }\n          }\n        ]\n      }\n    }\n  }\n}\n```\n","operationId":"createPatient","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreatePatientRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreatePatientResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/patient/{id}":{"get":{"tags":["patient"],"summary":"Get a patient","description":"Gets a patient record by id.","operationId":"fetchPatient","parameters":[{"name":"id","in":"path","description":"Patient identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchPatientResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"patch":{"tags":["patient"],"summary":"Update a patient","description":"Update a patient record.","operationId":"updatePatient","parameters":[{"name":"id","in":"path","description":"Patient identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/UpdatePatientRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/UpdatePatientResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/patient/{id}/coaches":{"get":{"tags":["patient"],"summary":"List coaches for a patient","description":"Get the list of coaches for a patient.","operationId":"fetchPatientCoaches","parameters":[{"name":"id","in":"path","description":"Patient identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchCoachesResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/patient/{id}/groups":{"get":{"tags":["patient"],"summary":"List groups for a patient","description":"Get the list of groups for a patient.","operationId":"fetchPatientGroups","parameters":[{"name":"id","in":"path","description":"Patient identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchGroupsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/patient_health_metric":{"get":{"tags":["metric"],"summary":"List patient health metrics","description":"Get a list of patient health metrics.","operationId":"fetchPatientHealthMetrics","parameters":[{"name":"filter[patient]","in":"query","description":"Filter the patient health metrics for a specified patient. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[groups]","in":"query","description":"Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[organization]","in":"query","description":"Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"page[number]","in":"query","description":"Page number","schema":{"type":"integer","default":1}},{"name":"page[size]","in":"query","description":"Page size","schema":{"maximum":50,"minimum":0,"type":"integer","default":10}},{"name":"page[limit]","in":"query","description":"Page limit","schema":{"minimum":0,"type":"integer","default":50}},{"name":"page[cursor]","in":"query","description":"Page cursor","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchPatientHealthMetricResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"post":{"tags":["metric"],"summary":"Create patient health metrics","description":"Create one or more patient health metrics.\n\nExample for creating a patient health result with a patient specified using `meta.query` instead of `id`:\n\n```JSON\n  {\n    \"data\": {\n      \"type\": \"patient_health_metric\",\n       \"attributes\": {\n         \"code\": {\n           \"system\": \"LOINC\",\n           \"value\": \"13457-7\"\n         },\n         \"type\": \"ldl_cholesterol\",\n         \"occurred_at\": \"2017-03-14T11:00:57.000Z\",\n         \"value\": 121,\n         \"unit\": \"mg/dl\"\n      },\n      \"relationships\": {\n        \"patient\": {\n          \"data\": {\n            \"type\": \"patient\",\n            \"meta\": {\n              \"query\": {\n                \"identifier\": {\n                  \"system\": \"medical-record-number\",\n                  \"value\": \"121212\"\n                },\n                \"organization\": \"58c4554710123c5c40dbab81\"\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n```\n","operationId":"createPatientHealthMetric","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreatePatientHealthMetricRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreatePatientHealthMetricResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/patient_health_metric/{id}":{"get":{"tags":["metric"],"summary":"Get a patient health metric","description":"Get the plan summary for a patient.","operationId":"fetchPatientHealthMetric","parameters":[{"name":"id","in":"path","description":"Patient health metric identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchPatientHealthMetricResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/patient_plan_summary":{"get":{"tags":["plan"],"summary":"List patient plan summaries","description":"Get a list of patient plan summaries","operationId":"fetchPatientPlanSummaries","parameters":[{"name":"filter[patient]","in":"query","description":"Patient id to fetch plan summary for. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[groups]","in":"query","description":"Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[organization]","in":"query","description":"Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"include","in":"query","description":"List of related resources to include in the response","schema":{"type":"string","enum":["actions","bundles","patient","current_results"]}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchPatientPlanSummariesResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/patient_plan_summary/{id}":{"get":{"tags":["plan"],"summary":"Get the plan summary for a patient","description":"Get the plan summary for a patient.","operationId":"fetchPatientPlanSummary","parameters":[{"name":"id","in":"path","description":"Plan summary identifier","required":true,"schema":{"type":"string"}},{"name":"include","in":"query","description":"List of related resources to include in the response","schema":{"type":"string","enum":["actions","bundles","patient","current_results"]}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchPatientPlanSummaryResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"patch":{"tags":["plan"],"summary":"Update a plan summary","description":"Update a plan summary record for a patient.","operationId":"updatePatientPlanSummary","parameters":[{"name":"id","in":"path","description":"Plan summary identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/UpdatePatientPlanSummaryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/UpdatePatientPlanSummaryResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/result":{"get":{"tags":["result"],"summary":"List patient health results","description":"Get a list of patient health results.","operationId":"fetchPatientHealthResults","parameters":[{"name":"filter[patient]","in":"query","description":"Filter the patient health results for a specified patient","required":true,"schema":{"type":"string"}},{"name":"filter[actions]","in":"query","description":"A comma-separated list of action identifiers","schema":{"type":"string"}},{"name":"filter[start_at]","in":"query","description":"Filter results that occurred after the passed ISO date and time string","schema":{"type":"string","format":"dateTime"}},{"name":"filter[end_at]","in":"query","description":"Filter results that occurred before the passed ISO date and time string","schema":{"type":"string","format":"dateTime"}},{"name":"filter[threads]","in":"query","description":"A comma-separated list of thread identifiers","schema":{"type":"string"}},{"name":"filter[created_at]","in":"query","description":"The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for results created in November 2017 (America/New_York): `filter[created_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n","schema":{"type":"string"}},{"name":"filter[updated_at]","in":"query","description":"The start (inclusive) and end (exclusive) dates are ISO date and time strings separated by `..`. Example for results updated in November 2017 (America/New_York): `filter[updated_at]=2017-11-01T00:00:00-04:00..2017-12-01T00:00:00-05:00`\n","schema":{"type":"string"}},{"name":"page[number]","in":"query","description":"Page number","schema":{"type":"integer","default":1}},{"name":"page[size]","in":"query","description":"Page size","schema":{"maximum":50,"minimum":0,"type":"integer","default":10}},{"name":"page[limit]","in":"query","description":"Page limit","schema":{"minimum":0,"type":"integer","default":50}},{"name":"page[after]","in":"query","description":"Page cursor","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchPatientHealthResultResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/result/{id}":{"get":{"tags":["result"],"summary":"Get a patient health result","description":"Get patient health result by id.","operationId":"fetchPatientHealthResult","parameters":[{"name":"id","in":"path","description":"Patient health result identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchPatientHealthResultResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/reward":{"get":{"tags":["reward"],"summary":"List rewards","description":"Get a list of rewards matching the specified filters.","operationId":"fetchRewards","parameters":[{"name":"filter[patient]","in":"query","description":"Patient identifier. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[reward_program_activation]","in":"query","description":"Reward program activation identifier","schema":{"type":"string"}},{"name":"filter[thread]","in":"query","description":"Thread identifier","schema":{"type":"string"}},{"name":"filter[groups]","in":"query","description":"Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[organization]","in":"query","description":"Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchRewardsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"post":{"tags":["reward"],"summary":"Create a reward","description":"Create a reward for a patient.","operationId":"createReward","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateRewardRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateRewardResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/reward/{id}":{"get":{"tags":["reward"],"summary":"Get a reward","description":"Get a reward record by id.","operationId":"fetchReward","parameters":[{"name":"id","in":"path","description":"Reward identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchRewardResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/reward_earning":{"get":{"tags":["reward earning"],"summary":"List reward earnings","description":"Get a list of reward earnings matching the specified filters.","operationId":"fetchRewardEarnings","parameters":[{"name":"filter[groups]","in":"query","description":"Group identifiers","required":true,"schema":{"type":"string"}},{"name":"filter[patient]","in":"query","description":"Patient identifier","required":true,"schema":{"type":"string"}},{"name":"filter[ready_for_fulfillment]","in":"query","description":"If true, only returns those reward earnings for which ready_for_fulfillment is true and fulfilled_at is null. If false, only returns those reward earnings for which ready_for_fulfillment is false and fulfilled_at is null.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchRewardEarningsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"post":{"tags":["reward earning"],"summary":"Create a reward earning","description":"Create a reward earning for a reward. There can only be one earning for a reward. It is possilble to create multiple reward earnings simultaneously by providing and array of reward earnings in the data property.","operationId":"createRewardEarning","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateRewardEarningRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateRewardEarningResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/reward_earning/{id}":{"get":{"tags":["reward earning"],"summary":"Get a reward earning","description":"Get a reward earning record by id.","operationId":"fetchRewardEarning","parameters":[{"name":"id","in":"path","description":"Reward earning identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchRewardEarningResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/reward_earning_fulfillment":{"get":{"tags":["reward earning fulfillment"],"summary":"List reward earning fulfillments","description":"Get a list of reward earning fulfillments matching the specified filters.","operationId":"fetchRewardEarningFulfillments","parameters":[{"name":"filter[patient]","in":"query","description":"Patient identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchRewardEarningFulfillmentsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"post":{"tags":["reward earning fulfillment"],"summary":"Create a reward earning fulfillment","description":"Create a reward earning fulfillment for a reward earning. There can only be one fulfillment for each earning.","operationId":"createRewardEarningFulfillment","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateRewardEarningFulfillmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateRewardEarningFulfillmentResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/reward_earning_fulfillment/{id}":{"get":{"tags":["reward earning fulfillment"],"summary":"Get a reward earning fulfillment","description":"Get a reward earning fulfillment record by id.","operationId":"fetchRewardEarningFulfillment","parameters":[{"name":"id","in":"path","description":"Reward earning fulfillment identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchRewardEarningFulfillmentResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/reward_program":{"get":{"tags":["reward program"],"summary":"List reward programs","description":"Get a list of reward programs matching the specified filters.","operationId":"fetchRewardPrograms","parameters":[{"name":"filter[groups]","in":"query","description":"Comma-separated list of group identifiers. Note that one of the following filters must be specified: `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[organization]","in":"query","description":"Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchRewardProgramsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"post":{"tags":["reward program"],"summary":"Create a reward program","description":"Create a reward program for a group.","operationId":"createRewardProgram","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateRewardProgramRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateRewardProgramResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/reward_program/{id}":{"get":{"tags":["reward program"],"summary":"Get a reward program","description":"Get a reward program record by id.","operationId":"fetchRewardProgram","parameters":[{"name":"id","in":"path","description":"Reward program identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchRewardProgramResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/reward_program/{id}/group":{"get":{"tags":["reward program"],"summary":"Get group for a reward program","description":"Get the group related to a reward program.","operationId":"fetchRewardProgramGroup","parameters":[{"name":"id","in":"path","description":"Reward program identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchGroupsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}},"/reward_program_activation":{"get":{"tags":["reward program activation"],"summary":"List reward program activations","description":"Get a list of reward program activations matching the specified filters.","operationId":"fetchRewardProgramActivations","parameters":[{"name":"filter[patient]","in":"query","description":"Patient identifier. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[groups]","in":"query","description":"Comma-separated list of group ids. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}},{"name":"filter[organization]","in":"query","description":"Fitbit Plus organization id. Note that one of the following filters must be specified: `filter[patient]`, `filter[groups]`, `filter[organization]`.\n","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchRewardProgramActivationsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}},"post":{"tags":["reward program activation"],"summary":"Create a reward program activation","description":"Create a reward program activation for a patient. There can only be one activation for a patient for a given reward program.","operationId":"createRewardProgramActivation","requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateRewardProgramActivationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateRewardProgramActivationResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}},"409":{"description":"Invalid Request","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateErrorResponse"}}}}}}},"/reward_program_activation/{id}":{"get":{"tags":["reward program activation"],"summary":"Get a reward program activation","description":"Get a reward program activationrecord by id.","operationId":"fetchRewardProgramActivation","parameters":[{"name":"id","in":"path","description":"Reward program activation identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchRewardProgramActivationResponse"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/FetchErrorResponse"}}}}}}}},"components":{"schemas":{"ActionMetric":{"type":"object","properties":{"goal":{"type":"object"},"metric_type":{"type":"string"},"unit":{"type":"string"},"validations":{"type":"object","properties":{"maximum":{"type":"object","properties":{"unit":{"type":"string"},"value":{"type":"number"}}},"minimum":{"type":"object","properties":{"unit":{"type":"string"},"value":{"type":"number"}}}}}}},"ActionResource":{"required":["id","type"],"type":"object","properties":{"attributes":{"required":["effective_from","title","type"],"type":"object","properties":{"_thread":{"type":"string"},"adherence":{"type":"object","properties":{"complete":{"type":"integer"},"due":{"type":"integer"},"streak":{"type":"object","properties":{"count":{"type":"integer"},"updated_at":{"type":"string","format":"dateTime"}}}},"readOnly":true},"details":{"type":"object"},"effective_from":{"type":"string","format":"dateTime"},"effective_to":{"type":"string","format":"dateTime"},"frequency_goal":{"type":"object","properties":{"weeks":{"type":"object","properties":{"days":{"type":"array","items":{"type":"integer","description":"Days of week that the action is scheduled for. Zero-indexed, ex 0 represents Sunday, etc."}}}}}},"identifiers":{"type":"array","items":{"$ref":"#/components/schemas/Identifier"}},"intake":{"type":"object"},"metric_required":{"type":"boolean"},"metrics":{"type":"array","items":{"$ref":"#/components/schemas/ActionMetric"}},"static_title":{"type":"string","readOnly":true},"title":{"type":"string"},"tracking":{"type":"boolean"},"type":{"type":"string","enum":["other_lifestyle"]},"windows":{"type":"array","items":{"$ref":"#/components/schemas/ActionWindow"}}}},"id":{"type":"string"},"relationships":{"type":"object","properties":{"plan":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"}}},"links":{"type":"object"}}}}},"type":{"type":"string"}}},"ActionWindow":{"required":["type"],"type":"object","properties":{"_id":{"type":"string"},"title":{"type":"string"},"type":{"type":"string"}}},"Address":{"type":"object","properties":{"city":{"type":"string","example":"Cambridge"},"country":{"type":"string"},"district":{"type":"string"},"lines":{"type":"array","example":["1234 Any St."],"items":{"type":"string"}},"postal_code":{"type":"string","example":"02138"},"state":{"type":"string","example":"MA"},"text":{"type":"string"},"type":{"type":"string"},"use":{"type":"string"}}},"ArchiveHistory":{"type":"object","properties":{"archived":{"type":"boolean","example":true},"modified_at":{"type":"string","format":"dateTime","example":"2016-06-03T13:15:22.000Z"},"notes":{"type":"string","example":"Patient called requesting opt out of coaching"},"reason":{"type":"string","example":"Opted out of coaching"}}},"BundleResource":{"required":["id","type"],"type":"object","properties":{"attributes":{"required":["effective_from","title","type"],"type":"object","properties":{"_thread":{"type":"string"},"effective_from":{"type":"string","format":"dateTime"},"effective_to":{"type":"string","format":"dateTime"},"title":{"type":"string"},"type":{"type":"string"}}},"id":{"type":"string"},"relationships":{"type":"object","properties":{"actions":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"}}},"links":{"type":"object"}}},"plan":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"}}},"links":{"type":"object"}}}}},"type":{"type":"string"}}},"CalendarEventResource":{"type":"object","properties":{"attributes":{"type":"object","properties":{"all_day":{"type":"boolean","description":"True if the calendar event is an all day event, false otherwise. Must be set to true for `plan-check-in` event type. If it is true, then `start_at` and `end_at` must also be set to beginning of day, except `plan-check-in` event type does not need an `end_at` date. If it is false, then `start_at` and `end_at` must be on the same day."},"attendees":{"type":"array","description":"List of attendees for the calendar event","items":{"type":"object","properties":{"response_status":{"type":"string","description":"Status of responses from attendees","enum":["needsAction","declined","tentative","accepted"]},"user":{"type":"string"}}}},"completed_at":{"type":"string","description":"The date and time when the calendar event is marked as completed. Only valid for `plan-check-in` event type.","format":"ISODate","example":"2017-11-03T06:17:34.652Z"},"completed_by":{"type":"object","description":"The coach who marked the calendar event as completed. Only valid for `plan-check-in` event type."},"description":{"type":"string"},"end_at":{"type":"string","description":"The date and time when the calendar event ends. Not valid for `plan-check-in` event type.","format":"ISODate","example":"2017-11-03T08:00:00.000Z"},"location":{"type":"string"},"start_at":{"type":"string","description":"The date and time when the calendar event starts","format":"ISODate","example":"2017-11-03T04:00:00.000Z"},"time_zone":{"type":"string","description":"The time zone in which the dates for the calendar event are specified","example":"America/New_York"},"title":{"type":"string","description":"The title of the calendar event. Must not be empty or null"},"type":{"type":"string","description":"The type of calendar event. Immutable after event creation.","enum":["plan-check-in","reminder","telephone-call","office-visit","video-call"]}}},"id":{"type":"string"},"links":{"type":"object","properties":{"self":{"pattern":"/calendar_event/[0-9a-z]+","type":"string","example":"/calendar_event/5a0c8e2aa9d454cc1509a142"}}},"relationships":{"type":"object","properties":{"owner":{"required":["data"],"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"}}},"links":{"type":"object","properties":{"related":{"pattern":"/pub/calendar_event/[0-9a-z]+","type":"string","example":"/pub/calendar_event/5a0c8e2aa9d454cc1509a142/owner"}}}},"description":"The owner is the patient for whom the calendar event is created specificially for"}}},"type":{"type":"string","enum":["calendar_event"]}},"example":{"attributes":{"all_day":true,"attendees":[{"_id":"5ac7e74679f6868274a42e28","response_status":"needsAction","user":"5a0c8e27a9d454cc150997c9"},{"_id":"5ac7e74679f6868274a42e27","response_status":"needsAction","user":"5a0c8e27a9d454cc150997f7"}],"completed_at":"2017-11-03T06:17:34.652Z","completed_by":"5a0c8e27a9d454cc150997c9","created_at":"2017-10-20T10:59:40.000Z","created_by":"5a0c8e27a9d454cc150997c9","end_at":"2017-11-03T08:00:00.000Z","start_at":"2017-11-03T04:00:00.000Z","time_zone":"America/New_York","title":"Plan Check-In","type":"plan-check-in","updated_at":"2017-10-20T10:59:40.000Z","updated_by":"5a0c8e27a9d454cc150997c9"},"id":"5a0c8e2aa9d454cc1509a142","links":{"self":"/pub/calendar_event/5a0c8e2aa9d454cc1509a142"},"relationships":{"owner":{"data":{"id":"5a0c8e27a9d454cc150997f7","type":"patient"},"links":{"related":"/pub/calendar_event/5a0c8e2aa9d454cc1509a142/owner"}}},"type":"calendar_event"}},"CalendarEventResponseResource":{"type":"object","properties":{"attributes":{"type":"object","properties":{"attendee":{"type":"object","description":"The attendee in the attendees list of the calendar event."},"response_status":{"type":"string","description":"The response status for the attendee.","enum":["accepted","declined","tentative"]}}},"id":{"type":"string"},"links":{"type":"object","properties":{"self":{"pattern":"/calendar_event_response/[0-9a-z]+","type":"string","example":"/calendar_event_response/5ad0f966ceb0909e4bfa84dd"}}},"relationships":{"type":"object","properties":{"calendar_event":{"required":["data"],"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"}}},"links":{"type":"object","properties":{"related":{"pattern":"/pub/calendar_event_response/[0-9a-z]+","type":"string","example":"/pub/calendar_event_response/5ad0f966ceb0909e4bfa84dd/calendar_event"}}}},"description":"The calendar_event is the calendar event for which the calendar event response is created specificially for"},"user":{"required":["data"],"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"}}},"links":{"type":"object","properties":{"related":{"pattern":"/pub/calendar_event_response/[0-9a-z]+","type":"string","example":"/pub/calendar_event_response/5ad0f966ceb0909e4bfa84dd/user"}}}},"description":"The user is the coach or patient for whom the calendar event response is created specificially for"}}},"type":{"type":"string","enum":["calendar_event_response"]}},"example":{"attributes":{"attendee":"5ac7e74679f6868274a42e28","response_status":"accepted"},"id":"5ad0f966ceb0909e4bfa84dd","links":{"self":"/pub/calendar_event_response/5ad0f966ceb0909e4bfa84dd"},"relationships":{"calendar_event":{"data":{"id":"5755db2a3db4179179999acf","type":"calendar_event"},"links":{"related":"/pub/calendar_event_response/5ad0f966ceb0909e4bfa84dd/calendar_event"}},"user":{"data":{"id":"5a0c8e27a9d454cc150997f7","type":"user"},"links":{"related":"/pub/calendar_event_response/5ad0f966ceb0909e4bfa84dd/user"}}},"type":"calendar_event_response"}},"CoachResource":{"required":["attributes","id","type"],"type":"object","properties":{"attributes":{"type":"object","properties":{"first_name":{"type":"string","example":"Clarisa"},"last_name":{"type":"string","example":"Rivera"}}},"id":{"type":"string","example":"57b36e3c04ad8c2224f2af38"},"links":{"required":["self"],"type":"object","properties":{"self":{"pattern":"/coach/[0-9a-z]+","type":"string","example":"/coach/57b36e3c04ad8c2224f2af38"}},"readOnly":true},"type":{"type":"string","example":"coach","enum":["coach"]}}},"CollectionResponseLinks":{"type":"object","properties":{"last":{"type":"string"},"next":{"type":"string"},"prev":{"type":"string"},"self":{"type":"string"}}},"CreateActionRequest":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/ActionResource"}},"example":{"data":{"attributes":{"effective_from":"2017-02-20T11:12:13.000Z","frequency_goal":{"weeks":{"days":[0]}},"metrics":[{"goal":{"data":{"diastolic":{"unit":"mmHg","value":95},"systolic":{"unit":"mmHg","value":150}}},"metric_type":"blood_pressure","unit":"mmHg"}],"title":"Record Blood Pressure","type":"blood_pressure"},"relationships":{"bundles":{"data":[{"id":"58aacf0d076adcef394bac30","type":"bundle"}]},"plan":{"data":{"id":"58aacf0d076adcef394bac35","type":"patient_plan_summary"}}},"type":"action"}}},"CreateActionResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/ActionResource"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}},"example":{"data":{"attributes":{"_thread":"blood_pressure","adherence":{"complete":0,"due":0,"streak":{"count":0}},"created_at":"2017-02-20T11:12:13.000Z","created_by":"596541ec076adcef394bac2d","effective_from":"2017-02-20T11:12:13.000Z","frequency_goal":{"weeks":{"days":[0]}},"frequency_goal_prorated":0,"identifiers":[],"metric_required":false,"metrics":[{"_id":"58aacf0d076adcef394bac37","accepted_values":[],"goal":{"data":{"diastolic":{"unit":"mmHg","value":95},"systolic":{"unit":"mmHg","value":150}}},"metric_type":"blood_pressure","unit":"mmHg"}],"options":[],"title":"Record Blood Pressure","tracking":true,"type":"blood_pressure","updated_at":"2017-02-20T11:12:13.000Z","updated_by":"596541ec076adcef394bac2d","windows":[]},"id":"58aacf0d076adcef394bac36","links":{"self":"/action/58aacf0d076adcef394bac36"},"relationships":{"bundles":{"data":[{"id":"58aacf0d076adcef394bac30","type":"bundle"}],"links":{"related":"/action/58aacf0d076adcef394bac36/bundles"}},"plan":{"data":{"id":"58aacf0d076adcef394bac35","type":"patient_plan_summary"},"links":{"related":"/action/58aacf0d076adcef394bac36/plan"}}},"type":"action"},"included":[],"meta":{"req_id":"014ea6d2-4717-4915-b4bc-98454180614e"}}},"CreateBundleRequest":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/BundleResource"}}},"CreateBundleResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/BundleResource"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}}},"CreateCalendarEventRequest":{"required":["data"],"type":"object","properties":{"data":{"required":["attributes","relationships","type"],"type":"object","properties":{"attributes":{"type":"object","allOf":[{"$ref":"#/components/schemas/CalendarEventResource/properties/attributes"}]},"relationships":{"type":"object","properties":{"owner":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/CalendarEventResource/properties/relationships/properties/owner/properties/data"}}}}},"type":{"$ref":"#/components/schemas/CalendarEventResource/properties/type"}}}},"example":{"data":{"attributes":{"all_day":true,"attendees":[{"user":"5a0c8e27a9d454cc150997c9"},{"user":"5a0c8e27a9d454cc150997f7"}],"start_at":"2018-02-20T00:00:00Z","time_zone":"America/New_York","title":"Plan Check-In","type":"plan-check-in"},"relationships":{"owner":{"data":{"id":"5a0c8e27a9d454cc150997f7","type":"patient"}}},"type":"calendar_event"}}},"CreateCalendarEventResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CalendarEventResource"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}}},"CreateCalendarEventResponseRequest":{"required":["data"],"type":"object","properties":{"data":{"required":["attributes","relationships","type"],"type":"object","properties":{"attributes":{"type":"object","allOf":[{"$ref":"#/components/schemas/CalendarEventResponseResource/properties/attributes"}]},"relationships":{"type":"object","properties":{"calendar_event":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/CalendarEventResponseResource/properties/relationships/properties/calendar_event/properties/data"}}},"user":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/CalendarEventResponseResource/properties/relationships/properties/user/properties/data"}}}}},"type":{"$ref":"#/components/schemas/CalendarEventResponseResource/properties/type"}}}},"example":{"data":{"attributes":{"attendee":"5ac7e74679f6868274a42e28","response_status":"accepted"},"relationships":{"calendar_event":{"data":{"id":"5755db2a3db4179179999acf","type":"calendar_event"}},"user":{"data":{"id":"5a0c8e27a9d454cc150997f7","type":"user"}}},"type":"calendar_event_response"}}},"CreateGroupRequest":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/GroupResource"}},"example":{"data":{"attributes":{"name":"New Group"},"type":"group"}}},"CreateGroupResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/GroupResource"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}},"example":{"data":{"attributes":{"name":"New Group"},"id":"5817acae6f5316c0d05ba8b8","links":{"self":"/pub/group/5817acae6f5316c0d05ba8b8"},"type":"group"},"meta":{"req_id":"6ac6d0f2-00b2-4031-8c35-97b2bfb0aced"}}},"CreateOrUpdateErrorResponse":{"type":"object","properties":{"errors":{"$ref":"#/components/schemas/Error"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}},"example":{"errors":[{"code":"Unauthorized","detail":"A valid bearer token is required","status":"401"}],"meta":{"req_id":"d07c8b12-c95e-4a06-8424-92aac94bb445"}}},"CreateOrUpdateMetaResponse":{"type":"object","properties":{"ignored":{"type":"array","items":{"type":"string"}},"req_id":{"type":"string"}}},"CreatePatientHealthMetricRequest":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/PatientHealthMetricCreateResource"},"meta":{"type":"object","properties":{"ignore_duplicates":{"type":"boolean","description":"If `true`, the patient health metric will be ignored if there is an existing patient health metric for\nthe same patient, with the same `type` and same `occurred_at`.\n"}}}}},"CreatePatientHealthMetricResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/PatientHealthMetricResource"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}}},"CreatePatientRequest":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/PatientCreateResource"},"meta":{"type":"object","properties":{"ignore_duplicates":{"type":"boolean","description":"If `true`, patients with any conflicting identifiers (same `system` and `value`) will be ignored.\nUseful for gracefully skipping duplicates after errors occur during bulk create.\n","default":false}}}},"example":{"data":{"attributes":{"first_name":"Jack","last_name":"Frost"},"relationships":{"groups":{"data":[{"id":"5755db2a3db4179179999acf","type":"group"}]}},"type":"patient"}}},"CreatePatientResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/PatientResource"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}},"example":{"data":{"attributes":{"addresses":[],"archive_history":[],"archived":false,"first_name":"Jack","identifiers":[],"last_name":"Frost","phone_numbers":[],"updated_at":"2016-11-01T01:07:33.121Z"},"id":"5817ead56f5316c0d05ba8bf","links":{"self":"/pub/patient/5817ead56f5316c0d05ba8bf","twine_web_app":"http://10.0.1.55:9000/#/coach/patient/5817ead56f5316c0d05ba8bf"},"relationships":{"coaches":{"data":[],"links":{"related":"/pub/patient/5817ead56f5316c0d05ba8bf/coaches"}},"groups":{"data":[{"id":"5755db2a3db4179179999acf","type":"group"}],"links":{"related":"/pub/patient/5817ead56f5316c0d05ba8bf/groups"}}},"type":"patient"},"included":[],"meta":{"req_id":"5b813ad3-cabc-418f-add4-1e53bc69f7cb"}}},"CreateRewardEarningFulfillmentRequest":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/RewardEarningFulfillmentResource"}}},"CreateRewardEarningFulfillmentResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/RewardEarningFulfillmentResource"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}}},"CreateRewardEarningRequest":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/RewardEarningResource"}}},"CreateRewardEarningResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/RewardEarningResource"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}}},"CreateRewardProgramActivationRequest":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/RewardProgramActivationResource"}}},"CreateRewardProgramActivationResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/RewardProgramActivationResource"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}}},"CreateRewardProgramRequest":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/RewardProgramResource"}}},"CreateRewardProgramResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/RewardProgramResource"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}}},"CreateRewardRequest":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/RewardResource"}}},"CreateRewardResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/RewardResource"},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}}},"CreateTokenRequest":{"required":["data"],"type":"object","properties":{"data":{"required":["attributes"],"type":"object","properties":{"attributes":{"required":["client_id","grant_type"],"type":"object","properties":{"client_id":{"type":"string","description":"Contact Fitbit Plus API Support to get a client id and secret.","example":"19391dc5-8af8-4152-93e8-74ff9361607e"},"client_secret":{"type":"string","description":"Contact Fitbit Plus API Support to get a client id and secret. Secret is required if grant_type is \"client_credentials\"","example":"63eca384-7a65-42e2-872b-afd3e8659d0a"},"grant_type":{"type":"string","example":"client_credentials","enum":["refresh_token","client_credentials"]},"refresh_token":{"type":"string","description":"Required if grant_type is \"refresh_token\"","example":"b7dcc4a4-593b-4410-a0c5-97ae48939396"}}},"type":{"type":"string","example":"token","enum":["token"]}}}},"example":{"data":{"attributes":{"client_id":"95c78ab2-167f-40b8-8bec-8398d4b87454","client_secret":"35d18dc9-a3dd-4948-b787-063a490b9354","grant_type":"client_credentials"},"type":"oauth/token"}}},"CreateTokenResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/TokenResource"},"included":{"type":"array","items":{"$ref":"#/components/schemas/GroupResource"}},"meta":{"$ref":"#/components/schemas/CreateOrUpdateMetaResponse"}},"example":{"data":{"attributes":{"access_token":"c1b83534-76c1-4a27-b1d4-8140e24dd7c6","expires_in":3601,"refresh_token":"a38d192a-76fd-4b1d-954c-893c9d29c8f4","token_type":"bearer"},"id":"5817a24d678a7c2cbf5df3ee","relationships":{"groups":{"data":[{"id":"5755db2a3db4179179999acf","type":"group"}],"links":{"related":"/pub/oauth/token/5817a24d678a7c2cbf5df3ee/groups"}}},"type":"oauth/token"},"meta":{"req_id":"2de51f1a-bafa-4e48-a0d0-cd8d4a9ffb28"}}},"EmailHistoryResource":{"required":["type"],"type":"object","properties":{"attributes":{"type":"object","properties":{"email_address":{"type":"string","description":"Address email was sent to."},"email_type":{"type":"string","description":"Type of email."},"send_time":{"type":"string","description":"Time email was sent.","format":"dateTime"},"status_times":{"type":"object","properties":{"bounce":{"type":"string","description":"Time email was bounced.","format":"dateTime"},"click":{"type":"string","description":"Time email was clicked.","format":"dateTime"},"deferred":{"type":"string","description":"Time email was deferred.","format":"dateTime"},"delivered":{"type":"string","description":"Time email was delivered.","format":"dateTime"},"dropped":{"type":"string","description":"Time email was dropped.","format":"dateTime"},"open":{"type":"string","description":"Time email was opened.","format":"dateTime"},"processed":{"type":"string","description":"Time email was processed.","format":"dateTime"},"spamreport":{"type":"string","description":"Time email was reported as spam.","format":"dateTime"},"unsubscribe":{"type":"string","description":"Time email was unsubscribed from.","form
[...]
