{"openapi":"3.0.1","info":{"title":"AppPlatformManagementClient","description":"REST API for Azure Spring Cloud","version":"2019-05-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.AppPlatform/operations":{"get":{"tags":["AppPlatform"],"description":"Lists all of the available REST API operations of the Microsoft.AppPlatform provider.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}}],"responses":{"200":{"description":"Success. The response describes the list of operations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvailableOperations"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.AppPlatform/Spring":{"get":{"tags":["AppPlatform"],"description":"Handles requests to list all resources in a subscription.","operationId":"Services_ListBySubscription","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the list of Services in the subscription.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResourceList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.AppPlatform/locations/{location}/checkNameAvailability":{"post":{"tags":["AppPlatform"],"description":"Checks that the resource name is valid and is not already in use.","operationId":"Services_CheckNameAvailability","parameters":[{"name":"location","in":"path","description":"the region","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameAvailabilityParameters"}}},"required":true},"responses":{"200":{"description":"Success. The response describes the name availability.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameAvailability"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring":{"get":{"tags":["AppPlatform"],"description":"Handles requests to list all resources in a resource group.","operationId":"Services_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the list of Services in the resource group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResourceList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}":{"get":{"tags":["AppPlatform"],"description":"Get a Service and its properties.","operationId":"Services_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the corresponding Service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["AppPlatform"],"description":"Create a new Service or update an exiting Service.","operationId":"Services_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the create or update operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResource"}}},"required":true},"responses":{"200":{"description":"Success. The response describes the updated Service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResource"}}}},"201":{"description":"Created. The response describes the new Service and contains a Location header to query the operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["AppPlatform"],"description":"Operation to delete a Service.","operationId":"Services_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted. The response indicates the delete operation is performed in the background."},"204":{"description":"Success. The response indicates the resource is already deleted."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["AppPlatform"],"description":"Operation to update an exiting Service.","operationId":"Services_Update","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the update operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResource"}}},"required":true},"responses":{"200":{"description":"Success. The response describes the updated Service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResource"}}}},"202":{"description":"Accepted. The response indicates the exiting Service is now updating and contains a Location header to query the operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps":{"get":{"tags":["AppPlatform"],"description":"Handles requests to list all resources in a Service.","operationId":"Apps_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the list of Apps in the Service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppResourceCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}":{"get":{"tags":["AppPlatform"],"description":"Get an App and its properties.","operationId":"Apps_Get","parameters":[{"name":"syncStatus","in":"query","description":"Indicates whether sync status","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the corresponding App.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["AppPlatform"],"description":"Create a new App or update an exiting App.","operationId":"Apps_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the create or update operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppResource"}}},"required":true},"responses":{"200":{"description":"Success. The response describes the updated App.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppResource"}}}},"201":{"description":"Created. The response describes the new App and contains a Location header to query the operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["AppPlatform"],"description":"Operation to delete an App.","operationId":"Apps_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response indicates the resource is deleted."},"204":{"description":"Success. The response indicates the resource doesn't exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["AppPlatform"],"description":"Operation to update an exiting App.","operationId":"Apps_Update","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the update operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppResource"}}},"required":true},"responses":{"200":{"description":"Success. The response describes the updated App.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppResource"}}}},"202":{"description":"Accepted. The response indicates the exiting App is now updating and contains a Location header to query the operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/bindings":{"get":{"tags":["AppPlatform"],"description":"Handles requests to list all resources in an App.","operationId":"Bindings_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the list of Bindings in the App.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindingResourceCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/bindings/{bindingName}":{"get":{"tags":["AppPlatform"],"description":"Get a Binding and its properties.","operationId":"Bindings_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"bindingName","in":"path","description":"The name of the Binding resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the corresponding Binding.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindingResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["AppPlatform"],"description":"Create a new Binding or update an exiting Binding.","operationId":"Bindings_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"bindingName","in":"path","description":"The name of the Binding resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the create or update operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindingResource"}}},"required":true},"responses":{"200":{"description":"Success. The response describes the created or updated Binding.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindingResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["AppPlatform"],"description":"Operation to delete a Binding.","operationId":"Bindings_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"bindingName","in":"path","description":"The name of the Binding resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response indicates the resource is deleted."},"204":{"description":"Success. The response indicates the resource doesn't exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["AppPlatform"],"description":"Operation to update an exiting Binding.","operationId":"Bindings_Update","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"bindingName","in":"path","description":"The name of the Binding resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the update operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindingResource"}}},"required":true},"responses":{"200":{"description":"Success. The response describes the updated Binding.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindingResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments":{"get":{"tags":["AppPlatform"],"description":"Handles requests to list all resources in an App.","operationId":"Deployments_List","parameters":[{"name":"version","in":"query","description":"Version of the deployments to be listed","style":"form","explode":true,"schema":{"uniqueItems":false,"type":"array","items":{"type":"string"}}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the list of Deployments in the App.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResourceCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}":{"get":{"tags":["AppPlatform"],"description":"Get a Deployment and its properties.","operationId":"Deployments_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"deploymentName","in":"path","description":"The name of the Deployment resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the corresponding Deployment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["AppPlatform"],"description":"Create a new Deployment or update an exiting Deployment.","operationId":"Deployments_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"deploymentName","in":"path","description":"The name of the Deployment resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the create or update operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResource"}}},"required":true},"responses":{"200":{"description":"Success. The response describes the updated Deployment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResource"}}}},"201":{"description":"Created. The response describes the new Deployment and contains a Location header to query the\r\noperation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["AppPlatform"],"description":"Operation to delete a Deployment.","operationId":"Deployments_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"deploymentName","in":"path","description":"The name of the Deployment resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response indicates the resource is deleted."},"204":{"description":"Success. The response indicates the resource doesn't exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["AppPlatform"],"description":"Operation to update an exiting Deployment.","operationId":"Deployments_Update","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"deploymentName","in":"path","description":"The name of the Deployment resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the update operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResource"}}},"required":true},"responses":{"200":{"description":"Success. The response describes the updated Deployment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResource"}}}},"202":{"description":"Accepted. The response indicates the exiting Deployment is now updating and contains a Location\r\nheader to query the operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/getLogFileUrl":{"post":{"tags":["AppPlatform"],"description":"Get deployment log file URL","operationId":"Deployments_GetLogFileUrl","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"deploymentName","in":"path","description":"The name of the Deployment resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response contains the log file URL.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogFileUrlResponse"}}}},"204":{"description":"Success. The deployment does not have log file."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/restart":{"post":{"tags":["AppPlatform"],"description":"Restart the deployment.","operationId":"Deployments_Restart","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"deploymentName","in":"path","description":"The name of the Deployment resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success."},"202":{"description":"Accepted. The response indicates the Deployment is now restarting and contains a Location header\r\nto query the operation result."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/start":{"post":{"tags":["AppPlatform"],"description":"Start the deployment.","operationId":"Deployments_Start","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"deploymentName","in":"path","description":"The name of the Deployment resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success."},"202":{"description":"Accepted. The response indicates the Deployment is now starting and contains a Location header to\r\nquery the operation result."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/stop":{"post":{"tags":["AppPlatform"],"description":"Stop the deployment.","operationId":"Deployments_Stop","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},{"name":"deploymentName","in":"path","description":"The name of the Deployment resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success."},"202":{"description":"Accepted. The response indicates the Deployment is now stopping and contains a Location header to\r\nquery the operation result."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/getResourceUploadUrl":{"post":{"tags":["AppPlatform"],"description":"Get an resource upload URL for an App, which may be artifacts or source archive.","operationId":"Apps_GetResourceUploadUrl","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the resource upload URL.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUploadDefinition"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/deployments":{"get":{"tags":["AppPlatform"],"description":"List deployments for a certain service","operationId":"Deployments_ListClusterAllDeployments","parameters":[{"name":"version","in":"query","description":"Version of the deployments to be listed","style":"form","explode":true,"schema":{"uniqueItems":false,"type":"array","items":{"type":"string"}}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResourceCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/disableTestEndpoint":{"post":{"tags":["AppPlatform"],"operationId":"Services_DisableTestEndpoint","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/enableTestEndpoint":{"post":{"tags":["AppPlatform"],"operationId":"Services_EnableTestEndpoint","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestKeys"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/listTestKeys":{"post":{"tags":["AppPlatform"],"description":"List test keys for a Service.","operationId":"Services_ListTestKeys","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the test keys.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestKeys"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/regenerateTestKey":{"post":{"tags":["AppPlatform"],"description":"Regenerate a test key for a Service.","operationId":"Services_RegenerateTestKey","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters for the operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegenerateTestKeyRequestPayload"}}},"required":true},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestKeys"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"AppResource":{"properties":{"properties":{"$ref":"#/components/schemas/AppResourceProperties"}},"description":"App resource payload","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"AppResourceCollection":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."},"value":{"type":"array","description":"Collection of App resources","items":{"$ref":"#/components/schemas/AppResource"}}},"description":"Object that includes an array of App resources and a possible link for next set"},"AppResourceProperties":{"type":"object","properties":{"activeDeploymentName":{"type":"string","description":"Name of the active deployment of the App"},"createdTime":{"type":"string","description":"Date time when the resource is created","format":"date-time","readOnly":true},"persistentDisk":{"$ref":"#/components/schemas/PersistentDisk"},"provisioningState":{"type":"string","description":"Provisioning state of the App","readOnly":true,"enum":["Succeeded","Failed","Creating","Updating"]},"public":{"type":"boolean","description":"Indicates whether the App exposes public endpoint"},"temporaryDisk":{"$ref":"#/components/schemas/TemporaryDisk"},"url":{"type":"string","description":"URL of the App","readOnly":true}},"description":"App resource properties payload"},"AvailableOperations":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."},"value":{"type":"array","description":"Collection of available operation details","items":{"$ref":"#/components/schemas/OperationDetail"}}},"description":"Available operations of the service"},"BindingResource":{"properties":{"properties":{"$ref":"#/components/schemas/BindingResourceProperties"}},"description":"Binding resource payload","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"BindingResourceCollection":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."},"value":{"type":"array","description":"Collection of Binding resources","items":{"$ref":"#/components/schemas/BindingResource"}}},"description":"Object that includes an array of Binding resources and a possible link for next set"},"BindingResourceProperties":{"type":"object","properties":{"bindingParameters":{"type":"object","additionalProperties":{"type":"object"},"description":"Binding parameters of the Binding resource"},"createdAt":{"type":"string","description":"Creation time of the Binding resource","readOnly":true},"generatedProperties":{"type":"string","description":"The generated Spring Boot property file for this binding. The secret will be deducted.","readOnly":true},"key":{"type":"string","description":"The key of the bound resource"},"resourceId":{"type":"string","description":"The Azure resource id of the bound resource"},"resourceName":{"type":"string","description":"The name of the bound resource"},"resourceType":{"type":"string","description":"The standard Azure resource type of the bound resource"},"updatedAt":{"type":"string","description":"Update time of the Binding resource","readOnly":true}},"description":"Binding resource properties payload"},"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error response from the service."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically."},"details":{"type":"array","description":"A list of additional details about the error.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface."},"target":{"type":"string","description":"The target of the particular error. For example, the name of the property in error."}},"description":"An error response from the service."},"ClusterResourceProperties":{"type":"object","properties":{"configServerProperties":{"$ref":"#/components/schemas/ConfigServerProperties"},"provisioningState":{"type":"string","description":"Provisioning state of the Service","readOnly":true,"enum":["Creating","Updating","Deleting","Deleted","Succeeded","Failed","Moving","Moved","MoveFailed"]},"serviceId":{"type":"string","description":"ServiceInstanceEntity GUID which uniquely identifies a created resource","readOnly":true},"trace":{"$ref":"#/components/schemas/TraceProperties"},"version":{"type":"integer","description":"Version of the Service","format":"int32","readOnly":true}},"description":"Service properties payload"},"ConfigServerGitProperty":{"required":["uri"],"type":"object","properties":{"hostKey":{"type":"string","description":"Public sshKey of git repository."},"hostKeyAlgorithm":{"type":"string","description":"SshKey algorithm of git repository."},"label":{"type":"string","description":"Label of the repository"},"password":{"type":"string","description":"Password of git repository basic auth."},"privateKey":{"type":"string","description":"Private sshKey algorithm of git repository."},"repositories":{"type":"array","description":"Repositories of git.","items":{"$ref":"#/components/schemas/GitPatternRepository"}},"searchPaths":{"type":"array","description":"Searching path of the repository","items":{"type":"string"}},"strictHostKeyChecking":{"type":"boolean","description":"Strict host key checking or not."},"uri":{"type":"string","description":"URI of the repository"},"username":{"type":"string","description":"Username of git repository basic auth."}},"description":"Property of git."},"ConfigServerProperties":{"type":"object","properties":{"configServer":{"$ref":"#/components/schemas/ConfigServerSettings"},"error":{"$ref":"#/components/schemas/Error"},"state":{"type":"string","description":"State of the config server.","readOnly":true,"enum":["NotAvailable","Deleted","Failed","Succeeded","Updating"]}},"description":"Config server git properties payload"},"ConfigServerSettings":{"type":"object","properties":{"gitProperty":{"$ref":"#/components/schemas/ConfigServerGitProperty"}},"description":"The settings of config server."},"DeploymentInstance":{"type":"object","properties":{"discoveryStatus":{"type":"string","description":"Discovery status of the deployment instance","readOnly":true},"name":{"type":"string","description":"Name of the deployment instance","readOnly":true},"reason":{"type":"string","description":"Failed reason of the deployment instance","readOnly":true},"status":{"type":"string","description":"Status of the deployment instance","readOnly":true}},"description":"Deployment instance payload"},"DeploymentResource":{"properties":{"properties":{"$ref":"#/components/schemas/DeploymentResourceProperties"}},"description":"Deployment resource payload","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"DeploymentResourceCollection":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."},"value":{"type":"array","description":"Collection of Deployment resources","items":{"$ref":"#/components/schemas/DeploymentResource"}}},"description":"Object that includes an array of App resources and a possible link for next set"},"DeploymentResourceProperties":{"type":"object","properties":{"active":{"type":"boolean","description":"Indicates whether the Deployment is active","readOnly":true},"appName":{"type":"string","description":"App name of the deployment","readOnly":true},"createdTime":{"type":"string","description":"Date time when the resource is created","format":"date-time","readOnly":true},"deploymentSettings":{"$ref":"#/components/schemas/DeploymentSettings"},"instances":{"type":"array","description":"Collection of instances belong to the Deployment","readOnly":true,"items":{"$ref":"#/components/schemas/DeploymentInstance"}},"provisioningState":{"type":"string","description":"Provisioning state of the Deployment","readOnly":true,"enum":["Creating","Updating","Succeeded","Failed"]},"source":{"$ref":"#/components/schemas/UserSourceInfo"},"status":{"type":"string","description":"Status of the Deployment","readOnly":true,"enum":["Unknown","Stopped","Running","Failed","Allocating","Upgrading","Compiling"]}},"description":"Deployment resource properties payload"},"DeploymentSettings":{"type":"object","properties":{"cpu":{"maximum":4,"minimum":1,"type":"integer","description":"Required CPU","format":"int32","default":1},"environmentVariables":{"type":"object","additionalProperties":{"type":"string"},"description":"Collection of environment variables"},"instanceCount":{"maximum":20,"minimum":1,"type":"integer","description":"Instance count","format":"int32","default":1},"jvmOptions":{"type":"string","description":"JVM parameter"},"memoryInGB":{"maximum":8,"minimum":1,"type":"integer","description":"Required Memory size in GB","format":"int32","default":1},"runtimeVersion":{"type":"string","description":"Runtime version","enum":["Java_8","Java_11"]}},"description":"Deployment settings payload"},"Error":{"type":"object","properties":{"code":{"type":"string","description":"The code of error."},"message":{"type":"string","description":"The message of error."}},"description":"The error code compose of code and message."},"GitPatternRepository":{"required":["name","uri"],"type":"object","properties":{"hostKey":{"type":"string","description":"Public sshKey of git repository."},"hostKeyAlgorithm":{"type":"string","description":"SshKey algorithm of git repository."},"label":{"type":"string","description":"Label of the repository"},"name":{"type":"string","description":"Name of the repository"},"password":{"type":"string","description":"Password of git repository basic auth."},"pattern":{"type":"array","description":"Collection of pattern of the repository","items":{"type":"string"}},"privateKey":{"type":"string","description":"Private sshKey algorithm of git repository."},"searchPaths":{"type":"array","description":"Searching path of the repository","items":{"type":"string"}},"strictHostKeyChecking":{"type":"boolean","description":"Strict host key checking or not."},"uri":{"type":"string","description":"URI of the repository"},"username":{"type":"string","description":"Username of git repository basic auth."}},"description":"Git repository property payload"},"LogFileUrlResponse":{"required":["url"],"type":"object","properties":{"url":{"type":"string","description":"URL of the log file"}},"description":"Log file URL payload"},"LogSpecification":{"type":"object","properties":{"blobDuration":{"type":"string","description":"Blob duration of the log"},"displayName":{"type":"string","description":"Localized friendly display name of the log"},"name":{"type":"string","description":"Name of the log"}},"description":"Specifications of the Log for Azure Monitoring"},"MetricDimension":{"type":"object","properties":{"displayName":{"type":"string","description":"Localized friendly display name of the dimension"},"name":{"type":"string","description":"Name of the dimension"}},"description":"Specifications of the Dimension of metrics"},"MetricSpecification":{"type":"object","properties":{"aggregationType":{"type":"string","description":"Only provide one value for this field. Valid values: Average, Minimum, Maximum, Total, Count."},"category":{"type":"string","description":"Name of the metric category that the metric belongs to. A metric can only belong to a single category."},"dimensions":{"type":"array","description":"Dimensions of the metric","items":{"$ref":"#/components/schemas/MetricDimension"}},"displayDescription":{"type":"string","description":"Localized friendly description of the metric"},"displayName":{"type":"string","description":"Localized friendly display name of the metric"},"fillGapWithZero":{"type":"boolean","description":"Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published."},"name":{"type":"string","description":"Name of the metric"},"supportedAggregationTypes":{"type":"array","description":"Supported aggregation types","items":{"type":"string"}},"supportedTimeGrainTypes":{"type":"array","description":"Supported time grain types","items":{"type":"string"}},"unit":{"type":"string","description":"Unit that makes sense for the metric"}},"description":"Specifications of the Metrics for Azure Monitoring"},"NameAvailability":{"type":"object","properties":{"message":{"type":"string","description":"Message why the name is not available"},"nameAvailable":{"type":"boolean","description":"Indicates whether the name is available"},"reason":{"type":"string","description":"Reason why the name is not available"}},"description":"Name availability result payload"},"NameAvailabilityParameters":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"Name to be checked"},"type":{"type":"string","description":"Type of the resource to check name availability"}},"description":"Name availability parameters payload"},"OperationDetail":{"type":"object","properties":{"dataAction":{"type":"boolean","description":"Indicates whether the operation is a data action"},"display":{"$ref":"#/components/schemas/OperationDisplay"},"name":{"type":"string","description":"Name of the operation"},"origin":{"type":"string","description":"Origin of the operation"},"properties":{"$ref":"#/components/schemas/OperationProperties"}},"description":"Operation detail payload"},"OperationDisplay":{"type":"object","properties":{"description":{"type":"string","description":"Localized friendly description for the operation"},"operation":{"type":"string","description":"Localized friendly name for the operation"},"provider":{"type":"string","description":"Resource provider of the operation"},"resource":{"type":"string","description":"Resource of the operation"}},"description":"Operation display payload"},"OperationProperties":{"type":"object","properties":{"serviceSpecification":{"$ref":"#/components/schemas/ServiceSpecification"}},"description":"Extra Operation properties"},"PersistentDisk":{"type":"object","properties":{"mountPath":{"type":"string","description":"Mount path of the persistent disk"},"sizeInGB":{"maximum":50,"minimum":0,"type":"integer","description":"Size of the persistent disk in GB","format":"int32"},"usedInGB":{"maximum":50,"minimum":0,"type":"integer","description":"Size of the used persistent disk in GB","format":"int32","readOnly":true}},"description":"Persistent disk payload"},"ProxyResource":{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"RegenerateTestKeyRequestPayload":{"required":["keyType"],"type":"object","properties":{"keyType":{"type":"string","description":"Type of the test key","enum":["Primary","Secondary"]}},"description":"Regenerate test key request payload"},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource.","readOnly":true},"name":{"type":"string","description":"The name of the resource.","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources."},"ResourceUploadDefinition":{"type":"object","properties":{"relativePath":{"type":"string","description":"Source relative path"},"uploadUrl":{"type":"string","description":"Upload URL"}},"description":"Resource upload definition payload"},"ServiceResource":{"properties":{"properties":{"$ref":"#/components/schemas/ClusterResourceProperties"}},"description":"Service resource","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"ServiceResourceList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."},"value":{"type":"array","description":"Collection of Service resources","items":{"$ref":"#/components/schemas/ServiceResource"}}},"description":"Object that includes an array of Service resources and a possible link for next set"},"ServiceSpecification":{"type":"object","properties":{"logSpecifications":{"type":"array","description":"Specifications of the Log for Azure Monitoring","items":{"$ref":"#/components/schemas/LogSpecification"}},"metricSpecifications":{"type":"array","description":"Specifications of the Metrics for Azure Monitoring","items":{"$ref":"#/components/schemas/MetricSpecification"}}},"description":"Service specification payload"},"TemporaryDisk":{"type":"object","properties":{"mountPath":{"type":"string","description":"Mount path of the temporary disk"},"sizeInGB":{"maximum":5,"minimum":0,"type":"integer","description":"Size of the temporary disk in GB","format":"int32"}},"description":"Temporary disk payload"},"TestKeys":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Indicates whether the test endpoint feature enabled or not"},"primaryKey":{"type":"string","description":"Primary key"},"primaryTestEndpoint":{"type":"string","description":"Primary test endpoint"},"secondaryKey":{"type":"string","description":"Secondary key"},"secondaryTestEndpoint":{"type":"string","description":"Secondary test endpoint"}},"description":"Test keys payload"},"TraceProperties":{"type":"object","properties":{"appInsightInstrumentationKey":{"type":"string","description":"Target application insight instrumentation key"},"enabled":{"type":"boolean","description":"Indicates whether enable the tracing functionality"},"error":{"$ref":"#/components/schemas/Error"},"state":{"type":"string","description":"State of the trace proxy.","readOnly":true,"enum":["NotAvailable","Failed","Succeeded","Updating"]}},"description":"Trace properties payload"},"TrackedResource":{"properties":{"location":{"type":"string","description":"The GEO location of the resource."},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Tags of the service which is a list of key value pairs that describe the resource."}},"description":"The resource model definition for a ARM tracked top level resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"UserSourceInfo":{"type":"object","properties":{"artifactSelector":{"type":"string","description":"Selector for the artifact to be used for the deployment for multi-module projects. This should be\r\nthe relative path to the target module/project."},"relativePath":{"type":"string","description":"Relative path of the storage which stores the source"},"type":{"type":"string","description":"Type of the source uploaded","enum":["Jar","Source"]},"version":{"type":"string","description":"Version of the source"}},"description":"Source information for a deployment"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","enum":["2019-05-01-preview"]}},"AppNameParameter":{"name":"appName","in":"path","description":"The name of the App resource.","required":true,"schema":{"type":"string"}},"BindingNameParameter":{"name":"bindingName","in":"path","description":"The name of the Binding resource.","required":true,"schema":{"type":"string"}},"DeploymentNameParameter":{"name":"deploymentName","in":"path","description":"The name of the Deployment resource.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"ServiceNameParameter":{"name":"serviceName","in":"path","description":"The name of the Service resource.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}