{"openapi":"3.0.1","info":{"title":"AzureBridgeAdminClient","description":"AzureBridge Admin Client.","version":"2016-01-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations":{"get":{"tags":["Activations"],"description":"Returns the list of activations.","operationId":"Activations_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroup","in":"path","description":"The resource group the resource is located under.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2016-01-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivationResourcesPage"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}":{"get":{"tags":["Activations"],"description":"Returns activation name.","operationId":"Activations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroup","in":"path","description":"The resource group the resource is located under.","required":true,"schema":{"type":"string"}},{"name":"activationName","in":"path","description":"Name of the activation.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2016-01-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivationResource"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["Activations"],"description":"Create a new activation.","operationId":"Activations_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroup","in":"path","description":"The resource group the resource is located under.","required":true,"schema":{"type":"string"}},{"name":"activationName","in":"path","description":"Name of the activation.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2016-01-01"}}],"requestBody":{"description":"new activation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Activation"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivationResource"}}}}}},"delete":{"tags":["Activations"],"description":"Delete an activation.","operationId":"Activations_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroup","in":"path","description":"The resource group the resource is located under.","required":true,"schema":{"type":"string"}},{"name":"activationName","in":"path","description":"Name of the activation.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2016-01-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivationResource"}}}}}}}},"components":{"schemas":{"Activation":{"type":"object","properties":{"azureRegistrationResourceIdentifier":{"type":"string","description":"Azure registration resource identifier."},"displayName":{"type":"string","description":"Name displayed for the product."},"expiration":{"type":"string","description":"The activation expiration."},"marketplaceSyndicationEnabled":{"type":"boolean","description":"Value indicating whether the marketplace syndication feature is enabled."},"provisioningState":{"type":"string","description":"The provisioning state of the resource.","enum":["Stopped","Starting","Running","Stopping","Succeeded","Downloading"]},"usageReportingEnabled":{"type":"boolean","description":"Value indicating whether the usage reporting feature is enabled."}},"description":"Holds properties related to activation."},"ActivationResource":{"properties":{"properties":{"$ref":"#/components/schemas/Activation"}},"description":"Published activation resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource","readOnly":true},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key value pairs.","readOnly":true},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base Resource Object"}]},"ActivationResourcesPage":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of activation resources.","items":{"$ref":"#/components/schemas/ActivationResource"}}},"description":"Holds an array of activation resources and the next link."}},"requestBodies":{"ActivationParameter":{"description":"new activation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Activation"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}