{"openapi":"3.0.1","info":{"title":"CallFire API Documentation","description":"CallFire","termsOfService":"https://www.callfire.com/terms","contact":{"name":"CallFire","url":"https://www.callfire.com","email":"support@callfire.com"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"V2"},"servers":[{"url":"https://api.callfire.com/v2"}],"tags":[{"name":"calls"},{"name":"campaigns"},{"name":"contacts"},{"name":"keywords"},{"name":"me"},{"name":"media"},{"name":"numbers"},{"name":"orders"},{"name":"reports"},{"name":"texts"},{"name":"ticket"},{"name":"webhooks"}],"paths":{"/calls":{"get":{"tags":["calls"],"summary":"Find calls","description":"To search for all calls sent or received by the user. Use \"id=0\" for the campaignId parameter to query for all calls sent through the POST /calls API. See [call states and results](https://developers.callfire.com/results-responses-errors.html)","operationId":"findCalls","parameters":[{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32","default":0}},{"name":"id","in":"query","description":"Lists the Call ids to search for. If calls ids are specified then other query parameters can be ignored","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"campaignId","in":"query","description":"An id of a campaign, queries for calls included to a particular campaign. Specify null for all campaigns and 0 for default campaign","schema":{"type":"integer","format":"int64"}},{"name":"batchId","in":"query","description":"An id of a contact batch, queries for calls of a particular contact batch","schema":{"type":"integer","format":"int64"}},{"name":"fromNumber","in":"query","description":"Phone number in E.164 format (11-digit) that call was from. Example: 12132000384","schema":{"type":"string"}},{"name":"toNumber","in":"query","description":"Phone number in E.164 format (11-digit) that call was sent to. Example: 12132000384","schema":{"type":"string"}},{"name":"label","in":"query","description":"A label for a specific call","schema":{"type":"string"}},{"name":"states","in":"query","description":"Searches for all calls which correspond to statuses listed in a comma separated string. Available values: READY, SELECTED, CALLBACK, FINISHED, DISABLED, DNC, DUP, INVALID, TIMEOUT, PERIOD_LIMIT. See [call states and results](https://developers.callfire.com/results-responses-errors.html)","schema":{"type":"string"}},{"name":"results","in":"query","description":"Searches for all calls with statuses listed in a comma separated string. Available values: SENT, RECEIVED, DNT, TOO_BIG, INTERNAL_ERROR, CARRIER_ERROR, CARRIER_TEMP_ERROR, UNDIALED. See [call states and results](https://developers.callfire.com/results-responses-errors.html)","schema":{"type":"string"}},{"name":"inbound","in":"query","description":"Filters inbound calls for \"true\" value and outbound calls for \"false\" value","schema":{"type":"boolean"}},{"name":"intervalBegin","in":"query","description":"Start of the find time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT","schema":{"type":"integer","format":"int64"}},{"name":"intervalEnd","in":"query","description":"End of the find time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallPage"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"post":{"tags":["calls"],"summary":"Send calls","description":"Use the /calls API to send individual calls quickly. A verified Caller ID and sufficient credits are required to make a call. CallRecipient represents a single recipient identified by phone number or contact id in CallFire system. You can attach user-defined attributes to a Call action via CallRecipient.attributes property, attributes are available in Call action response","operationId":"sendCalls","parameters":[{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}},{"name":"campaignId","in":"query","description":"Specifies a campaignId to send calls quickly on a previously created campaign","schema":{"type":"integer","format":"int64"}},{"name":"defaultLiveMessage","in":"query","description":"Text to be turned into a sound, this text will be played when the phone is answered. Parameter can be overridden for any particular CallRecipient","schema":{"type":"string"}},{"name":"defaultMachineMessage","in":"query","description":"Text to be turned into a sound, this text will be played when answering machine is detected. Parameter can be overridden for any particular CallRecipient","schema":{"type":"string"}},{"name":"defaultLiveMessageSoundId","in":"query","description":"Id of sound file to play if phone is answered. Parameter can be overridden for any particular CallRecipient","schema":{"type":"integer","format":"int64"}},{"name":"defaultMachineMessageSoundId","in":"query","description":"An id of a sound file to play if answering machine is detected. Parameter can be overridden for any particular CallRecipient","schema":{"type":"integer","format":"int64"}},{"name":"defaultVoice","in":"query","description":"The voice set by default for all text-to-speech messages defined in CallRecipient objects or as default *Message properties","schema":{"type":"string","enum":["MALE1","FEMALE1","FEMALE2","SPANISH1","FRENCHCANADIAN1"]}},{"name":"strictValidation","in":"query","description":"Turns on strict validation for recipients. System will reply with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't pass validation","schema":{"type":"boolean"}}],"requestBody":{"description":"An array of CallRecipient objects. \nLimitations:\n1. Max number of CallRecipient objects is 10\n","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CallRecipient"}}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallList"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/broadcasts":{"get":{"tags":["calls"],"summary":"Find call broadcasts","description":"Searches for all voice broadcasts created by user. Can query on label, name, and the current running status of the campaign. Returns a paged list of voice broadcasts","operationId":"findCallBroadcasts","parameters":[{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32","default":0}},{"name":"label","in":"query","description":"A label of a voice broadcast","schema":{"type":"string"}},{"name":"name","in":"query","description":"A name of voice broadcast","schema":{"type":"string"}},{"name":"running","in":"query","description":"Specify whether the campaigns should be running or not","schema":{"type":"boolean"}},{"name":"scheduled","in":"query","description":"Specify whether the campaigns should be scheduled or not","schema":{"type":"boolean"}},{"name":"intervalBegin","in":"query","description":"Start of the find time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT","schema":{"type":"integer","format":"int64"}},{"name":"intervalEnd","in":"query","description":"End of the find time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallBroadcastPage"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"post":{"tags":["calls"],"summary":"Create a call broadcast","description":"Creates a call broadcast campaign using the Call Broadcast API. Send a CallBroadcast in the message body to add details in a voice broadcast campaign. The campaign can be created without contacts and bare minimum configuration, but contacts will have to be added further on to use the campaign","operationId":"createCallBroadcast","parameters":[{"name":"start","in":"query","description":"Specify whether to immediately start this campaign (not required)","schema":{"type":"boolean"}},{"name":"strictValidation","in":"query","description":"Turns on strict validation for recipients. System will reply with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't pass validation","schema":{"type":"boolean"}}],"requestBody":{"description":"A CallBroadcast object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallBroadcast"}}},"required":false},"responses":{"201":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceId"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/broadcasts/{id}":{"get":{"tags":["calls"],"summary":"Find a specific call broadcast","description":"Returns a single CallBroadcast instance for a given call broadcast campaign id","operationId":"getCallBroadcast","parameters":[{"name":"id","in":"path","description":"An id of a CallBroadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallBroadcast"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"put":{"tags":["calls"],"summary":"Update a call broadcast","description":"This operation lets the user modify the configuration of a voice broadcast campaign after call broadcast campaign is created. See CallBroadcast for more information on what can/can't be updated on this API","operationId":"updateCallBroadcast","parameters":[{"name":"id","in":"path","description":"An id of a voice broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"strictValidation","in":"query","description":"Turns on strict validation for recipients. System will reply with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't pass validation","schema":{"type":"boolean"}}],"requestBody":{"description":"A CallBroadcast object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallBroadcast"}}},"required":false},"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/broadcasts/{id}/archive":{"post":{"tags":["calls"],"summary":"Archive voice broadcast","description":"Archives a voice broadcast (voice broadcast will be hidden in search results)","operationId":"archiveVoiceBroadcast","parameters":[{"name":"id","in":"path","description":"An id of a voice broadcast to archive","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/broadcasts/{id}/batches":{"get":{"tags":["calls"],"summary":"Find batches in a call broadcast","description":"This endpoint will enable the user to page through all of the batches for a particular voice broadcast campaign","operationId":"getCallBroadcastBatches","parameters":[{"name":"id","in":"path","description":"An id of a call broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchPage"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"post":{"tags":["calls"],"summary":"Add batches to a call broadcast","description":"The 'add batch' API allows user to add additional batches to an already created voice broadcast campaign. The added batch will go through the CallFire validation process, unlike in the recipients version of this API. That is why you can use the scrubDuplicates flag to remove duplicates from your batch. Batches may be added as a contact list id, a list of contact ids, or a list of numbers","operationId":"addCallBroadcastBatch","parameters":[{"name":"id","in":"path","description":"An id of a call broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"strictValidation","in":"query","description":"Turns on strict validation for recipients. System will reply with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't pass validation","schema":{"type":"boolean"}}],"requestBody":{"description":"A request object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchRequest"}}},"required":false},"responses":{"201":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceId"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/broadcasts/{id}/calls":{"get":{"tags":["calls"],"summary":"Find calls in a call broadcast","description":"This endpoint will enable the user to page through all calls for a particular call broadcast campaign","operationId":"getCallBroadcastCalls","parameters":[{"name":"id","in":"path","description":"An Id of a call broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"batchId","in":"query","description":"An id of a particular batch associated with broadcast","schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallPage"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/broadcasts/{id}/recipients":{"post":{"tags":["calls"],"summary":"Add recipients to a call broadcast","description":"Use this API to add the recipients to an existing voice broadcast. Post a list of Recipient objects to be added to the voice broadcast campaign. These contacts will not go through validation process, and will be acted upon as they are added. Recipients may be added as a list of contact ids, or list of numbers","operationId":"addCallBroadcastRecipients","parameters":[{"name":"id","in":"path","description":"An id of a call broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}},{"name":"strictValidation","in":"query","description":"Turns on strict validation for recipients. System will reply with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't pass validation","schema":{"type":"boolean"}}],"requestBody":{"description":"A list of CallRecipient objects","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Recipient"}}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallList"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/broadcasts/{id}/start":{"post":{"tags":["calls"],"summary":"Start voice broadcast","description":"Start a voice broadcast","operationId":"startVoiceBroadcast","parameters":[{"name":"id","in":"path","description":"An id of voice broadcast to start","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/broadcasts/{id}/stats":{"get":{"tags":["calls"],"summary":"Get statistics on call broadcast","description":"Returns broadcast statistics like total number of sent/received actions, total cost, number of remaining outbound actions, error count, etc","operationId":"getCallBroadcastStats","parameters":[{"name":"id","in":"path","description":"An id of a call broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}},{"name":"begin","in":"query","description":"Start of the search time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT","schema":{"type":"integer","format":"int64"}},{"name":"end","in":"query","description":"End of the search time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallBroadcastStats"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/broadcasts/{id}/stop":{"post":{"tags":["calls"],"summary":"Stop voice broadcast","description":"Stop a voice broadcast","operationId":"stopVoiceBroadcast","parameters":[{"name":"id","in":"path","description":"An id of voice broadcast to stop","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/broadcasts/{id}/toggleRecipientsStatus":{"post":{"tags":["calls"],"summary":"Disable/enable undialed recipients in broadcast","description":"This operation lets the user to disable/enable undialed recipients in created broadcast","operationId":"toggleCallBroadcastRecipientsStatus","parameters":[{"name":"id","in":"path","description":"An id of a voice broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"enable","in":"query","description":"Flag which indicate what to do with calls (true will enable call in DISABLED status and vice versa)","schema":{"type":"boolean","default":false}}],"requestBody":{"description":"List of Recipient objects. By recipient we mean either phone number or contact id.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Recipient"}}}},"required":false},"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/recordings/{id}":{"get":{"tags":["calls"],"summary":"Get call recording by id","description":"Returns metadata of recording of a particular call. Metadata contains a link to a MP3 recording","operationId":"getCallRecording","parameters":[{"name":"id","in":"path","description":"~","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallRecording"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/recordings/{id}.mp3":{"get":{"tags":["calls"],"summary":"Get call recording in mp3 format","description":"Returns an MP3 recording of particular call, response contains binary data, content type is 'audio/mpeg'","operationId":"getCallRecordingMp3","parameters":[{"name":"id","in":"path","description":"An id of a call","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InputStream"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/{id}":{"get":{"tags":["calls"],"summary":"Find a specific call","description":"Returns a single Call instance for a given call id.","operationId":"getCall","parameters":[{"name":"id","in":"path","description":"An id of a call","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Call"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/{id}/recordings":{"get":{"tags":["calls"],"summary":"Get call recordings for a call","description":"Returns a list of recordings metadata of particular call. Metadata contains link to a MP3 recording","operationId":"getCallRecordings","parameters":[{"name":"id","in":"path","description":"An id of a call","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallRecordingList"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/{id}/recordings/{name}":{"get":{"tags":["calls"],"summary":"Get call recording by name","description":"Returns recording metadata of particular call. Metadata contains link to a MP3 recording","operationId":"getCallRecordingByName","parameters":[{"name":"id","in":"path","description":"An id of a call","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"name","in":"path","description":"A name of a recording","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallRecording"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/calls/{id}/recordings/{name}.mp3":{"get":{"tags":["calls"],"summary":"Get call mp3 recording by name","description":"Returns a MP3 recording of a particular call, response contains binary data, content type is 'audio/mpeg'","operationId":"getCallRecordingMp3ByName","parameters":[{"name":"id","in":"path","description":"An id of a call","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"name","in":"path","description":"A name of a recording","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/InputStream"}}}},"400":{"description":"Bad request","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/campaigns/batches/{id}":{"get":{"tags":["campaigns"],"summary":"Find a specific batch","description":"Returns a single Batch instance for a given batch id. This API is useful for determining the state of a validating batch","operationId":"getCampaignBatch","parameters":[{"name":"id","in":"path","description":"An id of a batch","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"put":{"tags":["campaigns"],"summary":"Update a batch","description":"Updates a single Batch instance, currently batch can only be turned \"on/off\"","operationId":"updateCampaignBatch","parameters":[{"name":"id","in":"path","description":"An id of a batch to update","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"A batch instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}},"required":false},"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/campaigns/sounds":{"get":{"tags":["campaigns"],"summary":"Find sounds","description":"To find all campaign sounds which were created by user. Returns all sounds available to be used in campaigns","operationId":"findCampaignSounds","parameters":[{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32","default":0}},{"name":"filter","in":"query","description":"value to filter file names again; this value is used to check if the filename contains the filter value.","schema":{"type":"string"}},{"name":"includeArchived","in":"query","description":"Includes ARCHIVED sounds for \"true\" value","schema":{"type":"boolean"}},{"name":"includePending","in":"query","description":"Includes UPLOAD/RECORDING sounds for \"true\" value","schema":{"type":"boolean"}},{"name":"includeScrubbed","in":"query","description":"Includes SCRUBBED sounds for \"true\" value","schema":{"type":"boolean"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignSoundPage"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/campaigns/sounds/calls":{"post":{"tags":["campaigns"],"summary":"Add sound via call","description":"Use this API to create a sound via a phone call. Provide the required phone number in the CallCreateSound object inside the request, and user will receive a call shortly after with instructions on how to record a sound over the phone.","operationId":"postCallCampaignSound","parameters":[{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"requestBody":{"description":"Request object containing the name of a new campaign sound and phone number to call up","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallCreateSound"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignSound"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/campaigns/sounds/files":{"post":{"tags":["campaigns"],"summary":"Add sound via file","description":"Create a campaign sound file via a supplied .mp3 or .wav file","operationId":"postFileCampaignSound","parameters":[{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"A sound file encoded in binary form","format":"binary"},"name":{"type":"string","description":"Optional name of a sound file, if the name is empty than it will be taken from a file"}}}}},"required":true},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignSound"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/campaigns/sounds/tts":{"post":{"tags":["campaigns"],"summary":"Add sound via text-to-speech","description":"Use this API to create a sound file via a supplied string of text. Add a text in the TextToSpeech.message field, and pick a voice in the TextToSpeech.voice field. Available voices are: MALE1, FEMALE1, FEMALE2, SPANISH1, FRENCHCANADIAN1","operationId":"postTTSCampaignSound","parameters":[{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"requestBody":{"description":"textToSpeech","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextToSpeech"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignSound"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/campaigns/sounds/{id}":{"get":{"tags":["campaigns"],"summary":"Find a specific sound","description":"Returns a single CampaignSound instance for a given sound id in campaign. This is a meta data to the sounds. No audio data is returned from this API","operationId":"getCampaignSound","parameters":[{"name":"id","in":"path","description":"An id of a sound campaign","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignSound"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"delete":{"tags":["campaigns"],"summary":"Delete a specific sound","description":"Deletes a single campaign sound instance for a specific campaign sound id, this operation does not delete sound completely, it sets sound status to ARCHIVED which means that sound will no longer appear in 'find' operation results, but still accessible via 'get' operation","operationId":"deleteCampaignSound","parameters":[{"name":"id","in":"path","description":"An id of a campaign sound","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/campaigns/sounds/{id}.mp3":{"get":{"tags":["campaigns"],"summary":"Download a MP3 sound","description":"Download the MP3 version of a hosted file. This is an audio data endpoint. Returns binary response of the 'audio/mpeg' content type","operationId":"getCampaignSoundDataMp3","parameters":[{"name":"id","in":"path","description":"An id of a campaign sound","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/StreamingOutput"}}}},"400":{"description":"Bad request","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/campaigns/sounds/{id}.wav":{"get":{"tags":["campaigns"],"summary":"Download a WAV sound","description":"Download the WAV version of the hosted file. This is an audio data endpoint. Returns binary response of the 'audio/mpeg' content type","operationId":"getCampaignSoundDataWav","parameters":[{"name":"id","in":"path","description":"An id of a campaign sound","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"audio/wav":{"schema":{"$ref":"#/components/schemas/StreamingOutput"}}}},"400":{"description":"Bad request","content":{"audio/wav":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"audio/wav":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"audio/wav":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"audio/wav":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"audio/wav":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts":{"get":{"tags":["contacts"],"summary":"Find contacts","description":"Find user's contacts by id, contact list, or on any property name. Returns a paged list of contacts","operationId":"findContacts","parameters":[{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32","default":0}},{"name":"id","in":"query","description":"A list of contact IDs. If the id parameter is included, the other query parameters are ignored.","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"number","in":"query","description":"Multiple contact numbers can be specified. If the number parameter is included, the other query parameters are ignored.","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"contactListId","in":"query","description":"Filters contacts by a particular contact list","schema":{"type":"integer","format":"int64"}},{"name":"propertyName","in":"query","description":"Name of a contact property to search by","schema":{"type":"string"}},{"name":"propertyValue","in":"query","description":"Value of a contact property to search by","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPage"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"post":{"tags":["contacts"],"summary":"Create contacts","description":"Creates contacts in CallFire system. Only values from the next list can be used as external system parameter in contact creation: **NATION_BUILDER, SALES_FORCE_CONTACTS, SALES_FORCE_LEADS, SALES_FORCE_REPORTS, ZOHO, NETSUITE, MAIL_CHIMP**. See [contacts validation rules](https://www.callfire.com/help/docs/getting-started/managing-contacts/validating-contacts#section1)","operationId":"createContacts","requestBody":{"description":"A list of a contact objects","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceIdList"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts/dncs":{"get":{"tags":["contacts"],"summary":"Find do not contact (dnc) items","description":"Searches for all Do Not Contact (DNC) objects created by user. These DoNotContact entries only affect calls/texts/campaigns on this account. Returns a paged list of DoNotContact objects","operationId":"findDoNotContacts","parameters":[{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32","default":0}},{"name":"prefix","in":"query","description":"Prefix (1-10 digits) of phone numbers","schema":{"type":"string"}},{"name":"campaignId","in":"query","description":"A campaign id which was used to send a message to a DNC number","schema":{"type":"integer","format":"int64"}},{"name":"source","in":"query","description":"A DNC source name to search for DNCs","schema":{"type":"string"}},{"name":"call","in":"query","description":"Show only Do-Not-Call numbers","schema":{"type":"boolean"}},{"name":"text","in":"query","description":"Show only Do-Not-Text numbers","schema":{"type":"boolean"}},{"name":"inboundCall","in":"query","description":"~","schema":{"type":"boolean"}},{"name":"inboundText","in":"query","description":"~","schema":{"type":"boolean"}},{"name":"number","in":"query","description":"~","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoNotContactPage"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"post":{"tags":["contacts"],"summary":"Add do not contact (dnc) numbers","description":"Add or update a list of Do Not Contact (DNC) contact entries. Can toggle whether the DNCs are enabled for calls/texts.","operationId":"addDoNotContacts","requestBody":{"description":"AddDoNotContactsRequest object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddDoNotContactRequest"}}},"required":false},"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts/dncs/sources/{source}":{"delete":{"tags":["contacts"],"summary":"Delete do not contact (dnc) numbers contained in source.","description":"Delete Do Not Contact (DNC) contact entries contained in source.","operationId":"deleteDoNotContactsBySource","parameters":[{"name":"source","in":"path","description":"Source associated with Do Not Contact (DNC) entry.","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts/dncs/universals/{toNumber}":{"get":{"tags":["contacts"],"summary":"Find universal do not contacts (udnc) associated with toNumber","description":"Searches for a UniversalDoNotContact object for a given phone number. Shows whether inbound/outbound actions are allowed for a given number","operationId":"getUniversalDoNotContacts","parameters":[{"name":"toNumber","in":"path","description":"A required destination phone number in E.164 format (11-digit). Example: 12132000384","required":true,"schema":{"type":"string"}},{"name":"fromNumber","in":"query","description":"An optional destination/source number for DNC, specified in E.164 format (11-digit). Example: 12132000384","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemListUniversalDoNotContact"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts/dncs/{number}":{"get":{"tags":["contacts"],"summary":"Get do not contact (dnc)","description":"Get Do Not Contact (DNC) object create by user. This DoNotContact entry only affects calls/texts/campaigns on this account.","operationId":"getDoNotContact","parameters":[{"name":"number","in":"path","description":"Number associated with Do Not Contact (DNC) entry.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoNotContact"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"put":{"tags":["contacts"],"summary":"Update an individual do not contact (dnc) number","description":"Update a Do Not Contact (DNC) contact entry. Can toggle whether the DNC is enabled for calls/texts.","operationId":"updateDoNotContact","parameters":[{"name":"number","in":"path","description":"~","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"DoNotContact object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoNotContact"}}},"required":false},"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"delete":{"tags":["contacts"],"summary":"Delete do not contact (dnc) number. If number contains commas treat as list of numbers","description":"Delete a Do Not Contact (DNC) contact entry.","operationId":"deleteDoNotContact","parameters":[{"name":"number","in":"path","description":"Number associated with Do Not Contact (DNC) entry.","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts/lists":{"get":{"tags":["contacts"],"summary":"Find contact lists","description":"Searches for all contact lists which are available for the current user. Returns a paged list of contact lists","operationId":"findContactLists","parameters":[{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32","default":0}},{"name":"name","in":"query","description":"A name or a partial name of a contact list","schema":{"type":"string"}},{"name":"exactMatch","in":"query","description":"~","schema":{"type":"boolean"}},{"name":"contactCount","in":"query","description":"~","schema":{"type":"integer","format":"int32"}},{"name":"orderBy","in":"query","description":"~","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactListPage"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"post":{"tags":["contacts"],"summary":"Create contact lists","description":"Creates a contact list for use with campaigns using 1 of 3 inputs. A List of Contact objects, a list of String E.164 numbers, or a list of CallFire contactIds can be used as the data source for the created contact list. After contact list is added into the CallFire system, contact lists goes through seven system safeguards that check the accuracy and consistency of the data. For example, our system checks that contact number is formatted correctly, is valid, is not duplicated in another contact list, or is not added on a specific DNC list. You can configure to keep/merge or remove contacts which do not complies these rules. If contacts were not added to a contact list after the validation, this means the data needs to be properly formatted and corrected before calling this API","operationId":"createContactList","parameters":[{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"requestBody":{"description":"A request object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContactListRequest"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactList"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts/lists/upload":{"post":{"tags":["contacts"],"summary":"Create contact list from file","description":"Creates a contact list to be used with campaigns through uploading a .csv file. Returns the id of created list","operationId":"createContactListFromFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"CSV file to be uploaded","format":"binary"},"name":{"type":"string","description":"A name of a contact list"},"useCustomFields":{"type":"boolean","description":"A flag to indicate how to define property names for contacts. If true, uses the field and property names exactly as defined. If false will assign custom properties and fields to A, B, C, etc"}}}}},"required":true},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceId"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts/lists/{id}":{"get":{"tags":["contacts"],"summary":"Find a specific contact list","description":"Returns a single ContactList instance for a given contact list id","operationId":"getContactList","parameters":[{"name":"id","in":"path","description":"An id of a contact list to return","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactList"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"put":{"tags":["contacts"],"summary":"Update a contact list","description":"Updates contact list instance.","operationId":"updateContactList","parameters":[{"name":"id","in":"path","description":"An id of contact list to update","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"A request object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateContactListRequest"}}},"required":false},"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"delete":{"tags":["contacts"],"summary":"Delete a contact list","description":"Deletes a contact list, included contacts will not be deleted.","operationId":"deleteContactList","parameters":[{"name":"id","in":"path","description":"An id of the contact list to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts/lists/{id}/items":{"get":{"tags":["contacts"],"summary":"Find contacts in a contact list","description":"Searches for all entries in a contact list with specified id. Returns a paged list of contact entries","operationId":"getContactListItems","parameters":[{"name":"id","in":"path","description":"An id of a contact list","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPage"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"post":{"tags":["contacts"],"summary":"Add contacts to a contact list","description":"Adds contacts to a contact list. Available contact sources are: list of the contact entities, list of ids of existing contacts in user's account, list of phone numbers in E.164 format (11-digits)","operationId":"addContactListItems","parameters":[{"name":"id","in":"path","description":"An id of a contact list","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"A request object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddContactListContactsRequest"}}},"required":false},"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"delete":{"tags":["contacts"],"summary":"Delete contacts from a contact list","description":"Deletes contacts from a contact list. List the contact ids in request to delete multiple contacts with one request.","operationId":"removeContactListItems","parameters":[{"name":"id","in":"path","description":"A id of a contact list","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"contactId","in":"query","description":"An id of a contact entity in the CallFire system","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts/lists/{id}/items/{contactId}":{"delete":{"tags":["contacts"],"summary":"Delete a contact from a contact list","description":"Deletes a single contact from a contact list","operationId":"removeContactListItem","parameters":[{"name":"id","in":"path","description":"An id of a contact list","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"contactId","in":"path","description":"An id of a contact","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts/{id}":{"get":{"tags":["contacts"],"summary":"Find a specific contact","description":"Returns a Contact instance for a given contact id. Deleted contacts can be still retrieved but will be marked as deleted. Deleted contacts will not be shown in search request.","operationId":"getContact","parameters":[{"name":"id","in":"path","description":"An id of a contact","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"put":{"tags":["contacts"],"summary":"Update a contact","description":"Updates a single contact instance with id specified. See [contact validation rules](https://www.callfire.com/help/docs/getting-started/managing-contacts/validating-contacts#section1)","operationId":"updateContact","parameters":[{"name":"id","in":"path","description":"An id of a contact","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"A contact object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}},"required":false},"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"delete":{"tags":["contacts"],"summary":"Delete a contact","description":"Deletes a contact instance from account","operationId":"deleteContact","parameters":[{"name":"id","in":"path","description":"An Id of a contact","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/contacts/{id}/history":{"get":{"tags":["contacts"],"summary":"Find a contact's history","description":"Searches for all texts and calls attributed to a contact. Returns a list of calls and texts a contact has been involved with","operationId":"getContactHistory","parameters":[{"name":"id","in":"path","description":"An Id of a contact","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactHistory"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/keywords":{"get":{"tags":["keywords"],"summary":"Find keywords","description":"Searches for all keywords available for purchase on the CallFire platform. If a keyword appears in the response, it is available for purchase. List the 'keywords' in a query parameter to search for multiple keywords (at least one keyword should be sent in request). Keyword should only consist of uppercase and lowercase letters and numbers. Number of characters must be greater than 2, but less than 65.","operationId":"findKeywords","parameters":[{"name":"keywords","in":"query","description":"A keyword to search for","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordList"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/keywords/leases":{"get":{"tags":["keywords"],"summary":"Find keyword leases","description":"Searches for all keywords owned by user. A keyword lease is the ownership information involving a keyword","operationId":"findKeywordLeases","parameters":[{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32","default":0}},{"name":"filter","in":"query","description":"Filter by part of Keyword name or Label name of Keyword","schema":{"type":"string"}},{"name":"labelName","in":"query","description":"An exact label name to search by","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordLeasePage"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/keywords/leases/configs":{"get":{"tags":["keywords"],"summary":"Find keyword lease configs","description":"Searches for all keyword lease configs for the user. Returns a paged list of KeywordConfig","operationId":"findKeywordLeaseConfigs","parameters":[{"name":"limit","in":"query","description":"To set the maximum number of records to return in a paged list response. The default is 100","schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.","schema":{"type":"integer","format":"int32","default":0}},{"name":"filter","in":"query","description":"Filter by part of Keyword name or Label name of Keyword","schema":{"type":"string"}},{"name":"labelName","in":"query","description":"An exact label name to search by","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/keywords/leases/configs/{keyword}":{"get":{"tags":["keywords"],"summary":"Find a specific keyword lease config","description":"Returns a single KeywordConfig instance for a given keyword lease","operationId":"getKeywordLeaseConfig","parameters":[{"name":"keyword","in":"path","description":"A Keyword to get KeywordConfig by","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordConfig"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"put":{"tags":["keywords"],"summary":"Update a keyword lease config","description":"Updates a keyword lease configuration. Use this API endpoint to enable/disable inbound SMS forwarding, set forward number. Forward number must be in E.164 format)","operationId":"updateKeywordLeaseConfig","parameters":[{"name":"keyword","in":"path","description":"To update a keyword lease config","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The configuration of a keyword lease object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordConfig"}}},"required":false},"responses":{"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/keywords/leases/id/{id}":{"get":{"tags":["keywords"],"summary":"Find a keyword by id","description":"Get keyword by id","operationId":"getKeywordLeaseById","parameters":[{"name":"id","in":"path","description":"~","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordLease"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]}},"/keywords/leases/{keyword}":{"get":{"tags":["keywords"],"summary":"Find a specific lease","description":"Searches for all keywords owned by user","operationId":"getKeywordLease","parameters":[{"name":"keyword","in":"path","description":"Keyword text that a lease is desired for","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordLease"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"basicAuth":null}]},"put":{"tags":["keywords"],"summary":"Update a lease","description":"Updates a keyword lease. Turns the autoRenew on/off. Configure double opt in feature. Add/remove contact list from keyword.","operationId":"updateKeywordLease","parameters":[{"name":"keyword","in":"path","description":
[...]
