{"openapi":"3.0.1","info":{"title":"Security Center","description":"API spec for Microsoft.Security (Azure Security Center) resource provider","version":"2019-01-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Security/automations":{"get":{"tags":["Automations"],"description":"Lists all the security automations in the specified subscription. Use the 'nextLink' property in the response to get the next page of security automations for the specified subscription.","operationId":"Automations_List","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationList"}}}},"default":{"description":"Error response that describes why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations":{"get":{"tags":["Automations"],"description":"Lists all the security automations in the specified resource group. Use the 'nextLink' property in the response to get the next page of security automations for the specified resource group.","operationId":"Automations_ListByResourceGroup","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationList"}}}},"default":{"description":"Error response that describes why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations/{automationName}":{"get":{"tags":["Automations"],"description":"Retrieves information about the model of a security automation.","operationId":"Automations_Get","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"automationName","in":"path","description":"The security automation name.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Automation"}}}},"default":{"description":"Error response that describes why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}},"put":{"tags":["Automations"],"description":"Creates or updates a security automation. If a security automation is already created and a subsequent request is issued for the same automation id, then it will be updated.","operationId":"Automations_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"automationName","in":"path","description":"The security automation name.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The security automation resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Automation"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Automation"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Automation"}}}},"default":{"description":"Error response that describes why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}},"delete":{"tags":["Automations"],"description":"Deletes a security automation.","operationId":"Automations_Delete","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"automationName","in":"path","description":"The security automation name.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"NoContent"},"default":{"description":"Error response that describes why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations/{automationName}/validate":{"post":{"tags":["Automations"],"description":"Validates the security automation model before create or update. Any validation errors are returned to the client.","operationId":"Automations_Validate","parameters":[{"name":"api-version","in":"query","description":"API version for the operation","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure subscription ID","required":true,"schema":{"pattern":"^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$","type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"automationName","in":"path","description":"The security automation name.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The security automation resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Automation"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationValidationStatus"}}}},"default":{"description":"Error response that describes why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically.","readOnly":true},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface.","readOnly":true}},"description":"Error details."}},"description":"Error response structure."}}}}}}}},"components":{"schemas":{"Automation":{"properties":{"properties":{"$ref":"#/components/schemas/AutomationProperties"}},"description":"The security automation resource.","allOf":[{"description":"Describes an Azure tracked resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource Id","readOnly":true},"name":{"type":"string","description":"Resource name","readOnly":true},"type":{"type":"string","description":"Resource type","readOnly":true}},"description":"Describes an Azure resource."},{"type":"object","properties":{"location":{"type":"string","description":"Location where the resource is stored","readOnly":true}},"description":"Describes an Azure resource with location"},{"type":"object","properties":{"kind":{"type":"string","description":"Kind of the resource"}},"description":"Describes an Azure resource with kind"},{"type":"object","properties":{"etag":{"type":"string","description":"Entity tag is used for comparing two or more entities from the same requested resource."}},"description":"Entity tag is used for comparing two or more entities from the same requested resource."},{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"A list of key value pairs that describe the resource."}},"description":"A list of key value pairs that describe the resource."}]}]},"AutomationAction":{"required":["actionType"],"type":"object","properties":{"actionType":{"type":"string","description":"The type of the action that will be triggered by the Automation","enum":["LogicApp","EventHub","Workspace"]}},"description":"The action that should be triggered.","discriminator":{"propertyName":"actionType"}},"AutomationActionEventHub":{"properties":{"connectionString":{"type":"string","description":"The target Event Hub connection string (it will not be included in any response)."},"eventHubResourceId":{"type":"string","description":"The target Event Hub Azure Resource ID."},"sasPolicyName":{"type":"string","description":"The target Event Hub SAS policy name.","readOnly":true}},"description":"The target Event Hub to which event data will be exported. To learn more about Security Center continuous export capabilities, visit https://aka.ms/ASCExportLearnMore","allOf":[{"$ref":"#/components/schemas/AutomationAction"}]},"AutomationActionLogicApp":{"properties":{"logicAppResourceId":{"type":"string","description":"The triggered Logic App Azure Resource ID. This can also reside on other subscriptions, given that you have permissions to trigger the Logic App"},"uri":{"type":"string","description":"The Logic App trigger URI endpoint (it will not be included in any response).","format":"uri"}},"description":"The logic app action that should be triggered. To learn more about Security Center's Workflow Automation capabilities, visit https://aka.ms/ASCWorkflowAutomationLearnMore","allOf":[{"$ref":"#/components/schemas/AutomationAction"}]},"AutomationActionWorkspace":{"properties":{"workspaceResourceId":{"type":"string","description":"The fully qualified Log Analytics Workspace Azure Resource ID."}},"description":"The Log Analytics Workspace to which event data will be exported. Security alerts data will reside in the 'SecurityAlert' table and the assessments data will reside in the 'SecurityRecommendation' table (under the 'Security'/'SecurityCenterFree' solutions). Note that in order to view the data in the workspace, the Security Center Log Analytics free/standard solution needs to be enabled on that workspace. To learn more about Security Center continuous export capabilities, visit https://aka.ms/ASCExportLearnMore","allOf":[{"$ref":"#/components/schemas/AutomationAction"}]},"AutomationList":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page.","readOnly":true},"value":{"type":"array","description":"The list of security automations under the given scope.","items":{"$ref":"#/components/schemas/Automation"}}},"description":"List of security automations response."},"AutomationProperties":{"type":"object","properties":{"actions":{"type":"array","description":"A collection of the actions which are triggered if all the configured rules evaluations, within at least one rule set, are true.","items":{"$ref":"#/components/schemas/AutomationAction"}},"description":{"type":"string","description":"The security automation description."},"isEnabled":{"type":"boolean","description":"Indicates whether the security automation is enabled."},"scopes":{"type":"array","description":"A collection of scopes on which the security automations logic is applied. Supported scopes are the subscription itself or a resource group under that subscription. The automation will only apply on defined scopes.","items":{"$ref":"#/components/schemas/AutomationScope"}},"sources":{"type":"array","description":"A collection of the source event types which evaluate the security automation set of rules.","items":{"$ref":"#/components/schemas/AutomationSource"}}},"description":"A set of properties that defines the behavior of the automation configuration. To learn more about the supported security events data models schemas - please visit https://aka.ms/ASCAutomationSchemas."},"AutomationRuleSet":{"type":"object","properties":{"rules":{"type":"array","items":{"$ref":"#/components/schemas/AutomationTriggeringRule"}}},"description":"A rule set which evaluates all its rules upon an event interception. Only when all the included rules in the rule set will be evaluated as 'true', will the event trigger the defined actions."},"AutomationScope":{"type":"object","properties":{"description":{"type":"string","description":"The resources scope description."},"scopePath":{"type":"string","description":"The resources scope path. Can be the subscription on which the automation is defined on or a resource group under that subscription (fully qualified Azure resource IDs)."}},"description":"A single automation scope."},"AutomationSource":{"type":"object","properties":{"eventSource":{"type":"string","description":"A valid event source type.","enum":["Assessments","Alerts"]},"ruleSets":{"type":"array","description":"A set of rules which evaluate upon event interception. A logical disjunction is applied between defined rule sets (logical 'or').","items":{"$ref":"#/components/schemas/AutomationRuleSet"}}},"description":"The source event types which evaluate the security automation set of rules. For example - security alerts and security assessments. To learn more about the supported security events data models schemas - please visit https://aka.ms/ASCAutomationSchemas."},"AutomationTriggeringRule":{"type":"object","properties":{"expectedValue":{"type":"string","description":"The expected value."},"operator":{"type":"string","description":"A valid comparer operator to use. A case-insensitive comparison will be applied for String PropertyType.","enum":["Equals","GreaterThan","GreaterThanOrEqualTo","LesserThan","LesserThanOrEqualTo","NotEquals","Contains","StartsWith","EndsWith"]},"propertyJPath":{"type":"string","description":"The JPath of the entity model property that should be checked."},"propertyType":{"type":"string","description":"The data type of the compared operands (string, integer, floating point number or a boolean [true/false]]","enum":["String","Integer","Number","Boolean"]}},"description":"A rule which is evaluated upon event interception. The rule is configured by comparing a specific value from the event model to an expected value. This comparison is done by using one of the supported operators set."},"AutomationValidationStatus":{"type":"object","properties":{"isValid":{"type":"boolean","description":"Indicates whether the model is valid or not."},"message":{"type":"string","description":"The validation message."}},"description":"The security automation model state property bag."}},"parameters":{"AutomationName":{"name":"automationName","in":"path","description":"The security automation name.","required":true,"schema":{"type":"string"}}},"requestBodies":{"AutomationInBody":{"description":"The security automation resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Automation"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}