{"openapi":"3.0.1","info":{"title":"FabricAdminClient","description":"Software load balancer multiplexer operation endpoints and objects.","version":"2016-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/slbMuxInstances":{"get":{"tags":["SlbMuxInstances"],"description":"Returns a list of all software load balancer instances at a location.","operationId":"SlbMuxInstances_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}},{"name":"$filter","in":"query","description":"OData filter parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SlbMuxInstanceList"}}}},"404":{"description":"NOT FOUND"}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/slbMuxInstances/{slbMuxInstance}":{"get":{"tags":["SlbMuxInstances"],"description":"Returns the requested software load balancer multiplexer instance.","operationId":"SlbMuxInstances_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"Location of the resource.","required":true,"schema":{"type":"string"}},{"name":"slbMuxInstance","in":"path","description":"Name of a SLB MUX instance.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SlbMuxInstance"}}}},"404":{"description":"NOT FOUND"}}}}},"components":{"schemas":{"SlbMuxInstance":{"properties":{"properties":{"$ref":"#/components/schemas/SlbMuxInstanceModel"}},"description":"This resource represents an SLB MUX (software load balancing multiplexer, which distributes the tenant and tenant customer network traffic).","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"The region where the resource is located."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key-value pairs."},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base resource object."}]},"SlbMuxInstanceList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of SLB MUX instances.","items":{"$ref":"#/components/schemas/SlbMuxInstance"}}},"description":"A pageable list of SLB MUX instances."},"SlbMuxInstanceModel":{"type":"object","properties":{"bgpPeers":{"type":"array","description":"List of BGP peers.","items":{"type":"string"}},"configurationState":{"type":"string","description":"Configuration state."},"virtualServer":{"type":"string","description":"Virtual server."}},"description":"Properties of a SLB MUX."}},"parameters":{"SLBMuxInstanceParameter":{"name":"slbMuxInstance","in":"path","description":"Name of a SLB MUX instance.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}