{"openapi":"3.0.1","info":{"title":"Fun Generators API","description":"Below is the documentation for the API calls. You can try them out right here. \n","version":"1.5"},"servers":[{"url":"https://api.fungenerators.com/"},{"url":"http://api.fungenerators.com/"}],"tags":[{"name":"Trivia","description":"Trivia API","externalDocs":{"description":"Find out more","url":"http://fungenerators.com/api/trivia"}}],"paths":{"/trivia":{"get":{"tags":["Trivia"],"description":"Get a Trivia entry for a given id. Retrieves a trivia question and answer based on the id.","parameters":[{"name":"id","in":"query","description":"ID of the trivia to fetch","schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": [\n        {\n            \"id\": \"VO_foToeaTPvaDn_utYcOweF\",\n            \"question\": \"What is the unit of currency in the United States of America\",\n            \"category\": \"usa\",\n            \"category_name\": \"USA\",\n            \"answer\": [\n                \"Dollar\"\n            ]\n        }\n    ]\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"}}}},"security":[{"X-Fungenerators-Api-Secret":null}]},"put":{"tags":["Trivia"],"description":"Create a random Trivia entry.","parameters":[{"name":"question","in":"query","description":"Trivia Question","required":true,"schema":{"type":"string","format":"string"}},{"name":"category","in":"query","description":"Category of the trivia","required":true,"schema":{"type":"string","format":"string"}},{"name":"answer","in":"query","description":"Answer(s) to the trivia question","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"id\": \"62D6iKM9GSlJxK5nrMf9XwrE\"\n    }\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"}}}},"security":[{"X-Fungenerators-Api-Secret":null}]},"delete":{"tags":["Trivia"],"description":"Create a random Trivia entry.","parameters":[{"name":"id","in":"query","description":"Trivia ID","required":true,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"mesg\": \"Trivia 62D6iKM9GSlJxK5nrMf9XwrE is deleted\"\n    }\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"}}}},"security":[{"X-Fungenerators-Api-Secret":null}]}},"/trivia/categories":{"get":{"tags":["Trivia"],"description":"Get a random Trivia.","parameters":[{"name":"start","in":"query","description":"start","schema":{"type":"integer","format":"integer"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": [\n        {\n            \"id\": \"VO_foToeaTPvaDn_utYcOweF\",\n            \"question\": \"What is the unit of currency in the United States of America\",\n            \"category\": \"usa\",\n            \"category_name\": \"USA\",\n            \"answer\": [\n                \"Dollar\"\n            ]\n        }\n    ]\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"}}}},"security":[{"X-Fungenerators-Api-Secret":null}]}},"/trivia/random":{"get":{"tags":["Trivia"],"description":"Get a random trivia for a given category(optional)","parameters":[{"name":"category","in":"query","description":"Category to get the trivia from","schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": [\n    {\n      \"id\": \"YYUsmCE2ztoACb_smt0PrgeF\",\n      \"question\": \"Which country won the World Cup of Soccer in 1982\",\n      \"category\": \"sports\",\n      \"category_name\": \"Sports\",\n      \"answer\": [\n        \"Italy\"\n      ]\n    }\n  ]\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                    "}}}},"security":[{"X-Fungenerators-Api-Secret":null}]}},"/trivia/search":{"get":{"tags":["Trivia"],"description":"Search for random trivia which has the text in the query, for a given category(optional).","parameters":[{"name":"query","in":"query","description":"Text to search for in the trivia","schema":{"type":"string","format":"string"}},{"name":"category","in":"query","description":"Category to get the trivia from","schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"trivia\": \"What natural hydrocarbon polymer comes from the hevea brasiliensis tree\",\n    \"id\": \"DFoazRj5O7x8PAVib9wROweF\",\n    \"category\": \"Whatnot\",\n    \"subcategory\": null\n  }\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                                   "}}}},"security":[{"X-Fungenerators-Api-Secret":null}]}}},"components":{"securitySchemes":{"X-Fungenerators-Api-Secret":{"type":"apiKey","name":"X-Fungenerators-Api-Secret","in":"header"}}}}