{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "StorSimpleManagementClient",
    "version" : "2016-10-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.StorSimple/operations" : {
      "get" : {
        "tags" : [ "AvailableProviderOperations" ],
        "description" : "List of AvailableProviderOperations",
        "operationId" : "AvailableProviderOperations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailableProviderOperations"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorSimple/managers" : {
      "get" : {
        "tags" : [ "Managers" ],
        "description" : "Retrieves all the managers in a subscription.",
        "operationId" : "Managers_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of StorSimple managers.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagerList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers" : {
      "get" : {
        "tags" : [ "Managers" ],
        "description" : "Retrieves all the managers in a resource group.",
        "operationId" : "Managers_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of StorSimple managers.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagerList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}" : {
      "get" : {
        "tags" : [ "Managers" ],
        "description" : "Returns the properties of the specified manager name.",
        "operationId" : "Managers_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The StorSimple manager.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Manager"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Managers" ],
        "description" : "Creates or updates the manager.",
        "operationId" : "Managers_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The manager.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Manager"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The StorSimple manager has been successfully updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Manager"
                }
              }
            }
          },
          "201" : {
            "description" : "The StorSimple manager has been successfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Manager"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Managers" ],
        "description" : "Deletes the manager.",
        "operationId" : "Managers_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The StorSimple manager has been successfully deleted"
          },
          "204" : {
            "description" : "The StorSimple manager is already in a deleted state"
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "Managers" ],
        "description" : "Updates the StorSimple Manager.",
        "operationId" : "Managers_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The manager update parameters.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManagerPatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The StorSimple manager has been successfully updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Manager"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords" : {
      "get" : {
        "tags" : [ "AccessControlRecords" ],
        "description" : "Retrieves all the access control records in a manager.",
        "operationId" : "AccessControlRecords_ListByManager",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of access control records.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessControlRecordList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords/{accessControlRecordName}" : {
      "get" : {
        "tags" : [ "AccessControlRecords" ],
        "description" : "Returns the properties of the specified access control record name.",
        "operationId" : "AccessControlRecords_Get",
        "parameters" : [ {
          "name" : "accessControlRecordName",
          "in" : "path",
          "description" : "Name of access control record to be fetched.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The access control record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessControlRecord"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "AccessControlRecords" ],
        "description" : "Creates or Updates an access control record.",
        "operationId" : "AccessControlRecords_CreateOrUpdate",
        "parameters" : [ {
          "name" : "accessControlRecordName",
          "in" : "path",
          "description" : "The name of the access control record.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The access control record to be added or updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccessControlRecord"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the access control record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccessControlRecord"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to create or update the access control record."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "AccessControlRecords" ],
        "description" : "Deletes the access control record.",
        "operationId" : "AccessControlRecords_Delete",
        "parameters" : [ {
          "name" : "accessControlRecordName",
          "in" : "path",
          "description" : "The name of the access control record to delete.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the access control record."
          },
          "204" : {
            "description" : "Successfully deleted the access control record."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/alerts" : {
      "get" : {
        "tags" : [ "Alerts" ],
        "description" : "Retrieves all the alerts in a manager.",
        "operationId" : "Alerts_ListByManager",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData Filter options",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of alerts.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/backups" : {
      "get" : {
        "tags" : [ "Backups" ],
        "description" : "Retrieves all the backups in a manager.",
        "operationId" : "Backups_ListByManager",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData Filter options",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of backups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/certificates/{certificateName}" : {
      "put" : {
        "tags" : [ "Managers" ],
        "description" : "Upload Vault Cred Certificate.\r\nReturns UploadCertificateResponse",
        "operationId" : "Managers_UploadRegistrationCertificate",
        "parameters" : [ {
          "name" : "certificateName",
          "in" : "path",
          "description" : "Certificate Name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "UploadCertificateRequest Request",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UploadCertificateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Upload Vault Certificate",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UploadCertificateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/clearAlerts" : {
      "post" : {
        "tags" : [ "Alerts" ],
        "description" : "Clear the alerts.",
        "operationId" : "Alerts_Clear",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The clear alert request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClearAlertRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Successfully cleared the alerts."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices" : {
      "get" : {
        "tags" : [ "Devices" ],
        "description" : "Retrieves all the devices in a manager.",
        "operationId" : "Devices_ListByManager",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Specify $expand=details to populate additional fields related to the device.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of devices.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeviceList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}" : {
      "get" : {
        "tags" : [ "Devices" ],
        "description" : "Returns the properties of the specified device name.",
        "operationId" : "Devices_Get",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Specify $expand=details to populate additional fields related to the device.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The device.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Device"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Devices" ],
        "description" : "Deletes the device.",
        "operationId" : "Devices_Delete",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the device."
          },
          "204" : {
            "description" : "Successfully deleted the device."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "Devices" ],
        "description" : "Patches the device.",
        "operationId" : "Devices_Patch",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Patch representation of the device.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DevicePatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully patched the device.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Device"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to patch the device."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/alertSettings/default" : {
      "get" : {
        "tags" : [ "Devices" ],
        "description" : "Returns the alert settings of the specified device name.",
        "operationId" : "Devices_GetAlertSettings",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The alert settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertSettings"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Devices" ],
        "description" : "Creates or updates the alert settings",
        "operationId" : "Devices_CreateOrUpdateAlertSettings",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The alert settings.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertSettings"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the network settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertSettings"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to create or update the network settings."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupScheduleGroups" : {
      "get" : {
        "tags" : [ "BackupScheduleGroups" ],
        "description" : "Retrieves all the backup schedule groups in a device.",
        "operationId" : "BackupScheduleGroups_ListByDevice",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The name of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of backup schedule groups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupScheduleGroupList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupScheduleGroups/{scheduleGroupName}" : {
      "get" : {
        "tags" : [ "BackupScheduleGroups" ],
        "description" : "Returns the properties of the specified backup schedule group name.",
        "operationId" : "BackupScheduleGroups_Get",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The name of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scheduleGroupName",
          "in" : "path",
          "description" : "The name of the schedule group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The backup schedule group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupScheduleGroup"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "BackupScheduleGroups" ],
        "description" : "Creates or Updates the backup schedule Group.",
        "operationId" : "BackupScheduleGroups_CreateOrUpdate",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The name of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scheduleGroupName",
          "in" : "path",
          "description" : "The name of the schedule group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The schedule group to be created",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupScheduleGroup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the backup schedule group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupScheduleGroup"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to create or update the backup schedule group."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "BackupScheduleGroups" ],
        "description" : "Deletes the backup schedule group.",
        "operationId" : "BackupScheduleGroups_Delete",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The name of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scheduleGroupName",
          "in" : "path",
          "description" : "The name of the schedule group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the backup schedule group."
          },
          "204" : {
            "description" : "Successfully deleted the backup schedule group."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups" : {
      "get" : {
        "tags" : [ "Backups" ],
        "description" : "Retrieves all the backups in a device. Can be used to get the backups for failover also.",
        "operationId" : "Backups_ListByDevice",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "forFailover",
          "in" : "query",
          "description" : "Set to true if you need backups which can be used for failover.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData Filter options",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of backups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}" : {
      "delete" : {
        "tags" : [ "Backups" ],
        "description" : "Deletes the backup.",
        "operationId" : "Backups_Delete",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupName",
          "in" : "path",
          "description" : "The backup name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the backup."
          },
          "204" : {
            "description" : "Successfully deleted the backup."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/elements/{elementName}/clone" : {
      "post" : {
        "tags" : [ "Backups" ],
        "description" : "Clones the given backup element to a new disk or share with given details.",
        "operationId" : "Backups_Clone",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupName",
          "in" : "path",
          "description" : "The backup name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "elementName",
          "in" : "path",
          "description" : "The backup element name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The clone request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully cloned."
          },
          "202" : {
            "description" : "Accepted the request to clone."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/chapSettings" : {
      "get" : {
        "tags" : [ "ChapSettings" ],
        "description" : "Retrieves all the chap settings in a device.",
        "operationId" : "ChapSettings_ListByDevice",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The name of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of chap settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChapSettingsList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/chapSettings/{chapUserName}" : {
      "get" : {
        "tags" : [ "ChapSettings" ],
        "description" : "Returns the properties of the specified chap setting name.",
        "operationId" : "ChapSettings_Get",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "chapUserName",
          "in" : "path",
          "description" : "The user name of chap to be fetched.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The chap setting.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChapSettings"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "ChapSettings" ],
        "description" : "Creates or updates the chap setting.",
        "operationId" : "ChapSettings_CreateOrUpdate",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "chapUserName",
          "in" : "path",
          "description" : "The chap user name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The chap setting to be added or updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChapSettings"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the chap setting.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChapSettings"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to create or update the chap setting."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "ChapSettings" ],
        "description" : "Deletes the chap setting.",
        "operationId" : "ChapSettings_Delete",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "chapUserName",
          "in" : "path",
          "description" : "The chap user name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the chap setting."
          },
          "204" : {
            "description" : "Successfully deleted the chap setting."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/deactivate" : {
      "post" : {
        "tags" : [ "Devices" ],
        "description" : "Deactivates the device.",
        "operationId" : "Devices_Deactivate",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to deactivate the device."
          },
          "204" : {
            "description" : "Successfully deactivated the device."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/disks" : {
      "get" : {
        "tags" : [ "IscsiDisks" ],
        "description" : "Retrieves all the iSCSI disks in a device.",
        "operationId" : "IscsiDisks_ListByDevice",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of iSCSI disks.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ISCSIDiskList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/download" : {
      "post" : {
        "tags" : [ "Devices" ],
        "description" : "Downloads updates on the device.",
        "operationId" : "Devices_DownloadUpdates",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to download updates."
          },
          "204" : {
            "description" : "Successfully downloaded updates."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/failover" : {
      "post" : {
        "tags" : [ "Devices" ],
        "description" : "Fails over the device to another device.",
        "operationId" : "Devices_Failover",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The failover request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FailoverRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted the request to failover the device."
          },
          "204" : {
            "description" : "Successfully completed failover of the device."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/failoverTargets" : {
      "get" : {
        "tags" : [ "Devices" ],
        "description" : "Retrieves all the devices which can be used as failover targets for the given device.",
        "operationId" : "Devices_ListFailoverTarget",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "Specify $expand=details to populate additional fields related to the device.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of devices for failover.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeviceList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers" : {
      "get" : {
        "tags" : [ "FileServers" ],
        "description" : "Retrieves all the file servers in a device.",
        "operationId" : "FileServers_ListByDevice",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of file servers.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileServerList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}" : {
      "get" : {
        "tags" : [ "FileServers" ],
        "description" : "Returns the properties of the specified file server name.",
        "operationId" : "FileServers_Get",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fileServerName",
          "in" : "path",
          "description" : "The file server name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The file server.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileServer"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "FileServers" ],
        "description" : "Creates or updates the file server.",
        "operationId" : "FileServers_CreateOrUpdate",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fileServerName",
          "in" : "path",
          "description" : "The file server name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The file server.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FileServer"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created or updated the file server.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileServer"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted the request to create or update the file server."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "FileServers" ],
        "description" : "Deletes the file server.",
        "operationId" : "FileServers_Delete",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fileServerName",
          "in" : "path",
          "description" : "The file server name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to delete the file server."
          },
          "204" : {
            "description" : "Successfully deleted the file server."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/backup" : {
      "post" : {
        "tags" : [ "FileServers" ],
        "description" : "Backup the file server now.",
        "operationId" : "FileServers_BackupNow",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The device name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fileServerName",
          "in" : "path",
          "description" : "The file server name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted the request to backup the file server."
          },
          "204" : {
            "description" : "Successfully completed backup of the file server."
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/metrics" : {
      "get" : {
        "tags" : [ "FileServers" ],
        "description" : "Gets the file server metrics.",
        "operationId" : "FileServers_ListMetrics",
        "parameters" : [ {
          "name" : "deviceName",
          "in" : "path",
          "description" : "The name of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fileServerName",
          "in" : "path",
          "description" : "The name of the file server name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The resource group name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managerName",
          "in" : "path",
          "description" : "The manager name",
          "required" : true,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 2,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The api version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData Filter options",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of metrics.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricList"
                }
              }
            }
          },
          "default" : {
            "description" : "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/metricsDefinitions" : {
      "get" : {
        "tags" : [ "FileServers" ],
[...]
