{"openapi":"3.0.1","info":{"title":"ManagedLabsClient","description":"The Managed Labs Client.","version":"2018-10-15"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.LabServices/operations":{"get":{"tags":["ProviderOperations"],"description":"Result of the request to list REST API operations","operationId":"ProviderOperations_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderOperationResult"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/providers/Microsoft.LabServices/users/{userName}/getEnvironment":{"post":{"tags":["GlobalUsers"],"description":"Gets the virtual machine details","operationId":"GlobalUsers_GetEnvironment","parameters":[{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($expand=environment)'","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents payload for any Environment operations like get, start, stop, connect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentOperationsPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetEnvironmentResponse"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/providers/Microsoft.LabServices/users/{userName}/getOperationBatchStatus":{"post":{"tags":["GlobalUsers"],"description":"Get batch operation status","operationId":"GlobalUsers_GetOperationBatchStatus","parameters":[{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Payload to get the status of an operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationBatchStatusPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationBatchStatusResponse"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/providers/Microsoft.LabServices/users/{userName}/getOperationStatus":{"post":{"tags":["GlobalUsers"],"description":"Gets the status of long running operation","operationId":"GlobalUsers_GetOperationStatus","parameters":[{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Payload to get the status of an operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationStatusPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationStatusResponse"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/providers/Microsoft.LabServices/users/{userName}/getPersonalPreferences":{"post":{"tags":["GlobalUsers"],"description":"Get personal preferences for a user","operationId":"GlobalUsers_GetPersonalPreferences","parameters":[{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents payload for any Environment operations like get, start, stop, connect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalPreferencesOperationsPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPersonalPreferencesResponse"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/providers/Microsoft.LabServices/users/{userName}/listEnvironments":{"post":{"tags":["GlobalUsers"],"description":"List Environments for the user","operationId":"GlobalUsers_ListEnvironments","parameters":[{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents the payload to list environments owned by a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEnvironmentsPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEnvironmentsResponse"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/providers/Microsoft.LabServices/users/{userName}/listLabs":{"post":{"tags":["GlobalUsers"],"description":"List labs for the user.","operationId":"GlobalUsers_ListLabs","parameters":[{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListLabsResponse"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/providers/Microsoft.LabServices/users/{userName}/register":{"post":{"tags":["GlobalUsers"],"description":"Register a user to a managed lab","operationId":"GlobalUsers_Register","parameters":[{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents payload for Register action.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterPayload"}}},"required":true},"responses":{"200":{"description":"OK"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/providers/Microsoft.LabServices/users/{userName}/resetPassword":{"post":{"tags":["GlobalUsers"],"description":"Resets the user password on an environment This operation can take a while to complete","operationId":"GlobalUsers_ResetPassword","parameters":[{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents the payload for resetting passwords.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordPayload"}}},"required":true},"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/providers/Microsoft.LabServices/users/{userName}/startEnvironment":{"post":{"tags":["GlobalUsers"],"description":"Starts an environment by starting all resources inside the environment. This operation can take a while to complete","operationId":"GlobalUsers_StartEnvironment","parameters":[{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents payload for any Environment operations like get, start, stop, connect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentOperationsPayload"}}},"required":true},"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/providers/Microsoft.LabServices/users/{userName}/stopEnvironment":{"post":{"tags":["GlobalUsers"],"description":"Stops an environment by stopping all resources inside the environment This operation can take a while to complete","operationId":"GlobalUsers_StopEnvironment","parameters":[{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents payload for any Environment operations like get, start, stop, connect","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentOperationsPayload"}}},"required":true},"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/providers/Microsoft.LabServices/labaccounts":{"get":{"tags":["LabAccounts"],"description":"List lab accounts in a subscription.","operationId":"LabAccounts_ListBySubscription","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($expand=sizeConfiguration)'","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply to the operation.","schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of resources to return from the operation.","schema":{"type":"integer","format":"int32"}},{"name":"$orderby","in":"query","description":"The ordering expression for the results, using OData notation.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWithContinuation[LabAccount]"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/providers/Microsoft.LabServices/locations/{locationName}/operations/{operationName}":{"get":{"tags":["Operations"],"description":"Get operation","operationId":"Operations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"locationName","in":"path","description":"The name of the location.","required":true,"schema":{"type":"string"}},{"name":"operationName","in":"path","description":"The name of the operation.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationResult"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts":{"get":{"tags":["LabAccounts"],"description":"List lab accounts in a resource group.","operationId":"LabAccounts_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($expand=sizeConfiguration)'","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply to the operation.","schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of resources to return from the operation.","schema":{"type":"integer","format":"int32"}},{"name":"$orderby","in":"query","description":"The ordering expression for the results, using OData notation.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWithContinuation[LabAccount]"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}":{"get":{"tags":["LabAccounts"],"description":"Get lab account","operationId":"LabAccounts_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($expand=sizeConfiguration)'","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabAccount"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"put":{"tags":["LabAccounts"],"description":"Create or replace an existing Lab Account.","operationId":"LabAccounts_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents a lab account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabAccount"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabAccount"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabAccount"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"delete":{"tags":["LabAccounts"],"description":"Delete lab account. This operation can take a while to complete","operationId":"LabAccounts_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"202":{"description":"Accepted"},"204":{"description":"No Content"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"patch":{"tags":["LabAccounts"],"description":"Modify properties of lab accounts.","operationId":"LabAccounts_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents a lab account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabAccountFragment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabAccount"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/createLab":{"post":{"tags":["LabAccounts"],"description":"Create a lab in a lab account.","operationId":"LabAccounts_CreateLab","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Properties for creating a managed lab and a default environment setting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLabProperties"}}},"required":true},"responses":{"200":{"description":"OK"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/galleryimages":{"get":{"tags":["GalleryImages"],"description":"List gallery images in a given lab account.","operationId":"GalleryImages_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($select=author)'","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply to the operation.","schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of resources to return from the operation.","schema":{"type":"integer","format":"int32"}},{"name":"$orderby","in":"query","description":"The ordering expression for the results, using OData notation.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWithContinuation[GalleryImage]"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/galleryimages/{galleryImageName}":{"get":{"tags":["GalleryImages"],"description":"Get gallery image","operationId":"GalleryImages_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"galleryImageName","in":"path","description":"The name of the gallery Image.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($select=author)'","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GalleryImage"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"put":{"tags":["GalleryImages"],"description":"Create or replace an existing Gallery Image.","operationId":"GalleryImages_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"galleryImageName","in":"path","description":"The name of the gallery Image.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents an image from the Azure Marketplace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GalleryImage"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GalleryImage"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GalleryImage"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"delete":{"tags":["GalleryImages"],"description":"Delete gallery image.","operationId":"GalleryImages_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"galleryImageName","in":"path","description":"The name of the gallery Image.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"patch":{"tags":["GalleryImages"],"description":"Modify properties of gallery images.","operationId":"GalleryImages_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"galleryImageName","in":"path","description":"The name of the gallery Image.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents an image from the Azure Marketplace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GalleryImageFragment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GalleryImage"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/getRegionalAvailability":{"post":{"tags":["LabAccounts"],"description":"Get regional availability information for each size category configured under a lab account","operationId":"LabAccounts_GetRegionalAvailability","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRegionalAvailabilityResponse"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs":{"get":{"tags":["Labs"],"description":"List labs in a given lab account.","operationId":"Labs_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($select=maxUsersInLab)'","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply to the operation.","schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of resources to return from the operation.","schema":{"type":"integer","format":"int32"}},{"name":"$orderby","in":"query","description":"The ordering expression for the results, using OData notation.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWithContinuation[Lab]"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}":{"get":{"tags":["Labs"],"description":"Get lab","operationId":"Labs_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($select=maxUsersInLab)'","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lab"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"put":{"tags":["Labs"],"description":"Create or replace an existing Lab.","operationId":"Labs_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents a lab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lab"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lab"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lab"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"delete":{"tags":["Labs"],"description":"Delete lab. This operation can take a while to complete","operationId":"Labs_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"202":{"description":"Accepted"},"204":{"description":"No Content"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"patch":{"tags":["Labs"],"description":"Modify properties of labs.","operationId":"Labs_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents a lab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabFragment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lab"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/addUsers":{"post":{"tags":["Labs"],"description":"Add users to a lab","operationId":"Labs_AddUsers","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Payload for Add Users operation on a Lab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddUsersPayload"}}},"required":true},"responses":{"200":{"description":"OK"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings":{"get":{"tags":["EnvironmentSettings"],"description":"List environment setting in a given lab.","operationId":"EnvironmentSettings_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($select=publishingState)'","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply to the operation.","schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of resources to return from the operation.","schema":{"type":"integer","format":"int32"}},{"name":"$orderby","in":"query","description":"The ordering expression for the results, using OData notation.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWithContinuation[EnvironmentSetting]"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}":{"get":{"tags":["EnvironmentSettings"],"description":"Get environment setting","operationId":"EnvironmentSettings_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($select=publishingState)'","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentSetting"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"put":{"tags":["EnvironmentSettings"],"description":"Create or replace an existing Environment Setting. This operation can take a while to complete","operationId":"EnvironmentSettings_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents settings of an environment, from which environment instances would be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentSetting"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentSetting"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentSetting"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"delete":{"tags":["EnvironmentSettings"],"description":"Delete environment setting. This operation can take a while to complete","operationId":"EnvironmentSettings_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"202":{"description":"Accepted"},"204":{"description":"No Content"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"patch":{"tags":["EnvironmentSettings"],"description":"Modify properties of environment setting.","operationId":"EnvironmentSettings_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents settings of an environment, from which environment instances would be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentSettingFragment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentSetting"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/claimAny":{"post":{"tags":["EnvironmentSettings"],"description":"Claims a random environment for a user in an environment settings","operationId":"EnvironmentSettings_ClaimAny","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments":{"get":{"tags":["Environments"],"description":"List environments in a given environment setting.","operationId":"Environments_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($expand=networkInterface)'","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply to the operation.","schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of resources to return from the operation.","schema":{"type":"integer","format":"int32"}},{"name":"$orderby","in":"query","description":"The ordering expression for the results, using OData notation.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWithContinuation[Environment]"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}":{"get":{"tags":["Environments"],"description":"Get environment","operationId":"Environments_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"environmentName","in":"path","description":"The name of the environment.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($expand=networkInterface)'","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Environment"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"put":{"tags":["Environments"],"description":"Create or replace an existing Environment.","operationId":"Environments_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"environmentName","in":"path","description":"The name of the environment.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents an environment instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Environment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Environment"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Environment"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"delete":{"tags":["Environments"],"description":"Delete environment. This operation can take a while to complete","operationId":"Environments_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"environmentName","in":"path","description":"The name of the environment.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"202":{"description":"Accepted"},"204":{"description":"No Content"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"patch":{"tags":["Environments"],"description":"Modify properties of environments.","operationId":"Environments_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"environmentName","in":"path","description":"The name of the environment.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents an environment instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentFragment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Environment"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/claim":{"post":{"tags":["Environments"],"description":"Claims the environment and assigns it to the user","operationId":"Environments_Claim","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"environmentName","in":"path","description":"The name of the environment.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/resetPassword":{"post":{"tags":["Environments"],"description":"Resets the user password on an environment This operation can take a while to complete","operationId":"Environments_ResetPassword","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"environmentName","in":"path","description":"The name of the environment.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Represents the payload for resetting passwords.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordPayload"}}},"required":true},"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/start":{"post":{"tags":["Environments"],"description":"Starts an environment by starting all resources inside the environment. This operation can take a while to complete","operationId":"Environments_Start","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"environmentName","in":"path","description":"The name of the environment.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/stop":{"post":{"tags":["Environments"],"description":"Stops an environment by stopping all resources inside the environment This operation can take a while to complete","operationId":"Environments_Stop","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"environmentName","in":"path","description":"The name of the environment.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/publish":{"post":{"tags":["EnvironmentSettings"],"description":"Provisions/deprovisions required resources for an environment setting based on current state of the lab/environment setting.","operationId":"EnvironmentSettings_Publish","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"Payload for Publish operation on EnvironmentSetting.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishPayload"}}},"required":true},"responses":{"200":{"description":"OK"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/start":{"post":{"tags":["EnvironmentSettings"],"description":"Starts a template by starting all resources inside the template. This operation can take a while to complete","operationId":"EnvironmentSettings_Start","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/stop":{"post":{"tags":["EnvironmentSettings"],"description":"Starts a template by starting all resources inside the template. This operation can take a while to complete","operationId":"EnvironmentSettings_Stop","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"environmentSettingName","in":"path","description":"The name of the environment Setting.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Accepted"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/register":{"post":{"tags":["Labs"],"description":"Register to managed lab.","operationId":"Labs_Register","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/users":{"get":{"tags":["Users"],"description":"List users in a given lab.","operationId":"Users_List","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($select=email)'","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply to the operation.","schema":{"type":"string"}},{"name":"$top","in":"query","description":"The maximum number of resources to return from the operation.","schema":{"type":"integer","format":"int32"}},{"name":"$orderby","in":"query","description":"The ordering expression for the results, using OData notation.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWithContinuation[User]"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/users/{userName}":{"get":{"tags":["Users"],"description":"Get user","operationId":"Users_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Specify the $expand query. Example: 'properties($select=email)'","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"put":{"tags":["Users"],"description":"Create or replace an existing User.","operationId":"Users_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"The User registered to a lab","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"delete":{"tags":["Users"],"description":"Delete user. This operation can take a while to complete","operationId":"Users_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"responses":{"202":{"description":"Accepted"},"204":{"description":"No Content"},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]},"patch":{"tags":["Users"],"description":"Modify properties of users.","operationId":"Users_Update","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"labAccountName","in":"path","description":"The name of the lab Account.","required":true,"schema":{"type":"string"}},{"name":"labName","in":"path","description":"The name of the lab.","required":true,"schema":{"type":"string"}},{"name":"userName","in":"path","description":"The name of the user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-10-15"}}],"requestBody":{"description":"The User registered to a lab","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserFragment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}},"security":[{"azure_auth":["user_impersonation"]}]}}},"components":{"schemas":{"AddUsersPayload":{"required":["emailAddresses"],"type":"object","properties":{"emailAddresses":{"type":"array","description":"List of user emails addresses to add to the lab.","items":{"type":"string"}}},"description":"Payload for Add Users operation on a Lab."},"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"Error from a REST request."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string"},"details":{"type":"array","description":"Inner errors.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string"},"target":{"type":"string"}},"description":"Body of an error from a REST request."},"CreateLabProperties":{"required":["labCreationParameters","name"],"type":"object","properties":{"environmentSettingCreationParameters":{"$ref":"#/components/schemas/EnvironmentSettingCreationParameters"},"labCreationParameters":{"$ref":"#/components/schemas/LabCreationParameters"},"location":{"type":"string","description":"The location of the resource"},"name":{"type":"string","description":"The name of the resource"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The tags of the resource."}},"description":"Properties for creating a managed lab and a default environment setting"},"Environment":{"properties":{"properties":{"$ref":"#/components/schemas/EnvironmentProperties"}},"description":"Represents an environment instance","allOf":[{"$ref":"#/components/schemas/Resource"}]},"EnvironmentDetails":{"type":"object","properties":{"description":{"type":"string","description":"Description of the Environment","readOnly":true},"environmentState":{"type":"string","description":"Publishing state of the environment setting Possible values are Creating, Created, Failed","readOnly":true},"id":{"type":"string","description":"Resource Id of the environment","readOnly":true},"latestOperationResult":{"$ref":"#/components/schemas/LatestOperationResult"},"name":{"type":"string","description":"Name of the Environment","readOnly":true},"passwordLastReset":{"type":"string","description":"When the password was last reset on the environment.","format":"date-time","readOnly":true},"provisioningState":{"type":"string","description":"The provisioning state of the environment. This also includes LabIsFull and NotYetProvisioned status.","readOnly":true},"totalUsage":{"type":"string","description":"How long the environment has been used by a lab user","format":"duration","readOnly":true},"virtualMachineDetails":{"$ref":"#/components/schemas/VirtualMachineDetails"}},"description":"This represents the details about a User's environment and its state."},"EnvironmentFragment":{"properties":{"properties":{"$ref":"#/components/schemas/EnvironmentPropertiesFragment"}},"description":"Represents an environment instance","allOf":[{"$ref":"#/components/schemas/Resource"}]},"EnvironmentOperationsPayload":{"required":["environmentId"],"type":"object","properties":{"environmentId":{"type":"string","description":"The resourceId of the environment"}},"description":"Represents payload for any Environment operations like get, start, stop, connect"},"EnvironmentProperties":{"type":"object","properties":{"claimedByUserName":{"type":"string","description":"The name or email address of the user who has claimed the environment","readOnly":true},"claimedByUserObjectId":{"type":"string","description":"The AAD object Id of the user who has claimed the environment","readOnly":true},"claimedByUserPrincipalId":{"type":"string","description":"The user principal Id of the user who has claimed the environment","readOnly":true},"isClaimed":{"type":"boolean","description":"Is the environment claimed or not","readOnly":true},"lastKnownPowerState":{"type":"string","description":"Last known power state of the environment","readOnly":true},"latestOperationResult":{"$ref":"#/components/schemas/LatestOperationResult"},"networkInterface":{"$ref":"#/components/schemas/NetworkInterface"},"passwordLastReset":{"type":"string","description":"When the password was last reset on the environment.","format":"date-time","readOnly":true},"provisioningState":{"type":"string","description":"The provisioning status of the resource."},"resourceSets":{"$ref":"#/components/schemas/ResourceSet"},"totalUsage":{"type":"string","description":"How long the environment has been used by a lab user","format":"duration","readOnly":true},"uniqueIdentifier":{"type":"string","description":"The unique immutable identifier of a resource (Guid)."}},"description":"Properties of an environment"},"EnvironmentPropertiesFragment":{"type":"object","properties":{"provisioningState":{"type":"string","description":"The provisioning status of the resource."},"resourceSets":{"$ref":"#/components/schemas/ResourceSetFragment"},"uniqueIdentifier":{"type":"string","description":"The unique immutable identifier of a resource (Guid)."}},"description":"Properties of an environment"},"EnvironmentSetting":{"properties":{"properties":{"$ref":"#/components/schemas/EnvironmentSettingProperties"}},"description":"Represents settings of an environment, from which environment instances would be created","allOf":[{"$ref":"#/components/schemas/Resource"}]},"EnvironmentSettingCreationParameters":{"required":["resourceSettingCreationParameters"],"type":"object","properties":{"resourceSettingCreationParameters":{"$ref":"#/components/schemas/ResourceSettingCreationParameters"}},"description":"Settings related to creating an environment setting"},"EnvironmentSettingFragment":{"properties":{"properties":{"$ref":"#/components/schemas/EnvironmentSettingPropertiesFragment"}},"description":"Represents settings of an environment, from which environment instances would be created","allOf":[{"$ref":"#/components/schemas/Resource"}]},"EnvironmentSettingProperties":{"required":["resourceSettings"],"type":"object","properties":{"configurationState":{"type":"string","description":"Describes the user's progress in configuring their environment setting","enum":["NotApplicable","Completed"]},"description":{"type":"string","description":"Describes the environment and its resource settings"},"lastChanged":{"type":"string","description":"Time when the template VM was last changed.","format":"date-time","readOnly":true},"lastPublished":{"type":"string","description":"Time when the template VM was last sent for publishing.","format":"date-time","readOnly":true},"latestOperationResult":{"$ref":"#/components/schemas/LatestOperationResult"},"provisioningState":{"type":"string","description":"The provisioning status of the resource."},"publishingState":{"type":"string","description":"Describes the readiness of this environment setting","readOnly":true,"enum":["Draft","Publishing","Published","PublishFailed","Scaling"]},"resourceSettings":{"$ref":"#/components/schemas/ResourceSettings"},"title":{"type":"string","description":"Brief title describing the environment and its resource settings"},"uniqueIdentifier":{"type":"string","description":"The unique immutable identifier of a resource (Guid)."}},"description":"Properties of an environment setting"},"EnvironmentSettingPropertiesFragment":{"type":"object","properties":{"configurationState":{"type":"string","description":"Describes the user's progress in configuring their environment setting","enum":["NotApplicable","Completed"]},"description":{"type":"string","description":"Describes the environment and its resource settings"},"provisioningState":{"type":"string","description":"The provisioning status of the resource."},"resourceSettings":{"$ref":"#/components/schemas/ResourceSettingsFragment"},"title":{"type":"string","description":"Brief title describing the environment and its resource settings"},"uniqueIdentifier":{"type":"string","description":"The unique immutable identifier of a resource (Guid)."}},"description":"Properties of an environment setting"},"EnvironmentSize":{"type":"object","properties":{"maxPrice":{"type":"number","description":"The pay-as-you-go dollar price per hour this size will cost. It does not include discounts and may not reflect the actual price the size will cost. This is the maximum price of all prices within this tier.","format":"decimal","readOnly":true},"minMemory":{"type":"number","description":"The amount of memory available (in GB). This is the minimum amount of memory within this tier.","format":"double","readOnly":true},"minNumberOfCores":{"type":"integer","description":"The number of cores a VM of this size has. This is the minimum number of cores within this tier.","format":"int32","readOnly":true},"name":{"type":"string","description":"The size category","enum":["Basic","Standard","Performance"]},"vmSizes":{"type":"array","description":"Represents a set of compute sizes that can serve this given size type","items":{"$ref":"#/components/schemas/SizeInfo"}}},"description":"Represents a size category supported by this Lab Account (small, medium or large)"},"EnvironmentSizeFragment":{"type":"object","properties":{"name":{"type":"string","description":"The size category","enum":["Basic","Standard","Performance"]},"vmSizes":{"type":"array","description":"Represents a set of compute sizes that can serve this given size type","items":{"$ref":"#/components/schemas/SizeInfoFragment"}}},"description":"Represents a size category supported by this Lab Account (small, medium or large)"},"GalleryImage":{"properties":{"properties":{"$ref":"#/components/schemas/GalleryImageProperties"}},"description":"Represents an image from the Azure Marketplace","allOf":[{"$ref":"#/components/schemas/Resource"}]},"GalleryImageFragment":{"properties":{"properties":{"$ref":"#/components/schemas/GalleryImagePropertiesFragment"}},"description":"Represents an image from the Azure Marketplace","allOf":[{"$ref":"#/components/schemas/Resource"}]},"GalleryImageProperties":{"type":"object","properties":{"author":{"type":"string","description":"The author of the gallery image.","readOnly":true},"createdDate":{"type":"string","description":"The creation date of the gallery image.","format":"date-time","readOnly":true},"description":{"type":"string","description":"The description of the gallery image.","readOnly":true},"icon":{"type":"string","description":"The icon of the gallery image.","readOnly":true},"imageReference":{"$ref":"#/components/schemas/GalleryImageReference"},"isEnabled":{"type":"boolean","description":"Indicates whether this gallery image is enabled."},"isOverride":{"type":"boolean","description":"Indicates whether this gallery has been overridden for this lab account"},"isPlanAuthorized":{"type":"boolean","description":"Indicates if the plan has been authorized for programmatic deployment."},"latestOperationResult":{"$ref":"#/components/schemas/LatestOperationResult"},"planId":{"type":"string","description":"The third party plan that applies to this image","readOnly":true},"provisioningState":{"type":"string","description":"The provisioning status of the resource."},"uniqueIdentifier":{"type":"string","description":"The unique immutable identifier of a resource (Guid)."}},"description":"The gallery image properties"},"GalleryImagePropertiesFragment":{"type":"object","properties":{"isEnabled":{"type":"boolean","description":"Indicates whether this gallery image is enabled."},"isOverride":{"type":"boolean","description":"Indicates whether this gallery has been overridden for this lab account"},"isPlanAuthorized":{"type":"boolean","description":"Indicates if the plan has been authorized for programmatic deployment."},"provisioningState":{"type":"string","description":"The provisioning status of the resource."},"uniqueIdentifier":{"type":"string","description":"The unique immutable identifier of a resource (Guid)."}},"description":"The gallery image properties"},"GalleryImageReference":{"type":"object","properties":{"offer":{"type":"string","description":"The offer of the gallery image."},"osType":{"type":"string","description":"The OS type of the gallery image."},"publisher":{"type":"string","description":"The publisher of the gallery image."},"sku":{"type":"string","description":"The SKU of the gallery image."},"version":{"type":"string","description":"The version of the gallery image."}},"description":"The reference information for an Azure Marketplace image."},"GalleryImageReferenceFragment":{"type":"object","properties":{"offer":{"type":"string","description":"The offer of the gallery image."},"osType":{"type":"string","description":"The OS type of the gallery image."},"publisher":{"type":"string","description":"The publisher of the gallery image."},"sku":{"type":"string","description":"The SKU of the gallery image."},"version":{"type":"string","description":"The version of the gallery image."}},"description":"The reference information for an Azure Marketplace image."},"GetEnvironmentResponse":{"type":"object","properties":{"environment":{"$ref":"#/components/schemas/EnvironmentDetails"}},"description":"Represents the environments details"},"GetPersonalPreferencesResponse":{"type":"object","properties":{"favoriteLabResourceIds":{"type":"array","description":"Array of favorite lab resource ids","items":{"type":"string"}},"id":{"type":"string","description":"Id to be used by the cache orchestrator"}},"description":"Represents the PersonalPreferences for the user"},"GetRegionalAvailabilityResponse":{"type":"object","properties":{"regionalAvailability":{"type":"array","description":"Availability information for different size categories per region","items":{"$ref":"#/components/schemas/RegionalAvailability"}}},"description":"The response model from the GetRegionalAvailability action"},"Lab":{"properties":{"properties":{"$ref":"#/components/schemas/LabProperties"}},"description":"Represents a lab.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"LabAccount":{"properties":{"properties":{"$ref":"#/components/schemas/LabAccountProperties"}},"description":"Represents a lab account.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"LabAccountFragment":{"properties":{"properties":{"$ref":"#/components/schemas/LabAccountPropertiesFragment"}},"description":"Represents a lab account.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"LabAccountProperties":{"type":"object","properties":{"enabledRegionSelection":{"type":"boolean","description":"Represents if region selection is enabled"},"latestOperationResult":{"$ref":"#/components/schemas/LatestOperationResult"},"provisioningState":{"type":"string","description":"The provisioning status of the resource."},"sizeConfiguration":{"$ref":"#/components/schemas/SizeConfigurationProperties"},"uniqueIdentifier":{"type":"string","description":"The unique immutable identifier of a resource (Guid)."}},"description":"Properties of a Lab Account."},"LabAccountPropertiesFragment":{"type":"object","properties":{"enabledRegionSelection":{"type":"boolean","description":"Represents if region selection is enabled"},"provisioningState":{"type":"string","description":"The provisioning status of the resource."},"uniqueIdentifier":{"type":"string","description":"The unique immutable identifier of a resource (Guid)."}},"description":"Properties of a Lab Account."},"LabCreationParameters":{"type":"object","properties":{"maxUsersInLab":{"type":"integer","description":"Maximum number of users allowed in the lab.","format":"int32"}},"description":"Settings related to creating a lab"},"LabDetails":{"type":"object","properties":{"id":{"type":"string","description":"The Id of the lab."},"name":{"type":"string","description":"Name of the lab"},"provisioningState":{"type":"string","description":"The provisioning state of the lab."},"usageQuota":{"type":"string","description":"The maximum duration a user can use a VM in this lab.","format":"duration","readOnly":true}},"description":"This represents the details about a lab that the User is in, and its state."},"LabFragment":{"properties":{"properties":{"$ref":"#/components/schemas/LabPropertiesFragment"}},"description":"Represents a lab.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"LabProperties":{"type":"object","properties":{"createdByObjectId":{"type":"string","description":"Object id of the user that created the lab.","readOnly":true},"createdByUserPrincipalName":{"type":"string","description":"Lab creator name","readOnly":true},"createdDate":{"type":"string","description":"Creation date for the lab","format":"date-time","readOnly":true},"invitationCode":{"type":"string","description":"Invitation code that users can use to join a lab.","readOnly":true},"latestOperationResult":{"$ref":"#/components/schemas/LatestOperationResult"},"maxUsersInLab":{"type":"integer","description":"Maximum number of users allowed in the lab.","format":"int32"},"provisioningState":{"type":"string","description":"The provisioning status of the resource."},"uniqueIdentifier":{"type":"string","description":"The unique immutable identifier of a resource (Guid)."},"usageQuota":{"type":"string","description":"Maximum duration a user can use an environment for in the lab.","format":"duration"},"userAccessMode":{"type":"string","description":"Lab user access mode (open to all vs. restricted to those listed on the lab).","enum":["Restricted","Open"]},"userQuota":{"type":"integer","description":"Maximum value MaxUsersInLab can be set to, as specified by the service","format":"int32","readOnly":true}},"description":"Properties of a Lab."},"LabPropertiesFragment":{"type":"object","properties":{"maxUsersInLab":{"type":"integer","description":"Maximum number of users allowed in the lab.","format":"int32"},"provisioningState":{"type":"string","description":"The provisioning status of the resource."},"uniqueIdentifier":{"type":"string","description":"The unique immutable identifier of a resource (Guid)."},"usageQuota":{"type":"string","description":"Maximum duration a user can use an environment for in the lab.","format":"duration"},"userAccessMode":{"type":"string","description":"Lab user access mode (open to all vs. restricted to those listed on the lab).","enum":["Restricted","Open"]}},"description":"Properties of a Lab."},"LatestOperationResult":{"type":"object","properties":{"errorCode":{"type":"string","description":"Error code on failure.","readOnly":true},"errorMessage":{"type":"string","description":"The error message.","readOnly":true},"httpMethod":{"type":"string","description":"The HttpMethod - PUT/POST/DELETE for the operation.","readOnly":true},"operationUrl":{"type":"string","description":"The URL to use to check long-running operation status","readOnly":true},"requestUri":{"type":"string","description":"Request URI of the operation.","readOnly":true},"status":{"type":"string","description":"The current status of the operation.","readOnly":true}},"description":"Details of the status of an operation."},"LatestOperationResultFragment":{"type":"object","description":"Details of the status of an operation."},"ListEnvironmentsPayload":{"type":"object","properties":{"labId":{"type":"string","description":"The resource Id of the lab"}},"description":"Represents the payload to list environments owned by a user"},"ListEnvironmentsResponse":{"type":"object","properties":{"environments":{"type":"array","description":"List of all the environments","items":{"$ref":"#/components/schemas/EnvironmentDetails"}}},"description":"Represents the list of environments owned by a user"},"ListLabsResponse":{"type":"object","properties":{"labs":{"type":"array","description":"List of all the labs","items":{"$ref":"#/components/schemas/LabDetails"}}},"description":"Lists the labs owned by a user"},"NetworkInterface":{"type":"object","properties":{"privateIpAddress":{"type":"string","description":"PrivateIp address of the Compute VM","readOnly":true},"rdpAuthority":{"type":"string","description":"Connection information for Windows","readOnly":true},"sshAuthority":{"type":"string","description":"Connection information for Linux","readOnly":true},"username":{"type":"string","description":"Username of the VM","readOnly":true}},"description":"Network details of the environment"},"NetworkInterfaceFragment":{"type":"object","description":"Network details of the environment"},"OperationBatchStatusPayload":{"required":["urls"],"type":"object","properties":{"urls":{"type":"array","description":"The operation url of long running operation","items":{"type":"string"}}},"description":"Payload to get the status of an operation"},"OperationBatchStatusResponse":{"type":"object","properties":{"items":{"type":"array","description":"Gets a collection of items that contain the operation url and status.","readOnly":true,"items":{"$ref":"#/components/schemas/OperationBatchStatusResponseItem"}}},"description":"Status Details of the long running operation for an environment"},"OperationBatchStatusResponseItem":{"type":"object","properties":{"operationUrl":{"type":"string","description":"status of the long running operation for an environment","readOnly":true},"status":{"type":"string","description":"status of the long running operation for an environment","readOnly":true}},"description":"Represents the status of an operation that used the batch API."},"OperationError":{"type":"object","properties":{"code":{"type":"string","description":"The error code of the operation error."},"message":{"type":"string","description":"The error message of the operation error."}},"description":"Error details for the operation in case of a failure."},"OperationMetadata":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationMetadataDisplay"},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"}},"description":"The REST API operation supported by ManagedLab ResourceProvider."},"OperationMetadataDisplay":{"type":"object","properties":{"description":{"type":"string","description":"Friendly name of the operation"},"operation":{"type":"string","description":"Operation type: read, write, delete, listKeys/action, etc."},"provider":{"type":"string","description":"Friendly name of the resource provider"},"resource":{"type":"string","description":"Resource type on which the operation is performed."}},"description":"The object that describes the operations"},"OperationResult":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/OperationError"},"status":{"type":"string","description":"The operation status."}},"description":"An Operation Result"},"OperationStatusPayload":{"required":["operationUrl"],"type":"object","properties":{"operationUrl":{"type":"string","description":"The operation url of long running operation"}},"description":"Payload to get the status of an operation"},"OperationStatusResponse":{"type":"object","properties":{"status":{"type":"string","description":"status of the long running operation for an environment","readOnly":true}},"description":"Status Details of the long running operation for an environment"},"PersonalPreferencesOperationsPayload":{"type":"object","properties":{"addRemove":{"type":"string","description":"Enum indicating if user is adding or removing a favorite lab","enum":["Add","Remove"]},"labAccountResourceId":{"type":"string","description":"Resource Id of the lab account"},"labResourceId":{"type":"string","description":"Resource Id of the lab to add/remove from the favorites list"}},"description":"Represents payload for any Environment operations like get, start, stop, connect"},"ProviderOperationResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any.","readOnly":true},"value":{"type":"array","description":"List of operations supported by the resource provider.","items":{"$ref":"#/components/schemas/OperationMetadata"}}},"description":"Result of the request to list REST API operations"},"PublishPayload":{"type":"object","properties":{"useExistingImage":{"type":"boolean","description":"Whether to use existing VM custom image when publishing."}},"description":"Payload for Publish operation on EnvironmentSetting."},"ReferenceVm":{"required":["userName"],"type":"object","properties":{"password":{"type":"string","description":"The password of the virtual machine. This will be set to null in GET resource API"},"userName":{"type":"string","description":"The username of the virtual machine"},"vmResourceId":{"type":"string","description":"VM resource Id for the environment","readOnly":true},"vmStateDetails":{"$ref":"#/components/schemas/VmStateDetails"}},"description":"Details of a Reference Vm"},"ReferenceVmCreationParameters":{"required":["password","userName"],"type":"object","properties":{"password":{"type":"string","description":"The password of the virtual machine."},"userName":{"type":"string","description":"The username of the virtual machine"}},"description":"Creation parameters for Reference Vm"},"ReferenceVmFragment":{"type":"object","properties":{"password":{"type":"string","description":"The password of the virtual machine. This will be set to null in GET resource API"},"userName":{"type":"string","description":"The username of the virtual machine"}},"description":"Details of a Reference Vm"},"RegionalAvailability":{"type":"object","properties":{"region":{"type":"string","description":"Corresponding region"},"sizeAvailabilities":{"type":"array","description":"List of all the size information for the region","items":{"$ref":"#/components/schemas/SizeAvailability"}}},"description":"The availability information of sizes across regions"},"RegisterPayload":{"type":"object","properties":{"registrationCode":{"type":"string","description":"The registration code of the lab."}},"description":"Represents payload for Register action."},"ResetPasswordPayload":{"required":["environmentId"],"type":"object","properties":{"environmentId":{"type":"string","description":"The resourceId of the environment"},"password":{"type":"string","description":"The password to assign to the user specified in"},"username":{"type":"string","description":"The username for which the password will be reset."}},"description":"Represents the payload for resetting passwords."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the resource.","readOnly":true},"location":{"type":"string","description":"The location of the resource."},"name":{"type":"string","description":"The name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The tags of the resource."},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"An Azure resource."},"ResourceSet":{"type":"object","properties":{"resourceSettingId":{"type":"string","description":"resourceSettingId for the environment"},"vmResourceId":{"type":"string","description":"VM resource Id for the environment"}},"description":"Represents a VM and the setting Id it was created for."},"ResourceSetFragment":{"type":"object","properties":{"resourceSettingId":{"type":"string","description":"resourceSettingId for the environment"},"vmResourceId":{"type":"string","description":"VM resource Id for the environment"}},"description":"Represents a VM and the setting Id it was created for."},"ResourceSettingCreationParameters":{"required":["galleryImageResourceId","referenceVmCreationParameters"],"type":"object","properties":{"galleryImageResourceId":{"type":"string","description":"The resource id of the gallery image used for creating the virtual machine"},"location":{"type":"string","description":"The location where the virtual machine will live"},"name":{"type":"string","description":"The name of the resource setting"},"referenceVmCreationParameters":{"$ref":"#/components/schemas/ReferenceVmCreationParameters"},"size":{"type":"string","description":"The size of the virtual machine","e
[...]
