{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CitySDK Linked Data",
    "description" : "An API for the distribution and annotation of open data, for small cities and big metropolitan areas.",
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "http://api.citysdk.waag.org/"
  } ],
  "tags" : [ {
    "name" : "layers",
    "description" : "Operations about layers"
  }, {
    "name" : "ngsi10",
    "description" : "Operations about ngsi10s"
  }, {
    "name" : "objects",
    "description" : "Operations about objects"
  }, {
    "name" : "owners",
    "description" : "Operations about owners"
  }, {
    "name" : "session",
    "description" : "Operations about sessions"
  } ],
  "paths" : {
    "/layers" : {
      "get" : {
        "tags" : [ "layers" ],
        "summary" : "Return all layers",
        "operationId" : "GET-layers---format-",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "post" : {
        "tags" : [ "layers" ],
        "summary" : "Create new layer",
        "operationId" : "POST-layers---format-",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/layers/{layer}" : {
      "get" : {
        "tags" : [ "layers" ],
        "summary" : "Return single layer",
        "operationId" : "GET-layers--layer---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "delete" : {
        "tags" : [ "layers" ],
        "summary" : "Delete a layer",
        "operationId" : "DELETE-layers--layer---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "patch" : {
        "tags" : [ "layers" ],
        "summary" : "Edit a layer",
        "operationId" : "PATCH-layers--layer---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/layers/{layer}/context" : {
      "get" : {
        "tags" : [ "layers" ],
        "summary" : "Return JSON-LD context of single layer",
        "operationId" : "GET-layers--layer-context---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "put" : {
        "tags" : [ "layers" ],
        "summary" : "Overwrite JSON-LD context of single layer",
        "operationId" : "PUT-layers--layer-context---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/layers/{layer}/fields" : {
      "get" : {
        "tags" : [ "layers" ],
        "summary" : "Return all fields of single layer",
        "operationId" : "GET-layers--layer-fields---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "post" : {
        "tags" : [ "layers" ],
        "summary" : "Create new field for single layer",
        "operationId" : "POST-layers--layer-fields---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/layers/{layer}/fields/{field}" : {
      "get" : {
        "tags" : [ "layers" ],
        "summary" : "Return single field of single layer",
        "operationId" : "GET-layers--layer-fields--field---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "field",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "put" : {
        "tags" : [ "layers" ],
        "summary" : "Overwrite single field on single layer",
        "operationId" : "PUT-layers--layer-fields--field---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "field",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "delete" : {
        "tags" : [ "layers" ],
        "summary" : "Delete a single field on single layer",
        "operationId" : "DELETE-layers--layer-fields--field---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "field",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "patch" : {
        "tags" : [ "layers" ],
        "summary" : "Edit single field on single layer",
        "operationId" : "PATCH-layers--layer-fields--field---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "field",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/layers/{layer}/objects" : {
      "get" : {
        "tags" : [ "layers" ],
        "summary" : "Return all objects with data on single layer",
        "operationId" : "GET-layers--layer-objects---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "post" : {
        "tags" : [ "layers" ],
        "summary" : "Create one or more objects with data on single layer, or add data to existing objects (or a combination thereof)",
        "operationId" : "POST-layers--layer-objects---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "delete" : {
        "tags" : [ "layers" ],
        "summary" : "Delete all objects from a single layer",
        "operationId" : "DELETE-layers--layer-objects---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "patch" : {
        "tags" : [ "layers" ],
        "summary" : "Edit one or more objects and data on single layer",
        "operationId" : "PATCH-layers--layer-objects---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/layers/{layer}/objects/{cdk_id}" : {
      "get" : {
        "tags" : [ "layers" ],
        "summary" : "Return metadata of single layer about single object, e.g. the date the data was added/modified, etc.",
        "operationId" : "GET-layers--layer-objects--cdk_id---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cdk_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/layers/{layer}/owners" : {
      "get" : {
        "tags" : [ "layers" ],
        "summary" : "Return all owners associated with single layer",
        "operationId" : "GET-layers--layer-owners---format-",
        "parameters" : [ {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/ngsi10/contextEntities/{entity}" : {
      "get" : {
        "tags" : [ "ngsi10" ],
        "summary" : "Return single context entity",
        "operationId" : "GET-ngsi10-contextEntities--entity---format-",
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/ngsi10/contextEntities/{entity}/attributes" : {
      "put" : {
        "tags" : [ "ngsi10" ],
        "summary" : "Update attributes for single context entity",
        "operationId" : "PUT-ngsi10-contextEntities--entity-attributes---format-",
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/ngsi10/contextEntities/{entity}/attributes/{attribute}" : {
      "get" : {
        "tags" : [ "ngsi10" ],
        "summary" : "Return single context entity attribute",
        "operationId" : "GET-ngsi10-contextEntities--entity-attributes--attribute---format-",
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "attribute",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/ngsi10/contextEntityTypes/{cetype}" : {
      "get" : {
        "tags" : [ "ngsi10" ],
        "summary" : "Return objects of particular type",
        "operationId" : "GET-ngsi10-contextEntityTypes--cetype---format-",
        "parameters" : [ {
          "name" : "cetype",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/ngsi10/contextEntityTypes/{cetype}/attributes/{attribute}" : {
      "get" : {
        "tags" : [ "ngsi10" ],
        "summary" : "Return objects of particular type",
        "operationId" : "GET-ngsi10-contextEntityTypes--cetype-attributes--attribute---format-",
        "parameters" : [ {
          "name" : "cetype",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "attribute",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/ngsi10/queryContext" : {
      "post" : {
        "tags" : [ "ngsi10" ],
        "summary" : "Query context broker for contextElements",
        "operationId" : "POST-ngsi10-queryContext---format-",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/ngsi10/subscribeContext" : {
      "post" : {
        "tags" : [ "ngsi10" ],
        "summary" : "Create a new context subscription",
        "operationId" : "POST-ngsi10-subscribeContext---format-",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/ngsi10/unsubscribeContext" : {
      "post" : {
        "tags" : [ "ngsi10" ],
        "summary" : "Delete a context subscription",
        "operationId" : "POST-ngsi10-unsubscribeContext---format-",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/ngsi10/updateContext" : {
      "post" : {
        "tags" : [ "ngsi10" ],
        "summary" : "Add or update NGSI contextElements",
        "operationId" : "POST-ngsi10-updateContext---format-",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/ngsi10/updateContextSubscription" : {
      "post" : {
        "tags" : [ "ngsi10" ],
        "summary" : "Update/edit a context subscription",
        "operationId" : "POST-ngsi10-updateContextSubscription---format-",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/objects" : {
      "get" : {
        "tags" : [ "objects" ],
        "summary" : "Return all objects",
        "operationId" : "GET-objects---format-",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/objects/{cdk_id}" : {
      "get" : {
        "tags" : [ "objects" ],
        "summary" : "Get a single object",
        "operationId" : "GET-objects--cdk_id---format-",
        "parameters" : [ {
          "name" : "cdk_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "delete" : {
        "tags" : [ "objects" ],
        "summary" : "Delete a single object",
        "operationId" : "DELETE-objects--cdk_id---format-",
        "parameters" : [ {
          "name" : "cdk_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "patch" : {
        "tags" : [ "objects" ],
        "summary" : "Edit a single object",
        "operationId" : "PATCH-objects--cdk_id---format-",
        "parameters" : [ {
          "name" : "cdk_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/objects/{cdk_id}/layers" : {
      "get" : {
        "tags" : [ "objects" ],
        "summary" : "Get all layers that contain data of single object",
        "operationId" : "GET-objects--cdk_id-layers---format-",
        "parameters" : [ {
          "name" : "cdk_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/objects/{cdk_id}/layers/{layer}" : {
      "get" : {
        "tags" : [ "objects" ],
        "summary" : "Return all data on single layer of single object",
        "operationId" : "GET-objects--cdk_id-layers--layer---format-",
        "parameters" : [ {
          "name" : "cdk_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "put" : {
        "tags" : [ "objects" ],
        "summary" : "Overwrite data on layer to single object",
        "operationId" : "PUT-objects--cdk_id-layers--layer---format-",
        "parameters" : [ {
          "name" : "cdk_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "post" : {
        "tags" : [ "objects" ],
        "summary" : "Add data on layer to single object",
        "operationId" : "POST-objects--cdk_id-layers--layer---format-",
        "parameters" : [ {
          "name" : "cdk_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "delete" : {
        "tags" : [ "objects" ],
        "summary" : "Remove data on layer from single object",
        "operationId" : "DELETE-objects--cdk_id-layers--layer---format-",
        "parameters" : [ {
          "name" : "cdk_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "patch" : {
        "tags" : [ "objects" ],
        "summary" : "Update data on layer to single object",
        "operationId" : "PATCH-objects--cdk_id-layers--layer---format-",
        "parameters" : [ {
          "name" : "cdk_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "layer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/owners" : {
      "get" : {
        "tags" : [ "owners" ],
        "summary" : "Return all owners",
        "operationId" : "GET-owners---format-",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "post" : {
        "tags" : [ "owners" ],
        "summary" : "Create new owner",
        "operationId" : "POST-owners---format-",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/owners/{owner}" : {
      "get" : {
        "tags" : [ "owners" ],
        "summary" : "Get a single owner",
        "operationId" : "GET-owners--owner---format-",
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "delete" : {
        "tags" : [ "owners" ],
        "summary" : "Delete owner - and all layers and data belonging to this owner",
        "operationId" : "DELETE-owners--owner---format-",
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "patch" : {
        "tags" : [ "owners" ],
        "summary" : "Edit an owner",
        "operationId" : "PATCH-owners--owner---format-",
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/owners/{owner}/layers" : {
      "get" : {
        "tags" : [ "owners" ],
        "summary" : "Return all layers belonging to a single owner",
        "operationId" : "GET-owners--owner-layers---format-",
        "parameters" : [ {
          "name" : "owner",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    },
    "/session" : {
      "get" : {
        "tags" : [ "session" ],
        "summary" : "Return a session key",
        "operationId" : "GET-session---format-",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "description" : "Login name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "password",
          "in" : "query",
          "description" : "Login password.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      },
      "delete" : {
        "tags" : [ "session" ],
        "summary" : "Close session",
        "operationId" : "DELETE-session---format-",
        "responses" : {
          "200" : {
            "description" : "No response was specified"
          }
        }
      }
    }
  }
}