{"openapi":"3.0.1","info":{"title":"City of Surrey Open511 API","description":"This API provides real time traffic obstruction events occuring within the City of Surrey.","contact":{"name":"City of Surrey GIS Section","url":"http://data.surrey.ca","email":"opendata@surrey.ca"},"license":{"name":"Open Government Licence - Surrey","url":"http://data.surrey.ca/pages/open-government-licence-surrey"},"version":"0.1"},"servers":[{"url":"http://data.surrey.ca/open511"}],"tags":[{"name":"traffic"},{"name":"obstructions"},{"name":"realtime"},{"name":"transportation"}],"paths":{"/areas":{"get":{"tags":["jurisdictions"],"description":"Provides the geographical boundaries for all the jurisdictions.","parameters":[{"name":"format","in":"query","description":"The format of the response","schema":{"type":"string"}}],"responses":{"200":{"description":"List of packages"}}}},"/events":{"get":{"tags":["obstructions","events"],"description":"Provides real time traffic obstruction events.  The event resource provides information about road events (constructions, special events, etc.).","parameters":[{"name":"format","in":"query","description":"The format of the response","schema":{"type":"string"}},{"name":"status","in":"query","description":"Limits the response to events having a given status.","schema":{"type":"string"}},{"name":"severity","in":"query","description":"Limits the response to events tagged with one of the listed severity values. The possible values are: [MINOR, MODERATE,MAJOR]. Multiple values may be listed, and should be separated by a comma. The default is to return events of any severity.","schema":{"type":"string"}},{"name":"jurisdiction","in":"query","description":"Limits the response to events reported by a given jurisdiction. The value given must be specified as the ID of a jurisdiction returned by the /jurisdiction resource. The default is to return events from all jurisdictions.","schema":{"type":"string"}},{"name":"event_type","in":"query","description":"Limits the response to events tagged with one of the listed event types. The possible values include: [CONSTRUCTION, INCIDENT, SPECIAL_EVENT, WEATHER_CONDITION]. Multiple values may be listed, and should be separated by a comma. The default is to return events of all types.","schema":{"type":"string"}},{"name":"created","in":"query","description":"Limits the response to events based on the date and time that the event was created (first recorded). The date/time must be specified in ISO 8601 format, and may be prefixed by one of the following operators [<, <=, >, >=] to indicate 'before', 'before or equal to', 'after' or 'after or equal to' respectively. For example, >2013-12-01T12:00:00Z requests all events create after Dec. 1, 2015 at 12pm (noon) Coordinated Universal Time. The default is to return events with any creation time.","schema":{"type":"string"}},{"name":"updated","in":"query","description":"Limits the response to events based on the date and time that the event was last updated. The date/time must be specified in ISO 8601 format, and may be prefixed by one of the following operators [<, <=, >, >=] to indicate 'before', 'before or equal to', 'after' or 'after or equal to' respectively. For example, >2013-12-01T12:00:00Z requests all events updated after Dec. 1, 2015 at 12pm (noon) Coordinated Universal Time. The default is to return events with any update time","schema":{"type":"string"}},{"name":"road_name","in":"query","description":"Limits the response to events on a given road as specified by the road name. An example of a valid road name is 'Highway 1'. The default is to return events on all roads.","schema":{"type":"string"}},{"name":"area_id","in":"query","description":"Limits the response to events within one of the specified areas. An area must be specified as the ID of an item returned by the /areas resource. For example: an area_id of 'drivebc.ca/1' limits events to those within the Lower Mainland District. The default is to return events in all areas.","schema":{"type":"string"}},{"name":"bbox","in":"query","description":"Limits the response to events that fall within the specified geographical bounding box. The bbox format must be '[min longitude],[min latitude],[max longitude],[max latitude]' with WGS84 coordinates. For example: -123.45,48.99,-122.45,49.49. The default is to return events in all geographical locations.","schema":{"type":"string"}}],"responses":{"200":{"description":"List of packages"}}}},"/jurisdiction":{"get":{"tags":["jurisdictions"],"description":"Lists the jurisdictions publishing data through this Open511 API implementation.","parameters":[{"name":"format","in":"query","description":"The format of the response","schema":{"type":"string"}}],"responses":{"200":{"description":"List of packages"}}}},"/jurisdictiongeography":{"get":{"tags":["jurisdictions"],"description":"Provides the geographical boundaries for all the jurisdictions.","parameters":[{"name":"format","in":"query","description":"The format of the response","schema":{"type":"string"}}],"responses":{"200":{"description":"List of packages"}}}}}}