{"openapi":"3.0.1","info":{"title":"AuthorizationManagementClient","description":"Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These operations enable you to manage role definitions and role assignments. A role definition describes the set of actions that can be performed on resources. A role assignment grants access to Azure Active Directory users.","version":"2015-07-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/classicAdministrators":{"get":{"tags":["ClassicAdministrators"],"description":"Gets service administrator, account administrator, and co-administrators for the subscription.","operationId":"ClassicAdministrators_List","parameters":[{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns an array of administrators.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassicAdministratorListResult"}}}}}}}},"components":{"schemas":{"ClassicAdministrator":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the administrator."},"name":{"type":"string","description":"The name of the administrator."},"properties":{"$ref":"#/components/schemas/ClassicAdministratorProperties"},"type":{"type":"string","description":"The type of the administrator."}},"description":"Classic Administrators"},"ClassicAdministratorListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","description":"An array of administrators.","items":{"$ref":"#/components/schemas/ClassicAdministrator"}}},"description":"ClassicAdministrator list result information."},"ClassicAdministratorProperties":{"type":"object","properties":{"emailAddress":{"type":"string","description":"The email address of the administrator."},"role":{"type":"string","description":"The role of the administrator."}},"description":"Classic Administrator properties."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}