{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MonitorManagementClient",
    "description" : "Azure Monitor client to create/update/delete metric based alerts.",
    "version" : "2018-03-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/metricAlerts" : {
      "get" : {
        "tags" : [ "MetricAlerts" ],
        "description" : "Retrieve alert rule definitions in a subscription.",
        "operationId" : "MetricAlerts_ListBySubscription",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request for a list of metric alerts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricAlertResourceCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/metricAlerts" : {
      "get" : {
        "tags" : [ "MetricAlerts" ],
        "description" : "Retrieve alert rule definitions in a resource group.",
        "operationId" : "MetricAlerts_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request for a list of metric alerts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricAlertResourceCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/metricAlerts/{ruleName}" : {
      "get" : {
        "tags" : [ "MetricAlerts" ],
        "description" : "Retrieve an alert rule definition.",
        "operationId" : "MetricAlerts_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ruleName",
          "in" : "path",
          "description" : "The name of the rule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request for a list of metric alerts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricAlertResource"
                }
              }
            }
          },
          "default" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "MetricAlerts" ],
        "description" : "Create or update an metric alert definition.",
        "operationId" : "MetricAlerts_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ruleName",
          "in" : "path",
          "description" : "The name of the rule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters of the rule to create or update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetricAlertResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricAlertResource"
                }
              }
            }
          },
          "default" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "MetricAlerts" ],
        "description" : "Delete an alert rule definition.",
        "operationId" : "MetricAlerts_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ruleName",
          "in" : "path",
          "description" : "The name of the rule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to delete an metric alert rule"
          },
          "204" : {
            "description" : "No content: the request was successful, but the response is empty"
          }
        }
      },
      "patch" : {
        "tags" : [ "MetricAlerts" ],
        "description" : "Update an metric alert definition.",
        "operationId" : "MetricAlerts_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ruleName",
          "in" : "path",
          "description" : "The name of the rule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters of the rule to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetricAlertResourcePatch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricAlertResource"
                }
              }
            }
          },
          "default" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/metricAlerts/{ruleName}/status" : {
      "get" : {
        "tags" : [ "MetricAlertsStatus" ],
        "description" : "Retrieve an alert rule status.",
        "operationId" : "MetricAlertsStatus_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ruleName",
          "in" : "path",
          "description" : "The name of the rule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request for a list of metric alerts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricAlertStatusCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/metricAlerts/{ruleName}/status/{statusName}" : {
      "get" : {
        "tags" : [ "MetricAlertsStatus" ],
        "description" : "Retrieve an alert rule status.",
        "operationId" : "MetricAlertsStatus_ListByName",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ruleName",
          "in" : "path",
          "description" : "The name of the rule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "statusName",
          "in" : "path",
          "description" : "The name of the status.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request for a list of metric alerts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricAlertStatusCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Describes the format of Error response."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "DynamicMetricCriteria" : {
        "required" : [ "alertSensitivity", "failingPeriods", "operator" ],
        "properties" : {
          "alertSensitivity" : {
            "type" : "string",
            "description" : "The extent of deviation required to trigger an alert. This will affect how tight the threshold is to the metric series pattern.",
            "enum" : [ "Low", "Medium", "High" ]
          },
          "failingPeriods" : {
            "$ref" : "#/components/schemas/DynamicThresholdFailingPeriods"
          },
          "ignoreDataBefore" : {
            "type" : "string",
            "description" : "Use this option to set the date from which to start learning the metric historical data and calculate the dynamic thresholds (in ISO8601 format)",
            "format" : "date-time"
          },
          "operator" : {
            "type" : "string",
            "description" : "The operator used to compare the metric value against the threshold.",
            "enum" : [ "GreaterThan", "LessThan", "GreaterOrLessThan" ]
          }
        },
        "description" : "Criterion for dynamic threshold.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/MultiMetricCriteria"
        } ]
      },
      "DynamicThresholdFailingPeriods" : {
        "required" : [ "minFailingPeriodsToAlert", "numberOfEvaluationPeriods" ],
        "type" : "object",
        "properties" : {
          "minFailingPeriodsToAlert" : {
            "type" : "number",
            "description" : "The number of violations to trigger an alert. Should be smaller or equal to numberOfEvaluationPeriods."
          },
          "numberOfEvaluationPeriods" : {
            "type" : "number",
            "description" : "The number of aggregated lookback points. The lookback time window is calculated based on the aggregation granularity (windowSize) and the selected number of aggregated points."
          }
        },
        "description" : "The minimum number of violations required within the selected lookback time window required to raise an alert."
      },
      "MetricAlertAction" : {
        "type" : "object",
        "properties" : {
          "actionGroupId" : {
            "type" : "string",
            "description" : "the id of the action group to use."
          },
          "webhookProperties" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "description" : "the dictionary of custom properties to include with the post operation. These data are appended to the webhook payload."
            },
            "description" : "The properties of a webhook object."
          }
        },
        "description" : "An alert action."
      },
      "MetricAlertCriteria" : {
        "required" : [ "odata.type" ],
        "type" : "object",
        "properties" : {
          "odata.type" : {
            "type" : "string",
            "description" : "specifies the type of the alert criteria.",
            "enum" : [ "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria", "Microsoft.Azure.Monitor.MultipleResourceMultipleMetricCriteria" ]
          }
        },
        "additionalProperties" : {
          "type" : "object"
        },
        "description" : "The rule criteria that defines the conditions of the alert rule.",
        "discriminator" : {
          "propertyName" : "odata.type"
        }
      },
      "MetricAlertMultipleResourceMultipleMetricCriteria" : {
        "properties" : {
          "allOf" : {
            "type" : "array",
            "description" : "the list of multiple metric criteria for this 'all of' operation. ",
            "items" : {
              "$ref" : "#/components/schemas/MultiMetricCriteria"
            }
          }
        },
        "description" : "Specifies the metric alert criteria for multiple resource that has multiple metric criteria.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/MetricAlertCriteria"
        } ]
      },
      "MetricAlertProperties" : {
        "required" : [ "criteria", "description", "enabled", "evaluationFrequency", "severity", "windowSize" ],
        "type" : "object",
        "properties" : {
          "actions" : {
            "type" : "array",
            "description" : "the array of actions that are performed when the alert rule becomes active, and when an alert condition is resolved.",
            "items" : {
              "$ref" : "#/components/schemas/MetricAlertAction"
            }
          },
          "autoMitigate" : {
            "type" : "boolean",
            "description" : "the flag that indicates whether the alert should be auto resolved or not."
          },
          "criteria" : {
            "$ref" : "#/components/schemas/MetricAlertCriteria"
          },
          "description" : {
            "type" : "string",
            "description" : "the description of the metric alert that will be included in the alert email."
          },
          "enabled" : {
            "type" : "boolean",
            "description" : "the flag that indicates whether the metric alert is enabled."
          },
          "evaluationFrequency" : {
            "type" : "string",
            "description" : "how often the metric alert is evaluated represented in ISO 8601 duration format.",
            "format" : "duration"
          },
          "lastUpdatedTime" : {
            "type" : "string",
            "description" : "Last time the rule was updated in ISO8601 format.",
            "format" : "date-time",
            "readOnly" : true
          },
          "scopes" : {
            "type" : "array",
            "description" : "the list of resource id's that this metric alert is scoped to.",
            "items" : {
              "type" : "string"
            }
          },
          "severity" : {
            "type" : "integer",
            "description" : "Alert severity {0, 1, 2, 3, 4}"
          },
          "targetResourceRegion" : {
            "type" : "string",
            "description" : "the region of the target resource(s) on which the alert is created/updated. Mandatory for MultipleResourceMultipleMetricCriteria."
          },
          "targetResourceType" : {
            "type" : "string",
            "description" : "the resource type of the target resource(s) on which the alert is created/updated. Mandatory for MultipleResourceMultipleMetricCriteria."
          },
          "windowSize" : {
            "type" : "string",
            "description" : "the period of time (in ISO 8601 duration format) that is used to monitor alert activity based on the threshold.",
            "format" : "duration"
          }
        },
        "description" : "An alert rule."
      },
      "MetricAlertResource" : {
        "required" : [ "properties" ],
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/MetricAlertProperties"
          }
        },
        "description" : "The metric alert resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "MetricAlertResourceCollection" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "the values for the alert rule resources.",
            "items" : {
              "$ref" : "#/components/schemas/MetricAlertResource"
            }
          }
        },
        "description" : "Represents a collection of alert rule resources."
      },
      "MetricAlertResourcePatch" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/MetricAlertProperties"
          },
          "tags" : {
            "type" : "object",
            "description" : "Resource tags"
          }
        },
        "description" : "The metric alert resource for patch operations."
      },
      "MetricAlertSingleResourceMultipleMetricCriteria" : {
        "properties" : {
          "allOf" : {
            "type" : "array",
            "description" : "The list of metric criteria for this 'all of' operation. ",
            "items" : {
              "$ref" : "#/components/schemas/MetricCriteria"
            }
          }
        },
        "description" : "Specifies the metric alert criteria for a single resource that has multiple metric criteria.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/MetricAlertCriteria"
        } ]
      },
      "MetricAlertStatus" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The alert rule arm id."
          },
          "name" : {
            "type" : "string",
            "description" : "The status name."
          },
          "properties" : {
            "$ref" : "#/components/schemas/MetricAlertStatusProperties"
          },
          "type" : {
            "type" : "string",
            "description" : "The extended resource type name."
          }
        },
        "description" : "An alert status."
      },
      "MetricAlertStatusCollection" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "the values for the alert rule resources.",
            "items" : {
              "$ref" : "#/components/schemas/MetricAlertStatus"
            }
          }
        },
        "description" : "Represents a collection of alert rule resources."
      },
      "MetricAlertStatusProperties" : {
        "type" : "object",
        "properties" : {
          "dimensions" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "An object describing the type of the dimensions."
          },
          "status" : {
            "type" : "string",
            "description" : "status value"
          },
          "timestamp" : {
            "type" : "string",
            "description" : "UTC time when the status was checked.",
            "format" : "date-time"
          }
        },
        "description" : "An alert status properties."
      },
      "MetricCriteria" : {
        "required" : [ "operator", "threshold" ],
        "properties" : {
          "operator" : {
            "type" : "string",
            "description" : "the criteria operator.",
            "enum" : [ "Equals", "NotEquals", "GreaterThan", "GreaterThanOrEqual", "LessThan", "LessThanOrEqual" ]
          },
          "threshold" : {
            "type" : "number",
            "description" : "the criteria threshold value that activates the alert.",
            "format" : "double"
          }
        },
        "description" : "Criterion to filter metrics.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/MultiMetricCriteria"
        } ]
      },
      "MetricDimension" : {
        "required" : [ "name", "operator", "values" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Name of the dimension."
          },
          "operator" : {
            "type" : "string",
            "description" : "the dimension operator. Only 'Include' and 'Exclude' are supported"
          },
          "values" : {
            "type" : "array",
            "description" : "list of dimension values.",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Specifies a metric dimension."
      },
      "MultiMetricCriteria" : {
        "required" : [ "criterionType", "metricName", "name", "timeAggregation" ],
        "type" : "object",
        "properties" : {
          "criterionType" : {
            "type" : "string",
            "description" : "Specifies the type of threshold criteria",
            "enum" : [ "StaticThresholdCriterion", "DynamicThresholdCriterion" ]
          },
          "dimensions" : {
            "type" : "array",
            "description" : "List of dimension conditions.",
            "items" : {
              "$ref" : "#/components/schemas/MetricDimension"
            }
          },
          "metricName" : {
            "type" : "string",
            "description" : "Name of the metric."
          },
          "metricNamespace" : {
            "type" : "string",
            "description" : "Namespace of the metric."
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the criteria."
          },
          "timeAggregation" : {
            "type" : "string",
            "description" : "the criteria time aggregation types.",
            "enum" : [ "Average", "Minimum", "Maximum", "Total" ]
          }
        },
        "additionalProperties" : {
          "type" : "object"
        },
        "description" : "The types of conditions for a multi resource alert.",
        "discriminator" : {
          "propertyName" : "criterionType"
        }
      },
      "Resource" : {
        "required" : [ "location" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Azure resource Id",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Resource location"
          },
          "name" : {
            "type" : "string",
            "description" : "Azure resource name",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "description" : "Resource tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Azure resource type",
            "readOnly" : true
          }
        },
        "description" : "An azure resource object"
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "RuleNameParameter" : {
        "name" : "ruleName",
        "in" : "path",
        "description" : "The name of the rule.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "StatusNameParameter" : {
        "name" : "statusName",
        "in" : "path",
        "description" : "The name of the status.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The Azure subscription Id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}