{"openapi":"3.0.1","info":{"title":"StorageImportExport","description":"The Storage Import/Export Resource Provider API.","version":"2016-11-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.ImportExport/locations":{"get":{"tags":["StorageImportExport"],"description":"Returns a list of locations to which you can ship the disks associated with an import or export job. A location is a Microsoft data center region.","externalDocs":{"url":""},"operationId":"Locations_List","parameters":[{"name":"api-version","in":"query","description":"Specifies the API version to use for this request.","required":true,"schema":{"type":"string","enum":["2016-11-01"]}},{"name":"Accept-Language","in":"header","description":"Specifies the preferred language for the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationsResponse"}}}},"default":{"description":"An error occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/providers/Microsoft.ImportExport/locations/{locationName}":{"get":{"tags":["StorageImportExport"],"description":"Returns the details about a location to which you can ship the disks associated with an import or export job. A location is an Azure region.","externalDocs":{"url":""},"operationId":"Locations_Get","parameters":[{"name":"locationName","in":"path","description":"The name of the location. For example, West US or westus.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version to use for this request.","required":true,"schema":{"type":"string","enum":["2016-11-01"]}},{"name":"Accept-Language","in":"header","description":"Specifies the preferred language for the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Location"}}}},"default":{"description":"An error occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/providers/Microsoft.ImportExport/operations":{"get":{"tags":["StorageImportExport"],"description":"Returns the list of operations supported by the import/export resource provider.","externalDocs":{"url":""},"operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Specifies the API version to use for this request.","required":true,"schema":{"type":"string","enum":["2016-11-01"]}},{"name":"Accept-Language","in":"header","description":"Specifies the preferred language for the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListOperationsResponse"}}}},"default":{"description":"An error occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ImportExport/jobs":{"get":{"tags":["StorageImportExport"],"description":"Returns all active and completed jobs in a subscription.","externalDocs":{"url":""},"operationId":"Jobs_ListBySubscription","parameters":[{"name":"$top","in":"query","description":"An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Can be used to restrict the results to certain conditions.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID for the Azure user.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version to use for this request.","required":true,"schema":{"type":"string","enum":["2016-11-01"]}},{"name":"Accept-Language","in":"header","description":"Specifies the preferred language for the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListJobsResponse"}}}},"default":{"description":"An error occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs":{"get":{"tags":["StorageImportExport"],"description":"Returns all active and completed jobs in a resource group.","externalDocs":{"url":""},"operationId":"Jobs_ListByResourceGroup","parameters":[{"name":"$top","in":"query","description":"An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.","schema":{"type":"integer"}},{"name":"$filter","in":"query","description":"Can be used to restrict the results to certain conditions.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID for the Azure user.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name uniquely identifies the resource group within the user subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version to use for this request.","required":true,"schema":{"type":"string","enum":["2016-11-01"]}},{"name":"Accept-Language","in":"header","description":"Specifies the preferred language for the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListJobsResponse"}}}},"default":{"description":"An error occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}":{"get":{"tags":["StorageImportExport"],"description":"Gets information about an existing job.","externalDocs":{"url":""},"operationId":"Jobs_Get","parameters":[{"name":"jobName","in":"path","description":"The name of the import/export job.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID for the Azure user.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name uniquely identifies the resource group within the user subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version to use for this request.","required":true,"schema":{"type":"string","enum":["2016-11-01"]}},{"name":"Accept-Language","in":"header","description":"Specifies the preferred language for the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}},"default":{"description":"An error occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["StorageImportExport"],"description":"Creates a new job or updates an existing job in the specified subscription.","externalDocs":{"url":""},"operationId":"Jobs_Create","parameters":[{"name":"jobName","in":"path","description":"The name of the import/export job.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID for the Azure user.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name uniquely identifies the resource group within the user subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version to use for this request.","required":true,"schema":{"type":"string","enum":["2016-11-01"]}},{"name":"Accept-Language","in":"header","description":"Specifies the preferred language for the response.","schema":{"type":"string"}},{"name":"x-ms-client-tenant-id","in":"header","description":"The tenant ID of the client making the request.","schema":{"type":"string"}}],"requestBody":{"description":"The parameters used for creating the job","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutJobParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}},"default":{"description":"An error occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["StorageImportExport"],"description":"Deletes an existing job. Only jobs in the Creating or Completed states can be deleted.","externalDocs":{"url":""},"operationId":"Jobs_Delete","parameters":[{"name":"jobName","in":"path","description":"The name of the import/export job.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID for the Azure user.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name uniquely identifies the resource group within the user subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version to use for this request.","required":true,"schema":{"type":"string","enum":["2016-11-01"]}},{"name":"Accept-Language","in":"header","description":"Specifies the preferred language for the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"default":{"description":"An error occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["StorageImportExport"],"description":"Updates specific properties of a job. You can call this operation to notify the Import/Export service that the hard drives comprising the import or export job have been shipped to the Microsoft data center. It can also be used to cancel an existing job.","externalDocs":{"url":""},"operationId":"Jobs_Update","parameters":[{"name":"jobName","in":"path","description":"The name of the import/export job.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID for the Azure user.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name uniquely identifies the resource group within the user subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version to use for this request.","required":true,"schema":{"type":"string","enum":["2016-11-01"]}},{"name":"Accept-Language","in":"header","description":"Specifies the preferred language for the response.","schema":{"type":"string"}}],"requestBody":{"description":"The parameters to update in the job","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateJobParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}},"default":{"description":"An error occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}/listBitLockerKeys":{"post":{"tags":["StorageImportExport"],"description":"Returns the BitLocker Keys for all drives in the specified job.","externalDocs":{"url":""},"operationId":"BitLockerKeys_List","parameters":[{"name":"jobName","in":"path","description":"The name of the import/export job.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID for the Azure user.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The resource group name uniquely identifies the resource group within the user subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Specifies the API version to use for this request.","required":true,"schema":{"type":"string","enum":["2016-11-01"]}},{"name":"Accept-Language","in":"header","description":"Specifies the preferred language for the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetBitLockerKeysResponse"}}}},"default":{"description":"An error occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"DriveBitLockerKey":{"type":"object","properties":{"bitLockerKey":{"type":"string","description":"BitLocker recovery key or password"},"driveId":{"type":"string","description":"Drive ID"}},"description":"BitLocker recovery key or password to the specified drive"},"DriveStatus":{"type":"object","properties":{"bitLockerKey":{"type":"string","description":"The BitLocker key used to encrypt the drive."},"bytesSucceeded":{"type":"integer","description":"Bytes successfully transferred for the drive.","format":"int64"},"copyStatus":{"type":"string","description":"Detailed status about the data transfer process. This field is not returned in the response until the drive is in the Transferring state."},"driveHeaderHash":{"type":"string","description":"The drive header hash value."},"driveId":{"type":"string","description":"The drive's hardware serial number, without spaces."},"errorLogUri":{"type":"string","description":"A URI that points to the blob containing the error log for the data transfer operation."},"manifestFile":{"type":"string","description":"The relative path of the manifest file on the drive. "},"manifestHash":{"type":"string","description":"The Base16-encoded MD5 hash of the manifest file on the drive."},"manifestUri":{"type":"string","description":"A URI that points to the blob containing the drive manifest file. "},"percentComplete":{"type":"integer","description":"Percentage completed for the drive. "},"state":{"type":"string","description":"The drive's current state. ","enum":["Specified","Received","NeverReceived","Transferring","Completed","CompletedMoreInfo","ShippedBack"]},"verboseLogUri":{"type":"string","description":"A URI that points to the blob containing the verbose log for the data transfer operation. "}},"description":"Provides information about the drive's status"},"ErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Provides information about the error code."},"details":{"type":"array","description":"Describes the error details if present.","items":{"type":"object","properties":{"code":{"type":"string","description":"Provides information about the error code."},"message":{"type":"string","description":"Provides information about the error message."},"target":{"type":"string","description":"Provides information about the error target."}}}},"innererror":{"type":"object","description":"Inner error object if present."},"message":{"type":"string","description":"Provides information about the error message."},"target":{"type":"string","description":"Provides information about the error target."}},"description":"Describes the error information."}},"description":"Response when errors occurred"},"Export":{"type":"object","properties":{"blobList":{"type":"object","properties":{"blobPath":{"type":"array","description":"A collection of blob-path strings.","items":{"type":"string"}},"blobPathPrefix":{"type":"array","description":"A collection of blob-prefix strings.","items":{"type":"string"}}},"description":"A list of the blobs to be exported."},"blobListblobPath":{"type":"string","description":"The relative URI to the block blob that contains the list of blob paths or blob path prefixes as defined above, beginning with the container name. If the blob is in root container, the URI must begin with $root. "}},"description":"A property containing information about the blobs to be exported for an export job. This property is required for export jobs, but must not be specified for import jobs."},"GetBitLockerKeysResponse":{"type":"object","properties":{"value":{"type":"array","description":"drive status","items":{"$ref":"#/components/schemas/DriveBitLockerKey"}}},"description":"GetBitLockerKeys response"},"JobDetails":{"type":"object","properties":{"backupDriveManifest":{"type":"boolean","description":"Default value is false. Indicates whether the manifest files on the drives should be copied to block blobs."},"cancelRequested":{"type":"boolean","description":"Indicates whether a request has been submitted to cancel the job."},"deliveryPackage":{"$ref":"#/components/schemas/PackageInfomation"},"diagnosticsPath":{"type":"string","description":"The virtual blob directory to which the copy logs and backups of drive manifest files (if enabled) will be stored."},"driveList":{"type":"array","description":"List of up to ten drives that comprise the job. The drive list is a required element for an import job; it is not specified for export jobs.","items":{"$ref":"#/components/schemas/DriveStatus"}},"export":{"$ref":"#/components/schemas/Export"},"incompleteBlobListUri":{"type":"string","description":"A blob path that points to a block blob containing a list of blob names that were not exported due to insufficient drive space. If all blobs were exported successfully, then this element is not included in the response."},"jobType":{"type":"string","description":"The type of job"},"logLevel":{"type":"string","description":"Default value is Error. Indicates whether error logging or verbose logging will be enabled."},"percentComplete":{"type":"integer","description":"Overall percentage completed for the job."},"provisioningState":{"type":"string","description":"Specifies the provisioning state of the job."},"returnAddress":{"$ref":"#/components/schemas/ReturnAddress"},"returnPackage":{"$ref":"#/components/schemas/PackageInfomation"},"returnShipping":{"$ref":"#/components/schemas/ReturnShipping"},"shippingInformation":{"$ref":"#/components/schemas/ShippingInformation"},"state":{"type":"string","description":"Current state of the job."},"storageAccountId":{"type":"string","description":"The resource identifier of the storage account where data will be imported to or exported from."}},"description":"Specifies the job properties"},"JobResponse":{"type":"object","properties":{"id":{"type":"string","description":"Specifies the resource identifier of the job.","readOnly":true},"location":{"type":"string","description":"Specifies the Azure location where the job is created."},"name":{"type":"string","description":"Specifies the name of the job.","readOnly":true},"properties":{"$ref":"#/components/schemas/JobDetails"},"tags":{"type":"object","description":"Specifies the tags that are assigned to the job."},"type":{"type":"string","description":"Specifies the type of the job resource.","readOnly":true}},"description":"Contains the job information."},"ListJobsResponse":{"type":"object","properties":{"nextLink":{"type":"string","description":"link to next batch of jobs"},"value":{"type":"array","description":"Job list","items":{"$ref":"#/components/schemas/JobResponse"}}},"description":"List jobs response"},"ListOperationsResponse":{"type":"object","properties":{"value":{"type":"array","description":"operations","items":{"$ref":"#/components/schemas/Operation"}}},"description":"List operations response"},"Location":{"type":"object","properties":{"id":{"type":"string","description":"Specifies the resource identifier of the location. "},"name":{"type":"string","description":"Specifies the name of the location. Use List Locations to get all supported locations. "},"properties":{"type":"object","properties":{"alternateLocations":{"type":"array","description":"A list of location IDs that should be used to ship shipping drives to for jobs created against the current location. If the current location is active, it will be part of the list. If it is temporarily closed due to maintenance, this list may contain other locations. ","items":{"type":"string"}},"city":{"type":"string","description":"The city name to use when shipping the drives to the Azure data center. "},"countryOrRegion":{"type":"string","description":"The country or region to use when shipping the drives to the Azure data center. "},"phone":{"type":"string","description":"The phone number for the Azure data center. "},"postalCode":{"type":"string","description":"The postal code to use when shipping the drives to the Azure data center. "},"recipientName":{"type":"string","description":"The recipient name to use when shipping the drives to the Azure data center. "},"stateOrProvince":{"type":"string","description":"The state or province to use when shipping the drives to the Azure data center. "},"streetAddress1":{"type":"string","description":"The first line of the street address to use when shipping the drives to the Azure data center. "},"streetAddress2":{"type":"string","description":"The second line of the street address to use when shipping the drives to the Azure data center. "},"supportedCarriers":{"type":"array","description":"A list of carriers that are supported at this location. ","items":{"type":"string"}}},"description":"location properties"},"type":{"type":"string","description":"Specifies the type of the location. "}},"description":"Provides information about an Azure data center location."},"LocationsResponse":{"type":"object","properties":{"value":{"type":"array","description":"locations","items":{"$ref":"#/components/schemas/Location"}}},"description":"Locations response"},"Operation":{"required":["display","name"],"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"Short description of the operation."},"operation":{"type":"string","description":"The display name of the operation."},"provider":{"type":"string","description":"The resource provider name to which the operation belongs."},"resource":{"type":"string","description":"The name of the resource to which the operation belongs."}},"description":"operation display properties"},"name":{"type":"string","description":"Name of the operation."}},"description":"Describes a supported operation by the Storage Import/Export job API."},"PackageInfomation":{"required":["carrierName","driveCount","shipDate","trackingNumber"],"type":"object","properties":{"carrierName":{"type":"string","description":"The name of the carrier that is used to ship the import or export drives."},"driveCount":{"type":"integer","description":"The number of drives included in the package."},"shipDate":{"type":"string","description":"The date when the package is shipped."},"trackingNumber":{"type":"string","description":"The tracking number of the package."}},"description":"Contains information about the package being shipped by the customer to the Microsoft data center."},"PutJobParameters":{"type":"object","properties":{"location":{"type":"string","description":"Specifies the supported Azure location where the job should be created"},"properties":{"$ref":"#/components/schemas/JobDetails"},"tags":{"type":"object","description":"Specifies the tags that will be assigned to the job."}},"description":"Put Job parameters"},"ReturnAddress":{"required":["city","countryOrRegion","email","phone","postalCode","recipientName","streetAddress1"],"type":"object","properties":{"city":{"type":"string","description":"The city name to use when returning the drives."},"countryOrRegion":{"type":"string","description":"The country or region to use when returning the drives. "},"email":{"type":"string","description":"Email address of the recipient of the returned drives."},"phone":{"type":"string","description":"Phone number of the recipient of the returned drives."},"postalCode":{"type":"string","description":"The postal code to use when returning the drives."},"recipientName":{"type":"string","description":"The name of the recipient who will receive the hard drives when they are returned. "},"stateOrProvince":{"type":"string","description":"The state or province to use when returning the drives."},"streetAddress1":{"type":"string","description":"The first line of the street address to use when returning the drives. "},"streetAddress2":{"type":"string","description":"The second line of the street address to use when returning the drives. "}},"description":"Specifies the return address information for the job."},"ReturnShipping":{"required":["carrierAccountNumber","carrierName"],"type":"object","properties":{"carrierAccountNumber":{"type":"string","description":"The customer's account number with the carrier."},"carrierName":{"type":"string","description":"The carrier's name."}},"description":"Specifies the return carrier and customer's account with the carrier."},"ShippingInformation":{"required":["city","countryOrRegion","postalCode","recipientName","stateOrProvince","streetAddress1"],"type":"object","properties":{"city":{"type":"string","description":"The city name to use when returning the drives."},"countryOrRegion":{"type":"string","description":"The country or region to use when returning the drives. "},"phone":{"type":"string","description":"Phone number of the recipient of the returned drives."},"postalCode":{"type":"string","description":"The postal code to use when returning the drives."},"recipientName":{"type":"string","description":"The name of the recipient who will receive the hard drives when they are returned. "},"stateOrProvince":{"type":"string","description":"The state or province to use when returning the drives."},"streetAddress1":{"type":"string","description":"The first line of the street address to use when returning the drives. "},"streetAddress2":{"type":"string","description":"The second line of the street address to use when returning the drives. "}},"description":"Contains information about the Microsoft datacenter to which the drives should be shipped."},"UpdateJobParameters":{"type":"object","properties":{"properties":{"type":"object","properties":{"backupDriveManifest":{"type":"boolean","description":"Indicates whether the manifest files on the drives should be copied to block blobs."},"cancelRequested":{"type":"boolean","description":"If specified, the value must be true. The service will attempt to cancel the job. "},"deliveryPackage":{"$ref":"#/components/schemas/PackageInfomation"},"driveList":{"type":"array","description":"List of drives that comprise the job.","items":{"$ref":"#/components/schemas/DriveStatus"}},"logLevel":{"type":"string","description":"Indicates whether error logging or verbose logging is enabled."},"returnAddress":{"$ref":"#/components/schemas/ReturnAddress"},"returnShipping":{"$ref":"#/components/schemas/ReturnShipping"},"state":{"type":"string","description":"If specified, the value must be Shipping, which tells the Import/Export service that the package for the job has been shipped. The ReturnAddress and DeliveryPackage properties must have been set either in this request or in a previous request, otherwise the request will fail. "}},"description":"Specifies the properties of a UpdateJob."},"tags":{"type":"object","description":"Specifies the tags that will be assigned to the job"}},"description":"Update Job parameters"}},"parameters":{"Accept-Language":{"name":"Accept-Language","in":"header","description":"Specifies the preferred language for the response.","schema":{"type":"string"}},"api-version":{"name":"api-version","in":"query","description":"Specifies the API version to use for this request.","required":true,"schema":{"type":"string","enum":["2016-11-01"]}},"resourceGroupName":{"name":"resourceGroupName","in":"path","description":"The resource group name uniquely identifies the resource group within the user subscription.","required":true,"schema":{"type":"string"}},"subscriptionId":{"name":"subscriptionId","in":"path","description":"The subscription ID for the Azure user.","required":true,"schema":{"type":"string"}},"x-ms-client-tenant-id":{"name":"x-ms-client-tenant-id","in":"header","description":"The tenant ID of the client making the request.","schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}