{"openapi":"3.0.1","info":{"title":"PolicyClient","description":"To manage and control access to your resources, you can define customized policies and assign them at a scope.","version":"2019-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Authorization/policySetDefinitions":{"get":{"tags":["PolicySetDefinitions"],"summary":"Retrieves built-in policy set definitions.","description":"This operation retrieves a list of all the built-in policy set definitions.","operationId":"PolicySetDefinitions_ListBuiltIn","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of built in policy set definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinitionListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}":{"get":{"tags":["PolicySetDefinitions"],"summary":"Retrieves a built in policy set definition.","description":"This operation retrieves the built-in policy set definition with the given name.","operationId":"PolicySetDefinitions_GetBuiltIn","parameters":[{"name":"policySetDefinitionName","in":"path","description":"The name of the policy set definition to get.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns information about the built in policy set definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinition"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policySetDefinitions":{"get":{"tags":["PolicySetDefinitions"],"summary":"Retrieves all policy set definitions in management group.","description":"This operation retrieves a list of all the a policy set definition in the given management group.","operationId":"PolicySetDefinitions_ListByManagementGroup","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"managementGroupId","in":"path","description":"The ID of the management group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of policy set definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinitionListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}":{"get":{"tags":["PolicySetDefinitions"],"summary":"Retrieves a policy set definition.","description":"This operation retrieves the policy set definition in the given management group with the given name.","operationId":"PolicySetDefinitions_GetAtManagementGroup","parameters":[{"name":"policySetDefinitionName","in":"path","description":"The name of the policy set definition to get.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"managementGroupId","in":"path","description":"The ID of the management group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns information about the policy set definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinition"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["PolicySetDefinitions"],"summary":"Creates or updates a policy set definition.","description":"This operation creates or updates a policy set definition in the given management group with the given name.","operationId":"PolicySetDefinitions_CreateOrUpdateAtManagementGroup","parameters":[{"name":"policySetDefinitionName","in":"path","description":"The name of the policy set definition to create.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"managementGroupId","in":"path","description":"The ID of the management group.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The policy set definition properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinition"}}},"required":true},"responses":{"200":{"description":"OK - Returns information about the policy set definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinition"}}}},"201":{"description":"Created - Returns information about the policy set definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinition"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["PolicySetDefinitions"],"summary":"Deletes a policy set definition.","description":"This operation deletes the policy set definition in the given management group with the given name.","operationId":"PolicySetDefinitions_DeleteAtManagementGroup","parameters":[{"name":"policySetDefinitionName","in":"path","description":"The name of the policy set definition to delete.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"managementGroupId","in":"path","description":"The ID of the management group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content - the policy set definition doesn't exist in the subscription."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions":{"get":{"tags":["PolicySetDefinitions"],"summary":"Retrieves the policy set definitions for a subscription.","description":"This operation retrieves a list of all the policy set definitions in the given subscription.","operationId":"PolicySetDefinitions_List","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns an array of policy set definitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinitionListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}":{"get":{"tags":["PolicySetDefinitions"],"summary":"Retrieves a policy set definition.","description":"This operation retrieves the policy set definition in the given subscription with the given name.","operationId":"PolicySetDefinitions_Get","parameters":[{"name":"policySetDefinitionName","in":"path","description":"The name of the policy set definition to get.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK - Returns information about the policy set definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinition"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["PolicySetDefinitions"],"summary":"Creates or updates a policy set definition.","description":"This operation creates or updates a policy set definition in the given subscription with the given name.","operationId":"PolicySetDefinitions_CreateOrUpdate","parameters":[{"name":"policySetDefinitionName","in":"path","description":"The name of the policy set definition to create.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The policy set definition properties.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinition"}}},"required":true},"responses":{"200":{"description":"OK - Returns information about the policy set definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinition"}}}},"201":{"description":"Created - Returns information about the policy set definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicySetDefinition"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["PolicySetDefinitions"],"summary":"Deletes a policy set definition.","description":"This operation deletes the policy set definition in the given subscription with the given name.","operationId":"PolicySetDefinitions_Delete","parameters":[{"name":"policySetDefinitionName","in":"path","description":"The name of the policy set definition to delete.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content - the policy set definition doesn't exist in the subscription."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"errorCode":{"type":"string","description":"Error code."},"errorMessage":{"type":"string","description":"Error message indicating why the operation failed."},"httpStatus":{"type":"string","description":"Http status code."}},"description":"Error response indicates Azure Resource Manager is not able to process the incoming request. The reason is provided in the error message."},"PolicyDefinitionReference":{"type":"object","properties":{"parameters":{"type":"object","description":"Required if a parameter is used in policy rule."},"policyDefinitionId":{"type":"string","description":"The ID of the policy definition or policy set definition."}},"description":"The policy definition reference."},"PolicySetDefinition":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the policy set definition.","readOnly":true},"name":{"type":"string","description":"The name of the policy set definition.","readOnly":true},"properties":{"$ref":"#/components/schemas/PolicySetDefinitionProperties"},"type":{"type":"string","description":"The type of the resource (Microsoft.Authorization/policySetDefinitions).","readOnly":true}},"description":"The policy set definition."},"PolicySetDefinitionListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to use for getting the next set of results."},"value":{"type":"array","description":"An array of policy set definitions.","items":{"$ref":"#/components/schemas/PolicySetDefinition"}}},"description":"List of policy set definitions."},"PolicySetDefinitionProperties":{"required":["policyDefinitions"],"type":"object","properties":{"description":{"type":"string","description":"The policy set definition description."},"displayName":{"type":"string","description":"The display name of the policy set definition."},"metadata":{"type":"object","description":"The policy set definition metadata."},"parameters":{"type":"object","description":"The policy set definition parameters that can be used in policy definition references."},"policyDefinitions":{"type":"array","description":"An array of policy definition references.","items":{"$ref":"#/components/schemas/PolicyDefinitionReference"}},"policyType":{"type":"string","description":"The type of policy definition. Possible values are NotSpecified, BuiltIn, and Custom.","enum":["NotSpecified","BuiltIn","Custom"]}},"description":"The policy set definition properties."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for the operation.","required":true,"schema":{"type":"string"}},"ManagementGroupIdParameter":{"name":"managementGroupId","in":"path","description":"The ID of the management group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}