{"openapi":"3.0.1","info":{"title":"Sessions API","description":"The William Hill Sessions API uses a central authentication service (CAS*) on all resources that require access to a customer’s account or betting functionality. To authenticate, you’ll need to supply a sportsbook username and password, in return you will be given an authentication ticket, which you can use on the majority of requests found within our services. <br /><br /><br /> The Sessions API should be used whenever you want to login a customer and:<br /><br /> <ul> <li>continue to use the William Hill API for that customer’s transactions</li> <li>use other CAS-enabled William Hill services outside the suite of APIs</li> </ul> <br /> CAS is an enterprise Single Sign-On solution for web services (see https://wiki.jasig.org/display/CAS/Home). It is used by many William Hill services. <br /> Note: all requests must be executed over HTTPS and include an API key and secret.<br /><br /><br /> <b>Authentication Ticket Expiration Times</b><br /><br /> When a customer is logged in using the Sessions API, they are given an Authentication Ticket; using this ticket on subsequent API requests gives you access to account activities (such as placing a bet, deposits, etc). However, this ticket is only valid for a given period of time depending on how it is used. If the ticket is used and then has a period of inactivity longer than 7,200 seconds (2 hours), then the ticket will expire and further requests using the ticket will be denied - in effect, a customer has been logged out and will need to authenticate again. <br /><br /><br /> Normally, any ticket issued only has a maximum life expectancy of 28,000 seconds (8 hours) after which it can no longer be used, even if it has been used regularly. The customer again will be effectively logged out and will need to authenticate again. If you wish to avoid this, you need to set the query parameter extended to Y, which will enable your application to generate a ticket valid for 60 days without expiring due to inactivity. <br />","contact":{"name":"William Hill Labs","url":"http://developer.williamhill.com","email":"platform@williamhill.com"},"version":"2.0.0"},"servers":[{"url":"https://sandbox.whapi.com/v2/sessions"}],"paths":{"/tickets":{"post":{"tags":["Sessions"],"summary":"Logs in a customer and obtains an authentication ticket.","description":"Logs in a customer by obtaining an authentication ticket. It can then be used directly with the other William Hill APIs to access a customer’s sportsbook account, place a bet, etc. ","operationId":"logIn","parameters":[{"name":"apiKey","in":"header","description":"A unique identifier of your application that is generated by the API portal.","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"apiSecret","in":"header","description":"Another unique identifier for your application.","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"territory","in":"header","description":"Territory from which request originates","schema":{"pattern":"^(COM|ES|IT)$","type":"string"}},{"name":"languageAsPerTerritory","in":"query","description":"Defines response field name language, true (default) returns in language defined by territory, false returns in English","schema":{"pattern":"^(true|false)$","type":"string","default":"true"}}],"requestBody":{"description":"Login request object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/loginRequest"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/session"}}}},"401":{"description":"Login - failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sessionsErrors"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sessionsErrors"},"example":{"errors":[{"code":"20503","message":"Account under self-exclusion"},{"code":"20504","message":"Account locked."},{"code":"20505","message":"Account inactive."},{"code":"20506","message":"Account closed."},{"code":"20507","message":"Age verification required."},{"code":"20508","message":"Account under self-exclusion, reactivation available."},{"code":"20509","message":"Timeout applied."},{"code":"20503","message":"Account under self-exclusion"},{"code":"20512","message":"Account Suspended"},{"code":"20513","message":"Max Linked Accounts"},{"code":"20514","message":"Account Closed By Player"}]}}}},"404":{"description":"Application metadata not configured correctly","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sessionsErrors"}}}}}}},"/tickets/{tgt}":{"get":{"tags":["Sessions"],"summary":"Checks the validity of a session ticket.","description":"Checks the validity of a session ticket.","operationId":"validateSession","parameters":[{"name":"apiKey","in":"header","description":"A unique identifier of your application that is generated by the API portal.","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"apiSecret","in":"header","description":"Another unique identifier for your application.","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"tgt","in":"path","description":"Ticket Granting Ticket obtained from a previous request","required":true,"schema":{"pattern":"^[a-zA-Z][a-zA-Z0-9-]{39,100}$","type":"string"}},{"name":"territory","in":"header","description":"Territory from which request originates","schema":{"pattern":"^(COM|ES|IT)$","type":"string"}},{"name":"languageAsPerTerritory","in":"query","description":"Defines response field name language, true (default) returns in language defined by territory, false returns in English","schema":{"pattern":"^(true|false)$","type":"string","default":"true"}}],"responses":{"200":{"description":"The validity status of the tgt","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ticketvalidityresponse"}},"application/json":{"example":{"valid":true}}}},"404":{"description":"Resource Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/sessionsErrors"}},"application/json":{"example":{"errors":[{"code":"20511","field":"target","message":"TGT ticket could not be found."}]}}}}}},"delete":{"tags":["Sessions"],"summary":"Log out a customer.","description":"Logs out a customer.","operationId":"logOut","parameters":[{"name":"apiKey","in":"header","description":"A unique identifier of your application that is generated by the API portal.","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"apiSecret","in":"header","description":"Another unique identifier for your application.","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"tgt","in":"path","description":"Ticket Granting Ticket obtained from a previous request","required":true,"schema":{"pattern":"^[a-zA-Z][a-zA-Z0-9-]{39,100}$","type":"string"}},{"name":"territory","in":"header","description":"Territory from which request originates","schema":{"pattern":"^(COM|ES|IT)$","type":"string"}},{"name":"languageAsPerTerritory","in":"query","description":"Defines response field name language, true (default) returns in language defined by territory, false returns in English","schema":{"pattern":"^(true|false)$","type":"string","default":"true"}}],"responses":{"200":{"description":"Success - Logout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/logoutresponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sessionsErrors"}}}},"404":{"description":"Resource Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sessionsErrors"},"example":{"errors":[{"code":"20511","field":"target","message":"TGT ticket could not be found."}]}}}}}}},"/tickets/{tgt}/serviceTicket":{"get":{"tags":["Sessions"],"summary":"Obtains a one-time Service Ticket that can be used to access other William Hill services.","description":"Obtains a one-time Service Ticket that can be used to access other CAS enabled William Hill services that are not available through the standard suite of APIs. You first need to have logged in a customer to obtain an Authentication Ticket.","operationId":"getServiceTicket","parameters":[{"name":"apiKey","in":"header","description":"A unique identifier of your application that is generated by the API portal.","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"apiSecret","in":"header","description":"Another unique identifier for your application.","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},{"name":"tgt","in":"path","description":"Ticket Granting Ticket obtained from a previous request","required":true,"schema":{"pattern":"^[a-zA-Z][a-zA-Z0-9-]{39,100}$","type":"string"}},{"name":"territory","in":"header","description":"Territory from which request originates","schema":{"pattern":"^(COM|ES|IT)$","type":"string"}},{"name":"languageAsPerTerritory","in":"query","description":"Defines response field name language, true (default) returns in language defined by territory, false returns in English","schema":{"pattern":"^(true|false)$","type":"string","default":"true"}},{"name":"target","in":"query","description":"The target URL of the CAS enabled service that you want to use with the service ticket.","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Success - Service Ticket created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/serviceTicket"},"example":{"location":"http://www.example.com/","ticket":"ST-861-kM1s6zg4QBb6xf4CF4oe-brsux349"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sessionsErrors"},"example":{"errors":[{"code":"20510","field":"target","message":"Target service not established"}]}}}},"404":{"description":"Resource Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sessionsErrors"},"example":{"errors":[{"code":"20511","field":"target","message":"TGT ticket could not be found."}]}}}}}}}},"components":{"schemas":{"error":{"type":"object","properties":{"code":{"type":"string","description":"A unique William Hill identifier for the error"},"field":{"type":"string","description":"To help pinpoint the exact parameter where a request has failed"},"message":{"type":"string","description":"A unique William Hill text string to enable you to identify the error"}}},"loginRequest":{"required":["password","username"],"type":"object","properties":{"extended":{"type":"boolean","description":"Whether extended login or normal login is required. If the parameter is set to Y your application will generate an authentication ticket valid for a period of 60 days, without expiring due to inactivity. If the parameter is left blank or set to N this means your application will support the normal expiry times for tickets: The ticket expires after 2 hours of inactivity. The ticket is valid for a maximum of 8 hours after it has been issued.","default":false},"password":{"pattern":"^[a-zA-Z0-9_\\-]{6,15}$","type":"string","description":"Customer Password"},"username":{"pattern":"^[A-Za-z0-9_@\\ \\.]{5,15}$","type":"string","description":"Customer Username"}}},"logoutresponse":{"type":"object","properties":{"success":{"type":"boolean"}}},"serviceTicket":{"required":["ticket"],"type":"object","properties":{"location":{"type":"string","description":"This is the URL of the target service sent in the request. This is a combination of the endpoint and the ticket for future operations such as DELETE."},"ticket":{"type":"string","description":"The TGT ticket"}}},"session":{"required":["expiryDateTime","ticket"],"type":"object","properties":{"expiryDateTime":{"type":"string","description":"The UTC time when the ticket expires."},"extended":{"type":"boolean","description":"The value you have selected previous to executing the request. If the value is Y, this enables your application to generate a ticket valid for 60 days without expiring due to inactivity."},"location":{"type":"string","description":"This is the URL of the target service sent in the request. This is a combination of the endpoint and the ticket for future operations such as DELETE."},"temporaryPassword":{"type":"boolean","description":"Indicates that the account has a temporary password set and hence the user must be prompted to change their password."},"temporaryPasswordUrl":{"type":"string","description":"Url for user to change password. A TGT must be added to the URL"},"ticket":{"type":"string","description":"The TGT ticket"}}},"sessionsErrors":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"}}}},"ticketvalidityresponse":{"type":"object","properties":{"valid":{"type":"boolean"}}}},"parameters":{"param_apiKey":{"name":"apiKey","in":"header","description":"A unique identifier of your application that is generated by the API portal.","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},"param_apiSecret":{"name":"apiSecret","in":"header","description":"Another unique identifier for your application.","required":true,"schema":{"pattern":"^[a-zA-Z0-9]{19,50}$","type":"string"}},"param_exclude":{"name":"exclude","in":"query","description":"Specify fields from the default to exclude (Comma Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},"param_fields":{"name":"fields","in":"query","description":"Specify an absolute field list to return (Comma Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},"param_include":{"name":"include","in":"query","description":"Specify fields in addition to the default to return (Comma Separated List)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},"param_languageAsPerTerritory":{"name":"languageAsPerTerritory","in":"query","description":"Defines response field name language, true (default) returns in language defined by territory, false returns in English","schema":{"pattern":"^(true|false)$","type":"string","default":"true"}},"param_territory":{"name":"territory","in":"header","description":"Territory from which request originates","schema":{"pattern":"^(COM|ES|IT)$","type":"string"}},"param_tgt":{"name":"tgt","in":"path","description":"Ticket Granting Ticket obtained from a previous request","required":true,"schema":{"pattern":"^[a-zA-Z][a-zA-Z0-9-]{39,100}$","type":"string"}}}}}