{"openapi":"3.0.1","info":{"title":"LetMC Api V3, reporting","version":"v3-reporting"},"servers":[{"url":"https://live-api.letmc.com/"}],"paths":{"/v3/reporting/{shortName}/mortgagesbycreateddate":{"get":{"tags":["ReportingController"],"summary":"Return a collection of mortgages by created date from a specific date","operationId":"ReportingController_MortgagesByCreatedDate","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"branchID","in":"query","description":"The unique ID of the Branch","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"query","description":"The date to search from.","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingPropertyMortgageModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/ReportingPropertyMortgageModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ReportingPropertyMortgageModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ReportingPropertyMortgageModelResults"}}}}},"deprecated":false}},"/v3/reporting/{shortName}/mortgagesbyupdateddate":{"get":{"tags":["ReportingController"],"summary":"Return a collection of all mortgages updated from a specific date","operationId":"ReportingController_MortgagesByUpdatedDate","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"branchID","in":"query","description":"The unique ID of the Branch","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"query","description":"The date to search from.","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingPropertyMortgageModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/ReportingPropertyMortgageModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ReportingPropertyMortgageModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ReportingPropertyMortgageModelResults"}}}}},"deprecated":false}},"/v3/reporting/{shortName}/repossesionsbycreateddate":{"get":{"tags":["ReportingController"],"summary":"Return a collection of repossessions by created date from a specific date","operationId":"ReportingController_RepossessionsByCreatedDate","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"branchID","in":"query","description":"The unique ID of the Branch","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"query","description":"The date to search from.","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingReceivershipCaseModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/ReportingReceivershipCaseModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ReportingReceivershipCaseModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ReportingReceivershipCaseModelResults"}}}}},"deprecated":false}},"/v3/reporting/{shortName}/repossesionsbyupdateddate":{"get":{"tags":["ReportingController"],"summary":"Return a collection of all reposessions updated from a specific date","operationId":"ReportingController_RepossessionsByUpdatedDate","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"branchID","in":"query","description":"The unique ID of the Branch","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"query","description":"The date to search from.","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingReceivershipCaseModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/ReportingReceivershipCaseModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ReportingReceivershipCaseModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ReportingReceivershipCaseModelResults"}}}}},"deprecated":false}}},"components":{"schemas":{"ReportingPropertyMortgageModel":{"type":"object","properties":{"Amount":{"type":"number","description":"Amount.","format":"double"},"BorrowersAccountName":{"type":"string","description":"Borrowers Account Name"},"CreatedAt":{"type":"string","description":"The created at date.","format":"date-time"},"DisplayType":{"type":"string","description":"Friendly type name.","readOnly":true},"ExtraNotes":{"type":"string","description":"Extra notes."},"From":{"type":"string","description":"The from date.","format":"date-time"},"IntrestRate":{"type":"number","description":"The mortgages intrest rate.","format":"double"},"MarketValue":{"type":"number","description":"The property market value.","format":"double"},"MonthlyPayment":{"type":"number","description":"The mortgages monthly payment.","format":"double"},"MortgageAccountNumber":{"type":"string","description":"Mortgage account number."},"MortgageProvider":{"type":"string","description":"Mortgages provider."},"PropertyOwnableID":{"type":"string","description":"The unique Property Ownable identifier."},"SalesInstructionID":{"type":"string","description":"The unique Sales Instruction identifier."},"Type":{"type":"string","description":"The mortgages type.","enum":["InterestOnlyFixedRate","InterestOnlySVR","InterestOnlyDiscountMortgage","InterestOnlyTracker","InterestOnlyCapped","InterestOnlyOffset","CapitalRepaymentFixedRate","CapitalRepaymentSVR","CapitalRepaymentDiscountMortgage","CapitalRepaymentTracker","CapitalRepaymentCapped","CapitalRepaymentOffset"]},"ValuationDate":{"type":"string","description":"The mortgages valuation date.","format":"date-time"}},"description":"Represents an receivership case."},"ReportingPropertyMortgageModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/ReportingPropertyMortgageModel"}}},"description":"Results model to store receivership case results."},"ReportingReceivershipCaseDetailsModel":{"type":"object","properties":{"AppointmentDate":{"type":"string","description":"Appointment Date","format":"date-time"},"ClosedDate":{"type":"string","description":"Closed Date","format":"date-time"},"ClosedReason":{"type":"string","description":"Closed Reason","enum":["PropertySold","HandedBackToBorrower","AppointmentIssues","LenderSeekingPossession","Other"]},"CreatedAt":{"type":"string","description":"Created At","format":"date-time"},"DisplayFirstReceiver":{"type":"string","description":"Display First Receiver (ApplicationStaff)"},"DisplayFreeholdBlockManager":{"type":"string","description":"Display Freehold Block Manager"},"DisplaySecondReceiver":{"type":"string","description":"Display Second Receiver (ApplicationStaff)"},"DisplayValidatingSolicitor":{"type":"string","description":"Display Validating Solicitor"},"ExtraNotes":{"type":"string","description":"Extra Notes"},"FirstReceiverID":{"type":"string","description":"First Receiver ID (ApplicationStaff)"},"FreeholdBlockManagerID":{"type":"string","description":"Freehold Block Manager ID"},"PassedToLenderDate":{"type":"string","description":"Passed to Lender Date","format":"date-time"},"PropertyOwnableID":{"type":"string","description":"The unique Property Ownable identifier"},"SecondReceiverID":{"type":"string","description":"Second Receiver ID (ApplicationStaff)"},"Status":{"type":"string","description":"Status","enum":["Opened","Litigation","Closed"]},"Tenure":{"type":"string","description":"Tenure","enum":["Freehold","Leasehold","Commonhold","ShareOfFreehold","FlyingFreehold","ShareTransfer","Unknown"]},"ValidatingSolicitorID":{"type":"string","description":"The unique Validating Solicitor identifier"},"ValuationDate":{"type":"string","description":"Valuation Date","format":"date-time"}},"description":"Helper Model - Case Details"},"ReportingReceivershipCaseModel":{"type":"object","properties":{"CaseDetails":{"$ref":"#/components/schemas/ReportingReceivershipCaseDetailsModel"},"ExitStrategy":{"type":"array","description":"Exit Strategy","items":{"$ref":"#/components/schemas/ReportingReceivershipExitStrategyModel"}},"Litigation":{"type":"array","description":"Litigation","items":{"$ref":"#/components/schemas/ReportingReceivershipLitigationModel"}}},"description":"Represents an receivership case."},"ReportingReceivershipCaseModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/ReportingReceivershipCaseModel"}}},"description":"Results model to store receivership case results."},"ReportingReceivershipExitStrategyModel":{"type":"object","properties":{"Compiled":{"type":"string","description":"The date Compiled","format":"date-time"},"CompiledByID":{"type":"string","description":"Compiled By ID (ApplicationStaff)"},"DisplayCompiledByID":{"type":"string","description":"Compiled By ID"},"ExtraNotes":{"type":"string","description":"Extra Notes"},"LenderResponse":{"type":"string","description":"Lender Response","enum":["AgreeLet","AgreeSell","AgreeDisposalRec","AgreeOther","DisagreeLet","DisagreeSell","DisagreeDisposalRec","DisagreeOther"]},"LenderResponseDate":{"type":"string","description":"Lender Response Date","format":"date-time"},"LockChanged":{"type":"string","description":"Lock Changed","format":"date-time"},"MortgageArrears":{"type":"number","description":"Mortgage Arrears","format":"double"},"MortgageBalance":{"type":"number","description":"Mortgage Balance","format":"double"},"MortgageCMI":{"type":"number","description":"Mortgage CMI","format":"double"},"Recommendation":{"type":"string","description":"Recommendation","enum":["Let","Sell","DisposalRec","PendingExit","Other"]},"ReviewDate":{"type":"string","description":"The Review Date","format":"date-time"},"SentToLender":{"type":"string","description":"Sent To Lender","format":"date-time"}},"description":"Helper Model - Exit Strategy"},"ReportingReceivershipLitigationModel":{"type":"object","properties":{"ClosedLitigationDate":{"type":"string","description":"Closed Litigation Date","format":"date-time"},"ClosedLitigationReason":{"type":"string","description":"Closed Litigation Reason","enum":["PossessionObtained","TenantVacated","LitigationCancelled","Other"]},"CompiledBySolicitorID":{"type":"string","description":"Compiled By Solicitor ID (SalesSolicitor)"},"DisplayCompiledBySolicitor":{"type":"string","description":"Display Compiled By Solicitor"},"EvictionDate":{"type":"string","description":"Eviction Date","format":"date-time"},"EvictionOutcome":{"type":"string","description":"Eviction Outcome","enum":["EvictionComplete","EvictionCancelled","Other"]},"ExtraNotes":{"type":"string","description":"Extra Notes"},"HearingDate":{"type":"string","description":"Hearing Date","format":"date-time"},"HearingOutcome":{"type":"string","description":"Hearing Outcome"},"LitigationType":{"type":"string","description":"Litigation Type"},"NoticeExpiryDate":{"type":"string","description":"Notice Expiry Date","format":"date-time"},"NoticeServedDate":{"type":"string","description":"Notice Served Date","format":"date-time"},"ProceedingsIssuedDate":{"type":"string","description":"Proceedings Issued Date","format":"date-time"}},"description":"Helper Model - Litigation"}},"securitySchemes":{"apiKey":{"type":"apiKey","description":"ApiKey Authentication","name":"ApiKey","in":"header"},"basic":{"type":"http","description":"Basic HTTP Authentication","scheme":"basic"}}}}