{"openapi":"3.0.1","info":{"title":"WebSite Management Client","description":"Use these APIs to manage Azure Websites resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx.","version":"2015-08-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Web/publishingUsers/web":{"get":{"tags":["Provider"],"summary":"Gets publishing user","operationId":"Provider_GetPublishingUser","parameters":[{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}},"text/json":{"schema":{"$ref":"#/components/schemas/User"}},"application/xml":{"schema":{"$ref":"#/components/schemas/User"}},"text/xml":{"schema":{"$ref":"#/components/schemas/User"}}}}},"deprecated":false},"put":{"tags":["Provider"],"summary":"Updates publishing user","operationId":"Provider_UpdatePublishingUser","parameters":[{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Details of publishing user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}},"text/json":{"schema":{"$ref":"#/components/schemas/User"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}},"text/json":{"schema":{"$ref":"#/components/schemas/User"}},"application/xml":{"schema":{"$ref":"#/components/schemas/User"}},"text/xml":{"schema":{"$ref":"#/components/schemas/User"}}}}},"deprecated":false}},"/providers/Microsoft.Web/sourcecontrols":{"get":{"tags":["Provider"],"summary":"Gets the source controls available for Azure websites","operationId":"Provider_GetSourceControls","parameters":[{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControlCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/SourceControlCollection"}}}}},"deprecated":false}},"/providers/Microsoft.Web/sourcecontrols/{sourceControlType}":{"get":{"tags":["Provider"],"summary":"Gets source control token","operationId":"Provider_GetSourceControl","parameters":[{"name":"sourceControlType","in":"path","description":"Type of source control","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControl"}},"text/json":{"schema":{"$ref":"#/components/schemas/SourceControl"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SourceControl"}},"text/xml":{"schema":{"$ref":"#/components/schemas/SourceControl"}}}}},"deprecated":false},"put":{"tags":["Provider"],"summary":"Updates source control token","operationId":"Provider_UpdateSourceControl","parameters":[{"name":"sourceControlType","in":"path","description":"Type of source control","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Source control token information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControl"}},"text/json":{"schema":{"$ref":"#/components/schemas/SourceControl"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/SourceControl"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceControl"}},"text/json":{"schema":{"$ref":"#/components/schemas/SourceControl"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SourceControl"}},"text/xml":{"schema":{"$ref":"#/components/schemas/SourceControl"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders":{"get":{"tags":["GlobalCertificateOrder"],"summary":"Lists all domains in a subscription","operationId":"GlobalCertificateOrder_GetAllCertificateOrders","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation":{"post":{"tags":["GlobalCertificateOrder"],"summary":"Validate certificate purchase information","operationId":"GlobalCertificateOrder_ValidateCertificatePurchaseInformation","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Certificate order","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/checkDomainAvailability":{"post":{"tags":["GlobalDomainRegistration"],"summary":"Checks if a domain is available for registration","operationId":"GlobalDomainRegistration_CheckDomainAvailability","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Name of the domain","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameIdentifier"}},"text/json":{"schema":{"$ref":"#/components/schemas/NameIdentifier"}},"application/xml":{"schema":{"$ref":"#/components/schemas/NameIdentifier"}},"text/xml":{"schema":{"$ref":"#/components/schemas/NameIdentifier"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NameIdentifier"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainAvailablilityCheckResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/DomainAvailablilityCheckResult"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DomainAvailablilityCheckResult"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DomainAvailablilityCheckResult"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/domains":{"get":{"tags":["GlobalDomainRegistration"],"summary":"Lists all domains in a subscription","operationId":"GlobalDomainRegistration_GetAllDomains","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/DomainCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/generateSsoRequest":{"post":{"tags":["GlobalDomainRegistration"],"summary":"Generates a single sign on request for domain management portal","operationId":"GlobalDomainRegistration_GetDomainControlCenterSsoRequest","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainControlCenterSsoRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/DomainControlCenterSsoRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DomainControlCenterSsoRequest"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DomainControlCenterSsoRequest"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/listDomainRecommendations":{"post":{"tags":["GlobalDomainRegistration"],"summary":"Lists domain recommendations based on keywords","operationId":"GlobalDomainRegistration_ListDomainRecommendations","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Domain recommendation search parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainRecommendationSearchParameters"}},"text/json":{"schema":{"$ref":"#/components/schemas/DomainRecommendationSearchParameters"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DomainRecommendationSearchParameters"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DomainRecommendationSearchParameters"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/DomainRecommendationSearchParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameIdentifierCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/NameIdentifierCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains":{"get":{"tags":["TopLevelDomains"],"summary":"Lists all top level domains supported for registration","operationId":"TopLevelDomains_GetGetTopLevelDomains","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopLevelDomainCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/TopLevelDomainCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}":{"get":{"tags":["TopLevelDomains"],"summary":"Gets details of a top level domain","operationId":"TopLevelDomains_GetTopLevelDomain","parameters":[{"name":"name","in":"path","description":"Name of the top level domain","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopLevelDomain"}},"text/json":{"schema":{"$ref":"#/components/schemas/TopLevelDomain"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TopLevelDomain"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TopLevelDomain"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}/listAgreements":{"post":{"tags":["TopLevelDomains"],"summary":"Lists legal agreements that user needs to accept before purchasing domain","operationId":"TopLevelDomains_ListTopLevelDomainAgreements","parameters":[{"name":"name","in":"path","description":"Name of the top level domain","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Domain agreement options","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopLevelDomainAgreementOption"}},"text/json":{"schema":{"$ref":"#/components/schemas/TopLevelDomainAgreementOption"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TopLevelDomainAgreementOption"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TopLevelDomainAgreementOption"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/TopLevelDomainAgreementOption"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TldLegalAgreementCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/TldLegalAgreementCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/validateDomainRegistrationInformation":{"post":{"tags":["GlobalDomainRegistration"],"summary":"Validates domain registration information","operationId":"GlobalDomainRegistration_ValidateDomainPurchaseInformation","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Domain registration information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainRegistrationInput"}},"text/json":{"schema":{"$ref":"#/components/schemas/DomainRegistrationInput"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DomainRegistrationInput"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DomainRegistrationInput"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/DomainRegistrationInput"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/certificates":{"get":{"tags":["Global"],"summary":"Get all certificates for a subscription","operationId":"Global_GetAllCertificates","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability":{"post":{"tags":["Global"],"summary":"Check if resource name is available","operationId":"Global_CheckNameAvailability","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Name availability request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailabilityRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailabilityRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailabilityRequest"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailabilityRequest"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailabilityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailability"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailability"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailability"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ResourceNameAvailability"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/classicMobileServices":{"get":{"tags":["Global"],"summary":"Gets all mobile services for a subscription","operationId":"Global_GetAllClassicMobileServices","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassicMobileServiceCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/ClassicMobileServiceCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions":{"get":{"tags":["Global"],"summary":"Gets list of available geo regions","operationId":"Global_GetSubscriptionGeoRegions","parameters":[{"name":"sku","in":"query","description":"Filter only to regions that support this sku","schema":{"type":"string"}},{"name":"linuxWorkersEnabled","in":"query","description":"Filter only to regions that support linux workers","schema":{"type":"boolean"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoRegionCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/GeoRegionCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments":{"get":{"tags":["Global"],"summary":"Gets all hostingEnvironments (App Service Environment) for a subscription","operationId":"Global_GetAllHostingEnvironments","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironmentCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironmentCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/ishostingenvironmentnameavailable":{"get":{"tags":["Global"],"summary":"Whether hosting environment name is available","operationId":"Global_IsHostingEnvironmentNameAvailable","parameters":[{"name":"name","in":"query","description":"Hosting environment name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/ishostingenvironmentnameavailable/{name}":{"get":{"tags":["Global"],"summary":"Whether hosting environment name is available","operationId":"Global_IsHostingEnvironmentWithLegacyNameAvailable","parameters":[{"name":"name","in":"path","description":"Hosting environment name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/managedHostingEnvironments":{"get":{"tags":["Global"],"summary":"Gets all managed hosting environments for a subscription","operationId":"Global_GetAllManagedHostingEnvironments","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagedHostingEnvironmentCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/ManagedHostingEnvironmentCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers":{"get":{"tags":["Global"],"summary":"List premier add on offers","operationId":"Global_ListPremierAddOnOffers","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/publishingCredentials":{"get":{"tags":["Global"],"summary":"Gets publishing credentials for the subscription owner","operationId":"Global_GetSubscriptionPublishingCredentials","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}},"text/json":{"schema":{"$ref":"#/components/schemas/User"}},"application/xml":{"schema":{"$ref":"#/components/schemas/User"}},"text/xml":{"schema":{"$ref":"#/components/schemas/User"}}}}},"deprecated":false},"put":{"tags":["Global"],"summary":"Updates publishing credentials for the subscription owner","operationId":"Global_UpdateSubscriptionPublishingCredentials","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"requestMessage with new publishing credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}},"text/json":{"schema":{"$ref":"#/components/schemas/User"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}},"text/json":{"schema":{"$ref":"#/components/schemas/User"}},"application/xml":{"schema":{"$ref":"#/components/schemas/User"}},"text/xml":{"schema":{"$ref":"#/components/schemas/User"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations":{"get":{"tags":["Recommendations"],"summary":"Gets a list of recommendations associated with the specified subscription.","operationId":"Recommendations_GetRecommendationBySubscription","parameters":[{"name":"featured","in":"query","description":"If set, this API returns only the most critical recommendation among the others. Otherwise this API returns all recommendations available","schema":{"type":"boolean"}},{"name":"$filter","in":"query","description":"Return only channels specified in the filter. Filter is specified by using OData syntax. Example: $filter=channels eq 'Api' or channel eq 'Notification'","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Recommendation"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Recommendation"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Recommendation"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Recommendation"}}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms":{"get":{"tags":["Global"],"summary":"Gets all App Service Plans for a subscription","operationId":"Global_GetAllServerFarms","parameters":[{"name":"detailed","in":"query","description":"False to return a subset of App Service Plan properties, true to return all of the properties.\r\n            Retrieval of all properties may increase the API latency.","schema":{"type":"boolean"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerFarmCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/ServerFarmCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/providers/Microsoft.Web/sites":{"get":{"tags":["Global"],"summary":"Gets all Web Apps for a subscription","operationId":"Global_GetAllSites","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/SiteCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources":{"post":{"tags":["GlobalResourceGroups"],"operationId":"GlobalResourceGroups_MoveResources","parameters":[{"name":"resourceGroupName","in":"path","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CsmMoveResourceEnvelope"}},"text/json":{"schema":{"$ref":"#/components/schemas/CsmMoveResourceEnvelope"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CsmMoveResourceEnvelope"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CsmMoveResourceEnvelope"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CsmMoveResourceEnvelope"}}},"required":true},"responses":{"204":{"description":"No Content"}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders":{"get":{"tags":["CertificateOrders"],"summary":"Get certificate orders in a resource group","operationId":"CertificateOrders_GetCertificateOrders","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates":{"get":{"tags":["CertificateOrders"],"summary":"List all certificates associated with a certificate order (only one certificate can be associated with an order at a time)","operationId":"CertificateOrders_GetCertificates","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"certificateOrderName","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificateCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificateCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}":{"get":{"tags":["CertificateOrders"],"summary":"Get certificate associated with the certificate order","operationId":"CertificateOrders_GetCertificate","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"certificateOrderName","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}}}}},"deprecated":false},"put":{"tags":["CertificateOrders"],"summary":"Associates a Key Vault secret to a certificate store that will be used for storing the certificate once it's ready","operationId":"CertificateOrders_CreateOrUpdateCertificate","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"certificateOrderName","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Key Vault secret csm Id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}}}}},"deprecated":false},"delete":{"tags":["CertificateOrders"],"summary":"Deletes the certificate associated with the certificate order","operationId":"CertificateOrders_DeleteCertificate","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"certificateOrderName","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false},"patch":{"tags":["CertificateOrders"],"summary":"Associates a Key Vault secret to a certificate store that will be used for storing the certificate once it's ready","operationId":"CertificateOrders_UpdateCertificate","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"certificateOrderName","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Key Vault secret csm Id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrderCertificate"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}":{"get":{"tags":["CertificateOrders"],"summary":"Get a certificate order","operationId":"CertificateOrders_GetCertificateOrder","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}}}}},"deprecated":false},"put":{"tags":["CertificateOrders"],"summary":"Create or update a certificate purchase order","operationId":"CertificateOrders_CreateOrUpdateCertificateOrder","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Distinguished name to be used for purchasing certificate","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}}}}},"deprecated":false},"delete":{"tags":["CertificateOrders"],"summary":"Delete an existing certificate order","operationId":"CertificateOrders_DeleteCertificateOrder","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false},"patch":{"tags":["CertificateOrders"],"summary":"Create or update a certificate purchase order","operationId":"CertificateOrders_UpdateCertificateOrder","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Distinguished name to be used for purchasing certificate","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CertificateOrder"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/reissue":{"post":{"tags":["CertificateOrders"],"summary":"Reissue an existing certificate order","operationId":"CertificateOrders_ReissueCertificateOrder","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Reissue parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReissueCertificateOrderRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/ReissueCertificateOrderRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ReissueCertificateOrderRequest"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ReissueCertificateOrderRequest"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/ReissueCertificateOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/renew":{"post":{"tags":["CertificateOrders"],"summary":"Renew an existing certificate order","operationId":"CertificateOrders_RenewCertificateOrder","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Renew parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenewCertificateOrderRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/RenewCertificateOrderRequest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/RenewCertificateOrderRequest"}},"text/xml":{"schema":{"$ref":"#/components/schemas/RenewCertificateOrderRequest"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/RenewCertificateOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/resendEmail":{"post":{"tags":["CertificateOrders"],"summary":"Resend certificate email","operationId":"CertificateOrders_ResendCertificateEmail","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate order name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveCertificateActions":{"post":{"tags":["CertificateOrders"],"summary":"Retrieve the list of certificate actions","operationId":"CertificateOrders_RetrieveCertificateActions","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate order name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CertificateOrderAction"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CertificateOrderAction"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CertificateOrderAction"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CertificateOrderAction"}}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveEmailHistory":{"post":{"tags":["CertificateOrders"],"summary":"Retrieve email history","operationId":"CertificateOrders_RetrieveCertificateEmailHistory","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate order name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CertificateEmail"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CertificateEmail"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CertificateEmail"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CertificateEmail"}}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/verifyDomainOwnership":{"post":{"tags":["CertificateOrders"],"summary":"Verify domain ownership for this certificate order","operationId":"CertificateOrders_VerifyDomainOwnership","parameters":[{"name":"resourceGroupName","in":"path","description":"Azure resource group name","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Certificate order name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains":{"get":{"tags":["Domains"],"summary":"Lists domains under a resource group","operationId":"Domains_GetDomains","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/DomainCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}":{"get":{"tags":["Domains"],"summary":"Gets details of a domain","operationId":"Domains_GetDomain","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"domainName","in":"path","description":"Name of the domain","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Domain"}}}}},"deprecated":false},"put":{"tags":["Domains"],"summary":"Creates a domain","operationId":"Domains_CreateOrUpdateDomain","parameters":[{"name":"resourceGroupName","in":"path","description":"&gt;Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"domainName","in":"path","description":"Name of the domain","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Domain registration information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Domain"}}},"required":true},"responses":{"200":{"description":"Domain purchase was successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"202":{"description":"Domain purchase is in progress","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Domain"}}}}},"deprecated":false},"delete":{"tags":["Domains"],"summary":"Deletes a domain","operationId":"Domains_DeleteDomain","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"domainName","in":"path","description":"Name of the domain","required":true,"schema":{"type":"string"}},{"name":"forceHardDeleteDomain","in":"query","description":"If true then the domain will be deleted immediately instead of after 24 hours","schema":{"type":"boolean"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Domain does not exist in Azure database probably because it has already been deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false},"patch":{"tags":["Domains"],"summary":"Creates a domain","operationId":"Domains_UpdateDomain","parameters":[{"name":"resourceGroupName","in":"path","description":"&gt;Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"domainName","in":"path","description":"Name of the domain","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Domain registration information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Domain"}}},"required":true},"responses":{"200":{"description":"Domain purchase was successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"202":{"description":"Domain purchase is in progress","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Domain"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/operationresults/{operationId}":{"get":{"tags":["Domains"],"summary":"Retrieves the latest status of a domain purchase operation","operationId":"Domains_GetDomainOperation","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"domainName","in":"path","description":"Name of the domain","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"Domain purchase operation Id","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Domain purchase was successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"202":{"description":"Domain purchase is in progress","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/json":{"schema":{"$ref":"#/components/schemas/Domain"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Domain"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"500":{"description":"Domain purchase request failed"}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web.Admin/environments/{environmentName}/usage":{"get":{"tags":["Usage"],"summary":"Returns usage records for specified subscription and resource groups","operationId":"Usage_GetUsage","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"environmentName","in":"path","description":"Environment name","required":true,"schema":{"type":"string"}},{"name":"lastId","in":"query","description":"Last marker that was returned from the batch","required":true,"schema":{"type":"string"}},{"name":"batchSize","in":"query","description":"size of the batch to be returned.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates":{"get":{"tags":["Certificates"],"summary":"Get certificates for a subscription in the specified resource group.","operationId":"Certificates_GetCertificates","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/CertificateCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates/{name}":{"get":{"tags":["Certificates"],"summary":"Get a certificate by certificate name for a subscription in the specified resource group.","operationId":"Certificates_GetCertificate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the certificate.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Certificate"}},"text/json":{"schema":{"$ref":"#/components/schemas/Certificate"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Certificate"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Certificate"}}}}},"deprecated":false},"put":{"tags":["Certificates"],"summary":"Creates or modifies an existing certificate.","operationId":"Certificates_CreateOrUpdateCertificate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the certificate.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Details of certificate if it exists already.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Certificate"}},"text/json":{"schema":{"$ref":"#/components/schemas/Certificate"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Certificate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Certificate"}},"text/json":{"schema":{"$ref":"#/components/schemas/Certificate"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Certificate"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Certificate"}}}}},"deprecated":false},"delete":{"tags":["Certificates"],"summary":"Delete a certificate by name in a specified subscription and resourcegroup.","operationId":"Certificates_DeleteCertificate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the certificate to be deleted.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false},"patch":{"tags":["Certificates"],"summary":"Creates or modifies an existing certificate.","operationId":"Certificates_UpdateCertificate","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the certificate.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Details of certificate if it exists already.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Certificate"}},"text/json":{"schema":{"$ref":"#/components/schemas/Certificate"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Certificate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Certificate"}},"text/json":{"schema":{"$ref":"#/components/schemas/Certificate"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Certificate"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Certificate"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices":{"get":{"tags":["ClassicMobileServices"],"summary":"Get all mobile services in a resource group.","operationId":"ClassicMobileServices_GetClassicMobileServices","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassicMobileServiceCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/ClassicMobileServiceCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices/{name}":{"get":{"tags":["ClassicMobileServices"],"summary":"Get a mobile service.","operationId":"ClassicMobileServices_GetClassicMobileService","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of mobile service","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassicMobileService"}},"text/json":{"schema":{"$ref":"#/components/schemas/ClassicMobileService"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ClassicMobileService"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ClassicMobileService"}}}}},"deprecated":false},"delete":{"tags":["ClassicMobileServices"],"summary":"Delete a mobile service.","operationId":"ClassicMobileServices_DeleteClassicMobileService","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of mobile service","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/csrs":{"get":{"tags":["Certificates"],"summary":"Gets the certificate signing requests for a subscription in the specified resource group","operationId":"Certificates_GetCsrs","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Csr"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Csr"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Csr"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Csr"}}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/csrs/{name}":{"get":{"tags":["Certificates"],"summary":"Gets a certificate signing request by certificate name for a subscription in the specified resource group","operationId":"Certificates_GetCsr","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the certificate.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Csr"}},"text/json":{"schema":{"$ref":"#/components/schemas/Csr"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Csr"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Csr"}}}}},"deprecated":false},"put":{"tags":["Certificates"],"summary":"Creates or modifies an existing certificate signing request.","operationId":"Certificates_CreateOrUpdateCsr","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the certificate.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Details of certificate signing request if it exists already.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Csr"}},"text/json":{"schema":{"$ref":"#/components/schemas/Csr"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Csr"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Csr"}},"text/json":{"schema":{"$ref":"#/components/schemas/Csr"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Csr"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Csr"}}}}},"deprecated":false},"delete":{"tags":["Certificates"],"summary":"Delete the certificate signing request.","operationId":"Certificates_DeleteCsr","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the certificate signing request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false},"patch":{"tags":["Certificates"],"summary":"Creates or modifies an existing certificate signing request.","operationId":"Certificates_UpdateCsr","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of the resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of the certificate.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Details of certificate signing request if it exists already.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Csr"}},"text/json":{"schema":{"$ref":"#/components/schemas/Csr"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Csr"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Csr"}},"text/json":{"schema":{"$ref":"#/components/schemas/Csr"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Csr"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Csr"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/deletedSites":{"get":{"tags":["Sites"],"summary":"Gets deleted web apps in subscription","operationId":"Sites_GetDeletedSites","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"propertiesToInclude","in":"query","description":"Additional web app properties included in the response","schema":{"type":"string"}},{"name":"includeSiteTypes","in":"query","description":"Types of apps included in the response","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeletedSiteCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/DeletedSiteCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments":{"get":{"tags":["HostingEnvironments"],"summary":"Get all hostingEnvironments (App Service Environments) in a resource group.","operationId":"HostingEnvironments_GetHostingEnvironments","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironmentCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironmentCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}":{"get":{"tags":["HostingEnvironments"],"summary":"Get properties of hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetHostingEnvironment","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}},"text/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}},"application/xml":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}},"text/xml":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}}}}},"deprecated":false},"put":{"tags":["HostingEnvironments"],"summary":"Create or update a hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_CreateOrUpdateHostingEnvironment","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties of hostingEnvironment (App Service Environment)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}},"text/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}},"text/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}},"application/xml":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}},"text/xml":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}}}},"202":{"description":"Operation is in progress","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}},"text/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}},"application/xml":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}},"text/xml":{"schema":{"$ref":"#/components/schemas/HostingEnvironment"}}}},"400":{"description":"Bad request"},"404":{"description":"Not found"},"409":{"description":"Conflict"}},"deprecated":false},"delete":{"tags":["HostingEnvironments"],"summary":"Delete a hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_DeleteHostingEnvironment","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"forceDelete","in":"query","description":"Delete even if the hostingEnvironment (App Service Environment) contains resources","schema":{"type":"boolean"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}},"202":{"description":"Operation is in progress","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}},"400":{"description":"Bad request"},"404":{"description":"Not found"},"409":{"description":"Conflict"}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute":{"get":{"tags":["HostingEnvironments"],"summary":"Get used, available, and total worker capacity for hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetHostingEnvironmentCapacities","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StampCapacityCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/StampCapacityCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip":{"get":{"tags":["HostingEnvironments"],"summary":"Get IP addresses assigned to the hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetHostingEnvironmentVips","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/AddressResponse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AddressResponse"}},"text/xml":{"schema":{"$ref":"#/components/schemas/AddressResponse"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics":{"get":{"tags":["HostingEnvironments"],"summary":"Get diagnostic information for hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetHostingEnvironmentDiagnostics","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HostingEnvironmentDiagnostics"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HostingEnvironmentDiagnostics"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HostingEnvironmentDiagnostics"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HostingEnvironmentDiagnostics"}}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics/{diagnosticsName}":{"get":{"tags":["HostingEnvironments"],"summary":"Get diagnostic information for hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetHostingEnvironmentDiagnosticsItem","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"diagnosticsName","in":"path","description":"Name of the diagnostics","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironmentDiagnostics"}},"text/json":{"schema":{"$ref":"#/components/schemas/HostingEnvironmentDiagnostics"}},"application/xml":{"schema":{"$ref":"#/components/schemas/HostingEnvironmentDiagnostics"}},"text/xml":{"schema":{"$ref":"#/components/schemas/HostingEnvironmentDiagnostics"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metricdefinitions":{"get":{"tags":["HostingEnvironments"],"summary":"Get global metric definitions of hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetHostingEnvironmentMetricDefinitions","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricDefinition"}},"text/json":{"schema":{"$ref":"#/components/schemas/MetricDefinition"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MetricDefinition"}},"text/xml":{"schema":{"$ref":"#/components/schemas/MetricDefinition"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metrics":{"get":{"tags":["HostingEnvironments"],"summary":"Get global metrics of hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetHostingEnvironmentMetrics","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"details","in":"query","description":"Include instance details","schema":{"type":"boolean"}},{"name":"$filter","in":"query","description":"Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceMetricCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResourceMetricCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools":{"get":{"tags":["HostingEnvironments"],"summary":"Get all multi role pools","operationId":"HostingEnvironments_GetMultiRolePools","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPoolCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/WorkerPoolCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default":{"get":{"tags":["HostingEnvironments"],"summary":"Get properties of a multiRole pool.","operationId":"HostingEnvironments_GetMultiRolePool","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPool"}},"text/json":{"schema":{"$ref":"#/components/schemas/WorkerPool"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WorkerPool"}},"text/xml":{"schema":{"$ref":"#/components/schemas/WorkerPool"}}}}},"deprecated":false},"put":{"tags":["HostingEnvironments"],"summary":"Create or update a multiRole pool.","operationId":"HostingEnvironments_CreateOrUpdateMultiRolePool","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties of multiRole pool","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPool"}},"text/json":{"schema":{"$ref":"#/components/schemas/WorkerPool"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/WorkerPool"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPool"}},"text/json":{"schema":{"$ref":"#/components/schemas/WorkerPool"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WorkerPool"}},"text/xml":{"schema":{"$ref":"#/components/schemas/WorkerPool"}}}},"202":{"description":"Operation is in progress","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkerPool"}},"text/json":{"schema":{"$ref":"#/components/schemas/WorkerPool"}},"application/xml":{"schema":{"$ref":"#/components/schemas/WorkerPool"}},"text/xml":{"schema":{"$ref":"#/components/schemas/WorkerPool"}}}},"400":{"description":"Bad request"},"404":{"description":"Not found"},"409":{"description":"Conflict"}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metricdefinitions":{"get":{"tags":["HostingEnvironments"],"summary":"Get metric definitions for a specific instance of a multiRole pool of a hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetMultiRolePoolInstanceMetricDefinitions","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"instance","in":"path","description":"Name of instance in the multiRole pool&gt;","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metrics":{"get":{"tags":["HostingEnvironments"],"summary":"Get metrics for a specific instance of a multiRole pool of a hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetMultiRolePoolInstanceMetrics","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"instance","in":"path","description":"Name of instance in the multiRole pool","required":true,"schema":{"type":"string"}},{"name":"details","in":"query","description":"Include instance details","schema":{"type":"boolean"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metricdefinitions":{"get":{"tags":["HostingEnvironments"],"summary":"Get metric definitions for a multiRole pool of a hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetHostingEnvironmentMultiRoleMetricDefinitions","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricDefinitionCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/MetricDefinitionCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metrics":{"get":{"tags":["HostingEnvironments"],"summary":"Get metrics for a multiRole pool of a hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetHostingEnvironmentMultiRoleMetrics","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"startTime","in":"query","description":"Beginning time of metrics query","schema":{"type":"string"}},{"name":"endTime","in":"query","description":"End time of metrics query","schema":{"type":"string"}},{"name":"timeGrain","in":"query","description":"Time granularity of metrics query","schema":{"type":"string"}},{"name":"details","in":"query","description":"Include instance details","schema":{"type":"boolean"}},{"name":"$filter","in":"query","description":"Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceMetricCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResourceMetricCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/skus":{"get":{"tags":["HostingEnvironments"],"summary":"Get available skus for scaling a multiRole pool.","operationId":"HostingEnvironments_GetMultiRolePoolSkus","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SkuInfoCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/SkuInfoCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/usages":{"get":{"tags":["HostingEnvironments"],"summary":"Get usages for a multiRole pool of a hostingEnvironment (App Service Environment).","operationId":"HostingEnvironments_GetHostingEnvironmentMultiRoleUsages","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageCollection"}},"text/json":{"schema":{"$ref":"#/components/schemas/UsageCollection"}}}}},"deprecated":false}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/operations":{"get":{"tags":["HostingEnvironments"],"summary":"List all currently running operations on the hostingEnvironment (App Service Environment)","operationId":"HostingEnvironments_GetHostingEnvironmentOperations","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of resource group","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Name of hostingEnvironment (App Service Environment)","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"API Version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Objec
[...]
