{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AutomationManagement",
    "version" : "2017-05-15-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls" : {
      "get" : {
        "tags" : [ "SourceControl" ],
        "description" : "Retrieve a list of source controls.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/sourcecontroloperations"
        },
        "operationId" : "SourceControl_ListByAutomationAccount",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SourceControlListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}" : {
      "get" : {
        "tags" : [ "SourceControl" ],
        "description" : "Retrieve the source control identified by source control name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/sourcecontroloperations"
        },
        "operationId" : "SourceControl_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sourceControlName",
          "in" : "path",
          "description" : "The name of source control.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SourceControl"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "SourceControl" ],
        "description" : "Create a source control.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/sourcecontroloperations"
        },
        "operationId" : "SourceControl_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sourceControlName",
          "in" : "path",
          "description" : "The source control name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters supplied to the create or update source control operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SourceControlCreateOrUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SourceControl"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SourceControl"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "SourceControl" ],
        "description" : "Delete the source control.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/sourcecontroloperations"
        },
        "operationId" : "SourceControl_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sourceControlName",
          "in" : "path",
          "description" : "The name of source control.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "SourceControl" ],
        "description" : "Update a source control.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/sourcecontroloperations"
        },
        "operationId" : "SourceControl_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sourceControlName",
          "in" : "path",
          "description" : "The source control name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The parameters supplied to the update source control operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SourceControlUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SourceControl"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "SourceControl" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/SourceControlProperties"
          }
        },
        "description" : "Definition of the source control.",
        "allOf" : [ {
          "description" : "ARM proxy resource.",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Fully qualified resource Id for the resource",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the resource.",
                "readOnly" : true
              }
            },
            "description" : "The core properties of ARM resources"
          } ]
        } ]
      },
      "SourceControlCreateOrUpdateParameters" : {
        "required" : [ "properties" ],
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/SourceControlCreateOrUpdateProperties"
          }
        },
        "description" : "The parameters supplied to the create or update source control operation."
      },
      "SourceControlCreateOrUpdateProperties" : {
        "type" : "object",
        "properties" : {
          "autoSync" : {
            "type" : "boolean",
            "description" : "The auto async of the source control. Default is false."
          },
          "branch" : {
            "maxLength" : 255,
            "type" : "string",
            "description" : "The repo branch of the source control. Include branch as empty string for VsoTfvc."
          },
          "description" : {
            "maxLength" : 512,
            "type" : "string",
            "description" : "The user description of the source control."
          },
          "folderPath" : {
            "maxLength" : 255,
            "type" : "string",
            "description" : "The folder path of the source control. Path must be relative."
          },
          "publishRunbook" : {
            "type" : "boolean",
            "description" : "The auto publish of the source control. Default is true."
          },
          "repoUrl" : {
            "maxLength" : 2000,
            "type" : "string",
            "description" : "The repo url of the source control."
          },
          "securityToken" : {
            "$ref" : "#/components/schemas/SourceControlSecurityTokenProperties"
          },
          "sourceType" : {
            "type" : "string",
            "description" : "The source type. Must be one of VsoGit, VsoTfvc, GitHub, case sensitive.",
            "enum" : [ "VsoGit", "VsoTfvc", "GitHub" ]
          }
        },
        "description" : "The properties of the create source control operation."
      },
      "SourceControlListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The next link."
          },
          "value" : {
            "type" : "array",
            "description" : "The list of source controls.",
            "items" : {
              "$ref" : "#/components/schemas/SourceControl"
            }
          }
        },
        "description" : "The response model for the list source controls operation."
      },
      "SourceControlProperties" : {
        "type" : "object",
        "properties" : {
          "autoSync" : {
            "type" : "boolean",
            "description" : "The auto sync of the source control. Default is false."
          },
          "branch" : {
            "type" : "string",
            "description" : "The repo branch of the source control. Include branch as empty string for VsoTfvc."
          },
          "creationTime" : {
            "type" : "string",
            "description" : "The creation time.",
            "format" : "date-time",
            "nullable" : false
          },
          "description" : {
            "type" : "string",
            "description" : "The description."
          },
          "folderPath" : {
            "type" : "string",
            "description" : "The folder path of the source control."
          },
          "lastModifiedTime" : {
            "type" : "string",
            "description" : "The last modified time.",
            "format" : "date-time",
            "nullable" : false
          },
          "publishRunbook" : {
            "type" : "boolean",
            "description" : "The auto publish of the source control. Default is true."
          },
          "repoUrl" : {
            "type" : "string",
            "description" : "The repo url of the source control."
          },
          "sourceType" : {
            "type" : "string",
            "description" : "The source type. Must be one of VsoGit, VsoTfvc, GitHub.",
            "enum" : [ "VsoGit", "VsoTfvc", "GitHub" ]
          }
        },
        "description" : "Definition of the source control properties"
      },
      "SourceControlSecurityTokenProperties" : {
        "type" : "object",
        "properties" : {
          "accessToken" : {
            "maxLength" : 1024,
            "type" : "string",
            "description" : "The access token."
          },
          "refreshToken" : {
            "maxLength" : 1024,
            "type" : "string",
            "description" : "The refresh token."
          },
          "tokenType" : {
            "type" : "string",
            "description" : "The token type. Must be either PersonalAccessToken or Oauth.",
            "enum" : [ "PersonalAccessToken", "Oauth" ]
          }
        }
      },
      "SourceControlUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/SourceControlUpdateProperties"
          }
        },
        "description" : "The parameters supplied to the update source control operation."
      },
      "SourceControlUpdateProperties" : {
        "type" : "object",
        "properties" : {
          "autoSync" : {
            "type" : "boolean",
            "description" : "The auto sync of the source control. Default is false."
          },
          "branch" : {
            "type" : "string",
            "description" : "The repo branch of the source control."
          },
          "description" : {
            "type" : "string",
            "description" : "The user description of the source control."
          },
          "folderPath" : {
            "type" : "string",
            "description" : "The folder path of the source control. Path must be relative."
          },
          "publishRunbook" : {
            "type" : "boolean",
            "description" : "The auto publish of the source control. Default is true."
          },
          "securityToken" : {
            "$ref" : "#/components/schemas/SourceControlSecurityTokenProperties"
          }
        },
        "description" : "The properties of the update source control"
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}