{"openapi":"3.0.1","info":{"title":"VAT API","description":"A developer friendly API to help your business achieve VAT compliance","version":"1"},"servers":[{"url":"https://vatapi.com/v1"}],"security":[{"apikey":null}],"tags":[{"name":"api"}],"paths":{"/country-code-check":{"get":{"tags":["api"],"summary":"Retrieve a countries VAT rates by its 2 digit country code","operationId":"country_code_check","parameters":[{"name":"Response-Type","in":"header","description":"The default response type is application/json if you would like to receive an XML response then set this to XML","schema":{"type":"string"}},{"name":"code","in":"query","description":"The 2 digit country code","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Country_Code_Check"}}}}}}},"/currency-conversion":{"get":{"tags":["api"],"summary":"Convert a currency","operationId":"currency_conversion","parameters":[{"name":"Response-Type","in":"header","description":"The default response type is application/json if you would like to receive an XML response then set this to XML","schema":{"type":"string"}},{"name":"currency_from","in":"query","description":"The currency code you are converting from","required":true,"schema":{"type":"string"}},{"name":"currency_to","in":"query","description":"The currency code you are converting to","required":true,"schema":{"type":"string"}},{"name":"amount","in":"query","description":"Optional, an amount you are wanting to convert. Leave blank to just get the current rate","schema":{"type":"integer"}}],"responses":{"200":{"description":"No response was specified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Currency_Conversion"}}}}}}},"/invoice":{"post":{"tags":["api"],"summary":"Create a VAT invoice","operationId":"create_invoice","parameters":[{"name":"Response-Type","in":"header","description":"The default response type is application/json if you would like to receive an XML response then set this to XML","schema":{"type":"string"}}],"requestBody":{"description":"Enter invoice data as JSON","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Invoice_Data"}}},"required":true},"responses":{"200":{"description":"No response was specified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Create_Invoice"}}}}}}},"/invoice/{id}":{"get":{"tags":["api"],"summary":"Retrieve an invoice","operationId":"get_invoice","parameters":[{"name":"Response-Type","in":"header","description":"The default response type is application/json if you would like to receive an XML response then set this to XML","schema":{"type":"string"}},{"name":"id","in":"path","description":"Enter the invoice id","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"No response was specified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Retrieve_Invoice"}}}}}},"put":{"tags":["api"],"summary":"Update an existing invoice","operationId":"invoice_update","parameters":[{"name":"Response-Type","in":"header","description":"The default response type is application/json if you would like to receive an XML response then set this to XML","schema":{"type":"string"}},{"name":"id","in":"path","description":"Enter an invoice id","required":true,"schema":{"type":"integer"}}],"requestBody":{"description":"Enter invoice data as JSON","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Update_Invoice_Array"}}},"required":true},"responses":{"200":{"description":"No response was specified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Update_Invoice"}}}}}},"delete":{"tags":["api"],"summary":"Delete an invoice","operationId":"invoice_delete","parameters":[{"name":"Response-Type","in":"header","description":"The default response type is application/json if you would like to receive an XML response then set this to XML","schema":{"type":"string"}},{"name":"id","in":"path","description":"Enter an invoice id","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"No response was specified"}}}},"/ip-check":{"get":{"tags":["api"],"summary":"Retrieve a countries VAT rates from an IP address","operationId":"ip_check","parameters":[{"name":"Response-Type","in":"header","description":"The default response type is application/json if you would like to receive an XML response then set this to XML","schema":{"type":"string"}},{"name":"address","in":"query","description":"The IP address to search against","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IP_Check"}}}}}}},"/usage-check":{"get":{"tags":["api"],"summary":"Check api requests remaining on current subscription plan","operationId":"api_usage","parameters":[{"name":"Response-Type","in":"header","description":"The default response type is application/json if you would like to receive an XML response then set this to XML","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Api_Usage"}}}}}}},"/vat-number-check":{"get":{"tags":["api"],"summary":"Validate a VAT number","description":"<p>We highly recommend if you are able, to check a VAT number on your end first to save wasted API lookups. It maybe that your customer has simply entered the wrong format. <a href='http://www.braemoor.co.uk/software/vat.shtml' target='_blank'>Heres a client side way to check the format using Javascript</a></p>","operationId":"vat_number_validate","parameters":[{"name":"Response-Type","in":"header","description":"The default response type is application/json if you would like to receive an XML response then set this to XML","schema":{"type":"string"}},{"name":"vatid","in":"query","description":"The VAT number to validate","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/vat-price":{"get":{"tags":["api"],"summary":"Convert a price to or from VAT price.","operationId":"convert_price","parameters":[{"name":"Response-Type","in":"header","description":"The default response type is application/json if you would like to receive an XML response then set this to XML","schema":{"type":"string"}},{"name":"code","in":"query","description":"The 2 digit country code","required":true,"schema":{"type":"string"}},{"name":"country_rate","in":"query","description":"The VAT rate to get the price for. Default: standard","schema":{"type":"string"}},{"name":"price","in":"query","description":"The price you want converting","required":true,"schema":{"type":"integer"}},{"name":"type","in":"query","description":"Optional, if the price is including VAT set the type to 'incl'. Otherwise the default is assumed as excluding VAT already, 'excl'","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Convert_Price"}}}}}}},"/vat-rates":{"get":{"tags":["api"],"summary":"Retrieve all current EU VAT rates","operationId":"vat_rates","parameters":[{"name":"Response-Type","in":"header","description":"The default response type is application/json if you would like to receive an XML response then set this to XML","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Vat_Rates"}}}}}}}},"components":{"schemas":{"Api_Usage":{"required":["requests_remaining","requests_used","status"],"type":"object","properties":{"requests_remaining":{"type":"integer","description":"The number of api requests remaining in the current billing period"},"requests_used":{"type":"integer","description":"The number of api requests consumed within the last 30 days"},"status":{"type":"integer","description":"Response code"}}},"Convert_Price":{"required":["country_code","country_rate","price_excl_vat","price_incl_vat","rate","status","vat"],"type":"object","properties":{"country_code":{"type":"string","description":"The 2 digit country code"},"country_rate":{"type":"string","description":"The country_rate"},"price_excl_vat":{"type":"integer","description":"The price excluding VAT"},"price_incl_vat":{"type":"integer","description":"The price including VAT"},"rate":{"type":"integer","description":"The rate % for the country_rate"},"status":{"type":"integer","description":"Response code"},"vat":{"type":"integer","description":"The total amount of VAT applied"}}},"Country_Code_Check":{"required":["country","country_code","rates","status","vat_applies"],"type":"object","properties":{"country":{"type":"string","description":"The country name"},"country_code":{"type":"string","description":"The 2 digit country code"},"rates":{"$ref":"#/components/schemas/Country_Rates"},"status":{"type":"integer","description":"Response code"},"vat_applies":{"type":"string","description":"TRUE or FALSE, depending if country is within the EU."}}},"Country_Data":{"required":["country","rates"],"type":"object","properties":{"country":{"type":"string","description":"The country name"},"rates":{"$ref":"#/components/schemas/Country_Rates"}}},"Country_Rates":{"required":["parking","reduced","reduced_alt","standard","super_reduced"],"type":"object","properties":{"parking":{"$ref":"#/components/schemas/parking"},"reduced":{"$ref":"#/components/schemas/reduced"},"reduced_alt":{"$ref":"#/components/schemas/reduced_alt"},"standard":{"$ref":"#/components/schemas/standard"},"super_reduced":{"$ref":"#/components/schemas/super_reduced"}}},"Create_Invoice":{"required":["invoice","status"],"type":"object","properties":{"invoice":{"$ref":"#/components/schemas/Invoice_Array"},"status":{"type":"integer","description":"Response code"}}},"Currency_Conversion":{"required":["currency_from","currency_to","rate","status"],"type":"object","properties":{"amount_from":{"type":"string","description":"The amount you are converting from"},"amount_to":{"type":"string","description":"The result amount you have converted to"},"currency_from":{"type":"string","description":"The currency code you are converting from"},"currency_to":{"type":"integer","description":"The currency code you are converting to"},"rate":{"type":"string","description":"The rate according to HMRC at time of sale"},"status":{"type":"integer","description":"Response code"}}},"IP_Check":{"required":["country","country_code","rates","status","vat_applies"],"type":"object","properties":{"country":{"type":"string","description":"The country name"},"country_code":{"type":"string","description":"The 2 digit country code"},"rates":{"$ref":"#/components/schemas/Country_Rates"},"status":{"type":"integer","description":"Response code"},"vat_applies":{"type":"string","description":"TRUE or FALSE, depending if country is within the EU."}}},"Invoice_Array":{"required":["business_address","business_name","currency_code","date","discount_total","invoice_number","invoice_url","items","subtotal","tax_point","total","type","vat_number","vat_total"],"type":"object","properties":{"business_address":{"type":"string","description":"Your business address"},"business_name":{"type":"string","description":"Your business name"},"conversion_rate":{"type":"integer","description":"The rate of conversion at time of supply"},"currency_code":{"type":"string","description":"3 character currency code for invoice"},"currency_code_conversion":{"type":"string","description":"3 character currency code to be converted from original transaction currency"},"customer_address":{"type":"string","description":"Your customers address"},"customer_name":{"type":"string","description":"Your customers name or trading name"},"customer_vat_number":{"type":"string","description":"Customers VAT number"},"date":{"type":"string","description":"The date the invoice was issued"},"discount_rate":{"type":"integer","description":"The discount rate per item"},"discount_total":{"type":"integer","description":"Total amount of discount"},"invoice_number":{"type":"integer","description":"A sequential invoice number"},"invoice_url":{"type":"string","description":"A perminant URL to your VAT invoice"},"items":{"type":"array","description":"An array of your invoice items","items":{"$ref":"#/components/schemas/Invoice_Items"}},"logo_url":{"type":"string","description":"A URL to your logo image. Must be SSL hosted. https://sslimagehost.com is recommended"},"notes":{"type":"string","description":"Any notes attached to the invoice"},"subtotal":{"type":"integer","description":"Total amount excluding VAT"},"tax_point":{"type":"string","description":"(or 'time of supply') if this is different from the invoice date"},"total":{"type":"integer","description":"Total amount of including VAT"},"type":{"type":"string","description":"The type of invoice. Either 'sale' or 'refund'"},"vat_number":{"type":"string","description":"Your VAT number"},"vat_total":{"type":"integer","description":"Total amount of VAT"}}},"Invoice_Data":{"required":["business_address","business_name","currency_code","items","type","vat_number"],"type":"object","properties":{"business_address":{"type":"string","description":"Your business address"},"business_name":{"type":"string","description":"Your business name"},"conversion_rate":{"type":"integer","description":"The rate of conversion at time of supply"},"currency_code":{"type":"string","description":"3 character currency code for invoice"},"currency_code_conversion":{"type":"string","description":"3 character currency code to be converted from original transaction currency"},"customer_address":{"type":"string","description":"Your customers address"},"customer_name":{"type":"string","description":"Your customers name or trading name"},"customer_vat_number":{"type":"string","description":"Optional customers VAT number"},"date":{"type":"string","description":"The date the invoice was issued"},"discount_rate":{"type":"string","description":"The discount rate per item"},"items":{"type":"array","description":"An array of your invoice items","items":{"$ref":"#/components/schemas/Invoice_Items"}},"notes":{"type":"string","description":"Add a note to the invoice."},"price_type":{"type":"string","description":"Optional, if the price is including VAT set the type to 'incl'. Otherwise the default is assumed as excluding VAT already, 'excl'"},"tax_point":{"type":"string","description":"(or 'time of supply') if this is different from the invoice date"},"type":{"type":"string","description":"The type of invoice. Either 'sale' or 'refund'"},"vat_number":{"type":"string","description":"Your VAT number"},"zero_rated":{"type":"string","description":"To Zero-Rate the VAT, set to true."}}},"Invoice_Items":{"required":["description","price_each","quantity","vat_rate"],"type":"object","properties":{"description":{"type":"string","description":"The item line description"},"price_each":{"type":"integer","description":"The price of the individual item (Ex VAT)"},"quantity":{"type":"integer","description":"The quantity of the item"},"vat_rate":{"type":"integer","description":"The VAT rate at which the item is charged"}}},"Retrieve_Invoice":{"required":["invoice","status"],"type":"object","properties":{"invoice":{"$ref":"#/components/schemas/Retrieve_Invoice_Array"},"status":{"type":"string","description":"Response code"}}},"Retrieve_Invoice_Array":{"required":["business_address","business_name","currency_code","date","discount_total","id","invoice_url","items","subtotal","tax_point","total","type","vat_number","vat_total"],"type":"object","properties":{"business_address":{"type":"string","description":"Your business address"},"business_name":{"type":"string","description":"Your business name"},"conversion_rate":{"type":"integer","description":"The rate of conversion at time of supply"},"currency_code":{"type":"string","description":"3 character currency code for invoice"},"currency_code_conversion":{"type":"string","description":"3 character currency code to be converted from original transaction currency"},"customer_address":{"type":"string","description":"Your customers address"},"customer_name":{"type":"string","description":"Your customers name or trading name"},"customer_vat_number":{"type":"string","description":"Optional, customers VAT number"},"date":{"type":"string","description":"The date the invoice was issued"},"discount_rate":{"type":"integer","description":"The discount rate per item"},"discount_total":{"type":"integer","description":"Total amount of discount"},"id":{"type":"integer","description":"The invoice ID"},"invoice_url":{"type":"string","description":"A perminant URL to your VAT invoice"},"items":{"type":"array","description":"An array of your invoice items","items":{"$ref":"#/components/schemas/Invoice_Items"}},"logo_url":{"type":"string","description":"A URL to your logo image. Must be SSL hosted. https://sslimagehost.com is recommended"},"notes":{"type":"string","description":"Any notes attached to the invoice"},"price_type":{"type":"string","description":"Optional, if the price is including VAT set the type to 'incl'. Otherwise the default is assumed as excluding VAT already, 'excl'"},"subtotal":{"type":"integer","description":"Total amount excluding VAT"},"tax_point":{"type":"string","description":"(or 'time of supply') if this is different from the invoice date"},"total":{"type":"integer","description":"Total amount of including VAT"},"type":{"type":"string","description":"The type of invoice. Either 'sale' or 'refund'"},"vat_number":{"type":"string","description":"Your VAT number"},"vat_total":{"type":"integer","description":"Total amount of VAT"},"zero_rated":{"type":"string","description":"To Zero-Rate the VAT, set to true."}}},"Update_Invoice":{"required":["invoice","status"],"type":"object","properties":{"invoice":{"$ref":"#/components/schemas/Retrieve_Invoice_Array"},"status":{"type":"string","description":"Response code"}}},"Update_Invoice_Array":{"required":["business_address","business_name","currency_code","customervat_number","items","type"],"type":"object","properties":{"business_address":{"type":"string","description":"Your business address"},"business_name":{"type":"string","description":"Your business name"},"conversion_rate":{"type":"integer","description":"The rate of conversion at time of supply"},"currency_code":{"type":"string","description":"3 character currency code for invoice"},"currency_code_conversion":{"type":"string","description":"3 character currency code to be converted from original transaction currency"},"customer_address":{"type":"string","description":"Your customers address"},"customer_name":{"type":"string","description":"Your customers name or trading name"},"customervat_number":{"type":"string","description":"Customers VAT number"},"date":{"type":"string","description":"The date the invoice was issued"},"discount_rate":{"type":"string","description":"The discount rate per item"},"items":{"type":"array","description":"An array of your invoice items","items":{"$ref":"#/components/schemas/Invoice_Items"}},"logo_url":{"type":"string","description":"A URL to your logo image. Must be SSL hosted. https://sslimagehost.com is recommended"},"notes":{"type":"string","description":"Add a note to the invoice."},"tax_point":{"type":"string","description":"(or 'time of supply') if this is different from the invoice date"},"type":{"type":"string","description":"The type of invoice. Either 'sale' or 'refund'"},"vat_number":{"type":"string","description":"Your VAT number"}}},"Vat_Rates":{"required":["countries","status"],"type":"object","properties":{"countries":{"type":"array","description":"An array of the EU VAT countries and their respective rates","items":{"$ref":"#/components/schemas/Vat_Rates_Countries"}},"status":{"type":"integer","description":"Response code"}}},"Vat_Rates_Countries":{"required":["country_code"],"type":"object","properties":{"country_code":{"$ref":"#/components/schemas/Country_Data"}}},"parking":{"required":["applies_to","value"],"type":"object","properties":{"applies_to":{"type":"string","description":"The type of goods the rate applies to"},"value":{"type":"integer","description":"The % VAT rate"}}},"reduced":{"required":["applies_to","value"],"type":"object","properties":{"applies_to":{"type":"string","description":"The type of goods the rate applies to"},"value":{"type":"integer","description":"The % VAT rate"}}},"reduced_alt":{"required":["applies_to","value"],"type":"object","properties":{"applies_to":{"type":"string","description":"The type of goods the rate applies to"},"value":{"type":"integer","description":"The % VAT rate"}}},"standard":{"required":["value"],"type":"object","properties":{"value":{"type":"integer","description":"The % VAT rate"}}},"super_reduced":{"required":["applies_to","value"],"type":"object","properties":{"applies_to":{"type":"string","description":"The type of goods the rate applies to"},"value":{"type":"integer","description":"The % VAT rate"}}}},"securitySchemes":{"apikey":{"type":"apiKey","description":"Enter your API key","name":"apikey","in":"header"}}}}