{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MonitorManagementClient",
    "version" : "2017-05-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/diagnosticSettings" : {
      "get" : {
        "tags" : [ "SubscriptionDiagnosticSettings" ],
        "description" : "Gets the active subscription diagnostic settings list for the specified subscriptionId.",
        "operationId" : "SubscriptionDiagnosticSettings_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to get more information about subscription diagnostic setting",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionDiagnosticSettingsResourceCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/diagnosticSettings/{name}" : {
      "get" : {
        "tags" : [ "SubscriptionDiagnosticSettings" ],
        "description" : "Gets the active subscription diagnostic settings for the specified resource.",
        "operationId" : "SubscriptionDiagnosticSettings_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the diagnostic setting.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to get more information about diagnostic setting.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionDiagnosticSettingsResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "SubscriptionDiagnosticSettings" ],
        "description" : "Creates or updates subscription diagnostic settings for the specified resource.",
        "operationId" : "SubscriptionDiagnosticSettings_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the diagnostic setting.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriptionDiagnosticSettingsResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful request to create a subscription diagnostic setting",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionDiagnosticSettingsResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "SubscriptionDiagnosticSettings" ],
        "description" : "Deletes existing subscription diagnostic settings for the specified resource.",
        "operationId" : "SubscriptionDiagnosticSettings_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the diagnostic setting.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request to remove a subscription diagnostic setting"
          },
          "204" : {
            "description" : "Successful request to remove a subscription diagnostic setting"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed."
          }
        },
        "description" : "Describes the format of Error response."
      },
      "SubscriptionDiagnosticSettings" : {
        "type" : "object",
        "properties" : {
          "eventHubAuthorizationRuleId" : {
            "type" : "string",
            "description" : "The resource Id for the event hub authorization rule."
          },
          "eventHubName" : {
            "type" : "string",
            "description" : "The name of the event hub. If none is specified, the default event hub will be selected."
          },
          "logs" : {
            "type" : "array",
            "description" : "The list of logs settings.",
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionLogSettings"
            }
          },
          "serviceBusRuleId" : {
            "type" : "string",
            "description" : "The service bus rule Id of the diagnostic setting. This is here to maintain backwards compatibility."
          },
          "storageAccountId" : {
            "type" : "string",
            "description" : "The resource ID of the storage account to which you would like to send Diagnostic Logs."
          },
          "workspaceId" : {
            "type" : "string",
            "description" : "The full ARM resource ID of the Log Analytics workspace to which you would like to send Diagnostic Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2"
          }
        },
        "description" : "The subscription diagnostic settings."
      },
      "SubscriptionDiagnosticSettingsResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/SubscriptionDiagnosticSettings"
          }
        },
        "description" : "The subscription diagnostic setting resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/SubscriptionProxyOnlyResource"
        } ]
      },
      "SubscriptionDiagnosticSettingsResourceCollection" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The collection of subscription diagnostic settings resources.",
            "items" : {
              "$ref" : "#/components/schemas/SubscriptionDiagnosticSettingsResource"
            }
          }
        },
        "description" : "Represents a collection of subscription diagnostic settings resources."
      },
      "SubscriptionLogSettings" : {
        "required" : [ "enabled" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "Name of a Subscription Diagnostic Log category for a resource type this setting is applied to."
          },
          "enabled" : {
            "type" : "boolean",
            "description" : "a value indicating whether this log is enabled."
          }
        },
        "description" : "Part of Subscription diagnostic setting. Specifies the settings for a particular log."
      },
      "SubscriptionProxyOnlyResource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Azure resource Id",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Location of the resource"
          },
          "name" : {
            "type" : "string",
            "description" : "Azure resource name",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Azure resource type",
            "readOnly" : true
          }
        },
        "description" : "A proxy only azure resource object"
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "NameParameter" : {
        "name" : "name",
        "in" : "path",
        "description" : "The name of the diagnostic setting.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}