{"openapi":"3.0.1","info":{"title":"Pandorabots AIaaS","description":"AIaaS provides API access to our bot hosting platform and SDKs, allowing developers to easily integrate conversational interfaces into applications.","version":"1.0.0"},"servers":[{"url":"https://aiaas.pandorabots.com/"}],"security":[{"user_key":null}],"tags":[{"name":"pandorabots_api_swagger_1_3","description":"New API added \"Anonymous Talk\""}],"paths":{"/atalk/{app_id}/{botname}":{"post":{"tags":["pandorabots_api_swagger_1_3"],"summary":"Anonymous Talk","description":"Start a conversation with the bot using the Anonymous Talk API. This method will allow you to request creation of an end-user client_name that can maintain persistent predicates per end-user talking to your bot. If client_name is NOT sent in the request, then Pandorabots will create a end-user client_name and return it in the response. Similar to the Talk to Bot API, Pandorabots will also return a new session ID if not included in the call. Use the session ID returned to group interactions together. <p>In addition to bot response and session ID, the HTTP response will include a new end-user client_name in the following format:<br>aiaas-XXX-user-nnnn, where XXX is your app_ID and nnnn is numeric starting with 0000 and incrementing after each request.<br/> </p><p>Malformed requests such as exceeding size of input or unknown end-user client_name returns 400 error code. Error code 412 is returned if the bot is not compiled or does not exist. Error code 429 is returned if your application has reached maximum plan API call limit.</p><p><pre class='prettyprint'>curl -v  -X POST 'https://aiaas.pandorabots.com/atalk/APP_ID/BOTNAME?user_key=USER_KEY&input=INPUT'</pre></p>","operationId":"atalkBot","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"The name of the bot. Format required is 3-64 characters in length and only numbers or lower-case letters [0-9][a-z]","required":true,"schema":{"type":"string"}},{"name":"input","in":"query","description":"Message to be sent to the bot. This can contain multiple sentences. Currently the limit is 500 characters.","required":true,"schema":{"type":"string"}},{"name":"client_name","in":"query","description":"Leave blank to request Pandorabots to create a client_name which will support persistent predicates. Including a valid client_name in this parameter will work in the same way that Talk to Bot API but with persistent predicates. It is recommended to use this API only to create an end-user client_name, and then use normal Talk to Bot API to continue conversation with the bot.","schema":{"type":"string"}},{"name":"sessionid","in":"query","description":"Session ID generated by Pandorabots. This allows the application to group individual conversations into a collection as needed. If not included in the call, Pandorabots will issue a new session ID. (4-byte integer type)","schema":{"type":"string"}},{"name":"recent","in":"query","description":"If true, the system will not signal an error if the bot is uncompiled, and will instead look for a previous version of the bot that is available.","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/bot/{app_id}":{"get":{"tags":["pandorabots_api_swagger_1_3"],"summary":"List of bots","description":"Retrieve a list of your application's bots. Response returns JSON object with info for each bot.<p>Returns a 401 error code for invalid app_ID or user_key, or if applicable, invalid referrer.</p><p><pre class='prettyprint'>curl -v  -X GET 'https://aiaas.pandorabots.com/bot/APP_ID?user_key=USER_KEY'</pre></p>","operationId":"listBots","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/bot/{app_id}/{botname}":{"get":{"tags":["pandorabots_api_swagger_1_3"],"summary":"List of bot files","description":"Retrieve a list of a bot's files. Returns a JSON object with each bot file associated with bot specified.<p>Returns a 404 error code for bot not found. Returns a 401 error code for invalid app_ID, user_key, or referrer filter.</p><p>The <code color=blue>return=zip</code> option may not behave as expected using Active Docs 1.2</p><p><pre class='prettyprint'>curl -v  -X GET 'https://aiaas.pandorabots.com/bot/APP_ID/BOTNAME?user_key=USER_KEY'</pre></p>","operationId":"listBotFiles","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"The name of the bot.","required":true,"schema":{"type":"string"}},{"name":"return","in":"query","description":"If set to zip, a zip file with all bot files will be returned.","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}},"put":{"tags":["pandorabots_api_swagger_1_3"],"summary":"Create a bot","description":"Create a new instance of a bot on the Pandorabots server.<p>If there is already a bot under the same app_id and botname, a 409 error is returned. Invalid botname will return a 400 error.</p><p>Creating more bots than your plan allows or using an invalid app_id or user_key (or if applicable referrer filter) returns a 401 error.</p><p><pre class='prettyprint'>curl -v  -X PUT 'https://aiaas.pandorabots.com/bot/APP_ID/BOTNAME?user_key=USER_KEY'</pre></p>","operationId":"createBot","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"Must be unique from all the other bots you have created under this app_id. Can only be numbers and lowercase letters, and must be between 3 and 64 characters long.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}},"delete":{"tags":["pandorabots_api_swagger_1_3"],"summary":"Delete a bot","description":"Delete a bot on the Pandorabots server.<p>Deleting a bot that does not exist returns a 412 error. Invalid botname will return a 400 error. Invalid app_id, user_key, or referrer filter will return a 401 error.</p><p><pre class='prettyprint'>curl -v  -X DELETE 'https://aiaas.pandorabots.com/bot/APP_ID/BOTNAME?user_key=USER_KEY'</pre></p>","operationId":"deleteBot","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"Name of the bot to delete.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/bot/{app_id}/{botname}/verify":{"get":{"tags":["pandorabots_api_swagger_1_3"],"summary":"Compile a bot","description":"A bot personality is created by uploading AIML and other file types to Pandorabots. The files must compile correctly in order for the bot to run. By issuing a call to this API, Pandorabots will compile the bot, updating any changes that have been made to the files.<p>Compiling the bot makes its most recent version available for talk. A 400 error means that we were unable to compile your bot (you should check your files for syntax issues) or the botname was not found. </p><p>You can see any thrown errors in the results field of the returned JSON object:</p><p><pre class='prettyprint'>curl -v  -X GET 'https://aiaas.pandorabots.com/bot/APP_ID/BOTNAME/verify?user_key=USER_KEY'</pre></p>","operationId":"compileBot","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"Your bot's name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/bot/{app_id}/{botname}/{file-kind}":{"get":{"tags":["pandorabots_api_swagger_1_3"],"summary":"Retrieve a bot file (pdefaults, properties)","description":"Retrieve pdefaults or properties bot file.<p>For malformed file-kind, a 404 error is returned. For invalid botname, a 400 error is returned. For unknown bot or file, a 412 error is returned.</p><pre><p>curl -v -X GET 'https://aiaas.pandorabots.com/bot/APP_ID/BOTNAME/FILE-KIND?user_key=USER_KEY'</p></pre>","operationId":"getBotFile2","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"Name of the bot.","required":true,"schema":{"type":"string"}},{"name":"file-kind","in":"path","description":"Specify the type of file being retrieved: pdefaults, properties","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}},"put":{"tags":["pandorabots_api_swagger_1_3"],"summary":"Upload a bot file (pdefaults, properties)","description":"Upload bot personality files to your bot. Files must be named with only lowercase letters and numbers with one of the following extensions: <p><b>Properties: </b>Extension - .properties, file-kind - properties, No filename required in path</p><p><b>Predicate defaults: </b>Extension - .pdefaults, file-kind - pdefaults, No filename required in path</p><p>The system will overwrite existing files with the file being uploaded.</p><p>For malformed JSON in non-AIML files, a 400 error is returned. For malformed file-kind, a 404 error is returned. For invalid file or botname, a 412 error is returned. </p><p>If Active Doc spec is not working with this API, please use the following curl command examples:</p><pre class='prettyprint'><p>curl -v -X PUT 'https://aiaas.pandorabots.com/bot/APP_ID/BOTNAME/properties?user_key=USER_KEY'<br/>&nbsp;&nbsp;--data-binary @/home/foo/foobot.properties</p></pre>","operationId":"uploadFile2","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"Your bot's name","required":true,"schema":{"type":"string"}},{"name":"file-kind","in":"path","description":"Specify the type of file being uploaded: pdefaults, properties","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Type or Paste in file contents.","content":{"application/xml":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}},"delete":{"tags":["pandorabots_api_swagger_1_3"],"summary":"Delete a bot file (pdefaults, properties)","description":"Delete pdefaults or properties bot file.<p>For malformed file-kind, a 404 error is returned. For invalid botname, a 412 error is returned.</p><pre><p>curl -v -X DELETE 'https://aiaas.pandorabots.com/bot/APP_ID/BOTNAME/FILE-KIND?user_key=USER_KEY'</p></pre>","operationId":"deleteBotFile2","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"Name of the bot.","required":true,"schema":{"type":"string"}},{"name":"file-kind","in":"path","description":"Specify the type of file being deleted: pdefaults, properties","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/bot/{app_id}/{botname}/{file-kind}/{filename}":{"get":{"tags":["pandorabots_api_swagger_1_3"],"summary":"Retrieve a bot file (AIML, set, map, substitution)","description":"Retrieve an AIML, set, map or substitution bot file.<p>For malformed file-kind, a 404 error is returned. For invalid filename or botname, a 400 error is returned. For unknown bot or file, a 412 error is returned.</p><pre><p>curl -v -X GET 'https://aiaas.pandorabots.com/bot/APP_ID/BOTNAME/FILE-KIND/FILENAME?user_key=USER_KEY'</p></pre>","operationId":"getBotFile1","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"Name of the bot.","required":true,"schema":{"type":"string"}},{"name":"file-kind","in":"path","description":"Specify the type of file being retrieved: file (for AIML files), map, substitution, set","required":true,"schema":{"type":"string"}},{"name":"filename","in":"path","description":"Filename to retrieve. Note: for non-AIML files, do not include the file extension in the path.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}},"put":{"tags":["pandorabots_api_swagger_1_3"],"summary":"Upload a bot file (AIML, set, substitution, map)","description":"Upload bot personality files to your bot. Files must be named with only lowercase letters and numbers with one of the following extensions: <p><b>AIML: </b>Extention - .aiml, file-kind - file</p><p><b>Sets: </b>Extension - .set, file-kind - set</p><p><b>Maps: </b>Extension - .map, file-kind - map</p><p><b>Substitutions: </b>Extension - .substitution, file-kind - substitution</p><p>The system will overwrite existing files with the file being uploaded.</p><p>If the request is malformed because the file name is invalid or malformed JSON for non-AIML files, a 400 error is returned. For malformed file-kind, a 404 error is returned. For invalid file or botname, a 412 error is returned. </p><p>If Active Doc spec is not working with this API, please use the following curl command examples:</p><pre class='prettyprint'><p>curl -v -X PUT 'https://aiaas.pandorabots.com/bot/APP_ID/BOTNAME/file/foobot.aiml?user_key=USER_KEY'<br/>&nbsp;&nbsp;--data-binary @/home/foo/foobot.aiml</p></pre><br/><pre class='prettyprint'><p>curl -v -X PUT 'https://aiaas.pandorabots.com/bot/APP_ID/BOTNAME/set/colors?user_key=USER_KEY'<br/>&nbsp;&nbsp;--data-binary @/home/foo/colors.set</p></pre>","operationId":"uploadFile1","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"Your bot's name","required":true,"schema":{"type":"string"}},{"name":"file-kind","in":"path","description":"Specify the type of file being uploaded: file (for AIML files), map, substitution, set","required":true,"schema":{"type":"string"}},{"name":"filename","in":"path","description":"Filename to upload, must be named with only lowercase letters and numbers. Note: for non-AIML files, do not include the file extension in the path.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Type or Paste in file contents.","content":{"application/xml":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"No response was specified"}}},"delete":{"tags":["pandorabots_api_swagger_1_3"],"summary":"Delete a bot file (AIML, set, map, substitution)","description":"Delete an AIML, set, map or substitution bot file<p>For malformed file-kind, a 404 error is returned. For invalid file or botname, a 412 error is returned.</p><pre><p>curl -v -X DELETE 'https://aiaas.pandorabots.com/bot/APP_ID/BOTNAME/FILE-KIND/FILENAME?user_key=USER_KEY'</p></pre>","operationId":"deleteBotFile1","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"Name of the bot.","required":true,"schema":{"type":"string"}},{"name":"file-kind","in":"path","description":"Specify the type of file being deleted: file (for AIML files), map, substitution, set","required":true,"schema":{"type":"string"}},{"name":"filename","in":"path","description":"Filename to delete. Note: for non-AIML files, do not include the file extension in the path.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}},"/talk/{app_id}/{botname}":{"post":{"tags":["pandorabots_api_swagger_1_3"],"summary":"Debug a bot conversation","description":"Use these tools to test/debug/trace bot categories. <p>Malformed requests such as exceeding size of input or invalid clientname returns 400 error code. Error code 412 is returned if the bot is not compiled or does not exist.</p><p><pre class='prettyprint'>curl -v  -X POST 'https://aiaas.pandorabots.com/talk/APP_ID/BOTNAME?user_key=USER_KEY&input=INPUT'</pre></p>","operationId":"debugBot","parameters":[{"name":"app_id","in":"path","description":"Your Application ID","required":true,"schema":{"type":"string"}},{"name":"botname","in":"path","description":"The name of the bot. Format required is 3-64 characters in length and only numbers or lower-case letters [0-9][a-z]","required":true,"schema":{"type":"string"}},{"name":"input","in":"query","description":"Message to be sent to the bot. This can contain multiple sentences. Currently the limit is 500 characters.","required":true,"schema":{"type":"string"}},{"name":"client_name","in":"query","description":"Identifies your application's end user. You can assign each of your end users a unique client_name. This will allow you to set predicates and other variable information that is specific to an individual. Format required is 3-64 characters in length and only numbers or lower-case letters [0-9][a-z]","schema":{"type":"string"}},{"name":"sessionid","in":"query","description":"Session ID generated by Pandorabots. This allows the application to group individual conversations into a collection. While testing your bot, not including this parameter, Pandorabots will issue a new session ID. (4-byte integer type)","schema":{"type":"string"}},{"name":"that","in":"query","description":"For debugging purposes, you can specify a 'that' with the input that supersedes the existing that in bot memory.","schema":{"type":"string"}},{"name":"topic","in":"query","description":"For debugging purposes, you can specify a 'topic' with the input that supersedes the existing topic in bot memory.","schema":{"type":"string"}},{"name":"extra","in":"query","description":"Return extra conversation information. If true, input, pattern, that, topic, filename, and template associated with the pattern matched are returned in addition to response and sessionid.","schema":{"type":"string"}},{"name":"reset","in":"query","description":"Reset the bot memory. If true, all predicate values in the bot will be discarded, and the user can talk to the bot as if it is the first time","schema":{"type":"string"}},{"name":"trace","in":"query","description":"Include trace data in the response. If true, the system will generate AIML trace information for the input. Trace data includes pattern matched, filename, input, template for all recursion levels. NOTE: for security reasons, trace does not work with client_name.","schema":{"type":"string"}},{"name":"reload","in":"query","description":"If true, the system will force a reload of the bot into memory. This can be useful if you've recently uploaded an AIML file, recompiled your bot and want access to your bot's latest changes.","schema":{"type":"string"}},{"name":"recent","in":"query","description":"If true, the system will not signal an error if the bot is uncompiled, and will instead look for a previous version of the bot that is available.","schema":{"type":"string"}}],"responses":{"200":{"description":"No response was specified"}}}}},"components":{"securitySchemes":{"user_key":{"type":"apiKey","description":"Your application's user key.","name":"user_key","in":"query"}}}}