{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AzureStack Azure Bridge Client",
    "version" : "2017-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products" : {
      "get" : {
        "tags" : [ "Product" ],
        "description" : "Returns a list of products.",
        "operationId" : "Products_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Error code.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Error message indicating why the operation failed.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "The target of the particular error.",
                          "readOnly" : true
                        }
                      },
                      "description" : "The details of the error."
                    }
                  },
                  "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/_all/GetProducts" : {
      "post" : {
        "tags" : [ "Product" ],
        "description" : "Returns a list of products.",
        "operationId" : "Products_GetProducts",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "requestBody" : {
          "description" : "Device configuration.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeviceConfiguration"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductList"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Error code.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Error message indicating why the operation failed.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "The target of the particular error.",
                          "readOnly" : true
                        }
                      },
                      "description" : "The details of the error."
                    }
                  },
                  "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}" : {
      "get" : {
        "tags" : [ "Product" ],
        "description" : "Returns the specified product.",
        "operationId" : "Products_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Error code.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Error message indicating why the operation failed.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "The target of the particular error.",
                          "readOnly" : true
                        }
                      },
                      "description" : "The details of the error."
                    }
                  },
                  "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/GetProduct" : {
      "post" : {
        "tags" : [ "Product" ],
        "description" : "Returns the specified product.",
        "operationId" : "Products_GetProduct",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "requestBody" : {
          "description" : "Device configuration.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeviceConfiguration"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Error code.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Error message indicating why the operation failed.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "The target of the particular error.",
                          "readOnly" : true
                        }
                      },
                      "description" : "The details of the error."
                    }
                  },
                  "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/listDetails" : {
      "post" : {
        "tags" : [ "Product" ],
        "description" : "Returns the extended properties of a product.",
        "operationId" : "Products_ListDetails",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtendedProduct"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/uploadProductLog" : {
      "post" : {
        "tags" : [ "Product" ],
        "description" : "Returns the specified product.",
        "operationId" : "Products_UploadLog",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroup",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "registrationName",
          "in" : "path",
          "description" : "Name of the Azure Stack registration.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "description" : "Name of the product.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2017-06-01"
          }
        } ],
        "requestBody" : {
          "description" : "Update details for product log.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MarketplaceProductLogUpdate"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductLog"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Error code.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Error message indicating why the operation failed.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "The target of the particular error.",
                          "readOnly" : true
                        }
                      },
                      "description" : "The details of the error."
                    }
                  },
                  "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Compatibility" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Full error message if any compatibility issues are found"
          },
          "isCompatible" : {
            "type" : "boolean",
            "description" : "Tells if product is compatible with current device"
          },
          "issues" : {
            "type" : "array",
            "description" : "List of all issues found",
            "items" : {
              "$ref" : "#/components/schemas/CompatibilityIssue"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Short error message if any compatibility issues are found"
          }
        },
        "description" : "Product compatibility"
      },
      "CompatibilityIssue" : {
        "type" : "string",
        "description" : "Compatibility issue",
        "enum" : [ "HigherDeviceVersionRequired", "LowerDeviceVersionRequired", "CapacityBillingModelRequired", "PayAsYouGoBillingModelRequired", "DevelopmentBillingModelRequired", "AzureADIdentitySystemRequired", "ADFSIdentitySystemRequired", "ConnectionToInternetRequired", "ConnectionToAzureRequired", "DisconnectedEnvironmentRequired" ]
      },
      "ComputeRole" : {
        "type" : "string",
        "description" : "Compute role type (IaaS or PaaS).",
        "enum" : [ "None", "IaaS", "PaaS" ]
      },
      "DataDiskImage" : {
        "type" : "object",
        "properties" : {
          "lun" : {
            "type" : "integer",
            "description" : "The LUN.",
            "format" : "int32",
            "readOnly" : true
          },
          "sourceBlobSasUri" : {
            "type" : "string",
            "description" : "SAS key for source blob.",
            "readOnly" : true
          }
        },
        "description" : "Data disk image."
      },
      "DeviceConfiguration" : {
        "type" : "object",
        "properties" : {
          "deviceVersion" : {
            "type" : "string",
            "description" : "Version of the device.",
            "readOnly" : true
          },
          "identitySystem" : {
            "type" : "string",
            "description" : "Identity system of the device.",
            "readOnly" : true,
            "enum" : [ "AzureAD", "ADFS" ]
          }
        },
        "description" : "Device Configuration."
      },
      "ExtendedProduct" : {
        "type" : "object",
        "properties" : {
          "galleryPackageBlobSasUri" : {
            "type" : "string",
            "description" : "The URI to the .azpkg file that provides information required for showing product in the gallery.",
            "readOnly" : true
          },
          "productKind" : {
            "type" : "string",
            "description" : "Specifies the kind of the product (virtualMachine or virtualMachineExtension).",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExtendedProductProperties"
          }
        },
        "description" : "Extended description about the product required for installing it into Azure Stack."
      },
      "ExtendedProductProperties" : {
        "description" : "Product information.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/VirtualMachineExtensionProductProperties"
        }, {
          "$ref" : "#/components/schemas/VirtualMachineProductProperties"
        } ]
      },
      "IconUris" : {
        "type" : "object",
        "properties" : {
          "hero" : {
            "type" : "string",
            "description" : "URI to hero icon."
          },
          "large" : {
            "type" : "string",
            "description" : "URI to large icon."
          },
          "medium" : {
            "type" : "string",
            "description" : "URI to medium icon."
          },
          "small" : {
            "type" : "string",
            "description" : "URI to small icon."
          },
          "wide" : {
            "type" : "string",
            "description" : "URI to wide icon."
          }
        },
        "description" : "Links to product icons."
      },
      "MarketplaceProductLogUpdate" : {
        "type" : "object",
        "properties" : {
          "details" : {
            "type" : "string",
            "description" : "Error details related to operation.",
            "readOnly" : true
          },
          "error" : {
            "type" : "string",
            "description" : "Error related to the operation.",
            "readOnly" : true
          },
          "operation" : {
            "type" : "string",
            "description" : "Operation to log.",
            "readOnly" : true
          },
          "status" : {
            "type" : "string",
            "description" : "Operation status to log.",
            "readOnly" : true
          }
        },
        "description" : "Update details for product log."
      },
      "OperatingSystem" : {
        "type" : "string",
        "description" : "Operating system type (Windows or Linux).",
        "enum" : [ "None", "Windows", "Linux" ]
      },
      "OsDiskImage" : {
        "type" : "object",
        "properties" : {
          "operatingSystem" : {
            "$ref" : "#/components/schemas/OperatingSystem"
          },
          "sourceBlobSasUri" : {
            "type" : "string",
            "description" : "SAS key for source blob.",
            "readOnly" : true
          }
        },
        "description" : "OS disk image."
      },
      "Product" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ProductNestedProperties"
          }
        },
        "description" : "Product information.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "etag" : {
              "type" : "string",
              "description" : "The entity tag used for optimistic concurrency when modifying the resource."
            },
            "id" : {
              "type" : "string",
              "description" : "ID of the resource.",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of Resource.",
              "readOnly" : true
            }
          },
          "description" : "Base resource object."
        } ]
      },
      "ProductLink" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "The description of the link."
          },
          "uri" : {
            "type" : "string",
            "description" : "The URI corresponding to the link."
          }
        },
        "description" : "Link with additional information about a product."
      },
      "ProductList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of products.",
            "items" : {
              "$ref" : "#/components/schemas/Product"
            }
          }
        },
        "description" : "Pageable list of products."
      },
      "ProductLog" : {
        "type" : "object",
        "properties" : {
          "details" : {
            "type" : "string",
            "description" : "Operation error details.",
            "readOnly" : true
          },
          "endDate" : {
            "type" : "string",
            "description" : "Operation end datetime.",
            "readOnly" : true
          },
          "error" : {
            "type" : "string",
            "description" : "Operation error data.",
            "readOnly" : true
          },
          "id" : {
            "type" : "string",
            "description" : "Log ID.",
            "readOnly" : true
          },
          "operation" : {
            "type" : "string",
            "description" : "Logged operation.",
            "readOnly" : true
          },
          "productId" : {
            "type" : "string",
            "description" : "Logged product ID.",
            "readOnly" : true
          },
          "registrationName" : {
            "type" : "string",
            "description" : "Logged registration name.",
            "readOnly" : true
          },
          "resourceGroupName" : {
            "type" : "string",
            "description" : "Logged resource group name.",
            "readOnly" : true
          },
          "startDate" : {
            "type" : "string",
            "description" : "Operation start datetime.",
            "readOnly" : true
          },
          "status" : {
            "type" : "string",
            "description" : "Operation status.",
            "readOnly" : true
          },
          "subscriptionId" : {
            "type" : "string",
            "description" : "Logged subscription ID.",
            "readOnly" : true
          }
        },
        "description" : "Product action log."
      },
      "ProductNestedProperties" : {
        "type" : "object",
        "properties" : {
          "billingPartNumber" : {
            "type" : "string",
            "description" : "The part number used for billing purposes."
          },
          "compatibility" : {
            "$ref" : "#/components/schemas/Compatibility"
          },
          "description" : {
            "type" : "string",
            "description" : "The description of the product."
          },
          "displayName" : {
            "type" : "string",
            "description" : "The display name of the product."
          },
          "galleryItemIdentity" : {
            "type" : "string",
            "description" : "The identifier of the gallery item corresponding to the product."
          },
          "iconUris" : {
            "$ref" : "#/components/schemas/IconUris"
          },
          "legalTerms" : {
            "type" : "string",
            "description" : "The legal terms."
          },
          "links" : {
            "type" : "array",
            "description" : "Additional links available for this product.",
            "items" : {
              "$ref" : "#/components/schemas/ProductLink"
            }
          },
          "offer" : {
            "type" : "string",
            "description" : "The offer representing the product."
          },
          "offerVersion" : {
            "type" : "string",
            "description" : "The version of the product offer."
          },
          "payloadLength" : {
            "type" : "integer",
            "description" : "The length of product content.",
            "format" : "int64"
          },
          "privacyPolicy" : {
            "type" : "string",
            "description" : "The privacy policy."
          },
          "productKind" : {
            "type" : "string",
            "description" : "The kind of the product (virtualMachine or virtualMachineExtension)"
          },
          "productProperties" : {
            "$ref" : "#/components/schemas/ProductProperties"
          },
          "publisherDisplayName" : {
            "type" : "string",
            "description" : "The user-friendly name of the product publisher."
          },
          "publisherIdentifier" : {
            "type" : "string",
            "description" : "Publisher identifier."
          },
          "sku" : {
            "type" : "string",
            "description" : "The product SKU."
          },
          "vmExtensionType" : {
            "type" : "string",
            "description" : "The type of the Virtual Machine Extension."
          }
        },
        "description" : "Properties portion of the product resource."
      },
      "ProductProperties" : {
        "type" : "object",
        "properties" : {
          "version" : {
            "type" : "string",
            "description" : "The version."
          }
        },
        "description" : "Additional properties of the product"
      },
      "Uri" : {
        "type" : "object",
        "properties" : {
          "uri" : {
            "type" : "string",
            "description" : "The URI.",
            "readOnly" : true
          }
        },
        "description" : "The URI."
      },
      "VirtualMachineExtensionProductProperties" : {
        "type" : "object",
        "properties" : {
          "computeRole" : {
            "$ref" : "#/components/schemas/ComputeRole"
          },
          "isSystemExtension" : {
            "type" : "boolean",
            "description" : "Specifies if product is a Virtual Machine Extension.",
            "readOnly" : true
          },
          "sourceBlob" : {
            "$ref" : "#/components/schemas/Uri"
          },
          "supportMultipleExtensions" : {
            "type" : "boolean",
            "description" : "Indicates if specified product supports multiple extensions.",
            "readOnly" : true
          },
          "version" : {
            "type" : "string",
            "description" : "Specifies product version.",
            "readOnly" : true
          },
          "vmOsType" : {
            "$ref" : "#/components/schemas/OperatingSystem"
          },
          "vmScaleSetEnabled" : {
            "type" : "boolean",
            "description" : "Indicates if virtual machine Scale Set is enabled in the specified product.",
            "readOnly" : true
          }
        },
        "description" : "Product information."
      },
      "VirtualMachineProductProperties" : {
        "type" : "object",
        "properties" : {
          "dataDiskImages" : {
            "type" : "array",
            "description" : "List of attached data disks.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/DataDiskImage"
            }
          },
          "osDiskImage" : {
            "$ref" : "#/components/schemas/OsDiskImage"
          },
          "version" : {
            "type" : "string",
            "description" : "Specifies product version.",
            "readOnly" : true
          }
        },
        "description" : "Product information."
      }
    },
    "parameters" : {
      "ProductNameParameter" : {
        "name" : "productName",
        "in" : "path",
        "description" : "Name of the product.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "DeviceConfigurationParameter" : {
        "description" : "Device configuration.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/DeviceConfiguration"
            }
          }
        },
        "required" : false
      },
      "MarketplaceProductLogUpdateParameter" : {
        "description" : "Update details for product log.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/MarketplaceProductLogUpdate"
            }
          }
        },
        "required" : false
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}