{"openapi":"3.0.1","info":{"title":"ApiManagementClient","description":"Use these REST APIs for performing operations on OpenId Connect Provider entity associated with your Azure API Management deployment. API Management allows you to access APIs secured with token from [OpenID Connect Provider ](http://openid.net/connect/) to be accessed from the Developer Console.","version":"2019-12-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders":{"get":{"tags":["OpenidConnectProvider"],"description":"Lists of all the OpenId Connect Providers.","operationId":"OpenIdConnectProvider_ListByService","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"$filter","in":"query","description":"|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records to return.","schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"$skip","in":"query","description":"Number of records to skip.","schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Lists of all the OpenId Connect Providers.","content":{"application/json":{"schema":{"type":"object","description":"Paged OpenIdProviders list representation."}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders/{opid}":{"get":{"tags":["OpenidConnectProvider"],"description":"Gets specific OpenID Connect Provider.","operationId":"OpenIdConnectProvider_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"opid","in":"path","description":"Identifier of the OpenID Connect Provider.","required":true,"schema":{"maxLength":256,"pattern":"^[^*#&+:<>?]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The response body contains the specified OpenId Connect Provider entity.","headers":{"ETag":{"description":"Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","description":"OpenId Connect Provider details."}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"put":{"tags":["OpenidConnectProvider"],"description":"Creates or updates the OpenID Connect Provider.","operationId":"OpenIdConnectProvider_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"opid","in":"path","description":"Identifier of the OpenID Connect Provider.","required":true,"schema":{"maxLength":256,"pattern":"^[^*#&+:<>?]+$","type":"string"}},{"name":"If-Match","in":"header","description":"ETag of the Entity. Not required when creating an entity, but required when updating an entity.","schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Create parameters.","content":{"application/json":{"schema":{"properties":{"properties":{"required":["clientId","displayName","metadataEndpoint"],"type":"object","properties":{"clientId":{"type":"string","description":"Client ID of developer console which is the client application."},"clientSecret":{"type":"string","description":"Client Secret of developer console which is the client application."},"description":{"type":"string","description":"User-friendly description of OpenID Connect Provider."},"displayName":{"maxLength":50,"type":"string","description":"User-friendly OpenID Connect Provider name."},"metadataEndpoint":{"type":"string","description":"Metadata endpoint URI."}},"description":"OpenID Connect Providers Contract."}},"description":"OpenId Connect Provider details.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type for API Management resource.","readOnly":true}},"description":"The Resource definition."}]}}},"required":true},"responses":{"200":{"description":"OpenIdConnect Provider was successfully updated.","headers":{"ETag":{"description":"Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","description":"OpenId Connect Provider details."}}}},"201":{"description":"OpenIdConnect Provider was successfully created.","headers":{"ETag":{"description":"Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","description":"OpenId Connect Provider details."}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"delete":{"tags":["OpenidConnectProvider"],"description":"Deletes specific OpenID Connect Provider of the API Management service instance.","operationId":"OpenIdConnectProvider_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"opid","in":"path","description":"Identifier of the OpenID Connect Provider.","required":true,"schema":{"maxLength":256,"pattern":"^[^*#&+:<>?]+$","type":"string"}},{"name":"If-Match","in":"header","description":"ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OpenId Connect Provider was successfully deleted."},"204":{"description":"OpenId Connect Provider was successfully deleted."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"head":{"tags":["OpenidConnectProvider"],"description":"Gets the entity state (Etag) version of the openIdConnectProvider specified by its identifier.","operationId":"OpenIdConnectProvider_GetEntityTag","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"opid","in":"path","description":"Identifier of the OpenID Connect Provider.","required":true,"schema":{"maxLength":256,"pattern":"^[^*#&+:<>?]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Specified openidConnectProvider entity exists and current entity state version is present in the ETag header.","headers":{"ETag":{"description":"Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.","schema":{"type":"string"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"patch":{"tags":["OpenidConnectProvider"],"description":"Updates the specific OpenID Connect Provider.","operationId":"OpenIdConnectProvider_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"opid","in":"path","description":"Identifier of the OpenID Connect Provider.","required":true,"schema":{"maxLength":256,"pattern":"^[^*#&+:<>?]+$","type":"string"}},{"name":"If-Match","in":"header","description":"ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"properties":{"type":"object","properties":{"clientId":{"type":"string","description":"Client ID of developer console which is the client application."},"clientSecret":{"type":"string","description":"Client Secret of developer console which is the client application."},"description":{"type":"string","description":"User-friendly description of OpenID Connect Provider."},"displayName":{"maxLength":50,"type":"string","description":"User-friendly OpenID Connect Provider name."},"metadataEndpoint":{"type":"string","description":"Metadata endpoint URI."}},"description":"Parameters supplied to the Update OpenID Connect Provider operation."}},"description":"Parameters supplied to the Update OpenID Connect Provider operation."}}},"required":true},"responses":{"204":{"description":"OpenId Connect Provider was successfully updated."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders/{opid}/listSecrets":{"post":{"tags":["OpenidConnectProvider"],"description":"Gets the client secret details of the OpenID Connect Provider.","operationId":"OpenIdConnectProvider_ListSecrets","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"opid","in":"path","description":"Identifier of the OpenID Connect Provider.","required":true,"schema":{"maxLength":256,"pattern":"^[^*#&+:<>?]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The response body contains the client secret.","content":{"application/json":{"schema":{"type":"object","description":"Client or app secret used in IdentityProviders, Aad, OpenID or OAuth."}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}}}},"components":{"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}