{"openapi":"3.0.1","info":{"title":"Microsoft.ResourceHealth","description":"The Resource Health Client.","version":"2018-07-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.ResourceHealth/emergingIssues":{"get":{"tags":["EmergingIssues"],"description":"Lists Azure services' emerging issues.","operationId":"EmergingIssues_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The body contains a list of azure emerging issues.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/emergingIssueListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/providers/Microsoft.ResourceHealth/emergingIssues/{issueName}":{"get":{"tags":["EmergingIssues"],"description":"Gets Azure services' emerging issues.","operationId":"EmergingIssues_Get","parameters":[{"name":"issueName","in":"path","description":"The name of the emerging issue.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The body contains properties of azure emerging issues, which includes a list of status banner and status active events.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/emergingIssuesGetResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/providers/Microsoft.ResourceHealth/metadata":{"get":{"tags":["Metadata"],"summary":"Gets the list of metadata entities.","operationId":"Metadata_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. Successfully retrieved metadata entities","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataEntityListResult"}}}}},"deprecated":false}},"/providers/Microsoft.ResourceHealth/metadata/{name}":{"get":{"tags":["Metadata"],"summary":"Gets the metadata entity.","operationId":"Metadata_Get","parameters":[{"name":"name","in":"path","description":"Name of metadata entity.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. Successfully retrieved metadata entities","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataEntity"}}}},"404":{"description":"Client sent unknown metadata name","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":false}},"/providers/Microsoft.ResourceHealth/operations":{"get":{"tags":["Operations"],"description":"Lists available operations for the resourcehealth resource provider","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of available operations for the resourcehealth resource provider","content":{"application/json":{"schema":{"$ref":"#/components/schemas/operationListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/availabilityStatuses":{"get":{"tags":["AvailabilityStatuses"],"description":"Lists the current availability status for all the resources in the subscription.","operationId":"AvailabilityStatuses_ListBySubscriptionId","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Setting $expand=recommendedactions in url query expands the recommendedactions in the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"The list of current availability status for all the resources in the subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/availabilityStatusListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events":{"get":{"tags":["Events"],"description":"Lists current service health events in the subscription.","operationId":"Events_ListBySubscriptionId","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of current service health events in the subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/events"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/impactedResources":{"get":{"tags":["ImpactedResources"],"description":"Lists the current availability status for impacted resources in the subscription.","operationId":"ImpactedResources_ListBySubscriptionId","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of current availability status for impacted resources in the subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/impactedResourceListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceHealth/availabilityStatuses":{"get":{"tags":["AvailabilityStatuses"],"description":"Lists the current availability status for all the resources in the resource group.","operationId":"AvailabilityStatuses_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN","schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Setting $expand=recommendedactions in url query expands the recommendedactions in the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"The list of current availability status for all the resources in the resource group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/availabilityStatusListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/{resourceUri}/providers/Microsoft.ResourceHealth/availabilityStatuses":{"get":{"tags":["AvailabilityStatuses"],"description":"Lists all historical availability transitions and impacting events for a single resource.","operationId":"AvailabilityStatuses_List","parameters":[{"name":"resourceUri","in":"path","description":"The fully qualified ID of the resource, including the resource name and resource type. Currently the API support not nested and one nesting level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name} and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN","schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Setting $expand=recommendedactions in url query expands the recommendedactions in the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"The list of historical availability statuses for a single resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/availabilityStatusListResult"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/{resourceUri}/providers/Microsoft.ResourceHealth/availabilityStatuses/current":{"get":{"tags":["AvailabilityStatuses"],"description":"Gets current availability status for a single resource","operationId":"AvailabilityStatuses_GetByResource","parameters":[{"name":"resourceUri","in":"path","description":"The fully qualified ID of the resource, including the resource name and resource type. Currently the API support not nested and one nesting level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name} and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN","schema":{"type":"string"}},{"name":"$expand","in":"query","description":"Setting $expand=recommendedactions in url query expands the recommendedactions in the response.","schema":{"type":"string"}}],"responses":{"200":{"description":"The current availability status for a single resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/availabilityStatus"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/{resourceUri}/providers/Microsoft.ResourceHealth/events":{"get":{"tags":["Events"],"description":"Lists current service health events for given resource.","operationId":"Events_ListBySingleResource","parameters":[{"name":"resourceUri","in":"path","description":"The fully qualified ID of the resource, including the resource name and resource type. Currently the API support not nested and one nesting level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name} and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN","schema":{"type":"string"}}],"responses":{"200":{"description":"The list of current service health events for given resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/events"}}}},"default":{"description":"DefaultErrorResponse","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"The error code.","readOnly":true},"details":{"type":"string","description":"The error details.","readOnly":true},"message":{"type":"string","description":"The error message.","readOnly":true}},"description":"Error details."},"MetadataEntity":{"properties":{"properties":{"$ref":"#/components/schemas/MetadataEntityProperties"}},"description":"The metadata entity contract.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]},"MetadataEntityListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link used to get the next page of metadata."},"value":{"type":"array","description":"The list of metadata entities.","items":{"$ref":"#/components/schemas/MetadataEntity"}}},"description":"The list of metadata entities"},"MetadataEntityProperties":{"type":"object","properties":{"applicableScenarios":{"type":"array","description":"The list of scenarios applicable to this metadata entity.","items":{"type":"string","enum":["Alerts"]}},"dependsOn":{"type":"array","description":"The list of keys on which this entity depends on.","items":{"type":"string"}},"displayName":{"type":"string","description":"The display name."},"supportedValues":{"type":"array","description":"The list of supported values.","items":{"$ref":"#/components/schemas/MetadataSupportedValueDetail"}}},"description":"The metadata entity properties"},"MetadataSupportedValueDetail":{"type":"object","properties":{"displayName":{"type":"string","description":"The display name."},"id":{"type":"string","description":"The id."}},"description":"The metadata supported value detail."},"availabilityStatus":{"type":"object","properties":{"id":{"type":"string","description":"Azure Resource Manager Identity for the availabilityStatuses resource."},"location":{"type":"string","description":"Azure Resource Manager geo location of the resource."},"name":{"type":"string","description":"current."},"properties":{"type":"object","properties":{"availabilityState":{"type":"string","description":"Availability status of the resource. When it is null, this availabilityStatus object represents an availability impacting event","enum":["Available","Unavailable","Degraded","Unknown"]},"detailedStatus":{"type":"string","description":"Details of the availability status."},"healthEventCategory":{"type":"string","description":"In case of an availability impacting event, it describes the category of a PlatformInitiated health impacting event. Examples are Planned, Unplanned etc."},"healthEventCause":{"type":"string","description":"In case of an availability impacting event, it describes where the health impacting event was originated. Examples are PlatformInitiated, UserInitiated etc."},"healthEventId":{"type":"string","description":"It is a unique Id that identifies the event"},"healthEventType":{"type":"string","description":"In case of an availability impacting event, it describes when the health impacting event was originated. Examples are Lifecycle, Downtime, Fault Analysis etc."},"occuredTime":{"type":"string","description":"Timestamp for when last change in health status occurred.","format":"date-time"},"reasonChronicity":{"type":"string","description":"Chronicity of the availability transition.","enum":["Transient","Persistent"]},"reasonType":{"type":"string","description":"When the resource's availabilityState is Unavailable, it describes where the health impacting event was originated. Examples are planned, unplanned, user initiated or an outage etc."},"recentlyResolved":{"type":"object","properties":{"resolvedTime":{"type":"string","description":"Timestamp when the availabilityState changes to Available.","format":"date-time"},"unavailabilitySummary":{"type":"string","description":"Brief description of cause of the resource becoming unavailable."},"unavailableOccurredTime":{"type":"string","description":"Timestamp for when the availabilityState changed to Unavailable","format":"date-time"}},"description":"An annotation describing a change in the availabilityState to Available from Unavailable with a reasonType of type Unplanned"},"recommendedActions":{"type":"array","description":"Lists actions the user can take based on the current availabilityState of the resource.","items":{"$ref":"#/components/schemas/recommendedAction"}},"reportedTime":{"type":"string","description":"Timestamp for when the health was last checked. ","format":"date-time"},"resolutionETA":{"type":"string","description":"When the resource's availabilityState is Unavailable and the reasonType is not User Initiated, it provides the date and time for when the issue is expected to be resolved.","format":"date-time"},"rootCauseAttributionTime":{"type":"string","description":"When the resource's availabilityState is Unavailable, it provides the Timestamp for when the health impacting event was received.","format":"date-time"},"serviceImpactingEvents":{"type":"array","description":"Lists the service impacting events that may be affecting the health of the resource.","items":{"$ref":"#/components/schemas/serviceImpactingEvent"}},"summary":{"type":"string","description":"Summary description of the availability status."}},"description":"Properties of availability state."},"type":{"type":"string","description":"Microsoft.ResourceHealth/AvailabilityStatuses."}},"description":"availabilityStatus of a resource."},"availabilityStatusListResult":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of availabilityStatuses. Call ListNext() with this URI to fetch the next page of availabilityStatuses."},"value":{"type":"array","description":"The list of availabilityStatuses.","items":{"$ref":"#/components/schemas/availabilityStatus"}}},"description":"The List availabilityStatus operation response."},"emergingIssue":{"type":"object","properties":{"refreshTimestamp":{"type":"string","description":"Timestamp for when last time refreshed for ongoing emerging issue.","format":"date-time"},"statusActiveEvents":{"type":"array","description":"The list of emerging issues of active event type.","items":{"$ref":"#/components/schemas/statusActiveEvent"}},"statusBanners":{"type":"array","description":"The list of emerging issues of banner type.","items":{"$ref":"#/components/schemas/statusBanner"}}},"description":"On-going emerging issue from azure status."},"emergingIssueImpact":{"type":"object","properties":{"id":{"type":"string","description":"The impacted service id."},"name":{"type":"string","description":"The impacted service name."},"regions":{"type":"array","description":"The list of impacted regions for corresponding emerging issues.","items":{"$ref":"#/components/schemas/impactedRegion"}}},"description":"Object of the emerging issue impact on services and regions."},"emergingIssueListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link used to get the next page of emerging issues."},"value":{"type":"array","description":"The list of emerging issues.","items":{"$ref":"#/components/schemas/emergingIssuesGetResult"}}},"description":"The list of emerging issues."},"emergingIssuesGetResult":{"properties":{"properties":{"$ref":"#/components/schemas/emergingIssue"}},"description":"The Get EmergingIssues operation response.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]},"event":{"properties":{"properties":{"type":"object","properties":{"article":{"type":"object","properties":{"articleContent":{"type":"string","description":"Article content of event."}},"description":"Article of event."},"enableChatWithUs":{"type":"boolean","description":"Tells if we want to enable or disable Microsoft Support for this event."},"enableMicrosoftSupport":{"type":"boolean","description":"Tells if we want to enable or disable Microsoft Support for this event."},"eventLevel":{"type":"string","description":"Level of event.","enum":["Critical","Warning","Informational"]},"eventSource":{"type":"string","description":"Source of event.","enum":["ResourceHealth","ServiceHealth"]},"eventType":{"type":"string","description":"Type of event.","enum":["ServiceIssue","PlannedMaintenance","HealthAdvisory","RCA"]},"faqs":{"type":"array","description":"Frequently asked questions for the service health event.","items":{"$ref":"#/components/schemas/faq"}},"header":{"type":"string","description":"Header text of event."},"hirStage":{"type":"string","description":"Stage for HIR Document"},"impact":{"type":"array","description":"List services impacted by the service health event.","items":{"$ref":"#/components/schemas/impact"}},"impactMitigationTime":{"type":"string","description":"It provides the Timestamp for when the health impacting event resolved.","format":"date-time"},"impactStartTime":{"type":"string","description":"It provides the Timestamp for when the health impacting event started.","format":"date-time"},"isHIR":{"type":"boolean","description":"It provides information if the event is High incident rate event or not."},"lastUpdateTime":{"type":"string","description":"It provides the Timestamp for when the health impacting event was last updated.","format":"date-time"},"level":{"type":"string","description":"Level of insight.","enum":["Critical","Warning"]},"links":{"type":"array","description":"Useful links of event.","items":{"$ref":"#/components/schemas/link"}},"priority":{"type":"integer","description":"Priority level of the event."},"recommendedActions":{"type":"object","properties":{"actions":{"type":"array","description":"Recommended actions for the service health event.","items":{"type":"object","properties":{"actionText":{"type":"string","description":"Recommended action text"},"groupId":{"type":"integer","description":"Recommended action group Id for the service health event."}},"description":"Recommended action for the service health event."}},"localeCode":{"type":"string","description":"Recommended action locale for the service health event."},"message":{"type":"string","description":"Recommended action title for the service health event."}},"description":"Recommended actions of event."},"status":{"type":"string","description":"Current status of event.","enum":["Active","Resolved"]},"summary":{"type":"string","description":"Summary text of event."},"title":{"type":"string","description":"Title text of event."}},"description":"Properties of event."}},"description":"Service health event","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]},"events":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of events. Call ListNext() with this URI to fetch the next page of events."},"value":{"type":"array","description":"The list of event.","items":{"$ref":"#/components/schemas/event"}}},"description":"The List events operation response."},"faq":{"type":"object","properties":{"answer":{"type":"string","description":"FAQ answer for the service health event."},"localeCode":{"type":"string","description":"FAQ locale for the service health event."},"question":{"type":"string","description":"FAQ question for the service health event."}},"description":"Frequently asked question for the service health event"},"impact":{"type":"object","properties":{"impactedRegions":{"type":"array","description":"List regions impacted by the service health event.","items":{"$ref":"#/components/schemas/impactedServiceRegion"}},"impactedService":{"type":"string","description":"Impacted service name."}},"description":"Azure service impacted by the service health event."},"impactedRegion":{"type":"object","properties":{"id":{"type":"string","description":"The impacted region id."},"name":{"type":"string","description":"The impacted region name."}},"description":"Object of impacted region."},"impactedResourceListResult":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of impactedResourceStatus."},"value":{"type":"array","description":"The list of impactedResourceStatus.","items":{"$ref":"#/components/schemas/impactedResourceStatus"}}},"description":"The List impactedResourceStatus operation response."},"impactedResourceStatus":{"properties":{"properties":{"type":"object","properties":{"availabilityState":{"type":"string","description":"Impacted resource status of the resource.","enum":["Available","Unavailable","Degraded","Unknown"]},"occuredTime":{"type":"string","description":"Timestamp for when last change in health status occurred.","format":"date-time"},"reasonType":{"type":"string","description":"When the resource's availabilityState is Unavailable, it describes where the health impacting event was originated.","enum":["Unplanned","Planned","UserInitiated"]},"summary":{"type":"string","description":"Summary description of the impacted resource status."},"title":{"type":"string","description":"Title description of the impacted resource status."}},"description":"Properties of impacted resource status."}},"description":"impactedResource with health status","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]},"impactedServiceRegion":{"type":"object","properties":{"impactedRegion":{"type":"string","description":"Impacted region name."},"impactedSubscriptions":{"type":"array","description":"List subscription impacted by the service health event.","items":{"type":"string","description":"Subscription impacted by the service health event."}},"lastUpdateTime":{"type":"string","description":"It provides the Timestamp for when the last update for the service health event.","format":"date-time"},"status":{"type":"string","description":"Current status of event in the region.","enum":["Active","Resolved"]},"updates":{"type":"array","description":"List of updates for given service health event.","items":{"$ref":"#/components/schemas/update"}}},"description":"Azure region impacted by the service health event."},"link":{"type":"object","properties":{"bladeName":{"type":"string","description":"It provides the name of portal extension blade to produce link for given service health event."},"displayText":{"type":"object","properties":{"localizedValue":{"type":"string","description":"Localized display text of link."},"value":{"type":"string","description":"Display text of link."}},"description":"Display text of link."},"extensionName":{"type":"string","description":"It provides the name of portal extension to produce link for given service health event."},"parameters":{"type":"object","description":"It provides a map of parameter name and value for portal extension blade to produce lik for given service health event."},"type":{"type":"string","description":"Type of link.","enum":["Button","Hyperlink"]}},"description":"Useful links for service health event."},"operation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"Description of the operation."},"operation":{"type":"string","description":"Operation name."},"provider":{"type":"string","description":"Provider name."},"resource":{"type":"string","description":"Resource name."}},"description":"Properties of the operation."},"name":{"type":"string","description":"Name of the operation."}},"description":"Operation available in the resourcehealth resource provider."},"operationListResult":{"required":["value"],"type":"object","properties":{"value":{"type":"array","description":"List of operations available in the resourcehealth resource provider.","items":{"$ref":"#/components/schemas/operation"}}},"description":"Lists the operations response."},"recommendedAction":{"type":"object","properties":{"action":{"type":"string","description":"Recommended action."},"actionUrl":{"type":"string","description":"Link to the action"},"actionUrlText":{"type":"string","description":"Substring of action, it describes which text should host the action url."}},"description":"Lists actions the user can take based on the current availabilityState of the resource."},"serviceImpactingEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"Correlation id for the event"},"eventStartTime":{"type":"string","description":"Timestamp for when the event started.","format":"date-time"},"eventStatusLastModifiedTime":{"type":"string","description":"Timestamp for when event was submitted/detected.","format":"date-time"},"incidentProperties":{"type":"object","properties":{"incidentType":{"type":"string","description":"Type of Event."},"region":{"type":"string","description":"Region impacted by the event."},"service":{"type":"string","description":"Service impacted by the event."},"title":{"type":"string","description":"Title of the incident."}},"description":"Properties of the service impacting event."},"status":{"type":"object","properties":{"value":{"type":"string","description":"Current status of the event"}},"description":"Status of the service impacting event."}},"description":"Lists the service impacting events that may be affecting the health of the resource."},"statusActiveEvent":{"type":"object","properties":{"cloud":{"type":"string","description":"The cloud type of this active event."},"description":{"type":"string","description":"The details of active event."},"impacts":{"type":"array","description":"The list of emerging issues impacts.","items":{"$ref":"#/components/schemas/emergingIssueImpact"}},"lastModifiedTime":{"type":"string","description":"The last time modified on this banner.","format":"date-time"},"published":{"type":"boolean","description":"The boolean value of this active event if published or not."},"severity":{"type":"string","description":"The severity level of this active event.","enum":["Information","Warning","Error"]},"stage":{"type":"string","description":"The stage of this active event.","enum":["Active","Resolve","Archived"]},"startTime":{"type":"string","description":"The impact start time on this active event.","format":"date-time"},"title":{"type":"string","description":"The active event title."},"trackingId":{"type":"string","description":"The tracking id of this active event."}},"description":"Active event type of emerging issue."},"statusBanner":{"type":"object","properties":{"cloud":{"type":"string","description":"The cloud type of this banner."},"lastModifiedTime":{"type":"string","description":"The last time modified on this banner.","format":"date-time"},"message":{"type":"string","description":"The details of banner."},"title":{"type":"string","description":"The banner title."}},"description":"Banner type of emerging issue."},"update":{"type":"object","properties":{"summary":{"type":"string","description":"Summary text for the given update for the service health event."},"updateDateTime":{"type":"string","description":"It provides the Timestamp for the given update for the service health event.","format":"date-time"}},"description":"Update for service health event."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"EventIdParameter":{"name":"eventId","in":"path","description":"EventId for the Service health event","required":true,"schema":{"type":"string"}},"ExpandParameter":{"name":"$expand","in":"query","description":"Setting $expand=recommendedactions in url query expands the recommendedactions in the response.","schema":{"type":"string"}},"FilterParameter":{"name":"$filter","in":"query","description":"The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN","schema":{"type":"string"}},"IssueNameParameter":{"name":"issueName","in":"path","description":"The name of the emerging issue.","required":true,"schema":{"type":"string","enum":["default"]}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}