{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "PolicyTrackedResourcesClient",
    "version" : "2018-07-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults" : {
      "post" : {
        "description" : "Queries policy tracked resources under the management group.",
        "operationId" : "PolicyTrackedResources_ListQueryResultsForManagementGroup",
        "parameters" : [ {
          "name" : "managementGroupsNamespace",
          "in" : "path",
          "description" : "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "Microsoft.Management" ]
          }
        }, {
          "name" : "managementGroupName",
          "in" : "path",
          "description" : "Management group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyTrackedResourcesResource",
          "in" : "path",
          "description" : "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default" ]
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Maximum number of records to return.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter expression.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Query results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PolicyTrackedResourcesQueryResults"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryFailure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults" : {
      "post" : {
        "description" : "Queries policy tracked resources under the subscription.",
        "operationId" : "PolicyTrackedResources_ListQueryResultsForSubscription",
        "parameters" : [ {
          "name" : "policyTrackedResourcesResource",
          "in" : "path",
          "description" : "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default" ]
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Maximum number of records to return.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter expression.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Microsoft Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Query results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PolicyTrackedResourcesQueryResults"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryFailure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults" : {
      "post" : {
        "description" : "Queries policy tracked resources under the resource group.",
        "operationId" : "PolicyTrackedResources_ListQueryResultsForResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Resource group name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyTrackedResourcesResource",
          "in" : "path",
          "description" : "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default" ]
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Maximum number of records to return.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter expression.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Microsoft Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Query results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PolicyTrackedResourcesQueryResults"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryFailure"
                }
              }
            }
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults" : {
      "post" : {
        "description" : "Queries policy tracked resources under the resource.",
        "operationId" : "PolicyTrackedResources_ListQueryResultsForResource",
        "parameters" : [ {
          "name" : "resourceId",
          "in" : "path",
          "description" : "Resource ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyTrackedResourcesResource",
          "in" : "path",
          "description" : "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default" ]
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Maximum number of records to return.",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter expression.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Query results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PolicyTrackedResourcesQueryResults"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryFailure"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PolicyDetails" : {
        "type" : "object",
        "properties" : {
          "policyAssignmentDisplayName" : {
            "type" : "string",
            "description" : "The display name of the policy assignment.",
            "readOnly" : true
          },
          "policyAssignmentId" : {
            "type" : "string",
            "description" : "The ID of the policy assignment.",
            "readOnly" : true
          },
          "policyAssignmentScope" : {
            "type" : "string",
            "description" : "The scope of the policy assignment.",
            "readOnly" : true
          },
          "policyDefinitionId" : {
            "type" : "string",
            "description" : "The ID of the policy definition.",
            "readOnly" : true
          },
          "policyDefinitionReferenceId" : {
            "type" : "string",
            "description" : "The policy definition reference ID within the policy set definition.",
            "readOnly" : true
          },
          "policySetDefinitionId" : {
            "type" : "string",
            "description" : "The ID of the policy set definition.",
            "readOnly" : true
          }
        },
        "description" : "The policy details."
      },
      "PolicyTrackedResource" : {
        "type" : "object",
        "properties" : {
          "createdBy" : {
            "$ref" : "#/components/schemas/TrackedResourceModificationDetails"
          },
          "lastModifiedBy" : {
            "$ref" : "#/components/schemas/TrackedResourceModificationDetails"
          },
          "lastUpdateUtc" : {
            "type" : "string",
            "description" : "Timestamp of the last update to the tracked resource.",
            "format" : "date-time",
            "readOnly" : true
          },
          "policyDetails" : {
            "$ref" : "#/components/schemas/PolicyDetails"
          },
          "trackedResourceId" : {
            "type" : "string",
            "description" : "The ID of the policy tracked resource.",
            "readOnly" : true
          }
        },
        "description" : "Policy tracked resource record."
      },
      "PolicyTrackedResourcesQueryResults" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Query results.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/PolicyTrackedResource"
            }
          }
        },
        "description" : "Query results."
      },
      "QueryFailure" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "type" : "object",
            "properties" : {
              "code" : {
                "type" : "string",
                "description" : "Service specific error code which serves as the substatus for the HTTP error code.",
                "readOnly" : true
              },
              "message" : {
                "type" : "string",
                "description" : "Description of the error.",
                "readOnly" : true
              }
            },
            "description" : "Error definition."
          }
        },
        "description" : "Error response."
      },
      "TrackedResourceModificationDetails" : {
        "type" : "object",
        "properties" : {
          "deploymentId" : {
            "type" : "string",
            "description" : "The ID of the deployment that created or modified the tracked resource.",
            "readOnly" : true
          },
          "deploymentTime" : {
            "type" : "string",
            "description" : "Timestamp of the deployment that created or modified the tracked resource.",
            "format" : "date-time",
            "readOnly" : true
          },
          "policyDetails" : {
            "$ref" : "#/components/schemas/PolicyDetails"
          }
        },
        "description" : "The details of the policy triggered deployment that created or modified the tracked resource."
      }
    },
    "parameters" : {
      "apiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "filterParameter" : {
        "name" : "$filter",
        "in" : "query",
        "description" : "OData filter expression.",
        "schema" : {
          "type" : "string"
        }
      },
      "managementGroupNameParameter" : {
        "name" : "managementGroupName",
        "in" : "path",
        "description" : "Management group name.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "managementGroupsNamespaceParameter" : {
        "name" : "managementGroupsNamespace",
        "in" : "path",
        "description" : "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "Microsoft.Management" ]
        }
      },
      "policyTrackedResourcesResourceParameter" : {
        "name" : "policyTrackedResourcesResource",
        "in" : "path",
        "description" : "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "default" ]
        }
      },
      "resourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "Resource group name.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "resourceIdParameter" : {
        "name" : "resourceId",
        "in" : "path",
        "description" : "Resource ID.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "subscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Microsoft Azure subscription ID.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "topParameter" : {
        "name" : "$top",
        "in" : "query",
        "description" : "Maximum number of records to return.",
        "schema" : {
          "minimum" : 0,
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}