{"openapi":"3.0.1","info":{"title":"Wikimedia","description":"This API provides cacheable and straightforward access to Wikimedia content and data, in machine-readable formats.\n### Global Rules\n- Limit your clients to no more than 200 requests/s to this API.\n  Each API endpoint's documentation may detail more specific usage limits.\n- Set a unique `User-Agent` or `Api-User-Agent` header that\n  allows us to contact you quickly. Email addresses or URLs\n  of contact pages work well.\n\nBy using this API, you agree to Wikimedia's  [Terms of Use](https://wikimediafoundation.org/wiki/Terms_of_Use) and [Privacy Policy](https://wikimediafoundation.org/wiki/Privacy_policy). Unless otherwise specified in the endpoint documentation below, content accessed via this API is licensed under the [CC-BY-SA 3.0](https://creativecommons.org/licenses/by-sa/3.0/)  and [GFDL](https://www.gnu.org/copyleft/fdl.html) licenses, and you irrevocably agree to release modifications or additions made through this API under these licenses.  See https://www.mediawiki.org/wiki/REST_API for background and details.\n### Endpoint documentation\nPlease consult each endpoint's documentation for details on:\n- Licensing information for the specific type of content\n  and data served via the endpoint.\n- Stability markers to inform you about development status and\n  change policy, according to\n  [our API version policy](https://www.mediawiki.org/wiki/API_versioning).\n- Endpoint specific usage limits.\n","termsOfService":"https://wikimediafoundation.org/wiki/Terms_of_Use","contact":{"name":"the Wikimedia Services team","url":"http://mediawiki.org/wiki/REST_API"},"license":{"name":"Software available under the Apache 2 license","url":"http://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0.0"},"servers":[{"url":"https://wikimedia.org/api/rest_v1"}],"tags":[{"name":"Math","description":"formula rendering"}],"paths":{"/feed/availability":{"get":{"tags":["Feed content availability"],"summary":"Gets availability of featured feed content for the apps by wiki domain.","description":"Gets availability of featured feed content for the apps by wiki domain.\n\nStability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n","responses":{"200":{"description":"JSON containing lists of wiki domains for which feed content is available.","content":{"application/json; charset=utf-8; profile=\"https://www.mediawiki.org/wiki/Specs/Availability/1.0.1\"":{"schema":{"$ref":"#/components/schemas/availability"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/availability"}}}},"default":{"description":"Error","content":{"application/json; charset=utf-8; profile=\"https://www.mediawiki.org/wiki/Specs/Availability/1.0.1\"":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/media/math/check/{type}":{"post":{"tags":["Math"],"summary":"Check and normalize a TeX formula.","description":"Checks the supplied TeX formula for correctness and returns the\nnormalised formula representation as well as information about\nidentifiers. Available types are tex and inline-tex. The response\ncontains the `x-resource-location` header which can be used to retrieve\nthe render of the checked formula in one of the supported rendering\nformats. Just append the value of the header to `/media/math/{format}/`\nand perform a GET request against that URL.\n\nStability: [stable](https://www.mediawiki.org/wiki/API_versioning#Stable).\n","parameters":[{"name":"type","in":"path","description":"The input type of the given formula; can be tex or inline-tex","required":true,"schema":{"type":"string","enum":["tex","inline-tex","chem"]}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["q"],"type":"object","properties":{"q":{"type":"string","description":"The formula to check"}}}}},"required":true},"responses":{"200":{"description":"Information about the checked formula"},"400":{"description":"Invalid type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/media/math/formula/{hash}":{"get":{"tags":["Math"],"summary":"Get a previously-stored formula","description":"Returns the previously-stored formula via `/media/math/check/{type}` for\nthe given hash.\n\nStability: [stable](https://www.mediawiki.org/wiki/API_versioning#Stable).\n","parameters":[{"name":"hash","in":"path","description":"The hash string of the previous POST data","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"Information about the checked formula"},"404":{"description":"Data for the given hash cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/media/math/render/{format}/{hash}":{"get":{"tags":["Math"],"summary":"Get rendered formula in the given format.","description":"Given a request hash, renders a TeX formula into its mathematic\nrepresentation in the given format. When a request is issued to the\n`/media/math/check/{format}` POST endpoint, the response contains the\n`x-resource-location` header denoting the hash ID of the POST data. Once\nobtained, this endpoint has to be used to obtain the actual render.\n\nStability: [stable](https://www.mediawiki.org/wiki/API_versioning#Stable).\n","parameters":[{"name":"format","in":"path","description":"The output format; can be svg or mml","required":true,"schema":{"type":"string","enum":["svg","mml","png"]}},{"name":"hash","in":"path","description":"The hash string of the previous POST data","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"The rendered formula"},"404":{"description":"Unknown format or hash ID","content":{"image/svg+xml":{"schema":{"$ref":"#/components/schemas/problem"}},"application/mathml+xml":{"schema":{"$ref":"#/components/schemas/problem"}},"image/png":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}},"default":{"description":"Error","content":{"image/svg+xml":{"schema":{"$ref":"#/components/schemas/problem"}},"application/mathml+xml":{"schema":{"$ref":"#/components/schemas/problem"}},"image/png":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/bytes-difference/absolute/aggregate/{project}/{editor-type}/{page-type}/{granularity}/{start}/{end}":{"get":{"tags":["Bytes difference data"],"summary":"Get the sum of absolute value of text bytes difference between current edit and\nprevious one.\n","description":"Given a Mediawiki project and a date range, returns a timeseries of absolute bytes\ndifference sums. You can filter by editors-type (all-editor-types, anonymous, group-bot,\nname-bot, user) and page-type (all-page-types, content, non-content). You can choose\nbetween daily and monthly granularity as well.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia. For\nprojects like www.mediawiki.org, you can use that full string, or just use mediawiki\nor mediawiki.org. If you're interested in the aggregation of all projects, use\nall-projects.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (edits on pages in content\nnamespaces) or non-content (edits on pages in non-content namespaces). If you are\ninterested in edits regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"granularity","in":"path","description":"Time unit for the response data. As of today, supported values are daily and monthly\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The date of the first day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The date of the last day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/absolute-bytes-difference"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/absolute-bytes-difference"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/bytes-difference/absolute/per-page/{project}/{page-title}/{editor-type}/{granularity}/{start}/{end}":{"get":{"tags":["Bytes difference data"],"summary":"Get the sum of absolute text bytes difference per page.","description":"Given a Mediawiki project, a page-title prefixed with canonical namespace (for\ninstance 'User:Jimbo_Wales') and a date range, returns a timeseries of bytes\ndifference absolute sums. You can filter by editors-type (all-editor-types, anonymous,\ngroup-bot, name-bot, user). You can choose between daily and monthly granularity as well.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia. For\nprojects like www.mediawiki.org, you can use that full string, or just use mediawiki\nor mediawiki.org.\n","required":true,"schema":{"type":"string"}},{"name":"page-title","in":"path","description":"The page-title to request absolute bytes-difference for. Should be prefixed with the\npage canonical namespace.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"granularity","in":"path","description":"Time unit for the response data. As of today, supported values are daily and monthly\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The date of the first day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The date of the last day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/absolute-bytes-difference-per-page"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/absolute-bytes-difference-per-page"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/bytes-difference/net/aggregate/{project}/{editor-type}/{page-type}/{granularity}/{start}/{end}":{"get":{"tags":["Bytes difference data"],"summary":"Get the sum of net text bytes difference between current edit and previous one.","description":"Given a Mediawiki project and a date range, returns a timeseries of bytes difference net\nsums. You can filter by editors-type (all-editor-types, anonymous, group-bot, name-bot,\nuser) and page-type (all-page-types, content or non-content). You can choose between\ndaily and monthly granularity as well.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia. For\nprojects like www.mediawiki.org, you can use that full string, or just use mediawiki\nor mediawiki.org. If you're interested in the aggregation of all projects, use\nall-projects.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (edits on pages in content\nnamespaces) or non-content (edits on pages in non-content namespaces). If you are\ninterested in edits regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"granularity","in":"path","description":"Time unit for the response data. As of today, supported values are daily and monthly\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The date of the first day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The date of the last day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/net-bytes-difference"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/net-bytes-difference"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/bytes-difference/net/per-page/{project}/{page-title}/{editor-type}/{granularity}/{start}/{end}":{"get":{"tags":["Bytes difference data"],"summary":"Get the sum of net text bytes difference per page.","description":"Given a Mediawiki project, a page-title prefixed with canonical namespace (for\ninstance 'User:Jimbo_Wales') and a date range, returns a timeseries of bytes\ndifference net sums. You can filter by editors-type (all-editor-types, anonymous,\ngroup-bot, name-bot, user). You can choose between daily and monthly granularity as well.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia. For\nprojects like www.mediawiki.org, you can use that full string, or just use mediawiki\nor mediawiki.org.\n","required":true,"schema":{"type":"string"}},{"name":"page-title","in":"path","description":"The page-title to request net bytes-difference for. Should be prefixed with the\npage canonical namespace.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"granularity","in":"path","description":"Time unit for the response data. As of today, supported values are daily and monthly\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The date of the first day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The date of the last day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/net-bytes-difference-per-page"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/net-bytes-difference-per-page"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/edited-pages/aggregate/{project}/{editor-type}/{page-type}/{activity-level}/{granularity}/{start}/{end}":{"get":{"tags":["Edited pages data"],"summary":"Get edited-pages counts for a project.","description":"Given a Mediawiki project and a date range, returns a timeseries of its edited-pages counts.\nYou can filter by editor-type (all-editor-types, anonymous, group-bot, name-bot, user),\npage-type (all-page-types, content or non-content) or activity-level (1..4-edits,\n5..24-edits, 25..99-edits, 100..-edits). You can choose between daily and monthly\ngranularity as well.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff.  For projects like commons without language codes, use commons.wikimedia.\nFor projects like www.mediawiki.org, you can use that full string, or just use\nmediawiki or mediawiki.org.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (edited-pages in content\nnamespaces) or non-content (edited-pages in non-content namespaces). If you are\ninterested in edited-pages regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"activity-level","in":"path","description":"If you want to filter by activity-level, use one of 1..4-edits, 5..24-edits,\n25..99-edits or 100..-edits. If you are interested in edited-pages regardless\nof their activity level, use all-activity-levels.\n","required":true,"schema":{"type":"string","enum":["all-activity-levels","1..4-edits","5..24-edits","25..99-edits","100..-edits"]}},{"name":"granularity","in":"path","description":"The time unit for the response data. As of today, supported values are\ndaily and monthly.\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The date of the first day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The date of the last day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/edited-pages"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/edited-pages"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/edited-pages/new/{project}/{editor-type}/{page-type}/{granularity}/{start}/{end}":{"get":{"tags":["Edited pages data"],"summary":"Get new pages counts for a project.","description":"Given a Mediawiki project and a date range, returns a timeseries of its new pages counts.\nYou can filter by editor type (all-editor-types, anonymous, group-bot, name-bot, user)\nor page-type (all-page-types, content or non-content). You can choose between daily and\nmonthly granularity as well.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff.  For projects like commons without language codes, use commons.wikimedia.\nFor projects like www.mediawiki.org, you can use that full string, or just use\nmediawiki or mediawiki.org. If you're interested in the aggregation of all\nprojects, use all-projects.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging\nto the bot group but having bot-like names) or user (registered account not in bot\ngroup nor having bot-like name). If you are interested in edits regardless of\ntheir editor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (new pages in content\nnamespaces) or non-content (new pages in non-content namespaces). If you are\ninterested in new-articles regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"granularity","in":"path","description":"The time unit for the response data. As of today, supported values are\ndaily and monthly.\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The date of the first day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The date of the last day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/new-pages"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/new-pages"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/edited-pages/top-by-absolute-bytes-difference/{project}/{editor-type}/{page-type}/{year}/{month}/{day}":{"get":{"tags":["Edited pages data"],"summary":"Get top 100 edited-pages by absolute bytes-difference.","description":"Given a Mediawiki project and a date (day or month), returns a timeseries of the top 100\nedited-pages by absolute bytes-difference. You can filter by editor-type (all-editor-types,\nanonymous, group-bot, name-bot, user) or page-type (all-page-types, content or non-content).\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia. For\nprojects like www.mediawiki.org, you can use that full string, or just use mediawiki\nor mediawiki.org.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (edits on pages in content\nnamespaces) or non-content (edits on pages in non-content namespaces). If you are\ninterested in edits regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"year","in":"path","description":"The year of the date for which to retrieve top edited-pages, in YYYY format.","required":true,"schema":{"type":"string"}},{"name":"month","in":"path","description":"The month of the date for which to retrieve top edited-pages, in MM format. If you want to get the top edited-pages of a whole month, the day parameter should be all-days.","required":true,"schema":{"type":"string"}},{"name":"day","in":"path","description":"The day of the date for which to retrieve top edited-pages, in DD format, or all-days for a monthly value.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/top-edited-pages-by-abs-bytes-diff"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/top-edited-pages-by-abs-bytes-diff"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/edited-pages/top-by-edits/{project}/{editor-type}/{page-type}/{year}/{month}/{day}":{"get":{"tags":["Edited pages data"],"summary":"Get top 100 edited-pages by edits count.","description":"Given a Mediawiki project and a date (day or month), returns a timeseries of the top\n100 edited-pages by edits count. You can filter by editor-type (all-editor-types,\nanonymous, group-bot, name-bot, user) or page-type (all-page-types, content or\nnon-content).\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia. For\nprojects like www.mediawiki.org, you can use that full string, or just use mediawiki\nor mediawiki.org.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (edits on pages in content\nnamespaces) or non-content (edits on pages in non-content namespaces). If you are\ninterested in edits regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"year","in":"path","description":"The year of the date for which to retrieve top edited-pages, in YYYY format.","required":true,"schema":{"type":"string"}},{"name":"month","in":"path","description":"The month of the date for which to retrieve top edited-pages, in MM format. If you want to get the top edited-pages of a whole month, the day parameter should be all-days.","required":true,"schema":{"type":"string"}},{"name":"day","in":"path","description":"The day of the date for which to retrieve top edited-pages, in DD format, or all-days for a monthly value.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/top-edited-pages-by-edits"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/top-edited-pages-by-edits"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/edited-pages/top-by-net-bytes-difference/{project}/{editor-type}/{page-type}/{year}/{month}/{day}":{"get":{"tags":["Edited pages data"],"summary":"Get top 100 edited-pages by net bytes-difference.","description":"Given a Mediawiki project and a date (day or month), returns a timeseries of the top 100\nedited-pages by net bytes-difference. You can filter by editor-type (all-editor-types,\nanonymous, group-bot, name-bot, user) or page-type (all-page-types, content or non-content).\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia. For\nprojects like www.mediawiki.org, you can use that full string, or just use mediawiki\nor mediawiki.org.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (edits on pages in content\nnamespaces) or non-content (edits on pages in non-content namespaces). If you are\ninterested in edits regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"year","in":"path","description":"The year of the date for which to retrieve top edited-pages, in YYYY format.","required":true,"schema":{"type":"string"}},{"name":"month","in":"path","description":"The month of the date for which to retrieve top edited-pages, in MM format. If you want to get the top edited-pages of a whole month, the day parameter should be all-days.","required":true,"schema":{"type":"string"}},{"name":"day","in":"path","description":"The day of the date for which to retrieve top edited-pages, in DD format, or all-days for a monthly value.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/top-edited-pages-by-net-bytes-diff"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/top-edited-pages-by-net-bytes-diff"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/editors/aggregate/{project}/{editor-type}/{page-type}/{activity-level}/{granularity}/{start}/{end}":{"get":{"tags":["Editors data"],"summary":"Get editors counts for a project.","description":"Given a Mediawiki project and a date range, returns a timeseries of its editors counts.\nYou can filter by editory-type (all-editor-types, anonymous, group-bot, name-bot, user),\npage-type (all-page-types, content or non-content) or activity-level (1..4-edits,\n5..24-edits, 25..99-edits or 100..-edits). You can choose between daily and monthly\ngranularity as well.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff.  For projects like commons without language codes, use commons.wikimedia.\nFor projects like www.mediawiki.org, you can use that full string, or just use\nmediawiki or mediawiki.org.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging\nto the bot group but having bot-like names) or user (registered account not in bot\ngroup nor having bot-like name). If you are interested in edits regardless\nof their editor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (edits made in content\nnamespaces) or non-content (edits made in non-content namespaces). If you are\ninterested in editors regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"activity-level","in":"path","description":"If you want to filter by activity-level, use one of 1..4-edits, 5..24-edits,\n25..99-edits or 100..-edits. If you are interested in editors regardless\nof their activity-level, use all-activity-levels.\n","required":true,"schema":{"type":"string","enum":["all-activity-levels","1..4-edits","5..24-edits","25..99-edits","100..-edits"]}},{"name":"granularity","in":"path","description":"The time unit for the response data. As of today, supported values are\ndaily and monthly.\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The date of the first day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The date of the last day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/editors"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/editors"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/editors/top-by-absolute-bytes-difference/{project}/{editor-type}/{page-type}/{year}/{month}/{day}":{"get":{"tags":["Editors data"],"summary":"Get top 100 editors by absolute bytes-difference.","description":"Given a Mediawiki project and a date (day or month), returns a timeseries of the top 100\neditors by absolute bytes-difference. You can filter by editor-type (all-editor-types,\nanonymous, group-bot, name-bot, user) or page-type (all-page-types, content or non-content).\nThe user_text returned is either the mediawiki user_text if the user is registered, or\nnull if user is anonymous.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia. For\nprojects like www.mediawiki.org, you can use that full string, or just use mediawiki\nor mediawiki.org.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (edits on pages in content\nnamespaces) or non-content (edits on pages in non-content namespaces). If you are\ninterested in edits regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"year","in":"path","description":"The year of the date for which to retrieve top editors, in YYYY format.","required":true,"schema":{"type":"string"}},{"name":"month","in":"path","description":"The month of the date for which to retrieve top editors, in MM format. If you want to get the top editors of a whole month, the day parameter should be all-days.","required":true,"schema":{"type":"string"}},{"name":"day","in":"path","description":"The day of the date for which to retrieve top editors, in DD format, or all-days for a monthly value.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/top-editors-by-abs-bytes-diff"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/top-editors-by-abs-bytes-diff"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/editors/top-by-edits/{project}/{editor-type}/{page-type}/{year}/{month}/{day}":{"get":{"tags":["Editors data"],"summary":"Get top 100 editors by edits count.","description":"Given a Mediawiki project and a date (day or month), returns a timeseries of the top\n100 editors by edits count. You can filter by editor-type (all-editor-types,\nanonymous, group-bot, name-bot, user) or page-type (all-page-types, content or\nnon-content). The user_text returned is either the mediawiki user_text if the user is\nregistered, or null if user is anonymous.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia. For\nprojects like www.mediawiki.org, you can use that full string, or just use mediawiki\nor mediawiki.org.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (edits on pages in content\nnamespaces) or non-content (edits on pages in non-content namespaces). If you are\ninterested in edits regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"year","in":"path","description":"The year of the date for which to retrieve top editors, in YYYY format.","required":true,"schema":{"type":"string"}},{"name":"month","in":"path","description":"The month of the date for which to retrieve top editors, in MM format. If you want to get the top editors of a whole month, the day parameter should be all-days.","required":true,"schema":{"type":"string"}},{"name":"day","in":"path","description":"The day of the date for which to retrieve top editors, in DD format, or all-days for a monthly value.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/top-editors-by-edits"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/top-editors-by-edits"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/editors/top-by-net-bytes-difference/{project}/{editor-type}/{page-type}/{year}/{month}/{day}":{"get":{"tags":["Editors data"],"summary":"Get top 100 editors by net bytes-difference.","description":"Given a Mediawiki project and a date (day or month), returns a timeseries of the top 100\neditors by net bytes-difference. You can filter by editor-type (all-editor-types, anonymous,\ngroup-bot, name-bot, user) or page-type (all-page-types, content or non-content). The\nuser_text returned is either the mediawiki user_text if the user is registered, or\n\"Anonymous Editor\" if user is anonymous.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia. For\nprojects like www.mediawiki.org, you can use that full string, or just use mediawiki\nor mediawiki.org.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (edits on pages in content\nnamespaces) or non-content (edits on pages in non-content namespaces). If you are\ninterested in edits regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"year","in":"path","description":"The year of the date for which to retrieve top editors, in YYYY format.","required":true,"schema":{"type":"string"}},{"name":"month","in":"path","description":"The month of the date for which to retrieve top editors, in MM format. If you want to get the top editors of a whole month, the day parameter should be all-days.","required":true,"schema":{"type":"string"}},{"name":"day","in":"path","description":"The day of the date for which to retrieve top editors, in DD format, or all-days for a monthly value.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/top-editors-by-net-bytes-diff"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/top-editors-by-net-bytes-diff"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/edits/aggregate/{project}/{editor-type}/{page-type}/{granularity}/{start}/{end}":{"get":{"tags":["Edits data"],"summary":"Get edits counts for a project.","description":"Given a Mediawiki project and a date range, returns a timeseries of edits counts.\nYou can filter by editors-type (all-editor-types, anonymous, bot, registered) and\npage-type (all-page-types, content or non-content). You can choose between daily and\nmonthly granularity as well.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff.  For projects like commons without language codes, use commons.wikimedia.\nFor projects like www.mediawiki.org, you can use that full string, or just use\nmediawiki or mediawiki.org. If you're interested in the aggregation of\nall projects, use all-projects.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging\nto the bot group but having bot-like names) or user (registered account not in bot\ngroup nor having bot-like name). If you are interested in edits regardless\nof their editor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"page-type","in":"path","description":"If you want to filter by page-type, use one of content (edits on pages in content\nnamespaces) or non-content (edits on pages in non-content namespaces). If you are\ninterested in edits regardless of their page-type, use all-page-types.\n","required":true,"schema":{"type":"string","enum":["all-page-types","content","non-content"]}},{"name":"granularity","in":"path","description":"The time unit for the response data. As of today, supported values are\ndaily and monthly.\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The date of the first day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The date of the last day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/edits"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/edits"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/edits/per-page/{project}/{page-title}/{editor-type}/{granularity}/{start}/{end}":{"get":{"tags":["Edits data"],"summary":"Get edit counts for a page in a project.","description":"Given a Mediawiki project, a page-title prefixed with its canonical namespace (for\ninstance 'User:Jimbo_Wales') and a date range, returns a timeseries of edit counts.\nYou can filter by editors-type (all-editor-types, anonymous, group-bot, name-bot, user).\nYou can choose between daily and monthly granularity as well.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia. For\nprojects like www.mediawiki.org, you can use that full string, or just use mediawiki\nor mediawiki.org.\n","required":true,"schema":{"type":"string"}},{"name":"page-title","in":"path","description":"The page-title to request edits for. It should be prefixed with canonical namespace.\nSpaces will be converted to underscores.\n","required":true,"schema":{"type":"string"}},{"name":"editor-type","in":"path","description":"If you want to filter by editor-type, use one of anonymous, group-bot (registered\naccounts belonging to the bot group), name-bot (registered accounts not belonging to\nthe bot group but having bot-like names) or user (registered account not in bot group\nnor having bot-like name). If you are interested in edits regardless of their\neditor-type, use all-editor-types.\n","required":true,"schema":{"type":"string","enum":["all-editor-types","anonymous","group-bot","name-bot","user"]}},{"name":"granularity","in":"path","description":"Time unit for the response data. As of today, supported values are daily and monthly\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The date of the first day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The date of the last day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/edits-per-page"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/edits-per-page"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/legacy/pagecounts/aggregate/{project}/{access-site}/{granularity}/{start}/{end}":{"get":{"tags":["Legacy data"],"description":"Given a project and a date range, returns a timeseries of pagecounts.\nYou can filter by access site (mobile or desktop) and you can choose between monthly,\ndaily and hourly granularity as well.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 100 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff. For projects like commons without language codes, use commons.wikimedia.\n","required":true,"schema":{"type":"string"}},{"name":"access-site","in":"path","description":"If you want to filter by access site, use one of desktop-site or mobile-site. If you are interested in pagecounts regardless of access site use all-sites.","required":true,"schema":{"type":"string","enum":["all-sites","desktop-site","mobile-site"]}},{"name":"granularity","in":"path","description":"The time unit for the response data. As of today, the supported granularities for\nthis endpoint are hourly, daily and monthly.\n","required":true,"schema":{"type":"string","enum":["hourly","daily","monthly"]}},{"name":"start","in":"path","description":"The timestamp of the first hour/day/month to include, in YYYYMMDDHH format.","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The timestamp of the last hour/day/month to include, in YYYYMMDDHH format.\nIn hourly and daily granularities this value is inclusive, in the monthly granularity\nthis value is exclusive.\n","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pagecounts-project"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/pagecounts-project"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/pageviews/aggregate/{project}/{access}/{agent}/{granularity}/{start}/{end}":{"get":{"tags":["Pageviews data"],"summary":"Get pageview counts for a project.","description":"Given a date range, returns a timeseries of pageview counts. You can filter by project,\naccess method and/or agent type. You can choose between daily and hourly granularity\nas well.\n\n- Stability: [stable](https://www.mediawiki.org/wiki/API_versioning#Stable)\n- Rate limit: 100 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"If you want to filter by project, use the domain of any Wikimedia project,\nfor example 'en.wikipedia.org', 'www.mediawiki.org' or 'commons.wikimedia.org'.\nIf you are interested in all pageviews regardless of project, use all-projects.\n","required":true,"schema":{"type":"string"}},{"name":"access","in":"path","description":"If you want to filter by access method, use one of desktop, mobile-app or mobile-web.\nIf you are interested in pageviews regardless of access method, use all-access.\n","required":true,"schema":{"type":"string","enum":["all-access","desktop","mobile-app","mobile-web"]}},{"name":"agent","in":"path","description":"If you want to filter by agent type, use one of user or spider. If you are interested\nin pageviews regardless of agent type, use all-agents.\n","required":true,"schema":{"type":"string","enum":["all-agents","user","spider"]}},{"name":"granularity","in":"path","description":"The time unit for the response data. As of today, the supported granularities for this\nendpoint are hourly, daily, and monthly.\n","required":true,"schema":{"type":"string","enum":["hourly","daily","monthly"]}},{"name":"start","in":"path","description":"The timestamp of the first hour/day/month to include, in YYYYMMDDHH format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The timestamp of the last hour/day/month to include, in YYYYMMDDHH format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pageview-project"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/pageview-project"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/pageviews/per-article/{project}/{access}/{agent}/{article}/{granularity}/{start}/{end}":{"get":{"tags":["Pageviews data"],"summary":"Get pageview counts for a page.","description":"Given a Mediawiki article and a date range, returns a daily timeseries of its pageview\ncounts. You can also filter by access method and/or agent type.\n\n- Stability: [stable](https://www.mediawiki.org/wiki/API_versioning#Stable)\n- Rate limit: 100 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"If you want to filter by project, use the domain of any Wikimedia project,\nfor example 'en.wikipedia.org', 'www.mediawiki.org' or 'commons.wikimedia.org'.\n","required":true,"schema":{"type":"string"}},{"name":"access","in":"path","description":"If you want to filter by access method, use one of desktop, mobile-app\nor mobile-web. If you are interested in pageviews regardless of access method,\nuse all-access.\n","required":true,"schema":{"type":"string","enum":["all-access","desktop","mobile-app","mobile-web"]}},{"name":"agent","in":"path","description":"If you want to filter by agent type, use one of user, bot or spider. If you are\ninterested in pageviews regardless of agent type, use all-agents.\n","required":true,"schema":{"type":"string","enum":["all-agents","user","spider","bot"]}},{"name":"article","in":"path","description":"'The title of any article in the specified project. Any spaces should be replaced\nwith underscores. It also should be URI-encoded, so that non-URI-safe characters like\n%, / or ? are accepted. Example: Are_You_the_One%3F'.\n","required":true,"schema":{"type":"string"}},{"name":"granularity","in":"path","description":"The time unit for the response data. As of today, the only supported granularity for\nthis endpoint is daily and monthly.\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The date of the first day to include, in YYYYMMDD or YYYYMMDDHH format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The date of the last day to include, in YYYYMMDD or YYYYMMDDHH format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pageview-article"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/pageview-article"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/pageviews/top-by-country/{project}/{access}/{year}/{month}":{"get":{"tags":["Pageviews data"],"summary":"Get pageviews by country and access method.","description":"Lists the pageviews to this project, split by country of origin for a given month.\nBecause of privacy reasons, pageviews are given in a bucketed format, and countries\nwith less than 100 views do not get reported.\nStability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 100 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"If you want to filter by project, use the domain of any Wikimedia project,\nfor example 'en.wikipedia.org', 'www.mediawiki.org' or 'commons.wikimedia.org'.\n","required":true,"schema":{"type":"string"}},{"name":"access","in":"path","description":"If you want to filter by access method, use one of desktop, mobile-app or mobile-web.\nIf you are interested in pageviews regardless of access method, use all-access.\n","required":true,"schema":{"type":"string","enum":["all-access","desktop","mobile-app","mobile-web"]}},{"name":"year","in":"path","description":"The year of the date for which to retrieve top countries, in YYYY format.","required":true,"schema":{"type":"string"}},{"name":"month","in":"path","description":"The month of the date for which to retrieve top countries, in MM format.\n","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of top countries by pageviews in the project","content":{"application/json":{"schema":{"$ref":"#/components/schemas/by-country"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/by-country"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/pageviews/top/{project}/{access}/{year}/{month}/{day}":{"get":{"tags":["Pageviews data"],"summary":"Get the most viewed articles for a project.","description":"Lists the 1000 most viewed articles for a given project and timespan (month or day).\nYou can filter by access method.\n\n- Stability: [stable](https://www.mediawiki.org/wiki/API_versioning#Stable)\n- Rate limit: 100 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"If you want to filter by project, use the domain of any Wikimedia project,\nfor example 'en.wikipedia.org', 'www.mediawiki.org' or 'commons.wikimedia.org'.\n","required":true,"schema":{"type":"string"}},{"name":"access","in":"path","description":"If you want to filter by access method, use one of desktop, mobile-app or mobile-web.\nIf you are interested in pageviews regardless of access method, use all-access.\n","required":true,"schema":{"type":"string","enum":["all-access","desktop","mobile-app","mobile-web"]}},{"name":"year","in":"path","description":"The year of the date for which to retrieve top articles, in YYYY format.","required":true,"schema":{"type":"string"}},{"name":"month","in":"path","description":"The month of the date for which to retrieve top articles, in MM format. If you want\nto get the top articles of a whole month, the day parameter should be all-days.\n","required":true,"schema":{"type":"string"}},{"name":"day","in":"path","description":"The day of the date for which to retrieve top articles, in DD format.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of top articles in the project","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pageview-tops"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/pageview-tops"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/registered-users/new/{project}/{granularity}/{start}/{end}":{"get":{"tags":["Registered users data"],"summary":"Get newly registered users counts for a project.","description":"Given a Mediawiki project and a date range, returns a timeseries of its newly registered\nusers counts. You can choose between daily and monthly granularity. The newly registered\nusers value is computed with self-created users only, not auto-login created ones.\n\n- Stability: [experimental](https://www.mediawiki.org/wiki/API_versioning#Experimental)\n- Rate limit: 25 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"The name of any Wikimedia project formatted like {language code}.{project name},\nfor example en.wikipedia. You may pass en.wikipedia.org and the .org will be stripped\noff.  For projects like commons without language codes, use commons.wikimedia.\nFor projects like www.mediawiki.org, you can use that full string, or just use\nmediawiki or mediawiki.org. If you're interested in the aggregation of\nall projects, use all.\n","required":true,"schema":{"type":"string"}},{"name":"granularity","in":"path","description":"The time unit for the response data. As of today, supported values are\ndaily and monthly.\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The date of the first day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The date of the last day to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/new-registered-users"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/new-registered-users"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/metrics/unique-devices/{project}/{access-site}/{granularity}/{start}/{end}":{"get":{"tags":["Unique devices data"],"summary":"Get unique devices count per project","description":"Given a project and a date range, returns a timeseries of unique devices counts.\nYou need to specify a project, and can filter by accessed site (mobile or desktop).\nYou can choose between daily and hourly granularity as well.\n\n- Stability: [stable](https://www.mediawiki.org/wiki/API_versioning#Stable)\n- Rate limit: 100 req/s\n- License: Data accessible via this endpoint is available under the\n  [CC0 1.0 license](https://creativecommons.org/publicdomain/zero/1.0/).\n","parameters":[{"name":"project","in":"path","description":"If you want to filter by project, use the domain of any Wikimedia project,\nfor example 'en.wikipedia.org', 'www.mediawiki.org' or 'commons.wikimedia.org'.\n","required":true,"schema":{"type":"string"}},{"name":"access-site","in":"path","description":"If you want to filter by accessed site, use one of desktop-site or mobile-site.\nIf you are interested in unique devices regardless of accessed site, use or all-sites.\n","required":true,"schema":{"type":"string","enum":["all-sites","desktop-site","mobile-site"]}},{"name":"granularity","in":"path","description":"The time unit for the response data. As of today, the supported granularities\nfor this endpoint are daily and monthly.\n","required":true,"schema":{"type":"string","enum":["daily","monthly"]}},{"name":"start","in":"path","description":"The timestamp of the first day/month to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}},{"name":"end","in":"path","description":"The timestamp of the last day/month to include, in YYYYMMDD format","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unique-devices"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/unique-devices"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/transform/html/from/{from_lang}/to/{to_lang}":{"post":{"tags":["Transform"],"summary":"Machine-translate content","description":"Fetches the machine translation for the posted content from the source\nto the destination language.\n\nStability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)\n","parameters":[{"name":"from_lang","in":"path","description":"The source language code","required":true,"schema":{"type":"string"}},{"name":"to_lang","in":"path","description":"The target language code","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["html"],"type":"object","properties":{"html":{"type":"string","description":"The HTML content to translate"}}}}},"required":true},"responses":{"200":{"description":"The translated content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cx_mt"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/cx_mt"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/transform/html/from/{from_lang}/to/{to_lang}/{provider}":{"post":{"tags":["Transform"],"summary":"Machine-translate content","description":"Fetches the machine translation for the posted content from the source\nto the destination language.\n\nStability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)\n","parameters":[{"name":"from_lang","in":"path","description":"The source language code","required":true,"schema":{"type":"string"}},{"name":"to_lang","in":"path","description":"The target language code","required":true,"schema":{"type":"string"}},{"name":"provider","in":"path","description":"The machine translation provider id","required":true,"schema":{"type":"string","enum":["Apertium","Yandex","Youdao"]}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["html"],"type":"object","properties":{"html":{"type":"string","description":"The HTML content to translate"}}}}},"required":true},"responses":{"200":{"description":"The translated content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cx_mt"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/cx_mt"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/transform/list/languagepairs/":{"get":{"tags":["Transform"],"summary":"Lists the language pairs supported by the back-end","description":"Fetches the list of language pairs the back-end service can translate\n\nStability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)\n","responses":{"200":{"description":"the list of source and target languages supported by the API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cx_languagepairs"}}}}}}},"/transform/list/pair/{from}/{to}/":{"get":{"tags":["Transform"],"summary":"Lists the tools available for a language pair","description":"Fetches the list of tools that are available for the given pair of languages.\n\nStability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)\n","parameters":[{"name":"from","in":"path","description":"The source language code","required":true,"schema":{"type":"string"}},{"name":"to","in":"path","description":"The target language code","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"the list of tools available for the language pair","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cx_list_tools"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/cx_list_tools"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/transform/list/tool/{tool}":{"get":{"tags":["Transform"],"summary":"Lists the tools and language pairs available for the given tool category","description":"Fetches the list of tools and all of the language pairs it can translate\n\nStability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)\n","parameters":[{"name":"tool","in":"path","description":"The tool category to list tools and language pairs for","required":true,"schema":{"type":"string","enum":["mt","dictionary"]}}],"responses":{"200":{"description":"the list of language pairs available for a given translation tool","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cx_list_pairs_for_tool"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/cx_list_pairs_for_tool"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/transform/list/tool/{tool}/{from}":{"get":{"tags":["Transform"],"summary":"Lists the tools and language pairs available for the given tool category","description":"Fetches the list of tools and all of the language pairs it can translate\n\nStability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)\n","parameters":[{"name":"tool","in":"path","description":"The tool category to list tools and language pairs for","required":true,"schema":{"type":"string","enum":["mt","dictionary"]}},{"name":"from","in":"path","description":"The source language code","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"the list of language pairs available for a given translation tool","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cx_list_pairs_for_tool"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/cx_list_pairs_for_tool"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/transform/list/tool/{tool}/{from}/{to}":{"get":{"tags":["Transform"],"summary":"Lists the tools and language pairs available for the given tool category","description":"Fetches the list of tools and all of the language pairs it can translate\n\nStability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)\n","parameters":[{"name":"tool","in":"path","description":"The tool category to list tools and language pairs for","required":true,"schema":{"type":"string","enum":["mt","dictionary"]}},{"name":"from","in":"path","description":"The source language code","required":true,"schema":{"type":"string"}},{"name":"to","in":"path","description":"The target language code","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"the list of language pairs available for a given translation tool","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cx_list_pairs_for_tool"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/cx_list_pairs_for_tool"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/transform/word/from/{from_lang}/to/{to_lang}/{word}":{"get":{"tags":["Transform"],"summary":"Fetch the dictionary meaning of a word","description":"Fetches the dictionary meaning of a word from a language and displays\nit in the target language.\n\nStability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)\n","parameters":[{"name":"from_lang","in":"path","description":"The source language code","required":true,"schema":{"type":"string"}},{"name":"to_lang","in":"path","description":"The target language code","required":true,"schema":{"type":"string"}},{"name":"word","in":"path","description":"The word to lookup","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"the dictionary translation for the given word","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cx_dict"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/cx_dict"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}},"/transform/word/from/{from_lang}/to/{to_lang}/{word}/{provider}":{"get":{"tags":["Transform"],"summary":"Fetch the dictionary meaning of a word","description":"Fetches the dictionary meaning of a word from a language and displays\nit in the target language.\n\nStability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)\n","parameters":[{"name":"from_lang","in":"path","description":"The source language code","required":true,"schema":{"type":"string"}},{"name":"to_lang","in":"path","description":"The target language code","required":true,"schema":{"type":"string"}},{"name":"word","in":"path","description":"The word to lookup","required":true,"schema":{"type":"string"}},{"name":"provider","in":"path","description":"The dictionary provider id","required":true,"schema":{"type":"string","enum":["JsonDict","Dictd"]}}],"responses":{"200":{"description":"the dictionary translation for the given word","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cx_dict"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/cx_dict"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/problem"}},"application/problem+json":{"schema":{"$ref":"#/components/schemas/problem"}}}}}}}},"components":{"schemas":{"absolute-bytes-difference":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"abs_bytes_diff":{"type":"integer","format":"int64"},"timestamp":{"type":"string"}}}}}}}}},"absolute-bytes-difference-per-editor":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"abs_bytes_diff":{"type":"integer","format":"int64"},"timestamp":{"type":"string"}}}},"user-text":{"type":"string"}}}}}},"absolute-bytes-difference-per-page":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-title":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"abs_bytes_diff":{"type":"integer","format":"int64"},"timestamp":{"type":"string"}}}}}}}}},"availability":{"required":["in_the_news","most_read","on_this_day","picture_of_the_day","todays_featured_article"],"type":"object","properties":{"in_the_news":{"type":"array","description":"domains for wikis with this feature enabled, or [ '*.<project>.org' ] for all wikis in a project","items":{"type":"string"}},"most_read":{"type":"array","description":"domains for wikis with this feature enabled, or [ '*.<project>.org' ] for all wikis in a project","items":{"type":"string"}},"on_this_day":{"type":"array","description":"domains for wikis with this feature enabled, or [ '*.<project>.org' ] for all wikis in a project","items":{"type":"string"}},"picture_of_the_day":{"type":"array","description":"domains for wikis with this feature enabled, or [ '*.<project>.org' ] for all wikis in a project","items":{"type":"string"}},"todays_featured_article":{"type":"array","description":"domains for wikis with this feature enabled, or [ '*.<project>.org' ] for all wikis in a project","items":{"type":"string"}}}},"by-country":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"access":{"type":"string"},"countries":{"type":"array","items":{"type":"object","properties":{"country":{"type":"string"},"rank":{"type":"integer","format":"int32"},"views":{"type":"integer","format":"int64"}}}},"month":{"type":"string"},"project":{"type":"string"},"year":{"type":"string"}}}}}},"cx_dict":{"type":"object","properties":{"source":{"type":"string","description":"the original word to look up"},"translations":{"type":"array","description":"the translations found","items":{"type":"object","properties":{"info":{"type":"string","description":"extra information about the phrase"},"phrase":{"type":"string","description":"the translated phrase"},"sources":{"type":"string","description":"the source dictionary used for the translation"}}}}}},"cx_languagepairs":{"type":"object","properties":{"source":{"type":"array","description":"the list of available source languages","items":{"type":"string","description":"one source language"}},"target":{"type":"array","description":"the list of available destination languages","items":{"type":"string","description":"one destination language"}}}},"cx_list_pairs_for_tool":{"type":"object"},"cx_list_tools":{"type":"object","properties":{"tools":{"type":"array","description":"the list of tools available for the given language pair","items":{"type":"string","description":"the tool available"}}}},"cx_mt":{"type":"object","properties":{"contents":{"type":"string","description":"the translated content"}}},"edited-pages":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"activity-level":{"type":"string"},"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"edited_pages":{"type":"integer","format":"int32"},"timestamp":{"type":"string"}}}}}}}}},"editors":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"activity-level":{"type":"string"},"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"editors":{"type":"integer","format":"int32"},"timestamp":{"type":"string"}}}}}}}}},"edits":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"edits":{"type":"integer","format":"int64"},"timestamp":{"type":"string"}}}}}}}}},"edits-per-editor":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"edits":{"type":"integer","format":"int64"},"timestamp":{"type":"string"}}}},"user-text":{"type":"string"}}}}}},"edits-per-page":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-title":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"edits":{"type":"integer","format":"int64"},"timestamp":{"type":"string"}}}}}}}}},"listing":{"required":["items"],"type":"object","properties":{"items":{"type":"array","items":{"type":"string"}}},"description":"The result format for listings"},"net-bytes-difference":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"net_bytes_diff":{"type":"integer","format":"int64"},"timestamp":{"type":"string"}}}}}}}}},"net-bytes-difference-per-editor":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"net_bytes_diff":{"type":"integer","format":"int64"},"timestamp":{"type":"string"}}}},"user-text":{"type":"string"}}}}}},"net-bytes-difference-per-page":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-title":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"net_bytes_diff":{"type":"integer","format":"int64"},"timestamp":{"type":"string"}}}}}}}}},"new-pages":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"new_pages":{"type":"integer","format":"int32"},"timestamp":{"type":"string"}}}}}}}}},"new-registered-users":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"granularity":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"new_registered_users":{"type":"integer","format":"int32"},"timestamp":{"type":"string"}}}}}}}}},"originalimage":{"required":["height","source","width"],"type":"object","properties":{"height":{"type":"integer","description":"Original image height"},"source":{"type":"string","description":"Original image URI"},"width":{"type":"integer","description":"Original image width"}}},"pagecounts-project":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"access-site":{"type":"string"},"count":{"type":"integer","format":"int64"},"granularity":{"type":"string"},"project":{"type":"string"},"timestamp":{"type":"string"}}}}}},"pageview-article":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"access":{"type":"string"},"agent":{"type":"string"},"article":{"type":"string"},"granularity":{"type":"string"},"project":{"type":"string"},"timestamp":{"type":"string"},"views":{"type":"integer","format":"int64"}}}}}},"pageview-project":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"access":{"type":"string"},"agent":{"type":"string"},"granularity":{"type":"string"},"project":{"type":"string"},"timestamp":{"type":"string"},"views":{"type":"integer","format":"int64"}}}}}},"pageview-tops":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"access":{"type":"string"},"articles":{"type":"array","items":{"type":"object","properties":{"article":{"type":"string"},"rank":{"type":"integer","format":"int32"},"views":{"type":"integer","format":"int64"}}}},"day":{"type":"string"},"month":{"type":"string"},"project":{"type":"string"},"year":{"type":"string"}}}}}},"problem":{"required":["type"],"type":"object","properties":{"detail":{"type":"string"},"method":{"type":"string"},"status":{"type":"integer"},"title":{"type":"string"},"type":{"type":"string"},"uri":{"type":"string"}}},"summary":{"required":["dir","extract","lang","title"],"type":"object","properties":{"coordinates":{"required":["lat","lon"],"type":"object","properties":{"lat":{"type":"number","description":"The latitude"},"lon":{"type":"number","description":"The longitude"}},"description":"The coordinates of the item"},"description":{"type":"string","description":"Wikidata description for the page","example":"American poet"},"dir":{"type":"string","description":"The page language direction code","example":"ltr"},"displaytitle":{"type":"string","description":"The page title how it should be shown to the user"},"extract":{"type":"string","description":"First several sentences of an article in plain text"},"extract_html":{"type":"string","description":"First several sentences of an article in simple HTML format"},"lang":{"type":"string","description":"The page language code","example":"en"},"originalimage":{"$ref":"#/components/schemas/originalimage"},"pageid":{"type":"integer","description":"The page ID"},"thumbnail":{"$ref":"#/components/schemas/thumbnail"},"timestamp":{"type":"string","description":"The time when the page was last editted in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format","example":"1970-01-01T00:00:00.000Z"},"title":{"type":"string","description":"The page title"}}},"thumbnail":{"required":["height","source","width"],"type":"object","properties":{"height":{"type":"integer","description":"Thumnail height"},"source":{"type":"string","description":"Thumbnail image URI"},"width":{"type":"integer","description":"Thumbnail width"}}},"top-edited-pages-by-abs-bytes-diff":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string"},"top":{"type":"array","items":{"type":"object","properties":{"abs_bytes_diff":{"type":"integer","format":"int64"},"page_title":{"type":"string"},"rank":{"type":"integer","format":"int32"}}}}}}}}}}}},"top-edited-pages-by-edits":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string"},"top":{"type":"array","items":{"type":"object","properties":{"edits":{"type":"integer","format":"int64"},"page_title":{"type":"string"},"rank":{"type":"integer","format":"int32"}}}}}}}}}}}},"top-edited-pages-by-net-bytes-diff":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string"},"top":{"type":"array","items":{"type":"object","properties":{"net_bytes_diff":{"type":"integer","format":"int64"},"page_title":{"type":"string"},"rank":{"type":"integer","format":"int32"}}}}}}}}}}}},"top-editors-by-abs-bytes-diff":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string"},"top":{"type":"array","items":{"type":"object","properties":{"abs_bytes_diff":{"type":"integer","format":"int64"},"rank":{"type":"integer","format":"int32"},"user_text":{"type":"string"}}}}}}}}}}}},"top-editors-by-edits":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string"},"top":{"type":"array","items":{"type":"object","properties":{"edits":{"type":"integer","format":"int64"},"rank":{"type":"integer","format":"int32"},"user_text":{"type":"string"}}}}}}}}}}}},"top-editors-by-net-bytes-diff":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"editor-type":{"type":"string"},"granularity":{"type":"string"},"page-type":{"type":"string"},"project":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string"},"top":{"type":"array","items":{"type":"object","properties":{"net_bytes_diff":{"type":"integer","format":"int64"},"rank":{"type":"integer","format":"int32"},"user_text":{"type":"string"}}}}}}}}}}}},"unique-devices":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"access-site":{"type":"string"},"devices":{"type":"integer","format":"int64"},"granularity":{"type":"string"},"project":{"type":"string"},"timestamp":{"type":"string"}}}}}}},"securitySchemes":{"mediawiki_auth":{"type":"apiKey","description":"Checks permissions using MW api","name":"cookie","in":"header"}}}}