{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "U.S. EPA Enforcement and Compliance History Online (ECHO) - All Data",
    "description" : "Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use.  ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.\n   ECHO Rest Services provide multiple service endpoints, each with specific capabilities, to search and retrieve data on facilities regulated as Clean Air Act (CAA) stationary sources, Clean Water Act (CWA) dischargers, Resource Conservation and Recovery Act (RCRA) hazardous waste generators/handlers, and Safe Drinking Water Act (SDWA) public water systems.  Data of interest from other EPA sources, such as the Toxics Release Inventory, is also supplied for context.  \n\\\nThe get_facilities, get_map, get_qid, and get_download end points are meant to be used together, while the enhanced get_facility_info end point is self contained.\n    The get_facility_info end point returns either an array of state, county or zip clusters with summary statistics per cluster or an array of facilities.\n\\\nThe recommended use scenario for get_facilities, get_qid, get_map, and get_downoad is:\n\\\n <b>1)</b>  Use get_facilities to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.\n <b>2)</b>  Use get_qid, with the returned QID, to paginate through arrays of facility results.\n <b>3)</b>  Use get_map, with the returned QID, to zoom in/out and pan on the clustered and individual facility coordinates that meet the QID query criteria.\n <b>4)</b>  Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of facility information that meets the QID query criteria.\n\\\n\\\nUse the qcolumns parameter to customize your search results.  Use the Metadata service endpoint for a list of available output objects, their Column Ids, and their definitions to help you build your customized output. \n\\\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n ",
    "contact" : {
      "name" : "U.S. EPA, OECA Integration, Targeting and Access Branch",
      "url" : "https://echo.epa.gov/resources/general-info/contact-us"
    },
    "license" : {
      "name" : "U.S. Public Domain License",
      "url" : "https://edg.epa.gov/EPA_Data_License.html"
    },
    "version" : "2019.10.15"
  },
  "servers" : [ {
    "url" : "https://echodata.epa.gov/echo"
  } ],
  "paths" : {
    "/echo_rest_services.get_download" : {
      "get" : {
        "tags" : [ "Facility Info" ],
        "summary" : "Combined ECHO Download Data Service",
        "description" : "Based on the QID obtained from a get_facilities or get_facility_info query, return a comma separated value (CSV) file of the facilities found.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- CSV = Facility results formatted as comma delimited file download (default).\n- GEOJSOND = Facility results formatted as GeoJSON feature collection download.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "qid",
          "in" : "query",
          "description" : "Query ID Selector.  Enter the QueryID number from a previously run query.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "qcolumns",
          "in" : "query",
          "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pretty_print",
          "in" : "query",
          "description" : "Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost.",
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file or a file containing a GeoJSON feature collection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Facility Info" ],
        "summary" : "Combined ECHO Download Data Service",
        "description" : "Based on the QID obtained from a get_facilities or get_facility_info query, return a comma separated value (CSV) file of the facilities found.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "qid" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- CSV = Facility results formatted as comma delimited file download (default).\n- GEOJSOND = Facility results formatted as GeoJSON feature collection download."
                  },
                  "qid" : {
                    "type" : "string",
                    "description" : "Query ID Selector.  Enter the QueryID number from a previously run query."
                  },
                  "qcolumns" : {
                    "type" : "string",
                    "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."
                  },
                  "p_pretty_print" : {
                    "type" : "number",
                    "description" : "Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file or a file containing a GeoJSON feature collection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/echo_rest_services.get_facilities" : {
      "get" : {
        "tags" : [ "Facility Info" ],
        "summary" : "Combined ECHO Facility Search Service",
        "description" : "Validates query search parameters and returns query identifier.  Use the responseset parameter to set the page size",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_fn",
          "in" : "query",
          "description" : "Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sa",
          "in" : "query",
          "description" : "Facility street address. Enter a complete or partial street address.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sa1",
          "in" : "query",
          "description" : "Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ct",
          "in" : "query",
          "description" : "Facility City Filter. Enter a single case-insensitive city name to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_co",
          "in" : "query",
          "description" : "Facility County Filter. Provide a single county name in combination with a state value provided via p_st.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fips",
          "in" : "query",
          "description" : "FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_st",
          "in" : "query",
          "description" : "Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_zip",
          "in" : "query",
          "description" : "5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_frs",
          "in" : "query",
          "description" : "Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_reg",
          "in" : "query",
          "description" : "EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.",
          "schema" : {
            "type" : "string",
            "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10" ]
          }
        }, {
          "name" : "p_sic",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ncs",
          "in" : "query",
          "description" : "North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pen",
          "in" : "query",
          "description" : "Last Penality Date Qualifier Filter.  Enter one of the following:   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for a facility with a penalty within previous 5 months.\n- GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_c1lat",
          "in" : "query",
          "description" : "In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_c1lon",
          "in" : "query",
          "description" : "In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_c2lat",
          "in" : "query",
          "description" : "In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_c2lon",
          "in" : "query",
          "description" : "In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_usmex",
          "in" : "query",
          "description" : "US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_sic2",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing \"22\" to match all SIC codes beginning with 22.  Use the \"%\" character within strings to match any SIC values with the pattern.  For example, \"2%21\" matches 2021, 2121, 2221, etc.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sic4",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fa",
          "in" : "query",
          "description" : "Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ff",
          "in" : "query",
          "description" : "Federal Facility Indicator Flag. Enter Y to restrict searches to federal facilities.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y" ]
          }
        }, {
          "name" : "p_act",
          "in" : "query",
          "description" : "Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N", "A" ]
          }
        }, {
          "name" : "p_maj",
          "in" : "query",
          "description" : "Major Facility Flag.  Enter Y to restrict results to Major facilities only.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_mact",
          "in" : "query",
          "description" : "CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fea",
          "in" : "query",
          "description" : "Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N" ]
          }
        }, {
          "name" : "p_feay",
          "in" : "query",
          "description" : "Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_feaa",
          "in" : "query",
          "description" : "Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All",
          "schema" : {
            "type" : "string",
            "enum" : [ "A", "E", "S" ]
          }
        }, {
          "name" : "p_feac",
          "in" : "query",
          "description" : "Formal Enforcment Action Last Case Date Limiter Flag.  Enter a value of \"Y\" to additionally apply the p_feay year filter to the last formal enforcement action case date.  Use the p_fea parameter to control if the filter is within or outside the date span provided.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fea_5yr",
          "in" : "query",
          "description" : "A Y value identifies facilities that have had a formal enforcement action within the last 5 years.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_iea",
          "in" : "query",
          "description" : "Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N" ]
          }
        }, {
          "name" : "p_ieay",
          "in" : "query",
          "description" : "Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_ieaa",
          "in" : "query",
          "description" : "Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State",
          "schema" : {
            "type" : "string",
            "enum" : [ "E", "S" ]
          }
        }, {
          "name" : "p_iea_5yr",
          "in" : "query",
          "description" : "A Y value identifies facilities that have had an informal enforcement action within the last 5 years.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_cs",
          "in" : "query",
          "description" : "Facility Compliance Limiter.  Enter 2, 3 or 4 to limit facilities returned.\n- 2 = Facilities in noncompliance.\n- 3 = Facilities having one or more programs reporting significant noncompliance.\n- 4 = Facilities having more than one program reporting significant noncompliance.",
          "schema" : {
            "type" : "number",
            "enum" : [ 2, 3, 4 ]
          }
        }, {
          "name" : "p_qiv",
          "in" : "query",
          "description" : "Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.",
          "schema" : {
            "type" : "string",
            "enum" : [ "0", "GT1", "GT2", "GT4", "GT8", "12" ]
          }
        }, {
          "name" : "p_naa",
          "in" : "query",
          "description" : "Non-Attainment Area Flag.  Enter a Y or N to filter for or against facilities flagged as non-attainment areas.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_impw",
          "in" : "query",
          "description" : "Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_trep",
          "in" : "query",
          "description" : "Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.\n- CURR = Current TRI reporter.\n- NONCURR = Has reported to TRI in the past but not for the current reporting year.",
          "schema" : {
            "type" : "string",
            "enum" : [ "CURR", "NOTCURR" ]
          }
        }, {
          "name" : "p_ocr",
          "in" : "query",
          "description" : "Toxics Release Inventory Pounds of On-Site Chemical Releases Limiter.  Enter a keyword to filter results.\n- Z = Zero pounds of chemical releases.\n- GT0 = More than zero pounds of chemical releases.\n- GT1000 = More than one thousand pounds of chemical releases.\n- GT5000 = More than five thousand pounds of chemical releases.\n- GT10000 = More than ten thousand pounds of chemical releases.\n- GT20000 = More than twenty thousand pounds of chemical releases.\n- GT50000 = More than fifty thousand pounds of chemical releases.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_oct",
          "in" : "query",
          "description" : "Toxic Release Inventory Pounds of Off-Site Chemical Releases Limiter.  Enter a keyword to filter results.\n- Z = Zero pounds of chemical releases.\n- GT0 = More than zero pounds of chemical releases.\n- GT1000 = More than one thousand pounds of chemical releases.\n- GT5000 = More than five thousand pounds of chemical releases.\n- GT10000 = More than ten thousand pounds of chemical releases.\n- GT20000 = More than twenty thousand pounds of chemical releases.\n- GT50000 = More than fifty thousand pounds of chemical releases.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Z", "GT0", "GT1000", "GT5000", "GT10000", "GT20000", "GT50000" ]
          }
        }, {
          "name" : "p_pm",
          "in" : "query",
          "description" : "Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.\n- NONE = 0%\n- GT5 = greater than 5%\n- GT10 = greater than 10%\n- GT25 = greater than 25%\n- GT50 = greater than 50%\n- GT75 = greater than 75%",
          "schema" : {
            "type" : "string",
            "enum" : [ "NONE", "GT5", "GT10", "GT25", "GT50", "GT75" ]
          }
        }, {
          "name" : "p_pd",
          "in" : "query",
          "description" : "Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.\n- NONE = 0 population density per square mile\n- GT100 = More than 100 population density per square mile\n- GT500 = More than 500 population density per square mile\n- GT1000 = More than 1000 population density per square mile\n- GT5000 = More than 5000 population density per square mile\n- GT10000 = More than 10000 population density per square mile\n- GT20000 = More than 20000 population density per square mile",
          "schema" : {
            "type" : "string",
            "enum" : [ "NONE", "GT100", "GT500", "GT1000", "GT5000", "GT10000", "GT20000" ]
          }
        }, {
          "name" : "p_ico",
          "in" : "query",
          "description" : "Indian Country Flag.  Enter a \"Y\" or \"N\" to restrict searches to facilities inside or outside Indian Country.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_huc",
          "in" : "query",
          "description" : "2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pid",
          "in" : "query",
          "description" : "Nine-digit permit IDs. May contain up to 2000 comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_med",
          "in" : "query",
          "description" : "Filter Results by Media.- A = Air- C = CAMD (Clean Air Markets Division)- E = EIS (Emissions Inventory Systems)- G = GHG (Greenhouse Gases)- M = RMP (Risk Management Plan)- R = RCRA (Hazardous Waste)- S = SDWA (Public Drinking Water Systems)- T = TRI (Toxic Release Inventory)- TSCA = TSCA (Toxic Substances Control Act)- W = Water- ALL = Air and Water and RCRA",
          "schema" : {
            "type" : "string",
            "enum" : [ "A", "C", "E", "G", "M", "R", "S", "T", "TSCA", "W", "ALL" ]
          }
        }, {
          "name" : "p_istatute",
          "in" : "query",
          "description" : "For use in identifying Facilities that have an inspection performed under the entered Statute.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ysl",
          "in" : "query",
          "description" : "Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N", "NV" ]
          }
        }, {
          "name" : "p_ysly",
          "in" : "query",
          "description" : "Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_ysla",
          "in" : "query",
          "description" : "Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State",
          "schema" : {
            "type" : "string",
            "enum" : [ "E", "S", "A" ]
          }
        }, {
          "name" : "p_qs",
          "in" : "query",
          "description" : "Quick Search. Allows entry for city, state, and/or zip code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sfs",
          "in" : "query",
          "description" : "Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_tribeid",
          "in" : "query",
          "description" : "Numeric code for tribe (or list of tribes).",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_tribename",
          "in" : "query",
          "description" : "Tribe Name Filter.  Enter a single tribe name to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_tribedist",
          "in" : "query",
          "description" : "Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_wbd",
          "in" : "query",
          "description" : "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fntype",
          "in" : "query",
          "description" : "Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = ",
          "schema" : {
            "type" : "string",
            "enum" : [ "ALL", "CONTAINS", "EXACT", "BEGINS" ]
          }
        }, {
          "name" : "p_icoo",
          "in" : "query",
          "description" : "Indian country search and/or flag.  Enter \"Y\" to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fac_icos",
          "in" : "query",
          "description" : "FRS tribal land spatial flag.  Enter \"Y\" or \"N\" to include or exclude facilities based on FRS tribal land spatial flag.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ejscreen",
          "in" : "query",
          "description" : "Enter \"Y\" to limit facilities to Census block groups where one of more Environmental Justice indexes above 80th percentile.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_limit_addr",
          "in" : "query",
          "description" : "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  ",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_lat",
          "in" : "query",
          "description" : "Latitude location in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_long",
          "in" : "query",
          "description" : "Longitude location in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_radius",
          "in" : "query",
          "description" : "Spatial Search Radius.  Enter a radius up to 100 miles in which to spatially search for facilities.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_ejscreen_over80cnt",
          "in" : "query",
          "description" : "The number of Environmenmt Justice Indicators above the 80th percentile.  Valid values are 1 through 11.",
          "schema" : {
            "type" : "string",
            "enum" : [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11" ]
          }
        }, {
          "name" : "p_agoo",
          "in" : "query",
          "description" : "Indicates whether to AND or OR the Owner/Operator parameter (p_owop) and the federal agency code (p_fa) parameters.",
          "schema" : {
            "type" : "string",
            "enum" : [ "AND", "OR" ]
          }
        }, {
          "name" : "p_neiu",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "queryset",
          "in" : "query",
          "description" : "Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "responseset",
          "in" : "query",
          "description" : "Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "tablelist",
          "in" : "query",
          "description" : "Table List Flag. Enter a Y to display the first page of facility results.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "maplist",
          "in" : "query",
          "description" : "Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "summarylist",
          "in" : "query",
          "description" : "Summary List Flag.  Enter a Y to return a list of summary statistics based on the parameters submitted to the query service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "qcolumns",
          "in" : "query",
          "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Results are summary statistics for the query and a query identifier (QID).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/echo04"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/echo04"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Facility Info" ],
        "summary" : "Combined ECHO Facility Search Service",
        "description" : "Validates query search parameters and returns query identifier.  Use the responseset parameter to set the page size",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_fn" : {
                    "type" : "string",
                    "description" : "Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers."
                  },
                  "p_sa" : {
                    "type" : "string",
                    "description" : "Facility street address. Enter a complete or partial street address."
                  },
                  "p_sa1" : {
                    "type" : "string",
                    "description" : "Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa."
                  },
                  "p_ct" : {
                    "type" : "string",
                    "description" : "Facility City Filter. Enter a single case-insensitive city name to filter results."
                  },
                  "p_co" : {
                    "type" : "string",
                    "description" : "Facility County Filter. Provide a single county name in combination with a state value provided via p_st."
                  },
                  "p_fips" : {
                    "type" : "string",
                    "description" : "FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059."
                  },
                  "p_st" : {
                    "type" : "string",
                    "description" : "Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list."
                  },
                  "p_zip" : {
                    "type" : "string",
                    "description" : "5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values."
                  },
                  "p_frs" : {
                    "type" : "string",
                    "description" : "Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results."
                  },
                  "p_reg" : {
                    "type" : "string",
                    "description" : "EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.",
                    "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10" ]
                  },
                  "p_sic" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4."
                  },
                  "p_ncs" : {
                    "type" : "string",
                    "description" : "North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values."
                  },
                  "p_pen" : {
                    "type" : "string",
                    "description" : "Last Penality Date Qualifier Filter.  Enter one of the following:   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for a facility with a penalty within previous 5 months.\n- GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago."
                  },
                  "p_c1lat" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_c1lon" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_c2lat" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_c2lon" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_usmex" : {
                    "type" : "string",
                    "description" : "US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_sic2" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing \"22\" to match all SIC codes beginning with 22.  Use the \"%\" character within strings to match any SIC values with the pattern.  For example, \"2%21\" matches 2021, 2121, 2221, etc."
                  },
                  "p_sic4" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker."
                  },
                  "p_fa" : {
                    "type" : "string",
                    "description" : "Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values."
                  },
                  "p_ff" : {
                    "type" : "string",
                    "description" : "Federal Facility Indicator Flag. Enter Y to restrict searches to federal facilities.",
                    "enum" : [ "Y" ]
                  },
                  "p_act" : {
                    "type" : "string",
                    "description" : "Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.",
                    "enum" : [ "Y", "N", "A" ]
                  },
                  "p_maj" : {
                    "type" : "string",
                    "description" : "Major Facility Flag.  Enter Y to restrict results to Major facilities only.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_mact" : {
                    "type" : "string",
                    "description" : "CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility."
                  },
                  "p_fea" : {
                    "type" : "string",
                    "description" : "Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N" ]
                  },
                  "p_feay" : {
                    "type" : "number",
                    "description" : "Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_feaa" : {
                    "type" : "string",
                    "description" : "Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All",
                    "enum" : [ "A", "E", "S" ]
                  },
                  "p_feac" : {
                    "type" : "string",
                    "description" : "Formal Enforcment Action Last Case Date Limiter Flag.  Enter a value of \"Y\" to additionally apply the p_feay year filter to the last formal enforcement action case date.  Use the p_fea parameter to control if the filter is within or outside the date span provided."
                  },
                  "p_fea_5yr" : {
                    "type" : "string",
                    "description" : "A Y value identifies facilities that have had a formal enforcement action within the last 5 years."
                  },
                  "p_iea" : {
                    "type" : "string",
                    "description" : "Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N" ]
                  },
                  "p_ieay" : {
                    "type" : "number",
                    "description" : "Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_ieaa" : {
                    "type" : "string",
                    "description" : "Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State",
                    "enum" : [ "E", "S" ]
                  },
                  "p_iea_5yr" : {
                    "type" : "string",
                    "description" : "A Y value identifies facilities that have had an informal enforcement action within the last 5 years."
                  },
                  "p_cs" : {
                    "type" : "number",
                    "description" : "Facility Compliance Limiter.  Enter 2, 3 or 4 to limit facilities returned.\n- 2 = Facilities in noncompliance.\n- 3 = Facilities having one or more programs reporting significant noncompliance.\n- 4 = Facilities having more than one program reporting significant noncompliance.",
                    "enum" : [ "2", "3", "4" ]
                  },
                  "p_qiv" : {
                    "type" : "string",
                    "description" : "Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.",
                    "enum" : [ "0", "GT1", "GT2", "GT4", "GT8", "12" ]
                  },
                  "p_naa" : {
                    "type" : "string",
                    "description" : "Non-Attainment Area Flag.  Enter a Y or N to filter for or against facilities flagged as non-attainment areas."
                  },
                  "p_impw" : {
                    "type" : "string",
                    "description" : "Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_trep" : {
                    "type" : "string",
                    "description" : "Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.\n- CURR = Current TRI reporter.\n- NONCURR = Has reported to TRI in the past but not for the current reporting year.",
                    "enum" : [ "CURR", "NOTCURR" ]
                  },
                  "p_ocr" : {
                    "type" : "string",
                    "description" : "Toxics Release Inventory Pounds of On-Site Chemical Releases Limiter.  Enter a keyword to filter results.\n- Z = Zero pounds of chemical releases.\n- GT0 = More than zero pounds of chemical releases.\n- GT1000 = More than one thousand pounds of chemical releases.\n- GT5000 = More than five thousand pounds of chemical releases.\n- GT10000 = More than ten thousand pounds of chemical releases.\n- GT20000 = More than twenty thousand pounds of chemical releases.\n- GT50000 = More than fifty thousand pounds of chemical releases."
                  },
                  "p_oct" : {
                    "type" : "string",
                    "description" : "Toxic Release Inventory Pounds of Off-Site Chemical Releases Limiter.  Enter a keyword to filter results.\n- Z = Zero pounds of chemical releases.\n- GT0 = More than zero pounds of chemical releases.\n- GT1000 = More than one thousand pounds of chemical releases.\n- GT5000 = More than five thousand pounds of chemical releases.\n- GT10000 = More than ten thousand pounds of chemical releases.\n- GT20000 = More than twenty thousand pounds of chemical releases.\n- GT50000 = More than fifty thousand pounds of chemical releases.",
                    "enum" : [ "Z", "GT0", "GT1000", "GT5000", "GT10000", "GT20000", "GT50000" ]
                  },
                  "p_pm" : {
                    "type" : "string",
                    "description" : "Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.\n- NONE = 0%\n- GT5 = greater than 5%\n- GT10 = greater than 10%\n- GT25 = greater than 25%\n- GT50 = greater than 50%\n- GT75 = greater than 75%",
                    "enum" : [ "NONE", "GT5", "GT10", "GT25", "GT50", "GT75" ]
                  },
                  "p_pd" : {
                    "type" : "string",
                    "description" : "Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.\n- NONE = 0 population density per square mile\n- GT100 = More than 100 population density per square mile\n- GT500 = More than 500 population density per square mile\n- GT1000 = More than 1000 population density per square mile\n- GT5000 = More than 5000 population density per square mile\n- GT10000 = More than 10000 population density per square mile\n- GT20000 = More than 20000 population density per square mile",
                    "enum" : [ "NONE", "GT100", "GT500", "GT1000", "GT5000", "GT10000", "GT20000" ]
                  },
                  "p_ico" : {
                    "type" : "string",
                    "description" : "Indian Country Flag.  Enter a \"Y\" or \"N\" to restrict searches to facilities inside or outside Indian Country.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_huc" : {
                    "type" : "string",
                    "description" : "2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values."
                  },
                  "p_pid" : {
                    "type" : "string",
                    "description" : "Nine-digit permit IDs. May contain up to 2000 comma-separated values."
                  },
                  "p_med" : {
                    "type" : "string",
                    "description" : "Filter Results by Media.- A = Air- C = CAMD (Clean Air Markets Division)- E = EIS (Emissions Inventory Systems)- G = GHG (Greenhouse Gases)- M = RMP (Risk Management Plan)- R = RCRA (Hazardous Waste)- S = SDWA (Public Drinking Water Systems)- T = TRI (Toxic Release Inventory)- TSCA = TSCA (Toxic Substances Control Act)- W = Water- ALL = Air and Water and RCRA",
                    "enum" : [ "A", "C", "E", "G", "M", "R", "S", "T", "TSCA", "W", "ALL" ]
                  },
                  "p_istatute" : {
                    "type" : "string",
                    "description" : "For use in identifying Facilities that have an inspection performed under the entered Statute."
                  },
                  "p_ysl" : {
                    "type" : "string",
                    "description" : "Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N", "NV" ]
                  },
                  "p_ysly" : {
                    "type" : "number",
                    "description" : "Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_ysla" : {
                    "type" : "string",
                    "description" : "Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State",
                    "enum" : [ "E", "S", "A" ]
                  },
                  "p_qs" : {
                    "type" : "string",
                    "description" : "Quick Search. Allows entry for city, state, and/or zip code."
                  },
                  "p_sfs" : {
                    "type" : "string",
                    "description" : "Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched."
                  },
                  "p_tribeid" : {
                    "type" : "number",
                    "description" : "Numeric code for tribe (or list of tribes)."
                  },
                  "p_tribename" : {
                    "type" : "string",
                    "description" : "Tribe Name Filter.  Enter a single tribe name to filter results."
                  },
                  "p_tribedist" : {
                    "type" : "number",
                    "description" : "Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated."
                  },
                  "p_wbd" : {
                    "type" : "string",
                    "description" : "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value."
                  },
                  "p_fntype" : {
                    "type" : "string",
                    "description" : "Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = ",
                    "enum" : [ "ALL", "CONTAINS", "EXACT", "BEGINS" ]
                  },
                  "p_icoo" : {
                    "type" : "string",
                    "description" : "Indian country search and/or flag.  Enter \"Y\" to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned."
                  },
                  "p_fac_icos" : {
                    "type" : "string",
                    "description" : "FRS tribal land spatial flag.  Enter \"Y\" or \"N\" to include or exclude facilities based on FRS tribal land spatial flag."
                  },
                  "p_ejscreen" : {
                    "type" : "string",
                    "description" : "Enter \"Y\" to limit facilities to Census block groups where one of more Environmental Justice indexes above 80th percentile."
                  },
                  "p_limit_addr" : {
                    "type" : "string",
                    "description" : "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  ",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_lat" : {
                    "type" : "number",
                    "description" : "Latitude location in decimal degrees."
                  },
                  "p_long" : {
                    "type" : "number",
                    "description" : "Longitude location in decimal degrees."
                  },
                  "p_radius" : {
                    "type" : "number",
                    "description" : "Spatial Search Radius.  Enter a radius up to 100 miles in which to spatially search for facilities."
                  },
                  "p_ejscreen_over80cnt" : {
                    "type" : "string",
                    "description" : "The number of Environmenmt Justice Indicators above the 80th percentile.  Valid values are 1 through 11.",
                    "enum" : [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11" ]
                  },
                  "p_agoo" : {
                    "type" : "string",
                    "description" : "Indicates whether to AND or OR the Owner/Operator parameter (p_owop) and the federal agency code (p_fa) parameters.",
                    "enum" : [ "AND", "OR" ]
                  },
                  "p_neiu" : {
                    "type" : "string"
                  },
                  "queryset" : {
                    "type" : "number",
                    "description" : "Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000."
                  },
                  "responseset" : {
                    "type" : "number",
                    "description" : "Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000."
                  },
                  "tablelist" : {
                    "type" : "string",
                    "description" : "Table List Flag. Enter a Y to display the first page of facility results.",
                    "enum" : [ "Y", "N" ]
                  },
                  "maplist" : {
                    "type" : "string",
                    "description" : "Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).",
                    "enum" : [ "Y", "N" ]
                  },
                  "summarylist" : {
                    "type" : "string",
                    "description" : "Summary List Flag.  Enter a Y to return a list of summary statistics based on the parameters submitted to the query service.",
                    "enum" : [ "Y", "N" ]
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  },
                  "qcolumns" : {
                    "type" : "string",
                    "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Results are summary statistics for the query and a query identifier (QID).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/echo04"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/echo04"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/echo_rest_services.get_facility_info" : {
      "get" : {
        "tags" : [ "Facility Info" ],
        "summary" : "Combined ECHO Facility Enhanced Search Service",
        "description" : "Returns either an array of Facilities or an array of Clusters that meet the specified search criteria.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.\n- CSV = Facility results formatted as comma delimited file download.\n- GEOJSON = Facility results formatted as GeoJSON feature collection.\n- GEOJSONP = Facility results formatted as GeoJSON feature collection with Padding.\n- GEOJSOND = Facility results formatted as GeoJSON feature collection download.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fn",
          "in" : "query",
          "description" : "Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sa",
          "in" : "query",
          "description" : "Facility street address. Enter a complete or partial street address.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sa1",
          "in" : "query",
          "description" : "Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ct",
          "in" : "query",
          "description" : "Facility City Filter. Enter a single case-insensitive city name to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_co",
          "in" : "query",
          "description" : "Facility County Filter. Provide a single county name in combination with a state value provided via p_st.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fips",
          "in" : "query",
          "description" : "FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_st",
          "in" : "query",
          "description" : "Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_zip",
          "in" : "query",
          "description" : "5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_frs",
          "in" : "query",
          "description" : "Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_reg",
          "in" : "query",
          "description" : "EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.",
          "schema" : {
            "type" : "string",
            "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10" ]
          }
        }, {
          "name" : "p_sic",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ncs",
          "in" : "query",
          "description" : "North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pen",
          "in" : "query",
          "description" : "Last Penality Date Qualifier Filter.  Enter one of the following:   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for a facility with a penalty within previous 5 months.\n- GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "xmin",
          "in" : "query",
          "description" : "Minimum longitude value in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "ymin",
          "in" : "query",
          "description" : "Minimum latitude value in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "xmax",
          "in" : "query",
          "description" : "Maximum longitude value in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "ymax",
          "in" : "query",
          "description" : "Maximum latitude value in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_usmex",
          "in" : "query",
          "description" : "US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_sic2",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing \"22\" to match all SIC codes beginning with 22.  Use the \"%\" character within strings to match any SIC values with the pattern.  For example, \"2%21\" matches 2021, 2121, 2221, etc.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sic4",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fa",
          "in" : "query",
          "description" : "Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ff",
          "in" : "query",
          "description" : "Federal Facility Indicator Flag. Enter Y to restrict searches to federal facilities.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y" ]
          }
        }, {
          "name" : "p_act",
          "in" : "query",
          "description" : "Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N", "A" ]
          }
        }, {
          "name" : "p_maj",
          "in" : "query",
          "description" : "Major Facility Flag.  Enter Y to restrict results to Major facilities only.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_mact",
          "in" : "query",
          "description" : "CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fea",
          "in" : "query",
          "description" : "Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N" ]
          }
        }, {
          "name" : "p_feay",
          "in" : "query",
          "description" : "Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_feaa",
          "in" : "query",
          "description" : "Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All",
          "schema" : {
            "type" : "string",
            "enum" : [ "A", "E", "S" ]
          }
        }, {
          "name" : "p_feac",
          "in" : "query",
          "description" : "Formal Enforcment Action Last Case Date Limiter Flag.  Enter a value of \"Y\" to additionally apply the p_feay year filter to the last formal enforcement action case date.  Use the p_fea parameter to control if the filter is within or outside the date span provided.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_feac_5yr",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_iea",
          "in" : "query",
          "description" : "Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N" ]
          }
        }, {
          "name" : "p_ieay",
          "in" : "query",
          "description" : "Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_ieaa",
          "in" : "query",
          "description" : "Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State",
          "schema" : {
            "type" : "string",
            "enum" : [ "E", "S" ]
          }
        }, {
          "name" : "p_iea_5yr",
          "in" : "query",
          "description" : "A Y value identifies facilities that have had an informal enforcement action within the last 5 years.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_cs",
          "in" : "query",
          "description" : "Facility Compliance Limiter.  Enter 2, 3 or 4 to limit facilities returned.\n- 2 = Facilities in noncompliance.\n- 3 = Facilities having one or more programs reporting significant noncompliance.\n- 4 = Facilities having more than one program reporting significant noncompliance.",
          "schema" : {
            "type" : "number",
            "enum" : [ 2, 3, 4 ]
          }
        }, {
          "name" : "p_qiv",
          "in" : "query",
          "description" : "Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.",
          "schema" : {
            "type" : "string",
            "enum" : [ "0", "GT1", "GT2", "GT4", "GT8", "12" ]
          }
        }, {
          "name" : "p_naa",
          "in" : "query",
          "description" : "Non-Attainment Area Flag.  Enter a Y or N to filter for or against facilities flagged as non-attainment areas.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_impw",
          "in" : "query",
          "description" : "Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_trep",
          "in" : "query",
          "description" : "Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.\n- CURR = Current TRI reporter.\n- NONCURR = Has reported to TRI in the past but not for the current reporting year.",
          "schema" : {
            "type" : "string",
            "enum" : [ "CURR", "NOTCURR" ]
          }
        }, {
          "name" : "p_ocr",
          "in" : "query",
          "description" : "Toxics Release Inventory Pounds of On-Site Chemical Releases Limiter.  Enter a keyword to filter results.\n- Z = Zero pounds of chemical releases.\n- GT0 = More than zero pounds of chemical releases.\n- GT1000 = More than one thousand pounds of chemical releases.\n- GT5000 = More than five thousand pounds of chemical releases.\n- GT10000 = More than ten thousand pounds of chemical releases.\n- GT20000 = More than twenty thousand pounds of chemical releases.\n- GT50000 = More than fifty thousand pounds of chemical releases.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_oct",
          "in" : "query",
          "description" : "Toxic Release Inventory Pounds of Off-Site Chemical Releases Limiter.  Enter a keyword to filter results.\n- Z = Zero pounds of chemical releases.\n- GT0 = More than zero pounds of chemical releases.\n- GT1000 = More than one thousand pounds of chemical releases.\n- GT5000 = More than five thousand pounds of chemical releases.\n- GT10000 = More than ten thousand pounds of chemical releases.\n- GT20000 = More than twenty thousand pounds of chemical releases.\n- GT50000 = More than fifty thousand pounds of chemical releases.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Z", "GT0", "GT1000", "GT5000", "GT10000", "GT20000", "GT50000" ]
          }
        }, {
          "name" : "p_pm",
          "in" : "query",
          "description" : "Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.\n- NONE = 0%\n- GT5 = greater than 5%\n- GT10 = greater than 10%\n- GT25 = greater than 25%\n- GT50 = greater than 50%\n- GT75 = greater than 75%",
          "schema" : {
            "type" : "string",
            "enum" : [ "NONE", "GT5", "GT10", "GT25", "GT50", "GT75" ]
          }
        }, {
          "name" : "p_pd",
          "in" : "query",
          "description" : "Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.\n- NONE = 0 population density per square mile\n- GT100 = More than 100 population density per square mile\n- GT500 = More than 500 population density per square mile\n- GT1000 = More than 1000 population density per square mile\n- GT5000 = More than 5000 population density per square mile\n- GT10000 = More than 10000 population density per square mile\n- GT20000 = More than 20000 population density per square mile",
          "schema" : {
            "type" : "string",
            "enum" : [ "NONE", "GT100", "GT500", "GT1000", "GT5000", "GT10000", "GT20000" ]
          }
        }, {
          "name" : "p_ico",
          "in" : "query",
          "description" : "Indian Country Flag.  Enter a \"Y\" or \"N\" to restrict searches to facilities inside or outside Indian Country.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_huc",
          "in" : "query",
          "description" : "2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pid",
          "in" : "query",
          "description" : "Nine-digit permit IDs. May contain up to 2000 comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_med",
          "in" : "query",
          "description" : "Filter Results by Media.- A = Air- C = CAMD (Clean Air Markets Division)- E = EIS (Emissions Inventory Systems)- G = GHG (Greenhouse Gases)- M = RMP (Risk Management Plan)- R = RCRA (Hazardous Waste)- S = SDWA (Public Drinking Water Systems)- T = TRI (Toxic Release Inventory)- TSCA = TSCA (Toxic Substances Control Act)- W = Water- ALL = Air and Water and RCRA",
          "schema" : {
            "type" : "string",
            "enum" : [ "A", "C", "E", "G", "M", "R", "S", "T", "TSCA", "W", "ALL" ]
          }
        }, {
          "name" : "p_istatute",
          "in" : "query",
          "description" : "For use in identifying Facilities that have an inspection performed under the entered Statute.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ysl",
          "in" : "query",
          "description" : "Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N", "NV" ]
          }
        }, {
          "name" : "p_ysly",
          "in" : "query",
          "description" : "Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_ysla",
          "in" : "query",
          "description" : "Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State",
          "schema" : {
            "type" : "string",
            "enum" : [ "E", "S", "A" ]
          }
        }, {
          "name" : "p_qs",
          "in" : "query",
          "description" : "Quick Search. Allows entry for city, state, and/or zip code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sfs",
          "in" : "query",
          "description" : "Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_tribeid",
          "in" : "query",
          "description" : "Numeric code for tribe (or list of tribes).",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_tribename",
          "in" : "query",
          "description" : "Tribe Name Filter.  Enter a single tribe name to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_tribedist",
          "in" : "query",
          "description" : "Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_wbd",
          "in" : "query",
          "description" : "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fntype",
          "in" : "query",
          "description" : "Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = ",
          "schema" : {
            "type" : "string",
            "enum" : [ "ALL", "CONTAINS", "EXACT", "BEGINS" ]
          }
        }, {
          "name" : "p_icoo",
          "in" : "query",
          "description" : "Indian country search and/or flag.  Enter \"Y\" to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fac_icos",
          "in" : "query",
          "description" : "FRS tribal land spatial flag.  Enter \"Y\" or \"N\" to include or exclude facilities based on FRS tribal land spatial flag.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ejscreen",
          "in" : "query",
          "description" : "Enter \"Y\" to limit facilities to Census block groups where one of more Environmental Justice indexes above 80th percentile.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_limit_addr",
          "in" : "query",
          "description" : "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  ",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_lat",
          "in" : "query",
          "description" : "Latitude location in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_long",
          "in" : "query",
          "description" : "Longitude location in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_radius",
          "in" : "query",
          "description" : "Spatial Search Radius.  Enter a radius up to 100 miles in which to spatially search for facilities.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_ejscreen_over80cnt",
          "in" : "query",
          "description" : "The number of Environmenmt Justice Indicators above the 80th percentile.  Valid values are 1 through 11.",
          "schema" : {
            "type" : "string",
            "enum" : [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11" ]
          }
        }, {
          "name" : "p_agoo",
          "in" : "query",
          "description" : "Indicates whether to AND or OR the Owner/Operator parameter (p_owop) and the federal agency code (p_fa) parameters.",
          "schema" : {
            "type" : "string",
            "enum" : [ "AND", "OR" ]
          }
        }, {
          "name" : "p_neiu",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "responseset",
          "in" : "query",
          "description" : "Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "qcolumns",
          "in" : "query",
          "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pretty_print",
          "in" : "query",
          "description" : "Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost.",
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Results will either be an array of Facilities or an array of Clusters. The determination as to whether Facilities or Clusters are returned is based on the number of facilities that meet the specified criteria. Generally, if there are more than ~2000 facilities, the search will return clusters; otherwise individual facility records will be returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/echo08"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/echo08"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Facility Info" ],
        "summary" : "Combined ECHO Facility Enhanced Search Service",
        "description" : "Returns either an array of Facilities or an array of Clusters that meet the specified search criteria.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.\n- CSV = Facility results formatted as comma delimited file download.\n- GEOJSON = Facility results formatted as GeoJSON feature collection.\n- GEOJSONP = Facility results formatted as GeoJSON feature collection with Padding.\n- GEOJSOND = Facility results formatted as GeoJSON feature collection download."
                  },
                  "p_fn" : {
                    "type" : "string",
                    "description" : "Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers."
                  },
                  "p_sa" : {
                    "type" : "string",
                    "description" : "Facility street address. Enter a complete or partial street address."
                  },
                  "p_sa1" : {
                    "type" : "string",
                    "description" : "Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa."
                  },
                  "p_ct" : {
                    "type" : "string",
                    "description" : "Facility City Filter. Enter a single case-insensitive city name to filter results."
                  },
                  "p_co" : {
                    "type" : "string",
                    "description" : "Facility County Filter. Provide a single county name in combination with a state value provided via p_st."
                  },
                  "p_fips" : {
                    "type" : "string",
                    "description" : "FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059."
                  },
                  "p_st" : {
                    "type" : "string",
                    "description" : "Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list."
                  },
                  "p_zip" : {
                    "type" : "string",
                    "description" : "5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values."
                  },
                  "p_frs" : {
                    "type" : "string",
                    "description" : "Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results."
                  },
                  "p_reg" : {
                    "type" : "string",
                    "description" : "EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.",
                    "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10" ]
                  },
                  "p_sic" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4."
                  },
                  "p_ncs" : {
                    "type" : "string",
                    "description" : "North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values."
                  },
                  "p_pen" : {
                    "type" : "string",
                    "description" : "Last Penality Date Qualifier Filter.  Enter one of the following:   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for a facility with a penalty within previous 5 months.\n- GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago."
                  },
                  "xmin" : {
                    "type" : "number",
                    "description" : "Minimum longitude value in decimal degrees."
                  },
                  "ymin" : {
                    "type" : "number",
                    "description" : "Minimum latitude value in decimal degrees."
                  },
                  "xmax" : {
                    "type" : "number",
                    "description" : "Maximum longitude value in decimal degrees."
                  },
                  "ymax" : {
                    "type" : "number",
                    "description" : "Maximum latitude value in decimal degrees."
                  },
                  "p_usmex" : {
                    "type" : "string",
                    "description" : "US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_sic2" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing \"22\" to match all SIC codes beginning with 22.  Use the \"%\" character within strings to match any SIC values with the pattern.  For example, \"2%21\" matches 2021, 2121, 2221, etc."
                  },
                  "p_sic4" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker."
                  },
                  "p_fa" : {
                    "type" : "string",
                    "description" : "Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values."
                  },
                  "p_ff" : {
                    "type" : "string",
                    "description" : "Federal Facility Indicator Flag. Enter Y to restrict searches to federal facilities.",
                    "enum" : [ "Y" ]
                  },
                  "p_act" : {
                    "type" : "string",
                    "description" : "Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.",
                    "enum" : [ "Y", "N", "A" ]
                  },
                  "p_maj" : {
                    "type" : "string",
                    "description" : "Major Facility Flag.  Enter Y to restrict results to Major facilities only.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_mact" : {
                    "type" : "string",
                    "description" : "CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility."
                  },
                  "p_fea" : {
                    "type" : "string",
                    "description" : "Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N" ]
                  },
                  "p_feay" : {
                    "type" : "number",
                    "description" : "Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_feaa" : {
                    "type" : "string",
                    "description" : "Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All",
                    "enum" : [ "A", "E", "S" ]
                  },
                  "p_feac" : {
                    "type" : "string",
                    "description" : "Formal Enforcment Action Last Case Date Limiter Flag.  Enter a value of \"Y\" to additionally apply the p_feay year filter to the last formal enforcement action case date.  Use the p_fea parameter to control if the filter is within or outside the date span provided."
                  },
                  "p_feac_5yr" : {
                    "type" : "string"
                  },
                  "p_iea" : {
                    "type" : "string",
                    "description" : "Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N" ]
                  },
                  "p_ieay" : {
                    "type" : "number",
[...]
