{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DeletedWebApps API Client",
    "version" : "2018-02-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites" : {
      "get" : {
        "tags" : [ "DeletedWebApps" ],
        "summary" : "Get all deleted apps for a subscription.",
        "description" : "Get all deleted apps for a subscription.",
        "operationId" : "DeletedWebApps_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeletedWebAppCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites" : {
      "get" : {
        "tags" : [ "DeletedWebApps" ],
        "summary" : "Get all deleted apps for a subscription at location",
        "description" : "Get all deleted apps for a subscription at location",
        "operationId" : "DeletedWebApps_ListByLocation",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeletedWebAppCollection"
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites/{deletedSiteId}" : {
      "get" : {
        "tags" : [ "DeletedWebApps" ],
        "summary" : "Get deleted app for a subscription at location.",
        "description" : "Get deleted app for a subscription at location.",
        "operationId" : "DeletedWebApps_GetDeletedWebAppByLocation",
        "parameters" : [ {
          "name" : "location",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deletedSiteId",
          "in" : "path",
          "description" : "The numeric ID of the deleted app, e.g. 12345",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "API Version",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "A deleted app."
                }
              }
            }
          },
          "default" : {
            "description" : "App Service error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Standardized string to programmatically identify the error.",
                          "readOnly" : true
                        },
                        "details" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "code" : {
                                "type" : "string",
                                "description" : "Standardized string to programmatically identify the error.",
                                "readOnly" : true
                              },
                              "message" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              },
                              "target" : {
                                "type" : "string",
                                "description" : "Detailed error description and debugging information.",
                                "readOnly" : true
                              }
                            },
                            "description" : "Detailed errors.",
                            "readOnly" : true
                          }
                        },
                        "innererror" : {
                          "type" : "string",
                          "description" : "More information to debug error.",
                          "readOnly" : true
                        },
                        "message" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        },
                        "target" : {
                          "type" : "string",
                          "description" : "Detailed error description and debugging information.",
                          "readOnly" : true
                        }
                      },
                      "description" : "Error model.",
                      "readOnly" : true
                    }
                  },
                  "description" : "App Service error response."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "DeletedWebAppCollection" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to next page of resources.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Collection of resources.",
            "items" : {
              "type" : "object",
              "properties" : {
                "properties" : {
                  "type" : "object",
                  "properties" : {
                    "deletedSiteId" : {
                      "type" : "integer",
                      "description" : "Numeric id for the deleted site",
                      "format" : "int32",
                      "readOnly" : true
                    },
                    "deletedSiteName" : {
                      "type" : "string",
                      "description" : "Name of the deleted site",
                      "readOnly" : true
                    },
                    "deletedTimestamp" : {
                      "type" : "string",
                      "description" : "Time in UTC when the app was deleted.",
                      "readOnly" : true
                    },
                    "geoRegionName" : {
                      "type" : "string",
                      "description" : "Geo Region of the deleted site",
                      "readOnly" : true
                    },
                    "kind" : {
                      "type" : "string",
                      "description" : "Kind of site that was deleted",
                      "readOnly" : true
                    },
                    "resourceGroup" : {
                      "type" : "string",
                      "description" : "ResourceGroup that contained the deleted site",
                      "readOnly" : true
                    },
                    "slot" : {
                      "type" : "string",
                      "description" : "Slot of the deleted site",
                      "readOnly" : true
                    },
                    "subscription" : {
                      "type" : "string",
                      "description" : "Subscription containing the deleted site",
                      "readOnly" : true
                    }
                  },
                  "description" : "DeletedSite resource specific properties"
                }
              },
              "description" : "A deleted app."
            }
          }
        },
        "description" : "Collection of deleted apps."
      }
    },
    "parameters" : {
      "apiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "API Version",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "subscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}