{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "HybridComputeManagementClient",
    "description" : "The Hybrid Compute Management Client.",
    "version" : "2019-12-12"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.HybridCompute/operations" : {
      "get" : {
        "tags" : [ "operations" ],
        "description" : "Gets a list of hybrid compute operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The resource management error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/machines" : {
      "get" : {
        "tags" : [ "machines" ],
        "description" : "Lists all the hybrid machines in the specified subscription. Use the nextLink property in the response to get the next page of hybrid machines.",
        "operationId" : "Machines_ListBySubscription",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MachineListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The resource management error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines" : {
      "get" : {
        "tags" : [ "machines" ],
        "description" : "Lists all the hybrid machines in the specified resource group. Use the nextLink property in the response to get the next page of hybrid machines.",
        "operationId" : "Machines_ListByResourceGroup",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MachineListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The resource management error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}" : {
      "get" : {
        "tags" : [ "machines" ],
        "description" : "Retrieves information about the model view or the instance view of a hybrid machine.",
        "operationId" : "Machines_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the hybrid machine.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "The expand expression to apply on the operation.",
          "schema" : {
            "type" : "string",
            "enum" : [ "instanceView" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Machine"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The resource management error response."
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "machines" ],
        "description" : "The operation to create or update a hybrid machine resource identity in Azure.",
        "operationId" : "Machines_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the hybrid machine.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create hybrid machine operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Machine"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Machine"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The resource management error response."
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "machines" ],
        "description" : "The operation to remove a hybrid machine identity in Azure.",
        "operationId" : "Machines_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the hybrid machine.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "204" : {
            "description" : "No Content"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The resource management error response."
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "machines" ],
        "description" : "The operation to update a hybrid machine.",
        "operationId" : "Machines_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the hybrid machine.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Update hybrid machine operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MachineUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Machine"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The resource management error response."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/extensions" : {
      "get" : {
        "tags" : [ "MachineExtensions" ],
        "description" : "The operation to get all extensions of a non-Azure machine",
        "operationId" : "MachineExtensions_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the machine containing the extension.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "The expand expression to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MachineExtensionsListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/extensions/{extensionName}" : {
      "get" : {
        "tags" : [ "MachineExtensions" ],
        "description" : "The operation to get the extension.",
        "operationId" : "MachineExtensions_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the machine containing the extension.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "extensionName",
          "in" : "path",
          "description" : "The name of the machine extension.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MachineExtension"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "MachineExtensions" ],
        "description" : "The operation to create or update the extension.",
        "operationId" : "MachineExtensions_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the machine where the extension should be created or updated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "extensionName",
          "in" : "path",
          "description" : "The name of the machine extension.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create Machine Extension operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MachineExtension"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MachineExtension"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      },
      "delete" : {
        "tags" : [ "MachineExtensions" ],
        "description" : "The operation to delete the extension.",
        "operationId" : "MachineExtensions_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the machine where the extension should be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "extensionName",
          "in" : "path",
          "description" : "The name of the machine extension.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "Accepted"
          },
          "204" : {
            "description" : "No Content"
          }
        }
      },
      "patch" : {
        "tags" : [ "MachineExtensions" ],
        "description" : "The operation to create or update the extension.",
        "operationId" : "MachineExtensions_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the machine where the extension should be created or updated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "extensionName",
          "in" : "path",
          "description" : "The name of the machine extension.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create Machine Extension operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MachineExtensionUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MachineExtension"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/reconnect" : {
      "post" : {
        "tags" : [ "machines" ],
        "description" : "The operation to reconnect a hybrid machine resource to its identity in Azure.",
        "operationId" : "Machines_Reconnect",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for this operation.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The ID of the target subscription.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "The name of the hybrid machine.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Reconnect hybrid machine operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MachineReconnect"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Machine"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "The resource management error response."
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "title" : "Error details.",
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The error's code."
          },
          "details" : {
            "type" : "array",
            "description" : "Additional error details.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable error message."
          },
          "target" : {
            "type" : "string",
            "description" : "Indicates which property in the request is responsible for the error."
          }
        }
      },
      "ErrorResponse" : {
        "type" : "object"
      },
      "Machine" : {
        "properties" : {
          "identity" : {
            "type" : "object",
            "allOf" : [ {
              "type" : "object",
              "properties" : {
                "principalId" : {
                  "type" : "string",
                  "description" : "The principal ID of resource identity.",
                  "readOnly" : true
                },
                "tenantId" : {
                  "type" : "string",
                  "description" : "The tenant ID of resource.",
                  "readOnly" : true
                },
                "type" : {
                  "type" : "string",
                  "description" : "The identity type.",
                  "enum" : [ "SystemAssigned" ]
                }
              },
              "description" : "Identity for the resource."
            } ]
          },
          "properties" : {
            "type" : "object",
            "description" : "Hybrid Compute Machine properties",
            "allOf" : [ {
              "$ref" : "#/definitions/MachineProperties"
            } ]
          }
        },
        "description" : "Describes a hybrid machine.",
        "allOf" : [ {
          "properties" : {
            "location" : {
              "type" : "string",
              "description" : "The geo-location where the resource lives"
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            }
          },
          "description" : "The resource model definition for a ARM tracked top level resource",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                "readOnly" : true
              }
            }
          } ]
        } ]
      },
      "MachineExtension" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "description" : "Describes Machine Extension Properties.",
            "allOf" : [ {
              "$ref" : "#/definitions/MachineExtensionProperties"
            } ]
          }
        },
        "description" : "Describes a Machine Extension.",
        "allOf" : [ {
          "properties" : {
            "location" : {
              "type" : "string",
              "description" : "The geo-location where the resource lives"
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            }
          },
          "description" : "The resource model definition for a ARM tracked top level resource",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                "readOnly" : true
              }
            }
          } ]
        } ]
      },
      "MachineExtensionInstanceView" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The machine extension name."
          },
          "status" : {
            "type" : "object",
            "properties" : {
              "code" : {
                "type" : "string",
                "description" : "The status code."
              },
              "displayStatus" : {
                "type" : "string",
                "description" : "The short localizable label for the status."
              },
              "level" : {
                "type" : "string",
                "description" : "The level code.",
                "enum" : [ "Info", "Warning", "Error" ]
              },
              "message" : {
                "type" : "string",
                "description" : "The detailed status message, including for alerts and error messages."
              },
              "time" : {
                "type" : "string",
                "description" : "The time of the status.",
                "format" : "date-time"
              }
            },
            "description" : "Instance view status."
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
          },
          "typeHandlerVersion" : {
            "type" : "string",
            "description" : "Specifies the version of the script handler."
          }
        },
        "description" : "Describes the Machine Extension Instance View."
      },
      "MachineExtensionProperties" : {
        "type" : "object",
        "properties" : {
          "autoUpgradeMinorVersion" : {
            "type" : "boolean",
            "description" : "Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true."
          },
          "forceUpdateTag" : {
            "type" : "string",
            "description" : "How the extension handler should be forced to update even if the extension configuration has not changed."
          },
          "instanceView" : {
            "type" : "object",
            "description" : "The machine extension instance view.",
            "allOf" : [ {
              "$ref" : "#/components/schemas/MachineExtensionInstanceView"
            } ]
          },
          "protectedSettings" : {
            "type" : "object",
            "description" : "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The provisioning state, which only appears in the response.",
            "readOnly" : true
          },
          "publisher" : {
            "type" : "string",
            "description" : "The name of the extension handler publisher."
          },
          "settings" : {
            "type" : "object",
            "description" : "Json formatted public settings for the extension."
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
          },
          "typeHandlerVersion" : {
            "type" : "string",
            "description" : "Specifies the version of the script handler."
          }
        },
        "description" : "Describes the properties of a Machine Extension."
      },
      "MachineExtensionUpdate" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "description" : "Describes Machine Extension Update Properties.",
            "allOf" : [ {
              "$ref" : "#/definitions/MachineExtensionUpdateProperties"
            } ]
          }
        },
        "description" : "Describes a Machine Extension Update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UpdateResource"
        } ]
      },
      "MachineExtensionUpdateProperties" : {
        "type" : "object",
        "properties" : {
          "autoUpgradeMinorVersion" : {
            "type" : "boolean",
            "description" : "Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true."
          },
          "forceUpdateTag" : {
            "type" : "string",
            "description" : "How the extension handler should be forced to update even if the extension configuration has not changed."
          },
          "protectedSettings" : {
            "type" : "object",
            "description" : "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all."
          },
          "publisher" : {
            "type" : "string",
            "description" : "The name of the extension handler publisher."
          },
          "settings" : {
            "type" : "object",
            "description" : "Json formatted public settings for the extension."
          },
          "type" : {
            "type" : "string",
            "description" : "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
          },
          "typeHandlerVersion" : {
            "type" : "string",
            "description" : "Specifies the version of the script handler."
          }
        },
        "description" : "Describes the properties of a Machine Extension."
      },
      "MachineExtensionsListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The uri to fetch the next page of machine extensions. Call ListNext() with this to fetch the next page of extensions."
          },
          "value" : {
            "type" : "array",
            "description" : "The list of extensions",
            "items" : {
              "$ref" : "#/components/schemas/MachineExtension"
            }
          }
        },
        "description" : "Describes the Machine Extensions List Result."
      },
      "MachineListResult" : {
        "required" : [ "value" ],
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URI to fetch the next page of Machines. Call ListNext() with this URI to fetch the next page of hybrid machines."
          },
          "value" : {
            "type" : "array",
            "description" : "The list of hybrid machines.",
            "items" : {
              "$ref" : "#/components/schemas/Machine"
            }
          }
        },
        "description" : "The List hybrid machine operation response."
      },
      "MachineProperties" : {
        "type" : "object",
        "properties" : {
          "agentVersion" : {
            "type" : "string",
            "description" : "The hybrid machine agent full version.",
            "readOnly" : true
          },
          "clientPublicKey" : {
            "type" : "string",
            "description" : "Public Key that the client provides to be used during initial resource onboarding"
          },
          "displayName" : {
            "type" : "string",
            "description" : "Specifies the hybrid machine display name.",
            "readOnly" : true
          },
          "errorDetails" : {
            "type" : "array",
            "description" : "Details about the error state.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "extensions" : {
            "type" : "array",
            "description" : "Machine Extensions information",
            "items" : {
              "$ref" : "#/components/schemas/MachineExtensionInstanceView"
            }
          },
          "lastStatusChange" : {
            "type" : "string",
            "description" : "The time of the last status change.",
            "format" : "date-time",
            "readOnly" : true
          },
          "locationData" : {
            "required" : [ "name" ],
            "type" : "object",
            "properties" : {
              "city" : {
                "type" : "string",
                "description" : "The city or locality where the resource is located."
              },
              "countryOrRegion" : {
                "type" : "string",
                "description" : "The country or region where the resource is located"
              },
              "district" : {
                "type" : "string",
                "description" : "The district, state, or province where the resource is located."
              },
              "name" : {
                "maxLength" : 256,
                "type" : "string",
                "description" : "A canonical name for the geographic or physical location."
              }
            },
            "description" : "Metadata pertaining to the geographic location of the resource."
          },
          "machineFqdn" : {
            "type" : "string",
            "description" : "Specifies the hybrid machine FQDN.",
            "readOnly" : true
          },
          "osName" : {
            "type" : "string",
            "description" : "The Operating System running on the hybrid machine.",
            "readOnly" : true
          },
          "osProfile" : {
            "type" : "object",
            "description" : "Specifies the operating system settings for the hybrid machine.",
            "allOf" : [ {
              "$ref" : "#/components/schemas/OSProfile"
            } ]
          },
          "osVersion" : {
            "type" : "string",
            "description" : "The version of Operating System running on the hybrid machine.",
            "readOnly" : true
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The provisioning state, which only appears in the response.",
            "readOnly" : true
          },
          "status" : {
            "type" : "string",
            "description" : "The status of the hybrid machine agent.",
            "readOnly" : true,
            "enum" : [ "Connected", "Disconnected", "Error" ]
          },
          "vmId" : {
            "type" : "string",
            "description" : "Specifies the hybrid machine unique ID."
          }
        },
        "description" : "Describes the properties of a hybrid machine."
      },
      "MachineReconnect" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "type" : "object",
            "description" : "Hybrid Compute Machine properties",
            "allOf" : [ {
              "$ref" : "#/components/schemas/MachineReconnectProperties"
            } ]
          }
        },
        "description" : "Describes a hybrid machine reconnect."
      },
      "MachineReconnectProperties" : {
        "type" : "object",
        "properties" : {
          "clientPublicKey" : {
            "type" : "string",
            "description" : "Public Key that the client provides to be used during initial resource onboarding."
          },
          "vmId" : {
            "type" : "string",
            "description" : "Specifies the hybrid machine unique ID."
          }
        },
        "description" : "Describes the properties required to reconnect a hybrid machine."
      },
      "MachineUpdate" : {
        "properties" : {
          "identity" : {
            "type" : "object",
            "description" : "Hybrid Compute Machine Managed Identity",
            "allOf" : [ {
              "type" : "object",
              "properties" : {
                "principalId" : {
                  "type" : "string",
                  "description" : "The principal ID of resource identity.",
                  "readOnly" : true
                },
                "tenantId" : {
                  "type" : "string",
                  "description" : "The tenant ID of resource.",
                  "readOnly" : true
                },
                "type" : {
                  "type" : "string",
                  "description" : "The identity type.",
                  "enum" : [ "SystemAssigned" ]
                }
              },
              "description" : "Identity for the resource."
            } ]
          },
          "properties" : {
            "type" : "object",
            "description" : "Hybrid Compute Machine properties",
            "allOf" : [ {
              "$ref" : "#/definitions/MachineUpdateProperties"
            } ]
          }
        },
        "description" : "Describes a hybrid machine Update.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UpdateResource"
        } ]
      },
      "MachineUpdateProperties" : {
        "type" : "object",
        "properties" : {
          "locationData" : {
            "required" : [ "name" ],
            "type" : "object",
            "properties" : {
              "city" : {
                "type" : "string",
                "description" : "The city or locality where the resource is located."
              },
              "countryOrRegion" : {
                "type" : "string",
                "description" : "The country or region where the resource is located"
              },
              "district" : {
                "type" : "string",
                "description" : "The district, state, or province where the resource is located."
              },
              "name" : {
                "maxLength" : 256,
                "type" : "string",
                "description" : "A canonical name for the geographic or physical location."
              }
            },
            "description" : "Metadata pertaining to the geographic location of the resource."
          }
        },
        "description" : "Describes the ARM updatable properties of a hybrid machine."
      },
      "OSProfile" : {
        "type" : "object",
        "properties" : {
          "computerName" : {
            "type" : "string",
            "description" : "Specifies the host OS name of the hybrid machine.",
            "readOnly" : true
          }
        },
        "description" : "Specifies the operating system settings for the hybrid machine."
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of compute operations",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/OperationValue"
            }
          }
        },
        "description" : "The List Compute Operation operation response."
      },
      "OperationValue" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "description" : "Display properties",
            "allOf" : [ {
              "$ref" : "#/components/schemas/OperationValueDisplay"
            } ]
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the compute operation.",
            "readOnly" : true
          },
          "origin" : {
            "type" : "string",
            "description" : "The origin of the compute operation.",
            "readOnly" : true
          }
        },
        "description" : "Describes the properties of a Compute Operation value."
      },
      "OperationValueDisplay" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The description of the operation.",
            "readOnly" : true
          },
          "operation" : {
            "type" : "string",
            "description" : "The display name of the compute operation.",
            "readOnly" : true
          },
          "provider" : {
            "type" : "string",
            "description" : "The resource provider for the operation.",
            "readOnly" : true
          },
          "resource" : {
            "type" : "string",
            "description" : "The display name of the resource the operation applies to.",
            "readOnly" : true
          }
        },
        "description" : "Describes the properties of a Hybrid Compute Operation Value Display."
      },
      "UpdateResource" : {
        "type" : "object",
        "properties" : {
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          }
        },
        "description" : "The Update Resource model definition."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}