{"openapi":"3.0.1","info":{"title":"KeyVaultManagementClient","description":"The Admin KeyVault Management Client.","version":"2017-02-01-preview"},"servers":[{"url":"https://management.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.KeyVault.Admin/operations":{"get":{"tags":["KeyVault"],"description":"Get the list of support rest operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2017-02-01-preview"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}}}}}},"components":{"schemas":{"Display":{"type":"object","properties":{"description":{"type":"string","description":"The localized friendly description for the operation, as it should be shown to the user. It should be thorough, yet concise it will be used in tool tips and detailed views."},"operation":{"type":"string","description":"The localized friendly name for the operation, as it should be shown to the user."},"provider":{"type":"string","description":"The localized friendly form of the resource provider name; it is expected to also include the publisher/company responsible. It should use Title Casing and begin with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\""},"resource":{"type":"string","description":"The localized friendly form of the resource type related to this action/operation; it should match the public documentation for the resource provider."}},"description":"Contains the localized display information for this particular operation / action."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/Display"},"name":{"type":"string","description":"The name of the operation being performed on this particular object. It should match the action name that appears in RBAC / the event service."}},"description":"Describes the supported rest operation."},"OperationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page of operations."},"value":{"type":"array","description":"Array of operations","items":{"$ref":"#/components/schemas/Operation"}}},"description":"List of Operations"},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"Location where resource is location.","readOnly":true},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key value pairs.","readOnly":true},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base Resource Object"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string","default":"2017-02-01-preview"}},"LocationParameter":{"name":"location","in":"path","description":"The location of the quota.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}