{"openapi":"3.0.1","info":{"title":"KeyVaultManagementClient","description":"The Azure management API provides a RESTful set of web services that interact with Azure Key Vault.","version":"2018-02-14-preview"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/providers/Microsoft.KeyVault/operations":{"get":{"tags":["Operations"],"description":"Lists all of the available Key Vault Rest API operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}}}}}},"components":{"schemas":{"LogSpecification":{"type":"object","properties":{"blobDuration":{"type":"string","description":"Blob duration of specification."},"displayName":{"type":"string","description":"Display name of log specification."},"name":{"type":"string","description":"Name of log specification."}},"description":"Log specification of operation."},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"Description of operation."},"operation":{"type":"string","description":"Type of operation: get, read, delete, etc."},"provider":{"type":"string","description":"Service provider: Microsoft Key Vault."},"resource":{"type":"string","description":"Resource on which the operation is performed etc."}},"description":"Display metadata associated with the operation."},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"},"origin":{"type":"string","description":"The origin of operations."},"properties":{"$ref":"#/components/schemas/OperationProperties"}},"description":"Key Vault REST API operation definition."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of operations."},"value":{"type":"array","description":"List of Storage operations supported by the Storage resource provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list Storage operations. It contains a list of operations and a URL link to get the next set of results."},"OperationProperties":{"type":"object","properties":{"serviceSpecification":{"$ref":"#/components/schemas/ServiceSpecification"}},"description":"Properties of operation, include metric specifications."},"ServiceSpecification":{"type":"object","properties":{"logSpecifications":{"type":"array","description":"Log specifications of operation.","items":{"$ref":"#/components/schemas/LogSpecification"}}},"description":"One property of operation, include log specifications."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}