{"openapi":"3.0.1","info":{"title":"Channel 4 API","description":"This is the place to come for all the technical details you need to power your applications with Channel 4's deep programmes data.","termsOfService":"http://developer.channel4.com/page/read/API_Terms_of_Use","contact":{"name":"Open C4 Project","url":"http://developer.channel4.com/","email":"developer@channel4.co.uk"},"license":{"name":"Channel 4 API license","url":"http://developer.channel4.com/page/read/API_Terms_of_Use"},"version":"1.0.0"},"externalDocs":{"description":"Programmes API Guide","url":"http://developer.channel4.com/docs/read/ProgrammesAPIGuide"},"servers":[{"url":"http://channel4.com/pmlsd"},{"url":"https://channel4.com/pmlsd"}],"security":[{"apikey":null}],"tags":[{"name":"discoveryresources","description":"Channel 4 data feeds"},{"name":"metadataresources","description":"Channel 4 metadata"}],"paths":{"/4od/episode-list/date/{yyyy}/{mm}/{dd}.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Browse by Date Feed","description":"Information of daily broadcast content available on 4oD, according to \n  broadcast date\n\n  http://api.channel4.com/pmlsd/4od/episode-list/date/[yyyy]/[mm]/[dd].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/4od/episode-list/date/2010/11/28.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Browse_by_Date_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"yyyy","in":"path","description":"The date for which you wish to see programming information","required":true,"schema":{"type":"string"}},{"name":"mm","in":"path","description":"The date for which you wish to see programming information","required":true,"schema":{"type":"string"}},{"name":"dd","in":"path","description":"The date for which you wish to see programming information","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/4od/episode-list/popular.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Most Popular Episodes Feed","description":"Information of the most popular content available on 4oD, according to user \n  data driven.\n\n  http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Most_Popular_Episodes_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/4od/recently-added/videos.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Clips Catch Up Feed","description":"A feed containing metadata about short-form content relating to 4oD Episodes \n  recently added to 4oD based on linear transmission. The entries for the \n  Clips Landing Feed contain references to each short-form asset. It will \n  return up to 20 entries.\n\n  http://api.channel4.com/pmlsd/4od/recently-added/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/4od/episode-list/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Clips_Catch_Up_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/atoz.atom":{"get":{"tags":["discoveryresources"],"summary":"A to Z Landing Feed","description":"Lists Channel 4 programmes alphabetically from A to Z, providing the same \n  functionality and information as is available in the A to Z section of the \n  Channel 4 Programmes page, http://www.channel4.com/programmes.\n\n  http://api.channel4.com/pmlsd/atoz.atom\n\n  http://api.channel4.com/pmlsd/atoz.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"A_to_Z_Landing_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/atoz/{start_letter}.atom":{"get":{"tags":["discoveryresources"],"summary":"A to Z Letter Feed","description":"Lists Channel 4 programmes whose names begin with the associated letter.\n\n  http://api.channel4.com/pmlsd/atoz/start_letter.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/atoz/a.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"A_to_Z_Letter_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"start_letter","in":"path","description":"The letter of the alphabet for which you seek associated Channel 4 programmes","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/atoz/{start_letter}/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"A to Z Letter Feed(2)","description":"Lists Channel 4 programmes whose names begin with the associated letter.\n\n  http://api.channel4.com/pmlsd/atoz/start_letter/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/atoz/a.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"A_to_Z_Letter_Feed(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"start_letter","in":"path","description":"The letter of the alphabet for which you seek associated Channel 4 programmes","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/brands/4od.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Title All Brands Feed","description":"Lists all Channel 4 programmes available on 4oD.  By default, the programmes \n  are listed by title in alphabetical order (case unsensitive).\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Title_All_Brands_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/brands/4od/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Title All Brands Feed(2)","description":"Lists all Channel 4 programmes available on 4oD.  By default, the programmes \n  are listed by title in alphabetical order (case unsensitive).\n\n  http://api.channel4.com/pmlsd/brands/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Title_All_Brands_Feed(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/brands/4od/popular.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Popular All Brands Feed","description":"Lists all Channel 4 programmes available on 4oD by popularity considering \n  the data gathered within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Popular_All_Brands_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/brands/4od/popular/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Popular All Brands Feed(2)","description":"Lists all Channel 4 programmes available on 4oD by popularity considering \n  the data gathered within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Popular_All_Brands_Feed(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/brands/popular.atom":{"get":{"tags":["discoveryresources"],"summary":"Popular Brands Feed","description":"Lists all Channel 4 programmes by popularity considering the data gathered \n  within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Popular_Brands_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/brands/popular/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"Popular Brands Feed(2)","description":"Lists all Channel 4 programmes by popularity considering the data gathered \n  within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Popular_Brands_Feed(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories.atom":{"get":{"tags":["discoveryresources"],"summary":"Categories Landing Feed","description":"Lists Channel 4 programmes by category (/ tag).\n\n  http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Categories_Landing_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by TX Date","description":"Lists all Channel 4 programmes associated with the specified category (tag).  \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_TX_Date","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/4od.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by TX Date","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_TX_Date","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/4od/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by TX Date(4)","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_TX_Date(4)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/4od/popular.atom":{"get":{"tags":["discoveryresources"],"summary":"Most Popular Brands Feed","description":"Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Most_Popular_Brands_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/4od/popular/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"Most Popular Brands Feed(5)","description":"Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Most_Popular_Brands_Feed(5)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/4od/title.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by Title","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_Title","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/4od/title/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by Title(4)","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_Title(4)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/channel/{channel}.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by TX Date(2)","description":"Lists all Channel 4 programmes associated with the specified category (tag).  \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_TX_Date(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"channel","in":"path","description":"The name of the channel for which you seek associated Channel 4oD programmes","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/channel/{channel}/4od.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by TX Date(2)","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_TX_Date(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"channel","in":"path","description":"The name of the channel for which you seek associated Channel 4oD programmes","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/channel/{channel}/4od/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by TX Date(5)","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_TX_Date(5)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"channel","in":"path","description":"The name of the channel for which you seek associated Channel 4oD programmes","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/channel/{channel}/4od/popular.atom":{"get":{"tags":["discoveryresources"],"summary":"Most Popular Brands Feed(3)","description":"Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Most_Popular_Brands_Feed(3)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"channel","in":"path","description":"The name of the channel for which you seek associated Channel 4oD programmes","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/channel/{channel}/4od/popular/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"Most Popular Brands Feed(7)","description":"Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Most_Popular_Brands_Feed(7)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"channel","in":"path","description":"The name of the channel for which you seek associated Channel 4oD programmes","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/channel/{channel}/4od/title.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by Title(2)","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_Title(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"channel","in":"path","description":"The name of the channel for which you seek associated Channel 4oD programmes","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/channel/{channel}/4od/title/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by Title(5)","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_Title(5)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"channel","in":"path","description":"The name of the channel for which you seek associated Channel 4oD programmes","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/channel/{channel}/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by TX Date(5)","description":"Lists all Channel 4 programmes associated with the specified category (tag).  \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_TX_Date(5)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"channel","in":"path","description":"The name of the channel for which you seek associated Channel 4oD programmes","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/channel/{channel}/title.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by Title(2)","description":"Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_Title(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"channel","in":"path","description":"The name of the channel for which you seek associated Channel 4oD programmes","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/channel/{channel}/title/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by Title(5)","description":"Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_Title(5)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"channel","in":"path","description":"The name of the channel for which you seek associated Channel 4oD programmes","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/derived/ad.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by TX Date(3)","description":"Lists all Channel 4 programmes associated with the specified category (tag).  \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_TX_Date(3)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/derived/ad/4od.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by TX Date(3)","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_TX_Date(3)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/derived/ad/4od/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by TX Date(6)","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_TX_Date(6)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/derived/ad/4od/popular.atom":{"get":{"tags":["discoveryresources"],"summary":"Most Popular Brands Feed(4)","description":"Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Most_Popular_Brands_Feed(4)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/derived/ad/4od/popular/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"Most Popular Brands Feed(8)","description":"Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Most_Popular_Brands_Feed(8)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/derived/ad/4od/title.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by Title(3)","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_Title(3)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/derived/ad/4od/title/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"4oD Programmes by Title(6)","description":"Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Programmes_by_Title(6)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/derived/ad/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by TX Date(6)","description":"Lists all Channel 4 programmes associated with the specified category (tag).  \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_TX_Date(6)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/derived/ad/title.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by Title(3)","description":"Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_Title(3)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/derived/ad/title/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by Title(6)","description":"Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_Title(6)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by TX Date(4)","description":"Lists all Channel 4 programmes associated with the specified category (tag).  \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_TX_Date(4)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/popular.atom":{"get":{"tags":["discoveryresources"],"summary":"Most Popular Brands Feed(2)","description":"Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Most_Popular_Brands_Feed(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/popular/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"Most Popular Brands Feed(6)","description":"Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Most_Popular_Brands_Feed(6)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/title.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by Title","description":"Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_Title","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/categories/{category}/title/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"All Programmes by Title(4)","description":"Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"All_Programmes_by_Title(4)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/collections/{collection_name}.atom":{"get":{"tags":["discoveryresources"],"summary":"Collections Feed(2)","description":"Collections are editorially controlled groups of brands, series, episodes or \n  other collections used for promotion and discovery of content. A SIMPLE \n  collection can contain an assortment of Brands, Series, Episodes or Freeform \n  items. A GROUP collection contains other collections.\n\n  http://api.channel4.com/pmlsd/collections/collection_name.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Collections_Feed(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"collection_name","in":"path","description":"Web safe title for the collection.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/collections/{collection_name}/4od.atom":{"get":{"tags":["discoveryresources"],"summary":"Collections Feed","description":"Collections are editorially controlled groups of brands, series, episodes or \n  other collections used for promotion and discovery of content. A SIMPLE \n  collection can contain an assortment of Brands, Series, Episodes or Freeform \n  items. A GROUP collection contains other collections.\n\n  http://api.channel4.com/pmlsd/collections/collection_name/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Collections_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"collection_name","in":"path","description":"Web safe title for the collection.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/collections/{collection_name}/flattened.atom":{"get":{"tags":["discoveryresources"],"summary":"Flattened Collection Feed(2)","description":"The Flattened Collections Feed is only applicable for GROUP collections and \n  its purpose is mainly return 3 items (BRAND, SERIES or EPSIODE) of each of \n  the simple collections assigned to the GROUP.\n\n  http://api.channel4.com/pmlsd/collections/collection_name/flattened.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/flattened/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Flattened_Collection_Feed(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"collection_name","in":"path","description":"Web safe title for the collection.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/collections/{collection_name}/flattened/4od.atom":{"get":{"tags":["discoveryresources"],"summary":"Flattened Collection Feed","description":"The Flattened Collections Feed is only applicable for GROUP collections and \n  its purpose is mainly return 3 items (BRAND, SERIES or EPSIODE) of each of \n  the simple collections assigned to the GROUP.\n\n  http://api.channel4.com/pmlsd/collections/collection_name/flattened/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/flattened/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Flattened_Collection_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"collection_name","in":"path","description":"Web safe title for the collection.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/coming-soon.atom":{"get":{"tags":["metadataresources"],"summary":"Coming Soon feed","description":"Coming Soon feed display a list of episodes coming soon to linear TV so that \n  I can promote new Channel 4 content.\n\n  http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Coming_Soon_feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/coming-soon/{category}.atom":{"get":{"tags":["metadataresources"],"summary":"Coming Soon feed(2)","description":"Coming Soon feed display a list of episodes coming soon to linear TV so that \n  I can promote new Channel 4 content.\n\n  http://api.channel4.com/pmlsd/coming-soon/[category].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Coming_Soon_feed(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"category","in":"path","description":"The category websafe_title to filter the coming soon programmes on TV.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/programme/{programme-id}.atom":{"get":{"tags":["metadataresources"],"summary":"Programme Feed","description":"A feed containing all long-form content currently or previously available \n  for a specified Programme Id. The entries for the Programme feed contain \n  references to long-form assets for each platform.\n\n  http://api.channel4.com/pmlsd/programme/[programme-id].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/programme/33881-001/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Programme_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"programme-id","in":"path","description":"The websafe programme identifier for the episode for which you seek on-demand content","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/search.atom":{"get":{"tags":["discoveryresources"],"summary":"Search Feed","description":"Lists all Channel 4 programmes where title (brand name) matching the search \n  term. Matches are made from the beginning of individual words in the title.\n\n  http://api.channel4.com/pmlsd/search.atom?q=search-term&apikey=xxx\n\n  http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Search_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"q","in":"query","description":"The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/search/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"Search Feed(3)","description":"Lists all Channel 4 programmes where title (brand name) matching the search \n  term. Matches are made from the beginning of individual words in the title.\n\n  http://api.channel4.com/pmlsd/search/page-{pageno}.atom?q=search-term&apikey=xxx\n\n  http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Search_Feed(3)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"q","in":"query","description":"The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded.","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/search/{q}.atom":{"get":{"tags":["discoveryresources"],"summary":"Search Feed(2)","description":"Lists all Channel 4 programmes where title (brand name) matching the search \n  term. Matches are made from the beginning of individual words in the title.\n\n  http://api.channel4.com/pmlsd/search/search-term.atom?apikey=xxx\n\n  http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Search_Feed(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"q","in":"path","description":"The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/search/{q}/page-{pageno}.atom":{"get":{"tags":["discoveryresources"],"summary":"Search Feed(4)","description":"Lists all Channel 4 programmes where title (brand name) matching the search \n  term. Matches are made from the beginning of individual words in the title.\n\n  http://api.channel4.com/pmlsd/search/search-term/page-{pageno}.atom?apikey=xxx\n\n  http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Search_Feed(4)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"q","in":"path","description":"The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded.","required":true,"schema":{"type":"string"}},{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/tv-listings/daily/{yyyy}/{mm}/{dd}.atom":{"get":{"tags":["discoveryresources"],"summary":"TV Listings Feed","description":"EPG Information of daily broadcast content aired per channels, according to \n  broadcast date\n\n  http://api.channel4.com/pmlsd/tv-listings/daily/[yyyy]/[mm]/[dd].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/tv-listings/daily/2010/11/28.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"TV_Listings_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"yyyy","in":"path","description":"The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.","required":true,"schema":{"type":"string"}},{"name":"mm","in":"path","description":"The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.","required":true,"schema":{"type":"string"}},{"name":"dd","in":"path","description":"The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/tv-listings/daily/{yyyy}/{mm}/{dd}/{channel}.atom":{"get":{"tags":["discoveryresources"],"summary":"TV Listings Feed(2)","description":"EPG Information of daily broadcast content aired per channels, according to \n  broadcast date\n\n  http://api.channel4.com/pmlsd/tv-listings/daily/[yyyy]/[mm]/[dd]/[channel].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/tv-listings/daily/2010/11/28.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"TV_Listings_Feed(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"yyyy","in":"path","description":"The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.","required":true,"schema":{"type":"string"}},{"name":"mm","in":"path","description":"The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.","required":true,"schema":{"type":"string"}},{"name":"dd","in":"path","description":"The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.","required":true,"schema":{"type":"string"}},{"name":"channel","in":"path","description":"The EPG for a specific channel (c4, e4, m4, 4m, f4, 4s)","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/{brand-web-safe-title}.atom":{"get":{"tags":["metadataresources"],"summary":"Hub Feed","description":"The basis for all brand information\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/the-it-crowd.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Hub_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"brand-web-safe-title","in":"path","description":"The title of the programme for which you seek associated data","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/{brand-web-safe-title}/4od.atom":{"get":{"tags":["metadataresources"],"summary":"4oD Feed","description":"A feed containing all available on-demand long-form content for a specified \n  brand. The entries for the 4oD feed contain references to each long-form \n  asset for a brand, ordered by series number and episode number.\n\n  http://api.channel4.com/pmlsd/[brand-web-safe-title]/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/the-it-crowd/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"4oD_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"brand-web-safe-title","in":"path","description":"The title of the programme for which you seek on-demand content","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/{brand-web-safe-title}/epg.atom":{"get":{"tags":["metadataresources"],"summary":"Brand EPG Atom Feed","description":"This feed contains metadata about upcoming electronic programme guide (EPG) \n  information for a brand. The entry details upcoming transmission slots for \n  this brand.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/epg.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/the-simpsons/epg.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Brand_EPG_Atom_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"brand-web-safe-title","in":"path","description":"Title of the programme for which you seek EPG information","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/{brand-web-safe-title}/episode-guide.atom":{"get":{"tags":["metadataresources"],"summary":"Episode Guide Feed Series Landing","description":"A feed containing metadata about all series for a specified brand. The \n  entries in this feed contain references to each of the series (where \n  metadata has been published), with some convenient links.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/father-ted/episode-guide.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Episode_Guide_Feed_Series_Landing","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"brand-web-safe-title","in":"path","description":"The title of the programme for which you seek episode-guide information","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/{brand-web-safe-title}/episode-guide/series-{series_number}.atom":{"get":{"tags":["metadataresources"],"summary":"Episode Guide Feed Series Detail","description":"A feed containing metadata about all the episodes for a specific series. The \n  entries in this feed contain references to each of the episodes (where \n  metadata has been published), with some convenient links.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide/series-series_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/chelmsford-123/episode-guide/series-1.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Episode_Guide_Feed_Series_Detail","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"brand-web-safe-title","in":"path","description":"The title of the programme for which you seek series-related information","required":true,"schema":{"type":"string"}},{"name":"series_number","in":"path","description":"Unique enumerated identifier of the series within its brand","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/{brand-web-safe-title}/episode-guide/series-{series_number}/episode-{episode_number}.atom":{"get":{"tags":["metadataresources"],"summary":"Episode Guide Feed Episode Detail","description":"A feed containing metadata about a specified episode. (This feed does not \n  contain any entries and only contains a feed element regarding this \n  episode.)\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide/series-series_number/episode-episode_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/the-it-crowd/episode-guide/series-1/episode-1.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Episode_Guide_Feed_Episode_Detail","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"brand-web-safe-title","in":"path","description":"Title of the brand to which the episode belongs","required":true,"schema":{"type":"string"}},{"name":"series_number","in":"path","description":"Unique enumerated identifier of the series within its brand to which the episode belongs","required":true,"schema":{"type":"string"}},{"name":"episode_number","in":"path","description":"Unique enumerated identifier of the episode within its series","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/{brand-web-safe-title}/videos/all.atom":{"get":{"tags":["metadataresources"],"summary":"Clips Landing Feed Brand Series and Episode Levels","description":"A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;  at series level, \n  the feed contains only clips from the series; and  at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/all.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Clips_Landing_Feed_Brand_Series_and_Episode_Levels","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"brand-web-safe-title","in":"path","description":"Title of brand to which clips belong","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/{brand-web-safe-title}/videos/series-{series_number}.atom":{"get":{"tags":["metadataresources"],"summary":"Clips Landing Feed Brand Series and Episode Levels(2)","description":"A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;  at series level, \n  the feed contains only clips from the series; and  at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/series-series_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Clips_Landing_Feed_Brand_Series_and_Episode_Levels(2)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"brand-web-safe-title","in":"path","description":"Title of brand to which clips belong","required":true,"schema":{"type":"string"}},{"name":"series_number","in":"path","description":"Unique identifier of series to which clips belong","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/{brand-web-safe-title}/videos/series-{series_number}/episode-{episode_number}.atom":{"get":{"tags":["metadataresources"],"summary":"Clips Landing Feed Brand Series and Episode Levels(3)","description":"A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;  at series level, \n  the feed contains only clips from the series; and  at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/series-series_number/episode-episode_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Clips_Landing_Feed_Brand_Series_and_Episode_Levels(3)","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"brand-web-safe-title","in":"path","description":"Title of brand to which clips belong","required":true,"schema":{"type":"string"}},{"name":"series_number","in":"path","description":"Unique identifier of series to which clips belong","required":true,"schema":{"type":"string"}},{"name":"episode_number","in":"path","description":"Unique identifier of episode to which clips belong","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}},"/{brand-web-safe-title}/videos/{clip-asset-id}.atom":{"get":{"tags":["metadataresources"],"summary":"Clip Detail Atom Feed","description":"A feed containing metadata about a single short-form video (clip).\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/clip-asset-id.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/the-it-crowd/videos/TCGS_CLIP_0000001015.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx","operationId":"Clip_Detail_Atom_Feed","parameters":[{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},{"name":"brand-web-safe-title","in":"path","description":"Title of the brand for which you seek a clip","required":true,"schema":{"type":"string"}},{"name":"clip-asset-id","in":"path","description":"Asset id for this clip","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Default response","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/atom"}}}}}}}},"components":{"schemas":{"ContentTypeType":{"type":"object"},"KnownRelCodeType":{"type":"object","description":"alternate: The value \"alternate\" signifies that the IRI in the value of the href attribute identifies an alternate version of the resource described by the containing element.related: The value \"related\" signifies that the IRI in the value of the href attribute identifies a resource related to the resource described by the containing element. For example, the feed for a site that discusses the performance of the search engine at \"http://search.example.com\" might contain, as a child of atom:feed. An identical link might appear as a child of any atom:entry whose content contains a discussion of that same search engine.self: The value \"self\" signifies that the IRI in the value of the href attribute identifies a resource equivalent to the containing element.enclosure: The value \"enclosure\" signifies that the IRI in the value of the href attribute identifies a related resource that is potentially large in size and might require special handling. For atom:link elements with rel=\"enclosure\", the length attribute SHOULD be provided.via: The value \"via\" signifies that the IRI in the value of the href attribute identifies a resource that is the source of the information provided in the containing element.","enum":["alternate","related","self","enclosure","via"]},"MimeType":{"pattern":"(application|audio|image|text|video|message|multipart|model)/.+(;\\s*.+=.+)*","type":"string","description":"XML encoded identifier of a standard MIME type, possibly a parameterized MIME type. Copied from ows 2.0.1"},"RelCodeType":{"type":"object"},"atom":{"title":"converted/atomSchema.xsd","required":["feed"],"type":"object","properties":{"feed":{"$ref":"#/components/schemas/feedType"}},"description":"This version of the Atom schema is based on version 1.0 of the format specifications, found here http://www.atomenabled.org/developers/syndication/atom-format-spec.php. The original namespace was http://www.w3.org/2005/Atom but we changed it to http://www.opengis.net/atom/2005 to avoid conflicting definitions of the same namespace in the future. NOT DONE YET. There is no XSD official schema for atom but this one seems to be the most known: http://www.kbcafe.com/rss/atom.xsd.xml (The Atom Publishing Protocol was issued as a Proposed Standard in IETF RFC 5023 in October 2007 http://tools.ietf.org/html/rfc5023)\nAn Atom document may have two root elements, feed and entry, as defined in section 2."},"categoryType":{"type":"object","description":"The Atom category construct is defined in section 4.2.2 of the format spec."},"commonAttributes":{"type":"object","properties":{"xml:base":{"type":"string"},"xml:lang":{"type":"string"}}},"contentType":{"type":"object","description":"The Atom content construct is defined in section 4.1.3 of the format spec."},"dateTimeType":{"type":"object"},"emailType":{"pattern":"\\w+@(\\w+\\.)+\\w+","type":"string","description":"Schema definition for an email address."},"entry":{"$ref":"#/components/schemas/entryType"},"entryType":{"type":"object","description":"The Atom entry construct is defined in section 4.1.2 of the format spec."},"feedType":{"type":"object","description":"The Atom feed construct is defined in section 4.1.1 of the format spec."},"generatorType":{"type":"object","description":"The Atom generator element is defined in section 4.2.4 of the format spec."},"iconType":{"type":"object","description":"The Atom icon construct is defined in section 4.2.5 of the format spec."},"idType":{"type":"object","description":"The Atom id construct is defined in section 4.2.6 of the format spec."},"linkType":{"type":"object","description":"The Atom link construct is defined in section 3.4 of the format spec."},"logoType":{"type":"object","description":"The Atom logo construct is defined in section 4.2.8 of the format spec."},"personType":{"type":"object","description":"The Atom person construct is defined in section 3.2 of the format spec."},"sourceType":{"type":"object","description":"The Atom source construct is defined in section 4.2.11 of the format spec."},"textType":{"type":"object","description":"The Atom text construct is defined in section 3.1 of the format spec."},"textTypeType":{"type":"object","enum":["text","html","xhtml"]},"uriType":{"type":"object"}},"parameters":{"brand-web-safe-title":{"name":"brand-web-safe-title","in":"path","description":"Title of brand to which clips belong","required":true,"schema":{"type":"string"}},"category":{"name":"category","in":"path","description":"The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)","required":true,"schema":{"type":"string"}},"channel":{"name":"channel","in":"path","description":"The name of the channel for which you seek associated Channel 4oD programmes","required":true,"schema":{"type":"string","enum":["c4","f4","e4","m4","4m","4s"]}},"collection_name":{"name":"collection_name","in":"path","description":"Web safe title for the collection.","required":true,"schema":{"type":"string"}},"dd":{"name":"dd","in":"path","description":"The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.","required":true,"schema":{"type":"string"}},"mm":{"name":"mm","in":"path","description":"The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.","required":true,"schema":{"type":"string"}},"pageno":{"name":"pageno","in":"path","description":"Page number of results to return","required":true,"schema":{"type":"integer"}},"platform":{"name":"platform","in":"query","description":"The platform to use for the query. Alias 'client'.","schema":{"type":"string","enum":["c4","ps3","yv","ios","fm","p06","ctv","freesat","android","samsung"]}},"q":{"name":"q","in":"query","description":"The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded.","required":true,"schema":{"type":"string"}},"q1":{"name":"q","in":"path","description":"The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded.","required":true,"schema":{"type":"string"}},"series_number":{"name":"series_number","in":"path","description":"Unique identifier of series to which clips belong","required":true,"schema":{"type":"string"}},"start_letter":{"name":"start_letter","in":"path","description":"The letter of the alphabet for which you seek associated Channel 4 programmes","required":true,"schema":{"type":"string"}},"yyyy":{"name":"yyyy","in":"path","description":"The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"apikey":{"type":"apiKey","name":"apikey","in":"query"}}}}