{"openapi":"3.0.1","info":{"title":"StorageManagementClient","description":"The Azure Storage Management API.","version":"2019-04-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices":{"get":{"tags":["BlobService"],"description":"List blob services of storage account. It returns a collection of one object named default.","operationId":"BlobServices_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK -- List blob services operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobServiceItems"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers":{"get":{"tags":["BlobContainers"],"description":"Lists all containers and does not support a prefix like data plane. Also SRP today does not return continuation token.","operationId":"BlobContainers_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"$skipToken","in":"query","description":"Optional. Continuation token for the list operation.","schema":{"type":"string"}},{"name":"$maxpagesize","in":"query","description":"Optional. Specified maximum number of containers that can be included in the list.","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Optional. When specified, only container names starting with the filter will be listed.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- List Container operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListContainerItems"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}":{"get":{"tags":["BlobContainers"],"description":"Gets properties of a specified container. ","operationId":"BlobContainers_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK -- Get Container operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobContainer"}}}}}},"put":{"tags":["BlobContainers"],"description":"Creates a new container under the specified account as described by request body. The container resource includes metadata and properties for that container. It does not include a list of the blobs contained by the container. ","operationId":"BlobContainers_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"requestBody":{"description":"Properties of the blob container to create.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobContainer"}}},"required":true},"responses":{"200":{"description":"OK -- The Container is already created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobContainer"}}}},"201":{"description":"Created -- Create Container operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobContainer"}}}}}},"delete":{"tags":["BlobContainers"],"description":"Deletes specified container under its account.","operationId":"BlobContainers_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK -- Delete Container operation completed successfully."},"204":{"description":"No Content -- The Container not exist."}}},"patch":{"tags":["BlobContainers"],"description":"Updates container properties as specified in request body. Properties not mentioned in the request will be unchanged. Update fails if the specified container doesn't already exist. ","operationId":"BlobContainers_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"requestBody":{"description":"Properties to update for the blob container.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobContainer"}}},"required":true},"responses":{"200":{"description":"OK -- Update Container operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobContainer"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/clearLegalHold":{"post":{"tags":["BlobContainers"],"description":"Clears legal hold tags. Clearing the same or non-existent tag results in an idempotent operation. ClearLegalHold clears out only the specified tags in the request.","operationId":"BlobContainers_ClearLegalHold","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"requestBody":{"description":"The LegalHold property that will be clear from a blob container.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalHold"}}},"required":true},"responses":{"200":{"description":"OK -- Clear legal hold tags for Container completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalHold"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/default/extend":{"post":{"tags":["BlobContainers"],"description":"Extends the immutabilityPeriodSinceCreationInDays of a locked immutabilityPolicy. The only action allowed on a Locked policy will be this action. ETag in If-Match is required for this operation.","operationId":"BlobContainers_ExtendImmutabilityPolicy","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"If-Match","in":"header","description":"The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The ImmutabilityPolicy Properties that will be extended for a blob container.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmutabilityPolicy"}}},"required":false},"responses":{"200":{"description":"OK -- Extends container ImmutabilityPolicy operation completed successfully..","headers":{"ETag":{"description":"The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmutabilityPolicy"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/default/lock":{"post":{"tags":["BlobContainers"],"description":"Sets the ImmutabilityPolicy to Locked state. The only action allowed on a Locked policy is ExtendImmutabilityPolicy action. ETag in If-Match is required for this operation.","operationId":"BlobContainers_LockImmutabilityPolicy","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"If-Match","in":"header","description":"The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- Locks container ImmutabilityPolicy operation completed successfully.","headers":{"ETag":{"description":"The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmutabilityPolicy"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/{immutabilityPolicyName}":{"get":{"tags":["BlobContainers"],"description":"Gets the existing immutability policy along with the corresponding ETag in response headers and body.","operationId":"BlobContainers_GetImmutabilityPolicy","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"immutabilityPolicyName","in":"path","description":"The name of the blob container immutabilityPolicy within the specified storage account. ImmutabilityPolicy Name must be 'default'","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"If-Match","in":"header","description":"The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- Gets container ImmutabilityPolicy operation completed successfully.","headers":{"ETag":{"description":"The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmutabilityPolicy"}}}}}},"put":{"tags":["BlobContainers"],"description":"Creates or updates an unlocked immutability policy. ETag in If-Match is honored if given but not required for this operation.","operationId":"BlobContainers_CreateOrUpdateImmutabilityPolicy","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"immutabilityPolicyName","in":"path","description":"The name of the blob container immutabilityPolicy within the specified storage account. ImmutabilityPolicy Name must be 'default'","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"If-Match","in":"header","description":"The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.","schema":{"type":"string"}}],"requestBody":{"description":"The ImmutabilityPolicy Properties that will be created or updated to a blob container.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmutabilityPolicy"}}},"required":false},"responses":{"200":{"description":"OK -- Creates or updates container ImmutabilityPolicy operation completed successfully.","headers":{"ETag":{"description":"The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmutabilityPolicy"}}}}}},"delete":{"tags":["BlobContainers"],"description":"Aborts an unlocked immutability policy. The response of delete has immutabilityPeriodSinceCreationInDays set to 0. ETag in If-Match is required for this operation. Deleting a locked immutability policy is not allowed, only way is to delete the container after deleting all blobs inside the container.","operationId":"BlobContainers_DeleteImmutabilityPolicy","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"immutabilityPolicyName","in":"path","description":"The name of the blob container immutabilityPolicy within the specified storage account. ImmutabilityPolicy Name must be 'default'","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"If-Match","in":"header","description":"The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK -- Deletes container ImmutabilityPolicy operation completed successfully.","headers":{"ETag":{"description":"The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmutabilityPolicy"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/lease":{"post":{"tags":["BlobContainers"],"description":"The Lease Container operation establishes and manages a lock on a container for delete operations. The lock duration can be 15 to 60 seconds, or can be infinite.","operationId":"BlobContainers_Lease","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"requestBody":{"description":"Lease Container request body.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaseContainerRequest"}}},"required":false},"responses":{"200":{"description":"OK -- Lease Container operation completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaseContainerResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/setLegalHold":{"post":{"tags":["BlobContainers"],"description":"Sets legal hold tags. Setting the same tag results in an idempotent operation. SetLegalHold follows an append pattern and does not clear out the existing tags that are not specified in the request.","operationId":"BlobContainers_SetLegalHold","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}}],"requestBody":{"description":"The LegalHold property that will be set to a blob container.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalHold"}}},"required":true},"responses":{"200":{"description":"OK -- Set legal hold tags for Container completed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalHold"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/{BlobServicesName}":{"get":{"tags":["BlobService"],"description":"Gets the properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.","operationId":"BlobServices_GetServiceProperties","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"BlobServicesName","in":"path","description":"The name of the blob Service within the specified storage account. Blob Service Name must be 'default'","required":true,"schema":{"type":"string","enum":["default"]}}],"responses":{"200":{"description":"OK -- returned the properties of a storage account’s Blob service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobServiceProperties"}}}}}},"put":{"tags":["BlobService"],"description":"Sets the properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules. ","operationId":"BlobServices_SetServiceProperties","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group within the user's subscription. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"accountName","in":"path","description":"The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.","required":true,"schema":{"maxLength":24,"minLength":3,"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"BlobServicesName","in":"path","description":"The name of the blob Service within the specified storage account. Blob Service Name must be 'default'","required":true,"schema":{"type":"string","enum":["default"]}}],"requestBody":{"description":"The properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobServiceProperties"}}},"required":true},"responses":{"200":{"description":"OK -- Sets The properties of a storage account’s Blob service successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobServiceProperties"}}}}}}}},"components":{"schemas":{"BlobContainer":{"properties":{"properties":{"$ref":"#/components/schemas/ContainerProperties"}},"description":"Properties of the blob container, including Id, resource name, resource type, Etag.","allOf":[{"properties":{"etag":{"type":"string","description":"Resource Etag.","readOnly":true}},"description":"The resource model definition for a Azure Resource Manager resource with an etag.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"BlobServiceItems":{"type":"object","properties":{"value":{"type":"array","description":"List of blob services returned.","readOnly":true,"items":{"$ref":"#/components/schemas/BlobServiceProperties"}}}},"BlobServiceProperties":{"properties":{"properties":{"type":"object","properties":{"automaticSnapshotPolicyEnabled":{"type":"boolean","description":"Automatic Snapshot is enabled if set to true."},"changeFeed":{"$ref":"#/components/schemas/ChangeFeed"},"cors":{"$ref":"#/components/schemas/CorsRules"},"defaultServiceVersion":{"type":"string","description":"DefaultServiceVersion indicates the default version to use for requests to the Blob service if an incoming request’s version is not specified. Possible values include version 2008-10-27 and all more recent versions."},"deleteRetentionPolicy":{"$ref":"#/components/schemas/DeleteRetentionPolicy"}},"description":"The properties of a storage account’s Blob service."}},"description":"The properties of a storage account’s Blob service.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]},"ChangeFeed":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Indicates whether change feed event logging is enabled for the Blob service."}},"description":"The blob service properties for change feed events."},"ContainerProperties":{"type":"object","properties":{"hasImmutabilityPolicy":{"type":"boolean","description":"The hasImmutabilityPolicy public property is set to true by SRP if ImmutabilityPolicy has been created for this container. The hasImmutabilityPolicy public property is set to false by SRP if ImmutabilityPolicy has not been created for this container.","readOnly":true},"hasLegalHold":{"type":"boolean","description":"The hasLegalHold public property is set to true by SRP if there are at least one existing tag. The hasLegalHold public property is set to false by SRP if all existing legal hold tags are cleared out. There can be a maximum of 1000 blob containers with hasLegalHold=true for a given account.","readOnly":true},"immutabilityPolicy":{"$ref":"#/components/schemas/ImmutabilityPolicyProperties"},"lastModifiedTime":{"type":"string","description":"Returns the date and time the container was last modified.","format":"date-time","readOnly":true},"leaseDuration":{"type":"string","description":"Specifies whether the lease on a container is of infinite or fixed duration, only when the container is leased.","readOnly":true,"enum":["Infinite","Fixed"]},"leaseState":{"type":"string","description":"Lease state of the container.","readOnly":true,"enum":["Available","Leased","Expired","Breaking","Broken"]},"leaseStatus":{"type":"string","description":"The lease status of the container.","readOnly":true,"enum":["Locked","Unlocked"]},"legalHold":{"$ref":"#/components/schemas/LegalHoldProperties"},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"A name-value pair to associate with the container as metadata."},"publicAccess":{"type":"string","description":"Specifies whether data in the container may be accessed publicly and the level of access.","enum":["Container","Blob","None"]}},"description":"The properties of a container."},"CorsRule":{"required":["allowedHeaders","allowedMethods","allowedOrigins","exposedHeaders","maxAgeInSeconds"],"type":"object","properties":{"allowedHeaders":{"type":"array","description":"Required if CorsRule element is present. A list of headers allowed to be part of the cross-origin request.","items":{"type":"string"}},"allowedMethods":{"type":"array","description":"Required if CorsRule element is present. A list of HTTP methods that are allowed to be executed by the origin.","items":{"type":"string","enum":["DELETE","GET","HEAD","MERGE","POST","OPTIONS","PUT"]}},"allowedOrigins":{"type":"array","description":"Required if CorsRule element is present. A list of origin domains that will be allowed via CORS, or \"*\" to allow all domains","items":{"type":"string"}},"exposedHeaders":{"type":"array","description":"Required if CorsRule element is present. A list of response headers to expose to CORS clients.","items":{"type":"string"}},"maxAgeInSeconds":{"type":"integer","description":"Required if CorsRule element is present. The number of seconds that the client/browser should cache a preflight response."}},"description":"Specifies a CORS rule for the Blob service."},"CorsRules":{"type":"object","properties":{"corsRules":{"type":"array","description":"The List of CORS rules. You can include up to five CorsRule elements in the request. ","items":{"$ref":"#/components/schemas/CorsRule"}}},"description":"Sets the CORS rules. You can include up to five CorsRule elements in the request. "},"DeleteRetentionPolicy":{"type":"object","properties":{"days":{"maximum":365,"minimum":1,"type":"integer","description":"Indicates the number of days that the deleted blob should be retained. The minimum specified value can be 1 and the maximum value can be 365."},"enabled":{"type":"boolean","description":"Indicates whether DeleteRetentionPolicy is enabled for the Blob service."}},"description":"The blob service properties for soft delete."},"ImmutabilityPolicy":{"properties":{"properties":{"$ref":"#/components/schemas/ImmutabilityPolicyProperty"}},"description":"The ImmutabilityPolicy property of a blob container, including Id, resource name, resource type, Etag.","allOf":[{"properties":{"etag":{"type":"string","description":"Resource Etag.","readOnly":true}},"description":"The resource model definition for a Azure Resource Manager resource with an etag.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"ImmutabilityPolicyProperties":{"type":"object","properties":{"etag":{"type":"string","description":"ImmutabilityPolicy Etag.","readOnly":true},"properties":{"$ref":"#/components/schemas/ImmutabilityPolicyProperty"},"updateHistory":{"type":"array","description":"The ImmutabilityPolicy update history of the blob container.","readOnly":true,"items":{"$ref":"#/components/schemas/UpdateHistoryProperty"}}},"description":"The properties of an ImmutabilityPolicy of a blob container."},"ImmutabilityPolicyProperty":{"required":["immutabilityPeriodSinceCreationInDays"],"type":"object","properties":{"immutabilityPeriodSinceCreationInDays":{"type":"integer","description":"The immutability period for the blobs in the container since the policy creation, in days."},"state":{"type":"string","description":"The ImmutabilityPolicy state of a blob container, possible values include: Locked and Unlocked.","readOnly":true,"enum":["Locked","Unlocked"]}},"description":"The properties of an ImmutabilityPolicy of a blob container."},"LeaseContainerRequest":{"required":["action"],"type":"object","properties":{"action":{"type":"string","description":"Specifies the lease action. Can be one of the available actions.","enum":["Acquire","Renew","Change","Release","Break"]},"breakPeriod":{"type":"integer","description":"Optional. For a break action, proposed duration the lease should continue before it is broken, in seconds, between 0 and 60."},"leaseDuration":{"type":"integer","description":"Required for acquire. Specifies the duration of the lease, in seconds, or negative one (-1) for a lease that never expires."},"leaseId":{"type":"string","description":"Identifies the lease. Can be specified in any valid GUID string format."},"proposedLeaseId":{"type":"string","description":"Optional for acquire, required for change. Proposed lease ID, in a GUID string format."}},"description":"Lease Container request schema."},"LeaseContainerResponse":{"type":"object","properties":{"leaseId":{"type":"string","description":"Returned unique lease ID that must be included with any request to delete the container, or to renew, change, or release the lease."},"leaseTimeSeconds":{"type":"string","description":"Approximate time remaining in the lease period, in seconds."}},"description":"Lease Container response schema."},"LegalHold":{"required":["tags"],"type":"object","properties":{"hasLegalHold":{"type":"boolean","description":"The hasLegalHold public property is set to true by SRP if there are at least one existing tag. The hasLegalHold public property is set to false by SRP if all existing legal hold tags are cleared out. There can be a maximum of 1000 blob containers with hasLegalHold=true for a given account.","readOnly":true},"tags":{"type":"array","description":"Each tag should be 3 to 23 alphanumeric characters and is normalized to lower case at SRP.","items":{"maxLength":23,"minLength":3,"type":"string"}}},"description":"The LegalHold property of a blob container."},"LegalHoldProperties":{"type":"object","properties":{"hasLegalHold":{"type":"boolean","description":"The hasLegalHold public property is set to true by SRP if there are at least one existing tag. The hasLegalHold public property is set to false by SRP if all existing legal hold tags are cleared out. There can be a maximum of 1000 blob containers with hasLegalHold=true for a given account.","readOnly":true},"tags":{"type":"array","description":"The list of LegalHold tags of a blob container.","items":{"$ref":"#/components/schemas/TagProperty"}}},"description":"The LegalHold property of a blob container."},"ListContainerItem":{"properties":{"properties":{"$ref":"#/components/schemas/ContainerProperties"}},"description":"The blob container properties be listed out.","allOf":[{"properties":{"etag":{"type":"string","description":"Resource Etag.","readOnly":true}},"description":"The resource model definition for a Azure Resource Manager resource with an etag.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"ListContainerItems":{"type":"object","properties":{"nextLink":{"type":"string","description":"Request URL that can be used to query next page of containers. Returned when total number of requested containers exceed maximum page size.","readOnly":true},"value":{"type":"array","description":"List of blobs containers returned.","readOnly":true,"items":{"$ref":"#/components/schemas/ListContainerItem"}}},"description":"Response schema. Contains list of blobs returned, and if paging is requested or required, a URL to next page of containers."},"TagProperty":{"type":"object","properties":{"objectIdentifier":{"type":"string","description":"Returns the Object ID of the user who added the tag.","readOnly":true},"tag":{"type":"string","description":"The tag value.","readOnly":true},"tenantId":{"type":"string","description":"Returns the Tenant ID that issued the token for the user who added the tag.","readOnly":true},"timestamp":{"type":"string","description":"Returns the date and time the tag was added.","format":"date-time","readOnly":true},"upn":{"type":"string","description":"Returns the User Principal Name of the user who added the tag.","readOnly":true}},"description":"A tag of the LegalHold of a blob container."},"UpdateHistoryProperty":{"type":"object","properties":{"immutabilityPeriodSinceCreationInDays":{"type":"integer","description":"The immutability period for the blobs in the container since the policy creation, in days.","readOnly":true},"objectIdentifier":{"type":"string","description":"Returns the Object ID of the user who updated the ImmutabilityPolicy.","readOnly":true},"tenantId":{"type":"string","description":"Returns the Tenant ID that issued the token for the user who updated the ImmutabilityPolicy.","readOnly":true},"timestamp":{"type":"string","description":"Returns the date and time the ImmutabilityPolicy was updated.","format":"date-time","readOnly":true},"update":{"type":"string","description":"The ImmutabilityPolicy update type of a blob container, possible values include: put, lock and extend.","readOnly":true,"enum":["put","lock","extend"]},"upn":{"type":"string","description":"Returns the User Principal Name of the user who updated the ImmutabilityPolicy.","readOnly":true}},"description":"An update history of the ImmutabilityPolicy of a blob container."}},"parameters":{"BlobServicesName":{"name":"BlobServicesName","in":"path","description":"The name of the blob Service within the specified storage account. Blob Service Name must be 'default'","required":true,"schema":{"type":"string","enum":["default"]}},"ContainerName":{"name":"containerName","in":"path","description":"The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.","required":true,"schema":{"maxLength":63,"minLength":3,"type":"string"}},"ImmutabilityPolicyName":{"name":"immutabilityPolicyName","in":"path","description":"The name of the blob container immutabilityPolicy within the specified storage account. ImmutabilityPolicy Name must be 'default'","required":true,"schema":{"type":"string","enum":["default"]}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}