{"openapi":"3.0.1","info":{"title":"TrafficManagerManagementClient","version":"2018-04-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Network/checkTrafficManagerNameAvailability":{"post":{"tags":["Profiles"],"description":"Checks the availability of a Traffic Manager Relative DNS name.","operationId":"Profiles_CheckTrafficManagerRelativeDnsNameAvailability","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The Traffic Manager name parameters supplied to the CheckTrafficManagerNameAvailability operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckTrafficManagerRelativeDnsNameAvailabilityParameters"}}},"required":true},"responses":{"200":{"description":"The Traffic Manager Name Availability.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrafficManagerNameAvailability"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/providers/Microsoft.Network/trafficManagerGeographicHierarchies/default":{"get":{"tags":["GeographicHierarchies"],"description":"Gets the default Geographic Hierarchy used by the Geographic traffic routing method.","operationId":"GeographicHierarchies_GetDefault","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The default Geographic Hierarchy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrafficManagerGeographicHierarchy"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficManagerUserMetricsKeys/default":{"get":{"tags":["RealUserMetrics"],"description":"Get the subscription-level key used for Real User Metrics collection.","operationId":"TrafficManagerUserMetricsKeys_Get","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The subscription-level Traffic Manager Real User Metrics key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMetricsModel"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["RealUserMetrics"],"description":"Create or update a subscription-level key used for Real User Metrics collection.","operationId":"TrafficManagerUserMetricsKeys_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"A new subscription-level key has been created for Real User Metrics collection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMetricsModel"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["RealUserMetrics"],"description":"Delete a subscription-level key used for Real User Metrics collection.","operationId":"TrafficManagerUserMetricsKeys_Delete","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Traffic Manager Real User Metrics key was deleted successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteOperationResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficmanagerprofiles":{"get":{"tags":["Profiles"],"description":"Lists all Traffic Manager profiles within a subscription.","operationId":"Profiles_ListBySubscription","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of Traffic Manager profiles.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles":{"get":{"tags":["Profiles"],"description":"Lists all Traffic Manager profiles within a resource group.","operationId":"Profiles_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Traffic Manager profiles to be listed.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The list of Traffic Manager profiles.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileListResult"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}":{"get":{"tags":["Profiles"],"description":"Gets a Traffic Manager profile.","operationId":"Profiles_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Traffic Manager profile.","required":true,"schema":{"type":"string"}},{"name":"profileName","in":"path","description":"The name of the Traffic Manager profile.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Traffic Manager profile.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Profiles"],"description":"Create or update a Traffic Manager profile.","operationId":"Profiles_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Traffic Manager profile.","required":true,"schema":{"type":"string"}},{"name":"profileName","in":"path","description":"The name of the Traffic Manager profile.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The Traffic Manager profile parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}},"required":true},"responses":{"200":{"description":"The created or updated Traffic Manager profile.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"201":{"description":"The created or updated Traffic Manager profile.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Profiles"],"description":"Deletes a Traffic Manager profile.","operationId":"Profiles_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Traffic Manager profile to be deleted.","required":true,"schema":{"type":"string"}},{"name":"profileName","in":"path","description":"The name of the Traffic Manager profile to be deleted.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Traffic Manager Profile was deleted successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteOperationResult"}}}},"204":{"description":"The profile does not exist. It could have been deleted on a previous request."},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["Profiles"],"description":"Update a Traffic Manager profile.","operationId":"Profiles_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Traffic Manager profile.","required":true,"schema":{"type":"string"}},{"name":"profileName","in":"path","description":"The name of the Traffic Manager profile.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The Traffic Manager profile parameters supplied to the Update operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}},"required":true},"responses":{"200":{"description":"The updated Traffic Manager profile.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/heatMaps/{heatMapType}":{"get":{"tags":["HeatMaps"],"description":"Gets latest heatmap for Traffic Manager profile.","operationId":"HeatMap_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Traffic Manager endpoint.","required":true,"schema":{"type":"string"}},{"name":"profileName","in":"path","description":"The name of the Traffic Manager profile.","required":true,"schema":{"type":"string"}},{"name":"heatMapType","in":"path","description":"The type of HeatMap for the Traffic Manager profile.","required":true,"schema":{"type":"string","enum":["default"]}},{"name":"topLeft","in":"query","description":"The top left latitude,longitude pair of the rectangular viewport to query for.","allowEmptyValue":true,"style":"form","explode":false,"schema":{"maxItems":2,"minItems":2,"type":"array","items":{"type":"number","format":"double"}}},{"name":"botRight","in":"query","description":"The bottom right latitude,longitude pair of the rectangular viewport to query for.","allowEmptyValue":true,"style":"form","explode":false,"schema":{"maxItems":2,"minItems":2,"type":"array","items":{"type":"number","format":"double"}}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Traffic Manager heatmap.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeatMapModel"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/{endpointType}/{endpointName}":{"get":{"tags":["Endpoints"],"description":"Gets a Traffic Manager endpoint.","operationId":"Endpoints_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Traffic Manager endpoint.","required":true,"schema":{"type":"string"}},{"name":"profileName","in":"path","description":"The name of the Traffic Manager profile.","required":true,"schema":{"type":"string"}},{"name":"endpointType","in":"path","description":"The type of the Traffic Manager endpoint.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"The name of the Traffic Manager endpoint.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Traffic Manager endpoint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"tags":["Endpoints"],"description":"Create or update a Traffic Manager endpoint.","operationId":"Endpoints_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Traffic Manager endpoint to be created or updated.","required":true,"schema":{"type":"string"}},{"name":"profileName","in":"path","description":"The name of the Traffic Manager profile.","required":true,"schema":{"type":"string"}},{"name":"endpointType","in":"path","description":"The type of the Traffic Manager endpoint to be created or updated.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"The name of the Traffic Manager endpoint to be created or updated.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The Traffic Manager endpoint parameters supplied to the CreateOrUpdate operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}},"required":true},"responses":{"200":{"description":"The created or updated Endpoint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"201":{"description":"The created or updated Endpoint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"tags":["Endpoints"],"description":"Deletes a Traffic Manager endpoint.","operationId":"Endpoints_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Traffic Manager endpoint to be deleted.","required":true,"schema":{"type":"string"}},{"name":"profileName","in":"path","description":"The name of the Traffic Manager profile.","required":true,"schema":{"type":"string"}},{"name":"endpointType","in":"path","description":"The type of the Traffic Manager endpoint to be deleted.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"The name of the Traffic Manager endpoint to be deleted.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Traffic Manager Endpoint was deleted successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteOperationResult"}}}},"204":{"description":"The Traffic Manager Endpoint does not exist. It could have been deleted on a previous request."},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"tags":["Endpoints"],"description":"Update a Traffic Manager endpoint.","operationId":"Endpoints_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group containing the Traffic Manager endpoint to be updated.","required":true,"schema":{"type":"string"}},{"name":"profileName","in":"path","description":"The name of the Traffic Manager profile.","required":true,"schema":{"type":"string"}},{"name":"endpointType","in":"path","description":"The type of the Traffic Manager endpoint to be updated.","required":true,"schema":{"type":"string"}},{"name":"endpointName","in":"path","description":"The name of the Traffic Manager endpoint to be updated.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The Traffic Manager endpoint parameters supplied to the Update operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}},"required":true},"responses":{"200":{"description":"The updated Traffic Manager endpoint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Endpoint"}}}},"default":{"description":"Default response. It will be deserialized as per the Error definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"CheckTrafficManagerRelativeDnsNameAvailabilityParameters":{"type":"object","properties":{"name":{"type":"string","description":"The name of the resource."},"type":{"type":"string","description":"The type of the resource."}},"description":"Parameters supplied to check Traffic Manager name operation."},"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error returned by the Azure Resource Manager"},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"details":{"type":"array","description":"Error details","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"Error message"},"target":{"type":"string","description":"Error target"}},"description":"The content of an error returned by the Azure Resource Manager"},"DeleteOperationResult":{"type":"object","properties":{"boolean":{"type":"boolean","description":"The result of the operation or request.","readOnly":true}},"description":"The result of the request or operation."},"DnsConfig":{"type":"object","properties":{"fqdn":{"type":"string","description":"The fully-qualified domain name (FQDN) of the Traffic Manager profile. This is formed from the concatenation of the RelativeName with the DNS domain used by Azure Traffic Manager.","readOnly":true},"relativeName":{"type":"string","description":"The relative DNS name provided by this Traffic Manager profile. This value is combined with the DNS domain name used by Azure Traffic Manager to form the fully-qualified domain name (FQDN) of the profile."},"ttl":{"type":"integer","description":"The DNS Time-To-Live (TTL), in seconds. This informs the local DNS resolvers and DNS clients how long to cache DNS responses provided by this Traffic Manager profile.","format":"int64"}},"description":"Class containing DNS settings in a Traffic Manager profile."},"Endpoint":{"properties":{"properties":{"$ref":"#/components/schemas/EndpointProperties"}},"description":"Class representing a Traffic Manager endpoint.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"EndpointProperties":{"type":"object","properties":{"customHeaders":{"type":"array","description":"List of custom headers.","items":{"type":"object","properties":{"name":{"type":"string","description":"Header name."},"value":{"type":"string","description":"Header value."}},"description":"Custom header name and value."}},"endpointLocation":{"type":"string","description":"Specifies the location of the external or nested endpoints when using the 'Performance' traffic routing method."},"endpointMonitorStatus":{"type":"string","description":"The monitoring status of the endpoint.","enum":["CheckingEndpoint","Online","Degraded","Disabled","Inactive","Stopped"]},"endpointStatus":{"type":"string","description":"The status of the endpoint. If the endpoint is Enabled, it is probed for endpoint health and is included in the traffic routing method.","enum":["Enabled","Disabled"]},"geoMapping":{"type":"array","description":"The list of countries/regions mapped to this endpoint when using the 'Geographic' traffic routing method. Please consult Traffic Manager Geographic documentation for a full list of accepted values.","items":{"type":"string"}},"minChildEndpoints":{"type":"integer","description":"The minimum number of endpoints that must be available in the child profile in order for the parent profile to be considered available. Only applicable to endpoint of type 'NestedEndpoints'.","format":"int64"},"priority":{"type":"integer","description":"The priority of this endpoint when using the 'Priority' traffic routing method. Possible values are from 1 to 1000, lower values represent higher priority. This is an optional parameter.  If specified, it must be specified on all endpoints, and no two endpoints can share the same priority value.","format":"int64"},"subnets":{"type":"array","description":"The list of subnets, IP addresses, and/or address ranges mapped to this endpoint when using the 'Subnet' traffic routing method. An empty list will match all ranges not covered by other endpoints.","items":{"type":"object","properties":{"first":{"type":"string","description":"First address in the subnet."},"last":{"type":"string","description":"Last address in the subnet."},"scope":{"type":"integer","description":"Block size (number of leading bits in the subnet mask)."}},"description":"Subnet first address, scope, and/or last address."}},"target":{"type":"string","description":"The fully-qualified DNS name or IP address of the endpoint. Traffic Manager returns this value in DNS responses to direct traffic to this endpoint."},"targetResourceId":{"type":"string","description":"The Azure Resource URI of the of the endpoint. Not applicable to endpoints of type 'ExternalEndpoints'."},"weight":{"type":"integer","description":"The weight of this endpoint when using the 'Weighted' traffic routing method. Possible values are from 1 to 1000.","format":"int64"}},"description":"Class representing a Traffic Manager endpoint properties."},"GeographicHierarchyProperties":{"type":"object","properties":{"geographicHierarchy":{"$ref":"#/components/schemas/Region"}},"description":"Class representing the properties of the Geographic hierarchy used with the Geographic traffic routing method."},"HeatMapEndpoint":{"type":"object","properties":{"endpointId":{"type":"integer","description":"A number uniquely identifying this endpoint in query experiences."},"resourceId":{"type":"string","description":"The ARM Resource ID of this Traffic Manager endpoint."}},"description":"Class which is a sparse representation of a Traffic Manager endpoint."},"HeatMapModel":{"properties":{"properties":{"$ref":"#/components/schemas/HeatMapProperties"}},"description":"Class representing a Traffic Manager HeatMap.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"HeatMapProperties":{"type":"object","properties":{"endTime":{"type":"string","description":"The ending of the time window for this HeatMap, exclusive.","format":"date-time"},"endpoints":{"type":"array","description":"The endpoints used in this HeatMap calculation.","items":{"$ref":"#/components/schemas/HeatMapEndpoint"}},"startTime":{"type":"string","description":"The beginning of the time window for this HeatMap, inclusive.","format":"date-time"},"trafficFlows":{"type":"array","description":"The traffic flows produced in this HeatMap calculation.","items":{"$ref":"#/components/schemas/TrafficFlow"}}},"description":"Class representing a Traffic Manager HeatMap properties."},"MonitorConfig":{"type":"object","properties":{"customHeaders":{"type":"array","description":"List of custom headers.","items":{"type":"object","properties":{"name":{"type":"string","description":"Header name."},"value":{"type":"string","description":"Header value."}},"description":"Custom header name and value."}},"expectedStatusCodeRanges":{"type":"array","description":"List of expected status code ranges.","items":{"type":"object","properties":{"max":{"type":"integer","description":"Max status code."},"min":{"type":"integer","description":"Min status code."}},"description":"Min and max value of a status code range."}},"intervalInSeconds":{"type":"integer","description":"The monitor interval for endpoints in this profile. This is the interval at which Traffic Manager will check the health of each endpoint in this profile.","format":"int64"},"path":{"type":"string","description":"The path relative to the endpoint domain name used to probe for endpoint health."},"port":{"type":"integer","description":"The TCP port used to probe for endpoint health.","format":"int64"},"profileMonitorStatus":{"type":"string","description":"The profile-level monitoring status of the Traffic Manager profile.","enum":["CheckingEndpoints","Online","Degraded","Disabled","Inactive"]},"protocol":{"type":"string","description":"The protocol (HTTP, HTTPS or TCP) used to probe for endpoint health.","enum":["HTTP","HTTPS","TCP"]},"timeoutInSeconds":{"type":"integer","description":"The monitor timeout for endpoints in this profile. This is the time that Traffic Manager allows endpoints in this profile to response to the health check.","format":"int64"},"toleratedNumberOfFailures":{"type":"integer","description":"The number of consecutive failed health check that Traffic Manager tolerates before declaring an endpoint in this profile Degraded after the next failed health check.","format":"int64"}},"description":"Class containing endpoint monitoring settings in a Traffic Manager profile."},"Profile":{"properties":{"properties":{"$ref":"#/components/schemas/ProfileProperties"}},"description":"Class representing a Traffic Manager profile.","allOf":[{"$ref":"#/components/schemas/TrackedResource"}]},"ProfileListResult":{"type":"object","properties":{"value":{"type":"array","description":"Gets the list of Traffic manager profiles.","items":{"$ref":"#/components/schemas/Profile"}}},"description":"The list Traffic Manager profiles operation response."},"ProfileProperties":{"type":"object","properties":{"dnsConfig":{"$ref":"#/components/schemas/DnsConfig"},"endpoints":{"type":"array","description":"The list of endpoints in the Traffic Manager profile.","items":{"$ref":"#/components/schemas/Endpoint"}},"maxReturn":{"type":"integer","description":"Maximum number of endpoints to be returned for MultiValue routing type.","format":"int64"},"monitorConfig":{"$ref":"#/components/schemas/MonitorConfig"},"profileStatus":{"type":"string","description":"The status of the Traffic Manager profile.","enum":["Enabled","Disabled"]},"trafficRoutingMethod":{"type":"string","description":"The traffic routing method of the Traffic Manager profile.","enum":["Performance","Priority","Weighted","Geographic","MultiValue","Subnet"]},"trafficViewEnrollmentStatus":{"type":"string","description":"Indicates whether Traffic View is 'Enabled' or 'Disabled' for the Traffic Manager profile. Null, indicates 'Disabled'. Enabling this feature will increase the cost of the Traffic Manage profile.","enum":["Enabled","Disabled"]}},"description":"Class representing the Traffic Manager profile properties."},"ProxyResource":{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"$ref":"#/components/schemas/Resource"}]},"QueryExperience":{"required":["endpointId","queryCount"],"type":"object","properties":{"endpointId":{"type":"integer","description":"The id of the endpoint from the 'endpoints' array which these queries were routed to."},"latency":{"type":"number","description":"The latency experienced by queries originating from this location.","format":"double"},"queryCount":{"type":"integer","description":"The number of queries originating from this location."}},"description":"Class representing a Traffic Manager HeatMap query experience properties."},"Region":{"type":"object","properties":{"code":{"type":"string","description":"The code of the region"},"name":{"type":"string","description":"The name of the region"},"regions":{"type":"array","description":"The list of Regions grouped under this Region in the Geographic Hierarchy.","items":{"$ref":"#/components/schemas/Region"}}},"description":"Class representing a region in the Geographic hierarchy used with the Geographic traffic routing method."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}"},"name":{"type":"string","description":"The name of the resource"},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles."}},"description":"The core properties of ARM resources"},"TrackedResource":{"properties":{"location":{"type":"string","description":"The Azure Region where the resource lives"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"The resource model definition for a ARM tracked top level resource","allOf":[{"$ref":"#/components/schemas/Resource"}]},"TrafficFlow":{"type":"object","properties":{"latitude":{"type":"number","description":"The approximate latitude that these queries originated from.","format":"double"},"longitude":{"type":"number","description":"The approximate longitude that these queries originated from.","format":"double"},"queryExperiences":{"type":"array","description":"The query experiences produced in this HeatMap calculation.","items":{"$ref":"#/components/schemas/QueryExperience"}},"sourceIp":{"type":"string","description":"The IP address that this query experience originated from."}},"description":"Class representing a Traffic Manager HeatMap traffic flow properties."},"TrafficManagerGeographicHierarchy":{"properties":{"properties":{"$ref":"#/components/schemas/GeographicHierarchyProperties"}},"description":"Class representing the Geographic hierarchy used with the Geographic traffic routing method.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"TrafficManagerNameAvailability":{"type":"object","properties":{"message":{"type":"string","description":"Descriptive message that explains why the name is not available, when applicable."},"name":{"type":"string","description":"The relative name."},"nameAvailable":{"type":"boolean","description":"Describes whether the relative name is available or not."},"reason":{"type":"string","description":"The reason why the name is not available, when applicable."},"type":{"type":"string","description":"Traffic Manager profile resource type."}},"description":"Class representing a Traffic Manager Name Availability response."},"UserMetricsModel":{"properties":{"properties":{"$ref":"#/components/schemas/UserMetricsProperties"}},"description":"Class representing Traffic Manager User Metrics.","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"UserMetricsProperties":{"type":"object","properties":{"key":{"type":"string","description":"The key returned by the User Metrics operation."}},"description":"Class representing a Traffic Manager Real User Metrics key response."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}