{"openapi":"3.0.1","info":{"title":"AutomationManagement","version":"2015-10-31"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups":{"get":{"tags":["HybridRunbookWorkerGroup"],"description":"Retrieve a list of hybrid runbook worker groups.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"},"operationId":"HybridRunbookWorkerGroup_ListByAutomationAccount","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"The filter to apply on the operation.","schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HybridRunbookWorkerGroupsListResult"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}":{"get":{"tags":["HybridRunbookWorkerGroup"],"description":"Retrieve a hybrid runbook worker group.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"},"operationId":"HybridRunbookWorkerGroup_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"hybridRunbookWorkerGroupName","in":"path","description":"The hybrid runbook worker group name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HybridRunbookWorkerGroup"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"delete":{"tags":["HybridRunbookWorkerGroup"],"description":"Delete a hybrid runbook worker group.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"},"operationId":"HybridRunbookWorkerGroup_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"hybridRunbookWorkerGroupName","in":"path","description":"The hybrid runbook worker group name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}},"patch":{"tags":["HybridRunbookWorkerGroup"],"description":"Update a hybrid runbook worker group.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"},"operationId":"HybridRunbookWorkerGroup_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"hybridRunbookWorkerGroupName","in":"path","description":"The hybrid runbook worker group name","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The hybrid runbook worker group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HybridRunbookWorkerGroupUpdateParameters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HybridRunbookWorkerGroup"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"HybridRunbookWorker":{"type":"object","properties":{"ip":{"type":"string","description":"Gets or sets the assigned machine IP address."},"lastSeenDateTime":{"type":"string","description":"Last Heartbeat from the Worker","format":"date-time","nullable":false},"name":{"type":"string","description":"Gets or sets the worker machine name."},"registrationTime":{"type":"string","description":"Gets or sets the registration time of the worker machine.","format":"date-time","nullable":false}},"description":"Definition of hybrid runbook worker."},"HybridRunbookWorkerGroup":{"type":"object","properties":{"credential":{"$ref":"#/components/schemas/RunAsCredentialAssociationProperty"},"groupType":{"type":"string","description":"Type of the HybridWorkerGroup.","enum":["User","System"]},"hybridRunbookWorkers":{"type":"array","description":"Gets or sets the list of hybrid runbook workers.","items":{"$ref":"#/components/schemas/HybridRunbookWorker"}},"id":{"type":"string","description":"Gets or sets the id of the resource."},"name":{"type":"string","description":"Gets or sets the name of the group."}},"description":"Definition of hybrid runbook worker group."},"HybridRunbookWorkerGroupUpdateParameters":{"type":"object","properties":{"credential":{"$ref":"#/components/schemas/RunAsCredentialAssociationProperty"}},"description":"Parameters supplied to the update operation."},"HybridRunbookWorkerGroupsListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Gets or sets the next link."},"value":{"type":"array","description":"Gets or sets a list of hybrid runbook worker groups.","items":{"$ref":"#/components/schemas/HybridRunbookWorkerGroup"}}},"description":"The response model for the list hybrid runbook worker groups."},"RunAsCredentialAssociationProperty":{"type":"object","properties":{"name":{"type":"string","description":"Gets or sets the name of the credential."}},"description":"Definition of RunAs credential to use for hybrid worker."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}