{"openapi":"3.0.1","info":{"title":"BackupManagementClient","description":"The Admin Backup Management Client.","version":"2018-09-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Backup.Admin/operations":{"get":{"tags":["Backup"],"description":"Returns the list of support REST operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-09-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}}}}}},"components":{"schemas":{"Display":{"type":"object","properties":{"description":{"type":"string","description":"The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.","readOnly":true},"operation":{"type":"string","description":"The localized, friendly name for the operation. Use the name as it will displayed to the user.","readOnly":true},"provider":{"type":"string","description":"The localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. It should use Title Casing and begin with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\"","readOnly":true},"resource":{"type":"string","description":"The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.","readOnly":true}},"description":"Contains the localized display information for this particular operation / action."},"LongRunningOperationStatus":{"type":"object","properties":{"code":{"type":"string","description":"Operation result code.","readOnly":true},"message":{"type":"string","description":"Description of the operation status.","readOnly":true}},"description":"Status of a long running operation."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/Display"},"name":{"type":"string","description":"The name of the operation being performed on this particular object. This name should match the name that appears in RBAC or the event service.","readOnly":true}},"description":"Describes the supported REST operation."},"OperationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page of operations.","readOnly":true},"value":{"type":"array","description":"Array of operations","readOnly":true,"items":{"$ref":"#/components/schemas/Operation"}}},"description":"List of Operations"},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"Location of the resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key value pairs."},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base Resource Object"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string","default":"2018-09-01"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"Name of the resource group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}