{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "RecoveryServicesBackupClient",
    "version" : "2016-12-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig" : {
      "get" : {
        "tags" : [ "BackupVaultConfigs" ],
        "description" : "Fetches vault config.",
        "operationId" : "BackupVaultConfigs_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupVaultConfig"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "BackupVaultConfigs" ],
        "description" : "Updates vault config model type.",
        "operationId" : "BackupVaultConfigs_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Backup vault config.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupVaultConfig"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupVaultConfig"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig" : {
      "get" : {
        "tags" : [ "BackupStorageConfigs" ],
        "description" : "Fetches resource storage config.",
        "operationId" : "BackupStorageConfigs_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupStorageConfig"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "BackupStorageConfigs" ],
        "description" : "Updates vault storage model type.",
        "operationId" : "BackupStorageConfigs_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Backup storage config.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupStorageConfig"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        },
        "deprecated" : false
      }
    }
  },
  "components" : {
    "schemas" : {
      "BackupStorageConfig" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/BackupStorageConfigProperties"
          }
        },
        "description" : "The backup storage config.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "eTag" : {
              "type" : "string",
              "description" : "Optional ETag."
            },
            "id" : {
              "type" : "string",
              "description" : "Resource Id represents the complete path to the resource.",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name associated with the resource.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
              "readOnly" : true
            }
          },
          "description" : "ARM Resource."
        } ]
      },
      "BackupStorageConfigProperties" : {
        "type" : "object",
        "properties" : {
          "storageModelType" : {
            "type" : "string",
            "description" : "Storage model type.",
            "enum" : [ "Invalid", "GeoRedundant", "LocallyRedundant" ]
          },
          "storageType" : {
            "type" : "string",
            "description" : "Storage type.",
            "enum" : [ "Invalid", "GeoRedundant", "LocallyRedundant" ]
          },
          "storageTypeState" : {
            "type" : "string",
            "description" : "Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked.",
            "enum" : [ "Invalid", "Locked", "Unlocked" ]
          }
        },
        "description" : "The backup storage config."
      },
      "BackupVaultConfig" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/BackupVaultConfigProperties"
          }
        },
        "description" : "Backup vault config details.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "eTag" : {
              "type" : "string",
              "description" : "Optional ETag."
            },
            "id" : {
              "type" : "string",
              "description" : "Resource Id represents the complete path to the resource.",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name associated with the resource.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
              "readOnly" : true
            }
          },
          "description" : "ARM Resource."
        } ]
      },
      "BackupVaultConfigProperties" : {
        "type" : "object",
        "properties" : {
          "enhancedSecurityState" : {
            "type" : "string",
            "description" : "Enabled or Disabled.",
            "enum" : [ "Invalid", "Enabled", "Disabled" ]
          },
          "storageType" : {
            "type" : "string",
            "description" : "Storage type.",
            "enum" : [ "Invalid", "GeoRedundant", "LocallyRedundant" ]
          },
          "storageTypeState" : {
            "type" : "string",
            "description" : "Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked.",
            "enum" : [ "Invalid", "Locked", "Unlocked" ]
          }
        },
        "description" : "Backup vault config details."
      }
    },
    "parameters" : {
      "ApiVersion" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupName" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group where the recovery services vault is present.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionId" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription Id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "VaultName" : {
        "name" : "vaultName",
        "in" : "path",
        "description" : "The name of the recovery services vault.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}