{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "RecoveryServicesClient",
    "version" : "2016-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.RecoveryServices/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Returns the list of available operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClientDiscoveryResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/vaults" : {
      "get" : {
        "tags" : [ "Vaults" ],
        "description" : "Fetches all the resources of the specified type in the subscription.",
        "operationId" : "Vaults_ListBySubscriptionId",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VaultList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/locations/{location}/checkNameAvailability" : {
      "post" : {
        "tags" : [ "RecoveryServices" ],
        "summary" : "API to check for resource name availability.\r\nA name is available if no other resource exists that has the same SubscriptionId, Resource Name and Type\r\nor if one or more such resources exist, each of these must be GC'd and their time of deletion be more than 24 Hours Ago",
        "operationId" : "RecoveryServices_CheckNameAvailability",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Contains information about Resource type and Resource name",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckNameAvailabilityParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckNameAvailabilityResultResource"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults" : {
      "get" : {
        "tags" : [ "Vaults" ],
        "description" : "Retrieve a list of Vaults.",
        "operationId" : "Vaults_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VaultList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}" : {
      "get" : {
        "tags" : [ "Vaults" ],
        "description" : "Get the Vault details.",
        "operationId" : "Vaults_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Vault"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Vaults" ],
        "description" : "Creates or updates a Recovery Services vault.",
        "operationId" : "Vaults_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Recovery Services Vault to be created.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Vault"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Vault"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Vault"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Vaults" ],
        "description" : "Deletes a vault.",
        "operationId" : "Vaults_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "Vaults" ],
        "description" : "Updates the vault.",
        "operationId" : "Vaults_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Recovery Services Vault to be created.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PatchVault"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Vault"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Vault"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/extendedInformation/vaultExtendedInfo" : {
      "get" : {
        "tags" : [ "VaultExtendedInfo" ],
        "description" : "Get the vault extended info.",
        "operationId" : "VaultExtendedInfo_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VaultExtendedInfoResource"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "VaultExtendedInfo" ],
        "description" : "Create vault extended info.",
        "operationId" : "VaultExtendedInfo_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Details of ResourceExtendedInfo",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VaultExtendedInfoResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VaultExtendedInfoResource"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "VaultExtendedInfo" ],
        "description" : "Update vault extended info.",
        "operationId" : "VaultExtendedInfo_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Details of ResourceExtendedInfo",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VaultExtendedInfoResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VaultExtendedInfoResource"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    }
  },
  "components" : {
    "schemas" : {
      "CheckNameAvailabilityParameters" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Resource name for which availability needs to be checked"
          },
          "type" : {
            "type" : "string",
            "description" : "Describes the Resource type: Microsoft.RecoveryServices/Vaults"
          }
        },
        "description" : "Resource Name availability input parameters - Resource type and resource name"
      },
      "CheckNameAvailabilityResult" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string"
          },
          "nameAvailable" : {
            "type" : "boolean"
          },
          "reason" : {
            "type" : "string"
          }
        },
        "description" : "Response for check name availability API. Resource provider will set availability as true | false."
      },
      "CheckNameAvailabilityResultResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/CheckNameAvailabilityResult"
          }
        },
        "description" : "Response for check name availability API. Resource provider will set availability as true | false.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "ClientDiscoveryDisplay" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Description of the operation having details of what operation is about."
          },
          "operation" : {
            "type" : "string",
            "description" : "Operations Name itself."
          },
          "provider" : {
            "type" : "string",
            "description" : "Name of the provider for display purposes"
          },
          "resource" : {
            "type" : "string",
            "description" : "ResourceType for which this Operation can be performed."
          }
        },
        "description" : "Localized display information of an operation."
      },
      "ClientDiscoveryForLogSpecification" : {
        "type" : "object",
        "properties" : {
          "blobDuration" : {
            "type" : "string",
            "description" : "Blobs created in customer storage account per hour"
          },
          "displayName" : {
            "type" : "string",
            "description" : "Localized display name"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the log."
          }
        },
        "description" : "Class to represent shoebox log specification in json client discovery."
      },
      "ClientDiscoveryForProperties" : {
        "type" : "object",
        "properties" : {
          "serviceSpecification" : {
            "$ref" : "#/components/schemas/ClientDiscoveryForServiceSpecification"
          }
        },
        "description" : "Class to represent shoebox properties in json client discovery."
      },
      "ClientDiscoveryForServiceSpecification" : {
        "type" : "object",
        "properties" : {
          "logSpecifications" : {
            "type" : "array",
            "description" : "List of log specifications of this operation.",
            "items" : {
              "$ref" : "#/components/schemas/ClientDiscoveryForLogSpecification"
            }
          }
        },
        "description" : "Class to represent shoebox service specification in json client discovery."
      },
      "ClientDiscoveryResponse" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to the next chunk of the response"
          },
          "value" : {
            "type" : "array",
            "description" : "List of available operations.",
            "items" : {
              "$ref" : "#/components/schemas/ClientDiscoveryValueForSingleApi"
            }
          }
        },
        "description" : "Operations List response which contains list of available APIs."
      },
      "ClientDiscoveryValueForSingleApi" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/ClientDiscoveryDisplay"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the Operation."
          },
          "origin" : {
            "type" : "string",
            "description" : "The intended executor of the operation;governs the display of the operation in the RBAC UX and the audit logs UX"
          },
          "properties" : {
            "$ref" : "#/components/schemas/ClientDiscoveryForProperties"
          }
        },
        "description" : "Available operation details."
      },
      "PatchTrackedResource" : {
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "Resource location."
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags."
          }
        },
        "description" : "Tracked resource with location.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "PatchVault" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/VaultProperties"
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          }
        },
        "description" : "Patch Resource information, as returned by the resource provider.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/PatchTrackedResource"
        } ]
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "eTag" : {
            "type" : "string",
            "description" : "Optional ETag."
          },
          "id" : {
            "type" : "string",
            "description" : "Resource Id represents the complete path to the resource.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name associated with the resource.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
            "readOnly" : true
          }
        },
        "description" : "ARM Resource."
      },
      "Sku" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The Sku name.",
            "enum" : [ "Standard", "RS0" ]
          }
        },
        "description" : "Identifies the unique system identifier for each Azure resource."
      },
      "TrackedResource" : {
        "properties" : {
          "location" : {
            "type" : "string",
            "description" : "Resource location."
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags."
          }
        },
        "description" : "Tracked resource with location.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "UpgradeDetails" : {
        "type" : "object",
        "properties" : {
          "endTimeUtc" : {
            "type" : "string",
            "description" : "UTC time at which the upgrade operation has ended.",
            "format" : "date-time",
            "readOnly" : true
          },
          "lastUpdatedTimeUtc" : {
            "type" : "string",
            "description" : "UTC time at which the upgrade operation status was last updated.",
            "format" : "date-time",
            "readOnly" : true
          },
          "message" : {
            "type" : "string",
            "description" : "Message to the user containing information about the upgrade operation.",
            "readOnly" : true
          },
          "operationId" : {
            "type" : "string",
            "description" : "ID of the vault upgrade operation.",
            "readOnly" : true
          },
          "previousResourceId" : {
            "type" : "string",
            "description" : "Resource ID of the vault before the upgrade.",
            "readOnly" : true
          },
          "startTimeUtc" : {
            "type" : "string",
            "description" : "UTC time at which the upgrade operation has started.",
            "format" : "date-time",
            "readOnly" : true
          },
          "status" : {
            "type" : "string",
            "description" : "Status of the vault upgrade operation.",
            "readOnly" : true,
            "enum" : [ "Unknown", "InProgress", "Upgraded", "Failed" ]
          },
          "triggerType" : {
            "type" : "string",
            "description" : "The way the vault upgrade was triggered.",
            "readOnly" : true,
            "enum" : [ "UserTriggered", "ForcedUpgrade" ]
          },
          "upgradedResourceId" : {
            "type" : "string",
            "description" : "Resource ID of the upgraded vault.",
            "readOnly" : true
          }
        },
        "description" : "Details for upgrading vault."
      },
      "Vault" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/VaultProperties"
          },
          "sku" : {
            "$ref" : "#/components/schemas/Sku"
          }
        },
        "description" : "Resource information, as returned by the resource provider.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/TrackedResource"
        } ]
      },
      "VaultExtendedInfo" : {
        "type" : "object",
        "properties" : {
          "algorithm" : {
            "type" : "string",
            "description" : "Algorithm for Vault ExtendedInfo"
          },
          "encryptionKey" : {
            "type" : "string",
            "description" : "Encryption key."
          },
          "encryptionKeyThumbprint" : {
            "type" : "string",
            "description" : "Encryption key thumbprint."
          },
          "integrityKey" : {
            "type" : "string",
            "description" : "Integrity key."
          }
        },
        "description" : "Vault extended information."
      },
      "VaultExtendedInfoResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/VaultExtendedInfo"
          }
        },
        "description" : "Vault extended information.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "VaultList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Vault"
            }
          }
        },
        "description" : "The response model for a list of Vaults."
      },
      "VaultProperties" : {
        "type" : "object",
        "properties" : {
          "provisioningState" : {
            "type" : "string",
            "description" : "Provisioning State.",
            "readOnly" : true
          },
          "upgradeDetails" : {
            "$ref" : "#/components/schemas/UpgradeDetails"
          }
        },
        "description" : "Properties of the vault."
      }
    },
    "parameters" : {
      "ApiVersion" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupName" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group where the recovery services vault is present.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionId" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription Id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "VaultName" : {
        "name" : "vaultName",
        "in" : "path",
        "description" : "The name of the recovery services vault.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}