{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AzureDigitalTwinsManagementClient",
    "description" : "Azure Digital Twins Client for managing DigitalTwinsInstance",
    "version" : "2020-03-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.DigitalTwins/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available DigitalTwins service REST API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DigitalTwins/digitalTwinsInstances" : {
      "get" : {
        "tags" : [ "DigitalTwinsInstance" ],
        "description" : "Get all the DigitalTwinsInstances in a subscription.",
        "operationId" : "DigitalTwins_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the DigitalTwinsInstances in the subscription.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsDescriptionListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DigitalTwins/locations/{location}/checkNameAvailability" : {
      "post" : {
        "tags" : [ "CheckNameAvailability" ],
        "description" : "Check if a DigitalTwinsInstance name is available.",
        "operationId" : "DigitalTwins_CheckNameAvailability",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "minLength" : 3,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Set the name parameter in the DigitalTwinsInstanceCheckName structure to the name of the DigitalTwinsInstance to check.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CheckNameRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the DigitalTwins service name is available. If the name is not available, the body contains the reason.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CheckNameResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances" : {
      "get" : {
        "tags" : [ "DigitalTwinsInstance" ],
        "description" : "Get all the DigitalTwinsInstances in a resource group.",
        "operationId" : "DigitalTwins_ListByResourceGroup",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the DigitalTwinsInstances in the resource group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsDescriptionListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances/{resourceName}" : {
      "get" : {
        "tags" : [ "DigitalTwinsInstance" ],
        "description" : "Get DigitalTwinsInstances resource.",
        "operationId" : "DigitalTwins_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The body contains all the non-security properties of the DigitalTwinsInstance. Security-related properties are set to null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsDescription"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DigitalTwinsInstance" ],
        "description" : "Create or update the metadata of a DigitalTwinsInstance. The usual pattern to modify a property is to retrieve the DigitalTwinsInstance and security metadata, and then combine them with the modified values in a new body to update the DigitalTwinsInstance.",
        "operationId" : "DigitalTwins_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The DigitalTwinsInstance and security metadata.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DigitalTwinsDescription"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsDescription"
                }
              }
            }
          },
          "201" : {
            "description" : "Created - Put request accepted; the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsDescription"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "DigitalTwinsInstance" ],
        "description" : "Delete a DigitalTwinsInstance.",
        "operationId" : "DigitalTwins_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state."
          },
          "202" : {
            "description" : "Accepted - Delete request accepted; the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsDescription"
                }
              }
            }
          },
          "204" : {
            "description" : "Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the DigitalTwins service metadata in the service and the status of the delete operation is set to a completed state."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "DigitalTwinsInstance" ],
        "description" : "Update metadata of DigitalTwinsInstance.",
        "operationId" : "DigitalTwins_Update",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The DigitalTwinsInstance and security metadata.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DigitalTwinsPatchDescription"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsDescription"
                }
              }
            }
          },
          "201" : {
            "description" : "Accepted - Put request accepted; the operation will complete asynchronously."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances/{resourceName}/endpoints" : {
      "get" : {
        "tags" : [ "Endpoints" ],
        "description" : "Get DigitalTwinsInstance Endpoints.",
        "operationId" : "DigitalTwinsEndpoint_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The body contains all the non-security properties of the DigitalTwinsInstance. Security-related properties are set to null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsEndpointResourceListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances/{resourceName}/endpoints/{endpointName}" : {
      "get" : {
        "tags" : [ "Endpoints" ],
        "description" : "Get DigitalTwinsInstances Endpoint.",
        "operationId" : "DigitalTwinsEndpoint_Get",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "endpointName",
          "in" : "path",
          "description" : "Name of Endpoint Resource.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9-._]{1,64}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The body contains all the non-security properties of the DigitalTwinsInstance. Security-related properties are set to null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsEndpointResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Default error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Endpoints" ],
        "description" : "Create or update DigitalTwinsInstance endpoint.",
        "operationId" : "DigitalTwinsEndpoint_CreateOrUpdate",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "endpointName",
          "in" : "path",
          "description" : "Name of Endpoint Resource.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9-._]{1,64}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The DigitalTwinsInstance endpoint metadata and security metadata.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DigitalTwinsEndpointResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsEndpointResource"
                }
              }
            }
          },
          "201" : {
            "description" : "Created - Put request accepted; the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsEndpointResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Endpoints" ],
        "description" : "Delete a DigitalTwinsInstance endpoint.",
        "operationId" : "DigitalTwinsEndpoint_Delete",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "endpointName",
          "in" : "path",
          "description" : "Name of Endpoint Resource.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9-._]{1,64}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state."
          },
          "202" : {
            "description" : "Accepted - Delete request accepted; the operation will complete asynchronously.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsEndpointResource"
                }
              }
            }
          },
          "204" : {
            "description" : "Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the DigitalTwins service metadata in the service and the status of the delete operation is set to a completed state."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances/{resourceName}/integrationResources" : {
      "get" : {
        "tags" : [ "IoTHub Integration" ],
        "description" : "Get DigitalTwinsInstance IoTHubs.",
        "operationId" : "DigitalTwinsIoTHubs_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the DigitalTwinsInstance Management API.",
          "required" : true,
          "schema" : {
            "minLength" : 10,
            "type" : "string",
            "enum" : [ "2020-03-01-preview" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription identifier.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the DigitalTwinsInstance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The body contains all the non-security properties of the DigitalTwinsInstance. Security-related properties are set to null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DigitalTwinsIntegrationResourceListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.DigitalTwins/integrationResources/{integrationResourceName}" : {
      "get" : {
        "tags" : [ "IoTHub Integration" ],
        "description" : "Gets properties of an IoTHub Integration.",
        "operationId" : "IoTHub_Get",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope of the Digital Twins Integration. The scope has to be an IoTHub resource. For example, /{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IoTHubs/{resourceName}.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "integrationResourceName",
          "in" : "path",
          "description" : "Name of IoTHub and DigitalTwinsInstance integration instance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "This is a synchronous operation. The body contains metadata about IoTHub and DigitalTwinsInstance Integration.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "IoTHub Integration" ],
        "description" : "Creates or Updates an IoTHub Integration with DigitalTwinsInstances.",
        "operationId" : "IoTHub_CreateOrUpdate",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope of the Digital Twins Integration. The scope has to be an IoTHub resource. For example, /{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IoTHubs/{resourceName}.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "integrationResourceName",
          "in" : "path",
          "description" : "Name of IoTHub and DigitalTwinsInstance integration instance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The IoTHub metadata.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IntegrationResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "This is an asynchronous operation. The body contains metadata about IoTHub and DigitalTwinsInstance Integration.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "IoTHub Integration" ],
        "description" : "Deletes a DigitalTwinsInstance link with IoTHub.",
        "operationId" : "IoTHub_Delete",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope of the Digital Twins Integration. The scope has to be an IoTHub resource. For example, /{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IoTHubs/{resourceName}.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "integrationResourceName",
          "in" : "path",
          "description" : "Name of IoTHub and DigitalTwinsInstance integration instance.",
          "required" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. DigitalTwinsInstance IoTHub link has been Deleted."
          },
          "202" : {
            "description" : "Accepted. Response includes a Location header which points to the DigitalTwins and IoTHub Integration resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrationResource"
                }
              }
            }
          },
          "204" : {
            "description" : "NoContent. DigitalTwinsInstance IoTHub link does not exist."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CheckNameRequest" : {
        "required" : [ "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Resource name."
          },
          "type" : {
            "type" : "string",
            "description" : "The type of resource, for instance Microsoft.DigitalTwins/digitalTwinsInstances.",
            "enum" : [ "Microsoft.DigitalTwins/digitalTwinsInstances" ]
          }
        },
        "description" : "The result returned from a database check name availability request."
      },
      "CheckNameResult" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "Message indicating an unavailable name due to a conflict, or a description of the naming rules that are violated."
          },
          "name" : {
            "type" : "string",
            "description" : "The name that was checked."
          },
          "nameAvailable" : {
            "type" : "boolean",
            "description" : "Specifies a Boolean value that indicates if the name is available."
          },
          "reason" : {
            "type" : "string",
            "description" : "Message providing the reason why the given name is invalid.",
            "enum" : [ "Invalid", "AlreadyExists" ]
          }
        },
        "description" : "The result returned from a check name availability request."
      },
      "DigitalTwinsDescription" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DigitalTwinsProperties"
          }
        },
        "description" : "The description of the DigitalTwins service.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/DigitalTwinsResource"
        } ]
      },
      "DigitalTwinsDescriptionListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link used to get the next page of DigitalTwins description objects."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of DigitalTwins description objects.",
            "items" : {
              "$ref" : "#/components/schemas/DigitalTwinsDescription"
            }
          }
        },
        "description" : "A list of DigitalTwins description objects with a next link."
      },
      "DigitalTwinsEndpointResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DigitalTwinsEndpointResourceProperties"
          }
        },
        "description" : "DigitalTwinsInstance endpoint resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ExternalResource"
        } ]
      },
      "DigitalTwinsEndpointResourceListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link used to get the next page of DigitalTwinsInstance Endpoints."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of DigitalTwinsInstance Endpoints.",
            "items" : {
              "$ref" : "#/components/schemas/DigitalTwinsEndpointResource"
            }
          }
        },
        "description" : "A list of DigitalTwinsInstance Endpoints with a next link."
      },
      "DigitalTwinsEndpointResourceProperties" : {
        "required" : [ "endpointType" ],
        "type" : "object",
        "properties" : {
          "createdTime" : {
            "type" : "string",
            "description" : "Time when the Endpoint was added to DigitalTwinsInstance.",
            "format" : "date-time",
            "readOnly" : true
          },
          "endpointType" : {
            "type" : "string",
            "description" : "The type of Digital Twins endpoint",
            "enum" : [ "EventHub", "EventGrid", "ServiceBus" ]
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The provisioning state.",
            "readOnly" : true,
            "enum" : [ "Provisioning", "Deleting", "Succeeded", "Failed", "Canceled" ]
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The resource tags."
          }
        },
        "description" : "Properties related to Digital Twins Endpoint",
        "discriminator" : {
          "propertyName" : "endpointType"
        }
      },
      "DigitalTwinsIntegrationResourceListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link used to get the next page of DigitalTwinsInstance IoTHubs."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of DigitalTwinsInstance IoTHubs.",
            "items" : {
              "$ref" : "#/components/schemas/IntegrationResource"
            }
          }
        },
        "description" : "A list of DigitalTwinsInstance IoTHubs with a next link."
      },
      "DigitalTwinsPatchDescription" : {
        "type" : "object",
        "properties" : {
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Instance tags"
          }
        },
        "description" : "The description of the DigitalTwins service."
      },
      "DigitalTwinsProperties" : {
        "type" : "object",
        "properties" : {
          "createdTime" : {
            "type" : "string",
            "description" : "Time when DigitalTwinsInstance was created.",
            "format" : "date-time",
            "readOnly" : true
          },
          "hostName" : {
            "type" : "string",
            "description" : "Api endpoint to work with DigitalTwinsInstance.",
            "readOnly" : true
          },
          "lastUpdatedTime" : {
            "type" : "string",
            "description" : "Time when DigitalTwinsInstance was created.",
            "format" : "date-time",
            "readOnly" : true
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The provisioning state.",
            "readOnly" : true,
            "enum" : [ "Provisioning", "Deleting", "Succeeded", "Failed", "Canceled" ]
          }
        },
        "description" : "The properties of a DigitalTwinsInstance."
      },
      "DigitalTwinsResource" : {
        "required" : [ "location" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The resource identifier.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "The resource location."
          },
          "name" : {
            "pattern" : "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$",
            "type" : "string",
            "description" : "The resource name.",
            "readOnly" : true
          },
          "sku" : {
            "$ref" : "#/components/schemas/DigitalTwinsSkuInfo"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The resource tags."
          },
          "type" : {
            "type" : "string",
            "description" : "The resource type.",
            "readOnly" : true
          }
        },
        "description" : "The common properties of a DigitalTwinsInstance."
      },
      "DigitalTwinsSkuInfo" : {
        "required" : [ "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the SKU.",
            "enum" : [ "F1" ]
          }
        },
        "description" : "Information about the SKU of the DigitalTwinsInstance."
      },
      "ErrorDefinition" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Service specific error code which serves as the substatus for the HTTP error code.",
            "readOnly" : true
          },
          "details" : {
            "type" : "array",
            "description" : "Internal error details.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ErrorDefinition"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Description of the error.",
            "readOnly" : true
          }
        },
        "description" : "Error definition."
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/ErrorDefinition"
          }
        },
        "description" : "Error response."
      },
      "EventGrid" : {
        "description" : "properties related to eventgrid.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/DigitalTwinsEndpointResourceProperties"
        }, {
          "type" : "object",
          "properties" : {
            "TopicEndpoint" : {
              "type" : "string",
              "description" : "EventGrid Topic Endpoint"
            },
            "accessKey1" : {
              "type" : "string",
              "description" : "EventGrid secondary accesskey. Will be obfuscated during read"
            },
            "accessKey2" : {
              "type" : "string",
              "description" : "EventGrid secondary accesskey. Will be obfuscated during read"
            }
          }
        } ]
      },
      "EventHub" : {
        "description" : "properties related to eventhub.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "connectionString-PrimaryKey" : {
              "type" : "string",
              "description" : "PrimaryConnectionString of the endpoint. Will be obfuscated during read"
            },
            "connectionString-SecondaryKey" : {
              "type" : "string",
              "description" : "SecondaryConnectionString of the endpoint. Will be obfuscated during read"
            }
          }
        }, {
          "$ref" : "#/components/schemas/DigitalTwinsEndpointResourceProperties"
        } ]
      },
      "ExternalResource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The resource identifier.",
            "readOnly" : true
          },
          "name" : {
            "pattern" : "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$",
            "type" : "string",
            "description" : "Extension resource name.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "The resource type.",
            "readOnly" : true
          }
        },
        "description" : "Definition of a Resource."
      },
      "IntegrationResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/IntegrationResourceProperties"
          }
        },
        "description" : "IoTHub integration resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ExternalResource"
        } ]
      },
      "IntegrationResourceProperties" : {
        "properties" : {
          "createdTime" : {
            "type" : "string",
            "description" : "Time when the IoTHub was added to DigitalTwinsInstance.",
            "format" : "date-time",
            "readOnly" : true
          },
          "resourceId" : {
            "type" : "string",
            "description" : "Fully qualified resource identifier of the DigitalTwins Azure resource."
          }
        },
        "description" : "Properties related to the IoTHub DigitalTwinsInstance Integration Resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/IntegrationResourceState"
        } ]
      },
      "IntegrationResourceState" : {
        "type" : "object",
        "properties" : {
          "provisioningState" : {
            "type" : "string",
            "description" : "DigitalTwinsInstance - IoTHub link state.",
            "readOnly" : true,
            "enum" : [ "Provisioning", "Deleting", "Succeeded", "Failed", "Canceled" ]
          }
        },
        "description" : "Properties related to the IoTHub DigitalTwinsInstance Integration Resource."
      },
      "IntegrationResourceUpdateInfo" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/IntegrationResourceUpdateProperties"
          }
        },
        "description" : "IoTHub integration resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ExternalResource"
        } ]
      },
      "IntegrationResourceUpdateProperties" : {
        "description" : "Updatable properties related to the IoTHub DigitalTwinsInstance Integration Resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/IntegrationResourceState"
        } ]
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/OperationDisplay"
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{read | write | action | delete}",
            "readOnly" : true
          }
        },
        "description" : "DigitalTwins service REST API operation"
      },
      "OperationDisplay" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Friendly description for the operation,",
            "readOnly" : true
          },
          "operation" : {
            "type" : "string",
            "description" : "Name of the operation",
            "readOnly" : true
          },
          "provider" : {
            "type" : "string",
            "description" : "Service provider: Microsoft DigitalTwins",
            "readOnly" : true
          },
          "resource" : {
            "type" : "string",
            "description" : "Resource Type: DigitalTwinsInstances",
            "readOnly" : true
          }
        },
        "description" : "The object that represents the operation."
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link used to get the next page of DigitalTwins description objects."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of DigitalTwins operations supported by the Microsoft.DigitalTwins resource provider.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "A list of DigitalTwins service operations. It contains a list of operations and a URL link to get the next set of results."
      },
      "ServiceBus" : {
        "description" : "properties related to servicebus.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/DigitalTwinsEndpointResourceProperties"
        }, {
          "type" : "object",
          "properties" : {
            "primaryConnectionString" : {
              "type" : "string",
              "description" : "PrimaryConnectionString of the endpoint. Will be obfuscated during read"
            },
            "secondaryConnectionString" : {
              "type" : "string",
              "description" : "SecondaryConnectionString of the endpoint. Will be obfuscated during read"
            }
          }
        } ]
      }
    },
    "parameters" : {
      "api-version" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Version of the DigitalTwinsInstance Management API.",
        "required" : true,
        "schema" : {
          "minLength" : 10,
          "type" : "string",
          "enum" : [ "2020-03-01-preview" ]
        }
      },
      "endpointName" : {
        "name" : "endpointName",
        "in" : "path",
        "description" : "Name of Endpoint Resource.",
        "required" : true,
        "schema" : {
          "maxLength" : 64,
          "minLength" : 1,
          "pattern" : "^[A-Za-z0-9-._]{1,64}$",
          "type" : "string"
        }
      },
      "integrationResourceName" : {
        "name" : "integrationResourceName",
        "in" : "path",
        "description" : "Name of IoTHub and DigitalTwinsInstance integration instance.",
        "required" : true,
        "schema" : {
          "maxLength" : 64,
          "minLength" : 1,
          "type" : "string"
        }
      },
      "location" : {
        "name" : "location",
        "in" : "path",
        "description" : "Location of DigitalTwinsInstance.",
        "required" : true,
        "schema" : {
          "minLength" : 3,
          "type" : "string"
        }
      },
      "resourceGroupName" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group that contains the DigitalTwinsInstance.",
        "required" : true,
        "schema" : {
          "maxLength" : 64,
          "minLength" : 1,
          "type" : "string"
        }
      },
      "resourceName" : {
        "name" : "resourceName",
        "in" : "path",
        "description" : "The name of the DigitalTwinsInstance.",
        "required" : true,
        "schema" : {
          "maxLength" : 64,
          "minLength" : 1,
          "type" : "string"
        }
      },
      "scope" : {
        "name" : "scope",
        "in" : "path",
        "description" : "The scope of the Digital Twins Integration. The scope has to be an IoTHub resource. For example, /{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IoTHubs/{resourceName}.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "subscriptionId" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription identifier.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "format" : "uuid"
        }
      }
    },
    "requestBodies" : {
      "integrationResourceInfo" : {
        "description" : "The DigitalTwinsInstance and security metadata.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/IntegrationResource"
            }
          }
        },
        "required" : true
      },
      "integrationResourceUpdateInfo" : {
        "description" : "The Integration Resource and security metadata.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/IntegrationResourceUpdateInfo"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}