{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections" : {
      "get" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "The List VirtualNetworkGatewayConnections operation retrieves all the virtual network gateways connections created.",
        "operationId" : "VirtualNetworkGatewayConnections_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation resets the virtual network gateway connection shared key.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnectionListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}" : {
      "get" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "Gets the specified virtual network gateway connection by resource group.",
        "operationId" : "VirtualNetworkGatewayConnections_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The name of the virtual network gateway connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "Creates or updates a virtual network gateway connection in the specified resource group.",
        "operationId" : "VirtualNetworkGatewayConnections_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The name of the virtual network gateway connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update virtual network gateway connection operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "Deletes the specified virtual network Gateway connection.",
        "operationId" : "VirtualNetworkGatewayConnections_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The name of the virtual network gateway connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          }
        }
      },
      "patch" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "Updates a virtual network gateway connection tags.",
        "operationId" : "VirtualNetworkGatewayConnections_UpdateTags",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The name of the virtual network gateway connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update virtual network gateway connection tags.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Resource tags."
                  }
                },
                "description" : "Tags object for patch operations."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey" : {
      "get" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves information about the specified virtual network gateway connection shared key through Network resource provider.",
        "operationId" : "VirtualNetworkGatewayConnections_GetSharedKey",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The virtual network gateway connection shared key name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of VirtualNetworkGatewayConnection resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionSharedKey"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "The Put VirtualNetworkGatewayConnectionSharedKey operation sets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.",
        "operationId" : "VirtualNetworkGatewayConnections_SetSharedKey",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The virtual network gateway connection name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Begin Set Virtual Network Gateway connection Shared key operation throughNetwork resource provider.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectionSharedKey"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ConnectionSharedKey resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionSharedKey"
                }
              }
            }
          },
          "201" : {
            "description" : "Request successful. The operation returns the resulting ConnectionSharedKey resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionSharedKey"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset" : {
      "post" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "The VirtualNetworkGatewayConnectionResetSharedKey operation resets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.",
        "operationId" : "VirtualNetworkGatewayConnections_ResetSharedKey",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The virtual network gateway connection reset shared key Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the begin reset virtual network gateway connection shared key operation through network resource provider.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectionResetSharedKey"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation sets the virtual network gateway connection shared key.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionResetSharedKey"
                }
              }
            }
          },
          "202" : {
            "description" : "Request successful. The operation sets the virtual network gateway connection shared key."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/startPacketCapture" : {
      "post" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "Starts packet capture on virtual network gateway connection in the specified resource group.",
        "operationId" : "VirtualNetworkGatewayConnections_StartPacketCapture",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The name of the virtual network gateway connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Virtual network gateway packet capture parameters supplied to start packet capture on gateway connection.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VpnPacketCaptureStartParameters"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation packet capture started on virtual network gateway connection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/stopPacketCapture" : {
      "post" : {
        "tags" : [ "VirtualNetworkGatewayConnections" ],
        "description" : "Stops packet capture on virtual network gateway connection in the specified resource group.",
        "operationId" : "VirtualNetworkGatewayConnections_StopPacketCapture",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The name of the virtual network gateway Connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Virtual network gateway packet capture parameters supplied to stop packet capture on gateway connection.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VpnPacketCaptureStopParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation packet capture stopped on virtual network gateway connection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/vpndeviceconfigurationscript" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Gets a xml format representation for vpn device configuration script.",
        "operationId" : "VirtualNetworkGateways_VpnDeviceConfigurationScript",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayConnectionName",
          "in" : "path",
          "description" : "The name of the virtual network gateway connection for which the configuration script is generated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the generate vpn device script operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VpnDeviceScriptParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Xml format representation for vpn device configuration script.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways" : {
      "get" : {
        "tags" : [ "LocalNetworkGateways" ],
        "description" : "Gets all the local network gateways in a resource group.",
        "operationId" : "LocalNetworkGateways_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of LocalNetworkGateway resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGatewayListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}" : {
      "get" : {
        "tags" : [ "LocalNetworkGateways" ],
        "description" : "Gets the specified local network gateway in a resource group.",
        "operationId" : "LocalNetworkGateways_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "localNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the local network gateway.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting LocalNetworkGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGateway"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "LocalNetworkGateways" ],
        "description" : "Creates or updates a local network gateway in the specified resource group.",
        "operationId" : "LocalNetworkGateways_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "localNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the local network gateway.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update local network gateway operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LocalNetworkGateway"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting LocalNetworkGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGateway"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting LocalNetworkGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGateway"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "LocalNetworkGateways" ],
        "description" : "Deletes the specified local network gateway.",
        "operationId" : "LocalNetworkGateways_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "localNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the local network gateway.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          }
        }
      },
      "patch" : {
        "tags" : [ "LocalNetworkGateways" ],
        "description" : "Updates a local network gateway tags.",
        "operationId" : "LocalNetworkGateways_UpdateTags",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "localNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the local network gateway.",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update local network gateway tags.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Resource tags."
                  }
                },
                "description" : "Tags object for patch operations."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting LocalNetworkGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalNetworkGateway"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways" : {
      "get" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Gets all virtual network gateways by resource group.",
        "operationId" : "VirtualNetworkGateways_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of VirtualNetworkGateway resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}" : {
      "get" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Gets the specified virtual network gateway by resource group.",
        "operationId" : "VirtualNetworkGateways_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a VirtualNetworkGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGateway"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Creates or updates a virtual network gateway in the specified resource group.",
        "operationId" : "VirtualNetworkGateways_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to create or update virtual network gateway operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VirtualNetworkGateway"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting VirtualNetworkGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGateway"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting VirtualNetworkGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGateway"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Deletes the specified virtual network gateway.",
        "operationId" : "VirtualNetworkGateways_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          }
        }
      },
      "patch" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Updates a virtual network gateway tags.",
        "operationId" : "VirtualNetworkGateways_UpdateTags",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update virtual network gateway tags.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Resource tags."
                  }
                },
                "description" : "Tags object for patch operations."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting VirtualNetworkGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGateway"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/connections" : {
      "get" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Gets all the connections in a virtual network gateway.",
        "operationId" : "VirtualNetworkGateways_ListConnections",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of VirtualNetworkGatewayConnection resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGatewayListConnectionsResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Generates VPN client package for P2S client of the virtual network gateway in the specified resource group.",
        "operationId" : "VirtualNetworkGateways_Generatevpnclientpackage",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the generate virtual network gateway VPN client package operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VpnClientParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "VPN client package URL.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnprofile" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Generates VPN profile for P2S client of the virtual network gateway in the specified resource group. Used for IKEV2 and radius based authentication.",
        "operationId" : "VirtualNetworkGateways_GenerateVpnProfile",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the generate virtual network gateway VPN client package operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VpnClientParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "VPN profile package URL.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getAdvertisedRoutes" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "This operation retrieves a list of routes the virtual network gateway is advertising to the specified peer.",
        "operationId" : "VirtualNetworkGateways_GetAdvertisedRoutes",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peer",
          "in" : "query",
          "description" : "The IP address of the peer.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of learned BGP routes.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayRouteListResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getBgpPeerStatus" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "The GetBgpPeerStatus operation retrieves the status of all BGP peers.",
        "operationId" : "VirtualNetworkGateways_GetBgpPeerStatus",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peer",
          "in" : "query",
          "description" : "The IP address of the peer to retrieve the status of.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of BGP peer statuses.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BgpPeerStatusListResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getLearnedRoutes" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "This operation retrieves a list of routes the virtual network gateway has learned, including routes learned from BGP peers.",
        "operationId" : "VirtualNetworkGateways_GetLearnedRoutes",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of advertised BGP routes.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayRouteListResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getVpnClientConnectionHealth" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Get VPN client connection health detail per P2S client connection of the virtual network gateway in the specified resource group.",
        "operationId" : "VirtualNetworkGateways_GetVpnclientConnectionHealth",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of VPN client connection health details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VpnClientConnectionHealthDetailListResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getvpnclientipsecparameters" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "The Get VpnclientIpsecParameters operation retrieves information about the vpnclient ipsec policy for P2S client of virtual network gateway in the specified resource group through Network resource provider.",
        "operationId" : "VirtualNetworkGateways_GetVpnclientIpsecParameters",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The virtual network gateway name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the set vpnclient ipsec parameters for P2S client of VirtualNetworkGateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VpnClientIPsecParameters"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getvpnprofilepackageurl" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Gets pre-generated VPN profile for P2S client of the virtual network gateway in the specified resource group. The profile needs to be generated first using generateVpnProfile.",
        "operationId" : "VirtualNetworkGateways_GetVpnProfilePackageUrl",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "VPN profile package URL.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Resets the primary of the virtual network gateway in the specified resource group.",
        "operationId" : "VirtualNetworkGateways_Reset",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "gatewayVip",
          "in" : "query",
          "description" : "Virtual network gateway vip address supplied to the begin reset of the active-active feature enabled gateway.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation reset the primary of the virtual network gateway.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VirtualNetworkGateway"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/resetvpnclientsharedkey" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Resets the VPN client shared key of the virtual network gateway in the specified resource group.",
        "operationId" : "VirtualNetworkGateways_ResetVpnClientSharedKey",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation reset the vpn client shared key of the virtual network gateway."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/setvpnclientipsecparameters" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "The Set VpnclientIpsecParameters operation sets the vpnclient ipsec policy for P2S client of virtual network gateway in the specified resource group through Network resource provider.",
        "operationId" : "VirtualNetworkGateways_SetVpnclientIpsecParameters",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Begin Set vpnclient ipsec parameters of Virtual Network Gateway P2S client operation through Network resource provider.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VpnClientIPsecParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation sets the specified vpnclient ipsec parameters for P2S client of the virtual network gateway.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VpnClientIPsecParameters"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/startPacketCapture" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Starts packet capture on virtual network gateway in the specified resource group.",
        "operationId" : "VirtualNetworkGateways_StartPacketCapture",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Virtual network gateway packet capture parameters supplied to start packet capture on gateway.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VpnPacketCaptureStartParameters"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation packet capture started on virtual network gateway.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/stopPacketCapture" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Stops packet capture on virtual network gateway in the specified resource group.",
        "operationId" : "VirtualNetworkGateways_StopPacketCapture",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Virtual network gateway packet capture parameters supplied to stop packet capture on gateway.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VpnPacketCaptureStopParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation packet capture stopped on virtual network gateway.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Common error representation."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/supportedvpndevices" : {
      "post" : {
        "tags" : [ "VirtualNetworkGateways" ],
        "description" : "Gets a xml format representation for supported vpn devices.",
        "operationId" : "VirtualNetworkGateways_SupportedVpnDevices",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "virtualNetworkGatewayName",
          "in" : "path",
          "description" : "The name of the virtual network gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Xml format representation for supported vpn devices.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BgpPeerStatus" : {
        "type" : "object",
        "properties" : {
          "asn" : {
            "type" : "integer",
            "description" : "The autonomous system number of the remote BGP peer.",
            "format" : "int32",
            "readOnly" : true
          },
          "connectedDuration" : {
            "type" : "string",
            "description" : "For how long the peering has been up.",
            "readOnly" : true
          },
          "localAddress" : {
            "type" : "string",
            "description" : "The virtual network gateway's local address.",
            "readOnly" : true
          },
          "messagesReceived" : {
            "type" : "integer",
            "description" : "The number of BGP messages received.",
            "format" : "int64",
            "readOnly" : true
          },
          "messagesSent" : {
            "type" : "integer",
            "description" : "The number of BGP messages sent.",
            "format" : "int64",
            "readOnly" : true
          },
          "neighbor" : {
            "type" : "string",
            "description" : "The remote BGP peer.",
            "readOnly" : true
          },
          "routesReceived" : {
            "type" : "integer",
            "description" : "The number of routes learned from this peer.",
            "format" : "int64",
            "readOnly" : true
          },
          "state" : {
            "type" : "string",
            "description" : "The BGP peer state.",
            "readOnly" : true,
            "enum" : [ "Unknown", "Stopped", "Idle", "Connecting", "Connected" ]
          }
        },
        "description" : "BGP peer status details."
      },
      "BgpPeerStatusListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of BGP peers.",
            "items" : {
              "$ref" : "#/components/schemas/BgpPeerStatus"
            }
          }
        },
        "description" : "Response for list BGP peer status API service call."
      },
      "BgpSettings" : {
        "type" : "object",
        "properties" : {
          "asn" : {
            "type" : "integer",
            "description" : "The BGP speaker's ASN.",
            "format" : "int64"
          },
          "bgpPeeringAddress" : {
            "type" : "string",
            "description" : "The BGP peering address and BGP identifier of this BGP speaker."
          },
          "peerWeight" : {
            "type" : "integer",
            "description" : "The weight added to routes learned from this BGP speaker.",
            "format" : "int32"
          }
        },
        "description" : "BGP settings details."
      },
      "ConnectionProtocol" : {
        "type" : "string",
        "description" : "Gateway connection protocol.",
        "enum" : [ "IKEv2", "IKEv1" ]
      },
      "ConnectionResetSharedKey" : {
        "required" : [ "keyLength" ],
        "type" : "object",
        "properties" : {
          "keyLength" : {
            "maximum" : 128,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The virtual network connection reset shared key length, should between 1 and 128.",
            "format" : "int32"
          }
        },
        "description" : "The virtual network connection reset shared key."
      },
      "ConnectionSharedKey" : {
        "properties" : {
          "value" : {
            "type" : "string",
            "description" : "The virtual network connection shared key value."
          }
        },
        "description" : "Response for GetConnectionSharedKey API service call.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "DhGroup" : {
        "type" : "string",
        "description" : "The DH Groups used in IKE Phase 1 for initial SA.",
        "enum" : [ "None", "DHGroup1", "DHGroup2", "DHGroup14", "DHGroup2048", "ECP256", "ECP384", "DHGroup24" ]
      },
      "GatewayRoute" : {
        "type" : "object",
        "properties" : {
          "asPath" : {
            "type" : "string",
            "description" : "The route's AS path sequence.",
            "readOnly" : true
          },
          "localAddress" : {
            "type" : "string",
            "description" : "The gateway's local address.",
            "readOnly" : true
          },
          "network" : {
            "type" : "string",
            "description" : "The route's network prefix.",
            "readOnly" : true
          },
          "nextHop" : {
            "type" : "string",
            "description" : "The route's next hop.",
            "readOnly" : true
          },
          "origin" : {
            "type" : "string",
            "description" : "The source this route was learned from.",
            "readOnly" : true
          },
          "sourcePeer" : {
            "type" : "string",
            "description" : "The peer this route was learned from.",
            "readOnly" : true
          },
          "weight" : {
            "type" : "integer",
            "description" : "The route's weight.",
            "format" : "int32",
            "readOnly" : true
          }
        },
        "description" : "Gateway routing details."
      },
      "GatewayRouteListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of gateway routes.",
            "items" : {
              "$ref" : "#/components/schemas/GatewayRoute"
            }
          }
        },
        "description" : "List of virtual network gateway routes."
      },
      "IkeEncryption" : {
        "type" : "string",
        "description" : "The IKE encryption algorithm (IKE phase 2).",
        "enum" : [ "DES", "DES3", "AES128", "AES192", "AES256", "GCMAES256", "GCMAES128" ]
      },
      "IkeIntegrity" : {
        "type" : "string",
        "description" : "The IKE integrity algorithm (IKE phase 2).",
        "enum" : [ "MD5", "SHA1", "SHA256", "SHA384", "GCMAES256", "GCMAES128" ]
      },
      "IpsecEncryption" : {
        "type" : "string",
        "description" : "The IPSec encryption algorithm (IKE phase 1).",
        "enum" : [ "None", "DES", "DES3", "AES128", "AES192", "AES256", "GCMAES128", "GCMAES192", "GCMAES256" ]
      },
      "IpsecIntegrity" : {
        "type" : "string",
        "description" : "The IPSec integrity algorithm (IKE phase 1).",
        "enum" : [ "MD5", "SHA1", "SHA256", "GCMAES128", "GCMAES192", "GCMAES256" ]
      },
      "IpsecPolicy" : {
        "required" : [ "dhGroup", "ikeEncryption", "ikeIntegrity", "ipsecEncryption", "ipsecIntegrity", "pfsGroup", "saDataSizeKilobytes", "saLifeTimeSeconds" ],
        "type" : "object",
        "properties" : {
          "dhGroup" : {
            "$ref" : "#/components/schemas/DhGroup"
          },
          "ikeEncryption" : {
            "$ref" : "#/components/schemas/IkeEncryption"
          },
          "ikeIntegrity" : {
            "$ref" : "#/components/schemas/IkeIntegrity"
          },
          "ipsecEncryption" : {
            "$ref" : "#/components/schemas/IpsecEncryption"
          },
          "ipsecIntegrity" : {
            "$ref" : "#/components/schemas/IpsecIntegrity"
          },
          "pfsGroup" : {
            "$ref" : "#/components/schemas/PfsGroup"
          },
          "saDataSizeKilobytes" : {
            "type" : "integer",
            "description" : "The IPSec Security Association (also called Quick Mode or Phase 2 SA) payload size in KB for a site to site VPN tunnel.",
            "format" : "int32"
          },
          "saLifeTimeSeconds" : {
            "type" : "integer",
            "description" : "The IPSec Security Association (also called Quick Mode or Phase 2 SA) lifetime in seconds for a site to site VPN tunnel.",
            "format" : "int32"
          }
        },
        "description" : "An IPSec Policy configuration for a virtual network gateway connection."
      },
      "LocalNetworkGateway" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated."
          },
          "properties" : {
            "$ref" : "#/components/schemas/LocalNetworkGatewayPropertiesFormat"
          }
        },
        "description" : "A common class for general resource information.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "LocalNetworkGatewayListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "A list of local network gateways that exists in a resource group.",
            "items" : {
              "$ref" : "#/components/schemas/LocalNetworkGateway"
            }
          }
        },
        "description" : "Response for ListLocalNetworkGateways API service call."
      },
      "LocalNetworkGatewayPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "bgpSettings" : {
            "$ref" : "#/components/schemas/BgpSettings"
          },
          "gatewayIpAddress" : {
            "type" : "string",
            "description" : "IP address of local network gateway."
          },
          "localNetworkAddressSpace" : {
            "type" : "object",
            "properties" : {
              "addressPrefixes" : {
                "type" : "array",
                "description" : "A list of address blocks reserved for this virtual network in CIDR notation.",
                "items" : {
                  "type" : "string"
                }
              }
            },
            "description" : "AddressSpace contains an array of IP address ranges that can be used by subnets of the virtual network."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "resourceGuid" : {
            "type" : "string",
            "description" : "The resource GUID property of the local network gateway resource."
          }
        },
        "description" : "LocalNetworkGateway properties."
      },
      "PfsGroup" : {
        "type" : "string",
        "description" : "The Pfs Groups used in IKE Phase 2 for new child SA.",
        "enum" : [ "None", "PFS1", "PFS2", "PFS2048", "ECP256", "ECP384", "PFS24", "PFS14", "PFSMM" ]
      },
      "TrafficSelectorPolicy" : {
        "required" : [ "localAddressRanges", "remoteAddressRanges" ],
        "type" : "object",
        "properties" : {
          "localAddressRanges" : {
            "type" : "array",
            "description" : "A collection of local address spaces in CIDR format",
            "items" : {
              "type" : "string"
            }
          },
          "remoteAddressRanges" : {
            "type" : "array",
            "description" : "A collection of remote address spaces in CIDR format",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "An traffic selector policy for a virtual network gateway connection."
      },
      "TunnelConnectionHealth" : {
        "type" : "object",
        "properties" : {
          "connectionStatus" : {
            "$ref" : "#/components/schemas/VirtualNetworkGatewayConnectionStatus"
          },
          "egressBytesTransferred" : {
            "type" : "integer",
            "description" : "The Egress Bytes Transferred in this connection.",
            "format" : "int64",
            "readOnly" : true
          },
          "ingressBytesTransferred" : {
            "type" : "integer",
            "description" : "The Ingress Bytes Transferred in this connection.",
            "format" : "int64",
            "readOnly" : true
          },
          "lastConnectionEstablishedUtcTime" : {
            "type" : "string",
            "description" : "The time at which connection was established in Utc format.",
            "readOnly" : true
          },
          "tunnel" : {
            "type" : "string",
            "description" : "Tunnel name.",
            "readOnly" : true
          }
        },
        "description" : "VirtualNetworkGatewayConnection properties."
      },
      "VirtualNetworkConnectionGatewayReference" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of VirtualNetworkGateway or LocalNetworkGateway resource."
          }
        },
        "description" : "A reference to VirtualNetworkGateway or LocalNetworkGateway resource."
      },
      "VirtualNetworkGateway" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated."
          },
          "properties" : {
            "$ref" : "#/components/schemas/VirtualNetworkGatewayPropertiesFormat"
          }
        },
        "description" : "A common class for general resource information.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "VirtualNetworkGatewayConnection" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated."
          },
          "properties" : {
            "$ref" : "#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat"
          }
        },
        "description" : "A common class for general resource information.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "VirtualNetworkGatewayConnectionListEntity" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated."
          },
          "properties" : {
            "$ref" : "#/components/schemas/VirtualNetworkGatewayConnectionListEntityPropertiesFormat"
          }
        },
        "description" : "A common class for general resource information.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "VirtualNetworkGatewayConnectionListEntityPropertiesFormat" : {
        "required" : [ "connectionType", "virtualNetworkGateway1" ],
        "type" : "object",
        "properties" : {
          "authorizationKey" : {
            "type" : "string",
            "description" : "The authorizationKey."
          },
          "connectionProtocol" : {
            "$ref" : "#/components/schemas/ConnectionProtocol"
          },
          "connectionStatus" : {
            "$ref" : "#/components/schemas/VirtualNetworkGatewayConnectionStatus"
          },
          "connectionType" : {
            "$ref" : "#/components/schemas/VirtualNetworkGatewayConnectionType"
          },
          "egressBytesTransferred" : {
            "type" : "integer",
            "description" : "The egress bytes transferred in this connection.",
            "format" : "int64",
            "readOnly" : true
          },
          "enableBgp" : {
            "type" : "boolean",
            "description" : "EnableBgp flag."
          },
          "expressRouteGatewayBypass" : {
            "type" : "boolean",
            "description" : "Bypass ExpressRoute Gateway for data forwarding."
          },
          "ingressBytesTransferred" : {
            "type" : "integer",
            "description" : "The ingress bytes transferred in this connection.",
            "format" : "int64",
            "readOnly" : true
          },
          "ipsecPolicies" : {
            "type" : "array",
            "description" : "The IPSec Policies to be considered by this connection.",
            "items" : {
              "$ref" : "#/components/schemas/IpsecPolicy"
            }
          },
          "localNetworkGateway2" : {
            "$ref" : "#/components/schemas/VirtualNetworkConnectionGatewayReference"
          },
          "peer" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
[...]
