{"openapi":"3.0.1","info":{"title":"shinobiapi","version":"v1"},"servers":[{"url":"https://api.hillbillysoftware.com/"}],"paths":{"/Actors/Search/{accesstoken}/{Query}":{"get":{"tags":["Cast & Crew (Cast & Crew in Movies & Television Shows)"],"summary":"Returns data on queried actor/actress. Result set limited to 5 records","operationId":"Actor_Get","parameters":[{"name":"accesstoken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Query","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of Actors","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Actor"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Actor"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Actor"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Actor"}}}}}}}},"/AddActor":{"post":{"tags":["Cast & Crew (Cast & Crew in Movies & Television Shows)"],"summary":"Add new actor or actress to database","operationId":"AddActor_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActorPost"}},"text/json":{"schema":{"$ref":"#/components/schemas/ActorPost"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ActorPost"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ActorPost"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/ActorPost"}}},"required":true},"responses":{"200":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/PostResult"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PostResult"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PostResult"}}}},"204":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/PostResult"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PostResult"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PostResult"}}}}}}},"/AddTVShow":{"post":{"tags":["Television (Shows, Episodes, & Statuses)"],"summary":"Add new show to database","operationId":"AddTVShow_Post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TVInformationPost"}},"text/json":{"schema":{"$ref":"#/components/schemas/TVInformationPost"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TVInformationPost"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TVInformationPost"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/TVInformationPost"}}},"required":true},"responses":{"200":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/PostResult"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PostResult"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PostResult"}}}},"204":{"description":"Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostResult"}},"text/json":{"schema":{"$ref":"#/components/schemas/PostResult"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PostResult"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PostResult"}}}}}}},"/Aliases/ByID/{AccessToken}/{imdbID}":{"get":{"tags":["Aliases (Movie & Television Show Aliases)"],"summary":"Get known aliases for Movies or Television shows from passed imdbID","operationId":"AliasesByID_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"imdbID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of known Aliases","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Aliases"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Aliases"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Aliases"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Aliases"}}}}}}}},"/Aliases/ByName/{AccessToken}/{Title}":{"get":{"tags":["Aliases (Movie & Television Show Aliases)"],"summary":"Get known aliases for Movies or Television shows","operationId":"Aliases_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Title","in":"path","description":"Title of movie or television show","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of known Aliases","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Aliases"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Aliases"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Aliases"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Aliases"}}}}}}}},"/Awards/ByWinner/{AccessToken}/{Nominee}":{"get":{"tags":["Awards (Television & Movies)"],"summary":"Gets all awards by nominiee","operationId":"AwardsbyWinner_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Nominee","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of awards","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_Awards"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_Awards"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_Awards"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_Awards"}}}}}}}},"/Awards/ByYear/{Year}":{"get":{"tags":["Awards (Television & Movies)"],"summary":"Gets all awards for requested year","operationId":"awards_Get","parameters":[{"name":"Year","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of awards","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_Awards"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_Awards"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_Awards"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_Awards"}}}}}}}},"/Calendar/ByDate/{AccessToken}/{Date}/{Country}":{"get":{"tags":["Calendar (Television Show Schedules)"],"summary":"Gets TV Schedule for selected data","operationId":"ScheduleByDate_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Date","in":"path","description":"date format year-month-day","required":true,"schema":{"type":"string"}},{"name":"Country","in":"path","description":"US / CA / NL / BE / DE / GB or FR","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of schedules/calendar entries","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}}}}}}},"/Calendar/Countries/{AccessToken}":{"get":{"tags":["Calendar (Television Show Schedules)"],"summary":"Returns list of available countries in calendar database","operationId":"CalendarCountries_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of countries","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Country"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Country"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Country"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Country"}}}}}}}},"/Calendar/Networks/{AccessToken}":{"get":{"tags":["Calendar (Television Show Schedules)"],"summary":"Gets a list of available networks","operationId":"CalendarNetworks_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of networks","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Networks"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Networks"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Networks"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Networks"}}}}}}}},"/Calendar/Seasons/{AccessToken}/{Name}":{"get":{"tags":["Calendar (Television Show Schedules)"],"summary":"Returns list of seasons available in the calendar for show","operationId":"CalendarShowSeasons_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of years","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShowSeasons"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShowSeasons"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShowSeasons"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShowSeasons"}}}}}}}},"/Calendar/Show/Season/{AccessToken}/{Name}/{Season}":{"get":{"tags":["Calendar (Television Show Schedules)"],"summary":"Get Calendar by showname and season","operationId":"CalendarbyShownameSeason_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Name","in":"path","required":true,"schema":{"type":"string"}},{"name":"Season","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of schedules/calendar entries","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}}}}}}},"/Calendar/Show/{AccessToken}/{Name}/{Year}":{"get":{"tags":["Calendar (Television Show Schedules)"],"summary":"Will return show schedule for queried showname and year","operationId":"CalendarByShowName_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Name","in":"path","required":true,"schema":{"type":"string"}},{"name":"Year","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of schedules/calendar entries","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}}}}}}},"/Calendar/Today/{AccessToken}":{"get":{"tags":["Calendar (Television Show Schedules)"],"summary":"Will return show schedule for today for all countries in database","operationId":"CalendarToday_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of schedules/calendar entries","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/schedule"}}}}}}}},"/Cast/ActorBySearch/{AccessToken}/{Actor}":{"get":{"tags":["Cast & Crew (Cast & Crew in Movies & Television Shows)"],"summary":"Returns all shows queried actor/actress is or has been in","operationId":"ActorInShows_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Actor","in":"path","description":"Part of, or full name of actor","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of actors in show","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}}}}}}},"/Cast/ByActor/{AccessToken}/{Actor}":{"get":{"tags":["Cast & Crew (Cast & Crew in Movies & Television Shows)"],"summary":"Returns list of show actor is appearing in","operationId":"CastByActor_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Actor","in":"path","description":"Full name of actor","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of shows Actor is appearing in","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}}}}}}},"/Cast/ByTVShow/{accesstoken}/{ShowName}":{"get":{"tags":["Cast & Crew (Cast & Crew in Movies & Television Shows)"],"summary":"Returns all actors in queried tvshow","operationId":"ActorsInTVShow_Get","parameters":[{"name":"accesstoken","in":"path","required":true,"schema":{"type":"string"}},{"name":"ShowName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of actors in show","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVShowActor"}}}}}}}},"/Crew/ByID/{AccessToken}/{ID}":{"get":{"tags":["Cast & Crew (Cast & Crew in Movies & Television Shows)"],"summary":"Get crew list by ID","operationId":"CrewByID_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"ID","in":"path","description":"IMDBID, TVmazeID, or TVDBID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of crew","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}}}}}}},"/Crew/ByPerson/{AccessToken}/{PersonName}":{"get":{"tags":["Cast & Crew (Cast & Crew in Movies & Television Shows)"],"summary":"Gets list of productions searched person is/was involved in.","operationId":"CrewByPerson_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"PersonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of crew","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}}}}}}},"/Crew/ByShowName/{AccessToken}/{ShowName}":{"get":{"tags":["Cast & Crew (Cast & Crew in Movies & Television Shows)"],"summary":"Get crew list by showname","operationId":"CrewbyShowname_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"ShowName","in":"path","description":"Full exact showname","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of crew","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}}}}}}},"/Crew/Search/{AccessToken}/{Phrase}":{"get":{"tags":["Cast & Crew (Cast & Crew in Movies & Television Shows)"],"summary":"Returns crew for queried show.","operationId":"Crew_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Phrase","in":"path","description":"Part of, or full showname to search for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of crew","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}}}}}}}},"/Episodes/ByID/{AccessToken}/{ID}":{"get":{"tags":["Television (Shows, Episodes, & Statuses)"],"summary":"Gets all episodes for selected ID","operationId":"EpisodesByID_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"ID","in":"path","description":"imdbID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of episodes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}}}}}}},"/Episodes/BySeason/{AccessToken}/{ID}/{Season}":{"get":{"tags":["Television (Shows, Episodes, & Statuses)"],"summary":"Gets list of episodes for specified imdbID and Season number","operationId":"EpisodesBySeason_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"ID","in":"path","description":"imdbID","required":true,"schema":{"type":"string"}},{"name":"Season","in":"path","description":"Season number","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of episodes for specified season","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}}}}}}},"/Episodes/ByShowName/{AccessToken}/{Showname}":{"get":{"tags":["Television (Shows, Episodes, & Statuses)"],"summary":"Gets all episodes for selected show","operationId":"Episodes_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Showname","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of episodes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Episode"}}}}}}}},"/Episodes/LatestSeason/Show/{AccessToken}/{Name}":{"get":{"tags":["Television (Shows, Episodes, & Statuses)"],"summary":"Gets latest season number based on show name","operationId":"EpisodesLastAvailableSeasonbyName_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns last available Season Number for passed showname","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LastAvailableSeason"}},"text/json":{"schema":{"$ref":"#/components/schemas/LastAvailableSeason"}},"application/xml":{"schema":{"$ref":"#/components/schemas/LastAvailableSeason"}},"text/xml":{"schema":{"$ref":"#/components/schemas/LastAvailableSeason"}}}}}}},"/Episodes/LatestSeason/{AccessToken}/{ID}":{"get":{"tags":["Television (Shows, Episodes, & Statuses)"],"summary":"Returns last available season number in database, based on passed imdbID","operationId":"EpisodesLastAvailableSeason_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"ID","in":"path","description":"imdbID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns last available Season Number for passed imdbID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LastAvailableSeason"}},"text/json":{"schema":{"$ref":"#/components/schemas/LastAvailableSeason"}},"application/xml":{"schema":{"$ref":"#/components/schemas/LastAvailableSeason"}},"text/xml":{"schema":{"$ref":"#/components/schemas/LastAvailableSeason"}}}}}}},"/Episodes/SeasonCount/{AccessToken}/{ID}":{"get":{"tags":["Television (Shows, Episodes, & Statuses)"],"summary":"Returns number of available seasons and episodes","operationId":"EpisodesSeasonCount_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"ID","in":"path","description":"imdbID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns number of seasons available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TVShowSeasons"}},"text/json":{"schema":{"$ref":"#/components/schemas/TVShowSeasons"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TVShowSeasons"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TVShowSeasons"}}}}}}},"/GetIMDBid/ByID/{AccessToken}/{Query}":{"get":{"tags":["Miscellaneous (Conversion & other Utilities)"],"summary":"Gets list of avaiable IMDB ids from Movies and TV Show databases, you can use those to query other end points that need ID's","operationId":"GetIMDBid_GetAsync","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Query","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of imdb ID's","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbID"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbID"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbID"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbID"}}}}}}}},"/Images/ByID/{AccessToken}/{imdbID}":{"get":{"tags":["Images (Movie & Television Show Images)"],"summary":"Get images available for movie/tv show with passed imdbID","operationId":"Images_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"imdbID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of images","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbImages"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbImages"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbImages"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbImages"}}}}}}}},"/Images/Search/{Accesstoken}/{Query}":{"get":{"tags":["Images (Movie & Television Show Images)"],"summary":"Get images available for movie/tv show with passed query","operationId":"ImageSearch_Get","parameters":[{"name":"Accesstoken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Query","in":"path","description":"Name or part of name from Movie or Show","required":true,"schema":{"type":"string"}},{"name":"Strictmatch","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"List of images","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbImages"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbImages"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbImages"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/imdbImages"}}}}}}}},"/Magnets/ByDate/{AccessToken}/{Date}":{"get":{"tags":["Magnets (Magnet hashes of Movies & Television Shows)"],"summary":"Gets available magnet hashes on passed date (yyyy-mm-dd).  Feature not available on free plan, please donate to be able to use this feature.","operationId":"MagnetsByDate_GetAsync","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Date","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of magnet hashes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}}}}}}},"/Magnets/ByIMDB/{AccessToken}/{imdbID}":{"get":{"tags":["Magnets (Magnet hashes of Movies & Television Shows)"],"summary":"Returns list of magnet hashes for passed IMDBID.  Feature not available on free plan, please donate to be able to use this feature.","operationId":"MagnetsByimdbID_GetAsync","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"imdbID","in":"path","description":"ID with or without tt prefix","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of magnet hashes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}}}}}}},"/Magnets/Search/{AccessToken}/{Query}":{"get":{"tags":["Magnets (Magnet hashes of Movies & Television Shows)"],"summary":"Try and find magnet links for queried movie.  Feature not available on free plan, please donate to be able to use this feature","operationId":"magnetsMovieByID_GetAsync","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Query","in":"path","description":"Name or part of name of movie or tv show","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of magnet hashes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}}}}}}},"/Magnets/TVShow/{AccessToken}/{TVShow}":{"get":{"tags":["Magnets (Magnet hashes of Movies & Television Shows)"],"summary":"Returns results based on query, Feature not available on free plan, please donate to be able to use this feature.","operationId":"TVShowsearch_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"TVShow","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of magnet hashes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Magnets"}}}}}}}},"/Movie/ByID/{accesstoken}/{imdbID}":{"get":{"tags":["Movies (Movies, Documentaries, & made for Television Movies)"],"operationId":"MovieID_Get","parameters":[{"name":"accesstoken","in":"path","required":true,"schema":{"type":"string"}},{"name":"imdbID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Movie information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MovieInformation"}},"text/json":{"schema":{"$ref":"#/components/schemas/MovieInformation"}},"application/xml":{"schema":{"$ref":"#/components/schemas/MovieInformation"}},"text/xml":{"schema":{"$ref":"#/components/schemas/MovieInformation"}}}}}}},"/Movie/Search/{AccessToken}/{Query}":{"get":{"tags":["Movies (Movies, Documentaries, & made for Television Movies)"],"summary":"Searches for movies, result set limited to 5 records","operationId":"MovieSearch_GetAsync","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Query","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of information about queried movie(s)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MovieInformation"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MovieInformation"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MovieInformation"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MovieInformation"}}}}}}}},"/Music/Albums/Art/{AccessToken}/{AlbumID}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Returns Albumart for passed AlbumID","operationId":"musicAlbumArt_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"AlbumID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Gets album art for passed AlbumID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlbumArt"}},"text/json":{"schema":{"$ref":"#/components/schemas/AlbumArt"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AlbumArt"}},"text/xml":{"schema":{"$ref":"#/components/schemas/AlbumArt"}}}}}}},"/Music/Albums/CoverArt/{AccessToken}/{MBID}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Gets CD art for passed MusicBrainzID","operationId":"musicCDCovers_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"MBID","in":"path","description":"MusicBrainzID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Gets CD Cover Art for album","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CDCoverArt"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CDCoverArt"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CDCoverArt"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CDCoverArt"}}}}}}}},"/Music/Albums/MusicBrainzID/{AccessToken}/{MBID}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Get Artist / Band information on MusicBrainzID","operationId":"MusicByMusicBrainz_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"MBID","in":"path","description":"MusicBrainzID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Information about band / artist based on MusicBrainzID","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfo"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfo"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfo"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfo"}}}}}}}},"/Music/Albums/{AccessToken}/{ArtistID}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Get albums from passed ArtistID","operationId":"musicAlbums_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"ArtistID","in":"path","description":"ID of artist or band to retrieve albums from","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Lists all albums from passed ArtistID","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandAlbums"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandAlbums"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandAlbums"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandAlbums"}}}}}}}},"/Music/Artist/Art/ID/{AccessToken}/{ArtistID}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Retrieves artist / band Banner and logo based on ArtistID","operationId":"musicCoverArt_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"ArtistID","in":"path","description":"ArtistID of artist or band","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Gets art for passed ArtistID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtistArt"}},"text/json":{"schema":{"$ref":"#/components/schemas/ArtistArt"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ArtistArt"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ArtistArt"}}}}}}},"/Music/Artist/Art/Name/{AccessToken}/{Name}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Retrieves artist / band Banner and logo based on artist or bandname","operationId":"musicCoverArtByName_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Name","in":"path","description":"Name of artist or band","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Gets art for passed arist or bandname","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtistArt"}},"text/json":{"schema":{"$ref":"#/components/schemas/ArtistArt"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ArtistArt"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ArtistArt"}}}}}}},"/Music/Artist/Extended/{AccessToken}/{Name}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Provides extended information, which includes all known albums and music videos of artist / band","operationId":"musicArtistExtended_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Extended Information about band / artist","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfoExtended"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfoExtended"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfoExtended"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfoExtended"}}}}}}}},"/Music/Artist/{AccessToken}/{Name}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Get information about passed band name or artist","operationId":"Music_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Name","in":"path","description":"Name (or part) of band or artist name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Information about band / artist","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfo"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfo"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfo"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BandInfo"}}}}}}}},"/Music/Lyrics/AlbumID/{AccessToken}/{AlbumID}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Returns all lyrics for requested AlbumID","operationId":"musicLyricsbyAlbumID_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"AlbumID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"lyric(s) for requested albumID","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}}}}}}},"/Music/Lyrics/ByName/{AccessToken}/{Name}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Get lyrics for band or artist (record set limited to 25)","operationId":"musicLyrics_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Name","in":"path","description":"Name (or partial) of band or artist (record set limited to 25)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"lyric(s) for requested artist / band","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}}}}}}},"/Music/Lyrics/BySong/{AccessToken}/{Song}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Get lyrics on song title","operationId":"musicLyricsBySong_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Song","in":"path","description":"Name or part of song name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"lyric(s) for requested song","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lyric"}}}}}}}},"/Music/Tracks/{AccessToken}/{AlbumID}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Get all tracks from requested album","operationId":"musicTracks_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"AlbumID","in":"path","description":"AlbumID (can be retrieved via album endpoint)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Lists all tracks on album from passed AlbumID","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlbumTracks"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlbumTracks"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlbumTracks"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlbumTracks"}}}}}}}},"/Music/Videos/{AccessToken}/{ArtistID}":{"get":{"tags":["Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"],"summary":"Lists all videos available for this Artist / Band","operationId":"MusiVideos_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"ArtistID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Lists all videos available for this Artist / Band","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MusicVideo"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MusicVideo"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MusicVideo"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MusicVideo"}}}}}}}},"/Rating/ByID/{AccessToken}/{imdbID}":{"get":{"tags":["Ratings  (Movie & Television Show Ratings)"],"summary":"Returns ratings from various resources(IMDB,Rotten Tomatoes, metaCritics, TVMaze etc) of passed IMDBid","operationId":"Rating_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"imdbID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ratings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RatingItem"}},"text/json":{"schema":{"$ref":"#/components/schemas/RatingItem"}},"application/xml":{"schema":{"$ref":"#/components/schemas/RatingItem"}},"text/xml":{"schema":{"$ref":"#/components/schemas/RatingItem"}}}}}}},"/Rating/ByName/{AccessToken}/{Name}":{"get":{"tags":["Ratings  (Movie & Television Show Ratings)"],"operationId":"RatingByName_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ratings","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RatingItem"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RatingItem"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RatingItem"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RatingItem"}}}}}}}},"/Status/{AccessToken}/{Query}":{"get":{"tags":["Television (Shows, Episodes, & Statuses)"],"summary":"Returns status of queried show (query can be IMDB, TVDB, or showname)","operationId":"ShowStatus_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Query","in":"path","description":"Query can be IMDB, TVDB, or Show name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of statuses","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_ShowStatus"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_ShowStatus"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_ShowStatus"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/_ShowStatus"}}}}}}}},"/TV/ByID/{accesstoken}/{imdbID}":{"get":{"tags":["Television (Shows, Episodes, & Statuses)"],"summary":"Returns TVShow information based on IMDBid","operationId":"TVShowID_Get","parameters":[{"name":"accesstoken","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"query","description":"imdbID of show you want info on","required":true,"schema":{"type":"string"}},{"name":"imdbID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Television show information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TVInformation"}},"text/json":{"schema":{"$ref":"#/components/schemas/TVInformation"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TVInformation"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TVInformation"}}}}}}},"/TV/ByName/{AccessToken}/{Query}":{"get":{"tags":["Television (Shows, Episodes, & Statuses)"],"summary":"Returns results based on query, result set limited to 5 records","operationId":"TVShowByName_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Query","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of television show information","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVInformation"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVInformation"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVInformation"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TVInformation"}}}}}}}},"/Trailers/ByID/{AccessToken}/{imdbID}":{"get":{"tags":["Trailers (Movie & Television Show Trailers)"],"summary":"Get Trailers for passed imdbID","operationId":"TrailersbyID_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"imdbID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of trailers","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Trailer"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Trailer"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Trailer"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Trailer"}}}}}}}},"/Trailers/CountByID/{AccessToken}/{imdbID}":{"get":{"tags":["Trailers (Movie & Television Show Trailers)"],"summary":"Get trailer count for passed ID","operationId":"TrailerCountByID_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"imdbID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Count of trailers available for imdbID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrailerCount"}},"text/json":{"schema":{"$ref":"#/components/schemas/TrailerCount"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TrailerCount"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TrailerCount"}}}}}}},"/Trailers/CountByName/{AccessToken}/{Name}":{"get":{"tags":["Trailers (Movie & Television Show Trailers)"],"summary":"Get trailer count for passed name (Movie title or TVShow name)","operationId":"TrailerCountByName_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Count of trailers available for passed name","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrailerCount"}},"text/json":{"schema":{"$ref":"#/components/schemas/TrailerCount"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TrailerCount"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TrailerCount"}}}}}}},"/Trailers/Search/{AccessToken}/{Phrase}":{"get":{"tags":["Trailers (Movie & Television Show Trailers)"],"summary":"Gets trailers by search phrase (limited to 10 records)","operationId":"TrailerSearch_Get","parameters":[{"name":"AccessToken","in":"path","required":true,"schema":{"type":"string"}},{"name":"Phrase","in":"path","description":"Trailer you like to search for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of trailers","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Trailer"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Trailer"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Trailer"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Trailer"}}}}}}}}},"components":{"schemas":{"Actor":{"type":"object","properties":{"Bio":{"type":"string"},"BirthYear":{"type":"string"},"DeathYear":{"type":"string"},"Gender":{"type":"string"},"Name":{"type":"string"},"PopularityIndex":{"type":"string"},"ProfileImage":{"type":"string"}}},"ActorPost":{"type":"object","properties":{"AccessToken":{"type":"string"},"Bio":{"type":"string"},"BirthYear":{"type":"string"},"DeathYear":{"type":"string"},"Gender":{"type":"string"},"Name":{"type":"string"},"PopularityIndex":{"type":"string"},"ProfileImage":{"type":"string"}}},"AlbumArt":{"type":"object","properties":{"AlbumID":{"type":"string"},"Albumname":{"type":"string"},"Art":{"type":"string"}}},"AlbumTracks":{"type":"object","properties":{"AlbumID":{"type":"string"},"ArtistID":{"type":"string"},"Length":{"type":"string"},"TrackName":{"type":"string"},"TrackNo":{"type":"string"}}},"Aliases":{"type":"object","properties":{"Aka":{"type":"string"},"ExternalIDs":{"type":"array","items":{"$ref":"#/components/schemas/ExternalIDs"}},"Name":{"type":"string"},"OriginalName":{"type":"string"}}},"ArtistArt":{"type":"object","properties":{"ArtistID":{"type":"string"},"Banner":{"type":"string"},"Logo":{"type":"string"},"Name":{"type":"string"}}},"BandAlbums":{"type":"object","properties":{"AlbumArt":{"type":"string"},"AlbumID":{"type":"string"},"ArtistID":{"type":"string"},"Bibliography":{"type":"string"},"Label":{"type":"string"},"Name":{"type":"string"},"Releaseyear":{"type":"string"}}},"BandInfo":{"type":"object","properties":{"ArtistID":{"type":"string"},"Banner":{"type":"string"},"Biography":{"type":"string"},"DisbandedYear":{"type":"string"},"FormationYear":{"type":"string"},"Genre":{"type":"string"},"Logo":{"type":"string"},"Members":{"type":"string"},"MusicBrainzID":{"type":"string"},"Name":{"type":"string"},"SocialMedia":{"type":"string"},"WebSite":{"type":"string"}}},"BandInfoExtended":{"type":"object","properties":{"Albums":{"type":"array","items":{"$ref":"#/components/schemas/BandAlbums"}},"ArtistID":{"type":"string"},"Banner":{"type":"string"},"Biography":{"type":"string"},"DisbandedYear":{"type":"string"},"FormationYear":{"type":"string"},"Genre":{"type":"string"},"Logo":{"type":"string"},"Members":{"type":"string"},"MusicBrainzID":{"type":"string"},"Name":{"type":"string"},"SocialMedia":{"type":"string"},"Videos":{"type":"array","items":{"$ref":"#/components/schemas/MusicVideo"}},"WebSite":{"type":"string"}}},"CDCoverArt":{"type":"object","properties":{"CoverImage":{"type":"string"},"CoverThumbMedium":{"type":"string"},"CoverThumbSmall":{"type":"string"},"CoverType":{"type":"string"},"MusicBrainzID":{"type":"string"}}},"Country":{"type":"object","properties":{"Name":{"type":"string"}}},"Crew":{"type":"object","properties":{"Externals":{"type":"array","items":{"$ref":"#/components/schemas/ExternalIDs"}},"Image":{"type":"string"},"Name":{"type":"string"},"ShowName":{"type":"string"},"Type":{"type":"string"}}},"Episode":{"type":"object","properties":{"Airdate":{"type":"string"},"Airtime":{"type":"string"},"EpisodeNo":{"type":"string"},"Externals":{"type":"array","items":{"$ref":"#/components/schemas/ExternalIDs"}},"Image":{"type":"string"},"Season":{"type":"string"},"Synopsis":{"type":"string"},"Title":{"type":"string"}}},"ExternalIDs":{"type":"object","properties":{"ID":{"type":"string"},"Name":{"type":"string"}}},"LastAvailableSeason":{"type":"object","properties":{"Season":{"type":"string"}}},"Lyric":{"type":"object","properties":{"AlbumID":{"type":"string"},"Artist":{"type":"string"},"Lyrics":{"type":"string"},"Song":{"type":"string"}}},"Magnets":{"type":"object","properties":{"Externals":{"type":"array","items":{"$ref":"#/components/schemas/ExternalIDs"}},"FirstSeenDate":{"type":"string","description":"Date this hash was first detected"},"Hash":{"type":"string","description":"The actual hash you need to construct your magnet"},"Image":{"type":"string"},"Name":{"type":"string"},"Peers":{"type":"string","description":"Number of Peers available at FirstSeenDate"},"Seeds":{"type":"string","description":"Number of Seeds available at FirstSeenDate"},"Size":{"type":"string"},"Title":{"type":"string"},"Type":{"type":"string"}}},"MovieInformation":{"type":"object","properties":{"ID":{"type":"string"},"ImdbID":{"type":"string"},"ReleaseYear":{"type":"string"},"Runtime":{"type":"string"},"Synopsis":{"type":"string"},"Title":{"type":"string"}}},"MusicVideo":{"type":"object","properties":{"AlbumID":{"type":"string"},"ArtistID":{"type":"string"},"Decription":{"type":"string"},"Video":{"type":"string"}}},"Networks":{"type":"object","properties":{"Country":{"type":"string"},"Network":{"type":"string"}}},"PostResult":{"type":"object","properties":{"Status":{"type":"string"}}},"RatingItem":{"type":"object","properties":{"EpisoDate":{"type":"string"},"IMDB":{"type":"string"},"MetaCritics":{"type":"string"},"Name":{"type":"string"},"RottenTomatoes":{"type":"string"},"RottenTomatoesAudienceScore":{"type":"string"},"TVDB":{"type":"string"},"TVMaze":{"type":"string"},"Trakt":{"type":"string"},"imdbID":{"type":"string"}}},"ShowSeasons":{"type":"object","properties":{"Year":{"type":"string"}}},"TVInformation":{"type":"object","properties":{"EpisodeCount":{"type":"string"},"EpisodeRuntime":{"type":"string"},"Externals":{"type":"array","items":{"$ref":"#/components/schemas/ExternalIDs"}},"ID":{"type":"string"},"ReleaseYear":{"type":"string"},"Seasons":{"type":"string"},"ShowImage":{"type":"string"},"ShowStatus":{"type":"string"},"Synopsis":{"type":"string"},"Title":{"type":"string"}}},"TVInformationPost":{"type":"object","properties":{"AccessToken":{"type":"string"},"EpisodeCount":{"type":"string"},"EpisodeRuntime":{"type":"string"},"Genres":{"type":"string"},"ImdbID":{"type":"string"},"PremierYear":{"type":"string"},"Seasons":{"type":"string"},"ShowImage":{"type":"string"},"ShowStatus":{"type":"string"},"Synopsis":{"type":"string"},"Title":{"type":"string"}}},"TVShowActor":{"type":"object","properties":{"Externals":{"type":"array","items":{"$ref":"#/components/schemas/ExternalIDs"}},"Image":{"type":"string"},"Name":{"type":"string"},"Role":{"type":"string"},"ShowName":{"type":"string"}}},"TVShowSeasons":{"type":"object","properties":{"Episodes":{"type":"string"},"Externals":{"type":"array","items":{"$ref":"#/components/schemas/ExternalIDs"}},"Seasons":{"type":"string"},"Showname":{"type":"string"}}},"Trailer":{"type":"object","properties":{"Episode":{"type":"string"},"Key":{"type":"string","description":"Key for trailer, usually end part of uri for youtube links"},"MediaType":{"type":"string","description":"Returns Media Type, either C (Channel) T (Television) or M (Movie)"},"Season":{"type":"string"},"Site":{"type":"string"},"TrailerName":{"type":"string"},"TrailerSize":{"type":"string"},"TrailerType":{"type":"string","description":"Returns Trailer type (trailer, teaser, channel, episode,credits, clip etc)"},"YouTubeEmbeddedCode":{"type":"string"},"YouTubeURL":{"type":"string"}}},"TrailerCount":{"type":"object","properties":{"Count":{"type":"integer","format":"int32"}}},"_Awards":{"type":"object","properties":{"Category":{"type":"string"},"Nominee":{"type":"string"},"Type":{"type":"string"},"Winner":{"type":"string"},"Year":{"type":"string"}}},"_ShowStatus":{"type":"object","properties":{"Enddate":{"type":"string"},"ID":{"type":"string"},"Title":{"type":"string"},"YearsOn":{"type":"string"},"imdbID":{"type":"string"},"status":{"type":"string"},"tvdbID":{"type":"string"}}},"imdbID":{"type":"object","properties":{"ID":{"type":"string"},"ShinobiID":{"type":"string"},"Title":{"type":"string"},"Type":{"type":"string"}}},"imdbImages":{"type":"object","properties":{"Backdrops":{"type":"array","items":{"type":"string"}},"Posters":{"type":"array","items":{"type":"string"}},"Type":{"type":"string"},"imdbID":{"type":"string"}}},"schedule":{"type":"object","properties":{"AirDate":{"type":"string"},"AirTime":{"type":"string"},"Country":{"type":"string"},"DaysOn":{"type":"string"},"Episode":{"type":"string"},"ID":{"type":"string"},"Image":{"type":"string"},"Network":{"type":"string"},"PremiereDate":{"type":"string"},"Runtime":{"type":"string"},"Season":{"type":"string"},"ShowName":{"type":"string"},"Summary":{"type":"string"},"Title":{"type":"string"}}}}}}