{"openapi":"3.0.1","info":{"title":"MaintenanceManagementClient","description":"Azure Maintenance Management Client","version":"2018-06-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/providers/Microsoft.Maintenance/operations":{"get":{"tags":["Operations"],"summary":"List available operations","description":"List the available operations supported by the Microsoft.Maintenance resource provider","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationsListResult"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/maintenanceConfigurations":{"get":{"tags":["MaintenanceConfigurations"],"summary":"Get Configuration records within a subscription","operationId":"MaintenanceConfigurations_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListMaintenanceConfigurationsResult"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/maintenanceConfigurations/{resourceName}":{"get":{"tags":["MaintenanceConfigurations"],"summary":"Get Configuration record","operationId":"MaintenanceConfigurations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource Identifier","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceConfiguration"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceError"}}}}}},"put":{"tags":["MaintenanceConfigurations"],"summary":"Create or Update configuration record","operationId":"MaintenanceConfigurations_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource Identifier","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceConfiguration"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceConfiguration"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceError"}}}}}},"delete":{"tags":["MaintenanceConfigurations"],"summary":"Delete Configuration record","operationId":"MaintenanceConfigurations_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource Identifier","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceConfiguration"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceError"}}}}}},"patch":{"tags":["MaintenanceConfigurations"],"summary":"Patch configuration record","operationId":"MaintenanceConfigurations_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource Group Name","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource Identifier","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceConfiguration"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceConfiguration"}}}},"default":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceError"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/default":{"put":{"tags":["ApplyUpdates"],"summary":"Apply Updates to resource with parent","description":"Apply maintenance updates to resource with parent","operationId":"ApplyUpdates_CreateOrUpdateParent","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceParentType","in":"path","description":"Resource parent type","required":true,"schema":{"type":"string"}},{"name":"resourceParentName","in":"path","description":"Resource parent identifier","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyUpdate"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/{applyUpdateName}":{"get":{"tags":["ApplyUpdates"],"summary":"Track Updates to resource with parent","description":"Track maintenance updates to resource with parent","operationId":"ApplyUpdates_GetParent","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"resourceParentType","in":"path","description":"Resource parent type","required":true,"schema":{"type":"string"}},{"name":"resourceParentName","in":"path","description":"Resource parent identifier","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"applyUpdateName","in":"path","description":"applyUpdate Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyUpdate"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments":{"get":{"tags":["ConfigurationAssignments"],"summary":"List configurationAssignments for resource","description":"List configurationAssignments for resource.","operationId":"ConfigurationAssignments_ListParent","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceParentType","in":"path","description":"Resource parent type","required":true,"schema":{"type":"string"}},{"name":"resourceParentName","in":"path","description":"Resource parent identifier","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListConfigurationAssignmentsResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}":{"put":{"tags":["ConfigurationAssignments"],"summary":"Create configuration assignment","description":"Register configuration for resource.","operationId":"ConfigurationAssignments_CreateOrUpdateParent","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceParentType","in":"path","description":"Resource parent type","required":true,"schema":{"type":"string"}},{"name":"resourceParentName","in":"path","description":"Resource parent identifier","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"configurationAssignmentName","in":"path","description":"Configuration assignment name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The configurationAssignment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationAssignment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationAssignment"}}}}}},"delete":{"tags":["ConfigurationAssignments"],"summary":"Unregister configuration for resource","description":"Unregister configuration for resource.","operationId":"ConfigurationAssignments_DeleteParent","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceParentType","in":"path","description":"Resource parent type","required":true,"schema":{"type":"string"}},{"name":"resourceParentName","in":"path","description":"Resource parent identifier","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"configurationAssignmentName","in":"path","description":"Unique configuration assignment name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationAssignment"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates":{"get":{"tags":["Updates"],"summary":"Get Updates to resource","description":"Get updates to resources.","operationId":"Updates_ListParent","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceParentType","in":"path","description":"Resource parent type","required":true,"schema":{"type":"string"}},{"name":"resourceParentName","in":"path","description":"Resource parent identifier","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListUpdatesResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/default":{"put":{"tags":["ApplyUpdates"],"summary":"Apply Updates to resource","description":"Apply maintenance updates to resource","operationId":"ApplyUpdates_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyUpdate"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/{applyUpdateName}":{"get":{"tags":["ApplyUpdates"],"summary":"Track Updates to resource","description":"Track maintenance updates to resource","operationId":"ApplyUpdates_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"applyUpdateName","in":"path","description":"applyUpdate Id","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyUpdate"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments":{"get":{"tags":["ConfigurationAssignments"],"summary":"List configurationAssignments for resource","description":"List configurationAssignments for resource.","operationId":"ConfigurationAssignments_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListConfigurationAssignmentsResult"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}":{"put":{"tags":["ConfigurationAssignments"],"summary":"Create configuration assignment","description":"Register configuration for resource.","operationId":"ConfigurationAssignments_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"configurationAssignmentName","in":"path","description":"Configuration assignment name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The configurationAssignment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationAssignment"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationAssignment"}}}}}},"delete":{"tags":["ConfigurationAssignments"],"summary":"Unregister configuration for resource","description":"Unregister configuration for resource.","operationId":"ConfigurationAssignments_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"configurationAssignmentName","in":"path","description":"Unique configuration assignment name","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationAssignment"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates":{"get":{"tags":["Updates"],"summary":"Get Updates to resource","description":"Get updates to resources.","operationId":"Updates_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name","required":true,"schema":{"type":"string"}},{"name":"providerName","in":"path","description":"Resource provider name","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"path","description":"Resource type","required":true,"schema":{"type":"string"}},{"name":"resourceName","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListUpdatesResult"}}}}}}}},"components":{"schemas":{"ApplyUpdate":{"properties":{"properties":{"$ref":"#/components/schemas/ApplyUpdateProperties"}},"description":"Apply Update request","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ApplyUpdateProperties":{"type":"object","properties":{"lastUpdateTime":{"type":"string","description":"Last Update time","format":"date-time"},"resourceId":{"type":"string","description":"The resourceId"},"status":{"type":"string","description":"The status","enum":["Pending","InProgress","Completed","RetryNow","RetryLater"]}},"description":"Properties for apply update"},"ConfigurationAssignment":{"properties":{"location":{"type":"string","description":"Location of the resource"},"properties":{"$ref":"#/components/schemas/ConfigurationAssignmentProperties"}},"description":"Configuration Assignment","allOf":[{"$ref":"#/components/schemas/Resource"}]},"ConfigurationAssignmentProperties":{"type":"object","properties":{"maintenanceConfigurationId":{"type":"string","description":"The maintenance configuration Id"},"resourceId":{"type":"string","description":"The unique resourceId"}},"description":"Properties for configuration assignment"},"ErrorDetails":{"type":"object","properties":{"code":{"type":"string","description":"Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."},"message":{"type":"string","description":"Human-readable representation of the error."}},"description":"An error response details received from the Azure Maintenance service."},"ListConfigurationAssignmentsResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of configuration Assignments","items":{"$ref":"#/components/schemas/ConfigurationAssignment"}}},"description":"Response for ConfigurationAssignments list"},"ListMaintenanceConfigurationsResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of maintenance Configurations","items":{"$ref":"#/components/schemas/MaintenanceConfiguration"}}},"description":"Response for MaintenanceConfigurations list"},"ListUpdatesResult":{"type":"object","properties":{"value":{"type":"array","description":"The pending updates","items":{"$ref":"#/components/schemas/Update"}}},"description":"Response for Updates list"},"MaintenanceConfiguration":{"properties":{"location":{"type":"string","description":"Gets or sets location of the resource"},"properties":{"$ref":"#/components/schemas/MaintenanceConfigurationProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets tags of the resource"}},"description":"Maintenance configuration record type","allOf":[{"$ref":"#/components/schemas/Resource"}]},"MaintenanceConfigurationProperties":{"type":"object","properties":{"extensionProperties":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets extensionProperties of the maintenanceConfiguration"},"maintenanceScope":{"type":"string","description":"Gets or sets maintenanceScope of the configuration","enum":["All","Host","Resource","InResource"]},"namespace":{"type":"string","description":"Gets or sets namespace of the resource"}},"description":"Properties for maintenance configuration"},"MaintenanceError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDetails"}},"description":"An error response received from the Azure Maintenance service."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationInfo"},"name":{"type":"string","description":"Name of the operation"},"origin":{"type":"string","description":"Origin of the operation"},"properties":{"type":"object","description":"Properties of the operation"}},"description":"Represents an operation returned by the GetOperations request"},"OperationInfo":{"type":"object","properties":{"description":{"type":"string","description":"Description of the operation"},"operation":{"type":"string","description":"Name of the operation"},"provider":{"type":"string","description":"Name of the provider"},"resource":{"type":"string","description":"Name of the resource type"}},"description":"Information about an operation"},"OperationsListResult":{"type":"object","properties":{"value":{"type":"array","description":"A collection of operations","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the List Operations operation"},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified identifier of the resource","readOnly":true},"name":{"type":"string","description":"Name of the resource","readOnly":true},"type":{"type":"string","description":"Type of the resource","readOnly":true}},"description":"Definition of a Resource"},"Update":{"type":"object","properties":{"impactDurationInSec":{"type":"integer","description":"Duration of impact in seconds","format":"int32"},"impactType":{"type":"string","description":"The impact type","enum":["None","Freeze","Restart","Redeploy"]},"maintenanceScope":{"type":"string","description":"The impact area","enum":["All","Host","Resource","InResource"]},"notBefore":{"type":"string","description":"Time when Azure will start force updates if not self-updated by customer before this time","format":"date-time"},"properties":{"$ref":"#/components/schemas/UpdateProperties"},"status":{"type":"string","description":"The status","enum":["Pending","InProgress","Completed","RetryNow","RetryLater"]}},"description":"Maintenance update on a resource"},"UpdateProperties":{"type":"object","properties":{"resourceId":{"type":"string","description":"The resourceId"}},"description":"Properties for update"}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}