{"openapi":"3.0.1","info":{"title":"SubscriptionClient","description":"Subscription client provides an interface to create and manage Azure subscriptions programmatically.","version":"2019-03-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/cancel":{"post":{"description":"The operation to cancel a subscription","operationId":"Subscriptions_Cancel","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2019-03-01-preview","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CanceledSubscriptionId"}}}},"default":{"description":"Describes the error if the operation is not successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/enable":{"post":{"description":"The operation to enable a subscription","operationId":"Subscriptions_Enable","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2019-03-01-preview","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnabledSubscriptionId"}}}},"default":{"description":"Describes the error if the operation is not successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/rename":{"post":{"description":"The operation to rename a subscription","operationId":"Subscriptions_Rename","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription Id.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2019-03-01-preview","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Subscription Name","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionName"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenamedSubscriptionId"}}}},"default":{"description":"Describes the error if the operation is not successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"CanceledSubscriptionId":{"type":"object","properties":{"value":{"type":"string","description":"The ID of the canceled subscription","readOnly":true}},"description":"The ID of the canceled subscription"},"EnabledSubscriptionId":{"type":"object","properties":{"value":{"type":"string","description":"The ID of the subscriptions that is being enabled","readOnly":true}},"description":"The ID of the subscriptions that is being enabled"},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"operation":{"type":"string","description":"Operation type: Read, write, delete, etc."},"provider":{"type":"string","description":"Service provider: Microsoft.Subscription"},"resource":{"type":"string","description":"Resource on which the operation is performed: Profile, endpoint, etc."}},"description":"The object that represents the operation."},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"}},"description":"REST API operation"},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of operations.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list operations. It contains a list of operations and a URL link to get the next set of results."},"RenamedSubscriptionId":{"type":"object","properties":{"value":{"type":"string","description":"The ID of the subscriptions that is being renamed","readOnly":true}},"description":"The ID of the subscriptions that is being renamed"},"SubscriptionName":{"type":"object","properties":{"subscriptionName":{"type":"string","description":"New subscription name"}},"description":"The new name of the subscription."}},"parameters":{"apiVersionParameter":{"name":"api-version","in":"query","description":"Version of the API to be used with the client request. Current version is 2019-03-01-preview","required":true,"schema":{"type":"string"}},"subscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription Id.","required":true,"schema":{"type":"string"}}},"requestBodies":{"subscriptionNameParameter":{"description":"Subscription Name","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionName"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}