{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Azure Resource Graph Query",
    "description" : "Azure Resource Graph Query API Reference",
    "version" : "2018-09-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceGraph/queries" : {
      "get" : {
        "description" : "Get all graph queries defined within a specified subscription and resource group.",
        "operationId" : "GraphQuery_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list containing 0 or more graph queries.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GraphQueryListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GraphQueryError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceGraph/queries/{resourceName}" : {
      "get" : {
        "description" : "Get a single graph query by its resourceName.",
        "operationId" : "GraphQuery_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Graph Query resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A graph query definition.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GraphQueryResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GraphQueryError"
                }
              }
            }
          }
        }
      },
      "put" : {
        "description" : "Create a new graph query.",
        "operationId" : "GraphQuery_CreateOrUpdate",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Graph Query resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Properties that need to be specified to create a new graph query.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GraphQueryResource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The newly created graph query.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GraphQueryResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GraphQueryError"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "description" : "Delete a graph query.",
        "operationId" : "GraphQuery_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Graph Query resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The graph query has been successfully deleted."
          },
          "204" : {
            "description" : "The resource doesn't exist."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GraphQueryError"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "description" : "Updates a graph query that has already been added.",
        "operationId" : "GraphQuery_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The Azure subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceName",
          "in" : "path",
          "description" : "The name of the Graph Query resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Properties that need to be specified to create a new graph query.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GraphQueryUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The graph query definition updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GraphQueryResource"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GraphQueryError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorFieldContract" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Property level error code."
          },
          "message" : {
            "type" : "string",
            "description" : "Human-readable representation of property-level error."
          },
          "target" : {
            "type" : "string",
            "description" : "Property name."
          }
        },
        "description" : "Error Field contract."
      },
      "GraphQueryError" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
          },
          "details" : {
            "type" : "array",
            "description" : "The list of invalid fields send in request, in case of validation error.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorFieldContract"
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Human-readable representation of the error."
          }
        },
        "description" : "Error message body that will indicate why the operation failed."
      },
      "GraphQueryListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to fetch the next set of queries."
          },
          "value" : {
            "type" : "array",
            "description" : "An array of graph queries.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/GraphQueryResource"
            }
          }
        },
        "description" : "Graph query list result."
      },
      "GraphQueryProperties" : {
        "required" : [ "query" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The description of a graph query."
          },
          "query" : {
            "type" : "string",
            "description" : "KQL query that will be graph."
          },
          "resultKind" : {
            "type" : "string",
            "description" : "Enum indicating a type of graph query.",
            "readOnly" : true,
            "enum" : [ "basic" ]
          },
          "timeModified" : {
            "type" : "string",
            "description" : "Date and time in UTC of the last modification that was made to this graph query definition.",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "description" : "Properties that contain a graph query."
      },
      "GraphQueryPropertiesUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The description of a graph query."
          },
          "query" : {
            "type" : "string",
            "description" : "KQL query that will be graph."
          }
        },
        "description" : "Properties that contain a workbook for PATCH operation."
      },
      "GraphQueryResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/GraphQueryProperties"
          }
        },
        "description" : "Graph Query entity definition.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "GraphQueryUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "eTag" : {
            "type" : "string",
            "description" : "This will be used to handle Optimistic Concurrency. If not present, it will always overwrite the existing resource without checking conflict."
          },
          "properties" : {
            "$ref" : "#/components/schemas/GraphQueryPropertiesUpdateParameters"
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          }
        },
        "description" : "The parameters that can be provided when updating workbook properties properties."
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "eTag" : {
            "type" : "string",
            "description" : "This will be used to handle Optimistic Concurrency. If not present, it will always overwrite the existing resource without checking conflict."
          },
          "id" : {
            "type" : "string",
            "description" : "Azure resource Id",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Azure resource name. This is GUID value. The display name should be assigned within properties field.",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource tags"
          },
          "type" : {
            "type" : "string",
            "description" : "Azure resource type",
            "readOnly" : true
          }
        },
        "description" : "An azure resource object"
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "GraphQueryResourceNameParameter" : {
        "name" : "resourceName",
        "in" : "path",
        "description" : "The name of the Graph Query resource.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupNameParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The Azure subscription Id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}