{"openapi":"3.0.1","info":{"title":"Coronavirus API","description":"Coronavirus API with free COVID-19 live updates. The best free coronavirus API and COVID-19 update source. Programmatically access live corona virus updates for statistics with historical data, maps, charts, graphs. COVID-19 API and corona virus live updates.","termsOfService":"https://quarantine.country/coronavirus/api/privacy.html","contact":{"email":"api+covid19@h7.org"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"1.0"},"externalDocs":{"description":"Find out more about Swagger","url":"http://swagger.io"},"servers":[{"url":"https://api.quarantine.country/api/v1"},{"url":"http://api.quarantine.country/api/v1"}],"tags":[{"name":"summary","description":"Latest data"},{"name":"spot","description":"Chart data"}],"paths":{"/spots/day":{"get":{"tags":["spot"],"summary":"Resolve change chart by day","parameters":[{"name":"region","in":"query","description":"Region short name","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","description":"Date to query spots on","schema":{"type":"string","default":"Today"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpotsResponse"}}}},"404":{"description":"Unknown region"}}}},"/spots/month":{"get":{"tags":["spot"],"summary":"Resolve change chart for week","parameters":[{"name":"region","in":"query","description":"Region short name","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","description":"Date to query spots on","schema":{"type":"string","default":"Today"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpotsResponse"}}}},"404":{"description":"Unknown region"}}}},"/spots/week":{"get":{"tags":["spot"],"summary":"Resolve change chart for week","parameters":[{"name":"region","in":"query","description":"Region short name","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","description":"Date to query spots on","schema":{"type":"string","default":"Today"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpotsResponse"}}}},"404":{"description":"Unknown region"}}}},"/spots/year":{"get":{"tags":["spot"],"summary":"Resolve change chart for week","parameters":[{"name":"region","in":"query","description":"Region short name","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","description":"Date to query spots on","schema":{"type":"string","default":"Today"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpotsResponse"}}}},"404":{"description":"Unknown region"}}}},"/summary/latest":{"get":{"tags":["summary"],"summary":"Get latest coronavirus situation report","parameters":[{"name":"date","in":"query","description":"Date of the report","schema":{"type":"string","default":"today"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportResponse"}}}}}}},"/summary/region":{"get":{"tags":["summary"],"summary":"Resolve report for region","parameters":[{"name":"region","in":"query","description":"Region short name","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","description":"Date of the report","schema":{"type":"string","default":"today"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportResponse"}}}},"404":{"description":"Region does not exist"}}}}},"components":{"schemas":{"Report":{"type":"object","properties":{"active_cases":{"title":"Active cases number","type":"integer"},"change":{"$ref":"#/components/schemas/Report"},"death_ratio":{"title":"Death ratio","type":"number","description":"Dead / Total cases"},"deaths":{"title":"Deaths number","type":"integer"},"name":{"title":"Region name","type":"string"},"recovered\"":{"title":"Recovered cases number","type":"integer"},"recovery_ratio":{"title":"Recovery ratio","type":"number","description":"Recovered / Total cases"},"total_cases":{"title":"Total registered cases","type":"integer"}}},"ReportResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"change":{"$ref":"#/components/schemas/Report"},"generated_on":{"type":"integer","description":"Timestamp report been updated at"},"regions":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Report"},"example":{"switzerland":{"active_cases":12585,"change":{"active_cases":-143,"death_ratio":0.0015511152363255273,"deaths":74,"recovered":1096,"recovery_ratio":0.02982392582150012,"total_cases":1027},"death_ratio":0.038445017182130586,"deaths":895,"name":"switzerland","recovered":9800,"recovery_ratio":0.4209621993127148,"total_cases":23280}}},"summary":{"$ref":"#/components/schemas/Report"}}},"status":{"type":"integer","format":"int8"},"type":{"type":"string","enum":["stack","collection","pagination"]}}},"SpotsResponse":{"type":"object","properties":{"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Report"},"example":{"2020-04-09 12:20:00":{"death_ratio":0.040285703944113994,"deaths":3339,"recovered":77678,"recovery_ratio":0.937200632216498,"total_cases":82883},"2020-04-09 12:40:00":{"death_ratio":0.040285703944113994,"deaths":3339,"recovered":77678,"recovery_ratio":0.937200632216498,"total_cases":82883}}},"status":{"type":"integer","format":"int8"},"type":{"type":"string","enum":["stack","collection","pagination"]}}}}}}