{"openapi":"3.0.1","info":{"title":"Postmark Account-level API","description":"Postmark makes sending and receiving email\nincredibly easy. The Account-level API allows users to\nconfigure all Servers, Domains, and Sender Signatures associated\nwith an Account.\n","version":"0.9.0"},"servers":[{"url":"//api.postmarkapp.com/"}],"paths":{"/domains":{"get":{"tags":["Domains API"],"summary":"List Domains","operationId":"listDomains","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of records to return per request. Max 500.","required":true,"schema":{"maximum":500,"minimum":1,"type":"integer"}},{"name":"offset","in":"query","description":"Number of records to skip","required":true,"schema":{"minimum":0,"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainListingResults"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"post":{"tags":["Domains API"],"summary":"Create a Domain","operationId":"createDomain","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainCreationModel"}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainExtendedInformation"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/domains/{domainid}":{"get":{"tags":["Domains API"],"summary":"Get a Domain","operationId":"getDomain","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"domainid","in":"path","description":"The ID for the Domain that should be retrieved.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainExtendedInformation"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"put":{"tags":["Domains API"],"summary":"Update a Domain","operationId":"editDomain","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"domainid","in":"path","description":"The ID for the Domain that should be modified by the request.","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainEditingModel"}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainExtendedInformation"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"delete":{"tags":["Domains API"],"summary":"Delete a Domain","operationId":"deleteDomain","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"domainid","in":"path","description":"The ID for the Domain that should be deleted by the request.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/domains/{domainid}/rotatedkim":{"post":{"tags":["Domains API"],"summary":"Rotate DKIM Key","description":"Creates a new DKIM key to replace your current key. Until the DNS entries are confirmed,\nthe new values will be in the `DKIMPendingHost` and `DKIMPendingTextValue` fields.\nAfter the new DKIM value is verified in DNS, the pending values will migrate to\n`DKIMTextValue` and `DKIMPendingTextValue` and Postmark will begin to sign emails\nwith the new DKIM key.\n","operationId":"rotateDKIMKeyForDomain","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"domainid","in":"path","description":"The ID for the Sender Signature for which a new DKIM Key should be generated.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DKIMRotationResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/domains/{domainid}/verifydkim":{"put":{"tags":["Domains API"],"summary":"Request DNS Verification for DKIM","operationId":"requestDkimVerificationForDomain","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"domainid","in":"path","description":"The ID for the Domain for which DKIM DNS records should be verified.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainExtendedInformation"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/domains/{domainid}/verifyreturnpath":{"put":{"tags":["Domains API"],"summary":"Request DNS Verification for Return-Path","operationId":"requestReturnPathVerificationForDomain","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"domainid","in":"path","description":"The ID for the Domain for which Return-Path DNS records should be verified.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainExtendedInformation"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/domains/{domainid}/verifyspf":{"post":{"tags":["Domains API"],"summary":"Request DNS Verification for SPF","operationId":"requestSPFVerificationForDomain","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"domainid","in":"path","description":"The ID for the Domain for which SPF DNS records should be verified.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainSPFResult"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/senders":{"get":{"tags":["Sender Signatures API"],"summary":"List Sender Signatures","operationId":"listSenderSignatures","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of records to return per request. Max 500.","required":true,"schema":{"maximum":500,"minimum":1,"type":"integer"}},{"name":"offset","in":"query","description":"Number of records to skip","required":true,"schema":{"minimum":0,"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SenderListingResults"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"post":{"tags":["Sender Signatures API"],"summary":"Create a Sender Signature","operationId":"createSenderSignature","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SenderSignatureCreationModel"}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SenderSignatureExtendedInformation"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/senders/{signatureid}":{"get":{"tags":["Sender Signatures API"],"summary":"Get a Sender Signature","operationId":"getSenderSignature","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"signatureid","in":"path","description":"The ID for the Sender Signature that should be retrieved.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SenderSignatureExtendedInformation"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"put":{"tags":["Sender Signatures API"],"summary":"Update a Sender Signature","operationId":"editSenderSignature","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"signatureid","in":"path","description":"The ID for the Sender Signature that should be modified by the request.","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SenderSignatureEditingModel"}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SenderSignatureExtendedInformation"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"delete":{"tags":["Sender Signatures API"],"summary":"Delete a Sender Signature","operationId":"deleteSenderSignature","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"signatureid","in":"path","description":"The ID for the Sender Signature that should be deleted by the request.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/senders/{signatureid}/requestnewdkim":{"post":{"tags":["Sender Signatures API"],"summary":"Request a new DKIM Key","description":"Requests a new DKIM key to be created. Until the DNS entries are confirmed,\nthe new values will be in the `DKIMPendingHost` and `DKIMPendingTextValue` fields.\nAfter the new DKIM value is verified in DNS, the pending values will migrate to\n`DKIMTextValue` and `DKIMPendingTextValue` and Postmark will begin to sign emails\nwith the new DKIM key.\n","operationId":"requestNewDKIMKeyForSenderSignature","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"signatureid","in":"path","description":"The ID for the Sender Signature for which a new DKIM Key should be generated.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/senders/{signatureid}/resend":{"post":{"tags":["Sender Signatures API"],"summary":"Resend Signature Confirmation Email","operationId":"resendSenderSignatureConfirmationEmail","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"signatureid","in":"path","description":"The ID for the Sender Signature that should have its confirmation email resent.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/senders/{signatureid}/verifyspf":{"post":{"tags":["Sender Signatures API"],"summary":"Request DNS Verification for SPF","operationId":"requestSPFVerificationForSenderSignature","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"signatureid","in":"path","description":"The ID for the Sender Signature for which SPF DNS records should be verified.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SenderSignatureExtendedInformation"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/servers":{"get":{"tags":["Server Management API"],"summary":"List servers","operationId":"listServers","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of servers to return per request.","required":true,"schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of servers to skip.","required":true,"schema":{"type":"integer"}},{"name":"name","in":"query","description":"Filter by a specific server name","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerListingResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"post":{"tags":["Server Management API"],"summary":"Create a Server","operationId":"createServer","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateServerPayload"}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendedServerInfo"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/servers/{serverid}":{"get":{"tags":["Server Management API"],"summary":"Get a Server","operationId":"getServerInformation","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"serverid","in":"path","description":"The ID of the Server to get.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendedServerInfo"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"put":{"tags":["Server Management API"],"summary":"Edit a Server","operationId":"editServerInformation","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"serverid","in":"path","description":"The ID of the Server to update.","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditServerPayload"}}},"required":false},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendedServerInfo"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}},"delete":{"tags":["Server Management API"],"summary":"Delete a Server","operationId":"deleteServer","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}},{"name":"serverid","in":"path","description":"The ID of the Server that should be deleted.","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK"},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}},"/templates/push":{"put":{"tags":["Templates API"],"summary":"Push templates from one server to another","operationId":"pushTemplates","parameters":[{"name":"X-Postmark-Account-Token","in":"header","description":"The token associated with the Account on which this request will operate.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplatesPushModel"}}},"required":true},"responses":{"200":{"description":"ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplatesPushResponse"}}}},"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}}},"components":{"schemas":{"CreateServerPayload":{"type":"object","properties":{"BounceHookUrl":{"type":"string"},"ClickHookUrl":{"type":"string"},"Color":{"type":"string"},"DeliveryHookUrl":{"type":"string"},"InboundDomain":{"type":"string"},"InboundHookUrl":{"type":"string"},"InboundSpamThreshold":{"type":"integer"},"Name":{"type":"string"},"OpenHookUrl":{"type":"string"},"PostFirstOpenOnly":{"type":"boolean"},"RawEmailEnabled":{"type":"boolean"},"SmtpApiActivated":{"type":"boolean"},"TrackLinks":{"type":"string","enum":["None","HtmlAndTextTracking","HtmlOnlyTracking","TextOnlyTracking"]},"TrackOpens":{"type":"boolean"}},"description":""},"DKIMRotationResponse":{"type":"object","properties":{"DKIMHost":{"type":"string"},"DKIMPendingHost":{"type":"string"},"DKIMPendingTextValue":{"type":"string"},"DKIMRevokedHost":{"type":"string"},"DKIMRevokedTextValue":{"type":"string"},"DKIMTestValue":{"type":"string"},"DKIMUpdateStatus":{"type":"string"},"DKIMVerified":{"type":"boolean"},"ID":{"type":"integer","format":"int64"},"Name":{"type":"string"},"SafeToRemoveRevokedKeyFromDNS":{"type":"boolean"},"WeakDKIM":{"type":"boolean"}},"description":""},"DomainCreationModel":{"type":"object","properties":{"Name":{"type":"string"},"ReturnPathDomain":{"type":"string"}},"description":""},"DomainEditingModel":{"type":"object","properties":{"ReturnPathDomain":{"type":"string"}},"description":""},"DomainExtendedInformation":{"type":"object","properties":{"DKIMHost":{"type":"string"},"DKIMPendingHost":{"type":"string"},"DKIMPendingTextValue":{"type":"string"},"DKIMRevokedHost":{"type":"string"},"DKIMRevokedTextValue":{"type":"string"},"DKIMTestValue":{"type":"string"},"DKIMUpdateStatus":{"type":"string"},"DKIMVerified":{"type":"boolean"},"ID":{"type":"integer","format":"int64"},"Name":{"type":"string"},"ReturnPathDomain":{"type":"string"},"ReturnPathDomainCNAMEValue":{"type":"string"},"ReturnPathDomainVerified":{"type":"boolean"},"SPFHost":{"type":"string"},"SPFTextValue":{"type":"string"},"SPFVerified":{"type":"boolean"},"SafeToRemoveRevokedKeyFromDNS":{"type":"boolean"},"WeakDKIM":{"type":"boolean"}},"description":""},"DomainInformation":{"type":"object","properties":{"DKIMVerified":{"type":"boolean"},"ID":{"type":"integer","format":"int64"},"Name":{"type":"string"},"ReturnPathDomainVerified":{"type":"boolean"},"SPFVerified":{"type":"boolean"},"WeakDKIM":{"type":"boolean"}},"description":""},"DomainListingResults":{"type":"object","properties":{"Domains":{"type":"array","items":{"$ref":"#/components/schemas/DomainInformation"}},"TotalCount":{"type":"integer"}},"description":""},"DomainSPFResult":{"type":"object","properties":{"SPFHost":{"type":"string"},"SPFTextValue":{"type":"string"},"SPFVerified":{"type":"boolean"}},"description":""},"EditServerPayload":{"type":"object","properties":{"BounceHookUrl":{"type":"string"},"ClickHookUrl":{"type":"string"},"Color":{"type":"string"},"DeliveryHookUrl":{"type":"string"},"InboundDomain":{"type":"string"},"InboundHookUrl":{"type":"string"},"InboundSpamThreshold":{"type":"integer"},"Name":{"type":"string"},"OpenHookUrl":{"type":"string"},"PostFirstOpenOnly":{"type":"boolean"},"RawEmailEnabled":{"type":"boolean"},"SmtpApiActivated":{"type":"boolean"},"TrackLinks":{"type":"string","enum":["None","HtmlAndTextTracking","HtmlOnlyTracking","TextOnlyTracking"]},"TrackOpens":{"type":"boolean"}},"description":""},"ExtendedServerInfo":{"type":"object","properties":{"ApiTokens":{"type":"array","items":{"type":"string"}},"BounceHookUrl":{"type":"string"},"ClickHookUrl":{"type":"string"},"Color":{"type":"string"},"DeliveryHookUrl":{"type":"string"},"ID":{"type":"integer"},"InboundAddress":{"type":"string"},"InboundDomain":{"type":"string"},"InboundHash":{"type":"string"},"InboundHookUrl":{"type":"string"},"InboundSpamThreshold":{"type":"integer"},"Name":{"type":"string"},"OpenHookUrl":{"type":"string"},"PostFirstOpenOnly":{"type":"boolean"},"RawEmailEnabled":{"type":"boolean"},"ServerLink":{"type":"string"},"SmtpApiActivated":{"type":"boolean"},"TrackLinks":{"type":"string","enum":["None","HtmlAndTextTracking","HtmlOnlyTracking","TextOnlyTracking"]},"TrackOpens":{"type":"boolean"}},"description":""},"SenderListingResults":{"type":"object","properties":{"SenderSignatures":{"type":"array","items":{"$ref":"#/components/schemas/SenderSignatureInformation"}},"TotalCount":{"type":"integer"}},"description":""},"SenderSignatureCreationModel":{"type":"object","properties":{"FromEmail":{"type":"string","format":"email"},"Name":{"type":"string"},"ReplyToEmail":{"type":"string","format":"email"},"ReturnPathDomain":{"type":"string"}},"description":""},"SenderSignatureEditingModel":{"type":"object","properties":{"Name":{"type":"string"},"ReplyToEmail":{"type":"string","format":"email"},"ReturnPathDomain":{"type":"string"}},"description":""},"SenderSignatureExtendedInformation":{"type":"object","properties":{"Confirmed":{"type":"boolean"},"DKIMHost":{"type":"string"},"DKIMPendingHost":{"type":"string"},"DKIMPendingTextValue":{"type":"string"},"DKIMRevokedHost":{"type":"string"},"DKIMRevokedTextValue":{"type":"string"},"DKIMTestValue":{"type":"string"},"DKIMUpdateStatus":{"type":"string"},"DKIMVerified":{"type":"boolean"},"Domain":{"type":"string"},"EmailAddress":{"type":"string","format":"email"},"ID":{"type":"integer","format":"int64"},"Name":{"type":"string"},"ReplyToEmailAddress":{"type":"string","format":"email"},"ReturnPathDomain":{"type":"string"},"ReturnPathDomainCNAMEValue":{"type":"string"},"ReturnPathDomainVerified":{"type":"boolean"},"SPFHost":{"type":"string"},"SPFTextValue":{"type":"string"},"SPFVerified":{"type":"boolean"},"SafeToRemoveRevokedKeyFromDNS":{"type":"boolean"},"WeakDKIM":{"type":"boolean"}},"description":""},"SenderSignatureInformation":{"type":"object","properties":{"Confirmed":{"type":"boolean"},"Domain":{"type":"string"},"EmailAddress":{"type":"string","format":"email"},"ID":{"type":"integer","format":"int64"},"Name":{"type":"string"},"ReplyToEmailAddress":{"type":"string","format":"email"}},"description":""},"ServerListingResponse":{"type":"object","properties":{"Servers":{"type":"array","items":{"$ref":"#/components/schemas/ExtendedServerInfo"}},"TotalCount":{"type":"integer"}},"description":"The results of listing servers."},"StandardPostmarkResponse":{"type":"object","properties":{"ErrorCode":{"type":"integer"},"Message":{"type":"string"}},"description":"A Postmark API error."},"TemplatesPushModel":{"type":"object","properties":{"DestinationServerId":{"type":"integer"},"PerformChanges":{"type":"boolean"},"SourceServerId":{"type":"integer"}},"description":""},"TemplatesPushResponse":{"type":"object","properties":{"Templates":{"type":"array","items":{"type":"object","properties":{"Action":{"type":"string"},"Alias":{"type":"string"},"Name":{"type":"string"},"TemplateId":{"type":"integer"}}}},"TotalCount":{"type":"integer"}},"description":""}},"responses":{"422":{"description":"An error was generated due to incorrect use of the API. See the Message associated with this response for more information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardPostmarkResponse"}}}},"500":{"description":"Indicates an internal server error occurred."}}}}