{"openapi":"3.0.1","info":{"title":"Azure SQL Database","description":"Provides read and update functionality for Azure SQL Database geo backup policies.","version":"2014-04-01"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/geoBackupPolicies":{"get":{"tags":["GeoBackupPolicies"],"description":"Returns a list of geo backup policies.","operationId":"GeoBackupPolicies_ListByDatabase","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoBackupPolicyListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/geoBackupPolicies/{geoBackupPolicyName}":{"get":{"tags":["GeoBackupPolicies"],"description":"Gets a geo backup policy.","operationId":"GeoBackupPolicies_Get","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"geoBackupPolicyName","in":"path","description":"The name of the geo backup policy.","required":true,"schema":{"type":"string","enum":["Default"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoBackupPolicy"}}}}}},"put":{"tags":["GeoBackupPolicies"],"description":"Updates a database geo backup policy.","operationId":"GeoBackupPolicies_CreateOrUpdate","parameters":[{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"databaseName","in":"path","description":"The name of the database.","required":true,"schema":{"type":"string"}},{"name":"geoBackupPolicyName","in":"path","description":"The name of the geo backup policy.","required":true,"schema":{"type":"string","enum":["Default"]}}],"requestBody":{"description":"The required parameters for creating or updating the geo backup policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoBackupPolicy"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoBackupPolicy"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoBackupPolicy"}}}}}}}},"components":{"schemas":{"GeoBackupPolicy":{"properties":{"kind":{"type":"string","description":"Kind of geo backup policy.  This is metadata used for the Azure portal experience.","readOnly":true},"location":{"type":"string","description":"Backup policy location.","readOnly":true},"properties":{"$ref":"#/components/schemas/GeoBackupPolicyProperties"}},"description":"A database geo backup policy.","allOf":[{"description":"ARM proxy resource.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}]}]},"GeoBackupPolicyListResult":{"type":"object","properties":{"value":{"type":"array","description":"The list of geo backup policies.","items":{"$ref":"#/components/schemas/GeoBackupPolicy"}}},"description":"The response to a list geo backup policies request."},"GeoBackupPolicyProperties":{"required":["state"],"type":"object","properties":{"state":{"type":"string","description":"The state of the geo backup policy.","enum":["Disabled","Enabled"]},"storageType":{"type":"string","description":"The storage type of the geo backup policy.","readOnly":true}},"description":"The properties of the geo backup policy."}},"parameters":{"GeoBackupPolicyNameParameter":{"name":"geoBackupPolicyName","in":"path","description":"The name of the geo backup policy.","required":true,"schema":{"type":"string","enum":["Default"]}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}