{"openapi":"3.0.1","info":{"title":"PolicyMetadataClient","version":"2019-10-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.PolicyInsights/policyMetadata":{"get":{"description":"Get a list of the policy metadata resources.","operationId":"PolicyMetadata_List","parameters":[{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"Maximum number of records to return.","schema":{"minimum":0,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Policy metadata resource collection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyMetadataCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/providers/Microsoft.PolicyInsights/policyMetadata/{resourceName}":{"get":{"description":"Get policy metadata resource.","operationId":"PolicyMetadata_GetResource","parameters":[{"name":"resourceName","in":"path","description":"The name of the policy metadata resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Policy metadata resource definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyMetadata"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ErrorDefinition":{"type":"object","properties":{"additionalInfo":{"type":"array","description":"Additional scenario specific error details.","readOnly":true,"items":{"$ref":"#/components/schemas/TypedErrorInfo"}},"code":{"type":"string","description":"Service specific error code which serves as the substatus for the HTTP error code.","readOnly":true},"details":{"type":"array","description":"Internal error details.","readOnly":true,"items":{"$ref":"#/components/schemas/ErrorDefinition"}},"message":{"type":"string","description":"Description of the error.","readOnly":true},"target":{"type":"string","description":"The target of the error.","readOnly":true}},"description":"Error definition."},"ErrorResponse":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDefinition"}},"description":"Error response."},"PolicyMetadata":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the policy metadata.","readOnly":true},"name":{"type":"string","description":"The name of the policy metadata.","readOnly":true},"properties":{"$ref":"#/components/schemas/PolicyMetadataProperties"},"type":{"type":"string","description":"The type of the policy metadata.","readOnly":true}},"description":"Policy metadata resource definition."},"PolicyMetadataCollection":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of results.","readOnly":true},"value":{"type":"array","description":"Array of policy metadata definitions.","readOnly":true,"items":{"$ref":"#/components/schemas/SlimPolicyMetadata"}}},"description":"Collection of policy metadata resources."},"PolicyMetadataProperties":{"properties":{"description":{"type":"string","description":"The description of the policy metadata.","readOnly":true},"requirements":{"type":"string","description":"The requirements of the policy metadata.","readOnly":true}},"description":"The properties of the policy metadata.","allOf":[{"$ref":"#/components/schemas/PolicyMetadataSlimProperties"}]},"PolicyMetadataSlimProperties":{"type":"object","properties":{"additionalContentUrl":{"type":"string","description":"Url for getting additional content about the resource metadata.","readOnly":true},"category":{"type":"string","description":"The category of the policy metadata.","readOnly":true},"metadata":{"type":"object","description":"Additional metadata.","readOnly":true},"metadataId":{"type":"string","description":"The policy metadata identifier.","readOnly":true},"owner":{"type":"string","description":"The owner of the policy metadata.","readOnly":true},"title":{"type":"string","description":"The title of the policy metadata.","readOnly":true}},"description":"The properties of the policy metadata, excluding properties containing large strings"},"SlimPolicyMetadata":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the policy metadata.","readOnly":true},"name":{"type":"string","description":"The name of the policy metadata.","readOnly":true},"properties":{"$ref":"#/components/schemas/PolicyMetadataSlimProperties"},"type":{"type":"string","description":"The type of the policy metadata.","readOnly":true}},"description":"Slim version of policy metadata resource definition, excluding properties with large strings"},"TypedErrorInfo":{"type":"object","properties":{"info":{"type":"object","description":"The scenario specific error details.","readOnly":true},"type":{"type":"string","description":"The type of included error details.","readOnly":true}},"description":"Scenario specific error details."}},"parameters":{"apiVersionParameter":{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}},"resourceNameParameter":{"name":"resourceName","in":"path","description":"The name of the policy metadata resource.","required":true,"schema":{"type":"string"}},"topParameter":{"name":"$top","in":"query","description":"Maximum number of records to return.","schema":{"minimum":0,"type":"integer","format":"int32"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}