{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Blazemeter API Explorer",
    "description" : "Live API Documentation",
    "contact" : {
      "email" : "support@blazemeter.com"
    },
    "license" : {
      "name" : "LGPL-2.1",
      "url" : "https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html"
    },
    "version" : "4"
  },
  "servers" : [ {
    "url" : "https://a.blazemeter.com/api/v4"
  } ],
  "tags" : [ {
    "name" : "user"
  } ],
  "paths" : {
    "/user/active/sessions" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "operationId" : "active_sessions",
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      }
    },
    "/user/active/terminate" : {
      "post" : {
        "tags" : [ "user" ],
        "summary" : "&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "operationId" : "panic_terminate",
        "requestBody" : {
          "description" : "<section class=\"body-param\"><strong>session_ids</strong> (required)<br/></section>",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel5"
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel5"
              }
            },
            "text/csv" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel5"
              }
            },
            "text/plain" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel5"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      }
    },
    "/user/collections" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "List organization multi-tests&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "operationId" : "retrieveCollections",
        "parameters" : [ {
          "name" : "skip",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "RestException"
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      }
    },
    "/user/invites" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "operationId" : "retrieveInvites",
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              },
              "text/javascript" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              },
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      }
    },
    "/user/locations" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Get user available locations&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "operationId" : "retrieveLocations",
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "RestException"
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      }
    },
    "/user/masters" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "List user private masters&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "operationId" : "retrieveMasters",
        "parameters" : [ {
          "name" : "skip",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "default" : 1000
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      }
    },
    "/user/password" : {
      "put" : {
        "tags" : [ "user" ],
        "summary" : "Update user name&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "requestBody" : {
          "description" : "<section class=\"body-param\"><strong>currentPassword</strong> (required)<br/><strong>newPassword</strong> (required)<br/></section>",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel2"
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel2"
              }
            },
            "text/csv" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel2"
              }
            },
            "text/plain" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "RestException"
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      },
      "post" : {
        "tags" : [ "user" ],
        "summary" : "Update user name&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "requestBody" : {
          "description" : "<section class=\"body-param\"><strong>currentPassword</strong> (required)<br/><strong>newPassword</strong> (required)<br/></section>",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel3"
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel3"
              }
            },
            "text/csv" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel3"
              }
            },
            "text/plain" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel3"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "RestException"
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      },
      "patch" : {
        "tags" : [ "user" ],
        "summary" : "Update user name&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "requestBody" : {
          "description" : "<section class=\"body-param\"><strong>currentPassword</strong> (required)<br/><strong>newPassword</strong> (required)<br/></section>",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel1"
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel1"
              }
            },
            "text/csv" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel1"
              }
            },
            "text/plain" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "RestException"
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      }
    },
    "/user/projects" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Get user projects&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "operationId" : "retrieveProjects",
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      }
    },
    "/user/register" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Registration&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "operationId" : "register_retrieve",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "Email address",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "password",
          "in" : "query",
          "description" : "Password",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firstName",
          "in" : "query",
          "description" : "First name",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lastName",
          "in" : "query",
          "description" : "Last name",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "RestException"
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      },
      "post" : {
        "tags" : [ "user" ],
        "summary" : "Registration&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "operationId" : "register",
        "requestBody" : {
          "description" : "<section class=\"body-param\"><strong>firstName</strong> (required)<br/><strong>lastName</strong> (required)<br/><strong>email</strong> (required)<br/><strong>password</strong> (required)<br/></section>",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel4"
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel4"
              }
            },
            "text/csv" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel4"
              }
            },
            "text/plain" : {
              "schema" : {
                "$ref" : "#/components/schemas/blazemeter\\Routing\\v4\\UserModel4"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "RestException"
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      }
    },
    "/user/tests" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "List user private tests&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "operationId" : "retrieveTests",
        "parameters" : [ {
          "name" : "skip",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/html" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/javascript" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              },
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/blazemeter\\Model\\ApiResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "RestException"
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      }
    },
    "/user/top" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
        "operationId" : "top",
        "responses" : {
          "200" : {
            "description" : "No response was specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              },
              "text/javascript" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              },
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "apiKey" : null
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApiResponse" : {
        "required" : [ "api_version", "error", "result" ],
        "type" : "object",
        "properties" : {
          "api_version" : {
            "type" : "string"
          },
          "error" : {
            "type" : "string"
          },
          "result" : {
            "type" : "string"
          }
        },
        "description" : "ApiResponse Model"
      },
      "UserModel1" : {
        "required" : [ "currentPassword", "newPassword" ],
        "type" : "object",
        "properties" : {
          "currentPassword" : {
            "type" : "string"
          },
          "newPassword" : {
            "type" : "string"
          }
        },
        "description" : "UserModel1 Model"
      },
      "UserModel2" : {
        "required" : [ "currentPassword", "newPassword" ],
        "type" : "object",
        "properties" : {
          "currentPassword" : {
            "type" : "string"
          },
          "newPassword" : {
            "type" : "string"
          }
        },
        "description" : "UserModel2 Model"
      },
      "UserModel3" : {
        "required" : [ "currentPassword", "newPassword" ],
        "type" : "object",
        "properties" : {
          "currentPassword" : {
            "type" : "string"
          },
          "newPassword" : {
            "type" : "string"
          }
        },
        "description" : "UserModel3 Model"
      },
      "UserModel4" : {
        "required" : [ "email", "firstName", "lastName", "password" ],
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "Email address"
          },
          "firstName" : {
            "type" : "string",
            "description" : "First name"
          },
          "lastName" : {
            "type" : "string",
            "description" : "Last name"
          },
          "password" : {
            "type" : "string",
            "description" : "Password"
          }
        },
        "description" : "UserModel4 Model"
      },
      "UserModel5" : {
        "type" : "object",
        "properties" : {
          "session_ids" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "UserModel5 Model"
      }
    },
    "securitySchemes" : {
      "apiKey" : {
        "type" : "apiKey",
        "name" : "api_key",
        "in" : "query"
      }
    }
  }
}