{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-07-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteGateways" : {
      "get" : {
        "tags" : [ "ExpressRouteGateways" ],
        "description" : "Lists ExpressRoute gateways under a given subscription.",
        "operationId" : "ExpressRouteGateways_ListBySubscription",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteGatewayList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways" : {
      "get" : {
        "tags" : [ "ExpressRouteGateways" ],
        "description" : "Lists ExpressRoute gateways in a given resource group.",
        "operationId" : "ExpressRouteGateways_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteGatewayList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}" : {
      "get" : {
        "tags" : [ "ExpressRouteGateways" ],
        "description" : "Fetches the details of a ExpressRoute gateway in a resource group.",
        "operationId" : "ExpressRouteGateways_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expressRouteGatewayName",
          "in" : "path",
          "description" : "The name of the ExpressRoute gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation succeeded. The operation returns the ExpressRoute gateway.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteGateway"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ExpressRouteGateways" ],
        "description" : "Creates or updates a ExpressRoute gateway in a specified resource group.",
        "operationId" : "ExpressRouteGateways_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expressRouteGatewayName",
          "in" : "path",
          "description" : "The name of the ExpressRoute gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters required in an ExpressRoute gateway PUT operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteGateway"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting ExpressRoute gateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteGateway"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting ExpressRoute gateway resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteGateway"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ExpressRouteGateways" ],
        "description" : "Deletes the specified ExpressRoute gateway in a resource group. An ExpressRoute gateway resource can only be deleted when there are no connection subresources.",
        "operationId" : "ExpressRouteGateways_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expressRouteGatewayName",
          "in" : "path",
          "description" : "The name of the ExpressRoute gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}/expressRouteConnections" : {
      "get" : {
        "tags" : [ "ExpressRouteConnections" ],
        "description" : "Lists ExpressRouteConnections.",
        "operationId" : "ExpressRouteConnections_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expressRouteGatewayName",
          "in" : "path",
          "description" : "The name of the ExpressRoute gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteConnectionList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}/expressRouteConnections/{connectionName}" : {
      "get" : {
        "tags" : [ "ExpressRouteConnections" ],
        "description" : "Gets the specified ExpressRouteConnection.",
        "operationId" : "ExpressRouteConnections_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expressRouteGatewayName",
          "in" : "path",
          "description" : "The name of the ExpressRoute gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionName",
          "in" : "path",
          "description" : "The name of the ExpressRoute connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the ExpressRouteConnection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteConnection"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ExpressRouteConnections" ],
        "description" : "Creates a connection between an ExpressRoute gateway and an ExpressRoute circuit.",
        "operationId" : "ExpressRouteConnections_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expressRouteGatewayName",
          "in" : "path",
          "description" : "The name of the ExpressRoute gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionName",
          "in" : "path",
          "description" : "The name of the connection subresource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters required in an ExpressRouteConnection PUT operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteConnection"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the ExpressRouteConnection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteConnection"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the ExpressRouteConnection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteConnection"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ExpressRouteConnections" ],
        "description" : "Deletes a connection to a ExpressRoute circuit.",
        "operationId" : "ExpressRouteConnections_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expressRouteGatewayName",
          "in" : "path",
          "description" : "The name of the ExpressRoute gateway.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionName",
          "in" : "path",
          "description" : "The name of the connection subresource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted, and the operation will continue asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ExpressRouteCircuitPeeringId" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the ExpressRoute circuit peering."
          }
        },
        "description" : "ExpressRoute circuit peering identifier."
      },
      "ExpressRouteConnection" : {
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "The name of the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExpressRouteConnectionProperties"
          }
        },
        "description" : "ExpressRouteConnection resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "ExpressRouteConnectionId" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The ID of the ExpressRouteConnection.",
            "readOnly" : true
          }
        },
        "description" : "The ID of the ExpressRouteConnection."
      },
      "ExpressRouteConnectionList" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of ExpressRoute connections.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteConnection"
            }
          }
        },
        "description" : "ExpressRouteConnection list."
      },
      "ExpressRouteConnectionProperties" : {
        "required" : [ "expressRouteCircuitPeering" ],
        "type" : "object",
        "properties" : {
          "authorizationKey" : {
            "type" : "string",
            "description" : "Authorization key to establish the connection."
          },
          "expressRouteCircuitPeering" : {
            "$ref" : "#/components/schemas/ExpressRouteCircuitPeeringId"
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "routingWeight" : {
            "type" : "integer",
            "description" : "The routing weight associated to the connection."
          }
        },
        "description" : "Properties of the ExpressRouteConnection subresource."
      },
      "ExpressRouteGateway" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExpressRouteGatewayProperties"
          }
        },
        "description" : "ExpressRoute gateway resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "ExpressRouteGatewayList" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "List of ExpressRoute gateways.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteGateway"
            }
          }
        },
        "description" : "List of ExpressRoute gateways."
      },
      "ExpressRouteGatewayProperties" : {
        "required" : [ "virtualHub" ],
        "type" : "object",
        "properties" : {
          "autoScaleConfiguration" : {
            "type" : "object",
            "properties" : {
              "bounds" : {
                "type" : "object",
                "properties" : {
                  "max" : {
                    "type" : "integer",
                    "description" : "Maximum number of scale units deployed for ExpressRoute gateway."
                  },
                  "min" : {
                    "type" : "integer",
                    "description" : "Minimum number of scale units deployed for ExpressRoute gateway."
                  }
                },
                "description" : "Minimum and maximum number of scale units to deploy."
              }
            },
            "description" : "Configuration for auto scaling."
          },
          "expressRouteConnections" : {
            "type" : "array",
            "description" : "List of ExpressRoute connections to the ExpressRoute gateway.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteConnection"
            }
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "virtualHub" : {
            "$ref" : "#/components/schemas/VirtualHubId"
          }
        },
        "description" : "ExpressRoute gateway resource properties."
      },
      "VirtualHubId" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "The resource URI for the Virtual Hub where the ExpressRoute gateway is or will be deployed. The Virtual Hub resource and the ExpressRoute gateway resource reside in the same subscription."
          }
        },
        "description" : "Virtual Hub identifier."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}