{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ConsumptionManagementClient",
    "description" : "Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions.",
    "version" : "2019-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/balances" : {
      "get" : {
        "tags" : [ "Balances" ],
        "description" : "Gets the balances for a scope by billing period and billingAccountId. Balances are available via this API only for May 1, 2014 or later.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "Balances_GetForBillingPeriodByBillingAccount",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountId",
          "in" : "path",
          "description" : "BillingAccount ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingPeriodName",
          "in" : "path",
          "description" : "Billing Period Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Balance"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/balances" : {
      "get" : {
        "tags" : [ "Balances" ],
        "description" : "Gets the balances for a scope by billingAccountId. Balances are available via this API only for May 1, 2014 or later.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "Balances_GetByBillingAccount",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountId",
          "in" : "path",
          "description" : "BillingAccount ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Balance"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/reservationDetails" : {
      "get" : {
        "tags" : [ "ReservedInstances" ],
        "description" : "Lists the reservations details for provided date range.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "ReservationsDetails_ListByBillingAccountId",
        "parameters" : [ {
          "name" : "billingAccountId",
          "in" : "path",
          "description" : "BillingAccount ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' ",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationDetailsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/reservationSummaries" : {
      "get" : {
        "tags" : [ "ReservedInstances" ],
        "description" : "Lists the reservations summaries for daily or monthly grain.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "ReservationsSummaries_ListByBillingAccountId",
        "parameters" : [ {
          "name" : "billingAccountId",
          "in" : "path",
          "description" : "BillingAccount ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "grain",
          "in" : "query",
          "description" : "Can be daily or monthly",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "daily", "monthly" ]
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationSummariesListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/reservationTransactions" : {
      "get" : {
        "tags" : [ "ReservedInstances" ],
        "description" : "List of transactions for reserved instances on billing account scope",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "ReservationTransactions_ListByBillingAccountId",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter reservation transactions by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' ",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountId",
          "in" : "path",
          "description" : "BillingAccount ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationTransactionsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/microsoft.consumption/ReservationRecommendations" : {
      "get" : {
        "tags" : [ "ReservationRecommendations" ],
        "description" : "List of recommendations for purchasing reserved instances on billing account scope",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "ReservationRecommendations_ListByBillingAccountId",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "May be used to filter reservationRecommendations by properties/scope and properties/lookBackPeriod.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingAccountId",
          "in" : "path",
          "description" : "BillingAccount ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationRecommendationsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationDetails" : {
      "get" : {
        "tags" : [ "ReservedInstances" ],
        "description" : "Lists the reservations details for provided date range.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "ReservationsDetails_ListByReservationOrder",
        "parameters" : [ {
          "name" : "reservationOrderId",
          "in" : "path",
          "description" : "Order Id of the reservation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' ",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationDetailsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationSummaries" : {
      "get" : {
        "tags" : [ "ReservedInstances" ],
        "description" : "Lists the reservations summaries for daily or monthly grain.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "ReservationsSummaries_ListByReservationOrder",
        "parameters" : [ {
          "name" : "reservationOrderId",
          "in" : "path",
          "description" : "Order Id of the reservation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "grain",
          "in" : "query",
          "description" : "Can be daily or monthly",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "daily", "monthly" ]
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationSummariesListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationDetails" : {
      "get" : {
        "tags" : [ "ReservedInstances" ],
        "description" : "Lists the reservations details for provided date range.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "ReservationsDetails_ListByReservationOrderAndReservation",
        "parameters" : [ {
          "name" : "reservationOrderId",
          "in" : "path",
          "description" : "Order Id of the reservation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationId",
          "in" : "path",
          "description" : "Id of the reservation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' ",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationDetailsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationSummaries" : {
      "get" : {
        "tags" : [ "ReservedInstances" ],
        "description" : "Lists the reservations summaries for daily or monthly grain.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "ReservationsSummaries_ListByReservationOrderAndReservation",
        "parameters" : [ {
          "name" : "reservationOrderId",
          "in" : "path",
          "description" : "Order Id of the reservation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reservationId",
          "in" : "path",
          "description" : "Id of the reservation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "grain",
          "in" : "query",
          "description" : "Can be daily or monthly",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "daily", "monthly" ]
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationSummariesListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Consumption/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Lists all of the available consumption REST API operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/Microsoft.Consumption/aggregatedcost" : {
      "get" : {
        "tags" : [ "AggregatedCost" ],
        "description" : "Provides the aggregate cost of a management group and all child management groups by specified billing period",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "AggregatedCost_GetForBillingPeriodByManagementGroup",
        "parameters" : [ {
          "name" : "managementGroupId",
          "in" : "path",
          "description" : "Azure Management Group ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingPeriodName",
          "in" : "path",
          "description" : "Billing Period Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagementGroupAggregatedCostResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Consumption/aggregatedcost" : {
      "get" : {
        "tags" : [ "AggregatedCost" ],
        "description" : "Provides the aggregate cost of a management group and all child management groups by current billing period.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "AggregatedCost_GetByManagementGroup",
        "parameters" : [ {
          "name" : "managementGroupId",
          "in" : "path",
          "description" : "Azure Management Group ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "May be used to filter aggregated cost by properties/usageStart (Utc time), properties/usageEnd (Utc time). The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagementGroupAggregatedCostResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default" : {
      "get" : {
        "tags" : [ "PriceSheet" ],
        "description" : "Get the price sheet for a scope by subscriptionId and billing period. Price sheet is available via this API only for May 1, 2014 or later.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "PriceSheet_GetByBillingPeriod",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "May be used to limit the number of results to the top N results.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billingPeriodName",
          "in" : "path",
          "description" : "Billing Period Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PriceSheetResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/forecasts" : {
      "get" : {
        "tags" : [ "Forecasts" ],
        "description" : "Lists the forecast charges by subscriptionId.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "Forecasts_List",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "May be used to filter forecasts by properties/usageDate (Utc time), properties/chargeType or properties/grain. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForecastsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default" : {
      "get" : {
        "tags" : [ "PriceSheet" ],
        "description" : "Gets the price sheet for a scope by subscriptionId. Price sheet is available via this API only for May 1, 2014 or later.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "PriceSheet_Get",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "May be used to limit the number of results to the top N results.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PriceSheetResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/reservationRecommendations" : {
      "get" : {
        "tags" : [ "ReservationRecommendations" ],
        "description" : "List of recommendations for purchasing reserved instances.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "ReservationRecommendations_List",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "May be used to filter reservationRecommendations by properties/scope and properties/lookBackPeriod.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure Subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReservationRecommendationsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/budgets" : {
      "get" : {
        "tags" : [ "Budgets" ],
        "description" : "Lists all budgets for the defined scope.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "Budgets_List",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope associated with budget operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BudgetsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/budgets/{budgetName}" : {
      "get" : {
        "tags" : [ "Budgets" ],
        "description" : "Gets the budget for the scope by budget name.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "Budgets_Get",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope associated with budget operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "budgetName",
          "in" : "path",
          "description" : "Budget Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Budget"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Budgets" ],
        "description" : "The operation to create or update a budget. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "Budgets_CreateOrUpdate",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope associated with budget operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "budgetName",
          "in" : "path",
          "description" : "Budget Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the Create Budget operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Budget"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Budget"
                }
              }
            }
          },
          "201" : {
            "description" : "Created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Budget"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Budgets" ],
        "description" : "The operation to delete a budget.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "Budgets_Delete",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope associated with budget operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "budgetName",
          "in" : "path",
          "description" : "Budget Name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded."
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/charges" : {
      "get" : {
        "tags" : [ "Charges" ],
        "description" : "Lists the charges based for the defined scope.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "Charges_ListByScope",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope associated with usage details operations. This includes '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope. For department and enrollment accounts, you can also add billing period to the scope using '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing period at department scope use '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "May be used to filter charges by properties/usageEnd (Utc time), properties/usageStart (Utc time). The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeSummary"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/marketplaces" : {
      "get" : {
        "tags" : [ "Marketplaces" ],
        "description" : "Lists the marketplaces for a scope at the defined scope. Marketplaces are available via this API only for May 1, 2014 or later.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "Marketplaces_List",
        "parameters" : [ {
          "name" : "$filter",
          "in" : "query",
          "description" : "May be used to filter marketplaces by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "May be used to limit the number of results to the most recent N marketplaces.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope associated with marketplace operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope. For subscription, billing account, department, enrollment account and ManagementGroup, you can also add billing period to the scope using '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing period at department scope use '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketplacesListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/tags" : {
      "get" : {
        "tags" : [ "Tags" ],
        "description" : "Get all available tag keys for the defined scope",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "Tags_Get",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope associated with tags operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope..",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TagsResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/usageDetails" : {
      "get" : {
        "tags" : [ "UsageDetails" ],
        "description" : "Lists the usage details for the defined scope. Usage details are available via this API only for May 1, 2014 or later.",
        "externalDocs" : {
          "url" : "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "operationId" : "UsageDetails_List",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "The scope associated with usage details operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope. For subscription, billing account, department, enrollment account and management group, you can also add billing period to the scope using '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing period at department scope use '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$expand",
          "in" : "query",
          "description" : "May be used to expand the properties/additionalInfo or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "May be used to filter usageDetails by properties/resourceGroup, properties/resourceName, properties/resourceId, properties/chargeType, properties/reservationId, properties/publisherType or tags. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:). PublisherType Filter accepts two values azure and marketplace and it is currently supported for Web Direct Offer Type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skiptoken",
          "in" : "query",
          "description" : "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "May be used to limit the number of results to the most recent N usageDetails.",
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request. The current version is 2019-06-01.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metric",
          "in" : "query",
          "description" : "Allows to select different type of cost/usage records.",
          "schema" : {
            "type" : "string",
            "enum" : [ "actualcost", "amortizedcost", "usage" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK. The request has succeeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageDetailsListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Balance" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/BalanceProperties"
          }
        },
        "description" : "A balance resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "BalanceProperties" : {
        "type" : "object",
        "properties" : {
          "adjustmentDetails" : {
            "type" : "array",
            "description" : "List of Adjustments (Promo credit, SIE credit etc.).",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "name" : {
                  "type" : "string",
                  "description" : "the name of new adjustment.",
                  "readOnly" : true
                },
                "value" : {
                  "type" : "number",
                  "description" : "the value of new adjustment.",
                  "format" : "decimal",
                  "readOnly" : true
                }
              }
            }
          },
          "adjustments" : {
            "type" : "number",
            "description" : "Total adjustment amount.",
            "format" : "decimal",
            "readOnly" : true
          },
          "azureMarketplaceServiceCharges" : {
            "type" : "number",
            "description" : "Total charges for Azure Marketplace.",
            "format" : "decimal",
            "readOnly" : true
          },
          "beginningBalance" : {
            "type" : "number",
            "description" : "The beginning balance for the billing period.",
            "format" : "decimal",
            "readOnly" : true
          },
          "billingFrequency" : {
            "type" : "string",
            "description" : "The billing frequency.",
            "enum" : [ "Month", "Quarter", "Year" ]
          },
          "chargesBilledSeparately" : {
            "type" : "number",
            "description" : "Charges Billed separately.",
            "format" : "decimal",
            "readOnly" : true
          },
          "currency" : {
            "type" : "string",
            "description" : "The ISO currency in which the meter is charged, for example, USD.",
            "readOnly" : true
          },
          "endingBalance" : {
            "type" : "number",
            "description" : "The ending balance for the billing period (for open periods this will be updated daily).",
            "format" : "decimal",
            "readOnly" : true
          },
          "newPurchases" : {
            "type" : "number",
            "description" : "Total new purchase amount.",
            "format" : "decimal",
            "readOnly" : true
          },
          "newPurchasesDetails" : {
            "type" : "array",
            "description" : "List of new purchases.",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "name" : {
                  "type" : "string",
                  "description" : "the name of new purchase.",
                  "readOnly" : true
                },
                "value" : {
                  "type" : "number",
                  "description" : "the value of new purchase.",
                  "format" : "decimal",
                  "readOnly" : true
                }
              }
            }
          },
          "priceHidden" : {
            "type" : "boolean",
            "description" : "Price is hidden or not.",
            "readOnly" : true
          },
          "serviceOverage" : {
            "type" : "number",
            "description" : "Overage for Azure services.",
            "format" : "decimal",
            "readOnly" : true
          },
          "totalOverage" : {
            "type" : "number",
            "description" : "serviceOverage + chargesBilledSeparately.",
            "format" : "decimal",
            "readOnly" : true
          },
          "totalUsage" : {
            "type" : "number",
            "description" : "Azure service commitment + total Overage.",
            "format" : "decimal",
            "readOnly" : true
          },
          "utilized" : {
            "type" : "number",
            "description" : "Total Commitment usage.",
            "format" : "decimal",
            "readOnly" : true
          }
        },
        "description" : "The properties of the balance."
      },
      "Budget" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/BudgetProperties"
          }
        },
        "description" : "A budget resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProxyResource"
        } ]
      },
      "BudgetProperties" : {
        "required" : [ "amount", "category", "timeGrain", "timePeriod" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "description" : "The total amount of cost to track with the budget",
            "format" : "decimal"
          },
          "category" : {
            "type" : "string",
            "description" : "The category of the budget, whether the budget tracks cost or usage.",
            "enum" : [ "Cost", "Usage" ]
          },
          "currentSpend" : {
            "$ref" : "#/components/schemas/CurrentSpend"
          },
          "filters" : {
            "$ref" : "#/components/schemas/Filters"
          },
          "notifications" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Notification"
            },
            "description" : "Dictionary of notifications associated with the budget. Budget can have up to five notifications."
          },
          "timeGrain" : {
            "type" : "string",
            "description" : "The time covered by a budget. Tracking of the amount will be reset based on the time grain.",
            "enum" : [ "Monthly", "Quarterly", "Annually", "BillingMonth", "BillingQuarter", "BillingAnnual" ]
          },
          "timePeriod" : {
            "$ref" : "#/components/schemas/BudgetTimePeriod"
          }
        },
        "description" : "The properties of the budget."
      },
      "BudgetTimePeriod" : {
        "required" : [ "startDate" ],
        "type" : "object",
        "properties" : {
          "endDate" : {
            "type" : "string",
            "description" : "The end date for the budget. If not provided, we default this to 10 years from the start date.",
            "format" : "date-time"
          },
          "startDate" : {
            "type" : "string",
            "description" : "The start date for the budget.",
            "format" : "date-time"
          }
        },
        "description" : "The start and end date for a budget."
      },
      "BudgetsListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The list of budgets.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Budget"
            }
          }
        },
        "description" : "Result of listing budgets. It contains a list of available budgets in the scope provided."
      },
      "ChargeSummary" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ChargeSummaryProperties"
          }
        },
        "description" : "A charge summary resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "ChargeSummaryProperties" : {
        "type" : "object",
        "properties" : {
          "azureCharges" : {
            "type" : "number",
            "description" : "Azure Charges.",
            "format" : "decimal",
            "readOnly" : true
          },
          "billingPeriodId" : {
            "type" : "string",
            "description" : "The id of the billing period resource that the charge belongs to.",
            "readOnly" : true
          },
          "chargesBilledSeparately" : {
            "type" : "number",
            "description" : "Charges Billed separately.",
            "format" : "decimal",
            "readOnly" : true
          },
          "currency" : {
            "type" : "string",
            "description" : "Currency Code",
            "readOnly" : true
          },
          "marketplaceCharges" : {
            "type" : "number",
            "description" : "Marketplace Charges.",
            "format" : "decimal",
            "readOnly" : true
          },
          "usageEnd" : {
            "type" : "string",
            "description" : " Usage end date.",
            "readOnly" : true
          },
          "usageStart" : {
            "type" : "string",
            "description" : "Usage start date.",
            "readOnly" : true
          }
        },
        "description" : "The properties of the charge summary."
      },
      "ChargesListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of charge summary",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ChargeSummary"
            }
          }
        },
        "description" : "Result of listing charge summary."
      },
      "CurrentSpend" : {
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "description" : "The total amount of cost which is being tracked by the budget.",
            "format" : "decimal",
            "readOnly" : true
          },
          "unit" : {
            "type" : "string",
            "description" : "The unit of measure for the budget amount.",
            "readOnly" : true
          }
        },
        "description" : "The current amount of cost which is being tracked for a budget."
      },
      "ErrorDetails" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Error code.",
            "readOnly" : true
          },
          "message" : {
            "type" : "string",
            "description" : "Error message indicating why the operation failed.",
            "readOnly" : true
          }
        },
        "description" : "The details of the error."
      },
      "ErrorResponse" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/ErrorDetails"
          }
        },
        "description" : "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message."
      },
      "Filters" : {
        "type" : "object",
        "properties" : {
          "meters" : {
            "maxItems" : 10,
            "minItems" : 0,
            "type" : "array",
            "description" : "The list of filters on meters (GUID), mandatory for budgets of usage category. ",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "resourceGroups" : {
            "maxItems" : 10,
            "minItems" : 0,
            "type" : "array",
            "description" : "The list of filters on resource groups, allowed at subscription level only.",
            "items" : {
              "type" : "string"
            }
          },
          "resources" : {
            "maxItems" : 10,
            "minItems" : 0,
            "type" : "array",
            "description" : "The list of filters on resources.",
            "items" : {
              "type" : "string"
            }
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "The dictionary of filters on tags."
          }
        },
        "description" : "May be used to filter budgets by resource group, resource, or meter."
      },
      "Forecast" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ForecastProperties"
          }
        },
        "description" : "A forecast resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "ForecastProperties" : {
        "type" : "object",
        "properties" : {
          "charge" : {
            "type" : "number",
            "description" : "The amount of charge",
            "format" : "decimal",
            "readOnly" : true
          },
          "chargeType" : {
            "type" : "string",
            "description" : "The type of the charge. Could be actual or forecast",
            "enum" : [ "Actual", "Forecast" ]
          },
          "confidenceLevels" : {
            "type" : "array",
            "description" : "The details about the forecast confidence levels. This is populated only when chargeType is Forecast.",
            "readOnly" : true,
            "items" : {
              "type" : "object",
              "properties" : {
                "bound" : {
                  "type" : "string",
                  "description" : "The boundary of the percentage, values could be 'Upper' or 'Lower'",
                  "enum" : [ "Upper", "Lower" ]
                },
                "percentage" : {
                  "type" : "number",
                  "description" : "The percentage level of the confidence",
                  "format" : "decimal",
                  "readOnly" : true
                },
                "value" : {
                  "type" : "number",
                  "description" : "The amount of forecast within the percentage level",
                  "format" : "decimal",
                  "readOnly" : true
                }
              }
            }
          },
          "currency" : {
            "type" : "string",
            "description" : "The ISO currency in which the meter is charged, for example, USD.",
            "readOnly" : true
          },
          "grain" : {
            "type" : "string",
            "description" : "The granularity of forecast.",
            "enum" : [ "Daily", "Monthly", "Yearly" ]
          },
          "usageDate" : {
            "type" : "string",
            "description" : "The usage date of the forecast.",
            "readOnly" : true
          }
        },
        "description" : "The properties of the forecast charge."
      },
      "ForecastsListResult" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of forecasts.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Forecast"
            }
          }
        },
        "description" : "Result of listing forecasts. It contains a list of available forecasts."
      },
      "ManagementGroupAggregatedCostProperties" : {
        "type" : "object",
        "properties" : {
          "azureCharges" : {
            "type" : "number",
            "description" : "Azure Charges.",
            "format" : "decimal",
            "readOnly" : true
          },
          "billingPeriodId" : {
            "type" : "string",
            "description" : "The id of the billing period resource that the aggregated cost belongs to.",
            "readOnly" : true
          },
          "chargesBilledSeparately" : {
            "type" : "number",
            "description" : "Charges Billed Separately.",
            "format" : "decimal",
            "readOnly" : true
          },
          "children" : {
            "type" : "array",
            "description" : "Children of a management group",
            "items" : {
              "$ref" : "#/components/schemas/ManagementGroupAggregatedCostResult"
            }
          },
          "currency" : {
            "type" : "string",
            "description" : "The ISO currency in which the meter is charged, for example, USD.",
            "readOnly" : true
          },
          "excludedSubscriptions" : {
            "type" : "array",
            "description" : "List of subscription Guids excluded from the calculation of aggregated cost",
            "items" : {
              "type" : "string"
            }
          },
          "includedSubscriptions" : {
            "type" : "array",
            "description" : "List of subscription Guids included in the calculation of aggregated cost",
            "items" : {
              "type" : "string"
            }
          },
          "marketplaceCharges" : {
            "type" : "number",
            "description" : "Marketplace Charges.",
            "format" : "decimal",
            "readOnly" : true
          },
          "usageEnd" : {
            "type" : "string",
            "description" : "The end of the date time range covered by the aggregated cost.",
            "format" : "date-time",
            "readOnly" : true
          },
          "usageStart" : {
            "type" : "string",
            "description" : "The start of the date time range covered by aggregated cost.",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "description" : "The properties of the Management Group Aggregated Cost."
      },
      "ManagementGroupAggregatedCostResult" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ManagementGroupAggregatedCostProperties"
          }
        },
        "description" : "A management group aggregated cost resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "Marketplace" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/MarketplaceProperties"
          }
        },
        "description" : "An marketplace resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "MarketplaceProperties" : {
        "type" : "object",
        "properties" : {
          "accountName" : {
            "type" : "string",
            "description" : "Account name.",
            "readOnly" : true
          },
          "additionalProperties" : {
            "type" : "string",
            "description" : "Additional details of this usage item. By default this is not populated, unless it's specified in $expand.",
            "readOnly" : true
          },
          "billingPeriodId" : {
            "type" : "string",
            "description" : "The id of the billing period resource that the usage belongs to.",
            "readOnly" : true
          },
          "consumedQuantity" : {
            "type" : "number",
            "description" : "The quantity of usage.",
            "format" : "decimal",
            "readOnly" : true
          },
          "consumedService" : {
            "type" : "string",
            "description" : "Consumed service name.",
            "readOnly" : true
          },
          "costCenter" : {
            "type" : "string",
            "description" : "The cost center of this department if it is a department and a costcenter exists",
            "readOnly" : true
          },
          "currency" : {
            "type" : "string",
            "description" : "The ISO currency in which the meter is charged, for example, USD.",
            "readOnly" : true
          },
          "departmentName" : {
            "type" : "string",
            "description" : "Department name.",
            "readOnly" : true
          },
          "instanceId" : {
            "type" : "string",
            "description" : "The uri of the resource instance that the usage is about.",
            "readOnly" : true
          },
          "instanceName" : {
            "type" : "string",
            "description" : "The name of the resource instance that the usage is about.",
            "readOnly" : true
          },
          "isEstimated" : {
            "type" : "boolean",
            "description" : "The estimated usage is subject to change.",
            "readOnly" : true
          },
          "isRecurringCharge" : {
            "type" : "boolean",
            "description" : "Flag indicating whether this is a recurring charge or not.",
            "readOnly" : true
          },
          "meterId" : {
            "type" : "string",
            "description" : "The meter id (GUID).",
            "format" : "uuid",
            "readOnly" : true
          },
          "offerName" : {
            "type" : "string",
            "description" : "The type of offer.",
            "readOnly" : true
          },
          "orderNumber" : {
            "type" : "string",
            "description" : "The order number.",
            "readOnly" : true
          },
          "planName" : {
            "type" : "string",
            "description" : "The name of plan.",
            "readOnly" : true
          },
          "pretaxCost" : {
            "type" : "number",
            "description" : "The amount of cost before tax.",
            "format" : "decimal",
            "readOnly" : true
          },
          "publisherName" : {
            "type" : "string",
            "description" : "The name of publisher.",
            "readOnly" : true
          },
          "resourceGroup" : {
            "type" : "string",
            "description" : "The name of resource group.",
            "readOnly" : true
          },
          "resourceRate" : {
            "type" : "number",
            "description" : "The marketplace resource rate.",
            "format" : "decimal",
            "readOnly" : true
          },
          "subscriptionGuid" : {
            "type" : "string",
            "description" : "Subscription guid.",
            "format" : "uuid",
            "readOnly" : true
          },
          "subscriptionName" : {
            "type" : "string",
            "description" : "Subscription name.",
            "readOnly" : true
          },
          "unitOfMeasure" : {
            "type" : "string",
            "description" : "The unit of measure.",
            "readOnly" : true
          },
          "usageEnd" : {
            "type" : "string",
            "description" : "The end of the date time range covered by the usage detail.",
            "format" : "date-time",
            "readOnly" : true
          },
          "usageStart" : {
            "type" : "string",
            "description" : "The start of the date time range covered by the usage detail.",
            "format" : "date-time",
            "readOnly" : true
          }
        },
        "description" : "The properties of the marketplace usage detail."
      },
      "MarketplacesListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The list of marketplaces.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Marketplace"
            }
          }
        },
        "description" : "Result of listing marketplaces. It contains a list of available marketplaces in reverse chronological order by billing period."
      },
      "MeterDetails" : {
        "type" : "object",
        "properties" : {
          "meterCategory" : {
            "type" : "string",
            "description" : "The category of the meter, for example, 'Cloud services', 'Networking', etc..",
            "readOnly" : true
          },
          "meterLocation" : {
            "type" : "string",
            "description" : "The location in which the Azure service is available.",
            "readOnly" : true
          },
          "meterName" : {
            "type" : "string",
            "description" : "The name of the meter, within the given meter category",
            "readOnly" : true
          },
          "meterSubCategory" : {
            "type" : "string",
            "description" : "The subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)', etc..",
            "readOnly" : true
          },
          "pretaxStandardRate" : {
            "type" : "number",
            "description" : "The pretax listing price.",
            "format" : "decimal",
            "readOnly" : true
          },
          "serviceName" : {
            "type" : "string",
            "description" : "The name of the service.",
            "readOnly" : true
          },
          "serviceTier" : {
            "type" : "string",
            "description" : "The service tier.",
            "readOnly" : true
          },
          "totalIncludedQuantity" : {
            "type" : "number",
            "description" : "The total included quantity associated with the offer.",
            "format" : "decimal",
            "readOnly" : true
          },
          "unit" : {
            "type" : "string",
            "description" : "The unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.",
            "readOnly" : true
          }
        },
        "description" : "The properties of the meter detail."
      },
      "MeterDetailsResponse" : {
        "type" : "object",
        "properties" : {
          "meterCategory" : {
            "type" : "string",
            "description" : "The category of the meter, for example, 'Cloud services', 'Networking', etc..",
            "readOnly" : true
          },
          "meterName" : {
            "type" : "string",
            "description" : "The name of the meter, within the given meter category",
            "readOnly" : true
          },
          "meterSubCategory" : {
            "type" : "string",
            "description" : "The subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)', etc..",
            "readOnly" : true
          },
          "serviceFamily" : {
            "type" : "string",
            "description" : "The service family.",
            "readOnly" : true
          },
          "unitOfMeasure" : {
            "type" : "string",
            "description" : "The unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.",
            "readOnly" : true
          }
        },
        "description" : "The properties of the meter detail."
      },
      "Notification" : {
        "required" : [ "contactEmails", "enabled", "operator", "threshold" ],
        "type" : "object",
        "properties" : {
          "contactEmails" : {
            "maxItems" : 50,
            "minItems" : 1,
            "type" : "array",
            "description" : "Email addresses to send the budget notification to when the threshold is exceeded.",
            "items" : {
              "type" : "string"
            }
          },
          "contactGroups" : {
            "maxItems" : 50,
            "minItems" : 0,
            "type" : "array",
            "description" : "Action groups to send the budget notification to when the threshold is exceeded.",
            "items" : {
              "type" : "string"
            }
          },
          "contactRoles" : {
            "type" : "array",
            "description" : "Contact roles to send the budget notification to when the threshold is exceeded.",
            "items" : {
              "type" : "string"
            }
          },
          "enabled" : {
            "type" : "boolean",
            "description" : "The notification is enabled or not."
          },
          "operator" : {
            "type" : "string",
            "description" : "The comparison operator.",
            "enum" : [ "EqualTo", "GreaterThan", "GreaterThanOrEqualTo" ]
          },
          "threshold" : {
            "type" : "number",
            "description" : "Threshold value associated with a notification. Notification is sent when the cost exceeded the threshold. It is always percent and has to be between 0 and 1000.",
            "format" : "decimal"
          }
        },
        "description" : "The notification associated with a budget."
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "type" : "object",
            "properties" : {
              "operation" : {
                "type" : "string",
                "description" : "Operation type: Read, write, delete, etc.",
                "readOnly" : true
              },
              "provider" : {
                "type" : "string",
                "description" : "Service provider: Microsoft.Consumption.",
                "readOnly" : true
              },
              "resource" : {
                "type" : "string",
                "description" : "Resource on which the operation is performed: UsageDetail, etc.",
                "readOnly" : true
              }
            },
            "description" : "The object that represents the operation."
          },
          "name" : {
            "type" : "string",
            "description" : "Operation name: {provider}/{resource}/{operation}.",
            "readOnly" : true
          }
        },
        "description" : "A Consumption REST API operation."
      },
      "OperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of operation list results if there are any.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "List of consumption operations supported by the Microsoft.Consumption resource provider.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results."
      },
      "PriceSheetModel" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "pricesheets" : {
            "type" : "array",
            "description" : "Price sheet",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/PriceSheetProperties"
            }
          }
        },
        "description" : "price sheet result. It contains the pricesheet associated with billing period"
      },
      "PriceSheetProperties" : {
        "type" : "object",
        "properties" : {
          "billingPeriodId" : {
            "type" : "string",
            "description" : "The id of the billing period resource that the usage belongs to.",
            "readOnly" : true
          },
          "currencyCode" : {
            "type" : "string",
            "description" : "Currency Code",
            "readOnly" : true
          },
          "includedQuantity" : {
            "type" : "number",
            "description" : "Included quality for an offer",
            "format" : "decimal",
            "readOnly" : true
          },
          "meterDetails" : {
            "$ref" : "#/components/schemas/MeterDetails"
          },
          "meterId" : {
            "type" : "string",
            "description" : "The meter id (GUID)",
            "format" : "uuid",
            "readOnly" : true
          },
          "offerId" : {
            "type" : "string",
            "description" : "Offer Id",
            "readOnly" : true
          },
          "partNumber" : {
            "type" : "string",
            "description" : "Part Number",
            "readOnly" : true
          },
          "unitOfMeasure" : {
            "type" : "string",
            "description" : "Unit of measure",
            "readOnly" : true
          },
          "unitPrice" : {
            "type" : "number",
            "description" : "Unit Price",
            "format" : "decimal",
            "readOnly" : true
          }
        },
        "description" : "The properties of the price sheet."
      },
      "PriceSheetResult" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/PriceSheetModel"
          }
        },
        "description" : "An pricesheet resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "ProxyResource" : {
        "type" : "object",
        "properties" : {
          "eTag" : {
            "type" : "string",
            "description" : "eTag of the resource. To handle concurrent update scenario, this field will be used to determine whether the user is updating the latest version or not."
          },
          "id" : {
            "type" : "string",
            "description" : "Resource Id.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type.",
            "readOnly" : true
          }
        },
        "description" : "The Resource model definition."
      },
      "ReservationDetail" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ReservationDetailProperties"
          }
        },
        "description" : "reservation detail resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "ReservationDetailProperties" : {
        "type" : "object",
        "properties" : {
          "instanceFlexibilityGroup" : {
            "type" : "string",
            "description" : "The instance Flexibility Group.",
            "readOnly" : true
          },
          "instanceFlexibilityRatio" : {
            "type" : "string",
            "description" : "The instance Flexibility Ratio.",
            "readOnly" : true
          },
          "instanceId" : {
            "type" : "string",
            "description" : "This identifier is the name of the resource or the fully qualified Resource ID.",
            "readOnly" : true
          },
          "kind" : {
            "type" : "string",
            "description" : "The reservation kind.",
            "readOnly" : true
          },
          "reservationId" : {
            "type" : "string",
            "description" : "The reservation ID is the identifier of a reservation within a reservation order. Each reservation is the grouping for applying the benefit scope and also specifies the number of instances to which the reservation benefit can be applied to.",
            "readOnly" : true
          },
          "reservationOrderId" : {
            "type" : "string",
            "description" : "The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations.",
            "readOnly" : true
          },
          "reservedHours" : {
            "type" : "number",
            "description" : "This is the total hours reserved for the day. E.g. if reservation for 1 instance was made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days.",
            "format" : "decimal",
            "readOnly" : true
          },
          "skuName" : {
            "type" : "string",
            "description" : "This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records.",
            "readOnly" : true
          },
          "totalReservedQuantity" : {
            "type" : "number",
            "description" : "This is the total count of instances that are reserved for the reservationId.",
            "format" : "decimal",
            "readOnly" : true
          },
          "usageDate" : {
            "type" : "string",
            "description" : "The date on which consumption occurred.",
            "format" : "date-time",
            "readOnly" : true
          },
          "usedHours" : {
            "type" : "number",
            "description" : "This is the total hours used by the instance.",
            "format" : "decimal",
            "readOnly" : true
          }
        },
        "description" : "The properties of the reservation detail."
      },
      "ReservationDetailsListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The link (url) to the next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The list of reservation details.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ReservationDetail"
            }
          }
        },
        "description" : "Result of listing reservation details."
      },
      "ReservationRecommendation" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ReservationRecommendationProperties"
          }
        },
        "description" : "Reservation recommendation resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        }, {
          "$ref" : "#/components/schemas/ResourceAttributes"
        } ]
      },
      "ReservationRecommendationProperties" : {
        "type" : "object",
        "properties" : {
          "costWithNoReservedInstances" : {
            "type" : "number",
            "description" : "The total amount of cost without reserved instances.",
            "format" : "decimal",
            "readOnly" : true
          },
          "firstUsageDate" : {
            "type" : "string",
            "description" : "The usage date for looking back.",
            "format" : "date-time",
            "readOnly" : true
          },
          "instanceFlexibilityGroup" : {
            "type" : "string",
            "description" : "The instance Flexibility Group.",
            "readOnly" : true
          },
          "instanceFlexibilityRatio" : {
            "type" : "integer",
            "description" : "The instance Flexibility Ratio.",
            "readOnly" : true
          },
          "lookBackPeriod" : {
            "type" : "string",
            "description" : "The number of days of usage to look back for recommendation.",
            "readOnly" : true
          },
          "meterId" : {
            "type" : "string",
            "description" : "The meter id (GUID)",
            "format" : "uuid",
            "readOnly" : true
          },
          "netSavings" : {
            "type" : "number",
            "description" : "Total estimated savings with reserved instances.",
            "format" : "decimal",
            "readOnly" : true
          },
          "normalizedSize" : {
            "type" : "string",
            "description" : "The normalized Size.",
[...]
