{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SqlManagementClient",
    "description" : "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "version" : "2017-03-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionBackups" : {
      "get" : {
        "tags" : [ "LongTermRetentionBackups" ],
        "description" : "Lists the long term retention backups for a given location.",
        "operationId" : "LongTermRetentionBackups_ListByLocation",
        "parameters" : [ {
          "name" : "locationName",
          "in" : "path",
          "description" : "The location of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "onlyLatestPerDatabase",
          "in" : "query",
          "description" : "Whether or not to only get the latest backup for each database.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "databaseState",
          "in" : "query",
          "description" : "Whether to query against just live databases, just deleted databases, or all databases.",
          "schema" : {
            "type" : "string",
            "enum" : [ "All", "Live", "Deleted" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of backups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LongTermRetentionBackupListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionServers/{longTermRetentionServerName}/longTermRetentionBackups" : {
      "get" : {
        "tags" : [ "LongTermRetentionBackups" ],
        "description" : "Lists the long term retention backups for a given server.",
        "operationId" : "LongTermRetentionBackups_ListByServer",
        "parameters" : [ {
          "name" : "locationName",
          "in" : "path",
          "description" : "The location of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionServerName",
          "in" : "path",
          "description" : "The name of the server",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "onlyLatestPerDatabase",
          "in" : "query",
          "description" : "Whether or not to only get the latest backup for each database.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "databaseState",
          "in" : "query",
          "description" : "Whether to query against just live databases, just deleted databases, or all databases.",
          "schema" : {
            "type" : "string",
            "enum" : [ "All", "Live", "Deleted" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of backups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LongTermRetentionBackupListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionServers/{longTermRetentionServerName}/longTermRetentionDatabases/{longTermRetentionDatabaseName}/longTermRetentionBackups" : {
      "get" : {
        "tags" : [ "LongTermRetentionBackups" ],
        "description" : "Lists all long term retention backups for a database.",
        "operationId" : "LongTermRetentionBackups_ListByDatabase",
        "parameters" : [ {
          "name" : "locationName",
          "in" : "path",
          "description" : "The location of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionServerName",
          "in" : "path",
          "description" : "The name of the server",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionDatabaseName",
          "in" : "path",
          "description" : "The name of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "onlyLatestPerDatabase",
          "in" : "query",
          "description" : "Whether or not to only get the latest backup for each database.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "databaseState",
          "in" : "query",
          "description" : "Whether to query against just live databases, just deleted databases, or all databases.",
          "schema" : {
            "type" : "string",
            "enum" : [ "All", "Live", "Deleted" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of backups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LongTermRetentionBackupListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionServers/{longTermRetentionServerName}/longTermRetentionDatabases/{longTermRetentionDatabaseName}/longTermRetentionBackups/{backupName}" : {
      "get" : {
        "tags" : [ "LongTermRetentionBackups" ],
        "description" : "Gets a long term retention backup.",
        "operationId" : "LongTermRetentionBackups_Get",
        "parameters" : [ {
          "name" : "locationName",
          "in" : "path",
          "description" : "The location of the database.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionServerName",
          "in" : "path",
          "description" : "The name of the server",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionDatabaseName",
          "in" : "path",
          "description" : "The name of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupName",
          "in" : "path",
          "description" : "The backup name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the backup.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LongTermRetentionBackup"
                }
              }
            }
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 400 InvalidLongTermRetentionBackupId - Invalid long term retention backup identifier.\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        }
      },
      "delete" : {
        "tags" : [ "LongTermRetentionBackups" ],
        "description" : "Deletes a long term retention backup.",
        "operationId" : "LongTermRetentionBackups_Delete",
        "parameters" : [ {
          "name" : "locationName",
          "in" : "path",
          "description" : "The location of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionServerName",
          "in" : "path",
          "description" : "The name of the server",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionDatabaseName",
          "in" : "path",
          "description" : "The name of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupName",
          "in" : "path",
          "description" : "The backup name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted the backup."
          },
          "202" : {
            "description" : "Accepted"
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 400 InvalidLongTermRetentionBackupId - Invalid long term retention backup identifier.\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionBackups" : {
      "get" : {
        "tags" : [ "LongTermRetentionBackups" ],
        "description" : "Lists the long term retention backups for a given location.",
        "operationId" : "LongTermRetentionBackups_ListByResourceGroupLocation",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locationName",
          "in" : "path",
          "description" : "The location of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "onlyLatestPerDatabase",
          "in" : "query",
          "description" : "Whether or not to only get the latest backup for each database.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "databaseState",
          "in" : "query",
          "description" : "Whether to query against just live databases, just deleted databases, or all databases.",
          "schema" : {
            "type" : "string",
            "enum" : [ "All", "Live", "Deleted" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of backups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LongTermRetentionBackupListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionServers/{longTermRetentionServerName}/longTermRetentionBackups" : {
      "get" : {
        "tags" : [ "LongTermRetentionBackups" ],
        "description" : "Lists the long term retention backups for a given server.",
        "operationId" : "LongTermRetentionBackups_ListByResourceGroupServer",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locationName",
          "in" : "path",
          "description" : "The location of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionServerName",
          "in" : "path",
          "description" : "The name of the server",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "onlyLatestPerDatabase",
          "in" : "query",
          "description" : "Whether or not to only get the latest backup for each database.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "databaseState",
          "in" : "query",
          "description" : "Whether to query against just live databases, just deleted databases, or all databases.",
          "schema" : {
            "type" : "string",
            "enum" : [ "All", "Live", "Deleted" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of backups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LongTermRetentionBackupListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionServers/{longTermRetentionServerName}/longTermRetentionDatabases/{longTermRetentionDatabaseName}/longTermRetentionBackups" : {
      "get" : {
        "tags" : [ "LongTermRetentionBackups" ],
        "description" : "Lists all long term retention backups for a database.",
        "operationId" : "LongTermRetentionBackups_ListByResourceGroupDatabase",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locationName",
          "in" : "path",
          "description" : "The location of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionServerName",
          "in" : "path",
          "description" : "The name of the server",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionDatabaseName",
          "in" : "path",
          "description" : "The name of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "onlyLatestPerDatabase",
          "in" : "query",
          "description" : "Whether or not to only get the latest backup for each database.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "databaseState",
          "in" : "query",
          "description" : "Whether to query against just live databases, just deleted databases, or all databases.",
          "schema" : {
            "type" : "string",
            "enum" : [ "All", "Live", "Deleted" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the list of backups.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LongTermRetentionBackupListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionServers/{longTermRetentionServerName}/longTermRetentionDatabases/{longTermRetentionDatabaseName}/longTermRetentionBackups/{backupName}" : {
      "get" : {
        "tags" : [ "LongTermRetentionBackups" ],
        "description" : "Gets a long term retention backup.",
        "operationId" : "LongTermRetentionBackups_GetByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locationName",
          "in" : "path",
          "description" : "The location of the database.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionServerName",
          "in" : "path",
          "description" : "The name of the server",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionDatabaseName",
          "in" : "path",
          "description" : "The name of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupName",
          "in" : "path",
          "description" : "The backup name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved the backup.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LongTermRetentionBackup"
                }
              }
            }
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 400 InvalidLongTermRetentionBackupId - Invalid long term retention backup identifier.\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        }
      },
      "delete" : {
        "tags" : [ "LongTermRetentionBackups" ],
        "description" : "Deletes a long term retention backup.",
        "operationId" : "LongTermRetentionBackups_DeleteByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locationName",
          "in" : "path",
          "description" : "The location of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionServerName",
          "in" : "path",
          "description" : "The name of the server",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "longTermRetentionDatabaseName",
          "in" : "path",
          "description" : "The name of the database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "backupName",
          "in" : "path",
          "description" : "The backup name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted the backup."
          },
          "202" : {
            "description" : "Accepted"
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 400 InvalidLongTermRetentionBackupId - Invalid long term retention backup identifier.\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies" : {
      "get" : {
        "tags" : [ "BackupLongTermRetentionPolicies" ],
        "description" : "Gets a database's long term retention policy.",
        "operationId" : "BackupLongTermRetentionPolicies_ListByDatabase",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseName",
          "in" : "path",
          "description" : "The name of the database.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully get the policy.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLongTermRetentionPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies/{policyName}" : {
      "get" : {
        "tags" : [ "BackupLongTermRetentionPolicies" ],
        "description" : "Gets a database's long term retention policy.",
        "operationId" : "BackupLongTermRetentionPolicies_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseName",
          "in" : "path",
          "description" : "The name of the database.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "The policy name. Should always be Default.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully get the policy.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLongTermRetentionPolicy"
                }
              }
            }
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        }
      },
      "put" : {
        "tags" : [ "BackupLongTermRetentionPolicies" ],
        "description" : "Sets a database's long term retention policy.",
        "operationId" : "BackupLongTermRetentionPolicies_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "serverName",
          "in" : "path",
          "description" : "The name of the server.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseName",
          "in" : "path",
          "description" : "The name of the database.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "policyName",
          "in" : "path",
          "description" : "The policy name. Should always be Default.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default" ]
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The long term retention policy info.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupLongTermRetentionPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully set the policy.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLongTermRetentionPolicy"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 400 InvalidParameterValue - An invalid value was given to a parameter.\n\n * 400 LongTermRetentionPolicyNotSupported - Long Term Retention is not supported on this database.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BackupLongTermRetentionPolicy" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/LongTermRetentionPolicyProperties"
          }
        },
        "description" : "A long term retention policy.",
        "allOf" : [ {
          "description" : "ARM proxy resource.",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID.",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "Resource name.",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "Resource type.",
                "readOnly" : true
              }
            },
            "description" : "ARM resource."
          } ]
        } ]
      },
      "LongTermRetentionBackup" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/LongTermRetentionBackupProperties"
          }
        },
        "description" : "A long term retention backup.",
        "allOf" : [ {
          "description" : "ARM proxy resource.",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID.",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "Resource name.",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "Resource type.",
                "readOnly" : true
              }
            },
            "description" : "ARM resource."
          } ]
        } ]
      },
      "LongTermRetentionBackupListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to retrieve next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Array of results.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/LongTermRetentionBackup"
            }
          }
        },
        "description" : "A list of long term retention backups."
      },
      "LongTermRetentionBackupProperties" : {
        "type" : "object",
        "properties" : {
          "backupExpirationTime" : {
            "type" : "string",
            "description" : "The time the long term retention backup will expire.",
            "format" : "date-time",
            "readOnly" : true
          },
          "backupTime" : {
            "type" : "string",
            "description" : "The time the backup was taken",
            "format" : "date-time",
            "readOnly" : true
          },
          "databaseDeletionTime" : {
            "type" : "string",
            "description" : "The delete time of the database",
            "format" : "date-time",
            "readOnly" : true
          },
          "databaseName" : {
            "type" : "string",
            "description" : "The name of the database the backup belong to",
            "readOnly" : true
          },
          "serverCreateTime" : {
            "type" : "string",
            "description" : "The create time of the server.",
            "format" : "date-time",
            "readOnly" : true
          },
          "serverName" : {
            "type" : "string",
            "description" : "The server name that the backup database belong to.",
            "readOnly" : true
          }
        },
        "description" : "Properties of a long term retention backup"
      },
      "LongTermRetentionPolicyProperties" : {
        "type" : "object",
        "properties" : {
          "monthlyRetention" : {
            "type" : "string",
            "description" : "The monthly retention policy for an LTR backup in an ISO 8601 format."
          },
          "weekOfYear" : {
            "type" : "integer",
            "description" : "The week of year to take the yearly backup in an ISO 8601 format.",
            "format" : "int32"
          },
          "weeklyRetention" : {
            "type" : "string",
            "description" : "The weekly retention policy for an LTR backup in an ISO 8601 format."
          },
          "yearlyRetention" : {
            "type" : "string",
            "description" : "The yearly retention policy for an LTR backup in an ISO 8601 format."
          }
        },
        "description" : "Properties of a long term retention policy"
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "The API version to use for the request.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "BlobAuditingPolicyNameParameter" : {
        "name" : "blobAuditingPolicyName",
        "in" : "path",
        "description" : "The name of the blob auditing policy.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "default" ]
        }
      },
      "DatabaseNameParameter" : {
        "name" : "databaseName",
        "in" : "path",
        "description" : "The name of the database.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "LongTermRetentionDatabaseStateParameter" : {
        "name" : "databaseState",
        "in" : "query",
        "description" : "Whether to query against just live databases, just deleted databases, or all databases.",
        "schema" : {
          "type" : "string",
          "enum" : [ "All", "Live", "Deleted" ]
        }
      },
      "ManagedInstanceNameParameter" : {
        "name" : "managedInstanceName",
        "in" : "path",
        "description" : "The name of the managed instance.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ServerNameParameter" : {
        "name" : "serverName",
        "in" : "path",
        "description" : "The name of the server.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SqlVirtualMachineContainerNameParameter" : {
        "name" : "sqlVirtualMachineContainerName",
        "in" : "path",
        "description" : "The name of the SqlVirtualMachineContainer.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SqlVirtualMachineInstanceNameParameter" : {
        "name" : "sqlVirtualMachineInstanceName",
        "in" : "path",
        "description" : "The name of the SqlVirtualMachineInstance.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription ID that identifies an Azure subscription.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "VirtualClusterNameParameter" : {
        "name" : "virtualClusterName",
        "in" : "path",
        "description" : "The name of the virtual cluster.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}