{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AzureBridgeAdminClient",
    "description" : "AzureBridge Admin Client.",
    "version" : "2016-01-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/providers/Microsoft.AzureBridge.Admin/operations" : {
      "get" : {
        "tags" : [ "AzureBridge" ],
        "description" : "Returns the list of support REST operations.",
        "operationId" : "Operations_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-01-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Compatibility" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "Full error message if any compatibility issues are found"
          },
          "isCompatible" : {
            "type" : "boolean",
            "description" : "Tells if product is compatible with current device"
          },
          "issues" : {
            "type" : "array",
            "description" : "List of all issues found",
            "items" : {
              "type" : "string",
              "description" : "Compatibility issue",
              "enum" : [ "HigherDeviceVersionRequired", "LowerDeviceVersionRequired", "CapacityBillingModelRequired", "PayAsYouGoBillingModelRequired", "DevelopmentBillingModelRequired", "AzureADIdentitySystemRequired", "ADFSIdentitySystemRequired", "ConnectionToInternetRequired", "ConnectionToAzureRequired", "DisconnectedEnvironmentRequired" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "Short error message if any compatibility issues are found"
          }
        },
        "description" : "Product compatibility"
      },
      "CompatibilityIssue" : {
        "type" : "string",
        "description" : "Compatibility issue",
        "enum" : [ "HigherDeviceVersionRequired", "LowerDeviceVersionRequired", "CapacityBillingModelRequired", "PayAsYouGoBillingModelRequired", "DevelopmentBillingModelRequired", "AzureADIdentitySystemRequired", "ADFSIdentitySystemRequired", "ConnectionToInternetRequired", "ConnectionToAzureRequired", "DisconnectedEnvironmentRequired" ]
      },
      "ComputeRole" : {
        "type" : "string",
        "description" : "Compute role type (IaaS or PaaS).",
        "enum" : [ "None", "IaaS", "PaaS" ]
      },
      "DataDiskImage" : {
        "type" : "object",
        "properties" : {
          "lun" : {
            "type" : "integer",
            "description" : "The LUN.",
            "format" : "int32",
            "readOnly" : true
          },
          "sourceBlobSasUri" : {
            "type" : "string",
            "description" : "SAS key for source blob.",
            "readOnly" : true
          }
        },
        "description" : "Data disk image."
      },
      "Display" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.",
            "readOnly" : true
          },
          "operation" : {
            "type" : "string",
            "description" : "The localized, friendly name for the operation. Use the name as it will displayed to the user.",
            "readOnly" : true
          },
          "provider" : {
            "type" : "string",
            "description" : "The localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. It should use Title Casing and begin with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\"",
            "readOnly" : true
          },
          "resource" : {
            "type" : "string",
            "description" : "The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.",
            "readOnly" : true
          }
        },
        "description" : "Contains the localized display information for this particular operation / action."
      },
      "DownloadedProduct" : {
        "properties" : {
          "galleryPackageBlobSasUri" : {
            "type" : "string",
            "description" : "The URI to the .azpkg file that provides information required for showing product in the gallery.",
            "readOnly" : true
          },
          "legalTerms" : {
            "type" : "string",
            "description" : "Legal terms for the product."
          },
          "links" : {
            "type" : "array",
            "description" : "List of product links.",
            "items" : {
              "type" : "object",
              "properties" : {
                "displayName" : {
                  "type" : "string",
                  "description" : "Displayed name of product."
                },
                "uri" : {
                  "type" : "string",
                  "description" : "URI to product."
                }
              },
              "description" : "Link to a product."
            }
          },
          "privacyPolicy" : {
            "type" : "string",
            "description" : "Privacy policy of the product."
          },
          "productDetailsProperties" : {
            "$ref" : "#/components/schemas/ExtendedProductProperties"
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The provisioning state of the resource.",
            "enum" : [ "Stopped", "Starting", "Running", "Stopping", "Succeeded", "Downloading" ]
          },
          "vmExtensionType" : {
            "type" : "string",
            "description" : "Extension type of the VM."
          }
        },
        "description" : "Properties for aggregate usage.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "billingPartNumber" : {
              "type" : "string",
              "description" : "Billing part number."
            },
            "compatibility" : {
              "type" : "object",
              "properties" : {
                "description" : {
                  "type" : "string",
                  "description" : "Full error message if any compatibility issues are found"
                },
                "isCompatible" : {
                  "type" : "boolean",
                  "description" : "Tells if product is compatible with current device"
                },
                "issues" : {
                  "type" : "array",
                  "description" : "List of all issues found",
                  "items" : {
                    "type" : "string",
                    "description" : "Compatibility issue",
                    "enum" : [ "HigherDeviceVersionRequired", "LowerDeviceVersionRequired", "CapacityBillingModelRequired", "PayAsYouGoBillingModelRequired", "DevelopmentBillingModelRequired", "AzureADIdentitySystemRequired", "ADFSIdentitySystemRequired", "ConnectionToInternetRequired", "ConnectionToAzureRequired", "DisconnectedEnvironmentRequired" ]
                  }
                },
                "message" : {
                  "type" : "string",
                  "description" : "Short error message if any compatibility issues are found"
                }
              },
              "description" : "Product compatibility"
            },
            "description" : {
              "type" : "string",
              "description" : "Description of the product."
            },
            "displayName" : {
              "type" : "string",
              "description" : "Name displayed for the product."
            },
            "galleryItemIdentity" : {
              "type" : "string",
              "description" : "Gallery item identity."
            },
            "iconUris" : {
              "type" : "object",
              "properties" : {
                "hero" : {
                  "type" : "string",
                  "description" : "The hero (815x290) icon relative path."
                },
                "large" : {
                  "type" : "string",
                  "description" : "The large (115x115) icon relative path."
                },
                "medium" : {
                  "type" : "string",
                  "description" : "The medium (90x90) icon relative path."
                },
                "small" : {
                  "type" : "string",
                  "description" : "The small (40x40) icon relative path."
                },
                "wide" : {
                  "type" : "string",
                  "description" : "The wide (255x115) icon relative path."
                }
              },
              "description" : "Icons for the gallery items."
            },
            "offer" : {
              "type" : "string",
              "description" : "Offer name."
            },
            "offerVersion" : {
              "type" : "string",
              "description" : "Offer version."
            },
            "payloadLength" : {
              "type" : "integer",
              "description" : "Size in bytes.",
              "format" : "int64"
            },
            "productKind" : {
              "type" : "string",
              "description" : "The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate."
            },
            "productProperties" : {
              "type" : "object",
              "properties" : {
                "version" : {
                  "type" : "string",
                  "description" : "The version of the product"
                }
              },
              "description" : "Additional properties of the product"
            },
            "publisherDisplayName" : {
              "type" : "string",
              "description" : "Name of publisher."
            },
            "publisherIdentifier" : {
              "type" : "string",
              "description" : "Publisher identifier."
            },
            "sku" : {
              "type" : "string",
              "description" : "Product SKU."
            }
          },
          "description" : "Base object for all product classes."
        } ]
      },
      "DownloadedProductResource" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/DownloadedProduct"
          }
        },
        "description" : "Downloaded product resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "Location of the resource",
              "readOnly" : true
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key value pairs.",
              "readOnly" : true
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base Resource Object"
        } ]
      },
      "ExtendedProductProperties" : {
        "description" : "Product information.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/VirtualMachineExtensionProductProperties"
        }, {
          "$ref" : "#/components/schemas/VirtualMachineProductProperties"
        } ]
      },
      "GalleryIcons" : {
        "type" : "object",
        "properties" : {
          "hero" : {
            "type" : "string",
            "description" : "The hero (815x290) icon relative path."
          },
          "large" : {
            "type" : "string",
            "description" : "The large (115x115) icon relative path."
          },
          "medium" : {
            "type" : "string",
            "description" : "The medium (90x90) icon relative path."
          },
          "small" : {
            "type" : "string",
            "description" : "The small (40x40) icon relative path."
          },
          "wide" : {
            "type" : "string",
            "description" : "The wide (255x115) icon relative path."
          }
        },
        "description" : "Icons for the gallery items."
      },
      "OperatingSystem" : {
        "type" : "string",
        "description" : "Operating system type (Windows or Linux).",
        "enum" : [ "None", "Windows", "Linux" ]
      },
      "Operation" : {
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/Display"
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the operation being performed on this particular object. This name should match the name that appears in RBAC or the event service.",
            "readOnly" : true
          }
        },
        "description" : "Describes the supported REST operation."
      },
      "OperationList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page of operations.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Array of operations",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        },
        "description" : "List of Operations"
      },
      "OsDiskImage" : {
        "type" : "object",
        "properties" : {
          "operatingSystem" : {
            "$ref" : "#/components/schemas/OperatingSystem"
          },
          "sourceBlobSasUri" : {
            "type" : "string",
            "description" : "SAS key for source blob.",
            "readOnly" : true
          }
        },
        "description" : "OS disk image."
      },
      "ProductBase" : {
        "type" : "object",
        "properties" : {
          "billingPartNumber" : {
            "type" : "string",
            "description" : "Billing part number."
          },
          "compatibility" : {
            "type" : "object",
            "properties" : {
              "description" : {
                "type" : "string",
                "description" : "Full error message if any compatibility issues are found"
              },
              "isCompatible" : {
                "type" : "boolean",
                "description" : "Tells if product is compatible with current device"
              },
              "issues" : {
                "type" : "array",
                "description" : "List of all issues found",
                "items" : {
                  "type" : "string",
                  "description" : "Compatibility issue",
                  "enum" : [ "HigherDeviceVersionRequired", "LowerDeviceVersionRequired", "CapacityBillingModelRequired", "PayAsYouGoBillingModelRequired", "DevelopmentBillingModelRequired", "AzureADIdentitySystemRequired", "ADFSIdentitySystemRequired", "ConnectionToInternetRequired", "ConnectionToAzureRequired", "DisconnectedEnvironmentRequired" ]
                }
              },
              "message" : {
                "type" : "string",
                "description" : "Short error message if any compatibility issues are found"
              }
            },
            "description" : "Product compatibility"
          },
          "description" : {
            "type" : "string",
            "description" : "Description of the product."
          },
          "displayName" : {
            "type" : "string",
            "description" : "Name displayed for the product."
          },
          "galleryItemIdentity" : {
            "type" : "string",
            "description" : "Gallery item identity."
          },
          "iconUris" : {
            "type" : "object",
            "properties" : {
              "hero" : {
                "type" : "string",
                "description" : "The hero (815x290) icon relative path."
              },
              "large" : {
                "type" : "string",
                "description" : "The large (115x115) icon relative path."
              },
              "medium" : {
                "type" : "string",
                "description" : "The medium (90x90) icon relative path."
              },
              "small" : {
                "type" : "string",
                "description" : "The small (40x40) icon relative path."
              },
              "wide" : {
                "type" : "string",
                "description" : "The wide (255x115) icon relative path."
              }
            },
            "description" : "Icons for the gallery items."
          },
          "offer" : {
            "type" : "string",
            "description" : "Offer name."
          },
          "offerVersion" : {
            "type" : "string",
            "description" : "Offer version."
          },
          "payloadLength" : {
            "type" : "integer",
            "description" : "Size in bytes.",
            "format" : "int64"
          },
          "productKind" : {
            "type" : "string",
            "description" : "The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate."
          },
          "productProperties" : {
            "type" : "object",
            "properties" : {
              "version" : {
                "type" : "string",
                "description" : "The version of the product"
              }
            },
            "description" : "Additional properties of the product"
          },
          "publisherDisplayName" : {
            "type" : "string",
            "description" : "Name of publisher."
          },
          "publisherIdentifier" : {
            "type" : "string",
            "description" : "Publisher identifier."
          },
          "sku" : {
            "type" : "string",
            "description" : "Product SKU."
          }
        },
        "description" : "Base object for all product classes."
      },
      "ProductLink" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "Displayed name of product."
          },
          "uri" : {
            "type" : "string",
            "description" : "URI to product."
          }
        },
        "description" : "Link to a product."
      },
      "ProductLinks" : {
        "type" : "array",
        "description" : "List of product links.",
        "items" : {
          "type" : "object",
          "properties" : {
            "displayName" : {
              "type" : "string",
              "description" : "Displayed name of product."
            },
            "uri" : {
              "type" : "string",
              "description" : "URI to product."
            }
          },
          "description" : "Link to a product."
        }
      },
      "ProductProperties" : {
        "type" : "object",
        "properties" : {
          "version" : {
            "type" : "string",
            "description" : "The version of the product"
          }
        },
        "description" : "Additional properties of the product"
      },
      "ProvisioningState" : {
        "type" : "string",
        "description" : "The provisioning state of the resource.",
        "enum" : [ "Stopped", "Starting", "Running", "Stopping", "Succeeded", "Downloading" ]
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "URI of the resource.",
            "readOnly" : true
          },
          "location" : {
            "type" : "string",
            "description" : "Location of the resource",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the resource.",
            "readOnly" : true
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "List of key value pairs.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Type of resource.",
            "readOnly" : true
          }
        },
        "description" : "Base Resource Object"
      },
      "Uri" : {
        "type" : "object",
        "properties" : {
          "uri" : {
            "type" : "string",
            "description" : "The URI.",
            "readOnly" : true
          }
        },
        "description" : "The URI."
      },
      "VirtualMachineExtensionProductProperties" : {
        "type" : "object",
        "properties" : {
          "computeRole" : {
            "$ref" : "#/components/schemas/ComputeRole"
          },
          "isSystemExtension" : {
            "type" : "boolean",
            "description" : "Specifies if product is a Virtual Machine Extension.",
            "readOnly" : true
          },
          "sourceBlob" : {
            "$ref" : "#/components/schemas/Uri"
          },
          "supportMultipleExtensions" : {
            "type" : "boolean",
            "description" : "Indicates if specified product supports multiple extensions.",
            "readOnly" : true
          },
          "version" : {
            "type" : "string",
            "description" : "Specifies product version.",
            "readOnly" : true
          },
          "vmOsType" : {
            "$ref" : "#/components/schemas/OperatingSystem"
          },
          "vmScaleSetEnabled" : {
            "type" : "boolean",
            "description" : "Indicates if virtual machine Scale Set is enabled in the specified product.",
            "readOnly" : true
          }
        },
        "description" : "Product information."
      },
      "VirtualMachineProductProperties" : {
        "type" : "object",
        "properties" : {
          "dataDiskImages" : {
            "type" : "array",
            "description" : "List of attached data disks.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/DataDiskImage"
            }
          },
          "osDiskImage" : {
            "$ref" : "#/components/schemas/OsDiskImage"
          },
          "version" : {
            "type" : "string",
            "description" : "Specifies product version.",
            "readOnly" : true
          }
        },
        "description" : "Product information."
      }
    },
    "parameters" : {
      "ActivationNameParameter" : {
        "name" : "activationName",
        "in" : "path",
        "description" : "Name of the activation.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "default" : "2016-01-01"
        }
      },
      "ProductNameParameter" : {
        "name" : "productName",
        "in" : "path",
        "description" : "Name of the product.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "RegistrationNameParameter" : {
        "name" : "registrationName",
        "in" : "path",
        "description" : "Name of the registration.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupParameter" : {
        "name" : "resourceGroup",
        "in" : "path",
        "description" : "The resource group the resource is located under.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}