{"openapi":"3.0.1","info":{"title":"CommerceManagementClient","description":"The Admin Commerce Management Client.","version":"2015-06-01-preview"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.Commerce.Admin/operations":{"get":{"tags":["Commerce"],"description":"Returns the list of supported REST operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2015-06-01-preview"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/subscriberUsageAggregates":{"get":{"tags":["Commerce"],"description":"Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.","operationId":"SubscriberUsageAggregates_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2015-06-01-preview"}},{"name":"reportedStartTime","in":"query","description":"The reported start time (inclusive).","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"reportedEndTime","in":"query","description":"The reported end time (exclusive).","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"aggregationGranularity","in":"query","description":"The aggregation granularity.","schema":{"type":"string"}},{"name":"subscriberId","in":"query","description":"The tenant subscription identifier.","schema":{"type":"string"}},{"name":"continuationToken","in":"query","description":"The continuation token.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageAggregatePage"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/updateEncryption":{"post":{"tags":["Commerce"],"description":"Update the encryption.","operationId":"UpdateEncryption","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2015-06-01-preview"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"Display":{"type":"object","properties":{"description":{"type":"string","description":"The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views."},"operation":{"type":"string","description":"The localized, friendly name for the operation. Use the name as it will be displayed to the user."},"provider":{"type":"string","description":"The localized, friendly version of the resource provider name. The provider name is expected to include the name of the publisher or company responsible. The provider name format should use title case and begin with \"Microsoft\" for first-party services. For example, the provider name may be\"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."},"resource":{"type":"string","description":"The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider."}},"description":"Contains the localized display information for this particular operation / action."},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/Display"},"name":{"type":"string","description":"The name of the operation performed on the object. The name should match the action name that appears in RBAC or the event service."}},"description":"Describes the supported REST operation."},"OperationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page of operations."},"value":{"type":"array","description":"Array of operations","items":{"$ref":"#/components/schemas/Operation"}}},"description":"List of Operations"},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"Location where resource is location.","readOnly":true},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key-value pairs.","readOnly":true},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base Resource Object"},"UsageAggregate":{"properties":{"properties":{"$ref":"#/components/schemas/UsageAggregateModel"}},"description":"Aggregate usage values for resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"UsageAggregateModel":{"type":"object","properties":{"instanceData":{"type":"string","description":"Key-value pairs of instance details represented as a string."},"meterId":{"type":"string","description":"Unique ID for the resource that was consumed, for example, the Resource ID."},"quantity":{"type":"string","description":"The amount of the resource consumption that occurred in this time frame."},"subscriptionId":{"type":"string","description":"Subscription ID of tenant using plan."},"usageEndTime":{"type":"string","description":"UTC end time for the usage category to which this usage aggregate belongs.","format":"date-time"},"usageStartTime":{"type":"string","description":"UTC start time for the usage category to which this usage aggregate belongs.","format":"date-time"}},"description":"Properties for aggregate usage."},"UsageAggregatePage":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of usage aggregates.","items":{"$ref":"#/components/schemas/UsageAggregate"}}},"description":"Pageable list of usage aggregates"}},"parameters":{"AggregationGranularityParameter":{"name":"aggregationGranularity","in":"query","description":"The aggregation granularity.","schema":{"type":"string"}},"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2015-06-01-preview"}},"ContinuationTokenParameter":{"name":"continuationToken","in":"query","description":"The continuation token.","schema":{"type":"string"}},"ReportedEndTimeParameter":{"name":"reportedEndTime","in":"query","description":"The reported end time (exclusive).","required":true,"schema":{"type":"string","format":"date-time"}},"ReportedStartTimeParameter":{"name":"reportedStartTime","in":"query","description":"The reported start time (inclusive).","required":true,"schema":{"type":"string","format":"date-time"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},"TenantSubscriptionIdParameter":{"name":"subscriberId","in":"query","description":"The tenant subscription identifier.","schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Authorization uses an Azure Active Directory OAuth2 flow."}}}}