{"openapi":"3.0.1","info":{"title":"AutomationManagement","version":"2018-01-15"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodecounts/{countType}":{"get":{"tags":["NodeCountInformation"],"description":"Retrieve counts for Dsc Nodes.","externalDocs":{"url":"http://aka.ms/azureautomationsdk/nodecounts"},"operationId":"NodeCountInformation_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"Name of an Azure Resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._]+$","type":"string"}},{"name":"automationAccountName","in":"path","description":"The name of the automation account.","required":true,"schema":{"type":"string"}},{"name":"countType","in":"path","description":"The type of counts to retrieve","required":true,"schema":{"type":"string","enum":["status","nodeconfiguration"]}},{"name":"subscriptionId","in":"path","description":"Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client Api Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NodeCounts"}}}},"default":{"description":"Automation error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Error response of an operation failure"}}}}}}}},"components":{"schemas":{"NodeCount":{"type":"object","properties":{"name":{"type":"string","description":"Gets the name of a count type"},"properties":{"$ref":"#/components/schemas/NodeCountProperties"}},"description":"Number of nodes based on the Filter"},"NodeCountProperties":{"type":"object","properties":{"count":{"type":"integer","description":"Gets the count for the name"}}},"NodeCounts":{"type":"object","properties":{"totalCount":{"type":"integer","description":"Gets the total number of records matching countType criteria."},"value":{"type":"array","description":"Gets an array of counts","items":{"$ref":"#/components/schemas/NodeCount"}}},"description":"Gets the count of nodes by count type"}},"parameters":{"CountTypeParameter":{"name":"countType","in":"path","description":"The type of counts to retrieve","required":true,"schema":{"type":"string","enum":["status","nodeconfiguration"]}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}