{"openapi":"3.0.1","info":{"title":"Mixed Reality","description":"Mixed Reality Resource Provider REST API","version":"2019-02-28-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.MixedReality/operations":{"get":{"tags":["Proxy"],"description":"Exposing Available Operations","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/locations/{location}/checkNameAvailability":{"post":{"tags":["Proxy"],"description":"Check Name Availability for global uniqueness","operationId":"CheckNameAvailabilityLocal","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The location in which uniqueness will be verified.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Check Name Availability Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityResponse"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/spatialAnchorsAccounts":{"get":{"tags":["Resource","Proxy"],"description":"List Spatial Anchors Accounts by Subscription","operationId":"SpatialAnchorsAccounts_ListBySubscription","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccountList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts":{"get":{"tags":["Resource"],"description":"List Resources by Resource Group","operationId":"SpatialAnchorsAccounts_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccountList"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{spatialAnchorsAccountName}":{"get":{"tags":["Resource"],"description":"Retrieve a Spatial Anchors Account.","operationId":"SpatialAnchorsAccounts_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"spatialAnchorsAccountName","in":"path","description":"Name of an Mixed Reality Spatial Anchors Account.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccount"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Resource"],"description":"Creating or Updating a Spatial Anchors Account.","operationId":"SpatialAnchorsAccounts_Create","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"spatialAnchorsAccountName","in":"path","description":"Name of an Mixed Reality Spatial Anchors Account.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Spatial Anchors Account parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccount"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccount"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccount"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Resource"],"description":"Delete a Spatial Anchors Account.","operationId":"SpatialAnchorsAccounts_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"spatialAnchorsAccountName","in":"path","description":"Name of an Mixed Reality Spatial Anchors Account.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"NoContent"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Resource"],"description":"Updating a Spatial Anchors Account","operationId":"SpatialAnchorsAccounts_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"spatialAnchorsAccountName","in":"path","description":"Name of an Mixed Reality Spatial Anchors Account.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Spatial Anchors Account parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccount"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccount"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{spatialAnchorsAccountName}/keys":{"get":{"tags":["Key"],"description":"Get Both of the 2 Keys of a Spatial Anchors Account","operationId":"SpatialAnchorsAccounts_GetKeys","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"spatialAnchorsAccountName","in":"path","description":"Name of an Mixed Reality Spatial Anchors Account.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccountKeys"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Key"],"description":"Regenerate 1 Key of a Spatial Anchors Account","operationId":"SpatialAnchorsAccounts_RegenerateKeys","parameters":[{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"spatialAnchorsAccountName","in":"path","description":"Name of an Mixed Reality Spatial Anchors Account.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Specifying which key to be regenerated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccountKeyRegenerateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccountKeys"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"CheckNameAvailabilityRequest":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"Resource Name To Verify"},"type":{"type":"string","description":"Fully qualified resource type which includes provider namespace"}},"description":"Check Name Availability Request"},"CheckNameAvailabilityResponse":{"required":["nameAvailable"],"type":"object","properties":{"message":{"type":"string","description":"detail message"},"nameAvailable":{"$ref":"#/components/schemas/NameAvailability"},"reason":{"$ref":"#/components/schemas/NameUnavailableReason"}},"description":"Check Name Availability Response"},"ErrorResponse":{"required":["code","message"],"type":"object","properties":{"code":{"type":"string","description":"String that can be used to programmatically identify the error."},"details":{"type":"string","description":"An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema."},"message":{"type":"string","description":"Describes the error in detail and provides debugging information"},"target":{"type":"string","description":"The target of the particular error"}},"description":"Response on Error"},"NameAvailability":{"type":"string","description":"Whether or not the name is available.","enum":["true","false"]},"NameUnavailableReason":{"type":"string","description":"reason of name unavailable.","enum":["Invalid","AlreadyExists"]},"Operation":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationDisplay"},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"}},"description":"REST API operation"},"OperationDisplay":{"required":["description","operation","provider","resource"],"type":"object","properties":{"description":{"type":"string","description":"Description of operation"},"operation":{"type":"string","description":"Operation type: Read, write, delete, etc."},"provider":{"type":"string","description":"Service provider: Microsoft.ResourceProvider"},"resource":{"type":"string","description":"Resource on which the operation is performed: Profile, endpoint, etc."}},"description":"The object that represents the operation."},"OperationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of operations supported by the Resource Provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results."},"SpatialAnchorsAccount":{"properties":{"properties":{"$ref":"#/components/schemas/SpatialAnchorsAccountProperties"}},"description":"SpatialAnchorsAccount Response.","allOf":[{"properties":{"location":{"type":"string","description":"The geo-location where the resource lives"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."}},"description":"The resource model definition for a ARM tracked top level resource","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.","readOnly":true}}}]}]},"SpatialAnchorsAccountKeyRegenerateRequest":{"type":"object","properties":{"serial":{"type":"integer","description":"serial of key to be regenerated"}},"description":"Spatial Anchors Account Regenerate Key"},"SpatialAnchorsAccountKeys":{"type":"object","properties":{"primaryKey":{"type":"string","description":"value of primary key.","readOnly":true},"secondaryKey":{"type":"string","description":"value of secondary key.","readOnly":true}},"description":"Spatial Anchors Account Keys"},"SpatialAnchorsAccountList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of resource list results if there are any."},"value":{"type":"array","description":"List of resources supported by the Resource Provider.","items":{"$ref":"#/components/schemas/SpatialAnchorsAccount"}}},"description":"Result of the request to get resource collection. It contains a list of resources and a URL link to get the next set of results."},"SpatialAnchorsAccountProperties":{"type":"object","properties":{"accountDomain":{"type":"string","description":"Correspond domain name of certain Spatial Anchors Account","readOnly":true},"accountId":{"type":"string","description":"unique id of certain Spatial Anchors Account data contract.","readOnly":true}},"description":"Spatial Anchors Account Customize Properties"}},"parameters":{"apiVersionParameter":{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},"locationParameter":{"name":"location","in":"path","description":"The location in which uniqueness will be verified.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},"resourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"Name of an Azure resource group.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},"spatialAnchorsAccountNameParameter":{"name":"spatialAnchorsAccountName","in":"path","description":"Name of an Mixed Reality Spatial Anchors Account.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},"subscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Azure subscription ID.","required":true,"schema":{"type":"string"}}},"requestBodies":{"checkNameAvailabilityParameter":{"description":"Check Name Availability Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckNameAvailabilityRequest"}}},"required":true},"spatialAnchorsAccountKeyRegenerateParameter":{"description":"Specifying which key to be regenerated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccountKeyRegenerateRequest"}}},"required":true},"spatialAnchorsAccountParameter":{"description":"Spatial Anchors Account parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpatialAnchorsAccount"}}},"required":true}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}