{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "NetworkManagementClient",
    "description" : "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version" : "2019-08-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuits" ],
        "description" : "Gets all the express route circuits in a subscription.",
        "operationId" : "ExpressRouteCircuits_ListAll",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of ExpressRouteCircuit resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders" : {
      "get" : {
        "tags" : [ "ExpressRouteServiceProviders" ],
        "description" : "Gets all the available express route service providers.",
        "operationId" : "ExpressRouteServiceProviders_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of ExpressRouteServiceProvider resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteServiceProviderListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuits" ],
        "description" : "Gets all the express route circuits in a resource group.",
        "operationId" : "ExpressRouteCircuits_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuits" ],
        "description" : "Gets information about the specified express route circuit.",
        "operationId" : "ExpressRouteCircuits_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCircuit resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuit"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ExpressRouteCircuits" ],
        "description" : "Creates or updates an express route circuit.",
        "operationId" : "ExpressRouteCircuits_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update express route circuit operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCircuit"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting ExpressRouteCircuit resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuit"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting ExpressRouteCircuit resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuit"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ExpressRouteCircuits" ],
        "description" : "Deletes the specified express route circuit.",
        "operationId" : "ExpressRouteCircuits_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted. Sets 'Disabling' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204" : {
            "description" : "Delete successful."
          }
        }
      },
      "patch" : {
        "tags" : [ "ExpressRouteCircuits" ],
        "description" : "Updates an express route circuit tags.",
        "operationId" : "ExpressRouteCircuits_UpdateTags",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update express route circuit tags.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Resource tags."
                  }
                },
                "description" : "Tags object for patch operations."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting ExpressRouteCircuit resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuit"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitAuthorizations" ],
        "description" : "Gets all authorizations in an express route circuit.",
        "operationId" : "ExpressRouteCircuitAuthorizations_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of ExpressRouteCircuitAuthorization resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorizationListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitAuthorizations" ],
        "description" : "Gets the specified authorization from the specified express route circuit.",
        "operationId" : "ExpressRouteCircuitAuthorizations_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationName",
          "in" : "path",
          "description" : "The name of the authorization.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the ExpressRouteCircuitAuthorization resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ExpressRouteCircuitAuthorizations" ],
        "description" : "Creates or updates an authorization in the specified express route circuit.",
        "operationId" : "ExpressRouteCircuitAuthorizations_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationName",
          "in" : "path",
          "description" : "The name of the authorization.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update express route circuit authorization operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ExpressRouteCircuitAuthorizations" ],
        "description" : "Deletes the specified authorization from the specified express route circuit.",
        "operationId" : "ExpressRouteCircuitAuthorizations_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "authorizationName",
          "in" : "path",
          "description" : "The name of the authorization.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitPeerings" ],
        "description" : "Gets all peerings in a specified express route circuit.",
        "operationId" : "ExpressRouteCircuitPeerings_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of ExpressRouteCircuitPeering resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeeringListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitPeerings" ],
        "description" : "Gets the specified peering for the express route circuit.",
        "operationId" : "ExpressRouteCircuitPeerings_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCircuitPeering resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ExpressRouteCircuitPeerings" ],
        "description" : "Creates or updates a peering in the specified express route circuits.",
        "operationId" : "ExpressRouteCircuitPeerings_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update express route circuit peering operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting ExpressRouteCircuitPeering resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting ExpressRouteCircuitPeering resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ExpressRouteCircuitPeerings" ],
        "description" : "Deletes the specified peering from the specified express route circuit.",
        "operationId" : "ExpressRouteCircuitPeerings_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/arpTables/{devicePath}" : {
      "post" : {
        "tags" : [ "ExpressRouteCircuitArpTable" ],
        "description" : "Gets the currently advertised ARP table associated with the express route circuit in a resource group.",
        "operationId" : "ExpressRouteCircuits_ListArpTable",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "devicePath",
          "in" : "path",
          "description" : "The path of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCircuitsArpTable resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitsArpTableListResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/connections" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitConnections" ],
        "description" : "Gets all global reach connections associated with a private peering in an express route circuit.",
        "operationId" : "ExpressRouteCircuitConnections_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of ExpressRouteCircuitConnections resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitConnectionListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/connections/{connectionName}" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitConnections" ],
        "description" : "Gets the specified Express Route Circuit Connection from the specified express route circuit.",
        "operationId" : "ExpressRouteCircuitConnections_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionName",
          "in" : "path",
          "description" : "The name of the express route circuit connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting Express Route Circuit Connection resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitConnection"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ExpressRouteCircuitConnections" ],
        "description" : "Creates or updates a Express Route Circuit Connection in the specified express route circuits.",
        "operationId" : "ExpressRouteCircuitConnections_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionName",
          "in" : "path",
          "description" : "The name of the express route circuit connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update express route circuit connection operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCircuitConnection"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting ExpressRouteCircuitPeering resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitConnection"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting ExpressRouteCircuitPeering resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitConnection"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ExpressRouteCircuitConnections" ],
        "description" : "Deletes the specified Express Route Circuit Connection from the specified express route circuit.",
        "operationId" : "ExpressRouteCircuitConnections_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionName",
          "in" : "path",
          "description" : "The name of the express route circuit connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/peerConnections" : {
      "get" : {
        "tags" : [ "PeerExpressRouteCircuitConnections" ],
        "description" : "Gets all global reach peer connections associated with a private peering in an express route circuit.",
        "operationId" : "PeerExpressRouteCircuitConnections_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of PeerExpressRouteCircuitConnections resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PeerExpressRouteCircuitConnectionListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/peerConnections/{connectionName}" : {
      "get" : {
        "tags" : [ "PeerExpressRouteCircuitConnections" ],
        "description" : "Gets the specified Peer Express Route Circuit Connection from the specified express route circuit.",
        "operationId" : "PeerExpressRouteCircuitConnections_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connectionName",
          "in" : "path",
          "description" : "The name of the peer express route circuit connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting Peer Express Route Circuit Connection resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PeerExpressRouteCircuitConnection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTables/{devicePath}" : {
      "post" : {
        "tags" : [ "ExpressRouteCircuitRoutesTable" ],
        "description" : "Gets the currently advertised routes table associated with the express route circuit in a resource group.",
        "operationId" : "ExpressRouteCircuits_ListRoutesTable",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "devicePath",
          "in" : "path",
          "description" : "The path of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCircuitsRouteTable resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitsRoutesTableListResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTablesSummary/{devicePath}" : {
      "post" : {
        "tags" : [ "ExpressRouteCircuitRoutesTableSummary" ],
        "description" : "Gets the currently advertised routes table summary associated with the express route circuit in a resource group.",
        "operationId" : "ExpressRouteCircuits_ListRoutesTableSummary",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "devicePath",
          "in" : "path",
          "description" : "The path of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCircuitsRoutesTableSummary resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitsRoutesTableSummaryListResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/stats" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitStats" ],
        "description" : "Gets all stats from an express route circuit in a resource group.",
        "operationId" : "ExpressRouteCircuits_GetPeeringStats",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCircuitStats resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitStats"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/stats" : {
      "get" : {
        "tags" : [ "ExpressRouteCircuitStats" ],
        "description" : "Gets all the stats from an express route circuit in a resource group.",
        "operationId" : "ExpressRouteCircuits_GetStats",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circuitName",
          "in" : "path",
          "description" : "The name of the express route circuit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCircuitStats resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCircuitStats"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AuthorizationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "The authorizations in an ExpressRoute Circuit.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
            }
          }
        },
        "description" : "Response for ListAuthorizations API service call retrieves all authorizations that belongs to an ExpressRouteCircuit."
      },
      "AuthorizationPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "authorizationKey" : {
            "type" : "string",
            "description" : "The authorization key."
          },
          "authorizationUseStatus" : {
            "type" : "string",
            "description" : "The authorization use status.",
            "enum" : [ "Available", "InUse" ]
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          }
        },
        "description" : "Properties of ExpressRouteCircuitAuthorization."
      },
      "CircuitConnectionStatus" : {
        "type" : "string",
        "description" : "Express Route Circuit connection state.",
        "enum" : [ "Connected", "Connecting", "Disconnected" ]
      },
      "ExpressRouteCircuit" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExpressRouteCircuitPropertiesFormat"
          },
          "sku" : {
            "$ref" : "#/components/schemas/ExpressRouteCircuitSku"
          }
        },
        "description" : "ExpressRouteCircuit resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "ExpressRouteCircuitArpTable" : {
        "type" : "object",
        "properties" : {
          "age" : {
            "type" : "integer",
            "description" : "Entry age in minutes.",
            "format" : "int32"
          },
          "interface" : {
            "type" : "string",
            "description" : "Interface address."
          },
          "ipAddress" : {
            "type" : "string",
            "description" : "The IP address."
          },
          "macAddress" : {
            "type" : "string",
            "description" : "The MAC address."
          }
        },
        "description" : "The ARP table associated with the ExpressRouteCircuit."
      },
      "ExpressRouteCircuitAuthorization" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/AuthorizationPropertiesFormat"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource.",
            "readOnly" : true
          }
        },
        "description" : "Authorization in an ExpressRouteCircuit resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "ExpressRouteCircuitConnection" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExpressRouteCircuitConnectionPropertiesFormat"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource.",
            "readOnly" : true
          }
        },
        "description" : "Express Route Circuit Connection in an ExpressRouteCircuitPeering resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "ExpressRouteCircuitConnectionListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "The global reach connection associated with Private Peering in an ExpressRoute Circuit.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCircuitConnection"
            }
          }
        },
        "description" : "Response for ListConnections API service call retrieves all global reach connections that belongs to a Private Peering for an ExpressRouteCircuit."
      },
      "ExpressRouteCircuitConnectionPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "addressPrefix" : {
            "type" : "string",
            "description" : "/29 IP address space to carve out Customer addresses for tunnels."
          },
          "authorizationKey" : {
            "type" : "string",
            "description" : "The authorization key."
          },
          "circuitConnectionStatus" : {
            "$ref" : "#/components/schemas/CircuitConnectionStatus"
          },
          "expressRouteCircuitPeering" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "peerExpressRouteCircuitPeering" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          }
        },
        "description" : "Properties of the express route circuit connection."
      },
      "ExpressRouteCircuitListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of ExpressRouteCircuits in a resource group.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCircuit"
            }
          }
        },
        "description" : "Response for ListExpressRouteCircuit API service call."
      },
      "ExpressRouteCircuitPeering" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExpressRouteCircuitPeeringPropertiesFormat"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource.",
            "readOnly" : true
          }
        },
        "description" : "Peering in an ExpressRouteCircuit resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "ExpressRouteCircuitPeeringConfig" : {
        "type" : "object",
        "properties" : {
          "advertisedCommunities" : {
            "type" : "array",
            "description" : "The communities of bgp peering. Specified for microsoft peering.",
            "items" : {
              "type" : "string"
            }
          },
          "advertisedPublicPrefixes" : {
            "type" : "array",
            "description" : "The reference of AdvertisedPublicPrefixes.",
            "items" : {
              "type" : "string"
            }
          },
          "advertisedPublicPrefixesState" : {
            "type" : "string",
            "description" : "The advertised public prefix state of the Peering resource.",
            "enum" : [ "NotConfigured", "Configuring", "Configured", "ValidationNeeded" ]
          },
          "customerASN" : {
            "type" : "integer",
            "description" : "The CustomerASN of the peering.",
            "format" : "int32"
          },
          "legacyMode" : {
            "type" : "integer",
            "description" : "The legacy mode of the peering.",
            "format" : "int32"
          },
          "routingRegistryName" : {
            "type" : "string",
            "description" : "The RoutingRegistryName of the configuration."
          }
        },
        "description" : "Specifies the peering configuration."
      },
      "ExpressRouteCircuitPeeringListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "The peerings in an express route circuit.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
            }
          }
        },
        "description" : "Response for ListPeering API service call retrieves all peerings that belong to an ExpressRouteCircuit."
      },
      "ExpressRouteCircuitPeeringPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "azureASN" : {
            "type" : "integer",
            "description" : "The Azure ASN.",
            "format" : "int32"
          },
          "connections" : {
            "type" : "array",
            "description" : "The list of circuit connections associated with Azure Private Peering for this circuit.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCircuitConnection"
            }
          },
          "expressRouteConnection" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The ID of the ExpressRouteConnection.",
                "readOnly" : true
              }
            },
            "description" : "The ID of the ExpressRouteConnection."
          },
          "gatewayManagerEtag" : {
            "type" : "string",
            "description" : "The GatewayManager Etag."
          },
          "ipv6PeeringConfig" : {
            "$ref" : "#/components/schemas/Ipv6ExpressRouteCircuitPeeringConfig"
          },
          "lastModifiedBy" : {
            "type" : "string",
            "description" : "Who was the last to modify the peering."
          },
          "microsoftPeeringConfig" : {
            "$ref" : "#/components/schemas/ExpressRouteCircuitPeeringConfig"
          },
          "peerASN" : {
            "maximum" : 4294967295,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The peer ASN.",
            "format" : "int64"
          },
          "peeredConnections" : {
            "type" : "array",
            "description" : "The list of peered circuit connections associated with Azure Private Peering for this circuit.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/PeerExpressRouteCircuitConnection"
            }
          },
          "peeringType" : {
            "$ref" : "#/components/schemas/ExpressRoutePeeringType"
          },
          "primaryAzurePort" : {
            "type" : "string",
            "description" : "The primary port."
          },
          "primaryPeerAddressPrefix" : {
            "type" : "string",
            "description" : "The primary address prefix."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "routeFilter" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "secondaryAzurePort" : {
            "type" : "string",
            "description" : "The secondary port."
          },
          "secondaryPeerAddressPrefix" : {
            "type" : "string",
            "description" : "The secondary address prefix."
          },
          "sharedKey" : {
            "type" : "string",
            "description" : "The shared key."
          },
          "state" : {
            "$ref" : "#/components/schemas/ExpressRoutePeeringState"
          },
          "stats" : {
            "$ref" : "#/components/schemas/ExpressRouteCircuitStats"
          },
          "vlanId" : {
            "type" : "integer",
            "description" : "The VLAN ID.",
            "format" : "int32"
          }
        },
        "description" : "Properties of the express route circuit peering."
      },
      "ExpressRouteCircuitPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "allowClassicOperations" : {
            "type" : "boolean",
            "description" : "Allow classic operations."
          },
          "authorizations" : {
            "type" : "array",
            "description" : "The list of authorizations.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCircuitAuthorization"
            }
          },
          "bandwidthInGbps" : {
            "type" : "number",
            "description" : "The bandwidth of the circuit when the circuit is provisioned on an ExpressRoutePort resource."
          },
          "circuitProvisioningState" : {
            "type" : "string",
            "description" : "The CircuitProvisioningState state of the resource."
          },
          "expressRoutePort" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "gatewayManagerEtag" : {
            "type" : "string",
            "description" : "The GatewayManager Etag."
          },
          "globalReachEnabled" : {
            "type" : "boolean",
            "description" : "Flag denoting Global reach status."
          },
          "peerings" : {
            "type" : "array",
            "description" : "The list of peerings.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCircuitPeering"
            }
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "serviceKey" : {
            "type" : "string",
            "description" : "The ServiceKey."
          },
          "serviceProviderNotes" : {
            "type" : "string",
            "description" : "The ServiceProviderNotes."
          },
          "serviceProviderProperties" : {
            "$ref" : "#/components/schemas/ExpressRouteCircuitServiceProviderProperties"
          },
          "serviceProviderProvisioningState" : {
            "$ref" : "#/components/schemas/ServiceProviderProvisioningState"
          },
          "stag" : {
            "type" : "integer",
            "description" : "The identifier of the circuit traffic. Outer tag for QinQ encapsulation.",
            "format" : "int32",
            "readOnly" : true
          }
        },
        "description" : "Properties of ExpressRouteCircuit."
      },
      "ExpressRouteCircuitRoutesTable" : {
        "type" : "object",
        "properties" : {
          "locPrf" : {
            "type" : "string",
            "description" : "Local preference value as set with the set local-preference route-map configuration command."
          },
          "network" : {
            "type" : "string",
            "description" : "IP address of a network entity."
          },
          "nextHop" : {
            "type" : "string",
            "description" : "NextHop address."
          },
          "path" : {
            "type" : "string",
            "description" : "Autonomous system paths to the destination network."
          },
          "weight" : {
            "type" : "integer",
            "description" : "Route Weight.",
            "format" : "int32"
          }
        },
        "description" : "The routes table associated with the ExpressRouteCircuit."
      },
      "ExpressRouteCircuitRoutesTableSummary" : {
        "type" : "object",
        "properties" : {
          "as" : {
            "type" : "integer",
            "description" : "Autonomous system number.",
            "format" : "int32"
          },
          "neighbor" : {
            "type" : "string",
            "description" : "IP address of the neighbor."
          },
          "statePfxRcd" : {
            "type" : "string",
            "description" : "Current state of the BGP session, and the number of prefixes that have been received from a neighbor or peer group."
          },
          "upDown" : {
            "type" : "string",
            "description" : "The length of time that the BGP session has been in the Established state, or the current status if not in the Established state."
          },
          "v" : {
            "type" : "integer",
            "description" : "BGP version number spoken to the neighbor.",
            "format" : "int32"
          }
        },
        "description" : "The routes table associated with the ExpressRouteCircuit."
      },
      "ExpressRouteCircuitServiceProviderProperties" : {
        "type" : "object",
        "properties" : {
          "bandwidthInMbps" : {
            "type" : "integer",
            "description" : "The BandwidthInMbps.",
            "format" : "int32"
          },
          "peeringLocation" : {
            "type" : "string",
            "description" : "The peering location."
          },
          "serviceProviderName" : {
            "type" : "string",
            "description" : "The serviceProviderName."
          }
        },
        "description" : "Contains ServiceProviderProperties in an ExpressRouteCircuit."
      },
      "ExpressRouteCircuitSku" : {
        "type" : "object",
        "properties" : {
          "family" : {
            "type" : "string",
            "description" : "The family of the SKU.",
            "enum" : [ "UnlimitedData", "MeteredData" ]
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the SKU."
          },
          "tier" : {
            "type" : "string",
            "description" : "The tier of the SKU.",
            "enum" : [ "Standard", "Premium", "Basic", "Local" ]
          }
        },
        "description" : "Contains SKU in an ExpressRouteCircuit."
      },
      "ExpressRouteCircuitStats" : {
        "type" : "object",
        "properties" : {
          "primarybytesIn" : {
            "type" : "integer",
            "description" : "The Primary BytesIn of the peering.",
            "format" : "int64"
          },
          "primarybytesOut" : {
            "type" : "integer",
            "description" : "The primary BytesOut of the peering.",
            "format" : "int64"
          },
          "secondarybytesIn" : {
            "type" : "integer",
            "description" : "The secondary BytesIn of the peering.",
            "format" : "int64"
          },
          "secondarybytesOut" : {
            "type" : "integer",
            "description" : "The secondary BytesOut of the peering.",
            "format" : "int64"
          }
        },
        "description" : "Contains stats associated with the peering."
      },
      "ExpressRouteCircuitsArpTableListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of the ARP tables.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCircuitArpTable"
            }
          }
        },
        "description" : "Response for ListArpTable associated with the Express Route Circuits API."
      },
      "ExpressRouteCircuitsRoutesTableListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "The list of routes table.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCircuitRoutesTable"
            }
          }
        },
        "description" : "Response for ListRoutesTable associated with the Express Route Circuits API."
      },
      "ExpressRouteCircuitsRoutesTableSummaryListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of the routes table.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCircuitRoutesTableSummary"
            }
          }
        },
        "description" : "Response for ListRoutesTable associated with the Express Route Circuits API."
      },
      "ExpressRoutePeeringState" : {
        "type" : "string",
        "description" : "The state of peering.",
        "enum" : [ "Disabled", "Enabled" ]
      },
      "ExpressRoutePeeringType" : {
        "type" : "string",
        "description" : "The peering type.",
        "enum" : [ "AzurePublicPeering", "AzurePrivatePeering", "MicrosoftPeering" ]
      },
      "ExpressRouteServiceProvider" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ExpressRouteServiceProviderPropertiesFormat"
          }
        },
        "description" : "A ExpressRouteResourceProvider object.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "ExpressRouteServiceProviderBandwidthsOffered" : {
        "type" : "object",
        "properties" : {
          "offerName" : {
            "type" : "string",
            "description" : "The OfferName."
          },
          "valueInMbps" : {
            "type" : "integer",
            "description" : "The ValueInMbps.",
            "format" : "int32"
          }
        },
        "description" : "Contains bandwidths offered in ExpressRouteServiceProvider resources."
      },
      "ExpressRouteServiceProviderListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "A list of ExpressRouteResourceProvider resources.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteServiceProvider"
            }
          }
        },
        "description" : "Response for the ListExpressRouteServiceProvider API service call."
      },
      "ExpressRouteServiceProviderPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "bandwidthsOffered" : {
            "type" : "array",
            "description" : "A list of bandwidths offered.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteServiceProviderBandwidthsOffered"
            }
          },
          "peeringLocations" : {
            "type" : "array",
            "description" : "A list of peering locations.",
            "items" : {
              "type" : "string"
            }
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          }
        },
        "description" : "Properties of ExpressRouteServiceProvider."
      },
      "Ipv6ExpressRouteCircuitPeeringConfig" : {
        "type" : "object",
        "properties" : {
          "microsoftPeeringConfig" : {
            "$ref" : "#/components/schemas/ExpressRouteCircuitPeeringConfig"
          },
          "primaryPeerAddressPrefix" : {
            "type" : "string",
            "description" : "The primary address prefix."
          },
          "routeFilter" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "secondaryPeerAddressPrefix" : {
            "type" : "string",
            "description" : "The secondary address prefix."
          },
          "state" : {
            "type" : "string",
            "description" : "The state of peering.",
            "enum" : [ "Disabled", "Enabled" ]
          }
        },
        "description" : "Contains IPv6 peering config."
      },
      "PeerExpressRouteCircuitConnection" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/PeerExpressRouteCircuitConnectionPropertiesFormat"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the resource.",
            "readOnly" : true
          }
        },
        "description" : "Peer Express Route Circuit Connection in an ExpressRouteCircuitPeering resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "PeerExpressRouteCircuitConnectionListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results."
          },
          "value" : {
            "type" : "array",
            "description" : "The global reach peer circuit connection associated with Private Peering in an ExpressRoute Circuit.",
            "items" : {
              "$ref" : "#/components/schemas/PeerExpressRouteCircuitConnection"
            }
          }
        },
        "description" : "Response for ListPeeredConnections API service call retrieves all global reach peer circuit connections that belongs to a Private Peering for an ExpressRouteCircuit."
      },
      "PeerExpressRouteCircuitConnectionPropertiesFormat" : {
        "type" : "object",
        "properties" : {
          "addressPrefix" : {
            "type" : "string",
            "description" : "/29 IP address space to carve out Customer addresses for tunnels."
          },
          "authResourceGuid" : {
            "type" : "string",
            "description" : "The resource guid of the authorization used for the express route circuit connection."
          },
          "circuitConnectionStatus" : {
            "$ref" : "#/components/schemas/CircuitConnectionStatus"
          },
          "connectionName" : {
            "type" : "string",
            "description" : "The name of the express route circuit connection resource."
          },
          "expressRouteCircuitPeering" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "peerExpressRouteCircuitPeering" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Resource ID."
              }
            },
            "description" : "Reference to another subresource."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          }
        },
        "description" : "Properties of the peer express route circuit connection."
      },
      "ServiceProviderProvisioningState" : {
        "type" : "string",
        "description" : "The ServiceProviderProvisioningState state of the resource.",
        "enum" : [ "NotProvisioned", "Provisioning", "Provisioned", "Deprovisioning" ]
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}