{"openapi":"3.0.1","info":{"title":"RecoveryServicesBackupClient","version":"2016-06-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/registeredIdentities/{identityName}":{"delete":{"tags":["ProtectionContainers"],"description":"Unregisters the given container from your Recovery Services vault.","operationId":"ProtectionContainers_Unregister","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},{"name":"identityName","in":"path","description":"Name of the protection container to unregister.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"NoContent"}},"deprecated":false}}},"components":{"parameters":{"ApiVersion":{"name":"api-version","in":"query","description":"Client API version.","required":true,"schema":{"type":"string"}},"ResourceGroupName":{"name":"resourceGroupName","in":"path","description":"The name of the resource group associated with the Recovery Services vault.","required":true,"schema":{"type":"string"}},"SubscriptionId":{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"schema":{"type":"string"}},"VaultName":{"name":"vaultName","in":"path","description":"The name of the Recovery Services vault.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}