{"openapi":"3.0.1","info":{"title":"ApplicationInsightsManagementClient","description":"Azure Application Insights client for Continuous Export of a component.","version":"2015-05-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/exportconfiguration":{"get":{"description":"Gets a list of Continuous Export configuration of an Application Insights component.","operationId":"ExportConfigurations_List","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list containing 0 or more Continuous Export configuration definitions of an Application Insights component.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentExportConfigurationListResult"}}}}}},"post":{"description":"Create a Continuous Export configuration of an Application Insights component.","operationId":"ExportConfigurations_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties that need to be specified to create a Continuous Export configuration of a Application Insights component.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentExportRequest"}}},"required":true},"responses":{"200":{"description":"A list containing the Continuous Export configuration definition created by this POST call.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentExportConfigurationListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/exportconfiguration/{exportId}":{"get":{"description":"Get the Continuous Export configuration for this export id.","operationId":"ExportConfigurations_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"exportId","in":"path","description":"The Continuous Export configuration ID. This is unique within a Application Insights component.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Continuous Export configuration for this export id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentExportConfiguration"}}}}}},"put":{"description":"Update the Continuous Export configuration for this export id.","operationId":"ExportConfigurations_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"exportId","in":"path","description":"The Continuous Export configuration ID. This is unique within a Application Insights component.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Properties that need to be specified to update the Continuous Export configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentExportRequest"}}},"required":true},"responses":{"200":{"description":"The Continuous Export configuration that was successfully updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentExportConfiguration"}}}}}},"delete":{"description":"Delete a Continuous Export configuration of an Application Insights component.","operationId":"ExportConfigurations_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}},{"name":"exportId","in":"path","description":"The Continuous Export configuration ID. This is unique within a Application Insights component.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The Continuous Export configuration that was successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationInsightsComponentExportConfiguration"}}}}}}}},"components":{"schemas":{"ApplicationInsightsComponentExportConfiguration":{"type":"object","properties":{"ApplicationName":{"type":"string","description":"The name of the Application Insights component.","readOnly":true},"ContainerName":{"type":"string","description":"The name of the destination storage container.","readOnly":true},"DestinationAccountId":{"type":"string","description":"The name of destination account.","readOnly":true},"DestinationStorageLocationId":{"type":"string","description":"The destination account location ID.","readOnly":true},"DestinationStorageSubscriptionId":{"type":"string","description":"The destination storage account subscription ID.","readOnly":true},"DestinationType":{"type":"string","description":"The destination type.","readOnly":true},"ExportId":{"type":"string","description":"The unique ID of the export configuration inside an Application Insights component. It is auto generated when the Continuous Export configuration is created.","readOnly":true},"ExportStatus":{"type":"string","description":"This indicates current Continuous Export configuration status. The possible values are 'Preparing', 'Success', 'Failure'.","readOnly":true},"InstrumentationKey":{"type":"string","description":"The instrumentation key of the Application Insights component.","readOnly":true},"IsUserEnabled":{"type":"string","description":"This will be 'true' if the Continuous Export configuration is enabled, otherwise it will be 'false'.","readOnly":true},"LastGapTime":{"type":"string","description":"The last time the Continuous Export configuration started failing.","readOnly":true},"LastSuccessTime":{"type":"string","description":"The last time data was successfully delivered to the destination storage container for this Continuous Export configuration.","readOnly":true},"LastUserUpdate":{"type":"string","description":"Last time the Continuous Export configuration was updated.","readOnly":true},"NotificationQueueEnabled":{"type":"string","description":"Deprecated"},"PermanentErrorReason":{"type":"string","description":"This is the reason the Continuous Export configuration started failing. It can be 'AzureStorageNotFound' or 'AzureStorageAccessDenied'.","readOnly":true},"RecordTypes":{"type":"string","description":"This comma separated list of document types that will be exported. The possible values include 'Requests', 'Event', 'Exceptions', 'Metrics', 'PageViews', 'PageViewPerformance', 'Rdd', 'PerformanceCounters', 'Availability', 'Messages'."},"ResourceGroup":{"type":"string","description":"The resource group of the Application Insights component.","readOnly":true},"StorageName":{"type":"string","description":"The name of the destination storage account.","readOnly":true},"SubscriptionId":{"type":"string","description":"The subscription of the Application Insights component.","readOnly":true}},"description":"Properties that define a Continuous Export configuration."},"ApplicationInsightsComponentExportConfigurationListResult":{"type":"array","description":"A list of Continuous Export configurations.","items":{"$ref":"#/components/schemas/ApplicationInsightsComponentExportConfiguration"}},"ApplicationInsightsComponentExportRequest":{"type":"object","properties":{"DestinationAccountId":{"type":"string","description":"The name of destination storage account."},"DestinationAddress":{"type":"string","description":"The SAS URL for the destination storage container. It must grant write permission."},"DestinationStorageLocationId":{"type":"string","description":"The location ID of the destination storage container."},"DestinationStorageSubscriptionId":{"type":"string","description":"The subscription ID of the destination storage container."},"DestinationType":{"type":"string","description":"The Continuous Export destination type. This has to be 'Blob'."},"IsEnabled":{"type":"string","description":"Set to 'true' to create a Continuous Export configuration as enabled, otherwise set it to 'false'."},"NotificationQueueEnabled":{"type":"string","description":"Deprecated"},"NotificationQueueUri":{"type":"string","description":"Deprecated"},"RecordTypes":{"type":"string","description":"The document types to be exported, as comma separated values. Allowed values include 'Requests', 'Event', 'Exceptions', 'Metrics', 'PageViews', 'PageViewPerformance', 'Rdd', 'PerformanceCounters', 'Availability', 'Messages'."}},"description":"An Application Insights component Continuous Export configuration request definition."}},"parameters":{"ExportId":{"name":"exportId","in":"path","description":"The Continuous Export configuration ID. This is unique within a Application Insights component.","required":true,"schema":{"type":"string"}},"ResourceNameParameter":{"name":"resourceName","in":"path","description":"The name of the Application Insights component resource.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}