{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AutomationManagement",
    "version" : "2015-10-31"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers" : {
      "get" : {
        "tags" : [ "Watcher" ],
        "description" : "Retrieve a list of watchers.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "operationId" : "Watcher_ListByAutomationAccount",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "The filter to apply on the operation.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WatcherListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}" : {
      "get" : {
        "tags" : [ "Watcher" ],
        "description" : "Retrieve the watcher identified by watcher name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "operationId" : "Watcher_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "watcherName",
          "in" : "path",
          "description" : "The watcher name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Watcher"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Watcher" ],
        "description" : "Create the watcher identified by watcher name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "operationId" : "Watcher_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "watcherName",
          "in" : "path",
          "description" : "The watcher name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The create or update parameters for watcher.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Watcher"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Watcher"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Watcher"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Watcher" ],
        "description" : "Delete the watcher by name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "operationId" : "Watcher_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "watcherName",
          "in" : "path",
          "description" : "The watcher name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Watcher" ],
        "description" : "Update the watcher identified by watcher name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "operationId" : "Watcher_Update",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "watcherName",
          "in" : "path",
          "description" : "The watcher name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The update parameters for watcher.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WatcherUpdateParameters"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Watcher"
                }
              }
            }
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}/start" : {
      "post" : {
        "tags" : [ "Watcher" ],
        "description" : "Resume the watcher identified by watcher name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "operationId" : "Watcher_Start",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "watcherName",
          "in" : "path",
          "description" : "The watcher name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}/stop" : {
      "post" : {
        "tags" : [ "Watcher" ],
        "description" : "Resume the watcher identified by watcher name.",
        "externalDocs" : {
          "url" : "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "operationId" : "Watcher_Stop",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure Resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._]+$",
            "type" : "string"
          }
        }, {
          "name" : "automationAccountName",
          "in" : "path",
          "description" : "The name of the automation account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "watcherName",
          "in" : "path",
          "description" : "The watcher name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "default" : {
            "description" : "Automation error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "Error code"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error message indicating why the operation failed."
                    }
                  },
                  "description" : "Error response of an operation failure"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Watcher" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "Gets or sets the etag of the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/WatcherProperties"
          }
        },
        "description" : "Definition of the watcher type.",
        "allOf" : [ {
          "properties" : {
            "location" : {
              "type" : "string",
              "description" : "The Azure Region where the resource lives"
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            }
          },
          "description" : "The resource model definition for a ARM tracked top level resource",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Fully qualified resource Id for the resource",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the resource.",
                "readOnly" : true
              }
            },
            "description" : "The core properties of ARM resources"
          } ]
        } ]
      },
      "WatcherListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Gets or sets the next link."
          },
          "value" : {
            "type" : "array",
            "description" : "Gets or sets a list of watchers.",
            "items" : {
              "$ref" : "#/components/schemas/Watcher"
            }
          }
        },
        "description" : "The response model for the list watcher operation."
      },
      "WatcherProperties" : {
        "type" : "object",
        "properties" : {
          "creationTime" : {
            "type" : "string",
            "description" : "Gets or sets the creation time.",
            "format" : "date-time",
            "nullable" : false,
            "readOnly" : true
          },
          "description" : {
            "type" : "string",
            "description" : "Gets or sets the description."
          },
          "executionFrequencyInSeconds" : {
            "type" : "integer",
            "description" : "Gets or sets the frequency at which the watcher is invoked.",
            "format" : "int64"
          },
          "lastModifiedBy" : {
            "type" : "string",
            "description" : "Details of the user who last modified the watcher.",
            "readOnly" : true
          },
          "lastModifiedTime" : {
            "type" : "string",
            "description" : "Gets or sets the last modified time.",
            "format" : "date-time",
            "nullable" : false,
            "readOnly" : true
          },
          "scriptName" : {
            "type" : "string",
            "description" : "Gets or sets the name of the script the watcher is attached to, i.e. the name of an existing runbook."
          },
          "scriptParameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Gets or sets the parameters of the script."
          },
          "scriptRunOn" : {
            "type" : "string",
            "description" : "Gets or sets the name of the hybrid worker group the watcher will run on."
          },
          "status" : {
            "type" : "string",
            "description" : "Gets the current status of the watcher.",
            "readOnly" : true
          }
        },
        "description" : "Definition of the watcher properties"
      },
      "WatcherUpdateParameters" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Gets or sets the name of the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/WatcherUpdateProperties"
          }
        }
      },
      "WatcherUpdateProperties" : {
        "type" : "object",
        "properties" : {
          "executionFrequencyInSeconds" : {
            "type" : "integer",
            "description" : "Gets or sets the frequency at which the watcher is invoked.",
            "format" : "int64"
          }
        },
        "description" : "The properties of the update watcher operation."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}