{"openapi":"3.0.1","info":{"title":"MySQLManagementClient","description":"The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.","version":"2018-06-01-privatepreview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/privateLinkResources":{"get":{"tags":["PrivateLinkResources"],"description":"Gets the private link resources for MySQL server.","operationId":"PrivateLinkResources_ListByServer","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved private link resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateLinkResourceListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/privateLinkResources/{groupName}":{"get":{"tags":["PrivateLinkResources"],"description":"Gets a private link resource for MySQL server.","operationId":"PrivateLinkResources_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},{"name":"groupName","in":"path","description":"The name of the private link resource.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved private link resources.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateLinkResource"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error response from the Batch service."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically."},"details":{"type":"array","description":"A list of additional details about the error.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface."},"target":{"type":"string","description":"The target of the particular error. For example, the name of the property in error."}},"description":"An error response from the Batch service."},"PrivateLinkResource":{"properties":{"properties":{"$ref":"#/components/schemas/PrivateLinkResourceProperties"}},"description":"A private link resource","allOf":[{"$ref":"#/components/schemas/ProxyResource"}]},"PrivateLinkResourceListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"Link to retrieve next page of results.","readOnly":true},"value":{"type":"array","description":"Array of results.","readOnly":true,"items":{"$ref":"#/components/schemas/PrivateLinkResource"}}},"description":"A list of private link resources"},"PrivateLinkResourceProperties":{"type":"object","properties":{"groupId":{"type":"string","description":"The private link resource group id.","readOnly":true},"requiredMembers":{"type":"array","description":"The private link resource required member names.","readOnly":true,"items":{"type":"string"}}},"description":"Properties of a private link resource."},"ProxyResource":{"description":"ARM proxy resource.","allOf":[{"$ref":"#/components/schemas/Resource"}]},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type.","readOnly":true}},"description":"ARM resource."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The API version to use for the request.","required":true,"schema":{"type":"string"}},"ResourceGroupParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.","required":true,"schema":{"type":"string"}},"ServerNameParameter":{"name":"serverName","in":"path","description":"The name of the server.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The subscription ID that identifies an Azure subscription.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}