{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MDES Customer Service",
    "description" : "This API provides our Issuer partners with resources to help resolve consumer queries about payment accounts enabled through our digitization platform.",
    "contact" : {
      "name" : "Mastercard API Support",
      "email" : "apisupport@mastercard.com"
    },
    "version" : "2.0.7"
  },
  "servers" : [ {
    "url" : "https://api.mastercard.com/mdes/csapi/v2"
  } ],
  "paths" : {
    "/accountholdermessaging" : {
      "post" : {
        "tags" : [ "Account Holder Messaging" ],
        "description" : "Allows issuers to display customized messages per token within the Apple Pay wallet, below the digitized image of the card.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountHolderMessagingRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountHolderMessagingResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search" : {
      "post" : {
        "tags" : [ "Search" ],
        "description" : "Provides the ability to search for tokens based on Account PAN, Alternate Account Identifier, Token Unique Reference, Token, Payment App Instance Id or Comment Id. Returns all of the tokens associated with an account according to the scope of the indicated search request criteria. The response includes key state and informational data for each token, including the Token Unique Reference which is needed for subsequent token lifecycle management activities.<br><br>_Notes:_ The Search API request MUST include only one of the available search methods Account PAN, Token Unique Reference, Token, Payment App Instance Id, Comment Id, or Alternate Account Identifier. They cannot be used together in a single request.<br> Moreover, this function only retrieves results if the search criteria matches a current value from the token vault. In other words, if the search criteria is a PAN that has been replaced, the system will not retrieve any data. \n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/systemstatus" : {
      "get" : {
        "tags" : [ "System Status" ],
        "description" : "Returns the overall system status of the Mastercard Digital Enablement Service.",
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemStatusResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/activate" : {
      "post" : {
        "tags" : [ "Token Activate" ],
        "description" : "Used to activate a token for a digitization that has been approved and provisioned, but requires additional cardholder authentication prior to activation. If the provisioning was not completed successfully, activation cannot be accomplished using Customer Service API. It is expected that a cardholder will complete the authentication process using an issuer's call center or using an issuer-supplied mobile application, and only then should the issuer use this API to activate the token.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenActivateRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenActivateResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/activationmethods" : {
      "post" : {
        "tags" : [ "Token Activation Methods" ],
        "description" : "Used to retrieve the available Activation Methods for a token that is awaiting activation. Activation Methods are the means by which a cardholder may complete cardholder authentication with the issuer beyond the scope of MDES. It is possible that there are no Activation Methods for a token when an issuer did not provide any cardholder-specific information with the Tokenization Authorization Request (TAR) pre-digitization network message response.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenActivationMethodsRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenActivationMethodsResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/comments" : {
      "post" : {
        "tags" : [ "Token Comments" ],
        "description" : "Used to retrieve all comments associated with a token. Typically the response includes comments created earlier by Issuer Customer Service representatives detailing additional information about a particular inquiry or event. There may also be comments with warnings of potential fraud. These comments are created automatically by the MDES system when a Token requestor indicates a high risk of fraud during digitization.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenCommentsRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenCommentsResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/delete" : {
      "post" : {
        "tags" : [ "Token Delete" ],
        "description" : "Used to delete a token so that it may not initiate any new transactions. All authorizations for a deleted token will be declined. A deleted token may not be returned to an active state.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenDeleteRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenDeleteResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/resendactivationcode" : {
      "post" : {
        "tags" : [ "Token Resend Activation Code" ],
        "description" : "Used to trigger the process of generating and sending a new Activation Code (for a specific token) to the cardholder via the requested Activation Method. When successful, a new Activation Code Expiration Date Time period will begin, and a new Activation Code will be sent to the issuer using the Activation Code Notification (ACN) pre-digitization network message. It can only be used to do this for Activation Methods that involve the external distribution of an Activation Code to the cardholder. For example, via email or SMS. It cannot be used to send a new activation code via the \"Mobile Application\" activation method, for instance. A new Activation Code can be sent even if the previous code has not expired. A new Activation Code can also be sent even after the previous code has expired; however, it can only be done up to 30 days after the token was created  (the number of days is subject to change at the discretion of Mastercard).\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenResendActivationCodeRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenResendActivationCodeResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/resetmobilepin" : {
      "post" : {
        "tags" : [ "Token Reset Mobile PIN" ],
        "description" : "Used to request that the Mobile PIN for a Mastercard Cloud-Based Payment token in a single issuer wallet is reset. The request is passed to the Credential Management System for processing. When the Mobile PIN is a token-level PIN (as opposed to a wallet-level PIN), the cardholder must choose a new PIN within 10 minutes of a Reset Mobile PIN action. Otherwise, the reset will need to be re-requested.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenResetMobilePinRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenResetMobilePinResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/statushistory" : {
      "post" : {
        "tags" : [ "Token Status History" ],
        "description" : "Used to retrieve the historical statuses and lifecycle events for a token, such as when it was initially activated, subsequently suspended or resumed, and finally deleted.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenStatusHistoryRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenStatusHistoryResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/suspend" : {
      "post" : {
        "tags" : [ "Token Suspend" ],
        "description" : "Used to suspend an active token so that it may not initiate any new transactions. All authorizations for a SUSPENDED token will be declined. Tokens may be suspended by multiple parties (suspenders) concurrently. The token status is updated from ACTIVE to SUSPENDED when the first suspender triggers a suspend action. Additional suspenders can add their suspend action to the list of suspenders. Suspenders can unsuspend only their own suspend action. All suspenders need to perform an unsuspend action to move a token from SUSPENDED to ACTIVE. The token status will only change when the last suspender has unsuspended the token. <br>For CoF tokens, the only two supported suspenders are issuer and token requestor. <br>For Apple Pay tokens, there are some differences in behavior versus the general principles. An issuer may add themselves as a suspender to a token already suspended by a cardholder, as above. However, a cardholder cannot suspend a token already suspended by the issuer. As a special case for Apple Pay, an issuer may unsuspend (override) a token already suspended by a cardholder. However, a cardholder cannot unsuspend a token already suspended by the issuer.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenSuspendRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenSuspendResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/unsuspend" : {
      "post" : {
        "tags" : [ "Token Unsuspend" ],
        "description" : "Used to unsuspend or resume a suspended token and return it to the active state where it may initiate new transactions. Tokens may be suspended by multiple parties (suspenders) concurrently. The token status is updated from ACTIVE to SUSPENDED when the first suspender triggers a suspend action. Additional suspenders can add their suspend action to the list of suspenders. Suspenders can unsuspend only their own suspend action. All suspenders need to perform an unsuspend action to move a token from SUSPENDED to ACTIVE. The token status will only change when the last suspender has unsuspended the token. <br>For CoF tokens, the only two supported suspenders are issuer and token requestor.<br>For Apple Pay tokens, there are some differences in behavior versus the general principles. An issuer may add themselves as a suspender to a token already suspended by a cardholder, as above. However, a cardholder cannot suspend a token already suspended by the issuer. As a special case for Apple Pay, an issuer may unsuspend (override) a token already suspended by a cardholder. However, a cardholder cannot unsuspend a token already suspended by the issuer.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenUnsuspendRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenUnsuspendResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/update" : {
      "post" : {
        "tags" : [ "Token Update" ],
        "description" : "Used to update Account PAN Mapping Information or Issuer Product Configuration ID associated to a provisioned token. To update a specific token, the API should be requested using the Token Unique Reference. To update all tokens mapped to a specific Account PAN, the API should be requested using the Account PAN. In either case, updates will only be applied to tokens in ACTIVE or SUSPENDED state, not those in IN PROGRESS or DELETED state. When updating Account PAN Mapping Information, the Account PAN, Expiration Date and Sequence Number, may be updated individually or in any combination. Only information provided will be updated. The account mapping will only update an Account PAN for a new Account PAN when they are both in the same Account Range.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenUpdateRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenUpdateResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions" : {
      "post" : {
        "tags" : [ "Transactions" ],
        "description" : "Used to retrieve transactions performed by a token. It only returns transactions performed within the last 30 days, to help identify a particular token, or to identify a particular recent transaction. It is not intended to provide the full transaction history of a token or Account PAN.<br><br>_Notes:_ The Transaction History API response is not supported for static Card on File (CoF) tokens.<br>If a set of tokens has been re-mapped to a new FPAN, all digital transactions will be made available before or after the FPAN has been updated. MDES does not return the value of the FPAN which was mapped to the particular token at the time of the transaction. However, MDES will return the history of all transactions performed on that particular token in the last 30 days, based on old and/or new FPAN.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TransactionsRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionsResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/updatetokenassurance" : {
      "post" : {
        "tags" : [ "Update Token Assurance" ],
        "description" : "Used after an issuer has performed additional cardholder authentication to indicate an increased level of token assurance. It will only be applied to tokens that actually have a Token Assurance Level, and those that are in ACTIVE or SUSPENDED state.\n",
        "requestBody" : {
          "description" : "Contains the details of the request message.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateTokenAssuranceRequestSchema"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Contains the details of the response message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateTokenAssuranceResponseSchema"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Account" : {
        "type" : "object",
        "properties" : {
          "AccountPanSuffix" : {
            "maxLength" : 4,
            "type" : "string",
            "description" : "Last 4 digits of Account PAN mapped (or to be mapped) to Token(s).",
            "example" : "1234"
          },
          "AlternateAccountIdentifierSuffix" : {
            "maxLength" : 4,
            "type" : "string",
            "description" : "Alternate Account Identifier is a cardholder friendly reference to a bank account. It is typically used to identify associated tokens when the cardholder is unaware of their Account PAN. The Alternate Account Identifier Suffix exposes just the last few characters of the full identifier in order to protect the full identifier from possible fraud.",
            "example" : "4300"
          },
          "ExpirationDate" : {
            "maxLength" : 4,
            "type" : "string",
            "description" : "Expiration date of Account PAN mapped (or to be mapped) to Token(s). 'MMYY' Format.",
            "example" : "1225"
          },
          "Tokens" : {
            "$ref" : "#/components/schemas/Tokens"
          }
        }
      },
      "AccountHolderMessagingRequest" : {
        "type" : "object",
        "properties" : {
          "AccountHolderMessagingRequest" : {
            "$ref" : "#/components/schemas/AccountHolderMessagingRequestSchema"
          }
        }
      },
      "AccountHolderMessagingRequestSchema" : {
        "required" : [ "AuditInfo", "IssuerApplicationMessageDisplay", "MessageExpiration", "MessageIdentifier", "MessageLanguageCode", "MessageText", "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "IssuerApplicationMessageDisplay" : {
            "maxLength" : 5,
            "minLength" : 4,
            "type" : "string",
            "description" : "This is the indicator if the message can be viewed in the Issuer Application using the MessageIdentifier. <br>Please refer to the Apple Card Notification Specification for Notification Deep Linking. Mandatory field.  Valid values are;<br>TRUE ? The message can be viewed in the issuer application<br>FALSE ? The message cannot be viewed in the issuer application.",
            "example" : "FALSE"
          },
          "MessageExpiration" : {
            "type" : "string",
            "description" : "Date and time after which the message is no longer valid.  Maximum value of 30 days in the future. Mandatory field.  __ISO 8601 format ? YYYY-MM-DDThh:mm:ssTZD__",
            "example" : "2020-06-18T18:04:35-00:00"
          },
          "MessageIdentifier" : {
            "maxLength" : 64,
            "type" : "string",
            "description" : "This is the message identifier. This could be used for linking into the issuer application. Mandatory field.",
            "example" : "6.598123486451347E27"
          },
          "MessageLanguageCode" : {
            "maxLength" : 3,
            "type" : "string",
            "description" : "The language of the message.  Only messages with the requested language code will be presented to the account holder. Mandatory field.  <br>__ISO 639-1 format__",
            "example" : "en"
          },
          "MessageText" : {
            "maxLength" : 128,
            "type" : "string",
            "description" : "This is the message which will be displayed to the cardholder. Mandatory field.",
            "example" : "You have earned a statement credit."
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "When present, the search will return one specific matching token. Cannot be used together with any of the following search request parameters; AccountPan, Token, PaymentAppInstanceId, CommentId, or AlternateAccountIdentifier. Mandatory field.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "AccountHolderMessagingResponse" : {
        "type" : "object",
        "properties" : {
          "Token" : {
            "$ref" : "#/components/schemas/TokenResponse"
          }
        }
      },
      "AccountHolderMessagingResponseSchema" : {
        "type" : "object",
        "properties" : {
          "AccountHolderMessagingResponse" : {
            "$ref" : "#/components/schemas/AccountHolderMessagingResponse"
          }
        }
      },
      "Accounts" : {
        "type" : "object",
        "properties" : {
          "Account" : {
            "type" : "array",
            "description" : "When searching by Account PAN or by Payment App Instance Id, the search response may contain more than one token. Each individual token can be updated during its lifetime and associated to a different Account PAN, or given a new Expiration Date. Different tokens within a single search response may therefore have different Account PANs and/or Expiration Dates. Account objects are used to group tokens that have exactly the same Account PAN and Account PAN Expiration Date.",
            "items" : {
              "$ref" : "#/components/schemas/Account"
            }
          }
        }
      },
      "ActivationMethod" : {
        "type" : "object",
        "properties" : {
          "ActivationMethodId" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Unique identifier of the activation method.",
            "example" : "123123122"
          },
          "ActivationMethodType" : {
            "maxLength" : 3,
            "type" : "string",
            "description" : "Type of activation method. Valid values:<br />    \"SMS\" ? Activation code sent in text message to masked mobile phone number<br />    \"EMA\" ? Activation code sent in email to masked email address<br />    \"ACC\" ? Cardholder to call automated call center phone number<br />    \"CLC\" ? Cardholder to call Call Center phone number<br />    \"WEB\" ? Website<br />    \"BAP\" ? Mobile application<br />    \"OBC\" ? Activation code spoken via call to cardholder on masked voice call phone number.",
            "example" : "CLC"
          },
          "ActivationMethodValue" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Activation method details value.",
            "example" : "555-123-4567"
          },
          "ResendIndicator" : {
            "maxLength" : 5,
            "minLength" : 4,
            "type" : "string",
            "description" : "Whether the activation method can be used to re-send an activation code. Valid values are TRUE and FALSE.",
            "example" : "false"
          }
        }
      },
      "ActivationMethods" : {
        "type" : "object",
        "properties" : {
          "ActivationMethod" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ActivationMethod"
            }
          }
        }
      },
      "AuditInfo" : {
        "required" : [ "Organization", "UserId", "UserName" ],
        "type" : "object",
        "properties" : {
          "Organization" : {
            "maxLength" : 200,
            "type" : "string",
            "description" : "Name of the Issuer or Processor to which the Customer Service Representative who triggered the API request belongs.",
            "example" : "Solid Bank Inc"
          },
          "Phone" : {
            "maxLength" : 20,
            "type" : "string",
            "description" : "Phone Number of the Customer Service Representative who triggered the API request.",
            "example" : "5555551234"
          },
          "UserId" : {
            "maxLength" : 50,
            "type" : "string",
            "description" : "User ID (as assigned by the Issuer/Processor) of the Customer Service Representative who triggered the API request.",
            "example" : "A1435477"
          },
          "UserName" : {
            "maxLength" : 200,
            "type" : "string",
            "description" : "User Name of the Customer Service Representative who triggered the API request.",
            "example" : "John Smith"
          }
        }
      },
      "Comment" : {
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "CommentDateTime" : {
            "type" : "string",
            "description" : "Date and time that the comment was updated. Format - YYYY-MM-DDThh:mm:ssTZD .",
            "example" : "2015-01-21T00:04:35.000Z"
          },
          "CommentId" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Identifier for the comment.",
            "example" : "ABC123456"
          },
          "CommentText" : {
            "maxLength" : 500,
            "type" : "string",
            "description" : "Comment text.",
            "example" : "Cardholder called to activate their digital card."
          }
        }
      },
      "Comments" : {
        "type" : "object",
        "properties" : {
          "Comment" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Comment"
            }
          }
        }
      },
      "Device" : {
        "type" : "object",
        "properties" : {
          "DeviceId" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Serial number of the device provisioned with the token. May be masked. Conditional field, not present for CoF tokens, and only present when provided by a Wallet Provider. May be masked (by the Wallet Provider).<br />Example (unmasked) \"C2ZBY14310005664\". Example (masked) \"xxxxY1431xxxxxxx\".",
            "example" : "C2ZBY14310005664"
          },
          "DeviceName" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Nickname of the device provisioned with the token. Conditional field, not present for CoF tokens, and only present when the Payment App Provider has implemented the 'Get Device Info' MDES API.",
            "example" : "John's phone"
          },
          "DeviceType" : {
            "maxLength" : 2,
            "type" : "string",
            "description" : "Type of the device provisioned with the token. Valid values:<br />    \"03\" - Watch<br />    \"09\" - Mobile Phone or Smartphone with a fixed (non-removable) secure element not controlled by the mobile network operator<br />    \"13\" - Tablet or e-reader with a fixed (non-removable) secure element not controlled by the mobile network operator<br />    \"14\" - Mobile phone or Smartphone with a payment application running in a host processor<br />    \"15\" - Tablet or E-Book with a payment application running in a host processor<br />    \"16\" ? Mobile Phone or Smartphone with a payment application running in the TEE of a host processor<br />    \"17\" ? Tablet or E-Book with a payment application running in the TEE of a host processor<br />    \"18\" ? Watch with a payment application running in the TEE of a host processor<br />    \"19\" ? Watch with a payment application running in a host processor.<br />    \"21\" ? Phone.<br />    \"22\" ? Tablet. <br />    \"23\" ? Watch.<br />    \"24\" ? Sticker.<br />    \"25\" ? Personal Computer.<br />    \"26\" ? Device Peripheral.<br />    \"27\" ? Tag.<br />    \"28\" ? Jewelry.<br />    \"29\" ?  Fashion Accessory.<br />    \"30\" ?  Garment.<br />    \"31\" ?  Domestic Appliance.<br />    \"32\" ?  Vehicle.<br />    \"33\" ?  Media or Gaming Device.<br />    \"99\" ?  Undefined.<br />Conditional field, not present for CoF tokens, and only present when supplied by the Payment App Provider.",
            "example" : "14"
          },
          "SecureElementId" : {
            "maxLength" : 128,
            "type" : "string",
            "description" : "Identifier of the secure element provisioned with the token. Conditional field, not present for CoF tokens, and only present when the token is provisioned to a secure element.",
            "example" : "92de9357a535b2c21a3566e446f43c532a46b54c46"
          }
        }
      },
      "Error" : {
        "type" : "object",
        "properties" : {
          "Description" : {
            "type" : "string",
            "description" : "A textual description of the error that is appropriate for logging and may communicate additional details related to the reason code.",
            "example" : "The date field is missing."
          },
          "ErrorCode" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "An identifier that represents additional detail for the reason of the error.",
            "example" : "DATE"
          },
          "ReasonCode" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Indicator that identifies the reason for the error.",
            "example" : "EMPTY_RESULT"
          },
          "Recoverable" : {
            "maxLength" : 5,
            "minLength" : 4,
            "type" : "string",
            "description" : "An indicator stating whether it is reasonable to retry a failed request.",
            "example" : "true"
          },
          "Source" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Unique identifier that attempts to define the field in error when available.  If a specific field can't be identified, \"System\" will be returned.",
            "example" : "Atms.Atm.Location.Address.Line1"
          }
        }
      },
      "Errors" : {
        "type" : "object",
        "properties" : {
          "Error" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      },
      "ErrorsResponse" : {
        "type" : "object",
        "properties" : {
          "Errors" : {
            "$ref" : "#/components/schemas/Errors"
          }
        }
      },
      "SearchRequest" : {
        "required" : [ "AuditInfo" ],
        "type" : "object",
        "properties" : {
          "AccountPan" : {
            "maxLength" : 19,
            "minLength" : 9,
            "type" : "string",
            "description" : "When present, the search will return tokens for the Account matching this Primary Account Number (PAN), for any Wallet Provider or device. Cannot be used together with any of the following search request.  parameters:TokenUniqueReference, Token, PaymentAppInstanceId, CommentId, or AlternateAccountIdentifier.",
            "example" : "5412345678901234"
          },
          "AlternateAccountIdentifier" : {
            "maxLength" : 64,
            "minLength" : 9,
            "type" : "string",
            "description" : "When present, the search will return tokens matching this Alternate Account Identifier, for any Wallet Provider or device. Space characters are not allowed. Cannot be used together with any of the following search request parameters; AccountPan, TokenUniqueReference, Token, PaymentAppInstanceId, or CommentId.",
            "example" : "NL91ABNA0417164300"
          },
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "CommentId" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "When present, the search will return one specific token linked to the comment. Cannot be used together with any of the following search request parameters; AccountPan, TokenUniqueReference, Token, PaymentAppInstanceId, or AlternateAccountIdentifier.",
            "example" : "123456"
          },
          "ExcludeDeletedIndicator" : {
            "type" : "string",
            "description" : "Indicates whether deleted tokens should be excluded from the search results. When omitted, deleted tokens are included in the results. \"true\" indicates deleted tokens are excluded from the search results. \"false\" means deleted tokens are included in the search results.",
            "example" : "true",
            "enum" : [ "true", "false" ]
          },
          "PaymentAppInstanceId" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "When present, the search will return tokens already present or to be provisioned to the specified Payment App instance.<br><br>_Note:_ This may contain the identifier of the Secure Element or a mobile device for some programs. Cannot be used together with any of the following search request parameters; AccountPan, TokenUniqueReference, Token, CommentId, or AlternateAccountIdentifier.",
            "example" : "645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e"
          },
          "Token" : {
            "maxLength" : 19,
            "minLength" : 9,
            "type" : "string",
            "description" : "When present, the search will return one specific token. Cannot be used together with any of the following search request parameters; AccountPan, TokenUniqueReference, PaymentAppInstanceId, CommentId, or AlternateAccountIdentifier.",
            "example" : "5598765432109876"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "When present, the search will return one specific matching token. Cannot be used together with any of the following search request parameters; AccountPan, Token, PaymentAppInstanceId, CommentId, or AlternateAccountIdentifier.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "SearchRequestSchema" : {
        "type" : "object",
        "properties" : {
          "SearchRequest" : {
            "$ref" : "#/components/schemas/SearchRequest"
          }
        }
      },
      "SearchResponse" : {
        "type" : "object",
        "properties" : {
          "Accounts" : {
            "$ref" : "#/components/schemas/Accounts"
          }
        }
      },
      "SearchResponseSchema" : {
        "type" : "object",
        "properties" : {
          "SearchResponse" : {
            "$ref" : "#/components/schemas/SearchResponse"
          }
        }
      },
      "SimpleTokenCommentResponse" : {
        "required" : [ "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "CommentId" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Identifier of the comment added. Only present when comment text was provided in the request.",
            "example" : "ABC123456"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "Unique reference to the Token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "SimpleTokenResponse" : {
        "type" : "object",
        "properties" : {
          "Token" : {
            "$ref" : "#/components/schemas/SimpleTokenCommentResponse"
          }
        }
      },
      "Status" : {
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "CommentId" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Identifier of the comment added.  Conditional field, only present when comment text was provided in the request.",
            "example" : "1234"
          },
          "Initiator" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "Party that initiated the status update. Valid values:<br />    \"I\" - Issuer.<br />    \"W\" - Token Requestor (including Wallet Provider).<br />    \"C\" - Cardholder.<br />    \"P\" - Mobile PIN Validation service.<br />    \"M\" - Mobile PIN Change Validation service.",
            "example" : "I"
          },
          "ReasonCode" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "Reason for the status update.  Valid values:<br />    \"A\" ? Cardholder successfully authenticated using a mobile App prior to activation.<br />    \"C\" ? Cardholder successfully authenticated with a customer service agent prior to activation. (For 'Token Activate').<br />    \"C\" ? Account closed. (For 'Token Delete').<br />    \"F\" ? Cardholder reported token device found or not stolen.<br />    \"L\" ? Cardholder reported/confirmed token device lost.<br />    \"S\" ? Cardholder reported/confirmed token device stolen.<br />    \"T\" ? Issuer or cardholder reported fraudulent/then confirmed no fraudulent token transactions.<br />    \"Z\" ? Other.",
            "example" : "Z"
          },
          "StatusCode" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "The status of the Token. Valid values:<br />    \"U\" - Unmapped. The token has not yet been linked to the Account PAN. The process of tokenization is ?In Progress?.<br />    \"A\" - Active. The token is linked to the Account PAN and may initiate new transactions to be authorized.<br />    \"S\" - Suspended. The token is linked to the Account PAN but may not perform transactions at the request of one or more suspenders.<br />    \"D\" - Deleted. The token is logically deleted but is still linked to the Account PAN for the purposes of post-authorization transaction processing.",
            "example" : "U"
          },
          "StatusDateTime" : {
            "type" : "string",
            "description" : "Date and time the status was updated. String, ISO 8691 format - YYYY-MM-DDThh:mm:ssTZD .",
            "example" : "2015-01-21T00:04:35.000Z"
          },
          "StatusDescription" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Description of the current status.",
            "example" : "Unmapped"
          }
        }
      },
      "Statuses" : {
        "type" : "object",
        "properties" : {
          "Status" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Status"
            }
          }
        }
      },
      "Suspenders" : {
        "type" : "object",
        "properties" : {
          "Suspender" : {
            "type" : "array",
            "description" : "Suspender(s) of the token when the token current status is SUSPENDED. Conditional field, only present when token mapping is suspended. Valid values:<br />    \"I\" - The issuer has requested token suspension.<br />    \"W\" - Token Requestor (including Wallet Provider) has requested token suspension.<br />    \"C\" - The cardholder has requested token suspension.<br />    \"P\" - The Mobile PIN Validation service has requested token suspension. Occurs when the cardholder has entered their Mobile PIN incorrectly too many times whilst performing a transaction.<br />    \"M\" - The Mobile PIN Change Validation service has requested token suspension. Occurs when the cardholder has entered their Mobile PIN incorrectly too many times whilst changing their mobile pin.",
            "items" : {
              "maxLength" : 1,
              "type" : "string",
              "example" : "I"
            }
          }
        }
      },
      "SystemStatusResponse" : {
        "type" : "object",
        "properties" : {
          "CommentText" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Comment regarding the status of the system.",
            "example" : "Mastercard Digital Enablement Service is fully operational"
          },
          "LastStatusDateTime" : {
            "type" : "string",
            "description" : "Date and time the status of the system was last updated. Format - YYYY-MM-DDThh:mm:ssTZD .",
            "example" : "2015-01-21T00:04:35.000Z"
          }
        }
      },
      "SystemStatusResponseSchema" : {
        "type" : "object",
        "properties" : {
          "SystemStatusResponse" : {
            "$ref" : "#/components/schemas/SystemStatusResponse"
          }
        }
      },
      "Token" : {
        "type" : "object",
        "properties" : {
          "AccountPanSequenceNumber" : {
            "maxLength" : 2,
            "type" : "string",
            "description" : "The Account PAN Sequence Number associated with a specific token, as provided to MDES previously by the issuer. It may be used to distinguish between multiple cardholders for a single Account PAN, to represent an issuance number of a specific card, or to distinguish between different card products, such as debit or credit, that share the same Account PAN. Conditional field, present when successfully assigned. Supported values - 00 to 99.",
            "example" : "59"
          },
          "ActivationCodeExpirationDateTime" : {
            "type" : "string",
            "description" : "Date and time when an Activation Code will expire. Conditional field, not present for CoF tokens, and only present when an Activation Code has been generated and activation has not yet occurred. The date and time may be in the future or past. string in ISO 8601 format ? YYYY-MM-DDThh:mm:ssTZD .",
            "example" : "2015-01-21T00:04:35.000Z"
          },
          "CorrelationId" : {
            "maxLength" : 14,
            "type" : "string",
            "description" : "Value linking pre-digitization messages generated during provisioning. Conditional field, not present for CoF tokens.",
            "example" : "98765432101234"
          },
          "CurrentStatusCode" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "Current status of the Token. Valid values:<br> \"U\" - Unmapped. The token has not yet been linked to the Account PAN. The process of tokenization is ?In Progress.'<br> \"A\" - Active. The token is linked to the Account PAN and may initiate new transactions to be authorized.<br> \"S\" - Suspended. The token is linked to the Account PAN but may not perform transactions at the request of one or more suspenders.<br> \"D\" - Deleted. The token is logically deleted but is still linked to the Account PAN for the purposes of post-authorization transaction processing.",
            "example" : "A"
          },
          "CurrentStatusDateTime" : {
            "type" : "string",
            "description" : "Date and time the status was updated.  string, ISO 8601 format ? YYYY-MM-DDThh:mm:ssTZD .",
            "example" : "2015-01-21T00:04:35.000Z"
          },
          "CurrentStatusDescription" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Description of the current status.",
            "example" : "Active"
          },
          "Device" : {
            "$ref" : "#/components/schemas/Device"
          },
          "DigitizationRequestDateTime" : {
            "type" : "string",
            "description" : "Date and time of the initial request for digitization of the Account PAN for this token. Conditional field, not present for CoF tokens. string, in ISO 8601 format ? YYYY-MM-DDThh:mm:ssTZD .",
            "example" : "2015-01-21T00:04:35.000Z"
          },
          "ExpirationDate" : {
            "maxLength" : 4,
            "type" : "string",
            "description" : "Expiration date of token. Conditional field, present once the token has been designated for the digitization. Four digit string. Format \"mmyy\".",
            "example" : "1026"
          },
          "FinalTokenizationDecision" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "Final decision related to the digitization of the Account PAN for this token. Valid values:<br />    \"D\" - Digitization was declined<br />    \"A\" - Digitization was approved<br />    \"R\" - Digitization was approved but required authentication prior to activation.<br />Conditional field, not present for CoF tokens.<br><br>_Note:_this information is currently subject to archival processes and will be present for only 1 year following digitization.",
            "example" : "A"
          },
          "LastCommentId" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Identifier of the last comment associated with the token.",
            "example" : "ABC123456"
          },
          "PaymentAppInstanceId" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "Identifier of the Payment App instance within a device that will be provisioned with a token.<br><br>_Note:_ This may contain the identifier of the Secure Element or a mobile device for some programs. Optional, not present for CoF tokens, and only present when supplied by the Payment App Provider.",
            "example" : "645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e"
          },
          "PrimaryAccountNumberUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "Unique reference to the Account PAN originally digitized. Conditional field, present when successfully assigned.",
            "example" : "FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3"
          },
          "ProvisioningStatusCode" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "Current provisioning status of the token. Valid values:<br />    \"P\" - Token being prepared<br />    \"T\" - Awaiting cardholder acceptance of Terms and Conditions<br />    \"D\" - Token being delivered to Wallet Provider or Device<br />    \"A\" - Awaiting Activation<br />    \"S\" - Provisioning successful<br />    \"F\" - Provisioning failed.<br /><br><br>_Note:_ The order of the statuses above does not indicate any order of status transitions. Conditional field, not present for CoF tokens.",
            "example" : "P"
          },
          "ProvisioningStatusDescription" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Description of the provisioning status. Conditional field, not present for CoF tokens.",
            "example" : "Provisioning successful"
          },
          "StorageTechnology" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "The architecture or technology used for token storage. Valid values:<br />    \"D\" - Device memory<br />    \"P\" - Device memory protected by Trusted Platform Module (TPM)<br />    \"H\" - Server<br />    \"E\" - Trusted Execution Environment (TEE)<br />    \"S\" - Secure Element (SE)<br />    \"V\" - Virtual Execution Environment (VEE).",
            "example" : "S"
          },
          "Suspenders" : {
            "$ref" : "#/components/schemas/Suspenders"
          },
          "TokenActivatedDateTime" : {
            "type" : "string",
            "description" : "Date and time that the token was activated. Conditional field, present only once the Token has been activated. string in ISO 8601 format ? YYYY-MM-DDThh:mm:ssTZD .",
            "example" : "2015-01-21T00:04:35.000Z"
          },
          "TokenAssuranceLevel" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "Indicates the level of Identification and Verification performed to validate the Cardholder and the Cardholder's account at the time the Token was issued (or at any subsquent time post-issuance).  Only present when a token has a Token Assurance Level assigned.  Supported values are 0 (Not Authenticated) and non-zero (Authenticated).",
            "example" : "1"
          },
          "TokenDeletedFromConsumerApp" : {
            "maxLength" : 5,
            "minLength" : 4,
            "type" : "string",
            "description" : "Indicates whether or not a token has been deleted from the consumer app by the token requestor.<br><br>_Note:_ This is a \"soft delete\" that does not affect the actual Token Status. The token may still be active in the system. Supported values - true, false.",
            "example" : "false"
          },
          "TokenRequestorConsumerFacingEntityName" : {
            "maxLength" : 100,
            "type" : "string",
            "description" : "The Token Service Provider name to be displayed to the consumer (consumer-facing name).",
            "example" : "Sunday Store"
          },
          "TokenRequestorId" : {
            "maxLength" : 11,
            "type" : "string",
            "description" : "Per EMV Co, the entity uniquely recognized by Mastercard as the Token Service Provider.",
            "example" : "212345678"
          },
          "TokenRequestorName" : {
            "maxLength" : 100,
            "type" : "string",
            "description" : "The legal name of the token requestor. There can be more than one Token Requestor Id per Token Requester Name (legal name). So it is important to use both parameters to uniquely identify a token requestor.",
            "example" : "Popular High Street Merchant"
          },
          "TokenSuffix" : {
            "maxLength" : 4,
            "type" : "string",
            "description" : "Last 4 digits of token in a 4 character string. Conditional field, present once the token has been designated for the digitization.",
            "example" : "7890"
          },
          "TokenType" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "Type of token. Valid values:<br />    \"S\" - Embedded Secure Element Token<br />    \"C\" - Mastercard Cloud-Based Payments token.<br />   F = Static token (deprecated)",
            "example" : "S"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "Unique reference to the token. Conditional field, present when successfully assigned.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          },
          "WalletId" : {
            "maxLength" : 3,
            "type" : "string",
            "description" : "Identifier of the Wallet Provider who requested the digitization or tokenization. Conditional field, not present for CoF tokens, and only present when supplied by the Payment App Provider.",
            "example" : "123"
          }
        }
      },
      "TokenActivateRequest" : {
        "required" : [ "AuditInfo", "ReasonCode" ],
        "type" : "object",
        "properties" : {
          "AccountPan" : {
            "maxLength" : 19,
            "minLength" : 9,
            "type" : "string",
            "description" : "The Account PAN of the token to be activated. Conditional field, must be present when PaymentAppInstanceId is present, must not be present when TokenUniqueReference is present.",
            "format" : "integer",
            "example" : "5412345678901234"
          },
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "CommentText" : {
            "maxLength" : 500,
            "type" : "string",
            "description" : "Comment related to activating this token.",
            "format" : "integer",
            "example" : "activated after confirming cardholder identity"
          },
          "PaymentAppInstanceId" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "Identifier of the Payment App instance within a device that will be provisioned with a token. <br><br>_Note:_ This may contain the identifier of the Secure Element or a mobile device for some programs. Conditional field, must be present when AccountPan is present. Must not be present when TokenUniqueReference is present.",
            "format" : "integer",
            "example" : "645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e"
          },
          "ReasonCode" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "Reason for the activation. Valid values:<br />    \"A\" = Cardholder successfully authenticated prior to activation.<br />    \"C\" = Cardholder successfully authenticated with a customer service agent prior to activation.",
            "example" : "A"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "minLength" : 9,
            "type" : "string",
            "description" : "TokenUniqueReference for the token to be activated. Conditional field, present when AccountPan and PaymentAppInstanceId are not present.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TokenActivateRequestSchema" : {
        "type" : "object",
        "properties" : {
          "TokenActivateRequest" : {
            "$ref" : "#/components/schemas/TokenActivateRequest"
          }
        }
      },
      "TokenActivateResponseSchema" : {
        "type" : "object",
        "properties" : {
          "TokenActivateResponse" : {
            "$ref" : "#/components/schemas/SimpleTokenResponse"
          }
        }
      },
      "TokenActivationMethodsRequest" : {
        "required" : [ "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "The TokenUniqueReference of the token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TokenActivationMethodsRequestSchema" : {
        "type" : "object",
        "properties" : {
          "TokenActivationMethodsRequest" : {
            "$ref" : "#/components/schemas/TokenActivationMethodsRequest"
          }
        }
      },
      "TokenActivationMethodsResponse" : {
        "type" : "object",
        "properties" : {
          "ActivationMethods" : {
            "$ref" : "#/components/schemas/ActivationMethods"
          }
        }
      },
      "TokenActivationMethodsResponseSchema" : {
        "type" : "object",
        "properties" : {
          "TokenActivationMethodsResponse" : {
            "$ref" : "#/components/schemas/TokenActivationMethodsResponse"
          }
        }
      },
      "TokenCommentsRequest" : {
        "required" : [ "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "The TokenUniqueReference of the token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TokenCommentsRequestSchema" : {
        "type" : "object",
        "properties" : {
          "TokenCommentsRequest" : {
            "$ref" : "#/components/schemas/TokenCommentsRequest"
          }
        }
      },
      "TokenCommentsResponse" : {
        "type" : "object",
        "properties" : {
          "Comments" : {
            "$ref" : "#/components/schemas/Comments"
          }
        }
      },
      "TokenCommentsResponseSchema" : {
        "type" : "object",
        "properties" : {
          "TokenCommentsResponse" : {
            "$ref" : "#/components/schemas/TokenCommentsResponse"
          }
        }
      },
      "TokenDeleteRequest" : {
        "required" : [ "AuditInfo", "ReasonCode", "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "CommentText" : {
            "maxLength" : 500,
            "type" : "string",
            "description" : "Comment related to deletion.",
            "example" : "Cardholder reported fraudulent transactions."
          },
          "ReasonCode" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "The reason for the action. Valid values:<br />    \"L\" - Cardholder confirmed token device lost<br />    \"S\" - Cardholder confirmed token device stolen<br />    \"F\" - Issuer or cardholder confirmed fraudulent token transactions (Deprecated)<br />    \"T\" - Issuer or cardholder confirmed fraudulent token transactions<br />    \"C\" - Account closed<br />    \"Z\" - Other",
            "example" : "C"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "The TokenUniqueReference of the token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TokenDeleteRequestSchema" : {
        "type" : "object",
        "properties" : {
          "TokenDeleteRequest" : {
            "$ref" : "#/components/schemas/TokenDeleteRequest"
          }
        }
      },
      "TokenDeleteResponseSchema" : {
        "type" : "object",
        "properties" : {
          "TokenDeleteResponse" : {
            "$ref" : "#/components/schemas/SimpleTokenResponse"
          }
        }
      },
      "TokenResendActivationCodeRequest" : {
        "required" : [ "ActivationMethodId", "AuditInfo", "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "ActivationMethodId" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Identifier of the activation method.",
            "example" : "123123122"
          },
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "TokenUniqueReference of the token. When present, the TUR field will be a 48 characters string.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TokenResendActivationCodeRequestSchema" : {
        "type" : "object",
        "properties" : {
          "TokenResendActivationCodeRequest" : {
            "$ref" : "#/components/schemas/TokenResendActivationCodeRequest"
          }
        }
      },
      "TokenResendActivationCodeResponse" : {
        "type" : "object",
        "properties" : {
          "Token" : {
            "$ref" : "#/components/schemas/TokenResendActivationCodeResponseToken"
          }
        }
      },
      "TokenResendActivationCodeResponseSchema" : {
        "type" : "object",
        "properties" : {
          "TokenResendActivationCodeResponse" : {
            "$ref" : "#/components/schemas/TokenResendActivationCodeResponse"
          }
        }
      },
      "TokenResendActivationCodeResponseToken" : {
        "type" : "object",
        "properties" : {
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "Unique reference to the Token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TokenResetMobilePinRequest" : {
        "required" : [ "AuditInfo", "ReasonCode", "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "CommentText" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Comment related to the token mobile PIN reset.",
            "example" : "Cardholder reported fraudulent transactions."
          },
          "ReasonCode" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "The reason for the action. Valid values:<br />    \"N\" - Cardholder requested new Mobile PIN<br />    \"R\" ? Mobile PIN try counter violation",
            "example" : "N"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "The TokenUniqueReference of the token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TokenResetMobilePinRequestSchema" : {
        "type" : "object",
        "properties" : {
          "TokenResetMobilePinRequest" : {
            "$ref" : "#/components/schemas/TokenResetMobilePinRequest"
          }
        }
      },
      "TokenResetMobilePinResponseSchema" : {
        "type" : "object",
        "properties" : {
          "TokenResetMobilePinResponse" : {
            "$ref" : "#/components/schemas/SimpleTokenResponse"
          }
        }
      },
      "TokenResponse" : {
        "required" : [ "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "Unique reference to the Token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TokenStatusHistoryRequest" : {
        "required" : [ "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "The TokenUniqueReference of the token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TokenStatusHistoryRequestSchema" : {
        "type" : "object",
        "properties" : {
          "TokenStatusHistoryRequest" : {
            "$ref" : "#/components/schemas/TokenStatusHistoryRequest"
          }
        }
      },
      "TokenStatusHistoryResponse" : {
        "type" : "object",
        "properties" : {
          "Statuses" : {
            "$ref" : "#/components/schemas/Statuses"
          }
        }
      },
      "TokenStatusHistoryResponseSchema" : {
        "type" : "object",
        "properties" : {
          "TokenStatusHistoryResponse" : {
            "$ref" : "#/components/schemas/TokenStatusHistoryResponse"
          }
        }
      },
      "TokenSuspendRequest" : {
        "required" : [ "AuditInfo", "ReasonCode", "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "CommentText" : {
            "maxLength" : 500,
            "type" : "string",
            "description" : "Comment related to suspension.",
            "example" : "Cardholder reported fraudulent transactions"
          },
          "ReasonCode" : {
            "maxLength" : 1,
            "minLength" : 1,
            "type" : "string",
            "description" : "The reason for the action. Valid values:<br />    \"L\" - Cardholder reported token device lost.<br />    \"S\" - Cardholder reported token device stolen.<br />    \"T\" - Issue or cardholder reported fraudulent token transactions.<br />    \"Z\" - Other.",
            "example" : "T"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "minLength" : 9,
            "type" : "string",
            "description" : "The TokenUniqueReference of the token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TokenSuspendRequestSchema" : {
        "type" : "object",
        "properties" : {
          "TokenSuspendRequest" : {
            "$ref" : "#/components/schemas/TokenSuspendRequest"
          }
        }
      },
      "TokenSuspendResponseSchema" : {
        "type" : "object",
        "properties" : {
          "TokenSuspendResponse" : {
            "$ref" : "#/components/schemas/SimpleTokenResponse"
          }
        }
      },
      "TokenUnsuspendRequest" : {
        "required" : [ "AuditInfo", "ReasonCode", "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "CommentText" : {
            "maxLength" : 500,
            "type" : "string",
            "description" : "Comment related to unsuspension.",
            "example" : "Cardholder reported fraudulent transactions."
          },
          "ReasonCode" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "The reason for the action. Valid values:<br />    \"F\" - Cardholder reported token device found or not stolen<br />    \"T\" - Issuer or cardholder confirmed no fraudulent token transactions<br />    \"Z\" - Other.",
            "example" : "F"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "The TokenUniqueReference of the token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TokenUnsuspendRequestSchema" : {
        "type" : "object",
        "properties" : {
          "TokenUnsuspendRequest" : {
            "$ref" : "#/components/schemas/TokenUnsuspendRequest"
          }
        }
      },
      "TokenUnsuspendResponseSchema" : {
        "type" : "object",
        "properties" : {
          "TokenUnsuspendResponse" : {
            "$ref" : "#/components/schemas/SimpleTokenResponse"
          }
        }
      },
      "TokenUpdateRequest" : {
        "required" : [ "AuditInfo" ],
        "type" : "object",
        "properties" : {
          "AccountPanSequenceNumber" : {
            "maxLength" : 2,
            "type" : "string",
            "description" : "New PAN sequence number to be applied to the updated token(s). Conditional field, must not be present when IssuerProductConfigurationId is present. Optional if updating PAN mapping or Expiration Date.",
            "example" : "59"
          },
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "CommentText" : {
            "maxLength" : 500,
            "type" : "string",
            "description" : "Comment related to the updated token(s).",
            "example" : "Update gold artwork"
          },
          "CurrentAccountPan" : {
            "maxLength" : 19,
            "minLength" : 9,
            "type" : "string",
            "description" : "Current Account PAN of the token(s) to be updated. Conditional field, used for updating all tokens mapped to a single Account PAN and must not be present when TokenUniqueReference is present.",
            "example" : "5412345678901234"
          },
          "ExpirationDate" : {
            "maxLength" : 4,
            "type" : "string",
            "description" : "New expiration date to be applied to the updated token(s). Conditional field, must not be present when IssuerProductConfigurationId is present. Optional if updating PAN mapping or PAN Sequence Number.",
            "example" : "1225"
          },
          "IssuerProductConfigurationId" : {
            "maxLength" : 10,
            "type" : "string",
            "description" : "New product configuration ID to be applied to the updated token(s). Conditional field, must not be present if any of the following are present; NewAccountPan, ExpirationDate, AccountPanSequenceNumber.",
            "example" : "ANYGOLD101"
          },
          "NewAccountPan" : {
            "maxLength" : 19,
            "minLength" : 9,
            "type" : "string",
            "description" : "New Account PAN to be applied to the updated token(s) if there is in fact a new Account PAN. Optional if updating Expiration Date or PAN Sequence Number.",
            "example" : "5412345678908888"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "Unique reference of the token to be updated. Conditional field, used for updating a single token and not used when CurrentAccountPan is present.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          },
          "UpdateWalletProviderIndicator" : {
            "maxLength" : 1,
            "type" : "string",
            "description" : "Indicates whether the updated token information should be provided to the Wallet Provider. Valid values:<br />    \"0\" - Pass the updated information to the Wallet Provider<br />    \"1\" - Do not pass the updated information to the Wallet Provider.<br />Optional parameter. The default is 1 if not present.",
            "example" : "0"
          }
        }
      },
      "TokenUpdateRequestSchema" : {
        "type" : "object",
        "properties" : {
          "TokenUpdateRequest" : {
            "$ref" : "#/components/schemas/TokenUpdateRequest"
          }
        }
      },
      "TokenUpdateResponse" : {
        "type" : "object",
        "properties" : {
          "Tokens" : {
            "$ref" : "#/components/schemas/TokenUpdateTokens"
          }
        }
      },
      "TokenUpdateResponseSchema" : {
        "type" : "object",
        "properties" : {
          "TokenUpdateResponse" : {
            "$ref" : "#/components/schemas/TokenUpdateResponse"
          }
        }
      },
      "TokenUpdateTokens" : {
        "type" : "object",
        "properties" : {
          "Token" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SimpleTokenCommentResponse"
            }
          }
        }
      },
      "Tokens" : {
        "type" : "object",
        "properties" : {
          "Token" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Token"
            }
          }
        }
      },
      "Transaction" : {
        "type" : "object",
        "properties" : {
          "CurrencyCode" : {
            "maxLength" : 3,
            "type" : "string",
            "description" : "ISO-4217 currency code (3-letter alphabetic currency code).",
            "example" : "USD"
          },
          "MerchantCategoryCode" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Merchant category of the merchant. Conditional field. When available, it must be included in the response.",
            "example" : "1234"
          },
          "MerchantCategoryDescription" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Description of the merchant category.",
            "example" : "GROCERY STORES, SUPERMARKETS"
          },
          "MerchantName" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Name of the merchant. Conditional field. When available, it must be included in the response.",
            "example" : "FoodMart"
          },
          "POSEntryMode" : {
            "maxLength" : 2,
            "type" : "string",
            "description" : "Indicates the mode by which transaction data was collected at the merchant. Conditional field. When available, it must be included in the response.  Valid values:<br />    \"07\" - Contactless M/Chip transaction<br />    \"09\" - Digital Secure Remote Payment containing EMV data<br />    \"81\" - Digital Secure Remote Payment containing UCAF data or CoF<br />    \"82\" - CoF - PAN auto entry via server<br />    \"90\" - Dynamic Magnetic Strip Data<br />    \"91\" - Contactless magnetic stripe",
            "example" : "90"
          },
          "TransactionAmount" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Amount of the transaction formatted with decimal places.",
            "example" : "123.45"
          },
          "TransactionDateTime" : {
            "type" : "string",
            "description" : "Date and time the comment was updated. String, YYYY-MM-DDThh:mm:ssTZD.",
            "example" : "2015-01-21T00:04:35.000Z"
          },
          "TransactionStatusCode" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Transaction status. Valid values:<br />    \"AUTH\" = Authorized<br />    \"COMP\" = Completed<br />    \"DCLN\" = Declined<br />    \"PAUTH\" = Pre-Authorized<br />    \"PAUTC\" = Pre-Authorization Completed<br />    \"PAUTD\" = Pre-Authorization Declined<br />    \"REFND\" = Refunded",
            "example" : "AUTH"
          },
          "TransactionTypeCode" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Type of transaction. Valid values:<br />    \"PURCH\" = Purchase<br />    \"PURCB\" = Purchase with Cashback<br />    \"REFND\" = Refund<br />    \"AFD\" = Purchase Pre-Auth AFD<br />    \"CLRRF\" = Clearing Refund<br />    \"NAFD\" = Purchase Pre-Auth Non-AFD<br />    \"PYMT\" = Push Payments.",
            "example" : "PURCH"
          },
          "TransactionTypeDescription" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Description of the transaction type.",
            "example" : "Purchase"
          }
        }
      },
      "Transactions" : {
        "type" : "object",
        "properties" : {
          "Transaction" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Transaction"
            }
          }
        }
      },
      "TransactionsRequest" : {
        "required" : [ "AuditInfo", "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "The TokenUniqueReference of the token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "TransactionsRequestSchema" : {
        "type" : "object",
        "properties" : {
          "TransactionsRequest" : {
            "$ref" : "#/components/schemas/TransactionsRequest"
          }
        }
      },
      "TransactionsResponse" : {
        "type" : "object",
        "properties" : {
          "Transactions" : {
            "$ref" : "#/components/schemas/Transactions"
          }
        }
      },
      "TransactionsResponseSchema" : {
        "type" : "object",
        "properties" : {
          "TransactionsResponse" : {
            "$ref" : "#/components/schemas/TransactionsResponse"
          }
        }
      },
      "UpdateTokenAssuranceRequest" : {
        "required" : [ "AuditInfo", "TokenUniqueReference" ],
        "type" : "object",
        "properties" : {
          "AuditInfo" : {
            "$ref" : "#/components/schemas/AuditInfo"
          },
          "CommentText" : {
            "maxLength" : 0,
            "type" : "string",
            "description" : "Comment related to the update.",
            "example" : "Cardholder and account verified."
          },
          "TokenUniqueReference" : {
            "maxLength" : 48,
            "type" : "string",
            "description" : "The TokenUniqueReference of the token.",
            "example" : "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
          }
        }
      },
      "UpdateTokenAssuranceRequestSchema" : {
        "type" : "object",
        "properties" : {
          "UpdateTokenAssuranceRequest" : {
            "$ref" : "#/components/schemas/UpdateTokenAssuranceRequest"
          }
        }
      },
      "UpdateTokenAssuranceResponseSchema" : {
        "type" : "object",
        "properties" : {
          "UpdateTokenAssuranceResponse" : {
            "$ref" : "#/components/schemas/SimpleTokenResponse"
          }
        }
      }
    }
  }
}