{"openapi":"3.0.1","info":{"title":"Billbee API","description":"Documentation of the Billbee REST API to connect a Billbee account to external aplications.\n\n## Endpoint\n\nThe Billbee API endpoint base url is https://app.billbee.io/api/v1 \n\n## Activation\n\nYou have to enable the API in the settings of your Billbee account. In addition you need a Billbee API Key identifying the application you develop. To get an API key, send a mail to support@billbee.io and send us a short note about what you are building.\n\n## Authorization & security\n\nBecause you can access private data with the Billbee API, every request has to be sent over https and must\n\n* Contain a valid API Key identifying the application/developer. It has to be sent as the HTTP header X-Billbee-Api-Key\n* Contain a valid user login with billbee username and api password in form of a basic auth HTTP header\n\n## Throttling\n\nEach endpoint has a throttle of max 2 requests per second per combination of API Key and Billbee user.\n\nWhen you exceed these 2 calls, the API will return a HTTP 429 status code\n\n","contact":{"name":"Billbee GmbH","url":"https://www.billbee.io","email":"support@billbee.io"},"version":"v1"},"servers":[{"url":"https://app.billbee.io/"}],"paths":{"/api/v1/automaticprovision/createaccount":{"post":{"tags":["Provisioning"],"summary":"Creates a new Billbee user account with the data passed","operationId":"AutomaticProvisioning_CreateAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/automaticprovision/termsinfo":{"get":{"tags":["Provisioning"],"summary":"Returns infos about Billbee terms and conditions","operationId":"AutomaticProvisioning_TermsInfo","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/cloudstorages":{"get":{"tags":["CloudStorage"],"summary":"Gets a list of all connected cloud storage devices","operationId":"CloudStorageApi_GetList","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel]]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel]]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel]]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel]]"}}}}}}},"/api/v1/customer-addresses":{"get":{"tags":["CustomerAddresses"],"summary":"Get a list of all customer addresses","operationId":"CustomerAddresses_GetAll","parameters":[{"name":"page","in":"query","description":"The current page to request starting with 1 (default is 1)","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"The page size for the result list. Values between 1 and 250 are allowed. (default is 50)","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]"}}}}}},"post":{"tags":["CustomerAddresses"],"summary":"Creates a new customer address","operationId":"CustomerAddresses_Create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}}}}}}},"/api/v1/customer-addresses/{id}":{"get":{"tags":["CustomerAddresses"],"summary":"Queries a single customer address by id","operationId":"CustomerAddresses_GetOne","parameters":[{"name":"id","in":"path","description":"The id of the address to query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}}}}}},"put":{"tags":["CustomerAddresses"],"summary":"Updates a customer address by id","operationId":"CustomerAddresses_Update","parameters":[{"name":"id","in":"path","description":"The id of the address","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}}}}}}},"/api/v1/customers":{"get":{"tags":["Customers"],"summary":"Get a list of all customers","operationId":"Customer_GetAll","parameters":[{"name":"page","in":"query","description":"The current page to request starting with 1","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"The pagesize for the result list. Values between 1 and 250 are allowed","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]]"}}}}}},"post":{"tags":["Customers"],"summary":"Creates a new customer","operationId":"Customer_Create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}}}}}}},"/api/v1/customers/addresses/{id}":{"get":{"tags":["Customers"],"summary":"Queries a single address from a customer","operationId":"Customer_GetCustomerAddress","parameters":[{"name":"id","in":"path","description":"The id of the address","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}}}}}},"put":{"tags":["Customers"],"summary":"Updates all fields of an address","description":"Id and CustomerId cannot be changed. Fields you do not send will become empty.","operationId":"Customer_UpdateAddress","parameters":[{"name":"id","in":"path","description":"The id of the address","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"The updated address. Please query an address via (todo) to see all fields. Note that Id and CustomerId cannot be changed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}}}}}},"patch":{"tags":["Customers"],"summary":"Updates one or more fields of an address","description":"Id and CustomerId cannot be changed","operationId":"Customer_PatchAddress","parameters":[{"name":"id","in":"path","description":"The id of the address","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"The address fields to be changed. Please query an address via (todo) to see all fields. Note that Id and CustomerId cannot be changed.","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/x-www-form-urlencoded":{"schema":{"type":"object"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}}}}}}},"/api/v1/customers/{id}":{"get":{"tags":["Customers"],"summary":"Queries a single customer by id","operationId":"Customer_GetOne","parameters":[{"name":"id","in":"path","description":"The id of the customer to query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}}}}}},"put":{"tags":["Customers"],"summary":"Updates a customer by id","operationId":"Customer_Update","parameters":[{"name":"id","in":"path","description":"The id of the customer","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]"}}}}}}},"/api/v1/customers/{id}/addresses":{"get":{"tags":["Customers"],"summary":"Queries a list of addresses from a customer","operationId":"Customer_GetCustomerAddresses","parameters":[{"name":"id","in":"path","description":"The id of the customer","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"The current page to request starting with 1","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"The pagesize for the result list. Values between 1 and 250 are allowed","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]"}}}}}},"post":{"tags":["Customers"],"summary":"Adds a new address to a customer","description":"Id and  CustomerId will be ignored in model. If Id is set, the addition will be stopped.","operationId":"Customer_AddCustomerAddress","parameters":[{"name":"id","in":"path","description":"CustomerId to attach the new address to.","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Model containing the address, that should be attached.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]"}}}}}}},"/api/v1/customers/{id}/orders":{"get":{"tags":["Customers"],"summary":"Queries a list of orders from a customer","operationId":"Customer_GetCustomerOrders","parameters":[{"name":"id","in":"path","description":"The id of the customer","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"The current page to request starting with 1","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"The pagesize for the result list. Values between 1 and 250 are allowed","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Rechnungsdruck.WebApp.Controllers.Api.Order]]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Rechnungsdruck.WebApp.Controllers.Api.Order]]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Rechnungsdruck.WebApp.Controllers.Api.Order]]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Rechnungsdruck.WebApp.Controllers.Api.Order]]"}}}}}}},"/api/v1/enums/orderstates":{"get":{"tags":["EnumApi"],"summary":"Returns a list with all defined orderstates","operationId":"EnumApi_GetOrderStates","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/enums/paymenttypes":{"get":{"tags":["EnumApi"],"summary":"Returns a list with all defined paymenttypes","operationId":"EnumApi_GetPaymentTypes","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/enums/shipmenttypes":{"get":{"tags":["EnumApi"],"summary":"Returns a list with all defined shipmenttypes","operationId":"EnumApi_GetShipmentTypes","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/enums/shippingcarriers":{"get":{"tags":["EnumApi"],"summary":"Returns a list with all defined shippingcarriers","operationId":"EnumApi_GetShippingCarriers","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/events":{"get":{"tags":["Events"],"summary":"Get a list of all events optionally filtered by date. This request is extra throttled to 2 calls per page per hour.","operationId":"EventApi_GetList","parameters":[{"name":"minDate","in":"query","description":"Specifies the oldest date to include in the response","schema":{"type":"string","format":"date-time"}},{"name":"maxDate","in":"query","description":"Specifies the newest date to include in the response","schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"Specifies the page to request","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"Specifies the pagesize. Defaults to 50, max value is 250","schema":{"type":"integer","format":"int32"}},{"name":"typeId","in":"query","description":"Filter for specific event types","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"orderId","in":"query","description":"Filter for specific order id","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/layouts":{"get":{"tags":["Orders"],"operationId":"LayoutApi_GetList","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate]]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate]]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate]]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate]]"}}}}}}},"/api/v1/orders":{"get":{"tags":["Orders"],"summary":"Get a list of all orders optionally filtered by date","operationId":"OrderApi_GetList","parameters":[{"name":"minOrderDate","in":"query","description":"Specifies the oldest order date to include in the response","schema":{"type":"string","format":"date-time"}},{"name":"maxOrderDate","in":"query","description":"Specifies the newest order date to include in the response","schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"Specifies the page to request","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"Specifies the pagesize. Defaults to 50, max value is 250","schema":{"type":"integer","format":"int32"}},{"name":"shopId","in":"query","description":"Specifies a list of shop ids for which invoices should be included","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"orderStateId","in":"query","description":"Specifies a list of state ids to include in the response","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"tag","in":"query","description":"Specifies a list of tags the order must have attached to be included in the response","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"minimumBillBeeOrderId","in":"query","description":"If given, all delivered orders have an Id greater than or equal to the given minimumOrderId","schema":{"type":"integer","format":"int64"}},{"name":"modifiedAtMin","in":"query","description":"If given, the last modification has to be newer than the given date","schema":{"type":"string","format":"date-time"}},{"name":"modifiedAtMax","in":"query","description":"If given, the last modification has to be older or equal than the given date.","schema":{"type":"string","format":"date-time"}},{"name":"articleTitleSource","in":"query","description":"The source field for the article title. 0 = Order Position (default), 1 = Article Title, 2 = Article Invoice Text","schema":{"type":"integer","format":"int32","enum":[0,1,2,3]}},{"name":"excludeTags","in":"query","description":"If true the list of tags passed to the call are used to filter orders to not include these tags","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Order]]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Order]]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Order]]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Order]]"}}}}}},"post":{"tags":["Orders"],"summary":"Creates a new order in the Billbee account","description":"To create an order POST an JSON object to the orders endpoint with the shown properties.\r\nNot all properties are required.","operationId":"OrderApi_PostNewOrder","parameters":[{"name":"shopId","in":"query","description":"Deprecated, if orderData.ApiAccountId is set, it will be used instead of 'shopId'","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"}}},"required":true},"responses":{"201":{"description":"The order was created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}}}},"400":{"description":"Invalid data was received in the request"},"500":{"description":"An internal exception occured. Order was not created"}}}},"/api/v1/orders/CreateDeliveryNote/{id}":{"post":{"tags":["Orders","DeliveryNote"],"summary":"Create an delivery note for an existing order. This request is extra throttled by order and api key to a maximum of 1 per 5 minutes.","operationId":"OrderApi_CreateDeliveryNote","parameters":[{"name":"id","in":"path","description":"The internal billbee id of the order","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"includePdf","in":"query","description":"If true, the PDF is included in the response as base64 encoded string","schema":{"type":"boolean"}},{"name":"sendToCloudId","in":"query","description":"Optionally specify the id of a billbee connected cloud device to send the pdf to","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/orders/CreateInvoice/{id}":{"post":{"tags":["Orders","Invoice"],"summary":"Create an invoice for an existing order. This request is extra throttled by order and api key to a maximum of 1 per 5 minutes.","operationId":"OrderApi_CreateInvoice","parameters":[{"name":"id","in":"path","description":"The internal billbee id of the order","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"includeInvoicePdf","in":"query","description":"If true, the PDF is included in the response as base64 encoded string","schema":{"type":"boolean"}},{"name":"templateId","in":"query","description":"You can pass the id of an invoice template to overwrite the assigned template for invoice creation","schema":{"type":"integer","format":"int64"}},{"name":"sendToCloudId","in":"query","description":"You can pass the id of a connected cloud printer/storage to send the invoice to it","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/orders/PatchableFields":{"get":{"tags":["Orders"],"summary":"Returns a list of fields which can be updated with the orders/{id} patch call","operationId":"OrderApi_GetPatchableFields","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/orders/find/{id}/{partner}":{"get":{"tags":["Orders"],"summary":"Find a single order by its external id (order number)","operationId":"OrderApi_Find","parameters":[{"name":"id","in":"path","description":"The order id from the external system","required":true,"schema":{"type":"string"}},{"name":"partner","in":"path","description":"Optional the name of the shop/marketplace the order was imported from","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}},"deprecated":true}},"/api/v1/orders/findbyextref/{extRef}":{"get":{"tags":["Orders"],"summary":"Get a single order by its external order number","operationId":"OrderApi_GetByExtRef","parameters":[{"name":"extRef","in":"path","description":"The extern order number of the order","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}}}}}}},"/api/v1/orders/invoices":{"get":{"tags":["Orders","Invoice"],"summary":"Get a list of all invoices optionally filtered by date. This request ist throttled to 1 per 1 minute for same page and minInvoiceDate","operationId":"OrderApi_GetInvoiceList","parameters":[{"name":"minInvoiceDate","in":"query","description":"Specifies the oldest invoice date to include","schema":{"type":"string","format":"date-time"}},{"name":"maxInvoiceDate","in":"query","description":"Specifies the newest invoice date to include","schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"Specifies the page to request","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"Specifies the pagesize. Defaults to 50, max value is 250","schema":{"type":"integer","format":"int32"}},{"name":"shopId","in":"query","description":"Specifies a list of shop ids for which invoices should be included","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"orderStateId","in":"query","description":"Specifies a list of state ids to include in the response","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"tag","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"minPayDate","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"maxPayDate","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"includePositions","in":"query","schema":{"type":"boolean"}},{"name":"excludeTags","in":"query","description":"If true the list of tags passed to the call are used to filter orders to not include these tags","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/orders/{id}":{"get":{"tags":["Orders"],"summary":"Get a single order by its internal billbee id. This request is throttled to 6 calls per order in one minute","operationId":"OrderApi_Get","parameters":[{"name":"id","in":"path","description":"The internal billbee id of the order","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"articleTitleSource","in":"query","description":"The source field for the article title. 0 = Order Position (default), 1 = Article Title, 2 = Article Invoice Text","schema":{"type":"integer","format":"int32","enum":[0,1,2,3]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}}}}}},"patch":{"tags":["Orders"],"summary":"Updates one or more fields of an order","operationId":"OrderApi_PatchOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/x-www-form-urlencoded":{"schema":{"type":"object"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.Order]"}}}}}}},"/api/v1/orders/{id}/orderstate":{"put":{"tags":["Orders"],"summary":"Changes the main state of a single order","description":"### REMARKS ###\r\nUse this call to change the state of an order to i.e. paid or sent.\r\n\r\nThe state is transfered to the external shop/marketplace if configured.\r\nThis is the list of known states:\r\n- 1: ordered\r\n- 2: confirmed\r\n- 3: paid\r\n- 4: shipped\r\n- 5: reclamation\r\n- 6: deleted\r\n- 7: closed\r\n- 8: canceled\r\n- 9: archived\r\n- 10: not used\r\n- 11: demand note 1\r\n- 12: demand note 2\r\n- 13: packed\r\n- 14: offered\r\n- 15: payment reminder\r\n- 16: fulfilling","operationId":"OrderApi_UpdateState","parameters":[{"name":"id","in":"path","description":"The internal id of the order","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"The data used to change the state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/orders/{id}/parse-placeholders":{"post":{"tags":["Orders"],"summary":"Parses a text and replaces all placeholders","operationId":"OrderApi_ParsePlaceholders","parameters":[{"name":"id","in":"path","description":"The id of the order","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/orders/{id}/send-message":{"post":{"tags":["Orders"],"summary":"Sends a message to the buyer","operationId":"OrderApi_SendMessage","parameters":[{"name":"id","in":"path","description":"The id of the order","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"The message model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/orders/{id}/shipment":{"post":{"tags":["Orders"],"summary":"Add a shipment to a given order","operationId":"OrderApi_AddShipment","parameters":[{"name":"id","in":"path","description":"The internal billbee id of the order","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"The shipment data to create the shipment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/orders/{id}/tags":{"put":{"tags":["Orders"],"summary":"Updates/Sets the tags attached to an order","operationId":"OrderApi_TagsUpdate","parameters":[{"name":"id","in":"path","description":"The internal id of the order","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Tags to attach","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}},"post":{"tags":["Orders"],"summary":"Attach one or more tags to an order","description":"When a tag is already attached, it is ignored. Tags are not case sensitive.","operationId":"OrderApi_TagsCreate","parameters":[{"name":"id","in":"path","description":"The internal id of the order","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Tags to attach","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/orders/{id}/trigger-event":{"post":{"tags":["Orders"],"summary":"Triggers a rule event","operationId":"OrderApi_TriggerEvent","parameters":[{"name":"id","in":"path","description":"The id of the order","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/products":{"get":{"tags":["Products"],"summary":"Get a list of all products","operationId":"Article_GetList","parameters":[{"name":"page","in":"query","description":"The current page to request starting with 1","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"The pagesize for the result list. Values between 1 and 250 are allowed","schema":{"type":"integer","format":"int32"}},{"name":"minCreatedAt","in":"query","description":"Optional the oldest create date of the articles to be returned","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]]"}}}}}},"post":{"tags":["Products"],"summary":"Creates a new product","operationId":"Article_CreateArticle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/products/PatchableFields":{"get":{"tags":["Products"],"summary":"Returns a list of fields which can be updated with the patch call","operationId":"Article_GetPatchableFields","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/products/category":{"get":{"tags":["Products"],"summary":"GEts a list of all defined categories","operationId":"Article_GetCategory","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/products/custom-fields":{"get":{"tags":["Products"],"summary":"Queries a list of all custom fields","operationId":"Article_GetCustomFields","parameters":[{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]]"}}}}}}},"/api/v1/products/custom-fields/{id}":{"get":{"tags":["Products"],"summary":"Queries a single custom field","operationId":"Article_GetCustomField","parameters":[{"name":"id","in":"path","description":"The id of the custom field to query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]"}}}}}}},"/api/v1/products/images/delete":{"post":{"tags":["Products"],"summary":"Delete multiple images by id","operationId":"Article_DeleteImages","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"text/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"application/xml":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"text/xml":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"application/x-www-form-urlencoded":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel]"}}}}}}},"/api/v1/products/images/{imageId}":{"get":{"tags":["Products"],"summary":"Returns a single image by id","operationId":"Article_GetImage","parameters":[{"name":"imageId","in":"path","description":"The Id of the image","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}}}}}},"delete":{"tags":["Products"],"summary":"Deletes a single image by id","operationId":"Article_DeleteImage","parameters":[{"name":"imageId","in":"path","description":"The image id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/products/reservedamount":{"get":{"tags":["Products"],"summary":"Queries the reserved amount for a single article by id or by sku","operationId":"Article_GetReservedAmount","parameters":[{"name":"id","in":"query","description":"The id or the sku of the article to query","required":true,"schema":{"type":"string"}},{"name":"lookupBy","in":"query","description":"Either the value id or the value sku to specify the meaning of the id parameter","schema":{"type":"string"}},{"name":"stockId","in":"query","description":"Optional the stock id if the multi stock feature is enabled","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData]"}}}}}}},"/api/v1/products/updatestock":{"post":{"tags":["Products"],"summary":"Update the stock qty of an article","description":"The article is specified by sku. You have to send the absolute value for the current stock","operationId":"Article_UpdateStock","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]"}}}}}}},"/api/v1/products/updatestockcode":{"post":{"tags":["Products"],"summary":"Update the stock code of an article","operationId":"Article_UpdateStockCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData]"}}}}}}},"/api/v1/products/updatestockmultiple":{"post":{"tags":["Products"],"summary":"Update the stock qty for multiple articles at once","operationId":"Article_UpdateStockMultiple","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"}}},"application/x-www-form-urlencoded":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]"}}}}}}}},"/api/v1/products/{id}":{"get":{"tags":["Products"],"summary":"Queries a single article by id or by sku","operationId":"Article_GetArticle","parameters":[{"name":"id","in":"path","description":"The id or the sku of the article to query","required":true,"schema":{"type":"string"}},{"name":"lookupBy","in":"query","description":"Either the value id, ean or the value sku to specify the meaning of the id parameter","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]"}}}}}},"delete":{"tags":["Products"],"summary":"Deletes a product","operationId":"Article_DeleteArticle","parameters":[{"name":"id","in":"path","description":"The id of the Product","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}},"patch":{"tags":["Products"],"summary":"Updates one or more fields of a product","operationId":"Article_PatchArticle","parameters":[{"name":"id","in":"path","description":"The id of the Product","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}},"application/x-www-form-urlencoded":{"schema":{"type":"object"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/products/{productId}/images":{"get":{"tags":["Products"],"summary":"Returns a list of all images of the product","operationId":"Article_GetImages","parameters":[{"name":"productId","in":"path","description":"The Id of the product","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]]"}}}}}},"put":{"tags":["Products"],"summary":"Add multiple images to a product or replace the product images by the given images","operationId":"Article_PutImages","parameters":[{"name":"productId","in":"path","description":"The id of the product","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"replace","in":"query","description":"If you pass true, the images will be replaced by the passed images. Otherwise the passed images will be appended to the product.","schema":{"type":"boolean"}}],"requestBody":{"description":"An array of ArticleApiImageModel","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel"}}},"application/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel"}}},"text/xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel"}}},"application/x-www-form-urlencoded":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}}}}}}},"/api/v1/products/{productId}/images/{imageId}":{"get":{"tags":["Products"],"summary":"Returns a single image by id","operationId":"Article_GetImageFromProduct","parameters":[{"name":"productId","in":"path","description":"The Id of the product","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"imageId","in":"path","description":"The Id of the image","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}}}}}},"put":{"tags":["Products"],"summary":"Add or update an existing image of a product","operationId":"Article_PutImage","parameters":[{"name":"productId","in":"path","description":"The product id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"imageId","in":"path","description":"The image id. If you pass 0, the image will be added","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"The ArticleApiImageModel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"}}}}}},"delete":{"tags":["Products"],"summary":"Deletes a single image from a product","operationId":"Article_DeleteImageFromProduct","parameters":[{"name":"productId","in":"path","description":"The product id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"imageId","in":"path","description":"The image id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/search":{"post":{"tags":["Products","Customers","Orders"],"summary":"Search for products, customers and orders.\r\nType can be \"order\", \"product\" and / or \"customer\"\r\nTerm can contains lucene query syntax","operationId":"Search_Search","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchResultsModel]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchResultsModel]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchResultsModel]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchResultsModel]"}}}}}}},"/api/v1/shipment/ping":{"get":{"tags":["Shipments"],"operationId":"Shipment_GetPing","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/shipment/shipment":{"post":{"tags":["Shipments"],"summary":"Creates a new shipment with the selected Shippingprovider","operationId":"Shipment_PostShipment","requestBody":{"description":"Data to specify shipment parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateShipmentApiModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateShipmentApiModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateShipmentApiModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateShipmentApiModel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateShipmentApiModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/shipment/shipments":{"get":{"tags":["Shipments"],"summary":"Get a list of all shipments optionally filtered by date. All parameters are optional.","operationId":"Shipment_GetList","parameters":[{"name":"page","in":"query","description":"Specifies the page to request.","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"Specifies the pagesize. Defaults to 50, max value is 250","schema":{"type":"integer","format":"int32"}},{"name":"createdAtMin","in":"query","description":"Specifies the oldest shipment date to include in the response","schema":{"type":"string","format":"date-time"}},{"name":"createdAtMax","in":"query","description":"Specifies the newest shipment date to include in the response","schema":{"type":"string","format":"date-time"}},{"name":"orderId","in":"query","description":"Get shipments for this order only.","schema":{"type":"integer","format":"int64"}},{"name":"minimumShipmentId","in":"query","description":"Get Shipments with a shipment greater or equal than this id. New shipments have a greater id than older shipments.","schema":{"type":"integer","format":"int64"}},{"name":"shippingProviderId","in":"query","description":"Get Shippings for the specified shipping provider only. <seealso cref=\"M:Rechnungsdruck.WebApp.Controllers.Api.ShipmentController.GetShippingproviders\" />","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Shipment]]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Shipment]]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Shipment]]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Shipment]]"}}}}}}},"/api/v1/shipment/shippingcarriers":{"get":{"tags":["Shipments"],"summary":"Queries the currently available shipping carriers.","operationId":"Shipment_GetShippingCarrier","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/shipment/shippingproviders":{"get":{"tags":["Shipments"],"summary":"Query all defined shipping providers","operationId":"Shipment_GetShippingproviders","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/shipment/shipwithlabel":{"post":{"tags":["Shipments"],"summary":"Creates a shipment for an order in billbee","operationId":"Shipment_ShipWithLabel","requestBody":{"description":"Details on the order and the shipping methods, that should be used.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabel"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabel"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult]"}},"text/json":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult]"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult]"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult]"}}}}}}},"/api/v1/webhooks":{"get":{"tags":["Webhooks"],"summary":"Gets all registered WebHooks for a given user.","operationId":"WebHookManagement_Get","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}}}}}}},"post":{"tags":["Webhooks"],"summary":"Registers a new WebHook for a given user.","operationId":"WebHookManagement_Post","requestBody":{"description":"The webhook to create. Attach ?noecho to the uri to prevent echo test.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}}}}}},"delete":{"tags":["Webhooks"],"summary":"Deletes all existing WebHook registrations.","operationId":"WebHookManagement_DeleteAll","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/webhooks/filters":{"get":{"tags":["Webhooks"],"summary":"Returns a list of all known filters you can use to register webhooks","operationId":"WebHookManagement_GetFilters","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}},"/api/v1/webhooks/{id}":{"get":{"tags":["Webhooks"],"summary":"Looks up a registered WebHook with the given {id} for a given user.","operationId":"WebHookManagement_Lookup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}}}}}},"put":{"tags":["Webhooks"],"summary":"Updates an existing WebHook registration.","operationId":"WebHookManagement_Put","parameters":[{"name":"id","in":"path","description":"The WebHook ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The new webhook to use.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNet.WebHooks.WebHook"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Webhooks"],"summary":"Deletes an existing WebHook registration.","operationId":"WebHookManagement_Delete","parameters":[{"name":"id","in":"path","description":"The WebHook ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"text/json":{"schema":{"type":"object"}}}}}}}},"components":{"schemas":{"Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel":{"type":"object","properties":{"Configuration":{"type":"object"},"Id":{"type":"integer","format":"int64"},"IsNullable":{"type":"boolean"},"Name":{"type":"string"},"Type":{"type":"integer","format":"int32","enum":[0,1,2,3]}}},"Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldValueModel":{"type":"object","properties":{"ArticleId":{"type":"integer","format":"int64"},"Definition":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel"},"DefinitionId":{"type":"integer","format":"int64"},"Id":{"type":"integer","format":"int64"},"Value":{"type":"object"}}},"Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel":{"required":["IsCustomizable","IsDigital","Price","Type","Vat1Rate","Vat2Rate","VatIndex"],"type":"object","properties":{"BasicAttributes":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.Order.MultiLanguageString"}},"BillOfMaterial":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.BomSubArticleApiModel"}},"Category1":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel"},"Category2":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel"},"Category3":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel"},"Condition":{"type":"integer","format":"int32"},"CostPrice":{"type":"number","format":"double"},"CountryOfOrigin":{"type":"string"},"CustomFields":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldValueModel"}},"DeliveryTime":{"type":"integer","format":"int32"},"Description":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.Order.MultiLanguageString"}},"EAN":{"type":"string"},"ExportDescription":{"type":"string"},"ExportDescriptionMultiLanguage":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.Order.MultiLanguageString"}},"HeightCm":{"type":"number","format":"double"},"Id":{"type":"integer","format":"int64"},"Images":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel"}},"InvoiceText":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.Order.MultiLanguageString"}},"IsCustomizable":{"type":"boolean"},"IsDigital":{"type":"boolean"},"LengthCm":{"type":"number","format":"double"},"LowStock":{"type":"boolean","readOnly":true},"Manufacturer":{"type":"string"},"Materials":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.Order.MultiLanguageString"}},"Occasion":{"type":"integer","format":"int32"},"Price":{"type":"number","format":"double"},"Recipient":{"type":"integer","format":"int32"},"SKU":{"type":"string"},"ShippingProductId":{"type":"integer","format":"int64"},"ShortDescription":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.Order.MultiLanguageString"}},"SoldAmount":{"type":"number","format":"double"},"SoldAmountLast30Days":{"type":"number","format":"double"},"SoldSumGross":{"type":"number","format":"double"},"SoldSumGrossLast30Days":{"type":"number","format":"double"},"SoldSumNet":{"type":"number","format":"double"},"SoldSumNetLast30Days":{"type":"number","format":"double"},"Sources":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleSourceApiModel"}},"StockCode":{"type":"string"},"StockCurrent":{"type":"number","format":"double"},"StockDesired":{"type":"number","format":"double"},"StockReduceItemsPerSale":{"type":"number","format":"double"},"StockWarning":{"type":"number","format":"double"},"Stocks":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.StockArticleApiModel"}},"Tags":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.Order.MultiLanguageString"}},"TaricNumber":{"type":"string"},"Title":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.Order.MultiLanguageString"}},"Type":{"type":"integer","format":"int32"},"Unit":{"type":"integer","format":"int32"},"UnitsPerItem":{"type":"number","format":"double"},"Vat1Rate":{"type":"number","format":"double"},"Vat2Rate":{"type":"number","format":"double"},"VatIndex":{"type":"integer","format":"int32"},"Weight":{"type":"integer","format":"int32"},"WeightNet":{"type":"integer","format":"int32"},"WidthCm":{"type":"number","format":"double"}}},"Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel":{"type":"object","properties":{"Id":{"type":"integer","format":"int64"},"Name":{"type":"string"}}},"Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel":{"type":"object","properties":{"ArticleId":{"type":"integer","format":"int64"},"Id":{"type":"integer","format":"int64"},"IsDefault":{"type":"boolean"},"Position":{"type":"integer","format":"int32"},"ThumbPathExt":{"type":"string"},"ThumbUrl":{"type":"string"},"Url":{"type":"string"}}},"Billbee.Interfaces.BillbeeAPI.Model.ArticleSourceApiModel":{"required":["Source","SourceId"],"type":"object","properties":{"ApiAccountId":{"type":"integer","format":"int64"},"ApiAccountName":{"type":"string"},"Custom":{"type":"object"},"ExportFactor":{"type":"number","format":"double"},"Id":{"type":"integer","format":"int32"},"Source":{"type":"string"},"SourceId":{"type":"string"},"StockSyncInactive":{"type":"boolean"},"StockSyncMax":{"type":"number","format":"double"},"StockSyncMin":{"type":"number","format":"double"},"UnitsPerItem":{"type":"number","format":"double"}}},"Billbee.Interfaces.BillbeeAPI.Model.BomSubArticleApiModel":{"type":"object","properties":{"Amount":{"type":"number","format":"double"},"ArticleId":{"type":"integer","format":"int64"},"SKU":{"type":"string"}}},"Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel":{"type":"object","properties":{"Id":{"type":"integer","format":"int64"},"Name":{"type":"string"},"Type":{"type":"string"},"UsedAsPrinter":{"type":"boolean"}}},"Billbee.Interfaces.BillbeeAPI.Model.CommentApiModel":{"type":"object","properties":{"Created":{"type":"string","format":"date-time"},"FromCustomer":{"type":"boolean"},"Id":{"type":"integer","format":"int64"},"Name":{"type":"string"},"Text":{"type":"string"}}},"Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel":{"type":"object","properties":{"Address":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"},"Email":{"type":"string"},"Id":{"type":"integer","description":"The Billbee Id of the customer","format":"int64"},"LanguageId":{"type":"integer","format":"int32"},"Name":{"type":"string"},"Number":{"type":"integer","format":"int32"},"PriceGroupId":{"type":"integer","format":"int64"},"Tel1":{"type":"string"},"Tel2":{"type":"string"},"Type":{"type":"integer","description":"Customer Type","format":"int32"},"VatId":{"type":"string","description":"The vat-id, that should be saved at the customer. Only used if CustomerVatId is not set on the order."}}},"Billbee.Interfaces.BillbeeAPI.Model.CreateShipmentApiModel":{"type":"object","properties":{"ClientReference":{"type":"string","description":"Optional specify a text to be included on the label. Not possible with all carriers"},"Content":{"type":"string","description":"Optional specify a text describing the content of the shipment. Used for export shipments"},"CustomerNumber":{"type":"string","description":"Not used anymore"},"Dimension":{"$ref":"#/components/schemas/Billbee.Interfaces.Shipping.ShipmentData.Dimensions"},"OrderCurrencyCode":{"type":"string","description":"The Currency if the ordersum"},"OrderSum":{"type":"number","description":"The value of the shipments content","format":"double"},"PrinterIdForExportDocs":{"type":"integer","description":"The id of a connected Cloudprinter to sent the export docs to","format":"int64"},"PrinterName":{"type":"string","description":"The name of a connected Cloudprinter to sent the label to"},"ProductCode":{"type":"string","description":"The productcode to be used when creating the shipment. Values depends on the carrier used"},"ProviderName":{"type":"string","description":"The name of the provider as specified in the billbee account"},"ReceiverAddress":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ShipmentAddressApiModel"},"Services":{"type":"array","description":"A list of services to be used when creating the shipment","items":{"$ref":"#/components/schemas/Billbee.Interfaces.Shipping.ProductService"}},"ShipDate":{"type":"string","description":"Optional overwrite the shipdate to be transferred to the carrier","format":"date-time"},"WeightInGram":{"type":"number","description":"Optional specify the weight in gram of the shipment","format":"double"},"shippingCarrier":{"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]}}},"Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel":{"type":"object","properties":{"AddressAddition":{"type":"string"},"AddressType":{"type":"integer","description":"The type of the address","format":"int32","enum":[1,2]},"City":{"type":"string"},"Company":{"type":"string","description":"The name of the company"},"CountryCode":{"type":"string","description":"The ISO2 code of the country"},"CustomerId":{"type":"integer","description":"The internal Billbee id of the customer the address belongs to","format":"int64"},"Email":{"type":"string"},"Fax":{"type":"string"},"FirstName":{"type":"string"},"Housenumber":{"type":"string"},"Id":{"type":"integer","description":"The internal Billbee ID of the address record. Can be null if a new address is created","format":"int64"},"LastName":{"type":"string"},"Name2":{"type":"string","description":"Optionally an additional name field"},"State":{"type":"string"},"Street":{"type":"string"},"Tel1":{"type":"string"},"Tel2":{"type":"string"},"Zip":{"type":"string"}},"description":"Container for passing address data"},"Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel":{"type":"object","properties":{"Email":{"type":"string"},"Id":{"type":"integer","description":"The Billbee Id of the customer","format":"int64"},"LanguageId":{"type":"integer","format":"int32"},"Name":{"type":"string"},"Number":{"type":"integer","format":"int32"},"PriceGroupId":{"type":"integer","format":"int64"},"Tel1":{"type":"string"},"Tel2":{"type":"string"},"Type":{"type":"integer","description":"Customer Type","format":"int32"},"VatId":{"type":"string","description":"The vat-id, that should be saved at the customer. Only used if CustomerVatId is not set on the order."}}},"Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel":{"type":"object","properties":{"Deleted":{"type":"array","items":{"type":"integer","format":"int64"}},"NotFound":{"type":"array","items":{"type":"integer","format":"int64"}}}},"Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData":{"type":"object","properties":{"ReservedAmount":{"type":"number","description":"The reserve (not fulfilled) qty of the article","format":"double"}}},"Billbee.Interfaces.BillbeeAPI.Model.Order":{"type":"object","properties":{"AcceptLossOfReturnRight":{"type":"boolean","description":"Customer accepts loss due to withdrawal"},"AdjustmentCost":{"type":"number","format":"double"},"AdjustmentReason":{"type":"string"},"ApiAccountId":{"type":"integer","description":"Id of the account, this order belongs to","format":"int64"},"ApiAccountName":{"type":"string","description":"The name of the account, this order belongs to. Will be ignored on order creation."},"BillBeeOrderId":{"type":"integer","description":"The Order.Id from the Billbee database","format":"int64"},"BillBeeParentOrderId":{"type":"integer","description":"The Id of the parent order in the Billbee database","format":"int64"},"Buyer":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.OrderUser"},"Comments":{"type":"array","description":"All messages / comments of the order","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CommentApiModel"}},"ConfirmedAt":{"type":"string","description":"The date on which the order was confirmed","format":"date-time"},"CreatedAt":{"type":"string","description":"The date on which the order was created","format":"date-time"},"Currency":{"type":"string","description":"The three letter currency code."},"CustomInvoiceNote":{"type":"string","description":"An optional multiline text which is printed on the invoice"},"Customer":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"},"CustomerNumber":{"type":"string","description":"The customer number (not to be confused with the id of the customer)"},"CustomerVatId":{"type":"string","description":"The vat-id, that was given by the customer to fulfill this order"},"DeliverySourceCountryCode":{"type":"string","description":"An optional Country ISO2 Code of the country where order is shipped from (FBA)"},"DistributionCenter":{"type":"string","description":"An optional code for the distribution center delivering this order"},"History":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.Order.HistoryEntry"}},"Id":{"type":"string","description":"Id of the order in the external system (marketplace)"},"InvoiceAddress":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.OrderAddressApiModel"},"InvoiceDate":{"type":"string","description":"The date on which the invoice was created","format":"date-time"},"InvoiceNumber":{"type":"integer","description":"The invoice number","format":"int32"},"InvoiceNumberPostfix":{"type":"string","description":"The postfix of the invoice number"},"InvoiceNumberPrefix":{"type":"string","description":"The prefix of the invoice number"},"IsCancelationFor":{"type":"string","description":"An optional Order Id (externalid) for an order if this is a cancel order (shopify only at the moment)"},"LanguageCode":{"type":"string","description":"The two-letter language code of the customer"},"LastModifiedAt":{"type":"string","description":"Date of the last update, the order got","format":"date-time"},"MerchantVatId":{"type":"string","description":"The vat-id, that should be displayed on the invoice and other order documents"},"OrderItems":{"type":"array","description":"The list of items purchased like shirt, pant, toys etc","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.OrderItem"}},"OrderNumber":{"type":"string","description":"Order number of the order in the external system (marketplace)"},"PaidAmount":{"type":"number","format":"double"},"PayedAt":{"type":"string","description":"The date on which the order was paid","format":"date-time"},"PaymentInstruction":{"type":"string","description":"A textfield optionaly filled with a payment instruction text for printout on the invoice (z.B. Ebay Kauf auf Rechnung)"},"PaymentMethod":{"type":"integer","description":"The payment method","format":"int32","enum":[1,2,3,4,6,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121]},"PaymentReference":{"type":"string","description":"A payment reference. Should not be used any more. Please use 'Payments' instead."},"PaymentTransactionId":{"type":"string","description":"The id of the payment transaction. For example the transaction id of PayPal payment. Should not be used any more. Please use 'Payments' instead."},"Payments":{"type":"array","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Models.OrderPayment"}},"RebateDifference":{"type":"number","format":"double","readOnly":true},"Seller":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.OrderUser"},"SellerComment":{"type":"string","description":"An internal seller comment"},"ShipWeightKg":{"type":"number","description":"The total weight of the shipment(s)","format":"double"},"ShippedAt":{"type":"string","description":"The date on which the order was shipped","format":"date-time"},"ShippingAddress":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.OrderAddressApiModel"},"ShippingCost":{"type":"number","description":"The shipping cost","format":"double"},"ShippingIds":{"type":"array","description":"The shipments of the order","items":{"$ref":"#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Shipment"}},"ShippingProfileId":{"type":"string","description":"Internal Id for the shipping profile for that order"},"ShippingProfileName":{"type":"string","description":"Display Name of Shipping profile, if available"},"ShippingProviderId":{"type":"integer","description":"Internal Id for the used shipping provider","format":"int64"},"ShippingProviderName":{"type":"string","description":"The Name for of used shipping provider"},"ShippingProviderProductId":{"type":"integer","description":"Internal Id for the used shipping product","format":"int64"},"ShippingProviderProductName":{"type":"string","description":"The Name of the used shipping product"},"ShippingServices":{"type":"array","description":"Additional services for the shipment","items":{"$ref":"#/components/schemas/Billbee.Interfaces.Shipping.ProductService"}},"State":{"type":"integer","description":"The current state of the order","format":"int32","enum":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]},"Tags":{"type":"array","description":"The Tags of the order","items":{"type":"string"}},"TaxRate1":{"type":"number","description":"The regular tax rate","format":"double"},"TaxRate2":{"type":"number","description":"The reduced tax rate","format":"double"},"TotalCost":{"type":"number","description":"The total cost excluding shipping cost","format":"double"},"UpdatedAt":{"type":"string","description":"The date on which the order was last updated","format":"date-time"},"VatId":{"type":"string","description":"The customers vat id"},"VatMode":{"type":"integer","description":"The vat mode of the order","format":"int32","enum":[0,1,2,3,4,5]}},"description":"A class that represents the Billbee data model of a single 
[...]
