{"openapi":"3.0.1","info":{"title":"Azure Log Analytics Query Packs","description":"Azure Log Analytics API reference for management of saved Queries within Query Packs.","version":"2019-09-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/queryPacks/{queryPackName}/queries":{"get":{"description":"Gets a list of Queries defined within a Log Analytics QueryPack.","operationId":"Queries_List","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"queryPackName","in":"path","description":"The name of the Log Analytics QueryPack resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"$top","in":"query","description":"Maximum items returned in page.","schema":{"type":"integer"}},{"name":"includeBody","in":"query","description":"Flag indicating whether or not to return the body of each applicable query. If false, only return the query information.","schema":{"type":"boolean"}},{"name":"$skipToken","in":"query","description":"Base64 encoded token used to fetch the next page of items. Default is null.","schema":{"type":"string"}}],"responses":{"200":{"description":"A list containing 0 or more queries contained within the Log Analytics QueryPack.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogAnalyticsQueryPackQueryListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/queryPacks/{queryPackName}/queries/search":{"post":{"description":"Search a list of Queries defined within a Log Analytics QueryPack according to given search properties.","operationId":"Queries_Search","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"queryPackName","in":"path","description":"The name of the Log Analytics QueryPack resource.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"$top","in":"query","description":"Maximum items returned in page.","schema":{"type":"integer"}},{"name":"includeBody","in":"query","description":"Flag indicating whether or not to return the body of each applicable query. If false, only return the query information.","schema":{"type":"boolean"}},{"name":"$skipToken","in":"query","description":"Base64 encoded token used to fetch the next page of items. Default is null.","schema":{"type":"string"}}],"requestBody":{"description":"Properties by which to search queries in the given Log Analytics QueryPack.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogAnalyticsQueryPackQuerySearchProperties"}}},"required":true},"responses":{"200":{"description":"A list containing 0 or more queries contained within the Log Analytics QueryPack.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogAnalyticsQueryPackQueryListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/queryPacks/{queryPackName}/queries/{queryId}":{"get":{"description":"Gets a specific Log Analytics Query defined within a Log Analytics QueryPack.","operationId":"Queries_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"queryPackName","in":"path","description":"The name of the Log Analytics QueryPack resource.","required":true,"schema":{"type":"string"}},{"name":"queryId","in":"path","description":"The id of a specific query defined in the Log Analytics QueryPack","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"A single query contained within the Log Analytics QueryPack.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogAnalyticsQueryPackQuery"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"description":"Adds or Updates a specific Query within a Log Analytics QueryPack.","operationId":"Queries_Put","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"queryPackName","in":"path","description":"The name of the Log Analytics QueryPack resource.","required":true,"schema":{"type":"string"}},{"name":"queryId","in":"path","description":"The id of a specific query defined in the Log Analytics QueryPack","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"requestBody":{"description":"Properties that need to be specified to create a new query and add it to a Log Analytics QueryPack.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogAnalyticsQueryPackQuery"}}},"required":true},"responses":{"200":{"description":"The new or updated query contained within the Log Analytics QueryPack.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogAnalyticsQueryPackQuery"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"description":"Deletes a specific Query defined within an Log Analytics QueryPack.","operationId":"Queries_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the target subscription.","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group. The name is case insensitive.","required":true,"schema":{"maxLength":90,"minLength":1,"pattern":"^[-\\w\\._\\(\\)]+$","type":"string"}},{"name":"queryPackName","in":"path","description":"The name of the Log Analytics QueryPack resource.","required":true,"schema":{"type":"string"}},{"name":"queryId","in":"path","description":"The id of a specific query defined in the Log Analytics QueryPack","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The API version to use for this operation.","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"The query has been successfully removed from the Log Analytics QueryPack"},"204":{"description":"The specified query or associated QueryPack does not exist."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"AzureResourceProperties":{"type":"object","properties":{"id":{"type":"string","description":"Azure resource Id","readOnly":true},"name":{"type":"string","description":"Azure resource name","readOnly":true},"type":{"type":"string","description":"Azure resource type","readOnly":true}},"description":"An Azure resource QueryPack-Query object"},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describe the format of an Error response."},"LogAnalyticsQueryPackQuery":{"properties":{"properties":{"$ref":"#/components/schemas/LogAnalyticsQueryPackQueryProperties"}},"description":"A Log Analytics QueryPack-Query definition.","allOf":[{"$ref":"#/components/schemas/AzureResourceProperties"}]},"LogAnalyticsQueryPackQueryListResult":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to get the next set of Log Analytics QueryPack definitions if too many QueryPack-Queries where returned in the result set."},"value":{"type":"array","description":"List of Log Analytics QueryPack Query definitions.","items":{"$ref":"#/components/schemas/LogAnalyticsQueryPackQuery"}}},"description":"Describes the list of Log Analytics QueryPack-Query resources."},"LogAnalyticsQueryPackQueryProperties":{"required":["body","displayName"],"type":"object","properties":{"author":{"type":"string","description":"Object Id of user creating the query.","readOnly":true},"body":{"type":"string","description":"Body of the query."},"categories":{"type":"array","description":"Categories associated with the query.","items":{"type":"string"}},"description":{"type":"string","description":"Description of the query."},"displayName":{"type":"string","description":"Unique display name for your query within the Query Pack."},"labels":{"type":"array","description":"Labels associated with the query.","items":{"type":"string"}},"linkedResourceId":{"type":"string","description":"Resource id associated with the query."},"queryId":{"type":"string","description":"The unique ID of your application. This field cannot be changed.","readOnly":true},"resourceTypes":{"type":"array","description":"Resource Types associated with the query.","items":{"type":"string"}},"timeCreated":{"type":"string","description":"Creation Date for the Log Analytics Query, in ISO 8601 format.","format":"date-time","readOnly":true},"timeModified":{"type":"string","description":"Last modified date of the Log Analytics Query, in ISO 8601 format.","format":"date-time","readOnly":true}},"description":"Properties that define an Log Analytics QueryPack-Query resource."},"LogAnalyticsQueryPackQuerySearchProperties":{"type":"object","properties":{"categories":{"type":"array","description":"Categories associated with the query.","items":{"type":"string"}},"labels":{"type":"array","description":"Labels associated with the query.","items":{"type":"string"}},"resourceTypes":{"type":"array","description":"Resource Types associated with the query.","items":{"type":"string"}}},"description":"Properties that define an Log Analytics QueryPack-Query search properties."}},"parameters":{"ContinuationTokenParameter":{"name":"$skipToken","in":"query","description":"Base64 encoded token used to fetch the next page of items. Default is null.","schema":{"type":"string"}},"IncludeBodyParameter":{"name":"includeBody","in":"query","description":"Flag indicating whether or not to return the body of each applicable query. If false, only return the query information.","schema":{"type":"boolean"}},"MaxItemCountParameter":{"name":"$top","in":"query","description":"Maximum items returned in page.","schema":{"type":"integer"}},"QueryIdParameter":{"name":"queryId","in":"path","description":"The id of a specific query defined in the Log Analytics QueryPack","required":true,"schema":{"type":"string"}},"QueryPackNameParameter":{"name":"queryPackName","in":"path","description":"The name of the Log Analytics QueryPack resource.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}