{"openapi":"3.0.1","info":{"title":"Name Generation API","description":"Fungenerators name generation API generates random names relevant to the given category. Lots of categories are supported with many variations supported. [Click here to subscribe](http://fungenerators.com/api/namegen/)\n","termsOfService":"https://fungenerators.com/terms","contact":{"name":"Fun Generators","url":"http://fungenerators.com/"},"version":"1.5"},"servers":[{"url":"https://api.fungenerators.com/"},{"url":"http://api.fungenerators.com/"}],"tags":[{"name":"Names","description":"Name Generation API","externalDocs":{"description":"Find out more","url":"http://fungenerators.com/api/namegen/"}}],"paths":{"/name/categories":{"get":{"tags":["Names"],"description":"Get available name generation categories.","parameters":[{"name":"start","in":"query","description":"start","schema":{"type":"integer","format":"integer"}},{"name":"limit","in":"query","description":"limit","schema":{"type":"integer","format":"integer"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n  \"success\": {\n    \"total\": \"37\",\n    \"start\": 0,\n    \"limit\": 5\n  },\n  \"contents\": [\n    [\n      {\n        \"name\": \"elf\",\n        \"title\": \"Elf Name Generator\",\n        \"suggestion_supported\": \"0\",\n        \"unisex\": false\n      },\n      {\n        \"name\": \"super-hero\",\n        \"title\": \"Superhero Name generator\",\n        \"suggestion_supported\": \"0\",\n        \"unisex\": true\n      },\n      {\n        \"name\": \"alien\",\n        \"title\": \"Alien Name generator\",\n        \"suggestion_supported\": \"0\",\n        \"unisex\": true\n      },\n      {\n        \"name\": \"dragon\",\n        \"title\": \"Dragon Name generator\",\n        \"suggestion_supported\": \"0\",\n        \"unisex\": true\n      },\n      {\n        \"name\": \"indian\",\n        \"title\": \"Indian Name generator\",\n        \"suggestion_supported\": \"0\",\n        \"unisex\": false\n      }\n    ]\n  ]\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}     "}}}},"security":[{"X-Fungenerators-Api-Secret":null}]}},"/name/generate":{"get":{"tags":["Names"],"description":"Generated names in the given category","parameters":[{"name":"category","in":"query","description":"Category to generator names from","required":true,"schema":{"type":"string","format":"string"}},{"name":"suggest","in":"query","description":"Suggestion string if supported by this category generator.","schema":{"type":"string","format":"string"}},{"name":"start","in":"query","description":"start. Controls pagination. Relevant only if suggestion is supported","schema":{"type":"integer","format":"integer"}},{"name":"limit","in":"query","description":"limit. Controls pagination limit. Relevant only if suggestion is supported","schema":{"type":"integer","format":"integer"}},{"name":"variation","in":"query","description":"Variation if supported ( male/female/any )","schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"200  response","content":{"application/json":{"example":"{\n  \"success\": {\n    \"total\": null,\n    \"start\": 0,\n    \"limit\": 5\n  },\n  \"contents\": {\n    \"category\": \"ninja\",\n    \"names\": [\n      \"Snow Strikes\",\n      \"Rapid Fall\",\n      \"Agile Moon\",\n      \"Dreamsign\",\n      \"Phantom Fall\"\n    ]\n  },\n  \"copyright\": \"https://fungenerators.com/\"\n}"}}},"401":{"description":"401  response","content":{"application/json":{"example":"{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"}}}},"security":[{"X-Fungenerators-Api-Secret":null}]}}},"components":{"securitySchemes":{"X-Fungenerators-Api-Secret":{"type":"apiKey","name":"X-Fungenerators-Api-Secret","in":"header"}}}}