{"openapi":"3.0.1","info":{"title":"UpdateAdminClient","description":"Update location operation endpoints and objects.","version":"2016-05-01"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/":{"get":{"tags":["UpdateLocations"],"description":"Get the list of update locations.","operationId":"UpdateLocations_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLocationList"}}}}}}},"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}":{"get":{"tags":["UpdateLocations"],"description":"Get an update location based on name.","operationId":"UpdateLocations_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"Resource group name.","required":true,"schema":{"type":"string"}},{"name":"updateLocation","in":"path","description":"The name of the update location.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2016-05-01"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLocation"}}}}}}}},"components":{"schemas":{"RegionUpdateState":{"type":"string","description":"State of the region in regard to update.","enum":["Unknown","AppliedSuccessfully","AppliedUpdateAvailableSuccessfully","UpdateInProgress","UpdateFailed"]},"UpdateLocation":{"properties":{"properties":{"$ref":"#/components/schemas/UpdateLocationModel"}},"description":"Information related to a location's update status.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"Region location of resource."},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key-value pairs."},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base Resource Object"}]},"UpdateLocationList":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link to get the next page of update locations."},"value":{"type":"array","description":"The list of update locations.","items":{"$ref":"#/components/schemas/UpdateLocation"}}},"description":"The list of update locations."},"UpdateLocationModel":{"type":"object","properties":{"currentOemVersion":{"type":"string","description":"Current OEM version of your AzureStack deployment."},"currentVersion":{"type":"string","description":"Current version of your AzureStack deployment."},"lastUpdated":{"type":"string","description":"Date of last update.","format":"date-time"},"state":{"$ref":"#/components/schemas/RegionUpdateState"}},"description":"Model which holds information related to update location."}},"parameters":{"UpdateLocationParameter":{"name":"updateLocation","in":"path","description":"The name of the update location.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}