{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ISBNdb API",
    "description" : "Definition of ISBNdb.com API",
    "version" : "1.0.1"
  },
  "servers" : [ {
    "url" : "https://api.isbndb.com/"
  } ],
  "paths" : {
    "/author/{name}" : {
      "get" : {
        "tags" : [ "Author" ],
        "summary" : "Gets author details",
        "description" : "Returns the name and a list of books by the author.",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "description" : "The name of an author in the Author's database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "How many items should be returned per page, maximum of 1,000",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The author name was found in the database",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "description" : "CORS Header to allow different origin responses",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Author"
                }
              }
            }
          },
          "404" : {
            "description" : "Author not found"
          }
        },
        "security" : [ {
          "api_key" : null
        } ]
      }
    },
    "/authors/{query}" : {
      "get" : {
        "tags" : [ "Author" ],
        "summary" : "Search authors",
        "description" : "This returns a list of authors whos name matches the given query",
        "parameters" : [ {
          "name" : "pageSize",
          "in" : "query",
          "description" : "How many items should be returned per page, maximum of 1,000",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "query",
          "in" : "path",
          "description" : "A string to search for in the Author’s database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The query string found results in the author's database",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "description" : "CORS Header to allow different origin responses",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthorQueryResults"
                }
              }
            }
          },
          "404" : {
            "description" : "There are no results in the author's database for the given query"
          }
        },
        "security" : [ {
          "api_key" : null
        } ]
      }
    },
    "/book/{isbn}" : {
      "get" : {
        "tags" : [ "Book" ],
        "summary" : "Gets book details",
        "description" : "Returns the book details",
        "parameters" : [ {
          "name" : "isbn",
          "in" : "path",
          "description" : "an ISBN 10 or ISBN 13 in the Books database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The book ISBN was found in the database",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "description" : "CORS Header to allow different origin responses",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Book"
                }
              }
            }
          },
          "404" : {
            "description" : "Book not found"
          }
        },
        "security" : [ {
          "api_key" : null
        } ]
      }
    },
    "/books/{query}" : {
      "get" : {
        "tags" : [ "Book" ],
        "summary" : "Search books",
        "description" : "This returns a list of books that match the query",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "A string to search for in the Book’s database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "author",
          "in" : "query",
          "description" : "Filters the query results by author",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "How many items should be returned per page, maximum of 1,000",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The query string found results in the books's database",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "description" : "CORS Header to allow different origin responses",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "There are no results in the book's database for the given query"
          }
        },
        "security" : [ {
          "api_key" : null
        } ]
      }
    },
    "/publisher/{name}" : {
      "get" : {
        "tags" : [ "Publisher" ],
        "summary" : "Gets publisher details",
        "description" : "Returns details and a list of books by the publisher.",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "description" : "The name of a publisher in the Publisher's database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "How many items should be returned per page, maximum of 1,000",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The publisher name was found in the database",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "description" : "CORS Header to allow different origin responses",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Publisher"
                }
              }
            }
          },
          "404" : {
            "description" : "Publisher not found"
          }
        },
        "security" : [ {
          "api_key" : null
        } ]
      }
    },
    "/publishers/{query}" : {
      "get" : {
        "tags" : [ "Publisher" ],
        "summary" : "Search publishers",
        "description" : "This returns a list of publishers that match the given query",
        "parameters" : [ {
          "name" : "pageSize",
          "in" : "query",
          "description" : "How many items should be returned per page, maximum of 1,000",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "query",
          "in" : "path",
          "description" : "A string to search for in the Publisher’s database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The query string found results in the publisher's database",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "description" : "CORS Header to allow different origin responses",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "There are no results in the publisher's database for the given query"
          }
        },
        "security" : [ {
          "api_key" : null
        } ]
      }
    },
    "/search" : {
      "get" : {
        "tags" : [ "Search" ],
        "summary" : "Search all ISBNDB databases",
        "description" : "Uses a free query string compatible with ElasticSearch 6 to search in any of the ISBNDB's databases",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "A query string compatible with ElasticSearch 6",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Results were found in the requested database",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "description" : "CORS Header to allow different origin responses",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "No results found in the requested database"
          }
        },
        "security" : [ {
          "api_key" : null
        } ]
      }
    },
    "/stats" : {
      "get" : {
        "tags" : [ "Stats" ],
        "summary" : "Gets status on the ISBNDB Database",
        "description" : "Returns a status object about the ISBNDB database.",
        "responses" : {
          "200" : {
            "description" : "Stats on the ISBNDB sucessfully retrieved",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "description" : "CORS Header to allow different origin responses",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "api_key" : null
        } ]
      }
    },
    "/subject/{name}" : {
      "get" : {
        "tags" : [ "Subject" ],
        "summary" : "Gets subject details",
        "description" : "Returns details and a list of books with subject.",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "description" : "A subject in the Subject's database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The subject was found in the database",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "description" : "CORS Header to allow different origin responses",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Subject"
                }
              }
            }
          },
          "404" : {
            "description" : "Subject not found"
          }
        },
        "security" : [ {
          "api_key" : null
        } ]
      }
    },
    "/subjects/{query}" : {
      "get" : {
        "tags" : [ "Subject" ],
        "summary" : "Search subjects",
        "description" : "This returns a list of subjects that match the given query",
        "parameters" : [ {
          "name" : "pageSize",
          "in" : "query",
          "description" : "How many items should be returned per page, maximum of 1,000",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "query",
          "in" : "path",
          "description" : "A string to search for in the Subject’s database",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The query string found results in the subject's database",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "description" : "CORS Header to allow different origin responses",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "There are no results in the subject's database for the given query"
          }
        },
        "security" : [ {
          "api_key" : null
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "Author" : {
        "type" : "object",
        "properties" : {
          "author" : {
            "type" : "string"
          },
          "books" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Book"
            }
          }
        },
        "description" : "Describes the name of an author and the books written by that author in the database"
      },
      "AuthorQueryResults" : {
        "type" : "object",
        "properties" : {
          "authors" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "total" : {
            "type" : "integer"
          }
        },
        "description" : "Describes the results of a query in the author's database"
      },
      "Book" : {
        "type" : "object",
        "properties" : {
          "authors" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "date_published" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dewey_decimal" : {
            "type" : "string"
          },
          "dimensions" : {
            "type" : "string"
          },
          "edition" : {
            "type" : "string"
          },
          "excerpt" : {
            "type" : "string"
          },
          "format" : {
            "type" : "string"
          },
          "isbn" : {
            "type" : "string"
          },
          "isbn13" : {
            "type" : "string"
          },
          "language" : {
            "type" : "string"
          },
          "overview" : {
            "type" : "string"
          },
          "pages" : {
            "type" : "integer"
          },
          "publisher" : {
            "type" : "string"
          },
          "reviews" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "subjects" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "synopsys" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "title_long" : {
            "type" : "string"
          }
        },
        "description" : "Describes a book in the book's database"
      },
      "Publisher" : {
        "type" : "object",
        "properties" : {
          "books" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "isbn" : {
                  "type" : "string"
                }
              }
            }
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "Subject" : {
        "type" : "object",
        "properties" : {
          "parent" : {
            "type" : "string"
          },
          "subject" : {
            "type" : "string"
          }
        }
      }
    },
    "securitySchemes" : {
      "api_key" : {
        "type" : "apiKey",
        "name" : "x-api-key",
        "in" : "header"
      }
    }
  }
}