{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "FabricAdminClient",
    "description" : "Infrastructure role operation endpoints and objects.",
    "version" : "2016-05-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles" : {
      "get" : {
        "tags" : [ "InfraRoles" ],
        "description" : "Returns a list of all infrastructure roles at a location.",
        "operationId" : "InfraRoles_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter parameter.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InfraRoleList"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles/{infraRole}" : {
      "get" : {
        "tags" : [ "InfraRoles" ],
        "description" : "Returns the requested infrastructure role description.",
        "operationId" : "InfraRoles_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "infraRole",
          "in" : "path",
          "description" : "Infrastructure role name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InfraRole"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles/{infraRole}/Restart" : {
      "post" : {
        "tags" : [ "InfraRole" ],
        "description" : "Restarts the requested infrastructure role.",
        "operationId" : "InfraRoles_Restart",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "infraRole",
          "in" : "path",
          "description" : "Infrastructure role name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "ACCEPTED"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "InfraRole" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/InfraRoleModel"
          }
        },
        "description" : "Infrastructure role description.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "The region where the resource is located."
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key-value pairs."
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base resource object."
        } ]
      },
      "InfraRoleList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of infrastructure roles.",
            "items" : {
              "$ref" : "#/components/schemas/InfraRole"
            }
          }
        },
        "description" : "Pageable list of infrastructure roles."
      },
      "InfraRoleModel" : {
        "type" : "object",
        "properties" : {
          "displayName" : {
            "type" : "string",
            "description" : "Display name for the infrastructure role."
          },
          "instances" : {
            "type" : "array",
            "description" : "List of infrastructure role instances.",
            "items" : {
              "type" : "string"
            }
          },
          "restartable" : {
            "type" : "boolean",
            "description" : "Value indicating whether the infrastructure role can be restarted."
          }
        },
        "description" : "Infrastructure role properties."
      }
    },
    "parameters" : {
      "InfraRoleParameter" : {
        "name" : "infraRole",
        "in" : "path",
        "description" : "Infrastructure role name.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}