{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ExpressRouteCrossConnection REST APIs",
    "description" : "The Microsoft Azure ExpressRouteCrossConnection Resource Provider REST APIs describes the operations for the connectivity provider to provision ExpressRoute circuit, create and modify BGP peering entities and troubleshoot connectivity on customer's ExpressRoute circuit.",
    "version" : "2019-08-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCrossConnections" : {
      "get" : {
        "tags" : [ "ExpressRouteCrossConnections" ],
        "description" : "Retrieves all the ExpressRouteCrossConnections in a subscription.",
        "operationId" : "ExpressRouteCrossConnections_List",
        "parameters" : [ {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of ExpressRouteCrossConnection resources. If there are no cross connection resources an empty list is returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCrossConnectionListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections" : {
      "get" : {
        "tags" : [ "ExpressRouteCrossConnections" ],
        "description" : "Retrieves all the ExpressRouteCrossConnections in a resource group.",
        "operationId" : "ExpressRouteCrossConnections_ListByResourceGroup",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.The operation returns a list of ExpressRouteCrossConnection resources. If there are no cross connection resources an empty list is returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCrossConnectionListResult"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}" : {
      "get" : {
        "tags" : [ "ExpressRouteCrossConnections" ],
        "description" : "Gets details about the specified ExpressRouteCrossConnection.",
        "operationId" : "ExpressRouteCrossConnections_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group (peering location of the circuit).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crossConnectionName",
          "in" : "path",
          "description" : "The name of the ExpressRouteCrossConnection (service key of the circuit).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCrossConnection resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCrossConnection"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ExpressRouteCrossConnections" ],
        "description" : "Update the specified ExpressRouteCrossConnection.",
        "operationId" : "ExpressRouteCrossConnections_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crossConnectionName",
          "in" : "path",
          "description" : "The name of the ExpressRouteCrossConnection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the update express route crossConnection operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCrossConnection"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting ExpressRouteCrossConnection resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCrossConnection"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "ExpressRouteCrossConnections" ],
        "description" : "Updates an express route cross connection tags.",
        "operationId" : "ExpressRouteCrossConnections_UpdateTags",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crossConnectionName",
          "in" : "path",
          "description" : "The name of the cross connection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to update express route cross connection tags.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tags" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Resource tags."
                  }
                },
                "description" : "Tags object for patch operations."
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting ExpressRouteCrossConnection resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCrossConnection"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings" : {
      "get" : {
        "tags" : [ "ExpressRouteCrossConnectionPeerings" ],
        "description" : "Gets all peerings in a specified ExpressRouteCrossConnection.",
        "operationId" : "ExpressRouteCrossConnectionPeerings_List",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crossConnectionName",
          "in" : "path",
          "description" : "The name of the ExpressRouteCrossConnection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns a list of ExpressRouteCrossConnectionPeering resources.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCrossConnectionPeeringList"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}" : {
      "get" : {
        "tags" : [ "ExpressRouteCrossConnectionPeerings" ],
        "description" : "Gets the specified peering for the ExpressRouteCrossConnection.",
        "operationId" : "ExpressRouteCrossConnectionPeerings_Get",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crossConnectionName",
          "in" : "path",
          "description" : "The name of the ExpressRouteCrossConnection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCrossConnectionPeering resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCrossConnectionPeering"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ExpressRouteCrossConnectionPeerings" ],
        "description" : "Creates or updates a peering in the specified ExpressRouteCrossConnection.",
        "operationId" : "ExpressRouteCrossConnectionPeerings_CreateOrUpdate",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crossConnectionName",
          "in" : "path",
          "description" : "The name of the ExpressRouteCrossConnection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters supplied to the create or update ExpressRouteCrossConnection peering operation.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpressRouteCrossConnectionPeering"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update successful. The operation returns the resulting ExpressRouteCrossConnectionPeering resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCrossConnectionPeering"
                }
              }
            }
          },
          "201" : {
            "description" : "Create successful. The operation returns the resulting ExpressRouteCrossConnectionPeering resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCrossConnectionPeering"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ExpressRouteCrossConnectionPeerings" ],
        "description" : "Deletes the specified peering from the ExpressRouteCrossConnection.",
        "operationId" : "ExpressRouteCrossConnectionPeerings_Delete",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crossConnectionName",
          "in" : "path",
          "description" : "The name of the ExpressRouteCrossConnection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete successful."
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          },
          "204" : {
            "description" : "Delete successful."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}/arpTables/{devicePath}" : {
      "post" : {
        "tags" : [ "ExpressRouteCrossConnectionArpTable" ],
        "description" : "Gets the currently advertised ARP table associated with the express route cross connection in a resource group.",
        "operationId" : "ExpressRouteCrossConnections_ListArpTable",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crossConnectionName",
          "in" : "path",
          "description" : "The name of the ExpressRouteCrossConnection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "devicePath",
          "in" : "path",
          "description" : "The path of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCrossConnectionsArpTable resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Response for ListArpTable associated with the Express Route Circuits API."
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}/routeTables/{devicePath}" : {
      "post" : {
        "tags" : [ "ExpressRouteCrossConnectionRouteTable" ],
        "description" : "Gets the currently advertised routes table associated with the express route cross connection in a resource group.",
        "operationId" : "ExpressRouteCrossConnections_ListRoutesTable",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crossConnectionName",
          "in" : "path",
          "description" : "The name of the ExpressRouteCrossConnection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "devicePath",
          "in" : "path",
          "description" : "The path of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCrossConnectionsRouteTable resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "description" : "Response for ListRoutesTable associated with the Express Route Circuits API."
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}/routeTablesSummary/{devicePath}" : {
      "post" : {
        "tags" : [ "ExpressRouteCrossConnectionRouteTableSummary" ],
        "description" : "Gets the route table summary associated with the express route cross connection in a resource group.",
        "operationId" : "ExpressRouteCrossConnections_ListRoutesTableSummary",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crossConnectionName",
          "in" : "path",
          "description" : "The name of the ExpressRouteCrossConnection.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "peeringName",
          "in" : "path",
          "description" : "The name of the peering.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "devicePath",
          "in" : "path",
          "description" : "The path of the device.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful. The operation returns the resulting ExpressRouteCrossConnectionsRouteTableSummary resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpressRouteCrossConnectionsRoutesTableSummaryListResult"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted and the operation will complete asynchronously."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ExpressRouteCircuitReference" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Corresponding Express Route Circuit Id."
          }
        },
        "description" : "Reference to an express route circuit."
      },
      "ExpressRouteCrossConnection" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExpressRouteCrossConnectionProperties"
          }
        },
        "description" : "ExpressRouteCrossConnection resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            },
            "location" : {
              "type" : "string",
              "description" : "Resource location."
            },
            "name" : {
              "type" : "string",
              "description" : "Resource name.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            },
            "type" : {
              "type" : "string",
              "description" : "Resource type.",
              "readOnly" : true
            }
          },
          "description" : "Common resource representation."
        } ]
      },
      "ExpressRouteCrossConnectionListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "A list of ExpressRouteCrossConnection resources.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCrossConnection"
            }
          }
        },
        "description" : "Response for ListExpressRouteCrossConnection API service call."
      },
      "ExpressRouteCrossConnectionPeering" : {
        "properties" : {
          "etag" : {
            "type" : "string",
            "description" : "A unique read-only string that changes whenever the resource is updated.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "properties" : {
            "$ref" : "#/components/schemas/ExpressRouteCrossConnectionPeeringProperties"
          }
        },
        "description" : "Peering in an ExpressRoute Cross Connection resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "Resource ID."
            }
          },
          "description" : "Reference to another subresource."
        } ]
      },
      "ExpressRouteCrossConnectionPeeringList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "The peerings in an express route cross connection.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCrossConnectionPeering"
            }
          }
        },
        "description" : "Response for ListPeering API service call retrieves all peerings that belong to an ExpressRouteCrossConnection."
      },
      "ExpressRouteCrossConnectionPeeringProperties" : {
        "type" : "object",
        "properties" : {
          "azureASN" : {
            "type" : "integer",
            "description" : "The Azure ASN.",
            "format" : "int32",
            "readOnly" : true
          },
          "gatewayManagerEtag" : {
            "type" : "string",
            "description" : "The GatewayManager Etag."
          },
          "ipv6PeeringConfig" : {
            "type" : "object",
            "properties" : {
              "microsoftPeeringConfig" : {
                "type" : "object",
                "properties" : {
                  "advertisedCommunities" : {
                    "type" : "array",
                    "description" : "The communities of bgp peering. Specified for microsoft peering.",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "advertisedPublicPrefixes" : {
                    "type" : "array",
                    "description" : "The reference of AdvertisedPublicPrefixes.",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "advertisedPublicPrefixesState" : {
                    "type" : "string",
                    "description" : "The advertised public prefix state of the Peering resource.",
                    "enum" : [ "NotConfigured", "Configuring", "Configured", "ValidationNeeded" ]
                  },
                  "customerASN" : {
                    "type" : "integer",
                    "description" : "The CustomerASN of the peering.",
                    "format" : "int32"
                  },
                  "legacyMode" : {
                    "type" : "integer",
                    "description" : "The legacy mode of the peering.",
                    "format" : "int32"
                  },
                  "routingRegistryName" : {
                    "type" : "string",
                    "description" : "The RoutingRegistryName of the configuration."
                  }
                },
                "description" : "Specifies the peering configuration."
              },
              "primaryPeerAddressPrefix" : {
                "type" : "string",
                "description" : "The primary address prefix."
              },
              "routeFilter" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "Resource ID."
                  }
                },
                "description" : "Reference to another subresource."
              },
              "secondaryPeerAddressPrefix" : {
                "type" : "string",
                "description" : "The secondary address prefix."
              },
              "state" : {
                "type" : "string",
                "description" : "The state of peering.",
                "enum" : [ "Disabled", "Enabled" ]
              }
            },
            "description" : "Contains IPv6 peering config."
          },
          "lastModifiedBy" : {
            "type" : "string",
            "description" : "Who was the last to modify the peering."
          },
          "microsoftPeeringConfig" : {
            "type" : "object",
            "properties" : {
              "advertisedCommunities" : {
                "type" : "array",
                "description" : "The communities of bgp peering. Specified for microsoft peering.",
                "items" : {
                  "type" : "string"
                }
              },
              "advertisedPublicPrefixes" : {
                "type" : "array",
                "description" : "The reference of AdvertisedPublicPrefixes.",
                "items" : {
                  "type" : "string"
                }
              },
              "advertisedPublicPrefixesState" : {
                "type" : "string",
                "description" : "The advertised public prefix state of the Peering resource.",
                "enum" : [ "NotConfigured", "Configuring", "Configured", "ValidationNeeded" ]
              },
              "customerASN" : {
                "type" : "integer",
                "description" : "The CustomerASN of the peering.",
                "format" : "int32"
              },
              "legacyMode" : {
                "type" : "integer",
                "description" : "The legacy mode of the peering.",
                "format" : "int32"
              },
              "routingRegistryName" : {
                "type" : "string",
                "description" : "The RoutingRegistryName of the configuration."
              }
            },
            "description" : "Specifies the peering configuration."
          },
          "peerASN" : {
            "maximum" : 4294967295,
            "minimum" : 1,
            "type" : "integer",
            "description" : "The peer ASN.",
            "format" : "int64"
          },
          "peeringType" : {
            "type" : "string",
            "description" : "The peering type.",
            "enum" : [ "AzurePublicPeering", "AzurePrivatePeering", "MicrosoftPeering" ]
          },
          "primaryAzurePort" : {
            "type" : "string",
            "description" : "The primary port.",
            "readOnly" : true
          },
          "primaryPeerAddressPrefix" : {
            "type" : "string",
            "description" : "The primary address prefix."
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "secondaryAzurePort" : {
            "type" : "string",
            "description" : "The secondary port.",
            "readOnly" : true
          },
          "secondaryPeerAddressPrefix" : {
            "type" : "string",
            "description" : "The secondary address prefix."
          },
          "sharedKey" : {
            "type" : "string",
            "description" : "The shared key."
          },
          "state" : {
            "type" : "string",
            "description" : "The state of peering.",
            "enum" : [ "Disabled", "Enabled" ]
          },
          "vlanId" : {
            "type" : "integer",
            "description" : "The VLAN ID.",
            "format" : "int32"
          }
        },
        "description" : "Properties of express route cross connection peering."
      },
      "ExpressRouteCrossConnectionProperties" : {
        "type" : "object",
        "properties" : {
          "bandwidthInMbps" : {
            "type" : "integer",
            "description" : "The circuit bandwidth In Mbps.",
            "format" : "int32"
          },
          "expressRouteCircuit" : {
            "$ref" : "#/components/schemas/ExpressRouteCircuitReference"
          },
          "peeringLocation" : {
            "type" : "string",
            "description" : "The peering location of the ExpressRoute circuit."
          },
          "peerings" : {
            "type" : "array",
            "description" : "The list of peerings.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCrossConnectionPeering"
            }
          },
          "primaryAzurePort" : {
            "type" : "string",
            "description" : "The name of the primary port.",
            "readOnly" : true
          },
          "provisioningState" : {
            "type" : "string",
            "description" : "The current provisioning state.",
            "readOnly" : true,
            "enum" : [ "Succeeded", "Updating", "Deleting", "Failed" ]
          },
          "sTag" : {
            "type" : "integer",
            "description" : "The identifier of the circuit traffic.",
            "readOnly" : true
          },
          "secondaryAzurePort" : {
            "type" : "string",
            "description" : "The name of the secondary port.",
            "readOnly" : true
          },
          "serviceProviderNotes" : {
            "type" : "string",
            "description" : "Additional read only notes set by the connectivity provider."
          },
          "serviceProviderProvisioningState" : {
            "type" : "string",
            "description" : "The ServiceProviderProvisioningState state of the resource.",
            "enum" : [ "NotProvisioned", "Provisioning", "Provisioned", "Deprovisioning" ]
          }
        },
        "description" : "Properties of ExpressRouteCrossConnection."
      },
      "ExpressRouteCrossConnectionRoutesTableSummary" : {
        "type" : "object",
        "properties" : {
          "asn" : {
            "type" : "integer",
            "description" : "Autonomous system number.",
            "format" : "int32"
          },
          "neighbor" : {
            "type" : "string",
            "description" : "IP address of Neighbor router."
          },
          "stateOrPrefixesReceived" : {
            "type" : "string",
            "description" : "Current state of the BGP session, and the number of prefixes that have been received from a neighbor or peer group."
          },
          "upDown" : {
            "type" : "string",
            "description" : "The length of time that the BGP session has been in the Established state, or the current status if not in the Established state."
          }
        },
        "description" : "The routes table associated with the ExpressRouteCircuit."
      },
      "ExpressRouteCrossConnectionsRoutesTableSummaryListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "The URL to get the next set of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "A list of the routes table.",
            "items" : {
              "$ref" : "#/components/schemas/ExpressRouteCrossConnectionRoutesTableSummary"
            }
          }
        },
        "description" : "Response for ListRoutesTable associated with the Express Route Cross Connections."
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow."
      }
    }
  }
}