{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SqlManagementClient",
    "description" : "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "version" : "2018-06-01-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/operations" : {
      "get" : {
        "tags" : [ "ManagedInstanceOperations" ],
        "description" : "Gets a list of operations performed on the managed instance.",
        "operationId" : "ManagedInstanceOperations_ListByManagedInstance",
        "parameters" : [ {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "managedInstanceName",
          "in" : "path",
          "description" : "The name of the managed instance.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription ID that identifies an Azure subscription.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "The API version to use for the request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request for getting managed instance operations has been executed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManagedInstanceOperationListResult"
                }
              }
            }
          },
          "default" : {
            "description" : "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ManagedInstanceOperation" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/ManagedInstanceOperationProperties"
          }
        },
        "description" : "A managed instance operation.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ProxyResource"
        } ]
      },
      "ManagedInstanceOperationListResult" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "Link to retrieve next page of results.",
            "readOnly" : true
          },
          "value" : {
            "type" : "array",
            "description" : "Array of results.",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/ManagedInstanceOperation"
            }
          }
        },
        "description" : "The response to a list managed instance operations request"
      },
      "ManagedInstanceOperationProperties" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string",
            "description" : "The operation description.",
            "readOnly" : true
          },
          "errorCode" : {
            "type" : "integer",
            "description" : "The operation error code.",
            "format" : "int32",
            "readOnly" : true
          },
          "errorDescription" : {
            "type" : "string",
            "description" : "The operation error description.",
            "readOnly" : true
          },
          "errorSeverity" : {
            "type" : "integer",
            "description" : "The operation error severity.",
            "format" : "int32",
            "readOnly" : true
          },
          "estimatedCompletionTime" : {
            "type" : "string",
            "description" : "The estimated completion time of the operation.",
            "format" : "date-time",
            "readOnly" : true
          },
          "isCancellable" : {
            "type" : "boolean",
            "description" : "Whether the operation can be cancelled.",
            "readOnly" : true
          },
          "isUserError" : {
            "type" : "boolean",
            "description" : "Whether or not the error is a user error.",
            "readOnly" : true
          },
          "managedInstanceName" : {
            "type" : "string",
            "description" : "The name of the managed instance the operation is being performed on.",
            "readOnly" : true
          },
          "operation" : {
            "type" : "string",
            "description" : "The name of operation.",
            "readOnly" : true
          },
          "operationFriendlyName" : {
            "type" : "string",
            "description" : "The friendly name of operation.",
            "readOnly" : true
          },
          "percentComplete" : {
            "type" : "integer",
            "description" : "The percentage of the operation completed.",
            "format" : "int32",
            "readOnly" : true
          },
          "startTime" : {
            "type" : "string",
            "description" : "The operation start time.",
            "format" : "date-time",
            "readOnly" : true
          },
          "state" : {
            "type" : "string",
            "description" : "The operation state.",
            "readOnly" : true,
            "enum" : [ "Pending", "InProgress", "Succeeded", "Failed", "CancelInProgress", "Cancelled" ]
          }
        },
        "description" : "The properties of a managed instance operation."
      },
      "ProxyResource" : {
        "description" : "ARM proxy resource.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Resource"
        } ]
      },
      "Resource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource ID.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name.",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type.",
            "readOnly" : true
          }
        },
        "description" : "ARM resource."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "The API version to use for the request.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "BlobAuditingPolicyNameParameter" : {
        "name" : "blobAuditingPolicyName",
        "in" : "path",
        "description" : "The name of the blob auditing policy.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "default" ]
        }
      },
      "DatabaseNameParameter" : {
        "name" : "databaseName",
        "in" : "path",
        "description" : "The name of the database.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ManagedInstanceNameParameter" : {
        "name" : "managedInstanceName",
        "in" : "path",
        "description" : "The name of the managed instance.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupParameter" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ServerNameParameter" : {
        "name" : "serverName",
        "in" : "path",
        "description" : "The name of the server.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SqlVirtualMachineContainerNameParameter" : {
        "name" : "sqlVirtualMachineContainerName",
        "in" : "path",
        "description" : "The name of the SqlVirtualMachineContainer.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SqlVirtualMachineInstanceNameParameter" : {
        "name" : "sqlVirtualMachineInstanceName",
        "in" : "path",
        "description" : "The name of the SqlVirtualMachineInstance.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionIdParameter" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription ID that identifies an Azure subscription.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "VirtualClusterNameParameter" : {
        "name" : "virtualClusterName",
        "in" : "path",
        "description" : "The name of the virtual cluster.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}