{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Wedpax",
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "http://api.wedpax.com/"
  } ],
  "paths" : {
    "/api/ServiceQuery/Get" : {
      "get" : {
        "tags" : [ "ServiceQuery" ],
        "parameters" : [ {
          "name" : "CurrentPage",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "Sorting.PropertyName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sorting.OrderByDescending",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[WeddingVendorDto]"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[WeddingVendorDto]"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[WeddingVendorDto]"
                }
              }
            }
          }
        }
      }
    },
    "/api/ServiceQuery/Search" : {
      "get" : {
        "tags" : [ "ServiceQuery" ],
        "operationId" : "Search",
        "parameters" : [ {
          "name" : "City",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "CatgoryId",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "PageNumber",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceListModel"
                  }
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceListModel"
                  }
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceListModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ServiceQuery/UserService" : {
      "get" : {
        "tags" : [ "ServiceQuery" ],
        "operationId" : "UserService",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateWeddingVendorDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateWeddingVendorDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateWeddingVendorDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/ServiceQuery/UserServices" : {
      "get" : {
        "tags" : [ "ServiceQuery" ],
        "operationId" : "UserServices",
        "parameters" : [ {
          "name" : "userId",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UserServicesDto"
                  }
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UserServicesDto"
                  }
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UserServicesDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/TokenAuth/Authenticate" : {
      "post" : {
        "tags" : [ "TokenAuth" ],
        "operationId" : "Authenticate",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthenticateModel"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthenticateModel"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthenticateModel"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthenticateModel"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticateResultModel"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticateResultModel"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticateResultModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/TokenAuth/ExternalAuthenticate" : {
      "post" : {
        "tags" : [ "TokenAuth" ],
        "operationId" : "ExternalAuthenticate",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalAuthenticateModel"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalAuthenticateModel"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalAuthenticateModel"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExternalAuthenticateModel"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalAuthenticateResultModel"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalAuthenticateResultModel"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExternalAuthenticateResultModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/TokenAuth/GetExternalAuthenticationProviders" : {
      "get" : {
        "tags" : [ "TokenAuth" ],
        "operationId" : "GetExternalAuthenticationProviders",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ExternalLoginProviderInfoModel"
                  }
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ExternalLoginProviderInfoModel"
                  }
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ExternalLoginProviderInfoModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/TokenAuth/Login" : {
      "post" : {
        "tags" : [ "TokenAuth" ],
        "operationId" : "Login",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoginModel"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoginModel"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoginModel"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoginModel"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticateResultModel"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticateResultModel"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticateResultModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/TokenAuth/RefreshToken" : {
      "get" : {
        "tags" : [ "TokenAuth" ],
        "operationId" : "RefreshToken",
        "parameters" : [ {
          "name" : "userName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticateResultModel"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticateResultModel"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticateResultModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Account/IsTenantAvailable" : {
      "post" : {
        "tags" : [ "Account" ],
        "operationId" : "IsTenantAvailable",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IsTenantAvailableInput"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IsTenantAvailableInput"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IsTenantAvailableInput"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IsTenantAvailableInput"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IsTenantAvailableOutput"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IsTenantAvailableOutput"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IsTenantAvailableOutput"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Account/Register" : {
      "post" : {
        "tags" : [ "Account" ],
        "operationId" : "Register",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegisterInput"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegisterInput"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegisterInput"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegisterInput"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegisterOutput"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegisterOutput"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegisterOutput"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/AddressServices/Create" : {
      "post" : {
        "tags" : [ "AddressServices" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GeoDetailsCreateDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GeoDetailsCreateDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GeoDetailsCreateDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GeoDetailsCreateDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GeoDetailsDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GeoDetailsDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GeoDetailsDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/AddressServices/Delete" : {
      "delete" : {
        "tags" : [ "AddressServices" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/AddressServices/Get" : {
      "get" : {
        "tags" : [ "AddressServices" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GeoDetailsDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GeoDetailsDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GeoDetailsDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/AddressServices/GetAll" : {
      "get" : {
        "tags" : [ "AddressServices" ],
        "parameters" : [ {
          "name" : "Sorting",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SkipCount",
          "in" : "query",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "MaxResultCount",
          "in" : "query",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[GeoDetailsDto]"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[GeoDetailsDto]"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[GeoDetailsDto]"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/AddressServices/GetCities" : {
      "get" : {
        "tags" : [ "AddressServices" ],
        "operationId" : "GetCities",
        "parameters" : [ {
          "name" : "provinceId",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CityDto"
                  }
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CityDto"
                  }
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CityDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/AddressServices/GetProvince" : {
      "get" : {
        "tags" : [ "AddressServices" ],
        "operationId" : "GetProvince",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProvinceDto"
                  }
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProvinceDto"
                  }
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProvinceDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/AddressServices/Update" : {
      "put" : {
        "tags" : [ "AddressServices" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GeoDetailsUpdateDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GeoDetailsUpdateDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GeoDetailsUpdateDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GeoDetailsUpdateDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GeoDetailsDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GeoDetailsDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GeoDetailsDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/CategoryService/Create" : {
      "post" : {
        "tags" : [ "CategoryService" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceCategroyCreateDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceCategroyCreateDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceCategroyCreateDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceCategroyCreateDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/CategoryService/Delete" : {
      "delete" : {
        "tags" : [ "CategoryService" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/CategoryService/Get" : {
      "get" : {
        "tags" : [ "CategoryService" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/CategoryService/GetAll" : {
      "get" : {
        "tags" : [ "CategoryService" ],
        "parameters" : [ {
          "name" : "TotalCount",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "Items",
          "in" : "query",
          "style" : "form",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "type" : "array",
            "items" : {
              "type" : "object"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[ServiceCategoryDto]"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[ServiceCategoryDto]"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[ServiceCategoryDto]"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/CategoryService/GetById" : {
      "get" : {
        "tags" : [ "CategoryService" ],
        "operationId" : "GetById",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategory"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategory"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategory"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/CategoryService/GetByName" : {
      "get" : {
        "tags" : [ "CategoryService" ],
        "operationId" : "GetByName",
        "parameters" : [ {
          "name" : "title",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/CategoryService/GetCategories" : {
      "get" : {
        "tags" : [ "CategoryService" ],
        "operationId" : "GetCategories",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceCategoryDto"
                  }
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceCategoryDto"
                  }
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceCategoryDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/CategoryService/Update" : {
      "put" : {
        "tags" : [ "CategoryService" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceCategoryUpdateDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceCategoryUpdateDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceCategoryUpdateDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceCategoryUpdateDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceCategoryDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Configuration/ChangeUiTheme" : {
      "post" : {
        "tags" : [ "Configuration" ],
        "operationId" : "ChangeUiTheme",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeUiThemeInput"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeUiThemeInput"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeUiThemeInput"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeUiThemeInput"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/Role/Create" : {
      "post" : {
        "tags" : [ "Role" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateRoleDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateRoleDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateRoleDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateRoleDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoleDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoleDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoleDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Role/Delete" : {
      "delete" : {
        "tags" : [ "Role" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/Role/Get" : {
      "get" : {
        "tags" : [ "Role" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoleDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoleDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoleDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Role/GetAll" : {
      "get" : {
        "tags" : [ "Role" ],
        "parameters" : [ {
          "name" : "Keyword",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SkipCount",
          "in" : "query",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "MaxResultCount",
          "in" : "query",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[RoleDto]"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[RoleDto]"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[RoleDto]"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Role/GetAllPermissions" : {
      "get" : {
        "tags" : [ "Role" ],
        "operationId" : "GetAllPermissions",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResultDto[PermissionDto]"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResultDto[PermissionDto]"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResultDto[PermissionDto]"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Role/GetRoleForEdit" : {
      "get" : {
        "tags" : [ "Role" ],
        "operationId" : "GetRoleForEdit",
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetRoleForEditOutput"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetRoleForEditOutput"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetRoleForEditOutput"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Role/GetRolesAsync" : {
      "get" : {
        "tags" : [ "Role" ],
        "operationId" : "GetRolesAsync",
        "parameters" : [ {
          "name" : "Permission",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResultDto[RoleListDto]"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResultDto[RoleListDto]"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResultDto[RoleListDto]"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Role/Update" : {
      "put" : {
        "tags" : [ "Role" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RoleDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RoleDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RoleDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RoleDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoleDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoleDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoleDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/ServiceFacilityService/Create" : {
      "post" : {
        "tags" : [ "ServiceFacilityService" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceFacilityCreateDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceFacilityCreateDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceFacilityCreateDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceFacilityCreateDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceFacilityDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceFacilityDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceFacilityDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/ServiceFacilityService/Delete" : {
      "delete" : {
        "tags" : [ "ServiceFacilityService" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/ServiceFacilityService/Get" : {
      "get" : {
        "tags" : [ "ServiceFacilityService" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceFacilityDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceFacilityDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceFacilityDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/ServiceFacilityService/GetAll" : {
      "get" : {
        "tags" : [ "ServiceFacilityService" ],
        "parameters" : [ {
          "name" : "input",
          "in" : "query",
          "style" : "form",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "type" : "array",
            "items" : {
              "type" : "object"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[ServiceFacilityDto]"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[ServiceFacilityDto]"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[ServiceFacilityDto]"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/ServiceFacilityService/GetFacilities" : {
      "get" : {
        "tags" : [ "ServiceFacilityService" ],
        "operationId" : "GetFacilities",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceFacilityDto"
                  }
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceFacilityDto"
                  }
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceFacilityDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/ServiceFacilityService/GetServiceFacility" : {
      "get" : {
        "tags" : [ "ServiceFacilityService" ],
        "operationId" : "GetServiceFacility",
        "parameters" : [ {
          "name" : "facilities",
          "in" : "query",
          "style" : "form",
          "explode" : true,
          "schema" : {
            "uniqueItems" : false,
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceFacilityDto"
                  }
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceFacilityDto"
                  }
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceFacilityDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/ServiceFacilityService/Update" : {
      "put" : {
        "tags" : [ "ServiceFacilityService" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceFacilityUpdateDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceFacilityUpdateDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceFacilityUpdateDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceFacilityUpdateDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceFacilityDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceFacilityDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceFacilityDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Session/GetCurrentLoginInformations" : {
      "get" : {
        "tags" : [ "Session" ],
        "operationId" : "GetCurrentLoginInformations",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCurrentLoginInformationsOutput"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCurrentLoginInformationsOutput"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetCurrentLoginInformationsOutput"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Tenant/Create" : {
      "post" : {
        "tags" : [ "Tenant" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTenantDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTenantDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTenantDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTenantDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TenantDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TenantDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TenantDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Tenant/Delete" : {
      "delete" : {
        "tags" : [ "Tenant" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/Tenant/Get" : {
      "get" : {
        "tags" : [ "Tenant" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TenantDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TenantDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TenantDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Tenant/GetAll" : {
      "get" : {
        "tags" : [ "Tenant" ],
        "parameters" : [ {
          "name" : "Keyword",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "IsActive",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "SkipCount",
          "in" : "query",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "MaxResultCount",
          "in" : "query",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[TenantDto]"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[TenantDto]"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[TenantDto]"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/Tenant/Update" : {
      "put" : {
        "tags" : [ "Tenant" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TenantDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TenantDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TenantDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TenantDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TenantDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TenantDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TenantDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/User/AddManagerToUserRoles" : {
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "AddManagerToUserRoles",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/User"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/User"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/User"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/User"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/User/ChangeLanguage" : {
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "ChangeLanguage",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeUserLanguageDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeUserLanguageDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeUserLanguageDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeUserLanguageDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/User/ChangePassword" : {
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "ChangePassword",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangePasswordDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangePasswordDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangePasswordDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangePasswordDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "boolean"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/User/ConfrimCode" : {
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "ConfrimCode",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConfirmCodeDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConfirmCodeDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConfirmCodeDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConfirmCodeDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/User/Create" : {
      "post" : {
        "tags" : [ "User" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateUserDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateUserDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateUserDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateUserDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/User/Delete" : {
      "delete" : {
        "tags" : [ "User" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/User/Get" : {
      "get" : {
        "tags" : [ "User" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/User/GetAll" : {
      "get" : {
        "tags" : [ "User" ],
        "parameters" : [ {
          "name" : "Keyword",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "IsActive",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "SkipCount",
          "in" : "query",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "MaxResultCount",
          "in" : "query",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[UserDto]"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[UserDto]"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[UserDto]"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/User/GetRoles" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "GetRoles",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResultDto[RoleDto]"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResultDto[RoleDto]"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListResultDto[RoleDto]"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/User/GetToEntity" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "GetToEntity",
        "parameters" : [ {
          "name" : "userId",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/User/ProhibitPermission" : {
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "ProhibitPermission",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProhibitPermissionInput"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProhibitPermissionInput"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProhibitPermissionInput"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProhibitPermissionInput"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/User/ResetPassword" : {
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "ResetPassword",
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ResetPasswordDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ResetPasswordDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ResetPasswordDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ResetPasswordDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "boolean"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/User/Update" : {
      "put" : {
        "tags" : [ "User" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/WeddingVendorServices/Create" : {
      "post" : {
        "tags" : [ "WeddingVendorServices" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateWeddingVendorDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateWeddingVendorDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateWeddingVendorDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateWeddingVendorDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WeddingVendorDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WeddingVendorDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WeddingVendorDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/WeddingVendorServices/Delete" : {
      "delete" : {
        "tags" : [ "WeddingVendorServices" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    },
    "/api/services/app/WeddingVendorServices/Get" : {
      "get" : {
        "tags" : [ "WeddingVendorServices" ],
        "parameters" : [ {
          "name" : "Id",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WeddingVendorDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WeddingVendorDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WeddingVendorDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/WeddingVendorServices/GetAll" : {
      "get" : {
        "tags" : [ "WeddingVendorServices" ],
        "parameters" : [ {
          "name" : "Sorting",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SkipCount",
          "in" : "query",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "MaxResultCount",
          "in" : "query",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[WeddingVendorDto]"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[WeddingVendorDto]"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedResultDto[WeddingVendorDto]"
                }
              }
            }
          }
        }
      }
    },
    "/api/services/app/WeddingVendorServices/Update" : {
      "put" : {
        "tags" : [ "WeddingVendorServices" ],
        "requestBody" : {
          "content" : {
            "application/json-patch+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateWeddingVendorDto"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateWeddingVendorDto"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateWeddingVendorDto"
              }
            },
            "application/*+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateWeddingVendorDto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WeddingVendorDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WeddingVendorDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WeddingVendorDto"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ApplicationInfoDto" : {
        "type" : "object",
        "properties" : {
          "features" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "boolean"
            }
          },
          "releaseDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "version" : {
            "type" : "string"
          }
        }
      },
      "AuthenticateModel" : {
        "required" : [ "password", "userNameOrEmailAddress" ],
        "type" : "object",
        "properties" : {
          "password" : {
            "maxLength" : 32,
            "minLength" : 0,
            "type" : "string"
          },
          "rememberClient" : {
            "type" : "boolean"
          },
          "userNameOrEmailAddress" : {
            "maxLength" : 256,
            "minLength" : 0,
            "type" : "string"
          }
        }
      },
      "AuthenticateResultModel" : {
        "type" : "object",
        "properties" : {
          "accessToken" : {
            "type" : "string"
          },
          "encryptedAccessToken" : {
            "type" : "string"
          },
          "expireInSeconds" : {
            "type" : "integer",
            "format" : "int32"
          },
          "roles" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "userId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "BaseServices" : {
        "required" : [ "category", "categoryId", "description", "images", "user" ],
        "type" : "object",
        "properties" : {
          "capacity" : {
            "type" : "integer",
            "format" : "int32"
          },
          "category" : {
            "$ref" : "#/components/schemas/ServiceCategory"
          },
          "categoryId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "creationTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "description" : {
            "minLength" : 20,
            "type" : "string"
          },
          "geoDetails" : {
            "$ref" : "#/components/schemas/GeoDetails"
          },
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "images" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ServiceImages"
            }
          },
          "mainImage" : {
            "type" : "string"
          },
          "phone" : {
            "type" : "string"
          },
          "status" : {
            "type" : "boolean"
          },
          "title" : {
            "type" : "string"
          },
          "user" : {
            "$ref" : "#/components/schemas/User"
          }
        }
      },
      "ChangePasswordDto" : {
        "required" : [ "currentPassword", "newPassword" ],
        "type" : "object",
        "properties" : {
          "currentPassword" : {
            "type" : "string"
          },
          "newPassword" : {
            "type" : "string"
          }
        }
      },
      "ChangeUiThemeInput" : {
        "required" : [ "theme" ],
        "type" : "object",
        "properties" : {
          "theme" : {
            "maxLength" : 32,
            "minLength" : 0,
            "type" : "string"
          }
        }
      },
      "ChangeUserLanguageDto" : {
        "required" : [ "languageName" ],
        "type" : "object",
        "properties" : {
          "languageName" : {
            "type" : "string"
          }
        }
      },
      "CityDto" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "ConfirmCodeDto" : {
        "required" : [ "code", "userName" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "format" : "int32"
          },
          "userName" : {
            "type" : "string"
          }
        }
      },
      "CreateRoleDto" : {
        "required" : [ "displayName", "name" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "maxLength" : 5000,
            "minLength" : 0,
            "type" : "string"
          },
          "displayName" : {
            "maxLength" : 64,
            "minLength" : 0,
            "type" : "string"
          },
          "grantedPermissions" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "name" : {
            "maxLength" : 32,
            "minLength" : 0,
            "type" : "string"
          },
          "normalizedName" : {
            "type" : "string"
          }
        }
      },
      "CreateTenantDto" : {
        "required" : [ "adminEmailAddress", "name", "tenancyName" ],
        "type" : "object",
        "properties" : {
          "adminEmailAddress" : {
            "maxLength" : 256,
            "minLength" : 0,
            "type" : "string"
          },
          "connectionString" : {
            "maxLength" : 1024,
            "minLength" : 0,
            "type" : "string"
          },
          "isActive" : {
            "type" : "boolean"
          },
          "name" : {
            "maxLength" : 128,
            "minLength" : 0,
            "type" : "string"
          },
          "tenancyName" : {
            "maxLength" : 64,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z][a-zA-Z0-9_-]{1,}$",
            "type" : "string"
          }
        }
      },
      "CreateUserDto" : {
        "required" : [ "userName" ],
        "type" : "object",
        "properties" : {
          "userName" : {
            "maxLength" : 256,
            "minLength" : 0,
            "type" : "string"
          }
        }
      },
      "CreateWeddingVendorDto" : {
        "required" : [ "categoryId", "description", "title" ],
        "type" : "object",
        "properties" : {
          "base64Images" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ImageData"
            }
          },
          "capacity" : {
            "type" : "integer",
            "format" : "int32"
          },
          "categoryId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "description" : {
            "minLength" : 20,
            "type" : "string"
          },
          "lat" : {
            "type" : "number",
            "format" : "double"
          },
          "lng" : {
            "type" : "number",
            "format" : "double"
          },
          "mainImage" : {
            "type" : "string"
          },
          "phone" : {
            "type" : "string"
          },
          "serviceFacilities" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "title" : {
            "maxLength" : 60,
            "minLength" : 3,
            "type" : "string"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "ExternalAuthenticateModel" : {
        "required" : [ "authProvider", "providerAccessCode", "providerKey" ],
        "type" : "object",
        "properties" : {
          "authProvider" : {
            "maxLength" : 128,
            "minLength" : 0,
            "type" : "string"
          },
          "providerAccessCode" : {
            "type" : "string"
          },
          "providerKey" : {
            "maxLength" : 256,
            "minLength" : 0,
            "type" : "string"
          }
        }
      },
      "ExternalAuthenticateResultModel" : {
        "type" : "object",
        "properties" : {
          "accessToken" : {
            "type" : "string"
          },
          "encryptedAccessToken" : {
            "type" : "string"
          },
          "expireInSeconds" : {
            "type" : "integer",
            "format" : "int32"
          },
          "waitingForActivation" : {
            "type" : "boolean"
          }
        }
      },
      "ExternalLoginProviderInfoModel" : {
        "type" : "object",
        "properties" : {
          "clientId" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "FlatPermissionDto" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string"
          },
          "displayName" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "GeoDetails" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string"
          },
          "baseServices" : {
            "$ref" : "#/components/schemas/BaseServices"
          },
          "city" : {
            "type" : "string"
          },
          "country" : {
            "type" : "string"
          },
          "creationTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "district" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "lat" : {
            "type" : "number",
            "format" : "double"
          },
          "lng" : {
            "type" : "number",
            "format" : "double"
          },
          "locality" : {
            "type" : "string"
          },
          "place" : {
            "type" : "string"
          },
          "province" : {
            "type" : "string"
          },
          "serviceId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "GeoDetailsCreateDto" : {
        "required" : [ "lat", "lng", "phone", "serviceId" ],
        "type" : "object",
        "properties" : {
          "lat" : {
            "type" : "number",
            "format" : "double"
          },
          "lng" : {
            "type" : "number",
            "format" : "double"
          },
          "phone" : {
            "type" : "string"
          },
          "serviceId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "GeoDetailsDto" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string"
          },
          "area" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "country" : {
            "type" : "string"
          },
          "district" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "GeoDetailsUpdateDto" : {
        "required" : [ "lat", "lng", "phone", "serviceId" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "lat" : {
            "type" : "number",
            "format" : "double"
          },
          "lng" : {
            "type" : "number",
            "format" : "double"
          },
          "phone" : {
            "type" : "string"
          },
          "serviceId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "GetCurrentLoginInformationsOutput" : {
        "type" : "object",
        "properties" : {
          "application" : {
            "$ref" : "#/components/schemas/ApplicationInfoDto"
          },
          "tenant" : {
            "$ref" : "#/components/schemas/TenantLoginInfoDto"
          },
          "user" : {
            "$ref" : "#/components/schemas/UserLoginInfoDto"
          }
        }
      },
      "GetRoleForEditOutput" : {
        "type" : "object",
        "properties" : {
          "grantedPermissionNames" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "permissions" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FlatPermissionDto"
            }
          },
          "role" : {
            "$ref" : "#/components/schemas/RoleEditDto"
          }
        }
      },
      "ImageData" : {
        "type" : "object",
        "properties" : {
          "content" : {
            "type" : "string"
          },
          "fileType" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "isMain" : {
            "type" : "boolean"
          }
        }
      },
      "IsTenantAvailableInput" : {
        "required" : [ "tenancyName" ],
        "type" : "object",
        "properties" : {
          "tenancyName" : {
            "maxLength" : 64,
            "minLength" : 0,
            "type" : "string"
          }
        }
      },
      "IsTenantAvailableOutput" : {
        "type" : "object",
        "properties" : {
          "state" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 1, 2, 3 ]
          },
          "tenantId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "LoginModel" : {
        "required" : [ "mobileNumber" ],
        "type" : "object",
        "properties" : {
          "mobileNumber" : {
            "maxLength" : 11,
            "minLength" : 0,
            "type" : "string"
          },
          "password" : {
            "type" : "string"
          }
        }
      },
      "PermissionDto" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string"
          },
          "displayName" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "ProhibitPermissionInput" : {
        "type" : "object",
        "properties" : {
          "permissionName" : {
            "type" : "string"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "ProvinceDto" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "RegisterInput" : {
        "required" : [ "userName" ],
        "type" : "object",
        "properties" : {
          "userName" : {
            "maxLength" : 256,
            "minLength" : 0,
            "type" : "string"
          }
        }
      },
      "RegisterOutput" : {
        "type" : "object",
        "properties" : {
          "canLogin" : {
            "type" : "boolean"
          }
        }
      },
      "ResetPasswordDto" : {
        "required" : [ "adminPassword", "newPassword", "userId" ],
        "type" : "object",
        "properties" : {
          "adminPassword" : {
            "type" : "string"
          },
          "newPassword" : {
            "type" : "string"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "RoleDto" : {
        "required" : [ "displayName", "name" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "maxLength" : 5000,
            "minLength" : 0,
            "type" : "string"
          },
          "displayName" : {
            "maxLength" : 64,
            "minLength" : 0,
            "type" : "string"
          },
          "grantedPermissions" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "name" : {
            "maxLength" : 32,
            "minLength" : 0,
            "type" : "string"
          },
          "normalizedName" : {
            "type" : "string"
          }
        }
      },
      "RoleEditDto" : {
        "required" : [ "displayName", "name" ],
        "type" : "object",
        "properties" : {
          "description" : {
            "maxLength" : 5000,
            "minLength" : 0,
            "type" : "string"
          },
          "displayName" : {
            "maxLength" : 64,
            "minLength" : 0,
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "isStatic" : {
            "type" : "boolean"
          },
          "name" : {
            "maxLength" : 32,
            "minLength" : 0,
            "type" : "string"
          }
        }
      },
      "RoleListDto" : {
        "type" : "object",
        "properties" : {
          "creationTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "displayName" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "isDefault" : {
            "type" : "boolean"
          },
          "isStatic" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "ServiceCategory" : {
        "required" : [ "title" ],
        "type" : "object",
        "properties" : {
          "baseServices" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BaseServices"
            }
          },
          "children" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ServiceCategory"
            }
          },
          "creationTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "icon" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "parentId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "ServiceCategoryDto" : {
        "required" : [ "title" ],
        "type" : "object",
        "properties" : {
          "children" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ServiceCategoryDto"
            }
          },
          "icon" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "parentId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "ServiceCategoryUpdateDto" : {
        "required" : [ "title" ],
        "type" : "object",
        "properties" : {
          "children" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ServiceCategoryDto"
            }
          },
          "icon" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "parent" : {
            "$ref" : "#/components/schemas/ServiceCategoryDto"
          },
          "parentId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "ServiceCategroyCreateDto" : {
        "required" : [ "title" ],
        "type" : "object",
        "properties" : {
          "icon" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "parent" : {
            "$ref" : "#/components/schemas/ServiceCategoryDto"
          },
          "parentId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "ServiceFacilityCreateDto" : {
        "required" : [ "title" ],
        "type" : "object",
        "properties" : {
          "icon" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "ServiceFacilityDto" : {
        "type" : "object",
        "properties" : {
          "icon" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "ServiceFacilityUpdateDto" : {
        "type" : "object",
        "properties" : {
          "icon" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "ServiceImages" : {
        "required" : [ "alt", "thumbUrl", "title", "url" ],
        "type" : "object",
        "properties" : {
          "alt" : {
            "type" : "string"
          },
          "baseServices" : {
            "$ref" : "#/components/schemas/BaseServices"
          },
          "creationTime" : {
            "type" : "string",
            "format" : "date-time"
          },
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "isMain" : {
            "type" : "boolean"
          },
          "serviceId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "state" : {
            "type" : "boolean"
          },
          "thumbUrl" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "ServiceListModel" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string"
          },
          "capacity" : {
            "type" : "integer",
            "format" : "int32"
          },
          "facilityDtos" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ServiceFacilityDto"
            }
          },
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "images" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "priceType" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 1, 2, 3, 4 ]
          },
          "rate" : {
            "type" : "integer",
            "format" : "int32"
          },
          "title" : {
            "type" : "string"
          }
        }
      },
      "Setting" : {
        "required" : [ "name" ],
[...]
