{"openapi":"3.0.1","info":{"title":"Locations API","description":"The Locations API provides access to MasterCard's ATM and Merchant location database","version":"1.0.0"},"servers":[{"url":"https://api.mastercard.com/"}],"paths":{"/atms/v1/atm":{"get":{"tags":["ATM Locations"],"summary":"Returns detailed information about an ATM location.  This information can be used to display ATMs on a map, provide driving directions, or show special ATM features.","description":"Returns detailed information about an ATM location.  This information can be used to display ATMs on a map, provide driving directions, or show special ATM features.\n","parameters":[{"name":"PageOffset","in":"query","description":"Zero-based offset where the response will start. The actual start position is this value +1. An offset of 10 starts at item 11. Combined with the PageLength option this allows pagination to be supported through the service requests.","required":true,"schema":{"type":"integer"},"example":"0"},{"name":"PageLength","in":"query","description":"Maximum number of items to retrieve within the current \"page\" of results.","required":true,"schema":{"type":"integer"},"example":"5"},{"name":"AddressLine1","in":"query","description":"Line 1 of the street address for the merchant location.  Usually includes the street number and name. This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter and either City parameter or PostalCode parameter.","schema":{"type":"string"},"example":"114 Fifth Avenue"},{"name":"AddressLine2","in":"query","description":"Line 2 of the street address usually an apartment number or suite number. This parameter is used rarely and is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter and either City parameter or PostalCode parameter.","schema":{"type":"string"},"example":"Apartment 1"},{"name":"City","in":"query","description":"The name of the city for a merchant location.  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.","schema":{"type":"string"},"example":"New York City"},{"name":"CountrySubdivision","in":"query","description":"The state or province for a merchant location (only supported for US and Canada locations).  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.","schema":{"type":"string"},"example":"NY"},{"name":"PostalCode","in":"query","description":"The zip code or postal code for a merchant location.  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.","schema":{"type":"string"},"example":"11101"},{"name":"Country","in":"query","description":"Any three digit country code for an ATM location.  Valid values are Three digit alpha country code as defined in ISO 3166-1.  This parameter is ignored if latitude and longitude are provided. This parameter is required if any other address information is provided including AddressLine1 AddressLine2 City PostalCode or CountrySubdivision.","schema":{"type":"string"},"example":"USA"},{"name":"Latitude","in":"query","description":"The latitude of a merchant location.  If latitude is provided longitude must also be provided.","schema":{"type":"number","format":"double"},"example":"38.76006576913497"},{"name":"Longitude","in":"query","description":"The longitude of a merchant location.  If longitude is provided latitude must also be provided.","schema":{"type":"number","format":"double"},"example":"-90.74615107952418"},{"name":"DistanceUnit","in":"query","description":"Indicates the unit for the radius as well as the units of the distance of each location from the basepoint in the response.","schema":{"type":"string"},"example":"MILE"},{"name":"Radius","in":"query","description":"This is the radius from the search point in the distance unit you set.  For example if you want to search for locations within 50 miles of a certain point you would set DistanceUnit=mile and Radius=50.  This parameter is ignored in non-geocoded countries.","schema":{"type":"integer"},"example":"25"},{"name":"SupportEMV","in":"query","description":"This indicates whether the ATM should have the ability to read chip cards or not.","schema":{"type":"integer"},"example":"1"},{"name":"InternationalMaestroAccepted","in":"query","description":"This field will provide ATM Terminals which can still process Maestro transactions but are not yet EMV chip reader enabled. Information available only for USA and Argentina till October 2014.","schema":{"type":"integer"},"example":"1"}],"responses":{"200":{"description":"An array of ATM locations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AtmsResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/atms/v1/country":{"get":{"tags":["ATM Countries"],"summary":"Returns countries with valid ATM locations.","description":"Returns countries with valid ATM locations.\n","responses":{"200":{"description":"A list of all the countries that contain ATMs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountriesResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/atms/v1/countrysubdivision":{"get":{"tags":["ATM Country Subdivisions"],"summary":"Returns country subdivisions that have ATM locations.  A country subdivision is a segment within a country (ex  state or province). Country subdivisions are only available for the US and Canada.","description":"Returns country subdivisions that have ATM locations.  A country subdivision is a segment within a country (ex  state or province). Country subdivisions are only available for the US and Canada.\n","parameters":[{"name":"Country","in":"query","description":"Any three digit country code as defined in ISO 3166-1.  \"USA\" or \"CAN\"","required":true,"schema":{"type":"string"},"example":"USA"}],"responses":{"200":{"description":"A list of all the CountrySubdivisions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountrySubdivisionResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/merchants/v1/category":{"get":{"tags":["Merchant Categories"],"summary":"Returns a list of all merchant categories for contactless and cash back merchants (example:  Airline, Retail, etc.).\n","description":"Returns a list of all merchant categories for contactless and cash back merchants (example:  Airline, Retail, etc.).\n","responses":{"200":{"description":"A list of all the categories supported","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoriesResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/merchants/v1/country":{"get":{"tags":["Merchant Countries"],"summary":"Returns countries that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card.\n","description":"Returns countries that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card.\n","parameters":[{"name":"details","in":"query","description":"This is the type of merchant location. Options  \"acceptance.paypass\" \"topup.repower\"  \"products.prepaidtravelcard\"  and \"offers.easysavings\"","required":true,"schema":{"type":"string"},"example":"acceptance.paypass"}],"responses":{"200":{"description":"A list of all the countries have a certain category","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountriesResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/merchants/v1/countrysubdivision":{"get":{"tags":["Merchant Country Subdivisions"],"summary":"Returns country subdivisions that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card. A country subdivision is a segment within a country (ex  state or province).  Please note country subdivisions are only available for the US and Canada.\n","description":"Returns country subdivisions that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card. A country subdivision is a segment within a country (ex  state or province).  Please note country subdivisions are only available for the US and Canada.\n","parameters":[{"name":"details","in":"query","description":"This is the type of merchant location. Options  \"acceptance.paypass\" \"topup.repower\"  \"products.prepaidtravelcard\"  and \"offers.easysavings\"","required":true,"schema":{"type":"string"},"example":"topup.repower"},{"name":"country","in":"query","description":"Any three digit country code as defined in ISO 3166-1. For example \"USA or \"CAN\"","required":true,"schema":{"type":"string"},"example":"USA"}],"responses":{"200":{"description":"A list of all the CountrySubdivisions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountrySubdivisionResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/merchants/v1/merchant":{"get":{"tags":["Merchant Locations"],"summary":"Returns merchant location information for merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, participate in the MasterCard Easy Savings program, and offer cash at checkout when paying with a Debit MasterCard or Maestro Card.\n","description":"Returns merchant location information for merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, participate in the MasterCard Easy Savings program, and offer cash at checkout when paying with a Debit MasterCard or Maestro Card.\n","parameters":[{"name":"Details","in":"query","description":"Type of merchant location. Options are \"acceptance.paypass\" \"topup.repower\" \"products.prepaidtravelcard\" \"offers.easysavings\" and \"features.cashback\". Cash Back is currently only available in the US.","required":true,"schema":{"type":"string"},"example":"acceptance.paypass"},{"name":"PageOffset","in":"query","description":"Zero-based offset where the response will start. The actual start position is this value +1. An offset of 10 starts at item 11. Combined with the PageLength option this allows pagination to be supported through the service requests.","required":true,"schema":{"type":"integer"},"example":"0"},{"name":"PageLength","in":"query","description":"Maximum number of items to retrieve within the current \"page\" of results.","required":true,"schema":{"type":"integer"},"example":"5"},{"name":"Category","in":"query","description":"Category of the merchant location. See the Categories (Merchant) resource for a list of valid categories. This parameter is only valid for merchant queries with Details = \"acceptance.paypass\" or \"features.cashback\".","schema":{"type":"string"},"example":"features.cashback"},{"name":"AddressLine1","in":"query","description":"Line 1 of the street address for the merchant location.  Usually includes the street number and name. This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter and either City parameter or PostalCode parameter.","schema":{"type":"string"},"example":"42 Elm Street"},{"name":"AddressLine2","in":"query","description":"Line 2 of the street address usually an apartment number or suite number. This parameter is used rarely and is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter and either City parameter or PostalCode parameter.","schema":{"type":"string"},"example":"Suite 101"},{"name":"City","in":"query","description":"Name of the city for a merchant location.  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.","schema":{"type":"string"},"example":"New York"},{"name":"CountrySubdivision","in":"query","description":"State or province for a merchant location (only supported for US and Canada locations).  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.","schema":{"type":"string"},"example":"NY"},{"name":"PostalCode","in":"query","description":"Zip code or postal code for a merchant location.  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.","schema":{"type":"string"},"example":"11001"},{"name":"Country","in":"query","description":"Any three digit country code for an ATM location.  Valid values are Three digit alpha country code as defined in ISO 3166-1.  This parameter is ignored if latitude and longitude are provided. This parameter is required if any other address information is provided including AddressLine1 AddressLine2 City PostalCode or CountrySubdivision. By default we supply ATM location data for United States ATMs for up to twenty-five records per request.","schema":{"type":"string"},"example":"USA"},{"name":"Latitude","in":"query","description":"Latitude of a merchant location.  If latitude is provided longitude must also be provided.","schema":{"type":"number","format":"double"},"example":"38.53463"},{"name":"Longitude","in":"query","description":"Longitude of a merchant location.  If longitude is provided latitude must also be provided.","schema":{"type":"number","format":"double"},"example":"-90.286781"},{"name":"DistanceUnit","in":"query","description":"Indicates the unit for the radius as well as the units of the distance of each location from the basepoint in the response.","schema":{"type":"string"},"example":"MILE"},{"name":"Radius","in":"query","description":"This is the radius from the search point in the distance unit you set.  For example if you want to search for locations within 50 miles of a certain point you would set DistanceUnit=mile and Radius=50.  This parameter is ignored in non-geocoded countries.","schema":{"type":"integer"},"example":"25"},{"name":"OfferMerchantID","in":"query","description":"Unique identifier that represents the merhcant sponsor of an offer. Any valid merchant ID.","schema":{"type":"string"},"example":"34760"}],"responses":{"200":{"description":"An array of Merchant locations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchantsResponse"}}}},"default":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Acceptance":{"type":"object","properties":{"PayPass":{"$ref":"#/components/schemas/PayPass"}}},"Address":{"type":"object","properties":{"City":{"type":"string","description":"The name of the city for an ATM location.","example":"CHICAGO"},"Country":{"$ref":"#/components/schemas/Country"},"CountrySubdivision":{"$ref":"#/components/schemas/CountrySubdivision"},"Line1":{"type":"string","description":"Line 1 of the street address for the merchant location.  Usually includes the street number and name.","example":"42 ELM AVENUE"},"Line2":{"type":"string","description":"Line 2 of the street address usually an apartment number or suite number.","example":"SUITE 100"},"PostalCode":{"type":"string","description":"The zip code or postal code for an ATM location.","example":"60601"}}},"Atm":{"type":"object","properties":{"AccessFees":{"type":"string","description":"This value indicates under what conditions access fees are charged. Options are UNKNOWN, DOMESTIC, INTERNATIONAL, DOMESTIC_AND_INTERNATIONAL, NO_FEE.","example":"DOMESTIC"},"Availability":{"type":"string","description":"This value indicates the availability hours of the ATM. Options are UNKNOWN, ALWAYS_AVAILABLE, BUSINESS_HOURS, IRREGULAR_HOURS.","example":"ALWAYS_AVAILABLE"},"Camera":{"type":"string","description":"This value indicates whether or not a security camera is present or near ATM. Options are UNKNOWN, YES, NO.","example":"YES"},"HandicapAccessible":{"type":"string","description":"This value indicates whether or not the ATM is accessible by wheelchair. Options are UNKNOWN, YES, NO.","example":"YES"},"InternationalMaestroAccepted":{"type":"integer","description":"This field will provide ATM Terminals which can still process Maestro transactions but are not yet EMV chip reader enabled. Information available only for USA and Argentina till October 2014. 1=Yes.","example":1},"Location":{"$ref":"#/components/schemas/Location"},"Owner":{"type":"string","description":"This is the DBA name of the financial institution affiliate or independent service organization.","example":"EGLOBAL"},"SharedDeposit":{"type":"string","description":"This value indicates whether or not the ATM participates in the MasterCard Shared Deposit network. Options are YES or NO.","example":"YES"},"Sponsor":{"type":"string","description":"This is the legal or business name of the entity that sponsors the owner of the ATM into the MasterCard network.","example":"PeoplesBank"},"SupportEMV":{"type":"integer","description":"This indicates whether the ATM has the ability to read chip cards or not. Options are 1 = Yes 2 = No or Empty = Unknown.","example":1},"SurchargeFreeAlliance":{"type":"string","description":"This value indicates whether or not the ATM participates in the MasterCard Shared (only) Surcharge Free Alliance network. Options are YES or NO.","example":"YES"},"SurchargeFreeAllianceNetwork":{"type":"string","description":"This value indicates whether or not the ATM participates in the MasterCard Shared (only) Surcharge Free Alliance network. Options are DOES_NOT_PARTICIPATE_IN_SFA, ALLPOINT_PREPAID, MONEYPASS_DEBIT, and ALL_SURCHARGE_FREE.","example":"DOES_NOT_PARTICIPATE_IN_SFA"}}},"Atms":{"type":"object","properties":{"Atm":{"type":"array","items":{"$ref":"#/components/schemas/Atm"}},"PageOffset":{"type":"string","description":"Zero-based offset where the response will start. The actual start position is this value +1. An offset of 10 starts at item 11. Combined with the PageLength option this allows pagination to be supported through the service requests.","example":"25"},"TotalCount":{"type":"integer","description":"This is the total number of ATMs that match your criteria.","example":2746}}},"AtmsResponse":{"type":"object","properties":{"Atms":{"$ref":"#/components/schemas/Atms"}}},"Cashback":{"type":"object","properties":{"MaximumAmount":{"type":"integer","description":"Maximum cashback amount permitted at the location.","example":40}}},"Categories":{"type":"object","properties":{"Category":{"type":"array","items":{"type":"string","description":"Merchant's category.","example":"SPORTS"}}}},"CategoriesResponse":{"type":"object","properties":{"Categories":{"$ref":"#/components/schemas/Categories"}}},"Countries":{"type":"object","properties":{"Country":{"type":"array","items":{"$ref":"#/components/schemas/Country"}}}},"CountriesResponse":{"type":"object","properties":{"Countries":{"$ref":"#/components/schemas/Countries"}}},"Country":{"type":"object","properties":{"Code":{"type":"string","description":"Three digit alpha country code as defined in ISO 3166-1.","example":"AFG"},"Geocoding":{"type":"boolean","description":"Boolean which indicates if the country is geocoded. TRUE or FALSE","example":true},"Name":{"type":"string","description":"Name of the country.","example":"AFGHANISTAN"}}},"CountrySubdivision":{"type":"object","properties":{"Code":{"type":"string","description":"Abbreviated code for the state or province.","example":"IL"},"Name":{"type":"string","description":"Name of the state or province for an ATM location.","example":"ILLINOIS"}}},"CountrySubdivisionResponse":{"type":"object","properties":{"CountrySubdivisions":{"$ref":"#/components/schemas/CountrySubdivisions"}}},"CountrySubdivisions":{"type":"object","properties":{"CountrySubdivision":{"type":"array","items":{"$ref":"#/components/schemas/CountrySubdivision"}}}},"Error":{"type":"object","properties":{"ReasonCode":{"type":"string","description":"Identify the reason for the error."},"Source":{"type":"string","description":"Unique identifier that attempts to define the field in error when available.  If a specific field can't be identified System will be returned.","example":"Atms.Atm.Location.Address.Line1"}}},"ErrorResponse":{"type":"object","properties":{"Errors":{"$ref":"#/components/schemas/Errors"}}},"Errors":{"type":"object","properties":{"Error":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"Features":{"type":"object","properties":{"Cashback":{"$ref":"#/components/schemas/Cashback"}}},"Location":{"type":"object","properties":{"Address":{"$ref":"#/components/schemas/Address"},"Distance":{"type":"number","description":"This is the numerical value for the distance from the provided location to the selected ATM.","format":"double","example":0.91},"DistanceUnit":{"type":"string","description":"This is the unit of measure value for the distance from the provided location to the selected ATM. Options are KILOMETER and MILE.","example":"KILOMETER"},"LocationType":{"$ref":"#/components/schemas/LocationType"},"Name":{"type":"string","description":"This is the name of the ATM location","example":"QUIK TRIP STORE 1"},"Point":{"$ref":"#/components/schemas/Point"}}},"LocationType":{"type":"object","properties":{"AirportCode":{"type":"string","description":"Airport code is a 3 digit field. This is an optional field and will only be returned if Atms.Atm.Location.LocationType.Type=AIRPORT","example":"JFK"},"Type":{"type":"string","description":"Type of location for the ATM. Options are OTHER, AIRPORT, HOSPITAL, FINANCIAL_INSTITUTION.","example":"AIRPORT"}}},"Merchant":{"type":"object","properties":{"Acceptance":{"$ref":"#/components/schemas/Acceptance"},"Category":{"type":"string","description":"Merchant's category.","example":"DINING AND ENTERTAINMENT"},"Features":{"$ref":"#/components/schemas/Features"},"Id":{"type":"string","description":"Numerical merchant identifier.","example":"2801796"},"Location":{"$ref":"#/components/schemas/Location"},"MerchantOfferId":{"type":"string","description":"Merchant's Easy Savings Offer Id","example":"1143109"},"Name":{"type":"string","description":"Name of the merchant","example":"MCDONALDS"},"PhoneNumber":{"type":"string","description":"Merchant's phone number","example":"8165442210"},"Products":{"$ref":"#/components/schemas/Products"},"Topup":{"$ref":"#/components/schemas/Topup"},"WebsiteUrl":{"type":"string","description":"Merchant's website URL address.","example":"www.mcdonalds.com"}}},"Merchants":{"type":"object","properties":{"Merchant":{"type":"array","items":{"$ref":"#/components/schemas/Merchant"}},"PageOffset":{"type":"string","description":"Zero-based offset where the response will start. The actual start position is this value +1. An offset of 10 starts at item 11. Combined with the PageLength option this allows pagination to be supported through the service requests.","example":"25"},"TotalCount":{"type":"integer","description":"This is the total number of ATtms that match your criteria.","example":86}}},"MerchantsResponse":{"type":"object","properties":{"Merchants":{"$ref":"#/components/schemas/Merchants"}}},"PayPass":{"type":"object","properties":{"Concession":{"type":"boolean","description":"Boolean value which indicates if the concession area is equipped with a PayPass card reader.","example":true},"DriveThru":{"type":"boolean","description":"Boolean value which indicates if the drive thru is equipped with a PayPass card reader.","example":true},"FuelPump":{"type":"boolean","description":"Boolean value which indicates if the fuel pump is equipped with a PayPass card reader.","example":true},"Pharmacy":{"type":"boolean","description":"Boolean value which indicates if the pharmacy is equipped with a PayPass card reader.","example":true},"Register":{"type":"boolean","description":"Boolean value which indicates if the register is equipped with a PayPass card reader.","example":true},"Ticketing":{"type":"boolean","description":"Boolean value which indicates if the ticketing area is equipped with a PayPass card reader.","example":true},"TollBooth":{"type":"boolean","description":"Boolean value which indicates if the toll booth is equipped with a PayPass card reader.","example":true},"VendingMachine":{"type":"boolean","description":"Boolean value which indicates if the vending machine is equipped with a PayPass card reader.","example":true}}},"Point":{"type":"object","properties":{"Latitude":{"type":"number","description":"Latitude of the merchant's location.","format":"double","example":32.75723000000001},"Longitude":{"type":"number","description":"Longitude of the merchant's location.","format":"double","example":89.700215}}},"Products":{"type":"object","properties":{"PrepaidTravelcard":{"type":"boolean","description":"Boolean value which indicates if the merchant accepts MasterCard Prepaid Travel Cards.","example":true}}},"Topup":{"type":"object","properties":{"rePower":{"$ref":"#/components/schemas/rePower"}}},"rePower":{"type":"object","properties":{"CardSwipe":{"type":"boolean","description":"Boolean value which indicates if the repower card load type at this merchant supports Card Swipe.","example":true},"MoneyPak":{"type":"boolean","description":"Boolean value which indicates if the repower card load type at this merchant supports MoneyPak.","example":true}}}}}}