{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "FabricAdminClient",
    "description" : "Storage subsystem operation endpoints and objects.",
    "version" : "2018-10-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems" : {
      "get" : {
        "tags" : [ "StorageSubSystems" ],
        "description" : "Returns a list of all storage subsystems for a location.",
        "operationId" : "StorageSubSystems_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scaleUnit",
          "in" : "path",
          "description" : "Name of the scale units.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2018-10-01"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter parameter.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSubSystemList"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}" : {
      "get" : {
        "tags" : [ "StorageSubSystems" ],
        "description" : "Return the requested storage subsystem.",
        "operationId" : "StorageSubSystems_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scaleUnit",
          "in" : "path",
          "description" : "Name of the scale units.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "storageSubSystem",
          "in" : "path",
          "description" : "Name of the storage system.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2018-10-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageSubSystem"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "StorageSubSystem" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/StorageSubSystemModel"
          }
        },
        "description" : "Representation of a storage system resource.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "The region where the resource is located."
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key-value pairs."
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base resource object."
        } ]
      },
      "StorageSubSystemList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of storage systems.",
            "items" : {
              "$ref" : "#/components/schemas/StorageSubSystem"
            }
          }
        },
        "description" : "Pageable list of storage systems."
      },
      "StorageSubSystemModel" : {
        "type" : "object",
        "properties" : {
          "healthStatus" : {
            "type" : "string",
            "description" : "Health status of the subsystem."
          },
          "operationalStatus" : {
            "type" : "string",
            "description" : "Operational status of the subsystem."
          },
          "rebalanceStatus" : {
            "type" : "string",
            "description" : "Rebalance status of the subsystem."
          },
          "remainingCapacityGB" : {
            "type" : "integer",
            "description" : "Remaining capacity in GB of the subsystem.",
            "format" : "int32"
          },
          "totalCapacityGB" : {
            "type" : "integer",
            "description" : "Total capacity in GB of the subsystem.",
            "format" : "int32"
          }
        },
        "description" : "All properties of a storage subsystem."
      }
    },
    "parameters" : {
      "ApiVersionParameter" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client API Version.",
        "required" : true,
        "schema" : {
          "type" : "string",
          "default" : "2018-10-01"
        }
      },
      "StorageSubSystemParameter" : {
        "name" : "storageSubSystem",
        "in" : "path",
        "description" : "Name of the storage system.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}