{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Orders API",
    "description" : "Please make sure you use the correct version of the APIs for your use case. To find out the appropriate version, go to the API Docs  drop down on the menu.",
    "contact" : {
      "name" : "partnerapis@walmartlabs.com"
    },
    "version" : "3.0.1"
  },
  "servers" : [ {
    "url" : "https://developer.walmart.com/orderProxy/order-api-doc-app/rest"
  } ],
  "tags" : [ {
    "name" : "Version 3"
  } ],
  "paths" : {
    "/v3/orders" : {
      "get" : {
        "tags" : [ "Version 3" ],
        "summary" : "Get all orders",
        "description" : "You can display a list of all orders with the query parameter filter criteria.",
        "operationId" : "getAllOrders",
        "parameters" : [ {
          "name" : "shipNode",
          "in" : "query",
          "description" : "Ship Node",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sku",
          "in" : "query",
          "description" : "Retrieves all orders with the specified SKU.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerOrderId",
          "in" : "query",
          "description" : "Retrives the details of the specified customerOrderId.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "purchaseOrderId",
          "in" : "query",
          "description" : "The purchase order ID associated with the order to retrieve. One customer order can have multiple purchase orders associated with it.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "The list of orders corresponding to the requested status.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdStartDate",
          "in" : "query",
          "description" : "Limit orders to those created after this date or a timestamp.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdEndDate",
          "in" : "query",
          "description" : "Limit orders to those created before this date or timestamp.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromExpectedShipDate",
          "in" : "query",
          "description" : "Limit orders to those that have order lines with an expected ship date after this date.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "toExpectedShipDate",
          "in" : "query",
          "description" : "Limit orders to those that have order lines with an expected ship date before this date. ",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of orders to be returned. Do not set this parameter to over 200 orders.",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "WM_CONSUMER.CHANNEL.TYPE",
          "in" : "header",
          "description" : "Channel Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "SWAGGER_CHANNEL_TYPE",
            "enum" : [ "SWAGGER_CHANNEL_TYPE" ]
          }
        }, {
          "name" : "WM_CONSUMER.ID",
          "in" : "header",
          "description" : "Your Consumer ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WM_SEC.TIMESTAMP",
          "in" : "header",
          "description" : "Epoch timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SEC.AUTH_SIGNATURE",
          "in" : "header",
          "description" : "Authentication signature",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SVC.NAME",
          "in" : "header",
          "description" : "The Service name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Walmart Marketplace"
          }
        }, {
          "name" : "WM_QOS.CORRELATION_ID",
          "in" : "header",
          "description" : "A Transaction ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "123456abcdef"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3/orders/released" : {
      "get" : {
        "tags" : [ "Version 3" ],
        "summary" : "Get all released orders",
        "description" : "You can display all released orders that have been created and are ready for fulfilment.",
        "operationId" : "getReleasedOrders",
        "parameters" : [ {
          "name" : "shipNode",
          "in" : "query",
          "description" : "Ship Node",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdStartDate",
          "in" : "query",
          "description" : "Limit orders to those created after this date or a timestamp.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of orders to be returned. Do not set this parameter to over 200 orders.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "WM_CONSUMER.CHANNEL.TYPE",
          "in" : "header",
          "description" : "Channel Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "SWAGGER_CHANNEL_TYPE",
            "enum" : [ "SWAGGER_CHANNEL_TYPE" ]
          }
        }, {
          "name" : "WM_CONSUMER.ID",
          "in" : "header",
          "description" : "Your Consumer ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WM_SEC.TIMESTAMP",
          "in" : "header",
          "description" : "Epoch timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SEC.AUTH_SIGNATURE",
          "in" : "header",
          "description" : "Authentication signature",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SVC.NAME",
          "in" : "header",
          "description" : "The Service name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Walmart Marketplace"
          }
        }, {
          "name" : "WM_QOS.CORRELATION_ID",
          "in" : "header",
          "description" : "A Transaction ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "123456abcdef"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3/orders/released{nextCursor}" : {
      "get" : {
        "tags" : [ "Version 3" ],
        "summary" : "Get released orders for next page",
        "description" : "You can display all released orders that have been created and are ready for fulfilment with nextCursor path parameter.",
        "operationId" : "getNextCursorReleasedOrders",
        "parameters" : [ {
          "name" : "nextCursor",
          "in" : "path",
          "description" : "Used for pagination when there are more than 200 orders to retrieve. The nextCursor value of the returned response includes a link to another GET call to retrieve the next page. Copy the link and paste it in the next call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "WM_CONSUMER.CHANNEL.TYPE",
          "in" : "header",
          "description" : "Channel Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "SWAGGER_CHANNEL_TYPE",
            "enum" : [ "SWAGGER_CHANNEL_TYPE" ]
          }
        }, {
          "name" : "WM_CONSUMER.ID",
          "in" : "header",
          "description" : "Your Consumer ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WM_SEC.TIMESTAMP",
          "in" : "header",
          "description" : "Epoch timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SEC.AUTH_SIGNATURE",
          "in" : "header",
          "description" : "Authentication signature",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SVC.NAME",
          "in" : "header",
          "description" : "The Service name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Walmart Marketplace"
          }
        }, {
          "name" : "WM_QOS.CORRELATION_ID",
          "in" : "header",
          "description" : "A Transaction ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "123456abcdef"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3/orders/{purchaseOrderId}" : {
      "get" : {
        "tags" : [ "Version 3" ],
        "summary" : "Get an order",
        "description" : "You can display details of a specific order based on the purchaseOrderId.",
        "operationId" : "getOrderByPurchaseOrderId",
        "parameters" : [ {
          "name" : "purchaseOrderId",
          "in" : "path",
          "description" : "Purchase Order ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shipNode",
          "in" : "query",
          "description" : "Ship Node",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "WM_CONSUMER.CHANNEL.TYPE",
          "in" : "header",
          "description" : "Channel Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "SWAGGER_CHANNEL_TYPE",
            "enum" : [ "SWAGGER_CHANNEL_TYPE" ]
          }
        }, {
          "name" : "WM_CONSUMER.ID",
          "in" : "header",
          "description" : "Your Consumer ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WM_SEC.TIMESTAMP",
          "in" : "header",
          "description" : "Epoch timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SEC.AUTH_SIGNATURE",
          "in" : "header",
          "description" : "Authentication signature",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SVC.NAME",
          "in" : "header",
          "description" : "The Service name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Walmart Marketplace"
          }
        }, {
          "name" : "WM_QOS.CORRELATION_ID",
          "in" : "header",
          "description" : "A Transaction ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "123456abcdef"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3/orders/{purchaseOrderId}/acknowledge" : {
      "post" : {
        "tags" : [ "Version 3" ],
        "summary" : "Acknowledge orders",
        "description" : "You can acknowledge an entire order, including all of its order lines. Walmart business rules require to acknowledge orders within four hour of receipt of the order, except in extenuating circumstances.",
        "operationId" : "acknowledgeOrders",
        "parameters" : [ {
          "name" : "purchaseOrderId",
          "in" : "path",
          "description" : "Purchase Order ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shipNode",
          "in" : "query",
          "description" : "Ship Node",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "WM_CONSUMER.CHANNEL.TYPE",
          "in" : "header",
          "description" : "Channel Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "SWAGGER_CHANNEL_TYPE",
            "enum" : [ "SWAGGER_CHANNEL_TYPE" ]
          }
        }, {
          "name" : "WM_CONSUMER.ID",
          "in" : "header",
          "description" : "Your Consumer ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WM_SEC.TIMESTAMP",
          "in" : "header",
          "description" : "Epoch timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SEC.AUTH_SIGNATURE",
          "in" : "header",
          "description" : "Authentication signature",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SVC.NAME",
          "in" : "header",
          "description" : "The Service name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Walmart Marketplace"
          }
        }, {
          "name" : "WM_QOS.CORRELATION_ID",
          "in" : "header",
          "description" : "A Transaction ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "123456abcdef"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3/orders/{purchaseOrderId}/cancel" : {
      "post" : {
        "tags" : [ "Version 3" ],
        "summary" : "Cancel order lines",
        "description" : "You can cancel one or more order lines. You must include a purchaseOrderLineNumber when cancelling an order. After cancelling your order, update the inventory for the cancelled order and send it in the next inventory feed.",
        "operationId" : "cancelOrder",
        "parameters" : [ {
          "name" : "purchaseOrderId",
          "in" : "path",
          "description" : "Purchase Order ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shipNode",
          "in" : "query",
          "description" : "Ship Node",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "WM_CONSUMER.CHANNEL.TYPE",
          "in" : "header",
          "description" : "Channel Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "SWAGGER_CHANNEL_TYPE",
            "enum" : [ "SWAGGER_CHANNEL_TYPE" ]
          }
        }, {
          "name" : "WM_CONSUMER.ID",
          "in" : "header",
          "description" : "Your Consumer ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WM_SEC.TIMESTAMP",
          "in" : "header",
          "description" : "Epoch timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SEC.AUTH_SIGNATURE",
          "in" : "header",
          "description" : "Authentication signature",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SVC.NAME",
          "in" : "header",
          "description" : "The Service name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Walmart Marketplace"
          }
        }, {
          "name" : "WM_QOS.CORRELATION_ID",
          "in" : "header",
          "description" : "A Transaction ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "123456abcdef"
          }
        } ],
        "requestBody" : {
          "description" : "Request body",
          "content" : {
            "application/xml" : {
              "schema" : {
                "type" : "string"
              }
            },
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3/orders/{purchaseOrderId}/refund" : {
      "post" : {
        "tags" : [ "Version 3" ],
        "summary" : "Refund order lines",
        "description" : "You can refund one or more order lines that have been shipped. The response to a successful call contains the order with the refunded line item.",
        "operationId" : "refundOrder",
        "parameters" : [ {
          "name" : "purchaseOrderId",
          "in" : "path",
          "description" : "Purchase Order ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shipNode",
          "in" : "query",
          "description" : "Ship Node",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "WM_CONSUMER.CHANNEL.TYPE",
          "in" : "header",
          "description" : "Channel Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "SWAGGER_CHANNEL_TYPE",
            "enum" : [ "SWAGGER_CHANNEL_TYPE" ]
          }
        }, {
          "name" : "WM_CONSUMER.ID",
          "in" : "header",
          "description" : "Your Consumer ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WM_SEC.TIMESTAMP",
          "in" : "header",
          "description" : "Epoch timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SEC.AUTH_SIGNATURE",
          "in" : "header",
          "description" : "Authentication signature",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SVC.NAME",
          "in" : "header",
          "description" : "The Service name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Walmart Marketplace"
          }
        }, {
          "name" : "WM_QOS.CORRELATION_ID",
          "in" : "header",
          "description" : "A Transaction ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "123456abcdef"
          }
        } ],
        "requestBody" : {
          "description" : "Request body",
          "content" : {
            "application/xml" : {
              "schema" : {
                "type" : "string"
              }
            },
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3/orders/{purchaseOrderId}/shipping" : {
      "post" : {
        "tags" : [ "Version 3" ],
        "summary" : "Shipping updates",
        "description" : "You can change the status of order lines to \"Shipped\" and trigger the charge to a customer. You must acknowledge your orders before sending a shipping update to avoid underselling. An order line, once marked as shipped, cannot be updated.",
        "operationId" : "shippingOrder",
        "parameters" : [ {
          "name" : "purchaseOrderId",
          "in" : "path",
          "description" : "Purchase Order ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "shipNode",
          "in" : "query",
          "description" : "Ship Node",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "WM_CONSUMER.CHANNEL.TYPE",
          "in" : "header",
          "description" : "Channel Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "SWAGGER_CHANNEL_TYPE",
            "enum" : [ "SWAGGER_CHANNEL_TYPE" ]
          }
        }, {
          "name" : "WM_CONSUMER.ID",
          "in" : "header",
          "description" : "Your Consumer ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WM_SEC.TIMESTAMP",
          "in" : "header",
          "description" : "Epoch timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SEC.AUTH_SIGNATURE",
          "in" : "header",
          "description" : "Authentication signature",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SVC.NAME",
          "in" : "header",
          "description" : "The Service name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Walmart Marketplace"
          }
        }, {
          "name" : "WM_QOS.CORRELATION_ID",
          "in" : "header",
          "description" : "A Transaction ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "123456abcdef"
          }
        } ],
        "requestBody" : {
          "description" : "Request body",
          "content" : {
            "application/xml" : {
              "schema" : {
                "type" : "string"
              }
            },
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3/orders{nextCursor}" : {
      "get" : {
        "tags" : [ "Version 3" ],
        "summary" : "Get orders for next page",
        "description" : "You can display a list of all orders with nextCursor path parameter pagination criteria.",
        "operationId" : "getAllOrdersNext",
        "parameters" : [ {
          "name" : "nextCursor",
          "in" : "path",
          "description" : "Used for pagination when there are more than 200 orders to retrieve. The nextCursor value of the returned response includes a link to another GET call to retrieve the next page. Copy the link and paste it in the next call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "application/xml,\napplication/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "application/xml",
            "enum" : [ "application/xml", "application/json" ]
          }
        }, {
          "name" : "WM_CONSUMER.CHANNEL.TYPE",
          "in" : "header",
          "description" : "Channel Type",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "SWAGGER_CHANNEL_TYPE",
            "enum" : [ "SWAGGER_CHANNEL_TYPE" ]
          }
        }, {
          "name" : "WM_CONSUMER.ID",
          "in" : "header",
          "description" : "Your Consumer ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "WM_SEC.TIMESTAMP",
          "in" : "header",
          "description" : "Epoch timestamp",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SEC.AUTH_SIGNATURE",
          "in" : "header",
          "description" : "Authentication signature",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Auto populated"
          }
        }, {
          "name" : "WM_SVC.NAME",
          "in" : "header",
          "description" : "The Service name",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Walmart Marketplace"
          }
        }, {
          "name" : "WM_QOS.CORRELATION_ID",
          "in" : "header",
          "description" : "A Transaction ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "123456abcdef"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    }
  }
}