{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "U.S. EPA Enforcement and Compliance History Online (ECHO) - Clean Water Act (CWA) Rest Services",
    "description" : "Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.\n CWA Rest Services provides multiple service endpoints, each with specific capabilities, to search and retrieve data on facilities regulated under the Clean Water Act (CWA) and managed under the National Pollutant Discharge Elimination System (NPDES) program. The returned results reflect data drawn from EPA's ICIS-NPDES database.\n\\\nThe get_facilities, get_map, get_qid, and get_download end points are meant to be used together, while the enhanced get_facility_info end point is self contained.\n  The get_facility_info end point returns either an array of state, county or zip clusters with summary statistics per cluster or an array of facilities.\n\\\nThe recommended use scenario for get_facilities, get_qid, get_map, and get_downoad is:\n\\\n <b>1)</b>  Use get_facilities to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.\n <b>2)</b>  Use get_qid, with the returned QID, to paginate through arrays of facility results.\n <b>3)</b>  Use get_map, with the returned QID, to zoom in/out and pan on the clustered and individual facility coordinates that meet the QID query criteria.\n <b>4)</b>  Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of facility information that meets the QID query criteria.\n\\\n\\\nUse the qcolumns parameter to customize your search results.  Use the Metadata service endpoint for a list of available output objects, their Column Ids, and their definitions to help you build your customized output. \n\\\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n ",
    "contact" : {
      "name" : "U.S. EPA, OECA Integration, Targeting and Access Branch",
      "url" : "https://echo.epa.gov/resources/general-info/contact-us"
    },
    "license" : {
      "name" : "U.S. Public Domain License",
      "url" : "https://edg.epa.gov/EPA_Data_License.html"
    },
    "version" : "2019.10.15"
  },
  "servers" : [ {
    "url" : "https://echodata.epa.gov/echo"
  } ],
  "paths" : {
    "/cwa_rest_services.get_download" : {
      "get" : {
        "tags" : [ "Facility Information" ],
        "summary" : "Clean Water Act (CWA) Download Data Service",
        "description" : "Based on the QID obtained from a get_facilities or get_facility_info query, return a comma separated value (CSV) file of the facilities found.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- CSV = Facility results formatted as comma delimited file download (default).",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "qid",
          "in" : "query",
          "description" : "Query ID Selector.  Enter the QueryID number from a previously run query.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "qcolumns",
          "in" : "query",
          "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pretty_print",
          "in" : "query",
          "description" : "Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost.",
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file or a file containing a GeoJSON feature collection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Facility Information" ],
        "summary" : "Clean Water Act (CWA) Download Data Service",
        "description" : "Based on the QID obtained from a get_facilities or get_facility_info query, return a comma separated value (CSV) file of the facilities found.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "qid" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- CSV = Facility results formatted as comma delimited file download (default)."
                  },
                  "qid" : {
                    "type" : "string",
                    "description" : "Query ID Selector.  Enter the QueryID number from a previously run query."
                  },
                  "qcolumns" : {
                    "type" : "string",
                    "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."
                  },
                  "p_pretty_print" : {
                    "type" : "number",
                    "description" : "Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file or a file containing a GeoJSON feature collection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/cwa_rest_services.get_facilities" : {
      "get" : {
        "tags" : [ "Facility Information" ],
        "summary" : "Clean Water Act (CWA) Facility Search Service",
        "description" : "Validates query search parameters and returns query identifier.  Use the responseset parameter to set the page size",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_fn",
          "in" : "query",
          "description" : "Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sa",
          "in" : "query",
          "description" : "Facility street address. Enter a complete or partial street address.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sa1",
          "in" : "query",
          "description" : "Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ct",
          "in" : "query",
          "description" : "Facility City Filter. Enter a single case-insensitive city name to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_co",
          "in" : "query",
          "description" : "Facility County Filter. Provide a single county name in combination with a state value provided via p_st.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fips",
          "in" : "query",
          "description" : "FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_st",
          "in" : "query",
          "description" : "Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_zip",
          "in" : "query",
          "description" : "5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_frs",
          "in" : "query",
          "description" : "Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_reg",
          "in" : "query",
          "description" : "EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.",
          "schema" : {
            "type" : "string",
            "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10" ]
          }
        }, {
          "name" : "p_sic",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ncs",
          "in" : "query",
          "description" : "North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pen",
          "in" : "query",
          "description" : "Last Penality Date Qualifier Filter.  Enter one of the following:   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for a facility with a penalty within previous 5 months.\n- GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_c1lat",
          "in" : "query",
          "description" : "In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_c1lon",
          "in" : "query",
          "description" : "In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_c2lat",
          "in" : "query",
          "description" : "In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_c2lon",
          "in" : "query",
          "description" : "In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_usmex",
          "in" : "query",
          "description" : "US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_sic2",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing \"22\" to match all SIC codes beginning with 22.  Use the \"%\" character within strings to match any SIC values with the pattern.  For example, \"2%21\" matches 2021, 2121, 2221, etc.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sic4",
          "in" : "query",
          "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fa",
          "in" : "query",
          "description" : "Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ff",
          "in" : "query",
          "description" : "Federal Facility Indicator Flag. Enter Y to restrict searches to federal facilities.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y" ]
          }
        }, {
          "name" : "p_act",
          "in" : "query",
          "description" : "Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.  A Y will select ICIS NPDES permits with a status of effective, continued, or expired.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_maj",
          "in" : "query",
          "description" : "Major Facility Flag.  Enter Y to restrict results to Major facilities only.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_mact",
          "in" : "query",
          "description" : "CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fea",
          "in" : "query",
          "description" : "Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N" ]
          }
        }, {
          "name" : "p_feay",
          "in" : "query",
          "description" : "Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_feaa",
          "in" : "query",
          "description" : "Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All",
          "schema" : {
            "type" : "string",
            "enum" : [ "A", "E", "S" ]
          }
        }, {
          "name" : "p_iea",
          "in" : "query",
          "description" : "Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N" ]
          }
        }, {
          "name" : "p_ieay",
          "in" : "query",
          "description" : "Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_ieaa",
          "in" : "query",
          "description" : "Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State",
          "schema" : {
            "type" : "string",
            "enum" : [ "E", "S" ]
          }
        }, {
          "name" : "p_qiv",
          "in" : "query",
          "description" : "Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.",
          "schema" : {
            "type" : "string",
            "enum" : [ "0", "GT1", "GT2", "GT4", "GT8", "12" ]
          }
        }, {
          "name" : "p_iv",
          "in" : "query",
          "description" : "Facility has a violation status of 'In Viol' during any of the selected quarters. \n\nRange: Fiscal Year 2020 Quarter 2 to Fiscal Year 2017 Quarter 2\n\nMultiple values are comma delimited.\n\n\n||||||  Fiscal Years ||||||\n- FY2020 or FY20 or 2020 or 20\n- FY2019 or FY19 or 2019 or 19\n- FY2018 or FY18 or 2018 or 18\n- FY2017 or FY17 or 2017 or 17\n\n||||| Fiscal Quarters |||||\n- FY2020Q2 or FY20Q2 or 20202 or 202 or 13\n- FY2020Q1 or FY20Q1 or 20201 or 201 or 12\n- FY2019Q4 or FY19Q4 or 20194 or 194 or 11\n- FY2019Q3 or FY19Q3 or 20193 or 193 or 10\n- FY2019Q2 or FY19Q2 or 20192 or 192 or 9\n- FY2019Q1 or FY19Q1 or 20191 or 191 or 8\n- FY2018Q4 or FY18Q4 or 20184 or 184 or 7\n- FY2018Q3 or FY18Q3 or 20183 or 183 or 6\n- FY2018Q2 or FY18Q2 or 20182 or 182 or 5\n- FY2018Q1 or FY18Q1 or 20181 or 181 or 4\n- FY2017Q4 or FY17Q4 or 20174 or 174 or 3\n- FY2017Q3 or FY17Q3 or 20173 or 173 or 2\n- FY2017Q2 or FY17Q2 or 20172 or 172 or 1",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_impw",
          "in" : "query",
          "description" : "Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_imp_cau_grp",
          "in" : "query",
          "description" : "Facility is discharging a pollutant group causing a waterbody to be impaired.  Enter 1 through 34 (the internal number of the pollutant group); or enter a partial name such as Dioxin,Temp,tUrBidity.",
          "schema" : {
            "type" : "string",
            "enum" : [ "ALGAL GROWTH", "AMMONIA", "BIOTOXINS", "CAUSE UNKNOWN", "CAUSE UNKNOWN - FISH KILLS", "CAUSE UNKNOWN - IMPAIRED BIOTA", "CHLORINE", "DIOXINS", "FISH CONSUMPTION ADVISORY", "FLOW ALTERATION(S)", "HABITAT ALTERATIONS", "MERCURY", "METALS (OTHER THAN MERCURY)", "NOXIOUS AQUATIC PLANTS", "NUISANCE EXOTIC SPECIES", "NUISANCE NATIVE SPECIES", "NUTRIENTS", "OIL AND GREASE", "ORGANIC ENRICHMENT/OXYGEN DEPLETION", "OTHER CAUSE", "PATHOGENS", "PESTICIDES", "PH/ACIDITY/CAUSTIC CONDITIONS", "POLYCHLORINATED BIPHENYLS (PCBS)", "RADIATION", "SALINITY/TOTAL DISSOLVED SOLIDS/CHLORIDES/SULFATES", "SEDIMENT", "TASTE, COLOR AND ODOR", "TEMPERATURE", "TOTAL TOXICS", "TOXIC INORGANICS", "TOXIC ORGANICS", "TRASH", "TURBIDITY" ]
          }
        }, {
          "name" : "p_imp_pol",
          "in" : "query",
          "description" : "Facility is discharging pollutants that are potentially contributing to the impairment of local waterbodies according to the ATTAINS database.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_trep",
          "in" : "query",
          "description" : "Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.\n- CURR = Current TRI reporter.\n- NONCURR = Has reported to TRI in the past but not for the current reporting year.",
          "schema" : {
            "type" : "string",
            "enum" : [ "CURR", "NOTCURR" ]
          }
        }, {
          "name" : "p_pm",
          "in" : "query",
          "description" : "Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.\n- NONE = 0%\n- GT5 = greater than 5%\n- GT10 = greater than 10%\n- GT25 = greater than 25%\n- GT50 = greater than 50%\n- GT75 = greater than 75%",
          "schema" : {
            "type" : "string",
            "enum" : [ "NONE", "GT5", "GT10", "GT25", "GT50", "GT75" ]
          }
        }, {
          "name" : "p_pd",
          "in" : "query",
          "description" : "Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.\n- NONE = 0 population density per square mile\n- GT100 = More than 100 population density per square mile\n- GT500 = More than 500 population density per square mile\n- GT1000 = More than 1000 population density per square mile\n- GT5000 = More than 5000 population density per square mile\n- GT10000 = More than 10000 population density per square mile\n- GT20000 = More than 20000 population density per square mile",
          "schema" : {
            "type" : "string",
            "enum" : [ "NONE", "GT100", "GT500", "GT1000", "GT5000", "GT10000", "GT20000" ]
          }
        }, {
          "name" : "p_ico",
          "in" : "query",
          "description" : "Indian Country Flag.  Enter a \"Y\" or \"N\" to restrict searches to facilities inside or outside Indian Country.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_huc",
          "in" : "query",
          "description" : "2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pid",
          "in" : "query",
          "description" : "Nine-digit permit IDs. May contain up to 2000 comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_med",
          "in" : "query",
          "description" : "Filter Results by Media.\n- A = Air\n- M = RMP (Risk Management Plan)\n- R = RCRA (Hazardous Waste)\n- S = SDWA (Public Drinking Water Systems)\n- ALL = Air and RCRA and Water",
          "schema" : {
            "type" : "string",
            "enum" : [ "A", "M", "R", "S", "ALL" ]
          }
        }, {
          "name" : "p_ysl",
          "in" : "query",
          "description" : "Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N", "NV" ]
          }
        }, {
          "name" : "p_ysly",
          "in" : "query",
          "description" : "Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.",
          "schema" : {
            "type" : "number",
            "enum" : [ 1, 2, 3, 4, 5 ]
          }
        }, {
          "name" : "p_ysla",
          "in" : "query",
          "description" : "Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State",
          "schema" : {
            "type" : "string",
            "enum" : [ "E", "S", "A" ]
          }
        }, {
          "name" : "p_qs",
          "in" : "query",
          "description" : "Quick Search. Allows entry for city, state, and/or zip code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_sfs",
          "in" : "query",
          "description" : "Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_tribeid",
          "in" : "query",
          "description" : "Numeric code for tribe (or list of tribes).",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_tribename",
          "in" : "query",
          "description" : "Tribe Name Filter.  Enter a single tribe name to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_tribedist",
          "in" : "query",
          "description" : "Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_pstat",
          "in" : "query",
          "description" : "Permit Status Filter.  Enter one or more of the following codes.  Provide multiple values as a comma-delimited list.\n- EFF = Effective\n- EXP = Expired\n- PND = Pending\n- TRM = Terminated\n- RET = Retired\n- NON = Not Needed\n- ADC = Admin Continued",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ptype",
          "in" : "query",
          "description" : "Permit Type Filter. Enter one or more code values to filter results.  Provide multiple values as a comma-delimited list.\n- NPD = NPDES Individual Permit\n- NGP = NPDES Master General Permit\n- GPC = General Permit Covered Facility\n- SNN = State Issued Master General Permit (Non-NPDES)\n- IIU = Individual IU Permit (Non-NPDES)\n- SIN = Individual State Issued Permit (Non-NPDES)\n- APR = Associated Permit Record\n- UFT = Unpermitted Facility",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pcomp",
          "in" : "query",
          "description" : "Permit Component Code Filter.  Enter one or more codes to filter results.  Provide multiple values as a comma-delimited list.\n- PRE = Pretreatment\n- CAF = CAFO\n- CSO = CSO\n- POT = POTW\n- BIO = Biosolids\n- SWS = Storm Water Small MS4s\n- SWM = Storm Water Medium/Large MS4s\n- SWI = Storm Water Industrial\n- SWC = Storm Water Construction",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_plimits",
          "in" : "query",
          "description" : "Permit Limits Present Flag.  Enter Y to limit results to facilities have present permit limits.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_pcss",
          "in" : "query",
          "description" : "Combined Sewer Systems Outflows Limiter.  Enter one of the following to limit results to facilities having the given count of CSS outflows.\n- ALL = returns all facilities, regardless of the number of outflows.\n- GE1 = returns facilities with one or more outflows.\n- GE10 = returns facilities with ten or more outflows.\n- GE50 = returns facilities with fifty or more outflows.",
          "schema" : {
            "type" : "string",
            "enum" : [ "ALL", "GE1", "GE10", "GE50" ]
          }
        }, {
          "name" : "p_pexp",
          "in" : "query",
          "description" : "Permit Expired or Administratively Continued Limiter.  Enter one of the following values to filter results.\n- EXP = limit results to facilities with permits expired or administratively continued.\n- EXPLE1YR = limit resuls to facilities with permits expired administratively continued within the past year.\n- EXPGT1YR = limit resuls to facilities with permits expired administratively continued more than a year ago.",
          "schema" : {
            "type" : "string",
            "enum" : [ "EXP", "EXPLE1YR", "EXPGT1YR" ]
          }
        }, {
          "name" : "p_owop",
          "in" : "query",
          "description" : "Owner/Operator code filter.  Enter one of the following values to restrict results.\n- Federal = Federal facilities regulated under the NPDES program.\n- POTW = Publicly owned treatment works. Treatment works that are owned by a State, Tribe, or municipality.\n- Non-POTW = Non-publicly owned treatment works. Often referred to as \"non-municipals\" or \"industrials\".",
          "schema" : {
            "type" : "string",
            "enum" : [ "FEDERAL", "POTW", "NON-POTW" ]
          }
        }, {
          "name" : "p_ipfti",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_agoo",
          "in" : "query",
          "description" : "Indicates whether to AND or OR the Owner/Operator parameter (p_owop) and the federal agency code (p_fa) parameters.",
          "schema" : {
            "type" : "string",
            "enum" : [ "AND", "OR" ]
          }
        }, {
          "name" : "p_idt1",
          "in" : "query",
          "description" : "Beginning of date range of most recent facility inspection.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_idt2",
          "in" : "query",
          "description" : "End of date range of most recent facility inspection.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pityp",
          "in" : "query",
          "description" : "Inspection Type Code.  See ICIS Compliance Monitor Types lookup serivce for a list of available codes and descriptions.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pfead1",
          "in" : "query",
          "description" : "Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pfead2",
          "in" : "query",
          "description" : "Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pfeat",
          "in" : "query",
          "description" : "Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pccs",
          "in" : "query",
          "description" : "Current Compliance Status:\n||||||||||||||||||||||||||| \nSignificant Noncompliance (SNC) \n|||||||||||||||||||||||||||\n- SNC = E, S, X, T, D\n- E�= E(EffViol)\n- S�= S(CSchVio)\n- X = X(EffNMth)\n- T = T(CSchRpt)\n- D�= D(DMR NR)\n\n|||||||||||||||||||||||||||\nNoncompliance (NC)\n|||||||||||||||||||||||||||\n- NC = N, V\n- N�= N(RptViol)\n- V�= V(NonRNCV)\n\n|||||||||||||||||||||||||||\nNew Violations (PQV)\n|||||||||||||||||||||||||||\n- PQV = New Violations (13th Quarter)\n\n|||||||||||||||||||||||||||\nNo Violations (NV)\n|||||||||||||||||||||||||||\n- NV = R, P, M, U, W\n, Blank, and No New Violations (no PQV)\n- R�= R(Resolvd)\n- P�= P(ResPend)\n- M�= C(Manual)\n- U = U(N/A)\n- W = W(N/A)\n- Blank = (null)\n\nMay contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pexcd",
          "in" : "query",
          "description" : "3-Year Effluent Exceedances Limiter.  Enter a value to restrict results to facilities with the given amount of exceedances in the past 3 years.\n- 0 = facilities with no exceedances\n- GE0 = facilities with one or more exceedances\n- GE10 = facilities with ten or more exceedances\n- GE50 = facilities with fifty or more exceedances\n- GE100 = facilities with one hundred or more exceedances",
          "schema" : {
            "type" : "string",
            "enum" : [ "0", "GE0", "GE10", "GE50", "GE100" ]
          }
        }, {
          "name" : "p_psncq",
          "in" : "query",
          "description" : "Quarters in Significant Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of significant noncompliance.\n- Z = Zero quarters in significant noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in significant noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in significant noncompliance.",
          "schema" : {
            "type" : "string",
            "enum" : [ "GT1", "GE1", "GT2", "GE2", "GT4", "GE4", "GT8", "GE8", "GT12", "GE12" ]
          }
        }, {
          "name" : "p_pctrack",
          "in" : "query",
          "description" : "Compliance Tracking Limiter. Provide a keyword to indicate the extent to which data is being entered and effluent exceedances are being identified.\n- Off\n- Partial\n- On",
          "schema" : {
            "type" : "string",
            "enum" : [ "Off", "Partial", "On" ]
          }
        }, {
          "name" : "p_dwd",
          "in" : "query",
          "description" : "Direct Water Discharges. Pounds of toxic chemicals released directly to surface water as reported to the Toxics Release Inventory.",
          "schema" : {
            "type" : "string",
            "enum" : [ "0", "GT0", "GT1000", "GT5000", "GT10000", "GT20000", "GT50000" ]
          }
        }, {
          "name" : "p_pt",
          "in" : "query",
          "description" : "POTW Transfers. Pounds of toxic chemicals transferred to a Publicly Operated Treatment Works (POTW) as reported to the Toxics Release Inventory.",
          "schema" : {
            "type" : "string",
            "enum" : [ "0", "GT0", "GT1000", "GT5000", "GT10000", "GT20000", "GT50000" ]
          }
        }, {
          "name" : "p_pdwdist",
          "in" : "query",
          "description" : "Distance (in miles) to downstream drinking water intake.",
          "schema" : {
            "type" : "string",
            "enum" : [ "N", "LT1", "LT2", "LT5", "LT10", "LT15" ]
          }
        }, {
          "name" : "p_pswdpc",
          "in" : "query",
          "description" : "Pollutant Category Code:  Values: WTR for Water, AIR for Air",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pswdmp",
          "in" : "query",
          "description" : "Used to determine limit begin and end dates for surface water discharges. Number represents years from current date.",
          "schema" : {
            "type" : "string",
            "enum" : [ "1", "2", "3", "4", "5" ]
          }
        }, {
          "name" : "p_pswpol",
          "in" : "query",
          "description" : "For CWA, pollutant names for surface water discharges. for Drinking Water, SDWIS Violation contaminant codes for unaddressed violations that have occurred in the last 3 years. May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pswcas",
          "in" : "query",
          "description" : "CAS numbers for surface water discharges. May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pswparam",
          "in" : "query",
          "description" : "Parameter codes for surface water discharges. May contain multiple comma-separated values.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_pswvio",
          "in" : "query",
          "description" : "Used in conjuction with parameters p_pswpol and p_pswparam, indicates whether search should only include pollutants with violations.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_wbd",
          "in" : "query",
          "description" : "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_radwbd",
          "in" : "query",
          "description" : "2-, 4-, 6-, 8-, 10-, or 12 character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Will search against WBD values otained by \"reach indexing\" NPDES permits against the medium resolution National Hydrography Dataset. ",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_frswbd",
          "in" : "query",
          "description" : "Works exactly the same as the p_wbd parameter.  2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fntype",
          "in" : "query",
          "description" : "Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = ",
          "schema" : {
            "type" : "string",
            "enum" : [ "ALL", "CONTAINS", "EXACT", "BEGINS" ]
          }
        }, {
          "name" : "p_pidall",
          "in" : "query",
          "description" : "Controls whether search is restricted to existing system. Y means the search will match the p_pid parameter against all associated permits (AIR, RCRA, SDWIS, etc).",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_months_last_dmr",
          "in" : "query",
          "description" : "The number of months since the last Discharge Monitoring Report has been submitted.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_last_dmr_within",
          "in" : "query",
          "description" : "W value returns facilities that have submitted DMRs within the number of months specified by p_months_last_dmr. An N value returns facilities that have not submitted a DMR within the specified number of months.",
          "schema" : {
            "type" : "string",
            "enum" : [ "W", "N" ]
          }
        }, {
          "name" : "p_indsw",
          "in" : "query",
          "description" : "Industrial Stormwater Permit Flag.  Enter a Y or N to filter results by this type of permit.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_msgp_ptype",
          "in" : "query",
          "description" : "Multi-Sector General Purpose Permit Type.  Enter a value to filter results by MSGP Permit Type.\n- NOI = Notice of Intent\n- NOE = No Exposure Certification",
          "schema" : {
            "type" : "string",
            "enum" : [ "NOI", "NOE" ]
          }
        }, {
          "name" : "p_mon_type",
          "in" : "query",
          "description" : "For use with the Industrial Stormwater search only. Valid values are BENCHGS fro Benchmark (Alert Limit) G2 Ore, BENCH for Benchmark (Alert Limit), and ELG fro Effluent Limitation Guidelines(ELG)(Effluent Limit).  ",
          "schema" : {
            "type" : "string",
            "enum" : [ "BENCHG2", "BENCH", "ELG" ]
          }
        }, {
          "name" : "p_iagency",
          "in" : "query",
          "description" : "Issuing Agency Limiter.  Enter a single value to filter results by the issuing agency, e.g. \"State\" or \"EPA\".",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_permitting_agency",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_isws",
          "in" : "query",
          "description" : "Multi-Sector General Purpose Permit Subsector Individual Identifier.  Enter a value to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_iswss",
          "in" : "query",
          "description" : "Multi-Sector General Purpose Permit Subsector Group Code.  Enter a value to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_iswssID",
          "in" : "query",
          "description" : "Multi-Sector General Purpose Permit Sector Code.  Enter a value to filter results.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ds1",
          "in" : "query",
          "description" : "Submitted Date Filter Start.  To filter by the date of submission, enter a start date here and an end date in the p_ds2 parameter.  Both dates are required for filtering.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ds2",
          "in" : "query",
          "description" : "Submitted Date Filter End.  To filter by the date of submission, enter an end date here and a start date in the p_ds1 parameter.  Both dates are required for filtering.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_da1",
          "in" : "query",
          "description" : "Active Date Filter Start.  To filter by the active date, enter a start date here and an end date in the p_da2 parameter.  Both dates are required for filtering.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_da2",
          "in" : "query",
          "description" : "Active Date Filter End.  To filter by the active date, enter an end date here and a start date in the p_da1 parameter.  Both dates are required for filtering.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_MS4",
          "in" : "query",
          "description" : "Municipal Separate Storm Water Sewer (MS4) Permit Flag.  Enter a Y or N to filter results by this type of permit.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_ooFN",
          "in" : "query",
          "description" : "Owner/Operator Name. Enter the owner/operator name of the facility.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ooFNtype",
          "in" : "query",
          "description" : "Owner/Operator Name Multiple Selection Evaluator.  ",
          "schema" : {
            "type" : "string",
            "enum" : [ "ALL", "EXACT", "BEGINS", "CONTAINS" ]
          }
        }, {
          "name" : "p_ooSA",
          "in" : "query",
          "description" : "Owner/Operator Address.  Enter the address of the owner/operator of the facility.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ooSA1",
          "in" : "query",
          "description" : "Owner/Operator Address Line 2.  Enter the line 2 address of the owner/operator of the facility.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ooCt",
          "in" : "query",
          "description" : "Owner/Operator City. Enter the city where the owner/operator of the facility is located.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ooSt",
          "in" : "query",
          "description" : "Owner/Operator State.  Enter the standardized postal state code where the owner/operator of the facility is located.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ooZip",
          "in" : "query",
          "description" : "Owner/Operator Zip Code.  Enter the postal zip code where the owner/operator of the facility is located.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fac_ico",
          "in" : "query",
          "description" : "FRS tribal land code flag.  Enter \"Y\" or \"N\" to include or exclude facilities based on FRS tribal land code.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_icoo",
          "in" : "query",
          "description" : "Indian country search and/or flag.  Enter \"Y\" to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_fac_icos",
          "in" : "query",
          "description" : "FRS tribal land spatial flag.  Enter \"Y\" or \"N\" to include or exclude facilities based on FRS tribal land spatial flag.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_ejscreen",
          "in" : "query",
          "description" : "Enter \"Y\" to limit facilities to Census block groups where one of more Environmental Justice indexes above 80th percentile.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_alrexceed",
          "in" : "query",
          "description" : "Alert Limits Exceedences Limiter.  Enter a numeric value to restrict results to facilities having the given amount or more of alert limits exceedances.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_limit_addr",
          "in" : "query",
          "description" : "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  ",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_lat",
          "in" : "query",
          "description" : "Latitude location in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_long",
          "in" : "query",
          "description" : "Longitude location in decimal degrees.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_radius",
          "in" : "query",
          "description" : "Spatial Search Radius.  Enter a radius up to 100 miles in which to spatially search for facilities.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_ejscreen_over80cnt",
          "in" : "query",
          "description" : "The number of Environmenmt Justice Indicators above the 80th percentile.  Valid values are 1 through 11.",
          "schema" : {
            "type" : "string",
            "enum" : [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11" ]
          }
        }, {
          "name" : "p_bio_flag",
          "in" : "query",
          "description" : "A Y value will select all biosolid-related permits.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_fac_type",
          "in" : "query",
          "description" : "The code indicating the reporting obligation reason:\n\n- POT = A POTW with a design flow rate equal to or greater than one million gallons per day\n- CLI = A Class I Sludge Management Facility as defined in 40 CFR 503.9\n- PPL = A POTW that serves 10,000 people or more\n- OTH = Otherwise required to report (e.g., permit condition, enforcement action)\n- NOA = None of the above",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_trtmnt_procs",
          "in" : "query",
          "description" : "The biosolids or sewage sludge treatment process or processes at the facility:\n\n- AER = Aerobic Digestion\n- AIR = Air Drying (or Sludge Drying Beds)\n- ANA = Anaerobic Digestion\n- COD = Beta Ray Irradiation\n- COM = Lower Temperature Composting\n- DEW = Pasteurization\n- DIS = Gamma Ray Irradiation\n- HEA = Heat Drying (e.g., Flash Dryer, Spray Dryer, Rotary Dryer)\n- HET = Heat Treatment (Liquid Sewage Sludge Heated to 356 Deg. F/180 Deg. C or Higher for 30 min.)\n- HTC = Higher Temperature Composting\n- MET = Methane or Biogas Capture and Recovery\n- OTH = Other Treatment Process\n- PRE = Preliminary Operations (e.g., Sludge Grinding, Degritting, Blending)\n- SLU = Sludge Lagoon\n- STA = Lime Stabilization\n- THE = Temporary Sludge Storage (Sewage Sludge Stored on Land 2 Years or Less, Not in Sewage Sludge Unit)\n- THI = Thickening (Gravity and/or Flotation Thickening, Centrifugation, Belt Filter Press, Vacuum Filter)\n- THM = Thermophilic Aerobic Digestion\n- UND = Long-Term Sludge Storage (Sewage Sludge Stored on Land 2 Years or More, not in Sewage Sludge Unit)\"",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_analy_method_catgry",
          "in" : "query",
          "description" : "The unique code for the category of the analytic methods used by the facility to analyze regulated parameters (including enteric viruses, fecal coliforms, helminth ova, and Salmonella sp.) at the facility:\n\n- PAT = Pathogens\n- MET = Metals\n- NIT = Nitrogen Compounds\n- OTH = Other Analytes",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_total_volume_amt",
          "in" : "query",
          "description" : "Total annual amount (in dry metric tons) of biosolids or sewage sludge generated at the facility.\n\n- EQ0 = 0\n- IN0_1 = GT 0 but LT 1\n- IN0_289  =  GT 0 but LT 290 MT/year\n- IN290_1499  =  GE 290 but LT 1500 MT/year\n- IN1500_14999  =  GE 1500 but LT 15,000\n- GE15000  =  GE 15,000",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_mgmt_prctce_type",
          "in" : "query",
          "description" : "The unique code that identifies the type of biosolids or sewage sludge management practice (e.g., land application, surface disposal, incineration) used by the facility. The facility will separately report the management practice for each biosolids or sewage sludge form and pathogen class. This data element will also identify the management practices used by surface disposal site owners/operators (see 40 CFR 503.24):\n\n- BIN = Incineration\n- BLN = Land Application\n- BOT = Other Management Practice\n- BSD = Surface Disposal",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_mgmt_prctce_stype",
          "in" : "query",
          "description" : "This is the code indicating additional detail about the type of Management Practice used for a volume of Biosolids or Sewage Sludge:\n\n- ADV = Advanced Alkaline Stabilized Biosolids Distribution & Marketing\n- AGR = Agricultural Land Application\n- COM = Distribution and Marketing - Compost\n- DEE = Deep-well Injection Disposal\n- DIS = Disposal in a Municipal Landfill (under 40 CFR 258)\n- DMO = Distribution and Marketing - Other\n- HEA = Heat Dried Biosolids Distribution & Marketing\n- OTL = Other Land Application Management Practice Detail\n- OTO = Other Management Practice Detail\n- RSA = Reclamation Site Application\n- SEN = Sent to Cement Kiln for Use as Alternative Energy\n- STO = Storage\n- UIC = Use in Construction\n- UPS = Used in Production of Syngas\n- USE = Use as Daily Cover for Municipal Landfill (under 40 CFR 258)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_mgmt_prctce_handler",
          "in" : "query",
          "description" : "This is the code indicating the type of Biosolids or Sewage Sludge handlers/preparers.\n\n- OWN = Owner or Operator\n- OFF = Off-Site Third-Party Handler or Preparer",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_mgmt_container",
          "in" : "query",
          "description" : "The code that identifies the nature of each biosolids and sewage sludge material generated by the facility in terms of whether the material is a biosolid or sewage sludge and whether the material is ultimately conveyed off-site in bulk or in bags. The facility separately reports the form for each biosolids or sewage sludge management practice or practices used by the facility and pathogen class:\n\n- BUL = Bulk\n- BAG = Bag or Container",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_mgmt_pathogen",
          "in" : "query",
          "description" : "This code identifies the pathogen class [e.g., Class A, Class B, Not Applicable (Incineration)] for biosolids or sewage sludge generated by the facility. The facility will separately report the pathogen class for each biosolids or sewage sludge management practice used by the facility and by each biosolids or sewage sludge form. It also is used to filter applicable Pathogen Reduction and Vector Attraction Reduction Options as well as Land Application Management Practice Deficiencies. Only reqired for some of the mgmt. practice types:\n\n- AAA = Class A\n- AEQ = Class A EQ (sale/give away)\n- BBB = Class B\n- NAP = Not Applicable (Incineration)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_mgmt_pathred",
          "in" : "query",
          "description" : "This is the description of the option used by the facility to control pathogen for a Biosolids Management Practice:\n\n- A1 = Class A - Alternative 1: Time/Temperature\n- A2 = Class A - Alternative 2: pH/Temperature/Percent Solids\n- A3 = Class A - Alternative 3: Test Enteric Viruses and Helminth ova; Operating Parameters\n- A4 = Class A - Alternative 4: Test Enteric Viruses and Helminth ova; No New Solids\n- A51 = Class A - Alternative 5: PFRP 1: Composting\n- A52 = Class A - Alternative 5: PFRP 2: Heat Drying\n- A53 = Class A - Alternative 5: PFRP 3: Liquid heat treatment\n- A54 = Class A - Alternative 5: PFRP 4: Thermophilic Aerobic Digestion (ATAD)\n- A55 = Class A - Alternative 5 PFPR 5: Beta Ray Irradiation\n- A56 = Class A - Alternative 5 PFPR 6: Gamma Ray Irradiation\n- A57 = Class A - Alternative 5: PFRP 7: Pasteurization\n- A6 = Class A - Alternative 6: PFRP Equivalency\n- B1 = Class B - Alternative 1: Fecal Coliform Geometric Mean\n- B21 = Class B - Alternative 2 PSRP 1: Aerobic Digestion\n- B22 = Class B - Alternative 2 PSRP 2: Air Drying\n- B23 = Class B - Alternative 2 PSRP 3: Anaerobic Digestion\n- B24 = Class B - Alternative 2 PSRP 4: Composting\n- B25 = Class B - Alternative 2 PSRP 5: Lime Stabilization\n- B3 = Class B - Alternative 3: PSRP Equivalency\n- PH = pH Adjustment (Domestic Septage)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_mgmt_vector",
          "in" : "query",
          "description" : "The unique code that identifies the option used by the facility for vector attraction reduction. See a listing of these vector attraction reduction options at 40 CFR 503.33(b)(1) through (11). The facility will separately report the vector attraction reduction options for each biosolids or sewage sludge management practice used by the facility and by each biosolids or sewage sludge form as well as by each biosolids or sewage sludge pathogen class:\n\n- VR1 = Option 1 - Volatile Solids Reduction\n- VR2 = Option 2 - Bench-Scale Volatile Solids Reduction (Anaerobic Bench Test)\n- VR3 = Option 3 - Bench-Scale Volatile Solids Reduction (Aerobic Bench Test w/ Percent Solids - 2% or Less)\n- VR4 = Option 4 - Specific Oxygen Uptake Rate\n- VR5 = Option 5 - Aerobic Processing (Thermophilic Aerobic Digestion/Composting)\n- VR6 = Option 6 - Alkaline Treatment\n- VR7 = Option 7 - Drying (Equal to or Greater than 75 Percent)\n- VR8 = Option 8 - Drying (Equal to or Greater than 90 Percent)\n- VR9 = Option 9 - Sewage Sludge Injection\n- V10 = Option 10 - Sewage Sludge Timely Incorporation into Land\n- V11 = Option 11 - Sewage Sludge Covered at the End of Each Operating Day",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_mgmt_def_category",
          "in" : "query",
          "description" : "This is the code indicating the type of NPDES special regulatory program deficiency:\n\n- INC = Biosolids Incineration\n- LNA = Biosolids Land Application\n- LNB = Biosolids Land Application - Pathogen Class B\n- OTB = Biosolids Other Management Practice\n- SFD = Biosolids Surface Disposal",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_mgmt_deficiencies",
          "in" : "query",
          "description" : "The number of times noncompliance was reported by the facility in the last 3 years. The results returned will include facilities whose number of reported noncompliance events is greater than or equal to the number entered.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_bio_vio_code",
          "in" : "query",
          "description" : "The Biosolids Single Event Violation Code.  Enter one or mode codes.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_current_vio",
          "in" : "query",
          "description" : "Indicator of whether the facility is currently in violation for biosolids under the Clean Water Act, in the 12th or 13th quarter:\n\n- Y = Yes\n- N = No",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_bio_qtrs_in_vio",
          "in" : "query",
          "description" : "The number of quarters, in the last three years, where the facility was in violation for a biosolids violation type.  The results returned will include facilities whose number of quarters with violations is greater than or equal to the number entered.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_bio_rpt_year",
          "in" : "query",
          "description" : "The last year that the permittee submitted an annual Biosolids report.  Valid values are NONE and any year greater or equal to 2016.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_bio_vio_last_year",
          "in" : "query",
          "description" : "Identifies if a biosolids violation has occured in the last year.  Valid values are Y and N.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "p_msgp_rpt_year",
          "in" : "query",
          "description" : "The last year that a MSGP report was submitted for the permit.  Valid values are \"NONE\" and any year Greater or Eqal to 2015.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_vio_last_year",
          "in" : "query",
          "description" : "Identifies if a permit violation has occured in the last year.  Valid values are Y and N.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "queryset",
          "in" : "query",
          "description" : "Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "responseset",
          "in" : "query",
          "description" : "Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "tablelist",
          "in" : "query",
          "description" : "Table List Flag. Enter a Y to display the first page of facility results.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "maplist",
          "in" : "query",
          "description" : "Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "summarylist",
          "in" : "query",
          "description" : "Summary List Flag.  Enter a Y to return a list of summary statistics based on the parameters submitted to the query service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "qcolumns",
          "in" : "query",
          "description" : "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_e90_count",
          "in" : "query",
          "description" : "Number of E90 Exceedances.  Identifies water permits with a number of E90 (Effluient Exceedances) >= the value provided for the last number of years provided by the p_e90_years value.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_e90_years",
          "in" : "query",
          "description" : "Number of years for the p_e90_count search.  Identified the past number of years to be used for the p_e90_count search.",
          "schema" : {
            "type" : "number"
          }
        }, {
          "name" : "p_psc",
          "in" : "query",
          "description" : "Point Source Category.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Results are summary statistics for the query and a query identifier (QID).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/cwa04"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/cwa04"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Facility Information" ],
        "summary" : "Clean Water Act (CWA) Facility Search Service",
        "description" : "Validates query search parameters and returns query identifier.  Use the responseset parameter to set the page size",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_fn" : {
                    "type" : "string",
                    "description" : "Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers."
                  },
                  "p_sa" : {
                    "type" : "string",
                    "description" : "Facility street address. Enter a complete or partial street address."
                  },
                  "p_sa1" : {
                    "type" : "string",
                    "description" : "Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa."
                  },
                  "p_ct" : {
                    "type" : "string",
                    "description" : "Facility City Filter. Enter a single case-insensitive city name to filter results."
                  },
                  "p_co" : {
                    "type" : "string",
                    "description" : "Facility County Filter. Provide a single county name in combination with a state value provided via p_st."
                  },
                  "p_fips" : {
                    "type" : "string",
                    "description" : "FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059."
                  },
                  "p_st" : {
                    "type" : "string",
                    "description" : "Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list."
                  },
                  "p_zip" : {
                    "type" : "string",
                    "description" : "5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values."
                  },
                  "p_frs" : {
                    "type" : "string",
                    "description" : "Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results."
                  },
                  "p_reg" : {
                    "type" : "string",
                    "description" : "EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.",
                    "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10" ]
                  },
                  "p_sic" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4."
                  },
                  "p_ncs" : {
                    "type" : "string",
                    "description" : "North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values."
                  },
                  "p_pen" : {
                    "type" : "string",
                    "description" : "Last Penality Date Qualifier Filter.  Enter one of the following:   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for a facility with a penalty within previous 5 months.\n- GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago."
                  },
                  "p_c1lat" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_c1lon" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_c2lat" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_c2lon" : {
                    "type" : "number",
                    "description" : "In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
                  },
                  "p_usmex" : {
                    "type" : "string",
                    "description" : "US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_sic2" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing \"22\" to match all SIC codes beginning with 22.  Use the \"%\" character within strings to match any SIC values with the pattern.  For example, \"2%21\" matches 2021, 2121, 2221, etc."
                  },
                  "p_sic4" : {
                    "type" : "string",
                    "description" : "Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker."
                  },
                  "p_fa" : {
                    "type" : "string",
                    "description" : "Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values."
                  },
                  "p_ff" : {
                    "type" : "string",
                    "description" : "Federal Facility Indicator Flag. Enter Y to restrict searches to federal facilities.",
                    "enum" : [ "Y" ]
                  },
                  "p_act" : {
                    "type" : "string",
                    "description" : "Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.  A Y will select ICIS NPDES permits with a status of effective, continued, or expired."
                  },
                  "p_maj" : {
                    "type" : "string",
                    "description" : "Major Facility Flag.  Enter Y to restrict results to Major facilities only.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_mact" : {
                    "type" : "string",
                    "description" : "CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility."
                  },
                  "p_fea" : {
                    "type" : "string",
                    "description" : "Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N" ]
                  },
                  "p_feay" : {
                    "type" : "number",
                    "description" : "Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_feaa" : {
                    "type" : "string",
                    "description" : "Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All",
                    "enum" : [ "A", "E", "S" ]
                  },
                  "p_iea" : {
                    "type" : "string",
                    "description" : "Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N" ]
                  },
                  "p_ieay" : {
                    "type" : "number",
                    "description" : "Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_ieaa" : {
                    "type" : "string",
                    "description" : "Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State",
                    "enum" : [ "E", "S" ]
                  },
                  "p_qiv" : {
                    "type" : "string",
                    "description" : "Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.",
                    "enum" : [ "0", "GT1", "GT2", "GT4", "GT8", "12" ]
                  },
                  "p_iv" : {
                    "type" : "string",
                    "description" : "Facility has a violation status of 'In Viol' during any of the selected quarters. \n\nRange: Fiscal Year 2020 Quarter 2 to Fiscal Year 2017 Quarter 2\n\nMultiple values are comma delimited.\n\n\n||||||  Fiscal Years ||||||\n- FY2020 or FY20 or 2020 or 20\n- FY2019 or FY19 or 2019 or 19\n- FY2018 or FY18 or 2018 or 18\n- FY2017 or FY17 or 2017 or 17\n\n||||| Fiscal Quarters |||||\n- FY2020Q2 or FY20Q2 or 20202 or 202 or 13\n- FY2020Q1 or FY20Q1 or 20201 or 201 or 12\n- FY2019Q4 or FY19Q4 or 20194 or 194 or 11\n- FY2019Q3 or FY19Q3 or 20193 or 193 or 10\n- FY2019Q2 or FY19Q2 or 20192 or 192 or 9\n- FY2019Q1 or FY19Q1 or 20191 or 191 or 8\n- FY2018Q4 or FY18Q4 or 20184 or 184 or 7\n- FY2018Q3 or FY18Q3 or 20183 or 183 or 6\n- FY2018Q2 or FY18Q2 or 20182 or 182 or 5\n- FY2018Q1 or FY18Q1 or 20181 or 181 or 4\n- FY2017Q4 or FY17Q4 or 20174 or 174 or 3\n- FY2017Q3 or FY17Q3 or 20173 or 173 or 2\n- FY2017Q2 or FY17Q2 or 20172 or 172 or 1"
                  },
                  "p_impw" : {
                    "type" : "string",
                    "description" : "Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_imp_cau_grp" : {
                    "type" : "string",
                    "description" : "Facility is discharging a pollutant group causing a waterbody to be impaired.  Enter 1 through 34 (the internal number of the pollutant group); or enter a partial name such as Dioxin,Temp,tUrBidity.",
                    "enum" : [ "ALGAL GROWTH", "AMMONIA", "BIOTOXINS", "CAUSE UNKNOWN", "CAUSE UNKNOWN - FISH KILLS", "CAUSE UNKNOWN - IMPAIRED BIOTA", "CHLORINE", "DIOXINS", "FISH CONSUMPTION ADVISORY", "FLOW ALTERATION(S)", "HABITAT ALTERATIONS", "MERCURY", "METALS (OTHER THAN MERCURY)", "NOXIOUS AQUATIC PLANTS", "NUISANCE EXOTIC SPECIES", "NUISANCE NATIVE SPECIES", "NUTRIENTS", "OIL AND GREASE", "ORGANIC ENRICHMENT/OXYGEN DEPLETION", "OTHER CAUSE", "PATHOGENS", "PESTICIDES", "PH/ACIDITY/CAUSTIC CONDITIONS", "POLYCHLORINATED BIPHENYLS (PCBS)", "RADIATION", "SALINITY/TOTAL DISSOLVED SOLIDS/CHLORIDES/SULFATES", "SEDIMENT", "TASTE, COLOR AND ODOR", "TEMPERATURE", "TOTAL TOXICS", "TOXIC INORGANICS", "TOXIC ORGANICS", "TRASH", "TURBIDITY" ]
                  },
                  "p_imp_pol" : {
                    "type" : "string",
                    "description" : "Facility is discharging pollutants that are potentially contributing to the impairment of local waterbodies according to the ATTAINS database.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_trep" : {
                    "type" : "string",
                    "description" : "Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.\n- CURR = Current TRI reporter.\n- NONCURR = Has reported to TRI in the past but not for the current reporting year.",
                    "enum" : [ "CURR", "NOTCURR" ]
                  },
                  "p_pm" : {
                    "type" : "string",
                    "description" : "Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.\n- NONE = 0%\n- GT5 = greater than 5%\n- GT10 = greater than 10%\n- GT25 = greater than 25%\n- GT50 = greater than 50%\n- GT75 = greater than 75%",
                    "enum" : [ "NONE", "GT5", "GT10", "GT25", "GT50", "GT75" ]
                  },
                  "p_pd" : {
                    "type" : "string",
                    "description" : "Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.\n- NONE = 0 population density per square mile\n- GT100 = More than 100 population density per square mile\n- GT500 = More than 500 population density per square mile\n- GT1000 = More than 1000 population density per square mile\n- GT5000 = More than 5000 population density per square mile\n- GT10000 = More than 10000 population density per square mile\n- GT20000 = More than 20000 population density per square mile",
                    "enum" : [ "NONE", "GT100", "GT500", "GT1000", "GT5000", "GT10000", "GT20000" ]
                  },
                  "p_ico" : {
                    "type" : "string",
                    "description" : "Indian Country Flag.  Enter a \"Y\" or \"N\" to restrict searches to facilities inside or outside Indian Country.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_huc" : {
                    "type" : "string",
                    "description" : "2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values."
                  },
                  "p_pid" : {
                    "type" : "string",
                    "description" : "Nine-digit permit IDs. May contain up to 2000 comma-separated values."
                  },
                  "p_med" : {
                    "type" : "string",
                    "description" : "Filter Results by Media.\n- A = Air\n- M = RMP (Risk Management Plan)\n- R = RCRA (Hazardous Waste)\n- S = SDWA (Public Drinking Water Systems)\n- ALL = Air and RCRA and Water",
                    "enum" : [ "A", "M", "R", "S", "ALL" ]
                  },
                  "p_ysl" : {
                    "type" : "string",
                    "description" : "Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range",
                    "enum" : [ "W", "N", "NV" ]
                  },
                  "p_ysly" : {
                    "type" : "number",
                    "description" : "Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_ysla" : {
                    "type" : "string",
                    "description" : "Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State",
                    "enum" : [ "E", "S", "A" ]
                  },
                  "p_qs" : {
                    "type" : "string",
                    "description" : "Quick Search. Allows entry for city, state, and/or zip code."
                  },
                  "p_sfs" : {
                    "type" : "string",
                    "description" : "Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched."
                  },
                  "p_tribeid" : {
                    "type" : "number",
                    "description" : "Numeric code for tribe (or list of tribes)."
                  },
                  "p_tribename" : {
                    "type" : "string",
                    "description" : "Tribe Name Filter.  Enter a single tribe name to filter results."
                  },
                  "p_tribedist" : {
                    "type" : "number",
                    "description" : "Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated."
                  },
                  "p_pstat" : {
                    "type" : "string",
                    "description" : "Permit Status Filter.  Enter one or more of the following codes.  Provide multiple values as a comma-delimited list.\n- EFF = Effective\n- EXP = Expired\n- PND = Pending\n- TRM = Terminated\n- RET = Retired\n- NON = Not Needed\n- ADC = Admin Continued"
                  },
                  "p_ptype" : {
                    "type" : "string",
                    "description" : "Permit Type Filter. Enter one or more code values to filter results.  Provide multiple values as a comma-delimited list.\n- NPD = NPDES Individual Permit\n- NGP = NPDES Master General Permit\n- GPC = General Permit Covered Facility\n- SNN = State Issued Master General Permit (Non-NPDES)\n- IIU = Individual IU Permit (Non-NPDES)\n- SIN = Individual State Issued Permit (Non-NPDES)\n- APR = Associated Permit Record\n- UFT = Unpermitted Facility"
                  },
                  "p_pcomp" : {
                    "type" : "string",
                    "description" : "Permit Component Code Filter.  Enter one or more codes to filter results.  Provide multiple values as a comma-delimited list.\n- PRE = Pretreatment\n- CAF = CAFO\n- CSO = CSO\n- POT = POTW\n- BIO = Biosolids\n- SWS = Storm Water Small MS4s\n- SWM = Storm Water Medium/Large MS4s\n- SWI = Storm Water Industrial\n- SWC = Storm Water Construction"
                  },
                  "p_plimits" : {
                    "type" : "string",
                    "description" : "Permit Limits Present Flag.  Enter Y to limit results to facilities have present permit limits.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_pcss" : {
                    "type" : "string",
                    "description" : "Combined Sewer Systems Outflows Limiter.  Enter one of the following to limit results to facilities having the given count of CSS outflows.\n- ALL = returns all facilities, regardless of the number of outflows.\n- GE1 = returns facilities with one or more outflows.\n- GE10 = returns facilities with ten or more outflows.\n- GE50 = returns facilities with fifty or more outflows.",
                    "enum" : [ "ALL", "GE1", "GE10", "GE50" ]
                  },
                  "p_pexp" : {
                    "type" : "string",
                    "description" : "Permit Expired or Administratively Continued Limiter.  Enter one of the following values to filter results.\n- EXP = limit results to facilities with permits expired or administratively continued.\n- EXPLE1YR = limit resuls to facilities with permits expired administratively continued within the past year.\n- EXPGT1YR = limit resuls to facilities with permits expired administratively continued more than a year ago.",
                    "enum" : [ "EXP", "EXPLE1YR", "EXPGT1YR" ]
                  },
                  "p_owop" : {
                    "type" : "string",
                    "description" : "Owner/Operator code filter.  Enter one of the following values to restrict results.\n- Federal = Federal facilities regulated under the NPDES program.\n- POTW = Publicly owned treatment works. Treatment works that are owned by a State, Tribe, or municipality.\n- Non-POTW = Non-publicly owned treatment works. Often referred to as \"non-municipals\" or \"industrials\".",
                    "enum" : [ "FEDERAL", "POTW", "NON-POTW" ]
                  },
                  "p_ipfti" : {
                    "type" : "string"
                  },
                  "p_agoo" : {
                    "type" : "string",
                    "description" : "Indicates whether to AND or OR the Owner/Operator parameter (p_owop) and the federal agency code (p_fa) parameters.",
                    "enum" : [ "AND", "OR" ]
                  },
                  "p_idt1" : {
                    "type" : "string",
                    "description" : "Beginning of date range of most recent facility inspection."
                  },
                  "p_idt2" : {
                    "type" : "string",
                    "description" : "End of date range of most recent facility inspection."
                  },
                  "p_pityp" : {
                    "type" : "string",
                    "description" : "Inspection Type Code.  See ICIS Compliance Monitor Types lookup serivce for a list of available codes and descriptions."
                  },
                  "p_pfead1" : {
                    "type" : "string",
                    "description" : "Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years."
                  },
                  "p_pfead2" : {
                    "type" : "string",
                    "description" : "Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years."
                  },
                  "p_pfeat" : {
                    "type" : "string",
                    "description" : "Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list."
                  },
                  "p_pccs" : {
                    "type" : "string",
                    "description" : "Current Compliance Status:\n||||||||||||||||||||||||||| \nSignificant Noncompliance (SNC) \n|||||||||||||||||||||||||||\n- SNC = E, S, X, T, D\n- E�= E(EffViol)\n- S�= S(CSchVio)\n- X = X(EffNMth)\n- T = T(CSchRpt)\n- D�= D(DMR NR)\n\n|||||||||||||||||||||||||||\nNoncompliance (NC)\n|||||||||||||||||||||||||||\n- NC = N, V\n- N�= N(RptViol)\n- V�= V(NonRNCV)\n\n|||||||||||||||||||||||||||\nNew Violations (PQV)\n|||||||||||||||||||||||||||\n- PQV = New Violations (13th Quarter)\n\n|||||||||||||||||||||||||||\nNo Violations (NV)\n|||||||||||||||||||||||||||\n- NV = R, P, M, U, W\n, Blank, and No New Violations (no PQV)\n- R�= R(Resolvd)\n- P�= P(ResPend)\n- M�= C(Manual)\n- U = U(N/A)\n- W = W(N/A)\n- Blank = (null)\n\nMay contain multiple comma-separated values."
                  },
                  "p_pexcd" : {
                    "type" : "string",
                    "description" : "3-Year Effluent Exceedances Limiter.  Enter a value to restrict results to facilities with the given amount of exceedances in the past 3 years.\n- 0 = facilities with no exceedances\n- GE0 = facilities with one or more exceedances\n- GE10 = facilities with ten or more exceedances\n- GE50 = facilities with fifty or more exceedances\n- GE100 = facilities with one hundred or more exceedances",
                    "enum" : [ "0", "GE0", "GE10", "GE50", "GE100" ]
                  },
                  "p_psncq" : {
                    "type" : "string",
                    "description" : "Quarters in Significant Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of significant noncompliance.\n- Z = Zero quarters in significant noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in significant noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in significant noncompliance.",
                    "enum" : [ "GT1", "GE1", "GT2", "GE2", "GT4", "GE4", "GT8", "GE8", "GT12", "GE12" ]
                  },
                  "p_pctrack" : {
                    "type" : "string",
                    "description" : "Compliance Tracking Limiter. Provide a keyword to indicate the extent to which data is being entered and effluent exceedances are being identified.\n- Off\n- Partial\n- On",
                    "enum" : [ "Off", "Partial", "On" ]
                  },
                  "p_dwd" : {
                    "type" : "string",
                    "description" : "Direct Water Discharges. Pounds of toxic chemicals released directly to surface water as reported to the Toxics Release Inventory.",
                    "enum" : [ "0", "GT0", "GT1000", "GT5000", "GT10000", "GT20000", "GT50000" ]
                  },
                  "p_pt" : {
                    "type" : "string",
                    "description" : "POTW Transfers. Pounds of toxic chemicals transferred to a Publicly Operated Treatment Works (POTW) as reported to the Toxics Release Inventory.",
                    "enum" : [ "0", "GT0", "GT1000", "GT5000", "GT10000", "GT20000", "GT50000" ]
                  },
                  "p_pdwdist" : {
                    "type" : "string",
                    "description" : "Distance (in miles) to downstream drinking water intake.",
                    "enum" : [ "N", "LT1", "LT2", "LT5", "LT10", "LT15" ]
                  },
                  "p_pswdpc" : {
                    "type" : "string",
                    "description" : "Pollutant Category Code:  Values: WTR for Water, AIR for Air"
                  },
                  "p_pswdmp" : {
                    "type" : "string",
                    "description" : "Used to determine limit begin and end dates for surface water discharges. Number represents years from current date.",
                    "enum" : [ "1", "2", "3", "4", "5" ]
                  },
                  "p_pswpol" : {
                    "type" : "string",
                    "description" : "For CWA, pollutant names for surface water discharges. for Drinking Water, SDWIS Violation contaminant codes for unaddressed violations that have occurred in the last 3 years. May contain multiple comma-separated values."
                  },
                  "p_pswcas" : {
                    "type" : "string",
                    "description" : "CAS numbers for surface water discharges. May contain multiple comma-separated values."
                  },
                  "p_pswparam" : {
                    "type" : "string",
                    "description" : "Parameter codes for surface water discharges. May contain multiple comma-separated values."
                  },
                  "p_pswvio" : {
                    "type" : "string",
                    "description" : "Used in conjuction with parameters p_pswpol and p_pswparam, indicates whether search should only include pollutants with violations.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_wbd" : {
                    "type" : "string",
                    "description" : "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value."
                  },
                  "p_radwbd" : {
                    "type" : "string",
                    "description" : "2-, 4-, 6-, 8-, 10-, or 12 character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Will search against WBD values otained by \"reach indexing\" NPDES permits against the medium resolution National Hydrography Dataset. "
                  },
                  "p_frswbd" : {
                    "type" : "string",
                    "description" : "Works exactly the same as the p_wbd parameter.  2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value."
                  },
                  "p_fntype" : {
                    "type" : "string",
                    "description" : "Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = ",
                    "enum" : [ "ALL", "CONTAINS", "EXACT", "BEGINS" ]
                  },
                  "p_pidall" : {
                    "type" : "string",
                    "description" : "Controls whether search is restricted to existing system. Y means the search will match the p_pid parameter against all associated permits (AIR, RCRA, SDWIS, etc).",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_months_last_dmr" : {
                    "type" : "number",
                    "description" : "The number of months since the last Discharge Monitoring Report has been submitted."
                  },
                  "p_last_dmr_within" : {
                    "type" : "string",
                    "description" : "W value returns facilities that have submitted DMRs within the number of months specified by p_months_last_dmr. An N value returns facilities that have not submitted a DMR within the specified number of months.",
                    "enum" : [ "W", "N" ]
                  },
                  "p_indsw" : {
                    "type" : "string",
                    "description" : "Industrial Stormwater Permit Flag.  Enter a Y or N to filter results by this type of permit.",
                    "enum" : [ "Y", "N" ]
                  },
                  "p_msgp_ptype" : {
                    "type" : "string",
[...]
