{"openapi":"3.0.1","info":{"title":"ApiManagementClient","description":"Use these REST APIs for performing operations on the ApiVersionSet entity associated with your Azure API Management deployment. Using this entity you create and manage API Version Sets that are used to group APIs for consistent versioning.","version":"2018-06-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/api-version-sets":{"get":{"tags":["ApiVersionSets"],"description":"Lists a collection of API Version Sets in the specified service instance.","operationId":"ApiVersionSet_ListByService","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"$filter","in":"query","description":"| Field            | Supported operators    | Supported functions               |\n|------------------|------------------------|-----------------------------------|\n| id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| firstName        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| lastName         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| email            | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| state            | eq                     | N/A                               |\n| registrationDate | ge, le, eq, ne, gt, lt | N/A                               |\n| note             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records to return.","schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"$skip","in":"query","description":"Number of records to skip.","schema":{"minimum":0,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Lists a collection of Api Version Set entities.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiVersionSetCollection"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/api-version-sets/{versionSetId}":{"get":{"tags":["ApiVersionSets"],"description":"Gets the details of the Api Version Set specified by its identifier.","operationId":"ApiVersionSet_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"versionSetId","in":"path","description":"Api Version Set identifier. Must be unique in the current API Management service instance.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)","type":"string"}}],"responses":{"200":{"description":"Gets the specified Api Version Set entity.","headers":{"ETag":{"description":"Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiVersionSetContract"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"put":{"tags":["ApiVersionSets"],"description":"Creates or Updates a Api Version Set.","operationId":"ApiVersionSet_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"versionSetId","in":"path","description":"Api Version Set identifier. Must be unique in the current API Management service instance.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)","type":"string"}},{"name":"If-Match","in":"header","description":"ETag of the Entity. Not required when creating an entity, but required when updating an entity.","schema":{"type":"string"}}],"requestBody":{"description":"Create or update parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiVersionSetContract"}}},"required":true},"responses":{"200":{"description":"Api Version Set was successfully updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiVersionSetContract"}}}},"201":{"description":"Api Version Set was successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiVersionSetContract"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"delete":{"tags":["ApiVersionSets"],"description":"Deletes specific Api Version Set.","operationId":"ApiVersionSet_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"versionSetId","in":"path","description":"Api Version Set identifier. Must be unique in the current API Management service instance.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)","type":"string"}},{"name":"If-Match","in":"header","description":"ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The ApiVersion Set details were successfully deleted."},"204":{"description":"The ApiVersion Set details were successfully deleted."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"head":{"tags":["ApiVersionSets"],"description":"Gets the entity state (Etag) version of the Api Version Set specified by its identifier.","operationId":"ApiVersionSet_GetEntityTag","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"versionSetId","in":"path","description":"Api Version Set identifier. Must be unique in the current API Management service instance.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)","type":"string"}}],"responses":{"200":{"description":"Specified Api Version Set entity exists and current entity state version is present in the ETag header.","headers":{"ETag":{"description":"Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.","schema":{"type":"string"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}},"patch":{"tags":["ApiVersionSets"],"description":"Updates the details of the Api VersionSet specified by its identifier.","operationId":"ApiVersionSet_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"versionSetId","in":"path","description":"Api Version Set identifier. Must be unique in the current API Management service instance.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)","type":"string"}},{"name":"If-Match","in":"header","description":"ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiVersionSetUpdateParameters"}}},"required":true},"responses":{"204":{"description":"The Api Version Set details were successfully updated."},"default":{"description":"*** Error Responses: ***\n\n * 4XX Error response giving details why the operation failed.","content":{"application/json":{"schema":{"type":"object","description":"Error Response."}}}}}}}},"components":{"schemas":{"ApiVersionSetCollection":{"type":"object","properties":{"nextLink":{"type":"string","description":"Next page link if any."},"value":{"type":"array","description":"Page values.","items":{"$ref":"#/components/schemas/ApiVersionSetContract"}}},"description":"Paged Api Version Set list representation."},"ApiVersionSetContract":{"properties":{"properties":{"$ref":"#/components/schemas/ApiVersionSetContractProperties"}},"description":"Api Version Set Contract details.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"type":{"type":"string","description":"Resource type for API Management resource.","readOnly":true}},"description":"The Resource definition."}]},"ApiVersionSetContractProperties":{"properties":{"displayName":{"maxLength":100,"minLength":1,"type":"string","description":"Name of API Version Set"},"versioningScheme":{"type":"string","description":"An value that determines where the API Version identifer will be located in a HTTP request.","enum":["Segment","Query","Header"]}},"description":"Properties of an API Version Set.","allOf":[{"$ref":"#/components/schemas/ApiVersionSetEntityBase"}]},"ApiVersionSetEntityBase":{"type":"object","properties":{"description":{"type":"string","description":"Description of API Version Set."},"versionHeaderName":{"maxLength":100,"minLength":1,"type":"string","description":"Name of HTTP header parameter that indicates the API Version if versioningScheme is set to `header`."},"versionQueryName":{"maxLength":100,"minLength":1,"type":"string","description":"Name of query parameter that indicates the API Version if versioningScheme is set to `query`."}},"description":"Api Version set base parameters"},"ApiVersionSetUpdateParameters":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ApiVersionSetUpdateParametersProperties"}},"description":"Parameters to update or create an Api Version Set Contract."},"ApiVersionSetUpdateParametersProperties":{"properties":{"displayName":{"maxLength":100,"minLength":1,"type":"string","description":"Name of API Version Set"},"versioningScheme":{"type":"string","description":"An value that determines where the API Version identifer will be located in a HTTP request.","enum":["Segment","Query","Header"]}},"description":"Properties used to create or update an API Version Set.","allOf":[{"$ref":"#/components/schemas/ApiVersionSetEntityBase"}]}},"parameters":{"ApiVersionSetIdParameter":{"name":"versionSetId","in":"path","description":"Api Version Set identifier. Must be unique in the current API Management service instance.","required":true,"schema":{"maxLength":80,"minLength":1,"pattern":"(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)","type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}