{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Dynamics Telemetry",
    "version" : "2019-01-24"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "paths" : {
    "/providers/Microsoft.DynamicsTelemetry/operations" : {
      "get" : {
        "tags" : [ "Operations" ],
        "operationId" : "Operations_List",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationList"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Display" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string"
          },
          "operation" : {
            "type" : "string"
          },
          "provider" : {
            "type" : "string"
          },
          "publisher" : {
            "type" : "string"
          },
          "resource" : {
            "type" : "string"
          }
        }
      },
      "LogSpecification" : {
        "type" : "object",
        "properties" : {
          "blobDuration" : {
            "type" : "string",
            "format" : "duration"
          },
          "displayName" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "Operation" : {
        "required" : [ "isDataAction" ],
        "type" : "object",
        "properties" : {
          "display" : {
            "$ref" : "#/components/schemas/Display"
          },
          "isDataAction" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          },
          "origin" : {
            "type" : "string"
          },
          "properties" : {
            "$ref" : "#/components/schemas/Properties"
          }
        }
      },
      "OperationList" : {
        "type" : "array",
        "description" : "List of supported operations.",
        "items" : {
          "$ref" : "#/components/schemas/Operation"
        }
      },
      "Properties" : {
        "type" : "object",
        "properties" : {
          "serviceSpecification" : {
            "$ref" : "#/components/schemas/ServiceSpecification"
          }
        }
      },
      "ServiceSpecification" : {
        "type" : "object",
        "properties" : {
          "logSpecifications" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/LogSpecification"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}