{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "U.S. EPA Enforcement and Compliance History Online (ECHO) - Detailed Facility Report (DFR)",
    "description" : "Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.\n\nDFR Rest Services provide multiple service endpoints, to retrieve detailed facility location, enforcement, compliance monitoring, and pollutant information for any single facility.  See the Detailed Facility Report (DFR) Help Page (https://echo.epa.gov/help/reports/detailed-facility-report-help) for additional information on the DFR.  Additionally, a Data Dictionary (https://echo.epa.gov/help/reports/dfr-data-dictionary) is also available. \nThere is one primary service end point, get_dfr, that provides all available DFR data.  All other service end points that are exposed, will return data on a single section of the DFR.    \n\\\nAdditional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>\n ",
    "contact" : {
      "name" : "US EPA, OECA Integration, Targeting and Access Branch"
    },
    "license" : {
      "name" : "This page was built with the Swagger API.",
      "url" : "https://swagger.io"
    },
    "version" : "0.0.0"
  },
  "servers" : [ {
    "url" : "https://echodata.epa.gov/echo"
  } ],
  "paths" : {
    "/dfr_rest_services.air_3_yr_download" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Downloads the complete Air Compliance History Section of the DFR",
        "description" : "For the provided system identifier, dowloads all displayed Air quaterly/monthly Facility Level Status, High Priority Violation (HPV) History, HPV Detailed Violations and Federal Reportable Violation  information in a Comma Seperated Value (CSV) format.",
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Downloads the complete Air Compliance History Section of the DFR",
        "description" : "For the provided system identifier, dowloads all displayed Air quaterly/monthly Facility Level Status, High Priority Violation (HPV) History, HPV Detailed Violations and Federal Reportable Violation  information in a Comma Seperated Value (CSV) format.",
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.cwa_3_yr_effluent_download" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Downloads NPDES Effluent Violation Information by month and quarter.",
        "description" : "For the provided system identifier, dowloads all displayed NPDES quaterly/monthly effluent violation information in a Comma Seperated Value (CSV) format.",
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Downloads NPDES Effluent Violation Information by month and quarter.",
        "description" : "For the provided system identifier, dowloads all displayed NPDES quaterly/monthly effluent violation information in a Comma Seperated Value (CSV) format.",
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.cwa_3_yr_sepscs_download" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Downloads NPDES Compliance Schedule, Permit Schedule and Single Event Violation Information by month and quarter.",
        "description" : "For the provided system identifier, dowloads all displayed NPDES quaterly/monthly Compliance Schedule, Permit Schedule, and Single Event Violation  information in a Comma Seperated Value (CSV) format.",
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Downloads NPDES Compliance Schedule, Permit Schedule and Single Event Violation Information by month and quarter.",
        "description" : "For the provided system identifier, dowloads all displayed NPDES quaterly/monthly Compliance Schedule, Permit Schedule, and Single Event Violation  information in a Comma Seperated Value (CSV) format.",
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_air_compliance" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report Air Compliance Report Service",
        "description" : "This procedure obtains data for Air Compliance in the Environmental Conditions Section of the DFR.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of compliance statuses for 12 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr001_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr001_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report Air Compliance Report Service",
        "description" : "This procedure obtains data for Air Compliance in the Environmental Conditions Section of the DFR.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of compliance statuses for 12 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr001_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr001_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_air_quality" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report Air Quality Report Service",
        "description" : "This procedure obtains data for Air Quality in the Environmental Conditions Section of the DFR.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes information on air quality",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr002_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr002_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report Air Quality Report Service",
        "description" : "This procedure obtains data for Air Quality in the Environmental Conditions Section of the DFR.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes information on air quality",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr002_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr002_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_aws_docs" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Placeholder",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Results",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_aws_docs.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_aws_docs.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Placeholder",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Results",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_aws_docs.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_aws_docs.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_case_formal_actions" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Displays Cases related to the Facility",
        "description" : "Displays closed case information from EPA's Federal Enforcement & Compliance System that are related to the facility.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes information on cases.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr004"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr004"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Displays Cases related to the Facility",
        "description" : "Displays closed case information from EPA's Federal Enforcement & Compliance System that are related to the facility.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes information on cases.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr004"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr004"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_compliance_history" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report 5 Year Compliance Monitoring History Service",
        "description" : "This procedure obtains data for the Compliance Monitoring History (5 years) in the Enforcement and Compliance Section of the Detailed Facility report.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of compliance histories",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr005_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr005_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report 5 Year Compliance Monitoring History Service",
        "description" : "This procedure obtains data for the Compliance Monitoring History (5 years) in the Enforcement and Compliance Section of the Detailed Facility report.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of compliance histories",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr005_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr005_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_compliance_summary" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report Compliance Summary Service",
        "description" : "This procedure obtains data for Compliance Summary Data in the Enforcement and Compliance Section of the Detailed Facility report.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of compliance summaries",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr006_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr006_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report Compliance Summary Service",
        "description" : "This procedure obtains data for Compliance Summary Data in the Enforcement and Compliance Section of the Detailed Facility report.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of compliance summaries",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr006_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr006_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_csv" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Downloads a spectific section  of the DFR in CSV Format",
        "description" : "For a supplied system id and DFR section name, the procedure will download that section in a Comma Separated Value (CSV) format.",
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Downloads a spectific section  of the DFR in CSV Format",
        "description" : "For a supplied system id and DFR section name, the procedure will download that section in a Comma Separated Value (CSV) format.",
        "responses" : {
          "200" : {
            "description" : "Results are a comma separated value (CSV) file.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_cwa_3yr_compliance" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report 3 Year CWA Facility-Level Status Service",
        "description" : "This procedure obtains data for the CWA Facility-Level Status section located in the Three Year Compliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows:\n> \"In Viol\" = Facility is in violation\n> \"No Viol\" = No violation found\n> \"Unk\" = Unknown status\n> \"SNC/Cat 1\" = SNC/Category I violation found",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of compliance statuses for 13 quarters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr009_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr009_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report 3 Year CWA Facility-Level Status Service",
        "description" : "This procedure obtains data for the CWA Facility-Level Status section located in the Three Year Compliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows:\n> \"In Viol\" = Facility is in violation\n> \"No Viol\" = No violation found\n> \"Unk\" = Unknown status\n> \"SNC/Cat 1\" = SNC/Category I violation found",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of compliance statuses for 13 quarters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr009_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr009_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_cwa_3yr_d80d90_counts" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Displays monlthly and quarterly counts of D80 and D90 Effluent Non Reporting Violations Related to the Facility",
        "description" : "Displays monlthly and quarterly counts of D80 and D90 Effluent Non Reporting Violations Related to the Facility from EPA's ICIS NPDES System.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of D80/D90 counts for 13 quarters and 39 months.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr007_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr007_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Displays monlthly and quarterly counts of D80 and D90 Effluent Non Reporting Violations Related to the Facility",
        "description" : "Displays monlthly and quarterly counts of D80 and D90 Effluent Non Reporting Violations Related to the Facility from EPA's ICIS NPDES System.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of D80/D90 counts for 13 quarters and 39 months.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr007_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr007_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_cwa_cs_compliance" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA CSV Compliance Service",
        "description" : "This procedure obtains data for the CWA Compliance Schedule Violations section of the DFR.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of compliance statuses for 13 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr010_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr010_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA CSV Compliance Service",
        "description" : "This procedure obtains data for the CWA Compliance Schedule Violations section of the DFR.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of compliance statuses for 13 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr010_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr010_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_cwa_eff_alr" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA Effluent ALR Service",
        "description" : "This procedure obtains data for the CWA Pollutant Discharge section located in the Three Year Compliance Status by Quarter portion of the DFR.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of effluent ALR for 13 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr011_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr011_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA Effluent ALR Service",
        "description" : "This procedure obtains data for the CWA Pollutant Discharge section located in the Three Year Compliance Status by Quarter portion of the DFR.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of effluent ALR for 13 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr011_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr011_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_cwa_eff_alr_exp" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Placeholder",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Results",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_cwa_eff_alr_exp.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_cwa_eff_alr_exp.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Placeholder",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Results",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_cwa_eff_alr_exp.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_cwa_eff_alr_exp.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_cwa_eff_compliance" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA Effluent Compliance Service",
        "description" : "This procedure obtains data for the CWA Effluent Compliance section on the DFR.  ",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of effluent compliance statuses for 13 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr012_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr012_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA Effluent Compliance Service",
        "description" : "This procedure obtains data for the CWA Effluent Compliance section on the DFR.  ",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of effluent compliance statuses for 13 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr012_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr012_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_cwa_eff_compliance_exp" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Placeholder",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Results",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_cwa_eff_compliance_exp.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_cwa_eff_compliance_exp.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Placeholder",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Results",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_cwa_eff_compliance_exp.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_cwa_eff_compliance_exp.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_cwa_ps_compliance" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA PSV Compliance Service",
        "description" : "This procedure obtains data for the CWA Permit Schedule Violations section of the DFR.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of permit schedule violations for 13 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr013_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr013_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA PSV Compliance Service",
        "description" : "This procedure obtains data for the CWA Permit Schedule Violations section of the DFR.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of permit schedule violations for 13 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr013_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr013_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_cwa_rnc_compliance" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA RNC Compliance Service",
        "description" : "This procedure obtains data for the CWA SNC/RNC History section located in the Three Year ompliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows.\n> S = SNC/Category I - an enforcement action has been issued, and the facility is not meeting its compliance schedule\n> E = SNC/Category I - effluent violations of monthly average limits (Technical Review Criteria and chronic)\n> X = SNC/Category I - effluent violations of non-monthly average limits (Technical Review Criteria and chronic)\n> T = SNC/Category I - compliance schedule reporting violation\n> D = SNC/Category I - reporting violation - nonreceipt of DMR\n> N = RNC/Category II - reportable non-compliance\n> P = Resolved Pending - an enforcement action has been issued, and facility compliance with the action is pending final completion\n> R = Resolved - the facility has returned to compliance with its permit conditions, either with or without issuance of an enforcement action\n> C = Not considered in RNC/SNC based on manual review of data by state or EPA region. This manual override status is also indicated by a superscripted \"m\".\n> Blank = Not considered in RNC/SNC\n> N/A = EPA's data system is not able to determine the facility-level compliance status based upon the information available. This information may be available from a state database.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of RNC compliance statuses for 12 quarters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr014_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr014_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA RNC Compliance Service",
        "description" : "This procedure obtains data for the CWA SNC/RNC History section located in the Three Year ompliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows.\n> S = SNC/Category I - an enforcement action has been issued, and the facility is not meeting its compliance schedule\n> E = SNC/Category I - effluent violations of monthly average limits (Technical Review Criteria and chronic)\n> X = SNC/Category I - effluent violations of non-monthly average limits (Technical Review Criteria and chronic)\n> T = SNC/Category I - compliance schedule reporting violation\n> D = SNC/Category I - reporting violation - nonreceipt of DMR\n> N = RNC/Category II - reportable non-compliance\n> P = Resolved Pending - an enforcement action has been issued, and facility compliance with the action is pending final completion\n> R = Resolved - the facility has returned to compliance with its permit conditions, either with or without issuance of an enforcement action\n> C = Not considered in RNC/SNC based on manual review of data by state or EPA region. This manual override status is also indicated by a superscripted \"m\".\n> Blank = Not considered in RNC/SNC\n> N/A = EPA's data system is not able to determine the facility-level compliance status based upon the information available. This information may be available from a state database.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of RNC compliance statuses for 12 quarters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr014_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr014_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_cwa_se_compliance" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA SEV Compliance Service",
        "description" : "This procedure obtains data for the CWA Single Event Violations section of the DFR.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_id",
          "in" : "query",
          "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of single-event statuses for 13 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr015_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr015_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Detailed Facility Report CWA SEV Compliance Service",
        "description" : "This procedure obtains data for the CWA Single Event Violations section of the DFR.",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "required" : [ "p_id" ],
                "type" : "object",
                "properties" : {
                  "output" : {
                    "type" : "string",
                    "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
                    "enum" : [ "JSONP", "JSON", "XML" ]
                  },
                  "p_id" : {
                    "type" : "string",
                    "description" : "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
                  },
                  "callback" : {
                    "type" : "string",
                    "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes an array of single-event statuses for 13 quarters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr015_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr015_Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_d80d90s_details" : {
      "get" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Display detailed D80/D90 information for the facility for a given quarter or month",
        "description" : "Displays detailed D80/D90 Effluent Non Reporting  information from EPA's ICIS NPDES system for the facility for a given quarter or month.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_npdes_id",
          "in" : "query",
          "description" : "The NPDES_ID for the NPDES Permit to download DMR D80 and D90 Non-Receipt violations.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "p_missinglate",
          "in" : "query",
          "description" : "For the D80.D90 download, identifies whether or not MISSINGviolations are downloaded or LATE violations are downloaded.  Valid values are:  MiISSING and LATE.",
          "schema" : {
            "type" : "string",
            "enum" : [ "MISSING", "LATE" ]
          }
        }, {
          "name" : "p_qmtype",
          "in" : "query",
          "description" : "Identifies the time frame type, month or quarter, for the D80/D90 download.",
          "schema" : {
            "type" : "string",
            "enum" : [ "MONTH", "QUARTER" ]
          }
        }, {
          "name" : "p_qmvalue",
          "in" : "query",
          "description" : "A number between 1 and 39 that identifies the specific month or quarter for the D80/D90 violation download.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "description" : "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an object that includes information for  D80/D90 violations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_d80d90s_details.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "required" : [ "Results" ],
                  "type" : "object",
                  "properties" : {
                    "Results" : {
                      "$ref" : "#/components/schemas/dfr0_get_d80d90s_details.Results"
                    }
                  },
                  "description" : "Root Object"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Detailed Facility Report" ],
        "summary" : "Display detailed D80/D90 information for the facility for a given quarter or month",
        "description" : "Displays detailed D80/D90 Effluent Non Reporting  information from EPA's ICIS NPDES system for the facility for a given quarter or month.",
        "parameters" : [ {
          "name" : "output",
          "in" : "query",
          "description" : "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.",
          "schema" : {
            "type" : "string",
            "enum" : [ "JSONP", "JSON", "XML" ]
          }
        }, {
          "name" : "p_npdes_id",
          "in" : "query",
[...]
