{"openapi":"3.0.1","info":{"title":"NetworkAdminManagementClient","description":"Load balancer admin operation endpoints and objects.","version":"2015-06-15"},"servers":[{"url":"https://adminmanagement.local.azurestack.external/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminLoadBalancers":{"get":{"tags":["LoadBalancers"],"description":"Get a list of all load balancers.","operationId":"LoadBalancers_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API Version.","required":true,"schema":{"type":"string","default":"2015-06-15"}},{"name":"$filter","in":"query","description":"OData filter parameter.","schema":{"type":"string"}},{"name":"$orderBy","in":"query","description":"OData orderBy parameter.","schema":{"type":"string"}},{"name":"$top","in":"query","description":"OData top parameter.","schema":{"type":"string"}},{"name":"$skip","in":"query","description":"OData skip parameter.","schema":{"type":"string"}},{"name":"$inlineCount","in":"query","description":"OData inline count parameter.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadBalancerList"}}}}}}}},"components":{"schemas":{"LoadBalancer":{"properties":{"properties":{"$ref":"#/components/schemas/LoadBalancerProperty"}},"description":"Representation of a load balancer.","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"URI of the resource.","readOnly":true},"location":{"type":"string","description":"Region location of resource.","readOnly":true},"name":{"type":"string","description":"Name of the resource.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"List of key value pairs."},"type":{"type":"string","description":"Type of resource.","readOnly":true}},"description":"Base Resource Object"}]},"LoadBalancerList":{"type":"object","properties":{"nextLink":{"type":"string","description":"URI to the next page."},"value":{"type":"array","description":"List of load balancers for this page.","items":{"$ref":"#/components/schemas/LoadBalancer"}}},"description":"Pageable list of load balancers."},"LoadBalancerProperty":{"properties":{"publicIpAddresses":{"type":"array","description":"List of public IP addresses.","items":{"type":"string"}}},"description":"Properties of a load balancer.","allOf":[{"type":"object","properties":{"provisioningState":{"type":"string","description":"The provisioning state.","readOnly":true}},"description":"Objects which have a provisioning state."},{"type":"object","properties":{"subscriptionId":{"type":"string","description":"The subscription ID.","readOnly":true},"tenantResourceUri":{"type":"string","description":"The tenant resource URI.","readOnly":true}},"description":"These resources are utilized by a single tenant."}]}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 flow."}}}}