{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "RecoveryServicesClient",
    "version" : "2016-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/usages" : {
      "get" : {
        "tags" : [ "VaultUsages" ],
        "description" : "Fetches the usages of the vault.",
        "operationId" : "Usages_ListByVaults",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VaultUsageList"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    }
  },
  "components" : {
    "schemas" : {
      "NameInfo" : {
        "type" : "object",
        "properties" : {
          "localizedValue" : {
            "type" : "string",
            "description" : "Localized value of usage."
          },
          "value" : {
            "type" : "string",
            "description" : "Value of usage."
          }
        },
        "description" : "The name of usage."
      },
      "VaultUsage" : {
        "type" : "object",
        "properties" : {
          "currentValue" : {
            "type" : "integer",
            "description" : "Current value of usage.",
            "format" : "int64"
          },
          "limit" : {
            "type" : "integer",
            "description" : "Limit of usage.",
            "format" : "int64"
          },
          "name" : {
            "$ref" : "#/components/schemas/NameInfo"
          },
          "nextResetTime" : {
            "type" : "string",
            "description" : "Next reset time of usage.",
            "format" : "date-time"
          },
          "quotaPeriod" : {
            "type" : "string",
            "description" : "Quota period of usage."
          },
          "unit" : {
            "type" : "string",
            "description" : "Unit of the usage.",
            "enum" : [ "Count", "Bytes", "Seconds", "Percent", "CountPerSecond", "BytesPerSecond" ]
          }
        },
        "description" : "Usages of a vault."
      },
      "VaultUsageList" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "array",
            "description" : "The list of usages for the given vault.",
            "items" : {
              "$ref" : "#/components/schemas/VaultUsage"
            }
          }
        },
        "description" : "Usage for vault."
      }
    },
    "parameters" : {
      "ApiVersion" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupName" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group where the recovery services vault is present.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionId" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription Id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "VaultName" : {
        "name" : "vaultName",
        "in" : "path",
        "description" : "The name of the recovery services vault.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}