{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "RecoveryServicesClient",
    "version" : "2016-06-01"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/certificates/{certificateName}" : {
      "put" : {
        "tags" : [ "VaultCertificates" ],
        "description" : "Uploads a certificate for a resource.",
        "operationId" : "VaultCertificates_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "certificateName",
          "in" : "path",
          "description" : "Certificate friendly name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Input parameters for uploading the vault certificate.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CertificateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VaultCertificateResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/registeredIdentities/{identityName}" : {
      "delete" : {
        "tags" : [ "RegisteredIdentities" ],
        "description" : "Unregisters the given container from your Recovery Services vault.",
        "operationId" : "RegisteredIdentities_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "The subscription Id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client Api Version.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "The name of the resource group where the recovery services vault is present.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vaultName",
          "in" : "path",
          "description" : "The name of the recovery services vault.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identityName",
          "in" : "path",
          "description" : "Name of the protection container to unregister.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        },
        "deprecated" : false
      }
    }
  },
  "components" : {
    "schemas" : {
      "CertificateRequest" : {
        "type" : "object",
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/RawCertificateData"
          }
        },
        "description" : "Details of the certificate to be uploaded to the vault."
      },
      "RawCertificateData" : {
        "type" : "object",
        "properties" : {
          "authType" : {
            "type" : "string",
            "description" : "Specifies the authentication type.",
            "enum" : [ "Invalid", "ACS", "AAD", "AccessControlService", "AzureActiveDirectory" ]
          },
          "certificate" : {
            "pattern" : "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
            "type" : "string",
            "description" : "The base64 encoded certificate raw data string",
            "format" : "byte"
          }
        },
        "description" : "Raw certificate data."
      },
      "ResourceCertificateAndAadDetails" : {
        "required" : [ "aadAuthority", "aadTenantId", "azureManagementEndpointAudience", "servicePrincipalClientId", "servicePrincipalObjectId" ],
        "properties" : {
          "aadAuthority" : {
            "type" : "string",
            "description" : "AAD tenant authority."
          },
          "aadTenantId" : {
            "type" : "string",
            "description" : "AAD tenant Id."
          },
          "azureManagementEndpointAudience" : {
            "type" : "string",
            "description" : "Azure Management Endpoint Audience."
          },
          "servicePrincipalClientId" : {
            "type" : "string",
            "description" : "AAD service principal clientId."
          },
          "servicePrincipalObjectId" : {
            "type" : "string",
            "description" : "AAD service principal ObjectId."
          }
        },
        "description" : "Certificate details representing the Vault credentials for AAD.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ResourceCertificateDetails"
        } ]
      },
      "ResourceCertificateAndAcsDetails" : {
        "required" : [ "globalAcsHostName", "globalAcsNamespace", "globalAcsRPRealm" ],
        "properties" : {
          "globalAcsHostName" : {
            "type" : "string",
            "description" : "Acs mgmt host name to connect to."
          },
          "globalAcsNamespace" : {
            "type" : "string",
            "description" : "ACS namespace name - tenant for our service."
          },
          "globalAcsRPRealm" : {
            "type" : "string",
            "description" : "Global ACS namespace RP realm."
          }
        },
        "description" : "Certificate details representing the Vault credentials for ACS.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/ResourceCertificateDetails"
        } ]
      },
      "ResourceCertificateDetails" : {
        "required" : [ "authType" ],
        "type" : "object",
        "properties" : {
          "authType" : {
            "type" : "string",
            "description" : "This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types."
          },
          "certificate" : {
            "pattern" : "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
            "type" : "string",
            "description" : "The base64 encoded certificate raw data string.",
            "format" : "byte"
          },
          "friendlyName" : {
            "type" : "string",
            "description" : "Certificate friendly name."
          },
          "issuer" : {
            "type" : "string",
            "description" : "Certificate issuer."
          },
          "resourceId" : {
            "type" : "integer",
            "description" : "Resource ID of the vault.",
            "format" : "int64"
          },
          "subject" : {
            "type" : "string",
            "description" : "Certificate Subject Name."
          },
          "thumbprint" : {
            "type" : "string",
            "description" : "Certificate thumbprint."
          },
          "validFrom" : {
            "type" : "string",
            "description" : "Certificate Validity start Date time.",
            "format" : "date-time"
          },
          "validTo" : {
            "type" : "string",
            "description" : "Certificate Validity End Date time.",
            "format" : "date-time"
          }
        },
        "description" : "Certificate details representing the Vault credentials.",
        "discriminator" : {
          "propertyName" : "authType"
        }
      },
      "VaultCertificateResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Resource Id represents the complete path to the resource.",
            "readOnly" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Resource name associated with the resource.",
            "readOnly" : true
          },
          "properties" : {
            "$ref" : "#/components/schemas/ResourceCertificateDetails"
          },
          "type" : {
            "type" : "string",
            "description" : "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
            "readOnly" : true
          }
        },
        "description" : "Certificate corresponding to a vault that can be used by clients to register themselves with the vault."
      }
    },
    "parameters" : {
      "ApiVersion" : {
        "name" : "api-version",
        "in" : "query",
        "description" : "Client Api Version.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupName" : {
        "name" : "resourceGroupName",
        "in" : "path",
        "description" : "The name of the resource group where the recovery services vault is present.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SubscriptionId" : {
        "name" : "subscriptionId",
        "in" : "path",
        "description" : "The subscription Id.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "VaultName" : {
        "name" : "vaultName",
        "in" : "path",
        "description" : "The name of the recovery services vault.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}