{"openapi":"3.0.1","info":{"title":"Netatmo","description":"<h3>Welcome to the Netatmo swagger on-line documentation !</h3>\nThis site is a complement to the official <a href=\"https://dev.netatmo.com/\">Netatmo developper documentation</a> using swagger to bring interactivity and easy testing of requests with the \"try it\" button (authenticate with the authorization code OAuth2 flow by clicking the authenticate button in the methods). You can find the source code for this site can be found in the project <a href=\"https://github.com/cbornet/netatmo-swagger-ui\">netatmo-swagger-ui</a>. You can also use the online <a href=\"./swagger.json\">swagger declaration</a> file to generate code or static documentation (see <a href=\"https://github.com/cbornet/netatmo-swagger-api\">netatmo-swagger-api</a>).\n","termsOfService":"https://dev.netatmo.com/dev/resources/legal/introduction","contact":{"name":"Netatmo","email":"contact-api@netatmo.com"},"license":{"name":"Netatmo : Terms of Service","url":"https://dev.netatmo.com/dev/resources/legal/introduction"},"version":"1.1.5"},"externalDocs":{"description":"Netatmo reference API documentation","url":"https://dev.netatmo.com/dev/resources/technical/reference"},"servers":[{"url":"https://api.netatmo.net/api"}],"tags":[{"name":"station","description":"Weather station specific methods"},{"name":"healthyhomecoach","description":"Healthy Home Coach specific methods"},{"name":"thermostat","description":"Thermostat specific methods"},{"name":"welcome","description":"Welcome specific methods"},{"name":"public","description":"Public stations specific methods"},{"name":"partner","description":"Partner API specific methods"},{"name":"deprecated","description":"These methods are no longer maintained nor supported"}],"paths":{"/addwebhook":{"get":{"tags":["welcome"],"description":"Links a callback url to a user.\n","operationId":"addwebhook","parameters":[{"name":"url","in":"query","description":"Your webhook callback url","required":true,"schema":{"type":"string"}},{"name":"app_type","in":"query","description":"Webhooks are only available for Welcome, enter app_camera.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAWelcomeWebhookResponse"}}}}},"security":[{"code_oauth":null},{"password_oauth":null}]}},"/createnewschedule":{"post":{"tags":["thermostat"],"description":"The method createnewschedule creates a new schedule stored in the backup list.","operationId":"createnewschedule","parameters":[{"name":"device_id","in":"query","description":"The relay id","required":true,"schema":{"type":"string"}},{"name":"module_id","in":"query","description":"The thermostat id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The thermostat program (zones and timetable)","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/NAThermProgram"}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NANewScheduleResponse"}}}}},"security":[{"code_oauth":["write_thermostat"]},{"password_oauth":["write_thermostat"]}]}},"/devicelist":{"get":{"tags":["deprecated"],"description":"The method devicelist returns the list of devices owned by the user, and their modules.\nA device is identified by its _id (which is its mac address) and each device may have one, several or no modules, also identified by an _id.\n","operationId":"devicelist","parameters":[{"name":"app_type","in":"query","description":"Defines which device type will be returned by devicelist. It could be app_thermostat or app_station (by default if not provided)","schema":{"type":"string","enum":["app_thermostat","app_station"]}},{"name":"device_id","in":"query","description":"Specify a device_id if you want to retrieve only this device informations.","schema":{"type":"string"}},{"name":"get_favorites","in":"query","description":"When set to \"true\", the favorite devices of the user are returned. This flag is available only if the devices requested are Weather Stations.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NADeviceListResponse"}}}}},"deprecated":true,"security":[{"code_oauth":["read_thermostat","read_station"]},{"password_oauth":["read_thermostat","read_station"]}]}},"/dropwebhook":{"get":{"tags":["welcome"],"description":"Dissociates a webhook from a user.\n","operationId":"dropwebhook","parameters":[{"name":"app_type","in":"query","description":"For Welcome, use app_camera","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAWelcomeWebhookResponse"}}}}},"security":[{"code_oauth":null},{"password_oauth":null}]}},"/getcamerapicture":{"get":{"tags":["welcome"],"description":"Returns the snapshot associated to an event.\n","operationId":"getcamerapicture","parameters":[{"name":"image_id","in":"query","description":"id of the image (can be retrieved as 'id' in 'face' in Gethomedata, or as 'id' in 'snapshot' in Getnextevents, Getlasteventof and Geteventsuntil)","required":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"Security key to access snapshots.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"string","format":"byte"}}}}},"security":[{"code_oauth":null},{"password_oauth":null}]}},"/geteventsuntil":{"get":{"tags":["welcome"],"description":"Returns the snapshot associated to an event.\n","operationId":"geteventsuntil","parameters":[{"name":"home_id","in":"query","description":"ID of the Home you're interested in","required":true,"schema":{"type":"string"}},{"name":"event_id","in":"query","description":"Your request will retrieve all the events until this one","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAWelcomeEventResponse"}}}}},"security":[{"code_oauth":["access_camera","read_camera"]},{"password_oauth":["access_camera","read_camera"]}]}},"/gethomecoachsdata":{"get":{"tags":["healthyhomecoach"],"description":"The method gethomecoachsdata Returns data from a user Healthy Home Coach Station (measures and device specific data).","operationId":"gethomecoachsdata","parameters":[{"name":"device_id","in":"query","description":"Id of the device you want to retrieve information of","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAHealthyHomeCoachDataResponse"}}}}},"security":[{"code_oauth":["read_homecoach"]},{"password_oauth":["read_homecoach"]}]}},"/gethomedata":{"get":{"tags":["welcome"],"description":"Returns information about users homes and cameras.\n","operationId":"gethomedata","parameters":[{"name":"home_id","in":"query","description":"Specify if you're looking for the events of a specific Home.","schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of events to retrieve. Default is `30`.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAWelcomeHomeDataResponse"}}}}},"security":[{"code_oauth":["access_camera","read_camera"]},{"password_oauth":["access_camera","read_camera"]}]}},"/getlasteventof":{"get":{"tags":["welcome"],"description":"Returns most recent events.\n","operationId":"getlasteventof","parameters":[{"name":"home_id","in":"query","description":"ID of the Home you're interested in","required":true,"schema":{"type":"string"}},{"name":"person_id","in":"query","description":"Your request will retrieve all events of the given home until the most recent event of the given person","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"Number of events to retrieve. Default is 30.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAWelcomeEventResponse"}}}}},"security":[{"code_oauth":["access_camera","read_camera"]},{"password_oauth":["access_camera","read_camera"]}]}},"/getmeasure":{"get":{"tags":["station","thermostat","partner","public"],"description":"The method getmeasure returns the measurements of a device or a module.\n","operationId":"getmeasure","parameters":[{"name":"device_id","in":"query","description":"Id of the device whose module's measurements you want to retrieve. This _id can be found in the user's devices field.","required":true,"schema":{"type":"string"}},{"name":"module_id","in":"query","description":"If you don't specify any module_id you will retrieve the device's measurements. If you specify a module_id you will retrieve the module's measurements.","schema":{"type":"string"}},{"name":"scale","in":"query","description":"Defines the time interval between two measurements.\nPossible values :\nmax -> every value stored will be returned\n30min -> 1 value every 30 minutes\n1hour -> 1 value every hour\n3hours -> 1 value every 3 hours\n1day -> 1 value per day\n1week -> 1 value per week\n1month -> 1 value per month\n","required":true,"schema":{"type":"string","enum":["max","30min","1hour","3hours","1day","1week","1month"]}},{"name":"type","in":"query","description":"Measures you are interested in. Data you can request depends on the scale.\n**For Weather Station:**\n  * max -> Temperature (°C), CO2 (ppm), Humidity (%), Pressure (mbar), Noise (db), Rain (mm), WindStrength (km/h), WindAngle (angles), Guststrength (km/h), GustAngle (angles)\n  * 30min, 1hour, 3hours -> Same as above + min_temp, max_temp, min_hum, max_hum, min_pressure, max_pressure, min_noise, max_noise, sum_rain, date_max_gust\n  * 1day, 1week, 1month -> Same as above + date_min_temp, date_max_temp, date_min_hum, date_max_hum, date_min_pressure, date_max_pressure, date_min_noise, date_max_noise, date_min_co2, date_max_co2\n\n**For Thermostat:**\n  * max -> temperature (°C), sp_temperature (°C), boileron (sec), boileroff (sec)\n  * 30min, 1hour, 3hours -> temperature, sp_temperature, min_temp,\nmax_temp, sum_boiler_on, sum_boiler_off\n  * 1day, 1week, 1month -> temperature, min_temp, date_min_temp,\nmax_temp, sum_boiler_on, sum_boiler_off\n","required":true,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["Temperature","CO2","Humidity","Pressure","Noise","Rain","WindStrength","WindAngle","Guststrength","GustAngle","Sp_Temperature","BoilerOn","BoilerOff","min_temp","date_min_temp","max_temp","date_max_temp","min_hum","date_min_hum","max_hum","date_max_hum","min_pressure","date_min_pressure","max_pressure","date_max_pressure","min_noise","date_min_noise","max_noise","date_max_noise","date_min_co2","date_max_co2","date_max_gust","sum_rain","sum_boiler_on","sum_boiler_off"]}}},{"name":"date_begin","in":"query","description":"Starting timestamp (utc) of the requested measurements.\nPlease note measurement retrieving is limited to 1024 measurements.\n","schema":{"type":"integer","format":"int32"}},{"name":"date_end","in":"query","description":"Ending timestamp (utc) of the request measurements.\nIf you want only the last measurement, do not provide date_begin, and set date_end to `last`.\n","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Limits the number of measurements returned (default & max is 1024)","schema":{"maximum":1024,"type":"integer","format":"int32"}},{"name":"optimize","in":"query","description":"Allows you to choose the format of the answer.\nIf you build a mobile app and bandwith usage is an issue, use `optimize = true`.\nUse `optimize = false`, for an easier parse. In this case, values are indexed by sorted timestamp.\nExample of un-optimized response :\n```json\n{\"status\": \"ok\", \n  \"body\": {\n    \"1347575400\": [18.3,39],\n    \"1347586200\": [20.6,48]\n  },\n\"time_exec\": 0.012136936187744}\n```\nIf optimize is set true, measurements are returned as an array of series of regularly spaced measurements. Each series is defined by a beginning time beg_time and a step between measurements, step_time:\n```json\n{\"status\": \"ok\",\n  \"body\": [\n    {\"beg_time\": 1347575400,\n     \"step_time\": 10800,\n     \"value\": \n        [[18.3,39],\n        [ 20.6,48]]\n    }],\n\"time_exec\": 0.014238119125366}\n```\nDefault value is `true`.\n","schema":{"type":"boolean"}},{"name":"real_time","in":"query","description":"In scales higher than max, since the data is aggregated, the timestamps returned are by default offset by +(scale/2).\nFor instance, if you ask for measurements at a daily scale, you will receive data timestamped at 12:00 if real_time is set to `false` (default case), and timestamped at 00:00 if real_time is set to `true`.\nNB : The servers always store data with real_time set to `true` and data are offset by this parameter AFTER having being time-filtered, thus you could have data after date_end if real_time is set to `false`.\n","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAMeasureResponse"}}}}},"security":[{"code_oauth":["read_thermostat","read_station"]},{"password_oauth":["read_thermostat","read_station"]}]}},"/getnextevents":{"get":{"tags":["welcome"],"description":"Returns previous events.\n","operationId":"getnextevents","parameters":[{"name":"home_id","in":"query","description":"ID of the Home you're interested in","required":true,"schema":{"type":"string"}},{"name":"event_id","in":"query","description":"Your request will retrieve events occured before this one","required":true,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of events to retrieve. Default is 30.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAWelcomeEventResponse"}}}}},"security":[{"code_oauth":["access_camera","read_camera"]},{"password_oauth":["access_camera","read_camera"]}]}},"/getpublicdata":{"get":{"tags":["public"],"description":"Retrieves publicly shared weather data from Outdoor Modules within a predefined area.","operationId":"getpublicdata","parameters":[{"name":"lat_ne","in":"query","description":"Latitude of the north east corner of the requested area. -85 <= lat_ne <= 85 and lat_ne>lat_sw","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"lon_ne","in":"query","description":"Longitude of the north east corner of the requested area. -180 <= lon_ne <= 180 and lon_ne>lon_sw","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"lat_sw","in":"query","description":"Latitude of the south west corner of the requested area. -85 <= lat_sw <= 85","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"lon_sw","in":"query","description":"Longitude of the south west corner of the requested area. -180 <= lon_sw <= 180","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"required_data","in":"query","description":"To filter stations based on relevant measurements you want (e.g. rain will only return stations with rain gauges). Default is no filter. You can find all measurements available on the Thermostat page.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["temperature","humidity","pressure","wind","rain"]}}},{"name":"filter","in":"query","description":"True to exclude stations with abnormal temperature measures. Default is false.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAPublicDataResponse"}}}}},"security":[{"code_oauth":null},{"password_oauth":null}]}},"/getstationsdata":{"get":{"tags":["station"],"description":"The method getstationsdata Returns data from a user's Weather Stations (measures and device specific data).","operationId":"getstationsdata","parameters":[{"name":"device_id","in":"query","description":"Id of the device you want to retrieve information of","schema":{"type":"string"}},{"name":"get_favorites","in":"query","description":"Whether to include the user's favorite Weather Stations in addition to the user's own Weather Stations","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAStationDataResponse"}}}}},"security":[{"code_oauth":["read_station"]},{"password_oauth":["read_station"]}]}},"/getthermostatsdata":{"get":{"tags":["thermostat"],"description":"The method getthermostatsdata returns information about user's thermostats such as their last measurements.","operationId":"getthermostatsdata","parameters":[{"name":"device_id","in":"query","description":"Id of the device you want to retrieve information of","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAThermostatDataResponse"}}}}},"security":[{"code_oauth":["read_thermostat"]},{"password_oauth":["read_thermostat"]}]}},"/getthermstate":{"get":{"tags":["deprecated"],"description":"The method getthermstate returns the last Thermostat measurements, its current weekly schedule, and, if present, its current manual temperature setpoint.","operationId":"getthermstate","parameters":[{"name":"device_id","in":"query","description":"The relay id","required":true,"schema":{"type":"string"}},{"name":"module_id","in":"query","description":"The thermostat id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAThermStateResponse"}}}}},"deprecated":true,"security":[{"code_oauth":["read_thermostat"]},{"password_oauth":["read_thermostat"]}]}},"/getuser":{"get":{"tags":["deprecated"],"description":"The method getuser returns information about a user such as prefered language, prefered units, and list of devices.\n","operationId":"getuser","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAUserResponse"}}}}},"deprecated":true,"security":[{"code_oauth":null},{"password_oauth":null}]}},"/partnerdevices":{"get":{"tags":["partner"],"description":"The method partnerdevices returns the list of device_id to which your partner application has access to.","operationId":"partnerdevices","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAPartnerDevicesResponse"}}}}},"security":[{"code_oauth":null},{"password_oauth":null}]}},"/setpersonsaway":{"post":{"tags":["welcome"],"description":"Sets a person as 'Away' or the Home as 'Empty'. The event will be added to the user’s timeline.\n","operationId":"setpersonsaway","parameters":[{"name":"home_id","in":"query","description":"ID of the Home you're interested in","required":true,"schema":{"type":"string"}},{"name":"person_id","in":"query","description":"If a person_id is specified, that person will be set as 'Away'. If no person_id is specified, the Home will be set as 'Empty'.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAWelcomePersonsAwayResponse"}}}}},"security":[{"code_oauth":["write_camera"]},{"password_oauth":["write_camera"]}]}},"/setpersonshome":{"post":{"tags":["welcome"],"description":"Sets a person as 'At home'.\n","operationId":"setpersonshome","parameters":[{"name":"home_id","in":"query","description":"ID of the Home you're interested in","required":true,"schema":{"type":"string"}},{"name":"person_ids","in":"query","description":"List of persons IDs","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAWelcomePersonsHomeResponse"}}}}},"security":[{"code_oauth":["write_camera"]},{"password_oauth":["write_camera"]}]}},"/setthermpoint":{"post":{"tags":["thermostat"],"description":"The method setthermpoint changes the Thermostat manual temperature setpoint.","operationId":"setthermpoint","parameters":[{"name":"device_id","in":"query","description":"The relay id","required":true,"schema":{"type":"string"}},{"name":"module_id","in":"query","description":"The thermostat id","required":true,"schema":{"type":"string"}},{"name":"setpoint_mode","in":"query","description":"Chosen setpoint_mode","required":true,"schema":{"type":"string","enum":["program","away","hg","manual","off","max"]}},{"name":"setpoint_endtime","in":"query","description":"When using the manual or max setpoint_mode, this parameter defines when the setpoint expires.","schema":{"type":"integer","format":"int32"}},{"name":"setpoint_temp","in":"query","description":"When using the manual setpoint_mode, this parameter defines the temperature setpoint (in Celcius) to use.","schema":{"type":"number","format":"float"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAOkResponse"}}}}},"security":[{"code_oauth":["write_thermostat"]},{"password_oauth":["write_thermostat"]}]}},"/switchschedule":{"post":{"tags":["thermostat"],"description":"The method switchschedule switches the Thermostat's schedule to another existing schedule.","operationId":"switchschedule","parameters":[{"name":"device_id","in":"query","description":"The relay id","required":true,"schema":{"type":"string"}},{"name":"module_id","in":"query","description":"The thermostat id","required":true,"schema":{"type":"string"}},{"name":"schedule_id","in":"query","description":"The schedule id. It can be found in the getthermstate response, under the keys `therm_program_backup` and `therm_program`.\n","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAOkResponse"}}}}},"security":[{"code_oauth":["write_thermostat"]},{"password_oauth":["write_thermostat"]}]}},"/syncschedule":{"post":{"tags":["thermostat"],"description":"The method syncschedule changes the Thermostat weekly schedule.","operationId":"syncschedule","parameters":[{"name":"device_id","in":"query","description":"The relay id","required":true,"schema":{"type":"string"}},{"name":"module_id","in":"query","description":"The thermostat id","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The thermostat program (zones, timetable and name)","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/NAThermProgram"}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NAOkResponse"}}}}},"security":[{"code_oauth":["write_thermostat"]},{"password_oauth":["write_thermostat"]}]}}},"components":{"schemas":{"NADashboardData":{"type":"object","properties":{"AbsolutePressure":{"type":"number","description":"Real measured pressure @ time_utc (in mb)","format":"float"},"BoilerOff":{"type":"integer","format":"int32"},"BoilerOn":{"type":"integer","format":"int32"},"CO2":{"type":"number","description":"Last Co2 measured @ time_utc (in ppm)","format":"float"},"GustAngle":{"type":"integer","description":"Direction of the last 5 min highest gust wind","format":"int32"},"GustStrength":{"type":"integer","description":"Speed of the last 5 min highest gust wind","format":"int32"},"Humidity":{"type":"number","description":"Last humidity measured @ time_utc (in %)","format":"float"},"Noise":{"type":"number","description":"Last noise measured @ time_utc (in db)","format":"float"},"Pressure":{"type":"number","description":"Last Sea level pressure measured @ time_utc (in mb)","format":"float"},"Rain":{"type":"number","description":"Last rain measured (in mm)","format":"float"},"Temperature":{"type":"number","description":"Last temperature measure @ time_utc (in °C)","format":"float"},"WindAngle":{"type":"integer","description":"Current 5 min average wind direction measured @ time_utc (in °)","format":"int32"},"WindStrength":{"type":"integer","description":"Current 5 min average wind speed measured @ time_utc (in km/h)","format":"int32"},"date_max_temp":{"type":"integer","description":"Timestamp when max temperature was measured","format":"int32"},"date_max_wind_str":{"type":"integer","description":"Timestamp when max wind strength was measured","format":"int32"},"date_min_temp":{"type":"integer","description":"Timestamp when min temperature was measured","format":"int32"},"device_id":{"type":"number","format":"float"},"health_idx":{"type":"integer","description":"Current health index: 0 = Healthy, 1 = Fine, 2 = Fair, 3 = Poor, 4 = Unhealthy","format":"int32"},"max_temp":{"type":"number","description":"Min temperature of the day (measured @ date_min_temp)","format":"float"},"max_wind_str":{"type":"integer","format":"int32"},"min_temp":{"type":"number","description":"Max temperature of the day (measured @ date_max_temp)","format":"float"},"pressure_trend":{"type":"string","description":"Pressure evolution trend"},"sum_rain_1":{"type":"number","description":"Amount of rain in last hour","format":"float"},"sum_rain_24":{"type":"number","description":"Amount of rain today","format":"float"},"temp_trend":{"type":"string","description":"Temperature evolution trend"},"time_utc":{"type":"integer","format":"int32"}}},"NADate":{"type":"object","properties":{"sec":{"type":"integer","format":"int32"},"usec":{"type":"integer","format":"int32"}}},"NADevice":{"type":"object","properties":{"_id":{"type":"string"},"behavior":{"type":"integer","format":"int32"},"cipher_id":{"type":"string"},"dashboard_data":{"$ref":"#/components/schemas/NADashboardData"},"data_type":{"type":"array","items":{"type":"string"}},"date_setup":{"$ref":"#/components/schemas/NADate"},"firmware":{"type":"integer","format":"int32"},"first_pid_avail":{"type":"boolean"},"heating_system":{"$ref":"#/components/schemas/NAHeatingSystem"},"house_model":{"$ref":"#/components/schemas/NAHouseModel"},"hw_version":{"type":"integer","format":"int32"},"ip":{"type":"string"},"last_fw_update":{"type":"integer","format":"int32"},"last_radio_store":{"type":"integer","format":"int32"},"last_status_store":{"type":"integer","format":"int32"},"last_upgrade":{"type":"integer","format":"int32"},"module_name":{"type":"string"},"modules":{"type":"array","description":"It lists which modules are linked with this device","items":{"type":"string"}},"new_feature_avail":{"type":"boolean"},"place":{"$ref":"#/components/schemas/NAPlace"},"public_ext_data":{"type":"boolean"},"setpoint":{"type":"object"},"setpoint_default_duration":{"type":"integer","format":"int32"},"setpoint_order":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/NAObject"}}},"station_name":{"type":"string"},"therm_program":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/NAThermProgram"}},"therm_program_backup":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/NAThermProgram"}}},"therm_program_order":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/NAObject"}}},"type":{"type":"string","description":"Included in every device or module. It defines the type of the device/module. Its values are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4 : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n"},"udp_conn":{"type":"boolean"},"user_owner":{"type":"array","items":{"type":"string"}},"wifi_status":{"type":"integer","description":"It contains the current wifi status. The different thresholds to take into account are\nRSSI_THRESHOLD_0 = 86 bad signal\nRSSI_THRESHOLD_1 = 71 middle quality signal\nRSSI_THRESHOLD_2 = 56 good signal\n","format":"int32"}}},"NADeviceListBody":{"type":"object","properties":{"devices":{"type":"array","items":{"$ref":"#/components/schemas/NADevice"}},"modules":{"type":"array","items":{"$ref":"#/components/schemas/NAModule"}}}},"NADeviceListResponse":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/NADeviceListBody"},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAHealthyHomeCoach":{"type":"object","properties":{"_id":{"type":"string"},"cipher_id":{"type":"string"},"co2_calibrating":{"type":"boolean"},"dashboard_data":{"$ref":"#/components/schemas/NADashboardData"},"data_type":{"type":"array","items":{"type":"string"}},"date_setup":{"type":"integer","format":"int32"},"firmware":{"type":"integer","format":"int32"},"last_setup":{"type":"integer","format":"int32"},"last_status_store":{"type":"integer","format":"int32"},"last_upgrade":{"type":"integer","format":"int32"},"name":{"type":"string"},"place":{"$ref":"#/components/schemas/NAPlace"},"type":{"type":"string","description":"Included in every device or module. It defines the type of the device/module. Its values are among :\nNHC: Healthy Home Coach\n"},"wifi_status":{"type":"integer","description":"It contains the current wifi status. The different thresholds to take into account are\nRSSI_THRESHOLD_0 = 86 bad signal\nRSSI_THRESHOLD_1 = 71 middle quality signal\nRSSI_THRESHOLD_2 = 56 good signal\n","format":"int32"}}},"NAHealthyHomeCoachDataBody":{"type":"object","properties":{"devices":{"type":"array","items":{"$ref":"#/components/schemas/NAHealthyHomeCoach"}},"user":{"$ref":"#/components/schemas/NAUser"}}},"NAHealthyHomeCoachDataResponse":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/NAHealthyHomeCoachDataBody"},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAHeatingSystem":{"type":"object","properties":{"heating_energy":{"type":"string"},"heating_system_window_seen":{"type":"boolean"}}},"NAHouseModel":{"type":"object","properties":{"algo_type":{"type":"string"},"ca":{"$ref":"#/components/schemas/NAHouseModelCa"},"ext_temps":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}},"first_anticipate_avail":{"type":"boolean"},"first_pid_avail":{"type":"boolean"},"gefs":{"$ref":"#/components/schemas/NAStation"},"in_use":{"type":"string"},"last_compute_try":{"$ref":"#/components/schemas/NADate"},"link_station":{"$ref":"#/components/schemas/NALinkStation"},"pid_algo":{"$ref":"#/components/schemas/NAPidAlgo"},"prefered_algo_type":{"type":"string"},"simple_algo":{"$ref":"#/components/schemas/NASimpleAlgo"},"station":{"$ref":"#/components/schemas/NAStation"},"station_firsttime_anticipate":{"type":"boolean"},"time":{"$ref":"#/components/schemas/NADate"},"time_algo_changed":{"type":"integer","format":"int32"},"time_pid_computed":{"type":"integer","format":"int32"}}},"NAHouseModelCa":{"type":"object","properties":{"so":{"type":"string"},"te":{"type":"number","format":"double"},"ti":{"type":"integer","format":"int32"}}},"NALinkStation":{"type":"object","properties":{"Temperature":{"type":"number","format":"float"},"ext":{"type":"string"},"mac":{"type":"string"}}},"NAMain":{"type":"object","properties":{"_id":{"type":"string"},"cipher_id":{"type":"string"},"co2_calibrating":{"type":"boolean"},"dashboard_data":{"$ref":"#/components/schemas/NADashboardData"},"data_type":{"type":"array","items":{"type":"string"}},"date_setup":{"type":"integer","format":"int32"},"favorite":{"type":"boolean","description":"true when the device is a user favorite and not owned by them"},"firmware":{"type":"integer","format":"int32"},"last_setup":{"type":"integer","format":"int32"},"last_status_store":{"type":"integer","format":"int32"},"last_upgrade":{"type":"integer","format":"int32"},"module_name":{"type":"string"},"modules":{"type":"array","items":{"$ref":"#/components/schemas/NAStationModule"}},"place":{"$ref":"#/components/schemas/NAPlace"},"reachable":{"type":"boolean","description":"true when the station was seen by the Netatmo cloud within the last 4 hours"},"read_only":{"type":"boolean","description":"true when the user was invited to (or has favorited) a station, false when the user owns it"},"station_name":{"type":"string"},"type":{"type":"string","description":"Included in every device or module. It defines the type of the device/module. Its values are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4 : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n"},"wifi_status":{"type":"integer","description":"It contains the current wifi status. The different thresholds to take into account are\nRSSI_THRESHOLD_0 = 86 bad signal\nRSSI_THRESHOLD_1 = 71 middle quality signal\nRSSI_THRESHOLD_2 = 56 good signal\n","format":"int32"}}},"NAMeasure":{"type":"object","properties":{"gust_angle":{"type":"number"},"gust_strength":{"type":"number"},"rain_24h":{"type":"number"},"rain_60min":{"type":"number"},"rain_live":{"type":"number"},"rain_utc":{"type":"integer","format":"int64"},"res":{"type":"object"},"type":{"type":"array","items":{"type":"string"}},"wind_angle":{"type":"number"},"wind_strength":{"type":"number"},"wind_timeutc\"":{"type":"integer","format":"int64"}}},"NAMeasureBodyElem":{"type":"object","properties":{"beg_time":{"type":"integer","format":"int32"},"step_time":{"type":"integer","format":"int32"},"value":{"type":"array","items":{"type":"array","items":{"type":"number","format":"float"}}}}},"NAMeasureResponse":{"type":"object","properties":{"body":{"type":"array","items":{"$ref":"#/components/schemas/NAMeasureBodyElem"}},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAModule":{"type":"object","properties":{"_id":{"type":"string"},"battery_percent":{"type":"integer","description":"It contains the current battery level in percentage.","format":"int32"},"battery_vp":{"type":"integer","description":"It contains the current battery status. The threshold depends on the kind of module, below is the list of the different threshold to take into account according the module type.\n\"Indoor module Battery range: 6000 ... 4200\" |\nINDOOR_BATTERY_LEVEL_FULL = 5640\nINDOOR_BATTERY_LEVEL_HIGH = 5280\nINDOOR_BATTERY_LEVEL_MEDIUM = 4920\nINDOOR_BATTERY_LEVEL_LOW = 4560\n\"Below 4560: very low\" |\n    \n\"Raingauge and outdoor module Battery range: 6000 ... 3600\" |\nBATTERY_LEVEL_FULL = 5500\nBATTERY_LEVEL_HIGH = 5000\nBATTERY_LEVEL_MEDIUM = 4500\nBATTERY_LEVEL_LOW = 4000\n\"Below 4000: very low\" |\n    \n\"Thermostat Battery range: 4500 ... 3000\" |\nTHERMOSTAT_BATTERY_LEVEL_FULL = 4100\nTHERMOSTAT_BATTERY_LEVEL_HIGH = 3600\nTHERMOSTAT_BATTERY_LEVEL_MEDIUM = 3300\nTHERMOSTAT_BATTERY_LEVEL_LOW = 3000\n\"Below 3000: very low\"\n","format":"int32"},"dashboard_data":{"$ref":"#/components/schemas/NADashboardData"},"data_type":{"type":"array","items":{"type":"string"}},"date_setup":{"$ref":"#/components/schemas/NADate"},"firmware":{"type":"integer","format":"int32"},"last_message":{"type":"integer","format":"int32"},"last_seen":{"type":"integer","format":"int32"},"main_device":{"type":"string"},"module_name":{"type":"string"},"public_ext_data":{"type":"boolean"},"rf_status":{"type":"integer","description":"\"It contains the current radio status. The different thresholds to take into account are :\" |\nRADIO_THRESHOLD_SIGNAL_LOW = 90 \nRADIO_THRESHOLD_SIGNAL_MEDIUM = 80\nRADIO_THRESHOLD_SIGNAL_HIGH = 70\nRADIO_THRESHOLD_SIGNAL_FULL = 60\n","format":"int32"},"therm_orientation":{"type":"integer","format":"int32"},"therm_relay_cmd":{"type":"integer","format":"int32"},"type":{"type":"string","description":"Included in every device or module. It defines the type of the device/module. Its values are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4 : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n"}}},"NANewScheduleBody":{"type":"object","properties":{"schedule_id":{"type":"string","description":"Id of the schedule. It can be use with the method \"switchschedule\" \n"}}},"NANewScheduleResponse":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/NANewScheduleBody"},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAObject":{"type":"object","properties":{"$id":{"type":"string"}}},"NAOkResponse":{"type":"object","properties":{"body":{"type":"string"},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAPartnerDevicesResponse":{"type":"object","properties":{"body":{"type":"array","items":{"type":"string"}},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAPidAlgo":{"type":"object","properties":{"gain":{"type":"integer","format":"int32"},"period":{"type":"integer","format":"int32"},"td":{"type":"integer","format":"int32"},"ti":{"type":"integer","format":"int32"}}},"NAPlace":{"type":"object","properties":{"altitude":{"type":"number","format":"float"},"city":{"type":"string"},"country":{"type":"string"},"from_ip":{"type":"boolean"},"improveLocProposed":{"type":"boolean"},"location":{"type":"array","items":{"type":"number","format":"double"}},"timezone":{"type":"string"},"trust_location":{"type":"boolean"}}},"NAPlug":{"type":"object","properties":{"_id":{"type":"string","example":"70:ee:50:09:f0:xx"},"firmware":{"type":"integer","format":"int32"},"last_bilan":{"$ref":"#/components/schemas/NAYearMonth"},"last_plug_seen":{"type":"integer","format":"int32"},"last_status_store":{"type":"integer","format":"int32"},"modules":{"type":"array","items":{"$ref":"#/components/schemas/NAThermostat"}},"place":{"$ref":"#/components/schemas/NAPlace"},"plug_connected_boiler":{"type":"integer","format":"int32"},"station_name":{"type":"string"},"syncing":{"type":"boolean"},"type":{"type":"string","description":"Included in every device or module. It defines the type of the device/module. Its values are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4 : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n"},"udp_conn":{"type":"boolean"},"wifi_status":{"type":"integer","description":"It contains the current wifi status. The different thresholds to take into account are\nRSSI_THRESHOLD_0 = 86 bad signal\nRSSI_THRESHOLD_1 = 71 middle quality signal\nRSSI_THRESHOLD_2 = 56 good signal\n","format":"int32"}}},"NAPublicData":{"type":"object","properties":{"_id":{"type":"string","description":"id of the station","example":"70:ee:50:09:f0:xx"},"mark":{"type":"integer"},"measures":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/NAMeasure"}},"module_types":{"type":"object","additionalProperties":{"type":"string"},"description":"Latest measurements of the station, organized by module"},"modules":{"type":"array","items":{"type":"string"}},"place":{"$ref":"#/components/schemas/NAPlace"}}},"NAPublicDataResponse":{"type":"object","properties":{"body":{"type":"array","items":{"$ref":"#/components/schemas/NAPublicData"}},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NASetpoint":{"type":"object","properties":{"setpoint_endtime":{"type":"integer","format":"int32"},"setpoint_mode":{"type":"string"},"setpoint_temp":{"type":"number","format":"float"}}},"NASetpointLog":{"type":"object","properties":{"setpoint":{"$ref":"#/components/schemas/NASetpoint"},"timestamp":{"type":"integer","format":"int64"}}},"NASimpleAlgo":{"type":"object","properties":{"high_deadband":{"type":"integer","format":"int32"}}},"NAStation":{"type":"object","properties":{"lag_down":{"type":"integer","format":"int32"},"lag_up":{"type":"integer","format":"int32"},"off_overshoot":{"type":"number","format":"float"},"on_overshoot":{"type":"number","format":"float"},"pk":{"type":"integer","format":"int32"},"tau":{"type":"integer","format":"int32"}}},"NAStationDataBody":{"type":"object","properties":{"devices":{"type":"array","items":{"$ref":"#/components/schemas/NAMain"}},"user":{"$ref":"#/components/schemas/NAUser"}}},"NAStationDataResponse":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/NAStationDataBody"},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAStationModule":{"type":"object","properties":{"_id":{"type":"string"},"battery_percent":{"type":"integer","description":"It contains the current battery level in percentage.","format":"int32"},"battery_vp":{"type":"integer","description":"It contains the current battery status. The threshold depends on the kind of module, below is the list of the different threshold to take into account according the module type.\n\"Indoor module Battery range: 6000 ... 4200\" |\nINDOOR_BATTERY_LEVEL_FULL = 5640\nINDOOR_BATTERY_LEVEL_HIGH = 5280\nINDOOR_BATTERY_LEVEL_MEDIUM = 4920\nINDOOR_BATTERY_LEVEL_LOW = 4560\n\"Below 4560: very low\" |\n    \n\"Raingauge and outdoor module Battery range: 6000 ... 3600\" |\nBATTERY_LEVEL_FULL = 5500\nBATTERY_LEVEL_HIGH = 5000\nBATTERY_LEVEL_MEDIUM = 4500\nBATTERY_LEVEL_LOW = 4000\n\"Below 4000: very low\" |\n    \n\"Thermostat Battery range: 4500 ... 3000\" |\nTHERMOSTAT_BATTERY_LEVEL_FULL = 4100\nTHERMOSTAT_BATTERY_LEVEL_HIGH = 3600\nTHERMOSTAT_BATTERY_LEVEL_MEDIUM = 3300\nTHERMOSTAT_BATTERY_LEVEL_LOW = 3000\n\"Below 3000: very low\"\n","format":"int32"},"dashboard_data":{"$ref":"#/components/schemas/NADashboardData"},"data_type":{"type":"array","items":{"type":"string"}},"firmware":{"type":"integer","format":"int32"},"last_message":{"type":"integer","format":"int32"},"last_seen":{"type":"integer","format":"int32"},"last_setup":{"type":"integer","format":"int32"},"module_name":{"type":"string"},"reachable":{"type":"boolean","description":"true when the station was seen by the Netatmo cloud within the last 4 hours"},"rf_status":{"type":"integer","description":"\"It contains the current radio status. The different thresholds to take into account are :\" |\nRADIO_THRESHOLD_SIGNAL_LOW = 90 \nRADIO_THRESHOLD_SIGNAL_MEDIUM = 80\nRADIO_THRESHOLD_SIGNAL_HIGH = 70\nRADIO_THRESHOLD_SIGNAL_FULL = 60\n","format":"int32"},"type":{"type":"string","description":"Included in every device or module. It defines the type of the device/module. Its values are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4 : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n"}}},"NAThermMeasure":{"type":"object","properties":{"setpoint_temp":{"type":"number","format":"float"},"temperature":{"type":"number","format":"float"},"time":{"type":"integer","format":"int32"}}},"NAThermProgram":{"type":"object","properties":{"name":{"type":"string"},"program_id":{"type":"string"},"selected":{"type":"boolean"},"timetable":{"type":"array","items":{"$ref":"#/components/schemas/NATimeTableItem"}},"zones":{"type":"array","items":{"$ref":"#/components/schemas/NAZone"}}}},"NAThermStateBody":{"type":"object","properties":{"battery_percent":{"type":"integer","description":"It contains the current battery level in percentage.","format":"int32"},"battery_vp":{"type":"integer","format":"int32"},"last_plug_seen":{"type":"integer","format":"int32"},"last_therm_seen":{"type":"integer","format":"int32"},"measured":{"$ref":"#/components/schemas/NAThermMeasure"},"plug_connected_boiler":{"type":"integer","format":"int32"},"rf_status":{"type":"integer","format":"int32"},"setpoint":{"$ref":"#/components/schemas/NASetpoint"},"setpoint_order":{"$ref":"#/components/schemas/NASetpoint"},"therm_orientation":{"type":"integer","format":"int32"},"therm_program":{"$ref":"#/components/schemas/NAThermProgram"},"therm_program_backup":{"type":"array","items":{"$ref":"#/components/schemas/NAThermProgram"}},"therm_program_order":{"$ref":"#/components/schemas/NAThermProgram"},"therm_relay_cmd":{"type":"integer","format":"int32"},"udp_conn":{"type":"boolean"},"wifi_status":{"type":"integer","format":"int32"}}},"NAThermStateResponse":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/NAThermStateBody"},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAThermostat":{"type":"object","properties":{"_id":{"type":"string"},"battery_percent":{"type":"integer","description":"It contains the current battery level in percentage.","format":"int32"},"battery_vp":{"type":"integer","description":"It contains the current battery status. The threshold depends on the kind of module, below is the list of the different threshold to take into account according the module type.\n\"Indoor module Battery range: 6000 ... 4200\" |\nINDOOR_BATTERY_LEVEL_FULL = 5640\nINDOOR_BATTERY_LEVEL_HIGH = 5280\nINDOOR_BATTERY_LEVEL_MEDIUM = 4920\nINDOOR_BATTERY_LEVEL_LOW = 4560\n\"Below 4560: very low\" |\n    \n\"Raingauge and outdoor module Battery range: 6000 ... 3600\" |\nBATTERY_LEVEL_FULL = 5500\nBATTERY_LEVEL_HIGH = 5000\nBATTERY_LEVEL_MEDIUM = 4500\nBATTERY_LEVEL_LOW = 4000\n\"Below 4000: very low\" |\n    \n\"Thermostat Battery range: 4500 ... 3000\" |\nTHERMOSTAT_BATTERY_LEVEL_FULL = 4100\nTHERMOSTAT_BATTERY_LEVEL_HIGH = 3600\nTHERMOSTAT_BATTERY_LEVEL_MEDIUM = 3300\nTHERMOSTAT_BATTERY_LEVEL_LOW = 3000\n\"Below 3000: very low\"\n","format":"int32"},"firmware":{"type":"integer","format":"int32"},"last_message":{"type":"integer","format":"int32"},"last_therm_seen":{"type":"integer","format":"int32"},"measured":{"$ref":"#/components/schemas/NAThermMeasure"},"module_name":{"type":"string"},"rf_status":{"type":"integer","description":"\"It contains the current radio status. The different thresholds to take into account are :\" |\nRADIO_THRESHOLD_SIGNAL_LOW = 90 \nRADIO_THRESHOLD_SIGNAL_MEDIUM = 80\nRADIO_THRESHOLD_SIGNAL_HIGH = 70\nRADIO_THRESHOLD_SIGNAL_FULL = 60\n","format":"int32"},"setpoint":{"$ref":"#/components/schemas/NASetpoint"},"setpoint_history":{"type":"array","description":"The last 20 setpoints (mode, endtime, and timestamp) the thermostats has entered.","items":{"$ref":"#/components/schemas/NASetpointLog"}},"setpoint_order":{"$ref":"#/components/schemas/NASetpoint"},"therm_orientation":{"type":"integer","format":"int32"},"therm_program_list":{"type":"array","description":"List of the weekly heating planning used by the thermostat","items":{"$ref":"#/components/schemas/NAThermProgram"}},"therm_relay_cmd":{"type":"integer","format":"int32"},"type":{"type":"string","description":"Included in every device or module. It defines the type of the device/module. Its values are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4 : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n"}}},"NAThermostatDataBody":{"type":"object","properties":{"devices":{"type":"array","items":{"$ref":"#/components/schemas/NAPlug"}},"user":{"$ref":"#/components/schemas/NAUser"}}},"NAThermostatDataResponse":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/NAThermostatDataBody"},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NATimeTableItem":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"m_offset":{"type":"integer","format":"int32"}}},"NAUser":{"type":"object","properties":{"_id":{"type":"string"},"administrative":{"$ref":"#/components/schemas/NAUserAdministrative"},"date_creation":{"$ref":"#/components/schemas/NADate"},"devices":{"type":"array","description":"An array of string containing the ids of the devices owned by the user","items":{"type":"string"}},"friend_devices":{"type":"array","description":"An array of string containing the ids of the devices on which the user has a \"guest\" access\n","items":{"type":"string"}},"mail":{"type":"string"},"timeline_not_read":{"type":"integer","format":"int32"},"timeline_size":{"type":"integer","format":"int32"}}},"NAUserAdministrative":{"type":"object","properties":{"country":{"type":"string","description":"user country"},"feel_like_algo":{"type":"string","description":"algorithm used to compute feel like temperature, 0 -> humidex, 1 -> heat-index"},"lang":{"type":"string","description":"user locale"},"pressureunit":{"type":"string","description":"0 -> mbar, 1 -> inHg, 2 -> mmHg"},"reg_locale":{"type":"string","description":"user regional preferences (used for displaying date)"},"unit":{"type":"string","description":"0 -> metric system, 1 -> imperial system"},"windunit":{"type":"string","description":"0 -> kph, 1 -> mph, 2 -> ms, 3 -> beaufort, 4 -> knot"}}},"NAUserResponse":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/NAUser"},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAWelcomeCamera":{"type":"object","properties":{"alim_status":{"type":"string","description":"If power supply is ok (on/off)"},"id":{"type":"string","description":"Id of the camera"},"is_local":{"type":"boolean","description":"Only for scope access_camera. If Camera and application requesting the information are on the same IP (true/false)"},"light_mode_status":{"type":"string","description":"State of (flood-)light","enum":["on","off","auto"]},"name":{"type":"string","description":"Name of the camera"},"sd_status":{"type":"string","description":"If SD card status is ok (on/off)"},"status":{"type":"string","description":"If camera is monitoring (on/off)"},"type":{"type":"string","description":"Type of the camera"},"vpn_url":{"type":"string","description":"Only for scope access_camera. Address of the camera"}}},"NAWelcomeEvent":{"type":"object","properties":{"camera_id":{"type":"string","description":"Camera that detected the event"},"category":{"type":"string","description":"Type of the detected object.","enum":["human","animal","vehicle"]},"event_list":{"type":"array","items":{"$ref":"#/components/schemas/NAWelcomeSubEvent"}},"id":{"type":"string","description":"Identifier of the event"},"is_arrival":{"type":"boolean","description":"If person was considered away before being seen during this event"},"message":{"type":"string","description":"User facing event description"},"person_id":{"type":"string","description":"Id of the person the event is about (if any)"},"snapshot":{"$ref":"#/components/schemas/NAWelcomeSnapshot"},"sub_type":{"type":"integer","description":"Subtypes of SD and Alim events. Go to Welcome page for further details.","format":"int32"},"time":{"type":"integer","description":"Time of occurence of event","format":"int32"},"type":{"type":"string","description":"Type of events. Go to the Welcome page for further details."},"video_id":{"type":"string","description":"Identifier of the video"},"video_status":{"type":"string","description":"Status of the video (recording, deleted or available)"}}},"NAWelcomeEventData":{"type":"object","properties":{"events_list":{"type":"array","items":{"$ref":"#/components/schemas/NAWelcomeEvent"}}}},"NAWelcomeEventResponse":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/NAWelcomeEventData"},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAWelcomeFace":{"type":"object","properties":{"id":{"type":"string","description":"Id of the face."},"key":{"type":"string","description":"Key for this face to use in getcamerapicture."},"version":{"type":"integer","description":"Version of the face if user changed their photo.","format":"int32"}}},"NAWelcomeGlobalInfo":{"type":"object","properties":{"show_tags":{"type":"boolean","description":"show tags"}}},"NAWelcomeHome":{"type":"object","properties":{"cameras":{"type":"array","items":{"$ref":"#/components/schemas/NAWelcomeCamera"}},"events":{"type":"array","items":{"$ref":"#/components/schemas/NAWelcomeEvent"}},"id":{"type":"string","description":"Id of the home."},"modules":{"type":"array","items":{"$ref":"#/components/schemas/NAWelcomeModule"}},"name":{"type":"string","description":"Name of the home"},"persons":{"type":"array","items":{"$ref":"#/components/schemas/NAWelcomePerson"}},"place":{"$ref":"#/components/schemas/NAWelcomePlace"}}},"NAWelcomeHomeData":{"type":"object","properties":{"global_info":{"$ref":"#/components/schemas/NAWelcomeGlobalInfo"},"homes":{"type":"array","items":{"$ref":"#/components/schemas/NAWelcomeHome"}},"user":{"$ref":"#/components/schemas/NAWelcomeUser"}}},"NAWelcomeHomeDataResponse":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/NAWelcomeHomeData"},"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAWelcomeModule":{"type":"object","properties":{"battery_percent":{"type":"integer","description":"remaining battery percentage","format":"int32"},"id":{"type":"string","description":"mac address of the module"},"last_activity":{"type":"integer","description":"Timestamp of last move detected by the module","format":"int32"},"name":{"type":"string","description":"name of the module (given by the user)"},"rf":{"type":"string","description":"Radio status"},"status":{"type":"string","description":"status of the module"},"type":{"type":"string","description":"NACamDoorTag for tags"}}},"NAWelcomePerson":{"type":"object","properties":{"face":{"$ref":"#/components/schemas/NAWelcomeFace"},"id":{"type":"string","description":"Id of the person."},"last_seen":{"type":"integer","description":"Time at which the person was last seen.","format":"int32"},"out_of_sight":{"type":"boolean","description":"True if the Person is out of sight."},"pseudo":{"type":"string","description":"Name of the person, if pseudo is missing, person is unknown."}}},"NAWelcomePersonsAwayResponse":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAWelcomePersonsHomeResponse":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"},"time_server":{"type":"integer","format":"int32"}}},"NAWelcomePlace":{"type":"object","properties":{"city":{"type":"string","description":"City of the home."},"country":{"type":"string","description":"Country of the home."},"timezone":{"type":"string","description":"Timezone of the home."}}},"NAWelcomeSnapshot":{"type":"object","properties":{"id":{"type":"string","description":"Id of the snapshot."},"key":{"type":"string","description":"Key for this snapshot."},"version":{"type":"integer","description":"Version of the snapshot.","format":"int32"}}},"NAWelcomeSubEvent":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the sub event"},"message":{"type":"string","description":"User facing sub event description"},"offset":{"type":"integer","format":"int32"},"snapshot":{"$ref":"#/components/schemas/NAWelcomeSnapshot"},"time":{"type":"integer","description":"Time of occurence of the sub event","format":"int32"},"type":{"type":"string","description":"Type of the detected object.","enum":["human","animal","vehicle"]}}},"NAWelcomeUser":{"type":"object","properties":{"lang":{"type":"string","description":"user locale"},"reg_locale":{"type":"string","description":"user regional preferences (used for displaying date)"}}},"NAWelcomeWebhookResponse":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"time_exec":{"type":"number","format":"double"}}},"NAYearMonth":{"type":"object","properties":{"m":{"type":"integer","format":"int32"},"y":{"type":"integer","format":"int32"}}},"NAZone":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"temp":{"type":"number","format":"float"},"type":{"type":"integer","format":"int32"}}}},"securitySchemes":{"code_oauth":{"type":"oauth2"},"password_oauth":{"type":"oauth2"}}}}