{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Mixed Reality",
    "description" : "Mixed Reality Resource Provider Spatial Anchors Resource API",
    "version" : "2019-12-02-preview"
  },
  "servers" : [ {
    "url" : "https://management.azure.com/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/spatialAnchorsAccounts" : {
      "get" : {
        "tags" : [ "Resource", "Proxy" ],
        "description" : "List Spatial Anchors Accounts by Subscription",
        "operationId" : "SpatialAnchorsAccounts_ListBySubscription",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SpatialAnchorsAccountPage"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "code", "message" ],
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "String that can be used to programmatically identify the error."
                    },
                    "details" : {
                      "type" : "string",
                      "description" : "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Describes the error in detail and provides debugging information"
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "The target of the particular error"
                    }
                  },
                  "description" : "Response on Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts" : {
      "get" : {
        "tags" : [ "Resource" ],
        "description" : "List Resources by Resource Group",
        "operationId" : "SpatialAnchorsAccounts_ListByResourceGroup",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SpatialAnchorsAccountPage"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "code", "message" ],
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "String that can be used to programmatically identify the error."
                    },
                    "details" : {
                      "type" : "string",
                      "description" : "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Describes the error in detail and provides debugging information"
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "The target of the particular error"
                    }
                  },
                  "description" : "Response on Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{accountName}" : {
      "get" : {
        "tags" : [ "Resource" ],
        "description" : "Retrieve a Spatial Anchors Account.",
        "operationId" : "SpatialAnchorsAccounts_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "Name of an Mixed Reality Account.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SpatialAnchorsAccount"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "code", "message" ],
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "String that can be used to programmatically identify the error."
                    },
                    "details" : {
                      "type" : "string",
                      "description" : "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Describes the error in detail and provides debugging information"
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "The target of the particular error"
                    }
                  },
                  "description" : "Response on Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Resource" ],
        "description" : "Creating or Updating a Spatial Anchors Account.",
        "operationId" : "SpatialAnchorsAccounts_Create",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "Name of an Mixed Reality Account.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Spatial Anchors Account parameter.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SpatialAnchorsAccount"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SpatialAnchorsAccount"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SpatialAnchorsAccount"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "code", "message" ],
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "String that can be used to programmatically identify the error."
                    },
                    "details" : {
                      "type" : "string",
                      "description" : "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Describes the error in detail and provides debugging information"
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "The target of the particular error"
                    }
                  },
                  "description" : "Response on Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Resource" ],
        "description" : "Delete a Spatial Anchors Account.",
        "operationId" : "SpatialAnchorsAccounts_Delete",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "Name of an Mixed Reality Account.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "204" : {
            "description" : "NoContent"
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "code", "message" ],
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "String that can be used to programmatically identify the error."
                    },
                    "details" : {
                      "type" : "string",
                      "description" : "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Describes the error in detail and provides debugging information"
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "The target of the particular error"
                    }
                  },
                  "description" : "Response on Error"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Resource" ],
        "description" : "Updating a Spatial Anchors Account",
        "operationId" : "SpatialAnchorsAccounts_Update",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "Name of an Mixed Reality Account.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Spatial Anchors Account parameter.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SpatialAnchorsAccount"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SpatialAnchorsAccount"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "code", "message" ],
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "String that can be used to programmatically identify the error."
                    },
                    "details" : {
                      "type" : "string",
                      "description" : "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Describes the error in detail and provides debugging information"
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "The target of the particular error"
                    }
                  },
                  "description" : "Response on Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{accountName}/keys" : {
      "get" : {
        "tags" : [ "Key" ],
        "description" : "Get Both of the 2 Keys of a Spatial Anchors Account",
        "operationId" : "SpatialAnchorsAccounts_GetKeys",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "Name of an Mixed Reality Account.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "primaryKey" : {
                      "type" : "string",
                      "description" : "value of primary key.",
                      "readOnly" : true
                    },
                    "secondaryKey" : {
                      "type" : "string",
                      "description" : "value of secondary key.",
                      "readOnly" : true
                    }
                  },
                  "description" : "Developer Keys of account"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "code", "message" ],
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "String that can be used to programmatically identify the error."
                    },
                    "details" : {
                      "type" : "string",
                      "description" : "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Describes the error in detail and provides debugging information"
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "The target of the particular error"
                    }
                  },
                  "description" : "Response on Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Key" ],
        "description" : "Regenerate specified Key of a Spatial Anchors Account",
        "operationId" : "SpatialAnchorsAccounts_RegenerateKeys",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Azure subscription ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of an Azure resource group.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "accountName",
          "in" : "path",
          "description" : "Name of an Mixed Reality Account.",
          "required" : true,
          "schema" : {
            "maxLength" : 90,
            "minLength" : 1,
            "pattern" : "^[-\\w\\._\\(\\)]+$",
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Version of the API to be used with the client request.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Required information for key regeneration.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "serial" : {
                    "type" : "integer",
                    "description" : "serial of key to be regenerated"
                  }
                },
                "description" : "Request for account key regeneration"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "primaryKey" : {
                      "type" : "string",
                      "description" : "value of primary key.",
                      "readOnly" : true
                    },
                    "secondaryKey" : {
                      "type" : "string",
                      "description" : "value of secondary key.",
                      "readOnly" : true
                    }
                  },
                  "description" : "Developer Keys of account"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response describing why the operation failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "code", "message" ],
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "string",
                      "description" : "String that can be used to programmatically identify the error."
                    },
                    "details" : {
                      "type" : "string",
                      "description" : "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Describes the error in detail and provides debugging information"
                    },
                    "target" : {
                      "type" : "string",
                      "description" : "The target of the particular error"
                    }
                  },
                  "description" : "Response on Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "SpatialAnchorsAccount" : {
        "properties" : {
          "properties" : {
            "type" : "object",
            "properties" : {
              "accountDomain" : {
                "type" : "string",
                "description" : "Correspond domain name of certain Spatial Anchors Account",
                "readOnly" : true
              },
              "accountId" : {
                "type" : "string",
                "description" : "unique id of certain account.",
                "readOnly" : true
              }
            },
            "description" : "Common Properties shared by Mixed Reality Accounts"
          }
        },
        "description" : "SpatialAnchorsAccount Response.",
        "allOf" : [ {
          "properties" : {
            "location" : {
              "type" : "string",
              "description" : "The geo-location where the resource lives"
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "Resource tags."
            }
          },
          "description" : "The resource model definition for a ARM tracked top level resource",
          "allOf" : [ {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                "readOnly" : true
              },
              "name" : {
                "type" : "string",
                "description" : "The name of the resource",
                "readOnly" : true
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                "readOnly" : true
              }
            }
          } ]
        } ]
      },
      "SpatialAnchorsAccountPage" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URL to get the next set of resource list results if there are any."
          },
          "value" : {
            "type" : "array",
            "description" : "List of resources supported by the Resource Provider.",
            "items" : {
              "$ref" : "#/components/schemas/SpatialAnchorsAccount"
            }
          }
        },
        "description" : "Result of the request to get resource collection. It contains a list of resources and a URL link to get the next set of results."
      }
    },
    "requestBodies" : {
      "spatialAnchorsAccountParameter" : {
        "description" : "Spatial Anchors Account parameter.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/SpatialAnchorsAccount"
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Azure Active Directory OAuth2 Flow"
      }
    }
  }
}