{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "FabricAdminClient",
    "description" : "MAC address pool operation endpoints and objects.",
    "version" : "2016-05-01"
  },
  "servers" : [ {
    "url" : "https://adminmanagement.local.azurestack.external/"
  } ],
  "security" : [ {
    "azure_auth" : [ "user_impersonation" ]
  } ],
  "paths" : {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/macAddressPools" : {
      "get" : {
        "tags" : [ "MacAddressPools" ],
        "description" : "Returns a list of all MAC address pools at a location.",
        "operationId" : "MacAddressPools_List",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "OData filter parameter.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MacAddressPoolList"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/macAddressPools/{macAddressPool}" : {
      "get" : {
        "tags" : [ "MacAddressPools" ],
        "description" : "Returns the requested MAC address pool.",
        "operationId" : "MacAddressPools_Get",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "path",
          "description" : "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceGroupName",
          "in" : "path",
          "description" : "Name of the resource group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "path",
          "description" : "Location of the resource.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "macAddressPool",
          "in" : "path",
          "description" : "Name of the MAC address pool.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api-version",
          "in" : "query",
          "description" : "Client API Version.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "2016-05-01"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MacAddressPool"
                }
              }
            }
          },
          "404" : {
            "description" : "NOT FOUND"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "MacAddressPool" : {
        "properties" : {
          "properties" : {
            "$ref" : "#/components/schemas/MacAddressPoolModel"
          }
        },
        "description" : "This resource represents a MAC address pool.  The default MAC address pools are used if you set the MAC address type for a virtual machine to 'Static'.  If the virtual machine setting is 'Dynamic', the hypervisor assigns the MAC address.",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "URI of the resource.",
              "readOnly" : true
            },
            "location" : {
              "type" : "string",
              "description" : "The region where the resource is located."
            },
            "name" : {
              "type" : "string",
              "description" : "Name of the resource.",
              "readOnly" : true
            },
            "tags" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "string"
              },
              "description" : "List of key-value pairs."
            },
            "type" : {
              "type" : "string",
              "description" : "Type of resource.",
              "readOnly" : true
            }
          },
          "description" : "Base resource object."
        } ]
      },
      "MacAddressPoolList" : {
        "type" : "object",
        "properties" : {
          "nextLink" : {
            "type" : "string",
            "description" : "URI to the next page."
          },
          "value" : {
            "type" : "array",
            "description" : "List of MAC address pools.",
            "items" : {
              "$ref" : "#/components/schemas/MacAddressPool"
            }
          }
        },
        "description" : "A pageable list of MAC address pools."
      },
      "MacAddressPoolModel" : {
        "type" : "object",
        "properties" : {
          "endMacAddress" : {
            "type" : "string",
            "description" : "Ending MAC address."
          },
          "metadata" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Metadata related to the MAC pool."
          },
          "numberOfAllocatedMacAddresses" : {
            "type" : "integer",
            "description" : "Number of MAC addresses allocated.",
            "format" : "int64"
          },
          "numberOfAvailableMacAddresses" : {
            "type" : "integer",
            "description" : "Number of MAC addresses available.",
            "format" : "int64"
          },
          "startMacAddress" : {
            "type" : "string",
            "description" : "Starting MAC address."
          }
        },
        "description" : "Properties of a MAC address pool."
      }
    },
    "parameters" : {
      "MACAddressPoolParameter" : {
        "name" : "macAddressPool",
        "in" : "path",
        "description" : "Name of the MAC address pool.",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "azure_auth" : {
        "type" : "oauth2",
        "description" : "Authorization uses an Azure Active Directory OAuth2 flow."
      }
    }
  }
}