{"openapi":"3.0.1","info":{"title":"ContainerInstanceManagementClient","version":"2018-10-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.ContainerInstance/operations":{"get":{"tags":["Operations"],"description":"List the operations for Azure Container Instance service.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/containerGroups":{"get":{"summary":"Get a list of container groups in the specified subscription.","description":"Get a list of container groups in the specified subscription. This operation returns properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.","operationId":"ContainerGroups_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerGroupListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/cachedImages":{"get":{"summary":"Get the list of cached images.","description":"Get the list of cached images on specific OS type for a subscription in a region.","operationId":"ListCachedImages","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The identifier for the physical azure location.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CachedImagesListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/capabilities":{"get":{"summary":"Get the list of capabilities of the location.","description":"Get the list of CPU/memory/GPU capabilities of a region.","operationId":"ListCapabilities","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The identifier for the physical azure location.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CapabilitiesListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/usages":{"get":{"description":"Get the usage for a subscription","operationId":"ContainerGroupUsage_List","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","description":"The identifier for the physical azure location.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups":{"get":{"summary":"Get a list of container groups in the specified subscription and resource group.","description":"Get a list of container groups in a specified subscription and resource group. This operation returns properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.","operationId":"ContainerGroups_ListByResourceGroup","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerGroupListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}":{"get":{"summary":"Get the properties of the specified container group.","description":"Gets the properties of the specified container group in the specified subscription and resource group. The operation returns the properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.","operationId":"ContainerGroups_Get","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerGroupName","in":"path","description":"The name of the container group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerGroup"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"put":{"summary":"Create or update container groups.","description":"Create or update container groups with specified configurations.","operationId":"ContainerGroups_CreateOrUpdate","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerGroupName","in":"path","description":"The name of the container group.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The properties of the container group to be created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerGroup"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerGroup"}}}},"201":{"description":"Created - the container group is created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerGroup"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"delete":{"summary":"Delete the specified container group.","description":"Delete the specified container group in the specified subscription and resource group. The operation does not delete other resources provided by the user, such as volumes.","operationId":"ContainerGroups_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerGroupName","in":"path","description":"The name of the container group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerGroup"}}}},"204":{"description":"No Content - the specified container group was not found."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}},"patch":{"summary":"Update container groups.","description":"Updates container group tags with specified values.","operationId":"ContainerGroups_Update","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerGroupName","in":"path","description":"The name of the container group.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The container group resource with just the tags to be updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Resource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerGroup"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/exec":{"post":{"summary":"Executes a command in a specific container instance.","description":"Executes a command for a specific container instance in a specified resource group and container group.","operationId":"Container_ExecuteCommand","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerGroupName","in":"path","description":"The name of the container group.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The name of the container instance.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The request for the exec command.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerExecRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerExecResponse"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/logs":{"get":{"summary":"Get the logs for a specified container instance.","description":"Get the logs for a specified container instance in a specified resource group and container group.","operationId":"Container_ListLogs","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerGroupName","in":"path","description":"The name of the container group.","required":true,"schema":{"type":"string"}},{"name":"containerName","in":"path","description":"The name of the container instance.","required":true,"schema":{"type":"string"}},{"name":"tail","in":"query","description":"The number of lines to show from the tail of the container instance log. If not provided, all available logs are shown up to 4mb.","schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Logs"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/restart":{"post":{"summary":"Restarts all containers in a container group.","description":"Restarts all containers in a container group in place. If container image has updates, new image will be downloaded.","operationId":"ContainerGroups_Restart","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerGroupName","in":"path","description":"The name of the container group.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"NoContent"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/start":{"post":{"summary":"Starts all containers in a container group.","description":"Starts all containers in a container group.","operationId":"ContainerGroups_Start","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerGroupName","in":"path","description":"The name of the container group.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"NoContent"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/stop":{"post":{"summary":"Stops all containers in a container group.","description":"Stops all containers in a container group. Compute resources will be deallocated and billing will stop.","operationId":"ContainerGroups_Stop","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"containerGroupName","in":"path","description":"The name of the container group.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"NoContent"},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}/providers/Microsoft.ContainerInstance/serviceAssociationLinks/default":{"delete":{"summary":"Delete the container instance service association link for the subnet.","description":"Delete the container instance service association link for the subnet. This operation unblocks user from deleting subnet.","operationId":"ServiceAssociationLink_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"virtualNetworkName","in":"path","description":"The name of the virtual network.","required":true,"schema":{"type":"string"}},{"name":"subnetName","in":"path","description":"The name of the subnet.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content - the specified service association link was not found."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudError"}}}}}}}},"components":{"schemas":{"AzureFileVolume":{"required":["shareName","storageAccountName"],"type":"object","properties":{"readOnly":{"type":"boolean","description":"The flag indicating whether the Azure File shared mounted as a volume is read-only."},"shareName":{"type":"string","description":"The name of the Azure File share to be mounted as a volume."},"storageAccountKey":{"type":"string","description":"The storage account access key used to access the Azure File share."},"storageAccountName":{"type":"string","description":"The name of the storage account that contains the Azure File share."}},"description":"The properties of the Azure File volume. Azure File shares are mounted as volumes."},"CachedImagesListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of cached images."},"value":{"type":"array","description":"The list of cached images.","items":{"$ref":"#/components/schemas/cachedImages"}}},"description":"The response containing cached images."},"Capabilities":{"type":"object","properties":{"capabilities":{"type":"object","properties":{"maxCpu":{"type":"number","description":"The maximum allowed CPU request in cores.","readOnly":true},"maxGpuCount":{"type":"number","description":"The maximum allowed GPU count.","readOnly":true},"maxMemoryInGB":{"type":"number","description":"The maximum allowed memory request in GB.","readOnly":true}},"description":"The supported capabilities.","readOnly":true},"gpu":{"type":"string","description":"The GPU sku that this capability describes.","readOnly":true},"ipAddressType":{"type":"string","description":"The ip address type that this capability describes.","readOnly":true},"location":{"type":"string","description":"The resource location.","readOnly":true},"osType":{"type":"string","description":"The OS type that this capability describes.","readOnly":true},"resourceType":{"type":"string","description":"The resource type that this capability describes.","readOnly":true}},"description":"The regional capabilities."},"CapabilitiesListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of capabilities."},"value":{"type":"array","description":"The list of capabilities.","items":{"$ref":"#/components/schemas/Capabilities"}}},"description":"The response containing list of capabilities."},"CloudError":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/CloudErrorBody"}},"description":"An error response from the Batch service."},"CloudErrorBody":{"type":"object","properties":{"code":{"type":"string","description":"An identifier for the error. Codes are invariant and are intended to be consumed programmatically."},"details":{"type":"array","description":"A list of additional details about the error.","items":{"$ref":"#/components/schemas/CloudErrorBody"}},"message":{"type":"string","description":"A message describing the error, intended to be suitable for display in a user interface."},"target":{"type":"string","description":"The target of the particular error. For example, the name of the property in error."}},"description":"An error response from the Batch service."},"Container":{"required":["name","properties"],"type":"object","properties":{"name":{"type":"string","description":"The user-provided name of the container instance."},"properties":{"$ref":"#/components/schemas/ContainerProperties"}},"description":"A container instance."},"ContainerExec":{"type":"object","properties":{"command":{"type":"array","description":"The commands to execute within the container.","items":{"type":"string"}}},"description":"The container execution command, for liveness or readiness probe"},"ContainerExecRequest":{"type":"object","properties":{"command":{"type":"string","description":"The command to be executed."},"terminalSize":{"type":"object","properties":{"cols":{"type":"integer","description":"The column size of the terminal"},"rows":{"type":"integer","description":"The row size of the terminal"}},"description":"The size of the terminal."}},"description":"The container exec request."},"ContainerExecResponse":{"type":"object","properties":{"password":{"type":"string","description":"The password to start the exec command."},"webSocketUri":{"type":"string","description":"The uri for the exec websocket."}},"description":"The information for the container exec command."},"ContainerGroup":{"description":"A container group.","allOf":[{"$ref":"#/components/schemas/Resource"},{"required":["properties"],"type":"object","properties":{"identity":{"$ref":"#/components/schemas/ContainerGroupIdentity"},"properties":{"required":["containers","osType"],"type":"object","properties":{"containers":{"type":"array","description":"The containers within the container group.","items":{"$ref":"#/components/schemas/Container"}},"diagnostics":{"$ref":"#/components/schemas/ContainerGroupDiagnostics"},"dnsConfig":{"$ref":"#/components/schemas/DnsConfiguration"},"imageRegistryCredentials":{"type":"array","description":"The image registry credentials by which the container group is created from.","items":{"$ref":"#/components/schemas/ImageRegistryCredential"}},"instanceView":{"type":"object","properties":{"events":{"type":"array","description":"The events of this container group.","readOnly":true,"items":{"$ref":"#/components/schemas/Event"}},"state":{"type":"string","description":"The state of the container group. Only valid in response.","readOnly":true}},"description":"The instance view of the container group. Only valid in response.","readOnly":true},"ipAddress":{"$ref":"#/components/schemas/IpAddress"},"networkProfile":{"$ref":"#/components/schemas/ContainerGroupNetworkProfile"},"osType":{"type":"string","description":"The operating system type required by the containers in the container group.","enum":["Windows","Linux"]},"provisioningState":{"type":"string","description":"The provisioning state of the container group. This only appears in the response.","readOnly":true},"restartPolicy":{"type":"string","description":"Restart policy for all containers within the container group. \n- `Always` Always restart\n- `OnFailure` Restart on failure\n- `Never` Never restart\n","enum":["Always","OnFailure","Never"]},"volumes":{"type":"array","description":"The list of volumes that can be mounted by containers in this container group.","items":{"$ref":"#/components/schemas/Volume"}}}}}}]},"ContainerGroupDiagnostics":{"type":"object","properties":{"logAnalytics":{"$ref":"#/components/schemas/LogAnalytics"}},"description":"Container group diagnostic information."},"ContainerGroupIdentity":{"type":"object","properties":{"principalId":{"type":"string","description":"The principal id of the container group identity. This property will only be provided for a system assigned identity.","readOnly":true},"tenantId":{"type":"string","description":"The tenant id associated with the container group. This property will only be provided for a system assigned identity.","readOnly":true},"type":{"type":"string","description":"The type of identity used for the container group. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the container group.","enum":["SystemAssigned","UserAssigned","SystemAssigned, UserAssigned","None"]},"userAssignedIdentities":{"type":"object","additionalProperties":{"type":"object","properties":{"clientId":{"type":"string","description":"The client id of user assigned identity.","readOnly":true},"principalId":{"type":"string","description":"The principal id of user assigned identity.","readOnly":true}}},"description":"The list of user identities associated with the container group. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."}},"description":"Identity for the container group."},"ContainerGroupListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of container groups."},"value":{"type":"array","description":"The list of container groups.","items":{"$ref":"#/components/schemas/ContainerGroup"}}},"description":"The container group list response that contains the container group properties."},"ContainerGroupNetworkProfile":{"required":["id"],"type":"object","properties":{"id":{"type":"string","description":"The identifier for a network profile."}},"description":"Container group network profile information."},"ContainerHttpGet":{"required":["port"],"type":"object","properties":{"path":{"type":"string","description":"The path to probe."},"port":{"type":"integer","description":"The port number to probe.","format":"int32"},"scheme":{"type":"string","description":"The scheme.","enum":["http","https"]}},"description":"The container Http Get settings, for liveness or readiness probe"},"ContainerPort":{"required":["port"],"type":"object","properties":{"port":{"type":"integer","description":"The port number exposed within the container group.","format":"int32"},"protocol":{"type":"string","description":"The protocol associated with the port.","enum":["TCP","UDP"]}},"description":"The port exposed on the container instance."},"ContainerProbe":{"type":"object","properties":{"exec":{"$ref":"#/components/schemas/ContainerExec"},"failureThreshold":{"type":"integer","description":"The failure threshold.","format":"int32"},"httpGet":{"$ref":"#/components/schemas/ContainerHttpGet"},"initialDelaySeconds":{"type":"integer","description":"The initial delay seconds.","format":"int32"},"periodSeconds":{"type":"integer","description":"The period seconds.","format":"int32"},"successThreshold":{"type":"integer","description":"The success threshold.","format":"int32"},"timeoutSeconds":{"type":"integer","description":"The timeout seconds.","format":"int32"}},"description":"The container probe, for liveness or readiness"},"ContainerProperties":{"required":["image","resources"],"type":"object","properties":{"command":{"type":"array","description":"The commands to execute within the container instance in exec form.","items":{"type":"string"}},"environmentVariables":{"type":"array","description":"The environment variables to set in the container instance.","items":{"$ref":"#/components/schemas/EnvironmentVariable"}},"image":{"type":"string","description":"The name of the image used to create the container instance."},"instanceView":{"type":"object","properties":{"currentState":{"$ref":"#/components/schemas/ContainerState"},"events":{"type":"array","description":"The events of the container instance.","readOnly":true,"items":{"$ref":"#/components/schemas/Event"}},"previousState":{"$ref":"#/components/schemas/ContainerState"},"restartCount":{"type":"integer","description":"The number of times that the container instance has been restarted.","readOnly":true}},"description":"The instance view of the container instance. Only valid in response.","readOnly":true},"livenessProbe":{"$ref":"#/components/schemas/ContainerProbe"},"ports":{"type":"array","description":"The exposed ports on the container instance.","items":{"$ref":"#/components/schemas/ContainerPort"}},"readinessProbe":{"$ref":"#/components/schemas/ContainerProbe"},"resources":{"$ref":"#/components/schemas/ResourceRequirements"},"volumeMounts":{"type":"array","description":"The volume mounts available to the container instance.","items":{"$ref":"#/components/schemas/VolumeMount"}}},"description":"The container instance properties."},"ContainerState":{"type":"object","properties":{"detailStatus":{"type":"string","description":"The human-readable status of the container instance state."},"exitCode":{"type":"integer","description":"The container instance exit codes correspond to those from the `docker run` command."},"finishTime":{"type":"string","description":"The date-time when the container instance state finished.","format":"date-time"},"startTime":{"type":"string","description":"The date-time when the container instance state started.","format":"date-time"},"state":{"type":"string","description":"The state of the container instance."}},"description":"The container instance state."},"DnsConfiguration":{"required":["nameServers"],"type":"object","properties":{"nameServers":{"type":"array","description":"The DNS servers for the container group.","items":{"type":"string"}},"options":{"type":"string","description":"The DNS options for the container group."},"searchDomains":{"type":"string","description":"The DNS search domains for hostname lookup in the container group."}},"description":"DNS configuration for the container group."},"EmptyDirVolume":{"type":"object","description":"The empty directory volume."},"EnvironmentVariable":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the environment variable."},"secureValue":{"type":"string","description":"The value of the secure environment variable."},"value":{"type":"string","description":"The value of the environment variable."}},"description":"The environment variable to set within the container instance."},"Event":{"type":"object","properties":{"count":{"type":"integer","description":"The count of the event."},"firstTimestamp":{"type":"string","description":"The date-time of the earliest logged event.","format":"date-time"},"lastTimestamp":{"type":"string","description":"The date-time of the latest logged event.","format":"date-time"},"message":{"type":"string","description":"The event message."},"name":{"type":"string","description":"The event name."},"type":{"type":"string","description":"The event type."}},"description":"A container group or container instance event."},"GitRepoVolume":{"required":["repository"],"type":"object","properties":{"directory":{"type":"string","description":"Target directory name. Must not contain or start with '..'.  If '.' is supplied, the volume directory will be the git repository.  Otherwise, if specified, the volume will contain the git repository in the subdirectory with the given name."},"repository":{"type":"string","description":"Repository URL"},"revision":{"type":"string","description":"Commit hash for the specified revision."}},"description":"Represents a volume that is populated with the contents of a git repository"},"GpuResource":{"required":["count","sku"],"type":"object","properties":{"count":{"type":"integer","description":"The count of the GPU resource.","format":"int32"},"sku":{"type":"string","description":"The SKU of the GPU resource.","enum":["K80","P100","V100"]}},"description":"The GPU resource."},"ImageRegistryCredential":{"required":["server","username"],"type":"object","properties":{"password":{"type":"string","description":"The password for the private registry."},"server":{"type":"string","description":"The Docker image registry server without a protocol such as \"http\" and \"https\"."},"username":{"type":"string","description":"The username for the private registry."}},"description":"Image registry credential."},"IpAddress":{"required":["ports","type"],"type":"object","properties":{"dnsNameLabel":{"type":"string","description":"The Dns name label for the IP."},"fqdn":{"type":"string","description":"The FQDN for the IP.","readOnly":true},"ip":{"type":"string","description":"The IP exposed to the public internet."},"ports":{"type":"array","description":"The list of ports exposed on the container group.","items":{"$ref":"#/components/schemas/Port"}},"type":{"type":"string","description":"Specifies if the IP is exposed to the public internet or private VNET.","enum":["Public","Private"]}},"description":"IP address for the container group."},"LogAnalytics":{"required":["workspaceId","workspaceKey"],"type":"object","properties":{"logType":{"type":"string","description":"The log type to be used.","enum":["ContainerInsights","ContainerInstanceLogs"]},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Metadata for log analytics."},"workspaceId":{"type":"string","description":"The workspace id for log analytics"},"workspaceKey":{"type":"string","description":"The workspace key for log analytics"}},"description":"Container group log analytics information."},"Logs":{"type":"object","properties":{"content":{"type":"string","description":"The content of the log."}},"description":"The logs."},"Operation":{"required":["display","name"],"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"The description of the operation."},"operation":{"type":"string","description":"The friendly name of the operation."},"provider":{"type":"string","description":"The name of the provider of the operation."},"resource":{"type":"string","description":"The name of the resource type of the operation."}},"description":"The display information of the operation."},"name":{"type":"string","description":"The name of the operation."},"origin":{"type":"string","description":"The intended executor of the operation.","enum":["User","System"]},"properties":{"type":"object","description":"The additional properties."}},"description":"An operation for Azure Container Instance service."},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URI to fetch the next page of operations."},"value":{"type":"array","description":"The list of operations.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"The operation list response that contains all operations for Azure Container Instance service."},"Port":{"required":["port"],"type":"object","properties":{"port":{"type":"integer","description":"The port number.","format":"int32"},"protocol":{"type":"string","description":"The protocol associated with the port.","enum":["TCP","UDP"]}},"description":"The port exposed on the container group."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"The resource id.","readOnly":true},"location":{"type":"string","description":"The resource location."},"name":{"type":"string","description":"The resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The resource tags."},"type":{"type":"string","description":"The resource type.","readOnly":true}},"description":"The Resource model definition."},"ResourceLimits":{"type":"object","properties":{"cpu":{"type":"number","description":"The CPU limit of this container instance.","format":"double"},"gpu":{"$ref":"#/components/schemas/GpuResource"},"memoryInGB":{"type":"number","description":"The memory limit in GB of this container instance.","format":"double"}},"description":"The resource limits."},"ResourceRequests":{"required":["cpu","memoryInGB"],"type":"object","properties":{"cpu":{"type":"number","description":"The CPU request of this container instance.","format":"double"},"gpu":{"$ref":"#/components/schemas/GpuResource"},"memoryInGB":{"type":"number","description":"The memory request in GB of this container instance.","format":"double"}},"description":"The resource requests."},"ResourceRequirements":{"required":["requests"],"type":"object","properties":{"limits":{"$ref":"#/components/schemas/ResourceLimits"},"requests":{"$ref":"#/components/schemas/ResourceRequests"}},"description":"The resource requirements."},"SecretVolume":{"type":"object","additionalProperties":{"type":"string"},"description":"The secret volume."},"Usage":{"type":"object","properties":{"currentValue":{"type":"integer","description":"The current usage of the resource","readOnly":true},"limit":{"type":"integer","description":"The maximum permitted usage of the resource.","readOnly":true},"name":{"type":"object","properties":{"localizedValue":{"type":"string","description":"The localized name of the resource","readOnly":true},"value":{"type":"string","description":"The name of the resource","readOnly":true}},"description":"The name object of the resource","readOnly":true},"unit":{"type":"string","description":"Unit of the usage result","readOnly":true}},"description":"A single usage result"},"UsageListResult":{"type":"object","properties":{"value":{"type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/Usage"}}},"description":"The response containing the usage data"},"Volume":{"required":["name"],"type":"object","properties":{"azureFile":{"$ref":"#/components/schemas/AzureFileVolume"},"emptyDir":{"$ref":"#/components/schemas/EmptyDirVolume"},"gitRepo":{"$ref":"#/components/schemas/GitRepoVolume"},"name":{"type":"string","description":"The name of the volume."},"secret":{"$ref":"#/components/schemas/SecretVolume"}},"description":"The properties of the volume."},"VolumeMount":{"required":["mountPath","name"],"type":"object","properties":{"mountPath":{"type":"string","description":"The path within the container where the volume should be mounted. Must not contain colon (:)."},"name":{"type":"string","description":"The name of the volume mount."},"readOnly":{"type":"boolean","description":"The flag indicating whether the volume mount is read-only."}},"description":"The properties of the volume mount."},"cachedImages":{"required":["image","osType"],"type":"object","properties":{"id":{"type":"string","description":"The resource Id of the cached image."},"image":{"type":"string","description":"The cached image name."},"osType":{"type":"string","description":"The OS type of the cached image."}},"description":"The cached image and OS type."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"Client API version","required":true,"schema":{"type":"string"}},"ContainerGroupNameParameter":{"name":"containerGroupName","in":"path","description":"The name of the container group.","required":true,"schema":{"type":"string"}},"LocationParameter":{"name":"location","in":"path","description":"The identifier for the physical azure location.","required":true,"schema":{"type":"string"}},"OperationIdParameter":{"name":"operationId","in":"path","description":"The operation Id.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"SubnetNameParameter":{"name":"subnetName","in":"path","description":"The name of the subnet.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},"VirtualNetworkNameParameter":{"name":"virtualNetworkName","in":"path","description":"The name of the virtual network.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}