{"openapi":"3.0.1","info":{"title":"LetMC Api V2, Free (Tier 1)","version":"v2-free-tier"},"servers":[{"url":"https://live-api.letmc.com/"}],"paths":{"/v2/tier1/{shortName}/area/areas":{"get":{"tags":["AreaController"],"summary":"A collection of all the areas for a company","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreaModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/AreaModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AreaModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/AreaModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/area/areas/{areaID}":{"get":{"tags":["AreaController"],"summary":"Get a specific area given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"areaID","in":"path","description":"The unique ID of the Area","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreaModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/AreaModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AreaModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/AreaModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/branch/branches":{"get":{"tags":["BranchController"],"summary":"All branches defined for a company","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/BranchModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BranchModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/BranchModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/branch/branches/{branchID}":{"get":{"tags":["BranchController"],"summary":"Get a specific branch given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"branchID","in":"path","description":"The unique ID of the Branch","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/BranchModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BranchModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/BranchModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/company":{"get":{"tags":["CompanyController"],"summary":"Information about a specific company","operationId":"CompanyController_GetCompany","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/CompanyModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CompanyModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CompanyModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/county/counties":{"get":{"tags":["CountyController"],"summary":"A collection of all counties available for a company","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountyModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/CountyModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CountyModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CountyModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/county/counties/{countyID}":{"get":{"tags":["CountyController"],"summary":"Get a specific county given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"countyID","in":"path","description":"The unique ID of the County","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountyModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/CountyModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CountyModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/CountyModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/county/counties/{countyID}/branches":{"get":{"tags":["CountyController"],"summary":"A collection of branches that manage a specific county","operationId":"CountyController_GetCountiesBranches","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"countyID","in":"path","description":"The unique ID of the County","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/BranchModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BranchModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/BranchModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/diary/allocations":{"get":{"tags":["DiaryController"],"summary":"A collection of all diary allocations","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAllocationModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAllocationModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DiaryAllocationModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DiaryAllocationModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/diary/allocations/{diaryAllocationID}":{"get":{"tags":["DiaryController"],"summary":"Get a specific diary allocation given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"diaryAllocationID","in":"path","description":"The unique ID of the DiaryAllocation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAllocationModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAllocationModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DiaryAllocationModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DiaryAllocationModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/diary/appointments":{"get":{"tags":["DiaryController"],"summary":"A collection of all diary appointments","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/diary/appointments/{diaryAppointmentID}":{"get":{"tags":["DiaryController"],"summary":"Get a specific diary appointment given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"diaryAppointmentID","in":"path","description":"The unique ID of the DiaryAppointment","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/diary/appointmenttypes":{"get":{"tags":["DiaryController"],"summary":"A collection of all diary appointment types","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/diary/appointmenttypes/{diaryAppointmentTypeID}":{"get":{"tags":["DiaryController"],"summary":"Get a specific diary appointment type given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"diaryAppointmentTypeID","in":"path","description":"The unique ID of the DiaryAppointmentType","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/DiaryAppointmentTypeModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/lettings/advertised":{"get":{"tags":["LettingsController"],"summary":"Search all properties available for rent given a range of search criteria.","operationId":"LettingsController_GetAdvertised","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"branchID","in":"query","description":"The unique ID of the Branch","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"areaID","in":"query","description":"The unique ID of the Area","schema":{"type":"string"}},{"name":"rentMinimum","in":"query","description":"The minimum advertised rent to search for","schema":{"type":"number","format":"double"}},{"name":"rentMaximum","in":"query","description":"The maximum advertised rent to search for","schema":{"type":"number","format":"double"}},{"name":"maximumTenants","in":"query","description":"The maximum number of tenants a property can accommodate","schema":{"type":"integer","format":"int32"}},{"name":"wantSharedProperties","in":"query","description":"Search for shared properties?","schema":{"type":"boolean"}},{"name":"wantStudentProperties","in":"query","description":"Search for student properties?","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/lettings/advertisedbetweendates":{"get":{"tags":["LettingsController"],"summary":"Search all properties available for rent given a range of search criteria and dates.","operationId":"LettingsController_GetAdvertisedBetweenDates","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"branchID","in":"query","description":"The unique ID of the Branch","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"rangeStartDate","in":"query","description":"The date to search from","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"rangeEndDate","in":"query","description":"The date to search to","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"areaID","in":"query","description":"The unique ID of the Area","schema":{"type":"string"}},{"name":"rentMinimum","in":"query","description":"The minimum advertised rent to search for","schema":{"type":"number","format":"double"}},{"name":"rentMaximum","in":"query","description":"The maximum advertised rent to search for","schema":{"type":"number","format":"double"}},{"name":"maximumTenants","in":"query","description":"The maximum number of tenants a property can accommodate","schema":{"type":"integer","format":"int32"}},{"name":"wantSharedProperties","in":"query","description":"Search for shared properties?","schema":{"type":"boolean"}},{"name":"wantStudentProperties","in":"query","description":"Search for student properties?","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/lettings/tenancies":{"get":{"tags":["LettingsController"],"summary":"A collection of all the company's tenancies","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/lettings/tenancies/{tenancyID}":{"get":{"tags":["LettingsController"],"summary":"Get a specific tenancy given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"tenancyID","in":"path","description":"The unique ID of the Tenancy","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenancyModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/TenancyModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TenancyModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TenancyModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/lettings/tenancies/{tenancyID}/brochure":{"get":{"tags":["LettingsController"],"summary":"Downloads the brochure relating to the latest advertised rental of a property","operationId":"LettingsController_GetTenancyBrochure","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"tenancyID","in":"path","description":"The unique ID of the tenancy","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/photo/photos":{"get":{"tags":["PhotoController"],"summary":"A collection of all photos in the company","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/photo/photos/{photoID}":{"get":{"tags":["PhotoController"],"summary":"Get a specific photo given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"photoID","in":"path","description":"The unique ID of the Photo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhotoModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/PhotoModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PhotoModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PhotoModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/photos/photo/{photoID}/download":{"get":{"tags":["PhotoController"],"summary":"Downloads the photo of a property given the property and photo ID.","operationId":"PhotoController_GetPhotoDownload","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"photoID","in":"path","description":"The unique ID of the photo on the property","required":true,"schema":{"type":"string"}},{"name":"width","in":"query","description":"An optional parameter specifying the image width","schema":{"type":"integer","format":"int32"}},{"name":"height","in":"query","description":"An optional parameter specifying the image height","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/property/properties":{"get":{"tags":["PropertyController"],"summary":"A collection of all properties within a company","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/PropertyModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PropertyModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PropertyModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/property/properties/{propertyID}":{"get":{"tags":["PropertyController"],"summary":"Get a specific property given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"propertyID","in":"path","description":"The unique ID of the Property","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/PropertyModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PropertyModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PropertyModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/property/properties/{propertyID}/facilities":{"get":{"tags":["PropertyController"],"summary":"A collection of facilities linked to a block, property or room","operationId":"PropertyController_GetPropertiesFacilities","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"propertyID","in":"path","description":"The unique ID of the Property","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyFacilityModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/PropertyFacilityModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PropertyFacilityModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PropertyFacilityModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/property/properties/{propertyID}/photos":{"get":{"tags":["PropertyController"],"summary":"A collection showing all the photos linked to a specific block, property or room","operationId":"PropertyController_GetPropertiesPhotos","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"propertyID","in":"path","description":"The unique ID of the Property","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/property/properties/{propertyID}/rooms":{"get":{"tags":["PropertyController"],"summary":"A collection of the rooms that belong to this property or block","operationId":"PropertyController_GetPropertiesRooms","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"propertyID","in":"path","description":"The unique ID of the Property","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyRoomModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/PropertyRoomModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PropertyRoomModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PropertyRoomModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/property/properties/{propertyID}/tenancies":{"get":{"tags":["PropertyController"],"summary":"A collection of all tenancies associated with this block, property or room","operationId":"PropertyController_GetPropertiesTenancies","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"propertyID","in":"path","description":"The unique ID of the Property","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/TenancyModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/property/structures/{propertyStructureID}/reports/eer":{"get":{"tags":["PropertyController"],"summary":"Downloads the energy efficiency report (EER) graph for a property","operationId":"PropertyController_GetPropertyEERDownload","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"propertyStructureID","in":"path","description":"The unique ID of the property structure","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/property/structures/{propertyStructureID}/reports/eir":{"get":{"tags":["PropertyController"],"summary":"Downloads the environmental impact report (EIR) graph for a property","operationId":"PropertyController_GetPropertyEIRDownload","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"propertyStructureID","in":"path","description":"The unique ID of the property structure","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/sales/advertisedsales":{"get":{"tags":["SalesController"],"summary":"Search all sales properties available given a range of search criteria","operationId":"SalesController_GetAdvertisedSales","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"branchID","in":"query","description":"The unique ID of the Branch","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"onlyDevelopement","in":"query","description":"Show only development properties?","required":true,"schema":{"type":"boolean"}},{"name":"onlyInvestements","in":"query","description":"Show only investment properties?","required":true,"schema":{"type":"boolean"}},{"name":"minimumPrice","in":"query","description":"The minimum price to search for","schema":{"type":"number","format":"double"}},{"name":"maximumPrice","in":"query","description":"The maximum price to search for","schema":{"type":"number","format":"double"}},{"name":"minimumBeds","in":"query","description":"The minimum beds to search for","schema":{"type":"integer","format":"int32"}},{"name":"minimumBathrooms","in":"query","description":"The minimum bathrooms to search for","schema":{"type":"integer","format":"int32"}},{"name":"minimumEnsuites","in":"query","description":"The minimum ensuite bathrooms to search for","schema":{"type":"integer","format":"int32"}},{"name":"minimumToilets","in":"query","description":"The minimum toilets to search for","schema":{"type":"integer","format":"int32"}},{"name":"minimumReception","in":"query","description":"The minimum reception rooms to search for","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesInstructionModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/SalesInstructionModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SalesInstructionModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/SalesInstructionModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/sales/reports/eer/{salesInstructionID}":{"get":{"tags":["SalesController"],"summary":"Downloads the energy efficiency report (EER) graph for a sales instruction","operationId":"SalesController_GetEER","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"salesInstructionID","in":"path","description":"The unique ID of the SalesInstruction","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/sales/reports/eir/{salesInstructionID}":{"get":{"tags":["SalesController"],"summary":"Downloads the energy efficiency report (EIR) graph for a sales instruction","operationId":"SalesController_GetEIR","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"salesInstructionID","in":"path","description":"The unique ID of the SalesInstruction","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}},"text/json":{"schema":{"$ref":"#/components/schemas/Object"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Object"}},"text/xml":{"schema":{"$ref":"#/components/schemas/Object"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/sales/salesfeaturetypes":{"get":{"tags":["SalesController"],"summary":"A collection of all sales feature types linked to a company","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesFeatureTypeModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/SalesFeatureTypeModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SalesFeatureTypeModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/SalesFeatureTypeModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/sales/salesfeaturetypes/{salesFeatureTypeID}":{"get":{"tags":["SalesController"],"summary":"Get a specific sales feature type given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"salesFeatureTypeID","in":"path","description":"The unique ID of the SalesFeatureType","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesFeatureTypeModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/SalesFeatureTypeModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SalesFeatureTypeModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/SalesFeatureTypeModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/sales/salesinstructions":{"get":{"tags":["SalesController"],"summary":"A collection of all sales instructions linked to a company","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesInstructionModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/SalesInstructionModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SalesInstructionModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/SalesInstructionModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/sales/salesinstructions/{salesInstructionID}":{"get":{"tags":["SalesController"],"summary":"Get a specific sales instruction given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"salesInstructionID","in":"path","description":"The unique ID of the SalesInstruction","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesInstructionModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/SalesInstructionModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SalesInstructionModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/SalesInstructionModel"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/sales/salesinstructions/{salesInstructionID}/features":{"get":{"tags":["SalesController"],"summary":"A collection of all features linked to a sales instruction","operationId":"SalesController_GetSalesInstructionsFeatures","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"salesInstructionID","in":"path","description":"The unique ID of the SalesInstruction","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesFeatureModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/SalesFeatureModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SalesFeatureModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/SalesFeatureModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/sales/salesinstructions/{salesInstructionID}/floorplans":{"get":{"tags":["SalesController"],"summary":"A collection of floor plans linked to an instruction","operationId":"SalesController_GetSalesInstructionsFloorPlans","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"salesInstructionID","in":"path","description":"The unique ID of the SalesInstruction","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/sales/salesinstructions/{salesInstructionID}/photos":{"get":{"tags":["SalesController"],"summary":"A collection of photos linked to an instruction","operationId":"SalesController_GetSalesInstructionsPhotos","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"salesInstructionID","in":"path","description":"The unique ID of the SalesInstruction","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PhotoModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/sales/salesinstructions/{salesInstructionID}/rooms":{"get":{"tags":["SalesController"],"summary":"A collection of rooms linked to an instruction","operationId":"SalesController_GetSalesInstructionsRooms","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"salesInstructionID","in":"path","description":"The unique ID of the SalesInstruction","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyRoomModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/PropertyRoomModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/PropertyRoomModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/PropertyRoomModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/staff/staff":{"get":{"tags":["StaffController"],"summary":"A collection of all the staff members linked to a specific company","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"The index of the first item to return","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"The maximum number of items to return (up to 1000 per request)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationStaffModelResults"}},"text/json":{"schema":{"$ref":"#/components/schemas/ApplicationStaffModelResults"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationStaffModelResults"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ApplicationStaffModelResults"}}}}},"deprecated":false}},"/v2/tier1/{shortName}/staff/staff/{applicationStaffID}":{"get":{"tags":["StaffController"],"summary":"Get a specific application staff given its unique Object ID (OID)","parameters":[{"name":"shortName","in":"path","description":"The unique client short-name","required":true,"schema":{"type":"string"}},{"name":"applicationStaffID","in":"path","description":"The unique ID of the ApplicationStaff","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationStaffModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ApplicationStaffModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationStaffModel"}},"text/xml":{"schema":{"$ref":"#/components/schemas/ApplicationStaffModel"}}}}},"deprecated":false}}},"components":{"schemas":{"ApplicationStaffModel":{"type":"object","properties":{"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"Forename":{"type":"string","description":"The user's forename."},"GlobalReference":{"type":"string","description":"The global reference to this user."},"IsEnabled":{"type":"boolean","description":"Is this staff member enabled?"},"ManagedBy":{"type":"string","description":"The branch linked to this user"},"Middlename":{"type":"string","description":"The user's middlename."},"OID":{"type":"string","description":"The unique Object ID (OID)."},"Surname":{"type":"string","description":"The user's surname."},"Title":{"type":"string","description":"The user's title."}},"description":"Holds the information about a member of staff."},"ApplicationStaffModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/ApplicationStaffModel"}}},"description":"Holds results from a paged query returning ApplicationStaffModel values"},"AreaModel":{"type":"object","properties":{"Branch":{"type":"string","description":"The branch that manages this area."},"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"Name":{"type":"string","description":"The property area name."},"OID":{"type":"string","description":"The unique Object ID (OID)."},"ShowOnSites":{"type":"boolean","description":"Show the area on sites?"}},"description":"Stores the information about a single property area."},"AreaModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/AreaModel"}}},"description":"Holds results from a paged query returning AreaModel values"},"BranchModel":{"type":"object","properties":{"Address1":{"type":"string","description":"Branch address line 1."},"Address2":{"type":"string","description":"Branch address line 2."},"Address3":{"type":"string","description":"Branch address line 3."},"Address4":{"type":"string","description":"Branch address line 4."},"CompanyName":{"type":"string","description":"The relevant company name, if not the one specified on the branch then the one on company."},"County":{"type":"string","description":"County"},"EMailAddress":{"type":"string","description":"Branch email address."},"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"FaxPhone":{"type":"string","description":"Branch fax phone number."},"LandPhone":{"type":"string","description":"Branch land phone number."},"Name":{"type":"string","description":"The branch name."},"OID":{"type":"string","description":"The unique Object ID (OID)."},"Postcode":{"type":"string","description":"Branch address postcode."},"WebAddress":{"type":"string","description":"Branch web address."}},"description":"Defines a single branch of a client."},"BranchModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/BranchModel"}}},"description":"Holds results from a paged query returning BranchModel values"},"CompanyModel":{"type":"object","properties":{"CompanyName":{"type":"string","description":"Company name"},"CompanyRegistration":{"type":"string","description":"Company registration number"},"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"MarketingCompanyName":{"type":"string","description":"Company Marketing Name"},"OID":{"type":"string","description":"The unique Object ID (OID)."},"ShortName":{"type":"string","description":"The unique identifier assigned to the client"}},"description":"The search code for the ApplicationCompany storage object."},"CountyModel":{"type":"object","properties":{"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"Name":{"type":"string","description":"The property county name."},"OID":{"type":"string","description":"The unique Object ID (OID)."}},"description":"Stores the information about a single property County. A County can have a number of areas linked to it."},"CountyModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/CountyModel"}}},"description":"Holds results from a paged query returning CountyModel values"},"DiaryAllocationModel":{"type":"object","properties":{"AppointmentType":{"type":"string","description":"The diary appointment type."},"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"End":{"type":"string","description":"The end date/time of this allocation.","format":"date-time"},"OID":{"type":"string","description":"The unique Object ID (OID)."},"Staff":{"type":"string","description":"The staff member holding this allocation."},"Start":{"type":"string","description":"The start date/time of this allocation.","format":"date-time"}},"description":"Represents a single diary allocation, capable of holding a number\r\n            of appointments associated with a member of staff."},"DiaryAllocationModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/DiaryAllocationModel"}}},"description":"Holds results from a paged query returning DiaryAllocationModel values"},"DiaryAppointmentModel":{"type":"object","properties":{"AppointmentType":{"type":"string","description":"The diary appointment type."},"Cancelled":{"type":"boolean","description":"Whether the appointment has been cancelled."},"Comment":{"type":"string","description":"The appointment comments text."},"CreatedAt":{"type":"string","description":"The date/time this appointment was created.","format":"date-time"},"CreatedBy":{"type":"string","description":"The staff member that created this appointment."},"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"End":{"type":"string","description":"The end date/time of this appointment.","format":"date-time"},"OID":{"type":"string","description":"The unique Object ID (OID)."},"RemindAt":{"type":"string","description":"The date/time to remind the staff member of this appointment.","format":"date-time"},"RemindBefore":{"type":"string","description":"The number of minutes before the appointment start date/time to remind the staff member. -1 means don't remind.","enum":["Min","Min2","Min5","Min10","Min15","Min30","Min45","Hour","Hour2","Hour3","Hour6","Hour12","Day","Day2","Day3","Week","NoReminder"]},"Staff":{"type":"string","description":"The staff member holding this appointment."},"Start":{"type":"string","description":"The start date/time of this appointment.","format":"date-time"},"Subject":{"type":"string","description":"The appointment subject text."}},"description":"Represents a single diary appointment for a staff member."},"DiaryAppointmentModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/DiaryAppointmentModel"}}},"description":"Holds results from a paged query returning DiaryAppointmentModel values"},"DiaryAppointmentTypeModel":{"type":"object","properties":{"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"Name":{"type":"string","description":"The appointment type name."},"OID":{"type":"string","description":"The unique Object ID (OID)."},"SystemType":{"type":"string","description":"The appointment system type.","enum":["Viewing","ViewAndValue","OpeningInspection","InterimInspection","ClosingInspection","SalesAppraisal","Custom"]}},"description":"Represents a diary appointment type."},"DiaryAppointmentTypeModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/DiaryAppointmentTypeModel"}}},"description":"Holds results from a paged query returning DiaryAppointmentTypeModel values"},"Object":{"type":"object"},"PhotoModel":{"type":"object","properties":{"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"FileName":{"type":"string","description":"The file name."},"InspectionItem":{"type":"string","description":"The inspection item the photo is assigned to (if applicable)."},"InterimInspection":{"type":"string","description":"The inspection the photo is assigned to (if applicable)."},"InventoryItem":{"type":"string","description":"The inventory item the photo is assigned to (if applicable)."},"Name":{"type":"string","description":"The photo name."},"OID":{"type":"string","description":"The unique Object ID (OID)."},"PhotoNumber":{"type":"integer","description":"The photo ordering number","format":"int32"},"PhotoType":{"type":"string","description":"The photo type.","enum":["Photo","Map","FloorPlan","SiteMap","AerialPhoto"]},"Property":{"type":"string","description":"The property the photo is assigned to."},"Room":{"type":"string","description":"The room the photo is assigned to. (If applicable)"}},"description":"Stores a photo related to a property structure."},"PhotoModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/PhotoModel"}}},"description":"Holds results from a paged query returning PhotoModel values"},"PropertyFacilityModel":{"type":"object","properties":{"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"Name":{"type":"string","description":"Display Name"},"OID":{"type":"string","description":"The unique Object ID (OID)."}},"description":"Stores the information about a single property facility."},"PropertyFacilityModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/PropertyFacilityModel"}}},"description":"Holds results from a paged query returning PropertyFacilityModel values"},"PropertyModel":{"type":"object","properties":{"Area":{"type":"string","description":"The area the property is located in."},"Branch":{"type":"string","description":"The branch the block, property or room is assigned to"},"Description":{"type":"string","description":"The block, property or room description."},"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"FullAddress":{"type":"string","description":"The full address of a block, property or room, formatted with line breaks such that it may be used on a letter directly."},"GlobalReference":{"type":"string","description":"The global reference to this block, property or room"},"MainPhoto":{"type":"string","description":"Gets the main photo, if there is one."},"ManagedByStaff":{"type":"string","description":"The staff memeber that manages the block, property or room"},"OID":{"type":"string","description":"The unique Object ID (OID)."},"PropertySource":{"type":"string","description":"The block, property or room source type"},"PropertyType":{"type":"string","description":"The block or property type.","enum":["House","FlatApartment","Bungalow","Land","HouseFlatShare","GarageParking","CommercialProperty","Block","TerracedHouse","EndTerraceHouse","SemiDetachedHouse","DetachedHouse","SemiDetachedBungalow","TownHouse","Cottage","ServicedApartment","Studio","Apartment","Barn","FarmHouse","Penthouse","BuildingPlot","DetachedBungalow","LinkDetached","MidTerracedBungalow","LandResidential"]},"RoomName":{"type":"string","description":"The room name (if applicable)."},"VideoURL":{"type":"string","description":"URL of the video linked to the property"}},"description":"Stores the 'Sales' type fields for property ownable as a stepping stone to a full on BO when we finally get the go ahead to write sales!!"},"PropertyModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/PropertyModel"}}},"description":"Holds results from a paged query returning PropertyModel values"},"PropertyRoomModel":{"type":"object","properties":{"Area":{"type":"string","description":"The area the property is located in."},"Branch":{"type":"string","description":"The branch the block, property or room is assigned to"},"Description":{"type":"string","description":"The block, property or room description."},"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"FullAddress":{"type":"string","description":"The full address of a block, property or room, formatted with line breaks such that it may be used on a letter directly."},"GlobalReference":{"type":"string","description":"The global reference to this block, property or room"},"HeightCentimeters":{"type":"integer","description":"Gets the CentiMeter part of the room Height.","format":"int32"},"HeightMeters":{"type":"integer","description":"Gets the Meter part of the room Height.","format":"int32"},"LengthCentimeters":{"type":"integer","description":"Gets the CentiMeter part of the room Length.","format":"int32"},"LengthMeters":{"type":"integer","description":"Gets the Meter part of the room Length.","format":"int32"},"MainPhoto":{"type":"string","description":"Gets the main photo, if there is one."},"ManagedByStaff":{"type":"string","description":"The staff memeber that manages the block, property or room"},"OID":{"type":"string","description":"The unique Object ID (OID)."},"PropertySource":{"type":"string","description":"The block, property or room source type"},"RoomFloor":{"type":"string","description":"Gets and sets the room floor.","enum":["Basement","Ground","First","Second","Third","Fourth","Fifth","SixthPlus","Unknown"]},"RoomName":{"type":"string","description":"The room name (if applicable)."},"WidthCentiMeters":{"type":"integer","description":"Gets the CentiMeter part of the room width.","format":"int32"},"WidthMeters":{"type":"integer","description":"Gets the Meter part of the room width.","format":"int32"}},"description":"A single room (bedroom) property structure."},"PropertyRoomModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/PropertyRoomModel"}}},"description":"Holds results from a paged query returning PropertyRoomModel values"},"SalesFeatureModel":{"type":"object","properties":{"Comment":{"type":"string","description":"The feature comment"},"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"OID":{"type":"string","description":"The unique Object ID (OID)."},"Type":{"type":"string","description":"The feature type"}},"description":""},"SalesFeatureModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/SalesFeatureModel"}}},"description":"Holds results from a paged query returning SalesFeatureModel values"},"SalesFeatureTypeModel":{"type":"object","properties":{"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"Name":{"type":"string","description":"The name of the feature type"},"OID":{"type":"string","description":"The unique Object ID (OID)."}},"description":""},"SalesFeatureTypeModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/SalesFeatureTypeModel"}}},"description":"Holds results from a paged query returning SalesFeatureTypeModel values"},"SalesInstructionModel":{"type":"object","properties":{"Address1":{"type":"string","description":"Address 1 of the property to be sold"},"Address2":{"type":"string","description":"Address 2 of the property to be sold"},"Address3":{"type":"string","description":"Address 3 of the property to be sold"},"Address4":{"type":"string","description":"Address 4 of the property to be sold"},"AddressNumber":{"type":"string","description":"Address number of the property to be sold"},"Area":{"type":"string","description":"The area linked to the instruction"},"Bathrooms":{"type":"integer","description":"Number of bathrooms linked to the instruction","format":"int32"},"BathroomsEnsuite":{"type":"integer","description":"How many of the bathrooms are ensuite?","format":"int32"},"Bedrooms":{"type":"integer","description":"Number of bedrooms linked to the instruction","format":"int32"},"ContractType":{"type":"string","description":"The contract type","enum":["Pending","SoleAgency","SoleSellingRights","JointSoleAgency","MultiAgency","SubAgent"]},"Country":{"type":"string","description":"Address country of the property to be sold","enum":["Afghanistan","Albania","Algeria","Andorra","Angola","AntiguaAndBarbuda","Argentina","Armenia","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bhutan","Bolivia","BosniaAndHerzegovina","Botswana","Brazil","Brunei","Bulgaria","BurkinaFaso","Burundi","Cambodia","Cameroon","Canada","CapeVerde","CentralAfricanRepublic","Chad","Chile","China","Colombia","Comoros","CongoBrazzaville","CongoDemocraticRepublicOfThe","CostaRica","CoteDIvoire","Croatia","Cuba","Cyprus","CzechRepublic","Denmark","Djibouti","Dominica","DominicanRepublic","EastTimorTimorTimur","Ecuador","Egypt","ElSalvador","EquatorialGuinea","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Gabon","GambiaThe","Georgia","Germany","Ghana","Greece","Grenada","Guatemala","Guinea","GuineaBissau","Guyana","Haiti","Honduras","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Kiribati","KoreaNorth","KoreaSouth","Kuwait","Kyrgyzstan","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","MacedoniaFormerYugoslavRepublicOf","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","MarshallIslands","Mauritania","Mauritius","Mexico","MicronesiaFederatedStatesOf","Moldova","Monaco","Mongolia","Morocco","Mozambique","Myanmar","Namibia","Nauru","Nepal","Netherlands","NewZealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palau","Panama","PapuaNewGuinea","Paraguay","Peru","Philippines","Poland","Portugal","Qatar","Romania","Russia","Rwanda","SaintKittsAndNevis","SaintLucia","SaintVincentAndTheGrenadines","Samoa","SanMarino","SaoTomeAndPrincipe","SaudiArabia","Senegal","SerbiaAndMontenegro","Seychelles","SierraLeone","Singapore","Slovakia","Slovenia","SolomonIslands","Somalia","SouthAfrica","Spain","SriLanka","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Togo","Tonga","TrinidadAndTobago","Tunisia","Turkey","Turkmenistan","Tuvalu","Uganda","Ukraine","UnitedArabEmirates","UnitedKingdom","UnitedStates","Uruguay","Uzbekistan","Vanuatu","VaticanCity","Venezuela","Vietnam","WesternSahara","Yemen","Zambia","Zimbabwe","UnknownCountry","HongKong","Jersey","ChannelIslands","Bermuda","BritishOverseasTerritory"]},"Description":{"type":"string","description":"The instruction description"},"DevelopmentOpp":{"type":"boolean","description":"Is the instruction a development opportunity?"},"Directions":{"type":"string","description":"Directions linked to the instruction"},"EPCCurrentEER":{"type":"integer","description":"Current EER value","format":"int32"},"EPCCurrentEI":{"type":"integer","description":"Current EI value","format":"int32"},"EPCPotentialEER":{"type":"integer","description":"Potential EER value","format":"int32"},"EPCPotentialEI":{"type":"integer","description":"Potential EI value","format":"int32"},"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"HasElectricitySupply":{"type":"boolean","description":"Does the instruction have an electrical supply linked to it?"},"HasGasSupply":{"type":"boolean","description":"Does the instruction have an gas supply linked to it?"},"HasWaterMeter":{"type":"boolean","description":"Does the instruction have a water meter linked to it?"},"InvestmentOpp":{"type":"boolean","description":"Is the instruction a investment opportunity?"},"Kitchens":{"type":"integer","description":"Number of kitchens linked to the property instruction","format":"int32"},"OID":{"type":"string","description":"The unique Object ID (OID)."},"OutsideSpaceBalcony":{"type":"boolean","description":"Does the instruction have an outside balcony linked to it?"},"OutsideSpaceCommunalGarden":{"type":"boolean","description":"Does the instruction have a communal garden linked to it?"},"OutsideSpaceConservatory":{"type":"boolean","description":"Does the instruction have a conservatory linked to it?"},"OutsideSpaceGarden":{"type":"boolean","description":"Does the instruction have a garden linked to it?"},"OutsideSpaceLargeGarden":{"type":"boolean","description":"Does the instruction have a large garden linked to it?"},"OutsideSpacePatio":{"type":"boolean","description":"Does the instruction have a patio linked to it?"},"OutsideSpaceRoofTerrace":{"type":"boolean","description":"Does the instruction have a roof terrace linked to it?"},"OutsideSpaceSouthFacingGarden":{"type":"boolean","description":"Does the instruction have a south facing garden?"},"ParkingAllocated":{"type":"boolean","description":"Is there any parking allocation linked to the instruction?"},"ParkingCarport":{"type":"boolean","description":"Does the instruction have a carport linked to it?"},"ParkingDoubleGarage":{"type":"boolean","description":"Does the instruction have a double garage linked to it?"},"ParkingGarage":{"type":"boolean","description":"Does the instruction have a garage linked to it?"},"ParkingOffRoad":{"type":"boolean","description":"Is there off road parking linked to the instruction?"},"ParkingOnRoad":{"type":"boolean","description":"Is there on road parking linked to the instruction?"},"ParkingPermit":{"type":"boolean","description":"Is a parking permit required?"},"ParkingSecureGated":{"type":"boolean","description":"Is there any secured gate parking linked to the instruction?"},"ParkingTripleGarage":{"type":"boolean","description":"Does the instruction have a triple garage linked to it?"},"Postcode":{"type":"string","description":"Postcode of the property to be sold"},"Price":{"type":"number","description":"The price of the property to be sold","format":"double"},"PropertyOwnableType":{"type":"string","description":"The property type","enum":["House","FlatApartment","Bungalow","Land","HouseFlatShare","GarageParking","CommercialProperty","Block","TerracedHouse","EndTerraceHouse","SemiDetachedHouse","DetachedHouse","SemiDetachedBungalow","TownHouse","Cottage","ServicedApartment","Studio","Apartment","Barn","FarmHouse","Penthouse","BuildingPlot","DetachedBungalow","LinkDetached","MidTerracedBungalow","LandResidential"]},"ReceptionRooms":{"type":"integer","description":"Number of reception rooms linked to the instruction","format":"int32"},"State":{"type":"string","description":"The current instruction state","enum":["MarketAppraisal","LostAppraisal","Instructed","Advertised","UnderOffer","ContractsExchanged","Completed","FallenThrough","Withdrawn"]},"Tenure":{"type":"string","description":"Instruction tenure","enum":["Freehold","Leasehold","Commonhold","ShareOfFreehold","FlyingFreehold","ShareTransfer","Unknown"]},"VideoURL":{"type":"string","description":"The URL of the video linked to the Sales Instruction"}},"description":""},"SalesInstructionModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/SalesInstructionModel"}}},"description":"Holds results from a paged query returning SalesInstructionModel values"},"TenancyModel":{"type":"object","properties":{"AdvertiseFrom":{"type":"string","description":"The date to advertise this tenancy from.","format":"date-time"},"Area":{"type":"string","description":"The area containing the instruction."},"BondRequired":{"type":"number","description":"The total bond required.","format":"double"},"Branch":{"type":"string","description":"The branch the tenancy is assigned to.."},"ETag":{"type":"string","description":"A unique identifier defining the object and change revision."},"Furnished":{"type":"string","description":"The property furnished type.","enum":["Unfurnished","PartFurnished","Furnished"]},"GlobalReference":{"type":"string","description":"The global reference for a tenancy."},"IsShareProperty":{"type":"boolean","description":"Is this property a shared property."},"IsStudentProperty":{"type":"boolean","description":"Is this property a student property."},"IsTenancyAdvertised":{"type":"boolean","description":"Gets a value indicating whether this tenancy is being advertised. Note\r\n            that this will only return true while the tenancy has a valid advertise\r\n            date. It will not return true in the proposed phase."},"IsTenancyProposed":{"type":"boolean","description":"Is the tenancy a proposed tenancy?"},"MaximumTenants":{"type":"integer","description":"The maximum number of tenants to advertise for.","format":"int32"},"MinimumTenants":{"type":"integer","description":"The minimum number of tenants to advertise for.","format":"int32"},"OID":{"type":"string","description":"The unique Object ID (OID)."},"RentAdvertised":{"type":"number","description":"The advertised amount of rent for the property.","format":"double"},"RentRecurrence":{"type":"integer","description":"The rent schedule recurrence","format":"int32"},"RentSchedule":{"type":"string","description":"The tenancy rent schedule","enum":["Once","Daily","Weekly","Monthly","Yearly"]},"TenancyProperty":{"type":"string","description":"The property linked to this tenancy."},"TenantSystemTypes":{"type":"array","description":"The specific tenant type list, or empty if for all types.","items":{"type":"string","enum":["Employed","SelfEmployed","Unemployed","Student","OwnMeans","Retired","Company","Council"]}},"TermMaximum":{"type":"integer","description":"The instruction maximum term.","format":"int32"},"TermMinimum":{"type":"integer","description":"The minimum term.","format":"int32"},"TermStart":{"type":"string","description":"The instruction start date.","format":"date-time"},"UtilityCouncilTax":{"type":"string","description":"Who's responsible for council tax bills.","enum":["Tenant","Landlord"]},"UtilityElectricity":{"type":"string","description":"Who's responsible for electricity bills.","enum":["Tenant","Landlord"]},"UtilityGas":{"type":"string","description":"Who's responsible for Gas bills.","enum":["Tenant","Landlord"]},"UtilityTelephone":{"type":"string","description":"Who's responsible for telephone bills.","enum":["Tenant","Landlord"]},"UtilityWater":{"type":"string","description":"Who's responsible for water bills.","enum":["Tenant","Landlord"]}},"description":"Represents a single tenancy on a property structure. This class may\r\n            be considered to be the context of the tenancy strategy pattern. The\r\n            strategy is the tenancy service, that dictates the algorithm applied\r\n            to the tenancy. This class therefore holds the raw data of a tenancy,\r\n            and ignores any tenancy service (fully managed, let only) parameters."},"TenancyModelResults":{"type":"object","properties":{"Count":{"type":"integer","description":"The total number of results available for all pages","format":"int32"},"Data":{"type":"array","description":"The resulting data returned from the paged query range","items":{"$ref":"#/components/schemas/TenancyModel"}}},"description":"Holds results from a paged query returning TenancyModel values"}},"securitySchemes":{"apiKey":{"type":"apiKey","description":"ApiKey Authentication","name":"ApiKey","in":"header"},"basic":{"type":"http","description":"Basic HTTP Authentication","scheme":"basic"}}}}