{"openapi":"3.0.1","info":{"title":"HDInsightManagementClient","description":"The HDInsight Management Client.","version":"2018-06-01-preview"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications":{"get":{"tags":["Applications"],"description":"Lists all of the applications for the HDInsight cluster.","operationId":"Applications_ListByCluster","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationListResult"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications/{applicationName}":{"get":{"tags":["Applications"],"description":"Gets properties of the specified application.","operationId":"Applications_Get","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},{"name":"applicationName","in":"path","description":"The constant value for the application name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."}}}}}},"put":{"tags":["Applications"],"description":"Creates applications for the HDInsight cluster.","operationId":"Applications_Create","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},{"name":"applicationName","in":"path","description":"The constant value for the application name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The application create request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}},"required":true},"responses":{"200":{"description":"OK. The request has succeeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."}}}}}},"delete":{"tags":["Applications"],"description":"Deletes the specified application on the HDInsight cluster.","operationId":"Applications_Delete","parameters":[{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}},{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},{"name":"applicationName","in":"path","description":"The constant value for the application name.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK. The request has succeeded."},"202":{"description":"Accepted response definition."},"default":{"description":"Error response describing why the operation failed.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code"},"message":{"type":"string","description":"Error message indicating why the operation failed."}},"description":"Describes the format of Error response."}}}}}}}},"components":{"schemas":{"Application":{"properties":{"etag":{"type":"string","description":"The ETag for the application"},"properties":{"$ref":"#/components/schemas/ApplicationProperties"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"The tags for the application."}},"description":"The HDInsight cluster application","allOf":[{"description":"The resource model definition for a ARM proxy resource. It will have everything other than required location and tags","allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Fully qualified resource Id for the resource.","readOnly":true},"name":{"type":"string","description":"The name of the resource","readOnly":true},"type":{"type":"string","description":"The type of the resource.","readOnly":true}},"description":"The core properties of ARM resources"}]}]},"ApplicationGetEndpoint":{"type":"object","properties":{"destinationPort":{"type":"integer","description":"The destination port to connect to.","format":"int32"},"location":{"type":"string","description":"The location of the endpoint."},"publicPort":{"type":"integer","description":"The public port to connect to.","format":"int32"}},"description":"Gets the application SSH endpoint"},"ApplicationGetHttpsEndpoint":{"type":"object","properties":{"accessModes":{"type":"array","description":"The list of access modes for the application.","items":{"type":"string"}},"destinationPort":{"type":"integer","description":"The destination port to connect to.","format":"int32"},"disableGatewayAuth":{"type":"boolean","description":"The value indicates whether to disable GatewayAuth."},"location":{"type":"string","description":"The location of the endpoint."},"publicPort":{"type":"integer","description":"The public port to connect to.","format":"int32"},"subDomainSuffix":{"type":"string","description":"The subdomain suffix of the application."}},"description":"Gets the application HTTP endpoints."},"ApplicationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The URL to get the next set of operation list results if there are any.","readOnly":true},"value":{"type":"array","description":"The list of HDInsight applications installed on HDInsight cluster.","items":{"$ref":"#/components/schemas/Application"}}},"description":"Result of the request to list cluster Applications. It contains a list of operations and a URL link to get the next set of results."},"ApplicationProperties":{"type":"object","properties":{"applicationState":{"type":"string","description":"The application state.","readOnly":true},"applicationType":{"type":"string","description":"The application type."},"computeProfile":{"type":"object","properties":{"roles":{"type":"array","description":"The list of roles in the cluster.","items":{"type":"object","properties":{"autoscale":{"type":"object","properties":{"capacity":{"type":"object","properties":{"maxInstanceCount":{"type":"integer","description":"The maximum instance count of the cluster","format":"int32"},"minInstanceCount":{"type":"integer","description":"The minimum instance count of the cluster","format":"int32"}},"description":"The load-based autoscale request parameters"},"recurrence":{"type":"object","properties":{"schedule":{"type":"array","description":"Array of schedule-based autoscale rules","items":{"type":"object","properties":{"days":{"type":"array","description":"Days of the week for a schedule-based autoscale rule","items":{"type":"string","enum":["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]}},"timeAndCapacity":{"type":"object","properties":{"maxInstanceCount":{"type":"integer","description":"The maximum instance count of the cluster","format":"int32"},"minInstanceCount":{"type":"integer","description":"The minimum instance count of the cluster","format":"int32"},"time":{"type":"string","description":"24-hour time in the form xx:xx"}},"description":"Time and capacity request parameters"}},"description":"Parameters for a schedule-based autoscale rule, consisting of an array of days + a time and capacity"}},"timeZone":{"type":"string","description":"The time zone for the autoscale schedule times"}},"description":"Schedule-based autoscale request parameters"}},"description":"The autoscale request parameters"},"dataDisksGroups":{"type":"array","description":"The data disks groups for the role.","items":{"type":"object","properties":{"diskSizeGB":{"type":"integer","description":"ReadOnly. The DiskSize in GB. Do not set this value.","readOnly":true},"disksPerNode":{"type":"integer","description":"The number of disks per node.","format":"int32"},"storageAccountType":{"type":"string","description":"ReadOnly. The storage account type. Do not set this value.","readOnly":true}},"description":"The data disks groups for the role."}},"hardwareProfile":{"type":"object","properties":{"vmSize":{"type":"string","description":"The size of the VM"}},"description":"The hardware profile."},"minInstanceCount":{"type":"integer","description":"The minimum instance count of the cluster.","format":"int32"},"name":{"type":"string","description":"The name of the role."},"osProfile":{"type":"object","properties":{"linuxOperatingSystemProfile":{"type":"object","properties":{"password":{"type":"string","description":"The password."},"sshProfile":{"type":"object","properties":{"publicKeys":{"type":"array","description":"The list of SSH public keys.","items":{"type":"object","properties":{"certificateData":{"type":"string","description":"The certificate for SSH."}},"description":"The SSH public key for the cluster nodes."}}},"description":"The list of SSH public keys."},"username":{"type":"string","description":"The username."}},"description":"The ssh username, password, and ssh public key."}},"description":"The Linux operation systems profile."},"scriptActions":{"type":"array","description":"The list of script actions on the role.","items":{"required":["name","parameters","uri"],"type":"object","properties":{"name":{"type":"string","description":"The name of the script action."},"parameters":{"type":"string","description":"The parameters for the script provided."},"uri":{"type":"string","description":"The URI to the script."}},"description":"Describes a script action on role on the cluster."}},"targetInstanceCount":{"type":"integer","description":"The instance count of the cluster.","format":"int32"},"virtualNetworkProfile":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the virtual network."},"subnet":{"type":"string","description":"The name of the subnet."}},"description":"The virtual network properties."}},"description":"Describes a role on the cluster."}}},"description":"Describes the compute profile."},"createdDate":{"type":"string","description":"The application create date time.","readOnly":true},"errors":{"type":"array","description":"The list of errors.","items":{"type":"object","properties":{"code":{"type":"string","description":"The error code."},"message":{"type":"string","description":"The error message."}},"description":"The error message associated with the cluster creation."}},"httpsEndpoints":{"type":"array","description":"The list of application HTTPS endpoints.","items":{"$ref":"#/components/schemas/ApplicationGetHttpsEndpoint"}},"installScriptActions":{"type":"array","description":"The list of install script actions.","items":{"required":["name","roles","uri"],"type":"object","properties":{"applicationName":{"type":"string","description":"The application name of the script action, if any.","readOnly":true},"name":{"type":"string","description":"The name of the script action."},"parameters":{"type":"string","description":"The parameters for the script"},"roles":{"type":"array","description":"The list of roles where script will be executed.","items":{"type":"string"}},"uri":{"type":"string","description":"The URI to the script."}},"description":"Describes a script action on a running cluster."}},"marketplaceIdentifier":{"type":"string","description":"The marketplace identifier.","readOnly":true},"provisioningState":{"type":"string","description":"The provisioning state of the application.","readOnly":true},"sshEndpoints":{"type":"array","description":"The list of application SSH endpoints.","items":{"$ref":"#/components/schemas/ApplicationGetEndpoint"}},"uninstallScriptActions":{"type":"array","description":"The list of uninstall script actions.","items":{"required":["name","roles","uri"],"type":"object","properties":{"applicationName":{"type":"string","description":"The application name of the script action, if any.","readOnly":true},"name":{"type":"string","description":"The name of the script action."},"parameters":{"type":"string","description":"The parameters for the script"},"roles":{"type":"array","description":"The list of roles where script will be executed.","items":{"type":"string"}},"uri":{"type":"string","description":"The URI to the script."}},"description":"Describes a script action on a running cluster."}}},"description":"The HDInsight cluster application GET response."}},"parameters":{"ApiVersionParameter":{"name":"api-version","in":"query","description":"The HDInsight client API Version.","required":true,"schema":{"type":"string"}},"ApplicationNameParameter":{"name":"applicationName","in":"path","description":"The constant value for the application name.","required":true,"schema":{"type":"string"}},"ClusterNameParameter":{"name":"clusterName","in":"path","description":"The name of the cluster.","required":true,"schema":{"type":"string"}},"ResourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},"SubscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow"}}}}