{"openapi":"3.0.1","info":{"title":"ApiManagementClient","description":"Use these REST APIs to manage Azure API Management deployment.","version":"2019-01-01"},"servers":[{"url":"https://management.azure.com/"}],"security":[{"azure_auth":["user_impersonation"]}],"paths":{"/providers/Microsoft.ApiManagement/operations":{"get":{"tags":["ApiManagementOperations"],"description":"Lists all of the available REST API operations of the Microsoft.ApiManagement provider.","operationId":"ApiManagementOperations_List","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the list of operations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationListResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/checkNameAvailability":{"post":{"tags":["ApiManagementService"],"description":"Checks availability and correctness of a name for an API Management service.","operationId":"ApiManagementService_CheckNameAvailability","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the CheckNameAvailability operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceCheckNameAvailabilityParameters"}}},"required":true},"responses":{"200":{"description":"The result of check name availability.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceNameAvailabilityResult"}}}}}}},"/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/service":{"get":{"tags":["ApiManagementService"],"description":"Lists all API Management services within an Azure subscription.","operationId":"ApiManagementService_List","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The API Management service list.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service":{"get":{"tags":["ApiManagementService"],"description":"List all API Management services within a resource group.","operationId":"ApiManagementService_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The API Management service list.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceListResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}":{"get":{"tags":["ApiManagementService"],"description":"Gets an API Management service resource description.","operationId":"ApiManagementService_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully got the API Management Service Resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceResource"}}}}}},"put":{"tags":["ApiManagementService"],"description":"Creates or updates an API Management service. This is long running operation and could take several minutes to complete.","operationId":"ApiManagementService_CreateOrUpdate","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the CreateOrUpdate API Management service operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceResource"}}},"required":true},"responses":{"200":{"description":"The service was successfully set up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceResource"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceResource"}}}},"202":{"description":"Accepted the configuration change when updating the service."}}},"delete":{"tags":["ApiManagementService"],"description":"Deletes an existing API Management service.","operationId":"ApiManagementService_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Service was successfully deleted."},"202":{"description":"The service delete request was Accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceResource"}}}},"204":{"description":"The service does not exist."}}},"patch":{"tags":["ApiManagementService"],"description":"Updates an existing API Management service.","operationId":"ApiManagementService_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the CreateOrUpdate API Management service operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceUpdateParameters"}}},"required":true},"responses":{"200":{"description":"The service was successfully updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceResource"}}}},"202":{"description":"The service update request was Accepted."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/applynetworkconfigurationupdates":{"post":{"tags":["ApiManagementService"],"description":"Updates the Microsoft.ApiManagement resource running in the Virtual network to pick the updated network settings.","operationId":"ApiManagementService_ApplyNetworkConfigurationUpdates","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Apply Network Configuration operation. If the parameters are empty, all the regions in which the Api Management service is deployed will be updated sequentially without incurring downtime in the region.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceApplyNetworkConfigurationParameters"}}},"required":false},"responses":{"200":{"description":"Network configuration updates were successfully applied on the Api Management service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceResource"}}}},"202":{"description":"Accepted: Location header contains the URL where the status of the long running operation can be checked."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backup":{"post":{"tags":["ApiManagementService"],"description":"Creates a backup of the API Management service to the given Azure Storage Account. This is long running operation and could take several minutes to complete.","operationId":"ApiManagementService_Backup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the ApiManagementService_Backup operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceBackupRestoreParameters"}}},"required":true},"responses":{"200":{"description":"Successfully backed up the API Management service to the storage account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceResource"}}}},"202":{"description":"Accepted: Location header contains the URL where the status of the long running operation can be checked."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/getssotoken":{"post":{"tags":["ApiManagementService"],"description":"Gets the Single-Sign-On token for the API Management Service which is valid for 5 Minutes.","operationId":"ApiManagementService_GetSsoToken","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK if successful with the SSO Redirect URI.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceGetSsoTokenResult"}}}}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/restore":{"post":{"tags":["ApiManagementService"],"description":"Restores a backup of an API Management service created using the ApiManagementService_Backup operation on the current service. This is a long running operation and could take several minutes to complete.","operationId":"ApiManagementService_Restore","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Parameters supplied to the Restore API Management service from backup operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceBackupRestoreParameters"}}},"required":true},"responses":{"200":{"description":"Successfully restored the backup onto the API Management service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiManagementServiceResource"}}}},"202":{"description":"Accepted: Location header contains the URL where the status of the long running operation can be checked."}}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/skus":{"get":{"tags":["ApiManagementServiceSkus"],"summary":"Gets available SKUs for API Management service","description":"Gets all available SKU for a given API Management service","operationId":"ApiManagementServiceSkus_ListAvailableServiceSkus","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the resource group.","required":true,"schema":{"type":"string"}},{"name":"serviceName","in":"path","description":"The name of the API Management service.","required":true,"schema":{"maxLength":50,"minLength":1,"pattern":"^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$","type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success. The response describes the list of SKUs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceSkuResults"}}}}}}}},"components":{"schemas":{"AdditionalLocation":{"required":["location","sku"],"type":"object","properties":{"gatewayRegionalUrl":{"type":"string","description":"Gateway URL of the API Management service in the Region.","readOnly":true},"location":{"type":"string","description":"The location name of the additional region among Azure Data center regions."},"privateIPAddresses":{"type":"array","description":"Private Static Load Balanced IP addresses of the API Management service which is deployed in an Internal Virtual Network in a particular additional location. Available only for Basic, Standard and Premium SKU.","readOnly":true,"items":{"type":"string"}},"publicIPAddresses":{"type":"array","description":"Public Static Load Balanced IP addresses of the API Management service in the additional location. Available only for Basic, Standard and Premium SKU.","readOnly":true,"items":{"type":"string"}},"sku":{"$ref":"#/components/schemas/ApiManagementServiceSkuProperties"},"virtualNetworkConfiguration":{"$ref":"#/components/schemas/VirtualNetworkConfiguration"}},"description":"Description of an additional API Management resource location."},"ApiManagementServiceApplyNetworkConfigurationParameters":{"type":"object","properties":{"location":{"type":"string","description":"Location of the Api Management service to update for a multi-region service. For a service deployed in a single region, this parameter is not required."}},"description":"Parameter supplied to the Apply Network configuration operation."},"ApiManagementServiceBackupRestoreParameters":{"required":["accessKey","backupName","containerName","storageAccount"],"type":"object","properties":{"accessKey":{"type":"string","description":"Azure Cloud Storage account (used to place/retrieve the backup) access key."},"backupName":{"type":"string","description":"The name of the backup file to create."},"containerName":{"type":"string","description":"Azure Cloud Storage blob container name used to place/retrieve the backup."},"storageAccount":{"type":"string","description":"Azure Cloud Storage account (used to place/retrieve the backup) name."}},"description":"Parameters supplied to the Backup/Restore of an API Management service operation."},"ApiManagementServiceBaseProperties":{"type":"object","properties":{"additionalLocations":{"type":"array","description":"Additional datacenter locations of the API Management service.","items":{"$ref":"#/components/schemas/AdditionalLocation"}},"certificates":{"type":"array","description":"List of Certificates that need to be installed in the API Management service. Max supported certificates that can be installed is 10.","items":{"$ref":"#/components/schemas/CertificateConfiguration"}},"createdAtUtc":{"type":"string","description":"Creation UTC date of the API Management service.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.","format":"date-time","readOnly":true},"customProperties":{"type":"object","additionalProperties":{"type":"string"},"description":"Custom properties of the API Management service.</br>Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168` will disable the cipher TLS_RSA_WITH_3DES_EDE_CBC_SHA for all TLS(1.0, 1.1 and 1.2).</br>Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11` can be used to disable just TLS 1.1.</br>Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10` can be used to disable TLS 1.0 on an API Management service.</br>Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11` can be used to disable just TLS 1.1 for communications with backends.</br>Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10` can be used to disable TLS 1.0 for communications with backends.</br>Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2` can be used to enable HTTP2 protocol on an API Management service.</br>Not specifying any of these properties on PATCH operation will reset omitted properties' values to their defaults. For all the settings except Http2 the default value is `True` if the service was created on or before April 1st 2018 and `False` otherwise. Http2 setting's default value is `False`.</br></br>You can disable any of next ciphers by using settings `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.[cipher_name]`: TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA, TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA, TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA, TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA, TLS_RSA_WITH_AES_128_GCM_SHA256, TLS_RSA_WITH_AES_256_CBC_SHA256, TLS_RSA_WITH_AES_128_CBC_SHA256, TLS_RSA_WITH_AES_256_CBC_SHA, TLS_RSA_WITH_AES_128_CBC_SHA. For example, `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TLS_RSA_WITH_AES_128_CBC_SHA256`:`false`. The default value is `true` for them."},"enableClientCertificate":{"type":"boolean","description":"Property only meant to be used for Consumption SKU Service. This enforces a client certificate to be presented on each request to the gateway. This also enables the ability to authenticate the certificate in the policy on the gateway.","default":false},"gatewayRegionalUrl":{"type":"string","description":"Gateway URL of the API Management service in the Default Region.","readOnly":true},"gatewayUrl":{"type":"string","description":"Gateway URL of the API Management service.","readOnly":true},"hostnameConfigurations":{"type":"array","description":"Custom hostname configuration of the API Management service.","items":{"$ref":"#/components/schemas/HostnameConfiguration"}},"managementApiUrl":{"type":"string","description":"Management API endpoint URL of the API Management service.","readOnly":true},"notificationSenderEmail":{"maxLength":100,"type":"string","description":"Email address from which the notification will be sent."},"portalUrl":{"type":"string","description":"Publisher portal endpoint Url of the API Management service.","readOnly":true},"privateIPAddresses":{"type":"array","description":"Private Static Load Balanced IP addresses of the API Management service in Primary region which is deployed in an Internal Virtual Network. Available only for Basic, Standard and Premium SKU.","readOnly":true,"items":{"type":"string"}},"provisioningState":{"type":"string","description":"The current provisioning state of the API Management service which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.","readOnly":true},"publicIPAddresses":{"type":"array","description":"Public Static Load Balanced IP addresses of the API Management service in Primary region. Available only for Basic, Standard and Premium SKU.","readOnly":true,"items":{"type":"string"}},"scmUrl":{"type":"string","description":"SCM endpoint URL of the API Management service.","readOnly":true},"targetProvisioningState":{"type":"string","description":"The provisioning state of the API Management service, which is targeted by the long running operation started on the service.","readOnly":true},"virtualNetworkConfiguration":{"$ref":"#/components/schemas/VirtualNetworkConfiguration"},"virtualNetworkType":{"type":"string","description":"The type of VPN in which API Management service needs to be configured in. None (Default Value) means the API Management service is not part of any Virtual Network, External means the API Management deployment is set up inside a Virtual Network having an Internet Facing Endpoint, and Internal means that API Management deployment is setup inside a Virtual Network having an Intranet Facing Endpoint only.","default":"None","enum":["None","External","Internal"]}},"description":"Base Properties of an API Management service resource description."},"ApiManagementServiceCheckNameAvailabilityParameters":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name to check for availability."}},"description":"Parameters supplied to the CheckNameAvailability operation."},"ApiManagementServiceGetSsoTokenResult":{"type":"object","properties":{"redirectUri":{"type":"string","description":"Redirect URL to the Publisher Portal containing the SSO token."}},"description":"The response of the GetSsoToken operation."},"ApiManagementServiceIdentity":{"required":["type"],"type":"object","properties":{"principalId":{"type":"string","description":"The principal id of the identity.","format":"uuid","readOnly":true},"tenantId":{"type":"string","description":"The client tenant id of the identity.","format":"uuid","readOnly":true},"type":{"type":"string","description":"The identity type. Currently the only supported type is 'SystemAssigned'.","enum":["SystemAssigned"]}},"description":"Identity properties of the Api Management service resource."},"ApiManagementServiceListResult":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"Link to the next set of results. Not empty if Value contains incomplete list of API Management services."},"value":{"type":"array","description":"Result of the List API Management services operation.","items":{"$ref":"#/components/schemas/ApiManagementServiceResource"}}},"description":"The response of the List API Management services operation."},"ApiManagementServiceNameAvailabilityResult":{"type":"object","properties":{"message":{"type":"string","description":"If reason == invalid, provide the user with the reason why the given name is invalid, and provide the resource naming requirements so that the user can select a valid name. If reason == AlreadyExists, explain that <resourceName> is already in use, and direct them to select a different name.","readOnly":true},"nameAvailable":{"type":"boolean","description":"True if the name is available and can be used to create a new API Management service; otherwise false.","readOnly":true},"reason":{"type":"string","description":"Invalid indicates the name provided does not match the resource provider’s naming requirements (incorrect length, unsupported characters, etc.)  AlreadyExists indicates that the name is already in use and is therefore unavailable.","enum":["Valid","Invalid","AlreadyExists"]}},"description":"Response of the CheckNameAvailability operation."},"ApiManagementServiceProperties":{"properties":{"publisherEmail":{"maxLength":100,"type":"string","description":"Publisher email."},"publisherName":{"maxLength":100,"type":"string","description":"Publisher name."}},"description":"Properties of an API Management service resource description.","allOf":[{"$ref":"#/components/schemas/ApiManagementServiceBaseProperties"}]},"ApiManagementServiceResource":{"properties":{"etag":{"type":"string","description":"ETag of the resource.","readOnly":true},"identity":{"$ref":"#/components/schemas/ApiManagementServiceIdentity"},"location":{"type":"string","description":"Resource location."},"properties":{"$ref":"#/components/schemas/ApiManagementServiceProperties"},"sku":{"$ref":"#/components/schemas/ApiManagementServiceSkuProperties"}},"description":"A single API Management service resource in List or Get response.","allOf":[{"$ref":"#/components/schemas/ApimResource"}]},"ApiManagementServiceSkuProperties":{"required":["name"],"type":"object","properties":{"capacity":{"type":"integer","description":"Capacity of the SKU (number of deployed units of the SKU).","format":"int32"},"name":{"type":"string","description":"Name of the Sku.","enum":["Developer","Standard","Premium","Basic","Consumption"]}},"description":"API Management service resource SKU properties."},"ApiManagementServiceUpdateParameters":{"properties":{"etag":{"type":"string","description":"ETag of the resource.","readOnly":true},"identity":{"$ref":"#/components/schemas/ApiManagementServiceIdentity"},"properties":{"$ref":"#/components/schemas/ApiManagementServiceUpdateProperties"},"sku":{"$ref":"#/components/schemas/ApiManagementServiceSkuProperties"}},"description":"Parameter supplied to Update Api Management Service.","allOf":[{"$ref":"#/components/schemas/ApimResource"}]},"ApiManagementServiceUpdateProperties":{"properties":{"publisherEmail":{"maxLength":100,"type":"string","description":"Publisher email."},"publisherName":{"maxLength":100,"type":"string","description":"Publisher name."}},"description":"Properties of an API Management service resource description.","allOf":[{"$ref":"#/components/schemas/ApiManagementServiceBaseProperties"}]},"ApimResource":{"type":"object","properties":{"id":{"type":"string","description":"Resource ID.","readOnly":true},"name":{"type":"string","description":"Resource name.","readOnly":true},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Resource tags."},"type":{"type":"string","description":"Resource type for API Management resource is set to Microsoft.ApiManagement.","readOnly":true}},"description":"The Resource definition."},"CertificateConfiguration":{"required":["storeName"],"type":"object","properties":{"certificate":{"$ref":"#/components/schemas/CertificateInformation"},"certificatePassword":{"type":"string","description":"Certificate Password."},"encodedCertificate":{"type":"string","description":"Base64 Encoded certificate."},"storeName":{"type":"string","description":"The System.Security.Cryptography.x509certificates.StoreName certificate store location. Only Root and CertificateAuthority are valid locations.","enum":["CertificateAuthority","Root"]}},"description":"Certificate configuration which consist of non-trusted intermediates and root certificates."},"CertificateInformation":{"required":["expiry","subject","thumbprint"],"type":"object","properties":{"expiry":{"type":"string","description":"Expiration date of the certificate. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.","format":"date-time"},"subject":{"type":"string","description":"Subject of the certificate."},"thumbprint":{"type":"string","description":"Thumbprint of the certificate."}},"description":"SSL certificate information."},"HostnameConfiguration":{"required":["hostName","type"],"type":"object","properties":{"certificate":{"$ref":"#/components/schemas/CertificateInformation"},"certificatePassword":{"type":"string","description":"Certificate Password."},"defaultSslBinding":{"type":"boolean","description":"Specify true to setup the certificate associated with this Hostname as the Default SSL Certificate. If a client does not send the SNI header, then this will be the certificate that will be challenged. The property is useful if a service has multiple custom hostname enabled and it needs to decide on the default ssl certificate. The setting only applied to Proxy Hostname Type.","default":false},"encodedCertificate":{"type":"string","description":"Base64 Encoded certificate."},"hostName":{"type":"string","description":"Hostname to configure on the Api Management service."},"keyVaultId":{"type":"string","description":"Url to the KeyVault Secret containing the Ssl Certificate. If absolute Url containing version is provided, auto-update of ssl certificate will not work. This requires Api Management service to be configured with MSI. The secret should be of type *application/x-pkcs12*"},"negotiateClientCertificate":{"type":"boolean","description":"Specify true to always negotiate client certificate on the hostname. Default Value is false.","default":false},"type":{"type":"string","description":"Hostname type.","enum":["Proxy","Portal","Management","Scm","DeveloperPortal"]}},"description":"Custom hostname configuration."},"Operation":{"type":"object","properties":{"display":{"type":"object","properties":{"description":{"type":"string","description":"Friendly name of the operation"},"operation":{"type":"string","description":"Operation type: read, write, delete, listKeys/action, etc."},"provider":{"type":"string","description":"Friendly name of the resource provider"},"resource":{"type":"string","description":"Resource type on which the operation is performed."}},"description":"The object that describes the operation."},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}"},"origin":{"type":"string","description":"The operation origin."},"properties":{"type":"object","description":"The operation properties."}},"description":"REST API operation"},"OperationListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"URL to get the next set of operation list results if there are any."},"value":{"type":"array","description":"List of operations supported by the resource provider.","items":{"$ref":"#/components/schemas/Operation"}}},"description":"Result of the request to list REST API operations. It contains a list of operations and a URL nextLink to get the next set of results."},"ResourceSku":{"type":"object","properties":{"name":{"type":"string","description":"Name of the Sku.","enum":["Developer","Standard","Premium","Basic","Consumption"]}},"description":"Describes an available API Management SKU."},"ResourceSkuCapacity":{"type":"object","properties":{"default":{"type":"integer","description":"The default capacity.","format":"int32","readOnly":true},"maximum":{"type":"integer","description":"The maximum capacity that can be set.","format":"int32","readOnly":true},"minimum":{"type":"integer","description":"The minimum capacity.","format":"int32","readOnly":true},"scaleType":{"type":"string","description":"The scale type applicable to the sku.","readOnly":true,"enum":["automatic","manual","none"]}},"description":"Describes scaling information of a SKU."},"ResourceSkuResult":{"type":"object","properties":{"capacity":{"$ref":"#/components/schemas/ResourceSkuCapacity"},"resourceType":{"type":"string","description":"The type of resource the SKU applies to.","readOnly":true},"sku":{"$ref":"#/components/schemas/ResourceSku"}},"description":"Describes an available API Management service SKU."},"ResourceSkuResults":{"required":["value"],"type":"object","properties":{"nextLink":{"type":"string","description":"The uri to fetch the next page of API Management service Skus."},"value":{"type":"array","description":"The list of skus available for the service.","items":{"$ref":"#/components/schemas/ResourceSkuResult"}}},"description":"The API Management service SKUs operation response."},"VirtualNetworkConfiguration":{"type":"object","properties":{"subnetResourceId":{"pattern":"^/subscriptions/[^/]*/resourceGroups/[^/]*/providers/Microsoft.(ClassicNetwork|Network)/virtualNetworks/[^/]*/subnets/[^/]*$","type":"string","description":"The full resource ID of a subnet in a virtual network to deploy the API Management service in."},"subnetname":{"type":"string","description":"The name of the subnet.","readOnly":true},"vnetid":{"type":"string","description":"The virtual network ID. This is typically a GUID. Expect a null GUID by default.","readOnly":true}},"description":"Configuration of a virtual network to which API Management service is deployed."}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow."}}}}